SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 20/02/2014
-- Description:	Função para retornar o prazo máximo para cancelamento de uma NFe
-- =============================================
CREATE FUNCTION [dbo].[FN_BUSCA_PRAZO_CANC_NFE]
(
		@NOTA_FISCAL NUMERIC(18,0)
)
RETURNS BIT
AS
BEGIN
	
	DECLARE @SIGLA_UF VARCHAR(2)
	DECLARE @CD_EST_GEOGRAFICA NUMERIC(10,0)
	DECLARE @DT_PRAZO_CANC DATETIME
	DECLARE @DT_EMISSAO DATETIME

	DECLARE @RETORNO AS BIT
	
	-- BUSCA A ESTRUTURA GEOGRAFICA DO EMISSOR
	
	SELECT @CD_EST_GEOGRAFICA = PE.CD_EST_GEOGRAFICA,
		   @DT_EMISSAO = NF.DT_PROTOCOLO_NFE
	FROM TB_NOTA_FISCAL NF INNER JOIN TB_PESSOA_ENDERECO PE ON PE.CD_PESSOA = NF.CD_PESSOA_EMISSOR
	WHERE NF.CD_NOTA_FISCAL = @NOTA_FISCAL AND PE.ID_TIPO_ENDERECO = 3
	
	-- BUSCA A UF PARA VERIFICAR O PRAZO PARA CANCELAMENTO
	SELECT @SIGLA_UF = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(@CD_EST_GEOGRAFICA,2,NULL,NULL,NULL)
	
	
	-- PARA TODOS OS ESTADOS EXCETO MS O PRAZO PARA CANCELAMENTO ATUAL É DE 24 HRS APÓS A EMISSÃO
	-- PARA O MS O PRAZO É DE 2 HRS APÓS A EMISSÃO
	IF @SIGLA_UF = 'MS'
		BEGIN
			SELECT @DT_PRAZO_CANC = GETDATE() - 0.08333
		END
	
	IF NOT @SIGLA_UF = 'MS'
		BEGIN
			SELECT @DT_PRAZO_CANC = GETDATE() - 1
		END
	
	IF @DT_EMISSAO > @DT_PRAZO_CANC -- CASO ESTEJA NO PRAZO PARA CANCELAMENTO RETORNA 1 (TRUE)
		BEGIN
			SELECT @RETORNO = 1
		END
	IF @DT_EMISSAO <= @DT_PRAZO_CANC -- CASO ESTEJA FORA DO PRAZO PARA CANCELAMENTO RETORNA 0 (FALSE)
		BEGIN
			SELECT @RETORNO = 0
		END
		
	RETURN @RETORNO
END

GO
