SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_ROTA](@CD_ROTA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_ROTA) 
  FROM TB_ROTA
  WHERE CD_ROTA = @CD_ROTA

  RETURN @RESULTADO
END
GO
