SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_DESC_PLANO_CONTAS](@CD_PLANO_CONTAS NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_PLANO_CONTAS) 
  FROM TB_PLANO_CONTAS
  WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS

  RETURN @RESULTADO
END


GO
