SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_LUCRATIVIDADE_FAIXA_COD_PRODUTO](@CD_REGRA_COMERCIAL NUMERIC(18,0),
																 @NM_PEDIDO NUMERIC(18,0), 
																 @CD_PRODUTO_VENDA NUMERIC(18,0),
																 @V_TOTAL_PRODUTO NUMERIC(18,2),
																 @V_PONTOS_PRODUTO NUMERIC(18,4) )
RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO					NUMERIC(18,8) ,
		  @TIPO_PRODUTO					INT,
		  @V_PEDIDO						NUMERIC(18,4),
		  @ID_VALOR_BASE_LUCRATIVIDADE	INT,

		  @V_QTD_REGRA					INT,
		  @V_QTD_EXCECAO				INT,
		  @PC_BRINDE_EXCECAO			NUMERIC(18,8),
		  @PC_REGULAR_EXCECAO			NUMERIC(18,8),
		  @PC_APOIO_EXCECAO				NUMERIC(18,8)

	-- ******************************************************************************
	-- ALTERACAO POR DIEGO ZILIOTI EM 01/02/2020 - ADICIONADO PARÂMETRO DOS PONTOS DO PRODUTO
	-- A FAIXA DE LUCRATIVIDADE FUNCIONA POR PONTOS OU VALOR E ESTAVA VERIFICANDO AS INFORMAÇÕES SOMENTE COM BASE NO VALOR DO PRODUTO NA ENTRADA
	-- ******************************************************************************

	-- ******************************************************************************
	-- PRIMEIRO VERIFICA SE A LUCRATIVIDADE DA REGRA É POR PONTOS OU POR VALOR
	-- ******************************************************************************
	SELECT @ID_VALOR_BASE_LUCRATIVIDADE = ISNULL(ID_BASE_CALCULO_LUCRATIVIDADE,1)
	  FROM TB_REGRA_COMERCIAL WITH(NOLOCK)
	 WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL


	-- ******************************************************************************
	-- SEGUNDO COM BASE NO ITEM ANTERIOR VAMOS PEGAR A SOMATORIA DOS ITENS DO PEDIDO (VALOR OU PONTOS)
	-- ******************************************************************************
	IF @ID_VALOR_BASE_LUCRATIVIDADE = 2 -- POR PONTOS
		BEGIN
			 -- CONSULTA A PONTUACAO DO PEDIDO POR NUMERO DO PEDIDO
			SELECT @V_PEDIDO = ISNULL(SUM(VL_PONTOS),0) + @V_PONTOS_PRODUTO
			FROM TB_PEDIDO_ITEM	WITH(NOLOCK)
			WHERE NM_PEDIDO_ITEM_CONJUNTO = 0 and ID_PRODUTO_COBRADO = 1 and NM_PEDIDO = @NM_PEDIDO

		END
	ELSE
		BEGIN
			 -- CONSULTA O VALOR TOTAL DO PEDIDO POR NUMERO DO PEDIDO
			SELECT @V_PEDIDO = ISNULL(SUM(VL_PAGAR_TOTAL),0) + @V_TOTAL_PRODUTO
			FROM TB_PEDIDO_ITEM WITH(NOLOCK)
			WHERE NM_PEDIDO_ITEM_CONJUNTO = 0 and ID_PRODUTO_COBRADO = 1 and NM_PEDIDO = @NM_PEDIDO
		END

	--IF (@V_PEDIDO = convert(numeric(18,2),'0.00'))
	--	BEGIN
	--		SELECT @V_PEDIDO = @V_TOTAL_PRODUTO			
	--	END
	--ELSE
	--	BEGIN
	--		SELECT @V_PEDIDO += @V_TOTAL_PRODUTO
	--	END


	--FAZ A CONSULTA PARA DESCOBRIR O TIPO DO PRODUTO QUE VAMOS ADICIONAR O DESCONTO
	SELECT @TIPO_PRODUTO = ID_TIPO_PRODUTO
	FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA 


	-- *********************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 22/07/2019
	-- ADICIONADO CONCEITO DA LUCRATIVIDADE POR PRODUTO
	-- DEVEMOS VERIFICAR SE EXISTE ALGUMA EXCECAO CADASTRADA NA REGRA COMERCIAL
	-- *********************************************************************************


	-- VERIFICA SE POSSUI REGISTROS NA TABELA DE EXCECAO
	SELECT @V_QTD_EXCECAO = COUNT(*) 
	FROM 
	(SELECT A.PC_PRODUTO_REGULAR, A.PC_BRINDE, A.PC_MATERIAL_APOIO
	FROM TB_REGRA_COMERCIAL_FAIXA_COMISSAO_EXCECAO A WITH(NOLOCK)
	WHERE  A.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL 
	AND  @V_PEDIDO >= A.VL_FAIXA_INICIAL and @V_PEDIDO <= isnull(A.VL_FAIXA_FINAL,9999999)
	AND A.CD_TIPO_FAIXA_COMISSAO_EXCECAO = @CD_PRODUTO_VENDA
	AND A.ID_TIPO_FAIXA_COMISSAO_EXCECAO = 1
	
	UNION ALL
	
	SELECT A.PC_PRODUTO_REGULAR, A.PC_BRINDE, A.PC_MATERIAL_APOIO
	FROM TB_REGRA_COMERCIAL_FAIXA_COMISSAO_EXCECAO A WITH(NOLOCK)
	WHERE  A.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL 
		AND  @V_PEDIDO >= A.VL_FAIXA_INICIAL and @V_PEDIDO <= isnull(A.VL_FAIXA_FINAL,9999999)
		AND dbo.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(@CD_PRODUTO_VENDA, A.CD_TIPO_FAIXA_COMISSAO_EXCECAO) = 1
		AND A.ID_TIPO_FAIXA_COMISSAO_EXCECAO = 2) X


	IF @V_QTD_EXCECAO <> 0

		BEGIN

			SELECT	@PC_REGULAR_EXCECAO = MAX(X.PC_PRODUTO_REGULAR), 
					@PC_BRINDE_EXCECAO = MAX(X.PC_BRINDE), 
					@PC_APOIO_EXCECAO = MAX(X.PC_MATERIAL_APOIO)
			FROM 
			(SELECT A.PC_PRODUTO_REGULAR, A.PC_BRINDE, A.PC_MATERIAL_APOIO
			FROM TB_REGRA_COMERCIAL_FAIXA_COMISSAO_EXCECAO A WITH(NOLOCK)
			WHERE  A.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL 
			AND  @V_PEDIDO >= A.VL_FAIXA_INICIAL and @V_PEDIDO <= isnull(A.VL_FAIXA_FINAL,9999999)
			AND A.CD_TIPO_FAIXA_COMISSAO_EXCECAO = @CD_PRODUTO_VENDA
			AND A.ID_TIPO_FAIXA_COMISSAO_EXCECAO = 1
	
			UNION ALL
	
			SELECT A.PC_PRODUTO_REGULAR, A.PC_BRINDE, A.PC_MATERIAL_APOIO
			FROM TB_REGRA_COMERCIAL_FAIXA_COMISSAO_EXCECAO A WITH(NOLOCK)
			WHERE  A.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL 
				AND  @V_PEDIDO >= A.VL_FAIXA_INICIAL and @V_PEDIDO <= isnull(A.VL_FAIXA_FINAL,9999999)
				AND dbo.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(@CD_PRODUTO_VENDA, A.CD_TIPO_FAIXA_COMISSAO_EXCECAO) = 1
				AND A.ID_TIPO_FAIXA_COMISSAO_EXCECAO = 2) X
	

			IF (@TIPO_PRODUTO = 1)
				BEGIN			
					SELECT @RESULTADO = @PC_REGULAR_EXCECAO
				END

			IF (@TIPO_PRODUTO = 2)
				BEGIN	
					SELECT @RESULTADO = @PC_BRINDE_EXCECAO					
				END 	
	
			IF (@TIPO_PRODUTO = 3)
				BEGIN	
					SELECT @RESULTADO = @PC_APOIO_EXCECAO
				END 


		END

	ELSE
		-- ALTERADO POR ANDERSON - 22/07/2019
		-- O PROCESSO ABAIXO JA EXISTIA E NÃO FOI ALTERADO
		-- CASO NAO TENHA EXCECAO VAMOS MANTER O QUE JA FUNCIONAVA
		BEGIN

			-- *********************************************************
			-- VERIFICA SE EXISTE REGRA PADRÃO CADASTRADA
			-- *********************************************************
			SELECT @V_QTD_REGRA = COUNT(*)
			FROM TB_REGRA_COMERCIAL_FAIXA_COMISSAO WITH(NOLOCK)
			WHERE  CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL 
			and  @V_PEDIDO >= VL_FAIXA_INICIAL and @V_PEDIDO <= isnull(VL_FAIXA_FINAL,9999999)

			IF @V_QTD_REGRA = 0 
				BEGIN 
					SELECT @RESULTADO = 0
				END 
			ELSE
				BEGIN
					-- AGORA QUE TEMOS O VALOR DO PEDIDO, VAMOS VERIFICAR EM QUAL FAIXA DE LUCATRIVIDADE ESSE PEDIDO SE ENCAIXA
					-- E ASSIM PEGAR AS PORCENTAGENS DE DESCONTO DE CADA TIPO DE PRODUTO
					IF (@TIPO_PRODUTO = 1)
						BEGIN			
							SELECT @RESULTADO = PC_PRODUTO_REGULAR
							FROM TB_REGRA_COMERCIAL_FAIXA_COMISSAO WITH(NOLOCK)
							WHERE  CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL 
							and  @V_PEDIDO >= VL_FAIXA_INICIAL and @V_PEDIDO <= isnull(VL_FAIXA_FINAL,9999999)
						END

					IF (@TIPO_PRODUTO = 2)
						BEGIN	
							SELECT @RESULTADO = PC_BRINDE
							FROM TB_REGRA_COMERCIAL_FAIXA_COMISSAO WITH(NOLOCK)
							WHERE  CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL 
							and  @V_PEDIDO >= VL_FAIXA_INICIAL and @V_PEDIDO <= isnull(VL_FAIXA_FINAL,9999999)
						END 	
	
					IF (@TIPO_PRODUTO = 3)
						BEGIN	
							SELECT @RESULTADO = PC_MATERIAL_APOIO
							FROM TB_REGRA_COMERCIAL_FAIXA_COMISSAO WITH(NOLOCK)
							WHERE  CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL 
							and  @V_PEDIDO >= VL_FAIXA_INICIAL and @V_PEDIDO <= isnull(VL_FAIXA_FINAL,9999999)
						END 
				END 

		   

		END
	 
   RETURN @RESULTADO
END
GO
