SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- RETORNA CÓDIGO DA PESSOA RESPONSAVEL DA ESTRUTURA COMERCIAL POR CICLO
-- PARA PEGAR A PESSOA ATUAL BASTA COLOCAR NO CICLO = 0

CREATE FUNCTION [dbo].[FN_BUSCA_COD_RESPONSAVEL_EST_COMERCIAL] (@CD_EST_COMERCIAL NUMERIC(18,0), @NM_CICLO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE   @RESULTADO       NUMERIC(18,0),
	    @EXISTE_REGISTRO NUMERIC(18,0)

	IF @NM_CICLO = 0
		BEGIN

			SELECT TOP 1 @RESULTADO = ISNULL(CD_PESSOA_RESPONSAVEL,0)
			FROM TB_EST_COMERCIAL_HIERARQUIA WITH (NOLOCK)
			WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL 
			ORDER BY NM_CICLO_INICIO DESC

		END
	ELSE
		BEGIN
			SELECT TOP 1 @RESULTADO = ISNULL(CD_PESSOA_RESPONSAVEL,0)
			FROM TB_EST_COMERCIAL_HIERARQUIA  WITH (NOLOCK)
			WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL 
			AND NM_CICLO_INICIO <= @NM_CICLO
			ORDER BY NM_CICLO_INICIO DESC
		END
  SELECT @RESULTADO = CASE WHEN (@RESULTADO IS NULL) THEN 0 ELSE @RESULTADO END

    
	
  RETURN @RESULTADO
END




GO
