SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICADOS_EVINO] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @CD_PAPEL         NUMERIC(18,0), -- PAPEL CARREIRA
                         @ID_NIVEL         INT)           -- 0 REDE / 1 NIVEL 1 / 2 NIVEL 2 / 3 NIVEL 3

--  CALCULA : 
--  TOTAL DE QUALIFICADOS (REDE / NIVEL 1 / NIVEL 2 / NIVEL 3)

RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	NUMERIC(18,2)

  SELECT @RESULTADO = 0

  -- BUSCA O TOTAL DE QUALIFICADOS COMO AGENTE OU SUPERIOR
  SELECT @RESULTADO =  isnull(COUNT(A.CD_PESSOA),0)
  FROM TB_PESSOA_RESUMO A,
      (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
       FROM TB_WRK_MN_TOPOLOGIA B1
       WHERE B1.CD_PESSOA               = @CD_PESSOA
       AND   B1.CD_FUNCAO               = @CD_FUNCAO
       AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
       AND   B1.NM_CICLO                = @NM_CICLO
       AND   B1.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
       AND (   (@ID_NIVEL = 1 AND B1.NM_NIVEL  = 1)  -- NIVEL 1
            OR (@ID_NIVEL = 2 AND B1.NM_NIVEL  = 2)  -- NIVEL 2
            OR (@ID_NIVEL = 3 AND B1.NM_NIVEL  = 3)  -- NIVEL 3 
            OR (@ID_NIVEL = 0 AND B1.NM_NIVEL >= 1)  -- REDE
           ) ) C   
  WHERE A.CD_PESSOA              = C.PESSOA
  AND   A.CD_FUNCAO              = @CD_FUNCAO
  AND   A.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
  AND   A.CD_PAPEL_CARREIRA     >= @CD_PAPEL   -- MAIOR OU IGUAL AO PAPEL 
  AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4)   -- NAO CONSIDERA CADASTRO E DESATIVADA
 
  RETURN @RESULTADO
END




GO
