SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FN_MN_CALCULA_TRINCAS_WINEHOUSE] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0))
--  CALCULA : 
--  FECHOU UMA TRINCA

-- SEQUENCIA :
-- DESCRITA NA SEQUENCIA

RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	          NUMERIC(18,2)
  DECLARE @INDICADOR_PESSOAL_1001 NUMERIC(18,2)
  DECLARE @TOTAL_ATIVOS_DIRETOS   NUMERIC(18,0)
  DECLARE @INDICADOR_PESSOAL_1007 NUMERIC(18,2)


  SELECT @RESULTADO = 0
  -- BUSCA OS PONTOS DA PESSOA
  SELECT @INDICADOR_PESSOAL_1001 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
  FROM TB_PESSOA_INDICADOR
  WHERE CD_PESSOA          = @CD_PESSOA
  AND CD_FUNCAO            = @CD_FUNCAO
  AND CD_INDICADOR_PESSOAL = 1001
  AND NM_CICLO             = @NM_CICLO
  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

  IF (@INDICADOR_PESSOAL_1001 > 0)
  BEGIN
    -- BUSCA O TOTAL DE ATIVOS DIRETOS       
    SELECT @TOTAL_ATIVOS_DIRETOS = COUNT(DISTINCT A.CD_PESSOA)
    FROM TB_PESSOA_INDICADOR A,
        (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
         FROM TB_WRK_MN_TOPOLOGIA B1
         WHERE B1.CD_PESSOA               = @CD_PESSOA
         AND   B1.CD_FUNCAO               = @CD_FUNCAO
         AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
         AND   B1.NM_CICLO                = @NM_CICLO
         AND   B1.ID_TIPO_REDE_MN         = 1   -- REDE UNILEVEL
         AND   B1.NM_NIVEL                = 1) C  -- 1o NIVEL
    WHERE A.CD_PESSOA                = C.PESSOA
    AND   A.CD_FUNCAO                = @CD_FUNCAO
--    AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
    AND   A.NM_CICLO       = @NM_CICLO
    AND   A.CD_INDICADOR_PESSOAL     = 1001
    AND   A.VL_INDICADOR_PESSOAL     > 0

    IF (@TOTAL_ATIVOS_DIRETOS >= 2)
    BEGIN
      -- VERIFICA SE JÁ NÃO FECHOU A TRINTA EM CICLOS ANTERIORES
      SELECT @INDICADOR_PESSOAL_1007 = COUNT(*)
      FROM TB_PESSOA_INDICADOR A
      WHERE A.CD_PESSOA                = @CD_PESSOA
      AND   A.CD_FUNCAO                = @CD_FUNCAO
--    AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
      AND   A.NM_CICLO                 < @NM_CICLO
      AND   A.CD_INDICADOR_PESSOAL     = 1007
      AND   A.VL_INDICADOR_PESSOAL     > 0
  
      IF (@INDICADOR_PESSOAL_1007 = 0)
      BEGIN
        SELECT @RESULTADO = 1
      END
    END
    

  END 


  RETURN @RESULTADO
END





GO
