SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[FN_BASE_CALCULO_ICMS_ST](@PORCENTAGEM_REDUCAO_BC_ICMS_ST AS NUMERIC(18,2), @VALOR_TOTAL_PRODUTO NUMERIC(18,2),@PORCENTAGEM_MVA NUMERIC(18,2))
RETURNS NUMERIC(18,2)
AS

BEGIN
	DECLARE @RESULTADO NUMERIC(18,2)

		BEGIN
		IF @PORCENTAGEM_REDUCAO_BC_ICMS_ST > 0
		BEGIN
			SELECT @RESULTADO = ((@VALOR_TOTAL_PRODUTO * (1+(@PORCENTAGEM_MVA/100))) - (((@VALOR_TOTAL_PRODUTO * (1+(@PORCENTAGEM_MVA/100)))/100)*@PORCENTAGEM_REDUCAO_BC_ICMS_ST))
		END
		ELSE
		BEGIN
			SELECT @RESULTADO = @VALOR_TOTAL_PRODUTO * (1+(@PORCENTAGEM_MVA/100))
		END
		END
	RETURN @RESULTADO
END 


GO
