SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LojaVirtualRetornaTextoLucratividadeCarrinho]
(
	@p_percLucratividade		numeric(18,2),
	@p_codigoPessoa				numeric(18,0),
	@p_codigoFuncao				numeric(18,0)
) 

RETURNS VARCHAR(1000)
-- FUNÇÃO RETORNA A MENSAGEM A SER NO CARRINHO COM O % DE LUCRATIVIDADE APLICADO NO PEDIDO

AS
	BEGIN
		DECLARE @dc_MensagemRetorno				VARCHAR(1000),
				@v_codigoCliente				int,
				@v_codigoPapelPessoa	numeric(18,0),
				@v_descPapelPessoa		varchar(500)
		
		SELECT @dc_MensagemRetorno = ''

		-- PERCENTUAL
		SELECT @v_codigoCliente = ISNULL(SUM(VL_PARAMETRO),0)
		FROM TB_VALOR_PARAMETRO with(nolock)
		WHERE CD_GRUPO_PARAMETRO = 6
		AND CD_PARAMETRO = 1

		-- ********* A SÓS ******** PAPEL DESEMPENHO
		IF @v_codigoCliente = 25
			BEGIN
				
				-- PRIMEIRO BUSCAMOS O CÓDIGO DO PAPEL ATUAL DA PESSOA
				SELECT @v_codigoPapelPessoa = CD_PAPEL_DESEMPENHO
				  FROM TB_PESSOA_RESUMO with(nolock)
				 WHERE CD_PESSOA = @p_codigoPessoa
				   AND CD_FUNCAO = @p_codigoFuncao

				-- AGORA A DESCRIÇÃO DO PAPEL
				SELECT @v_descPapelPessoa = DC_PAPEL_DESEMPENHO
				  FROM TB_PAPEL_DESEMPENHO with(nolock)
				 WHERE CD_PAPEL_DESEMPENHO = @v_codigoPapelPessoa
				   AND CD_FUNCAO = @p_codigoFuncao

				-- VAMOS MONTAR A MENSAGEM CUSTOMIZADA DA A SÓS

				SELECT @dc_MensagemRetorno = 'Seu reconhecimento é <b>' + @v_descPapelPessoa + '!</b> Você tem <b>' + REPLACE(CONVERT(varchar,@p_percLucratividade),'.',',') + '% </b>'
				SELECT @dc_MensagemRetorno += 'de desconto neste pedido! Confira seu desconto total na tela de pagamento!'

			END

		-- ********* AKMOS ************* PAPEL CARREIRA
		IF @v_codigoCliente = 41
			BEGIN
				
				-- PRIMEIRO BUSCAMOS O CÓDIGO DO PAPEL ATUAL DA PESSOA
				SELECT @v_codigoPapelPessoa = CD_PAPEL_CARREIRA
				  FROM TB_PESSOA_RESUMO with(nolock)
				 WHERE CD_PESSOA = @p_codigoPessoa
				   AND CD_FUNCAO = @p_codigoFuncao

				-- AGORA A DESCRIÇÃO DO PAPEL
				SELECT @v_descPapelPessoa = DC_PAPEL_CARREIRA
				  FROM TB_PAPEL_CARREIRA with(nolock)
				 WHERE CD_PAPEL_CARREIRA = @v_codigoPapelPessoa
				   AND CD_FUNCAO = @p_codigoFuncao

				-- VAMOS MONTAR A MENSAGEM CUSTOMIZADA DA A SÓS

				SELECT @dc_MensagemRetorno = 'Seu Status é <b>' + @v_descPapelPessoa + '!</b> Você tem <b>' + REPLACE(CONVERT(varchar,@p_percLucratividade),'.',',') + '% </b>'
				SELECT @dc_MensagemRetorno += 'de desconto neste pedido! Confira seu desconto total na finalização do seu pedido!'

			END		

		-- ********* MAKIÊ ************* PAPEL CARREIRA
		IF @v_codigoCliente = 43
			BEGIN
				
				-- PRIMEIRO BUSCAMOS O CÓDIGO DO PAPEL ATUAL DA PESSOA
				SELECT @v_codigoPapelPessoa = CD_PAPEL_CARREIRA
				  FROM TB_PESSOA_RESUMO with(nolock)
				 WHERE CD_PESSOA = @p_codigoPessoa
				   AND CD_FUNCAO = @p_codigoFuncao

				-- AGORA A DESCRIÇÃO DO PAPEL
				SELECT @v_descPapelPessoa = DC_PAPEL_CARREIRA
				  FROM TB_PAPEL_CARREIRA with(nolock)
				 WHERE CD_PAPEL_CARREIRA = @v_codigoPapelPessoa
				   AND CD_FUNCAO = @p_codigoFuncao

				-- VAMOS MONTAR A MENSAGEM CUSTOMIZADA DA A SÓS

				SELECT @dc_MensagemRetorno = 'Sua qualificação é <b>' + @v_descPapelPessoa + '!</b> Você tem <b>' + REPLACE(CONVERT(varchar,@p_percLucratividade),'.',',') + '% </b>'
				SELECT @dc_MensagemRetorno += 'de desconto neste pedido! Confira seu desconto total na finalização do seu pedido!'

			END

		-- DEMAIS CLIENTES
		IF @v_codigoCliente NOT IN (25,41,43)
			BEGIN
				-- PRIMEIRO BUSCAMOS O CÓDIGO DO PAPEL ATUAL DA PESSOA
				SELECT @v_codigoPapelPessoa = CD_PAPEL_CARREIRA
				  FROM TB_PESSOA_RESUMO with(nolock)
				 WHERE CD_PESSOA = @p_codigoPessoa
				   AND CD_FUNCAO = @p_codigoFuncao

				-- AGORA A DESCRIÇÃO DO PAPEL
				SELECT @v_descPapelPessoa = DC_PAPEL_CARREIRA
				  FROM TB_PAPEL_CARREIRA with(nolock)
				 WHERE CD_PAPEL_CARREIRA = @v_codigoPapelPessoa
				   AND CD_FUNCAO = @p_codigoFuncao

				-- VAMOS MONTAR A MENSAGEM CUSTOMIZADA DA A SÓS

				SELECT @dc_MensagemRetorno = 'Sua qualificação é <b>' + @v_descPapelPessoa + '!</b> Você tem <b>' + REPLACE(CONVERT(varchar,@p_percLucratividade),'.',',') + '% </b>'
				SELECT @dc_MensagemRetorno += 'de desconto neste pedido! Confira seu desconto total na finalização do seu pedido!'
			END

		RETURN @dc_MensagemRetorno
	END
GO
