SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_INDICADOR_PESSOAL](@CD_INDICADOR_PESSOAL NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DC_INDICADOR_PESSOAL 
  FROM TB_INDICADOR_PESSOAL
  WHERE CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL

  RETURN @RESULTADO
END
GO
