SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Diego Zilioti
-- Create date: 02/03/2017
-- Description:	Função para buscar o valor de desconto adicional dos passaportes SPATZ, exclusiva para uso da SPATZ.
-- =============================================
CREATE FUNCTION [dbo].[fn_SpatzPedidoBuscaValorDescontoAdicional]
(
	@p_numeroPedido		numeric(18,0),
	@p_codigoPessoa		numeric(18,0)
)
RETURNS numeric(18,2)
AS
BEGIN
	DECLARE @v_cursorPedidosPassaporte		cursor,
			@v_numeroPedidoPassaporte		numeric(18,0),
			@v_valorPagarPassaporte			numeric(18,2),
			@v_codigoProdutoPassaporte		numeric(18,0),
			@v_qtdeSolicitada				int,
			@v_valorTabelaPassaporte		numeric(18,2),
			@v_valorDescontoJaAplicado		numeric(18,2),
			@v_valorSaldoFavorUtilizado		numeric(18,2)
			
	--Retorno
	DECLARE @v_valorDescontoAdicional numeric(18,2)
	--INICIA COM VALOR 0
	SELECT @v_valorDescontoAdicional = 0 
	
	SET @v_cursorPedidosPassaporte = CURSOR FAST_FORWARD
	FOR
		--Seta o cursor para buscar os passaportes aprovados, se supõe neste caso que o passaporte foi pago.
		select pd.NM_PEDIDO, pd.VL_PAGAR_TOTAL, pdi.CD_PRODUTO_VENDA, pdi.QT_RESERVADA, pdi.VL_TABELA_TOTAL, pdi.VL_PAGAR_TOTAL
		  from TB_PEDIDO pd, TB_PEDIDO_ITEM pdi
		 where pd.CD_REGRA_COMERCIAL in (8,9)
		   and pd.CD_PESSOA = @p_codigoPessoa
		   and pd.CD_EST_SITUACAO in (2,5,6,7,8,9,10)
		   and pdi.NM_PEDIDO = pd.NM_PEDIDO
		   and pd.NM_PEDIDO < @p_numeroPedido
		   
		open @v_cursorPedidosPassaporte
		FETCH NEXT FROM @v_cursorPedidosPassaporte
		INTO @v_numeroPedidoPassaporte, @v_valorPagarPassaporte, @v_codigoProdutoPassaporte, @v_qtdeSolicitada, @v_valorTabelaPassaporte, @v_valorPagarPassaporte
		
		WHILE @@FETCH_STATUS = 0
			BEGIN
				
				SELECT @v_valorDescontoAdicional = @v_valorDescontoAdicional + ( CASE @v_valorTabelaPassaporte
				  WHEN 150 THEN 19.5
				  WHEN 300 THEN 45
				  WHEN 600 THEN 126
				  WHEN 1000 THEN 250
				  END)
						
				FETCH NEXT FROM @v_cursorPedidosPassaporte
				INTO @v_numeroPedidoPassaporte, @v_valorPagarPassaporte, @v_codigoProdutoPassaporte, @v_qtdeSolicitada, @v_valorTabelaPassaporte, @v_valorPagarPassaporte
			END

	-- AGORA VAMOS BUSCAR OS VALORES DE DESCONTO JÁ CONCEDIDOS NAS NFS JÁ EMITIDAS
	SELECT @v_valorDescontoJaAplicado = ISNULL(SUM(NF.VL_TOTAL_DESCONTO_ADICIONAL),0)
	  FROM TB_NOTA_FISCAL NF, TB_PEDIDO PD
	 WHERE NF.ID_SITUACAO_NOTA_FISCAL = 2 --EMITIDA
	   AND NF.ID_TIPO_NOTA_FISCAL = 2 -- SAÍDA
	   AND NF.NM_PEDIDO = PD.NM_PEDIDO
	   AND PD.CD_REGRA_COMERCIAL IN (2,4,11)
	   AND PD.CD_EST_SITUACAO <> 3
	   AND PD.CD_PESSOA = @p_codigoPessoa
	   AND PD.NM_PEDIDO < @p_numeroPedido
	   
	-- aplica o valor no desconto dos passaportes pagos para chegar no saldo de desconto remanescente
	select @v_valorDescontoAdicional = @v_valorDescontoAdicional - @v_valorDescontoJaAplicado
	
	-- agora para finalizar precisamos verificar se o valor de desconto adicional supera o valor total do pedido considerando também a quantidade de itens do pedido
	if @v_valorDescontoAdicional > 0
		begin
			
			--vamos buscar o valor consumido do saldo a favor no pedido
			select @v_valorSaldoFavorUtilizado = isnull(VL_SALDO_FAVOR_UTILIZADO,0)
			  from tb_pedido where nm_pedido = @p_numeroPedido
			
			--se o saldo a favor utilizado no pedido for menor que o desconto ele irá abater o valor total do pedido
			if @v_valorSaldoFavorUtilizado <= @v_valorDescontoAdicional
				begin
					-- neste caso o valor do desconto será o valor do saldo utilizado
					select @v_valorDescontoAdicional = @v_valorSaldoFavorUtilizado 
				end
		end
	if @v_valorDescontoAdicional < 0
	 BEGIN
		select @v_valorDescontoAdicional = 0
	 END
	-- Return the result of the function
	RETURN @v_valorDescontoAdicional

END



GO
