SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 05/08/2015
-- Description:	Função para indicar se um determinado CEP pertence a uma determinada estrutura geográfica
-- =============================================
CREATE FUNCTION [dbo].[fn_logisticaVerificaCepPertencePoliticaEntrega]
(
	@p_nmCEP					VARCHAR(30),
	@p_codigoPoliticaEntrega	numeric(18,0)
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_pertencePoliticaEntrega			int,
			@v_codigoEstGeografica				numeric(18,0),
			@v_codigoNivelEstGeo				int,
			@v_codigoEstGeoCep					numeric(18,0),
			@v_codigoEstGeoCepNivel1			numeric(18,0),
			@v_codigoEstGeoCepNivel2			numeric(18,0),
			@v_codigoEstGeoCepNivel3			numeric(18,0),
			@v_codigoEstGeoCepNivel4			numeric(18,0),
			@v_codigoEstGeoCepNivel5			numeric(18,0),
			@v_codigoEstGeoCepNivel6			numeric(18,0),
			@Cursor_PE							CURSOR,
			@v_idTipoCoberturaPoliticaEntrega	int,
			@v_qtdeCEPFaixa						int

	--Primeiro vamos verificar qual é o tipo de cobertura da politica de entrega
	-- 1 - Est geográfica
	-- 2 - Faixa CEP
	
	select @v_idTipoCoberturaPoliticaEntrega = isnull(ID_TIPO_COBERTURA_ENTREGA_POLITICA_ENTREGA,1)
	  from tb_politica_entrega with(nolock)
	 where cd_politica_entrega = @p_codigoPoliticaEntrega


	if @v_idTipoCoberturaPoliticaEntrega = 1
		begin

			-- Busca a estrutura geo e os níveis relacionados ao CEP informado
			select @v_codigoEstGeoCep = isnull(CD_EST_GEOGRAFICA,0),
				@v_codigoEstGeoCepNivel1 = ISNULL(CD_NIVEL_GEO1,0),
				@v_codigoEstGeoCepNivel2 = ISNULL(CD_NIVEL_GEO2,0),
				@v_codigoEstGeoCepNivel3 = ISNULL(CD_NIVEL_GEO3,0),
				@v_codigoEstGeoCepNivel4 = ISNULL(CD_NIVEL_GEO4,0),
				@v_codigoEstGeoCepNivel5 = ISNULL(CD_NIVEL_GEO5,0),
				@v_codigoEstGeoCepNivel6 = ISNULL(CD_NIVEL_GEO6,0)
			from TB_EST_GEOGRAFICA with(nolock)
			where CD_CODIGO_POSTAL = REPLACE(@p_nmCEP,'-','')



			SET @Cursor_PE = CURSOR FAST_FORWARD
			FOR
				SELECT CD_EST_GEOGRAFICA
				FROM TB_POLITICA_ENTREGA_ITEM with(nolock)
				WHERE CD_POLITICA_ENTREGA = @p_codigoPoliticaEntrega
	
			OPEN @Cursor_PE
				FETCH NEXT FROM @Cursor_PE
				INTO @v_codigoEstGeografica

			WHILE @@FETCH_STATUS = 0
				BEGIN
					-- Busca o nível da estrutura geográfica informada
					select @v_codigoNivelEstGeo = isnull(CD_NIVEL_EST_GEOGRAFICA,0)
					  from TB_EST_GEOGRAFICA with(nolock)
					 WHERE CD_EST_GEOGRAFICA = @v_codigoEstGeografica
 
					-- Verifica se o nível da estrutura informada é igual ou menor que a estrutura do CEP, neste caso deve ser feita uma comparação direta
					IF @v_codigoNivelEstGeo = 1
						BEGIN
							IF @v_codigoEstGeografica = @v_codigoEstGeoCepNivel1
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 1
									return @v_pertencePoliticaEntrega
								END
							ELSE
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 2
								END
						END
					
					IF @v_codigoNivelEstGeo = 2
						BEGIN
							IF @v_codigoEstGeografica = @v_codigoEstGeoCepNivel2
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 1
									return @v_pertencePoliticaEntrega
								END
							ELSE
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 2
								END
						END

					IF @v_codigoNivelEstGeo = 3
						BEGIN
							IF @v_codigoEstGeografica = @v_codigoEstGeoCepNivel3
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 1
									return @v_pertencePoliticaEntrega
								END
							ELSE
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 2
								END
						END
				
					IF @v_codigoNivelEstGeo = 4
						BEGIN
							IF @v_codigoEstGeografica = @v_codigoEstGeoCepNivel4
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 1
									return @v_pertencePoliticaEntrega
								END
							ELSE
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 2
								END
						END
				
					IF @v_codigoNivelEstGeo = 5
						BEGIN
							IF @v_codigoEstGeografica = @v_codigoEstGeoCepNivel5
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 1
									return @v_pertencePoliticaEntrega
								END
							ELSE
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 2
								END
						END
				
					IF @v_codigoNivelEstGeo = 6
						BEGIN
							IF @v_codigoEstGeografica = @v_codigoEstGeoCepNivel6
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 1
									return @v_pertencePoliticaEntrega
								END
							ELSE
								BEGIN
									SELECT @v_pertencePoliticaEntrega = 2
								END
						END
					
					FETCH NEXT FROM @Cursor_PE
					INTO @v_codigoEstGeografica
			
				END
		END

	

	if @v_idTipoCoberturaPoliticaEntrega = 2 --faixa de cep
		begin
			select @v_qtdeCEPFaixa = COUNT(*) 
			  from TB_POLITICA_ENTREGA_FAIXA_CEP with(nolock)
			 where convert(numeric(18,0),@p_nmCEP) between V_INICIAL_FAIXA_CEP AND V_FINAL_FAIXA_CEP
			   and CD_POLITICA_ENTREGA = @p_codigoPoliticaEntrega
			
			if @v_qtdeCEPFaixa > 0
				begin
					SELECT @v_pertencePoliticaEntrega = 1
					return @v_pertencePoliticaEntrega
				end
			else
				begin
					SELECT @v_pertencePoliticaEntrega = 2
				end
		end



	-- Return the result of the function
	RETURN @v_pertencePoliticaEntrega
END
GO
