SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [dbo].[FN_MN_CALCULA_BONUS_IMPULSO_CRESER] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0))
--  CALCULA : 
--  VALOR IMPULSO DOS 3

-- SEQUENCIA :
-- DESCRITA NA SEQUENCIA

RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	          NUMERIC(18,2)
  DECLARE @INDICADOR_PESSOAL_1001 NUMERIC(18,2)
  DECLARE @TOTAL_ATIVOS_DIRETOS   NUMERIC(18,0)
  DECLARE @INDICADOR_DIRETOS_1001 NUMERIC(18,2)

  DECLARE @CURSOR_FILHO           CURSOR,
          @PESSOA_FILHO           NUMERIC(18,0),
          @INDICADOR_FILHO_1001   NUMERIC(18,0)
      
  DECLARE @CURSOR_NETO            CURSOR,
          @PESSOA_NETO            NUMERIC(18,0),
          @INDICADOR_NETO_1001    NUMERIC(18,0)


  DECLARE @REDE_PESSOA_CUMPRE_META  NUMERIC(18,0)
  DECLARE @REDE_FILHO_CUMPRE_META   NUMERIC(18,0)
  DECLARE @REDE_NETO_CUMPRE_META    NUMERIC(18,0)
  DECLARE @REDE_BISNETO_CUMPRE_META NUMERIC(18,0)


  SELECT @REDE_PESSOA_CUMPRE_META  = 0
  SELECT @REDE_FILHO_CUMPRE_META   = 0
  SELECT @REDE_NETO_CUMPRE_META    = 0
  SELECT @REDE_BISNETO_CUMPRE_META = 0


  -- BUSCA OS PONTOS DA PESSOA
  SELECT @INDICADOR_PESSOAL_1001 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
  FROM TB_PESSOA_INDICADOR
  WHERE CD_PESSOA          = @CD_PESSOA
  AND CD_FUNCAO            = @CD_FUNCAO
  AND CD_INDICADOR_PESSOAL = 1001
  AND NM_CICLO             = @NM_CICLO
  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

  IF (@INDICADOR_PESSOAL_1001 > 0)
  BEGIN

    -- BUSCA O TOTAL DE ATIVOS DIRETOS       
    SELECT @TOTAL_ATIVOS_DIRETOS = COUNT(DISTINCT A.CD_PESSOA)
    FROM TB_PESSOA_INDICADOR A,
        (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
         FROM TB_WRK_MN_TOPOLOGIA B1
         WHERE B1.CD_PESSOA               = @CD_PESSOA
         AND   B1.CD_FUNCAO               = @CD_FUNCAO
         AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
         AND   B1.NM_CICLO                = @NM_CICLO
         AND   B1.ID_TIPO_REDE_MN         = 1   -- REDE UNILEVEL
         AND   B1.NM_NIVEL                = 1) C  -- 1o NIVEL
    WHERE A.CD_PESSOA                = C.PESSOA
    AND   A.CD_FUNCAO                = @CD_FUNCAO
    AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
    AND   A.NM_CICLO       = @NM_CICLO
    AND   A.CD_INDICADOR_PESSOAL     = 1001
    AND   A.VL_INDICADOR_PESSOAL     > 0

    -- VERIFICA SE TEM MAIS DE 3 ATIVOS DIRETOS
    IF (@TOTAL_ATIVOS_DIRETOS >= 3)
    BEGIN

      -- BUSCA O TOTAL DE PONTOS DOS ATIVOS DIRETOS
      SELECT @INDICADOR_DIRETOS_1001 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR A,
          (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
           FROM TB_WRK_MN_TOPOLOGIA B1
           WHERE B1.CD_PESSOA               = @CD_PESSOA
           AND   B1.CD_FUNCAO               = @CD_FUNCAO
           AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
           AND   B1.NM_CICLO                = @NM_CICLO
           AND   B1.ID_TIPO_REDE_MN         = 1
           AND   B1.NM_NIVEL                = 1) C -- REDE UNILEVEL
      WHERE A.CD_PESSOA                = C.PESSOA
      AND   A.CD_FUNCAO                = @CD_FUNCAO
      AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
      AND   A.NM_CICLO       = @NM_CICLO
      AND   A.CD_INDICADOR_PESSOAL     = 1001
      AND   A.VL_INDICADOR_PESSOAL     > 0      

      -- SE A SOMA DOS PONTOS DA PESSOA E DIRETOS É MAIR QUE O MINIMO 
      IF ((@INDICADOR_PESSOAL_1001+@INDICADOR_DIRETOS_1001) >= 996)
      BEGIN

        -- RECEBE O BÔNUS DE 1o NIVEL
        SELECT @REDE_PESSOA_CUMPRE_META = 1


        -- **** INICIO DA REGRA DA REDE DO FILHO ****
        SELECT @REDE_FILHO_CUMPRE_META   = 0
        -- CURSOR PARA BUSCAR OS FILHOS
        SET @CURSOR_FILHO = CURSOR FAST_FORWARD
        FOR
          SELECT A.CD_PESSOA, A.VL_INDICADOR_PESSOAL
          FROM TB_PESSOA_INDICADOR A,
               (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
                FROM TB_WRK_MN_TOPOLOGIA B1
                WHERE B1.CD_PESSOA               = @CD_PESSOA
                AND   B1.CD_FUNCAO               = @CD_FUNCAO
                AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
                AND   B1.NM_CICLO                = @NM_CICLO
                AND   B1.ID_TIPO_REDE_MN         = 1
                AND   B1.NM_NIVEL                = 1) C -- REDE UNILEVEL
          WHERE A.CD_PESSOA                = C.PESSOA
          AND   A.CD_FUNCAO                = @CD_FUNCAO
          AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
          AND   A.NM_CICLO       = @NM_CICLO
          AND   A.CD_INDICADOR_PESSOAL     = 1001
          AND   A.VL_INDICADOR_PESSOAL     > 0
          ORDER BY 1      
        OPEN @CURSOR_FILHO
        FETCH NEXT FROM @CURSOR_FILHO
        INTO @PESSOA_FILHO, @INDICADOR_FILHO_1001
        WHILE @@FETCH_STATUS = 0
        BEGIN                                       

          -- BUSCA O TOTAL DE ATIVOS DIRETOS DO FILHO
          SELECT @TOTAL_ATIVOS_DIRETOS = COUNT(DISTINCT A.CD_PESSOA)
          FROM TB_PESSOA_INDICADOR A,
               (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
                FROM TB_WRK_MN_TOPOLOGIA B1
                WHERE B1.CD_PESSOA               = @PESSOA_FILHO
                AND   B1.CD_FUNCAO               = @CD_FUNCAO
                AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
                AND   B1.NM_CICLO                = @NM_CICLO
                AND   B1.ID_TIPO_REDE_MN         = 1   -- REDE UNILEVEL
                AND   B1.NM_NIVEL                = 1) C  -- 1o NIVEL
          WHERE A.CD_PESSOA                = C.PESSOA
          AND   A.CD_FUNCAO                = @CD_FUNCAO
          AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
          AND   A.NM_CICLO       = @NM_CICLO
          AND   A.CD_INDICADOR_PESSOAL     = 1001
          AND   A.VL_INDICADOR_PESSOAL     > 0          

          -- VERIFICA SE TEM MAIS DE 3 ATIVOS DIRETOS DO FILHO
          IF (@TOTAL_ATIVOS_DIRETOS >= 3)
          BEGIN

            -- BUSCA O TOTAL DE PONTOS DOS ATIVOS DIRETOS
            SELECT @INDICADOR_DIRETOS_1001 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
            FROM TB_PESSOA_INDICADOR A,
                (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
                 FROM TB_WRK_MN_TOPOLOGIA B1
                 WHERE B1.CD_PESSOA               = @PESSOA_FILHO
                 AND   B1.CD_FUNCAO               = @CD_FUNCAO
                 AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
                 AND   B1.NM_CICLO                = @NM_CICLO
                 AND   B1.ID_TIPO_REDE_MN         = 1
                 AND   B1.NM_NIVEL                = 1) C -- REDE UNILEVEL
            WHERE A.CD_PESSOA                = C.PESSOA
            AND   A.CD_FUNCAO                = @CD_FUNCAO
            AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
            AND   A.NM_CICLO       = @NM_CICLO
            AND   A.CD_INDICADOR_PESSOAL     = 1001
            AND   A.VL_INDICADOR_PESSOAL     > 0      

            -- SE A SOMA DOS PONTOS DA PESSOA E DIRETOS DO FILHO É MAIR QUE O MINIMO 
            IF ((@INDICADOR_FILHO_1001+@INDICADOR_DIRETOS_1001) >= 996)
            BEGIN
              SELECT @REDE_FILHO_CUMPRE_META = (@REDE_FILHO_CUMPRE_META + 1)

              -- **** INICIO DA REGRA DA REDE DO NETO ****
              SELECT @REDE_NETO_CUMPRE_META    = 0
              -- CURSOR PARA BUSCAR OS NETOS
              SET @CURSOR_NETO = CURSOR FAST_FORWARD
              FOR
                SELECT A.CD_PESSOA, A.VL_INDICADOR_PESSOAL
                FROM TB_PESSOA_INDICADOR A,
                     (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
                      FROM TB_WRK_MN_TOPOLOGIA B1
                      WHERE B1.CD_PESSOA               = @PESSOA_FILHO
                      AND   B1.CD_FUNCAO               = @CD_FUNCAO
                      AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
                      AND   B1.NM_CICLO                = @NM_CICLO
                      AND   B1.ID_TIPO_REDE_MN         = 1
                      AND   B1.NM_NIVEL                = 1) C -- REDE UNILEVEL
                WHERE A.CD_PESSOA                = C.PESSOA
                AND   A.CD_FUNCAO                = @CD_FUNCAO
                AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
                AND   A.NM_CICLO       = @NM_CICLO
                AND   A.CD_INDICADOR_PESSOAL     = 1001
                AND   A.VL_INDICADOR_PESSOAL     > 0
                ORDER BY 1      
              OPEN @CURSOR_NETO
              FETCH NEXT FROM @CURSOR_NETO
              INTO @PESSOA_NETO, @INDICADOR_NETO_1001
              WHILE @@FETCH_STATUS = 0
              BEGIN                                       

                -- BUSCA O TOTAL DE ATIVOS DIRETOS DO NETO
                SELECT @TOTAL_ATIVOS_DIRETOS = COUNT(DISTINCT A.CD_PESSOA)
                FROM TB_PESSOA_INDICADOR A,
                    (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
                     FROM TB_WRK_MN_TOPOLOGIA B1
                     WHERE B1.CD_PESSOA               = @PESSOA_NETO
                     AND   B1.CD_FUNCAO               = @CD_FUNCAO
                     AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
                     AND   B1.NM_CICLO                = @NM_CICLO
                     AND   B1.ID_TIPO_REDE_MN         = 1   -- REDE UNILEVEL
                     AND   B1.NM_NIVEL                = 1) C  -- 1o NIVEL
                WHERE A.CD_PESSOA                = C.PESSOA
                AND   A.CD_FUNCAO                = @CD_FUNCAO
                AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
                AND   A.NM_CICLO       = @NM_CICLO
                AND   A.CD_INDICADOR_PESSOAL     = 1001
                AND   A.VL_INDICADOR_PESSOAL     > 0          

                -- VERIFICA SE TEM MAIS DE 3 ATIVOS DIRETOS DO NETO
                IF (@TOTAL_ATIVOS_DIRETOS >= 3)
                BEGIN

                  -- BUSCA O TOTAL DE PONTOS DOS ATIVOS DIRETOS
                  SELECT @INDICADOR_DIRETOS_1001 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
                  FROM TB_PESSOA_INDICADOR A,
                      (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
                       FROM TB_WRK_MN_TOPOLOGIA B1
                       WHERE B1.CD_PESSOA               = @PESSOA_NETO
                       AND   B1.CD_FUNCAO               = @CD_FUNCAO
                       AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
                       AND   B1.NM_CICLO                = @NM_CICLO
                       AND   B1.ID_TIPO_REDE_MN         = 1
                       AND   B1.NM_NIVEL                = 1) C -- REDE UNILEVEL
                  WHERE A.CD_PESSOA                = C.PESSOA
                  AND   A.CD_FUNCAO                = @CD_FUNCAO
                  AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
                  AND   A.NM_CICLO       = @NM_CICLO
                  AND   A.CD_INDICADOR_PESSOAL     = 1001
                  AND   A.VL_INDICADOR_PESSOAL     > 0      

                  -- SE A SOMA DOS PONTOS DA PESSOA E DIRETOS DO NETO É MAIR QUE O MINIMO 
                  IF ((@INDICADOR_NETO_1001+@INDICADOR_DIRETOS_1001) >= 996)
                  BEGIN
                    SELECT @REDE_NETO_CUMPRE_META = (@REDE_NETO_CUMPRE_META + 1)

                  END
                END

                FETCH NEXT FROM @CURSOR_NETO
                INTO @PESSOA_NETO, @INDICADOR_NETO_1001
              END
              CLOSE       @CURSOR_NETO
	      DEALLOCATE  @CURSOR_NETO
              -- **** FIM DA REGRA DA REDE DO NETO ****

              -- VERIFICAR SE A REDE DO NETO CUMPREM A META
              IF (@REDE_NETO_CUMPRE_META >= 3)
              BEGIN
                SELECT @REDE_BISNETO_CUMPRE_META = (@REDE_BISNETO_CUMPRE_META + 1)
              END
            END
 
          END
     
          FETCH NEXT FROM @CURSOR_FILHO
          INTO @PESSOA_FILHO, @INDICADOR_FILHO_1001
        END
        CLOSE       @CURSOR_FILHO
	DEALLOCATE  @CURSOR_FILHO
        -- **** FIM DA REGRA DA REDE DO FILHO ****

      END
      ELSE      
      BEGIN
        SELECT @RESULTADO = 0
      END

    END
    ELSE
    BEGIN
      SELECT @RESULTADO = 0
    END

  END
  ELSE
  BEGIN
    SELECT @RESULTADO = 0
  END
  
  IF (@REDE_BISNETO_CUMPRE_META >= 3)
  BEGIN
    SELECT @RESULTADO = 700
  END
  ELSE IF (@REDE_FILHO_CUMPRE_META >= 3)
  BEGIN
    SELECT @RESULTADO = 150
  END
  ELSE IF (@REDE_PESSOA_CUMPRE_META  >= 1)
  BEGIN
    SELECT @RESULTADO = 50
  END
  ELSE
  BEGIN
    SELECT @RESULTADO = 0
  END

  RETURN @RESULTADO
END





GO
