SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_QTD_COTA_PRODUTO_ESTRUTURA_DISPONIVEL](@CD_COTA_ESTRUTURA NUMERIC(18,0))
																	
RETURNS NUMERIC(18,0)
AS
BEGIN
	DECLARE @RESULTADO			NUMERIC(18,0)
	DECLARE @QTD_COTA_CADASTRO	NUMERIC(18,0)
	DECLARE @QTD_COTA_UTILIZADA NUMERIC(18,0)

		-- VAMOS BUSCAR A COTA CADASTRADA
		SELECT @QTD_COTA_CADASTRO = NM_COTA
		from TB_COTA_PRODUTO_ESTRUTURA 
		WHERE CD_COTA_PRODUTO_ESTRUTURA = @CD_COTA_ESTRUTURA
		
		-- VAMOS BUSCAR A COTA UTILIZADA
		SELECT @QTD_COTA_UTILIZADA = ISNULL(SUM(I.QT_RESERVADA),0)
		FROM TB_PEDIDO_ITEM I, TB_PEDIDO P
		WHERE I.CD_COTA_PRODUTO_ESTRUTURA = @CD_COTA_ESTRUTURA
		AND I.NM_PEDIDO = P.NM_PEDIDO
		AND P.CD_EST_SITUACAO <> 3 -- somente pedidos que nao foram cancelados
		AND NM_PEDIDO_ITEM_CONJUNTO = 0 -- somente itens pai

		SELECT @RESULTADO = @QTD_COTA_CADASTRO - @QTD_COTA_UTILIZADA
			
   RETURN @RESULTADO
END
GO
