SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA](@CD_PESSOA NUMERIC(18,0), @ID_TIPO_ENDERECO INT)
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0)

  SELECT @RESULTADO = CD_EST_GEOGRAFICA
  FROM TB_PESSOA_ENDERECO with (NOLOCK) 
  WHERE CD_PESSOA = @CD_PESSOA
  AND ID_TIPO_ENDERECO = @ID_TIPO_ENDERECO

  RETURN @RESULTADO
END
GO
