SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [dbo].[FN_BUSCA_COD_SITUACAO_ORDEM_COLETA_PAI]  (@CD_SITUACAO_ORDEM_COLETA NUMERIC(18,0))

RETURNS NUMERIC(18,0)
AS
BEGIN
   
  DECLARE @RESULTADO NUMERIC(18,0),
		  @NIVEL INT
 
  -- ***************************
  -- VERIFICA O NIVEL
  -- ***************************
  SELECT @NIVEL = CD_NIVEL_SITUACAO_ORDEM_COLETA
  FROM TB_SITUACAO_ORDEM_COLETA
  WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA
 
  IF (@NIVEL = 1) 
	BEGIN
		 SELECT @RESULTADO = 0
	END
	
  IF (@NIVEL = 2) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_01
		FROM TB_SITUACAO_ORDEM_COLETA
		WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA
	END

  IF (@NIVEL = 3) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_02
		FROM TB_SITUACAO_ORDEM_COLETA
		WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA
	END 

  IF (@NIVEL = 4) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_03
		FROM TB_SITUACAO_ORDEM_COLETA
		WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA
	END
	
  IF (@NIVEL = 5) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_04
		FROM TB_SITUACAO_ORDEM_COLETA
		WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA
	END

  IF (@NIVEL = 6) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_05
		FROM TB_SITUACAO_ORDEM_COLETA
		WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA
	END
	
  IF (@NIVEL = 7) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_06
		FROM TB_SITUACAO_ORDEM_COLETA
		WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA
	END
	
  IF (@NIVEL = 8) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_07
		FROM TB_SITUACAO_ORDEM_COLETA
		WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA	
	END
  
  IF (@NIVEL = 9) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_08
		FROM TB_SITUACAO_ORDEM_COLETA
		WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA	
	END
	
  RETURN @RESULTADO
END




GO
