SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_EVENTO_CAMPANHA](@CD_CAMPANHA INT)
RETURNS VARCHAR(60)
AS
BEGIN
  DECLARE	@RESULTADO		VARCHAR(60),
			@CD_DOMINIO		INT,
			@TIPO_CAMPANHA	INT
 
  
  -- VERIFCA SE A CAMPANHA É DE INDICAÇÃO OU SE A CAMPANHA É DE PONTOS
  SELECT @TIPO_CAMPANHA = ISNULL(MAX(ID_TIPO_CAMPANHA),0) FROM TB_CAMPANHA WHERE CD_CAMPANHA= @CD_CAMPANHA


	
	
	-- CAMPANHA DE INDICAÇÃO
	IF @TIPO_CAMPANHA = 1
		BEGIN
			SELECT  @CD_DOMINIO  =  ID_EVENTO_INDICACAO FROM TB_CAMPANHA_INDICACAO WHERE CD_CAMPANHA = @CD_CAMPANHA

			SELECT @RESULTADO = B.DC_DOMINIO 
			FROM TB_GRUPO_DOMINIO A, TB_DOMINIO B
			WHERE A.CD_GRUPO_DOMINIO =  B.CD_GRUPO_DOMINIO 
			AND A.CD_GRUPO_DOMINIO = 204
			AND B.CD_DOMINIO = @CD_DOMINIO
		END 
	ELSE
		BEGIN
			SELECT  @CD_DOMINIO  =  ID_EVENTO_CAMPANHA_PONTOS FROM TB_CAMPANHA_PONTOS WHERE CD_CAMPANHA = @CD_CAMPANHA

			SELECT @RESULTADO = B.DC_DOMINIO 
			FROM TB_GRUPO_DOMINIO A, TB_DOMINIO B
			WHERE A.CD_GRUPO_DOMINIO =  B.CD_GRUPO_DOMINIO 
			AND A.CD_GRUPO_DOMINIO = 308
			AND B.CD_DOMINIO = @CD_DOMINIO
		END

  

  RETURN @RESULTADO
END


GO
