SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_COD_PLANO_CONTAS_PAI]  (@CD_PLANO_CONTAS NUMERIC(18,0))

RETURNS NUMERIC(18,0)
AS
BEGIN
   
  DECLARE @RESULTADO NUMERIC(18,0),
		  @NIVEL INT
 
 
  -- VERIFICA O NIVEL
  SELECT @NIVEL = CD_NIVEL_PLANO_CONTAS
  FROM TB_PLANO_CONTAS
  WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
 
  IF (@NIVEL = 1) 
	BEGIN
		 SELECT @RESULTADO = 0
	END
	
  IF (@NIVEL = 2) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PLA1
		FROM TB_PLANO_CONTAS
		WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
	END

  IF (@NIVEL = 3) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PLA2
		FROM TB_PLANO_CONTAS
		WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
	END 

  IF (@NIVEL = 4) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PLA3
		FROM TB_PLANO_CONTAS
		WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
	END
	
  IF (@NIVEL = 5) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PLA4
		FROM TB_PLANO_CONTAS
		WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
	END

  IF (@NIVEL = 6) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PLA5
		FROM TB_PLANO_CONTAS
		WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
	END
	
  IF (@NIVEL = 7) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PLA6
		FROM TB_PLANO_CONTAS
		WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
	END
	
  IF (@NIVEL = 8) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PLA7
		FROM TB_PLANO_CONTAS
		WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
	END
  
  IF (@NIVEL = 9) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PLA8
		FROM TB_PLANO_CONTAS
		WHERE CD_PLANO_CONTAS = @CD_PLANO_CONTAS
	END
	
  RETURN @RESULTADO
END


GO
