SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_PROXIMA_SIT_COMERCIAL_PESSOA_MN](@CD_PESSOA NUMERIC (18,0), @CD_FUNCAO INT, @NM_CICLO_ATUAL NUMERIC(18,0), @NM_CICLO_NOVO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO			NUMERIC(18,0)
  DECLARE @SIT_COMERCIAL_DETALHE_ATUAL	INT
  DECLARE @ID_VIP_NAO_DESATIVADA_PESSOA INT
  DECLARE @ID_VIP_NAO_DESATIVADA_PAPEL  INT
  -- BUSCA A SITUAÇÃO DETALE ATUAL DA PESSOA
  SELECT @SIT_COMERCIAL_DETALHE_ATUAL = CD_SITUACAO_COMERCIAL_DETALHE
  FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK)
  WHERE CD_PESSOA = @CD_PESSOA
  AND NM_CICLO = @NM_CICLO_NOVO
		
  -- BUSCA PROXIMO DETALHE
  IF @SIT_COMERCIAL_DETALHE_ATUAL = 0
  BEGIN
    -- SE A SITUAÇÃO É 0 ENTÃO É CADASTRADA ENTÃO CONTINUA COMO CADASTRADA
    SELECT	@RESULTADO = 0
  END
  ELSE IF @SIT_COMERCIAL_DETALHE_ATUAL IS NULL
  BEGIN
    -- BUSCA A SITUAÇÃO DETALE ATUAL DA PESSOA
    SELECT @SIT_COMERCIAL_DETALHE_ATUAL = isnull(max(CD_SITUACAO_COMERCIAL_DETALHE),0)
    FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK)
    WHERE CD_PESSOA = @CD_PESSOA
    AND NM_CICLO = @NM_CICLO_ATUAL

    SELECT  @RESULTADO = isnull(MIN(CD_SITUACAO_COMERCIAL_DETALHE),400)
    FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE  with (NOLOCK)
    WHERE CD_SITUACAO_COMERCIAL_DETALHE > @SIT_COMERCIAL_DETALHE_ATUAL
  END
  ELSE
  BEGIN
    SELECT  @RESULTADO = @SIT_COMERCIAL_DETALHE_ATUAL
  END

  -- verifica se e VIP
  IF (@RESULTADO = 400)
  BEGIN
--    SELECT @ID_VIP_NAO_DESATIVADA  = ISNULL(ID_VIP_NAO_DESATIVADA,2)
--    FROM TB_PESSOA_RESUMO  with (NOLOCK)
--    WHERE CD_PESSOA = @CD_PESSOA
--    AND   CD_FUNCAO = @CD_FUNCAO
    SELECT @ID_VIP_NAO_DESATIVADA_PESSOA = ISNULL(SUM(A.ID_VIP_NAO_DESATIVADA),2), 
	   @ID_VIP_NAO_DESATIVADA_PAPEL  = ISNULL(SUM(B.ID_VIP_NAO_DESATIVADA),2)
    FROM TB_PESSOA_RESUMO  A with (NOLOCK), TB_PAPEL_CARREIRA B with (NOLOCK)
    WHERE A.CD_PESSOA         = @CD_PESSOA
    AND   A.CD_FUNCAO         = @CD_FUNCAO
    AND   A.CD_PAPEL_CARREIRA = B.CD_PAPEL_CARREIRA
    AND   A.CD_FUNCAO         = B.CD_FUNCAO

    IF (@ID_VIP_NAO_DESATIVADA_PESSOA = 1 OR @ID_VIP_NAO_DESATIVADA_PAPEL = 1) 
    BEGIN
      SELECT	@RESULTADO = MAX(CD_SITUACAO_COMERCIAL_DETALHE)
      FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE  with (NOLOCK)
      WHERE CD_SITUACAO_COMERCIAL_DETALHE <   @RESULTADO  -- 400 = DESATIVADA     
    END
  END	
		
  RETURN @RESULTADO
END


GO
