SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_SITUACAO_ATIVA_MMN]  (@CD_PESSOA NUMERIC(18,0), 
                                                      @CD_FUNCAO NUMERIC(18,0),   
		        			      @NM_CICLO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
-- FUNÇÃO RETORNA A INFORMAÇÃO DE ATIVA MMN POR CLIENTE
-- CASO NÃO TENHA MMN, RETORNA A SITUACAO COMERCIAL DE ATIVA (0 - NÃO ATIVA / 1 - ATIVA)

AS
BEGIN
  DECLARE @RESULTADO             NUMERIC(18,0)  -- VALORES (0 - NÃO ATIVA MMN / 1 - ATIVA MMN)
  DECLARE @CD_CLIENTE            NUMERIC(18,0),
          @V_CD_SITUACAO_COML    NUMERIC(18,0),
          @V_VL_INDICADOR_1      NUMERIC(18,0),
          @V_VL_INDICADOR_11     NUMERIC(18,0),
          @V_CD_EST_COMERCIAL    NUMERIC(18,0),
          @V_CD_PAPEL_CARREIRA   NUMERIC(18,0),
          @V_CD_PAPEL_DESEMPENHO NUMERIC(18,0),
          @V_VL_INDICADOR_1001   NUMERIC(18,2),
          @V_QT_PEDIDOS          NUMERIC(18,0),
	  @ID_VIP_SEMPRE_ATIVA_BONIFICACAO  INT

  SELECT @RESULTADO = 0
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  SELECT @CD_CLIENTE = VL_PARAMETRO 
  FROM TB_VALOR_PARAMETRO  with (NOLOCK)
  WHERE CD_GRUPO_PARAMETRO = 6
  AND   CD_PARAMETRO       = 1
  AND   CD_VALOR_PARAMETRO = 1
 
  IF (@CD_CLIENTE  NOT IN (20, 25, 33, 37, 43, 47, 53, 55, 56, 57) ) -- PIERRE/ A SOS/ CLOROFITUM/ CACAU SHOW/ MAKIE/ MAHOGANY/ WEST1/ KENKO PATTO / BECORE / LOWELL
  BEGIN
    SELECT @V_CD_SITUACAO_COML = isnull(CD_SITUACAO_COMERCIAL,0)
    FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK)
    WHERE CD_PESSOA = @CD_PESSOA
    AND   NM_CICLO  = @NM_CICLO
		    
    IF ( @V_CD_SITUACAO_COML = 1)
    BEGIN
      SELECT @RESULTADO = 1 
    END
    ELSE
    BEGIN
      SELECT @RESULTADO = 0
    END
	 
  END
  ELSE
  BEGIN
    -- BUSCA A ESTRUTURA COMERCIAL
    SELECT @V_CD_EST_COMERCIAL    = CD_EST_COMERCIAL,
           @V_CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
           @V_CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
    FROM TB_PESSOA_RESUMO  with (NOLOCK)
    WHERE CD_PESSOA = @CD_PESSOA
    AND   CD_FUNCAO = @CD_FUNCAO
	                 

    IF (@CD_CLIENTE  = 20)  -- PIERRE
    BEGIN
      SELECT @V_VL_INDICADOR_1 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR  with (NOLOCK)
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1
      AND NM_CICLO             BETWEEN dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO,2) AND @NM_CICLO
      AND NM_CICLO            >= 201809  -- INICIO DO PROJETO
			
      IF (@V_VL_INDICADOR_1 >= 2)  
      BEGIN
        SELECT @RESULTADO = 1 
      END
      ELSE
      BEGIN
        IF (@NM_CICLO = 201809) -- INICIO DO PROJETO
        BEGIN
          SELECT @V_VL_INDICADOR_1 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR  with (NOLOCK)
          WHERE CD_PESSOA          = @CD_PESSOA
          AND CD_FUNCAO            = @CD_FUNCAO
          AND CD_INDICADOR_PESSOAL = 1
          AND NM_CICLO             = @NM_CICLO
          IF (@V_VL_INDICADOR_1 = 1)
          BEGIN
            SELECT @RESULTADO = 1
          END
          ELSE
          BEGIN
            SELECT @RESULTADO = 0
          END
        END
        ELSE
        BEGIN
          SELECT @RESULTADO = 0
        END
      END
    end

    IF (@CD_CLIENTE  = 25)  -- A SOS
    BEGIN
      SELECT @V_QT_PEDIDOS         = COUNT(*)
      FROM TB_PEDIDO A  with (NOLOCK)
      WHERE A.CD_PESSOA             = @CD_PESSOA
      AND A.CD_FUNCAO               = @CD_FUNCAO		
      AND A.CD_EST_COMERCIAL        = @V_CD_EST_COMERCIAL
      AND A.NM_CICLO_PAGAMENTO  BETWEEN   DBO.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO,3)  AND DBO.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO,1) 
      AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO

      IF (@V_QT_PEDIDOS >= 1)
      BEGIN
        SELECT @RESULTADO = 1 
      END
      ELSE
      BEGIN		
        -- VERIFICA SE ESTE É O 1o CICLO
        SELECT @V_QT_PEDIDOS         = COUNT(*)
        FROM TB_PEDIDO A  with (NOLOCK), 
            (SELECT MIN(NM_PEDIDO) MIN_PEDIDO
             FROM TB_PEDIDO A  with (NOLOCK)
             WHERE A.CD_PESSOA             = @CD_PESSOA
             AND A.CD_FUNCAO               = @CD_FUNCAO		
             AND A.CD_EST_COMERCIAL        = @V_CD_EST_COMERCIAL
             AND A.NM_CICLO_PAGAMENTO     <= @NM_CICLO
             AND A.NM_CICLO_CANCELAMENTO IS NULL) C     -- SOMENTE PEDIDO NÃO CANCELADO
        WHERE A.CD_PESSOA             = @CD_PESSOA
        AND A.CD_FUNCAO               = @CD_FUNCAO		
        AND A.CD_EST_COMERCIAL        = @V_CD_EST_COMERCIAL
        AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
        AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND A.NM_PEDIDO = C.MIN_PEDIDO

        IF (@V_QT_PEDIDOS >= 1)  
        BEGIN
          SELECT @RESULTADO = 1 
        END
        ELSE
        BEGIN
          SELECT @RESULTADO = 0
        END
      END
      -- NOVO (ALDIR 310702020)
      IF (@RESULTADO = 0)
      BEGIN
        SELECT @ID_VIP_SEMPRE_ATIVA_BONIFICACAO = ISNULL(ID_VIP_SEMPRE_ATIVA_BONIFICACAO,2)
        FROM TB_PESSOA_RESUMO  with (NOLOCK)
        WHERE CD_PESSOA = @CD_PESSOA
        AND   CD_FUNCAO = @CD_FUNCAO
        IF (@ID_VIP_SEMPRE_ATIVA_BONIFICACAO = 1)
        BEGIN
 	  SELECT @RESULTADO = 1
        END
        ELSE 
        BEGIN	
          SELECT @RESULTADO = 0
        END
      END
      -- FIM (ALDIR 31072020)

    END


    IF (@CD_CLIENTE  = 33)  -- CLOROFITUM
    BEGIN
      SELECT @V_VL_INDICADOR_11 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR  with (NOLOCK)
      WHERE CD_PESSOA          = @CD_PESSOA
        AND CD_FUNCAO            = @CD_FUNCAO
        AND CD_INDICADOR_PESSOAL = 11
        AND NM_CICLO             = @NM_CICLO
        --AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL

      IF (@V_VL_INDICADOR_11 >= 1)
      BEGIN
        SELECT @RESULTADO = 1
      END
      ELSE
      BEGIN
        SELECT @RESULTADO = 0
      END
    END

    IF (@CD_CLIENTE  = 37)  -- CACAU SHOW
    BEGIN
      SELECT @V_VL_INDICADOR_1001 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR  with (NOLOCK)
      WHERE CD_PESSOA            = @CD_PESSOA
        AND CD_FUNCAO            = @CD_FUNCAO
        AND CD_INDICADOR_PESSOAL = 1001
        AND NM_CICLO             = @NM_CICLO
        --AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL

      IF (@V_VL_INDICADOR_1001 > 0)
      BEGIN
        SELECT @RESULTADO = 1
      END
      ELSE
      BEGIN
        SELECT @RESULTADO = 0
      END
    END


    IF (@CD_CLIENTE  = 43)  -- MAKIE
    BEGIN
      --SELECT @V_CD_SITUACAO_COML = isnull(CD_SITUACAO_COMERCIAL,0)
      --FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK)
      --WHERE CD_PESSOA = @CD_PESSOA
      --AND   NM_CICLO  = @NM_CICLO

      IF (@V_CD_PAPEL_CARREIRA = 5) --- AND @V_CD_SITUACAO_COML = 1)
      BEGIN
        SELECT @RESULTADO = 1
      END
      ELSE
      BEGIN
        SELECT @RESULTADO = 0
      END
    END

    IF (@CD_CLIENTE  = 47)  -- MAHOGANY
    BEGIN
      SELECT @RESULTADO = 1
    END

    
    IF (@CD_CLIENTE  = 53)  -- WEST1
    BEGIN
      SELECT @RESULTADO = isnull(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR     with (NOLOCK)
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1007
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
    END

    IF (@CD_CLIENTE  = 55)  -- KENKO PATTO
    BEGIN
      SELECT @RESULTADO = isnull(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR     with (NOLOCK)
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1001
      AND NM_CICLO             = @NM_CICLO
      --AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
    END

    IF (@CD_CLIENTE  = 56)  -- BECORE
    BEGIN
      SELECT @RESULTADO = isnull(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR     with (NOLOCK)
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1003
      AND NM_CICLO             = @NM_CICLO
      --AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
    END

    IF (@CD_CLIENTE  = 57)  -- LOWELL
	BEGIN
      SELECT @V_CD_SITUACAO_COML = isnull(CD_SITUACAO_COMERCIAL,0)
      FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK)
      WHERE CD_PESSOA = @CD_PESSOA
      AND   NM_CICLO  = @NM_CICLO
		    
      --IF ( @V_CD_SITUACAO_COML = 1 OR @V_CD_PAPEL_CARREIRA = 3)  -- LIDER AREA BRANCA
      IF ( @V_CD_SITUACAO_COML = 1)  -- Alterado por Aldir (20/05/2025). Bitrix -> 9511
      BEGIN
        SELECT @RESULTADO = 1 
      END
      ELSE
      BEGIN
        SELECT @RESULTADO = 0
      END
    END
	 
  END


  -- NOVO (ALDIR 310702020)
  IF (@RESULTADO = 0)
  BEGIN
    SELECT @ID_VIP_SEMPRE_ATIVA_BONIFICACAO = ISNULL(ID_VIP_SEMPRE_ATIVA_BONIFICACAO,2)
    FROM TB_PESSOA_RESUMO  with (NOLOCK)
    WHERE CD_PESSOA = @CD_PESSOA
    AND   CD_FUNCAO = @CD_FUNCAO
    IF (@ID_VIP_SEMPRE_ATIVA_BONIFICACAO = 1)
    BEGIN
      SELECT @RESULTADO = 1
    END
    ELSE 
    BEGIN	
      SELECT @RESULTADO = 0
    END
  END
  -- FIM (ALDIR 31072020)

  RETURN @RESULTADO
END


GO
