SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_DESC_ENTIDADE_CONCILIACAO](@CD_ENTIDADE_CONCILIACAO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_ENTIDADE_CONCILIACAO) 
  FROM TB_ENTIDADE_CONCILIACAO
  WHERE CD_ENTIDADE_CONCILIACAO = @CD_ENTIDADE_CONCILIACAO

  RETURN @RESULTADO
END
GO
