SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_CONSULTOR_MESMO_CEP_ASOS]  (@VL_CODIGO_POSTAL  NUMERIC(8,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO 		NUMERIC(18,0),
          @QDE_PESSOAS		INT,
          @CD_PESSOA_PROXIMA	NUMERIC(18,0),
	  @NM_CICLO		NUMERIC(18,0)

 
  SELECT @NM_CICLO = MIN(NM_CICLO)
  FROM TB_CALENDARIO_COMERCIAL C
  WHERE CONVERT(DATE,GETDATE()) BETWEEN C.DT_INICIAL AND C.DT_FINAL

  SELECT @QDE_PESSOAS = COUNT(A.CD_PESSOA)
  FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_PESSOA_INDICADOR C
  WHERE A.CD_PESSOA             = B.CD_PESSOA
  AND   A.CD_FUNCAO             = 2
  AND   B.ID_TIPO_ENDERECO      in (1,3)
  AND   A.CD_PESSOA   = C.CD_PESSOA
  AND   A.CD_FUNCAO   = C.CD_FUNCAO
  AND   C.NM_CICLO    = @NM_CICLO
  AND   C.CD_INDICADOR_PESSOAL = 1001
  AND   C.VL_INDICADOR_PESSOAL > 0
  AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
  AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = 0 -- MESMO CEP

  IF (@QDE_PESSOAS = 1)
  BEGIN
    SELECT @CD_PESSOA_PROXIMA = A.CD_PESSOA
    FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_PESSOA_INDICADOR C
    WHERE A.CD_PESSOA             = B.CD_PESSOA
    AND   A.CD_FUNCAO             = 2
    AND   B.ID_TIPO_ENDERECO      in (1,3)
    AND   A.CD_PESSOA   = C.CD_PESSOA
    AND   A.CD_FUNCAO   = C.CD_FUNCAO
    AND   C.NM_CICLO    = @NM_CICLO
    AND   C.CD_INDICADOR_PESSOAL = 1001
    AND   C.VL_INDICADOR_PESSOAL > 0
    AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = 0 -- MESMO CEP
  END
  ELSE IF (@QDE_PESSOAS > 1)
  BEGIN
    SELECT  @CD_PESSOA_PROXIMA = min(E.CD_PESSOA)
    FROM    TB_PESSOA_INDICADOR E,
             (SELECT MAX(VL_INDICADOR_PESSOAL) AS VL_INDICADOR
              FROM TB_PESSOA_INDICADOR
              WHERE NM_CICLO              = @NM_CICLO
              AND   CD_INDICADOR_PESSOAL = 1003
              AND   CD_FUNCAO             = 2
              AND   CD_PESSOA IN (SELECT A.CD_PESSOA
                                  FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_PESSOA_INDICADOR C
				  WHERE A.CD_PESSOA             = B.CD_PESSOA
				  AND   A.CD_FUNCAO             = 2
				AND   B.ID_TIPO_ENDERECO      in (1,3)
				AND   A.CD_PESSOA   = C.CD_PESSOA
				AND   A.CD_FUNCAO   = C.CD_FUNCAO
				AND   C.NM_CICLO    = @NM_CICLO
				AND   C.CD_INDICADOR_PESSOAL = 1001
				AND   C.VL_INDICADOR_PESSOAL > 0
                                AND  ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = 0) ) D
    WHERE E.NM_CICLO              = @NM_CICLO
    AND   E.CD_INDICADOR_PESSOAL = 1003
    AND   E.CD_FUNCAO             = 2
    AND   E.VL_INDICADOR_PESSOAL   = D.VL_INDICADOR
    AND   E.CD_PESSOA IN (SELECT A.CD_PESSOA
                          FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_PESSOA_INDICADOR C
			WHERE A.CD_PESSOA             = B.CD_PESSOA
			AND   A.CD_FUNCAO             = 2
			AND   B.ID_TIPO_ENDERECO      in (1,3)
			AND   A.CD_PESSOA   = C.CD_PESSOA
			AND   A.CD_FUNCAO   = C.CD_FUNCAO
			AND   C.NM_CICLO    = @NM_CICLO
			AND   C.CD_INDICADOR_PESSOAL = 1001
			AND   C.VL_INDICADOR_PESSOAL > 0
                        AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = 0)

  END
  ELSE
  BEGIN
     SELECT @CD_PESSOA_PROXIMA = 0
  END
  
  SELECT @RESULTADO = @CD_PESSOA_PROXIMA


  RETURN @RESULTADO
END
GO
