SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_PessoaBuscaCidadePorCdEmpresa](@CD_EMPRESA INT)
														 
RETURNS VARCHAR(300)
AS
BEGIN 
	DECLARE @v_descricaoResultado		VARCHAR(300)
		
		SELECT @v_descricaoResultado =  DC_ESTRUTURA_GEO3
		FROM TB_PESSOA_ENDERECO WHERE CD_PESSOA = @CD_EMPRESA

	RETURN @v_descricaoResultado
END
GO
