SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_COD_SIT_COMERCIAL_ATUAL_PESSOA]  (@CD_PESSOA NUMERIC(18,0),
																  @CD_FUNCAO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
   
  DECLARE @RESULTADO NUMERIC(18,0)
 
  SELECT @RESULTADO = CD_SITUACAO_COMERCIAL 
  FROM TB_PESSOA_RESUMO
  WHERE CD_PESSOA = @CD_PESSOA
  AND CD_FUNCAO = @CD_FUNCAO

  RETURN @RESULTADO
END
GO
