SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_TIPO_PRODUTO](@CD_PRODUTO_VENDA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DBO.FN_BUSCA_DOMINIO('TIPO_PRODUTO', ID_TIPO_PRODUTO) 
  FROM TB_PRODUTO_VENDA
  WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA

  RETURN @RESULTADO
END
GO
