SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_INDICADOR_LUCRATIVIDADE_AKMOS]  
(@CD_PESSOA                NUMERIC(18,0), 
@NM_CICLO                  NUMERIC(18,0), 
@CD_FUNCAO                 NUMERIC(18,0) )
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO                  NUMERIC(18,0)  = 1,
          @MAX_DATA_EXPIRACAO         DATETIME,
	  @ID_MOVIMENTO_LUCRATIVIDADE INT,
	  @CONTADOR_VIP               NUMERIC(18,0),
          @VL_PONTOS_28DIAS           NUMERIC(18,2)

  -- VERIFICA SE A PESSOA E VIP
  SELECT @CONTADOR_VIP           = COUNT(*)
  FROM TB_WRK_PESSOA_LUCRATIVIDADE_VIP_AKMOS with(nolock)
  WHERE CD_PESSOA = @CD_PESSOA
  AND   ID_ATIVO  = 1

  -- ESTA NA TABELA VIP ATIVO
  IF (@CONTADOR_VIP = 1)  
  BEGIN
    SELECT @RESULTADO = ID_MOVIMENTO_LUCRATIVIDADE
	FROM TB_WRK_PESSOA_LUCRATIVIDADE_VIP_AKMOS with(nolock)
        WHERE CD_PESSOA = @CD_PESSOA
        AND   ID_ATIVO  = 1
    RETURN @RESULTADO
  END 

  -- BUSCA A ULTIMA DATA DE EXPIRACAO E LUCRATIVIDAE
  SELECT @MAX_DATA_EXPIRACAO         = MAX(A.DT_EXPIRACAO),
	 @ID_MOVIMENTO_LUCRATIVIDADE = ISNULL(MAX(A.ID_MOVIMENTO_LUCRATIVIDADE),1)
  FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE A with(nolock),
     (SELECT MAX(CD_PESSOA_PONTO_HISTORICO) AS PONTO_HISTORICO
      FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE with(nolock)
      WHERE CD_PESSOA        = @CD_PESSOA
      AND   CD_FUNCAO        = @CD_FUNCAO) B
  WHERE A.CD_PESSOA_PONTO_HISTORICO = B.PONTO_HISTORICO
 
  IF (@MAX_DATA_EXPIRACAO > GETDATE() OR @ID_MOVIMENTO_LUCRATIVIDADE = 1)  -- NAO EXPIROU OU NAO TEM LUCRATIVIDADE
  BEGIN
    SELECT @RESULTADO = @ID_MOVIMENTO_LUCRATIVIDADE
  END
  ELSE IF (@MAX_DATA_EXPIRACAO <= GETDATE())  -- EXPIROU A LUCRATIVIDADE ATUAL
  BEGIN  
    -- CALCULA A REGRA PARA SABER A NOVA LUCRATIVIDADE
    SELECT @VL_PONTOS_28DIAS = ISNULL(SUM(VL_MOVIMENTO),0) 
    FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE with(nolock)
    WHERE CD_PESSOA = @CD_PESSOA
    AND   CD_FUNCAO = @CD_FUNCAO  
    AND   DT_MOVIMENTO >= DATEADD (day,-28,GETDATE()) 

    IF (@VL_PONTOS_28DIAS >= 100)
    BEGIN
      SELECT @RESULTADO = 4  -- 40%
    END
    ELSE IF (@VL_PONTOS_28DIAS >= 50 AND @VL_PONTOS_28DIAS < 100)
    BEGIN
      SELECT @RESULTADO = 3  -- 30%
    END
    ELSE
    BEGIN
      SELECT @RESULTADO = 3  -- 20%
    END
  END

  RETURN @RESULTADO
END
GO
