SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTUACAO_ASOS] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO        NUMERIC(18,0),
                         @NM_CICLO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0), 
                         @QT_CICLOS        NUMERIC(18,0)          )

--  CALCULA : 
--  TOTAL DE PONTUACAO PESSOAL


RETURNS NUMERIC(18,2)
AS
BEGIN

	DECLARE @RESULTADO				NUMERIC(18,2)
	DECLARE @CICLO_INICIO			NUMERIC(18,0)
	DECLARE @CICLO_REINICIO			NUMERIC(18,0)

	 SELECT @RESULTADO = 0

	-- BUSCA OS PONTOS PESSOAIS

	-- ******************************************************************************************************************************************
	-- PRIMEIRO BUSCA O CICLO INICIO DA PESSOA
	-- NA ASOS O CICLO INICIO É BASEADO NO PRIMEIRO CICLO EM QUE TENHA O INDICADOR 1002 MAIOR QUE 0 (PESSOA NAO TENHA SIDO NUNCA CESSADA)
	-- OU PRIMEIRO CICLO ´COM INDICADOR 1002 MAIOR QUE 0 APÓS A UTIMA REATIVACAO
	-- ******************************************************************************************************************************************

	SELECT @CICLO_REINICIO = 0
	SELECT @CICLO_INICIO = 0

	SELECT @CICLO_REINICIO = ISNULL(MIN(NM_CICLO),0) 
	FROM TB_HIST_SITUACAO_CONSULTORA
	WHERE  
			DBO.FN_BUSCA_CICLO_SUPERIOR_MMN((SELECT ISNULL(MAX(NM_CICLO),0) 
							 FROM TB_HIST_SITUACAO_CONSULTORA 
						 	 WHERE CD_PESSOA = @CD_PESSOA AND (CD_SITUACAO_COMERCIAL_DETALHE = 400 OR CD_SITUACAO_COMERCIAL_DETALHE >= 301)), 2) = NM_CICLO
			AND CD_PESSOA = @CD_PESSOA

	-- AGORA VAMOS PEGAR O CICLO CONTABILIZANDO O INDICADOR 1002
	IF @CICLO_REINICIO > 0
		BEGIN
				SELECT @CICLO_INICIO = MIN(NM_CICLO) 
				FROM TB_PESSOA_INDICADOR
				WHERE CD_PESSOA            = @CD_PESSOA
				AND   CD_FUNCAO            = @CD_FUNCAO
				AND   CD_INDICADOR_PESSOAL = 1002
				AND   VL_INDICADOR_PESSOAL > 0
				AND	  NM_CICLO >= @CICLO_REINICIO
		END	
		
	-- NUNCA FOI DESATIVADA. FAZ O PROCESSO QUE JA FAZIA ANTES
	IF @CICLO_INICIO = 0
		BEGIN
			SELECT @CICLO_INICIO = MIN(NM_CICLO) 
			FROM TB_PESSOA_INDICADOR
			WHERE CD_PESSOA            = @CD_PESSOA
			AND   CD_FUNCAO            = @CD_FUNCAO
			AND   CD_INDICADOR_PESSOAL = 1002
			AND   VL_INDICADOR_PESSOAL > 0
		END 

-- TRECHO ANTIGO COMENTADO POR ANDERSON 
-- 08/04/2021 - TEVE UM CHAMADO EM QUE A PESSOA FOI REATIVADA EM 202101 E FEZ PEDIDO NO CICLO 02 E 03
-- PELO CODIGO ABAIXO O CICLO INICIO FOI BASEADO DESDE O INICIO DA PESSOA
-- E DEVERIA CONTAR APÓS A ULTIMA REATIVAÇÃO

-- SELECT @RESULTADO = isnull(SUM(A.VL_INDICADOR_PESSOAL),0) / (CASE WHEN COUNT(A.CD_PESSOA) = 0 THEN 1 ELSE COUNT(A.CD_PESSOA) END)
--  FROM TB_PESSOA_INDICADOR A,
--   (SELECT MIN(NM_CICLO) CICLO_INICIO
--       FROM TB_PESSOA_INDICADOR
--       WHERE CD_PESSOA            = @CD_PESSOA
--      AND   CD_FUNCAO            = @CD_FUNCAO
--       AND   CD_INDICADOR_PESSOAL = 1002
--       AND   VL_INDICADOR_PESSOAL > 0) B
--  WHERE A.CD_PESSOA             = @CD_PESSOA
--  AND   A.CD_FUNCAO             = @CD_FUNCAO
--  AND   A.CD_INDICADOR_PESSOAL  = 1002
--  AND   A.NM_CICLO              BETWEEN dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO,@QT_CICLOS)  AND @NM_CICLO
--  AND   A.NM_CICLO             >= B.CICLO_INICIO
--  AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 


	SELECT @RESULTADO = isnull(SUM(A.VL_INDICADOR_PESSOAL),0) / (CASE WHEN COUNT(A.CD_PESSOA) = 0 THEN 1 ELSE COUNT(A.CD_PESSOA) END)
	FROM TB_PESSOA_INDICADOR A
	WHERE A.CD_PESSOA             = @CD_PESSOA
	AND   A.CD_FUNCAO             = @CD_FUNCAO
	AND   A.CD_INDICADOR_PESSOAL  = 1002
	AND   A.NM_CICLO              BETWEEN dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO,@QT_CICLOS)  AND @NM_CICLO
	AND   A.NM_CICLO             >= @CICLO_INICIO
	AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 




  IF (@RESULTADO = 0)
  BEGIN
    SELECT @RESULTADO = CASE WHEN (COUNT(*) > 0) THEN 1 ELSE 0 END 
    FROM TB_PESSOA_PAPEL_HISTORICO
    WHERE CD_PESSOA       = @CD_PESSOA
    AND CD_FUNCAO         = @CD_FUNCAO
    AND CD_PAPEL_CARREIRA > 1
    AND NM_CICLO         <= @NM_CICLO
  END 

  RETURN @RESULTADO
END
GO
