SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_REGRA_COMERCIAL_COTA_PRODUTO_PESSOA](@CD_COTA_PRODUTO_PESSOA NUMERIC(18,0))

RETURNS VARCHAR(300)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(300)
  DECLARE @RESULTADO1 VARCHAR(300)
  DECLARE @V_CD_FUNCAO NUMERIC(18,0)
  DECLARE @V_DC_FUNCAO VARCHAR(50)
  DECLARE @CURSOR_INSUMO CURSOR	 
  
  select @RESULTADO = ''
  select @RESULTADO1 = ''
  
SET @CURSOR_INSUMO = CURSOR FAST_FORWARD
FOR
				
		-- **************************************************
		-- ALTERACAO FEITA POR ANDERSON
		-- INSERIDO SELECT COM PREÇOS POR REGRA COMERCIAL
		-- **************************************************
		SELECT X.CODIGO, X.DESCRICAO
		FROM (
			SELECT	A.CD_REGRA_COMERCIAL CODIGO, 
					B.DC_REGRA_COMERCIAL DESCRICAO
			FROM TB_COTA_PRODUTO_PESSOA_REGRA_COMERCIAL A, TB_REGRA_COMERCIAL B
			WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
			AND A.CD_COTA_PRODUTO_PESSOA = @CD_COTA_PRODUTO_PESSOA
			
			) X
		ORDER BY X.DESCRICAO ASC

OPEN @CURSOR_INSUMO
FETCH NEXT FROM @CURSOR_INSUMO
INTO @V_CD_FUNCAO, @V_DC_FUNCAO

	WHILE @@FETCH_STATUS = 0	
		BEGIN
			
			IF @RESULTADO1 = ''
				BEGIN
					SELECT @RESULTADO1 = CAST(@V_DC_FUNCAO as varchar(50))
				END
			ELSE
				BEGIN
					SELECT @RESULTADO1 = cast(@RESULTADO1 as varchar(300)) + ', ' + CAST(@V_DC_FUNCAO as varchar(50))
				END
			
			  
			FETCH NEXT FROM @CURSOR_INSUMO
			INTO @V_CD_FUNCAO, @V_DC_FUNCAO
		END
CLOSE      @CURSOR_INSUMO
DEALLOCATE @CURSOR_INSUMO
  
  select @RESULTADO = @RESULTADO1

  RETURN @RESULTADO
END
GO
