SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ FN_MN_CALCULA_VALOR_LIQUIDO_PEDIDO_MAKIE] (@NM_PEDIDO NUMERIC(18,0))  

--  CALCULA : 
--  VALOR LIQUIDO DOS ITENS DO PEDIDO (VALOR CATALOGO - LUCRATIVIDADE - FRETE - DESCONTO CUPOM - DESCONTO PLANO PAGAMENTO

RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO             NUMERIC(18,2) = 0
  
        SELECT @RESULTADO  = isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  			                                       (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ),0) )
															   ),0) -- VALOR  
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.NM_CICLO_APROVACAO       IS NOT NULL
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
	AND   A.NM_PEDIDO                = @NM_PEDIDO
        AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

  RETURN @RESULTADO
END
GO
