SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_REGRA_FISCAL_PEDIDO](@NUM_PEDIDO NUMERIC(18,0),@ID_TIPO_NOTA_FISCAL int)
RETURNS NUMERIC(18,2)
AS
BEGIN
	DECLARE @RESULTADO NUMERIC(18,0), @ID_TIPO_PESSOA INT

	BEGIN 	
		
		SELECT @ID_TIPO_PESSOA = ID_TIPO_PESSOA
		  FROM TB_PESSOA P, TB_PEDIDO PD
		 WHERE P.CD_PESSOA = PD.CD_PESSOA
		   AND PD.NM_PEDIDO = @NUM_PEDIDO

		IF @ID_TIPO_PESSOA = 1
			BEGIN

				SELECT @RESULTADO = ISNULL( MIN(RF.CD_REGRA_FISCAL),0)FROM 
				TB_PEDIDO PD, TB_REGRA_FISCAL_COMERCIAL RFC, TB_REGRA_FISCAL_NEW RF, 
				TB_REGRA_FISCAL_UF RUF, TB_PEDIDO_ENDERECO PEND 
     
				WHERE PEND.NM_PEDIDO = PD.NM_PEDIDO AND RF.CD_REGRA_FISCAL = RFC.CD_REGRA_FISCAL AND 
				PD.CD_REGRA_COMERCIAL = RFC.CD_REGRA_COMERCIAL AND RUF.CD_REGRA_FISCAL = RF.CD_REGRA_FISCAL 
				AND RUF.DC_UF_DESTINO = PEND.DC_ESTRUTURA_GEO2 AND PD.NM_PEDIDO = @NUM_PEDIDO
				AND RF.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
			END
		ELSE
			BEGIN
				SELECT @RESULTADO = ISNULL( MIN(RF.CD_REGRA_FISCAL),0)FROM 
				TB_PEDIDO PD, TB_REGRA_FISCAL_COMERCIAL RFC, TB_REGRA_FISCAL_NEW RF, 
				TB_REGRA_FISCAL_UF RUF, TB_PESSOA_ENDERECO PEND 
     
				WHERE PEND.CD_PESSOA = PD.CD_PESSOA AND RF.CD_REGRA_FISCAL = RFC.CD_REGRA_FISCAL AND 
				PD.CD_REGRA_COMERCIAL = RFC.CD_REGRA_COMERCIAL AND RUF.CD_REGRA_FISCAL = RF.CD_REGRA_FISCAL 
				AND RUF.DC_UF_DESTINO = PEND.DC_ESTRUTURA_GEO2 AND PD.NM_PEDIDO = @NUM_PEDIDO
				AND RF.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
				AND PEND.ID_TIPO_ENDERECO = 3
			END
    END

	RETURN @RESULTADO
END
GO
