SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_CENTRO_DISTRIBUICAO](@CD_CD NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_CENTRO_DISTRIBUICAO) 
  FROM TB_CENTRO_DISTRIBUICAO
  WHERE CD_CENTRO_DISTRIBUICAO = @CD_CD

  RETURN @RESULTADO
END
GO
