SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_DESC_FORNECEDOR](@CD_FORNECEDOR NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_FORNECEDOR) 
  FROM TB_FORNECEDOR
  WHERE CD_FORNECEDOR = @CD_FORNECEDOR

  RETURN @RESULTADO
END


GO
