SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_FiscalBuscaAliquotaIPI]
	(@p_codigoMaterial NUMERIC(18,0), 
	 @p_idTipoOperacaoFiscal INT, 
	 @p_idTipoNotaFiscal INT,
	 @p_codigoRegraFiscal numeric(18,0),
	 @p_idTipoPessoa INT)
RETURNS NUMERIC(18,2)
AS


BEGIN
	DECLARE @v_aliqIPI NUMERIC(18,2)
	select @v_aliqIPI = 0
	BEGIN 
		
		Select @v_aliqIPI = ISNULL(gif.VL_ALIQUOTA,0) 
		  from TB_GRUPO_IMPOSTOS_FEDERAIS gif WITH(NOLOCK), 
			   TB_GRUPO_IMPOSTOS G WITH(NOLOCK),
			   TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
	     where gif.CD_TRIBUTO = 1 
	       and gif.ID_TIPO_OPERACAO_FISCAL = @p_idTipoOperacaoFiscal 
	       and GRF.CD_MATERIAL = @p_codigoMaterial
		   AND G.CD_GRUPO_IMPOSTOS = GIF.CD_GRUPO_IMPOSTOS
		   AND G.ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal
		   AND G.CD_GRUPO_IMPOSTOS = GRF.CD_GRUPO_IMPOSTOS
		   AND GRF.CD_REGRA_FISCAL = @p_codigoRegraFiscal
		   AND GRF.ID_DESTINO_OPERACAO = @p_idTipoPessoa
	   
		if @v_aliqIPI = 0 
	   		BEGIN
				Select @v_aliqIPI = ISNULL(gif.VL_ALIQUOTA,0) 
				  from TB_GRUPO_IMPOSTOS_FEDERAIS gif WITH(NOLOCK), 
					   TB_GRUPO_IMPOSTOS G WITH(NOLOCK),
					   TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
				 where gif.CD_TRIBUTO = 1 
				   and gif.ID_TIPO_OPERACAO_FISCAL = @p_idTipoOperacaoFiscal 
				   and GRF.CD_CLASSIFICACAO_FISCAL = (SELECT M.CD_CLASSIFICACAO_FISCAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = @p_codigoMaterial)
				   AND G.CD_GRUPO_IMPOSTOS = GIF.CD_GRUPO_IMPOSTOS
				   AND G.ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal
				   AND G.CD_GRUPO_IMPOSTOS = GRF.CD_GRUPO_IMPOSTOS
				   AND GRF.CD_REGRA_FISCAL = @p_codigoRegraFiscal
				   AND GRF.ID_DESTINO_OPERACAO = @p_idTipoPessoa
			END
	END

	RETURN @v_aliqIPI
END
GO
