SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_DESC_SIT_COMERCIAL](@CD_FUNCAO INT, @CD_SITUACAO_COMERCIAL NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
	SELECT @RESULTADO = DC_SITUACAO_COMERCIAL
	FROM TB_NIVEL_SITUACAO_COMERCIAL
	WHERE CD_FUNCAO = @CD_FUNCAO
	AND CD_SITUACAO_COMERCIAL = @CD_SITUACAO_COMERCIAL

  RETURN @RESULTADO
END


GO
