SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICACAO_REAVALIACAO_FANES] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0) )  

--  CALCULA : 
--  QUALIFICACAO NOVA REAVALIAÇÃO

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL_1003 NUMERIC(18,0),
          @VL_INDICADOR_PESSOAL_1001 NUMERIC(18,0),
          @VL_INDICADOR_PESSOAL_1005 NUMERIC(18,0),
          @VL_INDICADOR_PESSOAL_1004 NUMERIC(18,0),
          @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,0),
          @VL_INDICADOR_PESSOAL_1007 NUMERIC(18,0),
	  @VL_INDICADOR_PESSOAL_1010 NUMERIC(18,0),
          @ID_FECHAMENTO             INT
  SELECT @RESULTADO = 1
  -- BUSCA O PAPEL ATUAL
  SELECT @VL_INDICADOR_PESSOAL_1005 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
  FROM TB_PESSOA_INDICADOR
  WHERE CD_PESSOA          = @CD_PESSOA
  AND CD_FUNCAO            = @CD_FUNCAO
  AND CD_INDICADOR_PESSOAL = 1005
  AND NM_CICLO             = @NM_CICLO
  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

  -- BUSCA O PERIODO ATUAL DA REAVALIAÇÃO
  SELECT @VL_INDICADOR_PESSOAL_1003 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
  FROM TB_PESSOA_INDICADOR
  WHERE CD_PESSOA          = @CD_PESSOA
  AND CD_FUNCAO            = @CD_FUNCAO
  AND CD_INDICADOR_PESSOAL = 1003
  AND NM_CICLO             = @NM_CICLO
  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
  
  
  IF (@VL_INDICADOR_PESSOAL_1003 = 0)  -- CICLO DE COMPRA DO KIT INICIO
  BEGIN

    -- BUSCA O KIT INICIO COMPRADO
    SELECT @VL_INDICADOR_PESSOAL_1001 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND CD_INDICADOR_PESSOAL = 1001
    AND NM_CICLO             = @NM_CICLO
    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
 
    IF (@VL_INDICADOR_PESSOAL_1001 = 0)
    BEGIN
      SELECT @RESULTADO = @VL_INDICADOR_PESSOAL_1005
    END
    ELSE IF (@VL_INDICADOR_PESSOAL_1001 = 1)
    BEGIN
      SELECT @RESULTADO = 1
    END
    ELSE IF (@VL_INDICADOR_PESSOAL_1001 = 2)
    BEGIN
      SELECT @RESULTADO = 2
    END
    ELSE IF (@VL_INDICADOR_PESSOAL_1001 = 3)
    BEGIN
      SELECT @RESULTADO = 3
    END
  END
 

  ELSE IF (@VL_INDICADOR_PESSOAL_1003 IN (1,2))  -- CICLO NÃO REAVALIACAÇÃO
  BEGIN
    SELECT @RESULTADO = @VL_INDICADOR_PESSOAL_1005
  END


  ELSE IF (@VL_INDICADOR_PESSOAL_1003 = 3)  -- CICLO REAVALIACAÇÃO
  BEGIN

    -- VERIFICAR SE É FECHAMENTO DO CICLO (REGRA NOVA)
    SELECT @ID_FECHAMENTO = COUNT(*) 
    FROM TB_CALENDARIO_COMERCIAL
    WHERE NM_CICLO                          = dbo.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO,2)
    AND CONVERT(CHAR(10), DT_INICIAL, 103)  = CONVERT(CHAR(10), GETDATE(), 103)
    AND CD_EST_COMERCIAL                    = @CD_EST_COMERCIAL

    IF (@ID_FECHAMENTO >= 1)
    BEGIN

      SELECT @RESULTADO = 1  -- ESTILISTA ESMERALDA (papel base)
      -- BUSCA A MÉDIA DE COMPRA PESSOAL NA REAVALIAÇÃO
      SELECT @VL_INDICADOR_PESSOAL_1004 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1004
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
   
      IF (@VL_INDICADOR_PESSOAL_1004 >= 1999 AND  @VL_INDICADOR_PESSOAL_1004 <= 2999)
      BEGIN
        SELECT @RESULTADO = 2  -- ESTILISTA SAFIRA
      END
   
      IF (@VL_INDICADOR_PESSOAL_1004 > 2999)
      BEGIN
        SELECT @RESULTADO = 3  -- ESTILISTA RUBI
      END

      IF (@VL_INDICADOR_PESSOAL_1005 = 3) -- ESTILISTA RUBI
      BEGIN
        -- BUSCA A QDE CICLOS CONSECUTIVOS ATIVO
        SELECT @VL_INDICADOR_PESSOAL_1006 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
        WHERE CD_PESSOA          = @CD_PESSOA
        AND CD_FUNCAO            = @CD_FUNCAO
        AND CD_INDICADOR_PESSOAL = 1006
        AND NM_CICLO             = @NM_CICLO
        AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- BUSCA A QDE DE NOVOS ESTILISTAS
        SELECT @VL_INDICADOR_PESSOAL_1007 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
        WHERE CD_PESSOA          = @CD_PESSOA
        AND CD_FUNCAO            = @CD_FUNCAO
        AND CD_INDICADOR_PESSOAL = 1007
        AND NM_CICLO             = @NM_CICLO
        AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
          
        IF (@VL_INDICADOR_PESSOAL_1006 >= 3 AND @VL_INDICADOR_PESSOAL_1007 >= 5)
        BEGIN
          SELECT @RESULTADO = 4  -- ESTILISTA EXECITUVO (a)
        END
      END

      IF (@VL_INDICADOR_PESSOAL_1005 = 4) -- ESTILISTA EXECUTIVO (a)
      BEGIN
        -- BUSCA A QDE CICLOS CONSECUTIVOS ATIVO
        SELECT @VL_INDICADOR_PESSOAL_1006 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
        WHERE CD_PESSOA          = @CD_PESSOA
        AND CD_FUNCAO            = @CD_FUNCAO
        AND CD_INDICADOR_PESSOAL = 1006
        AND NM_CICLO             = @NM_CICLO
        AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- BUSCA A QDE DE NOVOS ESTILISTAS
        SELECT @VL_INDICADOR_PESSOAL_1007 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
        WHERE CD_PESSOA          = @CD_PESSOA
        AND CD_FUNCAO            = @CD_FUNCAO
        AND CD_INDICADOR_PESSOAL = 1007
        AND NM_CICLO             = @NM_CICLO
        AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- BUSCA A MÉDIA DE COMPRA EQUIPE NA REAVALIAÇÃO
        SELECT @VL_INDICADOR_PESSOAL_1010 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
        WHERE CD_PESSOA          = @CD_PESSOA
        AND CD_FUNCAO            = @CD_FUNCAO
        AND CD_INDICADOR_PESSOAL = 1010
        AND NM_CICLO             = @NM_CICLO
        AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        --IF (@VL_INDICADOR_PESSOAL_1006 >= 3    AND  @VL_INDICADOR_PESSOAL_1004 >= 1200 AND  
        --    @VL_INDICADOR_PESSOAL_1010 >= 5000 AND  @VL_INDICADOR_PESSOAL_1007 >= 5)
        IF (@VL_INDICADOR_PESSOAL_1010 >= 5000 AND  @VL_INDICADOR_PESSOAL_1007 >= 5)  -- alteração solicita pelo Geri (20/08)


        BEGIN
          SELECT @RESULTADO = 4  -- ESTILISTA EXECITUVO (a)
        END
      END

    END
    ELSE
    BEGIN
      SELECT @RESULTADO = @VL_INDICADOR_PESSOAL_1005
    END

  END

  
  RETURN @RESULTADO
END





GO
