SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_POSSUI_FUNCAO_ATIVA](@CD_PESSOA NUMERIC(18,0), @CD_FUNCAO NUMERIC(18,0))
RETURNS INT
AS
BEGIN
  DECLARE @RESULTADO INT
 
	SELECT @RESULTADO = COUNT(*)
	FROM TB_PESSOA_FUNCAO with(nolock)
	WHERE CD_FUNCAO = @CD_FUNCAO
	AND CD_PESSOA = @CD_PESSOA
	AND ID_SITUACAO_FUNCAO = 1

  RETURN @RESULTADO
END
GO
