SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_NOME_PESSOA](@CD_PESSOA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE   @RESULTADO VARCHAR(80),
			@EXISTE_REGISTRO NUMERIC(18,0)
 
  SELECT @EXISTE_REGISTRO = COUNT(*)
  FROM TB_PESSOA_FISICA with (NOLOCK) 
  WHERE CD_PESSOA = @CD_PESSOA

  IF @EXISTE_REGISTRO > 0 	
	BEGIN
		SELECT @RESULTADO = ISNULL(DC_NOME,'') + ' ' + ISNULL(DC_SOBRENOME,'')
		FROM TB_PESSOA_FISICA with (NOLOCK) 
		WHERE CD_PESSOA = @CD_PESSOA
	END
	
  ELSE
	BEGIN
		SELECT @RESULTADO = ISNULL(DC_RAZAO_SOCIAL,'')
		FROM TB_PESSOA_JURIDICA with (NOLOCK) 
		WHERE CD_PESSOA = @CD_PESSOA
	END
	
  RETURN @RESULTADO
END
GO
