SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FN_BUSCA_DESC_SITUACAO_ORDEM_COLETA](@CD_SITUACAO_ORDEM_COLETA NUMERIC(18,0),
															@ID_IDIOMA INT)
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_SITUACAO_ORDEM_COLETA) 
  FROM TB_DESC_SITUACAO_ORDEM_COLETA
  WHERE CD_SITUACAO_ORDEM_COLETA = @CD_SITUACAO_ORDEM_COLETA
  AND ID_IDIOMA = @ID_IDIOMA

  RETURN @RESULTADO
END



GO
