SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 04/10/2016
-- Description:	Função para retornar o estoque de um produto de acordo com o tipo de Produto
-- =============================================
CREATE FUNCTION [dbo].[fn_produtoBuscaProdutoQtdEstoqueDisponivel]
(
	@p_codigoProduto		numeric(18,0)
)
RETURNS numeric(18,2)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_idAgrupamento			numeric(18,2),
			@v_codMaterial				numeric(18,2),
			@v_codAgrupador				numeric(18,0),
			@v_qtdeEstoqueKit			numeric(18,2),
			@v_qtdeEstoqueAgrupador		numeric(18,2),
			@v_qtdeEstoque				numeric(18,2),
			@v_retorno					numeric(18,2),
			@v_cursorKit				cursor,
			@v_qtdeComponente			int,
			@v_qtdeEstoqueComponente	numeric(18,0)
	
	--no caso dos kits vamos iniciar o estoque com 1 e zerá-lo somente se um dos componentes possuir estoque 0
	select @v_qtdeEstoqueKit = 1, @v_qtdeEstoqueAgrupador = 0, @v_qtdeEstoque = 0
	
	select @v_idAgrupamento = id_agrupamento,
		   @v_codMaterial = cd_material,
		   @v_codAgrupador = isnull(cd_codigo_agrupador,0)
	  from tb_produto_venda WITH(NOLOCK)
	 where cd_produto_venda = @p_codigoProduto
	 
	if @v_idAgrupamento = 1 --produto regular
		begin
			select @v_qtdeEstoque = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@v_codMaterial,0,0,1)
			
			select @v_retorno = @v_qtdeEstoque
		end
	
	if @v_idAgrupamento = 2 --kit
		begin
			--colocar cursor de kits e buscar o estoque de cada item
			SET @v_cursorKit = CURSOR FAST_FORWARD
			FOR
				SELECT	CD_MATERIAL,
						QT_UTILIZADA
				FROM TB_PRODUTO_VENDA_COMPONENTE WITH(NOLOCK)
				WHERE CD_PRODUTO_VENDA = @p_codigoProduto
				
			OPEN @v_cursorKit
			FETCH NEXT FROM @v_cursorKit
			INTO @v_codMaterial, @v_qtdeComponente

			WHILE @@FETCH_STATUS = 0
				BEGIN
					-- busca o estoque do item componente
					select @v_qtdeEstoqueComponente = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@v_codMaterial,0,0,1)

					-- vamos validar se o item está com o estoque zerado ou atende parcialmente ao item
					if @v_qtdeEstoqueComponente >= @v_qtdeComponente and @v_qtdeEstoqueKit > 0
						begin
							select @v_qtdeEstoqueKit = @v_qtdeEstoqueComponente
						end
					else
						begin
							select @v_qtdeEstoqueKit = 0
						end

					FETCH NEXT FROM @v_cursorKit
					INTO @v_codMaterial, @v_qtdeComponente
				END

			select @v_retorno = @v_qtdeEstoqueKit
		end
	
	if @v_idAgrupamento = 3
		begin
			--busca o total do estoque do código agrupador
			select @v_qtdeEstoqueAgrupador = isnull(sum(dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(cd_material,0,0,1)),0)
			  from tb_material WITH(NOLOCK)
			 where cd_codigo_agrupador = @v_codAgrupador
			 
			select @v_retorno = @v_qtdeEstoqueAgrupador
		end

	return @v_retorno
	
END
GO
