SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_SITUACAO_CADASTRO](@CD_PESSOA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS


BEGIN
	DECLARE @RESULTADO VARCHAR(80)

	-- IF 	@ID_TIPO_EMAIL = 0 -- PRIMEIRO QUE ACHAR
	--	BEGIN
	--		SELECT @RESULTADO = MIN(DC_EMAIL)
	--		FROM TB_PESSOA_EMAIL
    --   WHERE CD_PESSOA = @CD_PESSOA
	--	END
	-- ELSE
	--	BEGIN	  
 	--		SELECT @RESULTADO = DC_EMAIL
	--		FROM TB_PESSOA_EMAIL
	--		WHERE CD_PESSOA = @CD_PESSOA
	--		AND ID_TIPO_EMAIL = @ID_TIPO_EMAIL
	--	END
		

		BEGIN
			SELECT @RESULTADO = DC_SITUACAO_CADASTRO
			FROM TB_SITUACAO_CADASTRO SC, TB_PESSOA A
       WHERE A.CD_PESSOA = @CD_PESSOA and sc.CD_SITUACAO_CADASTRO = a.CD_SITUACAO_CADASTRO
		END

	RETURN @RESULTADO
END 
GO
