SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTOS_ACUMULADOS_REDE_CRESER]  (@CD_PESSOA NUMERIC(18,0), @NM_CICLO  NUMERIC(18,0), 
@CD_FUNCAO NUMERIC(18,0), @CD_EST_COMERCIAL NUMERIC(18,0))
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO          INT = 0
  DECLARE @CICLO              INT = 0
  DECLARE @CD_PAPEL_CARREIRA  NUMERIC(18,0)
  
  SELECT @CD_PAPEL_CARREIRA = CD_PAPEL_CARREIRA
  FROM TB_PESSOA_PAPEL_HISTORICO 
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO
  AND   NM_CICLO  = @NM_CICLO
 

  WHILE (@CD_PAPEL_CARREIRA  >= 5)   -- PAPEL RUBI
  BEGIN
    SELECT @CICLO = (@CICLO+1) 

    -- BUSCA O HISTORICO DO PAPEL
    SELECT @CD_PAPEL_CARREIRA = CD_PAPEL_CARREIRA
    FROM TB_PESSOA_PAPEL_HISTORICO 
    WHERE CD_PESSOA = @CD_PESSOA
    AND   CD_FUNCAO = @CD_FUNCAO
    AND   NM_CICLO  = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,(@CICLO+1))
  END
 
  IF (@CICLO = 0)   -- NÃO ATINGIU RUBI
  BEGIN
    SELECT @RESULTADO = 0
  END             
  ELSE
  BEGIN
    -- ACUMULA OS PONTOS
    SELECT @RESULTADO = isnull (SUM (VL_INDICADOR_PESSOAL), 0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND CD_INDICADOR_PESSOAL = 1003
    AND NM_CICLO            BETWEEN DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO) AND @NM_CICLO
    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL


  END
   
  RETURN @RESULTADO
END






GO
