SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_DIRETOS_ATIVOS_HAC] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO        NUMERIC(18,0),
                         @NM_CICLO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0) )

--  CALCULA : 
--  TOTAL DE PESSOAS DIRETOS ATIVOS

RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,2)

  SELECT @RESULTADO = 0
  SELECT @RESULTADO = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
  FROM TB_PESSOA_INDICADOR A,
        (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
         FROM TB_WRK_MN_TOPOLOGIA B1
         WHERE B1.CD_PESSOA               = @CD_PESSOA
         AND   B1.CD_FUNCAO               = @CD_FUNCAO
         AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
         AND   B1.NM_CICLO                = @NM_CICLO
         AND   B1.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
         AND   B1.NM_NIVEL                = 1 ) C   -- DIRETOS
  WHERE A.CD_PESSOA             = C.PESSOA
  AND   A.CD_FUNCAO             = @CD_FUNCAO
  AND   A.CD_INDICADOR_PESSOAL  = 11
  AND   A.NM_CICLO              = @NM_CICLO
  AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 

  RETURN @RESULTADO
END



GO
