SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_DESAFIO_DNANAMODA] (@CD_PESSOA NUMERIC(18,0),
                         @NM_CICLO          NUMERIC(18,0),
			 @CD_FUNCAO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL  NUMERIC(18,0) )  

--  CALCULA : 
--  DESAFIO (GAMEFICAÇÃO)

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)

  DECLARE @VL_INDICADOR_PESSOAL_1002 NUMERIC(18,0),  -- MESES NA QUALIFICAÇÃO ATUAL
	  @VL_INDICADOR_PESSOAL_1019 NUMERIC(18,0),  -- TAMANHO GRUPO
          @VL_INDICADOR_PESSOAL_1010 NUMERIC(18,0),  -- PONTOS GRUPO
          @VL_INDICADOR_PESSOAL_1029 NUMERIC(18,0)  -- ATIVIDADE GRUPO (ATIVOS / TAMANHO)


  SELECT @RESULTADO = 0

  -- MESES NA QUALIFICAÇÃO ATUAL
  SELECT @VL_INDICADOR_PESSOAL_1002  = ISNULL(SUM(A.VL_INDICADOR_PESSOAL), 1)
  FROM TB_PESSOA_INDICADOR  A  with(nolock)
  WHERE A.CD_PESSOA            = @CD_PESSOA
  AND A.CD_FUNCAO            = @CD_FUNCAO
  AND A.NM_CICLO             = @NM_CICLO  
  AND A.CD_INDICADOR_PESSOAL = 1002

  IF (@VL_INDICADOR_PESSOAL_1002 = 1)
  BEGIN
    -- TAMANHO GRUPO
    -- PONTOS GRUPO
    -- ATIVIDADE GRUPO (ATIVOS / TAMANHO)
    SELECT @VL_INDICADOR_PESSOAL_1019 = [1019],
           @VL_INDICADOR_PESSOAL_1010 = [1010],
           @VL_INDICADOR_PESSOAL_1029 = [1029]
    FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
         FROM TB_PESSOA_INDICADOR with(nolock)
         WHERE CD_PESSOA      = @CD_PESSOA
         AND CD_FUNCAO        = @CD_FUNCAO
         AND NM_CICLO         = @NM_CICLO
         AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
         AND CD_INDICADOR_PESSOAL IN (1019,1010,1029)
         GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
         PIVOT (SUM(VALOR) FOR INDICADOR IN ([1019],[1010],[1029])) EM_COLUNA 
  END
  ELSE
  BEGIN
    -- TAMANHO GRUPO
    -- PONTOS GRUPO
    -- ATIVIDADE GRUPO (ATIVOS / TAMANHO)
    SELECT @VL_INDICADOR_PESSOAL_1019 = [1019],
           @VL_INDICADOR_PESSOAL_1010 = [1010],
           @VL_INDICADOR_PESSOAL_1029 = [1029]
    FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
         FROM TB_PESSOA_INDICADOR with(nolock)
         WHERE CD_PESSOA      = @CD_PESSOA
         AND CD_FUNCAO        = @CD_FUNCAO
         AND NM_CICLO         = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
         AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
         AND CD_INDICADOR_PESSOAL IN (1019,1010,1029)
         GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
         PIVOT (SUM(VALOR) FOR INDICADOR IN ([1019],[1010],[1029])) EM_COLUNA 

  END  
  
  -- TAMANHO
  IF (@VL_INDICADOR_PESSOAL_1019 <= 10)
  BEGIN
    SET @RESULTADO = 0
  END
  ELSE IF (@VL_INDICADOR_PESSOAL_1019 >= 11 AND @VL_INDICADOR_PESSOAL_1019 <= 29)
  BEGIN
    SET @RESULTADO = 1.5
  END
  ELSE
  BEGIN
    SET @RESULTADO = 2
  END

  -- PONTOS
  IF (@VL_INDICADOR_PESSOAL_1010 < 950)
  BEGIN
    SET @RESULTADO = (@RESULTADO + 0)
  END
  ELSE IF (@VL_INDICADOR_PESSOAL_1010 >= 950 AND @VL_INDICADOR_PESSOAL_1010 <= 1150)
  BEGIN
    SET @RESULTADO = (@RESULTADO + 2)
  END
  ELSE
  BEGIN
    SET @RESULTADO = (@RESULTADO + 2.5)
  END

  -- ATIVIDADE
  IF (@VL_INDICADOR_PESSOAL_1029 <= 30.99)
  BEGIN
    SET @RESULTADO = (@RESULTADO + 0)
  END
  ELSE IF (@VL_INDICADOR_PESSOAL_1029 >= 31 AND @VL_INDICADOR_PESSOAL_1029 <= 49.99)
  BEGIN
    SET @RESULTADO = (@RESULTADO + 1.5)
  END
  ELSE
  BEGIN
    SET @RESULTADO = (@RESULTADO + 2)
  END

  RETURN @RESULTADO
END
GO
