SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- *****************************************************************
-- É PRECISO ADICIONAR OS PARAMETROS DE PESSOA E PEDIDO
-- POIS EXISTEM ENDEREÇOS QUE NÃO POSSUEM BAIRRO E RUA
-- E ESSAS INFORMAÇÕES SÕ GRAVADAS MANUALMENTE PELO USUARIO
-- SE MANDARMOS UM BAIRRO VAZIO TEREMOS PROBLEMAS NO FATURAMENTO
-- PRIMEIRO VAMOS BUSCAR NA EST GEOGRAFICA. SE NAO ENCONTRAMOS VAMOS BUSCAR 
-- NAS TABELA TB_PESSOA_ENDERECO E TB_PEDICO_ENDERECO
-- *****************************************************************

CREATE FUNCTION [dbo].[FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL](@CD_EST_GEOGRAFICA NUMERIC(18,0), 
														  @CD_NIVEL INT,
														  @CD_PESSOA NUMERIC(18,0),
														  @ID_TIPO_ENDERECO INT,
														  @NM_PEDIDO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
	IF @CD_NIVEL = 1
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
		END 
 	
 	IF @CD_NIVEL = 2
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
		END 
	
	IF @CD_NIVEL = 3
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
		END 
 	
 	IF @CD_NIVEL = 4 -- BAIRRO
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
			
			IF @RESULTADO = '-'
				BEGIN
					
					IF @CD_PESSOA <> 0 
						BEGIN
							SELECT @RESULTADO = DC_ESTRUTURA_GEO4
							FROM TB_PESSOA_ENDERECO
							WHERE CD_PESSOA = @CD_PESSOA
							AND ID_TIPO_ENDERECO = @ID_TIPO_ENDERECO
						END
					
				END
				
		END 
	
	IF @CD_NIVEL = 5 -- RUA
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
		END 
		
	IF @CD_NIVEL = 6
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO6))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
		END 
	
	IF @CD_NIVEL = 7
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO7))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
		END 
		
	IF @CD_NIVEL = 8
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO8))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
		END 
		
	IF @CD_NIVEL = 9
		BEGIN
			SELECT @RESULTADO = MAX(DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO9))
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
		END 
 
  RETURN @RESULTADO
END
GO
