SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_PESSOA_ADIMPLENTE](@CD_PESSOA NUMERIC(18,0))

RETURNS NUMERIC(18,0)
AS
BEGIN
	DECLARE @RESULTADO	NUMERIC(18,0)

	SELECT @RESULTADO = COUNT(DISTINCT C.CD_PESSOA)
	FROM TB_DIVIDA C WITH (NOLOCK),
		(SELECT B.NM_PEDIDO PEDIDO, MAX(B.CD_DIVIDA) MAX_DIVIDA
		FROM TB_DIVIDA B WITH (NOLOCK),
		     (SELECT NM_PEDIDO PEDIDO FROM TB_PEDIDO WITH (NOLOCK) WHERE CD_PESSOA = @CD_PESSOA AND NM_CICLO_CANCELAMENTO IS NULL) A
		WHERE B.NM_PEDIDO = A.PEDIDO 
		GROUP BY B.NM_PEDIDO) B
	WHERE C.NM_PEDIDO = B.PEDIDO
	AND   C.CD_DIVIDA = B.MAX_DIVIDA
	AND   C.ID_SITUACAO_PAGAMENTO = 3 
   	RETURN CASE WHEN @RESULTADO > 0  THEN 0 ELSE 1 END
END
GO
