SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_VERIFICA_CALCULA_INDICADOR_PESSOAL](@CD_INDICADOR_PESSOAL NUMERIC(18,0),
						              @ID_MOMENTO_CALCULO_INDICADOR INT)
RETURNS INT
AS
BEGIN
	DECLARE @RESULTADO	INT
	
	SELECT @RESULTADO = ISNULL(MIN(ID_CALCULA_INDICADOR),0)
	FROM TB_INDICADOR_PESSOAL WITH(NOLOCK)
	WHERE CD_INDICADOR_PESSOAL       = @CD_INDICADOR_PESSOAL
	AND ID_MOMENTO_CALCULO_INDICADOR = @ID_MOMENTO_CALCULO_INDICADOR   --1  ONLINE / 2 BATCH (FIM-DIA)
	
   RETURN @RESULTADO
END
GO
