SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_VOLUME_TOTAL_PEDIDO](@NM_PEDIDO NUMERIC(18,0))
RETURNS NUMERIC(18,4)
AS
BEGIN

  -- **************************************************	
  -- FUNCAO RETORNA O VOLUME TOTAL DO PEDIDO
  -- **************************************************
  
  DECLARE @RESULTADO NUMERIC(18,4)
  
  
  SELECT @RESULTADO = SUM(A.NM_VOLUME_PEDIDO + B.NM_VOLUME_PEDIDO_PROMOCAO)
  FROM
	(SELECT ISNULL(SUM(MA.NM_VOLUME * PE.QT_RESERVADA), 0) NM_VOLUME_PEDIDO
		FROM TB_PEDIDO_ITEM PE, TB_MATERIAL MA
		WHERE PE.NM_PEDIDO = @NM_PEDIDO
		--AND PE.ID_AGRUPAMENTO = 1
		AND PE.CD_MATERIAL = MA.CD_MATERIAL) A,
	(SELECT ISNULL(SUM(MA.NM_VOLUME * PE.QT_RESERVADA),0) NM_VOLUME_PEDIDO_PROMOCAO
		FROM TB_PEDIDO_ITEM_PROMOCAO PE, TB_MATERIAL MA
		WHERE PE.NM_PEDIDO = @NM_PEDIDO
		--AND PE.ID_AGRUPAMENTO = 1
		AND PE.CD_MATERIAL = MA.CD_MATERIAL
		AND PE.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 ) B
  

  RETURN @RESULTADO
  
END
GO
