SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_ALIQUOTA_PIS](@CD_MATERIAL NUMERIC(18,0), 
											 @ID_TIPO_OPERACAO_FISCAL INT, 
											 @ID_TIPO_NOTA_FISCAL INT,
											 @CD_REGRA_FISCAL NUMERIC(18,0),
											 @ID_TIPO_PESSOA INT)
RETURNS NUMERIC(18,2)
AS


BEGIN
	DECLARE @RESULTADO NUMERIC(18,2)
	select @resultado = 0
		BEGIN 

			Select @RESULTADO = ISNULL(gif.VL_ALIQUOTA,0) from TB_GRUPO_IMPOSTOS_FEDERAIS gif WITH(NOLOCK), TB_GRUPO_IMPOSTOS G WITH(NOLOCK), TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
			where gif.CD_TRIBUTO = 2 and gif.ID_TIPO_OPERACAO_FISCAL = @ID_TIPO_OPERACAO_FISCAL and GRF.CD_MATERIAL = @CD_MATERIAL
			AND G.CD_GRUPO_IMPOSTOS = GIF.CD_GRUPO_IMPOSTOS
			AND G.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
			AND GRF.ID_DESTINO_OPERACAO = @ID_TIPO_PESSOA
			AND GRF.CD_REGRA_FISCAL = @CD_REGRA_FISCAL
			AND GRF.CD_GRUPO_IMPOSTOS = G.CD_GRUPO_IMPOSTOS

	   if @resultado = 0 
	   	BEGIN

            Select @RESULTADO = ISNULL(gif.VL_ALIQUOTA,0) from TB_GRUPO_IMPOSTOS_FEDERAIS gif WITH(NOLOCK), TB_GRUPO_IMPOSTOS G WITH(NOLOCK), TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
			where gif.CD_TRIBUTO = 2 and gif.ID_TIPO_OPERACAO_FISCAL = @ID_TIPO_OPERACAO_FISCAL 
			and GRF.CD_CLASSIFICACAO_FISCAL = (SELECT M.CD_CLASSIFICACAO_FISCAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = @CD_MATERIAL)
			AND G.CD_GRUPO_IMPOSTOS = GIF.CD_GRUPO_IMPOSTOS
			AND G.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
			AND GRF.ID_DESTINO_OPERACAO = @ID_TIPO_PESSOA
			AND GRF.CD_REGRA_FISCAL = @CD_REGRA_FISCAL
			AND GRF.CD_GRUPO_IMPOSTOS = G.CD_GRUPO_IMPOSTOS
		END

	END

	RETURN @RESULTADO
END
GO
