SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_RemoveCaracteresEspeciais](
    @p_descTexto VARCHAR(5000)
)
RETURNS VARCHAR(5000)
AS
BEGIN
    DECLARE 
        @Result VARCHAR(MAX), 
        @StartingIndex INT = 0
   
    WHILE (1 = 1)
    BEGIN 
        SET @StartingIndex = PATINDEX('%[^a-Z|0-9|^ ]%',@p_descTexto) 
        
        IF (@StartingIndex <> 0)
            SET @p_descTexto = REPLACE(@p_descTexto,SUBSTRING(@p_descTexto, @StartingIndex,1),'') 
        ELSE 
            BREAK
	END	
    
    SET @Result = REPLACE(@p_descTexto,'|','')
    
    RETURN @Result
END
GO
