SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICACAO_BIOGALENA] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0) )  

--  CALCULA : 
--  QUALIFICACAO 

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL_1014   NUMERIC(18,0),
          @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,0),
          @VL_INDICADOR_PESSOAL_1012 NUMERIC(18,0)

  DECLARE @CD_PAPEL_CARREIRA     NUMERIC(18,0)

  -- BUSCA O PAPEL DE CARREIRA
  SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA
  FROM TB_PESSOA_RESUMO
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO

  IF (@CD_PAPEL_CARREIRA = 1)  -- CONSULTOR
  BEGIN
    -- BUSCA O INDICADOR 11
    SELECT @VL_INDICADOR_PESSOAL_1014 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND CD_INDICADOR_PESSOAL = 1014
    AND NM_CICLO             = @NM_CICLO
    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL    

    -- BUSCA O INDICADOR 1006
    SELECT @VL_INDICADOR_PESSOAL_1006 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND CD_INDICADOR_PESSOAL = 1006
    AND NM_CICLO             = @NM_CICLO
    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL    
 
    IF (@VL_INDICADOR_PESSOAL_1014 >= 1 AND @VL_INDICADOR_PESSOAL_1006 >= 6)
    BEGIN
      SELECT @RESULTADO = 2
    END
    ELSE
    BEGIN
      SELECT @RESULTADO = 1
    END
  END


  ELSE IF (@CD_PAPEL_CARREIRA = 2)  -- CONSULTOR PREMIUM
  BEGIN
    SELECT @RESULTADO = 2
  END
  
  ELSE IF (@CD_PAPEL_CARREIRA = 4)  -- PROFISSIONAL
  BEGIN
    SELECT @RESULTADO = 4
  END

  RETURN @RESULTADO
END
GO
