SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_CEP_ORIGEM_PEDIDO](@NM_PEDIDO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN

  -- FUNCAO RETORNA O CEP DE ORIGEM DO PEDIDO
  -- QUE É O CEP DO CD
  
  DECLARE @RESULTADO VARCHAR(80)
  
  SELECT @RESULTADO = PE.DC_CODIGO_POSTAL
  FROM TB_PEDIDO P, TB_CENTRO_DISTRIBUICAO CD, TB_PESSOA_ENDERECO PE
  WHERE P.NM_PEDIDO = @NM_PEDIDO
  AND P.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
  AND PE.CD_PESSOA = CD.CD_EMPRESA

  RETURN @RESULTADO
  
END
GO
