SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 23/08/2013
-- Description:	Função para retornar a sigla do WS para uma UF informada
-- =============================================
CREATE FUNCTION [dbo].[FN_BUSCA_SIGLA_WS_NFE]
(
		@UF VARCHAR(5), @ID_CONTINGENCIA INT --0 NÃO / 1 SIM
)
RETURNS VARCHAR(20)
AS
BEGIN
	
	DECLARE @SIGLA_WS VARCHAR(20)

	-- SVAN (ES, MA, PA, PI e RN) ou a sigla SVRS (AC, AL, AP, DF, PB, RJ, RO, RR, SC, SE e TO), ou informar a sigla da UF (AM, BA, CE, GO, MS, MT, MG, PE, PR, RS e SP) 
	--nos casos de UF que tenham aplicação própria. Em caso de emissão em contingência SCAN - Sistema de Contingência do Ambiente Nacional, informar a sigla SCAN.
	
	IF @UF = 'MA' OR @UF = 'PA'
		BEGIN
			SELECT @SIGLA_WS = 'SVAN'
		END
	
	IF @UF = 'AC' OR @UF = 'AL' OR @UF = 'AP' OR @UF = 'DF' OR @UF = 'ES' OR @UF = 'PB' OR @UF = 'PI' OR @UF = 'RJ' OR @UF = 'RN' OR @UF = 'RO' OR @UF = 'RR' OR @UF = 'SC' OR @UF = 'SE' OR @UF = 'TO'
		BEGIN
			SELECT @SIGLA_WS = 'SVRS'
		END

	IF @UF = 'AM' OR @UF = 'CE' OR @UF = 'GO' OR @UF = 'MS' OR @UF = 'MT' OR @UF = 'MG' OR @UF = 'PE' OR @UF = 'RS'
		BEGIN
			SELECT @SIGLA_WS = @UF
		END
	
	if @UF = 'BA'
		begin
			select @SIGLA_WS = 'BA'
		end
		
	IF @UF = 'PR'
		BEGIN
			SELECT @SIGLA_WS = 'PR'
		END
		
	IF @UF = 'SP'
		BEGIN
			SELECT @SIGLA_WS = 'SP'
		END

	--IF @UF = 'MG'
	--	BEGIN
	--		SELECT @SIGLA_WS = 'SVC-AN'
	--	END
		
	IF @ID_CONTINGENCIA = 1
		BEGIN
			SELECT @SIGLA_WS = 'SVC-AN'
		END
		
	RETURN @SIGLA_WS

END
GO
