SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_CEP_PESSOA](@CD_PESSOA NUMERIC(18,0))
											
RETURNS VARCHAR(80)
AS
BEGIN

	DECLARE @V_ID_TIPO_PESSOA INT
	DECLARE @RESULTADO VARCHAR(80)

	-- PRIMEIRO VERIFICA SE É PESSOA FISICA OU JURIDICA
  
	SELECT @V_ID_TIPO_PESSOA = ID_TIPO_PESSOA
	FROM TB_PESSOA with (NOLOCK) 
	WHERE CD_PESSOA = @CD_PESSOA
  
	IF @V_ID_TIPO_PESSOA = 1
		BEGIN
			SELECT @RESULTADO = DC_CODIGO_POSTAL
			FROM TB_PESSOA_ENDERECO with (NOLOCK) 
			WHERE CD_PESSOA = @CD_PESSOA
			AND ID_TIPO_ENDERECO = 1
		END
	ELSE
		BEGIN
			SELECT @RESULTADO = DC_CODIGO_POSTAL
			FROM TB_PESSOA_ENDERECO with (NOLOCK) 
			WHERE CD_PESSOA = @CD_PESSOA
			AND ID_TIPO_ENDERECO = 3
		END
	

  RETURN @RESULTADO
  
END


GO
