SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- **********************************************************************************************
-- FUNÇÃO QUE RETORNA SE A PESSOA FOI INICIO NUM DETERMINADO CICLO
-- COMO PARAMETROS DE ENTRADA TEMOS A PESSOA, FUNÇÃO E O CICLO
-- E A FUNÇÃO VAI VERIFICAR SE NAQUELE CICLO A PESSOA FOI UM INICIO
-- FUNÇÃO IMPORTANTE USADA NO CALCULOD E INDICADORES DE CANAL DE INICIO
-- RETORNA 1 SE A PESSOA FOI INICIO NAQUELE CICLO E 0 SE NÃO FOI INICIO
-- **********************************************************************************************

CREATE FUNCTION [dbo].[fn_PessoaVerificaSeInicioCiclo](@p_cdPessoa NUMERIC(18,0),
														 @p_cdFuncao NUMERIC(18,0),
														 @p_nmCiclo	NUMERIC(18,0))
RETURNS INTEGER
AS

BEGIN
	
	DECLARE @V_QTD_REGISTROS			INT
	DECLARE @Cursor						CURSOR
	DECLARE @v_Resultado				INTEGER
	DECLARE @v_nmPedido					NUMERIC(18,0)

	DECLARE @v_nmCicloAprovacao			NUMERIC(18,0)
	DECLARE @v_nmCicloCancelamento		NUMERIC(18,0)
	DECLARE @v_cdSituacaoPedido			INT

	DECLARE	@v_nmCicloInicio			NUMERIC(18,0)



	-- *************************************************************************************************************
	-- PRIMEIRO PASSO VERIFICA TODOS OS PEDIDOS DA PESSOA (DA VIDA) E QUE TENHA CICLO DE APROVAÇÃO
	-- VAMOS BUSCAR TAMBEM OS CANCELADOS POIS SE O PEDIDO FOI CANCELADO NO CICLO SEGUINTE A APROVAÇÃO
	-- CONTA COMO INICIO NO CICLO EM QUE FOI CANCELADO
	-- *************************************************************************************************************

	SELECT @V_QTD_REGISTROS = COUNT(*) 
	FROM TB_PEDIDO P WITH (NOLOCK)
	WHERE P.CD_PESSOA = @p_cdPessoa
	AND P.CD_FUNCAO = @p_cdFuncao
	AND P.NM_CICLO_APROVACAO IS NOT NULL
	
	-- SE FOR 0 ENTÃO ELA NUNCA FEZ PEDIDOS APROVADOS
	-- ENTÃO NUNCA FOI INICIO
	IF @V_QTD_REGISTROS = 0
		BEGIN
			SELECT @v_Resultado = 0
			RETURN @v_Resultado
		END
	ELSE
		BEGIN

			-- *************************************************************************************************************
			-- SEGUNDO PASSO VAMOS VERIFICAR OS PEDIDOS ENCONTRADOS PARA SABER O CICLO INICIO
			-- *************************************************************************************************************

			SET @Cursor = CURSOR FAST_FORWARD
			FOR

				SELECT P.NM_PEDIDO, P.NM_CICLO_APROVACAO, P.NM_CICLO_CANCELAMENTO, P.CD_EST_SITUACAO 
				FROM TB_PEDIDO P WITH (NOLOCK)
				WHERE P.CD_PESSOA = @p_cdPessoa
				AND P.CD_FUNCAO = @p_cdFuncao
				AND P.NM_CICLO_APROVACAO IS NOT NULL
				ORDER BY NM_CICLO_APROVACAO ASC

			OPEN @Cursor
			FETCH NEXT FROM @Cursor
			INTO @v_nmPedido, @v_nmCicloAprovacao, @v_nmCicloCancelamento, @v_cdSituacaoPedido

			WHILE @@FETCH_STATUS = 0
				BEGIN

					IF @v_cdSituacaoPedido = 3
						BEGIN
							-- SE FOI APROVADO MAS FOI CANCELADO NO MESMO CICLO NÃO SERÁ CONSIDERADO COMO INICIO
							-- E VAMOS PARA O PROXIMO REGISTRO
							IF @v_nmCicloAprovacao = @v_nmCicloCancelamento
								BEGIN
									SELECT @v_Resultado = 0
								END
							ELSE
								-- SE FOI APROVADO E CANCELADO EM CICLOS DIFERENTES ENTÃO TEMOS QUE CONSIDERAR
								-- O INICIO NO CICLO QUE FOI CANCELADO
								BEGIN
									SELECT @v_nmCicloInicio = @v_nmCicloAprovacao
							
									IF @v_nmCicloInicio = @p_nmCiclo
										BEGIN
											SELECT @v_Resultado = 1
											RETURN @v_Resultado
										END
									ELSE
										BEGIN
											SELECT @v_Resultado = 0
											RETURN @v_Resultado
										END
								END
						END
					ELSE
						BEGIN
							SELECT @v_nmCicloInicio = @v_nmCicloAprovacao
							
							IF @v_nmCicloInicio = @p_nmCiclo
								BEGIN
									SELECT @v_Resultado = 1
									RETURN @v_Resultado
								END
							ELSE
								BEGIN
									SELECT @v_Resultado = 0
									RETURN @v_Resultado
								END
						END
									
									
							
					FETCH NEXT FROM @Cursor
					INTO @v_nmPedido, @v_nmCicloAprovacao, @v_nmCicloCancelamento, @v_cdSituacaoPedido
	
				END




		END

	RETURN @v_Resultado
END




GO
