SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_REGREDIR_CONSUMIDOR_MMN]  (@CD_PESSOA NUMERIC(18,0), 
                                                      @CD_FUNCAO NUMERIC(18,0),   
		        			      @NM_CICLO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
-- FUNÇÃO RETORNA A INFORMAÇÃO SE PESSOA DEVE REGREDIR A QUALIFICACAO DE CONSUMIDOR

AS
BEGIN
  DECLARE @RESULTADO           NUMERIC(18,0)  -- VALORES (0 - REGREIDE A CONSUMIDOR / 1 - NAO REGRIDE A CONSUMIDOR)
  DECLARE @V_CD_EST_COMERCIAL  NUMERIC(18,0),
          @V_VL_INDICADOR_1001 NUMERIC(18,0),
          @V_VL_INDICADOR_1002 NUMERIC(18,0),
          @V_VL_INDICADOR_1003 NUMERIC(18,0),
          @V_VL_INDICADOR_1004 NUMERIC(18,0),
          @V_VL_INDICADOR_1022 NUMERIC(18,0)

  SELECT @RESULTADO = 0
  -- BUSCA A ESTRUTURA COMERCIAL
  SELECT @V_CD_EST_COMERCIAL = CD_EST_COMERCIAL
  FROM TB_PESSOA_RESUMO
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO
	                 
  -- VERIFICA SE A PESSOA COMPROU O KIT INICIO A 6 CICLOS
  SELECT @V_VL_INDICADOR_1002 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
  FROM TB_PESSOA_INDICADOR
  WHERE CD_PESSOA          = @CD_PESSOA
  AND CD_FUNCAO            = @CD_FUNCAO
  AND CD_INDICADOR_PESSOAL = 1002
  AND NM_CICLO             BETWEEN DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO ,7) AND @NM_CICLO
  AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL

  IF (@V_VL_INDICADOR_1002 = 1)
  BEGIN

    -- VERIFICA SE A PESSOA COMPROU O KIT INICIO A 6 CICLOS
    SELECT @V_VL_INDICADOR_1002 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND CD_INDICADOR_PESSOAL = 1002
    AND NM_CICLO             = @NM_CICLO
    AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL

    IF (@V_VL_INDICADOR_1002 = 1)
    BEGIN
      -- VERIFICAR SE O CARTAO ESTA VALIDO
      SELECT @V_VL_INDICADOR_1001 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1001
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
      IF (@V_VL_INDICADOR_1001 = 1)
      BEGIN
        SELECT @RESULTADO = 1 
      END
      ELSE
      BEGIN
        SELECT @RESULTADO = 0
      END
    END
    ELSE
    BEGIN
      SELECT @RESULTADO = 1
    END
  END
  ELSE
  BEGIN
    -- BUSCA INDICADOR SE COMPROU O KIT
    SELECT @V_VL_INDICADOR_1022 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND CD_INDICADOR_PESSOAL = 1022
    AND NM_CICLO             = @NM_CICLO
    AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL

    IF (@V_VL_INDICADOR_1022 = 1)
    BEGIN
      -- BUSCA CONSUMIDORES NOVOS
      SELECT @V_VL_INDICADOR_1003 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1003
      AND NM_CICLO             BETWEEN DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO ,6) AND @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
			
      -- BUSCA INDICADOS NOVOS (KIT INICIO)
      SELECT @V_VL_INDICADOR_1004 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1004
      AND NM_CICLO             BETWEEN DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO ,6) AND @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
    
      IF (@V_VL_INDICADOR_1003 >= 1 OR @V_VL_INDICADOR_1004  >= 1)
      BEGIN
        SELECT @RESULTADO = 1 
      END
      ELSE
      BEGIN
        SELECT @RESULTADO = 0
      END
    END
    ELSE
    BEGIN
      SELECT @RESULTADO = 0
    END
  END

  RETURN @RESULTADO
END


GO
