SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Aldir Tirelli
-- Create date: 02/10/2020
-- Description:	Função para retornar o preço "POR" de um produto passando o ciclo e a função da pessoa
-- =============================================
CREATE FUNCTION [dbo].[fn_produtoBuscaProdutoPrecoPORCicloFuncao]
(
	@p_codigoProduto		numeric(18,0),
	@p_nmCiclo				numeric(18,0),
	@p_codigoFuncao			int,
	@p_codigoRegraComercial numeric(18,0)
)
RETURNS numeric(18,2)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_valorPrecoProduto numeric(18,2)

	IF @p_codigoFuncao > 0 --SE FOR INFORMADA UMA FUNÇÃO VÁLIDA TENTA BUSCA O PREÇO PARA ELA
		BEGIN
			--SELECT	@v_valorPrecoProduto = isnull(MIN(VL_PRECO),0)
			--FROM TB_PRODUTO_VENDA_PRECO A WITH(NOLOCK)
			--WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
			--AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
			--AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B WITH(NOLOCK) WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @p_codigoFuncao )
			--	OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C WITH(NOLOCK) WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @p_codigoRegraComercial ))
			--AND A.VL_PRECO > 0
			--AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))

			SELECT	@v_valorPrecoProduto = isnull(MIN(VL_PRECO),0)
			FROM TB_PRODUTO_VENDA_PRECO Z WITH(NOLOCK)
			WHERE Z.CD_PRODUTO_VENDA_PRECO IN (

			SELECT MAX(A.CD_PRODUTO_VENDA_PRECO)
			FROM TB_PRODUTO_VENDA_PRECO A WITH(NOLOCK)
			WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
			AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
			AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B WITH(NOLOCK) WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @p_codigoFuncao )
				OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C WITH(NOLOCK) WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @p_codigoRegraComercial ))
			AND A.VL_PRECO > 0
			AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))

			)
		END
		
	IF @p_codigoFuncao = 0 --SE NÃO FOR INFORMADA UMA FUNÇÃO VAMOS MOSTRAR O PREÇO DE CONSUMIDOR FINAL E CICLO ATUAL GENERICO

		BEGIN
				-- PEGA O PRIMEIRO CICLO BASEADO NA DATA DE HOJE INDEPENDNETE DA EST. COMERCIAL			
				SELECT @p_nmCiclo = MIN(B.NM_CICLO) 
				FROM TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
				WHERE convert(date,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL					

				--SELECT	@v_valorPrecoProduto = isnull(MIN(VL_PRECO),0)
				--FROM TB_PRODUTO_VENDA_PRECO A WITH(NOLOCK), TB_PRODUTO_VENDA_PRECO_FUNCAO B WITH(NOLOCK)
				--WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
				--AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
				--AND A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO
				--AND B.CD_FUNCAO = 1 
				--AND A.VL_PRECO > 0
				--AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))

				SELECT	@v_valorPrecoProduto = isnull(MIN(VL_PRECO),0)
				FROM TB_PRODUTO_VENDA_PRECO Z WITH(NOLOCK)
				WHERE Z.CD_PRODUTO_VENDA_PRECO IN (
				
				SELECT MAX(A.CD_PRODUTO_VENDA_PRECO)
				FROM TB_PRODUTO_VENDA_PRECO A WITH(NOLOCK), TB_PRODUTO_VENDA_PRECO_FUNCAO B WITH(NOLOCK)
				WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
				AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
				AND A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO
				AND B.CD_FUNCAO = 1 
				AND A.VL_PRECO > 0
				AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))
				)

				--SELECT @v_valorPrecoProduto = 0
		end
	
	-- Return the result of the function
	RETURN @v_valorPrecoProduto

END
GO
