SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_INDICADOS](@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO         NUMERIC(18,0),
                         @NM_CICLO          NUMERIC(18,0),
                         @NM_NIVEL          NUMERIC(18,0),
                         @CD_SITUACAO_COML  NUMERIC(18,0))

-- NM_NIVEL = 1000 TODOS OS NÃ VEIS (GRUPO)
-- CD_SITUACAO_COMERCIAL = 100 (TODAS AS SITUAÃ‡Ã•ES COMERCIAIS)


--  CALCULA : 
--  TOTAL DE INDICADOS DIRETO E GRUPO
--  TOTAL DE INDICADOS ATIVOS DIRETO E GRUPO

RETURNS NUMERIC(18,4)
AS
BEGIN

  DECLARE @RESULTADO	     NUMERIC(18,4)
  DECLARE @CD_EST_COMERCIAL  NUMERIC(18,0)
  DECLARE @QDE_PESSOA        NUMERIC(18,0) 

  SELECT @CD_EST_COMERCIAL = CD_EST_COMERCIAL
  FROM TB_PESSOA_RESUMO 
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO	

  SELECT  @RESULTADO  = 0
         ,@QDE_PESSOA = 0

  -- BUSCA A QUANTIDADE INDICAÃ‡Ã•ES
  SELECT @RESULTADO = isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  
  FROM  TB_WRK_MN_TOPOLOGIA A, TB_HIST_SITUACAO_CONSULTORA B
   WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
  AND   A.NM_CICLO               = B.NM_CICLO
  AND   B.CD_SITUACAO_COMERCIAL BETWEEN 1 AND @CD_SITUACAO_COML
  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
  AND   A.CD_PESSOA              = @CD_PESSOA
  AND   A.CD_FUNCAO              = @CD_FUNCAO
  AND   A.NM_CICLO               = @NM_CICLO
  AND   A.ID_ORDEM               = 2 -- DESCENDENTE
  AND   A.ID_TIPO_REDE_MN        = 1 -- REDE UNILEVEL
  AND   A.NM_NIVEL              <= @NM_NIVEL 
  AND  ( (A.CD_PESSOA_VINCULADA NOT IN 
  (  SELECT DISTINCT CD_PESSOA PESSOA FROM TB_PESSOA_FISICA PF,
      (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- DIAMANTE
               ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA DIAMANTE
        FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  
TB_WRK_MN_TOPOLOGIA C
        WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
        AND   A.CD_FUNCAO             = B.CD_FUNCAO
        AND   A.NM_CICLO              = B.NM_CICLO
        AND   A.CD_PESSOA             = @CD_PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.ID_ORDEM              = 2 -- DESCENDENTE
        AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B.CD_PAPEL_DESEMPENHO  >= 9
        AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
        AND   C.NM_CICLO              = A.NM_CICLO
        AND   C.CD_FUNCAO             = A.CD_FUNCAO 
        AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
        AND   C.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL  
       ) B1
       WHERE PF.CD_PESSOA = B1.PESSOA2 OR PF.CD_PESSOA = B1.PESSOA3
       )) OR ( @NM_NIVEL = 1))







  IF (@NM_NIVEL = 1000)
  BEGIN
    SELECT @QDE_PESSOA = isnull(COUNT(DISTINCT B.CD_PESSOA),0)  
    FROM  TB_HIST_SITUACAO_CONSULTORA B
    WHERE B.CD_SITUACAO_COMERCIAL BETWEEN 1 AND @CD_SITUACAO_COML
    AND   B.CD_PESSOA             = @CD_PESSOA
    AND   B.NM_CICLO              = @NM_CICLO
    AND   B.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
    SELECT @RESULTADO = (@RESULTADO + @QDE_PESSOA)
  END


  RETURN @RESULTADO
END
GO
