SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_CALCULA_ICMS](@PORCENTAGEM_REDUCAO_BC AS NUMERIC(18,2), @BASE_CALCULO NUMERIC(18,2),@ALIQUOTA_ICMS NUMERIC(18,2))
RETURNS NUMERIC(18,2)
AS

BEGIN
	DECLARE @RESULTADO NUMERIC(18,2)

		BEGIN
		if @PORCENTAGEM_REDUCAO_BC > 0 
		BEGIN
		SELECT @RESULTADO = (@BASE_CALCULO - (@BASE_CALCULO * (@PORCENTAGEM_REDUCAO_BC/100))) * (@ALIQUOTA_ICMS/100)
		end
		else
		BEGIN
		SELECT @RESULTADO = @BASE_CALCULO  * (@ALIQUOTA_ICMS/100)
		end 

		
		END

	RETURN @RESULTADO
END 


GO
