SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_RegraComercialVerificaCotaPorPessoa](@p_codigoRegraComercial NUMERIC(18,0),
															   @p_codigoPessoa NUMERIC(18,0),
															   @p_codigoFuncao INT)
RETURNS int
AS
BEGIN
	DECLARE	@v_idPossuiCota				INT
	DECLARE @v_idTipoPeriodoCota		INT
	DECLARE @v_vlCota					INT
	DECLARE @v_qtPedido					NUMERIC(18,0)
	DECLARE @v_nmCiclo					NUMERIC(18,0)

	DECLARE @v_resultado                INT
	
	-- ***********************************************************************
	-- PRIMEIRO VERIFICA SE A REGRA COMERCIAL POSSUI COTA
	-- ***********************************************************************
	
	SELECT	@v_idPossuiCota = ISNULL(R.ID_RC_POSSUI_COTA, 2),
			@v_idTipoPeriodoCota = ISNULL(ID_RC_TIPO_PERIODO_COTA,1),
			@v_vlCota = ISNULL(VL_COTA,999)
	FROM TB_REGRA_COMERCIAL R WITH(NOLOCK)
	WHERE R.CD_REGRA_COMERCIAL = @p_codigoRegraComercial
	
	-- NÃO POSSUI COTA - RESULTADO = 1
	IF @v_idPossuiCota = 0 OR @v_idPossuiCota = 2
		BEGIN
			SELECT @v_resultado = 1
		END
	ELSE
		BEGIN
			
			SELECT @v_resultado = 1
			
			-- **************************************
			-- VERIFICA TIPO PERIODO
			-- **************************************
			
			-- TODO O PERIODO
			IF @v_idTipoPeriodoCota = 1
				BEGIN

					SELECT @v_qtPedido = COUNT(*) 
					FROM TB_PEDIDO WITH(NOLOCK)
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_REGRA_COMERCIAL = @p_codigoRegraComercial
					AND CD_EST_SITUACAO NOT IN (3)

					-- SE ESTOUROU A COTA RETORNA 0
					IF @v_qtPedido >= @v_vlCota
						BEGIN
							SELECT @v_resultado = 0
						END
					ELSE
						BEGIN
							SELECT @v_resultado = 1
						END
				END

			-- POR CICLO
			IF @v_idTipoPeriodoCota = 2
				BEGIN

					-- VERIFICA O CICLO ATUAL DA PESSOA
					SELECT @v_nmCiclo = NM_CICLO_ATUAL
					FROM TB_PESSOA_RESUMO WITH(NOLOCK)
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_FUNCAO = @p_codigoFuncao

					SELECT @v_qtPedido = COUNT(*) 
					FROM TB_PEDIDO WITH(NOLOCK)
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_REGRA_COMERCIAL = @p_codigoRegraComercial
					AND CD_EST_SITUACAO NOT IN (3)
					AND NM_CICLO_CAPTACAO = @v_nmCiclo

					-- SE ESTOUROU A COTA RETORNA 0
					IF @v_qtPedido >= @v_vlCota
						BEGIN
							SELECT @v_resultado = 0
						END
					ELSE
						BEGIN
							SELECT @v_resultado = 1
						END

				END
			
			
			-- POR MÊS
			IF @v_idTipoPeriodoCota = 3
				BEGIN

					-- VERIFICA O CICLO ATUAL DA PESSOA
					SELECT @v_nmCiclo = NM_CICLO_ATUAL
					FROM TB_PESSOA_RESUMO WITH(NOLOCK)
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_FUNCAO = @p_codigoFuncao

					SELECT @v_qtPedido = COUNT(*) 
					FROM TB_PEDIDO WITH(NOLOCK)
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_REGRA_COMERCIAL = @p_codigoRegraComercial
					AND CD_EST_SITUACAO NOT IN (3)
					AND MONTH(GETDATE()) = MONTH(DT_CAPTACAO_PEDIDO)
					AND YEAR(GETDATE()) = YEAR(DT_CAPTACAO_PEDIDO)

					-- SE ESTOUROU A COTA RETORNA 0
					IF @v_qtPedido >= @v_vlCota
						BEGIN
							SELECT @v_resultado = 0
						END
					ELSE
						BEGIN
							SELECT @v_resultado = 1
						END

				END
		END

	RETURN  @v_resultado 
	
END
GO
