SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_CICLO_ANTERIOR]  (@NM_CICLO  NUMERIC(18,0))
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
   
  DECLARE @RESULTADO NUMERIC(18,0)

 
	SELECT @RESULTADO = ISNULL(MAX(nm_ciclo), -1)
	FROM TB_CICLO
	where NM_CICLO < @NM_CICLO
  
  RETURN @RESULTADO
END
GO
