SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_TOTAL_MESES_QUALIFICACAO_ATUAL_DNANAMODA]  (@CD_PESSOA NUMERIC(18,0), @NM_CICLO  NUMERIC(18,0), 
                                                                      @CD_FUNCAO NUMERIC(18,0), @CD_PAPEL NUMERIC (18,0) )
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO          INT = 0
  DECLARE @CICLO              INT = 1
  DECLARE @CD_PAPEL_CARREIRA  NUMERIC(18,0) = @CD_PAPEL


  WHILE (@CD_PAPEL_CARREIRA = @CD_PAPEL  )
  BEGIN

    SELECT @RESULTADO = (@RESULTADO + 1)
    SELECT @CICLO = (@CICLO+1) 
    -- BUSCA O HISTORICO DO PAPEL
    SELECT @CD_PAPEL_CARREIRA = isnull(max(CD_PAPEL_CARREIRA),0)
    FROM TB_PESSOA_PAPEL_HISTORICO with(nolock)
    WHERE CD_PESSOA = @CD_PESSOA
    AND   CD_FUNCAO = @CD_FUNCAO
    AND   NM_CICLO  = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO)

  END
  RETURN @RESULTADO
END
GO
