SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE FUNCTION [dbo].[fn_pessoaVerificaCoberturaGeograficaPromocaoPedido](@p_cdPromocao NUMERIC(18,0),@p_nmPedido NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
	DECLARE @v_Resultado							VARCHAR(80)
	DECLARE @v_CdEstGeograficaPedido				numeric(18,0)
	DECLARE @v_cepPedido							numeric(18,0)   

	DECLARE @v_CursorEstGeo							cursor 
	DECLARE @v_CursorFaixaCep						cursor
	DECLARE @v_CdEstGeo								numeric(18,0)
	DECLARE @v_cobreAreaPessoa						numeric(18,0)
	DECLARE @v_idTipoCoberturaEntregaPromocao		numeric(18,0)
	DECLARE @v_IncialFaixaCep						VARCHAR(10)
	DECLARE @v_FinalFaixaCep						VARCHAR(10)



	-- BUSCA COD ESTRUTURA GEOGRAFICA PEDIDO
	SELECT @v_CdEstGeograficaPedido = CD_EST_GEOGRAFICA,
		   @v_cepPedido = DC_codigo_postal 
	  from TB_PEDIDO_ENDERECO 
	 WHERE NM_PEDIDO = @p_nmPedido 
	
	select @v_idTipoCoberturaEntregaPromocao = ID_TIPO_COBERTURA_ENTREGA_PROMOCAO
	  from TB_PROMOCAO 
	 where CD_PROMOCAO = @p_cdPromocao
 

	IF @v_idTipoCoberturaEntregaPromocao = 1 --'<- Se for 1 é por Estrutura Geográfica

		BEGIN 
			-- CURSOR EST GEOGRAFICA DA REGRA COMERCIAL
			set @v_CursorEstGeo = CURSOR FAST_FORWARD
			FOR
			SELECT CD_EST_GEOGRAFICA 
			  FROM TB_PROMOCAO_EST_GEOGRAFICA 
			 where CD_PROMOCAO = @p_cdPromocao
			 
			OPEN @v_CursorEstGeo
			FETCH NEXT FROM @v_CursorEstGeo
			INTO @v_CdEstGeo

			WHILE @@FETCH_STATUS = 0
				BEGIN
				   -- '<- Verifica se a estrutura geografica cobre a regiao da pessoa ->'
					select @v_cobreAreaPessoa = dbo.FN_EST_GEOGRAFICA(@v_CdEstGeo, @v_CdEstGeograficaPedido)
				   --select dbo.FN_EST_GEOGRAFICA(27, 830027)
					if @v_cobreAreaPessoa = 1 
						begin 
							select @v_resultado = 1
							RETURN  @v_Resultado 
						end 

					else

						begin 
							select @v_resultado = 0
						end 
				         
					FETCH NEXT FROM @v_CursorEstGeo
					INTO @v_CdEstGeo
				end 
				   
		END 
	ELSE IF @v_idTipoCoberturaEntregaPromocao = 2 --<- se for 2 é por faixa de CEP
		BEGIN 
  
			 -- CURSOR faixa cep DA REGRA COMERCIAL
			set @v_CursorFaixaCep = CURSOR FAST_FORWARD
			FOR
			Select V_INICIAL_FAIXA_CEP,  V_FINAL_FAIXA_CEP 
			  FROM TB_PROMOCAO_FAIXA_CEP  
			 WHERE CD_PROMOCAO =  @p_cdPromocao
 
			OPEN @v_CursorFaixaCep
			FETCH NEXT FROM @v_CursorFaixaCep
			INTO @v_IncialFaixaCep,@v_FinalFaixaCep

			WHILE @@FETCH_STATUS = 0
				BEGIN
					if @v_cepPedido >= @v_IncialFaixaCep and @v_cepPedido <= @v_FinalFaixaCep
						begin 
							select @v_resultado = 1
							RETURN  @v_Resultado 
						end 
					else
						begin 
							select @v_resultado = 0
						end 

					FETCH NEXT FROM @v_CursorFaixaCep
					INTO @v_IncialFaixaCep,@v_FinalFaixaCep
				END

			END  
	return  @v_Resultado 
END

GO
