SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_CEP_DESTINO_PEDIDO](@NM_PEDIDO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN

  -- FUNCAO RETORNA O CEP DE DESTINO DO PEDIDO
  -- QUE É O CEP DA PEDIDO ENDEREÇO
  
  DECLARE @RESULTADO VARCHAR(80)
  
  SELECT @RESULTADO = DC_CODIGO_POSTAL
  FROM TB_PEDIDO_ENDERECO
  WHERE NM_PEDIDO = @NM_PEDIDO

  RETURN @RESULTADO
  
END
GO
