SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_TOTAL_CICLOS_RECONHECIMENTO_ATUAL_MAHOGANY]  (@CD_PESSOA NUMERIC(18,0), @NM_CICLO  NUMERIC(18,0), 
@CD_FUNCAO NUMERIC(18,0), @CD_PAPEL_D NUMERIC (18,0), @CD_PAPEL_C NUMERIC (18,0) )
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO          INT = 0
  DECLARE @CICLO              INT = 1
  DECLARE @CD_PAPEL_DESEMPENHO  NUMERIC(18,0) = @CD_PAPEL_D


  WHILE (@CD_PAPEL_DESEMPENHO = @CD_PAPEL_D  )
  BEGIN

    SELECT @RESULTADO = (@RESULTADO + 1)
    SELECT @CICLO = (@CICLO+1) 
    -- BUSCA O HISTORICO DO PAPEL
    SELECT @CD_PAPEL_DESEMPENHO = isnull(max(CD_PAPEL_DESEMPENHO),0)
    FROM TB_PESSOA_PAPEL_HISTORICO A with(nolock)
    WHERE A.CD_PESSOA = @CD_PESSOA
    AND   A.CD_FUNCAO = @CD_FUNCAO
    AND   A.NM_CICLO  = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO)
	AND dbo.FN_BUSCA_COD_SIT_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.CD_FUNCAO, A.NM_CICLO) NOT IN (-1,0,4)
	AND A.NM_CICLO >= (SELECT ISNULL(MAX(V.NM_CICLO),1) FROM TB_HIST_SITUACAO_CONSULTORA V with(nolock) WHERE V.CD_PESSOA = A.CD_PESSOA  AND V.DT_REATIVACAO IS NOT NULL)


  END
  --IF (@RESULTADO > 1 AND @CD_PAPEL_D <> @CD_PAPEL_C)
  --BEGIN 
  --  SELECT @RESULTADO = (@RESULTADO - 1)
  --END
   RETURN @RESULTADO 
END
GO
