SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FN_MN_TORNOU_EMPREENDEDOR_BECORE] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0))


--  CALCULA : 
--  VERIFICA SE A PESSOA TORNOU-SE EMPREENDEDOR PELA 1a VEZ 


RETURNS NUMERIC(18,0)
AS
BEGIN

  DECLARE @RESULTADO	NUMERIC(18,0)

  SELECT @RESULTADO = 0

  -- BUSCA SE A PESSOA VIROU EMPREENDEDOR
  SELECT @RESULTADO  = COUNT(*) 
  FROM  TB_PESSOA_PAPEL_HISTORICO A with (nolock)
  WHERE A.CD_PESSOA            = @CD_PESSOA
  AND   A.CD_FUNCAO            = @CD_FUNCAO
  AND   A.NM_CICLO             = @NM_CICLO
  AND   A.CD_PAPEL_CARREIRA   IN (2,3,4)
  AND   A.CD_PESSOA NOT IN (SELECT B.CD_PESSOA
                              FROM  TB_PESSOA_PAPEL_HISTORICO B with (nolock)
                              WHERE B.CD_PESSOA           = @CD_PESSOA
                              AND   B.CD_FUNCAO           = @CD_FUNCAO
                              AND   B.NM_CICLO            < @NM_CICLO
                              AND   B.CD_PAPEL_CARREIRA   IN (2,3,4))

  RETURN @RESULTADO
END
GO
