SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Diego Zilioti
-- Create date: 09/07/2018
-- Description:	Função para retornar a situação de pagamento do último pedido feito por uma pessoa
-- =============================================
CREATE FUNCTION [dbo].[fn_PedidoBuscaSitPagamentoUltimoPedido]
(
	@p_codigoPessoa	numeric(18,0)
)

RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_valorSitPagamentoPedido INT

	DECLARE @v_nmUltimoPedido numeric(18,0)

	SELECT @v_nmUltimoPedido = ISNULL(MAX(NM_PEDIDO),0)
	  FROM TB_PEDIDO
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND CD_EST_SITUACAO NOT IN (1,3,99) --DESPREZA PEDIDOS EM CAPTAÇÃO/ EDIÇÃO OU CANCELADOS
	
	IF @v_nmUltimoPedido > 0 --SIGNIFICA QUE EXISTE O ÚLTIMO PEDIDO, VAMOS BUSCAR A SIT PAGAMENTO DA DÍVIDA
		BEGIN
			SELECT @v_valorSitPagamentoPedido = ISNULL(ID_SITUACAO_PAGAMENTO,0)
			  FROM TB_DIVIDA
			 WHERE NM_PEDIDO = @v_nmUltimoPedido
		END
	ELSE --SIGNIFICA QUE O ÚLTIMO PEDIDO ESTÁ EM CAPTAÇÃO OU FOI CANCELADO, VAMOS RETORNAR A SITUAÇÃO 99
		BEGIN
			SELECT @v_valorSitPagamentoPedido = 99
		END
	-- Return the result of the function
	RETURN @v_valorSitPagamentoPedido

END


GO
