SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Felipe S
-- Create date: 18/10/2016
-- Description:	Função para retornar o preçoDE de um produto
-- =============================================
CREATE FUNCTION [dbo].[fn_produtoBuscaProdutoPrecoDE]
(
	@p_codigoProduto		numeric(18,0),
	@p_nmCiclo				numeric(18,0),
	@p_codigoFuncao			int
)
RETURNS numeric(18,2)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_valorPrecoProdutoDe numeric(18,2)

	IF @p_codigoFuncao > 0 --SE FOR INFORMADA UMA FUNÇÃO VÁLIDA TENTA BUSCA O PREÇO PARA ELA
		BEGIN
			--SELECT	@v_valorPrecoProdutoDe = isnull(MIN(VL_PRECO_De),0)
			--FROM TB_PRODUTO_VENDA_PRECO A with(nolock), TB_PRODUTO_VENDA_PRECO_FUNCAO B with(nolock)
			--WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
			--AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
			--AND A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO
			--AND B.CD_FUNCAO = @p_codigoFuncao
			--AND A.VL_PRECO_DE > 0
			--AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1000)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1000))
		
			SELECT	@v_valorPrecoProdutoDe = isnull(MIN(VL_PRECO_De),0)
			FROM TB_PRODUTO_VENDA_PRECO Z WITH(NOLOCK)
			WHERE Z.CD_PRODUTO_VENDA_PRECO IN (

				SELECT MAX(A.CD_PRODUTO_VENDA_PRECO)
				FROM TB_PRODUTO_VENDA_PRECO A with(nolock), TB_PRODUTO_VENDA_PRECO_FUNCAO B with(nolock)
				WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
				AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
				AND A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO
				AND B.CD_FUNCAO = @p_codigoFuncao
				AND A.VL_PRECO_DE > 0
				AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1000)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1000))
				
				)
		
		END
		
	IF @p_codigoFuncao = 0 --SE NÃO FOR INFORMADA UMA FUNÇÃO SERÁ RETORNADO ZERO SEMPRE
		BEGIN
			SELECT @v_valorPrecoProdutoDe = 0
		end
	
	-- Return the result of the function
	RETURN @v_valorPrecoProdutoDe

END
GO
