SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_PERMITE_ALTERAR_FUNCAO_FORCA_VENDAS](@CD_PESSOA NUMERIC(18,0))
RETURNS VARCHAR(10)
AS
BEGIN

  DECLARE @RESULTADO VARCHAR(10)
  DECLARE @V_QTD NUMERIC(18,0)
  
  -- *****************************************************************
  -- VERIFICA SE A PESSOA É RESPONSAVEL POR ALGUMA ESTRUTURA COMERCIAL
  -- ALTERAÇÃO FEITA POR ANDERSON - 01/04/2019
  -- A QUERY ANTIGA ESTAVA LEVANDO EM CONSIDERAÇÃO TODA A HIERARQUIA
  -- E NA VERDADE TEMOS QUE OLHAR APENAS O CICLO ATUAL
  -- *****************************************************************
  --SELECT @V_QTD = COUNT(*)
  --FROM TB_EST_COMERCIAL_HIERARQUIA
  --WHERE CD_PESSOA_RESPONSAVEL = @CD_PESSOA

  SELECT @V_QTD= COUNT(*)
  FROM TB_EST_COMERCIAL_HIERARQUIA B,
	(SELECT MAX(NM_CICLO_INICIO) NM_CICLO_INICIO, CD_EST_COMERCIAL
	FROM TB_EST_COMERCIAL_HIERARQUIA
	GROUP BY CD_EST_COMERCIAL) A
 WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
 AND A.NM_CICLO_INICIO = B.NM_CICLO_INICIO
 AND CD_PESSOA_RESPONSAVEL = @CD_PESSOA
  
  IF @V_QTD = 0 
	BEGIN
		SELECT @RESULTADO = 'SIM'
	END
  ELSE
	BEGIN
		SELECT @RESULTADO = 'NÃO'
	END

  
  RETURN @RESULTADO
  
END


GO
