SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[FN_CALCULA_COFINS](@BASE_CALCULO NUMERIC(18,2),@ALIQUOTA_COFINS NUMERIC(18,2))
RETURNS NUMERIC(18,2)
AS

BEGIN
	DECLARE @RESULTADO NUMERIC(18,2)

	SELECT @RESULTADO = @BASE_CALCULO * (@ALIQUOTA_COFINS / 100)
	
	RETURN @RESULTADO
END 


GO
