SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_VERIFICA_PRODUTO_PERTENCE_REGRA_COMERCIAL](@CD_REGRA_COMERCIAL NUMERIC(18,0),
																	@CD_PRODUTO_VENDA NUMERIC(18,0))
RETURNS INT
AS
BEGIN
	DECLARE @RESULTADO				INT
	DECLARE @QT_REGISTROS			INT
	
	
	SELECT @RESULTADO = 2 -- NAO PERTENCE
	
	DECLARE @V_QTD_REGISTROS		   INT
	-- *****************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 03/04/2020
	-- VAMOS VERIFICAR SE EXISTE REGIÃO GEOGRAFICA NA REGRA COMERCIAL
	-- SE NAO EXISTE VAMOS ADOTAR QUE ATENDE
	-- *****************************************************************************
		
		SELECT @V_QTD_REGISTROS = COUNT(*) 
		FROM TB_REGRA_COMERCIAL_PRODUTO WITH(NOLOCK)
		WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL

		IF @V_QTD_REGISTROS = 0
			BEGIN
				SELECT @RESULTADO = 1
				return  @RESULTADO 
			END

	-- ****************************************************************************
	-- FIM
	-- ****************************************************************************


	
	-- ***********************************************************************
	-- PRIMEIRO TESTE: VERIFICA SE O PRODUTO PERTENCE A REGRA COMERCIAL
	-- ***********************************************************************
	SELECT @QT_REGISTROS = COUNT(*)
	FROM TB_REGRA_COMERCIAL_PRODUTO WITH(NOLOCK)
	WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
	AND CD_TIPO_RC_PRODUTO = @CD_PRODUTO_VENDA
	AND ID_TIPO_RC_PRODUTO = 1 -- PRODUTO
	
	IF @QT_REGISTROS > 0 
		BEGIN
			SELECT @RESULTADO = 1 -- PERTENCE
			RETURN @RESULTADO
		END
	
	-- ******************************************************************************
	-- SEGUNDO TESTE: VERIFICA SE  NA REGRA COMERCIAL EXISTE EST DE PRODUTOS E 
	-- COM BASE NISSO VERIFICA SE O PRODUTO PERTENCE A ESTRUTURA
	-- ******************************************************************************
    
	SELECT @QT_REGISTROS = COUNT(*)
	FROM TB_REGRA_COMERCIAL_PRODUTO WITH(NOLOCK)
	WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
	AND dbo.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(@CD_PRODUTO_VENDA, CD_TIPO_RC_PRODUTO) = 1
	AND ID_TIPO_RC_PRODUTO = 2 -- ESTRUTURA DE PRODUTO
	
	IF @QT_REGISTROS > 0 
		BEGIN
			SELECT @RESULTADO = 1 -- PERTENCE
			RETURN @RESULTADO
		END
	
			
   RETURN @RESULTADO
   
END
GO
