SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 01/08/2013
-- Description:	Função que retorna o código IBGE da cidade ou estado dada uma estrutura geográfica
-- =============================================
CREATE FUNCTION [dbo].[FN_BUSCA_EST_GEOGRAFICA_IBGE] (@CD_EST_GEOGRAFICA NUMERIC(18,0),@NIVEL INT)
RETURNS VARCHAR(30)
AS
BEGIN
	--======================
	--Nível = 1 retorna código IBGE estado
	--Nível = 2 retorna código IBGE cidade
	DECLARE @RESULTADO VARCHAR(30)

	if @nivel = 1
		begin
			select @RESULTADO = isnull(CD_IBGE,'0')
			from tb_est_geografica with(nolock)
			where cd_est_geografica = (SELECT CD_NIVEL_GEO2
										FROM TB_EST_GEOGRAFICA with(nolock)
										WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA)
		end
	if @nivel = 2
		begin
			select @RESULTADO = isnull(CD_IBGE,'0')
			from tb_est_geografica with(nolock)
			where cd_est_geografica = (SELECT CD_NIVEL_GEO3
										FROM TB_EST_GEOGRAFICA with(nolock)
										WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA)
		end
		
	RETURN @RESULTADO

END
GO
