SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FN_VERIFICA_CPF_JA_CADASTRADO](@ID_TIPO_PESSOA INT, -- 1 PARA PESSOA E 2 PARA COTITULAR
													  @CD_PESSOA NUMERIC(18,0),
													  @CD_PESSOA_COTITULAR NUMERIC(18,0),
													  @DC_CPF VARCHAR(50),		 	
													  @ID_TIPO_FUNCAO VARCHAR(1)) -- I PARA INCLUIR E A PARA ALTERAR
RETURNS VARCHAR(50)
AS
BEGIN

	DECLARE @RESULTADO				VARCHAR(50)
	DECLARE @QT_REGISTROS			INT


	SELECT	@RESULTADO = ''

	-- **************************************
	-- INCLUSÃO OU ALTERAÇÃO DE PESSOA
	-- **************************************

	IF @ID_TIPO_PESSOA = 1
		BEGIN
			
			IF @ID_TIPO_FUNCAO = 'I'
				BEGIN

					-- ****************************************
					-- BUSCA CPF EM TODAS AS PESSOAS
					-- ****************************************
					SELECT @QT_REGISTROS = COUNT(*) 
					FROM TB_PESSOA_DOCUMENTO 
					WHERE ID_TIPO_DOCUMENTO = 1 
					AND DC_DOCUMENTO = @DC_CPF

					-- JA ENCONTROU. VAMOS PARAR O PROCESSO
					IF @QT_REGISTROS > 0 
						BEGIN
							SELECT @RESULTADO = 'CPF já esta cadastrado para outra pessoa'
						END
					ELSE
						BEGIN
							-- BUSCA CPF EM TODOS OS COTITULARES
							SELECT @QT_REGISTROS = 0	
							
							SELECT @QT_REGISTROS = COUNT(*) 
							FROM TB_PESSOA_COTITULAR 
							WHERE DC_CPF = @DC_CPF
					
							IF @QT_REGISTROS > 0 
								BEGIN
									SELECT @RESULTADO = 'CPF já esta cadastrado para um cotitular'
								END
						END

				END --FIM @ID_TIPO_FUNCAO

			ELSE
				BEGIN

					-- ****************************************
					-- BUSCA CPF EM TODAS AS PESSOAS
					-- ****************************************
					SELECT @QT_REGISTROS = COUNT(*) 
					FROM TB_PESSOA_DOCUMENTO 
					WHERE ID_TIPO_DOCUMENTO = 1 
					AND DC_DOCUMENTO = @DC_CPF
					AND CD_PESSOA NOT IN (@CD_PESSOA)


					-- JA ENCONTROU. VAMOS PARAR O PROCESSO
					IF @QT_REGISTROS > 0 
						BEGIN
							SELECT @RESULTADO = 'CPF já esta cadastrado para outra pessoa'
						END
					ELSE
						BEGIN
							-- BUSCA CPF EM TODOS OS COTITULARES
							SELECT @QT_REGISTROS = 0	
							
							SELECT @QT_REGISTROS = COUNT(*) 
							FROM TB_PESSOA_COTITULAR 
							WHERE DC_CPF = @DC_CPF
					
							IF @QT_REGISTROS > 0 
								BEGIN
									SELECT @RESULTADO = 'CPF já esta cadastrado para um cotitular'
								END
						END



				END --FIM @ID_TIPO_FUNCAO
			
			
		END -- FIM @ID_TIPO_PESSOA

	-- **************************************
	-- INCLUSÃO OU ALTERAÇÃO DE COTITULAR
	-- **************************************

	IF @ID_TIPO_PESSOA = 2
		BEGIN
			
			IF @ID_TIPO_FUNCAO = 'I'
				BEGIN
					-- ****************************************
					-- BUSCA CPF EM TODAS AS PESSOAS
					-- ****************************************
					SELECT @QT_REGISTROS = COUNT(*) 
					FROM TB_PESSOA_DOCUMENTO 
					WHERE ID_TIPO_DOCUMENTO = 1 
					AND DC_DOCUMENTO = @DC_CPF

					-- JA ENCONTROU. VAMOS PARAR O PROCESSO
					IF @QT_REGISTROS > 0 
						BEGIN
							SELECT @RESULTADO = 'CPF já esta cadastrado para outra pessoa'
						END
					ELSE
						BEGIN
							-- BUSCA CPF EM TODOS OS COTITULARES
							SELECT @QT_REGISTROS = 0	
							
							SELECT @QT_REGISTROS = COUNT(*) 
							FROM TB_PESSOA_COTITULAR 
							WHERE DC_CPF = @DC_CPF
					
							IF @QT_REGISTROS > 0 
								BEGIN
									SELECT @RESULTADO = 'CPF já esta cadastrado para um cotitular'
								END
						END

				END
			ELSE
				BEGIN
					
					-- ****************************************
					-- BUSCA CPF EM TODAS AS PESSOAS
					-- ****************************************
					SELECT @QT_REGISTROS = COUNT(*) 
					FROM TB_PESSOA_DOCUMENTO 
					WHERE ID_TIPO_DOCUMENTO = 1 
					AND DC_DOCUMENTO = @DC_CPF


					-- JA ENCONTROU. VAMOS PARAR O PROCESSO
					IF @QT_REGISTROS > 0 
						BEGIN
							SELECT @RESULTADO = 'CPF já esta cadastrado para outra pessoa'
						END
					ELSE
						BEGIN
							-- BUSCA CPF EM TODOS OS COTITULARES
							SELECT @QT_REGISTROS = 0	
							
							SELECT @QT_REGISTROS = COUNT(*) 
							FROM TB_PESSOA_COTITULAR 
							WHERE DC_CPF = @DC_CPF
							AND CD_PESSOA_COTITULAR NOT IN (@CD_PESSOA_COTITULAR)
					
							IF @QT_REGISTROS > 0 
								BEGIN
									SELECT @RESULTADO = 'CPF já esta cadastrado para um cotitular'
								END
						END
				END
		END
			
   RETURN @RESULTADO
   
END


GO
