SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************
OBETIVO : Procurar a CN Indicante mais próximo.
- CN ativa no plano de negócio
- CN com maior média de pontos em 3 ciclos (atual + 2 anteriores)
- CN mais antiga

***************************************************************************/

CREATE FUNCTION [dbo].[FN_BUSCA_CONSULTOR_PROXIMO_CEP]  (@VL_CODIGO_POSTAL  NUMERIC(8,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0),
          @VL_MENOR_DIFERENCA	NUMERIC(18,0),
          @QDE_PESSOAS			INT,
          @CD_PESSOA_PROXIMA	NUMERIC(18,0),
	  @NM_CICLO				NUMERIC(18,0),
	  @CD_CLIENTE NUMERIC(18,0),
	   @CD_PAPEL_DESEMPENHO NUMERIC(18,0)

  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO with (NOLOCK)
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO = 1
  and CD_VALOR_PARAMETRO  =1   
     SELECT @NM_CICLO = MIN(NM_CICLO)
    FROM TB_CALENDARIO_COMERCIAL C with (NOLOCK)
    WHERE CONVERT(DATE,GETDATE()) BETWEEN C.DT_INICIAL AND C.DT_FINAL

  IF (@CD_CLIENTE = 25) -- ASOS
  BEGIN
 
 

    SELECT @VL_MENOR_DIFERENCA = MIN( ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)))
    FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
    WHERE A.CD_PESSOA             = B.CD_PESSOA
    AND   A.CD_FUNCAO             = 2
    AND   B.ID_TIPO_ENDERECO      in (1,3)
    AND   A.CD_PESSOA   = C.CD_PESSOA
    AND   A.CD_FUNCAO   = C.CD_FUNCAO
    AND   C.NM_CICLO    = @NM_CICLO
    AND   C.CD_INDICADOR_PESSOAL = 1001
    AND   C.VL_INDICADOR_PESSOAL > 0
    AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
    

    SELECT @QDE_PESSOAS = COUNT(A.CD_PESSOA)
    FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
    WHERE A.CD_PESSOA             = B.CD_PESSOA
    AND   A.CD_FUNCAO             = 2
    AND   B.ID_TIPO_ENDERECO      in (1,3)
    AND   A.CD_PESSOA   = C.CD_PESSOA
    AND   A.CD_FUNCAO   = C.CD_FUNCAO
    AND   C.NM_CICLO    = @NM_CICLO
    AND   C.CD_INDICADOR_PESSOAL = 1001
    AND   C.VL_INDICADOR_PESSOAL > 0
	AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA

    IF (@QDE_PESSOAS = 1)
    BEGIN
      SELECT @CD_PESSOA_PROXIMA = A.CD_PESSOA
      FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
      WHERE A.CD_PESSOA             = B.CD_PESSOA
      AND   A.CD_FUNCAO             = 2
      AND   B.ID_TIPO_ENDERECO      in (1,3)
      AND   A.CD_PESSOA   = C.CD_PESSOA
      AND   A.CD_FUNCAO   = C.CD_FUNCAO
      AND   C.NM_CICLO    = @NM_CICLO
      AND   C.CD_INDICADOR_PESSOAL = 1001
	  AND   C.VL_INDICADOR_PESSOAL > 0
	  AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
      AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA
    END
    ELSE IF (@QDE_PESSOAS > 1)
    BEGIN
      SELECT  @CD_PESSOA_PROXIMA = min(E.CD_PESSOA)
      FROM    TB_PESSOA_INDICADOR E with (NOLOCK),
             (SELECT MAX(VL_INDICADOR_PESSOAL) AS VL_INDICADOR
              FROM TB_PESSOA_INDICADOR with (NOLOCK)
              WHERE NM_CICLO              = @NM_CICLO
              AND   CD_INDICADOR_PESSOAL = 1003
              AND   CD_FUNCAO             = 2
              AND   CD_PESSOA IN (SELECT A.CD_PESSOA
                                  FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
				  WHERE A.CD_PESSOA             = B.CD_PESSOA
				  AND   A.CD_FUNCAO             = 2
									AND   B.ID_TIPO_ENDERECO      in (1,3)
									AND   A.CD_PESSOA   = C.CD_PESSOA
									AND   A.CD_FUNCAO   = C.CD_FUNCAO
									AND   C.NM_CICLO    = @NM_CICLO
									AND   C.CD_INDICADOR_PESSOAL = 1001
										AND   C.VL_INDICADOR_PESSOAL > 0
                                    AND  ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA ) ) D
      WHERE E.NM_CICLO              = @NM_CICLO
      AND   E.CD_INDICADOR_PESSOAL = 1003
      AND   E.CD_FUNCAO             = 2
      AND   E.VL_INDICADOR_PESSOAL   = D.VL_INDICADOR
      AND   E.CD_PESSOA IN (SELECT A.CD_PESSOA
                                FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
								WHERE A.CD_PESSOA             = B.CD_PESSOA
								AND   A.CD_FUNCAO             = 2
								AND   B.ID_TIPO_ENDERECO      in (1,3)
								AND   A.CD_PESSOA   = C.CD_PESSOA
								AND   A.CD_FUNCAO   = C.CD_FUNCAO
								AND   C.NM_CICLO    = @NM_CICLO
							    AND   C.CD_INDICADOR_PESSOAL = 1001
								AND   C.VL_INDICADOR_PESSOAL > 0
                            AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA )

    END
    ELSE
    BEGIN
     SELECT @CD_PESSOA_PROXIMA = 0
    END
  
    SELECT @RESULTADO = @CD_PESSOA_PROXIMA


   -- 
  END -- A ASOS


  IF (@CD_CLIENTE <> 25) -- AKMOS E DEMAIS CLIENTES
  BEGIN

    -- REGRAS : MENOR CEP, MAIOR QUALIFICAÇÃO, ID MAIS ANTIGOS.

    SELECT @VL_MENOR_DIFERENCA = MIN( ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)))
    FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
    WHERE A.CD_PESSOA                    = B.CD_PESSOA
    AND   A.CD_FUNCAO                    = 2
    AND   B.ID_TIPO_ENDERECO            in (1,3)
    AND   A.CD_PESSOA                    = C.CD_PESSOA
    AND   A.CD_FUNCAO                    = C.CD_FUNCAO
    AND   C.NM_CICLO                     = @NM_CICLO
    AND   C.CD_INDICADOR_PESSOAL         = 1001
    AND   C.VL_INDICADOR_PESSOAL         > 0
    AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
    

    SELECT @QDE_PESSOAS = COUNT(A.CD_PESSOA)
    FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
    WHERE A.CD_PESSOA                    = B.CD_PESSOA
    AND   A.CD_FUNCAO                    = 2
    AND   B.ID_TIPO_ENDERECO            in (1,3)
    AND   A.CD_PESSOA                    = C.CD_PESSOA
    AND   A.CD_FUNCAO                    = C.CD_FUNCAO
    AND   C.NM_CICLO                     = @NM_CICLO
    AND   C.CD_INDICADOR_PESSOAL         = 1001
    AND   C.VL_INDICADOR_PESSOAL          > 0
    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA

    IF (@QDE_PESSOAS = 1)
    BEGIN
      SELECT @CD_PESSOA_PROXIMA = A.CD_PESSOA
      FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
      WHERE A.CD_PESSOA                    = B.CD_PESSOA
      AND   A.CD_FUNCAO                    = 2
      AND   B.ID_TIPO_ENDERECO            in (1,3)
      AND   A.CD_PESSOA                    = C.CD_PESSOA
      AND   A.CD_FUNCAO                    = C.CD_FUNCAO
      AND   C.NM_CICLO                     = @NM_CICLO
      AND   C.CD_INDICADOR_PESSOAL         = 1001
      AND   C.VL_INDICADOR_PESSOAL         > 0
      AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA
    END
    ELSE IF (@QDE_PESSOAS > 1)
    BEGIN

      SELECT @CD_PAPEL_DESEMPENHO = MAX(C.CD_PAPEL_DESEMPENHO)
      FROM TB_PESSOA_RESUMO C with (NOLOCK)
      WHERE C.CD_FUNCAO             = 2
      AND   C.CD_SITUACAO_COMERCIAL < 4
      AND   C.CD_PESSOA IN (SELECT  A.CD_PESSOA
      			  FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
			  WHERE A.CD_PESSOA                    = B.CD_PESSOA
			  AND   A.CD_FUNCAO                    = 2
			  AND   B.ID_TIPO_ENDERECO            in (1,3)
			  AND   A.CD_PESSOA                    = C.CD_PESSOA
			  AND   A.CD_FUNCAO                    = C.CD_FUNCAO
			  AND   C.NM_CICLO                     = @NM_CICLO
			  AND   C.CD_INDICADOR_PESSOAL         = 1001
			  AND   C.VL_INDICADOR_PESSOAL         > 0
		          AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA  )


      SELECT @CD_PESSOA_PROXIMA  = MIN(C.CD_PESSOA) 
      FROM TB_PESSOA_RESUMO C with (NOLOCK)
      WHERE C.CD_FUNCAO             = 2
      AND   C.CD_SITUACAO_COMERCIAL < 4
      AND   C.CD_PESSOA IN (SELECT  A.CD_PESSOA
      			  FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
			  WHERE A.CD_PESSOA                    = B.CD_PESSOA
			  AND   A.CD_FUNCAO                    = 2
			  AND   B.ID_TIPO_ENDERECO            in (1,3)
			  AND   A.CD_PESSOA                    = C.CD_PESSOA
			  AND   A.CD_FUNCAO                    = C.CD_FUNCAO
			  AND   C.NM_CICLO                     = @NM_CICLO
			  AND   C.CD_INDICADOR_PESSOAL         = 1001
			  AND   C.VL_INDICADOR_PESSOAL         > 0
		          AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA  )
      AND C.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO

    END
    ELSE
    BEGIN
     SELECT @CD_PESSOA_PROXIMA = 0
    END
    SELECT @RESULTADO = @CD_PESSOA_PROXIMA

   -- 
  END -- AKMOS DE DEMAIS CLIENTES
  


  RETURN @RESULTADO
END
GO
