SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](@CD_FUNCAO INT, @CD_PAPEL_CARREIRA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DC_PAPEL_CARREIRA 
  FROM TB_PAPEL_CARREIRA
  WHERE CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA
  AND CD_FUNCAO = @CD_FUNCAO

  RETURN @RESULTADO
END

GO
