SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_VERIFICA_CALCULA_REMUNERACAO_MN](@NM_PEDIDO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
	DECLARE @RESULTADO						INT
	DECLARE @V_SITUACAO_DIVIDA				INT
	DECLARE @NM_CICLO_APROVACAO				NUMERIC(18,0)
	DECLARE @CD_EST_COMERCIAL				NUMERIC(18,0)
	DECLARE @QT_DIAS_APOS_FECH				INT
	DECLARE @DT_FINAL_PARAMETRO				DATE
	DECLARE @DT_PAGAMENTO					DATE
	
	-- ****************************************************************
	-- VERIFICA A SITUACAO DA DIVIDA
	-- SE ESTIVER IGUAL A 2 (QUITADA) CONTINUA COM O PROCESSO
	-- CASO CONTRARIO SAI DA ROTINA
	-- ****************************************************************
	SELECT @V_SITUACAO_DIVIDA = dbo.FN_BUSCA_SITUACAO_DIVIDA(@NM_PEDIDO)
	
	IF @V_SITUACAO_DIVIDA = 2 
		BEGIN
			
			-- ****************************************************************
			-- VAMOS VERIFICAR SE A DATA DE PAGAMENTO DA DIVIDA AINDA ESTA 
			-- DENTRO DO PARAMETRO DE DIAS APÓS FECHAMENTO DO CICLO
			-- TEREMOS QUE USAR A DATA DE PAGAMENTO POIS PODEMOS FAZER ESSE PROCESSO RETROATIVO
			-- ****************************************************************		
		
			-- PRIMEIRO VAMOS PEGAR O CICLO DE APROVAÇÃO DO PEDIDO E A ESTRUTURA COMERCIAL
			SELECT	@NM_CICLO_APROVACAO = NM_CICLO_APROVACAO,
					@CD_EST_COMERCIAL = CD_EST_COMERCIAL
			FROM TB_PEDIDO
			WHERE NM_PEDIDO = @NM_PEDIDO
			
			
			-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
			SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
			FROM TB_MN_PARAMETROS
			
						
			-- AGORA VAMOS SOMAR A DATA FINAL DO CICLO DA EST COMERCIAL + O PARAMETRO
			SELECT @DT_FINAL_PARAMETRO = DATEADD(DD, @QT_DIAS_APOS_FECH, DT_FINAL)
			FROM TB_CALENDARIO_COMERCIAL
			WHERE NM_CICLO = @NM_CICLO_APROVACAO
			AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			
						
						
			-- AGORA VAMOS BUSCAR A DATA DE PAGAMENTO DO PEDIDO
			SELECT @DT_PAGAMENTO = MAX(A.DT_CONCILIACAO)
			FROM TB_CONCILIACAO A, TB_DIVIDA B
			WHERE A.CD_DIVIDA = B.CD_DIVIDA
			AND B.NM_PEDIDO = @NM_PEDIDO
			
			
			-- AGORA VAMOS VERIFICAR SE A DATA DE PAGAMENTO ESTA DENTRO DA TOLERANCIA
			IF @DT_PAGAMENTO <= @DT_FINAL_PARAMETRO
				BEGIN
					SELECT @RESULTADO = 1
				END
			ELSE
				BEGIN
					SELECT @RESULTADO = 0
				END
			
	
		END
	ELSE
		BEGIN
			SELECT @RESULTADO = 0
		END

	
   RETURN @RESULTADO
END

GO
