SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_PERMITE_ALTERAR_FUNCAO_COLABORADOR](@CD_PESSOA NUMERIC(18,0))
RETURNS VARCHAR(10)
AS
BEGIN

  DECLARE @RESULTADO VARCHAR(10)
  DECLARE @V_QTD NUMERIC(18,0)
  
  -- *****************************************************************
  -- VERIFICA SE A PESSOA É RESPONSAVEL POR ALGUM CD
  -- *****************************************************************
  SELECT @V_QTD = COUNT(*)
  FROM TB_CENTRO_DISTRIBUICAO
  WHERE CD_PESSOA_RESPONSAVEL = @CD_PESSOA
  
  IF @V_QTD = 0 
	BEGIN
		SELECT @RESULTADO = 'SIM'
	END
  ELSE
	BEGIN
		SELECT @RESULTADO = 'NÃO'
	END

  
  RETURN @RESULTADO
  
END


GO
