SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- RETORNA QUANTIDADE DE PARCELA DO PEDIDO

create FUNCTION [dbo].[FN_BUSCA_QTD_PARCELAS_PEDIDO] (@NM_PEDIDO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE   @RESULTADO       NUMERIC(18,0) = 0

	SELECT  @RESULTADO = count (distinct X1.CD_PARCELA) 
	FROM TB_PARCELA X1 WITH(NOLOCK),
		TB_DIVIDA X2 WITH(NOLOCK) 
	WHERE X1.CD_DIVIDA                   = X2.CD_DIVIDA 
	AND X1.ID_SITUACAO_PAGAMENTO_PARCELA <> 4 -- CANCELADO
	AND X2.NM_PEDIDO                     = @NM_PEDIDO
	AND X2.ID_SITUACAO_PAGAMENTO         <> 4 -- CANCELADO

  RETURN @RESULTADO
END

GO
