SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_CALCULA_TEMPO_DESATIVACAO_PESSOA](@CD_PESSOA NUMERIC(18,0),
							@ID_TIPO_PERIODO INT)
RETURNS NUMERIC(18,0)

AS

-- CALCULA O TEMPO DE DESATIVAÇÃO DA PESSOA EM:
-- ID_TIPO = 1 - CICLOS
-- ID_TIPO = 2 - DIAS
-- ID_TIPO = 3 - MESES


BEGIN
	DECLARE @RESULTADO NUMERIC(18,0)

	SELECT @RESULTADO = 0

	-- **********************************************
	-- CICLOS
	-- PRIMEIRO VERIFICA QUAL O MAIOR CICLO DA PESSOA NAS SITUAÇÕES 0, 1, 2, 3
	-- DEPOIS PEGA TODAS AS SITUAÇÕES 4 EM QUE O CICLO É MAIOR QUE O CILCO RETORNADO DAS SITUAÇÕES (0,1,2,3)
	-- ASSIM GARANTE QUE VAMOS SEMPRE PEGAR O ULTIMO TRECHO DE DESATIVAÇÃO
	-- **********************************************

	IF @ID_TIPO_PERIODO = 1
		BEGIN
			SELECT @RESULTADO = COUNT(*) 
			FROM TB_HIST_SITUACAO_CONSULTORA B
			WHERE B.CD_SITUACAO_COMERCIAL = 4 AND CD_PESSOA = @CD_PESSOA
			AND NM_CICLO > (SELECT MAX(NM_CICLO)
			FROM TB_HIST_SITUACAO_CONSULTORA
			WHERE CD_PESSOA = @CD_PESSOA
			AND CD_SITUACAO_COMERCIAL IN (0, 1, 2, 3)) 
		END

	

	-- **********************************************
	-- DIAS
	-- PRIMEIRO VERIFICA QUAL O MAIOR CICLO DA PESSOA NAS SITUAÇÕES 0, 1, 2, 3
	-- DEPOIS PEGA A DATA DE CADASTRO DO MENOR CICLO COM A SITUAÇÃO 4 (E QUE O CICLO SEJA MAIOR QUE O CICLO RETORNADO DAS SITUAÇÕES 0, 1, 2, 3)
	-- ASSIM VAMOS PEGAR A PRIMEIRA DATA EM QUE A PESSOA FOI DESATIVADA
	-- COM ESSA DATA VAMOS FAZER A DIFEREÇNA COM A DATA DO DIA EM QUE ESTAMOS EXECUTANDO A FUNÇÃO
	-- **********************************************

	IF @ID_TIPO_PERIODO = 2
		BEGIN
			SELECT @RESULTADO = ISNULL(DATEDIFF(day, MIN(B.DT_CADASTRO), GETDATE()), 1000)  -- 0
			FROM TB_HIST_SITUACAO_CONSULTORA B
			WHERE B.CD_SITUACAO_COMERCIAL = 4 AND CD_PESSOA = @CD_PESSOA
			AND NM_CICLO > (SELECT MAX(NM_CICLO)
			                FROM TB_HIST_SITUACAO_CONSULTORA
			                WHERE CD_PESSOA = @CD_PESSOA
			                AND CD_SITUACAO_COMERCIAL IN (1, 2, 3)) 
		END


	-- **********************************************
	-- MESES
	-- PRIMEIRO VERIFICA QUAL O MAIOR CICLO DA PESSOA NAS SITUAÇÕES 0, 1, 2, 3
	-- DEPOIS PEGA A DATA DE CADASTRO DO MENOR CICLO COM A SITUAÇÃO 4 (E QUE O CICLO SEJA MAIOR QUE O CICLO RETORNADO DAS SITUAÇÕES 0, 1, 2, 3)
	-- ASSIM VAMOS PEGAR A PRIMEIRA DATA EM QUE A PESSOA FOI DESATIVADA
	-- COM ESSA DATA VAMOS FAZER A DIFEREÇNA COM A DATA DO DIA EM QUE ESTAMOS EXECUTANDO A FUNÇÃO
	-- **********************************************

	IF @ID_TIPO_PERIODO = 3
		BEGIN
			SELECT @RESULTADO = ISNULL(DATEDIFF(month, MIN(B.DT_CADASTRO), GETDATE()), 1000)  -- 0
			FROM TB_HIST_SITUACAO_CONSULTORA B
			WHERE B.CD_SITUACAO_COMERCIAL = 4 AND CD_PESSOA = @CD_PESSOA
			AND NM_CICLO > (SELECT MAX(NM_CICLO)
			FROM TB_HIST_SITUACAO_CONSULTORA
			WHERE CD_PESSOA = @CD_PESSOA
			AND CD_SITUACAO_COMERCIAL IN (1, 2, 3)) 
		END


	RETURN @RESULTADO
END 




GO
