SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 16/02/2015
-- Description:	Função para retornar o crédito de um produto passando o ciclo e a função da pessoa
-- =============================================
CREATE FUNCTION [dbo].[fn_produtoBuscaProdutoCreditoCicloFuncao]
(
	@p_codigoProduto		numeric(18,0),
	@p_nmCiclo				numeric(18,0),
	@p_codigoFuncao			int,
	@p_codigoRegraComercial numeric(18,0)
)
RETURNS numeric(18,2)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_valorCreditoProduto numeric(18,2)

	IF @p_codigoFuncao > 0 --SE FOR INFORMADA UMA FUNÇÃO VÁLIDA TENTA BUSCA O PREÇO PARA ELA
		BEGIN
			--SELECT	@v_valorCreditoProduto = isnull(MIN(VL_CREDITO),0)
			--FROM TB_PRODUTO_VENDA_PRECO A with(nolock)
			--WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
			--AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
			--AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B with(nolock) WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @p_codigoFuncao )
		--		OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C with(nolock) WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @p_codigoRegraComercial ))
		--	AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))

			SELECT	@v_valorCreditoProduto = isnull(MIN(VL_CREDITO),0)
			FROM TB_PRODUTO_VENDA_PRECO Z WITH(NOLOCK)
			WHERE Z.CD_PRODUTO_VENDA_PRECO IN (
				SELECT MAX(A.CD_PRODUTO_VENDA_PRECO)
				FROM TB_PRODUTO_VENDA_PRECO A with(nolock)
				WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
				AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
				AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B with(nolock) WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @p_codigoFuncao )
					OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C with(nolock) WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @p_codigoRegraComercial ))
				AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))
				)
		END
		
	IF @p_codigoFuncao = 0 --SE NÃO FOR INFORMADA UMA FUNÇÃO SERÁ RETORNADO ZERO SEMPRE
		BEGIN
			SELECT @v_valorCreditoProduto = 0
		end
	
	-- Return the result of the function
	RETURN @v_valorCreditoProduto

END
GO
