SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_CST](@CD_MATERIAL NUMERIC(18,0), 
									@ID_OPERACAO_FISCAL INT, 
									@ID_TRIBUTO INT, 
									@ID_TIPO_NOTA_FISCAL INT, 
									@ID_DENTRO_ESTADO INT, 
									@CD_REGRA_FISCAL NUMERIC(18,0),
									@ID_TIPO_PESSOA INT)
RETURNS NUMERIC(18,2)
AS

BEGIN
	
	DECLARE @RESULTADO NUMERIC(18,2)
	
	SELECT @RESULTADO = 0
	
	IF @ID_TRIBUTO IN (1,2,3) --IPI, PIS E COFINS
		BEGIN
			
			Select @RESULTADO = ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gif.CD_SITUACAO_TRIBUTARIA),0) 
			  from TB_GRUPO_IMPOSTOS_FEDERAIS gif WITH(NOLOCK), TB_GRUPO_IMPOSTOS G WITH(NOLOCK), TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
			 where gif.CD_TRIBUTO = @ID_TRIBUTO 
			   and gif.ID_TIPO_OPERACAO_FISCAL = @ID_OPERACAO_FISCAL 
			   and GRF.CD_MATERIAL = @CD_MATERIAL
			   AND G.CD_GRUPO_IMPOSTOS = GIF.CD_GRUPO_IMPOSTOS
			   AND G.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
			   AND G.CD_GRUPO_IMPOSTOS = GRF.CD_GRUPO_IMPOSTOS
			   AND GRF.ID_DESTINO_OPERACAO = @ID_TIPO_PESSOA
			   AND GRF.CD_REGRA_FISCAL = @CD_REGRA_FISCAL
	   
		   if @resultado = 0 
	   			BEGIN
					--CASO NÃO ENCONTRE BUSCA POR NCM
					Select @RESULTADO = ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gif.CD_SITUACAO_TRIBUTARIA),0) 
					  from TB_GRUPO_IMPOSTOS_FEDERAIS gif WITH(NOLOCK), TB_GRUPO_IMPOSTOS G WITH(NOLOCK), TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
					 where gif.CD_TRIBUTO = @ID_TRIBUTO 
					   and gif.ID_TIPO_OPERACAO_FISCAL = @ID_OPERACAO_FISCAL 
					   and GRF.CD_CLASSIFICACAO_FISCAL = (SELECT M.CD_CLASSIFICACAO_FISCAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = @CD_MATERIAL)
					   AND G.CD_GRUPO_IMPOSTOS = GIF.CD_GRUPO_IMPOSTOS
					   AND G.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
					   AND G.CD_GRUPO_IMPOSTOS = GRF.CD_GRUPO_IMPOSTOS
					   AND GRF.ID_DESTINO_OPERACAO = @ID_TIPO_PESSOA
					   AND GRF.CD_REGRA_FISCAL = @CD_REGRA_FISCAL
				END
		END
	ELSE --ICMS
		BEGIN
		
			if @ID_DENTRO_ESTADO = 1 --OPERAÇÃO DENTRO DO ESTADO
				BEGIN
					--PRIMEIRO VAMOS TENTAR POR MATERIAL

					--PARA O ICMS PRECISAMOS VERIFICAR O TIPO DE OPERACAO NO RETORNO
					SELECT DISTINCT @RESULTADO = ISNULL((CASE @ID_OPERACAO_FISCAL
												  WHEN 1 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_VENDA),0)
												  WHEN 2 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_REVENDA),0)
												  WHEN 3 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_DOACAO),0)
												  ELSE 0 END),0)
					  FROM TB_GRUPO_IMPOSTOS_ICMS GI WITH(NOLOCK), TB_GRUPO_IMPOSTOS G WITH(NOLOCK), TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
					 WHERE GRF.CD_MATERIAL = @CD_MATERIAL
					   AND G.CD_GRUPO_IMPOSTOS = GI.CD_GRUPO_IMPOSTOS
					   AND G.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
					   AND G.CD_GRUPO_IMPOSTOS = GRF.CD_GRUPO_IMPOSTOS
					   AND GRF.ID_DESTINO_OPERACAO = @ID_TIPO_PESSOA
					   AND GRF.CD_REGRA_FISCAL = @CD_REGRA_FISCAL
			   
					IF @resultado = 0 
	   					BEGIN
							--BUSCA POR NCM
							SELECT DISTINCT @RESULTADO = ISNULL((CASE @ID_OPERACAO_FISCAL
														  WHEN 1 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_VENDA),0)
														  WHEN 2 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_REVENDA),0)
														  WHEN 3 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_DOACAO),0)
														  ELSE 0 END),0)
							  FROM TB_GRUPO_IMPOSTOS_ICMS GI WITH(NOLOCK), TB_GRUPO_IMPOSTOS G WITH(NOLOCK), TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
							 WHERE GRF.CD_CLASSIFICACAO_FISCAL = (SELECT M.CD_CLASSIFICACAO_FISCAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = @CD_MATERIAL)
							   AND G.CD_GRUPO_IMPOSTOS = GI.CD_GRUPO_IMPOSTOS
							   AND G.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
							   AND G.CD_GRUPO_IMPOSTOS = GRF.CD_GRUPO_IMPOSTOS
							   AND GRF.ID_DESTINO_OPERACAO = @ID_TIPO_PESSOA
							   AND GRF.CD_REGRA_FISCAL = @CD_REGRA_FISCAL

						END
				END
			ELSE -- OPERAÇÃO FORA DO ESTADO
				
				BEGIN
					--PRIMEIRO VAMOS TENTAR POR MATERIAL

					--PARA O ICMS PRECISAMOS VERIFICAR O TIPO DE OPERACAO NO RETORNO
					SELECT DISTINCT @RESULTADO = ISNULL((CASE @ID_OPERACAO_FISCAL
												  WHEN 1 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_VENDA_FORA_ESTADO),0)
												  WHEN 2 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_REVENDA_FORA_ESTADO),0)
												  WHEN 3 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_DOACAO_FORA_ESTADO),0)
												  ELSE 0 END),0)
					  FROM TB_GRUPO_IMPOSTOS_ICMS GI WITH(NOLOCK), TB_GRUPO_IMPOSTOS G WITH(NOLOCK), TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
					 WHERE GRF.CD_MATERIAL = @CD_MATERIAL
					   AND G.CD_GRUPO_IMPOSTOS = GI.CD_GRUPO_IMPOSTOS
					   AND G.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
					   AND GRF.CD_REGRA_FISCAL = @CD_REGRA_FISCAL
					   AND GRF.ID_DESTINO_OPERACAO = @ID_TIPO_PESSOA
					   AND GRF.CD_GRUPO_IMPOSTOS = G.CD_GRUPO_IMPOSTOS

					IF @resultado = 0 
	   					BEGIN
							--BUSCA POR NCM
							SELECT DISTINCT @RESULTADO = ISNULL((CASE @ID_OPERACAO_FISCAL
														  WHEN 1 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_VENDA_FORA_ESTADO),0)
														  WHEN 2 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_REVENDA_FORA_ESTADO),0)
														  WHEN 3 THEN ISNULL((select st.cd_situacao_tributaria from tb_situacao_tributaria st WITH(NOLOCK) where st.nm_situacao_tributaria = gi.CD_SITUACAO_TRIBUTARIA_DOACAO_FORA_ESTADO),0)
														  ELSE 0 END),0)
							  FROM TB_GRUPO_IMPOSTOS_ICMS GI WITH(NOLOCK), TB_GRUPO_IMPOSTOS G WITH(NOLOCK), TB_GRUPO_IMPOSTOS_REGRA_FISCAL GRF WITH(NOLOCK)
							 WHERE GRF.CD_CLASSIFICACAO_FISCAL = (SELECT M.CD_CLASSIFICACAO_FISCAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = @CD_MATERIAL)
							   AND G.CD_GRUPO_IMPOSTOS = GI.CD_GRUPO_IMPOSTOS
							   AND G.ID_TIPO_NOTA_FISCAL = @ID_TIPO_NOTA_FISCAL
							   AND GRF.CD_REGRA_FISCAL = @CD_REGRA_FISCAL
							   AND GRF.ID_DESTINO_OPERACAO = @ID_TIPO_PESSOA
							   AND GRF.CD_GRUPO_IMPOSTOS = G.CD_GRUPO_IMPOSTOS
						END
				
				END
		END

	RETURN @RESULTADO
END
GO
