SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE FUNCTION [dbo].[FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL](@CD_PESSOA NUMERIC(18,0),
																			   @CD_FUNCAO NUMERIC(18,0),
																			   @CD_REGRA_COMERCIAL NUMERIC(18,0),
																			   @ID_EXCECAO INT)

				
RETURNS INTEGER

-- ***************************************************************************************************************
-- VERIFICA SE A PESSOA ATENDE OU NÃO OS INDICADORES DA REGRA COMERCIAL
--
-- NO CASO DA ID_EXCECAO = 1 (POSSUI EXCECAO)
-- VAI VERIFICAR SE A PESSOA POSSUI VALORES DIFERENTES DO QUE ESTA CADASTRADO NA REGRA COMERCIAL
-- EXEMPLO: INDICADOR EXCECAO = TESTE VALOR INICIAL 1 E VALOR FINAL 1
-- SE A PESSOA NÃO POSSUI ESSE INDICADOR CADASTRADO OU SE O VALOR É MENOR QUE 1 OU MAIOR QUE 1 ENTÃO ATENDE
-- OU SEJA, ATENDE A REGRA DE EXCEÇÃO. ATENDE SE O VALOR É DIFERENTE DO VALOR DA REGRA COMERCIAL;

-- NO CASO DE ID_EXCECAO = 2 É MAIS SIMPLES
-- BASTA TER O MESMO VALOR CADASTRADO NA REGRA COMERCIAL QUE JA ATENDE;
-- ***************************************************************************************************************

AS
BEGIN

	DECLARE @RESULTADO									INT

	DECLARE @CD_INDICADOR_PESSOAL						NUMERIC(18,0)
	DECLARE @VL_FAIXA_INICIAL							NUMERIC(18,2)
	DECLARE @VL_FAIXA_FINAL								NUMERIC(18,2)
	DECLARE @POSSUI_INDICADOR							INT
	DECLARE @VALOR_INDICADOR							NUMERIC(18,2)

	DECLARE @v_qtIndicadores							INT
	DECLARE @v_qtdRegistros								INT
	DECLARE @cursorIndicadores							CURSOR

	-- ***********************************
	-- BUSCA SE POSSUI INDICADOR NA REGRA COMERCIAL
	-- ***********************************
	SELECT @v_qtIndicadores = COUNT(*) 
	FROM TB_REGRA_COMERCIAL_INDICADOR
	WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
	AND ISNULL(ID_EXCECAO,2) = @ID_EXCECAO	

	-- ***********************************
	-- SE NÃO ENCONTROU ENTÃO ATENDE
	-- ***********************************
	IF @v_qtIndicadores = 0 
		BEGIN
			SELECT @RESULTADO = 1
			RETURN @RESULTADO
		END
	ELSE
		-- **************************************************************
		-- ENCONTROU. VAMOS VERIFICAR SE ATENDE OS INDICADORES
		-- **************************************************************
		IF @ID_EXCECAO = 2 
			BEGIN
					
				SET @cursorIndicadores = CURSOR FAST_FORWARD
				FOR
					SELECT	A.CD_INDICADOR_PESSOAL, 
							A.VL_FAIXA_INICIAL, 
							A.VL_FAIXA_FINAL,
							(SELECT COUNT(*) FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C 
											WHERE A.CD_INDICADOR_PESSOAL = B.CD_INDICADOR_PESSOAL 
											AND B.NM_CICLO = C.NM_CICLO_ATUAL
											AND B.CD_PESSOA = C.CD_PESSOA
											AND B.CD_FUNCAO = C.CD_FUNCAO
											AND C.CD_PESSOA = @CD_PESSOA
											AND C.CD_FUNCAO = @CD_FUNCAO) POSSUI_INDICADOR,
							ISNULL((SELECT B.VL_INDICADOR_PESSOAL FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C 
											WHERE A.CD_INDICADOR_PESSOAL = B.CD_INDICADOR_PESSOAL 
											AND B.NM_CICLO = C.NM_CICLO_ATUAL
											AND B.CD_PESSOA = C.CD_PESSOA
											AND B.CD_FUNCAO = C.CD_FUNCAO
											AND C.CD_PESSOA = @CD_PESSOA
											AND C.CD_FUNCAO = @CD_FUNCAO), 0) VALOR_INDICADOR
					FROM TB_REGRA_COMERCIAL_INDICADOR A
					WHERE A.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
					AND A.ID_EXCECAO = 2

				OPEN @cursorIndicadores
				FETCH NEXT FROM @cursorIndicadores
				INTO @CD_INDICADOR_PESSOAL, @VL_FAIXA_INICIAL, @VL_FAIXA_FINAL, @POSSUI_INDICADOR, @VALOR_INDICADOR

				WHILE @@FETCH_STATUS = 0
					BEGIN

						-- NÃO TEM INDICADOR COM NENHUM VALOR. NÃO ATENDE
						IF @POSSUI_INDICADOR = 0
							BEGIN
								-- NÃO ATENDE. SAI DA ROTINA
								SELECT @RESULTADO = 2
								RETURN @RESULTADO
							END
						ELSE
							-- POSSUI INDICADOR. VAMOS VER O VALOR
							BEGIN
								-- SE VALOR DO INDICADOR FOR MAIOR QUE A FAIXA INICIAL E MENOR QUE A FAIXA FINAL, ENTÃO ATENDE
								IF @VALOR_INDICADOR >= @VL_FAIXA_INICIAL AND @VALOR_INDICADOR <= @VL_FAIXA_FINAL
									BEGIN
										-- ATENDE. CONTINUA A ROTINA
										SELECT @RESULTADO = 1

									END
								ELSE
									BEGIN
										-- NÃO ATENDE, VAMOS SAIR DA ROTINA
										SELECT @RESULTADO = 2
										RETURN @RESULTADO
									END

							END
							
						FETCH NEXT FROM @cursorIndicadores
						INTO @CD_INDICADOR_PESSOAL, @VL_FAIXA_INICIAL, @VL_FAIXA_FINAL, @POSSUI_INDICADOR, @VALOR_INDICADOR
	
					END


			END
		ELSE
			-- EXCECAO
			BEGIN

				SET @cursorIndicadores = CURSOR FAST_FORWARD
				FOR

					SELECT	A.CD_INDICADOR_PESSOAL, 
							A.VL_FAIXA_INICIAL, 
							A.VL_FAIXA_FINAL,
							(SELECT COUNT(*) FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C 
											WHERE A.CD_INDICADOR_PESSOAL = B.CD_INDICADOR_PESSOAL 
											AND B.NM_CICLO = C.NM_CICLO_ATUAL
											AND B.CD_PESSOA = C.CD_PESSOA
											AND B.CD_FUNCAO = C.CD_FUNCAO
											AND C.CD_PESSOA = @CD_PESSOA
											AND C.CD_FUNCAO = @CD_FUNCAO) POSSUI_INDICADOR,
							ISNULL((SELECT B.VL_INDICADOR_PESSOAL FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C 
											WHERE A.CD_INDICADOR_PESSOAL = B.CD_INDICADOR_PESSOAL 
											AND B.NM_CICLO = C.NM_CICLO_ATUAL
											AND B.CD_PESSOA = C.CD_PESSOA
											AND B.CD_FUNCAO = C.CD_FUNCAO
											AND C.CD_PESSOA = @CD_PESSOA
											AND C.CD_FUNCAO = @CD_FUNCAO), 0) VALOR_INDICADOR
					FROM TB_REGRA_COMERCIAL_INDICADOR A
					WHERE A.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
					AND A.ID_EXCECAO = 1

				
				OPEN @cursorIndicadores
				FETCH NEXT FROM @cursorIndicadores
				INTO @CD_INDICADOR_PESSOAL, @VL_FAIXA_INICIAL, @VL_FAIXA_FINAL, @POSSUI_INDICADOR, @VALOR_INDICADOR

				WHILE @@FETCH_STATUS = 0
					BEGIN

						-- NÃO TEM INDICADOR COM NENHUM VALOR. ATENDE
						IF @POSSUI_INDICADOR = 0
							BEGIN
								-- ATENDE. CONTINUA A ROTINA
								SELECT @RESULTADO = 1
							END
						ELSE
							-- POSSUI INDICADOR. VAMOS VER O VALOR
							BEGIN
								-- SE VALOR DO INDICADOR FOR MENOR QUE A FAIXA INICIAL OU MAIOR QUE A FAIXA FINAL, ENTÃO ATENDEA EXCECAQO
								IF @VALOR_INDICADOR < @VL_FAIXA_INICIAL OR @VALOR_INDICADOR > @VL_FAIXA_FINAL
									BEGIN
										-- ATENDE. CONTINUA A ROTINA
										SELECT @RESULTADO = 1

									END
								ELSE
									BEGIN
										-- NÃO ATENDE, VAMOS SAIR DA ROTINA
										SELECT @RESULTADO = 2
										RETURN @RESULTADO
									END

							END
							
						FETCH NEXT FROM @cursorIndicadores
						INTO @CD_INDICADOR_PESSOAL, @VL_FAIXA_INICIAL, @VL_FAIXA_FINAL, @POSSUI_INDICADOR, @VALOR_INDICADOR
	
					END


			END


		
   RETURN @RESULTADO
   
END





GO
