SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_PROXIMA_SIT_COMERCIAL_PESSOA](@CD_PESSOA NUMERIC(18,0), @CD_FUNCAO INT)
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO			NUMERIC(18,0)
  DECLARE @SIT_COMERCIAL_DETALHE_ATUAL	INT
  DECLARE @NM_CICLO_ATUAL	  	NUMERIC(18,0)
  DECLARE @VL_PARAMETRO_1_12            NUMERIC(18,0)
  DECLARE @VL_PARAMETRO_1_13            NUMERIC(18,0)
  DECLARE @CD_EST_COMERCIAL             NUMERIC(18,0)
  DECLARE @NM_CICLO_CADASTRO	  	NUMERIC(18,0)
  DECLARE @NM_CICLO_RETROAGIR	  	NUMERIC(18,0)
  DECLARE @ID_VIP_NAO_DESATIVADA_PESSOA INT
  DECLARE @ID_VIP_NAO_DESATIVADA_PAPEL  INT

  DECLARE @CD_CLIENTE NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL_1010    NUMERIC(18,2)  -- TOTAL DE PONTOS (PESSOAIS + LV + EQUIPE DIRETA)  EM 3 CICLOS

  DECLARE @QDE_PEDIDOS NUMERIC (18,0)


  select @CD_CLIENTE = vl_parametro 		
  from TB_valor_PARAMETRO  with (NOLOCK)
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1  

  -- BUSCA O CICLO ATUAL DA PESSOA
  SELECT @NM_CICLO_ATUAL     = NM_CICLO_ATUAL,
--         @DT_CADASTRO_PESSOA = DT_CADASTRO_PESSOA,
         @CD_EST_COMERCIAL   = CD_EST_COMERCIAL
  FROM TB_PESSOA_RESUMO  with (NOLOCK)
  WHERE CD_PESSOA = @CD_PESSOA
  AND CD_FUNCAO = @CD_FUNCAO

  -- BUSCA A SITUAÇÃO DETALE ATUAL DA PESSOA
  SELECT @SIT_COMERCIAL_DETALHE_ATUAL = CD_SITUACAO_COMERCIAL_DETALHE
  FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK)
  WHERE CD_PESSOA = @CD_PESSOA
  AND NM_CICLO = @NM_CICLO_ATUAL

  -- BUSCA PROXIMO DETALHE
  IF @SIT_COMERCIAL_DETALHE_ATUAL = 0
  BEGIN
    SELECT @VL_PARAMETRO_1_12 = VL_PARAMETRO FROM TB_VALOR_PARAMETRO  with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 1 AND CD_PARAMETRO = 12
    IF (@VL_PARAMETRO_1_12 = 1 AND @CD_FUNCAO = 2)  -- desativa pessoa cadastrada
    BEGIN
      -- busca o ciclo de cadastro da pessoa
	SELECT  @NM_CICLO_CADASTRO  =  CASE WHEN ((SELECT ISNULL(MAX(NM_CICLO),0) FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK) 
							WHERE CD_PESSOA = @CD_PESSOA AND NM_CICLO <= @NM_CICLO_ATUAL AND DT_REATIVACAO IS NOT NULL) > 0)
						 	THEN (SELECT ISNULL(MAX(NM_CICLO),0) FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK) 
								WHERE CD_PESSOA = @CD_PESSOA AND NM_CICLO <= @NM_CICLO_ATUAL AND DT_REATIVACAO IS NOT NULL)
						ELSE
							CASE WHEN (MAX(NM_CICLO) IS NOT NULL) THEN  [dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN]  ( MAX(NM_CICLO), 2) 
							ELSE 
					
							(SELECT MIN(NM_CICLO) FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK) WHERE CD_PESSOA = @CD_PESSOA) 
						END
					END
	FROM TB_HIST_SITUACAO_CONSULTORA  with (NOLOCK)
	WHERE CD_PESSOA = @CD_PESSOA
	AND NM_CICLO    < @NM_CICLO_ATUAL
	AND (CD_SITUACAO_COMERCIAL_DETALHE IN (SELECT MAX(CD_SITUACAO_COMERCIAL_DETALHE)
    	                                FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE  with (NOLOCK)
        	                            WHERE CD_FUNCAO = @CD_FUNCAO
                	                    AND CD_SITUACAO_COMERCIAL = 4)
		OR CD_SITUACAO_COMERCIAL_DETALHE >= (SELECT MAX(CD_SITUACAO_COMERCIAL_DETALHE)
                	                    FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE  with (NOLOCK)
                        	            WHERE CD_FUNCAO = @CD_FUNCAO
                                	    AND CD_SITUACAO_COMERCIAL IN (2,3)))	
											

      -- busca a quantidade de ciclo a retroagir
      SELECT @VL_PARAMETRO_1_13 = VL_PARAMETRO FROM TB_VALOR_PARAMETRO  with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 1 AND CD_PARAMETRO = 13
      
      SELECT @NM_CICLO_RETROAGIR = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO_ATUAL, @VL_PARAMETRO_1_13)
       
      IF (@NM_CICLO_RETROAGIR > @NM_CICLO_CADASTRO)
      BEGIN
        SELECT	@RESULTADO = 400
      END
      ELSE
      BEGIN
        SELECT	@RESULTADO = 0
      END

    END 
    ELSE
    BEGIN
      SELECT	@RESULTADO = 0
    END
  END
  ELSE
  BEGIN
    IF @SIT_COMERCIAL_DETALHE_ATUAL = 400
    BEGIN
      -- SE A SITUAÇÃO É 400 ENTÃO É DESATIVADA ENTÃO CONTINUA COMO DESATIVADA
      SELECT	@RESULTADO = 400
    END
    ELSE
    BEGIN
    
      -- ALDIR 01/02/2022 : VERIFICAR SE TEM PEDIDO APROVADO E NÃO CANCELADO NO CICLO NOVO. SE SIM, MANTER A SITUAÇÃO COMO ATIVO NO CICLO NOVO
      SELECT @QDE_PEDIDOS = COUNT(*)
      FROM TB_PEDIDO WITH (NOLOCK)
      WHERE CD_PESSOA          = @CD_PESSOA
      AND   CD_FUNCAO          = @CD_FUNCAO 
      AND   NM_CICLO_APROVACAO = [dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN]  (@NM_CICLO_ATUAL,2)
      AND   NM_CICLO_CANCELAMENTO IS NULL

      IF (@QDE_PEDIDOS > 1)
      BEGIN
        SELECT @RESULTADO = 100
      END
      ELSE
      BEGIN 
        SELECT	@RESULTADO = MIN(CD_SITUACAO_COMERCIAL_DETALHE)
        FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE  with (NOLOCK)
        WHERE CD_SITUACAO_COMERCIAL_DETALHE > @SIT_COMERCIAL_DETALHE_ATUAL
      END
      -- FIM ALDIR

    END
  END
  -- verifica se e VIP
  IF (@RESULTADO = 400)
  BEGIN
    --SELECT @ID_VIP_NAO_DESATIVADA_PESSOA  = ISNULL(ID_VIP_NAO_DESATIVADA,2)
    --FROM TB_PESSOA_RESUMO  with (NOLOCK)
    --WHERE CD_PESSOA = @CD_PESSOA
    --AND   CD_FUNCAO = @CD_FUNCAO

    SELECT @ID_VIP_NAO_DESATIVADA_PESSOA = ISNULL(SUM(A.ID_VIP_NAO_DESATIVADA),2), 
	   @ID_VIP_NAO_DESATIVADA_PAPEL  = ISNULL(SUM(B.ID_VIP_NAO_DESATIVADA),2)
    FROM TB_PESSOA_RESUMO  A with (NOLOCK), TB_PAPEL_CARREIRA B with (NOLOCK)
    WHERE A.CD_PESSOA         = @CD_PESSOA
    AND   A.CD_FUNCAO         = @CD_FUNCAO
    AND   A.CD_PAPEL_CARREIRA = B.CD_PAPEL_CARREIRA
    AND   A.CD_FUNCAO         = B.CD_FUNCAO

    IF (@ID_VIP_NAO_DESATIVADA_PESSOA = 1 OR @ID_VIP_NAO_DESATIVADA_PAPEL = 1) 
    BEGIN
      SELECT	@RESULTADO = MAX(CD_SITUACAO_COMERCIAL_DETALHE)
      FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE  with (NOLOCK)
      WHERE CD_SITUACAO_COMERCIAL_DETALHE <   @RESULTADO  -- 400 = DESATIVADA     
    END
  END	

  /* ALDIR (13/07/2021) : DESATIVAR A PESSOA TAMBÉM POR INDICADOR (MENOS DE 60 PONTOS EM 3 CICLOS)
     REGRA APLICADA PARA O CLIENTE PACHAMAMA  */
  IF (@CD_CLIENTE = 51 AND @RESULTADO NOT IN (0,400))  
  BEGIN  
    SELECT @VL_INDICADOR_PESSOAL_1010 = ISNULL(SUM(VL_INDICADOR_PESSOAL),1000) -- TOTAL DE PONTOS PESSOAIS EM 3 CICLOS
    FROM TB_PESSOA_INDICADOR with(nolock)
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND NM_CICLO             = @NM_CICLO_ATUAL     
    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
    AND CD_INDICADOR_PESSOAL = 1010
    AND dbo.FN_BUSCA_COD_SIT_COMERCIAL_PESSOA_CICLO(CD_PESSOA, 2, dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO_ATUAL, 2)) NOT IN (-1,0,4)
    AND dbo.FN_BUSCA_COD_SIT_COMERCIAL_PESSOA_CICLO(CD_PESSOA, 2, dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO_ATUAL, 3)) NOT IN (-1,0,4)
    AND CD_PESSOA NOT IN (SELECT CD_PESSOA FROM TB_HIST_SITUACAO_CONSULTORA WHERE CD_PESSOA = @CD_PESSOA AND dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO_ATUAL, 1) = NM_CICLO AND DT_REATIVACAO IS NOT NULL)
    AND CD_PESSOA NOT IN (SELECT CD_PESSOA FROM TB_HIST_SITUACAO_CONSULTORA WHERE CD_PESSOA = @CD_PESSOA AND dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO_ATUAL, 2) = NM_CICLO AND DT_REATIVACAO IS NOT NULL)

    IF (@VL_INDICADOR_PESSOAL_1010 < 60)
    BEGIN 
      SELECT @RESULTADO = 400
    END
  END  
  /* FIM : ALDIR (13/07/2021)  */
  

  IF (@CD_FUNCAO = 1) -- consumidor final
  begin
    select @RESULTADO = 0
  end

  RETURN @RESULTADO
END






GO
