SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_LUCRATIVIDADE_COD_PRODUTO](@CD_REGRA_COMERCIAL NUMERIC(18,0), @CD_PRODUTO_VENDA NUMERIC(18,0))
RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,2),
		  @TIPO_PRODUTO INT
 
	SELECT @TIPO_PRODUTO = ID_TIPO_PRODUTO
	FROM TB_PRODUTO_VENDA
	WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
  
	IF (@TIPO_PRODUTO = 1)
		BEGIN	
			SELECT @RESULTADO = PC_PRODUTO_REGULAR
			FROM TB_REGRA_COMERCIAL
			WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
		END 
	

	IF (@TIPO_PRODUTO = 2)
		BEGIN	
			SELECT @RESULTADO = PC_BRINDE
			FROM TB_REGRA_COMERCIAL
			WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
		END 
	
	
	IF (@TIPO_PRODUTO = 3)
		BEGIN	
			SELECT @RESULTADO = PC_MATERIAL_APOIO
			FROM TB_REGRA_COMERCIAL
			WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
		END 
	
 
   RETURN @RESULTADO
END
GO
