SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTUACAO_EQUIPE_ASOS] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @ID_EQUIPE INT,
                         @CD_PAPEL_CARREIRA   NUMERIC(18,0),
                         @CD_PAPEL_DESEMPENHO NUMERIC(18,0) )

--  CALCULA : 
--  TOTAL DE PONTOS EQUIPE DIRETA, INDIRETA OU AMBAS


RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	       NUMERIC(18,2)
  DECLARE @V_CD_PAPEL_LIDERANCA  NUMERIC(18,0)
  
  SELECT @RESULTADO = 0
  SELECT @V_CD_PAPEL_LIDERANCA = ISNULL(CD_PAPEL_INICIO_LIDERANCA,0)
  FROM TB_MN_REGRA_GERAL


  IF (@ID_EQUIPE = 1)   -- EQUIPE DIRETA (LIDER)  OU DIRETOS (CONSULTOR)
  BEGIN
    SELECT @RESULTADO = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR A,
        (SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
         FROM TB_WRK_MN_TOPOLOGIA B1
         WHERE B1.CD_PESSOA             = @CD_PESSOA
         AND   B1.CD_FUNCAO             = @CD_FUNCAO
         AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
         AND   B1.NM_CICLO              = @NM_CICLO
         AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
         AND   B1.NM_NIVEL              = 1) C 
    WHERE A.CD_PESSOA             = C.PESSOA
    AND   A.CD_FUNCAO             = @CD_FUNCAO
    AND   A.CD_INDICADOR_PESSOAL  = 1002
    AND   A.NM_CICLO              = @NM_CICLO
    AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 
  END

  IF (@ID_EQUIPE = 2 AND @CD_PAPEL_CARREIRA >= 5 AND @CD_PAPEL_DESEMPENHO >=5)    -- EQUIPE INDIRETA, PAPEL CARREIRA LIDER, PAPEL DESEMPENHO LIDER
  BEGIN
    SELECT @RESULTADO = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR A,
          (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
           FROM TB_WRK_MN_TOPOLOGIA B1
           WHERE B1.CD_PESSOA             = @CD_PESSOA
           AND   B1.CD_FUNCAO             = @CD_FUNCAO
           AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
           AND   B1.NM_CICLO              = @NM_CICLO
           AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
           AND   B1.NM_NIVEL             >= 2
           AND  (B1.CD_PESSOA_VINCULADA NOT IN
                   (SELECT B1.PESSOA3 FROM
			          (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- DIAMANTE
				         ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA DIAMANTE
						 FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
						 WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
						 AND   A.CD_FUNCAO             = B.CD_FUNCAO
						 AND   A.NM_CICLO              = B.NM_CICLO
						 AND   A.CD_PESSOA             = @CD_PESSOA
						 AND   A.CD_FUNCAO             = @CD_FUNCAO
						 AND   A.NM_CICLO              = @NM_CICLO
						 AND   A.ID_ORDEM              = 2 -- DESCENDENTE
						 AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
						 AND   B.CD_PAPEL_CARREIRA   >= @V_CD_PAPEL_LIDERANCA
						 AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
						 AND   C.NM_CICLO              = A.NM_CICLO
						 AND   C.CD_FUNCAO             = A.CD_FUNCAO 
						 AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
						 AND   C.ID_TIPO_REDE_MN       = 1 ) B1-- REDE UNILEVEL ) B1
             )
             ) 
             ) C               
    WHERE A.CD_PESSOA             = C.PESSOA
    AND   A.CD_FUNCAO             = @CD_FUNCAO
    AND   A.CD_INDICADOR_PESSOAL  = 1002
    AND   A.NM_CICLO              = @NM_CICLO
    AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 
  END


  IF (@ID_EQUIPE = 3 AND @CD_PAPEL_CARREIRA >= 5)    -- EQUIPE DIRETA E INDIRETA, PAPEL CARREIRA LIDER
  BEGIN
    SELECT @RESULTADO = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR A,
          (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
           FROM TB_WRK_MN_TOPOLOGIA B1
           WHERE B1.CD_PESSOA             = @CD_PESSOA
           AND   B1.CD_FUNCAO             = @CD_FUNCAO
           AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
           AND   B1.NM_CICLO              = @NM_CICLO
           AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
           AND  (B1.CD_PESSOA_VINCULADA NOT IN
                   (SELECT B1.PESSOA3 FROM
			          (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- DIAMANTE
				         ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA DIAMANTE
						 FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
						 WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
						 AND   A.CD_FUNCAO             = B.CD_FUNCAO
						 AND   A.NM_CICLO              = B.NM_CICLO
						 AND   A.CD_PESSOA             = @CD_PESSOA
						 AND   A.CD_FUNCAO             = @CD_FUNCAO
						 AND   A.NM_CICLO              = @NM_CICLO
						 AND   A.ID_ORDEM              = 2 -- DESCENDENTE
						 AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
						 AND   B.CD_PAPEL_CARREIRA   >= @V_CD_PAPEL_LIDERANCA
						 AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
						 AND   C.NM_CICLO              = A.NM_CICLO
						 AND   C.CD_FUNCAO             = A.CD_FUNCAO 
						 AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
						 AND   C.ID_TIPO_REDE_MN       = 1 ) B1-- REDE UNILEVEL ) B1
             )
             ) 
             ) C               
    WHERE A.CD_PESSOA             = C.PESSOA
    AND   A.CD_FUNCAO             = @CD_FUNCAO
    AND   A.CD_INDICADOR_PESSOAL  = 1002
    AND   A.NM_CICLO              = @NM_CICLO
    AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 
  END


  RETURN @RESULTADO
END



GO
