SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_EST_COMERCIAL](@CD_EST_COMERCIAL NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_EST_COMERCIAL) 
  FROM TB_EST_COMERCIAL
  WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL

  RETURN @RESULTADO
END
GO
