SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_VALOR_REAL_KENKOPATTO] (@CD_REMUNERACAO              NUMERIC(18,0),
							     @CD_PESSOA                      NUMERIC(18,0),
							     @CD_FUNCAO                      NUMERIC(18,0),
							     @NM_CICLO                       NUMERIC(18,0),
							     @CD_PAPEL_CARREIRA	             NUMERIC(18,0),
							     @NM_PEDIDO                      NUMERIC(18,0),
					                     @V_VL_LIQUIDO_PEDIDO_INDICADOR  NUMERIC(18,2), 
							     @V_VL_CATALOGO_PEDIDO_INDICADOR NUMERIC(18,2))
												  	
RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO                   NUMERIC(18,2) = 0,
	  @VL_PERCENTUAL_IMPOSTO       NUMERIC(18,2) = 17.5,
          @VL_IMPOSTO                  NUMERIC(18,2) = 0,
	  @VL_PERCENTUAL_CUSTO_FABRICA NUMERIC(18,2) = 40,
          @VL_CUSTO_FABRICA            NUMERIC(18,2) = 0,
	  @VL_BONUS_PAGO 	       NUMERIC(18,2) = 0

  BEGIN
    -- 1o : ENCONTRAR O VALOR DO CUSTO FABRICA
    SELECT @VL_CUSTO_FABRICA = ((@VL_PERCENTUAL_CUSTO_FABRICA / 100)  * @V_VL_CATALOGO_PEDIDO_INDICADOR)

    -- 2o : ENCONTRAR O VALOR DOS IMPOSTOS
    SELECT @VL_IMPOSTO       = ((@VL_PERCENTUAL_IMPOSTO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)  

    IF (@CD_REMUNERACAO = 1)  -- BAV
    BEGIN
      -- 3o : ENCONTRAR O VALOR DAS BONIFICAÇÕES JÁ PAGAS
      SELECT @VL_BONUS_PAGO = ISNULL (SUM (VL_REMUNERACAO),0)
      FROM TB_MN_DETALHE_REMUNERACAO WITH (NOLOCK)
      WHERE CD_PESSOA            <> @CD_PESSOA
      AND   CD_FUNCAO             = @CD_FUNCAO  
      --AND   NM_CICLO              = @NM_CICLO
      AND   NM_ORIGEM_MN          = @NM_PEDIDO 
      AND CD_REGRA_PREMIACAO_MN   = @CD_REMUNERACAO
  
      IF (@CD_PAPEL_CARREIRA <= 4) 
      BEGIN
        SELECT @RESULTADO = (@V_VL_LIQUIDO_PEDIDO_INDICADOR - (@VL_IMPOSTO + @VL_BONUS_PAGO)  )
      END
      ELSE
      BEGIN	
        SELECT @RESULTADO = (@V_VL_LIQUIDO_PEDIDO_INDICADOR - (@VL_CUSTO_FABRICA + @VL_IMPOSTO + @VL_BONUS_PAGO)  )
      END 

    END

    IF (@CD_REMUNERACAO <> 1)  
    BEGIN
      -- 3o : ENCONTRAR O VALOR DAS BONIFICAÇÕES JÁ PAGAS
      SELECT @VL_BONUS_PAGO = ISNULL (SUM (VL_REMUNERACAO),0)
      FROM TB_MN_DETALHE_REMUNERACAO WITH (NOLOCK)
      WHERE    CD_FUNCAO             = @CD_FUNCAO  
      --AND   NM_CICLO              = @NM_CICLO
      AND   NM_ORIGEM_MN          = @NM_PEDIDO 
      AND CD_REGRA_PREMIACAO_MN   > 1

      AND (    (@CD_REMUNERACAO = 2  AND CD_REGRA_PREMIACAO_MN < 0   )
	    OR (@CD_REMUNERACAO = 3  AND CD_REGRA_PREMIACAO_MN     = 2 )
            OR (@CD_REMUNERACAO = 4  AND CD_REGRA_PREMIACAO_MN IN (2,3) )
            OR (@CD_REMUNERACAO = 5  AND CD_REGRA_PREMIACAO_MN < 0 )
	    OR (@CD_REMUNERACAO = 6  AND CD_REGRA_PREMIACAO_MN     = 5 )
            OR (@CD_REMUNERACAO = 7  AND CD_REGRA_PREMIACAO_MN IN (5,6) )
            OR (@CD_REMUNERACAO = 8  AND CD_REGRA_PREMIACAO_MN < 0  )
	    OR (@CD_REMUNERACAO = 9  AND CD_REGRA_PREMIACAO_MN     = 8 )
            OR (@CD_REMUNERACAO = 10 AND CD_REGRA_PREMIACAO_MN IN (8,9) )
            OR (@CD_REMUNERACAO = 11 )          
          )
      SELECT @RESULTADO = (@VL_CUSTO_FABRICA - (@VL_BONUS_PAGO)  )

    END 

  END
  RETURN @RESULTADO
END








GO
