SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICACAO_BECORE] (@CD_PESSOA NUMERIC(18,0),
                         @NM_CICLO          NUMERIC(18,0),
			 @CD_FUNCAO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL  NUMERIC(18,0),
			 @CD_PAPEL_CARREIRA NUMERIC(18,0) )  

--  CALCULA : 
--  QUALIFICAÇÃO NOVA

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)

 -- DECLARE @VL_INDICADOR_PESSOAL_1003 NUMERIC(18,0),  -- PESSOA ATIVA
 --         @VL_INDICADOR_PESSOAL_1005 NUMERIC(18,0),  -- TOTAL DE INDICADAS DIRETAS ATIVAS
 --         @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,0),  -- VALOR DE COMPRAS DAS INDICADAS DIRETAS
 --         @VL_INDICADOR_PESSOAL_1011 NUMERIC(18,0)   -- TOTAL DE CICLOS SEM ATINGIR A MANUTENÇÃO COMO EMPREENDEDOR


  SELECT @RESULTADO = @CD_PAPEL_CARREIRA

  -- PESSOA ATIVA
  -- TOTAL DE INDICADAS DIRETAS ATIVAS
  -- VALOR DE COMPRAS DAS INDICADAS DIRETAS
  -- TOTAL DE CICLOS SEM ATINGIR A MANUTENÇÃO COMO EMPREENDEDOR
/*  SELECT @VL_INDICADOR_PESSOAL_1003 = [1003],
         @VL_INDICADOR_PESSOAL_1005 = [1005],
         @VL_INDICADOR_PESSOAL_1006 = [1006],
         @VL_INDICADOR_PESSOAL_1011 = [1011]
  FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
         FROM TB_PESSOA_INDICADOR with(nolock)
         WHERE CD_PESSOA      = @CD_PESSOA
         AND CD_FUNCAO        = @CD_FUNCAO
         AND NM_CICLO         = @NM_CICLO
         --AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
         AND CD_INDICADOR_PESSOAL IN (1003,1005,1006,1011)
         GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
         PIVOT (SUM(VALOR) FOR INDICADOR IN ([1003],[1005],[1006],[1011])) EM_COLUNA   

  IF (@CD_PAPEL_CARREIRA = 2)   -- EMPREENDEDORA BECORE
  BEGIN
    -- REGREDIR 
    IF (@VL_INDICADOR_PESSOAL_1011 >= 4 AND (@VL_INDICADOR_PESSOAL_1003 < 1    OR
          				     @VL_INDICADOR_PESSOAL_1005 < 10   OR
                                             @VL_INDICADOR_PESSOAL_1006 < 2500 )       )
    BEGIN
      SELECT @RESULTADO = 1  -- CONSULTORA BECORE
      RETURN @RESULTADO
    END  
  END */

 


  RETURN @RESULTADO
END
GO
