SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_PAPEL](@CD_PAPEL NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DC_PAPEL 
  FROM TB_PAPEL
  WHERE CD_PAPEL = @CD_PAPEL

  RETURN @RESULTADO
END
GO
