SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_ENDERECO_COMPLETO_PESSOA](@CD_PESSOA NUMERIC(18,0),
													@ID_TIPO_ENDERECO INT)
RETURNS VARCHAR(300)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(300),
		  @NUMERO VARCHAR(80),
		  @COMPLEMENTO VARCHAR(80),
		  @REFERENCIA VARCHAR(80),
		  @CODIGO_POSTAL VARCHAR(80),
		  @CD_EST_GEO NUMERIC(18,0),
		  @CD_NIVEL_GEO1 NUMERIC(18,0),
		  @CD_NIVEL_GEO2 NUMERIC(18,0),
		  @CD_NIVEL_GEO3 NUMERIC(18,0),
		  @CD_NIVEL_GEO4 NUMERIC(18,0),
		  @CD_NIVEL_GEO5 NUMERIC(18,0),
		  @CD_NIVEL_GEO6 NUMERIC(18,0),
		  @CD_NIVEL_GEO7 NUMERIC(18,0),
		  @CD_NIVEL_GEO8 NUMERIC(18,0),
		  @CD_NIVEL_GEO9 NUMERIC(18,0),
		  @DC_NIVEL_GEO1 VARCHAR(80),
		  @DC_NIVEL_GEO2 VARCHAR(80),
		  @DC_NIVEL_GEO3 VARCHAR(80),
		  @DC_NIVEL_GEO4 VARCHAR(80),
		  @DC_NIVEL_GEO5 VARCHAR(80),
		  @DC_NIVEL_GEO6 VARCHAR(80),
		  @DC_NIVEL_GEO7 VARCHAR(80),
		  @DC_NIVEL_GEO8 VARCHAR(80),
		  @DC_NIVEL_GEO9 VARCHAR(80),
		  @CD_NIVEL			INT,
		  @DADOS_DIGITADOS	INT,
		  @ID_TIPO_PESSOA	INT
		  
	IF @ID_TIPO_ENDERECO = 0 
		BEGIN
			SELECT @ID_TIPO_PESSOA = ID_TIPO_PESSOA
			FROM TB_PESSOA with (NOLOCK) 
			WHERE CD_PESSOA = @CD_PESSOA

			IF @ID_TIPO_PESSOA = 1
				BEGIN 
					SELECT @ID_TIPO_ENDERECO = 1
				END
			ELSE
				BEGIN
					SELECT @ID_TIPO_ENDERECO = 3
				END

		END


	-- PEGA ESTRUTURA GEOGRAFICA DA PESSOA
	SELECT @DADOS_DIGITADOS = ID_DADOS_DIGITADOS,
		   @CD_EST_GEO = CD_EST_GEOGRAFICA, 
		   @NUMERO = DC_NUMERO,
		   @COMPLEMENTO = DC_COMPLEMENTO,
		   @CODIGO_POSTAL = DC_CODIGO_POSTAL
	FROM TB_PESSOA_ENDERECO with (NOLOCK) 
	where CD_PESSOA = @CD_PESSOA
	AND ID_TIPO_ENDERECO = @ID_TIPO_ENDERECO
	
	IF (@DADOS_DIGITADOS = 1) -- RUA E BAIRRO FORAM DIGITADOS
		BEGIN
			
			-- PEGA TODOS OS CODIGOS DA ESTRUTURA COMERCIAL
			SELECT	@CD_NIVEL_GEO1 = CD_NIVEL_GEO1,
					@CD_NIVEL_GEO2 = CD_NIVEL_GEO2,
					@CD_NIVEL_GEO3 = CD_NIVEL_GEO3,
					@CD_NIVEL_GEO4 = CD_NIVEL_GEO4,
					@CD_NIVEL_GEO5 = CD_NIVEL_GEO5,
					@CD_NIVEL_GEO6 = CD_NIVEL_GEO6,
					@CD_NIVEL_GEO7 = CD_NIVEL_GEO7,
					@CD_NIVEL_GEO8 = CD_NIVEL_GEO8,
					@CD_NIVEL_GEO9 = CD_NIVEL_GEO9,
					@DC_NIVEL_GEO1 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
					@CD_NIVEL = CD_NIVEL_EST_GEOGRAFICA
			FROM TB_EST_GEOGRAFICA with (NOLOCK) 
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEO
			
			-- PEGA AS DESCRIÇÕES DA TABELA TB_PESSOA_ENDERECO
			SELECT	@DC_NIVEL_GEO2 = DC_ESTRUTURA_GEO2,
					@DC_NIVEL_GEO3 = DC_ESTRUTURA_GEO3,
					@DC_NIVEL_GEO4 = DC_ESTRUTURA_GEO4,
					@DC_NIVEL_GEO5 = DC_ESTRUTURA_GEO5,
					@DC_NIVEL_GEO6 = DC_ESTRUTURA_GEO6,
					@DC_NIVEL_GEO7 = DC_ESTRUTURA_GEO7,
					@DC_NIVEL_GEO8 = DC_ESTRUTURA_GEO8,
					@DC_NIVEL_GEO9 = DC_ESTRUTURA_GEO9
					--@CD_NIVEL = CD_NIVEL_EST_GEOGRAFICA
			FROM TB_PESSOA_ENDERECO with (NOLOCK) 
			where CD_PESSOA = @CD_PESSOA
			AND ID_TIPO_ENDERECO = @ID_TIPO_ENDERECO
		
		END 
	ELSE
		BEGIN
		
 			-- PEGA TODOS OS CODIGOS DA ESTRUTURA COMERCIAL
			SELECT	@CD_NIVEL_GEO1 = CD_NIVEL_GEO1,
					@CD_NIVEL_GEO2 = CD_NIVEL_GEO2,
					@CD_NIVEL_GEO3 = CD_NIVEL_GEO3,
					@CD_NIVEL_GEO4 = CD_NIVEL_GEO4,
					@CD_NIVEL_GEO5 = CD_NIVEL_GEO5,
					@CD_NIVEL_GEO6 = CD_NIVEL_GEO6,
					@CD_NIVEL_GEO7 = CD_NIVEL_GEO7,
					@CD_NIVEL_GEO8 = CD_NIVEL_GEO8,
					@CD_NIVEL_GEO9 = CD_NIVEL_GEO9,
					@DC_NIVEL_GEO1 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
					@DC_NIVEL_GEO2 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
					@DC_NIVEL_GEO3 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3),
					@DC_NIVEL_GEO4 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4),
					@DC_NIVEL_GEO5 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5),
					@DC_NIVEL_GEO6 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO6),
					@DC_NIVEL_GEO7 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO7),
					@DC_NIVEL_GEO8 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO8),
					@DC_NIVEL_GEO9 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO9),
					@CD_NIVEL = CD_NIVEL_EST_GEOGRAFICA
			FROM TB_EST_GEOGRAFICA with (NOLOCK) 
			WHERE CD_EST_GEOGRAFICA = @CD_EST_GEO
		
		END
		
  
  
	IF (@CD_NIVEL = 1)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1
		END
	
	IF (@CD_NIVEL = 2)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1 + 
						', ' + @DC_NIVEL_GEO2
		END
	
	
	IF (@CD_NIVEL = 3)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1 + 
						', ' + @DC_NIVEL_GEO2 +
						', ' + @DC_NIVEL_GEO3
						
		END
	
	
	IF (@CD_NIVEL = 4)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1 + 
						', ' + @DC_NIVEL_GEO2 +
						', ' + @DC_NIVEL_GEO3 +
						', ' + @DC_NIVEL_GEO4 
						
		END
	
	--IF (@CD_NIVEL = 5)
	--	BEGIN
	--		SELECT @RESULTADO = @DC_NIVEL_GEO5 + ', ' + @NUMERO
	--					+ ' ' + @COMPLEMENTO + ' - ' + @DC_NIVEL_GEO4
	--					+ ', ' + @DC_NIVEL_GEO3 + ' - ' +@DC_NIVEL_GEO2
	--					+ '. CEP: ' + @CODIGO_POSTAL
	--	END
		
	IF (@CD_NIVEL = 5)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1 + 
						', ' + @DC_NIVEL_GEO2 +
						', ' + @DC_NIVEL_GEO3 +
						', ' + @DC_NIVEL_GEO4 +
						', ' + @DC_NIVEL_GEO5
						
		END
		
	IF (@CD_NIVEL = 6)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1 + 
						', ' + @DC_NIVEL_GEO2 +
						', ' + @DC_NIVEL_GEO3 +
						', ' + @DC_NIVEL_GEO4 +
						', ' + @DC_NIVEL_GEO5 +
						', ' + @DC_NIVEL_GEO6 
		END
	
	
	IF (@CD_NIVEL = 7)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1 + 
						', ' + @DC_NIVEL_GEO2 +
						', ' + @DC_NIVEL_GEO3 +
						', ' + @DC_NIVEL_GEO4 +
						', ' + @DC_NIVEL_GEO5 +
						', ' + @DC_NIVEL_GEO6 +
						', ' + @DC_NIVEL_GEO7 
		END
	
	
	
	
	IF (@CD_NIVEL = 8)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1 + 
						', ' + @DC_NIVEL_GEO2 +
						', ' + @DC_NIVEL_GEO3 +
						', ' + @DC_NIVEL_GEO4 +
						', ' + @DC_NIVEL_GEO5 +
						', ' + @DC_NIVEL_GEO6 +
						', ' + @DC_NIVEL_GEO7 +
						', ' + @DC_NIVEL_GEO8 
		END
	
	
	IF (@CD_NIVEL = 9)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_GEO1 + 
						', ' + @DC_NIVEL_GEO2 +
						', ' + @DC_NIVEL_GEO3 +
						', ' + @DC_NIVEL_GEO4 +
						', ' + @DC_NIVEL_GEO5 +
						', ' + @DC_NIVEL_GEO6 +
						', ' + @DC_NIVEL_GEO7 +
						', ' + @DC_NIVEL_GEO8 +
						', ' + @DC_NIVEL_GEO9 
		END
	
	
  RETURN @RESULTADO
END
GO
