SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_VERIFICA_CUPOM_DESCONTO_VIGENTE](@CD_PESSOA_CUPOM_DESCONTO NUMERIC(18,0))
RETURNS INT
AS
BEGIN

	-- ESSA FUNÇÃO RETORNA SE UM DETERMINADO CUPOM DE DESCONTO DA PESSOA ESTA VIGENTE OU NÃO

	DECLARE @CD_PESSOA				NUMERIC(18,0)
	DECLARE @NM_CICLO_ATUAL_PESSOA	NUMERIC(18,0)
	DECLARE @V_QTD_REGISTROS_CICLO	INT
	DECLARE @V_QTD_REGISTROS_DATA	INT
	DECLARE @RESULTADO				INT
	
	
	-- BUSCA CODIGO DA PESSOA
	SELECT @CD_PESSOA = CD_PESSOA
	FROM TB_PESSOA_CUPOM_DESCONTO
	WHERE CD_PESSOA_CUPOM_DESCONTO = @CD_PESSOA_CUPOM_DESCONTO

	
	-- PRIMEIRO VAMOS VERIFICAR O CICLO ATUAL DA PESSOA
	SELECT @NM_CICLO_ATUAL_PESSOA = A.NM_CICLO_ATUAL 
	FROM TB_PESSOA_RESUMO A 
	WHERE A.CD_PESSOA = @CD_PESSOA
		AND A.CD_FUNCAO = 2


	-- VAMOS VERIFICAR CICLO INICIAL E CICLO FINAL DO CUPOM
	SELECT @V_QTD_REGISTROS_CICLO = COUNT(*) 
	FROM
	(SELECT NM_CICLO_INICIAL,
	   CASE 
			WHEN STR(NM_CICLO_FINAL) IS NULL 
				THEN @NM_CICLO_ATUAL_PESSOA
		ELSE STR(NM_CICLO_FINAL) 
		END NM_CICLO_FINAL		
		FROM TB_PESSOA_CUPOM_DESCONTO P
		WHERE P.CD_PESSOA_CUPOM_DESCONTO = @CD_PESSOA_CUPOM_DESCONTO) X
	WHERE isnull(X.NM_CICLO_INICIAL,@NM_CICLO_ATUAL_PESSOA) <= @NM_CICLO_ATUAL_PESSOA
	AND isnull(X.NM_CICLO_FINAL,@NM_CICLO_ATUAL_PESSOA) >= @NM_CICLO_ATUAL_PESSOA
	

	-- VAMOS VERIFICAR DATA INICIAL E DATA FINAL
	SELECT @V_QTD_REGISTROS_DATA = COUNT(*) 
	FROM
	(SELECT DT_INICIAL,
	   CASE 
			WHEN DT_FINAL IS NULL
				THEN GETDATE()
		ELSE DT_FINAL
		END DT_FINAL		
		FROM TB_PESSOA_CUPOM_DESCONTO P
		WHERE P.CD_PESSOA_CUPOM_DESCONTO = @CD_PESSOA_CUPOM_DESCONTO) X
	WHERE isnull(X.DT_INICIAL,GETDATE()-1) <= GETDATE()
		AND isnull(X.DT_FINAL,GETDATE()+1) >= GETDATE()


	IF @V_QTD_REGISTROS_CICLO > 0 AND @V_QTD_REGISTROS_DATA > 0
		BEGIN
			SELECT @RESULTADO = 1
		END
	ELSE
		BEGIN
			SELECT @RESULTADO = 0
		END
	
   RETURN @RESULTADO
END
GO
