SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DOCUMENTO_PESSOA](@CD_PESSOA NUMERIC(18,0),
													@ID_TIPO_DOCUMENTO INT)
RETURNS VARCHAR(80)
AS

/* TIPO_DOCUMENTO

0 - O PRIMEIRO QUE ACHAR
1 - CPF
2 - RG

*/

BEGIN
	DECLARE @RESULTADO VARCHAR(80)

	IF 	@ID_TIPO_DOCUMENTO = 0 -- PRIMEIRO QUE ACHAR
		BEGIN
			SELECT @RESULTADO = MIN(DC_DOCUMENTO)
			FROM TB_PESSOA_DOCUMENTO with (NOLOCK) 
			WHERE CD_PESSOA = @CD_PESSOA
		END
	ELSE
		BEGIN	  
 			SELECT @RESULTADO = DC_DOCUMENTO
			FROM TB_PESSOA_DOCUMENTO with (NOLOCK) 
			WHERE CD_PESSOA = @CD_PESSOA
			AND ID_TIPO_DOCUMENTO = @ID_TIPO_DOCUMENTO
		END
		
	RETURN @RESULTADO
END
GO
