SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_BUSCA_TOTAL_MESES_ATIVOS_DNANAMODA] (@CD_PESSOA NUMERIC(18,0),    
@CD_FUNCAO NUMERIC(18,0),    
@NM_CICLO NUMERIC(18,0),    
@CD_EST_COMERCIAL NUMERIC(18,0),    
@QDE_CICLOS  NUMERIC(18,0))  

--  CALCULA : 
--  TOTAL DE MESES ATIVOS EM UM PERIODO E CONSECUTIVOS

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO             NUMERIC(18,0) = 0
  DECLARE @CICLO                 INT = 1
  DECLARE @VL_INDICADOR_PESSOAL NUMERIC(18,0) = 0

  IF (@QDE_CICLOS > 0)  
  BEGIN
    SELECT @RESULTADO = COUNT(DISTINCT NM_CICLO)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND CD_INDICADOR_PESSOAL = 1003
	AND  VL_INDICADOR_PESSOAL > 0
    AND NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @QDE_CICLOS) 
    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

  END
  ELSE
  BEGIN

    SELECT @VL_INDICADOR_PESSOAL = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA           = @CD_PESSOA
    AND   CD_FUNCAO           = @CD_FUNCAO
    AND   NM_CICLO            = @NM_CICLO
    AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
    AND   CD_INDICADOR_PESSOAL = 1003

    WHILE (@VL_INDICADOR_PESSOAL > 0 )
    BEGIN
      SELECT @RESULTADO = (@RESULTADO + 1)
      SELECT @CICLO = (@CICLO+1) 

      SELECT @VL_INDICADOR_PESSOAL = isnull(max(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA           = @CD_PESSOA
      AND   CD_FUNCAO           = @CD_FUNCAO
      AND   NM_CICLO            = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO)
      AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
      AND   CD_INDICADOR_PESSOAL = 1003
    END

  END

  RETURN @RESULTADO
END
GO
