SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_VALOR_PEDIDOS_BIOGALENA] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @ID_TIPO_PESSOA INT) -- 1 CF / 2 CN / 3 CN-CF

--  CALCULA : 
--  TOTAL DE VALOR TOTAL DOS PEDIDOS PAGOS


RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	       NUMERIC(18,0)
          
  SELECT @RESULTADO = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
  FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
      (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
       FROM TB_WRK_MN_TOPOLOGIA B1
       WHERE B1.CD_PESSOA               = @CD_PESSOA
       AND   B1.CD_FUNCAO               = @CD_FUNCAO
       AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
       AND   B1.NM_CICLO                = @NM_CICLO
       AND   B1.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
       AND   B1.NM_NIVEL                = 1 ) C   -- DIRETOS
  WHERE ( (@ID_TIPO_PESSOA = 1 AND  A.CD_RV_INDICANTE = C.PESSOA)  OR
          (@ID_TIPO_PESSOA = 2 AND  A.CD_PESSOA       = C.PESSOA)  OR
          (@ID_TIPO_PESSOA = 3 AND (A.CD_PESSOA = C.PESSOA OR A.CD_RV_INDICANTE = C.PESSOA))
        )
  AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
  AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
  AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
  AND A.NM_PEDIDO                = B.NM_PEDIDO
  AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--  AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
  AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0


  RETURN @RESULTADO
END
GO
