SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create FUNCTION [dbo].[fn_PessoaBuscaEstadoPorCdEmpresa](@CD_EMPRESA INT)
														 
RETURNS VARCHAR(3)
AS
BEGIN
	DECLARE @v_descricaoResultado		VARCHAR(300)
		
		SELECT @v_descricaoResultado =  DC_ESTRUTURA_GEO2
		FROM TB_PESSOA_ENDERECO WHERE CD_PESSOA like @CD_EMPRESA

	RETURN @v_descricaoResultado
END



GO
