SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_VGQ_AKMOS]  (@CD_PESSOA NUMERIC(18,0), @NM_CICLO  NUMERIC(18,0), 
@CD_FUNCAO NUMERIC(18,0), @CD_EST_COMERCIAL NUMERIC(18,0), @CD_PAPEL NUMERIC (18,0), @VL_PONTOS_PESSOAIS NUMERIC(18,2) )
												  	
RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO              NUMERIC(18,2)  = 0,
    --      @VL_FATOR               NUMERIC(18,2)  = 0.5,
          @VL_MAXIMO_PONTOS_LINHA NUMERIC(18,2)  = 0
 
  IF (@CD_PAPEL       = 3) -- MASTER
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (1200 * 0.5)
  END
  ELSE IF (@CD_PAPEL = 4) -- SÊNIOR
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (2100 * 0.5)
  END
  ELSE IF (@CD_PAPEL = 5) -- SUPERVISOR
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (3900 * 0.5)
  END
  ELSE IF (@CD_PAPEL = 6) -- EXECUTIVO
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (7500 * 0.4)
  END
  ELSE IF (@CD_PAPEL = 7) -- DIRETOR
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (12000 * 0.4)
  END
  ELSE IF (@CD_PAPEL = 8) -- PRESIDENTE
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (20000 * 0.4)
  END
  ELSE IF (@CD_PAPEL = 9) -- SAFIRA
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (40000 * 0.4)
  END
  ELSE IF (@CD_PAPEL = 10) -- JADE
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (75000 * 0.3)
  END
  ELSE IF (@CD_PAPEL = 11) -- RUBI
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (125000 * 0.3)
  END
  ELSE IF (@CD_PAPEL = 12) -- ESMERALDA
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (250000 * 0.3)
  END
  ELSE IF (@CD_PAPEL = 13) -- DIAMOND
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (500000 * 0.23)
  END
  ELSE IF (@CD_PAPEL = 14) -- BLUE DIAMOND
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (1000000 * 0.23)
  END
  ELSE IF (@CD_PAPEL = 15) -- BLACK DIAMOND
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (2000000 * 0.18)
  END
  ELSE IF (@CD_PAPEL = 16) -- ROYAL BLACK DIAMOND
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (4000000 * 0.18)
  END
  ELSE IF (@CD_PAPEL = 17) -- DOBLE ROYAL BLACK DIAMOND
  BEGIN
    SELECT @VL_MAXIMO_PONTOS_LINHA = (8000000 * 0.15)
  END

  SELECT   @RESULTADO = ISNULL((SUM(CASE WHEN VL_INDICADOR_PESSOAL > @VL_MAXIMO_PONTOS_LINHA  THEN @VL_MAXIMO_PONTOS_LINHA  ELSE VL_INDICADOR_PESSOAL  END) + @VL_PONTOS_PESSOAIS),0)
  FROM TB_PESSOA_INDICADOR A with(nolock),
      (SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
       FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
       WHERE B1.CD_PESSOA             = @CD_PESSOA
       AND   B1.CD_FUNCAO             = @CD_FUNCAO
       AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
       AND   B1.NM_CICLO              = @NM_CICLO
       AND   B1.ID_TIPO_REDE_MN       = 1
       AND   B1.NM_NIVEL              = 1) C -- REDE UNILEVEL
  WHERE A.CD_PESSOA                = C.PESSOA
  AND   A.NM_CICLO                 = @NM_CICLO
  AND   A.CD_FUNCAO                = @CD_FUNCAO
  AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
  AND   A.CD_INDICADOR_PESSOAL     = 1004

  RETURN @RESULTADO
END
GO
