SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_NIVEL_MULTINIVEL]  (@CD_PESSOA NUMERIC(18,0), 
		        			@CD_PESSOA_VINCULADA NUMERIC(18,0),
						@NM_CICLO NUMERIC(18,0),
                                                @ID_TIPO_REDE_MN INT)
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0)
 
	SELECT @RESULTADO = ISNULL(MIN(NM_NIVEL),0)
	FROM TB_WRK_MN_TOPOLOGIA
	WHERE CD_PESSOA_VINCULADA = @CD_PESSOA_VINCULADA
	AND CD_PESSOA = @CD_PESSOA
	AND NM_CICLO = @NM_CICLO
        AND ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN

  RETURN @RESULTADO
END

GO
