SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_PessoaBuscaCodigoOperadorAreaMakie](@p_codigoPessoa NUMERIC(18,0), @p_codigoFuncao INT)
														 
RETURNS NUMERIC(18,0)
AS
BEGIN 
	DECLARE @v_codigoPessoaOA	NUMERIC(18,0),
			@v_codigoPapelAtual	INT
	
	-- ESTA FUNÇÃO FOI CRIADA ESPECIFICAMENTE PARA A MAKIÊ PARA RETORNAR O CÓDIGO DO OPERADOR DE ÁREA PARA UMA DETERMINADA PESSOA, COMO A REGRA É COMPLEXA NÃO É POSSÍVEL TRATAR NUM SIMPLES SELECT

	IF @p_codigoFuncao = 2
		BEGIN
			-- VAMOS PRIMEIRO BUSCAR O PAPEL DA PESSOA PRA VALIDARMOS QUAL REGRA APLICAR
			SELECT @v_codigoPapelAtual = CD_PAPEL_CARREIRA
			  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND CD_FUNCAO = @p_codigoFuncao

			-- REGRA 1 -- SE A PESSOA JÁ POSSUIR O PAPEL DE OPERADOR DE ÁREA ELA PRÓPRIA É O RESULTADO
			IF @v_codigoPapelAtual = 11
				BEGIN
					SELECT @v_codigoPessoaOA = @p_codigoPessoa
				END
		
			-- REGRA 2 - SE FOR UM LÍDER VAMOS VALIDAR SE O LIDER DELE POSSUI O PAPEL DE OPERADOR DE ÁREA, SE POSSUIR O LÍDER DO LÍDER POSSUIR ESSE PAPEL ELE SERÁ RETORNADO NO RESULTADO
			IF @v_codigoPapelAtual = 10
				BEGIN
					SELECT @v_codigoPessoaOA = ISNULL((select p2.CD_PESSOA from TB_PESSOA_RESUMO p2 WITH(NOLOCK) where p2.CD_FUNCAO = P.CD_FUNCAO and p2.cd_pessoa = p.cd_pessoa_lideranca and p2.CD_PAPEL_CARREIRA = 11),0)
					  FROM TB_PESSOA_RESUMO p WITH(NOLOCK) 
					 WHERE p.CD_FUNCAO = @p_codigoFuncao 
					   AND p.CD_PESSOA = @p_codigoPessoa
				END

			-- REGRA 3 - PARA DEMAIS CONSULTORES QUE NÃO SÃO LÍDERES OU OPERADORES DE ÁREA
			IF @v_codigoPapelAtual IN (1,2,3,4,7)
				BEGIN
					-- PRIMEIRO TENTA VALIDAR SE O LÍDER DIRETO DESTA PESSOA É UM OPERADOR DE ÁREA, SE TIVERMOS RESULTADO POSITIVO ESTA PESSOA ELE SERÁ RETORNADO
					SELECT @v_codigoPessoaOA = ISNULL((select p2.CD_PESSOA from TB_PESSOA_RESUMO p2 WITH(NOLOCK) where p2.CD_FUNCAO = P.CD_FUNCAO and p2.cd_pessoa = p.cd_pessoa_lideranca and p2.CD_PAPEL_CARREIRA = 11),0)
					  FROM TB_PESSOA_RESUMO p WITH(NOLOCK) 
					 WHERE p.CD_FUNCAO = @p_codigoFuncao 
					   AND p.CD_PESSOA = @p_codigoPessoa

					IF @v_codigoPessoaOA = 0
						BEGIN
							-- SE ENTROU AQUI SIGNIFICA QUE O LÍDER DO CONSULTOR NÃO É UM OPERADOR DE ÁREA
							-- NESTE CASO TEMOS QUE BUSCAR O LÍDER DO LÍDER DO CONSULTOR E CHECAR SE ESTE É UM OPERADOR DE ÁREA, EM CASO POSITIVO ELE SERÁ RETORNADO
							SELECT @v_codigoPessoaOA = ISNULL((select p2.CD_PESSOA from TB_PESSOA_RESUMO p2 WITH(NOLOCK) where p2.CD_FUNCAO = P.CD_FUNCAO and p2.cd_pessoa = p.cd_pessoa_lideranca and p2.CD_PAPEL_CARREIRA = 11),0)
							  FROM TB_PESSOA_RESUMO p WITH(NOLOCK) 
							 WHERE p.CD_FUNCAO = @p_codigoFuncao 
							   AND p.CD_PESSOA = (SELECT CD_PESSOA_LIDERANCA FROM TB_PESSOA_RESUMO WITH(NOLOCK) WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = @p_codigoFuncao)
						END
				END

		END
	ELSE
		BEGIN
			SELECT @v_codigoPessoaOA = 0
		END

	IF @v_codigoPessoaOA = 0
		BEGIN
			SELECT @v_codigoPessoaOA = NULL
		END

	RETURN @v_codigoPessoaOA
END
GO
