SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DOMINIO](@DC_GRUPO_DOMINIO VARCHAR(80), @CD_DOMINIO INT)
RETURNS VARCHAR(60)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(60)
 
  
  SELECT @RESULTADO = B.DC_DOMINIO 
  FROM TB_GRUPO_DOMINIO A with (NOLOCK), TB_DOMINIO B with (NOLOCK) 
  WHERE DC_GRUPO_DOMINIO = @DC_GRUPO_DOMINIO
  AND A.CD_GRUPO_DOMINIO = B.CD_GRUPO_DOMINIO
  AND B.CD_DOMINIO = @CD_DOMINIO

  RETURN @RESULTADO
END
GO
