SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_DESC_CAMPANHA](@CD_CAMPANHA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DC_CAMPANHA
  FROM TB_CAMPANHA
  WHERE CD_CAMPANHA = @CD_CAMPANHA

  RETURN @RESULTADO
END


GO
