SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_EST_GEOGRAFICA](@CD_EST_GEOGRAFICA_PAI NUMERIC(18,0), @CD_EST_GEOGRAFICA_FILHO NUMERIC(18,0))
RETURNS INT
AS
BEGIN
  DECLARE @CD_NIVEL_GEO1 NUMERIC(18,0),
		  @CD_NIVEL_GEO2 NUMERIC(18,0),
		  @CD_NIVEL_GEO3 NUMERIC(18,0),
		  @CD_NIVEL_GEO4 NUMERIC(18,0),
		  @CD_NIVEL_GEO5 NUMERIC(18,0),
		  @CD_NIVEL_GEO6 NUMERIC(18,0),
		  @CD_NIVEL_GEO7 NUMERIC(18,0),
		  @CD_NIVEL_GEO8 NUMERIC(18,0),
		  @CD_NIVEL_GEO9 NUMERIC(18,0),
		  @EXISTE_REGISTRO INT
 
 
	SELECT	@CD_NIVEL_GEO1  = CD_NIVEL_GEO1,
			@CD_NIVEL_GEO2  = CD_NIVEL_GEO2,
			@CD_NIVEL_GEO3  = CD_NIVEL_GEO3,
			@CD_NIVEL_GEO4  = CD_NIVEL_GEO4,
			@CD_NIVEL_GEO5  = CD_NIVEL_GEO5,
			@CD_NIVEL_GEO6  = CD_NIVEL_GEO6,
			@CD_NIVEL_GEO7  = CD_NIVEL_GEO7,
			@CD_NIVEL_GEO8  = CD_NIVEL_GEO8,
			@CD_NIVEL_GEO9  = CD_NIVEL_GEO9
	FROM TB_EST_GEOGRAFICA
	WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA_FILHO
 
 
	IF  (@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO1)	OR  
		(@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO2)	OR
		(@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO3)	OR
		(@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO4)	OR
		(@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO5)	OR
		(@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO6)	OR
		(@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO7)	OR
		(@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO8)	OR
		(@CD_EST_GEOGRAFICA_PAI = @CD_NIVEL_GEO9)
	
		BEGIN
			SELECT @EXISTE_REGISTRO = 1
		END
	ELSE
		BEGIN
			SELECT @EXISTE_REGISTRO = 0
		END
	
   RETURN @EXISTE_REGISTRO
END
GO
