SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_FiscalBuscaReducaoBCICMS]
	(@p_codigoMaterial NUMERIC(18,0), 
	 @p_descUF VARCHAR(2))
RETURNS NUMERIC(18,2)
AS


BEGIN
	DECLARE @v_percReducao NUMERIC(18,2)
	select @v_percReducao = 0
	BEGIN 
		-- primeiro busca redução por material
		Select @v_percReducao = ISNULL(r.VL_REDUCAO_BC,0) 
		  from TB_REDUCAO_BC_ICMS_ST r WITH(NOLOCK)
	     where r.CD_MATERIAL = @p_codigoMaterial
		   and r.DC_UF = @p_descUF
	   
		if @v_percReducao = 0 
	   		BEGIN
				-- se não encontrou busca por NCM
				Select @v_percReducao = ISNULL(r.VL_REDUCAO_BC,0) 
				  from TB_REDUCAO_BC_ICMS_ST r WITH(NOLOCK)
				 where r.CD_CLASSIFICACAO_FISCAL = (SELECT M.CD_CLASSIFICACAO_FISCAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = @p_codigoMaterial)
				   and r.DC_UF = @p_descUF
				
			END

		if @v_percReducao = 0 
	   		BEGIN
				-- se não encontrou busca por UF
				Select @v_percReducao = ISNULL(r.VL_REDUCAO_BC,0) 
				  from TB_REDUCAO_BC_ICMS_ST r WITH(NOLOCK)
				 where r.DC_UF = @p_descUF
				
			END
	END

	RETURN @v_percReducao
END
GO
