SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_META_INDICADOR](@CD_EST_COMERCIAL NUMERIC(18,0), @CD_INDICADOR_PESSOAL NUMERIC(18,0), @NM_CICLO NUMERIC(18,0))
RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,2)

		SELECT @RESULTADO = SUM(VL_META)
		FROM TB_META_INDICADOR
		WHERE  DBO.FN_EST_COMERCIAL(@CD_EST_COMERCIAL, CD_EST_COMERCIAL) = 1
		--CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		AND CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
		AND NM_CICLO = @NM_CICLO
			
   RETURN @RESULTADO
END
GO
