SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[fn_CategoriaRetornaCategoriaCompleta](@p_codigoCategoria INT)
														 
														 
RETURNS VARCHAR(1000)
AS
BEGIN
  DECLARE @v_descricaoResultado		VARCHAR(1000),
		  
		  @v_codigoNivelCat1		NUMERIC(18,0),
		  @v_codigoNivelCat2		NUMERIC(18,0),
		  @v_codigoNivelCat3		NUMERIC(18,0),
		  @v_codigoNivelCat4		NUMERIC(18,0),
		  @v_codigoNivelCat5		NUMERIC(18,0),
		  @v_codigoNivelCat6		NUMERIC(18,0),
		  @v_codigoNivelCat7		NUMERIC(18,0),
		  @v_codigoNivelCat8		NUMERIC(18,0),
		  @v_codigoNivelCat9		NUMERIC(18,0),
		  @v_descricaoNivelCat1		VARCHAR(80),
		  @v_descricaoNivelCat2		VARCHAR(80),
		  @v_descricaoNivelCat3		VARCHAR(80),
		  @v_descricaoNivelCat4		VARCHAR(80),
		  @v_descricaoNivelCat5		VARCHAR(80),
		  @v_descricaoNivelCat6		VARCHAR(80),
		  @v_descricaoNivelCat7		VARCHAR(80),
		  @v_descricaoNivelCat8		VARCHAR(80),
		  @v_descricaoNivelCat9		VARCHAR(80)
		  
 	
	
	-- PEGA TODOS OS CODIGOS DA CATEGORIA
	SELECT	@v_codigoNivelCat1 = CD_CATEGORIA_NIVEL1, 
			@v_codigoNivelCat2 = CD_CATEGORIA_NIVEL2, 
			@v_codigoNivelCat3 = CD_CATEGORIA_NIVEL3, 
			@v_codigoNivelCat4 = CD_CATEGORIA_NIVEL4, 
			@v_codigoNivelCat5 = CD_CATEGORIA_NIVEL5, 
			@v_codigoNivelCat6 = CD_CATEGORIA_NIVEL6, 
			@v_codigoNivelCat7 = CD_CATEGORIA_NIVEL7, 
			@v_codigoNivelCat8 = CD_CATEGORIA_NIVEL8, 
			@v_codigoNivelCat9 = CD_CATEGORIA_NIVEL9,
			@v_descricaoNivelCat1 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL1),
			@v_descricaoNivelCat2 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL2),
			@v_descricaoNivelCat3 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL3),
			@v_descricaoNivelCat4 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL4),
			@v_descricaoNivelCat5 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL5),
			@v_descricaoNivelCat6 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL6),
			@v_descricaoNivelCat7 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL7),
			@v_descricaoNivelCat8 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL8),
			@v_descricaoNivelCat9 = dbo.fn_CategoriaRetornaNomeCategoria(CD_CATEGORIA_NIVEL9)
	FROM TB_CATEGORIA
	WHERE CD_CATEGORIA = @p_codigoCategoria





	IF @v_codigoNivelCat1 IS NOT NULL
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelCat1
		END
	
	IF @v_codigoNivelCat2 IS NOT NULL
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelCat1 + 
						' >> ' + @v_descricaoNivelCat2
		END
	
	IF @v_codigoNivelCat3 IS NOT NULL
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelCat1 + 
						' >> ' + @v_descricaoNivelCat2 +
						' >> ' + @v_descricaoNivelCat3
		END
	
	IF @v_codigoNivelCat4 IS NOT NULL
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelCat1 + 
						' >> ' + @v_descricaoNivelCat2 +
						' >> ' + @v_descricaoNivelCat3 +
						' >> ' + @v_descricaoNivelCat4
		END

	IF @v_codigoNivelCat5 IS NOT NULL
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelCat1 + 
						' >> ' + @v_descricaoNivelCat2 +
						' >> ' + @v_descricaoNivelCat3 +
						' >> ' + @v_descricaoNivelCat4 +
						' >> ' + @v_descricaoNivelCat5 
		END

	IF @v_codigoNivelCat6 IS NOT NULL
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelCat1 + 
						' >> ' + @v_descricaoNivelCat2 +
						' >> ' + @v_descricaoNivelCat3 +
						' >> ' + @v_descricaoNivelCat4 +
						' >> ' + @v_descricaoNivelCat5 + 
						' >> ' + @v_descricaoNivelCat6 
		END


	
	
	IF @v_codigoNivelCat8 IS NOT NULL
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelCat1 + 
						' >> ' + @v_descricaoNivelCat2 +
						' >> ' + @v_descricaoNivelCat3 +
						' >> ' + @v_descricaoNivelCat4 +
						' >> ' + @v_descricaoNivelCat5 + 
						' >> ' + @v_descricaoNivelCat6 + 
						' >> ' + @v_descricaoNivelCat7 +
						' >> ' + @v_descricaoNivelCat8
		END


	IF @v_codigoNivelCat8 IS NOT NULL
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelCat1 + 
						' >> ' + @v_descricaoNivelCat2 +
						' >> ' + @v_descricaoNivelCat3 +
						' >> ' + @v_descricaoNivelCat4 +
						' >> ' + @v_descricaoNivelCat5 + 
						' >> ' + @v_descricaoNivelCat6 + 
						' >> ' + @v_descricaoNivelCat7 +
						' >> ' + @v_descricaoNivelCat8 +
						' >> ' + @v_descricaoNivelCat9
		END
		
		 
	
  RETURN @v_descricaoResultado
END
GO
