SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================================================================================
-- Author:		Anderson Paschoareli
-- Create date: 22/08/2023
-- Description:	Função que será executada na captação de pedidos para verificar qtd. de dividas vencidas da pessoa
-- Antigamente esse processo era feito diretamente na captação de pedidos (por meio de SELECT NO FONTE), 
-- entretanto a Lowell possui um comportamento diferente para determinar uma divida vencida. 
-- Por isso será criado essa função pois assim o SELECT será diferente por cliente
-- Inicialmente essa função será usada na parte de Pendencia ou Bloqueio da captação de pedidos em virtu de ter divida vencida
-- =======================================================================================================================================

CREATE FUNCTION [dbo].[fn_PedidoBuscaQtdDividasVencidasCaptacao]
(
	@p_cdPessoa				numeric(18,0)
)

RETURNS numeric(18,2)
AS

BEGIN
	-- Declare the return variable here
	DECLARE @v_qtdDividasVencidas	numeric(18,0)
	DECLARE @v_cdCliente			numeric(18,0)

	
	SELECT @v_qtdDividasVencidas = 0
	SELECT @v_cdCliente = 0
	
	
	-- VERIFICA QUAL É O CLIENTE
	SELECT @v_cdCliente = VL_PARAMETRO
	FROM TB_VALOR_PARAMETRO  with (NOLOCK)
	WHERE CD_GRUPO_PARAMETRO = 6
	AND CD_PARAMETRO = 1
	AND CD_VALOR_PARAMETRO  = 1


	-- ********************************************************
	-- LOWELL
	-- ********************************************************
	IF @v_cdCliente = 57
		BEGIN

			SELECT @v_qtdDividasVencidas = COUNT(*)  
			FROM TB_DIVIDA D 
			WHERE D.ID_SITUACAO_PAGAMENTO = 3 
			AND D.CD_PESSOA = @p_cdPessoa
			--ALTERAÇÃO EM 12/01/2019 POR DIEGO ZILIOTI
			--ADICIONADO FILTRO PARA CONSIDERAR SOMENTE DÍVIDAS DO TIPO PÓS-PAGO COMO VENCIDAS
			--ISTO PQ ESTE MÉTODO É UTILIZADO NA VALIDAÇÃO DE DÍVIDAS VENCIDAS NA CAPTAÇÃO DE PEDIDOS
			AND (SELECT PP.ID_TIPO_PAGAMENTO 
					FROM TB_PLANO_PAGAMENTO PP 
					WHERE PP.CD_PLANO_PAGAMENTO = (SELECT P.CD_PLANO_PAGAMENTO 
													FROM TB_PEDIDO P 
													WHERE P.NM_PEDIDO = D.NM_PEDIDO)) in (2,3) 
			-- NO CASO DA LOWELL VAMOS DESPREZAR TITULOS COM SITUAÇÃO DE AS
			-- SE A COLUNA ESTIVER NULO VAMOS CONSIDERAR COMO ABERTO
			AND D.CD_DIVIDA IN (SELECT P.CD_DIVIDA FROM TB_PARCELA P WHERE ISNULL(P.DC_SITUACAO_EXTERNO, 'AB') NOT IN ('AS'))

		END

	ELSE
		
		BEGIN

			SELECT @v_qtdDividasVencidas = COUNT(*)
			FROM TB_DIVIDA D 
			WHERE D.ID_SITUACAO_PAGAMENTO = 3 
			AND D.CD_PESSOA = @p_cdPessoa
			--ALTERAÇÃO EM 12/01/2019 POR DIEGO ZILIOTI
			--ADICIONADO FILTRO PARA CONSIDERAR SOMENTE DÍVIDAS DO TIPO PÓS-PAGO COMO VENCIDAS
			--ISTO PQ ESTE MÉTODO É UTILIZADO NA VALIDAÇÃO DE DÍVIDAS VENCIDAS NA CAPTAÇÃO DE PEDIDOS
			AND (SELECT PP.ID_TIPO_PAGAMENTO 
					FROM TB_PLANO_PAGAMENTO PP 
					WHERE PP.CD_PLANO_PAGAMENTO = (SELECT P.CD_PLANO_PAGAMENTO 
													FROM TB_PEDIDO P 
													WHERE P.NM_PEDIDO = D.NM_PEDIDO)) in (2,3) 


		END


		
		
	-- Return the result of the function
	RETURN ISNULL(@v_qtdDividasVencidas,0)

END
GO
