SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_ALIQUOTA_FUNDO_POBREZA_DESTINO](@CD_MATERIAL NUMERIC(18,0), @UF_DESTINO VARCHAR(80), @ID_TIPO_NOTA_FISCAL INT)
RETURNS NUMERIC(18,2)
AS
BEGIN
	DECLARE @RESULTADO NUMERIC(18,2)
	
	select @resultado = 0
				
	select @RESULTADO = ISNULL(ale.PC_ALIQUOTA_FUNDO_POBREZA,0) from TB_ALIQUOTA_FUNDO_POBREZA ale
	 where ale.CD_MATERIAL = @CD_MATERIAL
	   and ale.DC_UF = @UF_DESTINO
	   
	If @RESULTADO = 0 
		BEGIN
			select @RESULTADO = ISNULL(ale.PC_ALIQUOTA_FUNDO_POBREZA,0) 
			  from TB_ALIQUOTA_FUNDO_POBREZA ale
			 where ale.CD_CLASSIFICACAO_FISCAL = (select ncm.CD_CLASSIFICACAO_FISCAL 
			  from tb_material ncm where ncm.CD_MATERIAL = @CD_MATERIAL) 
			   and ale.DC_UF = @UF_DESTINO

		END

	If @RESULTADO = 0 
		BEGIN
			select @RESULTADO = ISNULL(ale.PC_ALIQUOTA_FUNDO_POBREZA,0) 
			  from TB_ALIQUOTA_FUNDO_POBREZA ale
			 where ale.DC_UF = @UF_DESTINO
		END 

	RETURN @RESULTADO
END 

GO
