SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- **************************************************************************************
-- FUNÇÃO CRIADA POR ANDERSON - 20/09/2023
-- ELA VERIFICA SE A REGRA COMERCIAL POSSUI INDICADORES CONFIGURADOS E SE A PESSOA 
-- ATINGIU TODOS OS INDICADORES CADASTRADOS NA REGRA COMERCIAL
-- RETORNA 1 - SIM (ATENDE)
-- 0 PARA NÃO (NÃO ATENDE)
-- OBJETIVO DA FUNÇÃO É APENAS VALIDAR SE A PESSOA ATINGIU TODOS INDICADORES CADASTRADOS NA REGRA COMERCIAL
-- NOS CASOS DE REGRA SEM INDICADORES VAMOS RETORMAR COMO NÃO ATENDE (ISSO PORQUE JA É FEITO UM TRATAMENTO NA PROCEDURE QUE LISTA AS REGRAS) E PODE DUPLICAR OS VALOES
-- **************************************************************************************

CREATE FUNCTION [dbo].[FN_VERIFICA_INDICADORES_REGRA_COMERCIAL](@CD_REGRA_COMERCIAL NUMERIC(18,0),
																@CD_PESSOA NUMERIC(18,0),
																@CD_FUNCAO NUMERIC(18,0))
RETURNS INT
AS

BEGIN
	
	DECLARE @V_QTD_REGISTROS			INT
	DECLARE	@CD_INDICADOR_PESSOAL		NUMERIC(18,0)
	DECLARE @VL_FAIXA_INICIAL			NUMERIC(18,2)
	DECLARE @VL_FAIXA_FINAL				NUMERIC(18,2)
	DECLARE @NM_CICLO_ATUAL_PESSOA		NUMERIC(18,0)
	
	
	DECLARE	@V_QTD_GANHOU				INT
	DECLARE @RESULTADO					INT
	DECLARE @Cursor_Itens				CURSOR


	SELECT @RESULTADO = 1

	
	-- *************************************************************************************************************************
	-- VERIFICA SE A REGRA COMERCIAL POSSUI INDICADORES
	-- CASO NÃO POSSUA INDICADORES NA REGRA VAMOS RETORNAR QUE NÃO ATENDE
	-- ISSO PORQUE A IDEIA DA FUNÇÃO É APENAS VALIDAR REGRAS QUE TENHAM INDICADORES
	-- E TAMBEM NOS CASOS DAS REGRAS QUE NÃO TENHAM INDICADORES JA ESTÃO SENDO TRATADAS NA PROPRIA QUERY QUE LISTA AS REGRAS
	-- E COLOCANDO COMO ATENDE PODE DUPLICAR AS REGRAS 
	-- *************************************************************************************************************************
	SELECT @V_QTD_REGISTROS = COUNT(*) 
	FROM TB_REGRA_COMERCIAL_INDICADOR
	WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
	
	IF @V_QTD_REGISTROS = 0
		BEGIN
			SELECT @RESULTADO = 0
			RETURN @RESULTADO
		END
	ELSE
		BEGIN

			-- VERIFICA O CICLO ATUAL DA PESSOA
			SELECT @NM_CICLO_ATUAL_PESSOA = NM_CICLO_ATUAL 
			FROM TB_PESSOA_RESUMO
			WHERE CD_PESSOA = @CD_PESSOA
			AND CD_FUNCAO = @CD_FUNCAO
									

			-- EXISTEM INDICADORES NA REGRA COMERCIAL
			-- AGORA VAMOS VERIFICAR QUANTAS A PESSOA ATINGIU

			SET @Cursor_Itens = CURSOR FAST_FORWARD
			FOR

					SELECT CD_INDICADOR_PESSOAL, VL_FAIXA_INICIAL, VL_FAIXA_FINAL
					FROM TB_REGRA_COMERCIAL_INDICADOR
					WHERE CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL
										
				OPEN @Cursor_Itens
				FETCH NEXT FROM @Cursor_Itens
				INTO	@CD_INDICADOR_PESSOAL, @VL_FAIXA_INICIAL, @VL_FAIXA_FINAL
						

				WHILE @@FETCH_STATUS = 0
					BEGIN

						
						SELECT @V_QTD_GANHOU = COUNT(*)
						FROM TB_PESSOA_INDICADOR
						WHERE CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
						AND NM_CICLO = @NM_CICLO_ATUAL_PESSOA
						AND CD_PESSOA = @CD_PESSOA
						AND VL_INDICADOR_PESSOAL BETWEEN @VL_FAIXA_INICIAL AND @VL_FAIXA_FINAL

						IF @V_QTD_GANHOU = 0
							BEGIN
								SELECT @RESULTADO = 0
								RETURN @RESULTADO
							END
							
						
						FETCH NEXT FROM @Cursor_Itens
						INTO	@CD_INDICADOR_PESSOAL, @VL_FAIXA_INICIAL, @VL_FAIXA_FINAL
													
					END
	

		END

		RETURN @RESULTADO

END



GO
