SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_COMPRA_PESSOAL_FANES] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @ID_TIPO_CALCULO  INT )  -- 1 CICLO / 2 MEDIA

--  CALCULA : 
--  COMPRA PESSOAL NO CICLO / MÉDIA COMPRA PESSOAL

RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,2)
  DECLARE @VL_INDICADOR_PESSOAL_1003 NUMERIC(18,2)

  IF (@ID_TIPO_CALCULO = 1)
  BEGIN
    SELECT @RESULTADO =  isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
    FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
        (SELECT MIN(NM_PEDIDO) MIN_PEDIDO
         FROM TB_PEDIDO A
         WHERE A.CD_PESSOA             = @CD_PESSOA
         AND A.CD_FUNCAO               = @CD_FUNCAO		
         AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
         AND A.NM_CICLO_PAGAMENTO     <= @NM_CICLO
         AND A.NM_CICLO_CANCELAMENTO IS NULL) C     -- SOMENTE PEDIDO NÃO CANCELADO
    WHERE A.CD_PESSOA              = @CD_PESSOA
    AND A.CD_FUNCAO                = @CD_FUNCAO		
    AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
    AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
    AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
    AND A.NM_PEDIDO                = B.NM_PEDIDO
    AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
    AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
    AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
    AND A.NM_PEDIDO                <> C.MIN_PEDIDO

  END
  ELSE
  BEGIN
    -- BUSCA O PERIODO ATUAL DA REAVALIAÇÃO
    SELECT @VL_INDICADOR_PESSOAL_1003 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA          = @CD_PESSOA
    AND CD_FUNCAO            = @CD_FUNCAO
    AND CD_INDICADOR_PESSOAL = 1003
    AND NM_CICLO             = @NM_CICLO
    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

    IF (@VL_INDICADOR_PESSOAL_1003 = 0)  -- CICLO DE INICIO - NÃO CALCULA
    BEGIN
      SELECT @RESULTADO = 0
    END
    ELSE
    BEGIN
      SELECT @RESULTADO = ISNULL(SUM(VL_INDICADOR_PESSOAL),0) / @VL_INDICADOR_PESSOAL_1003
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1002
      AND NM_CICLO BETWEEN dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_INDICADOR_PESSOAL_1003) AND @NM_CICLO
      AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

    END


  END

  RETURN @RESULTADO
END




GO
