SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [dbo].[FN_BUSCA_COD_MATERIAL_INTERNO]  (@CD_MATERIAL_EXTERNO VARCHAR(80))

RETURNS NUMERIC(18,0)
AS
BEGIN
   
  DECLARE @RESULTADO NUMERIC(18,0)
	  
  SELECT @RESULTADO = CD_MATERIAL
  FROM TB_MATERIAL
  WHERE CD_MATERIAL_EXTERNO = @CD_MATERIAL_EXTERNO

  
 	
  RETURN @RESULTADO

END




GO
