SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_COD_EST_PRODUTO_PAI]  (@CD_EST_PRODUTO NUMERIC(18,0))

RETURNS NUMERIC(18,0)
AS
BEGIN
   
  DECLARE @RESULTADO NUMERIC(18,0),
		  @NIVEL INT
 
 
  -- VERIFICA O NIVEL
  SELECT @NIVEL = CD_NIVEL_EST_PRODUTO
  FROM TB_EST_PRODUTO
  WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
 
  IF (@NIVEL = 1) 
	BEGIN
		 SELECT @RESULTADO = 0
	END
	
  IF (@NIVEL = 2) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PRO1
		FROM TB_EST_PRODUTO
		WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
	END

  IF (@NIVEL = 3) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PRO2
		FROM TB_EST_PRODUTO
		WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
	END 

  IF (@NIVEL = 4) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PRO3
		FROM TB_EST_PRODUTO
		WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
	END
	
  IF (@NIVEL = 5) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PRO4
		FROM TB_EST_PRODUTO
		WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
	END

  IF (@NIVEL = 6) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PRO5
		FROM TB_EST_PRODUTO
		WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
	END
	
  IF (@NIVEL = 7) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PRO6
		FROM TB_EST_PRODUTO
		WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
	END
	
  IF (@NIVEL = 8) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PRO7
		FROM TB_EST_PRODUTO
		WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
	END
  
  IF (@NIVEL = 9) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_PRO8
		FROM TB_EST_PRODUTO
		WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
	END
	
  RETURN @RESULTADO
END

GO
