SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTUACAO_EQUIPE_SP] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @CD_PAPEL  NUMERIC(18,0) )

--  CALCULA : 
--  TOTAL DE FATURAMENTO DA EQUIPE 


RETURNS NUMERIC(18,2)
AS
BEGIN
	DECLARE @RESULTADO	     NUMERIC(18,2)

	SELECT @RESULTADO = 0

	-- BUSCA OS PONTOS DA EQUIPE
	
	SELECT @RESULTADO =  isnull(SUM(B.VL_CREDITO_TOTAL),0)
	  FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
         (SELECT @CD_PESSOA AS PESSOA
          UNION
          SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
          FROM TB_WRK_MN_TOPOLOGIA B1
          WHERE B1.CD_PESSOA             = @CD_PESSOA
          AND   B1.CD_FUNCAO             = @CD_FUNCAO
          AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
          AND   B1.NM_CICLO              = @NM_CICLO
          AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
          AND  (B1.CD_PESSOA_VINCULADA NOT IN
                   (SELECT B1.PESSOA2 FROM
				 (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- DIAMANTE
				        ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA DIAMANTE
			  	  FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
				  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
				  AND   A.CD_FUNCAO             = B.CD_FUNCAO
				  AND   A.NM_CICLO              = B.NM_CICLO
				  AND   A.CD_PESSOA             = @CD_PESSOA
				  AND   A.CD_FUNCAO             = @CD_FUNCAO
				  AND   A.NM_CICLO              = @NM_CICLO
				  AND   A.ID_ORDEM              = 2 -- DESCENDENTE
				  AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
				  AND   B.CD_PAPEL_DESEMPENHO  >= @CD_PAPEL
				  AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
				  AND   C.NM_CICLO              = A.NM_CICLO
				  AND   C.CD_FUNCAO             = A.CD_FUNCAO 
				  AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
	   			  AND   C.ID_TIPO_REDE_MN       = 1 ) B1 
		     UNION
		     SELECT B1.PESSOA3 FROM
			          (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- DIAMANTE
				         ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA DIAMANTE
						 FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
						 WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
						 AND   A.CD_FUNCAO             = B.CD_FUNCAO
						 AND   A.NM_CICLO              = B.NM_CICLO
						 AND   A.CD_PESSOA             = @CD_PESSOA
						 AND   A.CD_FUNCAO             = @CD_FUNCAO
						 AND   A.NM_CICLO              = @NM_CICLO
						 AND   A.ID_ORDEM              = 2 -- DESCENDENTE
						 AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
						 AND   B.CD_PAPEL_DESEMPENHO  >= @CD_PAPEL
						 AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
						 AND   C.NM_CICLO              = A.NM_CICLO
						 AND   C.CD_FUNCAO             = A.CD_FUNCAO 
						 AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
						 AND   C.ID_TIPO_REDE_MN       = 1 ) B1-- REDE UNILEVEL ) B1
             )
             ) 
             ) C               
  WHERE A.CD_PESSOA               = C.PESSOA
  AND   A.CD_FUNCAO               = @CD_FUNCAO
  AND   A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL 
  AND   A.NM_CICLO_FATURAMENTO    = @NM_CICLO
  AND   A.NM_CICLO_CANCELAMENTO   IS NULL    -- SOMENTE PEDIDO APROVADO, NAO CANCELADO
  AND   A.NM_PEDIDO               = B.NM_PEDIDO
  AND   B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
  AND   B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
  AND   B.NM_PEDIDO_ITEM_CONJUNTO = 0
  AND	A.CD_REGRA_COMERCIAL IN (2,3,4) --SOMENTE REGRAS DE PEDIDOS CONSULTORA
  --AND	A.VL_PAGAR_TOTAL > 0 --INICIALMENTE TEMOS QUE TIRAR OS PEDIDOS COM VALOR A PAGAR 0 QUE SÃO ORIGINADOS POR SAC, TEMOS UMA PENDÊNCIA AQUI POIS EM JANEIRO TEREMOS PEDIDOS COM UTILIZAÇÃO SALDO A FAVOR, É PRECISO CRIAR UMA REGRA COMERCIAL PARA ATENDER OS CHAMADOS DE SAC
 
  RETURN @RESULTADO
END





GO
