SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_BUSCA_CICLO_INICIAL_5_2_PERIODOS_MODADOCHEF] (@NM_CICLO  NUMERIC(18,0), @ID_5_2_PERIODOS INT)  

--  CALCULA : 
--  PERIODO INICIAL

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO     NUMERIC(18,0)
  DECLARE @VL_SOBRA      NUMERIC(18,0)


  IF (@ID_5_2_PERIODOS = 2)  -- 2 PERIODOS
  BEGIN
    SELECT @VL_SOBRA =  CASE WHEN ((CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %4) = 0) THEN 8 
                             ELSE  (CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %4)+4     END

  END


  IF (@ID_5_2_PERIODOS = 5)  -- 5 PERIODOS
  BEGIN
    SELECT @VL_SOBRA = CASE WHEN ((CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %4) = 0) THEN 20 
                            ELSE  (CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %4)+16     END
  END

  SELECT @RESULTADO = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_SOBRA)

  RETURN @RESULTADO
END
GO
