SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_PAPEIS](@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @NM_NIVEL  NUMERIC(18,0),
                         @CD_PAPEL  NUMERIC(18,0))

-- NM_NIVEL = 1000 TODOS OS NÃ VEIS (GRUPO)
-- CD_PAPEL = DEFINIR QUAL O PAPEL

--  CALCULA : 
--  TOTAL DE LIDERES DIRETO 
--  TOTAL DE ESMERALDAS NO GRUPO


RETURNS NUMERIC(18,4)
AS
BEGIN

  DECLARE @RESULTADO	NUMERIC(18,4)
	

  SELECT @RESULTADO = 0

  -- BUSCA A QUANTIDADE INDICAÃ‡Ã•ES
  SELECT @RESULTADO = isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  
  FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
  AND   A.CD_FUNCAO             = B.CD_FUNCAO
  AND   A.NM_CICLO              = B.NM_CICLO
  AND   A.CD_PESSOA             = @CD_PESSOA
  AND   A.CD_FUNCAO             = @CD_FUNCAO
  AND   A.NM_CICLO              = @NM_CICLO
  AND   A.ID_ORDEM              = 2 -- DESCENDENTE
  AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
  AND   A.NM_NIVEL             <= @NM_NIVEL
  AND   B.CD_PAPEL_DESEMPENHO  >= @CD_PAPEL
 AND (  (A.CD_PESSOA_VINCULADA NOT IN 
  (  SELECT DISTINCT CD_PESSOA PESSOA FROM TB_PESSOA_FISICA PF,
      (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- DIAMANTE
               ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA DIAMANTE
        FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
        WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
        AND   A.CD_FUNCAO             = B.CD_FUNCAO
        AND   A.NM_CICLO              = B.NM_CICLO
        AND   A.CD_PESSOA             = @CD_PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.ID_ORDEM              = 2 -- DESCENDENTE
        AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B.CD_PAPEL_DESEMPENHO  >= 9
        AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
        AND   C.NM_CICLO              = A.NM_CICLO
        AND   C.CD_FUNCAO             = A.CD_FUNCAO 
        AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
        AND   C.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL  
       ) B1
       WHERE PF.CD_PESSOA = B1.PESSOA2 OR PF.CD_PESSOA = B1.PESSOA3
       ) ) or (@CD_PESSOA = 14) ) 
   RETURN @RESULTADO
END
GO
