SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_CALCULA_ICMS_ST](@BASE_ICMS_ST AS NUMERIC(18,2), @ALIQUOTA_ICMS_DEST NUMERIC(18,2),@ICMS_PROPRIO NUMERIC(18,2))
RETURNS NUMERIC(18,2)
AS

BEGIN
	DECLARE @RESULTADO NUMERIC(18,2)

		BEGIN
		SELECT @RESULTADO = (@BASE_ICMS_ST * (@ALIQUOTA_ICMS_DEST / 100 )) - @ICMS_PROPRIO

		END
	RETURN @RESULTADO
END 


GO
