SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE FUNCTION [dbo].[FN_VERIFICA_SE_EMPRESA_ATENDE_REGIAO](@DC_CEP VARCHAR(10))
RETURNS INTEGER

-- ***************************************************************************************************************
-- COM BASE NO CEP INFORMADO NO CADASTRO DE PESSOA VAMOS VERIFICAR SE EXISTE ALGUMA ESTRUTURA COMERCIAL
-- ATENDE A REGIÃO INFORMADA
-- RE TORNA APENAS SE EXISTE OU NÃO, AQUI NAO ENTRA NO MERITO DE QUAL EST. COMERCIAL
-- ***************************************************************************************************************

AS
BEGIN

	DECLARE @RESULTADO									INT
	DECLARE @v_qtdRegistros								INT
	DECLARE @v_codigoEstruturaGeografica				NUMERIC(18,0)
	DECLARE @v_codigoPostal								VARCHAR(20)


	-- NÃO ACHOU
	SELECT	@RESULTADO = 2

	-- RETIRA O TRAÇO (CASO HOUVER)
	SELECT @v_codigoPostal = REPLACE(@DC_CEP, '-', '')

	-- BUSCA O CODIGO DA ESTRUTURA  GEOGRAFICA DO CEP INFORMADO
	SELECT @v_codigoEstruturaGeografica = CD_EST_GEOGRAFICA
	FROM TB_EST_GEOGRAFICA E WITH(NOLOCK)
	WHERE E.CD_CODIGO_POSTAL = @v_codigoPostal
	AND E.ID_ATIVO = 1


	SELECT  @v_qtdRegistros  = COUNT(*)
	FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
		TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
		TB_EST_COMERCIAL E WITH(NOLOCK)
	WHERE convert(char(10), getdate(), 121) 
		BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
	and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
	and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
	and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
	AND E.ID_ATIVO = 1
	AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeografica) = 1 
	and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
	

	IF @v_qtdRegistros = 0 -- NÃO ACHOU POR EST GEOGRÁFICA, VAMOS BUSCAR POR CEP
		BEGIN
			SELECT  @v_qtdRegistros  = COUNT(*)
				FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
					TB_EST_COMERCIAL_FAIXA_CEP C WITH(NOLOCK),
					TB_EST_COMERCIAL E WITH(NOLOCK)
				WHERE convert(char(10), getdate(), 121) 
					BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
				and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
				and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
				and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
				AND E.ID_ATIVO = 1
				AND convert(numeric,@v_codigoPostal) BETWEEN convert(numeric,C.DC_FAIXA_INICIAL_CEP) AND convert(numeric,C.DC_FAIXA_FINAL_CEP)
				and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
							   
			IF @v_qtdRegistros = 0 -- NÃO ACHOU ESTRUTURA POR CEP
				BEGIN
					SELECT	@RESULTADO = 2
				END
			ELSE
				BEGIN
					SELECT	@RESULTADO = 1
				END
		END
	ELSE
		BEGIN
			SELECT	@RESULTADO = 1
		END

		
   RETURN @RESULTADO
   
END




GO
