SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_RECONHECIMENTO_MAHOGANY] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0) )  

--  CALCULA : 
--  RECONHECIMENTO NOVO

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)

  DECLARE @CD_PAPEL_DESEMPENHO       NUMERIC(18,0),
          @CD_PAPEL_CARREIRA         NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL_1003 NUMERIC(18,0),  -- QUANTIDADE DE CICLOS ATIVOS CONSECUTIVOS
          @VL_INDICADOR_PESSOAL_1005 NUMERIC(18,0),  -- TOTAL DE CICLOS NO RECONHECIMENTO ATUAL
          @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,0),  -- VALOR DE COMPRAS PESSOAIS EM 6 CICLOS
          @VL_INDICADOR_PESSOAL_1031 NUMERIC(18,0)   -- TOTAL DE CICLOS ATIVOS EM 5 CICLOS

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
 /*     SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_PAPEL_HISTORICO A  with(nolock)
      WHERE A.CD_PESSOA  = @CD_PESSOA
      AND   A.CD_FUNCAO  = @CD_FUNCAO
      AND   A.NM_CICLO   = @NM_CICLO  */  

  SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
	     @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
  FROM TB_PESSOA_RESUMO with(nolock)
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO

  SELECT @RESULTADO = @CD_PAPEL_DESEMPENHO

  -- QUANTIDADE DE CICLOS ATIVOS CONSECUTIVOS
  -- TOTAL DE CICLOS NO RECONHECIMENTO
  -- VALOR DE COMPRAS PESSOAIS EM 6 CICLOS
  -- TOTAL DE CICLOS ATIVOS EM 5 CICLOS
  SELECT @VL_INDICADOR_PESSOAL_1003 = [1003],
         @VL_INDICADOR_PESSOAL_1005 = [1005],
         @VL_INDICADOR_PESSOAL_1006 = [1006],
         @VL_INDICADOR_PESSOAL_1031 = [1031]
  FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
         FROM TB_PESSOA_INDICADOR with(nolock)
         WHERE CD_PESSOA      = @CD_PESSOA
         AND CD_FUNCAO        = @CD_FUNCAO
         AND NM_CICLO         = @NM_CICLO
         --AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
         AND CD_INDICADOR_PESSOAL IN (1003,1005,1006,1031)
         GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
         PIVOT (SUM(VALOR) FOR INDICADOR IN ([1003],[1005],[1006],[1031])) EM_COLUNA


  -- IDENTIFICA SE DESEMPENHO ATUAL É PRATA
  --IF (@CD_PAPEL_CARREIRA = 1 AND @CD_PAPEL_DESEMPENHO = 1)   -- PRATA
  IF (@CD_PAPEL_DESEMPENHO = 1)   -- PRATA
  BEGIN

    IF (@VL_INDICADOR_PESSOAL_1031 >= 3)
    BEGIN
      SELECT @RESULTADO = 2  -- OURO
      RETURN @RESULTADO
    END
  END

  IF (@CD_PAPEL_DESEMPENHO = 2)   -- OURO
  BEGIN

    IF (@VL_INDICADOR_PESSOAL_1003 >= 6  AND @VL_INDICADOR_PESSOAL_1005 >= 6 AND @VL_INDICADOR_PESSOAL_1006 >= 6000)
    BEGIN
      SELECT @RESULTADO = 3  -- CRISTAL
      RETURN @RESULTADO
    END

  END

  IF (@CD_PAPEL_DESEMPENHO = 3)   -- CRISTAL
  BEGIN

    -- EVOLUIR
    IF (@VL_INDICADOR_PESSOAL_1003 >= 6  AND @VL_INDICADOR_PESSOAL_1005 >= 6 AND @VL_INDICADOR_PESSOAL_1006 >= 15000)
    BEGIN
      SELECT @RESULTADO = 4  -- DIAMANTE
      RETURN @RESULTADO
    END

    -- REGREDIR
    IF ((@VL_INDICADOR_PESSOAL_1005 % 6) = 0 AND (@VL_INDICADOR_PESSOAL_1006 < 6000 OR @VL_INDICADOR_PESSOAL_1003 < 6)  )  
    BEGIN
      SELECT @RESULTADO = 2  -- OURO
      RETURN @RESULTADO
    END
  END


  IF (@CD_PAPEL_DESEMPENHO = 4)   -- DIAMANTE
  BEGIN

    -- REGREDIR
    IF ((@VL_INDICADOR_PESSOAL_1005 % 6) = 0 AND  @VL_INDICADOR_PESSOAL_1006 < 15000 AND @VL_INDICADOR_PESSOAL_1006 >= 6000 AND @VL_INDICADOR_PESSOAL_1003 >= 6  )
    BEGIN
      SELECT @RESULTADO = 3  -- CRISTAL
      RETURN @RESULTADO
    END

    -- REGREDIR
    IF ((@VL_INDICADOR_PESSOAL_1005 % 6) = 0 AND (@VL_INDICADOR_PESSOAL_1006 < 6000 OR @VL_INDICADOR_PESSOAL_1003 < 6)  )
    BEGIN
      SELECT @RESULTADO = 2  -- OURO
      RETURN @RESULTADO
    END


  END

  RETURN @RESULTADO
END
GO
