SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICACAO_ELLAS] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0) )  

--  CALCULA : 
--  RECONHECIMENTO NOVO

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)

  DECLARE @CD_PAPEL_DESEMPENHO       NUMERIC(18,0),
          @CD_PAPEL_CARREIRA         NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL_1001 NUMERIC(18,0),  -- VALOR DE COMPRAS PESSOAIS (MAIOR PEDIDO)
          @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,0),  -- TOTAL DE INDICAÇÕES ATIVAS NO CICLO
          @VL_INDICADOR_PESSOAL_1007 NUMERIC(18,0),  -- TOTAL DE PESSOAS COM PEDIDO APROVADO ACUMULATIVO NO GRUPO
          @VL_INDICADOR_PESSOAL_1008 NUMERIC(18,0),  -- TOTAL DE ATIVAS NO GRUPO
          @VL_INDICADOR_PESSOAL_1009 NUMERIC(18,0),  -- TOTAL DE CICLOS NA QUALIFICAÇÃO ATUAL
          @VL_INDICADOR_PESSOAL_1010 NUMERIC(18,0)   -- QDE DE CICLOS CONSECUTIVOS SEM CUMPRIR A META DE ATIVAS DE L'ELLA


  -- BUSCA O CARREIRA E DESEMPENHO ATUAL DA PESSOA
  SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
	 @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
  FROM TB_PESSOA_RESUMO with(nolock)
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO

  SELECT @RESULTADO = @CD_PAPEL_CARREIRA

  IF (@CD_PAPEL_CARREIRA IN (2,3,4))  -- CARREIRA DE CN
  BEGIN
    -- VALOR DE COMPRAS PESSOAIS (MAIOR PEDIDO)
    SELECT @VL_INDICADOR_PESSOAL_1001 = VL_INDICADOR_pESSOAL
           FROM TB_PESSOA_INDICADOR with(nolock)
           WHERE CD_PESSOA      = @CD_PESSOA
           AND CD_FUNCAO        = @CD_FUNCAO
           AND NM_CICLO         = @NM_CICLO
           AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
           AND CD_INDICADOR_PESSOAL = 1001

    IF (@VL_INDICADOR_PESSOAL_1001 < 350) 
    BEGIN
      SELECT @RESULTADO = 2  -- B'ELLA SILVER
      RETURN @RESULTADO
    END

    IF (@VL_INDICADOR_PESSOAL_1001 >=  350 AND @VL_INDICADOR_PESSOAL_1001 <= 750)
    BEGIN
      SELECT @RESULTADO = 3   -- B'ELLA GOLD
      RETURN @RESULTADO
    END

    IF (@VL_INDICADOR_PESSOAL_1001 > 750)
    BEGIN
      SELECT @RESULTADO = 4  -- B'ELLA PLATINUM
      RETURN @RESULTADO
    END

  END -- CARREIRA DE CN

  -----------------------------------------------
  IF (@CD_PAPEL_CARREIRA IN (5,6,7))  -- CARREIRA DE L'ELLA
  BEGIN
    -- TOTAL DE PESSOAS COM PEDIDO APROVADO CUMULATIVO NO GRUPO
    -- TOTAL DE ATIVAS NO GRUPO
    -- TOTAL DE CICLOS NA QUALIFICAÇÃO ATUAL
    -- QDE DE CICLOS CONSECUTIVOS SEM CUMPRIR A META DE ATIVAS DE L'ELLA
    SELECT @VL_INDICADOR_PESSOAL_1007 = [1007],
           @VL_INDICADOR_PESSOAL_1008 = [1008],
           @VL_INDICADOR_PESSOAL_1009 = [1009],
           @VL_INDICADOR_PESSOAL_1010 = [1010]
    FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                  ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
           FROM TB_PESSOA_INDICADOR with(nolock)
           WHERE CD_PESSOA      = @CD_PESSOA
           AND CD_FUNCAO        = @CD_FUNCAO
           AND NM_CICLO         = @NM_CICLO
           AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
           AND CD_INDICADOR_PESSOAL IN (1007,1008,1009,1010)
           GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
           PIVOT (SUM(VALOR) FOR INDICADOR IN ([1007],[1008],[1009],[1010])) EM_COLUNA   

    IF (@CD_PAPEL_CARREIRA = 5)   -- L'ELLA SAFIRA
    BEGIN
      -- EVOLUIR
      IF (@VL_INDICADOR_PESSOAL_1007 >= 50 AND  @VL_INDICADOR_PESSOAL_1008 >= 25)
      BEGIN
        SELECT @RESULTADO = 7  -- L'ELLA RUBI
        RETURN @RESULTADO
      END

      -- EVOLUIR
      IF (@VL_INDICADOR_PESSOAL_1007 >= 20 AND  @VL_INDICADOR_PESSOAL_1008 >= 15)
      BEGIN
        SELECT @RESULTADO = 6  -- L'ELLA ESMERANDA
        RETURN @RESULTADO
      END

      -- REGREDIR 
      IF (@VL_INDICADOR_PESSOAL_1009 >= 3 AND @VL_INDICADOR_PESSOAL_1010 >= 3)
      BEGIN
        SELECT @RESULTADO = 4  -- B'ELLA PLATINUM
        RETURN @RESULTADO
      END     

    END

    IF (@CD_PAPEL_CARREIRA = 6)   -- L'ELLA SAFIRA
    BEGIN

      -- EVOLUIR
      IF (@VL_INDICADOR_PESSOAL_1007 >= 50 AND  @VL_INDICADOR_PESSOAL_1008 >= 25)
      BEGIN
        SELECT @RESULTADO = 7  -- L'ELLA RUBI
        RETURN @RESULTADO
      END
      -- REGREDIR 
      IF (@VL_INDICADOR_PESSOAL_1009 >= 6 AND @VL_INDICADOR_PESSOAL_1010 >= 6)
      BEGIN
        SELECT @RESULTADO = 5  -- L'ELLA SAFIRA
        RETURN @RESULTADO
      END     

    END

    IF (@CD_PAPEL_CARREIRA = 7)   -- L'ELLA RUBI
    BEGIN

      -- REGREDIR 
      IF (@VL_INDICADOR_PESSOAL_1009 >= 6 AND @VL_INDICADOR_PESSOAL_1010 >= 6)
      BEGIN
        SELECT @RESULTADO = 6  -- L'ELLA ESMERALDA
        RETURN @RESULTADO
      END     

    END


  END  -- CARREIRA DE LIDER

  RETURN @RESULTADO
END
GO
