SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FN_MN_BUSCA_MENSAGEM_TAXA_ADMINISTRATIVA] () 

RETURNS VARCHAR(100)
-- FUNÇÃO RETORNA A MENSAGEM A SER EXIBA NO EV DA TAXA ADMINISTRATIVA

AS
BEGIN
  DECLARE @RESULTADO             VARCHAR(100)
  DECLARE @V_vl_PARAMETRO_7_22 NUMERIC (18,2),
          @V_vl_PARAMETRO_7_23 NUMERIC (18,2)

  SELECT @RESULTADO = ''
  -- PERCENTUAL
  SELECT @V_vl_PARAMETRO_7_22 = ISNULL(SUM(VL_PARAMETRO),0)
  FROM TB_VALOR_PARAMETRO
  WHERE CD_GRUPO_PARAMETRO = 7
  AND CD_PARAMETRO = 22

  -- VALOR
  SELECT @V_vl_PARAMETRO_7_23 = ISNULL(SUM(VL_PARAMETRO),0)
  FROM TB_VALOR_PARAMETRO
  WHERE CD_GRUPO_PARAMETRO = 7
  AND CD_PARAMETRO = 23

  IF (@V_vl_PARAMETRO_7_22 > 0)
  BEGIN
    SELECT @RESULTADO = 'Valor Taxa Administrativa : '+CONVERT (VARCHAR,dbo.FN_ConverteValor(@V_vl_PARAMETRO_7_22)) + '%'
  END
  ELSE IF (@V_vl_PARAMETRO_7_23 > 0)
  BEGIN
    SELECT @RESULTADO = 'Valor Taxa Administrativa : '+CONVERT (VARCHAR,dbo.FN_ConverteMoedaReal(@V_vl_PARAMETRO_7_23))
  END


  RETURN @RESULTADO
END

GO
