SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FN_BUSCA_NIVEL_EST_COMERCIAL](@CD_EST_COMERCIAL NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0)
 
  SELECT DISTINCT  @RESULTADO  = CASE  	WHEN ISNULL(CD_NIVEL_COM1,0) = @CD_EST_COMERCIAL THEN 1
			 		WHEN ISNULL(CD_NIVEL_COM2,0) = @CD_EST_COMERCIAL THEN 2	
			 		WHEN ISNULL(CD_NIVEL_COM3,0) = @CD_EST_COMERCIAL THEN 3	
					WHEN ISNULL(CD_NIVEL_COM4,0) = @CD_EST_COMERCIAL THEN 4	
					WHEN ISNULL(CD_NIVEL_COM5,0) = @CD_EST_COMERCIAL THEN 5	
			 		WHEN ISNULL(CD_NIVEL_COM6,0) = @CD_EST_COMERCIAL THEN 6	
			 		WHEN ISNULL(CD_NIVEL_COM7,0) = @CD_EST_COMERCIAL THEN 7	
			 		WHEN ISNULL(CD_NIVEL_COM8,0) = @CD_EST_COMERCIAL THEN 8	
			 		WHEN ISNULL(CD_NIVEL_COM9,0) = @CD_EST_COMERCIAL THEN 9
			 		ELSE 0  END	
  FROM TB_EST_COMERCIAL_HIERARQUIA
  WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
 
  RETURN @RESULTADO
END
GO
