SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_DESC_BANCO](@CD_BANCO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DC_BANCO 
  FROM TB_BANCO
  WHERE CD_BANCO = @CD_BANCO

  RETURN @RESULTADO
END

GO
