SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTUACAO_SUPER_BONUS_ASOS] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @CD_PAPEL_DESEMPENHO NUMERIC(18,0) )

--  CALCULA : 
--  TOTAL DE PONTOS EXTRA BÔNUS


RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	        NUMERIC(18,2),
          @PERCENTUAL_LIDERANCA NUMERIC(18,2) 

  SELECT @RESULTADO = 0
 
  IF (@CD_PAPEL_DESEMPENHO = 6)  -- PRATA
    SELECT @PERCENTUAL_LIDERANCA = 2
  ELSE IF (@CD_PAPEL_DESEMPENHO = 7)  -- OURO
    SELECT @PERCENTUAL_LIDERANCA = 3
  ELSE IF (@CD_PAPEL_DESEMPENHO = 8)  -- PLATINA
    SELECT @PERCENTUAL_LIDERANCA = 4
  ELSE IF (@CD_PAPEL_DESEMPENHO = 9)  -- ESMERALDA
    SELECT @PERCENTUAL_LIDERANCA = 5
  ELSE IF (@CD_PAPEL_DESEMPENHO = 10)  -- SAFIRA
    SELECT @PERCENTUAL_LIDERANCA = 6
  ELSE IF (@CD_PAPEL_DESEMPENHO = 11)  -- RUBI
    SELECT @PERCENTUAL_LIDERANCA = 7
  ELSE IF (@CD_PAPEL_DESEMPENHO = 12)  -- DIAMANTE
    SELECT @PERCENTUAL_LIDERANCA = 8

  SELECT @RESULTADO = isnull(SUM(CASE WHEN  A.CD_INDICADOR_PESSOAL = 1004 THEN (A.VL_INDICADOR_PESSOAL * 0.10)
			              WHEN  A.CD_INDICADOR_PESSOAL = 1009 THEN (A.VL_INDICADOR_PESSOAL * 0.05)
			              WHEN  A.CD_INDICADOR_PESSOAL = 1014 THEN (A.VL_INDICADOR_PESSOAL * 0.02) 
			              WHEN  A.CD_INDICADOR_PESSOAL = 1007 THEN (A.VL_INDICADOR_PESSOAL * (@PERCENTUAL_LIDERANCA /100) )
			              WHEN  A.CD_INDICADOR_PESSOAL = 1008 THEN (A.VL_INDICADOR_PESSOAL * 0.10) 
			              WHEN  A.CD_INDICADOR_PESSOAL = 1015 THEN (A.VL_INDICADOR_PESSOAL) 
			              WHEN  A.CD_INDICADOR_PESSOAL = 1016 THEN (A.VL_INDICADOR_PESSOAL) 
                         END ),0)
  FROM TB_PESSOA_INDICADOR A
  WHERE A.CD_PESSOA             = @CD_PESSOA
  AND   A.CD_FUNCAO             = @CD_FUNCAO
  AND   A.CD_INDICADOR_PESSOAL  IN (1004, 1009,1014, 1007, 1008, 1015, 1016)
  AND   A.NM_CICLO              = @NM_CICLO
  AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 

  RETURN @RESULTADO
END


GO
