SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](@CD_FUNCAO INT, @CD_PAPEL_DESEMPENHO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DC_PAPEL_DESEMPENHO 
  FROM TB_PAPEL_DESEMPENHO
  WHERE CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO
  AND CD_FUNCAO = @CD_FUNCAO

  RETURN @RESULTADO
END

GO
