SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- **************************************************************************************
-- FUNÇÃO CRIADA POR ANDERSON - 28/01/2019
-- ELA VERIFICA SE A PROMOÇÃO POSSUI INDICADORES CONFIGURADOS E SE A PESSOA GANHOU UM DESSES INDICADORES
-- TODAS AS PROMOÇÕES DEPENDENTES
-- RETORNA 1 - SIM (ATENDE)
-- 0 PARA NÃO (NÃO ATENDE)
-- **************************************************************************************

CREATE FUNCTION [dbo].[FN_VERIFICA_INDICADORES_PROMOCAO](@CD_PROMOCAO NUMERIC(18,0),
														 @CD_PESSOA INT)
RETURNS INT
AS

BEGIN
	
	DECLARE @V_QTD_REGISTROS			INT
	DECLARE	@CD_INDICADOR_PESSOAL		NUMERIC(18,0)
	DECLARE @NM_CICLO_INICIAL			NUMERIC(18,0)
	DECLARE @NM_CICLO_FINAL				NUMERIC(18,0)
	
	
	DECLARE	@V_QTD_GANHOU				INT
	DECLARE @RESULTADO					INT
	DECLARE @Cursor_Itens				CURSOR


	SELECT @RESULTADO = 1

	
	-- PRIMEIRO VERIFICA SE A PROMOÇÃO POSSUI INDICADORES
	SELECT @V_QTD_REGISTROS = COUNT(*) 
	FROM TB_PROMOCAO_INDICADOR_PESSOAL
	WHERE CD_PROMOCAO = @CD_PROMOCAO

	IF @V_QTD_REGISTROS = 0
		BEGIN
			
			-- NAO POSSUI NENHUMA INDICADOR CONFIGURADO
			SELECT @RESULTADO = 1
			RETURN @RESULTADO

		END
	ELSE
		BEGIN

			-- POSSUI PROMOÇÕES DEPENDENTES
			-- AGORA VAMOS VERIFICAR QUANTAS A PESSOA GANHOU

			SET @Cursor_Itens = CURSOR FAST_FORWARD
			FOR

					SELECT CD_INDICADOR_PESSOAL, NM_CICLO_INICIAL, NM_CICLO_FINAL
					FROM TB_PROMOCAO_INDICADOR_PESSOAL
					WHERE CD_PROMOCAO = @CD_PROMOCAO
									
		
										
				OPEN @Cursor_Itens
				FETCH NEXT FROM @Cursor_Itens
				INTO	@CD_INDICADOR_PESSOAL, @NM_CICLO_INICIAL, @NM_CICLO_FINAL
						

				WHILE @@FETCH_STATUS = 0
					BEGIN
						
						SELECT @V_QTD_GANHOU = COUNT(*)
						FROM TB_PESSOA_INDICADOR
						WHERE CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
						AND NM_CICLO >= @NM_CICLO_INICIAL
						AND NM_CICLO <= @NM_CICLO_FINAL
						AND CD_PESSOA = @CD_PESSOA
						AND VL_INDICADOR_PESSOAL > 0

						IF @V_QTD_GANHOU = 0
							BEGIN
								SELECT @RESULTADO = 0
								RETURN @RESULTADO
						
							END
							
						
						FETCH NEXT FROM @Cursor_Itens
						INTO	@CD_INDICADOR_PESSOAL, @NM_CICLO_INICIAL, @NM_CICLO_FINAL
													
					END
	

		END

		RETURN @RESULTADO

END


GO
