SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_MaterialVerificaExisteMaterialOmie](@p_codigoInternoOmie VARCHAR(100), @p_codigoMaterialIntegracao VARCHAR(180), @p_codigoMaterialOmie VARCHAR(180))
															
RETURNS INT
AS
BEGIN

	DECLARE @v_quantidade	INT

	-- OBJETIVO DESTA FUNÇÃO É CHECAR SE O MATERIAL OBTIDO NA OMIE EXISTE NA NOSSA BASE DE DADOS, POIS SE NÃO EXISTIR ELE SERÁ INSERIDO VIA INTEGRAÇÃO DE ESTOQUE	
	SELECT @v_quantidade = COUNT(*)
	  FROM TB_MATERIAL_INTEGRACAO MI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK)
	 WHERE MI.DC_CODIGO_MATERIAL_INTEGRACAO = convert(varchar(100),@p_codigoInternoOmie)
	   AND M.CD_MATERIAL_EXTERNO = @p_codigoMaterialIntegracao
	   AND MI.CD_MATERIAL = M.CD_MATERIAL

	-- SE NÃO ENCONTRAR TENTA PELO CÓDIGO DO PRODUTO NO OMIE
	IF @v_quantidade = 0
		BEGIN
			SELECT @v_quantidade = COUNT(*)
			  FROM TB_MATERIAL_INTEGRACAO MI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK)
			 WHERE MI.DC_CODIGO_MATERIAL_INTEGRACAO = convert(varchar(100),@p_codigoInternoOmie)
			   AND M.CD_MATERIAL_EXTERNO = @p_codigoMaterialOmie
			   AND MI.CD_MATERIAL = M.CD_MATERIAL
		END

	RETURN @v_quantidade
END
GO
