SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_RECONHECIMENTO_ELLAS] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0) )  

--  CALCULA : 
--  RECONHECIMENTO NOVO

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)

  DECLARE @CD_PAPEL_DESEMPENHO       NUMERIC(18,0),
          @CD_PAPEL_CARREIRA         NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL_1004 NUMERIC(18,0),  -- VALOR DE COMPRAS E VENDAS (LV) PESSOAIS
          @VL_INDICADOR_PESSOAL_1007 NUMERIC(18,0),  -- TOTAL DE PESSOAS COM PEDIDO APROVADO CUMULATIVO NO GRUPO
          @VL_INDICADOR_PESSOAL_1008 NUMERIC(18,0),  -- TOTAL DE ATIVAS NO GRUPO
          @VL_INDICADOR_PESSOAL_1009 NUMERIC(18,0),  -- TOTAL DE CICLOS NA QUALIFICAÇÃO ATUAL
          @VL_INDICADOR_PESSOAL_1012 NUMERIC(18,0)   -- PERCENTUAL DE ATIVIDADE NO GRUPO (ATIVAS / CADASTROS)


  -- BUSCA O CARREIRA E DESEMPENHO ATUAL DA PESSOA
  SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
	 @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
  FROM TB_PESSOA_RESUMO with(nolock)
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO

  SELECT @RESULTADO = @CD_PAPEL_CARREIRA

  IF (@CD_PAPEL_CARREIRA IN (2,3,4))  -- DESEMPENHO DE CN
  BEGIN
    -- VALOR DE COMPRAS E VENDAS (LV) PESSOAIS
    SELECT @VL_INDICADOR_PESSOAL_1004 = VL_INDICADOR_pESSOAL
           FROM TB_PESSOA_INDICADOR with(nolock)
           WHERE CD_PESSOA      = @CD_PESSOA
           AND CD_FUNCAO        = @CD_FUNCAO
           AND NM_CICLO         = @NM_CICLO
           AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
           AND CD_INDICADOR_PESSOAL = 1004

    IF (@VL_INDICADOR_PESSOAL_1004 < 350) 
    BEGIN
      SELECT @RESULTADO = 2  -- B'ELLA SILVER
      RETURN @RESULTADO
    END

   IF (@VL_INDICADOR_PESSOAL_1004 >=  350 AND @VL_INDICADOR_PESSOAL_1004 <= 750)
    BEGIN
      SELECT @RESULTADO = 3   -- B'ELLA GOLD
      RETURN @RESULTADO
    END

   IF (@VL_INDICADOR_PESSOAL_1004 > 750)
    BEGIN
      SELECT @RESULTADO = 4  -- B'ELLA PLATINUM
      RETURN @RESULTADO
    END


  END -- DESEMPENHO DE CN

  -----------------------------------------------
  IF (@CD_PAPEL_CARREIRA IN (5,6,7))  -- DESEMPENHO DE L'ELLA
  BEGIN
    -- TOTAL DE PESSOAS COM PEDIDO APROVADO CUMULATIVO NO GRUPO
    -- TOTAL DE ATIVAS NO GRUPO
    -- TOTAL DE CICLOS NA QUALIFICAÇÃO ATUAL
    -- PERCENTUAL DE ATIVIDADE NO GRUPO (ATIVAS / CADASTROS)
    SELECT @VL_INDICADOR_PESSOAL_1007 = [1007],
           @VL_INDICADOR_PESSOAL_1008 = [1008],
           @VL_INDICADOR_PESSOAL_1009 = [1009],
           @VL_INDICADOR_PESSOAL_1012 = [1012]
    FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                  ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
           FROM TB_PESSOA_INDICADOR with(nolock)
           WHERE CD_PESSOA      = @CD_PESSOA
           AND CD_FUNCAO        = @CD_FUNCAO
           AND NM_CICLO         = @NM_CICLO
           AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
           AND CD_INDICADOR_PESSOAL IN (1007,1008,1009,1012)
           GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
           PIVOT (SUM(VALOR) FOR INDICADOR IN ([1007],[1008],[1009],[1012])) EM_COLUNA   

    IF (@CD_PAPEL_CARREIRA = 5)   -- L'ELLA SAFIRA
    BEGIN

      -- EVOLUIR
      IF (@VL_INDICADOR_PESSOAL_1007 >= 50 AND  @VL_INDICADOR_PESSOAL_1008 >= 25)
      BEGIN
        SELECT @RESULTADO = 7  -- L'ELLA RUBI
        RETURN @RESULTADO
      END
      -- EVOLUIR
      IF (@VL_INDICADOR_PESSOAL_1007 >= 20 AND  @VL_INDICADOR_PESSOAL_1008 >= 15)
      BEGIN
        SELECT @RESULTADO = 6  -- L'ELLA ESMERANDA
        RETURN @RESULTADO
      END

    END

    IF (@CD_PAPEL_CARREIRA = 6)   -- L'ELLA SAFIRA
    BEGIN

      -- EVOLUIR
      IF (@VL_INDICADOR_PESSOAL_1007 >= 50 AND  @VL_INDICADOR_PESSOAL_1008 >= 25)
      BEGIN
        SELECT @RESULTADO = 7  -- L'ELLA RUBI
        RETURN @RESULTADO
      END

      -- MANTER
      IF (@VL_INDICADOR_PESSOAL_1009 <= 3 AND @VL_INDICADOR_PESSOAL_1008 >= 15)
      BEGIN
        SELECT @RESULTADO = 6  -- L'ELLA ESMERALDA
        RETURN @RESULTADO
      END
      -- MANTER
      IF (@VL_INDICADOR_PESSOAL_1009 > 3 AND @VL_INDICADOR_PESSOAL_1012 >= 60)
      BEGIN
        SELECT @RESULTADO = 6  -- L'ELLA ESMERALDA
        RETURN @RESULTADO
      END

      -- REGREDIR 
      SELECT @RESULTADO = 5  -- L'ELLA SAFIRA
      RETURN @RESULTADO

    END

    IF (@CD_PAPEL_CARREIRA = 7)   -- L'ELLA RUBI
    BEGIN

      -- MANTER
      IF (@VL_INDICADOR_PESSOAL_1009 <= 3 AND @VL_INDICADOR_PESSOAL_1008 >= 25)
      BEGIN
        SELECT @RESULTADO = 7  -- L'ELLA RUBI
        RETURN @RESULTADO
      END
      -- MANTER
      IF (@VL_INDICADOR_PESSOAL_1009 > 3 AND @VL_INDICADOR_PESSOAL_1012 >= 50)
      BEGIN
        SELECT @RESULTADO = 7  -- L'ELLA RUBI
        RETURN @RESULTADO
      END

      -- REGREDIR
      IF (@VL_INDICADOR_PESSOAL_1008 >= 15)
      BEGIN
        SELECT @RESULTADO = 6  -- L'ELLA ESMERALDA
        RETURN @RESULTADO
      END

      -- REGREDIR 
      SELECT @RESULTADO = 5  -- L'ELLA SAFIRA
      RETURN @RESULTADO

    END


  END  -- CARREIRA DE LIDER

  RETURN @RESULTADO
END
GO
