SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_ATUAL_PESSOA]  (@CD_PESSOA NUMERIC(18,0),
																  @CD_FUNCAO NUMERIC(18,0))
RETURNS varchar(80)
AS
BEGIN
   
  DECLARE @RESULTADO varchar(80)		  
		  	 
  SELECT @RESULTADO = B.DC_SITUACAO_COMERCIAL 
  FROM TB_PESSOA_RESUMO A, TB_NIVEL_SITUACAO_COMERCIAL B
  WHERE A.CD_PESSOA = @CD_PESSOA
  AND A.CD_FUNCAO = @CD_FUNCAO
  AND A.CD_SITUACAO_COMERCIAL = B.CD_SITUACAO_COMERCIAL

  RETURN @RESULTADO
END
GO
