SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_CONSULTOR_PROXIMO_PIERRE]  (@CD_PESSOA_CF  NUMERIC(18,0) ,
@NM_CICLO  NUMERIC(18,0))
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0),
          @DC_CODIGO_POSTAL_CF NUMERIC(8,0),
          @VL_MENOR_DIFERENCA  NUMERIC(18,0),
	  @VL_CODIGO_POSTAL    NUMERIC(18,0),
          @QDE_PESSOAS         INT,
          @CD_PESSOA_PROXIMA   NUMERIC(18,0)

  -- VERIFICA SE ESTA VINCULADA A UMA CN 
  SELECT @CD_PESSOA_PROXIMA = ISNULL(MAX(CD_PESSOA_VINCULADA),0)
  FROM TB_PESSOA_RESUMO
  WHERE CD_PESSOA = @CD_PESSOA_CF


  IF (@CD_PESSOA_PROXIMA = 0)
  BEGIN
    
    -- BUSCA O CEP DO CF
    SELECT @VL_CODIGO_POSTAL = CONVERT(NUMERIC(8,0),DC_CODIGO_POSTAL)
    FROM TB_PESSOA_ENDERECO
    WHERE CD_PESSOA        = @CD_PESSOA_CF
    AND   ID_TIPO_ENDERECO = 1

    -- BUSCA A MENOR DIFERENCA
    SELECT @VL_MENOR_DIFERENCA = MIN( ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)))
    FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B
    WHERE A.CD_PESSOA              = B.CD_PESSOA
    AND   A.CD_FUNCAO              = 2
    AND   A.CD_PESSOA             <> @CD_PESSOA_CF
    AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
    AND   B.ID_TIPO_ENDERECO       = 1

    -- BUSCA A QDE DE CNs COM CEP MAIS PROXIMO
    SELECT @QDE_PESSOAS = COUNT(A.CD_PESSOA)
    FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B
    WHERE A.CD_PESSOA              = B.CD_PESSOA
    AND   A.CD_FUNCAO              = 2
    AND   A.CD_PESSOA             <> @CD_PESSOA_CF
    AND   B.ID_TIPO_ENDERECO      = 1
    AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA

    IF (@QDE_PESSOAS = 1)
    BEGIN
      -- BUSCA A CN COM CEP MAIS PROXIMO
      SELECT @CD_PESSOA_PROXIMA = A.CD_PESSOA
      FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B
      WHERE A.CD_PESSOA              = B.CD_PESSOA
      AND   A.CD_FUNCAO              = 2
      AND   A.CD_PESSOA             <> @CD_PESSOA_CF
      AND   B.ID_TIPO_ENDERECO      = 1
      AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
      AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),B.DC_CODIGO_POSTAL)) = @VL_MENOR_DIFERENCA
    END
    ELSE IF (@QDE_PESSOAS > 1)
    BEGIN
      -- BUSCA A QDE DE CNs COM CEP MAIS PROXIMO E MENOR SITUACAO COMERCIAL DETALHE
      SELECT @QDE_PESSOAS = COUNT(DISTINCT A.CD_PESSOA)
      FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C,
           (SELECT MIN(C.CD_SITUACAO_COMERCIAL_DETALHE) MIN_SITUACAO_COMERCIAL_DETALHE
            FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C
            WHERE A.CD_PESSOA              = B.CD_PESSOA
            AND   A.CD_PESSOA              = C.CD_PESSOA
            AND   C.NM_CICLO               = @NM_CICLO
            AND   A.CD_FUNCAO              = 2
            AND   A.CD_PESSOA             <> @CD_PESSOA_CF
            AND   B.ID_TIPO_ENDERECO      = 1
            AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
            AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA) D
      WHERE A.CD_PESSOA              = B.CD_PESSOA
      AND   A.CD_PESSOA              = C.CD_PESSOA
      AND   C.NM_CICLO               = @NM_CICLO
      AND   A.CD_FUNCAO              = 2
      AND   A.CD_PESSOA             <> @CD_PESSOA_CF
      AND   B.ID_TIPO_ENDERECO      = 1
      AND   C.CD_SITUACAO_COMERCIAL_DETALHE = D.MIN_SITUACAO_COMERCIAL_DETALHE
      AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA
        
      IF (@QDE_PESSOAS = 1)
      BEGIN 
        -- BUSCA A CN COM CEP MAIS PROXIMO E MENOR SITUACAO COMERCIAL DETALHE
        SELECT @CD_PESSOA_PROXIMA = A.CD_PESSOA
        FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C,
             (SELECT MIN(C.CD_SITUACAO_COMERCIAL_DETALHE) MIN_SITUACAO_COMERCIAL_DETALHE
              FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C
              WHERE A.CD_PESSOA              = B.CD_PESSOA
              AND   A.CD_PESSOA              = C.CD_PESSOA
              AND   C.NM_CICLO               = @NM_CICLO
              AND   A.CD_FUNCAO              = 2
              AND   A.CD_PESSOA             <> @CD_PESSOA_CF
              AND   B.ID_TIPO_ENDERECO      = 1
              AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
              AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA) D
        WHERE A.CD_PESSOA              = B.CD_PESSOA
        AND   A.CD_PESSOA              = C.CD_PESSOA
        AND   C.NM_CICLO               = @NM_CICLO
        AND   A.CD_FUNCAO              = 2
        AND   A.CD_PESSOA             <> @CD_PESSOA_CF
        AND   B.ID_TIPO_ENDERECO      = 1
        AND   C.CD_SITUACAO_COMERCIAL_DETALHE = D.MIN_SITUACAO_COMERCIAL_DETALHE
        AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA
      END
      ELSE IF (@QDE_PESSOAS > 1)
      BEGIN
        -- BUSCA A QDE DE CNs COM CEP MAIS PROXIMO, MENOR SITUACAO COMERCIAL DETALHE E MAIOR VALOR DE VENDA PESSOAL
        SELECT  @QDE_PESSOAS = COUNT(DISTINCT E.CD_PESSOA)
        FROM    TB_PESSOA_INDICADOR E,
               (SELECT MAX(VL_INDICADOR_PESSOAL) AS VL_INDICADOR
                FROM TB_PESSOA_INDICADOR
                WHERE NM_CICLO              = @NM_CICLO
                AND   CD_INDICADOR_PESSOAL = 1001
                AND   CD_FUNCAO             = 2
                AND   CD_PESSOA IN (SELECT DISTINCT A.CD_PESSOA
                                    FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C,
                                         (SELECT MIN(C.CD_SITUACAO_COMERCIAL_DETALHE) MIN_SITUACAO_COMERCIAL_DETALHE
                                          FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C
                                          WHERE A.CD_PESSOA              = B.CD_PESSOA
                                          AND   A.CD_PESSOA              = C.CD_PESSOA
                                          AND   C.NM_CICLO               = @NM_CICLO
                                          AND   A.CD_FUNCAO              = 2
                                          AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                                          AND   B.ID_TIPO_ENDERECO      = 1
                                          AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
                                          AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA) D
                                    WHERE A.CD_PESSOA              = B.CD_PESSOA
                                    AND   A.CD_PESSOA              = C.CD_PESSOA
                                    AND   C.NM_CICLO               = @NM_CICLO
                                    AND   A.CD_FUNCAO              = 2
                                    AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                                    AND   B.ID_TIPO_ENDERECO      = 1
                                    AND   C.CD_SITUACAO_COMERCIAL_DETALHE = D.MIN_SITUACAO_COMERCIAL_DETALHE
                                    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA)) F
        WHERE E.NM_CICLO             = @NM_CICLO
        AND   E.CD_INDICADOR_PESSOAL = 1001
        AND   E.CD_FUNCAO            = 2
        AND   E.VL_INDICADOR_PESSOAL = F.VL_INDICADOR
        AND   E.CD_PESSOA IN (SELECT DISTINCT A.CD_PESSOA
                              FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C,
                                   (SELECT MIN(C.CD_SITUACAO_COMERCIAL_DETALHE) MIN_SITUACAO_COMERCIAL_DETALHE
                                    FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C
                                    WHERE A.CD_PESSOA              = B.CD_PESSOA
                                    AND   A.CD_PESSOA              = C.CD_PESSOA
                                    AND   C.NM_CICLO               = @NM_CICLO
                                    AND   A.CD_FUNCAO              = 2
                                    AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                                    AND   B.ID_TIPO_ENDERECO      = 1
                                    AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
                                    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA) D
                              WHERE A.CD_PESSOA              = B.CD_PESSOA
                              AND   A.CD_PESSOA              = C.CD_PESSOA
                              AND   C.NM_CICLO               = @NM_CICLO
                              AND   A.CD_FUNCAO              = 2
                              AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                              AND   B.ID_TIPO_ENDERECO      = 1
                              AND   C.CD_SITUACAO_COMERCIAL_DETALHE = D.MIN_SITUACAO_COMERCIAL_DETALHE
                              AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA )

        IF (@QDE_PESSOAS = 1)
        BEGIN 
          -- BUSCA A CN COM CEP MAIS PROXIMO, MENOR SITUACAO COMERCIAL DETALHE E MAIOR VALOR DE VENDA PESSOAL
          SELECT  @CD_PESSOA_PROXIMA = E.CD_PESSOA
          FROM    TB_PESSOA_INDICADOR E,
                 (SELECT MAX(VL_INDICADOR_PESSOAL) AS VL_INDICADOR
                  FROM TB_PESSOA_INDICADOR
                  WHERE NM_CICLO             = @NM_CICLO
                  AND   CD_INDICADOR_PESSOAL = 1001
                  AND   CD_FUNCAO            = 2
                  AND   CD_PESSOA IN (SELECT DISTINCT A.CD_PESSOA
                                      FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C,
                                           (SELECT MIN(C.CD_SITUACAO_COMERCIAL_DETALHE) MIN_SITUACAO_COMERCIAL_DETALHE
                                            FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C
                                            WHERE A.CD_PESSOA              = B.CD_PESSOA
                                            AND   A.CD_PESSOA              = C.CD_PESSOA
                                            AND   C.NM_CICLO               = @NM_CICLO
                                            AND   A.CD_FUNCAO              = 2
                                            AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                                            AND   B.ID_TIPO_ENDERECO      = 1
                                            AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
                                            AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA) D
                                      WHERE A.CD_PESSOA              = B.CD_PESSOA
                                      AND   A.CD_PESSOA              = C.CD_PESSOA
                                      AND   C.NM_CICLO               = @NM_CICLO
                                      AND   A.CD_FUNCAO              = 2
                                      AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                                      AND   B.ID_TIPO_ENDERECO      = 1
                                      AND   C.CD_SITUACAO_COMERCIAL_DETALHE = D.MIN_SITUACAO_COMERCIAL_DETALHE
                                      AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA)) F
          WHERE E.NM_CICLO             = @NM_CICLO
          AND   E.CD_INDICADOR_PESSOAL = 1001
          AND   E.CD_FUNCAO            = 2
          AND   E.VL_INDICADOR_PESSOAL = F.VL_INDICADOR
          AND   E.CD_PESSOA IN (SELECT DISTINCT A.CD_PESSOA
                                FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C,
                                    (SELECT MIN(C.CD_SITUACAO_COMERCIAL_DETALHE) MIN_SITUACAO_COMERCIAL_DETALHE
                                     FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C
                                     WHERE A.CD_PESSOA              = B.CD_PESSOA
                                     AND   A.CD_PESSOA              = C.CD_PESSOA
                                     AND   C.NM_CICLO               = @NM_CICLO
                                     AND   A.CD_FUNCAO              = 2
                                     AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                                     AND   B.ID_TIPO_ENDERECO      = 1
                                     AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
                                     AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA) D
                                WHERE A.CD_PESSOA              = B.CD_PESSOA
                                AND   A.CD_PESSOA              = C.CD_PESSOA
                                AND   C.NM_CICLO               = @NM_CICLO
                                AND   A.CD_FUNCAO              = 2
                                AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                                AND   B.ID_TIPO_ENDERECO      = 1
                                AND   C.CD_SITUACAO_COMERCIAL_DETALHE = D.MIN_SITUACAO_COMERCIAL_DETALHE
                                AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA )


        END
        ELSE IF (@QDE_PESSOAS > 1)
        BEGIN
          -- BUSCA A CN COM CEP MAIS PROXIMO, MENOR SITUACAO COMERCIAL DETALHE E MAIS ANTIGA
          SELECT  @CD_PESSOA_PROXIMA = E.CD_PESSOA
          FROM TB_PESSOA_RESUMO E
          WHERE CD_PESSOA IN (SELECT DISTINCT A.CD_PESSOA
                              FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C,
                                   (SELECT MIN(C.CD_SITUACAO_COMERCIAL_DETALHE) MIN_SITUACAO_COMERCIAL_DETALHE
                                    FROM TB_PESSOA_RESUMO A, TB_PESSOA_ENDERECO B, TB_HIST_SITUACAO_CONSULTORA C
                                    WHERE A.CD_PESSOA              = B.CD_PESSOA
                                    AND   A.CD_PESSOA              = C.CD_PESSOA
                                    AND   C.NM_CICLO               = @NM_CICLO
                                    AND   A.CD_FUNCAO              = 2
                                    AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                                    AND   B.ID_TIPO_ENDERECO      = 1
                                    AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4,99)
                                    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA) D
                              WHERE A.CD_PESSOA              = B.CD_PESSOA
                              AND   A.CD_PESSOA              = C.CD_PESSOA
                              AND   C.NM_CICLO               = @NM_CICLO
                              AND   A.CD_FUNCAO              = 2
                              AND   A.CD_PESSOA             <> @CD_PESSOA_CF
                              AND   B.ID_TIPO_ENDERECO      = 1
                              AND   C.CD_SITUACAO_COMERCIAL_DETALHE = D.MIN_SITUACAO_COMERCIAL_DETALHE
                              AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = @VL_MENOR_DIFERENCA) 

        END 


      END

    END
    ELSE
    BEGIN
     SELECT @CD_PESSOA_PROXIMA = 0
    END
    

  END
  SELECT @RESULTADO = @CD_PESSOA_PROXIMA
  RETURN @RESULTADO
END






GO
