SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_CICLO_ANTERIOR_MMN]  (@NM_CICLO  NUMERIC(18,0),
@QT_CICLOS INT
)
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0) = @NM_CICLO
  DECLARE @CICLO INT = 1
  DECLARE @NM_CICLO_ATUAL NUMERIC(18,2) = @NM_CICLO
  
  WHILE @CICLO < @QT_CICLOS         
  BEGIN
    SELECT @RESULTADO = ISNULL(MAX(nm_ciclo), -1)
    FROM TB_CICLO  with (NOLOCK)
    where NM_CICLO < @NM_CICLO_ATUAL
    SET @CICLO = @CICLO + 1
	SET @NM_CICLO_ATUAL = @RESULTADO
  END
  RETURN @RESULTADO
END
GO
