SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_CALCULA_NIVEL_MULTINIVEL] (@CD_PESSOA_FILHO NUMERIC(18,0),
													@CD_PESSOA_PAI NUMERIC(18,0), 
													@NM_CICLO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0)
  DECLARE @QTD_CONTADOR NUMERIC(18,0)
  DECLARE @CD_PESSOA_VINCULADA NUMERIC(18,0)
  DECLARE @V_LOOP INT
  DECLARE @V_NIVEL NUMERIC(18,0)
 
	-- ***********************************
	-- PRIMEIR TESTE 
	-- VERIFICA SE O FILHO É NIVEL 1 DO PAI
	-- ************************************
	SELECT @QTD_CONTADOR = COUNT(*)
	FROM TB_PESSOA_VINCULO_HISTORICO
	WHERE CD_PESSOA = @CD_PESSOA_FILHO
	AND CD_PESSOA_VINCULADA = @CD_PESSOA_PAI
	AND NM_CICLO = @NM_CICLO
	
	IF @QTD_CONTADOR > 0
		
		BEGIN
			SELECT @V_NIVEL = 1
		END
	
	
	ELSE
		
		BEGIN
			
			SELECT @V_LOOP = 1
			SELECT @V_NIVEL = 1
		
			WHILE @V_LOOP = 1
			
				BEGIN
				
					SELECT @CD_PESSOA_VINCULADA = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
					FROM TB_PESSOA_VINCULO_HISTORICO
					WHERE CD_PESSOA = @CD_PESSOA_FILHO
					AND NM_CICLO = @NM_CICLO
				
					IF @CD_PESSOA_VINCULADA = 0
						BEGIN
							SELECT @V_NIVEL = 0
							SELECT @V_LOOP = 0
						END
					ELSE
						BEGIN
						
							IF @CD_PESSOA_VINCULADA = @CD_PESSOA_PAI
								BEGIN
									SELECT @V_LOOP = 0
									BREAK
								END
							ELSE
								BEGIN
									SELECT @V_NIVEL = @V_NIVEL + 1
									SELECT @CD_PESSOA_FILHO = @CD_PESSOA_VINCULADA
									SELECT @V_LOOP = 1
									CONTINUE
								END
						END
				END
			END

		
	
	SELECT @RESULTADO = @V_NIVEL
	
	RETURN @RESULTADO
END
GO
