SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_COD_EST_COMERCIAL_PAI]  (@CD_EST_COMERCIAL NUMERIC(18,0))

RETURNS NUMERIC(18,0)
AS
BEGIN
   
  DECLARE @RESULTADO NUMERIC(18,0),
		  @NIVEL INT
 
 
  -- VERIFICA O NIVEL
  SELECT @NIVEL = CD_NIVEL_EST_COMERCIAL
  FROM TB_EST_COMERCIAL
  WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
 
  IF (@NIVEL = 1) 
	BEGIN
		 SELECT @RESULTADO = 0
	END
	
  IF (@NIVEL = 2) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_COM1
		FROM TB_EST_COMERCIAL_HIERARQUIA
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	END

  IF (@NIVEL = 3) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_COM2
		FROM TB_EST_COMERCIAL_HIERARQUIA
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	END 

  IF (@NIVEL = 4) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_COM3
		FROM TB_EST_COMERCIAL_HIERARQUIA
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	END
	
  IF (@NIVEL = 5) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_COM4
		FROM TB_EST_COMERCIAL_HIERARQUIA
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	END

  IF (@NIVEL = 6) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_COM5
		FROM TB_EST_COMERCIAL_HIERARQUIA
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	END
	
  IF (@NIVEL = 7) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_COM6
		FROM TB_EST_COMERCIAL_HIERARQUIA
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	END
	
  IF (@NIVEL = 8) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_COM7
		FROM TB_EST_COMERCIAL_HIERARQUIA
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	END
  
  IF (@NIVEL = 9) 
	BEGIN
		SELECT @RESULTADO = CD_NIVEL_COM8
		FROM TB_EST_COMERCIAL_HIERARQUIA
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	END
	
  RETURN @RESULTADO
END
GO
