SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create FUNCTION [dbo].[FN_MN_CALCULA_QDE_CICLOS_ATIVOS_FANES] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0))  




--  CALCULA : 
--  QUANTIDADE DE CICLOS ATIVOS

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	        NUMERIC(18,0)
  DECLARE @VL_CONTADOR_CICLO    NUMERIC(18,0)
  DECLARE @ID_ATIVO_CICLO       INT

  SELECT @RESULTADO         = 0,
         @VL_CONTADOR_CICLO = 1

  SELECT @ID_ATIVO_CICLO = dbo.FN_BUSCA_SITUACAO_ATIVA_MMN (@CD_PESSOA, 
                                                            @CD_FUNCAO,   
		        			            dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_CONTADOR_CICLO) )
  WHILE @ID_ATIVO_CICLO = 1
  BEGIN
    SELECT @RESULTADO         = (@RESULTADO + 1),
           @VL_CONTADOR_CICLO = (@VL_CONTADOR_CICLO + 1)

    SELECT @ID_ATIVO_CICLO = dbo.FN_BUSCA_SITUACAO_ATIVA_MMN (@CD_PESSOA, 
                                                              @CD_FUNCAO,   
	  	        			              dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_CONTADOR_CICLO) )
  END
  
  RETURN @RESULTADO
END



GO
