SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_PAPEL_MMN]  (@CD_PESSOA NUMERIC(18,0), @CD_FUNCAO NUMERIC(18,0),  @NM_CICLO  NUMERIC(18,0)
)
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0) = 1
  
  SELECT @RESULTADO = isnull(max(CD_PAPEL_DESEMPENHO),1)
  FROM TB_PESSOA_PAPEL_HISTORICO
  WHERE CD_PESSOA = @CD_PESSOA
  AND  CD_FUNCAO  = @CD_FUNCAO
  AND NM_CICLO    =  @NM_CICLO

  RETURN @RESULTADO
END



GO
