SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_DESC_ENTIDADE_CONCILIACAO_PEDIDO](@NM_PEDIDO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  
  DECLARE @CD_ENTIDADE_CONCILIACAO NUMERIC(18,0)
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @CD_ENTIDADE_CONCILIACAO = MAX(CD_ENTIDADE_CRIACAO)
  FROM TB_PARCELA PA, TB_DIVIDA DI
  WHERE DI.CD_DIVIDA = PA.CD_DIVIDA
  AND DI.NM_PEDIDO = @NM_PEDIDO 

  SELECT @RESULTADO = MAX(DC_ENTIDADE_CONCILIACAO) 
  FROM TB_ENTIDADE_CONCILIACAO
  WHERE CD_ENTIDADE_CONCILIACAO = @CD_ENTIDADE_CONCILIACAO

  RETURN @RESULTADO
END
GO
