SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_DESC_REGRA_PREMIACAO_MN](@CD_MN_REGRA_PREMIACAO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DC_MN_REGRA_PREMIACAO 
  FROM TB_MN_REGRA_PREMIACAO
  WHERE CD_MN_REGRA_PREMIACAO = @CD_MN_REGRA_PREMIACAO
  
  RETURN @RESULTADO
END

GO
