SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_EST_GEOGRAFICA](@CD_EST_GEOGRAFICA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_EST_GEOGRAFICA) 
  FROM TB_EST_GEOGRAFICA
  WHERE CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA

  RETURN @RESULTADO
END
GO
