SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_DESC_EST_SITUACAO](@CD_EST_SITUACAO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_EST_SITUACAO) 
  FROM TB_EST_SITUACAO
  WHERE CD_EST_SITUACAO = @CD_EST_SITUACAO

  RETURN @RESULTADO
END

GO
