SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_QDE_CICLOS_ATIVOS_MAHOGANY]  (@CD_PESSOA NUMERIC(18,0), @NM_CICLO  NUMERIC(18,0), 
@CD_FUNCAO NUMERIC(18,0), @QT_CICLOS INT )
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO          INT = 0
  DECLARE @CICLO              INT = 1
 DECLARE @QT_CICLOS_ATIVO     INT
 

  WHILE (@CICLO <= @QT_CICLOS)
  BEGIN

    -- BUSCA O INDICADOR DE ATIVA
    SELECT @QT_CICLOS_ATIVO = COUNT(*)
    FROM TB_PESSOA_INDICADOR with(nolock)
    WHERE CD_PESSOA            = @CD_PESSOA
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   NM_CICLO             = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO)
    --AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
    AND   CD_INDICADOR_PESSOAL = 1002
    AND   VL_INDICADOR_PESSOAL = 1

    IF (@QT_CICLOS_ATIVO  =  1)
    BEGIN
      SELECT @RESULTADO = (@RESULTADO + 1)
    END
    ELSE
    BEGIN
      BREAK
    END  

    SELECT @CICLO = (@CICLO+1) 
  END
  RETURN @RESULTADO
END




GO
