SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************
OBETIVO : Procurar a CN mais próximo para o pagamento do Bônus Proxxidade.
- CN ativa no plano de negócio
- CN com maior média de pontos em 3 ciclos (atual + 2 anteriores)
- CN mais antiga

CENÁRIOS DE TESTES : 
1 - Não encontrou ninguem no mesmo cep...........OK
2 - 1001,Encontrou somente uma pessoa.......OK
3 - 1001, Encontrou duas pessoas, porém, somente um com valor maior no 1003
4 - 1001, 1003,Encontrou duas pessoas, porém, retorna o mais antigo....
***************************************************************************/


CREATE FUNCTION [dbo].[FN_BUSCA_CONSULTOR_PROXIMO]  (@CD_PESSOA_CF  NUMERIC(18,0) ,
@NM_CICLO  NUMERIC(18,0))
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0),
          @DC_CODIGO_POSTAL_CF NUMERIC(8,0),
          @VL_CODIGO_POSTAL    NUMERIC(18,0),
          @QDE_PESSOAS         INT,
          @CD_PESSOA_PROXIMA   NUMERIC(18,0)

 
  SELECT @CD_PESSOA_PROXIMA = ISNULL(MAX(CD_PESSOA_VINCULADA),0)
  FROM TB_PESSOA_RESUMO with (NOLOCK)
  WHERE CD_PESSOA = @CD_PESSOA_CF
--  AND   CD_FUNCAO = 1

  IF (@CD_PESSOA_PROXIMA = 0)
  BEGIN
    SELECT @VL_CODIGO_POSTAL = CONVERT(NUMERIC(8,0),DC_CODIGO_POSTAL)
    FROM TB_PESSOA_ENDERECO with (NOLOCK)
    WHERE CD_PESSOA        = @CD_PESSOA_CF
    AND   ID_TIPO_ENDERECO in (1,3)

    SELECT @QDE_PESSOAS = COUNT(A.CD_PESSOA)
      FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
    WHERE A.CD_PESSOA             = B.CD_PESSOA
    AND   A.CD_FUNCAO             = 2
    AND   B.ID_TIPO_ENDERECO      in (1,3)
    AND   A.CD_PESSOA   = C.CD_PESSOA
    AND   A.CD_FUNCAO   = C.CD_FUNCAO
    AND   C.NM_CICLO    = @NM_CICLO
    AND   C.CD_INDICADOR_PESSOAL = 1001
    AND   C.VL_INDICADOR_PESSOAL > 0
    AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = 0 -- MESMO CEP

    IF (@QDE_PESSOAS = 1)
    BEGIN
      SELECT @CD_PESSOA_PROXIMA = A.CD_PESSOA
      FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
    WHERE A.CD_PESSOA             = B.CD_PESSOA
    AND   A.CD_FUNCAO             = 2
    AND   B.ID_TIPO_ENDERECO      in (1,3)
    AND   A.CD_PESSOA   = C.CD_PESSOA
    AND   A.CD_FUNCAO   = C.CD_FUNCAO
    AND   C.NM_CICLO    = @NM_CICLO
    AND   C.CD_INDICADOR_PESSOAL = 1001
    AND   C.VL_INDICADOR_PESSOAL > 0
    AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
    AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = 0 -- MESMO CEP

    END
    ELSE IF (@QDE_PESSOAS > 1)
    BEGIN
      SELECT  @CD_PESSOA_PROXIMA = min(E.CD_PESSOA)
      FROM    TB_PESSOA_INDICADOR E with (NOLOCK),
             (SELECT MAX(VL_INDICADOR_PESSOAL) AS VL_INDICADOR
              FROM TB_PESSOA_INDICADOR with (NOLOCK)
              WHERE NM_CICLO              = @NM_CICLO
              AND   CD_INDICADOR_PESSOAL = 1003
              AND   CD_FUNCAO             = 2
              AND   CD_PESSOA IN (SELECT A.CD_PESSOA
                                  FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
    				WHERE A.CD_PESSOA             = B.CD_PESSOA
    				AND   A.CD_FUNCAO             = 2
    				AND   B.ID_TIPO_ENDERECO      in (1,3)
    				AND   A.CD_PESSOA   = C.CD_PESSOA
    				AND   A.CD_FUNCAO   = C.CD_FUNCAO
    				AND   C.NM_CICLO    = @NM_CICLO
    				AND   C.CD_INDICADOR_PESSOAL = 1001
    				AND   C.VL_INDICADOR_PESSOAL > 0
    				AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
                                AND  ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = 0 ) ) D

      WHERE E.NM_CICLO              = @NM_CICLO
      AND   E.CD_INDICADOR_PESSOAL = 1003
      AND   E.CD_FUNCAO             = 2
      AND   E.VL_INDICADOR_PESSOAL   = D.VL_INDICADOR
      AND   E.CD_PESSOA IN (SELECT A.CD_PESSOA
                             FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_ENDERECO B with (NOLOCK), TB_PESSOA_INDICADOR C with (NOLOCK)
    				WHERE A.CD_PESSOA             = B.CD_PESSOA
    				AND   A.CD_FUNCAO             = 2
   				AND   B.ID_TIPO_ENDERECO      in (1,3)
    				AND   A.CD_PESSOA   = C.CD_PESSOA
    				AND   A.CD_FUNCAO   = C.CD_FUNCAO
   				AND   C.NM_CICLO    = @NM_CICLO
    				AND   C.CD_INDICADOR_PESSOAL = 1001
    				AND   C.VL_INDICADOR_PESSOAL > 0
    				AND   ISNUMERIC (B.DC_CODIGO_POSTAL) = 1
                            	AND   ABS (@VL_CODIGO_POSTAL-CONVERT(NUMERIC(8,0),(CASE ISNUMERIC(B.DC_CODIGO_POSTAL) WHEN 1 THEN B.DC_CODIGO_POSTAL ELSE 0 END))) = 0 )

    END
    ELSE
    BEGIN
     SELECT @CD_PESSOA_PROXIMA = 0
    END
    

  END
  SELECT @RESULTADO = @CD_PESSOA_PROXIMA
  RETURN @RESULTADO
END
GO
