SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_QDE_CICLOS_SEM_META_ATIVAS_LELLAS_ELLAS]  
(@CD_PESSOA NUMERIC(18,0), 
 @NM_CICLO  NUMERIC(18,0), 
 @CD_FUNCAO NUMERIC(18,0), 
 @CD_EST_COMERCIAL NUMERIC(18,0), 
 @QT_CICLOS INT,
 @CD_PAPEL_CARREIRA_ATUAL NUMERIC(18,0) )
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO                  INT = 0
  DECLARE @CICLO                      INT = 1
  DECLARE @VL_META                    NUMERIC(18,0) = 0
  DECLARE @CD_PAPEL_CARREIRA          NUMERIC(18,0) 
  DECLARE @VL_INDICADOR_PESSOAL_ATIVA NUMERIC(18,0)

  IF (@CD_PAPEL_CARREIRA_ATUAL = 5) -- SAFIRA
  BEGIN
    SET @VL_META = 5
  END
  IF (@CD_PAPEL_CARREIRA_ATUAL = 6) -- ESMERALDA
  BEGIN
    SET @VL_META = 15
  END
  IF (@CD_PAPEL_CARREIRA_ATUAL = 7) -- RUBI
  BEGIN
    SET @VL_META = 25
  END

  IF (@VL_META > 0)
  BEGIN
    WHILE (@CICLO <= @QT_CICLOS)
    BEGIN
   
      -- BUSCA O HISTORICO DO PAPEL
      SELECT @CD_PAPEL_CARREIRA = CD_PAPEL_CARREIRA
      FROM TB_PESSOA_PAPEL_HISTORICO 
      WHERE CD_PESSOA = @CD_PESSOA
      AND   CD_FUNCAO = @CD_FUNCAO
      AND   NM_CICLO  = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO)
    
      IF (@CD_PAPEL_CARREIRA IN (5,6,7))
      BEGIN
        -- BUSCA O INDICADOR DE 4 MIL PONTOS
        SELECT @VL_INDICADOR_PESSOAL_ATIVA  = VL_INDICADOR_PESSOAL
        FROM TB_PESSOA_INDICADOR
        WHERE CD_PESSOA            = @CD_PESSOA
        AND   CD_FUNCAO            = @CD_FUNCAO
        AND   NM_CICLO             = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO)
        AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
        AND   CD_INDICADOR_PESSOAL = 1008
        AND   VL_INDICADOR_PESSOAL = 0

        IF (@VL_INDICADOR_PESSOAL_ATIVA < @VL_META)
        BEGIN
          SELECT @RESULTADO = (@RESULTADO + 1)
        END
        ELSE
        BEGIN
          BREAK
        END  
      END  
      ELSE
      BEGIN
        BREAK
      END  
      SELECT @CICLO = (@CICLO+1) 
    END
  END
  RETURN @RESULTADO
END
GO
