SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_FUNCAO_EVENTO_TREINAMENTO](@CD_EVENTO NUMERIC(18,0))
RETURNS VARCHAR(300)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(300)
  DECLARE @RESULTADO1 VARCHAR(300)
  DECLARE @V_CD_FUNCAO NUMERIC(18,0)
  DECLARE @V_DC_FUNCAO VARCHAR(50)
  DECLARE @CURSOR_INSUMO CURSOR	 
  
  select @RESULTADO = ''
  select @RESULTADO1 = ''
  
SET @CURSOR_INSUMO = CURSOR FAST_FORWARD
FOR
 		SELECT EF.CD_FUNCAO, TF.DC_FUNCAO 
		  FROM TB_EVENTO_FUNCAO EF with(nolock),
			   TB_FUNCAO TF with(nolock)
			   WHERE EF.CD_EVENTO = @CD_EVENTO
			   AND EF.CD_FUNCAO = TF.CD_FUNCAO

OPEN @CURSOR_INSUMO
FETCH NEXT FROM @CURSOR_INSUMO
INTO @V_CD_FUNCAO, @V_DC_FUNCAO

	WHILE @@FETCH_STATUS = 0	
		BEGIN
			
			IF @RESULTADO1 = ''
				BEGIN
					SELECT @RESULTADO1 = CAST(@V_DC_FUNCAO as varchar(50))
				END
			ELSE
				BEGIN
					SELECT @RESULTADO1 = cast(@RESULTADO1 as varchar(300)) + ', ' + CAST(@V_DC_FUNCAO as varchar(50))
				END
			
			  
			FETCH NEXT FROM @CURSOR_INSUMO
			INTO @V_CD_FUNCAO, @V_DC_FUNCAO
		END
CLOSE      @CURSOR_INSUMO
DEALLOCATE @CURSOR_INSUMO
  
  select @RESULTADO = @RESULTADO1

  RETURN @RESULTADO
END
GO
