SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ****************************************************************************
-- NOVA FUNÇÃO QUE MOSTRA ENDEREÇO COMPLETO DA PESSOA, BASEADO NUM TIPO DE ENDEREÇO
-- A COLUNA @p_codigoFormatoExibicao SERVE PARA EXIBIR O ENDEREÇO COMPLETO DE FORMAS DIFERENTES
-- QUANDO FOR 1 MOSTRA APENAS AS DESCRIÇÕES DOS NIVEIS
-- QUANDO FOR 2 MOSTRA ENDEREÇO COMPLETO COM NUMERO, COMPLEMENTO E CEP
-- A INFORMAÇÃO DE OCULTA PAIS SERA UTILIZADA QUANDO O SISTEMA FOR VENDIDO PARA VARIOS PAISES
-- NESSE MOMENTO PARA O BRASIL VAMOS SEMPRE MANDAR 0
-- ****************************************************************************


CREATE FUNCTION [dbo].[fn_PessoaRetornaEnderecoCompleto](@p_codigoPessoa NUMERIC(18,0),
														 @p_codigoTipoEndereco INT,
														 @p_codigoFormatoExibicao INT,
														 @p_codigoOcultaPais	INT)
														 
RETURNS VARCHAR(500)
AS
BEGIN
  DECLARE @v_descricaoResultado		VARCHAR(300),
		  @v_descricaoNumero		VARCHAR(80),
		  @v_descricaoComplemento	VARCHAR(80),
		  @v_descricaoReferencia	VARCHAR(80),
		  @v_descricaoCodigoPostal	VARCHAR(80),
		  @v_codigoEstGeografica	NUMERIC(18,0),
		  @v_codigoNivelGeo1		NUMERIC(18,0),
		  @v_codigoNivelGeo2		NUMERIC(18,0),
		  @v_codigoNivelGeo3		NUMERIC(18,0),
		  @v_codigoNivelGeo4		NUMERIC(18,0),
		  @v_codigoNivelGeo5		NUMERIC(18,0),
		  @v_codigoNivelGeo6		NUMERIC(18,0),
		  @v_codigoNivelGeo7		NUMERIC(18,0),
		  @v_codigoNivelGeo8		NUMERIC(18,0),
		  @v_codigoNivelGeo9		NUMERIC(18,0),
		  @v_descricaoNivelGeo1		VARCHAR(80),
		  @v_descricaoNivelGeo2		VARCHAR(80),
		  @v_descricaoNivelGeo3		VARCHAR(80),
		  @v_descricaoNivelGeo4		VARCHAR(80),
		  @v_descricaoNivelGeo5		VARCHAR(80),
		  @v_descricaoNivelGeo6		VARCHAR(80),
		  @v_descricaoNivelGeo7		VARCHAR(80),
		  @v_descricaoNivelGeo8		VARCHAR(80),
		  @v_descricaoNivelGeo9		VARCHAR(80),
		  @v_codigoNivel			INT,
		  @v_codigoDadosDigitados	INT
		  
 
	-- PEGA ESTRUTURA GEOGRAFICA DA PESSOA
	SELECT @v_codigoDadosDigitados = ID_DADOS_DIGITADOS,
		   @v_codigoEstGeografica = CD_EST_GEOGRAFICA, 
		   @v_descricaoNumero = DC_NUMERO,
		   @v_descricaoComplemento = DC_COMPLEMENTO,
		   @v_descricaoCodigoPostal = DC_CODIGO_POSTAL
	FROM TB_PESSOA_ENDERECO
	where CD_PESSOA = @p_codigoPessoa
	AND ID_TIPO_ENDERECO = @p_codigoTipoEndereco
	
	IF (@v_codigoDadosDigitados = 1) -- RUA E BAIRRO FORAM DIGITADOS
		BEGIN
			
			-- PEGA TODOS OS CODIGOS DA ESTRUTURA COMERCIAL
			SELECT	@v_codigoNivelGeo1 = CD_NIVEL_GEO1,
					@v_codigoNivelGeo2 = CD_NIVEL_GEO2,
					@v_codigoNivelGeo3 = CD_NIVEL_GEO3,
					@v_codigoNivelGeo4 = CD_NIVEL_GEO4,
					@v_codigoNivelGeo5 = CD_NIVEL_GEO5,
					@v_codigoNivelGeo6 = CD_NIVEL_GEO6,
					@v_codigoNivelGeo7 = CD_NIVEL_GEO7,
					@v_codigoNivelGeo8 = CD_NIVEL_GEO8,
					@v_codigoNivelGeo9 = CD_NIVEL_GEO9,
					@v_descricaoNivelGeo1 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
					@v_codigoNivel = CD_NIVEL_EST_GEOGRAFICA
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @v_codigoEstGeografica
			
			-- PEGA AS DESCRIÇÕES DA TABELA TB_PESSOA_ENDERECO
			SELECT	@v_descricaoNivelGeo2 = DC_ESTRUTURA_GEO2,
					@v_descricaoNivelGeo3 = DC_ESTRUTURA_GEO3,
					@v_descricaoNivelGeo4 = DC_ESTRUTURA_GEO4,
					@v_descricaoNivelGeo5 = DC_ESTRUTURA_GEO5,
					@v_descricaoNivelGeo6 = DC_ESTRUTURA_GEO6,
					@v_descricaoNivelGeo7 = DC_ESTRUTURA_GEO7,
					@v_descricaoNivelGeo8 = DC_ESTRUTURA_GEO8,
					@v_descricaoNivelGeo9 = DC_ESTRUTURA_GEO9
					--@CD_NIVEL = CD_NIVEL_EST_GEOGRAFICA
			FROM TB_PESSOA_ENDERECO
			where CD_PESSOA = @p_codigoPessoa
			AND ID_TIPO_ENDERECO = @p_codigoTipoEndereco
		
		END 
	ELSE
		BEGIN
		
 			-- PEGA TODOS OS CODIGOS DA ESTRUTURA COMERCIAL
			SELECT	@v_codigoNivelGeo1 = CD_NIVEL_GEO1,
					@v_codigoNivelGeo2 = CD_NIVEL_GEO2,
					@v_codigoNivelGeo3 = CD_NIVEL_GEO3,
					@v_codigoNivelGeo4 = CD_NIVEL_GEO4,
					@v_codigoNivelGeo5 = CD_NIVEL_GEO5,
					@v_codigoNivelGeo6 = CD_NIVEL_GEO6,
					@v_codigoNivelGeo7 = CD_NIVEL_GEO7,
					@v_codigoNivelGeo8 = CD_NIVEL_GEO8,
					@v_codigoNivelGeo9 = CD_NIVEL_GEO9,
					@v_descricaoNivelGeo1 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
					@v_descricaoNivelGeo2 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
					@v_descricaoNivelGeo3 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3),
					@v_descricaoNivelGeo4 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4),
					@v_descricaoNivelGeo5 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5),
					@v_descricaoNivelGeo6 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO6),
					@v_descricaoNivelGeo7 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO7),
					@v_descricaoNivelGeo8 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO8),
					@v_descricaoNivelGeo9 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO9),
					@v_codigoNivel = CD_NIVEL_EST_GEOGRAFICA
			FROM TB_EST_GEOGRAFICA
			WHERE CD_EST_GEOGRAFICA = @v_codigoEstGeografica
		
		END
		
  
  
	IF (@v_codigoNivel = 1)
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelGeo1
		END
	
	IF (@v_codigoNivel = 2)
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelGeo1 + 
						', ' + @v_descricaoNivelGeo2
		END
	
	
	IF (@v_codigoNivel = 3)
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelGeo1 + 
						', ' + @v_descricaoNivelGeo2 +
						', ' + @v_descricaoNivelGeo3
						
		END
	
	
	IF (@v_codigoNivel = 4)
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelGeo1 + 
						', ' + @v_descricaoNivelGeo2 +
						', ' + @v_descricaoNivelGeo3 +
						', ' + @v_descricaoNivelGeo4 
						
		END
	
	
	IF (@v_codigoNivel = 5)
		BEGIN

			-- MOSTRA SOMENTE DESCRIÇÕES DOS NIVEIS
			IF @p_codigoFormatoExibicao = 1
				BEGIN
					SELECT @v_descricaoResultado = @v_descricaoNivelGeo1 + 
					', ' + @v_descricaoNivelGeo2 +
					', ' + @v_descricaoNivelGeo3 +
					', ' + @v_descricaoNivelGeo4 +
					', ' + @v_descricaoNivelGeo5
				END

			
			-- MOSTRA SOMENTE COMPLETAS COM NUMERO, COMPLEMENTOP E CEP
			IF @p_codigoFormatoExibicao = 2
				BEGIN
					SELECT @v_descricaoResultado = @v_descricaoNivelGeo5 + ', ' + @v_descricaoNumero
					+ ' ' + @v_descricaoComplemento + ' - ' + @v_descricaoNivelGeo4
					+ ', ' + @v_descricaoNivelGeo3 + ' - ' +@v_descricaoNivelGeo2
					+ '. CEP: ' + @v_descricaoCodigoPostal
				END

			-- MOSTRA SOMENTE COMPLETAS COM NUMERO, COMPLEMENTO sem o CEP
			IF @p_codigoFormatoExibicao = 3
				BEGIN
					SELECT @v_descricaoResultado = @v_descricaoNivelGeo5 + ', ' + @v_descricaoNumero
					+ ' ' + @v_descricaoComplemento + ' - ' + @v_descricaoNivelGeo4
					+ ', ' + @v_descricaoNivelGeo3 + ' - ' +@v_descricaoNivelGeo2
				END

						
		END
		
	IF (@v_codigoNivel = 6)
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelGeo1 + 
						', ' + @v_descricaoNivelGeo2 +
						', ' + @v_descricaoNivelGeo3 +
						', ' + @v_descricaoNivelGeo4 +
						', ' + @v_descricaoNivelGeo5 +
						', ' + @v_descricaoNivelGeo6 
		END
	
	
	IF (@v_codigoNivel = 7)
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelGeo1 + 
						', ' + @v_descricaoNivelGeo2 +
						', ' + @v_descricaoNivelGeo3 +
						', ' + @v_descricaoNivelGeo4 +
						', ' + @v_descricaoNivelGeo5 +
						', ' + @v_descricaoNivelGeo6 +
						', ' + @v_descricaoNivelGeo7 
		END
	
	
	
	
	IF (@v_codigoNivel = 8)
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelGeo1 + 
						', ' + @v_descricaoNivelGeo2 +
						', ' + @v_descricaoNivelGeo3 +
						', ' + @v_descricaoNivelGeo4 +
						', ' + @v_descricaoNivelGeo5 +
						', ' + @v_descricaoNivelGeo6 +
						', ' + @v_descricaoNivelGeo7 +
						', ' + @v_descricaoNivelGeo8 
		END
	
	
	IF (@v_codigoNivel = 9)
		BEGIN
			SELECT @v_descricaoResultado = @v_descricaoNivelGeo1 + 
						', ' + @v_descricaoNivelGeo2 +
						', ' + @v_descricaoNivelGeo3 +
						', ' + @v_descricaoNivelGeo4 +
						', ' + @v_descricaoNivelGeo5 +
						', ' + @v_descricaoNivelGeo6 +
						', ' + @v_descricaoNivelGeo7 +
						', ' + @v_descricaoNivelGeo8 +
						', ' + @v_descricaoNivelGeo9 
		END
	
	
  RETURN @v_descricaoResultado
END


GO
