SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_ApiPessoaValidaEmail]
	(@p_descricaoEmail VARCHAR(50))
RETURNS VARCHAR(200)
AS


BEGIN
	DECLARE @v_paramEmailDuplicado	INT,
			@v_qtdeRegistros		INT,
			@v_resultado			VARCHAR(200)
	
	select @v_resultado = ''
	
	BEGIN 
			
		-- PARÂMETRO DE EMAIL DUPLICADO
		SELECT @v_paramEmailDuplicado = VL_PARAMETRO
		  FROM TB_VALOR_PARAMETRO WITH(NOLOCK) 
		 WHERE CD_GRUPO_PARAMETRO = 1
		   AND CD_PARAMETRO = 3

		IF @v_paramEmailDuplicado = 2 --NÃO PERMITE DUPLICAR
			BEGIN
				SELECT @v_qtdeRegistros = COUNT(*)
					FROM TB_PESSOA_EMAIL WITH(NOLOCK)
					WHERE RTRIM(LTRIM(DC_EMAIL)) = RTRIM(LTRIM(@p_descricaoEmail))

				IF @v_qtdeRegistros >= 1
					BEGIN
						SELECT @v_resultado = 'E-mail já existente na base de dados'
					END
			END

	END

	RETURN @v_resultado
END
GO
