SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [dbo].[FN_MN_TORNOU_GRADUADO_CRESER] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @CD_PAPEL  NUMERIC(18,0))

--  CALCULA : 
--  VERIFICA SE A PESSOA TORNOU-SE GRADUADO PELA 1a VEZ NO PAPEL INFORMADO

RETURNS NUMERIC(18,0)
AS
BEGIN

  DECLARE @RESULTADO	             NUMERIC(18,0)
  DECLARE @CD_PAPEL_DESEMPENHO_ATUAL NUMERIC(18,0)
	

  SELECT @RESULTADO = 0

  -- BUSCA O PAPEL DESEMPENHO ATUAL
  SELECT @CD_PAPEL_DESEMPENHO_ATUAL = CD_PAPEL_DESEMPENHO
  FROM TB_PESSOA_RESUMO
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO

  IF (@CD_PAPEL_DESEMPENHO_ATUAL >= @CD_PAPEL)
  BEGIN

    -- VERIFICA A GRADUAÇÃO DA PESSOA
    SELECT @RESULTADO = CASE   WHEN (isnull(SUM(VL_INDICADOR_PESSOAL),0) = 0) THEN 1  ELSE 0  END
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA      = @CD_PESSOA
    AND CD_FUNCAO        = @CD_FUNCAO
    AND  (  (@CD_PAPEL = 3 AND CD_INDICADOR_PESSOAL = 1015)  OR
            (@CD_PAPEL = 4 AND CD_INDICADOR_PESSOAL = 1016)  OR
            (@CD_PAPEL = 5 AND CD_INDICADOR_PESSOAL = 1017)  OR
            (@CD_PAPEL = 6 AND CD_INDICADOR_PESSOAL = 1018)  OR
            (@CD_PAPEL = 7 AND CD_INDICADOR_PESSOAL = 1019)  OR
            (@CD_PAPEL = 8 AND CD_INDICADOR_PESSOAL = 1020)  OR
            (@CD_PAPEL = 9 AND CD_INDICADOR_PESSOAL = 1021)  )
    AND NM_CICLO         < @NM_CICLO

  END
  ELSE
  BEGIN
    SELECT @RESULTADO  = 0
  END

  RETURN @RESULTADO

END






GO
