SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_CALCULA_TOTAL_LD]    (@CD_PESSOA_VINCULADA NUMERIC(18,0),
                                                @CD_FUNCAO INT,
                                                @NM_CICLO NUMERIC(18,0),
						@CD_INDICADOR_PESSOAL NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO            NUMERIC(18,0)


  SELECT     @RESULTADO = SUM(B.VL_INDICADOR_PESSOAL)
  FROM TB_PESSOA_VINCULO_HISTORICO A, TB_PESSOA_INDICADOR B
  WHERE A.CD_PESSOA              = B.CD_PESSOA
  AND   A.CD_FUNCAO              = B.CD_FUNCAO
  AND   A.NM_CICLO               = B.NM_CICLO
  AND   A.CD_PESSOA_VINCULADA    = @CD_PESSOA_VINCULADA
  AND   A.CD_FUNCAO              = @CD_FUNCAO
  AND   A.NM_CICLO               = @NM_CICLO
  AND   B.CD_INDICADOR_PESSOAL   = @CD_INDICADOR_PESSOAL


  RETURN @RESULTADO
END

GO
