SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_QDE_CICLOS_SEM_ATINGIR_MINIMO_COMO_LIDER_ASOS]  (@CD_PESSOA NUMERIC(18,0), @NM_CICLO  NUMERIC(18,0), 
@CD_FUNCAO NUMERIC(18,0), @CD_EST_COMERCIAL NUMERIC(18,0), @QT_CICLOS INT )

												  	
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO          INT = 0
  DECLARE @CICLO              INT = 1
  DECLARE @CD_PAPEL_CARREIRA  NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL_1010  NUMERIC(18,2),
	  @VL_INDICADOR_PESSOAL_1026  NUMERIC(18,2)

  WHILE (@CICLO <= @QT_CICLOS)
  BEGIN
    -- BUSCA O HISTORICO DO PAPEL
    SELECT @CD_PAPEL_CARREIRA = CD_PAPEL_CARREIRA
    FROM TB_PESSOA_PAPEL_HISTORICO 
    WHERE CD_PESSOA = @CD_PESSOA
    AND   CD_FUNCAO = @CD_FUNCAO
    AND   NM_CICLO  = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO)

    IF (@CD_PAPEL_CARREIRA >= 5)
    BEGIN
      -- BUSCA O INDICADOR DE 4 MIL PONTOS E 5 INDICADAS DIRETAS COM KIT INICIO (PELO MENOS)
      SELECT @VL_INDICADOR_PESSOAL_1010 = [1010],
             @VL_INDICADOR_PESSOAL_1026 = [1026]
      FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                    ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
             FROM TB_PESSOA_INDICADOR
             WHERE CD_PESSOA      = @CD_PESSOA
             AND CD_FUNCAO        = @CD_FUNCAO
             AND NM_CICLO         = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,@CICLO)
             AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
             AND CD_INDICADOR_PESSOAL IN (1010,1026)
             GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
             PIVOT (SUM(VALOR) FOR INDICADOR IN ([1010],[1026])) EM_COLUNA



      IF (@VL_INDICADOR_PESSOAL_1010 < 1 OR @VL_INDICADOR_PESSOAL_1026 < 5 )
      BEGIN
        SELECT @RESULTADO = (@RESULTADO + 1)
      END
      ELSE
      BEGIN
        BREAK
      END  
    END  
    ELSE
    BEGIN
      BREAK
    END  

    SELECT @CICLO = (@CICLO+1) 
  END
  RETURN @RESULTADO
END
GO
