SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTUACAO_LIDERANCA_TE] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO        NUMERIC(18,0),
                         @NM_CICLO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @CD_LADO          NUMERIC(18,0) )

--  CALCULA : 
--  TOTAL DE PONTUACAO DE ORGANIZACAO


RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,2)

  SELECT @RESULTADO = 0

  -- BUSCA OS PONTOS DA EQUIPE
  SELECT @RESULTADO =  isnull(SUM(B.VL_CREDITO_TOTAL),0)
  FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
       (SELECT CD_PESSOA              AS PESSOA
        FROM TB_PESSOA_RESUMO 
        WHERE CD_PESSOA_VINCULADA  = @CD_PESSOA 
        AND CD_FUNCAO              = @CD_FUNCAO
        AND (  (@CD_LADO = 0)   OR
               (@CD_LADO > 0 AND ID_DIRECAO_REDE_LINEAR = @CD_LADO)
            )
        UNION
        SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
        FROM TB_WRK_MN_TOPOLOGIA B1,
             (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO 
              WHERE CD_PESSOA_VINCULADA  = @CD_PESSOA 
              AND CD_FUNCAO              = @CD_FUNCAO
              AND (  (@CD_LADO = 0)   OR
                     (@CD_LADO > 0 AND ID_DIRECAO_REDE_LINEAR = @CD_LADO)
                  )  ) B3
        WHERE B1.CD_PESSOA             = B3.CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B1.NM_NIVEL             BETWEEN 1 AND 6) C   --DA PESSOA SÃO OS NÍVEIS : 1,2,3,4,5,6,7 DA REDE
  WHERE (A.CD_PESSOA            = C.PESSOA OR A.CD_RV_INDICANTE = C.PESSOA)
  AND   A.CD_FUNCAO               = @CD_FUNCAO
  AND   A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL 
  AND   A.NM_CICLO_PAGAMENTO      = @NM_CICLO
  AND   A.NM_CICLO_CANCELAMENTO   IS NULL    -- SOMENTE PEDIDO APROVADO, NAO CANCELADO
  AND   A.NM_PEDIDO               = B.NM_PEDIDO
  AND   B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
  AND   B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
  AND   B.NM_PEDIDO_ITEM_CONJUNTO = 0
 
  RETURN @RESULTADO
END



GO
