SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- *************************************************
-- CRIADO POR ANDERSON EM 07/12/2020
-- ADICIONADO PARAMETRO DE CD_REGRA_COMERCIAL
-- *************************************************


CREATE FUNCTION [dbo].[FN_BUSCA_CODIGO_COTA_PRODUTO_PESSOA_DISPONIVEL](@CD_PRODUTO_VENDA NUMERIC(18,0), 
																	   @NM_CICLO NUMERIC(18,0),
																	   @CD_REGRA_COMERCIAL NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
	DECLARE @RESULTADO NUMERIC(18,0)
	DECLARE @CONTADOR INT

		-- ******************************************************************
		-- PRIMEIRO VERIFICA SE EXISTE COTA DE PRODUTO
		-- ******************************************************************
		SELECT @CONTADOR = COUNT(*)
		from TB_COTA_PRODUTO_PESSOA A
		WHERE A.CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
		AND @NM_CICLO BETWEEN A.NM_CICLO_INICIAL AND A.NM_CICLO_FINAL 
		AND A.ID_TIPO_COTA_PRODUTO_PESSOA = 1
		AND A.CD_COTA_PRODUTO_PESSOA IN (SELECT B.CD_COTA_PRODUTO_PESSOA 
										FROM TB_COTA_PRODUTO_PESSOA_REGRA_COMERCIAL B
										WHERE B.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL)

		IF @CONTADOR = 0 
			BEGIN
		
				-- ****************************************************************************************
				-- NÃO ACHOU, VAMOS PROCURAR SE EXISTE ALGUMA ESTRUTURA DE PRODUTO CADASTRADA
				-- ****************************************************************************************
				SELECT @CONTADOR = COUNT(*)
				FROM TB_COTA_PRODUTO_PESSOA A
				WHERE @NM_CICLO BETWEEN A.NM_CICLO_INICIAL AND A.NM_CICLO_FINAL 
				AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(@CD_PRODUTO_VENDA, A.CD_EST_PRODUTO) = 1
				AND A.ID_TIPO_COTA_PRODUTO_PESSOA = 2
				AND A.CD_COTA_PRODUTO_PESSOA IN (SELECT B.CD_COTA_PRODUTO_PESSOA 
										FROM TB_COTA_PRODUTO_PESSOA_REGRA_COMERCIAL B
										WHERE B.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL)

				
				IF @CONTADOR = 0 
					BEGIN
						SELECT @RESULTADO = 0
					END
				ELSE
					BEGIN 
						SELECT @RESULTADO = MIN(A.CD_COTA_PRODUTO_PESSOA)
						FROM TB_COTA_PRODUTO_PESSOA A
						WHERE @NM_CICLO BETWEEN A.NM_CICLO_INICIAL AND A.NM_CICLO_FINAL 
						AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(@CD_PRODUTO_VENDA, A.CD_EST_PRODUTO) = 1
						AND A.ID_TIPO_COTA_PRODUTO_PESSOA = 2
						AND A.CD_COTA_PRODUTO_PESSOA IN (SELECT B.CD_COTA_PRODUTO_PESSOA 
										FROM TB_COTA_PRODUTO_PESSOA_REGRA_COMERCIAL B
										WHERE B.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL)

					END

			END 
		ELSE
			BEGIN
				SELECT @RESULTADO = MIN(A.CD_COTA_PRODUTO_PESSOA)
				FROM TB_COTA_PRODUTO_PESSOA A
				WHERE A.CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
				AND @NM_CICLO BETWEEN A.NM_CICLO_INICIAL AND A.NM_CICLO_FINAL 
				AND A.ID_TIPO_COTA_PRODUTO_PESSOA = 1
				AND A.CD_COTA_PRODUTO_PESSOA IN (SELECT B.CD_COTA_PRODUTO_PESSOA 
										FROM TB_COTA_PRODUTO_PESSOA_REGRA_COMERCIAL B
										WHERE B.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL)

			END 
			
   RETURN @RESULTADO
END
GO
