SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_COD_PESSOA_VINCULADA]  (@ID_TIPO_REDE	INT,
														@CD_PESSOA NUMERIC(18,0),
														@CD_FUNCAO NUMERIC(18,0),
														@NM_CICLO  NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
   
  DECLARE @RESULTADO NUMERIC(18,0)
   SELECT @RESULTADO = 0
  
  -- REDE UNILEVEL
  IF @ID_TIPO_REDE = 1
	BEGIN
	
		
		SELECT @RESULTADO = ISNULL(MAX(CD_PESSOA_VINCULADA),0)
		FROM TB_PESSOA_VINCULO_HISTORICO
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND NM_CICLO = (select max(B.NM_CICLO) FROM TB_PESSOA_VINCULO_HISTORICO B
						WHERE B.CD_PESSOA = @CD_PESSOA
						AND B.NM_CICLO <= @NM_CICLO)
	
	END
	
 -- REDE BINARIA
  IF @ID_TIPO_REDE = 2
	BEGIN
	
		
		SELECT @RESULTADO = ISNULL(MAX(CD_PESSOA_VINCULADA_BINARIA),0)
		FROM TB_PESSOA_VINCULO_HISTORICO
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND NM_CICLO = (select max(B.NM_CICLO) FROM TB_PESSOA_VINCULO_HISTORICO B
						WHERE B.CD_PESSOA = @CD_PESSOA
						AND B.NM_CICLO <= @NM_CICLO)
	
	END

  RETURN @RESULTADO
END

GO
