SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Diego Zilioti
-- Create date: 09/07/2018
-- Description:	Função para retornar a permissão para realização de um novo pedido com base no último pedido finalizado não cancelado
-- =============================================
CREATE FUNCTION [dbo].[fn_PedidoBuscaPermissaoNovoPedido]
(
	@p_codigoPessoa	numeric(18,0)
)

RETURNS VARCHAR(200)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_dcMsgBloqueio VARCHAR(200)

	DECLARE @v_nmUltimoPedido NUMERIC(18,0)

	SELECT @v_nmUltimoPedido = ISNULL(MAX(NM_PEDIDO),0)
	  FROM TB_PEDIDO
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND CD_EST_SITUACAO NOT IN (1,3,99) --DESPREZA PEDIDOS EM CAPTAÇÃO/ EDIÇÃO OU CANCELADOS
	
	IF @v_nmUltimoPedido > 0 --SIGNIFICA QUE EXISTE O ÚLTIMO PEDIDO, VAMOS BUSCAR A PERMISSÃO
		BEGIN
			SELECT @v_dcMsgBloqueio = CASE RC.ID_PERMITE_NOVO_PEDIDO
			       WHEN 1 THEN ''
				   WHEN 2 THEN RC.DC_MSG_BLOQUEIO_NOVO_PEDIDO
				   ELSE '' END
			  FROM TB_REGRA_COMERCIAL RC, TB_PEDIDO P
			 WHERE P.NM_PEDIDO = @v_nmUltimoPedido
			   AND P.CD_REGRA_COMERCIAL = RC.CD_REGRA_COMERCIAL
		END
	ELSE --SIGNIFICA QUE O ÚLTIMO PEDIDO ESTÁ EM CAPTAÇÃO OU FOI CANCELADO, NÃO HAVERÁ BLOQUEIO
		BEGIN
			SELECT @v_dcMsgBloqueio = ''
		END
	-- Return the result of the function
	RETURN @v_dcMsgBloqueio

END


GO
