SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_PedidoSimulaVolumeTotalCaixa](@NM_PEDIDO NUMERIC(18,0))
RETURNS NUMERIC(18,4)
AS

BEGIN

  -- **************************************************	
  -- FUNCAO QUE FAZ A SIMULAÇÃO DE QUANTAS CAIXAS UM PEDIDO DEVERÁ TER
  -- ESSA FUNÇÃO SERÁ USADA NA CAPTAÇÃO DE PEDIDOS POIS PARA CALCULAR O FRETE
  -- PRECISA TAMBEM CONSIDERAR O VOLUME DAS CAIXAS E NÃO O VOLUME DOS ITENS
  -- E COMO A CAIXA É GERADA SOMENTE NO LOTE ENTÃO VAMOS UMA SIMULAÇÃO
  -- PARA ATENDER TODOS OS CLIENTES VAMOS VERIFICAR O PARAMETRO
  -- SE FOR 1 VAMOS CALCULAR O VOLUME BASEADO NAS CAIXAS (SIMULAÇÃO)
  -- SE FOR 2 VAMOS CALCULAR BASEADO NOS ITENS DO PEDIDO (COMO É FEITO ATUALMENTE)
  -- **************************************************
  
  DECLARE @CD_CENTRO_DISTRIBUICAO	NUMERIC(18,0)
  DECLARE @CD_LINHA_SEPARACAO		INT
  DECLARE @NM_VOLUME_TOTAL			NUMERIC(18,4)
  DECLARE @NM_VOLUME_RESTANTE		NUMERIC(18,4)
  DECLARE @QT_PEDIDOS				NUMERIC(18,0)
  DECLARE @QT_REGISTROS				NUMERIC(18,0)
  --DECLARE @NM_PESO_CAIXA			NUMERIC(18,4)
  --DECLARE @NM_PESO_CAIXA_TOTAL		NUMERIC(18,4)
  DECLARE @NM_VOLUME_CAIXA			NUMERIC(18,4)

  DECLARE @NM_VOLUME_TOTAL_PEDIDO	NUMERIC(18,4)
  DECLARE @VL_PARAMETRO				INT

  DECLARE @RESULTADO				NUMERIC(18,4)


  SELECT @NM_VOLUME_TOTAL_PEDIDO = 0

	-- *******************************
	-- VERIFICA O PARAMETRO PARA SIMULAÇÃO
	-- *******************************
	SELECT @VL_PARAMETRO = VL_PARAMETRO 
	FROM TB_VALOR_PARAMETRO
	WHERE CD_GRUPO_PARAMETRO = 4
	AND CD_PARAMETRO = 20


	-- SIMULA PELO VOLUME DAS CAIXAS
	IF @VL_PARAMETRO = 1
		BEGIN
			-- *******************************
			-- VERIFICA SE O PEDIDO EXISTE
			-- *******************************
			SELECT @QT_PEDIDOS = COUNT(*)
			FROM TB_PEDIDO PE
			WHERE PE.NM_PEDIDO = @NM_PEDIDO

			IF @QT_PEDIDOS = 0
				BEGIN
					SELECT  @RESULTADO  = 0
					RETURN @RESULTADO
				END


			-- *******************************
			-- BUSCA CD DO PEDIDO
			-- *******************************
  			SELECT	@CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO
			FROM TB_PEDIDO PE
			WHERE PE.NM_PEDIDO = @NM_PEDIDO
	

			-- *******************************
			-- BUSCA LINHA DE SEPARACAO
			-- *******************************
			SELECT @CD_LINHA_SEPARACAO = MIN(CD_LINHA_SEPARACAO)
			FROM TB_LINHA_SEPARACAO
			WHERE CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
			AND ID_SITUACAO = 1


			-- *******************************
			-- BUSCA VOLUME DO PEDIDO
			-- *******************************
 			SELECT	@NM_VOLUME_TOTAL = SUM(NM_VOLUME  * QT_RESERVADA)
			FROM	VW_DETALHES_PEDIDO
			WHERE	NM_PEDIDO = @NM_PEDIDO
			AND QT_RESERVADA > 0
	
			-- **************************************************************
			-- SE O PEDIDO TEM VOLUME = 0 ENTÃO NÃO PROCESSA
			-- **************************************************************
			IF @NM_VOLUME_TOTAL <= 0 
				BEGIN
					SELECT  @RESULTADO  = 0
					RETURN @RESULTADO
				END 

			-- **************************************************************
			-- VERIFICA SE É POSSIVEL UTILIZAR APENAS 1 CAIXA
			-- **************************************************************
			SELECT	@QT_REGISTROS = COUNT(*)
			FROM	TB_LINHA_SEPARACAO_CAIXA E,
					TB_LINHA_SEPARACAO LS,
					TB_MATERIAL M
			WHERE	LS.CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
					AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
					and E.CD_LINHA_SEPARACAO = @CD_LINHA_SEPARACAO
					and E.CD_MATERIAL = M.CD_MATERIAL
					AND M.NM_VOLUME > @NM_VOLUME_TOTAL
	
	
			IF @QT_REGISTROS > 0 -- É POSSIVEL USAR APENAS 1 CAIXA
				BEGIN

					  SELECT	TOP(1)
							@NM_VOLUME_TOTAL_PEDIDO = M.NM_VOLUME
     				  FROM	TB_LINHA_SEPARACAO_CAIXA E,
									TB_LINHA_SEPARACAO LS,
									TB_MATERIAL M
							WHERE	LS.CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
									AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
									and E.CD_LINHA_SEPARACAO = @CD_LINHA_SEPARACAO
									and E.CD_MATERIAL = M.CD_MATERIAL
									AND M.NM_VOLUME > @NM_VOLUME_TOTAL
									order by M.NM_VOLUME asc

							
					SELECT @RESULTADO = @NM_VOLUME_TOTAL_PEDIDO
					RETURN @RESULTADO
					
	
				END
			ELSE -- TEREMOS DE UTILIZAR VARIAS CAIXAS
	
				BEGIN

					-- ********************************************************************
					-- VAMOS FAZER UM LOOP ATE QUE O VOLUME SEJA MENOR OU IGUAL A 0
					-- ********************************************************************

					SELECT @NM_VOLUME_RESTANTE = @NM_VOLUME_TOTAL
			

					-- ********************************************************************
					-- PEGA A CAIXA COM MAIOR VOLUME
					-- ********************************************************************
					SELECT	TOP(1)
						@NM_VOLUME_CAIXA = M.NM_VOLUME
					FROM	TB_LINHA_SEPARACAO_CAIXA E,
						TB_LINHA_SEPARACAO LS,
						TB_MATERIAL M
					WHERE	LS.CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
					AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
					and E.CD_LINHA_SEPARACAO = @CD_LINHA_SEPARACAO
					and E.CD_MATERIAL = M.CD_MATERIAL
					-- AND M.NM_VOLUME > @NUM_VOLUMEN_PEDIDO
					order by M.NM_VOLUME DESC
			
			
					SELECT @NM_VOLUME_RESTANTE = @NM_VOLUME_RESTANTE - @NM_VOLUME_CAIXA
					SELECT @NM_VOLUME_TOTAL_PEDIDO = @NM_VOLUME_TOTAL_PEDIDO + @NM_VOLUME_CAIXA

					-- ENQUANTO O VOLUME RESTANTE FOR MAIOR QUE 0
					WHILE @NM_VOLUME_RESTANTE > 0
						BEGIN
				
							-- VERIFICA SE O VOLUME RESTANTE DO PEDIDO É MAIOR QUE O VOLUME DA MAIOR CAIXA
							SELECT	@QT_REGISTROS = COUNT(*)
							FROM	TB_LINHA_SEPARACAO_CAIXA E,
									TB_LINHA_SEPARACAO LS,
									TB_MATERIAL M
							WHERE	LS.CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
									AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
									and E.CD_LINHA_SEPARACAO = @CD_LINHA_SEPARACAO
									and E.CD_MATERIAL = M.CD_MATERIAL
									AND M.NM_VOLUME > @NM_VOLUME_RESTANTE

					
							IF @QT_REGISTROS > 0
								BEGIN

									-- PEGA A MAIOR CAIXA QUE ATENDA O VOLUME 
									SELECT	TOP(1)
										@NM_VOLUME_CAIXA = M.NM_VOLUME
									FROM	TB_LINHA_SEPARACAO_CAIXA E,
										TB_LINHA_SEPARACAO LS,
										TB_MATERIAL M
									WHERE	LS.CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
										AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
										and E.CD_LINHA_SEPARACAO = @CD_LINHA_SEPARACAO
										and E.CD_MATERIAL = M.CD_MATERIAL
										AND M.NM_VOLUME > @NM_VOLUME_RESTANTE
									order by M.NM_VOLUME ASC

							
								END
							ELSE
								BEGIN

									-- NÃO É MAIOR, ENTÃO PEGA O VOLUME DA MAIOR CAIXA
									SELECT	TOP(1)
										@NM_VOLUME_CAIXA = M.NM_VOLUME
									FROM	TB_LINHA_SEPARACAO_CAIXA E,
											TB_LINHA_SEPARACAO LS,
											TB_MATERIAL M
									WHERE	LS.CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
											AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
											and E.CD_LINHA_SEPARACAO = @CD_LINHA_SEPARACAO
											and E.CD_MATERIAL = M.CD_MATERIAL
											--AND M.NM_VOLUME > @NUM_VOLUMEN_PEDIDO
									order by M.NM_VOLUME DESC
							
								END
					
							
							SELECT @NM_VOLUME_RESTANTE = @NM_VOLUME_RESTANTE - @NM_VOLUME_CAIXA		
							SELECT @NM_VOLUME_TOTAL_PEDIDO = @NM_VOLUME_TOTAL_PEDIDO + @NM_VOLUME_CAIXA
				
						END -- FIM DO WHILE @NM_VOLUME_RESTANTE > 0

				
					SELECT @RESULTADO = @NM_VOLUME_TOTAL_PEDIDO
					RETURN @RESULTADO
				
				END -- FIM DO ELSE
   
			SELECT  @RESULTADO  = 0
			RETURN @RESULTADO

		END
	ELSE
		-- SIMULA PELO VOLUME DOS ITENS DO PEDIDO
		BEGIN

			SELECT @NM_VOLUME_TOTAL_PEDIDO = dbo.FN_BUSCA_VOLUME_TOTAL_PEDIDO(@NM_PEDIDO)
			SELECT @RESULTADO = @NM_VOLUME_TOTAL_PEDIDO
			RETURN @RESULTADO
		
		END


	SELECT  @RESULTADO  = 0
	RETURN @RESULTADO
	
END
GO
