SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_BUSCA_NOME_MATERIAL](@CD_MATERIAL NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_MATERIAL) 
  FROM TB_MATERIAL
  WHERE CD_MATERIAL = @CD_MATERIAL

  RETURN @RESULTADO
END

GO
