SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICACAO_REAVALIACAO_MAKIE] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0) )  

--  CALCULA : 
--  QUALIFICACAO NOVA 

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL_1007 NUMERIC(18,0),  -- Qualificação atual
          @VL_INDICADOR_PESSOAL_1001 NUMERIC(18,0),  -- Tempo de casa
          @VL_INDICADOR_PESSOAL_1003 NUMERIC(18,0),  -- Consultor ativo no ciclo
          @VL_INDICADOR_PESSOAL_1004 NUMERIC(18,0),  -- Total de ciclos ativos em 6 meses
          @VL_INDICADOR_PESSOAL_1005 NUMERIC(18,0),  -- Total de indicações diretas ativas em 6 meses
          @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,0),  -- Total de pontos pessoais em 6 meses
          @VL_INDICADOR_PESSOAL_1008 NUMERIC(18,0),  -- Total de ciclos na qualificação atual
          @VL_INDICADOR_PESSOAL_1009 NUMERIC(18,0),  -- Total de ciclos ativos em 9 meses
          @VL_INDICADOR_PESSOAL_1010 NUMERIC(18,0),  -- Total de indicações diretas ativas em 9 meses
          @VL_INDICADOR_PESSOAL_1011 NUMERIC(18,0),  -- Total de pontos pessoais em 6 meses
          @VL_INDICADOR_PESSOAL_1012 NUMERIC(18,0),  -- Total de ciclos ativos em 12 meses
          @VL_INDICADOR_PESSOAL_1013 NUMERIC(18,0),  -- Total de indicações diretas ativas em 12 meses
          @VL_INDICADOR_PESSOAL_1014 NUMERIC(18,0),  -- Total de pontos pessoais em 12 meses
          @V_COUNT_ELEGIVEL          INT,
          @CD_PAPEL_CARREIRA         NUMERIC(18,0),
          @VL_INDICADOR_PESSOAL_1018 NUMERIC(18,0),  -- Total de ciclos ativos em 3 meses
          @VL_INDICADOR_PESSOAL_1019 NUMERIC(18,0)  -- Média de pontos pessoais em 3 ciclos


  -- BUSCA O PAPEL ATUAL
  -- BUSCA O TEMPO DE CADA
  SELECT @VL_INDICADOR_PESSOAL_1007 = [1007],
         @VL_INDICADOR_PESSOAL_1001 = [1001]
  FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
         FROM TB_PESSOA_INDICADOR with(nolock)
         WHERE CD_PESSOA      = @CD_PESSOA
         AND CD_FUNCAO        = @CD_FUNCAO
         AND NM_CICLO         = @NM_CICLO
         AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
         AND CD_INDICADOR_PESSOAL IN (1007,1001)
         GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
         PIVOT (SUM(VALOR) FOR INDICADOR IN ([1007],[1001])) EM_COLUNA
  
  SELECT @RESULTADO = @VL_INDICADOR_PESSOAL_1007

  -- *************************
  -- ALTERAÇÃO FEITO POR ALDIR TIRELLI 01/09/2020
  -- EVOLUÇÃO MAKIE PARA A PESSOA QUE FOR PJ SEMPRE MANTEM O DESEMPENHO (RECONHECIMENTO) DE CONSULTOR OURO PJ
  -- *************************
  IF (@VL_INDICADOR_PESSOAL_1007 = 7)
  BEGIN
    RETURN @RESULTADO
  END

  
  IF (@VL_INDICADOR_PESSOAL_1007 = 1) -- BRONZE  
  BEGIN
    IF (@VL_INDICADOR_PESSOAL_1001 >= 6) -- TEMPO DE CASA
    BEGIN
      -- Total de ciclos ativos em 6 meses
      -- Total de indicações diretas ativas em 6 meses
      -- Total de pontos pessoais em 6 meses
      SELECT @VL_INDICADOR_PESSOAL_1004 = [1004],
             @VL_INDICADOR_PESSOAL_1005 = [1005],
             @VL_INDICADOR_PESSOAL_1006 = [1006] 
      FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                    ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
             FROM TB_PESSOA_INDICADOR with(nolock)
             WHERE CD_PESSOA = @CD_PESSOA
             AND CD_FUNCAO = @CD_FUNCAO
             AND NM_CICLO = @NM_CICLO
             AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
             AND CD_INDICADOR_PESSOAL IN (1004,1005,1006)
             GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
             PIVOT (SUM(VALOR) FOR INDICADOR IN ([1004],[1005],[1006])) EM_COLUNA

      IF (@VL_INDICADOR_PESSOAL_1004 >= 4 AND @VL_INDICADOR_PESSOAL_1006 >= 420)  -- AND @VL_INDICADOR_PESSOAL_1005 >= 2
      BEGIN
        SELECT @RESULTADO = 2

      END
    END
  END -- BRONZE

  IF (@VL_INDICADOR_PESSOAL_1007 = 2) -- PRATA
  BEGIN
    IF (@VL_INDICADOR_PESSOAL_1001 >= 9) -- TEMPO DE CASA
    BEGIN
      -- Total de ciclos na qualificação atual
      -- Total de ciclos ativos em 9 meses
      -- Total de indicações diretas ativas em 9 meses
      -- Total de pontos pessoais em 9 meses
      SELECT @VL_INDICADOR_PESSOAL_1008 = [1008],
             @VL_INDICADOR_PESSOAL_1009 = [1009],
             @VL_INDICADOR_PESSOAL_1010 = [1010],
             @VL_INDICADOR_PESSOAL_1011 = [1011] 
      FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                    ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
             FROM TB_PESSOA_INDICADOR with(nolock)
             WHERE CD_PESSOA = @CD_PESSOA
             AND CD_FUNCAO = @CD_FUNCAO
             AND NM_CICLO = @NM_CICLO
             AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
             AND CD_INDICADOR_PESSOAL IN (1008,1009,1010,1011)
             GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
             PIVOT (SUM(VALOR) FOR INDICADOR IN ([1008],[1009],[1010],[1011])) EM_COLUNA

      -- VERIFICA SE CONSEGUE EVOLUIR DE QUALIFICACAO
      IF ((@VL_INDICADOR_PESSOAL_1008 % 3) = 0  AND @VL_INDICADOR_PESSOAL_1009 >= 7 AND @VL_INDICADOR_PESSOAL_1011 >= 600) -- AND @VL_INDICADOR_PESSOAL_1010 >= 5
      BEGIN
        SELECT @RESULTADO = 3
      END

      -- VERIFICA SE CONSEGUE MANTER A QUALIFICACAO ATUAL
      IF ((@VL_INDICADOR_PESSOAL_1008 % 3) = 0 AND @RESULTADO = @VL_INDICADOR_PESSOAL_1007)
      BEGIN
        -- Total de ciclos ativos em 3 meses
        -- Média de pontos pessoais em 3 ciclos
        SELECT @VL_INDICADOR_PESSOAL_1018 = [1018],
               @VL_INDICADOR_PESSOAL_1019 = [1019] 
        FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                      ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
               FROM TB_PESSOA_INDICADOR with(nolock)
               WHERE CD_PESSOA = @CD_PESSOA
               AND CD_FUNCAO = @CD_FUNCAO
               AND NM_CICLO = @NM_CICLO
               AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
               AND CD_INDICADOR_PESSOAL IN (1018,1019)
               GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
               PIVOT (SUM(VALOR) FOR INDICADOR IN ([1018],[1019])) EM_COLUNA
      
        IF (@VL_INDICADOR_PESSOAL_1018 < 2 OR @VL_INDICADOR_PESSOAL_1019 < 50)
        BEGIN
          SELECT @RESULTADO = 1
        END
      END

    END
  END -- PRATA


  IF (@VL_INDICADOR_PESSOAL_1007 = 3) -- OURO
  BEGIN
    IF (@VL_INDICADOR_PESSOAL_1001 >= 12) -- TEMPO DE CASA
    BEGIN
      -- Total de ciclos na qualificação atual
      -- Total de ciclos ativos em 12 meses
      -- Total de indicações diretas ativas em 12 meses
      -- Total de pontos pessoais em 12 meses
      SELECT @VL_INDICADOR_PESSOAL_1008 = [1008],
             @VL_INDICADOR_PESSOAL_1012 = [1012],
             @VL_INDICADOR_PESSOAL_1013 = [1013],
             @VL_INDICADOR_PESSOAL_1014 = [1014] 
      FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                    ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
             FROM TB_PESSOA_INDICADOR with(nolock)
             WHERE CD_PESSOA = @CD_PESSOA
             AND CD_FUNCAO = @CD_FUNCAO
             AND NM_CICLO = @NM_CICLO
             AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
             AND CD_INDICADOR_PESSOAL IN (1008,1012,1013,1014)
             GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
             PIVOT (SUM(VALOR) FOR INDICADOR IN ([1008],[1012],[1013],[1014])) EM_COLUNA

      IF ((@VL_INDICADOR_PESSOAL_1008 % 3) = 0  AND @VL_INDICADOR_PESSOAL_1012 >= 9 AND @VL_INDICADOR_PESSOAL_1014 >= 800) -- AND @VL_INDICADOR_PESSOAL_1013 >= 9
      BEGIN
        SELECT @RESULTADO = 4
      END

      -- VERIFICA SE CONSEGUE MANTER A QUALIFICACAO ATUAL
      IF ((@VL_INDICADOR_PESSOAL_1008 % 3) = 0 AND @RESULTADO = @VL_INDICADOR_PESSOAL_1007)
      BEGIN
        -- Total de ciclos ativos em 3 meses
        -- Média de pontos pessoais em 3 ciclos
        SELECT @VL_INDICADOR_PESSOAL_1018 = [1018],
               @VL_INDICADOR_PESSOAL_1019 = [1019] 
        FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                      ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
               FROM TB_PESSOA_INDICADOR with(nolock)
               WHERE CD_PESSOA = @CD_PESSOA
               AND CD_FUNCAO = @CD_FUNCAO
               AND NM_CICLO = @NM_CICLO
               AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
               AND CD_INDICADOR_PESSOAL IN (1018,1019)
               GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
               PIVOT (SUM(VALOR) FOR INDICADOR IN ([1018],[1019])) EM_COLUNA
      
        IF (@VL_INDICADOR_PESSOAL_1018 < 2 OR @VL_INDICADOR_PESSOAL_1019 < 70)
        BEGIN
          SELECT @RESULTADO = 2
        END
      END


    END
  END -- OURO


  IF (@VL_INDICADOR_PESSOAL_1007 = 4) -- PLATINA
  BEGIN
    IF (@VL_INDICADOR_PESSOAL_1001 >= 15) -- TEMPO DE CASA
    BEGIN
      -- VERIFICA SE CONSEGUE MANTER A QUALIFICACAO ATUAL

      -- Total de ciclos na qualificação atual
      -- Total de ciclos ativos em 3 meses
      -- Média de pontos pessoais em 3 ciclos
      SELECT @VL_INDICADOR_PESSOAL_1008 = [1008],
             @VL_INDICADOR_PESSOAL_1018 = [1018],
             @VL_INDICADOR_PESSOAL_1019 = [1019] 
      FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                    ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
             FROM TB_PESSOA_INDICADOR with(nolock)
             WHERE CD_PESSOA = @CD_PESSOA
             AND CD_FUNCAO = @CD_FUNCAO
             AND NM_CICLO = @NM_CICLO
             AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
             AND CD_INDICADOR_PESSOAL IN (1008,1018,1019)
             GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
             PIVOT (SUM(VALOR) FOR INDICADOR IN ([1008],[1018],[1019])) EM_COLUNA
      
      IF ((@VL_INDICADOR_PESSOAL_1008 % 3) = 0 AND (@VL_INDICADOR_PESSOAL_1018 < 2 OR @VL_INDICADOR_PESSOAL_1019 < 100))
      BEGIN
        SELECT @RESULTADO = 3
      END

    END
  END -- PLATINA




 
  RETURN @RESULTADO
END
GO
