SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 22/07/2015
-- Description:	Função para retornar o valor total do pedido
-- =============================================
CREATE FUNCTION [dbo].[fn_pedidoBuscaValorPedido]
(
	@p_nmPedido	numeric(18,0),
	@p_idTipoValorPedido int
)

RETURNS numeric(18,2)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_valorTotalPedido numeric(18,2)

	SELECT @v_valorTotalPedido = 0

	-- *******************************************************************
	-- De acordo com o tipo do valor especificado vamos retornar o valor 
	-- 1 - Valor total do pedido
	-- 2 - Valor tabela do pedido
	-- 3 - Valor praticado do pedido
	-- 4 - Valor liquido do pedido
	-- 5 - Valor produtos do pedido
	-- 6 - Valor frete do pedido
	-- 7 - Valor pagar do pedido
	-- 8 - Valor produtos teórico do pedido
	-- 9 - Valor frete teórico do pedido
	-- 10 - Valor pagar teórico do pedido
	-- 11 - Valor Pedido Mínimo
	-- *******************************************************************
	
	SELECT @v_valorTotalPedido =
	case when @p_idTipoValorPedido = 1
		 then isnull(p.VL_LIQUIDO_TOTAL,0) + ISNULL(p.VL_FRETE_TOTAL,0)
		 when @p_idTipoValorPedido = 2
		 then isnull(p.VL_TABELA_TOTAL,0)
		 when @p_idTipoValorPedido = 3
		 then isnull(p.VL_PRATICADO_TOTAL,0)
		 when @p_idTipoValorPedido = 4
		 then isnull(p.VL_LIQUIDO_TOTAL,0)
		 when @p_idTipoValorPedido = 5
		 then isnull(p.VL_PRODUTOS_TOTAL,0)
		 when @p_idTipoValorPedido = 6
		 then isnull(p.VL_FRETE_TOTAL,0)
		 when @p_idTipoValorPedido = 7
		 then isnull(p.VL_PAGAR_TOTAL,0)
		 when @p_idTipoValorPedido = 8
		 then isnull(p.VL_PRODUTOS_TEORICO_TOTAL,0)
		 when @p_idTipoValorPedido = 9
		 then isnull(p.VL_FRETE_TEORICO_TOTAL,0)
		 when @p_idTipoValorPedido = 10
		 then isnull(p.VL_PAGAR_TEORICO_TOTAL,0)
		 when @p_idTipoValorPedido = 11
		 then isnull(p.VL_PEDIDO_MINIMO,0)
	end
	FROM TB_PEDIDO P with(nolock)
	WHERE P.NM_PEDIDO = @p_nmPedido
	
	if @p_idTipoValorPedido = 1
		begin
			select @v_valorTotalPedido = sum(isnull(vl_liquido_total,0))
			  from tb_pedido_item with(nolock)
			 where nm_pedido = @p_nmPedido
			   and isnull(NM_PEDIDO_ITEM_CONJUNTO,0) = 0
		end
		
	-- Return the result of the function
	RETURN ISNULL(@v_valorTotalPedido,0)

END
GO
