SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTUACAO_DIRETO_VIM] (@CD_PESSOA NUMERIC(18,0),
                         @NM_CICLO_INICIO_LIDER NUMERIC(18,0),
                         @CD_PAPEL_LIDER   NUMERIC(18,0),
                         @CD_FUNCAO        NUMERIC(18,0),
                         @NM_CICLO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @CD_PAPEL         NUMERIC(18,0) )

--  CALCULA : 
--  TOTAL DE PONTOS DOS DIRETOS

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO NUMERIC(18,0)

  SELECT @RESULTADO = 0

  SELECT @RESULTADO = 
        CASE WHEN  (@CD_PAPEL_LIDER = 4) THEN  isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
             ELSE isnull(SUM(B.VL_TABELA_TOTAL),0)
        END
  FROM TB_PEDIDO A, TB_PEDIDO_ITEM B, TB_PESSOA_RESUMO C
  WHERE A.NM_CICLO_PAGAMENTO    = @NM_CICLO
  AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
  AND A.NM_PEDIDO               = B.NM_PEDIDO
  AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
  AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
  AND B.NM_PEDIDO_ITEM_CONJUNTO = 0 
  AND A.CD_PESSOA               = C.CD_PESSOA 
  AND A.CD_FUNCAO               = C.CD_FUNCAO		
  AND A.CD_EST_COMERCIAL        = C.CD_EST_COMERCIAL
  AND C.CD_FUNCAO               = @CD_FUNCAO
  AND C.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
  AND C.CD_PESSOA_VINCULADA     = @CD_PESSOA
  AND C.NM_CICLO_INICIO        >= @NM_CICLO_INICIO_LIDER
  AND ( (@CD_PAPEL = 1 AND C.CD_PAPEL_CARREIRA = @CD_PAPEL) OR
	(@CD_PAPEL = 2 AND C.CD_PAPEL_CARREIRA = @CD_PAPEL) OR
        (@CD_PAPEL = 3 AND C.CD_PAPEL_CARREIRA = @CD_PAPEL) OR
        (@CD_PAPEL = 4 AND C.CD_PAPEL_CARREIRA = @CD_PAPEL) OR
        (@CD_PAPEL = 0) )
  AND  NOT EXISTS (SELECT 1 FROM TB_HIST_SITUACAO_CONSULTORA D
                   WHERE D.CD_PESSOA              = C.CD_PESSOA
                   AND   D.NM_CICLO BETWEEN C.NM_CICLO_INICIO AND @NM_CICLO
                   AND   D.CD_SITUACAO_COMERCIAL >= 3
                   AND   D.CD_EST_COMERCIAL       = C.CD_EST_COMERCIAL)

  RETURN @RESULTADO
END



GO
