SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_TRANSPORTADORA](@CD_TRANSPORTADORA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_TRANSPORTADORA) 
  FROM TB_TRANSPORTADORA
  WHERE CD_TRANSPORTADORA = @CD_TRANSPORTADORA

  RETURN @RESULTADO
END
GO
