SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [dbo].[FN_MN_CALCULA_DADOS_PEDIDOS_CRESER] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @ID_TIPO_CONSULTA INT, -- 1 PESSOA / 2 REDE
			 @ID_TIPO_DADO     INT, -- 1 PONTO  / 2 VALOR
                         @ID_TIPO_PEDIDO   INT) -- 1 CN     / 2 CF
--  CALCULA : 
--  TOTAL DE VALOR / PONTO DO PEDIDO


RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	       NUMERIC(18,2)
  IF (@ID_TIPO_CONSULTA = 1)  -- PESSOA
  BEGIN
    SELECT @RESULTADO = CASE WHEN (@ID_TIPO_DADO = 1)  THEN  isnull(SUM(B.VL_PONTOS),0)
                             ELSE isnull(SUM(B.VL_LIQUIDO_TOTAL),0) END
    FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
    WHERE ( (@ID_TIPO_PEDIDO = 1  AND A.CD_PESSOA       = @CD_PESSOA)  OR  -- CN
            (@ID_TIPO_PEDIDO = 2  AND A.CD_RV_INDICANTE = @CD_PESSOA)  )   -- CF
    AND   A.CD_FUNCAO                = @CD_FUNCAO
    AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
    AND   A.NM_CICLO_PAGAMENTO       = @NM_CICLO
    AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
    AND   A.NM_PEDIDO                = B.NM_PEDIDO
    AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
    AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
  END

  IF (@ID_TIPO_CONSULTA = 2)  -- REDE
  BEGIN
    SELECT @RESULTADO = CASE WHEN (@ID_TIPO_DADO = 1)  THEN  isnull(SUM(B.VL_PONTOS),0)
                             ELSE isnull(SUM(B.VL_LIQUIDO_TOTAL),0) END
    FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
        (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
         FROM TB_WRK_MN_TOPOLOGIA B1
         WHERE B1.CD_PESSOA               = @CD_PESSOA
         AND   B1.CD_FUNCAO               = @CD_FUNCAO
         AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
         AND   B1.NM_CICLO                = @NM_CICLO
         AND   B1.ID_TIPO_REDE_MN         = 1) C -- REDE UNILEVEL
    WHERE A.CD_PESSOA                = C.PESSOA
    AND   A.CD_FUNCAO                = @CD_FUNCAO
    AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
    AND   A.NM_CICLO_PAGAMENTO       = @NM_CICLO
    AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
    AND   A.NM_PEDIDO                = B.NM_PEDIDO
    AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
    AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
  END

  RETURN @RESULTADO
END






GO
