SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_CALCULA_TOTAL_MPPL]  (@CD_PESSOA_VINCULADA NUMERIC(18,0),
                                                @CD_FUNCAO INT,
                                                @NM_CICLO NUMERIC(18,0),
						@VL_META_MPPL_CICLO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @CURSOR_DESCENDENTES  CURSOR
  DECLARE @RESULTADO            NUMERIC(18,0)
  DECLARE @CD_PESSOA            NUMERIC(18,0)
  DECLARE @VL_INDICADOR_PESSOAL NUMERIC(18,2)


  /**************************************************************
  ** ABRE O CURSOR COM OS DESCENDENTES
  **************************************************************/
  SET @CURSOR_DESCENDENTES = CURSOR FAST_FORWARD
  FOR					
    SELECT     B.CD_PESSOA, 
               B.VL_INDICADOR_PESSOAL
    FROM TB_PESSOA_VINCULO_HISTORICO A, TB_PESSOA_INDICADOR B
    WHERE A.CD_PESSOA              = B.CD_PESSOA
    AND   A.CD_FUNCAO              = B.CD_FUNCAO
    AND   A.NM_CICLO               = B.NM_CICLO
    AND   A.CD_PESSOA_VINCULADA    = @CD_PESSOA_VINCULADA
    AND   A.CD_FUNCAO              = @CD_FUNCAO
    AND   A.NM_CICLO               = @NM_CICLO
    AND   B.CD_INDICADOR_PESSOAL   = 16


    OPEN @CURSOR_DESCENDENTES
    FETCH NEXT FROM @CURSOR_DESCENDENTES
    INTO @CD_PESSOA, @VL_INDICADOR_PESSOAL
	
    WHILE @@FETCH_STATUS = 0
    BEGIN  
      IF @VL_INDICADOR_PESSOAL >=  @VL_META_MPPL_CICLO
      BEGIN
        SELECT @RESULTADO = @RESULTADO + @VL_META_MPPL_CICLO
      END
      ELSE
      BEGIN
        SELECT @RESULTADO = @RESULTADO + @VL_INDICADOR_PESSOAL
      END 
 
      FETCH NEXT FROM @CURSOR_DESCENDENTES
      INTO @CD_PESSOA, @VL_INDICADOR_PESSOAL
    END
    CLOSE       @CURSOR_DESCENDENTES
    DEALLOCATE  @CURSOR_DESCENDENTES


  RETURN @RESULTADO
END

GO
