SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_BUSCA_TOTAL_INDICACOES_ATIVAS_MAKIE] (@CD_PESSOA NUMERIC(18,0),    
@CD_FUNCAO NUMERIC(18,0),    
@NM_CICLO NUMERIC(18,0),    
@CD_EST_COMERCIAL NUMERIC(18,0),    
@QDE_CICLOS  NUMERIC(18,0))  

--  CALCULA : 
--  TOTAL DE INDICAÇÕES ATIVAS EM UM PERIODO

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO     NUMERIC(18,0)

        SELECT @RESULTADO  =  ISNULL(COUNT (DISTINCT A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A,
             (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
              FROM TB_WRK_MN_TOPOLOGIA B
              WHERE B.CD_PESSOA               = @CD_PESSOA
              AND   B.CD_FUNCAO               = @CD_FUNCAO
              AND   B.ID_ORDEM                = 2 -- DESCENDENTE
              AND   B.NM_CICLO                = @NM_CICLO
              AND   B.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
              AND   B.NM_NIVEL                = 1) B  -- NIVEL 1
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.NM_CICLO             >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @QDE_CICLOS) 
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.CD_INDICADOR_PESSOAL  = 1003
	AND   A.VL_INDICADOR_PESSOAL  > 0




  RETURN @RESULTADO
END


GO
