SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[fn_CategoriaRetornaNomeCategoria](@p_codigoCategoria INT)
														 
														 
RETURNS VARCHAR(500)
AS
BEGIN
	DECLARE @v_descricaoResultado		VARCHAR(300)
		 
		  
	SELECT @v_descricaoResultado = DC_CATEGORIA
	FROM TB_CATEGORIA
	WHERE CD_CATEGORIA = @p_codigoCategoria
		
	RETURN @v_descricaoResultado

END
GO
