SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_ARMAZEM](@CD_ARMAZEM NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_ARMAZEM) 
  FROM TB_ARMAZEM
  WHERE CD_ARMAZEM = @CD_ARMAZEM

  RETURN @RESULTADO
END
GO
