SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_IDENTIFICA_CICLO_FINAL_PERIODO_MES_MODADOCHEF] (@NM_CICLO  NUMERIC(18,0),@ID_PERIODO_MES INT )  

--  CALCULA : 
--  IDENTIFICA SE É O CICLO FINAL DO PERÍODO OU MÊS

RETURNS INT
AS
BEGIN
  DECLARE @RESULTADO     INT

    IF (@ID_PERIODO_MES = 1)  -- PERIODO
  BEGIN
    SELECT @RESULTADO  =  CASE WHEN ((CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %4) = 0) THEN 2 
                             ELSE  0     END

  END


  IF (@ID_PERIODO_MES = 2)  -- MES
  BEGIN
    SELECT @RESULTADO   =  CASE WHEN ((CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %2) = 0) THEN 2
                             ELSE  0     END
  END


  RETURN @RESULTADO
END
GO
