SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_BUSCA_CICLO_INICIAL_PERIODO_WEST1] (@NM_CICLO  NUMERIC(18,0))  

--  CALCULA : 
--  CICLO INICIAL DO PERÍODO

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO     NUMERIC(18,0)
  DECLARE @VL_SOBRA      NUMERIC(18,0)

  SELECT @VL_SOBRA =  CASE WHEN ((CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %6) = 0) THEN 6 
                           ELSE  (CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %6)     END

  SELECT @RESULTADO = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_SOBRA)

  RETURN @RESULTADO
END

GO
