SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICADOS_ASOS] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO     NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0),
                         @CD_PAPEL  NUMERIC(18,0))

--  CALCULA : 
--  TOTAL DE DIRETOS QUALIFICADOS

RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	NUMERIC(18,2)

  SELECT @RESULTADO = 0

  SELECT @RESULTADO =  isnull(COUNT(A.CD_PESSOA),0)
  FROM TB_PESSOA_RESUMO A,
        (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
         FROM TB_WRK_MN_TOPOLOGIA B
         WHERE B.CD_PESSOA               = @CD_PESSOA
         AND   B.CD_FUNCAO               = @CD_FUNCAO
         AND   B.ID_ORDEM                = 2 -- DESCENDENTE
         AND   B.NM_CICLO                = @NM_CICLO
         AND   B.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
         AND   B.NM_NIVEL                = 1) B  -- NIVEL 1
  WHERE A.CD_PESSOA             = B.PESSOA
  AND   A.CD_FUNCAO             = @CD_FUNCAO
  AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
  AND   A.CD_PAPEL_DESEMPENHO  >= @CD_PAPEL   -- MAIOR OU IGUAL AO PAPEL (PARAMETRO)
  AND   A.CD_SITUACAO_COMERCIAL < 4  -- NAO CESSADAS
  RETURN @RESULTADO
END





GO
