SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_SITUACAO_ATENDIMENTO_COMPLETO](@CD_SITUACAO_ATENDIMENTO NUMERIC(18,0))
RETURNS VARCHAR(1000)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80),
		  @CD_EST_GEO NUMERIC(18,0),
		  @CD_NIVEL_01 NUMERIC(18,0),
		  @CD_NIVEL_02 NUMERIC(18,0),
		  @CD_NIVEL_03 NUMERIC(18,0),
		  @CD_NIVEL_04 NUMERIC(18,0),
		  @CD_NIVEL_05 NUMERIC(18,0),
		  @CD_NIVEL_06 NUMERIC(18,0),
		  @CD_NIVEL_07 NUMERIC(18,0),
		  @CD_NIVEL_08 NUMERIC(18,0),
		  @CD_NIVEL_09 NUMERIC(18,0),
		  
		  @DC_NIVEL_01 VARCHAR(80),
		  @DC_NIVEL_02 VARCHAR(80),
		  @DC_NIVEL_03 VARCHAR(80),
		  @DC_NIVEL_04 VARCHAR(80),
		  @DC_NIVEL_05 VARCHAR(80),
		  @DC_NIVEL_06 VARCHAR(80),
		  @DC_NIVEL_07 VARCHAR(80),
		  @DC_NIVEL_08 VARCHAR(80),
		  @DC_NIVEL_09 VARCHAR(80),
		  @CD_NIVEL INT

		  
	SELECT	@CD_NIVEL_01 = CD_NIVEL_01,
			@CD_NIVEL_02 = CD_NIVEL_02,
			@CD_NIVEL_03 = CD_NIVEL_03,
			@CD_NIVEL_04 = CD_NIVEL_04,
			@CD_NIVEL_05 = CD_NIVEL_05,
			@CD_NIVEL_06 = CD_NIVEL_06,
			@CD_NIVEL_07 = CD_NIVEL_07,
			@CD_NIVEL_08 = CD_NIVEL_08,
			@CD_NIVEL_09 = CD_NIVEL_09,
			@DC_NIVEL_01 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_01, 1),
			@DC_NIVEL_02 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_02, 1),
			@DC_NIVEL_03 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_03, 1),
			@DC_NIVEL_04 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_04, 1),
			@DC_NIVEL_05 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_05, 1),
			@DC_NIVEL_06 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_06, 1),
			@DC_NIVEL_07 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_07, 1),
			@DC_NIVEL_08 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_08, 1),
			@DC_NIVEL_09 = DBO.FN_BUSCA_DESC_SITUACAO_ATENDIMENTO(CD_NIVEL_09, 1),
			@CD_NIVEL = CD_NIVEL_SITUACAO_ATENDIMENTO
	FROM TB_SITUACAO_ATENDIMENTO
	WHERE CD_SITUACAO_ATENDIMENTO = @CD_SITUACAO_ATENDIMENTO
		
    
	IF (@CD_NIVEL = 1)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01
		END
	
	IF (@CD_NIVEL = 2)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01 + 
						' >> ' + @DC_NIVEL_02
		END
	
	
	IF (@CD_NIVEL = 3)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01 + 
						' >> ' + @DC_NIVEL_02 +
						' >> ' + @DC_NIVEL_03
						
		END
	
	
	IF (@CD_NIVEL = 4)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01 + 
						' >> ' + @DC_NIVEL_02 +
						' >> ' + @DC_NIVEL_03 +
						' >> ' + @DC_NIVEL_04 
						
		END
	
	IF (@CD_NIVEL = 5)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01 + 
						' >> ' + @DC_NIVEL_02 +
						' >> ' + @DC_NIVEL_03 +
						' >> ' + @DC_NIVEL_04 +
						' >> ' + @DC_NIVEL_05 
		END
		
	
	IF (@CD_NIVEL = 6)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01 + 
						' >> ' + @DC_NIVEL_02 +
						' >> ' + @DC_NIVEL_03 +
						' >> ' + @DC_NIVEL_04 +
						' >> ' + @DC_NIVEL_05 +
						' >> ' + @DC_NIVEL_06 
		END
	
	
	IF (@CD_NIVEL = 7)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01 + 
						' >> ' + @DC_NIVEL_02 +
						' >> ' + @DC_NIVEL_03 +
						' >> ' + @DC_NIVEL_04 +
						' >> ' + @DC_NIVEL_05 +
						' >> ' + @DC_NIVEL_06 +
						' >> ' + @DC_NIVEL_07 
		END
	
	
	
	
	IF (@CD_NIVEL = 8)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01 + 
						' >> ' + @DC_NIVEL_02 +
						' >> ' + @DC_NIVEL_03 +
						' >> ' + @DC_NIVEL_04 +
						' >> ' + @DC_NIVEL_05 +
						' >> ' + @DC_NIVEL_06 +
						' >> ' + @DC_NIVEL_07 +
						' >> ' + @DC_NIVEL_08 
		END
	
	
	IF (@CD_NIVEL = 9)
		BEGIN
			SELECT @RESULTADO = @DC_NIVEL_01 + 
						' >> ' + @DC_NIVEL_02 +
						' >> ' + @DC_NIVEL_03 +
						' >> ' + @DC_NIVEL_04 +
						' >> ' + @DC_NIVEL_05 +
						' >> ' + @DC_NIVEL_06 +
						' >> ' + @DC_NIVEL_07 +
						' >> ' + @DC_NIVEL_08 +
						' >> ' + @DC_NIVEL_09 
		END
	
	
  RETURN @RESULTADO
END
GO
