SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_SENHA_PESSOA_FUNCAO](@CD_PESSOA NUMERIC(18,0), @CD_FUNCAO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE   @RESULTADO VARCHAR(80),
			@EXISTE_REGISTRO NUMERIC(18,0)
  
  select @EXISTE_REGISTRO = COUNT(*)
  from TB_PESSOA_RESUMO
  where CD_PESSOA = @CD_PESSOA
  and CD_FUNCAO = @CD_FUNCAO

  IF @EXISTE_REGISTRO > 0 	
	BEGIN
		select @RESULTADO = DC_SENHA
		from TB_PESSOA_RESUMO
		where CD_PESSOA = @CD_PESSOA
		and CD_FUNCAO = @CD_FUNCAO
	END
 ELSE
	BEGIN
		select @RESULTADO = ''
	END
	
	
  RETURN @RESULTADO
END
GO
