SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_FUNCAO](@CD_FUNCAO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_FUNCAO) 
  FROM TB_FUNCAO
  WHERE CD_FUNCAO = @CD_FUNCAO

  RETURN @RESULTADO
END
GO
