SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_IDENTIFICA_CURSO_VALIDO_WEST1] (
                         @CD_PESSOA         NUMERIC(18,0),
                         @CD_FUNCAO         NUMERIC(18,0),
                         @NM_CICLO          NUMERIC(18,0),
			 @CD_EST_COMERCIAL  NUMERIC(18,0),
                         @CD_PAPEL_CARREIRA NUMERIC(18,0),
			 @NM_CICLO_INICIO   NUMERIC(18,0))  



--  CALCULA : 
--  IDENTICA SE A PESSOA ESTÁ COM O CURSO INICIAL OU RECICLAGEM VALIDO, OU SEJA, DENTRO DO PERIODO DE 1 ANO

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO    NUMERIC(18,0)

  DECLARE @NM_CICLO_MAX NUMERIC(18,0),
          @QDE_CICLOS   NUMERIC(18,0)


  SELECT @RESULTADO  = 1,
         @QDE_CICLOS = 0

  -- VERIFICAR SE QUAL O CURSO DE RECICLAGEM DEVE SER VISTO
  IF (@CD_PAPEL_CARREIRA IN (1,2,3) ) -- CN
  BEGIN
    SELECT @NM_CICLO_MAX = ISNULL(MAX(CC.NM_CICLO),@NM_CICLO_INICIO)
    FROM TB_CALENDARIO_COMERCIAL CC with (NOLOCK),
         (SELECT MAX(A.DT_CADASTRO) AS DATA_CADASTRO
          FROM TB_EVENTO_PARTICIPANTE A with (NOLOCK),
	       (SELECT CD_EVENTO AS EVENTO
	        FROM TB_EVENTO with (NOLOCK)
                WHERE CD_TREINAMENTO IN (1,2)) B -- CURSO INICIAL E RECICLAGEM DE CONSULTORIA) -- FALTA DEFINIR OS CÓDIGOS		
          WHERE A.CD_PESSOA      = @CD_PESSOA
          AND   A.CD_EVENTO      = B.EVENTO) EV
    WHERE CC.CD_EST_COMERCIAL = @CD_EST_COMERCIAL
    AND   CONVERT(DATE,EV.DATA_CADASTRO,103) BETWEEN CONVERT(DATE,CC.DT_INICIAL ,103) AND CONVERT(DATE,CC.DT_FINAL ,103)
  END

  IF (@CD_PAPEL_CARREIRA IN (4,5,6) ) -- LÍDER
  BEGIN
    SELECT @NM_CICLO_MAX = ISNULL(MAX(CC.NM_CICLO),@NM_CICLO_INICIO)
    FROM TB_CALENDARIO_COMERCIAL CC with (NOLOCK),
         (SELECT MAX(A.DT_CADASTRO) AS DATA_CADASTRO
          FROM TB_EVENTO_PARTICIPANTE A with (NOLOCK),
	       (SELECT CD_EVENTO AS EVENTO
	        FROM TB_EVENTO with (NOLOCK)
                WHERE CD_TREINAMENTO IN (3,4)) B -- CURSO INICIAL E RECICLAGEM DE CONSULTORIA) -- FALTA DEFINIR OS CÓDIGOS		
          WHERE A.CD_PESSOA      = @CD_PESSOA
          AND   A.CD_EVENTO      = B.EVENTO) EV
    WHERE CC.CD_EST_COMERCIAL = @CD_EST_COMERCIAL
    AND   CONVERT(DATE,EV.DATA_CADASTRO,103) BETWEEN CONVERT(DATE,CC.DT_INICIAL ,103) AND CONVERT(DATE,CC.DT_FINAL ,103)
  END

  -- VERIFICAR A QDE DE CICLOS DO ULTIMO CURSO INICIAL OU RECICLAGEM
  SELECT @QDE_CICLOS = [dbo].[FN_BUSCA_DIFERENCA_CICLOS_MMN]  (@NM_CICLO, @NM_CICLO_MAX)

  IF (@QDE_CICLOS > 12)
  BEGIN
    SELECT @RESULTADO = 0
  END 
  RETURN @RESULTADO
END
GO
