SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_LINHA_SEPARACAO](@CD_LINHA_SEPARACAO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_LINHA_SEPARACAO) 
  FROM TB_LINHA_SEPARACAO
  WHERE CD_LINHA_SEPARACAO = @CD_LINHA_SEPARACAO

  RETURN @RESULTADO
END
GO
