SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_BUSCA_ULTIMO_CICLO_DESATIVACAO]  (@CD_PESSOA NUMERIC(18,0))
												  	
RETURNS NUMERIC(18,0)
AS
BEGIN

  DECLARE @RESULTADO          NUMERIC(18,0) = NULL
  DECLARE @CICLO              INT = 0

  SELECT @CICLO = ISNULL(MAX(A.NM_CICLO),0) 
  FROM TB_HIST_SITUACAO_CONSULTORA A WITH (NOLOCK)
  WHERE A.CD_PESSOA = @CD_PESSOA
  AND   A.CD_SITUACAO_COMERCIAL = 4 -- DESATIVADA

  
  IF (@CICLO = 0)
  BEGIN
    SELECT @RESULTADO = NULL
  END 
  ELSE
  BEGIN
    WHILE (@CICLO <> 0  )
    BEGIN
      SELECT @RESULTADO = @CICLO

      -- BUSCA O HISTORICO DA SITUACAO COMERCIAL
      SELECT @CICLO = ISNULL(MAX(A.NM_CICLO),0) 
      FROM TB_HIST_SITUACAO_CONSULTORA A WITH (NOLOCK)
      WHERE A.CD_PESSOA             = @CD_PESSOA
      AND   A.CD_SITUACAO_COMERCIAL = 4 -- DESATIVADA
      AND   A.NM_CICLO              = [dbo].[FN_BUSCA_CICLO_ANTERIOR]  (@CICLO)
    END

  END
   RETURN @RESULTADO 
END




GO
