SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*
VERIFICA SE DETERMINADA PESSOA INDICADA PERTENCE A INDICADA NUM DETERMINADO CICLO
TIPO DE REDE = 1 LINEAR / 2 BINARIO
*/

CREATE FUNCTION [dbo].[FN_VERIFICA_INDICADA_PERTENCE_INDICANTE_MN](@CD_PESSOA_INDICADA NUMERIC(18,0),
																   @NM_CICLO NUMERIC(18,0),
																   @CD_PESSOA_INDICANTE NUMERIC(18,0),
																   @NM_TIPO_REDE INT)
RETURNS NUMERIC(18,0)
AS
BEGIN
	DECLARE @RESULTADO						INT
	DECLARE @RESULTADO_TOTAL				INT
	
	
	IF @NM_TIPO_REDE = 1
		BEGIN
		
			--SELECT @RESULTADO = COUNT(*) 
			--FROM TB_PESSOA_VINCULO_HISTORICO
			--WHERE CD_PESSOA = @CD_PESSOA_INDICADA
			--AND CD_PESSOA_VINCULADA = @CD_PESSOA_INDICANTE
			--AND NM_CICLO IN (
			--SELECT MAX(NM_CICLO)
			--FROM TB_PESSOA_VINCULO_HISTORICO
			--WHERE CD_PESSOA = @CD_PESSOA_INDICADA
			--AND NM_CICLO <= @NM_CICLO)
			
			SELECT @RESULTADO = COUNT(*) 
			FROM TB_WRK_MN_TOPOLOGIA
			WHERE CD_PESSOA = @CD_PESSOA_INDICANTE
			AND CD_PESSOA_VINCULADA = @CD_PESSOA_INDICADA
			AND NM_CICLO = @NM_CICLO
			AND ID_TIPO_REDE_MN = @NM_TIPO_REDE
			AND ID_ORDEM = 2
		
		END 
    
    
	
	IF @RESULTADO > 0
		BEGIN
			SELECT @RESULTADO_TOTAL = 1
		END 
	ELSE
		BEGIN
			SELECT @RESULTADO_TOTAL = 0
		END
		
		
   RETURN @RESULTADO_TOTAL
   
END




GO
