SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_TORNOU_LIDER_MAHOGANY] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO NUMERIC(18,0),
                         @NM_CICLO  NUMERIC(18,0),
						 @CD_PAPEL   NUMERIC(18,0))


--  CALCULA : 
--  VERIFICA SE A PESSOA TORNOU-SE LIDER CRISTAL OU DIAMANTE PELA 1a VEZ 


RETURNS NUMERIC(18,0)
AS
BEGIN

  DECLARE @RESULTADO	NUMERIC(18,0)

  SELECT @RESULTADO = 0

  -- BUSCA SE A PESSOA VIROU LIDER CRISTAL
  IF (@CD_PAPEL = 8)
  BEGIN
    SELECT @RESULTADO  = isnull(MAX(DISTINCT A.CD_PAPEL_CARREIRA),0)  
    FROM  TB_PESSOA_PAPEL_HISTORICO A with (nolock)
    WHERE A.CD_PESSOA            = @CD_PESSOA
    AND   A.CD_FUNCAO            = @CD_FUNCAO
    AND   A.NM_CICLO             = @NM_CICLO
    AND   A.CD_PAPEL_CARREIRA    = @CD_PAPEL
    AND   A.CD_PESSOA NOT IN (SELECT B.CD_PESSOA
                              FROM  TB_PESSOA_PAPEL_HISTORICO B with (nolock)
                              WHERE B.CD_PESSOA           = @CD_PESSOA
                              AND   B.CD_FUNCAO           = @CD_FUNCAO
                              AND   B.NM_CICLO            < @NM_CICLO
                              AND   B.CD_PAPEL_CARREIRA   = @CD_PAPEL)
    RETURN @RESULTADO
    
  END

  -- BUSCA SE A PESSOA VIROU LIDER DIAMANTE
  IF (@CD_PAPEL = 9)
  BEGIN
    SELECT @RESULTADO  = isnull(MAX(DISTINCT A.CD_PAPEL_CARREIRA),0)  
    FROM  TB_PESSOA_PAPEL_HISTORICO A with (nolock)
    WHERE A.CD_PESSOA            = @CD_PESSOA
    AND   A.CD_FUNCAO            = @CD_FUNCAO
    AND   A.NM_CICLO             = @NM_CICLO
    AND   A.CD_PAPEL_CARREIRA    = @CD_PAPEL
    AND   A.CD_PESSOA NOT IN (SELECT B.CD_PESSOA
                              FROM  TB_PESSOA_PAPEL_HISTORICO B with (nolock)
                              WHERE B.CD_PESSOA           = @CD_PESSOA
                              AND   B.CD_FUNCAO           = @CD_FUNCAO
                              AND   B.NM_CICLO            < @NM_CICLO
                              AND   B.CD_PAPEL_CARREIRA   = @CD_PAPEL)
   RETURN @RESULTADO
    
  END


  RETURN @RESULTADO
END
GO
