SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTUACAO_VPVEVO_TE] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO        NUMERIC(18,0),
                         @NM_CICLO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0), 
                         @QT_CICLOS        NUMERIC(18,0)          )

--  CALCULA : 
--  TOTAL DE PONTUACAO CONSOLIDADA VP + VE + VO


RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	     NUMERIC(18,2)

  SELECT @RESULTADO = 0
  -- BUSCA OS PONTOS DA VP + VE + VO
  SELECT @RESULTADO = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
  FROM TB_PESSOA_INDICADOR A,
      (SELECT A.NM_CICLO NM_CICLO
       FROM TB_CICLO A,
           (SELECT isnull(sum(CD_CICLO_VENDA-@QT_CICLOS),1) CD_CICLO_VENDA  
            FROM TB_CICLO
            WHERE NM_CICLO = @NM_CICLO) B
       WHERE A.CD_CICLO_VENDA = B.CD_CICLO_VENDA) C 
  WHERE A.CD_PESSOA             = @CD_PESSOA
  AND   A.CD_FUNCAO             = @CD_FUNCAO
  AND   A.CD_INDICADOR_PESSOAL IN (42,43,44)
  AND   A.NM_CICLO              BETWEEN C.NM_CICLO AND @NM_CICLO
  AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 
 
  RETURN @RESULTADO
END



GO
