SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICACAO_WEST1] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO         NUMERIC(18,0),
                         @NM_CICLO          NUMERIC(18,0),
			 @CD_PAPEL_CARREIRA NUMERIC(18,0),
                         @CD_EST_COMERCIAL  NUMERIC(18,0) )  

--  CALCULA : 
--  QUALIFICAÇÃO NOVA

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)

  DECLARE @VL_INDICADOR_PESSOAL_1004 NUMERIC(18,0),  -- VALOR DE PONTOS PESSOAS NO PERÍODO
          @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,0),  -- PESSOA ATIVA QUALIFICAÇÃO NO PERÍODO 
          @VL_INDICADOR_PESSOAL_1011 NUMERIC(18,0)   -- VALOR DE PONTOS GRUPO NO PERÍODO


  SELECT @RESULTADO = @CD_PAPEL_CARREIRA

  -- VALOR DE PONTOS PESSOAS NO PERÍODO
  -- PESSOA ATIVA QUALIFICAÇÃO NO PERÍODO 
  -- VALOR DE PONTOS GRUPO NO PERÍODO
  SELECT @VL_INDICADOR_PESSOAL_1004 = [1004],
         @VL_INDICADOR_PESSOAL_1006 = [1006],
         @VL_INDICADOR_PESSOAL_1011 = [1011]
  FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
         FROM TB_PESSOA_INDICADOR with(nolock)
         WHERE CD_PESSOA      = @CD_PESSOA
         AND CD_FUNCAO        = @CD_FUNCAO
         AND NM_CICLO         = @NM_CICLO
         AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
         AND CD_INDICADOR_PESSOAL IN (1004,1006,1011)
         GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
         PIVOT (SUM(VALOR) FOR INDICADOR IN ([1004],[1006],[1011])) EM_COLUNA   

  IF (@CD_PAPEL_CARREIRA = 1)   -- CONSULTOR STARTER
  BEGIN
    -- EVOLUIR
    IF (@VL_INDICADOR_PESSOAL_1004 >= 36001 AND  @VL_INDICADOR_PESSOAL_1006 = 1)
    BEGIN
      SELECT @RESULTADO = 3  -- CONSULTOR TOP
      RETURN @RESULTADO
    END
    -- EVOLUIR
    IF (@VL_INDICADOR_PESSOAL_1004 >= 18001 AND  @VL_INDICADOR_PESSOAL_1004 <= 36000 AND  @VL_INDICADOR_PESSOAL_1006 = 1)
    BEGIN
      SELECT @RESULTADO = 2  -- CONSULTOR RISING
      RETURN @RESULTADO
    END
  END

  IF (@CD_PAPEL_CARREIRA = 2)   -- CONSULTOR RISING
  BEGIN
    -- EVOLUIR
    IF (@VL_INDICADOR_PESSOAL_1004 >= 36001 AND  @VL_INDICADOR_PESSOAL_1006 = 1)
    BEGIN
      SELECT @RESULTADO = 3  -- CONSULTOR TOP
      RETURN @RESULTADO
    END
    -- REGREDIR 
    IF (@VL_INDICADOR_PESSOAL_1004 < 18001
        AND CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) IN (6,12) )
    BEGIN
      SELECT @RESULTADO = 1  -- CONSULTOR STARTER
      RETURN @RESULTADO
    END  
  END

  IF (@CD_PAPEL_CARREIRA = 3)   -- CONSULTOR TOP
  BEGIN
    -- REGREDIR 
    IF (@VL_INDICADOR_PESSOAL_1004 < 36001 
        AND CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) IN (6,12) )
    BEGIN
      SELECT @RESULTADO = 2  -- CONSULTOR RISING
      RETURN @RESULTADO
    END  
  END

  IF (@CD_PAPEL_CARREIRA = 4)   -- LÍDER EXECUTIVE
  BEGIN
    -- EVOLUIR
    IF (@VL_INDICADOR_PESSOAL_1004 > 4000 AND @VL_INDICADOR_PESSOAL_1011 > 356000 AND @VL_INDICADOR_PESSOAL_1006 = 1)
    BEGIN
      SELECT @RESULTADO = 6  -- LÍDER PRIME
      RETURN @RESULTADO
    END

    -- EVOLUIR
    IF (@VL_INDICADOR_PESSOAL_1004 > 5000 AND @VL_INDICADOR_PESSOAL_1011 > 255000
        AND @VL_INDICADOR_PESSOAL_1011 <= 356000 AND @VL_INDICADOR_PESSOAL_1006 = 1)
    BEGIN
      SELECT @RESULTADO = 5  -- LÍDER SENIOR
      RETURN @RESULTADO
    END

    -- REGREDIR 
    IF ((@VL_INDICADOR_PESSOAL_1004 <= 6000 OR @VL_INDICADOR_PESSOAL_1011 <= 154000)
        AND CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) IN (6,12) )
    BEGIN
      SELECT @RESULTADO = 3  -- CONSULTOR TOP
      RETURN @RESULTADO
    END  
  END

  IF (@CD_PAPEL_CARREIRA = 5)   -- LÍDER SENIOR
  BEGIN
    -- EVOLUIR
    IF (@VL_INDICADOR_PESSOAL_1004 > 4000 AND @VL_INDICADOR_PESSOAL_1011 > 356000 AND @VL_INDICADOR_PESSOAL_1006 = 1)
    BEGIN
      SELECT @RESULTADO = 6  -- LÍDER PRIME
      RETURN @RESULTADO
    END
    -- REGREDIR 
    IF ((@VL_INDICADOR_PESSOAL_1004 <= 5000 OR @VL_INDICADOR_PESSOAL_1011 <= 255000)
        AND CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) IN (6,12) )
    BEGIN
      SELECT @RESULTADO = 4  -- LÍDER EXECUTIVE
      RETURN @RESULTADO
    END  
  END

  IF (@CD_PAPEL_CARREIRA = 6)   -- LÍDER PRIME
  BEGIN
    -- REGREDIR 
    IF ((@VL_INDICADOR_PESSOAL_1004 <= 4000 OR @VL_INDICADOR_PESSOAL_1011 <= 356000)
        AND CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) IN (6,12) )
    BEGIN
      SELECT @RESULTADO = 5  -- LÍDER SENIOR
      RETURN @RESULTADO
    END  
  END


  RETURN @RESULTADO
END
GO
