SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_DESC_SERVICO_EXTERNO](@CD_SERVICO_EXTERNO NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = DC_SERVICO_EXTERNO 
  FROM TB_SERVICO_EXTERNO
  WHERE CD_SERVICO_EXTERNO = @CD_SERVICO_EXTERNO

  RETURN @RESULTADO
END
GO
