SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_produtoBuscaProdutoPontosCicloFuncao]
(
	@p_codigoProduto		numeric(18,0),
	@p_nmCiclo				numeric(18,0),
	@p_codigoFuncao			int,
	@p_codigoRegraComercial numeric(18,0)
)
RETURNS numeric(18,2)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @v_valorPontosProduto	numeric(18,2),
			@v_valorFator			numeric(18,2),
			@v_valorLiquidoTotal	numeric(18,2),
			@v_id_tipo_produto int

	IF @p_codigoFuncao > 0 --SE FOR INFORMADA UMA FUNÇÃO VÁLIDA TENTA BUSCA O PREÇO PARA ELA
		BEGIN
			-- ***********************************************************
			-- ALTERADO POR ANDERSON - 05/03/2020
			-- QUANDO UM PRODUTO ESTA CONFIGURADO POR REGRA COMERCIAL E NÃO POR FUNÇÃO A CONSULTA ABAIXO NUNCA VAI FUNCIONAR
			-- POIS NAO EXISTE NADA NA TABELA TB_PRODUTO_VENDA_PRECO_FUNCAO
			-- E AO FAZER O RELACIONAMENTO NÃO VAI RETORNAR NADA
			-- ***********************************************************
			
			--SELECT	@v_valorPontosProduto = isnull(MIN(VL_PONTOS),0),
			--		@v_valorLiquidoTotal = ISNULL(min(VL_PRECO),0)
			--FROM TB_PRODUTO_VENDA_PRECO A, TB_PRODUTO_VENDA_PRECO_FUNCAO B
			--WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
			--AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
			--AND A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO
			--AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @p_codigoFuncao )
			--	OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @p_codigoRegraComercial ))
			--AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))

			--SELECT	@v_valorPontosProduto = isnull(MIN(VL_PONTOS),0),
			--		@v_valorLiquidoTotal = ISNULL(min(VL_PRECO),0)
			--FROM TB_PRODUTO_VENDA_PRECO A with(nolock)
			--WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
			--AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
			--AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B with(nolock) WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @p_codigoFuncao )
			--	OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C with(nolock) WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @p_codigoRegraComercial ))
			--AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))

			SELECT	@v_valorPontosProduto = isnull(MIN(VL_PONTOS),0),
					@v_valorLiquidoTotal = ISNULL(min(VL_PRECO),0)
			FROM TB_PRODUTO_VENDA_PRECO Z WITH(NOLOCK)
			WHERE Z.CD_PRODUTO_VENDA_PRECO IN (

				SELECT MAX(A.CD_PRODUTO_VENDA_PRECO)
				FROM TB_PRODUTO_VENDA_PRECO A with(nolock)
				WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
				AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
				AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B with(nolock) WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @p_codigoFuncao )
				OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C with(nolock) WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @p_codigoRegraComercial ))
				AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))
		
				)
				
		END
		
	IF @p_codigoFuncao = 0 --SE NÃO FOR INFORMADA UMA FUNÇÃO VAMOS MOSTRAR O PREÇO DE CONSUMIDOR FINAL E CICLO ATUAL GENERICO

		BEGIN
				-- PEGA O PRIMEIRO CICLO BASEADO NA DATA DE HOJE INDEPENDNETE DA EST. COMERCIAL			
				SELECT @p_nmCiclo = MIN(B.NM_CICLO) 
				FROM TB_CALENDARIO_COMERCIAL B with(nolock)
				WHERE convert(date,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL

				--SELECT	@v_valorPontosProduto = isnull(MIN(VL_PONTOS),0),
				--		@v_valorLiquidoTotal = ISNULL(min(VL_PRECO),0)
				--FROM TB_PRODUTO_VENDA_PRECO A with(nolock), TB_PRODUTO_VENDA_PRECO_FUNCAO B with(nolock)
				--WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
				--AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
				--AND A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO
				--AND B.CD_FUNCAO = 1 
				--AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))

				SELECT	@v_valorPontosProduto = isnull(MIN(VL_PONTOS),0),
						@v_valorLiquidoTotal = ISNULL(min(VL_PRECO),0)
				FROM TB_PRODUTO_VENDA_PRECO Z WITH(NOLOCK)
				WHERE Z.CD_PRODUTO_VENDA_PRECO IN (

				SELECT MAX(A.CD_PRODUTO_VENDA_PRECO)
				FROM TB_PRODUTO_VENDA_PRECO A with(nolock), TB_PRODUTO_VENDA_PRECO_FUNCAO B with(nolock)
				WHERE A.CD_PRODUTO_VENDA = @p_codigoProduto
				AND @p_nmCiclo BETWEEN ISNULL(A.NM_CICLO_INICIAL, @p_nmCiclo) AND ISNULL(A.NM_CICLO_FINAL, @p_nmCiclo)
				AND A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO
				AND B.CD_FUNCAO = 1 
				AND CONVERT(DATE,GETDATE()) BETWEEN ISNULL(A.DT_DATA_INICIAL,CONVERT(DATE,GETDATE()-1)) AND ISNULL(A.DT_DATA_FINAL,CONVERT(DATE,GETDATE()+1))

				)
				--SELECT @v_valorPrecoProduto = 0
		end
	
	-- *********************************************
	-- Alteração por Diego Zilioti em 01/02/2020
	-- Na Akmos foi aplicado o conceito do fator para obter os pontos de um produto, temos que aplicar este conceito aqui
	-- **********************************************
	IF (@v_valorPontosProduto = 0)
		BEGIN
			select @v_id_tipo_produto = ISNULL(MAX(id_tipo_produto),1)
			from TB_PRODUTO_VENDA with(nolock)
			where CD_PRODUTO_VENDA = @p_codigoProduto	
			
			IF (@v_id_tipo_produto =1) -- SOMENTE PRODUTO REGULAR
				BEGIN
				
					-- VERIFICAR SE TEM FATOR DE CALCULO 
					SELECT @v_valorFator  = ISNULL(MAX(VL_PARAMETRO),0)
					FROM TB_VALOR_PARAMETRO with(nolock)
					WHERE CD_GRUPO_PARAMETRO = 7
					AND CD_PARAMETRO         = 25
			
					-- VERIFICAR SE TEM FATOR DE CALCULO
					IF (@v_valorFator > 0)
						BEGIN
							SELECT @v_valorPontosProduto = (@v_valorLiquidoTotal * @v_valorFator)
						END
				END
			ELSE
				BEGIN
					SELECT @v_valorPontosProduto = 0
				END
				
		END

	-- Return the result of the function
	RETURN @v_valorPontosProduto

END
GO
