SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_BUSCA_CICLO_INICIAL_PERIODO_MES_MODADOCHEF] (@NM_CICLO  NUMERIC(18,0),@ID_PERIODO_MES INT )  

--  CALCULA : 
--  CICLO INICIAL DO PERÍODO OU MÊS

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO     NUMERIC(18,0)
  DECLARE @VL_SOBRA      NUMERIC(18,0)


  IF (@ID_PERIODO_MES = 1)  -- PERIODO
  BEGIN
    SELECT @VL_SOBRA =  CASE WHEN ((CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %4) = 0) THEN 4 
                             ELSE  (CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %4)     END

  END


  IF (@ID_PERIODO_MES = 2)  -- MES
  BEGIN
    SELECT @VL_SOBRA =  CASE WHEN ((CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %2) = 0) THEN 2
                             ELSE  (CONVERT(INT,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),5,2)) %2)     END
  END

  SELECT @RESULTADO = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_SOBRA)

  RETURN @RESULTADO
END
GO
