SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_QUALIFICACAO_DNANAMODA] (@CD_PESSOA NUMERIC(18,0),
                         @NM_CICLO          NUMERIC(18,0),
			 @CD_FUNCAO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL  NUMERIC(18,0),
			 @CD_PAPEL_CARREIRA NUMERIC(18,0) )  

--  CALCULA : 
--  QUALIFICAÇÃO NOVA

RETURNS NUMERIC(18,0)
AS
BEGIN
  DECLARE @RESULTADO	             NUMERIC(18,0)

  DECLARE @VL_INDICADOR_PESSOAL_1002 NUMERIC(18,0),  -- MESES NA QUALIFICAÇÃO ATUAL
	  @VL_INDICADOR_PESSOAL_1005 NUMERIC(18,0),  -- FREQUÊNCIA EM 6 MESES
          @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,0),  -- PONTOS PESSOAIS EM 6 MESES
          @VL_INDICADOR_PESSOAL_1008 NUMERIC(18,0),  -- INDICAÇÃO DE INICIOS EM 6 MESES (COM PELO MENOS O 1o PEDIDO)
          @VL_INDICADOR_PESSOAL_1009 NUMERIC(18,0),   -- EMPREENDEDOR ADIMPLENTE
          @VL_INDICADOR_PESSOAL_1011 NUMERIC(18,0)   -- PONTOS GRUPO EM 6 MESES (ACUMULADO)


  SELECT @RESULTADO = @CD_PAPEL_CARREIRA

  -- MESES NA QUALIFICAÇÃO ATUAL
  -- FREQUÊNCIA EM 6 MESES
  -- PONTOS PESSOAIS EM 6 MESES
  -- INDICAÇÃO DE INICIOS EM 6 MESES (COM PELO MENOS O 1o PEDIDO)
  -- EMPREENDEDOR ADIMPLENTE
  -- PONTOS GRUPO EM 6 MESES (ACUMULADO)
  SELECT @VL_INDICADOR_PESSOAL_1002 = [1002],
         @VL_INDICADOR_PESSOAL_1005 = [1005],
         @VL_INDICADOR_PESSOAL_1006 = [1006],
         @VL_INDICADOR_PESSOAL_1008 = [1008],
         @VL_INDICADOR_PESSOAL_1009 = [1009],
         @VL_INDICADOR_PESSOAL_1011 = [1011]
  FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
         FROM TB_PESSOA_INDICADOR with(nolock)
         WHERE CD_PESSOA      = @CD_PESSOA
         AND CD_FUNCAO        = @CD_FUNCAO
         AND NM_CICLO         = @NM_CICLO
         AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
         AND CD_INDICADOR_PESSOAL IN (1002,1005,1006,1008,1009,1011)
         GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
         PIVOT (SUM(VALOR) FOR INDICADOR IN ([1002],[1005],[1006],[1008],[1009],[1011])) EM_COLUNA   

  IF (@CD_PAPEL_CARREIRA = 2)   -- LIDER
  BEGIN
    -- REGREDIR 
    IF (@VL_INDICADOR_PESSOAL_1002 >= 6 AND (@VL_INDICADOR_PESSOAL_1005 < 4    OR
          				                     @VL_INDICADOR_PESSOAL_1006 < 850  OR
                                             @VL_INDICADOR_PESSOAL_1008 < 30   OR
                                             @VL_INDICADOR_PESSOAL_1009 < 1    OR
                                             @VL_INDICADOR_PESSOAL_1011 < 7000   )       )
    BEGIN
      SELECT @RESULTADO = 1  -- EMPREENDEDOR
      RETURN @RESULTADO
    END  
  END


  RETURN @RESULTADO
END
GO
