SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_BUSCA_NOME_PESSOA_FISICA](@CD_PESSOA NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
  DECLARE @RESULTADO VARCHAR(80)
 
  SELECT @RESULTADO = MAX(DC_NOME + ' ' + ISNULL(DC_SOBRENOME,'')) 
  FROM TB_PESSOA_FISICA with (NOLOCK) 
  WHERE CD_PESSOA = @CD_PESSOA

  RETURN @RESULTADO
END
GO
