SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_MN_CALCULA_PRODUTIVIDADE_REDE_PB] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO            NUMERIC(18,0),
                         @NM_CICLO             NUMERIC(18,0),
                         @CD_EST_COMERCIAL     NUMERIC(18,0),
                         @NM_NIVEL_INICIAL     NUMERIC(18,0),
                         @NM_NIVEL_FINAL       NUMERIC(18,0),
                         @ID_PONTO_FATURAMENTO INT )

--  CALCULA : 
--  TOTAL DE PONTOS / FATURAMENTO, DIRETAS / INDIRETAS

RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	NUMERIC(18,2)

  SELECT @RESULTADO = 0

  SELECT @RESULTADO =  CASE WHEN @ID_PONTO_FATURAMENTO = 1 THEN isnull(SUM(A.VL_PONTOS_TOTAL),0)         -- PONTOS
                            WHEN @ID_PONTO_FATURAMENTO = 2 then isnull(SUM(A.VL_LIQUIDO_TOTAL),0)  -- FATURAMENTO
                       else 0 END
  FROM TB_PEDIDO A,
      (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
       FROM TB_WRK_MN_TOPOLOGIA B1
       WHERE B1.CD_PESSOA               = @CD_PESSOA
       AND   B1.CD_FUNCAO               = @CD_FUNCAO
       AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
       AND   B1.NM_CICLO                = @NM_CICLO
       AND   B1.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
       AND   B1.NM_NIVEL                BETWEEN @NM_NIVEL_INICIAL AND @NM_NIVEL_FINAL) B
  WHERE A.CD_PESSOA               = B.PESSOA
  AND   A.CD_FUNCAO               = @CD_FUNCAO
  AND   A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL 
  AND   A.NM_CICLO_PAGAMENTO      = @NM_CICLO
  AND   A.NM_CICLO_CANCELAMENTO   IS NULL    -- SOMENTE PEDIDO PAGOS, NAO CANCELADO
 
  RETURN @RESULTADO
END



GO
