SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- **********************************************************************************************
-- FUNÇÃO QUE RETORNA SE A PESSOA FOI REINICIO NUM DETERMINADO CICLO
-- COMO PARAMETROS DE ENTRADA TEMOS A PESSOA, FUNÇÃO E O CICLO
-- E A FUNÇÃO VAIO VERIFICAR SE NAQUELE CICLO A PESSOA FOI UM REINICIO
-- FUNÇÃO IMPORTANTE USADA NO CALCULOD E INDICADORES DE CANAL DE REINICIOS
-- RETORNA 1 SE A PESSOA FOI REINICIO NAQUELE CICLO E 0 SE NÃO FOI REINICIO
-- **********************************************************************************************

CREATE FUNCTION [dbo].[fn_PessoaVerificaSeReinicioCiclo](@p_cdPessoa NUMERIC(18,0),
														 @p_cdFuncao NUMERIC(18,0),
														 @p_nmCiclo	NUMERIC(18,0))
RETURNS INTEGER
AS

BEGIN
	
	DECLARE @V_QTD_REGISTROS			INT
	DECLARE @Cursor						CURSOR
	DECLARE @v_Resultado				INTEGER
	DECLARE @v_nmCiclo					NUMERIC(18,0)
	DECLARE @v_nmCicloReinicio			NUMERIC(18,0)
	DECLARE @v_cdSituacaoComercial		INT


	-- *************************************************************************************************************
	-- PRIMEIRO PASSO VAMOS VERIFICAR NO HISTORICO DA CONSULTORA SE EM ALGUM MOMENTO ELA FOI REATIVADA
	-- *************************************************************************************************************
	SELECT @V_QTD_REGISTROS = COUNT(*)
	FROM TB_HIST_SITUACAO_CONSULTORA A WITH (NOLOCK)
	WHERE CD_PESSOA = @p_cdPessoa
	AND A.DT_REATIVACAO IS NOT NULL
	AND A.NM_CICLO > (SELECT B.NM_CICLO_INICIO FROM TB_PESSOA_RESUMO B WITH (NOLOCK) WHERE A.CD_PESSOA = B.CD_PESSOA AND B.CD_FUNCAO = @p_cdFuncao)
	
	-- SE FOR 0 ENTÃO ELA NUNCA FOI REATIVADA E NUNCA SERÁ UM REINICIO
	IF @V_QTD_REGISTROS = 0
		BEGIN
			SELECT @v_Resultado = 0
			RETURN @v_Resultado
		END
	ELSE
		BEGIN

			-- *************************************************************************************************************
			-- SEGUNDO PASSO VAMOS VERIFICAR NO HISTORICO DA CONSULTORA TODOS OS CICLOS EM QUE ELA FOI REATIVADA
			-- DESSA MANEIRA VAMOS ABRIR UM CURSOR
			-- *************************************************************************************************************

			SET @Cursor = CURSOR FAST_FORWARD
			FOR

				SELECT NM_CICLO, CD_SITUACAO_COMERCIAL 
				FROM TB_HIST_SITUACAO_CONSULTORA A WITH (NOLOCK)
				WHERE CD_PESSOA = @p_cdPessoa
				AND A.DT_REATIVACAO IS NOT NULL
				AND A.NM_CICLO > (SELECT B.NM_CICLO_INICIO FROM TB_PESSOA_RESUMO B WITH (NOLOCK) WHERE A.CD_PESSOA = B.CD_PESSOA AND B.CD_FUNCAO = @p_cdFuncao)
				ORDER BY NM_CICLO ASC

			OPEN @Cursor
			FETCH NEXT FROM @Cursor
			INTO @v_nmCiclo, @v_cdSituacaoComercial

			WHILE @@FETCH_STATUS = 0
				BEGIN
									
					SELECT @v_nmCicloReinicio = MIN(NM_CICLO)
					FROM TB_HIST_SITUACAO_CONSULTORA WITH (NOLOCK)
					WHERE CD_SITUACAO_COMERCIAL = 1
					AND NM_CICLO >= @v_nmCiclo
					AND CD_PESSOA = @p_cdPessoa

					-- NAO TEVE REINICIO
					IF @v_nmCicloReinicio = 0
						BEGIN
							SELECT @v_Resultado = 0
							RETURN @v_Resultado
						END
					ELSE
						BEGIN
							IF @v_nmCicloReinicio = @p_nmCiclo
								BEGIN
									-- CICLO DE REINICIO É IGUAL AO CICLO INFORMADO NO PARAMETRO
									-- RETORNA 1 - SIM
									SELECT @v_Resultado = 1
									RETURN @v_Resultado
								END
							ELSE
								BEGIN
									-- CICLO DE REINICIO É DIFERENTE AO CICLO INFORMADO NO PARAMETRO
									-- RETORNA 0 - NAO
									SELECT @v_Resultado = 0
								END
						END

				
					FETCH NEXT FROM @Cursor
					INTO @v_nmCiclo, @v_cdSituacaoComercial
	
				END




		END

	RETURN @v_Resultado
END



GO
