SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_MN_CALCULA_PONTUACAO_HAC] (@CD_PESSOA NUMERIC(18,0),
                         @CD_FUNCAO        NUMERIC(18,0),
                         @NM_CICLO         NUMERIC(18,0),
                         @CD_EST_COMERCIAL NUMERIC(18,0), 
                         @QT_CICLOS        NUMERIC(18,0)          )

--  CALCULA : 
--  TOTAL DE PONTUACAO PESSOAL


RETURNS NUMERIC(18,2)
AS
BEGIN
  DECLARE @RESULTADO	     NUMERIC(18,2)

  SELECT @RESULTADO = 0
  -- BUSCA OS PONTOS PESSOAIS


   SELECT @RESULTADO = isnull(SUM(A.VL_INDICADOR_PESSOAL),0) 
  FROM TB_PESSOA_INDICADOR A
  WHERE A.CD_PESSOA             = @CD_PESSOA
  AND   A.CD_FUNCAO             = @CD_FUNCAO
  AND   A.CD_INDICADOR_PESSOAL  = 1001
  AND   A.NM_CICLO              BETWEEN dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO,@QT_CICLOS)  AND @NM_CICLO
  AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 

RETURN @RESULTADO
END



GO
