SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_VERIFICA_PEDIDO_MOVIMENTA_ESTOQUE](@NM_PEDIDO NUMERIC(18,0))
RETURNS INT
AS
BEGIN
	DECLARE @RESULTADO	INT
	
	SELECT @RESULTADO = ID_MOVIMENTA_ESTOQUE
	FROM TB_PEDIDO
	WHERE NM_PEDIDO = @NM_PEDIDO
	
   RETURN @RESULTADO
END

GO
