SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FN_BUSCA_SITUACAO_PEDIDO](@NM_PEDIDO NUMERIC(18,0))
RETURNS NUMERIC(18,0)
AS
BEGIN
	DECLARE @RESULTADO						NUMERIC(18,0)

	SELECT @RESULTADO = CD_EST_SITUACAO
	FROM TB_PEDIDO
	WHERE NM_PEDIDO = @NM_PEDIDO

	
   RETURN @RESULTADO
END


GO
