SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[fn_ApiPessoaValidaDocumento]
	(@p_idTipoDocumento INT, 
	 @p_numeroDocumento VARCHAR(50))
RETURNS VARCHAR(200)
AS


BEGIN
	DECLARE @v_paramRGDuplicado		INT,
			@v_paramCPFDuplicado	INT,
			@v_qtdeRegistros		INT,
			@v_resultado			VARCHAR(200)
	
	select @v_resultado = ''
	
	BEGIN 
		
		-- PARÂMETRO DE CPF DUPLICADO
		SELECT @v_paramCPFDuplicado = VL_PARAMETRO
		  FROM TB_VALOR_PARAMETRO WITH(NOLOCK) 
		 WHERE CD_GRUPO_PARAMETRO = 1
		   AND CD_PARAMETRO = 1

		-- PARÂMETRO DE RG DUPLICADO
		SELECT @v_paramRGDuplicado = VL_PARAMETRO
		  FROM TB_VALOR_PARAMETRO WITH(NOLOCK) 
		 WHERE CD_GRUPO_PARAMETRO = 1
		   AND CD_PARAMETRO = 2

		IF @p_idTipoDocumento = 1 --CPF OU CNPJ
			BEGIN
				IF @v_paramCPFDuplicado = 2 --NÃO PERMITE DUPLICAR
					BEGIN
						SELECT @v_qtdeRegistros = COUNT(*)
						  FROM TB_PESSOA_DOCUMENTO WITH(NOLOCK)
						 WHERE ID_TIPO_DOCUMENTO = 1 
						   AND DC_DOCUMENTO = @p_numeroDocumento

						IF @v_qtdeRegistros >= 1
							BEGIN
								SELECT @v_resultado = 'CPF/CNPJ já existente na base de dados'
							END
					END

			END
	   
		IF @p_idTipoDocumento = 2 --RG ou IE
			BEGIN
				IF @v_paramRGDuplicado = 2 --NÃO PERMITE DUPLICAR
					BEGIN
						SELECT @v_qtdeRegistros = COUNT(*)
						  FROM TB_PESSOA_DOCUMENTO WITH(NOLOCK)
						 WHERE ID_TIPO_DOCUMENTO = 2 
						   AND DC_DOCUMENTO = @p_numeroDocumento

						IF @v_qtdeRegistros >= 1
							BEGIN
								SELECT @v_resultado = 'RG/IE já existente na base de dados'
							END
					END

			END
	END

	RETURN @v_resultado
END
GO
