SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_pessoaVerificaCoberturaGeograficaRegraComercial](@p_CdREgraComercial NUMERIC(18,0),@p_CdPessoa NUMERIC(18,0))
RETURNS VARCHAR(80)
AS
BEGIN
	DECLARE @v_Resultado               VARCHAR(80)
	DECLARE @v_CdEstGeograficaPessoa   numeric(18,0)
	DECLARE @v_CursorEstGeo            cursor 
	DECLARE @v_CursorFaixaCep          cursor
	DECLARE @v_CdEstGeo                numeric(18,0)
	DECLARE @v_cobreAreaPessoa         numeric(18,0)
	DECLARE @v_idTipoCoberturaEntregaRegraComercial numeric(18,0)
	DECLARE @v_cepPessoa               numeric(18,0)   
	DECLARE @v_IncialFaixaCep          VARCHAR(10)
	DECLARE @v_FinalFaixaCep           VARCHAR(10)

	DECLARE @V_QTD_REGISTROS		   INT
	-- *****************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 03/04/2020
	-- VAMOS VERIFICAR SE EXISTE REGIÃO GEOGRAFICA NA REGRA COMERCIAL
	-- SE NAO EXISTE VAMOS ADOTAR QUE ATENDE
	-- *****************************************************************************
		
		SELECT @V_QTD_REGISTROS = SUM(A.QTD)
		FROM 
		(SELECT COUNT(*) QTD
		FROM TB_REGRA_COMERCIAL_EST_GEOGRAFICA WITH(NOLOCK)
		WHERE CD_REGRA_COMERCIAL = @p_CdREgraComercial

		UNION ALL

		SELECT COUNT(*) QTD
		FROM TB_REGRA_COMERCIAL_FAIXA_CEP WITH(NOLOCK)
		WHERE CD_REGRA_COMERCIAL = @p_CdREgraComercial) A

		IF @V_QTD_REGISTROS = 0
			BEGIN

				SELECT @v_Resultado = 1
				return  @v_Resultado 

			END

	-- ****************************************************************************
	-- FIM
	-- ****************************************************************************

	-- BUSCA COD ESTRUTURA GEOGRAFICA PESSOA
	SELECT @v_CdEstGeograficaPessoa = CD_EST_GEOGRAFICA,
		   @v_cepPessoa = DC_codigo_postal 
	  from TB_PESSOA_ENDERECO WITH(NOLOCK)
	 WHERE id_tipo_endereco in (1,3)
	   and CD_PESSOA = @p_CdPessoa 
	
	select @v_idTipoCoberturaEntregaRegraComercial = ID_TIPO_COBERTURA_ENTREGA_REGRA_COMERCIAL 
	  from TB_REGRA_COMERCIAL WITH(NOLOCK)
	 where CD_REGRA_COMERCIAL = @p_CdREgraComercial
 

	IF @v_idTipoCoberturaEntregaRegraComercial = 1 --'<- Se for 1 é por Estrutura Geográfica

		BEGIN 
			-- CURSOR EST GEOGRAFICA DA REGRA COMERCIAL
			set @v_CursorEstGeo = CURSOR FAST_FORWARD
			FOR
			SELECT CD_EST_GEOGRAFICA 
			  FROM TB_REGRA_COMERCIAL_EST_GEOGRAFICA WITH(NOLOCK)
			 where cd_regra_comercial = @p_CdREgraComercial --26


			OPEN @v_CursorEstGeo
			FETCH NEXT FROM @v_CursorEstGeo
			INTO @v_CdEstGeo

			WHILE @@FETCH_STATUS = 0
				BEGIN
				   -- '<- Verifica se a estrutura geografica cobre a regiao da pessoa ->'
					select @v_cobreAreaPessoa = dbo.FN_EST_GEOGRAFICA(@v_CdEstGeo, @v_CdEstGeograficaPessoa)
				   --select dbo.FN_EST_GEOGRAFICA(27, 830027)
					if @v_cobreAreaPessoa = 1 
						begin 
							select @v_resultado = 1
							RETURN  @v_Resultado 
						end 

					else

						begin 
							select @v_resultado = 0
						end 
				         
					FETCH NEXT FROM @v_CursorEstGeo
					INTO @v_CdEstGeo
				end 
				   
		END 
	ELSE IF @v_idTipoCoberturaEntregaRegraComercial = 2 --<- se for 2 é por faixa de CEP
		BEGIN 
  
			 -- CURSOR faixa cep DA REGRA COMERCIAL
			set @v_CursorFaixaCep = CURSOR FAST_FORWARD
			FOR
			Select V_INICIAL_FAIXA_CEP,  V_FINAL_FAIXA_CEP 
			  FROM TB_REGRA_COMERCIAL_FAIXA_CEP WITH(NOLOCK)
			 WHERE CD_REGRA_COMERCIAL =  @p_CdREgraComercial
 
			OPEN @v_CursorFaixaCep
			FETCH NEXT FROM @v_CursorFaixaCep
			INTO @v_IncialFaixaCep,@v_FinalFaixaCep

			WHILE @@FETCH_STATUS = 0
				BEGIN
					if @v_cepPessoa >= @v_IncialFaixaCep and @v_cepPessoa <= @v_FinalFaixaCep
						begin 
							select @v_resultado = 1
							RETURN  @v_Resultado 
						end 
					else
						begin 
							select @v_resultado = 0
						end 

					FETCH NEXT FROM @v_CursorFaixaCep
					INTO @v_IncialFaixaCep,@v_FinalFaixaCep
				END

			END  
	return  @v_Resultado 
END
GO
