SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PedidoPreparaEdicao]
	@p_numeroPedido				NUMERIC(18,0),
	@p_codigoUsuario			NUMERIC(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS

DECLARE @v_permiteEdicao				int
DECLARE @v_codigoSituacao				int
DECLARE @v_valorSaldoFavorGerado		numeric(18,2)
DECLARE @v_valorSaldoDevedorGerado		numeric(18,2)
DECLARE @v_valorSaldoFavorUtilizado		NUMERIC(18,2)
DECLARE @v_codigoPessoa					numeric(18,0)
DECLARE	@v_codigoFuncao					int
DECLARE @v_qtdeDividaAberta				int
DECLARE @v_codigoDivida					numeric(18,0)
DECLARE @v_cicloAprovacao				numeric(18,0)
DECLARE @v_cdEstcomercial				int
DECLARE	@CURSOR_HISTORICO				as Cursor


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	
		
	-- ****************************************************************
	-- VERIFICA SE O PEDIDO POSSUI STATUS
	-- APROVADO OU PENDENTE
	-- ****************************************************************
	SELECT @v_permiteEdicao = COUNT(*) 
	FROM TB_PEDIDO WHERE NM_PEDIDO = @p_numeroPedido AND CD_EST_SITUACAO IN (2, 4, 99, 5, 6)
	
	IF @v_permiteEdicao = 0
		BEGIN
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'O pedido se encontra no status que não permite edição'
			RETURN
		END

	-- ****************************************************************
	-- VAMOS VERIFICAR INICIALMENTE SE O PEDIDO ESTÁ APROVADO
	-- SE ESTIVER DEVEMOS DIMINUIR OS INDICADORES QUE FORAM ATUALIZADOS
	-- ****************************************************************
	
	SELECT @v_codigoSituacao = CD_EST_SITUACAO,
		   @v_codigoPessoa = CD_PESSOA,
		   @v_codigoFuncao = CD_FUNCAO,
		   @v_cdEstcomercial = CD_EST_COMERCIAL,
		   @v_cicloAprovacao = NM_CICLO_APROVACAO
	FROM TB_PEDIDO WHERE NM_PEDIDO = @p_numeroPedido
	
	-- ****************************************************************
	-- ALTERAÇÃO POR DIEGO ZILIOTI EM 12/10, VAMOS EXCLUIR O LOTE DE SEPARAÇÃO CASO EXISTA E TAMBÉM APAGAR AS EMBALAGENS GERADAS
	-- ****************************************************************
	IF @v_codigoSituacao = 6
		BEGIN
			UPDATE TB_PEDIDO SET CD_LOTE_SEPARACAO = NULL WHERE NM_PEDIDO = @p_numeroPedido

			DELETE FROM TB_LOTE_SEPARACAO_PEDIDO WHERE NM_PEDIDO = @p_numeroPedido
			DELETE FROM TB_PEDIDO_EMBALAGEM_HISTORICO WHERE NM_PEDIDO = @p_numeroPedido
			DELETE FROM TB_MATERIAL_EMBALAGEM WHERE NM_EMBALAGEM IN (SELECT NM_EMBALAGEM FROM TB_PEDIDO_EMBALAGEM WHERE NM_PEDIDO = @p_numeroPedido)
			DELETE FROM TB_WRK_MATERIAL_EMBALAGEM WHERE NM_EMBALAGEM IN (SELECT NM_EMBALAGEM FROM TB_PEDIDO_EMBALAGEM WHERE NM_PEDIDO = @p_numeroPedido)
			DELETE FROM TB_WRK_CONTROLE_EMBALAGEM WHERE NM_PEDIDO = @p_numeroPedido
			DELETE FROM TB_PEDIDO_EMBALAGEM WHERE NM_PEDIDO = @p_numeroPedido

		END

	IF @v_codigoSituacao = 2
		BEGIN
			EXEC SP_CALCULA_PESSOA_INDICADOR
					@v_codigoPessoa,
					@v_codigoFuncao,
					@v_cdEstcomercial,
					@v_cicloAprovacao,
					@p_numeroPedido,
					2, -- EVENTO CANCELAMENTO DE PEDIDO
					2, -- DECREMENTAL
                    1,      --CALCULA OS INDICADORES ON-LINE
					@p_codigoUsuario,
					0,
					'',
					0
		END
	
	-- ****************************************************************
	-- COMO O PEDIDO PODE SER EDITADO
	-- VAMOS FECHAR TODAS AS SITUAÇÕES DO HISTORICO
	-- ****************************************************************
	
	SET @CURSOR_HISTORICO = CURSOR FAST_FORWARD
	FOR
			SELECT CD_EST_SITUACAO
			FROM TB_PEDIDO_HISTORICO
			WHERE DT_FINAL IS NULL
			AND NM_PEDIDO = @p_numeroPedido
			-- ******************************************************************************
			-- ANDERSON - VAMOS COMENTAR ESSE TRECHO POIS VAI TER UM PROBLEMA
			-- QUANDO UM PEDIDO ESTA PENDENTE DE PAGAMENTO E ELE FOI ABERTO DE EDIÇÃO E FOI SALVO
			-- ENTÃO NESSE CASO TEMOS QUE CANCELAR TODAS AS PENDENCIAS E SITUAÇÕES DE HISTORICO
			-- ******************************************************************************
			-- AND CD_EST_SITUACAO <> 42 --PENDENTE POR PGTO, SE HOUVER ESTA PENDÊNCIA ELA SERÁ MANTIDA
	    
	    OPEN @CURSOR_HISTORICO
		FETCH NEXT FROM @CURSOR_HISTORICO
		INTO @v_codigoSituacao
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
				-- FECHA TODAS AS SITUAÇÕES ABERTAS
				exec SP_GRAVA_HISTORICO_PEDIDO
					@p_numeroPedido,
					@v_codigoSituacao, -- SITUAÇÃO
					2, 
					0,
					'',
					@p_codigoUsuario,
					0,
					'',
					0
			
		  FETCH NEXT FROM @CURSOR_HISTORICO
		  INTO @v_codigoSituacao
		END
		CLOSE      @CURSOR_HISTORICO
        DEALLOCATE @CURSOR_HISTORICO
        
        
    -- ****************************************************************
	-- ABRE A SITUAÇÃO DE EDIÇÃO DE PEDIDO NO HISTORICO
	-- ****************************************************************

		exec SP_GRAVA_HISTORICO_PEDIDO
			@p_numeroPedido,
			99, -- SITUAÇÃO EM EDIÇÃO
			1, 
			1,
			'',
			@p_codigoUsuario,
			0,
			'',
			0
			
			
	-- *****************************************************
    -- GRAVA SITUACAO 99 (EM EDIÇÃO) E CICLO DE APROVAÇÃO E DATA DE APROVACAO
    -- *****************************************************
    BEGIN TRANSACTION 
    
	UPDATE TB_PEDIDO 
    SET CD_EST_SITUACAO = 99, -- EM EDIÇÃO
		NM_CICLO_APROVACAO = NULL,
		DT_APROVACAO_PEDIDO = NULL
	WHERE NM_PEDIDO = @p_numeroPedido

	SELECT @p_linhasAfetadas = @@ROWCOUNT
	
	COMMIT TRANSACTION
	
	-- *****************************************************
	--  CORREÇÃO 17/02/17 - POR DIEGO ZILIOTI
	--	TEMOS QUE VERIFICAR SE HOUVE SALDO A FAVOR UTILIZADO NO PEDIDO
	--  ESSE VALOR DEVERÁ SER DEVOLVIDO AO SALDO PARA SER UTILIZADO NOVAMENTE NA EDIÇÃO DO PEDIDO
	-- *****************************************************
	
	SELECT @v_valorSaldoFavorUtilizado = ISNULL(VL_SALDO_FAVOR_UTILIZADO,0)
	  FROM TB_PEDIDO WHERE NM_PEDIDO = @p_numeroPedido
	  
	IF @v_valorSaldoFavorUtilizado > 0
		BEGIN
			-- CREDITAR O SALDO UTILIZADO
			EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
					@v_codigoPessoa,
					@v_codigoFuncao,
					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
					1, -- CRÉDITO
					1, -- PEDIDO
					@p_numeroPedido,
					20, -- ELEMENTO FINANCEIRO = CRIAÇÃO DE SALDO A FAVOR
					@v_valorSaldoFavorUtilizado,
					@p_codigoUsuario,
					@p_codigoErro		OUTPUT,
					@p_descricaoErro	OUTPUT,
					@p_linhasAfetadas	OUTPUT	

                  -- aldir 12/02/2019 zerar o saldo favor utilizado
		  UPDATE TB_PEDIDO
		  SET VL_SALDO_FAVOR_UTILIZADO = 0
		  WHERE NM_PEDIDO = @p_numeroPedido
		END 
	
	-- *****************************************************
    -- TENOS QUE VERIFICAR SE FOI GERADO SALDO A FAVOR OU SALDO DEVEDOR
    -- ISSO PORQUE FOI IDENTIFICADO QUE SE O PEDIDO FOR ALTERADO VARIAS VEZES
    -- TEMOS QUE CANCELAR ESSES VALORES GERADOS
    -- *****************************************************
    
    SELECT	@v_codigoPessoa = CD_PESSOA,
			@v_codigoFuncao = CD_FUNCAO,
			@v_valorSaldoFavorGerado = VL_SALDO_FAVOR_GERADO,
			@v_valorSaldoDevedorGerado = VL_SALDO_DEVEDOR_GERADO
	FROM TB_PEDIDO WHERE NM_PEDIDO = @p_numeroPedido
	
	
	IF @v_valorSaldoFavorGerado <> 0
		BEGIN
			-- BAIXAR O SALDO GERADO
			EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
					@v_codigoPessoa,
					@v_codigoFuncao,
					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
					2, -- DEBITO
					1, -- PEDIDO
					@p_numeroPedido,
					22, -- ELEMENTO FINANCEIRO = CANCELAMENTO DE CREDITO
					@v_valorSaldoFavorGerado,
					@p_codigoUsuario,
					@p_codigoErro		OUTPUT,
					@p_descricaoErro	OUTPUT,
					@p_linhasAfetadas	OUTPUT	

					
			
		END

	
	
	-- *****************************************************
    -- GRAVA SALDO A FAVOR GERADO E SALDO DEVEDOR GERADO = 0
    -- *****************************************************
    BEGIN TRANSACTION 
    
	UPDATE TB_PEDIDO 
    SET VL_SALDO_FAVOR_GERADO = 0,
		VL_SALDO_DEVEDOR_GERADO = 0
	WHERE NM_PEDIDO = @p_numeroPedido

	SELECT @p_linhasAfetadas = @@ROWCOUNT
	
	COMMIT TRANSACTION
	
	-- *****************************************************
    -- VERIFICA SE O PEDIDO POSSUI DIVIDA ABERTA e SEM PAGAMENTOS,
    -- CASO EXISTA DIVIDA ABERTA SEM NENHUM PAGAMENTO DEVEMOS CANCELAR A DÍVIDA
    -- *****************************************************
    
    SELECT @v_qtdeDividaAberta = COUNT(*)
    FROM TB_DIVIDA DV
    WHERE DV.NM_PEDIDO = @p_numeroPedido
    AND DV.ID_SITUACAO_DIVIDA = 1
    AND DV.ID_SITUACAO_PAGAMENTO in (1,3)
    AND NOT EXISTS (SELECT 1 FROM TB_CONCILIACAO C 
					WHERE C.CD_DIVIDA = DV.CD_DIVIDA)
					
	IF @v_qtdeDividaAberta > 0
	BEGIN
		--CANCELA A DIVIDA ABERTA POIS UMA NOVA SERÁ GERADA NA FINALIZAÇÃO DO PEDIDO
		-- BUSCA O NUMERO DA DIVIDA
		SELECT @v_codigoDivida = CD_DIVIDA 
		FROM TB_DIVIDA
		WHERE NM_PEDIDO = @p_numeroPedido
		AND ID_SITUACAO_DIVIDA = 1
		
		BEGIN TRANSACTION
			UPDATE TB_DIVIDA
				SET ID_SITUACAO_DIVIDA  = 2, --FECHADA
				ID_SITUACAO_PAGAMENTO = 4 --CANCELADA	
			WHERE CD_DIVIDA = @v_codigoDivida
			AND ID_SITUACAO_DIVIDA = 1 -- ABERTA
				
			UPDATE TB_PARCELA
				SET ID_SITUACAO_PARCELA = 2, -- FECHADA
				ID_SITUACAO_PAGAMENTO_PARCELA = 4 -- CANCELADA
			WHERE CD_DIVIDA = @v_codigoDivida
			AND ID_SITUACAO_PARCELA = 1 -- ABERTA
				
			UPDATE TB_ACORDO_PAGAMENTO
				SET ID_SITUACAO_ACORDO_PAGAMENTO = 2 -- FECHADA
			WHERE CD_DIVIDA = @v_codigoDivida
			AND ID_SITUACAO_ACORDO_PAGAMENTO = 1 -- ABERTA
		COMMIT TRANSACTION

	END
	
	-- ****************************************************
	-- Correção por Diego Zilioti em 18/12/2019
	-- Precisamos atualizar as informações do crédito disponível do cliente para que ele possa escolher opções a prazo caso existam
	-- ****************************************************
	exec SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO @v_codigoPessoa,
											   @v_codigoFuncao,
											   0,
											   0,
											   @p_codigoUsuario

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
