SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

ESSA PROCEDURE É UTILZADA SOMENTE EM PROMOÇÃO
ISSO PORQUE EU POSSO TER UM PRODUTO QUE NÃO VOU VENDER MAS QUE VOU DAR COMO PROMOÇÃO
ESSA PROCEDURE FAZ ALGUMAS VALDIAÇÕES NO PRODUTO E RETORNA AS SEGUINTES INFORMAÇÕES:

- NOME DO PRODUTO
- MATERIAL ASSOCIADO
- PREÇO
- PONTOS
- AGRUPAMENTO DO PRODUTO

*/

CREATE PROCEDURE [dbo].[SP_BUSCA_INF_PRODUTO_VENDA_PROMOCAO]
	@CD_PRODUTO		numeric(18,0),
	@NM_CICLO		NUMERIC(18,0),
	@DT_DATA		VARCHAR(10),
	@CD_FUNCAO		NUMERIC(18,0),
	@CD_REGRA_COMERCIAL NUMERIC(18,0), 
	
	@DC_PRODUTO		VARCHAR(100)  OUTPUT,
	@CD_MATERIAL	NUMERIC(18,0) OUTPUT,
	@VL_PRECO		NUMERIC(18,2) OUTPUT,
	@VL_CREDITO 	NUMERIC(18,2) OUTPUT,
	@ID_AGRUPAMENTO	NUMERIC(18,0) OUTPUT,
	@VL_PONTOS		NUMERIC(18,2) OUTPUT,
	@CD_ERRO		INT OUTPUT,
	@DC_ERRO		NVARCHAR(MAX) OUTPUT
	
AS

DECLARE @V_CONTADOR INT
DECLARE @CD_PRODUTO_EXTERNO VARCHAR(100)

		
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @CD_ERRO = 0
		
		-- **************************************************************
		-- TEMOS UM ERRO HOJE NO ADMIN QUE NÃO ESTÁ PASSANDO A DATA PARA A PROC, NESTE CASO QUANDO A DATA FOR VAZIA VAMOS FORÇAR A DATA CORRENTE
		-- ALTERADO POR DIEGO - 14/09, A DATA NÃO ESTAVA SENDO FILTRADA NO PREÇO
		-- **************************************************************
		
		IF @DT_DATA = ''
			BEGIN
				SELECT @DT_DATA = CONVERT(VARCHAR(10),GETDATE(),103)
			END
			    
	    -- **************************************************************
	    -- VALIDA SE EXISTE O PRODUTO DE VENDA CADASTRADO NA BASE
	    -- SE O PRODUTO EXISTE VAMOS POPULAR O NOME DELE
	    -- **************************************************************
	    SELECT @V_CONTADOR = COUNT(*) 
	    FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	    WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
	    
	    IF @V_CONTADOR = 0
			-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Código de Produto não encontrado na base de dados'
				RETURN
			END
		ELSE
			-- PRODUTO EXISTE SENDO ASSIM VAMOS PEGAR O CODIGO DO PRODUTO
			-- VAMOS POPULAR O AGRUPAMENTO DO PRODUTO
			BEGIN
				SELECT @DC_PRODUTO = dbo.FN_BUSCA_NOME_PRODUTO(@CD_PRODUTO)
				SELECT @ID_AGRUPAMENTO = ID_AGRUPAMENTO FROM TB_PRODUTO_VENDA WITH(NOLOCK) WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
			END
		
		-- **************************************************************
		-- VALIDA O CICLO DE LANÇAMENTO DO PRODUTO DE VENDA
		-- **************************************************************
		--SELECT @V_CONTADOR = COUNT(*)
		--FROM TB_PRODUTO_VENDA
		--WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
		--AND NM_CICLO_LANCAMENTO <= @NM_CICLO
		
		--IF @V_CONTADOR = 0
		--	-- PRODUTO AINDA NÃO FOI LANÇADO
		--	BEGIN
		--		SELECT @CD_ERRO = 1
		--		SELECT @DC_ERRO = 'Produto de venda ainda não foi lançado'
		--		RETURN
		--	END
		
		
		-- **************************************************************
		-- VALIDA O CICLO DE DESCONTINUAÇÃO DO PRODUTO DE VENDA
		-- **************************************************************
		--SELECT @V_CONTADOR = COUNT(*)
		--FROM TB_PRODUTO_VENDA
		--WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
		--AND NM_CICLO_DESCONTINUACAO IS NULL
		
		--IF @V_CONTADOR = 0 -- TEM CICLO DE DESCONTINUACAO
		--	BEGIN
			
		--		SELECT @V_CONTADOR = COUNT(*)
		--		FROM TB_PRODUTO_VENDA
		--		WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
		--		AND NM_CICLO_DESCONTINUACAO >= @NM_CICLO
		
		--		IF @V_CONTADOR = 0
		--			-- PRODUTO AINDA NÃO FOI LANÇADO
		--			BEGIN
		--				SELECT @CD_ERRO = 1
		--				SELECT @DC_ERRO = 'Produto de venda está descontinuado'
		--				RETURN
		--			END
			
		--	END
			
		
		-- **************************************************************
	    -- VALIDA SE EXISTE MATERIAL ASSOCIADO AO PRODUTO DE VENDA
	    -- **************************************************************
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PRODUTO_VENDA WITH(NOLOCK)
		WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
		AND CD_MATERIAL IS NOT NULL
	    
	    IF @V_CONTADOR = 0
			-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Código de Produto não possui nenhum material associado'
				RETURN
			END
		ELSE
			BEGIN
				SELECT @CD_MATERIAL = CD_MATERIAL
				FROM TB_PRODUTO_VENDA WITH(NOLOCK)
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
			END		

		
		-- **************************************************************
	    -- VERIFICA SE EXISTE PREÇO E PONTO CADASTRADO
	    -- **************************************************************
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PRODUTO_VENDA_PRECO A WITH(NOLOCK)
		WHERE A.CD_PRODUTO_VENDA = @CD_PRODUTO
		AND @NM_CICLO BETWEEN ISNULL(A.NM_CICLO_INICIAL, @NM_CICLO) AND ISNULL(A.NM_CICLO_FINAL, @NM_CICLO)
		AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B WITH(NOLOCK) WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @CD_FUNCAO )
		     OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C WITH(NOLOCK) WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL ))
		AND convert(date,@DT_DATA,103) BETWEEN ISNULL(CONVERT(DATE,DT_DATA_INICIAL),CONVERT(DATE,GETDATE()-1000)) AND ISNULL(CONVERT(DATE,DT_DATA_FINAL),CONVERT(DATE,GETDATE()+1000))
		
		IF @V_CONTADOR = 0
			-- PREÇO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_PRODUTO_EXTERNO = CD_PRODUTO_VENDA_EXTERNO
				FROM TB_PRODUTO_VENDA WITH(NOLOCK)
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
				
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Preço e Crédito do produto ' + @CD_PRODUTO_EXTERNO + ' de venda não encontrado'
				
				RETURN
			END
		ELSE
			BEGIN
				
				SELECT	@VL_PRECO = MIN(VL_PRECO),
						@VL_CREDITO = MIN(VL_CREDITO),
						@VL_PONTOS = MIN(ISNULL(VL_PONTOS,0))
				FROM TB_PRODUTO_VENDA_PRECO Z WITH(NOLOCK)
				WHERE Z.CD_PRODUTO_VENDA_PRECO IN (

						SELECT MAX(A.CD_PRODUTO_VENDA_PRECO)
						FROM TB_PRODUTO_VENDA_PRECO A WITH(NOLOCK)
						WHERE A.CD_PRODUTO_VENDA = @CD_PRODUTO
						AND @NM_CICLO BETWEEN ISNULL(A.NM_CICLO_INICIAL, @NM_CICLO) AND ISNULL(A.NM_CICLO_FINAL, @NM_CICLO)
						AND (EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO B WITH(NOLOCK) WHERE A.CD_PRODUTO_VENDA_PRECO = B.CD_PRODUTO_VENDA_PRECO AND B.CD_FUNCAO = @CD_FUNCAO )
						 OR EXISTS (SELECT 1 FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL C WITH(NOLOCK) WHERE A.CD_PRODUTO_VENDA_PRECO = C.CD_PRODUTO_VENDA_PRECO AND C.CD_REGRA_COMERCIAL = @CD_REGRA_COMERCIAL ))
						AND convert(date,@DT_DATA,103) BETWEEN ISNULL(CONVERT(DATE,DT_DATA_INICIAL),CONVERT(DATE,GETDATE()-1000)) AND ISNULL(CONVERT(DATE,DT_DATA_FINAL),CONVERT(DATE,GETDATE()+1000))
			
				)

			END		


		-- **************************************************************
	    -- VALIDA SE A VENDA DO MATERIAL ESTÁ SUSPENSA
	    -- **************************************************************
		DECLARE @idAgrupamento INT
		DECLARE @cdMaterial    NUMERIC(18)
		DECLARE @cdAgrupador   NUMERIC(18)	
		DECLARE @vendaSuspensa INT
		DECLARE @Cursor_Itens CURSOR

			
		SELECT @idAgrupamento = ID_AGRUPAMENTO, @cdMaterial = CD_MATERIAL,@cdAgrupador = CD_CODIGO_AGRUPADOR FROM TB_PRODUTO_VENDA WITH(NOLOCK)
		WHERE CD_PRODUTO_VENDA = @CD_PRODUTO

		/*				
		IF @ID_AGRUPAMENTO = 1 -- PRODUTO REGULAR
			BEGIN
				SELECT @vendaSuspensa = ID_VENDA_SUSPENSA FROM TB_MATERIAL WHERE CD_MATERIAL = @cdMaterial
					IF @vendaSuspensa = 1 
						BEGIN
							SELECT @CD_ERRO = 1
							SELECT @DC_ERRO = 'A venda deste produto está suspensa'
							RETURN
						END
			END

		ELSE IF @ID_AGRUPAMENTO = 2 -- KIT
			BEGIN
			
			SET @Cursor_Itens = CURSOR FAST_FORWARD
				FOR
					SELECT CD_MATERIAL FROM TB_PRODUTO_VENDA_COMPONENTE WHERE CD_PRODUTO_VENDA = @CD_PRODUTO     
				OPEN @Cursor_Itens
				FETCH NEXT FROM @Cursor_Itens
				INTO @cdMaterial

			WHILE @@FETCH_STATUS = 0
				BEGIN

					SELECT @vendaSuspensa = ID_VENDA_SUSPENSA FROM TB_MATERIAL WHERE CD_MATERIAL = @cdMaterial
						IF @vendaSuspensa = 2 
							BEGIN
								SELECT @CD_ERRO = 0
								SELECT @DC_ERRO = ''
								RETURN 
							END
						ELSE							
							BEGIN
								SELECT @CD_ERRO = 1
								SELECT @DC_ERRO = 'A venda deste produto está suspensa'							
							END

					FETCH NEXT FROM @Cursor_Itens
					INTO @cdMaterial
				END

			END

		ELSE IF @ID_AGRUPAMENTO = 3 -- AGRUPADOR
			BEGIN

				SET @Cursor_Itens = CURSOR FAST_FORWARD
				FOR
					SELECT CD_MATERIAL,ID_VENDA_SUSPENSA FROM TB_MATERIAL WHERE CD_CODIGO_AGRUPADOR = @cdAgrupador     
					
				OPEN @Cursor_Itens
				FETCH NEXT FROM @Cursor_Itens
				INTO @cdMaterial,@vendaSuspensa

			WHILE @@FETCH_STATUS = 0
				BEGIN					
						IF @vendaSuspensa = 2 
							BEGIN
								SELECT @CD_ERRO = 0
								SELECT @DC_ERRO = ''
								RETURN 
							END
						ELSE							
							BEGIN
								SELECT @CD_ERRO = 1
								SELECT @DC_ERRO = 'A venda deste produto está suspensa'							
							END

					FETCH NEXT FROM @Cursor_Itens
					INTO @cdMaterial,@vendaSuspensa
				END

			END	
		*/
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
