SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_AtendimentoInsereAtendimentoResposta]
	@p_codigoAtendimentoResposta		NUMERIC(18,0) ,
	@p_codigoAtendimento				NUMERIC(18,0) ,
	@p_codigoPergunta					NUMERIC(18,0) ,
	@p_codigoTipoResposta				Int,
	@p_descricaoResposta				Varchar(5000),
	@p_descricaoResposta01				Varchar(100),
	@p_descricaoResposta02				Varchar(5000),
	@p_descricaoResposta03				Varchar(100),
	@p_descricaoTipoFuncao				Varchar(1),
	@p_codigoErro						INT OUTPUT,
	@p_descricaoErro					VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas					INT OUTPUT,
	@p_codigoGerado						NUMERIC(18,0) OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				INSERT INTO TB_SAC_ATENDIMENTO_RESPOSTA (
					CD_SAC_ATENDIMENTO,
					CD_SAC_PERGUNTA,
					ID_TIPO_RESPOSTA,
					DC_RESPOSTA,
					DC_RESPOSTA_01,
					DC_RESPOSTA_02,
					DC_RESPOSTA_03
                                        )
				VALUES           (
					@p_codigoAtendimento,
					@p_codigoPergunta,
					@p_codigoTipoResposta,
					@p_descricaoResposta,
					@p_descricaoResposta01, 
					@p_descricaoResposta02,
					@p_descricaoResposta03
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_SAC_ATENDIMENTO_RESPOSTA')
			
				COMMIT TRANSACTION
			END	

		IF @p_descricaoTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_SAC_ATENDIMENTO_RESPOSTA SET
					CD_SAC_ATENDIMENTO = @p_codigoAtendimento,
					CD_SAC_PERGUNTA = @p_codigoPergunta,
					ID_TIPO_RESPOSTA = @p_codigoTipoResposta,
					DC_RESPOSTA = @p_descricaoResposta, 
					DC_RESPOSTA_01 = @p_descricaoResposta01,
					DC_RESPOSTA_02 = @p_descricaoResposta02,
					DC_RESPOSTA_03 = @p_descricaoResposta03
				WHERE CD_SAC_ATENDIMENTO_RESPOSTA = @p_codigoAtendimentoResposta
					
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_SAC_ATENDIMENTO_RESPOSTA
				WHERE CD_SAC_ATENDIMENTO = @p_codigoAtendimento
								
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
