SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaPlanoAdesaoVerificaAtivacao]
	@p_codigoPessoa					NUMERIC(18,0),
	@p_numeroPedido					NUMERIC(18,0),
	@p_idSituacaoPagamento			INT,
	@p_descProcessamentoPagamento	VARCHAR(4000),

	@p_codigoUsuario				NUMERIC(18,0),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT
AS

DECLARE @v_codigoPessoaPlanoAdesao	NUMERIC(18,0),
		@v_codigoPlanoAdesao		NUMERIC(18,0),
		@v_idSituacaoPlanoAdesao	INT,
		@v_dataVigenciaInicial		DATE,
		@v_dataVigenciaFinal		DATE,
		@v_dataAlertaRenovacao		DATE,
		@v_codigoPlanoPagamento		NUMERIC(18,0),
		@v_valorPagarTotal			NUMERIC(18,2),
		@v_valorPagarRenovacao		NUMERIC(18,2),
		@v_dataPagamento			DATE,
		@v_descProcessamentoPgto	VARCHAR(4000),
		@v_descReferenciaPgto		VARCHAR(200)

BEGIN TRY

	SELECT @p_codigoErro = 0,
		   @p_descErro = '',
		   @p_qtLinhasAfetadas = 0
  
	-- BUSCA DADOS DO PLANO DE ADESÃO DA PESSOA
	SELECT	@v_codigoPessoaPlanoAdesao = ISNULL(MAX(PA.CD_PESSOA_PLANO_ADESAO),0)
	  FROM TB_PESSOA_PLANO_ADESAO PA WITH(NOLOCK)
	 WHERE PA.CD_PESSOA = @p_codigoPessoa
	   AND PA.NM_PEDIDO_GERADO = @p_numeroPedido

	IF @v_codigoPessoaPlanoAdesao > 0
		BEGIN
			-- TEMOS UM PLANO QUE PRECISAMOS VALIDAR A ATIVAÇÃO, BUSCA AS DEMAIS INFORMAÇÕES
			SELECT	@v_codigoPlanoAdesao = PA.CD_PLANO_ADESAO,
					@v_idSituacaoPlanoAdesao = PA.ID_SITUACAO_PESSOA_PLANO_ADESAO,
					@v_dataVigenciaInicial = PA.DT_VIGENCIA_INICIAL,
					@v_dataVigenciaFinal = PA.DT_VIGENCIA_FINAL,
					@v_dataAlertaRenovacao = PA.DT_ALERTA_RENOVACAO,
					@v_codigoPlanoPagamento = PA.CD_PLANO_PAGAMENTO,
					@v_valorPagarTotal = PA.VL_PAGAR_TOTAL,
					@v_valorPagarRenovacao = PA.VL_PAGAR_RENOVACAO,
					@v_dataPagamento = PA.DT_PAGAMENTO
			  FROM TB_PESSOA_PLANO_ADESAO PA WITH(NOLOCK)
			 WHERE CD_PESSOA_PLANO_ADESAO = @v_codigoPessoaPlanoAdesao

			IF @p_idSituacaoPagamento = 2
				BEGIN
					-- O PLANO FOI PAGO VAMOS ATIVAR O PLANO
					SELECT	@v_dataPagamento = CONVERT(DATE,GETDATE()),
							@v_descReferenciaPgto = CONVERT(VARCHAR,@p_numeroPedido)

					IF @v_idSituacaoPlanoAdesao = 2
						BEGIN
							UPDATE TB_PESSOA_PLANO_ADESAO
							   SET ID_SITUACAO_PESSOA_PLANO_ADESAO = 1, -- ATIVO
								   DT_VIGENCIA_INICIAL = @v_dataVigenciaInicial,
								   DT_VIGENCIA_FINAL = @v_dataVigenciaFinal,
								   DT_ALERTA_RENOVACAO = @v_dataAlertaRenovacao,
								   VL_PAGAR_TOTAL = @v_valorPagarTotal,
								   VL_PAGAR_RENOVACAO = @v_valorPagarRenovacao,
								   CD_PLANO_PAGAMENTO = @v_codigoPlanoPagamento,
								   ID_SITUACAO_PAGAMENTO_PLANO_ADESAO = @p_idSituacaoPagamento,
								   DC_REFERENCIA_PAGAMENTO = @v_descReferenciaPgto,
								   NM_PEDIDO_GERADO = @p_numeroPedido,
								   DT_PAGAMENTO = @v_dataPagamento,
								   DC_PROCESSAMENTO_PAGAMENTO = 'Pagamento Confirmado',
								   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
								   DT_ATUALIZACAO = GETDATE()
							 WHERE CD_PESSOA = @p_codigoPessoa
							   AND CD_PESSOA_PLANO_ADESAO = @v_codigoPessoaPlanoAdesao
							
							-- O PLANO ANTERIOR QUE ESTAVA ATIVO SERÁ INATIVADO
							UPDATE TB_PESSOA_PLANO_ADESAO
							   SET ID_SITUACAO_PESSOA_PLANO_ADESAO = 2
							 WHERE CD_PESSOA_PLANO_ADESAO <> @v_codigoPessoaPlanoAdesao
							   AND ID_SITUACAO_PESSOA_PLANO_ADESAO = 1
							   AND CD_PESSOA = @p_codigoPessoa
						END
				END
		END
	ELSE
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Não foi encontrado plano de adesão para ativação'
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
