SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[pr_ApiSelecionaEstruturaComercialAlocacao]
    @p_codigoCentroDistribuicaoExterno VARCHAR(255) = NULL,
    @p_codigoEstruturaComercial VARCHAR(255) = NULL,
    @p_codigoEstruturaComercialSelecionada VARCHAR(255) OUTPUT,
    @p_numeroCiclo INT OUTPUT,
	@p_mensagemErro NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		-- SE UM CÓDIGO DE CENTRO DE DISTRIBUIÇÃO FOR FORNECIDO:
		--    > VALIDA O CENTRO DE DISTRIBUIÇÃO E CONTA QUANTAS ESTRUTURAS ELEGÍVEIS EXISTEM.
		--    > SELECIONA UMA ESTRUTURA COMERCIAL BASEADA NO RODÍZIO SE HOUVER MAIS DE UMA DISPONÍVEL COM CALENDÁRIO, OU A ÚNICA DISPONÍVEL SE FOR O CASO.
		--    > REGISTRA A ESTRUTURA SELECIONADA E O CICLO COMERCIAL.

		-- SE UM CÓDIGO DE ESTRUTURA COMERCIAL FOR FORNECIDO E NENHUMA SELEÇÃO FOR FEITA VIA CENTRO DE DISTRIBUIÇÃO:
		--    > VERIFICA E SELECIONA A ESTRUTURA BASEADA NA SUA ATIVIDADE E DISPONIBILIDADE DE CALENDÁRIO.

        SET @p_mensagemErro = '';
        SET @p_codigoEstruturaComercialSelecionada = NULL;
        SET @p_numeroCiclo = NULL;

        -- SE AMBOS OS PARÂMETROS FOREM NULOS, A SELEÇÃO ACONTECERÁ ATRAVÉS DO MECANISMO PRÉ-EXISTENTE pr_PessoaAnalisaAlocacaoAutomaticaRede
        IF @p_codigoCentroDistribuicaoExterno IS NULL AND @p_codigoEstruturaComercial IS NULL
        BEGIN
            RETURN;
        END

        DECLARE @CD_CentroDistribuicao INT, @CountEstruturas INT;
        
        -- TENTATIVA DE BUSCAR POR CENTRO DE DISTRIBUIÇÃO
        IF @p_codigoCentroDistribuicaoExterno IS NOT NULL AND LEN(@p_codigoCentroDistribuicaoExterno) > 0
        BEGIN
            SELECT @CD_CentroDistribuicao = CD_CENTRO_DISTRIBUICAO
            FROM TB_CENTRO_DISTRIBUICAO
            WHERE CD_CENTRO_DISTRIBUICAO_EXTERNO = @p_codigoCentroDistribuicaoExterno AND ID_SITUACAO = 1;

            IF @CD_CentroDistribuicao IS NULL
            BEGIN
				SET @p_mensagemErro += 'O centro de distribuição fornecido não foi encontrado ou não está ativo. ';
			END
			ELSE
            BEGIN
                -- CONTA O NÚMERO DE ESTRUTURAS DISPONÍVEIS
                SELECT @CountEstruturas = COUNT(*)
                FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL CDEC
                INNER JOIN TB_EST_COMERCIAL EC ON EC.CD_EST_COMERCIAL = CDEC.CD_EST_COMERCIAL
                INNER JOIN TB_CALENDARIO_COMERCIAL CA ON EC.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
                WHERE CDEC.CD_CENTRO_DISTRIBUICAO = @CD_CentroDistribuicao
                  AND GETDATE() BETWEEN CA.DT_INICIAL AND CA.DT_FINAL
                  AND EC.ID_ATIVO = 1

                IF @CountEstruturas = 0
                BEGIN
					SET @p_mensagemErro += 'O centro de distribuição fornecido não possui estruturas comerciais ativas ou com calendário comercial ativo. ';
				END
                ELSE
                BEGIN
                    -- SELECIONA COM OU SEM RODÍZIO BASEADO NO NÚMERO DE ESTRUTURAS DISPONÍVEIS
                    SELECT TOP 1 @p_codigoEstruturaComercialSelecionada = EC.CD_EST_COMERCIAL, @p_numeroCiclo = CA.NM_CICLO
                    FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL CDEC
                    INNER JOIN TB_EST_COMERCIAL EC ON EC.CD_EST_COMERCIAL = CDEC.CD_EST_COMERCIAL
                    INNER JOIN TB_CALENDARIO_COMERCIAL CA ON EC.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
                    WHERE CDEC.CD_CENTRO_DISTRIBUICAO = @CD_CentroDistribuicao
                      AND GETDATE() BETWEEN CA.DT_INICIAL AND CA.DT_FINAL
                      AND EC.ID_ATIVO = 1
                      AND (@CountEstruturas = 1 OR ISNULL(EC.ID_ALOCACAO_RODIZIO,1) = 1)
                    ORDER BY NEWID()

                    IF @CountEstruturas > 1
                    BEGIN
                        UPDATE TB_EST_COMERCIAL SET ID_ALOCACAO_RODIZIO = 2 WHERE CD_EST_COMERCIAL = @p_codigoEstruturaComercialSelecionada;
                    END
                END
            END
        END

        -- SE NÃO FOI ENCONTRADO POR CD, TENTA PELA ESTRUTURA COMERCIAL
        IF @p_codigoEstruturaComercial IS NOT NULL AND @p_codigoEstruturaComercialSelecionada IS NULL
        BEGIN
			-- VALIDA SE A ESTRUTURA COMERCIAL EXISTE E ESTÁ ATIVA
            IF NOT EXISTS (SELECT 1 FROM TB_EST_COMERCIAL WHERE CD_EST_COMERCIAL = @p_codigoEstruturaComercial AND ID_ATIVO = 1)
            BEGIN
				SET @p_mensagemErro += 'A estrutura comercial fornecida não foi encontrada ou não está ativa. ';
			END
			ELSE
            BEGIN
                SELECT TOP 1 @p_codigoEstruturaComercialSelecionada = EC.CD_EST_COMERCIAL, @p_numeroCiclo = CA.NM_CICLO
                FROM TB_EST_COMERCIAL EC
                INNER JOIN TB_CALENDARIO_COMERCIAL CA ON EC.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
                WHERE EC.CD_EST_COMERCIAL = @p_codigoEstruturaComercial
                  AND GETDATE() BETWEEN CA.DT_INICIAL AND CA.DT_FINAL
                  AND EC.ID_ATIVO = 1
                ORDER BY CA.NM_CICLO;

                IF @p_codigoEstruturaComercialSelecionada IS NULL
                BEGIN
                    SET @p_mensagemErro += 'A estrutura comercial fornecida não possui um calendário comercial. ';
                END
            END
        END
    END TRY
    BEGIN CATCH        
        SET @p_mensagemErro += ERROR_MESSAGE();
    END CATCH;
END;
GO
