SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PlanoPagamentoInsereContaSplitBRASPAG]
	@p_codigoPlanoPagamentoSplitBraspag numeric(18, 0),
	@p_codigoPlanoPagamento				numeric(18, 0),
	@p_descEmpresa						varchar(200),
    @p_descIdentificadorMid				varchar(4000),
	@p_percDivisao						NUMERIC(8,2),
	@p_percMDR							NUMERIC(8,2),
	@p_valorTarifaFixa					NUMERIC(18,2),
	
	@p_descAcao							VARCHAR(1),
	@p_codigoUsuario					NUMERIC(18,0),
	
	@p_codigoErro						INT OUTPUT,
	@p_descErro							NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas					INT OUTPUT
AS



BEGIN TRY
	SELECT @p_codigoErro = 0, @p_descErro = '', @p_linhasAfetadas = 0


	IF @p_descAcao = 'I'
		BEGIN
			INSERT INTO TB_PLANO_PAGAMENTO_SPLIT_BRASPAG(
						CD_PLANO_PAGAMENTO,
						DC_EMPRESA,
						DC_IDENTIFICADOR_MID,
						PC_DIVISAO,
						PC_MDR,
						VL_TARIFA_FIXA,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
			VALUES           (
						@p_codigoPlanoPagamento,
						@p_descEmpresa,
						@p_descIdentificadorMid,
						@p_percDivisao,
						@p_percMDR,
						@p_valorTarifaFixa,
						GETDATE(), 
						@p_codigoUsuario, 
						GETDATE(), 
						@p_codigoUsuario
						)

		END	

	IF @p_descAcao = 'E'
		BEGIN
			DELETE TB_PLANO_PAGAMENTO_SPLIT_BRASPAG  
			 WHERE CD_PLANO_PAGAMENTO = @p_codigoPlanoPagamento
			   --AND CD_PLANO_PAGAMENTO_SPLIT_BRASPAG = @p_codigoPlanoPagamentoSplitBraspag
		END

	SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
