SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_ApiConsultaPessoaQualificacao] AS
SELECT 
    P.CD_PESSOA as IdCustomer,
    PC.NM_SEQUENCIA as CurrentLevel,
    NextLevel.NM_SEQUENCIA AS NextLevel,
    CASE 
        WHEN NextLevel.NM_SEQUENCIA IS NULL THEN NULL
        ELSE COALESCE(PROX_NIVEL.VL_INDICADOR_PESSOAL_INICIO - PI_1004.VL_INDICADOR_PESSOAL, 0)
    END AS RemainingPointsNextLevel,
    CASE 
        WHEN NextLevel.NM_SEQUENCIA IS NULL THEN NULL
        ELSE COALESCE(PROX_NIVEL.VL_INDICADOR_PESSOAL_INICIO, 0) 
    END AS MinimumPointsNextLevel,
    COALESCE(PI_1004.VL_INDICADOR_PESSOAL, 0) as CurrentPoints,
    COALESCE(PI_1006.VL_INDICADOR_PESSOAL, FMP.VL_FATOR_MULTIPLICADOR_PONTO, 1) as CyclePointsMultiplier -- Multiplicador: indicador 1006 > cálculo via 1005
FROM TB_PESSOA P WITH(NOLOCK)
INNER JOIN TB_PESSOA_RESUMO PR WITH(NOLOCK) ON PR.CD_PESSOA = P.CD_PESSOA AND PR.CD_FUNCAO = 2
LEFT JOIN TB_PAPEL_CARREIRA PC WITH(NOLOCK) ON PC.CD_PAPEL_CARREIRA = PR.CD_PAPEL_CARREIRA

-- Próximo nível na carreira 
OUTER APPLY (
    SELECT TOP 1 PC_NEXT.NM_SEQUENCIA 
    FROM TB_MN_REGRA_PAPEL_INDICADOR R WITH(NOLOCK)
    INNER JOIN TB_PAPEL_CARREIRA PC_NEXT WITH(NOLOCK) ON PC_NEXT.CD_PAPEL_CARREIRA = R.CD_PAPEL
    WHERE (PC_NEXT.NM_SEQUENCIA > PC.NM_SEQUENCIA  
        OR (PC_NEXT.NM_SEQUENCIA = PC.NM_SEQUENCIA AND R.CD_PAPEL > PR.CD_PAPEL_CARREIRA))
    ORDER BY PC_NEXT.NM_SEQUENCIA, R.CD_PAPEL
) AS NextLevel

-- Regra para próximo nível 
LEFT JOIN TB_MN_REGRA_PAPEL_INDICADOR PROX_NIVEL WITH(NOLOCK) 
    ON PROX_NIVEL.CD_PAPEL = (
        SELECT TOP 1 R.CD_PAPEL
        FROM TB_MN_REGRA_PAPEL_INDICADOR R WITH(NOLOCK)
        INNER JOIN TB_PAPEL_CARREIRA PC_NEXT WITH(NOLOCK) ON PC_NEXT.CD_PAPEL_CARREIRA = R.CD_PAPEL
        WHERE (PC_NEXT.NM_SEQUENCIA > PC.NM_SEQUENCIA  
            OR (PC_NEXT.NM_SEQUENCIA = PC.NM_SEQUENCIA AND R.CD_PAPEL > PR.CD_PAPEL_CARREIRA))
        ORDER BY PC_NEXT.NM_SEQUENCIA, R.CD_PAPEL
    )
    AND PROX_NIVEL.CD_INDICADOR_PESSOAL = 1004

-- Pontuação atual do ciclo (indicador 1004) 
OUTER APPLY (
    SELECT TOP 1 VL_INDICADOR_PESSOAL
    FROM TB_PESSOA_INDICADOR WITH(NOLOCK) 
    WHERE CD_PESSOA = P.CD_PESSOA
      AND CD_FUNCAO = PR.CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1004
      AND NM_CICLO = PR.NM_CICLO_ATUAL
    ORDER BY CD_PESSOA
) PI_1004

-- Multiplicador calculado (indicador 1006) 
OUTER APPLY (
    SELECT TOP 1 VL_INDICADOR_PESSOAL
    FROM TB_PESSOA_INDICADOR WITH(NOLOCK)
    WHERE CD_PESSOA = P.CD_PESSOA
      AND CD_FUNCAO = PR.CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1006
      AND NM_CICLO = PR.NM_CICLO_ATUAL
    ORDER BY CD_PESSOA
) PI_1006

-- Fallback para multiplicador via indicador 1005 + tabela 
OUTER APPLY (
    SELECT TOP 1 VL_INDICADOR_PESSOAL
    FROM TB_PESSOA_INDICADOR WITH(NOLOCK)
    WHERE CD_PESSOA = P.CD_PESSOA
      AND CD_FUNCAO = PR.CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1005
      AND NM_CICLO = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN(PR.NM_CICLO_ATUAL, 2)
    ORDER BY CD_PESSOA
) PI_1005

LEFT JOIN TB_FATOR_MULTIPLICADOR_PONTO FMP WITH(NOLOCK)
    ON FMP.CD_CICLO_VENDA = (COALESCE(PI_1005.VL_INDICADOR_PESSOAL, 0) + 1)
GO
