SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorConsultaPessoaIntegrarPedido]
		@CD_PESSOA							NUMERIC(18,0),
		@NM_PEDIDO							NUMERIC(18,0)
		
AS


BEGIN

SELECT 
		-- sigInt - Sigla do Sistema de Integração - Sigla do sistema. Senior precisa dessa informação para saber a origem do cadastro.
		'MAZ' sigInt,

		-- codCli - Código do cliente. Código dp Cliente gerado no ATS
		P.CD_PESSOA dadosGeraisCliente_codCli,

		-- ideExt -  Identificação externa do cliente. Código gerado no ATS
		P.CD_PESSOA dadosGeraisCliente_ideExt,

		-- nomCli - Nome do cliente
		dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) dadosGeraisCliente_nomCli,
	
		-- apeCli - Nome fantasia do cliente. Para pessoa fisica vamos enviar o Nome, para Juridica vamos enviar a Razção Social
		CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT A.DC_NOME FROM TB_PESSOA_FISICA A WHERE A.CD_PESSOA = P.CD_PESSOA)
						  WHEN 2 THEN (SELECT A.DC_RAZAO_SOCIAL FROM TB_PESSOA_JURIDICA A WHERE A.CD_PESSOA = P.CD_PESSOA)
					END dadosGeraisCliente_apeCli,
		
		-- tipCli - Tipo do cliente - Lista : J= Jurídica, F = Física
		CASE P.ID_TIPO_PESSOA WHEN 1 THEN 'F'
						  WHEN 2 THEN 'J' END dadosGeraisCliente_tipCli,
						  						  
		-- tipMer - Tipo de mercado do cliente - Lista: I = Interno (Nacional), E = Externo (Internacional), P = Prospect.)
		'I' dadosGeraisCliente_tipMer,	  
	
		-- cgcCpf - Número do CNPJ ou CPF do cliente (No Tasker estamos retirando os caracteres)
		(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 1) dadosGeraisCliente_cgcCpf, 
		
		-- cgcCpf - Endereço do cliente. Enviar a Rua. Para Pessoa Fisica enviamos o endereço residencial para juridica enviamos o endereço fiscal
		CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
	                      WHEN 2 THEN (SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) 
		END dadosGeraisCliente_endCli,

		CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
	   					 WHEN 2 THEN (SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) 
		END dadosGeraisCliente_nenCli,

	
    CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT REPLACE(PE.DC_COMPLEMENTO, '&', 'E') FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT REPLACE(PE.DC_COMPLEMENTO, '&', 'E') FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) 
		END dadosGeraisCliente_cplEnd,


	CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT REPLACE(PE.DC_REFERENCIA, '&', 'E') FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT REPLACE(PE.DC_REFERENCIA, '&', 'E') FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) 
		END dadosGeraisCliente_cliPrx,

    CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) 
		END dadosGeraisCliente_cepCli,

	CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) 
		END dadosGeraisCliente_baiCli,

	CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) 
		END dadosGeraisCliente_cidCli,

	CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) 
		END dadosGeraisCliente_sigUfs,

	
	(SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) dadosGeraisCliente_endEnt,
	(SELECT REPLACE(PE.DC_COMPLEMENTO, '&', 'E') FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) dadosGeraisCliente_cplEnt,
    (SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) dadosGeraisCliente_cepEnt,
	(SELECT PE.DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) dadosGeraisCliente_cidEnt,
	(SELECT PE.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) dadosGeraisCliente_estEnt,
	(SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) dadosGeraisCliente_baiEnt,
	(SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1) dadosGeraisCliente_nenEnt,
		

	-- SITUAÇÃO DO CLIENTE: SE FOR 4 DESATIVADA VAMOS ENVIAR I DE INATIVO, CASO CONTRARIO ENVIAMOS A DE ATIVO
	CASE PR.CD_SITUACAO_COMERCIAL 
		WHEN 4 THEN
			'I' 
		ELSE
			'A'
	END dadosGeraisCliente_sitCli,


	(SELECT E.DC_EMAIL FROM TB_PESSOA_EMAIL E WHERE E.CD_PESSOA = P.CD_PESSOA AND E.ID_TIPO_EMAIL = 1) dadosGeraisCliente_emaNfe,
	(SELECT E.DC_EMAIL FROM TB_PESSOA_EMAIL E WHERE E.CD_PESSOA = P.CD_PESSOA AND E.ID_TIPO_EMAIL = 1) dadosGeraisCliente_intNet,
	
	-- RESIDENCIAL
	(SELECT ISNULL(MAX(T.DC_TELEFONE), '') FROM TB_PESSOA_TELEFONE T WHERE T.ID_TIPO_TELEFONE = 1 AND T.CD_PESSOA = P.CD_PESSOA) dadosGeraisCliente_fonCli,

	-- CELULAR
	(SELECT ISNULL(MAX(T.DC_TELEFONE), '') FROM TB_PESSOA_TELEFONE T WHERE T.ID_TIPO_TELEFONE = 3 AND T.CD_PESSOA = P.CD_PESSOA) dadosGeraisCliente_fonCl2,


	-- ***************************************************
	--BLOCO clientePessoaFisica
	-- ***************************************************
	(SELECT ISNULL(MAX(PD.DC_DOCUMENTO), '') FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2) clientePessoaFisica_numRge, 
	(SELECT ISNULL(MAX(PD.DC_ORGAO), '') FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2) clientePessoaFisica_orgRge, 
	(SELECT ISNULL(MAX(PD.DT_EMISSAO), '') FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2) clientePessoaFisica_datRge, 
	(SELECT ISNULL(MAX(A.DT_NASCIMENTO), '') FROM TB_PESSOA_FISICA A WHERE A.CD_PESSOA = P.CD_PESSOA) clientePessoaFisica_datNas,
	(SELECT ISNULL(MAX(A.DC_NOME_MAE), '') FROM TB_PESSOA_FISICA A WHERE A.CD_PESSOA = P.CD_PESSOA) clientePessoaFisica_nomMae,
	
	
	-- ***************************************************
	--BLOCO DEFINICOESCLIENTE
	-- ***************************************************

	'4' definicoesCliente_codEmp,
	'1' definicoesCliente_codFil,
	
	PR.VL_CREDITO_TOTAL definicoesCliente_vlrLim,

	'1' definicoesCliente_codRep,
	
	CASE P.ID_TIPO_PESSOA WHEN 1 THEN 'S'
						  WHEN 2 THEN 'N' END definicoesCliente_conFin,


	-- Data de Atualização do Documento
	'USU_DatAtu' definicoesCliente_USU_DatAtu,
	(SELECT ISNULL(MAX(convert(varchar,H.DT_INICIAL,103)),'') FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO H 
	WHERE H.CD_PESSOA = P.CD_PESSOA AND H.DT_FINAL IS NULL AND H.CD_SITUACAO_CADASTRO = 4) definicoesCliente_USU_DatAtu_valor,

	-- ****************************************************************************************
	-- STATUS DOCUMENTO
	-- SEMPRE ENVIAR 4
	-- POIS SOMENTE VAMOS ENVIAR CADASTROS APROVADOS
	-- ****************************************************************************************
	'USU_StaDoc' definicoesCliente_USU_StaDoc,
	'4' definicoesCliente_USU_StaDoc_valor,

	-- ****************************************************************************************
	-- DATA CONSULTA SERASA
	-- ENVIA A ULTIMA DATA INICIAL DA SITUAÇÃO ANALISE DE CREDITO
	-- ISSO PORQUE NESSA DATA FOI FEITA UMA CONSULTA AO SERASA
	-- ****************************************************************************************
	'USU_DatSer' definicoesCliente_USU_DatSer,
	(SELECT ISNULL(MAX(convert(varchar,H.DT_INICIAL,103)), '')
		FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO H 
		WHERE H.CD_PESSOA = P.CD_PESSOA AND H.CD_SITUACAO_CADASTRO = 33) definicoesCliente_USU_DatSer_valor,

	-- ****************************************************************************************
	-- APROVAÇÃO SERASA
	-- SE O PROCESSO DA CONSULTA SERASA GRAVOU QUE A PESSOA POSSUI RESTRIÇÃO DE CREDITO ENTÃO VAMOS ENVIAR IGUAL A 1 - CONSTA
	-- CASO CONTRARIO VAMOS ENVIAR 2 - NADA CONSTA
	-- ****************************************************************************************
	'USU_StaSer' definicoesCliente_StaSer,
	CASE (SELECT ISNULL(MAX(ID_POSSUI_RESTRICAO_CREDITO),0) 
		  FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO
		  WHERE CD_PESSOA = P.CD_PESSOA
				AND CD_PESSOA_HIST_SITUACAO_CADASTRO IN (
				SELECT ISNULL(MAX(CD_PESSOA_HIST_SITUACAO_CADASTRO),0) FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO H
				WHERE CD_PESSOA = P.CD_PESSOA
				AND H.CD_SITUACAO_CADASTRO = 33))
		-- consta
		WHEN 1 THEN '2'
		-- nada consta
		WHEN 2 THEN '1' 
		ELSE '1'
	END definicoesCliente_StaSer_valor,

	(SELECT ISNULL(MAX(CD_PESSOA_HIST_SITUACAO_CADASTRO),0) FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO H
		WHERE CD_PESSOA = P.CD_PESSOA
		AND H.CD_SITUACAO_CADASTRO = 33) POSSUI_REGISTRO_SITUACAO_33,
			
	-- CODIGO DA TRANSPORTADORA
	-- A PEDIDO DO RENAN DA SENIOR VAMOS ENVIAR 1 QUANDO FOR CADASTRO NOVO
	-- PARA EDIÇÃO VAMOS ENVIAR VAZIO E O FONTE NÃO ENVIA A INFORMAÇÃO
	CASE ISNULL(P.CD_PESSOA_EXTERNO, '')
		-- NOVO
		WHEN '' THEN
			'1'
		-- EDIÇÃO
		ELSE
			'0'
		END	definicoesCliente_codtra,

		
	-- COMO A PESSOA PODERÁ ESCOLHER O ENDEREÇO RESIDENCIAL COMO DE ENTREGA ENTÃO TEREMOS QUE ENVIAR OS DOIS (RESIDENCIAL E DE ENTREGA)
	-- NO BLOCO DE ENDERECO DE ENTREGA POIS TERMOS QUE ENVIAR UM CODIGO PARA CADA ENDEREÇO E NA INTEGRAÇÃO DE PEDIDO
	-- NÃO IREMOS ENVIAR O ENDEREÇO DE ENTREGA E SIM ESSE CODIGO
	
	-- **************************************************************
	-- BLOCO ENDERECOENTREGA
	-- VAMOS ENVIAR O ENDEREÇO DE ENTREGA DO PEDIDO
	-- COMO SEQENT VAZIO
	-- **************************************************************

	'0' enderecosEntrega_seqEnt1,
	
	dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) enderecosEntrega_nomCli1,

	(SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PEDIDO_ENDERECO PE WITH(NOLOCK) 
		WHERE PE.NM_PEDIDO = @NM_PEDIDO) enderecosEntrega_endEnt1,

	(SELECT PE.DC_NUMERO FROM TB_PEDIDO_ENDERECO PE WITH(NOLOCK) 
		WHERE PE.NM_PEDIDO = @NM_PEDIDO) enderecosEntrega_nenEnt1,

	(SELECT REPLACE(PE.DC_COMPLEMENTO, '&', 'E') FROM TB_PEDIDO_ENDERECO PE WITH(NOLOCK) 
		WHERE PE.NM_PEDIDO = @NM_PEDIDO) enderecosEntrega_cplEnt1,

	(SELECT PE.DC_REFERENCIA FROM TB_PEDIDO_ENDERECO PE WITH(NOLOCK) 
		WHERE PE.NM_PEDIDO = @NM_PEDIDO) enderecosEntrega_prxEnt1,

	(SELECT PE.DC_CODIGO_POSTAL FROM TB_PEDIDO_ENDERECO PE WITH(NOLOCK) 
		WHERE PE.NM_PEDIDO = @NM_PEDIDO) enderecosEntrega_cepEnt1,
	
	(SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PEDIDO_ENDERECO PE WITH(NOLOCK) 
		WHERE PE.NM_PEDIDO = @NM_PEDIDO) enderecosEntrega_baiEnt1,
				
	(SELECT PE.DC_ESTRUTURA_GEO3 FROM TB_PEDIDO_ENDERECO PE WITH(NOLOCK) 
		WHERE PE.NM_PEDIDO = @NM_PEDIDO) enderecosEntrega_cidEnt1,

	(SELECT PE.DC_ESTRUTURA_GEO2 FROM TB_PEDIDO_ENDERECO PE WITH(NOLOCK) 
		WHERE PE.NM_PEDIDO = @NM_PEDIDO) enderecosEntrega_estEnt1,
			
	(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 1) enderecosEntrega_cgcEnt1, 
	
	PR.CD_EST_COMERCIAL,
	
	ISNULL((SELECT TOP 1 B.CD_PESSOA_EXTERNO 
			FROM TB_EST_COMERCIAL_HIERARQUIA A, TB_PESSOA_RESUMO B
			WHERE A.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL
			AND A.CD_PESSOA_RESPONSAVEL = B.CD_PESSOA
			AND B.CD_FUNCAO = 4 
			ORDER BY A.NM_CICLO_INICIO DESC), 0) CD_REPRESENTANTE
	
	  FROM	TB_PESSOA P WITH(NOLOCK), 
			TB_PESSOA_RESUMO PR WITH(NOLOCK), 
			TB_PESSOA_ENDERECO PE WITH(NOLOCK)

	 WHERE PR.CD_FUNCAO IN (1,2)
	   AND P.CD_PESSOA > 0
	   AND P.CD_PESSOA = PR.CD_PESSOA
	   AND P.CD_PESSOA = PE.CD_PESSOA
	   AND PE.ID_TIPO_ENDERECO IN (1,3)
	   AND PR.CD_SITUACAO_COMERCIAL IN (0,1,2,3,4)
	   
	   -- SOMENTE PESSOAS COM SITUAÇÃO DE CADASTRO APROVADOS
	   AND P.CD_SITUACAO_CADASTRO = 4
	   
	   -- *************************************************************************
	   -- DESPREZA OS QUE DERAM OK E OS QUE DERAM ERRO
	   -- PEGA SOMENTE OS QUE SAO NULO E PENDENTE
	   -- EM ALGUM MOMENTO TEREMOS QUE ADICIONAR OS QUE DERAM ERRO TAMBEM
	   -- *************************************************************************
	   --AND (P.ID_SITUACAO_INTEGRACAO IS NULL OR P.ID_SITUACAO_INTEGRACAO = 1)
	   AND (P.ID_SITUACAO_INTEGRACAO = 1 OR P.ID_SITUACAO_INTEGRACAO = 4)
	   AND P.CD_PESSOA = @CD_PESSOA


END

GO
