SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pr_ListaPessoasPapelEvolucaoRegressao2]
        @NM_CICLO			NUMERIC(18,0),
        @CD_EST_COMERCIAL		NUMERIC(18,0),
        @CD_FUNCAO			NUMERIC(18,0),
        @ID_TIPO_OPERACAO		INT,  -- 1 - EVOLUCAO / 2 - REGRESSAO
        @CD_PESSOA			NUMERIC(18,0),
	@CD_PESSOA_LOGIN	VARCHAR(20),
	@CD_ACESSO_MATRIZ	VARCHAR(20),
	@DC_LISTA_EST_COMERCIAL	VARCHAR(3000),  -- NOVO 
	@DC_PAPEL_CARREIRA      VARCHAR(3000), -- NOVO
	@DC_PAPEL_DESEMPENHO    VARCHAR(3000)  -- NOVO


AS
DECLARE @CD_CLIENTE NUMERIC(18,0)
DECLARE @query  AS NVARCHAR(MAX)

BEGIN
	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	select @CD_CLIENTE = vl_parametro 
	from TB_valor_PARAMETRO with (nolock)
	where CD_GRUPO_PARAMETRO = 6
	and CD_PARAMETRO         = 1
	and CD_VALOR_PARAMETRO   = 1


	IF @CD_CLIENTE NOT IN (47, 55) -- MAHOGANY / KENKO PATTO
	BEGIN
		If @CD_ACESSO_MATRIZ <> '1'
		BEGIN
		SET @query = '          SELECT	A.CD_PESSOA AS "Cód. Pessoa", ' 
		SET @query = @query + '	[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) AS "Pessoa", ' 
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](B.CD_FUNCAO,B.CD_PAPEL_CARREIRA) AS "Papel Carreira", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  AS "Papel Desempenho" '
		SET @query = @query + '	FROM TB_HIST_SITUACAO_CONSULTORA A with (nolock) '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO B with (nolock) ON  A.CD_PESSOA = B.CD_PESSOA AND A.NM_CICLO = B.NM_CICLO '
		SET @query = @query + '	WHERE   A.CD_SITUACAO_COMERCIAL IN (1,2,3) '
		SET @query = @query + '	AND A.CD_PESSOA In (Select PR.CD_PESSOA '
		SET @query = @query + '			FROM TB_PESSOA_COLABORADOR PC with (nolock), TB_CENTRO_DISTRIBUICAO CD with (nolock), '
		SET @query = @query + '				TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC with (nolock), TB_PESSOA_RESUMO PR with (nolock) '
		SET @query = @query + '			WHERE PC.CD_PESSOA = ' + CONVERT(VARCHAR(18), @CD_PESSOA_LOGIN) 
		SET @query = @query + '			And PC.CD_EMPRESA = CD.CD_EMPRESA '
		SET @query = @query + '			And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO '
		SET @query = @query + '			And EC.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL) '
		SET @query = @query + '	AND  A.NM_CICLO   =  '  + CONVERT(VARCHAR(18), @NM_CICLO) 
		SET @query = @query + '	AND  B.CD_FUNCAO   =  '  + CONVERT(VARCHAR(18), @CD_FUNCAO )  
		SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA < B.CD_PAPEL_DESEMPENHO) OR '
		SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA > B.CD_PAPEL_DESEMPENHO) ) '
		IF @CD_PESSOA <> 0
		BEGIN
			SET @query = @query + '	AND A.CD_PESSOA  = ' + CONVERT(VARCHAR(18), @CD_PESSOA)
		END
		IF @CD_EST_COMERCIAL <> 0
		BEGIN
			SET @query = @query + '	AND DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', A.CD_EST_COMERCIAL) = 1 '
		END
		IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	AND A.CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) '

		END
		IF @DC_PAPEL_CARREIRA <> '0'
		BEGIN
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,'(',' ')
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_CARREIRA IN (' + @DC_PAPEL_CARREIRA + ' ) '

		END
		IF @DC_PAPEL_DESEMPENHO <> '0'
		BEGIN
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,'(',' ')
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_DESEMPENHO IN (' + @DC_PAPEL_DESEMPENHO + ' ) '

		END
		SET @query = @query + '		ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) '

		END
	
		ELSE
		BEGIN
		SET @query = '          SELECT	A.CD_PESSOA AS "Cód. Pessoa", ' 
		SET @query = @query + '	[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) AS "Pessoa", ' 
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](B.CD_FUNCAO,B.CD_PAPEL_CARREIRA) AS "Papel Carreira", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  AS "Papel Desempenho" '
		SET @query = @query + '	FROM TB_HIST_SITUACAO_CONSULTORA A with (nolock) '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO B with (nolock) ON  A.CD_PESSOA = B.CD_PESSOA AND A.NM_CICLO = B.NM_CICLO '
		SET @query = @query + '	WHERE   A.CD_SITUACAO_COMERCIAL IN (1,2,3) '
		SET @query = @query + '	AND  A.NM_CICLO   =  '  + CONVERT(VARCHAR(18), @NM_CICLO) 
		SET @query = @query + '	AND  B.CD_FUNCAO   =  '  + CONVERT(VARCHAR(18), @CD_FUNCAO )  
		SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA < B.CD_PAPEL_DESEMPENHO) OR '
		SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA > B.CD_PAPEL_DESEMPENHO) ) '
		IF @CD_PESSOA <> 0
		BEGIN
			SET @query = @query + '	AND A.CD_PESSOA  = ' + CONVERT(VARCHAR(18), @CD_PESSOA)
		END
		IF @CD_EST_COMERCIAL <> 0
		BEGIN
			SET @query = @query + '	AND DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', A.CD_EST_COMERCIAL) = 1 '
		END
		IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	AND A.CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) '

		END
		IF @DC_PAPEL_CARREIRA <> '0'
		BEGIN
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,'(',' ')
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_CARREIRA IN (' + @DC_PAPEL_CARREIRA + ' ) '

		END
		IF @DC_PAPEL_DESEMPENHO <> '0'
		BEGIN
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,'(',' ')
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_DESEMPENHO IN (' + @DC_PAPEL_DESEMPENHO + ' ) '

		END
		SET @query = @query + '		ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) '

		END
		--EXEC(@query);
		select @query
	END

	IF (@CD_CLIENTE = 47) -- MAHOGANY
	BEGIN
		If @CD_ACESSO_MATRIZ <> '1'
		BEGIN
		SET @query = '          SELECT	A.CD_PESSOA AS "Cód. Pessoa", ' 
		SET @query = @query + '	[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) AS "Pessoa", ' 
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](B.CD_FUNCAO,B.CD_PAPEL_CARREIRA) AS "Papel Carreira", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](C.CD_FUNCAO,C.CD_PAPEL_CARREIRA) AS "Papel Carreira Anterior", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  AS "Papel Desempenho", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](C.CD_FUNCAO,C.CD_PAPEL_DESEMPENHO)  AS "Papel Desempenho Anterior" '
		SET @query = @query + '	FROM TB_HIST_SITUACAO_CONSULTORA A with (nolock) '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO B with (nolock) ON  A.CD_PESSOA = B.CD_PESSOA AND A.NM_CICLO                               = B.NM_CICLO '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO C with (nolock) ON  A.CD_PESSOA = C.CD_PESSOA AND dbo.FN_BUSCA_CICLO_ANTERIOR (A.NM_CICLO) = C.NM_CICLO '
		SET @query = @query + '	WHERE   A.CD_SITUACAO_COMERCIAL IN (1,2,3) '
		SET @query = @query + '	AND A.CD_PESSOA In (Select PR.CD_PESSOA '
		SET @query = @query + '			FROM TB_PESSOA_COLABORADOR PC with (nolock), TB_CENTRO_DISTRIBUICAO CD with (nolock), '
		SET @query = @query + '				TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC with (nolock), TB_PESSOA_RESUMO PR with (nolock) '
		SET @query = @query + '			WHERE PC.CD_PESSOA = ' + CONVERT(VARCHAR(18), @CD_PESSOA_LOGIN) 
		SET @query = @query + '			And PC.CD_EMPRESA = CD.CD_EMPRESA '
		SET @query = @query + '			And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO '
		SET @query = @query + '			And EC.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL) '
		SET @query = @query + '	AND  A.NM_CICLO   =  '  + CONVERT(VARCHAR(18), @NM_CICLO) 
		SET @query = @query + '	AND  B.CD_FUNCAO   =  '  + CONVERT(VARCHAR(18), @CD_FUNCAO )  

		IF @CD_PESSOA <> 0
		BEGIN
			SET @query = @query + '	AND A.CD_PESSOA  = ' + CONVERT(VARCHAR(18), @CD_PESSOA)
		END
		IF @CD_EST_COMERCIAL <> 0
		BEGIN
			SET @query = @query + '	AND DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', A.CD_EST_COMERCIAL) = 1 '
		END
		IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	AND A.CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) '

		END
		IF @DC_PAPEL_CARREIRA <> '0'
		BEGIN
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,'(',' ')
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_CARREIRA IN (' + @DC_PAPEL_CARREIRA + ' ) '
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA > C.CD_PAPEL_CARREIRA) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA < C.CD_PAPEL_CARREIRA) ) '

		END
		IF @DC_PAPEL_DESEMPENHO <> '0'
		BEGIN
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,'(',' ')
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_DESEMPENHO IN (' + @DC_PAPEL_DESEMPENHO + ' ) '
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_DESEMPENHO > C.CD_PAPEL_DESEMPENHO) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_DESEMPENHO < C.CD_PAPEL_DESEMPENHO) ) '

		END
		IF (@DC_PAPEL_CARREIRA = '0' AND @DC_PAPEL_DESEMPENHO = '0')
 		BEGIN
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA   > C.CD_PAPEL_CARREIRA)   OR '
			SET @query = @query + '      ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_DESEMPENHO > C.CD_PAPEL_DESEMPENHO) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA   < C.CD_PAPEL_CARREIRA)   OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_DESEMPENHO < C.CD_PAPEL_DESEMPENHO) ) '
		END 

		SET @query = @query + '		ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) '

		END
	
		ELSE
		BEGIN
		SET @query = '          SELECT	A.CD_PESSOA AS "Cód. Pessoa", ' 
		SET @query = @query + '	[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) AS "Pessoa", ' 
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](B.CD_FUNCAO,B.CD_PAPEL_CARREIRA) AS "Papel Carreira", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](C.CD_FUNCAO,C.CD_PAPEL_CARREIRA) AS "Papel Carreira Anterior", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  AS "Papel Desempenho", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](C.CD_FUNCAO,C.CD_PAPEL_DESEMPENHO)  AS "Papel Desempenho Anterior" '
		SET @query = @query + '	FROM TB_HIST_SITUACAO_CONSULTORA A with (nolock) '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO B with (nolock) ON  A.CD_PESSOA = B.CD_PESSOA AND A.NM_CICLO                               = B.NM_CICLO '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO C with (nolock) ON  A.CD_PESSOA = C.CD_PESSOA AND dbo.FN_BUSCA_CICLO_ANTERIOR (A.NM_CICLO) = C.NM_CICLO '
		SET @query = @query + '	WHERE   A.CD_SITUACAO_COMERCIAL IN (1,2,3) '
		SET @query = @query + '	AND  A.NM_CICLO   =  '  + CONVERT(VARCHAR(18), @NM_CICLO) 
		SET @query = @query + '	AND  B.CD_FUNCAO   =  '  + CONVERT(VARCHAR(18), @CD_FUNCAO )  

		IF @CD_PESSOA <> 0
		BEGIN
			SET @query = @query + '	AND A.CD_PESSOA  = ' + CONVERT(VARCHAR(18), @CD_PESSOA)
		END
		IF @CD_EST_COMERCIAL <> 0
		BEGIN
			SET @query = @query + '	AND DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', A.CD_EST_COMERCIAL) = 1 '
		END
		IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	AND A.CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) '

		END
		IF @DC_PAPEL_CARREIRA <> '0'
		BEGIN
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,'(',' ')
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_CARREIRA IN (' + @DC_PAPEL_CARREIRA + ' ) '
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA > C.CD_PAPEL_CARREIRA) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA < C.CD_PAPEL_CARREIRA) ) '


		END
		IF @DC_PAPEL_DESEMPENHO <> '0'
		BEGIN
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,'(',' ')
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_DESEMPENHO IN (' + @DC_PAPEL_DESEMPENHO + ' ) '
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_DESEMPENHO > C.CD_PAPEL_DESEMPENHO) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_DESEMPENHO < C.CD_PAPEL_DESEMPENHO) ) '

		END
		IF (@DC_PAPEL_CARREIRA = '0' AND @DC_PAPEL_DESEMPENHO = '0')
 		BEGIN
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA   > C.CD_PAPEL_CARREIRA)   OR '
			SET @query = @query + '      ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_DESEMPENHO > C.CD_PAPEL_DESEMPENHO) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA   < C.CD_PAPEL_CARREIRA)   OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_DESEMPENHO < C.CD_PAPEL_DESEMPENHO) ) '
		END 
		SET @query = @query + '		ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) '
		END
		--EXEC(@query);
		select @query

	END

	IF (@CD_CLIENTE = 55) -- KENKO PATTO
	BEGIN
		If @CD_ACESSO_MATRIZ <> '1'
		BEGIN
		SET @query = '		SELECT	A.CD_PESSOA AS "Cód. Pessoa", '
		SET @query = @query + '	[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) AS "Pessoa",  '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](B.CD_FUNCAO,B.CD_PAPEL_CARREIRA) AS "Papel Carreira", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  AS "Papel Desempenho" '
		SET @query = @query + '	FROM TB_HIST_SITUACAO_CONSULTORA A with (nolock) '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO B with (nolock) ON  A.CD_PESSOA = B.CD_PESSOA AND A.NM_CICLO                               = B.NM_CICLO '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO C with (nolock) ON  A.CD_PESSOA = C.CD_PESSOA AND dbo.FN_BUSCA_CICLO_ANTERIOR (A.NM_CICLO) = C.NM_CICLO '
		SET @query = @query + '	WHERE   A.CD_SITUACAO_COMERCIAL IN (1,2,3) '
		SET @query = @query + '	AND A.CD_PESSOA In (Select PR.CD_PESSOA '
		SET @query = @query + '			FROM TB_PESSOA_COLABORADOR PC with (nolock), TB_CENTRO_DISTRIBUICAO CD with (nolock), '
		SET @query = @query + '				TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC with (nolock), TB_PESSOA_RESUMO PR with (nolock) '
		SET @query = @query + '			WHERE PC.CD_PESSOA = ' + CONVERT(VARCHAR(18), @CD_PESSOA_LOGIN) 
		SET @query = @query + '			And PC.CD_EMPRESA = CD.CD_EMPRESA '
		SET @query = @query + '			And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO '
		SET @query = @query + '			And EC.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL) '
		SET @query = @query + '	AND  A.NM_CICLO   =  '  + CONVERT(VARCHAR(18), @NM_CICLO) 
		SET @query = @query + '	AND  B.CD_FUNCAO   =  '  + CONVERT(VARCHAR(18), @CD_FUNCAO )  

		IF @CD_PESSOA <> 0
		BEGIN
			SET @query = @query + '	AND A.CD_PESSOA  = ' + CONVERT(VARCHAR(18), @CD_PESSOA)
		END
		IF @CD_EST_COMERCIAL <> 0
		BEGIN
			SET @query = @query + '	AND DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', A.CD_EST_COMERCIAL) = 1 '
		END
		IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	AND A.CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) '

		END
		IF @DC_PAPEL_CARREIRA <> '0'
		BEGIN
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,'(',' ')
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_CARREIRA IN (' + @DC_PAPEL_CARREIRA + ' ) '
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA > C.CD_PAPEL_CARREIRA) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA < C.CD_PAPEL_CARREIRA) ) '

		END
		IF @DC_PAPEL_DESEMPENHO <> '0'
		BEGIN
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,'(',' ')
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_DESEMPENHO IN (' + @DC_PAPEL_DESEMPENHO + ' ) '
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_DESEMPENHO > C.CD_PAPEL_DESEMPENHO) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_DESEMPENHO < C.CD_PAPEL_DESEMPENHO) ) '

		END
		IF (@DC_PAPEL_CARREIRA = '0' AND @DC_PAPEL_DESEMPENHO = '0')
 		BEGIN
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA   > C.CD_PAPEL_CARREIRA)   OR '
			SET @query = @query + '      ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_DESEMPENHO > C.CD_PAPEL_DESEMPENHO) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA   < C.CD_PAPEL_CARREIRA)   OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_DESEMPENHO < C.CD_PAPEL_DESEMPENHO) ) '
		END 

		SET @query = @query + '		ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) '
		END
		ELSE
		BEGIN
		SET @query = '		SELECT	A.CD_PESSOA AS "Cód. Pessoa", '
		SET @query = @query + '	[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) AS "Pessoa",  '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](B.CD_FUNCAO,B.CD_PAPEL_CARREIRA) AS "Papel Carreira", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  AS "Papel Desempenho" '
		SET @query = @query + '	FROM TB_HIST_SITUACAO_CONSULTORA A with (nolock) '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO B with (nolock) ON  A.CD_PESSOA = B.CD_PESSOA AND A.NM_CICLO                               = B.NM_CICLO '
		SET @query = @query + '		JOIN TB_PESSOA_PAPEL_HISTORICO C with (nolock) ON  A.CD_PESSOA = C.CD_PESSOA AND dbo.FN_BUSCA_CICLO_ANTERIOR (A.NM_CICLO) = C.NM_CICLO '
		SET @query = @query + '	WHERE   A.CD_SITUACAO_COMERCIAL IN (1,2,3) '
		SET @query = @query + '	AND  A.NM_CICLO   =  '  + CONVERT(VARCHAR(18), @NM_CICLO) 
		SET @query = @query + '	AND  B.CD_FUNCAO   =  '  + CONVERT(VARCHAR(18), @CD_FUNCAO )  

		IF @CD_PESSOA <> 0
		BEGIN
			SET @query = @query + '	AND A.CD_PESSOA  = ' + CONVERT(VARCHAR(18), @CD_PESSOA)
		END
		IF @CD_EST_COMERCIAL <> 0
		BEGIN
			SET @query = @query + '	AND DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', A.CD_EST_COMERCIAL) = 1 '
		END
		IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	AND A.CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) '

		END
		IF @DC_PAPEL_CARREIRA <> '0'
		BEGIN
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,'(',' ')
			SELECT @DC_PAPEL_CARREIRA = REPLACE(@DC_PAPEL_CARREIRA,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_CARREIRA IN (' + @DC_PAPEL_CARREIRA + ' ) '
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA > C.CD_PAPEL_CARREIRA) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA < C.CD_PAPEL_CARREIRA) ) '

		END
		IF @DC_PAPEL_DESEMPENHO <> '0'
		BEGIN
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,'(',' ')
			SELECT @DC_PAPEL_DESEMPENHO = REPLACE(@DC_PAPEL_DESEMPENHO,')',' ')

			SET @query = @query + '	AND B.CD_PAPEL_DESEMPENHO IN (' + @DC_PAPEL_DESEMPENHO + ' ) '
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_DESEMPENHO > C.CD_PAPEL_DESEMPENHO) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_DESEMPENHO < C.CD_PAPEL_DESEMPENHO) ) '

		END
		IF (@DC_PAPEL_CARREIRA = '0' AND @DC_PAPEL_DESEMPENHO = '0')
 		BEGIN
			SET @query = @query + '	AND (( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_CARREIRA   > C.CD_PAPEL_CARREIRA)   OR '
			SET @query = @query + '      ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 1 AND B.CD_PAPEL_DESEMPENHO > C.CD_PAPEL_DESEMPENHO) OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_CARREIRA   < C.CD_PAPEL_CARREIRA)   OR '
			SET @query = @query + '	     ( ' + CONVERT(VARCHAR(18), @ID_TIPO_OPERACAO) + ' = 2 AND B.CD_PAPEL_DESEMPENHO < C.CD_PAPEL_DESEMPENHO) ) '
		END 

		SET @query = @query + '		ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) '

		END

		--EXEC(@query);
		select @query
	END


END


GO
