SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_DNANAMODA]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS


/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0),
	@NM_CICLO_INICIO       NUMERIC(18,0)

DECLARE @COUNT_ELEGIVEL          INT

DECLARE 
    @VL_INDICADOR_PESSOAL_1005 NUMERIC(18,2),
    @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1008 NUMERIC(18,2),
    @VL_INDICADOR_PESSOAL_1009 NUMERIC(18,2),
    @VL_INDICADOR_PESSOAL_1001 NUMERIC(18,2),
    @VL_INDICADOR_PESSOAL_1002 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1012 NUMERIC(18,2),
    @VL_INDICADOR_PESSOAL_1017 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1019 NUMERIC(18,2), 
	@VL_INDICADOR_PESSOAL_1022 NUMERIC(18,2), 
	@VL_INDICADOR_PESSOAL_1026 NUMERIC(18,2), 
	@VL_INDICADOR_PESSOAL_1028 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1031 NUMERIC(18,2)

BEGIN TRY
  
  SELECT @QT_LINHAS_AFETADAS = 0
  IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
  BEGIN

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO,
	     @NM_CICLO_INICIO     = NM_CICLO_INICIO
      FROM TB_PESSOA_RESUMO A  with(nolock)
      WHERE A.CD_PESSOA  = @CD_PESSOA
      AND   A.CD_FUNCAO  = @CD_FUNCAO 


      --******************************************************************************
      -- TEMPO DE CASA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_CONTADOR = dbo.FN_BUSCA_DIFERENCA_CICLOS_MMN(@NM_CICLO,NM_CICLO_INICIO) 
	FROM TB_PESSOA_RESUMO  with(nolock)
	WHERE CD_PESSOA        = @CD_PESSOA
	AND   CD_FUNCAO        = @CD_FUNCAO
	AND   CD_EST_COMERCIAL = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- MESES NA QUALIFICAÇÃO ATUAL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_INDICADOR_PESSOAL_1002 = dbo.FN_MN_TOTAL_MESES_QUALIFICACAO_ATUAL_DNANAMODA (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_PAPEL_CARREIRA ) 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_INDICADOR_PESSOAL_1002,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_INDICADOR_PESSOAL_1002,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS PESSOAIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
        SELECT @VL_CONTADOR = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- EMPREENDEDOR ATIVO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
	SELECT @VL_CONTADOR = CASE WHEN VL_INDICADOR_PESSOAL > 0  THEN 1 ELSE 0 END
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- FREQUÊNCIA EM 6 MESES
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
	SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_MESES_ATIVOS_DNANAMODA (@CD_PESSOA, @CD_FUNCAO , @NM_CICLO,
                                                               @CD_EST_COMERCIAL, @VL_INDICADOR_PESSOAL_1002 )

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS PESSOAIS EM 6 MESES
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
	SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_INDICADOR_PESSOAL_1002) 
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1006
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INDICAÇÃO DE INICIOS (COM PELO MENOS O 1o PEDIDO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
	SELECT @VL_CONTADOR = COUNT(CD_PESSOA)
	FROM TB_PESSOA_RESUMO with(nolock)
	WHERE CD_PESSOA_VINCULADA             = @CD_PESSOA
	AND   CD_FUNCAO                       = @CD_FUNCAO
	AND   ISNULL(CD_SITUACAO_COMERCIAL,0) = 1
	AND   NM_CICLO_INICIO                 = @NM_CICLO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INDICAÇÃO DE INICIOS EM 6 MESES (COM PELO MENOS O 1o PEDIDO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
	SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_INDICADOR_PESSOAL_1002) 
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1008
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


     --******************************************************************************
      -- EMPREENDEDOR ADIMPLENTE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
	SELECT @VL_CONTADOR = dbo.FN_BUSCA_PESSOA_ADIMPLENTE (@CD_PESSOA)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1009
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


     --******************************************************************************
      -- PONTOS GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR A  with(nolock),
		(SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA     = 1) B
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO
	AND A.NM_CICLO                = @NM_CICLO		
	AND A.CD_INDICADOR_PESSOAL    = 1003

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END

      --******************************************************************************
      -- PONTOS GRUPO EM 6 MESES (ACUMULADO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_INDICADOR_PESSOAL_1002) 
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1011
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END

      END
      END


      --******************************************************************************
      -- EX-LIDER
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	SELECT @VL_CONTADOR = 0
	IF @CD_PAPEL_CARREIRA = 1 
	BEGIN 
	  SELECT @VL_CONTADOR = COUNT(DISTINCT CD_PESSOA)
	  FROM TB_PESSOA_PAPEL_HISTORICO with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND   CD_FUNCAO          = @CD_FUNCAO
	  AND   NM_CICLO           < @NM_CICLO
	  AND   CD_PAPEL_CARREIRA >= 2
	END

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1012
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END




      --******************************************************************************
      -- QUALIFICAÇÃO CALCULADA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        
  	  SELECT @VL_CONTADOR  = [dbo].[FN_MN_CALCULA_QUALIFICACAO_DNANAMODA] (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, @CD_PAPEL_CARREIRA)   

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1013
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

          IF (@CD_PAPEL_CARREIRA IN (1)) -- QUALIFICAÇÃO DE EMPREENDEDORA
	  BEGIN
 	    -- TEMPO DE CASA
            -- FREQUÊNCIA EM 6 MESES
            -- PONTOS PESSOAIS EM 6 MESES
            -- INDICAÇÃO DE INICIOS EM 6 MESES (COM PELO MENOS O 1o PEDIDO)
            -- EMPREENDEDOR ADIMPLENTE
	    -- EX-LIDER
            SELECT @VL_INDICADOR_PESSOAL_1001 = [1001],
                   @VL_INDICADOR_PESSOAL_1005 = [1005],
                   @VL_INDICADOR_PESSOAL_1006 = [1006],
                   @VL_INDICADOR_PESSOAL_1008 = [1008],
                   @VL_INDICADOR_PESSOAL_1009 = [1009],
                   @VL_INDICADOR_PESSOAL_1012 = [1012]
            FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                          ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                   FROM TB_PESSOA_INDICADOR with(nolock)
                   WHERE CD_PESSOA      = @CD_PESSOA
                   AND CD_FUNCAO        = @CD_FUNCAO
                   AND NM_CICLO         = @NM_CICLO
                   AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
                   AND CD_INDICADOR_PESSOAL IN (1001,1005,1006,1008,1009,1012)
                   GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
                   PIVOT (SUM(VALOR) FOR INDICADOR IN ([1001],[1005],[1006],[1008],[1009],[1012])) EM_COLUNA    

            IF (   (@VL_INDICADOR_PESSOAL_1012 = 0    AND @VL_INDICADOR_PESSOAL_1001 >= 6 AND @VL_INDICADOR_PESSOAL_1005 >= 4 AND
		    @VL_INDICADOR_PESSOAL_1006 >= 850 AND @VL_INDICADOR_PESSOAL_1008 >= 4 AND @VL_INDICADOR_PESSOAL_1009 = 1)   OR
	           (@VL_INDICADOR_PESSOAL_1012 = 1    AND @VL_INDICADOR_PESSOAL_1001 >= 6 AND @VL_INDICADOR_PESSOAL_1005 >= 4 AND
		    @VL_INDICADOR_PESSOAL_1006 >= 650 AND @VL_INDICADOR_PESSOAL_1008 >= 4 AND @VL_INDICADOR_PESSOAL_1009 = 1   )    )
            BEGIN
              SELECT @COUNT_ELEGIVEL = COUNT(CD_PESSOA)
              FROM TB_MN_PESSOA_ELEGIVEL  with(nolock)			
              WHERE CD_PESSOA	    = @CD_PESSOA
              AND   CD_PAPEL	    = 2
              AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1)

              IF (@COUNT_ELEGIVEL = 0)
              BEGIN
		BEGIN TRANSACTION
                INSERT INTO TB_MN_PESSOA_ELEGIVEL (CD_PESSOA, CD_PAPEL, NM_CICLO_INICIO, NM_CICLO_FIM, 	ID_SITUACAO_ELEGIVEL) VALUES
  				    (@CD_PESSOA, 2, DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1), DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 2), 1)
		COMMIT TRANSACTION	
              END
	    END
	    ELSE
	    BEGIN
	      BEGIN TRANSACTION
		DELETE TB_MN_PESSOA_ELEGIVEL
                WHERE CD_PESSOA	    = @CD_PESSOA
                AND   CD_PAPEL	    = 2
                AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1)
	      COMMIT TRANSACTION

	    END       
	  END  -- fim QUALIFICAÇÃO DE EMPREENDEDOR (INICIO DA VERIFICACAO SE ESTA ELEGIVEL A LIDER)
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        
      END


      --******************************************************************************
      -- COMPRAS PESSOAIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
        SELECT @VL_CONTADOR = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- COMPRAS PESSOAIS EM 6 MESES (ACUMULADO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
	SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_INDICADOR_PESSOAL_1002) 
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1015
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- VENDAS CF
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
        SELECT @VL_CONTADOR = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_RV_INDICANTE          = @CD_PESSOA
        AND   A.CD_FUNCAO                = 1
        --AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1016
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


    --******************************************************************************
      -- COMPRAS LÍQUIDA GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1017, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_INDICADOR_PESSOAL_1017 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR A  with(nolock),
		(SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA     = 1) B
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO
	AND A.NM_CICLO                = @NM_CICLO		
	AND A.CD_INDICADOR_PESSOAL    = 1014

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1017
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_INDICADOR_PESSOAL_1017,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_INDICADOR_PESSOAL_1017,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END

      --******************************************************************************
      -- COMPRAS LÍQUIDA GRUPO EM 6 MESES
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1018, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2 
      BEGIN 
	
	SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1017
	AND NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_INDICADOR_PESSOAL_1002) 
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1018
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END

      END
      END


      --******************************************************************************
      -- TAMANHO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1019, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2 
      BEGIN 
	
	SELECT @VL_INDICADOR_PESSOAL_1019 = COUNT(CD_PESSOA)
	FROM TB_PESSOA_RESUMO  with(nolock)
	WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	AND   CD_FUNCAO           = @CD_FUNCAO
	--AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
	AND   ISNULL(CD_SITUACAO_COMERCIAL,0) not in (0,4)
	AND   CD_PAPEL_CARREIRA    = 1  


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1019
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_INDICADOR_PESSOAL_1019,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_INDICADOR_PESSOAL_1019,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END

      END
      END


      --******************************************************************************
      -- INÍCIOS GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1020, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2 
      BEGIN 
	
	SELECT @VL_CONTADOR = COUNT(CD_PESSOA)
	FROM TB_PESSOA_RESUMO  with(nolock)
	WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	AND   CD_FUNCAO           = @CD_FUNCAO
	--AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
	AND   NM_CICLO_INICIO     = @NM_CICLO
	AND   ISNULL(CD_SITUACAO_COMERCIAL,0) < 4
	AND   CD_PAPEL_CARREIRA     = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1020
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END

      END
      END

      --******************************************************************************
      -- INTENÇÃO REVENDA GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1021, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2 
      BEGIN 
	
	SELECT @VL_CONTADOR = COUNT(CD_PESSOA)
	FROM TB_PESSOA_RESUMO  A with(nolock)
	WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	AND   CD_FUNCAO           = @CD_FUNCAO
	--AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
	AND   NM_CICLO_INICIO     = @NM_CICLO
	AND   ISNULL(CD_SITUACAO_COMERCIAL,0) = 0
	AND   CD_PAPEL_CARREIRA     = 1
	AND   NOT EXISTS (SELECT CD_PESSOA FROM TB_HIST_SITUACAO_CONSULTORA  B with(nolock)
			  WHERE B.CD_PESSOA                    = A.CD_PESSOA
			  AND NM_CICLO                         < @NM_CICLO
			  AND  ISNULL(CD_SITUACAO_COMERCIAL,0) > 0)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1021
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END

      END
      END

      --******************************************************************************
      -- ATIVOS GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1022, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2 
      BEGIN 
	
	SELECT 	@VL_INDICADOR_PESSOAL_1022 = COUNT(CD_PESSOA)
	FROM TB_PESSOA_RESUMO  A with(nolock)
	WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	AND   CD_FUNCAO           = @CD_FUNCAO
	--AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
	AND   NM_CICLO_INICIO     = @NM_CICLO
	AND   ISNULL(CD_SITUACAO_COMERCIAL,0) = 1
	AND   CD_PAPEL_CARREIRA     = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1022
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_INDICADOR_PESSOAL_1022,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_INDICADOR_PESSOAL_1022,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END

      END
      END


    --******************************************************************************
      -- INATIVOS 1 GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1023, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR = COUNT(*)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
		(SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA     = 1) B
	WHERE A.CD_PESSOA                   = B.PESSOA
	AND A.NM_CICLO                      = @NM_CICLO		
	AND A.CD_SITUACAO_COMERCIAL_DETALHE = 201

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1023
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


    --******************************************************************************
      -- INATIVOS 2 GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1024, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR = COUNT(*)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
		(SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA     = 1) B
	WHERE A.CD_PESSOA                   = B.PESSOA
	AND A.NM_CICLO                      = @NM_CICLO		
	AND A.CD_SITUACAO_COMERCIAL_DETALHE = 202

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1024
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


    --******************************************************************************
      -- INATIVOS 3 GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1025, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR = COUNT(*)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
		(SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA     = 1) B
	WHERE A.CD_PESSOA                   = B.PESSOA
	AND A.NM_CICLO                      = @NM_CICLO		
	AND A.CD_SITUACAO_COMERCIAL_DETALHE = 203

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1025
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END

    --******************************************************************************
      -- INATIVOS 4 GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1026, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_INDICADOR_PESSOAL_1026 = COUNT(*)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
		(SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA     = 1) B
	WHERE A.CD_PESSOA                   = B.PESSOA
	AND A.NM_CICLO                      = @NM_CICLO		
	AND A.CD_SITUACAO_COMERCIAL_DETALHE = 301

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1026
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_INDICADOR_PESSOAL_1026,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_INDICADOR_PESSOAL_1026,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


    --******************************************************************************
      -- A CESSAR GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1027, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1027
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_INDICADOR_PESSOAL_1026,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_INDICADOR_PESSOAL_1026,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END

    --******************************************************************************
      -- CESSADOS GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1028, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
        SELECT @VL_INDICADOR_PESSOAL_1028 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL), 0)
        FROM TB_PESSOA_INDICADOR  A  with(nolock)
        WHERE A.CD_PESSOA          = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO
	AND A.NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
	AND A.CD_INDICADOR_PESSOAL = 1027
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1028
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1028,
						@VL_INDICADOR_PESSOAL_1028,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1028,
						@VL_INDICADOR_PESSOAL_1028,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


      --******************************************************************************
      -- ATIVIDADE GRUPO (ATIVOS / TAMANHO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1029, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR  =  CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1019,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1022 / @VL_INDICADOR_PESSOAL_1019)
	                         ELSE 0  END
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1029
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1029,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1029,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


      --******************************************************************************
      -- PERDA GRUPO (CESSADOS / TAMANHO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1030, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR  =  CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1019,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1028 / @VL_INDICADOR_PESSOAL_1019)
	                         ELSE 0  END
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1030
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END

      --******************************************************************************
      -- PEDIDOS GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1031, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_INDICADOR_PESSOAL_1031 = COUNT (A.NM_PEDIDO)
	FROM TB_PEDIDO A  with(nolock),
              (SELECT CD_PESSOA PESSOA
	       FROM TB_PESSOA_RESUMO  with(nolock)
	       WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	       AND   CD_FUNCAO           = @CD_FUNCAO
	       --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
		AND   CD_PAPEL_CARREIRA    = 1
		) B
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	--AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_APROVACAO      = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1031
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_INDICADOR_PESSOAL_1031,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_INDICADOR_PESSOAL_1031,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


      --******************************************************************************
      -- TKT MÉDIO  GRUPO (COMPRAS LÍQUIDA / PEDIDOS)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1032, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR  =  CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1031,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1017 / @VL_INDICADOR_PESSOAL_1031)
	                         ELSE 0  END
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1032
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


    --******************************************************************************
      -- COMPRAS BRUTA GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1033, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
 /*       SELECT @VL_CONTADOR = isnull(SUM(B.VL_PAGAR_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
		(SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA     = 1) C
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0 */


	SELECT @VL_CONTADOR = isnull(SUM(A.VL_PAGAR_TOTAL),0)
	FROM TB_PEDIDO A  with(nolock),
              (SELECT CD_PESSOA PESSOA
	       FROM TB_PESSOA_RESUMO  with(nolock)
	       WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	       AND   CD_FUNCAO           = @CD_FUNCAO
	       --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
		AND   CD_PAPEL_CARREIRA    = 1
		) B
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	--AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_APROVACAO      = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1033
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


    --******************************************************************************
      -- VENDAS CF GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1034, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR A  with(nolock),
		(SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA     = 1) B
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO
	AND A.NM_CICLO                = @NM_CICLO		
	AND A.CD_INDICADOR_PESSOAL    = 1016

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1034
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END


     --******************************************************************************
      -- VALOR DESAFIO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1035, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
	
	SELECT @VL_CONTADOR = [dbo].[FN_MN_CALCULA_DESAFIO_DNANAMODA] (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL)  

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1035
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END	
      END





    END -- fim EVENTO = 6


END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
