SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PROCESSAMENTO_DIARIO_ONLINE]
   @VAR_RETORNO INT OUTPUT,
   @DC_ERRO NVARCHAR(MAX) OUTPUT,
   @DC_ROTINA NVARCHAR(MAX) OUTPUT
 
AS
 
  DECLARE   @QT_LINHAS_AFETADAS INT
  DECLARE   @CD_CLIENTE NUMERIC(18, 0)
  DECLARE   @CD_EST_COMERCIAL NUMERIC(18, 0)
  DECLARE   @DT_FECHAMENTO DATE
  DECLARE   @DT_ATUAL DATE
  DECLARE   @CD_USUARIO NUMERIC(18,0)
  DECLARE   @DT_INICIO_PROCESSAMENTO DATE
  DECLARE   @CURSOR_PEDIDOS_PAGOS CURSOR,
            @CURSOR_PESSOA        CURSOR,
	    @CURSOR_DETALHE_REMUNERACAO CURSOR

  DECLARE   @CD_MN_DETALHE_REMUNERACAO NUMERIC(18,0),
            @CD_MN_REMUNERACAO         NUMERIC(18,0),
            @NM_CICLO_REMUNERACAO      NUMERIC(18,0),
            @VL_REMUNERACAO            NUMERIC(18,2),
	    @VL_ORIGINAL               NUMERIC(18,2)
 
  DECLARE   @V_DT_CALCULA_PC_ULTIMA DATE,
            @V_DT_CALCULA_PC_PROXIMA DATE
  DECLARE   @CD_PESSOA           NUMERIC(18,0),
            @CD_FUNCAO           NUMERIC(18,0),
            @NM_CICLO            NUMERIC(18,0),  
            @NM_CICLO_CAPTACAO   NUMERIC(18,0),
            @NM_PEDIDO           NUMERIC(18,0),
            @ID_EVENTO           INT ,
            @ID_MOMENTO_CALCULO_INDICADOR INT ,
            @ID_TIPO_ATUALIZACAO INT ,
            @CD_LOG_PROCESSAMENTO NUMERIC(18,0),
            @V_DT_PAGAMENTO        DATETIME
 
  DECLARE   @QT_DIAS_APOS_FECH     INT
  --DECLARE @CURSOR_EC       CURSOR
  DECLARE   @NM_CICLO_FECHAMENTO NUMERIC(18,0)

  DECLARE  @EVENTO_ATUALIZACAO_REMUNERACAO INT,
           @EVENTO_ATUALIZACAO_PAPEL       INT,
           @CALCULA_PRIMEIRO               INT,
           @CONTROLE                       INT,
           @NIVEL                          INT

 
           
BEGIN TRY
		
	
	SELECT @CD_USUARIO = 0
	SELECT @VAR_RETORNO = 0
	SELECT @DC_ERRO = ''
 
		
	-- ************************************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- ************************************************************
	SELECT @CD_CLIENTE = VL_PARAMETRO
	FROM TB_VALOR_PARAMETRO
	WHERE CD_GRUPO_PARAMETRO = 6
	AND CD_PARAMETRO = 1
	AND CD_VALOR_PARAMETRO  = 1


	-- **************************************************************************
	-- ********* SPATZ / TERRALI / FROW / HAVILA CESTAS / VIVER MAIS / PERFECT B (FARMASI) / CMC / A SOS / EVINO / FANES
	-- **************************************************************************
	IF @CD_CLIENTE IN (14, 13, 12, 22, 23, 19, 24, 25, 28, 30)  
		BEGIN
			-- BUSCA OS PARAMETROS DE CALCULO DO MMN
			SELECT @EVENTO_ATUALIZACAO_REMUNERACAO = ID_EVENTO_ATUALIZACAO_REMUNERACAO,
				   @EVENTO_ATUALIZACAO_PAPEL       = ID_EVENTO_ATUALIZACAO_PAPEL,
				   @CALCULA_PRIMEIRO               = ID_CALCULA_PRIMEIRO
			FROM TB_MN_REGRA_GERAL

			-- CALCULA PLANO DE CARREIRA OU REMUNERAÇÃO
			IF (@CALCULA_PRIMEIRO = 1)   -- PLANO DE CARREIRA
				BEGIN
					IF (@EVENTO_ATUALIZACAO_PAPEL = 1) --DIARIO
						BEGIN
							-- CURSOR DE PESSOA
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
							SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
							FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_RESUMO B,
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								 FROM TB_WRK_MN_TOPOLOGIA F, TB_PESSOA_RESUMO G
								 WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								 AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								 AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								 AND   F.CD_FUNCAO           = G.CD_FUNCAO
								 AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								 AND   G.CD_FUNCAO           = 2
								 GROUP BY F.CD_PESSOA_VINCULADA) C
							WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
							AND   A.CD_FUNCAO                     = B.CD_FUNCAO
							AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
							AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
							AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
							AND   B.CD_SITUACAO_COMERCIAL  NOT IN (0,4)
							AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
							AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
							AND   A.NM_NIVEL              = C.MAX_NIVEL
							AND   B.CD_FUNCAO                    = 2
							UNION 
							SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
							FROM TB_PESSOA_RESUMO A
							WHERE A.CD_FUNCAO                    = 2
							AND   A.CD_SITUACAO_COMERCIAL  NOT IN (0,4)
							AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  
							AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
							ORDER BY 1, 2 DESC, 3 DESC

						END -- fim DIARIO

					IF (@EVENTO_ATUALIZACAO_PAPEL = 2)  -- FIM CICLO
						BEGIN
							-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
							SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
							FROM TB_MN_PARAMETROS

							-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
							SELECT @DT_FECHAMENTO = GETDATE() -1      
      
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
							SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
							FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_RESUMO B, TB_CALENDARIO_COMERCIAL C,
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								 FROM TB_WRK_MN_TOPOLOGIA F, TB_PESSOA_RESUMO G, TB_CALENDARIO_COMERCIAL H
								 WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								 AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								 AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								 AND   F.CD_FUNCAO           = G.CD_FUNCAO
								 AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								 AND   G.CD_EST_COMERCIAL                                                  = H.CD_EST_COMERCIAL
								 AND   G.NM_CICLO_ATUAL                                                    = H.NM_CICLO
								 AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, H.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								 AND   G.CD_FUNCAO           = 2
								 GROUP BY F.CD_PESSOA_VINCULADA) D
							WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
							AND   A.CD_FUNCAO                     = B.CD_FUNCAO
							AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
							AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
							AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
							AND   B.CD_EST_COMERCIAL                                                  = C.CD_EST_COMERCIAL
							AND   B.NM_CICLO_ATUAL                                                    = C.NM_CICLO
							AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, C.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
							AND   B.CD_FUNCAO                                                         = 2
							AND   B.CD_SITUACAO_COMERCIAL                                             NOT IN (0,4)
							AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
							AND   A.CD_PESSOA_VINCULADA   = D.CD_PESSOA_VINCULADA
							AND   A.NM_NIVEL              = D.MAX_NIVEL
							AND   B.CD_FUNCAO             = 2
							UNION 
							SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
							FROM TB_PESSOA_RESUMO A, TB_CALENDARIO_COMERCIAL B
							WHERE A.CD_EST_COMERCIAL                                                  = B.CD_EST_COMERCIAL
							AND   A.NM_CICLO_ATUAL                                                    = B.NM_CICLO
							AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, B.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
							AND   A.CD_FUNCAO                                                         = 2
							AND   A.CD_SITUACAO_COMERCIAL                                             NOT IN (0,4)
							AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
							ORDER BY 1, 2 DESC, 3 DESC

						 END -- fim CICLO
                                  
					OPEN @CURSOR_PESSOA
					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
  
					WHILE @@FETCH_STATUS = 0
						BEGIN

							-- CALCULA OS INDICADORES DE QUALIFICAÇÃO
							SELECT @ID_EVENTO                    = 6,  
								   @ID_MOMENTO_CALCULO_INDICADOR = 2,
								   @ID_TIPO_ATUALIZACAO          = 1

							EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO			OUTPUT,
									@DC_ERRO				OUTPUT,
									@QT_LINHAS_AFETADAS		OUTPUT

							EXEC SP_MN_APLICA_PLANO_CARREIRA_GENERICA
								@CD_PESSOA,
								@CD_FUNCAO,
								@NM_CICLO,
								@CD_EST_COMERCIAL,
								--@ID_ORIGEM   INT, -- 1 - FIM DIA (PEDIDO) / 2 - FIM CICLO (PESSOA) ... não tem necessidade pq o plano de carreira é calculado pessoa a pessoa 
								@VAR_RETORNO			OUTPUT,
								@DC_ERRO				OUTPUT,
								@QT_LINHAS_AFETADAS		OUTPUT


							-- CALCULA OS INDICADORES DE BONIFICAÇÃO
							SELECT	@ID_EVENTO                    = 7,  
									@ID_MOMENTO_CALCULO_INDICADOR = 2,
									@ID_TIPO_ATUALIZACAO          = 1
        
							EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO			OUTPUT,
									@DC_ERRO				OUTPUT,
									@QT_LINHAS_AFETADAS		OUTPUT


							FETCH NEXT FROM @CURSOR_PESSOA
							INTO @CONTROLE, @NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
						END
					CLOSE       @CURSOR_PESSOA
					DEALLOCATE  @CURSOR_PESSOA


					-- CALCULA A REMUNERAÇÃO
					IF (@EVENTO_ATUALIZACAO_REMUNERACAO = 1) --DIARIO
						BEGIN
							
							-- VERIFICAR SE A REMUNERACAO DEVE SER CALCULADA DESTE O INICIO DO CICLO (limpa as tabelas de remuneração e calcula novamente deste o 1o dia do ciclo)  
							-- CURSOR DETALHE DA REMUNERACAO
							SET @CURSOR_DETALHE_REMUNERACAO = CURSOR FAST_FORWARD
							FOR     SELECT A.CD_MN_DETALHE_REMUNERACAO,A.CD_MN_REMUNERACAO, A.NM_CICLO, A.VL_REMUNERACAO
								FROM TB_MN_DETALHE_REMUNERACAO A, 
								TB_MN_REGRA_REMUNERACAO B,
								TB_PESSOA_RESUMO C
								WHERE A.NM_CICLO              = C.NM_CICLO_ATUAL
								AND   A.CD_PESSOA             = C.CD_PESSOA
								AND   A.CD_FUNCAO             = C.CD_FUNCAO
								AND   A.CD_REGRA_PREMIACAO_MN = B.CD_REMUNERACAO
								AND   B.ID_REGRA_CALCULO      IN (4,5) -- DIARIO DESTE O INICIO DO CICLO (PEDIDO E PESSOA)


							OPEN @CURSOR_DETALHE_REMUNERACAO
							FETCH NEXT FROM @CURSOR_DETALHE_REMUNERACAO
  							INTO @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO, @NM_CICLO_REMUNERACAO, @VL_REMUNERACAO
    
							WHILE @@FETCH_STATUS = 0
							BEGIN
								-- DELETAR DA TABELA DETALHE
								DELETE TB_MN_DETALHE_REMUNERACAO WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_DETALHE_REMUNERACAO AND NM_CICLO = @NM_CICLO_REMUNERACAO
								-- ATUALIZAR A TABELA CONSOLIDADA
								UPDATE TB_MN_REMUNERACAO SET VL_ORIGINAL = (VL_ORIGINAL - @VL_REMUNERACAO)
											,VL_AJUSTADO = (VL_AJUSTADO - @VL_REMUNERACAO)
								WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								-- VERIFICAR A TABELA CONSOLIDADA ESTA ZERADO
								SELECT @VL_ORIGINAL = VL_ORIGINAL
								FROM TB_MN_REMUNERACAO 
								WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								IF (@VL_ORIGINAL = 0)
								BEGIN
									DELETE TB_MN_REMUNERACAO WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								END 

								FETCH NEXT FROM @CURSOR_DETALHE_REMUNERACAO
  								INTO @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO, @NM_CICLO_REMUNERACAO, @VL_REMUNERACAO
  							END
							CLOSE       @CURSOR_DETALHE_REMUNERACAO
							DEALLOCATE  @CURSOR_DETALHE_REMUNERACAO

							-- CURSOR DE PESSOA
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_RESUMO B,
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F, TB_PESSOA_RESUMO G
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
										AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
										AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
										AND   F.CD_FUNCAO           = G.CD_FUNCAO
										AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
										AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_SITUACAO_COMERCIAL  NOT IN (0,4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
								AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = C.MAX_NIVEL
								AND   B.CD_FUNCAO                    = 2
								
								UNION 
        
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A
								WHERE A.CD_FUNCAO                    = 2
								AND   A.CD_SITUACAO_COMERCIAL  NOT IN (0,4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
								ORDER BY 1, 2 DESC, 3 DESC
						
						END -- fim DIARIO

					IF (@EVENTO_ATUALIZACAO_REMUNERACAO = 2)  -- FIM CICLO
						BEGIN
							-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
							SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
							FROM TB_MN_PARAMETROS

							-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
							SELECT @DT_FECHAMENTO = GETDATE() -1      
      
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_RESUMO B, TB_CALENDARIO_COMERCIAL C,
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F, TB_PESSOA_RESUMO G, TB_CALENDARIO_COMERCIAL H
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_EST_COMERCIAL                                                  = H.CD_EST_COMERCIAL
								AND   G.NM_CICLO_ATUAL                                                    = H.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, H.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) D
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_EST_COMERCIAL                                                  = C.CD_EST_COMERCIAL
								AND   B.NM_CICLO_ATUAL                                                    = C.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, C.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   B.CD_FUNCAO                                                         = 2
								AND   B.CD_SITUACAO_COMERCIAL                                             NOT IN (0,4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
								AND   A.CD_PESSOA_VINCULADA   = D.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = D.MAX_NIVEL
								AND   B.CD_FUNCAO             = 2
								
								UNION 
        
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A, TB_CALENDARIO_COMERCIAL B
								WHERE A.CD_EST_COMERCIAL                                                  = B.CD_EST_COMERCIAL
								AND   A.NM_CICLO_ATUAL                                                    = B.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, B.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   A.CD_FUNCAO                                                         = 2
								AND   A.CD_SITUACAO_COMERCIAL                                             NOT IN (0,4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								ORDER BY 1, 2 DESC, 3 DESC
		
						END -- fim CICLO
                                  
					OPEN @CURSOR_PESSOA
					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO  
  
					WHILE @@FETCH_STATUS = 0
						BEGIN
							EXEC SP_MN_CALCULA_REMUNERACAO_GENERICA
									@CD_PESSOA,
									@CD_FUNCAO,
									@NM_CICLO,
									@CD_EST_COMERCIAL,
    								--@NM_PEDIDO,  -- cada bônus vai definir o mecanismo de bonificação (pedido / indicador da pessoa)
									--@ID_ORIGEM,  -- atualmente não utiliza
									--@ID_MODO_EXECUCAO, --1 para pessoa e 2 para pedido    .... não vai precisar pq a procedure será generica
									@VAR_RETORNO OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT

							FETCH NEXT FROM @CURSOR_PESSOA
							INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO  
						END
					CLOSE       @CURSOR_PESSOA
					DEALLOCATE  @CURSOR_PESSOA

				END -- fim PAPEL



			IF (@CALCULA_PRIMEIRO = 2)   -- REMUNERAÇÃO
				BEGIN
					IF (@EVENTO_ATUALIZACAO_REMUNERACAO = 1) --DIARIO
						BEGIN
							-- VERIFICAR SE A REMUNERACAO DEVE SER CALCULADA DESTE O INICIO DO CICLO (limpa as tabelas de remuneração e calcula novamente deste o 1o dia do ciclo)  
							-- CURSOR DETALHE DA REMUNERACAO
							SET @CURSOR_DETALHE_REMUNERACAO = CURSOR FAST_FORWARD
							FOR     SELECT A.CD_MN_DETALHE_REMUNERACAO,A.CD_MN_REMUNERACAO, A.NM_CICLO, A.VL_REMUNERACAO
								FROM TB_MN_DETALHE_REMUNERACAO A, 
								TB_MN_REGRA_REMUNERACAO B,
								TB_PESSOA_RESUMO C
								WHERE A.NM_CICLO              = C.NM_CICLO_ATUAL
								AND   A.CD_PESSOA             = C.CD_PESSOA
								AND   A.CD_FUNCAO             = C.CD_FUNCAO
								AND   A.CD_REGRA_PREMIACAO_MN = B.CD_REMUNERACAO
								AND   B.ID_REGRA_CALCULO      IN (4,5) -- DIARIO DESTE O INICIO DO CICLO (PEDIDO E PESSOA)


							OPEN @CURSOR_DETALHE_REMUNERACAO
							FETCH NEXT FROM @CURSOR_DETALHE_REMUNERACAO
  							INTO @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO, @NM_CICLO_REMUNERACAO, @VL_REMUNERACAO
    
							WHILE @@FETCH_STATUS = 0
							BEGIN
								-- DELETAR DA TABELA DETALHE
								DELETE TB_MN_DETALHE_REMUNERACAO WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_DETALHE_REMUNERACAO AND NM_CICLO = @NM_CICLO_REMUNERACAO
								-- ATUALIZAR A TABELA CONSOLIDADA
								UPDATE TB_MN_REMUNERACAO SET VL_ORIGINAL = (VL_ORIGINAL - @VL_REMUNERACAO)
											,VL_AJUSTADO = (VL_AJUSTADO - @VL_REMUNERACAO)
								WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								-- VERIFICAR A TABELA CONSOLIDADA ESTA ZERADO
								SELECT @VL_ORIGINAL = VL_ORIGINAL
								FROM TB_MN_REMUNERACAO 
								WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								IF (@VL_ORIGINAL = 0)
								BEGIN
									DELETE TB_MN_REMUNERACAO WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								END 

								FETCH NEXT FROM @CURSOR_DETALHE_REMUNERACAO
  								INTO @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO, @NM_CICLO_REMUNERACAO, @VL_REMUNERACAO
  							END
							CLOSE       @CURSOR_DETALHE_REMUNERACAO
							DEALLOCATE  @CURSOR_DETALHE_REMUNERACAO


							-- CURSOR DE PESSOA
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_RESUMO B,
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F, TB_PESSOA_RESUMO G
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_SITUACAO_COMERCIAL  NOT IN (0,4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
								AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = C.MAX_NIVEL
								AND   B.CD_FUNCAO                    = 2
								
								UNION 

								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A
								WHERE A.CD_FUNCAO                    = 2
								AND   A.CD_SITUACAO_COMERCIAL  NOT IN (0,4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
								ORDER BY 1, 2 DESC, 3 DESC
						END -- fim DIARIO

					IF (@EVENTO_ATUALIZACAO_REMUNERACAO = 2)  -- FIM CICLO
						BEGIN
							-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
							SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
							FROM TB_MN_PARAMETROS

							-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
							SELECT @DT_FECHAMENTO = GETDATE() -1      
      
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_RESUMO B, TB_CALENDARIO_COMERCIAL C,
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F, TB_PESSOA_RESUMO G, TB_CALENDARIO_COMERCIAL H
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_EST_COMERCIAL                                                  = H.CD_EST_COMERCIAL
								AND   G.NM_CICLO_ATUAL                                                    = H.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, H.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) D
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_EST_COMERCIAL                                                  = C.CD_EST_COMERCIAL
								AND   B.NM_CICLO_ATUAL                                                    = C.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, C.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   B.CD_FUNCAO                                                         = 2
								AND   B.CD_SITUACAO_COMERCIAL                                             NOT IN (0,4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
								AND   A.CD_PESSOA_VINCULADA   = D.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = D.MAX_NIVEL
								AND   B.CD_FUNCAO             = 2
								
								UNION 

								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A, TB_CALENDARIO_COMERCIAL B
								WHERE A.CD_EST_COMERCIAL                                                  = B.CD_EST_COMERCIAL
								AND   A.NM_CICLO_ATUAL                                                    = B.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, B.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   A.CD_FUNCAO                                                         = 2
								AND   A.CD_SITUACAO_COMERCIAL                                             NOT IN (0,4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								ORDER BY 1, 2 DESC, 3 DESC

						END -- fim CICLO
                                  
					OPEN @CURSOR_PESSOA
					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
  
					WHILE @@FETCH_STATUS = 0
						BEGIN
							EXEC SP_MN_CALCULA_REMUNERACAO_GENERICA
									@CD_PESSOA,
									@CD_FUNCAO,
									@NM_CICLO,
									@CD_EST_COMERCIAL,
    								--@NM_PEDIDO,  -- cada bônus vai definir o mecanismo de bonificação (pedido / indicador da pessoa)
									--@ID_ORIGEM,  -- atualmente não utiliza
									--@ID_MODO_EXECUCAO, --1 para pessoa e 2 para pedido    .... não vai precisar pq a procedure será generica
									@VAR_RETORNO OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT

							FETCH NEXT FROM @CURSOR_PESSOA
							INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
						END
      
					CLOSE       @CURSOR_PESSOA
					DEALLOCATE  @CURSOR_PESSOA

					-- CALCULA O PLANO DE CARREIRA
					IF (@EVENTO_ATUALIZACAO_PAPEL = 1) --DIARIO
						BEGIN
							-- CURSOR DE PESSOA
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_RESUMO B,
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F, TB_PESSOA_RESUMO G
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_SITUACAO_COMERCIAL  NOT IN (0,4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
								AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = C.MAX_NIVEL
								AND   B.CD_FUNCAO                    = 2
								
								UNION 

								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A
								WHERE A.CD_FUNCAO                    = 2
								AND   A.CD_SITUACAO_COMERCIAL  NOT IN (0,4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
								ORDER BY 1, 2 DESC, 3 DESC
						END -- fim DIARIO

					IF (@EVENTO_ATUALIZACAO_PAPEL = 2)  -- FIM CICLO
						BEGIN
							-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
							SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
							FROM TB_MN_PARAMETROS

							-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
							SELECT @DT_FECHAMENTO = GETDATE() -1      
      
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_RESUMO B, TB_CALENDARIO_COMERCIAL C,
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F, TB_PESSOA_RESUMO G, TB_CALENDARIO_COMERCIAL H
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_EST_COMERCIAL                                                  = H.CD_EST_COMERCIAL
								AND   G.NM_CICLO_ATUAL                                                    = H.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, H.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) D
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_EST_COMERCIAL                                                  = C.CD_EST_COMERCIAL
								AND   B.NM_CICLO_ATUAL                                                    = C.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, C.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   B.CD_FUNCAO                                                         = 2
								AND   B.CD_SITUACAO_COMERCIAL                                             NOT IN (0,4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
								AND   A.CD_PESSOA_VINCULADA   = D.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = D.MAX_NIVEL
								AND   B.CD_FUNCAO             = 2
								
								UNION 

								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A, TB_CALENDARIO_COMERCIAL B
								WHERE A.CD_EST_COMERCIAL                                                  = B.CD_EST_COMERCIAL
								AND   A.NM_CICLO_ATUAL                                                    = B.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, B.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   A.CD_FUNCAO                                                         = 2
								AND   A.CD_SITUACAO_COMERCIAL                                             NOT IN (0,4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								ORDER BY 1, 2 DESC, 3 DESC

						END -- fim CICLO
                                  
					OPEN @CURSOR_PESSOA
					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
  
					WHILE @@FETCH_STATUS = 0
						BEGIN

							-- CALCULA OS INDICADORES DE QUALIFICAÇÃO
							SELECT	@ID_EVENTO                    = 6,  
									@ID_MOMENTO_CALCULO_INDICADOR = 2,
									@ID_TIPO_ATUALIZACAO          = 1

							EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO		OUTPUT,
									@DC_ERRO			OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT

							EXEC SP_MN_APLICA_PLANO_CARREIRA_GENERICA
									@CD_PESSOA,
									@CD_FUNCAO,
									@NM_CICLO,
									@CD_EST_COMERCIAL,
									--@ID_ORIGEM   INT, -- 1 - FIM DIA (PEDIDO) / 2 - FIM CICLO (PESSOA) ...  não tem necessidade pq o plano de carreira é calculado pessoa a pessoa 
									@VAR_RETORNO		OUTPUT,
									@DC_ERRO			OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT

							-- CALCULA OS INDICADORES DE BONIFICAÇÃO
							SELECT	@ID_EVENTO                    = 7,  
									@ID_MOMENTO_CALCULO_INDICADOR = 2,
									@ID_TIPO_ATUALIZACAO          = 1

							EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO		OUTPUT,
									@DC_ERRO			OUTPUT,	
									@QT_LINHAS_AFETADAS OUTPUT


							FETCH NEXT FROM @CURSOR_PESSOA
							INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO  
						END

					CLOSE       @CURSOR_PESSOA
					DEALLOCATE  @CURSOR_PESSOA

				END -- fim REMUNERAÇÃO


		END --fim SPATZ / TERRALI / FROW / HAVILA CESTAS / VIVER MAIS / PEFECT B (FARMASI)  / CMC / A SOS / EVINO / FANES

	-- **************************************************************************
	-- FIM DO MECANISMO GENERICO
	-- **************************************************************************


  
END TRY    
 
BEGIN CATCH
-- WHOOPS, THERE WAS AN ERROR
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
     
     
   IF @@TRANCOUNT > 0
    ROLLBACK
 
   -- RAISE AN ERROR WITH THE DETAILS OF THE EXCEPTION
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
 
END CATCH;
GO
