SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PlanoAdesaoInserePlanoAdesaoMenuSistemaEV]
	@p_codigoPlanoAdesao	NUMERIC(18,0),
	@p_codigoMenuSistemaEV	NUMERIC(18,0),
	
	@p_codigoUsuario		NUMERIC(18,0),
	@p_descAcao				VARCHAR(1),
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT

AS


BEGIN TRY

	    SELECT @p_qtdeLinhasAfetadas = 0

		IF @p_descAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PLANO_ADESAO_MENU_SISTEMA_EV (
					CD_PLANO_ADESAO,
					CD_MENU_SISTEMA_EV,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO )
						
				VALUES           (
					@p_codigoPlanoAdesao,
					@p_codigoMenuSistemaEV,
					GETDATE(),
					@p_codigoUsuario )
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoPlanoAdesao = IDENT_CURRENT('TB_PLANO_ADESAO')
			
				COMMIT TRANSACTION
			END	


		IF @p_descAcao = 'E'
			BEGIN
				IF ISNULL(@p_codigoMenuSistemaEV,0) = 0
					BEGIN
						DELETE FROM TB_PLANO_ADESAO_MENU_SISTEMA_EV
						WHERE CD_PLANO_ADESAO = @p_codigoPlanoAdesao
					END
				ELSE
					BEGIN
						DELETE FROM TB_PLANO_ADESAO_MENU_SISTEMA_EV
						WHERE CD_PLANO_ADESAO = @p_codigoPlanoAdesao
						AND CD_MENU_SISTEMA_EV = @p_codigoMenuSistemaEV
					END

				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT

			END	
			


		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
