SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_WINEHOUSE]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO
ID_Evento = 7 - FIM DIA = PÓS-QUALIFICAÇÃO
*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CALCULO           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
	@VL_CONTADOR_REGISTRO  NUMERIC(18,0),
	@VL_INDICADOR_1008     NUMERIC(18,2),
	@VL_INDICADOR_1010     NUMERIC(18,2),
	@VL_INDICADOR_1011     NUMERIC(18,2),
	@VL_INDICADOR_1002     NUMERIC(18,2),
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0)


BEGIN TRY
  
    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN

      --******************************************************************************
      -- GRAVA INDICADOR DE "Valor total de compras pessoais"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CALCULO = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
        WHERE A.CD_PESSOA              = @CD_PESSOA
        AND A.CD_FUNCAO                = @CD_FUNCAO		
--        AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
        AND A.NM_CICLO_CANCELAMENTO   IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
        AND A.NM_PEDIDO                = B.NM_PEDIDO
        AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
        AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de afiliados do club ativos diretos"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CALCULO =  isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A,
             (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
              FROM TB_WRK_MN_TOPOLOGIA B
              WHERE B.CD_PESSOA               = @CD_PESSOA
              AND   B.CD_FUNCAO               = @CD_FUNCAO
              AND   B.ID_ORDEM                = 2 -- DESCENDENTE
              AND   B.NM_CICLO                = @NM_CICLO
              AND   B.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
              AND   B.NM_NIVEL                = 1) B  -- NIVEL 1
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.NM_CICLO       = @NM_CICLO
        AND   A.CD_FUNCAO             = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.CD_INDICADOR_PESSOAL  = 1001
        AND   A.VL_INDICADOR_PESSOAL  > 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de afiliados do club até 7o nível"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CALCULO =  isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_RESUMO A,
             (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
              FROM TB_WRK_MN_TOPOLOGIA B
              WHERE B.CD_PESSOA               = @CD_PESSOA
              AND   B.CD_FUNCAO               = @CD_FUNCAO
              AND   B.ID_ORDEM                = 2 -- DESCENDENTE
              AND   B.NM_CICLO                = @NM_CICLO
              AND   B.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
              AND   B.NM_NIVEL               <= 7) B  -- NIVEL 7
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.CD_SITUACAO_COMERCIAL < 4

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de afiliados do club ativos até 7o nível"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CALCULO =  isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A,
             (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
              FROM TB_WRK_MN_TOPOLOGIA B
              WHERE B.CD_PESSOA               = @CD_PESSOA
              AND   B.CD_FUNCAO               = @CD_FUNCAO
              AND   B.ID_ORDEM                = 2 -- DESCENDENTE
              AND   B.NM_CICLO                = @NM_CICLO
              AND   B.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
              AND   B.NM_NIVEL               <= 7) B  -- NIVEL 7
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_FUNCAO             = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.CD_INDICADOR_PESSOAL  = 1001
        AND   A.VL_INDICADOR_PESSOAL  > 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de novos afiliados do club até 7o nível"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CALCULO = ISNULL(COUNT(DISTINCT B.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B, TB_PESSOA_RESUMO A, TB_CALENDARIO_COMERCIAL C
        WHERE B.CD_PESSOA_VINCULADA   = A.CD_PESSOA
        AND   B.CD_FUNCAO             = A.CD_FUNCAO
        AND   A.CD_EST_COMERCIAL      = C.CD_EST_COMERCIAL
        AND   CONVERT(DATE,A.DT_CADASTRO_PESSOA)  BETWEEN CONVERT(DATE,C.DT_INICIAL) AND CONVERT(DATE,C.DT_FINAL)
        AND   B.NM_CICLO              = C.NM_CICLO
--        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   B.CD_PESSOA             = @CD_PESSOA
        AND   B.CD_FUNCAO             = @CD_FUNCAO
        AND   B.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B.NM_CICLO              = @NM_CICLO
        AND   B.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B.NM_NIVEL             <= 7   -- NIVEL 7

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Valor das comissões acumuladas (kit inicio e afiliados do club)"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CALCULO = ISNULL(SUM(VL_REMUNERACAO),0) 
        FROM TB_MN_DETALHE_REMUNERACAO 
        WHERE CD_PESSOA = @CD_PESSOA
        AND CD_FUNCAO = @CD_FUNCAO
        --AND NM_CICLO  = @NM_CICLO
        --AND CD_REGRA_PREMIACAO_MN IN (1,2,3,4,5,6,7) -- BÔNUS - REDE

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1006
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END




      --******************************************************************************
      -- GRAVA INDICADOR DE "Trinca pessoal"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        SELECT @VL_CALCULO = dbo.FN_MN_CALCULA_TRINCAS_WINEHOUSE(@CD_PESSOA, @CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL) 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de trincas - diretos"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        SELECT 	@VL_INDICADOR_1008 =  isnull(COUNT(distinct A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A,
             (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
              FROM TB_WRK_MN_TOPOLOGIA B
              WHERE B.CD_PESSOA               = @CD_PESSOA
              AND   B.CD_FUNCAO               = @CD_FUNCAO
              AND   B.ID_ORDEM                = 2 -- DESCENDENTE
              AND   B.NM_CICLO                = @NM_CICLO
              AND   B.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
              AND   B.NM_NIVEL                = 1) B  -- NIVEL 1
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_FUNCAO             = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
        AND   A.CD_INDICADOR_PESSOAL  = 1007
        AND   A.VL_INDICADOR_PESSOAL  > 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1008
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_INDICADOR_1008,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_INDICADOR_1008,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Valor do bônus trinca - 1"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        -- VERIFICA SE NÃO ACABOU A CAMPANHA
	SELECT @VL_CONTADOR_REGISTRO = COUNT(DISTINCT CD_PESSOA)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_INDICADOR_PESSOAL  = 1009
	AND NM_CICLO            <= @NM_CICLO
--	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
        AND VL_INDICADOR_PESSOAL > 0
  
        IF (@VL_CONTADOR_REGISTRO < 100 )
	BEGIN
          IF ( (@VL_CONTADOR_REGISTRO + @VL_INDICADOR_1008) <= 100)
          BEGIN
	    SELECT @VL_CALCULO = (@VL_INDICADOR_1008 * 200)
          END
	  ELSE
          BEGIN
	    SELECT @VL_CALCULO = ((100-@VL_CONTADOR_REGISTRO) * 200)
          END
  
          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1009
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
	  					@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END



      --******************************************************************************
      -- GRAVA INDICADOR DE "Valor do bônus trinca - 2"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        -- VERIFICA SE NÃO ACABOU A CAMPANHA
	SELECT @VL_CONTADOR_REGISTRO = COUNT(DISTINCT CD_PESSOA)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_INDICADOR_PESSOAL  = 1010
	AND NM_CICLO            <= @NM_CICLO
--	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
        AND VL_INDICADOR_PESSOAL > 0
  
        IF (@VL_CONTADOR_REGISTRO < 10)
	BEGIN
          -- VERIFICA SE JÁ NÃO RECEBEU ESTE BÔNUS
	  SELECT @VL_INDICADOR_1010 = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
          WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_INDICADOR_PESSOAL  = 1010
	  AND NM_CICLO            <= @NM_CICLO
  --	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
          AND VL_INDICADOR_PESSOAL > 0

          IF (@VL_INDICADOR_1010 = 0)
          BEGIN
	    -- BUSCA O TOTAL DE ATIVAS DIRETOS
	    SELECT @VL_INDICADOR_1002 = ISNULL(VL_INDICADOR_PESSOAL,0)
	    FROM TB_PESSOA_INDICADOR
            WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_INDICADOR_PESSOAL  = 1002
	    AND NM_CICLO             = @NM_CICLO
    --	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

            IF (@VL_INDICADOR_1002 >= 5)
	    BEGIN
  	      -- BUSCA O TOTAL DE TRINCAS DIRETAS
	      SELECT @VL_INDICADOR_1008 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	      FROM TB_PESSOA_INDICADOR
              WHERE CD_PESSOA          = @CD_PESSOA
	      AND CD_INDICADOR_PESSOAL  = 1008
	      AND NM_CICLO            <= @NM_CICLO
    --	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL	
              
              IF (@VL_INDICADOR_1008 >=2)
	      BEGIN
  	        SELECT @VL_CALCULO = 1000
  		-- VERIFICA SE EXISTE O REGISTRO
  	  	SELECT @EXISTE_REGISTRO = COUNT(*)
	  	FROM TB_PESSOA_INDICADOR
	  	WHERE CD_PESSOA          = @CD_PESSOA
	  	AND CD_FUNCAO            = @CD_FUNCAO
	  	AND CD_INDICADOR_PESSOAL = 1010
	  	AND NM_CICLO             = @NM_CICLO
	  	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	        IF (@EXISTE_REGISTRO     = 0)
                BEGIN
	          EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
	  					@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
                END
	        ELSE
       	        BEGIN
	          EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
                END
              END
            END  
          END
        END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Valor do bônus trinca - 3"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        -- VERIFICA SE NÃO ACABOU A CAMPANHA
	SELECT @VL_CONTADOR_REGISTRO = COUNT(DISTINCT CD_PESSOA)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_INDICADOR_PESSOAL  = 1011
	AND NM_CICLO            <= @NM_CICLO
--	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
        AND VL_INDICADOR_PESSOAL > 0
  
        IF (@VL_CONTADOR_REGISTRO < 2)
	BEGIN
          -- VERIFICA SE JÁ NÃO RECEBEU ESTE BÔNUS
	  SELECT @VL_INDICADOR_1011 = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
          WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_INDICADOR_PESSOAL  = 1011
	  AND NM_CICLO            <= @NM_CICLO
  --	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
          AND VL_INDICADOR_PESSOAL > 0

          IF (@VL_INDICADOR_1011 = 0)
          BEGIN
	    -- BUSCA O TOTAL DE ATIVAS DIRETOS
	    SELECT @VL_INDICADOR_1002 = ISNULL(VL_INDICADOR_PESSOAL,0)
	    FROM TB_PESSOA_INDICADOR
            WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_INDICADOR_PESSOAL  = 1002
	    AND NM_CICLO             = @NM_CICLO
    --	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

            IF (@VL_INDICADOR_1002 >= 10)
	    BEGIN
  	      -- BUSCA O TOTAL DE TRINCAS DIRETAS
	      SELECT @VL_INDICADOR_1008 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	      FROM TB_PESSOA_INDICADOR
              WHERE CD_PESSOA          = @CD_PESSOA
	      AND CD_INDICADOR_PESSOAL  = 1008
	      AND NM_CICLO            <= @NM_CICLO
    --	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL	
              
              IF (@VL_INDICADOR_1008 >=5)
	      BEGIN
  	        SELECT @VL_CALCULO = 5000
  		-- VERIFICA SE EXISTE O REGISTRO
  	  	SELECT @EXISTE_REGISTRO = COUNT(*)
	  	FROM TB_PESSOA_INDICADOR
	  	WHERE CD_PESSOA          = @CD_PESSOA
	  	AND CD_FUNCAO            = @CD_FUNCAO
	  	AND CD_INDICADOR_PESSOAL = 1011
	  	AND NM_CICLO             = @NM_CICLO
	  	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	        IF (@EXISTE_REGISTRO     = 0)
                BEGIN
	          EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
	  					@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
                END
	        ELSE
       	        BEGIN
	          EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
                END
              END
            END  
          END
        END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Qualificação atual"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
        SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
               @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO 
        FROM TB_PESSOA_RESUMO
        WHERE CD_PESSOA = @CD_PESSOA
        AND   CD_FUNCAO = @CD_FUNCAO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1012
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@CD_PAPEL_CARREIRA,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@CD_PAPEL_CARREIRA,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Quantidade de linhas qualificadas para Mathusalem"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_DESEMPENHO >= 4)
	BEGIN

	        -- BUSCA A QUANTIDADE DE LINHAS QUALIFICADAS
        	SELECT @VL_CALCULO = dbo.FN_MN_CALCULA_LINHAS_QUALIFICADAS_WINEHOUSE (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, 10000)  -- MATHUSALEM 

	        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1013
		AND NM_CICLO             = @NM_CICLO
		AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
        	BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        	END
		ELSE
		BEGIN
		  	EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	   	END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Quantidade de linhas qualificadas para Balthazar"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_DESEMPENHO >= 4)
	BEGIN

	        -- BUSCA A QUANTIDADE DE LINHAS QUALIFICADAS
        	SELECT @VL_CALCULO = dbo.FN_MN_CALCULA_LINHAS_QUALIFICADAS_WINEHOUSE (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, 10000)  -- BALTHAZAR 

	        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1014
		AND NM_CICLO             = @NM_CICLO
		AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
        	BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        	END
		ELSE
		BEGIN
		  	EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	   	END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Quantidade de linhas qualificadas para Melchior"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_DESEMPENHO >= 4)
	BEGIN

	        -- BUSCA A QUANTIDADE DE LINHAS QUALIFICADAS
        	SELECT @VL_CALCULO = dbo.FN_MN_CALCULA_LINHAS_QUALIFICADAS_WINEHOUSE (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, 10000)  -- MELCHIOR

	        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1015
		AND NM_CICLO             = @NM_CICLO
		AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
        	BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        	END
		ELSE
		BEGIN
		  	EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	   	END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Quantidade de linhas qualificadas para Duplo Melchior"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_DESEMPENHO >= 4)
	BEGIN

	        -- BUSCA A QUANTIDADE DE LINHAS QUALIFICADAS
        	SELECT @VL_CALCULO = dbo.FN_MN_CALCULA_LINHAS_QUALIFICADAS_WINEHOUSE (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, 10000)  -- DUPLO MELCHIOR

	        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1016
		AND NM_CICLO             = @NM_CICLO
		AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
        	BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        	END
		ELSE
		BEGIN
		  	EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	   	END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Quantidade de linhas qualificadas para Triplo Melchior"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1017,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_DESEMPENHO >= 4)
	BEGIN

	        -- BUSCA A QUANTIDADE DE LINHAS QUALIFICADAS
        	SELECT @VL_CALCULO = dbo.FN_MN_CALCULA_LINHAS_QUALIFICADAS_WINEHOUSE (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, 20000)  -- TRIPLO MELCHIOR

	        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1017
		AND NM_CICLO             = @NM_CICLO
		AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
        	BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        	END
		ELSE
		BEGIN
		  	EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	   	END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE " Total de trincas - diretos (acumulado)"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1018,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        SELECT 	@VL_CALCULO =  isnull(SUM (A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A
        WHERE A.CD_PESSOA             = @CD_PESSOA
        AND   A.NM_CICLO             <= @NM_CICLO
        AND   A.CD_FUNCAO             = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
        AND   A.CD_INDICADOR_PESSOAL  = 1008
        
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1018
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Comprou o kit inicio"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1019,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        SELECT @VL_CALCULO = isnull(COUNT(DISTINCT A.NM_PEDIDO),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B, TB_PLANO_PAGAMENTO C
        WHERE A.CD_PESSOA              = @CD_PESSOA
        AND A.CD_FUNCAO                = @CD_FUNCAO		
--        AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
        AND A.NM_CICLO_CANCELAMENTO   IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
        AND A.NM_PEDIDO                = B.NM_PEDIDO
	    AND A.CD_PLANO_PAGAMENTO       = C.CD_PLANO_PAGAMENTO
        AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--        AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
	    AND C.ID_MEIO_PAGAMENTO       <> 11 -- RECORRENCIA	
		AND B.CD_PRODUTO_VENDA IN (8,9)  -- kit inicio

        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND	CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1019
		AND NM_CICLO             = @NM_CICLO
		AND	CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
		BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
		ELSE
		BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   		END
      END


     --******************************************************************************
      -- GRAVA INDICADOR DE "Comprou o plano de assinatura"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1020,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        SELECT @VL_CALCULO = isnull(COUNT(DISTINCT A.NM_PEDIDO),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B, TB_PLANO_PAGAMENTO C
        WHERE A.CD_PESSOA              = @CD_PESSOA
        AND A.CD_FUNCAO                = @CD_FUNCAO		
--        AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
        AND A.NM_CICLO_CANCELAMENTO   IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
        AND A.NM_PEDIDO                = B.NM_PEDIDO
	    AND A.CD_PLANO_PAGAMENTO       = C.CD_PLANO_PAGAMENTO
        AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--        AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
	    AND C.ID_MEIO_PAGAMENTO        = 11 -- RECORRENCIA	

        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND	CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1020
		AND NM_CICLO             = @NM_CICLO
		AND	CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
		BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
		ELSE
		BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   		END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Valor produtos avulso"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1021,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        SELECT @VL_CALCULO = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B, TB_PLANO_PAGAMENTO C
        WHERE A.CD_PESSOA              = @CD_PESSOA
        AND A.CD_FUNCAO                = @CD_FUNCAO		
--        AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
        AND A.NM_CICLO_CANCELAMENTO   IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
        AND A.NM_PEDIDO                = B.NM_PEDIDO
	    AND A.CD_PLANO_PAGAMENTO       = C.CD_PLANO_PAGAMENTO
        AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--        AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
	    AND C.ID_MEIO_PAGAMENTO       <> 11 -- RECORRENCIA	
		AND B.CD_PRODUTO_VENDA NOT IN (8,9)  -- kit inicio

        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND	CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1021
		AND NM_CICLO             = @NM_CICLO
		AND	CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
		BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
		ELSE
		BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   		END
      END



	  --******************************************************************************
      -- GRAVA INDICADOR DE "TOTAL DE COMPRAS PAGAS PELOS CONSUMIDORES FINAIS VINCULADOS"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1022,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        SELECT @VL_CALCULO = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
        WHERE A.CD_RV_INDICANTE          = @CD_PESSOA
        AND   A.NM_CICLO_PAGAMENTO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
        AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA          = @CD_PESSOA
		AND	CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 1022
		AND NM_CICLO             = @NM_CICLO
		AND	CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
		IF (@EXISTE_REGISTRO     = 0)
		BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
		ELSE
		BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   		END
      END



	  --******************************************************************************
      -- GRAVA INDICADOR DE "Total de novos cadastros no mês"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(2001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CALCULO =  isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_RESUMO A,
             (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
              FROM TB_WRK_MN_TOPOLOGIA B
              WHERE B.CD_PESSOA               = @CD_PESSOA
              AND   B.CD_FUNCAO               = @CD_FUNCAO
              AND   B.ID_ORDEM                = 2 -- DESCENDENTE
              AND   B.NM_CICLO                = @NM_CICLO
              AND   B.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
              AND   B.NM_NIVEL                = 1) B  -- NIVEL 1
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.NM_CICLO_INICIO       = @NM_CICLO
        AND   A.CD_FUNCAO             = @CD_FUNCAO




        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 2001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						2001,
						@VL_CALCULO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						2001,
						@VL_CALCULO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END






    END -- fim EVENTO = 6

    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
