SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaInsereLog]
	@p_codigoPessoa		NUMERIC(18,0),
	@p_codigoFuncao		NUMERIC(18,0),
	@p_descricaoCampo	VARCHAR(100),
	@p_descricaoValor	VARCHAR(100),
	@p_codigoUsuario	NUMERIC(18,0),
	@p_codigoErro		INT OUTPUT,
	@p_descErro			NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas INT OUTPUT
	
AS


BEGIN TRY

  SELECT @p_qtdeLinhasAfetadas = 0
  SELECT @p_codigoErro = 0

  BEGIN TRANSACTION 

  INSERT INTO TB_PESSOA_LOG (
		CD_PESSOA,
		CD_FUNCAO,
		DC_CAMPO,	
		DC_VALOR_NOVO,	
		DT_CADASTRO,
		CD_USUARIO_CADASTRO)
	VALUES
		(@p_codigoPessoa,
		@p_codigoFuncao,
		@p_descricaoCampo,
		@p_descricaoValor,
		GETDATE(),
		@p_codigoUsuario)


		
  SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
  COMMIT TRANSACTION
		

		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
