SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_PESSOA_PAPEL_HISTORICO_COMPLETO]
	@CD_PESSOA					NUMERIC(18, 0),
	@CD_FUNCAO					NUMERIC(18, 0),
	@CD_PAPEL_DESEMPENHO		NUMERIC(18, 0),
	@CD_PAPEL_CARREIRA			NUMERIC(18, 0),
		
	@VAR_RETORNO				INT OUTPUT,
	@DC_ERRO					NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS			INT OUTPUT
	
AS


DECLARE @V_QTD_REGISTROS AS INT
DECLARE	@V_QTD_REGISTROS_DESEMPENHO AS INT

BEGIN TRY

	-- *************************************************************************************************
	-- O OBJETIVO DA PROC É DE TER UM HISTORICO COMPLETO DO PAPEL CARREIRA E DESEMPENHO DA PESSOA
	-- TENDO DATA INICIAL E FINAL
	-- ASSIM VAMOS CONSEGUIR SABER EXATAMENTE COMO ESTAVAM OS PAPEIS NUMA DETERMINADA DATA
	-- FOI MELHOR CRIAR UMA NOVA PROC DO QUE ALTERAR A JA EXISTENTE DE DATA
	-- *************************************************************************************************
	SELECT @QT_LINHAS_AFETADAS = 0
	SELECT @VAR_RETORNO = 0
	
	-- ***********************************************************************************
	-- PRIMEIRO PASSO
	-- VAMOS VERIFICAR SE A PESSOA INFORMADA ESTA COM ALGUMA SITUAÇÃO EM ABERTO
	-- E TAMBEM VAMOS COMPARAR O PAPEL DESEMPENHO E PAPEL CARREIRA INFORMADOS
	-- SE ACHAR UM REGISTRO ENTÃO PODEMOS MANTER DO JEITO QUE ESTA
	-- POIS NÃO HOUVE ALTERAÇÃO DE PAPEL
	-- ***********************************************************************************
	SELECT @V_QTD_REGISTROS_DESEMPENHO = COUNT(*) 
	FROM TB_PESSOA_PAPEL_HISTORICO_COMPLETO
	WHERE CD_PESSOA = @CD_PESSOA
	AND CD_FUNCAO = @CD_FUNCAO
	AND CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO
	AND DT_FINAL IS NULL

	-- ******************************************************************************************************************
	-- SE FOR MAIOR QUE 0 SIGNIFICA QUE O PAPEL DESEMPENHO INFORMADO É IGUAL, ENTÃO NAO PRECISA FAZER NADA
	-- SE FOR IGUAL A 0 SIGNIFICA QUE NÃO ACHOU NENHUM REGISTRO
	-- EM ABERTO COM O PAPEL DESEMPENHO INFORMADO
	-- AGORA VAMOS FAZER A MESMA QUERY SEM O PAPEL DESEMPENHO
	-- *****************************************************************************************************************
	IF @V_QTD_REGISTROS_DESEMPENHO = 0
		BEGIN
				SELECT @V_QTD_REGISTROS = COUNT(*) 
				FROM TB_PESSOA_PAPEL_HISTORICO_COMPLETO
				WHERE CD_PESSOA = @CD_PESSOA
				AND CD_FUNCAO = @CD_FUNCAO
				AND DT_FINAL IS NULL

				-- FOI ENCONTRADO UM REGISTRO ABERTO COM OUTRO PAPEL DESEMPENHO
				-- VAMOS EDITAR A DATA FINAL E EM SEGUIDA VAMOS INSERIR O NOVO
				IF @V_QTD_REGISTROS > 0
					BEGIN
						BEGIN TRANSACTION
						UPDATE TB_PESSOA_PAPEL_HISTORICO_COMPLETO
						SET DT_FINAL = GETDATE(),  
							DT_ATUALIZACAO = GETDATE(),
							CD_USUARIO_ATUALIZACAO = 0,
							ID_SITUACAO_INTEGRACAO = 1
						WHERE CD_PESSOA = @CD_PESSOA
						AND CD_FUNCAO = @CD_FUNCAO
						AND DT_FINAL IS NULL
						COMMIT TRANSACTION
					END

				-- *********************************************************************
				-- BUSCA O PAPEL CARREIRA ATUAL, CASO O VALOR ESTEJA EM ZERO
				-- *********************************************************************
				IF @CD_PAPEL_CARREIRA = 0
					BEGIN
						SELECT @CD_PAPEL_CARREIRA = CD_PAPEL_CARREIRA
						FROM TB_PESSOA_RESUMO
						WHERE CD_PESSOA = @CD_PESSOA
						AND CD_FUNCAO = @CD_FUNCAO
					END

				-- *********************************************************************
				-- INSERE O NOVO REGISTRO
				-- *********************************************************************
				BEGIN TRANSACTION
				INSERT INTO TB_PESSOA_PAPEL_HISTORICO_COMPLETO (
					CD_PESSOA,
					CD_FUNCAO,
					CD_PAPEL_DESEMPENHO,
					CD_PAPEL_CARREIRA,
					DT_INICIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					ID_SITUACAO_INTEGRACAO)
				VALUES (
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_PAPEL_DESEMPENHO,
					@CD_PAPEL_CARREIRA,
					GETDATE(),
					GETDATE(),
					0,
					GETDATE(),
					0,
					1)
				COMMIT TRANSACTION

		END
	    

		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
