SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ListaPessoasPapelEvolucaoRegressaoEV]
        @NM_CICLO			NUMERIC(18,0),
        @CD_FUNCAO			NUMERIC(18,0),
        @ID_TIPO_OPERACAO	INT,  -- 1 - EVOLUCAO / 2 - REGRESSAO / 3 - AMBOS
        @CD_PESSOA			NUMERIC(18,0),
		@CD_PAPEL_CARREIRA  NUMERIC(18,0)
AS
DECLARE @CD_CLIENTE NUMERIC(18,0)


BEGIN
  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

  IF @CD_CLIENTE = 55
	BEGIN
			SELECT	A.CD_PESSOA [CÓDIGO],
				[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) [NOME] , 
				[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](B.CD_FUNCAO,B.CD_PAPEL_CARREIRA)  [QUALIFICAÇÃO CARREIRA], 
				[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  [QUALIFICAÇÃO RECONHECIMENTO]
		  FROM	TB_HIST_SITUACAO_CONSULTORA A, 
				TB_PESSOA_PAPEL_HISTORICO B,
				TB_WRK_MN_TOPOLOGIA C
		  WHERE A.CD_PESSOA = B.CD_PESSOA 
			AND A.NM_CICLO  = B.NM_CICLO
			AND A.CD_PESSOA = C.CD_PESSOA_VINCULADA
			AND C.ID_ORDEM  = 2
			AND A.NM_CICLO  = C.NM_CICLO
			AND A.NM_CICLO  =  @NM_CICLO
			AND B.CD_FUNCAO = @CD_FUNCAO
			AND C.CD_PESSOA = @CD_PESSOA
			AND (( @CD_PAPEL_CARREIRA > 0 AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA) OR (@CD_PAPEL_CARREIRA = 0)) 
			--****************************************************************************
			--Para a KENKO o relatorio verifica o papel carreira não o papel desempenho. *
			--****************************************************************************
			AND (( @ID_TIPO_OPERACAO = 1 AND B.CD_PAPEL_CARREIRA > (SELECT Z.CD_PAPEL_CARREIRA 
					FROM TB_PESSOA_PAPEL_HISTORICO Z 
				   WHERE Z.CD_PESSOA = B.CD_PESSOA 
					 AND Z.CD_FUNCAO = B.CD_FUNCAO
					 AND Z.NM_CICLO = DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO))) OR 
				( @ID_TIPO_OPERACAO = 2 AND B.CD_PAPEL_CARREIRA < (SELECT Z.CD_PAPEL_CARREIRA 
					FROM TB_PESSOA_PAPEL_HISTORICO Z 
				   WHERE Z.CD_PESSOA = B.CD_PESSOA 
					 AND Z.CD_FUNCAO = B.CD_FUNCAO
					 AND Z.NM_CICLO = DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)) )
		   			  OR (@ID_TIPO_OPERACAO = 3 AND B.CD_PAPEL_CARREIRA <> (SELECT Z.CD_PAPEL_CARREIRA 
					FROM TB_PESSOA_PAPEL_HISTORICO Z 
				   WHERE Z.CD_PESSOA = B.CD_PESSOA 
					 AND Z.CD_FUNCAO = B.CD_FUNCAO
					 AND Z.NM_CICLO = DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)) )) 
  			 ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA)
	END
	IF @CD_CLIENTE <> 55
		BEGIN
			SELECT	A.CD_PESSOA [CÓDIGO],
					[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) [NOME] , 
					[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](B.CD_FUNCAO,B.CD_PAPEL_CARREIRA)  [QUALIFICAÇÃO CARREIRA], 
					[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  [QUALIFICAÇÃO RECONHECIMENTO]
				FROM	TB_HIST_SITUACAO_CONSULTORA A, 
					TB_PESSOA_PAPEL_HISTORICO B,
					TB_WRK_MN_TOPOLOGIA C
				WHERE A.CD_PESSOA = B.CD_PESSOA 
				AND A.NM_CICLO  = B.NM_CICLO
				AND A.CD_PESSOA = C.CD_PESSOA_VINCULADA
				AND C.ID_ORDEM  = 2
				AND A.NM_CICLO  = C.NM_CICLO
				AND A.NM_CICLO  =  @NM_CICLO
				AND B.CD_FUNCAO = @CD_FUNCAO
				AND C.CD_PESSOA = @CD_PESSOA
				AND (( @CD_PAPEL_CARREIRA > 0 AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA) OR (@CD_PAPEL_CARREIRA = 0)) 
				AND ((@ID_TIPO_OPERACAO = 1 AND B.CD_PAPEL_CARREIRA < B.CD_PAPEL_DESEMPENHO) 
					OR (@ID_TIPO_OPERACAO = 2 AND B.CD_PAPEL_CARREIRA > B.CD_PAPEL_DESEMPENHO)
					OR (@ID_TIPO_OPERACAO = 3 AND B.CD_PAPEL_CARREIRA <> B.CD_PAPEL_DESEMPENHO )) 
  					ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA)
		END
END


GO
