SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PromocaoInserePromocaoBeneficioFaixa]
	@p_codigoPromocao				NUMERIC(18, 0),
	@p_codigoPromocaoRequisitoFaixa	NUMERIC(18, 0),
	@p_idTipoBeneficio				INT,
	@p_idFormaPremiacaoPromocao		INT,
	@p_codigoTipoBeneficio			NUMERIC(18, 0),
	@p_valorBeneficio				NUMERIC(18, 2),
	@p_idOperadorLogico				INT,
	@p_codigoMaterialBeneficio		NUMERIC(18,0),
	@p_idUnidadeBeneficio			int,
	@p_qtdeBeneficio				int,
	@p_idLimitaProduto				int,
	@p_qtdeBeneficioProduto			int,

	@p_codigoUsuario				NUMERIC(18,0),
	@p_descAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT,
	@p_codigoPromocaoBeneficioFaixa NUMERIC(18, 0) OUTPUT
	
AS

BEGIN TRY
	BEGIN TRANSACTION 
	
	    SELECT @p_qtLinhasAfetadas = 0, @p_codigoErro = 0, @p_descErro = ''

		IF @p_descAcao = 'I'
			BEGIN

				INSERT INTO TB_PROMOCAO_BENEFICIO_FAIXA (
					CD_PROMOCAO,
					CD_PROMOCAO_REQUISITO_FAIXA,
					ID_FORMA_PREMIACAO_PROMOCAO,
					ID_TIPO_BENEFICIO,
					CD_TIPO_BENEFICIO,
					NM_VALOR_BENEFICIO,
					ID_OPERADOR_LOGICO,
					CD_MATERIAL_BENEFICIO,
					ID_UNIDADE_BENEFICIO,
					QT_BENEFICIO,
					ID_LIMITA_APLICACAO_PRODUTO,
					QT_BENEFICIO_PRODUTO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO)
						
				VALUES  (
					@p_codigoPromocao,
					@p_codigoPromocaoRequisitoFaixa,
					@p_idFormaPremiacaoPromocao,
					@p_idTipoBeneficio,
					@p_codigoTipoBeneficio,
					@p_valorBeneficio,
					@p_idOperadorLogico,
					@p_codigoMaterialBeneficio,
					@p_idUnidadeBeneficio,
					--novos campos para as promoções de desconto
					@p_qtdeBeneficio,
					@p_idLimitaProduto,
					@p_qtdeBeneficioProduto,
					GETDATE(),
					@p_codigoUsuario )
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoPromocaoBeneficioFaixa = IDENT_CURRENT('TB_PROMOCAO_BENEFICIO_FAIXA')

			END	
			
		IF @p_descAcao = 'E'
			BEGIN
				DELETE FROM TB_PROMOCAO_BENEFICIO_FAIXA 
				WHERE CD_PROMOCAO = @p_codigoPromocao
										
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT						
			END	

			
		COMMIT TRANSACTION
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
