SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_POLITICA_ENTREGA_ITEM]
	@CD_POLITICA_ENTREGA NUMERIC(18,0),
	@CD_EST_GEOGRAFICA NUMERIC(18,0),
			
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	BEGIN TRANSACTION 
	

	    SELECT @QT_LINHAS_AFETADAS = 0
		
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN

				INSERT INTO TB_POLITICA_ENTREGA_ITEM (
					CD_POLITICA_ENTREGA,
					CD_EST_GEOGRAFICA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@CD_POLITICA_ENTREGA,
					@CD_EST_GEOGRAFICA,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				
			END	
			
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN

				DELETE FROM TB_POLITICA_ENTREGA_ITEM 
				WHERE CD_POLITICA_ENTREGA = @CD_POLITICA_ENTREGA
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				
			END

		COMMIT TRANSACTION
		
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
