SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GRAVA_HISTORICO_PEDIDO]
	@NM_PEDIDO NUMERIC(18,0),
	@CD_EST_SITUACAO NUMERIC(18,0),
	@ID_INICIO_FIM INT,	
	@ID_LIBERADO_PENDENCIA INT,
	@DC_MOTIVO VARCHAR(300),
	@CD_USUARIO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @V_POSSUI_INT_PEDIDO		INT,
		@v_codigoPedidoHistorico	NUMERIC(18,0),
		@v_descUsuario				VARCHAR(18)

BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0

			IF @ID_INICIO_FIM = 1
				BEGIN
					BEGIN TRANSACTION 
		
					-- CRIA REGISTRO
					INSERT INTO TB_PEDIDO_HISTORICO (
							NM_PEDIDO,
							CD_EST_SITUACAO,
							DT_INICIAL,
							CD_USUARIO_INICIAL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
					VALUES           (
							@NM_PEDIDO,
							@CD_EST_SITUACAO ,
							GETDATE(), 
							@CD_USUARIO, 
							GETDATE(), 
							@CD_USUARIO, 
							GETDATE(), 
							@CD_USUARIO
							)
						
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					SELECT @v_codigoPedidoHistorico = SCOPE_IDENTITY()
					COMMIT TRANSACTION
		
					-- ***********************************************************************
					-- INSERE O REGISTRO NA FILA DA API ATSVD EM DETERMINADAS SITUAÇÕES
					-- A PROCEDURE IRÁ VALIDAR SE A FILA ESTÁ ATIVA E IRÁ INSERIR O REGISTRO
					-- ***********************************************************************
					IF @CD_EST_SITUACAO IN (6,7,8,9,10,31,32,33,34,35,36,37,38,39)
						BEGIN
							SELECT @v_descUsuario = CONVERT(VARCHAR(18),@CD_USUARIO)

							EXEC dbo.pr_ApiInsereItemFilaApi 3, --Código da fila de STATUS PEDIDOS
															@v_codigoPedidoHistorico, -- PEDIDO
															'I', --INSERÇÃO
															@v_descUsuario, --USUÁRIO
															0,
															'',
															0
						END
				END
			ELSE
				BEGIN
					BEGIN TRANSACTION 
		
					-- ALTERA DATA FINAL
					UPDATE TB_PEDIDO_HISTORICO SET
						DT_FINAL = GETDATE(),
						CD_USUARIO_FINAL = @CD_USUARIO,
						DT_ATUALIZACAO = GETDATE(),
						ID_LIBERADO_PENDENCIA = @ID_LIBERADO_PENDENCIA,
						DC_MOTIVO = @DC_MOTIVO,
						CD_USUARIO_ATUALIZACAO = @CD_USUARIO
					WHERE NM_PEDIDO = @NM_PEDIDO
					    AND CD_EST_SITUACAO = @CD_EST_SITUACAO
					    AND DT_FINAL IS NULL
			
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					COMMIT TRANSACTION
								
				END

		-- ***********************************************************************
		-- ALTERADO POR ANDERSON - 05/02/2020
		-- VAMOS VERIFICAR SE EXISTE UMA INTEGRAÇÃO DE CADASTRO DE PEDIDOS 
		-- EM CASO POSITIVO VAMOS GRAVAR NA TABELA TB_PEDIDO A COLUNA ID_SITUACAO_INTEGRACAO = 1
		-- NÃO TERIA PROBLEMA EM SUBIR EM TODOS OS BANCOS POIS CASO NAO TENHA INTEGRAÇÃO NÃO GRAVA A INFORMAÇÃO
		-- ENTRETANTO VAMOS SOMENTE FAZER ESSE PASSO, CASO NÃO TENHA NM_PEDIDO_EXTERNO
		-- ISSO PORQUE NA LOWELL OS PEDIDOS JA FORAM INTEGRADOS, MAS O TRECHO ABAIXO
		-- ESTA COLOCANDO NOVAMENTE EM FILA
		-- ***********************************************************************
		SELECT @V_POSSUI_INT_PEDIDO = COUNT(*)
		FROM TB_INTEGRACAO A, TB_SERVICO_EXTERNO B
		WHERE A.CD_SERVICO_EXTERNO = B.CD_SERVICO_EXTERNO
		AND ID_TIPO_INTEGRACAO = 3
		AND B.ID_SITUACAO = 1

		IF @V_POSSUI_INT_PEDIDO > 0
			BEGIN
				UPDATE TB_PEDIDO SET ID_SITUACAO_INTEGRACAO = 1
				WHERE NM_PEDIDO = @NM_PEDIDO
				AND NM_PEDIDO_EXTERNO IS NULL
			END

		-- ***********************************************************************
		-- FIM
		-- ***********************************************************************
		
		
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
