SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorAtualizaTabTempTitulosMazza]
	@NM_PEDIDO						numeric(18,0),
	@NM_PEDIDO_EXTERNO				varchar(100),
	@DC_TIPO_TITULO					varchar(80),
	@DC_SITUACAO_TITULO				varchar(80),
	@DC_NUMERO_TITULO				varchar(80),
	@DT_EMISSAO_TITULO				varchar(20),
	@DT_VENCIMENTO_TITULO			varchar(20),
	@VL_ORIGINAL					numeric(18, 2),
	@VL_DESCONTO					numeric(18, 2),
	@VL_JUROS						numeric(18, 2),
	@VL_MULTA						numeric(18, 2),
	@VL_ODE							numeric(18, 2),
	@VL_PAGO						numeric(18, 2),
	@VL_TAXA						numeric(18, 2),
	@DC_CODIGO_CEDENTE				varchar(100),
	@DC_NOME_CEDENTE				varchar(200),
	@DC_DOCUMENTO_CEDENTE			varchar(100),
	@DC_AGENCIA_CEDENTE				varchar(100),
	@DC_DIGITO_AGENCIA_CEDENTE		varchar(5),
	@DC_CONTA_CEDENTE				varchar(100),
	@DC_DIGITO_CONTA_CEDENTE		varchar(10),
	@DC_CODIGO_CARTEIRA				varchar(10),
	@CD_BANCO						numeric(18, 0),
	@DC_INSTRUCOES_BOLETO			varchar(300),
	@DC_NOSSO_NUMERO				varchar(100),
	@ID_FORMA_PROTESTO				int,
	@NM_DIAS_PROTESTO				int,
	@ID_FORMA_BAIXA_TITULO			int,
	@NM_DIAS_BAIXA_TITULO			int,
	@DC_NUMERO_DOCUMENTO			varchar(100),

	@VL_BOLETO						numeric(18, 2),
	@DC_BENEFICIARIO				varchar(100),

	@DT_VENCIMENTO_PRO_TITULO		varchar(20),
		
	@DC_TIPO_FUNCAO					VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

BEGIN TRY
	
	SELECT @QT_LINHAS_AFETADAS = 0
		
	IF (@DT_VENCIMENTO_PRO_TITULO) = ''
			BEGIN
				SELECT @DT_VENCIMENTO_PRO_TITULO = NULL
			END
		ELSE
			BEGIN
				SELECT @DT_VENCIMENTO_PRO_TITULO = convert(datetime, @DT_VENCIMENTO_PRO_TITULO, 103) -- dd/mm/yyyy 
			END


	IF @DC_TIPO_FUNCAO = 'I'
		BEGIN

			SELECT @DT_EMISSAO_TITULO = convert(datetime, @DT_EMISSAO_TITULO, 103)
			SELECT @DT_VENCIMENTO_TITULO = convert(datetime, @DT_VENCIMENTO_TITULO, 103)
			
			INSERT INTO TB_WRK_SENIOR_TITULOS_MAZZA (
				NM_PEDIDO,
				NM_PEDIDO_EXTERNO,
				DC_TIPO_TITULO,
				DC_SITUACAO_TITULO,
				DC_NUMERO_TITULO,
				DT_EMISSAO_TITULO,
				DT_VENCIMENTO_TITULO,
				VL_ORIGINAL,
				VL_DESCONTO,
				VL_JUROS,
				VL_MULTA,
				VL_ODE,
				VL_PAGO,
				VL_TAXA,
				DT_CADASTRO,
				DC_CODIGO_CEDENTE,
				DC_NOME_CEDENTE,
				DC_DOCUMENTO_CEDENTE,
				DC_AGENCIA_CEDENTE,
				DC_DIGITO_AGENCIA_CEDENTE,
				DC_CONTA_CEDENTE,
				DC_DIGITO_CONTA_CEDENTE,
				DC_CODIGO_CARTEIRA,
				CD_BANCO,
				DC_INSTRUCOES_BOLETO,
				DC_NOSSO_NUMERO,
				ID_FORMA_PROTESTO,
				NM_DIAS_PROTESTO,
				ID_FORMA_BAIXA_TITULO,
				NM_DIAS_BAIXA_TITULO,
				DC_NUMERO_DOCUMENTO,
				VL_BOLETO,
				DC_BENEFICIARIO,
				ID_SITUACAO_PROCESSAMENTO,
				DT_VENCIMENTO_PRO_TITULO
				)

			VALUES (
				@NM_PEDIDO,
				@NM_PEDIDO_EXTERNO,
				@DC_TIPO_TITULO,
				@DC_SITUACAO_TITULO,
				@DC_NUMERO_TITULO,
				CONVERT(DATE, @DT_EMISSAO_TITULO, 103),
				CONVERT(DATE, @DT_VENCIMENTO_TITULO, 103),
				--@DT_EMISSAO_TITULO,
				--@DT_VENCIMENTO_TITULO,
				@VL_ORIGINAL,
				@VL_DESCONTO,
				@VL_JUROS,
				@VL_MULTA,
				@VL_ODE,
				@VL_PAGO,
				@VL_TAXA,
				GETDATE(),
				@DC_CODIGO_CEDENTE,
				@DC_NOME_CEDENTE,
				@DC_DOCUMENTO_CEDENTE,
				@DC_AGENCIA_CEDENTE,
				@DC_DIGITO_AGENCIA_CEDENTE,
				@DC_CONTA_CEDENTE,
				@DC_DIGITO_CONTA_CEDENTE,
				@DC_CODIGO_CARTEIRA,
				@CD_BANCO,
				@DC_INSTRUCOES_BOLETO,
				@DC_NOSSO_NUMERO,
				@ID_FORMA_PROTESTO,
				@NM_DIAS_PROTESTO,
				@ID_FORMA_BAIXA_TITULO,
				@NM_DIAS_BAIXA_TITULO,
				@DC_NUMERO_DOCUMENTO,
				@VL_BOLETO,
				@DC_BENEFICIARIO,
				1,
				@DT_VENCIMENTO_PRO_TITULO
				)
								
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
		END
		

	IF @DC_TIPO_FUNCAO = 'E'
		BEGIN

			DELETE FROM TB_WRK_SENIOR_TITULOS_MAZZA 
			WHERE NM_PEDIDO = @NM_PEDIDO

			SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		END		
			
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;









GO
