SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 26/08/2015
-- Description:	Insere o primeiro pedido para os cadastros oriundos do site redenacaoverde.com.br
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoInsereEnderecoPedido]
	
	@p_numeroPedido			numeric(18,0),
	@p_codigoEstGeografica	numeric(18,0),
	@p_descCEP				varchar(20),
	@p_descNumero			varchar(10),
	@p_descComplemento		varchar(60),
	@p_descUF				varchar(80),
	@p_descCidade			varchar(80),
	@p_descBairro			varchar(80),
	@p_descLogradouro		varchar(80),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS

DECLARE @v_codigoEstComercial		numeric(18,0)
DECLARE @v_codigoRegraComercial		numeric(18,0)
DECLARE @v_numeroCicloCaptacao		numeric(18,0)
DECLARE @v_codigoPapelCarreira		numeric(18,0)
DECLARE @v_codigoPapelDesempenho	numeric(18,0)

BEGIN TRY

	select @p_codigoErro = 0
	select @p_descricaoErro = ''
	select @p_linhasAfetadas = 0

	INSERT INTO TB_PEDIDO_ENDERECO VALUES (@p_numeroPedido,
		2, --Endereço de entrega
		@p_codigoEstGeografica,
		@p_descCEP,
		@p_descNumero,
		@p_descComplemento,
		null, --Referencia
		'Brasil',
		@p_descUF,
		@p_descCidade,
		@p_descBairro,
		@p_descLogradouro,
		null,
		null,
		null,
		null)
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
