SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_LojaVirtualInserirBannerFuncao]
	@p_codigoBanner			numeric(18,0),
	@p_codigoFuncao			int,

	@p_descricaoFuncao			VARCHAR(1),

	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT	

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
					
		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				select * from TB_LOJA_VIRTUAL_BANNER_FUNCAO
				INSERT INTO TB_LOJA_VIRTUAL_BANNER_FUNCAO(
					CD_LOJA_VIRTUAL_BANNER,
					CD_FUNCAO
					)	
				VALUES (
					@p_codigoBanner,
					@p_codigoFuncao
					)		

				SELECT @p_linhasAfetadas = @@ROWCOUNT			

				COMMIT TRANSACTION
			END	

		IF @p_descricaoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_LOJA_VIRTUAL_BANNER_FUNCAO 
				WHERE CD_LOJA_VIRTUAL_BANNER = @p_codigoBanner	
							
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
