SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_FANES]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO
ID_Evento = 7 - FIM DIA = BONIFICAÇÃO (PESSOAL)
ID_Evento = 8 - FIM DIA = BONIFICAÇÃO (GERAL)
*************************************************************************/

DECLARE	@EXISTE_REGISTRO                NUMERIC(18,0),
        @VL_CONTADOR                    NUMERIC(18,0),
        @VL_PERIODO_REAVALIACAO         NUMERIC(18,0),
        @VL_LIQUIDO_TOTAL               NUMERIC(18,2),
        @CALCULA_INDICADOR		INT,
        @CD_PAPEL_CARREIRA              NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO            NUMERIC(18,0)

	

BEGIN TRY
  


    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN
      --******************************************************************************
      -- GRAVA INDICADOR DE "Qual o kit inicio adquirido no ciclo"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = ISNULL(CASE  WHEN (SUM(B.VL_LIQUIDO_TOTAL) <= 1999                                     )  THEN 1
                                           WHEN (SUM(B.VL_LIQUIDO_TOTAL)  > 1999 AND SUM(B.VL_LIQUIDO_TOTAL) <= 2999 )  THEN 2
                                           WHEN (SUM(B.VL_LIQUIDO_TOTAL)  > 1999                                     )  THEN 3
                                      ELSE 0   END,0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
            (SELECT MIN(NM_PEDIDO) MIN_PEDIDO
             FROM TB_PEDIDO A
             WHERE A.CD_PESSOA             = @CD_PESSOA
             AND A.CD_FUNCAO               = @CD_FUNCAO		
             AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
             AND A.NM_CICLO_PAGAMENTO     <= @NM_CICLO
             AND A.NM_CICLO_CANCELAMENTO IS NULL) C     -- SOMENTE PEDIDO NÃO CANCELADO
	WHERE A.CD_PESSOA              = @CD_PESSOA
	AND A.CD_FUNCAO                = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
	AND A.NM_PEDIDO                = B.NM_PEDIDO
	AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
	AND A.NM_PEDIDO                = C.MIN_PEDIDO


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Compras pessoais de produtos regulares no ciclo"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_LIQUIDO_TOTAL = dbo.FN_MN_CALCULA_COMPRA_PESSOAL_FANES  (@CD_PESSOA,
                                                                            @CD_FUNCAO,
                                                                            @NM_CICLO,
                                                                            @CD_EST_COMERCIAL,
									    1)  -- COMPRA PESSOAL NO CICLO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_LIQUIDO_TOTAL ,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Qual o período atual da reavaliação (1o até 3o ciclo)"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_PERIODO_REAVALIACAO = dbo.FN_MN_CALCULA_PERIODO_REAVALIACAO_FANES  (@CD_PESSOA,
                                                                                       @CD_FUNCAO, 
                                                                                       @NM_CICLO,
                                                                                       @CD_EST_COMERCIAL )

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_PERIODO_REAVALIACAO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_PERIODO_REAVALIACAO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Média de compras pessoais de produtos regulares na reavaliação"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_LIQUIDO_TOTAL = dbo.FN_MN_CALCULA_COMPRA_PESSOAL_FANES  (@CD_PESSOA,
                                                                            @CD_FUNCAO,
                                                                            @NM_CICLO,
                                                                            @CD_EST_COMERCIAL,
									    2)  -- MÉDIA DE COMPRAS PESSOAIS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_LIQUIDO_TOTAL ,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Qualificação atual"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
        SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
               @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO 
        FROM TB_PESSOA_RESUMO
        WHERE CD_PESSOA = @CD_PESSOA
        AND   CD_FUNCAO = @CD_FUNCAO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@CD_PAPEL_CARREIRA,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@CD_PAPEL_CARREIRA,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de ciclos consecutivos ativo (a)"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA >= 3 
 	BEGIN 
          SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_QDE_CICLOS_ATIVOS_FANES (@CD_PESSOA,
                                                                           @CD_FUNCAO,
                                                                           @NM_CICLO)  
          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
 	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1006
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de novos estilistas diretos no ciclo"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_ESTILISTAS_EQUIPE_FANES (@CD_PESSOA,
                                                                    @CD_FUNCAO,
                                                                    @NM_CICLO,
                                                                    @CD_EST_COMERCIAL,
								    1, -- DIRETOS
                                                                    1) -- CICLO ATUAL
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
 	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END




     --******************************************************************************
      -- GRAVA INDICADOR DE "Total de novos estilistas diretos em 3 ciclos"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA >= 3 
 	BEGIN 
           SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_ESTILISTAS_EQUIPE_FANES (@CD_PESSOA,
                                                                    @CD_FUNCAO,
                                                                    @NM_CICLO,
                                                                    @CD_EST_COMERCIAL,
								    1, -- DIRETOS
                                                                    3) -- CICLO ATUAL + 2 CICLOS ANTERIORES
          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
 	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1008
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END




      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de estilistas da equipe no ciclo"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA = 4 
 	BEGIN 
           SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_ESTILISTAS_EQUIPE_FANES (@CD_PESSOA,
                                                                    @CD_FUNCAO,
                                                                    @NM_CICLO,
                                                                    @CD_EST_COMERCIAL,
								    2, -- EQUIPE (DIRETOS e INDIRETOS)
                                                                    1) -- CICLO ATUAL
          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
 	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1009
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END





      --******************************************************************************
      -- GRAVA INDICADOR DE "Média de compras da equipe de produtos regulares na reavaliação"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA = 4 
 	BEGIN 
           SELECT @VL_LIQUIDO_TOTAL  = dbo.FN_MN_CALCULA_MEDIA_EQUIPE_REAVALIACAO_FANES (@CD_PESSOA,
                                                                                         @CD_FUNCAO,
                                                                                         @NM_CICLO,
                                                                                         @CD_EST_COMERCIAL )  

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
 	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1010
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END





      --******************************************************************************
      -- GRAVA INDICADOR DE "Compras da equipe de produtos regulares no ciclo"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA = 4 
 	BEGIN 
           SELECT @VL_LIQUIDO_TOTAL  = dbo.FN_MN_CALCULA_COMPRA_EQUIPE_FANES (@CD_PESSOA,
                                                                              @CD_FUNCAO ,
                                                                              @NM_CICLO ,
                                                                              @CD_EST_COMERCIAL) 

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
 	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1011
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Atividade da equipe da Estilista Executiva no ciclo"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA = 4 
 	BEGIN 

          SELECT @VL_LIQUIDO_TOTAL = (SUM(B.INDICADOR_1011) / SUM(B.INDICADOR_1009)  )
          FROM (SELECT CASE WHEN (CD_INDICADOR_PESSOAL = 1009) THEN VL_INDICADOR_PESSOAL END INDICADOR_1009,
                       CASE WHEN (CD_INDICADOR_PESSOAL = 1011) THEN VL_INDICADOR_PESSOAL END INDICADOR_1011
	        FROM TB_PESSOA_INDICADOR
	        WHERE CD_PESSOA          = @CD_PESSOA
	        AND CD_FUNCAO            = @CD_FUNCAO
	        AND CD_INDICADOR_PESSOAL IN (1009,1011)
	        AND NM_CICLO             = @NM_CICLO
	        AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL) B

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
 	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1012
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Qualificação calculada "
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_QUALIFICACAO_REAVALIACAO_FANES (@CD_PESSOA ,
                                                                                @CD_FUNCAO ,
                                                                                @NM_CICLO     ,
                                                                                @CD_EST_COMERCIAL)  


        -- VERIFICA SE EXISTE O REGISTRO
  	SELECT @EXISTE_REGISTRO = COUNT(*)
 	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1013
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
        IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	 EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
        END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Compras liquidas da equipe de produtos regulares no ciclo"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA = 4 
 	BEGIN 

          SELECT @VL_LIQUIDO_TOTAL = ISNULL(A.VL_INDICADOR_PESSOAL * ( 1 - (B.VL_PARAMETRO / 100)),0)
          FROM TB_PESSOA_INDICADOR A,
              (select vl_parametro from TB_VALOR_PARAMETRO where CD_GRUPO_PARAMETRO = 7 and CD_PARAMETRO = 21) B  -- percentual de desconto
	  WHERE A.CD_PESSOA          = @CD_PESSOA
	  AND A.CD_FUNCAO            = @CD_FUNCAO
	  AND A.CD_INDICADOR_PESSOAL = 1011
	  AND A.NM_CICLO             = @NM_CICLO
	  AND A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
 	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1014
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


    END -- fim EVENTO = 6

    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
