SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaInsereMaterialGarantia]
	@p_codigoPessoaMaterialGarantia		NUMERIC(18,0),
	@p_codigoPessoa						NUMERIC(18,0),
	@p_codigoMaterial					NUMERIC(18,0),
	@p_descSerie						VARCHAR(500),
	@p_numeroPedido						VARCHAR(50),
	@p_numeroDiasGarantia				INT,
	@p_dataVencimento					DATETIME,
	@p_dataCadastro						DATETIME,
	@p_codigoUsuario					NUMERIC(18,0),
	@p_descAcao							VARCHAR(1),
	@p_idOrigem							INT,

	@p_codigoErro						INT OUTPUT,
	@p_descricaoErro					VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas					INT OUTPUT,
	@p_codigoGerado						NUMERIC(18,0) OUTPUT

AS

BEGIN TRY

		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		IF @p_descAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				INSERT INTO TB_PESSOA_MATERIAL_GARANTIA 
				(
					CD_PESSOA,
					CD_MATERIAL,
					DC_SERIE,
					NM_PEDIDO,
					NM_DIAS_GARANTIA,
					DT_VENCIMENTO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					ID_ORIGEM)
					VALUES(
					@p_codigoPessoa,
					@p_codigoMaterial,
					@p_descSerie,
					@p_numeroPedido,
					@p_numeroDiasGarantia,
					@p_dataVencimento,
					@p_dataCadastro,
					@p_codigoUsuario,
					GETDATE(),
					@p_codigoUsuario,
					@p_idOrigem
					)
					SELECT @p_linhasAfetadas = @@ROWCOUNT
					SELECT @p_codigoGerado = IDENT_CURRENT('TB_PESSOA_MATERIAL_GARANTIA')
				COMMIT TRANSACTION
			END	

		IF @p_descAcao = 'A'
			BEGIN
				BEGIN TRANSACTION

				UPDATE  TB_PESSOA_MATERIAL_GARANTIA SET
					CD_PESSOA = @p_codigoPessoa,
					CD_MATERIAL = @p_codigoMaterial,
					DC_SERIE = @p_descSerie,
					NM_PEDIDO = @p_numeroPedido,
					NM_DIAS_GARANTIA = @p_numeroDiasGarantia,
					DT_VENCIMENTO = @p_dataVencimento,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
			
				WHERE CD_PESSOA_MATERIAL_GARANTIA = @p_codigoPessoaMaterialGarantia

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

		IF @p_descAcao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM TB_PESSOA_MATERIAL_GARANTIA 
				WHERE CD_PESSOA_MATERIAL_GARANTIA = @p_codigoPessoaMaterialGarantia

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
