SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_MNVerificaPossuiBonificacaoSplitPagamento](@p_codigoFuncao int)
AS
	-- ESTA PROCEDURE IRÁ VERIFICAR SE EXISTE ALGUMA BONIFICAÇÃO QUE UTILIZA O SPLIT DE PAGAMENTO PARA UTILIZARMOS NA LOJA VIRTUAL / EV
	-- CASO EXISTA O SPLIT IREMOS DISPARAR AS DEVIDAS INTEGRAÇÕES NO CÓDIGO QUANDO NECESSÁRIO
	SELECT CD_REMUNERACAO, ID_UTILIZA_SPLIT_PAGAMENTO
	  FROM TB_MN_REGRA_REMUNERACAO WITH(NOLOCK)
	 WHERE ISNULL(ID_UTILIZA_SPLIT_PAGAMENTO,0) > 1
	   AND CD_PAPEL_INICIO_RECEBE_REMUNERACAO IN (SELECT CD_PAPEL_CARREIRA FROM TB_PAPEL_CARREIRA WITH(NOLOCK) WHERE CD_FUNCAO = @p_codigoFuncao)
	   AND CD_PAPEL_FIM_RECEBE_REMUNERACAO IN (SELECT CD_PAPEL_CARREIRA FROM TB_PAPEL_CARREIRA WITH(NOLOCK) WHERE CD_FUNCAO = @p_codigoFuncao)

GO
