SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PessoaAlteraPessoaFisicaParaJuridica]
	@p_codigoPessoa			  NUMERIC(18,0),

	@p_dcRazaoSocial		  VARCHAR(100),
	@p_idTipoAtividade		  INT,
	@p_dcNomeFantasia		  VARCHAR(100),
	@p_cdCNPJ				  VARCHAR(100),
	@p_OrgaoCNPJ			  VARCHAR(100),

	@p_cdInscricaoEstad		  VARCHAR(100),
	@p_OrgaoInscricaoEstad	  VARCHAR(100),
	@p_codigoPessoaLogin	  NUMERIC(18,0),

	@p_codigoErro			  INT OUTPUT,
	@p_descErro				  VARCHAR(200) OUTPUT,
	@p_qtdeLinhasAfetadas	  INT OUTPUT
	
AS

DECLARE @v_dataCadastro			DATE
DECLARE @v_cdUsuarioCadastro	NUMERIC(18,0)
DECLARE @v_RgPessoaFisica		VARCHAR(100)

DECLARE @v_nmCiclo				NUMERIC(18,0)
DECLARE @v_cdPapelCarreira		INT
DECLARE @v_verRegistroAceite	INT
DECLARE @v_codigoErro			int
DECLARE @v_descricaoErro		varchar(1000)	
DECLARE @v_linhasAfetadas		int				

				
BEGIN TRY
	    
		SELECT @v_cdUsuarioCadastro = CD_USUARIO_CADASTRO,
			   @v_dataCadastro = DT_CADASTRO 
		  FROM TB_PESSOA_FISICA WITH(NOLOCK)
		 WHERE CD_PESSOA = @p_codigoPessoa

		 SELECT @v_RgPessoaFisica = DC_DOCUMENTO 
		   FROM TB_PESSOA_DOCUMENTO WITH(NOLOCK) 
		  WHERE CD_PESSOA = @p_codigoPessoa 
		    AND ID_TIPO_DOCUMENTO = 2

	    SELECT @p_qtdeLinhasAfetadas = 0
	    SELECT @p_codigoErro = 0


		-- ********************************************************************
		-- Faz UPDATE NA TB_PESSOA
		-- ********************************************************************
		UPDATE TB_PESSOA
			SET ID_TIPO_PESSOA = 2 --PJ
   		  WHERE CD_PESSOA = @p_codigoPessoa

		-- ********************************************************************
		-- INSERE PESSOA JURIDICA
		-- ********************************************************************
			INSERT INTO TB_PESSOA_JURIDICA
					(CD_PESSOA,
					 DC_RAZAO_SOCIAL,
					 DC_NOME_FANTASIA,
					 ID_TIPO_ATIVIDADE,
					 DT_CADASTRO,
					 CD_USUARIO_CADASTRO,
					 DT_ATUALIZACAO,
					 CD_USUARIO_ATUALIZACAO)
				VALUES
					 (@p_codigoPessoa,
					 @p_dcRazaoSocial,
					 @p_dcNomeFantasia,
					 @p_idTipoAtividade,
					 @v_dataCadastro,
					 @v_cdUsuarioCadastro,
					 GETDATE(),
					 @p_codigoPessoaLogin)

		-- ********************************************************************
		-- DELETA PESSOA FISICA
		-- ********************************************************************
		DELETE FROM TB_PESSOA_FISICA WHERE CD_PESSOA = @p_codigoPessoa

		-- ********************************************************************
		-- UPDATE NA TABELA DE DOCUMENTO
		-- ********************************************************************
		IF LEN(@p_cdCNPJ) > 0
		BEGIN 
			UPDATE TB_PESSOA_DOCUMENTO 
			   SET DC_DOCUMENTO = @p_cdCNPJ,
				   DC_ORGAO = @p_OrgaoCNPJ
   		     WHERE CD_PESSOA = @p_codigoPessoa 
			   AND ID_TIPO_DOCUMENTO = 1 --- CNPJ
		END

		--SE A INSCRIÇÃO ESTIVER VAZIA, E HOUVER RG DE PESSOA FISICA, DELETA O CAMPO
		IF LEN(@p_cdInscricaoEstad) = 0 AND LEN(@v_RgPessoaFisica) > 0
		 BEGIN
			DELETE FROM TB_PESSOA_DOCUMENTO 
			 WHERE CD_PESSOA = @p_codigoPessoa 
			   AND ID_TIPO_DOCUMENTO = 2 --- IE
		 END

		IF LEN(@p_cdInscricaoEstad) > 0
		BEGIN 
			UPDATE TB_PESSOA_DOCUMENTO 
			   SET DC_DOCUMENTO = @p_cdInscricaoEstad,
				   DC_ORGAO = @p_OrgaoInscricaoEstad
   		     WHERE CD_PESSOA = @p_codigoPessoa 
			   AND ID_TIPO_DOCUMENTO = 2 --- IE
		END

		-- ********************************************************************
		-- UPDATE NA TABELA DE ENDEREÇO
		-- ********************************************************************

		UPDATE TB_PESSOA_ENDERECO 
		   SET ID_TIPO_ENDERECO = 3 
		 WHERE CD_PESSOA = @p_codigoPessoa 
		   AND ID_TIPO_ENDERECO = 1


		   SELECT @v_verRegistroAceite = COUNT(*) FROM TB_PESSOA_RESUMO WITH(NOLOCK)
		    WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 2
	
	IF @v_verRegistroAceite > 0
	BEGIN
			SELECT @v_nmCiclo = NM_CICLO_ATUAL,
					@v_cdPapelCarreira = CD_PAPEL_CARREIRA
		  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
		 WHERE CD_PESSOA = @p_codigoPessoa
		   AND CD_FUNCAO = 2

		EXEC pr_PessoaGeraAceiteAlteraPapelCarreira 
		@p_codigoPessoa,
		2,
		@v_nmCiclo,
		'',
		@v_cdPapelCarreira,
		@v_codigoErro output,
		@v_descricaoErro output,
		@v_linhasAfetadas output

	END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
