SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Diego Zilioti
-- Create date: 26/08/2016
-- Description:	Gera o pedido consolidado por estabelecimento para a Hello Cash
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoGeraPedidoConsolidadoEstabelecimentoHelloCash]
	
	@p_codigoEstabelecimento	numeric(18,0),
	
	@p_codigoUsuario			numeric(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS

DECLARE @v_cursorEstabelecimentos	cursor,
		@v_cursorPedidos			cursor,
		@v_cursorPedidosFilho		cursor,
		@v_codigoEmpresa			numeric(18,0),
		@v_numeroPedidoFilho		numeric(18,2),
		@v_valorRepassePedidoFilho	numeric(18,2),
		@v_valorRepasseConsolidado	numeric(18,2),
		@v_numeroPedidoPai			numeric(18,0),
		@v_codigoEstComercial		numeric(18,0),
		@v_codigoRegraComercial		numeric(18,0),
		@v_numeroCicloCaptacao		numeric(18,0),
		@v_codigoPapelCarreira		numeric(18,0),
		@v_codigoPapelDesempenho	numeric(18,0)
DECLARE @v_codigoEstGeografica	numeric(18,0),
		@v_descCEP				varchar(20),
		@v_descNumero			varchar(10),
		@v_descComplemento		varchar(60),
		@v_descUF				varchar(80),
		@v_descCidade			varchar(80),
		@v_descBairro			varchar(80),
		@v_descLogradouro		varchar(80)
		
DECLARE @v_pedidosFilho table(pedido numeric(18,0))

BEGIN TRY
	
	if @p_codigoEstabelecimento > 0
		begin
			SET @v_cursorEstabelecimentos = CURSOR FAST_FORWARD
			FOR
				SELECT CD_ESTABELECIMENTO, CD_EMPRESA
				FROM TB_ESTABELECIMENTO
				WHERE CD_ESTABELECIMENTO = @p_codigoEstabelecimento
				AND ID_SITUACAO = 1
		end
	ELSE
		BEGIN
			SET @v_cursorEstabelecimentos = CURSOR FAST_FORWARD
			FOR
				SELECT CD_ESTABELECIMENTO, CD_EMPRESA
				FROM TB_ESTABELECIMENTO
				WHERE ID_SITUACAO = 1
		END
	
	open @v_cursorEstabelecimentos
	FETCH NEXT FROM @v_cursorEstabelecimentos
	INTO @p_codigoEstabelecimento, @v_codigoEmpresa
		
	WHILE @@FETCH_STATUS = 0
		BEGIN
		
			--zera o valor consolidado para somar os pedidos
			select @v_valorRepasseConsolidado = 0
			delete from @v_pedidosFilho
			
			--busca os pedidos por estabelecimento
			SET @v_cursorPedidos = CURSOR FAST_FORWARD
			FOR
			select pde.NM_PEDIDO, pde.VL_PERCENTUAL_REPASSE_PEDIDO
			  from TB_PEDIDO pd, TB_PEDIDO_ESTABELECIMENTO pde
			 where pd.NM_PEDIDO = pde.NM_PEDIDO
			   and pde.CD_ESTABELECIMENTO = @p_codigoEstabelecimento
			   and pd.NM_PEDIDO_PAI IS NULL
			   
			OPEN @v_cursorPedidos
			FETCH NEXT FROM @v_cursorPedidos
			INTO @v_numeroPedidoFilho, @v_valorRepassePedidoFilho
			
			while @@FETCH_STATUS = 0
				begin
					
					--neste cursor iremos consolidar os valores de pedido e os pedidos para posteriormente criar o pedido PAI
					select @v_valorRepasseConsolidado += @v_valorRepassePedidoFilho
					insert into @v_pedidosFilho values (@v_numeroPedidoFilho)
									
					FETCH NEXT FROM @v_cursorPedidos
					INTO @v_numeroPedidoFilho, @v_valorRepassePedidoFilho
				end
			
			--verifica se existe algum valor de pedido caso exista significa que existem pedidos para o estabelecimento
			
			if @v_valorRepasseConsolidado > 0
				begin
				
					--vamos gerar o pedido PAI
					--Busca os dados para inserir o pedido
					SELECT @v_codigoEstComercial = 5,
						   @v_codigoPapelCarreira = 7,
						   @v_codigoPapelDesempenho = 7,
						   @v_numeroCicloCaptacao = isnull(NM_CICLO_ATUAL,0)
					  FROM TB_PESSOA_RESUMO
					 WHERE CD_PESSOA = @v_codigoEmpresa
					   AND CD_FUNCAO = 5
					   
					--Busca a primeira regra comercial disponível
			
					SELECT  @v_codigoRegraComercial = 1
				
					--Insere o pedido
					
					select @p_codigoErro = 0
					select @p_descricaoErro = ''
					select @v_numeroPedidoPai = 0
					
					EXEC pr_PedidoInserePedido  @v_codigoEmpresa,
												5,
												@v_codigoEstComercial,
												1, --Em Captação
												@v_codigoRegraComercial,
												@v_numeroCicloCaptacao,
												@v_codigoPapelCarreira,
												@v_codigoPapelDesempenho,
												3, --Site Externo
												'',
												@p_codigoUsuario,
												@p_codigoErro output,
												@p_descricaoErro output,
												@p_linhasAfetadas output,
												@v_numeroPedidoPai output
					if @p_codigoErro > 0
						begin
							return
						end
						
					SELECT @v_numeroPedidoPai = IDENT_CURRENT('TB_PEDIDO')		
					
					--No caso da Hello Cash vamos atualizar os valores diretamente pois os pedidos não terão itens
					update TB_PEDIDO set VL_LIQUIDO_TOTAL = @v_valorRepasseConsolidado,
										 VL_TABELA_TOTAL = @v_valorRepasseConsolidado,
										 VL_PRATICADO_TOTAL = @v_valorRepasseConsolidado,
										 VL_PAGAR_TOTAL = @v_valorRepasseConsolidado,
										 VL_CREDITO_TOTAL = 0,
										 CD_PLANO_PAGAMENTO = 0
					 where NM_PEDIDO = @v_numeroPedidoPai
					 
					--agora vamos colocar a informação do pedido pai nos filhos
					set @v_cursorPedidosFilho = cursor fast_forward
					FOR
						select pedido from @v_pedidosFilho
						
					open @v_cursorPedidosFilho
					fetch next from @v_cursorPedidosFilho
					into @v_numeroPedidoFilho
					
					while @@FETCH_STATUS = 0
						begin
						
							update TB_PEDIDO set NM_PEDIDO_PAI = @v_numeroPedidoPai
							 where NM_PEDIDO in (@v_numeroPedidoFilho)
							 
							fetch next from @v_cursorPedidosFilho
							into @v_numeroPedidoFilho
						end
						
					--Abre o histórico em captação e fecha em seguida
					EXEC SP_GRAVA_HISTORICO_PEDIDO @v_numeroPedidoPai,
												   1,
												   1,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					EXEC SP_GRAVA_HISTORICO_PEDIDO @v_numeroPedidoPai,
												   1,
												   2,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					--Abre o histórico em integração e fecha em seguida
					EXEC SP_GRAVA_HISTORICO_PEDIDO @v_numeroPedidoPai,
												   9,
												   1,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					EXEC SP_GRAVA_HISTORICO_PEDIDO @v_numeroPedidoPai,
												   9,
												   2,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					update TB_PEDIDO set CD_EST_SITUACAO = 9 where NM_PEDIDO = @v_numeroPedidoPai
												   
					
					--Gera a dívida para o pedido
					exec pr_DividaGeraDivida @v_numeroPedidoPai,
											 1,
											 0,
											 @p_codigoErro output,
											 @p_descricaoErro output,
											 @p_linhasAfetadas output
											 
					--insere o endereço do pedido
					select @v_codigoEstGeografica = CD_EST_GEOGRAFICA,
						   @v_descCEP = DC_CODIGO_POSTAL,
						   @v_descNumero = DC_NUMERO,
						   @v_descComplemento = DC_COMPLEMENTO,
						   @v_descUF = DC_ESTRUTURA_GEO2,
						   @v_descCidade = DC_ESTRUTURA_GEO3,
						   @v_descBairro = DC_ESTRUTURA_GEO4,
						   @v_descLogradouro = DC_ESTRUTURA_GEO5
					  from TB_PESSOA_ENDERECO
					 where ID_TIPO_ENDERECO = 3
					   and CD_PESSOA = @v_codigoEmpresa

					exec pr_PedidoInsereEnderecoPedido @v_numeroPedidoPai,
													   @v_codigoEstGeografica,
													   @v_descCEP,
													   @v_descNumero,
													   @v_descComplemento,
													   @v_descUF,
													   @v_descCidade,
													   @v_descBairro,
													   @v_descLogradouro,
													   @p_codigoErro output,
													   @p_descricaoErro output,
													   @p_linhasAfetadas output
				end

			FETCH NEXT FROM @v_cursorEstabelecimentos
			INTO @p_codigoEstabelecimento, @v_codigoEmpresa

		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
