SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CargaCarregaPessoaJuridica]
  	
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS


DECLARE @Cursor_Itens			CURSOR

DECLARE @v_CliCodigo VARCHAR(1000)
DECLARE @v_CliTipoReg VARCHAR(1000)
DECLARE @v_CliCPFCGC VARCHAR(1000)
DECLARE @v_CliDivisao VARCHAR(1000)
DECLARE @v_CliSetor VARCHAR(1000)
DECLARE @v_CliCoordena VARCHAR(1000)
DECLARE @v_CliCiclo VARCHAR(1000)
DECLARE @v_CliRegiao VARCHAR(1000)
DECLARE @v_CliRota VARCHAR(1000)
DECLARE @v_CliSeqEntr VARCHAR(1000)
DECLARE @v_CliRGIE VARCHAR(1000)
DECLARE @v_CliNome VARCHAR(1000)
DECLARE @v_CliSobreNome VARCHAR(1000)
DECLARE @v_CliEndereco VARCHAR(1000)
DECLARE @v_CliBairro VARCHAR(1000)
DECLARE @v_CliCidade VARCHAR(1000)
DECLARE @v_CliCep VARCHAR(1000)
DECLARE @v_CliNumero VARCHAR(1000)
DECLARE @v_CliUF VARCHAR(1000)
DECLARE @v_CliPtoRef VARCHAR(1000)
DECLARE @v_CliTelRes VARCHAR(1000)
DECLARE @v_CliTelCom VARCHAR(1000)
DECLARE @v_CliTelCel VARCHAR(1000)
DECLARE @v_CliFax VARCHAR(1000)
DECLARE @v_CliEmail VARCHAR(1000)
DECLARE @v_CliDtNasc VARCHAR(1000)
DECLARE @v_CliDtCad VARCHAR(1000)
DECLARE @v_CliNacionalidade VARCHAR(1000)
DECLARE @v_CliEstCivil VARCHAR(1000)
DECLARE @v_CliImovel VARCHAR(1000)
DECLARE @v_CliGrauInstrucao VARCHAR(1000)
DECLARE @v_CliRenda VARCHAR(1000)
DECLARE @v_CliConjuge VARCHAR(1000)
DECLARE @v_CliNomeInd VARCHAR(1000)
DECLARE @v_CliBrinde VARCHAR(1000)
DECLARE @v_CliBrinde2 VARCHAR(1000)
DECLARE @v_CliBrindeAten VARCHAR(1000)
DECLARE @v_CliLimiteCred VARCHAR(1000)
DECLARE @v_CliEndereco2 VARCHAR(1000)
DECLARE @v_CliBairro2 VARCHAR(1000)
DECLARE @v_CliCidade2 VARCHAR(1000)
DECLARE @v_CliCep2 VARCHAR(1000)
DECLARE @v_CliPtoRef2 VARCHAR(1000)
DECLARE @v_CliUF2 VARCHAR(1000)
DECLARE @v_CliNomeRef VARCHAR(1000)
DECLARE @v_CliParentesco VARCHAR(1000)
DECLARE @v_CliCepRef VARCHAR(1000)
DECLARE @v_CliEndRef VARCHAR(1000)
DECLARE @v_CliBairroRef VARCHAR(1000)
DECLARE @v_CliCidadeRef VARCHAR(1000)
DECLARE @v_CliUFRef VARCHAR(1000)
DECLARE @v_CliObs VARCHAR(1000)
DECLARE @v_CliViaTransp VARCHAR(1000)
DECLARE @v_CliStatus VARCHAR(1000)
DECLARE @v_CliEPontos VARCHAR(1000)
DECLARE @v_CliLibPedido VARCHAR(1000)
DECLARE @v_CliListaNegra VARCHAR(1000)
DECLARE @v_CliTpBonus VARCHAR(1000)
DECLARE @v_CliCtrlEmpRec VARCHAR(1000)
DECLARE @v_CliEnviarSPC VARCHAR(1000)
DECLARE @v_CliMalaDir VARCHAR(1000)
DECLARE @v_CliApelido VARCHAR(1000)
DECLARE @v_CliSexo VARCHAR(1000)
DECLARE @v_CliTelRef VARCHAR(1000)
DECLARE @v_CliNomeRefCom VARCHAR(1000)
DECLARE @v_CliTelRefCom VARCHAR(1000)
DECLARE @v_CliTempVen VARCHAR(1000)
DECLARE @v_CliTempVD VARCHAR(1000)
DECLARE @v_CliOutrasEVD VARCHAR(1000)
DECLARE @v_CliSPCEnviado VARCHAR(1000)
DECLARE @v_CliSPCDataRet VARCHAR(1000)
DECLARE @v_CliCicloDig VARCHAR(1000)
DECLARE @v_CliKitInicial VARCHAR(1000)
DECLARE @v_CliFPKitInicial VARCHAR(1000)
DECLARE @v_CliSenhaWeb VARCHAR(1000)
DECLARE @v_CliCodWeb VARCHAR(1000)
DECLARE @v_CliStatusWeb VARCHAR(1000)
DECLARE @v_CliTCB VARCHAR(1000)
DECLARE @v_CliTFE VARCHAR(1000)
DECLARE @v_CliNumConSPC VARCHAR(1000)
DECLARE @v_CliBanco VARCHAR(1000)
DECLARE @v_CliAgencia VARCHAR(1000)
DECLARE @v_CliConta VARCHAR(1000)
DECLARE @v_CliTpConta VARCHAR(1000)
DECLARE @v_CliTitularBanco VARCHAR(1000)
DECLARE @v_CliUltNFLimCred VARCHAR(1000)
DECLARE @v_CliIdInc VARCHAR(1000)
DECLARE @v_CliDtInc VARCHAR(1000)
DECLARE @v_CliIdAlt VARCHAR(1000)
DECLARE @v_CliDtAlt VARCHAR(1000)
DECLARE @v_CliCartaoNiver VARCHAR(1000)
DECLARE @v_CliNivelLotus VARCHAR(1000)
DECLARE @v_CliLotusValidade VARCHAR(1000)
DECLARE @v_CliEnquete VARCHAR(1000)
DECLARE @v_CliRecNovidades VARCHAR(1000)
DECLARE @v_CliDivConsum VARCHAR(1000)
DECLARE @v_CliPagaAnt VARCHAR(1000)
DECLARE @v_CliPIS VARCHAR(1000)
DECLARE @v_CliEmailEDI VARCHAR(1000)
DECLARE @v_CliEmailPick VARCHAR(1000)
DECLARE @v_CliDARetirado VARCHAR(1000)
DECLARE @v_CliGrupoTransp VARCHAR(1000)
DECLARE @v_CliCicloUltimoPedido VARCHAR(1000)
DECLARE @v_CD_EST_COMERCIAL VARCHAR(1000)
DECLARE @v_NM_CICLO_EST_COMERCIAL VARCHAR(1000)
			
DECLARE @v_cdSituacaoComercial INT
DECLARE @v_cdSituacaoComercialDetalhe INT
DECLARE @v_CD_INDICANTE INT
						

DECLARE			@V_CD_EST_GEOGRAFICA1			VARCHAR(100)
DECLARE         @DC_EST_GEOGRAFICA				VARCHAR(100)
DECLARE         @DC_NIVEL_GEO1					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO2					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO3					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO4					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO5					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO6					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO7					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO8					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO9					VARCHAR(100)

DECLARE			@V_CONTADOR_CEP					INT





DECLARE			@V_CD_EST_GEOGRAFICA1_ENT			VARCHAR(100)
DECLARE         @DC_EST_GEOGRAFICA_ENT				VARCHAR(100)
DECLARE         @DC_NIVEL_GEO1_ENT					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO2_ENT					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO3_ENT					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO4_ENT					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO5_ENT					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO6_ENT					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO7_ENT					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO8_ENT					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO9_ENT					VARCHAR(100)

DECLARE			@V_CONTADOR_CEP_ENT					INT





DECLARE			@cdPessoaFisicaGerada			NUMERIC(18,0)
DECLARE			@v_cd_sexo						INT
DECLARE			@v_senha_cn						VARCHAR(100)
DECLARE			@v_senha_cf						VARCHAR(100)
DECLARE			@v_funcao_cn					INT
DECLARE			@v_funcao_cf					INT
DECLARE			@v_situacao_funcao_cn INT
DECLARE			@v_situacao_funcao_cf INT

DECLARE			@v_receber_email				INT

	
BEGIN 

	SELECT @qtLinhasAfetadas = 0

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 2
	WHERE CD_GRUPO_PARAMETRO = 7
	AND CD_PARAMETRO = 9

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 2
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 3

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 2
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 1

	
	
	
	-- ***************************************************					
	-- VAMOS ABRIR O CURSOR DA TABELA CLIENTE
	-- DO BANCO lacquadi_bank
	-- ***************************************************
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR

select  
convert(numeric(18,0),a.integracao) CliCodigo,
'C' CliTipoReg,
CASE LEN(b.cgc_cpf)
	WHEN '14' THEN SUBSTRING(b.cgc_cpf,1,2) + '.' + SUBSTRING(b.cgc_cpf,3,3) + '.' + SUBSTRING(b.cgc_cpf,6,3) + '/' + SUBSTRING(b.cgc_cpf,9,4)     + '-' + SUBSTRING(b.cgc_cpf,13,2)
	WHEN '13' THEN '0' + SUBSTRING(b.cgc_cpf,1,1) + '.' + SUBSTRING(b.cgc_cpf,3,3) + '.' + SUBSTRING(b.cgc_cpf,6,3) + '/' + SUBSTRING(b.cgc_cpf,9,4)     + '-' + SUBSTRING(b.cgc_cpf,13,2)
	WHEN '12' THEN '00' + '.' + SUBSTRING(b.cgc_cpf,1,3) + '.' + SUBSTRING(b.cgc_cpf,4,3) + '/' + SUBSTRING(b.cgc_cpf,7,4)     + '-' + SUBSTRING(b.cgc_cpf,11,2)
    WHEN '0' THEN '00.000.000/0000-00'
END cpf,
'' 'CliDivisao',
'' 'CliSetor',
'' 'CliCoordena',
201810 'CliCiclo',
'' 'CliRegiao',
'' 'CliRota',
'' 'CliSeqEntr',
ltrim(rtrim(b.inscricao_rg)) 'CliRGIE',
ltrim(rtrim(a.nome)) CliNome,
ltrim(rtrim(a.nome)) CliNome,
 b.endereco 'Cliendereco',
 b.numero  'CliNumero',
 b.bairro 'CliBairro',
 b.cidade 'CliCidade',
 b.cep 'CliCep',
 b.estado 'CliUF',
 b.complemento 'CliPtoRef',
 isnull((select top 1 '(' + ddd + ') ' + telefone from bkp_asos_erotika.DBO.view_telefone v where v.destinatario = a.destinatario and cod_tipo_tel='001'),'')  'CliTelRes',
 isnull((select top 1 '(' + ddd + ') ' + telefone from bkp_asos_erotika.DBO.view_telefone v where v.destinatario = a.destinatario and cod_tipo_tel='002'),'')  'CliTelCom',
 isnull((select top 1 '(' + ddd + ') ' + telefone from bkp_asos_erotika.DBO.view_telefone v where v.destinatario = a.destinatario and cod_tipo_tel='003'),'')  'CliTelCel',
'' 'CliFax',
 ltrim(rtrim(b.email)) 'CliEmail',
e.data_nascimento 'CliDtNasc',
b.data_cadastro	'CliDtCad',
 'BR' 'CliNacionalidade',
  CASE WHEN e.estado_civil = '1' THEN 1
       WHEN e.estado_civil = '2' THEN 2
       WHEN e.estado_civil = '3' THEN 5
       WHEN e.estado_civil = '4' THEN 4
       WHEN e.estado_civil = '5' THEN 3
       WHEN e.estado_civil = '6' THEN 6 ELSE 5
  END 'CliEstCivil',			
  '' 'CliImovel',
   CASE WHEN e.escolaridade = '10' THEN 1
       WHEN e.escolaridade = '20' THEN 2
       WHEN e.escolaridade = '30' THEN 3
       WHEN e.escolaridade = '40' THEN 4
       WHEN e.escolaridade = '50' THEN 5
	   WHEN e.escolaridade = '60' THEN 6
       WHEN e.escolaridade = '70' THEN 7 ELSE 1
  END 'CliGrauInstrucao',
  ''	'CliRenda',
  ''	'CliConjuge',
  ''	'CliNomeInd',
  ''	'CliBrinde',
  ''	'CliBrinde2',
  ''	'CliBrindeAten',
  ''	'CliLimiteCred',
  b.endereco 'CliEndereco2',
  --b.numero 'numero2',
  b.bairro 'CliBairro2',
  b.cidade 'CliCidade2',
  b.cep 'CliCep2',
  b.complemento 'CliPtoRef2',
  b.estado 'CliUF2',
  ''	'CliNomeRef',
  ''	'CliParentesco',
  ''	'CliCepRef',
  ''	'CliEndRef',
  ''	'CliBairroRef',
  ''	'CliCidadeRef',
  ''	'CliUFRef',
  ''	'CliObs',
  ''	'CliViaTransp',
  ''	'CliStatus',
  ''	'CliEPontos',
  ''	'CliLibPedido',
  ''	'CliListaNegra',
  ''	'CliTpBonus',
  ''	'CliCtrlEmpRec',
  ''	'CliEnviarSPC',
  ''	'CliMalaDir',
  ''	'CliApelido',
  e.sexo 'CliSexo',
  ''    'CliTelRef',
''    'CliNomeRefCom',
''    'CliTelRefCom',
''    'CliTempVen',
''    'CliTempVD',
''    'CliOutrasEVD',
''    'CliSPCEnviado',
''    'CliSPCDataRet',
201810    'CliCicloDig',
''    'CliKitInicial',
''    'CliFPKitInicial',
a.senha   'CliSenhaWeb',
''    'CliCodWeb',
''    'CliStatusWeb',
''    'CliTCB',
''    'CliTFE',
''    'CliNumConSPC',
''    'CliBanco',
''    'CliAgencia',
''    'CliConta',
''    'CliTpConta',
''    'CliTitularBanco',
''    'CliUltNFLimCred',
''    'CliIdInc',
''    'CliDtInc',
''    'CliIdAlt',
''    'CliDtAlt',
''    'CliCartaoNiver',
''    'CliNivelLotus',
''    'CliLotusValidade',
''    'CliEnquete',
''    'CliRecNovidades',
''    'CliDivConsum',
''    'CliPagaAnt',
''    'CliPIS',
''    'CliEmailEDI',
''    'CliEmailPick',
''    'CliDARetirado',
''    'CliGrupoTransp',
''    'CliCicloUltimoPedido',
2	'CD_EST_COMERCIAL',
201810 'NM_CICLO_EST_COMERCIAL',
 convert(numeric(18,0),a.superior_integracao)  'CD_INDICANTE'
 from bkp_asos_erotika.DBO.view_consultor a 
 inner join bkp_asos_erotika.DBO.fat_destinatario b on a.destinatario=b.destinatario      
 inner join bkp_asos_erotika.DBO.fat_comercio c on a.destinatario=c.destinatario      
 inner join bkp_asos_erotika.DBO.fat_grupo cc on c.grupo=cc.grupo      
 left join bkp_asos_erotika.DBO.tblgpbtipolog d on b.logradouro=d.chavepat      
 left join bkp_asos_erotika.DBO.fat_destinatario_pfisica e on a.destinatario=e.destinatario      
 left join bkp_asos_erotika.DBO.sys_estadocivil f on e.estado_civil=f.estadocivil      
 left join bkp_asos_erotika.DBO.fat_cartaocredito g on c.cartao_tipo=g.cartao      
 left join bkp_asos_erotika.DBO.sys_comosoube h on b.comosoube=h.comosoube      
 left join bkp_asos_erotika.DBO.fat_banco i on c.banco=i.banco      
 left join bkp_asos_erotika.DBO.rede_qualificacao j on a.classificacao=j.qualificacao      
 where a.nome is not null  
 and UPPER(ltrim(rtrim(b.email))) <> 'CESSADO'
 and ltrim(rtrim(a.nome)) not like '%TESTE%'
 and ltrim(rtrim(a.nome)) not like '%CESSADO%'
 and b.fisica_juridica = 'J'
 --and (convert(numeric(18,0),a.superior_integracao) not in (1,4212)  or convert(numeric(18,0),a.integracao) = 4263)
 and convert(numeric(18,0),a.integracao)  in (select ID from PESSOA_CARGA) 
 and isnull(convert(numeric(18,0),a.superior_integracao),0) > 0

order by convert(numeric(18,0),a.integracao)
										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@v_CliCodigo,
				@v_CliTipoReg,
				@v_CliCPFCGC,
				@v_CliDivisao,
				@v_CliSetor,
				@v_CliCoordena,
				@v_CliCiclo,
				@v_CliRegiao,
				@v_CliRota,
				@v_CliSeqEntr,
				@v_CliRGIE,
				@v_CliNome,
				@v_CliSobreNome,
				@v_CliEndereco,
                                @v_CliNumero,
				@v_CliBairro,
				@v_CliCidade,
				@v_CliCep,
				@v_CliUF,
				@v_CliPtoRef,
				@v_CliTelRes,
				@v_CliTelCom,
				@v_CliTelCel,
				@v_CliFax,
				@v_CliEmail,
				@v_CliDtNasc,
				@v_CliDtCad,
				@v_CliNacionalidade,
				@v_CliEstCivil,
				@v_CliImovel,
				@v_CliGrauInstrucao,
				@v_CliRenda,
				@v_CliConjuge,
				@v_CliNomeInd,
				@v_CliBrinde,
				@v_CliBrinde2,
				@v_CliBrindeAten,
				@v_CliLimiteCred,
				@v_CliEndereco2,
				@v_CliBairro2,
				@v_CliCidade2,
				@v_CliCep2,
				@v_CliPtoRef2,
				@v_CliUF2,
				@v_CliNomeRef,
				@v_CliParentesco,
				@v_CliCepRef,
				@v_CliEndRef,
				@v_CliBairroRef,
				@v_CliCidadeRef,
				@v_CliUFRef,
				@v_CliObs,
				@v_CliViaTransp,
				@v_CliStatus,
				@v_CliEPontos,
				@v_CliLibPedido,
				@v_CliListaNegra,
				@v_CliTpBonus,
				@v_CliCtrlEmpRec,
				@v_CliEnviarSPC,
				@v_CliMalaDir,
				@v_CliApelido,
				@v_CliSexo,
				@v_CliTelRef,
				@v_CliNomeRefCom,
				@v_CliTelRefCom,
				@v_CliTempVen,
				@v_CliTempVD,
				@v_CliOutrasEVD,
				@v_CliSPCEnviado,
				@v_CliSPCDataRet,
				@v_CliCicloDig,
				@v_CliKitInicial,
				@v_CliFPKitInicial,
				@v_CliSenhaWeb,
				@v_CliCodWeb,
				@v_CliStatusWeb,
				@v_CliTCB,
				@v_CliTFE,
				@v_CliNumConSPC,
				@v_CliBanco,
				@v_CliAgencia,
				@v_CliConta,
				@v_CliTpConta,
				@v_CliTitularBanco,
				@v_CliUltNFLimCred,
				@v_CliIdInc,
				@v_CliDtInc,
				@v_CliIdAlt,
				@v_CliDtAlt,
				@v_CliCartaoNiver,
				@v_CliNivelLotus,
				@v_CliLotusValidade,
				@v_CliEnquete,
				@v_CliRecNovidades,
				@v_CliDivConsum,
				@v_CliPagaAnt,
				@v_CliPIS,
				@v_CliEmailEDI,
				@v_CliEmailPick,
				@v_CliDARetirado,
				@v_CliGrupoTransp,
				@v_CliCicloUltimoPedido,
				@v_CD_EST_COMERCIAL,
				@v_NM_CICLO_EST_COMERCIAL,
                                @v_CD_INDICANTE

			WHILE @@FETCH_STATUS = 0
				BEGIN
									
					-- *****************************************************	
					-- LIMPA AS VARIAVEIS - EST GEOGRAFICA RESIDENCIAL 
					-- *****************************************************

					SELECT @V_CD_EST_GEOGRAFICA1 = '0'
					SELECT @DC_EST_GEOGRAFICA = ''
					SELECT @DC_NIVEL_GEO1 = ''
					SELECT @DC_NIVEL_GEO2 = ''
					SELECT @DC_NIVEL_GEO3 = ''
					SELECT @DC_NIVEL_GEO4 = ''
					SELECT @DC_NIVEL_GEO5 = ''
					SELECT @DC_NIVEL_GEO6 = ''
					SELECT @DC_NIVEL_GEO7 = ''
					SELECT @DC_NIVEL_GEO8 = ''
					SELECT @DC_NIVEL_GEO9 = ''

					
					-- *****************************************************	
					-- BUSCA CODIGO DE ESTRUTURA GEOGRAFICA DO CEP
					-- *****************************************************
						
										
					SELECT	@V_CONTADOR_CEP = COUNT(*)
					FROM TB_EST_GEOGRAFICA
					WHERE CD_CODIGO_POSTAL = @v_CliCep

					IF @V_CONTADOR_CEP > 0
						BEGIN
							
							SELECT	@V_CD_EST_GEOGRAFICA1 = CD_EST_GEOGRAFICA,
									@DC_EST_GEOGRAFICA = DC_EST_GEOGRAFICA,
									@DC_NIVEL_GEO1 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
									@DC_NIVEL_GEO2 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
									@DC_NIVEL_GEO3 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3),
									@DC_NIVEL_GEO4 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4),
									@DC_NIVEL_GEO5 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5),
									--@DC_NIVEL_GEO5 = @v_CliEndereco,
									@DC_NIVEL_GEO6 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO6),
									@DC_NIVEL_GEO7 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO7),
									@DC_NIVEL_GEO8 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO8),
									@DC_NIVEL_GEO9 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO9)
							FROM TB_EST_GEOGRAFICA
							WHERE CD_CODIGO_POSTAL = @v_CliCep

						END 
					ELSE
						BEGIN
							
							INSERT INTO TB_TESTE5 (PESSOA, CEP)
							VALUES (@v_CliCodigo, @v_CliCep)

						END

					




					-- *****************************************************	
					-- LIMPA AS VARIAVEIS - EST GEOGRAFICA ENTREGA 
					-- *****************************************************
					SELECT @V_CD_EST_GEOGRAFICA1_ENT = '0'
					SELECT @DC_EST_GEOGRAFICA_ENT = ''
					SELECT @DC_NIVEL_GEO1_ENT = ''
					SELECT @DC_NIVEL_GEO2_ENT = ''
					SELECT @DC_NIVEL_GEO3_ENT = ''
					SELECT @DC_NIVEL_GEO4_ENT = ''
					SELECT @DC_NIVEL_GEO5_ENT = ''
					SELECT @DC_NIVEL_GEO6_ENT = ''
					SELECT @DC_NIVEL_GEO7_ENT = ''
					SELECT @DC_NIVEL_GEO8_ENT = ''
					SELECT @DC_NIVEL_GEO9_ENT = ''


					
					-- *****************************************************	
					-- BUSCA CODIGO DE ESTRUTURA GEOGRAFICA DO CEP
					-- *****************************************************
					
					/*			
					SELECT	@V_CONTADOR_CEP_ENT = COUNT(*)
					FROM TB_EST_GEOGRAFICA
					WHERE CD_CODIGO_POSTAL = @v_CliCep2

					IF @V_CONTADOR_CEP_ENT > 0
						BEGIN
							
							SELECT	@V_CD_EST_GEOGRAFICA1_ENT = CD_EST_GEOGRAFICA,
									@DC_EST_GEOGRAFICA_ENT = DC_EST_GEOGRAFICA,
									@DC_NIVEL_GEO1_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
									@DC_NIVEL_GEO2_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
									@DC_NIVEL_GEO3_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3),
									@DC_NIVEL_GEO4_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4),
									@DC_NIVEL_GEO5_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5),
									@DC_NIVEL_GEO6_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO6),
									@DC_NIVEL_GEO7_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO7),
									@DC_NIVEL_GEO8_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO8),
									@DC_NIVEL_GEO9_ENT = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO9)
							FROM TB_EST_GEOGRAFICA
							WHERE CD_CODIGO_POSTAL = @v_CliCep2

						END
					ELSE
						BEGIN

							INSERT INTO TB_TESTE5 (CD_PESSOA, DC_CEP)
							VALUES (@v_CliCodigo, @v_CliCep2)

						END

					*/
										
					
					
	

					-- *****************************************************	
					-- PREPARA INFORMAÇÃO DE SENHA
						-- C - CONSULTOR
						-- L - LOTUS
						-- O - CONSUMIDOR
					-- *****************************************************
					IF @v_CliTipoReg = 'C' OR @v_CliTipoReg = 'L'
						BEGIN
							SELECT @v_senha_cn =  @v_CliSenhaWeb               --@v_CliCPFCGC
							SELECT @v_senha_cf = ''

							SELECT @v_funcao_cn = 2
							SELECT @v_funcao_cf = 0

							SELECT @v_situacao_funcao_cn = 1
							SELECT @v_situacao_funcao_cf = 0
						END
					ELSE
						BEGIN
							SELECT @v_senha_cn = ''
							SELECT @v_senha_cf = @v_CliCPFCGC

							SELECT @v_funcao_cn = 0
							SELECT @v_funcao_cf = 1

							SELECT @v_situacao_funcao_cn = 0
							SELECT @v_situacao_funcao_cf = 1
						END

					
					
					-- *********************************************************************	
					-- PRIMEIRO - VAMOS INSERIR O CADASTRO DE PESSOA FISICA
					-- *********************************************************************

					SELECT @v_CliNome = SUBSTRING(@v_CliNome, 1, 80)
					SELECT @v_CliSobreNome = SUBSTRING(@v_CliSobreNome, 1, 80)
					SELECT @v_CliCPFCGC = SUBSTRING(@v_CliCPFCGC, 1, 50)
					SELECT @v_CliTelRes = SUBSTRING(@v_CliTelRes, 1, 50)
					SELECT @v_CliTelCom = SUBSTRING(@v_CliTelCom, 1, 50)
					SELECT @v_CliTelCel = SUBSTRING(@v_CliTelCel, 1, 50)
					SELECT @v_CliCep = SUBSTRING(@v_CliCep, 1, 20)
					SELECT @v_CliEmail = SUBSTRING(@v_CliEmail, 1, 50)
					SELECT @v_CliPtoRef = SUBSTRING(@v_CliPtoRef, 1, 80)

					--SELECT @v_numero = SUBSTRING(@v_numero, 1, 10)
					--SELECT @v_complemento = SUBSTRING(@v_complemento, 1, 60)
					
					
					EXEC pr_PessoaInserePessoaJuridica
							@v_CliCodigo,			--@CD_PESSOA NUMERIC(18,0),
							2,			--@ID_TIPO_PESSOA INT,
							@v_CliNome,	--@DC_RAZAO_SOCIAL VARCHAR(100),
							@v_CliNome,	--@DC_NOME_FANTASIA VARCHAR(100),
							3,			--@ID_TIPO_ATIVIDADE INT,
	
							1,			--@ID_TIPO_DOCUMENTO1 INT,
							@v_CliCPFCGC,--@DC_DOCUMENTO1 VARCHAR(100),
							'',			--@DC_ORGAO1 VARCHAR(100),
	
							2,			--@ID_TIPO_DOCUMENTO2 INT,
							@v_CliRGIE, --@DC_DOCUMENTO2 VARCHAR(100),
							'',			--@DC_ORGAO2 VARCHAR(100),

							1,				--@ID_TIPO_TELEFONE1 INT,
							@v_CliTelRes,	--@DC_TELEFONE1 VARCHAR(100),
							'',				--@DC_RAMAL1 VARCHAR(100),
							'',				--@DC_CONTATO1 VARCHAR(100),
														
	
							2,				--@ID_TIPO_TELEFONE2 INT,
							@v_CliTelCom,	--@DC_TELEFONE2 VARCHAR(100),
							'',				--@DC_RAMAL2 VARCHAR(100),
							'',				--@DC_CONTATO2 VARCHAR(100),
							
	
							3,				--@ID_TIPO_TELEFONE3 INT,
							@v_CliTelCel,   --@DC_TELEFONE3 VARCHAR(100),
							'',				--@DC_RAMAL3 VARCHAR(100),
							'',				--@DC_CONTATO3 VARCHAR(100),
																					
							
							1,				--@ID_TIPO_EMAIL1 INT,
							@v_CliEmail,	--@DC_EMAIL1 VARCHAR(100),

							0,				--@ID_TIPO_EMAIL2 INT,
							'',				--@DC_EMAIL2 VARCHAR(100),
	
							3,						--@ID_TIPO_ENDERECO1 INT,
							@V_CD_EST_GEOGRAFICA1,	--@CD_EST_GEOGRAFICA1 NUMERIC(18,0),
							@v_CliCep,				--@DC_CODIGO_POSTAL1 VARCHAR(20),
							@v_CliNumero,						--@DC_NUMERO1 VARCHAR(20),
							'',						--@DC_COMPLEMENTO1 VARCHAR(60),
							'',						--@DC_REFERENCIA1 VARCHAR(80),
							0,						--@ID_DADOS_DIGITADOS1 INT,
							'Brasil',				--@DC_PAIS1 VARCHAR(80),
							@DC_NIVEL_GEO2,			--@DC_ESTADO1 VARCHAR(80),
							@DC_NIVEL_GEO3,			--@DC_CIDADE1 VARCHAR(80),
							@DC_NIVEL_GEO4,			--@DC_BAIRRO1 VARCHAR(80),
							@DC_NIVEL_GEO5,			--@DC_RUA1 VARCHAR(80),

							@v_funcao_cf,			--@ID_FUNCAO_CONSUMIDOR INT,
							@v_funcao_cn,			--@ID_FUNCAO_CONSULTORA INT,
							0,						--@ID_FUNCAO_COLABORADOR INT,
							0,						--@ID_FUNCAO_FORCA_VENDAS INT,
							0,						--@ID_FUNCAO_FRANQUIADO INT,
	
							@v_situacao_funcao_cf,	--@ID_SITUACAO_FUNCAO_CONSUMIDOR INT,
							@v_situacao_funcao_cn,	--@ID_SITUACAO_FUNCAO_CONSULTORA INT,
							0,						--@ID_SITUACAO_FUNCAO_COLABORADOR INT,
							0,						--@ID_SITUACAO_FUNCAO_FORCA_VENDAS INT,
							0,						--@ID_SITUACAO_FUNCAO_FRANQUIADO INT,
	
							'',						--@DT_INICIO_FUNCAO_CONSUMIDOR DATE,
							'',						--@DT_INICIO_FUNCAO_CONSULTORA DATE,
							'',						--@DT_INICIO_FUNCAO_COLABORADOR DATE,
							'',						--@DT_INICIO_FUNCAO_FORCA_VENDAS DATE,
							'',						--@DT_INICIO_FUNCAO_FRANQUIADO DATE,
	
							@v_CD_INDICANTE,				--@CD_PESSOA_INDICANTE NUMERIC(18,0),
							2,						--@CD_EST_COMERCIAL_INDICANTE NUMERIC(18,0),
		
							0,						--@ID_TIPO_PESSOA_PREMIACAO			INT,
							'',						--@DC_NOME_PREMIACAO					VARCHAR(200),
							'',						--@DC_DOCUMENTO_PREMIACAO				VARCHAR(50),
							0,						--@ID_TIPO_CONTA_DESTINO_PREMIACAO	INT,
							0,						--@CD_BANCO_PREMIACAO					numeric(18,0),
							'',						--@DC_AGENCIA_PREMIACAO				varchar(40)	,
							'',						--@DC_CONTA_PREMIACAO					varchar(40),
					
							'',						--@DC_SENHA_COLABORADOR VARCHAR(500),
							@v_senha_cn,			--@DC_SENHA_CONSULTORA VARCHAR(500),
							'',						--@DC_SENHA_FORCA_VENDAS VARCHAR(500),
							'',						--@DC_SENHA_FRANQUEADO VARCHAR(500),
							0,
							0, 
							0,

							0,						--@CD_USUARIO NUMERIC(18,0),
							'I',					--@VAR_TIPO_FUNCAO VARCHAR(1),
						
							@cdErro					OUTPUT,
							@dcErro					OUTPUT,
							@qtLinhasAfetadas		OUTPUT,
							@cdPessoaFisicaGerada	OUTPUT	


					IF @cdErro > 0 
						BEGIN
						    SELECT @cdErro = 1
							SELECT @dcErro = @dcErro
							RETURN
						END
							
							
							
														
						
					-- *********************************************************************	
					-- INSERE O CODIGO GERADO COM O CODIGO ATUAL DA PESSOA FISICA NUMA TABELA TEMPORARIA
					-- ISSO SERÁ IMPORTANTE PARA FAZER OS DE/PARA
					-- *********************************************************************
					
								

					
					-- ************************************
					-- APROVAR A SITUAÇÃO DO CADASTRO - FLUXO DE APROVAÇÃO
					-- ************************************
					IF @v_CliTipoReg = 'C' OR @v_CliTipoReg = 'L'
						BEGIN

							EXEC pr_PessoaGravaResultadoAnaliseFluxoAprovacao
								@cdPessoaFisicaGerada,		--@p_cdPessoa					NUMERIC(18,0),
								31,							--@p_cdSituacaoCadastro		NUMERIC(18,0),
								1,							--@p_idResultado				INT,	
								'',							--@p_dcMotivo					VARCHAR(300),
								0,							--@p_idPossuiRestricaoCredito	INT,	
								0,							--@p_cdUsuario				NUMERIC(18,0),
	
								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT	


							EXEC pr_PessoaGravaResultadoAnaliseFluxoAprovacao
								@cdPessoaFisicaGerada,		--@p_cdPessoa					NUMERIC(18,0),
								32,							--@p_cdSituacaoCadastro		NUMERIC(18,0),
								1,							--@p_idResultado				INT,	
								'',							--@p_dcMotivo					VARCHAR(300),
								0,							--@p_idPossuiRestricaoCredito	INT,	
								0,							--@p_cdUsuario				NUMERIC(18,0),
	
								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT	


							IF @v_CliPagaAnt = 'S'
								BEGIN
									EXEC pr_PessoaGravaResultadoAnaliseFluxoAprovacao
										@cdPessoaFisicaGerada,		--@p_cdPessoa					NUMERIC(18,0),
										33,							--@p_cdSituacaoCadastro		NUMERIC(18,0),
										1,							--@p_idResultado				INT,	
										'',							--@p_dcMotivo					VARCHAR(300),
										1,							--@p_idPossuiRestricaoCredito	INT,	
										0,							--@p_cdUsuario				NUMERIC(18,0),
	
										@cdErro					OUTPUT,
										@dcErro					OUTPUT,
										@qtLinhasAfetadas		OUTPUT	
								END
							ELSE
								BEGIN
									EXEC pr_PessoaGravaResultadoAnaliseFluxoAprovacao
										@cdPessoaFisicaGerada,		--@p_cdPessoa					NUMERIC(18,0),
										33,							--@p_cdSituacaoCadastro		NUMERIC(18,0),
										1,							--@p_idResultado				INT,	
										'',							--@p_dcMotivo					VARCHAR(300),
										2,							--@p_idPossuiRestricaoCredito	INT,	
										0,							--@p_cdUsuario				NUMERIC(18,0),
	
										@cdErro					OUTPUT,
										@dcErro					OUTPUT,
										@qtLinhasAfetadas		OUTPUT	
								END

							


						END
					




					-- ************************************
					-- FAZ A ALOCAÇÃO DE REDE
					-- ************************************
					IF @v_CliTipoReg = 'C' OR @v_CliTipoReg = 'L'
						BEGIN
						
							EXEC  pr_PessoaGeraAlocacaoRede
								@cdPessoaFisicaGerada,	--@p_codigoPessoa					numeric(18,0),
								2,						--@p_codigoFuncao					int,
								@v_CD_EST_COMERCIAL,	--@p_codigoEstruturaComercial		numeric(18,0),
								@v_NM_CICLO_EST_COMERCIAL,		--@p_numeroCiclo					numeric(18,0),
								0,						--@p_codigoUsuario					numeric(18,0),

								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT
						END
					
					
					


					-- ************************************
					-- ALTERA PAPEL MANUALMENTE
					-- ************************************
					IF @v_CliTipoReg = 'L'
						BEGIN

							EXEC pr_PessoaAlteraPapelManualmente
								@cdPessoaFisicaGerada,	--@p_codigoPessoa					numeric(18,0),
								2,						--@p_codigoFuncao					int,
								@v_CliCiclo,			--@p_numeroCiclo					numeric(18,0),
								2,						--@p_codigoPapelCarreira			int,
								2,						--@p_codigoPapelDesempenho		int,
								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT	
						END 
									
								


					-- ************************************
					-- VAMOS ACERTAR A SITUACAO COMERCIAL DA PESSOA
					-- ************************************	

					IF @v_CliTipoReg = 'C' OR @v_CliTipoReg = 'L'
						BEGIN

													SELECT @v_cdSituacaoComercial = 2
								SELECT @v_cdSituacaoComercialDetalhe = 201
					

							UPDATE TB_PESSOA_RESUMO
							SET NM_CICLO_CADASTRO = @v_CliCicloDig, 
							NM_CICLO_INICIO = @v_CliCiclo,
							VL_CREDITO_TOTAL = 0,
							VL_CREDITO_DISPONIVEL = 0,
							CD_SITUACAO_COMERCIAL = @v_cdSituacaoComercial
							WHERE CD_PESSOA =  @cdPessoaFisicaGerada
							AND CD_FUNCAO = 2


							UPDATE TB_HIST_SITUACAO_CONSULTORA
							SET CD_SITUACAO_COMERCIAL = @v_cdSituacaoComercial,
							CD_SITUACAO_COMERCIAL_DETALHE = @v_cdSituacaoComercialDetalhe
							WHERE CD_PESSOA = @cdPessoaFisicaGerada
							AND NM_CICLO = @v_NM_CICLO_EST_COMERCIAL
					
						END


					-- ************************************
					-- ALTERA PAPEL MANUALMENTE - RESTRIÇÇAO
					-- ************************************
					IF @v_CliTipoReg = 'C' and @v_CliPagaAnt = 'S'

						BEGIN

							EXEC pr_PessoaAlteraPapelManualmente
								@cdPessoaFisicaGerada,	--@p_codigoPessoa					numeric(18,0),
								2,						--@p_codigoFuncao					int,
								@v_CliCiclo,			--@p_numeroCiclo					numeric(18,0),
								5,						--@p_codigoPapelCarreira			int,
								5,						--@p_codigoPapelDesempenho			int,
								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT	

						END 


						
					FETCH NEXT FROM @Cursor_Itens
					INTO	@v_CliCodigo,
								@v_CliTipoReg,
								@v_CliCPFCGC,
								@v_CliDivisao,
								@v_CliSetor,
								@v_CliCoordena,
								@v_CliCiclo,
								@v_CliRegiao,
								@v_CliRota,
								@v_CliSeqEntr,
								@v_CliRGIE,
								@v_CliNome,
								@v_CliSobreNome,
								@v_CliEndereco,
                                                                @v_CliNumero,
								@v_CliBairro,
								@v_CliCidade,
								@v_CliCep,
								@v_CliUF,
								@v_CliPtoRef,
								@v_CliTelRes,
								@v_CliTelCom,
								@v_CliTelCel,
								@v_CliFax,
								@v_CliEmail,
								@v_CliDtNasc,
								@v_CliDtCad,
								@v_CliNacionalidade,
								@v_CliEstCivil,
								@v_CliImovel,
								@v_CliGrauInstrucao,
								@v_CliRenda,
								@v_CliConjuge,
								@v_CliNomeInd,
								@v_CliBrinde,
								@v_CliBrinde2,
								@v_CliBrindeAten,
								@v_CliLimiteCred,
								@v_CliEndereco2,
								@v_CliBairro2,
								@v_CliCidade2,
								@v_CliCep2,
								@v_CliPtoRef2,
								@v_CliUF2,
								@v_CliNomeRef,
								@v_CliParentesco,
								@v_CliCepRef,
								@v_CliEndRef,
								@v_CliBairroRef,
								@v_CliCidadeRef,
								@v_CliUFRef,
								@v_CliObs,
								@v_CliViaTransp,
								@v_CliStatus,
								@v_CliEPontos,
								@v_CliLibPedido,
								@v_CliListaNegra,
								@v_CliTpBonus,
								@v_CliCtrlEmpRec,
								@v_CliEnviarSPC,
								@v_CliMalaDir,
								@v_CliApelido,
								@v_CliSexo,
								@v_CliTelRef,
								@v_CliNomeRefCom,
								@v_CliTelRefCom,
								@v_CliTempVen,
								@v_CliTempVD,
								@v_CliOutrasEVD,
								@v_CliSPCEnviado,
								@v_CliSPCDataRet,
								@v_CliCicloDig,
								@v_CliKitInicial,
								@v_CliFPKitInicial,
								@v_CliSenhaWeb,
								@v_CliCodWeb,
								@v_CliStatusWeb,
								@v_CliTCB,
								@v_CliTFE,
								@v_CliNumConSPC,
								@v_CliBanco,
								@v_CliAgencia,
								@v_CliConta,
								@v_CliTpConta,
								@v_CliTitularBanco,
								@v_CliUltNFLimCred,
								@v_CliIdInc,
								@v_CliDtInc,
								@v_CliIdAlt,
								@v_CliDtAlt,
								@v_CliCartaoNiver,
								@v_CliNivelLotus,
								@v_CliLotusValidade,
								@v_CliEnquete,
								@v_CliRecNovidades,
								@v_CliDivConsum,
								@v_CliPagaAnt,
								@v_CliPIS,
								@v_CliEmailEDI,
								@v_CliEmailPick,
								@v_CliDARetirado,
								@v_CliGrupoTransp,
								@v_CliCicloUltimoPedido,
								@v_CD_EST_COMERCIAL,
								@v_NM_CICLO_EST_COMERCIAL,
								@v_CD_INDICANTE					
				END

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 1
	WHERE CD_GRUPO_PARAMETRO = 7
	AND CD_PARAMETRO = 9

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 1
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 3

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 1
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 1
	
	
	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	
		
	SELECT @cdErro = 0
		
END
GO
