SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 15/01/2018
-- Description:	Procedure que consolidar os valores de uma NF de Armazenagem após a inclusão dos itens pelo sistema
-- =============================================
CREATE PROCEDURE [dbo].[pr_FiscalConsolidaNotaFiscalArmazenagem]
	
	@p_codigoNotaFiscal		numeric(18,0),

	@p_numeroNotaFiscal		numeric(18,0) output,

	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT
AS
DECLARE
	@v_valorTotalProdutos		numeric(18,2),
	@v_valorTotalNotaFiscal		numeric(18,2),
	@v_valorTotalIPI			numeric(18,2),
	@v_valorTotalICMS			numeric(18,2),
	@v_valorTotalICMSCred		numeric(18,2),
	@v_valorTotalICMSST			numeric(18,2),
	@v_valorTotalPIS			numeric(18,2),
	@v_valorTotalCofins			numeric(18,2),
	@v_valorTotalICMSDestino	numeric(18,2),
	@v_valorTotalICMSOrigem		numeric(18,2),
	@v_valorTotalFundoPobreza	numeric(18,2),
	@v_valorTotalDesconto		numeric(18,2),
	@v_valorTotalDescAdicional	numeric(18,2),
	@v_valorTotalDespAcessorias	numeric(18,2),
	@v_valorTotalBCIPI			numeric(18,2),
	@v_valorTotalBCICMS			numeric(18,2),
	@v_valorTotalBCICMSCred		numeric(18,2),
	@v_valorTotalCBCICMSST		numeric(18,2),
	@v_valorTotalBCPIS			numeric(18,2),
	@v_valorTotalBCCofins		numeric(18,2),
	@v_valorTotalFrete			numeric(18,2),
	@v_codigoCD					numeric(18,0),
	@v_descModelo				varchar(10),
	@v_descSerie				varchar(10),
	@v_numeroNotaFiscal			numeric(18,0)

BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	 -- Com base no código do emissor vamos localizar o CD para emissão da NF e as informações de modelo e série da NF
	SELECT @v_codigoCD = CD_CENTRO_DISTRIBUICAO,
		   @v_descSerie = DC_SERIE,
		   @v_descModelo = DC_MODELO
	  from TB_CENTRO_DISTRIBUICAO
	 where CD_EMPRESA = (select CD_PESSOA_EMISSOR from tb_nota_fiscal where cd_nota_fiscal = @p_codigoNotaFiscal)

	-- Agora vamos buscar o número da próxima NF para emissão
	SELECT @v_numeroNotaFiscal = NM_PROXIMA_NOTA_FISCAL
	  FROM TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL
	 WHERE CD_CENTRO_DISTRIBUICAO = @v_codigoCD

    IF @p_codigoNotaFiscal > 0
		begin
			
			--vamos buscar os totais da NF com base nos itens que foram inseridos
			select	@v_valorTotalProdutos = sum(VL_TOTAL),
					@v_valorTotalNotaFiscal = sum(VL_TOTAL),
					@v_valorTotalIPI = sum(VL_IPI) ,
					@v_valorTotalICMS = SUM(VL_ICMS),
					@v_valorTotalICMSCred = SUM(VL_ICMS_CRED),
					@v_valorTotalICMSST = SUM(VL_ICMS_ST),
					@v_valorTotalPIS = SUM(VL_PIS),
					@v_valorTotalCofins = SUM(VL_COFINS),
					@v_valorTotalICMSDestino = SUM(VL_ICMS_UF_DESTINO),
					@v_valorTotalICMSOrigem = SUM(VL_ICMS_UF_ORIGEM),
					@v_valorTotalFundoPobreza = SUM(VL_ICMS_FUNDO_POBREZA),
					@v_valorTotalDesconto = SUM(VL_DESCONTO),
					@v_valorTotalDescAdicional = SUM(VL_DESCONTO_ADICIONAL),
					@v_valorTotalDespAcessorias = SUM(VL_DESPESAS_ACESSORIAS),
					@v_valorTotalBCIPI = SUM(VL_BASE_CALCULO_IPI),
					@v_valorTotalBCICMS = SUM(VL_BASE_CALCULO_ICMS),
					@v_valorTotalBCICMSCred = SUM(VL_BASE_CALCULO_ICMS_CRED),
					@v_valorTotalCBCICMSST = SUM(VL_BASE_CALCULO_ICMS_ST),
					@v_valorTotalBCPIS = SUM(VL_BASE_CALCULO_PIS),
					@v_valorTotalBCCofins = sUM(VL_BASE_CALCULO_COFINS),
					@v_valorTotalFrete = SUM(VL_FRETE)
			  from TB_NOTA_FISCAL_ITEM
			 where CD_NOTA_FISCAL = @p_codigoNotaFiscal

			-- ATUALIZA OS VALORES DA NF PARA CONSOLIDAR E NÃO HAVER DIVERGÊNCIAS			 			
			update TB_NOTA_FISCAL SET	NM_NOTA_FISCAL = @v_numeroNotaFiscal,
										DC_MODELO = @v_descModelo,
										DC_SERIE = @v_descSerie,
										VL_TOTAL_NOTA_FISCAL = @v_valorTotalNotaFiscal,
										VL_TOTAL_PRODUTOS = @v_valorTotalProdutos,
										VL_TOTAL_IPI = @v_valorTotalIPI,
										VL_TOTAL_ICMS = @v_valorTotalICMS,
										VL_TOTAL_ICMS_CRED = @v_valorTotalICMSCred,
										VL_TOTAL_ICMS_ST = @v_valorTotalICMSST,
										VL_TOTAL_PIS = @v_valorTotalPIS,
										VL_TOTAL_COFINS = @v_valorTotalCofins,
										VL_TOTAL_ICMS_DESTINO = @v_valorTotalICMSDestino,
										VL_TOTAL_ICMS_ORIGEM = @v_valorTotalICMSOrigem,
										VL_TOTAL_ICMS_FUNDO_POBREZA_DESTINO = @v_valorTotalFundoPobreza,
										VL_TOTAL_DESCONTO = @v_valorTotalDesconto,
										VL_TOTAL_DESCONTO_ADICIONAL = @v_valorTotalDescAdicional,
										VL_TOTAL_DESPESAS_ACESSORIAS = @v_valorTotalDespAcessorias,
										VL_BASE_CALCULO_IPI = @v_valorTotalBCIPI,
										VL_BASE_CALCULO_ICMS = @v_valorTotalBCICMS,
										VL_BASE_CALCULO_ICMS_CRED = @v_valorTotalBCICMSCred,
										VL_BASE_CALCULO_ICMS_ST = @v_valorTotalCBCICMSST,
										VL_BASE_CALCULO_PIS = @v_valorTotalBCPIS,
										VL_BASE_CALCULO_COFINS = @v_valorTotalBCCofins,
										VL_FRETE = @v_valorTotalFrete,
										ID_SITUACAO_NOTA_FISCAL = 1 --PRONTA E DISP PARA ENVIO E EMISSÃO NA SEFAZ
			 where CD_NOTA_FISCAL = @p_codigoNotaFiscal

			update TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL set NM_PROXIMA_NOTA_FISCAL = NM_PROXIMA_NOTA_FISCAL + 1
			 where CD_CENTRO_DISTRIBUICAO = @v_codigoCD

			select @p_codigoErro = 0,
				   @p_descErro = '',
				   @p_qtdeLinhasAfetadas = @@ROWCOUNT,
				   @p_numeroNotaFiscal = @v_numeroNotaFiscal

		end
	else
		begin

			select @p_codigoErro = -1,
				   @p_descErro = 'Informe um código de NF válido!',
				   @p_qtdeLinhasAfetadas = 0,
				   @p_numeroNotaFiscal = 0
		end
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = -1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;

GO
