SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ApiMaterialInsereMaterial]
	@p_codigoMaterial			VARCHAR(100),
	@p_descMaterial				VARCHAR(800),
	@p_codigoEAN				VARCHAR(50),
	@p_valorPesoBruto			NUMERIC(18,4),
	@p_valorPesoLiquido			NUMERIC(18,4),
	@p_valorLargura				NUMERIC(18,4),
	@p_valorAltura				NUMERIC(18,4),
	@p_valorComprimento			NUMERIC(18,4),
	@p_idAgrupamento			INT,
	@p_qtdePack					NUMERIC(18,2),
	@p_codigoNCM				VARCHAR(20),
	@p_codigoCESTRevenda		VARCHAR(20),
	@p_codigoCESTDemais			VARCHAR(20),
	@p_idOrigem					INT,
	@p_codigoAgrupador			NUMERIC(18,0),
	@p_qtdeEstoqueSeguranca		INT,
	@p_qtdeEstoqueMinimo		INT,
	@p_qtdeEstoqueRegular 		INT,
	@p_idCaracteristica			INT,
	@p_idValidaEstoque			INT,
	@p_nmDiasEncomenda			INT,
	@p_idMedidaEspecial			INT,
	@p_idGarantia				INT,
	@p_nmDiasGarantia			INT,
	@p_idFabricacaoPropria		INT,

	@p_descAcao					VARCHAR(1), 
	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT,
	@p_codigoInternoMaterial	NUMERIC(18,0) OUTPUT

AS
DECLARE @v_codigoCESTRevenda	NUMERIC(18,0),
		@v_codigoCESTDemais		NUMERIC(18,0),
		@v_codigoNCM			NUMERIC(18,0),
		@v_volumeMaterial		NUMERIC(18,4),
		@v_existeProduto		INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	-- BUSCA O NCM ENVIADO
	IF LEN(@p_codigoNCM) > 0
		BEGIN
			SELECT @v_codigoNCM = ISNULL(MIN(CD_CLASSIFICACAO_FISCAL),0)
			  FROM TB_CLASSIFICACAO_FISCAL WITH(NOLOCK)
			 WHERE DC_CLASSIFICACAO_FISCAL = RTRIM(LTRIM(@p_codigoNCM))

			 -- SE NÃO ENCONTRAR INSERE UM NOVO NCM COM O CÓDIGO ENVIADO
			IF @v_codigoNCM = 0
				BEGIN
					EXEC dbo.pr_FiscalInsereClassificacaoFiscal 0,
																@p_codigoNCM,
																null,
																null,
																@p_codigoUsuario,
																'I',
																@p_codigoErro OUTPUT,
																@p_descErro OUTPUT,
																@p_qtLinhasAfetadas OUTPUT,
																@v_codigoNCM OUTPUT

					IF @p_codigoErro <> 0 
						BEGIN
							RETURN
						END
				END
		END

	-- BUSCA O CEST DE REVENDA ENVIADO
	IF LEN(@p_codigoCESTRevenda) > 0
		BEGIN
			SELECT @v_codigoCESTRevenda = MIN(CD_CEST)
			  FROM TB_CEST WITH(NOLOCK)
			 WHERE DC_CEST = RTRIM(LTRIM(@p_codigoCESTRevenda))

			 -- SE NÃO ENCONTRAR INSERE UM NOVO CEST COM O CÓDIGO ENVIADO
			IF @v_codigoCESTRevenda = 0
				BEGIN
					EXEC dbo.pr_FiscalInsereCEST @v_codigoCESTRevenda OUTPUT,
												 @p_codigoCESTRevenda,
												 '',
												 @p_codigoUsuario,
												 'I',
												 @p_codigoErro OUTPUT,
												 @p_descErro OUTPUT,
												 @p_qtLinhasAfetadas OUTPUT

					IF @p_codigoErro <> 0 
						BEGIN
							RETURN
						END
				END
		END

	-- BUSCA O CEST DE DEMAIS OPERAÇÕES ENVIADO
	IF LEN(@p_codigoCESTDemais) > 0
		BEGIN
			SELECT @v_codigoCESTDemais = MIN(CD_CEST)
			  FROM TB_CEST WITH(NOLOCK)
			 WHERE DC_CEST = RTRIM(LTRIM(@p_codigoCESTDemais))

			 -- SE NÃO ENCONTRAR INSERE UM NOVO CEST COM O CÓDIGO ENVIADO
			IF @v_codigoCESTRevenda = 0
				BEGIN
					EXEC dbo.pr_FiscalInsereCEST @v_codigoCESTDemais OUTPUT,
												 @p_codigoCESTDemais,
												 '',
												 @p_codigoUsuario,
												 'I',
												 @p_codigoErro OUTPUT,
												 @p_descErro OUTPUT,
												 @p_qtLinhasAfetadas OUTPUT

					IF @p_codigoErro <> 0 
						BEGIN
							RETURN
						END
				END
		END

	-- Calcula o volume do material
	SELECT @v_volumeMaterial = ISNULL(@p_valorAltura,0) * ISNULL(@p_valorComprimento,0) * ISNULL(@p_valorLargura,0)

	IF @p_descAcao = 'I'
		BEGIN
			-- antes de fazer a inserção vamos validar se o produto já existe
			SELECT @v_existeProduto = ISNULL(COUNT(*),0)
			  FROM TB_MATERIAL WITH(NOLOCK)
			 WHERE CD_MATERIAL_EXTERNO = @p_codigoMaterial

			IF @v_existeProduto > 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Material já cadastrado.'

					RETURN
				END

			--REALIZA A INSERÇÃO DOS DADOS
			EXEC dbo.pr_MaterialInsereMaterial	0,
												@p_codigoMaterial,
												@p_descMaterial,
												1,
												1,
												2,
												@p_valorPesoBruto,
												@p_valorPesoBruto,
												@p_valorPesoLiquido,
												0,
												@p_valorAltura,
												@p_valorLargura,
												@p_valorComprimento,
												@v_volumeMaterial,
												@v_codigoNCM,
												@v_codigoCESTRevenda,
												@v_codigoCESTDemais,
												@p_idOrigem,
												@p_codigoEAN,
												NULL,
												NULL,
												@p_idAgrupamento,
												@p_qtdePack,
												0,
												0,
												NULL,
												NULL,
												0,
												0,
												@p_qtdeEstoqueMinimo,
												@p_qtdeEstoqueSeguranca,
												@p_qtdeEstoqueRegular,
												NULL,
												@p_codigoAgrupador,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL, -- CUSTO MKT
												@p_codigoUsuario,
												'I',
												@p_codigoErro OUTPUT,
												@p_descErro OUTPUT,
												@p_qtLinhasAfetadas OUTPUT,
												@p_codigoInternoMaterial OUTPUT
		END

	IF @p_descAcao = 'A'
		BEGIN
			-- busca o código interno do material
			SELECT @p_codigoInternoMaterial = MIN(CD_MATERIAL)
			  FROM TB_MATERIAL WITH(NOLOCK)
			 WHERE CD_MATERIAL_EXTERNO = RTRIM(LTRIM(@p_codigoMaterial))

			IF @p_codigoInternoMaterial = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Material informado não encontrado'

					RETURN
				END
			--REALIZA A ATUALIZAÇÃO DOS DADOS
			EXEC dbo.pr_MaterialInsereMaterial	@p_codigoInternoMaterial,
												@p_codigoMaterial,
												@p_descMaterial,
												1,
												1,
												2,
												@p_valorPesoBruto,
												@p_valorPesoBruto,
												@p_valorPesoLiquido,
												0,
												@p_valorAltura,
												@p_valorLargura,
												@p_valorComprimento,
												@v_volumeMaterial,
												@v_codigoNCM,
												@v_codigoCESTRevenda,
												@v_codigoCESTDemais,
												@p_idOrigem,
												@p_codigoEAN,
												NULL,
												NULL,
												@p_idAgrupamento,
												@p_qtdePack,
												0,
												0,
												NULL,
												NULL,
												0,
												0,
												@p_qtdeEstoqueMinimo,
												@p_qtdeEstoqueSeguranca,
												@p_qtdeEstoqueRegular,
												NULL,
												@p_codigoAgrupador,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL, -- CUSTO MKT
												@p_codigoUsuario,
												'A',
												@p_codigoErro OUTPUT,
												@p_descErro OUTPUT,
												@p_qtLinhasAfetadas OUTPUT,
												@p_codigoInternoMaterial OUTPUT
		END

	IF @p_descAcao = 'E'
		BEGIN
			-- busca o código interno do material
			SELECT @p_codigoInternoMaterial = MIN(CD_MATERIAL)
			  FROM TB_MATERIAL WITH(NOLOCK)
			 WHERE CD_MATERIAL_EXTERNO = RTRIM(LTRIM(@p_codigoMaterial))

			IF @p_codigoInternoMaterial = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Material informado não encontrado'

					RETURN
				END
			--REALIZA A EXCLUSÃO DOS DADOS
			EXEC dbo.pr_MaterialInsereMaterial	@p_codigoInternoMaterial,
												@p_codigoMaterial,
												@p_descMaterial,
												1,
												1,
												2,
												@p_valorPesoBruto,
												@p_valorPesoBruto,
												@p_valorPesoLiquido,
												0,
												@p_valorAltura,
												@p_valorLargura,
												@p_valorComprimento,
												@v_volumeMaterial,
												@v_codigoNCM,
												@v_codigoCESTRevenda,
												@v_codigoCESTDemais,
												@p_idOrigem,
												@p_codigoEAN,
												NULL,
												NULL,
												@p_idAgrupamento,
												@p_qtdePack,
												0,
												0,
												NULL,
												NULL,
												0,
												0,
												@p_qtdeEstoqueMinimo,
												@p_qtdeEstoqueSeguranca,
												@p_qtdeEstoqueRegular,
												NULL,
												@p_codigoAgrupador,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL,
												NULL, -- CUSTO MKT
												@p_codigoUsuario,
												'E',
												@p_codigoErro OUTPUT,
												@p_descErro OUTPUT,
												@p_qtLinhasAfetadas OUTPUT,
												@p_codigoInternoMaterial OUTPUT

		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
