SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiPedidoAtualizaPedidoExterno]
	@p_numeroPedido				NUMERIC(18,0),
	@p_descNumeroPedidoExterno	VARCHAR(100),
	
	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE @v_existePedido	INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	
	-- CHECA SE O PEDIDO EXISTE
	SELECT @v_existePedido = COUNT(*)
	  FROM TB_PEDIDO WITH(NOLOCK)
	 WHERE NM_PEDIDO = @p_numeroPedido

	IF @v_existePedido <> 1
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido informado não encontrado!'
		END
	ELSE
		BEGIN
			--ATUALIZA O PEDIDO EXTERNO
			UPDATE TB_PEDIDO 
			   SET NM_PEDIDO_EXTERNO = @p_descNumeroPedidoExterno
			 WHERE NM_PEDIDO = @p_numeroPedido
		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
