SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaInserePessoaDocumentoControle]
	@CD_PESSOA				NUMERIC(18,0),
	@CD_FUNCAO				INT,
	@CD_DOCUMENTO_CONTROLE	NUMERIC(18,0),
	@ID_ENTREGA_DOCUMENTO	INT,
	@DC_LINK_DOCUMENTO      VARCHAR(MAX),
	
	@VAR_TIPO_FUNCAO VARCHAR(1),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO VARCHAR(200) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS
BEGIN TRY
	BEGIN TRANSACTION 
	    
	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @VAR_RETORNO = 0
		SELECT @DC_ERRO = ''
		  
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				
				DELETE FROM TB_PESSOA_DOCUMENTO_CONTROLE
				WHERE CD_PESSOA = @CD_PESSOA
				AND CD_FUNCAO = @CD_FUNCAO
				AND CD_DOCUMENTO_CONTROLE = @CD_DOCUMENTO_CONTROLE
							
				INSERT INTO TB_PESSOA_DOCUMENTO_CONTROLE
					(CD_PESSOA,
					CD_FUNCAO,
					CD_DOCUMENTO_CONTROLE,
					DT_CADASTRO_DOCUMENTO,
					ID_ENTREGA_DOCUMENTO,
					DT_ENTREGA_DOCUMENTO,
					DC_LINK_DOCUMENTO)
					
				VALUES 
					(@CD_PESSOA,
					@CD_FUNCAO,
					@CD_DOCUMENTO_CONTROLE,					
					GETDATE(),
					@ID_ENTREGA_DOCUMENTO,
					GETDATE(),
					lower(@DC_LINK_DOCUMENTO))
					
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
								
				COMMIT TRANSACTION
			END	

			IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN		
				UPDATE TB_PESSOA_DOCUMENTO_CONTROLE 
				SET ID_ENTREGA_DOCUMENTO = @ID_ENTREGA_DOCUMENTO 
				WHERE CD_PESSOA = @CD_PESSOA
				AND CD_FUNCAO = @CD_FUNCAO
				AND CD_DOCUMENTO_CONTROLE = @CD_DOCUMENTO_CONTROLE

				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
								
				COMMIT TRANSACTION
			END
			
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				DELETE FROM TB_PESSOA_DOCUMENTO_CONTROLE
				WHERE CD_PESSOA = @CD_PESSOA
				AND CD_FUNCAO = @CD_FUNCAO
				AND CD_DOCUMENTO_CONTROLE = @CD_DOCUMENTO_CONTROLE
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
								
				COMMIT TRANSACTION
			END
		
		
		SELECT @VAR_RETORNO = 0
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
