SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_DividaConsultaContasReceber]
	@p_descCondicao			VARCHAR(MAX),
	@p_idTipo				INT,
	@p_codigoPessoaLogin	NUMERIC(18,0)

AS
DECLARE @v_codigoCliente	NUMERIC(18,0),
		@v_descQuery		NVARCHAR(MAX)

BEGIN
	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	select @v_codigoCliente = VL_PARAMETRO 
	from TB_VALOR_PARAMETRO
	where CD_GRUPO_PARAMETRO = 6
	and CD_PARAMETRO         = 1
	and CD_VALOR_PARAMETRO   = 1

    
	IF (@v_codigoCliente = 20) -- PIERRE ALEXANDER
		BEGIN 
			
			select @v_descQuery = ' SELECT DI.NM_PEDIDO [Pedido],'
			select @v_descQuery += ' PA.CD_PARCELA [Título],'
			select @v_descQuery += ' (select max(NM_NOTA_FISCAL) from tb_nota_fiscal where NM_PEDIDO = DI.NM_PEDIDO and ID_SITUACAO_NOTA_FISCAL = 2 and ID_TIPO_NOTA_FISCAL = 2) [Nota Fiscal],'
			select @v_descQuery += ' CASE PA.CD_PARCELA - (SELECT MIN(PA2.CD_PARCELA) FROM TB_PARCELA PA2 WHERE PA2.CD_DIVIDA = DI.CD_DIVIDA)'
			select @v_descQuery += ' WHEN 0 THEN ''A'' WHEN 1 THEN ''B'' WHEN 2 THEN ''C'' WHEN 3 THEN ''D'' WHEN 4 THEN ''E'' WHEN 5 THEN ''F'' WHEN 6 THEN ''G'' WHEN 7 THEN ''H'' WHEN 8 THEN ''I'''
			select @v_descQuery += ' WHEN 9 THEN ''J'' WHEN 10 THEN ''K'' WHEN 11 THEN ''L'' WHEN 12 THEN ''M'' WHEN 13 THEN ''N'' WHEN 14 THEN ''O'' WHEN 15 THEN ''P'' WHEN 16 THEN ''Q'''
			select @v_descQuery += ' WHEN 17 THEN ''R''	WHEN 18 THEN ''S'' WHEN 19 THEN ''T'' WHEN 20 THEN ''U'' WHEN 21 THEN ''V'' WHEN 22 THEN ''W'' WHEN 23 THEN ''X'' WHEN 24 THEN ''Y'''
			select @v_descQuery += ' WHEN 25 THEN ''Z''	END [Parcela],'
        	select @v_descQuery += ' dbo.FN_BUSCA_DOMINIO(''MEIO_PAGAMENTO'', DI.ID_MEIO_PAGAMENTO) [Meio de Pagamento],'
			select @v_descQuery += ' (SELECT X.DC_PLANO_PAGAMENTO FROM TB_PLANO_PAGAMENTO X, TB_PEDIDO Z WHERE X.CD_PLANO_PAGAMENTO = Z.CD_PLANO_PAGAMENTO AND Z.NM_PEDIDO = DI.NM_PEDIDO) [Plano Pagamento],'
			select @v_descQuery += ' dbo.FN_BUSCA_DOMINIO(''SITUACAO_PARCELA'', PA.ID_SITUACAO_PARCELA) [Sit. Título],'
			select @v_descQuery += ' dbo.FN_BUSCA_DOMINIO(''SITUACAO_PAGAMENTO_PARCELA'', PA.ID_SITUACAO_PAGAMENTO_PARCELA) [Sit. Pagamento] ,'
			select @v_descQuery += ' PA.VL_ORIGINAL_PARCELA [Valor Original],'
			select @v_descQuery += ' PA.VL_ORIGINAL_PARCELA_SALDO [Saldo],'
			select @v_descQuery += ' CONVERT(CHAR(10),PA.DT_VENCIMENTO,103) [Data de Vencimento],'
			select @v_descQuery += ' convert(date,PA.DT_GERACAO_PARCELA,103) [Data de Geração],'
			select @v_descQuery += ' PA.VL_ATUALIZADO_PARCELA [Valor Atualizado],'
			select @v_descQuery += ' DI.CD_PESSOA [Cód. Pessoa],'
			select @v_descQuery += ' dbo.FN_BUSCA_NOME_PESSOA(DI.CD_PESSOA) [Pessoa],'
			select @v_descQuery += ' dbo.FN_BUSCA_EMAIL_PESSOA(DI.CD_PESSOA, 1) [E-mail],'
			select @v_descQuery += ' dbo.FN_BUSCA_DOCUMENTO_PESSOA(DI.CD_PESSOA,1) [CPF / CNPJ],'
			select @v_descQuery += ' dbo.FN_BUSCA_DOCUMENTO_PESSOA(DI.CD_PESSOA,2) [RG / IE],'
			select @v_descQuery += ' dbo.FN_BUSCA_TELEFONE_PESSOA(DI.CD_PESSOA, 1) [Telefone],'
			select @v_descQuery += ' Case P.ID_TIPO_PESSOA'
			select @v_descQuery += ' WHEN 1 THEN dbo.fn_PessoaRetornaEnderecoCompleto(DI.CD_PESSOA, 1, 2, 0)'
			select @v_descQuery += ' WHEN 2 THEN dbo.fn_PessoaRetornaEnderecoCompleto(DI.CD_PESSOA, 3, 2, 0)'
			select @v_descQuery += ' ELSE '''' END [Endereço],'
			select @v_descQuery += ' (SELECT E.DC_ENTIDADE_CONCILIACAO FROM TB_ENTIDADE_CONCILIACAO E WHERE PA.CD_ENTIDADE_CRIACAO = E.CD_ENTIDADE_CONCILIACAO) [Ent. Criação] ,'
			select @v_descQuery += ' (SELECT E.DC_ENTIDADE_CONCILIACAO FROM TB_ENTIDADE_CONCILIACAO E WHERE PA.CD_ENTIDADE_PAGAMENTO = E.CD_ENTIDADE_CONCILIACAO) [Ent. Pagamento]'
			IF @p_idTipo = 1
				BEGIN
					-- MOSTRA TODOS OS REGISTROS - CONCEITO MATRIZ
					select @v_descQuery += ' FROM	TB_PARCELA PA, TB_DIVIDA DI, TB_PESSOA P'
					select @v_descQuery += ' WHERE	PA.CD_DIVIDA = DI.CD_DIVIDA'
					select @v_descQuery += ' AND	P.CD_PESSOA = DI.CD_PESSOA' + @p_descCondicao
				END
			ELSE
				BEGIN
					-- MOSTRA APENAS PEDIDOS DO CD NO QUAL A PESSOA ESTEJA ASSOCIADA - CONCEITO FRANQUIA
					select @v_descQuery += ' FROM TB_PARCELA PA, TB_DIVIDA DI, TB_PEDIDO PD, TB_CENTRO_DISTRIBUICAO C, TB_PESSOA_COLABORADOR D, TB_PESSOA P'
					select @v_descQuery += ' WHERE PA.CD_DIVIDA = DI.CD_DIVIDA'
					select @v_descQuery += ' AND DI.NM_PEDIDO = PD.NM_PEDIDO ' + @p_descCondicao
					select @v_descQuery += ' AND P.CD_PESSOA = DI.CD_PESSOA'
					select @v_descQuery += ' AND PD.CD_CENTRO_DISTRIBUICAO = C.CD_CENTRO_DISTRIBUICAO'
					select @v_descQuery += ' AND C.CD_EMPRESA = D.CD_EMPRESA'
					select @v_descQuery += ' AND D.CD_PESSOA = ' + convert(varchar,@p_codigoPessoaLogin)
				END
			
			select @v_descQuery += ' ORDER BY DI.NM_PEDIDO DESC'

		END  
	ELSE
		BEGIN 
			
			select @v_descQuery = ' SELECT DI.NM_PEDIDO [Pedido],'
			select @v_descQuery += ' PA.CD_PARCELA [Título],'
			select @v_descQuery += ' (select max(NM_NOTA_FISCAL) from tb_nota_fiscal where NM_PEDIDO = DI.NM_PEDIDO and ID_SITUACAO_NOTA_FISCAL = 2 and ID_TIPO_NOTA_FISCAL = 2) [Nota Fiscal],'
        	-- errado ao buscar da divida ou parcela, pois se o cliente muda no meio da captação nao atualiza as tabelas e pode mostrar meio de pagamento cartao e plano boleto
			--select @v_descQuery += ' dbo.FN_BUSCA_DOMINIO(''MEIO_PAGAMENTO'', DI.ID_MEIO_PAGAMENTO) [Meio de Pagamento],'
			select @v_descQuery += ' (SELECT dbo.FN_BUSCA_DOMINIO(''MEIO_PAGAMENTO'', X.ID_MEIO_PAGAMENTO) FROM TB_PLANO_PAGAMENTO X, TB_PEDIDO Z WHERE X.CD_PLANO_PAGAMENTO = Z.CD_PLANO_PAGAMENTO AND Z.NM_PEDIDO = DI.NM_PEDIDO) [Meio de Pagamento],'
			select @v_descQuery += ' (SELECT X.DC_PLANO_PAGAMENTO FROM TB_PLANO_PAGAMENTO X, TB_PEDIDO Z WHERE X.CD_PLANO_PAGAMENTO = Z.CD_PLANO_PAGAMENTO AND Z.NM_PEDIDO = DI.NM_PEDIDO) [Plano Pagamento],'
			select @v_descQuery += ' dbo.FN_BUSCA_DOMINIO(''SITUACAO_PARCELA'', PA.ID_SITUACAO_PARCELA) [Sit. Título],'
			select @v_descQuery += ' dbo.FN_BUSCA_DOMINIO(''SITUACAO_PAGAMENTO_PARCELA'', PA.ID_SITUACAO_PAGAMENTO_PARCELA) [Sit. Pagamento] ,'
			select @v_descQuery += ' PA.VL_ORIGINAL_PARCELA [Valor Original],'
			select @v_descQuery += ' PA.VL_ORIGINAL_PARCELA_SALDO [Saldo],'
			select @v_descQuery += ' CONVERT(CHAR(10),PA.DT_VENCIMENTO,103) [Data de Vencimento],'
			select @v_descQuery += ' convert(date,PA.DT_GERACAO_PARCELA,103) [Data de Geração],'
			select @v_descQuery += ' PA.VL_ATUALIZADO_PARCELA [Valor Atualizado],'
			select @v_descQuery += ' DI.CD_PESSOA [Cód. Pessoa],'
			select @v_descQuery += ' dbo.FN_BUSCA_NOME_PESSOA(DI.CD_PESSOA) [Pessoa],'
			select @v_descQuery += ' dbo.FN_BUSCA_EMAIL_PESSOA(DI.CD_PESSOA, 1) [E-mail],'
			select @v_descQuery += ' dbo.FN_BUSCA_DOCUMENTO_PESSOA(DI.CD_PESSOA,1) [CPF / CNPJ],'
			select @v_descQuery += ' dbo.FN_BUSCA_DOCUMENTO_PESSOA(DI.CD_PESSOA,2) [RG / IE],'
			select @v_descQuery += ' dbo.FN_BUSCA_TELEFONE_PESSOA(DI.CD_PESSOA, 1) [Telefone],'
			select @v_descQuery += ' Case P.ID_TIPO_PESSOA'
			select @v_descQuery += ' WHEN 1 THEN dbo.fn_PessoaRetornaEnderecoCompleto(DI.CD_PESSOA, 1, 2, 0)'
			select @v_descQuery += ' WHEN 2 THEN dbo.fn_PessoaRetornaEnderecoCompleto(DI.CD_PESSOA, 3, 2, 0)'
			select @v_descQuery += ' ELSE '''' END [Endereço],'
			select @v_descQuery += ' (SELECT E.DC_ENTIDADE_CONCILIACAO FROM TB_ENTIDADE_CONCILIACAO E WHERE PA.CD_ENTIDADE_CRIACAO = E.CD_ENTIDADE_CONCILIACAO) [Ent. Criação] ,'
			select @v_descQuery += ' (SELECT E.DC_ENTIDADE_CONCILIACAO FROM TB_ENTIDADE_CONCILIACAO E WHERE PA.CD_ENTIDADE_PAGAMENTO = E.CD_ENTIDADE_CONCILIACAO) [Ent. Pagamento]'
			IF @p_idTipo = 1
				BEGIN
					-- MOSTRA TODOS OS REGISTROS - CONCEITO MATRIZ
					select @v_descQuery += ' FROM	TB_PARCELA PA, TB_DIVIDA DI, TB_PESSOA P'
					select @v_descQuery += ' WHERE	PA.CD_DIVIDA = DI.CD_DIVIDA'
					select @v_descQuery += ' AND	P.CD_PESSOA = DI.CD_PESSOA' + @p_descCondicao
				END
			ELSE
				BEGIN
					-- MOSTRA APENAS PEDIDOS DO CD NO QUAL A PESSOA ESTEJA ASSOCIADA - CONCEITO FRANQUIA
					select @v_descQuery += ' FROM TB_PARCELA PA, TB_DIVIDA DI, TB_PEDIDO PD, TB_CENTRO_DISTRIBUICAO C, TB_PESSOA_COLABORADOR D, TB_PESSOA P'
					select @v_descQuery += ' WHERE PA.CD_DIVIDA = DI.CD_DIVIDA'
					select @v_descQuery += ' AND DI.NM_PEDIDO = PD.NM_PEDIDO ' + @p_descCondicao
					select @v_descQuery += ' AND P.CD_PESSOA = DI.CD_PESSOA'
					select @v_descQuery += ' AND PD.CD_CENTRO_DISTRIBUICAO = C.CD_CENTRO_DISTRIBUICAO'
					select @v_descQuery += ' AND C.CD_EMPRESA = D.CD_EMPRESA'
					select @v_descQuery += ' AND D.CD_PESSOA = ' + convert(varchar,@p_codigoPessoaLogin)
				END

			select @v_descQuery += ' ORDER BY DI.NM_PEDIDO DESC'
		END 

	exec (@v_descQuery)

END
GO
