SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaVerificaRegrasSituacaoCadastro]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoRegra					int,
	
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_codigoResultado				int				output,
	@p_mensagemResultado			varchar(1000)	output
	
	
AS

-- ****************************************************************
/* 
p_codigoRegra
		1 – Acessa EV
		2 – Capta Pedido LV
		3 – Cria Vinculo CF
		4 – Indica CN
		5 – Executa Kit Automático
		6 - CF Indica CN na Captação
		7 - Mostra Link da CN no EV (Home)
*/
-- ****************************************************************



DECLARE @v_codigoSituacaoCadastroAtual		numeric(18,0)


DECLARE @v_codigoAcessaEV				INT,
		@v_codigoCaptaPedidoLV			INT,
		@v_codigoCriaVinculoCF			INT,
		@v_codigoIndicaCN				INT,
		@v_codigoExecutaKitAutomatico	INT,
		@v_codigoCFIndicaCNCaptacao		INT,
		@v_codigoMostraLinkCN			INT

DECLARE @v_msgAcessaEV					VARCHAR(150),
		@v_msgCaptaPedidoLV				VARCHAR(150),
		@v_msgCriaVinculoCF				VARCHAR(150),
		@v_msgIndicaCN					VARCHAR(150),
		@v_msgExecutaKitAutomatico		VARCHAR(150),
		@v_msgCFIndicaCNCaptacao		VARCHAR(150),
		@v_msgMostraLinkCN				VARCHAR(150)

DECLARE @v_qtdPedidoPago				INT,
        @v_vlIndicadorAcessaEV                          NUMERIC(18,2)

DECLARE @v_cd_SituacaoComercial                         NUMERIC(18,0)


			
BEGIN TRY
		
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	SELECT @p_codigoResultado = 0
	SELECT @p_mensagemResultado	= ''

	

	-- *************************************************************
	-- BUSCA SITUAÇÃO DE CADASTRO ATUAL DA PESSOA
	-- *************************************************************
	SELECT @v_codigoSituacaoCadastroAtual = ISNULL(CD_SITUACAO_CADASTRO,0)
	FROM TB_PESSOA
	WHERE CD_PESSOA = @p_codigoPessoa 


	-- ************************************************************
	-- SOMENTE CONTINUA SE FOR 3 - APROVADO / 4 - AGUARDANDO APROVAÇÃO / 5 - REPROVADO
	-- *************************************************************
	IF @v_codigoSituacaoCadastroAtual = 3 OR @v_codigoSituacaoCadastroAtual = 4 OR @v_codigoSituacaoCadastroAtual = 5
		BEGIN

			-- *****************************************************
			-- AGORA VAMOS VERIFICAR A REGRA A SER VALIDADA
			-- *****************************************************
			
			SELECT	@v_codigoAcessaEV = ISNULL(ID_ACESSA_EV,1),
					@v_msgAcessaEV = ISNULL(DC_MSG_ACESSA_EV,''),
					@v_codigoCaptaPedidoLV = ISNULL(ID_CAPTA_PEDIDO_LV,1),
					@v_msgCaptaPedidoLV = ISNULL(DC_MSG_CAPTA_PEDIDO_LV,''),
					@v_codigoCriaVinculoCF = ISNULL(ID_CRIA_VINCULO_CF,1),
					@v_msgCriaVinculoCF = ISNULL(DC_MSG_CRIA_VINCULO_CF,''),
					@v_codigoIndicaCN = ISNULL(ID_INDICA_CN,1),
					@v_msgIndicaCN = ISNULL(DC_MSG_INDICA_CN,''),
					@v_codigoExecutaKitAutomatico = ISNULL(ID_EXECUTA_KIT_AUTOMATICO,1),
					@v_msgExecutaKitAutomatico = ISNULL(DC_MSG_EXECUTA_KIT_AUTOMATICO,''),
					@v_codigoCFIndicaCNCaptacao	 = ISNULL(ID_PERMITE_CF_INDICAR_CAPTACAO,1),
					@v_msgCFIndicaCNCaptacao = ISNULL(DC_MSG_PERMITE_CF_INDICAR_CAPTACAO,''),
					@v_codigoMostraLinkCN = ISNULL(ID_MOSTRA_LINK_CN_EV,1),
					@v_msgMostraLinkCN = ISNULL(DC_MSG_MOSTRA_LINK_CN_EV,'')
			FROM TB_SITUACAO_CADASTRO
			WHERE CD_SITUACAO_CADASTRO = @v_codigoSituacaoCadastroAtual


			-- *****************************************************
			-- VERIFICA SE O PRIMEIRO PEDIDO DA PESSOA FOI PAGO
			-- *****************************************************
			--SELECT @v_qtdPedidoPago = COUNT(*) FROM TB_DIVIDA
			--WHERE NM_PEDIDO IN (
			--	SELECT MIN(NM_PEDIDO) NM_PEDIDO FROM TB_PEDIDO
			--	WHERE CD_PESSOA = @p_codigoPessoa
			--	AND CD_EST_SITUACAO NOT IN (1,3,99))
			--	AND ID_SITUACAO_PAGAMENTO = 2



			-- *****************************************************
			-- ALTERADO POR ANDERSON - 04/03/2020
			-- VERIFICA SE O PRIMEIRO PEDIDO DA PESSOA FOI PAGO
			-- AO INVES DE PEGAR A SITUAÇÃO DA DIVIDA
			-- VAMOS PEGAR O CICLO DE PAGAMENTO DO PEDIDO
			-- *****************************************************
			SELECT @v_qtdPedidoPago = COUNT(*) FROM TB_PEDIDO P
			WHERE P.NM_PEDIDO IN (
				SELECT MIN(NM_PEDIDO) NM_PEDIDO FROM TB_PEDIDO
				WHERE CD_PESSOA = @p_codigoPessoa
				AND CD_EST_SITUACAO NOT IN (1,3,99))
				AND P.NM_CICLO_PAGAMENTO IS NOT NULL


			-- *********************************************************
			-- BUSCA O VALOR DO INDICADOR ACESSA EV (TIPO_INDICADOR = 5)
			-- *********************************************************
			SELECT	@v_vlIndicadorAcessaEV  = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
            		FROM	TB_PESSOA_INDICADOR
            		WHERE	CD_PESSOA  = @p_codigoPessoa
            		AND		NM_CICLO   IN (
                    					SELECT NM_CICLO_ATUAL 
                    					FROM TB_PESSOA_RESUMO
                    					WHERE CD_PESSOA = @p_codigoPessoa
                   					AND   CD_FUNCAO = 2)
            		AND   CD_FUNCAO  = 2
            		AND   CD_INDICADOR_PESSOAL IN (
                   					SELECT MIN (CD_INDICADOR_PESSOAL)
                    					FROM  TB_INDICADOR_PESSOAL
							WHERE ID_TIPO_INDICADOR = 5)


			-- *********************************************************
			-- ALTERADO POR ALDIR - 27/01/2021
			-- BUSCA A SITUAÇÃO COMERCIAL DA PESSOA
			-- A PESSOA DESATIVADA NÃO PODE SER INDICANTE (PATROCINADOR)
			-- *********************************************************
			SELECT @v_cd_SituacaoComercial = isnull(max(CD_SITUACAO_COMERCIAL),0)
			FROM TB_PESSOA_RESUMO
			WHERE CD_PESSOA = @p_codigoPessoa
			AND   CD_FUNCAO = 2


			-- *****************************************************
			-- 1 – Acessa EV
			-- *****************************************************
			IF @p_codigoRegra = 1
				BEGIN

					-- SIM
					IF @v_codigoAcessaEV = 1 
						BEGIN
							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 1
							SELECT @p_mensagemResultado	= ''
							
							RETURN
						END

					-- NÃO
					IF @v_codigoAcessaEV = 2
						BEGIN

							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 2
							SELECT @p_mensagemResultado	= @v_msgAcessaEV
							
							RETURN

						END

					-- PRIMEIRO PEDIDO PAGO
					IF @v_codigoAcessaEV = 3 
						BEGIN

							IF @v_qtdPedidoPago >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgAcessaEV
			
									RETURN
								END

						END

					-- INDICADOR
					IF @v_codigoAcessaEV = 4 
						BEGIN

							IF @v_vlIndicadorAcessaEV >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 4
									SELECT @p_mensagemResultado = @v_msgAcessaEV
			
									RETURN
								END

						END
				
				END
					

			-- *****************************************************
			-- 2 – Capta Pedido LV
			-- *****************************************************
			IF @p_codigoRegra = 2
				BEGIN

					-- SIM
					IF @v_codigoCaptaPedidoLV = 1 
						BEGIN
							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 1
							SELECT @p_mensagemResultado	= ''
							
							RETURN
						END


					-- NÃO
					IF @v_codigoCaptaPedidoLV = 2
						BEGIN

							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 2
							SELECT @p_mensagemResultado	= @v_msgCaptaPedidoLV
							
							RETURN

						END


					-- PRIMEIRO PEDIDO PAGO
					IF @v_codigoCaptaPedidoLV = 3 
						BEGIN

							IF @v_qtdPedidoPago >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgCaptaPedidoLV
			
									RETURN
								END

						END

					-- INDICADOR
					IF @v_codigoCaptaPedidoLV = 4 
						BEGIN

							IF @v_vlIndicadorAcessaEV >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgCaptaPedidoLV
			
									RETURN
								END

						END
				END

			
			-- *****************************************************
			-- 3 – Cria Vinculo CF
			-- *****************************************************
			IF @p_codigoRegra = 3
				BEGIN

					-- SIM
					IF @v_codigoCriaVinculoCF = 1 
						BEGIN
							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 1
							SELECT @p_mensagemResultado	= ''
							
							RETURN
						END


					-- NÃO
					IF @v_codigoCriaVinculoCF = 2
						BEGIN

							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 2
							SELECT @p_mensagemResultado	= @v_msgCriaVinculoCF
							
							RETURN

						END


					-- PRIMEIRO PEDIDO PAGO
					IF @v_codigoCriaVinculoCF = 3
						BEGIN
							
							IF @v_qtdPedidoPago >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgCriaVinculoCF
			
									RETURN
								END
						END
							

					-- INDICADOR
					IF @v_codigoCriaVinculoCF = 4
						BEGIN

							IF @v_vlIndicadorAcessaEV >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgCriaVinculoCF
			
									RETURN
								END

						END

				END

					
			-- *****************************************************
			-- 4 – Indica CN
			-- *****************************************************
			IF @p_codigoRegra = 4
				BEGIN

					-- SIM
					IF @v_codigoIndicaCN = 1 and @v_cd_SituacaoComercial < 4  -- Aldir (27/01/2021)
						BEGIN
							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 1
							SELECT @p_mensagemResultado	= ''
							
							RETURN
						END


					-- NÃO
					IF @v_codigoIndicaCN = 2
						BEGIN

							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 2
							SELECT @p_mensagemResultado	= @v_msgIndicaCN
							
							RETURN

						END

					-- PRIMEIRO PEDIDO PAGO
					IF @v_codigoIndicaCN = 3
						BEGIN

							IF @v_qtdPedidoPago >= 1 and @v_cd_SituacaoComercial < 4  -- Aldir (27/01/2021)
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgIndicaCN
			
									RETURN
								END

						END

					-- INDICADOR
					IF @v_codigoIndicaCN = 4
						BEGIN

							IF @v_vlIndicadorAcessaEV >= 1 and @v_cd_SituacaoComercial < 4  -- Aldir (27/01/2021)
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgIndicaCN
			
									RETURN
								END

						END
				END


			-- *****************************************************
			-- 5 – Executa Kit Automático
			-- *****************************************************
			IF @p_codigoRegra = 5
				BEGIN

					-- SIM
					IF @v_codigoExecutaKitAutomatico = 1 
						BEGIN
							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 1
							SELECT @p_mensagemResultado	= ''
							
							RETURN
						END


					-- NÃO
					IF @v_codigoExecutaKitAutomatico = 2
						BEGIN

							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 2
							SELECT @p_mensagemResultado	= @v_msgExecutaKitAutomatico
							
							RETURN

						END


					-- PRIMEIRO PEDIDO PAGO
					IF @v_codigoExecutaKitAutomatico = 3
						BEGIN

							IF @v_qtdPedidoPago >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgExecutaKitAutomatico
			
									RETURN
								END

						END

					-- INDICADOR
					IF @v_codigoExecutaKitAutomatico = 4
						BEGIN

							IF @v_vlIndicadorAcessaEV >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado = @v_msgExecutaKitAutomatico
			
									RETURN
								END

						END

				END
		
		
		    -- *****************************************************
			-- 6 – CF indicar CN na captação
			-- *****************************************************
			IF @p_codigoRegra = 6
				BEGIN

					-- SIM
					IF @v_codigoCFIndicaCNCaptacao = 1 
						BEGIN
							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 1
							SELECT @p_mensagemResultado	= ''
							
							RETURN
						END


					-- NÃO
					IF @v_codigoCFIndicaCNCaptacao = 2
						BEGIN

							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 2
							SELECT @p_mensagemResultado	= @v_msgCFIndicaCNCaptacao
							
							RETURN

						END

					-- PRIMEIRO PEDIDO PAGO
					IF @v_codigoCFIndicaCNCaptacao = 3 
						BEGIN

							IF @v_qtdPedidoPago >= 1

								BEGIN

									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

								END
							ELSE

								BEGIN

									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado	= @v_msgCFIndicaCNCaptacao

								END 

							RETURN

						END

					-- INDICADOR
					IF @v_codigoCFIndicaCNCaptacao = 4
						BEGIN

							IF @v_vlIndicadorAcessaEV >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 2
									SELECT @p_mensagemResultado	= @v_msgCFIndicaCNCaptacao
			
									RETURN
								END

						END

				END



			-- *****************************************************
			-- 7 – Mostra Link CN na Home
			-- *****************************************************
			IF @p_codigoRegra = 7
				BEGIN

					-- SIM
					IF @v_codigoMostraLinkCN = 1 
						BEGIN
							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 1
							SELECT @p_mensagemResultado	= ''
							
							RETURN
						END


					-- NÃO
					IF @v_codigoMostraLinkCN = 2
						BEGIN

							SELECT @p_codigoErro = 0
							SELECT @p_descricaoErro = 'Executado com Sucesso'
			
							SELECT @p_codigoResultado = 2
							SELECT @p_mensagemResultado	= @v_msgMostraLinkCN
							
							RETURN

						END


					-- PRIMEIRO PEDIDO PAGO
					IF @v_codigoMostraLinkCN = 3 
						BEGIN

							IF @v_qtdPedidoPago >= 1

								BEGIN

									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

								END
							ELSE

								BEGIN

									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 3
									SELECT @p_mensagemResultado	= @v_msgMostraLinkCN

								END 

							RETURN

						END

					-- INDICADOR
					IF @v_codigoMostraLinkCN = 4
						BEGIN

							IF @v_vlIndicadorAcessaEV >= 1
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'
			
									SELECT @p_codigoResultado = 1
									SELECT @p_mensagemResultado	= ''

									RETURN
								END
							ELSE
								BEGIN
									SELECT @p_codigoErro = 0
									SELECT @p_descricaoErro = 'Executado com Sucesso'

									SELECT @p_codigoResultado = 3
									SELECT @p_mensagemResultado	= @v_msgMostraLinkCN
			
									RETURN
								END

						END


				END

		
		END
	ELSE
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'Situação de Cadastro não permite validação'

			SELECT @p_codigoResultado = 0
			SELECT @p_mensagemResultado	= ''

			RETURN
		END
			

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
     SELECT @p_codigoErro = 2
     SELECT @p_descricaoErro = ERROR_MESSAGE()

	 SELECT @p_codigoResultado = 0
	SELECT @p_mensagemResultado	= ''
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descricaoErro, @p_codigoErro, 1)
END CATCH;

GO
