SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_RegraComercialInserePapelCarreira]
	@p_codigoRegraComercial		numeric(18,0),
	@p_codigoPapelCarreira		numeric(18,0),
	
	@p_codigoUsuario			numeric(18,0),
	@p_tipoFuncao				varchar(1),
			
	@p_codigoErro				int				output,
	@p_descricaoErro			varchar(1000)	output,
	@p_linhasAfetadas			int				output

	
AS

BEGIN TRY
	
		SELECT @p_linhasAfetadas = 0
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''

		
		IF @p_tipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO TB_REGRA_COMERCIAL_PAPEL_CARREIRA (
					CD_REGRA_COMERCIAL,
					CD_PAPEL_CARREIRA,
					CD_USUARIO_CADASTRO,
					DT_CADASTRO)
					
						
				VALUES           (
					@p_codigoRegraComercial,
					@p_codigoPapelCarreira,
					@p_codigoUsuario,
					GETDATE())
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
			

		IF @p_tipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA 
				WHERE CD_REGRA_COMERCIAL = @p_codigoRegraComercial 
							
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
				
			END	
			


		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
