SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaPlanoAdesaoInserePlano]
	@p_codigoPessoa					NUMERIC(18,0),
	@p_codigoPlanoAdesao			NUMERIC(18,0),
	@p_idSituacaoPlano				INT,
	@p_dataVigenciaInicial			DATE,
	@p_dataVigenciaFinal			DATE,
	@p_dataAlertaRenovacao			DATE,
	@p_codigoPlanoPagamento			NUMERIC(18,0),
	@p_idSituacaoPagamento			INT,
	@p_valorPagarTotal				NUMERIC(18,2),
	@p_valorPagarOriginal			NUMERIC(18,2),
	@p_valorPagarRenovacao			NUMERIC(18,2),
	@p_descReferenciaPgto			VARCHAR(200),
	@p_dataPagamento				DATE,
	@p_descProcessamentoPagamento	VARCHAR(4000),
	@p_numeroPedidoGerado			NUMERIC(18,0) OUTPUT,

	@p_codigoUsuario				NUMERIC(18,0),
	@p_descAcao						VARCHAR(1),

	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT
AS

DECLARE @v_nmDiasDuracao		INT,
		@v_nmDiasRenovacao		INT,
		@v_valorPlanoAdesao		NUMERIC(18,2)

BEGIN TRY

	SELECT @p_codigoErro = 0,
		   @p_descErro = '',
		   @p_qtLinhasAfetadas = 0
  
	-- BUSCA DADOS DO PLANO DE ADESÃO
	SELECT	@v_nmDiasDuracao = ISNULL(NM_DIAS_DURACAO,0),
			@v_nmDiasRenovacao = ISNULL(NM_DIAS_RENOVACAO,0),
			@v_valorPlanoAdesao = ISNULL(VL_PLANO_ADESAO,0)
	  FROM TB_PLANO_ADESAO PA WITH(NOLOCK)
	 WHERE PA.CD_PLANO_ADESAO = @p_codigoPlanoAdesao
	
	IF @p_descAcao = 'N'
		BEGIN
			-- PLANO NOVO DE BASE, VAMOS INSERIR AS INFORMAÇÕES BÁSICAS DO PLANO
			INSERT INTO TB_PESSOA_PLANO_ADESAO	
				(CD_PESSOA,
				CD_PLANO_ADESAO,
				ID_SITUACAO_PESSOA_PLANO_ADESAO,
				DT_VIGENCIA_INICIAL,
				DT_VIGENCIA_FINAL,
				DT_ALERTA_RENOVACAO,
				VL_PAGAR_TOTAL,
				VL_PAGAR_ORIGINAL,
				VL_PAGAR_RENOVACAO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO)
			VALUES	
				(@p_codigoPessoa,
				@p_codigoPlanoAdesao,
				1,
				CONVERT(DATE,GETDATE()),
				CONVERT(DATE,GETDATE() + @v_nmDiasDuracao),
				CONVERT(DATE,GETDATE() + (@v_nmDiasDuracao - @v_nmDiasRenovacao)),
				0,
				0,
				0,
				GETDATE(),
				@p_codigoUsuario)
		END

	IF @p_descAcao = 'I'
		BEGIN
			-- PLANO NOVO ADQUIRIDO PELO CLIENTE
			INSERT INTO TB_PESSOA_PLANO_ADESAO	
				(CD_PESSOA,
				CD_PLANO_ADESAO,
				ID_SITUACAO_PESSOA_PLANO_ADESAO,
				DT_VIGENCIA_INICIAL,
				DT_VIGENCIA_FINAL,
				DT_ALERTA_RENOVACAO,
				VL_PAGAR_TOTAL,
				VL_PAGAR_ORIGINAL,
				VL_PAGAR_RENOVACAO,
				CD_PLANO_PAGAMENTO,
				ID_SITUACAO_PAGAMENTO_PLANO_ADESAO,
				DC_REFERENCIA_PAGAMENTO,
				NM_PEDIDO_GERADO,
				DT_PAGAMENTO,
				DC_PROCESSAMENTO_PAGAMENTO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO)
			VALUES	
				(@p_codigoPessoa,
				@p_codigoPlanoAdesao,
				@p_idSituacaoPlano,
				CONVERT(DATE,GETDATE()),
				CONVERT(DATE,GETDATE() + @v_nmDiasDuracao),
				CONVERT(DATE,GETDATE() + (@v_nmDiasDuracao - @v_nmDiasRenovacao)),
				@p_valorPagarTotal,
				@p_valorPagarOriginal,
				@p_valorPagarRenovacao,
				@p_codigoPlanoPagamento,
				@p_idSituacaoPagamento,
				@p_descReferenciaPgto,
				@p_numeroPedidoGerado,
				@p_dataPagamento,
				@p_descProcessamentoPagamento,
				GETDATE(),
				@p_codigoUsuario)
		END

	IF @p_descAcao = 'A'
		BEGIN
			-- ATUALIZAÇÃO DO PLANO
			UPDATE TB_PESSOA_PLANO_ADESAO
			   SET ID_SITUACAO_PESSOA_PLANO_ADESAO = @p_idSituacaoPlano,
				   DT_VIGENCIA_INICIAL = @p_dataVigenciaInicial,
				   DT_VIGENCIA_FINAL = @p_dataVigenciaFinal,
				   DT_ALERTA_RENOVACAO = @p_dataAlertaRenovacao,
				   VL_PAGAR_TOTAL = @p_valorPagarTotal,
				   VL_PAGAR_ORIGINAL = @p_valorPagarOriginal,
				   VL_PAGAR_RENOVACAO = @p_valorPagarRenovacao,
				   CD_PLANO_PAGAMENTO = @p_codigoPlanoPagamento,
				   ID_SITUACAO_PAGAMENTO_PLANO_ADESAO = @p_idSituacaoPagamento,
				   DC_REFERENCIA_PAGAMENTO = @p_descReferenciaPgto,
				   NM_PEDIDO_GERADO = @p_numeroPedidoGerado,
				   DT_PAGAMENTO = @p_dataPagamento,
				   DC_PROCESSAMENTO_PAGAMENTO = @p_descProcessamentoPagamento,
				   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
				   DT_ATUALIZACAO = GETDATE()
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND CD_PLANO_ADESAO = @p_codigoPlanoAdesao
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
