SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PedidoVerificaPagamentoMoedaVirtual]
	 @p_numeroPedido		NUMERIC(18,0)
	,@p_codigoUsuario		NUMERIC(18,0)
	
	,@p_codigoErro			INT OUTPUT
	,@p_descErro			NVARCHAR(MAX) OUTPUT
	,@p_qtdeLinhasAfetadas	INT OUTPUT
	
AS
		
DECLARE  @v_valorMoedaVirtualUtilizado	NUMERIC(18,2)
		,@v_codigoEntidadeMoedaVirtual	NUMERIC(18,0)
		,@v_codigoParcela				NUMERIC(18,0)
BEGIN TRY

	    SELECT @p_qtdeLinhasAfetadas = 0
		
		-- ************************************************************
		-- PROCEDURE CRIADA EM 15/02/2020 POR DIEGO ZILIOTI
		-- VAMOS MUDAR O CONCEITO DE UTILIZAÇÃO DO VALOR DE MOEDA VIRTUAL, IREMOS GERAR UMA CONCILIAÇÃO PARA A DÍVIDA DO PEDIDO
		-- *************************************************************

		-- BUSCAMOS O VALOR DE MOEDA VIRTUAL UTILIZADO
		SELECT @v_valorMoedaVirtualUtilizado = ISNULL(VL_MOEDA_VIRTUAL_UTILIZADO,0)
		  FROM TB_PEDIDO
		 WHERE NM_PEDIDO = @p_numeroPedido
		
		-- AGORA BUSCA A ENTIDADE DE CONCILIAÇÃO DA MOEDA VIRTUAL
		SELECT @v_codigoEntidadeMoedaVirtual = ISNULL(VL_PARAMETRO,0)
		  FROM TB_VALOR_PARAMETRO
		 WHERE CD_GRUPO_PARAMETRO = 8
		   AND CD_PARAMETRO = 13

		IF @v_valorMoedaVirtualUtilizado > 0 AND @v_codigoEntidadeMoedaVirtual > 0
			BEGIN
				-- VAMOS EXECUTAR A CONCILIACAO DESTE PEDIDO COM O VALOR DE MOEDA VIRTUAL
				-- PRIMERO BUSCAREMOS A PARCELA QUE SERÁ CONCILIADA
				SELECT @v_codigoParcela = MAX(P.CD_PARCELA)
				  FROM TB_DIVIDA D, TB_PARCELA P
				 WHERE P.CD_DIVIDA = D.CD_DIVIDA
				   AND D.NM_PEDIDO = @p_numeroPedido
				   AND D.ID_SITUACAO_DIVIDA = 1

				-- EXECUTA O PAGAMENTO
				EXEC dbo.SP_BAIXA_CONCILIACAO	@v_codigoParcela
												,@v_valorMoedaVirtualUtilizado
												,@v_codigoEntidadeMoedaVirtual
												,2 --automática
												,'' --obs
												,@p_codigoUsuario
												,@p_codigoErro output
												,@p_descErro output
												,@p_qtdeLinhasAfetadas output

			END


		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;


GO
