SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CANCELA_PEDIDOS_SALVOS]
	@DT_FECHAMENTO DATE,
	@CD_USUARIO numeric(18, 0),
	@CD_ERRO		INT OUTPUT,
	@DC_ERRO		VARCHAR(100) OUTPUT
	
AS

DECLARE @V_CONTADOR int,
        @CURSOR_PEDIDOS_SALVOS	CURSOR,
        @V_NM_PEDIDO numeric(18, 0),
        @CURSOR_PEDIDO_HISTORICO	CURSOR,
        @V_CD_EST_SITUACAO numeric(18, 0),
	    @V_DT_INICIAL datetime,
	    @V_VL_PARAMETRO numeric(18, 4),
	    @V_QDE_DIAS_UTEIS INT
	    	
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	    
	    -- BUSCAR A QDADE DE DIAS PARA CANCELAR O PEDIDO SALVO DE PAGTO
	    SELECT @V_CONTADOR = COUNT(*)
		FROM TB_VALOR_PARAMETRO 
		WHERE CD_GRUPO_PARAMETRO = 4 
		AND  CD_PARAMETRO = 16 
		AND CD_VALOR_PARAMETRO = 1 
		
		IF @V_CONTADOR = 0
		BEGIN
		  SELECT @CD_ERRO = 1
	      SELECT @DC_ERRO = 'Valor Parametro nao encontrado'
	      RETURN
		END
		
		SELECT @V_VL_PARAMETRO = VL_PARAMETRO
		FROM TB_VALOR_PARAMETRO 
		WHERE CD_GRUPO_PARAMETRO = 4
		AND  CD_PARAMETRO = 16
		AND CD_VALOR_PARAMETRO = 1 
	    
	    -- CURSOR DE PEDIDOS SALVO	    
	    SET @CURSOR_PEDIDOS_SALVOS = CURSOR FAST_FORWARD
		FOR
			SELECT	NM_PEDIDO
			FROM TB_PEDIDO
			WHERE CD_EST_SITUACAO = 100
	    
	    OPEN @CURSOR_PEDIDOS_SALVOS
		FETCH NEXT FROM @CURSOR_PEDIDOS_SALVOS
		INTO @V_NM_PEDIDO
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
		  -- CURSOR DE PENDENCIAS DO PEDIDO
		  SET @CURSOR_PEDIDO_HISTORICO = CURSOR FAST_FORWARD
		  FOR
			SELECT	CD_EST_SITUACAO, DT_INICIAL
			FROM TB_PEDIDO_HISTORICO
			WHERE NM_PEDIDO = @V_NM_PEDIDO
			AND   CD_EST_SITUACAO = 100	
			AND DT_FINAL IS NULL
			
		    OPEN @CURSOR_PEDIDO_HISTORICO
		    FETCH NEXT FROM @CURSOR_PEDIDO_HISTORICO
		    INTO @V_CD_EST_SITUACAO,
				 @V_DT_INICIAL
		
			WHILE @@FETCH_STATUS = 0
		    BEGIN
                    SELECT @V_QDE_DIAS_UTEIS = DATEDIFF(DAY,@V_DT_INICIAL, @DT_FECHAMENTO) 
				    --SELECT @V_QDE_DIAS_UTEIS = [dbo].FN_BUSCA_DIFERENCA_DIAS (@V_DT_INICIAL,@DT_FECHAMENTO)
				    IF @V_QDE_DIAS_UTEIS > @V_VL_PARAMETRO
				      BEGIN
				        EXEC SP_CANCELA_PEDIDO
				          @V_NM_PEDIDO,
				          31, --Cancelado por inatividade
						  1, -- movimenta estoque
				          @CD_USUARIO,
				          0,
						  '',
						  0
						  --break (sai do primeiro loop?)
				      END
		
		      FETCH NEXT FROM @CURSOR_PEDIDO_HISTORICO
		      INTO @V_CD_EST_SITUACAO,
				   @V_DT_INICIAL
		    END
		    CLOSE      @CURSOR_PEDIDO_HISTORICO  
            DEALLOCATE @CURSOR_PEDIDO_HISTORICO
		  
		  FETCH NEXT FROM @CURSOR_PEDIDOS_SALVOS
		  INTO @V_NM_PEDIDO
		END
		CLOSE      @CURSOR_PEDIDOS_SALVOS
        DEALLOCATE @CURSOR_PEDIDOS_SALVOS
        
        SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	        			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
