SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[pr_FinanceiroInsereContasPagar] 
	@p_CD_CONTA_PAGAR			NUMERIC(18,0) OUTPUT,
	@p_CD_FORNECEDOR			NUMERIC(18,0),
	@p_DT_VENCIMENTO		    DATE,
	@p_VL_CONTA_PAGAR           NUMERIC(18,2),
	@p_ID_SITUACAO_CONTA_PAGAR  INT,	
	@p_DT_PAGAMENTO             DATE,
	@p_DC_OBSERVACOES           VARCHAR(MAX),

	@p_CD_PLANO_CONTAS			NUMERIC(18,0),
	@p_VL_CONTA_PAGO            NUMERIC(18,2),
	@p_VL_CONTA_ACRESCIMO       NUMERIC(18,2),
	@p_VL_CONTA_DESCONTO        NUMERIC(18,2),
	@p_CD_CENTRO_DISTRIBUICAO   NUMERIC(18,0),


	@p_DT_CADASTRO              DATETIME,
	@p_CD_USUARIO_CADASTRO      NUMERIC(18,0),
	@p_DT_ATUALIZACAO           DATETIME,
	@P_CD_USUARIO_ATUALIZACAO   NUMERIC(18,0),
	
	@p_descAcao				VARCHAR(1),

	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT
AS

DECLARE @v_countCONTASPAGAR as int

BEGIN TRY
	
	    SELECT @p_qtdeLinhasAfetadas = 0
	
		IF @p_descAcao = 'I'
			BEGIN
					BEGIN TRANSACTION 
										

				INSERT INTO TB_CONTAS_PAGAR(
				        CD_FORNECEDOR,
						DT_VENCIMENTO,
						ID_SITUACAO_CONTA_PAGAR,	
						DT_PAGAMENTO,
						VL_CONTA_PAGAR,
						DC_OBSERVACOES,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						CD_PLANO_CONTAS,
						VL_CONTA_PAGO,
						VL_CONTA_ACRESCIMO,
						VL_CONTA_DESCONTO,
						CD_CENTRO_DISTRIBUICAO)
				VALUES (
					    @p_CD_FORNECEDOR,
						@p_DT_VENCIMENTO,
						@p_ID_SITUACAO_CONTA_PAGAR,	
						@p_DT_PAGAMENTO,
						@p_VL_CONTA_PAGAR,
						@p_DC_OBSERVACOES,
						GETDATE(),
						@p_CD_USUARIO_CADASTRO,
						@p_CD_PLANO_CONTAS,
						@p_VL_CONTA_PAGO,
						@p_VL_CONTA_ACRESCIMO,
						@p_VL_CONTA_DESCONTO,
						@p_CD_CENTRO_DISTRIBUICAO)

	
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
								
				SELECT @p_CD_CONTA_PAGAR = IDENT_CURRENT('TB_CONTAS_PAGAR')
			END				
			
			
		IF @p_descAcao = 'E'
			BEGIN
				
				BEGIN TRANSACTION 
			
						DELETE FROM TB_CONTAS_PAGAR 
							WHERE CD_CONTA_PAGAR = @p_CD_CONTA_PAGAR	
			
						SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
						COMMIT TRANSACTION
					END
				
		
		IF @p_descAcao = 'A'
			BEGIN
				BEGIN TRANSACTION
						
						UPDATE TB_CONTAS_PAGAR SET DT_VENCIMENTO = @p_DT_VENCIMENTO,		    
	                                               VL_CONTA_PAGAR = @p_VL_CONTA_PAGAR,         
	                                               ID_SITUACAO_CONTA_PAGAR = @p_ID_SITUACAO_CONTA_PAGAR,  
	                                               DT_PAGAMENTO = @p_DT_PAGAMENTO,             
                                                   DC_OBSERVACOES = @p_DC_OBSERVACOES,           
	                                               DT_CADASTRO = @p_DT_CADASTRO,            
                                    	           CD_USUARIO_CADASTRO = @p_CD_USUARIO_CADASTRO,
										           DT_ATUALIZACAO = GETDATE(),           
	                                               CD_USUARIO_ATUALIZACAO = @p_CD_USUARIO_CADASTRO,
												   CD_PLANO_CONTAS = @p_CD_PLANO_CONTAS,
												   VL_CONTA_PAGO = @p_VL_CONTA_PAGO,
												   VL_CONTA_ACRESCIMO = @p_VL_CONTA_ACRESCIMO,
												   VL_CONTA_DESCONTO = @p_VL_CONTA_DESCONTO,
												   CD_CENTRO_DISTRIBUICAO = @p_CD_CENTRO_DISTRIBUICAO
						 WHERE CD_CONTA_PAGAR = @p_CD_CONTA_PAGAR
						 
						SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
						
						COMMIT TRANSACTION
					END
				sELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
