SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************
@p_idEventoIndicacao
1	PEDIDO PAGO
2	PEDIDO APROVADO
************************************************/

CREATE PROCEDURE [dbo].[pr_CampanhaAplicaCampanhaPontos]
	@p_codigoPessoa			numeric(18,0),
	@p_numeroPedido			numeric(18,0),
	@p_codigoFuncao			INT,
	@p_numeroCiclo			NUMERIC(18,0),
	@p_idEventoCampanha		int,

	@p_codigoUsuario		NUMERIC(18,0),
	
	@p_codigoErro			INT OUTPUT,
	@p_descricaoErro		VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas		INT OUTPUT
	
AS

DECLARE @Cursor_Itens				CURSOR,
		@Cursor_Campanhas			CURSOR,
		@v_codigoCampanha			numeric(18,0),
		@v_codigoProduto			numeric(18,0),
		@v_valorPontos				numeric(18,2),
		@v_qtdeProduto				int,
		@v_valorProduto				numeric(18,2),
		@v_idUnidadeRequisito		int,
		@v_valorRequisito			numeric(18,2),
		@v_valorPontosRequisito		numeric(18,2),
		@v_valorPontosConquistados	numeric(18,2)

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0


		-- ***************************************************************************
		-- VAMOS PESQUISAR TODAS AS CAMPANHAS DE PONTOS ATIVAS 
		-- ***************************************************************************
		SET @Cursor_Campanhas = CURSOR FAST_FORWARD
		FOR

		SELECT C.CD_CAMPANHA
		FROM TB_CAMPANHA C WITH(NOLOCK), TB_CAMPANHA_PONTOS P WITH(NOLOCK)
		WHERE C.ID_TIPO_CAMPANHA = 2
		AND (ISNULL(C.NM_CICLO_INICIAL, @p_numeroCiclo) <= @p_numeroCiclo or C.NM_CICLO_INICIAL = 0)
		AND (ISNULL(C.NM_CICLO_FINAL, @p_numeroCiclo) >= @p_numeroCiclo OR C.NM_CICLO_FINAL = 0)
		AND C.ID_SITUACAO_CAMPANHA = 1
		AND C.CD_FUNCAO = @p_codigoFuncao
		AND C.CD_CAMPANHA = P.CD_CAMPANHA
		AND P.ID_EVENTO_CAMPANHA_PONTOS = 	@p_idEventoCampanha
			
		OPEN @Cursor_Campanhas
		FETCH NEXT FROM @Cursor_Campanhas
		INTO @v_codigoCampanha

		WHILE @@FETCH_STATUS = 0
			BEGIN
				-- vamos agora verificar os produtos e pontuações conquistadas no pedido
				SET @Cursor_Itens = CURSOR FAST_FORWARD
				FOR

				SELECT PDI.CD_PRODUTO_VENDA, PDI.QT_RESERVADA, pdi.VL_PAGAR_TOTAL, ci.ID_UNIDADE_REQUISITO_CAMPANHA_PONTOS, CI.NM_VALOR_REQUISITO, CI.QT_PONTOS_CONQUISTADOS
				  FROM TB_CAMPANHA_PONTOS_REQUISITO ci WITH(NOLOCK), TB_PEDIDO_ITEM PDI WITH(NOLOCK)
				 WHERE PDI.NM_PEDIDO_ITEM_CONJUNTO = 0
				   AND PDI.NM_PEDIDO = @p_numeroPedido
				   AND CI.CD_CAMPANHA = @v_codigoCampanha 
				   AND PDI.ID_ORIGEM_ITEM_PEDIDO = 1
				   AND ((CASE CI.ID_UNIDADE_REQUISITO_CAMPANHA_PONTOS WHEN 1 THEN CI.CD_TIPO_REQUISITO_CAMPANHA_PONTOS END = PDI.CD_PRODUTO_VENDA)
					   OR (CASE CI.ID_UNIDADE_REQUISITO_CAMPANHA_PONTOS WHEN 2 THEN DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(PDI.CD_PRODUTO_VENDA,CI.CD_TIPO_REQUISITO_CAMPANHA_PONTOS) END = 1))
				
				OPEN @Cursor_Itens
				FETCH NEXT FROM @Cursor_Itens
				INTO @v_codigoProduto, @v_qtdeProduto, @v_valorProduto, @v_idUnidadeRequisito, @v_valorRequisito, @v_valorPontosRequisito

				WHILE @@FETCH_STATUS = 0
					BEGIN
						--vamos verificar a quantidade de pontos conquistados antes de alimentar o saldo para a campanha em verificação
						
						-- pontos por quantidade
						if @v_idUnidadeRequisito = 1
							begin
								if @v_qtdeProduto >= @v_valorRequisito -- conquistou a quantidade mínima para aplicar a pontuação
									begin
										-- agora vamos calcular a quantidade de pontos que deverá ser aplicada
										select @v_valorPontosConquistados = @v_valorPontosRequisito * (@v_qtdeProduto / @v_valorRequisito)

										exec dbo.pr_PessoaInserePessoaCampanhaPontosSaldo 
												@p_codigoPessoa,
												@v_codigoCampanha,
												1, --CRÉDITO
												10, --ORIGEM PRODUTO
												@v_codigoProduto,
												@p_numeroPedido,
												@v_valorPontosConquistados,
												null,	--@p_idOrigemUtilizacao
												null,	--@p_numeroOrigemUtilizacao
												null,	--@p_numeroPedidoOrigemUtilizacao
												@p_codigoUsuario,
												@p_codigoErro OUTPUT,
												@p_descricaoErro OUTPUT,
												@p_linhasAfetadas OUTPUT

									end
								

							end

						-- pontos por valor
						if @v_idUnidadeRequisito = 2
							begin
								if @v_valorProduto >= @v_valorRequisito -- conquistou a quantidade mínima para aplicar a pontuação
									begin
										-- agora vamos calcular a quantidade de pontos que deverá ser aplicada
										select @v_valorPontosConquistados = @v_valorPontosRequisito * (@v_valorProduto / @v_valorRequisito)

										exec dbo.pr_PessoaInserePessoaCampanhaPontosSaldo 
												@p_codigoPessoa,
												@v_codigoCampanha,
												1, --CRÉDITO
												10, --ORIGEM PRODUTO
												@v_codigoProduto,
												@p_numeroPedido,
												@v_valorPontosConquistados,
												null,	--@p_idOrigemUtilizacao
												null,	--@p_numeroOrigemUtilizacao
												null,	--@p_numeroPedidoOrigemUtilizacao
												@p_codigoUsuario,
												@p_codigoErro OUTPUT,
												@p_descricaoErro OUTPUT,
												@p_linhasAfetadas OUTPUT
									end

							end
						
						FETCH NEXT FROM @Cursor_Itens
						INTO @v_codigoProduto, @v_qtdeProduto, @v_valorProduto, @v_idUnidadeRequisito, @v_valorRequisito, @v_valorPontosRequisito

					END

				FETCH NEXT FROM @Cursor_Campanhas
				INTO @v_codigoCampanha
			END
					
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
