SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_PIERRE]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR_CN        NUMERIC(18,2),
        @VL_CONTADOR_CF        NUMERIC(18,2),
        @VL_PERCENTUAL         NUMERIC(18,2),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT


BEGIN TRY
  
    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN

      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de vendas pessoais"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR_CN = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
        AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR_CN,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR_CN,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de vendas dos consumidoreS"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR_CF = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
        WHERE A.CD_RV_INDICANTE          = @CD_PESSOA
        AND   A.NM_CICLO_PAGAMENTO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
   --     AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR_CF,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR_CF,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Saldo residual estimado"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- PERCENTUAL DO BÔNUS
        SELECT @VL_PERCENTUAL = 10
        
        SELECT @VL_CONTADOR  = ((@VL_PERCENTUAL / 100) * @VL_CONTADOR_CF)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

    END -- fim EVENTO = 6

    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
