SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PromocaoRemoveBrindePromocao]
  	@p_nmPedido				numeric(18, 0),
	@p_codigoPromocao		numeric(18, 0),
	@p_codigoRequisitoFaixa numeric(18, 0),
	@p_cdRetorno			INT OUTPUT,
	@p_dcErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT
	
AS

 DECLARE	@cursorBrindes				cursor,
			@v_codigoProduto			numeric(18,0),
			@v_qtdeReservada			int,
			@v_codigoMaterial			numeric(18,0)

 BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0
			
	-- Antes de excluir os itens de promoção aplicados precisamos cancelar o empenho dos brindes conquistados caso eles existam
	SET @cursorBrindes = CURSOR FAST_FORWARD
	FOR
		SELECT CD_PRODUTO_VENDA,
				SUM(QT_RESERVADA),
				CD_MATERIAL
		FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
		WHERE ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --BRINDE
		AND QT_RESERVADA > 0
		AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
		AND NM_PEDIDO = @p_nmPedido
		AND CD_PROMOCAO = @p_codigoPromocao
		and ISNULL(CD_PROMOCAO_REQUISITO_FAIXA,0) = @p_codigoRequisitoFaixa
		GROUP BY CD_PRODUTO_VENDA, CD_MATERIAL

				
	OPEN @cursorBrindes
	FETCH NEXT FROM @cursorBrindes
	INTO @v_codigoProduto, @v_qtdeReservada, @v_codigoMaterial

	WHILE @@FETCH_STATUS = 0
		BEGIN
			
			EXEC dbo.SP_BAIXA_MATERIAL
						@p_nmPedido,
						@v_codigoProduto,
						@v_codigoMaterial,
						@v_qtdeReservada,
						0, -- cd_usuario
						1, -- TIPO_EMEPNHO (cancelamento de pedido)
						0, -- CD_MATERIAL
						0, -- CD_EST_SITUACAO
						0, -- QT_RESERVADA
						0, -- VL_REPOSICAO
						0, -- VL_CUSTO_MEDIO
						0, -- CD_COTA_PRODUTO_ESTRUTURA
						0, -- CD_COTA_PRODUTO_PESSOA
						@p_cdRetorno			OUTPUT,
						@p_dcErro				OUTPUT,
						@p_qtdeLinhasAfetadas	OUTPUT

			FETCH NEXT FROM @cursorBrindes
			INTO @v_codigoProduto, @v_qtdeReservada, @v_codigoMaterial
	
		END

	-- deleta as informações das tabelas de pedido item promoção, somente dos itens elegíveis
	delete from TB_PEDIDO_ITEM_PROMOCAO 
	 where NM_PEDIDO = @p_nmPedido 
	   and CD_PROMOCAO = @p_codigoPromocao
	   and ISNULL(CD_PROMOCAO_REQUISITO_FAIXA,0) = @p_codigoRequisitoFaixa
	
	-- reseta as informações da tabela de benefícios elegíveis
	update TB_WRK_BENEFICIO_ELEGIVEL set ID_QTD_SELECIONADA = 2 
	 where NM_PEDIDO = @p_nmPedido 
	   and CD_PROMOCAO = @p_codigoPromocao
	   and ISNULL(CD_PROMOCAO_REQUISITO_FAIXA,0) = @p_codigoRequisitoFaixa
	
	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_cdRetorno = 0

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_dcErro, @p_cdRetorno, 1)
END CATCH;
GO
