SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_PessoaInserePlanoAssinaturaDependentesHistorico]
	@p_cdPessoaPlanoAssinaturaDependentes			numeric(18,0),
	@p_cdPessoaPlanoAssinatura						numeric(18,0),
	@p_idTipoPlanoAssinaturaDependentesHistorico	int,
	@p_codigoIdentificador							varchar(30),
	@p_codigoUsuario								NUMERIC(18,0),
	@p_descricaoFuncao								VARCHAR(1),

	@p_codigoErro									INT				OUTPUT,
	@p_descricaoErro								VARCHAR(1000)	OUTPUT,
	@p_linhasAfetadas								INT				OUTPUT,
	@p_codigoGerado									NUMERIC(18,0)	OUTPUT
	
		
AS

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PESSOA_PLANO_ASSINATURA_DEPENDENTES_HISTORICO (
					CD_PESSOA_PLANO_ASSINATURA_DEPENDENTES,
					CD_PESSOA_PLANO_ASSINATURA,
					ID_TIPO_PLANO_ASSINATURA_DEPENDENTES_HISTORICO,
					DC_IDENTIFICADOR,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO
				
				)
							
						
				VALUES           (
					@p_cdPessoaPlanoAssinaturaDependentes,
					@p_cdPessoaPlanoAssinatura,
					@p_idTipoPlanoAssinaturaDependentesHistorico,
					@p_codigoIdentificador,
					GETDATE(),
					@p_codigoUsuario
					)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_PESSOA_PLANO_ASSINATURA_DEPENDENTES_HISTORICO')
							
				COMMIT TRANSACTION
			END	
		

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
