SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ProdutoInsereVendaFaixaFator]
	@p_codigoProdutoVendaPreco		numeric(18,0),
	@p_codigoProdutoVenda			numeric(18,0),
	@p_cdMaterial					numeric(18,0),
	@p_idTipoFaixa					int,
	@p_valorInicial					numeric(18,2),
	@p_valorFinal					numeric(18,2),
	@p_valorAcrescimo				numeric(18,2),
		
	@p_codigoUsuario			NUMERIC(18,0),
	@p_idTipoFuncao				VARCHAR(1),
	
	@p_cdRetorno		INT OUTPUT,
	@p_dcErro			NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
	--@CodigoGerado		NUMERIC(18,0) OUTPUT
AS

BEGIN TRY
	
	SELECT @p_cdRetorno = 0
	SELECT @p_dcErro = ''
	SELECT @p_qtLinhasAfetadas = 0
	IF @p_idTipoFuncao = 'I'
		BEGIN
			BEGIN TRANSACTION 
		
			INSERT INTO TB_PRODUTO_VENDA_FAIXA_FATOR (
				CD_PRODUTO_VENDA_PRECO,
				CD_PRODUTO_VENDA,
				CD_MATERIAL,
				ID_MEDIDA_CALCULO,
				VL_INICIAL,
				VL_FINAL,
				VL_ACRESCIMO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO
				)
			VALUES (
				@p_codigoProdutoVendaPreco,
				@p_codigoProdutoVenda,
				@p_cdMaterial,
				@p_idTipoFaixa,
				@p_valorInicial,
				@p_valorFinal,
				@p_valorAcrescimo,
				GETDATE(), 
				@p_codigoUsuario, 
				GETDATE(), 
				@p_codigoUsuario
				)
			
			COMMIT TRANSACTION

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
--			SELECT @CodigoGerado = IDENT_CURRENT('TB_PRODUTO_VENDA_FAIXA_FATOR')
		END	
			
	IF @p_idTipoFuncao = 'A'
		BEGIN
			BEGIN TRANSACTION 
		
			UPDATE TB_PRODUTO_VENDA_FAIXA_FATOR SET
				CD_MATERIAL = @p_cdMaterial,
				ID_MEDIDA_CALCULO = @p_idTipoFaixa,
				VL_INICIAL = @p_valorInicial,
				VL_FINAL = @p_valorFinal,
				VL_ACRESCIMO = @p_valorAcrescimo,
				DT_ATUALIZACAO = GETDATE(),
				CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
			WHERE CD_PRODUTO_VENDA = @p_codigoProdutoVenda 						

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END
				
	IF @p_idTipoFuncao = 'E'
		BEGIN
			BEGIN TRANSACTION 
		
			DELETE FROM TB_PRODUTO_VENDA_FAIXA_FATOR 
			WHERE CD_PRODUTO_VENDA_PRECO = @p_codigoProdutoVendaPreco 
--			  AND CD_MATERIAL = @p_cdMaterial
--			  AND ID_MEDIDA_CALCULO = @p_idTipoFaixa
--			  AND VL_INICIAL = @p_valorInicial
--			  AND VL_FINAL = @p_valorFinal
--			  AND VL_ACRESCIMO = @p_valorAcrescimo
							
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END	
			

	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
