SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_FiscalInsereGrupoImpostosICMS]
	@CD_GRUPO_IMPOSTOS NUMERIC(18,0),
	@CD_TRIBUTO NUMERIC (18,0),
	@DC_UF VARCHAR(2),
	@CD_SITUACAO_TRIBUTARIA_VENDA NUMERIC(18,0),
	@CD_SITUACAO_TRIBUTARIA_REVENDA NUMERIC(18,0),
	@CD_SITUACAO_TRIBUTARIA_DOACAO NUMERIC(18,0),
	@CD_SITUACAO_TRIBUTARIA_VENDA_FORA_ESTADO NUMERIC(18,0),
	@CD_SITUACAO_TRIBUTARIA_REVENDA_FORA_ESTADO NUMERIC(18,0),
	@CD_SITUACAO_TRIBUTARIA_DOACAO_FORA_ESTADO NUMERIC(18,0),
	@CD_ALIQUOTA_ICMS NUMERIC(18,0),
	@ID_TIPO_ALIQUOTA_ICMS INT,
	
	@CD_USUARIO numeric(18,0),
	
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_GRUPO_IMPOSTOS_ICMS 								
				VALUES  (
					@CD_GRUPO_IMPOSTOS,
					@CD_TRIBUTO,
					@DC_UF,
					@CD_SITUACAO_TRIBUTARIA_VENDA,
					@CD_SITUACAO_TRIBUTARIA_REVENDA,
					@CD_SITUACAO_TRIBUTARIA_DOACAO,
					@CD_ALIQUOTA_ICMS,
					@ID_TIPO_ALIQUOTA_ICMS,
					GETDATE(),
					@CD_USUARIO,
					@CD_SITUACAO_TRIBUTARIA_VENDA_FORA_ESTADO,
					@CD_SITUACAO_TRIBUTARIA_REVENDA_FORA_ESTADO,
					@CD_SITUACAO_TRIBUTARIA_DOACAO_FORA_ESTADO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	
			
		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
	
				BEGIN TRANSACTION 
	
				UPDATE TB_GRUPO_IMPOSTOS_ICMS SET CD_ALIQUOTA_ICMS = @CD_ALIQUOTA_ICMS,
					ID_TIPO_ALIQUOTA_ICMS = @ID_TIPO_ALIQUOTA_ICMS,
					CD_SITUACAO_TRIBUTARIA_VENDA = @CD_SITUACAO_TRIBUTARIA_VENDA,
					CD_SITUACAO_TRIBUTARIA_REVENDA = @CD_SITUACAO_TRIBUTARIA_REVENDA,
					CD_SITUACAO_TRIBUTARIA_DOACAO = @CD_SITUACAO_TRIBUTARIA_DOACAO,
					CD_SITUACAO_TRIBUTARIA_VENDA_FORA_ESTADO = @CD_SITUACAO_TRIBUTARIA_VENDA_FORA_ESTADO,
					CD_SITUACAO_TRIBUTARIA_REVENDA_FORA_ESTADO = @CD_SITUACAO_TRIBUTARIA_REVENDA_FORA_ESTADO,
					CD_SITUACAO_TRIBUTARIA_DOACAO_FORA_ESTADO = @CD_SITUACAO_TRIBUTARIA_DOACAO_FORA_ESTADO,
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
					DT_ATUALIZACAO = GETDATE()
				WHERE CD_GRUPO_IMPOSTOS = @CD_GRUPO_IMPOSTOS
				AND CD_TRIBUTO = @CD_TRIBUTO
				AND DC_UF = @DC_UF
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
				
				if @QT_LINHAS_AFETADAS = 0
					begin
						BEGIN TRANSACTION 
	
						INSERT INTO TB_GRUPO_IMPOSTOS_ICMS 								
						VALUES  (
							@CD_GRUPO_IMPOSTOS,
							@CD_TRIBUTO,
							@DC_UF,
							@CD_SITUACAO_TRIBUTARIA_VENDA,
							@CD_SITUACAO_TRIBUTARIA_REVENDA,
							@CD_SITUACAO_TRIBUTARIA_DOACAO,
							@CD_ALIQUOTA_ICMS,
							@ID_TIPO_ALIQUOTA_ICMS,
							GETDATE(),
							@CD_USUARIO,
							@CD_SITUACAO_TRIBUTARIA_VENDA_FORA_ESTADO,
							@CD_SITUACAO_TRIBUTARIA_REVENDA_FORA_ESTADO,
							@CD_SITUACAO_TRIBUTARIA_DOACAO_FORA_ESTADO
								)
				
						SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				
						COMMIT TRANSACTION
					
					end
			END	

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
	
				BEGIN TRANSACTION 
	
				DELETE FROM TB_GRUPO_IMPOSTOS_ICMS
					WHERE CD_GRUPO_IMPOSTOS = @CD_GRUPO_IMPOSTOS
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	


		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = ERROR_NUMBER()
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
