SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_RegraComercialInsereFaixaComissao]
    @p_cd_regra_comercial  	NUMERIC(18,0),
	@p_v_faixa_incial       NUMERIC(18,2),
	@p_v_faixa_final        numeric(18,2),
	@p_pc_produto_regular   NUMERIC(18,8),
	@p_pc_brinde            NUMERIC(18,8),
	@p_pc_material_apoio    NUMERIC(18,8),

		
	@p_descricaoTipoFuncao  VARCHAR(1),
	@p_cd_usuario_cadastro	NUMERIC(18,0),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

BEGIN TRY

   --SE O VALOR DA FAIXA FINAL FOR 0 QUER DIZER QUE NÃO TEM FINAL 
   --ENTÃO VAMOS PASSAR COMO NULO
	if @p_v_faixa_final = 0 
		begin
			BEGIN TRANSACTION
			SELECT @p_v_faixa_final = NULL
			COMMIT TRANSACTION
		end
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO [TB_REGRA_COMERCIAL_FAIXA_COMISSAO] (
				CD_REGRA_COMERCIAL,
				DT_CADASTRO,
				VL_FAIXA_INICIAL,
				VL_FAIXA_FINAL,
				PC_PRODUTO_REGULAR,
				PC_BRINDE,
				PC_MATERIAL_APOIO,
				CD_USUARIO_CADASTRO)
						
				VALUES (				
				@p_cd_regra_comercial,
				GETDATE(),
				@p_v_faixa_incial,
				@p_v_faixa_final,
				@p_pc_produto_regular,
				@p_pc_brinde,
				@p_pc_material_apoio,
				@p_cd_usuario_cadastro)
				
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
						
				COMMIT TRANSACTION
			END	
					

			IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM [TB_REGRA_COMERCIAL_FAIXA_COMISSAO]
				WHERE CD_REGRA_COMERCIAL = @p_cd_regra_comercial 
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
