SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PlanoAdesaoBuscaPlanosPessoa]
	@p_codigoPessoa		NUMERIC(18,0),
	@p_idSituacaoPlano	INT

AS

SELECT  PA.CD_PLANO_ADESAO [Código Plano],
		PA.DC_PLANO_ADESAO [Plano],
		CONVERT(varchar,DT_VIGENCIA_INICIAL,103) [Data Adesão],
		CONVERT(varchar,DT_VIGENCIA_FINAL,103) [Data Término],	
		dbo.FN_BUSCA_DOMINIO('SITUACAO_PESSOA_PLANO_ADESAO',ID_SITUACAO_PESSOA_PLANO_ADESAO) [Situação],
		dbo.FN_BUSCA_DOMINIO('SITUACAO_PAGAMENTO_PLANO_ADESAO',ID_SITUACAO_PAGAMENTO_PLANO_ADESAO) [Situação Pagamento]
  FROM TB_PESSOA_PLANO_ADESAO PEA WITH(NOLOCK), TB_PLANO_ADESAO PA WITH(NOLOCK)
 WHERE CD_PESSOA = @p_codigoPessoa
   AND PEA.CD_PLANO_ADESAO = PA.CD_PLANO_ADESAO
   AND (@p_idSituacaoPlano = 0 OR PEA.ID_SITUACAO_PESSOA_PLANO_ADESAO = @p_idSituacaoPlano)
GO
