SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PromocaoInserePromocao]
	@p_codigoPromocao				NUMERIC(18, 0),
	@p_descPromocao					VARCHAR(80),
	@p_descDetalhePromocao			VARCHAR(500),
	@p_descDetalhePromocaoMkt		VARCHAR(500),
	@p_idSituacao					INT,
	@p_idTipoPromocao				INT,
	@p_codigoFuncao					INT,
	@p_codigoPapelCarreira			NUMERIC(18, 0),
	@p_dtInicial					VARCHAR(20),
	@p_dtFinal						VARCHAR(20),
	@p_cicloInicial					NUMERIC(18,0),
	@p_cicloFinal					NUMERIC(18,0),
	@p_idTipoCoberturaEntrega		INT,
	@p_idPossuiCota					INT,
	@p_valorCota 					INT,
	@p_idPromocaoPreliminar			INT,
	@p_idPromocaoAcumulativa		INT,
	@p_idPromocaoQuaseConquista		INT,
	@p_vlPercentualMinimoAtingido	NUMERIC(18,0),

	@p_codigoUsuario				NUMERIC(18,0),
	@p_descAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT,
	@p_codigoPromocaoGerado			NUMERIC(18, 0) OUTPUT
AS
DECLARE @v_qtdePedidosPromocao		NUMERIC(18,0)

BEGIN TRY
	BEGIN TRANSACTION 
	
	    SELECT @p_qtLinhasAfetadas = 0, @p_codigoErro = 0, @p_descErro = ''

		IF @p_cicloInicial = 0
			BEGIN
				SET @p_cicloInicial = NULL
			END
	
		IF @p_cicloFinal = 0
			BEGIN
				SET @p_cicloFinal = NULL
			END
	
		IF @p_dtInicial = ''
			BEGIN
				SET @p_dtInicial = NULL
			END
	
		IF @p_dtFinal = ''
			BEGIN
				SET @p_dtFinal = NULL
			END

		IF @p_descAcao = 'I'
			BEGIN

				INSERT INTO TB_PROMOCAO (
					DC_PROMOCAO,
					DC_DETALHE_PROMOCAO,
					DC_DETALHE_PROMOCAO_MKT,
					ID_SITUACAO,
					ID_TIPO_PROMOCAO,
					CD_FUNCAO,
					CD_PAPEL_CARREIRA,
					CD_PAPEL_DESEMPENHO,
					DT_INICIAL,
					DT_FINAL,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					ID_TIPO_COBERTURA_ENTREGA_PROMOCAO,
					ID_PROMOCAO_POSSUI_COTA,
					VL_COTA,
					ID_PROMOCAO_PRELIMINAR,
					ID_PROMOCAO_ACUMULATIVA,
					DT_CRIACAO,
					CD_USUARIO_CADASTRO,
					ID_PROMOCAO_QUASE_CONQUISTADA,
					VL_PERCENTUAL_MINIMO_ATINGIDO)
						
				VALUES  (
					@p_descPromocao,
					@p_descDetalhePromocao,
					@p_descDetalhePromocaoMkt,
					@p_idSituacao,
					@p_idTipoPromocao,
					@p_codigoFuncao,
					@p_codigoPapelCarreira,
					@p_codigoPapelCarreira,
					CONVERT(DATE,@p_dtInicial,103),
					CONVERT(DATE,@p_dtFinal,103),
					@p_cicloInicial,
					@p_cicloFinal,
					@p_idTipoCoberturaEntrega,
					@p_idPossuiCota,
					@p_valorCota,
					@p_idPromocaoPreliminar,
					@p_idPromocaoAcumulativa,
					GETDATE(),
					@p_codigoUsuario,
					@p_idPromocaoQuaseConquista,
					@p_vlPercentualMinimoAtingido)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoPromocaoGerado = SCOPE_IDENTITY()

			END	
		
		IF @p_descAcao = 'A'
			BEGIN
			
				UPDATE TB_PROMOCAO
				SET DC_PROMOCAO = @p_descPromocao,
					DC_DETALHE_PROMOCAO = @p_descDetalhePromocao,
					DC_DETALHE_PROMOCAO_MKT = @p_descDetalhePromocaoMkt,
					ID_SITUACAO = @p_idSituacao,
					ID_TIPO_PROMOCAO = @p_idTipoPromocao,
					CD_FUNCAO = @p_codigoFuncao,
					CD_PAPEL_CARREIRA = @p_codigoPapelCarreira,
					CD_PAPEL_DESEMPENHO = @p_codigoPapelCarreira,
					DT_INICIAL = convert(date,@p_dtInicial,103),
					DT_FINAL = convert(date,@p_dtFinal,103),
					NM_CICLO_INICIAL = @p_cicloInicial,
					NM_CICLO_FINAL = @p_cicloFinal,
					ID_TIPO_COBERTURA_ENTREGA_PROMOCAO = @p_idTipoCoberturaEntrega,
					ID_PROMOCAO_POSSUI_COTA = @p_idPossuiCota,
					VL_COTA = @p_valorCota,
					ID_PROMOCAO_PRELIMINAR = @p_idPromocaoPreliminar,
					ID_PROMOCAO_ACUMULATIVA = @p_idPromocaoAcumulativa,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					ID_PROMOCAO_QUASE_CONQUISTADA = @p_idPromocaoQuaseConquista,
					VL_PERCENTUAL_MINIMO_ATINGIDO = @p_vlPercentualMinimoAtingido
				WHERE CD_PROMOCAO = @p_codigoPromocao			
						
				SELECT @p_codigoErro = 0
			
			END

		IF @p_descAcao = 'E'
			BEGIN
				
				SELECT @v_qtdePedidosPromocao = COUNT(*)
				FROM TB_PEDIDO_ITEM_PROMOCAO
				WHERE CD_PROMOCAO = @p_codigoPromocao
				
				IF @v_qtdePedidosPromocao = 0
					BEGIN
					
						DELETE FROM TB_PROMOCAO_DEPENDENTE WHERE CD_PROMOCAO = @p_codigoPromocao

						DELETE FROM TB_PROMOCAO_FAIXA_CEP WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_EST_GEOGRAFICA WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_REGRA_COMERCIAL WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_BENEFICIO WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_DIAS_VIGENCIA WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_PREMISSA WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_REQUISITO_ATIVIDADE WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_REQUISITO WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_REQUISITO_FAIXA WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO_BENEFICIO_FAIXA WHERE CD_PROMOCAO = @p_codigoPromocao
						DELETE FROM TB_PROMOCAO WHERE CD_PROMOCAO = @p_codigoPromocao						
					
					
						SELECT @p_codigoErro = 0	
					END
				IF @v_qtdePedidosPromocao > 0
					BEGIN
						SELECT @p_codigoErro = 1
						SELECT @p_descErro = 'Não é possível excluir a promoção pois a mesma já foi aplicada a um ou mais pedidos!'
					END
				
			END
			
		COMMIT TRANSACTION
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
