SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_MNBuscaRemuneracao]
	@p_nmCicloIni			NUMERIC(18,0), 
	@p_nmCicloFinal			NUMERIC(18,0), 
	@p_cdPessoa				NUMERIC(18,0),
	@p_estComercial			NUMERIC(18,0),
	@p_listEstComercial		NUMERIC(18,0),
	@p_cdPessoaLogin		numeric(18,0),
	@p_cdTipo				int
	
AS
  BEGIN 		        
	DECLARE @v_codigoCliente				INT

			SELECT @v_codigoCliente = 0

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	SELECT @v_codigoCliente = VL_PARAMETRO 
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO         = 1
	   AND CD_VALOR_PARAMETRO   = 1

	-- kenko patto
	IF @v_codigoCliente = 55
		BEGIN
				 SELECT Z.CD_EST_COMERCIAL AS [Cód. Est.], 
						Z.DC_EST_COMERCIAL AS [Est. Comercial], 
						Z.CD_PESSOA AS [Cód. Pessoa], 
						Z.DC_PESSOA AS [Pessoa], 
						Z.NM_CICLO AS [Ciclo], 
--						Z.CD_PAPEL_CARREIRA AS , 
						Z.PAPEL_CARREIRA AS [Papel Carreira], 
--						Z.CD_PAPEL_DESEMPENHO AS [], 
						Z.PAPEL_DESEMPENHO AS [Papel Desempenho], 
--						' ' SITUACAO AS [Situação p/ Recebimento da Remuneração], 
						sum(Z.VALOR_REM) AS [Valor]
				  FROM (SELECT	A.CD_MN_DETALHE_REMUNERACAO, A.CD_MN_REMUNERACAO, A.CD_FUNCAO,
						dbo.FN_BUSCA_COD_EST_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.NM_CICLO) CD_EST_COMERCIAL, 
						dbo.FN_BUSCA_DESC_EST_COMERCIAL(dbo.FN_BUSCA_COD_EST_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.NM_CICLO)) DC_EST_COMERCIAL, 
						A.CD_PESSOA, 
						dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) DC_PESSOA, 
						A.NM_CICLO, 
				   CASE WHEN (SELECT COUNT(*) 
								FROM TB_PESSOA_PAPEL_HISTORICO B 
							   WHERE A.CD_PESSOA = B.CD_PESSOA 
								 AND A.CD_FUNCAO = B.CD_FUNCAO 
								 AND A.NM_CICLO = B.NM_CICLO) = 1 
							THEN (SELECT B.CD_PAPEL_CARREIRA 
									FROM TB_PESSOA_PAPEL_HISTORICO B 
								   WHERE A.CD_PESSOA = B.CD_PESSOA 
									 AND A.CD_FUNCAO = B.CD_FUNCAO 
									 AND A.NM_CICLO = B.NM_CICLO) 
						ELSE (SELECT B.CD_PAPEL_CARREIRA 
								FROM TB_PESSOA_RESUMO B 
							   WHERE A.CD_PESSOA = B.CD_PESSOA 
								 AND A.CD_FUNCAO = B.CD_FUNCAO) END CD_PAPEL_CARREIRA, 
						dbo.FN_BUSCA_DESC_PAPEL_CARREIRA(2, CASE WHEN (SELECT COUNT(*) 
																		 FROM TB_PESSOA_PAPEL_HISTORICO B 
																		WHERE A.CD_PESSOA = B.CD_PESSOA 
  																		  AND A.CD_FUNCAO = B.CD_FUNCAO 
																		  AND A.NM_CICLO = B.NM_CICLO) = 1 
																	 THEN (SELECT B.CD_PAPEL_CARREIRA 
																			 FROM TB_PESSOA_PAPEL_HISTORICO B 
																			WHERE A.CD_PESSOA = B.CD_PESSOA 
																			  AND A.CD_FUNCAO = B.CD_FUNCAO 
																			  AND A.NM_CICLO = B.NM_CICLO) 
																 ELSE (SELECT B.CD_PAPEL_CARREIRA 
																		 FROM TB_PESSOA_RESUMO B 
																		WHERE A.CD_PESSOA = B.CD_PESSOA 
																		  AND A.CD_FUNCAO = B.CD_FUNCAO) 
																		  END) PAPEL_CARREIRA, 
						A.CD_PAPEL_DESEMPENHO, 
						dbo.FN_BUSCA_DESC_PAPEL_DESEMPENHO(2, A.CD_PAPEL_DESEMPENHO) PAPEL_DESEMPENHO,  
						case when [dbo].[FN_BUSCA_SITUACAO_ATIVA_MMN] (A.CD_PESSOA, A.CD_FUNCAO, A.NM_CICLO) = 1 
							 then 'Ativo' 
		 					 else 'Inativo' end SITUACAO, 
						VALOR_REM = Case A.ID_MOTIVO_REMUNERACAO WHEN 1 
																 THEN A.VL_REMUNERACAO * 1  
																 WHEN 2 
																 THEN A.VL_REMUNERACAO * -1 End 
				   FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK)
				  where 1  = 1
					AND ((@p_cdPessoa > 0 AND A.CD_PESSOA = @p_cdPessoa) OR (@p_cdPessoa = 0))
					AND ((@p_nmCicloIni > 0 AND A.NM_CICLO >= @p_nmCicloIni) OR (@p_nmCicloIni = 0))
					AND ((@p_nmCicloFinal > 0 AND A.NM_CICLO <= @p_nmCicloFinal) OR (@p_nmCicloFinal = 0))
					AND ((@p_estComercial > 0 AND dbo.FN_BUSCA_COD_EST_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.NM_CICLO) = @p_estComercial) OR (@p_estComercial = 0))
					AND ((@p_listEstComercial > 0 AND dbo.FN_BUSCA_COD_EST_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.NM_CICLO) IN ( @p_listEstComercial)) OR (@p_listEstComercial = 0))
   					AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
						  TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
						  TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
						  And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))
						  ) Z,
						    TB_MN_REMUNERACAO R WITH(NOLOCK)
					  WHERE Z.CD_MN_REMUNERACAO = R.CD_MN_REMUNERACAO
						AND   Z.CD_PESSOA         = R.CD_PESSOA
						AND   Z.NM_CICLO          = R.NM_CICLO
						AND   Z.CD_FUNCAO         = R.CD_FUNCAO
 					  Group by Z.CD_EST_COMERCIAL, 
							   Z.DC_EST_COMERCIAL, 
							   Z.CD_PESSOA, 
							   Z.DC_PESSOA, 
							   Z.NM_CICLO, 
							   Z.CD_PAPEL_CARREIRA, 
							   Z.PAPEL_CARREIRA, 
							   Z.CD_PAPEL_DESEMPENHO, 
							   Z.PAPEL_DESEMPENHO,
							   Z.SITUACAO 
						 order by  Z.NM_CICLO desc, Z.DC_PESSOA
		END
	--DEMAIS CLIENTES
	ELSE
		BEGIN
				 SELECT Z.CD_EST_COMERCIAL AS [Cód. Est.], 
						Z.DC_EST_COMERCIAL AS [Est. Comercial], 
						Z.CD_PESSOA AS [Cód. Pessoa], 
						Z.DC_PESSOA AS [Pessoa], 
						Z.NM_CICLO AS [Ciclo], 
--						Z.CD_PAPEL_CARREIRA AS , 
						Z.PAPEL_CARREIRA AS [Papel Carreira], 
--						Z.CD_PAPEL_DESEMPENHO AS [], 
						Z.PAPEL_DESEMPENHO AS [Papel Desempenho], 
						SITUACAO AS [Situação p/ Recebimento da Remuneração], 
						sum(Z.VALOR_REM) AS [Valor]
							FROM  (SELECT	A.CD_MN_DETALHE_REMUNERACAO, 
											dbo.FN_BUSCA_COD_EST_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.NM_CICLO) CD_EST_COMERCIAL, 
											dbo.FN_BUSCA_DESC_EST_COMERCIAL(dbo.FN_BUSCA_COD_EST_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.NM_CICLO)) DC_EST_COMERCIAL, 
											A.CD_PESSOA, 
											dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) DC_PESSOA, 
											A.NM_CICLO, 
											B.CD_PAPEL_CARREIRA, 
											dbo.FN_BUSCA_DESC_PAPEL_CARREIRA(2, B.CD_PAPEL_CARREIRA) PAPEL_CARREIRA, 
											B.CD_PAPEL_DESEMPENHO, 
											dbo.FN_BUSCA_DESC_PAPEL_DESEMPENHO(2, B.CD_PAPEL_DESEMPENHO) PAPEL_DESEMPENHO,  
											case when [dbo].[FN_BUSCA_SITUACAO_ATIVA_MMN] (A.CD_PESSOA, A.CD_FUNCAO, A.NM_CICLO) = 1 then 'Ativo' 
												else 'Inativo'  end SITUACAO, 
											VALOR_REM =  
												Case A.ID_MOTIVO_REMUNERACAO WHEN 1 THEN A.VL_REMUNERACAO * 1  WHEN 2 THEN A.VL_REMUNERACAO * -1 End 
									FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK), 
										 TB_PESSOA_PAPEL_HISTORICO B WITH(NOLOCK) 
								   WHERE A.CD_PESSOA = B.CD_PESSOA 
  									 AND A.CD_FUNCAO = B.CD_FUNCAO 
									 AND A.NM_CICLO = B.NM_CICLO  
  									 AND ((@p_cdPessoa > 0 AND A.CD_PESSOA = @p_cdPessoa) OR (@p_cdPessoa = 0))
									 AND ((@p_nmCicloIni > 0 AND A.NM_CICLO >= @p_nmCicloIni) OR (@p_nmCicloIni = 0))
									 AND ((@p_nmCicloFinal > 0 AND A.NM_CICLO <= @p_nmCicloFinal) OR (@p_nmCicloFinal = 0))
									 AND ((@p_estComercial > 0 AND dbo.FN_BUSCA_COD_EST_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.NM_CICLO) = @p_estComercial) OR (@p_estComercial = 0))
									 AND ((@p_listEstComercial > 0 AND dbo.FN_BUSCA_COD_EST_COMERCIAL_PESSOA_CICLO(A.CD_PESSOA, A.NM_CICLO) IN ( @p_listEstComercial)) OR (@p_listEstComercial = 0))
									 AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
											TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
											TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
											And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))
										) Z  
										Group by Z.CD_EST_COMERCIAL, Z.DC_EST_COMERCIAL, Z.CD_PESSOA, Z.DC_PESSOA, Z.NM_CICLO, Z.CD_PAPEL_CARREIRA, 
												Z.PAPEL_CARREIRA, Z.CD_PAPEL_DESEMPENHO, Z.PAPEL_DESEMPENHO, Z.SITUACAO 
											order by  Z.NM_CICLO desc, Z.DC_PESSOA

		END
END
GO
