SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_ESTENDIDO_KENKOPATTO]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS


/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO
ID_Evento = 8 - CADASTRO
*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,4),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0)

DECLARE @COUNT_ELEGIVEL          INT

DECLARE 
    @VL_INDICADOR_PESSOAL_1002 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1003 NUMERIC(18,4),
    --@VL_INDICADOR_PESSOAL_1004 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1006 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1007 NUMERIC(18,4),
    --@VL_INDICADOR_PESSOAL_1008 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1009 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1011 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1005 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1001 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1010 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1014 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1034 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1035 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1041 NUMERIC(18,4),
    @VL_INDICADOR_PESSOAL_1042 NUMERIC(18,4),
	@CD_SITUACAO_COMERCIAL NUMERIC (18,0)

DECLARE @VL_INDICADOR_PESSOAL_FICTICIO          NUMERIC(18,4)

BEGIN TRY
  
  SELECT @QT_LINHAS_AFETADAS = 0
  IF (@ID_EVENTO = 8) -- CADASTRO
  BEGIN

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_PAPEL_HISTORICO A  with(nolock)
      WHERE A.CD_PESSOA  = @CD_PESSOA
      AND   A.CD_FUNCAO  = @CD_FUNCAO
      AND   A.NM_CICLO   = @NM_CICLO     

      --******************************************************************************
      -- Pontos pessoais
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
        SELECT @VL_INDICADOR_PESSOAL_1002 = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
      --AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
	AND   (    (A.NM_CICLO_CAPTACAO = @NM_CICLO AND EXISTS (SELECT * FROM TB_PEDIDO_HISTORICO C with(nolock),
									(SELECT DT_INICIAL, DT_FINAL FROM TB_CALENDARIO_COMERCIAL with(nolock)
									WHERE NM_CICLO         = @NM_CICLO
									AND   CD_EST_COMERCIAL = @CD_EST_COMERCIAL)  D
								WHERE C.NM_PEDIDO = A.NM_PEDIDO
								AND   CONVERT(DATE,C.DT_INICIAL) BETWEEN D.DT_INICIAL AND D.DT_FINAL
								AND   C.CD_EST_SITUACAO = 47) )
	        OR  (A.NM_CICLO_INDICADOR = @NM_CICLO AND NOT EXISTS (SELECT * FROM TB_PEDIDO_HISTORICO C with(nolock),
									(SELECT DT_INICIAL, DT_FINAL FROM TB_CALENDARIO_COMERCIAL with(nolock)
									WHERE NM_CICLO         <= DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,2)
									AND   CD_EST_COMERCIAL = @CD_EST_COMERCIAL)  D
									WHERE C.NM_PEDIDO = A.NM_PEDIDO
									AND   CONVERT(DATE,C.DT_INICIAL) BETWEEN D.DT_INICIAL AND D.DT_FINAL
									AND   C.CD_EST_SITUACAO = 47) )   )
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	AND   B.ID_PRODUTO_COBRADO	 = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_INDICADOR_PESSOAL_1002,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_INDICADOR_PESSOAL_1002,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Pontos rede
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
        SELECT @VL_INDICADOR_PESSOAL_1003 = [dbo].[FN_MN_CALCULA_PONTUACAO_REDE_KENKOPATTO] (@CD_PESSOA,
                         								@CD_FUNCAO,
                         								@NM_CICLO,
                         								@CD_EST_COMERCIAL,
                         								@CD_PAPEL_CARREIRA,
											1)  -- 1-normal / 2-rede
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_INDICADOR_PESSOAL_1003,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_INDICADOR_PESSOAL_1003,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Pontos total (pessoais + rede) 
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_INDICADOR_PESSOAL_1005 = (@VL_INDICADOR_PESSOAL_1002 + @VL_INDICADOR_PESSOAL_1003)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_INDICADOR_PESSOAL_1005,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_INDICADOR_PESSOAL_1005,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END




     --******************************************************************************
      -- Meses qualificação
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_INDICADOR_PESSOAL_1010 = dbo.FN_MN_CALCULA_MESES_QUALIFICACAO_ATUAL_KENKOPATTO (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_PAPEL_CARREIRA ) 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_INDICADOR_PESSOAL_1010,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_INDICADOR_PESSOAL_1010,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



 
     --******************************************************************************
      -- Total de cadastros rede (distribuidor)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
        SELECT @VL_CONTADOR = COUNT(DISTINCT C.PESSOA)
        FROM  (SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
               FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
               WHERE B1.CD_PESSOA             = @CD_PESSOA
               AND   B1.CD_FUNCAO             = @CD_FUNCAO
               AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
               AND   B1.NM_CICLO              = @NM_CICLO
               AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
	       ) C 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1011
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Total de pré-distribuidores diretos
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	
        SELECT @VL_CONTADOR = [dbo].[FN_MN_CALCULA_QUALIFICADOS_REDE_KENKOPATTO] (@CD_PESSOA,
                         							@NM_CICLO,
			 							@CD_FUNCAO,
                         							@CD_EST_COMERCIAL,
			 							4,1 )  -- PRÉ-DISTRIBUIDOR
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

     --******************************************************************************
      -- Pontos pessoais acumulado
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1034,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
        SELECT @VL_CONTADOR = isnull(sum(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_INDICADOR_PESSOAL_1010)
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1034
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- Pontos total (pessoais + rede) acumulado
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1035,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
        SELECT @VL_CONTADOR = isnull(sum(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @VL_INDICADOR_PESSOAL_1010)
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1035
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END







      --******************************************************************************
      -- Bônus Liderança Start ativa
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1036,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	SELECT @VL_CONTADOR = 0
	IF (@CD_PAPEL_CARREIRA >= 5) -- PRATA
	BEGIN
          --SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1002 >= 0.1) THEN 1 ELSE 0 END
          SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1002 >= 0.1) THEN 1 
				     WHEN (SELECT COUNT(*)
					   FROM TB_MN_REGRA_REMUNERACAO_PESSOA_ATIVA A WITH (NOLOCK),
						(SELECT max(CD_REMUNERACAO) CD_REMUNERACAO
						 FROM TB_MN_REGRA_REMUNERACAO WITH (NOLOCK) 
						 WHERE CD_INDICADOR_ATIVA = 1036) B
						WHERE A.CD_REMUNERACAO = B.CD_REMUNERACAO
						AND   A.CD_PESSOA      = @CD_PESSOA) >= 1 THEN 1	
				    ELSE 0 END
	END
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1036
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Bônus Liderança Premium ativa
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1037,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	SELECT @VL_CONTADOR = 0
	IF (@CD_PAPEL_CARREIRA >= 5) -- PRATA
	BEGIN
          --SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1002 >= 0.5) THEN 1 ELSE 0 END
          SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1002 >= 0.5) THEN 1 
				     WHEN (SELECT COUNT(*)
					   FROM TB_MN_REGRA_REMUNERACAO_PESSOA_ATIVA A WITH (NOLOCK),
						(SELECT max(CD_REMUNERACAO) CD_REMUNERACAO
						 FROM TB_MN_REGRA_REMUNERACAO WITH (NOLOCK) 
						 WHERE CD_INDICADOR_ATIVA = 1037) B
						WHERE A.CD_REMUNERACAO = B.CD_REMUNERACAO
						AND   A.CD_PESSOA      = @CD_PESSOA) >= 1 THEN 1	
				    ELSE 0 END
	END
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1037
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1037,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1037,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- Bônus Liderança Royal ativa
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1038,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	SELECT @VL_CONTADOR = 0
	IF (@CD_PAPEL_CARREIRA >= 5) -- PRATA
	BEGIN
          --SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1002 >= 1) THEN 1 ELSE 0 END
          SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1002 >= 1) THEN 1 
				     WHEN (SELECT COUNT(*)
					   FROM TB_MN_REGRA_REMUNERACAO_PESSOA_ATIVA A WITH (NOLOCK),
						(SELECT max(CD_REMUNERACAO) CD_REMUNERACAO
						 FROM TB_MN_REGRA_REMUNERACAO WITH (NOLOCK) 
						 WHERE CD_INDICADOR_ATIVA = 1038) B
						WHERE A.CD_REMUNERACAO = B.CD_REMUNERACAO
						AND   A.CD_PESSOA      = @CD_PESSOA) >= 1 THEN 1	
				    ELSE 0 END
	END
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1038
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1038,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1038,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- Bônus Rede ativa
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1039,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	SELECT @VL_CONTADOR = 0
	IF (@CD_PAPEL_CARREIRA >= 5) -- PRATA
	/*BEGIN
	
	  --SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1002 >= 1) THEN 1 ELSE 0 END
          SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1002 >= 1 and @VL_INDICADOR_PESSOAL_1005 >= 30) THEN 1 
				     WHEN (SELECT COUNT(*)
					   FROM TB_MN_REGRA_REMUNERACAO_PESSOA_ATIVA A WITH (NOLOCK),
						(SELECT max(CD_REMUNERACAO) CD_REMUNERACAO
						 FROM TB_MN_REGRA_REMUNERACAO WITH (NOLOCK) 
						 WHERE CD_INDICADOR_ATIVA = 1039) B
						WHERE A.CD_REMUNERACAO = B.CD_REMUNERACAO
						AND   A.CD_PESSOA      = @CD_PESSOA) >= 1 THEN 1	
				    ELSE 0 END
	END */


	BEGIN

	  SELECT @VL_INDICADOR_PESSOAL_FICTICIO = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
	  FROM TB_MN_PESSOA_INDICADOR_REGRA_CALCULO WITH (NOLOCK)
	  WHERE CD_PESSOA                         = @CD_PESSOA
	  AND   CD_INDICADOR_PESSOAL              = 1002 -- PONTOS PESSOAIS
	  AND   ID_PESSOA_INDICADOR_REGRA_CALCULO = 1 -- ATIVO BÔNUS DE REDE

          SELECT @VL_CONTADOR = CASE WHEN ((@VL_INDICADOR_PESSOAL_1002 >= 1 OR @VL_INDICADOR_PESSOAL_FICTICIO >= 1) and @VL_INDICADOR_PESSOAL_1005 >= 30) THEN 1 
				     WHEN (SELECT COUNT(*)
					   FROM TB_MN_REGRA_REMUNERACAO_PESSOA_ATIVA A WITH (NOLOCK),
						(SELECT max(CD_REMUNERACAO) CD_REMUNERACAO
						 FROM TB_MN_REGRA_REMUNERACAO WITH (NOLOCK) 
						 WHERE CD_INDICADOR_ATIVA = 1039) B
						WHERE A.CD_REMUNERACAO = B.CD_REMUNERACAO
						AND   A.CD_PESSOA      = @CD_PESSOA) >= 1 THEN 1	
				    ELSE 0 END
	END



        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1039
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1039,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1039,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Qualificação calculada
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1040,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        
  	  SELECT @VL_CONTADOR  = [dbo].[FN_MN_CALCULA_QUALIFICACAO_KENKOPATTO] (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, @CD_PAPEL_CARREIRA)   

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1040
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1040,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1040,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        
      END      







	--  END
    END -- fim EVENTO = 8

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;






































GO
