SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

ROTINA CRIADA POR ANDERSON - 28/08/2020
ESSA ROTINA VAI CONSOLIDAR OS VALORES NA TABELA TB_PEDIDO
ISSO PORQUE VAMOS SUBSTITUIR OS UPDATES DA SP_CONSOLIDA_PEDIDO COM ESSA PROC
DESSA MANEIRA SE FOR NECESSÁRIO AJUSTAR BASTA ALTERAR EM APENAS 1 LUGAR

PODEMOS CONSOLIDAR BASEADO NAS INFORMAÇÕES DA TABELA TB_PEDIDO_ITEM (@p_idAtualizacao = 1)
OU ENTÃO PODEMOS GRAVAR COM AS INFORMAÇÕES FORNECIDAS NO PARAMETRO  (@p_idAtualizacao = 2). ESSE CASO EVITARI UM SELECT A MAIS

AINDA NÃO VAMOS FAZER A PARTE DO @p_idAtualizacao = 2 PARA QUE NAO TENHA RISCO DE PROBLEMAS, MAS VAMOS DEIXAR JA PRONTO
A ESTRUTURA DE PARAMETROS

*/

CREATE PROCEDURE [dbo].[pr_PedidoConsolidaValoresPedido]
	@p_nmPedido					numeric(18, 0),
	@p_idAtualizacao			int,

	@p_vlCreditoTotal			numeric(18, 2),
	@p_vlTabelaTotal			numeric(18, 2),
	@p_vlPraticadoTotal			numeric(18, 2),
	@p_vlLiquidoTotal			numeric(18, 2),
	@p_vlImpostoTotal			numeric(18, 2),
	@p_vlComissaoCN				numeric(18, 2),
	@p_vlCustoTotal				numeric(18, 2),
	@p_vlProdutosTotal			numeric(18, 2),
	@p_vlTabelaTeoricoTotal		numeric(18, 2),
	@p_vlPagarTotal				numeric(18, 2),
	@p_vlPagarTeoricoTotal		numeric(18, 2),
	@p_vlPontosTotal			numeric(18, 2),

	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output

AS


DECLARE  @VL_CREDITO_TOTAL				numeric(18,2)
		,@VL_TABELA_TOTAL				numeric(18,2)
		,@VL_PRATICADO_TOTAL			numeric(18,2)
		,@VL_LIQUIDO_TOTAL				numeric(18,2)
		,@VL_IMPOSTO_TOTAL				numeric(18,2)
		,@VL_COMISSAO_CN				numeric(18,2)
		,@VL_PAGAR_TOTAL				numeric(18,2)
		,@VL_CUSTO_TOTAL				numeric(18,2)
		,@VL_PONTOS_TOTAL               NUMERIC(18,2)

		--,@PC_LIMITE_SALDO_FAVOR			NUMERIC(18,4)
		--,@VL_SALDO_FAVOR_DISPONIVEL		NUMERIC(18,2)
		--,@VL_SALDO_FAVOR_UTILIZADO		NUMERIC(18,2)
		--,@VL_SALDO_DEVEDOR_DISPONIVEL	NUMERIC(18,2)
		--,@VL_SALDO_DEVEDOR_UTILIZADO	NUMERIC(18,2)

--solicitação do bitrix 3533
DECLARE @v_idBaseValorCreditoPedido		int

BEGIN TRY

	-- ***************************************************
	-- BUSCA INFORMAÇÕES DA TABELA TB_PEDIDO_ITEM
	-- ***************************************************
	
	IF @p_idAtualizacao = 1
		BEGIN
				--Verifica o id para gravar o crédito do pedido baseado no valor 
				-- a pagar do pedido (Solicitação no bitrix 3533)
				SELECT @v_idBaseValorCreditoPedido = COM.ID_BASE_VALOR_CREDITO_PEDIDO 
				FROM TB_PEDIDO P WITH(NOLOCK),
					 TB_REGRA_COMERCIAL COM WITH(NOLOCK)
				WHERE P.NM_PEDIDO = @p_nmPedido
				AND P.CD_REGRA_COMERCIAL = COM.CD_REGRA_COMERCIAL

				SELECT	
					 @VL_CREDITO_TOTAL    =		SUM(VL_CREDITO_TOTAL)
					,@VL_TABELA_TOTAL     =		SUM(VL_TABELA_TOTAL)
					,@VL_PRATICADO_TOTAL  =		SUM(VL_PRATICADO_TOTAL)
					,@VL_LIQUIDO_TOTAL    =		SUM(VL_LIQUIDO_TOTAL)
					,@VL_IMPOSTO_TOTAL    =		SUM(VL_IMPOSTO_TOTAL)
					,@VL_COMISSAO_CN      =		SUM(VL_COMISSAO_CN)
					,@VL_PAGAR_TOTAL      =		SUM(VL_PAGAR_TOTAL)
					,@VL_CUSTO_TOTAL      =		SUM(VL_CUSTO_TOTAL)
					,@VL_PONTOS_TOTAL     =     SUM(VL_PONTOS)
				FROM 
					TB_PEDIDO_ITEM WITH(NOLOCK)
				WHERE 
					NM_PEDIDO			  =		@p_nmPedido
					AND NM_PEDIDO_ITEM_CONJUNTO   =		0
					AND ID_PRODUTO_COBRADO = 1

				IF @VL_PAGAR_TOTAL = 0 
					BEGIN

						IF @v_idBaseValorCreditoPedido = 2
							BEGIN
								select @VL_CREDITO_TOTAL = @VL_PAGAR_TOTAL
							END

						UPDATE TB_PEDIDO
						SET 	VL_CREDITO_TOTAL			= @VL_CREDITO_TOTAL,
								VL_TABELA_TOTAL				= @VL_TABELA_TOTAL,
								VL_PRATICADO_TOTAL			= @VL_PRATICADO_TOTAL,
								VL_LIQUIDO_TOTAL			= @VL_LIQUIDO_TOTAL,
								VL_IMPOSTO_TOTAL			= @VL_IMPOSTO_TOTAL,
								VL_COMISSAO_CN				= @VL_COMISSAO_CN,
								VL_CUSTO_TOTAL				= @VL_CUSTO_TOTAL,
								VL_PRODUTOS_TOTAL			= @VL_PAGAR_TOTAL,
								VL_PRODUTOS_TEORICO_TOTAL	= @VL_PAGAR_TOTAL,
								VL_PAGAR_TOTAL				= (@VL_PAGAR_TOTAL) + VL_FRETE_TOTAL,
								VL_PAGAR_TEORICO_TOTAL		= @VL_PAGAR_TOTAL + VL_FRETE_TEORICO_TOTAL,
								VL_PONTOS_TOTAL				= @VL_PONTOS_TOTAL
						WHERE NM_PEDIDO = @p_nmPedido
					END
				ELSE
					BEGIN

						IF @v_idBaseValorCreditoPedido = 2
							BEGIN
								SELECT @VL_CREDITO_TOTAL = (@VL_PAGAR_TOTAL - ISNULL(VL_SALDO_FAVOR_UTILIZADO,0) - ISNULL(VL_DESCONTO_PLANO_PAGAMENTO,0) - ISNULL(VL_DESCONTO_CUPOM_APLICADO,0)) 
								  FROM TB_PEDIDO WITH(NOLOCK)
								  WHERE NM_PEDIDO = @p_nmPedido

								  IF @VL_CREDITO_TOTAL < 0
									BEGIN
										SELECT @VL_CREDITO_TOTAL = 0
									END
							END


						UPDATE TB_PEDIDO
						SET 	VL_CREDITO_TOTAL			= @VL_CREDITO_TOTAL,
								VL_TABELA_TOTAL				= @VL_TABELA_TOTAL,
								VL_PRATICADO_TOTAL			= @VL_PRATICADO_TOTAL,
								VL_LIQUIDO_TOTAL			= @VL_LIQUIDO_TOTAL,
								VL_IMPOSTO_TOTAL			= @VL_IMPOSTO_TOTAL,
								VL_COMISSAO_CN				= @VL_COMISSAO_CN,
								VL_CUSTO_TOTAL				= @VL_CUSTO_TOTAL,
								VL_PRODUTOS_TOTAL			= @VL_PAGAR_TOTAL - ISNULL(VL_SALDO_FAVOR_UTILIZADO,0) - ISNULL(VL_DESCONTO_PLANO_PAGAMENTO,0) - ISNULL(VL_DESCONTO_CUPOM_APLICADO,0),-- - ISNULL(VL_MOEDA_VIRTUAL_UTILIZADO,0),
								VL_PRODUTOS_TEORICO_TOTAL	= @VL_PAGAR_TOTAL,
								VL_PAGAR_TOTAL				= (@VL_PAGAR_TOTAL - ISNULL(VL_SALDO_FAVOR_UTILIZADO,0) - ISNULL(VL_DESCONTO_PLANO_PAGAMENTO,0) - ISNULL(VL_DESCONTO_CUPOM_APLICADO,0)) + ISNULL(VL_FRETE_TOTAL,0),-- - ISNULL(VL_MOEDA_VIRTUAL_UTILIZADO,0),
								VL_PAGAR_TEORICO_TOTAL		= @VL_PAGAR_TOTAL + VL_FRETE_TEORICO_TOTAL,
								VL_PONTOS_TOTAL				= @VL_PONTOS_TOTAL
						WHERE NM_PEDIDO = @p_nmPedido
					END
		END
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)

END CATCH;
GO
