SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PlanoPagamentoInserePlanoRecorrenciaCiclo]
	@CD_PLANO_PAGAMENTO_RECORRENCIA_CICLO numeric(18, 0),
	@CD_PLANO_PAGAMENTO numeric (18, 0),
	@NM_CICLO numeric (18, 0),
	@ID_TIPO_PRODUTO_CICLO int, 
	@CD_PRODUTO_VENDA NUMERIC(18,0),
	@QT_ENVIAR NUMERIC(18,0),
	@DC_TIPO_FUNCAO	VARCHAR(1),
	@CD_USUARIO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS



BEGIN TRY
	SELECT @VAR_RETORNO        = 0
	SELECT @DC_ERRO            = ''
	SELECT @QT_LINHAS_AFETADAS = 0

	IF @DC_TIPO_FUNCAO = 'I'
		BEGIN
			INSERT INTO TB_PLANO_PAGAMENTO_RECORRENCIA_CICLO (
						CD_PLANO_PAGAMENTO,
						NM_CICLO,
						ID_TIPO_PRODUTO_CICLO, 
						CD_PRODUTO_VENDA,
						QT_ENVIAR,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
								
			VALUES      (@CD_PLANO_PAGAMENTO,
						@NM_CICLO,
						@ID_TIPO_PRODUTO_CICLO, 
						@CD_PRODUTO_VENDA,
						@QT_ENVIAR,
						GETDATE(), 
						@CD_USUARIO, 
						GETDATE(), 
						@CD_USUARIO)
		END	

	IF @DC_TIPO_FUNCAO = 'A'
		BEGIN
			UPDATE TB_PLANO_PAGAMENTO_RECORRENCIA_CICLO 
			SET CD_PLANO_PAGAMENTO 		= @CD_PLANO_PAGAMENTO,
				NM_CICLO 				= @NM_CICLO,
				ID_TIPO_PRODUTO_CICLO 	= @ID_TIPO_PRODUTO_CICLO, 
				CD_PRODUTO_VENDA 		= @CD_PRODUTO_VENDA,
				QT_ENVIAR 				= @QT_ENVIAR,
				DT_ATUALIZACAO			= GETDATE(),
				CD_USUARIO_ATUALIZACAO  = @CD_USUARIO
			WHERE  	CD_PLANO_PAGAMENTO_RECORRENCIA_CICLO = @CD_PLANO_PAGAMENTO_RECORRENCIA_CICLO 
		END

	IF @DC_TIPO_FUNCAO = 'E'
		BEGIN
			DELETE TB_PLANO_PAGAMENTO_RECORRENCIA_CICLO 
			WHERE  	CD_PLANO_PAGAMENTO = @CD_PLANO_PAGAMENTO
		END

	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
	-- Whoops, there was an error
    SELECT @VAR_RETORNO = 1
    SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
