SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PromocaoAplicaPromocaoFaixa]
  	@p_nmPedido					NUMERIC(18, 0),
  	@p_cdPromocao				NUMERIC(18, 0), 
  	
	@p_cdRetorno				INT OUTPUT,
	@p_dcErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT

		
AS

DECLARE @v_vlTotalProdutosPedido			NUMERIC(18,2),
		@v_RequisitoAtendido				INT,
		@Cursor_Beneficios					CURSOR,
		@v_cdRegraComercial					NUMERIC(18,0),
		-- VARIAVEIS BENEFICIOS
		@v_idTipoBeneficio					INT, 
		@v_cdTipoBeneficio					NUMERIC(18,0), 
		@v_nmValorBeneficio					NUMERIC(18,2), 
		@v_idOperadorLogicoBeneficio		INT, 
		@v_cdPromocaoBeneficio				NUMERIC(18,0),
		@v_cdMaterialBeneficio				NUMERIC(18,0),
		@v_id_promocao_preliminar			INT,
		@v_idFormaPremiacao					INT,
		@v_idTipoRequisitoFaixa				INT,
		@v_cdTipoRequisitoFaixa				NUMERIC(18,0),
		@v_idAcumulativa					INT,
		@v_cdPessoa							NUMERIC(18,0),
		@v_faixaConquistada					NUMERIC(18,0),
		@v_requisitoFaixaAnterior			NUMERIC(18,0),
		@v_cursorFaixasAnteriores			CURSOR,
		@v_idPromocaoQuaseConquistada		INT,
		@v_vlrPorcentagemQuaseConquistada	NUMERIC(18,2),
		@v_vlInicialMenorFaixa				NUMERIC(18,2),
		@v_dcPromocaoQuaseConquistada		VARCHAR(2000)
		
BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0

	-- ***************************************************************
	-- VERIFICA SE A PROMOÇÃO É PRELIMINAR
	-- ***************************************************************
	SELECT @v_id_promocao_preliminar = ID_PROMOCAO_PRELIMINAR,
		   @v_idAcumulativa = ISNULL(ID_PROMOCAO_ACUMULATIVA,2),
		   @v_idPromocaoQuaseConquistada = ID_PROMOCAO_QUASE_CONQUISTADA,
		   @v_vlrPorcentagemQuaseConquistada = VL_PERCENTUAL_MINIMO_ATINGIDO
	  FROM TB_PROMOCAO WITH(NOLOCK)
	 WHERE CD_PROMOCAO = @p_cdPromocao
			
	-- *****************************************************
	-- BUSCA INFORMAÇÕES DO PEDIDO
	-- REGRA COMERCIAL
	-- *****************************************************
	SELECT  @v_cdRegraComercial = CD_REGRA_COMERCIAL,
			@v_cdPessoa = CD_PESSOA
	  FROM TB_PEDIDO WITH(NOLOCK)
	 WHERE NM_PEDIDO = @p_nmPedido

	-- *****************************************************
	-- limpa as informações das promoções aplicadas E QUASE CONQUISTADAS
	-- *****************************************************
	DELETE FROM TB_PEDIDO_ITEM_PROMOCAO
	WHERE NM_PEDIDO = @p_nmPedido
	AND CD_PROMOCAO = @p_cdPromocao

	DELETE FROM TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA
	WHERE NM_PEDIDO = @p_nmPedido
	AND CD_PROMOCAO = @p_cdPromocao

	DELETE FROM TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA_ITEM
	WHERE NM_PEDIDO = @p_nmPedido
	AND CD_PROMOCAO = @p_cdPromocao
		
	-- *****************************************************
	-- ATUALIZAÇÃO EM 24/05/2021 POR DIEGO ZILIOTI
	-- AGORA VAMOS ADICIONAR A VALIDAÇÃO DO REQUISITO COM MAIS OPÇÕES DE ATINGIMENTO DA FAIXA
	-- AS OPÇÕES SÃO:
	-- 1. Valor do Pedido (é a opção atual existente)
	-- 2. Valor do Produto: nova opção que irá avaliar a faixa de valor comprada em um produto específico.
	-- 3. Quantidade do Produto: nova opção que irá avaliar a quantidade comprada de um produto específico.
	-- 4. Valor na Estrutura de Produto: nova opção que irá avaliar a faixa de valor comprada em uma estrutura de produtos específica.
	-- 5. Quantidade na Estrutura de Produto: nova opção que irá avaliar a quantidade de produtos comprados dentro de uma estrutura de produtos especifica.
	-- *****************************************************
	-- NOVAS OPÇÕES ADICIONADAS EM 01/10/21 - POR DIEGO ZILIOTI:
	-- 6. Pontuação do pedido,
	-- 7. Pontuação em uma estrutura de produtos específica
	-- FOI CRIADO TAMBÉM NOVO PARÂMETRO PARA VALIDAR SE A PROMOÇÃO É ACUMULATIVA, OU SEJA, O VALOR PODE SER ACUMULADO DURANTE TODA A VIGÊNCIA DA PROMOÇÃO
	-- *****************************************************

	SELECT DISTINCT @v_idTipoRequisitoFaixa = ID_TIPO_REQUISITO_FAIXA,
		   @v_cdTipoRequisitoFaixa = CD_TIPO_REQUISITO_FAIXA
	  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
	 WHERE CD_PROMOCAO = @p_cdPromocao

	IF @v_idTipoRequisitoFaixa = 1 -- FAIXA DE VALOR DO PEDIDO
		BEGIN
			-- *****************************************************
			-- BASEADO NO VALOR TOTAL DO PEDIDO BUSCA A FAIXA 
			-- *****************************************************
			IF @v_idAcumulativa = 1
				BEGIN
					-- BUSCA VALOR DOS PRODUTOS - NOS PEDIDOS FEITOS DURANTE A PROMOÇÃO
					SELECT @v_vlTotalProdutosPedido = ISNULL(SUM(PD.VL_PAGAR_TOTAL),0)
					  FROM TB_PEDIDO_ITEM PD WITH(NOLOCK), TB_PEDIDO P WITH(NOLOCK)
					 WHERE PD.NM_PEDIDO = P.NM_PEDIDO
					   AND PD.NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND PD.ID_PRODUTO_COBRADO = 1
					   AND P.CD_PESSOA = @v_cdPessoa
					   AND P.NM_PEDIDO <> @p_nmPedido
					   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
					   AND P.NM_CICLO_CAPTACAO BETWEEN (SELECT ISNULL(NM_CICLO_INICIAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
												   AND (SELECT ISNULL(NM_CICLO_FINAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
					   AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) BETWEEN (SELECT ISNULL(DT_INICIAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
																  AND (SELECT ISNULL(DT_FINAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)

					-- AGORA PRECISAMOS SOMAR COM OS VALOR DO PEDIDO EM CAPTAÇÃO
					SELECT @v_vlTotalProdutosPedido = @v_vlTotalProdutosPedido + SUM(VL_PAGAR_TOTAL)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND ID_PRODUTO_COBRADO = 1
				END
			ELSE
				BEGIN
					 -- BUSCA VALOR DOS PRODUTOS
					SELECT @v_vlTotalProdutosPedido = SUM(VL_PAGAR_TOTAL)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND ID_PRODUTO_COBRADO = 1
				END
	
			SELECT @v_RequisitoAtendido = ISNULL(MAX(CD_PROMOCAO_REQUISITO_FAIXA),0)
			  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
			 WHERE CD_PROMOCAO = @p_cdPromocao
			   AND @v_vlTotalProdutosPedido BETWEEN NM_VALOR_REQUISITO_INICIAL AND NM_VALOR_REQUISITO_FINAL
		END
	
	IF @v_idTipoRequisitoFaixa = 2 -- VALOR EM UM PRODUTO ESPECÍFICO
		BEGIN
			-- BUSCA VALOR DO PRODUTO ESPECÍFICO
			IF @v_idAcumulativa = 1
				BEGIN
					SELECT @v_vlTotalProdutosPedido = ISNULL(SUM(PD.VL_PAGAR_TOTAL),0)
					  FROM TB_PEDIDO_ITEM PD WITH(NOLOCK), TB_PEDIDO P WITH(NOLOCK)
					 WHERE PD.NM_PEDIDO = P.NM_PEDIDO
					   AND PD.NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND PD.CD_PRODUTO_VENDA = @v_cdTipoRequisitoFaixa
					   AND PD.ID_PRODUTO_COBRADO = 1
					   AND P.CD_PESSOA = @v_cdPessoa
					   AND P.NM_PEDIDO <> @p_nmPedido
					   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
					   AND P.NM_CICLO_CAPTACAO BETWEEN (SELECT ISNULL(NM_CICLO_INICIAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
												   AND (SELECT ISNULL(NM_CICLO_FINAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
					   AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) BETWEEN (SELECT ISNULL(DT_INICIAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
																  AND (SELECT ISNULL(DT_FINAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)

					-- AGORA PRECISAMOS SOMAR COM OS VALORES DO PEDIDO EM CAPTAÇÃO
					SELECT @v_vlTotalProdutosPedido = @v_vlTotalProdutosPedido + SUM(VL_PAGAR_TOTAL)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND CD_PRODUTO_VENDA = @v_cdTipoRequisitoFaixa
					   AND ID_PRODUTO_COBRADO = 1
				END
			ELSE
				BEGIN
					SELECT @v_vlTotalProdutosPedido = SUM(VL_PAGAR_TOTAL)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND CD_PRODUTO_VENDA = @v_cdTipoRequisitoFaixa
					   AND ID_PRODUTO_COBRADO = 1
				END

			-- BUSCA A FAIXA CORRESPONDENTE
			SELECT @v_RequisitoAtendido = ISNULL(MAX(CD_PROMOCAO_REQUISITO_FAIXA),0)
			  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
			 WHERE CD_PROMOCAO = @p_cdPromocao
			   AND @v_vlTotalProdutosPedido BETWEEN NM_VALOR_REQUISITO_INICIAL AND NM_VALOR_REQUISITO_FINAL
		END

	IF @v_idTipoRequisitoFaixa = 3 -- QUANTIDADE EM UM PRODUTO ESPECÍFICO
		BEGIN

			IF @v_idAcumulativa = 1
				BEGIN
					-- BUSCA VALOR DO PRODUTO ESPECÍFICO
					SELECT @v_vlTotalProdutosPedido = ISNULL(SUM(PD.QT_RESERVADA),0)
					  FROM TB_PEDIDO_ITEM PD WITH(NOLOCK), TB_PEDIDO P WITH(NOLOCK)
					 WHERE PD.NM_PEDIDO = P.NM_PEDIDO
					   AND PD.NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND PD.CD_PRODUTO_VENDA = @v_cdTipoRequisitoFaixa
					   AND PD.ID_PRODUTO_COBRADO = 1
					   AND P.CD_PESSOA = @v_cdPessoa
					   AND P.NM_PEDIDO <> @p_nmPedido
					   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
					   AND P.NM_CICLO_CAPTACAO BETWEEN (SELECT ISNULL(NM_CICLO_INICIAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
												   AND (SELECT ISNULL(NM_CICLO_FINAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
					   AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) BETWEEN (SELECT ISNULL(DT_INICIAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
																  AND (SELECT ISNULL(DT_FINAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)

					-- AGORA PRECISAMOS SOMAR COM OS VALORES DO PEDIDO EM CAPTAÇÃO
					SELECT @v_vlTotalProdutosPedido = @v_vlTotalProdutosPedido + SUM(QT_RESERVADA)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND CD_PRODUTO_VENDA = @v_cdTipoRequisitoFaixa
					   AND ID_PRODUTO_COBRADO = 1
				END
			ELSE
				BEGIN
					-- BUSCA VALOR DO PRODUTO ESPECÍFICO
					SELECT @v_vlTotalProdutosPedido = SUM(QT_RESERVADA)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND CD_PRODUTO_VENDA = @v_cdTipoRequisitoFaixa
					   AND ID_PRODUTO_COBRADO = 1
				END

			-- BUSCA A FAIXA CORRESPONDENTE
			SELECT @v_RequisitoAtendido = ISNULL(MAX(CD_PROMOCAO_REQUISITO_FAIXA),0)
			  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
			 WHERE CD_PROMOCAO = @p_cdPromocao
			   AND @v_vlTotalProdutosPedido BETWEEN NM_VALOR_REQUISITO_INICIAL AND NM_VALOR_REQUISITO_FINAL
		END

	IF @v_idTipoRequisitoFaixa = 4 -- VALOR EM UMA ESTRUTURA DE PRODUTO
		BEGIN
		
			IF @v_idAcumulativa = 1
				BEGIN
					SELECT @v_vlTotalProdutosPedido = ISNULL(SUM(PD.VL_PAGAR_TOTAL),0)
					  FROM TB_PEDIDO_ITEM PD WITH(NOLOCK), TB_PEDIDO P WITH(NOLOCK)
					 WHERE PD.NM_PEDIDO = P.NM_PEDIDO
					   AND PD.NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(PD.CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND PD.ID_PRODUTO_COBRADO = 1
					   AND P.CD_PESSOA = @v_cdPessoa
					   AND P.NM_PEDIDO <> @p_nmPedido
					   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
					   AND P.NM_CICLO_CAPTACAO BETWEEN (SELECT ISNULL(NM_CICLO_INICIAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
												   AND (SELECT ISNULL(NM_CICLO_FINAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
					   AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) BETWEEN (SELECT ISNULL(DT_INICIAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
																  AND (SELECT ISNULL(DT_FINAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)

					-- AGORA PRECISAMOS SOMAR COM OS VALORES DO PEDIDO EM CAPTAÇÃO
					SELECT @v_vlTotalProdutosPedido = @v_vlTotalProdutosPedido + SUM(VL_PAGAR_TOTAL)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND ID_PRODUTO_COBRADO = 1
				END
			ELSE
				BEGIN
					SELECT @v_vlTotalProdutosPedido = SUM(VL_PAGAR_TOTAL)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND ID_PRODUTO_COBRADO = 1
				END

			-- BUSCA A FAIXA CORRESPONDENTE
			SELECT @v_RequisitoAtendido = ISNULL(MAX(CD_PROMOCAO_REQUISITO_FAIXA),0)
			  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
			 WHERE CD_PROMOCAO = @p_cdPromocao
			   AND @v_vlTotalProdutosPedido BETWEEN NM_VALOR_REQUISITO_INICIAL AND NM_VALOR_REQUISITO_FINAL
		END

	IF @v_idTipoRequisitoFaixa = 5 -- QUANTIDADE EM UMA ESTRUTURA DE PRODUTO
		BEGIN
			IF @v_idAcumulativa = 1
				BEGIN
					-- BUSCA VALOR DO PRODUTO ESPECÍFICO
					SELECT @v_vlTotalProdutosPedido = ISNULL(SUM(PD.QT_RESERVADA),0)
					  FROM TB_PEDIDO_ITEM PD WITH(NOLOCK), TB_PEDIDO P WITH(NOLOCK)
					 WHERE PD.NM_PEDIDO = P.NM_PEDIDO
					   AND PD.NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(PD.CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND PD.ID_PRODUTO_COBRADO = 1
					   AND P.CD_PESSOA = @v_cdPessoa
					   AND P.NM_PEDIDO <> @p_nmPedido
					   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
					   AND P.NM_CICLO_CAPTACAO BETWEEN (SELECT ISNULL(NM_CICLO_INICIAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
												   AND (SELECT ISNULL(NM_CICLO_FINAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
					   AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) BETWEEN (SELECT ISNULL(DT_INICIAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
																  AND (SELECT ISNULL(DT_FINAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)

					-- AGORA PRECISAMOS SOMAR COM OS VALORES DO PEDIDO EM CAPTAÇÃO
					SELECT @v_vlTotalProdutosPedido = @v_vlTotalProdutosPedido + SUM(QT_RESERVADA)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND ID_PRODUTO_COBRADO = 1
				END
			ELSE
				BEGIN
					-- BUSCA VALOR DO PRODUTO ESPECÍFICO
					SELECT @v_vlTotalProdutosPedido = SUM(QT_RESERVADA)
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND ID_PRODUTO_COBRADO = 1
				END

			-- BUSCA A FAIXA CORRESPONDENTE
			SELECT @v_RequisitoAtendido = ISNULL(MAX(CD_PROMOCAO_REQUISITO_FAIXA),0)
			  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
			 WHERE CD_PROMOCAO = @p_cdPromocao
			   AND @v_vlTotalProdutosPedido BETWEEN NM_VALOR_REQUISITO_INICIAL AND NM_VALOR_REQUISITO_FINAL
		END

	IF @v_idTipoRequisitoFaixa = 6 -- PONTUAÇÃO DO PEDIDO
		BEGIN
			IF @v_idAcumulativa = 1
				BEGIN
					-- BUSCA VALOR DO PRODUTO ESPECÍFICO
					SELECT @v_vlTotalProdutosPedido = ISNULL(SUM(ISNULL(PD.VL_PONTOS_LIQUIDO,PD.VL_PONTOS)),0)
					  FROM TB_PEDIDO_ITEM PD WITH(NOLOCK), TB_PEDIDO P WITH(NOLOCK)
					 WHERE PD.NM_PEDIDO = P.NM_PEDIDO
					   AND PD.NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND PD.ID_PRODUTO_COBRADO = 1
					   AND P.CD_PESSOA = @v_cdPessoa
					   AND P.NM_PEDIDO <> @p_nmPedido
					   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
					   AND P.NM_CICLO_CAPTACAO BETWEEN (SELECT ISNULL(NM_CICLO_INICIAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
												   AND (SELECT ISNULL(NM_CICLO_FINAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
					   AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) BETWEEN (SELECT ISNULL(DT_INICIAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
																  AND (SELECT ISNULL(DT_FINAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)

					-- AGORA PRECISAMOS SOMAR COM OS VALORES DO PEDIDO EM CAPTAÇÃO
					SELECT @v_vlTotalProdutosPedido = @v_vlTotalProdutosPedido + SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS))
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND ID_PRODUTO_COBRADO = 1
				END
			ELSE
				BEGIN
					-- BUSCA VALOR DO PRODUTO ESPECÍFICO
					SELECT @v_vlTotalProdutosPedido = SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS))
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND ID_PRODUTO_COBRADO = 1
				END

			
			-- BUSCA A FAIXA CORRESPONDENTE
			SELECT @v_RequisitoAtendido = ISNULL(MAX(CD_PROMOCAO_REQUISITO_FAIXA),0)
			  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
			 WHERE CD_PROMOCAO = @p_cdPromocao
			   AND @v_vlTotalProdutosPedido BETWEEN NM_VALOR_REQUISITO_INICIAL AND NM_VALOR_REQUISITO_FINAL
		END

	IF @v_idTipoRequisitoFaixa = 7 -- PONTUAÇÃO EM UMA ESTRUTURA DE PRODUTO
		BEGIN
			IF @v_idAcumulativa = 1
				BEGIN
					-- BUSCA VALOR DO PRODUTO ESPECÍFICO
					SELECT @v_vlTotalProdutosPedido = ISNULL(SUM(ISNULL(PD.VL_PONTOS_LIQUIDO,PD.VL_PONTOS)),0)
					  FROM TB_PEDIDO_ITEM PD WITH(NOLOCK), TB_PEDIDO P WITH(NOLOCK)
					 WHERE PD.NM_PEDIDO = P.NM_PEDIDO
					   AND PD.NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(PD.CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND PD.ID_PRODUTO_COBRADO = 1
					   AND P.CD_PESSOA = @v_cdPessoa
					   AND P.NM_PEDIDO <> @p_nmPedido
					   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
					   AND P.NM_CICLO_CAPTACAO BETWEEN (SELECT ISNULL(NM_CICLO_INICIAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
												   AND (SELECT ISNULL(NM_CICLO_FINAL,P.NM_CICLO_CAPTACAO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
					   AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) BETWEEN (SELECT ISNULL(DT_INICIAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)
																  AND (SELECT ISNULL(DT_FINAL,P.DT_CAPTACAO_PEDIDO) FROM TB_PROMOCAO WITH(NOLOCK) WHERE CD_PROMOCAO = @p_cdPromocao)

					-- AGORA PRECISAMOS SOMAR COM OS VALORES DO PEDIDO EM CAPTAÇÃO
					SELECT @v_vlTotalProdutosPedido = @v_vlTotalProdutosPedido + SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS))
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND ID_PRODUTO_COBRADO = 1
				END
			ELSE
				BEGIN
					-- BUSCA VALOR DO PRODUTO ESPECÍFICO
					SELECT @v_vlTotalProdutosPedido = SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS))
					  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_nmPedido
					   AND NM_PEDIDO_ITEM_CONJUNTO = 0
					   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisitoFaixa) = 1
					   AND ID_PRODUTO_COBRADO = 1
				END
			

			-- BUSCA A FAIXA CORRESPONDENTE
			SELECT @v_RequisitoAtendido = ISNULL(MAX(CD_PROMOCAO_REQUISITO_FAIXA),0)
			  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
			 WHERE CD_PROMOCAO = @p_cdPromocao
			   AND @v_vlTotalProdutosPedido BETWEEN NM_VALOR_REQUISITO_INICIAL AND NM_VALOR_REQUISITO_FINAL
		END

	-- *****************************************************
	-- SE ATINGIU OS REQUISITOS VAMOS VERIFICAR OS BENFICIOS
	-- *****************************************************
	IF (@v_RequisitoAtendido > 0) 
		BEGIN
			-- ANTES DE CONFIRMAR A CONQUISTA DA PROMOÇÃO TEMOS QUE VER SE A FAIXA EM QUESTÃO JÁ FOI CONQUISTADA EM OUTRO PEDIDO, NESTE CASO NÃO PODEMOS REPETIR A CONQUISTA
			-- CASO A PROMOÇÃO SEJA ACUMULATIVA SOMENTE (AJUSTE BITRIX #3587 POR DIEGO ZILIOTI EM 27/04/2022)
			IF @v_idAcumulativa = 1
				BEGIN
					SELECT @v_faixaConquistada = ISNULL(COUNT(PD.NM_PEDIDO_ITEM_PROMOCAO),0)
					  FROM TB_PEDIDO P WITH(NOLOCK), TB_PEDIDO_ITEM_PROMOCAO PD WITH(NOLOCK)
					 WHERE P.NM_PEDIDO = PD.NM_PEDIDO
					   AND P.CD_PESSOA = @v_cdPessoa
					   AND P.NM_PEDIDO <> @p_nmPedido
					   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
					   AND PD.CD_PROMOCAO = @p_cdPromocao
					   AND PD.CD_PROMOCAO_REQUISITO_FAIXA = @v_RequisitoAtendido
				END
			ELSE
				BEGIN
					SELECT @v_faixaConquistada = 0
				END

			IF @v_faixaConquistada = 0
				BEGIN
					-- *******************************************************************************
					-- CORREÇÃO BITRIX #3461 - TEMOS QUE VERIFICAR SE EM UM ÚNICO PEDIDO COM PROMOÇÃO ACUMULATIVA MAIS DE UMA FAIXA FOI ATINGIDA
					-- NOS CASOS DE PROMOÇÃO ACUMULATIVA TEMOS QUE APLICAR TODAS AS FAIXAS DE BENEFÍCIOS MESMO QUE EM UM ÚNICO PEDIDO
					-- *******************************************************************************
					IF @v_idAcumulativa = 1
						BEGIN
							-- VAMOS PRIMEIRAMENTE BUSCAR AS FAIXAS ANTERIORES A CONQUISTADA
							SELECT @v_requisitoFaixaAnterior = COUNT(CD_PROMOCAO_REQUISITO_FAIXA)
							  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
							 WHERE CD_PROMOCAO = @p_cdPromocao
							   AND NM_VALOR_REQUISITO_INICIAL < (SELECT NM_VALOR_REQUISITO_INICIAL FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK) WHERE CD_PROMOCAO_REQUISITO_FAIXA = @v_RequisitoAtendido)

							print(@v_faixaConquistada)
							print(@v_requisitoFaixaAnterior)

							-- SE TIVERMOS ALGUMA FAIXA VAMOS AVALIAR SE JÁ FOI APLICADA
							IF @v_requisitoFaixaAnterior > 0
								BEGIN
									SET @v_cursorFaixasAnteriores = CURSOR FAST_FORWARD
									FOR
										SELECT CD_PROMOCAO_REQUISITO_FAIXA
										  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
										 WHERE CD_PROMOCAO = @p_cdPromocao
										   AND NM_VALOR_REQUISITO_INICIAL < (SELECT NM_VALOR_REQUISITO_INICIAL FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK) WHERE CD_PROMOCAO_REQUISITO_FAIXA = @v_RequisitoAtendido)
										 ORDER BY NM_VALOR_REQUISITO_INICIAL

									OPEN @v_cursorFaixasAnteriores
									FETCH NEXT FROM @v_cursorFaixasAnteriores
									INTO @v_requisitoFaixaAnterior

									WHILE @@FETCH_STATUS = 0
										BEGIN

											-- ANTES DE CONFIRMAR A CONQUISTA DA PROMOÇÃO TEMOS QUE VER SE A FAIXA EM QUESTÃO JÁ FOI CONQUISTADA EM OUTRO PEDIDO, NESTE CASO NÃO PODEMOS REPETIR A CONQUISTA
											SELECT @v_faixaConquistada = ISNULL(COUNT(PD.NM_PEDIDO_ITEM_PROMOCAO),0)
											  FROM TB_PEDIDO P WITH(NOLOCK), TB_PEDIDO_ITEM_PROMOCAO PD WITH(NOLOCK)
											 WHERE P.NM_PEDIDO = PD.NM_PEDIDO
											   AND P.CD_PESSOA = @v_cdPessoa
											   AND P.NM_PEDIDO <> @p_nmPedido
											   AND P.CD_EST_SITUACAO NOT IN (1,100,101,3,4) -- DESPREZA PEDIDOS CANCELADOS E AINDA NÃO FINALIZADOS E APROVADOS
											   AND PD.CD_PROMOCAO = @p_cdPromocao
											   AND PD.CD_PROMOCAO_REQUISITO_FAIXA = @v_requisitoFaixaAnterior

											-- SE NÃO FOI CONQUISTADA VAMOS APLICAR O PRÊMIO
											IF @v_faixaConquistada = 0
												BEGIN
													-- *******************************************************************************
													-- SE FOR UMA PROMOÇÃO PRELIMINAR NÃO VAMOS INSERIR NA TB_PEDIDO_ITEM_PROMOCAO
													-- MAS SIM NA TB_PEDIDO_PROMOCAO_PRELIMINAR
													-- *******************************************************************************
													IF @v_id_promocao_preliminar = 1 
														BEGIN
															EXEC dbo.pr_PromocaoAplicaPromocaoInserePreliminar
																	@p_nmPedido,
																	@p_cdPromocao,
						
																	@p_cdRetorno OUTPUT,
																	@p_dcErro OUTPUT,
																	@p_qtdeLinhasAfetadas OUTPUT
										
															IF @p_cdRetorno <> 0
																BEGIN
																	RETURN
																END

														END
													ELSE
														BEGIN
															SET @Cursor_Beneficios = CURSOR FAST_FORWARD
															FOR

																SELECT	CD_PROMOCAO_BENEFICIO_FAIXA,
																		ID_TIPO_BENEFICIO,
																		CD_TIPO_BENEFICIO,
																		NM_VALOR_BENEFICIO,
																		ID_OPERADOR_LOGICO,
																		ID_FORMA_PREMIACAO_PROMOCAO,
																		CD_MATERIAL_BENEFICIO
																	FROM TB_PROMOCAO_BENEFICIO_FAIXA WITH(NOLOCK)
																	WHERE CD_PROMOCAO = @p_cdPromocao
																	AND CD_PROMOCAO_REQUISITO_FAIXA = @v_requisitoFaixaAnterior
																	ORDER BY CD_PROMOCAO_BENEFICIO_FAIXA ASC

															OPEN @Cursor_Beneficios
															FETCH NEXT FROM @Cursor_Beneficios
															INTO @v_cdPromocaoBeneficio, @v_idTipoBeneficio, @v_cdTipoBeneficio, @v_nmValorBeneficio, @v_idOperadorLogicoBeneficio, @v_idFormaPremiacao, @v_cdMaterialBeneficio

															WHILE @@FETCH_STATUS = 0
																BEGIN
							
																	IF @v_idFormaPremiacao = 1 --BRINDE
																		BEGIN

																			EXEC dbo.pr_PromocaoAplicaPromocaoBrinde
																					@p_nmPedido,
																					@p_cdPromocao,
																					@v_cdPromocaoBeneficio,
																					@v_idTipoBeneficio,
																					@v_cdTipoBeneficio,
																					2, --UNIDADE DO BENEFICIO = QUANTIDADE
																					@v_cdMaterialBeneficio,
																					@v_nmValorBeneficio,
																					1, -- QUANTIDADE DE REQUISITO ATENDIDO - APENAS 1
																					@v_requisitoFaixaAnterior,
																					@p_cdRetorno OUTPUT,
																					@p_dcErro OUTPUT,
																					@p_qtdeLinhasAfetadas OUTPUT
										
																			IF @p_cdRetorno <> 0
																				BEGIN
																					RETURN
																				END
																		END
								
																	IF @v_idFormaPremiacao = 2 OR @v_idFormaPremiacao = 3 OR @v_idFormaPremiacao = 4 -- DESCONTO
																		BEGIN

																			EXEC dbo.pr_PromocaoAplicaPromocaoDesconto
																							@p_nmPedido,
																							@p_cdPromocao,
																							@v_idTipoBeneficio,
																							@v_cdTipoBeneficio,
																							@v_idFormaPremiacao,
																							@v_nmValorBeneficio,
																							@v_cdMaterialBeneficio,
																							1, -- SERÁ SEMPRE 1
																							@v_cdRegraComercial,
																							@v_cdPromocaoBeneficio,
																							@v_requisitoFaixaAnterior,
																							@p_cdRetorno OUTPUT,
																							@p_dcErro OUTPUT,
																							@p_qtdeLinhasAfetadas OUTPUT	
										
																					if @p_cdRetorno <> 0
																						begin
																							RETURN
																						end

																		END
															
																	FETCH NEXT FROM @Cursor_Beneficios
 																	INTO @v_cdPromocaoBeneficio, @v_idTipoBeneficio, @v_cdTipoBeneficio, @v_nmValorBeneficio, @v_idOperadorLogicoBeneficio, @v_idFormaPremiacao, @v_cdMaterialBeneficio
														
																END -- fecha o while do cursor de requisitos
														END
												END

											FETCH NEXT FROM @v_cursorFaixasAnteriores
											INTO @v_requisitoFaixaAnterior
										END
								END
						END
					
					-- DEPOIS DE CHECAR AS FAIXAS ANTERIORES APLICA A FAIXA ATUAL

					-- *******************************************************************************
					-- SE FOR UMA PROMOÇÃO PRELIMINAR NÃO VAMOS INSERIR NA TB_PEDIDO_ITEM_PROMOCAO
					-- MAS SIM NA TB_PEDIDO_PROMOCAO_PRELIMINAR
					-- *******************************************************************************
					IF @v_id_promocao_preliminar = 1 
						BEGIN
							EXEC dbo.pr_PromocaoAplicaPromocaoInserePreliminar
									@p_nmPedido,
									@p_cdPromocao,
						
									@p_cdRetorno OUTPUT,
									@p_dcErro OUTPUT,
									@p_qtdeLinhasAfetadas OUTPUT
										
							IF @p_cdRetorno <> 0
								BEGIN
									RETURN
								END

						END
					ELSE
						BEGIN
							SET @Cursor_Beneficios = CURSOR FAST_FORWARD
							FOR

								SELECT	CD_PROMOCAO_BENEFICIO_FAIXA,
										ID_TIPO_BENEFICIO,
										CD_TIPO_BENEFICIO,
										NM_VALOR_BENEFICIO,
										ID_OPERADOR_LOGICO,
										ID_FORMA_PREMIACAO_PROMOCAO,
										CD_MATERIAL_BENEFICIO
									FROM TB_PROMOCAO_BENEFICIO_FAIXA WITH(NOLOCK)
									WHERE CD_PROMOCAO = @p_cdPromocao
									AND CD_PROMOCAO_REQUISITO_FAIXA = @v_RequisitoAtendido
									ORDER BY CD_PROMOCAO_BENEFICIO_FAIXA ASC

							OPEN @Cursor_Beneficios
							FETCH NEXT FROM @Cursor_Beneficios
							INTO @v_cdPromocaoBeneficio, @v_idTipoBeneficio, @v_cdTipoBeneficio, @v_nmValorBeneficio, @v_idOperadorLogicoBeneficio, @v_idFormaPremiacao, @v_cdMaterialBeneficio

							WHILE @@FETCH_STATUS = 0
								BEGIN
							
									IF @v_idFormaPremiacao = 1 --BRINDE
										BEGIN

											EXEC dbo.pr_PromocaoAplicaPromocaoBrinde
													@p_nmPedido,
													@p_cdPromocao,
													@v_cdPromocaoBeneficio,
													@v_idTipoBeneficio,
													@v_cdTipoBeneficio,
													2, --UNIDADE DO BENEFICIO = QUANTIDADE
													@v_cdMaterialBeneficio,
													@v_nmValorBeneficio,
													1, -- QUANTIDADE DE REQUISITO ATENDIDO - APENAS 1
													@v_RequisitoAtendido,
													@p_cdRetorno OUTPUT,
													@p_dcErro OUTPUT,
													@p_qtdeLinhasAfetadas OUTPUT

											IF @p_cdRetorno <> 0
												BEGIN
													RETURN
												END
										END
								
									IF @v_idFormaPremiacao = 2 OR @v_idFormaPremiacao = 3 OR @v_idFormaPremiacao = 4 -- DESCONTO
										BEGIN

											EXEC dbo.pr_PromocaoAplicaPromocaoDesconto
															@p_nmPedido,
															@p_cdPromocao,
															@v_idTipoBeneficio,
															@v_cdTipoBeneficio,
															@v_idFormaPremiacao,
															@v_nmValorBeneficio,
															@v_cdMaterialBeneficio,
															1, -- SERÁ SEMPRE 1
															@v_cdRegraComercial,
															@v_cdPromocaoBeneficio,
															@v_RequisitoAtendido,
															@p_cdRetorno OUTPUT,
															@p_dcErro OUTPUT,
															@p_qtdeLinhasAfetadas OUTPUT	
										
													if @p_cdRetorno <> 0
														begin
															RETURN
														end

										END
															
									FETCH NEXT FROM @Cursor_Beneficios
 									INTO @v_cdPromocaoBeneficio, @v_idTipoBeneficio, @v_cdTipoBeneficio, @v_nmValorBeneficio, @v_idOperadorLogicoBeneficio, @v_idFormaPremiacao, @v_cdMaterialBeneficio
														
								END -- fecha o while do cursor de requisitos
						END
					
				END
		END -- fecha o if
	ELSE
		BEGIN
			-- NÃO ATINGIU FAIXA ALGUMA DA PROMOÇÃO, VAMOS AVALIAR SE DEVEMOS GRAVAR NAS PROMOÇÕES QUASE CONQUISTADAS
			IF @v_idPromocaoQuaseConquistada = 1
				BEGIN
					-- VAMOS BUSCA O VALOR INICIAL DA PRIMEIRA FAIXA DA PROMOCAO
					SELECT @v_vlInicialMenorFaixa = ISNULL(MIN(NM_VALOR_REQUISITO_INICIAL),0)
					  FROM TB_PROMOCAO_REQUISITO_FAIXA WITH(NOLOCK)
					 WHERE CD_PROMOCAO = @p_cdPromocao

					-- AGORA COM ESSE VALOR VAMOS COMPARAR COM % ATINGIDO, SE FOR MAIOR OU IGUAL VAMOS INSERIR NAS PROMOÇÕES QUASE CONQUISTADAS
					IF (@v_vlTotalProdutosPedido / @v_vlInicialMenorFaixa) >= (@v_vlrPorcentagemQuaseConquistada / 100) AND ((@v_vlTotalProdutosPedido / @v_vlInicialMenorFaixa) < 1)
						BEGIN
							
							-- vamos tratar o texto do quanto falta de acordo com o tipo de requisito
							IF @v_idTipoRequisitoFaixa = 1 -- FAIXA DE VALOR DO PEDIDO
								BEGIN
									SELECT @v_dcPromocaoQuaseConquistada = 'Faltam ' + CONVERT(VARCHAR,(@v_vlInicialMenorFaixa - @v_vlTotalProdutosPedido)) + ' em valor de produtos no pedido.'
								END

							IF @v_idTipoRequisitoFaixa = 2 -- VALOR EM UM PRODUTO ESPECÍFICO
								BEGIN
									SELECT @v_dcPromocaoQuaseConquistada = 'Faltam ' + CONVERT(VARCHAR,(@v_vlInicialMenorFaixa - @v_vlTotalProdutosPedido)) + ' em valor no produto ' +
										   (SELECT DC_PRODUTO_VENDA FROM TB_PRODUTO_VENDA WITH(NOLOCK) WHERE CD_PRODUTO_VENDA = @v_cdTipoRequisitoFaixa)
								END

							IF @v_idTipoRequisitoFaixa = 3 -- QUANTIDADE EM UM PRODUTO ESPECÍFICO
								BEGIN
									SELECT @v_dcPromocaoQuaseConquistada = 'Faltam ' + CONVERT(VARCHAR,(@v_vlInicialMenorFaixa - @v_vlTotalProdutosPedido)) + ' unidades do produto ' +
										   (SELECT DC_PRODUTO_VENDA FROM TB_PRODUTO_VENDA WITH(NOLOCK) WHERE CD_PRODUTO_VENDA = @v_cdTipoRequisitoFaixa)
								END

							IF @v_idTipoRequisitoFaixa = 4 -- VALOR EM UMA ESTRUTURA DE PRODUTO
								BEGIN
									SELECT @v_dcPromocaoQuaseConquistada = 'Faltam ' + CONVERT(VARCHAR,(@v_vlInicialMenorFaixa - @v_vlTotalProdutosPedido)) + ' em valor na linha de produtos ' +
										   (SELECT DC_EST_PRODUTO FROM TB_EST_PRODUTO WITH(NOLOCK) WHERE CD_EST_PRODUTO = @v_cdTipoRequisitoFaixa)
								END

							IF @v_idTipoRequisitoFaixa = 5 -- QUANTIDADE EM UMA ESTRUTURA DE PRODUTO
								BEGIN
									SELECT @v_dcPromocaoQuaseConquistada = 'Faltam ' + CONVERT(VARCHAR,(@v_vlInicialMenorFaixa - @v_vlTotalProdutosPedido)) + ' unidades na linha de produtos ' +
										   (SELECT DC_EST_PRODUTO FROM TB_EST_PRODUTO WITH(NOLOCK) WHERE CD_EST_PRODUTO = @v_cdTipoRequisitoFaixa)
								END

							IF @v_idTipoRequisitoFaixa = 6 -- PONTUAÇÃO DO PEDIDO
								BEGIN
									SELECT @v_dcPromocaoQuaseConquistada = 'Faltam ' + CONVERT(VARCHAR,(@v_vlInicialMenorFaixa - @v_vlTotalProdutosPedido)) + ' em pontos no pedido.'
								END

							IF @v_idTipoRequisitoFaixa = 7 -- PONTUAÇÃO EM UMA ESTRUTURA DE PRODUTO
								BEGIN
									SELECT @v_dcPromocaoQuaseConquistada = 'Faltam ' + CONVERT(VARCHAR,(@v_vlInicialMenorFaixa - @v_vlTotalProdutosPedido)) + ' em pontos na linha de produtos ' +
										   (SELECT DC_EST_PRODUTO FROM TB_EST_PRODUTO WITH(NOLOCK) WHERE CD_EST_PRODUTO = @v_cdTipoRequisitoFaixa)
								END

							-- REALIZA O INSERT NA TABELA
							INSERT INTO TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA (NM_PEDIDO,
																			  CD_PROMOCAO,
																			  DC_QUE_FALTA_PROMOCAO)
							VALUES (@p_nmPedido,
									@p_cdPromocao,
									@v_dcPromocaoQuaseConquistada)
						END
				END
		END
	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_dcErro, @p_cdRetorno, 1)
END CATCH;
GO
