SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[pr_PessoaInsereUsuario]
	@p_cdPessoa					numeric(18,0),
	@p_codigoUsuario			VARCHAR(100),
	@p_dcUsuario				varchar(100),
	@p_cpfUsuario				varchar(50),
	@p_dcEmail					varchar(100),
	@p_dcSenhaUsuario			varchar(50),
		
	@p_idTipoFuncao				VARCHAR(1),
	
	@p_cdRetorno		INT OUTPUT,
	@p_dcErro			NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
	--@CodigoGerado		NUMERIC(18,0) OUTPUT
AS

BEGIN TRY
	
	SELECT @p_cdRetorno = 0
	SELECT @p_dcErro = ''
	SELECT @p_qtLinhasAfetadas = 0
	IF @p_idTipoFuncao = 'I'
		BEGIN
			BEGIN TRANSACTION 
		
			INSERT INTO TB_PESSOA_USUARIO (
				CD_PESSOA,
				CD_USUARIO,
				DC_USUARIO,
				CPF_USUARIO,
				DC_EMAIL_USUARIO,
				DC_SENHA_USUARIO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO
				)
			VALUES (
				@p_cdPessoa,
				@p_codigoUsuario,
				@p_dcUsuario,
				@p_cpfUsuario,
				@p_dcEmail,
				@p_dcSenhaUsuario,
				GETDATE(), 
				@p_cdPessoa, 
				GETDATE(), 
				@p_cdPessoa
				)
			
			COMMIT TRANSACTION

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
--			SELECT @CodigoGerado = IDENT_CURRENT('TB_PRODUTO_VENDA_FAIXA_FATOR')
		END	
			
	IF @p_idTipoFuncao = 'A'
		BEGIN
			BEGIN TRANSACTION 
		
			UPDATE TB_PESSOA_USUARIO SET
				DC_EMAIL_USUARIO = @p_dcEmail,
				DC_SENHA_USUARIO = @p_dcSenhaUsuario,
				DT_ATUALIZACAO = GETDATE(),
				CD_USUARIO_ATUALIZACAO = @p_cdPessoa
			WHERE CD_USUARIO = @p_codigoUsuario

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END
				
	IF @p_idTipoFuncao = 'E'
		BEGIN
			BEGIN TRANSACTION 
		
			DELETE FROM TB_PESSOA_USUARIO 
			WHERE CD_PESSOA = @p_cdPessoa
			  AND CD_USUARIO = @p_codigoUsuario
							
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END	
			

	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
