SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_TRANSPORTADORA]
	@CD_TRANSP NUMERIC(18,0),
	@DC_TRANSPORTADORA varchar(80),
	@CD_EMPRESA NUMERIC(18,0),
	@CD_ROTA NUMERIC(18,0),
	@ID_SITUACAO INT,
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_TRANSPORTADORA NUMERIC(18,0) OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
		
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_TRANSPORTADORA (
					DC_TRANSPORTADORA,
					CD_EMPRESA,
					CD_ROTA,
					ID_SITUACAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@DC_TRANSPORTADORA,
					@CD_EMPRESA,
					@CD_ROTA,
					@ID_SITUACAO,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_TRANSPORTADORA = IDENT_CURRENT('TB_TRANSPORTADORA')
			
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_TRANSPORTADORA SET
					DC_TRANSPORTADORA = @DC_TRANSPORTADORA,
					CD_EMPRESA = @CD_EMPRESA,
					CD_ROTA = @CD_ROTA,
					ID_SITUACAO = @ID_SITUACAO,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO
				WHERE CD_TRANSPORTADORA = @CD_TRANSP
					
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_TRANSPORTADORA 
					WHERE CD_TRANSPORTADORA = @CD_TRANSP
										
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
