SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_PedidoListaRegraComercialLVEstadoCidade]
	@CD_PESSOA					NUMERIC(18,0),
	@CD_FUNCAO					NUMERIC(18,0),
	@CD_PAPEL_CARREIRA			NUMERIC(18,0),
	@CD_PAPEL_DESEMPENHO		NUMERIC(18,0),
	@ID_APLICA_REGRA			NUMERIC(18,0),
	@DC_ESTADO					VARCHAR(2),
	@DC_CIDADE					VARCHAR(80)
		
	
AS
  -- ' *****************************************************************************************************
  -- ' MOSTRA TODAS AS REGRAS COMERCIAIS QUE SERÃO APLIECADOS EM TODOS OS PEDIDOS INDEPENDENTE DA FAIXA
  -- ' *****************************************************************************************************

  Select  CD_REGRA_COMERCIAL, 
          DC_REGRA_COMERCIAL, 
	  case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA 
  from TB_REGRA_COMERCIAL A 
  where CD_FUNCAO =  @CD_FUNCAO
    And ID_SITUACAO = 1 
    And ID_APLICA_RC_TODOS_PEDIDOS = 1 
    AND ID_EVENTO_APLICACAO_REGRA = @ID_APLICA_REGRA 
    AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
    And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
		 
    -- NESSE CASO PEGA REGRAS QUE APLIQUEM PARA TODOS OS PAPEIS CARREIRA (TABELA TB_REGRA_COMERCIAL_PAPEL_CARREIRA VAZIA)
    AND not EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
		    WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
	     
     -- NESSE CASO PEGA REGRAS QUE APLIQUEM PARA TODOS OS PAPEIS DESEMPENHO 
    AND not EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
		    WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
    AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B 
                      WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 

    AND (    (SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
										       WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
	  OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)
	
	AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )


  UNION ALL 

  select  CD_REGRA_COMERCIAL, 
          DC_REGRA_COMERCIAL, 
          --PC_PRODUTO_REGULAR, 
          --VL_PEDIDO_MINIMO, 
	  case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		    (select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		    (select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
	       else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
	  end PC_PRODUTO_REGULAR,
	      VL_PEDIDO_MINIMO,
 	  CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA  
  from TB_REGRA_COMERCIAL A 
  where CD_FUNCAO =  @CD_FUNCAO
  And ID_SITUACAO = 1 
  And ID_APLICA_RC_TODOS_PEDIDOS = 1 
  AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
  AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
  And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
         
  -- NESSE CASO PEGA REGRAS EM QUE TENHAM PAPEL CARREIRA ASSOCIADO
  AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
              WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
 	      AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA ) 

  -- NESSE CASO PEGA REGRAS EM QUE TENHAM PAPEL DESEMPENHO ASSOCIADO
  AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
              WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
	      AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO )
  AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B       ------- novo
  	WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)  ------- novo
 

  AND (   (SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
											  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
       OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

  AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

  -- ********************************************************************************************************************************
  -- ALTERAÇÃO FEITA POR ANDERSON - 01/07/2018
  -- PRECISAMOS COLOCAR MAIS DUAS INSTRUÇÕES DE UNION
  -- ISSO PORQUE PODE ACONTECER CASOS DE TER PAPEL CARREIRA E NÃO TER PAPEL DESEMPENHO E VICE VERSA
  -- ********************************************************************************************************************************
  UNION ALL 

  select CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
	 
	 --PC_PRODUTO_REGULAR, 
         --VL_PEDIDO_MINIMO, 
	 case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		   (select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		   (select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
	      else 
		   (select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		    end PC_PRODUTO_REGULAR,
	 VL_PEDIDO_MINIMO,
	 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA  
  from TB_REGRA_COMERCIAL A 
  where CD_FUNCAO =  @CD_FUNCAO
  And ID_SITUACAO = 1 
  And ID_APLICA_RC_TODOS_PEDIDOS = 1 
  AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
  AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
  And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
         
  -- NESSA CASO PEGA TODOS OS PAPEIS CARREIRA (ITENS QUE NÃO FORMA MARCADOS - TODOS)
  AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
  		  WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
	     
  -- NESSE CASO PEGA REGRAS EM QUE TENHAM PAPEL DESEMPENHO ASSOCIADO
  AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
              WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
	      AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO ) 
  AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B                                ------- novo
    					WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)  ------- novo

  AND (   (SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
										  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
       OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)


	AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )
										  
  UNION ALL 
  select CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
	 --PC_PRODUTO_REGULAR, 
         --VL_PEDIDO_MINIMO, 
         case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,
		 
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA  
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO =  @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 1 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
         

		 -- NESSE CASO PEGA REGRAS EM QUE TENHAM PAPEL CARREIRA ASSOCIADO
		 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
			AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA ) 

         -- NESSE CASO PEGA REGRAS COM TODOS OS PAPEIS DESEMPENHO
		 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
			WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
   	         AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B                        ------- novo
          		WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)  ------- novo


		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
			  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)
	
		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )
	   
  UNION ALL 
  Select  CD_REGRA_COMERCIAL, 
          DC_REGRA_COMERCIAL, 
	  case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA 
  from TB_REGRA_COMERCIAL A 
  where CD_FUNCAO =  @CD_FUNCAO
    And ID_SITUACAO = 1 
    And ID_APLICA_RC_TODOS_PEDIDOS = 1 
    AND ID_EVENTO_APLICACAO_REGRA = @ID_APLICA_REGRA 
    AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
    And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
		 
    -- NESSE CASO PEGA REGRAS QUE APLIQUEM PARA TODOS OS PAPEIS CARREIRA (TABELA TB_REGRA_COMERCIAL_PAPEL_CARREIRA VAZIA)
    AND not EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
		    WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
	     
     -- NESSE CASO PEGA REGRAS QUE APLIQUEM PARA TODOS OS PAPEIS DESEMPENHO 
    AND not EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
		    WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
    AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                WHERE B.CD_PESSOA            = C.CD_PESSOA
                AND   B.CD_FUNCAO            = C.CD_FUNCAO
                AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
		        AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                AND   B.CD_PESSOA          = @CD_PESSOA
                AND   B.CD_FUNCAO          = @CD_FUNCAO  )
                
    AND (    (SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
										       WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
	  OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

----NOVO
  UNION ALL 
  Select  CD_REGRA_COMERCIAL, 
          DC_REGRA_COMERCIAL, 
	  case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA 
  from TB_REGRA_COMERCIAL A 
  where CD_FUNCAO =  @CD_FUNCAO
    And ID_SITUACAO = 1 
    And ID_APLICA_RC_TODOS_PEDIDOS = 1 
    AND ID_EVENTO_APLICACAO_REGRA = @ID_APLICA_REGRA 
    AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
    And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
		 
    AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
				WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
			       AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA)
    AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
				WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
			        AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO)

    AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                WHERE B.CD_PESSOA            = C.CD_PESSOA
                AND   B.CD_FUNCAO            = C.CD_FUNCAO
                AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
		        AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                AND   B.CD_PESSOA          = @CD_PESSOA
                AND   B.CD_FUNCAO          = @CD_FUNCAO  )
                
    AND (    (SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
										       WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
	  OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)


	  AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

  UNION ALL 
  Select  CD_REGRA_COMERCIAL, 
          DC_REGRA_COMERCIAL, 
	  case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA 
  from TB_REGRA_COMERCIAL A 
  where CD_FUNCAO =  @CD_FUNCAO
    And ID_SITUACAO = 1 
    And ID_APLICA_RC_TODOS_PEDIDOS = 1 
    AND ID_EVENTO_APLICACAO_REGRA = @ID_APLICA_REGRA 
    AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
    And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
		 
    -- NESSE CASO PEGA REGRAS QUE APLIQUEM PARA TODOS OS PAPEIS CARREIRA (TABELA TB_REGRA_COMERCIAL_PAPEL_CARREIRA VAZIA)
    AND not EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
		    WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
	     
     -- NESSE CASO PEGA REGRAS QUE APLIQUEM PARA TODOS OS PAPEIS DESEMPENHO 
    AND  EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
		WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
	       AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO)
    AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                WHERE B.CD_PESSOA            = C.CD_PESSOA
                AND   B.CD_FUNCAO            = C.CD_FUNCAO
                AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
		        AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                AND   B.CD_PESSOA          = @CD_PESSOA
                AND   B.CD_FUNCAO          = @CD_FUNCAO  )
                
    AND (    (SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
										       WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
	  OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

	AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

 UNION ALL 
  Select  CD_REGRA_COMERCIAL, 
          DC_REGRA_COMERCIAL, 
	  case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA 
  from TB_REGRA_COMERCIAL A 
  where CD_FUNCAO =  @CD_FUNCAO
    And ID_SITUACAO = 1 
    And ID_APLICA_RC_TODOS_PEDIDOS = 1 
    AND ID_EVENTO_APLICACAO_REGRA = @ID_APLICA_REGRA 
    AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
    And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
		 
    -- NESSE CASO PEGA REGRAS QUE APLIQUEM PARA TODOS OS PAPEIS CARREIRA (TABELA TB_REGRA_COMERCIAL_PAPEL_CARREIRA VAZIA)
    AND  EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
		WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
	        AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA)
	     
     -- NESSE CASO PEGA REGRAS QUE APLIQUEM PARA TODOS OS PAPEIS DESEMPENHO 
    AND not eXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
		    WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
    AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                WHERE B.CD_PESSOA            = C.CD_PESSOA
                AND   B.CD_FUNCAO            = C.CD_FUNCAO
                AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
		        AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                AND   B.CD_PESSOA          = @CD_PESSOA
                AND   B.CD_FUNCAO          = @CD_FUNCAO  )
                
    AND (    (SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
										       WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
	  OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

-- FIM NOVO

	AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

         UNION ALL 

         Select	CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
		 
		-- PC_PRODUTO_REGULAR, 

		 case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,

         --VL_PEDIDO_MINIMO, 	 
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO = @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA) = 1 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA( @CD_PESSOA ,  @CD_FUNCAO ) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         
		 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
                      WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
		 
		 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
                      WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 

                 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B 
                                WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
 		 
		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
												  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

         UNION ALL 

         select	CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
		 
		-- PC_PRODUTO_REGULAR, 
        -- VL_PEDIDO_MINIMO, 
		 
		  case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA  
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO =  @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(  @CD_PESSOA ,  @CD_FUNCAO ) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         
		 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
         AND B.CD_PAPEL_CARREIRA =  @CD_PAPEL_CARREIRA ) 
		 
		 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
         AND B.CD_PAPEL_DESEMPENHO =  @CD_PAPEL_DESEMPENHO ) 

         AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B       ------- novo
  	 WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)  ------- novo
		 
		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
				  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)



		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

		-- ********************************************************************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 01/07/2018
		-- PRECISAMOS COLOCAR MAIS DUAS INSTRUÇÕES DE UNION
		-- ISSO PORQUE PODE ACONTECER CASOS DE TER PAPEL CARREIRA E NÃO TER PAPEL DESEMPENHO E VICE VERSA
		-- ********************************************************************************************************************************
		UNION ALL 

         Select	CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
		 
		-- PC_PRODUTO_REGULAR, 

		 case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,

         --VL_PEDIDO_MINIMO, 	 
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO = @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA) = 1 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA( @CD_PESSOA ,  @CD_FUNCAO ) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         
		 -- NESSA CASO PEGA TODOS OS PAPEIS CARREIRA (ITENS QUE NÃO FORMA MARCADOS - TODOS)
		 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
			WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
	     
         -- NESSE CASO PEGA REGRAS EM QUE TENHAM PAPEL DESEMPENHO ASSOCIADO
		 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
			AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO ) 

         AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B       ------- novo
  	 WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)  ------- novo
		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
												  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

         UNION ALL 

         select	CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
		 
		-- PC_PRODUTO_REGULAR, 
        -- VL_PEDIDO_MINIMO, 
		 
		  case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA  
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO =  @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(  @CD_PESSOA ,  @CD_FUNCAO ) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         
		 -- NESSE CASO PEGA REGRAS EM QUE TENHAM PAPEL CARREIRA ASSOCIADO
		 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
			AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA ) 

         -- NESSE CASO PEGA REGRAS COM TODOS OS PAPEIS DESEMPENHO
		 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
			WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
         AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B       ------- novo
  	 WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)  ------- novo
		 
		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
					  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)


		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

        UNION ALL
         Select	CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
		 
		-- PC_PRODUTO_REGULAR, 

		 case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,

         --VL_PEDIDO_MINIMO, 	 
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO = @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA) = 1 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA( @CD_PESSOA ,  @CD_FUNCAO ) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         
		 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
                      WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
		 
		 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
                      WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
         AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                     WHERE B.CD_PESSOA            = C.CD_PESSOA
                     AND   B.CD_FUNCAO            = C.CD_FUNCAO
                     AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                     AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                     AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
	    	     AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                     AND   B.CD_PESSOA          = @CD_PESSOA
                     AND   B.CD_FUNCAO          = @CD_FUNCAO  )
 		 
		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
												  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

-- NOVO
        UNION ALL
         Select	CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
		 
		-- PC_PRODUTO_REGULAR, 

		 case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,

         --VL_PEDIDO_MINIMO, 	 
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO = @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA) = 1 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA( @CD_PESSOA ,  @CD_FUNCAO ) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         
	 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
			WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
		       AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA)
	 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
	 	WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
	        AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO)
         AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                     WHERE B.CD_PESSOA            = C.CD_PESSOA
                     AND   B.CD_FUNCAO            = C.CD_FUNCAO
                     AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                     AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                     AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
	    	     AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                     AND   B.CD_PESSOA          = @CD_PESSOA
                     AND   B.CD_FUNCAO          = @CD_FUNCAO  )
 		 
		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
												  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

        UNION ALL
         Select	CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
		 
		-- PC_PRODUTO_REGULAR, 

		 case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,

         --VL_PEDIDO_MINIMO, 	 
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO = @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA) = 1 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA( @CD_PESSOA ,  @CD_FUNCAO ) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         
	 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B 
                   WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
		 
	AND  EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
		WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
		       AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO)
         AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                     WHERE B.CD_PESSOA            = C.CD_PESSOA
                     AND   B.CD_FUNCAO            = C.CD_FUNCAO
                     AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                     AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                     AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
	    	     AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                     AND   B.CD_PESSOA          = @CD_PESSOA
                     AND   B.CD_FUNCAO          = @CD_FUNCAO  )
 		 
		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
												  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )

        UNION ALL
         Select	CD_REGRA_COMERCIAL, 
         DC_REGRA_COMERCIAL, 
		 
		-- PC_PRODUTO_REGULAR, 

		 case when (select count(*) countRCFaixa from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) > 1 then
		(select 'De'+str(min(PC_PRODUTO_REGULAR),3) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) +'% '+ 
		(select ' a '+str(max(PC_PRODUTO_REGULAR),3)+'%' from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 else 
		(select str(PC_PRODUTO_REGULAR) from TB_REGRA_COMERCIAL_FAIXA_COMISSAO where CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
		 end PC_PRODUTO_REGULAR,
		 VL_PEDIDO_MINIMO,

         --VL_PEDIDO_MINIMO, 	 
		 
		 CD_CENTRO_DISTRIBUICAO, ID_EVENTO_APLICACAO_REGRA
         from TB_REGRA_COMERCIAL A 
         where CD_FUNCAO = @CD_FUNCAO
         And ID_SITUACAO = 1 
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND ID_EVENTO_APLICACAO_REGRA =  @ID_APLICA_REGRA  
         AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
         And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA) = 1 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA( @CD_PESSOA ,  @CD_FUNCAO ) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         
	 AND  EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
			WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL
		        AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA)
		 
	 AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B 
                        WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 
         AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                     WHERE B.CD_PESSOA            = C.CD_PESSOA
                     AND   B.CD_FUNCAO            = C.CD_FUNCAO
                     AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                     AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                     AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
	    	     AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                     AND   B.CD_PESSOA          = @CD_PESSOA
                     AND   B.CD_FUNCAO          = @CD_FUNCAO  )
 		 
		 AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
												  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)


		AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT  X.CD_CENTRO_DISTRIBUICAO
									FROM TB_CENTRO_DISTRIBUICAO X, TB_PESSOA_ENDERECO B
									WHERE X.CD_EMPRESA = B.CD_PESSOA
									AND B.ID_TIPO_ENDERECO = 3
									AND ( @DC_ESTADO = B.DC_ESTRUTURA_GEO2 OR @DC_ESTADO = '') 
									AND ( @DC_CIDADE = B.DC_ESTRUTURA_GEO3 OR @DC_CIDADE = '') )
-- FIM NOVO


GO
