SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_DividaEnviaCobrancaExterna]
	@p_codigoDivida numeric(18, 0),
	@p_codigoParcela numeric(18, 0),
	@p_idEnviaCobrancaExterna INT,
	@p_idSituacaoCobrancaExterna INT,
	@p_codigodEntidadeCobrancaExterna NUMERIC(18,0),
	@p_codigoUsuario numeric(18, 0),
	@p_codigoErro	INT OUTPUT,
	@p_dcErro		VARCHAR(max) OUTPUT
	
AS

DECLARE
	--@ID_ENVIA_COBRANCA_EXTERNA NUMERIC(18,4),
	@v_codigoParcelaDivida NUMERIC(18,0),
	@v_qtLinhasAfetadas INT,
	@v_dtAtual DATETIME	
	
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @p_codigoErro = 0
	    SELECT @p_dcErro = ''
   
	    IF @p_idEnviaCobrancaExterna = 1 --ENVIA A DÍVIDA INTEIRA
		BEGIN
			
			BEGIN TRANSACTION 
			
			UPDATE TB_PARCELA SET ID_SITUACAO_COBRANCA_EXTERNA = @p_idSituacaoCobrancaExterna,
								  CD_ENTIDADE_COBRANCA_EXTERNA = @p_codigodEntidadeCobrancaExterna
			WHERE CD_DIVIDA = @p_codigoDivida
			
			COMMIT TRANSACTION 
			
			--COLOCAR CHAMADA PARA ATUALIZAR O HISTÓRICO DA PARCELA VIA PROCEDURE
			BEGIN
				DECLARE	PARCELAS_DIVIDAS CURSOR FAST_FORWARD LOCAL
					FOR	SELECT CD_PARCELA FROM TB_PARCELA
						WHERE CD_DIVIDA = @p_codigoDivida
						
				OPEN PARCELAS_DIVIDAS
				FETCH NEXT FROM PARCELAS_DIVIDAS INTO @v_codigoParcelaDivida
				
				WHILE @@FETCH_STATUS = 0
				BEGIN
					
					SELECT @v_dtAtual = GETDATE()
					
					EXEC pr_DividaGravaHistoricoParcela @v_codigoParcelaDivida,
													@v_dtAtual,
													@v_dtAtual,
													NULL,
													NULL,
													NULL,
													NULL,
													@p_idSituacaoCobrancaExterna,
													@p_codigodEntidadeCobrancaExterna,
													NULL,
													NULL,
													NULL,
													NULL,
													NULL,
													@p_codigoUsuario,
													@p_codigoErro OUTPUT,
													@p_dcErro OUTPUT,
													@v_qtLinhasAfetadas OUTPUT
				END
				CLOSE PARCELAS_DIVIDAS
				DEALLOCATE PARCELAS_DIVIDAS
				
	    	END
	    END
	    
	    IF @p_idEnviaCobrancaExterna = 2 --ENVIA SOMENTE A PARCELA SELECIONADA
	    BEGIN
	    
			BEGIN TRANSACTION 
			
			UPDATE TB_PARCELA SET ID_SITUACAO_COBRANCA_EXTERNA = @p_idSituacaoCobrancaExterna,
								  CD_ENTIDADE_COBRANCA_EXTERNA = @p_codigodEntidadeCobrancaExterna
			WHERE CD_PARCELA = @p_codigoParcela
			
			COMMIT TRANSACTION
			--COLOCAR CHAMADA PARA ATUALIZAR O HISTÓRICO DA PARCELA VIA PROCEDURE
	    	BEGIN
			
				SELECT @v_dtAtual = GETDATE()
				
				EXEC pr_DividaGravaHistoricoParcela @p_codigoParcela,
													@v_dtAtual,
													@v_dtAtual,
													NULL,
													NULL,
													NULL,
													NULL,
													@p_idSituacaoCobrancaExterna,
													@p_codigodEntidadeCobrancaExterna,
													NULL,
													NULL,
													NULL,
													NULL,
													NULL,
													@p_codigoUsuario,
													@p_codigoErro OUTPUT,
													@p_dcErro OUTPUT,
													@v_qtLinhasAfetadas OUTPUT
			END
	    	
		END
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;









GO
