SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_RegraComercialInsereRegraComercialEstruturaGeografica]
	@p_cd_regra_comercial  	NUMERIC(18,0),
	@p_cd_est_geografica    NUMERIC(18,0),
	@p_dt_cadastro          datetime,
	@p_cd_usuario_cadastro  NUMERIC(18,0),
	
	@p_descricaoTipoFuncao  VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO [TB_REGRA_COMERCIAL_EST_GEOGRAFICA] (
				CD_REGRA_COMERCIAL ,
				CD_EST_GEOGRAFICA ,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO)
						
				VALUES (
				@p_cd_regra_comercial,
				@p_cd_est_geografica,
				GETDATE(),
				@p_cd_usuario_cadastro)
				
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
						
				COMMIT TRANSACTION
			END	
					

			IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM [TB_REGRA_COMERCIAL_EST_GEOGRAFICA]
				WHERE CD_REGRA_COMERCIAL = @p_cd_regra_comercial 

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
