SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_LojaVirtualAtualizaParametros]
	@p_idExibeMaisVistos		int,
	@p_idExibeLancamentos		int,
	@p_idExibeDestaques			int,
	@p_idExibePromocoes			int,
	@p_dcLinkFacebook			varchar(500),
	@p_dcLinkInstagram			varchar(500),
	@p_dcLinkLinkedin			varchar(500),
	@p_dcLinkTwitter			varchar(500),
	@p_dcLinkYoutube			varchar(500),
	@p_dcLinkWhatsapp			varchar(500),
	@p_idTipoConfigMaisVistos	INT,
	@p_idTipoConfigPromocoes	INT,
	@p_dcTituloMaisVistos		VARCHAR(160),
	@p_dcTituloPromocoes		VARCHAR(160),

	@p_codigoUsuario			NUMERIC(18,0),

	@p_dcTituloChatExterno	VARCHAR(160),
	@p_dcLinkChatExterno   varchar(500),
	@p_dcTituloFormularioExterno	VARCHAR(160),
	@p_dcLinkFormularioExterno   varchar(500),
	@p_dcTituloPortalExterno	VARCHAR(160),
	@p_dcLinkPortalExterno   varchar(500),

	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT

AS
DECLARE @v_existeRegistro	INT

BEGIN TRY
	
	    SELECT  @p_linhasAfetadas = 0,
				@p_codigoErro = 0,
				@p_descricaoErro = ''

		SELECT @v_existeRegistro = COUNT(*) FROM TB_ESCRITORIO_VIRTUAL_PARAMETRO WITH(NOLOCK)

		-- ATUALIZA OU INSERE OS PARÂMETROS NA TABELA
		IF @v_existeRegistro <= 0
			BEGIN
				BEGIN TRANSACTION 
				
			   INSERT INTO TB_ESCRITORIO_VIRTUAL_PARAMETRO(
					DC_LINK_FACEBOOK,
					DC_LINK_INSTAGRAM,
					DC_LINK_LINKEDIN,
					DC_LINK_TWITTER,
					DC_LINK_WHATSAPP,
					DC_LINK_YOUTUBE,
					ID_TIPO_EXIBICAO_MAIS_VISTOS,
					ID_TIPO_EXIBICAO_PROMOCOES,
					DC_TITULO_MAIS_VISTOS,
					DC_TITULO_PROMOCOES,
					CD_USUARIO_ATUALIZACAO,
					DT_ATUALIZACAO,
					DC_TITULO_CHAT_EXTERNO,
					DC_LINK_CHAT_EXTERNO,
					DC_TITULO_FORMULARIO_EXTERNO,
					DC_LINK_FORMULARIO_EXTERNO,
					DC_TITULO_PORTAL_EXTERNO,
					DC_LINK_PORTAL_EXTERNO
					)	
				VALUES (
					@p_dcLinkFacebook,
					@p_dcLinkInstagram,
					@p_dcLinkLinkedin,
					@p_dcLinkTwitter,
					@p_dcLinkWhatsapp,
					@p_dcLinkYoutube,
					@p_idTipoConfigMaisVistos,
					@p_idTipoConfigPromocoes,
					@p_dcTituloMaisVistos,
					@p_dcTituloPromocoes,
					@p_codigoUsuario,
					GETDATE(),
					@p_dcTituloChatExterno,
					@p_dcLinkChatExterno,
					@p_dcTituloFormularioExterno,
					@p_dcLinkFormularioExterno,
					@p_dcTituloPortalExterno,
					@p_dcLinkPortalExterno)

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
		ELSE
			BEGIN
				BEGIN TRANSACTION 
		
				UPDATE TB_ESCRITORIO_VIRTUAL_PARAMETRO SET
						DC_LINK_FACEBOOK = @p_dcLinkFacebook,
						DC_LINK_INSTAGRAM = @p_dcLinkInstagram,
						DC_LINK_LINKEDIN = @p_dcLinkLinkedin,
						DC_LINK_TWITTER = @p_dcLinkTwitter,
						DC_LINK_WHATSAPP = @p_dcLinkWhatsapp,
						DC_LINK_YOUTUBE = @p_dcLinkYoutube,
						ID_TIPO_EXIBICAO_MAIS_VISTOS = @p_idTipoConfigMaisVistos,
						ID_TIPO_EXIBICAO_PROMOCOES = @p_idTipoConfigPromocoes,
						DC_TITULO_MAIS_VISTOS = @p_dcTituloMaisVistos,
						DC_TITULO_PROMOCOES = @p_dcTituloPromocoes,
						CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
						DT_ATUALIZACAO = GETDATE(),
						DC_TITULO_CHAT_EXTERNO = @p_dcTituloChatExterno,
						DC_LINK_CHAT_EXTERNO = @p_dcLinkChatExterno,
						DC_TITULO_FORMULARIO_EXTERNO = @p_dcTituloFormularioExterno,
						DC_LINK_FORMULARIO_EXTERNO = @p_dcLinkFormularioExterno,
						DC_TITULO_PORTAL_EXTERNO = @p_dcTituloPortalExterno,
						DC_LINK_PORTAL_EXTERNO = @p_dcLinkPortalExterno
											
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END
		
		-- ATUALIZA OS PARÂMETROS DE SISTEMA
		UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = @p_idExibeDestaques WHERE CD_GRUPO_PARAMETRO = 9 AND CD_PARAMETRO = 83
		UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = @p_idExibeMaisVistos WHERE CD_GRUPO_PARAMETRO = 9 AND CD_PARAMETRO = 85
		UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = @p_idExibeLancamentos WHERE CD_GRUPO_PARAMETRO = 9 AND CD_PARAMETRO = 82
		UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = @p_idExibePromocoes WHERE CD_GRUPO_PARAMETRO = 9 AND CD_PARAMETRO = 131

		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
