SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/**********************************************************************
VERIFICA SE HOUVE ALGUM PAGAMENTO PARA O PEDIDO QUE ESTA SENDO EDITADO
ISSO PORQUE AO EDITAR UM PEDIDO PODEMOS GERAR UM SALDO A FAVOR OU
SALDO DEVEDOR PARA OS PEDIDOS QUE JÁ FORAM PAGOS E ESTÃO SENDO
EDITADOS
*********************************************************************/

CREATE PROCEDURE [dbo].[SP_VERIFICA_PAGAMENTO_EDICAO_PEDIDO]
	@NM_PEDIDO			NUMERIC(18,0),
	@CD_USUARIO			NUMERIC(18,0),
	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @VL_ORIGINAL_DIVIDA			NUMERIC(18,2)
DECLARE @VL_PAGO					NUMERIC(18,2)

DECLARE @VL_PAGAR_TOTAL				NUMERIC(18,2)
DECLARE @VL_PAGAR_TEORICO_TOTAL		NUMERIC(18,2)

DECLARE @VL_SALDO_FAVOR_GERADO		NUMERIC(18,2)
DECLARE @VL_SALDO_DEVEDOR_GERADO	NUMERIC(18,2)

DECLARE @VL_SALDO_ACERTO			NUMERIC(18,2)

DECLARE @V_DIFERENCA				NUMERIC(18,2)
DECLARE @CD_PESSOA					NUMERIC(18,0)
DECLARE @CD_FUNCAO					NUMERIC(18,0)



BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
	    SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	    SELECT @VL_SALDO_ACERTO = 0
	    
	    -- *****************************************************
	    -- BUSCA VALOR DO PEDIDO
	    -- *****************************************************
	    SELECT	@VL_PAGAR_TOTAL = VL_PAGAR_TOTAL,
				@VL_PAGAR_TEORICO_TOTAL = VL_PAGAR_TEORICO_TOTAL,
				@CD_PESSOA = CD_PESSOA,
				@CD_FUNCAO = CD_FUNCAO,
				@VL_SALDO_FAVOR_GERADO = VL_SALDO_FAVOR_GERADO,
				@VL_SALDO_DEVEDOR_GERADO = VL_SALDO_DEVEDOR_GERADO
		FROM TB_PEDIDO
		WHERE NM_PEDIDO = @NM_PEDIDO	
	    
	    
	    -- *****************************************************
	    -- VERIFICA SE HOUVE ALGUM PAGAMENTO PARA O PEDIDO
	    -- *****************************************************
		SELECT	@VL_ORIGINAL_DIVIDA = SUM(D.VL_ORIGINAL_DIVIDA), 
				@VL_PAGO = SUM(VL_CONCILIACAO)
		FROM TB_CONCILIACAO C, TB_DIVIDA D
		WHERE C.CD_DIVIDA = D.CD_DIVIDA
		AND D.NM_PEDIDO = @NM_PEDIDO
		AND D.ID_SITUACAO_PAGAMENTO <> 4
		
				
		-- *****************************************************
		-- EXISTE UM PAGAMENTO, AGORA VAMOS COMPARAR COM O VALOR DO PEDIDO
		-- PARA ANALISAR SE DEVEMOS GERAR UM SALDO A FAVOR OU UM SALDO DEVEDOR
		-- *****************************************************
		IF @VL_PAGO > 0 AND @VL_PAGO <> @VL_PAGAR_TOTAL
			BEGIN
				
				-- PAGOU A MAIOR, ENTÃO VAMOS GERAR UM SALDO A FAVOR
				IF @VL_PAGO > @VL_PAGAR_TOTAL
					BEGIN
					
						SELECT @V_DIFERENCA = @VL_PAGO - @VL_PAGAR_TOTAL
						
						-- CRIAR SALDO A FAVOR
						-- EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--				@CD_PESSOA,
						--				@CD_FUNCAO,
						--				1, -- CREDITO
						--				1, -- PEDIDO
						--				@NM_PEDIDO,
						--				1, -- CRIAÇÃO DE CREDITO
						--				@V_DIFERENCA,
						--				4, -- EVENTO EDIÇÃO DE PEDIDO
						--				@CD_USUARIO,
						--				@CD_ERRO,
						--				@DC_ERRO ,
						--				@QT_LINHAS_AFETADAS
						
						-- GERAR SALDO A FAVOR
						EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
							@CD_PESSOA,
							@CD_FUNCAO,
							2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
							1, -- TIPO_MOVIMENTO = CREDITO
							3, -- ORIGEM_MOVIMENTO = EDIÇÃO DE PEDIDO
							@NM_PEDIDO,
							20, -- ELEMENTO FINANCEIRO = CRIAÇÃO DE SALDO A FAVOR
							@V_DIFERENCA,
							@CD_USUARIO,
							@CD_ERRO			OUTPUT,
							@DC_ERRO			OUTPUT,
							@QT_LINHAS_AFETADAS	OUTPUT
							
								
						
						-- ATUALIZA O SALDO GERADO NO PEDIDO
						UPDATE TB_PEDIDO 
						SET VL_SALDO_FAVOR_GERADO = @V_DIFERENCA,
							VL_SALDO_DEVEDOR_GERADO = 0
						WHERE NM_PEDIDO = @NM_PEDIDO
						
					END
				ELSE
					-- PAGOU A MENOR, ENTÃO VAMOS GERAR UM SALDO DEVEDOR
					BEGIN
					
						SELECT @V_DIFERENCA =  @VL_PAGAR_TOTAL - @VL_PAGO
						
						-- CRIAR SALDO DEVEDOR
						-- EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--		@CD_PESSOA,
						--		@CD_FUNCAO,
						--		2, -- DEBITO
						--		1, -- PEDIDO
						--		@NM_PEDIDO,
						--		2, -- CANCELAMENTO DE CREDITO
						--		@V_DIFERENCA,
						--		4, -- EVENTO EDIÇÃO DE PEDIDO
						--		@CD_USUARIO,
						--		@CD_ERRO,
						--		@DC_ERRO ,
						--		@QT_LINHAS_AFETADAS	
						
						-- DIMINUIR SALDO A FAVOR
						EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
							@CD_PESSOA,
							@CD_FUNCAO,
							2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
							2, -- TIPO_MOVIMENTO = DEBITO
							3, -- ORIGEM_MOVIMENTO = EDIÇÃO DE PEDIDO
							@NM_PEDIDO,
							22, -- ELEMENTO FINANCEIRO = CANCELAMENTO DE SALDO A FAVOR
							@V_DIFERENCA,
							@CD_USUARIO,
							@CD_ERRO			OUTPUT,
							@DC_ERRO			OUTPUT,
							@QT_LINHAS_AFETADAS	OUTPUT
												
						-- ATUALIZA O SALDO GERADO NO PEDIDO
						UPDATE TB_PEDIDO 
						SET VL_SALDO_FAVOR_GERADO = 0,
							VL_SALDO_DEVEDOR_GERADO = @V_DIFERENCA
						WHERE NM_PEDIDO = @NM_PEDIDO
					
					END
				
				
			END
	    
	 		
	  
							
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
