SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_PACHAMAMA]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS

/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0),
	@NM_CICLO_INICIO       NUMERIC(18,0)

DECLARE @VL_INDICADOR_PESSOAL_1002 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1009 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1003 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1015 NUMERIC(18,2),
	@CD_PAPEL_ELEGIVEL         NUMERIC(18,0),
	@COUNT_ELEGIVEL            INT

BEGIN TRY
  
  SELECT @QT_LINHAS_AFETADAS = 0
  IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
  BEGIN

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO,
	     @NM_CICLO_INICIO     = NM_CICLO_INICIO
      FROM TB_PESSOA_RESUMO A  with(nolock)
      WHERE A.CD_PESSOA  = @CD_PESSOA
      AND   A.CD_FUNCAO  = @CD_FUNCAO 

      --******************************************************************************
      -- VALOR DE COMPRAS PESSOAIS (VALOR LIQUIDO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- TOTAL DE PONTOS PESSOAIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_INDICADOR_PESSOAL_1002 = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_INDICADOR_PESSOAL_1002,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_INDICADOR_PESSOAL_1002,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE PONTOS PESSOAIS EM 3 CICLOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_INDICADOR_PESSOAL_1003 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO            >= DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,3)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_INDICADOR_PESSOAL_1003,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_INDICADOR_PESSOAL_1003,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- VALOR DE VENDAS (LV) PESSOAIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = isnull(SUM(B.VL_TABELA_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_RV_INDICANTE          = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE INDICAÇÕES
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = COUNT(CD_PESSOA)
	FROM TB_PESSOA_RESUMO with(nolock) 
	WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
	AND   CD_FUNCAO           = @CD_FUNCAO
	AND   ISNULL(CD_SITUACAO_COMERCIAL,0) < 4 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE PONTOS DAS INDICAÇÕES EM 3 CICLOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	       (SELECT CD_PESSOA PESSOA
	        FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   ISNULL(CD_SITUACAO_COMERCIAL,0) < 4 ) B 
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO	
	AND A.CD_INDICADOR_PESSOAL    = 1003

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1006
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE PESSOAS DA EQUIPE DIRETA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 )
      BEGIN		
        
        SELECT @VL_CONTADOR  = COUNT(CD_PESSOA)
	FROM TB_PESSOA_RESUMO with(nolock) 
	WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	AND   CD_FUNCAO           = @CD_FUNCAO
	AND   ISNULL(CD_SITUACAO_COMERCIAL,0) < 4 


        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE ATIVAS DA EQUIPE DIRETA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 )
      BEGIN		
        
        SELECT @VL_CONTADOR = COUNT(DISTINCT A.CD_PESSOA)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   ISNULL(CD_SITUACAO_COMERCIAL,0) < 4 ) B  
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL    = 1003
        AND A.VL_INDICADOR_PESSOAL   >= 60
       
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1008
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- TOTAL DE PONTOS DA EQUIPE DIRETA EM 3 CICLOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 )
      BEGIN		
        
        SELECT @VL_INDICADOR_PESSOAL_1009 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   ISNULL(CD_SITUACAO_COMERCIAL,0) < 4 ) B  
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL    = 1003
       
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1009
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_INDICADOR_PESSOAL_1009,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_INDICADOR_PESSOAL_1009,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- VALOR DE COMPRAS (VALOR LIQUIDO) DA EQUIPE DIRETA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 )
      BEGIN		
        
        SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   ISNULL(CD_SITUACAO_COMERCIAL,0) < 4 ) B  
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL    = 1001
       
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1011
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- TOTAL DE CICLOS NA QUALIFICAÇÃO ATUAL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_TOTAL_CICLOS_QUALIFICACAO_ATUAL_PACHAMAMA (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_PAPEL_CARREIRA ) 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with (nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1012
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- TOTAL DE PONTOS DAS VENDAS (LV) PESSOAIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_RV_INDICANTE          = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- TOTAL DE PONTOS DAS VENDAS (LV) PESSOAIS EM 3 CICLOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_INDICADOR_PESSOAL_1015 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO            >= DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,3)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1015
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_INDICADOR_PESSOAL_1015,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_INDICADOR_PESSOAL_1015,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE PONTOS (PESSOAIS + EQUIPE DIRETA)  EM 3 CICLOS    --  TOTAL DE PONTOS (PESSOAIS + LV + EQUIPE DIRETA)  EM 3 CICLOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 )
      BEGIN		
        
        SELECT @VL_CONTADOR =  (@VL_INDICADOR_PESSOAL_1003 + @VL_INDICADOR_PESSOAL_1009)            --(@VL_INDICADOR_PESSOAL_1003 + @VL_INDICADOR_PESSOAL_1015 + @VL_INDICADOR_PESSOAL_1009)
       
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- QUALIFICAÇÃO CALCULADA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        
  	  SELECT @VL_CONTADOR  = [dbo].[FN_MN_CALCULA_QUALIFICACAO_PACHAMAMA] (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_EST_COMERCIAL)  

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1013
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

          IF (@CD_PAPEL_CARREIRA IN (1)) -- CRISALIDAS (INICIO DA VERIFICACAO SE ESTA ELEGIVEL A QUALQUER BORBOLETA)
	  BEGIN
            -- VERIFICAR SE A PESSOA ESTÁ ELEGIVEL
    	    SELECT @VL_INDICADOR_PESSOAL_1003 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0) -- TOTAL DE PONTOS PESSOAIS EM 3 CICLOS
            FROM TB_PESSOA_INDICADOR with(nolock)
            WHERE CD_PESSOA          = @CD_PESSOA
            AND CD_FUNCAO            = @CD_FUNCAO
            --AND NM_CICLO             = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,2)
            AND NM_CICLO             = @NM_CICLO
            AND CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
            AND CD_INDICADOR_PESSOAL = 1003

	    SELECT @CD_PAPEL_ELEGIVEL = 0
            IF (@VL_INDICADOR_PESSOAL_1003 >= 300)
            BEGIN
	      SELECT @CD_PAPEL_ELEGIVEL = 2
	    END
	    IF (@VL_INDICADOR_PESSOAL_1003 >= 600)
            BEGIN
	      SELECT @CD_PAPEL_ELEGIVEL = 3
	    END
	    IF (@VL_INDICADOR_PESSOAL_1003 >= 900)
            BEGIN
	      SELECT @CD_PAPEL_ELEGIVEL = 4
	    END
	    IF (@CD_PAPEL_ELEGIVEL > 0)
	    BEGIN 
              SELECT @COUNT_ELEGIVEL = COUNT(CD_PESSOA)
              FROM TB_MN_PESSOA_ELEGIVEL  with(nolock)			
              WHERE CD_PESSOA	    = @CD_PESSOA
              AND   CD_PAPEL	    = @CD_PAPEL_ELEGIVEL
              AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1)

              IF (@COUNT_ELEGIVEL = 0)
              BEGIN
		BEGIN TRANSACTION
                INSERT INTO TB_MN_PESSOA_ELEGIVEL (CD_PESSOA, CD_PAPEL, NM_CICLO_INICIO, NM_CICLO_FIM, 	ID_SITUACAO_ELEGIVEL) VALUES
  				    (@CD_PESSOA, @CD_PAPEL_ELEGIVEL, DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1), DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 2), 1)
		COMMIT TRANSACTION	
              END
	    END
	    ELSE
	    BEGIN
	      BEGIN TRANSACTION
		DELETE TB_MN_PESSOA_ELEGIVEL
                WHERE CD_PESSOA	    = @CD_PESSOA
                AND   CD_PAPEL	    = @CD_PAPEL_ELEGIVEL
                AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1)
	      COMMIT TRANSACTION

	    END       
	  END  -- fim CRISALIDAS (INICIO DA VERIFICACAO SE ESTA ELEGIVEL A QUALQUER BORBOLETA)
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        
      END



    END -- fim EVENTO = 6

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
