SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaInserePessoaVip]

	@P_CD_PESSOA 					NUMERIC(18, 0),
	@P_CD_FUNCAO 					NUMERIC(18, 0),
    @P_ID_VIP_NAO_DESATIVADA 				INT,  -- 1 SIM / 2 NAO
    @P_ID_VIP_SEMPRE_ATIVA_BONIFICACAO 		INT,  -- 1 SIM / 2 NAO 
	@P_ID_VIP_ISENCAO_COMPRA_KIT			INT,  -- 1 SIM / 2 NAO 
 	@P_ID_VIP_NAO_PARTICIPA_MN				INT,  -- 1 SIM / 2 NAO 
	
	@p_codigoUsuario				NUMERIC(18,0),
			
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	--@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0


				 
				UPDATE  TB_PESSOA_RESUMO SET
						ID_VIP_NAO_DESATIVADA = @P_ID_VIP_NAO_DESATIVADA,
						ID_VIP_SEMPRE_ATIVA_BONIFICACAO = @P_ID_VIP_SEMPRE_ATIVA_BONIFICACAO,
						ID_VIP_ISENCAO_COMPRA_KIT = @P_ID_VIP_ISENCAO_COMPRA_KIT,
		   				ID_VIP_NAO_PARTICIPA_MN = @P_ID_VIP_NAO_PARTICIPA_MN,
						DT_ATUALIZACAO = GETDATE(),
						CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
				WHERE CD_PESSOA = @P_CD_PESSOA
				AND   CD_FUNCAO = @P_CD_FUNCAO 

				SELECT @p_linhasAfetadas = @@ROWCOUNT
	

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
