SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CALCULA_EC_INDICADOR_CLIENTE_ELLAS]
				@CD_EST_COMERCIAL   NUMERIC(18, 0),
				@DT_FECHAMENTO      DATE,
				@CD_USUARIO         NUMERIC(18,0),
				@VAR_RETORNO        INT OUTPUT,
				@DC_ERRO            NVARCHAR(MAX) OUTPUT,
				@QT_LINHAS_AFETADAS INT OUTPUT


AS


	DECLARE @Cursor_EC					CURSOR,
		@NM_CICLO					NUMERIC(18,0),
		@CD_ESTRUTURA					NUMERIC(18,0),
		@CD_FUNCAO					INT,
		@ID_MOMENTO_CALCULO_INDICADOR  NUMERIC(18,0),
		@CALCULA_INDICADOR  INT,
		@EXISTE_REGISTRO    INT

	DECLARE @VL_INDICADOR_PESSOAL_3001			NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3002			NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3004			NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3005			NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3007			NUMERIC(18,2),
                @VL_CONTADOR                                    NUMERIC(18,2)


BEGIN TRY


	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @ID_MOMENTO_CALCULO_INDICADOR = 2
	    
	    -- *******************************************************************************
		-- CURSOR DE ESTRUTURA COMERCIAL
		-- VERIFICA TODOS AS ESTRUTURA COMERCIAIS QUE FECHAM NA DATA INFORMADA
		-- *******************************************************************************
	
		IF @CD_EST_COMERCIAL = 0 
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,3) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT  DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,2) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT  DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,1) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					ORDER BY 2 DESC,1

			END 
		ELSE
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL, 2
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						    AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					ORDER BY 2,1
			END


				    
	    -- ABRE O CURSOR DE ESTRUTURA COMERCIAL
	    OPEN @Cursor_EC
		FETCH NEXT FROM @Cursor_EC
		INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO

		WHILE @@FETCH_STATUS = 0
			BEGIN

				--******************************************************************************
			      	-- TOTAL DE ATIVAS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3001,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_INDICADOR_PESSOAL_3001 = COUNT(A.CD_PESSOA)
					FROM TB_PESSOA_INDICADOR A  with(nolock),
						(SELECT CD_PESSOA PESSOA
						FROM TB_PESSOA_RESUMO with(nolock) 
						WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, CD_EST_COMERCIAL) = 1  --CD_EST_COMERCIAL    = @CD_ESTRUTURA
						AND   CD_FUNCAO           = @CD_FUNCAO
						AND   CD_PAPEL_CARREIRA  in (2,3,4) ) B  -- BELLAS
					WHERE A.CD_PESSOA             = B.PESSOA
					AND A.CD_FUNCAO               = @CD_FUNCAO	
					AND A.NM_CICLO                = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL    = 1005
					AND A.VL_INDICADOR_PESSOAL    > 0

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3001
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_INDICADOR_PESSOAL_3001,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_INDICADOR_PESSOAL_3001,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	



				--******************************************************************************
			      	-- TOTAL DE CADASTROS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3002,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_INDICADOR_PESSOAL_3002  = COUNT (A.CD_PESSOA)
					FROM TB_PESSOA_RESUMO A  with(nolock)
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA
					AND   A.CD_FUNCAO               = @CD_FUNCAO
					AND   A.CD_PAPEL_CARREIRA          IN (2,3,4)
					AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) < 4

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3002
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_INDICADOR_PESSOAL_3002,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_INDICADOR_PESSOAL_3002,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- ATIVIDADE NO SETOR ( ATIVAS / CADASTROS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3003,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3002,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3001 / @VL_INDICADOR_PESSOAL_3002)*100
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3003
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE PEDIDOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3004,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_INDICADOR_PESSOAL_3004 = COUNT(A.NM_PEDIDO)
					FROM TB_PEDIDO A  with(nolock),
						(SELECT CD_PESSOA PESSOA
						FROM TB_PESSOA_RESUMO with(nolock) 
						WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, CD_EST_COMERCIAL) = 1 --CD_EST_COMERCIAL    = @CD_ESTRUTURA
						AND   CD_FUNCAO           = @CD_FUNCAO
						AND   CD_PAPEL_CARREIRA  in (2,3,4) ) B  -- BELLAS
					WHERE A.CD_PESSOA             = B.PESSOA
					AND A.CD_FUNCAO               = @CD_FUNCAO	
					AND A.NM_CICLO_APROVACAO      = @NM_CICLO	
					AND A.NM_CICLO_CANCELAMENTO   IS NULL
					AND A.CD_PAPEL_CARREIRA       > 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3004
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3004,
						@VL_INDICADOR_PESSOAL_3004,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3004,
						@VL_INDICADOR_PESSOAL_3004,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	



				--******************************************************************************
			      	-- VALOR DE COMPRAS LIQUIDA NOS SETOR 
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3005,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_INDICADOR_PESSOAL_3005 = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
					FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
						(SELECT CD_PESSOA PESSOA
						FROM TB_PESSOA_RESUMO with(nolock) 
						WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, CD_EST_COMERCIAL) = 1 --CD_EST_COMERCIAL    = @CD_ESTRUTURA
						AND   CD_FUNCAO           = @CD_FUNCAO
						AND   CD_PAPEL_CARREIRA  in (2,3,4) ) C  -- BELLAS
					WHERE A.CD_PESSOA                = C.PESSOA
					AND   A.CD_FUNCAO                = @CD_FUNCAO
					--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
					AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
					AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
					AND   A.NM_PEDIDO                = B.NM_PEDIDO
					--	  AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
					--	  AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
					AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
					AND   A.CD_PAPEL_CARREIRA        > 1
					AND B.ID_PRODUTO_COBRADO = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3005
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_INDICADOR_PESSOAL_3005,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_INDICADOR_PESSOAL_3005,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TICKET MEDIO NO SETOR (COMPRAS LIQUIDAS  / PEDIDOS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3006,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3004,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3005 / @VL_INDICADOR_PESSOAL_3004)
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3006
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- ITENS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3007,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_INDICADOR_PESSOAL_3007 = isnull(SUM(B.QT_RESERVADA),0)
					FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
						(SELECT CD_PESSOA PESSOA
						FROM TB_PESSOA_RESUMO with(nolock) 
						WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, CD_EST_COMERCIAL) = 1  --CD_EST_COMERCIAL    = @CD_ESTRUTURA
						AND   CD_FUNCAO           = @CD_FUNCAO
						AND   CD_PAPEL_CARREIRA  in (2,3,4) ) C  -- BELLAS
					WHERE A.CD_PESSOA                = C.PESSOA
					AND   A.CD_FUNCAO                = @CD_FUNCAO
					--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
					AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
					AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
					AND   A.NM_PEDIDO                = B.NM_PEDIDO
					--	  AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
					--	  AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
					AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
					AND   A.CD_PAPEL_CARREIRA        > 1
					AND B.ID_PRODUTO_COBRADO = 1


 				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3007
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_INDICADOR_PESSOAL_3007,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_INDICADOR_PESSOAL_3007,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- ITENS POR BELLAS NO SETOR (ITENS / ATIVAS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3008,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3001,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3007 / @VL_INDICADOR_PESSOAL_3001)
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3008
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	



				FETCH NEXT FROM @Cursor_EC
				INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO
			
				
			END


	 	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
