SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiPasswordRecovery]  
AS  
select A.CD_PESSOA AS CodigoPessoa, 
	   NOME AS Nome, 
	   A.EMAILPESSOAL AS EmailPessoal,
	   R.CD_FUNCAO AS CodigoFuncao,
	   Cliente.NomeCliente
from vw_ApiConsultaPessoa A   
INNER JOIN TB_PESSOA_RESUMO R   
ON R.CD_PESSOA = A.CD_PESSOA  
OUTER APPLY (SELECT TOP 1 VL_PARAMETRO AS CodigoCliente
			 FROM TB_VALOR_PARAMETRO
			 WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1) AS CodCliente
OUTER APPLY (SELECT TOP 1 DC_DOMINIO AS NomeCliente
			 FROM TB_DOMINIO 
			 WHERE CD_GRUPO_DOMINIO = 97 AND CD_DOMINIO = CodCliente.CodigoCliente) AS Cliente
GO
