SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_TransferenciaInsereTransferenciaAutomatica]
	@p_codigoTransferencia							numeric(18,0),
	@p_codigoSaldoFavorSaque						numeric(18,2),
	@p_codigoPessoa									numeric(18,0),
	@p_valorSaldoFavorDisponivel					numeric(18,2),
	@p_idSituacaoTransferenciaAutomatica			int,
	@p_idOrigemProcesTransferencia					int,
	@p_dcLoginServicoExterno						varchar(max),
	@p_dcEmailServicoExterno						varchar(max),
	@p_dcIdContaServicoExterno						varchar(max),
	@p_idTipoFuncao									varchar(1),

	@p_codigoUsuario								numeric(18,0),
	
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS

DECLARE @v_dcDetalheSituacaoTransferencia varchar(max)


BEGIN TRY
  SELECT @p_codigoErro = 0
  SELECT @p_descricaoErro = ''
  SELECT @p_linhasAfetadas = 0
	    
	--BUSCA DESCRICAO DA SITUACAO TRANSFERENCIA
  SELECT @v_dcDetalheSituacaoTransferencia = DBO.FN_BUSCA_DOMINIO('SITUACAO_TRANSFERENCIA_AUTOMATICA',@p_idOrigemProcesTransferencia)

	    
  IF @p_idTipoFuncao = 'I'
		BEGIN
    
					INSERT INTO TB_TRANSFERENCIA_AUTOMATICA (	CD_SALDO_FAVOR_SAQUE,
																CD_PESSOA,
																VL_TRANSFERENCIA,
																ID_SITUACAO_TRANSFERENCIA,
																ID_ORIGEM_TRANSFERENCIA,
																DC_DETALHE_SITUACAO_TRANSFERENCIA,
																DC_LOGIN_CONTA_SERVICO_EXTERNO,
																DC_EMAIL_CONTA_SERVICO_EXTERNO,
																DC_ID_CONTA_SERVICO_EXTERNO,
																DT_CADASTRO,
																CD_USUARIO_CADASTRO
																) 
													VALUES (
																@p_codigoSaldoFavorSaque,
																@p_codigoPessoa,
																@p_valorSaldoFavorDisponivel,
																@p_idSituacaoTransferenciaAutomatica,
																@p_idOrigemProcesTransferencia,
																@v_dcDetalheSituacaoTransferencia,
																@p_dcLoginServicoExterno,
																@p_dcEmailServicoExterno,
																@p_dcIdContaServicoExterno,
																GETDATE(),
																@p_codigoUsuario
																)				    
	    
					SELECT @p_linhasAfetadas = @@ROWCOUNT
					SELECT @p_codigoGerado = IDENT_CURRENT('TB_TRANSFERENCIA_AUTOMATICA')
					
			END
			    
  IF @p_idTipoFuncao = 'A'
		BEGIN	
			IF @p_idSituacaoTransferenciaAutomatica = 1 -- TRANSFERENCIA PENDENTE
					BEGIN
						UPDATE TB_TRANSFERENCIA_AUTOMATICA
						   SET	CD_SALDO_FAVOR_SAQUE = @p_codigoSaldoFavorSaque,
								CD_PESSOA = @p_codigoPessoa,
								VL_TRANSFERENCIA = @p_valorSaldoFavorDisponivel,
								ID_SITUACAO_TRANSFERENCIA = @p_idSituacaoTransferenciaAutomatica,
								ID_ORIGEM_TRANSFERENCIA = @p_idOrigemProcesTransferencia,
								DC_DETALHE_SITUACAO_TRANSFERENCIA = @v_dcDetalheSituacaoTransferencia,
								DC_LOGIN_CONTA_SERVICO_EXTERNO = @p_dcLoginServicoExterno,
								DC_EMAIL_CONTA_SERVICO_EXTERNO = @p_dcEmailServicoExterno,
								DC_ID_CONTA_SERVICO_EXTERNO = @p_dcIdContaServicoExterno
						WHERE  CD_TRANSFERENCIA = @p_codigoTransferencia
					END

			IF @p_idSituacaoTransferenciaAutomatica = 2 -- TRANSFERENCIA REALIZADA
					BEGIN
						UPDATE TB_TRANSFERENCIA_AUTOMATICA
						   SET	CD_SALDO_FAVOR_SAQUE = @p_codigoSaldoFavorSaque,
								CD_PESSOA = @p_codigoPessoa,
								VL_TRANSFERENCIA = @p_valorSaldoFavorDisponivel,
								ID_SITUACAO_TRANSFERENCIA = @p_idSituacaoTransferenciaAutomatica,
								ID_ORIGEM_TRANSFERENCIA = @p_idOrigemProcesTransferencia,
								DC_DETALHE_SITUACAO_TRANSFERENCIA = @v_dcDetalheSituacaoTransferencia,
								DC_LOGIN_CONTA_SERVICO_EXTERNO = @p_dcLoginServicoExterno,
								DC_EMAIL_CONTA_SERVICO_EXTERNO = @p_dcEmailServicoExterno,
								DC_ID_CONTA_SERVICO_EXTERNO = @p_dcIdContaServicoExterno,
								DT_PROCESSAMENTO_TRANSFERENCIA = GETDATE()
						WHERE  CD_TRANSFERENCIA = @p_codigoTransferencia
					END

			IF @p_idSituacaoTransferenciaAutomatica = 3 -- TRANSFERENCIA COM ERRO
					BEGIN
						UPDATE TB_TRANSFERENCIA_AUTOMATICA
						   SET	CD_SALDO_FAVOR_SAQUE = @p_codigoSaldoFavorSaque,
								CD_PESSOA = @p_codigoPessoa,
								VL_TRANSFERENCIA = @p_valorSaldoFavorDisponivel,
								ID_SITUACAO_TRANSFERENCIA = @p_idSituacaoTransferenciaAutomatica,
								ID_ORIGEM_TRANSFERENCIA = @p_idOrigemProcesTransferencia,
								DC_DETALHE_SITUACAO_TRANSFERENCIA = @v_dcDetalheSituacaoTransferencia,
								DC_LOGIN_CONTA_SERVICO_EXTERNO = @p_dcLoginServicoExterno,
								DC_EMAIL_CONTA_SERVICO_EXTERNO = @p_dcEmailServicoExterno,
								DC_ID_CONTA_SERVICO_EXTERNO = @p_dcIdContaServicoExterno
						WHERE  CD_TRANSFERENCIA = @p_codigoTransferencia
					END

		END

  IF @p_idTipoFuncao = 'E'
		BEGIN
			DELETE TB_TRANSFERENCIA_AUTOMATICA
			 WHERE CD_TRANSFERENCIA = @p_codigoTransferencia
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
