SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Aldir Tirelli
-- Create date: 02/03/2011
-- Description:	Cria Ciclo de Vendas
-- =============================================
CREATE PROCEDURE [dbo].[SP_CAD_CICLO_VENDA] 
	@NM_CICLO NUMERIC(18,0),
	@NM_ANO INT,
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
	
AS
BEGIN TRY
	BEGIN TRANSACTION 
	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				INSERT INTO TB_CICLO (NM_CICLO, NM_ANO, DT_CADASTRO, CD_USUARIO_CADASTRO, DT_ATUALIZACAO, CD_USUARIO_ATUALIZACAO)
				VALUES           (@NM_CICLO, @NM_ANO, GETDATE(), @CD_USUARIO, GETDATE(), @CD_USUARIO)
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
        ELSE
			  BEGIN
				DELETE TB_CICLO
				WHERE NM_CICLO = @NM_CICLO
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT  
				COMMIT TRANSACTION
			  END
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
