SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaSaldoFavor]
AS

	SELECT CD_PESSOA "customerId",
		   CD_FUNCAO "function",
		   VL_SALDO_FAVOR "balanceAvailable"
	  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
GO
