SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_IntegracaoInsereMaterialIntegracao]
	@p_codigoIntegracao			NUMERIC(18,0),
	@p_codigoMaterial			NUMERIC(18,0),
	@p_codigoMaterialIntegracao	VARCHAR(100),
	@p_codigoServicoExterno		NUMERIC(18,0),
	@p_codigoRetornoIntegracao	NUMERIC(18,0),
	@p_idSituacaoIntegracao		INT,
	@p_descMensagemIntegracao	VARCHAR(MAX),

	@p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE @v_codigoMaterialIntegracao	NUMERIC(18,0)
BEGIN TRY
	
	SELECT @p_qtLinhasAfetadas = 0,
		   @p_codigoErro = 0,
		   @p_descErro = ''
	
	IF @p_descAcao = 'I'
		BEGIN

			-- VAMOS CHECAR SE EXISTE JÁ ALGUM REGISTRO DE PROCESSAMENTO PARA ATUALIZÁ-LO
			SELECT @v_codigoMaterialIntegracao = ISNULL(MAX(CD_MATERIAL_INTEGRACAO),0)
			  FROM TB_MATERIAL_INTEGRACAO WITH(NOLOCK)
			 WHERE CD_MATERIAL = @p_codigoMaterial
			   AND CD_INTEGRACAO = @p_codigoIntegracao
			   AND CD_SERVICO_EXTERNO = @p_codigoServicoExterno

			IF @v_codigoMaterialIntegracao = 0
				BEGIN
					INSERT INTO TB_MATERIAL_INTEGRACAO (
						CD_INTEGRACAO,
						CD_MATERIAL,
						DC_CODIGO_MATERIAL_INTEGRACAO,
						CD_SERVICO_EXTERNO,
						CD_RETORNO_INTEGRACAO,
						ID_SITUACAO_INTEGRACAO,
						DC_MENSAGEM_INTEGRACAO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO )

					VALUES (
						@p_codigoIntegracao,
						@p_codigoMaterial,
						@p_codigoMaterialIntegracao,
						@p_codigoServicoExterno,
						@p_codigoRetornoIntegracao,
						@p_idSituacaoIntegracao,
						@p_descMensagemIntegracao,
						GETDATE(),
						@p_codigoUsuario )
				END
			ELSE
				BEGIN
					UPDATE TB_MATERIAL_INTEGRACAO 
					   SET DC_CODIGO_MATERIAL_INTEGRACAO = @p_codigoMaterialIntegracao,
						   CD_RETORNO_INTEGRACAO = @p_codigoRetornoIntegracao,
						   ID_SITUACAO_INTEGRACAO = @p_idSituacaoIntegracao,
						   DC_MENSAGEM_INTEGRACAO = @p_descMensagemIntegracao,
						   DT_ATUALIZACAO = GETDATE(),
						   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
					 WHERE CD_MATERIAL = @p_codigoMaterial
					   AND CD_INTEGRACAO = @p_codigoIntegracao
					   AND CD_SERVICO_EXTERNO = @p_codigoServicoExterno
					   AND CD_MATERIAL_INTEGRACAO = @v_codigoMaterialIntegracao

				END
		
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT

		END	

	IF @p_descAcao = 'A'
		BEGIN
	
			BEGIN TRANSACTION 
	
			UPDATE TB_MATERIAL_INTEGRACAO 
			   SET DC_CODIGO_MATERIAL_INTEGRACAO = @p_codigoMaterialIntegracao,
				   CD_RETORNO_INTEGRACAO = @p_codigoRetornoIntegracao,
				   ID_SITUACAO_INTEGRACAO = @p_idSituacaoIntegracao,
				   DC_MENSAGEM_INTEGRACAO = @p_descMensagemIntegracao,
				   DT_ATUALIZACAO = GETDATE(),
				   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
			 WHERE CD_MATERIAL = @p_codigoMaterial
			   AND CD_INTEGRACAO = @p_codigoIntegracao
			   AND CD_SERVICO_EXTERNO = @p_codigoServicoExterno
	
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
		
			COMMIT TRANSACTION
		
		END	

	IF @p_descAcao = 'E'
		BEGIN
	
			BEGIN TRANSACTION 
			
			DELETE FROM TB_MATERIAL_INTEGRACAO
			WHERE CD_MATERIAL = @p_codigoMaterial
			   AND CD_INTEGRACAO = @p_codigoIntegracao
			   AND CD_SERVICO_EXTERNO = @p_codigoServicoExterno

			COMMIT TRANSACTION
		END
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
