SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_CampanhaInsereBeneficiosCampanhaIndicacao]

	@p_codigoCampanha		numeric(18,0),
	@p_codTipoProduto		numeric(18,0),
	@p_codProduto			numeric(18,0),
	@p_quantidade			numeric(18,0),
	@p_codMaterial			numeric(18,0),
	
	@p_descricaoFuncao		VARCHAR(1),
		
	@p_codigoErro			INT OUTPUT,
	@p_descricaoErro		VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas		INT OUTPUT
	
AS

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				INSERT INTO TB_CAMPANHA_INDICACAO_BENEFICIO (
					
						CD_CAMPANHA,
						ID_TIPO_BENEFICIO_CAMPANHA_INDICACAO,
						CD_TIPO_BENEFICIO_CAMPANHA_INDICACAO,
						VL_BENEFICIO,
						CD_MATERIAL_BENEFICIO)

						VALUES (
						@p_codigoCampanha,
						@p_codTipoProduto,
						@p_codProduto,
						@p_quantidade,
						@p_codMaterial
						)				
					
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				
				COMMIT TRANSACTION
			END	
		
		
		IF @p_descricaoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM TB_CAMPANHA_INDICACAO_BENEFICIO
				WHERE CD_CAMPANHA = @p_codigoCampanha

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
