SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_ApiConsultaPedido]  
AS  
  
	SELECT P.NM_PEDIDO "idOrder",  
	CASE P.CD_EST_SITUACAO WHEN 6 THEN 5 WHEN 7 THEN 5 WHEN 8 THEN 6 WHEN 10 THEN 7 WHEN 9 THEN 8 WHEN 101 THEN 1  
	ELSE P.CD_EST_SITUACAO END AS "status",  
	P.NM_PEDIDO_EXTERNO "externalId",  
	P.NM_CICLO_CAPTACAO "period",  
	P.NM_CICLO_APROVACAO "approvalPeriod",  
	P.NM_CICLO_PAGAMENTO "paymentPeriod",  
	P.NM_CICLO_FATURAMENTO "billingPeriod",  
	P.NM_CICLO_CANCELAMENTO "cancellationPeriod",  
	P.DT_CAPTACAO_PEDIDO "orderDate",  
	P.DT_APROVACAO_PEDIDO "orderApprovalDate",  
	P.DT_PAGAMENTO_PEDIDO "orderPaymentDate",  
	P.DT_FATURAMENTO_PEDIDO "orderBillingDate",  
	P.DT_CANCELAMENTO_PEDIDO "orderCancellationDate",  
	(SELECT SUM(PI.VL_PONTOS_LIQUIDO) FROM TB_PEDIDO_ITEM PI WITH(NOLOCK) WHERE PI.NM_PEDIDO = P.NM_PEDIDO) "orderPoints",
	H.UltimoAcesso "lastUpdateDate",  
	P.CD_PESSOA "customerId",  
	PE.CD_PESSOA_EXTERNO "customerExternalId",  
	P.CD_FUNCAO "function",  
	P.CD_PAPEL_CARREIRA "role",  
	P.CD_REGRA_COMERCIAL "ruleCode",  
	(SELECT PT.DC_POLITICA_ENTREGA FROM TB_POLITICA_ENTREGA PT WITH(NOLOCK) WHERE PT.CD_POLITICA_ENTREGA = P.CD_POLITICA_ENTREGA) "shipping.name",  
	P.VL_FRETE_TOTAL "shipping.value",  
	P.NM_DIAS_ENTREGA_REAL "shipping.deliveryDays",  
  
	ShippingAddress.zipCode       AS [shipping.address.zipCode],  
	ShippingAddress.country       AS [shipping.address.country],  
	ShippingAddress.state         AS [shipping.address.state],  
	ShippingAddress.city          AS [shipping.address.city],  
	ShippingAddress.district      AS [shipping.address.district],  
	ShippingAddress.street        AS [shipping.address.street],  
	ShippingAddress.number        AS [shipping.address.number],  
	ShippingAddress.complement    AS [shipping.address.complement],  
	ShippingAddress.reference     AS [shipping.address.reference],  
	ShippingAddress.ibgeCode      AS [shipping.address.ibgecode],  
  
	(SELECT TOP 1 ID_TIPO_CD FROM TB_CENTRO_DISTRIBUICAO CD (NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO) as cdType,  
	p.VL_SALDO_FAVOR_UTILIZADO "creditValue",  
	p.VL_MOEDA_VIRTUAL_UTILIZADO "virtualValue",  
	P.VL_BENEFICIO_CUPOM_DESCONTO "discountCoupon",  
	P.VL_DESCONTO_CUPOM_APLICADO "discountCouponValue",  
	P.CD_RV_INDICANTE "sponsorId",  
	P.CD_CENTRO_DISTRIBUICAO "distributionCenterId",  
	(SELECT CD.DC_CENTRO_DISTRIBUICAO FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO) "distributionCenterName",  
  
	NF.NM_NOTA_FISCAL         AS [invoiceNumber],  
	NF.DC_SERIE               AS [invoiceSerie],  
	NF.DT_RECEBIMENTO_NFE     AS [invoiceDate],  
	NF.DC_CHAVE_ACESSO_NFE    AS [invoiceAccessKey],  
	NF.ID_SITUACAO_NOTA_FISCAL AS [invoiceStatus],  
  
	(SELECT NFP.DC_LOCAL_LEITURA_XML + 'procNFe_' + CONVERT(VARCHAR(18),NF.NM_NOTA_FISCAL) + '.xml' FROM TB_NOTA_FISCAL NF WITH(NOLOCK), TB_NFE_PARAMETRO NFP WITH(NOLOCK) WHERE NFP.CD_PESSOA_EMISSOR = NF.CD_PESSOA_EMISSOR AND Nf.CD_NOTA_FISCAL = (SELECT MAX(N2.CD_NOTA_FISCAL) FROM TB_NOTA_FISCAL N2 WITH(NOLOCK) WHERE N2.ID_SITUACAO_NOTA_FISCAL > 1 AND N2.ID_TIPO_NOTA_FISCAL = 2 AND N2.NM_PEDIDO = P.NM_PEDIDO)) "invoiceXMLLink",  
	(SELECT NFP.DC_LOCAL_LEITURA_DANFE + 'danfe_' + CONVERT(VARCHAR(18),NF.NM_NOTA_FISCAL) + '.pdf' FROM TB_NOTA_FISCAL NF WITH(NOLOCK), TB_NFE_PARAMETRO NFP WITH(NOLOCK) WHERE NFP.CD_PESSOA_EMISSOR = NF.CD_PESSOA_EMISSOR AND Nf.CD_NOTA_FISCAL = (SELECT MAX(N2.CD_NOTA_FISCAL) FROM TB_NOTA_FISCAL N2 WITH(NOLOCK) WHERE N2.ID_SITUACAO_NOTA_FISCAL > 1 AND N2.ID_TIPO_NOTA_FISCAL = 2 AND N2.NM_PEDIDO = P.NM_PEDIDO)) "invoiceDANFELink",
	ULT_ATU.DT_ULTIMA_ATUALIZACAO AS lastConsolidatedUpdateDate
	FROM TB_PEDIDO P WITH(NOLOCK)  
	INNER JOIN TB_PESSOA PE WITH(NOLOCK)  
	ON P.CD_PESSOA = PE.CD_PESSOA  
	LEFT JOIN TB_PEDIDO_ULTIMA_ATUALIZACAO ULT_ATU (NOLOCK)
	ON ULT_ATU.NM_PEDIDO = P.NM_PEDIDO
	OUTER APPLY (SELECT MAX(DT_ATUALIZACAO) AS UltimoAcesso
						FROM   TB_PEDIDO_HISTORICO WITH (NOLOCK)
						WHERE  NM_PEDIDO = P.NM_PEDIDO) H
	 OUTER APPLY  
		(  
			SELECT TOP 1  
				N2.CD_NOTA_FISCAL,  
				N2.NM_NOTA_FISCAL,  
				N2.DC_SERIE,  
				N2.DT_RECEBIMENTO_NFE,  
				N2.DC_CHAVE_ACESSO_NFE,  
				N2.ID_SITUACAO_NOTA_FISCAL  
			FROM TB_NOTA_FISCAL N2 WITH(NOLOCK)  
			WHERE   
				N2.ID_SITUACAO_NOTA_FISCAL > 1  
				AND N2.ID_TIPO_NOTA_FISCAL = 2  
				AND N2.NM_PEDIDO = P.NM_PEDIDO  
			ORDER BY N2.CD_NOTA_FISCAL DESC  
		) AS NF  
	OUTER APPLY  
		(  
			SELECT TOP 1  
				E.DC_CODIGO_POSTAL         AS zipCode,  
				E.DC_ESTRUTURA_GEO1        AS country,  
				E.DC_ESTRUTURA_GEO2        AS [state],  
				E.DC_ESTRUTURA_GEO3        AS city,  
				E.DC_ESTRUTURA_GEO4        AS district,  
				E.DC_ESTRUTURA_GEO5        AS street,  
				E.DC_NUMERO                AS [number],  
				E.DC_COMPLEMENTO           AS complement,  
				E.DC_REFERENCIA            AS reference,  
				DBO.FN_BUSCA_EST_GEOGRAFICA_IBGE(E.CD_EST_GEOGRAFICA,2) AS ibgeCode  
			FROM TB_PEDIDO_ENDERECO E WITH(NOLOCK)  
			WHERE E.NM_PEDIDO = P.NM_PEDIDO  
			ORDER BY E.ID_TIPO_ENDERECO ASC  
		) AS ShippingAddress  
  
	WHERE P.ID_ORIGEM_CAPTACAO <> 4 -- EXCLUI PEDIDOS DA CARGA DE DADOS
GO
