SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaInsereCupomDesconto]
	@p_codigoPessoaCupomDesconto		numeric(18,0),
	@p_codigoPessoa						numeric(18,0),
	@p_codigoFuncao						numeric(18,0),
	@p_descricaoCodigoCupom				VARCHAR(80),
	@p_codigoTipoBeneficio				int,
	@p_valorBeneficio					numeric(18,2),
	@p_descricaoObservacao				VARCHAR(200),
	@p_numeroCicloInicial				numeric(18,0),
	@p_numeroCicloFinal					numeric(18,0),
	@p_dataInicial						date,
	@p_dataFinal						date,
	@p_codigoMotivoCupomDesconto		int,
	@p_codigoSituacaoCupomDesconto		int,
	@p_codigoUsuario					NUMERIC(18,0),
	@p_descricaoFuncao					VARCHAR(1),

	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PESSOA_CUPOM_DESCONTO (
					
					CD_PESSOA,
					CD_FUNCAO,
					DC_CODIGO_CUPOM,
					ID_TIPO_BENEFICIO_CUPOM_DESCONTO,
					VL_BENEFICIO,
					DC_OBSERVACAO,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					DT_INICIAL,
					DT_FINAL,
					ID_MOTIVO_CUPOM_DESCONTO,
					ID_SITUACAO_CUPOM_DESCONTO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO
					)
				VALUES           (
					@p_codigoPessoa,
					@p_codigoFuncao,
					@p_descricaoCodigoCupom,
					@p_codigoTipoBeneficio,
					@p_valorBeneficio,
					@p_descricaoObservacao,
					@p_numeroCicloInicial,
					@p_numeroCicloFinal,
					@p_dataInicial,
					@p_dataFinal,
					@p_codigoMotivoCupomDesconto,
					@p_codigoSituacaoCupomDesconto,
					GETDATE(),
					@p_codigoUsuario
	
				)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('[TB_PESSOA_CUPOM_DESCONTO]')
				
				COMMIT TRANSACTION
			END	
		
		IF @p_descricaoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION
				 
				UPDATE TB_PESSOA_CUPOM_DESCONTO
				SET CD_PESSOA = @p_codigoPessoa,
					CD_FUNCAO= @p_codigoFuncao,
					DC_CODIGO_CUPOM = @p_descricaoCodigoCupom,
					ID_TIPO_BENEFICIO_CUPOM_DESCONTO = @p_codigoTipoBeneficio,
					VL_BENEFICIO = @p_valorBeneficio,
					DC_OBSERVACAO = @p_descricaoObservacao,
					NM_CICLO_INICIAL = @p_numeroCicloInicial,
					NM_CICLO_FINAL = @p_numeroCicloFinal,
					DT_INICIAL = @p_dataInicial,
					DT_FINAL = @p_dataFinal,
					ID_MOTIVO_CUPOM_DESCONTO = @p_codigoMotivoCupomDesconto,
					ID_SITUACAO_CUPOM_DESCONTO = @p_codigoSituacaoCupomDesconto
				WHERE CD_PESSOA_CUPOM_DESCONTO = @p_codigoPessoaCupomDesconto 

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END


		IF @p_descricaoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM TB_PESSOA_CUPOM_DESCONTO
				WHERE CD_PESSOA_CUPOM_DESCONTO = @p_codigoPessoaCupomDesconto 

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
