SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PedidoAlteraDataEntregaReal]
	@p_numeroPedido					numeric(18, 0),
	@p_dataEntregaReal				DATE,
	
	@p_codigoUsuario				numeric(18,0),
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	

AS

DECLARE @V_CONTADOR_REGISTROS INT
DECLARE @CD_EST_SIT AS INT

DECLARE @VL_PARAMETRO INT

BEGIN TRY
	
	    SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	
		BEGIN TRANSACTION 
		
		UPDATE TB_PEDIDO
		SET DT_ENTREGA_REAL = @p_dataEntregaReal
		WHERE NM_PEDIDO = @p_numeroPedido
		
		SELECT @p_linhasAfetadas = @@ROWCOUNT
		
		COMMIT TRANSACTION
		
		-- *****************************************************
	    -- GRAVA SITUACAO 9 (FINALIZADO)
	    -- *****************************************************
        UPDATE TB_PEDIDO 
        SET CD_EST_SITUACAO = 9
		WHERE NM_PEDIDO = @p_numeroPedido
        
        
        -- *****************************************************
	    -- GRAVA HISTORICO DO PEDIDO
	    -- *****************************************************
        
        -- VERIFICA SE A SITUACAO 8 - Em transporte ou 10 - disponivel para retirada estão abertas
        SELECT @V_CONTADOR_REGISTROS = COUNT(*)
        FROM TB_PEDIDO_HISTORICO with(nolock)
		WHERE (CD_EST_SITUACAO = 8 or CD_EST_SITUACAO = 10 )
		AND NM_PEDIDO = @p_numeroPedido
		AND DT_FINAL IS NULL
		
		IF @V_CONTADOR_REGISTROS > 0 
		
		 
		SELECT @CD_EST_SIT = CD_EST_SITUACAO
        FROM TB_PEDIDO_HISTORICO with(nolock)
		WHERE (CD_EST_SITUACAO = 8 or CD_EST_SITUACAO = 10 )
		AND NM_PEDIDO = @p_numeroPedido
		AND DT_FINAL IS NULL
		
			BEGIN
				-- FECHA A SITUAÇÃO DE TRANSPORTE
				SELECT @CD_EST_SIT = CD_EST_SITUACAO FROM TB_PEDIDO_HISTORICO WITH(NOLOCK) WHERE NM_PEDIDO = @p_numeroPedido AND DT_FINAL IS NULL
				
				exec SP_GRAVA_HISTORICO_PEDIDO
					@p_numeroPedido,
					@CD_EST_SIT, 
					2, 
					0,
					'',
					@p_codigoUsuario,
					0,
					'',
					0
				
			END
		
		-- ABRE A SITUACAO DE ENTREGUE (FINALIZADO)
		exec SP_GRAVA_HISTORICO_PEDIDO
					@p_numeroPedido,
					9, 
					1, 
					0,
					'',
					@p_codigoUsuario,
					0,
					'',
					0
		
		-- FECHA A SITUAÇÃO DE ENTREGUE (FINALIZADO)
		exec SP_GRAVA_HISTORICO_PEDIDO
					@p_numeroPedido,
					9, 
					2, 
					0,
					'',
					@p_codigoUsuario,
					0,
					'',
					0

		
		-- *******************************************
		-- ENVIA EMAIL
		-- *******************************************
		EXEC pr_PedidoEnviarEmailMudancaStatus
			@p_numeroPedido,	--@p_nmPedido					NUMERIC(18,0),
			17,					--@p_cdEvento					INT,
			@p_codigoErro		OUTPUT,
			@p_descricaoErro	OUTPUT,
			@p_linhasAfetadas	OUTPUT



		-- *****************************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 12/03/2019
		-- SURGIU UM CENARIO NOVOEM ALGUNS CLIENTES
		-- A FRANQUIA FAZ PEDIDO PARA A MATRIZ E EM DETERMINADO
		-- MOMENTO É PRECISO INSERIR O ESTOQUE NA FRANQUIA
		-- ALGUNS CLIENTES VÃO IMPORTAR O XML
		-- OUTROS PREFEREM QUE O ESTOQUE SEJA INSERIDO
		-- AUTOMATICAMENTE AO FINALIZAR PEDIDO
		-- O TRECHO ABAIXO VERIFICA O PARAMETRO SE DEVEMOS OU NÃO
		-- INSERIR ESTOQUE DA FRANQUIA E EM CASO POSITIVO VAMOS EXECUTAR A PROC ABAIXO
		-- *****************************************************************************************

		SELECT @VL_PARAMETRO = VL_PARAMETRO
		FROM TB_VALOR_PARAMETRO with(nolock)
		WHERE CD_GRUPO_PARAMETRO = 3
		AND CD_PARAMETRO = 10

		IF @VL_PARAMETRO = 1 
			BEGIN

				EXEC pr_EstoqueInsereEstoqueFinalizarPedido
					@p_numeroPedido,
					@p_codigoUsuario,

					@p_codigoErro					OUTPUT,
					@p_descricaoErro				OUTPUT,
					@p_linhasAfetadas				OUTPUT


			END

		-- *****************************************************************************************
		-- FIM
		-- *****************************************************************************************
						
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
