SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_AtendimentoInsereAtendimentoHistorico]
	@p_codigoAtendimento			NUMERIC(18,0), 
	@p_situacaoAtendimento			NUMERIC(18,0) ,
	@p_codigoInicioFim			Int,
	@p_codigoUsuario			NUMERIC(18,0), 
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_codigoInicioFim = 1 
			BEGIN
				BEGIN TRANSACTION 
				INSERT INTO TB_SAC_ATENDIMENTO_HISTORICO (
					CD_SAC_ATENDIMENTO,
					CD_SAC_SOLUCAO,
					DT_INICIAL_SITUACAO_FASE,
					CD_USUARIO_CADASTRO
                                        )
								
						
				VALUES           (
					@p_codigoAtendimento,
					@p_situacaoAtendimento,
					GETDATE(),
					@p_codigoUsuario
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_SAC_ATENDIMENTO_HISTORICO')
			
				COMMIT TRANSACTION
			END	

				
		IF @p_codigoInicioFim = 2
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_SAC_ATENDIMENTO_HISTORICO
 				SET CD_USUARIO_ATUALIZACAO    = @p_codigoUsuario,
				    DT_FINAL_SITUACAO_FASE    = GETDATE()				 
				WHERE CD_SAC_ATENDIMENTO = @p_codigoAtendimento 
				AND CD_SAC_SOLUCAO = @p_SituacaoAtendimento
								
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
