SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_FiscalInsereClassificacaoFiscal]
	@CD_CODIGO numeric(18,0),
	@DC_CLASSIFICACAO_FISCAL varchar(50),
	@CD_GRUPO_IMPOSTOS_SAIDA NUMERIC(18,0),
	@CD_GRUPO_IMPOSTOS_ENTRADA NUMERIC(18,0),
	
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_CLASSIFICACAO_FISCAL NUMERIC(18,0) OUTPUT
AS

BEGIN TRY
	
	
	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_CLASSIFICACAO_FISCAL (
					DC_CLASSIFICACAO_FISCAL,CD_GRUPO_IMPOSTOS_SAIDA,CD_GRUPO_IMPOSTOS_ENTRADA,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO
					)
							
						
				VALUES           (
					@DC_CLASSIFICACAO_FISCAL,@CD_GRUPO_IMPOSTOS_SAIDA,@CD_GRUPO_IMPOSTOS_ENTRADA,GETDATE(),@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_CLASSIFICACAO_FISCAL = IDENT_CURRENT('TB_CLASSIFICACAO_FISCAL')
			
				COMMIT TRANSACTION
			END	


		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_CLASSIFICACAO_FISCAL SET
					DC_CLASSIFICACAO_FISCAL = @DC_CLASSIFICACAO_FISCAL,
					CD_GRUPO_IMPOSTOS_SAIDA = @CD_GRUPO_IMPOSTOS_SAIDA,
					CD_GRUPO_IMPOSTOS_ENTRADA = @CD_GRUPO_IMPOSTOS_ENTRADA,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO
				WHERE CD_CLASSIFICACAO_FISCAL = @CD_CODIGO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
		
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_CLASSIFICACAO_FISCAL 
					WHERE CD_CLASSIFICACAO_FISCAL = @CD_CODIGO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END		
			
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
