SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaProdutoComponentesMaterial]
AS

	SELECT P.CD_PRODUTO_VENDA_EXTERNO "code",
		   M.CD_MATERIAL_EXTERNO "material.code",
		   PC.QT_UTILIZADA "quantity",
		   PC.VL_PERCENTUAL "percent",
		   p.NM_CICLO_LANCAMENTO "realesePeriod",
		   M.DC_MATERIAL "description",
		   M.DC_EAN "EANcode",
		   M.NM_PESO_BRUTO "grossWeight",
		   M.NM_PESO_LIQUIDO "netWeight",
		   M.NM_LARGURA "width",
		   M.NM_ALTURA "height",
		   M.NM_COMPRIMENTO "lenght",
		   M.ID_MODO_AGRUPAMENTO "grouping",
		   M.QT_ITENS_PACK "quantityPack",
		   M.ID_ORIGEM_MATERIAL "origin",
		   (SELECT CF.DC_CLASSIFICACAO_FISCAL FROM TB_CLASSIFICACAO_FISCAL CF WITH(NOLOCK) WHERE CF.CD_CLASSIFICACAO_FISCAL = M.CD_CLASSIFICACAO_FISCAL) "taxClassification",
		   ISNULL(M.ID_EMBALAGEM_PROPRIA,0) "ownPackaging",
		   M.QT_ESTOQUE_MINIMO "minimumStock",
		   M.QT_ESTOQUE_SEGURANCA "safetyStock",
		   M.QT_ESTOQUE_REGULADOR "regularStock",
		   CASE M.ID_CARACTERISTICA_MATERIAL WHEN 5 THEN 4 ELSE M.ID_CARACTERISTICA_MATERIAL END "feature",
		   CASE M.ID_VALIDA_ESTOQUE WHEN 1 THEN 1 ELSE 0 END "validateStock",
		   M.NM_DIAS_ADICIONAIS_ENTREGA "additionalDays",
		   CASE M.ID_MEDIDAS_ESPECIAIS WHEN 1 THEN 1 ELSE 0 END "specialMeasure",
		   M.ID_GARANTIA "warranty",
		   M.NM_DIAS_GARANTIA "warrantyDays",
		   CASE M.ID_FABRICACAO_PROPRIA WHEN 1 THEN 1 ELSE 0 END "selfMade",
		   M.CD_FORNECEDOR "providerID",
		   M.CD_MATERIAL_FORNECEDOR "providerSkuCode"
	  FROM TB_PRODUTO_VENDA P WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK), TB_PRODUTO_VENDA_COMPONENTE PC WITH(NOLOCK)
	 WHERE P.CD_PRODUTO_VENDA = PC.CD_PRODUTO_VENDA
	   AND PC.CD_MATERIAL = M.CD_MATERIAL
GO
