SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*******************************************************************************
RETORNA TODO O HISTORICO DE HIERARQUIA COMERCIALD A ETSRUTURA COMERCIAL
USADA NA TELA DO ADM CADASTRAR HIERARQUIA COMERCIAL
*******************************************************************************/

CREATE PROCEDURE [dbo].[pr_EstruturaComercialListaHierarquia]
	@cdEstComercial       NUMERIC(18,0)
    
AS

DECLARE @cdNivelEstComercial INTEGER

BEGIN

	-- BUSCA PRIMEIRO O NIVEL DA EST. COMERCIAL
	SELECT @cdNivelEstComercial = CD_NIVEL_EST_COMERCIAL
	FROM TB_EST_COMERCIAL WITH(NOLOCK)
	WHERE CD_EST_COMERCIAL = @cdEstComercial

	-- ***********************************************************************************************************************************
	-- ANTES TINHA UM SELECT DIRETO NO FONTE EM QUE USAVA AS FUNÇÕES PARA BUSCAR A ESTRUTURA PAI
	-- ENTRETANTO ESSA FUNÇÃO NÃO POSSUI PARAMETRO DE CICLO E ESTAVA MOSTRANDO A MESMA ESTRUTURA PAI PARA TODOS OS REGISTROS
	-- PARA GARANTIR QUE FUNCIONE NÃO IREMOS MAIS USAR A FUNÇÃO
	-- ***********************************************************************************************************************************

	IF @cdNivelEstComercial = 1
		BEGIN
			SELECT	NM_CICLO_INICIO,
					0 CD_EST_COMERCIAL_PAI,
					'' DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA with(nolock)
			WHERE CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC

		END

	IF @cdNivelEstComercial = 2
		BEGIN
			SELECT	H.NM_CICLO_INICIO,
					H.CD_NIVEL_COM1 CD_EST_COMERCIAL_PAI,
					(SELECT A.DC_EST_COMERCIAL FROM TB_EST_COMERCIAL A with(nolock) WHERE A.CD_EST_COMERCIAL = H.CD_NIVEL_COM1) DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA H with(nolock)
			WHERE H.CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC

		END

	IF @cdNivelEstComercial = 3
		BEGIN
			SELECT	H.NM_CICLO_INICIO,
					H.CD_NIVEL_COM2 CD_EST_COMERCIAL_PAI,
					(SELECT A.DC_EST_COMERCIAL FROM TB_EST_COMERCIAL A with(nolock) WHERE A.CD_EST_COMERCIAL = H.CD_NIVEL_COM2) DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA H with(nolock)
			WHERE H.CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC

		END


	IF @cdNivelEstComercial = 4
		BEGIN
			SELECT	H.NM_CICLO_INICIO,
					H.CD_NIVEL_COM3 CD_EST_COMERCIAL_PAI,
					(SELECT A.DC_EST_COMERCIAL FROM TB_EST_COMERCIAL A with(nolock) WHERE A.CD_EST_COMERCIAL = H.CD_NIVEL_COM3) DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA H with(nolock)
			WHERE H.CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC
			
		END
		

	IF @cdNivelEstComercial = 5
		BEGIN
			SELECT	H.NM_CICLO_INICIO,
					H.CD_NIVEL_COM4 CD_EST_COMERCIAL_PAI,
					(SELECT A.DC_EST_COMERCIAL FROM TB_EST_COMERCIAL A with(nolock) WHERE A.CD_EST_COMERCIAL = H.CD_NIVEL_COM4) DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA H with(nolock)
			WHERE H.CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC

		END


	IF @cdNivelEstComercial = 6
		BEGIN
			SELECT	H.NM_CICLO_INICIO,
					H.CD_NIVEL_COM5 CD_EST_COMERCIAL_PAI,
					(SELECT A.DC_EST_COMERCIAL FROM TB_EST_COMERCIAL A with(nolock) WHERE A.CD_EST_COMERCIAL = H.CD_NIVEL_COM5) DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA H with(nolock)
			WHERE H.CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC

		END


	IF @cdNivelEstComercial = 7
		BEGIN
			SELECT	H.NM_CICLO_INICIO,
					H.CD_NIVEL_COM6 CD_EST_COMERCIAL_PAI,
					(SELECT A.DC_EST_COMERCIAL FROM TB_EST_COMERCIAL A with(nolock) WHERE A.CD_EST_COMERCIAL = H.CD_NIVEL_COM6) DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA H with(nolock)
			WHERE H.CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC

		END


	IF @cdNivelEstComercial = 8
		BEGIN
			SELECT	H.NM_CICLO_INICIO,
					H.CD_NIVEL_COM7 CD_EST_COMERCIAL_PAI,
					(SELECT A.DC_EST_COMERCIAL FROM TB_EST_COMERCIAL A with(nolock) WHERE A.CD_EST_COMERCIAL = H.CD_NIVEL_COM7) DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA H with(nolock)
			WHERE H.CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC

		END


	IF @cdNivelEstComercial = 9
		BEGIN
			SELECT	H.NM_CICLO_INICIO,
					H.CD_NIVEL_COM8 CD_EST_COMERCIAL_PAI,
					(SELECT A.DC_EST_COMERCIAL FROM TB_EST_COMERCIAL A with(nolock) WHERE A.CD_EST_COMERCIAL = H.CD_NIVEL_COM8) DC_EST_COMERCIAL_PAI,
					dbo.FN_BUSCA_NOME_PESSOA_FISICA(CD_PESSOA_RESPONSAVEL) DC_PESSOA_RESPONSAVEL, CD_PESSOA_RESPONSAVEL
			FROM TB_EST_COMERCIAL_HIERARQUIA H with(nolock)
			WHERE H.CD_EST_COMERCIAL = @cdEstComercial
			ORDER BY NM_CICLO_INICIO, DT_CADASTRO ASC

		END


END

GO
