SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ApiConsultaMaterialGrade]
AS

	SELECT M.CD_MATERIAL_EXTERNO "code",
		   G.CD_GRADE_PRODUTO_EXTERNO "grid.code",
		   GI.CD_GRADE_PRODUTO_ITEM_EXTERNO "grid.itemCode"
	  FROM TB_MATERIAL M WITH(NOLOCK), TB_GRADE_PRODUTO G WITH(NOLOCK), TB_GRADE_PRODUTO_ITEM GI WITH(NOLOCK), TB_MATERIAL_GRADE_PRODUTO MG WITH(NOLOCK)
	 WHERE MG.CD_MATERIAL = M.CD_MATERIAL
	   AND MG.CD_GRADE_PRODUTO = G.CD_GRADE_PRODUTO
	   AND MG.CD_GRADE_PRODUTO_ITEM = GI.CD_GRADE_PRODUTO_ITEM
	   AND G.CD_GRADE_PRODUTO = GI.CD_GRADE_PRODUTO
GO
