SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaRegraComercialPlanoPagamento]  
AS  

SELECT	PR.CD_REGRA_COMERCIAL,
		PE.CD_PLANO_PAGAMENTO [id],
		PE.ID_TIPO_PAGAMENTO [type],
		PE.DC_PLANO_PAGAMENTO [name],
		PE.ID_MEIO_PAGAMENTO [form],
		PE.ID_VERIFICA_CREDITO [CreditCheck],
		PE.PC_DESCONTO [discount],
		PE.QT_PARCELAS [installments],
		PE.QT_PARCELAS_SEM_JUROS [installmentsFree],
		PE.QT_DIAS_VENCIMENTO [dueDays],
		PE.QT_DIAS_ENTRE_PARCELAS [dueDaysInstallments]
FROM TB_PLANO_PAGAMENTO PE WITH(NOLOCK), TB_PLANO_PAGAMENTO_REGRA_COMERCIAL PR WITH(NOLOCK)
WHERE PE.CD_PLANO_PAGAMENTO = PR.CD_PLANO_PAGAMENTO
GO
