SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_RelatorioHistoricoIndicadoresEstrategicosLideranca]
		@CD_PESSOA       		NUMERIC(18,0),
		@CD_EST_COMERCIAL		NUMERIC(18,0),
		@DC_LISTA_EST_COMERCIAL		VARCHAR(3000),
        	@CD_INDICADOR_PESSOAL		NUMERIC(18,0),
		@NM_CICLO_INICIAL		NUMERIC(18,0),
        	@NM_CICLO_FINAL			NUMERIC(18,0)
		--@V_RETORNO					NVARCHAR(MAX) OUTPUT
		

	
AS


DECLARE @cols	AS NVARCHAR(MAX),
		@cols1	AS NVARCHAR(MAX),
		@query  AS NVARCHAR(MAX)


DECLARE @V_DC_NIVEL1 AS VARCHAR(20)
DECLARE @V_DC_NIVEL2 AS VARCHAR(20)
DECLARE @V_DC_NIVEL3 AS VARCHAR(20)
DECLARE @V_DC_NIVEL4 AS VARCHAR(20)
DECLARE @V_CD_PAPEL_INICIO_LIDERANCA  AS NUMERIC(18,0)


-- ************************************************************************************************
-- NESSE TRECHO VAMOS MONTAR UMA STRING COM AS COLUNAS QUE QUERMOS MOSTRAR EM NOSSO RESULTADO
-- EXEMPLO, SE O CLIENTE ESCOLHEU DE 201708 ATÉ 201710
-- ESSA QUERY RETORNA O SEGUINTE ,ISNULL(201708,0),ISNULL(201709,0),ISNULL(2017110,0)
-- OU SEJA, MONTA A STRING DAS COLUNAS DE RETORNO
-- TEMOS QUE FAZER ISSO PARA SER DINAMICOS
-- O ISNULL É IMPORTANTE POIS CASO CONTRATIO NO RESULTADO VAI MOSTRAR NULL
-- ************************************************************************************************
SELECT @cols=  COALESCE(
		(SELECT ',ISNULL(' + QUOTENAME(NM_CICLO) + ',0) AS [' + CONVERT(VARCHAR(6),NM_CICLO) + ']'
                    from TB_PESSOA_INDICADOR
					WHERE NM_CICLO >= @NM_CICLO_INICIAL
					AND NM_CICLO <= @NM_CICLO_FINAL
                    group by NM_CICLO
                    order by NM_CICLO
					FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 


-- ************************************************************************************************
-- NESSE TRECHO FAZ MAIS OU MENOS O QUE FAZ NO TRECHO ACIMA
-- ENTRETANTO ESSE TRECHO SERÁ USADO NA FUNCIONALIDADE DO PIVOT TABLE
-- E NESSA FUNCIONALIDADE TEMOS APENAS QUE MOSTRAR AS COLUNAS, SEM TER A PREOCUPAÇÃO DE TRATAR O NULO
-- ************************************************************************************************
SELECT @cols1=  COALESCE(
		(SELECT ',' + QUOTENAME(NM_CICLO)
                    from TB_PESSOA_INDICADOR
					WHERE NM_CICLO >= @NM_CICLO_INICIAL
					AND NM_CICLO <= @NM_CICLO_FINAL
                    group by NM_CICLO
                    order by NM_CICLO
					FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 


-- RETIRA O PRIMEIRO CARACTER QUE É A VIRGULA
-- SE MANTER VAI DAR ERRO NA QUERY ABAIXO
SELECT @cols = SUBSTRING(@cols, 2, LEN(@cols)-1)
SELECT @cols1 = SUBSTRING(@cols1, 2, LEN(@cols1)-1)


-- ***********************************************************************
-- COM AS COLUNAS CRIADAS VAMOS AGORA MONTAR NOSSA QUERY PIVOT
-- IMPORTANTE: COMO TEMOS O NIVEL COMO FILTRO, TEMOS QUE VERIFICAR QUAL O NIVEL
-- POIS TEREMOS QUE TRAZER OS NIVEIS ANTERIORES
-- EXEMPLO: SE O USUARIO PEDIU SETOR, TEMOS QUE TRAZER AS INFORMAÇÕES DE 
-- GERENCIA NACIONAL E GERENCIA REGIONAL
-- ***********************************************************************               


-- BUSCA DESCRIÇÃO DOS NIVEIS (ISSO PODE SER DIFERENTE POR CLIENTE)

SELECT @V_DC_NIVEL1 = DC_NIVEL_EST_COMERCIAL
FROM TB_NIVEL_EST_COMERCIAL
WHERE CD_NIVEL_EST_COMERCIAL = 1

SELECT @V_DC_NIVEL2 = DC_NIVEL_EST_COMERCIAL
FROM TB_NIVEL_EST_COMERCIAL
WHERE CD_NIVEL_EST_COMERCIAL = 2

SELECT @V_DC_NIVEL3 = DC_NIVEL_EST_COMERCIAL
FROM TB_NIVEL_EST_COMERCIAL
WHERE CD_NIVEL_EST_COMERCIAL = 3

SELECT @V_DC_NIVEL4 = DC_NIVEL_EST_COMERCIAL
FROM TB_NIVEL_EST_COMERCIAL
WHERE CD_NIVEL_EST_COMERCIAL = 4

-- BUSCA O PAPEL DE LIDERANCA
SELECT @V_CD_PAPEL_INICIO_LIDERANCA  = ISNULL(CD_PAPEL_INICIO_LIDERANCA,1000)
FROM TB_MN_REGRA_GERAL  



-- SETOR
SET @query = 'SELECT dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 1 ) [' + @V_DC_NIVEL1 + '], '
SET @query = @query + '	dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 2 ) [' + @V_DC_NIVEL2 + '], '
SET @query = @query + '	dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 3 ) [' + @V_DC_NIVEL3 + '], '
SET @query = @query + '	CD_EST_COMERCIAL [Cód. Estrutura], '

SET @query = @query + '	DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL) [Estrutura Comercial], '
SET @query = @query + '	CD_PESSOA [Cód. Liderança], '
SET @query = @query + '	[dbo].[FN_BUSCA_NOME_PESSOA](CD_PESSOA) [Liderança], '
SET @query = @query + '	DBO.FN_BUSCA_DESC_INDICADOR_PESSOAL(CD_INDICADOR_PESSOAL) [Indicador],' + @cols + ' FROM '
SET @query = @query + '	( '
SET @query = @query + '	select A.CD_EST_COMERCIAL, A.CD_PESSOA, A.NM_CICLO, B.CD_INDICADOR_PESSOAL, A.VL_INDICADOR_PESSOAL '
SET @query = @query + '	from tb_pessoa_indicador A INNER JOIN TB_INDICADOR_PESSOAL B ON B.CD_INDICADOR_PESSOAL = A.CD_INDICADOR_PESSOAL '
SET @query = @query + '	INNER JOIN TB_PESSOA_RESUMO C ON C.CD_PESSOA = A.CD_PESSOA AND C.CD_FUNCAO = A.CD_FUNCAO AND C.CD_EST_COMERCIAL = A.CD_EST_COMERCIAL '
--SET @query = @query + '	AND C.CD_PAPEL_CARREIRA >= ' + CONVERT(VARCHAR(100),@V_CD_PAPEL_INICIO_LIDERANCA) 
SET @query = @query + '	WHERE 1 = 1 AND B.ID_TIPO_INDICADOR = 4 AND B.ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO = 1 AND'

IF @CD_PESSOA <> 0
	BEGIN
		SET @query = @query + '	A.CD_PESSOA = ' + CONVERT(VARCHAR(100), @CD_PESSOA) + ' AND '
	END

IF @CD_EST_COMERCIAL <> 0
	BEGIN
		SET @query = @query + '	DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', A.CD_EST_COMERCIAL) = 1 AND '
	END


IF @DC_LISTA_EST_COMERCIAL <> '0'
	BEGIN
		SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
		SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')
		SET @query = @query + '	A.CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) AND  '

	END


IF @CD_INDICADOR_PESSOAL <> 0
	BEGIN
		SET @query = @query + '	B.CD_INDICADOR_PESSOAL = ' + CONVERT(VARCHAR(100), @CD_INDICADOR_PESSOAL) + ' AND  '
	END

SET @query = @query + '	NM_CICLO >= ' + CONVERT(VARCHAR(6), @NM_CICLO_INICIAL) + ' AND NM_CICLO <= ' + CONVERT(VARCHAR(6), @NM_CICLO_FINAL) + ') x '
SET @query = @query + '	pivot ( '
SET @query = @query + '	sum(VL_INDICADOR_PESSOAL) '



BEGIN
	SET @query = @query + '	for NM_CICLO in (' + @cols1 + ')) p ORDER BY 5,7,8'
END


EXEC(@query);
--select @query





GO
