SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ApiConsultaPessoaDadosBancarios]  
AS  
 
SELECT P.CD_PESSOA AS idCustomer,  
 ISNULL(P.ID_TIPO_PESSOA,0) "type",  
 ISNULL(P.DC_NOME,'') "name",  
 ISNULL(p.DC_DOCUMENTO,'') "documentNumber",  
 ISNULL(p.ID_TIPO_CONTA_DESTINO,0) "accountType",  
 ISNULL(p.CD_BANCO,0) "bankCode",  
 ISNULL(p.DC_AGENCIA,'') "agencyNumber",  
 ISNULL(p.DC_CONTA,'') "accountNumber",  
 ISNULL(p.DC_INSS,'') "socialSecurityNumber"  
 FROM TB_PESSOA_DADOS_BANCARIOS_PREMIACAO P with(nolock)
GO
