SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_MaterialVinculaInsumo]
	@p_codigoMaterial				numeric(18,0),
	@p_codigoMaterialInsumo			numeric(18,0),
	@p_qtdUtilizada					numeric(18,0),
	
	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoFuncao				VARCHAR(1),
		
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT	
	
AS

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				INSERT INTO TB_MATERIAL_INSUMO (
					
					CD_MATERIAL,
					CD_MATERIAL_INSUMO,
					QT_UTILIZADA
					)
									
						
				VALUES           (
					@p_codigoMaterial,
					@p_codigoMaterialInsumo,
					@p_qtdUtilizada
					)
							
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
				
		IF @p_descricaoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM TB_MATERIAL_INSUMO 
				WHERE CD_MATERIAL = @p_codigoMaterial 

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
