SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ListaMaterialPrecificacao]
	@p_idAgrupamento			int,
	@p_CdBusca					varchar(100)

AS
BEGIN
		  --CÓDIGO ID_AGRUPAMENTO = 1
		  IF @p_idAgrupamento = 1 --regular
				BEGIN
					 SELECT B.CD_MATERIAL, 
							B.CD_MATERIAL_EXTERNO + ' - ' +   B.DC_MATERIAL  [DC_MATERIAL]	
					   FROM TB_MATERIAL B WITH (NOLOCK)
					  WHERE CD_MATERIAL = @p_CdBusca
				END
		  ELSE 
		  IF @p_idAgrupamento = 2 --kit
				BEGIN
					SELECT A.CD_MATERIAL, 
						   B.DC_PRODUTO_VENDA DC_MATERIAL
					  FROM TB_PRODUTO_VENDA_COMPONENTE A WITH (NOLOCK),
						   TB_PRODUTO_VENDA B WITH (NOLOCK)
					 WHERE B.CD_PRODUTO_VENDA_EXTERNO = @p_CdBusca
					   AND A.CD_PRODUTO_VENDA = B.CD_PRODUTO_VENDA

				END
		   ELSE
		   IF @p_idAgrupamento = 3 --AGRUPAMENTO
					BEGIN
						SELECT A.CD_MATERIAL, 
							   A.CD_MATERIAL_EXTERNO + ' - ' +   A.DC_MATERIAL  [DC_MATERIAL]	
						  FROM TB_MATERIAL A WITH (NOLOCK)
  						 WHERE  A.CD_CODIGO_AGRUPADOR =  @p_CdBusca
					END
END
GO
