SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 16/05/2018
-- Description:	Esta proc tem a função de criar o nome da loja do revendedor, este nome deve ser único
-- =============================================
CREATE PROCEDURE [dbo].[pr_PessoaInsereNomeLoja]
	@p_codigoPessoa		numeric(18,0),
	@p_codigoFuncao		int,
	@p_descNomeLoja		varchar(100),
	@p_descIdentificacaoLoja	varchar(500),
	@p_descTelefoneLoja			varchar(30),
	@p_descEmailLoja			varchar(80),
	
	@p_codigoErro		numeric(18,0) output,
	@p_descricaoErro	varchar(max) output,
	@p_linhasAfetadas	int output

AS
DECLARE @v_existeLoja	int

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT @p_codigoErro = 0, @p_descricaoErro = '', @p_linhasAfetadas = 0

	-- Primeiramente vamos verificar se o nome de loja fornecido já está em uso
	SELECT @v_existeLoja = COUNT(*)
	  FROM TB_PESSOA_RESUMO
	 WHERE DC_NOME_LOJA = @p_descNomeLoja
	   AND CD_PESSOA <> @p_codigoPessoa
	
	IF @v_existeLoja <= 0
		BEGIN
			-- NOME NÃO ESTÁ EM USO PODEMOS GRAVAR
			UPDATE TB_PESSOA_RESUMO SET DC_NOME_LOJA = @p_descNomeLoja,
										DC_IDENTIFICACAO_LOJA = @p_descIdentificacaoLoja,
										DC_TELEFONE_LOJA = @p_descTelefoneLoja,
										DC_EMAIL_LOJA = @p_descEmailLoja
			 WHERE CD_PESSOA = @p_codigoPessoa 
			   AND CD_FUNCAO = @p_codigoFuncao
		END
	ELSE
		BEGIN
			-- NOME JÁ ESTÁ EM USO, NÃO IREMOS GRAVAR E DAREMOS O RETORNO NA PROC
			SELECT @p_codigoErro = 1,
				   @p_descricaoErro = 'O nome ' + @p_descNomeLoja + ' já está em uso! Por favor escolha outro nome!'
		END
END
GO
