SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PlanoPagamentoInserePlanoPagamento]
	@p_codigoPlanoPagto					NUMERIC(18,0) output,
	@p_descPlanoPagto					varchar(80),
	@p_idSituacao						int,
	@p_idMeioPagamento					int,
	@p_codigoServicoExterno				numeric(18,0),
	@p_idVerificaCredito				int,
	@p_qtdeParcelas						int,
	@p_qtdeParcelasSemJuros				int,
	@p_qtdeDiasParcelas					int,
	@p_qtdeDiasValidade					int,
	@p_qtdeDiasVencimento				int,
	@p_vlMinimoAcordo					numeric(18, 2),
	@p_vlMinimoParcela					numeric(18, 2),
	@p_vlTaxaAdministrativa				numeric(18, 2),
	@p_idTipoTaxaAdministrativa			int,
	@p_idDestacaNFTaxaAdministrativa	int,
	@p_descNomeTaxaAdministrativa		varchar(30),
	@p_idTipoPagamento					int,
	@p_percMulta						numeric(15,4),
	@p_percMoraDiaria					numeric(15,4),
	@p_idFormaProtesto					int,
	@p_nmDiasProtesto					int,
	@p_idFormaBaixaTitulo				int,
	@p_nmDiasBaixaTitulo				int,
	@p_idMeioAplicacaoPedido			int,
	@p_vlPedidoInicial					numeric(18, 2),
	@p_vlPedidoFinal					numeric(18, 2),
	@p_percDesconto						numeric(18,4),
	@p_idDisponivelLojaVirtual			int,
	@p_idDisponivelEscritorioVirtual	int,

	@p_idFormaContasReceber				int,
	@p_idAcaoAutorizacao				int,
	@p_idBaixaAutomatizada				int,
	@p_codigoEntidadeBaixaAutomatizada	numeric(18,0),
		
	@p_descInstrucoesBoleto				VARCHAR(300),
	@p_idMeioSelecaoEntidade			INT,
	@p_cdEntidadeConciliacao			INT,
	@p_codigoProviderBraspag			INT,
	@p_codigoBraspagAntiFraude			INT,

	--item comentado pelo bitrix 3777
	--@p_descConPagtoExterno				varchar(20),
	--@p_descForPagtoExterno				varchar(20),

	@p_codigoUsuario					NUMERIC(18,0),
	@p_descAcao							VARCHAR(1),
	
	@p_codigoErro						INT OUTPUT,
	@p_descErro							NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas				INT OUTPUT

AS


BEGIN TRY

	    SELECT @p_qtdeLinhasAfetadas = 0

		IF @p_descAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PLANO_PAGAMENTO (
					DC_PLANO_PAGAMENTO,
					ID_SITUACAO,
					ID_MEIO_PAGAMENTO,
					CD_SERVICO_EXTERNO,
					ID_VERIFICA_CREDITO,
					QT_PARCELAS,
					QT_PARCELAS_SEM_JUROS,
					QT_DIAS_ENTRE_PARCELAS,
					QT_DIAS_VALIDADE,
					QT_DIAS_VENCIMENTO,
					VL_MINIMO_ACORDO,
					VL_MINIMO_PARCELA,
					VL_TAXA_ADMINISTRATIVA,
					ID_TIPO_VALOR_TAXA_ADMINISTRATIVA,
					ID_DESTACA_NF_TAXA_ADMINISTRATIVA,
					DC_NOME_EXIBICAO_TAXA_ADMINISTRATIVA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					ID_TIPO_PAGAMENTO,
					PC_MULTA,
					PC_MORA_DIARIA,
					DC_INSTRUCOES_BOLETO,
					ID_FORMA_PROTESTO,
					NM_DIAS_PROTESTO,
					ID_FORMA_BAIXA_TITULO,
					NM_DIAS_BAIXA_TITULO,
					ID_MEIO_SELECAO_ENTIDADE,
					CD_ENTIDADE_CONCILIACAO,
					ID_MEIO_APLICACAO_PEDIDO,
					VL_PEDIDO_INICIAL,
					VL_PEDIDO_FINAL,
					PC_DESCONTO,
					CD_BRASPAG_PROVIDER,
					ID_DISPONIVEL_LOJA_VIRTUAL,
					ID_DISPONIVEL_ESCRITORIO_VIRTUAL,
					ID_FORMA_CONTAS_RECEBER,
					ID_ACAO_AUTORIZACAO,
					ID_BAIXA_MANUAL_AUTOMATIZADA,
					CD_ENTIDADE_BAIXA_AUTOMATIZADA,
					ID_ANTIFRAUDE_BRASPAG)
						
				VALUES           (
					@p_descPlanoPagto,
					@p_idSituacao,
					@p_idMeioPagamento,
					@p_codigoServicoExterno,
					@p_idVerificaCredito,
					@p_qtdeParcelas,
					@p_qtdeParcelasSemJuros,
					@p_qtdeDiasParcelas,
					@p_qtdeDiasValidade,
					@p_qtdeDiasVencimento,
					@p_vlMinimoAcordo,
					@p_vlMinimoParcela,
					@p_vlTaxaAdministrativa,
					@p_idTipoTaxaAdministrativa,
					@p_idDestacaNFTaxaAdministrativa,
					@p_descNomeTaxaAdministrativa,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario,
					@p_idTipoPagamento,
					@p_percMulta,
					@p_percMoraDiaria,
					@p_descInstrucoesBoleto,
					@p_idFormaProtesto,
					@p_nmDiasProtesto,
					@p_idFormaBaixaTitulo,
					@p_nmDiasBaixaTitulo,
					@p_idMeioSelecaoEntidade,
					@p_cdEntidadeConciliacao,
					@p_idMeioAplicacaoPedido,
					@p_vlPedidoInicial,
					@p_vlPedidoFinal,
					@p_percDesconto	,
					@p_codigoProviderBraspag,
					@p_idDisponivelLojaVirtual,
					@p_idDisponivelEscritorioVirtual,
					@p_idFormaContasReceber,
					@p_idAcaoAutorizacao,
					@p_idBaixaAutomatizada,
					@p_codigoEntidadeBaixaAutomatizada,
					@p_codigoBraspagAntiFraude)
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoPlanoPagto = IDENT_CURRENT('TB_PLANO_PAGAMENTO')
			
				COMMIT TRANSACTION
			END	


		IF @p_descAcao = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_PLANO_PAGAMENTO SET
					DC_PLANO_PAGAMENTO = @p_descPlanoPagto,
					ID_SITUACAO = @p_idSituacao,
					ID_MEIO_PAGAMENTO = @p_idMeioPagamento,
					CD_SERVICO_EXTERNO = @p_codigoServicoExterno,
					ID_VERIFICA_CREDITO = @p_idVerificaCredito,
					QT_PARCELAS = @p_qtdeParcelas,
					QT_PARCELAS_SEM_JUROS = @p_qtdeParcelasSemJuros,
					QT_DIAS_ENTRE_PARCELAS = @p_qtdeDiasParcelas,
					QT_DIAS_VALIDADE = @p_qtdeDiasValidade,
					QT_DIAS_VENCIMENTO = @p_qtdeDiasVencimento,
					VL_MINIMO_ACORDO = @p_vlMinimoAcordo,
					VL_MINIMO_PARCELA = @p_vlMinimoParcela,
					VL_TAXA_ADMINISTRATIVA = @p_vlTaxaAdministrativa,
					ID_TIPO_VALOR_TAXA_ADMINISTRATIVA = @p_idTipoTaxaAdministrativa,
					ID_DESTACA_NF_TAXA_ADMINISTRATIVA = @p_idDestacaNFTaxaAdministrativa,
					DC_NOME_EXIBICAO_TAXA_ADMINISTRATIVA = @p_descNomeTaxaAdministrativa,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					ID_TIPO_PAGAMENTO = @p_idTipoPagamento,
					PC_MULTA = @p_percMulta,
					PC_MORA_DIARIA = @p_percMoraDiaria,
					DC_INSTRUCOES_BOLETO = @p_descInstrucoesBoleto,
					ID_FORMA_PROTESTO = @p_idFormaProtesto,
					NM_DIAS_PROTESTO = @p_nmDiasProtesto,
					ID_FORMA_BAIXA_TITULO = @p_idFormaBaixaTitulo,
					NM_DIAS_BAIXA_TITULO =  @p_nmDiasBaixaTitulo,
					ID_MEIO_SELECAO_ENTIDADE = @p_idMeioSelecaoEntidade,
					CD_ENTIDADE_CONCILIACAO = @p_cdEntidadeConciliacao,
					ID_MEIO_APLICACAO_PEDIDO = @p_idMeioAplicacaoPedido,
					VL_PEDIDO_INICIAL = @p_vlPedidoInicial,
					VL_PEDIDO_FINAL = @p_vlPedidoFinal,
					PC_DESCONTO = @p_percDesconto,
					CD_BRASPAG_PROVIDER = @p_codigoProviderBraspag,
					ID_DISPONIVEL_LOJA_VIRTUAL = @p_idDisponivelLojaVirtual,
					ID_DISPONIVEL_ESCRITORIO_VIRTUAL = @p_idDisponivelEscritorioVirtual,
					ID_FORMA_CONTAS_RECEBER = @p_idFormaContasReceber,
					ID_ACAO_AUTORIZACAO = @p_idAcaoAutorizacao,
					ID_BAIXA_MANUAL_AUTOMATIZADA = @p_idBaixaAutomatizada,
					CD_ENTIDADE_BAIXA_AUTOMATIZADA = @p_codigoEntidadeBaixaAutomatizada,
					ID_ANTIFRAUDE_BRASPAG = @p_codigoBraspagAntiFraude
				WHERE 
					CD_PLANO_PAGAMENTO = @p_codigoPlanoPagto
				
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		IF @p_descAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_PLANO_PAGAMENTO_RECORRENCIA
				WHERE CD_PLANO_PAGAMENTO = @p_codigoPlanoPagto

				DELETE FROM TB_PLANO_PAGAMENTO_RECORRENCIA_CICLO
				WHERE CD_PLANO_PAGAMENTO = @p_codigoPlanoPagto

				DELETE FROM TB_PLANO_PAGAMENTO_REGRA_COMERCIAL
				WHERE CD_PLANO_PAGAMENTO = @p_codigoPlanoPagto

				DELETE FROM TB_PLANO_PAGAMENTO_INTEGRACAO
				WHERE CD_PLANO_PAGAMENTO = @p_codigoPlanoPagto

				DELETE FROM TB_PLANO_PAGAMENTO 
				WHERE CD_PLANO_PAGAMENTO = @p_codigoPlanoPagto

				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	

		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
