SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_ARE]
	@CD_PESSOA NUMERIC(18,0),	
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @QTD_REMUNERACAO_ABERTA			INT
DECLARE @Cursor_Pedidos_Pagos_Filhos	CURSOR
DECLARE @NM_PEDIDO						NUMERIC(18,0)


BEGIN TRY

    SELECT @QT_LINHAS_AFETADAS = 0
    
    	
			-- *************************************************
			-- CALCULA A TOPOLOGIA DE REDE
			-- *************************************************
			EXEC DBO.SP_GRAVA_COMPOSICAO_REDE 
				@CD_PESSOA,
				@CD_FUNCAO,
				@NM_CICLO,
				0,
				'',
				0		
		
			/**************************************************************
			** EXCLUIR AS LINHAS DE DETALHE DE REMUNERAÇÃO DO TIPO VENDAS
			**************************************************************/
	--		DELETE FROM TB_MN_DETALHE_REMUNERACAO
	--		WHERE CD_PESSOA = @CD_PESSOA
	--		AND CD_FUNCAO = @CD_FUNCAO
	--		AND NM_CICLO = @NM_CICLO
	--		AND ID_TIPO_PREMIACAO_MN = 2
	--		AND ID_ORIGEM_PREMIACAO_MN = 1

			/**************************************************************
			** ABRE O CURSOR COM OS PEDIDOS PAGOS
			**************************************************************/
			SET @Cursor_Pedidos_Pagos_Filhos = CURSOR FAST_FORWARD
			FOR
					
				SELECT B.NM_PEDIDO
				FROM TB_WRK_MN_TOPOLOGIA A, TB_PEDIDO B, TB_DIVIDA C
				WHERE A.CD_PESSOA = @CD_PESSOA
					AND A.NM_CICLO = @NM_CICLO
					AND A.CD_PESSOA_VINCULADA = B.CD_PESSOA
					AND A.ID_ORDEM = 2
					AND B.NM_PEDIDO = C.NM_PEDIDO
					AND C.ID_SITUACAO_PAGAMENTO = 2
					AND C.ID_SITUACAO_DIVIDA = 2

		
			OPEN @Cursor_Pedidos_Pagos_Filhos
			FETCH NEXT FROM @Cursor_Pedidos_Pagos_Filhos
			INTO @NM_PEDIDO
	

			WHILE @@FETCH_STATUS = 0
				BEGIN
				  DELETE FROM TB_MN_DETALHE_REMUNERACAO
  			      WHERE NM_ORIGEM_MN = @NM_PEDIDO
			      AND CD_FUNCAO = @CD_FUNCAO
			      AND NM_CICLO = @NM_CICLO
			      AND ID_TIPO_PREMIACAO_MN = 2
			      AND ID_ORIGEM_PREMIACAO_MN = 1


					EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_ARE
						@NM_PEDIDO,
						@VAR_RETORNO,
						@DC_ERRO,
						@QT_LINHAS_AFETADAS

					FETCH NEXT FROM @Cursor_Pedidos_Pagos_Filhos
					INTO @NM_PEDIDO
											
				END
		
				CLOSE @Cursor_Pedidos_Pagos_Filhos
				
				
		-- END
		
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   
END CATCH;


GO
