SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_EG_INDICADOR_CLIENTE_LOWELL]
				@CD_EST_GEOGRAFICA  NUMERIC(18, 0),
				@DT_FECHAMENTO      DATE,
				@CD_USUARIO         NUMERIC(18,0),
				@VAR_RETORNO        INT OUTPUT,
				@DC_ERRO            NVARCHAR(MAX) OUTPUT,
				@QT_LINHAS_AFETADAS INT OUTPUT


AS


	DECLARE @Cursor_EG			CURSOR,
		@NM_CICLO			NUMERIC(18,0),
		@CD_GEOGRAFICA			NUMERIC(18,0),
		@CD_FUNCAO			INT,
		@ID_MOMENTO_CALCULO_INDICADOR   NUMERIC(18,0),
		@CALCULA_INDICADOR  		INT,
		@EXISTE_REGISTRO    		INT

	DECLARE @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4001	NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4002	NUMERIC(18,2),
		 @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4003	NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4004	NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4005	NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4006	NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4008	NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4011	NUMERIC(18,2),
                @VL_CONTADOR                                    NUMERIC(18,2)


BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @ID_MOMENTO_CALCULO_INDICADOR = 2
	    
	    -- ************************************************************************************************
		-- CURSOR DE ESTRUTURA GEOFRAFICA
		-- VERIFICA TODOS AS ESTRUTURA GEOGRAFICAS PARA O CICLO ATUAL, CONSIDERANDO O PERIODO ESTENDIDO
		-- ********************************************************************************************
	
		IF @CD_EST_GEOGRAFICA = 0 
			BEGIN
				SET @Cursor_EG = CURSOR FAST_FORWARD
				FOR
				SELECT  DISTINCT A.NM_CICLO, C.EST_GEOGRAFICA_PESSOA, 2 AS FUNCAO
				FROM TB_CALENDARIO_COMERCIAL A with (NOLOCK),
					(SELECT [dbo].[FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL](A.CD_EST_GEOGRAFICA,3) EST_GEOGRAFICA_PESSOA
					FROM TB_PESSOA_ENDERECO A WITH (NOLOCK), 
						TB_HIST_SITUACAO_CONSULTORA B WITH (NOLOCK)
					WHERE A.CD_PESSOA      = B.CD_PESSOA
					AND A.ID_TIPO_ENDERECO = 1
					AND B.CD_SITUACAO_COMERCIAL IN (0,1,2,3,4)
					GROUP BY [dbo].[FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL](A.CD_EST_GEOGRAFICA,3)) C
				WHERE (    (CONVERT(DATE, A.DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
  	        				AND CONVERT(DATE, A.DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
					OR (CONVERT(DATE, A.DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
            					AND CONVERT(DATE, A.DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
				AND A.CD_EST_COMERCIAL in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WITH (NOLOCK) WHERE CD_FUNCAO = 2)
				UNION
				SELECT  DISTINCT A.NM_CICLO, C.EST_GEOGRAFICA_PESSOA, 2 AS FUNCAO
				FROM TB_CALENDARIO_COMERCIAL A with (NOLOCK),
					(SELECT [dbo].[FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL](A.CD_EST_GEOGRAFICA,2) EST_GEOGRAFICA_PESSOA
					FROM TB_PESSOA_ENDERECO A WITH (NOLOCK), 
						TB_HIST_SITUACAO_CONSULTORA B WITH (NOLOCK)
					WHERE A.CD_PESSOA      = B.CD_PESSOA
					AND A.ID_TIPO_ENDERECO = 1
					AND B.CD_SITUACAO_COMERCIAL IN (0,1,2,3,4)
					GROUP BY [dbo].[FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL](A.CD_EST_GEOGRAFICA,2)) C
				WHERE (    (CONVERT(DATE, A.DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
  	        				AND CONVERT(DATE, A.DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
					OR (CONVERT(DATE, A.DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
            					AND CONVERT(DATE, A.DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
				AND A.CD_EST_COMERCIAL in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WITH (NOLOCK) WHERE CD_FUNCAO = 2)
				UNION
				SELECT  DISTINCT A.NM_CICLO, C.EST_GEOGRAFICA_PESSOA, 2 AS FUNCAO
				FROM TB_CALENDARIO_COMERCIAL A with (NOLOCK),
					(SELECT [dbo].[FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL](A.CD_EST_GEOGRAFICA,1) EST_GEOGRAFICA_PESSOA
					FROM TB_PESSOA_ENDERECO A WITH (NOLOCK), 
						TB_HIST_SITUACAO_CONSULTORA B WITH (NOLOCK)
					WHERE A.CD_PESSOA      = B.CD_PESSOA
					AND A.ID_TIPO_ENDERECO = 1
					AND B.CD_SITUACAO_COMERCIAL IN (0,1,2,3,4)
					GROUP BY [dbo].[FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL](A.CD_EST_GEOGRAFICA,1)) C
				WHERE (    (CONVERT(DATE, A.DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
  	        				AND CONVERT(DATE, A.DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
					OR (CONVERT(DATE, A.DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
            					AND CONVERT(DATE, A.DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
				AND A.CD_EST_COMERCIAL in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WITH (NOLOCK) WHERE CD_FUNCAO = 2)
				ORDER BY 2 DESC,1

			END 
		ELSE
			BEGIN
				SET @Cursor_EG = CURSOR FAST_FORWARD
				FOR
				SELECT DISTINCT NM_CICLO, @CD_EST_GEOGRAFICA, 2 AS FUNCAO
				FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
				WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
					      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
					OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
					    AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
				--AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				and CD_EST_COMERCIAL in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WITH (NOLOCK) WHERE CD_FUNCAO = 2)
				ORDER BY 2,1
			END

	
				    
	    -- ABRE O CURSOR DE ESTRUTURA GEOGRAFICA
	    OPEN @Cursor_EG
		FETCH NEXT FROM @Cursor_EG
		INTO @NM_CICLO, @CD_GEOGRAFICA, @CD_FUNCAO

		WHILE @@FETCH_STATUS = 0
			BEGIN
				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS NA EST GEOGRAFICA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4001,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4001 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 502
					AND A.VL_INDICADOR_PESSOAL  = 1

			        	-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4001
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4001,
						@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4001,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0


				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4001,
						@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4001,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END			


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES ATIVOS NA EST GEOGRAFICA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4002,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4002 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 503
					AND A.VL_INDICADOR_PESSOAL  = 1
 
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4002
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4002,
						@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4002,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4002,
						@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4002,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS NA EST GEOGRAFICA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4003,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4003 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 506
					AND A.VL_INDICADOR_PESSOAL  = 1
 
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4003
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA    = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4003,
						@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4003,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4003,
						@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4003,
						@CD_USUARIO,
						'A', 
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	



				--******************************************************************************
			      	-- TOTAL DE CADASTROS NA EST GEOGRAFICA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4006,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4006 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 530
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4006
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4006,
						@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4006,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4006,
						@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4006,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS 1
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4020,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 531
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4020
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS 2
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4021,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 532
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4021
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS 3
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4022,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 533
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4022
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4022,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4022,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS 4
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4023,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 534
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4023
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE INTENÇÃO DE REVENDA CADASTRADA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4024,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 535
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4024
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE INTENÇÃO DE REVENDA CADASTRADA E INÍCIO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4025,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 536
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4025
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES ATIVOS TODO ANO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4026,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 537
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4026
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4026,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4026,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	


			/*	--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS E ATIVOS CICLO ANTERIOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4027,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 538
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4027
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END	*/

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES REINÍCIOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4028,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 539
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4028
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4028,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4028,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES DESATIVADOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4029,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 540
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4029
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4029,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4029,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4030,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 541
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4030
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o E 3o CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4031,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 542
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4031
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o, 3o E 4o CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4032,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA A  with(nolock)
					WHERE DBO.FN_EST_GEOGRAFICA(@CD_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 4032
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4032
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END



				--******************************************************************************
			      	-- ATIVIDADE (ATIVOS / CADASTROS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4033,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4006,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4002 / @VL_INDICADOR_PESSOAL_EST_GEOGRAFICA_4006)*100
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 4033
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_GEOGRAFICA     = @CD_GEOGRAFICA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_GEOGRAFICA,
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	0,
						@CD_FUNCAO,
						0,
						@NM_CICLO,
						4033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_GEOGRAFICA,
						0,
						'',
						0  
					END
				END



				FETCH NEXT FROM @Cursor_EG
				INTO @NM_CICLO, @CD_GEOGRAFICA, @CD_FUNCAO
			
				
			END


	 	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;






















GO
