SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_GradeProdutoInsereGrade]
	@p_codigoGradeProduto				numeric(18,0),
	@p_codigoGradeProdutoExterno		varchar(40),
	@p_descGradeProduto					varchar(80),
	@p_idSituacao						int,
		
	@p_codigoUsuario					NUMERIC(18,0),
	@p_idTipoFuncao						VARCHAR(1),
	
	@p_cdRetorno						INT OUTPUT,
	@p_dcErro							NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas					INT OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
		SELECT @p_cdRetorno = 0
		SELECT @p_dcErro = 0
		
		
		IF @p_idTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_GRADE_PRODUTO (
						DC_GRADE_PRODUTO,
						ID_SITUACAO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO,
						CD_GRADE_PRODUTO_EXTERNO
					)
				VALUES
					(
						@p_descGradeProduto,
						@p_idSituacao,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario,
						@p_codigoGradeProdutoExterno
						
					)

				
				COMMIT TRANSACTION

				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				SELECT @p_cdRetorno = 0
				SELECT @p_dcErro = 'Grade de Produto inserido com sucesso'
		
				
			END	
			
		IF @p_idTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 
		
				UPDATE TB_GRADE_PRODUTO SET
					DC_GRADE_PRODUTO = @p_descGradeProduto,
					ID_SITUACAO = @p_idSituacao,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					CD_GRADE_PRODUTO_EXTERNO = @p_codigoGradeProdutoExterno
				WHERE CD_GRADE_PRODUTO = @p_codigoGradeProduto 						
							
				COMMIT TRANSACTION

				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				SELECT @p_cdRetorno = 0
				SELECT @p_dcErro = 'Grade de Produto alterado com sucesso'

				
			END
		

		SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
