SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_APLICA_PLANO_CARREIRA]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CD_CLIENTE			NUMERIC(18,0)
DECLARE @CD_CALCULA_PAI		NUMERIC(18,0)
DECLARE @CD_PAI				NUMERIC(18,0)

BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
		
		-- *********************************************
		-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
		-- *********************************************
		select @CD_CLIENTE = vl_parametro 
		from TB_valor_PARAMETRO
		where CD_GRUPO_PARAMETRO = 6
		and CD_PARAMETRO = 1
		and CD_VALOR_PARAMETRO  =1
		
		-- *********************************************
		-- VERIFICA SE O SISTEMA DEVE CALCULAR PLANO DE CARREIRA DO PAI
		-- *********************************************			
		SELECT @CD_CALCULA_PAI = VL_PARAMETRO
		FROM TB_VALOR_PARAMETRO
		WHERE CD_GRUPO_PARAMETRO = 7
		AND CD_PARAMETRO = 1
		AND CD_VALOR_PARAMETRO = 1
		
		-- *********************************************
		-- BUSCA A PESSOA VINCULADA (PAI)
		-- *********************************************
		SELECT @CD_PAI = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
		FROM TB_PESSOA_VINCULO_HISTORICO
		WHERE CD_PESSOA = @CD_PESSOA
		AND NM_CICLO = @NM_CICLO
		AND CD_FUNCAO = @CD_FUNCAO
		


		-- *******************************
		-- ATS - GERAL
		-- *******************************
		if @CD_CLIENTE = 1
			BEGIN
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O FILHO - ANDERSON 20/02/2014
				-- *****************************************************************
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_ATS
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O PAI - ANDERSON 20/02/2014
				-- *****************************************************************
				
				IF @CD_CALCULA_PAI = 1 AND @CD_PAI > 0 
					BEGIN
				
						EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_ATS
							@CD_PAI,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS	output
					END
				
			END 
			
			
		-- *******************************
		-- MEGA AROMAS
		-- *******************************
		if @CD_CLIENTE = 3 
			BEGIN
--				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_MA
--					@CD_PESSOA,
--					@CD_FUNCAO,
--					@NM_CICLO,
--					@VAR_RETORNO,
--					@DC_ERRO,
--					@QT_LINHAS_AFETADAS
					
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O PAI - ANDERSON 20/02/2014
				-- *****************************************************************
				
				IF @CD_CALCULA_PAI = 1 AND @CD_PAI > 0 
					BEGIN
                      				
						EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_MA
							@CD_PAI,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS	output
					END
			END 


		-- *******************************
		-- BEAUTYWAY
		-- *******************************
		if @CD_CLIENTE = 2
			BEGIN
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_BW
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O PAI - ANDERSON 20/02/2014
				-- *****************************************************************
				
				IF @CD_CALCULA_PAI = 1 AND @CD_PAI > 0 
					BEGIN
					
						EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_BW
							@CD_PAI,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS	output
					END
			END 



		-- *******************************
		-- ARETTA
		-- *******************************
		if @CD_CLIENTE = 4
			BEGIN
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_ARE
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O PAI - ANDERSON 20/02/2014
				-- *****************************************************************
				
				IF @CD_CALCULA_PAI = 1 AND @CD_PAI > 0 
					BEGIN
					
						EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_ARE
							@CD_PAI,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS	output
					END
			END 



		-- *******************************
		-- ALIANCA
		-- *******************************
		if @CD_CLIENTE = 5
			BEGIN
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_ALI
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O PAI - ANDERSON 20/02/2014
				-- *****************************************************************
				
				IF @CD_CALCULA_PAI = 1 AND @CD_PAI > 0 
					BEGIN
					
						EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_ALI
							@CD_PAI,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS	output
					END
			END 



		-- *******************************
		-- LA LASTRA
		-- *******************************
		if @CD_CLIENTE = 6
			BEGIN
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_LAS
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O PAI - ANDERSON 20/02/2014
				-- *****************************************************************
				
				IF @CD_CALCULA_PAI = 1 AND @CD_PAI > 0 
					BEGIN
					
						EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_LAS
							@CD_PAI,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS	output
					END
			END 
			
		-- *******************************
		-- DOUX
		-- *******************************
		if @CD_CLIENTE = 7
			BEGIN
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O FILHO - ANDERSON 20/02/2014
				-- *****************************************************************
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_DO
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O PAI - ANDERSON 20/02/2014
				-- *****************************************************************
				
				IF @CD_CALCULA_PAI = 1 AND @CD_PAI > 0 
					BEGIN
				
						EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_DO
							@CD_PAI,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS	output
					END
				
			END 
		

		-- *******************************
		-- MNF
		-- *******************************
		if @CD_CLIENTE = 8
			BEGIN
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O FILHO - ANDERSON 20/02/2014
				-- *****************************************************************
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_DO
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
				
			END 



		-- *******************************
		-- NAÇÃO VERDE
		-- *******************************
		if @CD_CLIENTE = 9
			BEGIN
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA PARA O FILHO - ANDERSON 20/02/2014
				-- *****************************************************************
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_NV
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
			
			END 
			
			
		-- *******************************
		-- 5 AVENIDA
		-- *******************************
		if @CD_CLIENTE = 10
			BEGIN
				-- *****************************************************************
				-- EXECUTA A O PLANO DE CARREIRA
				-- *****************************************************************
				EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA_5A
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
					
			
			END

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
