SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_ProdutoInsereFoto]
	@p_codigoProdutoVenda numeric(18,0) =  null,
	@p_descImagem varchar(200) =  null,	
	@p_codigoProdutoVendaFoto numeric(18,0) =  null,
	@p_codigoUsuario NUMERIC(18,0) =  null,
	@p_idTipoFuncao VARCHAR(1) =  null,
	
	@p_cdRetorno INT OUTPUT,
	@p_dcErro NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
AS

BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
		
		IF @p_idTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO dbo.TB_PRODUTO_VENDA_FOTO (
					CD_PRODUTO_VENDA,					
					DC_IMAGEM,
					CD_USUARIO_ATUALIZACAO	)							
						
				VALUES           (
					@p_codigoProdutoVenda,
					@p_descImagem,
					@p_codigoUsuario
						)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END		

				
		IF @p_idTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_PRODUTO_VENDA_FOTO 
				WHERE CD_PRODUTO_VENDA_FOTO = @p_codigoProdutoVendaFoto 
							
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			

		SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
