SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_EstruturaProdutoInsereEstruturaProduto]
	@p_codigoEstruturaProduto		NUMERIC(18,0),
	@p_descEstruturaProduto			varchar(80),
	@p_idSituacao					int,
	@p_idUltimoNivel				int,
	@p_codigoEstruturaProdutoPai	NUMERIC(18,0),
	@p_idMostraLV					int,
	@p_codigoProdutoDestaque		numeric(18,0),
	@p_nmOrdem						int,
		
	@p_codigoUsuario				NUMERIC(18,0),
	@p_dcAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas			INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT

AS


DECLARE @p_codigoNivelEstProduto AS INT
DECLARE @p_codigoNivelEstProdutoPai AS INT

DECLARE @p_codigoNivelEstProdutoAtual AS INT
DECLARE @p_idUltimoNivelAtual AS INT

DECLARE @p_qtdeValidacao AS INT

-- VARIAVEIS DA ARVORE DO PAI
DECLARE @p_codigoNivelEstProduto1 AS NUMERIC(18,0)
DECLARE @p_codigoNivelEstProduto2 AS NUMERIC(18,0)
DECLARE @p_codigoNivelEstProduto3 AS NUMERIC(18,0)
DECLARE @p_codigoNivelEstProduto4 AS NUMERIC(18,0)
DECLARE @p_codigoNivelEstProduto5 AS NUMERIC(18,0)
DECLARE @p_codigoNivelEstProduto6 AS NUMERIC(18,0)
DECLARE @p_codigoNivelEstProduto7 AS NUMERIC(18,0)
DECLARE @p_codigoNivelEstProduto8 AS NUMERIC(18,0)
DECLARE @p_codigoNivelEstProduto9 AS NUMERIC(18,0)

BEGIN TRY
	
	    SELECT @p_qtdeLinhasAfetadas = 0
	    SELECT @p_codigoErro = 0
		SELECT @p_descErro = ''
	    
		-- ************************************************************
	    -- DEVEMOS DEFINIR O NIVEL DA ESTRUTURA DE PRODUTO
	    -- ************************************************************
	    
	    IF @p_codigoEstruturaProdutoPai = 0 -- SE A ESTRUTURA PAI FOR ZERO ENTÃO ESTAMOS CADASTRANDO UMA EST DE NIVEL 1
			BEGIN
				SELECT @p_codigoNivelEstProduto = 1
			END
		ELSE
			BEGIN
				-- BUSCA O NIVEL DO PAI
				SELECT @p_codigoNivelEstProdutoPai = CD_NIVEL_EST_PRODUTO
				FROM TB_EST_PRODUTO
				WHERE CD_EST_PRODUTO = @p_codigoEstruturaProdutoPai
				
				IF @p_codigoNivelEstProdutoPai = 8 -- SE FOR 8 ENTÃO O QUE ESTAMOS CADASTRANDO SERÁ O 9
					BEGIN
						SELECT @p_codigoNivelEstProduto = 9
					END
				ELSE --PEGA O PROXIMO
					BEGIN
						SELECT @p_codigoNivelEstProduto = MIN(CD_NIVEL_EST_PRODUTO)
						FROM TB_NIVEL_EST_PRODUTO
						WHERE CD_NIVEL_EST_PRODUTO > @p_codigoNivelEstProdutoPai
					
					END
			
			END
	    
	    
	    -- *************************************************************************
	    -- PRIMEIRA VALIDAÇÃO - O PAI INFORMADO NÃO PODE SER DE ULTIMO NIVEL
	    -- *************************************************************************
	    IF @p_codigoEstruturaProdutoPai <> 0
			BEGIN
				
				SELECT @p_qtdeValidacao = COUNT(*)
				FROM TB_EST_PRODUTO
				WHERE CD_EST_PRODUTO = @p_codigoEstruturaProdutoPai
				AND ID_ULTIMO_NIVEL = 1
				
				IF @p_qtdeValidacao > 0 
					BEGIN
					
						SELECT @p_codigoErro = 1
						SELECT @p_descErro = 'A Estrutura pai não poderá ser de último nível'
						RETURN
					
					END
				
			END
			
			
	    
	    -- *************************************************************************
	    -- SEGUNDA VALIDAÇÃO - SÓ PODEMOS ALTERAR O NIVEL DE UMA ESTRUTURA SENDO QUE NAO TENHA OUTRAS ABAIXO
	    -- *************************************************************************
	    
	    -- BUSCA O NIVEL ATUAL DA ESTRUTURA 
	    IF @p_codigoEstruturaProduto <> 0
			BEGIN
			
				SELECT @p_codigoNivelEstProdutoAtual = CD_NIVEL_EST_PRODUTO
				FROM TB_EST_PRODUTO
				WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
				
				IF @p_codigoNivelEstProdutoAtual <> @p_codigoNivelEstProduto
					BEGIN
						
						-- VERIFICA SE EXISTEM ESTRUTURAS ABAIXO DA EST QUE QUEREMOS EDITAR O NIVEL
						SELECT @p_qtdeValidacao = 0
						
						IF @p_codigoNivelEstProdutoAtual = 1
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO1 = @p_codigoEstruturaProduto 
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END
						
						IF @p_codigoNivelEstProdutoAtual = 2
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO2 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END
						
						
						IF @p_codigoNivelEstProdutoAtual = 3
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO3 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
							
							
						IF @p_codigoNivelEstProdutoAtual = 4
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO4 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
							
						
						IF @p_codigoNivelEstProdutoAtual = 5
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO5 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
						
						
						IF @p_codigoNivelEstProdutoAtual = 6
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO6 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
							
						
						IF @p_codigoNivelEstProdutoAtual = 7
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO7 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
							
						
						IF @p_codigoNivelEstProdutoAtual = 8
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO8 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
					
						
						IF @p_codigoNivelEstProdutoAtual = 9
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO9 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
						
						
						IF @p_qtdeValidacao <> 0 
							BEGIN					
								SELECT @p_codigoErro = 1
								SELECT @p_descErro = 'Não é possível alterar o nível de uma estrutura quando existem outras estruturas abaixo'
								RETURN
							END
					END
			END
	    
		 
		 
		-- **********************************************************************************
	    -- TERCEIRA VALIDAÇÃO - SÓ PODEMOS COLOCAR ULTIMO NIVEL CASO NAO TENHA OUTRAS ABAIXO
	    -- **********************************************************************************
	    
	    -- BUSCA O NIVEL ATUAL DA ESTRUTURA 
	    IF @p_codigoEstruturaProduto <> 0
			BEGIN
			
				SELECT @p_idUltimoNivelAtual = ID_ULTIMO_NIVEL
				FROM TB_EST_PRODUTO
				WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
				
				IF @p_idUltimoNivelAtual <> @p_idUltimoNivel
					BEGIN
						
						-- VERIFICA SE EXISTEM ESTRUTURAS ABAIXO DA EST QUE QUEREMOS EDITAR O NIVEL
						SELECT @p_qtdeValidacao = 0
						
						IF @p_codigoNivelEstProdutoAtual = 1
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO1 = @p_codigoEstruturaProduto 
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END
						
						IF @p_codigoNivelEstProdutoAtual = 2
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO2 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END
						
						
						IF @p_codigoNivelEstProdutoAtual = 3
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO3 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
							
							
						IF @p_codigoNivelEstProdutoAtual = 4
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO4 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
							
						
						IF @p_codigoNivelEstProdutoAtual = 5
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO5 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
						
						
						IF @p_codigoNivelEstProdutoAtual = 6
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO6 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
							
						
						IF @p_codigoNivelEstProdutoAtual = 7
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO7 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
							
						
						IF @p_codigoNivelEstProdutoAtual = 8
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO8 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
					
						
						IF @p_codigoNivelEstProdutoAtual = 9
							BEGIN
								SELECT @p_qtdeValidacao = COUNT(*) FROM TB_EST_PRODUTO
								WHERE CD_NIVEL_PRO9 = @p_codigoEstruturaProduto
								AND CD_EST_PRODUTO <> @p_codigoEstruturaProduto -- O PROPRIO CODIGO SERÁ DESPREZADO
							END	
						
						
						IF @p_qtdeValidacao <> 0 
							BEGIN					
								SELECT @p_codigoErro = 1
								SELECT @p_descErro = 'Não é possível colocar uma estrutura como último nível quando existem outras estruturas abaixo'
								RETURN
							END
					END
			END    
	    
	    
	     
		-- **********************************************************************************
	    -- QUARTA VALIDAÇÃO - SÓ PODEMOS TIRAR O ITEM ULTIMO NIVEL QUANDO NÃO HOUVER PRODUTOS
	    -- **********************************************************************************
	    
	    -- BUSCA O NIVEL ATUAL DA ESTRUTURA 
	    IF @p_codigoEstruturaProduto <> 0
			BEGIN
			
				SELECT @p_idUltimoNivelAtual = ID_ULTIMO_NIVEL
				FROM TB_EST_PRODUTO
				WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
				
				IF @p_idUltimoNivelAtual <> @p_idUltimoNivel
					BEGIN
						
						SELECT @p_qtdeValidacao = 0
						
						SELECT @p_qtdeValidacao = COUNT(*)
						FROM TB_PRODUTO_VENDA_ESTRUTURA
						WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
						
						IF @p_qtdeValidacao <> 0 
							BEGIN					
								SELECT @p_codigoErro = 1
								SELECT @p_descErro = 'Não é possível retirar essa estrutura de último nível pois existem produtos associados a ela'
								RETURN
							END
					END
			END    
	    
	    
	    
		IF @p_dcAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_EST_PRODUTO (
					DC_EST_PRODUTO,
					ID_ATIVO,
					CD_NIVEL_EST_PRODUTO,
					ID_ULTIMO_NIVEL,
					ID_MOSTRA_LV,
					NM_ORDEM_LV,
					CD_PRODUTO_VENDA_DESTAQUE,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
										
						
				VALUES           (
					@p_descEstruturaProduto,
					--*******************************************************
					--	CORREÇÃO DE ERRO: @p_idSituacao NÃO ESTAVA DECLARADO
					--	ALTERADO POR PEDRO TOMAZ EM 06/11/2018
					--*******************************************************
					@p_idSituacao,
					@p_codigoNivelEstProduto,
					@p_idUltimoNivel,
					@p_idMostraLV,
					@p_nmOrdem,
					@p_codigoProdutoDestaque,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario
						)
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_EST_PRODUTO')
				
				
				-- ************************************************************
				-- AGORA VAMOS MAPEAR A ARVORE
				-- ************************************************************
				
				IF @p_codigoNivelEstProduto = 1 -- SÓ VAMOS FAZER ISSO SE O NIVEL É DIFERENTE DE 1 (NIVEL 1 NÃO POSSUI ARVORE)
					BEGIN
						UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO1 = @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
					END
				
				ELSE
					
					BEGIN
						
						-- VAMOS PEGAR A ARVORE DO PAI
						SELECT	@p_codigoNivelEstProduto1 = CD_NIVEL_PRO1,
								@p_codigoNivelEstProduto2 = CD_NIVEL_PRO2,
								@p_codigoNivelEstProduto3 = CD_NIVEL_PRO3,
								@p_codigoNivelEstProduto4 = CD_NIVEL_PRO4,
								@p_codigoNivelEstProduto5 = CD_NIVEL_PRO5,
								@p_codigoNivelEstProduto6 = CD_NIVEL_PRO6,
								@p_codigoNivelEstProduto7 = CD_NIVEL_PRO7,
								@p_codigoNivelEstProduto8 = CD_NIVEL_PRO8,
								@p_codigoNivelEstProduto9 = CD_NIVEL_PRO9
						FROM TB_EST_PRODUTO 
						WHERE CD_EST_PRODUTO = @p_codigoEstruturaProdutoPai
						
						
						UPDATE TB_EST_PRODUTO 
						SET	CD_NIVEL_PRO1 = @p_codigoNivelEstProduto1,
							CD_NIVEL_PRO2 = @p_codigoNivelEstProduto2,
							CD_NIVEL_PRO3 = @p_codigoNivelEstProduto3,
							CD_NIVEL_PRO4 = @p_codigoNivelEstProduto4,
							CD_NIVEL_PRO5 = @p_codigoNivelEstProduto5,
							CD_NIVEL_PRO6 = @p_codigoNivelEstProduto6,
							CD_NIVEL_PRO7 = @p_codigoNivelEstProduto7,
							CD_NIVEL_PRO8 = @p_codigoNivelEstProduto8,
							CD_NIVEL_PRO9 = @p_codigoNivelEstProduto9
						WHERE CD_EST_PRODUTO = @p_codigoGerado
						
						
						-- ATUALIZA O NIVEL DA ESTRUTURA
						IF @p_codigoNivelEstProduto = 2
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO2 =  @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
							END
						
						IF @p_codigoNivelEstProduto = 3
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO3 = @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
							END
						
						IF @p_codigoNivelEstProduto = 4
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO4 = @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
							END
							
						IF @p_codigoNivelEstProduto = 5
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO5 = @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
							END
						
						IF @p_codigoNivelEstProduto = 6
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO6 = @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
							END
										
						IF @p_codigoNivelEstProduto = 7
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO7 = @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
							END
							
						IF @p_codigoNivelEstProduto = 8
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO8 = @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
							END
						
						IF @p_codigoNivelEstProduto = 9
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO9 = @p_codigoGerado WHERE CD_EST_PRODUTO = @p_codigoGerado
							END
					
					END
	    
				 
				COMMIT TRANSACTION
			END
	
	
		
		IF @p_dcAcao = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_EST_PRODUTO
				SET DC_EST_PRODUTO = @p_descEstruturaProduto,
					ID_ATIVO = @p_idSituacao,
					CD_NIVEL_EST_PRODUTO = @p_codigoNivelEstProduto,
					ID_ULTIMO_NIVEL = @p_idUltimoNivel,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					ID_MOSTRA_LV = @p_idMostraLV,
					NM_ORDEM_LV = @p_nmOrdem,
					CD_PRODUTO_VENDA_DESTAQUE = @p_codigoProdutoDestaque
				WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
								
				
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
				
				-- ************************************************************
				-- AGORA VAMOS MAPEAR A ARVORE
				-- ************************************************************
				
				IF @p_codigoNivelEstProduto = 1 -- SÓ VAMOS FAZER ISSO SE O NIVEL É DIFERENTE DE 1 (NIVEL 1 NÃO POSSUI ARVORE)
					BEGIN
						UPDATE TB_EST_PRODUTO
						SET	CD_NIVEL_PRO1 = NULL,
						    CD_NIVEL_PRO2 = NULL,
							CD_NIVEL_PRO3 = NULL,
							CD_NIVEL_PRO4 = NULL,
							CD_NIVEL_PRO5 = NULL,
							CD_NIVEL_PRO6 = NULL,
							CD_NIVEL_PRO7 = NULL,
							CD_NIVEL_PRO8 = NULL,
							CD_NIVEL_PRO9 = NULL
						WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
					
						UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO1 = @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
					END
				
				ELSE
					
					BEGIN
						
						-- VAMOS PEGAR A ARVORE DO PAI
						SELECT	@p_codigoNivelEstProduto1 = CD_NIVEL_PRO1,
								@p_codigoNivelEstProduto2 = CD_NIVEL_PRO2,
								@p_codigoNivelEstProduto3 = CD_NIVEL_PRO3,
								@p_codigoNivelEstProduto4 = CD_NIVEL_PRO4,
								@p_codigoNivelEstProduto5 = CD_NIVEL_PRO5,
								@p_codigoNivelEstProduto6 = CD_NIVEL_PRO6,
								@p_codigoNivelEstProduto7 = CD_NIVEL_PRO7,
								@p_codigoNivelEstProduto8 = CD_NIVEL_PRO8,
								@p_codigoNivelEstProduto9 = CD_NIVEL_PRO9
						FROM TB_EST_PRODUTO 
						WHERE CD_EST_PRODUTO = @p_codigoEstruturaProdutoPai
						
						
						UPDATE TB_EST_PRODUTO 
						SET	CD_NIVEL_PRO1 = @p_codigoNivelEstProduto1,
						    CD_NIVEL_PRO2 = @p_codigoNivelEstProduto2,
							CD_NIVEL_PRO3 = @p_codigoNivelEstProduto3,
							CD_NIVEL_PRO4 = @p_codigoNivelEstProduto4,
							CD_NIVEL_PRO5 = @p_codigoNivelEstProduto5,
							CD_NIVEL_PRO6 = @p_codigoNivelEstProduto6,
							CD_NIVEL_PRO7 = @p_codigoNivelEstProduto7,
							CD_NIVEL_PRO8 = @p_codigoNivelEstProduto8,
							CD_NIVEL_PRO9 = @p_codigoNivelEstProduto9
						WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
						
						
						-- ATUALIZA O NIVEL DA ESTRUTURA
						IF @p_codigoNivelEstProduto = 2
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO2 =  @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
							END
						
						IF @p_codigoNivelEstProduto = 3
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO3 = @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
							END
						
						IF @p_codigoNivelEstProduto = 4
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO4 = @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
							END
							
						IF @p_codigoNivelEstProduto = 5
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO5 = @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
							END
						
						IF @p_codigoNivelEstProduto = 6
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO6 = @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
							END
										
						IF @p_codigoNivelEstProduto = 7
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO7 = @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
							END
							
						IF @p_codigoNivelEstProduto = 8
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO8 = @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
							END
						
						IF @p_codigoNivelEstProduto = 9
							BEGIN
								UPDATE TB_EST_PRODUTO SET CD_NIVEL_PRO9 = @p_codigoEstruturaProduto WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
							END
					
					END
				
				COMMIT TRANSACTION
			END	
		
		
		
		IF @p_dcAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_EST_PRODUTO
				WHERE CD_EST_PRODUTO = @p_codigoEstruturaProduto
				
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END
				

		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @VAR_RETORNO, 1)
END CATCH;
GO
