SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNPessoaAtualizaAtivacaoLucratividadeAkmos]
    @VAR_RETORNO INT OUTPUT,
     @DC_ERRO NVARCHAR(MAX) OUTPUT,
     @QT_LINHAS_AFETADAS INT OUTPUT


AS
DECLARE   @CURSOR_PESSOA   CURSOR,
	  @CD_PESSOA                 NUMERIC(18,0),
	  @CD_FUNCAO                 NUMERIC(18,0),
	  @NM_CICLO_ATUAL            NUMERIC(18,0),
	  @CD_EST_COMERCIAL          NUMERIC(18,0),
	  @CD_PAPEL_CARREIRA         NUMERIC(18,0),
	  @CD_PAPEL_DESEMPENHO       NUMERIC(18,0),
          @ID_MOVIMENTO_LUCRATIVIDADE INT,
	  @VL_INDICADOR_PESSOAL_1028 NUMERIC(18,0),
	  @TIPO_TABELA               INT

BEGIN TRY
  SELECT @VAR_RETORNO = 0
  SELECT @DC_ERRO = ''
  SELECT @QT_LINHAS_AFETADAS = 0
  

  -- ATUALIZA A SITUACAO DE ATIVACAO MMN E LUCRATIVIDADE
  SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
  FOR SELECT 1, A.CD_PESSOA, A.CD_FUNCAO, A.NM_CICLO_ATUAL, A.CD_EST_COMERCIAL, 1
      FROM TB_PESSOA_RESUMO A,TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO B, 
          (SELECT CD_PESSOA PESSOA, CD_FUNCAO FUNCAO, MAX(CD_PESSOA_PONTO_HISTORICO) PONTO_HISTORICO
	   FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO  
	   GROUP BY CD_PESSOA,CD_FUNCAO) C
      WHERE A.CD_PESSOA                 = C.PESSOA
      AND   A.CD_FUNCAO                 = C.FUNCAO
      AND   B.CD_PESSOA_PONTO_HISTORICO = C.PONTO_HISTORICO
      AND   A.CD_PESSOA     = B.CD_PESSOA
      AND   A.CD_FUNCAO     = B.CD_FUNCAO
      AND   B.DT_EXPIRACAO <=  GETDATE()
      AND   B.DT_EXPIRACAO >= DATEADD (hour,1,GETDATE())
      UNION ALL
      SELECT 2, A.CD_PESSOA, A.CD_FUNCAO, A.NM_CICLO_ATUAL, A.CD_EST_COMERCIAL, B.ID_MOVIMENTO_LUCRATIVIDADE
      FROM TB_PESSOA_RESUMO A,TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE B, 
          (SELECT CD_PESSOA PESSOA, CD_FUNCAO FUNCAO, MAX(CD_PESSOA_PONTO_HISTORICO) PONTO_HISTORICO
	   FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE 
	   GROUP BY CD_PESSOA,CD_FUNCAO) C
      WHERE A.CD_PESSOA                 = C.PESSOA
      AND   A.CD_FUNCAO                 = C.FUNCAO
      AND   B.CD_PESSOA_PONTO_HISTORICO = C.PONTO_HISTORICO
      AND   A.CD_PESSOA     = B.CD_PESSOA
      AND   A.CD_FUNCAO     = B.CD_FUNCAO
      AND   B.DT_EXPIRACAO <=  GETDATE()
      AND   B.DT_EXPIRACAO >= DATEADD (hour,1,GETDATE())
      ORDER BY  1, 2
   
  OPEN @CURSOR_PESSOA
  FETCH NEXT FROM @CURSOR_PESSOA
  INTO @TIPO_TABELA, @CD_PESSOA, @CD_FUNCAO, @NM_CICLO_ATUAL,@CD_EST_COMERCIAL, @ID_MOVIMENTO_LUCRATIVIDADE 
	      
  WHILE @@FETCH_STATUS = 0
  BEGIN 

    -- CALCULA O INDICADOR DE ATIVACAO
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
				 @CD_PESSOA,
				 @CD_FUNCAO,
				 @CD_EST_COMERCIAL,
				 @NM_CICLO_ATUAL,
				 9,    --@ID_EVENTO
				 1,    --@ID_TIPO_ATUALIZACAO
				 2,    --@ID_MOMENTO_CALCULO_INDICADOR
				 0,
				 0 ,
				 '',
				 0

    -- VERIFICA SE A PESSOA REGREDIU DE LUCRATIVIDADE OU SE MANTER POIS A DATA NA LUCRATIVIDADE ATUAL EXPIROU
    -- TIPO DE TABELA = LUCRATIVIDADE
    IF (@TIPO_TABELA = 2)  -- LUCRATIVIADE
    BEGIN
      -- BUSCA O INDICADOR 1028 ATUALIZADO
      SELECT @VL_INDICADOR_PESSOAL_1028 = ISNULL(MAX(VL_INDICADOR_PESSOAL), 1000)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1028
      AND NM_CICLO             = @NM_CICLO_ATUAL
      AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
      IF (@VL_INDICADOR_PESSOAL_1028 <= @ID_MOVIMENTO_LUCRATIVIDADE)
      BEGIN
	  INSERT INTO TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE (
                  CD_PESSOA,  CD_FUNCAO,   NM_PEDIDO,VL_MOVIMENTO,DT_MOVIMENTO,DT_EXPIRACAO,              ID_MOVIMENTO_LUCRATIVIDADE, DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
           VALUES (@CD_PESSOA, @CD_FUNCAO, 0,        0,           GETDATE(),   DATEADD (day,28,GETDATE()),@VL_INDICADOR_PESSOAL_1028,GETDATE(),0,GETDATE(),0)

      END
 
    END
    FETCH NEXT FROM @CURSOR_PESSOA
    INTO @TIPO_TABELA, @CD_PESSOA, @CD_FUNCAO, @NM_CICLO_ATUAL,@CD_EST_COMERCIAL, @ID_MOVIMENTO_LUCRATIVIDADE 

  END
  CLOSE       @CURSOR_PESSOA
  DEALLOCATE  @CURSOR_PESSOA

 
  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  COMMIT TRANSACTION
		
  SELECT @DC_ERRO = 0

		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO  = 1
      SELECT @DC_ERRO  = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
