SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiProdutoInsereProdutoVendaComponente]
	@p_codigoProduto	VARCHAR(100),
	@p_codigoMaterial	VARCHAR(100),
	@p_qtdeUtilizada	INT,
	@p_percComponente	NUMERIC(18,2),
	
	@p_descAcao			VARCHAR(1), 
	@p_codigoUsuario	NUMERIC(18,0),

	@p_codigoErro		INT OUTPUT,
	@p_descErro			VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas	INT OUTPUT
AS
DECLARE @v_codigoMaterial	NUMERIC(18,0),
		@v_codigoProduto	NUMERIC(18,0)

BEGIN TRY
	
	    SELECT @p_codigoErro = 0,
			   @p_descErro = '',
			   @p_qtLinhasAfetadas = 0
		
		-- busca o código interno do material
		SELECT @v_codigoMaterial = MIN(CD_MATERIAL)
			FROM TB_MATERIAL WITH(NOLOCK)
			WHERE CD_MATERIAL_EXTERNO = RTRIM(LTRIM(@p_codigoMaterial))

		IF @v_codigoMaterial = 0
			BEGIN
				SELECT @p_codigoErro = 1
				SELECT @p_descErro = 'Material informado não encontrado'

				RETURN
			END

		-- busca o código interno do produto
		SELECT @v_codigoProduto = MIN(CD_PRODUTO_VENDA)
			FROM TB_PRODUTO_VENDA WITH(NOLOCK)
			WHERE CD_PRODUTO_VENDA_EXTERNO = RTRIM(LTRIM(@p_codigoProduto))

		IF @v_codigoProduto = 0
			BEGIN
				SELECT @p_codigoErro = 1
				SELECT @p_descErro = 'Produto informado não encontrado'

				RETURN
			END

		IF @p_descAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO TB_PRODUTO_VENDA_COMPONENTE (
					CD_PRODUTO_VENDA,
					CD_MATERIAL,
					QT_UTILIZADA,
					VL_PERCENTUAL)
				VALUES           (
					@v_codigoProduto,
					@v_codigoMaterial,
					@p_qtdeUtilizada,
					@p_percComponente)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	

		IF @p_descAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_PRODUTO_VENDA_COMPONENTE 
				WHERE CD_PRODUTO_VENDA = @v_codigoProduto 
							
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
				
			END	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
