SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_MINUTA_COLETA]
	@CD_CODIGO					NUMERIC(18,0),
	@CD_TRANSPORTADORA			numeric(18, 0),
	@ID_SITUACAO_MINUTA			INT,
	@CD_USUARIO					NUMERIC(18,0),
	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_MINUTA_COLETA NUMERIC(18,0) OUTPUT

AS


DECLARE @QTD_REGISTROS AS INTEGER

BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	    
	    -- **************************************************************************
	    -- VERIFICA SE EXISTE UMA MINUTA ABERTA PARA ESSA MESMA TRANSPORTADORA
	    -- **************************************************************************
	    IF @ID_SITUACAO_MINUTA = 1 --ABERTO - ESTAMOS ABRINDO A MINUTA ENTAO VAMOS INSERIR
			BEGIN
				SELECT @QTD_REGISTROS = COUNT(*)
				FROM TB_MINUTA_COLETA
				WHERE CD_TRANSPORTADORA = @CD_TRANSPORTADORA
				AND ID_SITUACAO_MINUTA_COLETA = 1 -- ABERTA
	    
				IF @QTD_REGISTROS > 0 
					BEGIN
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'Já existe uma Minuta aberta para essa Transportadora'
						RETURN
					END
	    	
			END
			
	    
		-- **************************************************************************
	    -- SÓ PERMITE FECHAR MINUAR PARA MINUTAS ABERTAS
	    -- **************************************************************************
	    IF @ID_SITUACAO_MINUTA = 2 --FECHADA
			BEGIN
				
				SELECT @QTD_REGISTROS = COUNT(*)
				FROM TB_MINUTA_COLETA
				WHERE CD_MINUTA_COLETA = @CD_CODIGO
				AND ID_SITUACAO_MINUTA_COLETA = 1 -- ABERTA
				
				IF @QTD_REGISTROS = 0 
					BEGIN
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'A Minuta informada não esta aberta'
						RETURN
					END
				
			END
	    
	    
		IF @ID_SITUACAO_MINUTA = 1 --ABERTO - ESTAMOS ABRINDO A MINUTA ENTAO VAMOS INSERIR
			BEGIN
			
				BEGIN TRANSACTION 

				INSERT INTO TB_MINUTA_COLETA (
					CD_TRANSPORTADORA,
					ID_SITUACAO_MINUTA_COLETA,
					DT_ABERTURA_MINUTA_COLETA,
					CD_USUARIO_CADASTRO)
				VALUES (
					@CD_TRANSPORTADORA,
					@ID_SITUACAO_MINUTA,
					GETDATE(),
					@CD_USUARIO)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_MINUTA_COLETA = IDENT_CURRENT('TB_MINUTA_COLETA')
			
				COMMIT TRANSACTION
			END	
			
			
		IF @ID_SITUACAO_MINUTA = 2 --fechado
			BEGIN
			
				BEGIN TRANSACTION 
				
				UPDATE TB_MINUTA_COLETA
				SET ID_SITUACAO_MINUTA_COLETA = 2,
					DT_FECHAMENTO_MINUTA_COLETA = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO
				WHERE CD_MINUTA_COLETA = @CD_CODIGO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	

		SELECT @CD_ERRO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
