SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_IncorporarInsereCargaItemIncorporarItem]
	@p_codigoCargaItemIncorporarItem	NUMERIC(18,0),
	@p_codigoCargaItemIncorporar		NUMERIC(18,0),
	@p_numeroLinha						INT,
	@p_idOrigemItemIncorporar			INT,
	@p_codigoOrigemItemIncorporar		NUMERIC(18,0),
	@p_idSituacaotemIncorporar			INT,
	@p_codigoPessoa						NUMERIC(18,0),
	@p_codigoFuncao						NUMERIC(18,0),
	@p_codigoProdutoVenda				VARCHAR(200),
	@p_qtdIncorporar					INT,
	@p_idCobrado						INT,
	@p_codigoPessoaIndicada				NUMERIC(18,0),
	@p_numeroPedidoOrigem				NUMERIC(18,0),
	@p_descMotivo						VARCHAR(2000),
	@p_idSituacaoCargaItem				INT,
	@p_descErroProcessamento			VARCHAR(MAX),
	@p_codigoItemIncorporar				NUMERIC(18,0),

	@p_codigoUsuario					NUMERIC(18,0),
	@p_descricaoTipoFuncao				VARCHAR(1),
	
	@p_codigoErro						INT OUTPUT,
	@p_descricaoErro					VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas					INT OUTPUT

AS

BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	    		
	IF @p_descricaoTipoFuncao = 'I'
		BEGIN
			BEGIN TRANSACTION 

			INSERT INTO TB_CARGA_ITEM_INCORPORAR_ITEM (
					CD_CARGA_ITEM_INCORPORAR,
					NM_LINHA,
					ID_ORIGEM_ITEM_INCORPORAR,
					CD_ORIGEM_ITEM_INCORPORAR,
					ID_SITUACAO_ITEM_INCORPORAR,
					CD_PESSOA,
					CD_FUNCAO,
					CD_PRODUTO_VENDA,
					QT_INCORPORAR,
					ID_COBRADO,
					CD_PESSOA_INDICADA,
					NM_PEDIDO_ORIGEM,
					DC_MOTIVO,
					ID_SITUACAO_CARGA_ITEM,
					DC_MOTIVO_ERRO_CARGA_ITEM,
					DT_PROCESSAMENTO )
						
			VALUES ( @p_codigoCargaItemIncorporar,
				@p_numeroLinha,
				@p_idOrigemItemIncorporar,
				@p_codigoOrigemItemIncorporar,
				@p_idSituacaotemIncorporar,
				@p_codigoPessoa,
				@p_codigoFuncao,
				@p_codigoProdutoVenda,
				@p_qtdIncorporar,
				@p_idCobrado,
				@p_codigoPessoaIndicada,
				@p_numeroPedidoOrigem,
				@p_descMotivo,
				@p_idSituacaoCargaItem,
				'Em processamento',
				GETDATE() )
		
			SELECT @p_linhasAfetadas = @@ROWCOUNT
		
			COMMIT TRANSACTION
		END	
		
	IF @p_descricaoTipoFuncao = 'A'
		BEGIN
			UPDATE TB_CARGA_ITEM_INCORPORAR_ITEM
			   SET NM_LINHA = @p_numeroLinha,
				   ID_ORIGEM_ITEM_INCORPORAR = @p_idOrigemItemIncorporar,
				   CD_ORIGEM_ITEM_INCORPORAR = @p_codigoOrigemItemIncorporar,
				   ID_SITUACAO_ITEM_INCORPORAR = @p_idSituacaotemIncorporar,
				   CD_PESSOA = @p_codigoPessoa,
				   CD_PRODUTO_VENDA = @p_codigoProdutoVenda,
				   ID_COBRADO = @p_idCobrado,
				   QT_INCORPORAR = @p_qtdIncorporar,
				   CD_FUNCAO = @p_codigoFuncao,
				   CD_PESSOA_INDICADA = @p_codigoPessoaIndicada,
				   NM_PEDIDO_ORIGEM = @p_numeroPedidoOrigem,
				   DC_MOTIVO = @p_descMotivo,
				   ID_SITUACAO_CARGA_ITEM = @p_idSituacaoCargaItem,
				   DC_MOTIVO_ERRO_CARGA_ITEM = @p_descErroProcessamento,
				   DT_PROCESSAMENTO = GETDATE(),
				   CD_ITEM_INCORPORAR_GERADO = @p_codigoItemIncorporar
			 WHERE CD_CARGA_ITEM_INCORPORAR = @p_codigoCargaItemIncorporar
			   AND CD_CARGA_ITEM_INCORPORAR_ITEM = @p_codigoCargaItemIncorporarItem

		END

	IF @p_descricaoTipoFuncao = 'E'
		BEGIN
			DELETE FROM TB_CARGA_ITEM_INCORPORAR_ITEM
			 WHERE CD_CARGA_ITEM_INCORPORAR = @p_codigoCargaItemIncorporar
			   AND CD_CARGA_ITEM_INCORPORAR_ITEM = @p_codigoCargaItemIncorporarItem
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
