SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_CMC]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO
ID_Evento = 7 - FIM DIA = BONIFICAÇÃO (PESSOAL)
ID_Evento = 8 - FIM DIA = BONIFICAÇÃO (GERAL)
*************************************************************************/

DECLARE	@EXISTE_REGISTRO                NUMERIC(18,0),
        @VL_CONTADOR                    NUMERIC(18,0),
        @VL_LIQUIDO_TOTAL               NUMERIC(18,2),
        @VL_LIQUIDO_BONUS               NUMERIC(18,2),
        @VL_PESSOA_BONUS                NUMERIC(18,2),
        @CD_PAPEL_PESSOA                NUMERIC(18,0),
        @CALCULA_INDICADOR		INT,
        @QT_COTAS_PESSOA                NUMERIC(18,0),
        @QT_COTAS_TOTAL                 NUMERIC(18,0),
        @NM_CICLO_TRIMESTRE             NUMERIC(18,0),
        @PC_PESSOA_COTAS_TOTAL          NUMERIC(18,2)

	

BEGIN TRY
  


    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN


      --******************************************************************************
      -- GRAVA INDICADOR DE "Carteirinha valida"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = COUNT(DISTINCT A.CD_PESSOA)
        FROM TB_PESSOA_PLANO_ASSINATURA  A,
		(SELECT CASE WHEN (CONVERT(date, getdate()) > CONVERT(DATE,DT_FINAL)) THEN CONVERT(DATE,DT_FINAL)
                        ELSE CONVERT(date, getdate()) END DATA_FINAL
                 FROM TB_CALENDARIO_COMERCIAL
                 WHERE NM_CICLO       = @NM_CICLO
                 AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL) B
        WHERE A.CD_PESSOA = @CD_PESSOA
        AND   A.ID_SITUACAO_PESSOA_PLANO_ASSINATURA = 2
	AND B.DATA_FINAL BETWEEN CONVERT(DATE, DT_VIGENCIA_INICIAL) AND CONVERT(DATE, DT_VIGENCIA_FINAL)
          
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1001,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1001,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
        END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Comprou o kit inicio consultor"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = CASE  WHEN (COUNT(*) = 0)  THEN 0  ELSE 1   END
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_PESSOA              = @CD_PESSOA
	AND A.CD_FUNCAO                = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
	AND A.NM_PEDIDO                = B.NM_PEDIDO
	AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
	AND B.CD_PRODUTO_VENDA         = 6 -- DEFINIR O CODIGO DO KIT INICIO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR ,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de consumidores novos"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = COUNT(*)
        FROM TB_PESSOA_PLANO_ASSINATURA  A, TB_CALENDARIO_COMERCIAL B,
            (SELECT CD_PESSOA_VINCULADA  AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA 
             WHERE CD_PESSOA               = @CD_PESSOA
             AND   CD_FUNCAO               = @CD_FUNCAO
             AND   ID_ORDEM                = 2 -- DESCENDENTE
             AND   NM_CICLO                = @NM_CICLO
             AND   ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
             AND   NM_NIVEL                = 1) B1  -- NIVEL 1
        WHERE A.CD_PESSOA                           = B1.PESSOA
        AND   B.NM_CICLO                            = @NM_CICLO
        AND   B.CD_EST_COMERCIAL                    = @CD_EST_COMERCIAL      
        AND   A.ID_SITUACAO_PESSOA_PLANO_ASSINATURA = 2         
        AND   CONVERT(DATE, A.DT_VIGENCIA_INICIAL) BETWEEN CONVERT(DATE,B.DT_INICIAL) AND CONVERT(DATE,B.DT_FINAL)
       
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de consultores diretos novos"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT  @VL_CONTADOR = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA               = @CD_PESSOA
             AND   B1.CD_FUNCAO               = @CD_FUNCAO
             AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
             AND   B1.NM_CICLO                = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL                = 1 ) C   -- DIRETOS
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1002
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 
        


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END




      --******************************************************************************
      -- GRAVA INDICADOR DE "Consultor ativo MMN"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	-- VERIFICA SE A PESSOA ESTA ATIVA MMN
	SELECT @VL_CONTADOR  = dbo.FN_BUSCA_SITUACAO_ATIVA_MMN (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Total de consultores diretos ativos"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT  @VL_CONTADOR = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA               = @CD_PESSOA
             AND   B1.CD_FUNCAO               = @CD_FUNCAO
             AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
             AND   B1.NM_CICLO                = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL                = 1 ) C   -- DIRETOS
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1005
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1006
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de consultores diretos bronze"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_QUALIFICADOS_CMC (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 3)  -- BRONZE

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1007,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1007,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de consultores diretos prata"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_QUALIFICADOS_CMC (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 4)  -- PRATA

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1008
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1008,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1008,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END


     --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de consultores diretos ouro"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_QUALIFICADOS_CMC (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 5)  -- OURO

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1009
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1009,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1009,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Possui consultores diamante"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR =  CASE WHEN (isnull(COUNT(A.CD_PESSOA),0) > 0)  THEN 1 ELSE 0  END 
        FROM TB_PESSOA_RESUMO A,
            (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B
             WHERE B.CD_PESSOA               = @CD_PESSOA
             AND   B.CD_FUNCAO               = @CD_FUNCAO
             AND   B.ID_ORDEM                = 2 -- DESCENDENTE
             AND   B.NM_CICLO                = @NM_CICLO
             AND   B.ID_TIPO_REDE_MN         = 1) B  
        WHERE (A.CD_PESSOA            = B.PESSOA or A.CD_PESSOA = @CD_PESSOA)
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.CD_PAPEL_DESEMPENHO  >= 8  -- diamante
        AND   A.CD_SITUACAO_COMERCIAL < 4  -- NAO CESSADAS

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1010,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1010,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de consultores diamante"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR =  isnull(COUNT(A.CD_PESSOA),0) 
        FROM TB_PESSOA_RESUMO A,
            (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B
             WHERE B.CD_PESSOA               = @CD_PESSOA
             AND   B.CD_FUNCAO               = @CD_FUNCAO
             AND   B.ID_ORDEM                = 2 -- DESCENDENTE
             AND   B.NM_CICLO                = @NM_CICLO
             AND   B.ID_TIPO_REDE_MN         = 1) B  
        WHERE (A.CD_PESSOA            = B.PESSOA or A.CD_PESSOA = @CD_PESSOA)
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.CD_PAPEL_DESEMPENHO  >= 8  -- diamante
        AND   A.CD_SITUACAO_COMERCIAL < 4  -- NAO CESSADAS

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1011
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1011,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1011,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de consultores diamante em pernas diferentes"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT  @VL_CONTADOR = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA               = @CD_PESSOA
             AND   B1.CD_FUNCAO               = @CD_FUNCAO
             AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
             AND   B1.NM_CICLO                = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL                = 1 ) C   -- DIRETOS
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1010
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1012
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1012,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1012,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de carteirinhas vendidas - rede"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = isnull(SUM(B.QT_RESERVADA),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
            (SELECT @CD_PESSOA AS PESSOA
             UNION
             SELECT B1.CD_PESSOA_VINCULADA  AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA               = @CD_PESSOA
             AND   B1.CD_FUNCAO               = @CD_FUNCAO
             AND   B1.ID_ORDEM                = 2 -- DESCENDENTE
             AND   B1.NM_CICLO                = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN         = 1 ) C   -- DIRETOS
	WHERE A.CD_PESSOA              = C.PESSOA
	AND A.CD_FUNCAO                = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
	AND A.NM_PEDIDO                = B.NM_PEDIDO
	AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
	AND B.CD_PRODUTO_VENDA         <> 6 -- DEFINIR O CODIGO DO KIT INICIO

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1013
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1013,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1013,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Comprou o kit inicio consultor"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1022,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = CASE  WHEN (COUNT(*) = 0)  THEN 0  ELSE 1   END
	FROM TB_PESSOA_INDICADOR A
	WHERE A.CD_PESSOA           = @CD_PESSOA
	AND A.CD_FUNCAO             = @CD_FUNCAO
	AND A.CD_INDICADOR_PESSOAL  = 1002
	AND A.NM_CICLO             <= @NM_CICLO
	AND A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND A.VL_INDICADOR_PESSOAL  > 0
       
 
        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1022
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1022,
					@VL_CONTADOR,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1022,
					@VL_CONTADOR,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Regride a Consumidor"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1023,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	-- VERIFICA SE A PESSOA ESTA ATIVA MMN
	SELECT @VL_CONTADOR  = dbo.FN_BUSCA_REGREDIR_CONSUMIDOR_MMN (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1023
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END






    END -- fim EVENTO = 6



    IF (@ID_EVENTO = 7) -- FIM DIA = BONIFICAÇÃO (PESSOAL)
    BEGIN

      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de cotas ciclo - pessoal"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN	
        -- busca o papel da pessoa no ciclo 
	SELECT @CD_PAPEL_PESSOA = dbo.FN_BUSCA_PAPEL_MMN (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO)
   
        SELECT @QT_COTAS_PESSOA = 0
        IF (@CD_PAPEL_PESSOA = 8) -- DIAMANTE
        BEGIN
          SELECT @QT_COTAS_PESSOA = 1
        END
        IF (@CD_PAPEL_PESSOA = 9) -- DUPLO DIAMANTE
        BEGIN
          SELECT @QT_COTAS_PESSOA = 2
        END
        IF (@CD_PAPEL_PESSOA = 10) -- DUPLO DIAMANTE CONSELHEIRO
        BEGIN
          SELECT @QT_COTAS_PESSOA = 4
        END

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1014,
					@QT_COTAS_PESSOA,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1014,
					@QT_COTAS_PESSOA,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de cotas acumuladas - pessoal"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN	
        -- busca o ciclo do trimestre 
	SELECT @NM_CICLO_TRIMESTRE = CASE WHEN ((CONVERT(NUMERIC(18,0),SUBSTRING (CONVERT(VARCHAR, @NM_CICLO),5,2)) % 3) = 0) THEN 3
                                                ELSE
                                                (CONVERT(NUMERIC(18,0),SUBSTRING (CONVERT(VARCHAR, @NM_CICLO),5,2)) % 3)
                                          END
        SELECT @QT_COTAS_PESSOA = 0
	SELECT @QT_COTAS_PESSOA = isnull(SUM(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO             BETWEEN DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @NM_CICLO_TRIMESTRE) AND @NM_CICLO 
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL



        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1015
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1015,
					@QT_COTAS_PESSOA,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1015,
					@QT_COTAS_PESSOA,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	END
      END

      -- IDENTIFICA SE E O CICLO FINAL DO TRIMESTRE E A PESSOA TEM COTAS ACUMULADAS
      IF (@NM_CICLO_TRIMESTRE = 3   AND   @QT_COTAS_PESSOA > 0)
      BEGIN

        --******************************************************************************
        -- GRAVA INDICADOR  DE "Identifica o ciclo do trimestre"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR)
        IF @CALCULA_INDICADOR = 1
        BEGIN	
          --VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1016
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
  	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
		 			@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1016,
					@NM_CICLO_TRIMESTRE,
					@CD_USUARIO,
					'I',
					0,
					'',
	 				0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1016,
					@NM_CICLO_TRIMESTRE,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	  END
        END        
      END -- fim (@NM_CICLO_TRIMESTRE = 3   AND   @QT_COTAS > 0)

    END -- fim EVENTO = 7


    IF (@ID_EVENTO = 8) -- FIM DIA = BONIFICAÇÃO (GERAL)
    BEGIN
      -- verifica se a pessoa tem direito ao BÔNUS LIDERANÇA
       SELECT  @NM_CICLO_TRIMESTRE  = isnull(SUM(VL_INDICADOR_PESSOAL),0)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @CD_PESSOA
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 1016
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

      IF (@NM_CICLO_TRIMESTRE = 3)
      BEGIN

        --******************************************************************************
        -- GRAVA INDICADOR  DE "Total de cotas acumuladas geral"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1017,@ID_MOMENTO_CALCULO_INDICADOR)
        IF @CALCULA_INDICADOR = 1
        BEGIN	
          SELECT @QT_COTAS_TOTAL = 0
	  SELECT @QT_COTAS_TOTAL = isnull(SUM(VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1015    -- soma o total de cotas geral do trimestre
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

          --VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1017
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
  	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
		 			@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1017,
					@QT_COTAS_TOTAL,
					@CD_USUARIO,
					'I',
					0,
					'',
	 				0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1017,
					@QT_COTAS_TOTAL,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	  END
        END        


        --******************************************************************************
        -- GRAVA INDICADOR  DE "Percentual sobre as cotas geral - pessoal"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1018,@ID_MOMENTO_CALCULO_INDICADOR)
        IF @CALCULA_INDICADOR = 1
        BEGIN	

          -- busca o total de cotas acumuladas da pessoa
          SELECT  @QT_COTAS_PESSOA  = isnull(SUM(VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR
          WHERE CD_PESSOA          = @CD_PESSOA
          AND CD_FUNCAO            = @CD_FUNCAO
          AND CD_INDICADOR_PESSOAL = 1015
          AND NM_CICLO             = @NM_CICLO
          AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL


          SELECT @PC_PESSOA_COTAS_TOTAL = 0
	  SELECT @PC_PESSOA_COTAS_TOTAL = (@QT_COTAS_PESSOA / @QT_COTAS_TOTAL) * 100

          --VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1018
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
  	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
		 			@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1018,
					@PC_PESSOA_COTAS_TOTAL,
					@CD_USUARIO,
					'I',
					0,
					'',
	 				0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1018,
					@PC_PESSOA_COTAS_TOTAL,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	  END
        END      


        --******************************************************************************
        -- GRAVA INDICADOR  DE "Valor faturamento acumulado"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1019,@ID_MOMENTO_CALCULO_INDICADOR)
        IF @CALCULA_INDICADOR = 1
        BEGIN	
--          SELECT @VL_LIQUIDO_TOTAL = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
--  	  FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
--	  WHERE A.CD_FUNCAO              = @CD_FUNCAO		
--	  AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
--	  AND A.NM_CICLO_FATURAMENTO       BETWEEN DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @NM_CICLO_TRIMESTRE) AND @NM_CICLO
--	  AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
--	  AND A.NM_PEDIDO                = B.NM_PEDIDO
--	  AND B.ID_GERA_BONUS            = 1 -- GERA GRADUACAO O PRODUTO
--	  AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
--	  AND B.CD_PRODUTO_VENDA        <> 6 -- DEFINIR O CODIGO DO KIT INICIO

          SELECT @VL_LIQUIDO_TOTAL = isnull(SUM(NFI.VL_TOTAL - (ISNULL(NFI.VL_ICMS,0) + ISNULL(NFI.VL_ICMS_ST,0) + ISNULL(NFI.VL_PIS,0) + ISNULL(NFI.VL_COFINS,0) ) ),0)  
  	  FROM TB_PEDIDO A, TB_PEDIDO_ITEM B, TB_NOTA_FISCAL_ITEM NFI, TB_NOTA_FISCAL NF
	  WHERE A.CD_FUNCAO              = @CD_FUNCAO		
	  AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	  AND A.NM_CICLO_FATURAMENTO       BETWEEN DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, @NM_CICLO_TRIMESTRE) AND @NM_CICLO
	  AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
	  AND A.NM_PEDIDO                = B.NM_PEDIDO
	  AND B.ID_GERA_BONUS            = 1 -- GERA GRADUACAO O PRODUTO
	  AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	
	  AND B.CD_PRODUTO_VENDA        <> 6 -- DEFINIR O CODIGO DO KIT INICIO
	  --AND A.VL_PAGAR_TOTAL > 0 --INICIALMENTE TEMOS QUE TIRAR OS PEDIDOS COM VALOR A PAGAR 0 QUE SÃO ORIGINADOS POR SAC, TEMOS UMA PENDÊNCIA AQUI POIS EM JANEIRO TEREMOS PEDIDOS COM UTILIZAÇÃO DE SALDO A FAVOR, É PRECISO CRIAR UMA REGRA COMERCIAL PARA ATENDER OS CHAMADOS DE SAC
	  AND NF.CD_NOTA_FISCAL = NFI.CD_NOTA_FISCAL
	  AND NF.NM_PEDIDO = A.NM_PEDIDO
	  AND NF.ID_TIPO_NOTA_FISCAL     = 2
	  AND NF.ID_SITUACAO_NOTA_FISCAL = 2

          --VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1019
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
  	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
		 			@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1019,
					@VL_LIQUIDO_TOTAL,
					@CD_USUARIO,
					'I',
					0,
					'',
	 				0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1019,
					@VL_LIQUIDO_TOTAL,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	  END
        END      



        --******************************************************************************
        -- GRAVA INDICADOR  DE "Valor bônus liderança geral"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1020,@ID_MOMENTO_CALCULO_INDICADOR)
        IF @CALCULA_INDICADOR = 1
        BEGIN	

          SELECT @VL_LIQUIDO_BONUS  = (2 / 100) *  @VL_LIQUIDO_TOTAL 

          --VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1020
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
  	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
		 			@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1020,
					@VL_LIQUIDO_BONUS,
					@CD_USUARIO,
					'I',
					0,
					'',
	 				0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1020,
					@VL_LIQUIDO_BONUS,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	  END
        END    

        --******************************************************************************
        -- GRAVA INDICADOR  DE "Valor do bônus liderança - pessoal"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1021,@ID_MOMENTO_CALCULO_INDICADOR)
        IF @CALCULA_INDICADOR = 1
        BEGIN	
          SELECT @VL_PESSOA_BONUS   = (@PC_PESSOA_COTAS_TOTAL/ 100) * @VL_LIQUIDO_BONUS

          --VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1021
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
  	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
		 			@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1021,
					@VL_PESSOA_BONUS,
					@CD_USUARIO,
					'I',
					0,
					'',
	 				0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR @CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					1021,
					@VL_PESSOA_BONUS,
					@CD_USUARIO,
					'A',
					0,
					'',
					0  
	  END
        END    

      END --fim (@NM_CICLO_TRIMESTRE = 3)

    END -- fim EVENTO = 8

    SELECT @VAR_RETORNO = 0	
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
