SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 30/06/2020
-- Description:	Procedure que acerta o estoque empenhado dos materiais,zera os empenhos negativos e acerta os que estejam diferentes
-- paleativa até que seja criada um processo mais robusto que faça a auditoria do estoque
-- =============================================
CREATE PROCEDURE [dbo].[pr_MaterialAcertaEstoqueEmpenhadoPhyto]
AS

DECLARE @CURSOR_ESTOQUE         CURSOR,
		@CD_CENTRO				NUMERIC(18,0),
		@CD_MATERIAL			NUMERIC(18,0),
		@QT_EMPENHO				NUMERIC(18,0)

BEGIN
 
  -- ZERAR OS EMPENHOS NEGATIVOS
  UPDATE TB_ESTOQUE SET QT_ESTOQUE_EMPENHADO = 0 WHERE QT_ESTOQUE_EMPENHADO < 0

  SET @CURSOR_estoque = CURSOR FAST_FORWARD
  FOR
		select c.cd,c.material, sum(c.qtd_empenhada)--, e.QT_ESTOQUE_EMPENHADO, E.QT_ESTOQUE_DISPONIVEL
		from (
		SELECT  pd.CD_CENTRO_DISTRIBUICAO cd,
				M.CD_MATERIAL material,
				SUM(pdi.QT_RESERVADA) QTD_EMPENHADA
			FROM TB_PEDIDO pd with(nolock), 
				TB_PEDIDO_ITEM pdi with(nolock),
				TB_MATERIAL M with(nolock)
			 WHERE pd.NM_PEDIDO = pdi.NM_PEDIDO 
			 AND pdi.CD_MATERIAL = m.CD_MATERIAL
			 AND pd.CD_EST_SITUACAO IN (1,101,100,99,2,4) 
			 and pd.ID_MOVIMENTA_ESTOQUE = 1 
			 group by pd.CD_CENTRO_DISTRIBUICAO,
				 M.CD_MATERIAL
		union
		SELECT  pd.CD_CENTRO_DISTRIBUICAO cd,
				M.CD_MATERIAL material,
				SUM(pdi.QT_RESERVADA) QTD_EMPENHADA
			FROM TB_PEDIDO pd with(nolock), 
				TB_PEDIDO_ITEM_promocao pdi with(nolock), 
				TB_MATERIAL M with(nolock)
			 WHERE pd.NM_PEDIDO = pdi.NM_PEDIDO 
			 AND pdi.CD_MATERIAL = m.CD_MATERIAL
			 AND pd.CD_EST_SITUACAO IN (1,101,100,99,2,4) 
			 and pd.ID_MOVIMENTA_ESTOQUE = 1
			 -- NAO RETIRAR A LINHA ABAIXO POIS CASO CONTRARIO O SISTEMA VAI DOBRAR OS EMPENHOS NO CASO DE PRODUTOS 
			 -- QUE TIVERAM PROMOÇÃO DE DESCONTO
			 AND PDI.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --brinde
			 group by pd.CD_CENTRO_DISTRIBUICAO,
				 M.CD_MATERIAL ) c, TB_ESTOQUE e
				 where c.cd = e.cd_centro_distribuicao and c.material = e.cd_material
				 AND C.QTD_EMPENHADA <> E.QT_ESTOQUE_EMPENHADO
				-- AND C.material = 730
			group by c.cd,c.material, e.QT_ESTOQUE_EMPENHADO, E.QT_ESTOQUE_DISPONIVEL
			 ORDER BY 2
                                 
  OPEN @CURSOR_ESTOQUE 
  FETCH NEXT FROM @CURSOR_ESTOQUE 
  INTO 	@CD_CENTRO,@CD_MATERIAL, @QT_EMPENHO
    
  WHILE @@FETCH_STATUS = 0
  BEGIN

        -- ALTERA O ESTOQUE
		begin transaction
		UPDATE TB_ESTOQUE
  		SET QT_ESTOQUE_EMPENHADO = @QT_EMPENHO
  		WHERE CD_MATERIAL          = @CD_MATERIAL
  		AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO
		commit transaction

	FETCH NEXT FROM @CURSOR_ESTOQUE 
	INTO 	@CD_CENTRO,@CD_MATERIAL, @QT_EMPENHO

  END

END
GO
