SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaGeraSituacaoComercial]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoFuncao					int,
	@p_codigoEstruturaComercial		numeric(18,0),
	@p_numeroCiclo					numeric(18,0),
	@p_codigoEvento					int, 
	@p_codigoUsuario				numeric(18,0),
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output
	
AS

/******************************************************************************************
-- p_codigoEvento
-- 1 - alocação de rede / 2 - aprovação de pedido / 3 - cancelamento / 4 - fechar campanha
******************************************************************************************/
--*********************
-- Novo evento por Diego Zilioti em 11/05/2018
-- 5 - Alocação no meio do ciclo
--*********************

DECLARE @v_codigoSitComercialPessoa					int,
		@v_codigoSitComercialDetalhePessoa			int,
		@v_qtdRegistros								int,
		@v_valorParametro							int,
		@v_numeroCicloAnterior						numeric(18,0),
		@v_codigoSitComercialPessoaAnterior			int,
		@v_codigoSitComercialDetalhePessoaAnterior	int,
        @v_cont_parametro_7_17						int,
		@v_codigoSitComercialAtualPessoa			int,
		@v_codigoSitCadastroPessoa					int,
		@v_existeCicloSeguinte						int,
		@v_cursorCicloSeguinte						cursor,
		@v_cicloSeguinte							NUMERIC(18,0),
		@v_descUsuario								VARCHAR(18),
		@v_enviaFilaAPI								INT
			
BEGIN TRY
	

	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
		
	-- ***********************************************************
	-- VERIFICA SE A SITUAÇÃO COMERCIAL DEVE SER CALCULADA DE FORMA AUTOMATICA 
	-- OU MANUAL
	-- ***********************************************************
	SELECT @v_valorParametro = VL_PARAMETRO
	FROM tb_valor_parametro with (NOLOCK)
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 2
	AND CD_VALOR_PARAMETRO = 1
	
	
	IF @p_codigoEvento = 1 -- ALOCACAO DE REDE
		
		-- ******************************************************
		-- COMO A ALOCAÇÃO DE REDE ATRIBUI A PRIMEIRA SITUAÇÃO
		-- ENTÃO NÃO DEVEMOS VERIFICAR O PARAMETRO SE GERA MANUAL 
		-- OU AUTOMATICAMENTE A SITUAÇÃO COMERCIAL DA PESSOA
		-- ******************************************************
		
		BEGIN
		
			SELECT @v_codigoSitComercialPessoa = 0
			SELECT @v_codigoSitComercialDetalhePessoa = 0
				
			-- **********************************************************************
			-- Alteração por Diego Zilioti em 20/07/2021 - Atividade Bitrix #2659
			-- Vamos verificar a situação atual da pessoa e se ela está aprovada
			-- **********************************************************************
			SELECT @v_codigoSitComercialAtualPessoa	= ISNULL(CD_SITUACAO_COMERCIAL,0),
				   @v_codigoSitCadastroPessoa = P.CD_SITUACAO_CADASTRO
			  FROM TB_PESSOA_RESUMO PR WITH(NOLOCK), TB_PESSOA P WITH(NOLOCK)
			 WHERE PR.CD_PESSOA = @p_codigoPessoa
			   AND PR.CD_FUNCAO = @p_codigoFuncao
			   AND P.CD_PESSOA = PR.CD_PESSOA

			IF @v_codigoSitComercialAtualPessoa = 99 AND @v_codigoSitCadastroPessoa = 3
				BEGIN

					-- ************************************
					-- ALTERAR A TABELA TB_PESSOA_RESUMO
					-- ************************************
					BEGIN TRANSACTION
						UPDATE TB_PESSOA_RESUMO set CD_EST_COMERCIAL = @p_codigoEstruturaComercial,
								NM_CICLO_ATUAL = @p_numeroCiclo
						WHERE CD_PESSOA  = @p_codigoPessoa and cd_funcao = @p_codigoFuncao
			
						-- ************************************
						-- ALTERAR A TABELA TB_PESSOA -- NOVA PARA ATENDER CLOROFITUM FRANQUIAS (ALDIR -> 23/01/2019)
						-- ************************************
						UPDATE TB_PESSOA set CD_ESTRUTURA_COMERCIAL = @p_codigoEstruturaComercial
						WHERE CD_PESSOA  = @p_codigoPessoa 
					COMMIT TRANSACTION
				END
			ELSE
				BEGIN
					-- ************************************
					-- GRAVAR HISTORICO DA REVENDEDORA
					-- ************************************
					IF (@p_codigoFuncao = 2) -- somente CN
						BEGIN
							EXEC pr_PessoaInsereHistoricoConsultora
									@p_codigoPessoa,
									@v_codigoSitComercialPessoa,
									@v_codigoSitComercialDetalhePessoa,
									@p_numeroCiclo,
									@p_codigoEstruturaComercial,
									@p_codigoUsuario,
									@p_codigoErro		output,
									@p_descricaoErro	output,
									@p_linhasAfetadas	output
						END
			
					-- ************************************
					-- ALTERAR A TABELA TB_PESSOA_RESUMO
					-- ************************************
					BEGIN TRANSACTION
						UPDATE TB_PESSOA_RESUMO set CD_EST_COMERCIAL = @p_codigoEstruturaComercial,
							CD_SITUACAO_COMERCIAL = @v_codigoSitComercialPessoa, 
							NM_CICLO_ATUAL = @p_numeroCiclo
						WHERE CD_PESSOA  = @p_codigoPessoa and cd_funcao = @p_codigoFuncao
			
						-- ************************************
						-- ALTERAR A TABELA TB_PESSOA -- NOVA PARA ATENDER CLOROFITUM FRANQUIAS (ALDIR -> 23/01/2019)
						-- ************************************
						UPDATE TB_PESSOA set CD_ESTRUTURA_COMERCIAL = @p_codigoEstruturaComercial
						WHERE CD_PESSOA  = @p_codigoPessoa 
					COMMIT TRANSACTION
				END
		END

	IF @p_codigoEvento = 2 -- APROVAÇÃO DE PEDIDO
		
		BEGIN
		
			-- MANUAL. SAI DA ROTINA
			IF @v_valorParametro = 2 
				BEGIN
					RETURN
				END
			
		
			-- ***************************************************
			-- grava historico da consultora como ativa
			-- ***************************************************
			IF (@p_codigoFuncao = 2) -- somente CN
				BEGIN
					BEGIN TRANSACTION		
						UPDATE TB_HIST_SITUACAO_CONSULTORA 
						SET CD_SITUACAO_COMERCIAL = 1,
							CD_SITUACAO_COMERCIAL_DETALHE = 100,
							DT_ATUALIZACAO = GETDATE(),
							CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
						WHERE CD_PESSOA = @p_codigoPessoa
						and NM_CICLO = @p_numeroCiclo

						UPDATE TB_PESSOA_RESUMO
							SET CD_SITUACAO_COMERCIAL = 1,
							CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
						WHERE CD_PESSOA = @p_codigoPessoa
						AND CD_FUNCAO = @p_codigoFuncao
	        		COMMIT TRANSACTION

					-- ********************************************
					-- Atualização por Diego Zilioti em 09/08/2021
					-- Atividade #2745 - Atualização da situação comercial com base no ciclo indicador
					-- Precisamos checar se temos ciclos seguintes ao de aprovação do pedido e atualizá-los tbm
					-- ********************************************
					SELECT @v_existeCicloSeguinte = COUNT(*)
					  FROM TB_HIST_SITUACAO_CONSULTORA WITH(NOLOCK)
					 WHERE CD_PESSOA = @p_codigoPessoa
					   AND NM_CICLO > @p_numeroCiclo

					IF @v_existeCicloSeguinte > 0
						BEGIN
							-- SETA A SITUAÇÃO ATUAL COMO ATIVA, USAREMOS ELA PARA BUSCAR AS PRÓXIMAS
							SELECT @v_codigoSitComercialPessoa = 1,
								   @v_codigoSitComercialDetalhePessoa = 100

							-- neste caso vamos atualizar a situação comercial para os ciclos seguintes
							SET @v_cursorCicloSeguinte = CURSOR FAST_FORWARD
							FOR
								SELECT NM_CICLO
								  FROM TB_HIST_SITUACAO_CONSULTORA WITH(NOLOCK)
								 WHERE CD_PESSOA = @p_codigoPessoa
								   AND NM_CICLO > @p_numeroCiclo
								ORDER BY NM_CICLO

							OPEN @v_cursorCicloSeguinte
							FETCH NEXT FROM @v_cursorCicloSeguinte
							INTO @v_cicloSeguinte

							WHILE @@FETCH_STATUS = 0
								BEGIN
									-- VAMOS CHECAR SE NESTE CICLO EXISTE UM PEDIDO APROVADO COM O MESMO CICLO INDICADOR
									SELECT @v_qtdRegistros = COUNT(*)
									  FROM TB_PEDIDO WITH(NOLOCK)
									 WHERE CD_PESSOA = @p_codigoPessoa
									   AND CD_FUNCAO = @p_codigoFuncao
									   AND NM_CICLO_APROVACAO = @v_cicloSeguinte
									   AND NM_CICLO_INDICADOR = @v_cicloSeguinte
									   AND CD_EST_SITUACAO <> 3

									-- SE NÃO TIVERMOS PEDIDOS VAMOS ATUALIZAR A SITUAÇÃO 
									IF @v_qtdRegistros <= 0
										BEGIN
											-- VAMOS BUSCAR A PRÓXIMA SITUAÇÃO
											SELECT @v_codigoSitComercialPessoa = MIN(CD_SITUACAO_COMERCIAL),
												   @v_codigoSitComercialDetalhePessoa = MIN(CD_SITUACAO_COMERCIAL_DETALHE)
											  FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE WITH(NOLOCK)
											 WHERE CD_SITUACAO_COMERCIAL_DETALHE > @v_codigoSitComercialDetalhePessoa

											-- ATUALIZA AS INFORMAÇÕES DO CICLO EM QUESTÃO
											UPDATE TB_HIST_SITUACAO_CONSULTORA 
											   SET CD_SITUACAO_COMERCIAL = @v_codigoSitComercialPessoa,
												   CD_SITUACAO_COMERCIAL_DETALHE = @v_codigoSitComercialDetalhePessoa,
												   DT_ATUALIZACAO = GETDATE(),
												   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
											 WHERE CD_PESSOA = @p_codigoPessoa
											   and NM_CICLO = @v_cicloSeguinte

											UPDATE TB_PESSOA_RESUMO
											   SET CD_SITUACAO_COMERCIAL = @v_codigoSitComercialPessoa,
												   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
											 WHERE CD_PESSOA = @p_codigoPessoa
											   AND CD_FUNCAO = @p_codigoFuncao
										END
									ELSE
										BEGIN
											-- SE TIVERMOS PEDIDOS COM O MESMO CICLO DE APROVAÇÃO E INDICADOR SIGNIFICA QUE A PESSOA FEZ UM NOVO PEDIDO JÁ NO NOVO CICLO
											UPDATE TB_HIST_SITUACAO_CONSULTORA 
											SET CD_SITUACAO_COMERCIAL = 1,
												CD_SITUACAO_COMERCIAL_DETALHE = 100,
												DT_ATUALIZACAO = GETDATE(),
												CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
											WHERE CD_PESSOA = @p_codigoPessoa
											and NM_CICLO = @v_cicloSeguinte

											UPDATE TB_PESSOA_RESUMO
												SET CD_SITUACAO_COMERCIAL = 1,
												CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
											WHERE CD_PESSOA = @p_codigoPessoa
											AND CD_FUNCAO = @p_codigoFuncao
											
											-- SETA A SITUAÇÃO ATUAL COMO ATIVA, USAREMOS ELA PARA BUSCAR AS PRÓXIMAS
											SELECT @v_codigoSitComercialPessoa = 1,
													@v_codigoSitComercialDetalhePessoa = 100
										END

									FETCH NEXT FROM @v_cursorCicloSeguinte
									INTO @v_cicloSeguinte
								END
						END
				END
			ELSE
				BEGIN
					BEGIN TRANSACTION
						UPDATE TB_PESSOA_RESUMO
							SET CD_SITUACAO_COMERCIAL = 1,
							CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
						WHERE CD_PESSOA = @p_codigoPessoa
						AND CD_FUNCAO = @p_codigoFuncao
					COMMIT TRANSACTION
				END
		END
		
	IF @p_codigoEvento = 3 -- CANCELAMENTO DE PEDIDO
		
		BEGIN
			
			-- MANUAL. SAI DA ROTINA
			IF @v_valorParametro = 2 
				BEGIN
					RETURN
				END
		
		
			-- ****************************************************************************
			-- VERIFICA SE POSSUI ALGUM PEDIDO APROVADO PARA MANTER A SITUAÇÃO DE ATIVA
			-- ****************************************************************************
			SELECT @v_qtdRegistros = COUNT(*) 
			FROM TB_PEDIDO with (NOLOCK)
			WHERE CD_PESSOA = @p_codigoPessoa
			AND CD_FUNCAO = @p_codigoFuncao
			and NM_CICLO_APROVACAO = @p_numeroCiclo
			AND CD_EST_SITUACAO NOT IN (1, 3, 4)
				
			IF @v_qtdRegistros = 0
				BEGIN
			
					-- ******************************************************************
					-- COMO NÃO TEMOS PEDIDO APROVADO NO CICLO
					-- ENTÃO TEREMOS QUE BUSCAR A SITUAÇÃO COMERCIAL DO CICLO ANTERIOR
					-- ******************************************************************
					
					SELECT @v_numeroCicloAnterior = ISNULL(MAX(NM_CICLO),0)
					FROM TB_HIST_SITUACAO_CONSULTORA with (NOLOCK)
					WHERE NM_CICLO < @p_numeroCiclo				
					AND CD_PESSOA = @p_codigoPessoa
					
					IF @v_numeroCicloAnterior = 0
						BEGIN
						
							SELECT @v_codigoSitComercialPessoaAnterior = 0
							SELECT @v_codigoSitComercialDetalhePessoaAnterior = 0
							
						END
					ELSE
						BEGIN

							-- CALCULA A NOVA SITUAÇÃO BASEADO NA SITUAÇÃO ANTERIOR
							-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 31/05/2021
							-- AQUI NÃO ESTAVA OBTENDO A SITUAÇÃO COMERCIAL QUANDO A SITUAÇÃO NO CICLO ANTERIOR ERA DESATIVADA, NESSE CASO FOI AJUSTADO PARA QUE A PESSOA VOLTE A FICAR DESATIVADA
							-- TAMBÉM NÃO ESTAVA OBTENDO A SITUAÇÃO CORRETA QUANDO A PESSOA ERA CADASTRADA NO CICLO ANTERIOR, ELA ERA MANTIDA COMO ATIVA, AJUSTADO PARA MANTER COMO CADASTRADA
							SELECT  @v_codigoSitComercialPessoaAnterior = A.CD_SITUACAO_COMERCIAL,
								@v_codigoSitComercialDetalhePessoaAnterior = F.SITUACAO_DETALHE_ATUAL
							  FROM  TB_NIVEL_SITUACAO_COMERCIAL_DETALHE  A with (NOLOCK),
									(SELECT	ISNULL(MIN(B.CD_SITUACAO_COMERCIAL_DETALHE),
											--(SELECT MAX(CD_SITUACAO_COMERCIAL_DETALHE) FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE WITH(NOLOCK))) 
											(SELECT MIN(CD_SITUACAO_COMERCIAL_DETALHE) FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE WITH(NOLOCK))) -- NOVO
											       AS SITUACAO_DETALHE_ATUAL
									                 FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE  B with (NOLOCK),
										              (SELECT CASE CD_SITUACAO_COMERCIAL_DETALHE
												      WHEN 0 THEN -1 ELSE CD_SITUACAO_COMERCIAL_DETALHE END AS SITUACAO_DETALHE_ANTERIOR
											       FROM TB_HIST_SITUACAO_CONSULTORA with (NOLOCK)
											       WHERE CD_PESSOA = @p_codigoPessoa
											       AND NM_CICLO    = @v_numeroCicloAnterior) C
									 WHERE B.CD_SITUACAO_COMERCIAL_DETALHE > C.SITUACAO_DETALHE_ANTERIOR
									 AND   B.CD_SITUACAO_COMERCIAL_DETALHE < 400) F  -- NOVO
							 WHERE A.CD_SITUACAO_COMERCIAL_DETALHE = F.SITUACAO_DETALHE_ATUAL

						END
					
											
					-- ALTERA TABELA DE HISTORICO
					IF (@p_codigoFuncao = 2) -- somente CN
					BEGIN
					BEGIN TRANSACTION
					UPDATE TB_HIST_SITUACAO_CONSULTORA
					SET CD_SITUACAO_COMERCIAL = @v_codigoSitComercialPessoaAnterior,
					CD_SITUACAO_COMERCIAL_DETALHE = @v_codigoSitComercialDetalhePessoaAnterior
					WHERE CD_PESSOA = @p_codigoPessoa
					AND NM_CICLO = @p_numeroCiclo
					COMMIT TRANSACTION
					END
					
					-- ALTERA TABELA TB_PESSOA_RESUMO
					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO
					SET CD_SITUACAO_COMERCIAL = @v_codigoSitComercialPessoaAnterior
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_FUNCAO = @p_codigoFuncao
					COMMIT TRANSACTION
					-- ALTERAÇÃO POR DIEGO ZILIOTI EM 08/03/2019
					 -- busca o valor do parametro para identificar se a pessoa quando desativada perde o indicante e sua rede
					select @v_cont_parametro_7_17 = vl_parametro from tb_valor_parametro  with (NOLOCK) where cd_grupo_parametro = 7 and cd_parametro =17

					-- se for DESATIVADA perde as indicadas, ou seja, que é patrocinador
					IF (@v_codigoSitComercialPessoa = 4 and @v_cont_parametro_7_17 = 1)
						BEGIN
							BEGIN TRANSACTION
							UPDATE TB_PESSOA_RESUMO
							   SET CD_PESSOA_VINCULADA = 0  --, CD_PESSOA_LIDERANCA = NULL
							 WHERE (CD_PESSOA = @p_codigoPessoa OR CD_PESSOA_VINCULADA = @p_codigoPessoa)
							 --  AND CD_FUNCAO = @p_codigoFuncao
							COMMIT TRANSACTION

							BEGIN TRANSACTION
							UPDATE TB_PESSOA_RESUMO
							   SET CD_PESSOA_LIDERANCA = NULL
							 WHERE (CD_PESSOA = @p_codigoPessoa OR CD_PESSOA_LIDERANCA = @p_codigoPessoa)
							 AND CD_FUNCAO = @p_codigoFuncao
							COMMIT TRANSACTION

							BEGIN TRANSACTION
							UPDATE TB_PESSOA
							   SET CD_PESSOA_INDICANTE = 0
							 WHERE (CD_PESSOA = @p_codigoPessoa OR CD_PESSOA_INDICANTE = @p_codigoPessoa)
							 COMMIT TRANSACTION
						END
					-- SE A PESSOA VOLTAR PARA A SITUAÇÃO DESATIVADA ELA DEVERÁ PERDER AS CONDIÇÕES ANTERIORES E TER PEDIDOS PENDENTES CANCELADOS
					IF @v_codigoSitComercialPessoaAnterior = 4
						BEGIN
							EXEC SP_CANCELA_PEDIDOS_PENDENTES_DESATIVADA
								@p_codigoPessoa,
								@p_codigoUsuario,
								@p_codigoErro		OUTPUT, 
								@p_descricaoErro	OUTPUT
															
							-- SE A PESSOA ESTÁ SENDO DESATIVADA VAMOS BLOQUEAR OS ACESSOS DELA AO SISTEMA
							BEGIN TRANSACTION
							UPDATE TB_PESSOA_RESUMO SET ID_ACESSA_LOJA_VIRTUAL = 2, ID_ACESSA_SISTEMA = 2
							 WHERE CD_PESSOA = @p_codigoPessoa
							   AND CD_FUNCAO = @p_codigoFuncao
							COMMIT TRANSACTION
						END
										
				END


		END	
		
	IF @p_codigoEvento = 4 -- FECHAR CAMPANHA
		
		BEGIN
		
			-- MANUAL. SAI DA ROTINA
			IF @v_valorParametro = 2 
				BEGIN
					RETURN
				END
				
			/*************************************************************
					BUSCA PROXIMA SITUACAO COMERCIAL
			*************************************************************/
			SELECT @v_codigoSitComercialDetalhePessoa = dbo.FN_BUSCA_PROXIMA_SIT_COMERCIAL_PESSOA(@p_codigoPessoa, @p_codigoFuncao)
					
			SELECT @v_codigoSitComercialPessoa = CD_SITUACAO_COMERCIAL
			FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE with (NOLOCK)
			WHERE CD_SITUACAO_COMERCIAL_DETALHE = @v_codigoSitComercialDetalhePessoa

					
			/*************************************************************
			-- INSERE NA TABELA TB_HIST_SITUACAO_CONSULTORA 
			**************************************************************/
			IF (@p_codigoFuncao = 2) -- somente CN
				BEGIN
					EXEC pr_PessoaInsereHistoricoConsultora
						@p_codigoPessoa,
						@v_codigoSitComercialPessoa,
						@v_codigoSitComercialDetalhePessoa,
						@p_numeroCiclo,
						@p_codigoEstruturaComercial,
						@p_codigoUsuario,
						@p_codigoErro		OUTPUT, 
						@p_descricaoErro	OUTPUT,
						@p_linhasAfetadas	OUTPUT
				END

			-- ***************************************************
			-- grava historico da consultora como ativa
			-- ***************************************************		
            -- ALTERA TABELA TB_PESSOA_RESUMO
			BEGIN TRANSACTION
				IF (@p_codigoFuncao = 2) -- somente CN
					BEGIN
						UPDATE TB_PESSOA_RESUMO
						SET CD_SITUACAO_COMERCIAL = @v_codigoSitComercialPessoa
						WHERE CD_PESSOA = @p_codigoPessoa
						AND CD_FUNCAO  = @p_codigoFuncao
					END
				ELSE
					BEGIN
						-- AS OUTRAS FUNÇÕES NÃO POSSUEM MAIS HISTORICO E POR ISSO VAMOS SEMPRE GRAVAR 0
						-- CASO CONTRARIO VAI GRAVAR NULO
						UPDATE TB_PESSOA_RESUMO
						SET CD_SITUACAO_COMERCIAL = 0
						WHERE CD_PESSOA = @p_codigoPessoa
						AND CD_FUNCAO  = @p_codigoFuncao
					END
				
			COMMIT TRANSACTION
            		
			-- busca o valor do parametro para identificar se a pessoa quando desativada perde o indicante e sua rede
            select @v_cont_parametro_7_17 = vl_parametro from tb_valor_parametro  with (NOLOCK) where cd_grupo_parametro = 7 and cd_parametro =17

           	-- se for DESATIVADA perde as indicadas, ou seja, que é patrocinador
           	IF (@v_codigoSitComercialPessoa = 4 and @v_cont_parametro_7_17 = 1)
				BEGIN
					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO
					   SET CD_PESSOA_VINCULADA = 0  --, CD_PESSOA_LIDERANCA = NULL
					 WHERE (CD_PESSOA = @p_codigoPessoa OR isnull(CD_PESSOA_VINCULADA,0) = @p_codigoPessoa)
					   --AND CD_FUNCAO = @p_codigoFuncao
					COMMIT TRANSACTION

					BEGIN TRANSACTION
					UPDATE TB_PESSOA_VINCULO_HISTORICO SET CD_PESSOA_VINCULADA = 0
					WHERE NM_CICLO          = @p_numeroCiclo
					AND CD_FUNCAO           = @p_codigoFuncao
					AND CD_PESSOA_VINCULADA = @p_codigoPessoa 
					COMMIT TRANSACTION

					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO
					   SET CD_PESSOA_LIDERANCA = NULL
					 WHERE (CD_PESSOA = @p_codigoPessoa OR isnull(CD_PESSOA_LIDERANCA,0) = @p_codigoPessoa)
					 AND CD_FUNCAO = @p_codigoFuncao
					COMMIT TRANSACTION

					BEGIN TRANSACTION
					UPDATE TB_PESSOA_VINCULO_HISTORICO SET CD_PESSOA_LIDERANCA = NULL
					WHERE NM_CICLO          = @p_numeroCiclo
					AND CD_FUNCAO           = @p_codigoFuncao
					AND CD_PESSOA_LIDERANCA = @p_codigoPessoa 
					COMMIT TRANSACTION

					BEGIN TRANSACTION
					UPDATE TB_PESSOA
					   SET CD_PESSOA_INDICANTE = 0
					 WHERE (CD_PESSOA = @p_codigoPessoa OR isnull(CD_PESSOA_INDICANTE,0) = @p_codigoPessoa)
					COMMIT TRANSACTION

                END

			-- se DESATIVADA deve ter os pedidos pendentes CANCELADOS
			IF (@v_codigoSitComercialPessoa = 4)
				BEGIN
					EXEC SP_CANCELA_PEDIDOS_PENDENTES_DESATIVADA
						@p_codigoPessoa,
						@p_codigoUsuario,
						@p_codigoErro		OUTPUT, 
						@p_descricaoErro	OUTPUT

					-- ALTERAÇÃO POR DIEGO ZILIOTI EM 08/03/2019
					-- SE A PESSOA ESTÁ SENDO DESATIVADA VAMOS BLOQUEAR OS ACESSOS DELA AO SISTEMA
					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO SET ID_ACESSA_LOJA_VIRTUAL = 2, ID_ACESSA_SISTEMA = 2
					 WHERE CD_PESSOA = @p_codigoPessoa
					   AND CD_FUNCAO = @p_codigoFuncao

					-- ********************************************************************************
					-- Para desativação automatica, grava o Motivo da desativacao fechamento de ciclo
					-- ********************************************************************************		
					UPDATE TB_HIST_SITUACAO_CONSULTORA
					SET DC_MOTIVO_DESATIVACAO = 'Automático Fechamento de Ciclo'
					WHERE CD_PESSOA = @p_codigoPessoa
					AND NM_CICLO = @p_numeroCiclo

					COMMIT TRANSACTION
				END
		
		END	
		
	IF @p_codigoEvento = 5 -- ALOCACAO DE REDE NO MEIO DO CICLO
		
		-- ******************************************************
		-- NESTE CASO VAMOS APENAS ATUALIZAR A ESTRUTURA COMERCIAL DA PESSOA
		-- ******************************************************
		
		BEGIN
			
			-- ALTERA TABELA DE HISTORICO
			IF (@p_codigoFuncao = 2) -- somente CN
			BEGIN
			BEGIN TRANSACTION
			UPDATE TB_HIST_SITUACAO_CONSULTORA
			SET CD_EST_COMERCIAL = @p_codigoEstruturaComercial
			WHERE CD_PESSOA = @p_codigoPessoa
			AND NM_CICLO    = @p_numeroCiclo
			COMMIT TRANSACTION
			END						
					
			-- ALTERA TABELA TB_PESSOA_RESUMO
			BEGIN TRANSACTION
			UPDATE TB_PESSOA_RESUMO
			SET CD_EST_COMERCIAL = @p_codigoEstruturaComercial,
				NM_CICLO_ATUAL = @p_numeroCiclo,
				DT_ATUALIZACAO = GETDATE(),
				CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
			WHERE CD_PESSOA = @p_codigoPessoa
			AND CD_FUNCAO = @p_codigoFuncao
			COMMIT TRANSACTION
		END

	-- ***********************************************************************
	-- INSERE O REGISTRO NA FILA DA API ATSVD
	-- A PROCEDURE IRÁ VALIDAR SE A FILA ESTÁ ATIVA E IRÁ INSERIR O REGISTRO
	-- ***********************************************************************
	-- Alteração por Diego Zilioti em 14/07/2023 - Bitrix #4805
	-- Na Kenko Patto estamos jogando um volume muito grande de registros na fila no fechamento devido ao grande número de cadastros
	-- No entanto hoje para a Kenko não é necessário jogar as atualizações de situação comercial na fila, vamos validar isso agora em um parâmetro 

	SELECT @v_enviaFilaAPI = VL_PARAMETRO
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 1
	   AND CD_PARAMETRO = 24
	   AND CD_VALOR_PARAMETRO = 1

	IF ((@p_codigoEvento = 2)  or 
            (@p_codigoEvento = 4 and [dbo].[FN_BUSCA_COD_SIT_COMERCIAL_PESSOA_CICLO]  (@p_codigoPessoa,@p_codigoFuncao, dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@p_numeroCiclo,2)) IN (1,2,3)) ) -- 2 - aprovação de pedido / 4 - fechar campanha
		BEGIN
			IF @v_enviaFilaAPI = 1
				BEGIN
					SELECT @v_descUsuario = CONVERT(VARCHAR(18),@p_codigoUsuario)
			
					EXEC dbo.pr_ApiInsereItemFilaApi 1, --Código da fila de PESSOAS
							@p_codigoPessoa, -- PESSOA
							'A', --ALTERAÇÃO
							@v_descUsuario, --USUÁRIO
							0,
							'',
							0
				END
		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descricaoErro, @p_codigoErro, 1)
END CATCH;
GO
