SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_PessoaAlteraPapelFormaMassiva]
  	
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS


DECLARE @Cursor_Itens			CURSOR

DECLARE @V_CD_PESSOA			NUMERIC(18,0)
DECLARE @V_CD_FUNCAO			INT
DECLARE @V_NM_CICLO_ATUAL		NUMERIC(18,0)

DECLARE @V_CD_PAPEL_CARREIRA	NUMERIC(18,0)
DECLARE @V_CD_PAPEL_DESEMPENHO	NUMERIC(18,0)

	
BEGIN TRY

	SELECT @qtLinhasAfetadas = 0

		-- ***************************************************					
	-- VAMOS ABRIR O CURSOR DA TABELA CLIENTE
	-- ***************************************************
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR

		--SELECT	PR.CD_PESSOA,
				--PR.CD_FUNCAO,
				--PR.NM_CICLO_ATUAL
		--FROM TB_PESSOA_RESUMO PR
		--WHERE EXISTS (SELECT 1 FROM TB_HIST_SITUACAO_CONSULTORA C
--			WHERE PR.CD_PESSOA = C.CD_PESSOA 
			--AND NM_CICLO = 201808
		--AND C.CD_SITUACAO_COMERCIAL_DETALHE IN (302, 303, 400))
		--AND PR.CD_FUNCAO = 2


		SELECT	CD_PESSOA,
				CD_FUNCAO,
				NM_CICLO_ATUAL,
				CD_PAPEL_CARREIRA,
				CD_PAPEL_DESEMPENHO
		FROM TB_WRK_PESSOA_RESUMO
	
										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@V_CD_PESSOA,
				@V_CD_FUNCAO,
				@V_NM_CICLO_ATUAL,
				@V_CD_PAPEL_CARREIRA,
				@V_CD_PAPEL_DESEMPENHO

			WHILE @@FETCH_STATUS = 0
				BEGIN
									
					-- *****************************************************	
					-- EXECUTA A PROC DE ALTERA PAPEL MANUALMENTE
					-- *****************************************************

					--SELECT @V_CD_PAPEL_CARREIRA = 7
					--SELECT @V_CD_PAPEL_DESEMPENHO = 7
					
					EXEC pr_PessoaAlteraPapelManualmente
						@V_CD_PESSOA,				--@p_codigoPessoa					numeric(18,0),
						@V_CD_FUNCAO,				--@p_codigoFuncao					int,
						@V_NM_CICLO_ATUAL,			--@p_numeroCiclo					numeric(18,0),
						@V_CD_PAPEL_CARREIRA,		--@p_codigoPapelCarreira			int,
						@V_CD_PAPEL_DESEMPENHO,		--@p_codigoPapelDesempenho		int,
						@cdErro,					--@p_codigoErro					int				output,
						@dcErro,					--@p_descricaoErro				varchar(1000)	output,
						@qtLinhasAfetadas			--@p_linhasAfetadas				int				output
											
					
					FETCH NEXT FROM @Cursor_Itens
					INTO	@V_CD_PESSOA,
							@V_CD_FUNCAO,
							@V_NM_CICLO_ATUAL,
							@V_CD_PAPEL_CARREIRA,
							@V_CD_PAPEL_DESEMPENHO

													
				END

	
	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	
		
	SELECT @cdErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @cdErro = 1
      SELECT @dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
