SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PromocaoAplicaPromocao]
  	@p_nmPedido numeric(18, 0),

	@p_cdRetorno			INT OUTPUT,
	@p_dcErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT
	
AS

 DECLARE	@v_cdFuncao					NUMERIC(18,0),
			@v_cdPessoa					NUMERIC(18,0),
			@v_nmCicloCaptacao			NUMERIC(18,0),
			@v_dataCaptacaoPedido		DATE,
	 		@Cursor_Promocao			CURSOR,
	 		@v_cdPromocao				NUMERIC(18,0),
	 		@v_idTipoPromocao			INT,
	 		@v_cdPapelCarreiraPromocao  NUMERIC(18,0),
	 		@v_cdPapelCarreiraPessoa	NUMERIC(18,0),
			@v_cdRegraComercial			NUMERIC(18,0),
			@v_atende_cobertura			INT,
			@v_atende_dependencias		INT,
			@v_atende_indicador			INT,
			@cursorBrindes				cursor,
			@v_codigoProduto			numeric(18,0),
			@v_qtdeReservada			int,
			@v_codigoMaterial			numeric(18,0)
	

DECLARE		@v_idPromocaoPossuiCota		int,
			@v_vlCota					int,
			@v_vlConquistado			int,
			@v_vl_sequencia				int,
			@cursor_descontos			cursor,
			@v_cdMaterial				numeric(18,0),
			@v_cdProdutoVenda			numeric(18,0),
			@v_contador					int

 BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0
	SELECT @v_atende_cobertura = 0
	SELECT @v_atende_indicador = 1

	-- INICIA A TRNSAÇÃO
	BEGIN TRANSACTION 

	-- Alteração por Diego Zilioti em 07/09/2018
	-- Antes de excluir os itens de promoção aplicados precisamos cancelar o empenho dos brindes conquistados caso eles existam

	SET @cursorBrindes = CURSOR FAST_FORWARD
	FOR
		SELECT CD_PRODUTO_VENDA,
				SUM(QT_RESERVADA),
				CD_MATERIAL
		FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
		WHERE ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --BRINDE
			AND QT_RESERVADA > 0
			AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
			AND NM_PEDIDO = @p_nmPedido
		GROUP BY CD_PRODUTO_VENDA, CD_MATERIAL

				
	OPEN @cursorBrindes
	FETCH NEXT FROM @cursorBrindes
	INTO @v_codigoProduto, @v_qtdeReservada, @v_codigoMaterial

	WHILE @@FETCH_STATUS = 0
		BEGIN
			
			EXEC dbo.SP_BAIXA_MATERIAL
						@p_nmPedido,
						@v_codigoProduto,
						@v_codigoMaterial,
						@v_qtdeReservada,
						0, -- cd_usuario
						5, -- TIPO_EMEPNHO (cancelamento de BRINDE)
						0, -- CD_MATERIAL
						0, -- CD_EST_SITUACAO
						0, -- QT_RESERVADA
						0, -- VL_REPOSICAO
						0, -- VL_CUSTO_MEDIO
						0, -- CD_COTA_PRODUTO_ESTRUTURA
						0, -- CD_COTA_PRODUTO_PESSOA
						@p_cdRetorno			OUTPUT,
						@p_dcErro				OUTPUT,
						@p_qtdeLinhasAfetadas	OUTPUT

			FETCH NEXT FROM @cursorBrindes
			INTO @v_codigoProduto, @v_qtdeReservada, @v_codigoMaterial
	
		END

	 --Fim Alteração por Diego Zilioti em 07/09/2018

	delete from TB_ITEM_INCORPORAR where NM_PEDIDO_ORIGEM = @p_nmPedido

	delete from TB_PEDIDO_ITEM_PROMOCAO where NM_PEDIDO = @p_nmPedido

	delete from tb_pedido_promocao_preliminar where NM_PEDIDO = @p_nmPedido

	-- **********************************************************
	-- REMOVE TODOS OS ITENS ELEGÍVEIS GERADOS ANTERIORMENTE
	-- **********************************************************
	DELETE FROM TB_WRK_BENEFICIO_ELEGIVEL
	WHERE NM_PEDIDO = @p_nmPedido
	
	-- correção por Diego Zilioti em 10/05/2021
	-- precisamos resetar também o valor líquido nos itens do pedido para que ao reaplicar as promoções os descontos sejam atualizados.
	UPDATE TB_PEDIDO_ITEM 
	   SET VL_LIQUIDO_TOTAL = VL_PRATICADO_TOTAL, 
		   VL_PAGAR_TOTAL = VL_PRATICADO_TOTAL
	WHERE NM_PEDIDO = @p_nmPedido AND ID_ORIGEM_ITEM_PEDIDO = 1

	commit transaction
	
	-- *****************************************************
	-- BUSCA INFORMAÇÕES DO PEDIDO
	-- CICLO DE CAPTAÇÃO / FUNCAO / PESSOA / PAPEL CARREIRA
	-- *****************************************************
	SELECT	@v_nmCicloCaptacao = NM_CICLO_CAPTACAO,
			@v_cdFuncao = CD_FUNCAO,
			@v_cdPessoa = CD_PESSOA,
			@v_cdPapelCarreiraPessoa = CD_PAPEL_CARREIRA,
			@v_dataCaptacaoPedido = convert(date,DT_CAPTACAO_PEDIDO),
			@v_cdRegraComercial = CD_REGRA_COMERCIAL
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE NM_PEDIDO = @p_nmPedido
	
	
	
	-- *****************************************************
	-- BUSCA PROMOÇÕES ATIVAS E VIGENTES
	-- *****************************************************
	SET @Cursor_Promocao = CURSOR FAST_FORWARD
	FOR
		-- *******************************************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 09/10/2018
		-- INSERIDO CONCEITO DE COTA DE PROMOÇÃO
		-- A QUERY MOSTRA A COLUNA ID_PROMOCAO_POSSUI_COTA PARA VERIFICAR SE A PROMOÇÃO POSSUI COTA (1 = SIM / 2 = NÃO)
		-- SE TIVER COTA VAMOSVERIFICAR O VL_COTA E O VL_CONQUISTADO
		-- SE O VL_CONQUISTADO FOR MENOR QUE VL_COTA ENTÃO A PESSOA PODE GANHAR A PROMOÇÃO
		-- VL_CONQUISTADO MOSTRA QUANTAS VEZES A PESSOA GANHOU A PROMOÇÃO INDEPENDENTE DA REGRA COMERCIAL 
		-- (DESPREZANDO PEDIDOS EM CAPTAÇÃO, CANCELADOS E EM EDIÇÃO)
		-- *******************************************************************************************************

		SELECT Z.CD_PROMOCAO,
			   Z.ID_TIPO_PROMOCAO,
			   Z.CD_PAPEL_CARREIRA,
			   Z.ID_PROMOCAO_POSSUI_COTA,
			   Z.VL_COTA,
			   Z.VL_CONQUISTADO,
			   Z.NM_SEQUENCIA

		FROM 		
		
			(SELECT	P.CD_PROMOCAO,
				P.ID_TIPO_PROMOCAO,
				P.CD_PAPEL_CARREIRA,
				ISNULL(P.ID_PROMOCAO_POSSUI_COTA,2) ID_PROMOCAO_POSSUI_COTA,
				ISNULL(P.VL_COTA,0) VL_COTA,
				(SELECT COUNT(*) FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK), TB_PEDIDO B WITH(NOLOCK) WHERE A.NM_PEDIDO = B.NM_PEDIDO 
					AND B.CD_EST_SITUACAO NOT IN (1,3,99) 
					AND B.CD_PESSOA = @v_cdPessoa
					AND A.CD_PROMOCAO = P.CD_PROMOCAO) VL_CONQUISTADO,
				0 NM_SEQUENCIA
			FROM TB_PROMOCAO P WITH(NOLOCK)
			WHERE P.ID_SITUACAO = 1
			AND @v_nmCicloCaptacao BETWEEN isnull(NM_CICLO_INICIAL,201001) AND ISNULL(P.NM_CICLO_FINAL,999999)
			AND @v_dataCaptacaoPedido between ISNULL(P.DT_INICIAL,CONVERT(DATE,CONVERT(DATE,'2000-01-01'))) AND ISNULL(P.DT_FINAL,CONVERT(DATE,'2199-12-31'))
			AND EXISTS (SELECT 1 FROM TB_PROMOCAO_REGRA_COMERCIAL PR WITH(NOLOCK) WHERE P.CD_PROMOCAO = PR.CD_PROMOCAO AND PR.CD_REGRA_COMERCIAL = @v_cdRegraComercial)
			AND P.ID_PROMOCAO_PRELIMINAR = 1
			--ORDER BY P.ID_TIPO_PROMOCAO ASC

			UNION ALL
		
			SELECT	P.CD_PROMOCAO,
				P.ID_TIPO_PROMOCAO,
				P.CD_PAPEL_CARREIRA,
				ISNULL(P.ID_PROMOCAO_POSSUI_COTA,2) ID_PROMOCAO_POSSUI_COTA,
				ISNULL(P.VL_COTA,0) VL_COTA,
				(SELECT COUNT(*) FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK), TB_PEDIDO B WITH(NOLOCK) WHERE A.NM_PEDIDO = B.NM_PEDIDO 
					AND B.CD_EST_SITUACAO NOT IN (1,3,99) 
					AND B.CD_PESSOA = @v_cdPessoa
					AND A.CD_PROMOCAO = P.CD_PROMOCAO) VL_CONQUISTADO,
				1 NM_SEQUENCIA
			FROM TB_PROMOCAO P WITH(NOLOCK)
			WHERE P.ID_SITUACAO = 1
			AND @v_nmCicloCaptacao BETWEEN isnull(NM_CICLO_INICIAL,201001) AND ISNULL(P.NM_CICLO_FINAL,999999)
			AND @v_dataCaptacaoPedido between ISNULL(P.DT_INICIAL,CONVERT(DATE,CONVERT(DATE,'2000-01-01'))) AND ISNULL(P.DT_FINAL,CONVERT(DATE,'2199-12-31'))
			AND EXISTS (SELECT 1 FROM TB_PROMOCAO_REGRA_COMERCIAL PR WITH(NOLOCK) WHERE P.CD_PROMOCAO = PR.CD_PROMOCAO AND PR.CD_REGRA_COMERCIAL = @v_cdRegraComercial)
			AND P.ID_PROMOCAO_PRELIMINAR = 0
			AND P.CD_PROMOCAO IN (SELECT X.CD_PROMOCAO_DEPENDENTE FROM TB_PROMOCAO_DEPENDENTE X WITH(NOLOCK))

			UNION ALL

					
			SELECT	P.CD_PROMOCAO,
				P.ID_TIPO_PROMOCAO,
				P.CD_PAPEL_CARREIRA,
				ISNULL(P.ID_PROMOCAO_POSSUI_COTA,2) ID_PROMOCAO_POSSUI_COTA,
				ISNULL(P.VL_COTA,0) VL_COTA,
				(SELECT COUNT(*) FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK), TB_PEDIDO B WITH(NOLOCK) WHERE A.NM_PEDIDO = B.NM_PEDIDO 
					AND B.CD_EST_SITUACAO NOT IN (1,3,99) 
					AND B.CD_PESSOA = @v_cdPessoa
					AND A.CD_PROMOCAO = P.CD_PROMOCAO) VL_CONQUISTADO,
				1 NM_SEQUENCIA
			FROM TB_PROMOCAO P WITH(NOLOCK)
			WHERE P.ID_SITUACAO = 1
			AND @v_nmCicloCaptacao BETWEEN isnull(NM_CICLO_INICIAL,201001) AND ISNULL(P.NM_CICLO_FINAL,999999)
			AND @v_dataCaptacaoPedido between ISNULL(P.DT_INICIAL,CONVERT(DATE,CONVERT(DATE,'2000-01-01'))) AND ISNULL(P.DT_FINAL,CONVERT(DATE,'2199-12-31'))
			AND EXISTS (SELECT 1 FROM TB_PROMOCAO_REGRA_COMERCIAL PR WITH(NOLOCK) WHERE P.CD_PROMOCAO = PR.CD_PROMOCAO AND PR.CD_REGRA_COMERCIAL = @v_cdRegraComercial)
			AND P.ID_PROMOCAO_PRELIMINAR = 0
			AND P.CD_PROMOCAO NOT IN  (SELECT X.CD_PROMOCAO_DEPENDENTE FROM TB_PROMOCAO_DEPENDENTE X WITH(NOLOCK))
			) Z
			WHERE Z.ID_TIPO_PROMOCAO <> 4
			ORDER BY Z.NM_SEQUENCIA, Z.ID_TIPO_PROMOCAO ASC



				
	OPEN @Cursor_Promocao
	FETCH NEXT FROM @Cursor_Promocao
	INTO @v_cdPromocao, @v_idTipoPromocao, @v_cdPapelCarreiraPromocao, @v_idPromocaoPossuiCota, @v_vlCota, @v_vlConquistado, @v_vl_sequencia

	WHILE @@FETCH_STATUS = 0
		BEGIN
			
			-- *************************************************************************************************
			-- VERIFICA COTA DE PROMOCÃO
			-- SOMENTE CONTINUA SE:
			-- SE A PROMOCÃO NÃO TIVER COTA 
			-- OU A PROMOÇÃOÕ TIVER COTA E O VALOR CONQUISTADO FOR MENOR QUE O VALOR DA COTA
			-- *************************************************************************************************

			IF @v_idPromocaoPossuiCota = 2 OR (@v_idPromocaoPossuiCota = 1 AND @v_vlConquistado < @v_vlCota)
				BEGIN
	
					SELECT @v_atende_cobertura = dbo.fn_pessoaVerificaCoberturaGeograficaPromocao(@v_cdPromocao,@v_cdPessoa)

					-- *******************************************************
					-- ALTERADO POR ANDERSON DIA 30/11/2018
					-- VERIFICA SE A PROMOÇÃO POSSUI DEPENDENCIA E SE A PESSOA GANHOU AS DEPENDENCIAS
					-- *******************************************************		

					SELECT @v_atende_dependencias = dbo.FN_VERIFICA_DEPENDENCIAS_PROMOCAO(@p_nmPedido,@v_cdPromocao,@v_cdPessoa)

					-- *******************************************************
					-- FIM
					-- *******************************************************		


					-- *******************************************************
					-- ALTERADO POR ANDERSON DIA 28/01/2019
					-- VERIFICA SE A PROMOÇÃO POSSUI INDICARES E SE A PESSOA ATENDE
					-- *******************************************************		

					SELECT @v_atende_indicador = dbo.FN_VERIFICA_INDICADORES_PROMOCAO(@v_cdPromocao,@v_cdPessoa)

					-- *******************************************************
					-- FIM
					-- *******************************************************		

					
					IF @v_atende_cobertura = 1 AND @v_atende_dependencias = 1 AND @v_atende_indicador = 1
						BEGIN

							IF (@v_idTipoPromocao = 1) -- PRODUTO
			
								BEGIN
					
									EXEC dbo.pr_PromocaoAplicaPromocaoProduto
										@p_nmPedido,
										@v_cdPromocao, 
										@p_cdRetorno OUTPUT,
										@p_dcErro OUTPUT,
										@p_qtdeLinhasAfetadas OUTPUT
							
									if @p_cdRetorno <> 0
										begin
											RETURN
										end
						
						
								END
					

							IF (@v_idTipoPromocao = 2) -- FAIXA DE VALOR DO PEDIDO
			
								BEGIN
					
									EXEC dbo.pr_PromocaoAplicaPromocaoFaixa
										@p_nmPedido,
										@v_cdPromocao, 
										@p_cdRetorno OUTPUT,
										@p_dcErro OUTPUT,
										@p_qtdeLinhasAfetadas OUTPUT
							
									if @p_cdRetorno <> 0
										begin
											RETURN
										end
						
						
								END


							IF (@v_idTipoPromocao = 3) -- ATIVIDADE
			
								BEGIN
					
									EXEC dbo.pr_PromocaoAplicaPromocaoAtividade
										@p_nmPedido,
										@v_cdPromocao, 
										@p_cdRetorno OUTPUT,
										@p_dcErro OUTPUT,
										@p_qtdeLinhasAfetadas OUTPUT
							
									if @p_cdRetorno <> 0
										begin
											RETURN
										end
						
						
								END

						END
								
				END	
														
		
			FETCH NEXT FROM @Cursor_Promocao
			INTO @v_cdPromocao, @v_idTipoPromocao, @v_cdPapelCarreiraPromocao, @v_idPromocaoPossuiCota, @v_vlCota, @v_vlConquistado, @v_vl_sequencia
									
		END -- fecha o cursor de promoção vigentes

	-- aqui no final vamos verificar se tivemos descontos aplicados no mesmo produto, vamos deixar somente o maior desconto aplicado.
	SET @cursor_descontos = CURSOR FAST_FORWARD
	FOR
		SELECT CD_PRODUTO_VENDA, CD_MATERIAL, COUNT(*)
		  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
		 WHERE NM_PEDIDO = @p_nmPedido
		   AND ID_TIPO_BENEFICIO_PEDIDO_ITEM = 2
		GROUP BY CD_PRODUTO_VENDA, CD_MATERIAL HAVING COUNT(*) > 1

	OPEN @cursor_descontos
	FETCH NEXT FROM @cursor_descontos
	INTO @v_cdMaterial, @v_cdProdutoVenda, @v_contador

	WHILE @@FETCH_STATUS = 0
		BEGIN

			DELETE FROM TB_PEDIDO_ITEM_PROMOCAO
			WHERE NM_PEDIDO = @p_nmPedido
			AND ID_TIPO_BENEFICIO_PEDIDO_ITEM = 2
			AND CD_PRODUTO_VENDA = @v_cdProdutoVenda
			AND CD_MATERIAL = @v_cdMaterial
			AND VL_LIQUIDO_TOTAL > (SELECT MIN(VL_LIQUIDO_TOTAL) FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
									WHERE NM_PEDIDO = @p_nmPedido
									AND ID_TIPO_BENEFICIO_PEDIDO_ITEM = 2
									AND CD_PRODUTO_VENDA = @v_cdProdutoVenda
									AND CD_MATERIAL = @v_cdMaterial)
			FETCH NEXT FROM @cursor_descontos
			INTO @v_cdMaterial, @v_cdProdutoVenda, @v_contador
		END



	-- ******************************************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 18/11/2022
	-- BITRIX 4205 - LOWELL
	-- AO APLICAR PROMOÇÃO DE BRINDE O SISTEMA NÃO CALCULAVA CORRETAMENTE A LUCRATIVIDADE DO BRINDE NA TABELA 
	-- TB_PEDIDO_ITEM_PROMOCAO
	-- ESSA INFORMAÇÃO É IMPORTANTE POIS AO ENVIAR PARA UM ERP EXTERNO O MESMO PODE FATURAR O BRINDE COM VALOR MAIOR
	-- A PROCEDURE ABAIXO ACERTA ISSO E APLICA A LUCRATIVIDADE
	-- SEPARARMOS POIS NO FUTURO CADA CLIENTE PODE ESCOLHER O QUE DESEJA GRAVAR, ASSIM FICA MAIS FACIL AJUSTAR A PROC
	-- ******************************************************************************************************

	EXEC dbo.pr_PromocaoAplicaLucratividadeBrinde
  			@p_nmPedido,
			@p_cdRetorno OUTPUT,
			@p_dcErro OUTPUT,
			@p_qtdeLinhasAfetadas OUTPUT

	-- ******************************************************************************************************
	-- FIM
	-- ******************************************************************************************************

	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
		
	SELECT @p_cdRetorno = 0

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_dcErro, @p_cdRetorno, 1)
END CATCH;
GO
