SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_PessoaInserePessoaCampanhaPontosSaldo]
	@p_codigoPessoa						NUMERIC(18,0),
	@p_codigoCampanha					NUMERIC(18,0),
	@p_idTipoMovimento					INT, -- 1 - CREDITO / 2 - DEBITO
	@p_idOrigemMovimento				INT,
	@p_numeroOrigemMovimento			NUMERIC(18, 0),
	@p_numeroPedidoOrigemMovimento		NUMERIC(18, 0),
	@p_valorMovimento					NUMERIC(18, 2),
	@p_idOrigemUtilizacao				INT,
	@p_numeroOrigemUtilizacao			NUMERIC(18, 0),
	@p_numeroPedidoOrigemUtilizacao		NUMERIC(18, 0),

	@p_codigoUsuario					NUMERIC(18,0),
			
	@p_codigoErro						INT OUTPUT,
	@p_descErro							NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas				INT OUTPUT
	
AS

DECLARE @v_codigoPessoaCampanhaPontosSaldo	numeric(18,0)

BEGIN TRY

	    SELECT @p_qtdeLinhasAfetadas = 0

		-- Primeiramente vamos buscar a informação do saldo para a pessoa na campanha informada
		SELECT @v_codigoPessoaCampanhaPontosSaldo = ISNULL(MAX(CD_PESSOA_CAMPANHA_PONTOS_SALDO),0)
		  FROM TB_PESSOA_CAMPANHA_PONTOS_SALDO
		 WHERE CD_PESSOA = @p_codigoPessoa
		   AND CD_CAMPANHA = @p_codigoCampanha

		IF @v_codigoPessoaCampanhaPontosSaldo = 0
			BEGIN
				--NESTE CASO É A PRIMEIRA MOVIMENTAÇÃO DE PONTOS NA CAMPANHA PARA A PESSOA, VAMOS INSERIR O PRIMEIRO HEADER PARA O SALDO
				INSERT INTO TB_PESSOA_CAMPANHA_PONTOS_SALDO
					(CD_PESSOA,
					 CD_CAMPANHA,
					 VL_SALDO_CONQUISTADO,
					 VL_SALDO_UTILIZADO,
					 VL_SALDO_EXPIRAR,
					 VL_SALDO_EXPIRADO,
					 DT_CRIACAO,
					 CD_USUARIO_CRIACAO)
				VALUES (@p_codigoPessoa,
						@p_codigoCampanha,
						0,
						0,
						0,
						0,
						getdate(),
						@p_codigoUsuario)

				SELECT @v_codigoPessoaCampanhaPontosSaldo = IDENT_CURRENT('TB_PESSOA_CAMPANHA_PONTOS_SALDO')

			END
		
		-- Crédito / SALDO A EXPIRAR
		IF @p_idTipoMovimento = 1
			BEGIN
				--INSERE A INFORMAÇÃO NO HISTÓRICO
				INSERT INTO TB_PESSOA_CAMPANHA_PONTOS_SALDO_HISTORICO
					(CD_PESSOA_CAMPANHA_PONTOS_SALDO,
					 DT_MOVIMENTO,
					 ID_TIPO_MOVIMENTO,
					 ID_ORIGEM_MOVIMENTO,
					 NM_ORIGEM_MOVIMENTO,
					 NM_PEDIDO_ORIGEM_MOVIMENTO,
					 VL_MOVIMENTO,
					 DT_EXPIRACAO,
					 DT_CRIACAO,
					 CD_USUARIO_CRIACAO)
				VALUES (@v_codigoPessoaCampanhaPontosSaldo,
						GETDATE(),
						@p_idTipoMovimento,
						@p_idOrigemMovimento,
						@p_numeroOrigemMovimento,
						@p_numeroPedidoOrigemMovimento,
						@p_valorMovimento,
						NULL,
						GETDATE(),
						@p_codigoUsuario)

				-- AGORA VAMOS CONSOLIDAR A PONTUAÇÃO NO SALDO DA CAMPANHA
				UPDATE TB_PESSOA_CAMPANHA_PONTOS_SALDO
				   SET VL_SALDO_CONQUISTADO += @p_valorMovimento
				 WHERE CD_PESSOA_CAMPANHA_PONTOS_SALDO = @v_codigoPessoaCampanhaPontosSaldo

			END

		-- DÉBITO / UTILIZAÇÃO
		IF @p_idTipoMovimento = 2
			BEGIN
				--INSERE A INFORMAÇÃO NO HISTÓRICO
				INSERT INTO TB_PESSOA_CAMPANHA_PONTOS_SALDO_HISTORICO
					(CD_PESSOA_CAMPANHA_PONTOS_SALDO,
					 DT_MOVIMENTO,
					 ID_TIPO_MOVIMENTO,
					 ID_ORIGEM_MOVIMENTO,
					 NM_ORIGEM_MOVIMENTO,
					 NM_ORIGEM_UTILIZACAO,
					 NM_PEDIDO_ORIGEM_UTILIZACAO,
					 VL_MOVIMENTO,
					 DT_UTILIZACAO,
					 DT_CRIACAO,
					 CD_USUARIO_CRIACAO)
				VALUES (@v_codigoPessoaCampanhaPontosSaldo,
						GETDATE(),
						@p_idTipoMovimento,
						@p_idOrigemMovimento,
						@p_numeroOrigemMovimento,
						@p_numeroOrigemUtilizacao,
						@p_numeroPedidoOrigemUtilizacao,
						@p_valorMovimento,
						GETDATE(),
						GETDATE(),
						@p_codigoUsuario)

				-- AGORA VAMOS CONSOLIDAR A PONTUAÇÃO NO SALDO DA CAMPANHA
				UPDATE TB_PESSOA_CAMPANHA_PONTOS_SALDO
				   SET VL_SALDO_UTILIZADO += @p_valorMovimento
				 WHERE CD_PESSOA_CAMPANHA_PONTOS_SALDO = @v_codigoPessoaCampanhaPontosSaldo
			END

		
		-- EXPIRAÇÃO DE PONTOS
		IF @p_idTipoMovimento = 3
			BEGIN
				--OBS.: ATUALMENTE (23/07/18) NÃO COLOCAMOS NA CAMPANHA DE PONTOS A OPÇÃO DE EXPIRAR PONTOS
				--ESTE TRATAMENTO DEVERÁ SER IMPLEMENTADO NO FUTURO POIS ESTA NECESSIDADE SURGIRÁ MUITO PROVAVELMENTE

				--INSERE A INFORMAÇÃO NO HISTÓRICO
				INSERT INTO TB_PESSOA_CAMPANHA_PONTOS_SALDO_HISTORICO
					(CD_PESSOA_CAMPANHA_PONTOS_SALDO,
					 DT_MOVIMENTO,
					 ID_TIPO_MOVIMENTO,
					 ID_ORIGEM_MOVIMENTO,
					 NM_ORIGEM_MOVIMENTO,
					 NM_PEDIDO_ORIGEM_MOVIMENTO,
					 VL_MOVIMENTO,
					 DT_EXPIRACAO,
					 DT_CRIACAO,
					 CD_USUARIO_CRIACAO)
				VALUES (@v_codigoPessoaCampanhaPontosSaldo,
						GETDATE(),
						@p_idTipoMovimento,
						@p_idOrigemMovimento,
						@p_numeroOrigemMovimento,
						@p_numeroPedidoOrigemMovimento,
						@p_valorMovimento,
						GETDATE(),
						GETDATE(),
						@p_codigoUsuario)

				-- AGORA VAMOS CONSOLIDAR A PONTUAÇÃO NO SALDO DA CAMPANHA
				UPDATE TB_PESSOA_CAMPANHA_PONTOS_SALDO
				   SET VL_SALDO_EXPIRADO += @p_valorMovimento
				 WHERE CD_PESSOA_CAMPANHA_PONTOS_SALDO = @v_codigoPessoaCampanhaPontosSaldo
			END

										
		SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
		SELECT @p_codigoErro = 0, @p_descErro = ''
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
