SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ENVIA_EMAIL]

AS



EXEC msdb.dbo.sp_send_dbmail
    @profile_name = 'Envio_Email_Automatico',
    @recipients = 'adasilv99@uol.com.br',
    @body = 'The stored procedure finished successfully.',
    @subject = 'Automated Success Message' ;
	

GO
