SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorAtualizaEstoque]
	@CD_MATERIAL_EXTERNO				VARCHAR(80),
	@CD_MATERIAL						NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @V_CD				NUMERIC(18,0)
DECLARE @V_ARMAZEM			NUMERIC(18,0)

DECLARE @QT_DISPONIVEL_VENDA_SENIOR			NUMERIC(18,0)
DECLARE @VL_PRECO_UNITARIO_ULTIMA_COMPRA	NUMERIC(18,0)

DECLARE @QT_ESTOQUE_DISPONIVEL_ATS			NUMERIC(18,0)
DECLARE @QT_ESTOQUE_EMPENHADO_ATS			NUMERIC(18,0)
DECLARE @QT_ESTOQUE_ATS						NUMERIC(18,0)

DECLARE @ID_CENTRO_ESTOQUE					INTEGER
DECLARE @NM_DOCUMENTO						INTEGER
DECLARE @DC_REFERENCIA						VARCHAR(50)

DECLARE @CD_TIPO_MOV_ESTOQUE				INTEGER
DECLARE @QT_MOVIMENTADO						NUMERIC(18,0)
DECLARE @VL_UNITARIO						NUMERIC(18,2)

DECLARE @QT_REGISTROS						INT
	


BEGIN TRY
	
	SELECT @VAR_RETORNO = 0
	SELECT @QT_LINHAS_AFETADAS = 0


	SELECT @ID_CENTRO_ESTOQUE = 1  --Estoque Disponivel
    SELECT @NM_DOCUMENTO = 0
    SELECT @DC_REFERENCIA = 'AJUSTE ESTOQUE INTEGRAÇÃO'
	

	-- *****************************************************************
	-- VAMOS BUSCAR AS INFORMAÇÕES DE CD E ARMAZEM
	-- *****************************************************************
	 SELECT @V_ARMAZEM = MIN(CD_ARMAZEM), 
			@V_CD = CD_CENTRO_DISTRIBUICAO 
     FROM TB_ARMAZEM 
     WHERE CD_CENTRO_DISTRIBUICAO In ( 
			SELECT MIN(CD_CENTRO_DISTRIBUICAO) CD_CENTRO_DISTRIBUICAO 
			FROM TB_CENTRO_DISTRIBUICAO 
			WHERE ID_SITUACAO = 1) 
     GROUP BY CD_CENTRO_DISTRIBUICAO 
	 

	-- *****************************************************************
	-- VAMOS BUSCAR ESTOQUE NO ATS
	-- *****************************************************************
	--SELECT	@QT_ESTOQUE_DISPONIVEL_ATS = E.QT_ESTOQUE_DISPONIVEL, 
	--		@QT_ESTOQUE_EMPENHADO_ATS = E.QT_ESTOQUE_EMPENHADO,
	--		@QT_ESTOQUE_ATS = E.QT_ESTOQUE_DISPONIVEL + E.QT_ESTOQUE_EMPENHADO
	--FROM TB_ESTOQUE E 
	--WHERE E.CD_CENTRO_DISTRIBUICAO = @V_CD
	--AND E.CD_ARMAZEM = @V_ARMAZEM
	--AND E.CD_MATERIAL = @CD_MATERIAL


	SELECT	@QT_ESTOQUE_DISPONIVEL_ATS = E.QT_ESTOQUE_DISPONIVEL, 
			@QT_ESTOQUE_EMPENHADO_ATS = E.QT_ESTOQUE_EMPENHADO,
			@QT_ESTOQUE_ATS = E.QT_ESTOQUE_DISPONIVEL 
	FROM TB_ESTOQUE E 
	WHERE E.CD_CENTRO_DISTRIBUICAO = @V_CD
	AND E.CD_ARMAZEM = @V_ARMAZEM
	AND E.CD_MATERIAL = @CD_MATERIAL

		 	 
	-- *****************************************************************
	--  VERIFICA SE TEM ESTOQUE NA TABELA TEMPORARIA
	-- *****************************************************************
	SELECT	@QT_REGISTROS = COUNT(*) 
    FROM TB_WRK_SENIOR_ESTOQUE 
    WHERE CD_PRODUTO_VENDA_EXTERNO = @CD_MATERIAL_EXTERNO
	AND CD_DEPOSITO = '07'

	IF @QT_REGISTROS = 0 
		BEGIN

			SELECT @CD_TIPO_MOV_ESTOQUE = 12 --SAIDA por Integração
			SELECT @QT_MOVIMENTADO = @QT_ESTOQUE_ATS *-1
			SELECT @VL_UNITARIO = 0

			EXEC SP_CAD_MOV_ESTOQUE
					@V_CD,
					@V_ARMAZEM,
					@CD_MATERIAL,
					@QT_MOVIMENTADO,
					@CD_TIPO_MOV_ESTOQUE,
					@ID_CENTRO_ESTOQUE,
					@VL_UNITARIO,
					@NM_DOCUMENTO,
					@DC_REFERENCIA,
					-1,
					'I',
					@VAR_RETORNO		OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT

			UPDATE TB_ESTOQUE 
			SET QT_ESTOQUE_DISPONIVEL = 0				
			WHERE CD_MATERIAL = @CD_MATERIAL 
			AND CD_CENTRO_DISTRIBUICAO = @V_CD 
			AND CD_ARMAZEM = @V_ARMAZEM

			SELECT @VAR_RETORNO = 0
			SELECT @DC_ERRO = 'OK - Material: ' + CONVERT(VARCHAR(80), @CD_MATERIAL) + ' atualizado com sucesso. Estoque atual ATS:' + CONVERT(VARCHAR(80), @QT_ESTOQUE_ATS) + '. Estoque Atual Senior: Sem estoque. Qtd Movimentada: ' + CONVERT(VARCHAR(80), @QT_ESTOQUE_ATS)
			
		END
	ELSE
		BEGIN
		 	 
			-- *****************************************************************
			--  BUSCA O ESTOQUE NA TABELA TEMPORARIA
			-- *****************************************************************
			SELECT	@QT_DISPONIVEL_VENDA_SENIOR = QT_DISPONIVEL_VENDA, 
					@VL_PRECO_UNITARIO_ULTIMA_COMPRA = VL_PRECO_UNITARIO_ULTIMA_COMPRA
			FROM TB_WRK_SENIOR_ESTOQUE 
			WHERE CD_PRODUTO_VENDA_EXTERNO = @CD_MATERIAL_EXTERNO
			AND CD_DEPOSITO = '07'
	
	
			IF @QT_DISPONIVEL_VENDA_SENIOR > 0 
				BEGIN

					IF @QT_DISPONIVEL_VENDA_SENIOR - @QT_ESTOQUE_ATS <> 0
						BEGIN
							IF @QT_DISPONIVEL_VENDA_SENIOR - @QT_ESTOQUE_ATS > 0
								BEGIN
									SELECT @CD_TIPO_MOV_ESTOQUE = 11 --Entrada por Integração
									SELECT @QT_MOVIMENTADO = @QT_DISPONIVEL_VENDA_SENIOR - @QT_ESTOQUE_ATS
									SELECT @VL_UNITARIO = @VL_PRECO_UNITARIO_ULTIMA_COMPRA
								END
								
							IF @QT_DISPONIVEL_VENDA_SENIOR - @QT_ESTOQUE_ATS < 0
								BEGIN
									SELECT @CD_TIPO_MOV_ESTOQUE = 12 --SAIDA por Integração
									SELECT @QT_MOVIMENTADO = (@QT_DISPONIVEL_VENDA_SENIOR - @QT_ESTOQUE_ATS) *-1
									SELECT @VL_UNITARIO = @VL_PRECO_UNITARIO_ULTIMA_COMPRA
								END
								
							EXEC SP_CAD_MOV_ESTOQUE
								@V_CD,
								@V_ARMAZEM,
								@CD_MATERIAL,
								@QT_MOVIMENTADO,
								@CD_TIPO_MOV_ESTOQUE,
								@ID_CENTRO_ESTOQUE,
								@VL_UNITARIO,
								@NM_DOCUMENTO,
								@DC_REFERENCIA,
								-1,
								'I',
								@VAR_RETORNO		OUTPUT,
								@DC_ERRO			OUTPUT,
								@QT_LINHAS_AFETADAS OUTPUT

							--UPDATE TB_ESTOQUE 
							--SET QT_ESTOQUE_DISPONIVEL = @QT_DISPONIVEL_VENDA_SENIOR - @QT_ESTOQUE_EMPENHADO_ATS					WHERE CD_MATERIAL = @CD_MATERIAL 
							--And CD_CENTRO_DISTRIBUICAO = @V_CD 
							--And CD_ARMAZEM = @V_ARMAZEM

							UPDATE TB_ESTOQUE 
							SET QT_ESTOQUE_DISPONIVEL = @QT_DISPONIVEL_VENDA_SENIOR 				
							WHERE CD_MATERIAL = @CD_MATERIAL 
							And CD_CENTRO_DISTRIBUICAO = @V_CD 
							And CD_ARMAZEM = @V_ARMAZEM

							SELECT @VAR_RETORNO = 0
							SELECT @DC_ERRO = 'OK - Material: ' + CONVERT(VARCHAR(80), @CD_MATERIAL) + ' atualizado com sucesso. Estoque atual ATS:' + CONVERT(VARCHAR(80), @QT_ESTOQUE_ATS) + '. Estoque Atual Senior: ' + CONVERT(VARCHAR(80), @QT_DISPONIVEL_VENDA_SENIOR) + '. Qtd Movimentada: ' + CONVERT(VARCHAR(80), @QT_MOVIMENTADO)
				
						END
					ELSE
						BEGIN 

							SELECT @QT_MOVIMENTADO = (@QT_DISPONIVEL_VENDA_SENIOR - @QT_ESTOQUE_ATS) 

							SELECT @VAR_RETORNO = 0
							SELECT @DC_ERRO = 'OK - Material: ' + CONVERT(VARCHAR(80), @CD_MATERIAL) + ' não foi atualizado pois estoque Senior é igual a estoque ATS. Estoque atual ATS:' + CONVERT(VARCHAR(80), @QT_ESTOQUE_ATS) + '. Estoque Atual Senior: ' + CONVERT(VARCHAR(80), @QT_DISPONIVEL_VENDA_SENIOR) + '. Qtd Movimentada: ' + CONVERT(VARCHAR(80),@QT_MOVIMENTADO)
						END

				END
			ELSE
				BEGIN

					-- CASO O ESTOQUE NO SENIOR SEJA MENOR OU IGUAL A ZERO TEMOS QUE VERIFICAR SE EXISTE ESTOQUE DISPONIVEL NO ATS E TEMOS QUE LIMPAR ESSE ESTOQUE
					SELECT @CD_TIPO_MOV_ESTOQUE = 12 --SAIDA por Integração
					--SELECT @QT_MOVIMENTADO = @QT_ESTOQUE_ATS *-1
					SELECT @QT_MOVIMENTADO = @QT_ESTOQUE_ATS
					SELECT @VL_UNITARIO = 0
					EXEC SP_CAD_MOV_ESTOQUE
							@V_CD,
							@V_ARMAZEM,
							@CD_MATERIAL,
							@QT_MOVIMENTADO,
							@CD_TIPO_MOV_ESTOQUE,
							@ID_CENTRO_ESTOQUE,
							@VL_UNITARIO,
							@NM_DOCUMENTO,
							@DC_REFERENCIA,
							-1,
							'I',
							@VAR_RETORNO		OUTPUT,
							@DC_ERRO			OUTPUT,
							@QT_LINHAS_AFETADAS OUTPUT

					UPDATE TB_ESTOQUE 
					SET QT_ESTOQUE_DISPONIVEL = 0				
					WHERE CD_MATERIAL = @CD_MATERIAL 
					AND CD_CENTRO_DISTRIBUICAO = @V_CD 
					AND CD_ARMAZEM = @V_ARMAZEM
				
					SELECT @VAR_RETORNO = 0
					SELECT @DC_ERRO = 'OK - Material: ' + CONVERT(VARCHAR(80), @CD_MATERIAL) + ' atualizado com sucesso. Estoque atual ATS:' + CONVERT(VARCHAR(80), @QT_ESTOQUE_ATS) + '. Estoque Atual Senior: ' + CONVERT(VARCHAR(80), @QT_DISPONIVEL_VENDA_SENIOR) + '. Qtd Movimentada: ' + CONVERT(VARCHAR(80), @QT_MOVIMENTADO)
				
				END
					
		END -- ELSE @IF @QT_REGISTROS = 0

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = 'ERRO - ' + ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
