SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_BAIXA_CONCILIACAO_BKP]
  	@NM_TITULO numeric(18, 0),
	@VL_PAGO numeric(18, 2),
	@CD_ENTIDADE_CONCILIACAO numeric(18,0),
	@ID_TIPO_CONCILIACAO int,
	@DC_OBSERVACOES_CONCILIACAO varchar(max),
			
	@CD_USUARIO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS
DECLARE @CD_DIVIDA					NUMERIC(18,0),
		@CD_ACORDO_PAGAMENTO		NUMERIC(18,0),
		@VALOR_SALDO_DIVIDA			NUMERIC(18,2),
		@SITUACAO_PARCELA			INT,
		@SITUACAO_DIVIDA			INT,
		@V_QTD_TITULOS_VENCIDOS		INT,
		@VL_CREDITO_PARCELA			NUMERIC(18,2),
		@VL_CREDITO_ATUALIZADO		NUMERIC(18,2),
		@VL_ORIGINAL_PARCELA_SALDO	NUMERIC(18,2),
		@VL_ORIGINAL_DIVIDA_SALDO	NUMERIC(18,2),
		@VL_ATUALIZADO_PARCELA		NUMERIC(18,2),
		@VL_SALDO_ATUALIZADO		NUMERIC(18,2),
		@CD_FUNCAO					NUMERIC(18,0),
		@CD_PESSOA					NUMERIC(18,0),
		@NM_PEDIDO					NUMERIC(18,0),
		@NM_CICLO_PAGAMENTO			NUMERIC(18,0),
		@CD_EST_COMERCIAL			NUMERIC(18,0),
		@cursor_itens				CURSOR,
		@NM_PEDIDO_ITEM				NUMERIC(18), 
		@ID_GERA_SALDO_FAVOR		INT, 
		@VL_SALDO_FAVOR_GERAR		NUMERIC(18,2),
		@QT_FACTORING				INT,
		@VL_PARAMETRO_8_9                NUMERIC(18,2)
		
BEGIN TRY
	SELECT @QT_LINHAS_AFETADAS = 0
	
	-- **************************************************
	-- BUSCA INFORMA??O DE PESSOA E FUNCAO
	-- **************************************************
	SELECT  @CD_PESSOA = PE.CD_PESSOA,
		 	@CD_FUNCAO =  PE.CD_FUNCAO,
		 	@NM_PEDIDO = PE.NM_PEDIDO,
		 	@CD_EST_COMERCIAL = PE.CD_EST_COMERCIAL,
		 	@VL_ORIGINAL_DIVIDA_SALDO = D.VL_ORIGINAL_DIVIDA_SALDO,
			@SITUACAO_DIVIDA = D.ID_SITUACAO_PAGAMENTO
	FROM TB_PARCELA P, TB_DIVIDA D, TB_PEDIDO PE
	WHERE P.CD_DIVIDA = D.CD_DIVIDA
	AND D.NM_PEDIDO = PE.NM_PEDIDO
	AND P.CD_PARCELA = @NM_TITULO
	
	
	-- *****************************************************
    -- BUSCA CICLO ATUAL DA PESSOA
    -- *****************************************************
    SELECT @NM_CICLO_PAGAMENTO = A.NM_CICLO_ATUAL
	FROM TB_PESSOA_RESUMO A, TB_PEDIDO B
	WHERE A.CD_PESSOA = B.CD_PESSOA
	AND B.NM_PEDIDO = @NM_PEDIDO
	and A.CD_FUNCAO = B.CD_FUNCAO
	
	
	-- **************************************************
	-- BUSCA INFORMA??O DE DIVIDA
	-- **************************************************
	-- Atualiza??o por Diego zilioti, vamos colocar uma gambeta no saldo atualizado pois est? ocorrendo um problema
	-- Quando a d?vida ? paga em dia por?m no sistema ? feita a baixa com ela vencida sobra um saldo devedor pois a data de pgto real n?o ? considerada
	SELECT	@CD_DIVIDA = CD_DIVIDA,
			@CD_ACORDO_PAGAMENTO = CD_ACORDO_PAGAMENTO,
			@SITUACAO_PARCELA = ID_SITUACAO_PAGAMENTO_PARCELA,
			@VL_CREDITO_PARCELA = VL_CREDITO_PARCELA_SALDO,
			@VL_ORIGINAL_PARCELA_SALDO = VL_ORIGINAL_PARCELA_SALDO,
			@VL_ATUALIZADO_PARCELA = VL_ATUALIZADO_PARCELA,
			@VL_SALDO_ATUALIZADO = VL_ORIGINAL_PARCELA_SALDO - @VL_PAGO
	FROM TB_PARCELA
	WHERE CD_PARCELA = @NM_TITULO
	
	INSERT INTO TB_TESTE_BAIXA_CONCILIACAO VALUES (@NM_TITULO, 'ETAPA 1')

	-- SE A PARCELA ESTIVER CANCELADA SAI DA ROTINA
	IF @SITUACAO_PARCELA = 4
		BEGIN
		
			SELECT @VAR_RETORNO = 1
			SELECT @DC_ERRO = 'PARCELA SE ENCONTRA CANCELADA'
			
			RETURN
		
		END
		
	IF @SITUACAO_PARCELA = 2
		BEGIN
		
			SELECT @VAR_RETORNO = 1
			SELECT @DC_ERRO = 'PARCELA SE ENCONTRA QUITADA'
			
			RETURN
		
		END
	
	IF @VL_SALDO_ATUALIZADO <= 0
		BEGIN
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
		FOR
			select NM_PEDIDO_ITEM,ISNULL(ID_GERA_SALDO_FAVOR,0),ISNULL(VL_SALDO_FAVOR_GERAR,0) from tb_pedido_item WHERE NM_PEDIDO = @NM_PEDIDO
		     
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO @NM_PEDIDO_ITEM, @ID_GERA_SALDO_FAVOR, @VL_SALDO_FAVOR_GERAR
		WHILE @@FETCH_STATUS = 0
			BEGIN
				IF @VL_SALDO_FAVOR_GERAR > 0 
					BEGIN
						EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						@CD_PESSOA,		       -- C?DIGO DA PESSOA J? INFORMADO NA PROC
						@CD_FUNCAO,		       -- FUN??O DA PESSOA J? INFORMADO NA PROC
						2,				       -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						1,			           -- TIPO_MOVIMENTO = CREDITO
						10,					   -- ORIGEM_MOVIMENTO = PRODUTO
						@NM_PEDIDO_ITEM,	   -- OBTER O NM_PEDIDO_ITEM DO ITEM EM QUEST?O
						20,					   -- ELEMENTO FINANCEIRO = CRIA??O DE SALDO A FAVOR
						@VL_SALDO_FAVOR_GERAR, -- INFORMA??O DO VL_SALDO_FAVOR_GERAR DO ITEM EM QUEST?O
						@CD_USUARIO,
						@VAR_RETORNO		OUTPUT,
						@DC_ERRO			OUTPUT,
						@QT_LINHAS_AFETADAS	OUTPUT
					END
         
				FETCH NEXT FROM @Cursor_Itens
				INTO @NM_PEDIDO_ITEM, @ID_GERA_SALDO_FAVOR, @VL_SALDO_FAVOR_GERAR
			END
			-- INICIA A TRANSA??O
			BEGIN TRANSACTION 
			
			-- **************************************************
			-- ALTERA A TABELA DE TB_PARCELA
			-- **************************************************
			UPDATE TB_PARCELA SET
			VL_ORIGINAL_PARCELA_SALDO = 0,
			VL_CREDITO_PARCELA_SALDO = 0,
			VL_ATUALIZADO_PARCELA = 0,
			ID_SITUACAO_PARCELA = 2, -- FECHADO
			ID_SITUACAO_PAGAMENTO_PARCELA = 2 -- QUITADO
			WHERE CD_PARCELA = @NM_TITULO


			
			commit transaction
			-- ***************************************************************************************************************
			-- ALTERA??O FEITA POR ANDERSON - 08/01/2018
			-- VEJA UM CENARIO ABAIXO
			-- NO DIA 08/01/2018 NO PROCESSO NOTURNO A PROC QUE VERIFICA
			-- AS DIVIDAS VENCIDAS FOI EXECUTADA E IDENTIFICOU QUE UMA DAS PARCELAS DA DIVIDA
			-- ESTAVA VENCIDA
			-- A DIVIDA TINHA 3 PARCELAS E A PRIMEIRA COMO FOI DITO FOI MARCADA COMO VENCIDA NO PROCESSAMENTO NOTURNO
			-- ATE AI O PROCESSO ESTA CORRETO
			-- O PROBLEMA ? QUE DURANTE O DIA 08/01/2018 FOI FEITO UM PAGAMENTO DESSA PARCELA EM ATRASO
			-- ASSIM O SISTEMA QUITOU A PARCELA
			-- ENTRETANTO A SITUA??O DE 3 (VENCIDA) DA DIVIDA N?O FOI ALTERADA, ASSIM A DIVIDA AINDA CONSTA COMO VENCIDA
			-- A QUESTAO ? QUE AS PROXIMAS PARCELAS S?O DE FEVEREIRO E MAR?O, OU SEJA A DIVIDA N?O ESTA MAIS VENCIDA
			-- EXISTE UM PROBLEMA MAIOR. COM ESSE FLAG NA TB_DIVIDA BLOQUEIA A CAPTA??O DE PEDIDOS DA PESSOA
			-- OU SEJA, AO FAZER PEDIDO INFORMA QUE EXISTE DIVIDA VENCIDA, MAS NA VERDADE N?O TEMMAIS PARCELAS EM ATRASO
			-- DESSA MANEIRA PRECISAMOS FAZER UM ACERTO NESSA PARTE. AO QUITAR UMA PARCELA TEMOS QUE VERIFICAR
			-- SE A DIVIDA ESTA IGUAL A 3 E DEVEMOS VERIFICAR SE VAMOS MANTER O 3 (CASO TENHA OUTRAS PARCELAS VENCIDAS)
			-- OU IGUAL 1 (EM QUE TEM PARCELAS N?O VENCIDAS)
			-- ***************************************************************************************************************
			IF @SITUACAO_DIVIDA = 3 
				BEGIN
					
					SELECT	@V_QTD_TITULOS_VENCIDOS = COUNT(*)
					FROM TB_PARCELA
					WHERE ID_SITUACAO_PAGAMENTO_PARCELA IN (1,3) -- ABERTAS E VENCIDAS
					AND   CD_DIVIDA = @CD_DIVIDA
					AND DATEDIFF(DAY, GETDATE(),DT_VENCIMENTO) <0
					IF @V_QTD_TITULOS_VENCIDOS = 0 
						BEGIN
							UPDATE TB_DIVIDA SET
									ID_SITUACAO_PAGAMENTO = 1
							WHERE CD_DIVIDA = @CD_DIVIDA
						END
				END
			-- NA PIERRE QUANDO FOR COCNILIA??O DE FACTORING N?O PODEMOS GERAR SALDO A FAVOR
			SELECT @QT_FACTORING = COUNT(*)
			FROM TB_ENTIDADE_CONCILIACAO
			WHERE ID_TIPO_ENTIDADE_CONCILIACAO = 4
			AND CD_ENTIDADE_CONCILIACAO = @CD_ENTIDADE_CONCILIACAO
			
			if @VL_SALDO_ATUALIZADO < 0 AND @QT_FACTORING >=1
				begin
					-- GERAR SALDO A FAVOR
					SELECT @VL_SALDO_ATUALIZADO = @VL_SALDO_ATUALIZADO * -1
					
					EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						@CD_PESSOA,
						@CD_FUNCAO,
						2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						1, -- TIPO_MOVIMENTO = CREDITO
						6, -- ORIGEM_MOVIMENTO = PAGAMENTO A MAIOR
						@NM_PEDIDO,
						20, -- ELEMENTO FINANCEIRO = CRIA??O DE SALDO A FAVOR
						@VL_SALDO_ATUALIZADO,
						@CD_USUARIO,
						@VAR_RETORNO		OUTPUT,
						@DC_ERRO			OUTPUT,
						@QT_LINHAS_AFETADAS	OUTPUT	
				end


		END
	ELSE
		BEGIN
		
			IF @VL_ORIGINAL_PARCELA_SALDO >= @VL_SALDO_ATUALIZADO
				BEGIN
				
					-- ATUALIZA O VALOR DE CR?DITO PROPORCIONALMENTE AO % RESTANTE DA D?VIDA
					SELECT @VL_CREDITO_ATUALIZADO = @VL_CREDITO_PARCELA * ( 1 - (@VL_PAGO / @VL_ATUALIZADO_PARCELA))
					
					-- INICIA A TRANSA??O
					BEGIN TRANSACTION 
										
					-- **************************************************
					-- ALTERA A TABELA DE TB_PARCELA
					-- **************************************************
					UPDATE TB_PARCELA SET
					VL_ORIGINAL_PARCELA_SALDO = @VL_SALDO_ATUALIZADO,
					VL_ATUALIZADO_PARCELA = @VL_SALDO_ATUALIZADO,
					VL_CREDITO_PARCELA_SALDO = @VL_CREDITO_ATUALIZADO
					WHERE CD_PARCELA = @NM_TITULO
					
					COMMIT TRANSACTION
				END
			ELSE
				BEGIN
					
					-- INICIA A TRANSA??O
					BEGIN TRANSACTION 
					
					-- **************************************************
					-- ALTERA A TABELA DE TB_PARCELA
					-- **************************************************
					UPDATE TB_PARCELA SET
					VL_ATUALIZADO_PARCELA = @VL_SALDO_ATUALIZADO
					WHERE CD_PARCELA = @NM_TITULO
					
					COMMIT TRANSACTION
					
				END
			
		END
		
	INSERT INTO TB_TESTE_BAIXA_CONCILIACAO VALUES (@NM_TITULO, 'ETAPA 2')

	SELECT @VALOR_SALDO_DIVIDA = SUM(VL_ATUALIZADO_PARCELA)
	FROM TB_PARCELA
	WHERE CD_DIVIDA = @CD_DIVIDA
	
	-- **************************************************
	-- ALTERA A TABELA DE TB_DIVIDA
	-- **************************************************
	IF @VL_ORIGINAL_DIVIDA_SALDO > @VALOR_SALDO_DIVIDA
		BEGIN
			BEGIN TRANSACTION
	
			UPDATE TB_DIVIDA 
			SET	VL_ATUALIZADO_DIVIDA = @VALOR_SALDO_DIVIDA
			WHERE CD_DIVIDA = @CD_DIVIDA
			COMMIT TRANSACTION
		END
	ELSE
		BEGIN
			BEGIN TRANSACTION
	
			UPDATE TB_DIVIDA 
			SET	VL_ATUALIZADO_DIVIDA = @VALOR_SALDO_DIVIDA,
				VL_ORIGINAL_DIVIDA_SALDO = @VALOR_SALDO_DIVIDA
			WHERE CD_DIVIDA = @CD_DIVIDA
			COMMIT TRANSACTION
		END
	
	
	-- **************************************************
	-- VERIFICA SE VALOR DA DIVIDA ESTA EM 0
	-- **************************************************
	SELECT @VALOR_SALDO_DIVIDA = VL_ATUALIZADO_DIVIDA
	FROM TB_DIVIDA
	WHERE CD_DIVIDA = @CD_DIVIDA
    
	-- BUSCA O VALOR DO PARAMETRO DE PAGAMENTO A MENOR
    SELECT @VL_PARAMETRO_8_9 = ISNULL(MAX(VL_PARAMETRO),0) FROM TB_VALOR_PARAMETRO
    WHERE CD_GRUPO_PARAMETRO = 8
    AND CD_PARAMETRO = 9

	IF (  (@VALOR_SALDO_DIVIDA <= 0) OR (@VALOR_SALDO_DIVIDA <= @VL_PARAMETRO_8_9) )
		BEGIN
			if  ((@VALOR_SALDO_DIVIDA <= @VL_PARAMETRO_8_9) AND (@VALOR_SALDO_DIVIDA > 0))
			BEGIN
				UPDATE TB_PARCELA SET
				VL_ORIGINAL_PARCELA_SALDO = 0,
				VL_CREDITO_PARCELA_SALDO = 0,
				VL_ATUALIZADO_PARCELA = 0,
				ID_SITUACAO_PARCELA = 2, -- FECHADO
				ID_SITUACAO_PAGAMENTO_PARCELA = 2 -- QUITADO
				WHERE CD_DIVIDA = @CD_DIVIDA
			END
		-- INICIA A TRANSA??O
			BEGIN TRANSACTION 
				
			UPDATE TB_DIVIDA SET
				VL_CREDITO_DIVIDA_SALDO = 0,
				VL_ORIGINAL_DIVIDA_SALDO = 0,
				VL_ATUALIZADO_DIVIDA = 0
			WHERE CD_DIVIDA = @CD_DIVIDA
		
			-- **************************************************
			-- FECHA A SITUA??O DO ACORDO DE PAGAMENTO
			-- **************************************************
			UPDATE TB_ACORDO_PAGAMENTO SET
			ID_SITUACAO_ACORDO_PAGAMENTO = 2
			WHERE CD_ACORDO_PAGAMENTO = @CD_ACORDO_PAGAMENTO
			AND CD_DIVIDA = @CD_DIVIDA
			
			-- **************************************************
			-- FECHA A SIATUACAO DA DIVIDA
			-- **************************************************
			UPDATE TB_DIVIDA SET
			ID_SITUACAO_DIVIDA = 2,
			ID_SITUACAO_PAGAMENTO = 2,
			DT_SALDO_DEVEDOR = GETDATE()
			WHERE CD_DIVIDA = @CD_DIVIDA
			
			
			-- **************************************************
			-- GRAVA O CICLO DE PAGAMENTO NA TABELA TB_PEDIDO
			-- S? GRAVA ESSA INFORMA??O QUANDO QUITAR A DIVIDA
			-- **************************************************
			UPDATE TB_PEDIDO SET
					NM_CICLO_PAGAMENTO = @NM_CICLO_PAGAMENTO,
					DT_PAGAMENTO_PEDIDO = GETDATE()
			WHERE NM_PEDIDO = @NM_PEDIDO
			
			
			COMMIT TRANSACTION
			
			-- ***************************************************
			-- VERIFICA CAMPANHA DE INDICA??O
			-- ***************************************************
			EXEC pr_CampanhaAplicaCampanhaIndicacao
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO_PAGAMENTO,
					@NM_PEDIDO,
					1,					-- EVENTO: PEDIDO PAGO
					@CD_USUARIO,
					@VAR_RETORNO		OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS	OUTPUT	
			-- ***************************************************
			-- VERIFICA CAMPANHA DE PONTOS
			-- ***************************************************
			EXEC pr_CampanhaAplicaCampanhaPontos
					@CD_PESSOA,
					@NM_PEDIDO,
					@CD_FUNCAO,
					@NM_CICLO_PAGAMENTO,
					1,					-- EVENTO: PEDIDO PAGO
					@CD_USUARIO,
					@VAR_RETORNO			OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS	OUTPUT
			-- **************************************************
			-- VERIFICA SE POSSUI PENDENCIA DE PAGAMENTO E 
			-- LIBERA A PENDENCIA
			-- **************************************************
			EXEC dbo.SP_LIBERA_PENDENCIA_PEDIDO
					@NM_PEDIDO,
					42,
					1, -- liberado automaticamente
					'Pedido Pago', -- motivo
					@CD_USUARIO,
					0,
					''
			-- *******************************************
			-- ENVIA EMAIL
			-- *******************************************
			EXEC pr_PedidoEnviarEmailMudancaStatus
				@NM_PEDIDO,			--@p_nmPedido					NUMERIC(18,0),
				6,					--@p_cdEvento					INT,
				@VAR_RETORNO		OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
								
			-- VERIFICA SE O VALOR DE SALDO ? NEGATIVO, NESTE CASO ATUALIZA O SALDO A FAVOR DA PESSOA
			IF @VALOR_SALDO_DIVIDA < 0
				BEGIN
					BEGIN TRANSACTION
					
					UPDATE TB_DIVIDA SET
					VL_ORIGINAL_DIVIDA_SALDO = 0
					--VL_CREDITO_DIVIDA_SALDO = VL_CREDITO_DIVIDA_SALDO - @VL_PAGO
					WHERE CD_DIVIDA = @CD_DIVIDA
					
					COMMIT TRANSACTION
					
				END
		END
	
	INSERT INTO TB_TESTE_BAIXA_CONCILIACAO VALUES (@NM_TITULO, 'ETAPA 3')

	-- **************************************************	
	-- ALTERA A TABELA PESSOA_RESUMO
	-- ATUALIZA O CREDITO DA PESSOA
	-- **************************************************
	exec dbo.SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
		@CD_PESSOA,
		@CD_FUNCAO,
		0,
		0,
		@CD_USUARIO	
	
	INSERT INTO TB_TESTE_BAIXA_CONCILIACAO VALUES (@NM_TITULO, 'ETAPA 4')

	-- INICIA A TRANSA??O
	BEGIN TRANSACTION 
	-- **************************************************
	-- INSERE REGISTRO NA TABELA TB_CONCILIACAO
	-- **************************************************
		INSERT INTO TB_CONCILIACAO (
			CD_ENTIDADE_CONCILIACAO,
			ID_TIPO_CONCILIACAO,
			DT_CONCILIACAO,
			DT_PROCESSAMENTO,
			VL_CONCILIACAO,
			CD_PARCELA,
			CD_DIVIDA,
			DT_CADASTRO,
			CD_USUARIO_CADASTRO,
			DT_ATUALIZACAO,
			CD_USUARIO_ATUALIZACAO,
			NM_CICLO_PAGAMENTO,
			DC_OBSERVACOES_CONCILIACAO)
		VALUES (
			@CD_ENTIDADE_CONCILIACAO,
			@ID_TIPO_CONCILIACAO,
			GETDATE(),
			GETDATE(),
			@VL_PAGO,
			@NM_TITULO,
			@CD_DIVIDA,
			GETDATE(),
			@CD_USUARIO,
			GETDATE(),
			@CD_USUARIO,
			@NM_CICLO_PAGAMENTO,
			@DC_OBSERVACOES_CONCILIACAO)
	
	INSERT INTO TB_TESTE_BAIXA_CONCILIACAO VALUES (@NM_TITULO, 'ETAPA 5')		
					
	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	COMMIT TRANSACTION
	
	-- ***************************************************
	-- ATUALIZA O CREDITO DA PESSOA
	-- ***************************************************	
    EXEC pr_PessoaAtualizaLimiteCredito
			0, 
        	@CD_PESSOA,
        	@CD_FUNCAO,
			2, -- CODIGO DO MOTIVO - ATUALIZA??O AUTOMATICA
			'PAGAMENTO PEDIDO', -- MOTIVO
			'', --@DT_INICIO_LIMITE_CREDITO
			'', --@DT_TERMINO_LIMITE_CREDITO
			0, -- VALOR DO CREDITO,
			'A',
			@CD_USUARIO,
			@VAR_RETORNO		OUTPUT,
			@DC_ERRO			OUTPUT,
			@QT_LINHAS_AFETADAS	OUTPUT	
	-- ***************************************************
	-- CALCULA INDICADOR DE PEDIDO PAGO
	-- ***************************************************
	exec SP_CALCULA_PESSOA_INDICADOR
			@CD_PESSOA,
			@CD_FUNCAO,
			@CD_EST_COMERCIAL,
			@NM_CICLO_PAGAMENTO,
			@NM_PEDIDO,
			4, -- PAGAMENTO DE PEDIDO
			2, -- INCREMENTAL
			1,      --CALCULA OS INDICADORES ON-LINE
			@CD_USUARIO,
			0,
			'',
			0
	-- ***************************************************
	-- ALTERA??O FEITA POR ANDERSON - 05/03/2018
	-- VERIFICA SE POSSUI AINDA DIVIDA VENCIDA
	-- POIS TEMOS QUE LIBERAR AS PENDENCIAS DE DIVIDA (CASO N?O TENHA MAIS DIVIDA VENCIDA)
	-- ***************************************************	
	EXEC pr_PedidoLiberaPendenciaDividaVencidaAutomaticamente
		@CD_PESSOA,
		@CD_USUARIO,
		@VAR_RETORNO			OUTPUT,
		@DC_ERRO				OUTPUT,
		@QT_LINHAS_AFETADAS		OUTPUT
	
	-- ***************************************************
	-- VERIFICA SE POSSUI PLANO DE ASSINATURA PARA ATIVAR
	-- ***************************************************	
	EXEC	pr_PlanoAssinaturaGerenciarPlano
		@CD_PESSOA,			--@p_cdPessoa								numeric(18,0),
		@NM_PEDIDO,			--@p_nmPedido								numeric(18,0),
		2,					--@p_idEvento								int,
		@CD_USUARIO,
		@VAR_RETORNO		OUTPUT,
		@DC_ERRO			OUTPUT,
		@QT_LINHAS_AFETADAS	OUTPUT	
	-- ***************************************************
	-- FIM - PLANO DE ASSINATURA
	-- ***************************************************	
	
	INSERT INTO TB_TESTE_BAIXA_CONCILIACAO VALUES (@NM_TITULO, 'ETAPA 6')	

	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
