SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaReativaConsultora]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoUsuario				numeric(18,0),
	@p_dcMotivoReativacao			varchar(max),


	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output

AS

DECLARE @NM_CICLO_ATUAL			AS NUMERIC(18,0),
		@v_codPapelCarreiraBase as numeric(18,0),
		@v_codPapelDesempBase	as numeric(18,0),
		@VL_PARAMETRO_PAPEL		AS INT
DECLARE @CD_EST_COMERCIAL NUMERIC(18,0)

DECLARE 	@v_descUsuario		VARCHAR(18)

--DECLARE	@v_qtdePedidosAbertos INT
DECLARE	@v_nmPedidoAprovado numeric(18,0)


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	-- *******************************************************************
	-- VERIFICA O CICLO EM QUE A PESSOA ESTA DESATIVADA
	-- *******************************************************************
	SELECT @NM_CICLO_ATUAL = NM_CICLO_ATUAL,
	       @CD_EST_COMERCIAL = CD_EST_COMERCIAL
	FROM TB_PESSOA_RESUMO with (nolock)
	WHERE CD_PESSOA = @p_codigoPessoa
	AND CD_FUNCAO = 2
	

	-- *******************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 19/10/2018
	-- PARA DETERMINAR SE O PAPEL SERÁ O BASE E O ATUAL VAMOS OLHAR O PARAMETRO
	-- ANTES ESTAVA PARA PEGAR O BASE MAS A PIERRE SOLICITOU PARA PEGAR O ATUAL
	-- POR ESSE MOTIVO COLOCAMOS EM PARAMETRO
	-- *******************************************************************
	SELECT @VL_PARAMETRO_PAPEL = VL_PARAMETRO 
	FROM TB_VALOR_PARAMETRO with (nolock)
	WHERE CD_GRUPO_PARAMETRO = 1
	AND CD_PARAMETRO = 14
	--AND VL_PARAMETRO = 1

	-- *******************************************************************
	-- SE FOR IGUAL A 1 NÃO PRECISA ALTERAR O TB_PESSOA_RESUMO/TB_PESSOA_PAPEL_HISTORICO/TB_PESSOA_PAPEL_HIST_DATA
	-- SE FOR IGUAL A 2 ALTERA PARA O PAPEL BASE
	-- *******************************************************************
	IF @VL_PARAMETRO_PAPEL= 2
		BEGIN

			-- *******************************************************************
			-- ALTERAÇÃO FEITA POR DIEGO ZILIOTI EM 18/04
			-- PRECISAMOS COLOCAR O PAPEL BASE QUANDO A PESSOA É REATIVADA
			-- *******************************************************************
			select @v_codPapelCarreiraBase = CD_PAPEL_CARREIRA 
			from TB_PAPEL_CARREIRA  with (nolock)
			where cd_funcao = 2 and NM_SEQUENCIA = 1
	
			select @v_codPapelDesempBase = CD_PAPEL_DESEMPENHO 
			from TB_PAPEL_DESEMPENHO  with (nolock)
			where cd_funcao = 2 and NM_SEQUENCIA = 1

			BEGIN TRANSACTION
			UPDATE TB_PESSOA_RESUMO
			SET CD_SITUACAO_COMERCIAL = 0,
				CD_PAPEL_CARREIRA = @v_codPapelCarreiraBase,
				CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase
			WHERE CD_FUNCAO = 2
			AND CD_PESSOA = @p_codigoPessoa
			COMMIT TRANSACTION

			BEGIN TRANSACTION
			UPDATE TB_PESSOA_PAPEL_HISTORICO
			SET CD_PAPEL_CARREIRA = @v_codPapelCarreiraBase,
				CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase
			WHERE CD_PESSOA = @p_codigoPessoa
			AND NM_CICLO = @NM_CICLO_ATUAL
			COMMIT TRANSACTION

			BEGIN TRANSACTION
			UPDATE TB_PESSOA_PAPEL_HIST_DATA
			SET CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase
			WHERE CD_PESSOA = @p_codigoPessoa
			AND NM_CICLO = @NM_CICLO_ATUAL
			COMMIT TRANSACTION

			-- *************************************************************************
			-- ALTERAÇÃO FEITA POR ANDERSON - DIA 05/02/2020
			-- AO INSERIR NA TB_PESSOA_PAPEL_HIST_DATA VAMOS A CHAMAR A PROC ABAIXO
			-- PARA GRAVAR O HISTORICO POR DATA COMPLETO		
			-- *************************************************************************
	
			EXEC SP_CAD_PESSOA_PAPEL_HISTORICO_COMPLETO
				@p_codigoPessoa,
				2,
				@v_codPapelDesempBase,		--@CD_PAPEL_DESEMPENHO,
				0,							--@CD_PAPEL_CARREIRA
				0,							--@VAR_RETORNO				INT OUTPUT,
				'',							--@DC_ERRO					NVARCHAR(MAX) OUTPUT,
				0							--@QT_LINHAS_AFETADAS			INT OUTPUT
	
			-- *************************************************************************
			-- FIM		
			-- *************************************************************************


		END	
	

	-- *************************************************************************************************************
	-- ALTERADO POR ALDIR DIA 22/09/2023
	-- VERIFICAR SE A PESSOA REATIVADA JÁ TINHA UM PEDIDO APROVADO NO MESMO CICLO. 
	--		SE SIM, DEVE FICAR ATIVA. TAMBÉM DEVE ATUALIZAR OS INDICADORES DE CANAL 
	-- 		SE NÃO, DEVE FICAR CADASTRADA (REGRA ATUAL).
	--	
	-- *************************************************************************************************************
	SELECT @v_nmPedidoAprovado = isnull(MAX(NM_PEDIDO),0)
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE CD_PESSOA              = @p_codigoPessoa
	AND   CD_FUNCAO              = 2	
	AND   NM_CICLO_APROVACAO     = @NM_CICLO_ATUAL
	AND   NM_CICLO_CANCELAMENTO IS NULL

	IF @v_nmPedidoAprovado > 0
	begin
		BEGIN TRANSACTION
		UPDATE TB_PESSOA_RESUMO
		SET CD_SITUACAO_COMERCIAL      = 1,
			CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
			DT_ATUALIZACAO         = GETDATE()
		WHERE CD_FUNCAO = 2
		AND CD_PESSOA = @p_codigoPessoa
		COMMIT TRANSACTION

		BEGIN TRANSACTION
		UPDATE TB_HIST_SITUACAO_CONSULTORA
		SET CD_SITUACAO_COMERCIAL = 1,
			CD_SITUACAO_COMERCIAL_DETALHE = 100,
			DT_REATIVACAO = GETDATE(),
			CD_USUARIO_REATIVACAO = @p_codigoUsuario,
			DC_MOTIVO_REATIVACAO = @p_dcMotivoReativacao
		WHERE CD_PESSOA = @p_codigoPessoa
		AND NM_CICLO = @NM_CICLO_ATUAL
		COMMIT TRANSACTION

		-- ***************************************************
		-- CALCULA INDICADOR DE PEDIDO APROVADO
		-- ***************************************************
		EXEC SP_CALCULA_PESSOA_INDICADOR
				@p_codigoPessoa,
				2, -- função
				@CD_EST_COMERCIAL,
				@NM_CICLO_ATUAL,
				@v_nmPedidoAprovado,
				1, -- EVENTO APROVAÇÃO DO PEDIDO
				2, --INCREMENTAL
                		1,      --CALCULA OS INDICADORES ON-LINE
				@p_codigoUsuario,
				@p_codigoErro     OUTPUT,
				@p_descricaoErro  OUTPUT,
				@p_linhasAfetadas OUTPUT

	end	
	ELSE
	begin
		BEGIN TRANSACTION
		UPDATE TB_PESSOA_RESUMO
		SET CD_SITUACAO_COMERCIAL      = 0,
			CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
			DT_ATUALIZACAO         = GETDATE()
		WHERE CD_FUNCAO = 2
		AND CD_PESSOA = @p_codigoPessoa
		COMMIT TRANSACTION

		BEGIN TRANSACTION
		UPDATE TB_HIST_SITUACAO_CONSULTORA
		SET CD_SITUACAO_COMERCIAL = 0,
			CD_SITUACAO_COMERCIAL_DETALHE = 0,
			DT_REATIVACAO = GETDATE(),
			CD_USUARIO_REATIVACAO = @p_codigoUsuario,
			DC_MOTIVO_REATIVACAO = @p_dcMotivoReativacao
		WHERE CD_PESSOA = @p_codigoPessoa
		AND NM_CICLO = @NM_CICLO_ATUAL
		COMMIT TRANSACTION
	end



	-- ALTERAÇÃO POR DIEGO ZILIOTI EM 08/03/2019
	-- SE A PESSOA ESTÁ SENDO REATIVADA VAMOS LIBERAR OS ACESSOS DELA AO SISTEMA
	BEGIN TRANSACTION
	UPDATE TB_PESSOA_RESUMO SET ID_ACESSA_LOJA_VIRTUAL = 1, ID_ACESSA_SISTEMA = 1
	WHERE CD_PESSOA = @p_codigoPessoa
	AND CD_FUNCAO = 2
	COMMIT TRANSACTION

	-- FAZ A CHAMADA DO EVENTO 10 REATIVACAO DA PESSOA (ALDIR 27/05/2021)
	EXEC SP_CALCULA_PESSOA_INDICADOR
				@p_codigoPessoa,
				2,
				@CD_EST_COMERCIAL,
				@NM_CICLO_ATUAL,
				0, --PEDIDO
				10, -- EVENTO REATIVACAO DA PESSOA
				2, --INCREMENTAL
                                1,      --CALCULA OS INDICADORES ON-LINE
				@p_codigoUsuario,
				@p_codigoErro OUTPUT,
				@p_descricaoErro OUTPUT,
				@p_linhasAfetadas OUTPUT

	-- FAZ A CHAMADA DO EVENTO 6 INDICADOR MMN (ALDIR 05/06/2023)
	EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
				@p_codigoPessoa,
				2,
				@CD_EST_COMERCIAL,
				@NM_CICLO_ATUAL,
				6,	--FIM DIA
				1,	--ADICIONAR
				2, 	--CALCULA OS INDICADORES BATCH
				@p_codigoUsuario,
				@p_codigoErro			OUTPUT,
				@p_descricaoErro		OUTPUT,
				@p_linhasAfetadas		OUTPUT

	-- ATUALIZAÇÃO POR DIEGO ZILIOTI EM 25/06/2021
	-- POR ALGUM MOTIVO DESCONHECIDO PERDEMOS A CHAMADA A PROCEDURE QUE AVALIA O CRÉDITO DA PESSOA QUANDO REATIVADA
	EXEC pr_PessoaReativaConsultoraLimiteCredito @p_codigoPessoa,
												 @p_codigoUsuario,
												 @p_codigoErro OUTPUT,
												 @p_descricaoErro OUTPUT,
												 @p_linhasAfetadas OUTPUT


	
	-- ***********************************************************************
	-- INSERE O REGISTRO NA FILA DA API ATSVD
	-- A PROCEDURE IRÁ VALIDAR SE A FILA ESTÁ ATIVA E IRÁ INSERIR O REGISTRO
	-- ***********************************************************************
	SELECT @v_descUsuario = CONVERT(VARCHAR(18),@p_codigoUsuario)

	EXEC dbo.pr_ApiInsereItemFilaApi 1, --Código da fila de PESSOAS
					@p_codigoPessoa, -- PESSOA
					'A', --ALTERAÇÃO
					@v_descUsuario, --USUÁRIO
					0,
					'',
					0

		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
