SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_LogisticaInsereEtiquetaImpressaoLote_MNF]
	@p_cdLoteSeparacao NUMERIC(18,0),
	@p_nmPedido VARCHAR(50),
	@p_cdPessoa NUMERIC(18,0),
	@p_dcLblPedido VARCHAR(50),
	@p_dcLblDestinatario VARCHAR(50),
	@p_dcNomeDestinatario VARCHAR(500),
	@p_dcLblLogradouro VARCHAR(50),
	@p_dcLogradouro VARCHAR(max),
	@p_dcNumCompl VARCHAR(200),
	@p_dcBairro VARCHAR(250),
	@p_dcLblCep VARCHAR(50),
	@p_dcCep VARCHAR(50),
	@p_dcMunUF VARCHAR(50),
	@p_dcUF VARCHAR(10),
	@p_dcLblUF VARCHAR(10),
	@p_dcLblOrigem VARCHAR(50),
	@p_dcOrigem VARCHAR(50),
	@p_dcLblData VARCHAR(50),
	@p_dcData VARCHAR(50),
	@p_dcLblPeso VARCHAR(50),
	@p_dcPeso NUMERIC(18,4),
	@p_dcEmbPedido VARCHAR(200),
	@p_dcLblRemetente VARCHAR(50),
	@p_dcRemetente VARCHAR(500),
	@p_dcEnderecoRemetente VARCHAR(MAX),
	@p_dcLinkBarcode VARCHAR(200),
	@p_cdUsuario numeric(18,0),
	@p_cdWrkImpressaoLote numeric(18,0) OUTPUT,
	
	@p_nmEtiquetaOrdem int,
	
	@p_cdRetorno INT OUTPUT,
	@p_dcErro NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
	
		IF @p_nmEtiquetaOrdem = 1
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_WRK_IMPRESSAO_ETIQUETA_LOTE (
						CD_LOTE_SEPARACAO,
						NM_PEDIDO,
						CD_PESSOA,
						DC_LBL_PEDIDO,
						DC_LBL_DESTINATARIO,
						DC_NOME_DESTINATARIO,
						DC_LBL_LOGRADOURO,
						DC_LOGRADOURO,
						DC_NUM_COMPL,
						DC_BAIRRO,
						DC_LBL_CEP,
						DC_CEP,
						DC_MUN_UF,
						DC_LBL_UF,
						DC_UF,
						DC_LBL_ORIGEM,
						DC_ORIGEM,
						DC_LBL_DATA,
						DC_DATA,
						DC_LBL_PESO,
						DC_PESO,
						DC_EMB_PEDIDO,
						DC_LBL_REMETENTE,
						DC_NOME_REMETENTE,
						DC_ENDERECO_REMETENTE,
						DC_LINK_BARCODE,
						NM_PEDIDO2,
						NM_PEDIDO3,
						NM_PEDIDO4) VALUES (
						@p_cdLoteSeparacao,
						@p_nmPedido,
						@p_cdPessoa,
						@p_dcLblPedido,
						@p_dcLblDestinatario,
						@p_dcNomeDestinatario,
						@p_dcLblLogradouro,
						@p_dcLogradouro,
						@p_dcNumCompl,
						@p_dcBairro,
						@p_dcLblCep,
						@p_dcCep,
						@p_dcMunUF,
						@p_dcLblUF,
						@p_dcUF,
						@p_dcLblOrigem,
						@p_dcOrigem,
						@p_dcLblData,
						@p_dcData,
						@p_dcLblPeso,
						@p_dcPeso,
						@p_dcEmbPedido,
						@p_dcLblRemetente,
						@p_dcRemetente,
						@p_dcEnderecoRemetente,
						@p_dcLinkBarcode,
						null,
						null,
						null)
						
				SELECT @p_cdWrkImpressaoLote = IDENT_CURRENT('TB_WRK_IMPRESSAO_ETIQUETA_LOTE')
						
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				
				SELECT @p_cdRetorno = 0
		
				COMMIT TRANSACTION
			END	

		IF @p_nmEtiquetaOrdem = 2
			BEGIN
	
				BEGIN TRANSACTION 
	
					UPDATE TB_WRK_IMPRESSAO_ETIQUETA_LOTE SET
					NM_PEDIDO2 = @p_nmPedido
					, CD_PESSOA2 = @p_cdPessoa
					, DC_LBL_PEDIDO2 = @p_dcLblPedido
					, DC_LBL_DESTINATARIO2 = @p_dcLblDestinatario
					, DC_NOME_DESTINATARIO2 = @p_dcNomeDestinatario
					, DC_LBL_LOGRADOURO2 = @p_dcLblLogradouro
					, DC_LOGRADOURO2 = @p_dcLogradouro
					, DC_NUM_COMPL2 = @p_dcNumCompl
					, DC_BAIRRO2 = @p_dcBairro
					, DC_LBL_CEP2 = @p_dcLblCep
					, DC_CEP2 = @p_dcCep
					, DC_MUN_UF2 = @p_dcMunUF
					, DC_LBL_UF2 = @p_dcLblUF
					, DC_UF2 = @p_dcUF
					, DC_LBL_ORIGEM2 = @p_dcLblOrigem
					, DC_ORIGEM2 = @p_dcOrigem
					, DC_LBL_DATA2 = @p_dcLblData
					, DC_DATA2 = @p_dcData
					, DC_LBL_PESO2 = @p_dcLblPeso
					, DC_PESO2 = @p_dcPeso
					, DC_EMB_PEDIDO2 = @p_dcEmbPedido
					, DC_LBL_REMETENTE2 = @p_dcLblRemetente
					, DC_NOME_REMETENTE2 = @p_dcRemetente
					, DC_ENDERECO_REMETENTE2 = @p_dcEnderecoRemetente
					, DC_LINK_BARCODE2 = @p_dcLinkBarcode
					WHERE CD_LOTE_SEPARACAO = @p_cdLoteSeparacao
					AND CD_WRK_IMPRESSAO_ETIQUETA_LOTE = @p_cdWrkImpressaoLote
					
	
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				
				SELECT @p_cdRetorno = 0
		
				COMMIT TRANSACTION
			END
			
		IF @p_nmEtiquetaOrdem = 3
			BEGIN
	
				BEGIN TRANSACTION 
	
					UPDATE TB_WRK_IMPRESSAO_ETIQUETA_LOTE SET
					NM_PEDIDO3 = @p_nmPedido
					, CD_PESSOA3 = @p_cdPessoa
					, DC_LBL_PEDIDO3 = @p_dcLblPedido
					, DC_LBL_DESTINATARIO3 = @p_dcLblDestinatario
					, DC_NOME_DESTINATARIO3 = @p_dcNomeDestinatario
					, DC_LBL_LOGRADOURO3 = @p_dcLblLogradouro
					, DC_LOGRADOURO3 = @p_dcLogradouro
					, DC_NUM_COMPL3 = @p_dcNumCompl
					, DC_BAIRRO3 = @p_dcBairro
					, DC_LBL_CEP3 = @p_dcLblCep
					, DC_CEP3 = @p_dcCep
					, DC_MUN_UF3 = @p_dcMunUF
					, DC_LBL_UF3 = @p_dcLblUF
					, DC_UF3 = @p_dcUF
					, DC_LBL_ORIGEM3 = @p_dcLblOrigem
					, DC_ORIGEM3 = @p_dcOrigem
					, DC_LBL_DATA3 = @p_dcLblData
					, DC_DATA3 = @p_dcData
					, DC_LBL_PESO3 = @p_dcLblPeso
					, DC_PESO3 = @p_dcPeso
					, DC_EMB_PEDIDO3 = @p_dcEmbPedido
					, DC_LBL_REMETENTE3 = @p_dcLblRemetente
					, DC_NOME_REMETENTE3 = @p_dcRemetente
					, DC_ENDERECO_REMETENTE3 = @p_dcEnderecoRemetente
					, DC_LINK_BARCODE3 = @p_dcLinkBarcode
					WHERE CD_LOTE_SEPARACAO = @p_cdLoteSeparacao
					AND CD_WRK_IMPRESSAO_ETIQUETA_LOTE = @p_cdWrkImpressaoLote
	
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				
				SELECT @p_cdRetorno = 0
		
				COMMIT TRANSACTION
			END	
			
		IF @p_nmEtiquetaOrdem = 4
			BEGIN
	
				BEGIN TRANSACTION 
	
					UPDATE TB_WRK_IMPRESSAO_ETIQUETA_LOTE SET
					NM_PEDIDO4 = @p_nmPedido
					, CD_PESSOA4 = @p_cdPessoa
					, DC_LBL_PEDIDO4 = @p_dcLblPedido
					, DC_LBL_DESTINATARIO4 = @p_dcLblDestinatario
					, DC_NOME_DESTINATARIO4 = @p_dcNomeDestinatario
					, DC_LBL_LOGRADOURO4 = @p_dcLblLogradouro
					, DC_LOGRADOURO4 = @p_dcLogradouro
					, DC_NUM_COMPL4 = @p_dcNumCompl
					, DC_BAIRRO4 = @p_dcBairro
					, DC_LBL_CEP4 = @p_dcLblCep
					, DC_CEP4 = @p_dcCep
					, DC_MUN_UF4 = @p_dcMunUF
					, DC_LBL_UF4 = @p_dcLblUF
					, DC_UF4 = @p_dcUF
					, DC_LBL_ORIGEM4 = @p_dcLblOrigem
					, DC_ORIGEM4 = @p_dcOrigem
					, DC_LBL_DATA4 = @p_dcLblData
					, DC_DATA4 = @p_dcData
					, DC_LBL_PESO4 = @p_dcLblPeso
					, DC_PESO4 = @p_dcPeso
					, DC_EMB_PEDIDO4 = @p_dcEmbPedido
					, DC_LBL_REMETENTE4 = @p_dcLblRemetente
					, DC_NOME_REMETENTE4 = @p_dcRemetente
					, DC_ENDERECO_REMETENTE4 = @p_dcEnderecoRemetente
					, DC_LINK_BARCODE4 = @p_dcLinkBarcode
					WHERE CD_LOTE_SEPARACAO = @p_cdLoteSeparacao
					AND CD_WRK_IMPRESSAO_ETIQUETA_LOTE = @p_cdWrkImpressaoLote
	
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				
				SELECT @p_cdRetorno = 0
		
				COMMIT TRANSACTION
			END	
			
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
