SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PlanoPagamentoInserePlanoRecorrencia]
	@CD_PLANO_PAGAMENTO_RECORRENCIA numeric(18, 0),
	@CD_PLANO_PAGAMENTO numeric (18, 0),
	@CD_PLANO_PAGAMENTO_EXTERNO varchar (100),
    @ID_TIPO_PERIODO_RECORRENCIA INT ,
	@NM_DIAS_INTERVALO_PARCELAS NUMERIC(18,0),
	@NM_CICLOS_RECORRENCIA NUMERIC(18,0),
	@ID_PERIODO_TESTE INT,
	@NM_DIAS_PERIODO_TESTE NUMERIC(18,0),
	@VL_PLANO_RECORRENCIA NUMERIC(18,2),
	@VL_TAXA_INSCRICAO_PLANO_RECORRENCIA NUMERIC(18,2),
	@NM_QTDE_ASSINATURAS_PLANO NUMERIC(18,0),
	@ID_FORMA_ENVIO_AUTOMATICO INT,
	@NM_DIA_COBRANCA INT,
	@DC_TIPO_FUNCAO	VARCHAR(1),
	@CD_USUARIO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS



BEGIN TRY
	SELECT @VAR_RETORNO        = 0
	SELECT @DC_ERRO            = ''
	SELECT @QT_LINHAS_AFETADAS = 0


	IF @DC_TIPO_FUNCAO = 'I'
		BEGIN
			INSERT INTO TB_PLANO_PAGAMENTO_RECORRENCIA  (
						CD_PLANO_PAGAMENTO,
						CD_PLANO_PAGAMENTO_EXTERNO,
						ID_TIPO_PERIODO_RECORRENCIA,
						NM_DIAS_INTERVALO_PARCELAS,
						NM_CICLOS_RECORRENCIA,
						ID_PERIODO_TESTE,
						NM_DIAS_PERIODO_TESTE,
						VL_PLANO_RECORRENCIA,
						VL_TAXA_INSCRICAO_PLANO_RECORRENCIA,
						NM_QTDE_ASSINATURAS_PLANO,
						ID_FORMA_ENVIO_AUTOMATICO,
						NM_DIA_COBRANCA,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)

								
			VALUES           (
						@CD_PLANO_PAGAMENTO,
						@CD_PLANO_PAGAMENTO_EXTERNO,
						@ID_TIPO_PERIODO_RECORRENCIA,
						@NM_DIAS_INTERVALO_PARCELAS,
						@NM_CICLOS_RECORRENCIA,
						@ID_PERIODO_TESTE,
						@NM_DIAS_PERIODO_TESTE,
						@VL_PLANO_RECORRENCIA,
						@VL_TAXA_INSCRICAO_PLANO_RECORRENCIA,
						@NM_QTDE_ASSINATURAS_PLANO,
						@ID_FORMA_ENVIO_AUTOMATICO,
						@NM_DIA_COBRANCA,
						GETDATE(), 
						@CD_USUARIO, 
						GETDATE(), 
						@CD_USUARIO
						)

		END	

	IF @DC_TIPO_FUNCAO = 'A'
		BEGIN
			UPDATE TB_PLANO_PAGAMENTO_RECORRENCIA  
			SET CD_PLANO_PAGAMENTO                  = @CD_PLANO_PAGAMENTO,
				CD_PLANO_PAGAMENTO_EXTERNO          = @CD_PLANO_PAGAMENTO_EXTERNO,
				ID_TIPO_PERIODO_RECORRENCIA         = @ID_TIPO_PERIODO_RECORRENCIA,
				NM_DIAS_INTERVALO_PARCELAS          = @NM_DIAS_INTERVALO_PARCELAS,
				NM_CICLOS_RECORRENCIA               = @NM_CICLOS_RECORRENCIA,
				ID_PERIODO_TESTE                    = @ID_PERIODO_TESTE,
				NM_DIAS_PERIODO_TESTE               = @NM_DIAS_PERIODO_TESTE,
				VL_PLANO_RECORRENCIA                = @VL_PLANO_RECORRENCIA,
				VL_TAXA_INSCRICAO_PLANO_RECORRENCIA = @VL_TAXA_INSCRICAO_PLANO_RECORRENCIA,
				NM_QTDE_ASSINATURAS_PLANO           = @NM_QTDE_ASSINATURAS_PLANO,
				ID_FORMA_ENVIO_AUTOMATICO			= @ID_FORMA_ENVIO_AUTOMATICO,
				NM_DIA_COBRANCA						= @NM_DIA_COBRANCA,
				DT_ATUALIZACAO                      = GETDATE(),
				CD_USUARIO_ATUALIZACAO              = @CD_USUARIO
			WHERE  	CD_PLANO_PAGAMENTO_RECORRENCIA = @CD_PLANO_PAGAMENTO_RECORRENCIA
		END

	IF @DC_TIPO_FUNCAO = 'E'
		BEGIN
			DELETE TB_PLANO_PAGAMENTO_RECORRENCIA  
			WHERE  	CD_PLANO_PAGAMENTO = @CD_PLANO_PAGAMENTO
		END

	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
