SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaCentroDistribuicaoRegraComercial]  
AS  
  
SELECT R.CD_REGRA_COMERCIAL,
	   CD.CD_CENTRO_DISTRIBUICAO id,
	   CD.CD_CENTRO_DISTRIBUICAO_EXTERNO externalCode,
	   CD.DC_CENTRO_DISTRIBUICAO [name],
	   (SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3) [Address.zipCode],
	   (SELECT PE.DC_ESTRUTURA_GEO1 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3) [Address.country],
	   (SELECT PE.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3) [Address.state],
	   (SELECT PE.DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3) [Address.city],
	   (SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3) [Address.district],
	   (SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3) [Address.street],
	   (SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3) [Address.number],
	   (SELECT PE.DC_COMPLEMENTO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3) [Address.complement]
  FROM TB_REGRA_COMERCIAL R with(nolock), TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK)
 WHERE R.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
GO
