SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CargaCarregaPessoa]
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS

DECLARE @Cursor_Itens			CURSOR

DECLARE @v_carga_pessoa_fisica                  NUMERIC(18,0)
DECLARE @v_id					VARCHAR(100)
DECLARE @v_cod					VARCHAR(100)
DECLARE @v_vip					VARCHAR(100)
DECLARE @v_nome					VARCHAR(100)
DECLARE @v_sobrenome				VARCHAR(100)
DECLARE @v_nascimento				VARCHAR(100)
DECLARE @v_cpf					VARCHAR(100)
DECLARE @v_rg					VARCHAR(100)
DECLARE @v_email				VARCHAR(100)
DECLARE @v_cep_r				VARCHAR(100)
DECLARE @v_endereco_r				VARCHAR(100)
DECLARE @v_numero_r				VARCHAR(100)
DECLARE @v_complemento_r			VARCHAR(100)
DECLARE @v_bairro_r				VARCHAR(100)
DECLARE @v_cidade_r				VARCHAR(100)
DECLARE @v_estado_r				VARCHAR(100)
DECLARE @v_pais_r				VARCHAR(100)
DECLARE @v_cep_e				VARCHAR(100)
DECLARE @v_endereco_e				VARCHAR(100)
DECLARE @v_numero_e				VARCHAR(100)
DECLARE @v_complemento_e			VARCHAR(100)
DECLARE @v_bairro_e				VARCHAR(100)
DECLARE @v_cidade_e				VARCHAR(100)
DECLARE @v_estado_e				VARCHAR(100)
DECLARE @v_pais_e				VARCHAR(100)
DECLARE @v_telefone				VARCHAR(100)
DECLARE @v_telefone_coml			VARCHAR(100)
DECLARE @v_celular				VARCHAR(100)
DECLARE @v_operadora				VARCHAR(100)
DECLARE @V_PATROCINADOR                         VARCHAR(100)
DECLARE @v_sexo					VARCHAR(100)
DECLARE @v_senha				VARCHAR(100)
DECLARE @V_ESTADO_CIVIL                         VARCHAR(100)		
DECLARE @V_escolaridade                         VARCHAR(100)		
DECLARE @V_DATA_CADASTRO                        VARCHAR(100)		
DECLARE @V_FUNCAO				VARCHAR(100)		
DECLARE @V_CARREIRA				VARCHAR(100)		
DECLARE @V_DESEMPENHO				VARCHAR(100)		
DECLARE @V_TIPO_PESSOA_PREMIACAO		VARCHAR(100)
DECLARE @V_DC_NOME_PREMIACAO			VARCHAR(100)
DECLARE @V_DC_DOCUMENTO_PREMIACAO		VARCHAR(100)
DECLARE @v_ID_TIPO_CONTA_DESTINO_PREMIACAO	VARCHAR(100)
DECLARE @v_CD_BANCO_PREMIACAO			VARCHAR(100)
DECLARE @v_DC_AGENCIA_PREMIACAO			VARCHAR(100)
DECLARE @v_DC_CONTA_PREMIACAO			VARCHAR(100)
DECLARE @V_DATA_ATUAL DATE




DECLARE @v_referencia				VARCHAR(100)
DECLARE @v_distribuidor				VARCHAR(100)
DECLARE @v_revenda				VARCHAR(100)
DECLARE @v_site					VARCHAR(100)
DECLARE @v_receber				VARCHAR(100)
DECLARE @v_porcento				VARCHAR(100)
DECLARE @v_desconto				VARCHAR(100)
DECLARE @v_status				VARCHAR(100)
DECLARE @v_temkit				VARCHAR(100)
DECLARE @v_contatado			VARCHAR(100)
DECLARE @v_observacao			VARCHAR(100)
DECLARE @v_cadpor				VARCHAR(100)
DECLARE @v_latitude				VARCHAR(100)
DECLARE @v_longitude			VARCHAR(100)
DECLARE @v_enviando				VARCHAR(100)
DECLARE @v_enviandosms			VARCHAR(100)
DECLARE @v_dataatualiza			VARCHAR(100)
DECLARE @v_horaatualiza			VARCHAR(100)
DECLARE @v_funcionario			VARCHAR(100)
DECLARE @v_ip					VARCHAR(100)
DECLARE @v_datahora				VARCHAR(100)
DECLARE @v_data					VARCHAR(100)
DECLARE @v_hora					VARCHAR(100)
DECLARE @v_duplicado			VARCHAR(100)
DECLARE @v_dc_franquia     VARCHAR(100)
DECLARE @v_dt_pedido   date

DECLARE @v_cpf_corrigido		VARCHAR(100)
DECLARE @v_nascimento_corrigido	VARCHAR(20)
DECLARE @v_ciclo_cadastro   	numeric (18,0)		


DECLARE		@V_CD_EST_GEOGRAFICA_r	VARCHAR(100)
DECLARE         @DC_EST_GEOGRAFICA_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO1_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO2_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO3_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO4_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO5_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO6_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO7_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO8_r	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO9_r	VARCHAR(100)

DECLARE		@V_CD_EST_GEOGRAFICA_e	VARCHAR(100)
DECLARE         @DC_EST_GEOGRAFICA_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO1_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO2_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO3_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO4_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO5_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO6_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO7_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO8_e	VARCHAR(100)
DECLARE         @DC_NIVEL_GEO9_e	VARCHAR(100)


DECLARE			@V_CONTADOR_CEP					INT

DECLARE			@v_cd_est_comercial				NUMERIC(18,0)
DECLARE			@cdPessoaFisicaGerada			NUMERIC(18,0)
DECLARE			@v_cd_sexo						INT
DECLARE			@v_senha_cn						VARCHAR(100)
DECLARE			@v_senha_cf						VARCHAR(100)
DECLARE			@v_funcao_cn					INT
DECLARE			@v_funcao_cf					INT
DECLARE			@v_situacao_funcao_cn INT
DECLARE			@v_situacao_funcao_cf INT

DECLARE			@v_receber_email				INT


	
BEGIN 

	SELECT @qtLinhasAfetadas = 0
	SELECT @V_DATA_ATUAL = GETDATE()

	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
	select  CD_CARGA_PESSOA_FISICA,
	CD_REVENDEDOR id,
	CD_REVENDEDOR id2,
	1 vip,
	DC_NOME nome,
	DC_SOBRENOME sobrenome,
	CASE LEN(DC_CPF)
		WHEN '11' THEN SUBSTRING(DC_CPF,1,3) + '.' + SUBSTRING(DC_CPF,4,3) + '.' + SUBSTRING(DC_CPF,7,3) + '-' + SUBSTRING(DC_CPF,10,2)
		WHEN '10' THEN '0' + SUBSTRING(DC_CPF,1,2) + '.' + SUBSTRING(DC_CPF,3,3) + '.' + SUBSTRING(DC_CPF,6,3) + '-' + SUBSTRING(DC_CPF,9,2)  
		WHEN '9' THEN '00' + SUBSTRING(DC_CPF,1,1) + '.' + SUBSTRING(DC_CPF,2,3) + '.' + SUBSTRING(DC_CPF,5,3) + '-' + SUBSTRING(DC_CPF,8,2)  
		WHEN '8' THEN '000.' + SUBSTRING(DC_CPF,1,3) + '.' + SUBSTRING(DC_CPF,4,3) + '-' + SUBSTRING(DC_CPF,7,2)  
		WHEN '7' THEN '000.0' + SUBSTRING(DC_CPF,1,2) + '.' + SUBSTRING(DC_CPF,3,3) + '-' + SUBSTRING(DC_CPF,6,2)  
		WHEN '6' THEN '000.00' + SUBSTRING(DC_CPF,1,1) + '.' + SUBSTRING(DC_CPF,2,3) + '-' + SUBSTRING(DC_CPF,5,2)  
		WHEN '5' THEN '000.000.' + SUBSTRING(DC_CPF,1,3) + '-' + SUBSTRING(DC_CPF,4,2)  
		WHEN '4' THEN '000.000.0' + SUBSTRING(DC_CPF,1,2) + '-' + SUBSTRING(DC_CPF,3,2)  
		WHEN '3' THEN '000.000.00' + SUBSTRING(DC_CPF,1,1) + '-' + SUBSTRING(DC_CPF,2,2)  
		WHEN '2' THEN '000.000.000-' + SUBSTRING(DC_CPF,1,2)
		WHEN '1' THEN '000.000.000-0' + SUBSTRING(DC_CPF,1,1)
		WHEN '0' THEN '000.000.000-00'
	END cpf,
	DC_RG rg,
	DC_SEXO sexo,
	case when (DC_TELEFONE_RESIDENCIAL <>'') then '('+SUBSTRING(DC_TELEFONE_RESIDENCIAL,1,2)+') '+ SUBSTRING(DC_TELEFONE_RESIDENCIAL,3,9) 
	else '' end	'RESIDENCIAL',      
	''  'comercial',      
	case when (DC_TELEFONE_CELULAR <>'') then '('+SUBSTRING(DC_TELEFONE_CELULAR,1,2)+') '+ SUBSTRING(DC_TELEFONE_CELULAR,3,9) 
	else '' end	'celular',          
	DC_OPERADORA  'operadora',
	DC_EMAIL 'email',
	DC_SENHA SENHA,
	DT_NASCIMENTO,
	DC_CEP_RESIDENCIAL,
	DC_RUA_RESIDENCIAL,
	DC_NUMERO_RESIDENCIAL,
	DC_COMPLEMENTO_RESIDENCIAL,
	DC_BAIRRO_RESIDENCIAL,
	DC_CIDADE_RESIDENCIAL,
	DC_UF_RESIDENCIAL,
	'BR' pais,
	DC_CEP_ENTREGA,
	DC_RUA_ENTREGA,
	DC_NUMERO_ENTREGA,
	DC_COMPLEMENTO_ENTREGA,
	DC_BAIRRO_ENTREGA,
	DC_CIDADE_ENTREGA,
	DC_UF_ENTREGA,
	'BR' pais,

	'' referencia,
	'' distribuidor,
	'' revenda,
	'' site,
	'x' receber,
	'' porcento,
	'' desconto,
	'' status,    --situacao status,
	'' temkit,
	'' contatado,
	'' observacao,
 	'' cadpor,
	'' latitude,
	'' longitude,
	'' enviando,
	'' envindosms,
	'' dataatualiza,
	'' horaatualiza,
	'' funcionario,
	'' ip,
	'' datahora,
	'' data,
	'' hora,
	'' duplicado,

	DC_PESSOA_CONTA_COMISSAO,
	DC_NOME_COMISSAO,
	DC_CPF_CNPJ_COMISSAO,
	DC_TIPO_CONTA_COMISSAO,
	DC_BANCO_COMISSAO,
	DC_AGENCIA_COMISSAO,
	DC_CONTA_COMISSAO,	

	CD_PESSOA_INDICANTE,
	DC_ESTADO_CIVIL ESTADO_CIVIL,
	null 'ESCOLARIDADE',
	DC_FRANQUIA,
        --NULL DT_ULTIMA_COMPRA,
	DT_CADASTRO,
	DC_FUNCAO,
	DC_CARREIRA,
	DC_RECONHECIMENTO
	from TB_CARGA_PESSOA_FISICA 
	where ID_SITUACAO  = 1
	ORDER BY 1

										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@v_carga_pessoa_fisica,
			@v_id,
			@v_cod,
			@v_vip,
			@v_nome,
			@v_sobrenome,
			@v_cpf,
			@v_rg,
			@v_sexo,
			@v_telefone,
                        @v_telefone_coml,
			@v_celular,
                        @v_operadora,
			@v_email,
			@v_senha,
			@v_nascimento,

			@v_cep_r,
			@v_endereco_r,
			@v_numero_r,
			@v_complemento_r,
			@v_bairro_r,
			@v_cidade_r,
			@v_estado_r,
			@v_pais_r,
			@v_cep_e,
			@v_endereco_e,
			@v_numero_e,
			@v_complemento_e,
			@v_bairro_e,
			@v_cidade_e,
			@v_estado_e,
			@v_pais_e,

			@v_referencia,
			@v_distribuidor,
			@v_revenda,
			@v_site,
			@v_receber,
			@v_porcento,
			@v_desconto,
			@v_status,
			@v_temkit,
			@v_contatado,
			@v_observacao,
			@v_cadpor,
			@v_latitude,
			@v_longitude,
			@v_enviando,
			@v_enviandosms,
			@v_dataatualiza,
			@v_horaatualiza,
			@v_funcionario,
			@v_ip,
			@v_datahora,
			@v_data,
			@v_hora,
			@v_duplicado,

			@V_TIPO_PESSOA_PREMIACAO,
			@V_DC_NOME_PREMIACAO,
			@V_DC_DOCUMENTO_PREMIACAO,
			@v_ID_TIPO_CONTA_DESTINO_PREMIACAO,
			@v_CD_BANCO_PREMIACAO,
			@v_DC_AGENCIA_PREMIACAO,
			@v_DC_CONTA_PREMIACAO,

			@V_PATROCINADOR,
		        @V_ESTADO_CIVIL,		
                        @V_escolaridade,
			@v_dc_franquia,
			--@v_dt_pedido,
			@V_DATA_CADASTRO     ,
			@V_FUNCAO,
			@V_CARREIRA,
			@V_DESEMPENHO    

			WHILE @@FETCH_STATUS = 0
				BEGIN
									
					-- *****************************************************	
					-- LIMPA AS VARIAVEIS
					-- *****************************************************

					SELECT @V_CD_EST_GEOGRAFICA_r = '0'
					SELECT @DC_EST_GEOGRAFICA_r = ''
					SELECT @DC_NIVEL_GEO1_r = ''
					SELECT @DC_NIVEL_GEO2_r = ''
					SELECT @DC_NIVEL_GEO3_r = ''
					SELECT @DC_NIVEL_GEO4_r = ''
					SELECT @DC_NIVEL_GEO5_r = ''
					SELECT @DC_NIVEL_GEO6_r = ''
					SELECT @DC_NIVEL_GEO7_r = ''
					SELECT @DC_NIVEL_GEO8_r = ''
					SELECT @DC_NIVEL_GEO9_r = ''

					SELECT @V_CD_EST_GEOGRAFICA_e = '0'
					SELECT @DC_EST_GEOGRAFICA_e = ''
					SELECT @DC_NIVEL_GEO1_e = ''
					SELECT @DC_NIVEL_GEO2_e = ''
					SELECT @DC_NIVEL_GEO3_e = ''
					SELECT @DC_NIVEL_GEO4_e = ''
					SELECT @DC_NIVEL_GEO5_e = ''
					SELECT @DC_NIVEL_GEO6_e = ''
					SELECT @DC_NIVEL_GEO7_e = ''
					SELECT @DC_NIVEL_GEO8_e = ''
					SELECT @DC_NIVEL_GEO9_e = ''

					-- *****************************************************	
					-- BUSCA CODIGO DE ESTRUTURA GEOGRAFICA DO CEP
					-- *****************************************************
										
					SELECT	@V_CONTADOR_CEP = COUNT(*)
					FROM TB_EST_GEOGRAFICA
					WHERE CD_CODIGO_POSTAL = @v_cep_r

					IF @V_CONTADOR_CEP > 0
						BEGIN
							
							SELECT	@V_CD_EST_GEOGRAFICA_r = CD_EST_GEOGRAFICA,
									@DC_EST_GEOGRAFICA_r = DC_EST_GEOGRAFICA,
									@DC_NIVEL_GEO1_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
									@DC_NIVEL_GEO2_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
									@DC_NIVEL_GEO3_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3),
									@DC_NIVEL_GEO4_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4),
									@DC_NIVEL_GEO5_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5),
									@DC_NIVEL_GEO6_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO6),
									@DC_NIVEL_GEO7_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO7),
									@DC_NIVEL_GEO8_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO8),
									@DC_NIVEL_GEO9_r = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO9)
							FROM TB_EST_GEOGRAFICA
							WHERE CD_CODIGO_POSTAL = @v_cep_r

						END 


					-- *****************************************************	
					-- BUSCA CODIGO DE ESTRUTURA GEOGRAFICA DO CEP
					-- *****************************************************
										
					SELECT	@V_CONTADOR_CEP = COUNT(*)
					FROM TB_EST_GEOGRAFICA
					WHERE CD_CODIGO_POSTAL = @v_cep_e

					IF @V_CONTADOR_CEP > 0
						BEGIN
							
							SELECT	@V_CD_EST_GEOGRAFICA_e = CD_EST_GEOGRAFICA,
									@DC_EST_GEOGRAFICA_e = DC_EST_GEOGRAFICA,
									@DC_NIVEL_GEO1_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
									@DC_NIVEL_GEO2_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
									@DC_NIVEL_GEO3_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3),
									@DC_NIVEL_GEO4_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4),
									@DC_NIVEL_GEO5_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5),
									@DC_NIVEL_GEO6_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO6),
									@DC_NIVEL_GEO7_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO7),
									@DC_NIVEL_GEO8_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO8),
									@DC_NIVEL_GEO9_e = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO9)
							FROM TB_EST_GEOGRAFICA
							WHERE CD_CODIGO_POSTAL = @v_cep_e

						END 

					-- *****************************************************	
					-- BUSCA CODIGO DE ESTRUTURA COMERCIAL GERADA
					-- *****************************************************
                                        --select @v_cd_est_comercial = 2
					/*SELECT @v_cd_est_comercial = CD_EST_COMERCIAL
					FROM TB_EST_COMERCIAL
					WHERE DC_EST_COMERCIAL     = @v_dc_franquia     
					AND ID_ATIVO               = 1
					AND CD_NIVEL_EST_COMERCIAL = 4

					SELECT @v_ciclo_cadastro   = nm_ciclo
					FROM TB_CALENDARIO_COMERCIAL
					WHERE CD_EST_COMERCIAL = @v_cd_est_comercial 	
					AND CONVERT(DATE, getdate()) BETWEEN CONVERT(DATE,DT_INICIAL) AND CONVERT(DATE,DT_FINAL)*/


					IF LEN(@v_nascimento) = 10
						BEGIN
							SELECT @v_nascimento_corrigido = @v_nascimento
						END
					ELSE
						BEGIN
							SELECT @v_nascimento_corrigido = ''
						END 
					
					
					-- *****************************************************	
					-- PREPARA INFORMAÇÃO DE SEXO
					-- *****************************************************
					SELECT @v_cd_sexo = 0

					IF @v_sexo = 'M' 
						BEGIN
							SELECT @v_cd_sexo = 2
						END
					
					IF @v_sexo = 'F' 
						BEGIN
							SELECT @v_cd_sexo = 1
						END
					
					-- *****************************************************	
					-- PREPARA INFORMAÇÃO DE SENHA
					-- *****************************************************
					IF @v_vip = 1
						BEGIN
							SELECT @v_senha_cn = @v_senha
							SELECT @v_senha_cf = ''

							SELECT @v_funcao_cn = 2
							SELECT @v_funcao_cf = 0
							SELECT @v_situacao_funcao_cn = 1
							SELECT @v_situacao_funcao_cf = 0
						END
					ELSE
						BEGIN
							SELECT @v_senha_cn = ''
							SELECT @v_senha_cf = @v_senha

							SELECT @v_funcao_cn = 0
							SELECT @v_funcao_cf = 1

							SELECT @v_situacao_funcao_cn = 0
							SELECT @v_situacao_funcao_cf = 1
						END


					IF @v_receber = 'x'
						BEGIN
							SELECT @v_receber_email= 1
						END
					ELSE
						BEGIN
							SELECT @v_receber_email= 2
						END

					
					
					-- *********************************************************************	
					-- PRIMEIRO - VAMOS INSERIR O CADASTRO DE PESSOA FISICA
					-- *********************************************************************

					SELECT @v_nome = SUBSTRING(@v_nome, 1, 80)
					SELECT @v_sobrenome = SUBSTRING(@v_sobrenome, 1, 80)
					SELECT @v_cpf = SUBSTRING(@v_cpf, 1, 50)
					SELECT @v_telefone = SUBSTRING(@v_telefone, 1, 50)
					SELECT @v_celular = SUBSTRING(@v_celular, 1, 50)
					SELECT @v_email = SUBSTRING(@v_email, 1, 50)
					SELECT @v_cep_r = SUBSTRING(@v_cep_r, 1, 20)
					SELECT @v_numero_r = SUBSTRING(@v_numero_r, 1, 10)
					SELECT @v_complemento_r = SUBSTRING(@v_complemento_r, 1, 60)
					SELECT @v_referencia = SUBSTRING(@v_referencia, 1, 80)

                                        --SELECT @V_PATROCINADOR = isnull(max(cd_pessoa),1)
                                        --FROM TB_WRK_CARGA_PESSOA_FISICA WHERE cd_codigo = @V_PATROCINADOR 

					EXEC pr_PessoaInserePessoaFisicaExcel
							@v_id,				--@CD_CODIGO NUMERIC(18,0),
							1,				--@ID_TIPO_PESSOA INT,
							@v_nome,		        --@DC_NOME VARCHAR(100),
							@v_sobrenome,	                --@DC_SOBRENOME VARCHAR(100),
							'',				--@DC_APELIDO VARCHAR(100),
							@v_cd_sexo,		        --@ID_SEXO INT,
							31,				--@ID_NACIONALIDADE INT,
							@V_ESTADO_CIVIL,		--@ID_ESTADO_CIVIL INT,
							'',				--@DC_CONJUGE VARCHAR(100),
							@V_escolaridade,		--@ID_ESCOLARIDADE INT,
							0,				--@ID_PROFISSAO INT,
							@v_nascimento,			--@DT_NASCIMENTO VARCHAR(20),
							'',				--@DC_NOME_MAE VARCHAR(50),

							1,				--@ID_TIPO_DOCUMENTO1 INT,
							@v_cpf,				--@DC_DOCUMENTO1 VARCHAR(100),
							'',				--@DC_ORGAO1 VARCHAR(100),
							'',				--@DT_EMISSAO1 VARCHAR(20),
					
							0,				--@ID_TIPO_DOCUMENTO2 INT,
							@v_rg,				--@DC_DOCUMENTO2 VARCHAR(100),
							'',				--@DC_ORGAO2 VARCHAR(100),
							'',				--@DT_EMISSAO2 VARCHAR(20),
					
							0,				--@ID_TIPO_DOCUMENTO3 INT,
							'',				--@DC_DOCUMENTO3 VARCHAR(100),
							'',				--@DC_ORGAO3 VARCHAR(100),
							'',				--@DT_EMISSAO3 VARCHAR(20),
					
							1,				--@ID_TIPO_TELEFONE1 INT,
							@v_telefone,	                --@DC_TELEFONE1 VARCHAR(100),
							'',				--@DC_RAMAL1 VARCHAR(100),
							'',				--@DC_CONTATO1 VARCHAR(100),
							0,				--@ID_OPERADORA1 INT,
--							0,				--@ID_UTILIZA_WHATSAPP1 INT,
					
							0,				--@ID_TIPO_TELEFONE2 INT,
							@v_telefone_coml,                --@DC_TELEFONE2 VARCHAR(100),
							'',				--@DC_RAMAL2 VARCHAR(100),
							'',				--@DC_CONTATO2 VARCHAR(100),
							0,				--@ID_OPERADORA2 INT,
--							0,				--@ID_UTILIZA_WHATSAPP2 INT,

							3,				--@ID_TIPO_TELEFONE3 INT,
							@v_celular,		        --@DC_TELEFONE3 VARCHAR(100),
							'',				--@DC_RAMAL3 VARCHAR(100),
							'',				--@DC_CONTATO3 VARCHAR(100),
							@v_operadora,			--@ID_OPERADORA3 INT,
--							0,				--@ID_UTILIZA_WHATSAPP3 INT,

							1,				--@ID_TIPO_EMAIL1 INT,
							@v_email,		        --@DC_EMAIL1 VARCHAR(100),

							0,				--@ID_TIPO_EMAIL2 INT,
							'',				--@DC_EMAIL2 VARCHAR(100),
					
							1,				--@ID_TIPO_ENDERECO1 INT,
							@V_CD_EST_GEOGRAFICA_r,	        --@CD_EST_GEOGRAFICA1 NUMERIC(18,0),
							@v_cep_r,				--@DC_CODIGO_POSTAL1 VARCHAR(20),
							@v_numero_r,			--@DC_NUMERO1 VARCHAR(20),
							@v_complemento_r,			--@DC_COMPLEMENTO1 VARCHAR(60),
							@v_referencia,			--@DC_REFERENCIA1 VARCHAR(80),
							0,				--@ID_DADOS_DIGITADOS1 INT,
							'Brasil',			--@DC_PAIS1 VARCHAR(80),
							@DC_NIVEL_GEO2_r,			--@DC_ESTADO1 VARCHAR(80),
							@DC_NIVEL_GEO3_r,			--@DC_CIDADE1 VARCHAR(80),
							@v_bairro_r,			--@DC_BAIRRO1 VARCHAR(80),
							@v_endereco_r,			--@DC_RUA1 VARCHAR(80),
					
							2,				--@ID_TIPO_ENDERECO2 INT,
							@V_CD_EST_GEOGRAFICA_e,	        --@CD_EST_GEOGRAFICA2 NUMERIC(18,0),
							@v_cep_e,				--@DC_CODIGO_POSTAL2 VARCHAR(20),
							@v_numero_e,			--@DC_NUMERO2 VARCHAR(20),
							@v_complemento_e,			--@DC_COMPLEMENTO2 VARCHAR(60),
							@v_referencia,			--@DC_REFERENCIA2 VARCHAR(80),
							0,				--@ID_DADOS_DIGITADOS2 INT,
							'Brasil',			--@DC_PAIS2 VARCHAR(80),
							@DC_NIVEL_GEO2_e,			--@DC_ESTADO2 VARCHAR(80),
							@DC_NIVEL_GEO3_e,			--@DC_CIDADE2 VARCHAR(80),
							@v_bairro_e,			--@DC_BAIRRO2 VARCHAR(80),
							@v_endereco_e,			--@DC_RUA2 VARCHAR(80),
					
							@v_funcao_cf,			--@ID_FUNCAO_CONSUMIDOR INT,
							@v_funcao_cn,			--@ID_FUNCAO_CONSULTORA INT,
							0,				--@ID_FUNCAO_COLABORADOR INT,
							0,				--@ID_FUNCAO_FORCA_VENDAS INT,
					
							@v_situacao_funcao_cf,	        --@ID_SITUACAO_FUNCAO_CONSUMIDOR INT,
							@v_situacao_funcao_cn,	        --@ID_SITUACAO_FUNCAO_CONSULTORA INT,
							0,				--@ID_SITUACAO_FUNCAO_COLABORADOR INT,
							0,				--@ID_SITUACAO_FUNCAO_FORCA_VENDAS INT,
					
							'',				--@DT_INICIO_FUNCAO_CONSUMIDOR DATE,
							'',				--@DT_INICIO_FUNCAO_CONSULTORA DATE,
							'',				--@DT_INICIO_FUNCAO_COLABORADOR DATE,
							'',				--@DT_INICIO_FUNCAO_FORCA_VENDAS DATE,
					
							0,				--@CD_EMPRESA VARCHAR(20),
							'',				--@DT_ADMISSAO VARCHAR(20),
							'',				--@DT_DESLIGAMENTO VARCHAR(20),
					
							0,		                --@CD_REFERENCIA_BANCARIA1 INT,
							'',		                --@NM_BANCO1 VARCHAR(10),
							'',		                --@DC_BANCO1 VARCHAR(30),
							'',		                --@DC_AGENCIA1 VARCHAR(40),
							'',		                --@DC_CLIENTE_DESDE1 VARCHAR(20),
							0,		                --@ID_CONTA_ESPECIAL1 INT,
							
							
							0,		                --@CD_REFERENCIA_BANCARIA2 INT,
							'',		                --@NM_BANCO2 VARCHAR(10),
							'',		                --@DC_BANCO2 VARCHAR(30),
							'',		                --@DC_AGENCIA2 VARCHAR(40),
							'',		                --@DC_CLIENTE_DESDE2 VARCHAR(20),
							0,		                --@ID_CONTA_ESPECIAL2 INT,

							
							0,		                --@CD_REFERENCIA_PESSOAL1 INT,
							'',		                --@DC_NOME1 VARCHAR(80),
							'',		                --@DC_RELACAO1 VARCHAR(50),
							'',		                --@DC_TELEFONE_PESSOAL1 VARCHAR(50),
							
							0,		                --@CD_REFERENCIA_PESSOAL2 INT,
							'',		                --@DC_NOME2 VARCHAR(80),
							'',		                --@DC_RELACAO2 VARCHAR(50),
							'',		                --@DC_TELEFONE_PESSOAL2 VARCHAR(50),
												
							0,		                --@CD_REFERENCIA_PROFISSIONAL1 INT,
							'',		                --@DC_RAZAO_SOCIAL1 VARCHAR(80),
							0,		                --@ID_RAMO_ATIVIDADE1 INT,
							'',		                --@DC_TELEFONE_PROFISSIONAL1 VARCHAR(30),					
							'',		                --@DC_RAMAL_PROFISSIONAL1 VARCHAR(30),
							'',		                --@DC_CONTATO_PROFISSIONAL1 VARCHAR(30),
													
							0,		                --@CD_REFERENCIA_PROFISSIONAL2 INT,
							'',		                --@DC_RAZAO_SOCIAL2 VARCHAR(80),
							0,		                --@ID_RAMO_ATIVIDADE2 INT,
							'',		                --@DC_TELEFONE_PROFISSIONAL2 VARCHAR(30),					
							'',		                --@DC_RAMAL_PROFISSIONAL2 VARCHAR(30),
							'',		                --@DC_CONTATO_PROFISSIONAL2 VARCHAR(30),
							
							@V_PATROCINADOR,                --@CD_PESSOA_INDICANTE NUMERIC(18,0),
							@v_cd_est_comercial,             --@CD_EST_COMERCIAL_INDICANTE NUMERIC(18,0),
								
							@V_TIPO_PESSOA_PREMIACAO,           --@ID_TIPO_PESSOA_PREMIACAO			INT,
							@V_DC_NOME_PREMIACAO,	            --@DC_NOME_PREMIACAO					VARCHAR(200),
							@V_DC_DOCUMENTO_PREMIACAO,	    --@DC_DOCUMENTO_PREMIACAO				VARCHAR(50),
							@v_ID_TIPO_CONTA_DESTINO_PREMIACAO, --@ID_TIPO_CONTA_DESTINO_PREMIACAO	INT,
							@v_CD_BANCO_PREMIACAO,		    --@CD_BANCO_PREMIACAO					numeric(18,0),
							@v_DC_AGENCIA_PREMIACAO,	    --@DC_AGENCIA_PREMIACAO				varchar(40)	,
							@v_DC_CONTA_PREMIACAO,		    --@DC_CONTA_PREMIACAO					varchar(40),
							'',		                    --@DC_INSS							VARCHAR(50),
											
							@v_senha_cf,			    --@DC_SENHA_CONSUMIDOR VARCHAR(500),
							'',				    --@DC_SENHA_COLABORADOR VARCHAR(500),
							@v_senha_cn,			    --@DC_SENHA_CONSULTORA VARCHAR(500),
							'',				    --@DC_SENHA_FORCA_VENDAS VARCHAR(500),

                                                        0,                                  --@ID_DIRECAO_PADRAO_REDE_BINARIA INT,
	                                                0,                                  --@ID_DIRECAO_REDE_BINARIA INT,
	                                                0,                                  --@ID_DIRECAO_REDE_LINEAR INT,
							
							0,				    --@CD_USUARIO NUMERIC(18,0),
							'I',				    --@VAR_TIPO_FUNCAO VARCHAR(1),
							@V_DATA_CADASTRO,
							@v_dc_franquia,
							@V_DATA_ATUAL, 
							@V_CARREIRA,
							@V_DESEMPENHO, 
							@cdErro				    OUTPUT,
							@dcErro				    OUTPUT,
							@qtLinhasAfetadas		    OUTPUT,
							@cdPessoaFisicaGerada	            OUTPUT	

					INSERT INTO TB_TESTE VALUES ('pr_PessoaInserePessoaFisica', @dcErro, NULL, NULL, NULL, NULL)

					IF @cdErro > 0 
						BEGIN
						    SELECT @cdErro = 1
							SELECT @dcErro = @dcErro + ' ' + @v_nascimento_corrigido + ' ' + @v_cpf
							RETURN
						END
							
									
					
					-- *********************************************************************	
					-- TERCEIRO PASSO -- VINCULAR AS PESSOAS NA ESTRUTURA COMERCIAL
					-- *********************************************************************
					
					IF @v_vip = 1
						BEGIN
					/*		EXEC  pr_PessoaGeraAlocacaoRede
								@cdPessoaFisicaGerada,	--@p_codigoPessoa					numeric(18,0),
								2,						--@p_codigoFuncao					int,
								@v_cd_est_comercial,	--@p_codigoEstruturaComercial		numeric(18,0),
								@v_ciclo_cadastro   ,					--@p_numeroCiclo					numeric(18,0),
								0,						--@p_codigoUsuario					numeric(18,0),

								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT	
					*/
								--INSERT INTO TB_TESTE VALUES ('pr_PessoaGeraAlocacaoRede', @dcErro, NULL, NULL, NULL, NULL)		
							-- EXECUTA A NOVA ROTINA PARA ATUALIZA O MMN (VINCULO, REDE E TOPOLOGIA
							IF (ISNULL(@V_PATROCINADOR,0) > 0)
							BEGIN
								EXEC pr_MNAtualizaIndicante
									@V_PATROCINADOR,
									@v_id,
									2,
									@v_ciclo_cadastro   , 
									0,
									@cdErro					OUTPUT,
									@dcErro					OUTPUT,
									@qtLinhasAfetadas		OUTPUT	
							END

						END
							
				-- atualiza o registro para processado
				UPDATE TB_CARGA_PESSOA_FISICA 
				SET ID_SITUACAO = 2
				WHERE CD_CARGA_PESSOA_FISICA = @v_carga_pessoa_fisica

							
				
				FETCH NEXT FROM @Cursor_Itens
				INTO	@v_carga_pessoa_fisica,
					@v_id,
					@v_cod,
					@v_vip,
					@v_nome,
					@v_sobrenome,
					@v_cpf,
					@v_rg,
					@v_sexo,
					@v_telefone,
                		        @v_telefone_coml,
					@v_celular,
                		        @v_operadora,
					@v_email,
					@v_senha,
					@v_nascimento,
		
					@v_cep_r,
					@v_endereco_r,
					@v_numero_r,
					@v_complemento_r,
					@v_bairro_r,
					@v_cidade_r,
					@v_estado_r,
					@v_pais_r,
					@v_cep_e,
					@v_endereco_e,
					@v_numero_e,
					@v_complemento_e,
					@v_bairro_e,
					@v_cidade_e,
					@v_estado_e,
					@v_pais_e,
	
					@v_referencia,
					@v_distribuidor,
					@v_revenda,
					@v_site,
					@v_receber,
					@v_porcento,
					@v_desconto,
					@v_status,
					@v_temkit,
					@v_contatado,
					@v_observacao,
					@v_cadpor,
					@v_latitude,
					@v_longitude,
					@v_enviando,
					@v_enviandosms,
					@v_dataatualiza,
					@v_horaatualiza,
					@v_funcionario,
					@v_ip,
					@v_datahora,
					@v_data,
					@v_hora,
					@v_duplicado,

					@V_TIPO_PESSOA_PREMIACAO,
					@V_DC_NOME_PREMIACAO,
					@V_DC_DOCUMENTO_PREMIACAO,
					@v_ID_TIPO_CONTA_DESTINO_PREMIACAO,
					@v_CD_BANCO_PREMIACAO,
					@v_DC_AGENCIA_PREMIACAO,
					@v_DC_CONTA_PREMIACAO,

					@V_PATROCINADOR,
				        @V_ESTADO_CIVIL,		
		                        @V_escolaridade,
					@v_dc_franquia,
					--@v_dt_pedido,
					@V_DATA_CADASTRO     ,
					@V_FUNCAO,
					@V_CARREIRA,
					@V_DESEMPENHO 

													
				END


	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	
		
	SELECT @cdErro = 0
		
END
GO
