SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_Anderson_Atualiza_Credito_Manual]
  	
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS


DECLARE @Cursor_Itens			CURSOR

DECLARE @CD_PESSOA_LIMITE_CREDITO		NUMERIC(18,0)
DECLARE @CD_PESSOA						NUMERIC(18,0)
DECLARE @CD_FUNCAO						NUMERIC(18,0)
DECLARE @VL_CREDITO						NUMERIC(18,2)
		
			
BEGIN TRY

	SELECT @qtLinhasAfetadas = 0
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR

		SELECT	A.CD_PESSOA_LIMITE_CREDITO,
				A.CD_PESSOA,
				A.CD_FUNCAO,
				A.VL_CREDITO
		FROM TB_PESSOA_LIMITE_CREDITO A, 
		(SELECT MAX(CD_PESSOA_LIMITE_CREDITO) CD_PESSOA_LIMITE_CREDITO, CD_PESSOA
		FROM TB_PESSOA_LIMITE_CREDITO
		GROUP BY CD_PESSOA) B
		WHERE A.CD_PESSOA = B.CD_PESSOA
		AND A.CD_PESSOA_LIMITE_CREDITO = B.CD_PESSOA_LIMITE_CREDITO
		AND A.ID_MOTIVO_ATUALIZACAO_LIMITE = 3
		AND A.VL_CREDITO = 360
		--AND A.CD_PESSOA = 123391

																
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@CD_PESSOA_LIMITE_CREDITO,
				@CD_PESSOA,
				@CD_FUNCAO,
				@VL_CREDITO
				
				
			WHILE @@FETCH_STATUS = 0
				BEGIN

					UPDATE TB_PESSOA_LIMITE_CREDITO
					SET DT_TERMINO_LIMITE_CREDITO = '2023-06-15'
					WHERE CD_PESSOA_LIMITE_CREDITO = @CD_PESSOA_LIMITE_CREDITO
				
					EXEC pr_PessoaAtualizaLimiteCredito
							0, 
        					@CD_PESSOA,
        					@CD_FUNCAO,
							3, -- MANUAL
							'ATUALIZAÇÃO DE REGRA DE REENQUADRAMENTO', -- MOTIVO
							'2023-06-16', --@DT_INICIO_LIMITE_CREDITO
							'2026-01-01', --@DT_TERMINO_LIMITE_CREDITO
							390, -- VALOR DO CREDITO,
							'I',
							0,
							0, '', 0
			
					
					FETCH NEXT FROM @Cursor_Itens
						INTO	@CD_PESSOA_LIMITE_CREDITO,
								@CD_PESSOA,
								@CD_FUNCAO,
								@VL_CREDITO
		
								
									
				END

		
	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	SELECT @cdErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @cdErro = 1
      SELECT @dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
