SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_SaldoFavorInsereSaque]
	@p_codigoSaldoFavorSaque			numeric(18,0),
	@p_codigoPessoa					numeric(18,0),
	@p_codigoFuncao					int,
	@p_valorSaldoFavorDisponivel		numeric(18,2),
	@p_valorSaldoFavorUtilizado		numeric(18,2),
	@p_codigoSituacaoSaque			int,
	@p_descricaoFuncao				varchar(1),
	@p_codigoUsuario				numeric(18,0),
	
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS

DECLARE @V_vl_PARAMETRO_7_22 NUMERIC (18,2),
        @V_vl_PARAMETRO_7_23 NUMERIC (18,2)
DECLARE @CD_CLIENTE    NUMERIC(18,0),
        @V_VALOR_BONUS NUMERIC(18,2),
        @p_valorSaldoFavorUtilizado1 numeric(18,2),
        @p_codigoPessoa1 	numeric(18,0)				 
BEGIN TRY
  SELECT @p_codigoErro = 0
  SELECT @p_descricaoErro = ''
  SELECT @p_linhasAfetadas = 0
	    
	    
  IF @p_descricaoFuncao = 'I'
  BEGIN
    INSERT INTO TB_SALDO_FAVOR_SAQUE (
			CD_PESSOA,
			CD_FUNCAO,
			DT_CADASTRO,
			CD_USUARIO_CADASTRO,
			VL_SALDO_FAVOR_DISPONIVEL,
			VL_SALDO_FAVOR_UTILIZADO,
			ID_SITUACAO_SAQUE
			) VALUES
			(
			@p_codigoPessoa,
			@p_codigoFuncao,
			GETDATE(),
			@p_codigoUsuario,
			@p_valorSaldoFavorDisponivel,
			@p_valorSaldoFavorUtilizado,
			@p_codigoSituacaoSaque
			)				    
	    
    SELECT @p_linhasAfetadas = @@ROWCOUNT
    SELECT @p_codigoGerado = IDENT_CURRENT('TB_SALDO_FAVOR_SAQUE')
		
    -- ABRE A SITUACAO 1 - SOLICITACAO EM ANDAMENTO
    EXEC pr_SaldoFavorGravaHistoricoSaque
		@p_codigoGerado,
		1,  -- SOLICITACAO EM ANDAMENTO
		1,	-- ABRE
		@p_codigoUsuario,
		@p_codigoErro		OUTPUT,
		@p_descricaoErro	OUTPUT,
		@p_codigoGerado		OUTPUT
					
  END

  IF @p_descricaoFuncao = 'A'
  BEGIN

    -- busca o valor utilizado
    select @p_valorSaldoFavorUtilizado1 = VL_SALDO_FAVOR_UTILIZADO,
           @p_codigoPessoa1             = CD_PESSOA 
    FROM TB_SALDO_FAVOR_SAQUE
    WHERE CD_SALDO_FAVOR_SAQUE = @p_codigoSaldoFavorSaque

    -- ALTERACAO PARA CONSIDERAR O DESCONTO DA TAXA ADMINISTRATIVA QUANDO FOR SOMENTE NO SAQUE (ALDIR 13/09/2018)
    -- PERCENTUAL
    SELECT @V_vl_PARAMETRO_7_22 = ISNULL(SUM(VL_PARAMETRO),0)
    FROM TB_VALOR_PARAMETRO
    WHERE CD_GRUPO_PARAMETRO = 7
    AND CD_PARAMETRO = 22

    -- VALOR
    SELECT @V_vl_PARAMETRO_7_23 = ISNULL(SUM(VL_PARAMETRO),0)
    FROM TB_VALOR_PARAMETRO
    WHERE CD_GRUPO_PARAMETRO = 7
    AND CD_PARAMETRO = 23

    -- INDENTICA O CLIENTE
    -- SE FOR A SÓS NÃO DEVE APLICAR A TAXA NO BÔNUS " 16 - BÔNUS GERAÇÃO  - FORMAR LIDER", VALOR ATUAL DE R$ 400,00
    select @CD_CLIENTE = vl_parametro 
    from TB_valor_PARAMETRO
    where CD_GRUPO_PARAMETRO = 6
    and CD_PARAMETRO = 1
    and CD_VALOR_PARAMETRO  =1
    IF ( @CD_CLIENTE = 25)   -- A SÓS
    BEGIN
      -- VERIFICA SE RECEBEU O BÔNUS NO CICLO DE CALCULO DA BONIFICAÇÃO
      SELECT @V_VALOR_BONUS =  ISNULL(SUM(A.VL_REMUNERACAO),0)
      FROM TB_MN_DETALHE_REMUNERACAO A,
          (SELECT NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @p_codigoPessoa1 AND CD_FUNCAO = 2) B
      WHERE A.NM_CICLO              = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (B.NM_CICLO_ATUAL,2)  
      AND   A.CD_PESSOA             = @p_codigoPessoa1
      AND   A.CD_FUNCAO             = 2
      AND   A.CD_REGRA_PREMIACAO_MN = 16
        
      IF (@V_VALOR_BONUS > 0)  
      BEGIN
        IF (@p_valorSaldoFavorUtilizado1 > @V_VALOR_BONUS)
        BEGIN
          IF (@V_vl_PARAMETRO_7_22 > 0)
          BEGIN
            SELECT @p_valorSaldoFavorUtilizado1 =  ( ((@p_valorSaldoFavorUtilizado1- @V_VALOR_BONUS ) * (1   - (@V_vl_PARAMETRO_7_22 /100)))  + @V_VALOR_BONUS)
          END
          ELSE IF (@V_vl_PARAMETRO_7_23 > 0)
          BEGIN
            SELECT @p_valorSaldoFavorUtilizado1 = (@p_valorSaldoFavorUtilizado1 - @V_vl_PARAMETRO_7_23) 
          END
        END  
      END
      ELSE
      BEGIN
        IF (@V_vl_PARAMETRO_7_22 > 0)
        BEGIN
          SELECT @p_valorSaldoFavorUtilizado1 = (@p_valorSaldoFavorUtilizado1 * (1   - (@V_vl_PARAMETRO_7_22 /100)))
        END
        ELSE IF (@V_vl_PARAMETRO_7_23 > 0)
        BEGIN
          SELECT @p_valorSaldoFavorUtilizado1 = (@p_valorSaldoFavorUtilizado1 - @V_vl_PARAMETRO_7_23)
        END

      END
    END
    ELSE
    BEGIN
      IF (@V_vl_PARAMETRO_7_22 > 0)
      BEGIN
        SELECT @p_valorSaldoFavorUtilizado1 = (@p_valorSaldoFavorUtilizado1 * (1   - (@V_vl_PARAMETRO_7_22 /100)))
      END
      ELSE IF (@V_vl_PARAMETRO_7_23 > 0)
      BEGIN
        SELECT @p_valorSaldoFavorUtilizado1 = (@p_valorSaldoFavorUtilizado1 - @V_vl_PARAMETRO_7_23)
      END
    END

    UPDATE TB_SALDO_FAVOR_SAQUE 
    SET VL_SALDO_FAVOR_UTILIZADO = @p_valorSaldoFavorUtilizado1,
        ID_SITUACAO_SAQUE        = @p_codigoSituacaoSaque
    WHERE CD_SALDO_FAVOR_SAQUE = @p_codigoSaldoFavorSaque
		
		
    -- FECHA A SITUACAO 1 - SOLICITACAO EM ANDAMENTO
    EXEC pr_SaldoFavorGravaHistoricoSaque
		@p_codigoSaldoFavorSaque,
		1,  -- SOLICITACAO EM ANDAMENTO
		2,	-- FECHA
		@p_codigoUsuario,
		@p_codigoErro		OUTPUT,
		@p_descricaoErro	OUTPUT,
		@p_codigoGerado		OUTPUT
						
		
    -- ABRE 
    EXEC pr_SaldoFavorGravaHistoricoSaque
		@p_codigoSaldoFavorSaque,
		@p_codigoSituacaoSaque,  
		1,	-- ABRE
		@p_codigoUsuario,
		@p_codigoErro		OUTPUT,
		@p_descricaoErro	OUTPUT,
		@p_codigoGerado		OUTPUT
				
				
    -- FECHA
    EXEC pr_SaldoFavorGravaHistoricoSaque
		@p_codigoSaldoFavorSaque,
		@p_codigoSituacaoSaque, 
		2,	-- FECHA
		@p_codigoUsuario,
		@p_codigoErro		OUTPUT,
		@p_descricaoErro	OUTPUT,
		@p_codigoGerado		OUTPUT
				
				
  END
			
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
