SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_COTA_PRODUTO_PESSOA]
	@CD_COTA_PRODUTO_PESSOA			NUMERIC(18, 0),
	@CD_PRODUTO_VENDA				NUMERIC(18, 0),
	@CD_EST_PRODUTO					NUMERIC(18, 0),
    @ID_TIPO_COTA_PRODUTO_PESSOA	INT,

	@NM_CICLO_INICIAL				numeric(18, 0),
	@NM_CICLO_FINAL					numeric(18, 0),
	@NM_COTA						numeric(18, 0),
	@CD_PUBLICO_ALVO				numeric(18, 0),
		
	@CD_USUARIO						NUMERIC(18, 0),
	@VAR_TIPO_FUNCAO				VARCHAR(1),
	
	@VAR_RETORNO					INT				OUTPUT,
	@DC_ERRO						NVARCHAR(MAX)	OUTPUT,
	@QT_LINHAS_AFETADAS				INT				OUTPUT,
	@CD_COTA_GERADO					NUMERIC(18, 0 ) OUTPUT

AS


BEGIN TRY
	
	

	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
	
			BEGIN
				BEGIN TRANSACTION 
					
				IF (@NM_CICLO_INICIAL) = 0
					BEGIN
						SELECT @NM_CICLO_INICIAL = NULL
					END

				IF (@NM_CICLO_FINAL) = 0
					BEGIN
						SELECT @NM_CICLO_FINAL = NULL
					END				
				
				INSERT INTO TB_COTA_PRODUTO_PESSOA (
					CD_PRODUTO_VENDA,
					CD_EST_PRODUTO,
					ID_TIPO_COTA_PRODUTO_PESSOA,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					NM_COTA,
					CD_PUBLICO_ALVO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
										
						
				VALUES           (
					@CD_PRODUTO_VENDA,
					@CD_EST_PRODUTO,
					@ID_TIPO_COTA_PRODUTO_PESSOA,
					@NM_CICLO_INICIAL,
					@NM_CICLO_FINAL,
					@NM_COTA,
					@CD_PUBLICO_ALVO,				
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @CD_COTA_GERADO = IDENT_CURRENT('TB_COTA_PRODUTO_PESSOA')
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	
			
			IF @VAR_TIPO_FUNCAO = 'E'
				BEGIN
				
					BEGIN TRANSACTION 

					DELETE FROM TB_COTA_PRODUTO_PESSOA_REGRA_COMERCIAL 
					WHERE CD_COTA_PRODUTO_PESSOA = @CD_COTA_PRODUTO_PESSOA

					DELETE FROM TB_COTA_PRODUTO_PESSOA 
					WHERE CD_COTA_PRODUTO_PESSOA = @CD_COTA_PRODUTO_PESSOA
			
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			
				END

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
