SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[pr_PessoaInsereAcessoMenuUsuario]
	@p_cdPessoa					numeric(18,0),
	@p_codigoUsuario			VARCHAR(100),
	@p_cdMenuSistema			varchar(100),
		
	@p_idTipoFuncao				VARCHAR(1),
	
	@p_cdRetorno		INT OUTPUT,
	@p_dcErro			NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT

AS

BEGIN TRY
	
	SELECT @p_cdRetorno = 0
	SELECT @p_dcErro = ''
	SELECT @p_qtLinhasAfetadas = 0
	IF @p_idTipoFuncao = 'I'
		BEGIN
			BEGIN TRANSACTION 
		
			INSERT INTO TB_PESSOA_USUARIO_MENU_SISTEMA_EV (
				CD_PESSOA,
				CD_USUARIO,
				CD_MENU_SISTEMA_EV,
				DT_CADASTRO
				)
			VALUES (
				@p_cdPessoa,
				@p_codigoUsuario,
				@p_cdMenuSistema,
				GETDATE()
				)
			
			COMMIT TRANSACTION

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
--			SELECT @CodigoGerado = IDENT_CURRENT('TB_PRODUTO_VENDA_FAIXA_FATOR')
		END	
			
	IF @p_idTipoFuncao = 'A'
		BEGIN
			BEGIN TRANSACTION 
		
			UPDATE TB_PESSOA_USUARIO_MENU_SISTEMA_EV SET
				CD_MENU_SISTEMA_EV = @p_cdMenuSistema,
				DT_CADASTRO = GETDATE()
			WHERE CD_USUARIO = @p_codigoUsuario
			  AND CD_PESSOA = @p_cdPessoa

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END
				
	IF @p_idTipoFuncao = 'E'
		BEGIN
			BEGIN TRANSACTION 
		
			DELETE FROM TB_PESSOA_USUARIO_MENU_SISTEMA_EV 
			WHERE CD_PESSOA = @p_cdPessoa
			  AND CD_USUARIO = @p_codigoUsuario
							
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END	
			

	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
