SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CargaDesativaPessoasMassa]
  	
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS


DECLARE @Cursor_Itens			CURSOR

DECLARE @V_CD_PESSOA			NUMERIC(18,0)
DECLARE @V_DC_DOCUMENTO			VARCHAR(30)
DECLARE @V_DC_UF				VARCHAR(30)

DECLARE @V_CD_EST_COMERCIAL		INT

	
BEGIN TRY

	SELECT @qtLinhasAfetadas = 0
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR

		SELECT CD_PESSOA 
		FROM TB_PESSOA_RESUMO
		WHERE CD_FUNCAO = 2
		AND CD_SITUACAO_COMERCIAL = 0
		--AND CD_PESSOA = 5
		AND DT_CADASTRO_PESSOA <= '2020-07-31 23:59:59.999'
		AND CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA WHERE ID_TIPO_PESSOA = 2)

																
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@V_CD_PESSOA
				
				
			WHILE @@FETCH_STATUS = 0
				BEGIN
				
					EXEC pr_PessoaDesativaConsultora
						@V_CD_PESSOA,	--@p_codigoPessoa		numeric(18,0),
						2,				--@p_codigoFuncao		int,
						0,				--@p_codigoUsuario	numeric(18,0),
						0,				--@p_codigoErro		int				output,
						'',				--@p_descricaoErro	varchar(1000)	output,
						0				--@p_linhasAfetadas	int				output
					

					FETCH NEXT FROM @Cursor_Itens
						INTO	@V_CD_PESSOA
								
									
				END

		
	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	SELECT @cdErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @cdErro = 1
      SELECT @dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
