SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaInsereAlocacaoRede]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoFuncao					int,
	@p_codigoEstruturaComercial		numeric(18,0),
	@p_numeroCiclo					numeric(18,0),
	@p_codigoTipoAlocacao			int,
	@p_codigoUsuario				numeric(18,0),
	@p_codigoTipoFuncao				VARCHAR(1),
	
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output

AS

BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	    
	IF @p_codigoTipoFuncao = 'I'
		BEGIN

			BEGIN TRANSACTION 

			INSERT INTO TB_ALOCACAO_REDE (
					CD_PESSOA,
					CD_FUNCAO,
					CD_EST_COMERCIAL,
					NM_CICLO,
					ID_ALOCACAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
										
						
				VALUES           (
					@p_codigoPessoa,
					@p_codigoFuncao,
					@p_codigoEstruturaComercial,
					@p_numeroCiclo,
					@p_codigoTipoAlocacao,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
		END
			
			
	IF @p_codigoTipoFuncao = 'E'
		BEGIN

			BEGIN TRANSACTION 

			DELETE FROM TB_ALOCACAO_REDE 
				WHERE CD_PESSOA = @p_codigoPessoa
				AND CD_FUNCAO = @p_codigoFuncao
				AND CD_EST_COMERCIAL = @p_codigoEstruturaComercial
				AND NM_CICLO = @p_numeroCiclo
				
			SELECT @p_linhasAfetadas = @@ROWCOUNT
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = 'Alocação de Rede excluido com sucesso'
		
			COMMIT TRANSACTION
		END	

	SELECT @p_codigoErro = 0
	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
