SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ComissaoFVBuscaComissao2]
	@CD_PESSOA               NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
      @CD_EST_COMERCIAL        NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
	@DC_LISTA_EST_COMERCIAL	VARCHAR(3000),   -- Se ficar em branco listar todos (enviar '0' na chamada da proc) 
	@NM_CICLO_INICIAL        NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
	@NM_CICLO_FINAL          NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
	@ID_SITUACAO_COMISSAO    INT  -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
AS
DECLARE @query  AS NVARCHAR(MAX)
	BEGIN 
		SET @query = 'SELECT CD_FV_COMISSAO                                                      AS "Cód. Comissão", '
		SET @query = @query + '	CD_EST_COMERCIAL                                                     AS "Cód. Est.", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DESC_EST_COMERCIAL](CD_EST_COMERCIAL)                AS "Est. Comercial", '
		SET @query = @query + '	CD_PESSOA	                                                         AS "Cód. Pessoa", '
		SET @query = @query + '	[dbo].[FN_BUSCA_NOME_PESSOA](CD_PESSOA)                              AS "Pessoa", '
		SET @query = @query + '	[dbo].[FN_BUSCA_DOMINIO] (''SITUACAO_COMISSAO'', ID_SITUACAO_COMISSAO) AS "Situação Comissão", '
		SET @query = @query + '	NM_CICLO                                                             AS "Ciclo", '
		SET @query = @query + '	VL_ORIGINAL                                                          AS "Valor Original", '
		SET @query = @query + '	VL_AJUSTADO                                                          AS "Valor Ajustado", '
		SET @query = @query + '	DC_MOTIVO_AJUSTE                                                     AS "Motivo" '
		SET @query = @query + ' FROM TB_FV_COMISSAO WITH (NOLOCK) '
		SET @query = @query + ' WHERE  ((' + CONVERT(VARCHAR(6),@NM_CICLO_INICIAL ) + ' > 0 AND NM_CICLO >= ' + CONVERT(VARCHAR(6),@NM_CICLO_INICIAL) + ')  OR ' 		SET @query = @query + ' (' + CONVERT(VARCHAR(6),@NM_CICLO_INICIAL) + ' = 0)   ) '
		SET @query = @query + ' AND    ((' + CONVERT(VARCHAR(6),@NM_CICLO_FINAL)    + ' > 0 AND NM_CICLO <= ' + CONVERT(VARCHAR(6),@NM_CICLO_FINAL)   + ')  OR ' 		SET @query = @query + ' (' + CONVERT(VARCHAR(6),@NM_CICLO_FINAL)   + ' = 0)   ) '
		SET @query = @query + ' AND    ((' + CONVERT(VARCHAR(6),@ID_SITUACAO_COMISSAO) + '  > 0 AND ID_SITUACAO_COMISSAO = ' 
		SET @query = @query +  CONVERT(VARCHAR(6),@ID_SITUACAO_COMISSAO)  + '  )  OR (' + CONVERT(VARCHAR(6),@ID_SITUACAO_COMISSAO) + '  = 0)   ) '

		IF @CD_PESSOA <> 0
		BEGIN
			SET @query = @query + '	AND CD_PESSOA  = ' + CONVERT(VARCHAR(18), @CD_PESSOA)
		END
		IF @CD_EST_COMERCIAL <> 0
		BEGIN
			SET @query = @query + '	AND DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', CD_EST_COMERCIAL) = 1 '
		END
		IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	AND CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) '

		END
		SET @query = @query + 'ORDER BY NM_CICLO, CD_EST_COMERCIAL,[dbo].[FN_BUSCA_DOMINIO] (''SITUACAO_COMISSAO'', ID_SITUACAO_COMISSAO)'


		EXEC(@query);
		--select @query


	END


GO
