SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_LOG_ACESSO]
	@CD_PESSOA					NUMERIC(18,0),
	@DC_IP_ACESSO				VARCHAR(20),
	@DC_BROWSER					VARCHAR(100),
	@DC_PLATAFORMA				VARCHAR(100),
	@DC_PROVIDER_SOCIAL_LOGIN	VARCHAR(80),
	@DC_ID_SOCIAL_LOGIN			VARCHAR(200),

	@VAR_RETORNO				INT OUTPUT,
	@DC_ERRO					NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS			INT OUTPUT

AS

BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0
			
	BEGIN
		BEGIN TRANSACTION 

		INSERT INTO TB_LOG_ACESSO (
				CD_PESSOA,
				DT_ENTRADA_ACESSO,
				DC_IP_ACESSO,
				DC_BROWSER,
				DC_PLATAFORMA,
				DC_PROVIDER_SOCIAL_LOGIN,
				DC_ID_SOCIAL_LOGIN )
		VALUES ( @CD_PESSOA,
			GETDATE(),
			@DC_IP_ACESSO,
			@DC_BROWSER,
			@DC_PLATAFORMA,
			@DC_PROVIDER_SOCIAL_LOGIN,
			@DC_ID_SOCIAL_LOGIN)

		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	
		COMMIT TRANSACTION
	END
	
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
