SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_ESPECIFICO_LOWELL]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_EVENTO = 11 - ESPECIFICOS CANAL /  PEDIDO
São indicadores por pessoa com regras especificas do cliente

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT

DECLARE @VL_INDICADOR_PESSOAL_23 NUMERIC(18,2)

DECLARE @VL_INDICADOR_PESSOAL_501 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_508 NUMERIC(18,2)

DECLARE @VL_INDICADOR_PESSOAL_502 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_535 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_506 NUMERIC(18,2)

DECLARE @CD_EST_GEOGRAFICA NUMERIC(18,0)

BEGIN TRY
  
    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 11) -- ESPECIFICOS CANAL /  PEDIDO
    BEGIN

      --**************************************************
      -- INDICADOR DE CANAL
      -- GRAVA INDICADOR DE REINICIO *********
      --**************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      select @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(23,1) 
      IF @CALCULA_INDICADOR = 1
      BEGIN

	-- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 23
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
		
	IF (@EXISTE_REGISTRO = 0) 
	BEGIN

	  SELECT @VL_INDICADOR_PESSOAL_23 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 23
	  AND NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					23,
					@VL_INDICADOR_PESSOAL_23,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
	END
      END
      

      --******************************************************************************
      -- RECEITAS LIQUIDAS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(501,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_INDICADOR_PESSOAL_501 = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        --AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_INDICADOR       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	AND   B.ID_PRODUTO_COBRADO       = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 501
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						501,
						@VL_INDICADOR_PESSOAL_501,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0




        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						501,
						@VL_INDICADOR_PESSOAL_501,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0

   	END
      END


      --******************************************************************************
      -- INICIO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(502,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	
	SELECT @VL_INDICADOR_PESSOAL_502 = COUNT(A.CD_PESSOA)
	FROM TB_PESSOA_RESUMO A with(nolock)
	WHERE A.CD_PESSOA           = @CD_PESSOA
        --AND A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
	AND A.CD_FUNCAO             = @CD_FUNCAO
	AND A.NM_CICLO_INICIO       = @NM_CICLO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 502
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						502,
						@VL_INDICADOR_PESSOAL_502,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						502,
						@VL_INDICADOR_PESSOAL_502,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- ATIVAS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(503,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	--SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
	--FROM TB_PESSOA_INDICADOR A  with(nolock)
	--WHERE A.CD_PESSOA          = @CD_PESSOA
	--AND A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--AND A.CD_FUNCAO            = @CD_FUNCAO	
	--AND A.NM_CICLO             = @NM_CICLO	
	--AND A.CD_INDICADOR_PESSOAL = 1002
	--AND A.VL_INDICADOR_PESSOAL > 0

	IF (@VL_INDICADOR_PESSOAL_501 > 0)
	BEGIN
	  SELECT @VL_CONTADOR = 1
	END
	ELSE
	BEGIN
	  SELECT @VL_CONTADOR = 0
	END

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 503
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						503,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						503,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- DISPONÍVEIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(504,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR  = COUNT (A.CD_PESSOA)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	WHERE  A.CD_PESSOA              = @CD_PESSOA
	--AND    A.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	AND    A.NM_CICLO               = @NM_CICLO
	AND    A.CD_SITUACAO_COMERCIAL IN (1,2)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 504
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						504,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						504,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- A CESSAR / CESSADAS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(505,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	WHERE  A.CD_PESSOA                    = @CD_PESSOA
	--AND    A.CD_EST_COMERCIAL             = @CD_EST_COMERCIAL
	AND    A.NM_CICLO                     = @NM_CICLO
	AND    A.CD_SITUACAO_COMERCIAL_DETALHE  IN (
	            select max(CD_SITUACAO_COMERCIAL_DETALHE) FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE WITH (NOLOCK)
			WHERE CD_SITUACAO_COMERCIAL  IN (2, 3)   )

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 505
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						505,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						505,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


 
      --******************************************************************************
      -- INATIVAS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(506,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	--SELECT @VL_CONTADOR  = COUNT(A.CD_PESSOA)
	--FROM TB_PESSOA_INDICADOR A  with(nolock)
	--WHERE A.CD_PESSOA          = @CD_PESSOA
	--AND A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--AND A.CD_FUNCAO            = @CD_FUNCAO	
	--AND A.NM_CICLO             = @NM_CICLO	
	--AND A.CD_INDICADOR_PESSOAL = 1002
	--AND A.VL_INDICADOR_PESSOAL = 0
	--IF (@VL_INDICADOR_PESSOAL_501 = 0)
	--BEGIN
	  --SELECT @VL_INDICADOR_PESSOAL_506 = 1
	--END
	--ELSE
	--BEGIN
	  --SELECT @VL_INDICADOR_PESSOAL_506 = 0
	--END

        SELECT @VL_INDICADOR_PESSOAL_506  = COUNT (A.CD_PESSOA)
        FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	WHERE A.CD_PESSOA                               = @CD_PESSOA
	--AND A.CD_EST_COMERCIAL                        = @CD_EST_COMERCIAL
	AND   A.NM_CICLO                                = @NM_CICLO
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL_DETALHE,0) in (201,202,203,301)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 506
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						506,
						@VL_INDICADOR_PESSOAL_506,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						506,
						@VL_INDICADOR_PESSOAL_506,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PEDIDOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(508,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	--SELECT @VL_CONTADOR  = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
	--FROM TB_PESSOA_INDICADOR A  with(nolock)
	--WHERE A.CD_PESSOA           = @CD_PESSOA
	--AND A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
	--AND A.CD_FUNCAO             = @CD_FUNCAO	
	--AND A.NM_CICLO              = @NM_CICLO	
	--AND A.CD_INDICADOR_PESSOAL  = 1016

          SELECT @VL_INDICADOR_PESSOAL_508 = COUNT (A.NM_PEDIDO)
          FROM TB_PEDIDO A  with(nolock)
	  WHERE A.CD_PESSOA             = @CD_PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  --AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	  AND A.NM_CICLO_INDICADOR      = @NM_CICLO
          AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 508
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						508,
						@VL_INDICADOR_PESSOAL_508,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						508,
						@VL_INDICADOR_PESSOAL_508,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
	END
      END


      --******************************************************************************
      -- REPIQUE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(507,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	--SELECT @VL_CONTADOR  = COUNT(A.CD_PESSOA)
	--FROM TB_PESSOA_INDICADOR A  with(nolock)
	--WHERE A.CD_PESSOA           = @CD_PESSOA
	--AND A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
	--AND A.CD_FUNCAO             = @CD_FUNCAO	
	--AND A.NM_CICLO              = @NM_CICLO	
	--AND A.CD_INDICADOR_PESSOAL  = 1016
	--AND A.VL_INDICADOR_PESSOAL >= 2

	IF (@VL_INDICADOR_PESSOAL_508 > 1)
	BEGIN
	  SELECT @VL_CONTADOR = 1
	END
	ELSE
	BEGIN
	  SELECT @VL_CONTADOR = 0
	END

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 507
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						507,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						507,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- CADASTRADO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(530,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR  = COUNT (A.CD_PESSOA)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	  WHERE A.CD_PESSOA                       = @CD_PESSOA
	  --AND A.CD_EST_COMERCIAL                = @CD_EST_COMERCIAL
	  AND   A.NM_CICLO                        = @NM_CICLO
	  AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) in (1,2,3)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 530
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						530,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						530,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- INATIVO 1
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(531,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR  = COUNT (A.CD_PESSOA)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	  WHERE A.CD_PESSOA                               = @CD_PESSOA
	  --AND A.CD_EST_COMERCIAL                        = @CD_EST_COMERCIAL
	  AND   A.NM_CICLO                                = @NM_CICLO
	  AND   ISNULL(A.CD_SITUACAO_COMERCIAL_DETALHE,0) = 201

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 531
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						531,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						531,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INATIVO 2
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(532,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR  = COUNT (A.CD_PESSOA)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	  WHERE A.CD_PESSOA                               = @CD_PESSOA
	  --AND A.CD_EST_COMERCIAL                        = @CD_EST_COMERCIAL
	  AND   A.NM_CICLO                                = @NM_CICLO
	  AND   ISNULL(A.CD_SITUACAO_COMERCIAL_DETALHE,0) = 202

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 532
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						532,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						532,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INATIVO 3
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(533,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR  = COUNT (A.CD_PESSOA)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	  WHERE A.CD_PESSOA                               = @CD_PESSOA
	  --AND A.CD_EST_COMERCIAL                        = @CD_EST_COMERCIAL
	  AND   A.NM_CICLO                                = @NM_CICLO
	  AND   ISNULL(A.CD_SITUACAO_COMERCIAL_DETALHE,0) = 203

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 533
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						533,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						533,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INATIVO 4
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(534,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR  = COUNT (A.CD_PESSOA)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	  WHERE A.CD_PESSOA                               = @CD_PESSOA
	  --AND A.CD_EST_COMERCIAL                        = @CD_EST_COMERCIAL
	  AND   A.NM_CICLO                                = @NM_CICLO
	  AND   ISNULL(A.CD_SITUACAO_COMERCIAL_DETALHE,0) = 301

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 534
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						534,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						534,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- INTENÇÃO DE REVENDA CADASTRADA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(535,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_INDICADOR_PESSOAL_535 = COUNT (A.CD_PESSOA)
          FROM TB_PESSOA_RESUMO A with(nolock),
	      (SELECT DT_INICIAL INICIAL, DT_FINAL FINAL 
		FROM TB_CALENDARIO_COMERCIAL WITH (NOLOCK) 
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL 
		AND   NM_CICLO         = @NM_CICLO) B
	  WHERE A.CD_PESSOA            = @CD_PESSOA
	  AND   A.CD_FUNCAO            = @CD_FUNCAO
	  --AND A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	  AND CONVERT(DATE,A.DT_CADASTRO_PESSOA) BETWEEN CONVERT(DATE,B.INICIAL) AND CONVERT(DATE,B.FINAL)
	  AND CD_SITUACAO_COMERCIAL <> 99


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 535
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						535,
						@VL_INDICADOR_PESSOAL_535,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						535,
						@VL_INDICADOR_PESSOAL_535,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INTENÇÃO DE REVENDA CADASTRADA E INÍCIO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(536,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@VL_INDICADOR_PESSOAL_502 = 1 AND @VL_INDICADOR_PESSOAL_535 = 1)
	BEGIN
          SELECT @VL_CONTADOR = 1
	END
	ELSE
	BEGIN
          SELECT @VL_CONTADOR = 0
	END
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 536
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						536,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						536,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- ATIVO TODO ANO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(537,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = CASE WHEN (COUNT(A.CD_PESSOA) = Z.QDE_CICLOS)  THEN 1  ELSE 0  END
	FROM TB_PESSOA_INDICADOR A  with(nolock),
		(SELECT CASE WHEN (C.CICLO_INICIO = 0) THEN 0
                             ELSE dbo.FN_BUSCA_DIFERENCA_CICLOS_MMN (@NM_CICLO, CASE WHEN (C.CICLO_INICIO > B.CICLO) THEN C.CICLO_INICIO
										  ELSE B.CICLO
										  END )  END QDE_CICLOS 
                 FROM (SELECT MIN(NM_CICLO) CICLO FROM TB_CICLO WITH (NOLOCK)
                       WHERE NM_ANO = CONVERT(NUMERIC(16,0),SUBSTRING(CONVERT(VARCHAR,@NM_CICLO),1,4)) ) B, -- BUSCA O 1o CICLO DO ANO
                      (SELECT ISNULL(ISNULL(NM_CICLO_REINICIO, NM_CICLO_INICIO),0) CICLO_INICIO FROM TB_PESSOA_RESUMO WITH (NOLOCK)
                       WHERE CD_PESSOA = @CD_PESSOA
                       AND CD_FUNCAO   = @CD_FUNCAO) C ) Z  -- BUSCA O CICLO DE REINICIO, SE NÃO TIVER, CICLO DE INICIO 
	WHERE A.CD_PESSOA          = @CD_PESSOA
	--AND A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	AND A.CD_FUNCAO            = @CD_FUNCAO	
	AND A.NM_CICLO            >= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,Z.QDE_CICLOS)
	AND A.NM_CICLO            <= @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL = 503
	AND A.VL_INDICADOR_PESSOAL = 1
	GROUP BY Z.QDE_CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 537
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
	SELECT @VL_CONTADOR = ISNULL(@VL_CONTADOR,0)							
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						537,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						537,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END

  /*    --******************************************************************************
      -- INATIVO E ATIVO CICLO ANTERIOR
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(538,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


	IF (@VL_INDICADOR_PESSOAL_506 = 1) -- INATIVO NO CICLO ATUAL
	BEGIN
	  SELECT @VL_CONTADOR = COUNT (*)  -- ATIVO NO CICLO ANTERIOR
	  FROM TB_PESSOA_INDICADOR A  with(nolock)
	  WHERE A.CD_PESSOA          = @CD_PESSOA
	  --AND A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	  AND A.CD_FUNCAO            = @CD_FUNCAO	
	  AND A.NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
	  AND A.CD_INDICADOR_PESSOAL = 503
	  AND A.VL_INDICADOR_PESSOAL = 1

	END
	ELSE
	BEGIN 
	  SELECT @VL_CONTADOR = 0
	END
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 538
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						538,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						538,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END */


      --******************************************************************************
      -- REINICIO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(539,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	
	SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
	FROM TB_PESSOA_RESUMO A with(nolock)
	WHERE A.CD_PESSOA           = @CD_PESSOA
        --AND A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
	AND A.CD_FUNCAO             = @CD_FUNCAO
	AND A.NM_CICLO_REINICIO     = @NM_CICLO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 539
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						539,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						539,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- DESATIVADO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(540,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR  = COUNT (A.CD_PESSOA)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	WHERE  A.CD_PESSOA              = @CD_PESSOA
	--AND    A.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	AND    A.NM_CICLO               = @NM_CICLO
	AND    A.CD_SITUACAO_COMERCIAL IN (4)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 540
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						540,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						540,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INÍCIO COM PEDIDO NO 2o CICLO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(541,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = CASE WHEN (COUNT(A.CD_PESSOA) = 2) THEN 1 ELSE 0 END
        FROM TB_PESSOA_INDICADOR A  with(nolock),
  	    (SELECT NM_CICLO_INICIO CICLO_INICIO, CD_PESSOA PESSOA, CD_FUNCAO FUNCAO
	     FROM TB_PESSOA_RESUMO with(nolock)
	     WHERE CD_PESSOA             = @CD_PESSOA
	     --AND   CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
	     AND   CD_FUNCAO             = @CD_FUNCAO
	     AND   NM_CICLO_INICIO       = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
	 	 ) B
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.CD_FUNCAO             = B.FUNCAO
        AND   A.NM_CICLO             >= B.CICLO_INICIO
        AND   A.NM_CICLO             <= @NM_CICLO	
	AND   A.CD_INDICADOR_PESSOAL  = 503
        AND   A.VL_INDICADOR_PESSOAL  = 1
        


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 541
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						541,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						541,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END


     --******************************************************************************
      -- INÍCIO COM PEDIDO NO 2o E 3o CICLO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(542,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = CASE WHEN (COUNT(A.CD_PESSOA) = 3) THEN 1 ELSE 0 END
        FROM TB_PESSOA_INDICADOR A  with(nolock),
  	    (SELECT NM_CICLO_INICIO CICLO_INICIO, CD_PESSOA PESSOA, CD_FUNCAO FUNCAO
	     FROM TB_PESSOA_RESUMO with(nolock)
	     WHERE CD_PESSOA             = @CD_PESSOA
	     --AND   CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
	     AND   CD_FUNCAO             = @CD_FUNCAO
	     AND   NM_CICLO_INICIO       = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,3)
	 	 ) B
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.CD_FUNCAO             = B.FUNCAO
        AND   A.NM_CICLO             >= B.CICLO_INICIO
        AND   A.NM_CICLO             <= @NM_CICLO	
	AND   A.CD_INDICADOR_PESSOAL  = 503
        AND   A.VL_INDICADOR_PESSOAL  = 1
        

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 542
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						542,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						542,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END
 

     --******************************************************************************
      -- INICIO COM PEDIDO NO 2o, 3o E 4o CICLO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(543,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = CASE WHEN (COUNT(A.CD_PESSOA) = 4) THEN 1 ELSE 0 END
        FROM TB_PESSOA_INDICADOR A  with(nolock),
  	    (SELECT NM_CICLO_INICIO CICLO_INICIO, CD_PESSOA PESSOA, CD_FUNCAO FUNCAO
	     FROM TB_PESSOA_RESUMO with(nolock)
	     WHERE CD_PESSOA             = @CD_PESSOA
	     --AND   CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
	     AND   CD_FUNCAO             = @CD_FUNCAO
	     AND   NM_CICLO_INICIO       = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,4)
	 	 ) B
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.CD_FUNCAO             = B.FUNCAO
        AND   A.NM_CICLO             >= B.CICLO_INICIO
        AND   A.NM_CICLO             <= @NM_CICLO	
	AND   A.CD_INDICADOR_PESSOAL  = 503
        AND   A.VL_INDICADOR_PESSOAL  = 1
        

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 543
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	--SELECT @CD_EST_GEOGRAFICA = dbo.FN_BUSCA_COD_EST_GEOGRAFICA_PESSOA(@CD_PESSOA, 1) -- ENDERECO RESIDENCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						543,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						543,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						@CD_EST_GEOGRAFICA,
						0,
						'',
						0  
   	END
      END





    END -- fim EVENTO = 11


 		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;































GO
