SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_LojaVirtualInserirPagina]
	@p_codigoPagina				numeric(18,0),
	@p_descricaoTitulo			varchar(80),
	@p_codigoSituacao			int,
	@p_codigoLocalPagina		int,
	@p_descricaoTexto			text,
	@p_codigoUsuario			NUMERIC(18,0),

	@p_descricaoFuncao			VARCHAR(1),

	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT


AS


BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    
	    BEGIN TRANSACTION 
	    
	    IF @p_descricaoFuncao = 'I'
		BEGIN
	    INSERT INTO TB_LOJA_VIRTUAL_PAGINA (DC_TITULO,
		ID_SITUACAO,
		ID_LOCAL_PAGINA,
		DC_TEXTO,
		DT_CADASTRO,
		CD_USUARIO_CADASTRO,
		DT_ATUALIZACAO,
		CD_USUARIO_ATUALIZACAO				
				)
						
			VALUES  (@p_descricaoTitulo,
			@p_codigoSituacao,
			@p_codigoLocalPagina,
			@p_descricaoTexto,
			GETDATE(),
			@p_codigoUsuario,
			GETDATE(),
			@p_codigoUsuario				
				)
	    
	    SELECT @p_linhasAfetadas = @@ROWCOUNT
		SELECT @p_codigoGerado = IDENT_CURRENT('TB_LOJA_VIRTUAL_PAGINA')

		END

		 IF @p_descricaoFuncao = 'A'
		 BEGIN

		 UPDATE TB_LOJA_VIRTUAL_PAGINA SET 
		 DC_TITULO = @p_descricaoTitulo,
		 ID_SITUACAO = @p_codigoSituacao,
		 ID_LOCAL_PAGINA = @p_codigoLocalPagina,
		 DC_TEXTO = @p_descricaoTexto,
		 DT_ATUALIZACAO = GETDATE(),
		 CD_USUARIO_ATUALIZACAO	= @p_codigoUsuario
		 WHERE CD_LOJA_VIRTUAL_PAGINA = @p_codigoPagina

		 END


		 IF @p_descricaoFuncao = 'E'
		 BEGIN

		 DELETE FROM TB_LOJA_VIRTUAL_PAGINA 
		 WHERE CD_LOJA_VIRTUAL_PAGINA = @p_codigoPagina

		 END	
	
				
	    COMMIT TRANSACTION
			
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
     
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
