SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_EstruturaComercialInsereFaixaCep]
	@p_cd_EstComercial 		NUMERIC(18,0),
	@p_dc_nomeRegiao		VARCHAR(200),
	@p_dc_inicialFaixaCep   VARCHAR(10),
	@p_dc_finalFaixaCep     VARCHAR(10),
	@p_dt_Cadastro          datetime,
	@p_cd_Exceto			INT,
	
	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoTipoFuncao			VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_EST_COMERCIAL_FAIXA_CEP (
				CD_EST_COMERCIAL,
				DC_NOME_REGIAO,
				DC_FAIXA_INICIAL_CEP,
				DC_FAIXA_FINAL_CEP,
				DT_CADASTRO,
				CD_USUARIO,
				ID_EXCECAO )
						
				VALUES (
				@p_cd_EstComercial,
				@p_dc_nomeRegiao,
				@p_dc_inicialFaixaCep,
				@p_dc_finalFaixaCep,
				GETDATE(),
				@p_codigoUsuario,
				@p_cd_Exceto
					)
				
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
						
				COMMIT TRANSACTION
			END	
			
				IF @p_descricaoTipoFuncao = 'A'
				BEGIN
				BEGIN TRANSACTION 

				update TB_EST_COMERCIAL_FAIXA_CEP set
				DC_NOME_REGIAO = @p_dc_nomeRegiao,
				DC_FAIXA_INICIAL_CEP = @p_dc_inicialFaixaCep,
				DC_FAIXA_FINAL_CEP = @p_dc_finalFaixaCep,
				DT_CADASTRO = @p_dt_Cadastro,
				CD_USUARIO = @p_codigoUsuario,
				ID_EXCECAO = @p_cd_Exceto
				where CD_EST_COMERCIAL = @p_cd_EstComercial
				
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			    COMMIT TRANSACTION
			END	

			IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM TB_EST_COMERCIAL_FAIXA_CEP
				WHERE CD_EST_COMERCIAL = @p_cd_EstComercial

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
