SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_BIOEXTRATUS]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS


/*

ID_EVENTO = 1 - APROVAÇÃO DE PEDIDO
ID_EVENTO = 2 - CANCELAMENTO DE PEDIDO APROVADO
ID_EVENTO = 3 - ALOCACAO DE REDE
ID_EVENTO = 4 - PAGAMENTO DE PEDIDO
ID_EVENTO = 5 - CANCELAMENTO DE PAGAMENTO DE PEDIDO
ID_EVENTO = 6 - FIM DIA
ID_EVENTO = 7 - ALTERAR PAPEL MANUALMENTE
ID_EVENTO = 8 - REAVALIAR CREDITO
ID_EVENTO = 9 - TEMPO REAL

*/


DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0)



BEGIN TRY


  
    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_RESUMO A
      WHERE A.CD_PESSOA         = @CD_PESSOA
      AND   A.CD_FUNCAO         = @CD_FUNCAO


      --******************************************************************************
      -- COMPRAS PESSOAIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_PAGAMENTO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
        AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- CONSULTORES 1o NÍVEL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


        SELECT @VL_CONTADOR =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B1
        WHERE B1.CD_PESSOA             = @CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B1.NM_NIVEL              = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END





      --******************************************************************************
      -- CONSULTORES 1o NÍVEL ATIVOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


        SELECT @VL_CONTADOR = isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             = 1
            ) C               
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1001
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.VL_INDICADOR_PESSOAL  > 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- COMPRAS 1o NÍVEL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


        SELECT @VL_CONTADOR = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             = 1
            ) C               
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1001
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- NOVOS CADASTROS 1o NÍVEL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B1, TB_PESSOA_RESUMO A1, TB_CALENDARIO_COMERCIAL C1
        WHERE B1.CD_PESSOA_VINCULADA   = A1.CD_PESSOA
        AND   B1.CD_FUNCAO             = A1.CD_FUNCAO
	AND   A1.CD_EST_COMERCIAL      = C1.CD_EST_COMERCIAL
        AND   CONVERT(DATE,A1.DT_CADASTRO_PESSOA)  BETWEEN CONVERT(DATE,C1.DT_INICIAL) AND CONVERT(DATE,C1.DT_FINAL)
        AND   A1.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   B1.NM_CICLO              = C1.NM_CICLO
        AND   B1.CD_PESSOA             = @CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B1.NM_NIVEL              = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


     --******************************************************************************
      -- CONSULTORES 2o NÍVEL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


        SELECT @VL_CONTADOR =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B1
        WHERE B1.CD_PESSOA             = @CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B1.NM_NIVEL              = 2

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1006
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- CONSULTORES 2o NÍVEL ATIVOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


        SELECT @VL_CONTADOR = isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             = 2
            ) C               
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1001
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.VL_INDICADOR_PESSOAL  > 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- COMPRAS 2o NÍVEL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


        SELECT @VL_CONTADOR = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             = 2
            ) C               
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1001
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1008
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- NOVOS CADASTROS 2o NÍVEL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B1, TB_PESSOA_RESUMO A1, TB_CALENDARIO_COMERCIAL C1
        WHERE B1.CD_PESSOA_VINCULADA   = A1.CD_PESSOA
        AND   B1.CD_FUNCAO             = A1.CD_FUNCAO
	AND   A1.CD_EST_COMERCIAL      = C1.CD_EST_COMERCIAL
        AND   CONVERT(DATE,A1.DT_CADASTRO_PESSOA)  BETWEEN CONVERT(DATE,C1.DT_INICIAL) AND CONVERT(DATE,C1.DT_FINAL)
        AND   A1.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   B1.NM_CICLO              = C1.NM_CICLO
        AND   B1.CD_PESSOA             = @CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B1.NM_NIVEL              = 2

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1009
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


     --******************************************************************************
      -- CONSULTORES REDE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


        SELECT @VL_CONTADOR =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B1
        WHERE B1.CD_PESSOA             = @CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



    END -- fim EVENTO = 6

    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
