SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_ARMAZEM]
	@CD_ALMOXARIFADO numeric(18,0),
	@DC_ARMAZEM varchar(80),
	@CD_CENTRO_DISTRIBUICAO numeric(18,0),
	@ID_TIPO_ARMAZEM int,
	@CD_ARMAZEM_REPOSICAO numeric(18,0),
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_ARMAZEM NUMERIC(18,0) OUTPUT
AS

BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0

		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_ARMAZEM (
					DC_ARMAZEM,
					CD_CENTRO_DISTRIBUICAO,
					ID_TIPO_ARMAZEM,
					CD_ARMAZEM_REPOSICAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO	)
				VALUES           (
					@DC_ARMAZEM,
					@CD_CENTRO_DISTRIBUICAO,
					@ID_TIPO_ARMAZEM,
					@CD_ARMAZEM_REPOSICAO,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_ARMAZEM = SCOPE_IDENTITY()
			
				-- ALTERAÇAO BITRIX 3935 - AO CRIAR UM ARMAZEM PRECISAMOS JÁ ALIMENTAR A TABELA DE ESTOQUE PARA TODOS OS MATERIAIS DO SISTEMA
				-- ISTO PARA QUE AS ATUALIZAÇÕES DE ESTOQUE VIA API OU TELA DE AJUSTE DE ESTOQUE FUNCIONEM
				INSERT INTO TB_ESTOQUE
					SELECT CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM, 0, 0, 0, 0, 0, 0, 0, 0, GETDATE(),0, GETDATE(), 0 
					FROM TB_MATERIAL WITH(NOLOCK)

				COMMIT TRANSACTION
			END	


		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_ARMAZEM SET
					DC_ARMAZEM = @DC_ARMAZEM,
					CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO,
					ID_TIPO_ARMAZEM = @ID_TIPO_ARMAZEM,
					CD_ARMAZEM_REPOSICAO = @CD_ARMAZEM_REPOSICAO,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO
					WHERE CD_ARMAZEM = @CD_ALMOXARIFADO
				
				-- ALTERAÇAO BITRIX 3935 - AO CRIAR UM ARMAZEM PRECISAMOS JÁ ALIMENTAR A TABELA DE ESTOQUE PARA TODOS OS MATERIAIS DO SISTEMA
				-- ISTO PARA QUE AS ATUALIZAÇÕES DE ESTOQUE VIA API OU TELA DE AJUSTE DE ESTOQUE FUNCIONEM
				INSERT INTO TB_ESTOQUE
					SELECT CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ALMOXARIFADO, 0, 0, 0, 0, 0, 0, 0, 0, GETDATE(),0, GETDATE(), 0 
					FROM TB_MATERIAL M WITH(NOLOCK)
					WHERE NOT EXISTS (SELECT 1 FROM TB_ESTOQUE E WITH(NOLOCK) 
									  WHERE E.CD_MATERIAL = M.CD_MATERIAL
									  AND E.CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
									  AND E.CD_ARMAZEM = @CD_ALMOXARIFADO)

				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
		
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_ARMAZEM 
					WHERE CD_ARMAZEM = @CD_ALMOXARIFADO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END		
			
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
