SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_FornecedorInsereFornecedor]
	@p_coddigoFornecedor		NUMERIC(18,0),
	@p_descricaoFornecedor		VARCHAR(80),
	@p_codigoEmpresa			NUMERIC(18,0),
	@p_codigoSituacao			INT,
		
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descricaoTipoFuncao		VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_FORNECEDOR (
					DC_FORNECEDOR,
					CD_EMPRESA,
					ID_SITUACAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@p_descricaoFornecedor,
					@p_codigoEmpresa,
					@p_codigoSituacao,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_FORNECEDOR')
			
				COMMIT TRANSACTION
			END	

		IF @p_descricaoTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_FORNECEDOR SET
					DC_FORNECEDOR = @p_descricaoFornecedor,
					CD_EMPRESA = @p_codigoEmpresa,
					ID_SITUACAO = @p_codigoSituacao,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
				WHERE CD_FORNECEDOR = @p_coddigoFornecedor
					
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_FORNECEDOR 
					WHERE CD_FORNECEDOR = @p_coddigoFornecedor
										
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
