SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaAlteraFisicaParaJuridica]
	@P_CODIGOPESSOA				NUMERIC(18,0),  
	@P_DESCRICAORAZAO			VARCHAR(80),
	@P_DESCRICAOFANTASIA		VARCHAR(80),
	@P_DESCRICAOCNPJ			VARCHAR(50),
	@P_DESCRICAOIE				VARCHAR(50),

	@P_CODIGOUSUARIO		NUMERIC(18,0),   -- parametro obrigatorio
	@P_CODIGOERRO			INT OUTPUT,
	@P_DESCRICAOERRO		VARCHAR(4000) OUTPUT,
	@P_LINHASAFETADAS		INT OUTPUT

	
AS

BEGIN TRY

	-- **************************************************************************
	-- ROTINA CRIADA POR ANDERSON DIA 11/08/2020
	-- ALTERA A PESSOA DE FISICA PARA JURIDICA
	-- E ARMAZENA NA TABELA DE HISTORICO QUE A AÇÃO FOI EXECUTADA
	-- ASSIM CONSEGUIMOS SABER QUEM FEZ ESSA FUNCIONALIDADE
	-- É PRECISO INFORMAR COMO PARAMTEROS A RAZÃO SOCIAL, NOME FANTASIA, CNPJ E IE
	-- **************************************************************************


	DECLARE @V_DTCADASTRO DATETIME

	BEGIN 

		SELECT @P_CODIGOERRO = 0
		SELECT @P_DESCRICAOERRO = ''
		SELECT @P_LINHASAFETADAS = 0
		
		-- **************************************************************************
		-- PRIMEIRO VAMOS ARMAZENAR A DATA DE CADASTRO DA PESSOA
		-- ISSO SERÁ IMPORTANTE PARA INSERIR NA TABELA TB_PESSOA_JURIDICA
		-- **************************************************************************
	
		SELECT @V_DTCADASTRO = DT_CADASTRO 
		FROM TB_PESSOA WHERE CD_PESSOA = @P_CODIGOPESSOA 


		-- ALTERA ID_TIPO_PESSOA DE FISICA PARA JURIDICA
		UPDATE TB_PESSOA SET ID_TIPO_PESSOA = 2 WHERE CD_PESSOA = @P_CODIGOPESSOA      

				
		-- INSERE NA TABELA TB_PESSOA_JURIDICA
		INSERT INTO TB_PESSOA_JURIDICA VALUES (@P_CODIGOPESSOA, 
											  @P_DESCRICAORAZAO, 
											  @V_DTCADASTRO, 
											  @P_CODIGOUSUARIO, 
											  GETDATE(), 
											  @P_CODIGOUSUARIO, 
											  0, 
											  @P_DESCRICAOFANTASIA, 
											  NULL)



		-- EXCLUI DA TABELA TB_PESSOA_FISICA
		DELETE FROM TB_PESSOA_FISICA WHERE CD_PESSOA = @P_CODIGOPESSOA 


		-- ALTERA DOCUMENTOS
		UPDATE TB_PESSOA_DOCUMENTO SET DC_DOCUMENTO = @P_DESCRICAOCNPJ	WHERE CD_PESSOA = @P_CODIGOPESSOA AND ID_TIPO_DOCUMENTO = 1 --- CNPJ
		UPDATE TB_PESSOA_DOCUMENTO SET DC_DOCUMENTO = @P_DESCRICAOIE	WHERE CD_PESSOA = @P_CODIGOPESSOA AND ID_TIPO_DOCUMENTO = 2 ---- IE 


		-- ALTERA ENDERECO
		UPDATE TB_PESSOA_ENDERECO SET ID_TIPO_ENDERECO =3 WHERE CD_PESSOA = @P_CODIGOPESSOA AND ID_TIPO_ENDERECO = 1

		
		-- INSERE REGISTRO NA TABELA HISTORICO DE CADASTRO
		INSERT INTO TB_PESSOA_HISTORICO_SITUACAO_CADASTRO (
								CD_PESSOA,
								CD_SITUACAO_CADASTRO,
								DT_INICIAL,
								DT_FINAL,
								CD_USUARIO_INICIAL,
								CD_USUARIO_FINAL,
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
				VALUES (
						@P_CODIGOPESSOA,
						6, 
						GETDATE(),
						GETDATE(),
						@P_CODIGOUSUARIO,
						@P_CODIGOUSUARIO,
						GETDATE(),
						@P_CODIGOUSUARIO,
						GETDATE(),
						@P_CODIGOUSUARIO)	
		

	END
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @P_CODIGOERRO = 2
      SELECT @P_DESCRICAOERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
