SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ComissaoInsereRegraComissaoEstComercial]
  @CD_FV_REGRA_COMISSAO_EST_COMERCIAL numeric(18,0),
  @CD_FV_REGRA_COMISSAO numeric(18,0),
  @CD_EST_COMERCIAL numeric(18, 0),
  @CD_USUARIO numeric(18,0),
  @VAR_TIPO_FUNCAO VARCHAR(1),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS

BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0
	
  IF @VAR_TIPO_FUNCAO = 'I'
  BEGIN
	BEGIN TRANSACTION 
    INSERT INTO TB_FV_REGRA_COMISSAO_EST_COMERCIAL (
      CD_FV_REGRA_COMISSAO,
      CD_EST_COMERCIAL,
      DT_CADASTRO,
      CD_USUARIO_CADASTRO)
    VALUES      (
      @CD_FV_REGRA_COMISSAO,
      @CD_EST_COMERCIAL,
      GETDATE (),
     @CD_USUARIO )

    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
    COMMIT TRANSACTION
    SELECT @VAR_RETORNO = @@IDENTITY
  END	
			
  IF @VAR_TIPO_FUNCAO = 'A'
  BEGIN
    BEGIN TRANSACTION 
    UPDATE TB_FV_REGRA_COMISSAO_EST_COMERCIAL 
                             SET CD_FV_REGRA_COMISSAO   = @CD_FV_REGRA_COMISSAO,
   				 CD_EST_COMERCIAL = @CD_EST_COMERCIAL,
				 CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
				 DT_ATUALIZACAO         = GETDATE()
    WHERE CD_FV_REGRA_COMISSAO_EST_COMERCIAL = @CD_FV_REGRA_COMISSAO_EST_COMERCIAL

    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
    COMMIT TRANSACTION
    SELECT @VAR_RETORNO = 0
  END	

  IF @VAR_TIPO_FUNCAO = 'E'
  BEGIN
    BEGIN TRANSACTION 
    DELETE FROM TB_FV_REGRA_COMISSAO_EST_COMERCIAL 
    WHERE CD_FV_REGRA_COMISSAO = @CD_FV_REGRA_COMISSAO
	
    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
    COMMIT TRANSACTION
    SELECT @VAR_RETORNO = 0
  END	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = ERROR_NUMBER()
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
