SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_LOWELL]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0)

DECLARE @VL_INDICADOR_PESSOAL_1001 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1026 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1005 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1006 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1007 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1009 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1013 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1014 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1017 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1027 NUMERIC(18,2) --- INDICADO NOVO - Daiane 19/07

DECLARE @VL_INDICADOR_PESSOAL_1033 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1038 NUMERIC(18,2)


DECLARE @VL_INDICADOR_PESSOAL_1002_ANT NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1004_ANT NUMERIC(18,2)

DECLARE @COUNT_ELEGIVEL NUMERIC(18,0)


BEGIN TRY
  
  SELECT @QT_LINHAS_AFETADAS = 0
  IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
  BEGIN

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_PAPEL_HISTORICO A  with(nolock)
      WHERE A.CD_PESSOA  = @CD_PESSOA
      AND   A.CD_FUNCAO  = @CD_FUNCAO
      AND   A.NM_CICLO   = @NM_CICLO      

      --******************************************************************************
      -- VALOR DE COMPRAS PESSOAIS NO CICLO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_INDICADOR_PESSOAL_1001 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR A  with(nolock)
	WHERE A.CD_PESSOA          = @CD_PESSOA
	--AND A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	AND A.CD_FUNCAO            = @CD_FUNCAO	
	AND A.NM_CICLO             = @NM_CICLO	
	AND A.CD_INDICADOR_PESSOAL = 501

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_INDICADOR_PESSOAL_1001,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_INDICADOR_PESSOAL_1001,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- CONSULTOR ATIVO NO CICLO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@VL_INDICADOR_PESSOAL_1001 > 0)
	BEGIN
	  SELECT @VL_CONTADOR = 1
	END
	ELSE
	BEGIN
	  SELECT @VL_CONTADOR = 0
	END
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



	  --******************************************************************************
      -- PONTOS PESSOAIS NO CICLO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1026,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


        SELECT @VL_INDICADOR_PESSOAL_1026 = isnull(SUM(A.VL_PONTOS_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.NM_CICLO_INDICADOR       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1026
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_INDICADOR_PESSOAL_1026,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_INDICADOR_PESSOAL_1026,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

 
      --******************************************************************************
      -- TOTAL DE INDICAÇÕES
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = COUNT(*)
	FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
	WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
	AND NM_CICLO              = @NM_CICLO
	AND   CD_FUNCAO           = @CD_FUNCAO
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE INDICAÇÕES ATIVAS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	       (SELECT CD_PESSOA PESSOA
	        FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
		AND NM_CICLO              = @NM_CICLO
		AND CD_FUNCAO             = @CD_FUNCAO ) B 
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO	
	AND A.CD_INDICADOR_PESSOAL    = 1002
        AND A.VL_INDICADOR_PESSOAL    = 1
					

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	--AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- TOTAL DE CONSULTORES INÍCIOS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	  SELECT @VL_INDICADOR_PESSOAL_1005 = COUNT(A.CD_PESSOA)
	  FROM TB_PESSOA_INDICADOR A  with(nolock),
 	       (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	   WHERE A.CD_PESSOA           = B.PESSOA
	   AND A.CD_FUNCAO             = @CD_FUNCAO	
	   AND A.NM_CICLO              = @NM_CICLO	
	   AND A.CD_INDICADOR_PESSOAL  = 502
	   AND A.VL_INDICADOR_PESSOAL  = 1

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1005
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_INDICADOR_PESSOAL_1005,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_INDICADOR_PESSOAL_1005,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE CONSULTORES ATIVOS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_INDICADOR_PESSOAL_1006 =  COUNT(A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO	
	  AND A.NM_CICLO                = @NM_CICLO	
	  AND A.CD_INDICADOR_PESSOAL    = 1002
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1006
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_INDICADOR_PESSOAL_1006,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_INDICADOR_PESSOAL_1006,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE CONSULTORES A CESSAR / CESSADAS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


	  SELECT @VL_INDICADOR_PESSOAL_1007 = COUNT(A.CD_PESSOA)
	  FROM TB_PESSOA_INDICADOR A  with(nolock),
 	       (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	   WHERE A.CD_PESSOA           = B.PESSOA
	   AND A.CD_FUNCAO             = @CD_FUNCAO	
	   AND A.NM_CICLO              = @NM_CICLO	
	   AND A.CD_INDICADOR_PESSOAL  = 505
	   AND A.VL_INDICADOR_PESSOAL  = 1

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1007
	  AND NM_CICLO             = @NM_CICLO
	 -- AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_INDICADOR_PESSOAL_1007,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_INDICADOR_PESSOAL_1007,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- TOTAL DO SALDO DE CONSULTORES NO GRUPO (INÍCIOS - CESSADAS)
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR = (@VL_INDICADOR_PESSOAL_1005 - @VL_INDICADOR_PESSOAL_1007)

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1008
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- VALOR DA RECEITA LIQUIDA NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_INDICADOR_PESSOAL_1009 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO
	  AND A.NM_CICLO                = @NM_CICLO		
	  AND A.CD_INDICADOR_PESSOAL    = 1001

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1009
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_INDICADOR_PESSOAL_1009,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_INDICADOR_PESSOAL_1009,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- VALOR DA RECEITA LIQUIDA (PESSOAL + DIRETOS) NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR = (@VL_INDICADOR_PESSOAL_1001 + @VL_INDICADOR_PESSOAL_1009)

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1010
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- VALOR DA PRODUTIVIDADE NO GRUPO (RECEITA / ATIVOS)
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1006,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1009 / @VL_INDICADOR_PESSOAL_1006)
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1011
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END
     


      --******************************************************************************
      -- TOTAL DE CONSULTORES INATIVOS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


          SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO	
	  AND A.NM_CICLO                = @NM_CICLO	
	  AND A.CD_INDICADOR_PESSOAL    = 1002
          AND A.VL_INDICADOR_PESSOAL    = 0

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1012
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE CONSULTORES DISPONÍVEIS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_INDICADOR_PESSOAL_1013  = COUNT (A.CD_PESSOA)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA                      = B.PESSOA
	  AND A.NM_CICLO                         = @NM_CICLO	
	  AND ISNULL(A.CD_SITUACAO_COMERCIAL,0) IN (1,2)
          
          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1013
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_INDICADOR_PESSOAL_1013,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_INDICADOR_PESSOAL_1013,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE CADASTROS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_INDICADOR_PESSOAL_1014 = COUNT(A.CD_PESSOA)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO	
	  AND A.NM_CICLO                = @NM_CICLO	
	  AND A.CD_INDICADOR_PESSOAL    = 530
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1014
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_INDICADOR_PESSOAL_1014,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_INDICADOR_PESSOAL_1014,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END
      END



      --******************************************************************************
      -- ATIVIDADE NO GRUPO (ATIVOS / CADASTROS)
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1014,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1006 / @VL_INDICADOR_PESSOAL_1014)*100
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1015
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END

      --******************************************************************************
      -- TOTAL DE PEDIDOS PESSOAIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	 SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	 FROM TB_PESSOA_INDICADOR A  with(nolock)
	 WHERE A.CD_PESSOA          = @CD_PESSOA
	 --AND A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	 AND A.CD_FUNCAO            = @CD_FUNCAO	
	 AND A.NM_CICLO             = @NM_CICLO	
	 AND A.CD_INDICADOR_PESSOAL = 508

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1016
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END


      --******************************************************************************
      -- TOTAL DE PEDIDOS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1017,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
          SELECT @VL_INDICADOR_PESSOAL_1017 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA          = B.PESSOA
	  AND A.CD_FUNCAO            = @CD_FUNCAO
	  AND A.CD_INDICADOR_PESSOAL = 1016
	  AND A.NM_CICLO             = @NM_CICLO

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1017
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_INDICADOR_PESSOAL_1017,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_INDICADOR_PESSOAL_1017,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE CONSULTORES COM REPIQUE NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1018,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 1016
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL   >= 2


          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1018
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- REPIQUE NO GRUPO  (PEDIDOS / ATIVOS)  
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1019,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1006,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1017 / @VL_INDICADOR_PESSOAL_1006)*100
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1019
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- PERCENTUAL DE PERDA NO GRUPO (CESSADAS / DISPONÍVEL)
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1020,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1013,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1007 / @VL_INDICADOR_PESSOAL_1013)*100
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1020
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END
      END



      --******************************************************************************
      -- TOTAL DE CICLOS NA QUALIFICAÇÃO ATUAL - 1027
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1027,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_INDICADOR_PESSOAL_1027 = dbo.FN_MN_TOTAL_CICLOS_QUALIFICACAO_ATUAL_LOWELL (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_PAPEL_CARREIRA ) 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with (nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1027
	AND NM_CICLO             = @NM_CICLO
--	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_INDICADOR_PESSOAL_1027,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_INDICADOR_PESSOAL_1027,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END






      --******************************************************************************
      -- QUALIFICAÇÃO CALCULADA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1025,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        
  	  SELECT @VL_CONTADOR  = @CD_PAPEL_CARREIRA  


          IF (@CD_PAPEL_CARREIRA IN (1)) -- CONSULTOR
	  BEGIN
 	    -- CONSULTOR ATIVO NO CICLO
            -- TOTAL DE INDICAÇÕES ATIVAS
            SELECT @VL_INDICADOR_PESSOAL_1002_ANT = [1002],
                   @VL_INDICADOR_PESSOAL_1004_ANT = [1004]
            FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                          ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                   FROM TB_PESSOA_INDICADOR with(nolock)
                   WHERE CD_PESSOA      = @CD_PESSOA
                   AND CD_FUNCAO        = @CD_FUNCAO
                   AND NM_CICLO         = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO, 2)
                   --AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
                   AND CD_INDICADOR_PESSOAL IN (1002,1004)
                   GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
                   PIVOT (SUM(VALOR) FOR INDICADOR IN ([1002],[1004])) EM_COLUNA    

            IF (@VL_INDICADOR_PESSOAL_1002_ANT = 1 AND @VL_INDICADOR_PESSOAL_1004_ANT >= 10) 
            BEGIN
              SELECT @COUNT_ELEGIVEL = COUNT(CD_PESSOA)
              FROM TB_MN_PESSOA_ELEGIVEL  with(nolock)			
              WHERE CD_PESSOA	    = @CD_PESSOA
              AND   CD_PAPEL	    = 2
              AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1)

              IF (@COUNT_ELEGIVEL = 0)
              BEGIN
		BEGIN TRANSACTION
                INSERT INTO TB_MN_PESSOA_ELEGIVEL (CD_PESSOA, CD_PAPEL, NM_CICLO_INICIO, NM_CICLO_FIM, 	ID_SITUACAO_ELEGIVEL) VALUES
  				    (@CD_PESSOA, 2, DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1), DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1), 1)
		COMMIT TRANSACTION	
              END
	    END
	    ELSE
	    BEGIN
	      BEGIN TRANSACTION
		DELETE TB_MN_PESSOA_ELEGIVEL
                WHERE CD_PESSOA	    = @CD_PESSOA
                AND   CD_PAPEL	    = 2
                AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1)
	      COMMIT TRANSACTION
	    END
	           
	  END  -- fim (INICIO DA VERIFICACAO SE ESTA ELEGIVEL A LIDER)


	   ----- /// DAIANE 19/07 --------------------- ******* -----------------------

	  IF (@CD_PAPEL_CARREIRA = 3)   -- LÍDER AREA BRANCA
	  BEGIN

	  -- REGREDIR
	    IF (@VL_INDICADOR_PESSOAL_1027 >=6 ) -- Alterado por Aldir (20/05/2025) de 3 p/ 6. Bitrix -> 9511
	    BEGIN
	      SELECT @VL_CONTADOR = 2  -- LÍDER
	    END
	  END
	  --- FIM /// DAIANE 19/07 --------------------- ******* -----------------------

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1025
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        
      END

      -- NOVOS INDICADORES (22/10/2024)

      --******************************************************************************
      -- TOTAL DE CONSULTORES INATIVOS 1 NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1030,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 531
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1


          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1030
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- TOTAL DE CONSULTORES INATIVOS 2 NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1031,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 532
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1031
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- TOTAL DE CONSULTORES INATIVOS 3 NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1032,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 533
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1032
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- TOTAL DE CONSULTORES INATIVOS 4 NO GRUPO
      --******************************************************************************

      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1033,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_INDICADOR_PESSOAL_1033 = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 534
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1033
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_INDICADOR_PESSOAL_1033,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_INDICADOR_PESSOAL_1033,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- TOTAL DE INTENÇÃO DE REVENDA CADASTRADA NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1034,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO	
	  AND A.NM_CICLO                = @NM_CICLO	
	  AND A.CD_INDICADOR_PESSOAL    = 535
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1034
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE INTENÇÃO DE REVENDA CADASTRADA E INÍCIO NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1035,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 536
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1



          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1035
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE CONSULTORES ATIVOS TODO ANO NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1036,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 537
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1036
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END
       

    /*  --******************************************************************************
      -- TOTAL DE CONSULTORES INATIVOS E ATIVOS CICLO ANTERIOR NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1037,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 538
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1037
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1037,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1037,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END */



      --******************************************************************************
      -- TOTAL DE CONSULTORES REINÍCIOS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1038,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_INDICADOR_PESSOAL_1038 = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 539
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1038
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1038,
						@VL_INDICADOR_PESSOAL_1038,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1038,
						@VL_INDICADOR_PESSOAL_1038,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- TOTAL DE CONSULTORES DESATIVADOS NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1039,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 540
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1039
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1039,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1039,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o CICLO NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1040,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 541
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1040
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1040,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1040,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END



      --******************************************************************************
      -- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o E 3o CICLO NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1041,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 542
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1041
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1041,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1041,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o, 3o E 4o CICLO NO GRUPO
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1042,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


          SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_VINCULO_HISTORICO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND NM_CICLO              = @NM_CICLO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_INDICADOR_PESSOAL    = 543
	  AND A.NM_CICLO                = @NM_CICLO
          AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1042
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1042,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1042,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DO SALDO DE CONSULTORES NA EQUIPE ((INÍCIO + REINÍCIO) - INATIVA 4)
      --******************************************************************************
      IF @CD_PAPEL_CARREIRA >= 2  
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1043,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR = (( @VL_INDICADOR_PESSOAL_1005 + @VL_INDICADOR_PESSOAL_1038) - @VL_INDICADOR_PESSOAL_1033)

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1043
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1043,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1043,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END


      --******************************************************************************
      -- TOTAL DE CICLOS CARÊNCIA COMISSÃO EXTRA
      --******************************************************************************
      IF (  (@CD_PAPEL_CARREIRA = 2)  AND @CD_PESSOA in
	    (20008738,20013465,111347,114256,20012625,108940,92503,106091,124883,20017907,60467,125056,119522,91559,118366,20003672,20007062,109975,107047,20017195,20016074,94873,96350,20007042,108156,
20015995,93862,74987,20014381,20004629,98318,114969,103217,20009817,20013500,20000792,59116,100544,20014756,20016135,77896,122252,102427,117083,76676,20016160,20012792,73394,103893,20006761,
20012790,96259,74473,124149,20018182,20019198,94672,20011466,76039,94531,20015830,20018695,70289,20010235,99921,124465,62933,68187,78325,20004936,20006915,20001788,107871,123261,98594) 
	 )
      BEGIN 
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1044,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		


	  SELECT @VL_CONTADOR = dbo.FN_BUSCA_DIFERENCA_CICLOS_MMN (@NM_CICLO,202509) -- a partir do ciclo de implantação da evolução

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1044
	  AND NM_CICLO             = @NM_CICLO
	  --AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1044,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1044,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END

      END
      END





    END -- fim EVENTO = 6
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




































GO
