SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaPedidosPessoasRedeGenerica]
		@CD_PESSOA               NUMERIC(18,0),
        @ID_TIPO_REDE_MN         INT, 
        @DT_CAPTACAO_INICIAL     DATE,          -- Se ficar em branco listar todos (enviar “01-01-1900” na chamada da proc)
        @DT_CAPTACAO_FINAL       DATE,          -- Se ficar em branco l,50istar todos (enviar “31-12-2300” na chamada da proc)
        @NM_CICLO_INICIAL        NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @NM_CICLO_FINAL          NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @CD_SITUACAO_PEDIDO		 NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @CD_FUNCAO               NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @NM_NIVEL                NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @ID_MOSTRA_PEDIDO_PESSOA INT,   -- 1 - SIM  / 2 - NAO
        @ID_REDE_EQUIPE          INT    -- 0 - REDE / 1 - EQUIPE

AS

DECLARE @CD_CLIENTE NUMERIC(18,0)

select @CD_CLIENTE = vl_parametro 
from TB_valor_PARAMETRO with (NOLOCK)
where CD_GRUPO_PARAMETRO = 6
and CD_PARAMETRO         = 1
and CD_VALOR_PARAMETRO   = 1

	-- PEDIDOS PESSOAIS
	select  PE.CD_PESSOA AS "Código",  
		dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
		1 AS "Nível",
		dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
		PE.NM_PEDIDO AS "ID",  
		PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
		PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
		PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
		dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar",  
		dbo.FN_ConverteValor4CasasDecimais(PE.VL_PONTOS_TOTAL) AS "Pontos",
		ES.DC_EST_SITUACAO AS "Situação"
	   
	from TB_PEDIDO PE with (NOLOCK), TB_EST_SITUACAO ES WITH(NOLOCK)

	WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO
	AND @ID_MOSTRA_PEDIDO_PESSOA = 1 AND PE.CD_PESSOA = @CD_PESSOA
	AND (   (@CD_CLIENTE = 55 AND PE.CD_REGRA_COMERCIAL <> 93)    -- KENKO PATTO|
             OR (@CD_CLIENTE <> 55  )   )
  
	UNION ALL

	-- PEDIDOS DA REDE
	select  PE.CD_PESSOA AS "Código",  
			dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
			TW.NM_NIVEL AS "Nível",
			dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
			PE.NM_PEDIDO AS "ID",  
			PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
			PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
			PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
			dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar",  
			dbo.FN_ConverteValor4CasasDecimais(PE.VL_PONTOS_TOTAL) AS "Pontos",
			ES.DC_EST_SITUACAO AS "Situação"
	   
	from TB_PEDIDO PE with (NOLOCK), TB_EST_SITUACAO ES WITH(NOLOCK), vw_MNTopologiaDescendente TW WITH(NOLOCK)

	WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO
	  AND PE.CD_PESSOA = TW.CD_PESSOA_VINCULADA
	  AND TW.CD_PESSOA = @CD_PESSOA 
	  AND TW.CD_FUNCAO = PE.CD_FUNCAO 
	  AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
	  AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
	  AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
      AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) 
	  AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))
	  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
	  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
	  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
	  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
	  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
	  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))
	  AND (   (@CD_CLIENTE = 55 AND PE.CD_REGRA_COMERCIAL <> 93)    
               OR (@CD_CLIENTE <> 55  )   )
	UNION ALL  

	-- PEDIDOS PESSOAIS INDICANTE
	select  PE.CD_PESSOA AS "Código",  
		dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
		1 AS "Nível",
		dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
		PE.NM_PEDIDO AS "ID",  
		PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
		PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
		PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
		dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar",  
		dbo.FN_ConverteValor4CasasDecimais(PE.VL_PONTOS_TOTAL) AS "Pontos",
		ES.DC_EST_SITUACAO AS "Situação"
	   
	from TB_PEDIDO PE with (NOLOCK), TB_EST_SITUACAO ES WITH(NOLOCK)

	WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO
	AND @ID_MOSTRA_PEDIDO_PESSOA = 1 AND PE.CD_RV_INDICANTE = @CD_PESSOA
	  AND (   (@CD_CLIENTE = 55 AND PE.CD_REGRA_COMERCIAL <> 93)    
               OR (@CD_CLIENTE <> 55  )   )
  
	UNION ALL

	-- PEDIDOS REDE INDICANTE
	select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
       tw.NM_NIVEL "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	   PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento", 
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar", 
	   dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
	FROM TB_PEDIDO PE with (NOLOCK), TB_EST_SITUACAO ES WITH(NOLOCK), vw_MNTopologiaDescendente TW WITH(NOLOCK) 

	WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO
	  AND PE.CD_RV_INDICANTE = tw.CD_PESSOA_VINCULADA 
	  AND TW.CD_PESSOA = @CD_PESSOA 
	  AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
      AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
      AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
      AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)
      AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))
	  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
	  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
	  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
	  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
	  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
	AND (   (@CD_CLIENTE = 55 AND PE.CD_REGRA_COMERCIAL <> 93)    -- KENKO PATTO
             OR (@CD_CLIENTE <> 55  )   )
  order by PE.DT_CADASTRO_PEDIDO DESC
GO
