SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_MAKIE]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0)

DECLARE @VL_INDICADOR_PESSOAL_1022   NUMERIC(18,2),
        @VL_INDICADOR_PESSOAL_1023   NUMERIC(18,2),
        @VL_INDICADOR_PESSOAL_1024   NUMERIC(18,2),
        @VL_INDICADOR_PESSOAL_1026   NUMERIC(18,2),
        @VL_INDICADOR_PESSOAL_1029   NUMERIC(18,2)

DECLARE  @VL_INDICADOR_PESSOAL_1003 NUMERIC(18,2),  -- Consultor ativo no ciclo
         @VL_INDICADOR_PESSOAL_1015 NUMERIC(18,2),  -- Total de ciclos ativos consecutivos
         @VL_INDICADOR_PESSOAL_1016 NUMERIC(18,2),  -- Total de indicações diretas ativas no ciclo
         @VL_INDICADOR_PESSOAL_1017 NUMERIC(18,2),  -- Total de pontos pessoais em 4 meses
         @VL_INDICADOR_PESSOAL_1007  NUMERIC(18,2), 
         @VL_INDICADOR_PESSOAL_1001 NUMERIC(18,2),
	 @V_COUNT_ELEGIVEL   INT

DECLARE  @VL_COMPRAS_PESSOAIS_LIDERES NUMERIC(18,2)


BEGIN TRY


  
    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN



      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_RESUMO A  with(nolock)
      WHERE A.CD_PESSOA         = @CD_PESSOA
      AND   A.CD_FUNCAO         = @CD_FUNCAO


      --******************************************************************************
      -- Tempo de casa
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = dbo.FN_BUSCA_DIFERENCA_CICLOS_MMN(@NM_CICLO,NM_CICLO_INICIO) 
	FROM TB_PESSOA_RESUMO  with(nolock)
	WHERE CD_PESSOA        = @CD_PESSOA
	AND   CD_FUNCAO        = @CD_FUNCAO
	AND   CD_EST_COMERCIAL = @CD_EST_COMERCIAL



        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- Total de pontos (cf + pessoais) no ciclo
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE (A.CD_PESSOA               = @CD_PESSOA OR A.CD_RV_INDICANTE = @CD_PESSOA)
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0



        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Consultor ativo no ciclo
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = CASE WHEN VL_INDICADOR_PESSOAL > 0  THEN 1 ELSE 0 END
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL




        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Total de ciclos ativos em 6 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_CICLOS_ATIVOS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 6 ) -- ULTIMOS 6 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- Total de indicações diretas ativas em 6 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_INDICACOES_ATIVAS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 6 ) -- ULTIMOS 6 CICLOS



        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Total de pontos (cf + pessoais) em 6 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_PONTOS_PESSOAIS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 6 ) -- ULTIMOS 6 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1006
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Qualificação atual
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

          SELECT @VL_CONTADOR =  @CD_PAPEL_DESEMPENHO


          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
  	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1007
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END



      --******************************************************************************
      -- Total de ciclos na qualificação atual
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_TOTAL_CICLOS_QUALIFICACAO_ATUAL_MAKIE (@CD_PESSOA, @NM_CICLO,@CD_FUNCAO ,@CD_EST_COMERCIAL, @CD_PAPEL_DESEMPENHO ) 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1008
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- Total de ciclos ativos em 9 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_CICLOS_ATIVOS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 9 ) -- ULTIMOS 9 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1009
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END





      --******************************************************************************
      -- Total de indicações diretas ativas em 9 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_INDICACOES_ATIVAS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 9 ) -- ULTIMOS 9 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END







      --******************************************************************************
      -- Total de pontos (cf + pessoais) em 9 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_PONTOS_PESSOAIS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 9 ) -- ULTIMOS 9 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1011
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- Total de ciclos ativos em 12 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_CICLOS_ATIVOS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 12 ) -- ULTIMOS 12 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1012
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- Total de indicações diretas ativas em 12 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_INDICACOES_ATIVAS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 12 ) -- ULTIMOS 12 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1013
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END




      --******************************************************************************
      -- Total de pontos (cf + pessoais) em 12 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_PONTOS_PESSOAIS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 12 ) -- ULTIMOS 12 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- Total de ciclos ativos consecutivos
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_CICLOS_ATIVOS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 0 ) -- CICLOS CONSECUTIVOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1015
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END






      --******************************************************************************
      -- Total de indicações diretas ativas no ciclo
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  =  ISNULL(COUNT (DISTINCT A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
             (SELECT B.CD_PESSOA_VINCULADA  AS PESSOA 
              FROM TB_WRK_MN_TOPOLOGIA B  with(nolock)
              WHERE B.CD_PESSOA               = @CD_PESSOA
              AND   B.CD_FUNCAO               = @CD_FUNCAO
              AND   B.ID_ORDEM                = 2 -- DESCENDENTE
              AND   B.NM_CICLO                = @NM_CICLO
              AND   B.ID_TIPO_REDE_MN         = 1 -- REDE UNILEVEL
              AND   B.NM_NIVEL                = 1) B  -- NIVEL 1
        WHERE A.CD_PESSOA             = B.PESSOA
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.CD_INDICADOR_PESSOAL  = 1003
	AND   A.VL_INDICADOR_PESSOAL  > 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1016
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Total de pontos (cf + pessoais) em 4 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1017,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_PONTOS_PESSOAIS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 4 ) -- ULTIMOS 4 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1017
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- Total de ciclos ativos em 3 meses
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1018,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_BUSCA_TOTAL_CICLOS_ATIVOS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 3 ) -- ULTIMOS 3 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1018
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Média de pontos (cf + pessoais) em 3 ciclos
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1019,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = (dbo.FN_MN_BUSCA_TOTAL_PONTOS_PESSOAIS_MAKIE (@CD_PESSOA, @CD_FUNCAO ,@NM_CICLO,@CD_EST_COMERCIAL, 3 ) / 3)   -- ULTIMOS 3 CICLOS

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1019
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- Qualificação calculada
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1020,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	  SELECT @VL_CONTADOR  = dbo.FN_MN_CALCULA_QUALIFICACAO_REAVALIACAO_MAKIE (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_EST_COMERCIAL)

           -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1020
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
	   					0  
        END
        -- BUSCA O TEMPO DE CADA
        SELECT @VL_INDICADOR_PESSOAL_1001 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
        FROM  TB_PESSOA_INDICADOR  with(nolock)
        WHERE CD_PESSOA          = @CD_PESSOA
        AND CD_FUNCAO            = @CD_FUNCAO
        AND NM_CICLO             = @NM_CICLO
        AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
        AND CD_INDICADOR_PESSOAL = 1001
          

        -- VERIFICA SE PODE SE TORNAR LIDER
        IF (@CD_PAPEL_CARREIRA < 10 AND @VL_INDICADOR_PESSOAL_1001 >= 4) -- BRONZE \ PRATA \ OURO e PLATINA  E MAIS DE 4 CICLOS DE TEMPO DE CASA
        BEGIN
          -- Consultor ativo no ciclo
          -- Total de ciclos ativos consecutivos
          -- Total de indicações diretas ativas no ciclo
          -- Total de pontos pessoais em 4 meses
          SELECT @VL_INDICADOR_PESSOAL_1003 = [1003],
                 @VL_INDICADOR_PESSOAL_1015 = [1015],
                 @VL_INDICADOR_PESSOAL_1016 = [1016],
                 @VL_INDICADOR_PESSOAL_1017 = [1017]
          FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                        ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                 FROM TB_PESSOA_INDICADOR  with(nolock)
                 WHERE CD_PESSOA = @CD_PESSOA
                 AND CD_FUNCAO = @CD_FUNCAO
                 AND NM_CICLO = @NM_CICLO
                 AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
                 AND CD_INDICADOR_PESSOAL IN (1003,1015,1016,1017)
                 GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
                 PIVOT (SUM(VALOR) FOR INDICADOR IN ([1003],[1015],[1016],[1017])) EM_COLUNA
          IF (@VL_INDICADOR_PESSOAL_1003 = 1  AND @VL_INDICADOR_PESSOAL_1015 >= 4 AND @VL_INDICADOR_PESSOAL_1016 >= 2 AND @VL_INDICADOR_PESSOAL_1017 >= 350)
          BEGIN
            SELECT @V_COUNT_ELEGIVEL = COUNT(CD_PESSOA)
            FROM TB_MN_PESSOA_ELEGIVEL  with(nolock)			
            WHERE CD_PESSOA	    = @CD_PESSOA
            AND   CD_PAPEL	    = 10
            AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 2)

            IF (@V_COUNT_ELEGIVEL = 0)
            BEGIN
              INSERT INTO TB_MN_PESSOA_ELEGIVEL (CD_PESSOA, CD_PAPEL, NM_CICLO_INICIO, NM_CICLO_FIM, 	ID_SITUACAO_ELEGIVEL) VALUES
	    				    (@CD_PESSOA, 10, DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1), DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 2), 1)	
            END
          END
        END
      END

      --******************************************************************************
      -- INÍCIOS DA PLIM DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1021,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 

  	  SELECT @VL_CONTADOR = COUNT(CD_PESSOA)
	  FROM TB_PESSOA_RESUMO  with(nolock)
	  WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	  AND   CD_FUNCAO           = @CD_FUNCAO
	  --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
	  AND   NM_CICLO_INICIO     = @NM_CICLO
	  AND   CD_SITUACAO_COMERCIAL < 4
	  AND   CD_PAPEL_CARREIRA     < 10 -- LIDER

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1021
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- PEDIDOS  DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1022,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 
          SELECT @VL_INDICADOR_PESSOAL_1022 = COUNT (A.NM_PEDIDO)
          FROM TB_PEDIDO A  with(nolock),
              (SELECT CD_PESSOA PESSOA
	       FROM TB_PESSOA_RESUMO  with(nolock)
	       WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	       AND   CD_FUNCAO           = @CD_FUNCAO
	       --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
		AND   CD_PAPEL_CARREIRA     < 10 -- LIDER
		) B
          WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  --AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
   	  AND A.NM_CICLO_APROVACAO      = @NM_CICLO
          AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1022
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_INDICADOR_PESSOAL_1022,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_INDICADOR_PESSOAL_1022,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END



      --******************************************************************************
      -- VENDAS R$ (Preço Consultora)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1023,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 
  /*        SELECT @VL_INDICADOR_PESSOAL_1023 = ISNULL(SUM(A.VL_LIQUIDO_TOTAL),0)
          FROM TB_PEDIDO A,
              (SELECT CD_PESSOA PESSOA
	       FROM TB_PESSOA_RESUMO
	       WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	       AND   CD_FUNCAO           = @CD_FUNCAO
	       AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL) B
          WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
   	  AND A.NM_CICLO_APROVACAO      = @NM_CICLO
          AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
		  */

        SELECT @VL_INDICADOR_PESSOAL_1023  = --isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
					       isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ),0) )
															   ),0) -- VALOR  
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
            (SELECT CD_PESSOA PESSOA
	         FROM TB_PESSOA_RESUMO  with(nolock)
	         WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	         AND   CD_FUNCAO           = @CD_FUNCAO
	         --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
		AND   CD_PAPEL_CARREIRA     < 10 -- LIDER
		) C -- REDE UNILEVEL
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        --AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
        AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	   --AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0


          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1023
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_INDICADOR_PESSOAL_1023,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_INDICADOR_PESSOAL_1023,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- TAMANHO DA EQUIPE DA PLIM NO FECHAMENTO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1024,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 

  	  SELECT @VL_INDICADOR_PESSOAL_1024 = COUNT(CD_PESSOA)
	  FROM TB_PESSOA_RESUMO  with(nolock)
	  WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	  AND   CD_FUNCAO           = @CD_FUNCAO
	  --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
	  AND   CD_SITUACAO_COMERCIAL not in (0,4)
	  AND   CD_PAPEL_CARREIRA     < 10 -- LIDER

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1024
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_INDICADOR_PESSOAL_1024,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_INDICADOR_PESSOAL_1024,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- TKT MÉDIO  DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1025,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 

  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1022,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1023 / @VL_INDICADOR_PESSOAL_1022)
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1025
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END

      

      --******************************************************************************
      -- CONSULTORAS ATIVAS (C/ PEDIDO NO MES)  DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1026,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 
          SELECT @VL_INDICADOR_PESSOAL_1026 = COUNT (A.CD_PESSOA)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
              (SELECT CD_PESSOA PESSOA
	       FROM TB_PESSOA_RESUMO  with(nolock)
	       WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	       AND   CD_FUNCAO           = @CD_FUNCAO
	       --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
		AND   CD_PAPEL_CARREIRA     < 10 -- LIDER
		) B
          WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO		
	  --AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
   	  AND A.CD_INDICADOR_PESSOAL    = 1003
          AND A.VL_INDICADOR_PESSOAL    > 0
		    AND A.NM_CICLO             = @NM_CICLO

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1026
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_INDICADOR_PESSOAL_1026,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_INDICADOR_PESSOAL_1026,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END



      --******************************************************************************
      -- REPIQUE  DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1027,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 

  	  SELECT @VL_CONTADOR  =  CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1026,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1022 / @VL_INDICADOR_PESSOAL_1026)
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1027
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- ATIVIDADE  DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1028,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 

  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1024,0) > 0) THEN   ((@VL_INDICADOR_PESSOAL_1026 / @VL_INDICADOR_PESSOAL_1024) * 100)
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1028
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1028,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1028,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- CESSADAS  DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1029,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 
          SELECT @VL_INDICADOR_PESSOAL_1029 = COUNT(*)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
              (SELECT CD_PESSOA PESSOA
	       FROM TB_PESSOA_RESUMO  with(nolock)
	       WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	       AND   CD_FUNCAO           = @CD_FUNCAO
	       --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
		AND   CD_PAPEL_CARREIRA     < 10 -- LIDER
		) B
	  WHERE A.CD_PESSOA                     = B.PESSOA
	  AND   A.NM_CICLO                      = @NM_CICLO
	  --AND   A.CD_EST_COMERCIAL              = @CD_EST_COMERCIAL
	  AND   A.CD_SITUACAO_COMERCIAL         = 3
	  AND   A.CD_SITUACAO_COMERCIAL_DETALHE = 301  -- VAI CESSAR

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1029
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1029,
						@VL_INDICADOR_PESSOAL_1029,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1029,
						@VL_INDICADOR_PESSOAL_1029,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- REATIVADAS  DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1030,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 
          SELECT @VL_CONTADOR  = COUNT(*)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
              (SELECT CD_PESSOA PESSOA
	       FROM TB_PESSOA_RESUMO  with(nolock)
	       WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	       AND   CD_FUNCAO           = @CD_FUNCAO
	       --AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
		AND   CD_PAPEL_CARREIRA     < 10 -- LIDER
		) B
	  WHERE A.CD_PESSOA                       = B.PESSOA
	  AND   A.NM_CICLO                        = @NM_CICLO
	  --AND   A.CD_EST_COMERCIAL                = @CD_EST_COMERCIAL
          AND   A.CD_SITUACAO_COMERCIAL           = 1
	  AND   ISNULL(A.CD_USUARIO_REATIVACAO,0) <> 0
	
          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1030
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- ATIVIDADE  DA EQUIPE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1031,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 10  
 	BEGIN 

  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1024,0) > 0) THEN   ((@VL_INDICADOR_PESSOAL_1029 / @VL_INDICADOR_PESSOAL_1024) * 100)
	                         ELSE 0  END
	 
          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1031
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


	  --******************************************************************************
      -- TOTAL DE PONTOS NO CICLO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1033,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA               = @CD_PESSOA 
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0



        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1033
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- VENDAS R$ (Preço Consultora) DAS EQUIPES DIRETAS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1034,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 11 
 	BEGIN 


          SELECT @VL_COMPRAS_PESSOAIS_LIDERES  = isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ),0) )
															   ),0) -- VALOR  
          FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
                (SELECT CD_PESSOA PESSOA
	         FROM TB_PESSOA_RESUMO  with(nolock)
	         WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	         AND   CD_FUNCAO           = @CD_FUNCAO
	         --AND   CD_PAPEL_CARREIRA   = 10
			 ) C -- REDE UNILEVEL
          WHERE A.CD_PESSOA                = C.PESSOA
          AND   A.CD_FUNCAO                = @CD_FUNCAO
          AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
          AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
          AND   A.NM_PEDIDO                = B.NM_PEDIDO
          AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	  --AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
          AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

          SELECT @VL_CONTADOR = (isnull(SUM(A.VL_INDICADOR_PESSOAL),0) + @VL_COMPRAS_PESSOAIS_LIDERES)
          FROM TB_PESSOA_INDICADOR  A with(nolock),
            (SELECT CD_PESSOA PESSOA
	         FROM TB_PESSOA_RESUMO  with(nolock)
	         WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	         AND   CD_FUNCAO           = @CD_FUNCAO
	         AND   CD_PAPEL_CARREIRA   = 10) C -- REDE UNILEVEL
          WHERE A.CD_PESSOA            = C.PESSOA
          AND   A.CD_FUNCAO            = @CD_FUNCAO
	  AND   A.CD_INDICADOR_PESSOAL = 1023
	  AND   A.NM_CICLO             = @NM_CICLO

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1034
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END


      --******************************************************************************
      -- Valor de compras pessoais no ciclo
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1035,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ),0) )
															   ),0) -- VALOR  
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0



        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1035
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END






/*
      --******************************************************************************
      -- VENDAS R$ (Preço Consultora) DAS EQUIPES DIRETAS - (22.000,00 até 49.999,99)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1035,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 11 
 	BEGIN 

          SELECT @VL_CONTADOR = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR  A with(nolock)
            (SELECT CD_PESSOA PESSOA
	         FROM TB_PESSOA_RESUMO  with(nolock)
	         WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	         AND   CD_FUNCAO           = @CD_FUNCAO
	         AND   CD_PAPEL_CARRIERA   = 10
		) C -- REDE UNILEVEL
          WHERE A.CD_PESSOA            = C.PESSOA
          AND   A.CD_FUNCAO            = @CD_FUNCAO
	  AND   A.CD_INDICADOR_PESSOAL = 1023
	  AND   A.NM_CICLO             = @NM_CICLO
	  AND   A.VL_INDICADOR_PESSOAL >= 22000
	  AND   A.VL_INDICADOR_PESSOAL <= 49999.99

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1035
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END

      --******************************************************************************
      -- VENDAS R$ (Preço Consultora) DAS EQUIPES DIRETAS - (acima de 50.000,00)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1036,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        IF @CD_PAPEL_CARREIRA >= 11 
 	BEGIN 

          SELECT @VL_CONTADOR = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR  A with(nolock)
            (SELECT CD_PESSOA PESSOA
	         FROM TB_PESSOA_RESUMO  with(nolock)
	         WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	         AND   CD_FUNCAO           = @CD_FUNCAO
	         AND   CD_PAPEL_CARRIERA   = 10
		) C -- REDE UNILEVEL
          WHERE A.CD_PESSOA            = C.PESSOA
          AND   A.CD_FUNCAO            = @CD_FUNCAO
	  AND   A.CD_INDICADOR_PESSOAL = 1023
	  AND   A.NM_CICLO             = @NM_CICLO
	  AND   A.VL_INDICADOR_PESSOAL >= 50000

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1036
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        END
      END

*/
	  
    END -- fim EVENTO = 6


	IF (@ID_EVENTO in (6,8)) -- FIM DIA = QUALIFICAÇÃO / CADASTRO
    BEGIN
	    --******************************************************************************
      -- CONSULTOR A CESSAR
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1032,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = COUNT(*)
		FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
   	    WHERE A.CD_PESSOA                     = @CD_PESSOA
	    AND   A.NM_CICLO                      = @NM_CICLO
	    AND   A.CD_EST_COMERCIAL              = @CD_EST_COMERCIAL
	    AND   A.CD_SITUACAO_COMERCIAL         = 3
	    AND   A.CD_SITUACAO_COMERCIAL_DETALHE = 302  -- VAI CESSAR

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1032
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	 
        END
      END


	END
    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
