SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaProdutoImagens]
AS

	SELECT P.CD_PRODUTO_VENDA_EXTERNO "code",
		   PF.DC_IMAGEM "filename",
		   PF.ARQ_IMAGEM "fileContent"
	  FROM TB_PRODUTO_VENDA P WITH(NOLOCK), TB_PRODUTO_VENDA_FOTO PF WITH(NOLOCK)
	 WHERE P.CD_PRODUTO_VENDA = PF.CD_PRODUTO_VENDA
GO
