SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_FiscalInsereNotaFiscalItem]
	@p_codigo_nota_fiscal		numeric(18, 0),
	@p_codigo_material			numeric(18, 0),
	@p_nm_nota_fiscal_item		int,
	@p_desc_material			varchar(max),
	@p_qtde_unidades			int,
	@p_valor_total				numeric(18,2),
	@p_valor_bruto				numeric(18,2),
	@p_codigo_cfop				int,
	@p_desc_class_fiscal		varchar(max),
	@p_id_tipo_oper_fiscal		int,
	@p_codigo_cst_icms			int,
	@p_codigo_cst_ipi			int,
	@p_codigo_cst_pis			int,
	@p_codigo_cst_cofins		int,
	@p_perc_aliquota_ipi		numeric(18,4),
	@p_perc_aliquota_icms		numeric(18,4),
	@p_perc_aliquota_icms_cred	numeric(18,4),
	@p_perc_aliquota_pis		numeric(18,4),
	@p_perc_aliquota_cofins		numeric(18,4),
	@p_valor_bc_ipi				numeric(18,2),
	@p_valor_bc_icms			numeric(18,2),
	@p_valor_bc_icms_cred		numeric(18,2),
	@p_valor_bc_icms_st			numeric(18,2),
	@p_valor_bc_pis				numeric(18,2),
	@p_valor_bc_cofins			numeric(18,2),
	@p_valor_ipi				numeric(18,2),
	@p_valor_icms				numeric(18,2),
	@p_valor_icms_cred			numeric(18,2),
	@p_valor_icms_st			numeric(18,2),
	@p_valor_pis				numeric(18,2),
	@p_valor_cofins				numeric(18,2),
	
	@p_id_tipo_acao				int,
			
	@p_retorno					INT OUTPUT,
	@p_dc_erro					NVARCHAR(MAX) OUTPUT,
	@p_qt_linhas_afetadas		INT OUTPUT
	
AS

DECLARE @v_count_item as int,
		@v_desc_material varchar(max)

BEGIN TRY

	SELECT @p_qt_linhas_afetadas = 0
	
	SELECT @v_count_item = COUNT(*) FROM TB_NOTA_FISCAL_ITEM
	WHERE CD_NOTA_FISCAL = @p_codigo_nota_fiscal
	
	SELECT @v_desc_material = DC_MATERIAL
	  FROM TB_MATERIAL 
	 WHERE CD_MATERIAL = @p_codigo_material

	IF @p_id_tipo_acao = 1  -- Inserção
		BEGIN
			INSERT INTO TB_NOTA_FISCAL_ITEM (
				CD_NOTA_FISCAL,
				NM_NOTA_FISCAL_ITEM,
				CD_MATERIAL,
				DC_MATERIAL,
				QT_UNIDADES,
				VL_TOTAL,
				VL_BRUTO,
				CD_CFOP,
				DC_CLASSIFICACAO_FISCAL,
				ID_TIPO_OPERACAO_FISCAL,
				CD_SITUACAO_TRIBUTARIA_ICMS,
				CD_SITUACAO_TRIBUTARIA_IPI,
				CD_SITUACAO_TRIBUTARIA_PIS,
				CD_SITUACAO_TRIBUTARIA_COFINS,
				PC_ALIQUOTA_IPI,
				PC_ALIQUOTA_ICMS,
				PC_ALIQUOTA_ICMS_CRED,
				PC_ALIQUOTA_PIS,
				PC_ALIQUOTA_COFINS,
				VL_BASE_CALCULO_IPI,
				VL_BASE_CALCULO_ICMS,
				VL_BASE_CALCULO_ICMS_CRED,
				VL_BASE_CALCULO_ICMS_ST,
				VL_BASE_CALCULO_PIS,
				VL_BASE_CALCULO_COFINS,
				VL_IPI,
				VL_ICMS,
				VL_ICMS_CRED,
				VL_ICMS_ST,
				VL_PIS,
				VL_COFINS
				
				)
			VALUES (@p_codigo_nota_fiscal,
					@v_count_item + 1,
					@p_codigo_material,
					@v_desc_material,
					@p_qtde_unidades,
					@p_valor_total,
					@p_valor_bruto,
					@p_codigo_cfop,
					@p_desc_class_fiscal,
					@p_id_tipo_oper_fiscal,
					@p_codigo_cst_icms,
					@p_codigo_cst_ipi,
					@p_codigo_cst_pis,
					@p_codigo_cst_cofins,
					@p_perc_aliquota_ipi,
					@p_perc_aliquota_icms,
					@p_perc_aliquota_icms_cred,
					@p_perc_aliquota_pis,
					@p_perc_aliquota_cofins,
					@p_valor_bc_ipi,
					@p_valor_bc_icms,
					@p_valor_bc_icms_cred,
					@p_valor_bc_icms_st,
					@p_valor_bc_pis,
					@p_valor_bc_cofins,
					@p_valor_ipi,
					@p_valor_icms,
					@p_valor_icms_cred,
					@p_valor_icms_st,
					@p_valor_pis,
					@p_valor_cofins)
		END
		
	IF @p_id_tipo_acao = 2 -- Atualizacao
		BEGIN
			UPDATE TB_NOTA_FISCAL_ITEM 
			SET	DC_MATERIAL = @p_desc_material,
				QT_UNIDADES = @p_qtde_unidades,
				VL_TOTAL = @p_valor_total,
				VL_BRUTO = @p_valor_bruto,
				CD_CFOP = @p_codigo_cfop,
				DC_CLASSIFICACAO_FISCAL = @p_desc_class_fiscal,
				ID_TIPO_OPERACAO_FISCAL = @p_id_tipo_oper_fiscal,
				CD_SITUACAO_TRIBUTARIA_ICMS = @p_codigo_cst_icms,
				CD_SITUACAO_TRIBUTARIA_IPI = @p_codigo_cst_ipi,
				CD_SITUACAO_TRIBUTARIA_PIS = @p_codigo_cst_pis,
				CD_SITUACAO_TRIBUTARIA_COFINS = @p_codigo_cst_cofins,
				PC_ALIQUOTA_IPI = @p_perc_aliquota_ipi,
				PC_ALIQUOTA_ICMS = @p_perc_aliquota_icms,
				PC_ALIQUOTA_ICMS_CRED = @p_perc_aliquota_icms_cred,
				PC_ALIQUOTA_PIS = @p_perc_aliquota_pis,
				PC_ALIQUOTA_COFINS = @p_perc_aliquota_cofins,
				VL_BASE_CALCULO_IPI = @p_valor_bc_ipi,
				VL_BASE_CALCULO_ICMS = @p_valor_bc_icms,
				VL_BASE_CALCULO_ICMS_CRED = @p_valor_bc_icms_cred,
				VL_BASE_CALCULO_ICMS_ST = @p_valor_bc_icms_st,
				VL_BASE_CALCULO_PIS = @p_valor_bc_pis,
				VL_BASE_CALCULO_COFINS = @p_valor_bc_cofins,
				VL_IPI = @p_valor_ipi,
				VL_ICMS = @p_valor_icms,
				VL_ICMS_CRED = @p_valor_icms_cred,
				VL_ICMS_ST = @p_valor_icms_st,
				VL_PIS = @p_valor_pis,
				VL_COFINS = @p_valor_cofins
			WHERE CD_NOTA_FISCAL = @p_codigo_nota_fiscal
			AND NM_NOTA_FISCAL_ITEM = @p_nm_nota_fiscal_item
		END
	
	IF @p_id_tipo_acao = 3 --EXCLUSÃO DE UM ITEM DA NOTA
		BEGIN
			DELETE FROM TB_NOTA_FISCAL_ITEM
			WHERE CD_NOTA_FISCAL = @p_codigo_nota_fiscal
			AND NM_NOTA_FISCAL_ITEM = @p_nm_nota_fiscal_item
		END
	
	IF @p_id_tipo_acao = 4 --EXCLUSÃO DE TODOS OS ITENS DA NOTA
		BEGIN
			DELETE FROM TB_NOTA_FISCAL_ITEM
			WHERE CD_NOTA_FISCAL = @p_codigo_nota_fiscal
		END
		
	SELECT @p_retorno = 0
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_retorno = 1
      SELECT @p_dc_erro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
