SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- *************************************************************************************************************
-- APLICA A LUCRATIVIDADE NO VL_PRECO_FATURAMENTO DA TABELA TB_PEDIDO_ITEM_PROMOCAO DOS BRINDES DO PEDIDO
-- *************************************************************************************************************

CREATE PROCEDURE [dbo].[pr_PromocaoAplicaLucratividadeBrinde]
  	@p_nmPedido					numeric(18, 0),
	
	@p_cdRetorno				INT OUTPUT,
	@p_dcErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT	
	
AS

DECLARE @Cursor_Brindes_Pedido			AS CURSOR
DECLARE @NM_PEDIDO_ITEM_PROMOCAO		AS NUMERIC(18,0)
DECLARE	@VL_PRECO_FATURAMENTO			AS NUMERIC(18,4)
DECLARE	@CD_REGRA_COMERCIAL				AS NUMERIC(18,0)
DECLARE @CD_PRODUTO_VENDA				AS NUMERIC(18,0)
DECLARE	@PC_LUCRATIVIDADE				AS NUMERIC(18,4)

	
BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0

	-- **********************************************************************
	-- BUSCA A REGRA COMERCIAL DO PEDIDO
	-- SERÁ IMPORTANTE PARA PEGAR O PERCENCUAL DE LUCRATIVIDADE
	-- **********************************************************************
	SELECT @CD_REGRA_COMERCIAL = CD_REGRA_COMERCIAL
	FROM TB_PEDIDO WITH(NOLOCK)
	where NM_PEDIDO = @p_nmPedido
	

	-- VERIFICA TODOS OS BRINDES DO PEDIDO
	SET @Cursor_Brindes_Pedido = CURSOR FAST_FORWARD
	FOR
		SELECT NM_PEDIDO_ITEM_PROMOCAO, VL_PRECO_FATURAMENTO, CD_PRODUTO_VENDA
		FROM TB_PEDIDO_ITEM_PROMOCAO
		WHERE NM_PEDIDO = @p_nmPedido
		AND ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1

		OPEN @Cursor_Brindes_Pedido
		FETCH NEXT FROM @Cursor_Brindes_Pedido
		INTO @NM_PEDIDO_ITEM_PROMOCAO, @VL_PRECO_FATURAMENTO, @CD_PRODUTO_VENDA

		WHILE @@FETCH_STATUS = 0
			BEGIN
					
				-- *****************************************************************************************************
				-- TEORICAMENTE NÃO PRECISAMOS PASSAR O VALOR DO PRODUTO E VALOR DOS PONTOS DO PRODUTO
				-- A PROPRIA FUNÇÃO PEGA TODOS OS ITENS DO PEDIDO
				-- TEMOS QUE PASSAR O PRODUTO POIS PODE TER UMA EXCEÇÃO POR PRODUTO
				-- *****************************************************************************************************

				SELECT @PC_LUCRATIVIDADE =  dbo.FN_BUSCA_LUCRATIVIDADE_FAIXA_COD_PRODUTO(@CD_REGRA_COMERCIAL, @p_nmPedido, @CD_PRODUTO_VENDA, 0, 0)

				IF @PC_LUCRATIVIDADE > 0
					BEGIN
						
						--Aplica lucratividade no preço do produto
						SELECT @VL_PRECO_FATURAMENTO = @VL_PRECO_FATURAMENTO * (1 - (@PC_LUCRATIVIDADE / 100))

						-- ALTERA A TABELA TB_PEDIDO_ITEM_PROMOCAO
						UPDATE TB_PEDIDO_ITEM_PROMOCAO 
						SET VL_PRECO_FATURAMENTO = @VL_PRECO_FATURAMENTO
						WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
						AND NM_PEDIDO_ITEM_PROMOCAO = @NM_PEDIDO_ITEM_PROMOCAO

					END

														
				FETCH NEXT FROM @Cursor_Brindes_Pedido
				INTO @NM_PEDIDO_ITEM_PROMOCAO, @VL_PRECO_FATURAMENTO, @CD_PRODUTO_VENDA
				
			END

	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_cdRetorno = 0

	
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
