SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PessoaInsereVinculo2]
        @v_codigoPessoaVinculada numeric(18,0),
	@p_codigoPessoa NUMERIC(18,0),
	@p_codigoFuncao NUMERIC(18,0),
	@p_numeroCiclo  NUMERIC(18,0),	
	@p_codigoErro	INT OUTPUT,
	@p_descErro		NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas INT OUTPUT
	
AS

DECLARE @v_codigoPessoaAscendente NUMERIC(18,0),
	@v_codigoPessoaVinculadaExistente NUMERIC(18,0),
	@v_numeroNivel int,
        @v_codigoPessoaLideranca NUMERIC(18,0),
        @v_codigoPapelLideranca int,
        @v_codigoPapelPessoa int

DECLARE     @CD_CLIENTE           NUMERIC(18,0)

BEGIN TRY

  SELECT @p_qtdeLinhasAfetadas = 0

  BEGIN TRANSACTION 

	
  -- VERIFICA VINCULO ATUAL DA PESSOA
 -- SELECT @v_codigoPessoaVinculada = isnull(min(CD_PESSOA_INDICANTE),0)
 -- FROM TB_PESSOA
 -- WHERE CD_PESSOA = @p_codigoPessoa

  IF @v_codigoPessoaVinculada <> 0 
  BEGIN
	
	-- Primeiramente vamos verificar se já existe algum vínculo para o ciclo informado
	-- ALTERAÇÃO FEITA POR ANDERSON - 02/11/2017
	-- ESTAVA TENDO UM PROBLEMA AQUI QUANDO IAMOS EDITAR UMA PESSOA QUE ESTAVA DESATIVADA
	-- ISSO PORQUE QUANDO ELA É DESATIVADA MANTEM O REGISTRO NA TABELA TB_PESSOA_VINCULO_HISTORICO COM CD_PESSOA_VNCULADA = 0
	-- E NO TRECHO ABAIXO ISNULL ESTAVA COLOCANDO 0 PARA SITUAÇÕES QUE JA EXISTIAM REGISTROS E TAMBEM PARA OS QUE NÃO EXISTIAM
	-- E DAVA ERRO MAIS A FRENTE NA HORA DE INSERIR POIS NÃO PODIA INSERIR DOIS REGISTROS PARA O MESMO CICLO
	-- DESSA MANEIRA AO NÃO ENCONTRAR O REGISTRO MUDAMOS O CONTROLE DO ISNULL DE 0 PARA -1 (ASSIM FORÇA ELE A INSERIR O REGISTRO)
	SELECT @v_codigoPessoaVinculadaExistente = ISNULL(CD_PESSOA_VINCULADA,-1)
	  FROM TB_PESSOA_VINCULO_HISTORICO
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND CD_FUNCAO = @p_codigoFuncao
	   AND NM_CICLO = @p_numeroCiclo

        -- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO SET
        CD_PESSOA_VINCULADA = @v_codigoPessoaVinculada
        WHERE 	CD_PESSOA = @p_codigoPessoa
        AND CD_FUNCAO = @p_codigoFuncao
	
        IF @v_codigoPessoaVinculadaExistente > -1
		BEGIN
			--ATUALIZA O VÍNCULO EXISTENTE E MARCA A PESSOA ANTERIOR
			UPDATE TB_PESSOA_VINCULO_HISTORICO
			   SET CD_PESSOA_VINCULADA = @v_codigoPessoaVinculada,
			       CD_PESSOA_VINCULADA_ANTERIOR = @v_codigoPessoaVinculadaExistente
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND CD_FUNCAO = @p_codigoFuncao
			   AND NM_CICLO = @p_numeroCiclo
		END	
	  ELSE
		BEGIN
			-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_VINCULO_HISTORICO
			INSERT INTO TB_PESSOA_VINCULO_HISTORICO (
				CD_PESSOA,
				CD_FUNCAO,
				NM_CICLO,
				CD_PESSOA_VINCULADA)
			VALUES
				(@p_codigoPessoa,
				@p_codigoFuncao,
				@p_numeroCiclo,
				@v_codigoPessoaVinculada)
		END
       

	--Antes de montar a topologia devemos apagar a topologia anterior caso exista
	--Só se aplica em casos onde a indicante foi alterada
	delete from TB_WRK_MN_TOPOLOGIA where CD_PESSOA = @p_codigoPessoa and CD_FUNCAO = @p_codigoFuncao and NM_CICLO = @p_numeroCiclo
	delete from TB_WRK_MN_TOPOLOGIA where CD_PESSOA_VINCULADA = @p_codigoPessoa and CD_FUNCAO = @p_codigoFuncao and NM_CICLO = @p_numeroCiclo
   
    -- MONTAR A REDE UNILEVEL -  DESCENDENTE
    INSERT INTO TB_WRK_MN_TOPOLOGIA
    (CD_PESSOA,
     CD_FUNCAO,
     NM_CICLO,
     CD_PESSOA_VINCULADA,
     ID_ORDEM,
     NM_NIVEL,
     ID_TIPO_REDE_MN) VALUES
    (@v_codigoPessoaVinculada, @p_codigoFuncao, @p_numeroCiclo, @p_codigoPessoa, 2,1,1) 

    INSERT INTO TB_WRK_MN_TOPOLOGIA
    (CD_PESSOA,
     CD_FUNCAO,
     NM_CICLO,
     CD_PESSOA_VINCULADA,
     ID_ORDEM,
     NM_NIVEL,
     ID_TIPO_REDE_MN) 
    SELECT CD_PESSOA, 
           CD_FUNCAO,
           NM_CICLO,
           @p_codigoPessoa,
           ID_ORDEM, 
           NM_NIVEL+1, 
           ID_TIPO_REDE_MN
    FROM TB_WRK_MN_TOPOLOGIA 
    WHERE CD_PESSOA_VINCULADA   = @v_codigoPessoaVinculada
    AND   CD_FUNCAO             = @p_codigoFuncao
    AND   ID_ORDEM              = 2
    AND   NM_CICLO              = @p_numeroCiclo
    AND   ID_TIPO_REDE_MN       = 1


    -- MONTAR A REDE UNILEVEL -  ASCENDENTE
    SELECT @v_codigoPessoaAscendente = @p_codigoPessoa

    SELECT @v_numeroNivel = 1
    WHILE @v_codigoPessoaVinculada <> 0 
    BEGIN 
      -- REDE UNILEVEL	
      INSERT INTO TB_WRK_MN_TOPOLOGIA (
		CD_PESSOA,
		CD_FUNCAO,
		NM_CICLO,
		CD_PESSOA_VINCULADA,
		ID_ORDEM,
		NM_NIVEL,
                ID_TIPO_REDE_MN)
      VALUES   (@p_codigoPessoa,
		@p_codigoFuncao,
		@p_numeroCiclo,
		@v_codigoPessoaVinculada,
		1,
		@v_numeroNivel,
                1) 
			
      -- SETA A VARIAVEL
      SELECT @v_codigoPessoaAscendente = @v_codigoPessoaVinculada
      SELECT @v_numeroNivel = @v_numeroNivel + 1
			
      SELECT @v_codigoPessoaVinculada         = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
      FROM TB_PESSOA_VINCULO_HISTORICO a
      WHERE a.CD_PESSOA = @v_codigoPessoaAscendente
      AND a.CD_FUNCAO = @p_codigoFuncao
      AND a.NM_CICLO = (select isnull(MAX(b.NM_CICLO),0)
						  from TB_PESSOA_VINCULO_HISTORICO b
						 where b.CD_PESSOA = a.CD_PESSOA
						   and b.CD_FUNCAO = a.CD_FUNCAO
						   and b.NM_CICLO <= @p_numeroCiclo)
		
    END
			
  END
		
  SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
  COMMIT TRANSACTION
		
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
