SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_EventoInserePapelDesempenho]
	@p_cdEvento				numeric(18,0),
	@p_cdPapelDesempenho	numeric(18,0),
	
	@p_cdUsuario			numeric(18,0),
	@p_dcAcao				varchar(1),
			
	@p_codigoErro			int				output,
	@p_descricaoErro		varchar(1000)	output,
	@p_linhasAfetadas		int				output
		
AS

BEGIN TRY
	
		SELECT @p_linhasAfetadas = 0
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
				
		IF @p_dcAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO TB_EVENTO_PAPEL_DESEMPENHO (
					CD_EVENTO,
					CD_PAPEL_DESEMPENHO)
				VALUES           (
					@p_cdEvento,
					@p_cdPapelDesempenho)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
			

		IF @p_dcAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_EVENTO_PAPEL_DESEMPENHO 
				WHERE CD_EVENTO = @p_cdEvento 
							
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
				
			END	
			


		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
