SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_LoteSeparacaoGerarLoteProcessamento]
	@p_numeroPedido				numeric(18, 0),
	@p_codigoLinhaSeparacao		numeric(18, 0),
	@p_codigoTransportadora		numeric(18, 0),
	@p_codigoRota				numeric(18, 0),
	@p_codigoLoteSeparacao		numeric(18, 0),
	
	@p_codigoUsuario			numeric(18, 0),
	
	@p_codigoErro				int				output,
	@p_descricaoErro			varchar(1000)	output,
	@p_linhasAfetadas			int				output
	
AS


DECLARE @v_codigoCentroDistribuicao	numeric(18,0),
		@v_pedidoCobrado			int,
		@v_existeItem				int,
		@v_cursorItens				cursor,
		@v_codigoProdutoVenda		numeric(18,0),
		@v_qtdReservada				numeric(18,0),
		@v_tipoPagamento			int,
		@v_volumeTotalPedido		numeric(18,4),
		@v_cdMaterial				numeric(18,0),
		@v_codigoPessoa				numeric(18,0),
		@v_codigoFuncao				int,
		@v_idSeparaPedido			int,
		@v_idConferePedido			int,
		@v_cursorEmbalagens			cursor,
		@v_numeroEmbalagem			numeric(18,0),
		@v_valorPeso				numeric(18,4),
		@ID_MEIO_SELECAO_ENTIDADE	INT,
		@v_qtdePedido				int,
		@v_idMomentoFaturamento		int,
		@v_cdEntidadeServicoExterno INT

BEGIN TRY
		
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	
	-- **************************************************************
	-- PROBLEMA IDENTIFICADO POR DIEGO EM 19/10
	-- CORREÇÃO DE ERRO - VAMOS COLOCAR UMA VALIDAÇÃO PARA NÃO GERAR DUPLICIDADE DE PROCESSAMENTO
	-- SE HOUVER ALGUM OUTRO LOTE COM ESTE PEDIDO NÃO PROCESSA NADA E PULA FORA
	-- **************************************************************
	select @v_qtdePedido = isnull(COUNT (*),0)
	  from TB_LOTE_SEPARACAO_PEDIDO WITH(NOLOCK)
	 where NM_PEDIDO = @p_numeroPedido
	 
	IF @v_qtdePedido > 0 
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'O pedido' + CONVERT(varchar(10),@p_numeroPedido) + ' já foi processado em outro lote de separação.'
			RETURN
		END

	SELECT	@v_codigoCentroDistribuicao = p.CD_CENTRO_DISTRIBUICAO,
			@v_idSeparaPedido = ISNULL(p.ID_SEPARACAO_PEDIDO,1),
			@v_idConferePedido = ISNULL(p.ID_CONFERENCIA_PEDIDO,1),
			@v_idMomentoFaturamento = isnull(p.ID_MOMENTO_FATURAMENTO,1)
	FROM TB_PEDIDO p WITH(NOLOCK)
	WHERE NM_PEDIDO = @p_numeroPedido
	
	-- **************************************************************
	-- BUSCA O VOLUME TOTAL DO PEDIDO
	-- **************************************************************
	--SELECT @v_volumeTotalPedido = SUM(ISNULL(MAT.NM_VOLUME * QT_RESERVADA,0))
	--FROM TB_PEDIDO_ITEM PDI JOIN TB_MATERIAL MAT ON PDI.CD_MATERIAL = MAT.CD_MATERIAL
	--WHERE PDI.NM_PEDIDO = @p_numeroPedido
	SELECT	@v_volumeTotalPedido = SUM(ISNULL(NM_VOLUME * QT_RESERVADA,0))
	FROM	VW_DETALHES_PEDIDO WITH(NOLOCK)
	WHERE	NM_PEDIDO = @p_numeroPedido
	AND QT_RESERVADA > 0
	
	
	
	-- **************************************************************
	-- SE O PEDIDO TEM VOLUME = 0 ENTÃO NÃO PROCESSA
	-- **************************************************************
    IF @v_volumeTotalPedido <= 0 
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'O pedido' + CONVERT(varchar(10),@p_numeroPedido) + ' possui volume igual a 0. Verifique o volume dos materiais deste pedido.'
			RETURN
		END 
	
	SET @v_cursorItens = CURSOR FAST_FORWARD
		FOR
			-- ***********************************************************
			-- ALTERAÇÃO POR DIEGO ZILIOTI EM 22/05/2019
			-- VAMOS AGRUPAR A CHAMADA DOS ITENS POR PRODUTO E MATERIAL
			-- EXISTEM ALGUNS CENÁRIOS EXCLUSIVOS DE KIT EM QUE OS PRODUTOS PODEM SE REPETIR E PRECISAMOS PASSAR A QUANTIDADE TOTAL UMA ÚNICA VEZ
			-- ***********************************************************
			SELECT X.CD_PRODUTO_VENDA, SUM(X.QT_RESERVADA), X.CD_MATERIAL
			FROM (
			SELECT	CD_PRODUTO_VENDA,
					QT_RESERVADA,
					cd_material
			FROM TB_PEDIDO_ITEM WITH(NOLOCK)
			WHERE NM_PEDIDO = @p_numeroPedido
			AND QT_RESERVADA >0
			AND NM_PEDIDO_ITEM_CONJUNTO = 0

			UNION ALL
			-- *****************************************************
			-- Alteração feita por Diego Zilioti em 01/10/17
			-- Necessidade: Precisamos realizar a baixa também dos brindes no estoque, os brindes não estão sendo considerados na verificação de estoque
			-- *****************************************************
			SELECT CD_PRODUTO_VENDA,
				   QT_RESERVADA,
				   CD_MATERIAL
			FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
			WHERE ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --BRINDE
			  AND QT_RESERVADA > 0
			  AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
			  AND NM_PEDIDO = @p_numeroPedido ) X
			GROUP BY X.CD_PRODUTO_VENDA, X.CD_MATERIAL
	
	BEGIN TRANSACTION 	
	-- *********************************************************
	-- GRAVA INFORMAÇÃO DO LOTE NA TABELA LOTE SEPARACAO PEDIDO
	-- *********************************************************
	INSERT TB_LOTE_SEPARACAO_PEDIDO 
	VALUES (@p_codigoLoteSeparacao, @p_numeroPedido)
	
	
	-- *********************************************************
	-- GRAVA INFORMAÇÃO DO LOTE NA TABELA DE PEDIDO
	-- *********************************************************
	UPDATE TB_PEDIDO 
	SET CD_LOTE_SEPARACAO = @p_codigoLoteSeparacao,
		CD_EST_SITUACAO = 6
	WHERE NM_PEDIDO = @p_numeroPedido
	

	COMMIT TRANSACTION


	-- VERIFICA O PLANO DE PAGAMENTO DO PEDIDO
	-- SE O MEIO DE SELEÇÃO DA ENTIDADE DO PLANO FOR MANUAL TEMOS QUE 
	-- COLOCAR O PEDIDO COMO AGUARDANDO DEFINIR ENTIDADE DE CONCILIAÇÃO
	-- CASO CONTRARIO VAMOS COLOCAR DISPONIVEL PARA SEPARAÇÃO

	SELECT @ID_MEIO_SELECAO_ENTIDADE = ISNULL(PP.ID_MEIO_SELECAO_ENTIDADE,0)
	FROM TB_PEDIDO P WITH(NOLOCK), TB_PLANO_PAGAMENTO PP WITH(NOLOCK)
	WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO
	AND NM_PEDIDO = @p_numeroPedido

	-- MANUAL
	IF @ID_MEIO_SELECAO_ENTIDADE = 2 
		BEGIN
			-- *********************************************************			
			-- FECHA A SITUAÇÃO DISPONIVEL PARA SEPARAÇÃO NO HISTORICO
			-- *********************************************************
			EXEC SP_GRAVA_HISTORICO_PEDIDO
				@p_numeroPedido,
				5, -- DISPONIVEL PARA SEPARAÇÃO
				2, -- FECHA
				0,
				'',		
				@p_codigoUsuario,
				0,
				'',
				0

			UPDATE TB_PEDIDO SET CD_EST_SITUACAO = 200
			WHERE NM_PEDIDO = @p_numeroPedido
						
			-- ABRE A SITUAÇÃO Aguardando definir entidade de conciliação
			EXEC SP_GRAVA_HISTORICO_PEDIDO
				@p_numeroPedido,
				200, 
				1, 
				0,
				'',
				@p_codigoUsuario,
				0,
				'',
				0

		END
	ELSE
		BEGIN
			-- *********************************************************			
			-- FECHA A SITUAÇÃO DISPONIVEL PARA SEPARAÇÃO NO HISTORICO
			-- *********************************************************
			EXEC SP_GRAVA_HISTORICO_PEDIDO
				@p_numeroPedido,
				5, -- DISPONIVEL PARA SEPARAÇÃO
				2, -- FECHA
				0,
				'',	
				@p_codigoUsuario,
				0,
				'',
				0

			-- *********************************************************
			-- ABRE A SITUAÇÃO DISPONIVEL PARA PICKING NO HISTORICO
			-- *********************************************************
			EXEC SP_GRAVA_HISTORICO_PEDIDO
				@p_numeroPedido,
				6, -- EM SEPARACAO
				1, -- ABRE 
				0,
				'',		
				@p_codigoUsuario,
				0,
				'',
				0

		END

	
	-- *********************************************************
	-- EXECUTA PROCESSO DE COLOCAR PRODUTOS NA CAIXA
	-- *********************************************************

	EXEC pr_PedidoGeraEmbalagemPedido
		@p_numeroPedido,
		@p_codigoUsuario,
		@p_codigoErro				output,
		@p_descricaoErro			output,
		@p_linhasAfetadas			output
	
	-- *********************************************************
	-- ALTERAÇÃO POR DIEGO ZILIOTI EM 12/10/2018
	-- VAMOS COLOCAR O CONCEITO DO MOMENTO DE FATURAMENTO DO PEDIDO
	-- ISTO IRÁ AFETAR A MOVIMENTAÇÃO DE ESTOQUE E GERAÇÃO DE DÍVIDA QUE PODERÃO OCORRER AQUI NA GERAÇÃO DE LOTE
	-- OU AO FINALIZAR A CONFERENCIA DO PEDIDO
	-- *********************************************************

	IF @v_idMomentoFaturamento = 1
		BEGIN
			-- *********************************************************
			-- MOVIMENTA ESTOQUE
			-- *********************************************************
			SELECT @v_existeItem = COUNT(*)
			FROM TB_PEDIDO_ITEM WITH(NOLOCK)
			WHERE QT_RESERVADA >0
	
								
			IF (@v_existeItem > 0) 
				BEGIN
					-- CANCELA ITENS
					OPEN @v_cursorItens
					FETCH NEXT FROM @v_cursorItens
					INTO @v_codigoProdutoVenda, @v_qtdReservada, @v_cdMaterial

					WHILE @@FETCH_STATUS = 0
						BEGIN

							EXEC dbo.SP_BAIXA_MATERIAL
								@p_numeroPedido,
								@v_codigoProdutoVenda,
								@v_cdMaterial,
								@v_qtdReservada,
								@p_codigoUsuario,
								2, --TIPO_EMEPNHO
								0, --CD_MATERIAL
								0, --CD_EST_SITUACAO
								0, --QT_RESERVADA
								0, --VL_REPOSICAO
								0, --VL_CUSTO_MEDIO
								0, --CD_COTA_ESTRUTURA_ESTRUTURA
								0, --CD_COTA_ESTRUTURA_PESSOA
								0,
								'',
								0
																									
							FETCH NEXT FROM @v_cursorItens
							INTO @v_codigoProdutoVenda, @v_qtdReservada, @v_cdMaterial
													
						END
				END
	

	
			-- VERIFICA PELO MODELO COMERCIAL SE O PEDIDO PE COBRADO OU NÃO
	
			-- **************************************************************
			-- SOMENTE GERA A DIVIDA SE O TIPO DE PAGAMENTO É POSTERGADO = 2
			-- **************************************************************
			SELECT @v_tipoPagamento = B.ID_TIPO_PAGAMENTO,
				   @v_codigoPessoa = A.CD_PESSOA,
				   @v_codigoFuncao = A.CD_FUNCAO,
				   @v_cdEntidadeServicoExterno = ISNULL((SELECT ID_NOME_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE CD_SERVICO_EXTERNO = B.CD_SERVICO_EXTERNO),0)
			FROM TB_PEDIDO A WITH(NOLOCK), TB_PLANO_PAGAMENTO B WITH(NOLOCK)
			WHERE A.NM_PEDIDO = @p_numeroPedido
			AND A.CD_PLANO_PAGAMENTO = B.CD_PLANO_PAGAMENTO

			-- *************************************************************************************
			-- ALTERAÇÃO EM 21/10/2019 POR DIEGO ZILIOTI
			-- VAMOS GERAR A DÍVIDA CASO O PAGAMENTO SEJA PÓS E NÃO É VIA WIRECARD
			-- NESSE CASO O BOLETO É GERADO NA CAPTAÇÃO DIRETO, NÃO PRECISA GERAR AQUI
			-- *************************************************************************************
			IF (@v_tipoPagamento = 2 AND @v_cdEntidadeServicoExterno <> 4) -- PÓS-PAGO E DIFERENTE DA WIRECARD
				BEGIN 
					EXEC pr_DividaGeraDivida
						@p_numeroPedido,
						1,
						@p_codigoUsuario,
						@p_codigoErro,
						@p_descricaoErro,
						@p_linhasAfetadas
					--Após gerar a dívida precisamos atualizar o crédito da pessoa, foram identificados casos de pessoas	
					exec SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO @v_codigoPessoa,
															   @v_codigoFuncao,
															   0,
															   0,
															   0
				END

			-- VAMOS GERAR A NOTA FISCAL APÓS A BAIXA DE ESTOQUE
			EXEC pr_FiscalGeraNotaFiscal	@p_numeroPedido,
											2, -- saída
											@p_codigoUsuario,
											@p_codigoErro output,
											@p_descricaoErro output,
											@p_linhasAfetadas output

		END
		
	
	-- **************************************************************
	-- NESTE MOMENTO VAMOS VERIFICAR SE O PEDIDO TERÁ A FASE DE SEPARAÇÃO e CONFERÊNCIA
	-- CASO A SEPARAÇÃO NÃO OCORRA DEVEMOS ATUALIZAR AS EMBALAGENS PARA DEIXÁ-LAS DISPONÍVEIS PARA CONFERÊNCIA
	-- **************************************************************
	
	-- AINDA NÃO PODEMOS FINALIZAR UM PEDIDO COM SELEÇÃO DE ENTIDADE MANUAL
	-- POR ISSO O TRECHO ABAIXO SERÁ EXECUTADO
	-- SOMENTE SE A SELEÇÃO DA ENTIDADE FOR AUTOMATICA
	IF @ID_MEIO_SELECAO_ENTIDADE <> 2 
		BEGIN

			IF @v_idSeparaPedido = 2 --NÃO HAVERÁ SEPARAÇÃO
				BEGIN
			
					--BUSCA AS EMBALAGENS GERADAS PARA O PEDIDO
					SET @v_cursorEmbalagens = CURSOR FAST_FORWARD
					FOR
						SELECT NM_EMBALAGEM
						FROM TB_PEDIDO_EMBALAGEM WITH(NOLOCK)
						WHERE NM_PEDIDO = @p_numeroPedido
			
					OPEN @v_cursorEmbalagens
					FETCH NEXT FROM @v_cursorEmbalagens
					INTO @v_numeroEmbalagem

					WHILE @@FETCH_STATUS = 0
						BEGIN

							--REALIZA O PROCESSO DE SEPARAÇÃO DAS EMBALAGENS
							EXEC SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
														1, -- inicia o picking
														0,
														@p_codigoUsuario,
														@p_codigoErro output,
														@p_descricaoErro output,
														@p_linhasAfetadas output
														
							EXEC SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
														1, --finaliza o picking
														0,
														@p_codigoUsuario,
														@p_codigoErro output,
														@p_descricaoErro output,
														@p_linhasAfetadas output
																									
							FETCH NEXT FROM @v_cursorEmbalagens
							INTO @v_numeroEmbalagem
													
						END
				END
		END

	-- *******************************************
	-- ENVIA EMAIL
	-- *******************************************
	EXEC pr_PedidoEnviarEmailMudancaStatus
		@p_numeroPedido	,		--@p_nmPedido		
		25,				--@p_cdEvento		
		@p_codigoErro	       OUTPUT,
		@p_descricaoErro       OUTPUT,
		@p_linhasAfetadas      OUTPUT

				
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descricaoErro, @p_codigoErro, 1)
END CATCH;
GO
