SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaPessoaTelefone]
AS

SELECT	P.CD_PESSOA,
		P.ID_TIPO_TELEFONE,
		P.ID_OPERADORA,
		P.DC_TELEFONE,
		P.DC_RAMAL,
		P.DC_CONTATO,
		P.ID_UTILIZA_WHATSAPP
  FROM TB_PESSOA_TELEFONE P with(nolock)
GO
