SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiPessoaAutenticarPessoa]
	@p_codigoPessoa		NUMERIC(18,0) OUTPUT,
	@p_numeroDocumento	VARCHAR(20),
	@p_codigoFuncao		INT OUTPUT,
	@p_descSenha		VARCHAR(50),
	@p_codigoErro		INT OUTPUT,
	@p_descErro			VARCHAR(200) OUTPUT

AS
DECLARE @v_existeCadastro	INT

BEGIN TRY
	    
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
		
	IF @p_codigoPessoa > 0
		BEGIN
			SELECT @v_existeCadastro = COUNT(*)
			  FROM TB_PESSOA WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa

			IF @v_existeCadastro = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Código de cliente informado não existente'
					RETURN
				END
		END

	IF LEN(@p_numeroDocumento) > 0
		BEGIN
			SELECT @v_existeCadastro = COUNT(*),
				   @p_codigoPessoa = CD_PESSOA
			  FROM TB_PESSOA_DOCUMENTO WITH(NOLOCK)
			 WHERE REPLACE(REPLACE(REPLACE(REPLACE(DC_DOCUMENTO,'.',''),'-',''),'/',''),'\','') = REPLACE(REPLACE(REPLACE(REPLACE(@p_numeroDocumento,'.',''),'-',''),'/',''),'\','')
			GROUP BY CD_PESSOA

			IF @v_existeCadastro = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Cliente não existente para o documento informado'
					RETURN
				END
		END

	IF @p_codigoFuncao = 0
		BEGIN
			-- VERIFICA SE EXISTE ALGUMA FUNÇÃO COM A SENHA INFORMADA NA REQUISIÇÃO
			SELECT @v_existeCadastro = COUNT(*),
				   @p_codigoPessoa = CD_PESSOA,
				   @p_codigoFuncao = MIN(CD_FUNCAO)
			  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND DC_SENHA = @p_descSenha
			 GROUP BY CD_PESSOA

		END
	ELSE
		BEGIN
			-- VERIFICA SE EXISTE ALGUMA FUNÇÃO COM A SENHA INFORMADA NA REQUISIÇÃO
			SELECT @v_existeCadastro = COUNT(*),
				   @p_codigoPessoa = CD_PESSOA,
				   @p_codigoFuncao = MIN(CD_FUNCAO)
			  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND DC_SENHA = @p_descSenha
			   AND CD_FUNCAO = @p_codigoFuncao
			 GROUP BY CD_PESSOA
		END

	IF @v_existeCadastro = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Senha inválida'
			RETURN
		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK TRANSACTION 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
