SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiPedidoInserePedidoItem]
	@p_numeroPedido				NUMERIC(18,0),
	@p_codigoProduto			VARCHAR(80),
	@p_codigoMaterial			VARCHAR(80),
	@p_descricaoProduto			VARCHAR(80),
	@p_qtdeSolicitada			INT,
	@p_valorUnitario			NUMERIC(18,2),
	@p_valorDescontoUnitario	NUMERIC(18,2),
	@p_idTipoProduto			INT,
	@p_idAgrupamentoProduto		INT,
	@p_valorLargura				NUMERIC(18,2),
	@p_valorComprimento			NUMERIC(18,2),
	@p_valorAltura				NUMERIC(18,2),
	@p_descObservacoes			VARCHAR(100),

	@p_dataInicialGarantia		DATE,
	@p_dataFinalGarantia		DATE,
	@p_descNumeroSerie			VARCHAR(500),

	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE	@v_codigoProduto		NUMERIC(18,0),
		@v_codigoMaterial		NUMERIC(18,0),
		@v_codigoSituacao		NUMERIC(18,0),
		@v_qtdeReservada		INT,
		@v_valorReposicao		NUMERIC(18,2),
		@v_valorCustoMedio		NUMERIC(18,2),
		@v_codigoCotaEstrutura	NUMERIC(18,0),
		@v_codigoCotaPessoa		NUMERIC(18,0),
		@v_idGeraBonus			INT,
		@v_idGeraGraduacao		INT,
		@v_idGeraAtivacao		INT,
		@v_numeroPedidoItem		NUMERIC(18,0),
		@v_valorLiquidoItem		NUMERIC(18,2),
		@v_valorTabelaItem		NUMERIC(18,2),
		@v_codigoPessoa			NUMERIC(18,0),
		@v_numeroDiasGarantia	INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	-- BUSCA OS CÓDIGOS INTERNOS
	SELECT @v_codigoProduto = CD_PRODUTO_VENDA
	  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	 WHERE CD_PRODUTO_VENDA_EXTERNO = @p_codigoProduto

	SELECT @v_codigoMaterial = CD_MATERIAL
	  FROM TB_MATERIAL WITH(NOLOCK)
	 WHERE CD_MATERIAL_EXTERNO = @p_codigoMaterial

	-- BUSCA DADOS ADICIONAIS PARA INSERÇÃO DO ITEM
	SELECT  @v_idGeraBonus = ID_GERA_BONUS,
			@v_idGeraGraduacao = ID_GERA_GRADUACAO,
			@v_idGeraAtivacao = ID_GERA_ATIVACAO
	  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	 WHERE CD_PRODUTO_VENDA = @v_codigoProduto
	 
	 -- vamos realizar o empenho do item
	 EXEC SP_BAIXA_MATERIAL	@p_numeroPedido,
							@v_codigoProduto,
							@v_codigoMaterial,
							@p_qtdeSolicitada,
							@p_codigoUsuario,
							0,	-- CAPTAÇÃO DE PEDIDOS
							@v_codigoMaterial OUTPUT,
							@v_codigoSituacao OUTPUT,
							@v_qtdeReservada OUTPUT,
							@v_valorReposicao OUTPUT,
							@v_valorCustoMedio OUTPUT,
							@v_codigoCotaEstrutura OUTPUT,
							@v_codigoCotaPessoa OUTPUT,
							@p_codigoErro OUTPUT,
							@p_descErro OUTPUT,
							@p_qtLinhasAfetadas OUTPUT

	IF @p_codigoErro = 0
		BEGIN
			-- APLICA O VALOR LÍQUIDO ANTES DE GRAVAR
			SELECT @v_valorLiquidoItem = (@p_valorUnitario - @p_valorDescontoUnitario) * @v_qtdeReservada,
				   @v_valorTabelaItem = @p_valorUnitario * @v_qtdeReservada

			EXEC SP_GRAVA_PEDIDO_ITEM	@p_numeroPedido,
										@v_codigoProduto,
										@v_codigoMaterial,
										1, --CAPTAÇÃO
										0, --ORIGEM ITEM
										1, --PRODUTO COBRADO
										@p_idTipoProduto,
										@p_idAgrupamentoProduto,
										@v_codigoSituacao,
										@v_codigoCotaEstrutura,
										@v_codigoCotaPessoa,
										@p_qtdeSolicitada,
										@v_qtdeReservada,
										@v_valorLiquidoItem, --crédito
										@v_valorTabelaItem, --tabela
										@v_valorTabelaItem, --praticado
										@v_valorLiquidoItem, --líquido,
										0, --imposto
										0, --comissão
										@v_valorLiquidoItem, --pagar
										0, --custo
										'I', -- inserção do item
										0,
										@v_idGeraBonus,
										@v_idGeraGraduacao,
										@v_idGeraAtivacao,
										2, --PRESENTE
										0, --pontos
										--@p_valorLargura,
										--@p_valorComprimento,
										--@p_valorAltura,
										--@p_descObservacoes,
										@p_codigoErro OUTPUT,
										@p_descErro OUTPUT,
										@p_qtLinhasAfetadas OUTPUT,
										@v_numeroPedidoItem OUTPUT
		END

	-- EXECUTA O TRECHO DA GARANTIA SE OS DADOS ESTIVEREM PREENCHIDOS
	IF LEN(@p_dataInicialGarantia) > 0 AND LEN(@p_dataFinalGarantia) > 0 AND LEN(@p_descNumeroSerie) > 0
		BEGIN

			SELECT @v_codigoPessoa = CD_PESSOA
			  FROM TB_PEDIDO WITH(NOLOCK)
			 WHERE NM_PEDIDO = @p_numeroPedido

			-- CALCULA OS DIAS DE GARANTIA
			SELECT @v_numeroDiasGarantia = DATEDIFF(DAY,@p_dataInicialGarantia,@p_dataFinalGarantia)
			
			EXEC pr_PessoaInsereMaterialGarantia 	0,
													@v_codigoPessoa,
													@v_codigoMaterial,
													@p_descNumeroSerie,
													@p_numeroPedido,
													@v_numeroDiasGarantia,
													@p_dataFinalGarantia,
													@p_dataInicialGarantia,
													@p_codigoUsuario,
													'I',
													3, --origem API
													@p_codigoErro OUTPUT,
													@p_descErro OUTPUT,
													@p_qtLinhasAfetadas OUTPUT,
													@v_numeroPedidoItem OUTPUT

		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
