SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PedidoAtualizaDescontoPagamento]
	@p_numeroPedido					numeric(18,0),
	@p_valorPagarPedido				numeric(18,2),
	@p_valorDescontoPagamento		numeric(18,2),
		
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	

AS

DECLARE @v_valorDescontoPagamentoAtual	numeric(18,2),
		@v_codigoDivida					numeric(18,0),
		@v_codigoUsuario				numeric(18,0)

BEGIN TRY
	
	    SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		SELECT @v_valorDescontoPagamentoAtual = ISNULL(VL_DESCONTO_PLANO_PAGAMENTO,0),
			   @v_codigoUsuario = ISNULL(CD_PESSOA,0)
		  FROM TB_PEDIDO WHERE NM_PEDIDO = @p_numeroPedido
	
		IF @p_valorDescontoPagamento <> @v_valorDescontoPagamentoAtual
			BEGIN
				
				select @v_codigoDivida = max(CD_DIVIDA)
				  from TB_DIVIDA
				 where NM_PEDIDO = @p_numeroPedido

				BEGIN TRANSACTION 
				
				-- atualiza o valor a pagar e desconto do pedido
				UPDATE TB_PEDIDO
				SET VL_DESCONTO_PLANO_PAGAMENTO = @p_valorDescontoPagamento,
					VL_PAGAR_TOTAL = @p_valorPagarPedido - @p_valorDescontoPagamento
				WHERE NM_PEDIDO = @p_numeroPedido
				
				--cancela a dívida atual aberta
				UPDATE TB_DIVIDA
				SET ID_SITUACAO_DIVIDA  = 2, --FECHADA
					ID_SITUACAO_PAGAMENTO = 4 --CANCELADA	
				WHERE CD_DIVIDA = @v_codigoDivida
				AND ID_SITUACAO_DIVIDA = 1 -- ABERTA
				
				UPDATE TB_PARCELA
				SET ID_SITUACAO_PARCELA = 2, -- FECHADA
					ID_SITUACAO_PAGAMENTO_PARCELA = 4 -- CANCELADA
				WHERE CD_DIVIDA = @v_codigoDivida
				AND ID_SITUACAO_PARCELA = 1 -- ABERTA
				
				UPDATE TB_ACORDO_PAGAMENTO
				SET ID_SITUACAO_ACORDO_PAGAMENTO = 2 -- FECHADA
				WHERE CD_DIVIDA = @v_codigoDivida
				AND ID_SITUACAO_ACORDO_PAGAMENTO = 1 -- ABERTA
			
				SELECT @p_linhasAfetadas = @@ROWCOUNT
		
				COMMIT TRANSACTION

				-- gera uma nova dívida
				exec pr_DividaGeraDivida @p_numeroPedido, 1, @v_codigoUsuario, @p_codigoErro, @p_descricaoErro, @p_linhasAfetadas

			END
    
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
