SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_IndicadorInserePessoaIndicadorMeta]
	@CD_PESSOA numeric(18, 0),
	@CD_INDICADOR numeric (18, 0),
	@NM_CICLO numeric(18, 0),
	@VL_INDICADOR_META numeric(18, 2),
	@DC_TIPO_FUNCAO	VARCHAR(1),
	@CD_USUARIO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS



BEGIN TRY
  SELECT @VAR_RETORNO        = 0
  SELECT @DC_ERRO            = ''
  SELECT @QT_LINHAS_AFETADAS = 0


  IF @DC_TIPO_FUNCAO = 'I'
  BEGIN
	INSERT INTO TB_PESSOA_INDICADOR_META   (
				CD_PESSOA ,
				CD_INDICADOR,
				NM_CICLO,
				VL_INDICADOR_META,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO)

								
	VALUES           (
				@CD_PESSOA,
				@CD_INDICADOR,
				@NM_CICLO,
				@VL_INDICADOR_META,
				GETDATE(), 
				@CD_USUARIO, 
				GETDATE(), 
				@CD_USUARIO
				)

  END	

  IF @DC_TIPO_FUNCAO = 'A'
  BEGIN
	UPDATE TB_PESSOA_INDICADOR_META  
	SET 	VL_INDICADOR_META       = @VL_INDICADOR_META,
		DT_ATUALIZACAO          = GETDATE(),
		CD_USUARIO_ATUALIZACAO  = @CD_USUARIO
  	WHERE  	CD_PESSOA    = @CD_PESSOA
	AND 	CD_INDICADOR = @CD_INDICADOR
	AND 	NM_CICLO     = @NM_CICLO
  END

  IF @DC_TIPO_FUNCAO = 'E'
  BEGIN
	DELETE TB_PESSOA_INDICADOR_META   
  	WHERE  	CD_PESSOA    = @CD_PESSOA
	AND 	CD_INDICADOR = @CD_INDICADOR
	AND 	NM_CICLO     = @NM_CICLO
  END

  SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
