SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ServicoExternoExecutaPagamento]
  	@p_codigoTitulo				numeric(18,0),
  	@p_valorPago				numeric(18,2),
  	@p_idNomeServicoExterno		integer,
  				
	@p_codigoUsuario			numeric(18,0),
		
	@p_codigoErro			INT OUTPUT,
	@p_descricaoErro		VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas		INT OUTPUT
		
AS

DECLARE	@v_codigoEntidadeConciliacao numeric(18,0),
		@v_codigoSitPedido			 numeric(18,0),
		@v_codigoPlanoPagamento		 NUMERIC(18,0), 
		@v_codigoPessoa				 NUMERIC(18,0), 
		@v_codigoFuncao				 INT,
		@v_idAcaoAutorizacao		 INT,
		@v_numeroPedido				 NUMERIC(18,0)

BEGIN TRY

	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0
	
	-- **************************************************
	-- BUSCA ENTIDADE DE CONCILIACAO DO TITULO
	-- **************************************************

	-- **************************************************
	-- Correção feita por Diego em 15/12/17
	-- Existe um problema atualmente onde a transação é aprovada mas o pedido está em captação ou abandonado
	-- Neste caso vamos verificar a situação do pedido e chamar a proc de finalização
	-- Assim em seguida o pedido terá sua baixa realizada
	-- **************************************************
	
	select @v_codigoSitPedido = CD_EST_SITUACAO,
		   @v_codigoPlanoPagamento = CD_PLANO_PAGAMENTO,
		   @v_codigoPessoa = CD_PESSOA,
		   @v_codigoFuncao = CD_FUNCAO,
		   @v_numeroPedido = NM_PEDIDO
	  from TB_PEDIDO WITH(NOLOCK)
	 where NM_PEDIDO = @p_codigoTitulo

	 IF @v_codigoSitPedido = 1 OR @v_codigoSitPedido = 100 OR @v_codigoSitPedido = 101
		BEGIN
			
			EXEC SP_FINALIZA_PEDIDO @p_codigoTitulo, 
									@p_codigoUsuario, 
									@v_codigoPlanoPagamento, 
									@v_codigoPessoa, 
									@v_codigoFuncao, 
									'', 
									@p_codigoErro			OUTPUT,
									@p_descricaoErro		OUTPUT,
									@p_linhasAfetadas		OUTPUT
		END
		
	-- **************************************************
	-- FINAL - Correção feita por Diego em 15/12/17
	-- **************************************************
	
	-- PAGSEGURO
	IF @p_idNomeServicoExterno = 1
		BEGIN
			SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 8
			AND CD_PARAMETRO = 2	

			select  @p_codigoTitulo = MAX(P.CD_PARCELA),
					@v_idAcaoAutorizacao = ISNULL(D.ID_ACAO_AUTORIZACAO,1)
			  from TB_DIVIDA d WITH(NOLOCK), TB_PARCELA p WITH(NOLOCK)
			 where D.CD_DIVIDA = P.CD_DIVIDA
			   AND D.NM_PEDIDO = @p_codigoTitulo
			   AND P.ID_SITUACAO_PARCELA = 1
			 GROUP BY D.ID_ACAO_AUTORIZACAO
		END
	
	-- PAYPAL
	IF @p_idNomeServicoExterno = 2
		BEGIN
			SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 8
			AND CD_PARAMETRO = 4
		END
	
	-- CIELO
	IF @p_idNomeServicoExterno = 3
		BEGIN
			SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 8
			AND CD_PARAMETRO = 5

			select  @p_codigoTitulo = MAX(P.CD_PARCELA),
					@v_idAcaoAutorizacao = ISNULL(D.ID_ACAO_AUTORIZACAO,1)
			  from TB_DIVIDA d WITH(NOLOCK), TB_PARCELA p WITH(NOLOCK)
			 where D.CD_DIVIDA = P.CD_DIVIDA
			   AND D.NM_PEDIDO = @p_codigoTitulo
			   AND P.ID_SITUACAO_PARCELA = 1
			GROUP BY D.ID_ACAO_AUTORIZACAO
		END
		
	-- MOIP
	IF @p_idNomeServicoExterno = 4
		BEGIN
			SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 8
			AND CD_PARAMETRO = 5

			select  @p_codigoTitulo = MAX(P.CD_PARCELA),
					@v_idAcaoAutorizacao = ISNULL(D.ID_ACAO_AUTORIZACAO,1)
			  from TB_DIVIDA d WITH(NOLOCK), TB_PARCELA p WITH(NOLOCK)
			 where D.CD_DIVIDA = P.CD_DIVIDA
			   AND D.NM_PEDIDO = @p_codigoTitulo
			   AND P.ID_SITUACAO_PARCELA = 1
			GROUP BY D.ID_ACAO_AUTORIZACAO
		END

	-- GETNET
	IF @p_idNomeServicoExterno = 8
		BEGIN
			SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 8
			AND CD_PARAMETRO = 10

			select  @p_codigoTitulo = MAX(P.CD_PARCELA),
					@v_idAcaoAutorizacao = ISNULL(D.ID_ACAO_AUTORIZACAO,1)
			  from TB_DIVIDA d WITH(NOLOCK), TB_PARCELA p WITH(NOLOCK)
			 where D.CD_DIVIDA = P.CD_DIVIDA
			   AND D.NM_PEDIDO = @p_codigoTitulo
			   AND P.ID_SITUACAO_PARCELA = 1
			GROUP BY D.ID_ACAO_AUTORIZACAO
		END

	-- YAPAY
	IF @p_idNomeServicoExterno = 12
		BEGIN
			SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 8
			AND CD_PARAMETRO = 11

			select  @p_codigoTitulo = MAX(P.CD_PARCELA),
					@v_idAcaoAutorizacao = ISNULL(D.ID_ACAO_AUTORIZACAO,1)
			  from TB_DIVIDA d WITH(NOLOCK), TB_PARCELA p WITH(NOLOCK)
			 where D.CD_DIVIDA = P.CD_DIVIDA
			   AND D.NM_PEDIDO = @p_codigoTitulo
			   AND P.ID_SITUACAO_PARCELA = 1
			GROUP BY D.ID_ACAO_AUTORIZACAO
		END

	-- braspag
	IF @p_idNomeServicoExterno = 21
		BEGIN
			SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 8
			AND CD_PARAMETRO = 17

			select  @p_codigoTitulo = MAX(P.CD_PARCELA),
					@v_idAcaoAutorizacao = ISNULL(D.ID_ACAO_AUTORIZACAO,1)
			  from TB_DIVIDA d WITH(NOLOCK), TB_PARCELA p WITH(NOLOCK)
			 where D.CD_DIVIDA = P.CD_DIVIDA
			   AND D.NM_PEDIDO = @p_codigoTitulo
			   AND P.ID_SITUACAO_PARCELA = 1
			GROUP BY D.ID_ACAO_AUTORIZACAO
		END
		
	-- *************************************************************************************
	-- NOVO TRATAMENTO ADICIONADO POR DIEGO ZILIOTI EM 04/09/2021 - ATIVIDADE BITRIX #2699
	-- VAMOS VALIDAR SE JÁ VAMOS DAR BAIXA NA PARCELA OU SE IREMOS APENAS LIBERAR A PENDÊNCIA
	-- *************************************************************************************

	IF @v_idAcaoAutorizacao = 1
		BEGIN
			-- **************************************************
			-- EXECUTA A BAIXA CONCILIAÇÃO
			-- **************************************************
			EXEC dbo.SP_BAIXA_CONCILIACAO
					@p_codigoTitulo,
					@p_valorPago,
					@v_codigoEntidadeConciliacao,
					2, -- automatico
					'',
					@p_codigoUsuario,
					@p_codigoErro			OUTPUT,
					@p_descricaoErro		OUTPUT,
					@p_linhasAfetadas		OUTPUT
		END
	ELSE
		BEGIN
			-- **************************************************
			-- LIBERA A PENDENCIA
			-- **************************************************
			EXEC dbo.SP_LIBERA_PENDENCIA_PEDIDO
					@v_numeroPedido,
					42,
					1, -- liberado automaticamente
					'Pagamento Autorizado', -- motivo
					@p_codigoUsuario,
					@p_codigoErro			OUTPUT,
					@p_descricaoErro		OUTPUT
		END
	
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
