SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CargaPontosCreditoProduto]
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS

DECLARE		@Cursor_Itens					CURSOR
DECLARE		@Cursor_Itens_Funcao			CURSOR


DECLARE		@CD_PRODUTO_VENDA_PRECO			NUMERIC(18,0)
DECLARE		@CD_PRODUTO_VENDA_PRECO_NOVO	NUMERIC(18,0)
DECLARE		@CD_PRODUTO_VENDA				NUMERIC(18,0)
DECLARE		@VL_PRECO						NUMERIC(18,2)
DECLARE     @ID_TIPO_VIGENCIA				INT
DECLARE		@VL_PRECO_DE					NUMERIC(18,2)
DECLARE		@ID_TIPO_PUBLICO_ALVO_PRECO		INT    

DECLARE		@CD_FUNCAO						INT

DECLARE		@VL_PONTOS						NUMERIC(18,2)
DECLARE		@VL_CREDITO						NUMERIC(18,2)


	
BEGIN 

	-- *******************************************************************************************
	-- ALTERAÇÃO FEIRA POR ANDERSON - 03/10/2020
	-- PROC CRIADA PARA ACERTAR PONTOS E CREDITO DOS PRODUTOS DE VENDA
	-- BASEADO NA PLANILHA QUE O CLIENTE ENVIOU
	-- PRIMEIRO CARREGAMOS UMA TABELA E COM BASE NELA IREMOS FAZER AS DEVIDAS MUDANÇAS
	-- CHAMADO 4858
	-- *******************************************************************************************
	
	SELECT @qtLinhasAfetadas = 0

	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
		SELECT	A.CD_PRODUTO_VENDA_PRECO,
				A.CD_PRODUTO_VENDA,
				A.VL_PRECO,
				A.ID_TIPO_VIGENCIA, 
				A.VL_PRECO_DE, 
				ISNULL(A.ID_TIPO_PUBLICO_ALVO_PRECO,1) ID_TIPO_PUBLICO_ALVO_PRECO
		FROM TB_PRODUTO_VENDA_PRECO A
		WHERE A.CD_PRODUTO_VENDA IN (SELECT B.CD_PRODUTO_VENDA FROM PRODUTO_PONTOS_CREDITO B WHERE B.ID_EXECUTADO = 0)
		AND 202010 BETWEEN ISNULL(NM_CICLO_INICIAL, 202010) AND ISNULL(NM_CICLO_FINAL, 202010)
		AND GETDATE() BETWEEN ISNULL(DT_DATA_INICIAL, GETDATE()) AND ISNULL(DT_DATA_FINAL, GETDATE())
		AND A.CD_PRODUTO_VENDA_PRECO IN (SELECT C.CD_PRODUTO_VENDA_PRECO FROM TB_PRODUTO_VENDA_PRECO_FUNCAO C WHERE C.CD_FUNCAO = 2)
		ORDER BY CD_PRODUTO_VENDA ASC
										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@CD_PRODUTO_VENDA_PRECO,
				@CD_PRODUTO_VENDA,
				@VL_PRECO,
				@ID_TIPO_VIGENCIA, 
				@VL_PRECO_DE, 
				@ID_TIPO_PUBLICO_ALVO_PRECO    

			WHILE @@FETCH_STATUS = 0
				BEGIN

					UPDATE PRODUTO_PONTOS_CREDITO
					SET ID_EXECUTADO = 1
					WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
									
					-- *****************************************************	
					--	FAZ UPDATE NA TB_PRODUTO_VENDA_PRECO COLOCANDO DATA FINAL E CICLO FINAL
					-- *****************************************************
					UPDATE TB_PRODUTO_VENDA_PRECO 
						SET NM_CICLO_FINAL = 202009, 
							DT_DATA_FINAL = '2020-10-03 00:00:00.000', 
							DT_ATUALIZACAO = GETDATE(), 
							CD_USUARIO_ATUALIZACAO = 0
					WHERE CD_PRODUTO_VENDA_PRECO = @CD_PRODUTO_VENDA_PRECO 

					
					-- *****************************************************	
					--	INSERE NOVO PONTOS COM NOVA VIGENCIA MAS MESMO PREÇO
					-- *****************************************************
					SELECT	@VL_PONTOS = VL_PONTOS,
							@VL_CREDITO = VL_CREDITO
					FROM PRODUTO_PONTOS_CREDITO
					WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA


					INSERT INTO TB_PRODUTO_VENDA_PRECO (
							CD_PRODUTO_VENDA, 
							NM_CICLO_INICIAL, 
							DT_DATA_INICIAL, 
							VL_PRECO, 
							VL_CREDITO, 
							DT_CADASTRO, 
							CD_USUARIO_CADASTRO, 
							DT_ATUALIZACAO, 
							CD_USUARIO_ATUALIZACAO, 
							ID_TIPO_VIGENCIA, 
							VL_PRECO_DE, 
							VL_PONTOS, 
							ID_TIPO_PUBLICO_ALVO_PRECO)
					VALUES (@CD_PRODUTO_VENDA, 
							202010,
							'2020-10-04 00:00:00.000', 
							@VL_PRECO,
							@VL_CREDITO,
							GETDATE(),
							0,
							GETDATE(), 
							0,
							@ID_TIPO_VIGENCIA,
							@VL_PRECO_DE, 
							@VL_PONTOS,
							@ID_TIPO_PUBLICO_ALVO_PRECO   )



					SELECT @CD_PRODUTO_VENDA_PRECO_NOVO = IDENT_CURRENT('TB_PRODUTO_VENDA_PRECO')	
					
										
					-- *****************************************************	
					--	INSERE REGISTROS NA TB_PRODUTO_VENDA_PRECO_FUNCAO
					-- *****************************************************	

					SET @Cursor_Itens_Funcao = CURSOR FAST_FORWARD
					FOR
						SELECT CD_FUNCAO
						FROM TB_PRODUTO_VENDA_PRECO_FUNCAO
						WHERE CD_PRODUTO_VENDA_PRECO = @CD_PRODUTO_VENDA_PRECO
										
					OPEN @Cursor_Itens_Funcao
					FETCH NEXT FROM @Cursor_Itens_Funcao
					INTO	@CD_FUNCAO
				
					WHILE @@FETCH_STATUS = 0
						BEGIN


							INSERT INTO TB_PRODUTO_VENDA_PRECO_FUNCAO VALUES (@CD_PRODUTO_VENDA_PRECO_NOVO, @CD_FUNCAO)

							FETCH NEXT FROM @Cursor_Itens_Funcao
							INTO	@CD_FUNCAO
													
						END
							
				
				FETCH NEXT FROM @Cursor_Itens
				INTO	@CD_PRODUTO_VENDA_PRECO,
						@CD_PRODUTO_VENDA,
						@VL_PRECO,
						@ID_TIPO_VIGENCIA, 
						@VL_PRECO_DE, 
						@ID_TIPO_PUBLICO_ALVO_PRECO    

													
				END


	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	
		
	SELECT @cdErro = 0
		
END
GO
