SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiPessoaInserePessoaCadastroFila]
    @p_idTipoPessoa INT,
    @p_codigoPessoaIndicante NUMERIC(18,0),
    @p_codigoUsuario NUMERIC(18,0),
    @p_codigoPessoaExterno VARCHAR(40),
    @p_numeroDocumento VARCHAR(40),
    @p_dcRequest VARCHAR(MAX),
    @p_codigoErro INT OUTPUT,
    @p_descErro VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas    INT OUTPUT, 
    @Identity NUMERIC(18,0) OUTPUT
AS
BEGIN TRY
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    
    IF EXISTS (SELECT 1 FROM TB_PESSOA_DOCUMENTO WITH(NOLOCK) WHERE DC_DOCUMENTO = @p_numeroDocumento)
    BEGIN
        SET @p_codigoErro = -1;
        SET @p_descErro = 'Cadastro ja existente';
        ROLLBACK TRANSACTION;
        RETURN;
    END
    
    INSERT INTO TB_PESSOA
        (ID_TIPO_PESSOA,
        CD_PESSOA_INDICANTE,
        DT_CADASTRO,
        CD_USUARIO_CADASTRO,
        DT_ATUALIZACAO,
        CD_USUARIO_ATUALIZACAO,
        CD_SITUACAO_CADASTRO,
        CD_PESSOA_EXTERNO)
    VALUES
        (@p_idTipoPessoa,
        @p_codigoPessoaIndicante,
        GETDATE(),
        @p_codigoUsuario,
        GETDATE(),
        @p_codigoUsuario,
        1,  -- EM CADASTRO
        @p_codigoPessoaExterno);
    
    SET @Identity = SCOPE_IDENTITY();
    
    INSERT INTO TB_PESSOA_DOCUMENTO
        (CD_PESSOA,
        ID_TIPO_DOCUMENTO,
        DC_DOCUMENTO,
        DC_ORGAO,
        DT_EMISSAO,
        DT_CADASTRO,
        CD_USUARIO_CADASTRO,
        DT_ATUALIZACAO,
        CD_USUARIO_ATUALIZACAO)
    VALUES
        (@Identity,
        1,  -- Tipo de documento CPF
        @p_numeroDocumento,
        NULL,
        NULL,
        GETDATE(),
        @p_codigoUsuario,
        GETDATE(),
        @p_codigoUsuario);
    
    INSERT INTO TB_PESSOA_CADASTRO_FILA
        (CD_PESSOA,
        DT_CADASTRO,
        ID_STATUS_PROCESSAMENTO,
        DC_MENSAGEM,
        DC_REQUEST)
    VALUES
        (@Identity,
        GETDATE(),
        1, -- Pendente
        NULL,
        @p_dcRequest);
    
    COMMIT TRANSACTION;
    SET @p_codigoErro = 0;
    SET @p_descErro = 'Insercao realizada com sucesso.';
END TRY
BEGIN CATCH
    SET @p_codigoErro = ERROR_NUMBER();
    SET @p_descErro = ERROR_MESSAGE();
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;
END CATCH;
GO
