SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiProdutoInsereProdutoVendaPreco]
	@p_codigoProdutoVenda	VARCHAR(80),
	@p_valorPrecoPor		NUMERIC(18,2),
	@p_valorPrecoDe			NUMERIC(18,2),
	@p_valorCredito			NUMERIC(18,2),
	@p_valorPontos			NUMERIC(18,4),
	@p_cicloInicial			NUMERIC(18,0),
	@p_cicloFinal			NUMERIC(18,0),
	@p_dataInicial			DATE,
	@p_dataFinal			DATE,
	
	@p_descAcao				VARCHAR(1), 
	@p_codigoUsuario		NUMERIC(18,0),

	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT,
	@p_codigoPrecoProduto	NUMERIC(18,0) OUTPUT

AS
DECLARE @v_codigoProduto	NUMERIC(18,0),
		@v_countCiclo		TINYINT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	--VAMOS BUSCAR O CÓDIGO DO MATERIAL INFORMADO
	SELECT @v_codigoProduto = MIN(CD_PRODUTO_VENDA)
	  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	 WHERE CD_PRODUTO_VENDA_EXTERNO = RTRIM(LTRIM(@p_codigoProdutoVenda))

	IF @v_codigoProduto = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Produto informado não encontrado'

			RETURN
		END
	
	-- vamos validar se os ciclos informados existem
	IF @p_cicloInicial > 0
		BEGIN
			SELECT @v_countCiclo = COUNT(*)
			  FROM TB_CICLO WITH(NOLOCK)
			 WHERE NM_CICLO = @p_cicloInicial

			IF @v_countCiclo = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Ciclo Inicial informado não encontrado'

					RETURN
				END
		END
	
	IF @p_cicloFinal > 0
		BEGIN
			SELECT @v_countCiclo = COUNT(*)
			  FROM TB_CICLO WITH(NOLOCK)
			 WHERE NM_CICLO = @p_cicloFinal

			IF @v_countCiclo = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Ciclo Final informado não encontrado'

					RETURN
				END
		END

	-- vamos validar aqui se os ciclos estão invertidos
	IF @p_cicloInicial > 0 AND @p_cicloFinal > 0
		BEGIN
			IF @p_cicloFinal < @p_cicloInicial
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Ciclo Final deve ser maior ou igual ao ciclo inicial'

					RETURN
				END
		END

	-- não vamos deixar cadastrar preços com datas anteriores ao dia corrente
	IF @p_dataInicial <> NULL
		BEGIN
			IF @p_dataInicial < CONVERT(DATE,GETDATE())
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'A Data Final deve ser maior ou igual a data atual'

					RETURN
				END
		END

	-- não vamos deixar cadastrar preços com datas anteriores ao dia corrente
	IF @p_dataFinal <> NULL
		BEGIN
			IF @p_dataFinal < CONVERT(DATE,GETDATE())
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'A Data Final deve ser maior ou igual a data atual'

					RETURN
				END
		END

	-- VALIDA SE O INTERVALO DE DATAS É VÁLIDO
	IF @p_dataInicial <> NULL AND @p_dataFinal <> NULL
		BEGIN
			IF @p_dataFinal < @p_dataInicial
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'A Data Final deve ser maior ou igual a data inicial'

					RETURN
				END
		END

	-- VALIDA O PREÇO ENVIADO
	IF @p_valorPrecoPor <= 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O Preço enviado deve ser maior que 0'

			RETURN
		END

	IF @p_valorPrecoPor > 0 AND @p_valorPrecoDe > 0
		BEGIN
			IF @p_valorPrecoDe < @p_valorPrecoPor
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'O Preço deve ser menor que o preço anterior (preço De)'

					RETURN
				END
		END

	-- VALIDA O Crédito ENVIADO
	IF @p_valorCredito < 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O Valor de crédito enviado deve ser maior ou igual a 0'

			RETURN
		END

	-- VALIDA a pontuação ENVIADO
	IF @p_valorPontos < 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'A pontuação enviada deve ser maior ou igual a 0'

			RETURN
		END

	IF @p_descAcao = 'I'
		BEGIN
			--REALIZA A INSERÇÃO DOS DADOS
			EXEC dbo.SP_CAD_PRECO_PRODUTO	0,
											@v_codigoProduto,
											@p_cicloInicial,
											@p_cicloFinal,
											@p_dataInicial,
											@p_dataFinal,
											@p_valorPrecoPor,
											@p_valorPrecoDe,
											@p_valorCredito,
											0,
											@p_valorPontos,
											0,
											--0,
											--0,
											@p_codigoUsuario,
											'I',
											@p_codigoErro OUTPUT,
											@p_descErro OUTPUT,
											@p_qtLinhasAfetadas OUTPUT,
											@p_codigoPrecoProduto OUTPUT
			

		END

	-- EXCLUSÃO DE PREÇOS	
	IF @p_descAcao = 'E'
		BEGIN
			IF @p_codigoPrecoProduto = 0
				BEGIN -- EXCLUI TODOS OS PREÇOS
					DELETE FROM TB_PRODUTO_VENDA_PRECO_FUNCAO 
					WHERE CD_PRODUTO_VENDA_PRECO IN (SELECT CD_PRODUTO_VENDA_PRECO 
													   FROM TB_PRODUTO_VENDA_PRECO WITH(NOLOCK)
													  WHERE CD_PRODUTO_VENDA = @v_codigoProduto
														AND CD_PRODUTO_VENDA_PRECO = @p_codigoPrecoProduto)

					DELETE FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL
					WHERE CD_PRODUTO_VENDA_PRECO IN (SELECT CD_PRODUTO_VENDA_PRECO 
													   FROM TB_PRODUTO_VENDA_PRECO WITH(NOLOCK)
													  WHERE CD_PRODUTO_VENDA = @v_codigoProduto
														AND CD_PRODUTO_VENDA_PRECO = @p_codigoPrecoProduto)

					DELETE FROM TB_PRODUTO_VENDA_PRECO WHERE CD_PRODUTO_VENDA = @v_codigoProduto
				END
			ELSE
				BEGIN --EXCLUI SOMENTE O PREÇO ENVIADO					
					DELETE FROM TB_PRODUTO_VENDA_PRECO_FUNCAO 
					WHERE CD_PRODUTO_VENDA_PRECO IN (SELECT CD_PRODUTO_VENDA_PRECO 
													   FROM TB_PRODUTO_VENDA_PRECO WITH(NOLOCK)
													  WHERE CD_PRODUTO_VENDA = @v_codigoProduto
														AND CD_PRODUTO_VENDA_PRECO = @p_codigoPrecoProduto)

					DELETE FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL
					WHERE CD_PRODUTO_VENDA_PRECO IN (SELECT CD_PRODUTO_VENDA_PRECO 
													   FROM TB_PRODUTO_VENDA_PRECO WITH(NOLOCK)
													  WHERE CD_PRODUTO_VENDA = @v_codigoProduto
														AND CD_PRODUTO_VENDA_PRECO = @p_codigoPrecoProduto)

					DELETE FROM TB_PRODUTO_VENDA_PRECO 
					WHERE CD_PRODUTO_VENDA = @v_codigoProduto
					AND CD_PRODUTO_VENDA_PRECO = @p_codigoPrecoProduto
				END
		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
