SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_PedidoPreparaRecuperacao]
	@p_numeroPedido				NUMERIC(18,0),
	@p_codigoUsuario			NUMERIC(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS

DECLARE @v_codigoSituacao				int
DECLARE @v_codigoPessoa					numeric(18,0)
DECLARE	@v_codigoFuncao					int
DECLARE @v_cicloAprovacao				numeric(18,0)
DECLARE @v_cdEstcomercial				int
DECLARE	@CURSOR_HISTORICO				as Cursor


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
		
	-- ****************************************************************
	-- VAMOS FECHAR TODAS AS SITUAÇÕES DO HISTORICO
	-- ****************************************************************
	
	SET @CURSOR_HISTORICO = CURSOR FAST_FORWARD
	FOR
			SELECT CD_EST_SITUACAO 
			FROM TB_PEDIDO_HISTORICO WITH (NOLOCK)
			WHERE DT_FINAL IS NULL
			AND NM_PEDIDO = @p_numeroPedido
	    
	    OPEN @CURSOR_HISTORICO
		FETCH NEXT FROM @CURSOR_HISTORICO
		INTO @v_codigoSituacao
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
				-- FECHA TODAS AS SITUAÇÕES ABERTAS
				exec SP_GRAVA_HISTORICO_PEDIDO
					@p_numeroPedido,
					@v_codigoSituacao, -- SITUAÇÃO
					2, 
					0,
					'',
					@p_codigoUsuario,
					0,
					'',
					0
			
		  FETCH NEXT FROM @CURSOR_HISTORICO
		  INTO @v_codigoSituacao
		END
		CLOSE      @CURSOR_HISTORICO
        DEALLOCATE @CURSOR_HISTORICO
        
        
    -- ****************************************************************
	-- ABRE A SITUAÇÃO DE EM CAPTAÇÃO
	-- ****************************************************************

		exec SP_GRAVA_HISTORICO_PEDIDO
			@p_numeroPedido,
			1, -- SITUAÇÃO EM CAPTAÇÃO
			1, 
			1,
			'',
			@p_codigoUsuario,
			0,
			'',
			0
			
			
	-- *****************************************************
    -- GRAVA SITUACAO 1 (EM CAPTAÇÃO) E CICLO DE APROVAÇÃO E DATA DE APROVACAO
    -- *****************************************************
    BEGIN TRANSACTION 
    
	UPDATE TB_PEDIDO 
    SET CD_EST_SITUACAO = 1, -- EM CAPTACAO
		NM_CICLO_APROVACAO = NULL,
		DT_APROVACAO_PEDIDO = NULL
	WHERE NM_PEDIDO = @p_numeroPedido

	SELECT @p_linhasAfetadas = @@ROWCOUNT
	
	COMMIT TRANSACTION
	
			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
