SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaInserePessoaJuridicaContato]

	@CD_PESSOA NUMERIC(18,0),
	@CD_PESSOA_CONTATO		NUMERIC(18,0),

	@DC_NOME VARCHAR(100),
	@DC_SOBRENOME VARCHAR(100),
	@DC_DOCUMENTO1 VARCHAR(100), --CPF
	@DC_DOCUMENTO2 VARCHAR(100), --RG
	@DC_EMAIL1 VARCHAR(100),
	@DC_TELEFONE1 VARCHAR(100),
	@DT_NASCIMENTO		VARCHAR(10),
	@ID_SEXO			INT,

	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO VARCHAR(200) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS
		DECLARE @DT_NASCIMENTO_CONVERTIDA DATE

BEGIN TRY
	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @VAR_RETORNO = 0

		SELECT @DT_NASCIMENTO_CONVERTIDA = CONVERT(DATE, @DT_NASCIMENTO, 103)
    
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				DELETE TB_PESSOA_JURIDICA_CONTATO 
				WHERE CD_PESSOA = @CD_PESSOA
				AND CD_PESSOA_CONTATO = @CD_PESSOA_CONTATO
			END

		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				INSERT INTO TB_PESSOA_JURIDICA_CONTATO
						(CD_PESSOA,
						 DC_NOME,
						 DC_SOBRENOME,
						 DC_CPF,
						 DC_RG,
						 DC_EMAIL,
						 DC_TELEFONE,
						 DT_NASCIMENTO,
						 ID_SEXO,
						 CD_USUARIO_ATUALIZACAO,
						 DATA_ATUALIZACAO)
					VALUES
						(@CD_PESSOA,
						 @DC_NOME,
						 @DC_SOBRENOME,
						 @DC_DOCUMENTO1,
						 @DC_DOCUMENTO2,
						 @DC_EMAIL1,
						 @DC_TELEFONE1,
						 @DT_NASCIMENTO_CONVERTIDA,
						 @ID_SEXO,
						 @CD_USUARIO,
						 GETDATE())
					
			END	


		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
