SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaPessoasRankingVendas]
        @NM_CICLO         VARCHAR(8),  -- obrigatório
        @CD_FUNCAO        VARCHAR(2),   -- obrigatório
        @CD_EST_COMERCIAL VARCHAR(2),  -- obrigatório
		@CD_PAPEL_CARREIRA VARCHAR(2), -- obrigatório
		@CD_PESSOA		   VARCHAR(18) --PARA KENKO
		--@V_RETORNO					NVARCHAR(MAX) OUTPUT

AS
DECLARE @CD_CLIENTE NUMERIC(18,0)
declare @cols nvarchar(max)
declare @query as nvarchar(max)

BEGIN
	
  set @cols = stuff((
  select distinct ',' 
    + quotename(DS_APURACAO_RESULTADOS)
  from TB_MN_REGRA_REMUNERACAO
  for xml path('')
  ), 1,1, '');



  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

  IF (@CD_CLIENTE NOT IN (25,55))    -- A SÓS / KENKO PATTO
  BEGIN 
        set @query='SELECT  ROW_NUMBER() OVER(PARTITION BY P.situação  ORDER BY P.situação desc, '+
	  ' (SELECT ISNULL(SUM(VL_ORIGINAL),0)  FROM TB_MN_REMUNERACAO Z WHERE Z.CD_PESSOA = P.CÓDIGO AND Z.CD_FUNCAO = '+ @CD_FUNCAO + ' AND Z.NM_CICLO = ' + @NM_CICLO + ')  DESC ) AS "Posição", ' +
	  ' P.*,'+
          ' (SELECT ISNULL(SUM(VL_ORIGINAL),0)  FROM TB_MN_REMUNERACAO Z WHERE Z.CD_PESSOA = P.CÓDIGO AND Z.CD_FUNCAO = '+ @CD_FUNCAO + ' AND Z.NM_CICLO = ' + @NM_CICLO + ') AS "Total Bônus" '+
          ' FROM ( '+

	  'SELECT CASE WHEN (A.CD_PAPEL_CARREIRA > 5) THEN '+ '''Qualificado''' +'ELSE '+ '''Não Qualificado''' +' END "Situação", '+
	  'A.CD_PESSOA AS "Código",'+
	  '[dbo].[FN_BUSCA_APELIDO_PESSOA](A.CD_PESSOA)	AS "Nome",   '+
	  '(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, H.CD_PAPEL_CARREIRA) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE A.CD_PESSOA = H.CD_PESSOA AND A.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO + ') AS "Qualificação", '+
	  '(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, H.CD_PAPEL_DESEMPENHO) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE A.CD_PESSOA = H.CD_PESSOA AND A.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO +') AS "Reconhecimento", '+
	  'ISNULL(E.VL_INDICADOR_PESSOAL,0) AS "Total de Pontos Equipe", '+
	  ' B.DS_APURACAO_RESULTADOS RESULTADOS, '+
	  --' SUM(C.VL_REMUNERACAO) REMUNERACAO'+
	  ' case when (isnull(SUM(C.VL_REMUNERACAO),0) > 0) then isnull(SUM(C.VL_REMUNERACAO),0) else 0 end REMUNERACAO '+
	' FROM TB_PESSOA_RESUMO A '+
	' left JOIN TB_MN_REGRA_REMUNERACAO B '+
	' ON B.ID_REGRA_ATIVA = 1 '+
	' LEFT JOIN TB_MN_DETALHE_REMUNERACAO C '+
	' ON B.CD_REMUNERACAO = C.CD_REGRA_PREMIACAO_MN '+
	' AND A.CD_PESSOA     = C.CD_PESSOA '+
	' AND C.CD_FUNCAO = A.CD_FUNCAO '+
	' AND C.NM_CICLO  = ' + @NM_CICLO +
	' JOIN TB_PESSOA_INDICADOR E '+
	' ON A.CD_PESSOA = E.CD_PESSOA '+
	' AND A.CD_FUNCAO = E.CD_FUNCAO '+
	' AND E.NM_CICLO = ' + @NM_CICLO +
	' AND E.CD_INDICADOR_PESSOAL = 1005 '+
	'WHERE A.CD_FUNCAO = '+ @CD_FUNCAO +
       ' AND A.CD_PESSOA <> 4211 ' +
        ' AND A.CD_EST_COMERCIAL = ' + @CD_EST_COMERCIAL + 
	' AND A.CD_SITUACAO_COMERCIAL < 4 '+
        ' AND A.CD_PAPEL_CARREIRA >= ' + @CD_PAPEL_CARREIRA + 
	' GROUP BY A.CD_PESSOA, B.DS_APURACAO_RESULTADOS,  '+
	' A.CD_FUNCAO, '+
	' A.CD_PAPEL_CARREIRA, A.CD_PAPEL_DESEMPENHO, ' +
	' ISNULL(E.VL_INDICADOR_PESSOAL,0) '+
	') AS t '+ 
	'PIVOT ( '+
	'    SUM(REMUNERACAO) '+
	'    FOR RESULTADOS IN ( ' + @cols + ' ) '+
	' ) as P ORDER BY 2 DESC;';
	-- ALTERADO POR ANDERSON - ERRO NA PACHAMAMA POIS NAO TEM A COLUNA 14
	--' ) as P ORDER BY 2 DESC,14 DESC;';
	Execute(@query)
	--SELECT @query


  END

  IF (@CD_CLIENTE = 25)    -- A SÓS
  BEGIN 
	if (@CD_PAPEL_CARREIRA >= 5) 
	begin
        set @query='SELECT  ROW_NUMBER() OVER(PARTITION BY P.Consultor  ORDER BY P.Consultor desc, '+
	  ' (SELECT ISNULL(SUM(VL_ORIGINAL),0)  FROM TB_MN_REMUNERACAO Z WHERE Z.CD_PESSOA = P.CÓDIGO AND Z.CD_FUNCAO = '+ @CD_FUNCAO + ' AND Z.NM_CICLO = ' + @NM_CICLO + ')  DESC ) AS "Posição", ' +
	' P.[Situação],'+
	' P.[Código],'+
	' P.[Nome],'+
	' P.[Qualificação],'+
	' P.[Reconhecimento],'+
	' P.[Total de Consultores],'+
	' P.[Total de Pontos Equipe],'+
	' dbo.FN_ConverteMoedaReal (P.[Bônus Adesão]) as "Bônus Adesão",'+
	' dbo.FN_ConverteMoedaReal (P.[Bônus Equipe]) as "Bônus Equipe",'+
	' dbo.FN_ConverteMoedaReal (P.[Bônus Geração]) as "Bônus Geração",'+
	' dbo.FN_ConverteMoedaReal ([Bônus Liderança]) as "Bônus Liderança",'+
	--' dbo.FN_ConverteMoedaReal ([Crédito E-Commerce]) as "Crédito E-Commerce",'+
	--' dbo.FN_ConverteMoedaReal ([Crédito por Proximidade]) as "Crédito por Proximidade",'+
          ' (SELECT dbo.FN_ConverteMoedaReal (ISNULL(SUM(VL_ORIGINAL),0))  FROM TB_MN_REMUNERACAO Z WHERE Z.CD_PESSOA = P.CÓDIGO AND Z.CD_FUNCAO = '+ @CD_FUNCAO + ' AND Z.NM_CICLO = ' + @NM_CICLO + ') AS "Total Bônus" '+
          ' FROM ( '+
		   'SELECT '+'''CONSULTOR'''+ ' AS "Consultor", '+
	  ' CASE WHEN (A.CD_PAPEL_CARREIRA > 5 or A.CD_PAPEL_DESEMPENHO > 5) THEN '+ '''Qualificado''' +'ELSE '+ '''Não Qualificado''' +' END "Situação", '+
	  'A.CD_PESSOA AS "Código",'+
	  '[dbo].[FN_BUSCA_APELIDO_PESSOA](A.CD_PESSOA)	AS "Nome",   '+
	  '(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, H.CD_PAPEL_CARREIRA) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE A.CD_PESSOA = H.CD_PESSOA AND A.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO + ') AS "Qualificação", '+
	  '(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, H.CD_PAPEL_DESEMPENHO) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE A.CD_PESSOA = H.CD_PESSOA AND A.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO +') AS "Reconhecimento", '+
	  'dbo.FN_ConverteValor (ISNULL(E.VL_INDICADOR_PESSOAL,0)) AS "Total de Pontos Equipe", '+
	  'dbo.FN_ConverteValor (ISNULL(F.VL_INDICADOR_PESSOAL,0)) AS "Total de Consultores", '+
	  ' B.DS_APURACAO_RESULTADOS RESULTADOS, '+
	  --' SUM(C.VL_REMUNERACAO) REMUNERACAO'+
	  ' case when (isnull(SUM(C.VL_REMUNERACAO),0) > 0) then isnull(SUM(C.VL_REMUNERACAO),0) else 0 end REMUNERACAO '+
	' FROM TB_PESSOA_PAPEL_HISTORICO  A ' + --TB_PESSOA_RESUMO A '+
	' left JOIN TB_MN_REGRA_REMUNERACAO B '+
	' ON B.ID_REGRA_ATIVA = 1 '+
	' LEFT JOIN TB_MN_DETALHE_REMUNERACAO C '+
	' ON B.CD_REMUNERACAO = C.CD_REGRA_PREMIACAO_MN '+
	' AND A.CD_PESSOA     = C.CD_PESSOA '+
	' AND C.CD_FUNCAO = A.CD_FUNCAO '+
	' AND C.NM_CICLO  = ' + @NM_CICLO +
	' JOIN TB_PESSOA_INDICADOR E '+
	' ON A.CD_PESSOA = E.CD_PESSOA '+
	' AND A.CD_FUNCAO = E.CD_FUNCAO '+
	' AND E.NM_CICLO = ' + @NM_CICLO +
	' AND E.CD_INDICADOR_PESSOAL = 1005 '+

	' LEFT JOIN TB_PESSOA_INDICADOR F '+
	' ON A.CD_PESSOA = F.CD_PESSOA '+
	' AND A.CD_FUNCAO = F.CD_FUNCAO '+
	' AND F.NM_CICLO = ' + @NM_CICLO +
	' AND F.CD_INDICADOR_PESSOAL = 1025 '+

	'WHERE A.CD_FUNCAO = '+ @CD_FUNCAO +
       ' AND A.CD_PESSOA <> 4211 ' +
	' AND A.NM_CICLO = ' + @NM_CICLO +
  --      ' AND A.CD_EST_COMERCIAL = ' + @CD_EST_COMERCIAL + 
--	' AND A.CD_SITUACAO_COMERCIAL < 4 '+
        ' AND A.CD_PAPEL_CARREIRA >= 5' + 
	' GROUP BY A.CD_PESSOA, B.DS_APURACAO_RESULTADOS,  '+
	' A.CD_FUNCAO, '+
	' A.CD_PAPEL_CARREIRA, A.CD_PAPEL_DESEMPENHO, ' +
	' ISNULL(E.VL_INDICADOR_PESSOAL,0), '+
	' ISNULL(F.VL_INDICADOR_PESSOAL,0) '+
	') AS t '+ 
	'PIVOT ( '+
	'    SUM(REMUNERACAO) '+
	'    FOR RESULTADOS IN ( ' + @cols + ' ) '+
	' ) as P ORDER BY 1;';
	execute(@query)
	--SELECT @query
	end

  END

  IF (@CD_CLIENTE = 55)    -- KENKO
  BEGIN 
        set @query='SELECT	 P.NM_CICLO AS Ciclo, ROW_NUMBER() OVER(PARTITION BY P.NM_CICLO ORDER BY P.Pontos desc) Posição, '+
	' P.Situação, P.Código, P.Nome, P.Qualificação, P.Reconhecimento, P.UF,' +
	' P.Distribuidores, P.[% Dist.], P.Pontos, P.[% Pontos] '+
	' FROM (SELECT C.NM_CICLO, (SELECT Z.DC_SITUACAO_COMERCIAL FROM TB_NIVEL_SITUACAO_COMERCIAL Z WHERE B.CD_SITUACAO_COMERCIAL = Z.CD_SITUACAO_COMERCIAL AND B.CD_FUNCAO = Z.CD_FUNCAO) AS "Situação", '+
	'		C.CD_PESSOA_VINCULADA AS Código, DBO.FN_BUSCA_NOME_PESSOA(C.CD_PESSOA_VINCULADA) AS "Nome", '+
	'	(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (B.CD_FUNCAO, H.CD_PAPEL_CARREIRA) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE C.CD_PESSOA_VINCULADA = H.CD_PESSOA AND C.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO + ') AS "Qualificação", '+
	'	(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (B.CD_FUNCAO, H.CD_PAPEL_DESEMPENHO) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE C.CD_PESSOA_VINCULADA = H.CD_PESSOA AND C.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO + ') AS "Reconhecimento" , '+
	'	(SELECT Z.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO Z WHERE Z.CD_PESSOA = C.CD_PESSOA_VINCULADA AND Z.ID_TIPO_ENDERECO IN (1,3)) AS UF, '+
	'	cast((select Z.VL_INDICADOR_PESSOAL from TB_PESSOA_INDICADOR Z WHERE Z.CD_PESSOA = C.CD_PESSOA_VINCULADA AND Z.NM_CICLO = C.NM_CICLO AND Z.CD_INDICADOR_PESSOAL = 1011 )as int) AS "Distribuidores", '+

	'	CASE WHEN (select Z.VL_INDICADOR_PESSOAL from TB_PESSOA_INDICADOR Z WHERE Z.CD_PESSOA = C.CD_PESSOA_VINCULADA AND Z.NM_CICLO = C.NM_CICLO AND Z.CD_INDICADOR_PESSOAL = 1011 ) = 0 THEN 0 '+
	'	ELSE '+
	'	CONVERT(NUMERIC(18,2),(((select Z.VL_INDICADOR_PESSOAL from TB_PESSOA_INDICADOR Z WHERE Z.CD_PESSOA = C.CD_PESSOA_VINCULADA AND Z.NM_CICLO = C.NM_CICLO AND Z.CD_INDICADOR_PESSOAL = 1011 )/ '+
	'	(select Z.VL_INDICADOR_PESSOAL from TB_PESSOA_INDICADOR Z WHERE Z.CD_PESSOA = C.CD_PESSOA AND Z.NM_CICLO = C.NM_CICLO AND Z.CD_INDICADOR_PESSOAL = 1011 ))*100)) END AS "% Dist.", '+

	'	(select Z.VL_INDICADOR_PESSOAL from TB_PESSOA_INDICADOR Z WHERE Z.CD_PESSOA = C.CD_PESSOA_VINCULADA AND Z.NM_CICLO = C.NM_CICLO AND Z.CD_INDICADOR_PESSOAL = 1005 ) AS "Pontos", '+

	'	CASE WHEN (select Z.VL_INDICADOR_PESSOAL from TB_PESSOA_INDICADOR Z WHERE Z.CD_PESSOA = C.CD_PESSOA_VINCULADA AND Z.NM_CICLO = C.NM_CICLO AND Z.CD_INDICADOR_PESSOAL = 1005 ) = 0 THEN 0 '+
	'	ELSE '+
	'	CONVERT(NUMERIC(18,2),(((select Z.VL_INDICADOR_PESSOAL from TB_PESSOA_INDICADOR Z WHERE Z.CD_PESSOA = C.CD_PESSOA_VINCULADA AND Z.NM_CICLO = C.NM_CICLO AND Z.CD_INDICADOR_PESSOAL = 1005 )/ '+
	'	(select Z.VL_INDICADOR_PESSOAL from TB_PESSOA_INDICADOR Z WHERE Z.CD_PESSOA = C.CD_PESSOA AND Z.NM_CICLO = C.NM_CICLO AND Z.CD_INDICADOR_PESSOAL = 1005 ))*100)) END  AS "% Pontos" '+




	' FROM TB_PESSOA_RESUMO B, TB_WRK_MN_TOPOLOGIA C '+
	' WHERE  C.CD_PESSOA_VINCULADA = B.CD_PESSOA '+
	' AND C.CD_FUNCAO = B.CD_FUNCAO AND C.CD_FUNCAO = 2 '+
	' AND C.NM_CICLO = '+ @NM_CICLO + 
	' AND C.CD_PESSOA = '+ @CD_PESSOA +'	AND C.ID_ORDEM = 2 AND C.NM_NIVEL = 1 '+
	' ) P order by p.Pontos desc';
	execute(@query)
	--SELECT @query

  END

  --SELECT @V_RETORNO = @query

END



GO
