SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_ColetaInsereOrdemColetaItem]
	@p_codigoOrdemColetaItem			NUMERIC(18,0),
	@p_codigoOrdemColeta				NUMERIC(18,0),
	@p_codigoSituacaoOrdemColetaItem	INT,
	@p_codigoProdutoVenda				NUMERIC(18,0),
	@p_codigoMaterial					NUMERIC(18,0),
	@p_qtdColetar						NUMERIC(18,0),
	
	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoTipoFuncao		VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_ORDEM_COLETA_ITEM (
					CD_ORDEM_COLETA,
					CD_SITUACAO_ORDEM_COLETA_ITEM,
					CD_PRODUTO_VENDA,
					CD_MATERIAL,
					QT_ITEM_A_COLETAR)
						
				VALUES           (
					@p_codigoOrdemColeta,
					@p_codigoSituacaoOrdemColetaItem,
					@p_codigoProdutoVenda,
					@p_codigoMaterial,
					@p_qtdColetar)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_ORDEM_COLETA_ITEM')
			
				COMMIT TRANSACTION
			END	
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
