SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_FiscalInsereGrupoImpostosRegraFiscal]
	@p_codigoGrupoImpostos	NUMERIC(18,0),
	@p_codigoRegraFiscal	NUMERIC(18,0),
	@p_codigoMaterial		NUMERIC(18,0),
	@p_codigoClassFiscal	NUMERIC(18,0),
	@p_idDestinoOperacao	INT,
	@p_codigoUsuario		NUMERIC(18,0),
	@p_descAcao				VARCHAR(1),
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT

AS

BEGIN TRY
	
	SELECT  @p_qtLinhasAfetadas = 0,
			@p_codigoErro = 0,
			@p_descErro = ''

	IF @p_descAcao = 'I'
		BEGIN
			INSERT INTO TB_GRUPO_IMPOSTOS_REGRA_FISCAL (
				CD_GRUPO_IMPOSTOS,
				CD_REGRA_FISCAL,
				CD_MATERIAL,
				CD_CLASSIFICACAO_FISCAL,
				ID_DESTINO_OPERACAO,
				CD_USUARIO_CADASTRO,
				DT_CADASTRO )
			VALUES (
				@p_codigoGrupoImpostos,
				@p_codigoRegraFiscal,
				@p_codigoMaterial,
				@p_codigoClassFiscal,
				@p_idDestinoOperacao,
				@p_codigoUsuario,
				GETDATE() )
		END	

	IF @p_descAcao = 'E'
		BEGIN
			DELETE FROM TB_GRUPO_IMPOSTOS_REGRA_FISCAL
			WHERE CD_GRUPO_IMPOSTOS = @p_codigoGrupoImpostos
		END	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
