SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_BW]
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CURSOR_PEDIDOS_PAGOS       	CURSOR,
		@CURSOR_TOPOLOGIA          	    CURSOR

DECLARE @V_NM_PEDIDO	   			    NUMERIC(18,0),
		@V_VL_PAGAR_TOTAL               NUMERIC(18,2),
		@V_CD_PESSOA                    NUMERIC(18,0),
		@V_NM_CICLO_PEDIDO              NUMERIC(18,0),
		@V_CD_FUNCAO_PEDIDO             NUMERIC(18,0)   
		

DECLARE @V_DT_CALCULA_REM_ULTIMA        DATE,
        @V_DT_CALCULA_REM_PROXIMA       DATE

DECLARE @V_CD_PESSOA_FILHO              NUMERIC(18,0),
        @V_CD_PAPEL_DESEMPENHO_FILHO 	NUMERIC(18,0),  
        @V_CD_PESSOA_PAI                NUMERIC(18,0),
        @V_CD_PAPEL_DESEMPENHO_PAI   	NUMERIC(18,0),  
        @V_CD_PESSOA_VINCULO            NUMERIC(18,0),
        @V_NM_NIVEL_VINCULO             NUMERIC(18,0)
        
DECLARE	
--@CD_PAPEL_DESEMPENHO			NUMERIC(18,0),
	    @VL_REMUNERACAO					NUMERIC(18,2),
	    @VL_PERCENTUAL					NUMERIC(18,4),
	    @EXISTE_REM						INT,
        @UNIDADE						INT
        
DECLARE @CD_MN_REMUNERACAO				NUMERIC(18,0),
        @VL_REMUNERACAO_TOTAL			NUMERIC(18,2)


BEGIN TRY

    SELECT @QT_LINHAS_AFETADAS = 0,
		   @DC_ERRO = ''
    
    -- BUSCA ULTIMA DATA PROCESSADA
    SELECT @V_DT_CALCULA_REM_ULTIMA = DT_CALCULA_REM
    FROM TB_MN_PARAMETROS
    WHERE CD_MN_PARAMETROS = 2
    
    -- BUSCA PROXIMA DATA A PROCESSAR
    SELECT @V_DT_CALCULA_REM_PROXIMA = GETDATE() -1
    
    /**************************************************************
	  ** ABRE O CURSOR COM OS PEDIDOS PAGOS
	**************************************************************/
	SET @CURSOR_PEDIDOS_PAGOS = CURSOR FAST_FORWARD
	FOR					
		SELECT A.NM_PEDIDO, 
		       A.VL_PAGAR_TOTAL, 
		       A.CD_PESSOA, 
		       A.CD_FUNCAO, 
		       A.NM_CICLO_CAPTACAO
		FROM TB_PEDIDO A, TB_CONCILIACAO B, TB_DIVIDA C
		WHERE B.CD_DIVIDA = C.CD_DIVIDA
		AND C.NM_PEDIDO = A.NM_PEDIDO
		AND C.VL_ORIGINAL_DIVIDA_SALDO = 0
		AND CONVERT(DATE, B.DT_CONCILIACAO) >  @V_DT_CALCULA_REM_ULTIMA
		AND CONVERT(DATE, B.DT_CONCILIACAO) <= @V_DT_CALCULA_REM_PROXIMA
		ORDER BY B.DT_CONCILIACAO
		
	OPEN @CURSOR_PEDIDOS_PAGOS
	FETCH NEXT FROM @CURSOR_PEDIDOS_PAGOS
	INTO @V_NM_PEDIDO, @V_VL_PAGAR_TOTAL, @V_CD_PESSOA, @V_CD_FUNCAO_PEDIDO, @V_NM_CICLO_PEDIDO
	
    WHILE @@FETCH_STATUS = 0
	BEGIN
	    SELECT @V_CD_PESSOA_FILHO  = @V_CD_PESSOA  -- DEFINIR A PESSOA QUE FEZ O PEDIDO
        
	  -- *************************************************
	  -- ABRE O CURSOR DA TOPOLOGIA
	  -- POIS VAMOS USAR ESSE CURSOR PARA CALCULAR A REMUNERAÇÃO
	  -- *************************************************
	  SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
	  FOR
	      SELECT	A.CD_PESSOA_VINCULADA
		  FROM TB_WRK_MN_TOPOLOGIA A
		  WHERE A.CD_PESSOA = @V_CD_PESSOA_FILHO
		  AND   A.CD_FUNCAO = @V_CD_FUNCAO_PEDIDO
		  AND A.NM_CICLO    = @V_NM_CICLO_PEDIDO
		  AND A.ID_ORDEM     = 1
		  ORDER BY A.NM_NIVEL
						
	   OPEN @CURSOR_TOPOLOGIA
	   FETCH NEXT FROM @CURSOR_TOPOLOGIA
	   INTO @V_CD_PESSOA_PAI
		 
	   WHILE @@FETCH_STATUS = 0
	   BEGIN
 	     --BEGIN TRANSACTION 

	     -- BUSCAR O PAPEL DESEMPENHO DA PESSOA FILHO
	   	 SELECT @V_CD_PAPEL_DESEMPENHO_FILHO = CD_PAPEL_DESEMPENHO
		 FROM TB_PESSOA_PAPEL_HISTORICO
		 WHERE CD_PESSOA = @V_CD_PESSOA_FILHO
		 AND   CD_FUNCAO = @V_CD_FUNCAO_PEDIDO
		 AND   NM_CICLO  = @V_NM_CICLO_PEDIDO
	   
	   
	     -- BUSCAR O PAPEL DESEMPENHO DA PESSOA PAI
	     SELECT @V_CD_PAPEL_DESEMPENHO_PAI = CD_PAPEL_DESEMPENHO
		 FROM TB_PESSOA_PAPEL_HISTORICO
		 WHERE CD_PESSOA = @V_CD_PESSOA_PAI
		 AND   CD_FUNCAO = @V_CD_FUNCAO_PEDIDO
		 AND   NM_CICLO  = @V_NM_CICLO_PEDIDO
		 -- VERIFICAR SE O PAPEL DO PAI É MAIOR QUE O PAPEL DO FILHO
         IF @V_CD_PAPEL_DESEMPENHO_PAI > @V_CD_PAPEL_DESEMPENHO_FILHO
         BEGIN
         
           -- BUSCA O PERCENTUAL DE REMUNERACAO DO PAI
           SELECT @UNIDADE = ID_UNIDADE_PREMIACAO_MN,
                  @VL_PERCENTUAL = ISNULL(MIN(VL_VALOR),0)
		   FROM TB_MN_PARAMETROS_REMUNERACAO 
		   WHERE CD_PAPEL_DESEMPENHO       = @V_CD_PAPEL_DESEMPENHO_PAI
		   AND   CD_PAPEL_DESEMPENHO_FILHO = @V_CD_PAPEL_DESEMPENHO_FILHO
		   --AND   NM_NIVEL = @NM_NIVEL
		   AND   ID_TIPO_PREMIACAO_MN      = 2
		   GROUP BY ID_UNIDADE_PREMIACAO_MN
		   					
		   IF isnull(@VL_PERCENTUAL,0) > 0 
		   BEGIN
									
		 	 IF @UNIDADE = 1
			 BEGIN
			   SELECT @VL_REMUNERACAO = @V_VL_PAGAR_TOTAL * (@VL_PERCENTUAL/ 100)	
			 END
			 ELSE
			 BEGIN
			   SELECT @VL_REMUNERACAO = 0
			 END
										
										
			 -- ***********************************************************	
			 -- INSERE REMUNERAÇÃO
			 -- ***********************************************************	
			 SELECT @EXISTE_REM = COUNT(*)
			 FROM TB_MN_REMUNERACAO
			 WHERE CD_PESSOA = @V_CD_PESSOA_PAI
		     AND   CD_FUNCAO = @V_CD_FUNCAO_PEDIDO
		     AND   NM_CICLO  = @V_NM_CICLO_PEDIDO
			 AND ID_SITUACAO_REMUNERACAO = 1
			 
			 IF @EXISTE_REM = 0
			 BEGIN
			   INSERT INTO TB_MN_REMUNERACAO (
													CD_PESSOA,
													CD_FUNCAO,
													NM_CICLO,
													ID_SITUACAO_REMUNERACAO,
													VL_ORIGINAL,
												    VL_AJUSTADO,
													DC_MOTIVO_AJUSTE)
			   VALUES (
													@V_CD_PESSOA_PAI,
													@V_CD_FUNCAO_PEDIDO,
													@V_NM_CICLO_PEDIDO,
													1,
													@VL_REMUNERACAO,
													@VL_REMUNERACAO,
													'')
													
			   SELECT @CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
											
			 END
			 ELSE
			 BEGIN
			   	 UPDATE TB_MN_REMUNERACAO SET
				 VL_ORIGINAL = VL_ORIGINAL + @VL_REMUNERACAO,
				 VL_AJUSTADO = VL_AJUSTADO + @VL_REMUNERACAO
				 WHERE CD_PESSOA = @V_CD_PESSOA_PAI
		         AND   CD_FUNCAO = @V_CD_FUNCAO_PEDIDO
		         AND   NM_CICLO  = @V_NM_CICLO_PEDIDO
			     AND ID_SITUACAO_REMUNERACAO = 1
			     
			     																						
				 SELECT @CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
				 FROM TB_MN_REMUNERACAO
				 WHERE CD_PESSOA = @V_CD_PESSOA_PAI
		         AND   CD_FUNCAO = @V_CD_FUNCAO_PEDIDO
		         AND   NM_CICLO  = @V_NM_CICLO_PEDIDO
			     AND ID_SITUACAO_REMUNERACAO = 1
										
			 END
			 -- ****************************************
			 -- INSERE DETALHE REMUNERACAO
			 -- ****************************************
			 INSERT INTO TB_MN_DETALHE_REMUNERACAO (
											CD_PESSOA,
											CD_FUNCAO, 
											NM_CICLO,
											ID_MOTIVO_REMUNERACAO,
											ID_TIPO_PREMIACAO_MN,
											ID_ORIGEM_PREMIACAO_MN,
											NM_ORIGEM_MN,
											VL_ORIGEM_MN,
											VL_PERCENTUAL_REM,
											VL_REMUNERACAO,
											CD_MN_REMUNERACAO)
										VALUES (
											@V_CD_PESSOA_PAI,
											@V_CD_FUNCAO_PEDIDO,
											@V_NM_CICLO_PEDIDO,
											1, -- RECEITA
											2, -- PERCENTUAL SOBRE AS VENDAS
											1, -- ORIGEM PEDIDO,
											@V_NM_PEDIDO,
											@V_VL_PAGAR_TOTAL,
											@VL_PERCENTUAL,
											@VL_REMUNERACAO,
											@CD_MN_REMUNERACAO)
										
			 -- *************************************************
			 -- RECALCULA O HEADER DA REMUENRAÇÃO
			 -- *************************************************
			 select @VL_REMUNERACAO_TOTAL = SUM(VL_REMUNERACAO)
			 from TB_MN_DETALHE_REMUNERACAO A
			 WHERE A.CD_PESSOA = @V_CD_PESSOA_PAI
			 AND A.CD_FUNCAO = @V_CD_FUNCAO_PEDIDO
			 AND A.NM_CICLO = @V_NM_CICLO_PEDIDO
				
			 UPDATE TB_MN_REMUNERACAO
			 SET VL_ORIGINAL = @VL_REMUNERACAO_TOTAL,
			 VL_AJUSTADO = @VL_REMUNERACAO_TOTAL
			 WHERE CD_PESSOA = @V_CD_PESSOA_PAI
			 AND CD_FUNCAO = @V_CD_FUNCAO_PEDIDO
			 AND NM_CICLO = @V_NM_CICLO_PEDIDO
									
		   END
				
		   --COMMIT TRANSACTION
           
           -- PAI PASSA A SER FILHO
		   SELECT @V_CD_PESSOA_FILHO  = @V_CD_PESSOA_PAI 				
		 END				
 		 FETCH NEXT FROM @CURSOR_TOPOLOGIA
		 INTO @V_CD_PESSOA_PAI
													
	   END
	
	   CLOSE @CURSOR_TOPOLOGIA
	     
	   FETCH NEXT FROM @CURSOR_PEDIDOS_PAGOS
	   INTO @V_NM_PEDIDO, @V_VL_PAGAR_TOTAL, @V_CD_PESSOA, @V_CD_FUNCAO_PEDIDO, @V_NM_CICLO_PEDIDO
										
	END
	CLOSE @CURSOR_PEDIDOS_PAGOS
		
	-- ATUALIZA A ULTIMA DATA PROCESSADA
    UPDATE TB_MN_PARAMETROS
    SET DT_CALCULA_REM = @V_DT_CALCULA_REM_PROXIMA
    WHERE CD_MN_PARAMETROS = 2
         
		
END TRY	
BEGIN CATCH
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   
END CATCH;

GO
