SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*

ESSA PROCEDURE FAZ ALGUMAS VALDIAÇÕES NO PRODUTO E RETORNA AS SEGUINTES INFORMAÇÕES:

- NOME DO PRODUTO
- MATERIAL ASSOCIADO
- PREÇO
- PONTOS
- AGRUPAMENTO DO PRODUTO

*/

CREATE PROCEDURE [dbo].[SP_BUSCA_INF_PRODUTO_VENDA_OLD]
	@CD_PRODUTO		numeric(18,0),
	@NM_CICLO		NUMERIC(18,0),
	@DT_DATA		VARCHAR(10),
	
	@DC_PRODUTO		VARCHAR(100)  OUTPUT,
	@CD_MATERIAL	NUMERIC(18,0) OUTPUT,
	@VL_PRECO		NUMERIC(18,2) OUTPUT,
	@VL_CREDITO 	NUMERIC(18,2) OUTPUT,
	@ID_AGRUPAMENTO	NUMERIC(18,0) OUTPUT,
	@CD_ERRO		INT OUTPUT,
	@DC_ERRO		NVARCHAR(MAX) OUTPUT
	
AS

DECLARE @V_CONTADOR INT
		
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @CD_ERRO = 0
	    
	    -- **************************************************************
	    -- VALIDA SE EXISTE O PRODUTO DE VENDA CADASTRADO NA BASE
	    -- SE O PRODUTO EXISTE VAMOS POPULAR O NOME DELE
	    -- **************************************************************
	    SELECT @V_CONTADOR = COUNT(*) 
	    FROM TB_PRODUTO_VENDA
	    WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
	    
	    IF @V_CONTADOR = 0
			-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Código de Produto não encontrado na base de dados'
				RETURN
			END
		ELSE
			-- PRODUTO EXISTE SENDO ASSIM VAMOS PEGAR O CODIGO DO PRODUTO
			-- VAMOS POPULAR O AGRUPAMENTO DO PRODUTO
			BEGIN
				SELECT @DC_PRODUTO = dbo.FN_BUSCA_NOME_PRODUTO(@CD_PRODUTO)
				SELECT @ID_AGRUPAMENTO = ID_AGRUPAMENTO FROM TB_PRODUTO_VENDA WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
			END
		
		-- **************************************************************
		-- VALIDA O CICLO DE LANÇAMENTO DO PRODUTO DE VENDA
		-- **************************************************************
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PRODUTO_VENDA
		WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
		AND NM_CICLO_LANCAMENTO <= @NM_CICLO
		
		IF @V_CONTADOR = 0
			-- PRODUTO AINDA NÃO FOI LANÇADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Produto de venda ainda não foi lançado'
				RETURN
			END
		
		
		-- **************************************************************
		-- VALIDA O CICLO DE DESCONTINUAÇÃO DO PRODUTO DE VENDA
		-- **************************************************************
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PRODUTO_VENDA
		WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
		AND NM_CICLO_DESCONTINUACAO IS NULL
		
		IF @V_CONTADOR = 0 -- TEM CICLO DE DESCONTINUACAO
			BEGIN
			
				SELECT @V_CONTADOR = COUNT(*)
				FROM TB_PRODUTO_VENDA
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
				AND NM_CICLO_DESCONTINUACAO >= @NM_CICLO
		
				IF @V_CONTADOR = 0
					-- PRODUTO AINDA NÃO FOI LANÇADO
					BEGIN
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'Produto de venda está descontinuado'
						RETURN
					END
			
			END
			
			
		
		-- **************************************************************
	    -- VALIDA SE EXISTE MATERIAL ASSOCIADO AO PRODUTO DE VENDA
	    -- **************************************************************
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PRODUTO_VENDA
		WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
		AND CD_MATERIAL IS NOT NULL
	    
	    IF @V_CONTADOR = 0
			-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Código de Produto não possui nenhum material associado'
				RETURN
			END
		ELSE
			BEGIN
				SELECT @CD_MATERIAL = CD_MATERIAL
				FROM TB_PRODUTO_VENDA
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
			END		

		-- **************************************************************
	    -- VERIFICA SE EXISTE PREÇO E PONTO CADASTRADO
	    -- **************************************************************
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PRODUTO_VENDA_PRECO
		WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
		AND @NM_CICLO BETWEEN ISNULL(NM_CICLO_INICIAL, @NM_CICLO) AND ISNULL(NM_CICLO_FINAL, @NM_CICLO)
		-- AND @NM_CICLO BETWEEN NM_CICLO_INICIAL AND NM_CICLO_FINAL
		
		IF @V_CONTADOR = 0
			-- PREÇO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Preço e Crédito do produto de venda não encontrado'
				RETURN
			END
		ELSE
			BEGIN
				SELECT	@VL_PRECO = MIN(VL_PRECO),
						@VL_CREDITO = MIN(VL_CREDITO)
				FROM TB_PRODUTO_VENDA_PRECO
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO
				AND @NM_CICLO BETWEEN ISNULL(NM_CICLO_INICIAL, @NM_CICLO) AND ISNULL(NM_CICLO_FINAL, @NM_CICLO)
				-- AND @NM_CICLO BETWEEN NM_CICLO_INICIAL AND NM_CICLO_FINAL
			END		
		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;



GO
