SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_AKMOS]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS


/*

ID_EVENTO = 1 - APROVAÇÃO DE PEDIDO
ID_EVENTO = 2 - CANCELAMENTO DE PEDIDO APROVADO
ID_EVENTO = 3 - ALOCACAO DE REDE
ID_EVENTO = 4 - PAGAMENTO DE PEDIDO
ID_EVENTO = 5 - CANCELAMENTO DE PAGAMENTO DE PEDIDO
ID_EVENTO = 6 - MMN / FIM DIA (AKMOS A CADA 10 MINUTOS)
ID_EVENTO = 7 - MMN / ALTERAR PAPEL MANUALMENTE (SOMENTE NO FECHAMENTO DE CICLO)
ID_EVENTO = 8 - REAVALIAR CREDITO
ID_EVENTO = 9 - TEMPO REAL  (AKMOS A CADA 10 MINUTOS)

*/


DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0)

DECLARE @VL_INDICADOR_PESSOAL_1001   NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1002   NUMERIC(18,2),
        @VL_INDICADOR_PESSOAL_1003   NUMERIC(18,2),
        @VL_INDICADOR_PESSOAL_1029   NUMERIC(18,2),
        @VL_INDICADOR_PESSOAL_1028   NUMERIC(18,2)


DECLARE @CONTADOR_VIP               NUMERIC(18,0),
        @TIPO_VIP                   INT,  -- 1 SOMENTE 1o PEDIDO \ 2 ATÉ UMA DETERMINADA DATA
	    @VL_PONTOS_ATUAL            NUMERIC (18,0)
DECLARE @VL_PONTOS_EXPIRA_ATIVACAO      NUMERIC(18,2),
	@VL_DIAS_EXPIRA_ATIVACAO        NUMERIC(18,2),
        @VL_PONTOS_EXPIRA_LUCRATIVIDADE NUMERIC(18,2),
	@VL_DIAS_EXPIRA_LUCRATIVIDADE    NUMERIC(18,2),
	@VL_CONT_ATIVA                   NUMERIC(18,0)   




BEGIN TRY


  
    SELECT @QT_LINHAS_AFETADAS = 0

    IF (@ID_EVENTO = 9) -- TEMPO REAL  (AKMOS A CADA 10 MINUTOS)
    BEGIN
      --******************************************************************************
      -- EMPREENDEDOR ATIVO NO PLANO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	    -- INCLUIR TEMPORARIO
--		SELECT @VL_CONT_ATIVA = COUNT(*) 
--		FROM pessoas_ativas1702 WHERE ID_CADASTRO = @CD_PESSOA

--		IF (@VL_CONT_ATIVA >= 1)
--		BEGIN
--		  SELECT @VL_INDICADOR_PESSOAL_1001 = 1
 --       END
--		ELSE
--		BEGIN
		  SELECT @VL_INDICADOR_PESSOAL_1001 = CASE WHEN (ISNULL(MAX(DT_EXPIRACAO),GETDATE()) > GETDATE()) THEN 1 ELSE 2  END
	      FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO with(nolock)
	      WHERE CD_PESSOA        = @CD_PESSOA
	      AND   CD_FUNCAO        = @CD_FUNCAO
  --      END

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_INDICADOR_PESSOAL_1001,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_INDICADOR_PESSOAL_1001,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- LUCRATIVIDADE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1028,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	/* FUTURAMENTE SERA DESTA MANEIRA, AGORA CHAMA A FUNCAO
	SELECT @VL_CONTADOR = ISNULL(MAX(A.ID_MOVIMENTO_LUCRATIVIDADE),1)
	FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE
	     (SELECT MAX(CD_PESSOA_PONTO_HISTORICO) AS PONTO_HISTORICO
	      FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE
	      WHERE CD_PESSOA        = @CD_PESSOA
	      AND   CD_FUNCAO        = @CD_FUNCAO) B
	WHERE A.CD_PESSOA_PONTO_HISTORICO = B.PONTO_HISTORICO */


        -- SAI NO FUTURO
        -- VERIFICA SE A PESSOA E VIP
        SELECT @TIPO_VIP               = CASE WHEN (MAX(DT_EXPIRACAO) IS NULL ) THEN 1 ELSE 2 END,
               @CONTADOR_VIP           = ISNULL(COUNT(*),0)
        FROM TB_WRK_PESSOA_LUCRATIVIDADE_VIP_AKMOS with(nolock)
        WHERE CD_PESSOA = @CD_PESSOA
        AND   ID_ATIVO  = 1

        -- ESTA NA TABELA DE VIP, DATA EXPIRACAO (30/06/202020), INATIV0 NO PLANO OU DATA EXPIRACAO DA VIP É MENOR QUE A DATA ATUAL
        IF (@CONTADOR_VIP = 1 AND @TIPO_VIP = 2 AND @VL_INDICADOR_PESSOAL_1001 = 2 ) 
        BEGIN
          UPDATE TB_WRK_PESSOA_LUCRATIVIDADE_VIP_AKMOS
          SET ID_ATIVO       = 2,
	      DT_ATUALIZACAO = GETDATE()
          WHERE CD_PESSOA = @CD_PESSOA
          AND   ID_ATIVO  = 1

	  -- SE A VIP2 FICAR INATIVA PRECISA REFAZER A LUCRATIVIDADE
          -- BUSCA OS PONTOS ATUAIS DE 28 DIAS, MAIOR DATA DE EXPIRACAO E LUCRATIVIDADE
          SELECT   @VL_PONTOS_ATUAL            =  (ISNULL(SUM(VL_MOVIMENTO),0))
          FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE with(nolock)
          WHERE CD_PESSOA = @CD_PESSOA
          AND   CD_FUNCAO = @CD_FUNCAO  
	  AND   DT_MOVIMENTO >= DATEADD (day,-28,GETDATE()) 
	   
          INSERT INTO TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE   (
                   CD_PESSOA,  CD_FUNCAO, NM_PEDIDO,       VL_MOVIMENTO, DT_MOVIMENTO,DT_EXPIRACAO,              ID_MOVIMENTO_LUCRATIVIDADE,DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
          VALUES (@CD_PESSOA, @CD_FUNCAO, 0,       (@VL_PONTOS_ATUAL*-1),GETDATE(),   DATEADD (day,28,GETDATE()),CASE WHEN (@VL_PONTOS_ATUAL  >= 150) THEN 5
 														      WHEN (@VL_PONTOS_ATUAL  >= 100) THEN 4
														      ELSE 3 END,GETDATE(),0,GETDATE(),0)

        END

	SELECT @VL_INDICADOR_PESSOAL_1028 = [dbo].[FN_MN_CALCULA_INDICADOR_LUCRATIVIDADE_AKMOS] (@CD_PESSOA,@NM_CICLO,@CD_FUNCAO )
        -- FIM SAI NO FUTURO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1028
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1028,
						@VL_INDICADOR_PESSOAL_1028,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1028,
						@VL_INDICADOR_PESSOAL_1028,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      --  MAIOR LUCRATIVIDADE DO EMPREENDEDOR 
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1029,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = ISNULL(MAX(ID_MOVIMENTO_LUCRATIVIDADE),1)
        FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO

        -- BUSCA O VALOR DO INDICADOR 1029
	SELECT @VL_INDICADOR_PESSOAL_1029 = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1029
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@VL_INDICADOR_PESSOAL_1029 > @VL_CONTADOR)
	BEGIN
	  SELECT @VL_CONTADOR = @VL_INDICADOR_PESSOAL_1029
	END

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1029
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1029,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1029,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      --  DESCONTO ATUAL
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1030,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1028 = 1) THEN 0
				   WHEN (@VL_INDICADOR_PESSOAL_1028 = 2) THEN 20
				   WHEN (@VL_INDICADOR_PESSOAL_1028 = 3) THEN 30
				   WHEN (@VL_INDICADOR_PESSOAL_1028 = 4) THEN 40
				   WHEN (@VL_INDICADOR_PESSOAL_1028 = 5) THEN 50
			      ELSE 0 END

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1030
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      --  DIRETOS INATIVOS
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1031,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A with(nolock),
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             = 1
            ) C               
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1001
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.VL_INDICADOR_PESSOAL  <> 1
  
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1031
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      --  PONTOS PARA ATIVAÇÃO -- "BUSCA TAMBÉM DIAS PARA EXPIRAR ATIVAÇÃO"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1032,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT   @VL_PONTOS_EXPIRA_ATIVACAO = ISNULL(SUM(VL_MOVIMENTO),0),
                 @VL_DIAS_EXPIRA_ATIVACAO   = CASE WHEN (ISNULL( DATEDIFF(DAY, GETDATE(), ISNULL(MAX(DT_EXPIRACAO),GETDATE())), 0) < 0) THEN 0 ELSE ISNULL( DATEDIFF(DAY, GETDATE(), ISNULL(MAX(DT_EXPIRACAO),GETDATE())), 0) END
        FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO with(nolock)
        WHERE CD_PESSOA = @CD_PESSOA
        AND   CD_FUNCAO = @CD_FUNCAO   

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1032
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_PONTOS_EXPIRA_ATIVACAO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_PONTOS_EXPIRA_ATIVACAO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      --  PONTOS PARA LUCRATIVIDADE - BUSCA TAMBÉM "DIAS PARA EXPIRAR LUCRATIVIDADE"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1033,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT   @VL_PONTOS_EXPIRA_LUCRATIVIDADE = ISNULL(SUM(VL_MOVIMENTO),0),
                 @VL_DIAS_EXPIRA_LUCRATIVIDADE   = CASE WHEN (ISNULL( DATEDIFF(DAY, GETDATE(), ISNULL(MAX(DT_EXPIRACAO),GETDATE())), 0) < 0) THEN 0 ELSE ISNULL( DATEDIFF(DAY, GETDATE(), ISNULL(MAX(DT_EXPIRACAO),GETDATE())), 0) END
        FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE with(nolock)
        WHERE CD_PESSOA = @CD_PESSOA
        AND   CD_FUNCAO = @CD_FUNCAO   

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1033
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_PONTOS_EXPIRA_LUCRATIVIDADE,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_PONTOS_EXPIRA_LUCRATIVIDADE,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      --  DIAS PARA EXPIRAR ATIVAÇÃO
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1034,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1034
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_DIAS_EXPIRA_ATIVACAO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_DIAS_EXPIRA_ATIVACAO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      --  DIAS PARA EXPIRAR LUCRATIVIDADE
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1035,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1035
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_DIAS_EXPIRA_LUCRATIVIDADE,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_DIAS_EXPIRA_LUCRATIVIDADE,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



    END

    IF (@ID_EVENTO = 7) -- MMN / ALTERAR PAPEL MANUALMENTE (SOMENTE NO FECHAMENTO DE CICLO)
    BEGIN
	
          --******************************************************************************
      -- ACABOU A GARANTIA POR EVOLUÇÃO NO STATUS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1021,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = case when (COUNT(*) = 0) then 1 else 2 end
	FROM TB_MN_PESSOA_CARENCIA with(nolock)
	WHERE CD_PESSOA =    @CD_PESSOA
	AND CONVERT(DATE,GETDATE(),103) > CONVERT(DATE,DT_CARENCIA_EXPIRACAO,103)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1021
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


    END



    IF (@ID_EVENTO = 6) -- MMN / FIM DIA (AKMOS A CADA 10 MINUTOS) - PONTOS PARA STATUS \ QUALIFICAÇÃO
    BEGIN

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_RESUMO A with(nolock)
      WHERE A.CD_PESSOA         = @CD_PESSOA
      AND   A.CD_FUNCAO         = @CD_FUNCAO


      --******************************************************************************
      -- PONTOS PESSOAIS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_INDICADOR_PESSOAL_1002 = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK)
        WHERE A.CD_PESSOA               = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) >= CONVERT(DATE,DATEADD (day,-27,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) <= CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_INDICADOR_PESSOAL_1002,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_INDICADOR_PESSOAL_1002,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- PONTOS REDE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_INDICADOR_PESSOAL_1003 = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK),
            (SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1) C -- REDE UNILEVEL
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) >= CONVERT(DATE,DATEADD (day,-27,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) <= CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_INDICADOR_PESSOAL_1003,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_INDICADOR_PESSOAL_1003,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- PRODUÇÃO REDE CICLO ATUAL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = (@VL_INDICADOR_PESSOAL_1002 + @VL_INDICADOR_PESSOAL_1003)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS DO VGQ MASTER
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 3, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS DO VGQ SÊNIOR
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 4, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1006
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END




      --******************************************************************************
      -- PONTOS DO VGQ SUPERVISOR
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 5, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS DO VGQ EXECUTIVO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 6, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1008
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS DO VGQ DIRETOR
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 7, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1009
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- PONTOS DO VGQ PRESIDENTE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 8, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- PONTOS DO VGQ SAFIRA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 9, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1011
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS DO VGQ JADE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 10, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1012
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- PONTOS DO VGQ RUBI
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 11, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1013
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- PONTOS DO VGQ ESMERALDA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 12, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1014
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS DO VGQ DIAMOND
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 13, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1015
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      -- PONTOS DO VGQ BLUE DIAMOND
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 14, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1016
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS DO VGQ BLACK DIAMOND
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1017,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 15, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1017
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PONTOS DO VGQ ROYAL BLACK DIAMOND
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1018,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 16, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1018
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END




      --******************************************************************************
      -- PONTOS DO VGQ DOBLE ROYAL BLACK DIAMOND
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1019,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 17, @VL_INDICADOR_PESSOAL_1002)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1019
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- STATUS ATUAL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1020,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = @CD_PAPEL_CARREIRA   


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1020
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


        --******************************************************************************
      -- Total de pontos dos pedidos com mais de 100 pontos
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1022,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = ISNULL(SUM(V.PONTOS),0)
        FROM (SELECT isnull(SUM(B.VL_PONTOS),0) AS PONTOS
              FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK)
              WHERE A.CD_PESSOA                = @CD_PESSOA
              AND   A.CD_FUNCAO                = @CD_FUNCAO
--            AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
              AND   A.NM_CICLO_PAGAMENTO      <= @NM_CICLO
              AND   A.NM_CICLO_CANCELAMENTO    IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
              AND   A.NM_PEDIDO                = B.NM_PEDIDO
	      AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
              AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
              GROUP BY A.NM_PEDIDO) V
              WHERE V.PONTOS >= 100


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1022
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      --  EMPREENDEDORES DIRETOS
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1023,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
        WHERE B1.CD_PESSOA             = @CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B1.NM_NIVEL              = 1
  
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1023
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      --  EMPREENDEDORES DIRETOS ATIVOS
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1024,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A with(nolock),
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             = 1
            ) C               
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1001
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.VL_INDICADOR_PESSOAL  > 0
  
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1024
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      --  COMPRADORES DIRETOS
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1025,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(COUNT(A.CD_PESSOA),0)
        FROM TB_PESSOA_INDICADOR A with(nolock),
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL              = 1
               ) C               
        WHERE A.CD_PESSOA             = C.PESSOA
        AND   A.CD_FUNCAO             = @CD_FUNCAO
        AND   A.CD_INDICADOR_PESSOAL  = 1002
        AND   A.NM_CICLO              = @NM_CICLO
        AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   A.VL_INDICADOR_PESSOAL  > 0
  
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1025
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



      --******************************************************************************
      --  NOVOS CADASTROS DIRETOS
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1026,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

         SELECT @VL_CONTADOR =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock), TB_PESSOA_RESUMO A1 with(nolock), TB_CALENDARIO_COMERCIAL C1 with(nolock)
        WHERE B1.CD_PESSOA_VINCULADA   = A1.CD_PESSOA
        AND   B1.CD_FUNCAO             = A1.CD_FUNCAO
	AND   A1.CD_EST_COMERCIAL      = C1.CD_EST_COMERCIAL
        AND   CONVERT(DATE,A1.DT_CADASTRO_PESSOA)  BETWEEN CONVERT(DATE,C1.DT_INICIAL) AND CONVERT(DATE,C1.DT_FINAL)
        AND   A1.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
        AND   B1.NM_CICLO              = C1.NM_CICLO
        AND   B1.CD_PESSOA             = @CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B1.NM_NIVEL              = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1026
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      --  PONTOS VGQ (QUALIFICAÇÃO ATUAL) - CME
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1027,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = dbo.FN_MN_CALCULA_VGQ_AKMOS  (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, @CD_PAPEL_DESEMPENHO, @VL_INDICADOR_PESSOAL_1002)
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1027
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

     --******************************************************************************
      -- PRODUÇÃO REDE 1a SEMANA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1036,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK),
            (SELECT @CD_PESSOA AS PESSOA  UNION
             SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1) C -- REDE UNILEVEL
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) >= CONVERT(DATE,DATEADD (day,-27,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) <= CONVERT(DATE,DATEADD (day,-21,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1036
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


     --******************************************************************************
      -- PRODUÇÃO REDE 2a SEMANA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1037,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK),
            (SELECT @CD_PESSOA AS PESSOA  UNION
             SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1) C -- REDE UNILEVEL
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) >= CONVERT(DATE,DATEADD (day,-20,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) <= CONVERT(DATE,DATEADD (day,-14,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1037
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1037,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1037,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

     --******************************************************************************
      -- PRODUÇÃO REDE 3a SEMANA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1038,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK),
            (SELECT @CD_PESSOA AS PESSOA  UNION
             SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1) C -- REDE UNILEVEL
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) >= CONVERT(DATE,DATEADD (day,-13,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) <= CONVERT(DATE,DATEADD (day,-7,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1038
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1038,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1038,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


     --******************************************************************************
      -- PRODUÇÃO REDE 4a SEMANA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1039,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = isnull(SUM(B.VL_PONTOS),0)
        FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK),
            (SELECT @CD_PESSOA AS PESSOA  UNION
             SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1 with(nolock)
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1) C -- REDE UNILEVEL
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) >= CONVERT(DATE,DATEADD (day,-6,CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)),103)
        AND   CONVERT(DATE,A.DT_PAGAMENTO_PEDIDO,103) <= CONVERT(DATE,DATEADD (day,(7 -Datepart(dw,getdate())),GETDATE()),103)
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1039
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1039,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1039,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

    END -- fim EVENTO = 6

    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
