SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PedidoSalvaPedido]
	@p_numeroPedido					numeric(18, 0),
		
	@p_codigoUsuario				numeric(18,0),
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	

AS

DECLARE @V_CONTADOR_REGISTROS INTEGER,
		@v_idSituacaoPedido	  numeric(18,0)

BEGIN TRY
	
	    SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	
		BEGIN TRANSACTION 

		SELECT @v_idSituacaoPedido = isnull(CD_EST_SITUACAO,0)
	      FROM TB_PEDIDO
	     WHERE NM_PEDIDO = @p_numeroPedido
	     
	    IF @v_idSituacaoPedido IN (2,3,4,5,6,7,8,9,10)
			BEGIN
				SELECT @p_codigoErro = 99
				SELECT @p_descricaoErro = 'Este pedido já foi finalizado, não pode ser salvo'
				RETURN
			END
		
		--atualiza situação para salvo
		UPDATE TB_PEDIDO
		SET CD_EST_SITUACAO = 100
		WHERE NM_PEDIDO = @p_numeroPedido
		
		COMMIT TRANSACTION
		
		-- VERIFICA SE A SITUACAO 1 - E CAPTACAO AINDA ESTA ABERTO
		SELECT @V_CONTADOR_REGISTROS = COUNT(*)
		FROM TB_PEDIDO_HISTORICO
		WHERE CD_EST_SITUACAO = 1
		AND NM_PEDIDO = @p_numeroPedido
		AND DT_FINAL IS NULL
	
		IF @V_CONTADOR_REGISTROS > 0 
			BEGIN
				-- GRAVA HISTORICO
				-- FECHA A SITUAÇÃO EM CAPTAÇÃO
				exec SP_GRAVA_HISTORICO_PEDIDO
					@p_numeroPedido,
					1, --situação
					2, -- inicio ou fim
					0, -- liberado pendencia
					'', -- motivo
					@p_codigoUsuario,
					0,
					'',
					0
			END
	
	
		-- VERIFICA SE A SITUACAO 99 - EM EDIÇÃO AINDA ESTA ABERTO
		SELECT @V_CONTADOR_REGISTROS = COUNT(*)
		FROM TB_PEDIDO_HISTORICO
		WHERE CD_EST_SITUACAO = 99
		AND NM_PEDIDO = @p_numeroPedido
		AND DT_FINAL IS NULL
	
		IF @V_CONTADOR_REGISTROS > 0 
			BEGIN
				-- GRAVA HISTORICO
				-- FECHA A SITUAÇÃO EM CAPTAÇÃO
				exec SP_GRAVA_HISTORICO_PEDIDO
					@p_numeroPedido,
					99, --situação
					2, -- inicio ou fim
					0, -- liberado pendencia
					'', -- motivo
					@p_codigoUsuario,
					0,
					'',
					0
			END
		
		--abre situação salvo no histórico
        EXEC SP_GRAVA_HISTORICO_PEDIDO
			 @p_numeroPedido,
			 100,
			 1,
			 1,
			 '',
			 @p_codigoUsuario,
			 @p_codigoErro output,
			 @p_descricaoErro output,
			 @p_linhasAfetadas output
			 
		-- fecha a situação em seguida
		-- não iremos fechar a situação de salvo
		-- é bom deixar aberto para futuras estatisticas
		-- EXEC SP_GRAVA_HISTORICO_PEDIDO
		--	 @p_numeroPedido,
		--	 100,
		--	 2,
		--	 1,
		--	 '',
		--	 @p_codigoUsuario,
		--	 @p_codigoErro output,
		--	 @p_descricaoErro output,
		--	 @p_linhasAfetadas output
		
		SELECT @p_linhasAfetadas = @@ROWCOUNT
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
