SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[pr_CargaCEPEndereco]
  	
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS


DECLARE @Cursor_Itens			CURSOR

DECLARE @v_id_cidade				INT
DECLARE @v_id_bairro				INT
DECLARE @v_logradouro				VARCHAR(300)

DECLARE @v_CD_NIVEL_GEO2			NUMERIC(18,0)
DECLARE @v_CD_NIVEL_GEO3			NUMERIC(18,0)
DECLARE @v_CD_NIVEL_GEO4			NUMERIC(18,0)

DECLARE @v_DC_NIVEL_GEO2			VARCHAR(300)
DECLARE @v_DC_NIVEL_GEO3			VARCHAR(300)
DECLARE @v_DC_NIVEL_GEO4			VARCHAR(300)

DECLARE @v_DC_CEP					VARCHAR(8)

DECLARE @V_CD_EST_GEOGRAFICA		NUMERIC(18,0)
DECLARE @V_CD_EST_GEOGRAFICA_NEW	NUMERIC(18,0)

DECLARE @V_CONTADOR_EST_GEOGRAFICA	INT



	
BEGIN TRY

	SELECT @qtLinhasAfetadas = 0
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR

		SELECT	id_cidade,
				id_bairro,
				REPLACE(logradouro_completo, '''', ' ') logradouro,
				CD_NIVEL_GEO2,
				CD_NIVEL_GEO3,
				CD_NIVEL_GEO4,
				DC_NIVEL_GEO2,
				DC_NIVEL_GEO3,
				DC_NIVEL_GEO4,
				DC_CEP
		FROM QUALOCEP_ENDERECO
		WHERE ID_EXISTE IS NULL
		--AND ID_BAIRRO <> 0
		AND ID_BAIRRO = 0 
			
													
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@v_id_cidade,
				@v_id_bairro,
				@v_logradouro,
				@v_CD_NIVEL_GEO2,
				@v_CD_NIVEL_GEO3,
				@v_CD_NIVEL_GEO4,
				@v_DC_NIVEL_GEO2,
				@v_DC_NIVEL_GEO3,
				@v_DC_NIVEL_GEO4,
				@v_DC_CEP
				
			WHILE @@FETCH_STATUS = 0
				BEGIN

					SELECT @V_CD_EST_GEOGRAFICA = 0
					SELECT @V_CONTADOR_EST_GEOGRAFICA = 0
									
					-- *****************************************************************************
					-- PROCURA NA TABELA TB_EST_GEOGRAFICA PELO NOME DO BAIRRO
					-- E PELO ESTADO (CD_NIVEL_GEO2)
					-- E PELA CIDADE (CD_NIVEL_GEO3)
					-- E PELA BAIRRO (CD_NIVEL_GEO4)
					-- *****************************************************************************
					--SELECT @V_CONTADOR_EST_GEOGRAFICA = COUNT(*)
					--FROM TB_EST_GEOGRAFICA
					--WHERE UPPER(LTRIM(RTRIM(DC_EST_GEOGRAFICA))) = UPPER(LTRIM(RTRIM(@v_logradouro)))
					--AND CD_NIVEL_EST_GEOGRAFICA = 5
					--AND CD_NIVEL_GEO2 = @v_CD_NIVEL_GEO2
					--AND CD_NIVEL_GEO3 = @v_CD_NIVEL_GEO3
					--AND CD_NIVEL_GEO4 = @v_CD_NIVEL_GEO4

					--IF @V_CONTADOR_EST_GEOGRAFICA > 0
						/*
						BEGIN

							-- COMO ENCONTROU PEGA O CODIGO
							SELECT @V_CD_EST_GEOGRAFICA = CD_EST_GEOGRAFICA
							FROM TB_EST_GEOGRAFICA
							WHERE UPPER(LTRIM(RTRIM(DC_EST_GEOGRAFICA))) = UPPER(LTRIM(RTRIM(@v_logradouro)))
							AND CD_NIVEL_EST_GEOGRAFICA = 5
							AND CD_NIVEL_GEO2 = @v_CD_NIVEL_GEO2
							AND CD_NIVEL_GEO3 = @v_CD_NIVEL_GEO3

							-- vamos atulizar a tabela qualocep_bairro
							--UPDATE QUALOCEP_ENDERECO
							--	SET CD_NIVEL_GEO5 = @V_CD_EST_GEOGRAFICA,
							--		DC_NIVEL_GEO5 = @v_logradouro, 
							--		ID_EXISTE = 1
							--	WHERE id_bairro = @v_id_bairro

						END

					ELSE
						-- SENÃO EXISTE VAMOS CRIAR
						BEGIN

						*/
							SELECT @V_CD_EST_GEOGRAFICA_NEW = MAX(CD_EST_GEOGRAFICA) + 1 FROM TB_EST_GEOGRAFICA

							INSERT INTO TB_EST_GEOGRAFICA (
										CD_EST_GEOGRAFICA,
										DC_EST_GEOGRAFICA,
										ID_ATIVO,
										CD_NIVEL_EST_GEOGRAFICA,
										CD_NIVEL_GEO1,
										CD_NIVEL_GEO2,
										CD_NIVEL_GEO3,
										CD_NIVEL_GEO4,
										CD_NIVEL_GEO5,
										CD_CODIGO_POSTAL,
										DT_CADASTRO,
										CD_USUARIO_CADASTRO,
										DT_ATUALIZACAO,
										CD_USUARIO_ATUALIZACAO)
							VALUES (
										@V_CD_EST_GEOGRAFICA_NEW,
										@v_logradouro,
										1,
										5,
										1, 
										@v_CD_NIVEL_GEO2,
										@v_CD_NIVEL_GEO3,
										@v_CD_NIVEL_GEO4,
										@V_CD_EST_GEOGRAFICA_NEW,
										@v_DC_CEP,
										GETDATE(),
										0, 
										GETDATE(),
										0)

							-- vamos atulizar a tabela qualocep_cidade
							--UPDATE QUALOCEP_ENDERECO
							--SET CD_NIVEL_GEO5 = @V_CD_EST_GEOGRAFICA_NEW,
							--	DC_NIVEL_GEO5 = @v_logradouro, 
							--	ID_EXISTE = 2
							--WHERE id_bairro = @v_id_bairro
							--	and id_cidade = @v_id_cidade
							--	and DC_CEP = @v_DC_CEP


						--END
											
						

					FETCH NEXT FROM @Cursor_Itens
					INTO	@v_id_cidade,
							@v_id_bairro,
							@v_logradouro,
							@v_CD_NIVEL_GEO2,
							@v_CD_NIVEL_GEO3,
							@v_CD_NIVEL_GEO4,
							@v_DC_NIVEL_GEO2,
							@v_DC_NIVEL_GEO3,
							@v_DC_NIVEL_GEO4,
							@v_DC_CEP
													
				END

		
	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	SELECT @cdErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @cdErro = 1
      SELECT @dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
