SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_ASOS]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO
ID_Evento = 7 - FIM DIA = BONIFICAÇÃO
*************************************************************************/

DECLARE	@VL_TABELA_TOTAL		NUMERIC(18,2),
        @EXISTE_REGISTRO                NUMERIC(18,0),
        @VL_PONTOS_TOTAL                NUMERIC(18,2),
        @QD_KIT                         INT,
        @CALCULA_INDICADOR		INT,
        @QT_LIDERES                     INT,
        @QT_CICLOS_4000_PONTOS          INT,
        @QT_CICLOS_SEM_ATINGIR_MINIMO   INT,
        @CD_PAPEL_CARREIRA              NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO            NUMERIC(18,0),
        @CICLO_ANO                      NUMERIC(2,0),
        @CICLO_INICIO                   NUMERIC(6,0),
        @QT_CICLOS_SUPER_BONUS          NUMERIC(6,0),
        @VL_POSICAO_SUPER_BONUS         NUMERIC(18,0),
        @VL_PONTOS_SUPER_BONUS          NUMERIC(18,2),
        @QT_CICLO_INICIO                NUMERIC(2,0),
	@QT_PESSOAS                     NUMERIC(18,0)

BEGIN TRY

    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN

      --******************************************************************************
      -- GRAVA INDICADOR DE ATIVO(A) PLANO DE NEGOCIO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_TABELA_TOTAL = DBO.FN_BUSCA_SITUACAO_ATIVA_MMN  (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO)
        IF @VL_TABELA_TOTAL >= 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1001
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE Total de pontos pessoal - produto regular
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        --SELECT @VL_PONTOS_TOTAL  = isnull(SUM(B.VL_PONTOS * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0) / A.VL_LIQUIDO_TOTAL)  +
  	--			                                (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )
	--									   ),0)
        SELECT @VL_PONTOS_TOTAL  = isnull(SUM(B.VL_PONTOS_LIQUIDO),0)
        FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
        WHERE A.CD_PESSOA             = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
   	AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
        AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND A.NM_PEDIDO               = B.NM_PEDIDO
        AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
        AND B.NM_PEDIDO_ITEM_CONJUNTO = 0
        AND B.CD_PRODUTO_VENDA NOT IN (SELECT CD_PRODUTO 
                                       FROM TB_MN_REGRA_REMUNERACAO
                                       WHERE CD_PRODUTO > 0)


        IF @VL_PONTOS_TOTAL >= 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1002
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE Total de pontos pessoal (media) - produto regular
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_ASOS (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,2) -- CICLO ATUAL E 1 ANTERIOR

	IF @VL_PONTOS_TOTAL >= 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1003
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END



      --******************************************************************************
      -- GRAVA INDICADOR  DE Total de pontos equipe direta - produto regular
      --******************************************************************************/

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO 
      FROM TB_PESSOA_RESUMO
      WHERE CD_PESSOA = @CD_PESSOA
      AND   CD_FUNCAO = @CD_FUNCAO

      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_EQUIPE_ASOS (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 1, -- equipe direta
                                                                            @CD_PAPEL_CARREIRA, @CD_PAPEL_DESEMPENHO)

	IF @VL_PONTOS_TOTAL >= 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1004
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE Total de pontos da equipe direta e indireta - produto regular
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF @CD_PAPEL_CARREIRA >= 5 
 	BEGIN 
  	  SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_EQUIPE_ASOS (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 3, -- equipe direta e indireta
                                                                            @CD_PAPEL_CARREIRA, @CD_PAPEL_DESEMPENHO)
    END
	ELSE
	BEGIN  
	  SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_EQUIPE_ASOS (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 1, -- equipe direta
                                                                            @CD_PAPEL_CARREIRA, @CD_PAPEL_DESEMPENHO)
    END
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1005
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE Total de lideres diretos
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA >= 5  
 	BEGIN 
  	  SELECT @QT_LIDERES    = dbo.FN_MN_CALCULA_QUALIFICADOS_ASOS(@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 5) 

	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1006
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@QT_LIDERES  ,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@QT_LIDERES  ,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE Total de pontos da equipe dos lideres diretos - produto regular
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA >= 5 
 	BEGIN 
          SELECT @VL_PONTOS_TOTAL = ISNULL(SUM (B.VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_RESUMO A, TB_PESSOA_INDICADOR B
          WHERE A.CD_PESSOA             = B.CD_PESSOA
          AND   A.CD_FUNCAO             = B.CD_FUNCAO
          AND   A.CD_EST_COMERCIAL      = B.CD_EST_COMERCIAL
          AND   A.CD_PESSOA_VINCULADA   = @CD_PESSOA
          AND   A.CD_FUNCAO             = @CD_FUNCAO
          AND   B.NM_CICLO              = @NM_CICLO
          AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
          AND   B.CD_INDICADOR_PESSOAL  = 1005
          AND   B.VL_INDICADOR_PESSOAL >= 4000
		  AND   A.CD_PAPEL_CARREIRA   >= 5


	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1007
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE Total de consultores
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA >= 5 
 	BEGIN 
          SELECT @QT_PESSOAS =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
          FROM TB_WRK_MN_TOPOLOGIA B1
          WHERE B1.CD_PESSOA             = @CD_PESSOA
          AND   B1.CD_FUNCAO             = @CD_FUNCAO
          AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
          AND   B1.NM_CICLO              = @NM_CICLO
          AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
          AND   B1.NM_NIVEL             >= 1
          AND  (B1.CD_PESSOA_VINCULADA NOT IN
                   (SELECT B1.PESSOA3 FROM
			          (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- LIDER
				         ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA LIDER
						 FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
						 WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
						 AND   A.CD_FUNCAO             = B.CD_FUNCAO
						 AND   A.NM_CICLO              = B.NM_CICLO
						 AND   A.CD_PESSOA             = @CD_PESSOA
						 AND   A.CD_FUNCAO             = @CD_FUNCAO
						 AND   A.NM_CICLO              = @NM_CICLO
						 AND   A.ID_ORDEM              = 2 -- DESCENDENTE
						 AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
						 AND   B.CD_PAPEL_CARREIRA   >= 5
						 AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
						 AND   C.NM_CICLO              = A.NM_CICLO
						 AND   C.CD_FUNCAO             = A.CD_FUNCAO 
						 AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
						 AND   C.ID_TIPO_REDE_MN       = 1 ) B1-- REDE UNILEVEL ) B1
          )
          ) 
        END
        ELSE
        BEGIN

          SELECT @QT_PESSOAS =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
          FROM TB_WRK_MN_TOPOLOGIA B1
          WHERE B1.CD_PESSOA             = @CD_PESSOA
          AND   B1.CD_FUNCAO             = @CD_FUNCAO
          AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
          AND   B1.NM_CICLO              = @NM_CICLO
          AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
          AND   B1.NM_NIVEL              = 1
  
        END


	IF @QT_PESSOAS >= 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1008
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@QT_PESSOAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@QT_PESSOAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END



      --******************************************************************************
      -- GRAVA INDICADOR  DE Total de novos cadastros
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	IF @CD_PAPEL_CARREIRA >= 5 
 	BEGIN 
          SELECT @QT_PESSOAS =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
          FROM TB_WRK_MN_TOPOLOGIA B1, TB_PESSOA_RESUMO A1, TB_CALENDARIO_COMERCIAL C1
          WHERE B1.CD_PESSOA_VINCULADA   = A1.CD_PESSOA
          AND   B1.CD_FUNCAO             = A1.CD_FUNCAO
	  AND   A1.CD_EST_COMERCIAL      = C1.CD_EST_COMERCIAL
          AND   CONVERT(DATE,A1.DT_CADASTRO_PESSOA)  BETWEEN CONVERT(DATE,C1.DT_INICIAL) AND CONVERT(DATE,C1.DT_FINAL)
          AND   B1.NM_CICLO              = C1.NM_CICLO
          AND   A1.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
          AND   B1.CD_PESSOA             = @CD_PESSOA
          AND   B1.CD_FUNCAO             = @CD_FUNCAO
          AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
          AND   B1.NM_CICLO              = @NM_CICLO
          AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
          AND   B1.NM_NIVEL             >= 1
          AND  (B1.CD_PESSOA_VINCULADA NOT IN
                   (SELECT B1.PESSOA3 FROM
			          (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- LIDER
				         ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA LIDER
						 FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
						 WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
						 AND   A.CD_FUNCAO             = B.CD_FUNCAO
						 AND   A.NM_CICLO              = B.NM_CICLO
						 AND   A.CD_PESSOA             = @CD_PESSOA
						 AND   A.CD_FUNCAO             = @CD_FUNCAO
						 AND   A.NM_CICLO              = @NM_CICLO
						 AND   A.ID_ORDEM              = 2 -- DESCENDENTE
						 AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
						 AND   B.CD_PAPEL_CARREIRA   >= 5
						 AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
						 AND   C.NM_CICLO              = A.NM_CICLO
						 AND   C.CD_FUNCAO             = A.CD_FUNCAO 
						 AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
						 AND   C.ID_TIPO_REDE_MN       = 1 ) B1-- REDE UNILEVEL ) B1
          )
          ) 
        END
        ELSE
        BEGIN
          SELECT @QT_PESSOAS =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
          FROM TB_WRK_MN_TOPOLOGIA B1, TB_PESSOA_RESUMO A1, TB_CALENDARIO_COMERCIAL C1
          WHERE B1.CD_PESSOA_VINCULADA   = A1.CD_PESSOA
          AND   B1.CD_FUNCAO             = A1.CD_FUNCAO
	  AND   A1.CD_EST_COMERCIAL      = C1.CD_EST_COMERCIAL
          AND   CONVERT(DATE,A1.DT_CADASTRO_PESSOA)  BETWEEN CONVERT(DATE,C1.DT_INICIAL) AND CONVERT(DATE,C1.DT_FINAL)
          AND   A1.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
          AND   B1.NM_CICLO              = C1.NM_CICLO
          AND   B1.CD_PESSOA             = @CD_PESSOA
          AND   B1.CD_FUNCAO             = @CD_FUNCAO
          AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
          AND   B1.NM_CICLO              = @NM_CICLO
          AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
          AND   B1.NM_NIVEL              = 1
        END

	IF @QT_PESSOAS >= 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1009
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@QT_PESSOAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@QT_PESSOAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END



      --******************************************************************************************
      -- GRAVA INDICADOR  DE Atingiu os 4000 pontos da equipe direta e indireta .... 1-SIM / 2-NÃO
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF @CD_PAPEL_CARREIRA >= 5
 	BEGIN 

          SELECT @QT_CICLOS_4000_PONTOS = CASE WHEN SUM(VL_INDICADOR_PESSOAL) >= 4000 THEN 1 ELSE 0 END
          FROM TB_PESSOA_INDICADOR
          WHERE CD_PESSOA            = @CD_PESSOA
          AND   CD_FUNCAO            = @CD_FUNCAO
          AND   NM_CICLO             = @NM_CICLO
          AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
          AND   CD_INDICADOR_PESSOAL = 1005


	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1010
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@QT_CICLOS_4000_PONTOS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@QT_CICLOS_4000_PONTOS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************************
      -- GRAVA INDICADOR  DE Quantidade de ciclos seguidos sem atingir os 4000 pontos da equipe direta e indireta
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF @CD_PAPEL_CARREIRA >= 5
 	BEGIN 
          SELECT @QT_CICLOS_4000_PONTOS  = dbo.FN_MN_QDE_CICLOS_SEM_ATINGIR_4000_PTOS_ASOS (@CD_PESSOA , @NM_CICLO,@CD_FUNCAO , @CD_EST_COMERCIAL, 6 )  -- CICLO ATUAL + 5 CICLOS
        --  SELECT @QT_CICLOS_4000_PONTOS = COUNT(*)
        --  FROM TB_PESSOA_INDICADOR
        --  WHERE CD_PESSOA            = @CD_PESSOA
        --  AND   CD_FUNCAO            = @CD_FUNCAO
        --  AND   NM_CICLO             BETWEEN DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,4) AND @NM_CICLO
        --  AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
        --  AND   CD_INDICADOR_PESSOAL = 1010
        --  AND   VL_INDICADOR_PESSOAL = 0

	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1011
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@QT_CICLOS_4000_PONTOS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@QT_CICLOS_4000_PONTOS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************************
      -- GRAVA INDICADOR  DE Tornou-se lider 
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @QT_LIDERES = dbo.FN_MN_TORNOU_LIDER_ASOS (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, 5)

	IF @QT_LIDERES >= 0
 	BEGIN 

	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1012
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@QT_LIDERES,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@QT_LIDERES,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --************************************************************************************************
      -- GRAVA INDICADOR  DE Total de consultores ativos no plano de negócio
      --***********************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
	IF @CD_PAPEL_CARREIRA >= 5 
 	BEGIN 
          SELECT @QT_PESSOAS = isnull(COUNT(A.CD_PESSOA),0)
          FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             >= 1
             AND  (B1.CD_PESSOA_VINCULADA NOT IN
                     (SELECT B1.PESSOA3 FROM
		  	          (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- LIDER
				         ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA LIDER
						 FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
						 WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
						 AND   A.CD_FUNCAO             = B.CD_FUNCAO
						 AND   A.NM_CICLO              = B.NM_CICLO
						 AND   A.CD_PESSOA             = @CD_PESSOA
						 AND   A.CD_FUNCAO             = @CD_FUNCAO
						 AND   A.NM_CICLO              = @NM_CICLO
						 AND   A.ID_ORDEM              = 2 -- DESCENDENTE
						 AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
						 AND   B.CD_PAPEL_CARREIRA    >= 5
						 AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
						 AND   C.NM_CICLO              = A.NM_CICLO
						 AND   C.CD_FUNCAO             = A.CD_FUNCAO 
						 AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
						 AND   C.ID_TIPO_REDE_MN       = 1 ) B1-- REDE UNILEVEL ) B1
               )
               ) 
               ) C               
          WHERE A.CD_PESSOA             = C.PESSOA
          AND   A.CD_FUNCAO             = @CD_FUNCAO
          AND   A.CD_INDICADOR_PESSOAL  = 1001
          AND   A.NM_CICLO              = @NM_CICLO
          AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
          AND   A.VL_INDICADOR_PESSOAL  > 0
        END
        ELSE
        BEGIN
          SELECT @QT_PESSOAS = isnull(COUNT(A.CD_PESSOA),0)
          FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             = 1
            ) C               
          WHERE A.CD_PESSOA             = C.PESSOA
          AND   A.CD_FUNCAO             = @CD_FUNCAO
          AND   A.CD_INDICADOR_PESSOAL  = 1001
          AND   A.NM_CICLO              = @NM_CICLO
          AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
          AND   A.VL_INDICADOR_PESSOAL  > 0
        END 

 	IF (@QT_PESSOAS >= 0)
 	BEGIN 
          --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1013
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@QT_PESSOAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@QT_PESSOAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************************
      -- GRAVA INDICADOR  DE Total de compradores ativos
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN
	IF @CD_PAPEL_CARREIRA >= 5 
 	BEGIN 		
          SELECT @QT_PESSOAS = isnull(COUNT(A.CD_PESSOA),0)
          FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL             >= 1
             AND  (B1.CD_PESSOA_VINCULADA NOT IN
                     (SELECT B1.PESSOA3 FROM
		  	          (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- LIDER
		  		         ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA LIDER
						 FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
						 WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
						 AND   A.CD_FUNCAO             = B.CD_FUNCAO
						 AND   A.NM_CICLO              = B.NM_CICLO
						 AND   A.CD_PESSOA             = @CD_PESSOA
						 AND   A.CD_FUNCAO             = @CD_FUNCAO
						 AND   A.NM_CICLO              = @NM_CICLO
						 AND   A.ID_ORDEM              = 2 -- DESCENDENTE
						 AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
						 AND   B.CD_PAPEL_CARREIRA    >= 5
						 AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
						 AND   C.NM_CICLO              = A.NM_CICLO
						 AND   C.CD_FUNCAO             = A.CD_FUNCAO 
						 AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
						 AND   C.ID_TIPO_REDE_MN       = 1 ) B1-- REDE UNILEVEL ) B1
               )
               ) 
               ) C               
          WHERE A.CD_PESSOA             = C.PESSOA
          AND   A.CD_FUNCAO             = @CD_FUNCAO
          AND   A.CD_INDICADOR_PESSOAL  = 1002
          AND   A.NM_CICLO              = @NM_CICLO
          AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
          AND   A.VL_INDICADOR_PESSOAL  > 0
        END
        ELSE
        BEGIN
          SELECT @QT_PESSOAS = isnull(COUNT(A.CD_PESSOA),0)
          FROM TB_PESSOA_INDICADOR A,
            (SELECT B1.CD_PESSOA_VINCULADA            AS PESSOA 
             FROM TB_WRK_MN_TOPOLOGIA B1
             WHERE B1.CD_PESSOA             = @CD_PESSOA
             AND   B1.CD_FUNCAO             = @CD_FUNCAO
             AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
             AND   B1.NM_CICLO              = @NM_CICLO
             AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
             AND   B1.NM_NIVEL              = 1
               ) C               
          WHERE A.CD_PESSOA             = C.PESSOA
          AND   A.CD_FUNCAO             = @CD_FUNCAO
          AND   A.CD_INDICADOR_PESSOAL  = 1002
          AND   A.NM_CICLO              = @NM_CICLO
          AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
          AND   A.VL_INDICADOR_PESSOAL  > 0
        END

	IF (@QT_PESSOAS >= 0)
 	BEGIN 
          --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1014
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@QT_PESSOAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@QT_PESSOAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************************
      -- GRAVA INDICADOR  DE Total de compras pagas pelos consumidores finais vinculados
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_TABELA_TOTAL = isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0) / A.VL_LIQUIDO_TOTAL)  +
  				                                (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )
										   ),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
             (SELECT CD_PESSOA CF, CD_PESSOA_VINCULADA PESSOA_VINCULADA
              FROM TB_PESSOA_RESUMO
              WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
              AND   CD_FUNCAO           = 1) C
	WHERE A.CD_RV_INDICANTE       = @CD_PESSOA
	AND A.CD_FUNCAO               = 1  -- CF		
	--AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0
        AND (A.CD_PESSOA = C.CF AND A.CD_RV_INDICANTE = C.PESSOA_VINCULADA)



	IF @VL_TABELA_TOTAL >= 0
 	BEGIN 

	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1015
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


     --******************************************************************************************
      -- GRAVA INDICADOR  DE Total de compras pagas pelos consumidores finais proximidade
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_TABELA_TOTAL = isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0) / A.VL_LIQUIDO_TOTAL)  +
  				                                (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )
										   ),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_RV_INDICANTE       = @CD_PESSOA
	AND A.CD_FUNCAO               = 1  -- CF		
	--AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0
    AND NOT EXISTS ( SELECT 1
              FROM TB_PESSOA_RESUMO 
              WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
              AND   CD_FUNCAO           = 1
	          AND   CD_PESSOA = A.CD_PESSOA AND CD_PESSOA_VINCULADA = A.CD_RV_INDICANTE)



	IF @VL_TABELA_TOTAL >= 0
 	BEGIN 

	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1016
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END



      --******************************************************************************************
      -- GRAVA INDICADOR  DE Total de pontuação super bônus
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1017,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_CARREIRA) >= 5 AND (@CD_PAPEL_DESEMPENHO >=6)
 	BEGIN 

          SELECT @VL_PONTOS_TOTAL = dbo.FN_MN_CALCULA_PONTUACAO_SUPER_BONUS_ASOS (@CD_PESSOA,
                                                        @CD_FUNCAO,
                                                        @NM_CICLO,
                                                        @CD_EST_COMERCIAL,
                                                        @CD_PAPEL_DESEMPENHO)

	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1017
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************************
      -- GRAVA INDICADOR  DE Total de pontuação super bônus acumulados
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1018,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_CARREIRA >= 5)
 	BEGIN 

          SELECT @CICLO_ANO = CONVERT(NUMERIC,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO,6),5,2))
          IF (@CICLO_ANO <= 6)
            SELECT @CICLO_INICIO = CONVERT(NUMERIC,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO,6),1,4)+'01')
          ELSE
            SELECT @CICLO_INICIO = CONVERT(NUMERIC,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO,6),1,4)+'07')
    
          SELECT @QT_CICLOS_SUPER_BONUS = COUNT(*),
                 @VL_PONTOS_TOTAL      = isnull(SUM(VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR
          WHERE CD_PESSOA            = @CD_PESSOA
          AND   CD_FUNCAO            = @CD_FUNCAO
          AND   NM_CICLO             BETWEEN @CICLO_INICIO AND @NM_CICLO
          AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
          AND   CD_INDICADOR_PESSOAL = 1017

          IF (@QT_CICLOS_SUPER_BONUS >=3 )  -- somente participa se atingir 3 ou mais ciclos no semestre
          BEGIN

  	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1018
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1018,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
          END 
	END
      END


    --******************************************************************************************
      -- GRAVA INDICADOR  DE Qualificação atual
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1019,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_CARREIRA >= 5)
 	BEGIN 
          --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1019
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						1,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1019,
						1,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END 
	END
      END


      --******************************************************************************************
      -- GRAVA INDICADOR  DE Posição atual de pontuação super bônus
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1020,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- BUSCA OS PONTOS ACUMULADOS
        SELECT @VL_PONTOS_TOTAL  = isnull(SUM(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
        WHERE CD_PESSOA            = @CD_PESSOA
        AND   CD_FUNCAO            = @CD_FUNCAO
        AND   NM_CICLO             = @NM_CICLO
        AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
        AND   CD_INDICADOR_PESSOAL = 1018

        IF (@CD_PAPEL_CARREIRA >= 5 AND @VL_PONTOS_TOTAL > 0)
 	BEGIN 
          -- BUSCA A POSICAO
          SELECT @VL_POSICAO_SUPER_BONUS = ISNULL(MAX(X.LINHA),0) 
          FROM (
                SELECT ROW_NUMBER() OVER (order by A.VALOR desc) AS LINHA, A.VALOR
	          FROM (SELECT DISTINCT VL_INDICADOR_PESSOAL AS VALOR
                        FROM TB_PESSOA_INDICADOR
                        WHERE CD_FUNCAO            = @CD_FUNCAO
                        AND CD_INDICADOR_PESSOAL   = 1018
                        AND NM_CICLO               = @NM_CICLO
                        AND CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	                AND VL_INDICADOR_PESSOAL   > 0) A
               ) AS X
          WHERE X.VALOR = @VL_PONTOS_TOTAL

          IF (@VL_POSICAO_SUPER_BONUS >= 0)  -- TEM POSICAO
          BEGIN

  	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1020
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_POSICAO_SUPER_BONUS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1020,
						@VL_POSICAO_SUPER_BONUS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
          END 
	END
      END

      --******************************************************************************************
      -- GRAVA INDICADOR  DE Valor total dos pontos a distribuir no super bônus 1021
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1021,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_CARREIRA >= 5)
 	BEGIN 

          SELECT @CICLO_ANO = CONVERT(NUMERIC,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO,6),5,2))
          IF (@CICLO_ANO = 6)
          BEGIN
            SELECT @CICLO_INICIO = CONVERT(NUMERIC,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO,6),1,4)+'01')
          END
          ELSE IF (@CICLO_ANO = 12)
          BEGIN
            SELECT @CICLO_INICIO = CONVERT(NUMERIC,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO,6),1,4)+'07')
          END    

          IF (@CICLO_ANO IN (6,12))  -- FECHAMENTO DO SEMESTRE
          BEGIN
            SELECT @VL_PONTOS_TOTAL      = (isnull(SUM(VL_INDICADOR_PESSOAL),0) *0.01)
            FROM TB_PESSOA_INDICADOR
            WHERE CD_FUNCAO            = @CD_FUNCAO
            AND   NM_CICLO             BETWEEN @CICLO_INICIO AND @NM_CICLO
            AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
            AND   CD_INDICADOR_PESSOAL = 1002

 	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1021
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1021,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
          END 
	END
      END


      --******************************************************************************************
      -- GRAVA INDICADOR  DE Valor dos pontos ganhos no super bônus
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1022,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF (@CD_PAPEL_CARREIRA >= 5)
 	BEGIN 

          SELECT @CICLO_ANO = CONVERT(NUMERIC,SUBSTRING(CONVERT(VARCHAR,@NM_CICLO,6),5,2))
          IF (@CICLO_ANO IN (6,12))  -- FECHAMENTO DO SEMESTRE
          BEGIN
            -- BUSCA OS PONTOS TOTAIS A SEREM DISTRIBUIDOS
            SELECT @VL_PONTOS_TOTAL      = isnull(SUM(VL_INDICADOR_PESSOAL),0)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1021
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

            -- BUSCA A COLOCACAO DA PESSOA
	    SELECT @VL_POSICAO_SUPER_BONUS = isnull(SUM(VL_INDICADOR_PESSOAL),0)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1020
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
            
            -- BUSCA A QUANTIDADE DE LIDERES NESTA POSICAO
	    SELECT @QT_LIDERES = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_FUNCAO          = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1020
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
            AND VL_INDICADOR_PESSOAL = @VL_POSICAO_SUPER_BONUS


            IF (@VL_POSICAO_SUPER_BONUS IN (1,2,3,4,5))
            BEGIN

              IF (@VL_POSICAO_SUPER_BONUS = 1)
              BEGIN  
                SELECT @VL_PONTOS_SUPER_BONUS = ((@VL_PONTOS_TOTAL * 0.30) / @QT_LIDERES)
              END
              IF (@VL_POSICAO_SUPER_BONUS = 2)
              BEGIN  
                SELECT @VL_PONTOS_SUPER_BONUS = ((@VL_PONTOS_TOTAL * 0.25) / @QT_LIDERES)
              END
              IF (@VL_POSICAO_SUPER_BONUS = 3)
              BEGIN  
                SELECT @VL_PONTOS_SUPER_BONUS = ((@VL_PONTOS_TOTAL * 0.20) / @QT_LIDERES)
              END
              IF (@VL_POSICAO_SUPER_BONUS = 4)
              BEGIN  
                SELECT @VL_PONTOS_SUPER_BONUS = ((@VL_PONTOS_TOTAL * 0.15) / @QT_LIDERES)
              END
              IF (@VL_POSICAO_SUPER_BONUS = 5)
              BEGIN  
                SELECT @VL_PONTOS_SUPER_BONUS = ((@VL_PONTOS_TOTAL * 0.10) / @QT_LIDERES)
              END

    	      --VERIFICA SE EXISTE O REGISTRO
	      SELECT @EXISTE_REGISTRO = COUNT(*)
              FROM TB_PESSOA_INDICADOR
	      WHERE CD_PESSOA          = @CD_PESSOA
	      AND CD_FUNCAO            = @CD_FUNCAO
	      AND CD_INDICADOR_PESSOAL = 1022
  	      AND NM_CICLO             = @NM_CICLO
	      AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	      IF (@EXISTE_REGISTRO     = 0) 
	      BEGIN
	        EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_PONTOS_SUPER_BONUS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	      END
	      ELSE
	      BEGIN
	        EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_PONTOS_SUPER_BONUS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	      END
           
            END 
          END 
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE Acessa EV
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1023,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @QT_CICLO_INICIO = COUNT(*)
        FROM TB_PESSOA_RESUMO
        WHERE CD_PESSOA        = @CD_PESSOA
        AND   CD_FUNCAO        = @CD_FUNCAO
        AND   CD_EST_COMERCIAL = @CD_EST_COMERCIAL
        AND   NM_CICLO_INICIO  = @NM_CICLO
    
        IF (@QT_CICLO_INICIO = 1) -- CICLO ATUAL É O CICLO DE INICIO
        BEGIN
          SELECT @VL_PONTOS_TOTAL  =  CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
          FROM TB_DIVIDA
	  WHERE NM_PEDIDO IN ( SELECT MIN(NM_PEDIDO) NM_PEDIDO FROM TB_PEDIDO
			       WHERE CD_PESSOA = @CD_PESSOA
			       AND CD_EST_SITUACAO NOT IN (1,3,99))
          AND ID_SITUACAO_PAGAMENTO = 2
        END
      
        IF (@QT_CICLO_INICIO = 0) -- CICLO ATUAL É MAIOR QUE O CICLO DE INICIO
        BEGIN
	  SELECT @VL_PONTOS_TOTAL = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1001
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
        END

        IF @VL_PONTOS_TOTAL >= 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1023
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END



      --******************************************************************************
      -- GRAVA INDICADOR  DE MÉDIA DE PONTOS - LUCRATIVIDADE
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1024,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	    SELECT @VL_PONTOS_TOTAL  = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1003
	    AND NM_CICLO             = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN  (@NM_CICLO,2)
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

	IF @VL_PONTOS_TOTAL >= 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1024
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


    --******************************************************************************
      -- GRAVA INDICADOR  DE Total de consultores do líder
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1025,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	    IF @CD_PAPEL_CARREIRA >= 5 
 	    BEGIN 
          SELECT @QT_PESSOAS =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
          FROM TB_WRK_MN_TOPOLOGIA B1, TB_PESSOA_RESUMO A1
          WHERE B1.CD_PESSOA_VINCULADA   = A1.CD_PESSOA
		  AND   B1.CD_FUNCAO             = A1.CD_FUNCAO
		  AND   A1.CD_SITUACAO_COMERCIAL NOT IN (0,4)
		  AND   B1.CD_PESSOA             = @CD_PESSOA
          AND   B1.CD_FUNCAO             = @CD_FUNCAO
          AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
          AND   B1.NM_CICLO              = @NM_CICLO
          AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
          AND   B1.NM_NIVEL             >= 1
          AND  (B1.CD_PESSOA_VINCULADA NOT IN
                   (SELECT B1.PESSOA3 FROM
			          (SELECT A.CD_PESSOA_VINCULADA            AS PESSOA2  -- LIDER
				         ,C.CD_PESSOA_VINCULADA            AS PESSOA3  -- DESCENDENTES DA LIDER
						 FROM  TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B,  TB_WRK_MN_TOPOLOGIA C
						 WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
						 AND   A.CD_FUNCAO             = B.CD_FUNCAO
						 AND   A.NM_CICLO              = B.NM_CICLO
						 AND   A.CD_PESSOA             = @CD_PESSOA
						 AND   A.CD_FUNCAO             = @CD_FUNCAO
						 AND   A.NM_CICLO              = @NM_CICLO
						 AND   A.ID_ORDEM              = 2 -- DESCENDENTE
						 AND   A.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
						 AND   B.CD_PAPEL_CARREIRA   >= 5
						 AND   C.CD_PESSOA             = A.CD_PESSOA_VINCULADA
						 AND   C.NM_CICLO              = A.NM_CICLO
						 AND   C.CD_FUNCAO             = A.CD_FUNCAO 
						 AND   C.ID_ORDEM              = 2 -- DESCENDENTE 
						 AND   C.ID_TIPO_REDE_MN       = 1 ) B1-- REDE UNILEVEL ) B1
          )
          ) 
        END



	    IF @QT_PESSOAS >= 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1025
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@QT_PESSOAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@QT_PESSOAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


    --******************************************************************************
      -- GRAVA INDICADOR  DE TOTAL DE CONSULTORES DIRETOS COM KIT INICIO 
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1026,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	  SELECT @QT_PESSOAS =   COUNT(*)
          FROM TB_PESSOA_RESUMO A,
              (SELECT B1.CD_PESSOA_VINCULADA AS PESSOA 
               FROM TB_WRK_MN_TOPOLOGIA B1
               WHERE B1.CD_PESSOA             = @CD_PESSOA
               AND   B1.CD_FUNCAO             = @CD_FUNCAO
               AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
               AND   B1.NM_CICLO              = @NM_CICLO
               AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
               AND   B1.NM_NIVEL              = 1) C 
         WHERE A.CD_PESSOA             = C.PESSOA
         AND   A.CD_FUNCAO             = @CD_FUNCAO
         AND   A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL 
	 AND   A.CD_SITUACAO_COMERCIAL NOT IN (0,4)

	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1026
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@QT_PESSOAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@QT_PESSOAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END

      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE TOTAL DE CICLOS SEGUIDOS SEM ATINGIR O MÍNIMO COMO LIDER
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1027,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	IF @CD_PAPEL_CARREIRA >= 5
 	BEGIN 
          SELECT @QT_CICLOS_SEM_ATINGIR_MINIMO = dbo.FN_MN_QDE_CICLOS_SEM_ATINGIR_MINIMO_COMO_LIDER_ASOS (@CD_PESSOA , @NM_CICLO,@CD_FUNCAO , @CD_EST_COMERCIAL, 6 )  -- CICLO ATUAL + 5 CICLOS

	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1027
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@QT_CICLOS_SEM_ATINGIR_MINIMO,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@QT_CICLOS_SEM_ATINGIR_MINIMO,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
       END

      END




    END -- fim EVENTO = 6

	


			
  SELECT @VAR_RETORNO = 0	
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
