SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_FiscalInsereCEST]
	@p_codigoEST			NUMERIC(18,0) OUTPUT,
	@p_descCEST				VARCHAR(MAX),
	@p_descDetalheCEST		VARCHAR(MAX),
	
	@p_codigoUsuario		numeric(18,0),
	@p_descAcao				VARCHAR(1),
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT

AS

DECLARE @v_countCEST as int

BEGIN TRY
	
	    SELECT @p_qtdeLinhasAfetadas = 0
	
		IF @p_descAcao = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_CEST (
					DC_CEST,
					DC_DETALHE_CEST,
					CD_USUARIO_CRIACAO,
					DT_CRIACAO)
				VALUES (
					@p_descCEST,
					@p_descDetalheCEST,
					@p_codigoUsuario,
					GETDATE())
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
				
				SELECT @p_codigoEST = IDENT_CURRENT('TB_CEST')
			END	

		IF @p_descAcao = 'E'
			BEGIN
				
				SELECT @v_countCEST = COUNT(*)
				  FROM TB_NOTA_FISCAL_ITEM
				 WHERE CD_CEST = @p_codigoEST
				 
				IF @v_countCEST <= 0
					BEGIN
						BEGIN TRANSACTION 
			
						DELETE FROM TB_CEST 
							WHERE CD_CEST = @p_codigoEST
			
						SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
						COMMIT TRANSACTION
					END
				ELSE
					BEGIN
						SELECT @p_descErro = 'Este código não pode ser excluído pois já foi utilizado em pelo menos uma nota fiscal.'
					END
			END	
		
		IF @p_descAcao = 'A'
			BEGIN
				
				SELECT @v_countCEST = COUNT(*)
				  FROM TB_NOTA_FISCAL_ITEM
				 WHERE CD_CEST = @p_codigoEST
				 
				IF @v_countCEST <= 0
					BEGIN
						BEGIN TRANSACTION
						
						UPDATE TB_CEST SET DC_CEST = @p_descCEST,
										   DC_DETALHE_CEST = @p_descDetalheCEST,
										   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
										   DT_ATUALIZACAO = GETDATE()
						 WHERE CD_CEST = @p_codigoEST
						 
						SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
						
						COMMIT TRANSACTION
					END
				ELSE
					BEGIN
						SELECT @p_descErro = 'Este código não pode ser excluído pois já foi utilizado em pelo menos uma nota fiscal.'
					END
				
			END


		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
