SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaConsultaMeusIndicados]
	@p_codigoPessoaIndicante	NUMERIC(18,0), -- deve ser passado
    @p_codigoPessoa				NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
    @p_codigoSitCadastro		NUMERIC(10,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
    @p_descNomePessoa			varchar(2000), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
    @p_codigoPapelCarreira      NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
    @p_idVerPromocao			INT -- Se ficar em branco listar todos (enviar “0” na chamada da proc)

AS
DECLARE @v_codigoCliente	NUMERIC(18,0),
		@v_descQuery		NVARCHAR(MAX)
BEGIN
	
	select @v_codigoCliente = vl_parametro 
	  from TB_VALOR_PARAMETRO WITH(NOLOCK)
	 where CD_GRUPO_PARAMETRO = 6
	   and CD_PARAMETRO       = 1
	   and CD_VALOR_PARAMETRO = 1

	IF (@v_codigoCliente = 55) -- KENKO PATTO
		BEGIN
			
			SELECT @v_descQuery = 'SELECT P.CD_PESSOA [CodPessoa],'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_NOME_PESSOA](P.CD_PESSOA) Nome,'
			IF @p_idVerPromocao = 1 
				BEGIN
					SELECT @v_descQuery = @v_descQuery + ' PC.DC_PAPEL_CARREIRA QUALIFICAÇÃO,'
				END
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_TELEFONE_PESSOA](P.CD_PESSOA,1) [Fone Residencial],'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_TELEFONE_PESSOA](P.CD_PESSOA,3)  Celular,'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_EMAIL_PESSOA] (P.CD_PESSOA,1) [E-Mail],'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_SITUACAO_CADASTRO](P.CD_PESSOA) [Sit. Cadastro],'
			SELECT @v_descQuery = @v_descQuery + ' (SELECT TOP 1 PA.DC_PLANO_ADESAO FROM TB_PESSOA_PLANO_ADESAO PDA WITH(NOLOCK), TB_PLANO_ADESAO PA WITH(NOLOCK)'
			SELECT @v_descQuery = @v_descQuery + ' WHERE PA.CD_PLANO_ADESAO = PDA.CD_PLANO_ADESAO AND PDA.CD_PESSOA = P.CD_PESSOA'
			SELECT @v_descQuery = @v_descQuery + ' AND PDA.ID_SITUACAO_PESSOA_PLANO_ADESAO = 1) [Plano Adesão Ativo]'
			SELECT @v_descQuery = @v_descQuery + ' from TB_PESSOA P WITH(NOLOCK), TB_PESSOA_RESUMO PR WITH(NOLOCK), TB_PAPEL_CARREIRA PC WITH(NOLOCK)'
			SELECT @v_descQuery = @v_descQuery + ' where P.CD_PESSOA = PR.CD_PESSOA'
			SELECT @v_descQuery = @v_descQuery + ' And PR.CD_PAPEL_CARREIRA = PC.CD_PAPEL_CARREIRA'
			SELECT @v_descQuery = @v_descQuery + ' And P.CD_PESSOA_INDICANTE = ' + convert(varchar, @p_codigoPessoaIndicante)
			SELECT @v_descQuery = @v_descQuery + ' AND ( (' + convert(varchar, @p_codigoPessoa) + ' > 0 AND P.CD_PESSOA = ' + convert(varchar, @p_codigoPessoa) + ') OR (' + convert(varchar, @p_codigoPessoa) + ' = 0) )'
			SELECT @v_descQuery = @v_descQuery + ' AND ( (' + convert(varchar, @p_codigoSitCadastro) + ' > 0 AND P.CD_SITUACAO_CADASTRO = ' + convert(varchar, @p_codigoSitCadastro) + ') OR (' + convert(varchar, @p_codigoSitCadastro) + ' = 0) )'
			SELECT @v_descQuery = @v_descQuery + ' AND ( (' + convert(varchar, @p_codigoPapelCarreira) + ' > 0 AND PR.CD_PAPEL_CARREIRA = ' + convert(varchar, @p_codigoPapelCarreira) + ') OR (' + convert(varchar, @p_codigoPapelCarreira) + ' = 0) )'
			SELECT @v_descQuery = @v_descQuery + ' AND ( (''' + @p_descNomePessoa + ''' <> '''' And dbo.fn_RemoveAcentos ( upper(dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA))) LIKE ' + '''%' + dbo.fn_RemoveAcentos (@p_descNomePessoa) + '%'' ) OR (''' + dbo.fn_RemoveAcentos(@p_descNomePessoa) + ''' = '''') )'

			PRINT (@v_descQuery)
			EXEC (@v_descQuery)
		END

	IF (@v_codigoCliente <> 55)    
		BEGIN
			
			SELECT @v_descQuery = 'SELECT P.CD_PESSOA [CodPessoa],'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_NOME_PESSOA](P.CD_PESSOA) Nome,'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_TELEFONE_PESSOA](P.CD_PESSOA,1) [Fone Residencial],'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_TELEFONE_PESSOA](P.CD_PESSOA,3)  Celular,'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_EMAIL_PESSOA] (P.CD_PESSOA,1) [E-Mail],'
			SELECT @v_descQuery = @v_descQuery + ' [dbo].[FN_BUSCA_SITUACAO_CADASTRO](P.CD_PESSOA) [Sit. Cadastro]'
			SELECT @v_descQuery = @v_descQuery + ' from TB_PESSOA P WITH(NOLOCK), TB_PESSOA_RESUMO PR WITH(NOLOCK), TB_PAPEL_CARREIRA PC WITH(NOLOCK)'
			SELECT @v_descQuery = @v_descQuery + ' where P.CD_PESSOA = PR.CD_PESSOA'
			SELECT @v_descQuery = @v_descQuery + ' And PR.CD_PAPEL_CARREIRA = PC.CD_PAPEL_CARREIRA'
			SELECT @v_descQuery = @v_descQuery + ' And P.CD_PESSOA_INDICANTE = ' + convert(varchar, @p_codigoPessoaIndicante)
			SELECT @v_descQuery = @v_descQuery + ' AND ( (' + convert(varchar, @p_codigoPessoa) + ' > 0 AND P.CD_PESSOA = ' + convert(varchar, @p_codigoPessoa) + ') OR (' + convert(varchar, @p_codigoPessoa) + ' = 0) )'
			SELECT @v_descQuery = @v_descQuery + ' AND ( (' + convert(varchar, @p_codigoSitCadastro) + ' > 0 AND P.CD_SITUACAO_CADASTRO = ' + convert(varchar, @p_codigoSitCadastro) + ') OR (' + convert(varchar, @p_codigoSitCadastro) + ' = 0) )'
			SELECT @v_descQuery = @v_descQuery + ' AND ( (' + convert(varchar, @p_codigoPapelCarreira) + ' > 0 AND PR.CD_PAPEL_CARREIRA = ' + convert(varchar, @p_codigoPapelCarreira) + ') OR (' + convert(varchar, @p_codigoPapelCarreira) + ' = 0) )'
			SELECT @v_descQuery = @v_descQuery + ' AND ( (''' + @p_descNomePessoa + ''' <> '''' And dbo.fn_RemoveAcentos (upper(dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA))) LIKE ' + '''%' + dbo.fn_RemoveAcentos (@p_descNomePessoa) + '%'' ) OR (''' + dbo.fn_RemoveAcentos(@p_descNomePessoa) + ''' = '''') )'

			PRINT (@v_descQuery)
			EXEC (@v_descQuery)
		END

END
GO
