SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_PessoaInsereHistoricoConsultaSerasa]
	@p_dcDocumentoInformado					varchar(20),
	@p_dcNomeInformado						varchar(100),
	@p_dcSobreNomeInformado					varchar(100),
	@p_dcEmailInformado						varchar(100),
	@p_dcTelefoneInformado					varchar(100),
	@p_cdIntegracao							numeric(18,0),
	@p_cdServicoExterno						numeric(18,0),
	@p_idPossuiRestricao					int,
	@p_idExecutouConsultaSerasa				int,
	@p_cdResultadoConsulta					int,
	@p_dcResultadoConsulta					nvarchar(max),
	@p_dcResultadoConsultaDetalhe			nvarchar(max),
	@p_idOrigemConsultaSerasa				int,
	@p_idTipoFuncao							varchar(1),
	@p_cdUsuarioCadastro					numeric(18, 0),
	
	@p_codigoErro							INT OUTPUT,
	@p_descErro								VARCHAR(200) OUTPUT,
	@p_qtdeLinhasAfetadas					INT OUTPUT
	
AS

DECLARE @v_qtdTelefone	INT
				
BEGIN TRY
	    
	    SELECT @p_qtdeLinhasAfetadas = 0
	    SELECT @p_codigoErro = 0
		
		IF @p_idTipoFuncao = 'I'
			BEGIN

				INSERT INTO TB_PESSOA_HISTORICO_CONSULTA_SERASA (
					DT_CONSULTA,
					DC_DOCUMENTO_INFORMADO,
					DC_NOME_INFORMADO,
					DC_SOBRENOME_INFORMADO,
					DC_EMAIL_INFORMADO,
					DC_TELEFONE_INFORMADO,
					CD_INTEGRACAO,
					CD_SERVICO_EXTERNO,
					ID_POSSUI_RESTRICAO,
					ID_EXECUTOU_CONSULTA_SERASA,
					CD_RESULTADO_CONSULTA,
					DC_RESULTADO_CONSULTA,
					DC_RESULTADO_CONSULTA_DETALHE,
					ID_ORIGEM_CONSULTA_SERASA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO)
				VALUES 
					(GETDATE(),
					@p_dcDocumentoInformado,
					@p_dcNomeInformado,
					@p_dcSobreNomeInformado,
					@p_dcEmailInformado,
					@p_dcTelefoneInformado,
					@p_cdIntegracao,
					@p_cdServicoExterno,
					@p_idPossuiRestricao,
					@p_idExecutouConsultaSerasa,
					@p_cdResultadoConsulta,
					@p_dcResultadoConsulta,
					@p_dcResultadoConsultaDetalhe,
					@p_idOrigemConsultaSerasa,
					GETDATE(),
					@p_cdUsuarioCadastro)
	
			END



END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
