SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CALCULA_INDICADOR_LOTUS]
	@CD_EST_COMERCIAL		NUMERIC(18, 0),
	@DT_FECHAMENTO			DATE,
	
	@CD_USUARIO				NUMERIC(18,0),
	@VAR_RETORNO			INT OUTPUT,
	@DC_ERRO				NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS		INT OUTPUT
	
AS

/*************************************************************
-- PROCEDURE CRIADA POR ANDERSON - DIA 31/03/2019

-- VAMOS CALCULAR OS INDICADORES DO CLUBE LOTUS
-- VAMOS EXECUTAR A PROCEDURE SOMENTE QUANDO FOR FECHAMENTO DE CICLO

-- Clube Lotus - Campanha Atual - 2031
-- 1 - Clube Lotus Campanha 01 Ciclo 01
-- 2 - Clube Lotus Campanha 01 Ciclo 02
-- 3 - Clube Lotus Campanha 02 Ciclo 03
-- 4 - Clube Lotus Campanha 02 Ciclo 04
-- 5 - Clube Lotus Campanha 03 Ciclo 05
-- 6 - Clube Lotus Campanha 03 Ciclo 06
-- 7 - Clube Lotus Campanha 04 Ciclo 07
-- 8 - Clube Lotus Campanha 04 Ciclo 08
-- 9 - Clube Lotus Campanha 05 Ciclo 09
-- 10 - Clube Lotus Campanha 05 Ciclo 10
-- 11 - Clube Lotus Campanha 06 Ciclo 11
-- 12 - Clube Lotus Campanha 06 Ciclo 12
**************************************************************/


DECLARE @Cursor_EC								CURSOR,
		@Cursor_Pessoa							CURSOR,
		@NM_CICLO								NUMERIC(18,0),
		@CD_ESTRUTURA							NUMERIC(18,0),
		@CD_PESSOA								NUMERIC(18,0)

DECLARE @V_ATIVA_CICLO_ATUAL					INT,
		@V_ATIVA_CICLOS_ANTERIORES				INT,
		@V_QTD_2031								INT,
		@V_VLR_2031								INT

--		@CD_ESTRUTURA_COMERCIAL					NUMERIC(18,0),
--		@CD_FUNCAO								INT,
--		@VL_PEDIDO								NUMERIC(18,2),
--		@QT_PEDIDO								NUMERIC(18,0)

--DECLARE @CD_PESSOA_VINCULADA NUMERIC(18,0)
		
BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
	    
	    -- *******************************************************************************
		-- CURSOR DE ESTRUTURA COMERCIAL
		-- VERIFICA TODOS AS ESTRUTURA COMERCIAIS QUE FECHAM NA DATA INFORMADA
		-- *******************************************************************************
	
		IF @CD_EST_COMERCIAL = 0 
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL
					FROM TB_CALENDARIO_COMERCIAL
					--WHERE CONVERT(DATE, DT_INICIAL, 103) = CONVERT(DATE, @DT_FECHAMENTO, 103) 
					WHERE CONVERT(DATE, DT_FINAL, 103) = CONVERT(DATE, @DT_FECHAMENTO, 103) 
					
			END 
		ELSE
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL
					FROM TB_CALENDARIO_COMERCIAL
					--WHERE CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
					WHERE CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) 
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			END

	
				    
	    -- ABRE O CURSOR DE ESTRUTURA COMERCIAL
	    OPEN @Cursor_EC
		FETCH NEXT FROM @Cursor_EC
		INTO @NM_CICLO, @CD_ESTRUTURA

		WHILE @@FETCH_STATUS = 0
			BEGIN

				-- *****************************************************
				-- VAMOS ABRIR O CURSOR DAS PESSOAS DA ESTRUTURA
				-- *****************************************************
				SET @Cursor_Pessoa = CURSOR FAST_FORWARD
				FOR
					
					SELECT CD_PESSOA	   	
					FROM TB_HIST_SITUACAO_CONSULTORA
					WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
					AND NM_CICLO = @NM_CICLO
					--AND CD_SITUACAO_COMERCIAL = 1
				
				OPEN @Cursor_Pessoa
				FETCH NEXT FROM @Cursor_Pessoa
				INTO @CD_PESSOA

				WHILE @@FETCH_STATUS = 0
					BEGIN
						
						-- *******************************************************************
						-- PARA CADA PESSOA VAMOS VERIFICAR SE O CICLO É 201901
						-- OU SE É O PRIMEIRO CICLO DA PESSOA
						-- PARA QUE POSSAMOS GRAVAR O INDICADOR
						-- 2031 - Clube Lotus - Campanha Atual
						-- A CAMPANHA LOTUS TEVE INICIO SOMENTE EM 201901
						-- *******************************************************************
						IF @NM_CICLO >= 201901
							BEGIN

								-- ***************************************************
								-- VERIFICA SE A PESSOA ESTA ATIVA
								-- ***************************************************
								SELECT @V_ATIVA_CICLO_ATUAL = SUM(VL_INDICADOR_PESSOAL)
								FROM TB_PESSOA_INDICADOR
								WHERE CD_PESSOA = @CD_PESSOA
								AND NM_CICLO = @NM_CICLO
								AND CD_INDICADOR_PESSOAL = 1	
								
								-- ***************************************************
								-- A CAMPANHA LOTUS COMEÇOU NO CICLO 201901
								-- NÃO PRECISAMOS VERIFICAR O CICLO ANTERIOR
								-- ***************************************************
								IF @NM_CICLO = 201901
									BEGIN
										IF @V_ATIVA_CICLO_ATUAL > 0
											BEGIN

												-- ***********************************************
												-- INSERE INDICADOR - 2001
												-- Clube Lotus Campanha 01
												-- ***********************************************
												/*
												EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
													2,
													@CD_ESTRUTURA,
													@NM_CICLO,
													2001,
													1,
													@CD_USUARIO,
													'I',
													0,
													'',
													0
												*/

												-- ***********************************************
												-- INSERE INDICADOR - 2002
												-- Clube Lotus Campanha 01 Ciclo 01
												-- ***********************************************
												EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
													2,
													@CD_ESTRUTURA,
													@NM_CICLO,
													2002,
													1,
													@CD_USUARIO,
													'I',
													0,
													'',
													0

												-- ***********************************************
												-- INSERE INDICADOR - 2031
												-- Clube Lotus - Campanha Atual
												-- ***********************************************
												EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
													2,
													@CD_ESTRUTURA,
													@NM_CICLO,
													2031,
													1,
													@CD_USUARIO,
													'I',
													0,
													'',
													0

											END
									END
								ELSE
									BEGIN
										
										-- ************************************************************
										-- SE O CICLO FOR MAIOR QUE 201901
										-- TEMOS QUE VERIFICAR SE A PESSOA POSSUI O 2031 NO CICLO
										-- PASSADO. CASO NÃO TENHA SIGNIFICA QUE E O PRIMEIRO CICLO
										-- *************************************************************
										
										SELECT @V_QTD_2031 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
										FROM TB_PESSOA_INDICADOR
										WHERE CD_PESSOA = @CD_PESSOA
										AND NM_CICLO = DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
										AND CD_INDICADOR_PESSOAL = 2031
	
										-- ***************************************************
										-- NÃO EXISTE, ENTÃO SIGNIFICA QUE É O PRIMEIRO CICLO
										-- ***************************************************
										IF @V_QTD_2031 = 0
											BEGIN
												
												--***********************************************
												-- SOMENTE INSERE SE FOI ATIVA
												--***********************************************
												IF @V_ATIVA_CICLO_ATUAL > 0
													BEGIN
														
														-- ***********************************************
														-- INSERE INDICADOR - 2001
														-- Clube Lotus Campanha 01
														-- ***********************************************
														/*
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2001,
															1,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
														*/
														
														-- ***********************************************
														-- INSERE INDICADOR - 2002
														-- Clube Lotus Campanha 01 Ciclo 01
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2002,
															1,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

														-- ***********************************************
														-- INSERE INDICADOR - 2031
														-- Clube Lotus - Campanha Atual
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2031,
															1,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

													END
											END

										ELSE
											-- EXISTE
											BEGIN

												SELECT @V_VLR_2031 = VL_INDICADOR_PESSOAL
												FROM TB_PESSOA_INDICADOR
												WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
												AND NM_CICLO = DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
												AND CD_INDICADOR_PESSOAL = 2031


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 1 - Clube Lotus Campanha 01 Ciclo 01
												-- ***************************************************
												IF @V_VLR_2031 = 1
													BEGIN

														IF @V_ATIVA_CICLO_ATUAL > 0
															BEGIN

																-- ***********************************************
																-- INSERE INDICADOR - 2001
																-- Clube Lotus Campanha 01
																-- ***********************************************
																/*
																EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	2,
																	@CD_ESTRUTURA,
																	@NM_CICLO,
																	2001,
																	@V_ATIVA_CICLO_ATUAL,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
																*/

																-- ***********************************************
																-- INSERE INDICADOR - 2003
																-- Clube Lotus Campanha 01 Ciclo 02
																-- ***********************************************
																EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	2,
																	@CD_ESTRUTURA,
																	@NM_CICLO,
																	2003,
																	@V_ATIVA_CICLO_ATUAL,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
	
															END
													

														-- ***********************************************
														-- INSERE INDICADOR - 2031
														-- Clube Lotus - Campanha Atual
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2031,
															2,
															@CD_USUARIO,
															'I',
															0,
															'',
															0	


													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 2 - Clube Lotus Campanha 01 Ciclo 02
												-- ***************************************************
												IF @V_VLR_2031 = 2
													BEGIN
														
														IF @V_ATIVA_CICLO_ATUAL > 0
															BEGIN
															
																-- ***********************************************
																-- INSERE INDICADOR - 2006
																-- Clube Lotus Campanha 02
																-- ***********************************************
																/*
																EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	2,
																	@CD_ESTRUTURA,
																	@NM_CICLO,
																	2006,
																	@V_ATIVA_CICLO_ATUAL,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
																*/
																
																-- ***********************************************
																-- INSERE INDICADOR - 2007
																-- Clube Lotus Campanha 02 Ciclo 01
																-- ***********************************************
																EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	2,
																	@CD_ESTRUTURA,
																	@NM_CICLO,
																	2007,
																	@V_ATIVA_CICLO_ATUAL,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
															END
															

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 2 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 2
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			3,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 3 - Clube Lotus Campanha 02 Ciclo 03
												-- ***************************************************
												IF @V_VLR_2031 = 3
													BEGIN
														
														IF @V_ATIVA_CICLO_ATUAL > 0
															BEGIN
															
																-- ***********************************************
																-- INSERE INDICADOR - 2006
																-- Clube Lotus Campanha 02
																-- ***********************************************
																/*
																EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	2,
																	@CD_ESTRUTURA,
																	@NM_CICLO,
																	2006,
																	@V_ATIVA_CICLO_ATUAL,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
																*/
																
																-- ***********************************************
																-- INSERE INDICADOR - 2008
																-- Clube Lotus Campanha 02 Ciclo 04
																-- ***********************************************
																EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	2,
																	@CD_ESTRUTURA,
																	@NM_CICLO,
																	2008,
																	@V_ATIVA_CICLO_ATUAL,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
															END

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 3 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 3
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			4,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 4 - Clube Lotus Campanha 02 Ciclo 04
												-- ***************************************************
												IF @V_VLR_2031 = 4
													BEGIN
														
														IF @V_ATIVA_CICLO_ATUAL > 0
															BEGIN
															
																-- ***********************************************
																-- INSERE INDICADOR - 2011
																-- Clube Lotus Campanha 03
																-- ***********************************************
																/*
																EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	2,
																	@CD_ESTRUTURA,
																	@NM_CICLO,
																	2011,
																	@V_ATIVA_CICLO_ATUAL,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
																*/
																
																-- ***********************************************
																-- INSERE INDICADOR - 2012
																-- Clube Lotus Campanha 03 Ciclo 05
																-- ***********************************************
																EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	2,
																	@CD_ESTRUTURA,
																	@NM_CICLO,
																	2012,
																	@V_ATIVA_CICLO_ATUAL,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
															END

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 4 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 4
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			5,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 5 - Clube Lotus Campanha 03 Ciclo 05
												-- ***************************************************
												IF @V_VLR_2031 = 5
													BEGIN
														
														-- ***********************************************
														-- INSERE INDICADOR - 2011
														-- Clube Lotus Campanha 03
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2011,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
																
														-- ***********************************************
														-- INSERE INDICADOR - 2013
														-- Clube Lotus Campanha 03 Ciclo 06
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2013,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 5 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 5
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			6,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 6 - Clube Lotus Campanha 03 Ciclo 06
												-- ***************************************************
												IF @V_VLR_2031 = 6
													BEGIN
														
														-- ***********************************************
														-- INSERE INDICADOR - 2016
														-- Clube Lotus Campanha 04
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2016,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
																
														-- ***********************************************
														-- INSERE INDICADOR - 2017
														-- Clube Lotus Campanha 04 Ciclo 07
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2017,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 6 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 6
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			7,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 7 - Clube Lotus Campanha 04 Ciclo 07
												-- ***************************************************
												IF @V_VLR_2031 = 7
													BEGIN
														
														-- ***********************************************
														-- INSERE INDICADOR - 2016
														-- Clube Lotus Campanha 04
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2016,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
																
														-- ***********************************************
														-- INSERE INDICADOR - 2018
														-- Clube Lotus Campanha 04 Ciclo 08
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2018,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 7 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 7
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			8,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 8 - Clube Lotus Campanha 04 Ciclo 08
												-- ***************************************************
												IF @V_VLR_2031 = 8
													BEGIN
														
														-- ***********************************************
														-- INSERE INDICADOR - 2021
														-- Clube Lotus Campanha 05
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2021,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
																
														-- ***********************************************
														-- INSERE INDICADOR - 2022
														-- Clube Lotus Campanha 05 Ciclo 09
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2022,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 8 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 8
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			9,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 9 - Clube Lotus Campanha 05 Ciclo 09
												-- ***************************************************
												IF @V_VLR_2031 = 9
													BEGIN
														
														-- ***********************************************
														-- INSERE INDICADOR - 2021
														-- Clube Lotus Campanha 05
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2021,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
																
														-- ***********************************************
														-- INSERE INDICADOR - 2023
														-- Clube Lotus Campanha 05 Ciclo 10
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2023,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 9 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 9
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			10,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END


												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 10 - Clube Lotus Campanha 05 Ciclo 10
												-- ***************************************************
												IF @V_VLR_2031 = 10
													BEGIN
														
														-- ***********************************************
														-- INSERE INDICADOR - 2026
														-- Clube Lotus Campanha 06
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2026,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
																
														-- ***********************************************
														-- INSERE INDICADOR - 2027
														-- Clube Lotus Campanha 06 Ciclo 11
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2027,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 10 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 10
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			11,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END
									
												
												-- ***************************************************
												-- Clube Lotus do Ciclo Anterior é igual
												-- 11 - Clube Lotus Campanha 06 Ciclo 11
												-- ***************************************************
												IF @V_VLR_2031 = 11
													BEGIN
														
														-- ***********************************************
														-- INSERE INDICADOR - 2026
														-- Clube Lotus Campanha 06
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2026,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
																
														-- ***********************************************
														-- INSERE INDICADOR - 2028
														-- Clube Lotus Campanha 06 Ciclo 12
														-- ***********************************************
														EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															2,
															@CD_ESTRUTURA,
															@NM_CICLO,
															2028,
															@V_ATIVA_CICLO_ATUAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0

														-- *******************************************
														-- A PARTIR DESSE MOMENTO TEMOS QUE VERIFICAR
														-- SE EXISTE OUTRO CICLO QUE A PESSOA 
														-- NÃO É ATIVA
														-- *******************************************
														IF @V_ATIVA_CICLO_ATUAL = 0
															BEGIN

																-- *****************************************************
																-- SE NÃO FOR ATIVA TEMOS QUE VERIFICAR 
																-- SE ALGUM OUTRO CICLO TAMBEM NÃO É ATIVA
																-- *****************************************************
																SELECT @V_ATIVA_CICLOS_ANTERIORES = SUM(VL_INDICADOR_PESSOAL)
																FROM TB_PESSOA_INDICADOR
																WHERE NM_CICLO >= 201901
																AND CD_INDICADOR_PESSOAL = 1
																AND NM_CICLO <= DBO.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
																AND CD_PESSOA = @CD_PESSOA

																-- SE OS CICLOS ANTERIORES FOR IGUAL A 11 CONTINUA O PROCESSO
																IF @V_ATIVA_CICLOS_ANTERIORES = 11
																	BEGIN

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			12,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	


																	END
																ELSE
																	BEGIN
																		
																		-- EXISTE OUTRO CICLO QUE NÃO FOI ATIVA

																		-- ***********************************************
																		-- INSERE INDICADOR - 2031
																		-- Clube Lotus - Campanha Atual
																		-- ***********************************************
																		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																			2,
																			@CD_ESTRUTURA,
																			@NM_CICLO,
																			2031,
																			0,
																			@CD_USUARIO,
																			'I',
																			0,
																			'',
																			0	



																	END

															END
														
													END

											END
									END
					
							END --@NM_CICLO >= 201901


						FETCH NEXT FROM @Cursor_Pessoa
						INTO @CD_PESSOA
					END
								

				FETCH NEXT FROM @Cursor_EC
				INTO @NM_CICLO, @CD_ESTRUTURA
			
				
			END

	 	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
