SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/************************************************************

CD_PESSOA = 0 TRAZ TODOS OS REGISTROS

************************************************************/

CREATE PROCEDURE [dbo].[pr_PessoaListaPessoaJurdicaPorCodigo]
	@CD_PESSOA NUMERIC(18,0)	

	
AS
		SELECT	P.CD_PESSOA, 
				P.DC_RAZAO_SOCIAL,
				P.DC_NOME_FANTASIA,
				P.ID_TIPO_ATIVIDADE
        FROM TB_PESSOA_JURIDICA P
        WHERE	P.CD_PESSOA =
			CASE WHEN @CD_PESSOA > 0 THEN 
				@CD_PESSOA 
			ELSE
				P.CD_PESSOA
			END
		


GO
