SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_TreinamentoInsereTreinamento]
	@p_cdTreinamento			NUMERIC(18,0),
	@p_dcTreinamento			varchar(80),
	@p_idSituacaoTreinamento	int,
	@p_cdUsuario				NUMERIC(18,0),
	@p_dcAcao					VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT

AS


DECLARE @v_qtdEventoTreinamento INT


BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0

		IF @p_dcAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_TREINAMENTO (
					DC_TREINAMENTO,
					ID_SITUACAO_TREINAMENTO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES           (
					@p_dcTreinamento,
					@p_idSituacaoTreinamento,
					GETDATE(), 
					@p_cdUsuario, 
					GETDATE(), 
					@p_cdUsuario
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_TREINAMENTO')
		 
				COMMIT TRANSACTION
			END
	
	
		IF @p_dcAcao = 'A'
			BEGIN
				BEGIN TRANSACTION 
				
				UPDATE TB_TREINAMENTO 
				SET DC_TREINAMENTO = @p_dcTreinamento,
					ID_SITUACAO_TREINAMENTO = @p_idSituacaoTreinamento,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_cdUsuario
				WHERE  CD_TREINAMENTO  = @p_cdTreinamento
							
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @p_dcAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				-- SOMENTE VAMOS APAGAR SE NÃO TIVER NENHUM EVENTO ASSOCIADO

				SELECT @v_qtdEventoTreinamento = COUNT(*) 
				FROM TB_EVENTO
				WHERE CD_TREINAMENTO  = @p_cdTreinamento

				IF @v_qtdEventoTreinamento = 0
					BEGIN
						DELETE FROM TB_TREINAMENTO
						WHERE  CD_TREINAMENTO  = @p_cdTreinamento
					END

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END
				

		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
