SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaBonificacaoNivel3]
        @CD_MN_REMUNERACAO NUMERIC(18,0),
	@DS_REMUNERACAO    VARCHAR (60)
AS

BEGIN
--SELECT C.DS_REMUNERACAO AS "Ganho",
--       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN 'VALOR'
--		      ELSE 'PERCENTUAL'  END AS "Regra Ganho",
--       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN I.CD_PESSOA ELSE P.CD_PESSOA END AS "Código",
--       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN dbo.FN_BUSCA_NOME_PESSOA(I.CD_PESSOA) ELSE dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) END AS "Nome",
--       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN 'INDICADOR' ELSE 'PEDIDO ('+CONVERT(VARCHAR,P.DT_PAGAMENTO_PEDIDO,103)+')' END AS "Origem",
--       A.NM_ORIGEM_MN AS "Número",
--       A.NM_NIVEL AS "Nível",
--	   R.VALOR_PONTO AS "Métrica",
--       A.VL_ORIGEM_MN AS "Base do Calculo",
--	   A.VL_PERCENTUAL_REM AS "Taxa",
--       A.VL_REMUNERACAO AS "Valor Calculado"
SELECT C.DS_REMUNERACAO AS "Ganho",
       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN 'VALOR'
		      ELSE 'PERCENTUAL'  END AS "Regra Ganho",
       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN I.CD_PESSOA ELSE P.CD_PESSOA END AS "Código",
       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN dbo.FN_BUSCA_NOME_PESSOA(I.CD_PESSOA) ELSE dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) END AS "Nome",
       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE (CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN 'INDICADOR' ELSE 'PEDIDO ('+CONVERT(VARCHAR,P.DT_PAGAMENTO_PEDIDO,103)+')' END) END AS "Origem",
       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN  NULL ELSE A.NM_ORIGEM_MN END AS "Número",
       A.NM_NIVEL AS "Nível",
	   Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE (case when (isnull(c.CD_PRODUTO,0) = 0) then 'VALOR' ELSE R.VALOR_PONTO END) END AS "Métrica",  -- cambela para tratar o bônus e-commerce da A SÓS
       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE A.VL_ORIGEM_MN END AS "Base do Calculo",
	   Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE A.VL_PERCENTUAL_REM END AS "Taxa",
       --dbo.FN_ConverteMoedaReal(A.VL_REMUNERACAO) AS "Valor Calculado"
	   dbo.FN_ConverteMoedaReal(Case A.ID_MOTIVO_REMUNERACAO
                          WHEN 1 THEN A.VL_REMUNERACAO * 1
                          WHEN 2 THEN A.VL_REMUNERACAO * -1 END) AS "Valor Calculado"


FROM TB_MN_DETALHE_REMUNERACAO A 
     JOIN TB_MN_REMUNERACAO        B ON A.CD_MN_REMUNERACAO = B.CD_MN_REMUNERACAO
     JOIN TB_MN_REGRA_REMUNERACAO  C ON A.CD_REGRA_PREMIACAO_MN = C.CD_REMUNERACAO
     LEFT JOIN TB_PEDIDO           P ON A.NM_ORIGEM_MN          = P.NM_PEDIDO
     LEFT JOIN TB_PESSOA_INDICADOR I ON A.NM_ORIGEM_MN          = I.CD_PESSOA
                                    AND A.NM_CICLO              = I.NM_CICLO
			            AND A.CD_FUNCAO             = I.CD_FUNCAO
				    AND C.CD_INDICADOR_PESSOAL  = I.CD_INDICADOR_PESSOAL,
    (SELECT CASE WHEN (ID_APLICA_REMUNERACAO_VALOR_PONTO = 1) THEN 'VALOR' ELSE 'PONTO' END AS VALOR_PONTO from TB_MN_REGRA_GERAL) R
WHERE A.CD_MN_REMUNERACAO     = @CD_MN_REMUNERACAO
AND   C.DS_REMUNERACAO        = @DS_REMUNERACAO
order by C.DS_REMUNERACAO, CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN dbo.FN_BUSCA_NOME_PESSOA(I.CD_PESSOA) ELSE dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) END


END
GO
