SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_IndicadorListaIndicadorMMN]
	@CD_PESSOA        NUMERIC(18,0),
        @CD_FUNCAO        NUMERIC(18,0),
        @NM_CICLO_INI     NUMERIC(18,0),
        @NM_CICLO_FIM     NUMERIC(18,0),
        @ID_TIPO_INDICADOR  INT,
        @CD_INDICADOR_PESSOAL NUMERIC(18,0) 
	
AS

    SELECT TP.NM_CICLO,
           TP.CD_INDICADOR_PESSOAL,
           TI.DC_INDICADOR_PESSOAL,
		   CONVERT(nvarchar,cast(TP.VL_INDICADOR_PESSOAL as money),1) VL_INDICADOR_PESSOAL
    FROM TB_PESSOA_INDICADOR  TP WITH(NOLOCK),
         TB_INDICADOR_PESSOAL TI WITH(NOLOCK)
    WHERE TP.CD_PESSOA            = @CD_PESSOA
    AND   TP.CD_FUNCAO            = @CD_FUNCAO
    AND   TP.NM_CICLO BETWEEN @NM_CICLO_INI AND @NM_CICLO_FIM
    AND   TP.CD_INDICADOR_PESSOAL = TI.CD_INDICADOR_PESSOAL
    AND   TI.ID_TIPO_INDICADOR    = 
			CASE WHEN @ID_TIPO_INDICADOR > 0 THEN
					@ID_TIPO_INDICADOR
			ELSE
					TI.ID_TIPO_INDICADOR
			END
    AND	  TP.CD_INDICADOR_PESSOAL =
			CASE WHEN @CD_INDICADOR_PESSOAL > 0 THEN 
				  @CD_INDICADOR_PESSOAL 
			ELSE
				  TP.CD_INDICADOR_PESSOAL
			END
    ORDER BY TP.NM_CICLO,TP.CD_INDICADOR_PESSOAL
GO
