SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PedidoGravaHistoricoPedidoTemp]
	@p_numeroPedidoTemp		NUMERIC(18,0),
	@p_codigoEstSituacao	NUMERIC(18,0),
	@p_idInicioFim			INT,	
	@p_descMotivo			VARCHAR(300),
	@p_codigoUsuario		NUMERIC(18,0),
	
	@p_codigoRetorno		INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas		INT OUTPUT
	
AS

BEGIN TRY

	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_descErro = ''
	    SELECT @p_codigoRetorno = 0

			IF @p_idInicioFim = 1
				BEGIN
					BEGIN TRANSACTION 
		
					-- CRIA REGISTRO
					INSERT INTO TB_WRK_PEDIDO_TEMP_HISTORICO (
							NM_PEDIDO_TEMP,
							CD_EST_SITUACAO,
							DT_INICIAL,
							CD_USUARIO_INICIAL,
							DC_MOTIVO)
					VALUES           (
							@p_numeroPedidoTemp,
							@p_codigoEstSituacao,
							GETDATE(), 
							@p_codigoUsuario, 
							@p_descMotivo)
						
					SELECT @p_linhasAfetadas = @@ROWCOUNT
					COMMIT TRANSACTION
		
		
				END
			ELSE
				BEGIN
					BEGIN TRANSACTION 
		
					-- ALTERA DATA FINAL
					UPDATE TB_WRK_PEDIDO_TEMP_HISTORICO SET
						DT_FINAL = GETDATE(),
						CD_USUARIO_FINAL = @p_codigoUsuario,
						DC_MOTIVO = @p_descMotivo
					WHERE NM_PEDIDO_TEMP = @p_numeroPedidoTemp
					    AND CD_EST_SITUACAO = @p_codigoEstSituacao
			
					SELECT @p_linhasAfetadas = @@ROWCOUNT
					COMMIT TRANSACTION
								
				END
		
		SELECT @p_codigoRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoRetorno = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
