SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@CD_EST_COMERCIAL NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@NM_PEDIDO NUMERIC(18,0),
	@ID_EVENTO INT,
	@ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
    @ID_MOMENTO_CALCULO_INDICADOR INT,
	@CD_USUARIO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

/*

ID_EVENTO = 1 - APROVAÇÃO DE PEDIDO
ID_EVENTO = 2 - CANCELAMENTO DE PEDIDO APROVADO
ID_EVENTO = 3 - ALOCACAO DE REDE
ID_EVENTO = 4 - PAGAMENTO DE PEDIDO
ID_EVENTO = 5 - CANCELAMENTO DE PAGAMENTO DE PEDIDO
ID_EVENTO = 6 - FIM DIA
ID_EVENTO = 7 - ALTERAR PAPEL MANUALMENTE
ID_EVENTO = 8 - REAVALIAR CREDITO
ID_EVENTO = 9 - TEMPO REAL

*/

DECLARE @CD_CLIENTE NUMERIC(18,0)

BEGIN TRY

	    	    
	    SELECT @QT_LINHAS_AFETADAS = 0
		
		-- *********************************************
		-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
		-- *********************************************
		select @CD_CLIENTE = vl_parametro 
		from TB_valor_PARAMETRO  with (NOLOCK)
		where CD_GRUPO_PARAMETRO = 6
		and CD_PARAMETRO = 1
		and CD_VALOR_PARAMETRO  =1
		

		-- *******************************
		-- ATS - GERAL
		-- *******************************
		if @CD_CLIENTE = 1
			BEGIN
								
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_ATS
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
				
			END 
	

		-- *******************************
		-- PIERRE
		-- *******************************
		if @CD_CLIENTE = 20
			BEGIN
								
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_PIERRE
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 

		-- *******************************
		-- PHYTO
		-- *******************************
		if @CD_CLIENTE = 21
			BEGIN
								
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_PHY
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 


		-- *******************************
		-- A SÓS
		-- *******************************
		if @CD_CLIENTE = 25
			BEGIN
								
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_ASOS
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 


		-- *******************************
		-- CLOROFITUM
		-- *******************************
		if @CD_CLIENTE = 33
			BEGIN
								
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_CLOROFITUM
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 



		-- *******************************
		-- CACAU SHOW
		-- *******************************
		if @CD_CLIENTE = 37
			BEGIN
								
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_CACAUSHOW
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 







		-- *******************************
		-- MAKIE
		-- *******************************
		if @CD_CLIENTE = 43
			BEGIN
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_MAKIE
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 



		-- *******************************
		-- MAHOGANY
		-- *******************************
		if @CD_CLIENTE = 47
			BEGIN
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_MAHOGANY
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 



		-- *******************************
		-- ELLAS
		-- *******************************
		if @CD_CLIENTE = 50
			BEGIN
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_ELLAS
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 


		-- *******************************
		-- YES
		-- *******************************
		if @CD_CLIENTE = 52
			BEGIN
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_YES
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 

		-- *******************************
		-- WEST1
		-- *******************************
		if @CD_CLIENTE = 53
			BEGIN
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_WEST1
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 


		-- *******************************
		-- BECORE
		-- *******************************
		if @CD_CLIENTE = 56
			BEGIN
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_BECORE
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 




		-- *******************************
		-- KENKO PATTO
		-- *******************************
		if @CD_CLIENTE = 55
			BEGIN
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_KENKOPATTO
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 

		-- *******************************
		-- LOWELL
		-- *******************************
		if @CD_CLIENTE = 57
			BEGIN
				EXEC dbo.SP_CALCULA_PESSOA_INDICADOR_LOWELL
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@NM_PEDIDO,
					@ID_EVENTO,
					@ID_TIPO_ATUALIZACAO,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
					@ID_MOMENTO_CALCULO_INDICADOR,
					@CD_USUARIO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 



		SELECT @VAR_RETORNO = 0
		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
