SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- **************************************************************************************************************
-- PROCEDURE CRIADA POR ANDERSON - 19/03/2024
-- RETORNA AS PESQUISAS FEITAS NO SERASA
-- @DT_PESQUISA_INICIAL E @DT_PESQUISA_FINAL - PERIODOS DE DATA DA CONSULTA
-- @DC_CPF - CPF A SER PESQUISADO
-- @CD_PESSOA - PESSOA A SER PESQUISADA
-- @CD_PESSOA_LOGIN - USADO NO PROCESSO DE FRANQUIA. PESSOA LOGADA NO SISTEMA. PELA PESSOA LOGADA CONSEGUIMOS INDTIFICAR A EST. COMERCIALD A FRANQUIA
-- @CD_ACESSO_MATRIZ - SE É ACESSO MATRIZ OU FRANQUIA. SE FOR ACESSO MATRIZ ACESSA TODOS OS DADOS. CASO CONTRARIO APENAS PESSOAS DA EST. COMERCIAL DA FRANQUIA
-- **************************************************************************************************************


CREATE PROCEDURE [dbo].[pr_PessoaConsultaPesquisasFeitasSerasa]
        @DT_PESQUISA_INICIAL	VARCHAR(10),
        @DT_PESQUISA_FINAL		VARCHAR(10),
        @DC_CPF					VARCHAR(20),
        @CD_PESSOA				NUMERIC(18,0),
		@CD_PESSOA_LOGIN		VARCHAR(20),
		@CD_ACESSO_MATRIZ		VARCHAR(1)

		--@V_RETORNO				NVARCHAR(MAX) OUTPUT

AS

BEGIN

DECLARE	@query  AS NVARCHAR(MAX)

-- **************************************************************************************************************
-- acesso franquia -- somente pode verificar as pessoas que estão atreladas a est. comercial da franquia
-- **************************************************************************************************************

If @CD_ACESSO_MATRIZ <> '1'
	BEGIN

		SELECT	X.DT_CONSULTA [Data Consulta],
				X.DC_DOCUMENTO_INFORMADO [Documento],
				X.CD_PESSOA [Código Pessoa],
				X.DC_NOME_INFORMADO [Nome Informado], 
				X.DC_SOBRENOME_INFORMADO [Sobrenome Informado],
				X.DC_EMAIL_INFORMADO [E-mail Informado],
				X.DC_TELEFONE_INFORMADO [Telefone Informado],
				X.DC_ORIGEM_CONSULTA_SERASA [Origem Consulta],
				X.POSSUI_RESTRICAO [Possui Restrição],
				X.DC_RESULTADO_CONSULTA [Resultado Consulta]
		FROM
			(SELECT A.DT_CONSULTA,
					A.DC_DOCUMENTO_INFORMADO,
					(SELECT B.CD_PESSOA FROM TB_PESSOA_DOCUMENTO B WHERE A.DC_DOCUMENTO_INFORMADO = B.DC_DOCUMENTO) CD_PESSOA,
					DC_NOME_INFORMADO, 
					DC_SOBRENOME_INFORMADO,
					DC_EMAIL_INFORMADO,
					DC_TELEFONE_INFORMADO,
					DBO.FN_BUSCA_DOMINIO('ORIGEM_CONSULTA_SERASA', A.ID_ORIGEM_CONSULTA_SERASA) DC_ORIGEM_CONSULTA_SERASA,
					CASE CD_RESULTADO_CONSULTA
						WHEN 1 THEN 'Sim'
						ELSE 'Não'
					END POSSUI_RESTRICAO,
					DC_RESULTADO_CONSULTA
			FROM TB_PESSOA_HISTORICO_CONSULTA_SERASA A
			WHERE ID_EXECUTOU_CONSULTA_SERASA = 1 --SOMENTE AS CONSULTAS QUE FORAM EFETIVADAS NO SERASA
			) X
		WHERE X.DC_DOCUMENTO_INFORMADO = @DC_CPF
			AND X.CD_PESSOA = @CD_PESSOA

			--AND X.CD_PESSOA In (Select PR.CD_PESSOA 
		 --       FROM TB_PESSOA_COLABORADOR PC, TB_CENTRO_DISTRIBUICAO CD, TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC, TB_PESSOA_RESUMO PR 
			--	WHERE PC.CD_PESSOA = @CD_PESSOA_LOGIN
			--	And PC.CD_EMPRESA = CD.CD_EMPRESA 
			--	And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO 
			--	And EC.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL) 
		
		ORDER BY DT_CONSULTA DESC

	END
	
ELSE

	BEGIN

		SET @query = 'SELECT	X.DT_CONSULTA [Data Consulta], '
				SET @query = @query + '	X.DC_DOCUMENTO_INFORMADO [Documento], '
				SET @query = @query + '	X.CD_PESSOA [Código Pessoa], '
				SET @query = @query + '	X.DC_NOME_INFORMADO [Nome Informado], ' 
				SET @query = @query + '	X.DC_SOBRENOME_INFORMADO [Sobrenome Informado], '
				SET @query = @query + '	X.DC_EMAIL_INFORMADO [E-mail Informado], '
				SET @query = @query + '	X.DC_TELEFONE_INFORMADO [Telefone Informado], '
				SET @query = @query + '	X.DC_ORIGEM_CONSULTA_SERASA [Origem Consulta], '
				SET @query = @query + '	X.POSSUI_RESTRICAO [Possui Restrição], '
				SET @query = @query + '	X.DC_RESULTADO_CONSULTA [Resultado Consulta] '
		SET @query = @query + '	FROM '
			SET @query = @query + '	(SELECT A.DT_CONSULTA, '
					SET @query = @query + '	A.DC_DOCUMENTO_INFORMADO, '
					SET @query = @query + '	(SELECT MAX(B.CD_PESSOA) FROM TB_PESSOA_DOCUMENTO B WHERE A.DC_DOCUMENTO_INFORMADO = B.DC_DOCUMENTO) CD_PESSOA, '
					SET @query = @query + '	DC_NOME_INFORMADO, '
					SET @query = @query + '	DC_SOBRENOME_INFORMADO, '
					SET @query = @query + '	DC_EMAIL_INFORMADO, '
					SET @query = @query + '	DC_TELEFONE_INFORMADO, '
					SET @query = @query + '	DBO.FN_BUSCA_DOMINIO(''ORIGEM_CONSULTA_SERASA'', A.ID_ORIGEM_CONSULTA_SERASA) DC_ORIGEM_CONSULTA_SERASA, '
					SET @query = @query + '	CASE CD_RESULTADO_CONSULTA '
						SET @query = @query + '	WHEN 1 THEN ''Sim'' '
						SET @query = @query + '	ELSE ''Não'' '
					SET @query = @query + '	END POSSUI_RESTRICAO, '
					SET @query = @query + '	DC_RESULTADO_CONSULTA '
			SET @query = @query + '	FROM TB_PESSOA_HISTORICO_CONSULTA_SERASA A '
			SET @query = @query + '	WHERE ID_EXECUTOU_CONSULTA_SERASA = 1 '
			SET @query = @query + '	) X '
		SET @query = @query + '	WHERE 1 = 1 '
			
			
		IF @DT_PESQUISA_INICIAL <> ''
			BEGIN
				SET @query = @query + '	AND X.DT_CONSULTA >= CONVERT(DATE, ''' + @DT_PESQUISA_INICIAL + ''', 103) '
			END

		
		IF @DT_PESQUISA_FINAL <> ''
			BEGIN
				SET @query = @query + '	AND X.DT_CONSULTA <= CONVERT(DATE, ''' + @DT_PESQUISA_FINAL + ''', 103)'
			END

		
		IF @DC_CPF <> ''
			BEGIN
				SET @query = @query + '	AND X.DC_DOCUMENTO_INFORMADO = ''' + @DC_CPF + ''''
			END
	
		IF @CD_PESSOA <>  0
			BEGIN
				SET @query = @query + '	AND X.CD_PESSOA = ' + CONVERT(VARCHAR(20), @CD_PESSOA)
			END


				
		SET @query = @query + '	ORDER BY DT_CONSULTA DESC '

	END


	EXEC(@query);

	--SELECT @V_RETORNO = @query

END



GO
