SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiProdutoInsereProdutoVendaImagem]
	@p_codigoProdutoVenda	VARCHAR(80),
	@p_descNomeImagem		VARCHAR(200),
	@p_arqImagem			VARBINARY(MAX),
	
	@p_descAcao				VARCHAR(1), 
	@p_codigoUsuario		NUMERIC(18,0),

	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT

AS
DECLARE @v_codigoProduto	NUMERIC(18,0)

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	-- busca o código interno do produto
	SELECT @v_codigoProduto = MIN(CD_PRODUTO_VENDA)
		FROM TB_PRODUTO_VENDA WITH(NOLOCK)
		WHERE CD_PRODUTO_VENDA_EXTERNO = RTRIM(LTRIM(@p_codigoProdutoVenda))

	IF @v_codigoProduto = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Produto informado não encontrado'

			RETURN
		END

	IF @p_descAcao = 'I'
		BEGIN
			-- REALIZA A INSERÇÃO DAS INFORMAÇÕES NA TABELA
			INSERT INTO TB_PRODUTO_VENDA_FOTO (CD_PRODUTO_VENDA,
											   DC_IMAGEM,
											   CD_USUARIO_ATUALIZACAO,
											   ARQ_IMAGEM)
									   VALUES (@v_codigoProduto,
												@p_descNomeImagem,
												@p_codigoUsuario,
												@p_arqImagem)
		END

	IF @p_descAcao = 'A'
		BEGIN
			--REALIZA A ATUALIZAÇÃO DOS DADOS
			UPDATE TB_PRODUTO_VENDA_FOTO SET CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
											 ARQ_IMAGEM = @p_arqImagem
			 WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			   AND DC_IMAGEM = @p_descNomeImagem

		END

	IF @p_descAcao = 'E'
		BEGIN
			-- EXCLUI A FOTO COM BASE NO NOME
			DELETE FROM TB_PRODUTO_VENDA_FOTO 
			WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			AND DC_IMAGEM = @p_descNomeImagem

		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
