SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_ServicoExternoInsereConfiguracao]
			@DC_SERVICO_EXTERNO			VARCHAR(80)
		   ,@ID_ENTIDADE_SERVICO		INT
		   ,@ID_SITUACAO				INT
           ,@DC_USUARIO					VARCHAR(80)
           ,@DC_SENHA					VARCHAR(80)
		   ,@ID_NOME_SERVICO_EXTERNO	INT	
		   ,@ID_AMBIENTE				INT
           ,@DC_TOKEN					VARCHAR(100)
		   ,@DC_TOKEN_ACESSO			VARCHAR(100)
		   ,@DC_CONTRATO				VARCHAR(80)
		   ,@DC_CARTAO_POSTAGEM			VARCHAR(80)
		   ,@DC_CNPJ					VARCHAR(50)
		   ,@DC_CHAVE_ACESSO			VARCHAR(500)
		   ,@DC_CHAVE_PUBLICA_ACESSO	VARCHAR(MAX)
		   ,@CD_CENTRO_DISTRIBUICAO		NUMERIC(18,0)
		   ,@CD_SERVICO_EXTERNO			NUMERIC(18,0)

		   ,@CD_USUARIO					NUMERIC(18,0)
		   ,@VAR_TIPO_FUNCAO			VARCHAR(1)
		   ,@VAR_RETORNO				INT OUTPUT
		   ,@DC_ERRO					NVARCHAR(MAX) OUTPUT
		   ,@QT_LINHAS_AFETADAS			INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				BEGIN TRANSACTION 

					INSERT INTO [dbo].[TB_SERVICO_EXTERNO] (

						[DC_SERVICO_EXTERNO],
						[ID_ENTIDADE_SERVICO],
						[ID_SITUACAO],
						[DC_USUARIO],
						[DC_SENHA],
						[ID_NOME_SERVICO_EXTERNO],
						[ID_AMBIENTE],
						[DC_TOKEN],
						[DC_TOKEN_ACESSO],
						[DC_CONTRATO],
						[DC_CARTAO_POSTAGEM],
						[DC_CNPJ],
						[DC_CHAVE_ACESSO],
						[DC_CHAVE_PUBLICA_ACESSO],
						[CD_CENTRO_DISTRIBUICAO],
						[DT_CADASTRO],
						[CD_USUARIO_CADASTRO],
						[DT_ATUALIZACAO],
						[CD_USUARIO_ATUALIZACAO]
						)

					VALUES	
						(@DC_SERVICO_EXTERNO,
						@ID_ENTIDADE_SERVICO,
						@ID_SITUACAO,
						@DC_USUARIO,
						@DC_SENHA,
						@ID_NOME_SERVICO_EXTERNO,
						@ID_AMBIENTE,
						@DC_TOKEN,
						@DC_TOKEN_ACESSO,
						@DC_CONTRATO,
						@DC_CARTAO_POSTAGEM,
						@DC_CNPJ,
						@DC_CHAVE_ACESSO,
						@DC_CHAVE_PUBLICA_ACESSO,
						@CD_CENTRO_DISTRIBUICAO,
						GETDATE(),
						@CD_USUARIO,
						GETDATE(),
						@CD_USUARIO)
					
				
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'A'

			BEGIN
				UPDATE TB_SERVICO_EXTERNO SET
     				DC_SERVICO_EXTERNO = @DC_SERVICO_EXTERNO,
					ID_ENTIDADE_SERVICO = @ID_ENTIDADE_SERVICO,
					ID_SITUACAO = @ID_SITUACAO,
					DC_USUARIO = @DC_USUARIO,
					DC_SENHA = @DC_SENHA,
					ID_NOME_SERVICO_EXTERNO = @ID_NOME_SERVICO_EXTERNO,
					ID_AMBIENTE = @ID_AMBIENTE,
					DC_TOKEN = @DC_TOKEN,
					DC_TOKEN_ACESSO = @DC_TOKEN_ACESSO,
					DC_CONTRATO = @DC_CONTRATO,
					DC_CARTAO_POSTAGEM = @DC_CARTAO_POSTAGEM,
					DC_CNPJ = @DC_CNPJ,
					DC_CHAVE_ACESSO = @DC_CHAVE_ACESSO,
					DC_CHAVE_PUBLICA_ACESSO = @DC_CHAVE_PUBLICA_ACESSO,
					CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO
				WHERE 	CD_SERVICO_EXTERNO = @CD_SERVICO_EXTERNO
			END
				
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
