SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PlanoAdesaoBuscaPlanosDisponiveisPessoa]
	@p_codigoPessoa	NUMERIC(18,0),
	@p_codigoFuncao	INT

AS

DECLARE @cols						NVARCHAR(MAX),
		@cols1						NVARCHAR(MAX),
		@query						NVARCHAR(MAX),
		@v_codigoPlanoAdesaoAtual	NUMERIC(18,0),
		@v_idNivelPlanoAdesaoAtual	INT,
		@v_dataRenovacao			DATE

	-- ************************************************************************************************
	-- ESTA PROCEDURE IRÁ AVALIAR OS PLANOS DE ADESÃO DISPONÍVEIS PARA A PESSOA, PARA QUE ELA POSSA REALIZAR UM UPGRADE OU RENOVAÇÃO DE UM PLANO EXISTENTE
	-- ************************************************************************************************

	-- PRIMEIRO VAMOS BUSCAR OS DADOS DO PLANO DE ADESÃO ATUAL (CASO EXISTA)
	SELECT  @v_codigoPlanoAdesaoAtual = COUNT(PEA.CD_PLANO_ADESAO)
	  FROM TB_PESSOA_PLANO_ADESAO PEA WITH(NOLOCK), TB_PLANO_ADESAO PA WITH(NOLOCK)
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND PEA.CD_PLANO_ADESAO = PA.CD_PLANO_ADESAO
	   AND PEA.ID_SITUACAO_PESSOA_PLANO_ADESAO = 1

	IF @v_codigoPlanoAdesaoAtual = 0
		BEGIN
			SELECT @v_idNivelPlanoAdesaoAtual = 0
		END
	ELSE
		BEGIN
			SELECT  @v_codigoPlanoAdesaoAtual = PEA.CD_PLANO_ADESAO,
					@v_idNivelPlanoAdesaoAtual = PA.ID_NIVEL_PLANO_ADESAO,
					@v_dataRenovacao = PEA.DT_ALERTA_RENOVACAO
			  FROM TB_PESSOA_PLANO_ADESAO PEA WITH(NOLOCK), TB_PLANO_ADESAO PA WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND PEA.CD_PLANO_ADESAO = PA.CD_PLANO_ADESAO
			   AND PEA.ID_SITUACAO_PESSOA_PLANO_ADESAO = 1
		END

	-- SE ESTIVER NO PERÍODO DE RENOVAÇÃO VAMOS MOSTRAR OS PLANOS DO MESMO NÍVEL E SUPERIORES
	IF @v_dataRenovacao < CONVERT(DATE,GETDATE())
		BEGIN
			SELECT @v_idNivelPlanoAdesaoAtual = 0
		END

	SELECT @cols=   COALESCE(
					(SELECT DISTINCT ',' + QUOTENAME(PA.CD_PLANO_ADESAO)
					   FROM TB_PESSOA_RESUMO PR WITH(NOLOCK), TB_PLANO_ADESAO PA WITH(NOLOCK), TB_PLANO_ADESAO_PAPEL PAP WITH(NOLOCK)
					  WHERE PR.CD_PESSOA = @p_codigoPessoa
						AND PR.CD_FUNCAO = @p_codigoFuncao
						AND PA.CD_PLANO_ADESAO = PAP.CD_PLANO_ADESAO
						AND ISNULL(PAP.CD_PAPEL_CARREIRA,PR.CD_PAPEL_CARREIRA) = PR.CD_PAPEL_CARREIRA
						AND ISNULL(PAP.CD_PAPEL_DESEMPENHO,PR.CD_PAPEL_DESEMPENHO) = PR.CD_PAPEL_DESEMPENHO
						AND PA.ID_NIVEL_PLANO_ADESAO > @v_idNivelPlanoAdesaoAtual
						AND PA.VL_PLANO_ADESAO > 0
						AND PA.ID_SITUACAO_PLANO_ADESAO = 1 -- PLANOS ATIVOS
					FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 

	IF LEN(@cols) > 0
		BEGIN
			-- RETIRA O PRIMEIRO CARACTER QUE É A VIRGULA
			-- SE MANTER VAI DAR ERRO NA QUERY ABAIXO
			SELECT @cols = SUBSTRING(@cols, 2, LEN(@cols)-1)

			-- ***********************************************************************
			-- COM AS COLUNAS CRIADAS VAMOS AGORA MONTAR NOSSA QUERY PIVOT
			-- ***********************************************************************
			SET @query = ''
			SET @query = @query + '	SELECT CD_MENU_SISTEMA_EV, DC_MENU_SISTEMA [Funcionalidade], ' + @cols + ' FROM'
			SET @query = @query + '	(select M.CD_MENU_SISTEMA_EV, M.DC_MENU_SISTEMA, M.ID_ATIVO, M.ID_ULTIMO_NIVEL, P.CD_PLANO_ADESAO, COUNT(P.CD_PLANO_ADESAO) PLANO'
			SET @query = @query + '	from TB_MENU_SISTEMA_EV M WITH(NOLOCK) LEFT JOIN TB_PLANO_ADESAO_MENU_SISTEMA_EV PM WITH(NOLOCK)'
			SET @query = @query + '	ON M.CD_MENU_SISTEMA_EV = PM.CD_MENU_SISTEMA_EV'
			SET @query = @query + '	LEFT JOIN TB_PLANO_ADESAO P WITH(NOLOCK) ON PM.CD_PLANO_ADESAO = P.CD_PLANO_ADESAO'
			SET @query = @query + '	GROUP BY M.CD_MENU_SISTEMA_EV,M.DC_MENU_SISTEMA,P.CD_PLANO_ADESAO, M.ID_ATIVO, M.ID_ULTIMO_NIVEL) X'
			SET @query = @query + '	PIVOT( COUNT(PLANO) FOR X.CD_PLANO_ADESAO IN (' + @cols + ')) AS Y'
			SET @query = @query + ' WHERE ID_ATIVO = 1 AND ID_ULTIMO_NIVEL = 1 ORDER BY 1'

			EXEC(@query);
		END
	ELSE
		BEGIN
			SET @query = 'SELECT NULL'

			EXEC(@query);
		END
GO
