SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaIndicadoresRede]
	@CD_PESSOA               NUMERIC(18,0),
    @NM_CICLO_INICIAL        NUMERIC(18,0),
	@NM_CICLO_FINAL		     NUMERIC(18,0)

	--@V_RETORNO					NVARCHAR(MAX) OUTPUT
		
	    
AS

DECLARE @CD_CLIENTE			NUMERIC(18,0)
DECLARE @CD_ORDENACAO		INT

DECLARE	@query  AS NVARCHAR(MAX)


BEGIN

  -- *********************************************
  -- BUSCA CAMPO DE ORDENAÇÃO
  -- 1 PARA CODIGO E 2 PARA NOME
  -- *********************************************
	select @CD_ORDENACAO = vl_parametro 
	from TB_valor_PARAMETRO
	where CD_GRUPO_PARAMETRO = 9
	and CD_PARAMETRO         = 122
	and CD_VALOR_PARAMETRO   = 1


  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
	select @CD_CLIENTE = vl_parametro 
	from TB_valor_PARAMETRO
	where CD_GRUPO_PARAMETRO = 6
	and CD_PARAMETRO         = 1
	and CD_VALOR_PARAMETRO   = 1

   

	IF @CD_CLIENTE IN (41)    -- AKMOS
		BEGIN 

		
			SET @query = 'SELECT	X.NM_CICLO [Ciclo], X.CD_INDICADOR_PESSOAL [Código], '
			SET @query = @query + '	X.DC_INDICADOR_PESSOAL [Indicador], '
			SET @query = @query + '	DBO.FN_ConverteValor(SUM(VL_INDICADOR_PESSOAL)) [Valor Total], '
			SET @query = @query + '	DBO.FN_ConverteValor(SUM(X.META)) [Necessário], '
			SET @query = @query + '	CASE WHEN (SUM(X.META)-SUM(X.VL_INDICADOR_PESSOAL)) > 0 ' 
			SET @query = @query + '	THEN dbo.FN_ConverteValor(SUM(X.META)-SUM(X.VL_INDICADOR_PESSOAL)) '
			SET @query = @query + '	ELSE '
			SET @query = @query + '	dbo.FN_ConverteValor(0) '
			SET @query = @query + '	END [Quanto Falta?] '
			SET @query = @query + '	FROM ( '

			SET @query = @query + '	SELECT	P.NM_CICLO , P.CD_INDICADOR_PESSOAL, '
			SET @query = @query + '	I.DC_INDICADOR_PESSOAL, '
			SET @query = @query + '	ISNULL(P.VL_INDICADOR_PESSOAL,0) VL_INDICADOR_PESSOAL, '
										
			SET @query = @query + '	ISNULL((SELECT MAX(A.VL_INDICADOR_PESSOAL_INICIO) '
			SET @query = @query + '	FROM TB_MN_REGRA_PAPEL_INDICADOR A '
			SET @query = @query + '	WHERE A.CD_INDICADOR_PESSOAL = P.CD_INDICADOR_PESSOAL),0) META, '

			SET @query = @query + '	ISNULL(P.VL_INDICADOR_PESSOAL,0) REALIZADO '
				
			SET @query = @query + '	FROM TB_PESSOA_INDICADOR P, TB_INDICADOR_PESSOAL I '
			SET @query = @query + '	WHERE P.CD_INDICADOR_PESSOAL = I.CD_INDICADOR_PESSOAL '
			SET @query = @query + '	AND ID_MOSTRA_INDICADOR_TELA = 1 AND ID_TIPO_INDICADOR in (3,4) ' 
			SET @query = @query + '	AND P.CD_PESSOA =  ' + CONVERT(VARCHAR(10), @CD_PESSOA)
			SET @query = @query + '	AND P.NM_CICLO >= ' + CONVERT(VARCHAR(10), @NM_CICLO_INICIAL) 
			SET @query = @query + '	AND P.NM_CICLO <= ' + CONVERT(VARCHAR(10), @NM_CICLO_FINAL)  
			SET @query = @query + '	) X '

        	SET @query = @query + '	GROUP BY X.NM_CICLO, '
			SET @query = @query + '	X.DC_INDICADOR_PESSOAL, X.CD_INDICADOR_PESSOAL '

			-- ******************************
			-- ORDENA POR CODIGO
			-- *****************************
			IF @CD_ORDENACAO = 1
				BEGIN
					SET @query = @query + '	ORDER BY X.CD_INDICADOR_PESSOAL ASC'
				END
			ELSE
				BEGIN
					SET @query = @query + '	ORDER BY X.DC_INDICADOR_PESSOAL ASC'
				END


		END

	ELSE
		BEGIN

			SET @query = 'SELECT	P.NM_CICLO [Ciclo], '
			SET @query = @query + '	P.CD_INDICADOR_PESSOAL [Cód. Indicador], '
			SET @query = @query + '	I.DC_INDICADOR_PESSOAL [Indicador], '
			SET @query = @query + '	dbo.FN_ConverteValor (SUM(P.VL_INDICADOR_PESSOAL)) [Valor Total] '
			SET @query = @query + '	FROM TB_PESSOA_INDICADOR P, TB_INDICADOR_PESSOAL I '
			SET @query = @query + '	WHERE P.CD_INDICADOR_PESSOAL = I.CD_INDICADOR_PESSOAL '
			SET @query = @query + '	AND ID_MOSTRA_INDICADOR_TELA = 1 AND ID_TIPO_INDICADOR in (3,4) '
			SET @query = @query + '	AND P.CD_PESSOA =  ' + CONVERT(VARCHAR(10), @CD_PESSOA)
			SET @query = @query + '	AND P.NM_CICLO >= ' + CONVERT(VARCHAR(10), @NM_CICLO_INICIAL) 
			SET @query = @query + '	AND P.NM_CICLO <= ' + CONVERT(VARCHAR(10), @NM_CICLO_FINAL)  
			SET @query = @query + '	GROUP BY P.NM_CICLO, '
			SET @query = @query + '	P.CD_INDICADOR_PESSOAL, '
			--SET @query = @query + '	I.ID_TIPO_INDICADOR, '
			SET @query = @query + '	I.DC_INDICADOR_PESSOAL '
			--SET @query = @query + '	DBO.FN_BUSCA_DOMINIO(''TIPO_INDICADOR'', I.ID_TIPO_INDICADOR) '

			-- ******************************
			-- ORDENA POR CODIGO
			-- *****************************
			IF @CD_ORDENACAO = 1
				BEGIN
					SET @query = @query + '	ORDER by P.CD_INDICADOR_PESSOAL ASC'
				END
			ELSE
				BEGIN
					SET @query = @query + '	ORDER by I.DC_INDICADOR_PESSOAL ASC'
				END

		END

		EXEC(@query);

		--SELECT @V_RETORNO = @query

	
END
























GO
