SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PessoaInsereTelefone]
	@p_codigoPessoa			  NUMERIC(18,0),
	@p_codigoTipoTelefone	  INT,
	@p_descricaoTelefone	  VARCHAR(50),
	@p_descricaoRamal		  VARCHAR(10),
	@p_descricaoContato		  VARCHAR(50),
	@p_codigoOperadora		  INT,
	@p_codigoUtilizaWhatsApp  INT,
	@p_idTipoFuncao			  VARCHAR(1),
	
	@p_codigoUsuario		  NUMERIC(18,0),
	
	@p_codigoErro			  INT OUTPUT,
	@p_descErro				  VARCHAR(200) OUTPUT,
	@p_qtdeLinhasAfetadas	  INT OUTPUT
	
AS

DECLARE @v_qtdTelefone	INT
				
BEGIN TRY
	    
	    SELECT @p_qtdeLinhasAfetadas = 0
	    SELECT @p_codigoErro = 0


		-- ********************************************************************
		-- EXCLUI O QUE JA EXISTE
		-- ********************************************************************
		IF @p_idTipoFuncao = 'E'
			BEGIN
				DELETE FROM 
					TB_PESSOA_TELEFONE
				WHERE 
					CD_PESSOA = @p_codigoPessoa
					AND ID_TIPO_TELEFONE = @p_codigoTipoTelefone
			END


		-- ********************************************************************
		-- ALTERA
		-- ********************************************************************
		IF @p_idTipoFuncao = 'A'
			BEGIN
				UPDATE  TB_PESSOA_TELEFONE 
				SET
					 ID_TIPO_TELEFONE		= @p_codigoTipoTelefone
					,DC_TELEFONE			= @p_descricaoTelefone
					,DC_RAMAL				= @p_descricaoRamal
					,DC_CONTATO				= @p_descricaoContato
					,ID_OPERADORA			= @p_codigoOperadora
					,ID_UTILIZA_WHATSAPP    = @p_codigoUtilizaWhatsApp
					,DT_CADASTRO			= GETDATE()
					,CD_USUARIO_CADASTRO    = @p_codigoUsuario
					,DT_ATUALIZACAO			= GETDATE()
					,CD_USUARIO_ATUALIZACAO = @p_codigoUsuario

					WHERE 
						CD_PESSOA			 = @p_codigoPessoa
						AND ID_TIPO_TELEFONE = @p_codigoTipoTelefone
		
			END

		-- ********************************************************************
		-- INSERE NOVAMENTE
		-- ********************************************************************
		IF @p_idTipoFuncao = 'I'
			BEGIN
				INSERT INTO TB_PESSOA_TELEFONE 
					(CD_PESSOA,
					ID_TIPO_TELEFONE,
					DC_TELEFONE,
					DC_RAMAL,
					DC_CONTATO,
					ID_OPERADORA,
					ID_UTILIZA_WHATSAPP,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@p_codigoPessoa,
					@p_codigoTipoTelefone,
					@p_descricaoTelefone,
					@p_descricaoRamal,
					@p_descricaoContato,
					@p_codigoOperadora,
					@p_codigoUtilizaWhatsApp,
					GETDATE(),
					@p_codigoUsuario,
					GETDATE(),
					@p_codigoUsuario)
			END



END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
