SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     VIEW [dbo].[vw_ApiCargaConciliacaoItem]									
AS																							
SELECT																						
    CD_CARGA_CONCILIACAO_ITEM AS BatchConciliationId,										
    ISNULL(CAST(VL_TARIFAS AS DECIMAL(18,2)), 0) AS Fee,									
    ISNULL(CAST(VL_JUROS AS DECIMAL(18,2)), 0) AS Interest,									
    ISNULL(CAST(VL_TITULO AS DECIMAL(18,2)), 0) AS [Value],									
	ISNULL(CAST(VL_MULTA AS DECIMAL(18,2)), 0) AS Fine,										
    ISNULL(CONVERT(VARCHAR(10), DT_CREDITO, 120), '') AS CreditDate,						
    ISNULL(CAST(BANCO.CD_BANCO AS VARCHAR(10)), '') AS BankCode,							
	ISNULL(CAST(BANCO.DC_AGENCIA_CEDENTE AS VARCHAR(10)), '') AS BankAgency,				
	ISNULL(CAST(BANCO.DC_CONTA_CEDENTE AS VARCHAR(10)), '') AS BankCurrentAccount			
FROM TB_CARGA_CONCILIACAO_ITEM CCI WITH(NOLOCK)												
OUTER APPLY (SELECT BB.CD_BANCO,															
					BB.DC_AGENCIA_CEDENTE,													
					BB.DC_CONTA_CEDENTE														
			 FROM TB_CONCILIACAO C (NOLOCK)													
			 INNER JOIN TB_BOLETO_BANCARIO BB (NOLOCK)										
			 ON BB.CD_PARCELA = C.CD_PARCELA												
			 WHERE C.CD_CARGA_CONCILIACAO_ITEM = CCI.CD_CARGA_CONCILIACAO_ITEM) BANCO		
GO
