SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GRAVA_COMPOSICAO_REDE]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CD_PESSOA_ASCENDENTE NUMERIC(18,0),
		@CD_PESSOA_DESCENDENTE NUMERIC(18,0),
		@CD_PESSOA_VINCULADA NUMERIC(18,0),
		@NM_NIVEL NUMERIC(18,0),
		@Cursor_Pessoas_Desc	CURSOR,
		@CD_PESSOA_DESCENDENTE_ANTERIOR NUMERIC(18,0)

DECLARE @QTD_CONTADOR NUMERIC(18,0)
DECLARE @QTD_CONTADOR_1 NUMERIC(18,0)

DECLARE @V_NOVO INT

BEGIN TRY

--SET @Counter = 1;

    SELECT @QT_LINHAS_AFETADAS = 0

	--BEGIN TRANSACTION 
	
	DELETE FROM TB_WRK_MN_TOPOLOGIA
	WHERE CD_PESSOA = @CD_PESSOA
	AND CD_FUNCAO = @CD_FUNCAO
	AND NM_CICLO = @NM_CICLO
	
	/**************************************************************
	** CALCULA PESSOAS ASCENDENTES ********************************
	**************************************************************/
	
	SELECT @CD_PESSOA_ASCENDENTE = @CD_PESSOA

	SELECT @CD_PESSOA_VINCULADA = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
	FROM TB_PESSOA_VINCULO_HISTORICO
	WHERE CD_PESSOA = @CD_PESSOA_ASCENDENTE
	AND CD_FUNCAO = @CD_FUNCAO
	AND NM_CICLO = @NM_CICLO

	SELECT @NM_NIVEL = 1
	
	WHILE @CD_PESSOA_VINCULADA <> 0
		BEGIN 
				
			INSERT INTO TB_WRK_MN_TOPOLOGIA (
				CD_PESSOA,
				CD_FUNCAO,
				NM_CICLO,
				CD_PESSOA_VINCULADA,
				ID_ORDEM,
				NM_NIVEL,
				ID_TIPO_REDE_MN)
			VALUES 
				(@CD_PESSOA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PESSOA_VINCULADA,
				1,
				@NM_NIVEL,
				1)
			
			-- SETA A VARIAVEL
			SELECT @CD_PESSOA_ASCENDENTE = @CD_PESSOA_VINCULADA
			SELECT @NM_NIVEL = @NM_NIVEL + 1
			
			SELECT @CD_PESSOA_VINCULADA = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
			FROM TB_PESSOA_VINCULO_HISTORICO
			WHERE CD_PESSOA = @CD_PESSOA_ASCENDENTE
			AND CD_FUNCAO = @CD_FUNCAO
			AND NM_CICLO = @NM_CICLO
		
		END
	
	
	/**************************************************************
	** CALCULA PESSOAS DESCENDENTES ********************************
	**************************************************************/
	
	INSERT INTO TB_WRK_MN_TOPOLOGIA (
				CD_PESSOA,
				CD_FUNCAO,
				NM_CICLO,
				CD_PESSOA_VINCULADA,
				ID_ORDEM,
				NM_NIVEL,
				ID_TIPO_REDE_MN)

	SELECT	@CD_PESSOA, 
			2, 
			@NM_CICLO, 
			CD_PESSOA, 
			2,
			DBO.FN_CALCULA_NIVEL_MULTINIVEL(CD_PESSOA, @CD_PESSOA, @NM_CICLO),
			1
	FROM TB_PESSOA_VINCULO_HISTORICO
	WHERE NM_CICLO = @NM_CICLO
	AND DBO.FN_CALCULA_NIVEL_MULTINIVEL(CD_PESSOA, @CD_PESSOA, @NM_CICLO) > 0
	
	
	
	/*
	SELECT @CD_PESSOA_DESCENDENTE = @CD_PESSOA
	
	SET @Cursor_Pessoas_Desc = CURSOR FAST_FORWARD
		FOR
			SELECT CD_PESSOA
			FROM TB_PESSOA_VINCULO_HISTORICO
			WHERE CD_PESSOA_VINCULADA = @CD_PESSOA_DESCENDENTE
			AND CD_FUNCAO = @CD_FUNCAO
			AND NM_CICLO = @NM_CICLO

	OPEN @Cursor_Pessoas_Desc
	FETCH NEXT FROM @Cursor_Pessoas_Desc
	INTO @CD_PESSOA_VINCULADA

	WHILE @@FETCH_STATUS = 0
		BEGIN
			
			SELECT @NM_NIVEL = 1
			
			INSERT INTO TB_WRK_MN_TOPOLOGIA (
				CD_PESSOA,
				CD_FUNCAO,
				NM_CICLO,
				CD_PESSOA_VINCULADA,
				ID_ORDEM,
				NM_NIVEL)
			VALUES 
				(@CD_PESSOA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PESSOA_VINCULADA,
				2,
				@NM_NIVEL)
			
			FETCH NEXT FROM @Cursor_Pessoas_Desc
			INTO @CD_PESSOA_VINCULADA
											
		END
	
	*/
		

/*
	-- ***************************************************
	-- CONTA QUANTAS PESSOAS NIVEL 1 POSSUE
	-- ***************************************************
	
	SELECT @QTD_CONTADOR = 1
	SELECT @NM_NIVEL = 1
	SELECT @CD_PESSOA_DESCENDENTE = @CD_PESSOA
	SELECT @CD_PESSOA_DESCENDENTE_ANTERIOR = @CD_PESSOA_DESCENDENTE	
	
	
	SELECT @QTD_CONTADOR_1 = COUNT(*)
	FROM TB_PESSOA_VINCULO_HISTORICO
	WHERE CD_PESSOA_VINCULADA = @CD_PESSOA_DESCENDENTE
	AND CD_FUNCAO = @CD_FUNCAO
	AND NM_CICLO = @NM_CICLO

	WHILE @QTD_CONTADOR <= @QTD_CONTADOR_1
		BEGIN

		    SELECT @CD_PESSOA_VINCULADA = iSNULL(MIN(CD_PESSOA),0)
							FROM TB_PESSOA_VINCULO_HISTORICO A
							WHERE CD_PESSOA_VINCULADA = @CD_PESSOA_DESCENDENTE
							AND CD_FUNCAO = @CD_FUNCAO
							AND NM_CICLO = @NM_CICLO
							AND CD_PESSOA NOT IN (SELECT B.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA B
												  WHERE B.CD_PESSOA = @CD_PESSOA
												  AND B.CD_PESSOA_VINCULADA = A.CD_PESSOA)							

								

			WHILE @CD_PESSOA_VINCULADA <> 0
				
				BEGIN 
					
					INSERT INTO TB_WRK_MN_TOPOLOGIA (
						CD_PESSOA,
						CD_FUNCAO,
						NM_CICLO,
						CD_PESSOA_VINCULADA,
						ID_ORDEM,
						NM_NIVEL)
					VALUES 
						(@CD_PESSOA,
						@CD_FUNCAO,
						@NM_CICLO,
						@CD_PESSOA_VINCULADA,
						2,
						@NM_NIVEL)

					

					SELECT @CD_PESSOA_VINCULADA = iSNULL(MIN(CD_PESSOA),0)
							FROM TB_PESSOA_VINCULO_HISTORICO A
							WHERE CD_PESSOA_VINCULADA = @CD_PESSOA_DESCENDENTE_ANTERIOR
							AND CD_FUNCAO = @CD_FUNCAO
							AND NM_CICLO = @NM_CICLO
							AND CD_PESSOA NOT IN (SELECT B.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA B
									WHERE B.CD_PESSOA = @CD_PESSOA
									AND B.CD_PESSOA_VINCULADA = A.CD_PESSOA)
					
					SELECT @CD_PESSOA_DESCENDENTE_ANTERIOR = @CD_PESSOA_DESCENDENTE		
					SELECT @CD_PESSOA_DESCENDENTE = @CD_PESSOA_VINCULADA
					
					IF @CD_PESSOA_VINCULADA <> 0 
						BEGIN
							
							SELECT @V_NOVO = 1
							
							SELECT @CD_PESSOA_VINCULADA = iSNULL(MIN(CD_PESSOA),0)
							FROM TB_PESSOA_VINCULO_HISTORICO A
							WHERE CD_PESSOA_VINCULADA = @CD_PESSOA_DESCENDENTE_ANTERIOR
							AND CD_FUNCAO = @CD_FUNCAO
							AND NM_CICLO = @NM_CICLO
							AND CD_PESSOA NOT IN (SELECT B.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA B
									WHERE B.CD_PESSOA = @CD_PESSOA
									AND B.CD_PESSOA_VINCULADA = A.CD_PESSOA)
						
						END
					ELSE
						BEGIN
						
							-- SETA A VARIAVEL
							-- SELECT @CD_PESSOA_DESCENDENTE_ANTERIOR = @CD_PESSOA_DESCENDENTE					
							-- SELECT @CD_PESSOA_DESCENDENTE = @CD_PESSOA_VINCULADA
							SELECT @NM_NIVEL = @NM_NIVEL + 1
									
							
							SELECT @V_NOVO = 0
														
							SELECT @CD_PESSOA_VINCULADA = iSNULL(MIN(CD_PESSOA),0)
							FROM TB_PESSOA_VINCULO_HISTORICO A
							WHERE CD_PESSOA_VINCULADA = @CD_PESSOA_DESCENDENTE
							AND CD_FUNCAO = @CD_FUNCAO
							AND NM_CICLO = @NM_CICLO
							AND CD_PESSOA NOT IN (SELECT B.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA B
									WHERE B.CD_PESSOA = @CD_PESSOA
									AND B.CD_PESSOA_VINCULADA = A.CD_PESSOA)									
						
						END
			
				END
				
			SELECT @QTD_CONTADOR = @QTD_CONTADOR + 1
			SELECT @NM_NIVEL = 1
			SELECT @CD_PESSOA_DESCENDENTE = @CD_PESSOA				
		END
			
	*/	
 
	-- COMMIT TRANSACTION
		
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
