SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_ATUALIZA_CREDITO_PESSOA]
	@CD_PESSOA					NUMERIC(18,0),
	@CD_FUNCAO					INT,
	@CD_MOTIVO					INT,
	@DC_MOTIVO					VARCHAR(100),
	@DT_INICIO_LIMITE_CREDITO	VARCHAR(20),
	@DT_TERMINO_LIMITE_CREDITO	VARCHAR(20),
	@VL_CREDITO					NUMERIC(18,2),
	
	@CD_USUARIO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS


DECLARE @V_QTD_PEDIDO INT,
		@V_EXISTE_FAIXA INT,
		@V_VALOR_CREDITO NUMERIC(18,2),
		@V_QTD_CREDITO_MANUAL INT

BEGIN TRY
	
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF (@DT_INICIO_LIMITE_CREDITO = ' ')
			BEGIN
				SELECT @DT_INICIO_LIMITE_CREDITO = NULL
			END 
			
		IF (@DT_TERMINO_LIMITE_CREDITO = ' ')
			BEGIN
				SELECT @DT_TERMINO_LIMITE_CREDITO = NULL
			END 
	
		-- ***************************************
		-- VERIFICA SE É ATUALIZACAO MANUAL
		-- SE FOR MANUAL VAMOS APENAS REGISTRAR O CREDITO
		-- E EM SEGUIDA VAMOS EXECUTAR A ROTINA QUE 
		-- VERIFICA A DATA DE AGENDAMENTO
	    -- ***************************************
	    IF @CD_MOTIVO = 3
			BEGIN
				
				-- INSERE COM CREDITO MANUAL
				INSERT INTO TB_PESSOA_LIMITE_CREDITO (
					CD_PESSOA,
					CD_FUNCAO,
					DT_LIMITE_CREDITO,
					VL_CREDITO,
					ID_MOTIVO_ATUALIZACAO_LIMITE,
					DC_JUSTIFICATIVA_LIMITE,
					DT_INICIO_LIMITE_CREDITO,
					DT_TERMINO_LIMITE_CREDITO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO	)
						
				VALUES           (
					@CD_PESSOA,
					@CD_FUNCAO,
					GETDATE(),
					@VL_CREDITO,
					@CD_MOTIVO,
					@DC_MOTIVO,
					@DT_INICIO_LIMITE_CREDITO,
					@DT_TERMINO_LIMITE_CREDITO,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
						
			END
		
		ELSE
			BEGIN
			
				-- ***************************************************************************
				-- PRIMEIRO É PRECISO VERIFICAR SE EXISTE UMA ALTERAÇÃO MANUAL VIGENTE
				-- EM CASO POSITIVO NÃO PODEMOS ALTERAR O CREDITO DA PESSOA
				-- ***************************************************************************
				SELECT @V_QTD_CREDITO_MANUAL =  COUNT(*) FROM TB_PESSOA_LIMITE_CREDITO
				WHERE CD_PESSOA = @CD_PESSOA
				AND CD_FUNCAO = @CD_FUNCAO
				AND GETDATE() BETWEEN DT_INICIO_LIMITE_CREDITO AND DT_TERMINO_LIMITE_CREDITO
				
				IF @V_QTD_CREDITO_MANUAL = 0 
					BEGIN
						-- ************************************************
						-- VERIFICA A QUANTIDADE DE PEDIDOS APROVADOS
						-- ************************************************
						SELECT @V_QTD_PEDIDO = COUNT(*) + 1
						FROM TB_PEDIDO
						WHERE CD_PESSOA = @CD_PESSOA
						AND CD_EST_SITUACAO = 2 -- PEDIDOS APROVADOS
			    
	    
						-- ************************************************
						-- COM BASE NA QUANTIDADE DE PEDIDOS APROVADOS 
						-- VERIFICA QUAL A FAIXA A SER UTILIZADA
						-- ************************************************
						SELECT @V_EXISTE_FAIXA = COUNT(*) 
						FROM TB_FAIXA_CREDITO
						WHERE @V_QTD_PEDIDO BETWEEN NM_STEP_INICIAL AND NM_STEP_FINAL
						AND CD_FUNCAO = @CD_FUNCAO
	    	    
						IF @V_EXISTE_FAIXA = 0
							BEGIN
								--***************************************
								--********Correção Erro 18/11/16*********
								--O trecho de código abaixo não deve ser chamado se não existirem faixas de crédito disponíveis por step de pedidos
								--Não é necessária nenhuma execução neste caso, vamos apenas chamar a proc de atualização do crédito disponível
								---- INSERE COM CREDITO = 0
								--INSERT INTO TB_PESSOA_LIMITE_CREDITO (
								--	CD_PESSOA,
								--	CD_FUNCAO,
								--	DT_LIMITE_CREDITO,
								--	VL_CREDITO,
								--	ID_MOTIVO_ATUALIZACAO_LIMITE,
								--	DC_JUSTIFICATIVA_LIMITE,
								--	DT_INICIO_LIMITE_CREDITO,
								--	DT_TERMINO_LIMITE_CREDITO,
								--	DT_CADASTRO,
								--	CD_USUARIO_CADASTRO,
								--	DT_ATUALIZACAO,
								--	CD_USUARIO_ATUALIZACAO	)
										
								--VALUES           (
								--	@CD_PESSOA,
								--	@CD_FUNCAO,
								--	GETDATE(),
								--	0,
								--	@CD_MOTIVO,
								--	@DC_MOTIVO,
								--	@DT_INICIO_LIMITE_CREDITO,
								--	@DT_TERMINO_LIMITE_CREDITO,
								--	GETDATE(), 
								--	@CD_USUARIO, 
								--	GETDATE(), 
								--	@CD_USUARIO
								--		)
		
								--SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
								
								
								EXEC dbo.SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
			   						@CD_PESSOA,
			   						@CD_FUNCAO,
			   						0,
			   						0,
			   						@CD_USUARIO
								
								--********Correção Erro 18/11/16*********
								--***************************************
			
							END
						ELSE
							BEGIN
				
								SELECT @V_VALOR_CREDITO = NM_CREDITO 
								FROM TB_FAIXA_CREDITO
								WHERE @V_QTD_PEDIDO BETWEEN NM_STEP_INICIAL AND NM_STEP_FINAL
								AND CD_FUNCAO = @CD_FUNCAO
	    				
								-- INSERE COM CREDITO DA FAIXA
								INSERT INTO TB_PESSOA_LIMITE_CREDITO (
									CD_PESSOA,
									CD_FUNCAO,
									DT_LIMITE_CREDITO,
									VL_CREDITO,
									ID_MOTIVO_ATUALIZACAO_LIMITE,
									DC_JUSTIFICATIVA_LIMITE,
									DT_INICIO_LIMITE_CREDITO,
									DT_TERMINO_LIMITE_CREDITO,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO	)
											
								VALUES           (
									@CD_PESSOA,
									@CD_FUNCAO,
									GETDATE(),
									@V_VALOR_CREDITO,
									@CD_MOTIVO,
									@DC_MOTIVO,
									@DT_INICIO_LIMITE_CREDITO,
									@DT_TERMINO_LIMITE_CREDITO,
									GETDATE(), 
									@CD_USUARIO, 
									GETDATE(), 
									@CD_USUARIO
										)
			   	
			   	
			   					EXEC dbo.SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
			   						@CD_PESSOA,
			   						@CD_FUNCAO,
			   						1,
			   						@V_VALOR_CREDITO,
			   						@CD_USUARIO
			   		
								SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
							END
					
					END
				else
					begin
						EXEC dbo.SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
			   						@CD_PESSOA,
			   						@CD_FUNCAO,
			   						0,
			   						0,
			   						@CD_USUARIO
					end
			END
			
	    
	    SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
