SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorAtualizaTabTempSituacaoPedido]
	@NM_PEDIDO				NUMERIC(18, 0),
	@NM_PEDIDO_EXTERNO		VARCHAR(100),
	@DC_SITUACAO_SENIOR		VARCHAR(80),
	@DC_PORTADOR			VARCHAR(80),
	@NM_LOTE				NUMERIC(18,0),

	@DC_TIPO_FUNCAO			VARCHAR(1),
	
	@VAR_RETORNO			INT OUTPUT,
	@DC_ERRO				NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS		INT OUTPUT
	
AS

BEGIN TRY
	
	SELECT @QT_LINHAS_AFETADAS = 0
		

	IF @DC_TIPO_FUNCAO = 'I'
		BEGIN
			INSERT INTO TB_WRK_SENIOR_SITUACAO_PEDIDO (
				NM_PEDIDO,
				NM_PEDIDO_EXTERNO,
				DC_SITUACAO_SENIOR,
				NM_LOTE,
				ID_SITUACAO_PROCESSAMENTO,
				DT_CADASTRO,
				DC_PORTADOR
				)
			VALUES (
				@NM_PEDIDO,
				@NM_PEDIDO_EXTERNO,
				@DC_SITUACAO_SENIOR,
				@NM_LOTE,
				1,
				GETDATE(),
				@DC_PORTADOR
				)
				
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
		END
		
		
		IF @DC_TIPO_FUNCAO = 'E'
			BEGIN

				DELETE FROM TB_WRK_SENIOR_SITUACAO_PEDIDO

				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			END		
			
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
