SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_PromocaoAplicaPromocaoInserePreliminar]
	@p_nmPedido						numeric(18,0),
  	@p_cdPromocao					numeric(18,0),
  	
	@p_cdRetorno				INT OUTPUT,
	@p_dcErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT	
	
AS
		
BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0

	INSERT INTO TB_PEDIDO_PROMOCAO_PRELIMINAR VALUES (@p_nmPedido, @p_cdPromocao)
	
	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_cdRetorno = 0

		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
