SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
ROTINA QUE INSERE INFORMAÇÃO NA TABELA TB_PEDIDO DA SITUAÇÃO DA INTEGRAÇÃO COM A PIER 8
*/
    
CREATE PROCEDURE [dbo].[pr_PedidoIntegraPedidoPier8]
	@p_numeroPedido				numeric(18, 0),
	@p_descAcao					varchar(500),
	@p_codigoAcao				varchar(50),
	@p_descLinkCorreio			varchar(500),
	@p_descLinkTransportadora	varchar(500),
	@p_descLocalLogistica		varchar(500),
	@p_descMensagemRetorno		varchar(max),
	@p_descStatus				varchar(50),
				
	@p_codigoUsuario			NUMERIC(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output

AS

DECLARE @v_idSituacaoIntegracaoAtual	int,
		@v_idSituacaoIntegracaoNova		int,
		@v_descLinkRastreio				varchar(100),
		@v_codigoEstSituacaoPedido		numeric(18,0),
		@v_dataEntrega					DATE
		
BEGIN TRY
	
	-- ****************************************************************
	-- BUSCA ALGUMAS INFORMAÇÕES DO PEDIDO
	-- ****************************************************************
	select @v_idSituacaoIntegracaoAtual = isnull(ID_SITUACAO_INTEGRACAO,0),
		   @v_descLinkRastreio = ISNULL(DC_LINK_RASTREIO,''),
		   @v_codigoEstSituacaoPedido = CD_EST_SITUACAO
	  from TB_PEDIDO
	 where NM_PEDIDO = @p_numeroPedido
	 
	IF @v_idSituacaoIntegracaoAtual = 0
		BEGIN
			--TRATA-SE DE UM NOVO PEDIDO ENVIADO PELA PRIMEIRA VEZ, IREMOS ATUALIZAR AS INFORMAÇÕES
			
			select @v_idSituacaoIntegracaoNova = case @p_descStatus when 'OK' then 3
												 when 'EM FILA' then 1
												 when 'Aguardando OD' then 1
												 when 'AGUARDANDO' then 2
												 when 'ERRO' then 4
												 ELSE 4
												 end
			
			--Primeiro vamos gravar a situação no pedido, após isto temos q tratar as ações
			UPDATE TB_PEDIDO SET ID_SITUACAO_INTEGRACAO = @v_idSituacaoIntegracaoNova,
								 CD_RETORNO_INTEGRACAO = @p_codigoAcao,
								 DC_MENSAGEM_INTEGRACAO = @p_descMensagemRetorno,
								 DT_ENVIO_INTEGRACAO = GETDATE()
			where NM_PEDIDO = @p_numeroPedido
			
			--Atualização do link de rastreio
			if @v_descLinkRastreio = '' 
				--Se o link estiver retornando pela primeira vez significa que a transportadora já recebeu o pedido e realizará o despacho,
				-- precisamos atualizar a situação do pedido e colocar em transporte.
				begin
					IF @p_descLinkCorreio <> ''
						BEGIN
							UPDATE TB_PEDIDO SET DC_LINK_RASTREIO = @p_descLinkCorreio
							where NM_PEDIDO = @p_numeroPedido
							
							--Fecha a situação disponível para transporte
							exec dbo.SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
															   7,
															   2,
															   1,
															   '',
															   @p_codigoUsuario,
															   @p_codigoErro output,
															   @p_descricaoErro output,
															   @p_linhasAfetadas output
							--Abre a situação em transporte
							exec dbo.SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
															   8,
															   1,
															   1,
															   '',
															   @p_codigoUsuario,
															   @p_codigoErro output,
															   @p_descricaoErro output,
															   @p_linhasAfetadas output
															   
							--coloca o pedido em situação de transporte
							update TB_PEDIDO set CD_EST_SITUACAO = 8 where NM_PEDIDO = @p_numeroPedido
						END --IF @p_descLinkCorreio <> ''
					
					IF @p_descLinkTransportadora <> ''
						BEGIN
							UPDATE TB_PEDIDO SET DC_LINK_RASTREIO = @p_descLinkTransportadora
							where NM_PEDIDO = @p_numeroPedido
							
							--Fecha a situação disponível para transporte
							exec dbo.SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
															   7,
															   2,
															   1,
															   '',
															   @p_codigoUsuario,
															   @p_codigoErro output,
															   @p_descricaoErro output,
															   @p_linhasAfetadas output
							--Abre a situação em transporte
							exec dbo.SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
															   8,
															   1,
															   1,
															   '',
															   @p_codigoUsuario,
															   @p_codigoErro output,
															   @p_descricaoErro output,
															   @p_linhasAfetadas output

							--coloca o pedido em situação de transporte
							update TB_PEDIDO set CD_EST_SITUACAO = 8 where NM_PEDIDO = @p_numeroPedido
															   
						END --IF @p_descLinkTransportadora <> ''
				end --if @v_descLinkRastreio = '' 

			if @p_descLocalLogistica = 'Entregue' AND @v_codigoEstSituacaoPedido = 8
				begin
					
					--ESTABELECE A DATA DE ENTREGA COMO O DIA CORRENTE JÁ QUE ESTA DATA NÃO É RETORNADA NA INTEGRAÇÃO
					SELECT @v_dataEntrega = CONVERT(DATE,GETDATE())
					
					--A ENTREGA FOI REALIZADA VAMOS ATUALIZAR A SITUAÇÃO DO PEDIDO E GRAVAR A DATA DE ENTREGA
					EXEC pr_PedidoAlteraDataEntregaReal @p_numeroPedido,
														@v_dataEntrega,
														0,
														@p_codigoErro output,
														@p_descricaoErro output,
														@p_linhasAfetadas output
				
				end
		END --@v_idSituacaoIntegracaoAtual = 0
	else
		begin
			--TRATA-SE DE UM PEDIDO já ENVIADO IREMOS ATUALIZAR AS INFORMAÇÕES
			
			select @v_idSituacaoIntegracaoNova = case @p_descStatus when 'OK' then 3
												 when 'EM FILA' then 1
												 when 'AGUARDANDO' then 2
												 when 'ERRO' then 4
												 end
			
			--Primeiro vamos gravar a situação no pedido, após isto temos q tratar as ações
			UPDATE TB_PEDIDO SET ID_SITUACAO_INTEGRACAO = @v_idSituacaoIntegracaoNova,
								 CD_RETORNO_INTEGRACAO = @p_codigoAcao,
								 DC_MENSAGEM_INTEGRACAO = @p_descMensagemRetorno,
								 DT_ULTIMA_ATUALIZACAO_INTEGRACAO = GETDATE()
			where NM_PEDIDO = @p_numeroPedido
			
			--Atualização do link de rastreio
			if @v_descLinkRastreio = '' 
			--Se o link estiver retornando pela primeira vez significa que a transportadora já recebeu o pedido e realizará o despacho,
			-- precisamos atualizar a situação do pedido e colocar em transporte.
			begin
				IF @p_descLinkCorreio <> ''
					BEGIN
						UPDATE TB_PEDIDO SET DC_LINK_RASTREIO = @p_descLinkCorreio
						where NM_PEDIDO = @p_numeroPedido
						
						--Fecha a situação disponível para transporte
						exec dbo.SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
														   7,
														   2,
														   1,
														   '',
														   @p_codigoUsuario,
														   @p_codigoErro output,
														   @p_descricaoErro output,
														   @p_linhasAfetadas output
						--Abre a situação em transporte
						exec dbo.SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
														   8,
														   1,
														   1,
														   '',
														   @p_codigoUsuario,
														   @p_codigoErro output,
														   @p_descricaoErro output,
														   @p_linhasAfetadas output
												
						--coloca o pedido em situação de transporte
						update TB_PEDIDO set CD_EST_SITUACAO = 8 where NM_PEDIDO = @p_numeroPedido
						
					END --IF @p_descLinkCorreio <> ''
				
				IF @p_descLinkTransportadora <> '' 
					BEGIN
						UPDATE TB_PEDIDO SET DC_LINK_RASTREIO = @p_descLinkTransportadora
						where NM_PEDIDO = @p_numeroPedido
						
						--Fecha a situação disponível para transporte
						exec dbo.SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
														   7,
														   2,
														   1,
														   '',
														   @p_codigoUsuario,
														   @p_codigoErro output,
														   @p_descricaoErro output,
														   @p_linhasAfetadas output
						--Abre a situação em transporte
						exec dbo.SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
														   8,
														   1,
														   1,
														   '',
														   @p_codigoUsuario,
														   @p_codigoErro output,
														   @p_descricaoErro output,
														   @p_linhasAfetadas output

						--coloca o pedido em situação de transporte
						update TB_PEDIDO set CD_EST_SITUACAO = 8 where NM_PEDIDO = @p_numeroPedido
														   
					END --IF @p_descLinkTransportadora <> ''
					
			end --if @v_descLinkRastreio = '' 
		
			if @p_descLocalLogistica = 'Entregue' AND @v_codigoEstSituacaoPedido = 8
				begin
					
					--ESTABELECE A DATA DE ENTREGA COMO O DIA CORRENTE JÁ QUE ESTA DATA NÃO É RETORNADA NA INTEGRAÇÃO
					SELECT @v_dataEntrega = CONVERT(DATE,GETDATE())
					
					--A ENTREGA FOI REALIZADA VAMOS ATUALIZAR A SITUAÇÃO DO PEDIDO E GRAVAR A DATA DE ENTREGA
					EXEC pr_PedidoAlteraDataEntregaReal @p_numeroPedido,
														@v_dataEntrega,
														0,
														@p_codigoErro output,
														@p_descricaoErro output,
														@p_linhasAfetadas output
				
				end
				
		end --ELSE @v_idSituacaoIntegracaoAtual = 0
		
	select @p_codigoErro = 0, @p_descricaoErro = ''
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
