SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_PESSOA_INDICADOR_EST_GEOGRAFICA]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@CD_EST_COMERCIAL NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@CD_INDICADOR_PESSOAL NUMERIC(18,0),
	@VL_INDICADOR_PESSOAL NUMERIC(18,2),
	@CD_USUARIO NUMERIC(18,0),
	@TIPO_FUNCAO VARCHAR(1),
	@CD_EST_GEOGRAFICA NUMERIC(18,0),
		
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

/* ATUALIZAR AS TABELAS : TB_PESSOA_INDICADOR e TB_PESSOA_INDICADOR_EST_GEOGRAFICA PARA TODOS OS TIPOS DE INDICADORES. PORÉM, A REGRA É SEMPRE DO CICLO ESTENDIDO.
TIPO INDICADOR :
1	CANAL
2	PEDIDO
3	REDE
4	PESSOA MMN
5	CADASTRO
6	PESSOAL
7	EC - BINIVEL
8	ESTRUTURA GEOGRAFICA
*/


DECLARE @TIPO_INDICADOR INT
--DECLARE @CD_PESSOA_VINCULADA NUMERIC(18,0)

BEGIN TRY

  SELECT @QT_LINHAS_AFETADAS = 0
		
		
  -- BUSCA A PESSOA VINCULADA (PAI)
 /* SELECT @CD_PESSOA_VINCULADA = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
  FROM TB_PESSOA_VINCULO_HISTORICO  with (NOLOCK)
  WHERE CD_PESSOA = @CD_PESSOA
  AND NM_CICLO = @NM_CICLO
  AND CD_FUNCAO = @CD_FUNCAO */

  SELECT @TIPO_INDICADOR = ID_TIPO_INDICADOR
  FROM TB_INDICADOR_PESSOAL  with (NOLOCK)
  WHERE CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  IF (@TIPO_FUNCAO = 'I') 
  BEGIN
	IF (@TIPO_INDICADOR IN (1,2)  )
	BEGIN
						
		--INSERE ESTRUTRURA COMERCUAL
		BEGIN TRANSACTION
		INSERT INTO TB_PESSOA_INDICADOR (
					CD_PESSOA,
					CD_FUNCAO,
					CD_EST_COMERCIAL,
					NM_CICLO,
					CD_INDICADOR_PESSOAL,
					VL_INDICADOR_PESSOAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO
					--CD_PESSOA_VINCULADA
					)
				
		VALUES           (
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					@CD_INDICADOR_PESSOAL,
					@VL_INDICADOR_PESSOAL,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
					--@CD_PESSOA_VINCULADA
				)
		commit TRANSACTION
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	END
	IF (@TIPO_INDICADOR IN (1,2,8)  )		
	BEGIN 		
		--INSERE ESTRUTURA GEOGRAFICA
		BEGIN TRANSACTION
		INSERT INTO TB_PESSOA_INDICADOR_EST_GEOGRAFICA (
					CD_PESSOA,
					CD_FUNCAO,
					CD_EST_GEOGRAFICA,
					NM_CICLO,
					CD_INDICADOR_PESSOAL,
					VL_INDICADOR_PESSOAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO
					--CD_PESSOA_VINCULADA
					)
				
		VALUES           (
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_GEOGRAFICA,
					@NM_CICLO,
					@CD_INDICADOR_PESSOAL,
					@VL_INDICADOR_PESSOAL,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
					--@CD_PESSOA_VINCULADA
			)
		commit TRANSACTION
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	END

  END

  ELSE IF (@TIPO_FUNCAO = 'A')
  BEGIN
		
	IF (@TIPO_INDICADOR IN (1,2)  )
	BEGIN		
				
		-- ATUALIZA ESTRUTURA COMERCIAL
		BEGIN TRANSACTION
		UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL   = @VL_INDICADOR_PESSOAL,
			CD_EST_COMERCIAL       = @CD_EST_COMERCIAL, -- INCLUIDO ALDIR DIA 16/08/2023 (MUDANÇA DE ENTRUTURA NO MEIO DO CICLO NÃO ESTÁ ALTERANDO A TABELA DE PESSOA INDICADOR).
			DT_ATUALIZACAO         = GETDATE(),
			CD_USUARIO_ATUALIZACAO = @CD_USUARIO
		WHERE CD_PESSOA          = @CD_PESSOA
		AND CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
		AND NM_CICLO             = @NM_CICLO							
		commit TRANSACTION
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT

		-- ATUALIZA ESTRUTURA GEOGRAFICA
		BEGIN TRANSACTION
		UPDATE TB_PESSOA_INDICADOR_EST_GEOGRAFICA SET
			VL_INDICADOR_PESSOAL   = @VL_INDICADOR_PESSOAL,
			CD_EST_GEOGRAFICA      = @CD_EST_GEOGRAFICA, -- INCLUIDO ALDIR DIA 16/08/2023 (MUDANÇA DE ENDERECO NO MEIO DO CICLO NÃO ESTÁ ALTERANDO A TABELA DE PESSOA INDICADOR).
			DT_ATUALIZACAO         = GETDATE(),
			CD_USUARIO_ATUALIZACAO = @CD_USUARIO
		WHERE CD_PESSOA          = @CD_PESSOA
		AND CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
		AND NM_CICLO             = @NM_CICLO							
		commit TRANSACTION
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	END


	ELSE IF @TIPO_INDICADOR IN (8)
	BEGIN
		
		-- ATUALIZA ESTRUTURA GEOGRAFICA
		BEGIN TRANSACTION
		UPDATE TB_PESSOA_INDICADOR_EST_GEOGRAFICA SET
			VL_INDICADOR_PESSOAL   = @VL_INDICADOR_PESSOAL,
			DT_ATUALIZACAO         = GETDATE(),
			CD_USUARIO_ATUALIZACAO = @CD_USUARIO
		WHERE CD_PESSOA          = @CD_PESSOA
		AND CD_FUNCAO            = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
		AND NM_CICLO             = @NM_CICLO
		AND CD_EST_GEOGRAFICA    = @CD_EST_GEOGRAFICA							
		commit TRANSACTION
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					
	END
			
	

  END
	
  ELSE 
  BEGIN
	-- EXCLUI ESTRUTURA COMERCIAL
	BEGIN TRANSACTION
	DELETE TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
	AND NM_CICLO             = @NM_CICLO
	COMMIT TRANSACTION
	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT

	-- EXCLUI ESTRUTURA GEOGRAFICA
	BEGIN TRANSACTION
	DELETE TB_PESSOA_INDICADOR_EST_GEOGRAFICA
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = @CD_INDICADOR_PESSOAL
	AND NM_CICLO             = @NM_CICLO
	COMMIT TRANSACTION
	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	
  END		
  SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
