SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_DividaInsereIntegracaoCartaoTransacao]
	@codigoIntegracaoCartao		numeric(18,0),
	@descricaoCodigoRetorno		varchar(50),
	@descricaoDescRetorno		varchar(200),
	@descricaoData				varchar(50),
	@descricaoNumAutor			varchar(50),
	@descricaoNumCV				varchar(50),
	@descricaoNumAutent			varchar(50),
	@descricaoNumSQN			varchar(50),
	@descricaoOrigemBin			varchar(50),
	@descricaoConfCodRet		varchar(50),
	@descricaoConfMsgRet		varchar(100),

	@p_tipoFuncao				varchar(1),
			
	@p_codigoErro							int				output,
	@p_descricaoErro						varchar(1000)	output,
	@p_linhasAfetadas						int				output
	
AS

BEGIN TRY
	
		SELECT @p_linhasAfetadas = 0
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	
		IF @p_tipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
	
				INSERT INTO TB_INTEGRACAO_CARTAO_TRANSACAO (
					CD_INTEGRACAO_CARTAO,
					DC_CODIGO_RETORNO,
					DC_DESC_RETORNO,
					DC_DATA,
					DC_NUMAUTOR,
					DC_NUMCV,
					DC_NUMAUTENT,
					DC_NUMSQN,
					DC_ORIGEM_BIN,
					DC_CONFCODRET,
					DC_CONFMSGRET
					)			
						
				VALUES           (
					@codigoIntegracaoCartao,
					@descricaoCodigoRetorno,
					@descricaoDescRetorno,
					@descricaoData,
					@descricaoNumAutor,
					@descricaoNumCV,
					@descricaoNumAutent,
					@descricaoNumSQN,
					@descricaoOrigemBin,
					@descricaoConfCodRet,
					@descricaoConfMsgRet
					)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	
			
			
		
		IF @p_tipoFuncao = 'E'
			BEGIN
				
				BEGIN TRANSACTION 
	
				DELETE FROM TB_INTEGRACAO_CARTAO_TRANSACAO
				WHERE CD_INTEGRACAO_CARTAO = @codigoIntegracaoCartao
			
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END			

	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
