SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_SOLICITACAO_FATURAMENTO]
	@CD_LOTE_FATURAMENTO NUMERIC(18,0),
	@NM_PEDIDO NUMERIC(18,0),
	@ID_SITUACAO_FATURAMENTO INT,
	@DC_DETALHE VARCHAR(8000),
	@DC_ERRO_PROCESSAMENTO VARCHAR(8000),
	@NM_PROTOCOLO VARCHAR(200),
	@DT_PROTOCOLO DATETIME,
	@DC_PROC_NFE VARCHAR(8000),
	@CD_NOTA_FISCAL NUMERIC(18,0),
	
	--PARÂMETROS EXCLUSIVOS PARA CANCELAMENTO
	@ID_SITUACAO_CANC_NF INT,
	@DT_PROTOCOLO_CANC DATETIME,
	@NM_PROTOCOLO_CANC VARCHAR(200),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS


BEGIN TRY
	

	    SELECT @QT_LINHAS_AFETADAS = 0

				IF @ID_SITUACAO_FATURAMENTO = 1
					BEGIN
						--BEGIN TRANSACTION 
					
				
							-- CRIA LOTE DE SEPARAÇÃO
							INSERT INTO TB_SOLICITACAO_FATURAMENTO_PEDIDO (
								CD_SOLICITACAO_FATURAMENTO, 
								NM_PEDIDO, 
								CD_NOTA_FISCAL, 
								DT_SOLICITACAO_FATURAMENTO_PEDIDO, 
								ID_SITUACAO_FATURAMENTO_PEDIDO)					
				
							VALUES           (
								@CD_LOTE_FATURAMENTO,
								@NM_PEDIDO,
								@CD_NOTA_FISCAL, 
								GETDATE(),
								@ID_SITUACAO_FATURAMENTO)

						SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					 
						--COMMIT TRANSACTION
					END
				IF @ID_SITUACAO_FATURAMENTO = 2 --EMITIDA
					BEGIN
						--BEGIN TRANSACTION 
					
							UPDATE TB_SOLICITACAO_FATURAMENTO_PEDIDO
							SET ID_SITUACAO_FATURAMENTO_PEDIDO = @ID_SITUACAO_FATURAMENTO,
								DC_DETALHE_PROCESSAMENTO = 'NFe Emitida'
							WHERE CD_SOLICITACAO_FATURAMENTO = @CD_LOTE_FATURAMENTO
							AND CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							AND	NM_PEDIDO = @NM_PEDIDO
						
							UPDATE TB_NOTA_FISCAL
							SET DT_PROTOCOLO_NFE = @DT_PROTOCOLO,
								DC_PROTOCOLO_NFE = @NM_PROTOCOLO,
								DC_PROC_NFE = @DC_PROC_NFE,
								ID_SITUACAO_NOTA_FISCAL = @ID_SITUACAO_FATURAMENTO --EMITIDA
							WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							AND NM_PEDIDO = @NM_PEDIDO
					
						SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					
						--COMMIT TRANSACTION
					END
				IF @ID_SITUACAO_FATURAMENTO = 3 --ERRO
					BEGIN
						--BEGIN TRANSACTION 
					
							UPDATE TB_SOLICITACAO_FATURAMENTO_PEDIDO
							SET ID_SITUACAO_FATURAMENTO_PEDIDO = @ID_SITUACAO_FATURAMENTO,
								DC_DETALHE_PROCESSAMENTO = @DC_DETALHE,
								DC_PROCESSAMENTO_ERRO = @DC_ERRO_PROCESSAMENTO
							WHERE CD_SOLICITACAO_FATURAMENTO = @CD_LOTE_FATURAMENTO
							AND CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							AND	NM_PEDIDO = @NM_PEDIDO
						
							--SELECT @CD_NOTA_FISCAL = CD_NOTA_FISCAL FROM TB_NOTA_FISCAL WHERE NM_PEDIDO = @NM_PEDIDO
																	
						SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					
						--COMMIT TRANSACTION
					END

				IF @ID_SITUACAO_FATURAMENTO = 7 --NFE DENEGADA
					BEGIN
						--BEGIN TRANSACTION 
					
							UPDATE TB_SOLICITACAO_FATURAMENTO_PEDIDO
							SET ID_SITUACAO_FATURAMENTO_PEDIDO = @ID_SITUACAO_FATURAMENTO,
								DC_DETALHE_PROCESSAMENTO = 'NFe Denegada',
								DC_PROCESSAMENTO_ERRO = @DC_ERRO_PROCESSAMENTO
							WHERE CD_SOLICITACAO_FATURAMENTO = @CD_LOTE_FATURAMENTO
							AND CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							AND	NM_PEDIDO = @NM_PEDIDO
						
							UPDATE TB_NOTA_FISCAL
							SET DT_PROTOCOLO_NFE = @DT_PROTOCOLO,
								DC_PROTOCOLO_NFE = @NM_PROTOCOLO,
								DC_PROC_NFE = @DC_PROC_NFE,
								ID_SITUACAO_NOTA_FISCAL = @ID_SITUACAO_FATURAMENTO --DENEGADA
							WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							AND NM_PEDIDO = @NM_PEDIDO
																	
							SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					
					END

				IF @ID_SITUACAO_FATURAMENTO = 4 --CANCELAMENTO
					BEGIN
					
					IF @ID_SITUACAO_CANC_NF = 1 --CANCELAMENTO EM PROCESSAMENTO
						BEGIN
							--BEGIN TRANSACTION
						
								UPDATE TB_NOTA_FISCAL
								SET ID_SITUACAO_CANCELAMENTO_NF = @ID_SITUACAO_CANC_NF
								WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							
							SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
							--COMMIT TRANSACTION
						END

					IF @ID_SITUACAO_CANC_NF = 2 --CANCELADA COM SUCESSO
						BEGIN
							--BEGIN TRANSACTION
						
								UPDATE TB_NOTA_FISCAL
								SET ID_SITUACAO_CANCELAMENTO_NF = @ID_SITUACAO_CANC_NF,
									DT_PROTOCOLO_CANC_NFE = @DT_PROTOCOLO_CANC,
									DC_PROTOCOLO_CANC_NFE = @NM_PROTOCOLO_CANC,
									ID_SITUACAO_NOTA_FISCAL = @ID_SITUACAO_FATURAMENTO
								WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							
							SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
							--COMMIT TRANSACTION
						END						
						
					IF @ID_SITUACAO_CANC_NF = 3 --ERRO NO CANCELAMENTO
						BEGIN
							--BEGIN TRANSACTION
						
								UPDATE TB_NOTA_FISCAL
								SET ID_SITUACAO_CANCELAMENTO_NF = @ID_SITUACAO_CANC_NF,
									DC_ERRO_CANC_NFE = @DC_ERRO_PROCESSAMENTO,
									ID_SITUACAO_NOTA_FISCAL = 2 --Volta situação da NF para emitida
								WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							
							SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
							--COMMIT TRANSACTION
						END
						
					IF @ID_SITUACAO_CANC_NF = 4 --FORA DO PRAZO PARA CANCELAMENTO NFE
						BEGIN
							--BEGIN TRANSACTION
						
								UPDATE TB_NOTA_FISCAL
								SET ID_SITUACAO_CANCELAMENTO_NF = @ID_SITUACAO_CANC_NF,
									DC_ERRO_CANC_NFE = 'FORA DO PRAZO ESTABELECIDO PARA CANCELAMENTO',
									ID_SITUACAO_NOTA_FISCAL = 2 --Volta situação da NF para emitida
								WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							
							SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
							--COMMIT TRANSACTION
						END
					
					END
				IF @ID_SITUACAO_FATURAMENTO = 5 --INUTILIZAÇÃO
					BEGIN
					
					IF @ID_SITUACAO_CANC_NF = 1 --INUTILIZADA COM SUCESSO
					BEGIN 
						--BEGIN TRANSACTION
						
							UPDATE TB_NOTA_FISCAL
							SET ID_SITUACAO_NOTA_FISCAL = @ID_SITUACAO_FATURAMENTO,
								DC_PROTOCOLO_INUT_NFE = @NM_PROTOCOLO,
								DT_PROTOCOLO_INUT_NFE = @DT_PROTOCOLO
							WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							
						--COMMIT TRANSACTION
						
					END
					IF @ID_SITUACAO_CANC_NF = 2
					BEGIN
						--BEGIN TRANSACTION
						
							UPDATE TB_NOTA_FISCAL
							SET DC_ERRO_CANC_NFE = @DC_ERRO_PROCESSAMENTO
							WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
							
						--COMMIT TRANSACTION
						
					END
					
					END
					
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
