SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_MOV_ESTOQUE_INSUMO]
	@CD_CENTRO_DISTRIBUICAO numeric(18, 0),
	@CD_ARMAZEM numeric(18, 0),
	@CD_MATERIAL numeric(18, 0),
	@QT_MOVIMENTADO numeric(18, 0),
	@CD_TIPO_MOV_ESTOQUE INT,
	@ID_CENTRO_ESTOQUE INT,
	@VL_UNITARIO NUMERIC(18,2),
	@NM_DOCUMENTO NUMERIC(18,0),
	@DC_REFERENCIA VARCHAR(80),
	
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO VARCHAR(200) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


DECLARE @QT_ESTOQUE_DISPONIVEL NUMERIC(18,0),
		@QT_ESTOQUE_EMPENHADO NUMERIC(18,0),
		@QT_ESTOQUE_TRANSICAO NUMERIC(18,0),
		@QT_ESTOQUE_MANUTENCAO NUMERIC(18,0),
		@QT_VIGILANCIA_SANITARIA NUMERIC(18,0),
		@QT_ESTOQUE_DESTRUICAO NUMERIC(18,0),
		@VL_CUSTO_MEDIO_UNITARIO NUMERIC(18,2),
		@VL_RESPOSICAO_UNITARIO NUMERIC(18,2),
		@ID_ENTRADA_SAIDA INT,
		@V_EXISTE_ESTOQUE INT

BEGIN TRY
	 
	    SELECT @QT_LINHAS_AFETADAS = 0
		
		/****** PENDENCIAS
		- CALCULAR O CUSTO MEDIO
		- ESTOQUE DE TRANSIÇÃO
		- ESTOQUE EMPENHADO
		- LOCAR AS TABELAS	
		*********/
		
		/* VERIFICA SE DEVE FAZER ENTRADA OU SAIDA */
		SELECT @ID_ENTRADA_SAIDA = ID_TIPO_MOV
		FROM TB_TIPO_MOV_ESTOQUE WITH (NOLOCK)
		WHERE CD_TIPO_MOV_ESTOQUE = @CD_TIPO_MOV_ESTOQUE
		
		/* VERIFICA SE EXISTE A LINHA NA TABELA DE ESTOQUE*/
		SELECT	@V_EXISTE_ESTOQUE = COUNT(*)
		FROM TB_ESTOQUE WITH (NOLOCK)
		WHERE CD_MATERIAL = @CD_MATERIAL
		AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
		AND CD_ARMAZEM = @CD_ARMAZEM
		
		IF (@V_EXISTE_ESTOQUE = 0)
			BEGIN
				SELECT	@QT_ESTOQUE_DISPONIVEL = 0,
					@QT_ESTOQUE_EMPENHADO = 0,
					@QT_ESTOQUE_TRANSICAO = 0,
					@QT_ESTOQUE_MANUTENCAO = 0,
					@QT_VIGILANCIA_SANITARIA = 0,
					@QT_ESTOQUE_DESTRUICAO = 0
			END 
		ELSE
			BEGIN
				/* PEGA INFORMAÇÕES DO ESTOQUE ATUAL DO MATERIAL */
				SELECT	@QT_ESTOQUE_DISPONIVEL = QT_ESTOQUE_DISPONIVEL,
					@QT_ESTOQUE_EMPENHADO = QT_ESTOQUE_EMPENHADO,
					@QT_ESTOQUE_TRANSICAO = QT_ESTOQUE_TRANSICAO,
					@QT_ESTOQUE_MANUTENCAO = QT_ESTOQUE_MANUTENCAO,
					@QT_VIGILANCIA_SANITARIA = QT_VIGILANCIA_SANITARIA,
					@QT_ESTOQUE_DESTRUICAO = QT_ESTOQUE_DESTRUICAO
					/*@VL_CUSTO_MEDIO_UNITARIO = VL_CUSTO_MEDIO_UNITARIO,
					@VL_RESPOSICAO_UNITARIO = VL_REPOSICAO_UNITARIO*/
				FROM TB_ESTOQUE WITH (NOLOCK)
				WHERE CD_MATERIAL = @CD_MATERIAL
				AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
				AND CD_ARMAZEM = @CD_ARMAZEM
			END
		
		/* CALCULA AS NOVAS INFORMAÇÕES */
				
		/*************************************************************************************/
		/* DISPONIVEL */
		/*************************************************************************************/
		IF (@ID_CENTRO_ESTOQUE = 1)
			BEGIN
				/* ENTRADA */
				IF (@ID_ENTRADA_SAIDA = 1)
					BEGIN
						SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL + @QT_MOVIMENTADO
					END
				/* SAIDA */
				ELSE
					BEGIN
						SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL - @QT_MOVIMENTADO
					END
			END 


		/*************************************************************************************/
		/* TRANSICAO */
		/*************************************************************************************/
		IF (@ID_CENTRO_ESTOQUE = 2)
			BEGIN
				/* ENTRADA */
				IF (@ID_ENTRADA_SAIDA = 1)
					BEGIN
						SELECT @QT_ESTOQUE_TRANSICAO= @QT_ESTOQUE_TRANSICAO + @QT_MOVIMENTADO
					END
				/* SAIDA */
				ELSE
					BEGIN
						SELECT @QT_ESTOQUE_TRANSICAO= @QT_ESTOQUE_TRANSICAO - @QT_MOVIMENTADO
					END
			END 

		/*************************************************************************************/
		/* MANUTENÇÃO */
		/*************************************************************************************/
		IF (@ID_CENTRO_ESTOQUE = 3)
			BEGIN
				/* ENTRADA */
				IF (@ID_ENTRADA_SAIDA = 1)
					BEGIN
						SELECT @QT_ESTOQUE_MANUTENCAO= @QT_ESTOQUE_MANUTENCAO + @QT_MOVIMENTADO
					END
				/* SAIDA */
				ELSE
					BEGIN
						SELECT @QT_ESTOQUE_MANUTENCAO= @QT_ESTOQUE_MANUTENCAO - @QT_MOVIMENTADO
					END
			END 
		
		
				
		/*************************************************************************************/
		/* VIGILANCIA SANITARIA */
		/*************************************************************************************/
		IF (@ID_CENTRO_ESTOQUE = 4)
			BEGIN
				/* ENTRADA */
				IF (@ID_ENTRADA_SAIDA = 1)
					BEGIN
						SELECT @QT_VIGILANCIA_SANITARIA= @QT_VIGILANCIA_SANITARIA + @QT_MOVIMENTADO
					END
				/* SAIDA */
				ELSE
					BEGIN
						SELECT @QT_VIGILANCIA_SANITARIA= @QT_VIGILANCIA_SANITARIA - @QT_MOVIMENTADO
					END
			END 
		
		/*************************************************************************************/
		/* DESTRUICAO */
		/*************************************************************************************/
		IF (@ID_CENTRO_ESTOQUE = 5)
			BEGIN
				/* ENTRADA */
				IF (@ID_ENTRADA_SAIDA = 1)
					BEGIN
						SELECT @QT_ESTOQUE_DESTRUICAO= @QT_ESTOQUE_DESTRUICAO + @QT_MOVIMENTADO
					END
				/* SAIDA */
				ELSE
					BEGIN
						SELECT @QT_ESTOQUE_DESTRUICAO= @QT_ESTOQUE_DESTRUICAO - @QT_MOVIMENTADO
					END
			END 

		/*************************************************************************************/
		/******* INSERE NA TABELA TB_ESTOQUE *****/
		/*************************************************************************************/
		IF (@V_EXISTE_ESTOQUE = 0)
			BEGIN
				/* NAO EXISTE ENTÃO INSERE */
				BEGIN TRANSACTION
				INSERT INTO TB_ESTOQUE (
					CD_MATERIAL,
					CD_CENTRO_DISTRIBUICAO,
					CD_ARMAZEM,
					QT_ESTOQUE_DISPONIVEL,
					QT_ESTOQUE_EMPENHADO,
					QT_ESTOQUE_TRANSICAO,
					QT_VIGILANCIA_SANITARIA,
					QT_ESTOQUE_MANUTENCAO,
					QT_ESTOQUE_DESTRUICAO,
					VL_REPOSICAO_UNITARIO,
					VL_CUSTO_MEDIO_UNITARIO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES (
					@CD_MATERIAL,
					@CD_CENTRO_DISTRIBUICAO,
					@CD_ARMAZEM,
					@QT_ESTOQUE_DISPONIVEL,
					@QT_ESTOQUE_EMPENHADO,
					@QT_ESTOQUE_TRANSICAO,
					@QT_VIGILANCIA_SANITARIA,
					@QT_ESTOQUE_MANUTENCAO,
					@QT_ESTOQUE_DESTRUICAO,
					@VL_UNITARIO,
					@VL_UNITARIO,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
				COMMIT TRANSACTION	
			END
		ELSE
			BEGIN
				/* JA EXISTE ENTÃO FAZ UPDATE */
				BEGIN TRANSACTION
				UPDATE	TB_ESTOQUE
				SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
					QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
					QT_ESTOQUE_TRANSICAO = @QT_ESTOQUE_TRANSICAO,
					QT_ESTOQUE_MANUTENCAO = @QT_ESTOQUE_MANUTENCAO,
					QT_VIGILANCIA_SANITARIA = @QT_VIGILANCIA_SANITARIA,
					QT_ESTOQUE_DESTRUICAO = @QT_ESTOQUE_DESTRUICAO,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
				WHERE CD_MATERIAL = @CD_MATERIAL
				AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
				AND CD_ARMAZEM = @CD_ARMAZEM
				COMMIT TRANSACTION		
			END
		


		/*************************************************************************************/
		/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
		/*************************************************************************************/
		BEGIN TRANSACTION
		INSERT INTO TB_MOV_ESTOQUE (
			DT_MOVIMENTO,
			CD_MATERIAL,
			CD_CENTRO_DISTRIBUICAO,
			CD_ARMAZEM,
			CD_TIPO_MOV_ESTOQUE,
			QT_ESTOQUE_DISPONIVEL,
			QT_ESTOQUE_EMPENHADO,
			QT_ESTOQUE_TRANSICAO,
			QT_ESTOQUE_MANUTENCAO,
			QT_VIGILANCIA_SANITARIA,
			QT_ESTOQUE_DESTRUICAO,
			QT_PRODUTO_MOVIMENTADO,
			VL_REPOSICAO_UNITARIO,
			VL_CUSTO_MEDIO_UNITARIO,
			NM_DOCUMENTO,
			DC_REFERENCIA,
  			DT_CADASTRO,
			CD_USUARIO_CADASTRO,
			DT_ATUALIZACAO,
			CD_USUARIO_ATUALIZACAO)
		VALUES (
			GETDATE(),
			@CD_MATERIAL,
			@CD_CENTRO_DISTRIBUICAO,
			@CD_ARMAZEM,
			@CD_TIPO_MOV_ESTOQUE,
			@QT_ESTOQUE_DISPONIVEL,
			@QT_ESTOQUE_EMPENHADO,
			@QT_ESTOQUE_TRANSICAO,
			@QT_ESTOQUE_MANUTENCAO,
			@QT_VIGILANCIA_SANITARIA,
			@QT_ESTOQUE_DESTRUICAO,
			@QT_MOVIMENTADO,
			@VL_UNITARIO,
			@VL_UNITARIO,
			@NM_DOCUMENTO,
			@DC_REFERENCIA,
			GETDATE(),
			@CD_USUARIO,
			GETDATE(),
			@CD_USUARIO)
		COMMIT TRANSACTION	
	
			SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
			SELECT @VAR_RETORNO = @@identity
		
					
		
      
		
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
