SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[pr_ParcelaCalculaValorAtualizadoTodos]
	@p_codigoErro	  INT OUTPUT,
	@p_descErro		  NVARCHAR(max) OUTPUT
	
AS

DECLARE @v_cursorDividas		cursor,
        @v_cursorParcelas		cursor,
        @v_codigoParcela		numeric(18, 0), 
        @v_dataVencimento		date,
		@v_dataAtualizado		date,
        @v_idSitPgtoParcela		int,
	    @v_codigoDivida			numeric(18, 0),
	    @v_idSitPgtoDivida		int,
	    @v_percMulta			numeric(18,2),
	    @v_percMora				numeric(18,2),
	    @v_qtdeDias				int,
	    @v_valorAtualizado		numeric(18,2),
	    @v_valorOriginalSaldo	numeric(18,2),
		@v_valorOriginal		numeric(18,2),
		@p_DataFechamento		DATE

DECLARE @v_i					int

DECLARE @QT_LINHAS_AFETADAS INT
DECLARE	@CD_PESSOA			NUMERIC(18,0)
DECLARE @NM_PEDIDO			NUMERIC(18,0)
	    	
BEGIN TRY
		
		DELETE FROM TB_PARCELA_HISTORICO_VALOR_ATUALIZADO
		
		SELECT @p_DataFechamento = GETDATE()
		SELECT @v_i = 1

		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @p_codigoErro = 0
	    SELECT @p_descErro = ''
	    
	    -- ABRE O CURSOR DE DÍVIDAS
	    SET @v_cursorDividas = CURSOR FAST_FORWARD
	    FOR
			SELECT CD_DIVIDA, ID_SITUACAO_PAGAMENTO
			FROM TB_DIVIDA
			WHERE ID_SITUACAO_DIVIDA = 1 --TODAS AS DÍVIDAS ABERTAS
			AND ID_SITUACAO_PAGAMENTO IN (3) -- VENCIDO
			
		OPEN @v_cursorDividas
		FETCH NEXT FROM @v_cursorDividas
		INTO @v_codigoDivida, @v_idSitPgtoDivida
		
		WHILE @@FETCH_STATUS = 0
			BEGIN
				-- CURSOR DE PARCELAS
				SET @v_cursorParcelas = CURSOR FAST_FORWARD
				FOR
					SELECT	CD_PARCELA, DT_VENCIMENTO, ID_SITUACAO_PAGAMENTO_PARCELA, VL_ORIGINAL_PARCELA_SALDO, VL_ORIGINAL_PARCELA
					FROM TB_PARCELA
					WHERE ID_SITUACAO_PAGAMENTO_PARCELA IN (3) -- VENCIDAS
					AND   CD_DIVIDA = @v_codigoDivida
					--AND   DT_VENCIMENTO < @DT_FECHAMENTO
		    
					OPEN @v_cursorParcelas
					FETCH NEXT FROM @v_cursorParcelas
					INTO @v_codigoParcela, @v_dataVencimento, @v_idSitPgtoParcela, @v_valorOriginalSaldo, @v_valorOriginal
					
					WHILE @@FETCH_STATUS = 0
						BEGIN
						  
						  if @v_idSitPgtoParcela = 3 --PARCELA VENCIDA
							BEGIN
							
								SELECT @v_i = 1

								--VAMOS CALCULAR O VALOR DE MULTA E JUROS E ATUALIZAR O VALOR DA DÍVIDA
								SELECT  @v_percMora = isnull(PP.PC_MORA_DIARIA,0),
										@v_percMulta = isnull(PP.PC_MULTA,0)
								FROM TB_PEDIDO PD, TB_DIVIDA DV, TB_PLANO_PAGAMENTO PP
								WHERE DV.NM_PEDIDO = PD.NM_PEDIDO
								AND PD.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO
								AND DV.CD_DIVIDA = @v_codigoDivida
								
								SELECT @v_qtdeDias = DATEDIFF(DAY,@v_dataVencimento,@p_DataFechamento)

								WHILE @v_i <= @v_qtdeDias  
									BEGIN  
								
										SELECT @v_valorAtualizado = @v_valorOriginalSaldo + ((@v_valorOriginalSaldo * (@v_percMulta / 100)) +
																					 ((@v_valorOriginalSaldo * (@v_percMora / 100)) * @v_i))
							

										--SELECT @v_valorAtualizado = @v_valorOriginalSaldo + ((@v_valorOriginalSaldo * (@v_percMulta / 100)) +
											--										 ((@v_valorOriginalSaldo * (@v_percMora / 100)) * @v_qtdeDias))
								
										--UPDATE TB_PARCELA set VL_ATUALIZADO_PARCELA = @v_valorAtualizado,
													  --DT_ATUALIZADO_PARCELA = GETDATE()
										--WHERE CD_PARCELA = @v_codigoParcela

										-- ********************************************************
										-- ALTERAÇÃO FEITA POR ANDERSON - 22/02/2018
										-- VAMOS GRAVAR O VALOR ATUALIZADO DA DIVIDA POR DIA (HISTORICO)
										-- ISSO SERÁ IMPORTANTE QUANDO FOR FEITO UMA CONCILIAÇÃO, POIS ASSIM O SISTEMA JA ENCONTRA O VALOR CORRETO
										-- RAPIDAMENTE
										-- EXEMPLO: CONCILIAÇÃO SERÁ PROCESSADA DIA 22/02 MAS O PAGAMENTO FOI FEITO DIA 20/02, ENTÃO É PRECISO
										-- TER OS VALORES DO DIA 20
										-- ********************************************************

										SELECT @v_dataAtualizado = DATEADD(DAY,@v_i,@v_dataVencimento)

										INSERT INTO TB_PARCELA_HISTORICO_VALOR_ATUALIZADO (
											CD_PARCELA,
											DT_VENCIMENTO,
											VL_ORIGINAL_PARCELA,
											VL_ORIGINAL_PARCELA_SALDO,
											DT_ATUALIZADO_PARCELA,
											VL_ATUALIZADO_PARCELA,
											VL_MORA,
											VL_JUROS)
										VALUES (
											@v_codigoParcela,
											@v_dataVencimento,
											@v_valorOriginal,
											@v_valorOriginalSaldo,
											@v_dataAtualizado,
											@v_valorAtualizado,
											((@v_valorOriginalSaldo * (@v_percMora / 100)) * @v_i),
											(@v_valorOriginalSaldo * (@v_percMulta / 100))
											)
									
										-- ************************************************************
										-- FIM
										-- ************************************************************
								
										select @v_i = @v_i + 1

										
									END  

								
								
								
							END
						  
						  FETCH NEXT FROM @v_cursorParcelas
						  INTO @v_codigoParcela, @v_dataVencimento, @v_idSitPgtoParcela, @v_valorOriginalSaldo, @v_valorOriginal
						END
					CLOSE      @v_cursorParcelas
					DEALLOCATE @v_cursorParcelas
					
					--update TB_DIVIDA set VL_ATUALIZADO_DIVIDA = (select SUM(VL_ATUALIZADO_PARCELA) from TB_PARCELA where CD_DIVIDA = @v_codigoDivida),
										 --DT_ATUALIZADO_DIVIDA = GETDATE()
					--where CD_DIVIDA = @v_codigoDivida
					
				FETCH NEXT FROM @v_cursorDividas
				INTO @v_codigoDivida, @v_idSitPgtoDivida
			END
		CLOSE      @v_cursorDividas
		DEALLOCATE @v_cursorDividas
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;




GO
