SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_ESPECIFICO_DNANAMODA]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_EVENTO = 11 - ESPECIFICOS CANAL /  PEDIDO
São indicadores por pessoa com regras especificas do cliente

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT

BEGIN TRY
  
    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 11) -- ESPECIFICOS CANAL /  PEDIDO
    BEGIN

      --******************************************************************************
      -- TAMANHO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(501,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
	FROM TB_PESSOA_RESUMO A with(nolock)
	WHERE A.CD_PESSOA           = @CD_PESSOA
        AND   A.CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
	AND   A.CD_FUNCAO           = @CD_FUNCAO
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) not in (0,4)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 501
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						501,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						501,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0
   	END
      END


      --******************************************************************************
      -- INICIOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(502,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	
	SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
	FROM TB_PESSOA_RESUMO A with(nolock)
	WHERE A.CD_PESSOA           = @CD_PESSOA
        AND A.CD_EST_COMERCIAL      = @CD_EST_COMERCIAL
	AND A.CD_FUNCAO             = @CD_FUNCAO
	AND A.NM_CICLO_INICIO       = @NM_CICLO
	AND ISNULL(A.CD_SITUACAO_COMERCIAL,0) = 1


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 502
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						502,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						502,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INTENÇÃO REVENDA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(503,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = COUNT(CD_PESSOA)
	FROM TB_PESSOA_RESUMO  A with(nolock)
	WHERE A.CD_PESSOA                       = @CD_PESSOA
	AND A.CD_FUNCAO                         = @CD_FUNCAO
	AND   A.CD_EST_COMERCIAL                = @CD_EST_COMERCIAL
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) = 0
	AND   NOT EXISTS (SELECT CD_PESSOA FROM TB_HIST_SITUACAO_CONSULTORA  B with(nolock)
			  WHERE B.CD_PESSOA                   = A.CD_PESSOA
			  AND B.NM_CICLO                      < @NM_CICLO
			  AND ISNULL(CD_SITUACAO_COMERCIAL,0) > 0)


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 503
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						503,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						503,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- A CESSAR
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(504,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = COUNT(*)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	WHERE A.CD_PESSOA                   = @CD_PESSOA
	AND A.CD_EST_COMERCIAL              = @CD_EST_COMERCIAL
	AND A.NM_CICLO                      = @NM_CICLO		
	AND ISNULL(A.CD_SITUACAO_COMERCIAL_DETALHE,0) = 301


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 504
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						504,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						504,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- CESSADOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(505,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = ISNULL(SUM(A.VL_INDICADOR_PESSOAL), 0)
        FROM TB_PESSOA_INDICADOR  A  with(nolock)
        WHERE A.CD_PESSOA            = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO
	AND A.NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
	AND A.CD_INDICADOR_PESSOAL = 504

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 505
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						505,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						505,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END



     --******************************************************************************
      -- PONTOS 
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(506,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = ISNULL(SUM(A.VL_INDICADOR_PESSOAL), 0)
        FROM TB_PESSOA_INDICADOR  A  with(nolock)
        WHERE A.CD_EST_COMERCIAL   = @CD_EST_COMERCIAL
	AND A.CD_PESSOA            = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO
	AND A.NM_CICLO             = @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL = 1003

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 506
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						506,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 506
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION

   	END
      END


     --******************************************************************************
      -- COMPRAS BRUTA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(507,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(SUM(A.VL_PAGAR_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock)
	WHERE A.CD_PESSOA             = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	--AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_APROVACAO      = @NM_CICLO
        AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 507
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						507,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 507
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION

   	END
      END


      --******************************************************************************
      -- COMPRAS LÍQUIDA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(508,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = ISNULL(SUM(A.VL_INDICADOR_PESSOAL), 0)
        FROM TB_PESSOA_INDICADOR  A  with(nolock)
        WHERE A.CD_EST_COMERCIAL   = @CD_EST_COMERCIAL
	AND A.CD_PESSOA            = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO
	AND A.NM_CICLO             = @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL = 1014

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 508
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						508,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 508
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION

   	END
      END


      --******************************************************************************
      -- VENDAS CF
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(509,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = ISNULL(SUM(A.VL_INDICADOR_PESSOAL), 0)
        FROM TB_PESSOA_INDICADOR  A  with(nolock)
        WHERE A.CD_EST_COMERCIAL   = @CD_EST_COMERCIAL
	AND A.CD_PESSOA            = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO
	AND A.NM_CICLO             = @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL = 1016

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 509
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						509,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 509
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION

   	END
      END


      --******************************************************************************
      -- ADIMPLENTE
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(510,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = [dbo].[FN_BUSCA_PESSOA_ADIMPLENTE](@CD_PESSOA)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 510
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						510,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						510,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0
   	END
      END


    END -- fim EVENTO = 11


 		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
