SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[pr_CargaCEPCidade]
  	
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS


DECLARE @Cursor_Itens			CURSOR

DECLARE @v_id_cidade				INT
DECLARE @v_cidade					VARCHAR(300)
DECLARE @v_cod_ibge					VARCHAR(30)
DECLARE @v_id_municipio_subordinado INT
DECLARE @v_CD_NIVEL_GEO2			NUMERIC(18,0)

DECLARE @V_CD_EST_GEOGRAFICA		NUMERIC(18,0)
DECLARE @V_CONTADOR_EST_GEOGRAFICA	INT


DECLARE	@v_cidade_subordinado		VARCHAR(300)
DECLARE @v_cod_ibge_subordinado		VARCHAR(30)

DECLARE @v_cidade_concatenada		VARCHAR(300)

DECLARE @V_CD_EST_GEOGRAFICA_NEW	NUMERIC(18,0)
	
BEGIN TRY

	SELECT @qtLinhasAfetadas = 0
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR

		--SELECT  id_cidade,
				--cidade,
				--LTRIM(RTRIM(Str(COD_IBGE, 25, 0))),
				--id_municipio_subordinado,
				--CD_NIVEL_GEO2
		--FROM QUALOCEP_CIDADE
		--WHERE CD_NIVEL_GEO3 IS NULL
		--AND ID_MUNICIPIO_SUBORDINADO = 0
		--ORDER BY ID_CIDADE ASC

		SELECT  id_cidade,
				--cidade,
				REPLACE(CIDADE, '''', ' '),
				LTRIM(RTRIM(Str(COD_IBGE, 25, 0))),
				--cod_ibge,
				id_municipio_subordinado,
				CD_NIVEL_GEO2
		FROM QUALOCEP_CIDADE
		WHERE CD_NIVEL_GEO3 IS NULL
		AND ID_MUNICIPIO_SUBORDINADO <> 0
		ORDER BY ID_CIDADE ASC


										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@v_id_cidade,
				@v_cidade,
				@v_cod_ibge,
				@v_id_municipio_subordinado,
				@v_CD_NIVEL_GEO2

			WHILE @@FETCH_STATUS = 0
				BEGIN

					SELECT @V_CD_EST_GEOGRAFICA = 0
					SELECT @V_CONTADOR_EST_GEOGRAFICA = 0
									
					-- *****************************************************	
					-- PRIMEIRO VAMOS VERIFICAR SE A CIDADE POSSUI UM MUNICIPIO SUBORDINADO
					-- *****************************************************
					
					-- NÃO POSSUI
					IF @v_id_municipio_subordinado = 0
						BEGIN
							
							-- PROCURA NA TABELA TB_EST_GEOGRAFICA PELO NOME DA CIDADE 
							-- E PELO ESTADO (CD_NIVEL_GEO2)

							SELECT @V_CONTADOR_EST_GEOGRAFICA = COUNT(*)
							FROM TB_EST_GEOGRAFICA
							WHERE UPPER(LTRIM(RTRIM(DC_EST_GEOGRAFICA))) = UPPER(LTRIM(RTRIM(@v_cidade)))
							AND CD_NIVEL_EST_GEOGRAFICA = 3 
							AND CD_NIVEL_GEO2 = @v_CD_NIVEL_GEO2
							
							IF @V_CONTADOR_EST_GEOGRAFICA > 0
								BEGIN

									-- Como achou pega o codigo
									SELECT @V_CD_EST_GEOGRAFICA = CD_EST_GEOGRAFICA
									FROM TB_EST_GEOGRAFICA
									WHERE UPPER(LTRIM(RTRIM(DC_EST_GEOGRAFICA))) = UPPER(LTRIM(RTRIM(@v_cidade)))
									AND CD_NIVEL_EST_GEOGRAFICA =3 
									AND CD_NIVEL_GEO2 = @v_CD_NIVEL_GEO2

									-- vamos atulizar a tabela qualocep_cidade
									UPDATE QUALOCEP_CIDADE
									SET CD_NIVEL_GEO3 = @V_CD_EST_GEOGRAFICA,
										DC_NIVEL_GEO3 = @v_cidade, 
										DC_IBGE = @v_cod_ibge,
										ID_EXISTE = 1
									WHERE id_cidade = @v_id_cidade

								END

							ELSE
								
								-- SENÃO EXISTE VAMOS CRIAR

								BEGIN

									SELECT @V_CD_EST_GEOGRAFICA_NEW = MAX(CD_EST_GEOGRAFICA) + 1 FROM TB_EST_GEOGRAFICA

									INSERT INTO TB_EST_GEOGRAFICA (
										CD_EST_GEOGRAFICA,
										DC_EST_GEOGRAFICA,
										ID_ATIVO,
										CD_NIVEL_EST_GEOGRAFICA,
										CD_NIVEL_GEO1,
										CD_NIVEL_GEO2,
										CD_NIVEL_GEO3,
										CD_IBGE,
										DT_CADASTRO,
										CD_USUARIO_CADASTRO,
										DT_ATUALIZACAO,
										CD_USUARIO_ATUALIZACAO)
									VALUES (
										@V_CD_EST_GEOGRAFICA_NEW,
										@v_cidade,
										1,
										3,
										1, 
										@v_CD_NIVEL_GEO2,
										@V_CD_EST_GEOGRAFICA_NEW,
										@v_cod_ibge,
										GETDATE(),
										0, 
										GETDATE(),
										0)


									-- vamos atulizar a tabela qualocep_cidade
									UPDATE QUALOCEP_CIDADE
									SET CD_NIVEL_GEO3 = @V_CD_EST_GEOGRAFICA_NEW,
										DC_NIVEL_GEO3 = @v_cidade, 
										DC_IBGE = @v_cod_ibge,
										ID_EXISTE = 2
									WHERE id_cidade = @v_id_cidade


								END

						END


					ELSE
						-- POSSUI. TEMOS QUE IDENTAR OS NOMES 
						BEGIN

							-- BUSCA O NOME DO MUNICIO SUBORDINADO
							SELECT @v_cidade_subordinado = ''
							SELECT @v_cod_ibge_subordinado = ''
							SELECT @v_cidade_concatenada = ''

							SELECT	@v_cidade_subordinado = cidade,
									--@v_cod_ibge_subordinado = cod_ibge
									@v_cod_ibge_subordinado = LTRIM(RTRIM(Str(COD_IBGE, 25, 0)))
							FROM QUALOCEP_CIDADE
							where id_cidade = @v_id_municipio_subordinado

							-- VAMOS CONCATENAR AS DUAS CIDADES
							SELECT @v_cidade_concatenada = @v_cidade + ' (' + @v_cidade_subordinado + ')'

							-- vamos atulizar a tabela qualocep_cidade
							UPDATE QUALOCEP_CIDADE
									SET DC_NIVEL_GEO3 = @v_cidade_concatenada, 
										DC_IBGE = @v_cod_ibge_subordinado
									WHERE id_cidade = @v_id_cidade


							-- *********************************************************************
							-- AGORA QUE TRATAMOS A CIDADE TEMOS QUE VERIFICAR SE EXISTE
							-- PROCURA NA TABELA TB_EST_GEOGRAFICA PELO NOME DA CIDADE 
							-- E PELO ESTADO (CD_NIVEL_GEO2)
							-- *********************************************************************

							SELECT @V_CONTADOR_EST_GEOGRAFICA = COUNT(*)
							FROM TB_EST_GEOGRAFICA
							WHERE UPPER(LTRIM(RTRIM(DC_EST_GEOGRAFICA))) = UPPER(LTRIM(RTRIM(@v_cidade_concatenada)))
							AND CD_NIVEL_EST_GEOGRAFICA = 3 
							AND CD_NIVEL_GEO2 = @v_CD_NIVEL_GEO2

							IF @V_CONTADOR_EST_GEOGRAFICA > 0
								BEGIN

									-- Como achou pega o codigo
									SELECT @V_CD_EST_GEOGRAFICA = CD_EST_GEOGRAFICA
									FROM TB_EST_GEOGRAFICA
									WHERE UPPER(LTRIM(RTRIM(DC_EST_GEOGRAFICA))) = UPPER(LTRIM(RTRIM(@v_cidade_concatenada)))
									AND CD_NIVEL_EST_GEOGRAFICA = 3 
									AND CD_NIVEL_GEO2 = @v_CD_NIVEL_GEO2

									-- vamos atulizar a tabela qualocep_cidade
									UPDATE QUALOCEP_CIDADE
									SET CD_NIVEL_GEO3 = @V_CD_EST_GEOGRAFICA, ID_EXISTE = 1
									WHERE id_cidade = @v_id_cidade

								END
							ELSE
								-- SE NÃO EXISTE VAMOS CRIAR
								BEGIN

									SELECT @V_CD_EST_GEOGRAFICA_NEW = MAX(CD_EST_GEOGRAFICA) + 1 FROM TB_EST_GEOGRAFICA

									INSERT INTO TB_EST_GEOGRAFICA (
										CD_EST_GEOGRAFICA,
										DC_EST_GEOGRAFICA,
										ID_ATIVO,
										CD_NIVEL_EST_GEOGRAFICA,
										CD_NIVEL_GEO1,
										CD_NIVEL_GEO2,
										CD_NIVEL_GEO3,
										CD_IBGE,
										DT_CADASTRO,
										CD_USUARIO_CADASTRO,
										DT_ATUALIZACAO,
										CD_USUARIO_ATUALIZACAO)
									VALUES (
										@V_CD_EST_GEOGRAFICA_NEW,
										@v_cidade_concatenada,
										1,
										3,
										1, 
										@v_CD_NIVEL_GEO2,
										@V_CD_EST_GEOGRAFICA_NEW,
										@v_cod_ibge,
										GETDATE(),
										0, 
										GETDATE(),
										0)


									-- vamos atulizar a tabela qualocep_cidade
									UPDATE QUALOCEP_CIDADE
									SET CD_NIVEL_GEO3 = @V_CD_EST_GEOGRAFICA_NEW, ID_EXISTE = 2
									WHERE id_cidade = @v_id_cidade

								END



						END

						

					FETCH NEXT FROM @Cursor_Itens
					INTO	@v_id_cidade,
							@v_cidade,
							@v_cod_ibge,
							@v_id_municipio_subordinado,
							@v_CD_NIVEL_GEO2
													
				END

		
	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	SELECT @cdErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @cdErro = 1
      SELECT @dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
