SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_VIM]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO
ID_Evento = 7 - FIM DIA = BONIFICAÇÃO
*************************************************************************/

DECLARE	@EXISTE_REGISTRO                NUMERIC(18,0),
        @VL_PONTOS_TOTAL                NUMERIC(18,2),
        @VL_LIQUIDO_TOTAL               NUMERIC(18,2),
        @CD_PAPEL_PESSOA                NUMERIC(18,0),
        @NM_CICLO_CONTROLE_LIDER        NUMERIC(18,0),
        @NM_CICLO_INICIO_LIDER          NUMERIC(18,0),
        @CALCULA_INDICADOR		INT

	

BEGIN TRY
  


    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN

      --******************************************************************************
      -- GRAVA INDICADOR DE "Venda Pessoal - 1o pedido"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
   	-- VERIFICA O TOTAL DE PONTOS PESSOAL
	SELECT @VL_LIQUIDO_TOTAL = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B, TB_PESSOA_RESUMO C
	WHERE A.CD_PESSOA             = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO    = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	
        AND A.CD_PESSOA               = C.CD_PESSOA
        AND A.CD_FUNCAO               = C.CD_FUNCAO
        AND A.NM_PEDIDO               = C.NM_PRIMEIRO_PEDIDO

        IF @VL_LIQUIDO_TOTAL >= 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1001
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END



      --******************************************************************************
      -- GRAVA INDICADOR DE "Venda Pessoal - mês"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
   	-- VERIFICA O TOTAL DE PONTOS PESSOAL
	SELECT @VL_LIQUIDO_TOTAL = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_PESSOA             = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO    = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0

    IF @VL_LIQUIDO_TOTAL >= 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1002
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_LIQUIDO_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END

      -- BUSCA O PAPEL CARREIRA DA PESSOA
      SELECT @CD_PAPEL_PESSOA = CD_PAPEL_CARREIRA
      FROM TB_PESSOA_RESUMO
      WHERE CD_PESSOA      = @CD_PESSOA 
      AND   CD_FUNCAO      = @CD_FUNCAO
      AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

      
      -- BUSCAR O INICIO DE INICIO NO PAPEL LIDER OU LIDER DIAMANTE
      IF (@CD_PAPEL_PESSOA  IN (4,5) )
      BEGIN
        SELECT @NM_CICLO_CONTROLE_LIDER = @NM_CICLO
        WHILE  @NM_CICLO_CONTROLE_LIDER > 0
        BEGIN
          SELECT  @NM_CICLO_INICIO_LIDER = @NM_CICLO_CONTROLE_LIDER
          SELECT @NM_CICLO_CONTROLE_LIDER = ISNULL(MAX(NM_CICLO),0) 
          FROM TB_PESSOA_PAPEL_HISTORICO
          WHERE CD_PESSOA = @CD_PESSOA 
          AND CD_PAPEL_CARREIRA =  @CD_PAPEL_PESSOA
          AND NM_CICLO          < @NM_CICLO_CONTROLE_LIDER
        END
      END   
  
      IF (@CD_PAPEL_PESSOA = 4)
      BEGIN

        --******************************************************************************
        -- GRAVA INDICADOR DE "Total de pontos Grupo Direto"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
        IF @CALCULA_INDICADOR = 1
        BEGIN		
	  -- VERIFICA O TOTAL DE PONTOS DA EQUIPE
	  SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_DIRETO_VIM (@CD_PESSOA,@NM_CICLO_INICIO_LIDER,@CD_PAPEL_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,0) -- TODOS OS PAPEIS DOS DIRETOS

  	  IF @VL_PONTOS_TOTAL >= 0 
  	  BEGIN 
	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1003
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
	  END
        END


        --******************************************************************************
        -- GRAVA INDICADOR DE "Total de pontos Grupo Direto - Bronze"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
        IF @CALCULA_INDICADOR = 1
        BEGIN		
	  -- VERIFICA O TOTAL DE PONTOS DA EQUIPE
	  SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_DIRETO_VIM (@CD_PESSOA,@NM_CICLO_INICIO_LIDER,@CD_PAPEL_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,1) -- PAPEL BRONZE  DOS DIRETOS

  	  IF @VL_PONTOS_TOTAL >= 0 
  	  BEGIN 
	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1004
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
	  END
        END


        --******************************************************************************
        -- GRAVA INDICADOR DE "Total de pontos Grupo Direto - Prata"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
        IF @CALCULA_INDICADOR = 1
        BEGIN		
	  -- VERIFICA O TOTAL DE PONTOS DA EQUIPE
	  SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_DIRETO_VIM (@CD_PESSOA,@NM_CICLO_INICIO_LIDER,@CD_PAPEL_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,2) -- PAPEL PRATA  DOS DIRETOS

  	  IF @VL_PONTOS_TOTAL >= 0 
  	  BEGIN 
	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1005
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
	  END
        END


        --******************************************************************************
        -- GRAVA INDICADOR DE "Total de pontos Grupo Direto - Ouro"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
        IF @CALCULA_INDICADOR = 1
        BEGIN		
	  -- VERIFICA O TOTAL DE PONTOS DA EQUIPE
	  SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_DIRETO_VIM (@CD_PESSOA,@NM_CICLO_INICIO_LIDER,@CD_PAPEL_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,3) -- PAPEL OURO  DOS DIRETOS

  	  IF @VL_PONTOS_TOTAL >= 0 
  	  BEGIN 
	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1006
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
	  END
        END


        --******************************************************************************
        -- GRAVA INDICADOR DE "Total de pontos Grupo Direto - Lider"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
        IF @CALCULA_INDICADOR = 1
        BEGIN		
	  -- VERIFICA O TOTAL DE PONTOS DA EQUIPE
	  SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_DIRETO_VIM (@CD_PESSOA,@NM_CICLO_INICIO_LIDER,@CD_PAPEL_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,4) -- PAPEL LIDER  DOS DIRETOS

  	  IF @VL_PONTOS_TOTAL >= 0 
  	  BEGIN 
	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1007
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
	  END
        END

      END -- @CD_PAPEL_PESSOA = 4

      
      IF (@CD_PAPEL_PESSOA = 5)
      BEGIN
        --******************************************************************************
        -- GRAVA INDICADOR DE "Total de pontos revista Grupo Direto"
        --******************************************************************************/
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
        IF @CALCULA_INDICADOR = 1
        BEGIN		
	  -- VERIFICA O TOTAL DE PONTOS DA EQUIPE
	  SELECT @VL_PONTOS_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_DIRETO_VIM (@CD_PESSOA,@NM_CICLO_INICIO_LIDER,@CD_PAPEL_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,0) -- TODOS OS PAPEIS  DOS DIRETOS

  	  IF @VL_PONTOS_TOTAL >= 0 
  	  BEGIN 
	    --VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
            FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA          = @CD_PESSOA
	    AND CD_FUNCAO            = @CD_FUNCAO
	    AND CD_INDICADOR_PESSOAL = 1008
	    AND NM_CICLO             = @NM_CICLO
	    AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	    IF (@EXISTE_REGISTRO     = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	    END
	  END
        END



      END -- @CD_PAPEL_PESSOA = 5


    END -- fim EVENTO = 6

			
  SELECT @VAR_RETORNO = 0	
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
