SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaInserePessoa10MinutosSidney]
	@P_CD_PESSOA            NUMERIC(18,0),
	@P_CD_ENTIDADE          NUMERIC(15,0) OUTPUT,
	@VAR_RETORNO		INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS

DECLARE @P_CPF    VARCHAR(50)
DECLARE @ENTIDADE      NUMERIC(15,0),
	@ENTIDADE_AUX NUMERIC(15,0)

DECLARE @NOME               VARCHAR(80),
	@NOME_FANTASIA      VARCHAR(80),
	@RG                 VARCHAR(80),
	@EMPRESA_NACIONAL   VARCHAR(1),
	@CONTRIBUINTE_ICMS  VARCHAR(1), 
	@ORIGEM_CADASTRO    NUMERIC(5,0),
	@SEXO               VARCHAR(1),
	@ESTADO_CIVIL       NUMERIC(1,0),
	@DATA_INCLUSAO      DATE,
	@DATA_HORA_INCLUSAO DATETIME,
	@POSSUI_EMAIL       VARCHAR(1),
	@ESTADO             NUMERIC(1,0),
	@DATA_NASCIMENTO    DATE,

	@TIPO_TELEFONE_R    NUMERIC(2,0),
	@DDI_R              NUMERIC(4,0),
	@DDD_R	            NUMERIC(3,0),	
	@NUMERO_TEL_R 	    NUMERIC(12,0),
	@CONTATO_R          VARCHAR(30),

	@TIPO_TELEFONE_C    NUMERIC(2,0),
	@DDI_C              NUMERIC(4,0),
	@DDD_C	            NUMERIC(3,0),	
	@NUMERO_TEL_C 	    NUMERIC(12,0),
	@CONTATO_C          VARCHAR(30),

	@EMAIL		    VARCHAR(100),
	@PREFERENCIAL	    VARCHAR(1),
	@PAIS_R		    VARCHAR(40),
	@CEP_R		    VARCHAR(9),
	@TIPO_ENDERECO_R    VARCHAR(15),
	@ENDERECO_R         VARCHAR(60),
	@NUMERO_R	    NUMERIC(10,0),
	@COMPLEMENTO_R	    VARCHAR(60),
	@BAIRRO_R	    VARCHAR(40),
	@CIDADE_R	    VARCHAR(40),
	@ESTADO_R	    VARCHAR(2),
	@REFERENCIA_R	    VARCHAR(20),
	@CODIGO_IBGE_R      NUMERIC(7,0),
	@MUNICIPIO_R	    NUMERIC(15,0),
	@PAIS_E		    VARCHAR(40),
	@CEP_E		    VARCHAR(9),
	@TIPO_ENDERECO_E    VARCHAR(15),
	@ENDERECO_E         VARCHAR(60),
	@NUMERO_E	    NUMERIC(10,0),
	@COMPLEMENTO_E	    VARCHAR(60),
	@BAIRRO_E	    VARCHAR(40),
	@CIDADE_E	    VARCHAR(40),
	@ESTADO_E	    VARCHAR(2),
	@REFERENCIA_E	    VARCHAR(20),
	@CODIGO_IBGE_E      NUMERIC(7,0),
	@MUNICIPIO_E	    NUMERIC(15,0),
	@CLASSIFICACAO       NUMERIC(2,0),
	@VISUALIZACAO_TELEVENDAS VARCHAR(1),	
	@RECEBER_EMAIL  VARCHAR(1),
	@RECEBER_SMS   VARCHAR(1),
	@OBSERVACAO NVARCHAR(MAX),
	@CARTAO_FIDELIDADE VARCHAR(15)
		
	


BEGIN TRY
	-- ***********************************************
	-- POPULA AS VARIAVEIS DE SAIDA
	-- ***********************************************
	SELECT @VAR_RETORNO        = 0
	SELECT @DC_ERRO            = ''
	SELECT @QT_LINHAS_AFETADAS = 0

	-- 1) BUSCAR O CPF DA PESSOA
	SELECT @P_CPF = [dbo].[FN_BUSCA_DOCUMENTO_PESSOA](@P_CD_PESSOA, 1)

	-- 2) IDENTIFICAR SE E INCLUSAO OU ALTERACAO NO PROCFIT
	SELECT @ENTIDADE_AUX = 1 --ISNULL(MAX(ENTIDADE),0)
	--FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENTIDADES  WITH (NOLOCK)
	--WHERE INSCRICAO_FEDERAL = @P_CPF

	IF (@ENTIDADE_AUX = 0) -- INCLUSAO
	BEGIN
		-- 3) BUSCAR AS INFORMACOES DO CADASTRO
		--SELECT  @NOME               = [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA),
		--	@NOME_FANTASIA      = [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA),  
		--	@RG                 = [dbo].[FN_BUSCA_DOCUMENTO_PESSOA](A.CD_PESSOA, 2),
		--	@EMPRESA_NACIONAL   = 'S',
		--	@CONTRIBUINTE_ICMS  = 'N',
		--	@ORIGEM_CADASTRO    = 4,
		--	@SEXO               = CASE WHEN (B.ID_SEXO = 1) THEN 'F' ELSE 'M' END,
		--	@ESTADO_CIVIL       = B.ID_ESTADO_CIVIL,
		--	@DATA_INCLUSAO      = CONVERT(DATE,A.DT_CADASTRO_PESSOA),
		--	@DATA_HORA_INCLUSAO = A.DT_CADASTRO_PESSOA,
		--	@POSSUI_EMAIL       = 'S',
		--	@ESTADO             = 1,
		--	@DATA_NASCIMENTO    = B.DT_NASCIMENTO,
		--	@TIPO_TELEFONE_R    = 2,
		--	@DDI_R              = 55,
		--	@DDD_R	            = (SELECT CASE WHEN (DC_TELEFONE <>'') then SUBSTRING(DC_TELEFONE,2,2) ELSE NULL END FROM TB_PESSOA_TELEFONE WITH (NOLOCK) WHERE CD_PESSOA = A.CD_PESSOA AND ID_TIPO_TELEFONE = 1),
		--	@NUMERO_TEL_R 	    = (SELECT CASE WHEN (DC_TELEFONE <>'') then REPLACE(SUBSTRING(DC_TELEFONE,6,10),'-','')  ELSE NULL END FROM TB_PESSOA_TELEFONE WITH (NOLOCK) WHERE CD_PESSOA = A.CD_PESSOA AND ID_TIPO_TELEFONE = 1),
	
		--	--@NUMERO_TEL_R 	    = (SELECT CASE WHEN (DC_TELEFONE <>'') then SUBSTRING(DC_TELEFONE,6,4)+SUBSTRING(DC_TELEFONE,11,4)  ELSE NULL END FROM TB_PESSOA_TELEFONE WITH (NOLOCK) WHERE CD_PESSOA = A.CD_PESSOA AND ID_TIPO_TELEFONE = 1),
		--	@CONTATO_R          ='',
		--	@TIPO_TELEFONE_C    = 3,
		--	@DDI_C              = 55,
		--	@DDD_C	            = (SELECT CASE WHEN (DC_TELEFONE <>'') then SUBSTRING(DC_TELEFONE,2,2) ELSE NULL END FROM TB_PESSOA_TELEFONE WITH (NOLOCK) WHERE CD_PESSOA = A.CD_PESSOA AND ID_TIPO_TELEFONE = 3),	
		--	@NUMERO_TEL_C 	    = (SELECT CASE WHEN (DC_TELEFONE <>'') then REPLACE(SUBSTRING(DC_TELEFONE,6,10),'-','')  ELSE NULL END FROM TB_PESSOA_TELEFONE WITH (NOLOCK) WHERE CD_PESSOA = A.CD_PESSOA AND ID_TIPO_TELEFONE = 3), 
  --                                            --(SELECT CASE WHEN (DC_TELEFONE <>'') then SUBSTRING(DC_TELEFONE,6,4)+SUBSTRING(DC_TELEFONE,11,5)  ELSE NULL END FROM TB_PESSOA_TELEFONE WITH (NOLOCK) WHERE CD_PESSOA = A.CD_PESSOA AND ID_TIPO_TELEFONE = 3),
		--	@CONTATO_C          = '',
		--	@EMAIL		    = [dbo].[FN_BUSCA_EMAIL_PESSOA] (A.CD_PESSOA, 0),
		--	@PREFERENCIAL	    = 'S',
		--	@PAIS_R		    = SUBSTRING(C.DC_ESTRUTURA_GEO1,1,40),
		--	@CEP_R		    = SUBSTRING(C.DC_CODIGO_POSTAL,1,5)+'-'+SUBSTRING(C.DC_CODIGO_POSTAL,6,3),
		--	@TIPO_ENDERECO_R    = SUBSTRING(CASE WHEN (SUBSTRING(C.DC_CODIGO_POSTAL,6,3) = '000') THEN 'RUA' ELSE
		--		 	      SUBSTRING(C.DC_ESTRUTURA_GEO5, 1, CHARINDEX(' ', C.DC_ESTRUTURA_GEO5))  END,1,15),
		--	@ENDERECO_R         = SUBSTRING(C.DC_ESTRUTURA_GEO5,1,60),
		--	@NUMERO_R	    = CONVERT(NUMERIC(10,0),C.DC_NUMERO),
		--	@COMPLEMENTO_R      = C.DC_COMPLEMENTO,
		--	@BAIRRO_R	    = SUBSTRING(C.DC_ESTRUTURA_GEO4,1,40),
		--	@CIDADE_R	    = SUBSTRING(C.DC_ESTRUTURA_GEO3,1,40),
		--	@ESTADO_R	    = SUBSTRING(C.DC_ESTRUTURA_GEO2,1,2),
		--	@REFERENCIA_R	    = SUBSTRING(C.DC_REFERENCIA,1,20),
	 --               @CODIGO_IBGE_R   = (SELECT X.CD_IBGE FROM TB_EST_GEOGRAFICA X WITH (NOLOCK) WHERE  X.ID_ATIVO = 1 AND X.CD_EST_GEOGRAFICA IN 
  --                       			            (SELECT Y.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA Y WITH (NOLOCK) WHERE Y.ID_ATIVO = 1 AND Y.CD_EST_GEOGRAFICA = C.CD_EST_GEOGRAFICA)),
		--	--@MUNICIPIO_R      = ( SELECT V.MUNICIPIO FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS V WITH (NOLOCK) WHERE V.CODIGO_IBGE  IN ( 
		--	--				(SELECT X.CD_IBGE FROM TB_EST_GEOGRAFICA X WITH (NOLOCK) WHERE  X.ID_ATIVO = 1 AND X.CD_EST_GEOGRAFICA IN 
  --                      -- 			            (SELECT Y.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA Y WITH (NOLOCK) WHERE Y.ID_ATIVO = 1 AND Y.CD_EST_GEOGRAFICA = C.CD_EST_GEOGRAFICA)) ) )
		--	--@CODIGO_IBGE_R      = (SELECT CODIGO_IBGE FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS WITH (NOLOCK) WHERE Nome = C.DC_ESTRUTURA_GEO3 AND ESTADO = C.DC_ESTRUTURA_GEO2),	
		--	@MUNICIPIO_R	    = (SELECT MUNICIPIO   FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS WITH (NOLOCK) WHERE Nome = C.DC_ESTRUTURA_GEO3 AND ESTADO = C.DC_ESTRUTURA_GEO2),	

		--	@PAIS_E		    = SUBSTRING(D.DC_ESTRUTURA_GEO1,1,40),
		--	@CEP_E		    = SUBSTRING(D.DC_CODIGO_POSTAL,1,5)+'-'+SUBSTRING(D.DC_CODIGO_POSTAL,6,3),
		--	@TIPO_ENDERECO_E    = SUBSTRING(CASE WHEN (SUBSTRING(D.DC_CODIGO_POSTAL,6,3) = '000') THEN 'RUA' ELSE
		--		 	      SUBSTRING(D.DC_ESTRUTURA_GEO5, 1, CHARINDEX(' ', D.DC_ESTRUTURA_GEO5))  END,1,15),
		--	@ENDERECO_E         = SUBSTRING(D.DC_ESTRUTURA_GEO5,1,60),
		--	@NUMERO_E	    = CONVERT(NUMERIC(10,0),D.DC_NUMERO),
		--	@COMPLEMENTO_E      = D.DC_COMPLEMENTO,
		--	@BAIRRO_E	    = SUBSTRING(D.DC_ESTRUTURA_GEO4,1,40),
		--	@CIDADE_E	    = SUBSTRING(D.DC_ESTRUTURA_GEO3,1,40),
		--	@ESTADO_E	    = SUBSTRING(D.DC_ESTRUTURA_GEO2,1,2),
		--	@REFERENCIA_E	    = SUBSTRING(D.DC_REFERENCIA,1,20),
	 --               @CODIGO_IBGE_E   = (SELECT X.CD_IBGE FROM TB_EST_GEOGRAFICA X WITH (NOLOCK) WHERE  X.ID_ATIVO = 1 AND X.CD_EST_GEOGRAFICA IN 
  --                       			            (SELECT Y.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA Y WITH (NOLOCK) WHERE Y.ID_ATIVO = 1 AND Y.CD_EST_GEOGRAFICA = D.CD_EST_GEOGRAFICA)),
		--	--@MUNICIPIO_E      = ( SELECT V.MUNICIPIO FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS V WITH (NOLOCK) WHERE V.CODIGO_IBGE  IN ( 
		--	--				(SELECT X.CD_IBGE FROM TB_EST_GEOGRAFICA X WITH (NOLOCK) WHERE  X.ID_ATIVO = 1 AND X.CD_EST_GEOGRAFICA IN 
  --                      -- 			            (SELECT Y.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA Y WITH (NOLOCK) WHERE Y.ID_ATIVO = 1 AND Y.CD_EST_GEOGRAFICA = D.CD_EST_GEOGRAFICA)) ) )
		--	--@CODIGO_IBGE_E      = (SELECT CODIGO_IBGE FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS WITH (NOLOCK) WHERE Nome = D.DC_ESTRUTURA_GEO3 AND ESTADO = D.DC_ESTRUTURA_GEO2),
		--	@MUNICIPIO_E	    = (SELECT MUNICIPIO   FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS WITH (NOLOCK) WHERE Nome = D.DC_ESTRUTURA_GEO3 AND ESTADO = D.DC_ESTRUTURA_GEO2),
		--	@CLASSIFICACAO      = 2,
		--	@VISUALIZACAO_TELEVENDAS = 'S',
		--	@RECEBER_EMAIL     = CASE WHEN (P.ID_ACEITA_EMAIL = 2) THEN 'N' ELSE 'S' END,
		--	@RECEBER_SMS       = CASE WHEN (ID_ACEITA_SMS = 2) THEN 'N' ELSE 'S' END,
		--	@OBSERVACAO         = '',
		--	@CARTAO_FIDELIDADE  = ''	
		--FROM TB_PESSOA_RESUMO A WITH (NOLOCK)
		--	INNER JOIN TB_PESSOA_FISICA B WITH (NOLOCK) ON A.CD_PESSOA = B.CD_PESSOA 
		--	INNER JOIN TB_PESSOA        P WITH (NOLOCK) ON A.CD_PESSOA = P.CD_PESSOA
		--	LEFT  JOIN TB_PESSOA_ENDERECO C WITH (NOLOCK) ON A.CD_PESSOA = C.CD_PESSOA AND C.ID_TIPO_ENDERECO = 1
		--	LEFT  JOIN TB_PESSOA_ENDERECO D WITH (NOLOCK) ON A.CD_PESSOA = D.CD_PESSOA AND D.ID_TIPO_ENDERECO = 2
		--WHERE A.CD_PESSOA = @P_CD_PESSOA            
		--AND   A.CD_FUNCAO = 2
		

		-- 4) INSERIR ENTIDADE CLIENTE
		--BEGIN TRANSACTION
		--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENTIDADES 
		--			(NOME, NOME_FANTASIA, INSCRICAO_FEDERAL, INSCRICAO_ESTADUAL, EMPRESA_NACIONAL, CONTRIBUINTE_ICMS, ORIGEM_CADASTRO) 
		--			VALUES (@NOME, @NOME_FANTASIA, @P_CPF, @RG, @EMPRESA_NACIONAL, @CONTRIBUINTE_ICMS, @ORIGEM_CADASTRO)
		--SELECT @ENTIDADE = IDENT_CURRENT('INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENTIDADES')
		--COMMIT TRANSACTION	
		-- 4.1) BUSCAR A ENTIDADE (PESSOA) INCLUIDA		
		SELECT @ENTIDADE = 1--ISNULL(MAX(ENTIDADE),0)
		--FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENTIDADES  WITH (NOLOCK)
		--WHERE INSCRICAO_FEDERAL = @P_CPF

		
		-- 5) INSERIR CLIENTE PF
		--BEGIN TRANSACTION
		--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.PESSOAS_FISICAS 
		--	(ENTIDADE, NOME, NOME_FANTASIA, INSCRICAO_FEDERAL, INSCRICAO_ESTADUAL, ORIGEM_CADASTRO, SEXO  , ESTADO_CIVIL, DATA_INCLUSAO,   DATA_HORA_INCLUSAO,  POSSUI_EMAIL,  ESTADO,  DATA_NASCIMENTO, CARTAO_FIDELIDADE)
 	--		VALUES (@ENTIDADE, @NOME, @NOME_FANTASIA, @P_CPF, @RG                , @ORIGEM_CADASTRO, @SEXO, @ESTADO_CIVIL, @DATA_INCLUSAO, @DATA_HORA_INCLUSAO, @POSSUI_EMAIL, @ESTADO, @DATA_NASCIMENTO, @CARTAO_FIDELIDADE );
		--COMMIT TRANSACTION			
				
		-- 6) INSERIR TELEFONE CLIENTE
		-- 6.1) INSERIR TELEFONE RESIDENCIAL
		IF (@NUMERO_TEL_R IS NOT NULL)
		BEGIN
			--BEGIN TRANSACTION
			--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.TELEFONES (ENTIDADE, TIPO_TELEFONE, DDI, DDD, NUMERO, CONTATO) 
			--VALUES (@ENTIDADE, @TIPO_TELEFONE_R, @DDI_R, @DDD_R, @NUMERO_TEL_R, @CONTATO_R);
			--COMMIT TRANSACTION

			SELECT @ENTIDADE = 1
		END

		-- 6.2) INSERIR TELEFONE CELULAR
		IF (@NUMERO_TEL_C IS NOT NULL)
		BEGIN
			--BEGIN TRANSACTION
			--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.TELEFONES (ENTIDADE, TIPO_TELEFONE, DDI, DDD, NUMERO, CONTATO) 
			--VALUES (@ENTIDADE, @TIPO_TELEFONE_C, @DDI_C, @DDD_C, @NUMERO_TEL_C, @CONTATO_C);
			--COMMIT TRANSACTION

			SELECT @ENTIDADE = 1
		END

		-- 7) INSERIR TELEFONE CLIENTE
		--BEGIN TRANSACTION
		--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.EMAIL (ENTIDADE, EMAIL, PREFERENCIAL)
 		--VALUES (@ENTIDADE, @EMAIL, @PREFERENCIAL);
		--COMMIT TRANSACTION

		-- 8) INSERIR ENDEREÇO CLIENTE
		--BEGIN TRANSACTION
		--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENDERECOS (ENTIDADE, PAIS, CEP, TIPO_ENDERECO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, CIDADE, ESTADO, REFERENCIA, MUNICIPIO, CODIGO_IBGE)
 		--VALUES (@ENTIDADE, @PAIS_R,@CEP_R, @TIPO_ENDERECO_R, @ENDERECO_R, @NUMERO_R, @COMPLEMENTO_R, @BAIRRO_R, @CIDADE_R, @ESTADO_R, @REFERENCIA_R, @MUNICIPIO_R, @CODIGO_IBGE_R);
		--COMMIT TRANSACTION


		-- 9) INSERIR ENDEREÇO COBRANÇA CLIENTE
		--BEGIN TRANSACTION
		--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENDERECOS_COBRANCA (ENTIDADE, PAIS, CEP, TIPO_ENDERECO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, CIDADE, ESTADO, REFERENCIA, MUNICIPIO, CODIGO_IBGE) 
		--VALUES (@ENTIDADE, @PAIS_R,@CEP_R, @TIPO_ENDERECO_R, @ENDERECO_R, @NUMERO_R, substring(@COMPLEMENTO_R,1,20), @BAIRRO_R, @CIDADE_R, @ESTADO_R, @REFERENCIA_R, @MUNICIPIO_R, @CODIGO_IBGE_R);
		--COMMIT TRANSACTION

		-- 10) INSERIR ENDEREÇO ENTREGA CLIENTE
		--BEGIN TRANSACTION
		--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENDERECOS_ENTREGA (ENTIDADE, PAIS, CEP, TIPO_ENDERECO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, CIDADE, ESTADO, REFERENCIA, MUNICIPIO, CODIGO_IBGE)
		--VALUES (@ENTIDADE, @PAIS_E, @CEP_E, @TIPO_ENDERECO_E, @ENDERECO_E, @NUMERO_E, @COMPLEMENTO_E, @BAIRRO_E, @CIDADE_E, @ESTADO_E, @REFERENCIA_E, @MUNICIPIO_E, @CODIGO_IBGE_E);
		--COMMIT TRANSACTION
		
		-- 11) INSERIR CLASSIFICACAO CLIENTE
		--BEGIN TRANSACTION
		--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.CLASSIFICACOES (ENTIDADE, CLASSIFICACAO, VISUALIZACAO_TELEVENDAS)
 		--VALUES (@ENTIDADE, @CLASSIFICACAO, @VISUALIZACAO_TELEVENDAS);
		--COMMIT TRANSACTION
		
		-- 12) INSERIR RELACIONAMENTO CLIENTE
		--BEGIN TRANSACTION
		--INSERT INTO INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENTIDADES_RELACIONAMENTOS (ENTIDADE, RECEBER_EMAIL, RECEBER_SMS, OBSERVACAO)
 		--VALUES (@ENTIDADE, @RECEBER_EMAIL, @RECEBER_SMS, @OBSERVACAO );
		--COMMIT TRANSACTION

		SELECT @P_CD_ENTIDADE = @ENTIDADE

	END                
	

	IF (@ENTIDADE_AUX > 0) -- ALTERACAO
	BEGIN

		-- 13) BUSCAR AS INFORMACOES DO CADASTRO
		--SELECT  @PAIS_R		    = SUBSTRING(C.DC_ESTRUTURA_GEO1,1,40),
		--	@CEP_R		    = SUBSTRING(C.DC_CODIGO_POSTAL,1,5)+'-'+SUBSTRING(C.DC_CODIGO_POSTAL,6,3),
		--	@TIPO_ENDERECO_R    = SUBSTRING(CASE WHEN (SUBSTRING(C.DC_CODIGO_POSTAL,6,3) = '000') THEN 'RUA' ELSE
		--		 	      SUBSTRING(C.DC_ESTRUTURA_GEO5, 1, CHARINDEX(' ', C.DC_ESTRUTURA_GEO5))  END,1,15),
		--	@ENDERECO_R         = SUBSTRING(C.DC_ESTRUTURA_GEO5,1,60),
		--	@NUMERO_R	    = CONVERT(NUMERIC(10,0),C.DC_NUMERO),
		--	@COMPLEMENTO_R      = C.DC_COMPLEMENTO,
		--	@BAIRRO_R	    = SUBSTRING(C.DC_ESTRUTURA_GEO4,1,40),
		--	@CIDADE_R	    = SUBSTRING(C.DC_ESTRUTURA_GEO3,1,40),
		--	@ESTADO_R	    = SUBSTRING(C.DC_ESTRUTURA_GEO2,1,2),
		--	@REFERENCIA_R	    = SUBSTRING(C.DC_REFERENCIA,1,20),
	 --               @CODIGO_IBGE_R   = (SELECT X.CD_IBGE FROM TB_EST_GEOGRAFICA X WITH (NOLOCK) WHERE  X.ID_ATIVO = 1 AND X.CD_EST_GEOGRAFICA IN 
  --                       			            (SELECT Y.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA Y WITH (NOLOCK) WHERE Y.ID_ATIVO = 1 AND Y.CD_EST_GEOGRAFICA = C.CD_EST_GEOGRAFICA)),
		--	--@MUNICIPIO_R      = ( SELECT V.MUNICIPIO FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS V WITH (NOLOCK) WHERE V.CODIGO_IBGE  IN ( 
		--	--				(SELECT X.CD_IBGE FROM TB_EST_GEOGRAFICA X WITH (NOLOCK) WHERE  X.ID_ATIVO = 1 AND X.CD_EST_GEOGRAFICA IN 
  --                      -- 			            (SELECT Y.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA Y WITH (NOLOCK) WHERE Y.ID_ATIVO = 1 AND Y.CD_EST_GEOGRAFICA = C.CD_EST_GEOGRAFICA)) ) )
		--	--@CODIGO_IBGE_R      = (SELECT CODIGO_IBGE FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS WITH (NOLOCK) WHERE Nome = C.DC_ESTRUTURA_GEO3 AND ESTADO = C.DC_ESTRUTURA_GEO2),	
		--	@MUNICIPIO_R	    = (SELECT MUNICIPIO   FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS WITH (NOLOCK) WHERE Nome = C.DC_ESTRUTURA_GEO3 AND ESTADO = C.DC_ESTRUTURA_GEO2),

		--	@PAIS_E		    = SUBSTRING(D.DC_ESTRUTURA_GEO1,1,40),
		--	@CEP_E		    = SUBSTRING(D.DC_CODIGO_POSTAL,1,5)+'-'+SUBSTRING(D.DC_CODIGO_POSTAL,6,3),
		--	@TIPO_ENDERECO_E    = SUBSTRING(CASE WHEN (SUBSTRING(D.DC_CODIGO_POSTAL,6,3) = '000') THEN 'RUA' ELSE
		--		 	      SUBSTRING(D.DC_ESTRUTURA_GEO5, 1, CHARINDEX(' ', D.DC_ESTRUTURA_GEO5))  END,1,15),
		--	@ENDERECO_E         = SUBSTRING(D.DC_ESTRUTURA_GEO5,1,60),
		--	@NUMERO_E	    = CONVERT(NUMERIC(10,0),D.DC_NUMERO),
		--	@COMPLEMENTO_E      = D.DC_COMPLEMENTO,
		--	@BAIRRO_E	    = SUBSTRING(D.DC_ESTRUTURA_GEO4,1,40),
		--	@CIDADE_E	    = SUBSTRING(D.DC_ESTRUTURA_GEO3,1,40),
		--	@ESTADO_E	    = SUBSTRING(D.DC_ESTRUTURA_GEO2,1,2),
		--	@REFERENCIA_E	    = SUBSTRING(D.DC_REFERENCIA,1,20),
	 --               @CODIGO_IBGE_E   = (SELECT X.CD_IBGE FROM TB_EST_GEOGRAFICA X WITH (NOLOCK) WHERE  X.ID_ATIVO = 1 AND X.CD_EST_GEOGRAFICA IN 
  --                       			            (SELECT Y.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA Y WITH (NOLOCK) WHERE Y.ID_ATIVO = 1 AND Y.CD_EST_GEOGRAFICA = D.CD_EST_GEOGRAFICA)),
		--	--@MUNICIPIO_E      = ( SELECT V.MUNICIPIO FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS V WITH (NOLOCK) WHERE V.CODIGO_IBGE  IN ( 
		--	--				(SELECT X.CD_IBGE FROM TB_EST_GEOGRAFICA X WITH (NOLOCK) WHERE  X.ID_ATIVO = 1 AND X.CD_EST_GEOGRAFICA IN 
  --                      -- 			            (SELECT Y.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA Y WITH (NOLOCK) WHERE Y.ID_ATIVO = 1 AND Y.CD_EST_GEOGRAFICA = D.CD_EST_GEOGRAFICA)) ) )
		--	--@CODIGO_IBGE_E      = (SELECT CODIGO_IBGE FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS WITH (NOLOCK) WHERE Nome = D.DC_ESTRUTURA_GEO3 AND ESTADO = D.DC_ESTRUTURA_GEO2),
		--	@MUNICIPIO_E	    = (SELECT MUNICIPIO   FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.MUNICIPIOS WITH (NOLOCK) WHERE Nome = D.DC_ESTRUTURA_GEO3 AND ESTADO = D.DC_ESTRUTURA_GEO2)
		--FROM TB_PESSOA_RESUMO A WITH (NOLOCK)
		--	LEFT  JOIN TB_PESSOA_ENDERECO C WITH (NOLOCK) ON A.CD_PESSOA = C.CD_PESSOA AND C.ID_TIPO_ENDERECO = 1
		--	LEFT  JOIN TB_PESSOA_ENDERECO D WITH (NOLOCK) ON A.CD_PESSOA = D.CD_PESSOA AND D.ID_TIPO_ENDERECO = 2
		--WHERE A.CD_PESSOA = @P_CD_PESSOA            
		--AND   A.CD_FUNCAO = 2

		-- 14) ATUALIZAR ENDEREÇO CLIENTE
		--BEGIN TRANSACTION
		--UPDATE INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENDERECOS
		--			SET PAIS      = @PAIS_R, 
		--			CEP           = @CEP_R, 
		--			TIPO_ENDERECO = @TIPO_ENDERECO_R,
		--			ENDERECO      = @ENDERECO_R , 
		--			NUMERO        = @NUMERO_R, 
		--			COMPLEMENTO   = @COMPLEMENTO_R, 
		--			BAIRRO        = @BAIRRO_R, 
		--			CIDADE        = @CIDADE_R, 
		--			ESTADO        = @ESTADO_R, 
		--			REFERENCIA    = @REFERENCIA_R, 
		--			MUNICIPIO     = @MUNICIPIO_R, 
		--			CODIGO_IBGE   = @CODIGO_IBGE_R 
		--WHERE ENTIDADE = @ENTIDADE_AUX  -- AND ENDERECOS = @Id;
		--COMMIT TRANSACTION

		-- 15) ATUALIZAR ENDEREÇO COBRANÇA CLIENTE
		--BEGIN TRANSACTION
		--UPDATE INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENDERECOS_COBRANCA 
		--			SET PAIS      = @PAIS_R, 
		--			CEP           = @CEP_R, 
		--			TIPO_ENDERECO = @TIPO_ENDERECO_R,
		--			ENDERECO      = @ENDERECO_R , 
		--			NUMERO        = @NUMERO_R, 
		--			COMPLEMENTO   = substring(@COMPLEMENTO_R,1,20), 
		--			BAIRRO        = @BAIRRO_R, 
		--			CIDADE        = @CIDADE_R, 
		--			ESTADO        = @ESTADO_R, 
		--			REFERENCIA    = @REFERENCIA_R, 
		--			MUNICIPIO     = @MUNICIPIO_R, 
		--			CODIGO_IBGE   = @CODIGO_IBGE_R 
		--WHERE ENTIDADE = @ENTIDADE_AUX  -- AND ENDERECOS = @Id;
		--COMMIT TRANSACTION

		-- 15) ATUALIZAR ENDEREÇO ENTREGA CLIENTE
		--BEGIN TRANSACTION
		--UPDATE INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.ENDERECOS_ENTREGA
		--			SET PAIS      = @PAIS_E, 
		--			CEP           = @CEP_E, 
		--			TIPO_ENDERECO = @TIPO_ENDERECO_E,
		--			ENDERECO      = @ENDERECO_E, 
		--			NUMERO        = @NUMERO_E, 
		--			COMPLEMENTO   = @COMPLEMENTO_E, 
		--			BAIRRO        = @BAIRRO_E, 
		--			CIDADE        = @CIDADE_E, 
		--			ESTADO        = @ESTADO_E, 
		--			REFERENCIA    = @REFERENCIA_E, 
		--			MUNICIPIO     = @MUNICIPIO_E, 
		--			CODIGO_IBGE   = @CODIGO_IBGE_E
		--WHERE ENTIDADE = @ENTIDADE_AUX  -- AND ENDERECOS = @Id;
		--COMMIT TRANSACTION

		SELECT @P_CD_ENTIDADE = @ENTIDADE_AUX

	END                


	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
