SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaGeraAlocacaoRede]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoFuncao					int,
	@p_codigoEstruturaComercial		numeric(18,0),
	@p_numeroCiclo					numeric(18,0),
	@p_codigoUsuario				numeric(18,0),

	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS


DECLARE @v_codigoSitComercialAtualPessoa	int,
		@v_numeroCicloAtualEstrutura		numeric(18,0),
		@v_codigoTipoAlocacao				int,
		@v_numeroCicloAnterior				numeric(18,0),
		@v_qtdRegistros						numeric(18,0),
		@v_codigoRedeBinaria				NUMERIC(18,0),
		@v_codigoEstComercialAtualPessoa	NUMERIC(18,0),
		@v_idMeioCiclo						int,
		@v_qtdePedidosAbertos				int

DECLARE  @v_numeroCicloAtualPessoa		numeric(18,0)

DECLARE @v_contadorRegistro   numeric(18,0)

DECLARE @v_codigoSituacaoCadastro int
				
BEGIN TRY
	

	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	select @v_idMeioCiclo = 0
	
	-- ****************************************************
	-- BUSCA SITUACAO COMERCIAL ATUAL DA PESSOA
	-- CASO NAO ENCONTRE NENHUM REGISTRO SIGNIFICA QUE É UMA 
	-- PESSOA NOVA ENTÃO VAMOS COLOCAR O VALOR COMO -1
	-- ****************************************************
	SELECT @v_codigoSitComercialAtualPessoa = ISNULL(MAX(CD_SITUACAO_COMERCIAL), -1),	
		@v_numeroCicloAtualPessoa = ISNULL(MAX(B.CICLO),0) -- INCLUIDO ALDIR (24/08/2023)
	FROM TB_PESSOA_RESUMO WITH(NOLOCK),
	     (SELECT ISNULL(MAX(NM_CICLO),0) CICLO FROM TB_HIST_SITUACAO_CONSULTORA WITH(NOLOCK) WHERE cd_pessoa = @p_codigoPessoa) B
	WHERE cd_pessoa = @p_codigoPessoa and cd_funcao = @p_codigoFuncao
	

	SELECT @v_codigoEstComercialAtualPessoa = ISNULL(CD_EST_COMERCIAL, 0)
	FROM TB_PESSOA_RESUMO WITH(NOLOCK)
	WHERE cd_pessoa = @p_codigoPessoa and cd_funcao = @p_codigoFuncao

		
	-- ****************************************************
	-- BUSCA O CICLO ATUAL DA ESTRUTURA COMERCIAL
	-- ****************************************************
	SELECT @v_numeroCicloAtualEstrutura = ISNULL(MIN(NM_CICLO), 0)  
	FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
 	WHERE convert(char(10), getdate(), 121) BETWEEN
 	convert(char(10), DT_INICIAL, 121)
 	AND convert(char(10), DT_FINAL, 121)
	AND CD_EST_COMERCIAL = @p_codigoEstruturaComercial

	
	-- ****************************************************
	-- VERIFICA SE A PESSOA TEM FUNÇÃO REVENDEDORA
	-- ****************************************************
	SELECT @v_qtdRegistros = COUNT(*)
	FROM TB_PESSOA_RESUMO WITH(NOLOCK)
	WHERE CD_PESSOA = @p_codigoPessoa
	AND CD_FUNCAO = @p_codigoFuncao
	
	if @v_qtdRegistros = 0 
	BEGIN
		SELECT @p_codigoErro = 1
		SELECT @p_descricaoErro = 'Essa pessoa não possui função de consultora'
		RETURN
	END
	
	
	-- ****************************************************
	-- NAO PERMITE FAZER ALOCAÇAO PARA PESSOAS DESATIVADAS
	-- ****************************************************
	IF @v_codigoSitComercialAtualPessoa = 4
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'Não é possível alocar uma pessoa que esteja desativada. É necessário reiniciar essa pessoa no cadastro de pessoa'
			RETURN
		END
	

	-- *******************************************************************
	-- verifica se ja existe um registro com ciclo
	-- *******************************************************************
	SELECT @v_qtdRegistros = COUNT(*)
	FROM TB_ALOCACAO_REDE WITH(NOLOCK)
	WHERE CD_PESSOA = @p_codigoPessoa
	AND NM_CICLO = @p_numeroCiclo
	AND CD_FUNCAO = @p_codigoFuncao
	AND ID_ALOCACAO = 3
	
	if @v_qtdRegistros > 0 
	BEGIN
		SELECT @p_codigoErro = 1
		SELECT @p_descricaoErro = 'Já existe uma alocação futura registrada para esse ciclo para essa pessoa'
		RETURN
	END
	

	-- *******************************************************************
	-- VERIRICA SE A ALOCAÇÃO ANTERIOR POSSUI A MESMA ESTRUTURA COMERCIAL
	-- *******************************************************************
	-- correção por Diego Zilioti em 20/08, temos que validar apenas se a alocação mais atual está para a mesma estrutura
	SELECT @v_numeroCicloAnterior = max(NM_CICLO) 
	from TB_ALOCACAO_REDE WITH(NOLOCK)
	where CD_PESSOA = @p_codigoPessoa
	and NM_CICLO < @p_numeroCiclo
	AND CD_FUNCAO = @p_codigoFuncao
	
	SELECT @v_qtdRegistros = COUNT(*)
	from TB_ALOCACAO_REDE WITH(NOLOCK)
	where CD_PESSOA = @p_codigoPessoa
	and ID_ALOCACAO = 2 --ATUAL
	and CD_EST_COMERCIAL = @p_codigoEstruturaComercial
	AND CD_FUNCAO = @p_codigoFuncao
	
	if @v_qtdRegistros > 0 
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'Não é possível ter a mesma estrutura comercial alocada em ciclos seguidos'
			RETURN
		END
	
	-- *****************************************************************************************
	-- nao podemos alocar a pessoa ativa, disponivel ou indisponivel para um ciclo que esta aberto
	-- *****************************************************************************************
	-- ***********************************************
	-- Correção aplicada por Diego Zlioti em 20/04/18
	-- Temos que barrar tambem as pessoas ativas para alocação em um ciclo aberto
	-- ***********************************************
	-- NOVA ATUALIZAÇÃO EM 11/05/18
	-- VAMOS PERMITIR A ALTERAÇÃO DA EST NO MEIO DO CICLO SE NÃO HOUVEREM PEDIDOS ABERTOS
	-- ***********************************************
	IF (@v_codigoSitComercialAtualPessoa = 0 or @v_codigoSitComercialAtualPessoa = 1 or @v_codigoSitComercialAtualPessoa = 2 or @v_codigoSitComercialAtualPessoa = 3) and @v_codigoEstComercialAtualPessoa <> 0 and @v_numeroCicloAtualEstrutura = @p_numeroCiclo
		BEGIN
			--SELECT @p_codigoErro = 1
			--SELECT @p_descricaoErro = 'Não é possível transferir a pessoa com essa situação comercial para estrutura no qual o ciclo ainda está aberto, é preciso realizar uma alocação para um ciclo futuro'

			SELECT @v_qtdePedidosAbertos = COUNT(*)
			  FROM TB_PEDIDO WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND NM_CICLO_CAPTACAO = @p_numeroCiclo
			   AND CD_EST_SITUACAO IN (1,100,101,99)

			IF @v_qtdePedidosAbertos = 0
				begin
					-- não temos pedidos abertos a alteração no meio do ciclo pode ser feita
					select @v_idMeioCiclo = 1
				end
			else
				begin
					SELECT @p_codigoErro = 1
					SELECT @p_descricaoErro = 'Pessoa com pedido(s) não finalizado(s), este(s) pedido(s) precisam ser finalizados ou cancelados.'
					RETURN
				end
			
			
		END

	-- *****************************************************************************************
	-- nao podemos iremos alocar pessoas em fase de aprovação
	-- *****************************************************************************************
	-- atualização por Diego Zilioti em 20/07/2021 - atividade #2659 no Bitrix
	-- a validação abaixo será comentada por será permitido alocar o cadastro antes da aprovação
	-- *****************************************************************************************
	--IF @v_codigoSitComercialAtualPessoa = 99 
	--	BEGIN
	--		SELECT @p_codigoErro = 0
	--		SELECT @p_descricaoErro = 'Pessoa em fase de aprovacao'
	--		RETURN
	--	END

	-- *****************************************************************************
	-- VAMOS DEFINIR SE A ALOCAÇAO SERÁ ATUAL OU SE SERÁ UMA ALOCAÇÃO FUTURA
	-- *****************************************************************************
	IF (       @v_codigoSitComercialAtualPessoa <= 3 
                OR @v_codigoSitComercialAtualPessoa = -1 
				OR @v_codigoSitComercialAtualPessoa = 99
		OR @v_codigoEstComercialAtualPessoa  = 0) -- CADASTRADA OU NOVA PESSOA OU PESSOAS QUE POSSUEM UMA SITUAÇÃO COMERCIAL E QUE NÃO TENHAM EST COMERCIAL
		BEGIN
			IF @v_numeroCicloAtualEstrutura < @p_numeroCiclo -- agendamento futuro
				BEGIN
					SELECT @v_codigoTipoAlocacao = 3	
				END
			ELSE
				BEGIN
					SELECT @v_codigoTipoAlocacao = 2
				END
		END
	ELSE
		BEGIN
			SELECT @v_codigoTipoAlocacao = 3
		END
	
	
	
	IF @v_codigoTipoAlocacao = 3 --FUTURA
		BEGIN	
			-- *************************************************
			-- INSERE NA TABELA TB_ALOCACAO_REDE
			-- *************************************************
			EXEC pr_PessoaInsereAlocacaoRede
					@p_codigoPessoa,
					@p_codigoFuncao,
					@p_codigoEstruturaComercial,
					@p_numeroCiclo,
					@v_codigoTipoAlocacao,
					@p_codigoUsuario,
					'I',
					@p_codigoErro output,
					@p_descricaoErro output,
					@p_linhasAfetadas output
		END
		

	-- *********************************************************************************
	-- SE A ALOCAÇÃO FOR ATUAL (2) TEMOS QUE EXECUTAR OUTRAS ATIVIDADES
	-- ATUALIZAÇÃO EM 11/05 POR DIEGO ZILIOTI: SERÁ EXECUTADO ESTE TRECHO SOMENTE SE FOR UMA ALOCAÇÃO NOVA
	-- *********************************************************************************
	IF @v_codigoTipoAlocacao = 2 and @v_idMeioCiclo = 0
		BEGIN
			
			-- *************************************************
			-- INSERE NA TABELA TB_ALOCACAO_REDE
			-- *************************************************
			EXEC pr_PessoaInsereAlocacaoRede
					@p_codigoPessoa,
					@p_codigoFuncao,		
					@p_codigoEstruturaComercial,
					@p_numeroCiclo,
					@v_codigoTipoAlocacao,
					@p_codigoUsuario,
					'I',
					@p_codigoErro output,
					@p_descricaoErro output,
					@p_linhasAfetadas output

			-- ************************************
			-- GERA A SITUAÇÃO COMERCIAL DA PESSOA
			-- ************************************
			EXEC pr_PessoaGeraSituacaoComercial
				@p_codigoPessoa,
				@p_codigoFuncao,
				@p_codigoEstruturaComercial,
				@p_numeroCiclo,
				1, -- alocação de rede 
				@p_codigoUsuario,
				@p_codigoErro		output,
				@p_descricaoErro	output,
				@p_linhasAfetadas	output
			
		
			
			-- ************************************
			-- GRAVAR PAPEL DA PESSOA
			-- ************************************
			EXEC SP_GRAVA_PAPEL_PESSOA
					@p_codigoPessoa,	-- CODIGO DA PESSOA
					@p_codigoFuncao,	-- FUNCAO DA PESSOA	
					@p_numeroCiclo,		-- CICLO
					@p_codigoErro output,
					@p_descricaoErro output,
					@p_linhasAfetadas output
					
			
			
			-- ************************************
			-- GRAVAR INFORMAÇÃO DO VINCULO
			-- ************************************
			EXEC pr_PessoaInsereVinculo
					@p_codigoPessoa,	-- CODIGO DA PESSOA
					@p_codigoFuncao,	-- FUNCAO DA PESSOA	
					@p_numeroCiclo,		-- CICLO
					@p_codigoErro output,
					@p_descricaoErro output,
					@p_linhasAfetadas output


			
			
			-- ************************************
			-- EXECUTA INDICADORES
			-- ************************************
			EXEC SP_CALCULA_PESSOA_INDICADOR
					@p_codigoPessoa,				-- CODIGO DA PESSOA
					@p_codigoFuncao,				-- FUNCAO DA PESSOA	
					@p_codigoEstruturaComercial,	-- ESTRUTURA COMERCIAL
					@p_numeroCiclo,					-- CICLO
					0,								-- PEDIDO
					3,								-- EVENTO ALOCACAO DE REDE
					1,								-- TIPO DE ATUALIZACAO
                    1,                               --CALCULA OS INDICADORES ON-LINE
					@p_codigoUsuario, 
					@p_codigoErro output,
					@p_descricaoErro output,
					@p_linhasAfetadas output

			-- Atualização por Diego Zilioti em 27/10/2018
			-- ************************************
			-- PRECISAMOS EXECUTAR TAMBEM A VALIDAÇÃO DOS INDICADORES DE CRÉDITO
			-- ************************************
			EXEC SP_CALCULA_PESSOA_INDICADOR
					@p_codigoPessoa,				-- CODIGO DA PESSOA
					@p_codigoFuncao,				-- FUNCAO DA PESSOA	
					@p_codigoEstruturaComercial,	-- ESTRUTURA COMERCIAL
					@p_numeroCiclo,					-- CICLO
					0,								-- PEDIDO
					8,								-- EVENTO REAVALIAÇÃO DE CRÉDITO
					1,								-- TIPO DE ATUALIZACAO
                    			1,                               --CALCULA OS INDICADORES ON-LINE
					@p_codigoUsuario, 
					@p_codigoErro output,
					@p_descricaoErro output,
					@p_linhasAfetadas output

			
			-- ************************************
			-- GRAVA DADOS DE CREDITO
			-- ALTERAÇÃO FEITA POR ANDERSON - 21/03/2024
			-- SOMENTE VAMOS GERAR LIMITE DE CREDITO PARA CADASTROS APROVADOS OU REPROVADOS
			-- NÃO FAZ SENTIDO FAZER ISSO PARA PESSOAS NA FASE DE FLUXO DE APROVAÇÃO DE CADASTRO
			-- TINHA CENARIOS EM QUE O CLIENTE TINHA RESTRÇÃO NO SERASA, E GERAVA O LIMITE DE CREDITO (DANDO UMA SENSAÇÃO DE QUE ESTAVA TUDO BEM)
			-- QUANDO FAZIA O FLUXO DE APROVAÇÃO O PROCESSO AJUSTAVA O CREDITO. MAS SERIA INTERESSANTE QUE AQUI NÃO GERE TAMBEM
			-- TENDO RISCOS DE RECLAMAÇÃO DAS PESSOAS POIS TINHA CREDITO E DEPOIS SUMIU O CREDITO
			-- ************************************

			SELECT @v_codigoSituacaoCadastro = CD_SITUACAO_CADASTRO
			FROM TB_PESSOA
			WHERE CD_PESSOA = @p_codigoPessoa
			
			-- DIFERENTE DE AGUARDANDO APROVAÇÃO PODE GERAR LIMITE DE CREDITO
			IF @v_codigoSituacaoCadastro NOT IN (3)
				BEGIN

					EXEC pr_PessoaAtualizaLimiteCredito
						0,
						@p_codigoPessoa,	-- CODIGO DA PESSOA
						@p_codigoFuncao,	-- FUNCAO DA PESSOA
						1,					-- CD_MOTIVO
						'Crédito Inicial',	-- DC_MOTIVO
						'',					-- DATA DE INICIO
						'',					-- DATA DE TERMINO,
						0,					-- VALOR DO CREDITO
						'I',
						@p_codigoUsuario,	-- CODIGO USUARIO
						@p_codigoErro output,
						@p_descricaoErro output,
						@p_linhasAfetadas output
				END
					



                -- *********************************************
		        -- VERIFICA SE CALCULA A REDE BINÁRIA
		        -- *********************************************			
		        SELECT @v_codigoRedeBinaria = VL_PARAMETRO
		        FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
		        WHERE CD_GRUPO_PARAMETRO = 7
		        AND   CD_PARAMETRO = 4
		        AND   CD_VALOR_PARAMETRO = 1
                        

               if (@v_codigoRedeBinaria = 1) 
					begin
					  -- ***********************************************************
					  -- EXECUTA A GERAÇÃO DO VINCULO NA REDE BINÁRIA - ALDIR(21/03)
					  -- ***********************************************************
					  EXEC SP_MN_CRIA_VINCULO_REDE_BINARIA
			  				@p_codigoPessoa,	-- CODIGO DA PESSOA
							@p_codigoFuncao,	-- FUNCAO DA PESSOA	
							@p_numeroCiclo,		-- CICLO
							@p_codigoErro output,
							@p_descricaoErro output,
							@p_linhasAfetadas output
                    end

                
		END
	
	-- *********************************************************************************
	-- NOVO TRATAMENTO EM 11/05 POR DIEGO ZILIOTI: SERÁ EXECUTADO ESTE TRECHO PARA OS CASOS DE ALOCAÇÃO NO MEIO DO CICLO
	-- IREMOS APLICAR A TROCA DE ESTRUTURA COMERCIAL ATUALIZANDO AS INFORMAÇÕES NECESSÁRIAS
	-- *********************************************************************************
	IF @v_codigoTipoAlocacao = 2 and @v_idMeioCiclo = 1
		BEGIN

			-- PRIMEIRAMENTE VAMOS ATUALIZAR A ALOCAÇÃO ATUAL PARA PASSADA

			update TB_ALOCACAO_REDE set ID_ALOCACAO = 1, DT_ATUALIZACAO = GETDATE(), CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
			 where CD_PESSOA = @p_codigoPessoa
			   and ID_ALOCACAO = 2
			   and CD_FUNCAO = @p_codigoFuncao


			-- *************************************************
			-- AGORA INSERE NA TABELA TB_ALOCACAO_REDE A ESTRUTURA NOVA COMO ATUAL
			-- *************************************************

			EXEC pr_PessoaInsereAlocacaoRede
					@p_codigoPessoa,
					@p_codigoFuncao,		
					@p_codigoEstruturaComercial,
					@p_numeroCiclo,
					@v_codigoTipoAlocacao,
					@p_codigoUsuario,
					'I',
					@p_codigoErro output,
					@p_descricaoErro output,
					@p_linhasAfetadas output



			-- INICIO : ALTERAÇÃO (ALDIR 24/08/2023) : CRIAR O HISTÓRICO (SIT COML, PAPEL E VINCULO) QUANDO A ALOCAÇÃO DA NOVA EC ESTÁ VIVENDO CICLO FUTURO
			-- 1 - VERIFICAR SE O CICLO ATUAL DA PESSOA É IGUAL AO CICLO DA ALOCAÇÃO 
			WHILE (@v_numeroCicloAtualPessoa < @p_numeroCiclo AND @v_numeroCicloAtualPessoa > 0)
			BEGIN
				--1 - GRAVA NA TABELA TB_HIST_SITUACAO_CONSULTORA
				BEGIN TRAN
				INSERT INTO TB_HIST_SITUACAO_CONSULTORA (CD_PESSOA,
									CD_SITUACAO_COMERCIAL,
									CD_SITUACAO_COMERCIAL_DETALHE,
									NM_CICLO,
									CD_EST_COMERCIAL,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO	)
				SELECT 					CD_PESSOA,
									CD_SITUACAO_COMERCIAL,
									CD_SITUACAO_COMERCIAL_DETALHE,
									[dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN] (@v_numeroCicloAtualPessoa,2),
									CD_EST_COMERCIAL,
									GETDATE(), 
									@p_codigoUsuario, 
									GETDATE(), 
									@p_codigoUsuario
				FROM TB_HIST_SITUACAO_CONSULTORA WITH (NOLOCK)
				WHERE CD_PESSOA        = @p_codigoPessoa
				AND   NM_CICLO         = @v_numeroCicloAtualPessoa
				COMMIT TRAN

				--2 - GRAVA NA TABELA TB_PESSOA_PAPEL_HISTORICO
				SELECT @v_contadorRegistro = COUNT(*)
				FROM TB_PESSOA_PAPEL_HISTORICO WITH (NOLOCK)
				WHERE  CD_PESSOA = @p_codigoPessoa
				AND    CD_FUNCAO = @p_codigoFuncao 	
				AND    NM_CICLO = [dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN] (@v_numeroCicloAtualPessoa,2)
				IF (@v_contadorRegistro = 0)
				BEGIN
					BEGIN TRAN
					INSERT INTO TB_PESSOA_PAPEL_HISTORICO (CD_PESSOA,
										CD_FUNCAO,
										NM_CICLO,
										CD_PAPEL_CARREIRA,
										CD_PAPEL_DESEMPENHO)
					SELECT 					CD_PESSOA,
										CD_FUNCAO,
										[dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN] (@v_numeroCicloAtualPessoa,2),
										CD_PAPEL_CARREIRA,
										CD_PAPEL_DESEMPENHO
					FROM TB_PESSOA_PAPEL_HISTORICO WITH (NOLOCK)
					WHERE  CD_PESSOA = @p_codigoPessoa
					AND    CD_FUNCAO = @p_codigoFuncao 	
					AND    NM_CICLO = @v_numeroCicloAtualPessoa				
					COMMIT TRAN
				END	

				--3 -- GRAVA NA TABELA TB_PESSOA_VINCULO_HISTORICO
				SELECT @v_contadorRegistro = COUNT(*)
				FROM TB_PESSOA_VINCULO_HISTORICO WITH (NOLOCK)
				WHERE  CD_PESSOA = @p_codigoPessoa
				AND    CD_FUNCAO = @p_codigoFuncao 	
				AND    NM_CICLO = [dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN] (@v_numeroCicloAtualPessoa,2)
				IF (@v_contadorRegistro = 0)
				BEGIN
					BEGIN TRANSACTION
					INSERT INTO TB_PESSOA_VINCULO_HISTORICO (CD_PESSOA,
										CD_FUNCAO,
										NM_CICLO,
										CD_PESSOA_VINCULADA,		
										CD_PESSOA_LIDERANCA)
					SELECT					CD_PESSOA,
										CD_FUNCAO,
										[dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN] (@v_numeroCicloAtualPessoa,2),
										CD_PESSOA_VINCULADA,
										CD_PESSOA_LIDERANCA
					FROM TB_PESSOA_VINCULO_HISTORICO with (NOLOCK)
					WHERE  CD_PESSOA = @p_codigoPessoa
					AND    CD_FUNCAO = @p_codigoFuncao 	
					AND    NM_CICLO = @v_numeroCicloAtualPessoa
					COMMIT TRANSACTION
				END
				SET @v_numeroCicloAtualPessoa = [dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN] (@v_numeroCicloAtualPessoa,2)

			END
			-- FIM : ALTERAÇÃO (ALDIR 24/08/2023) : CRIAR O HISTÓRICO (SIT COML, PAPEL E VINCULO) QUANDO A ALOCAÇÃO DA NOVA EC ESTÁ VIVENDO CICLO FUTURO

			-- ************************************
			-- ATUALIZA A ESTRUTURA NA SITUAÇÃO COMERCIAL DA PESSOA E PESSOA RESUMO
			-- ************************************
			EXEC pr_PessoaGeraSituacaoComercial
					@p_codigoPessoa,
					@p_codigoFuncao,
					@p_codigoEstruturaComercial,
					@p_numeroCiclo,
					5, -- alocação de rede NO MEIO DO CICLO
					@p_codigoUsuario,
					@p_codigoErro		output,
					@p_descricaoErro	output,
					@p_linhasAfetadas	output

			-- ************************************
			-- PRA FINALIZAR VAMOS ATUALIZAR OS INDICADORES E PEDIDOS DO CICLO CASO EXISTAM
			-- ************************************
			BEGIN TRAN
			update TB_PESSOA_INDICADOR set CD_EST_COMERCIAL = @p_codigoEstruturaComercial 
			 where CD_PESSOA = @p_codigoPessoa 
			   and NM_CICLO = @p_numeroCiclo
			COMMIT TRAN

			BEGIN TRAN
			update TB_PEDIDO set CD_EST_COMERCIAL = @p_codigoEstruturaComercial 
			 where CD_PESSOA = @p_codigoPessoa 
			   and NM_CICLO_CAPTACAO = @p_numeroCiclo
			COMMIT TRAN
			
		END

	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = 'Alocação de Rede criado com sucesso'
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descricaoErro, @p_codigoErro, 1)
END CATCH;
GO
