SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PessoaEnviarEmailEADBox]
	@p_cdPessoa					NUMERIC(18,0),
	@p_cdEvento					INT,
	@p_dcCurso					VARCHAR(100),
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

DECLARE @Cursor_Itens				CURSOR
DECLARE	@v_nmLinha					INT
DECLARE @v_dcTexto					VARCHAR(MAX)
DECLARE @v_dcTexto01				VARCHAR(MAX)

DECLARE @v_data						DATETIME
DECLARE @v_cd_pessoa_destinatario	NUMERIC(18,0)
DECLARE	@v_dc_email_destinatario	VARCHAR(200)

DECLARE @v_cd_envio_email			NUMERIC(18,0)

DECLARE @v_dcNomePessoa			    VARCHAR(max),
		@v_dcSenhaAcesso			varchar(100),
		@v_dcNomeIndicante			varchar(500),
		@v_dcEmailIndicante			varchar(200),
		@v_dcTelefoneResIndicante	varchar(100),
		@v_dcTelefoneCelIndicante	varchar(100),
		@v_dcTelefoneIndicante		varchar(200)

DECLARE @v_dc_assunto_email VARCHAR(100)

DECLARE @v_envia_email INT

DECLARE @nm_Pessoa VARCHAR(150)

/************************************************************
@p_cdEvento = 28 - Cadastro no EADBOX
@p_cdEvento = 29 - Matricula no EADBOX
************************************************************/

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''

		SELECT @v_data = GETDATE()

		-- VERIFICA SE O ENVIO PARA ESSE EVENTO ESTA ATIVO
		SELECT @v_envia_email = ID_SITUACAO
		FROM TB_ENVIO_EMAIL_PARAMETROS
		WHERE CD_EMAIL = @p_cdEvento
		
		IF @v_envia_email = 1 
			BEGIN

				SELECT @v_data = GETDATE()				

				SELECT	@v_cd_pessoa_destinatario = P.CD_PESSOA,
						@v_dc_email_destinatario = (SELECT PE.DC_EMAIL FROM TB_PESSOA_EMAIL PE WHERE P.CD_PESSOA = PE.CD_PESSOA AND PE.ID_TIPO_EMAIL = 1)
				FROM TB_PESSOA P
				WHERE P.CD_PESSOA = @p_cdPessoa
				
							
				-- Cadastro no EADBOX
				IF @p_cdEvento = 28
					BEGIN
						
						SELECT @v_dcNomePessoa = dbo.FN_BUSCA_NOME_PESSOA(@v_cd_pessoa_destinatario)
					    SELECT @v_dcSenhaAcesso = 'eadbox123'
						
						SELECT @v_dc_assunto_email = 'Acesso ao EAD Box'

						EXEC pr_EmailInsereEnvioEmail
							0,							--@p_cd_envio_email			  numeric(18,0),
							@p_cdEvento,				--@p_cd_email                 numeric(18,0),
							@v_data,					--@p_dt_geracao_email         datetime ,
							NULL,						--@p_dt_envio_email           datetime,
							1,							--@p_id_situacao_envio_email  numeric(18,0),
							@v_cd_pessoa_destinatario,	--@p_cd_pessoa_destinatario   numeric(18,0),
							@v_dc_email_destinatario,	--@p_dc_email_destinatario    varchar(max),
							@v_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
							'',							--@p_dc_erro                  varchar(max),
	
							'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
							@v_cd_envio_email                       OUTPUT,	
							@p_codigoErro				OUTPUT,
							@p_descricaoErro			OUTPUT,
							@p_linhasAfetadas			OUTPUT


						SET @Cursor_Itens = CURSOR FAST_FORWARD
						FOR

							SELECT	NM_LINHA, 
									DC_TEXTO
							FROM TB_EMAIL_TEXTO WHERE CD_EMAIL = 28
							ORDER BY NM_LINHA ASC
						
						OPEN @Cursor_Itens
						FETCH NEXT FROM @Cursor_Itens
						INTO	@v_nmLinha, @v_dcTexto
						
							WHILE @@FETCH_STATUS = 0
								BEGIN

									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Nome#',CONVERT(varchar(1000), @v_dcNomePessoa))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#v_senha#',CONVERT(varchar(100), @v_dcSenhaAcesso))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Email#',CONVERT(varchar(1000), @v_dc_email_destinatario))
							
									EXEC pr_EmailInsereEnvioEmailTexto
										@v_cd_envio_email,
										@v_nmLinha,
										@v_dcTexto,
										'I',
										@p_codigoErro				OUTPUT,
										@p_descricaoErro			OUTPUT,
										@p_linhasAfetadas			OUTPUT
										

									FETCH NEXT FROM @Cursor_Itens
									INTO	@v_nmLinha, @v_dcTexto
								END


				
					END


				-- Matricula no EADBOX
				IF @p_cdEvento = 29
					BEGIN
						
						SELECT @v_dcNomePessoa = dbo.FN_BUSCA_NOME_PESSOA(@v_cd_pessoa_destinatario)
					    SELECT @v_dcSenhaAcesso = 'eadbox123'
						
						SELECT @v_dc_assunto_email = 'Matricula ao Curso do EAD Box'

						EXEC [pr_EmailInsereEnvioEmail ]
							0,							--@p_cd_envio_email			  numeric(18,0),
							@p_cdEvento,				--@p_cd_email                 numeric(18,0),
							@v_data,					--@p_dt_geracao_email         datetime ,
							NULL,						--@p_dt_envio_email           datetime,
							1,							--@p_id_situacao_envio_email  numeric(18,0),
							@v_cd_pessoa_destinatario,	--@p_cd_pessoa_destinatario   numeric(18,0),
							@v_dc_email_destinatario,	--@p_dc_email_destinatario    varchar(max),
							@v_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
							'',							--@p_dc_erro                  varchar(max),
	
							'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
							@v_cd_envio_email                       OUTPUT,	
							@p_codigoErro				OUTPUT,
							@p_descricaoErro			OUTPUT,
							@p_linhasAfetadas			OUTPUT



						SET @Cursor_Itens = CURSOR FAST_FORWARD
						FOR

							SELECT	NM_LINHA, 
									DC_TEXTO
							FROM TB_EMAIL_TEXTO WHERE CD_EMAIL = 29
							ORDER BY NM_LINHA ASC
						
						OPEN @Cursor_Itens
						FETCH NEXT FROM @Cursor_Itens
						INTO	@v_nmLinha, @v_dcTexto
						
							WHILE @@FETCH_STATUS = 0
								BEGIN

									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Nome#',CONVERT(varchar(1000), @v_dcNomePessoa))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#v_senha#',CONVERT(varchar(100), @v_dcSenhaAcesso))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Email#',CONVERT(varchar(1000), @v_dc_email_destinatario))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Curso#',CONVERT(varchar(1000), @p_dcCurso))
									
							
									EXEC pr_EmailInsereEnvioEmailTexto
										@v_cd_envio_email,
										@v_nmLinha,
										@v_dcTexto,
										'I',
										@p_codigoErro				OUTPUT,
										@p_descricaoErro			OUTPUT,
										@p_linhasAfetadas			OUTPUT
										

									FETCH NEXT FROM @Cursor_Itens
									INTO	@v_nmLinha, @v_dcTexto
								END


				
					END



			END
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;






GO
