SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_PROCESSAMENTO_DIARIO_AKMOS]
   @VAR_RETORNO INT OUTPUT,
   @DC_ERRO NVARCHAR(MAX) OUTPUT,
   @DC_ROTINA NVARCHAR(MAX) OUTPUT
 
AS
DECLARE	@V_ID_FLAG_DIA_SEMANA       INT,
	@V_ID_FLAG_FECHAR_CAMPANHA  INT,
	@DT_FECHAMENTO              DATE
DECLARE @DT_INICIO_PROCESSAMENTO    DATE
DECLARE @CD_CLIENTE                 NUMERIC(18, 0)

DECLARE @CURSOR_PESSOA              CURSOR

DECLARE @CD_PESSOA           NUMERIC(18,0),
        @CD_FUNCAO           NUMERIC(18,0),
        @CD_EST_COMERCIAL    NUMERIC(18,0),
        @NM_CICLO_ATUAL      NUMERIC(18,0),
	@NM_NIVEL            NUMERIC(18,0),
	@CD_PAPEL_CARREIRA   NUMERIC(18,0)
	
DECLARE @QT_LINHAS_AFETADAS  INT 
DECLARE @CD_USUARIO     NUMERIC (18,0),
        @CD_LOG_PROCESSAMENTO_DIARIO NUMERIC(18,0)
DECLARE @PROXIMO_CICLO    NUMERIC(18,0)

BEGIN TRY

	-- BUSCA O CÓDIGO DO LOG ABERTO
	SELECT @CD_LOG_PROCESSAMENTO_DIARIO = ISNULL(MAX(CD_LOG_PROCESSAMENTO_DIARIO),0)
	FROM TB_LOG_PROCESSAMENTO_DIARIO with (NOLOCK)
	WHERE DC_PROGRAMA = 'SP_PROCESSAMENTO_DIARIO'
	AND DT_FIM_PROCESSAMENTO IS NULL
     
	IF @CD_LOG_PROCESSAMENTO_DIARIO = 0
	BEGIN
		--SE NÃO ENCONTRAR LOG ABERTO ABRE UM PARA REGISTRO DAS ETAPAS
		BEGIN TRANSACTION
		INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO (CD_PROGRAMA, DC_PROGRAMA, DT_INICIO_PROCESSAMENTO)
		VALUES (1000, 'SP_PROCESSAMENTO_DIARIO', GETDATE())
        	SELECT @CD_LOG_PROCESSAMENTO_DIARIO = IDENT_CURRENT('TB_LOG_PROCESSAMENTO_DIARIO')
		COMMIT TRANSACTION
	END

	SELECT @CD_USUARIO = 0
	SELECT @VAR_RETORNO = 0
	SELECT @DC_ERRO = ''
 
	-- ************************************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- ************************************************************
	SELECT @CD_CLIENTE = VL_PARAMETRO
	FROM TB_VALOR_PARAMETRO with (NOLOCK)
	WHERE CD_GRUPO_PARAMETRO = 6
	AND CD_PARAMETRO = 1
	AND CD_VALOR_PARAMETRO  = 1

	IF (@CD_CLIENTE = 41)  -- AKMOS
	BEGIN

		SELECT @V_ID_FLAG_DIA_SEMANA = Datepart(dw,getdate())       

		SELECT @DT_FECHAMENTO             = GETDATE() -1   
		SELECT @V_ID_FLAG_FECHAR_CAMPANHA = COUNT(*)
		FROM TB_CALENDARIO_COMERCIAL with (NOLOCK)
		WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)

		-- VERIFICA SE É DOMINGO OU FECHAMENTO DE CICLO
		IF (@V_ID_FLAG_DIA_SEMANA = 1 OR @V_ID_FLAG_FECHAR_CAMPANHA = 1)
		BEGIN
		
			-- CURSOR DE PESSOA
			SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
			FOR			
				SELECT  DISTINCT A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL, B.CD_PAPEL_CARREIRA
				FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK),
					(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
					 FROM TB_WRK_MN_TOPOLOGIA F  with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK)
					 WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
					 AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
					 AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
					 AND   F.CD_FUNCAO           = G.CD_FUNCAO
					 AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
					 AND   G.CD_FUNCAO           = 2
					 GROUP BY F.CD_PESSOA_VINCULADA) C
				WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
				AND   A.CD_FUNCAO                     = B.CD_FUNCAO
				AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
				AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
				AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
				AND   B.CD_SITUACAO_COMERCIAL  NOT IN (4)
				AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
				AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
				AND   A.NM_NIVEL              = C.MAX_NIVEL
				AND   B.CD_FUNCAO             = 2
				AND   B.CD_PAPEL_CARREIRA    >= 2
				ORDER BY  1 DESC , 5 DESC, 2 DESC

			OPEN @CURSOR_PESSOA
			FETCH NEXT FROM @CURSOR_PESSOA
			INTO @NM_NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO_ATUAL, @CD_PAPEL_CARREIRA   
  
			WHILE @@FETCH_STATUS = 0
			BEGIN
				IF (@V_ID_FLAG_DIA_SEMANA = 1  AND @CD_PAPEL_CARREIRA >= 2)  -- É DOMINGO, PRECISA EXECUTAR O STATUS \ QUALIFICAÇÃO.. SOMENTE PARA EMPREENDEDOR (OU SUPERIOR)
				BEGIN
					/*************************************************************
					-- GERAR INDICADOR DE CARÊNCIA
					**************************************************************/
					EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
				 			@CD_PESSOA,
							 @CD_FUNCAO,
				 			@CD_EST_COMERCIAL,
				 			@NM_CICLO_ATUAL,
				 			7,    --@ID_EVENTO
				 			1,    --@ID_TIPO_ATUALIZACAO
				 			2,    --@ID_MOMENTO_CALCULO_INDICADOR
				 			0,
				 			0 ,
				 			'',
							0
 
					-- CALCULA O STATUS \ QUALIFICACAO
					EXEC SP_MN_APLICA_PLANO_CARREIRA_GENERICA
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO_ATUAL,
							@CD_EST_COMERCIAL,
							@VAR_RETORNO  		OUTPUT,
							@DC_ERRO      		OUTPUT,
							@QT_LINHAS_AFETADAS	OUTPUT


					-- VERIFICA SE NÃO É FECHAMENTO DE CICLO
					IF (@V_ID_FLAG_FECHAR_CAMPANHA = 0)
					BEGIN
						/*************************************************************
						-- GERAR INDICADORES DE PONTOS
						**************************************************************/
						EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
					 			@CD_PESSOA,
								 @CD_FUNCAO,
					 			@CD_EST_COMERCIAL,
				 				@NM_CICLO_ATUAL,
				 				6,    --@ID_EVENTO
				 				1,    --@ID_TIPO_ATUALIZACAO
				 				2,    --@ID_MOMENTO_CALCULO_INDICADOR
				 				0,
				 				0 ,
				 				'',
								0
					END
				END 
				
				IF (@V_ID_FLAG_FECHAR_CAMPANHA = 1) -- É FECHAMENTO DE CICLO
				BEGIN
					EXEC SP_FECHA_CAMPANHA_AKMOS
      							@CD_PESSOA,
							@CD_FUNCAO,
      							@CD_EST_COMERCIAL,
							@NM_CICLO_ATUAL,
      							@DT_FECHAMENTO,        
      							@CD_USUARIO,
      							@VAR_RETORNO 	    OUTPUT,
      							@DC_ERRO            OUTPUT,
      							@QT_LINHAS_AFETADAS OUTPUT


					IF (@CD_PAPEL_CARREIRA >= 2) --SOMENTE PARA EMPREENDEDOR (OU SUPERIOR)
					BEGIN

						/*******************************************************************
						-- VERIFICA O PROXIMO CICLO DA ESTRUTURA COMERCIAL
						********************************************************************/                   
						SELECT @PROXIMO_CICLO = MIN(NM_CICLO)
						FROM TB_CALENDARIO_COMERCIAL with (NOLOCK)
						WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						AND NM_CICLO > @NM_CICLO_ATUAL

						/*************************************************************
						-- GERAR INDICADORES DE ATIVACAO
						**************************************************************/
						EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
								@CD_PESSOA,
								@CD_FUNCAO,
								@CD_EST_COMERCIAL,
								@PROXIMO_CICLO,
								9,    --@ID_EVENTO
								1,    --@ID_TIPO_ATUALIZACAO
								2,    --@ID_MOMENTO_CALCULO_INDICADOR
								0,
								0 ,
								'',
								0

						/*************************************************************
						-- GERAR INDICADORES DE PONTOS
						**************************************************************/
						EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
								@CD_PESSOA,
								@CD_FUNCAO,
								@CD_EST_COMERCIAL,
								@PROXIMO_CICLO,
								6,    --@ID_EVENTO
								1,    --@ID_TIPO_ATUALIZACAO
								2,    --@ID_MOMENTO_CALCULO_INDICADOR
								0,
								0 ,
								'',
								0
					END 	

				END
			FETCH NEXT FROM @CURSOR_PESSOA
			INTO @NM_NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO_ATUAL, @CD_PAPEL_CARREIRA   
			END
			CLOSE       @CURSOR_PESSOA
			DEALLOCATE  @CURSOR_PESSOA
		END
	END
END TRY    
 
BEGIN CATCH
  -- WHOOPS, THERE WAS AN ERROR
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
     
  INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM  
  VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
                'ERRO INESPERADO - PESSOA ' + CONVERT(VARCHAR(20),ISNULL(@CD_PESSOA,0)),
                @DC_ERRO,
                GETDATE(),
                @VAR_RETORNO)
  IF @@TRANCOUNT > 0
    ROLLBACK
 
   -- RAISE AN ERROR WITH THE DETAILS OF THE EXCEPTION
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
