SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorAtualizaTabTempContasReceberBoletoVista]
	@CD_SENIOR_CONTAS_RECEBER_BOLETO_VISTA		numeric(18, 0),
	@DC_NUMERO_TITULO					varchar(80),
	@DC_TIPO_TITULO						varchar(80),
	@DC_TRANSACAO						varchar(80),
	@DC_SITUACAO						varchar(80),
	@DC_SITUACAO_ANTERIOR				varchar(80),
	@DT_EMISSAO							varchar(20),
	@DT_ENTRADA							varchar(20),
	@CD_PESSOA_EXTERNO					varchar(100),
	@DC_CODIGO_SACADO					varchar(80),
	@DC_CODIGO_REPRESENTANTE			varchar(80),
	@DC_CODIGO_GRUPO_CONTAS				varchar(80),
	@DC_OBS								varchar(max) ,
	@DT_VENCIMENTO_ORIGINAL				varchar(20),
	@VL_ORIGINAL						numeric(18, 2) ,
	@DC_CODIGO_FORMA_PAGAMENTO			varchar(80) ,
	@DT_VENCIMENTO_PRORROGACAO			varchar(20),
	@DC_PRORROGACAO_COM_JUROS			varchar(80) ,
	@DC_CODIGO_MOTIVO_PRORROGACAO		varchar(80) ,
	@DT_PROVAVEL_PAGAMENTO				varchar(20) ,
	@VL_ABERTO							numeric(18, 2) ,
	@DC_CODIGO_MOEDA					varchar(80) ,
	@VL_COTACAO_MOEDA					numeric(19, 10) ,
	@DC_CODIGO_FORMULA_REAJUSTE			varchar(80) ,
	@VL_COTACAO_MOEDA_REAJUSTE			numeric(19, 10) ,
	@PC_COMISSAO						numeric(18, 4) ,
	@PC_COMISSAO_PAGO_REC				numeric(18, 2) ,
	@VL_BASE_COMISSAO					numeric(18, 2) ,
	@VL_COMISSAO						numeric(18, 2) ,
	@DT_VALIDA_DESCONTO					varchar(20) ,
	@DC_DIAS_TOLERANCIA_DESCONTO		varchar(80) ,
	@PC_DESCONTO						numeric(18, 2) ,
	@VL_DESCONTO						numeric(18, 2) ,
	@DC_CALCULA_DESCONTO_ANT_REC		varchar(80) ,
	@DC_PERIODO_CALCULO_DESCONTO_ANT	varchar(80) ,
	@PC_JUROS_MORA_MES					numeric(18, 2) ,
	@DC_JUROS_SIMPLES_COMPOSTO			varchar(80) ,
	@VL_JUROS_MORA_DIA					numeric(18, 2) ,
	@DC_DIAS_TOLERANCIA_JUROS_MORA		varchar(80) ,
	@DT_CALCULADO_JUROS_MORA			varchar(20) ,
	@PC_MULTA_PREVISTA					numeric(18, 2) ,
	@DC_DIAS_TOLERANCIA_MULTA			varchar(80) ,
	@DC_NUMERO_BANCO_CHEQUE				varchar(80) ,
	@DC_NUMERO_AGENCIA_CHEQUE			varchar(80) ,
	@DC_NUMERO_CONTA_CHEQUE				varchar(80) ,
	@DC_NUMERO_CHEQUE					varchar(80) ,
	@DC_PORTADOR						varchar(80) ,
	@DC_CARTEIRA						varchar(80) ,
	@DC_NOSSO_NUMERO					varchar(80) ,
	@VL_ORIGINAL_REMESSA				numeric(18, 2) ,
	@DC_NUMERO_ARQUIVO_REMESSA			varchar(80) ,
	@DC_CODIGO_OCORRENCIA_REMESSA		varchar(80) ,
	@DC_CODIGO_PRIMEIRA_INSTRUCAO		varchar(80) ,
	@DC_CODIGO_SEGUNDA_INSTRUCAO		varchar(80) ,
	@DC_PORTADOR_ANTERIOR				varchar(80) ,
	@DC_CARTEIRA_ANTERIOR				varchar(80) ,
	@DT_ULTIMO_PAGAMENTO				varchar(20) ,
	@DT_BASE_NEGOCIADO					varchar(20) ,
	@VL_JUROS_NEGOCIADO					numeric(18, 2) ,
	@VL_MULTA_NEGOCIADO					numeric(18, 2) ,
	@VL_DESCONTO_NEGOCIADO				numeric(18, 2) ,
	@VL_OUTROS_NEGOCIADO				numeric(18, 2) ,
	@DC_USUARIO_VALOR_NEGOCIADO			varchar(80) ,
	@DC_CODIGO_CONDICAO_PAG_NEGOCIADO	varchar(80) ,
	@VL_TAXA_NEGOCIADO					numeric(18, 10) ,
	@VL_COTACAO_MOEDA_NEGOCIADO			numeric(19, 10) ,
	@VL_DESPESAS_CARTORIO				numeric(18, 2) ,
	@VL_DESPESAS_COBRANCA				numeric(18, 2) ,
	@VL_OUTRAS_DESPESAS					numeric(18, 2) ,
	@DC_CONTROLE_GERACAO_NOTA_DEBITO	varchar(80) ,
	@DC_NUMERO_PROJETO					varchar(80) ,
	@DC_CODIGO_FASE_PROJETO				varchar(80) ,
	@DC_CONTA_FINANCEIRA_REDUZIDA		varchar(80) ,
	@DC_CONTA_CONTABIL_REDUZIDA			varchar(80) ,
	@DC_CODIGO_CENTRO_CUSTO				varchar(80) ,
	@DC_QTD_DUPLICATAS					varchar(80) ,
	@DC_QTD_BLOQUETOS					varchar(80) ,
	@DT_ULTIMA_COTACAO_CALCULA			varchar(20) ,
	@VL_MOEDA_ULTIMA_COTACAO			numeric(18, 10) ,
	@DC_CODIGO_FILIAL_NF_SAIDA			varchar(80) ,
	@DC_CODIGO_SERIE_NF_ORIGEM			varchar(80) ,
	@DC_NUMERO_NF_ORIGEM				varchar(80) ,
	@DC_CODIGO_FILIAL_CONTRATO_VENDA	varchar(80) ,
	@DC_NUMERO_CONTRATO_ORIGEM			varchar(80) ,
	@DC_SEQUENCIA_CONTRATO_IMOBILIARIO	varchar(80) ,
	@DC_CODIGO_FILIAL_NF_ORIGEM			varchar(80) ,
	@DC_NUMERO_NF_FATURA_ORIGEM			varchar(80) ,
	@DC_CODIGO_FILIAL_PEDIDO_ORIGEM		varchar(80) ,
	@DC_NUMERO_PEDIDO_ORIGEM			varchar(80) ,
	@DC_CODIGO_FILIAL_NF_ENTRADA		varchar(80) ,
	@DC_FORNECEDOR_NF_ENTRADA			varchar(80) ,
	@DC_NUMERO_NF_ENTRADA				varchar(80) ,
	@DC_CODIGO_SERIE_NF_ENTRADA			varchar(80) ,
	@DC_CODIGO_FILIAL_NOTA_DEBITO		varchar(80) ,
	@DC_NUMERO_TITULO_NOTA_DEBITO		varchar(80) ,
	@DC_CODIGO_TIPO_TITULO_NOTA_DEBITO	varchar(80) ,
	@DC_TIPO_EFETIVACAO					varchar(80) ,
	@DC_CODIGO_TRANSACAO_PREVISAO		varchar(80) ,
	@DT_ENTRADA_ORIGINAL_PREVISTO		varchar(20) ,
	@VL_ORIGINAL_PREVISTO				numeric(18, 2) ,
	@DC_CODIGO_FILIAL_CONT_RESERVADO	varchar(80) ,
	@DC_NUMERO_CONT_RESERVADO			varchar(80) ,
	@DC_CODIGO_FILIAL_PEDIDO_RESERVADO	varchar(80) ,
	@DC_NUMERO_PEDIDO_RESERVADO			varchar(80) ,
	@DC_CODIGO_BARRAS					varchar(80) ,
	@DC_USUARIO_ALT_SITUACAO			varchar(80) ,
	@DC_NUMERO_ENCONTRO_CONTAS			varchar(80) ,
	@DC_NUMERO_AGR_COBRANCA_ESCRITURAL	varchar(80) ,
	@DC_CODIGO_FILIAL_CONT_AP_RECURSOS	varchar(80) ,
	@DC_NUMERO_CONT_AP_RECURSOS			varchar(80) ,
	@DC_SITUACAO_SERASA					varchar(80) ,
	@DC_USUARIO_GERACAO_REGISTRO		varchar(80) ,
	@DT_GERACAO_REGISTRO				varchar(20) ,
	@DC_HORA_GERACAO_REGISTRO			varchar(80) ,
	@DC_CODIGO_AUTORIZACAO_TEF			varchar(100) ,
	@DC_NSU								varchar(100) ,
	@DC_NUMERO_PONTO_CARTAO				varchar(80) ,
	@DC_NUMERO_RESUMO_CARTAO			varchar(80) ,
	@DC_NUMERO_PARCELA					varchar(80) ,
	@DC_GERADO_ROTINA_SAPIENS			varchar(80) ,
	@DC_NUMERO_DOC_FISCAL_SERVICO		varchar(80) ,
	@DC_CODIGO_EQUIP_FISCAL				varchar(80) ,
	@DC_NUMERO_CUPOM_FISCAL				varchar(80) ,
	@DC_CONTA_REINICIO_ECF				varchar(80) ,
	@DC_CODIGO_AUTORIZACAO_EXTERNO		varchar(80) ,
	@DC_CODIGO_OPERADORA				varchar(80) ,
	@DC_CARTAO_CONVENIO					varchar(80) ,
	@DC_CODIGO_CARTAO_PRESENTE			varchar(80) ,
	@DC_CODIGO_CONVENIO					varchar(80) ,
	@DC_CODIGO_EMPRESA_AP_COMISSAO		varchar(80) ,
	@DC_CODIGO_CONT_COMISSAO			varchar(80) ,
	@DC_CODIGO_FILIAL_AP_COMISSAO		varchar(80) ,
	@DT_MES_BASE_COMISSAO				varchar(20) ,
	@DC_LOCALIZADOR_LOJA				varchar(80) ,
	@DC_ADICIONA_SALDO_CLIENTE			varchar(80) ,
	@PC_DESCONTO_PONTUALIDADE			numeric(18, 2) ,
	@DC_MOMENTO_LIBERACAO_CREDITO		varchar(80) ,
	@DC_SISTEMA_DEVE_CALCULAR_JUROS		varchar(80) ,
	@VL_INTERMEDIACAO_SERVICOS			numeric(18, 2) ,
	@DC_SEQUENCIA_END_COBRANCA			varchar(80) ,
	@DC_CODIGO_FILIAL_PROP_FINANCEIRA	varchar(80) ,
	@DC_NUMERO_PROP_FINANCEIRA			varchar(80) ,
	@DC_CODIGO_FINANC_DETENTORA			varchar(80) ,
	@DC_CODIGO_FILIAL_AG_RENEGOCIACAO	varchar(80) ,
	@DT_AG_RENEGOCIACAO					varchar(20) ,
	@DC_CHAVE_AG_RENEGOCIACAO			varchar(80) ,
	@DT_REALOCACAO_CONTROLE				varchar(20) ,
	@DC_TITULO_CONTROLE					varchar(80) ,
	@DC_NUMERO_MALOTE					varchar(80) ,
	@NM_LOTE							NUMERIC(18,0),
		
	@DC_TIPO_FUNCAO						VARCHAR(1),
	
	@VAR_RETORNO						INT OUTPUT,
	@DC_ERRO							NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS					INT OUTPUT
	
AS

--DECLARE @CD_CARGA AS NUMERIC(18,0)

BEGIN TRY

	--SELECT @CD_CARGA = ISNULL(MAX(CD_CARGA),0)
	--FROM TB_WRK_SENIOR_CONTAS_RECEBER
	--SELECT @CD_CARGA = @CD_CARGA + 1
	
	--SELECT @DT_EMISSAO_TITULO = convert(datetime, @DT_EMISSAO_TITULO, 103)
	--SELECT @DT_VENCIMENTO_TITULO = convert(datetime, @DT_VENCIMENTO_TITULO, 103)

	SELECT @QT_LINHAS_AFETADAS = 0

	-- DATA DE EMISSÃO
	IF (@DT_EMISSAO) = ''
			BEGIN
				SELECT @DT_EMISSAO = NULL
			END
		ELSE
			BEGIN
				SELECT @DT_EMISSAO = convert(datetime, @DT_EMISSAO, 103) -- dd/mm/yyyy 
			END

	-- DATA DE ENTRADA
	IF (@DT_ENTRADA) = ''
			BEGIN
				SELECT @DT_ENTRADA = NULL
			END
		ELSE
			BEGIN
				SELECT @DT_ENTRADA = convert(datetime, @DT_ENTRADA, 103) -- dd/mm/yyyy 
			END

	-- DATA DE VENCIMENTO ORIGINAL
	IF (@DT_VENCIMENTO_ORIGINAL) = ''
			BEGIN
				SELECT @DT_VENCIMENTO_ORIGINAL = NULL
			END
		ELSE
			BEGIN
				SELECT @DT_VENCIMENTO_ORIGINAL = convert(datetime, @DT_VENCIMENTO_ORIGINAL, 103) -- dd/mm/yyyy 
			END

	-- DATA DE VENCIMENTO PRORROGACAO
	IF (@DT_VENCIMENTO_PRORROGACAO) = ''
			BEGIN
				SELECT @DT_VENCIMENTO_PRORROGACAO = NULL
			END
		ELSE
			BEGIN
				SELECT @DT_VENCIMENTO_PRORROGACAO = convert(datetime, @DT_VENCIMENTO_PRORROGACAO, 103) -- dd/mm/yyyy 
			END

	-- DATA DE PROVAVEL PAGAMENTO
	IF (@DT_PROVAVEL_PAGAMENTO) = ''
		BEGIN
			SELECT @DT_PROVAVEL_PAGAMENTO = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_PROVAVEL_PAGAMENTO = convert(datetime, @DT_PROVAVEL_PAGAMENTO, 103) -- dd/mm/yyyy 
		END

	-- DATA VALIDA DESCONTO
	IF (@DT_VALIDA_DESCONTO) = ''
		BEGIN
			SELECT @DT_VALIDA_DESCONTO = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_VALIDA_DESCONTO = convert(datetime, @DT_VALIDA_DESCONTO, 103) -- dd/mm/yyyy 
		END

	-- DATA CALCULADO JUROS MORA
	IF (@DT_CALCULADO_JUROS_MORA) = ''
		BEGIN
			SELECT @DT_CALCULADO_JUROS_MORA = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_CALCULADO_JUROS_MORA = convert(datetime, @DT_CALCULADO_JUROS_MORA, 103) -- dd/mm/yyyy 
		END

	-- DATA ULTIMO PAGAMENTO
	IF (@DT_ULTIMO_PAGAMENTO) = ''
		BEGIN
			SELECT @DT_ULTIMO_PAGAMENTO = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_ULTIMO_PAGAMENTO = convert(datetime, @DT_ULTIMO_PAGAMENTO, 103) -- dd/mm/yyyy 
		END

	-- DATA BASE NEGOCIADO
	IF (@DT_BASE_NEGOCIADO) = ''
		BEGIN
			SELECT @DT_BASE_NEGOCIADO = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_BASE_NEGOCIADO = convert(datetime, @DT_BASE_NEGOCIADO, 103) -- dd/mm/yyyy 
		END
	
	-- DATA ULTIMA COTACAO CALCULADA
	IF (@DT_ULTIMA_COTACAO_CALCULA) = ''
		BEGIN
			SELECT @DT_ULTIMA_COTACAO_CALCULA = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_ULTIMA_COTACAO_CALCULA = convert(datetime, @DT_ULTIMA_COTACAO_CALCULA, 103) -- dd/mm/yyyy 
		END
		
	-- DATA ENTRADA ORIGINAL PREVISTO
	IF (@DT_ENTRADA_ORIGINAL_PREVISTO) = ''
		BEGIN
			SELECT @DT_ENTRADA_ORIGINAL_PREVISTO = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_ENTRADA_ORIGINAL_PREVISTO = convert(datetime, @DT_ENTRADA_ORIGINAL_PREVISTO, 103) -- dd/mm/yyyy 
		END
		
	-- DATA GERACAO REGISTRO
	IF (@DT_GERACAO_REGISTRO) = ''
		BEGIN
			SELECT @DT_GERACAO_REGISTRO = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_GERACAO_REGISTRO = convert(datetime, @DT_GERACAO_REGISTRO, 103) -- dd/mm/yyyy 
		END

	-- DATA MES BASE COMISSÃO
	IF (@DT_MES_BASE_COMISSAO) = ''
		BEGIN
			SELECT @DT_MES_BASE_COMISSAO = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_MES_BASE_COMISSAO = convert(datetime, @DT_MES_BASE_COMISSAO, 103) -- dd/mm/yyyy 
		END
		
	-- DATA AG RENEGOCIACAO
	IF (@DT_AG_RENEGOCIACAO) = ''
		BEGIN
			SELECT @DT_AG_RENEGOCIACAO = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_AG_RENEGOCIACAO = convert(datetime, @DT_AG_RENEGOCIACAO, 103) -- dd/mm/yyyy 
		END
		
	-- DATA REALOCACAO CONTROLE
	IF (@DT_REALOCACAO_CONTROLE) = ''
		BEGIN
			SELECT @DT_REALOCACAO_CONTROLE = NULL
		END
	ELSE
		BEGIN
			SELECT @DT_REALOCACAO_CONTROLE = convert(datetime, @DT_REALOCACAO_CONTROLE, 103) -- dd/mm/yyyy 
		END


		

	IF @DC_TIPO_FUNCAO = 'I'
		BEGIN
			
			INSERT INTO TB_WRK_SENIOR_CONTAS_RECEBER_BOLETO_VISTA (
				  DC_NUMERO_TITULO
				  ,DC_TIPO_TITULO
				  ,DC_TRANSACAO
				  ,DC_SITUACAO
				  ,DC_SITUACAO_ANTERIOR
				  ,DT_EMISSAO
				  ,DT_ENTRADA
				  ,CD_PESSOA_EXTERNO
				  ,DC_CODIGO_SACADO
				  ,DC_CODIGO_REPRESENTANTE
				  ,DC_CODIGO_GRUPO_CONTAS
				  ,DC_OBS
				  ,DT_VENCIMENTO_ORIGINAL
				  ,VL_ORIGINAL
				  ,DC_CODIGO_FORMA_PAGAMENTO
				  ,DT_VENCIMENTO_PRORROGACAO
				  ,DC_PRORROGACAO_COM_JUROS
				  ,DC_CODIGO_MOTIVO_PRORROGACAO
				  ,DT_PROVAVEL_PAGAMENTO
				  ,VL_ABERTO
				  ,DC_CODIGO_MOEDA
				  ,VL_COTACAO_MOEDA
				  ,DC_CODIGO_FORMULA_REAJUSTE
				  ,VL_COTACAO_MOEDA_REAJUSTE
				  ,PC_COMISSAO
				  ,PC_COMISSAO_PAGO_REC
				  ,VL_BASE_COMISSAO
				  ,VL_COMISSAO
				  ,DT_VALIDA_DESCONTO
				  ,DC_DIAS_TOLERANCIA_DESCONTO
				  ,PC_DESCONTO
				  ,VL_DESCONTO
				  ,DC_CALCULA_DESCONTO_ANT_REC
				  ,DC_PERIODO_CALCULO_DESCONTO_ANT
				  ,PC_JUROS_MORA_MES
				  ,DC_JUROS_SIMPLES_COMPOSTO
				  ,VL_JUROS_MORA_DIA
				  ,DC_DIAS_TOLERANCIA_JUROS_MORA
				  ,DT_CALCULADO_JUROS_MORA
				  ,PC_MULTA_PREVISTA
				  ,DC_DIAS_TOLERANCIA_MULTA
				  ,DC_NUMERO_BANCO_CHEQUE
				  ,DC_NUMERO_AGENCIA_CHEQUE
				  ,DC_NUMERO_CONTA_CHEQUE
				  ,DC_NUMERO_CHEQUE
				  ,DC_PORTADOR
				  ,DC_CARTEIRA
				  ,DC_NOSSO_NUMERO
				  ,VL_ORIGINAL_REMESSA
				  ,DC_NUMERO_ARQUIVO_REMESSA
				  ,DC_CODIGO_OCORRENCIA_REMESSA
				  ,DC_CODIGO_PRIMEIRA_INSTRUCAO
				  ,DC_CODIGO_SEGUNDA_INSTRUCAO
				  ,DC_PORTADOR_ANTERIOR
				  ,DC_CARTEIRA_ANTERIOR
				  ,DT_ULTIMO_PAGAMENTO
				  ,DT_BASE_NEGOCIADO
				  ,VL_JUROS_NEGOCIADO
				  ,VL_MULTA_NEGOCIADO
				  ,VL_DESCONTO_NEGOCIADO
				  ,VL_OUTROS_NEGOCIADO
				  ,DC_USUARIO_VALOR_NEGOCIADO
				  ,DC_CODIGO_CONDICAO_PAG_NEGOCIADO
				  ,VL_TAXA_NEGOCIADO
				  ,VL_COTACAO_MOEDA_NEGOCIADO
				  ,VL_DESPESAS_CARTORIO
				  ,VL_DESPESAS_COBRANCA
				  ,VL_OUTRAS_DESPESAS
				  ,DC_CONTROLE_GERACAO_NOTA_DEBITO
				  ,DC_NUMERO_PROJETO
				  ,DC_CODIGO_FASE_PROJETO
				  ,DC_CONTA_FINANCEIRA_REDUZIDA
				  ,DC_CONTA_CONTABIL_REDUZIDA
				  ,DC_CODIGO_CENTRO_CUSTO
				  ,DC_QTD_DUPLICATAS
				  ,DC_QTD_BLOQUETOS
				  ,DT_ULTIMA_COTACAO_CALCULA
				  ,VL_MOEDA_ULTIMA_COTACAO
				  ,DC_CODIGO_FILIAL_NF_SAIDA
				  ,DC_CODIGO_SERIE_NF_ORIGEM
				  ,DC_NUMERO_NF_ORIGEM
				  ,DC_CODIGO_FILIAL_CONTRATO_VENDA
				  ,DC_NUMERO_CONTRATO_ORIGEM
				  ,DC_SEQUENCIA_CONTRATO_IMOBILIARIO
				  ,DC_CODIGO_FILIAL_NF_ORIGEM
				  ,DC_NUMERO_NF_FATURA_ORIGEM
				  ,DC_CODIGO_FILIAL_PEDIDO_ORIGEM
				  ,DC_NUMERO_PEDIDO_ORIGEM
				  ,DC_CODIGO_FILIAL_NF_ENTRADA
				  ,DC_FORNECEDOR_NF_ENTRADA
				  ,DC_NUMERO_NF_ENTRADA
				  ,DC_CODIGO_SERIE_NF_ENTRADA
				  ,DC_CODIGO_FILIAL_NOTA_DEBITO
				  ,DC_NUMERO_TITULO_NOTA_DEBITO
				  ,DC_CODIGO_TIPO_TITULO_NOTA_DEBITO
				  ,DC_TIPO_EFETIVACAO
				  ,DC_CODIGO_TRANSACAO_PREVISAO
				  ,DT_ENTRADA_ORIGINAL_PREVISTO
				  ,VL_ORIGINAL_PREVISTO
				  ,DC_CODIGO_FILIAL_CONT_RESERVADO
				  ,DC_NUMERO_CONT_RESERVADO
				  ,DC_CODIGO_FILIAL_PEDIDO_RESERVADO
				  ,DC_NUMERO_PEDIDO_RESERVADO
				  ,DC_CODIGO_BARRAS
				  ,DC_USUARIO_ALT_SITUACAO
				  ,DC_NUMERO_ENCONTRO_CONTAS
				  ,DC_NUMERO_AGR_COBRANCA_ESCRITURAL
				  ,DC_CODIGO_FILIAL_CONT_AP_RECURSOS
				  ,DC_NUMERO_CONT_AP_RECURSOS
				  ,DC_SITUACAO_SERASA
				  ,DC_USUARIO_GERACAO_REGISTRO
				  ,DT_GERACAO_REGISTRO
				  ,DC_HORA_GERACAO_REGISTRO
				  ,DC_CODIGO_AUTORIZACAO_TEF
				  ,DC_NSU
				  ,DC_NUMERO_PONTO_CARTAO
				  ,DC_NUMERO_RESUMO_CARTAO
				  ,DC_NUMERO_PARCELA
				  ,DC_GERADO_ROTINA_SAPIENS
				  ,DC_NUMERO_DOC_FISCAL_SERVICO
				  ,DC_CODIGO_EQUIP_FISCAL
				  ,DC_NUMERO_CUPOM_FISCAL
				  ,DC_CONTA_REINICIO_ECF
				  ,DC_CODIGO_AUTORIZACAO_EXTERNO
				  ,DC_CODIGO_OPERADORA
				  ,DC_CARTAO_CONVENIO
				  ,DC_CODIGO_CARTAO_PRESENTE
				  ,DC_CODIGO_CONVENIO
				  ,DC_CODIGO_EMPRESA_AP_COMISSAO
				  ,DC_CODIGO_CONT_COMISSAO
				  ,DC_CODIGO_FILIAL_AP_COMISSAO
				  ,DT_MES_BASE_COMISSAO
				  ,DC_LOCALIZADOR_LOJA
				  ,DC_ADICIONA_SALDO_CLIENTE
				  ,PC_DESCONTO_PONTUALIDADE
				  ,DC_MOMENTO_LIBERACAO_CREDITO
				  ,DC_SISTEMA_DEVE_CALCULAR_JUROS
				  ,VL_INTERMEDIACAO_SERVICOS
				  ,DC_SEQUENCIA_END_COBRANCA
				  ,DC_CODIGO_FILIAL_PROP_FINANCEIRA
				  ,DC_NUMERO_PROP_FINANCEIRA
				  ,DC_CODIGO_FINANC_DETENTORA
				  ,DC_CODIGO_FILIAL_AG_RENEGOCIACAO
				  ,DT_AG_RENEGOCIACAO
				  ,DC_CHAVE_AG_RENEGOCIACAO
				  ,DT_REALOCACAO_CONTROLE
				  ,DC_TITULO_CONTROLE
				  ,DC_NUMERO_MALOTE
				  ,DT_CADASTRO
				  ,ID_SITUACAO_PROCESSAMENTO
				  ,NM_LOTE
				)

			VALUES (
				  @DC_NUMERO_TITULO
				  ,@DC_TIPO_TITULO
				  ,@DC_TRANSACAO
				  ,@DC_SITUACAO
				  ,@DC_SITUACAO_ANTERIOR
				  ,@DT_EMISSAO
				  ,@DT_ENTRADA
				  ,@CD_PESSOA_EXTERNO
				  ,@DC_CODIGO_SACADO
				  ,@DC_CODIGO_REPRESENTANTE
				  ,@DC_CODIGO_GRUPO_CONTAS
				  ,@DC_OBS
				  ,@DT_VENCIMENTO_ORIGINAL
				  ,@VL_ORIGINAL
				  ,@DC_CODIGO_FORMA_PAGAMENTO
				  ,@DT_VENCIMENTO_PRORROGACAO
				  ,@DC_PRORROGACAO_COM_JUROS
				  ,@DC_CODIGO_MOTIVO_PRORROGACAO
				  ,@DT_PROVAVEL_PAGAMENTO
				  ,@VL_ABERTO
				  ,@DC_CODIGO_MOEDA
				  ,@VL_COTACAO_MOEDA
				  ,@DC_CODIGO_FORMULA_REAJUSTE
				  ,@VL_COTACAO_MOEDA_REAJUSTE
				  ,@PC_COMISSAO
				  ,@PC_COMISSAO_PAGO_REC
				  ,@VL_BASE_COMISSAO
				  ,@VL_COMISSAO
				  ,@DT_VALIDA_DESCONTO
				  ,@DC_DIAS_TOLERANCIA_DESCONTO
				  ,@PC_DESCONTO
				  ,@VL_DESCONTO
				  ,@DC_CALCULA_DESCONTO_ANT_REC
				  ,@DC_PERIODO_CALCULO_DESCONTO_ANT
				  ,@PC_JUROS_MORA_MES
				  ,@DC_JUROS_SIMPLES_COMPOSTO
				  ,@VL_JUROS_MORA_DIA
				  ,@DC_DIAS_TOLERANCIA_JUROS_MORA
				  ,@DT_CALCULADO_JUROS_MORA
				  ,@PC_MULTA_PREVISTA
				  ,@DC_DIAS_TOLERANCIA_MULTA
				  ,@DC_NUMERO_BANCO_CHEQUE
				  ,@DC_NUMERO_AGENCIA_CHEQUE
				  ,@DC_NUMERO_CONTA_CHEQUE
				  ,@DC_NUMERO_CHEQUE
				  ,@DC_PORTADOR
				  ,@DC_CARTEIRA
				  ,@DC_NOSSO_NUMERO
				  ,@VL_ORIGINAL_REMESSA
				  ,@DC_NUMERO_ARQUIVO_REMESSA
				  ,@DC_CODIGO_OCORRENCIA_REMESSA
				  ,@DC_CODIGO_PRIMEIRA_INSTRUCAO
				  ,@DC_CODIGO_SEGUNDA_INSTRUCAO
				  ,@DC_PORTADOR_ANTERIOR
				  ,@DC_CARTEIRA_ANTERIOR
				  ,@DT_ULTIMO_PAGAMENTO
				  ,@DT_BASE_NEGOCIADO
				  ,@VL_JUROS_NEGOCIADO
				  ,@VL_MULTA_NEGOCIADO
				  ,@VL_DESCONTO_NEGOCIADO
				  ,@VL_OUTROS_NEGOCIADO
				  ,@DC_USUARIO_VALOR_NEGOCIADO
				  ,@DC_CODIGO_CONDICAO_PAG_NEGOCIADO
				  ,@VL_TAXA_NEGOCIADO
				  ,@VL_COTACAO_MOEDA_NEGOCIADO
				  ,@VL_DESPESAS_CARTORIO
				  ,@VL_DESPESAS_COBRANCA
				  ,@VL_OUTRAS_DESPESAS
				  ,@DC_CONTROLE_GERACAO_NOTA_DEBITO
				  ,@DC_NUMERO_PROJETO
				  ,@DC_CODIGO_FASE_PROJETO
				  ,@DC_CONTA_FINANCEIRA_REDUZIDA
				  ,@DC_CONTA_CONTABIL_REDUZIDA
				  ,@DC_CODIGO_CENTRO_CUSTO
				  ,@DC_QTD_DUPLICATAS
				  ,@DC_QTD_BLOQUETOS
				  ,@DT_ULTIMA_COTACAO_CALCULA
				  ,@VL_MOEDA_ULTIMA_COTACAO
				  ,@DC_CODIGO_FILIAL_NF_SAIDA
				  ,@DC_CODIGO_SERIE_NF_ORIGEM
				  ,@DC_NUMERO_NF_ORIGEM
				  ,@DC_CODIGO_FILIAL_CONTRATO_VENDA
				  ,@DC_NUMERO_CONTRATO_ORIGEM
				  ,@DC_SEQUENCIA_CONTRATO_IMOBILIARIO
				  ,@DC_CODIGO_FILIAL_NF_ORIGEM
				  ,@DC_NUMERO_NF_FATURA_ORIGEM
				  ,@DC_CODIGO_FILIAL_PEDIDO_ORIGEM
				  ,@DC_NUMERO_PEDIDO_ORIGEM
				  ,@DC_CODIGO_FILIAL_NF_ENTRADA
				  ,@DC_FORNECEDOR_NF_ENTRADA
				  ,@DC_NUMERO_NF_ENTRADA
				  ,@DC_CODIGO_SERIE_NF_ENTRADA
				  ,@DC_CODIGO_FILIAL_NOTA_DEBITO
				  ,@DC_NUMERO_TITULO_NOTA_DEBITO
				  ,@DC_CODIGO_TIPO_TITULO_NOTA_DEBITO
				  ,@DC_TIPO_EFETIVACAO
				  ,@DC_CODIGO_TRANSACAO_PREVISAO
				  ,@DT_ENTRADA_ORIGINAL_PREVISTO
				  ,@VL_ORIGINAL_PREVISTO
				  ,@DC_CODIGO_FILIAL_CONT_RESERVADO
				  ,@DC_NUMERO_CONT_RESERVADO
				  ,@DC_CODIGO_FILIAL_PEDIDO_RESERVADO
				  ,@DC_NUMERO_PEDIDO_RESERVADO
				  ,@DC_CODIGO_BARRAS
				  ,@DC_USUARIO_ALT_SITUACAO
				  ,@DC_NUMERO_ENCONTRO_CONTAS
				  ,@DC_NUMERO_AGR_COBRANCA_ESCRITURAL
				  ,@DC_CODIGO_FILIAL_CONT_AP_RECURSOS
				  ,@DC_NUMERO_CONT_AP_RECURSOS
				  ,@DC_SITUACAO_SERASA
				  ,@DC_USUARIO_GERACAO_REGISTRO
				  ,@DT_GERACAO_REGISTRO
				  ,@DC_HORA_GERACAO_REGISTRO
				  ,@DC_CODIGO_AUTORIZACAO_TEF
				  ,@DC_NSU
				  ,@DC_NUMERO_PONTO_CARTAO
				  ,@DC_NUMERO_RESUMO_CARTAO
				  ,@DC_NUMERO_PARCELA
				  ,@DC_GERADO_ROTINA_SAPIENS
				  ,@DC_NUMERO_DOC_FISCAL_SERVICO
				  ,@DC_CODIGO_EQUIP_FISCAL
				  ,@DC_NUMERO_CUPOM_FISCAL
				  ,@DC_CONTA_REINICIO_ECF
				  ,@DC_CODIGO_AUTORIZACAO_EXTERNO
				  ,@DC_CODIGO_OPERADORA
				  ,@DC_CARTAO_CONVENIO
				  ,@DC_CODIGO_CARTAO_PRESENTE
				  ,@DC_CODIGO_CONVENIO
				  ,@DC_CODIGO_EMPRESA_AP_COMISSAO
				  ,@DC_CODIGO_CONT_COMISSAO
				  ,@DC_CODIGO_FILIAL_AP_COMISSAO
				  ,@DT_MES_BASE_COMISSAO
				  ,@DC_LOCALIZADOR_LOJA
				  ,@DC_ADICIONA_SALDO_CLIENTE
				  ,@PC_DESCONTO_PONTUALIDADE
				  ,@DC_MOMENTO_LIBERACAO_CREDITO
				  ,@DC_SISTEMA_DEVE_CALCULAR_JUROS
				  ,@VL_INTERMEDIACAO_SERVICOS
				  ,@DC_SEQUENCIA_END_COBRANCA
				  ,@DC_CODIGO_FILIAL_PROP_FINANCEIRA
				  ,@DC_NUMERO_PROP_FINANCEIRA
				  ,@DC_CODIGO_FINANC_DETENTORA
				  ,@DC_CODIGO_FILIAL_AG_RENEGOCIACAO
				  ,@DT_AG_RENEGOCIACAO
				  ,@DC_CHAVE_AG_RENEGOCIACAO
				  ,@DT_REALOCACAO_CONTROLE
				  ,@DC_TITULO_CONTROLE
				  ,@DC_NUMERO_MALOTE
				  ,GETDATE()
				  ,1
				  ,@NM_LOTE
				)
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
		END
		
	--IF @DC_TIPO_FUNCAO = 'A'
	--	BEGIN
	--		UPDATE TB_WRK_SENIOR_CONTAS_RECEBER SET
	--			DC_TIPO_TITULO = @DC_TIPO_TITULO,
	--			DC_SITUACAO_TITULO = @DC_SITUACAO_TITULO,
	--			DC_SITUACAO_TITULO_ANTERIOR = @DC_SITUACAO_TITULO_ANTERIOR,
	--			DT_EMISSAO_TITULO = @DT_EMISSAO_TITULO,
	--			DT_VENCIMENTO_TITULO = @DT_VENCIMENTO_TITULO,
	--			VL_TITULO = @VL_TITULO,
	--			NM_LOTE = @NM_LOTE,
	--			DT_CADASTRO = GETDATE(),
	--			ID_SITUACAO_PROCESSAMENTO = 1,
	--			DC_FORPAG_EXTERNO = @DC_FORPAG_EXTERNO,
	--			DC_PORTADOR = @DC_PORTADOR,
	--			DC_OBS = @DC_OBS,
	--			DT_VENCIMENTO_PRO_TITULO = @DT_VENCIMENTO_PRO_TITULO
	--		WHERE DC_NUMERO_TITULO = @DC_NUMERO_TITULO
	--	END

			
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;






GO
