SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**************************************************
Procedure criada por Anderson dia 14/11/2015
Essa procedure foi criada para recuperar pedidos que se encontram
Em Captacao. Esse processo será automatico esera executado a partir de um job
Ele muda o status do pedido que esta em captação para 
Pedido Abandonado e grava o historico
**************************************************/

CREATE PROCEDURE [dbo].[pr_PedidoRecuperaPedidoEmCaptacaoAutomaticamente]
	@p_codigoUsuario	numeric(18, 0),
	@p_codigoErro		INT OUTPUT,
	@p_descErro			VARCHAR(100) OUTPUT
	
AS

DECLARE @v_contador					int,
        @v_cursorPedidosCaptacao	CURSOR,
        @v_numeroPedido				numeric(18,0),
        @v_origemPedido				varchar(30),
        @v_cursorPedidoHistorico	CURSOR,
	    @v_dtInicial				datetime,
	    @v_valorParametro			numeric(18, 4),
	    @v_qtdeMinutos				INT

	    	
BEGIN TRY
		
		-- **************************************
		-- POPULA ERRO = 0 (SEM ERRO)
		-- **************************************
	    SELECT @p_codigoErro = 0
	    SELECT @p_descErro = ''
	    
	    -- ******************************************************************
	    -- BUSCAR A QTDE DE MINUTOS PARA RECUPERAR PEDIDO EM CAPTAÇÃO
	    -- ******************************************************************
	    SELECT @v_contador = COUNT(*)
		FROM TB_VALOR_PARAMETRO 
		WHERE CD_GRUPO_PARAMETRO = 4
		AND  CD_PARAMETRO = 8
		AND CD_VALOR_PARAMETRO = 1
		
		IF @v_contador = 0
		BEGIN
		  SELECT @p_codigoErro = 1
	      SELECT @p_descErro = 'Valor Parametro nao encontrado'
	      RETURN
		END
		
		SELECT @v_valorParametro = VL_PARAMETRO
		FROM TB_VALOR_PARAMETRO 
		WHERE CD_GRUPO_PARAMETRO = 4
		AND  CD_PARAMETRO = 8
		AND CD_VALOR_PARAMETRO = 1
	    
	    -- **********************************************
	    -- CURSOR DE PEDIDOS EM CAPTAÇÃO	    
	    -- **********************************************
	    SET @v_cursorPedidosCaptacao = CURSOR FAST_FORWARD
		FOR
				SELECT	NM_PEDIDO,
						ORIGEM
				FROM
					(SELECT PE.NM_PEDIDO NM_PEDIDO,
					PE.DT_CADASTRO_PEDIDO DT_PEDIDO,
					ES.DC_EST_SITUACAO DC_SITUACAO,
					PE.CD_PESSOA CD_PESSOA,
					dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) DC_PESSOA,
					'ADMINISTRATIVO' ORIGEM
					From TB_PEDIDO PE, TB_EST_SITUACAO ES 
					WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO
					AND PE.CD_EST_SITUACAO IN (1)
					UNION ALL
					SELECT PE.NM_PEDIDO_TEMP NM_PEDIDO,
					PE.DT_PEDIDO_TEMP DT_PEDIDO,
					ES.DC_EST_SITUACAO DC_SITUACAO,
					PE.CD_PESSOA CD_PESSOA,
					dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) DC_PESSOA,
					'LV' ORIGEM
					From TB_WRK_PEDIDO_TEMP PE, TB_EST_SITUACAO ES 
					WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO
					AND PE.CD_EST_SITUACAO IN (1)) B
				ORDER BY NM_PEDIDO ASC
	    
	    OPEN @v_cursorPedidosCaptacao
		FETCH NEXT FROM @v_cursorPedidosCaptacao
		INTO @v_numeroPedido, @v_origemPedido
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
		
			IF @v_origemPedido = 'ADMINISTRATIVO'
				BEGIN
				
					-- CURSOR DE HISTORICO DO PEDIDO
					SET @v_cursorPedidoHistorico = CURSOR FAST_FORWARD
					FOR
						SELECT DT_INICIAL
						FROM TB_PEDIDO_HISTORICO
						WHERE NM_PEDIDO = @v_numeroPedido
						AND   CD_EST_SITUACAO = 1	
						AND DT_FINAL IS NULL
			
						OPEN @v_cursorPedidoHistorico
						FETCH NEXT FROM @v_cursorPedidoHistorico
						INTO @v_dtInicial
		
						WHILE @@FETCH_STATUS = 0
							BEGIN
				
								SELECT @v_qtdeMinutos = DATEDIFF(mi,@v_dtInicial, GETDATE()) 
				
								IF @v_qtdeMinutos > @v_valorParametro
									BEGIN
									
										EXEC pr_PedidoRecuperaPedidoEmCaptacaoManualmente
												@v_numeroPedido,
												'ADMINISTRATIVO',
												@p_codigoUsuario,
												0,
												'',
												0
									END
						
						  FETCH NEXT FROM @v_cursorPedidoHistorico
						  INTO @v_dtInicial
						END
						CLOSE      @v_cursorPedidoHistorico  
						DEALLOCATE @v_cursorPedidoHistorico

				END
			ELSE
				BEGIN
					
					-- CURSOR DE HISTORICO DO PEDIDO
					SET @v_cursorPedidoHistorico = CURSOR FAST_FORWARD
					FOR
						SELECT DT_INICIAL
						FROM TB_WRK_PEDIDO_TEMP_HISTORICO
						WHERE NM_PEDIDO_TEMP = @v_numeroPedido
						AND   CD_EST_SITUACAO = 1	
						AND DT_FINAL IS NULL
			
						OPEN @v_cursorPedidoHistorico
						FETCH NEXT FROM @v_cursorPedidoHistorico
						INTO @v_dtInicial
		
						WHILE @@FETCH_STATUS = 0
							BEGIN
				
								SELECT @v_qtdeMinutos = DATEDIFF(mi,@v_dtInicial, GETDATE()) 
				
								IF @v_qtdeMinutos > @v_valorParametro
									BEGIN
									
										EXEC pr_PedidoRecuperaPedidoEmCaptacaoManualmente
												@v_numeroPedido,
												'LV',
												@p_codigoUsuario,
												0,
												'',
												0
									END
						
						  FETCH NEXT FROM @v_cursorPedidoHistorico
						  INTO @v_dtInicial
						END
						CLOSE      @v_cursorPedidoHistorico  
						DEALLOCATE @v_cursorPedidoHistorico
				END
		
		  
		  FETCH NEXT FROM @v_cursorPedidosCaptacao
		  INTO @v_numeroPedido, @v_origemPedido
		END
		CLOSE      @v_cursorPedidosCaptacao  
        DEALLOCATE @v_cursorPedidosCaptacao
        
        SELECT @p_codigoErro = 0
	    SELECT @p_descErro = ''
	        			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;




GO
