SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PedidoListaRegraComercialColaborador]
	@CD_PESSOA_LOGIN		NUMERIC(18,0),
	@CD_PESSOA				NUMERIC(18,0),
	@CD_FUNCAO				NUMERIC(18,0),
	@CD_PAPEL_CARREIRA		NUMERIC(18,0),
	@CD_PAPEL_DESEMPENHO	NUMERIC(18,0)
		
	
AS

-- ****************************************************************************
-- PROC CRIADA POR ANDERSON - 28/02/2019
-- ESSAS PROC FOI CRIADA PELO SEGUINTE MOTIVO
-- EXISTEM CLIENTES QUE TRABALHAM COM FRANQUIAS
-- NORMALMENTE CONFIGURAMOS NA REGRA COMERCIAL A REGIÃO GEOGRAFICA
-- ENTRETANTO EXISTEM CLIENTES QUE USAM A MESMA REGIÃO PARA VARIOS CDS
-- AI QUE ESTA O PROBLEMA
-- QUANDO É COLABORADOR MOSTRA AS REGRAS COMERCIAIS DE OUTROS CDS
-- DESSA MANEIRA QUANDO A EMPRESA TRANALHA COM FRANQUIAS E É UM ACESSO
-- DE COLABORADOR DE FRANQUIA VAMOS EXECUTAR ESSA PROC. POIS VAMOS MOSTRAR
-- APENAS AS REGRAS DOS CDS NO QUAL A PESSOA LOGIN FAZ PARTE
-- QUANDO FOR O ADMINISTRADOR OU COLABORADOR DE MATRIZ OU FORÇA DE VENDAS
-- VAMOS EXECUTAR A PROC ORIGINAL QUE BUSCA AS REGRAS COMERCIAIS
-- ****************************************************************************


	DECLARE @V_CLIENTE AS INT
	DECLARE @V_CD AS NUMERIC(18,0)
	
	SELECT @V_CLIENTE = VL_PARAMETRO
	FROM TB_VALOR_PARAMETRO 
	WHERE CD_GRUPO_PARAMETRO = 6
	AND CD_PARAMETRO = 1

	--LACQUA
	IF @V_CLIENTE = 15
		BEGIN

			SELECT @V_CD = MIN(EC.CD_CENTRO_DISTRIBUICAO)
			FROM TB_PESSOA_RESUMO PR, TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC
			WHERE PR.CD_PESSOA = @CD_PESSOA
			AND PR.CD_FUNCAO = @CD_FUNCAO
			AND PR.CD_EST_COMERCIAL = EC.CD_EST_COMERCIAL


			SELECT	CD_REGRA_COMERCIAL,
				DC_REGRA_COMERCIAL,
				VL_PEDIDO_MINIMO, 
				CD_CENTRO_DISTRIBUICAO,
				ID_APLICA_RC_TODOS_PEDIDOS,
				NM_FAIXA_PEDIDO_INICIAL,
				NM_FAIXA_PEDIDO_FINAL,
				DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) QT_PEDIDOS_APROVADOS
				--ID_RC_VERIFICA_INDICACOES,
				--NM_INDICACOES_EFETIVADAS_INICIAL,
				--NM_INDICACOES_EFETIVADAS_FINAL,
				--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) QT_INDICACOES_EFETIVADAS
		FROM TB_REGRA_COMERCIAL A
		WHERE CD_FUNCAO = @CD_FUNCAO
			AND ID_SITUACAO = 1
			AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL))
			--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
			--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
			AND A.CD_CENTRO_DISTRIBUICAO = @V_CD
			AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
							WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)
			AND (((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = 8045) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
																							  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				  AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL))
				  OR
				  NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL))
			
		
		UNION ALL


		SELECT	CD_REGRA_COMERCIAL,
				DC_REGRA_COMERCIAL,
				VL_PEDIDO_MINIMO, 
				CD_CENTRO_DISTRIBUICAO,
				ID_APLICA_RC_TODOS_PEDIDOS,
				NM_FAIXA_PEDIDO_INICIAL,
				NM_FAIXA_PEDIDO_FINAL,
				DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) QT_PEDIDOS_APROVADOS
				--ID_RC_VERIFICA_INDICACOES,
				--NM_INDICACOES_EFETIVADAS_INICIAL,
				--NM_INDICACOES_EFETIVADAS_FINAL,
				--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) QT_INDICACOES_EFETIVADAS
		FROM TB_REGRA_COMERCIAL A
		WHERE CD_FUNCAO = @CD_FUNCAO
			AND ID_SITUACAO = 1
			AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL))
			--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
			--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
			AND A.CD_CENTRO_DISTRIBUICAO = @V_CD
			AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
						WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
						AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA)
			AND (((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = 8045) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
																							  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				  AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL))
				  OR
				  NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL))
			--AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT EC.CD_CENTRO_DISTRIBUICAO
				--						FROM TB_PESSOA_RESUMO PR, TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC
					--					WHERE PR.CD_PESSOA = @CD_PESSOA
						--				AND PR.CD_FUNCAO = @CD_FUNCAO
							--			AND PR.CD_EST_COMERCIAL = EC.CD_EST_COMERCIAL)




		END
	ELSE
		BEGIN
	
	   -- ' *****************************************************************************************************
       -- ' MOSTRA TODAS AS REGRAS COMERCIAIS QUE SERÃO APLIECADOS EM TODOS OS PEDIDOS INDEPENDENTE DA FAIXA
       -- ' *****************************************************************************************************

	   	SELECT	CD_REGRA_COMERCIAL,
				DC_REGRA_COMERCIAL,
				VL_PEDIDO_MINIMO, 
				CD_CENTRO_DISTRIBUICAO,
				ID_APLICA_RC_TODOS_PEDIDOS,
				NM_FAIXA_PEDIDO_INICIAL,
				NM_FAIXA_PEDIDO_FINAL,
				DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) QT_PEDIDOS_APROVADOS
				--ID_RC_VERIFICA_INDICACOES,
				--NM_INDICACOES_EFETIVADAS_INICIAL,
				--NM_INDICACOES_EFETIVADAS_FINAL,
				--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) QT_INDICACOES_EFETIVADAS
		FROM TB_REGRA_COMERCIAL A
		WHERE CD_FUNCAO = @CD_FUNCAO
			AND ID_SITUACAO = 1
			AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL))
			--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
			--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
			And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
			AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
							WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)
			AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
							WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)

    		AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B 
                      					WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) 

			AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
												  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)
			
			-- VERIFICA O CD DA PESSOA LOGIN (COLABORADOR)
			AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT W.CD_CENTRO_DISTRIBUICAO
												FROM TB_CENTRO_DISTRIBUICAO W 
												WHERE W.ID_SITUACAO = 1 
												AND W.CD_EMPRESA IN (SELECT	CD_EMPRESA 
																	From TB_PESSOA_COLABORADOR 
																	Where CD_PESSOA = @CD_PESSOA_LOGIN))
		
		UNION ALL


		SELECT	CD_REGRA_COMERCIAL,
				DC_REGRA_COMERCIAL,
				VL_PEDIDO_MINIMO, 
				CD_CENTRO_DISTRIBUICAO,
				ID_APLICA_RC_TODOS_PEDIDOS,
				NM_FAIXA_PEDIDO_INICIAL,
				NM_FAIXA_PEDIDO_FINAL,
				DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) QT_PEDIDOS_APROVADOS
				--ID_RC_VERIFICA_INDICACOES,
				--NM_INDICACOES_EFETIVADAS_INICIAL,
				--NM_INDICACOES_EFETIVADAS_FINAL,
				--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) QT_INDICACOES_EFETIVADAS
		FROM TB_REGRA_COMERCIAL A
		WHERE CD_FUNCAO = @CD_FUNCAO
			AND ID_SITUACAO = 1
			AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL))
			--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
			--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
			And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
         	AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
						WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
						AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA)
			AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
						WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
						AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO)
			AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
																							  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)

				
			-- VERIFICA O CD DA PESSOA LOGIN (COLABORADOR)
			AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT W.CD_CENTRO_DISTRIBUICAO
												FROM TB_CENTRO_DISTRIBUICAO W 
												WHERE W.ID_SITUACAO = 1 
												AND W.CD_EMPRESA IN (SELECT	CD_EMPRESA 
																	From TB_PESSOA_COLABORADOR 
																	Where CD_PESSOA = @CD_PESSOA_LOGIN))



		/***************************************************************************************************
		ALTERAÇÃO FEITA POR ANDERSON - 01/07/2018
		TEMOS QUE COLOCAR DOIS UNIONS AQUI PELO FATO DE TER COLOCADO PAPEL DESEMPENHO
		***************************************************************************************************/

		UNION ALL


			SELECT	CD_REGRA_COMERCIAL,
				DC_REGRA_COMERCIAL,
				VL_PEDIDO_MINIMO, 
				CD_CENTRO_DISTRIBUICAO,
				ID_APLICA_RC_TODOS_PEDIDOS,
				NM_FAIXA_PEDIDO_INICIAL,
				NM_FAIXA_PEDIDO_FINAL,
				DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) QT_PEDIDOS_APROVADOS
				--ID_RC_VERIFICA_INDICACOES,
				--NM_INDICACOES_EFETIVADAS_INICIAL,
				--NM_INDICACOES_EFETIVADAS_FINAL,
				--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) QT_INDICACOES_EFETIVADAS
		FROM TB_REGRA_COMERCIAL A
		WHERE CD_FUNCAO = @CD_FUNCAO
			AND ID_SITUACAO = 1
			AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL))
			--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
			--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
			And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
			AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
							WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)
			AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
						WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
						AND B.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO)
			AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
																							  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)
			
						
			-- VERIFICA O CD DA PESSOA LOGIN (COLABORADOR)
			AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT W.CD_CENTRO_DISTRIBUICAO
												FROM TB_CENTRO_DISTRIBUICAO W 
												WHERE W.ID_SITUACAO = 1 
												AND W.CD_EMPRESA IN (SELECT	CD_EMPRESA 
																	From TB_PESSOA_COLABORADOR 
																	Where CD_PESSOA = @CD_PESSOA_LOGIN))


		UNION ALL


		SELECT	CD_REGRA_COMERCIAL,
				DC_REGRA_COMERCIAL,
				VL_PEDIDO_MINIMO, 
				CD_CENTRO_DISTRIBUICAO,
				ID_APLICA_RC_TODOS_PEDIDOS,
				NM_FAIXA_PEDIDO_INICIAL,
				NM_FAIXA_PEDIDO_FINAL,
				DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) QT_PEDIDOS_APROVADOS
				--ID_RC_VERIFICA_INDICACOES,
				--NM_INDICACOES_EFETIVADAS_INICIAL,
				--NM_INDICACOES_EFETIVADAS_FINAL,
				--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) QT_INDICACOES_EFETIVADAS
		FROM TB_REGRA_COMERCIAL A
		WHERE CD_FUNCAO = @CD_FUNCAO
			AND ID_SITUACAO = 1
			AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL))
			--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
			--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
			And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
         	AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
						WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
						AND B.CD_PAPEL_CARREIRA = @CD_PAPEL_CARREIRA)
			AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
							WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)
			AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
																							  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)
						
			-- VERIFICA O CD DA PESSOA LOGIN (COLABORADOR)
			AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT W.CD_CENTRO_DISTRIBUICAO
												FROM TB_CENTRO_DISTRIBUICAO W 
												WHERE W.ID_SITUACAO = 1 
												AND W.CD_EMPRESA IN (SELECT	CD_EMPRESA 
																	From TB_PESSOA_COLABORADOR 
																	Where CD_PESSOA = @CD_PESSOA_LOGIN))

        UNION ALL


	   	SELECT	CD_REGRA_COMERCIAL,
				DC_REGRA_COMERCIAL,
				VL_PEDIDO_MINIMO, 
				CD_CENTRO_DISTRIBUICAO,
				ID_APLICA_RC_TODOS_PEDIDOS,
				NM_FAIXA_PEDIDO_INICIAL,
				NM_FAIXA_PEDIDO_FINAL,
				DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) QT_PEDIDOS_APROVADOS
				--ID_RC_VERIFICA_INDICACOES,
				--NM_INDICACOES_EFETIVADAS_INICIAL,
				--NM_INDICACOES_EFETIVADAS_FINAL,
				--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) QT_INDICACOES_EFETIVADAS
		FROM TB_REGRA_COMERCIAL A
		WHERE CD_FUNCAO = @CD_FUNCAO
			AND ID_SITUACAO = 1
			AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@CD_PESSOA, @CD_FUNCAO) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL))
			--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(@CD_PESSOA) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
			--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
			And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  @CD_PESSOA ) = 1 
			AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
							WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)
			AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B
							WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)

                        AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B, TB_PESSOA_RESUMO C, TB_REGRA_COMERCIAL_INDICADOR D
                                    WHERE B.CD_PESSOA            = C.CD_PESSOA
                                   AND   B.CD_FUNCAO            = C.CD_FUNCAO
                                   AND   B.NM_CICLO             = C.NM_CICLO_ATUAL
                                   AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL
                                   AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL
		                   AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL
                                   AND   B.CD_PESSOA          = @CD_PESSOA
                                   AND   B.CD_FUNCAO          = @CD_FUNCAO  )


			AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA WHERE CD_PESSOA = @CD_PESSOA) IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS 
												  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL)
				 OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)
	  

	  			
			-- VERIFICA O CD DA PESSOA LOGIN (COLABORADOR)
			AND A.CD_CENTRO_DISTRIBUICAO IN (SELECT W.CD_CENTRO_DISTRIBUICAO
												FROM TB_CENTRO_DISTRIBUICAO W 
												WHERE W.ID_SITUACAO = 1 
												AND W.CD_EMPRESA IN (SELECT	CD_EMPRESA 
																	From TB_PESSOA_COLABORADOR 
																	Where CD_PESSOA = @CD_PESSOA_LOGIN))


		END
GO
