SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[pr_RegraEnvioProdutoInsereRegraComercial]
	@p_codigoRegraEnvioProduto	NUMERIC(18,0),
	@p_codigoRegraComercial		NUMERIC(18,0),
			
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),
	
	@p_codigoRetorno			INT OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT

AS


BEGIN TRY
	

	    SELECT @p_qtdeLinhasAfetadas = 0

		IF @p_descAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_REGRA_ENVIO_PRODUTO_REGRA_COMERCIAL (
					CD_REGRA_ENVIO_PRODUTO,
					CD_REGRA_COMERCIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				 						
						
				VALUES           (
					@p_codigoRegraEnvioProduto,
					@p_codigoRegraComercial,
					GETDATE(), 
					@p_codigoUsuario, 
					null,
					null
						)
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	

		IF @p_descAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_REGRA_ENVIO_PRODUTO_REGRA_COMERCIAL 
					WHERE CD_REGRA_ENVIO_PRODUTO = @p_codigoRegraEnvioProduto
	
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	



		SELECT @p_codigoRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoRetorno = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
