SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_ROTA]
	@CD_ROTA NUMERIC(18,0),
	@DC_ROTA varchar(80),
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @v_qtdeTranspRota as INT

BEGIN TRY
	
	

	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN

				BEGIN TRANSACTION 

				INSERT INTO TB_ROTA (
					DC_ROTA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@DC_ROTA,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @VAR_RETORNO = IDENT_CURRENT('TB_ROTA')
			
				COMMIT TRANSACTION
			END
			
		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_ROTA
				SET DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO
				WHERE CD_ROTA = @CD_ROTA
				
				COMMIT TRANSACTION
				
				SELECT @VAR_RETORNO = 0
			END
			
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				
				SELECT @v_qtdeTranspRota = COUNT(*)
				FROM TB_TRANSPORTADORA T
				WHERE T.CD_ROTA = @CD_ROTA
				
				IF @v_qtdeTranspRota = 0
					BEGIN
				
						DELETE FROM TB_ROTA_ITEM WHERE CD_ROTA = @CD_ROTA
						DELETE FROM TB_ROTA WHERE CD_ROTA = @CD_ROTA
						
						COMMIT TRANSACTION
				
						SELECT @VAR_RETORNO = 0
					END
				IF @v_qtdeTranspRota > 0
					BEGIN
						
						SELECT @VAR_RETORNO = -1
						SELECT @DC_ERRO = 'Transportadora associada a Rota, não é possível excluir!'
					
					END
			END

		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = -1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
