SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiGradeInsereGrade]
	@p_codigoGrade			VARCHAR(40),
	@p_descGrade			VARCHAR(80),
	@p_idSituacaoGrade		INT,
	@p_codigoItemGrade		VARCHAR(20),
	@p_descItemGrade		VARCHAR(80),
	@p_idSituacaoItemGrade	INT,
			
	@p_codigoUsuario		NUMERIC(18,0),
	@p_descricaoFuncao		VARCHAR(1),
		
	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(1000) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT
	
	
AS
DECLARE @v_codigoGrade		NUMERIC(18,0),
		@v_codigoGradeItem	NUMERIC(18,0)

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	SELECT @p_qtLinhasAfetadas = 0

	--busca o código da grade informada
	SELECT @v_codigoGrade = MIN(CD_GRADE_PRODUTO)
	  FROM TB_GRADE_PRODUTO WITH(NOLOCK)
	 WHERE CD_GRADE_PRODUTO_EXTERNO = RTRIM(LTRIM(@p_codigoGrade))

	IF @p_descricaoFuncao = 'I'
		BEGIN
			IF @v_codigoGrade = 0
				BEGIN
					-- VAMOS INSERIR A GRADE ENVIADA
					EXEC dbo.pr_GradeProdutoInsereGrade 0,
														@p_codigoGrade,
														@p_descGrade,
														@p_idSituacaoGrade,
														@p_codigoUsuario,
														'I',
														@p_codigoErro OUTPUT,
														@p_descErro OUTPUT,
														@p_qtLinhasAfetadas OUTPUT

					IF @p_codigoErro > 0
						BEGIN
							SELECT @p_descErro = 'Erro ao criar grade: ' + @p_descErro
							RETURN
						END
					ELSE
						BEGIN
							--busca o código da grade CRIADA
							SELECT @v_codigoGrade = MIN(CD_GRADE_PRODUTO)
							  FROM TB_GRADE_PRODUTO WITH(NOLOCK)
							 WHERE CD_GRADE_PRODUTO_EXTERNO = RTRIM(LTRIM(@p_codigoGrade))
						END
				END

			--busca o código da grade do item informada
			SELECT @v_codigoGradeItem = MIN(CD_GRADE_PRODUTO_ITEM)
			  FROM TB_GRADE_PRODUTO_ITEM WITH(NOLOCK)
			 WHERE CD_GRADE_PRODUTO_ITEM_EXTERNO = RTRIM(LTRIM(@p_codigoItemGrade))
			   AND CD_GRADE_PRODUTO = @v_codigoGrade

			IF @v_codigoGradeItem = 0
				BEGIN
					-- VAMOS INSERIR A GRADE ENVIADA
					EXEC dbo.pr_GradeProdutoInsereGradeItem @v_codigoGrade,
															0,
															@p_codigoItemGrade,
															@p_descItemGrade,
															@p_idSituacaoItemGrade,
															@p_codigoUsuario,
															'I',
															@p_codigoErro OUTPUT,
															@p_descErro OUTPUT,
															@p_qtLinhasAfetadas OUTPUT

					IF @p_codigoErro > 0
						BEGIN
							SELECT @p_descErro = 'Erro ao criar item da grade: ' + @p_descErro
							RETURN
						END
				END
			ELSE
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Código de item de grade já existente'

					RETURN
				END
		END

	--busca o código da grade do item informada
	SELECT @v_codigoGradeItem = MIN(CD_GRADE_PRODUTO_ITEM)
	  FROM TB_GRADE_PRODUTO_ITEM WITH(NOLOCK)
	 WHERE CD_GRADE_PRODUTO_ITEM_EXTERNO = RTRIM(LTRIM(@p_codigoItemGrade))
	   AND CD_GRADE_PRODUTO = @v_codigoGrade

	IF @p_descricaoFuncao = 'A'
		BEGIN
			IF @v_codigoGrade = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Código de grade informado inexistente'

					RETURN
				END

			IF @v_codigoGradeItem = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Código de item da grade informado inexistente'

					RETURN
				END
			ELSE
				BEGIN
					-- VAMOS ATUALIZAR A GRADE ENVIADA
					EXEC dbo.pr_GradeProdutoInsereGrade @v_codigoGrade,
														@p_codigoGrade,
														@p_descGrade,
														@p_idSituacaoGrade,
														@p_codigoUsuario,
														'A',
														@p_codigoErro OUTPUT,
														@p_descErro OUTPUT,
														@p_qtLinhasAfetadas OUTPUT

					-- VAMOS ATUALIZAR O ITEM DE GRADE ENVIADO
					EXEC dbo.pr_GradeProdutoInsereGradeItem @v_codigoGrade,
															@v_codigoGradeItem,
															@p_codigoItemGrade,
															@p_descItemGrade,
															@p_idSituacaoItemGrade,
															@p_codigoUsuario,
															'A',
															@p_codigoErro OUTPUT,
															@p_descErro OUTPUT,
															@p_qtLinhasAfetadas OUTPUT
				END
		END

	IF @p_descricaoFuncao = 'E'
		BEGIN
			IF @v_codigoGrade = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Código de grade informado inexistente'

					RETURN
				END
			ELSE
				BEGIN
					-- exclui o item de grade enviado
					-- PRIMEIRO OS MATERIAIS COM ESSE ITEM DE GRADE
					DELETE FROM TB_MATERIAL_GRADE_PRODUTO 
					WHERE CD_GRADE_PRODUTO = @v_codigoGrade
					AND CD_GRADE_PRODUTO_ITEM = @v_codigoGradeItem

					-- AGORA O ITEM DA GRADE
					DELETE FROM TB_GRADE_PRODUTO_ITEM
					WHERE CD_GRADE_PRODUTO = @v_codigoGrade
					AND CD_GRADE_PRODUTO_ITEM = @v_codigoGradeItem
				END
		END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
