SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_PESSOA_PAPEL_HIST_DATA]
	@CD_PESSOA numeric(18, 0),
	@CD_FUNCAO numeric(18, 0),
	@NM_CICLO numeric(18, 0),
	@CD_PAPEL_DESEMPENHO numeric(18, 0),
		
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS


BEGIN TRY
	

	    SELECT @QT_LINHAS_AFETADAS = 0
	    
	    BEGIN TRANSACTION
	    
	    INSERT INTO TB_PESSOA_PAPEL_HIST_DATA (
	    	DT_CADASTRO,
			CD_PESSOA,
			CD_FUNCAO,
			NM_CICLO,
			CD_PAPEL_DESEMPENHO)
		VALUES (
			GETDATE(),
			@CD_PESSOA,
			@CD_FUNCAO,
			@NM_CICLO,
			@CD_PAPEL_DESEMPENHO)
		
	    
	    COMMIT TRANSACTION
	    
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
