SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 04/07/2016
-- Description:	Procedure que irá gravar as alterações nos dados da NF
-- =============================================
CREATE PROCEDURE [dbo].[pr_FiscalAlteraNotaFiscal]
	
	@p_codigoNF				numeric(18,0),
	@p_descNaturezaOperacao	varchar(200),
	@p_codigoTransportadora	numeric(18,0),
	@p_qtdeVolumes			int,
	@p_descEspecie			varchar(50),
	@p_descMarca			varchar(50),
	@p_descNumeracao		varchar(500),
	@p_valorPesoBruto		numeric(18,3),
	@p_valorPesoLiquido		numeric(18,3),
	@p_descInfoAdicional	varchar(max),
	@p_codigoUsuario		numeric(18,0),
	
	@p_codigoErro			numeric(18,0) output,
	@p_descErro				varchar(max) output,
	@p_qtdeLinhasAferadas	int output
	
AS

DECLARE @v_countAlteracoes	int,
		@v_descValorAtual	varchar(max),
		@v_idSituacaoNF		int

BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT @v_idSituacaoNF = ID_SITUACAO_NOTA_FISCAL
	  FROM TB_NOTA_FISCAL
	 WHERE CD_NOTA_FISCAL = @p_codigoNF
	 
	IF @v_idSituacaoNF <> 0
		begin
			select @p_codigoErro = 2
			select @p_descErro = 'A Situação atual da NF não permite a edição!'
		end
	 
	-- busca o número da última alteração 
	select @v_countAlteracoes = ISNULL(max(NM_ALTERACAO),0)
	  from TB_NOTA_FISCAL_ALTERACAO
	 where CD_NOTA_FISCAL = @p_codigoNF
	 
	-- realiza o update de cada campo na NF e grava o log de alteração
	
	--1º campo NATUREZA OPERACAO
	IF @p_descNaturezaOperacao <> ''
		BEGIN
		
			select @v_descValorAtual = DC_NATUREZA_OPERACAO
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET DC_NATUREZA_OPERACAO = @p_descNaturezaOperacao
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Natureza da Operação',
						   @v_descValorAtual,
						   @p_descNaturezaOperacao,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
		
	--2º campo TRANSPORTADORA
	IF @p_codigoTransportadora > -1
		BEGIN
		
			select @v_descValorAtual = CONVERT(VARCHAR(10),CD_TRANSPORTADORA)
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET CD_TRANSPORTADORA = @p_codigoTransportadora
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Transportadora',
						   @v_descValorAtual,
						   @p_codigoTransportadora,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
		
	--3º campo QUANTIDADE DE VOLUMES
	IF @p_qtdeVolumes > 0
		BEGIN
		
			select @v_descValorAtual = CONVERT(VARCHAR(10),QT_VOLUMES)
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET QT_VOLUMES = @p_qtdeVolumes
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Quantidade de Volumes',
						   @v_descValorAtual,
						   @p_qtdeVolumes,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
    
    --4º campo MARCA
	IF @p_descMarca <> ''
		BEGIN
		
			select @v_descValorAtual = DC_MARCA
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET DC_MARCA = @p_descMarca
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Marca',
						   @v_descValorAtual,
						   @p_descMarca,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
		
	--5º campo NUMERAÇÃO VOLUMES
	IF @p_descNumeracao <> ''
		BEGIN
		
			select @v_descValorAtual = DC_NUMERACAO_VOLUMES
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET DC_NUMERACAO_VOLUMES = @p_descNumeracao
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Numeração Embalagens',
						   @v_descValorAtual,
						   @p_descNumeracao,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
		
	--6º campo PESO BRUTO
	IF @p_valorPesoBruto > 0
		BEGIN
		
			select @v_descValorAtual = CONVERT(VARCHAR(12),VL_PESO_BRUTO)
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET VL_PESO_BRUTO = @p_valorPesoBruto
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Peso Bruto',
						   @v_descValorAtual,
						   @p_valorPesoBruto,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
		
	--7º campo PESO LIQUIDO
	IF @p_valorPesoLiquido > 0
		BEGIN
		
			select @v_descValorAtual = CONVERT(VARCHAR(12),VL_PESO_LIQUIDO)
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET VL_PESO_LIQUIDO = @p_valorPesoLiquido
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Peso Liquido',
						   @v_descValorAtual,
						   @p_valorPesoLiquido,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
		
	--8º campo ESPECIE
	IF @p_descEspecie <> ''
		BEGIN
		
			select @v_descValorAtual = DC_ESPECIE_VOLUMES
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET DC_ESPECIE_VOLUMES = @p_descEspecie
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Espécie Volumes',
						   @v_descValorAtual,
						   @p_descEspecie,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
	
	IF @p_descInfoAdicional <> ''
		BEGIN
		
			select @v_descValorAtual = DC_INFO_COMPLEMENTAR
			  from TB_NOTA_FISCAL
			 where CD_NOTA_FISCAL = @p_codigoNF 
			
			--ATUALIZA O CAMPO
			UPDATE TB_NOTA_FISCAL SET DC_INFO_COMPLEMENTAR = @p_descInfoAdicional
			WHERE CD_NOTA_FISCAL = @p_codigoNF
			
			--GERA O LOG DE ALTERACAO
			select @v_countAlteracoes = @v_countAlteracoes + 1
			insert into TB_NOTA_FISCAL_ALTERACAO 
				   values (@p_codigoNF,
						   @v_countAlteracoes,
						   'Informação Complementar',
						   @v_descValorAtual,
						   @p_descInfoAdicional,
						   GETDATE(),
						   @p_codigoUsuario)
			
		END
		
	select @p_codigoErro = 0
	select @p_descErro = ''
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;


GO
