SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_AtendimentoInsereAtendimento]
	@p_codigoAtendimento			NUMERIC(18,0),
	@p_codigoPessoa					NUMERIC(18,0),
	@p_codigoFuncao					NUMERIC(18,0),
	@p_codigoPedido					NUMERIC(18,0),
	@p_codigoOrigemAtendimento		INT,
	@p_codigoTipoAtendimento		NUMERIC(18,0),
	@p_codigoSituacaoAtendimento	NUMERIC(18,0), 
	@p_codigoUsuario				NUMERIC(18,0), 
	@p_descricaoTipoFuncao			VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				INSERT INTO TB_SAC_ATENDIMENTO (
					CD_PESSOA,
					CD_FUNCAO,
					NM_PEDIDO,
					ID_ORIGEM_ATENDIMENTO,
					CD_SAC_TIPO_ATENDIMENTO,
					CD_SAC_SOLUCAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO
                                        )
								
						
				VALUES           (
					@p_codigoPessoa,
					@p_codigoFuncao,
					@p_codigoPedido,
					@p_codigoOrigemAtendimento,
					@p_codigoTipoAtendimento,
					@p_codigoSituacaoAtendimento,
					GETDATE(), 
					@p_codigoUsuario 
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_SAC_ATENDIMENTO')
			
				COMMIT TRANSACTION
			END	

		IF @p_descricaoTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_SAC_ATENDIMENTO SET
					CD_PESSOA = @p_codigoPessoa,
					CD_FUNCAO = @p_codigoFuncao,
					NM_PEDIDO = @p_codigoPedido,
					ID_ORIGEM_ATENDIMENTO = @p_codigoOrigemAtendimento,
					CD_SAC_TIPO_ATENDIMENTO = @p_codigoTipoAtendimento,
					CD_SAC_SOLUCAO = @p_codigoSituacaoAtendimento, 
					DT_CONCLUSAO = GETDATE(),
					CD_USUARIO_CONCLUSAO = @p_codigoUsuario
				WHERE CD_SAC_ATENDIMENTO = @p_codigoAtendimento
					
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_SAC_ATENDIMENTO
					WHERE CD_SAC_ATENDIMENTO = @p_codigoAtendimento
										
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
