SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PromocaoInserePromocaoQuaseConquistada]
	@p_nmPedido						NUMERIC(18,0),
	@p_codigoPromocao				NUMERIC(18, 0),
	@p_descAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT
AS

DECLARE @v_dcQueFaltaPromocao		VARCHAR(500),
		@v_idTipoRequisito			INT,
		@v_cdTipoRequisito			NUMERIC(18,0),
		@V_nmValorRequisito			NUMERIC(18,0),
		@v_dcProduto				VARCHAR(500),
		@v_qtdeAtual				INT,
		@v_cdMaterialRequisito		NUMERIC(18,0),
		@v_nmPedidoItem				NUMERIC(18,0),
		@v_cursorItens				CURSOR

BEGIN TRY

	SELECT @v_dcQueFaltaPromocao = ''

	IF @p_descAcao = 'I'
		BEGIN
			SET @v_cursorItens = CURSOR FAST_FORWARD
			FOR
				SELECT  ID_TIPO_REQUISITO,
						CD_TIPO_REQUISITO,
						NM_VALOR_REQUISITO,
						CD_MATERIAL_REQUISITO
				  FROM TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA_ITEM WITH(NOLOCK)
				 WHERE NM_PEDIDO = @p_nmPedido
				   AND CD_PROMOCAO = @p_codigoPromocao

			OPEN @v_cursorItens
			FETCH NEXT FROM @v_cursorItens
			INTO @v_idTipoRequisito, @v_cdTipoRequisito, @V_nmValorRequisito, @v_cdMaterialRequisito

			WHILE @@FETCH_STATUS = 0
				BEGIN
					IF @v_idTipoRequisito = 1 
						BEGIN
							SELECT @v_dcProduto = CD_PRODUTO_VENDA_EXTERNO + ' - ' + DC_PRODUTO_VENDA 
							  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
							 WHERE CD_PRODUTO_VENDA = @v_cdTipoRequisito

							-- VAMOS BUSCAR A QTDE CONQUISTADA ATUALMENTE NO PEDIDO PARA ATUALIZAR O ITEM QUE TEM A QTDE TOTAL DO REQUISITO
							SELECT	@v_qtdeAtual = SUM(QT_RESERVADA),
									@v_nmPedidoItem = NM_PEDIDO_ITEM
							  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
							 WHERE NM_PEDIDO = @p_nmPedido
							   AND ID_PRODUTO_COBRADO = 1
							   AND NM_PEDIDO_ITEM_CONJUNTO = 0
							   AND CD_PRODUTO_VENDA = @v_cdTipoRequisito
							   AND ID_ORIGEM_ITEM_PEDIDO = 1 -- SOMENTE ITENS DE CAPTAÇÃO
								-- VAMOS VERIFICAR NESTE PONTO SE O MATERIAL É DO TIPO AGRUPADOR, NESTE CASO TEMOS QUE VERIFICAR O MATERIAL ESPECÍFICO
							   AND CD_MATERIAL = (CASE ID_AGRUPAMENTO WHEN 3 THEN @v_cdMaterialRequisito ELSE CD_MATERIAL END)
							 group by NM_PEDIDO_ITEM

							-- ATUALIZA A QTDE PARA O QUE FALTA REALMENTE
							UPDATE TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA_ITEM 
							SET NM_VALOR_REQUISITO_FALTA = (@V_nmValorRequisito - ISNULL(@v_qtdeAtual,0)),
								NM_PEDIDO_ITEM = @v_nmPedidoItem
							WHERE NM_PEDIDO = @p_nmPedido
							AND CD_PROMOCAO = @p_codigoPromocao
							AND CD_TIPO_REQUISITO = @v_cdTipoRequisito
							AND ID_TIPO_REQUISITO = @v_idTipoRequisito

							SELECT @v_dcQueFaltaPromocao = @v_dcQueFaltaPromocao + convert(varchar,(@V_nmValorRequisito - ISNULL(@v_qtdeAtual,0))) + ' unidade(s) do ' + @v_dcProduto + ' <br />'
						END

					IF @v_idTipoRequisito = 2 
						BEGIN
							SELECT @v_dcProduto = DC_EST_PRODUTO 
							  FROM TB_EST_PRODUTO WITH(NOLOCK)
							 WHERE CD_EST_PRODUTO = @v_cdTipoRequisito

							-- VAMOS BUSCAR A QTDE CONQUISTADA ATUALMENTE NO PEDIDO PARA ATUALIZAR O ITEM QUE TEM A QTDE TOTAL DO REQUISITO
							SELECT	@v_qtdeAtual = isnull(SUM(QT_RESERVADA),0)
							  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
							 WHERE NM_PEDIDO = @p_nmPedido
							   AND ID_PRODUTO_COBRADO = 1
							   AND NM_PEDIDO_ITEM_CONJUNTO = 0
							   AND ID_ORIGEM_ITEM_PEDIDO = 1 -- SOMENTE ITENS DE CAPTAÇÃO
							   AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisito) = 1
								-- VAMOS VERIFICAR NESTE PONTO SE O MATERIAL É DO TIPO AGRUPADOR, NESTE CASO TEMOS QUE VERIFICAR O MATERIAL ESPECÍFICO
							   AND CD_MATERIAL = (CASE ID_AGRUPAMENTO WHEN 3 THEN @v_cdMaterialRequisito ELSE CD_MATERIAL END)

							-- ATUALIZA A QTDE PARA O QUE FALTA REALMENTE
							UPDATE TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA_ITEM SET NM_VALOR_REQUISITO_FALTA = (@V_nmValorRequisito - @v_qtdeAtual)
							WHERE NM_PEDIDO = @p_nmPedido
							AND CD_PROMOCAO = @p_codigoPromocao
							AND CD_TIPO_REQUISITO = @v_cdTipoRequisito
							AND ID_TIPO_REQUISITO = @v_idTipoRequisito

							SELECT @v_dcQueFaltaPromocao = @v_dcQueFaltaPromocao + convert(varchar,(@V_nmValorRequisito - @v_qtdeAtual)) + ' unidade(s) da linha ' + @v_dcProduto + ' <br />'
						END

					FETCH NEXT FROM @v_cursorItens
					INTO @v_idTipoRequisito, @v_cdTipoRequisito, @V_nmValorRequisito, @v_cdMaterialRequisito
				END
			
			INSERT TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA 
									(NM_PEDIDO,
									 CD_PROMOCAO,
									 DC_QUE_FALTA_PROMOCAO)
			VALUES					(@p_nmPedido,
									 @p_codigoPromocao,
									 @v_dcQueFaltaPromocao)					
		
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
		END	

	IF @p_descAcao = 'E'
		BEGIN
				
			DELETE FROM TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA
			WHERE CD_PROMOCAO = @p_codigoPromocao	
			AND NM_PEDIDO = @p_nmPedido					

			SELECT @p_codigoErro = 0	
				
		END
			
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
