SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PromocaoAplicaPromocaoDesconto]
	@p_nmPedido						NUMERIC(18,0),
	@p_cdPromocao					NUMERIC(18,0),
	@p_idTipoBeneficio				INT, -- 1 produto / 2 estrutura de produto
	@p_cdTipoBeneficio				NUMERIC(18,0),
	@p_idFormaPremiacaoPromocao		INT,
	@p_nmValorBeneficio				NUMERIC(18,2),
	@p_cdMaterialBeneficio			NUMERIC(18,0),
	@p_qtdeAtendeRequisito			NUMERIC(18,0),
	@p_cdRegraComercial				NUMERIC(18,0),
	@p_cdPromocaoBeneficio			NUMERIC(18,0),
	@p_cdPromocaoRequisitoFaixa		NUMERIC(18,0),

	@p_cdRetorno					INT OUTPUT,
	@p_dcErro						NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas			INT OUTPUT	
	
AS

DECLARE @Cursor_Componentes	CURSOR,
		@Cursor_Beneficios CURSOR,
		@Cursor_Produtos_Estrutura CURSOR
	 		
DECLARE @v_qtdeReservadaPedidoItem		NUMERIC(18,0),
		@v_vlTabelaTotalPedidoItem		NUMERIC(18,2),
		@v_nmPedidoItem					NUMERIC(18,0),
		@v_idAgrupamento				INT,
		@v_cdMaterial					NUMERIC(18,0),
		@v_vlCreditoTotalPedidoItem		NUMERIC(18,2),
		@v_vlPraticadoTotalPedidoItem	NUMERIC(18,2),
		@v_percLucratividade			NUMERIC(18,2),
		@v_vlComissaoTotalPedidoItem	NUMERIC(18,2),
		@v_vlLiquidoTotalPedidoItem		NUMERIC(18,2),
		@v_nmPedidoItemPromocao			NUMERIC(18,0),
		@v_cdProdutoVenda				NUMERIC(18,0),
		@v_qtdeAtendeRequisitoOriginal  NUMERIC(18,0)

-- variáveis para calcular o valor unitário do item
DECLARE	@v_vlPraticadoUnitarioPedidoItem NUMERIC(18,2),
		@v_vlDescontoUnitarioPedidoItem	NUMERIC(18,2),
		@v_vlLiquidoUnitarioPedidoItem  NUMERIC(18,2)
		
-- VARIAVEIS COMPONENTES DO KIT
DECLARE @v_qtdeReservadaComponente		NUMERIC(18,0), 
		@v_vlTabelaTotalComponente		NUMERIC(18,2), 
		@v_nmPedidoItemComponente		NUMERIC(18,0),
		@v_idAgrupamentoComponente		INT, 
		@v_cdMaterialComponente			NUMERIC(18,0),
		@v_vlCreditoTotalComponente		NUMERIC(18,2),
		@v_vlPraticadoTotalComponente	NUMERIC(18,2),
		@v_vlLiquidoTotalComponente		NUMERIC(18,2),
		@v_vlComissaoTotalComponente	NUMERIC(18,2),
		@v_percComponente				NUMERIC(18,2),
		@v_codigoProdutoVenda			NUMERIC(18,0),
		@v_valorTotalKit				NUMERIC(18,2),
		@v_valorRestaTotalkit			NUMERIC(18,2),
		@v_valorPagarTotalKit			NUMERIC(18,2),
		@v_nmPedidoItemPaiKit			NUMERIC(18,0),
		@v_idAplicaLucratividadePromocao INT,
		@v_qtdeDescontar				NUMERIC(18,0),
		@v_qtdeDescontarRestante		NUMERIC(18,0),
		@v_idLimitaAplicacao			INT,
		@v_qtdeDescontoLimitado			NUMERIC(18,0),
		@v_qtdeCotaPromocao				NUMERIC(18,0),
		@v_idTipoPromocao				INT
	
BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0
	
	-- **********************************************************************************************
	-- ALTERAÇÃO POR DIEGO ZILIOTI EM 24/05/2021, TEMOS QUE AVALIAR AGORA O TIPO DE PROMOÇÃO POIS A FAIXA DE VALORES TERÁ OPÇÃO DE DESCONTO AGORA
	-- **********************************************************************************************
	SELECT @v_idTipoPromocao = ID_TIPO_PROMOCAO
	  FROM TB_PROMOCAO WITH(NOLOCK)
	 WHERE CD_PROMOCAO = @p_cdPromocao

	IF @v_idTipoPromocao = 1
		BEGIN
			-- **********************************************************************************************
			-- ALTERAÇÃO POR DIEGO ZILIOTI EM 20/03/2021, VAMOS APLICAR O CONCEITO DE QUANTIDADE NO DESCONTO
			-- COM ISTO NÃO TEREMOS MAIS O CONCEITO DE ITENS ELEGÍVEIS NO CASO DA ESTRUTURA DE PRODUTOS, BASTA O CLIENTE INFORMAR A QTDE NO BENEFÍCIO QUE SERÁ LIMITADO
			-- **********************************************************************************************
			SELECT	@v_qtdeDescontar = ISNULL(QT_BENEFICIO,0),
					@v_qtdeDescontarRestante = ISNULL(QT_BENEFICIO,0),
					@v_idLimitaAplicacao = ISNULL(ID_LIMITA_APLICACAO_PRODUTO,0),
					@v_qtdeDescontoLimitado = ISNULL(QT_BENEFICIO_PRODUTO,0),
					@v_qtdeCotaPromocao = ISNULL(P.VL_COTA,0)
			  FROM TB_PROMOCAO_BENEFICIO PB WITH(NOLOCK), TB_PROMOCAO p WITH(NOLOCK)
			 WHERE PB.CD_PROMOCAO_BENEFICIO = @p_cdPromocaoBeneficio
			   AND P.CD_PROMOCAO = @p_cdPromocao
			   AND PB.CD_PROMOCAO = P.CD_PROMOCAO
		END

	IF @v_idTipoPromocao = 2
		BEGIN
			-- **********************************************************************************************
			-- ALTERAÇÃO POR DIEGO ZILIOTI EM 20/03/2021, VAMOS APLICAR O CONCEITO DE QUANTIDADE NO DESCONTO
			-- COM ISTO NÃO TEREMOS MAIS O CONCEITO DE ITENS ELEGÍVEIS NO CASO DA ESTRUTURA DE PRODUTOS, BASTA O CLIENTE INFORMAR A QTDE NO BENEFÍCIO QUE SERÁ LIMITADO
			-- **********************************************************************************************
			SELECT	@v_qtdeDescontar = ISNULL(QT_BENEFICIO,0),
					@v_qtdeDescontarRestante = ISNULL(QT_BENEFICIO,0),
					@v_idLimitaAplicacao = ISNULL(ID_LIMITA_APLICACAO_PRODUTO,0),
					@v_qtdeDescontoLimitado = ISNULL(QT_BENEFICIO_PRODUTO,0),
					@v_qtdeCotaPromocao = ISNULL(P.VL_COTA,0)
			  FROM TB_PROMOCAO_BENEFICIO_FAIXA PB WITH(NOLOCK), TB_PROMOCAO p WITH(NOLOCK)
			 WHERE PB.CD_PROMOCAO_BENEFICIO_FAIXA = @p_cdPromocaoBeneficio
			   AND P.CD_PROMOCAO = @p_cdPromocao
			   AND PB.CD_PROMOCAO = P.CD_PROMOCAO
		END

	-- **********************************************************************************************
	-- ALTERAÇÃO POR RAFAEL FRANCISCO EM 03/08/2022, INCLUIDO O TIPO DE PROMOCAO 3 ATIVIDADE
	-- **********************************************************************************************
	IF @v_idTipoPromocao = 3 -- ATIVIDADE
		BEGIN
			SELECT	@v_qtdeDescontar = ISNULL(QT_BENEFICIO,0),
					@v_qtdeDescontarRestante = ISNULL(QT_BENEFICIO,0),
					@v_idLimitaAplicacao = ISNULL(ID_LIMITA_APLICACAO_PRODUTO,0),
					@v_qtdeDescontoLimitado = ISNULL(QT_BENEFICIO_PRODUTO,0),
					@v_qtdeCotaPromocao = ISNULL(P.VL_COTA,0)
			  FROM TB_PROMOCAO_BENEFICIO PB WITH(NOLOCK), TB_PROMOCAO p WITH(NOLOCK)
			 WHERE PB.CD_PROMOCAO_BENEFICIO = @p_cdPromocaoBeneficio
			   AND P.CD_PROMOCAO = @p_cdPromocao
			   AND PB.CD_PROMOCAO = P.CD_PROMOCAO
		END


	IF @p_idTipoBeneficio = 1 -- PRODUTO
		BEGIN
	
			-- ***************************************************************
			-- BUSCA AS INFORMAÇÕES DO BENEFICIO NA TABELA TB_PEDIDO_ITEM
			-- POIS PARA GANHAR O DESCONTO PRECISA TER COMPRADO O BENEFICIO
			-- ESTAVA APLICANDO O DESCONTO EM CIMA DO VALOR DE TABELA E ESTA ERRADO, TEM QUE APLICAR EM CIMA DO VALOR PRATICADO
			-- ***************************************************************
			SELECT	@v_qtdeReservadaPedidoItem = QT_RESERVADA,
					@v_vlTabelaTotalPedidoItem = VL_TABELA_TOTAL,
					@v_vlPraticadoTotalPedidoItem = VL_PRATICADO_TOTAL,
					@v_vlLiquidoTotalPedidoItem = VL_LIQUIDO_TOTAL,
					@v_vlComissaoTotalPedidoItem = VL_COMISSAO_CN,
					@v_nmPedidoItem = NM_PEDIDO_ITEM,
					@v_idAgrupamento = ID_AGRUPAMENTO,
					@v_cdMaterial = CD_MATERIAL,
					@v_vlCreditoTotalPedidoItem = VL_CREDITO_TOTAL,
					@v_vlPraticadoUnitarioPedidoItem = VL_PRATICADO_TOTAL / QT_RESERVADA,
					@v_vlLiquidoUnitarioPedidoItem = VL_LIQUIDO_TOTAL / QT_RESERVADA
			FROM TB_PEDIDO_ITEM WITH(NOLOCK)
			WHERE NM_PEDIDO = @p_nmPedido
			AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
			AND ID_PRODUTO_COBRADO = 1
			and NM_PEDIDO_ITEM_CONJUNTO = 0
			and CD_MATERIAL = (case ID_AGRUPAMENTO when 3 then @p_cdMaterialBeneficio else CD_MATERIAL end)

			--**************** Atualização por Diego Zilioti em 20/03/2021 ****************
			-- vamos validar inicialmente se existe cota a aplicar na promoção, se for maior que 0 ela será avaliada
			if @v_qtdeCotaPromocao > 0
				begin
					-- vamos validar se a qtde conquistada no requisito é maior que a cota, se for a qtde da cota prevalece
					if @p_qtdeAtendeRequisito > @v_qtdeCotaPromocao
						begin
							select @p_qtdeAtendeRequisito = @v_qtdeCotaPromocao
						end
				end
			-- após validar a cota vamos multiplicar a qtde do benefício pela qtde conquistada no requisito, se ela for 0 o desconto será aplicado em todas as unidades
			-- caso não exista limitação por produto
			if @v_qtdeDescontar > 0 and @v_idLimitaAplicacao <> 1
				begin
					select @p_qtdeAtendeRequisito = @p_qtdeAtendeRequisito * @v_qtdeDescontar
				end
			-- se existir a limitação por produto vamos aplicar somente a quantidade limitada
			if @v_qtdeDescontar > 0 and @v_idLimitaAplicacao = 1
				begin
					select @p_qtdeAtendeRequisito = @v_qtdeDescontoLimitado
				end

			--**************** FIM Atualização por Diego Zilioti em 20/03/2021 ****************
			--**************** Correção por Diego Zilioti em 10/07/2019 ****************
			--precisamos validar se a quantidade reservada no pedido é menor q a quantidade do requisito
			--isto porque se ela for menor a quantidade no pedido prevalece, já que podemos ter este cenário quando os produtos são diferentes
			if @v_qtdeReservadaPedidoItem < @p_qtdeAtendeRequisito
				begin
					select @p_qtdeAtendeRequisito = @v_qtdeReservadaPedidoItem
				end
			--************** Fim correção por Diego Zilioti em 10/07/2019 **************

			--********** Correção de erro feita por Diego em 11/08/2018
			--Se existir o produto do benefício no pedido aplica o desconto
			if ISNULL(@v_nmPedidoItem,0) <> 0
			
				begin
					-- *************************************************************
					-- AGORA VAMOS CALCULAR O DESCONTO DO BENEFICIO
					-- FORMA PREMIACAO (2 - PERCENTUAL / 3 - VALOR DESC / 4 - VALOR FINAL
					-- *************************************************************
					IF @p_idFormaPremiacaoPromocao = 2
						BEGIN
							-- ***************************************************************************
							-- COMENTARIO ANDERSON 02/10/2016
							-- A PROMOÇÃO NÃO SERÁ APLICADA EM CIMA DO PRATICADO E SIM EM CIMA DO LIQUIDO
							-- ISSO PORQUE O PRATICADO É TABELA - COMISSAO
							-- ***************************************************************************
							--SELECT @v_vlPraticadoTotalPedidoItem = @v_vlTabelaTotalPedidoItem - (@v_vlTabelaTotalPedidoItem *(@p_nmValorBeneficio / 100))

							-- ********************************************************************
							-- CORREÇÃO POR DIEGO ZILIOTI 06/05/2019
							-- ESTE DESCONTO PRECISA SER APLICADO NO VALOR UNITÁRIO DO ITEM E DEPOIS MULTIPLICADO PELA QUANTIDADE CONQUISTADA NA PROMOÇÃO
							-- A MANEIRA ANTERIOR ESTAVA APLICANDO O DESCONTO EM TODAS AS UNIDADES
							-- ********************************************************************
							SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * (@p_nmValorBeneficio / 100)
							SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)
						END
					
					
					IF @p_idFormaPremiacaoPromocao = 3
						BEGIN
							SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@p_nmValorBeneficio * @p_qtdeAtendeRequisito)
						END
												

					IF @p_idFormaPremiacaoPromocao = 4
						BEGIN
							-- **********************************************************************************
							-- Correção por Diego Zilioti em 19/11/2019
							-- Temos que aplicar o valor em todas as unidades do produto e não na quantidade conquistada
							-- ***********************************************************************************
							-- temos que validar se a quantidade conquistada é menor que a quantidade no pedido
							IF @p_qtdeAtendeRequisito < @v_qtdeReservadaPedidoItem
								BEGIN
--									SELECT @v_vlLiquidoTotalPedidoItem = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito) + (@v_vlLiquidoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
									SELECT @v_vlLiquidoTotalPedidoItem = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito) + (@v_vlPraticadoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
								END
							ELSE
								BEGIN
									SELECT @v_vlLiquidoTotalPedidoItem = @p_nmValorBeneficio * @p_qtdeAtendeRequisito
								END
						END
					
					-- ********************************************
					-- CORREÇÃO POR DIEGO ZILIOTI EM 08/06/18
					-- VAMOS VALIDAR SE O DESCONTO APLICADO NO ITEM DE FATO É UM DESCONTO
					-- EXISTEM CASOS ONDE APLICAR O VALOR FINAL PODE DEIXAR O VALOR LÍQUIDO MAIOR QUE O PRATICADO E ISTO NÃO PODE ACONTECER
					-- SE O VALOR PRATICADO FOR MENOR ELE DEVERÁ PREVALECER
					-- OUTRA VALIDAÇÃO NECESSÁRIA É SE O VALOR LÍQUIDO FICARÁ MENOR OU IGUAL A 0, NESTE CASO TAMBÉM DEVEMOS BARRAR POIS PODE SER UM ERRO DE CADASTRO QUE PRECISA SER VERIFICADO PELO CLIENTE
					-- ********************************************

					IF @v_vlLiquidoTotalPedidoItem < @v_vlPraticadoTotalPedidoItem AND @v_vlLiquidoTotalPedidoItem >= 0
						BEGIN
							EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  								@p_nmPedido,
								@p_cdPromocao,
								@p_cdTipoBeneficio,
								@p_nmValorBeneficio,
								@p_qtdeAtendeRequisito,
								@v_cdMaterial,
								@v_idAgrupamento,
								2, --DESCONTO
								@v_vlCreditoTotalPedidoItem,
								@v_vlTabelaTotalPedidoItem,
								@v_vlPraticadoTotalPedidoItem,
								@v_vlComissaoTotalPedidoItem,
								@v_vlLiquidoTotalPedidoItem,
								@v_nmPedidoItem,
								0,
								@v_vlLiquidoTotalPedidoItem,
								@p_cdPromocaoRequisitoFaixa,
								@p_cdRetorno OUTPUT,
								@p_dcErro OUTPUT,
								@p_qtdeLinhasAfetadas OUTPUT
						END		
					
					-- **********************************************************************
					-- VERIFICA SE É UM CONJUNTO
					-- EM CASO POSITIVO DEVEMOS GRAVAR OS FILHOS 
					-- **********************************************************************
					-- Correção por Diego Zilioti em 08/04/2020
					-- A promoção de desconto do tipo valor final não pode ser aplicada dentro para os kits em cada componente
					-- É preciso com base no novo valor final distribuir os valores de acordo com o % de cada
					-- vamos desmembrar o tratamento por tipo de promoção

					IF @v_idAgrupamento = 2 and @p_idFormaPremiacaoPromocao in (2,3)
						BEGIN
							
							-- OBTÉM O VALOR TOTAL DO KIT ANTES DO DESCONTO
							SELECT @v_valorTotalKit = A.VL_PRATICADO_TOTAL,
								   @v_valorRestaTotalKit = case @p_idFormaPremiacaoPromocao when 3 then @p_nmValorBeneficio * @p_qtdeAtendeRequisito else 0 end, -- essa variável só será utilizada no desconto por valor
								   @v_nmPedidoItemPaiKit = NM_PEDIDO_ITEM,
								   @v_qtdeReservadaPedidoItem = QT_RESERVADA
							  FROM TB_PEDIDO_ITEM A WITH(NOLOCK)
							 WHERE A.NM_PEDIDO = @p_nmPedido
							   AND A.CD_PRODUTO_VENDA = @p_cdTipoBeneficio
							   AND A.ID_PRODUTO_COBRADO = 1
							   and A.NM_PEDIDO_ITEM_CONJUNTO = 0

							-- OBTÉM O ITEM PAI DO KIT DA TB_PEDIDO_ITEM_PROMOCAO
							SELECT @v_nmPedidoItemPromocao = NM_PEDIDO_ITEM_PROMOCAO
							  FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK)
							 WHERE A.NM_PEDIDO = @p_nmPedido
							   AND A.CD_PRODUTO_VENDA = @p_cdTipoBeneficio
							   AND A.CD_PROMOCAO = @p_cdPromocao
							   AND A.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0

							-- ***************************************************************
							-- BUSCA AS INFORMAÇÕES DO FILHO NA TABELA TB_PEDIDO_ITEM
							-- ***************************************************************
					
							SET @Cursor_Componentes = CURSOR FAST_FORWARD
							FOR

									SELECT	A.QT_RESERVADA,
											A.VL_TABELA_TOTAL,
											A.VL_PRATICADO_TOTAL,
											A.NM_PEDIDO_ITEM,
											A.ID_AGRUPAMENTO,
											A.CD_MATERIAL,
											A.VL_CREDITO_TOTAL,
											B.VL_PERCENTUAL,
											A.VL_LIQUIDO_TOTAL,
											A.VL_COMISSAO_CN,
											A.VL_PRATICADO_TOTAL / @v_qtdeReservadaPedidoItem -- NO CASO DOS KITS O VALOR UNITÁRIO É REFERENTE A QUANTIDADE DO PAI E NÃO DOS FILHOS
									FROM TB_PEDIDO_ITEM A WITH(NOLOCK), TB_PRODUTO_VENDA_COMPONENTE B WITH(NOLOCK)
									WHERE A.NM_PEDIDO = @p_nmPedido
									AND A.CD_PRODUTO_VENDA = @p_cdTipoBeneficio
									AND A.ID_PRODUTO_COBRADO = 1
									and A.NM_PEDIDO_ITEM_CONJUNTO = @v_nmPedidoItemPaiKit
									AND A.CD_PRODUTO_VENDA = B.CD_PRODUTO_VENDA
									AND A.CD_MATERIAL = B.CD_MATERIAL

		
							OPEN @Cursor_Componentes
							FETCH NEXT FROM @Cursor_Componentes
							INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, 
							@v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem

							WHILE @@FETCH_STATUS = 0
								BEGIN
									
									-- *************************************************************
									-- AGORA VAMOS CALCULAR O DESCONTO DO BENEFICIO
									-- @p_idFormaPremiacaoPromocao (2 - PERCENTUAL / 3 - VALOR DESC) 
									-- *************************************************************
									IF @p_idFormaPremiacaoPromocao = 2
										BEGIN
											--SELECT @v_vlPraticadoTotalComponente = @v_vlTabelaTotalComponente - (@v_vlTabelaTotalComponente *(@p_nmValorBeneficio / 100))
											-- ********************************************************************
											-- CORREÇÃO POR DIEGO ZILIOTI 06/05/2019
											-- ESTE DESCONTO PRECISA SER APLICADO NO VALOR UNITÁRIO DO ITEM E DEPOIS MULTIPLICADO PELA QUANTIDADE CONQUISTADA NA PROMOÇÃO
											-- A MANEIRA ANTERIOR ESTAVA APLICANDO O DESCONTO EM TODAS AS UNIDADES
											-- ********************************************************************
											SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * (@p_nmValorBeneficio / 100)
											SELECT @v_vlLiquidoTotalComponente = @v_vlPraticadoTotalComponente - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)

										END
										
					
									IF @p_idFormaPremiacaoPromocao = 3
										BEGIN
											-- ***************************************************************************
											-- CORREÇÃO POR DIEGO ZILIOTI EM 08/04/2020
											-- O DESCONTO NO VALOR FINAL PRECISA SER CONVERTIDO PARA DESCONTO PERCENTUAL E APLICADO PROPORCIONALMENTE EM CADA ITEM
											-- ***************************************************************************
											-- BUSCA O VALOR PROPORCIONAL DO DESCONTO
											SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * ((@p_nmValorBeneficio * @p_qtdeAtendeRequisito) / @v_valorTotalKit)
											-- VAMOS FAZER UM CONTROLE DO SALDO DO DESCONTO PARA OS CASOS DE ARREDONDAMENTO NO CÁLCULO
											SELECT @v_valorRestaTotalkit -= @v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito
											SELECT @v_vlLiquidoTotalComponente = @v_vlPraticadoTotalComponente - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)
										END
										
									-- ********************************************
									-- CORREÇÃO POR DIEGO ZILIOTI EM 08/06/18
									-- VAMOS VALIDAR SE O DESCONTO APLICADO NO ITEM DE FATO É UM DESCONTO
									-- EXISTEM CASOS ONDE APLICAR O VALOR FINAL PODE DEIXAR O VALOR LÍQUIDO MAIOR QUE O PRATICADO E ISTO NÃO PODE ACONTECER
									-- SE O VALOR PRATICADO FOR MENOR ELE DEVERÁ PREVALECER
									-- OUTRA VALIDAÇÃO NECESSÁRIA É SE O VALOR LÍQUIDO FICARÁ MENOR OU IGUAL A 0, NESTE CASO TAMBÉM DEVEMOS BARRAR POIS PODE SER UM ERRO DE CADASTRO QUE PRECISA SER VERIFICADO PELO CLIENTE
									-- ********************************************

									IF @v_vlLiquidoTotalComponente < @v_vlPraticadoTotalComponente AND @v_vlLiquidoTotalComponente >= 0
										BEGIN
											EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  												@p_nmPedido,
												@p_cdPromocao,
												@p_cdTipoBeneficio,
												@p_qtdeAtendeRequisito,
												@p_qtdeAtendeRequisito,
												@v_cdMaterialComponente,
												@v_idAgrupamentoComponente,
												2, --DESCONTO
												@v_vlCreditoTotalComponente,
												@v_vlTabelaTotalComponente,
												@v_vlPraticadoTotalComponente,
												@v_vlComissaoTotalComponente,
												@v_vlLiquidoTotalComponente,
												@v_nmPedidoItemComponente,
												@v_nmPedidoItemPromocao,
												@v_vlLiquidoTotalComponente,
												@p_cdPromocaoRequisitoFaixa,
												@p_cdRetorno OUTPUT,
												@p_dcErro OUTPUT,
												@p_qtdeLinhasAfetadas OUTPUT
										END	
							
							
									FETCH NEXT FROM @Cursor_Componentes
									INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, @v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem
									
								END -- fecha o while do cursor de componentes

							-- vamos validar se sobrou valor para dar o desconto ainda
							if @v_valorRestaTotalKit <> 0
								begin
									select @v_valorRestaTotalKit = @v_valorRestaTotalKit * @p_qtdeAtendeRequisito

									--neste caso vamos buscar o primeiro item do kit com desconto aplicado e somar o valor que faltou NO ITEM DE MAIOR VALOR
									UPDATE TB_PEDIDO_ITEM_PROMOCAO SET VL_LIQUIDO_TOTAL = VL_LIQUIDO_TOTAL + @v_valorRestaTotalKit
									 WHERE NM_PEDIDO = @p_nmPedido
									   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
									   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = (SELECT TOP 1 NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
																			   WHERE NM_PEDIDO = @p_nmPedido
																			     AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
																				 AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO <> 0
																				 AND VL_LIQUIDO_TOTAL > @v_valorRestaTotalKit
																				ORDER BY VL_LIQUIDO_TOTAL DESC)
									                                           
								end

							-- PARA FINALIZAR PRECISAMOS AGORA CONSOLIDAR O VALOR TOTAL DO DESCONTO NO ITEM PAI DO KIT
							SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
							  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @p_nmPedido
							   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
							   AND CD_PROMOCAO = @p_cdPromocao
							   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0

							IF @v_valorTotalKit >= 0
								BEGIN
									-- ATUALIZA O ITEM PAI
									UPDATE TB_PEDIDO_ITEM SET VL_LIQUIDO_TOTAL = @v_valorTotalKit
									 WHERE NM_PEDIDO = @p_nmPedido
									   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
									   AND NM_PEDIDO_ITEM = @v_nmPedidoItemPaiKit
								END

						END -- fecha if dos componentes

					-- TRATAMENTO PARA PROMOÇÕES QUE ALTERAM O VALOR FINAL
					IF @v_idAgrupamento = 2 and @p_idFormaPremiacaoPromocao = 4
						BEGIN
							-- OBTÉM O VALOR UNITARIO DO KIT ANTES DO DESCONTO
							SELECT @v_valorTotalKit = A.VL_PRATICADO_TOTAL / A.QT_RESERVADA,
								   @v_valorRestaTotalKit = case @p_idFormaPremiacaoPromocao when 3 then @p_nmValorBeneficio else 0 end, -- essa variável só será utilizada no desconto por valor
								   @v_nmPedidoItemPaiKit = NM_PEDIDO_ITEM
							  FROM TB_PEDIDO_ITEM A WITH(NOLOCK)
							 WHERE A.NM_PEDIDO = @p_nmPedido
							   AND A.CD_PRODUTO_VENDA = @p_cdTipoBeneficio
							   AND A.ID_PRODUTO_COBRADO = 1
							   and A.NM_PEDIDO_ITEM_CONJUNTO = 0

							-- OBTÉM O ITEM PAI DO KIT DA TB_PEDIDO_ITEM_PROMOCAO
							SELECT @v_nmPedidoItemPromocao = NM_PEDIDO_ITEM_PROMOCAO,
								   @v_valorPagarTotalKit = VL_LIQUIDO_TOTAL
							  FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK)
							 WHERE A.NM_PEDIDO = @p_nmPedido
							   AND A.CD_PRODUTO_VENDA = @p_cdTipoBeneficio
							   AND A.CD_PROMOCAO = @p_cdPromocao
							   AND A.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0

							-- ***************************************************************
							-- BUSCA AS INFORMAÇÕES DO FILHO NA TABELA TB_PEDIDO_ITEM
							-- ***************************************************************
					
							SET @Cursor_Componentes = CURSOR FAST_FORWARD
							FOR

									SELECT	A.QT_RESERVADA,
											A.VL_TABELA_TOTAL,
											A.VL_PRATICADO_TOTAL,
											A.NM_PEDIDO_ITEM,
											A.ID_AGRUPAMENTO,
											A.CD_MATERIAL,
											A.VL_CREDITO_TOTAL,
											B.VL_PERCENTUAL / 100,
											A.VL_LIQUIDO_TOTAL,
											A.VL_COMISSAO_CN,
											A.VL_PRATICADO_TOTAL / A.QT_RESERVADA,
											A.VL_LIQUIDO_TOTAL / A.QT_RESERVADA
									FROM TB_PEDIDO_ITEM A WITH(NOLOCK), TB_PRODUTO_VENDA_COMPONENTE B WITH(NOLOCK)
									WHERE A.NM_PEDIDO = @p_nmPedido
									AND A.CD_PRODUTO_VENDA = @p_cdTipoBeneficio
									AND A.ID_PRODUTO_COBRADO = 1
									and A.NM_PEDIDO_ITEM_CONJUNTO = @v_nmPedidoItemPaiKit
									AND A.CD_PRODUTO_VENDA = B.CD_PRODUTO_VENDA
									AND A.CD_MATERIAL = B.CD_MATERIAL

		
							OPEN @Cursor_Componentes
							FETCH NEXT FROM @Cursor_Componentes
							INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, 
							@v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem

							WHILE @@FETCH_STATUS = 0
								BEGIN
									-- busca o valor proporcional para o componente do novo preço final
									select @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente)

									-- temos que validar se a quantidade conquistada é menor que a quantidade no pedido
									IF @p_qtdeAtendeRequisito < @v_qtdeReservadaPedidoItem
										BEGIN
--											SELECT @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente) + (@v_vlLiquidoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito) * @v_percComponente)
											SELECT @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente) + (@v_vlPraticadoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
										END
									ELSE
										BEGIN
											select @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente)
										END

									IF @v_vlLiquidoTotalComponente < @v_vlPraticadoTotalComponente AND @v_vlLiquidoTotalComponente >= 0
										BEGIN
											EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  												@p_nmPedido,
												@p_cdPromocao,
												@p_cdTipoBeneficio,
												@p_qtdeAtendeRequisito,
												@p_qtdeAtendeRequisito,
												@v_cdMaterialComponente,
												@v_idAgrupamentoComponente,
												2, --DESCONTO
												@v_vlCreditoTotalComponente,
												@v_vlTabelaTotalComponente,
												@v_vlPraticadoTotalComponente,
												@v_vlComissaoTotalComponente,
												@v_vlLiquidoTotalComponente,
												@v_nmPedidoItemComponente,
												@v_nmPedidoItemPromocao,
												@v_vlLiquidoTotalComponente,
												@p_cdPromocaoRequisitoFaixa,
												@p_cdRetorno OUTPUT,
												@p_dcErro OUTPUT,
												@p_qtdeLinhasAfetadas OUTPUT
										END	

									FETCH NEXT FROM @Cursor_Componentes
									INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, @v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem

								END

								--aqui, vamos verificar os valores, (vl_liquido_total x vl_pagar_total) antes de finalizar
                                SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
                                  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
                                 WHERE NM_PEDIDO = @p_nmPedido
                                   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
                                   AND CD_PROMOCAO = @p_cdPromocao
                                   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0

                                SELECT @v_valorRestaTotalKit = @v_valorPagarTotalKit - @v_valorTotalKit

                               if @v_valorRestaTotalKit <> 0
                                   begin
                                        --neste caso vamos buscar o primeiro item do kit com desconto aplicado e somar o valor que faltou NO ITEM DE MAIOR VALOR
                                        UPDATE TB_PEDIDO_ITEM_PROMOCAO SET VL_LIQUIDO_TOTAL = VL_LIQUIDO_TOTAL + @v_valorRestaTotalKit
                                            WHERE NM_PEDIDO = @p_nmPedido
                                            AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
                                            AND NM_PEDIDO_ITEM_PROMOCAO = (SELECT TOP 1 NM_PEDIDO_ITEM_PROMOCAO FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
                                                                                    WHERE NM_PEDIDO = @p_nmPedido
                                                                                        AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
                                                                                        AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0
                                                                                        AND VL_LIQUIDO_TOTAL > @v_valorRestaTotalKit
                                                                                    ORDER BY VL_LIQUIDO_TOTAL DESC)
                                    end

								-- PARA FINALIZAR PRECISAMOS AGORA CONSOLIDAR O VALOR TOTAL DO DESCONTO NO ITEM PAI DO KIT
								SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
								  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
								 WHERE NM_PEDIDO = @p_nmPedido
								   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
								   AND CD_PROMOCAO = @p_cdPromocao
								   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0

								IF @v_valorTotalKit >= 0
									BEGIN
										-- ATUALIZA O ITEM PAI
										UPDATE TB_PEDIDO_ITEM SET VL_LIQUIDO_TOTAL = @v_valorTotalKit
										 WHERE NM_PEDIDO = @p_nmPedido
										   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
										   AND NM_PEDIDO_ITEM = @v_nmPedidoItemPaiKit
									END
						END
				end			
		
		END
		
	IF @p_idTipoBeneficio = 2 -- ESTRUTURA DE PRODUTO
		BEGIN

			--**************** Atualização por Diego Zilioti em 20/03/2021 ****************
			-- vamos validar inicialmente se existe cota a aplicar na promoção, se for maior que 0 ela será avaliada
			if @v_qtdeCotaPromocao > 0
				begin
					-- vamos validar se a qtde conquistada no requisito é maior que a cota, se for a qtde da cota prevalece
					if @p_qtdeAtendeRequisito > @v_qtdeCotaPromocao
						begin
							select @p_qtdeAtendeRequisito = @v_qtdeCotaPromocao
						end
				end
			-- após validar a cota vamos multiplicar a qtde do benefício pela qtde conquistada no requisito, se ela for 0 o desconto será aplicado em todas as unidades
			-- caso não exista limitação por produto
			if @v_qtdeDescontar > 0 and @v_idLimitaAplicacao <> 1
				begin
					select @p_qtdeAtendeRequisito = @p_qtdeAtendeRequisito * @v_qtdeDescontar
				end
			-- se existir a limitação por produto vamos aplicar somente a quantidade limitada
			if @v_qtdeDescontar > 0 and @v_idLimitaAplicacao = 1
				begin
					select @p_qtdeAtendeRequisito = @p_qtdeAtendeRequisito * @v_qtdeDescontoLimitado
				end

			SELECT @v_qtdeAtendeRequisitoOriginal = @p_qtdeAtendeRequisito
			SELECT @v_qtdeDescontarRestante = @p_qtdeAtendeRequisito * @v_qtdeDescontar
			--**************** FIM Atualização por Diego Zilioti em 20/03/2021 ****************
			
			-- ***************************************************************
			-- BUSCA AS INFORMAÇÕES DO BENEFICIO NA TABELA TB_PEDIDO_ITEM
			-- POIS PARA GANHAR O DESCONTO PRECISA TER COMPRADO O BENEFICIO
			-- ABRE O CURSOR
			-- ***************************************************************
			
			SET @Cursor_Beneficios = CURSOR FAST_FORWARD
			FOR

				SELECT  CD_PRODUTO_VENDA,
						QT_RESERVADA,
						VL_TABELA_TOTAL,
						VL_PRATICADO_TOTAL,
						NM_PEDIDO_ITEM,
						ID_AGRUPAMENTO,
						CD_MATERIAL,
						VL_CREDITO_TOTAL,
						CD_PRODUTO_VENDA,
						VL_LIQUIDO_TOTAL,
						VL_COMISSAO_CN,
						VL_PRATICADO_TOTAL / QT_RESERVADA,
						VL_LIQUIDO_TOTAL / QT_RESERVADA
				FROM TB_PEDIDO_ITEM WITH(NOLOCK)
				WHERE NM_PEDIDO = @p_nmPedido
				--AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
				AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @p_cdTipoBeneficio) = 1						
				AND ID_PRODUTO_COBRADO = 1
				and NM_PEDIDO_ITEM_CONJUNTO = 0
				order by 12 -- ordenação pelo menor valor, deixaremos por padrão
						
			OPEN @Cursor_Beneficios
			FETCH NEXT FROM @Cursor_Beneficios
			INTO @v_codigoProdutoVenda, @v_qtdeReservadaPedidoItem,  @v_vlTabelaTotalPedidoItem, @v_vlPraticadoTotalPedidoItem, @v_nmPedidoItem, @v_idAgrupamento,
				 @v_cdMaterial, @v_vlCreditoTotalPedidoItem, @v_cdProdutoVenda, @v_vlLiquidoTotalPedidoItem, @v_vlComissaoTotalPedidoItem, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem

			if @v_qtdeDescontarRestante = 0
				begin
					WHILE @@FETCH_STATUS = 0
						BEGIN
							--**************** Correção por Diego Zilioti em 10/07/2019 ****************
							--precisamos validar se a quantidade reservada no pedido é menor q a quantidade do requisito
							--isto porque se ela for menor a quantidade no pedido prevalece, já que podemos ter este cenário quando os produtos são diferentes
							if @v_qtdeReservadaPedidoItem < @v_qtdeAtendeRequisitoOriginal
								begin
									select @p_qtdeAtendeRequisito = @v_qtdeReservadaPedidoItem
								end
							--************** Fim correção por Diego Zilioti em 10/07/2019 **************
							-- *************************************************************
							-- AGORA VAMOS CALCULAR O DESCONTO DO BENEFICIO
							-- FORMA PREMIACAO (1 - PERCENTUAL / 2 - VALOR DESC / 4 - VALOR FINAL
							-- *************************************************************
							IF @p_idFormaPremiacaoPromocao = 2
								BEGIN
							
									--SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@v_vlPraticadoTotalPedidoItem *(@p_nmValorBeneficio / 100))

									-- ********************************************************************
									-- CORREÇÃO POR DIEGO ZILIOTI 06/05/2019
									-- ESTE DESCONTO PRECISA SER APLICADO NO VALOR UNITÁRIO DO ITEM E DEPOIS MULTIPLICADO PELA QUANTIDADE CONQUISTADA NA PROMOÇÃO
									-- A MANEIRA ANTERIOR ESTAVA APLICANDO O DESCONTO EM TODAS AS UNIDADES
									-- ********************************************************************
									SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * (@p_nmValorBeneficio / 100)
									SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)
								END

							IF @p_idFormaPremiacaoPromocao = 3
								BEGIN
									SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@p_nmValorBeneficio * @p_qtdeAtendeRequisito)
									--SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@p_nmValorBeneficio * @v_qtdeReservadaPedidoItem)
								END

							IF @p_idFormaPremiacaoPromocao = 4
								BEGIN
									-- **********************************************************************************
									-- Correção por Diego Zilioti em 19/11/2019
									-- Temos que aplicar o valor em todas as unidades do produto que foram conquistadas
									-- ***********************************************************************************
									-- temos que validar se a quantidade conquistada é menor que a quantidade no pedido
									IF @p_qtdeAtendeRequisito < @v_qtdeReservadaPedidoItem
										BEGIN
--											SELECT @v_vlLiquidoTotalPedidoItem = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito) + (@v_vlLiquidoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
											SELECT @v_vlLiquidoTotalPedidoItem = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito) + (@v_vlPraticadoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
										END
									ELSE
										BEGIN
											SELECT @v_vlLiquidoTotalPedidoItem = @p_nmValorBeneficio * @p_qtdeAtendeRequisito
										END
								END
								
							-- ********************************************
							-- CORREÇÃO POR DIEGO ZILIOTI EM 08/06/18
							-- VAMOS VALIDAR SE O DESCONTO APLICADO NO ITEM DE FATO É UM DESCONTO
							-- EXISTEM CASOS ONDE APLICAR O VALOR FINAL PODE DEIXAR O VALOR LÍQUIDO MAIOR QUE O PRATICADO E ISTO NÃO PODE ACONTECER
							-- SE O VALOR PRATICADO FOR MENOR ELE DEVERÁ PREVALECER
							-- OUTRA VALIDAÇÃO NECESSÁRIA É SE O VALOR LÍQUIDO FICARÁ MENOR OU IGUAL A 0, NESTE CASO TAMBÉM DEVEMOS BARRAR POIS PODE SER UM ERRO DE CADASTRO QUE PRECISA SER VERIFICADO PELO CLIENTE
							-- ********************************************
							IF @v_vlLiquidoTotalPedidoItem < @v_vlPraticadoTotalPedidoItem AND @v_vlLiquidoTotalPedidoItem >= 0
								BEGIN
									EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  											@p_nmPedido,
											@p_cdPromocao,
											@v_codigoProdutoVenda,
											@p_nmValorBeneficio,
											@p_qtdeAtendeRequisito,
											@v_cdMaterial,
											@v_idAgrupamento,
											2, --DESCONTO
											@v_vlCreditoTotalPedidoItem,
											@v_vlTabelaTotalPedidoItem,
											@v_vlPraticadoTotalPedidoItem,
											@v_vlComissaoTotalPedidoItem,
											@v_vlLiquidoTotalPedidoItem,
											@v_nmPedidoItem,
											0,
											@v_vlLiquidoTotalPedidoItem,
											@p_cdPromocaoRequisitoFaixa,
											@p_cdRetorno OUTPUT,
											@p_dcErro OUTPUT,
											@p_qtdeLinhasAfetadas OUTPUT
								END
								

							-- **********************************************************************
							-- VERIFICA SE É UM CONJUNTO
							-- EM CASO POSITIVO DEVEMOS GRAVAR OS FILHOS 
							-- **********************************************************************
							-- Correção por Diego Zilioti em 08/04/2020
							-- A promoção de desconto do tipo valor final não pode ser aplicada dentro para os kits em cada componente
							-- É preciso com base no novo valor final distribuir os valores de acordo com o % de cada
							-- vamos desmembrar o tratamento por tipo de promoção

							IF @v_idAgrupamento = 2 and @p_idFormaPremiacaoPromocao in (2,3)
								BEGIN
							
									-- OBTÉM O VALOR TOTAL DO KIT ANTES DO DESCONTO
									SELECT @v_valorTotalKit = A.VL_PRATICADO_TOTAL,
										   @v_valorRestaTotalKit = case @p_idFormaPremiacaoPromocao when 3 then @p_nmValorBeneficio * @p_qtdeAtendeRequisito else 0 end, -- essa variável só será utilizada no desconto por valor
										   @v_nmPedidoItemPaiKit = NM_PEDIDO_ITEM,
										   @v_qtdeReservadaPedidoItem = QT_RESERVADA
									  FROM TB_PEDIDO_ITEM A WITH(NOLOCK)
									 WHERE A.NM_PEDIDO = @p_nmPedido
									   AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
									   AND A.ID_PRODUTO_COBRADO = 1
									   and A.NM_PEDIDO_ITEM_CONJUNTO = 0

									-- OBTÉM O ITEM PAI DO KIT DA TB_PEDIDO_ITEM_PROMOCAO
									SELECT @v_nmPedidoItemPromocao = NM_PEDIDO_ITEM_PROMOCAO
									  FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK)
									 WHERE A.NM_PEDIDO = @p_nmPedido
									   AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
									   AND A.CD_PROMOCAO = @p_cdPromocao
									   AND A.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0

									-- ***************************************************************
									-- BUSCA AS INFORMAÇÕES DO FILHO NA TABELA TB_PEDIDO_ITEM
									-- ***************************************************************
					
									SET @Cursor_Componentes = CURSOR FAST_FORWARD
									FOR

											SELECT	A.QT_RESERVADA,
													A.VL_TABELA_TOTAL,
													A.VL_PRATICADO_TOTAL,
													A.NM_PEDIDO_ITEM,
													A.ID_AGRUPAMENTO,
													A.CD_MATERIAL,
													A.VL_CREDITO_TOTAL,
													B.VL_PERCENTUAL,
													A.VL_LIQUIDO_TOTAL,
													A.VL_COMISSAO_CN,
													A.VL_PRATICADO_TOTAL / @v_qtdeReservadaPedidoItem -- NO CASO DOS KITS O VALOR UNITÁRIO É REFERENTE A QUANTIDADE DO PAI E NÃO DOS FILHOS
											FROM TB_PEDIDO_ITEM A WITH(NOLOCK), TB_PRODUTO_VENDA_COMPONENTE B WITH(NOLOCK)
											WHERE A.NM_PEDIDO = @p_nmPedido
											AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
											AND A.ID_PRODUTO_COBRADO = 1
											and A.NM_PEDIDO_ITEM_CONJUNTO = @v_nmPedidoItemPaiKit
											AND A.CD_PRODUTO_VENDA = B.CD_PRODUTO_VENDA
											AND A.CD_MATERIAL = B.CD_MATERIAL

		
									OPEN @Cursor_Componentes
									FETCH NEXT FROM @Cursor_Componentes
									INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, 
									@v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem

									WHILE @@FETCH_STATUS = 0
										BEGIN
									
											-- *************************************************************
											-- AGORA VAMOS CALCULAR O DESCONTO DO BENEFICIO
											-- @p_idFormaPremiacaoPromocao (2 - PERCENTUAL / 3 - VALOR DESC) 
											-- *************************************************************
											IF @p_idFormaPremiacaoPromocao = 2
												BEGIN
													--SELECT @v_vlPraticadoTotalComponente = @v_vlTabelaTotalComponente - (@v_vlTabelaTotalComponente *(@p_nmValorBeneficio / 100))
													-- ********************************************************************
													-- CORREÇÃO POR DIEGO ZILIOTI 06/05/2019
													-- ESTE DESCONTO PRECISA SER APLICADO NO VALOR UNITÁRIO DO ITEM E DEPOIS MULTIPLICADO PELA QUANTIDADE CONQUISTADA NA PROMOÇÃO
													-- A MANEIRA ANTERIOR ESTAVA APLICANDO O DESCONTO EM TODAS AS UNIDADES
													-- ********************************************************************
													SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * (@p_nmValorBeneficio / 100)
													SELECT @v_vlLiquidoTotalComponente = @v_vlPraticadoTotalComponente - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)

												END
										
					
											IF @p_idFormaPremiacaoPromocao = 3
												BEGIN
													-- ***************************************************************************
													-- CORREÇÃO POR DIEGO ZILIOTI EM 08/04/2020
													-- O DESCONTO NO VALOR FINAL PRECISA SER CONVERTIDO PARA DESCONTO PERCENTUAL E APLICADO PROPORCIONALMENTE EM CADA ITEM
													-- ***************************************************************************
													-- BUSCA O VALOR PROPORCIONAL DO DESCONTO
													SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * ((@p_nmValorBeneficio * @p_qtdeAtendeRequisito) / @v_valorTotalKit)
													-- VAMOS FAZER UM CONTROLE DO SALDO DO DESCONTO PARA OS CASOS DE ARREDONDAMENTO NO CÁLCULO
													SELECT @v_valorRestaTotalkit -= @v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito
													SELECT @v_vlLiquidoTotalComponente = @v_vlPraticadoTotalComponente - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)
												END
										
											-- ********************************************
											-- CORREÇÃO POR DIEGO ZILIOTI EM 08/06/18
											-- VAMOS VALIDAR SE O DESCONTO APLICADO NO ITEM DE FATO É UM DESCONTO
											-- EXISTEM CASOS ONDE APLICAR O VALOR FINAL PODE DEIXAR O VALOR LÍQUIDO MAIOR QUE O PRATICADO E ISTO NÃO PODE ACONTECER
											-- SE O VALOR PRATICADO FOR MENOR ELE DEVERÁ PREVALECER
											-- OUTRA VALIDAÇÃO NECESSÁRIA É SE O VALOR LÍQUIDO FICARÁ MENOR OU IGUAL A 0, NESTE CASO TAMBÉM DEVEMOS BARRAR POIS PODE SER UM ERRO DE CADASTRO QUE PRECISA SER VERIFICADO PELO CLIENTE
											-- ********************************************

											IF @v_vlLiquidoTotalComponente < @v_vlPraticadoTotalComponente AND @v_vlLiquidoTotalComponente >= 0
												BEGIN
													EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  														@p_nmPedido,
														@p_cdPromocao,
														@v_codigoProdutoVenda,
														@p_qtdeAtendeRequisito,
														@p_qtdeAtendeRequisito,
														@v_cdMaterialComponente,
														@v_idAgrupamentoComponente,
														2, --DESCONTO
														@v_vlCreditoTotalComponente,
														@v_vlTabelaTotalComponente,
														@v_vlPraticadoTotalComponente,
														@v_vlComissaoTotalComponente,
														@v_vlLiquidoTotalComponente,
														@v_nmPedidoItemComponente,
														@v_nmPedidoItemPromocao,
														@v_vlLiquidoTotalComponente,
														@p_cdPromocaoRequisitoFaixa,
														@p_cdRetorno OUTPUT,
														@p_dcErro OUTPUT,
														@p_qtdeLinhasAfetadas OUTPUT
												END	
							
							
											FETCH NEXT FROM @Cursor_Componentes
											INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, @v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem
									
										END -- fecha o while do cursor de componentes

									-- vamos validar se sobrou valor para dar o desconto ainda
									if @v_valorRestaTotalKit <> 0
										begin
											select @v_valorRestaTotalKit = @v_valorRestaTotalKit * @p_qtdeAtendeRequisito

											--neste caso vamos buscar o primeiro item do kit com desconto aplicado e somar o valor que faltou NO ITEM DE MAIOR VALOR
											UPDATE TB_PEDIDO_ITEM_PROMOCAO SET VL_LIQUIDO_TOTAL = VL_LIQUIDO_TOTAL + @v_valorRestaTotalKit
											 WHERE NM_PEDIDO = @p_nmPedido
											   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
											   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = (SELECT TOP 1 NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
																					   WHERE NM_PEDIDO = @p_nmPedido
																						 AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
																						 AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO <> 0
																						 AND VL_LIQUIDO_TOTAL > @v_valorRestaTotalKit
																						ORDER BY VL_LIQUIDO_TOTAL DESC)
									                                           
										end

									-- PARA FINALIZAR PRECISAMOS AGORA CONSOLIDAR O VALOR TOTAL DO DESCONTO NO ITEM PAI DO KIT
									SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
									  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
									 WHERE NM_PEDIDO = @p_nmPedido
									   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
									   AND CD_PROMOCAO = @p_cdPromocao
									   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0

									IF @v_valorTotalKit >= 0
										BEGIN
											-- ATUALIZA O ITEM PAI
											UPDATE TB_PEDIDO_ITEM SET VL_LIQUIDO_TOTAL = @v_valorTotalKit
											 WHERE NM_PEDIDO = @p_nmPedido
											   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
											   AND NM_PEDIDO_ITEM = @v_nmPedidoItemPaiKit
										END

								END -- fecha if dos componentes

							-- TRATAMENTO PARA PROMOÇÕES QUE ALTERAM O VALOR FINAL
							IF @v_idAgrupamento = 2 and @p_idFormaPremiacaoPromocao = 4
								BEGIN
									-- OBTÉM O VALOR UNITARIO DO KIT ANTES DO DESCONTO
									SELECT @v_valorTotalKit = A.VL_PRATICADO_TOTAL / A.QT_RESERVADA,
										   @v_valorRestaTotalKit = case @p_idFormaPremiacaoPromocao when 3 then @p_nmValorBeneficio else 0 end, -- essa variável só será utilizada no desconto por valor
										   @v_nmPedidoItemPaiKit = NM_PEDIDO_ITEM
									  FROM TB_PEDIDO_ITEM A WITH(NOLOCK)
									 WHERE A.NM_PEDIDO = @p_nmPedido
									   AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
									   AND A.ID_PRODUTO_COBRADO = 1
									   and A.NM_PEDIDO_ITEM_CONJUNTO = 0

									-- OBTÉM O ITEM PAI DO KIT DA TB_PEDIDO_ITEM_PROMOCAO
									SELECT @v_nmPedidoItemPromocao = NM_PEDIDO_ITEM_PROMOCAO
									  FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK)
									 WHERE A.NM_PEDIDO = @p_nmPedido
									   AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
									   AND A.CD_PROMOCAO = @p_cdPromocao
									   AND A.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0

									-- ***************************************************************
									-- BUSCA AS INFORMAÇÕES DO FILHO NA TABELA TB_PEDIDO_ITEM
									-- ***************************************************************
					
									SET @Cursor_Componentes = CURSOR FAST_FORWARD
									FOR

											SELECT	A.QT_RESERVADA,
													A.VL_TABELA_TOTAL,
													A.VL_PRATICADO_TOTAL,
													A.NM_PEDIDO_ITEM,
													A.ID_AGRUPAMENTO,
													A.CD_MATERIAL,
													A.VL_CREDITO_TOTAL,
													B.VL_PERCENTUAL / 100,
													A.VL_LIQUIDO_TOTAL,
													A.VL_COMISSAO_CN,
													A.VL_PRATICADO_TOTAL / A.QT_RESERVADA,
													A.VL_LIQUIDO_TOTAL / A.QT_RESERVADA
											FROM TB_PEDIDO_ITEM A WITH(NOLOCK), TB_PRODUTO_VENDA_COMPONENTE B WITH(NOLOCK)
											WHERE A.NM_PEDIDO = @p_nmPedido
											AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
											AND A.ID_PRODUTO_COBRADO = 1
											and A.NM_PEDIDO_ITEM_CONJUNTO = @v_nmPedidoItemPaiKit
											AND A.CD_PRODUTO_VENDA = B.CD_PRODUTO_VENDA
											AND A.CD_MATERIAL = B.CD_MATERIAL

		
									OPEN @Cursor_Componentes
									FETCH NEXT FROM @Cursor_Componentes
									INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, 
									@v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem

									WHILE @@FETCH_STATUS = 0
										BEGIN
											-- busca o valor proporcional para o componente do novo preço final
											--select @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente)

											-- temos que validar se a quantidade conquistada é menor que a quantidade no pedido
											IF @p_qtdeAtendeRequisito < @v_qtdeReservadaPedidoItem
												BEGIN
												--****teste*****
--													SELECT @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente) + (@v_vlLiquidoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito) * @v_percComponente)
													SELECT @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente) + (@v_vlPraticadoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
												END
											ELSE
												BEGIN
													select @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente)
												END

											IF @v_vlLiquidoTotalComponente < @v_vlPraticadoTotalComponente AND @v_vlLiquidoTotalComponente >= 0
												BEGIN
													EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  														@p_nmPedido,
														@p_cdPromocao,
														@v_codigoProdutoVenda,
														@p_qtdeAtendeRequisito,
														@p_qtdeAtendeRequisito,
														@v_cdMaterialComponente,
														@v_idAgrupamentoComponente,
														2, --DESCONTO
														@v_vlCreditoTotalComponente,
														@v_vlTabelaTotalComponente,
														@v_vlPraticadoTotalComponente,
														@v_vlComissaoTotalComponente,
														@v_vlLiquidoTotalComponente,
														@v_nmPedidoItemComponente,
														@v_nmPedidoItemPromocao,
														@v_vlLiquidoTotalComponente,
														@p_cdPromocaoRequisitoFaixa,
														@p_cdRetorno OUTPUT,
														@p_dcErro OUTPUT,
														@p_qtdeLinhasAfetadas OUTPUT
												END	

											FETCH NEXT FROM @Cursor_Componentes
											INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, @v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem

										END

										--aqui, vamos verificar os valores, (vl_liquido_total x vl_pagar_total) antes de finalizar
										SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
										  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
										 WHERE NM_PEDIDO = @p_nmPedido
										   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
										   AND CD_PROMOCAO = @p_cdPromocao
										   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0

										SELECT @v_valorRestaTotalKit = @v_valorPagarTotalKit - @v_valorTotalKit

									   if @v_valorRestaTotalKit <> 0
										   begin
												--neste caso vamos buscar o primeiro item do kit com desconto aplicado e somar o valor que faltou NO ITEM DE MAIOR VALOR
												UPDATE TB_PEDIDO_ITEM_PROMOCAO SET VL_LIQUIDO_TOTAL = VL_LIQUIDO_TOTAL + @v_valorRestaTotalKit
													WHERE NM_PEDIDO = @p_nmPedido
													AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
													AND NM_PEDIDO_ITEM_PROMOCAO = (SELECT TOP 1 NM_PEDIDO_ITEM_PROMOCAO FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
																							WHERE NM_PEDIDO = @p_nmPedido
																								AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
																								AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0
																								AND VL_LIQUIDO_TOTAL > @v_valorRestaTotalKit
																							ORDER BY VL_LIQUIDO_TOTAL DESC)
											end

										-- PARA FINALIZAR PRECISAMOS AGORA CONSOLIDAR O VALOR TOTAL DO DESCONTO NO ITEM PAI DO KIT
										SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
										  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
										 WHERE NM_PEDIDO = @p_nmPedido
										   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
										   AND CD_PROMOCAO = @p_cdPromocao
										   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0
								   
										IF @v_valorTotalKit >= 0
											BEGIN
												-- ATUALIZA O ITEM PAI
												UPDATE TB_PEDIDO_ITEM SET VL_LIQUIDO_TOTAL = @v_valorTotalKit
												 WHERE NM_PEDIDO = @p_nmPedido
												   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
												   AND NM_PEDIDO_ITEM = @v_nmPedidoItemPaiKit
											END
								END																		

							FETCH NEXT FROM @Cursor_Beneficios
							INTO @v_codigoProdutoVenda, @v_qtdeReservadaPedidoItem,  @v_vlTabelaTotalPedidoItem, @v_vlPraticadoTotalPedidoItem, @v_nmPedidoItem, @v_idAgrupamento,
								 @v_cdMaterial, @v_vlCreditoTotalPedidoItem, @v_cdProdutoVenda, @v_vlLiquidoTotalPedidoItem, @v_vlComissaoTotalPedidoItem, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem


						END -- FIM DO WHILE DO CURSOR
				end
			else
				begin
					WHILE @@FETCH_STATUS = 0
						BEGIN
							if @v_qtdeDescontarRestante > 0
								begin
									--**************** Correção por Diego Zilioti em 10/07/2019 ****************
									--precisamos validar se a quantidade reservada no pedido é menor q a quantidade do requisito
									--isto porque se ela for menor a quantidade no pedido prevalece, já que podemos ter este cenário quando os produtos são diferentes
									if @v_qtdeReservadaPedidoItem <= @v_qtdeAtendeRequisitoOriginal
										begin
											select @p_qtdeAtendeRequisito = @v_qtdeReservadaPedidoItem
										end
									--************** Fim correção por Diego Zilioti em 10/07/2019 **************

									-- atualiza a contagem regressiva de quantidade
									select @v_qtdeDescontarRestante = @v_qtdeDescontarRestante - @p_qtdeAtendeRequisito

									-- este if serve para igualar se na última validação de produto o resultado for negativo
									if @v_qtdeDescontarRestante < 0
										begin
											select @p_qtdeAtendeRequisito = @p_qtdeAtendeRequisito + @v_qtdeDescontarRestante
										end

									-- *************************************************************
									-- AGORA VAMOS CALCULAR O DESCONTO DO BENEFICIO
									-- FORMA PREMIACAO (1 - PERCENTUAL / 2 - VALOR DESC / 4 - VALOR FINAL
									-- *************************************************************
									IF @p_idFormaPremiacaoPromocao = 2
										BEGIN
							
											-- ********************************************************************
											-- CORREÇÃO POR DIEGO ZILIOTI 06/05/2019
											-- ESTE DESCONTO PRECISA SER APLICADO NO VALOR UNITÁRIO DO ITEM E DEPOIS MULTIPLICADO PELA QUANTIDADE CONQUISTADA NA PROMOÇÃO
											-- A MANEIRA ANTERIOR ESTAVA APLICANDO O DESCONTO EM TODAS AS UNIDADES
											-- ********************************************************************
											SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * (@p_nmValorBeneficio / 100)
											SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)
										END

									IF @p_idFormaPremiacaoPromocao = 3
										BEGIN
											SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@p_nmValorBeneficio * @p_qtdeAtendeRequisito)
											--SELECT @v_vlLiquidoTotalPedidoItem = @v_vlPraticadoTotalPedidoItem - (@p_nmValorBeneficio * @v_qtdeReservadaPedidoItem)
										END

									IF @p_idFormaPremiacaoPromocao = 4
										BEGIN
											-- **********************************************************************************
											-- Correção por Diego Zilioti em 19/11/2019
											-- Temos que aplicar o valor em todas as unidades do produto que foram conquistadas
											-- ***********************************************************************************
											-- temos que validar se a quantidade conquistada é menor que a quantidade no pedido
											IF @p_qtdeAtendeRequisito < @v_qtdeReservadaPedidoItem
												BEGIN
--													SELECT @v_vlLiquidoTotalPedidoItem = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito) + (@v_vlLiquidoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
													SELECT @v_vlLiquidoTotalPedidoItem = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito) + (@v_vlPraticadoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
												END
											ELSE
												BEGIN
													SELECT @v_vlLiquidoTotalPedidoItem = @p_nmValorBeneficio * @p_qtdeAtendeRequisito
												END
										END
								
									-- ********************************************
									-- CORREÇÃO POR DIEGO ZILIOTI EM 08/06/18
									-- VAMOS VALIDAR SE O DESCONTO APLICADO NO ITEM DE FATO É UM DESCONTO
									-- EXISTEM CASOS ONDE APLICAR O VALOR FINAL PODE DEIXAR O VALOR LÍQUIDO MAIOR QUE O PRATICADO E ISTO NÃO PODE ACONTECER
									-- SE O VALOR PRATICADO FOR MENOR ELE DEVERÁ PREVALECER
									-- OUTRA VALIDAÇÃO NECESSÁRIA É SE O VALOR LÍQUIDO FICARÁ MENOR OU IGUAL A 0, NESTE CASO TAMBÉM DEVEMOS BARRAR POIS PODE SER UM ERRO DE CADASTRO QUE PRECISA SER VERIFICADO PELO CLIENTE
									-- ********************************************
									IF @v_vlLiquidoTotalPedidoItem < @v_vlPraticadoTotalPedidoItem AND @v_vlLiquidoTotalPedidoItem >= 0
										BEGIN
											EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  													@p_nmPedido,
													@p_cdPromocao,
													@v_codigoProdutoVenda,
													@p_nmValorBeneficio,
													@p_qtdeAtendeRequisito,
													@v_cdMaterial,
													@v_idAgrupamento,
													2, --DESCONTO
													@v_vlCreditoTotalPedidoItem,
													@v_vlTabelaTotalPedidoItem,
													@v_vlPraticadoTotalPedidoItem,
													@v_vlComissaoTotalPedidoItem,
													@v_vlLiquidoTotalPedidoItem,
													@v_nmPedidoItem,
													0,
													@v_vlLiquidoTotalPedidoItem,
													@p_cdPromocaoRequisitoFaixa,
													@p_cdRetorno OUTPUT,
													@p_dcErro OUTPUT,
													@p_qtdeLinhasAfetadas OUTPUT
										END

									-- **********************************************************************
									-- VERIFICA SE É UM CONJUNTO
									-- EM CASO POSITIVO DEVEMOS GRAVAR OS FILHOS 
									-- **********************************************************************
									-- Correção por Diego Zilioti em 08/04/2020
									-- A promoção de desconto do tipo valor final não pode ser aplicada dentro para os kits em cada componente
									-- É preciso com base no novo valor final distribuir os valores de acordo com o % de cada
									-- vamos desmembrar o tratamento por tipo de promoção

									IF @v_idAgrupamento = 2 and @p_idFormaPremiacaoPromocao in (2,3)
										BEGIN
							
											-- OBTÉM O VALOR TOTAL DO KIT ANTES DO DESCONTO
											SELECT @v_valorTotalKit = A.VL_PRATICADO_TOTAL,
												   @v_valorRestaTotalKit = case @p_idFormaPremiacaoPromocao when 3 then @p_nmValorBeneficio * @p_qtdeAtendeRequisito else 0 end, -- essa variável só será utilizada no desconto por valor
												   @v_nmPedidoItemPaiKit = NM_PEDIDO_ITEM,
												   @v_qtdeReservadaPedidoItem = QT_RESERVADA
											  FROM TB_PEDIDO_ITEM A WITH(NOLOCK)
											 WHERE A.NM_PEDIDO = @p_nmPedido
											   AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
											   AND A.ID_PRODUTO_COBRADO = 1
											   and A.NM_PEDIDO_ITEM_CONJUNTO = 0

											-- OBTÉM O ITEM PAI DO KIT DA TB_PEDIDO_ITEM_PROMOCAO
											SELECT @v_nmPedidoItemPromocao = NM_PEDIDO_ITEM_PROMOCAO
											  FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK)
											 WHERE A.NM_PEDIDO = @p_nmPedido
											   AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
											   AND A.CD_PROMOCAO = @p_cdPromocao
											   AND A.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0

											-- ***************************************************************
											-- BUSCA AS INFORMAÇÕES DO FILHO NA TABELA TB_PEDIDO_ITEM
											-- ***************************************************************
					
											SET @Cursor_Componentes = CURSOR FAST_FORWARD
											FOR

													SELECT	A.QT_RESERVADA,
															A.VL_TABELA_TOTAL,
															A.VL_PRATICADO_TOTAL,
															A.NM_PEDIDO_ITEM,
															A.ID_AGRUPAMENTO,
															A.CD_MATERIAL,
															A.VL_CREDITO_TOTAL,
															B.VL_PERCENTUAL,
															A.VL_LIQUIDO_TOTAL,
															A.VL_COMISSAO_CN,
															A.VL_PRATICADO_TOTAL / @v_qtdeReservadaPedidoItem -- NO CASO DOS KITS O VALOR UNITÁRIO É REFERENTE A QUANTIDADE DO PAI E NÃO DOS FILHOS
													FROM TB_PEDIDO_ITEM A WITH(NOLOCK), TB_PRODUTO_VENDA_COMPONENTE B WITH(NOLOCK)
													WHERE A.NM_PEDIDO = @p_nmPedido
													AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
													AND A.ID_PRODUTO_COBRADO = 1
													and A.NM_PEDIDO_ITEM_CONJUNTO = @v_nmPedidoItemPaiKit
													AND A.CD_PRODUTO_VENDA = B.CD_PRODUTO_VENDA
													AND A.CD_MATERIAL = B.CD_MATERIAL

		
											OPEN @Cursor_Componentes
											FETCH NEXT FROM @Cursor_Componentes
											INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, 
											@v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem

											WHILE @@FETCH_STATUS = 0
												BEGIN
									
													-- *************************************************************
													-- AGORA VAMOS CALCULAR O DESCONTO DO BENEFICIO
													-- @p_idFormaPremiacaoPromocao (2 - PERCENTUAL / 3 - VALOR DESC) 
													-- *************************************************************
													IF @p_idFormaPremiacaoPromocao = 2
														BEGIN
															--SELECT @v_vlPraticadoTotalComponente = @v_vlTabelaTotalComponente - (@v_vlTabelaTotalComponente *(@p_nmValorBeneficio / 100))
															-- ********************************************************************
															-- CORREÇÃO POR DIEGO ZILIOTI 06/05/2019
															-- ESTE DESCONTO PRECISA SER APLICADO NO VALOR UNITÁRIO DO ITEM E DEPOIS MULTIPLICADO PELA QUANTIDADE CONQUISTADA NA PROMOÇÃO
															-- A MANEIRA ANTERIOR ESTAVA APLICANDO O DESCONTO EM TODAS AS UNIDADES
															-- ********************************************************************
															SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * (@p_nmValorBeneficio / 100)
															SELECT @v_vlLiquidoTotalComponente = @v_vlPraticadoTotalComponente - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)

														END
										
					
													IF @p_idFormaPremiacaoPromocao = 3
														BEGIN
															-- ***************************************************************************
															-- CORREÇÃO POR DIEGO ZILIOTI EM 08/04/2020
															-- O DESCONTO NO VALOR FINAL PRECISA SER CONVERTIDO PARA DESCONTO PERCENTUAL E APLICADO PROPORCIONALMENTE EM CADA ITEM
															-- ***************************************************************************
															-- BUSCA O VALOR PROPORCIONAL DO DESCONTO
															SELECT @v_vlDescontoUnitarioPedidoItem = @v_vlPraticadoUnitarioPedidoItem * ((@p_nmValorBeneficio * @p_qtdeAtendeRequisito) / @v_valorTotalKit)
															-- VAMOS FAZER UM CONTROLE DO SALDO DO DESCONTO PARA OS CASOS DE ARREDONDAMENTO NO CÁLCULO
															SELECT @v_valorRestaTotalkit -= @v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito
															SELECT @v_vlLiquidoTotalComponente = @v_vlPraticadoTotalComponente - (@v_vlDescontoUnitarioPedidoItem * @p_qtdeAtendeRequisito)
														END
										
													-- ********************************************
													-- CORREÇÃO POR DIEGO ZILIOTI EM 08/06/18
													-- VAMOS VALIDAR SE O DESCONTO APLICADO NO ITEM DE FATO É UM DESCONTO
													-- EXISTEM CASOS ONDE APLICAR O VALOR FINAL PODE DEIXAR O VALOR LÍQUIDO MAIOR QUE O PRATICADO E ISTO NÃO PODE ACONTECER
													-- SE O VALOR PRATICADO FOR MENOR ELE DEVERÁ PREVALECER
													-- OUTRA VALIDAÇÃO NECESSÁRIA É SE O VALOR LÍQUIDO FICARÁ MENOR OU IGUAL A 0, NESTE CASO TAMBÉM DEVEMOS BARRAR POIS PODE SER UM ERRO DE CADASTRO QUE PRECISA SER VERIFICADO PELO CLIENTE
													-- ********************************************

													IF @v_vlLiquidoTotalComponente < @v_vlPraticadoTotalComponente AND @v_vlLiquidoTotalComponente >= 0
														BEGIN
															EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  																@p_nmPedido,
																@p_cdPromocao,
																@v_codigoProdutoVenda,
																@p_qtdeAtendeRequisito,
																@p_qtdeAtendeRequisito,
																@v_cdMaterialComponente,
																@v_idAgrupamentoComponente,
																2, --DESCONTO
																@v_vlCreditoTotalComponente,
																@v_vlTabelaTotalComponente,
																@v_vlPraticadoTotalComponente,
																@v_vlComissaoTotalComponente,
																@v_vlLiquidoTotalComponente,
																@v_nmPedidoItemComponente,
																@v_nmPedidoItemPromocao,
																@v_vlLiquidoTotalComponente,
																@p_cdPromocaoRequisitoFaixa,
																@p_cdRetorno OUTPUT,
																@p_dcErro OUTPUT,
																@p_qtdeLinhasAfetadas OUTPUT
														END	
							
							
													FETCH NEXT FROM @Cursor_Componentes
													INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, @v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem
									
												END -- fecha o while do cursor de componentes

											-- vamos validar se sobrou valor para dar o desconto ainda
											if @v_valorRestaTotalKit <> 0
												begin
													select @v_valorRestaTotalKit = @v_valorRestaTotalKit * @p_qtdeAtendeRequisito

													--neste caso vamos buscar o primeiro item do kit com desconto aplicado e somar o valor que faltou NO ITEM DE MAIOR VALOR
													UPDATE TB_PEDIDO_ITEM_PROMOCAO SET VL_LIQUIDO_TOTAL = VL_LIQUIDO_TOTAL + @v_valorRestaTotalKit
													 WHERE NM_PEDIDO = @p_nmPedido
													   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
													   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = (SELECT TOP 1 NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
																							   WHERE NM_PEDIDO = @p_nmPedido
																								 AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
																								 AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO <> 0
																								 AND VL_LIQUIDO_TOTAL > @v_valorRestaTotalKit
																								ORDER BY VL_LIQUIDO_TOTAL DESC)
									                                           
												end

											-- PARA FINALIZAR PRECISAMOS AGORA CONSOLIDAR O VALOR TOTAL DO DESCONTO NO ITEM PAI DO KIT
											SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
											  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
											 WHERE NM_PEDIDO = @p_nmPedido
											   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
											   AND CD_PROMOCAO = @p_cdPromocao
											   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0

											IF @v_valorTotalKit >= 0
												BEGIN
													-- ATUALIZA O ITEM PAI
													UPDATE TB_PEDIDO_ITEM SET VL_LIQUIDO_TOTAL = @v_valorTotalKit
													 WHERE NM_PEDIDO = @p_nmPedido
													   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
													   AND NM_PEDIDO_ITEM = @v_nmPedidoItemPaiKit
												END

										END -- fecha if dos componentes

									-- TRATAMENTO PARA PROMOÇÕES QUE ALTERAM O VALOR FINAL
									IF @v_idAgrupamento = 2 and @p_idFormaPremiacaoPromocao = 4
										BEGIN
											-- OBTÉM O VALOR UNITARIO DO KIT ANTES DO DESCONTO
											SELECT @v_valorTotalKit = A.VL_PRATICADO_TOTAL / A.QT_RESERVADA,
												   @v_valorRestaTotalKit = case @p_idFormaPremiacaoPromocao when 3 then @p_nmValorBeneficio else 0 end, -- essa variável só será utilizada no desconto por valor
												   @v_nmPedidoItemPaiKit = NM_PEDIDO_ITEM
											  FROM TB_PEDIDO_ITEM A WITH(NOLOCK)
											 WHERE A.NM_PEDIDO = @p_nmPedido
											   AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
											   AND A.ID_PRODUTO_COBRADO = 1
											   and A.NM_PEDIDO_ITEM_CONJUNTO = 0

											-- OBTÉM O ITEM PAI DO KIT DA TB_PEDIDO_ITEM_PROMOCAO
											SELECT @v_nmPedidoItemPromocao = NM_PEDIDO_ITEM_PROMOCAO
											  FROM TB_PEDIDO_ITEM_PROMOCAO A WITH(NOLOCK)
											 WHERE A.NM_PEDIDO = @p_nmPedido
											   AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
											   AND A.CD_PROMOCAO = @p_cdPromocao
											   AND A.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0

											-- ***************************************************************
											-- BUSCA AS INFORMAÇÕES DO FILHO NA TABELA TB_PEDIDO_ITEM
											-- ***************************************************************
					
											SET @Cursor_Componentes = CURSOR FAST_FORWARD
											FOR

													SELECT	A.QT_RESERVADA,
															A.VL_TABELA_TOTAL,
															A.VL_PRATICADO_TOTAL,
															A.NM_PEDIDO_ITEM,
															A.ID_AGRUPAMENTO,
															A.CD_MATERIAL,
															A.VL_CREDITO_TOTAL,
															B.VL_PERCENTUAL / 100,
															A.VL_LIQUIDO_TOTAL,
															A.VL_COMISSAO_CN,
															A.VL_PRATICADO_TOTAL / A.QT_RESERVADA,
															A.VL_LIQUIDO_TOTAL / A.QT_RESERVADA
													FROM TB_PEDIDO_ITEM A WITH(NOLOCK), TB_PRODUTO_VENDA_COMPONENTE B WITH(NOLOCK)
													WHERE A.NM_PEDIDO = @p_nmPedido
													AND A.CD_PRODUTO_VENDA = @v_codigoProdutoVenda
													AND A.ID_PRODUTO_COBRADO = 1
													and A.NM_PEDIDO_ITEM_CONJUNTO = @v_nmPedidoItemPaiKit
													AND A.CD_PRODUTO_VENDA = B.CD_PRODUTO_VENDA
													AND A.CD_MATERIAL = B.CD_MATERIAL

		
											OPEN @Cursor_Componentes
											FETCH NEXT FROM @Cursor_Componentes
											INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, 
											@v_cdMaterialComponente, @v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem

											WHILE @@FETCH_STATUS = 0
												BEGIN
													-- busca o valor proporcional para o componente do novo preço final
													--select @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente)

													-- temos que validar se a quantidade conquistada é menor que a quantidade no pedido
													IF @p_qtdeAtendeRequisito < @v_qtdeReservadaPedidoItem
														BEGIN
--															SELECT @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente) + (@v_vlLiquidoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito) * @v_percComponente)
															SELECT @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente) + (@v_vlPraticadoUnitarioPedidoItem * (@v_qtdeReservadaPedidoItem - @p_qtdeAtendeRequisito))
														END
													ELSE
														BEGIN
															select @v_vlLiquidoTotalComponente = (@p_nmValorBeneficio * @p_qtdeAtendeRequisito * @v_percComponente)
														END

													IF @v_vlLiquidoTotalComponente < @v_vlPraticadoTotalComponente AND @v_vlLiquidoTotalComponente >= 0
														BEGIN
															EXEC dbo.pr_PromocaoAplicaPromocaoInsereBeneficio
  																@p_nmPedido,
																@p_cdPromocao,
																@v_codigoProdutoVenda,
																@p_qtdeAtendeRequisito,
																@p_qtdeAtendeRequisito,
																@v_cdMaterialComponente,
																@v_idAgrupamentoComponente,
																2, --DESCONTO
																@v_vlCreditoTotalComponente,
																@v_vlTabelaTotalComponente,
																@v_vlPraticadoTotalComponente,
																@v_vlComissaoTotalComponente,
																@v_vlLiquidoTotalComponente,
																@v_nmPedidoItemComponente,
																@v_nmPedidoItemPromocao,
																@v_vlLiquidoTotalComponente,
																@p_cdPromocaoRequisitoFaixa,
																@p_cdRetorno OUTPUT,
																@p_dcErro OUTPUT,
																@p_qtdeLinhasAfetadas OUTPUT
														END	

													FETCH NEXT FROM @Cursor_Componentes
													INTO @v_qtdeReservadaComponente, @v_vlTabelaTotalComponente, @v_vlPraticadoTotalComponente, @v_nmPedidoItemComponente, @v_idAgrupamentoComponente, @v_cdMaterialComponente,
														@v_vlCreditoTotalComponente, @v_percComponente, @v_vlLiquidoTotalComponente, @v_vlComissaoTotalComponente, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem

												END

												--aqui, vamos verificar os valores, (vl_liquido_total x vl_pagar_total) antes de finalizar
												SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
												  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
												 WHERE NM_PEDIDO = @p_nmPedido
												   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
												   AND CD_PROMOCAO = @p_cdPromocao
												   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0

												SELECT @v_valorRestaTotalKit = @v_valorPagarTotalKit - @v_valorTotalKit

											   if @v_valorRestaTotalKit <> 0
												   begin
														--neste caso vamos buscar o primeiro item do kit com desconto aplicado e somar o valor que faltou NO ITEM DE MAIOR VALOR
														UPDATE TB_PEDIDO_ITEM_PROMOCAO SET VL_LIQUIDO_TOTAL = VL_LIQUIDO_TOTAL + @v_valorRestaTotalKit
															WHERE NM_PEDIDO = @p_nmPedido
															AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
															AND NM_PEDIDO_ITEM_PROMOCAO = (SELECT TOP 1 NM_PEDIDO_ITEM_PROMOCAO FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
																									WHERE NM_PEDIDO = @p_nmPedido
																										AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
																										AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0
																										AND VL_LIQUIDO_TOTAL > @v_valorRestaTotalKit
																									ORDER BY VL_LIQUIDO_TOTAL DESC)
													end

												-- PARA FINALIZAR PRECISAMOS AGORA CONSOLIDAR O VALOR TOTAL DO DESCONTO NO ITEM PAI DO KIT
												SELECT @v_valorTotalKit = SUM(VL_LIQUIDO_TOTAL)
												  FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
												 WHERE NM_PEDIDO = @p_nmPedido
												   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
												   AND CD_PROMOCAO = @p_cdPromocao
												   AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0
								   
												IF @v_valorTotalKit >= 0
													BEGIN
														-- ATUALIZA O ITEM PAI
														UPDATE TB_PEDIDO_ITEM SET VL_LIQUIDO_TOTAL = @v_valorTotalKit
														 WHERE NM_PEDIDO = @p_nmPedido
														   AND CD_PRODUTO_VENDA = @p_cdTipoBeneficio
														   AND NM_PEDIDO_ITEM = @v_nmPedidoItemPaiKit
													END
										END																		
								
								end

							FETCH NEXT FROM @Cursor_Beneficios
							INTO @v_codigoProdutoVenda, @v_qtdeReservadaPedidoItem,  @v_vlTabelaTotalPedidoItem, @v_vlPraticadoTotalPedidoItem, @v_nmPedidoItem, @v_idAgrupamento,
									@v_cdMaterial, @v_vlCreditoTotalPedidoItem, @v_cdProdutoVenda, @v_vlLiquidoTotalPedidoItem, @v_vlComissaoTotalPedidoItem, @v_vlPraticadoUnitarioPedidoItem, @v_vlLiquidoUnitarioPedidoItem

						END -- FIM DO WHILE DO CURSOR
				end
		END -- FIM DO IF PRODUTO OU ESTRUTURA


	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_dcErro, @p_cdRetorno, 1)
END CATCH;
GO
