SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PromocaoAplicaPromocaoInsereBeneficio]
  	@p_nmPedido						numeric(18,0),
	@p_cdPromocao					numeric(18,0),
	@p_cdProdutoVenda				numeric(18,0),
	@p_nmValorBeneficio				NUMERIC(18,0),
	@p_qtdeAtendeRequisito			NUMERIC(18,0),
	@p_cdMaterial					NUMERIC(18,0),
	@p_idAgrupamento				INT,
	@p_idTipoPremio					INT, --(1 PARA BRINDE E 2 PARA DESCONTO)
	@p_vlCreditoTotalPedidoItem		NUMERIC(18,2),
	@p_vlTabelaTotalPedidoItem		NUMERIC(18,2),
	@p_vlPraticadoTotalPedidoItem	NUMERIC(18,2),
	@p_vlComissaoTotalPedidoItem	NUMERIC(18,2),
	@p_vlLiquidoTotalPedidoItem		NUMERIC(18,2),
	@p_nmPedidoItem					NUMERIC(18,0),
	@p_nmPedidoItemPromocaoConjunto NUMERIC(18,0),
	@p_vlPrecoFaturamento			numeric(18,2),
	@p_cdPromocaoRequisitoFaixa		NUMERIC(18,0),

	@p_cdRetorno				INT OUTPUT,
	@p_dcErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT	
	
AS


DECLARE @NM_PEDIDO_ITEM_PROMOCAO AS NUMERIC(18,0),
		@v_cdEstSituacao			as numeric(18,0),
		@v_qtdeReservada			as int,
		@v_qtdePedida				as int,
		@v_vlReposicao				as numeric(18,2),
		@v_vlCustoMedio				as numeric(18,2),
		@v_cdCotaProdutoEstrutura	as numeric(18,0),
		@v_cdCotaProdutoPessoa		as numeric(18,0),
		@Cursor_Componentes			as cursor,
		@v_cdMaterialComponente		as numeric(18,0), 
		@v_qtdeUtilizadaComponente	as int, 
		@v_percComponente			as numeric(18,4)

DECLARE @v_idBaseValorCreditoPedido		INT,
		@v_cdGerarItemAIncorporar		INT,
		@v_cdPessoa						NUMERIC(18),
		@v_cdFuncao						NUMERIC(18)
		
BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0

	-- *************************************************************
	-- VERIFICA SE O CREDITO É BASEADO NO PRODUTO OU PEDIDO
	-- *************************************************************
	SELECT	@v_idBaseValorCreditoPedido = R.ID_BASE_VALOR_CREDITO_PEDIDO,
			@v_cdGerarItemAIncorporar = R.ID_GERAR_ITEM_A_INCORPORAR_ESTOQUE_INSUFICIENTE,
			@v_cdPessoa = P.CD_PESSOA,
			@v_cdFuncao = P.CD_FUNCAO
	FROM TB_PEDIDO P, TB_REGRA_COMERCIAL R
	WHERE P.NM_PEDIDO = @p_nmPedido
	AND P.CD_REGRA_COMERCIAL = R.CD_REGRA_COMERCIAL
	
	IF @p_idTipoPremio = 1 -- PREMIO
		BEGIN

			-- *****************************************************
			-- Alteração feita por Diego Zilioti em 01/10
			-- Necessidade: Precisamos realizar o empenho do brinde no estoque, os brindes não estão sendo considerados na verificação de estoque
			-- Nesta parte iremos verificar o empenho do item no estoque
			-- *****************************************************
			SELECT @v_qtdePedida = @p_nmValorBeneficio * @p_qtdeAtendeRequisito
			
			EXEC dbo.SP_BAIXA_MATERIAL
						@p_nmPedido,
						@p_cdProdutoVenda,
						@p_cdMaterial,
						@v_qtdePedida,
						0,
						4, -- TIPO_EMPENHO (empenho de pedido DE PROMOÇÃO)
						@p_cdMaterial output, -- CD_MATERIAL
						@v_cdEstSituacao output, -- CD_EST_SITUACAO
						@v_qtdeReservada output, -- QT_RESERVADA
						@v_vlReposicao output, -- VL_REPOSICAO
						@v_vlCustoMedio output, -- VL_CUSTO_MEDIO
						@v_cdCotaProdutoEstrutura output, -- CD_COTA_PRODUTO_ESTRUTURA
						@v_cdCotaProdutoPessoa output, -- CD_COTA_PRODUTO_ESTRUTURA
						@p_cdRetorno		OUTPUT,
						@p_dcErro			OUTPUT,
						@p_qtdeLinhasAfetadas OUTPUT
								
			-- **********************************************************************
			-- VERIFICA SE É UM CONJUNTO
			-- EM CASO POSITIVO DEVEMOS GRAVAR OS FILHOS 
			-- **********************************************************************
			IF @p_idAgrupamento = 2
				BEGIN
					--VAMOS INSERIR O ITEM PAI
					INSERT INTO TB_PEDIDO_ITEM_PROMOCAO
						(
						NM_PEDIDO,
						CD_PRODUTO_VENDA,
						CD_MATERIAL,
						ID_AGRUPAMENTO,
						CD_EST_SITUACAO,
						QT_PEDIDA,
						QT_RESERVADA,
						CD_PROMOCAO,
						VL_CREDITO_TOTAL,
						VL_TABELA_TOTAL,
						VL_PRATICADO_TOTAL,
						VL_LIQUIDO_TOTAL,
						VL_IMPOSTO_TOTAL,
						VL_COMISSAO_CN,
						VL_PAGAR_TOTAL,
						VL_CUSTO_TOTAL,
						NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO,
						ID_TIPO_BENEFICIO_PEDIDO_ITEM,
						VL_PRECO_FATURAMENTO,
						CD_PROMOCAO_REQUISITO_FAIXA
						)
					VALUES
						(
						@p_nmPedido,
						@p_cdProdutoVenda,
						0,
						@p_idAgrupamento,
						@v_cdEstSituacao, -- CD_EST_SITUACAO
						@v_qtdePedida,
						@v_qtdeReservada,
						@p_cdPromocao,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						1, -- brinde
						@p_vlPrecoFaturamento * @v_qtdeReservada,
						@p_cdPromocaoRequisitoFaixa
						)
					SELECT @p_nmPedidoItemPromocaoConjunto = @@IDENTITY

					-- ***************************************************************
					-- BUSCA AS INFORMAÇÕES DOS COMPONENTES DO KIT
					-- ***************************************************************
					
					SET @Cursor_Componentes = CURSOR FAST_FORWARD
					FOR

						SELECT	CD_MATERIAL,
								QT_UTILIZADA,
								VL_PERCENTUAL
						FROM TB_PRODUTO_VENDA_COMPONENTE 
						WHERE CD_PRODUTO_VENDA = @p_cdProdutoVenda

		
					OPEN @Cursor_Componentes
					FETCH NEXT FROM @Cursor_Componentes
					INTO @v_cdMaterialComponente, @v_qtdeUtilizadaComponente, @v_percComponente

					WHILE @@FETCH_STATUS = 0
						BEGIN
							
							INSERT INTO TB_PEDIDO_ITEM_PROMOCAO
								(
								NM_PEDIDO,
								CD_PRODUTO_VENDA,
								CD_MATERIAL,
								ID_AGRUPAMENTO,
								CD_EST_SITUACAO,
								QT_PEDIDA,
								QT_RESERVADA,
								CD_PROMOCAO,
								VL_CREDITO_TOTAL,
								VL_TABELA_TOTAL,
								VL_PRATICADO_TOTAL,
								VL_LIQUIDO_TOTAL,
								VL_IMPOSTO_TOTAL,
								VL_COMISSAO_CN,
								VL_PAGAR_TOTAL,
								VL_CUSTO_TOTAL,
								NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO,
								ID_TIPO_BENEFICIO_PEDIDO_ITEM,
								VL_PRECO_FATURAMENTO,
								CD_PROMOCAO_REQUISITO_FAIXA
								)
							VALUES
								(
								@p_nmPedido,
								@p_cdProdutoVenda,
								@v_cdMaterialComponente,
								@p_idAgrupamento,
								@v_cdEstSituacao, -- CD_EST_SITUACAO
								@v_qtdePedida * @v_qtdeUtilizadaComponente,
								@v_qtdeReservada * @v_qtdeUtilizadaComponente,
								@p_cdPromocao,
								0,
								0,
								0,
								0,
								0,
								0,
								0,
								0,
								@p_nmPedidoItemPromocaoConjunto,
								1, -- brinde
								(@p_vlPrecoFaturamento * (@v_percComponente /100)) * (@v_qtdeReservada * @v_qtdeUtilizadaComponente),
								@p_cdPromocaoRequisitoFaixa
								)
							FETCH NEXT FROM @Cursor_Componentes
							INTO @v_cdMaterialComponente, @v_qtdeUtilizadaComponente, @v_percComponente
						end
				END
			ELSE
				BEGIN
					INSERT INTO TB_PEDIDO_ITEM_PROMOCAO
						(												
						NM_PEDIDO,										
						CD_PRODUTO_VENDA,								
						CD_MATERIAL,									
						ID_AGRUPAMENTO,									
						CD_EST_SITUACAO,								
						QT_PEDIDA,										
						QT_RESERVADA,									
						CD_PROMOCAO,									
						VL_CREDITO_TOTAL,								
						VL_TABELA_TOTAL,								
						VL_PRATICADO_TOTAL,								
						VL_LIQUIDO_TOTAL,								
						VL_IMPOSTO_TOTAL,								
						VL_COMISSAO_CN,									
						VL_PAGAR_TOTAL,									
						VL_CUSTO_TOTAL,									
						NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO,				
						ID_TIPO_BENEFICIO_PEDIDO_ITEM,					
						VL_PRECO_FATURAMENTO,							
						CD_PROMOCAO_REQUISITO_FAIXA						
						)												
					VALUES
						(
						@p_nmPedido,
						@p_cdProdutoVenda,
						@p_cdMaterial,
						@p_idAgrupamento,
						@v_cdEstSituacao, -- CD_EST_SITUACAO
						@v_qtdePedida,
						@v_qtdeReservada,
						@p_cdPromocao,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						1, -- brinde
						@p_vlPrecoFaturamento * @v_qtdeReservada,
						@p_cdPromocaoRequisitoFaixa
						)
				END
		END
	
	IF @p_idTipoPremio = 2 -- DESCONTO
		BEGIN
			
			INSERT INTO TB_PEDIDO_ITEM_PROMOCAO
				(
				NM_PEDIDO,
				CD_PRODUTO_VENDA,
				CD_MATERIAL,
				ID_AGRUPAMENTO,
				CD_EST_SITUACAO,
				QT_PEDIDA,
				QT_RESERVADA,
				CD_PROMOCAO,
				VL_CREDITO_TOTAL,
				VL_TABELA_TOTAL,
				VL_PRATICADO_TOTAL,
				VL_LIQUIDO_TOTAL,
				VL_IMPOSTO_TOTAL,
				VL_COMISSAO_CN,
				VL_PAGAR_TOTAL,
				VL_CUSTO_TOTAL,
				NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO,
				ID_TIPO_BENEFICIO_PEDIDO_ITEM,
				NM_PEDIDO_ITEM,
				VL_PRECO_FATURAMENTO,
				CD_PROMOCAO_REQUISITO_FAIXA
				)
				VALUES
				(
				@p_nmPedido,
				@p_cdProdutoVenda,
				@p_cdMaterial,
				@p_idAgrupamento,
				11, -- CD_EST_SITUACAO
				@p_qtdeAtendeRequisito,
				@p_qtdeAtendeRequisito,
				@p_cdPromocao,
				@p_vlCreditoTotalPedidoItem,
				@p_vlTabelaTotalPedidoItem,
				@p_vlPraticadoTotalPedidoItem,
				@p_vlLiquidoTotalPedidoItem,
				0,
				@p_vlComissaoTotalPedidoItem,
				@p_vlLiquidoTotalPedidoItem,
				0,
				@p_nmPedidoItemPromocaoConjunto,
				2, -- DESCONTO
				@p_nmPedidoItem,
				@p_vlPrecoFaturamento,
				@p_cdPromocaoRequisitoFaixa
				)
				
			SELECT @NM_PEDIDO_ITEM_PROMOCAO = IDENT_CURRENT('TB_PEDIDO_ITEM_PROMOCAO')


			-- *********************************************************************
			-- VAMOS AUALIZAR OS VALORES DE DESCONTO NA TABELA TB_PEDIDO_ITEM
			-- *********************************************************************
			UPDATE TB_PEDIDO_ITEM
			SET VL_PRATICADO_TOTAL = @p_vlPraticadoTotalPedidoItem,
				VL_LIQUIDO_TOTAL = @p_vlLiquidoTotalPedidoItem,
				VL_COMISSAO_CN = @p_vlComissaoTotalPedidoItem,
				VL_PAGAR_TOTAL =@p_vlLiquidoTotalPedidoItem
			WHERE NM_PEDIDO = @p_nmPedido
			AND NM_PEDIDO_ITEM = @p_nmPedidoItem 
			

			IF @v_idBaseValorCreditoPedido = 2 
				BEGIN
					UPDATE TB_PEDIDO_ITEM 
					SET VL_CREDITO_TOTAL = VL_PAGAR_TOTAL
					WHERE NM_PEDIDO = @p_nmPedido
					AND NM_PEDIDO_ITEM = @p_nmPedidoItem 
				END
		
		END
	
	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
