SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CALCULA_EC_INDICADOR_CLIENTE_DNANAMODA]
				@CD_EST_COMERCIAL   NUMERIC(18, 0),
				@DT_FECHAMENTO      DATE,
				@CD_USUARIO         NUMERIC(18,0),
				@VAR_RETORNO        INT OUTPUT,
				@DC_ERRO            NVARCHAR(MAX) OUTPUT,
				@QT_LINHAS_AFETADAS INT OUTPUT


AS


	DECLARE @Cursor_EC					CURSOR,
		@NM_CICLO					NUMERIC(18,0),
		@CD_ESTRUTURA					NUMERIC(18,0),
		@CD_FUNCAO					INT,
		@ID_MOMENTO_CALCULO_INDICADOR  NUMERIC(18,0),
		@CALCULA_INDICADOR  INT,
		@EXISTE_REGISTRO    INT

	DECLARE @VL_INDICADOR_PESSOAL_3001			NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3004			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3008			NUMERIC(18,2),
			@VL_INDICADOR_PESSOAL_3010			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3013			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3016			NUMERIC(18,2),
                @VL_CONTADOR                                    NUMERIC(18,2)


BEGIN TRY


	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @ID_MOMENTO_CALCULO_INDICADOR = 2
	    
	    -- *******************************************************************************
		-- CURSOR DE ESTRUTURA COMERCIAL
		-- VERIFICA TODOS AS ESTRUTURA COMERCIAIS QUE FECHAM NA DATA INFORMADA
		-- *******************************************************************************
	
		IF @CD_EST_COMERCIAL = 0 
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL, 2
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					ORDER BY 2,1

			END 
		ELSE
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL, 2
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						    AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					ORDER BY 2,1
			END

	
				    
	    -- ABRE O CURSOR DE ESTRUTURA COMERCIAL
	    OPEN @Cursor_EC
		FETCH NEXT FROM @Cursor_EC
		INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO

		WHILE @@FETCH_STATUS = 0
			BEGIN

				--******************************************************************************
			      	-- TAMANHO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3001,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN
					SELECT @VL_INDICADOR_PESSOAL_3001 = COUNT(A.CD_PESSOA)
					FROM TB_PESSOA_RESUMO A with(nolock)
					WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					AND   A.CD_FUNCAO           = @CD_FUNCAO
	   				AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) not in (0,4)

			        	-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3001
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_INDICADOR_PESSOAL_3001,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_INDICADOR_PESSOAL_3001,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- INÍCIOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3002,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
					FROM TB_PESSOA_RESUMO A with(nolock)
					WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					AND   A.CD_FUNCAO           = @CD_FUNCAO
	   				AND   A.NM_CICLO_INICIO     = @NM_CICLO
					AND   ISNULL(CD_SITUACAO_COMERCIAL,0) = 1
  
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3002
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- INTENÇÃO REVENDA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3003,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_CONTADOR = COUNT(CD_PESSOA)
					FROM TB_PESSOA_RESUMO  A with(nolock)
					WHERE CD_FUNCAO           = @CD_FUNCAO
					AND   CD_EST_COMERCIAL    = @CD_EST_COMERCIAL
					AND   ISNULL(CD_SITUACAO_COMERCIAL,0) = 0
					AND   NOT EXISTS (SELECT CD_PESSOA FROM TB_HIST_SITUACAO_CONSULTORA  B with(nolock)
			  				  WHERE B.CD_PESSOA                   = A.CD_PESSOA
			 				  AND B.NM_CICLO                      < @NM_CICLO
			  				  AND ISNULL(CD_SITUACAO_COMERCIAL,0) > 0)
  
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3003
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- ATIVOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3004,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_INDICADOR_PESSOAL_3004 = COUNT(A.CD_PESSOA)
					FROM TB_PESSOA_RESUMO A with(nolock)
					WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					AND   A.CD_FUNCAO           = @CD_FUNCAO
	   				AND   ISNULL(CD_SITUACAO_COMERCIAL,0) = 1
 
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3004
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3004,
						@VL_INDICADOR_PESSOAL_3004,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3004,
						@VL_INDICADOR_PESSOAL_3004,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- INATIVOS 1
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3005,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_CONTADOR = COUNT(*)
					FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
					WHERE A.CD_EST_COMERCIAL            = @CD_EST_COMERCIAL
					AND A.NM_CICLO                      = @NM_CICLO		
					AND A.CD_SITUACAO_COMERCIAL_DETALHE = 201

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3005
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- INATIVOS 2
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3006,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_CONTADOR = COUNT(*)
					FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
					WHERE A.CD_EST_COMERCIAL            = @CD_EST_COMERCIAL
					AND A.NM_CICLO                      = @NM_CICLO		
					AND A.CD_SITUACAO_COMERCIAL_DETALHE = 202

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3006
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- INATIVOS 3
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3007,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_CONTADOR = COUNT(*)
					FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
					WHERE A.CD_EST_COMERCIAL            = @CD_EST_COMERCIAL
					AND A.NM_CICLO                      = @NM_CICLO		
					AND A.CD_SITUACAO_COMERCIAL_DETALHE = 203

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3007
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- INATIVOS 4
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3008,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_INDICADOR_PESSOAL_3008 = COUNT(*)
					FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
					WHERE A.CD_EST_COMERCIAL            = @CD_EST_COMERCIAL
					AND A.NM_CICLO                      = @NM_CICLO		
					AND A.CD_SITUACAO_COMERCIAL_DETALHE = 301

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3008
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- A CESSAR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3009,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3009
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3009,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3009,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- CESSADOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3010,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
        				SELECT @VL_INDICADOR_PESSOAL_3010 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL), 0)
        				FROM TB_PESSOA_INDICADOR  A  with(nolock)
        				WHERE A.CD_EST_COMERCIAL            = @CD_EST_COMERCIAL
					AND A.CD_FUNCAO            = @CD_FUNCAO
					AND A.NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
					AND A.CD_INDICADOR_PESSOAL = 3009

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3010
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3010,
						@VL_INDICADOR_PESSOAL_3010,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3010,
						@VL_INDICADOR_PESSOAL_3010,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- ATIVIDADE (ATIVOS / TAMANHO)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3011,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_CONTADOR  =  CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3001,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3004 / @VL_INDICADOR_PESSOAL_3001)
	                         		ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3011
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3011,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- PERDA (CESSADAS / TAMANHO)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3012,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_CONTADOR  =  CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3001,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3010 / @VL_INDICADOR_PESSOAL_3001)
	                         		ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3012
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- PEDIDOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3013,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
        				SELECT @VL_INDICADOR_PESSOAL_3013 = COUNT (A.NM_PEDIDO)
          				FROM TB_PEDIDO A  with(nolock)
	  				WHERE A.CD_FUNCAO             = @CD_FUNCAO		
	  				AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	  				AND A.NM_CICLO_APROVACAO      = @NM_CICLO
          				AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3013
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3013,
						@VL_INDICADOR_PESSOAL_3013,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3013,
						@VL_INDICADOR_PESSOAL_3013,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	



				--******************************************************************************
			      	-- PONTOS 
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3014,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					WHERE A.CD_EST_COMERCIAL   = @CD_ESTRUTURA
					AND A.CD_FUNCAO            = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO		
					AND A.CD_INDICADOR_PESSOAL = 1003

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3014
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- COMPRAS BRUTA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3015,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
        				SELECT @VL_CONTADOR = isnull(SUM(A.VL_PAGAR_TOTAL),0)
          				FROM TB_PEDIDO A  with(nolock)
	  				WHERE A.CD_FUNCAO             = @CD_FUNCAO		
	  				AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	  				AND A.NM_CICLO_APROVACAO      = @NM_CICLO
          				AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3015
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- COMPRAS LÍQUIDA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3016,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_INDICADOR_PESSOAL_3016 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					WHERE A.CD_EST_COMERCIAL   = @CD_ESTRUTURA
					AND A.CD_FUNCAO            = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO		
					AND A.CD_INDICADOR_PESSOAL = 1014

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3016
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3016,
						@VL_INDICADOR_PESSOAL_3016,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3016,
						@VL_INDICADOR_PESSOAL_3016,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TKT MÉDIO (COMPRAS LÍQUIDA / PEDIDOS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3017,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_CONTADOR  =  CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3013,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3016 / @VL_INDICADOR_PESSOAL_3013)
	                         		ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3017
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- VENDAS CF
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3018,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					WHERE A.CD_EST_COMERCIAL   = @CD_ESTRUTURA
					AND A.CD_FUNCAO            = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO		
					AND A.CD_INDICADOR_PESSOAL = 1016

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3018
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				FETCH NEXT FROM @Cursor_EC
				INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO
			
				
			END


	 	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
