SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PromocaoInserePromocaoRequisito]
	@p_codigoPromocao				NUMERIC(18, 0),
	@p_idTipoRequisito				INT,	
	@p_codigoTipoRequsito			NUMERIC(18, 0),
	@p_idUnidadeRequisito			INT,
	@p_valorRequisito				NUMERIC(18, 2),
	@p_idOperadorLogico				INT,
	@p_codigoMaterialRequisito		NUMERIC(18,0),

	@p_codigoUsuario				NUMERIC(18,0),
	@p_descAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT
	
AS

BEGIN TRY
	BEGIN TRANSACTION 
	
	    SELECT @p_qtLinhasAfetadas = 0, @p_codigoErro = 0, @p_descErro = ''

		IF @p_descAcao = 'I'
			BEGIN

				INSERT INTO TB_PROMOCAO_REQUISITO (
					CD_PROMOCAO,
					ID_TIPO_REQUISITO,
					CD_TIPO_REQUISITO,
					ID_UNIDADE_REQUISITO,
					NM_VALOR_REQUISITO,
					ID_OPERADOR_LOGICO,
					CD_MATERIAL_REQUISITO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO )
						
				VALUES  (
					@p_codigoPromocao,
					@p_idTipoRequisito,
					@p_codigoTipoRequsito,
					@p_idUnidadeRequisito,
					@p_valorRequisito,
					@p_idOperadorLogico,
					@p_codigoMaterialRequisito,
					GETDATE(),
					@p_codigoUsuario )
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT

			END	
			
		IF @p_descAcao = 'E'
			BEGIN
				DELETE FROM TB_PROMOCAO_REQUISITO 
				WHERE CD_PROMOCAO = @p_codigoPromocao
										
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT						
			END	

			
		COMMIT TRANSACTION
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
