SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_DividaInsereParcela]
	@p_codigoDivida					numeric(18,0),
	@p_codigoAcordoPagamento		numeric(18,0),
	@p_dataGeracaoParcela			date,
	@p_dataVencimento				date,
	@p_dataValidade					date,
	@p_situacaoParcela				int,
	@p_situacaoPagamentoParcela		int,
	@p_valorOriginalParcela 		numeric(18,2),
	@p_valorOriginalParcelaSaldo	numeric(18,2),
	@p_valorCreditoParcela			numeric(18,2),
	@p_valorCreditoParcelaSaldo		numeric(18,2),
	@p_codigoEntidadeConciliacao	numeric(18,0),
		
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output,
	@p_codigoParcela				numeric(18,0)	output

AS


BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    
	    BEGIN TRANSACTION 
	    
	    
	    INSERT INTO TB_PARCELA (
				CD_DIVIDA,
				CD_ACORDO_PAGAMENTO,
				DT_GERACAO_PARCELA,
				DT_VENCIMENTO,
				DT_VALIDADE,
				ID_SITUACAO_PARCELA,
				ID_SITUACAO_PAGAMENTO_PARCELA,
				ID_SITUACAO_COBRANCA_EXTERNA,
				VL_ORIGINAL_PARCELA,
				VL_ORIGINAL_PARCELA_SALDO,
				VL_CREDITO_PARCELA,
				VL_CREDITO_PARCELA_SALDO,
				VL_ATUALIZADO_PARCELA,
				CD_ENTIDADE_CRIACAO
				)
						
			VALUES  (
				@p_codigoDivida,
				@p_codigoAcordoPagamento,
				@p_dataGeracaoParcela,
				@p_dataVencimento,
				@p_dataValidade,
				@p_situacaoParcela,
				@p_situacaoPagamentoParcela,
				2, -- NENHUMA PARCELA SERÁ CRIADA EM COBRANÇA EXTERNA
				@p_valorOriginalParcela,
				@p_valorOriginalParcelaSaldo,
				@p_valorCreditoParcela,
				@p_valorCreditoParcelaSaldo,
				@p_valorOriginalParcela,
				@p_codigoEntidadeConciliacao
				)
	    
	    SELECT @p_linhasAfetadas = @@ROWCOUNT
		SELECT @p_codigoParcela = IDENT_CURRENT('TB_PARCELA')
		
	    --SE O VALOR ORIGINAL É IGUAL A ZERO VAMOS BAIXAR A PARCELA AUTOMATICAMENTE	  			
		IF @p_valorOriginalParcela = 0
			BEGIN
			
				EXEC dbo.SP_BAIXA_CONCILIACAO @p_codigoParcela,
											  @p_valorOriginalParcela,
											  1,
											  2,
											  '',
											  0, 
											  @p_codigoErro OUTPUT,
											  @p_descricaoErro OUTPUT,
											  @p_linhasAfetadas OUTPUT
			END
				
	    COMMIT TRANSACTION
			
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
     
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
