SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_EST_COMERCIAL]
	@CD_ESTRUTURA NUMERIC(18,0),
	@DC_EST_COMERCIAL VARCHAR(80),
	@ID_SITUACAO INT,
	@CD_NIVEL_EST_COMERCIAL INT,
	@ID_TIPO_COBERTURA_GEOGRAFICA INT,
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
		
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_EST_COMERCIAL NUMERIC(18,0) OUTPUT

AS


DECLARE @CD_NIVEL_COM1 NUMERIC(18,0),
		@CD_NIVEL_COM2 NUMERIC(18,0),
		@CD_NIVEL_COM3 NUMERIC(18,0),
		@CD_NIVEL_COM4 NUMERIC(18,0),
		@CD_NIVEL_COM5 NUMERIC(18,0),
		@CD_NIVEL_COM6 NUMERIC(18,0),
		@CD_NIVEL_COM7 NUMERIC(18,0),
		@CD_NIVEL_COM8 NUMERIC(18,0),
		@CD_NIVEL_COM9 NUMERIC(18,0)
		
BEGIN TRY
	

	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 
			
				INSERT INTO TB_EST_COMERCIAL (
						DC_EST_COMERCIAL,
						ID_ATIVO,
						CD_NIVEL_EST_COMERCIAL,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO,
						ID_TIPO_COBERTURA_GEOGRAFICA)
				VALUES           (
						@DC_EST_COMERCIAL,
						@ID_SITUACAO,
						@CD_NIVEL_EST_COMERCIAL,
						GETDATE(), 
						@CD_USUARIO, 
						GETDATE(), 
						@CD_USUARIO,
						@ID_TIPO_COBERTURA_GEOGRAFICA
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_EST_COMERCIAL = IDENT_CURRENT('TB_EST_COMERCIAL')
				
				COMMIT TRANSACTION
			END	
		
		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 
			
				UPDATE TB_EST_COMERCIAL SET
						DC_EST_COMERCIAL = @DC_EST_COMERCIAL,
						ID_ATIVO = @ID_SITUACAO,
						CD_NIVEL_EST_COMERCIAL = @CD_NIVEL_EST_COMERCIAL,
						DT_ATUALIZACAO = GETDATE(),
						CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
						ID_TIPO_COBERTURA_GEOGRAFICA = @ID_TIPO_COBERTURA_GEOGRAFICA
				WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
			
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
			
        IF @VAR_TIPO_FUNCAO = 'E'
			  BEGIN
				BEGIN TRANSACTION 
			
				DELETE TB_EST_COMERCIAL
				WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
			
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT  
				COMMIT TRANSACTION
	
			  END
	
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
