SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaReativaConsultoraLimiteCredito]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoUsuario				numeric(18,0),

	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output

AS

DECLARE @V_QTD_CREDITO_MANUAL		AS INT
DECLARE @V_CODIGO_CREDITO_MANUAL	AS NUMERIC(18,0)

DECLARE @ID_LC_PRIMEIRA_REGRA AS INT
DECLARE @ID_LC_TIPO_TEMPO_PRIMEIRA_REGRA AS INT
DECLARE @NM_LC_TEMPO_INICIAL_PRIMEIRA_REGRA AS NUMERIC(18,0)
DECLARE @NM_LC_TEMPO_FINAL_PRIMEIRA_REGRA AS NUMERIC(18,0)
DECLARE @ID_LC_MANTER_ULTIMO AS INT
DECLARE @ID_LC_TIPO_TEMPO_MANTER_ULTIMO AS INT
DECLARE @NM_LC_TEMPO_INICIAL_MANTER_ULTIMO AS NUMERIC(18,0)
DECLARE @NM_LC_TEMPO_FINAL_MANTER_ULTIMO AS NUMERIC(18,0)
DECLARE @ID_LC_ZERAR AS INT
DECLARE @ID_LC_TIPO_TEMPO_ZERAR AS INT
DECLARE @NM_LC_TEMPO_INICIAL_ZERAR AS NUMERIC(18,0)
DECLARE @NM_LC_TEMPO_FINAL_ZERAR AS NUMERIC(18,0)


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	
	-- *************************************************************************************************
	-- BUSCA CONFIGURAÇÕES NA TABELA TB_PESSOA_REGRAS_REATIVACAO
	-- *************************************************************************************************
	SELECT 
			@ID_LC_PRIMEIRA_REGRA = ISNULL(ID_LC_PRIMEIRA_REGRA,0),
			@ID_LC_TIPO_TEMPO_PRIMEIRA_REGRA = ISNULL(ID_LC_TIPO_TEMPO_PRIMEIRA_REGRA,0),
			@NM_LC_TEMPO_INICIAL_PRIMEIRA_REGRA = ISNULL(NM_LC_TEMPO_INICIAL_PRIMEIRA_REGRA,0),
			@NM_LC_TEMPO_FINAL_PRIMEIRA_REGRA = ISNULL(NM_LC_TEMPO_FINAL_PRIMEIRA_REGRA,0),
			@ID_LC_MANTER_ULTIMO = ISNULL(ID_LC_MANTER_ULTIMO,0),
			@ID_LC_TIPO_TEMPO_MANTER_ULTIMO = ISNULL(ID_LC_TIPO_TEMPO_MANTER_ULTIMO,0),
			@NM_LC_TEMPO_INICIAL_MANTER_ULTIMO = ISNULL(NM_LC_TEMPO_INICIAL_MANTER_ULTIMO,0),
			@NM_LC_TEMPO_FINAL_MANTER_ULTIMO = ISNULL(NM_LC_TEMPO_FINAL_MANTER_ULTIMO,0),
			@ID_LC_ZERAR = ISNULL(ID_LC_ZERAR,0),
			@ID_LC_TIPO_TEMPO_ZERAR = ISNULL(ID_LC_TIPO_TEMPO_ZERAR,0),
			@NM_LC_TEMPO_INICIAL_ZERAR = ISNULL(NM_LC_TEMPO_INICIAL_ZERAR, 0),
			@NM_LC_TEMPO_FINAL_ZERAR = ISNULL(NM_LC_TEMPO_FINAL_ZERAR,0)
	FROM TB_PESSOA_REGRAS_REATIVACAO
	WHERE CD_PESSOA_REGRAS_REATIVACAO = 1

	-- *************************************************************************************
	-- NESSE PRIMEIRO MOMENTO NÃO VAMOS VERIFICAR O TEMPO DE DESATIVAÇÃO
	-- ISSO FICARA NUM SEGUNDO MOMENTO
	-- *************************************************************************************


	-- ****************************************************************************
	-- PRIMEIRO PRECISA VERIFICAR SE EXISTE ALGUM LIMITE MANUAL VIGENTE
	-- EM CASO POSITIVO TEMOS QUE COLOCAR DATA FINAL
	-- ****************************************************************************
	IF @ID_LC_PRIMEIRA_REGRA = 1 OR @ID_LC_ZERAR = 1
		BEGIN
				
			SELECT @V_QTD_CREDITO_MANUAL =  COUNT(*) 
			FROM TB_PESSOA_LIMITE_CREDITO
			WHERE CD_PESSOA = @p_codigoPessoa
			AND CD_FUNCAO = 2
			--AND CD_PESSOA_LIMITE_CREDITO <> @CD_CODIGO -- FILTRO NECESSÁRIO PARA NÃO CONSIDERAR UM REGISTRO EXCLUÍDO
			AND ID_MOTIVO_ATUALIZACAO_LIMITE = 3 -- CRÉDITO MANUAL
			AND CONVERT(DATE,GETDATE()) BETWEEN CONVERT(DATE,ISNULL(DT_INICIO_LIMITE_CREDITO,GETDATE()-1)) AND CONVERT(DATE,ISNULL(DT_TERMINO_LIMITE_CREDITO,GETDATE()+1))
			
			IF @V_QTD_CREDITO_MANUAL > 0 
				BEGIN
					SELECT @V_CODIGO_CREDITO_MANUAL =  MAX(CD_PESSOA_LIMITE_CREDITO)
					FROM TB_PESSOA_LIMITE_CREDITO
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_FUNCAO = 2
					--AND CD_PESSOA_LIMITE_CREDITO <> @CD_CODIGO -- FILTRO NECESSÁRIO PARA NÃO CONSIDERAR UM REGISTRO EXCLUÍDO
					AND ID_MOTIVO_ATUALIZACAO_LIMITE = 3 -- CRÉDITO MANUAL
					AND CONVERT(DATE,GETDATE()) BETWEEN CONVERT(DATE,ISNULL(DT_INICIO_LIMITE_CREDITO,GETDATE()-1)) AND CONVERT(DATE,ISNULL(DT_TERMINO_LIMITE_CREDITO,GETDATE()+1))
			
					UPDATE TB_PESSOA_LIMITE_CREDITO SET DT_TERMINO_LIMITE_CREDITO = GETDATE() -1
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_FUNCAO = 2
					AND CD_PESSOA_LIMITE_CREDITO = @V_CODIGO_CREDITO_MANUAL
				END
		END


	
	-- ***************************************** 
	-- APLICA PRIMEIRA REGRA DE REENQUADRANMENTO
	-- *****************************************
	IF @ID_LC_PRIMEIRA_REGRA = 1
		BEGIN
				
			EXEC dbo.pr_PessoaAtualizaLimiteCredito
				0,					--@CD_CODIGO					NUMERIC(18,0),
				@p_codigoPessoa,	--@CD_PESSOA					NUMERIC(18,0),
				2,					--@CD_FUNCAO					INT,
				1,					-- CREDITO INICIAL @CD_MOTIVO					INT,
				'REATIVAÇÃO',		--@DC_MOTIVO					VARCHAR(100),
				NULL,				--@DT_INICIO_LIMITE_CREDITO	VARCHAR(20),
				NULL,				--@DT_TERMINO_LIMITE_CREDITO	VARCHAR(20),
				0,					--@VL_CREDITO					NUMERIC(18,2),
				'I',				--@DC_TIPO_FUNCAO				VARCHAR(1),
				@p_codigoUsuario,	--@CD_USUARIO NUMERIC(18,0),

				@p_codigoErro		OUTPUT,
				@p_descricaoErro	OUTPUT,
				@p_linhasAfetadas	OUTPUT

		END

	
	-- ***************************************** 
	-- ZERAR CREDITO
	-- *****************************************
	IF @ID_LC_ZERAR = 1
		BEGIN

			INSERT INTO TB_PESSOA_LIMITE_CREDITO (
				CD_PESSOA,
				CD_FUNCAO,
				DT_LIMITE_CREDITO,
				VL_CREDITO,
				ID_MOTIVO_ATUALIZACAO_LIMITE,
				DC_JUSTIFICATIVA_LIMITE,
				DT_INICIO_LIMITE_CREDITO,
				DT_TERMINO_LIMITE_CREDITO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO	)
			VALUES           (
				@p_codigoPessoa,
				2,
				GETDATE(),
				0,
				2,
				'REATIVAÇÃO',
				NULL,
				NULL,
				GETDATE(), 
				@p_codigoUsuario, 
				GETDATE(), 
				@p_codigoUsuario)
			   	
			EXEC dbo.SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
				@p_codigoPessoa,
				2,
				1,
				0,
				@p_codigoUsuario

		END

	

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
