SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_MNBuscaDetalheRemuneracaoReceita]

	@p_cdPessoa				NUMERIC(18,0),
	@p_nmCicloIni			NUMERIC(18,0), 
	@p_cdPessoaLogin		numeric(18,0),
	@p_cdTipo				int
	
AS
  BEGIN 		        
	DECLARE @v_codigoCliente				INT

			SELECT @v_codigoCliente = 0

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	SELECT @v_codigoCliente = VL_PARAMETRO 
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO         = 1
	   AND CD_VALOR_PARAMETRO   = 1

	-- kenko patto
	IF @v_codigoCliente = 55
		BEGIN
			 SELECT R.DS_REMUNERACAO AS "Regra Remuneração", 

					(select Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE (CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) 
						THEN 'INDICADOR' ELSE 'PEDIDO' END) END AS "Origem"
						FROM TB_MN_REGRA_REMUNERACAO C
						WHERE C.CD_REMUNERACAO = R.CD_REMUNERACAO ) Origem, 

					NM_ORIGEM_MN AS "Nr. Origem", 
					NM_NIVEL AS "Nível",
					VL_ORIGEM_MN AS "Valor da Origem", 
					VL_PERCENTUAL_REM AS "Percentual / Valor", 
					VL_REMUNERACAO AS "Valor da Remuneração"
			   FROM	TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK) 
			   JOIN TB_MN_REGRA_REMUNERACAO R WITH(NOLOCK) 
				 on A.CD_REGRA_PREMIACAO_MN = R.CD_REMUNERACAO 
			   LEFT JOIN TB_PEDIDO P  WITH(NOLOCK)
				 ON P.NM_PEDIDO = A.NM_ORIGEM_MN   
			  where A.ID_MOTIVO_REMUNERACAO = 1 
				AND A.CD_PESSOA = @p_cdPessoa 
				AND A.NM_CICLO = @p_nmCicloIni
			    --AND A.NM_CICLO <= (SELECT PES.NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO PES WHERE A.CD_PESSOA = PES.CD_PESSOA AND A.CD_FUNCAO = PES.CD_FUNCAO)
				AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
  					  TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
					  TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
					  And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))
					  order by R.CD_REMUNERACAO

		END
	--DEMAIS CLIENTES
	ELSE
		BEGIN
			 SELECT R.DS_REMUNERACAO AS "Regra Premiação", 
					dbo.FN_BUSCA_DOMINIO('ORIGEM_PREMIACAO_MN', A.ID_ORIGEM_PREMIACAO_MN)  + CASE WHEN (A.ID_ORIGEM_PREMIACAO_MN = 1) THEN ' ( '+ dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA)+ ' - '+ CONVERT(VARCHAR(20),P.CD_PESSOA)+' )' WHEN (A.ID_ORIGEM_PREMIACAO_MN = 2) THEN ' ( '+ dbo.FN_BUSCA_NOME_PESSOA(A.NM_ORIGEM_MN)+ ' )' ELSE '' END  AS "Origem", 
					NM_ORIGEM_MN AS "Nr. Origem", 
					NM_NIVEL AS "Nível",
					VL_ORIGEM_MN AS "Valor da Origem", 
					VL_PERCENTUAL_REM AS "Percentual / Valor", 
					VL_REMUNERACAO AS "Valor da Remuneração"
			   FROM	TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK) 
			   JOIN TB_MN_REGRA_REMUNERACAO R WITH(NOLOCK) 
				 on A.CD_REGRA_PREMIACAO_MN = R.CD_REMUNERACAO 
			   LEFT JOIN TB_PEDIDO P WITH(NOLOCK) 
				 ON P.NM_PEDIDO = A.NM_ORIGEM_MN   
			  where A.ID_MOTIVO_REMUNERACAO = 1 
				AND A.CD_PESSOA = @p_cdPessoa 
				AND A.NM_CICLO = @p_nmCicloIni
				AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
  					  TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
					  TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
					  And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))

		END
END
GO
