SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[pr_CargaCEPInsereBairroZero]
  	
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS


DECLARE @Cursor_Itens			CURSOR

DECLARE @v_id_cidade				INT
DECLARE @v_id_bairro				INT
DECLARE @v_logradouro				VARCHAR(300)

DECLARE @v_CD_NIVEL_GEO2			NUMERIC(18,0)
DECLARE @v_CD_NIVEL_GEO3			NUMERIC(18,0)
DECLARE @v_CD_NIVEL_GEO4			NUMERIC(18,0)

DECLARE @v_DC_NIVEL_GEO2			VARCHAR(300)
DECLARE @v_DC_NIVEL_GEO3			VARCHAR(300)
DECLARE @v_DC_NIVEL_GEO4			VARCHAR(300)

DECLARE @v_DC_CEP					VARCHAR(8)

DECLARE @V_CD_EST_GEOGRAFICA		NUMERIC(18,0)
DECLARE @V_CD_EST_GEOGRAFICA_NEW	NUMERIC(18,0)

DECLARE @V_CONTADOR_EST_GEOGRAFICA	INT



	
BEGIN TRY

	SELECT @qtLinhasAfetadas = 0
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR

		SELECT	CD_NIVEL_GEO2,
				CD_NIVEL_GEO3
		from qualocep_endereco
		where id_bairro = 0
		AND CD_NIVEL_GEO4 IS NULL
			
													
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@v_CD_NIVEL_GEO2,
				@v_CD_NIVEL_GEO3
				
			WHILE @@FETCH_STATUS = 0
				BEGIN

					SELECT @V_CD_EST_GEOGRAFICA = 0
					SELECT @V_CONTADOR_EST_GEOGRAFICA = 0
									
					SELECT @V_CD_EST_GEOGRAFICA_NEW = MAX(CD_EST_GEOGRAFICA) + 1 FROM TB_EST_GEOGRAFICA

					INSERT INTO TB_EST_GEOGRAFICA (
								CD_EST_GEOGRAFICA,
								DC_EST_GEOGRAFICA,
								ID_ATIVO,
								CD_NIVEL_EST_GEOGRAFICA,
								CD_NIVEL_GEO1,
								CD_NIVEL_GEO2,
								CD_NIVEL_GEO3,
								CD_NIVEL_GEO4,
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
					VALUES (
								@V_CD_EST_GEOGRAFICA_NEW,
								'-',
								1,
								4,
								1, 
								@v_CD_NIVEL_GEO2,
								@v_CD_NIVEL_GEO3,
								@V_CD_EST_GEOGRAFICA_NEW,
								GETDATE(),
								0, 
								GETDATE(),
								0)

						

					FETCH NEXT FROM @Cursor_Itens
					INTO	@v_CD_NIVEL_GEO2,
							@v_CD_NIVEL_GEO3			
				END

		
	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	SELECT @cdErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @cdErro = 1
      SELECT @dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
