SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_ATUALIZA_REMUNERACAO_MOIP_ASOS]
	@NM_PEDIDO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT


AS
DECLARE @V_CD_PESSOA          NUMERIC(18,0), 
        @V_CD_RV_INDICANTE    NUMERIC(18,0),
        @V_CD_FUNCAO          NUMERIC(18,0),
        @V_NM_CICLO_PAGAMENTO NUMERIC(18,0),
        @V_ID_VINCULO         INT,
        @V_VL_LIQUIDO_TOTAL   NUMERIC(18,2)

DECLARE @V_CD_REMUNERACAO                          INT,
        @V_DS_REMUNERACAO                          VARCHAR(100),
        @V_ID_REGRA_CALCULO                        INT,  --(1-PEDIDO /  2 - PESSOA)
        @V_ID_EVENTO_PEDIDO                        INT,--(1 - APROVADO / 2 - PAGO)
        @V_CD_INDICADOR_PESSOAL                    INT,
        @V_ID_FORMA_PAGAMENTO_REMUNERACAO          INT, --( 1 - PEDIDO FUTURO / 2-DEPOSITO BANCÁRIO)
        @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO      INT,
        @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO         INT,
        @V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO       INT, --(1-CARREIRA / 2-DESEMPENHO / 3-REGRAS INDICADORES)
        @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO INT, --(1-SIM / 2-NÃO)
        @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO        INT,
        @V_CD_PAPEL_FIM_PAGA_REMUNERACAO           INT,
        @V_ID_REGRA_PAPEL_PAGA_REMUNERACAO         INT, --(1-CARREIRA / 2-DESEMPENHO / 3-REGRAS INDICADORES)
        @V_ID_REGRA_NIVEL_GERACAO                  INT,  --(1-NIVEL / 2-GERACAO)
        @V_VL_NIVEL_GERACAO_INICIO                 INT,
        @V_VL_NIVEL_GERACAO_FIM                    INT,
        @V_ID_TIPO_REMUNERACAO                     INT, --(1-VALOR FIXO / 2 - PERCENTUAL)
        @V_VL_REMUMERACAO                          NUMERIC(18,2),
        @V_CD_REMUNERACAO_PRIORIDADE               INT,
        @V_ID_MULTIPLICA_QUANTIDADE                INT,
        @V_CALCULA_REMUNERACAO                     INT,
        @V_CD_REMUNERACAO_PRIORIDADE_QDE           INT,
        @V_CD_PRODUTO                              NUMERIC(18,0),
        @V_ID_SITUACAO_REMUNERACAO                 INT


DECLARE @EXISTE_REM				   INT,
        @V_CD_MN_REMUNERACAO			   NUMERIC(18,0)   

        

BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0


  -- BUSCA AS INFORMACOES DO PEDIDO
  SELECT @V_CD_PESSOA          = CD_PESSOA, 
         @V_CD_RV_INDICANTE    = CD_RV_INDICANTE ,
         @V_CD_FUNCAO          = CD_FUNCAO,
         @V_NM_CICLO_PAGAMENTO = NM_CICLO_PAGAMENTO
  FROM TB_PEDIDO
  WHERE NM_PEDIDO = @NM_PEDIDO
    
  -- VERIFICA DE ESTA VINCULADA
  SELECT @V_ID_VINCULO = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 2 END
  FROM TB_PESSOA_VINCULO_HISTORICO
  WHERE CD_PESSOA           = @V_CD_PESSOA
  AND   CD_PESSOA_VINCULADA = @V_CD_RV_INDICANTE
  AND   CD_FUNCAO           = @V_CD_FUNCAO
  AND   NM_CICLO            = @V_NM_CICLO_PAGAMENTO 


  -- BUSCA A REGRA
  SELECT     @V_CD_REMUNERACAO                          = CD_REMUNERACAO                          ,
             @V_DS_REMUNERACAO                          = DS_REMUNERACAO                          ,
             @V_ID_REGRA_CALCULO                        = ID_REGRA_CALCULO                        ,
             @V_ID_EVENTO_PEDIDO                        = ID_EVENTO_PEDIDO                        ,
             @V_CD_INDICADOR_PESSOAL                    = CD_INDICADOR_PESSOAL                    ,
             @V_ID_FORMA_PAGAMENTO_REMUNERACAO          = ID_FORMA_PAGAMENTO_REMUNERACAO          ,
             @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO      = CD_PAPEL_INICIO_RECEBE_REMUNERACAO      ,
             @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO         = CD_PAPEL_FIM_RECEBE_REMUNERACAO         ,
             @V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO       = ID_REGRA_PAPEL_RECEBE_REMUNERACAO       , 
             @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO = ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO ,
             @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO        = CD_PAPEL_INICIO_PAGA_REMUNERACAO        ,
             @V_CD_PAPEL_FIM_PAGA_REMUNERACAO           = CD_PAPEL_FIM_PAGA_REMUNERACAO           ,
             @V_ID_REGRA_PAPEL_PAGA_REMUNERACAO         = ID_REGRA_PAPEL_PAGA_REMUNERACAO         , 
             @V_ID_REGRA_NIVEL_GERACAO                  = ID_REGRA_NIVEL_GERACAO                  , 
             @V_VL_NIVEL_GERACAO_INICIO                 = VL_NIVEL_GERACAO_INICIO                 ,
             @V_VL_NIVEL_GERACAO_FIM                    = VL_NIVEL_GERACAO_FIM                    ,
             @V_ID_TIPO_REMUNERACAO                     = ID_TIPO_REMUNERACAO                     , 
             @V_VL_REMUMERACAO                          = VL_REMUMERACAO                          ,
             @V_CD_REMUNERACAO_PRIORIDADE               = isnull(CD_REMUNERACAO_PRIORIDADE,0)     ,
             @V_ID_MULTIPLICA_QUANTIDADE                = isnull(ID_MULTIPLICA_QUANTIDADE,2)      ,
             @V_ID_SITUACAO_REMUNERACAO                 = isnull(ID_SITUACAO_REMUNERACAO,1)              
  FROM TB_MN_REGRA_REMUNERACAO
  WHERE CD_REMUNERACAO = @V_ID_VINCULO

  -- BUSCA O VALOR LIQUIDO 
  SELECT @V_VL_LIQUIDO_TOTAL = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
  FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
  WHERE A.NM_PEDIDO            = B.NM_PEDIDO
  AND   A.NM_PEDIDO            = @NM_PEDIDO   
  AND   A.NM_CICLO_CANCELAMENTO IS NULL    -- SOMENTE PEDIDO APROVADO, NÃO CANCELADO
  AND   A.NM_CICLO_PAGAMENTO         = @V_NM_CICLO_PAGAMENTO

 
  IF (@V_VL_LIQUIDO_TOTAL > 0)
  BEGIN
    -- INSERIR A REMUNERAÇÃO
    SELECT @EXISTE_REM = COUNT(*)
    FROM TB_MN_REMUNERACAO
    WHERE CD_PESSOA                           = @V_CD_RV_INDICANTE
    AND CD_FUNCAO                             = @V_CD_FUNCAO
    AND NM_CICLO                              = @V_NM_CICLO_PAGAMENTO
    AND ID_SITUACAO_REMUNERACAO               = @V_ID_SITUACAO_REMUNERACAO        
    AND ID_FORMA_PREMIACAO_MN                 = @V_ID_FORMA_PAGAMENTO_REMUNERACAO
    AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @V_ID_SITUACAO_REMUNERACAO                 
    IF @EXISTE_REM = 0
    BEGIN
      INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA  , 
					CD_FUNCAO , 
					NM_CICLO, 
					ID_SITUACAO_REMUNERACAO,
                                        VL_ORIGINAL,
					VL_AJUSTADO, 
					DC_MOTIVO_AJUSTE, 
					ID_FORMA_PREMIACAO_MN, 
                                        ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, 
					DT_CADASTRO, 
					CD_USUARIO_CADASTRO,  
                                        DT_ATUALIZACAO,  
					CD_USUARIO_ATUALIZACAO)
                                VALUES (@V_CD_RV_INDICANTE,
					@V_CD_FUNCAO,
					@V_NM_CICLO_PAGAMENTO,
					@V_ID_SITUACAO_REMUNERACAO,
                                        @V_VL_LIQUIDO_TOTAL,
					@V_VL_LIQUIDO_TOTAL,
					'', 
					@V_ID_FORMA_PAGAMENTO_REMUNERACAO,
                                        @V_ID_SITUACAO_REMUNERACAO,
					GETDATE(), 
					0,
                                        GETDATE(), 0) 
      SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
    END
    ELSE
    BEGIN
      UPDATE TB_MN_REMUNERACAO SET
             VL_ORIGINAL = VL_ORIGINAL + @V_VL_LIQUIDO_TOTAL,
             VL_AJUSTADO = VL_AJUSTADO + @V_VL_LIQUIDO_TOTAL,
             DT_ATUALIZACAO  = getdate(),
             CD_USUARIO_ATUALIZACAO = 0
      WHERE CD_PESSOA                             = @V_CD_RV_INDICANTE
        AND CD_FUNCAO                             = @V_CD_FUNCAO
        AND NM_CICLO                              = @V_NM_CICLO_PAGAMENTO
        AND ID_SITUACAO_REMUNERACAO               = @V_ID_SITUACAO_REMUNERACAO        
        AND ID_FORMA_PREMIACAO_MN                 = @V_ID_FORMA_PAGAMENTO_REMUNERACAO
        AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @V_ID_SITUACAO_REMUNERACAO                 
   
      SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
      FROM TB_MN_REMUNERACAO
      WHERE CD_PESSOA                           = @V_CD_RV_INDICANTE
      AND CD_FUNCAO                             = @V_CD_FUNCAO
      AND NM_CICLO                              = @V_NM_CICLO_PAGAMENTO
      AND ID_SITUACAO_REMUNERACAO               = @V_ID_SITUACAO_REMUNERACAO       
      AND ID_FORMA_PREMIACAO_MN                 = @V_ID_FORMA_PAGAMENTO_REMUNERACAO
      AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @V_ID_SITUACAO_REMUNERACAO                 
       
    END

    -- INSERE NO DETALHE
    INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, 
                                           CD_FUNCAO, 
                                           NM_CICLO, 
                                           ID_MOTIVO_REMUNERACAO,
                                           CD_REGRA_PREMIACAO_MN, 
                                           ID_ORIGEM_PREMIACAO_MN, 
                                           NM_ORIGEM_MN,
                                           VL_ORIGEM_MN,
                                           VL_PERCENTUAL_REM, 
                                           VL_REMUNERACAO,
                                           CD_MN_REMUNERACAO,
                                           CD_PAPEL_DESEMPENHO,
	 			           NM_NIVEL)
                                   VALUES (@V_CD_RV_INDICANTE, 
                                           @V_CD_FUNCAO,
                                           @V_NM_CICLO_PAGAMENTO,
                                           1, -- RECEITA
                                           @V_CD_REMUNERACAO, -- SÃO AS REMUNERAÇÕES CADASTRADAS
                                           1, --1-PEDIDO /  2 - PESSOA
                                           @NM_PEDIDO,
                                           @V_VL_LIQUIDO_TOTAL, 
                                           @V_VL_REMUMERACAO,
                                           (@V_VL_LIQUIDO_TOTAL * (1- (@V_VL_REMUMERACAO/100))),
                                           @V_CD_MN_REMUNERACAO, 
                                           null,
				           1)

  END

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0

END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;
GO
