SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiProdutoInsereProdutoVenda]
	@p_codigoProdutoVenda			VARCHAR(80),
	@p_descProdutoVenda				VARCHAR(80),
	@p_idAgrupamento				INT,
	@p_idTipoProduto				INT,
	@p_cicloLancamento				NUMERIC(18,0),
	@p_cicloDescontinuacao			NUMERIC(18,0),
	@p_codigoMaterial				VARCHAR(80),
	@p_codigoAgrupador				NUMERIC(18,0),
	@p_idGeraSaldoFavor				INT,
	@p_valorSaldoFavor				NUMERIC(18,2),
	@p_idGeraBonus					INT,
	@p_idGeraQualificacao			INT,
	@p_idGeraAtivacao				INT,
	@p_idDisponivelLoja				INT,
	@p_idDestaqueLoja				INT,
	@p_descTituloPaginaWeb			VARCHAR(80),
	@p_descWebDescription			VARCHAR(2400),
	@p_descBreveDescricao 			VARCHAR(8000),
	@p_descEspecificacoesTecnicas	VARCHAR(8000),
	@p_descUrlVideo1				VARCHAR(240),
	@p_descUrlVideo2				VARCHAR(240),
	@p_descUrlVideo3				VARCHAR(240),
	@p_descProdutoRelacionado		VARCHAR(100),
	@p_descTagsBusca				VARCHAR(1000),
	
	@p_descAcao						VARCHAR(1), 
	@p_codigoUsuario				NUMERIC(18,0),

	@p_codigoErro					INT OUTPUT,
	@p_descErro						VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT,
	@p_codigoProduto				NUMERIC(18,0) OUTPUT

AS
DECLARE @v_codigoMaterial	NUMERIC(18,0),
		@v_codigoProduto	NUMERIC(18,0),
		@v_existeProduto	INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	IF @p_idAgrupamento = 1
		BEGIN
			--VAMOS BUSCAR O CÓDIGO DO MATERIAL INFORMADO
			SELECT @v_codigoMaterial = MIN(CD_MATERIAL)
			  FROM TB_MATERIAL M WITH(NOLOCK)
			 WHERE CD_MATERIAL_EXTERNO = RTRIM(LTRIM(@p_codigoMaterial))

			IF @v_codigoMaterial = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Material informado não encontrado'

					RETURN
				END
		END
	ELSE
		BEGIN
			SELECT @v_codigoMaterial = 0
		END

	-- tratamento de dados para a informação do tipo de produto, NA API eles são diferentes do domínio na base de dados
	-- NA API ELES SÃO ENVIADOS COMO: 1 - MAT APOIO / 2 - REGULAR/ 3 - BRINDE
	-- NA BASE TEMOS: 1 - REGULAR / 2 - BRINDE / 3 - MAT APOIO
	SELECT @p_idTipoProduto = CASE @p_idTipoProduto WHEN 1 THEN 3 WHEN 2 THEN 1 WHEN 3 THEN 2 END

	IF @p_descAcao = 'I'
		BEGIN

			-- antes de fazer a inserção vamos validar se o produto já existe
			SELECT @v_existeProduto = ISNULL(COUNT(*),0)
			  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
			 WHERE CD_PRODUTO_VENDA_EXTERNO = @p_codigoProdutoVenda

			IF @v_existeProduto > 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Produto já cadastrado.'

					RETURN
				END

			--REALIZA A INSERÇÃO DOS DADOS
			EXEC dbo.pr_ProdutoInsereProdutoVenda	0,
													@p_codigoProdutoVenda,
													@p_descProdutoVenda,
													@p_idAgrupamento,
													@p_idTipoProduto,
													@p_descBreveDescricao,
													@p_descEspecificacoesTecnicas,
													@p_descUrlVideo1,
													@p_descUrlVideo2,
													@p_descUrlVideo3,
													@p_idGeraBonus,
													@p_idGeraQualificacao,
													@p_idGeraAtivacao,
													@v_codigoMaterial,
													@p_descProdutoRelacionado,
													@p_cicloLancamento,
													@p_cicloDescontinuacao,
													@p_codigoAgrupador,
													@p_idDisponivelLoja,
													@p_idDestaqueLoja,
													@p_idGeraSaldoFavor,
													@p_valorSaldoFavor,
													null,
													null,
													@p_descTituloPaginaWeb,
													@p_descWebDescription,
													@p_descTagsBusca,
													@p_codigoUsuario,
													'I',
													@p_codigoErro OUTPUT,
													@p_descErro OUTPUT,
													@p_qtLinhasAfetadas OUTPUT,
													@p_codigoProduto OUTPUT
			

		END

	IF @p_descAcao = 'A'
		BEGIN
			
			-- busca o código interno do produto
			SELECT @v_codigoProduto = MIN(CD_PRODUTO_VENDA)
			  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
			 WHERE CD_PRODUTO_VENDA_EXTERNO = RTRIM(LTRIM(@p_codigoProdutoVenda))

			IF @v_codigoProduto = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Produto informado não encontrado'

					RETURN
				END
			--REALIZA A ATUALIZAÇÃO DOS DADOS
			EXEC dbo.pr_ProdutoInsereProdutoVenda	@v_codigoProduto,
													@p_codigoProdutoVenda,
													@p_descProdutoVenda,
													@p_idAgrupamento,
													@p_idTipoProduto,
													@p_descBreveDescricao,
													@p_descEspecificacoesTecnicas,
													@p_descUrlVideo1,
													@p_descUrlVideo2,
													@p_descUrlVideo3,
													@p_idGeraBonus,
													@p_idGeraQualificacao,
													@p_idGeraAtivacao,
													@v_codigoMaterial,
													@p_descProdutoRelacionado,
													@p_cicloLancamento,
													@p_cicloDescontinuacao,
													@p_codigoAgrupador,
													@p_idDisponivelLoja,
													@p_idDestaqueLoja,
													@p_idGeraSaldoFavor,
													@p_valorSaldoFavor,
													null,
													null,
													@p_descTituloPaginaWeb,
													@p_descWebDescription,
													@p_descTagsBusca,
													@p_codigoUsuario,
													'A',
													@p_codigoErro OUTPUT,
													@p_descErro OUTPUT,
													@p_qtLinhasAfetadas OUTPUT,
													@p_codigoProduto OUTPUT
			

		END

	IF @p_descAcao = 'E'
		BEGIN
			-- busca o código interno do produto
			SELECT @v_codigoProduto = MIN(CD_PRODUTO_VENDA)
			  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
			 WHERE CD_PRODUTO_VENDA_EXTERNO = RTRIM(LTRIM(@p_codigoProdutoVenda))

			IF @v_codigoProduto = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Produto informado não encontrado'

					RETURN
				END

			-- EXCLUI OS DADOS DO PRODUTO
			DELETE FROM TB_PRODUTO_VENDA_ALERTA_ESTOQUE WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			DELETE FROM TB_PRODUTO_VENDA_CATEGORIA WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			DELETE FROM TB_PRODUTO_VENDA_COMENTARIOS WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			DELETE FROM TB_PRODUTO_VENDA_COMPONENTE WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			DELETE FROM TB_PRODUTO_VENDA_ESTRUTURA WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			DELETE FROM TB_PRODUTO_VENDA_FOTO WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			DELETE FROM TB_PRODUTO_VENDA_PLANO_PAGAMENTO WHERE CD_PRODUTO_VENDA = @v_codigoProduto
			DELETE FROM TB_PRODUTO_VENDA_PRECO_FUNCAO WHERE CD_PRODUTO_VENDA_PRECO IN (
				SELECT CD_PRODUTO_VENDA_PRECO FROM TB_PRODUTO_VENDA_PRECO WITH(NOLOCK) WHERE CD_PRODUTO_VENDA = @v_codigoProduto)
			DELETE FROM TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL WHERE CD_PRODUTO_VENDA_PRECO IN (
				SELECT CD_PRODUTO_VENDA_PRECO FROM TB_PRODUTO_VENDA_PRECO WITH(NOLOCK) WHERE CD_PRODUTO_VENDA = @v_codigoProduto)
			DELETE FROM TB_PRODUTO_VENDA_PRECO WHERE CD_PRODUTO_VENDA = @v_codigoProduto

		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
