SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_ApiConsultaEstoqueMaterial]  
AS  
  
 SELECT  M.CD_MATERIAL_EXTERNO "materialCode",  
   M.DC_MATERIAL "materialDescription",  
   CD.CD_CENTRO_DISTRIBUICAO "distributionCenter",  
   CD.ID_TIPO_CD AS typeCD,
   CD.DC_CENTRO_DISTRIBUICAO "distributionCenterName",  
   A.CD_ARMAZEM "warehouse",  
   A.DC_ARMAZEM "warehouseName",  
   E.QT_ESTOQUE_DISPONIVEL "availableStock",  
   E.QT_ESTOQUE_EMPENHADO "reservedStock",  
   E.QT_ESTOQUE_TRANSICAO "transitionStock",  
   E.QT_VIGILANCIA_SANITARIA "sanitaryStock",  
   E.QT_ESTOQUE_MANUTENCAO "maintenanceStock",  
   E.QT_ESTOQUE_DESTRUICAO "garbageStock",  
   E.VL_CUSTO_MEDIO_UNITARIO "averageCost",  
   E.VL_REPOSICAO_UNITARIO "lastReplacementCost"  
   FROM TB_MATERIAL M WITH(NOLOCK), TB_ESTOQUE E WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_ARMAZEM A WITH(NOLOCK)  
  WHERE M.CD_MATERIAL = E.CD_MATERIAL  
    AND CD.CD_CENTRO_DISTRIBUICAO = E.CD_CENTRO_DISTRIBUICAO  
    AND A.CD_ARMAZEM = E.CD_ARMAZEM
GO
