SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_FV_CALCULA_COMISSAO_FUTURA]
        @CD_PESSOA        NUMERIC (18,0),
	@CD_EST_COMERCIAL NUMERIC (18,0),
	@VAR_RETORNO      INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

-- CALCULA AS COMISSÕES FUTURAS DA RESP PELA ESTRUTURA COMERCIAL, SÃO PARCELAS NÃO PAGAS.


AS

DECLARE @CURSOR_REGRA_COMISSAO    CURSOR,
        @CURSOR_PARCELA   CURSOR

DECLARE @V_CD_FV_REGRA_COMISSAO   NUMERIC(18, 0),
	@V_DC_FV_REGRA_COMISSAO   VARCHAR(300),
	@V_CD_NIVEL_EST_COMERCIAL INT,
	@V_ID_FORMA_COMISSAO      INT ,
	@V_CD_INDICADOR_METRICA   NUMERIC(18, 0),
	@V_CD_INDICADOR_CALCULO   NUMERIC(18, 0),
	@V_VL_INDICADOR_METRICA   NUMERIC(18, 2),
	@V_VL_METRICA             NUMERIC(18, 2),
        @V_VL_COMISSAO            NUMERIC(18, 2),
        @V_@EXISTE_COM            INT,
        @V_CD_FV_COMISSAO         NUMERIC(18,0),
	@V_ID_PARCELA_COMISSAO INT

DECLARE @V_NM_PEDIDO                NUMERIC(18, 0),
	@V_NM_CICLO_INDICADOR       NUMERIC(18, 0),
	@V_NM_CICLO_PARCELA         NUMERIC(18, 0),
	@V_CD_PARCELA               NUMERIC(18, 0),
	@V_VL_ORIGINAL_PARCELA       NUMERIC(18,2)

DECLARE @V_CD_PESSOA_RESPONSAVEL_EST_COMERCIAL NUMERIC(18, 0)


BEGIN TRY
	SELECT @QT_LINHAS_AFETADAS = 0

	-- LIMPAR AS COMISSÕES CALCULADAS
	BEGIN TRANSACTION
	DELETE TB_FV_DETALHE_COMISSAO WHERE CD_FV_COMISSAO IN (SELECT CD_FV_COMISSAO
							FROM TB_FV_COMISSAO with (NOLOCK)
							WHERE CD_PESSOA            = @CD_PESSOA
							--AND   NM_CICLO            = @NM_CICLO
							AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
							AND   CD_FUNCAO            = 4  -- FORÇA DE VENDAS
							AND   ID_SITUACAO_COMISSAO = 1) -- A CALCULAR
	COMMIT TRANSACTION

	BEGIN TRANSACTION
	DELETE TB_FV_COMISSAO
	WHERE CD_PESSOA            = @CD_PESSOA
	--AND   NM_CICLO             = @NM_CICLO
	AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	AND   CD_FUNCAO            = 4  -- FORÇA DE VENDAS
	AND   ID_SITUACAO_COMISSAO = 1 -- A CALCULAR
	COMMIT TRANSACTION	

	-- ABRE O CURSOR REGRA COMISSÃO
	SET @CURSOR_REGRA_COMISSAO = CURSOR FAST_FORWARD
	FOR
	SELECT DISTINCT D.CD_FV_REGRA_COMISSAO, D.DC_FV_REGRA_COMISSAO, 
        	        D.CD_NIVEL_EST_COMERCIAL, D.ID_FORMA_COMISSAO, 
                	D.CD_INDICADOR_METRICA, D.CD_INDICADOR_CALCULO,
			ISNULL(D.ID_PARCELA_COMISSAO,2)
	FROM TB_EST_COMERCIAL_HIERARQUIA A with (NOLOCK), 
     		TB_FV_REGRA_COMISSAO_EST_COMERCIAL B with (NOLOCK), 
     		TB_EST_COMERCIAL C with (NOLOCK), 
     		TB_FV_REGRA_COMISSAO D with (NOLOCK)
	WHERE ( (A.CD_NIVEL_COM1 = B.CD_EST_COMERCIAL)  OR
		(A.CD_NIVEL_COM2 = B.CD_EST_COMERCIAL)  OR
	   	(A.CD_NIVEL_COM3 = B.CD_EST_COMERCIAL)  OR
	   	(A.CD_NIVEL_COM4 = B.CD_EST_COMERCIAL)  OR
	   	(A.CD_NIVEL_COM5 = B.CD_EST_COMERCIAL)  OR
	   	(A.CD_NIVEL_COM6 = B.CD_EST_COMERCIAL)  OR
	   	(A.CD_NIVEL_COM7 = B.CD_EST_COMERCIAL)  OR
	   	(A.CD_NIVEL_COM8 = B.CD_EST_COMERCIAL)  OR
	   	(A.CD_NIVEL_COM9 = B.CD_EST_COMERCIAL)  )
	AND A.CD_EST_COMERCIAL       = C.CD_EST_COMERCIAL
	AND C.ID_ATIVO               = 1
	AND A.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL 
	AND C.CD_NIVEL_EST_COMERCIAL = D.CD_NIVEL_EST_COMERCIAL
	AND B.CD_FV_REGRA_COMISSAO   = D.CD_FV_REGRA_COMISSAO
	AND D.ID_ATIVO               = 1

	OPEN @CURSOR_REGRA_COMISSAO 
	FETCH NEXT FROM @CURSOR_REGRA_COMISSAO 
	INTO @V_CD_FV_REGRA_COMISSAO,@V_DC_FV_REGRA_COMISSAO,@V_CD_NIVEL_EST_COMERCIAL,@V_ID_FORMA_COMISSAO,@V_CD_INDICADOR_METRICA ,@V_CD_INDICADOR_CALCULO, @V_ID_PARCELA_COMISSAO
	WHILE @@FETCH_STATUS = 0 
	BEGIN  
		
		IF (@V_ID_PARCELA_COMISSAO = 1)  -- SIM   -- REGRA INICIAL SOMENTE LOWELL (NÃO FUNCIONA SE TEM COBRANÇA DE FRETE)
		BEGIN
		    -- BUSCA A PARCELA PAGA E QUAL O CICLO DO PEDIDO
		    SET @CURSOR_PARCELA = CURSOR FAST_FORWARD
		    FOR
 		    SELECT C.NM_PEDIDO,
			    C.NM_CICLO_INDICADOR CICLO_INDICADOR,
			   (SELECT MIN(A.NM_CICLO) FROM TB_CALENDARIO_COMERCIAL A WITH (NOLOCK) 
			    WHERE A.CD_EST_COMERCIAL = C.CD_EST_COMERCIAL
			    AND CONVERT(DATE, D.DT_VENCIMENTO) BETWEEN CONVERT(DATE, A.DT_INICIAL) AND CONVERT(DATE,ISNULL(A.DT_FINAL_CICLO_ESTENDIDO,A.DT_FINAL)) ) CICLO_PARCELA,
			   D.CD_PARCELA,
			   C.CD_PESSOA_RESPONSAVEL_EST_COMERCIAL,
			   isnull(D.VL_ORIGINAL_PARCELA,0) - (CASE WHEN (ISNULL(C.VL_FRETE_TOTAL,0) > 0 AND dbo.FN_BUSCA_QTD_PARCELAS_PEDIDO (C.NM_PEDIDO) > 0) THEN
				                                         ISNULL(C.VL_FRETE_TOTAL,0) / dbo.FN_BUSCA_QTD_PARCELAS_PEDIDO (C.NM_PEDIDO) 
			                                           ELSE
				                                        0
			                                      END)
		    FROM TB_DIVIDA B WITH (NOLOCK), TB_PEDIDO C WITH (NOLOCK), TB_PARCELA D WITH (NOLOCK)
		    WHERE B.NM_PEDIDO                    = C.NM_PEDIDO
		    AND   B.CD_PESSOA                    = C.CD_PESSOA
		    AND   B.CD_DIVIDA			 = D.CD_DIVIDA			
		    AND   C.NM_CICLO_CANCELAMENTO        IS NULL
		    AND   C.CD_PESSOA_RESPONSAVEL_EST_COMERCIAL = @CD_PESSOA
		    AND   C.CD_EST_COMERCIAL             = @CD_EST_COMERCIAL
		    AND   B.ID_SITUACAO_PAGAMENTO         <> 4 -- CANCELADO
		    AND   D.ID_SITUACAO_PAGAMENTO_PARCELA <> 4 -- CANCELADO
		    AND   D.CD_PARCELA  NOT IN (SELECT E.CD_PARCELA_COMISSAO FROM TB_FV_DETALHE_COMISSAO E WITH (NOLOCK)
						WHERE  E.NM_PEDIDO = B.NM_PEDIDO AND E.CD_FV_COMISSAO = @V_CD_FV_REGRA_COMISSAO)				

		    ORDER BY 1,4
		    OPEN @CURSOR_PARCELA
		    FETCH NEXT FROM @CURSOR_PARCELA
		    INTO @V_NM_PEDIDO, @V_NM_CICLO_INDICADOR, @V_NM_CICLO_PARCELA, @V_CD_PARCELA, @V_CD_PESSOA_RESPONSAVEL_EST_COMERCIAL, @V_VL_ORIGINAL_PARCELA  
		    WHILE @@FETCH_STATUS = 0 
		    BEGIN  

			SET  @V_VL_COMISSAO = 0
			-- BUSCA O INDICADOR METRICA
			SET @V_VL_INDICADOR_METRICA = 0
			SELECT @V_VL_INDICADOR_METRICA = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
			FROM TB_PESSOA_INDICADOR A with (NOLOCK)
			WHERE A.NM_CICLO = @V_NM_CICLO_INDICADOR
			AND dbo.FN_EST_COMERCIAL(@CD_EST_COMERCIAL, A.CD_EST_COMERCIAL) = 1 
			AND A.CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_METRICA

			-- SOMENTE CALCULA SE A METRICA É MAIOR QUE ZERO
			IF (@V_VL_INDICADOR_METRICA > 0)
			BEGIN
				-- BUSCA O VALOR DA FAIXA
				SELECT @V_VL_METRICA = isnull(max(VL_FAIXA),0)
				FROM TB_FV_REGRA_COMISSAO_FAIXA with (NOLOCK)
				WHERE CD_FV_REGRA_COMISSAO = @V_CD_FV_REGRA_COMISSAO
				AND   @V_VL_INDICADOR_METRICA BETWEEN VL_FAIXA_INICIAL AND VL_FAIXA_FINAL

				IF (@V_ID_FORMA_COMISSAO = 2)      -- PERCENTUAL
				BEGIN    
					-- SOMENTE CALCULA SE O CALCULO É MAIOR QUE ZERO
					IF (@V_VL_ORIGINAL_PARCELA > 0)
					BEGIN
		  				SET @V_VL_COMISSAO = (@V_VL_ORIGINAL_PARCELA * (@V_VL_METRICA / 100))
 
					END -- fim V_VL_INDICADOR_CALCULO > 0

		  		END  -- fim @V_ID_FORMA_COMISSAO = 2
	
		  		IF (@V_VL_COMISSAO > 0)  
				BEGIN

					-- INSERIR A COMISSAO
					SELECT @V_@EXISTE_COM = COUNT(*)
					FROM TB_FV_COMISSAO with (NOLOCK)
					WHERE CD_PESSOA            = @CD_PESSOA
					AND   NM_CICLO             = @V_NM_CICLO_PARCELA
					AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
					AND   CD_FUNCAO            = 4 -- FORCA DE VENDAS
					AND   ID_SITUACAO_COMISSAO = 1 -- A CALCULAR

					IF (@V_@EXISTE_COM = 0)
					BEGIN
						BEGIN TRANSACTION
						INSERT INTO TB_FV_COMISSAO
								(CD_PESSOA,
								NM_CICLO,
								CD_EST_COMERCIAL,
								CD_FUNCAO,
								VL_ORIGINAL,
								VL_AJUSTADO,
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO,
							        ID_SITUACAO_COMISSAO
							) VALUES
								(@CD_PESSOA, @V_NM_CICLO_PARCELA, @CD_EST_COMERCIAL, 4, @V_VL_COMISSAO,
								@V_VL_COMISSAO, GETDATE(), 0,GETDATE(), 0, 1)  -- A CALCULAR
						SELECT @V_CD_FV_COMISSAO = IDENT_CURRENT('TB_FV_COMISSAO')
						COMMIT TRANSACTION
					END
					ELSE
					BEGIN
						BEGIN TRANSACTION
						UPDATE TB_FV_COMISSAO
						SET VL_ORIGINAL            = VL_ORIGINAL + @V_VL_COMISSAO,
							VL_AJUSTADO            = VL_AJUSTADO + @V_VL_COMISSAO,
							DT_ATUALIZACAO         = GETDATE(),
							CD_USUARIO_ATUALIZACAO = 0
						WHERE CD_PESSOA        = @CD_PESSOA
						AND   NM_CICLO         = @V_NM_CICLO_PARCELA
						AND   CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						AND   CD_FUNCAO        = 4 -- FORCA DE VENDAS
						AND   ID_SITUACAO_COMISSAO = 1 -- A CALCULAR
						COMMIT TRANSACTION
          
						SELECT  @V_CD_FV_COMISSAO = CD_FV_COMISSAO
						FROM TB_FV_COMISSAO with (NOLOCK)
						WHERE CD_PESSOA        = @CD_PESSOA
						AND   NM_CICLO         = @V_NM_CICLO_PARCELA
						AND   CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						AND   CD_FUNCAO        = 4 -- FORCA DE VENDAS
						AND   ID_SITUACAO_COMISSAO = 1 -- A CALCULAR
					END
        	
					-- INSERIR DETALHE COMISSAO
					BEGIN TRANSACTION
					INSERT INTO TB_FV_DETALHE_COMISSAO
						(CD_FV_REGRA_COMISSAO,
						CD_FV_COMISSAO,
						VALOR,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO,
						NM_PEDIDO,
						CD_PARCELA_COMISSAO,
						VL_ORIGEM_COMISSAO,
						VL_FORMA_COMISSAO) VALUES
						(@V_CD_FV_REGRA_COMISSAO, @V_CD_FV_COMISSAO, @V_VL_COMISSAO,
						GETDATE(), 0,GETDATE(), 0,@V_NM_PEDIDO,@V_CD_PARCELA,@V_VL_ORIGINAL_PARCELA, @V_VL_METRICA )
					COMMIT TRANSACTION

				
				END -- fim @V_VL_REGRA_COMISSAO > 0
			
			END --fim @V_VL_INDICADOR_METRICA > 0


			FETCH NEXT FROM @CURSOR_PARCELA
			INTO @V_NM_PEDIDO, @V_NM_CICLO_INDICADOR, @V_NM_CICLO_PARCELA, @V_CD_PARCELA, @V_CD_PESSOA_RESPONSAVEL_EST_COMERCIAL, @V_VL_ORIGINAL_PARCELA    
		    END                           
		    CLOSE       @CURSOR_PARCELA
		    DEALLOCATE  @CURSOR_PARCELA    

		END  --@V_ID_PARCELA_COMISSAO = 1  -- SIM

		FETCH NEXT FROM @CURSOR_REGRA_COMISSAO 
		INTO @V_CD_FV_REGRA_COMISSAO,@V_DC_FV_REGRA_COMISSAO,@V_CD_NIVEL_EST_COMERCIAL,@V_ID_FORMA_COMISSAO,@V_CD_INDICADOR_METRICA ,@V_CD_INDICADOR_CALCULO, @V_ID_PARCELA_COMISSAO
		 
	END
	CLOSE       @CURSOR_REGRA_COMISSAO 
	DEALLOCATE  @CURSOR_REGRA_COMISSAO 

	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
		
END TRY	

BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;


GO
