SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_LILIH]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0)

BEGIN TRY


  
    SELECT @QT_LINHAS_AFETADAS = 0
    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_RESUMO A with (NOLOCK)
      WHERE A.CD_PESSOA         = @CD_PESSOA
      AND   A.CD_FUNCAO         = @CD_FUNCAO

      --******************************************************************************
      -- GRAVA INDICADOR  DE TOTAL DE DIRETOS
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR =  ISNULL(COUNT(DISTINCT B1.CD_PESSOA_VINCULADA),0)
        FROM TB_WRK_MN_TOPOLOGIA B1 with (NOLOCK)
        WHERE B1.CD_PESSOA             = @CD_PESSOA
        AND   B1.CD_FUNCAO             = @CD_FUNCAO
        AND   B1.ID_ORDEM              = 2 -- DESCENDENTE
        AND   B1.NM_CICLO              = @NM_CICLO
        AND   B1.ID_TIPO_REDE_MN       = 1 -- REDE UNILEVEL
        AND   B1.NM_NIVEL              = 1
  
        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR with (NOLOCK)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	END
      END


      --******************************************************************************************
      -- GRAVA INDICADOR  DE VALOR DE PEDIDOS PELA LOJA
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
	FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK)
	WHERE (A.CD_PESSOA = @CD_PESSOA AND A.CD_RV_INDICANTE = @CD_PESSOA)
        AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR with (NOLOCK)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	END
      END


      --******************************************************************************************
      -- GRAVA INDICADOR  DE VALOR DA COMISSÃO ACUMULADA
      --******************************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = ISNULL(SUM(VL_AJUSTADO),0)
        FROM TB_MN_REMUNERACAO with (NOLOCK)
        WHERE CD_PESSOA = @CD_PESSOA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        --VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
        FROM TB_PESSOA_INDICADOR with (NOLOCK)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	IF (@EXISTE_REGISTRO     = 0) 
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	END
      END





    END -- fim EVENTO = 6

    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
