SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PromocaoConsultaPromocaoDesempenho]
	@CD_PROMOCAO NUMERIC(18,0),          -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
	@NM_CICLO_INICIAL NUMERIC(18,0),     -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
	@NM_CICLO_FINAL NUMERIC(18,0),       -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
	@DT_INICIAL  DATE,                   -- Se ficar em branco listar todos (enviar “01-01-1900” na chamada da proc)
	@DT_FINAL  DATE                     -- Se ficar em branco listar todos (enviar “31-12-2300” na chamada da proc)
	--@CD_ERRO INT OUTPUT,
	--@DC_ERRO NVARCHAR(MAX) OUTPUT,
	--@QT_LINHAS_AFETADAS INT OUTPUT

-- Se estiver preenchido o filtro PROMOCAO pode colocar um intervalo de CICLO (NM_CICLO_INICIAL e NM_CICLO_FINAL) maior que 1. Se não estiver preenchido o intervalo é somente de 1 ciclo.
-- Se estiver preenchido o filtro PROMOCAO pode colocar um intervalo de DATA (DT_INICIAL e DT_FINAL) no máximo de 60 dias. Se não estiver preenchido o intervalo é no máximp de 30 dias.
-- Se não estiver preenchido o filtro PROMOCAO, será orbigatório preencher os campos de CICLO (NM_CICLO_INICIAL e NM_CICLO_FINAL) ou DATA (DT_INICIAL e DT_FINAL).
-- ALTER TABLE TB_MATERIAL ADD VL_CUSTO_UNITARIO_MARKETING NUMERIC(18,2)
	
AS

DECLARE @V_CURSOR_PROMOCAO  CURSOR,
	@V_CURSOR_CICLO     CURSOR,
	@V_CD_PROMOCAO      NUMERIC(18,0),
	@V_DC_PROMOCAO      VARCHAR (80),
	@V_ID_TIPO_PROMOCAO INT

DECLARE @V_NM_CICLO                      NUMERIC(18,0),
	@V_QT_PEDIDOS                    NUMERIC(18,0),
	@V_VL_PEDIDOS                    NUMERIC(18,2),
	@V_QT_ITENS_REQUISITO            NUMERIC(18,0),
	@V_VL_ITENS_REQUISITO            NUMERIC(18,2),
	@V_VL_CUSTO_BENEFICIO            NUMERIC(18,2),
	@V_CD_PROMOCAO_PRELIMINAR        NUMERIC(18,0),
	@V_DC_PROMOCAO_PRELIMINAR        VARCHAR (80),
	@V_ID_TIPO_PROMOCAO_PRELIMILAR	 INT,
	@V_QT_PEDIDOS_PRELIMILAR         NUMERIC(18,0),
	@V_VL_PEDIDOS_PRELIMILAR         NUMERIC(18,2),
	@V_QT_ITENS_REQUISITO_PRELIMILAR NUMERIC(18,0),
	@V_VL_ITENS_REQUISITO_PRELIMILAR NUMERIC(18,2)

BEGIN
	--SELECT @QT_LINHAS_AFETADAS = 0
	--SELECT @CD_ERRO 

	CREATE TABLE #TMP_PROMOCAO_CONSULTA
	(CD_PROMOCAO NUMERIC(18,0),
	DC_PROMOCAO VARCHAR (80),
	NM_CICLO  NUMERIC(18,0),
	DC_TIPO_PROMOCAO VARCHAR (80),
	QT_PEDIDOS NUMERIC(18,0),
	VL_PEDIDOS NUMERIC(18,2),
	QT_ITENS_REQUISITO NUMERIC(18,0),
	VL_ITENS_REQUISITO NUMERIC(18,2),
	VL_CUSTO_BENEFICIO NUMERIC(18,2),
	VL_PERCENTUAL_CUSTO_BENEFICIO NUMERIC(18,2),
	CD_PROMOCAO_PRELIMINAR NUMERIC(18,0),
	DC_PROMOCAO_PRELIMINAR VARCHAR (80),
	DC_TIPO_PROMOCAO_PRELIMILAR VARCHAR (80),
	QT_PEDIDOS_PRELIMILAR NUMERIC(18,0),
	VL_PEDIDOS_PRELIMILAR NUMERIC(18,2),
	QT_ITENS_REQUISITO_PRELIMILAR NUMERIC(18,0),
	VL_ITENS_REQUISITO_PRELIMILAR NUMERIC(18,2)     )

	-- 1 : BUSCA AS PROMOÇÕES OU UMA UNICA PROMOÇÃO
	-- ABRE O CURSOR PROMOÇÃO
	SET @V_CURSOR_PROMOCAO = CURSOR FAST_FORWARD
	FOR
	/*SELECT A.CD_PROMOCAO
		, A.DC_PROMOCAO
		, A.ID_TIPO_PROMOCAO   -- 1 (PRODUTO) / 2 (FAIXA DE VALOR DE PEDIDO) / 3 (ATIVIDADE) / 4 (DESCONTO FRETE)
	FROM TB_PROMOCAO A WITH (NOLOCK)
	WHERE ( (@CD_PROMOCAO > 0 AND A.CD_PROMOCAO = @CD_PROMOCAO) OR (@CD_PROMOCAO = 0)  )
	/*AND   ( ( ( @NM_CICLO_INICIAL BETWEEN A.NM_CICLO_INICIAL AND A.NM_CICLO_FINAL ) OR 
	          ( A.NM_CICLO_INICIAL >= @NM_CICLO_INICIAL ) OR      
		      ( @NM_CICLO_FINAL BETWEEN A.NM_CICLO_INICIAL AND A.NM_CICLO_FINAL ) OR 
	          ( A.NM_CICLO_FINAL >= @NM_CICLO_FINAL )                )           OR
		    ( (convert(date,@DT_INICIAL,103) BETWEEN convert(date, A.DT_INICIAL, 103) AND convert(date, A.DT_FINAL, 103)    ) OR 
		      (convert(date, A.DT_INICIAL, 103) >= convert(date,@DT_INICIAL,103)  )    OR 
		      (convert(date,@DT_FINAL,103) BETWEEN convert(date, A.DT_INICIAL, 103) AND convert(date, A.DT_FINAL, 103)    ) OR 
		      (convert(date, A.DT_FINAL, 103) >= convert(date,@DT_FINAL,103)  )  )
		  ) */
	AND   A.ID_PROMOCAO_PRELIMINAR = 0   -- NÃO
	ORDER BY 1 */

	SELECT A.CD_PROMOCAO
		,A.DC_PROMOCAO
		,A.ID_TIPO_PROMOCAO
	FROM TB_PROMOCAO A WITH (NOLOCK),
		(SELECT DISTINCT B.CD_PROMOCAO PROMOCAO
		 FROM TB_PEDIDO A WITH (NOLOCK),
			TB_PEDIDO_ITEM_PROMOCAO B WITH (NOLOCK)
		WHERE A.NM_PEDIDO = B.NM_PEDIDO   
		AND   A.NM_CICLO_CANCELAMENTO IS NULL
		AND  ( (@NM_CICLO_INICIAL > 0  AND A.NM_CICLO_APROVACAO >= @NM_CICLO_INICIAL) OR  (@NM_CICLO_INICIAL = 0) )
		AND  ( (@NM_CICLO_FINAL   > 0  AND A.NM_CICLO_APROVACAO <= @NM_CICLO_FINAL)   OR  (@NM_CICLO_FINAL   = 0) )
		AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
		AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103) 
		UNION
		SELECT DISTINCT B.CD_PROMOCAO PROMOCAO
		 FROM TB_PEDIDO A WITH (NOLOCK),
			TB_WRK_POLITICA_ENTREGA B WITH (NOLOCK)
		WHERE A.NM_PEDIDO = B.NM_PEDIDO   
		AND   A.NM_CICLO_CANCELAMENTO IS NULL
		AND  ( (@NM_CICLO_INICIAL > 0  AND A.NM_CICLO_APROVACAO >= @NM_CICLO_INICIAL) OR  (@NM_CICLO_INICIAL = 0) )
		AND  ( (@NM_CICLO_FINAL   > 0  AND A.NM_CICLO_APROVACAO <= @NM_CICLO_FINAL)   OR  (@NM_CICLO_FINAL   = 0) )
		AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
		AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103) ) B
	WHERE ( (@CD_PROMOCAO > 0 AND A.CD_PROMOCAO = @CD_PROMOCAO) OR (@CD_PROMOCAO = 0)  )
	AND   A.CD_PROMOCAO            = B.PROMOCAO
	AND   A.ID_PROMOCAO_PRELIMINAR = 0   -- NÃO
	ORDER BY 1

	OPEN @V_CURSOR_PROMOCAO 
	FETCH NEXT FROM @V_CURSOR_PROMOCAO 
	INTO @V_CD_PROMOCAO, @V_DC_PROMOCAO, @V_ID_TIPO_PROMOCAO  
	WHILE @@FETCH_STATUS = 0 
	BEGIN  

		IF (@V_ID_TIPO_PROMOCAO IN (1, 2, 3) )  -- PRODUTO / FAIXA DE VALOR DE PEDIDO / ATIVIDADE
		BEGIN

			-- 2 : BUSCA OS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO POR CICLO
			-- ABRE O CURSOR DE PEDIDOS
			SET @V_CURSOR_CICLO = CURSOR FAST_FORWARD
			FOR
			SELECT A.NM_CICLO_APROVACAO, 
				isnull(COUNT(B.PEDIDO),0), --  TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO, 
				Isnull(SUM(A.VL_PRODUTOS_TOTAL),0) --VALOR TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO
			FROM TB_PEDIDO A WITH (NOLOCK),
				(SELECT distinct NM_PEDIDO PEDIDO
				FROM TB_PEDIDO_ITEM_PROMOCAO WITH (NOLOCK)
				WHERE CD_PROMOCAO = @V_CD_PROMOCAO) B
			WHERE A.NM_PEDIDO = B.PEDIDO   
			AND   A.NM_CICLO_CANCELAMENTO IS NULL
			AND  ( (@NM_CICLO_INICIAL > 0  AND A.NM_CICLO_APROVACAO >= @NM_CICLO_INICIAL) OR  (@NM_CICLO_INICIAL = 0) )
			AND  ( (@NM_CICLO_FINAL   > 0  AND A.NM_CICLO_APROVACAO <= @NM_CICLO_FINAL)   OR  (@NM_CICLO_FINAL   = 0) )
			AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
			AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103) 
			GROUP BY A.NM_CICLO_APROVACAO
			ORDER BY 1
		END

		IF (@V_ID_TIPO_PROMOCAO IN (4) )  -- DESCONTO FRETE
		BEGIN

			-- 2 : BUSCA OS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO POR CICLO
			-- ABRE O CURSOR DE PEDIDOS
			SET @V_CURSOR_CICLO = CURSOR FAST_FORWARD
			FOR
			SELECT A.NM_CICLO_APROVACAO, 
				isnull(COUNT(B.PEDIDO),0), --  TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO, 
				Isnull(SUM(A.VL_PRODUTOS_TOTAL),0) --VALOR TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO
			FROM TB_PEDIDO A WITH (NOLOCK),
				(SELECT distinct NM_PEDIDO PEDIDO, CD_POLITICA_ENTREGA POLITICA_ENTREGA, CD_TRANSPORTADORA TRANSPORTADORA, DC_TIPO_ENTREGA TIPO_ENTREGA
				FROM TB_WRK_POLITICA_ENTREGA WITH (NOLOCK)
				WHERE CD_PROMOCAO = @V_CD_PROMOCAO) B
			WHERE   A.NM_PEDIDO       = B.PEDIDO	
			AND A.CD_POLITICA_ENTREGA = B.POLITICA_ENTREGA 
			AND A.CD_TRANSPORTADORA   = B.TRANSPORTADORA  
			AND A.DC_TIPO_ENTREGA     = B.TIPO_ENTREGA  
			AND   A.NM_CICLO_CANCELAMENTO IS NULL
			AND  ( (@NM_CICLO_INICIAL > 0  AND A.NM_CICLO_APROVACAO >= @NM_CICLO_INICIAL) OR  (@NM_CICLO_INICIAL = 0) )
			AND  ( (@NM_CICLO_FINAL   > 0  AND A.NM_CICLO_APROVACAO <= @NM_CICLO_FINAL)   OR  (@NM_CICLO_FINAL   = 0) )
			AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
			AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103) 
			GROUP BY A.NM_CICLO_APROVACAO
			ORDER BY 1

		END

		OPEN @V_CURSOR_CICLO
		FETCH NEXT FROM @V_CURSOR_CICLO
		INTO @V_NM_CICLO, @V_QT_PEDIDOS, @V_VL_PEDIDOS
		WHILE @@FETCH_STATUS = 0 
		BEGIN 
			IF (ISNULL(@V_NM_CICLO,0) > 0)
			BEGIN

				SELECT 	@V_QT_ITENS_REQUISITO     = 0,
					@V_VL_ITENS_REQUISITO            = 0,
					@V_VL_CUSTO_BENEFICIO            = 0

				IF (@V_ID_TIPO_PROMOCAO IN (1) )  -- PRODUTO 
				BEGIN 

					-- 3 : BUSCA OS REQUISITOS (PRODUTO) DOS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO POR CICLO
					SELECT  @V_QT_ITENS_REQUISITO = isnull(SUM (B.QT_RESERVADA),0),    -- TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
						@V_VL_ITENS_REQUISITO = isnull(SUM (B.VL_LIQUIDO_TOTAL),0) -- VALOR TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
					FROM TB_PEDIDO A WITH (NOLOCK),
						TB_PEDIDO_ITEM B WITH (NOLOCK),
						(SELECT DISTINCT NM_PEDIDO PEDIDO
						FROM TB_PEDIDO_ITEM_PROMOCAO WITH (NOLOCK)
						WHERE CD_PROMOCAO = @V_CD_PROMOCAO) C,
						(SELECT  DISTINCT CASE WHEN (A.ID_TIPO_REQUISITO = 1) THEN A.CD_TIPO_REQUISITO ELSE B.CD_PRODUTO_VENDA END PRODUTO_VENDA
						FROM TB_PROMOCAO_REQUISITO A WITH (NOLOCK)
						LEFT JOIN TB_PRODUTO_VENDA_ESTRUTURA B WITH (NOLOCK) ON B.CD_EST_PRODUTO = A.CD_TIPO_REQUISITO AND A.ID_TIPO_REQUISITO = 2 
						WHERE A.CD_PROMOCAO = @V_CD_PROMOCAO) D
					WHERE A.NM_PEDIDO = B.NM_PEDIDO  
					AND   A.NM_PEDIDO = C.PEDIDO
					AND B.CD_PRODUTO_VENDA = D.PRODUTO_VENDA
					AND   A.NM_CICLO_APROVACAO  = @V_NM_CICLO
					AND   A.NM_CICLO_CANCELAMENTO IS NULL
					AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
					AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103)
							
				END

				ELSE IF (@V_ID_TIPO_PROMOCAO IN (2) )  -- FAIXA DE VALOR DE PEDIDO 
				BEGIN 

					-- 3 : BUSCA OS REQUISITOS (PRODUTO) DOS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO POR CICLO
					SELECT  @V_QT_ITENS_REQUISITO = isnull(SUM (B.QT_RESERVADA),@V_QT_PEDIDOS),    -- TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
						@V_VL_ITENS_REQUISITO = isnull(SUM (B.VL_LIQUIDO_TOTAL),@V_VL_PEDIDOS) -- VALOR TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
					FROM TB_PEDIDO A WITH (NOLOCK),
						TB_PEDIDO_ITEM B WITH (NOLOCK),
						(SELECT DISTINCT NM_PEDIDO PEDIDO
						FROM TB_PEDIDO_ITEM_PROMOCAO WITH (NOLOCK)
						WHERE CD_PROMOCAO = @V_CD_PROMOCAO) C,
						(SELECT DISTINCT CASE WHEN (A.ID_TIPO_REQUISITO_FAIXA IN (2,3)) THEN A.CD_TIPO_REQUISITO_FAIXA ELSE B.CD_PRODUTO_VENDA END PRODUTO_VENDA
						FROM TB_PROMOCAO_REQUISITO_FAIXA A WITH (NOLOCK)
						LEFT JOIN TB_PRODUTO_VENDA_ESTRUTURA B WITH (NOLOCK) ON B.CD_EST_PRODUTO = A.CD_TIPO_REQUISITO_FAIXA AND A.ID_TIPO_REQUISITO_FAIXA IN 																			(2,3,4,5,7) 
						WHERE A.CD_PROMOCAO = @V_CD_PROMOCAO) D
					WHERE A.NM_PEDIDO = B.NM_PEDIDO  
					AND   A.NM_PEDIDO = C.PEDIDO
					AND B.CD_PRODUTO_VENDA = D.PRODUTO_VENDA
					AND   A.NM_CICLO_APROVACAO  =  @V_NM_CICLO
					AND   A.NM_CICLO_CANCELAMENTO IS NULL
					AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
					AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103)
							
				END
				ELSE
				BEGIN
					SELECT  @V_QT_ITENS_REQUISITO = @V_QT_PEDIDOS,  -- TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
						@V_VL_ITENS_REQUISITO = @V_VL_PEDIDOS   -- VALOR TOTAL DE PRODUTOS COMPRADOS DO REQUISITO

				END

				IF (@V_ID_TIPO_PROMOCAO IN (1, 2, 3) )  -- PRODUTO / FAIXA DE VALOR DE PEDIDO / ATIVIDADE
				BEGIN
					-- 4 : BUSCA OS BENEFICIOS DOS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO POR CICLO
					SELECT @V_VL_CUSTO_BENEFICIO = CASE WHEN ISNULL(SUM (B.VALOR_BRINDE),0) > 0 THEN ISNULL(SUM (B.VALOR_BRINDE),0)
										ELSE 
										ISNULL(SUM(B.QDE * B.CUSTO_BRINDE),0) END -- VALOR DOS BRINDES
					FROM TB_PEDIDO A WITH (NOLOCK),
						(SELECT A.NM_PEDIDO PEDIDO, 
							ISNULL(B.VL_CUSTO_UNITARIO_MARKETING,0) CUSTO_BRINDE,  -- CRIAR COLUNA NA TB_MATERIAL VL_CUSTO_UNITARIO_MARKETING NUMERIC(18,2)
							SUM(A.QT_RESERVADA) QDE, 
							SUM(A.VL_PRATICADO_TOTAL - A.VL_LIQUIDO_TOTAL) VALOR_BRINDE
						FROM TB_PEDIDO_ITEM_PROMOCAO A WITH (NOLOCK)
							LEFT JOIN TB_MATERIAL B WITH (NOLOCK) ON A.CD_MATERIAL = B.CD_MATERIAL
						WHERE CD_PROMOCAO = @V_CD_PROMOCAO
						GROUP BY NM_PEDIDO, 
							B.VL_CUSTO_UNITARIO_MARKETING)  B -- CRIAR COLUNA NA TB_MATERIAL VL_CUSTO_UNITARIO_MARKETING NUMERIC(18,2)
					WHERE A.NM_PEDIDO = B.PEDIDO  
					AND   A.NM_CICLO_APROVACAO = @V_NM_CICLO
					AND   A.NM_CICLO_CANCELAMENTO IS NULL
					AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
					AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103)
				END

				IF (@V_ID_TIPO_PROMOCAO IN (4) )  -- DESCONTO FRETE
				BEGIN
					-- 4 : BUSCA OS BENEFICIOS DOS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO POR CICLO
					SELECT @V_VL_CUSTO_BENEFICIO = 	ISNULL(SUM(B.VALOR_BRINDE),0) -- VALOR DOS BRINDES
					FROM TB_PEDIDO A WITH (NOLOCK),
						(SELECT distinct NM_PEDIDO PEDIDO, 
							CD_POLITICA_ENTREGA POLITICA_ENTREGA, 
							CD_TRANSPORTADORA TRANSPORTADORA, 
							DC_TIPO_ENTREGA TIPO_ENTREGA,
							VL_DESCONTO_FRETE_APLICADO VALOR_BRINDE
						FROM TB_WRK_POLITICA_ENTREGA WITH (NOLOCK)
						WHERE CD_PROMOCAO = @V_CD_PROMOCAO) B
					WHERE A.NM_PEDIDO = B.PEDIDO  
					AND A.CD_POLITICA_ENTREGA = B.POLITICA_ENTREGA 
					AND A.CD_TRANSPORTADORA   = B.TRANSPORTADORA  
					AND A.DC_TIPO_ENTREGA     = B.TIPO_ENTREGA 
					AND   A.NM_CICLO_APROVACAO = @V_NM_CICLO
					AND   A.NM_CICLO_CANCELAMENTO IS NULL
					AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
					AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103)
				END

				-- 5 : VERIFICA SE TEM PROMOCAO PRELIMINAR
				SELECT @V_CD_PROMOCAO_PRELIMINAR  = ISNULL(MAX(CD_PROMOCAO_DEPENDENTE),0) 
				FROM TB_PROMOCAO_DEPENDENTE WITH(NOLOCK) 	
				WHERE CD_PROMOCAO = @V_CD_PROMOCAO

				SELECT 	@V_QT_PEDIDOS_PRELIMILAR         = null,
						@V_VL_PEDIDOS_PRELIMILAR         = null,	
						@V_QT_ITENS_REQUISITO_PRELIMILAR = null,
						@V_VL_ITENS_REQUISITO_PRELIMILAR = null

				IF (@V_CD_PROMOCAO_PRELIMINAR > 0)
				BEGIN

					-- 6 : BUSCA INFORMAÇÕES DA PROMOCAO PRELIMINAR
					SELECT @V_ID_TIPO_PROMOCAO_PRELIMILAR = ISNULL(ID_TIPO_PROMOCAO,0),
						@V_DC_PROMOCAO_PRELIMINAR = DC_PROMOCAO 
					FROM TB_PROMOCAO WITH (NOLOCK) 
					WHERE CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR

					IF (@V_ID_TIPO_PROMOCAO_PRELIMILAR IN (1, 2, 3) )  -- PRODUTO / FAIXA DE VALOR DE PEDIDO / ATIVIDADE
					BEGIN

						-- 7 : BUSCA OS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO PRELIMINAR POR CICLO
						SELECT @V_QT_PEDIDOS_PRELIMILAR = isnull(COUNT(B.PEDIDO),0), --  TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO, 
							@V_VL_PEDIDOS_PRELIMILAR = isnull(SUM(A.VL_PRODUTOS_TOTAL),0) --VALOR TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO
						FROM TB_PEDIDO A WITH (NOLOCK),
							(SELECT distinct NM_PEDIDO PEDIDO FROM TB_PEDIDO_PROMOCAO_PRELIMINAR WITH (NOLOCK) WHERE CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR) B  
						WHERE A.NM_PEDIDO = B.PEDIDO
						AND   A.NM_CICLO_APROVACAO  = @V_NM_CICLO
						AND   A.NM_CICLO_CANCELAMENTO IS NULL
						AND   convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103) 
						AND   convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103) 

						IF (@V_QT_PEDIDOS_PRELIMILAR = 0)
						BEGIN
							-- 7 : BUSCA OS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO PRELIMINAR
							SELECT @V_QT_PEDIDOS_PRELIMILAR = isnull(COUNT(B.PEDIDO),0), --  TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO, 
								@V_VL_PEDIDOS_PRELIMILAR = isnull(SUM(A.VL_PRODUTOS_TOTAL),0) --VALOR TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO
							FROM TB_PEDIDO A WITH (NOLOCK),
								(SELECT distinct NM_PEDIDO PEDIDO FROM TB_PEDIDO_PROMOCAO_PRELIMINAR WITH (NOLOCK) WHERE CD_PROMOCAO = 																				@V_CD_PROMOCAO_PRELIMINAR) B  
							WHERE A.NM_PEDIDO = B.PEDIDO
							AND   A.NM_CICLO_APROVACAO IS NOT NULL
							AND   A.NM_CICLO_CANCELAMENTO IS NULL
						END		

					END

					IF (@V_ID_TIPO_PROMOCAO_PRELIMILAR IN (4) )  -- DESCONTO FRETE
					BEGIN

						-- 7 : BUSCA OS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO PRELIMINAR POR CICLO
						SELECT @V_QT_PEDIDOS_PRELIMILAR = isnull(COUNT(B.PEDIDO),0), --  TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO, 
							@V_VL_PEDIDOS_PRELIMILAR = Isnull(SUM(A.VL_PRODUTOS_TOTAL),0) --VALOR TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO
						FROM TB_PEDIDO A WITH (NOLOCK),
							(SELECT distinct NM_PEDIDO PEDIDO, CD_POLITICA_ENTREGA POLITICA_ENTREGA, CD_TRANSPORTADORA TRANSPORTADORA, DC_TIPO_ENTREGA TIPO_ENTREGA
							FROM TB_WRK_POLITICA_ENTREGA WITH (NOLOCK)
							WHERE CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR) B
						WHERE   A.NM_PEDIDO       = B.PEDIDO	
						AND A.CD_POLITICA_ENTREGA = B.POLITICA_ENTREGA 
						AND A.CD_TRANSPORTADORA   = B.TRANSPORTADORA  
						AND A.DC_TIPO_ENTREGA     = B.TIPO_ENTREGA
						AND   A.NM_CICLO_APROVACAO  = @V_NM_CICLO
						AND   A.NM_CICLO_CANCELAMENTO IS NULL
						AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
						AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103)

						IF (@V_QT_PEDIDOS_PRELIMILAR = 0)
						BEGIN
							-- 7 : BUSCA OS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO PRELIMINAR
							SELECT @V_QT_PEDIDOS_PRELIMILAR = isnull(COUNT(B.PEDIDO),0), --  TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO, 
								@V_VL_PEDIDOS_PRELIMILAR = Isnull(SUM(A.VL_PRODUTOS_TOTAL),0) --VALOR TOTAL DE PEDIDOS QUE GANHARAM A PROMOCAO
							FROM TB_PEDIDO A WITH (NOLOCK),
								(SELECT distinct NM_PEDIDO PEDIDO, CD_POLITICA_ENTREGA POLITICA_ENTREGA, CD_TRANSPORTADORA TRANSPORTADORA, DC_TIPO_ENTREGA 											TIPO_ENTREGA
								FROM TB_WRK_POLITICA_ENTREGA WITH (NOLOCK)
								WHERE CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR) B
							WHERE   A.NM_PEDIDO       = B.PEDIDO	
							AND A.CD_POLITICA_ENTREGA = B.POLITICA_ENTREGA 
							AND A.CD_TRANSPORTADORA   = B.TRANSPORTADORA  
							AND A.DC_TIPO_ENTREGA     = B.TIPO_ENTREGA
							AND   A.NM_CICLO_APROVACAO  IS NOT NULL
							AND   A.NM_CICLO_CANCELAMENTO IS NULL
						END		
						
					END
						
	
					IF (@V_ID_TIPO_PROMOCAO_PRELIMILAR IN (1) )  -- PRODUTO     
					BEGIN 

						-- 8 : BUSCA OS REQUISITOS (PRODUTO) DOS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO PRELIMINAR POR CICLO
						SELECT @V_QT_ITENS_REQUISITO_PRELIMILAR = isnull(SUM (B.QT_RESERVADA),0),  -- TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
							@V_VL_ITENS_REQUISITO_PRELIMILAR = isnull(SUM (B.VL_LIQUIDO_TOTAL),0) -- VALOR TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
						FROM TB_PEDIDO A WITH (NOLOCK),
							TB_PEDIDO_ITEM B WITH (NOLOCK),
							(SELECT distinct A.NM_PEDIDO PEDIDO FROM TB_PEDIDO_PROMOCAO_PRELIMINAR A WITH (NOLOCK)
							WHERE  A.CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR ) C, 
							(SELECT DISTINCT CASE WHEN (A.ID_TIPO_REQUISITO = 1) THEN A.CD_TIPO_REQUISITO ELSE B.CD_PRODUTO_VENDA END PRODUTO_VENDA
							FROM TB_PROMOCAO_REQUISITO A WITH (NOLOCK)
								LEFT JOIN TB_PRODUTO_VENDA_ESTRUTURA B WITH (NOLOCK) ON B.CD_EST_PRODUTO = A.CD_TIPO_REQUISITO AND A.ID_TIPO_REQUISITO = 2 
								JOIN TB_PROMOCAO C WITH (NOLOCK) ON C.CD_PROMOCAO = A.CD_PROMOCAO AND C.ID_TIPO_PROMOCAO = 1  -- TIPO PRODUTO
							WHERE A.CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR) D 
						WHERE A.NM_PEDIDO = B.NM_PEDIDO  
						AND   A.NM_PEDIDO = C.PEDIDO
						AND   B.CD_PRODUTO_VENDA = D.PRODUTO_VENDA
						AND   A.NM_CICLO_APROVACAO  = @V_NM_CICLO
						AND   A.NM_CICLO_CANCELAMENTO IS NULL
						AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
						AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103)

						IF (@V_QT_ITENS_REQUISITO_PRELIMILAR = 0 )
						BEGIN
							-- 8 : BUSCA OS REQUISITOS (PRODUTO) DOS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO PRELIMINAR
							SELECT @V_QT_ITENS_REQUISITO_PRELIMILAR = isnull(SUM (B.QT_RESERVADA),0),  -- TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
								@V_VL_ITENS_REQUISITO_PRELIMILAR = isnull(SUM (B.VL_LIQUIDO_TOTAL),0) -- VALOR TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
							FROM TB_PEDIDO A WITH (NOLOCK),
								TB_PEDIDO_ITEM B WITH (NOLOCK),
								(SELECT distinct A.NM_PEDIDO PEDIDO FROM TB_PEDIDO_PROMOCAO_PRELIMINAR A WITH (NOLOCK)
								WHERE  A.CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR ) C, 
								(SELECT DISTINCT CASE WHEN (A.ID_TIPO_REQUISITO = 1) THEN A.CD_TIPO_REQUISITO ELSE B.CD_PRODUTO_VENDA END PRODUTO_VENDA
								FROM TB_PROMOCAO_REQUISITO A WITH (NOLOCK)
									LEFT JOIN TB_PRODUTO_VENDA_ESTRUTURA B WITH (NOLOCK) ON B.CD_EST_PRODUTO = A.CD_TIPO_REQUISITO AND A.ID_TIPO_REQUISITO 																					= 2 
									JOIN TB_PROMOCAO C WITH (NOLOCK) ON C.CD_PROMOCAO = A.CD_PROMOCAO AND C.ID_TIPO_PROMOCAO = 1  -- TIPO PRODUTO
								WHERE A.CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR) D 
							WHERE A.NM_PEDIDO = B.NM_PEDIDO  
							AND   A.NM_PEDIDO = C.PEDIDO
							AND   B.CD_PRODUTO_VENDA = D.PRODUTO_VENDA
							AND   A.NM_CICLO_APROVACAO  IS NOT NULL
							AND   A.NM_CICLO_CANCELAMENTO IS NULL

						END
					END

					IF (@V_ID_TIPO_PROMOCAO_PRELIMILAR IN (2) )  -- FAIXA DE VALOR DE PEDIDO
					BEGIN 

						-- 8 : BUSCA OS REQUISITOS (PRODUTO) DOS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO PRELIMINAR POR CICLO
						SELECT @V_QT_ITENS_REQUISITO_PRELIMILAR = isnull(SUM (B.QT_RESERVADA),0),  -- TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
							@V_VL_ITENS_REQUISITO_PRELIMILAR = isnull(SUM (B.VL_LIQUIDO_TOTAL),0) -- VALOR TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
						FROM TB_PEDIDO A WITH (NOLOCK),
							TB_PEDIDO_ITEM B WITH (NOLOCK),
							(SELECT distinct A.NM_PEDIDO PEDIDO FROM TB_PEDIDO_PROMOCAO_PRELIMINAR A WITH (NOLOCK)
							WHERE  A.CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR ) C, 
							(SELECT DISTINCT CASE WHEN (A.ID_TIPO_REQUISITO_FAIXA IN (2,3)) THEN A.CD_TIPO_REQUISITO_FAIXA ELSE B.CD_PRODUTO_VENDA END 																		PRODUTO_VENDA
							FROM TB_PROMOCAO_REQUISITO_FAIXA A WITH (NOLOCK)
								LEFT JOIN TB_PRODUTO_VENDA_ESTRUTURA B WITH (NOLOCK) ON B.CD_EST_PRODUTO = A.CD_TIPO_REQUISITO_FAIXA AND 																			A.ID_TIPO_REQUISITO_FAIXA IN (2,3,4,5,7) 
								JOIN TB_PROMOCAO C WITH (NOLOCK) ON C.CD_PROMOCAO = A.CD_PROMOCAO AND C.ID_TIPO_PROMOCAO = 2  -- TIPO FAIXA DE VALOR DE PEDIDO
							WHERE A.CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR) D 
						WHERE A.NM_PEDIDO = B.NM_PEDIDO  
						AND   A.NM_PEDIDO = C.PEDIDO
						AND   B.CD_PRODUTO_VENDA = D.PRODUTO_VENDA
						AND   A.NM_CICLO_APROVACAO  = @V_NM_CICLO
						AND   A.NM_CICLO_CANCELAMENTO IS NULL
						AND  convert(date,A.DT_APROVACAO_PEDIDO) >= convert(date,@DT_INICIAL,103)
						AND  convert(date,A.DT_APROVACAO_PEDIDO) <= convert(date,@DT_FINAL,103)

						IF (@V_QT_ITENS_REQUISITO_PRELIMILAR = 0 )
						BEGIN
							-- 8 : BUSCA OS REQUISITOS (PRODUTO) DOS PEDIDOS QUE CONQUISTARAM A PROMOÇÃO PRELIMINAR
							SELECT @V_QT_ITENS_REQUISITO_PRELIMILAR = isnull(SUM (B.QT_RESERVADA),@V_QT_PEDIDOS_PRELIMILAR),  -- TOTAL DE PRODUTOS COMPRADOS DO 																				-- REQUISITO
								@V_VL_ITENS_REQUISITO_PRELIMILAR = isnull(SUM (B.VL_LIQUIDO_TOTAL),@V_VL_PEDIDOS_PRELIMILAR) -- VALOR TOTAL DE PRODUTOS 																				-- COMPRADOS DO REQUISITO
							FROM TB_PEDIDO A WITH (NOLOCK),
								TB_PEDIDO_ITEM B WITH (NOLOCK),
								(SELECT distinct A.NM_PEDIDO PEDIDO FROM TB_PEDIDO_PROMOCAO_PRELIMINAR A WITH (NOLOCK)
								WHERE  A.CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR ) C, 
								(SELECT DISTINCT CASE WHEN (A.ID_TIPO_REQUISITO_FAIXA IN (2,3)) THEN A.CD_TIPO_REQUISITO_FAIXA ELSE B.CD_PRODUTO_VENDA END 																		PRODUTO_VENDA
								FROM TB_PROMOCAO_REQUISITO_FAIXA A WITH (NOLOCK)
								LEFT JOIN TB_PRODUTO_VENDA_ESTRUTURA B WITH (NOLOCK) ON B.CD_EST_PRODUTO = A.CD_TIPO_REQUISITO_FAIXA AND 																			A.ID_TIPO_REQUISITO_FAIXA IN (2,3,4,5,7) 
								JOIN TB_PROMOCAO C WITH (NOLOCK) ON C.CD_PROMOCAO = A.CD_PROMOCAO AND C.ID_TIPO_PROMOCAO = 2  -- TIPO FAIXA DE VALOR DE PEDIDO
								WHERE A.CD_PROMOCAO = @V_CD_PROMOCAO_PRELIMINAR) D 
							WHERE A.NM_PEDIDO = B.NM_PEDIDO  
							AND   A.NM_PEDIDO = C.PEDIDO
							AND   B.CD_PRODUTO_VENDA = D.PRODUTO_VENDA
							AND   A.NM_CICLO_APROVACAO  IS NOT NULL
							AND   A.NM_CICLO_CANCELAMENTO IS NULL

						END
					END


					ELSE
					BEGIN
						SELECT  @V_QT_ITENS_REQUISITO_PRELIMILAR = @V_QT_PEDIDOS_PRELIMILAR,  -- TOTAL DE PRODUTOS COMPRADOS DO REQUISITO
							@V_VL_ITENS_REQUISITO_PRELIMILAR = @V_VL_PEDIDOS_PRELIMILAR   -- VALOR TOTAL DE PRODUTOS COMPRADOS DO REQUISITO

					END


				END
				-- 9 : INSERIR NA TABELA TEMPORARIA
				BEGIN TRAN
				INSERT INTO #TMP_PROMOCAO_CONSULTA
					(CD_PROMOCAO,
					DC_PROMOCAO,
					NM_CICLO,
					DC_TIPO_PROMOCAO,
					QT_PEDIDOS,
					VL_PEDIDOS,
					QT_ITENS_REQUISITO,
					VL_ITENS_REQUISITO,
					VL_CUSTO_BENEFICIO,
					VL_PERCENTUAL_CUSTO_BENEFICIO,
					CD_PROMOCAO_PRELIMINAR,
					DC_PROMOCAO_PRELIMINAR,
					DC_TIPO_PROMOCAO_PRELIMILAR,
					QT_PEDIDOS_PRELIMILAR,
					VL_PEDIDOS_PRELIMILAR,
					QT_ITENS_REQUISITO_PRELIMILAR,		
					VL_ITENS_REQUISITO_PRELIMILAR)  VALUES
					(@V_CD_PROMOCAO,
					@V_DC_PROMOCAO,
					@V_NM_CICLO,
					[dbo].[FN_BUSCA_DOMINIO] ('TIPO_PROMOCAO', @V_ID_TIPO_PROMOCAO), 
					@V_QT_PEDIDOS, 
					@V_VL_PEDIDOS,
					@V_QT_ITENS_REQUISITO,
					@V_VL_ITENS_REQUISITO,
					@V_VL_CUSTO_BENEFICIO,
					CASE WHEN (@V_VL_PEDIDOS > 0) THEN  ((@V_VL_CUSTO_BENEFICIO / @V_VL_PEDIDOS) * 100) ELSE 0 END,
					CASE WHEN (@V_CD_PROMOCAO_PRELIMINAR > 0) THEN @V_CD_PROMOCAO_PRELIMINAR ELSE NULL END,
					@V_DC_PROMOCAO_PRELIMINAR,
					[dbo].[FN_BUSCA_DOMINIO] ('TIPO_PROMOCAO', @V_ID_TIPO_PROMOCAO_PRELIMILAR), 
					@V_QT_PEDIDOS_PRELIMILAR, 
					@V_VL_PEDIDOS_PRELIMILAR,
					@V_QT_ITENS_REQUISITO_PRELIMILAR,
					@V_VL_ITENS_REQUISITO_PRELIMILAR)
				COMMIT TRAN					

			END

			FETCH NEXT FROM @V_CURSOR_CICLO
			INTO @V_NM_CICLO, @V_QT_PEDIDOS, @V_VL_PEDIDOS
		END
		CLOSE      @V_CURSOR_CICLO
		DEALLOCATE @V_CURSOR_CICLO

		FETCH NEXT FROM @V_CURSOR_PROMOCAO
		INTO @V_CD_PROMOCAO, @V_DC_PROMOCAO, @V_ID_TIPO_PROMOCAO
	END
	CLOSE      @V_CURSOR_PROMOCAO
	DEALLOCATE @V_CURSOR_PROMOCAO

	
	-- 10 : LISTAR A TABELA TEMPORARIA
	SELECT NM_CICLO  AS "Ciclo",
		CD_PROMOCAO AS "Cód. Promoção",
		DC_PROMOCAO AS "Promoção",
		DC_TIPO_PROMOCAO AS "Tipo de Promoção ",
		QT_PEDIDOS AS "Qtde Pedidos",
		VL_PEDIDOS AS "Valor Pedidos",
		QT_ITENS_REQUISITO AS "Qtde Itens Requisito",
		VL_ITENS_REQUISITO AS "Valor Itens Requisito",
		VL_CUSTO_BENEFICIO AS "Custo Benefício",
		VL_PERCENTUAL_CUSTO_BENEFICIO AS "% Custo Benefício",
		CD_PROMOCAO_PRELIMINAR AS "Cód. Promoção Preliminar",
		DC_PROMOCAO_PRELIMINAR AS "Promoção Preliminar",
		DC_TIPO_PROMOCAO_PRELIMILAR AS "Tipo de Promoção Preliminar",
		QT_PEDIDOS_PRELIMILAR AS "Qtde Pedidos Preliminar",
		VL_PEDIDOS_PRELIMILAR AS "Valor Pedidos Preliminar",
		QT_ITENS_REQUISITO_PRELIMILAR AS "Qtde Itens Requisito Preliminar",		
		VL_ITENS_REQUISITO_PRELIMILAR AS "Valor Itens Requisito Preliminar"	
	FROM #TMP_PROMOCAO_CONSULTA
	ORDER BY NM_CICLO, DC_PROMOCAO



	-- DROPAR A TABELA TEMPORÁRIA
	DROP TABLE #TMP_PROMOCAO_CONSULTA

		
END

--BEGIN CATCH
--  SELECT @CD_ERRO = 1
--  SELECT @DC_ERRO = ERROR_MESSAGE()
      
--  IF @@TRANCOUNT > 0
--    ROLLBACK 
--END CATCH;
GO
