SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_BUSCA_VALOR_ATUALIZADO_DIVIDA]
	@CD_DIVIDA numeric(18, 0),
	@CD_PARCELA numeric(18, 0),
	@DT_REFERENCIA DATE,
	
	@VL_SALDO numeric(18, 2) OUTPUT,
	@VL_MULTA numeric(18, 2) OUTPUT,
	@VL_MORA numeric(18, 2) OUTPUT,
	@VL_TOTAL numeric(18, 2) OUTPUT,
	@CD_ERRO		INT OUTPUT,
	@DC_ERRO		NVARCHAR(MAX) OUTPUT
	
AS

DECLARE @V_VL_ORIGINAL_PARCELA_SALDO numeric (18,2),
		@V_DT_VENCIMENTO DATE,
		@V_ID_SITUACAO_PARCELA int,
		@V_NM_PEDIDO numeric(18, 0),
		@V_CD_PLANO_PAGAMENTO numeric(18, 0),
		@V_PC_MULTA numeric(15, 2),
		@V_PC_MORA_DIARIA numeric(15, 2),
		@V_QDE_DIAS_UTEIS int,
		@V_CONTADOR int
		
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @CD_ERRO = 0
	    	    
	    -- **************************************************************
	    -- VERIFICA A QTDADE DE PARCELAS DA DIVIDA
	    -- BUSCA O VALOR ORIGINAL DA DIVIDA E DATA DE VENCIMENTO
	    -- **************************************************************
	      
	    SELECT @V_CONTADOR  = COUNT(*)
	    FROM TB_PARCELA
	    WHERE CD_DIVIDA =@CD_DIVIDA
	    AND  CD_PARCELA = @CD_PARCELA      
	    IF @V_CONTADOR = 0
		-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Parcela não encontrada'
				RETURN
			END
	    	    
	    SELECT @V_VL_ORIGINAL_PARCELA_SALDO = VL_ORIGINAL_PARCELA_SALDO
	          ,@V_DT_VENCIMENTO            = DT_VENCIMENTO
	          ,@V_ID_SITUACAO_PARCELA      = ID_SITUACAO_PARCELA
	    FROM TB_PARCELA
	    WHERE CD_DIVIDA =@CD_DIVIDA
	    AND  CD_PARCELA = @CD_PARCELA      
	    	    
	    IF @V_DT_VENCIMENTO >= @DT_REFERENCIA
			BEGIN
				IF @V_ID_SITUACAO_PARCELA = 2
					BEGIN
						SELECT @VL_SALDO = 0
						SELECT @VL_MULTA = 0
						SELECT @VL_MORA = 0
						SELECT @VL_TOTAL = 0
						RETURN
					END
			    ELSE
					BEGIN
						SELECT @VL_SALDO = @V_VL_ORIGINAL_PARCELA_SALDO
						SELECT @VL_MULTA = 0
						SELECT @VL_MORA = 0
						SELECT @VL_TOTAL = @V_VL_ORIGINAL_PARCELA_SALDO
						RETURN
					END
			END
		ELSE
			-- DT VENCIMENTO MENOR QUE DT DE REFERENCIA
			BEGIN
				SELECT  @V_CONTADOR = COUNT(*)
				FROM TB_DIVIDA
				WHERE CD_DIVIDA = @CD_DIVIDA
				 IF @V_CONTADOR = 0
					-- CODIGO NÃO ENCONTRADO
					BEGIN
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'Dívida não encontrada'
						RETURN
					END
		
				SELECT  @V_NM_PEDIDO = NM_PEDIDO
				FROM TB_DIVIDA
				WHERE CD_DIVIDA = @CD_DIVIDA
				
				SELECT @V_CONTADOR = COUNT(*)
				FROM TB_PEDIDO
				WHERE NM_PEDIDO = @V_NM_PEDIDO
				IF @V_CONTADOR = 0
					-- CODIGO NÃO ENCONTRADO
					BEGIN
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'Pedido não encontrada'
						RETURN
					END
				
				SELECT @V_CD_PLANO_PAGAMENTO = CD_PLANO_PAGAMENTO
				FROM TB_PEDIDO
				WHERE NM_PEDIDO = @V_NM_PEDIDO
				
				SELECT @V_CONTADOR = COUNT(*)
				FROM TB_PLANO_PAGAMENTO
				WHERE CD_PLANO_PAGAMENTO = @V_CD_PLANO_PAGAMENTO
				IF @V_CONTADOR = 0
					-- CODIGO NÃO ENCONTRADO
					BEGIN
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'Plano de pagamento não encontrada'
						RETURN
					END
								
				SELECT @V_PC_MULTA = PC_MULTA
					  ,@V_PC_MORA_DIARIA = PC_MORA_DIARIA	
				FROM TB_PLANO_PAGAMENTO
				WHERE CD_PLANO_PAGAMENTO = @V_CD_PLANO_PAGAMENTO
				
				-- CALCULA A MULTA
				SELECT @VL_MULTA = @V_VL_ORIGINAL_PARCELA_SALDO * (@V_PC_MULTA / 100)
				
				-- CALCULA A QDE DE DIAS UTEIS
				-- SELECT @V_QDE_DIAS_UTEIS = DATEDIFF(DAY,@V_DT_VENCIMENTO, @DT_REFERENCIA) DIAS CORRIDOS
				SELECT @V_QDE_DIAS_UTEIS = [dbo].FN_BUSCA_DIFERENCA_DIAS (@V_DT_VENCIMENTO,@DT_REFERENCIA) 
				
				-- CALCULA A MORA
				SELECT @VL_MORA = @V_QDE_DIAS_UTEIS * (@V_VL_ORIGINAL_PARCELA_SALDO * (@V_PC_MORA_DIARIA /100))
				
				SELECT @VL_SALDO = @V_VL_ORIGINAL_PARCELA_SALDO
				SELECT @VL_TOTAL = @V_VL_ORIGINAL_PARCELA_SALDO + @VL_MULTA + @VL_MORA
				SELECT @CD_ERRO = 0
				SELECT @DC_ERRO = ''
				
				RETURN
							
			END
		
				
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;





GO
