SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CAD_LOTE_FATURAMENTO]
	@CD_USUARIO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO VARCHAR(8000) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_LOTE_FATURAMENTO NUMERIC(18,0) OUTPUT

AS


BEGIN TRY
	

	    SELECT @QT_LINHAS_AFETADAS = 0

				BEGIN TRANSACTION 
				
			
					-- CRIA LOTE DE SEPARAÇÃO
					INSERT INTO TB_SOLICITACAO_FATURAMENTO (
						DT_SOLICITACAO_FATURAMENTO,
						ID_SITUACAO_LOTE_FATURAMENTO,
						CD_USUARIO )					
			
					VALUES           (
						GETDATE(),
						1, --CRIADO
						@CD_USUARIO)

				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_LOTE_FATURAMENTO = IDENT_CURRENT('TB_SOLICITACAO_FATURAMENTO')
			
				 
				COMMIT TRANSACTION

	
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
