SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PromocaoAplicaPromocaoProduto]
  	@p_nmPedido			numeric(18, 0),
  	@p_cdPromocao		numeric(18, 0), 
  	
	@p_cdRetorno				INT OUTPUT,
	@p_dcErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT

		
AS

DECLARE	@Cursor_Requisitos							CURSOR,
	 	@Cursor_Beneficios							CURSOR,
	 	@Cursor_Componentes							CURSOR,
	 	@v_idAgrupamento							INT,
	 	@v_cdMaterial								NUMERIC(18,0),
 	 	@v_cdRegraComercial							NUMERIC(18,0),
	 	@v_percLucratividade						NUMERIC(18,2),
	 	@v_nmPedidoItem								numeric(18,0),
		-- VARIAVEIS REQUISITOS
		@v_idTipoRequisito							INT, 
		@v_cdTipoRequisito							NUMERIC(18,0), 
		@v_idUnidadeRequisito						INT, 
		@v_nmValorRequisito							NUMERIC(18,2),
		@v_idOperadorLogicoRequisito 				INT,
		@v_cdMaterialRequisito						NUMERIC(18,0),
		@v_contadorRequisito						NUMERIC(18,0),
		@v_qtdeAtendeRequisito						NUMERIC(18,0),
		@v_qtdeAtendeRequisitoAnterior				NUMERIC(18,0),
		@v_qtdeAtendeRequisitoQuasePromocao			NUMERIC(18,4),
		@v_qtdeTotalAtendeRequisitoQuasePromocao	NUMERIC(18,0),
		@v_qtdeRequisitosTotal						NUMERIC(18,0),
		-- VARIAVEIS QUASE CONQUISTADA
		@v_idPromocaoQuaseConquistada				INT,
		@v_vlrPorcentagemQuaseConquistada			NUMERIC(18,0),		
		-- VARIAVEIS BENEFICIOS
		@v_idTipoBeneficio							INT, 
		@v_cdTipoBeneficio							NUMERIC(18,0), 
		@v_idUnidadeBeneficio						INT,
		@v_nmValorBeneficio							NUMERIC(18,2), 
		@v_idOperadorLogicoBeneficio				INT, 
		@v_idFormaPremiacaoPromocao					INT,
		@v_cdPromocaoBeneficio						NUMERIC(18,0),
		@v_cdMaterialBeneficio						numeric(18,0),
		@v_qtdeReservadaPedidoItem					INT,
		@v_vlTabelaTotalPedidoItem					NUMERIC(18,2),
		@v_vlPraticadoTotalPedidoItem				NUMERIC(18,2),
		@v_vlComissaoTotalPedidoItem				NUMERIC(18,2),
		@v_vlLiquidoTotalPedidoItem					NUMERIC(18,2),
		@v_vlCreditoTotalPedidoItem					NUMERIC(18,2),
		@v_percComponente							NUMERIC(18,2),
		-- VARIAVEIS COMPONENTES DO KIT
		@v_qtdeReservadaComponente					NUMERIC(18,0), 
		@v_vlTabelaTotalComponente					NUMERIC(18,2), 
		@v_nmPedidoItemComponente					NUMERIC(18,0),
		@v_idAgrupamentoComponente					INT, 
		@v_cdMaterialComponente						NUMERIC(18,0),
		@v_vlCreditoTotalComponente					NUMERIC(18,2),
		@v_vlPraticadoTotalPedidoItemComponente		NUMERIC(18,2),
		@v_vlLiquidoTotalPedidoItemComponente		NUMERIC(18,2),
		@v_vlComissaoTotalPedidoItemComponente		NUMERIC(18,2),
		@v_nmPedidoItemPromocao						NUMERIC(18,0),
		@v_id_promocao_preliminar					INT
	
BEGIN TRY

-- ***********************************************************
-- PENDENCIAS
-- ***********************************************************
-- OU REQUISITOS
-- OU BENEFICIOS
-- ***********************************************************

	SELECT @p_qtdeLinhasAfetadas = 0
	SELECT @v_qtdeAtendeRequisitoAnterior = -1
	SELECT @v_qtdeTotalAtendeRequisitoQuasePromocao = 0
	SELECT @v_qtdeAtendeRequisitoQuasePromocao = 0
	SELECT @v_qtdeRequisitosTotal  = 0
	
	-- ***************************************************************
	-- VERIFICA SE A PROMOÇÃO É PRELIMINAR
	-- ***************************************************************
	SELECT @v_id_promocao_preliminar = ISNULL(ID_PROMOCAO_PRELIMINAR,0)
	FROM TB_PROMOCAO WITH(NOLOCK)
	WHERE CD_PROMOCAO = @p_cdPromocao

	-- *****************************************************
	-- BUSCA INFORMAÇÕES DO PEDIDO
	-- *****************************************************
	SELECT @v_cdRegraComercial = CD_REGRA_COMERCIAL
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE NM_PEDIDO = @p_nmPedido
	
	-- *****************************************************
	-- limpa as informações das promoções aplicadas E QUASE CONQUISTADAS
	-- *****************************************************
	DELETE FROM TB_PEDIDO_ITEM_PROMOCAO
	WHERE NM_PEDIDO = @p_nmPedido
	AND CD_PROMOCAO = @p_cdPromocao
	
	DELETE FROM TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA
	WHERE NM_PEDIDO = @p_nmPedido
	AND CD_PROMOCAO = @p_cdPromocao

	DELETE FROM TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA_ITEM
	WHERE NM_PEDIDO = @p_nmPedido
	AND CD_PROMOCAO = @p_cdPromocao

	-- *****************************************************
	-- BUSCA OS REQUISITOS DA PROMOÇÃO
	-- *****************************************************
	SET @Cursor_Requisitos = CURSOR FAST_FORWARD
	FOR
		SELECT	ID_TIPO_REQUISITO,
				CD_TIPO_REQUISITO,
				ID_UNIDADE_REQUISITO,
				NM_VALOR_REQUISITO,
				ID_OPERADOR_LOGICO,
				CD_MATERIAL_REQUISITO
		from TB_PROMOCAO_REQUISITO WITH(NOLOCK)
		where CD_PROMOCAO = @p_cdPromocao
		ORDER BY CD_PROMOCAO_REQUISITO ASC
						
	OPEN @Cursor_Requisitos
	FETCH NEXT FROM @Cursor_Requisitos
	INTO @v_idTipoRequisito, @v_cdTipoRequisito, @v_idUnidadeRequisito, @v_nmValorRequisito, @v_idOperadorLogicoRequisito, @v_cdMaterialRequisito

	WHILE @@FETCH_STATUS = 0
		BEGIN
			-- inicia a contagem de requisitos
			SELECT @v_qtdeRequisitosTotal = @v_qtdeRequisitosTotal  + 1	

			-- **************************************************
			-- VERIFICA SE O PEDIDO ATENDE AO REQUISITO
			-- **************************************************
			IF (@v_idUnidadeRequisito = 1) -- PONTOS (CREDITO)
				BEGIN
					IF @v_idTipoRequisito = 1 -- PRODUTO
						BEGIN
							SELECT	@v_contadorRequisito = COUNT(*),
									@v_qtdeAtendeRequisito = Floor(SUM(VL_CREDITO_TOTAL) / @v_nmValorRequisito),
									@v_qtdeAtendeRequisitoQuasePromocao = SUM(VL_CREDITO_TOTAL) / @v_nmValorRequisito
							FROM TB_PEDIDO_ITEM WITH(NOLOCK)
							WHERE NM_PEDIDO = @p_nmPedido
							AND ID_PRODUTO_COBRADO = 1
							AND NM_PEDIDO_ITEM_CONJUNTO = 0
							AND CD_PRODUTO_VENDA = @v_cdTipoRequisito
							--AND VL_CREDITO_TOTAL >= @v_nmValorRequisito	
							AND ID_ORIGEM_ITEM_PEDIDO = 1 -- SOMENTE ITENS DE CAPTAÇÃO
							-- VAMOS VERIFICAR NESTE PONTO SE O MATERIAL É DO TIPO AGRUPADOR, NESTE CASO TEMOS QUE VERIFICAR O MATERIAL ESPECÍFICO
							AND CD_MATERIAL = (CASE ID_AGRUPAMENTO WHEN 3 THEN @v_cdMaterialRequisito ELSE CD_MATERIAL END)
						END
					ELSE
						BEGIN
							SELECT	@v_contadorRequisito = COUNT(*),
									@v_qtdeAtendeRequisito = Floor(SUM(VL_CREDITO_TOTAL) / @v_nmValorRequisito),
									@v_qtdeAtendeRequisitoQuasePromocao = ISNULL(SUM(VL_CREDITO_TOTAL) / @v_nmValorRequisito,0)
							 FROM TB_PEDIDO_ITEM WITH(NOLOCK)
							WHERE NM_PEDIDO = @p_nmPedido
									AND ID_PRODUTO_COBRADO = 1
									AND NM_PEDIDO_ITEM_CONJUNTO = 0
									AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisito) = 1						
									--AND VL_CREDITO_TOTAL >= @v_nmValorRequisito
									AND ID_ORIGEM_ITEM_PEDIDO = 1 -- SOMENTE ITENS DE CAPTAÇÃO
						END

				END
								
			IF (@v_idUnidadeRequisito = 2) -- QUANTIDADE
				BEGIN
					IF @v_idTipoRequisito = 1 -- PRODUTO
						BEGIN
							SELECT	@v_contadorRequisito = COUNT(*),
									@v_qtdeAtendeRequisito = ISNULL(Floor(SUM(QT_RESERVADA) / @v_nmValorRequisito),0),
									--@v_qtdeAtendeRequisito = Floor(SUM(QT_RESERVADA) / @v_nmValorRequisito),
									@v_qtdeAtendeRequisitoQuasePromocao = ISNULL(SUM(QT_RESERVADA) / @v_nmValorRequisito,0)
							FROM TB_PEDIDO_ITEM WITH(NOLOCK)
							WHERE NM_PEDIDO = @p_nmPedido
								AND ID_PRODUTO_COBRADO = 1
								AND NM_PEDIDO_ITEM_CONJUNTO = 0
								AND CD_PRODUTO_VENDA = @v_cdTipoRequisito
								--AND QT_RESERVADA >= @v_nmValorRequisito
								AND ID_ORIGEM_ITEM_PEDIDO = 1 -- SOMENTE ITENS DE CAPTAÇÃO
								-- VAMOS VERIFICAR NESTE PONTO SE O MATERIAL É DO TIPO AGRUPADOR, NESTE CASO TEMOS QUE VERIFICAR O MATERIAL ESPECÍFICO
								AND CD_MATERIAL = (CASE ID_AGRUPAMENTO WHEN 3 THEN @v_cdMaterialRequisito ELSE CD_MATERIAL END)
						END
					ELSE
						BEGIN
						
							SELECT	@v_contadorRequisito = COUNT(*),
									@v_qtdeAtendeRequisito = Floor(SUM(QT_RESERVADA) / @v_nmValorRequisito),
									@v_qtdeAtendeRequisitoQuasePromocao = ISNULL(SUM(QT_RESERVADA) / @v_nmValorRequisito,0)
							FROM TB_PEDIDO_ITEM WITH(NOLOCK)
							WHERE NM_PEDIDO = @p_nmPedido
								AND ID_PRODUTO_COBRADO = 1
								AND NM_PEDIDO_ITEM_CONJUNTO = 0
								AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisito) = 1						
								AND ID_ORIGEM_ITEM_PEDIDO = 1 -- SOMENTE ITENS DE CAPTAÇÃO
						
						END
				END
							
			IF (@v_idUnidadeRequisito = 3) -- VALOR
				BEGIN
					IF @v_idTipoRequisito = 1 -- PRODUTO
						BEGIN
							SELECT	@v_contadorRequisito = COUNT(*),
									@v_qtdeAtendeRequisito = Floor(SUM(VL_PAGAR_TOTAL) / @v_nmValorRequisito),
									@v_qtdeAtendeRequisitoQuasePromocao = ISNULL(SUM(VL_PAGAR_TOTAL) / @v_nmValorRequisito,0)
							FROM TB_PEDIDO_ITEM WITH(NOLOCK)
							WHERE NM_PEDIDO = @p_nmPedido
								AND ID_PRODUTO_COBRADO = 1
								AND NM_PEDIDO_ITEM_CONJUNTO = 0
								AND CD_PRODUTO_VENDA = @v_cdTipoRequisito
								--AND VL_PAGAR_TOTAL >= @v_nmValorRequisito
								AND ID_ORIGEM_ITEM_PEDIDO = 1 -- SOMENTE ITENS DE CAPTAÇÃO
								-- VAMOS VERIFICAR NESTE PONTO SE O MATERIAL É DO TIPO AGRUPADOR, NESTE CASO TEMOS QUE VERIFICAR O MATERIAL ESPECÍFICO
								AND CD_MATERIAL = (CASE ID_AGRUPAMENTO WHEN 3 THEN @v_cdMaterialRequisito ELSE CD_MATERIAL END)
						END
					ELSE
						BEGIN
							SELECT	@v_contadorRequisito = COUNT(*),
									@v_qtdeAtendeRequisito = Floor(SUM(VL_PAGAR_TOTAL) / @v_nmValorRequisito),
									@v_qtdeAtendeRequisitoQuasePromocao = ISNULL(SUM(VL_PAGAR_TOTAL) / @v_nmValorRequisito,0)
							FROM TB_PEDIDO_ITEM WITH(NOLOCK)
							WHERE NM_PEDIDO = @p_nmPedido
								AND ID_PRODUTO_COBRADO = 1
								AND NM_PEDIDO_ITEM_CONJUNTO = 0
								AND DBO.FN_VERIFICA_PRODUTO_PERTENCE_ESTRUTURA(CD_PRODUTO_VENDA, @v_cdTipoRequisito) = 1						
								--AND VL_PAGAR_TOTAL >= @v_nmValorRequisito
								AND ID_ORIGEM_ITEM_PEDIDO = 1 -- SOMENTE ITENS DE CAPTAÇÃO	
						END
				END
			
			IF @v_qtdeAtendeRequisitoQuasePromocao >= 1
				BEGIN
					SELECT @v_qtdeTotalAtendeRequisitoQuasePromocao = @v_qtdeTotalAtendeRequisitoQuasePromocao + 1
				END
			ELSE
				BEGIN
					SELECT @v_qtdeTotalAtendeRequisitoQuasePromocao =  @v_qtdeTotalAtendeRequisitoQuasePromocao + @v_qtdeAtendeRequisitoQuasePromocao
						
					EXEC DBO.pr_PromocaoInserePromocaoQuaseConquistadaItem
							@p_nmPedido,
							@p_cdPromocao,
							@v_idTipoRequisito,
							@v_cdTipoRequisito,
							@v_nmValorRequisito,
							@v_cdMaterialRequisito,
							'I',
							@p_cdRetorno OUTPUT,
							@p_dcErro OUTPUT,
							@p_qtdeLinhasAfetadas OUTPUT

					IF @p_cdRetorno <> 0
						BEGIN
							RETURN
						END
													
				END

			-- **************************************************************
			-- ESSE CODIGO FAZ O TRECHO DO OPERADOR "E"
			-- SEMPRE PEGA O DE QUANTIDADE MENOR
			-- **************************************************************
			IF @v_qtdeAtendeRequisito > 0 -- SE FOR ZERO JA SAI DA ROTINA
				BEGIN
					IF 	@v_qtdeAtendeRequisitoAnterior = -1
						BEGIN
							SELECT @v_qtdeAtendeRequisitoAnterior = @v_qtdeAtendeRequisito
						END
				END
			ELSE
				BEGIN
				
					SELECT @v_contadorRequisito = 0
					SELECT @v_qtdeAtendeRequisito = 0

					-- vamos checar se a promoção irá aparecer nas quase conquistadas quando estiver configurada com 0% no cadastro
					SELECT  @v_idPromocaoQuaseConquistada = ID_PROMOCAO_QUASE_CONQUISTADA,
							@v_vlrPorcentagemQuaseConquistada = VL_PERCENTUAL_MINIMO_ATINGIDO
					FROM TB_PROMOCAO WITH(NOLOCK)
					WHERE CD_PROMOCAO = @p_cdPromocao

					IF @v_idPromocaoQuaseConquistada = 1
						BEGIN
							IF @v_vlrPorcentagemQuaseConquistada = 0
								BEGIN
									--EXECUTA A PROCEDURE QUE CONSOLIDA OS ITENS FALTANTES QUASE CONQUISTADOS
									EXEC dbo.[pr_PromocaoInserePromocaoQuaseConquistada] @p_nmPedido,
																						 @p_cdPromocao,
																						 'I',
																						 @p_cdRetorno output,
																						 @p_dcErro output,
																						 @p_qtdeLinhasAfetadas output
								END

						END
					
					-- ****************************************************************************************************
					-- ALTERAÇÃO FEITA POR ANDERSON - 02/08/2023
					-- PARA ATENDER A FUNCIONALDIADE DE PROMOCÇÕES QUASE CONQUISTADAS FOI RETIRADO ESSE BREAK
					-- ENTRETANTO PARA UMA PROMOÇÃO EM QUE A PESSOA PRECISA COMPRAR PRODUTOS DIFERENTES O BREAK É IMPORTANTE
					-- POIS SE UM DOS ITENS NÃO FOI COMPRADO O PROCESO É INTERROMPIDO. 
					-- SEM O BREAK POR EXEMPLO PARA UMA PROMOÇÃO EM QUE TEM QUE COMPRAR 5 PRODUTOS DIFERENTES
					-- SE A PESSOA COMPROU APENAS 1 DELES JA GANHA (POIS O PROCESSO CONTINUA)
					-- POR ESSE MOTIVO VOLTAMOS O BREAK
					-- ENTERTANTO COM O BREAK AQUI A FUNCIONALDIADE DE PROMOÇÕES QUASE CONQUISTADAS NÃO IRA FUNCIONAR 100%
					-- POIS COMO SAIU DA PROCEDURE O SISTEMA NAO CONSEGUE CALCULAR EXATAMENTE O % DE ATINGIMENTO DA PROMOÇÃO
					-- DESSA MANEIRA TEMOS UMA PENDENCIA
					-- PRECISA AJUSTAR ESSA PROC PARA RETIRAR O BREAK SEM IMPACTAR A PROMOÇÃO
					-- ****************************************************************************************************
					BREAK

				END
						
			-- ***************************************************************
			-- CORREÇÃO EM 22/02/2019 POR DIEGO ZILIOTI
			-- PRECISAMOS MANTER COMO QUANTIDADE ATINGIDA SEMPRE O MENOR VALOR ATINGIDO
			-- ISTO PORQUE EM PROMOÇÕES COM MAIS DE 1 REQUISITO TEMOS PROBLEMAS QDO SOMENTE UM DOS REQUISITOS ATINGEM UMA QUANTIDADE MAIOR
			-- ***************************************************************
			IF @v_qtdeAtendeRequisito >= @v_qtdeAtendeRequisitoAnterior
				BEGIN
					SELECT @v_qtdeAtendeRequisito = @v_qtdeAtendeRequisitoAnterior
				END
			ELSE
				BEGIN
					SELECT @v_qtdeAtendeRequisitoAnterior = @v_qtdeAtendeRequisito
				END

			FETCH NEXT FROM @Cursor_Requisitos
 			INTO @v_idTipoRequisito, @v_cdTipoRequisito, @v_idUnidadeRequisito, @v_nmValorRequisito, @v_idOperadorLogicoRequisito, @v_cdMaterialRequisito
												
		END -- fecha o while do cursor de requisitos
						
	-- ***********************************************************
	-- SE ATINGIU O REQUISITO VAMOS ADICIONAR OS BENEFICIOS ******
	-- ***********************************************************
	IF (@v_qtdeAtendeRequisito > 0) 
			
		BEGIN
									
			-- *******************************************************************************
			-- SE FOR UMA PROMOÇÃO PRELIMINAR NÃO VAMOS INSERIR NA TB_PEDIDO_ITEM_PROMOCAO
			-- MAS SIM NA TB_PEDIDO_PROMOCAO_PRELIMINAR
			-- *******************************************************************************
			IF @v_id_promocao_preliminar = 1 
				BEGIN
						
					EXEC dbo.pr_PromocaoAplicaPromocaoInserePreliminar
						@p_nmPedido,
						@p_cdPromocao,
						
						@p_cdRetorno OUTPUT,
						@p_dcErro OUTPUT,
						@p_qtdeLinhasAfetadas OUTPUT
										
					IF @p_cdRetorno <> 0
						BEGIN
							RETURN
						END

				END
			ELSE
				BEGIN

					SET @Cursor_Beneficios = CURSOR FAST_FORWARD
					FOR

						SELECT	CD_PROMOCAO_BENEFICIO,
								ID_TIPO_BENEFICIO,
								CD_TIPO_BENEFICIO,
								ID_UNIDADE_BENEFICIO,
								NM_VALOR_BENEFICIO,
								ID_OPERADOR_LOGICO,
								ID_FORMA_PREMIACAO_PROMOCAO,
								CD_MATERIAL_BENEFICIO
						FROM TB_PROMOCAO_BENEFICIO WITH(NOLOCK)
						WHERE CD_PROMOCAO = @p_cdPromocao
						ORDER BY CD_PROMOCAO_BENEFICIO ASC
						
						OPEN @Cursor_Beneficios
						FETCH NEXT FROM @Cursor_Beneficios
						INTO @v_cdPromocaoBeneficio, @v_idTipoBeneficio, @v_cdTipoBeneficio, @v_idUnidadeBeneficio, @v_nmValorBeneficio, @v_idOperadorLogicoBeneficio, @v_idFormaPremiacaoPromocao, @v_cdMaterialBeneficio

						WHILE @@FETCH_STATUS = 0
							BEGIN
								
								IF @v_idFormaPremiacaoPromocao = 1 --BRINDE
									
									BEGIN
									
										EXEC dbo.pr_PromocaoAplicaPromocaoBrinde
												@p_nmPedido,
												@p_cdPromocao,
												@v_cdPromocaoBeneficio,
												@v_idTipoBeneficio,
												@v_cdTipoBeneficio,
												@v_idUnidadeBeneficio,
												@v_cdMaterialBeneficio,
												@v_nmValorBeneficio,
												@v_qtdeAtendeRequisito,
												0,
												@p_cdRetorno OUTPUT,
												@p_dcErro OUTPUT,
												@p_qtdeLinhasAfetadas OUTPUT
										
										if @p_cdRetorno <> 0
											begin
												RETURN
											end
										
									END
								
								
								IF @v_idFormaPremiacaoPromocao = 2 OR @v_idFormaPremiacaoPromocao = 3 OR @v_idFormaPremiacaoPromocao = 4 -- DESCONTO
									
									BEGIN
										
										EXEC dbo.pr_PromocaoAplicaPromocaoDesconto
												@p_nmPedido,
												@p_cdPromocao,
												@v_idTipoBeneficio,
												@v_cdTipoBeneficio,
												@v_idFormaPremiacaoPromocao,
												@v_nmValorBeneficio,
												@v_cdMaterialBeneficio,
												@v_qtdeAtendeRequisito,
												@v_cdRegraComercial,
												@v_cdPromocaoBeneficio,
												0,
												@p_cdRetorno OUTPUT,
												@p_dcErro OUTPUT,
												@p_qtdeLinhasAfetadas OUTPUT	
										
										if @p_cdRetorno <> 0
											begin
												RETURN
											end
													
									END --FECHA IF DA FORMA DE PREMIAÇÃO
									
															
								FETCH NEXT FROM @Cursor_Beneficios
 								INTO @v_cdPromocaoBeneficio, @v_idTipoBeneficio, @v_cdTipoBeneficio, @v_idUnidadeBeneficio, @v_nmValorBeneficio, @v_idOperadorLogicoBeneficio, @v_idFormaPremiacaoPromocao, @v_cdMaterialBeneficio
														
							END -- fecha o while do cursor de requisitos
					
				END
				
		END -- fecha o if
	ELSE
		BEGIN
			SELECT  @v_idPromocaoQuaseConquistada = ID_PROMOCAO_QUASE_CONQUISTADA,
					@v_vlrPorcentagemQuaseConquistada = VL_PERCENTUAL_MINIMO_ATINGIDO
				FROM TB_PROMOCAO WITH(NOLOCK)
				WHERE CD_PROMOCAO = @p_cdPromocao

			IF @v_idPromocaoQuaseConquistada = 1
				BEGIN
					IF (@v_qtdeTotalAtendeRequisitoQuasePromocao /	@v_qtdeRequisitosTotal )>= ( @v_vlrPorcentagemQuaseConquistada / 100) AND (@v_vlrPorcentagemQuaseConquistada > 0)
						BEGIN
							--EXECUTA A PROCEDURE QUE CONSOLIDA OS ITENS FALTANTES QUASE CONQUISTADOS
							EXEC dbo.[pr_PromocaoInserePromocaoQuaseConquistada] @p_nmPedido,
																				 @p_cdPromocao,
																				 'I',
																				 @p_cdRetorno output,
																				 @p_dcErro output,
																				 @p_qtdeLinhasAfetadas output
						END

				END
		END
	
	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_dcErro, @p_cdRetorno, 1)
END CATCH;
GO
