SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_MODELO_FISCAL_REGRA]
	@CD_MODELO_FISCAL NUMERIC(18,0),
	@CD_REGRA_FISCAL NUMERIC(18,0),
	
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0

		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_MODELO_FISCAL_REGRA_FISCAL (
					CD_MODELO_FISCAL,
					CD_REGRA_FISCAL)
										
				VALUES           (
					@CD_MODELO_FISCAL,
					@CD_REGRA_FISCAL)
					
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_MODELO_FISCAL_REGRA_FISCAL 
					WHERE CD_MODELO_FISCAL = @CD_MODELO_FISCAL
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	



		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
