SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************
PROCEDURE CRIADA POR ANDERSON DIA 15/11/2018

ESSA PROCEDURE SERÁ UTILIZADA NA CONSULTA DE HISTORICO DE MATERIAIS VENDIDOS. ESSA CONSULTA É IMPORTANTE
PARA FAZER A PROJEÇÃO DE VENDAS DOS PROXIMOS MESES.

PODEMOS TER AS COLUNAS POR DIA OU POR MÊS E SERÁ DINAMICO

ID_TIPO_PRODUTO
0 - TODOS
1 - SOMENTE VENDIDOS
2 - SOMENTE DOADOS

ID_TIPO_COLUNA
1 - MENSAL
2 - DIARIO

ID_TIPO_RESULTADO
1 - QUANTIDADE
2 - VALOR

ID_TIPO_FILTRO_DATA
1 - DATA DE CAPTAÇÃO
2 - DATA DE APROVAÇÃO
2 - DATA DE FATURAMENTO


*****************************************************************************/

CREATE PROCEDURE [dbo].[pr_RelatorioHistoricoVendasMaterial]
		@ID_TIPO_PRODUTO			INT,
		@ID_TIPO_COLUNA				INT,
		@ID_TIPO_RESULTADO			INT,
		@ID_TIPO_FILTRO_DATA		INT,
		@ID_REALIZA_QUEBRA_UF		INT,
		@ID_REALIZA_QUEBRA_PESSOA	INT,
		@DT_INICIAL					VARCHAR(12),
		@DT_FINAL					VARCHAR(12),
		@CD_MATERIAL_EXTERNO		VARCHAR(50),
		@ID_EST_PRODUTO				INT,
		@ID_CD						INT
		--@V_RETORNO					NVARCHAR(MAX) OUTPUT

AS


DECLARE @cols	AS NVARCHAR(MAX),
		@cols1	AS NVARCHAR(MAX),
		@query  AS NVARCHAR(MAX)


DECLARE @DT_INICIAL_COL			VARCHAR(12)
DECLARE @DT_FINAL_COL			VARCHAR(12)

SELECT @DT_INICIAL_COL = SUBSTRING(@DT_INICIAL, 2, 10)
SELECT @DT_FINAL_COL = SUBSTRING(@DT_FINAL, 2, 10)


-- ************************************************************************************************
-- NESSE TRECHO VAMOS MONTAR UMA STRING COM AS COLUNAS QUE QUERMOS MOSTRAR EM NOSSO RESULTADO
-- EXEMPLO, SE O CLIENTE ESCOLHEU DE 201708 ATÉ 201710
-- ESSA QUERY RETORNA O SEGUINTE ,ISNULL(201708,0),ISNULL(201709,0),ISNULL(2017110,0)
-- OU SEJA, MONTA A STRING DAS COLUNAS DE RETORNO
-- TEMOS QUE FAZER ISSO PARA SER DINAMICOS
-- O ISNULL É IMPORTANTE POIS CASO CONTRATIO NO RESULTADO VAI MOSTRAR NULL
-- ************************************************************************************************

-- *****************************
-- RELATORIO MENSAL
-- *****************************
IF @ID_TIPO_COLUNA = 1
	BEGIN

		-- DATA DE CAPTAÇÃO
		IF @ID_TIPO_FILTRO_DATA = 1
			BEGIN
				SELECT @cols=  COALESCE(
					(SELECT ',ISNULL(' + QUOTENAME(A.DC_MES_ANO) + ',0) AS [' + CONVERT(VARCHAR(7),A.DC_MES_ANO) + ']'
				FROM
					(SELECT	RIGHT(CONVERT(CHAR(10),P.DT_CAPTACAO_PEDIDO,103),7) DC_MES_ANO,
							MONTH(P.DT_CAPTACAO_PEDIDO) DC_MES,
							YEAR(P.DT_CAPTACAO_PEDIDO) DC_ANO
					FROM TB_PEDIDO P 
					WHERE CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
						AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) <= CONVERT(DATE, @DT_FINAL_COL,103)
					) A
					GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_ANO
					ORDER BY A.DC_ANO, A.DC_MES ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END
		
		-- DATA DE APROVAÇÃO
		IF @ID_TIPO_FILTRO_DATA = 2
			BEGIN
				SELECT @cols=  COALESCE(
					(SELECT ',ISNULL(' + QUOTENAME(A.DC_MES_ANO) + ',0) AS [' + CONVERT(VARCHAR(7),A.DC_MES_ANO) + ']'
				FROM
					(SELECT	RIGHT(CONVERT(CHAR(10),P.DT_APROVACAO_PEDIDO,103),7) DC_MES_ANO,
							MONTH(P.DT_APROVACAO_PEDIDO) DC_MES,
							YEAR(P.DT_APROVACAO_PEDIDO) DC_ANO
					FROM TB_PEDIDO P 
					WHERE CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
						AND CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) <= CONVERT(DATE, @DT_FINAL_COL,103)
					
					) A
					GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_ANO
					ORDER BY A.DC_ANO, A.DC_MES ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END
			
		-- DATA DE FATURAMENTO
		IF @ID_TIPO_FILTRO_DATA = 3
			BEGIN
				SELECT @cols=  COALESCE(
					(SELECT ',ISNULL(' + QUOTENAME(A.DC_MES_ANO) + ',0) AS [' + CONVERT(VARCHAR(7),A.DC_MES_ANO) + ']'
				FROM
					(SELECT	
						(SELECT MAX(RIGHT(CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103),7)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES_ANO, 
						(SELECT MAX(MONTH(NF.DT_EMISSAO_NOTA_FISCAL)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES, 
						(SELECT MAX(YEAR(NF.DT_EMISSAO_NOTA_FISCAL))  FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_ANO 							
					FROM TB_PEDIDO P
					WHERE 
						P.NM_PEDIDO in (SELECT NM_PEDIDO 
										FROM TB_NOTA_FISCAL NF 
										WHERE NF.ID_TIPO_NOTA_FISCAL = 2 
											AND NF.NM_PEDIDO = P.NM_PEDIDO
											AND NF.ID_SITUACAO_NOTA_FISCAL = 2 
											--AND CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103) >= @DT_INICIAL
											--AND CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103) <= @DT_FINAL)
                							AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
											AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) <= CONVERT(DATE, @DT_FINAL_COL,103))
                						
					) A
					GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_ANO
					ORDER BY A.DC_ANO, A.DC_MES ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END


	END
ELSE
	BEGIN

		-- DATA DE CAPTAÇÃO
		IF @ID_TIPO_FILTRO_DATA = 1
			BEGIN
				SELECT @cols=  COALESCE(
					(SELECT ',ISNULL(' + QUOTENAME(A.DC_MES_ANO) + ',0) AS [' + CONVERT(VARCHAR(10),A.DC_MES_ANO) + ']'
				FROM
						(SELECT	CONVERT(CHAR(10),P.DT_CAPTACAO_PEDIDO,103) DC_MES_ANO,
								DAY(P.DT_CAPTACAO_PEDIDO) DC_DIA,
								MONTH(P.DT_CAPTACAO_PEDIDO) DC_MES,
								YEAR(P.DT_CAPTACAO_PEDIDO) DC_ANO
						FROM TB_PEDIDO P 
						WHERE CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
							AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) <= CONVERT(DATE, @DT_FINAL_COL,103)
						) A
						GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_DIA, A.DC_ANO
						ORDER BY A.DC_ANO, A.DC_MES, A.DC_DIA ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END 

		-- DATA DE APROVACAO
		IF @ID_TIPO_FILTRO_DATA = 2
			BEGIN
				SELECT @cols=  COALESCE(
					(SELECT ',ISNULL(' + QUOTENAME(A.DC_MES_ANO) + ',0) AS [' + CONVERT(VARCHAR(10),A.DC_MES_ANO) + ']'
				FROM
						(SELECT	CONVERT(CHAR(10),P.DT_APROVACAO_PEDIDO,103) DC_MES_ANO,
								DAY(P.DT_APROVACAO_PEDIDO) DC_DIA,
								MONTH(P.DT_APROVACAO_PEDIDO) DC_MES,
								YEAR(P.DT_APROVACAO_PEDIDO) DC_ANO
						FROM TB_PEDIDO P 
						WHERE CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
							AND CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) <= CONVERT(DATE, @DT_FINAL_COL,103)
						) A
						GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_DIA, A.DC_ANO
						ORDER BY A.DC_ANO, A.DC_MES, A.DC_DIA ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END 

		-- DATA DE FATURAMENTO
		IF @ID_TIPO_FILTRO_DATA = 3
			BEGIN
				SELECT @cols=  COALESCE(
					(SELECT ',ISNULL(' + QUOTENAME(A.DC_MES_ANO) + ',0) AS [' + CONVERT(VARCHAR(10),A.DC_MES_ANO) + ']'
				FROM
						(SELECT	
								(SELECT MAX(CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES_ANO, 
								(SELECT MAX(DAY(NF.DT_EMISSAO_NOTA_FISCAL)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_DIA, 
								(SELECT MAX(MONTH(NF.DT_EMISSAO_NOTA_FISCAL)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES, 
								(SELECT MAX(YEAR(NF.DT_EMISSAO_NOTA_FISCAL))  FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_ANO 							
						FROM TB_PEDIDO P
						WHERE 
							P.NM_PEDIDO in (SELECT NM_PEDIDO 
										FROM TB_NOTA_FISCAL NF 
										WHERE NF.ID_TIPO_NOTA_FISCAL = 2 
											AND NF.NM_PEDIDO = P.NM_PEDIDO
											AND NF.ID_SITUACAO_NOTA_FISCAL = 2 
											--AND CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103) >= @DT_INICIAL
											--AND CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103) <= @DT_FINAL)
                							AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
											AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) <= CONVERT(DATE, @DT_FINAL_COL,103))
            
						) A
						GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_DIA, A.DC_ANO
						ORDER BY A.DC_ANO, A.DC_MES, A.DC_DIA ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END 
		
	END







-- ************************************************************************************************
-- NESSE TRECHO FAZ MAIS OU MENOS O QUE FAZ NO TRECHO ACIMA
-- ENTRETANTO ESSE TRECHO SERÁ USADO NA FUNCIONALIDADE DO PIVOT TABLE
-- E NESSA FUNCIONALIDADE TEMOS APENAS QUE MOSTRAR AS COLUNAS, SEM TER A PREOCUPAÇÃO DE TRATAR O NULO
-- ************************************************************************************************

-- *****************************
-- RELATORIO MENSAL
-- *****************************
IF @ID_TIPO_COLUNA = 1
	BEGIN
		
		-- DATA DE CAPTAÇÃO
		IF @ID_TIPO_FILTRO_DATA = 1
			BEGIN
				SELECT @cols1=  COALESCE(
					(SELECT ',' + QUOTENAME(A.DC_MES_ANO)
				FROM
					(SELECT	RIGHT(CONVERT(CHAR(10),P.DT_CAPTACAO_PEDIDO,103),7) DC_MES_ANO,
							MONTH(P.DT_CAPTACAO_PEDIDO) DC_MES,
							YEAR(P.DT_CAPTACAO_PEDIDO) DC_ANO
					FROM TB_PEDIDO P 
					WHERE CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
						AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) <= CONVERT(DATE, @DT_FINAL_COL,103)
			
					) A
				GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_ANO
				ORDER BY A.DC_ANO, A.DC_MES ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END

		-- DATA DE APROVACAO
		IF @ID_TIPO_FILTRO_DATA = 2
			BEGIN
				SELECT @cols1=  COALESCE(
					(SELECT ',' + QUOTENAME(A.DC_MES_ANO)
				FROM
					(SELECT	RIGHT(CONVERT(CHAR(10),P.DT_APROVACAO_PEDIDO,103),7) DC_MES_ANO,
							MONTH(P.DT_APROVACAO_PEDIDO) DC_MES,
							YEAR(P.DT_APROVACAO_PEDIDO) DC_ANO
					FROM TB_PEDIDO P 
					WHERE CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
							AND CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) <= CONVERT(DATE, @DT_FINAL_COL,103)
					) A
				GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_ANO
				ORDER BY A.DC_ANO, A.DC_MES ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END

		-- DATA DE FATURAMENTO
		IF @ID_TIPO_FILTRO_DATA = 3
			BEGIN
				SELECT @cols1=  COALESCE(
					(SELECT ',' + QUOTENAME(A.DC_MES_ANO)
				FROM
					(SELECT	
						(SELECT MAX(RIGHT(CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103),7)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES_ANO, 
						(SELECT MAX(MONTH(NF.DT_EMISSAO_NOTA_FISCAL)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES, 
						(SELECT MAX(YEAR(NF.DT_EMISSAO_NOTA_FISCAL))  FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_ANO 							
					FROM TB_PEDIDO P
					WHERE 
						P.NM_PEDIDO in (SELECT NM_PEDIDO 
										FROM TB_NOTA_FISCAL NF 
										WHERE NF.ID_TIPO_NOTA_FISCAL = 2 
											AND NF.NM_PEDIDO = P.NM_PEDIDO
											AND NF.ID_SITUACAO_NOTA_FISCAL = 2 
											--AND CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103) >= @DT_INICIAL
											--AND CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103) <= @DT_FINAL)
                							AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
											AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) <= CONVERT(DATE, @DT_FINAL_COL,103))
            
					) A
				GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_ANO
				ORDER BY A.DC_ANO, A.DC_MES ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END
		
	END 
ELSE
	BEGIN

		-- DATA DE CAPTAÇÃO
		IF @ID_TIPO_FILTRO_DATA = 1
			BEGIN
				SELECT @cols1=  COALESCE(
					(SELECT ',' + QUOTENAME(A.DC_MES_ANO)
				FROM
					(SELECT	CONVERT(CHAR(10),P.DT_CAPTACAO_PEDIDO,103) DC_MES_ANO,
						DAY(P.DT_CAPTACAO_PEDIDO) DC_DIA,
						MONTH(P.DT_CAPTACAO_PEDIDO) DC_MES,
						YEAR(P.DT_CAPTACAO_PEDIDO) DC_ANO
					FROM TB_PEDIDO P 
					WHERE CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
							AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) <= CONVERT(DATE, @DT_FINAL_COL,103)
			
					) A
				GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_DIA, A.DC_ANO
				ORDER BY A.DC_ANO, A.DC_MES, A.DC_DIA ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END

		-- DATA DE APROVACAO
		IF @ID_TIPO_FILTRO_DATA = 2
			BEGIN
				SELECT @cols1=  COALESCE(
					(SELECT ',' + QUOTENAME(A.DC_MES_ANO)
				FROM
					(SELECT	CONVERT(CHAR(10),P.DT_APROVACAO_PEDIDO,103) DC_MES_ANO,
						DAY(P.DT_APROVACAO_PEDIDO) DC_DIA,
						MONTH(P.DT_APROVACAO_PEDIDO) DC_MES,
						YEAR(P.DT_APROVACAO_PEDIDO) DC_ANO
					FROM TB_PEDIDO P 
					WHERE CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
						AND CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) <= CONVERT(DATE, @DT_FINAL_COL,103)
			
					) A
				GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_DIA, A.DC_ANO
				ORDER BY A.DC_ANO, A.DC_MES, A.DC_DIA ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END

		-- DATA DE FATURAMENTO
		IF @ID_TIPO_FILTRO_DATA = 3
			BEGIN
				SELECT @cols1=  COALESCE(
					(SELECT ',' + QUOTENAME(A.DC_MES_ANO)
				FROM
					(SELECT	
							(SELECT MAX(CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES_ANO, 
							(SELECT MAX(DAY(NF.DT_EMISSAO_NOTA_FISCAL)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_DIA, 
							(SELECT MAX(MONTH(NF.DT_EMISSAO_NOTA_FISCAL)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES, 
							(SELECT MAX(YEAR(NF.DT_EMISSAO_NOTA_FISCAL))  FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_ANO 							
					FROM TB_PEDIDO P
					WHERE 
						P.NM_PEDIDO in (SELECT NM_PEDIDO 
										FROM TB_NOTA_FISCAL NF 
										WHERE NF.ID_TIPO_NOTA_FISCAL = 2 
											AND NF.NM_PEDIDO = P.NM_PEDIDO
											AND NF.ID_SITUACAO_NOTA_FISCAL = 2 
											--AND CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103) >= @DT_INICIAL
											--AND CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103) <= @DT_FINAL)
                							AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) >= CONVERT(DATE, @DT_INICIAL_COL,103)
											AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) <= CONVERT(DATE, @DT_FINAL_COL,103))
            
					) A
				GROUP BY A.DC_MES_ANO, A.DC_MES, A.DC_DIA, A.DC_ANO
				ORDER BY A.DC_ANO, A.DC_MES, A.DC_DIA ASC
				FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 
			END
		
	END




-- **************************************************************
-- RETIRA O PRIMEIRO CARACTER QUE É A VIRGULA
-- SE MANTER VAI DAR ERRO NA QUERY ABAIXO
-- **************************************************************
SELECT @cols = SUBSTRING(@cols, 2, LEN(@cols)-1)
SELECT @cols1 = SUBSTRING(@cols1, 2, LEN(@cols1)-1)


SET @query = 'SELECT '
SET @query = @query + '	P.CD_MATERIAL [Cód. Interno], '
SET @query = @query + '	P.CD_MATERIAL_EXTERNO [Cód. Material], '
SET @query = @query + '	(SELECT MIN(A.DC_MATERIAL) FROM TB_MATERIAL A WHERE A.CD_MATERIAL = P.CD_MATERIAL) [Material], ' 


-- SE FOR QUANTIDADE, MOSTRA COLUNA DE QUANTIDADE DISPONIVEL
-- IF @ID_TIPO_RESULTADO = 1
--	BEGIN
--		SET @query = @query + '	DBO.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(P.CD_MATERIAL, 0, 0, 1) [Qtd. Estoque], '
--	END


-- ******************************************************
-- VERIFICA SE TEREMOS AS QUEBRAS DE UF E PESSOA
-- ******************************************************
-- QUEBRA POR UF
IF @ID_REALIZA_QUEBRA_UF = 1
	BEGIN
		SET @query = @query + ' P.UF, '
	END

-- QUEBRA POR PESSOA
IF @ID_REALIZA_QUEBRA_PESSOA = 1
	BEGIN
		SET @query = @query + '	P.CD_PESSOA [Cód. Pessoa], '
        SET @query = @query + '	P.Nome, '
	END
	

SET @query = @query + '	 ' + @cols + ',   ' 

--TOTAL	
		-- DATA DE CAPTAÇÃO
		IF @ID_TIPO_FILTRO_DATA = 1
			BEGIN
				SET @query = @query + '(SELECT sum(PEI.QT_RESERVADA) '
				SET @query = @query + 'FROM TB_PEDIDO_ITEM PEI, TB_PEDIDO PE '
				SET @query = @query + 'WHERE PE.NM_PEDIDO = PEI.NM_PEDIDO '
				--SET @query = @query + 'AND PEI.CD_MATERIAL = DBO.FN_BUSCA_COD_MATERIAL_INTERNO(P.CD_MATERIAL) '
				SET @query = @query + 'AND PEI.CD_MATERIAL = P.CD_MATERIAL '
				SET @query = @query + 'AND CONVERT(DATE,PE.DT_CAPTACAO_PEDIDO,103) >= CONVERT(DATE, ' + @DT_INICIAL + ', 103) '
				SET @query = @query + 'AND CONVERT(DATE,PE.DT_CAPTACAO_PEDIDO,103) <= CONVERT(DATE, ' + @DT_FINAL + ', 103) '
				SET @query = @query + 'AND PE.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND '
				SET @query = @query + 'PE.CD_EST_SITUACAO NOT IN (1,3) GROUP BY PEI.CD_MATERIAL) [Total], '			
			END

		-- DATA DE APROVACAO
		IF @ID_TIPO_FILTRO_DATA = 2
			BEGIN
				SET @query = @query + '(SELECT sum(PEI.QT_RESERVADA) '
				SET @query = @query + 'FROM TB_PEDIDO_ITEM PEI, TB_PEDIDO PE '
				SET @query = @query + 'WHERE PE.NM_PEDIDO = PEI.NM_PEDIDO '
				--SET @query = @query + 'AND PEI.CD_MATERIAL = DBO.FN_BUSCA_COD_MATERIAL_INTERNO(P.CD_MATERIAL) '
				SET @query = @query + 'AND PEI.CD_MATERIAL = P.CD_MATERIAL '
				SET @query = @query + 'AND CONVERT(DATE,PE.DT_APROVACAO_PEDIDO,103) >= CONVERT(DATE, ' + @DT_INICIAL + ', 103) '
				SET @query = @query + 'AND CONVERT(DATE,PE.DT_APROVACAO_PEDIDO,103) <= CONVERT(DATE, ' + @DT_FINAL + ', 103) '
				SET @query = @query + 'AND PE.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND '
				SET @query = @query + 'PE.CD_EST_SITUACAO NOT IN (1,3) GROUP BY PEI.CD_MATERIAL) [Total], '			
			END

		-- DATA DE FATURAMENTO
		IF @ID_TIPO_FILTRO_DATA = 3
			BEGIN
				SET @query = @query + '(SELECT sum(PEI.QT_RESERVADA) '
				SET @query = @query + 'FROM TB_PEDIDO_ITEM PEI, TB_PEDIDO PE, TB_NOTA_FISCAL NF '
				SET @query = @query + 'WHERE PE.NM_PEDIDO = PEI.NM_PEDIDO AND NF.NM_PEDIDO = PE.NM_PEDIDO '
--				SET @query = @query + 'AND PEI.CD_MATERIAL = DBO.FN_BUSCA_COD_MATERIAL_INTERNO(P.CD_MATERIAL) '
				SET @query = @query + 'AND PEI.CD_MATERIAL = P.CD_MATERIAL '
				SET @query = @query + 'AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) >= CONVERT(DATE, ' + @DT_INICIAL + ', 103) '
				SET @query = @query + 'AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) <= CONVERT(DATE, ' + @DT_FINAL + ', 103) '
				SET @query = @query + 'AND NF.ID_TIPO_NOTA_FISCAL = 2 AND NF.ID_SITUACAO_NOTA_FISCAL = 2 '
				SET @query = @query + 'AND PE.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND '
				SET @query = @query + 'PE.CD_EST_SITUACAO NOT IN (1,3) GROUP BY PEI.CD_MATERIAL) [Total], '			
			END

--MÉDIA ESTOQUE
	SET @query = @query + ' (SELECT AVG(QT_PRODUTO_MOVIMENTADO) '
	SET @query = @query + ' FROM TB_MOV_ESTOQUE E  '
	--SET @query = @query + ' WHERE CD_MATERIAL = DBO.FN_BUSCA_COD_MATERIAL_INTERNO(P.CD_MATERIAL) '
	SET @query = @query + ' WHERE CD_MATERIAL = P.CD_MATERIAL '
	SET @query = @query + ' AND CONVERT(DATE,DT_MOVIMENTO,103) >= CONVERT(DATE, ' + @DT_INICIAL + ', 103)'
	SET @query = @query + ' AND CONVERT(DATE,DT_MOVIMENTO,103) <= CONVERT(DATE, ' + @DT_FINAL + ', 103) '
	SET @query = @query + ' AND E.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO '	
	SET @query = @query + ' AND CD_TIPO_MOV_ESTOQUE in (3,5) GROUP BY E.CD_MATERIAL) [Média], '	   	 
	SET @query = @query + ' P.QT_ESTOQUE_DISPONIVEL [Estoque Disponível], '

--CENTRO DE DISTRIBUICAO
	SET @query = @query + ' DBO.FN_BUSCA_DESC_CENTRO_DISTRIBUICAO(P.CD_CENTRO_DISTRIBUICAO) [Centro Distribuição] '


SET @query = @query + ' FROM'

-- **********************************************************
-- BASICAMENTE A INTELIGENCIA DA QUERY ESTA AQUI
-- ELA QUE DETALHA AS INFORMAÇÕES
-- **********************************************************

SET @query = @query + ' ( '

-- TODOS OS PRODUTOS OU APENAS OS VENDIDOS
IF @ID_TIPO_PRODUTO = 0 OR @ID_TIPO_PRODUTO = 1
	BEGIN
		IF @ID_TIPO_COLUNA = 1
			BEGIN

				-- DATA DE CAPTAÇÃO
				IF @ID_TIPO_FILTRO_DATA = 1
					BEGIN
						SET @query = @query + '	SELECT	RIGHT(CONVERT(CHAR(10),P.DT_CAPTACAO_PEDIDO,103),7) DC_MES_ANO, '	
					END
		
				-- DATA DE APROVACAO
				IF @ID_TIPO_FILTRO_DATA = 2
					BEGIN
						SET @query = @query + '	SELECT	RIGHT(CONVERT(CHAR(10),P.DT_APROVACAO_PEDIDO,103),7) DC_MES_ANO, '	
					END

				-- DATA DE FATURAMENTO
				IF @ID_TIPO_FILTRO_DATA = 3
					BEGIN
						SET @query = @query + '	SELECT	(SELECT MAX(RIGHT(CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103),7)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES_ANO, '	
				 
					END

			END
		ELSE
			BEGIN
				-- DATA DE CAPTAÇÃO
				IF @ID_TIPO_FILTRO_DATA = 1
					BEGIN
						SET @query = @query + '	SELECT	CONVERT(CHAR(10),P.DT_CAPTACAO_PEDIDO,103) DC_MES_ANO, '
					END
		
				-- DATA DE APROVACAO
				IF @ID_TIPO_FILTRO_DATA = 2
					BEGIN
						SET @query = @query + '	SELECT	CONVERT(CHAR(10),P.DT_APROVACAO_PEDIDO,103) DC_MES_ANO, '
					END
			
				-- DATA DE FATURAMENTO
				IF @ID_TIPO_FILTRO_DATA = 3
					BEGIN
						SET @query = @query + '	SELECT	(SELECT MAX(CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES_ANO, '	
					END
			END

		SET @query = @query + '	DBO.FN_BUSCA_COD_MATERIAL_EXTERNO(PEI.CD_MATERIAL) CD_MATERIAL_EXTERNO, '
		SET @query = @query + '	PEI.CD_MATERIAL CD_MATERIAL, '
						
		SET @query = @query + ' E.QT_ESTOQUE_DISPONIVEL, '
		
		SET @query = @query + ' E.CD_CENTRO_DISTRIBUICAO, '



		-- ******************************************************
		-- VERIFICA SE RETORNA QUANTIDADE OU VALOR TOTAL
		-- ******************************************************
		IF @ID_TIPO_RESULTADO = 1
			BEGIN
				SET @query = @query + '	PEI.QT_RESERVADA '
			END
		ELSE
			BEGIN
				SET @query = @query + '	PEI.VL_PAGAR_TOTAL '
			END 


		-- ******************************************************
		-- VERIFICA SE TEREMOS AS QUEBRAS DE UF E PESSOA
		-- ******************************************************

		-- QUEBRA POR UF
		IF @ID_REALIZA_QUEBRA_UF = 1
			BEGIN
				SET @query = @query + '	, (Select DC_ESTRUTURA_GEO2 FROM TB_PEDIDO_ENDERECO EN WHERE EN.NM_PEDIDO = P.NM_PEDIDO ) UF '
			END

		-- QUEBRA POR PESSOA
		IF @ID_REALIZA_QUEBRA_PESSOA = 1
			BEGIN
				SET @query = @query + '	, P.CD_PESSOA '
				SET @query = @query + '	, DBO.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) Nome '
			END


		SET @query = @query + '	FROM TB_PEDIDO_ITEM PEI, TB_ESTOQUE E , TB_PEDIDO P '
		SET @query = @query + '	WHERE P.NM_PEDIDO = PEI.NM_PEDIDO AND E.CD_MATERIAL = PEI.CD_MATERIAL '
		SET @query = @query + '	AND P.CD_CENTRO_DISTRIBUICAO = E.CD_CENTRO_DISTRIBUICAO '
		SET @query = @query + '	AND P.CD_EST_SITUACAO NOT IN (1,3) '
		SET @query = @query + '	AND PEI.CD_MATERIAL <> 0 '

		IF @ID_CD <> 0 
			BEGIN
				SET @query = @query + '	AND P.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(10),@ID_CD)
			END
 
		IF @ID_EST_PRODUTO <> 0
			BEGIN
				SET @query = @query + '	AND PEI.CD_PRODUTO_VENDA IN (SELECT PVE.CD_PRODUTO_VENDA FROM TB_PRODUTO_VENDA_ESTRUTURA PVE, TB_EST_PRODUTO E WHERE E.CD_EST_PRODUTO = PVE.CD_EST_PRODUTO '
				SET @query = @query + ' AND E.CD_EST_PRODUTO in (select c1.CD_EST_PRODUTO from TB_EST_PRODUTO c1 where (c1.CD_NIVEL_PRO1 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO)
				SET @query = @query + ' or c1.CD_NIVEL_PRO2 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO3 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO4 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO5 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO6 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO7 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO)
				SET @query = @query + ' or c1.CD_NIVEL_PRO8 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO9 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) + ')))'
			END

		IF @CD_MATERIAL_EXTERNO <> '0'
			BEGIN
				SET @query = @query + '	AND PEI.CD_MATERIAL = DBO.FN_BUSCA_COD_MATERIAL_INTERNO(''' + @CD_MATERIAL_EXTERNO + ''') '
			END

		-- DATA DE CAPTAÇÃO
		IF @ID_TIPO_FILTRO_DATA = 1
			BEGIN
				SET @query = @query + '	AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) >= CONVERT(DATE, ' + @DT_INICIAL + ',103) '
				SET @query = @query + '	AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) <= CONVERT(DATE, ' + @DT_FINAL + ',103) '
			END

		-- DATA DE APROVACAO
		IF @ID_TIPO_FILTRO_DATA = 2
			BEGIN
				SET @query = @query + '	AND CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) >= CONVERT(DATE, ' + @DT_INICIAL + ',103) '
				SET @query = @query + '	AND CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) <= CONVERT(DATE, ' + @DT_FINAL + ',103) '
			END


		-- DATA DE FATURAMENTO
		IF @ID_TIPO_FILTRO_DATA = 3
			BEGIN
				SET @query = @query + '	AND	P.NM_PEDIDO in (SELECT NM_PEDIDO '
				SET @query = @query + '	FROM TB_NOTA_FISCAL NF '
				SET @query = @query + '	WHERE NF.ID_TIPO_NOTA_FISCAL = 2 '
				SET @query = @query + '	AND NF.NM_PEDIDO = P.NM_PEDIDO '
				SET @query = @query + '	AND NF.ID_SITUACAO_NOTA_FISCAL = 2 '
				SET @query = @query + '	AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) >= CONVERT(DATE, ' + @DT_INICIAL + ',103) '
				SET @query = @query + '	AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) <= CONVERT(DATE, ' + @DT_FINAL + ',103)) '
			END

	END


-- TODOS OS PRODUTOS
IF @ID_TIPO_PRODUTO = 0 
	BEGIN
		SET @query = @query + '	UNION ALL '
	END
	
-- TODOS OS PRODUTOS OU APENAS OS DOADOS
IF @ID_TIPO_PRODUTO = 0 OR @ID_TIPO_PRODUTO = 2
	BEGIN
		IF @ID_TIPO_COLUNA = 1
			BEGIN
				-- DATA DE CAPTAÇÃO
				IF @ID_TIPO_FILTRO_DATA = 1
					BEGIN
						SET @query = @query + '	SELECT	RIGHT(CONVERT(CHAR(10),P.DT_CAPTACAO_PEDIDO,103),7) DC_MES_ANO, '	
					END
		
				-- DATA DE APROVACAO
				IF @ID_TIPO_FILTRO_DATA = 2
					BEGIN
						SET @query = @query + '	SELECT	RIGHT(CONVERT(CHAR(10),P.DT_APROVACAO_PEDIDO,103),7) DC_MES_ANO, '	
					END

				-- DATA DE FATURAMENTO
				IF @ID_TIPO_FILTRO_DATA = 3
					BEGIN
						SET @query = @query + '	SELECT	(SELECT MAX(RIGHT(CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103),7)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES_ANO, '	
				 
					END

			END
		ELSE
			BEGIN
				-- DATA DE CAPTAÇÃO
				IF @ID_TIPO_FILTRO_DATA = 1
					BEGIN
						SET @query = @query + '	SELECT	CONVERT(CHAR(10),P.DT_CAPTACAO_PEDIDO,103) DC_MES_ANO, '
					END
		
				-- DATA DE APROVACAO
				IF @ID_TIPO_FILTRO_DATA = 2
					BEGIN
						SET @query = @query + '	SELECT	CONVERT(CHAR(10),P.DT_APROVACAO_PEDIDO,103) DC_MES_ANO, '
					END
			
				-- DATA DE FATURAMENTO
				IF @ID_TIPO_FILTRO_DATA = 3
					BEGIN
						SET @query = @query + '	SELECT	(SELECT MAX(CONVERT(CHAR(10),NF.DT_EMISSAO_NOTA_FISCAL,103)) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO and NF.ID_SITUACAO_NOTA_FISCAL = 2 and NF.ID_TIPO_NOTA_FISCAL = 2) DC_MES_ANO, '	
					END
			END

		--SET @query = @query + '	DBO.FN_BUSCA_COD_MATERIAL_EXTERNO(E.CD_MATERIAL) CD_MATERIAL, '

		SET @query = @query + '	DBO.FN_BUSCA_COD_MATERIAL_EXTERNO(E.CD_MATERIAL) CD_MATERIAL_EXTERNO, '
		SET @query = @query + ' E.CD_MATERIAL CD_MATERIAL, '

		SET @query = @query + ' E.QT_ESTOQUE_DISPONIVEL, '
		SET @query = @query + ' E.CD_CENTRO_DISTRIBUICAO, '	

		-- ******************************************************
		-- VERIFICA SE RETORNA QUANTIDADE OU VALOR TOTAL
		-- ******************************************************
		IF @ID_TIPO_RESULTADO = 1
			BEGIN
				SET @query = @query + '	PIP.QT_RESERVADA '
			END
		ELSE
			BEGIN
				SET @query = @query + '	PIP.VL_PAGAR_TOTAL '
			END 


		-- ******************************************************
		-- VERIFICA SE TEREMOS AS QUEBRAS DE UF E PESSOA
		-- ******************************************************

		-- QUEBRA POR UF
		IF @ID_REALIZA_QUEBRA_UF = 1
			BEGIN
				SET @query = @query + '	, (Select DC_ESTRUTURA_GEO2 FROM TB_PEDIDO_ENDERECO EN WHERE EN.NM_PEDIDO = P.NM_PEDIDO ) UF '
			END

		-- QUEBRA POR PESSOA
		IF @ID_REALIZA_QUEBRA_PESSOA = 1
			BEGIN
				SET @query = @query + '	, P.CD_PESSOA '
				SET @query = @query + '	, DBO.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) Nome '
			END


		SET @query = @query + '	FROM TB_PEDIDO_ITEM_PROMOCAO PIP,TB_ESTOQUE E, TB_PEDIDO P'
		SET @query = @query + '	WHERE PIP.CD_MATERIAL = E.CD_MATERIAL AND P.NM_PEDIDO = PIP.NM_PEDIDO   '
		SET @query = @query + '	AND P.CD_EST_SITUACAO NOT IN (1,3) '
		SET @query = @query + '	AND PIP.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 '
		SET @query = @query + '	AND PIP.CD_MATERIAL <> 0 '
		SET @query = @query + '	AND E.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO  '

		IF @ID_CD <> 0 
			BEGIN
				SET @query = @query + '	AND P.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(10),@ID_CD)
			END

		IF @ID_EST_PRODUTO <> 0
			BEGIN
				--SET @query = @query + '	AND PVE.CD_EST_PRODUTO = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO,103)
				SET @query = @query + '	AND PIP.CD_PRODUTO_VENDA IN (SELECT PVE.CD_PRODUTO_VENDA FROM TB_PRODUTO_VENDA_ESTRUTURA PVE, TB_EST_PRODUTO E WHERE E.CD_EST_PRODUTO = PVE.CD_EST_PRODUTO '
				SET @query = @query + ' AND E.CD_EST_PRODUTO in (select c1.CD_EST_PRODUTO from TB_EST_PRODUTO c1 where (c1.CD_NIVEL_PRO1 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO)
				SET @query = @query + ' or c1.CD_NIVEL_PRO2 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO3 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO4 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO5 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO6 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO7 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO)
				SET @query = @query + ' or c1.CD_NIVEL_PRO8 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) 
				SET @query = @query + ' or c1.CD_NIVEL_PRO9 = ' + CONVERT(NVARCHAR(10),@ID_EST_PRODUTO) + ')))'
			END

		IF @CD_MATERIAL_EXTERNO <> '0'
			BEGIN
				SET @query = @query + '	AND PIP.CD_MATERIAL = DBO.FN_BUSCA_COD_MATERIAL_INTERNO(''' + @CD_MATERIAL_EXTERNO + ''') '
			END


		-- DATA DE CAPTAÇÃO
		IF @ID_TIPO_FILTRO_DATA = 1
			BEGIN
				SET @query = @query + '	AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) >= CONVERT(DATE, ' + @DT_INICIAL + ',103) '
				SET @query = @query + '	AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO,103) <= CONVERT(DATE, ' + @DT_FINAL + ',103) '
			END

		-- DATA DE APROVACAO
		IF @ID_TIPO_FILTRO_DATA = 2
			BEGIN
				SET @query = @query + '	AND CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) >= CONVERT(DATE, ' + @DT_INICIAL + ',103) '
				SET @query = @query + '	AND CONVERT(DATE,P.DT_APROVACAO_PEDIDO,103) <= CONVERT(DATE, ' + @DT_FINAL + ',103) '
			END


		-- DATA DE FATURAMENTO
		IF @ID_TIPO_FILTRO_DATA = 3
			BEGIN
				SET @query = @query + '	AND	P.NM_PEDIDO in (SELECT NM_PEDIDO '
				SET @query = @query + '	FROM TB_NOTA_FISCAL NF '
				SET @query = @query + '	WHERE NF.ID_TIPO_NOTA_FISCAL = 2 '
				SET @query = @query + '	AND NF.NM_PEDIDO = P.NM_PEDIDO '
				SET @query = @query + '	AND NF.ID_SITUACAO_NOTA_FISCAL = 2 '
				SET @query = @query + '	AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) >= CONVERT(DATE, ' + @DT_INICIAL + ',103) '
				SET @query = @query + '	AND CONVERT(DATE,NF.DT_EMISSAO_NOTA_FISCAL,103) <= CONVERT(DATE, ' + @DT_FINAL + ',103)) '
			END


	END

	
SET @query = @query + '	) X '




-- ***********************************************************
-- AQUI FAZ O PIVOT, OU SEJA CONVERTE LINHAS EM COLUNAS
-- ***********************************************************

SET @query = @query + '	pivot ( '
-- RETORNA QUANTIDADE
IF @ID_TIPO_RESULTADO = 1
	BEGIN
		SET @query = @query + '	sum(QT_RESERVADA) '
	END
ELSE
	BEGIN
		SET @query = @query + '	sum(VL_PAGAR_TOTAL) '
	END

SET @query = @query + '	for DC_MES_ANO in (' + @cols1 + ')) P '


--print(@query)
--SELECT @V_RETORNO = @query

EXEC(@query);
GO
