SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PROCESSAMENTO_DIARIO]
   @VAR_RETORNO INT OUTPUT,
   @DC_ERRO NVARCHAR(MAX) OUTPUT,
   @DC_ROTINA NVARCHAR(MAX) OUTPUT
 
AS
 
  DECLARE   @QT_LINHAS_AFETADAS INT
  DECLARE   @CD_CLIENTE NUMERIC(18, 0)
  DECLARE   @CD_EST_COMERCIAL NUMERIC(18, 0)
  DECLARE   @DT_FECHAMENTO DATE
  DECLARE   @DT_ATUAL DATE
  DECLARE   @CD_USUARIO NUMERIC(18,0)
  DECLARE   @DT_INICIO_PROCESSAMENTO DATE
  DECLARE   @CURSOR_PEDIDOS_PAGOS CURSOR,
            @CURSOR_PESSOA        CURSOR,
	    @CURSOR_DETALHE_REMUNERACAO CURSOR

  DECLARE   @CD_MN_DETALHE_REMUNERACAO NUMERIC(18,0),
            @CD_MN_REMUNERACAO         NUMERIC(18,0),
            @NM_CICLO_REMUNERACAO      NUMERIC(18,0),
            @VL_REMUNERACAO            NUMERIC(18,2),
	    @VL_ORIGINAL               NUMERIC(18,2)
 
  DECLARE   @V_DT_CALCULA_PC_ULTIMA DATE,
            @V_DT_CALCULA_PC_PROXIMA DATE
  DECLARE   @CD_PESSOA           NUMERIC(18,0),
            @CD_FUNCAO           NUMERIC(18,0),
            @NM_CICLO            NUMERIC(18,0),  
            @NM_CICLO_CAPTACAO   NUMERIC(18,0),
            @NM_PEDIDO           NUMERIC(18,0),
            @ID_EVENTO           INT ,
            @ID_MOMENTO_CALCULO_INDICADOR INT ,
            @ID_TIPO_ATUALIZACAO INT ,
            @CD_LOG_PROCESSAMENTO NUMERIC(18,0),
            @V_DT_PAGAMENTO        DATETIME
 
  DECLARE   @QT_DIAS_APOS_FECH     INT
  --DECLARE @CURSOR_EC       CURSOR
  DECLARE   @NM_CICLO_FECHAMENTO NUMERIC(18,0)

  DECLARE  @EVENTO_ATUALIZACAO_REMUNERACAO INT,
           @EVENTO_ATUALIZACAO_PAPEL       INT,
           @CALCULA_PRIMEIRO               INT,
           @CONTROLE                       INT,
           @NIVEL                          INT

  DECLARE @VL_PARAMETRO_1_16         NUMERIC(18,4)

 
           
BEGIN TRY
		
	
	SELECT @CD_USUARIO = 0
	SELECT @VAR_RETORNO = 0
	SELECT @DC_ERRO = ''
 
		
	-- ************************************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- ************************************************************
	SELECT @CD_CLIENTE = VL_PARAMETRO
	FROM TB_VALOR_PARAMETRO with (NOLOCK)
	WHERE CD_GRUPO_PARAMETRO = 6
	AND CD_PARAMETRO = 1
	AND CD_VALOR_PARAMETRO  = 1


	-- **************************************************************************
	-- ********* SPATZ / TERRALI / FROW / PIERRE / HAVILA CESTAS / VIVER MAIS / PERFECT B (FARMASI) / CMC / A SOS / EVINO / FANES / BIOGALENA / CRÊSER / clorofitum / WINE HOUSE / CACAU SHOW / STRAP / MODA DO CHEF / AKMMOS / MAKIE / LILIH / MAHOGANY / SIBERIANN / KCONSTANCIO / ELLAS / PACHAMAMA / YES / WEST1 / BECORE/DNANAMODA/KENKO PATTO/LOWELL
	-- **************************************************************************
		IF @CD_CLIENTE IN (14, 13, 12, 20, 22, 23, 19, 24, 25, 28, 30, 31, 32, 33, 35, 37, 39, 40, 41, 43, 45, 47, 48, 49, 50, 51, 52, 53, 56,54,55,57) 
	
		BEGIN
			-- BUSCA OS PARAMETROS DE CALCULO DO MMN
			SELECT @EVENTO_ATUALIZACAO_REMUNERACAO = ID_EVENTO_ATUALIZACAO_REMUNERACAO,
				   @EVENTO_ATUALIZACAO_PAPEL       = ID_EVENTO_ATUALIZACAO_PAPEL,
				   @CALCULA_PRIMEIRO               = ID_CALCULA_PRIMEIRO
			FROM TB_MN_REGRA_GERAL with (NOLOCK)

			-- CALCULA PLANO DE CARREIRA OU REMUNERAÇÃO
			IF (@CALCULA_PRIMEIRO = 1)   -- PLANO DE CARREIRA
				BEGIN
					IF (@EVENTO_ATUALIZACAO_PAPEL = 1) --DIARIO
						BEGIN
							-- CURSOR DE PESSOA
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
							SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
							FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK),
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								 FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK)
								 WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								 AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								 AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								 AND   F.CD_FUNCAO           = G.CD_FUNCAO
								 AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								 AND   G.CD_FUNCAO           = 2
								 GROUP BY F.CD_PESSOA_VINCULADA) C
							WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
							AND   A.CD_FUNCAO                     = B.CD_FUNCAO
							AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
							AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
							AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
							AND   B.CD_SITUACAO_COMERCIAL  NOT IN (4)
							AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
							AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
							AND   A.NM_NIVEL              = C.MAX_NIVEL
							AND   B.CD_FUNCAO                    = 2
							UNION 
							SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
							FROM TB_PESSOA_RESUMO A with (NOLOCK)
							WHERE A.CD_FUNCAO                    = 2
							AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
							AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  
							AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
							ORDER BY 1, 2 DESC, 3 DESC

						END -- fim DIARIO

					IF (@EVENTO_ATUALIZACAO_PAPEL = 2)  -- FIM CICLO
						BEGIN
							-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
							SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
							FROM TB_MN_PARAMETROS with (NOLOCK)

							-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
							SELECT @DT_FECHAMENTO = GETDATE() -1     
      
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
							SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
							FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK), TB_CALENDARIO_COMERCIAL C with (NOLOCK),
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								 FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK), TB_CALENDARIO_COMERCIAL H with (NOLOCK)
								 WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								 AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								 AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								 AND   F.CD_FUNCAO           = G.CD_FUNCAO
								 AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								 AND   G.CD_EST_COMERCIAL                                                  = H.CD_EST_COMERCIAL
								 AND   G.NM_CICLO_ATUAL                                                    = H.NM_CICLO
								 AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, H.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								 AND   G.CD_FUNCAO           = 2
								 GROUP BY F.CD_PESSOA_VINCULADA) D
							WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
							AND   A.CD_FUNCAO                     = B.CD_FUNCAO
							AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
							AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
							AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
							AND   B.CD_EST_COMERCIAL                                                  = C.CD_EST_COMERCIAL
							AND   B.NM_CICLO_ATUAL                                                    = C.NM_CICLO
							AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, C.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
							AND   B.CD_FUNCAO                                                         = 2
							AND   B.CD_SITUACAO_COMERCIAL                                             NOT IN (4)
							AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
							AND   A.CD_PESSOA_VINCULADA   = D.CD_PESSOA_VINCULADA
							AND   A.NM_NIVEL              = D.MAX_NIVEL
							AND   B.CD_FUNCAO             = 2
							UNION 
							SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
							FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_CALENDARIO_COMERCIAL B with (NOLOCK)
							WHERE A.CD_EST_COMERCIAL                                                  = B.CD_EST_COMERCIAL
							AND   A.NM_CICLO_ATUAL                                                    = B.NM_CICLO
							AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, B.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
							AND   A.CD_FUNCAO                                                         = 2
							AND   A.CD_SITUACAO_COMERCIAL                                             NOT IN (4)
							AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
							ORDER BY 1, 2 DESC, 3 DESC

						 END -- fim CICLO
                                  
					OPEN @CURSOR_PESSOA
					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
  
					WHILE @@FETCH_STATUS = 0
						BEGIN

							-- CALCULA OS INDICADORES DE QUALIFICAÇÃO
							SELECT @ID_EVENTO                    = 6,  
								   @ID_MOMENTO_CALCULO_INDICADOR = 2,
								   @ID_TIPO_ATUALIZACAO          = 1

							EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO			OUTPUT,
									@DC_ERRO				OUTPUT,
									@QT_LINHAS_AFETADAS		OUTPUT

							EXEC SP_MN_APLICA_PLANO_CARREIRA_GENERICA
								@CD_PESSOA,
								@CD_FUNCAO,
								@NM_CICLO,
								@CD_EST_COMERCIAL,
								--@ID_ORIGEM   INT, -- 1 - FIM DIA (PEDIDO) / 2 - FIM CICLO (PESSOA) ... não tem necessidade pq o plano de carreira é calculado pessoa a pessoa 
								@VAR_RETORNO			OUTPUT,
								@DC_ERRO				OUTPUT,
								@QT_LINHAS_AFETADAS		OUTPUT


							-- CALCULA OS INDICADORES DE BONIFICAÇÃO
							SELECT	@ID_EVENTO                    = 7,  
									@ID_MOMENTO_CALCULO_INDICADOR = 2,
									@ID_TIPO_ATUALIZACAO          = 1
        
							EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO			OUTPUT,
									@DC_ERRO				OUTPUT,
									@QT_LINHAS_AFETADAS		OUTPUT


							FETCH NEXT FROM @CURSOR_PESSOA
							INTO @CONTROLE, @NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
						END
					CLOSE       @CURSOR_PESSOA
					DEALLOCATE  @CURSOR_PESSOA


					-- CALCULA A REMUNERAÇÃO
					IF (@EVENTO_ATUALIZACAO_REMUNERACAO = 1) --DIARIO
						BEGIN
							
							-- VERIFICAR SE A REMUNERACAO DEVE SER CALCULADA DESTE O INICIO DO CICLO (limpa as tabelas de remuneração e calcula novamente deste o 1o dia do ciclo)  
							-- CURSOR DETALHE DA REMUNERACAO

							-- ALTERAÇÃO : ALDIR 20/10/2021
							-- CONSIDERAR O CONCEITO DE CICLO ESTENDIDO
							SET @CURSOR_DETALHE_REMUNERACAO = CURSOR FAST_FORWARD
							FOR     SELECT A.CD_MN_DETALHE_REMUNERACAO,A.CD_MN_REMUNERACAO, A.NM_CICLO, A.VL_REMUNERACAO
								FROM TB_MN_DETALHE_REMUNERACAO A with (NOLOCK), 
								TB_MN_REGRA_REMUNERACAO B with (NOLOCK),
								TB_PESSOA_RESUMO C with (NOLOCK),
								TB_CALENDARIO_COMERCIAL D WITH(NOLOCK)
								--WHERE A.NM_CICLO              = C.NM_CICLO_ATUAL
								--AND   A.CD_PESSOA             = C.CD_PESSOA
								--AND   A.CD_FUNCAO             = C.CD_FUNCAO
								--AND   A.CD_REGRA_PREMIACAO_MN = B.CD_REMUNERACAO
								WHERE A.CD_REGRA_PREMIACAO_MN = B.CD_REMUNERACAO
								AND   A.CD_PESSOA             = C.CD_PESSOA
								AND   A.CD_FUNCAO             = C.CD_FUNCAO
								AND   A.NM_CICLO              = D.NM_CICLO
								AND   B.ID_REGRA_CALCULO      IN (4,11) -- DIARIO DESTE O INICIO DO CICLO (PEDIDO e CF)
								AND   C.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
								      OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )
								-- ALTERAÇÃO : ALDIR 07/11/2020
								-- CONSIDERAR O CONCEITO DE CICLO ESTENDIDO
								UNION  
								SELECT A.CD_MN_DETALHE_REMUNERACAO,A.CD_MN_REMUNERACAO, A.NM_CICLO, A.VL_REMUNERACAO
								FROM TB_MN_DETALHE_REMUNERACAO A with (NOLOCK), 
								TB_MN_REGRA_REMUNERACAO B with (NOLOCK),
								TB_PESSOA_RESUMO C with (NOLOCK),
								TB_CALENDARIO_COMERCIAL D WITH(NOLOCK)
								WHERE A.CD_REGRA_PREMIACAO_MN = B.CD_REMUNERACAO
								AND   A.CD_PESSOA             = C.CD_PESSOA
								AND   A.CD_FUNCAO             = C.CD_FUNCAO
								AND   A.NM_CICLO              = D.NM_CICLO
								AND   B.ID_REGRA_CALCULO      IN (5) -- DIARIO DESTE O INICIO DO CICLO (PESSOA)
								AND   C.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
								      OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )
								-- FIM DO CONCEITO DE CICLO ESTENDIDO

							OPEN @CURSOR_DETALHE_REMUNERACAO
							FETCH NEXT FROM @CURSOR_DETALHE_REMUNERACAO
  							INTO @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO, @NM_CICLO_REMUNERACAO, @VL_REMUNERACAO
    
							WHILE @@FETCH_STATUS = 0
							BEGIN
								-- DELETAR DA TABELA DETALHE
								BEGIN TRANSACTION
								DELETE TB_MN_DETALHE_REMUNERACAO WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_DETALHE_REMUNERACAO AND NM_CICLO = @NM_CICLO_REMUNERACAO
								-- ATUALIZAR A TABELA CONSOLIDADA
								UPDATE TB_MN_REMUNERACAO SET VL_ORIGINAL = (VL_ORIGINAL - @VL_REMUNERACAO)
											,VL_AJUSTADO = (VL_AJUSTADO - @VL_REMUNERACAO)
								WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								COMMIT TRANSACTION
								-- VERIFICAR A TABELA CONSOLIDADA ESTA ZERADO
								SELECT @VL_ORIGINAL = VL_ORIGINAL
								FROM TB_MN_REMUNERACAO with (NOLOCK) 
								WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								IF (@VL_ORIGINAL = 0)
								BEGIN
									BEGIN TRANSACTION
									DELETE TB_MN_REMUNERACAO WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
									COMMIT TRANSACTION
								END 

								FETCH NEXT FROM @CURSOR_DETALHE_REMUNERACAO
  								INTO @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO, @NM_CICLO_REMUNERACAO, @VL_REMUNERACAO
  							END
							CLOSE       @CURSOR_DETALHE_REMUNERACAO
							DEALLOCATE  @CURSOR_DETALHE_REMUNERACAO

							IF  (@CD_CLIENTE NOT IN (47,57,56, 53)) -- MAHOGANY / LOWELL / BECORE / WEST1
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK),
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK)
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
										AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
										AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
										AND   F.CD_FUNCAO           = G.CD_FUNCAO
										AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
										AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
								AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = C.MAX_NIVEL
								AND   B.CD_FUNCAO                    = 2
								
								UNION 
        
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A with (NOLOCK)
								WHERE A.CD_FUNCAO                    = 2
								AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
								ORDER BY 1, 2 DESC, 3 DESC

							END 

							IF  (@CD_CLIENTE IN (47)) -- MAHOGANY 
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, D.NM_CICLO
								FROM TB_PESSOA_RESUMO A with (NOLOCK),
		 							TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK),
		 							TB_PESSOA_PAPEL_HISTORICO C  with (NOLOCK),
	    								TB_CALENDARIO_COMERCIAL D WITH(NOLOCK)
								WHERE  A.CD_FUNCAO        = 2
								AND    A.CD_PESSOA        = B.CD_PESSOA
								AND    B.CD_SITUACAO_COMERCIAL < 4
								AND    A.CD_PESSOA        = C.CD_PESSOA
								AND    A.CD_FUNCAO        = C.CD_FUNCAO
								AND    C.CD_PAPEL_CARREIRA >= 5  -- LIDER
								AND    B.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND    B.NM_CICLO         = D.NM_CICLO
								AND    C.NM_CICLO         = D.NM_CICLO
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
 								     OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )
								ORDER BY 3,6
								-- UNICO CLIENTE QUE TEM O CONCEITO DE CICLO ESTENDIDO
							END 

							IF  (@CD_CLIENTE IN (57)) --  LOWELL
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, D.NM_CICLO
								FROM TB_PESSOA_RESUMO A with (NOLOCK),
		 							TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK),
		 							TB_PESSOA_PAPEL_HISTORICO C  with (NOLOCK),
	    								TB_CALENDARIO_COMERCIAL D WITH(NOLOCK)
								WHERE  A.CD_FUNCAO        = 2
								AND    A.CD_PESSOA        = B.CD_PESSOA
								AND    B.CD_SITUACAO_COMERCIAL < 4
								AND    A.CD_PESSOA        = C.CD_PESSOA
								AND    A.CD_FUNCAO        = C.CD_FUNCAO
								AND    C.CD_PAPEL_CARREIRA >= 2  -- LIDER
								AND    B.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND    B.NM_CICLO         = D.NM_CICLO
								AND    C.NM_CICLO         = D.NM_CICLO
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
 								     OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )
								ORDER BY 3,6
								-- UNICO CLIENTE QUE TEM O CONCEITO DE CICLO ESTENDIDO
							END 

							IF  (@CD_CLIENTE IN (56, 53)) --  BECORE / WEST1
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, D.NM_CICLO
								FROM TB_WRK_MN_TOPOLOGIA A WITH(NOLOCK), TB_PESSOA_RESUMO B WITH(NOLOCK), TB_CALENDARIO_COMERCIAL D WITH(NOLOCK),
									(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
			 						FROM TB_WRK_MN_TOPOLOGIA F WITH(NOLOCK), TB_PESSOA_RESUMO G WITH(NOLOCK)
			 						WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
			 						AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
			 						AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
			 						AND   F.CD_FUNCAO           = G.CD_FUNCAO
			 						AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
			 						AND   G.CD_FUNCAO           = 2
			 						GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
								AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = C.MAX_NIVEL
								AND   B.CD_FUNCAO                    = 2
								AND   B.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
		      							OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )	
								AND D.NM_CICLO > = ISNULL(B.NM_CICLO_INICIO,B.NM_CICLO_ATUAL)
								UNION 
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
								FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
								WHERE A.CD_FUNCAO                    = 2
								AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  
								AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
								AND   A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
								AND (   (CONVERT(DATE,GETDATE()-1) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		     							OR (CONVERT(DATE,GETDATE()-1) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )
								AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)
								ORDER BY 1, 2 DESC, 3 DESC, 6
								-- UNICO CLIENTE QUE TEM O CONCEITO DE CICLO ESTENDIDO
							END 
						
						END -- fim DIARIO

					IF (@EVENTO_ATUALIZACAO_REMUNERACAO = 2)  -- FIM CICLO
						BEGIN
							-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
							SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
							FROM TB_MN_PARAMETROS with (NOLOCK)

							-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
							SELECT @DT_FECHAMENTO = GETDATE() -1      
      
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK), TB_CALENDARIO_COMERCIAL C with (NOLOCK),
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK), TB_CALENDARIO_COMERCIAL H with (NOLOCK)
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_EST_COMERCIAL                                                  = H.CD_EST_COMERCIAL
								AND   G.NM_CICLO_ATUAL                                                    = H.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, H.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) D
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_EST_COMERCIAL                                                  = C.CD_EST_COMERCIAL
								AND   B.NM_CICLO_ATUAL                                                    = C.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, C.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   B.CD_FUNCAO                                                         = 2
								AND   B.CD_SITUACAO_COMERCIAL                                             NOT IN (4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
								AND   A.CD_PESSOA_VINCULADA   = D.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = D.MAX_NIVEL
								AND   B.CD_FUNCAO             = 2
								
								UNION 
        
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_CALENDARIO_COMERCIAL B with (NOLOCK)
								WHERE A.CD_EST_COMERCIAL                                                  = B.CD_EST_COMERCIAL
								AND   A.NM_CICLO_ATUAL                                                    = B.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, B.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   A.CD_FUNCAO                                                         = 2
								AND   A.CD_SITUACAO_COMERCIAL                                             NOT IN (4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								ORDER BY 1, 2 DESC, 3 DESC
		
						END -- fim CICLO
                                  
					OPEN @CURSOR_PESSOA
					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO  
  
					WHILE @@FETCH_STATUS = 0
						BEGIN
							EXEC SP_MN_CALCULA_REMUNERACAO_GENERICA
									@CD_PESSOA,
									@CD_FUNCAO,
									@NM_CICLO,
									@CD_EST_COMERCIAL,
    								--@NM_PEDIDO,  -- cada bônus vai definir o mecanismo de bonificação (pedido / indicador da pessoa)
									--@ID_ORIGEM,  -- atualmente não utiliza
									--@ID_MODO_EXECUCAO, --1 para pessoa e 2 para pedido    .... não vai precisar pq a procedure será generica
									@VAR_RETORNO OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT

							FETCH NEXT FROM @CURSOR_PESSOA
							INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO  
						END
					CLOSE       @CURSOR_PESSOA
					DEALLOCATE  @CURSOR_PESSOA

				END -- fim PAPEL



			IF (@CALCULA_PRIMEIRO = 2)   -- REMUNERAÇÃO
				BEGIN
					IF (@EVENTO_ATUALIZACAO_REMUNERACAO = 1) --DIARIO
						BEGIN
							-- VERIFICAR SE A REMUNERACAO DEVE SER CALCULADA DESTE O INICIO DO CICLO (limpa as tabelas de remuneração e calcula novamente deste o 1o dia do ciclo)  
							-- CURSOR DETALHE DA REMUNERACAO


							-- ALTERAÇÃO : ALDIR 20/10/2021
							-- CONSIDERAR O CONCEITO DE CICLO ESTENDIDO
							SET @CURSOR_DETALHE_REMUNERACAO = CURSOR FAST_FORWARD
							FOR     SELECT A.CD_MN_DETALHE_REMUNERACAO,A.CD_MN_REMUNERACAO, A.NM_CICLO, A.VL_REMUNERACAO
								FROM TB_MN_DETALHE_REMUNERACAO A with (NOLOCK), 
								TB_MN_REGRA_REMUNERACAO B with (NOLOCK),
								TB_PESSOA_RESUMO C with (NOLOCK),
								TB_CALENDARIO_COMERCIAL D WITH(NOLOCK)
								--WHERE A.NM_CICLO              = C.NM_CICLO_ATUAL
								--AND   A.CD_PESSOA             = C.CD_PESSOA
								--AND   A.CD_FUNCAO             = C.CD_FUNCAO
								--AND   A.CD_REGRA_PREMIACAO_MN = B.CD_REMUNERACAO
								WHERE A.CD_REGRA_PREMIACAO_MN = B.CD_REMUNERACAO
								AND   A.CD_PESSOA             = C.CD_PESSOA
								AND   A.CD_FUNCAO             = C.CD_FUNCAO
								AND   A.NM_CICLO              = D.NM_CICLO
								AND   B.ID_REGRA_CALCULO      IN (4,11) -- DIARIO DESTE O INICIO DO CICLO (PEDIDO e CF)
								AND   C.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
								      OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )
								-- ALTERAÇÃO : ALDIR 07/11/2020
								-- CONSIDERAR O CONCEITO DE CICLO ESTENDIDO
								UNION  
								SELECT A.CD_MN_DETALHE_REMUNERACAO,A.CD_MN_REMUNERACAO, A.NM_CICLO, A.VL_REMUNERACAO
								FROM TB_MN_DETALHE_REMUNERACAO A with (NOLOCK), 
								TB_MN_REGRA_REMUNERACAO B with (NOLOCK),
								TB_PESSOA_RESUMO C with (NOLOCK),
								TB_CALENDARIO_COMERCIAL D WITH(NOLOCK)
								WHERE A.CD_REGRA_PREMIACAO_MN = B.CD_REMUNERACAO
								AND   A.CD_PESSOA             = C.CD_PESSOA
								AND   A.CD_FUNCAO             = C.CD_FUNCAO
								AND   A.NM_CICLO              = D.NM_CICLO
								AND   B.ID_REGRA_CALCULO      IN (5) -- DIARIO DESTE O INICIO DO CICLO (PESSOA)
								AND   C.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
								      OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )
								-- FIM DO CONCEITO DE CICLO ESTENDIDO

							OPEN @CURSOR_DETALHE_REMUNERACAO
							FETCH NEXT FROM @CURSOR_DETALHE_REMUNERACAO
  							INTO @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO, @NM_CICLO_REMUNERACAO, @VL_REMUNERACAO
    
							WHILE @@FETCH_STATUS = 0
							BEGIN
								-- DELETAR DA TABELA DETALHE
								BEGIN  TRANSACTION
								DELETE TB_MN_DETALHE_REMUNERACAO WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_DETALHE_REMUNERACAO AND NM_CICLO = @NM_CICLO_REMUNERACAO
								-- ATUALIZAR A TABELA CONSOLIDADA
								UPDATE TB_MN_REMUNERACAO SET VL_ORIGINAL = (VL_ORIGINAL - @VL_REMUNERACAO)
											,VL_AJUSTADO = (VL_AJUSTADO - @VL_REMUNERACAO)
								WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								COMMIT TRANSACTION
								-- VERIFICAR A TABELA CONSOLIDADA ESTA ZERADO
								SELECT @VL_ORIGINAL = VL_ORIGINAL
								FROM TB_MN_REMUNERACAO  with (NOLOCK)
								WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
								IF (@VL_ORIGINAL = 0)
								BEGIN
									BEGIN TRANSACTION
									DELETE TB_MN_REMUNERACAO WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  AND NM_CICLO = @NM_CICLO_REMUNERACAO
									COMMIT TRANSACTION
								END 

								FETCH NEXT FROM @CURSOR_DETALHE_REMUNERACAO
  								INTO @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO, @NM_CICLO_REMUNERACAO, @VL_REMUNERACAO
  							END
							CLOSE       @CURSOR_DETALHE_REMUNERACAO
							DEALLOCATE  @CURSOR_DETALHE_REMUNERACAO


							IF  (@CD_CLIENTE NOT IN (47, 57, 56, 53)) -- MAHOGANY / LOWELL / BECORE / WEST1
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK),
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK)
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
								AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = C.MAX_NIVEL
								AND   B.CD_FUNCAO                    = 2
								
								UNION 

								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A with (NOLOCK)
								WHERE A.CD_FUNCAO                    = 2
								AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
								ORDER BY 1, 2 DESC, 3 DESC

							END 

							IF  (@CD_CLIENTE IN (47)) -- MAHOGANY
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, D.NM_CICLO
								FROM TB_PESSOA_RESUMO A with (NOLOCK),
		 							TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK),
		 							TB_PESSOA_PAPEL_HISTORICO C  with (NOLOCK),
	    								TB_CALENDARIO_COMERCIAL D WITH(NOLOCK)
								WHERE  A.CD_FUNCAO        = 2
								AND    A.CD_PESSOA        = B.CD_PESSOA
								AND    B.CD_SITUACAO_COMERCIAL < 4
								AND    A.CD_PESSOA        = C.CD_PESSOA
								AND    A.CD_FUNCAO        = C.CD_FUNCAO
								AND    C.CD_PAPEL_CARREIRA >= 5  -- LIDER
								AND    B.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND    B.NM_CICLO         = D.NM_CICLO
								AND    C.NM_CICLO         = D.NM_CICLO
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
 								     OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )
								ORDER BY 3,6
								-- UNICO CLIENTE QUE TEM O CONCEITO DE CICLO ESTENDIDO
							END 

							IF  (@CD_CLIENTE IN (57)) -- LOWELL
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, D.NM_CICLO
								FROM TB_PESSOA_RESUMO A with (NOLOCK),
		 							TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK),
		 							TB_PESSOA_PAPEL_HISTORICO C  with (NOLOCK),
	    								TB_CALENDARIO_COMERCIAL D WITH(NOLOCK)
								WHERE  A.CD_FUNCAO        = 2
								AND    A.CD_PESSOA        = B.CD_PESSOA
								AND    B.CD_SITUACAO_COMERCIAL < 4
								AND    A.CD_PESSOA        = C.CD_PESSOA
								AND    A.CD_FUNCAO        = C.CD_FUNCAO
								AND    C.CD_PAPEL_CARREIRA >= 2 -- LIDER
								AND    B.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND    B.NM_CICLO         = D.NM_CICLO
								AND    C.NM_CICLO         = D.NM_CICLO
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
 								     OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )
								ORDER BY 3,6
								-- UNICO CLIENTE QUE TEM O CONCEITO DE CICLO ESTENDIDO
							END 

							IF  (@CD_CLIENTE IN (56, 53)) --  BECORE / WEST1
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, D.NM_CICLO
								FROM TB_WRK_MN_TOPOLOGIA A WITH(NOLOCK), TB_PESSOA_RESUMO B WITH(NOLOCK), TB_CALENDARIO_COMERCIAL D WITH(NOLOCK),
									(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
			 						FROM TB_WRK_MN_TOPOLOGIA F WITH(NOLOCK), TB_PESSOA_RESUMO G WITH(NOLOCK)
			 						WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
			 						AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
			 						AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
			 						AND   F.CD_FUNCAO           = G.CD_FUNCAO
			 						AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
			 						AND   G.CD_FUNCAO           = 2
			 						GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
								AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = C.MAX_NIVEL
								AND   B.CD_FUNCAO                    = 2
								AND   B.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
								AND (    (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
		      							OR (CONVERT(DATE,GETDATE()-1) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )	
								AND D.NM_CICLO > = ISNULL(B.NM_CICLO_INICIO,B.NM_CICLO_ATUAL)
								UNION 
								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
								FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
								WHERE A.CD_FUNCAO                    = 2
								AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  
								AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
								AND   A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
								AND (   (CONVERT(DATE,GETDATE()-1) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		     							OR (CONVERT(DATE,GETDATE()-1) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )
								AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)
								ORDER BY 1, 2 DESC, 3 DESC, 6
								-- UNICO CLIENTE QUE TEM O CONCEITO DE CICLO ESTENDIDO
							END 




						END -- fim DIARIO

					IF (@EVENTO_ATUALIZACAO_REMUNERACAO = 2)  -- FIM CICLO
						BEGIN
							-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
							SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
							FROM TB_MN_PARAMETROS with (NOLOCK)

							-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
							SELECT @DT_FECHAMENTO = GETDATE() -1   
      
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK), TB_CALENDARIO_COMERCIAL C with (NOLOCK),
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK), TB_CALENDARIO_COMERCIAL H with (NOLOCK)
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_EST_COMERCIAL                                                  = H.CD_EST_COMERCIAL
								AND   G.NM_CICLO_ATUAL                                                    = H.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, H.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) D
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_EST_COMERCIAL                                                  = C.CD_EST_COMERCIAL
								AND   B.NM_CICLO_ATUAL                                                    = C.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, C.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   B.CD_FUNCAO                                                         = 2
								AND   B.CD_SITUACAO_COMERCIAL                                             NOT IN (4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
								AND   A.CD_PESSOA_VINCULADA   = D.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = D.MAX_NIVEL
								AND   B.CD_FUNCAO             = 2
								
								UNION 

								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_CALENDARIO_COMERCIAL B with (NOLOCK)
								WHERE A.CD_EST_COMERCIAL                                                  = B.CD_EST_COMERCIAL
								AND   A.NM_CICLO_ATUAL                                                    = B.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, B.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   A.CD_FUNCAO                                                         = 2
								AND   A.CD_SITUACAO_COMERCIAL                                             NOT IN (4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								ORDER BY 1, 2 DESC, 3 DESC

						END -- fim CICLO
                                  
					OPEN @CURSOR_PESSOA
					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
  
					WHILE @@FETCH_STATUS = 0
						BEGIN
							EXEC SP_MN_CALCULA_REMUNERACAO_GENERICA
									@CD_PESSOA,
									@CD_FUNCAO,
									@NM_CICLO,
									@CD_EST_COMERCIAL,
    								--@NM_PEDIDO,  -- cada bônus vai definir o mecanismo de bonificação (pedido / indicador da pessoa)
									--@ID_ORIGEM,  -- atualmente não utiliza
									--@ID_MODO_EXECUCAO, --1 para pessoa e 2 para pedido    .... não vai precisar pq a procedure será generica
									@VAR_RETORNO OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT

							FETCH NEXT FROM @CURSOR_PESSOA
							INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
						END
      
					CLOSE       @CURSOR_PESSOA
					DEALLOCATE  @CURSOR_PESSOA

					-- CALCULA O PLANO DE CARREIRA
					IF (@EVENTO_ATUALIZACAO_PAPEL = 1) --DIARIO
						BEGIN
							-- CURSOR DE PESSOA
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK),
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK)
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
								AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = C.MAX_NIVEL
								AND   B.CD_FUNCAO                    = 2
								
								UNION 

								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A with (NOLOCK)
								WHERE A.CD_FUNCAO                    = 2
								AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
								ORDER BY 1, 2 DESC, 3 DESC
						END -- fim DIARIO

					IF (@EVENTO_ATUALIZACAO_PAPEL = 2)  -- FIM CICLO
						BEGIN
							-- AGORA VAMOS BUSCAR O PARAMETRO DE DIAS APÓS O FECHAMENTO DA CAMPANHA
							SELECT @QT_DIAS_APOS_FECH = ISNULL(MAX(QT_MAXIMA_DIAS_CALC_REM),0)
							FROM TB_MN_PARAMETROS with (NOLOCK)

							-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
							SELECT @DT_FECHAMENTO = GETDATE() -1      
      
							SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
							FOR
								SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, B.NM_CICLO_ATUAL
								FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK), TB_CALENDARIO_COMERCIAL C with (NOLOCK),
								(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
								FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK), TB_CALENDARIO_COMERCIAL H with (NOLOCK)
								WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
								AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
								AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
								AND   F.CD_FUNCAO           = G.CD_FUNCAO
								AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
								AND   G.CD_EST_COMERCIAL                                                  = H.CD_EST_COMERCIAL
								AND   G.NM_CICLO_ATUAL                                                    = H.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, H.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   G.CD_FUNCAO           = 2
								GROUP BY F.CD_PESSOA_VINCULADA) D
								WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
								AND   A.CD_FUNCAO                     = B.CD_FUNCAO
								AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
								AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
								AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
								AND   B.CD_EST_COMERCIAL                                                  = C.CD_EST_COMERCIAL
								AND   B.NM_CICLO_ATUAL                                                    = C.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, C.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   B.CD_FUNCAO                                                         = 2
								AND   B.CD_SITUACAO_COMERCIAL                                             NOT IN (4)
								AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
								AND   A.CD_PESSOA_VINCULADA   = D.CD_PESSOA_VINCULADA
								AND   A.NM_NIVEL              = D.MAX_NIVEL
								AND   B.CD_FUNCAO             = 2
								
								UNION 

								SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, A.NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_CALENDARIO_COMERCIAL B with (NOLOCK)
								WHERE A.CD_EST_COMERCIAL                                                  = B.CD_EST_COMERCIAL
								AND   A.NM_CICLO_ATUAL                                                    = B.NM_CICLO
								AND   CONVERT(CHAR(10), DATEADD(DD, @QT_DIAS_APOS_FECH, B.DT_FINAL), 103) = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)   
								AND   A.CD_FUNCAO                                                         = 2
								AND   A.CD_SITUACAO_COMERCIAL                                             NOT IN (4)
								AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  -- NOVO (04/11)
								ORDER BY 1, 2 DESC, 3 DESC

						END -- fim CICLO
                                  
					OPEN @CURSOR_PESSOA
					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
  
					WHILE @@FETCH_STATUS = 0
						BEGIN

							-- CALCULA OS INDICADORES DE QUALIFICAÇÃO
							SELECT	@ID_EVENTO                    = 6,  
									@ID_MOMENTO_CALCULO_INDICADOR = 2,
									@ID_TIPO_ATUALIZACAO          = 1

							EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO		OUTPUT,
									@DC_ERRO			OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT

							EXEC SP_MN_APLICA_PLANO_CARREIRA_GENERICA
									@CD_PESSOA,
									@CD_FUNCAO,
									@NM_CICLO,
									@CD_EST_COMERCIAL,
									--@ID_ORIGEM   INT, -- 1 - FIM DIA (PEDIDO) / 2 - FIM CICLO (PESSOA) ...  não tem necessidade pq o plano de carreira é calculado pessoa a pessoa 
									@VAR_RETORNO		OUTPUT,
									@DC_ERRO			OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT

							-- CALCULA OS INDICADORES DE BONIFICAÇÃO
							SELECT	@ID_EVENTO                    = 7,  
									@ID_MOMENTO_CALCULO_INDICADOR = 2,
									@ID_TIPO_ATUALIZACAO          = 1

							EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO		OUTPUT,
									@DC_ERRO			OUTPUT,	
									@QT_LINHAS_AFETADAS OUTPUT


							FETCH NEXT FROM @CURSOR_PESSOA
							INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO  
						END

					CLOSE       @CURSOR_PESSOA
					DEALLOCATE  @CURSOR_PESSOA

				END -- fim REMUNERAÇÃO


		END --fim SPATZ / TERRALI / FROW / PIEERE / HAVILA CESTAS / VIVER MAIS / PEFECT B (FARMASI)  / CMC / A SOS / EVINO / FANES / CLOROFITUM / WINE HOUSE / CACAU SHOW / STRAP / MODA DO CHEF / AKMOS / MAKIE / LILIH / MAHOGANY / SIBERIANN / KCONSTANCIO / ELLAS / PACHAMAMA / YES / WEST1 / BECORE /DNANAMODA/KENKO PATTO
 
	-- **************************************************************************
	-- FIM DO MECANISMO GENERICO
	-- **************************************************************************

    
	
	-- *************************************************************************************************
	--FECHA O LOG DO PROCESSAMENTO DIÁRIO
	-- *************************************************************************************************
	BEGIN TRANSACTION
    UPDATE TB_LOG_PROCESSAMENTO_DIARIO
	SET DT_FIM_PROCESSAMENTO = GETDATE(),
    DC_ERRO = 'EXECUTADO COM SUCESSO!'
	WHERE CD_LOG_PROCESSAMENTO_DIARIO = @CD_LOG_PROCESSAMENTO
 	COMMIT TRANSACTION
 
	-- ************************************************************
	-- PROCEDIMENTO PADRÃO A SER EXECUTADO PARA TODOS OS CLIENTES
	-- COMO O PROCESSO SERÁ EXECUTADO DEPOIS DA MEIA NOITE TEREMOS QUE PEGAR A DATA ATUAL MENOS 1
	-- ************************************************************
	SELECT @DT_FECHAMENTO = GETDATE() -1

	-- ************************************************************
	-- EXECUTA A FECHA CAMPANHA
	-- ************************************************************
	-- VAMOS EXECUTAR PARA TODAS AS ESTRUTURAS COMERCIAIS
	SELECT @CD_EST_COMERCIAL = 0
  
	SELECT @DC_ROTINA = 'SP_FECHA_CAMPANHA'
 
	-- INSERE INICIO DO PROCESSO NO LOG DE EXECUÇÃO
	SELECT @DT_INICIO_PROCESSAMENTO = GETDATE()

	BEGIN TRANSACTION
	INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO (CD_PROGRAMA, DC_PROGRAMA, DT_INICIO_PROCESSAMENTO)
	VALUES (2, @DC_ROTINA, @DT_INICIO_PROCESSAMENTO)
        COMMIT TRANSACTION
	SELECT @CD_LOG_PROCESSAMENTO = IDENT_CURRENT('TB_LOG_PROCESSAMENTO_DIARIO')
     
	-- EXECUTA ROTINA FECHAR CAMPANHA
	EXEC DBO.SP_FECHA_CAMPANHA  @CD_EST_COMERCIAL,
								@DT_FECHAMENTO,
								@CD_USUARIO,
								@VAR_RETORNO            OUTPUT,
								@DC_ERRO                OUTPUT,
								@QT_LINHAS_AFETADAS OUTPUT


	-- ***************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 07/07/2018
	-- O TRECHO ABAIXO RECALCULA TODDOS OS INDICADORES DE CANCL E DE PEDIDO
	-- DO CICLO ATUAL
	-- POR ENQUANTO VAMOS COLOCAR SOMENTE PARA A PIERRE
	-- MAS A IDEIA QUE FUTURAMENTE SE COLOQUE EM TODOS OS CLIENTE
	-- ISSO AJUDA A ACERTAR OS INDICADORES QUE SÃO CALCULADOS DIARIAMENTE
	-- ***************************************************************************
/*	IF @CD_CLIENTE IN (20, 43, 47)    -- PIERRE / MAKIE / MAHOGANY
		BEGIN
			EXEC SP_CALCULA_INDICADOR_TOTAL_DIARIO
				@CD_EST_COMERCIAL,
				@DT_FECHAMENTO,
				0,
				@CD_USUARIO,
				@VAR_RETORNO			OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS		OUTPUT

		END
-- COMENTADO POR ALDIR (15/04/2021) TEM UM JOB QUE EXECUTA DIARIMENTE ESTÁ PROC
*/

	-- ***************************************************************************
	-- ALTERAÇÃO FEITA POR ALDIR - 28/11/2020
	-- O TRECHO ABAIXO ATUALIZA OS PAPEIS CARREIRA OU DESEMPENHO DAS PESSOAS COM
	-- EVOLUÇÃO OU REGRESSÃO DURANTE O CICLO ESTENDIDO
	-- ***************************************************************************
	IF @CD_CLIENTE IN (47)    -- MAHOGANY
		BEGIN
			
			EXEC SP_MN_ATUALIZA_PLANO_CARREIRA_ESTENDIDO_MAHOGANY
				@VAR_RETORNO OUTPUT,
				@DC_ERRO  OUTPUT,
				@QT_LINHAS_AFETADAS  OUTPUT

		END

	IF @CD_CLIENTE IN (56)    -- BECORE
		BEGIN
			
			EXEC SP_MN_ATUALIZA_PLANO_CARREIRA_ESTENDIDO_BECORE
				@VAR_RETORNO OUTPUT,
				@DC_ERRO  OUTPUT,
				@QT_LINHAS_AFETADAS  OUTPUT

		END

	IF @CD_CLIENTE IN (53)    -- WEST1
		BEGIN
			
			EXEC SP_MN_ATUALIZA_PLANO_CARREIRA_ESTENDIDO_WEST1
				@VAR_RETORNO OUTPUT,
				@DC_ERRO  OUTPUT,
				@QT_LINHAS_AFETADAS  OUTPUT

		END

	-- ***************************************************************************
	-- ALTERAÇÃO FEITA POR ALDIR - 16/02/2022
	-- O TRECHO ABAIXO ATUALIZA A SITUACAO COMERCIAL NO CICLO ATUAL DA PESSOA
	-- REATIAVADA MANUAL NO CICLO ANTERIOR E QUE NÃO FEZ UM PEDIDO APROVADO
	-- ***************************************************************************
	SELECT @VL_PARAMETRO_1_16 = ISNULL(MAX(VL_PARAMETRO),2) FROM TB_VALOR_PARAMETRO  with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 1 AND CD_PARAMETRO = 16
	IF (@VL_PARAMETRO_1_16 = 1)
		BEGIN
			EXEC SP_MN_ATUALIZA_SIT_COMERCIAL_ESTENDIDO
					@VAR_RETORNO OUTPUT,
					@DC_ERRO  OUTPUT,
					@QT_LINHAS_AFETADAS  OUTPUT
	
		END

	-- ***************************************************************************
	-- ALTERAÇÃO FEITA POR DIEGO ZILIOTI - 14/02/2023
	-- A ROTINA ABAIXO IRÁ REMOVER OS CRÉDITOS MANUAIS EXPIRADOS E APLICAR A ROTINA DE CALCULO AUTOMÁTICO
	-- ***************************************************************************
	EXEC [dbo].[pr_CreditoAtualizaCreditosExpirados]	0, --CD_PESSOA
														0, --CD_USUARIO
														@VAR_RETORNO OUTPUT,
														@DC_ERRO  OUTPUT,
														@QT_LINHAS_AFETADAS  OUTPUT

	-- ***************************************************************************
	-- ALTERAÇÃO FEITA POR DIEGO ZILIOTI EM 14/02/2023
	-- ENVIA ALERTAS DE E-MAIL PARA RENOVAÇÃO DE CERTIFICADOS SSL E NFE
	-- A IDEIA É AVISAR O CLIENTE E EVITAR PROBLEMAS DE CERTIFICADOS EXPIRADOS
	-- ***************************************************************************
 
	EXEC [dbo].[pr_AlertasExpiracaoCertificados] @VAR_RETORNO OUTPUT,
												 @DC_ERRO  OUTPUT,
												 @QT_LINHAS_AFETADAS  OUTPUT
	-- ATUALIZA O FIM DA EXECUCAO
	BEGIN TRANSACTION
	UPDATE TB_LOG_PROCESSAMENTO_DIARIO
	SET DT_FIM_PROCESSAMENTO = GETDATE(),
		VAR_RETORNO = @VAR_RETORNO,
		DC_ERRO     = @DC_ERRO
	WHERE CD_PROGRAMA = 2
	AND DT_INICIO_PROCESSAMENTO = @DT_INICIO_PROCESSAMENTO
	COMMIT TRANSACTION
 
END TRY    
 
BEGIN CATCH
-- WHOOPS, THERE WAS AN ERROR
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
     
      INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
      VALUES (@CD_LOG_PROCESSAMENTO,'ERRO INESPERADO.',@DC_ERRO,GETDATE(),@VAR_RETORNO)
     
      UPDATE TB_LOG_PROCESSAMENTO_DIARIO SET DT_FIM_PROCESSAMENTO = GETDATE()
      WHERE CD_LOG_PROCESSAMENTO_DIARIO = @CD_LOG_PROCESSAMENTO
     
   IF @@TRANCOUNT > 0
    ROLLBACK
 
   -- RAISE AN ERROR WITH THE DETAILS OF THE EXCEPTION
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
 
END CATCH;
GO
