SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_MODADOCHEF]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@CD_EST_COMERCIAL NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@NM_PEDIDO NUMERIC(18,0),
	@ID_EVENTO INT,
	@ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
        @ID_MOMENTO_CALCULO_INDICADOR INT,
	@CD_USUARIO NUMERIC(18,0),
		
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

/*************************************************************************
ID_EVENTO = 1 - APROVAÇÃO DE PEDIDO
ID_EVENTO = 2 - CANCELAMENTO DE PEDIDO APROVADO
ID_EVENTO = 3 - ALOCACAO DE REDE
ID_EVENTO = 4 - PAGAMENTO DE PEDIDO
ID_EVENTO = 5 - CANCELAMENTO DE PAGAMENTO DE PEDIDO
ID_EVENTO = 6 - FIM DIA
ID_EVENTO = 7 - ALTERA PAPEL MANUALMENTE
*************************************************************************/


DECLARE @EXISTE_REGISTRO				INT,
		@V_INICIO						INT,
		@INICIO							INT,
		@VL_PAGAR_TOTAL					NUMERIC(18,2),
        @VL_PONTOS_TOTAL                                NUMERIC(18),
		@CALCULA_INDICADOR				INT,
		@CD_PESSOA_VINCULADA			NUMERIC(18,0),
		@EXISTE_PEDIDO_APROVADO			INT



DECLARE @CURSOR_TOPOLOGIA    CURSOR

DECLARE @V_CD_PESSOA_VINCULADA                 NUMERIC(18,0)

DECLARE	@VL_TABELA_TOTAL				NUMERIC(18,2),
		@ID_MOMENTO_CALCULO_REM			INT,
		@QTD_INICIO						INT
		
DECLARE @EXISTE_REM						NUMERIC(18,0)
--DECLARE @V_CD_INDICADOR_10				INT
--DECLARE @VL_BONIFICACAO_DISTRIBUIDOR	NUMERIC(18,2)	

DECLARE @V_FUNCAO_REVEDENDORA			INT
DECLARE @V_RV_INDICANTE					NUMERIC(18,0)

DECLARE @POSSUI_RESTRICAO_CREDITO		INT
DECLARE @CD_PAPEL_CARREIRA				INT

BEGIN TRY

  SELECT @QT_LINHAS_AFETADAS = 0

  SELECT @POSSUI_RESTRICAO_CREDITO = 0

  /*******************************************************
	APROVAÇÃO DE PEDIDO
  ******************************************************/
  IF (@ID_EVENTO = 1) -- APROVAÇÃO DE PEDIDO
  BEGIN
    --**************************************************
 	-- GRAVA INDICADOR DE ATIVA ************************
	--**************************************************
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	IF @CALCULA_INDICADOR = 1
	BEGIN						
	  -- VERIFICA SE EXISTE O REGISTRO
      SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
 	  IF (@EXISTE_REGISTRO = 0) 
	  BEGIN
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
	 									1,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
      END
	  ELSE
	  BEGIN
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										1,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
      END
						
    END

 	--**************************************************
	-- GRAVA INDICADOR DE INATIVAS *********************
	--**************************************************
					
	-- QUANDO EU TENHO UMA ATIVA SIGNIFICA QUE EU 
	-- TENHO QUE DIMINUIR O NUMERO DE INATIVA
					
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(5,@ID_MOMENTO_CALCULO_INDICADOR) 
					
    IF @CALCULA_INDICADOR = 1
	BEGIN
	  -- VERIFICA SE EXISTE O REGISTRO DE INATIVA
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 5
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
							
      -- SE NAO EXISTE O REGISTRO DEVEMOS ADICIONAR
	  IF (@EXISTE_REGISTRO > 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										5,
										0,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
      END
	END
				
	--**************************************************
	-- GRAVA INDICADOR DE INICIOS  *********************
	--**************************************************
				
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4,@ID_MOMENTO_CALCULO_INDICADOR) 
	IF @CALCULA_INDICADOR = 1
	BEGIN
	  -- VERIFICA SE A PESSOA É UM INICIO
	  SELECT @V_INICIO = COUNT(*)	   	
	  FROM TB_HIST_SITUACAO_CONSULTORA
	  WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	  AND CD_PESSOA = @CD_PESSOA
	  AND NM_CICLO = @NM_CICLO
	  AND CD_SITUACAO_COMERCIAL IN (0,1)
	  AND dbo.FN_BUSCA_COD_SIT_COMERCIAL_PESSOA_CICLO(CD_PESSOA, 2, dbo.FN_BUSCA_CICLO_ANTERIOR(NM_CICLO)) IN (0, -1)
	  --(0 É CADASTRADA NO CICLO ANTERIOR E -1 SIGNIFICA QUE NAO EXISTE UM CICLO ANTERIOR)
						
	  IF (@V_INICIO = 1)
	  BEGIN
		-- VERIFICA SE EXISTE O REGISTRO DE INATIVA
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 4
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			
		-- SE NAO EXISTE O REGISTRO DEVEMOS ADICIONAR
		IF (@EXISTE_REGISTRO = 0) 
		BEGIN
	 	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										4,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
        END
		ELSE
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										4,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
        END
	  END		
    END
				
	--**************************************************
	-- GRAVA INDICADOR DE VALOR DE PEDIDO **************
	--**************************************************
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(2,@ID_MOMENTO_CALCULO_INDICADOR) 
	IF @CALCULA_INDICADOR = 1
	BEGIN
  	  -- PEGA VALOR DO PEDIDO
	  SELECT @VL_PAGAR_TOTAL = isnull(SUM(VL_PAGAR_TEORICO_TOTAL),0)
	  FROM TB_PEDIDO
	  WHERE NM_PEDIDO = @NM_PEDIDO
						
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
  	  AND CD_INDICADOR_PESSOAL = 2
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					
 	  IF (@EXISTE_REGISTRO = 0) 
	  BEGIN
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										2,
										@VL_PAGAR_TOTAL,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
      END
	  ELSE
	  BEGIN
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										2,
										@VL_PAGAR_TOTAL,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
      END
	END
				
	--**************************************************
    -- GRAVA INDICADOR DE QUANTIDADE DE PEDIDO *********
	--**************************************************
				
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3,@ID_MOMENTO_CALCULO_INDICADOR) 
	IF @CALCULA_INDICADOR = 1
	BEGIN
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 3
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
  	  IF (@EXISTE_REGISTRO = 0) 
	  BEGIN
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										3,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
      END
	  ELSE
	  BEGIN
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										3,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
      END
	END
				
  END -- APROVAÇÃO DE PEDIDO
			
			
  /*******************************************************
   CANCELAMENTO DE PEDIDO
  *******************************************************/
  IF (@ID_EVENTO = 2) -- CANCELAMENTO DE PEDIDO
  BEGIN
	--**************************************************
	-- GRAVA INDICADOR DE ATIVA ************************
	-- DIMINUIR O INDICADOR DE ATIVA *******************
	--**************************************************
				
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	select @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1,@ID_MOMENTO_CALCULO_INDICADOR) 
							
	IF @CALCULA_INDICADOR = 1
	BEGIN
	  -- VERIFICA SE TEM OUTRO PEDIDO APROVADO NO CICLO
	  SELECT @EXISTE_PEDIDO_APROVADO = COUNT(*) FROM TB_PEDIDO
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND NM_CICLO_APROVACAO = @NM_CICLO   
	  AND NM_PEDIDO <> @NM_PEDIDO
	  AND CD_EST_SITUACAO NOT IN (1, 3, 4)
										
	  IF @EXISTE_PEDIDO_APROVADO = 0
	  BEGIN
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										1, -- CD_INDICADOR_PESSOAL
										0, -- VL_INDICADOR_PESSOAL
										@CD_USUARIO,
										'A',
										0,
										'',
										0
      END
	END
								
    --**************************************************
    -- GRAVA INDICADOR DE INATIVAS *********************
	-- AUMENTAR INATIVAS *******************************
	--**************************************************
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(5,@ID_MOMENTO_CALCULO_INDICADOR)
								
	IF @CALCULA_INDICADOR = 1
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									5, --CD_INDICADOR_PESSOAL
									1, --VL_INDICADOR_PESSOAL
									@CD_USUARIO,
									'A',
									0,
									'',
									0
								
    END

	--**************************************************
	-- GRAVA INDICADOR DE INICIOS  *********************
	-- DIMINUIT OS INICIOS *****************************
	--**************************************************
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4,@ID_MOMENTO_CALCULO_INDICADOR)
								
	IF @CALCULA_INDICADOR = 1
	BEGIN
	  -- VERIFICA SE TEM OUTRO PEDIDO APROVADO ANTERIOR AO PEDIDO CANCELADO
	  SELECT @INICIO = COUNT(*) FROM TB_PEDIDO
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND NM_PEDIDO < @NM_PEDIDO
	  AND NM_CICLO_APROVACAO <= @NM_CICLO
	  AND CD_EST_SITUACAO NOT IN (1, 3, 4)
										
	  IF @INICIO = 0
	  BEGIN
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										4, --CD_INDICADOR_PESSOAL
										0, --Vl_INDICADOR_PESSOAL
										@CD_USUARIO,
										'A',
										0,
										'',
										0
      END
    END
								
	--**************************************************
	-- GRAVA INDICADOR DE VALOR DE PEDIDO **************
	-- DIMINUI O VALOR DO PEDIDO
	--**************************************************
								
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(2,@ID_MOMENTO_CALCULO_INDICADOR)
	IF @CALCULA_INDICADOR = 1
	BEGIN
	  -- PEGA VALOR DO PEDIDO
	  SELECT @VL_PAGAR_TOTAL = ISNULL(SUM(VL_PAGAR_TEORICO_TOTAL) *-1,0)
	  FROM TB_PEDIDO
	  WHERE NM_PEDIDO = @NM_PEDIDO
										
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
	 								@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									2, --CD_INDICADOR_PESSOAL
									@VL_PAGAR_TOTAL, --VL_INDICADOR_PESSOAL
									@CD_USUARIO,
									'A',
									0,
									'',
									0
									
    END
									
    --**************************************************
    -- GRAVA INDICADOR DE QUANTIDADE DE PEDIDO *********
	--**************************************************
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3,@ID_MOMENTO_CALCULO_INDICADOR)
								
	IF @CALCULA_INDICADOR = 1
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									3, --CD_INDICADOR_PESSOAL
									-1,--VL_INDICADOR_PESSOAL
									@CD_USUARIO,
									'A',
									0,
									'',
									0
										
    END

  END  -- CANCELAMENTO DE PEDIDO
			
		
  /*******************************************************
	ALOCAÇÃO DE REDE
  *******************************************************/
  IF (@ID_EVENTO = 3) -- ALOCAÇÃO DE REDE
  BEGIN
	IF (@ID_TIPO_ATUALIZACAO = 1) -- ADICIONAR
	BEGIN
  	  --**************************************************
	  -- INDICADOR DE CANAL
	  -- GRAVA INDICADOR DE REVEDENDORAS NA BASE *********
	  --**************************************************
						
  	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  select @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(6,@ID_MOMENTO_CALCULO_INDICADOR) 
  	  IF @CALCULA_INDICADOR = 1
	  BEGIN
		-- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 6
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		
		IF (@EXISTE_REGISTRO = 0) 
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										6,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
		END
		ELSE
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										6,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	  END
	END	

	IF (@ID_TIPO_ATUALIZACAO = 2) -- DIMINUI
	BEGIN
	  --**************************************************
	  -- GRAVA INDICADOR DE REVEDENDORAS NA BASE *********
	  --**************************************************
  	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  select @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(6,@ID_MOMENTO_CALCULO_INDICADOR) 
 	  IF @CALCULA_INDICADOR = 1
	  BEGIN
								
	    -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 6
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			
		IF (@EXISTE_REGISTRO > 0) 
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										6,
										0,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	  END
	END	
  END	 -- ALOCAÇÃO DE REDE
		
			
  /*******************************************************
	PAGAMENTO DO PEDIDO
  *******************************************************/
  IF (@ID_EVENTO = 4) -- PAGAMENTO DO PEDIDO
  BEGIN
	--SELECT @V_CD_INDICADOR_10 = 0
			    
	--SELECT @VL_BONIFICACAO_DISTRIBUIDOR = 40
				
    -- PEGA VALOR DO PEDIDO
	SELECT @VL_PAGAR_TOTAL = isnull(SUM(VL_PAGAR_TEORICO_TOTAL),0)
	FROM TB_PEDIDO
	WHERE NM_PEDIDO = @NM_PEDIDO



	IF @VL_PAGAR_TOTAL > 0
	BEGIN
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(7,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	  IF @CALCULA_INDICADOR = 1
	  BEGIN		
	    -- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 7
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						      
		IF (@EXISTE_REGISTRO = 0) 
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										7,
										@VL_PAGAR_TOTAL,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
		END
		ELSE
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										7,
										@VL_PAGAR_TOTAL,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	  END
					
	  --**************************************************
	  -- GRAVA INDICADOR DE INICIOS COM PEDIDO PAGO   ****
	  --**************************************************

	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(10,@ID_MOMENTO_CALCULO_INDICADOR) 
	  IF @CALCULA_INDICADOR = 1
      BEGIN		
		-- VERIFICA SE A PESSOA FOI INICIO NO CICLO
		SELECT @QTD_INICIO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_INDICADOR_PESSOAL = 4 -- INICIO
		AND CD_FUNCAO  = @CD_FUNCAO
		AND CD_PESSOA = @CD_PESSOA
		AND NM_CICLO = @NM_CICLO
		AND VL_INDICADOR_PESSOAL = 1
		-- SÓ CONTINUA SE A PESSOA É UM INICIO
							
		IF @QTD_INICIO > 0
		BEGIN
								
	      --VERIFICA SE EXISTE O REGISTRO
		  SELECT @EXISTE_REGISTRO = COUNT(*)
		  FROM TB_PESSOA_INDICADOR
		  WHERE CD_PESSOA = @CD_PESSOA
		  AND CD_FUNCAO = @CD_FUNCAO
		  AND CD_INDICADOR_PESSOAL = 10
		  AND NM_CICLO = @NM_CICLO
		  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
										
		  IF @EXISTE_REGISTRO = 0
		  BEGIN  
		    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
										    @CD_EST_COMERCIAL,
											@NM_CICLO,
											10,
											1,
											@CD_USUARIO,
											'I',
											0,
											'',
							   				0
			--  SELECT @V_CD_INDICADOR_10 = 10
		  END						
		  ELSE
		  BEGIN
		    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											10,
											1,
											@CD_USUARIO,
											'A',
											0,
											'',
											0
								   	  
		  END
		END
	  END
						
	  --**************************************************
	  -- GRAVA INDICADOR DE QUANTIDADE DE PEDIDO PAGO ****
	  --**************************************************

  	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(8,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	  IF @CALCULA_INDICADOR = 1
	  BEGIN		
		-- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 8
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						
		IF @EXISTE_REGISTRO = 0
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										8,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
        END
		ELSE
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										8,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	  END
						
	  --*******************************************************
	  -- GRAVA INDICADOR DE VALOR DE PRODUTOS REGULARES PAGOS
	  --******************************************************
						
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(9,@ID_MOMENTO_CALCULO_INDICADOR) 
  	  IF @CALCULA_INDICADOR = 1
	  BEGIN		
		-- VERIFICA O TOTAL DE PRODUTOS REGULARES
		SELECT @VL_TABELA_TOTAL = isnull(SUM(VL_TABELA_TOTAL),0)
		FROM TB_PEDIDO_ITEM
		WHERE NM_PEDIDO = @NM_PEDIDO
		AND ID_TIPO_PRODUTO = 1
		AND NM_PEDIDO_ITEM_CONJUNTO = 0
					
        IF @VL_TABELA_TOTAL > 0 
		BEGIN 
														
		  -- VERIFICA SE EXISTE O REGISTRO
		  SELECT @EXISTE_REGISTRO = COUNT(*)
		  FROM TB_PESSOA_INDICADOR
		  WHERE CD_PESSOA = @CD_PESSOA
		  AND CD_FUNCAO = @CD_FUNCAO
		  AND CD_INDICADOR_PESSOAL = 9
		  AND NM_CICLO = @NM_CICLO
		  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
		  IF (@EXISTE_REGISTRO = 0) 
		  BEGIN
		    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											9,
											@VL_TABELA_TOTAL,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
		  END
		  ELSE
		  BEGIN
		    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											9,
											@VL_TABELA_TOTAL,
											@CD_USUARIO,
										    'A',
											0,
										    '',
											0  
		  END
		END
	  END
			
	  --******************************************************************************
	  -- GRAVA INDICADOR ATIVA PEDIDO PAGO
	  --******************************************************************************
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(11,@ID_MOMENTO_CALCULO_INDICADOR) 
	  IF @CALCULA_INDICADOR = 1
	  BEGIN		
        -- VERIFICA SE EXISTE O REGISTRO
	    SELECT @EXISTE_REGISTRO = COUNT(*)
	    FROM TB_PESSOA_INDICADOR
	    WHERE CD_PESSOA = @CD_PESSOA
	    AND CD_FUNCAO = @CD_FUNCAO
        AND CD_INDICADOR_PESSOAL = 11
	    AND NM_CICLO = @NM_CICLO
	    AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	    IF (@EXISTE_REGISTRO = 0) 
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
		  								@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
	 									11,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
	    END
	    ELSE
	    BEGIN
	      EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										11,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0  
        END
	  END
    END  --  @VL_PAGAR_TOTAL									
  END    -- @ID_EVENTO = 4
			
  /*******************************************************
	CANCELAMENTO DO PAGAMENTO DO PEDIDO
  *******************************************************/
  IF (@ID_EVENTO = 5) -- CANCELAMENTO PAGAMENTO DO PEDIDO
  BEGIN
	--**********************************************************************
	-- GRAVA INDICADOR DE VALOR DE PEDIDO **********************************
	--**********************************************************************

	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(7,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	IF @CALCULA_INDICADOR = 1
	BEGIN						
  	  SELECT @VL_PAGAR_TOTAL = ISNULL(SUM(VL_PAGAR_TEORICO_TOTAL) *-1,0)
	  FROM TB_PEDIDO
	  WHERE NM_PEDIDO = @NM_PEDIDO
						
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									7,
									@VL_PAGAR_TOTAL,
									CD_USUARIO,
									'A',
									0,
									'',
									0

	END
	--**************************************************
	-- GRAVA INDICADOR DE QUANTIDADE DE PEDIDO PAGO ****
	--**************************************************
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(8,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	IF @CALCULA_INDICADOR = 1
	BEGIN						
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									8,
									-1,
									@CD_USUARIO,
									'A',
									0,
									'',
									0
	END
				
	--*******************************************************
	-- GRAVA INDICADOR DE VALOR DE PRODUTOS REGULARES PAGOS
	--******************************************************
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(9,@ID_MOMENTO_CALCULO_INDICADOR) 
	IF @CALCULA_INDICADOR = 1
	BEGIN						
	  -- VERIFICA O TOTAL DE PRODUTOS REGULARES
	  SELECT @VL_TABELA_TOTAL = ISNULL(SUM(VL_TABELA_TOTAL) *-1,0)
	  FROM TB_PEDIDO_ITEM
	  WHERE NM_PEDIDO = @NM_PEDIDO
	  AND ID_TIPO_PRODUTO = 1
	  AND NM_PEDIDO_ITEM_CONJUNTO = 0
						
	  IF @VL_TABELA_TOTAL <> 0
	  BEGIN						
	    -- INSERE VALOR PAGO
		 EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										9,
										@VL_TABELA_TOTAL,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
	  END		
	END
					
	--**************************************************
	-- GRAVA INDICADOR DE INICIOS COM PEDIDO PAGO   ****
	--**************************************************
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(10,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	IF @CALCULA_INDICADOR = 1
	BEGIN						
				
 	  -- VERIFICA SE TEM UM PEDIDO PAGO ANTERIOR AO PEDIDO CANCELADO
	  SELECT @VL_PAGAR_TOTAL = COUNT(*)
	  FROM TB_PEDIDO
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND   NM_PEDIDO         <> @NM_PEDIDO	
	  AND   CD_EST_SITUACAO NOT IN (1, 3, 4)
	  AND   CD_FUNCAO          = @CD_FUNCAO 
	  AND   NM_CICLO_PAGAMENTO = @NM_CICLO
						
	  IF @VL_TABELA_TOTAL =  0
	  BEGIN						
	    -- INSERE VALOR PAGO
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										10, --CD_INDICADOR_PESSOAL
										0, --Vl_INDICADOR_PESSOAL
										@CD_USUARIO,
										'A',
										0,
										'',
										0

								
	  END		
	END

  	--******************************************************************************
	-- GRAVA INDICADOR ATIVA PEDIDO PAGO
	--******************************************************************************
    -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(11,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	IF @CALCULA_INDICADOR = 1
	BEGIN						
				
 	  -- VERIFICA SE TEM UM PEDIDO PAGO ANTERIOR AO PEDIDO CANCELADO
	  SELECT @VL_PAGAR_TOTAL = COUNT(*)
	  FROM TB_PEDIDO
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND   NM_PEDIDO         <> @NM_PEDIDO	
	  AND   CD_EST_SITUACAO NOT IN (1, 3, 4)
	  AND   CD_FUNCAO          = @CD_FUNCAO 
	  AND   NM_CICLO_PAGAMENTO = @NM_CICLO
						
	  IF @VL_TABELA_TOTAL =  0
	  BEGIN						
	    -- INSERE VALOR PAGO
		EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										11, --CD_INDICADOR_PESSOAL
										0, --Vl_INDICADOR_PESSOAL
										@CD_USUARIO,
										'A',
										0,
										'',
										0

								
	  END		
	END
  END  -- @ID_EVENTO = 5
			
  /*******************************************************
  FIM DIA
  *******************************************************/
  IF (@ID_EVENTO = 6) -- FIM DIA
  BEGIN
    SELECT @VAR_RETORNO = 0
  END -- @ID_EVENTO = 6		

  SELECT @VAR_RETORNO = 0	
		
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
