SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_GarantiaListaMaterialGarantia]
	@p_CdProdutoVendaExterno    varchar(100),
	@p_nmPedido					numeric(18,0)

AS
BEGIN
  DECLARE @v_idAgrupamento		int

		  select @v_idAgrupamento = 0

		  --busca o idAgrupamento
		  select @v_idAgrupamento = id_agrupamento
		  from TB_PRODUTO_VENDA
		  where CD_PRODUTO_VENDA_EXTERNO = @p_CdProdutoVendaExterno

		  --CÓDIGO ID_AGRUPAMENTO = 1
		  IF @v_idAgrupamento = 1 --regular
				BEGIN
					 SELECT B.CD_MATERIAL, 
							B.CD_MATERIAL_EXTERNO + ' - ' +   B.DC_MATERIAL  [DC_MATERIAL]	
					   FROM TB_PRODUTO_VENDA A WITH (NOLOCK),
							TB_MATERIAL B WITH (NOLOCK)
					  WHERE CD_PRODUTO_VENDA_EXTERNO = @p_CdProdutoVendaExterno
						AND A.CD_MATERIAL = B.CD_MATERIAL
					    AND B.ID_GARANTIA = 1
						AND ((@p_nmPedido > 0 AND A.CD_PRODUTO_VENDA IN (SELECT CD_PRODUTO_VENDA 
					                                                      FROM TB_PEDIDO_ITEM WITH (NOLOCK) 
																		 WHERE NM_PEDIDO = @p_nmPedido 
																		 and NM_PEDIDO_ITEM_CONJUNTO = 0)) OR (@p_nmPedido = 0))
				END
		  ELSE 
			IF @v_idAgrupamento = 2 --kit
				BEGIN
					SELECT A.CD_MATERIAL, 
						   B.DC_PRODUTO_VENDA DC_MATERIAL
					  FROM TB_PRODUTO_VENDA_COMPONENTE A WITH (NOLOCK),
						   TB_PRODUTO_VENDA B WITH (NOLOCK),
						   TB_MATERIAL C WITH(NOLOCK)
					 WHERE B.CD_PRODUTO_VENDA_EXTERNO = @p_CdProdutoVendaExterno
					   AND A.CD_PRODUTO_VENDA = B.CD_PRODUTO_VENDA
					   AND C.CD_MATERIAL = A.CD_MATERIAL
					   AND C.ID_GARANTIA = 1
					   AND ((@p_nmPedido > 0 AND A.CD_PRODUTO_VENDA IN (SELECT CD_PRODUTO_VENDA 
					                                                      FROM TB_PEDIDO_ITEM WITH (NOLOCK) 
																		 WHERE NM_PEDIDO = @p_nmPedido 
																		 and NM_PEDIDO_ITEM_CONJUNTO = 0)) OR (@p_nmPedido = 0))

				END
			ELSE
				IF @v_idAgrupamento = 3 --AGRUPAMENTO
					BEGIN
						SELECT A.CD_MATERIAL, 
							   A.CD_MATERIAL_EXTERNO + ' - ' +   A.DC_MATERIAL  [DC_MATERIAL]	
						  FROM TB_MATERIAL A WITH (NOLOCK),
							   TB_PRODUTO_VENDA B WITH (NOLOCK)
  						 WHERE  A.CD_CODIGO_AGRUPADOR = B.CD_CODIGO_AGRUPADOR
						   AND B.CD_PRODUTO_VENDA_EXTERNO = @p_CdProdutoVendaExterno
						   AND A.ID_GARANTIA = 1
					   	   AND ((@p_nmPedido > 0 AND A.CD_MATERIAL = (SELECT CD_MATERIAL FROM TB_PEDIDO_ITEM WITH (NOLOCK) WHERE NM_PEDIDO = @p_nmPedido)) OR (@p_nmPedido = 0))
					END
END
GO
