SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_REPROCESSAR_BONIFICACAO]
   @NM_CICLO  NUMERIC(18,0),
   @VAR_RETORNO INT OUTPUT,
   @DC_ERRO NVARCHAR(MAX) OUTPUT,
   @DC_ROTINA NVARCHAR(MAX) OUTPUT
 
AS
  
  DECLARE   @QT_REGISTROS_APROVADOS NUMERIC(18,0),   
            @CURSOR_PESSOA          CURSOR
  DECLARE   @CD_PESSOA              NUMERIC(18,0),
            @CD_FUNCAO              NUMERIC(18,0)
  DECLARE   @CD_EST_COMERCIAL       NUMERIC(18, 0)
  
  DECLARE   @QT_LINHAS_AFETADAS     INT,
            @CONTROLE               INT,
            @NIVEL                  INT

           
BEGIN TRY
  SELECT @VAR_RETORNO = 0
  SELECT @DC_ERRO     = ''

  -- VERIFICAR SE O CICLO PARA REPROCESSAR AINDA NAO FOI APROVADO
  SELECT @QT_REGISTROS_APROVADOS = COUNT(*)
  FROM TB_MN_REMUNERACAO with (NOLOCK)
  WHERE NM_CICLO                = @NM_CICLO
  AND   ID_SITUACAO_REMUNERACAO	= 2  -- APROVADO

  IF (@QT_REGISTROS_APROVADOS > 0)
  BEGIN
    SELECT @VAR_RETORNO = -1
          ,@DC_ERRO     = 'Não pode reprocessar a bonificação. O ciclo informado já tem bonificações aprovadas !'
  END
  ELSE
  BEGIN
    -- FAZER BACKUP DAS TABELAS DE BONIFICAÇÃO
    BEGIN TRANSACTION
    DELETE TB_MN_DETALHE_REMUNERACAO_BKP WHERE NM_CICLO = @NM_CICLO
    COMMIT TRANSACTION

    BEGIN TRANSACTION
    DELETE TB_MN_REMUNERACAO_BKP  WHERE NM_CICLO = @NM_CICLO  
    COMMIT TRANSACTION

    BEGIN TRANSACTION   
    INSERT INTO TB_MN_DETALHE_REMUNERACAO_BKP
    	(CD_PESSOA, 
         CD_FUNCAO, 
         NM_CICLO, 
         ID_MOTIVO_REMUNERACAO,
         CD_REGRA_PREMIACAO_MN, 
         ID_ORIGEM_PREMIACAO_MN, 
         NM_ORIGEM_MN,
         VL_ORIGEM_MN,
         VL_PERCENTUAL_REM, 
         VL_REMUNERACAO,
         CD_MN_REMUNERACAO,
         CD_PAPEL_DESEMPENHO,
	 NM_NIVEL)
    SELECT CD_PESSOA, 
           CD_FUNCAO, 
           NM_CICLO, 
           ID_MOTIVO_REMUNERACAO,
           CD_REGRA_PREMIACAO_MN, 
           ID_ORIGEM_PREMIACAO_MN, 
           NM_ORIGEM_MN,
           VL_ORIGEM_MN,
           VL_PERCENTUAL_REM, 
           VL_REMUNERACAO,
           CD_MN_REMUNERACAO,
           CD_PAPEL_DESEMPENHO,
	   NM_NIVEL
    FROM TB_MN_DETALHE_REMUNERACAO with (NOLOCK)
    WHERE NM_CICLO = @NM_CICLO
    COMMIT TRANSACTION

    BEGIN TRANSACTION 
    INSERT INTO TB_MN_REMUNERACAO_BKP
         (CD_PESSOA, 
          CD_FUNCAO , 
          NM_CICLO, 
          ID_SITUACAO_REMUNERACAO,
          VL_ORIGINAL,VL_AJUSTADO, 
          DC_MOTIVO_AJUSTE, 
          ID_FORMA_PREMIACAO_MN, 
          ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, 
          DT_CADASTRO, 
          CD_USUARIO_CADASTRO,  
          DT_ATUALIZACAO,  
          CD_USUARIO_ATUALIZACAO)
    SELECT CD_PESSOA, 
           CD_FUNCAO , 
           NM_CICLO, 
           ID_SITUACAO_REMUNERACAO,
           VL_ORIGINAL,VL_AJUSTADO, 
           DC_MOTIVO_AJUSTE, 
           ID_FORMA_PREMIACAO_MN, 
           ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, 
           DT_CADASTRO, 
           CD_USUARIO_CADASTRO,  
           DT_ATUALIZACAO,  
           CD_USUARIO_ATUALIZACAO
    FROM TB_MN_REMUNERACAO with (NOLOCK)
    WHERE NM_CICLO = @NM_CICLO
    COMMIT TRANSACTION

    -- LIMPAR AS TABELAS DE REMUNERAÇÃO
    BEGIN TRANSACTION
    DELETE TB_MN_DETALHE_REMUNERACAO WHERE NM_CICLO = @NM_CICLO
    COMMIT TRANSACTION

    BEGIN TRANSACTION
    DELETE TB_MN_REMUNERACAO         WHERE NM_CICLO = @NM_CICLO
    COMMIT TRANSACTION

    -- EXECUTAR O PROCESSO DE RECARGA DAS TABELAS DE REMUNERAÇÃO
    SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
    FOR
      SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL
      FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK), 
           (SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
            FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK)
	    WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
	    AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
	    AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
	    AND   F.CD_FUNCAO           = G.CD_FUNCAO
	    AND   F.NM_CICLO            = @NM_CICLO
	    AND   G.CD_FUNCAO           = 2
	    GROUP BY F.CD_PESSOA_VINCULADA) D
      WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
      AND   A.CD_FUNCAO                     = B.CD_FUNCAO
      AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
      AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
      AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
      AND   B.CD_FUNCAO                     = 2
      AND   ISNULL(B.CD_PESSOA_VINCULADA,0) > 0  
      AND   A.CD_PESSOA_VINCULADA           = D.CD_PESSOA_VINCULADA
      AND   A.NM_NIVEL                      = D.MAX_NIVEL
      UNION 
      SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL,  A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL
      FROM TB_PESSOA_RESUMO A with (NOLOCK)
      WHERE A.CD_FUNCAO                     = 2
      AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0 
      AND   CD_SITUACAO_COMERCIAL           > 4
      ORDER BY 1, 2 DESC, 3 DESC

    OPEN @CURSOR_PESSOA
    FETCH NEXT FROM @CURSOR_PESSOA
    INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL
  
    WHILE @@FETCH_STATUS = 0
    BEGIN
      EXEC SP_MN_CALCULA_REMUNERACAO_GENERICA
				@CD_PESSOA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_EST_COMERCIAL,
				@VAR_RETORNO OUTPUT,
				@DC_ERRO OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT

      FETCH NEXT FROM @CURSOR_PESSOA
      INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL
    END
    CLOSE       @CURSOR_PESSOA
    DEALLOCATE  @CURSOR_PESSOA

  END                                  
 
END TRY    
 
BEGIN CATCH
-- WHOOPS, THERE WAS AN ERROR
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
     
    
   IF @@TRANCOUNT > 0
    ROLLBACK
 
   -- RAISE AN ERROR WITH THE DETAILS OF THE EXCEPTION
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
 
END CATCH;
GO
