SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_GENERICA_DEVOLUCAO]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
--	@NM_CICLO NUMERIC(18,0),
	@NM_PEDIDO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT


AS

DECLARE @CURSOR_PESSOA  CURSOR,
	@CD_PESSOA_REM               numeric(18, 0),
	@CD_FUNCAO_REM               numeric(18, 0),
	@NM_CICLO_REM                numeric(18, 0),
	@ID_MOTIVO_REMUNERACAO_REM   int,
	@ID_TIPO_PREMIACAO_MN_REM    int,
	@CD_REGRA_PREMIACAO_MN_REM   numeric(18, 0),
	@ID_ORIGEM_PREMIACAO_MN_REM  int,
	@NM_ORIGEM_MN_REM            numeric(18, 0),
	@VL_ORIGEM_MN_REM            numeric(18, 2),
	@VL_PERCENTUAL_REM           numeric(18, 4),
	@VL_REMUNERACAO_REM          numeric(18, 2),
	@CD_MN_REMUNERACAO_REM       numeric(18, 2),
	@CD_MN_REMUNERACAO_REM2       numeric(18, 2),
	@CD_PAPEL_DESEMPENHO_REM     numeric(18, 0),
	@NM_NIVEL_REM                numeric(18, 0),
        @ID_SITUACAO_REMUNERACAO_REM  int,     
	@ID_FORMA_PREMIACAO_MN_REM     int,
	@ID_SITUACAO_PROC_REMUNERA_REM int,
        @EXISTE_REM                     numeric(18,0),
        @CD_MN_REMUNERACAO              numeric(18,0), 
        @CD_MN_DETALHE_REMUNERACAO      numeric(18,0),
        @PC_TAXA_ADMINISTRATIVA         numeric(18, 2),
        @VL_TAXA_ADMINISTRATIVA         numeric(18, 2),
	@p_codigoGeradoSaque		NUMERIC(18,0),
	@VL_REMUNERACAO_REM_AJUSTADO NUMERIC(18,2)


BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0

  -- ABRE O CURSOR DAS PESSOAS
  SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
  FOR SELECT
		A.CD_PESSOA,
		A.CD_FUNCAO,
		(SELECT NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = A.CD_FUNCAO AND CD_PESSOA = A.CD_PESSOA) NM_CICLO,
		A.ID_MOTIVO_REMUNERACAO,
		A.ID_TIPO_PREMIACAO_MN,
		A.CD_REGRA_PREMIACAO_MN,
		A.ID_ORIGEM_PREMIACAO_MN,
		A.NM_ORIGEM_MN,
		A.VL_ORIGEM_MN,
		A.VL_PERCENTUAL_REM,
		(A.VL_REMUNERACAO*-1),
		A.CD_MN_REMUNERACAO,
		A.CD_PAPEL_DESEMPENHO,
		A.NM_NIVEL,
		B.ID_SITUACAO_REMUNERACAO,       
		B.ID_FORMA_PREMIACAO_MN,
		B.ID_SITUACAO_PROCESSAMENTO_REMUNERACAO
      FROM TB_MN_DETALHE_REMUNERACAO A, TB_MN_REMUNERACAO B
      WHERE A.CD_MN_REMUNERACAO    = B.CD_MN_REMUNERACAO
      AND   A.NM_ORIGEM_MN           = @NM_PEDIDO	
      AND   A.ID_MOTIVO_REMUNERACAO  = 1
      AND   A.ID_ORIGEM_PREMIACAO_MN NOT IN (2,5)
      ORDER BY 1

  OPEN @CURSOR_PESSOA 
  FETCH NEXT FROM @CURSOR_PESSOA 
  INTO  @CD_PESSOA_REM,
	@CD_FUNCAO_REM,
	@NM_CICLO_REM,
	@ID_MOTIVO_REMUNERACAO_REM,
	@ID_TIPO_PREMIACAO_MN_REM,
	@CD_REGRA_PREMIACAO_MN_REM,
	@ID_ORIGEM_PREMIACAO_MN_REM,
	@NM_ORIGEM_MN_REM,
	@VL_ORIGEM_MN_REM,
	@VL_PERCENTUAL_REM,
	@VL_REMUNERACAO_REM,
	@CD_MN_REMUNERACAO_REM,
	@CD_PAPEL_DESEMPENHO_REM,
	@NM_NIVEL_REM,
        @ID_SITUACAO_REMUNERACAO_REM,     
	@ID_FORMA_PREMIACAO_MN_REM,
	@ID_SITUACAO_PROC_REMUNERA_REM



  WHILE @@FETCH_STATUS = 0
  BEGIN  
    -- INSERIR A REMUNERAÇÃO
    SELECT @EXISTE_REM = COUNT(*)
    FROM TB_MN_REMUNERACAO
    WHERE CD_PESSOA                           = @CD_PESSOA_REM
    AND CD_FUNCAO                             = @CD_FUNCAO_REM
    AND NM_CICLO                              = @NM_CICLO_REM
    AND ID_SITUACAO_REMUNERACAO               = @ID_SITUACAO_REMUNERACAO_REM       
    AND ID_FORMA_PREMIACAO_MN                 = @ID_FORMA_PREMIACAO_MN_REM
    AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @ID_SITUACAO_PROC_REMUNERA_REM

    IF @EXISTE_REM = 0
    BEGIN
	  BEGIN TRANSACTION
      INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA  , CD_FUNCAO , NM_CICLO, ID_SITUACAO_REMUNERACAO,
                                     VL_ORIGINAL,VL_AJUSTADO, DC_MOTIVO_AJUSTE, ID_FORMA_PREMIACAO_MN, 
                                     ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO,  
                                     DT_ATUALIZACAO,  CD_USUARIO_ATUALIZACAO)
                             VALUES (@CD_PESSOA_REM, @CD_FUNCAO_REM, @NM_CICLO_REM, @ID_SITUACAO_REMUNERACAO_REM,
                                     @VL_REMUNERACAO_REM ,@VL_REMUNERACAO_REM ,'', @ID_FORMA_PREMIACAO_MN_REM,
                                     @ID_SITUACAO_PROC_REMUNERA_REM,  GETDATE(), 0,
                                     GETDATE(), 0) 
      SELECT @CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
      COMMIT TRANSACTION
    END
    ELSE
    BEGIN
	  BEGIN TRANSACTION
      UPDATE TB_MN_REMUNERACAO SET
             VL_ORIGINAL = (VL_ORIGINAL + @VL_REMUNERACAO_REM),
             VL_AJUSTADO = (VL_AJUSTADO + @VL_REMUNERACAO_REM),
             DT_ATUALIZACAO  = getdate(),
             CD_USUARIO_ATUALIZACAO = 0
      WHERE CD_PESSOA                           = @CD_PESSOA_REM
      AND CD_FUNCAO                             = @CD_FUNCAO_REM
      AND NM_CICLO                              = @NM_CICLO_REM
      AND ID_SITUACAO_REMUNERACAO               = @ID_SITUACAO_REMUNERACAO_REM       
      AND ID_FORMA_PREMIACAO_MN                 = @ID_FORMA_PREMIACAO_MN_REM
      AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @ID_SITUACAO_PROC_REMUNERA_REM
      COMMIT TRANSACTION
      SELECT @CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
      FROM TB_MN_REMUNERACAO
      WHERE CD_PESSOA                           = @CD_PESSOA_REM
      AND CD_FUNCAO                             = @CD_FUNCAO_REM
      AND NM_CICLO                              = @NM_CICLO_REM
      AND ID_SITUACAO_REMUNERACAO               = @ID_SITUACAO_REMUNERACAO_REM       
      AND ID_FORMA_PREMIACAO_MN                 = @ID_FORMA_PREMIACAO_MN_REM
      AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @ID_SITUACAO_PROC_REMUNERA_REM
         
    END
    -- INSERE NO DETALHE
	BEGIN TRANSACTION
    INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, 
                                           CD_FUNCAO, 
                                           NM_CICLO, 
                                           ID_MOTIVO_REMUNERACAO,
                                           CD_REGRA_PREMIACAO_MN, 
                                           ID_ORIGEM_PREMIACAO_MN, 
                                           NM_ORIGEM_MN,
                                           VL_ORIGEM_MN,
                                           VL_PERCENTUAL_REM, 
                                           VL_REMUNERACAO,
                                           CD_MN_REMUNERACAO,
                                           CD_PAPEL_DESEMPENHO,
				           NM_NIVEL)
                                   VALUES (@CD_PESSOA_REM, 
                                           @CD_FUNCAO_REM,
                                           @NM_CICLO_REM,
                                           2, -- DEVOLUCAO
                                           @CD_REGRA_PREMIACAO_MN_REM,
                                           @ID_ORIGEM_PREMIACAO_MN_REM,
                                           @NM_ORIGEM_MN_REM,
                                           @VL_ORIGEM_MN_REM,
                                           @VL_PERCENTUAL_REM,
                                          (@VL_REMUNERACAO_REM*-1),
                                           @CD_MN_REMUNERACAO, 
                                           @CD_PAPEL_DESEMPENHO_REM,
					   @NM_NIVEL_REM)
    SELECT @CD_MN_DETALHE_REMUNERACAO = IDENT_CURRENT('TB_MN_DETALHE_REMUNERACAO')
    COMMIT TRANSACTION

    IF (@ID_SITUACAO_REMUNERACAO_REM   = 2)
    BEGIN
--      SELECT @PC_TAXA_ADMINISTRATIVA = VL_PARAMETRO FROM TB_VALOR_PARAMETRO WHERE CD_PARAMETRO = 11 AND CD_GRUPO_PARAMETRO = 7
--      SELECT @VL_TAXA_ADMINISTRATIVA = 0

--      IF (@PC_TAXA_ADMINISTRATIVA > 0)
--      BEGIN
--        SELECT @VL_TAXA_ADMINISTRATIVA = ((@PC_TAXA_ADMINISTRATIVA / 100) * @VL_REMUNERACAO_REM)
--      END

--	  SELECT @VL_REMUNERACAO_REM_AJUSTADO = ((@VL_REMUNERACAO_REM*-1) - ISNULL(@VL_TAXA_ADMINISTRATIVA,0))

      SELECT @VL_REMUNERACAO_REM_AJUSTADO = (@VL_REMUNERACAO_REM*-1) 

      -- GERA SALDO A FAVOR
      IF @ID_FORMA_PREMIACAO_MN_REM = 1
      BEGIN

	EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
				@CD_PESSOA_REM,
				@CD_FUNCAO_REM ,
				2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
				2, -- TIPO_MOVIMENTO = DEBITO
				4, -- ORIGEM_MOVIMENTO = REMUNERAÇÃO MN
				@CD_MN_DETALHE_REMUNERACAO,
				22, -- ELEMENTO FINANCEIRO = CANCELAMENTO DE SALDO A FAVOR
				@VL_REMUNERACAO_REM_AJUSTADO,
				0,
				@VAR_RETORNO OUTPUT,
				@DC_ERRO OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT



      END

      -- GERA SAQUE AUTOMATICO (MOEDA VIRTUAL)
      IF @ID_FORMA_PREMIACAO_MN_REM = 2
      BEGIN
	  SELECT @CD_MN_REMUNERACAO_REM2 =  (@VL_REMUNERACAO_REM*-1)
	EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
				@CD_PESSOA_REM,
				@CD_FUNCAO_REM ,
				4, -- ENTIDADE_CONTA_CORRENTE = MOEDA VIRTUAL
				2, -- TIPO_MOVIMENTO = DEBITO
				4, -- ORIGEM_MOVIMENTO = REMUNERAÇÃO MN
				@CD_MN_DETALHE_REMUNERACAO,
				22, -- ELEMENTO FINANCEIRO = CANCELAMENTO DE SALDO A FAVOR
				@CD_MN_REMUNERACAO_REM2,
				0,
				@VAR_RETORNO		OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS	OUTPUT		

      END

      -- DISPONIVEL PARA RESGATE 
      IF @ID_FORMA_PREMIACAO_MN_REM = 3
      BEGIN

        EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
			@CD_PESSOA_REM,
			@CD_FUNCAO_REM,
			3, -- ENTIDADE_CONTA_CORRENTE = DISPONIVEL PARA RESGATE
			2, -- TIPO_MOVIMENTO = DEBITO
			4, -- ORIGEM_MOVIMENTO = REMUNERAÇÃO MN
			@CD_MN_DETALHE_REMUNERACAO,
			22, -- ELEMENTO FINANCEIRO = CANCELAMENTO DE SALDO A FAVOR
			@VL_REMUNERACAO_REM_AJUSTADO,
			0,
			@VAR_RETORNO		OUTPUT,
			@DC_ERRO		OUTPUT,
			@QT_LINHAS_AFETADAS	OUTPUT	
      END

    END

 
    FETCH NEXT FROM @CURSOR_PESSOA 
    INTO  @CD_PESSOA_REM,
	@CD_FUNCAO_REM,
	@NM_CICLO_REM,
	@ID_MOTIVO_REMUNERACAO_REM,
	@ID_TIPO_PREMIACAO_MN_REM,
	@CD_REGRA_PREMIACAO_MN_REM,
	@ID_ORIGEM_PREMIACAO_MN_REM,
	@NM_ORIGEM_MN_REM,
	@VL_ORIGEM_MN_REM,
	@VL_PERCENTUAL_REM,
	@VL_REMUNERACAO_REM,
	@CD_MN_REMUNERACAO_REM,
	@CD_PAPEL_DESEMPENHO_REM,
	@NM_NIVEL_REM,
        @ID_SITUACAO_REMUNERACAO_REM,     
	@ID_FORMA_PREMIACAO_MN_REM,
	@ID_SITUACAO_PROC_REMUNERA_REM

  END 
  CLOSE       @CURSOR_PESSOA 
  DEALLOCATE  @CURSOR_PESSOA 


  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0

END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;






GO
