SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaPlanoAdesaoAplicaPlanoInicial]
	@p_codigoPessoa		NUMERIC(18,0),
	@p_codigoFuncao		INT,
	@p_codigoUsuario	NUMERIC(18,0),

	@p_codigoErro		INT OUTPUT,
	@p_descErro			NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas	INT OUTPUT
AS

DECLARE @v_codigoPapelCarreira				NUMERIC(18,0),
		@v_codigoPapelDesempenho			NUMERIC(18,0),
		@v_existePlanoAdesaoBase			INT,
		@v_existePlanoAdesaoBaseDesempenho	INT,
		@v_codigoPlanoAdesao				NUMERIC(18,0),
		@v_existePlanoAdesaoPessoa			INT,
		@v_existePlanoPessoaAtivo			INT

BEGIN TRY

	SELECT @p_codigoErro = 0,
		   @p_descErro = '',
		   @p_qtLinhasAfetadas = 0
  
	-- PRIMEIRAMENTE VAMOS BUSCAR O PAPEL ATUAL DA PESSOA
	SELECT	@v_codigoPapelCarreira = CD_PAPEL_CARREIRA,
			@v_codigoPapelDesempenho = CD_PAPEL_DESEMPENHO
	  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND CD_FUNCAO = @p_codigoFuncao

	-- VAMOS CHECAR SE EXISTE ALGUM PLANO ATIVO PARA A PESSOA PARA NÃO SOBREPOR
	SELECT @v_existePlanoPessoaAtivo = COUNT(PP.CD_PESSOA_PLANO_ADESAO)
	  FROM TB_PESSOA_PLANO_ADESAO PP WITH(NOLOCK), TB_PLANO_ADESAO P WITH(NOLOCK)
	 WHERE PP.CD_PESSOA = @p_codigoPessoa
	   AND PP.ID_SITUACAO_PESSOA_PLANO_ADESAO = 1
	   AND PP.DT_VIGENCIA_FINAL >= CONVERT(DATE,GETDATE())
	   AND P.CD_PLANO_ADESAO = PP.CD_PLANO_ADESAO
	   AND P.ID_NIVEL_PLANO_ADESAO > 1

	-- AGORA VAMOS CHECAR SE EXISTE ALGUM PLANO BASE PARA O PAPEL
	SELECT @v_existePlanoAdesaoBase = COUNT(*)
	  FROM TB_PLANO_ADESAO PA WITH(NOLOCK), TB_PLANO_ADESAO_PAPEL PAP WITH(NOLOCK)
	 WHERE PA.CD_PLANO_ADESAO = PAP.CD_PLANO_ADESAO
	   AND PA.ID_SITUACAO_PLANO_ADESAO = 1
	   AND PA.ID_NIVEL_PLANO_ADESAO = 1
	   AND ISNULL(PAP.CD_PAPEL_CARREIRA,@v_codigoPapelCarreira) = @v_codigoPapelCarreira
	   AND ISNULL(PAP.CD_PAPEL_DESEMPENHO,@v_codigoPapelDesempenho) = @v_codigoPapelDesempenho
	
	IF @v_existePlanoAdesaoBase >= 1 AND @v_existePlanoPessoaAtivo = 0 -- ATENDE AMBOS PAPÉIS
		BEGIN
			-- VAMOS APLICAR O PLANO DE ADESÃO BASE PARA ESTA PESSOA
			SELECT @v_codigoPlanoAdesao = MAX(PA.CD_PLANO_ADESAO)
			  FROM TB_PLANO_ADESAO PA WITH(NOLOCK), TB_PLANO_ADESAO_PAPEL PAP WITH(NOLOCK)
			 WHERE PA.CD_PLANO_ADESAO = PAP.CD_PLANO_ADESAO
			   AND PA.ID_SITUACAO_PLANO_ADESAO = 1
			   AND PA.ID_NIVEL_PLANO_ADESAO = 1
			   AND ISNULL(PAP.CD_PAPEL_CARREIRA,@v_codigoPapelCarreira) = @v_codigoPapelCarreira
			   AND ISNULL(PAP.CD_PAPEL_DESEMPENHO,@v_codigoPapelDesempenho) = @v_codigoPapelDesempenho

			-- VERIFICA SE A PESSOA JÁ TEM O PLANO ATIVO PARA NÃO DUPLICAR
			SELECT @v_existePlanoAdesaoPessoa = COUNT(*)
			  FROM TB_PESSOA_PLANO_ADESAO WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND CD_PLANO_ADESAO = @v_codigoPlanoAdesao
			   AND ID_SITUACAO_PESSOA_PLANO_ADESAO = 1

			IF @v_existePlanoAdesaoPessoa = 0
				BEGIN
					-- ANTES DE INSERIR O NOVO PLANO VAMOS INATIVAR QUALQUER OUTRO PLANO QUE ESTEJA ATIVO
					UPDATE TB_PESSOA_PLANO_ADESAO 
					SET ID_SITUACAO_PESSOA_PLANO_ADESAO = 2,
						DT_ATUALIZACAO = GETDATE(),
						CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
					WHERE CD_PESSOA = @p_codigoPessoa
					AND ID_SITUACAO_PESSOA_PLANO_ADESAO = 1

					EXEC [dbo].[pr_PessoaPlanoAdesaoInserePlano] @p_codigoPessoa,
																 @v_codigoPlanoAdesao,
																 1,
																 NULL,
																 NULL,
																 NULL,
																 NULL,
																 NULL,
																 0,
																 0,
																 NULL,
																 NULL,
																 NULL,
																 NULL,
																 NULL,
																 @p_codigoUsuario,
																 'N',
																 @p_codigoErro OUTPUT,
																 @p_descErro OUTPUT,
																 @p_qtLinhasAfetadas OUTPUT
				END
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
