SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_AtivarRemunerarCalculaAtivasRemuneracoesMNJobAKMOS2]
AS
declare    @CURSOR_PEDIDO                    CURSOR,
	       @CD_PEDIDO_PROCESSAMENTO          NUMERIC (18,0),
	       @NM_PEDIDO                        NUMERIC (18,0),
	       @NM_CICLO                         NUMERIC (18,0),
	       @CD_PESSOA                        NUMERIC (18,0),
	       @CD_FUNCAO                        NUMERIC (18,0),
	       @ID_TIPO_MOVIMENTO                INT,
	       @VL_PONTOS                        NUMERIC (18,2),
	       @CD_PAPEL_CARREIRA                NUMERIC (18,0),
	       @CD_PAPEL_DESEMPENHO              NUMERIC (18,0),
	       @VL_PONTOS_ATUAL                  NUMERIC (18,2),
           @VAR_RETORNO                      INT,
	       @DC_ERRO                          NVARCHAR(MAX),
	       @QT_LINHAS_AFETADAS               INT,
           @ID_SITUACAO_PEDIDO_PROCESSAMENTO INT 

BEGIN

  -- BUSCA OS PEDIDOS PARA PROCESSAMENTO
  SET @CURSOR_PEDIDO = CURSOR FAST_FORWARD
  FOR SELECT CD_PEDIDO_PROCESSAMENTO, NM_PEDIDO, NM_CICLO, CD_PESSOA, CD_FUNCAO, ID_TIPO_MOVIMENTO, VL_PONTOS
      FROM TB_MN_PEDIDO_PROCESSAMENTO 
      WHERE ID_SITUACAO_PEDIDO_PROCESSAMENTO = 10
      ORDER BY  1
    -- menor 9, CD_PEDIDO_PROCESSAMENTO = 355
	-- maior 9, CD_PEDIDO_PROCESSAMENTO = 1099

   
  OPEN @CURSOR_PEDIDO
  FETCH NEXT FROM @CURSOR_PEDIDO
  INTO @CD_PEDIDO_PROCESSAMENTO, @NM_PEDIDO, @NM_CICLO, @CD_PESSOA, @CD_FUNCAO, @ID_TIPO_MOVIMENTO, @VL_PONTOS
	      
  WHILE @@FETCH_STATUS = 0
  BEGIN  
     EXEC SP_MN_CALCULA_REMUNERACAO_GENERICA_TEMPOREAL
		@CD_PESSOA,
		@CD_FUNCAO,
		@NM_CICLO,
		@NM_PEDIDO,
		@VAR_RETORNO OUTPUT,
		@DC_ERRO OUTPUT,
		@QT_LINHAS_AFETADAS OUTPUT     

         -- ATUALIZA PROCESSAMENTO
        SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 9
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = NULL
        WHERE CD_PEDIDO_PROCESSAMENTO        = @CD_PEDIDO_PROCESSAMENTO 
      

        
     

    FETCH NEXT FROM @CURSOR_PEDIDO
    INTO @CD_PEDIDO_PROCESSAMENTO, @NM_PEDIDO, @NM_CICLO, @CD_PESSOA, @CD_FUNCAO, @ID_TIPO_MOVIMENTO, @VL_PONTOS

  END

  CLOSE       @CURSOR_PEDIDO
  DEALLOCATE  @CURSOR_PEDIDO

END










GO
