SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_LojaVirtualInsereProdutoSessao]
	@p_codigoProduto	VARCHAR(100),
	@p_codigoLojaSessao	NUMERIC(18,0),
	
	@p_codigoUsuario	NUMERIC(18,0),
	@p_descAcao			VARCHAR(1),

	@p_codigoErro		INT OUTPUT,
	@p_descricaoErro	VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas	INT OUTPUT

AS
DECLARE @v_codigoProdutoInterno	NUMERIC(18,0),
		@v_existeRegistro		INT

BEGIN TRY
	
	SELECT  @p_linhasAfetadas = 0,
			@p_codigoErro = 0,
			@p_descricaoErro = ''

	SELECT @v_codigoProdutoInterno = CD_PRODUTO_VENDA
	  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	 WHERE CD_PRODUTO_VENDA_EXTERNO = @p_codigoProduto

	SELECT @v_existeRegistro = COUNT(*)
	  FROM TB_LOJA_VIRTUAL_PRODUTO_SECAO WITH(NOLOCK)
	 WHERE CD_PRODUTO_VENDA = @v_codigoProdutoInterno
	   AND CD_LOJA_VIRTUAL_SECAO = @p_codigoLojaSessao

	-- insere os dados
	IF @p_descAcao = 'I'
		BEGIN
			IF @v_existeRegistro > 0
				BEGIN
					SELECT  @p_codigoErro =1,
							@p_descricaoErro = 'Produto já inserido'

					RETURN
				END
			BEGIN TRANSACTION 
				
			INSERT INTO TB_LOJA_VIRTUAL_PRODUTO_SECAO(
				[CD_PRODUTO_VENDA],
				[CD_LOJA_VIRTUAL_SECAO],
				[DT_CADASTRO],
				[CD_USUARIO_CADASTRO],
				[DT_ATUALIZACAO],
				[CD_USUARIO_ATUALIZACAO])	
			VALUES (
				@v_codigoProdutoInterno,
				@p_codigoLojaSessao,
				GETDATE(),
				@p_codigoUsuario,
				GETDATE(),
				@p_codigoUsuario)

			SELECT @p_linhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END	
	IF @p_descAcao = 'E'
		BEGIN
			BEGIN TRANSACTION 
		
			DELETE FROM TB_LOJA_VIRTUAL_PRODUTO_SECAO
			WHERE [CD_PRODUTO_VENDA] = @v_codigoProdutoInterno
				AND [CD_LOJA_VIRTUAL_SECAO] = @p_codigoLojaSessao
											
			SELECT @p_linhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END
		
	SELECT @p_codigoErro = 0

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
