SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaBonificacaoDetalhes]
        @CD_MN_REMUNERACAO      NUMERIC(18,0)
AS

BEGIN

SELECT C.DS_REMUNERACAO AS "Ganho",
       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN 'VALOR'
		      ELSE 'PERCENTUAL'  END AS "Regra Ganho",
       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN I.CD_PESSOA ELSE P.CD_PESSOA END AS "Código",
       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN dbo.FN_BUSCA_NOME_PESSOA(I.CD_PESSOA) ELSE dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) END AS "Nome",
       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE (CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN 'INDICADOR' ELSE 'PEDIDO ('+CONVERT(VARCHAR,P.DT_PAGAMENTO_PEDIDO,103)+')' END) END AS "Origem",
       CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN  NULL ELSE A.NM_ORIGEM_MN END AS "Número",
       A.NM_NIVEL AS "Nível",
	   Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE R.VALOR_PONTO END AS "Métrica",
       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE A.VL_ORIGEM_MN END AS "Base do Calculo / Ponto Líquido",
	   Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN NULL ELSE A.VL_PERCENTUAL_REM END AS "Taxa %",
       A.VL_REMUNERACAO AS "Valor Calculado"


FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK)
     JOIN TB_MN_REMUNERACAO        B WITH(NOLOCK) ON A.CD_MN_REMUNERACAO = B.CD_MN_REMUNERACAO
     JOIN TB_MN_REGRA_REMUNERACAO  C WITH(NOLOCK) ON A.CD_REGRA_PREMIACAO_MN = C.CD_REMUNERACAO
     LEFT JOIN TB_PEDIDO           P WITH(NOLOCK) ON A.NM_ORIGEM_MN          = P.NM_PEDIDO
     LEFT JOIN TB_PESSOA_INDICADOR I WITH(NOLOCK) ON A.NM_ORIGEM_MN          = I.CD_PESSOA
                                    AND A.NM_CICLO              = I.NM_CICLO
			            AND A.CD_FUNCAO             = I.CD_FUNCAO
				    AND C.CD_INDICADOR_PESSOAL  = I.CD_INDICADOR_PESSOAL,
    (SELECT CASE WHEN (ID_APLICA_REMUNERACAO_VALOR_PONTO = 1) THEN 'VALOR' ELSE 'PONTOS' END AS VALOR_PONTO from TB_MN_REGRA_GERAL WITH(NOLOCK)) R
WHERE A.CD_MN_REMUNERACAO     = @CD_MN_REMUNERACAO
order by C.DS_REMUNERACAO, CASE WHEN (C.ID_REGRA_CALCULO IN (2,5)) THEN dbo.FN_BUSCA_NOME_PESSOA(I.CD_PESSOA) ELSE dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) END

END
GO
