SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_FECHA_CAMPANHA_AKMOS]
      @CD_PESSOA        NUMERIC(18,0),
      @CD_FUNCAO        NUMERIC(18,0),	
      @CD_EST_COMERCIAL NUMERIC(18,0),
      @NM_CICLO         NUMERIC(18,0),	
      @DT_FECHAMENTO    DATE,        
      @CD_USUARIO       NUMERIC(18,0),
      @VAR_RETORNO      INT OUTPUT,
      @DC_ERRO NVARCHAR(MAX) OUTPUT,
      @QT_LINHAS_AFETADAS INT OUTPUT
 
AS
 
DECLARE     @PROXIMO_CICLO    NUMERIC(18,0)
           
DECLARE     @ATUAL_PAPEL_CARREIRA NUMERIC(18,0),
            @ATUAL_PAPEL_DESEMPENHO NUMERIC(18,0),
            @CD_LOG_PROCESSAMENTO_DIARIO NUMERIC(18,0)
 
BEGIN TRY

	-- BUSCA O CÓDIGO DO LOG ABERTO
	SELECT @CD_LOG_PROCESSAMENTO_DIARIO = ISNULL(MAX(CD_LOG_PROCESSAMENTO_DIARIO),0)
	FROM TB_LOG_PROCESSAMENTO_DIARIO  with (NOLOCK)
	WHERE DC_PROGRAMA = 'SP_FECHA_CAMPANHA'
	AND DT_FIM_PROCESSAMENTO IS NULL
     
	IF @CD_LOG_PROCESSAMENTO_DIARIO = 0
	BEGIN
		--SE NÃO ENCONTRAR LOG ABERTO ABRE UM PARA REGISTRO DAS ETAPAS
		BEGIN TRANSACTION
		INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO (CD_PROGRAMA, DC_PROGRAMA, DT_INICIO_PROCESSAMENTO)
		VALUES (2, 'SP_FECHA_CAMPANHA', GETDATE())
        	SELECT @CD_LOG_PROCESSAMENTO_DIARIO = IDENT_CURRENT('TB_LOG_PROCESSAMENTO_DIARIO')
		COMMIT TRANSACTION
	END
           
	/*******************************************************************
	-- VERIFICA O PROXIMO CICLO DA ESTRUTURA COMERCIAL
	********************************************************************/                   
	SELECT @PROXIMO_CICLO = MIN(NM_CICLO)
	FROM TB_CALENDARIO_COMERCIAL  with (NOLOCK)
	WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	AND NM_CICLO > @NM_CICLO

	/*************************************************************
	-- 1 )   GERAR SITUAÇÃO COMERCIAL
	**************************************************************/
	EXEC PR_PESSOAGERASITUACAOCOMERCIAL
				@CD_PESSOA,
				@CD_FUNCAO,
				@CD_EST_COMERCIAL,
				@PROXIMO_CICLO,
				4, -- EVENTO FECHAR CAMPANHA
				@CD_USUARIO,
				@VAR_RETORNO                 OUTPUT,
				@DC_ERRO                     OUTPUT,
				@QT_LINHAS_AFETADAS          OUTPUT
                                          
					
	IF @VAR_RETORNO > 0
	BEGIN
		--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
		BEGIN TRANSACTION
		INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
		VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
			'ATUALIZAR SITUAÇÃO COMERCIAL - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
			@DC_ERRO,
			GETDATE(),
			@VAR_RETORNO)
		COMMIT TRANSACTION
	END
                                    
	-- *********************************************************************
	-- BUSCA PAPEL CARREIRA E DESEMPENHO DO CICLO QUE ESTA EM FECHAMENTO
	-- *********************************************************************
	SELECT	@ATUAL_PAPEL_CARREIRA    = ISNULL(CD_PAPEL_CARREIRA,1),
		@ATUAL_PAPEL_DESEMPENHO  = ISNULL(CD_PAPEL_DESEMPENHO,1)
	FROM TB_PESSOA_RESUMO  with (NOLOCK)
	WHERE CD_PESSOA = @CD_PESSOA
	AND CD_FUNCAO = @CD_FUNCAO

	IF @CD_FUNCAO = 1
	BEGIN
		-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
		BEGIN TRANSACTION
		UPDATE  TB_PESSOA_RESUMO
		SET     NM_CICLO_ATUAL        = @PROXIMO_CICLO,
			CD_PAPEL_CARREIRA     = @ATUAL_PAPEL_CARREIRA,
			CD_PAPEL_DESEMPENHO   = @ATUAL_PAPEL_DESEMPENHO
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO   = @CD_FUNCAO

		-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HISTORICO
		INSERT INTO TB_PESSOA_PAPEL_HISTORICO (
												CD_PESSOA,
												CD_FUNCAO,
												NM_CICLO,
												CD_PAPEL_CARREIRA,
												CD_PAPEL_DESEMPENHO)
										VALUES	(@CD_PESSOA,
												@CD_FUNCAO,
												@PROXIMO_CICLO,
												@ATUAL_PAPEL_CARREIRA,
												@ATUAL_PAPEL_DESEMPENHO) 
        	COMMIT TRANSACTION                                             
		-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HIST_DATA
		EXEC DBO.SP_CAD_PESSOA_PAPEL_HIST_DATA
									@CD_PESSOA,
									@CD_FUNCAO,
									@PROXIMO_CICLO,
									@ATUAL_PAPEL_DESEMPENHO,
									@VAR_RETORNO OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT
 		IF @VAR_RETORNO > 0
		BEGIN
			--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
			BEGIN TRANSACTION
			INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
			VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
				'GRAVAR PAPEL HIST DATA - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
				@DC_ERRO,
				GETDATE(),
				@VAR_RETORNO)
			COMMIT TRANSACTION
		END
	END

	IF @CD_FUNCAO = 2
	BEGIN
		/*************************************************************
		-- 2 )   GERAR NOVO CICLO
		**************************************************************/
		BEGIN TRANSACTION
		UPDATE TB_PESSOA_RESUMO
		SET     NM_CICLO_ATUAL         = @PROXIMO_CICLO,
			DT_ATUALIZACAO  = GETDATE(),
			cd_usuario_atualizacao = @CD_USUARIO 
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO   = @CD_FUNCAO

		-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HISTORICO
		INSERT INTO TB_PESSOA_PAPEL_HISTORICO (
												CD_PESSOA,
												CD_FUNCAO,
												NM_CICLO,
												CD_PAPEL_CARREIRA,
												CD_PAPEL_DESEMPENHO)
									VALUES		(@CD_PESSOA,
												@CD_FUNCAO,
												@PROXIMO_CICLO,
												@ATUAL_PAPEL_CARREIRA,
												@ATUAL_PAPEL_DESEMPENHO) 			
		COMMIT TRANSACTION	

		-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HIST_DATA
		EXEC DBO.SP_CAD_PESSOA_PAPEL_HIST_DATA
								@CD_PESSOA,
								@CD_FUNCAO,
								@PROXIMO_CICLO,
								@ATUAL_PAPEL_DESEMPENHO,
								@VAR_RETORNO OUTPUT,
								@DC_ERRO OUTPUT,
								@QT_LINHAS_AFETADAS OUTPUT		

		IF @VAR_RETORNO > 0
		BEGIN
			--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
			BEGIN TRANSACTION
			INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
			VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
					'GRAVAR PAPEL HIST DATA - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
					@DC_ERRO,
					GETDATE(),
					@VAR_RETORNO)
			COMMIT TRANSACTION
		END	


		/*************************************************************
		-- 3 )   GERAR TOPOLOGIA
		**************************************************************/
		-- GRAVAR A INFORMAÇÃO NA TABELA TB_WRK_MN_TOPOLOGIA   -- ASCENDENTE
		BEGIN TRANSACTION
		INSERT INTO TB_WRK_MN_TOPOLOGIA (CD_PESSOA,
										CD_FUNCAO,
										NM_CICLO,
										CD_PESSOA_VINCULADA,
										ID_ORDEM,
										NM_NIVEL,
										ID_TIPO_REDE_MN,
										ID_DIRECAO_REDE_BINARIA)
		SELECT							CD_PESSOA,
										CD_FUNCAO,
										@PROXIMO_CICLO,
										CD_PESSOA_VINCULADA,
										ID_ORDEM,
										NM_NIVEL,
										ID_TIPO_REDE_MN,
										ID_DIRECAO_REDE_BINARIA
		FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
		WHERE CD_PESSOA             = @CD_PESSOA
		AND   CD_FUNCAO             = @CD_FUNCAO
		AND   ID_ORDEM              = 1    -- ASCENDENTE
		AND   NM_CICLO              = @NM_CICLO
		AND   ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL         

		-- GRAVAR A INFORMAÇÃO NA TABELA TB_WRK_MN_TOPOLOGIA   -- DESCENDENTE
		INSERT INTO TB_WRK_MN_TOPOLOGIA (CD_PESSOA,
										CD_FUNCAO,
										NM_CICLO,
										CD_PESSOA_VINCULADA,
										ID_ORDEM,
										NM_NIVEL,
										ID_TIPO_REDE_MN,
										ID_DIRECAO_REDE_BINARIA)
		SELECT							CD_PESSOA,
										CD_FUNCAO,
										@PROXIMO_CICLO,
										CD_PESSOA_VINCULADA,
										ID_ORDEM,
										NM_NIVEL,
										ID_TIPO_REDE_MN,
										ID_DIRECAO_REDE_BINARIA
		FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
		WHERE CD_PESSOA_VINCULADA   = @CD_PESSOA
		AND   CD_FUNCAO             = @CD_FUNCAO
		AND   ID_ORDEM              = 2    -- DESCENDENTE
		AND   NM_CICLO              = @NM_CICLO
		AND   ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL  

		-- GRAVA NA TABELA TB_PESSOA_VINCULO_HISTORICO
		INSERT INTO TB_PESSOA_VINCULO_HISTORICO (CD_PESSOA,
							CD_FUNCAO,
							NM_CICLO,
							CD_PESSOA_VINCULADA,		
							CD_PESSOA_LIDERANCA)
		SELECT					CD_PESSOA,
							CD_FUNCAO,
							@PROXIMO_CICLO,
							CD_PESSOA_VINCULADA,
							CD_PESSOA_LIDERANCA
		FROM TB_PESSOA_VINCULO_HISTORICO with (NOLOCK)
		WHERE NM_CICLO = @NM_CICLO
		AND CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO 
		COMMIT TRANSACTION
	END	

	
	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
END TRY    
 
BEGIN CATCH
  -- WHOOPS, THERE WAS AN ERROR
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
     
  INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM  
  VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
                'ERRO INESPERADO - PESSOA ' + CONVERT(VARCHAR(20),ISNULL(@CD_PESSOA,0)),
                @DC_ERRO,
                GETDATE(),
                @VAR_RETORNO)
  IF @@TRANCOUNT > 0
    ROLLBACK
 
   -- RAISE AN ERROR WITH THE DETAILS OF THE EXCEPTION
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
