SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create VIEW [dbo].[vw_ApiConsultaPedidoItensExcluidos] AS
SELECT 
    PIE.NM_PEDIDO "idOrder",
    PIE.NM_PEDIDO_ITEM_EXCLUIDO "itemNumber",
    PV.CD_PRODUTO_VENDA_EXTERNO "productCode",
    PIE.QT_PEDIDA "quantityOrdered",
    PIE.QT_RESERVADA "quantityReserved",
    PIE.ID_MOTIVO_EXCLUSAO_ITEM "reason",
    PIE.DC_JUSTIFICATIVA "justification"
FROM TB_PEDIDO_ITEM_EXCLUIDO PIE WITH(NOLOCK)
JOIN TB_PRODUTO_VENDA PV WITH(NOLOCK) ON PIE.CD_PRODUTO_VENDA = PV.CD_PRODUTO_VENDA
GO
