SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PedidoAplicaPoliticaEntrega]
	
	@p_numeroPedido			numeric(18,0),
	@p_dcCEPPedido			varchar(10),
		
	@p_codigoRetorno		int output,
	@p_descErro				varchar(2000) output
AS
DECLARE
	@v_pesoLiquidoPedido	numeric(18,2),
	@v_pesoBrutoPedido		numeric(18,2),
	@v_volumePedido			numeric(18,2),
	@v_valorPagarPedido		numeric(18,2),
	@v_valorPontosPedido	numeric(18,2),
	@v_cepOrigemPedido		varchar(9),
	@v_codigoRegraComercial	numeric(18,0),
	@v_codigoCD				numeric(18,0),
	@v_nmDiasSeparacao		int
	
BEGIN TRY
	
	SELECT @p_codigoRetorno = 0
	SELECT @p_descErro = ''

	BEGIN transaction
	-- PRIMEIRO VAMOS APAGAR QUALQUER POLÍTICA DE ENTREGA ATRIBUIDA AO PEDIDO
		DELETE FROM TB_WRK_POLITICA_ENTREGA WHERE NM_PEDIDO = @p_numeroPedido
	commit transaction
	
	
	--BUSCA O CEP DE ORIGEM
	SELECT @v_cepOrigemPedido = dbo.FN_BUSCA_CEP_ORIGEM_PEDIDO(NM_PEDIDO),
		   @v_codigoCD = CD_CENTRO_DISTRIBUICAO
      FROM TB_PEDIDO with(nolock) 
     WHERE nm_pedido = @p_numeroPedido
        
    --BUSCA INFORMAÇÕES DE PESO E VOLUME DO PEDIDO
    SELECT @v_pesoLiquidoPedido = dbo.FN_BUSCA_PESO_TOTAL_PEDIDO(NM_PEDIDO, 1),
           @v_pesoBrutoPedido = dbo.FN_BUSCA_PESO_TOTAL_PEDIDO(NM_PEDIDO, 2),
           @v_volumePedido = dbo.FN_BUSCA_VOLUME_TOTAL_PEDIDO(NM_PEDIDO),
           @v_codigoRegraComercial = CD_REGRA_COMERCIAL
      FROM TB_PEDIDO with(nolock)
     WHERE nm_pedido = @p_numeroPedido
     
     --busca a quantidade de dias utilizados para separar um pedido, este valor será somado aos dias de entrega da política
     select @v_nmDiasSeparacao = 0
     
     select @v_nmDiasSeparacao = isnull(NM_TEMPO_SEPARACAO,0)
       from TB_CENTRO_DISTRIBUICAO with(nolock)
      where CD_CENTRO_DISTRIBUICAO = @v_codigoCD
           
    --BUSCA O VALOR A PAGAR TOTAL DO PEDIDO
    SELECT @v_valorPagarPedido = SUM(ISNULL(VL_PAGAR_TOTAL,0))
      FROM TB_PEDIDO_ITEM with(nolock)
     WHERE nm_pedido = @p_numeroPedido
       and isnull(NM_PEDIDO_ITEM_CONJUNTO,0) <= 0

	--BUSCA O PONTOS TOTAL DO PEDIDO
    SELECT @v_valorPontosPedido = SUM(ISNULL(VL_PONTOS,0))
      FROM TB_PEDIDO_ITEM with(nolock)
     WHERE nm_pedido = @p_numeroPedido
       and isnull(NM_PEDIDO_ITEM_CONJUNTO,0) <= 0
     
	--BUSCA PRIMEIRAMENTE AS POLÍTICA DE VALOR FIXO / MANUAL DE FRETE DE TRANSPORTADORAS
	BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        DBO.FN_BUSCA_DESC_TRANSPORTADORA(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(A.VL_FRETE,0),
        --'Transportadora'
		DBO.FN_BUSCA_DOMINIO('TIPO_ENTREGA_POLITICA_ENTREGA',ID_TIPO_ENTREGA_POLITICA_ENTREGA)
        FROM TB_POLITICA_ENTREGA A with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE IN (1,3) 
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 2
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
	END

	--BUSCA AS POLÍTICA DE VALOR FIXO / DE ENTREGA VIRTUAL
	BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        DBO.FN_BUSCA_DESC_TRANSPORTADORA(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA, 
        ISNULL(A.VL_FRETE,0),
        'Entrega Virtual'
        FROM TB_POLITICA_ENTREGA A with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE IN (1,3) 
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 4
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
	END
	
	--BUSCA AS POLITICAS DE ENTREGA QUE SÃO DE RETIRADA NO LOCAL E VALOR FIXO / MANUAL
	BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(A.VL_FRETE,0),
        'Retirada no local'
        FROM TB_POLITICA_ENTREGA A with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE IN (1,3) 
		AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
		AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
		AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
		
    END
    
    --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PESO LÍQUIDO E RETIRADA NO LOCAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Retirada no local'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 1
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
        AND ISNULL(@v_pesoLiquidoPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END

	  --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PESO LÍQUIDO E ENTREGA VIRTUAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Entrega Virtual'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 1
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 4
        AND ISNULL(@v_pesoLiquidoPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END
	
	--BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PESO LÍQUIDO E TRANSPORTADORA
    BEGIN transaction
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        DBO.FN_BUSCA_DESC_TRANSPORTADORA(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        --'Transportadora'
		DBO.FN_BUSCA_DOMINIO('TIPO_ENTREGA_POLITICA_ENTREGA',ID_TIPO_ENTREGA_POLITICA_ENTREGA)
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 1
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 2
        AND ISNULL(@v_pesoLiquidoPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
        commit transaction
        
    --END
    
    --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PESO BRUTO E RETIRADA NO LOCAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Retirada no local'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 2
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
        AND ISNULL(@v_pesoBrutoPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
										
        
    END
    
	--BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PESO BRUTO E ENTREGA VIRTUAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Entrega Virtual'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 2
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 4
        AND ISNULL(@v_pesoBrutoPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
										
        
    END

    --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PESO BRUTO E TRANSPORTADORA
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        DBO.FN_BUSCA_DESC_TRANSPORTADORA(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        --'Transportadora'
		DBO.FN_BUSCA_DOMINIO('TIPO_ENTREGA_POLITICA_ENTREGA',ID_TIPO_ENTREGA_POLITICA_ENTREGA)
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 2
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 2
        AND ISNULL(@v_pesoBrutoPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END
    
    --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR VALOR A PAGAR E RETIRADA NO LOCAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Retirada no local'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 3
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
        AND ISNULL(@v_valorPagarPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END
    
	--BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR VALOR A PAGAR E ENTREGA VIRTUAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Entrega Virtual'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 3
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
        AND ISNULL(@v_valorPagarPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END
	    --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR VALOR A PAGAR E TRANSPORTADORA
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        DBO.FN_BUSCA_DESC_TRANSPORTADORA(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        --'Transportadora'
		DBO.FN_BUSCA_DOMINIO('TIPO_ENTREGA_POLITICA_ENTREGA',ID_TIPO_ENTREGA_POLITICA_ENTREGA)
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 3
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 2
        AND ISNULL(@v_valorPagarPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END
    
    --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR VOLUME E RETIRADA NO LOCAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Retirada no local'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 4
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
        AND ISNULL(@v_volumePedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END
    
	--BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR VOLUME E ENTREGA VIRTUAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Entrega Virtual'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 4
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
        AND ISNULL(@v_volumePedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END

    --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR VOLUME E TRANSPORTADORA
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        DBO.FN_BUSCA_DESC_TRANSPORTADORA(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        --'Transportadora'
		DBO.FN_BUSCA_DOMINIO('TIPO_ENTREGA_POLITICA_ENTREGA',ID_TIPO_ENTREGA_POLITICA_ENTREGA)
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 4
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 2
        AND ISNULL(@v_volumePedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END


	--BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PONTOS DO PEDIDO E RETIRADA NO LOCAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Retirada no local'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 5
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
        AND ISNULL(@v_valorPontosPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END
    
    --BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PONTOS DO PEDIDO E TRANSPORTADORA
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        DBO.FN_BUSCA_DESC_TRANSPORTADORA(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA + @v_nmDiasSeparacao, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        --'Transportadora'
		DBO.FN_BUSCA_DOMINIO('TIPO_ENTREGA_POLITICA_ENTREGA',ID_TIPO_ENTREGA_POLITICA_ENTREGA)
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 5
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 2
        AND ISNULL(@v_valorPontosPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END
    
	--BUSCA AS POLÍTICAS DE ENTREGA POR FAIXA DE VALORES POR PONTOS DO PEDIDO E ENTREGA VIRTUAL
    BEGIN
		INSERT INTO TB_WRK_POLITICA_ENTREGA (NM_PEDIDO,
            CD_POLITICA_ENTREGA,
            DC_POLITICA_ENTREGA,
            CD_TRANSPORTADORA,
            DC_TRANSPORTADORA,
            NM_DIAS_ENTREGA,
            VL_FRETE,
            DC_TIPO_ENTREGA)
        SELECT @p_numeroPedido,
        A.CD_POLITICA_ENTREGA,
        A.DC_POLITICA_ENTREGA,
        A.CD_TRANSPORTADORA, 
        dbo.fn_pessoaBuscaNomeFantasiaPessoaJuridica(A.CD_TRANSPORTADORA), 
        A.NM_DIAS_ENTREGA, 
        ISNULL(B.VL_FRETE_FAIXA,0),
        'Entrega Virtual'
        FROM TB_POLITICA_ENTREGA A with(nolock), TB_POLITICA_ENTREGA_FAIXA B with(nolock)
        WHERE A.ID_SITUACAO = 1 AND A.ID_MEIO_CALCULO_FRETE = 4 
        AND A.CD_POLITICA_ENTREGA = B.CD_POLITICA_ENTREGA
        AND B.ID_TIPO_FAIXA_VALORES = 4
        AND A.ID_TIPO_ENTREGA_POLITICA_ENTREGA = 1
        AND ISNULL(@v_valorPontosPedido,0) BETWEEN B.VL_INICIAL_FAIXA AND ISNULL(B.VL_FINAL_FAIXA,9999999999999)
        AND dbo.fn_logisticaVerificaCepPertencePoliticaEntrega(@p_dcCEPPedido,A.CD_POLITICA_ENTREGA) = 1
        AND @v_codigoRegraComercial IN (SELECT PRC.CD_REGRA_COMERCIAL FROM TB_POLITICA_ENTREGA_REGRA_COMERCIAL PRC with(nolock)
										WHERE PRC.CD_POLITICA_ENTREGA = A.CD_POLITICA_ENTREGA)
        
    END


    
    IF @@TRANCOUNT > 0
    commit
    
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoRetorno = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
