SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CentroDistribuicaoInsereCentroDistribuicao]
	@p_codigoCD					NUMERIC(18,0),
	@p_descCD					varchar(80),
	@p_idSituacao				int,
	@p_idTipoCD					int,
	@p_codigoEmpresa			numeric(18, 0),
	@p_codigoPessoaResponsavel	numeric(18, 0),
	@p_nmTempoSeparacao			int,
	@p_idTrabalhaSabado			int,
	@p_idTrabalhaDomingo		int,
	@p_idTrabalhaFeriado		int,
	@p_idRamoAtividadeFaturamento int,
	@p_idRegimeTributario		int,
	@p_descModelo				varchar(30),
	@p_descSerie				varchar(30),
	@p_idTipoEmissaoNF			int,
	@p_idMomentoFaturamento		int,

	@p_descInstrucoesPagamento	varchar(max),
	@p_descInstrucoesFrete		varchar(max),
    @p_descInstrucoesEntrega	varchar(max),
    @p_descHorarioFuncionamento varchar(200),
		
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT

AS


BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0

		IF @p_descAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_CENTRO_DISTRIBUICAO (
					DC_CENTRO_DISTRIBUICAO,
					ID_SITUACAO,
					ID_TIPO_CD,
					CD_EMPRESA,
					CD_PESSOA_RESPONSAVEL,
					NM_TEMPO_SEPARACAO,
					ID_TRABALHA_SABADO,
					ID_TRABALHA_DOMINGO,
					ID_TRABALHA_FERIADO,
					ID_RAMO_ATIVIDADE_FATURAMENTO,
					ID_REGIME_TRIBUTARIO,
					DC_MODELO,
					DC_SERIE,
					ID_TIPO_EMISSAO_NF,
					ID_MOMENTO_FATURAMENTO,
					DC_INSTRUCOES_ENTREGA,
					DC_INSTRUCOES_FRETE,
					DC_INSTRUCOES_PAGAMENTO,
					DC_HORARIO_FUNCIONAMENTO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES           (
					@p_descCD,
					@p_idSituacao,
					@p_idTipoCD,
					@p_codigoEmpresa,
					@p_codigoPessoaResponsavel,
					@p_nmTempoSeparacao,
					@p_idTrabalhaSabado,
					@p_idTrabalhaDomingo,
					@p_idTrabalhaFeriado,
					@p_idRamoAtividadeFaturamento,
					@p_idRegimeTributario,
					@p_descModelo,
					@p_descSerie,
					@p_idTipoEmissaoNF,
					@p_idMomentoFaturamento,
					@p_descInstrucoesEntrega,
					@p_descInstrucoesFrete,
					@p_descInstrucoesPagamento,
					@p_descHorarioFuncionamento,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario )
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = SCOPE_IDENTITY()
			
				/* ao criar novo cd vamos gravar o numero da nota */
				
				INSERT INTO TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL
					(CD_CENTRO_DISTRIBUICAO,
					NM_PROXIMA_NOTA_FISCAL)
				VALUES
					(@p_codigoGerado,
					1)
								
				COMMIT TRANSACTION
			END
	
	
		IF @p_descAcao = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_CENTRO_DISTRIBUICAO
				SET DC_CENTRO_DISTRIBUICAO = @p_descCD,
					ID_SITUACAO = @p_idSituacao,
					ID_TIPO_CD = @p_idTipoCD,
					CD_EMPRESA = @p_codigoEmpresa,
					CD_PESSOA_RESPONSAVEL = @p_codigoPessoaResponsavel,
					NM_TEMPO_SEPARACAO = @p_nmTempoSeparacao,
					ID_TRABALHA_SABADO = @p_idTrabalhaSabado,
					ID_TRABALHA_DOMINGO = @p_idTrabalhaDomingo,
					ID_TRABALHA_FERIADO = @p_idTrabalhaFeriado,
					ID_RAMO_ATIVIDADE_FATURAMENTO = @p_idRamoAtividadeFaturamento,
					ID_REGIME_TRIBUTARIO = @p_idRegimeTributario,
					DC_MODELO = @p_descModelo,
					DC_SERIE = @p_descSerie,
					ID_TIPO_EMISSAO_NF = @p_idTipoEmissaoNF,
					ID_MOMENTO_FATURAMENTO = @p_idMomentoFaturamento,
					DC_INSTRUCOES_ENTREGA = @p_descInstrucoesEntrega,
					DC_INSTRUCOES_FRETE = @p_descInstrucoesFrete,
					DC_INSTRUCOES_PAGAMENTO = @p_descInstrucoesPagamento,
					DC_HORARIO_FUNCIONAMENTO = @p_descHorarioFuncionamento,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario 
				WHERE CD_CENTRO_DISTRIBUICAO = @p_codigoCD
								
				
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @p_descAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_CENTRO_DISTRIBUICAO
				WHERE CD_CENTRO_DISTRIBUICAO = @p_codigoCD
				
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END
				

		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
