SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaInserePessoaFisicaConsumidorFinal]
	@p_codigoPessoa				NUMERIC(18,0),
	@p_descNome					VARCHAR(100),
	@p_descSobrenome			VARCHAR(100),
	@p_descApelido				VARCHAR(100),
	@p_idSexo					INT,
	@p_idNacionalidade			INT,
	@p_idEstadoCivil			INT,
	@p_idEscolaridade			INT,
	@p_idProfissao				INT,
	@p_dtNascimento				VARCHAR(20),
	
	@p_idTipoDocumento1			INT,
	@p_descDocumento1			VARCHAR(100),
	
	@p_idTipoDocumento2			INT,
	@p_descDocumento2			VARCHAR(100),
		
	@p_idTipoTelefone1			INT,
	@p_descTelefone1			VARCHAR(100),
	@p_descRamal1				VARCHAR(100),
	@p_descContato1				VARCHAR(100),
	@p_idOperadora1				INT,
	
	@p_idTipoTelefone2			INT,
	@p_descTelefone2			VARCHAR(100),
	@p_descRamal2				VARCHAR(100),
	@p_descContato2				VARCHAR(100),
	@p_idOperadora2				INT,

	@p_idTipoEmail1				INT,
	@p_descEmail1				VARCHAR(100),

	@p_idTipoEmail2				INT,
	@p_descEmail2				VARCHAR(100),
	
	@p_idTipoEndereco1			INT,
	@p_cdEstGeografica1			NUMERIC(18,0),
	@p_descCodigoPostal1		VARCHAR(20),
	@p_descNumero1				VARCHAR(20),
	@p_descComplemento1			VARCHAR(60),
	@p_descReferencia1			VARCHAR(80),
	@p_descBairro1				VARCHAR(80),
	@p_descRua1					VARCHAR(80),
	@p_descNomeEndereco1		VARCHAR(200),
	
	@p_idTipoEndereco2			INT,
	@p_cdEstGeografica2			NUMERIC(18,0),
	@p_descCodigoPostal2		VARCHAR(20),
	@p_descNumero2				VARCHAR(20),
	@p_descComplemento2			VARCHAR(60),
	@p_descReferencia2			VARCHAR(80),
	@p_descBairro2				VARCHAR(80),
	@p_descRua2					VARCHAR(80),
	@p_descNomeEndereco2		VARCHAR(200),
		
	@p_codigoPessoaIndicante	NUMERIC(18,0),

	@p_descSenhaConsumidor		VARCHAR(500),

	@p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),
	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT,
	@p_codigoPessoaGerado		NUMERIC(18,0) OUTPUT

AS

DECLARE @v_existeCadastro						INT,
		@v_qtdeCF								INT,
		@v_qtdeAlocacao							INT,
		@v_nmCicloAtual							NUMERIC(18,0),
		@v_idPermiteCaptacaoPedido				INT,
		@v_codigoPapelCarreiraBaseCF			NUMERIC(18,0),
		@v_codigoPapelDesempenhoBaseCF			NUMERIC(18,0),		
		@v_codigoPessoaIndicante				NUMERIC(18,0),
		@v_idCriaAlocacao						INT,
		@v_nmCicloAlocacaoAutomatico			NUMERIC(18,0),
		@v_codigoEstComercialAlocacaoAutomatico	NUMERIC(18,0),
		@v_qtdeRegistros						INT,
		@v_codigoSitComercial					INT,
		@cd_situacao_cadastro					numeric(18,0),
		@v_dcEmailAtual							varchar(100),
		@v_idPossuiIntPessoa					INT,
		@v_descEstGeo1							VARCHAR(300),
		@v_descEstGeo2							VARCHAR(300),
		@v_descEstGeo3							VARCHAR(300),
		@v_descEstGeo4							VARCHAR(300),
		@v_descEstGeo5							VARCHAR(300),
		@v_idDadosEnderecoDigitados				INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
		
	IF (@p_dtNascimento) = ''
		BEGIN
			SELECT @p_dtNascimento = NULL
		END
	ELSE
		BEGIN
			SELECT @p_dtNascimento = convert(datetime, @p_dtNascimento, 103) -- dd/mm/yyyy 
		END
		
	--ATUALIZAÇÃO EM 19/07/2018 POR DIEGO ZILIOTI
	--PRECISAMOS TIRAR O HARDCODE DO PAPEL PARA O CADASTRO DE CF
	--VAMOS BUSCAR O PAPEL BASE PARA FAZER A INSERÇÃO
	SELECT @v_codigoPapelCarreiraBaseCF = ISNULL(CD_PAPEL_CARREIRA,0)
	  FROM TB_PAPEL_CARREIRA WITH(NOLOCK)
	 WHERE CD_FUNCAO = 1
	   AND NM_SEQUENCIA = 1
	   AND ID_PRIMEIRO_NIVEL = 1

	SELECT @v_codigoPapelDesempenhoBaseCF = ISNULL(CD_PAPEL_DESEMPENHO,0)
	  FROM TB_PAPEL_DESEMPENHO WITH(NOLOCK)
	 WHERE CD_FUNCAO = 1
	   AND NM_SEQUENCIA = 1
	   AND ID_PRIMEIRO_NIVEL = 1

	IF @p_descAcao = 'I'
		BEGIN
	
			-- *****************************************************
			-- ALTERAÇÃO POR DIEGO ZILIOTI EM 04/02/2019
			-- VAMOS COLOCAR UMA VALIDAÇÃO NESTE PONTO PARA ESTANCAR O PROBLEMA DE CADASTROS DUPLICADOS
			-- SE HOUVER ALGUM CADASTRO NA BASE COM O MESMO DOCUMENTO DESTE NOVO PARA INSERÇÃO VAMOS ABORTAR A EXECUÇÃO
			-- *****************************************************
			IF @p_descDocumento1 IS NOT NULL AND @p_descDocumento1 <> 0 AND @p_descDocumento1 <> ''
				SELECT @v_existeCadastro = COUNT(*)
				FROM TB_PESSOA_DOCUMENTO WITH(NOLOCK)
				WHERE DC_DOCUMENTO = @p_descDocumento1

				IF @v_existeCadastro >= 1
					BEGIN
						SELECT @p_codigoErro = -1
						SELECT @p_descErro = 'Cadastro já existente'
						RETURN
					END
				
			-- *****************************************************
			-- FIM ALTERAÇÃO POR DIEGO ZILIOTI EM 04/02/2019
			-- *****************************************************

			BEGIN TRANSACTION 
											
			INSERT INTO TB_PESSOA 
				(ID_TIPO_PESSOA,
				CD_PESSOA_INDICANTE,
				CD_ESTRUTURA_COMERCIAL,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO,
				CD_SITUACAO_CADASTRO)
			VALUES 
				(1,
				@p_codigoPessoaIndicante,
				0,
				GETDATE(),
				@p_codigoUsuario,
				GETDATE(),
				@p_codigoUsuario,
				1) -- EM CADASTRO
			
			COMMIT TRANSACTION 

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			SELECT @p_codigoPessoaGerado = SCOPE_IDENTITY()
						
			-- *******************************************
			-- ABRE A SITUAÇÃO EM CADASTRO
			-- *******************************************
			EXEC pr_PessoaGravaHistoricoSituacaoCadastro
				@p_codigoPessoaGerado, -- CODIGO DA PESSOA
				1,	-- EM CADASTRO
				1, -- FIM	
				0,	-- RESULTADO
				'', -- MOTIVO
				0,	-- POSSUI RESTRICAO
				@p_codigoUsuario,
				@p_codigoErro  OUTPUT,
				@p_descErro OUTPUT,
				@p_qtLinhasAfetadas  OUTPUT

			INSERT INTO TB_PESSOA_FISICA
				(CD_PESSOA,
				DC_NOME,
				DC_SOBRENOME,
				DC_APELIDO,
				ID_SEXO,
				ID_NACIONALIDADE,
				ID_ESTADO_CIVIL,
				DC_CONJUGE,
				ID_ESCOLARIDADE,
				ID_PROFISSAO,
				DT_NASCIMENTO,
				DC_NOME_MAE,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO)
			VALUES
				(@p_codigoPessoaGerado,
				@p_descNome,
				@p_descSobrenome,
				@p_descApelido,
				@p_idSexo,
				@p_idNacionalidade,
				@p_idEstadoCivil,
				'',
				@p_idEscolaridade,
				@p_idProfissao,
				@p_dtNascimento,
				'',
				GETDATE(),
				@p_codigoUsuario,
				GETDATE(),
				@p_codigoUsuario)
				
			IF (@p_idTipoDocumento1 <> 0)
				BEGIN
					INSERT INTO TB_PESSOA_DOCUMENTO
						(CD_PESSOA,
						ID_TIPO_DOCUMENTO,
						DC_DOCUMENTO,
						DC_ORGAO,
						DT_EMISSAO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES
						(@p_codigoPessoaGerado,
						@p_idTipoDocumento1,
						@p_descDocumento1,
						'',
						NULL,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario)
				END
				
			IF (@p_idTipoDocumento2 <> 0)
				BEGIN
					INSERT INTO TB_PESSOA_DOCUMENTO
						(CD_PESSOA,
						ID_TIPO_DOCUMENTO,
						DC_DOCUMENTO,
						DC_ORGAO,
						DT_EMISSAO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES
						(@p_codigoPessoaGerado,
						@p_idTipoDocumento2,
						@p_descDocumento2,
						'',
						NULL,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario)
				END
					
			IF (@p_idTipoEmail1 <> 0)	
				BEGIN			
					INSERT INTO TB_PESSOA_EMAIL
						(CD_PESSOA,
						ID_TIPO_EMAIL,
						DC_EMAIL,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES 
						(@p_codigoPessoaGerado,
						@p_idTipoEmail1,
						@p_descEmail1,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario)
				END
				
			IF (@p_idTipoEmail2 <> 0)
				BEGIN
					INSERT INTO TB_PESSOA_EMAIL
						(CD_PESSOA,
						ID_TIPO_EMAIL,
						DC_EMAIL,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES 
						(@p_codigoPessoaGerado,
						@p_idTipoEmail2,
						@p_descEmail2,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario)
				END
							
			IF (@p_cdEstGeografica1 <> 0)
				BEGIN
					-- ANTES DE INSERIR O ENDEREÇO VAMOS CONFIRMAR OS DADOS DO CEP E USAR O QUE ESTÁ NO BANCO PARA EVITAR ERROS
					SELECT @v_descEstGeo1 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO1),
						   @v_descEstGeo2 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO2),
						   @v_descEstGeo3 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO3),
						   @v_descEstGeo4 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO4),
						   @v_descEstGeo5 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO5),
						   @v_idDadosEnderecoDigitados = CASE (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO4)
														 WHEN '-' THEN 1 ELSE 2 END
					  FROM TB_EST_GEOGRAFICA EG WITH(NOLOCK)
					 WHERE CD_EST_GEOGRAFICA = @p_cdEstGeografica1

					-- VAMOS TRATAR A PARTE DOS DADOS DIGITADOS
					IF @v_idDadosEnderecoDigitados = 1
						BEGIN
							SELECT @v_descEstGeo4 = @p_descBairro1,
								   @v_descEstGeo5 = @p_descRua1
						END

					INSERT INTO TB_PESSOA_ENDERECO
						(CD_PESSOA,
						ID_TIPO_ENDERECO,
						CD_EST_GEOGRAFICA,
						DC_CODIGO_POSTAL,
						DC_NUMERO,
						DC_COMPLEMENTO,
						DC_REFERENCIA,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO,
						ID_DADOS_DIGITADOS,
						DC_ESTRUTURA_GEO1,
						DC_ESTRUTURA_GEO2,
						DC_ESTRUTURA_GEO3,
						DC_ESTRUTURA_GEO4,
						DC_ESTRUTURA_GEO5,
						DC_NOME_ENDERECO )
					VALUES 
						(@p_codigoPessoaGerado,
						@p_idTipoEndereco1,
						@p_cdEstGeografica1,
						@p_descCodigoPostal1,
						@p_descNumero1,
						@p_descComplemento1,
						@p_descReferencia1,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario,
						@v_idDadosEnderecoDigitados,
						@v_descEstGeo1,
						@v_descEstGeo2,
						@v_descEstGeo3,
						@v_descEstGeo4,
						@v_descEstGeo5,
						@p_descNomeEndereco1 )
				END 
				
			IF (@p_cdEstGeografica2 <> 0)
				BEGIN
					-- ANTES DE INSERIR O ENDEREÇO VAMOS CONFIRMAR OS DADOS DO CEP E USAR O QUE ESTÁ NO BANCO PARA EVITAR ERROS
					SELECT @v_descEstGeo1 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO1),
						   @v_descEstGeo2 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO2),
						   @v_descEstGeo3 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO3),
						   @v_descEstGeo4 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO4),
						   @v_descEstGeo5 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO5),
						   @v_idDadosEnderecoDigitados = CASE (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO4)
														 WHEN '-' THEN 1 ELSE 2 END
					  FROM TB_EST_GEOGRAFICA EG WITH(NOLOCK)
					 WHERE CD_EST_GEOGRAFICA = @p_cdEstGeografica2

					-- VAMOS TRATAR A PARTE DOS DADOS DIGITADOS
					IF @v_idDadosEnderecoDigitados = 1
						BEGIN
							SELECT @v_descEstGeo4 = @p_descBairro2,
								   @v_descEstGeo5 = @p_descRua2
						END

					INSERT INTO TB_PESSOA_ENDERECO
						(CD_PESSOA,
						ID_TIPO_ENDERECO,
						CD_EST_GEOGRAFICA,
						DC_CODIGO_POSTAL,
						DC_NUMERO,
						DC_COMPLEMENTO,
						DC_REFERENCIA,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO,
						ID_DADOS_DIGITADOS,
						DC_ESTRUTURA_GEO1,
						DC_ESTRUTURA_GEO2,
						DC_ESTRUTURA_GEO3,
						DC_ESTRUTURA_GEO4,
						DC_ESTRUTURA_GEO5,
						DC_NOME_ENDERECO
						)
					VALUES 
						(@p_codigoPessoaGerado,
						@p_idTipoEndereco2,
						@p_cdEstGeografica2,
						@p_descCodigoPostal2,
						@p_descNumero2,
						@p_descComplemento2,
						@p_descReferencia2,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario,
						@v_idDadosEnderecoDigitados,
						@v_descEstGeo1,
						@v_descEstGeo2,
						@v_descEstGeo3,
						@v_descEstGeo4,
						@v_descEstGeo5,
						@p_descNomeEndereco2 )
					END
					
			IF (@p_idTipoTelefone1 <> 0)
				BEGIN
					INSERT INTO TB_PESSOA_TELEFONE 
						(CD_PESSOA,
						ID_TIPO_TELEFONE,
						DC_TELEFONE,
						DC_RAMAL,
						DC_CONTATO,
						ID_OPERADORA,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES
						(@p_codigoPessoaGerado,
						@p_idTipoTelefone1,
						@p_descTelefone1,
						@p_descRamal1,
						@p_descContato1,
						@p_idOperadora1,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario)
				END 
				
			IF (@p_idTipoTelefone2 <> 0)
				BEGIN
					INSERT INTO TB_PESSOA_TELEFONE 
						(CD_PESSOA,
						ID_TIPO_TELEFONE,
						DC_TELEFONE,
						DC_RAMAL,
						DC_CONTATO,
						ID_OPERADORA,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES
						(@p_codigoPessoaGerado,
						@p_idTipoTelefone2,
						@p_descTelefone2,
						@p_descRamal2,
						@p_descContato2,
						@p_idOperadora2,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario)
				END
				
			INSERT INTO TB_PESSOA_FUNCAO
				(CD_PESSOA,
				CD_FUNCAO,
				ID_SITUACAO_FUNCAO,
				DT_INICIO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO)
			VALUES 
				(@p_codigoPessoaGerado,
				1,
				1,
				CONVERT(DATE,GETDATE()),
				GETDATE(),
				@p_codigoUsuario,
				GETDATE(),
				@p_codigoUsuario)
						
			SELECT @v_idPermiteCaptacaoPedido = ID_PERMITE_CAPTACAO_PEDIDOS
			FROM TB_FUNCAO WITH(NOLOCK)
			WHERE CD_FUNCAO = 1
						  
			IF @v_idPermiteCaptacaoPedido = 1
				BEGIN
							
					INSERT INTO TB_PESSOA_RESUMO (
						CD_PESSOA,
						CD_FUNCAO,
						DT_CADASTRO_PESSOA,
						VL_SALDO_FAVOR,
						VL_SALDO_FAVOR_PENDENTE,
						VL_SALDO_DEVEDOR,
						VL_CREDITO_TOTAL,
						VL_CREDITO_VENCIDO,
						VL_CREDITO_A_VENCER,
						VL_CREDITO_A_FATURAR,
						VL_CREDITO_DISPONIVEL,
						CD_PESSOA_VINCULADA,
						CD_PAPEL_CARREIRA,
						CD_PAPEL_DESEMPENHO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO,
						DC_SENHA,
						ID_ACESSA_SISTEMA,
						ID_ACESSA_LOJA_VIRTUAL)
									
					VALUES
						(@p_codigoPessoaGerado,
						1,
						GETDATE(),
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						@v_codigoPapelCarreiraBaseCF,
						@v_codigoPapelDesempenhoBaseCF,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario,
						@p_descSenhaConsumidor,
						1,
						1)

					-- **********************************
					-- VAMOS ENVIAR OS DADOS DE ACESSO POR EMAIL
					-- **********************************

					EXEC dbo.pr_PessoaEnviarEmailCadastro   @p_codigoPessoaGerado,			--@p_cdPessoa 
															27,					--	@p_cdEvento	27 - cadastro CF
															@p_codigoErro  OUTPUT, --@p_codigoErro
															@p_descErro OUTPUT,		--@p_descricaoErro
															@p_qtLinhasAfetadas  OUTPUT	--@p_linhasAfetadas
	
				END
												
			UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4
			WHERE CD_PESSOA = @p_codigoPessoaGerado

			-- FINALIZA A SITUAÇÃO EM CADASTRO
			EXEC pr_PessoaGravaHistoricoSituacaoCadastro
				@p_codigoPessoaGerado, -- CODIGO DA PESSOA
				1,	-- EM CADASTRO
				2, -- FIM	
				0,	-- RESULTADO
				'', -- MOTIVO
				0,	-- POSSUI RESTRICAO
				@p_codigoUsuario,
				@p_codigoErro  OUTPUT,
				@p_descErro OUTPUT,
				@p_qtLinhasAfetadas  OUTPUT

			-- ABRE A SITUAÇÃO ATIVA
			EXEC pr_PessoaGravaHistoricoSituacaoCadastro
				@p_codigoPessoaGerado, -- CODIGO DA PESSOA
				4,	-- ATIVA
				1, -- INICIO	
				0,	-- RESULTADO
				'', -- MOTIVO
				0,	-- POSSUI RESTRICAO
				@p_codigoUsuario,
				@p_codigoErro  OUTPUT,
				@p_descErro OUTPUT,
				@p_qtLinhasAfetadas  OUTPUT

			-- ***************************************************************
			-- FIM DO FLUXO DE APROVAÇÃO
			-- ***************************************************************

			-- ***********************************************************************				
			-- VERIFICA SE DEVEMOS OU NÃO ALOCAR A PESSOA NA REDE 
			-- SOMENTE PARA REVENDEDORAS e CFs
			-- ***********************************************************************

			SELECT @v_idPermiteCaptacaoPedido = ID_PERMITE_CAPTACAO_PEDIDOS
			  FROM TB_FUNCAO WITH(NOLOCK) 
			 WHERE CD_FUNCAO = 1
						  
			IF @v_idPermiteCaptacaoPedido = 1
				BEGIN
					
					EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
						@p_codigoPessoaGerado,
						@p_codigoPessoaIndicante,
						1,
						@v_idCriaAlocacao						output,	-- 1 para sim e 2 para não
						@v_nmCicloAlocacaoAutomatico			output, 
						@v_codigoEstComercialAlocacaoAutomatico	output, 
						0,
						'',
						0
								
									
					IF @v_idCriaAlocacao = 1
						BEGIN
									
							-- ****************************************************
							-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
							-- *******************************************************************
							SELECT @v_qtdeRegistros = COUNT(*)
							FROM TB_ALOCACAO_REDE 
							WHERE CD_PESSOA = @p_codigoPessoaGerado
							AND NM_CICLO = @v_nmCicloAlocacaoAutomatico
									
							IF @v_qtdeRegistros = 0							
								BEGIN
									EXEC pr_PessoaGeraAlocacaoRede
											@p_codigoPessoaGerado,
											1,
											@v_codigoEstComercialAlocacaoAutomatico,
											@v_nmCicloAlocacaoAutomatico,
											@p_codigoUsuario,

											0,
											'',
											0

								END
						END -- FIM DO @v_idCriaAlocacao = 1
				END											

			-- ***************************************************************
			-- FIM  DA ALOCAÇÃO AUTOMATICA
			-- ***************************************************************
			
			SELECT @p_descErro = 'Pessoa física com código ' + CONVERT(varchar(12), @p_codigoPessoaGerado) + ' foi inserida com exito.'
				
		END	
	
		IF @p_descAcao = 'A'
			BEGIN
					
				-- vamos obter o e-mail atual para verificar se será preciso enviar novamente o e-mail com os dados de acesso
				select @v_dcEmailAtual = isnull(dbo.fn_busca_email_pessoa(@p_codigoPessoa,1),'')
				
				--Obtém o código atual do indicante se for nulo ou igual a 0 iremos gravar o vínculo
				SELECT @v_codigoPessoaIndicante = ISNULL(CD_PESSOA_INDICANTE,0)
				  FROM TB_PESSOA WITH(NOLOCK) 
				 WHERE CD_PESSOA = @p_codigoPessoa


				-- FECHA A SITUAÇÃO ATIVA
				EXEC pr_PessoaGravaHistoricoSituacaoCadastro
					@p_codigoPessoa, -- CODIGO DA PESSOA
					4,	-- ATIVA
					2, -- FIM
					0,	-- RESULTADO
					'', -- MOTIVO
					0,	-- POSSUI RESTRICAO
					@p_codigoUsuario,
					@p_codigoErro  OUTPUT,
					@p_descErro OUTPUT,
					@p_qtLinhasAfetadas  OUTPUT
				
				-- FECHA A SITUAÇÃO INATIVA
				EXEC pr_PessoaGravaHistoricoSituacaoCadastro
					@p_codigoPessoa, -- CODIGO DA PESSOA
					5,	-- INATIVA
					2, -- FIM
					0,	-- RESULTADO
					'', -- MOTIVO
					0,	-- POSSUI RESTRICAO
					@p_codigoUsuario,
					@p_codigoErro  OUTPUT,
					@p_descErro OUTPUT,
					@p_qtLinhasAfetadas  OUTPUT

				select @cd_situacao_cadastro = isnull(cd_situacao_cadastro,0)
				  from TB_PESSOA with(nolock)
				 where CD_PESSOA = @p_codigoPessoa
				
				if @cd_situacao_cadastro <> 4
					begin
						-- FECHA A SITUAÇÃO Analise da Documentação
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@p_codigoPessoa, -- CODIGO DA PESSOA
							31,	-- Analise da Documentação
							2, -- FIM
							0,	-- RESULTADO
							'', -- MOTIVO
							0,	-- POSSUI RESTRICAO
							@p_codigoUsuario,
							@p_codigoErro  OUTPUT,
							@p_descErro OUTPUT,
							@p_qtLinhasAfetadas  OUTPUT

						-- FECHA A SITUAÇÃO Analise dos Dados Cadastrais
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@p_codigoPessoa, -- CODIGO DA PESSOA
							32,	-- Analise dos Dados Cadastrais
							2, -- FIM
							0,	-- RESULTADO
							'', -- MOTIVO
							0,	-- POSSUI RESTRICAO
							@p_codigoUsuario,
							@p_codigoErro  OUTPUT,
							@p_descErro OUTPUT,
							@p_qtLinhasAfetadas  OUTPUT
				
						-- FECHA A SITUAÇÃO Analise de Crédito
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@p_codigoPessoa, -- CODIGO DA PESSOA
							33,	-- Analise de Crédito
							2, -- FIM
							0,	-- RESULTADO
							'', -- MOTIVO
							0,	-- POSSUI RESTRICAO
							@p_codigoUsuario,
							@p_codigoErro  OUTPUT,
							@p_descErro OUTPUT,
							@p_qtLinhasAfetadas  OUTPUT
					end
					
				-- ABRE A SITUAÇÃO EM EDIÇÃO
				EXEC pr_PessoaGravaHistoricoSituacaoCadastro
					@p_codigoPessoa, -- CODIGO DA PESSOA
					2,	-- EM EDIÇÃO
					1, -- FIM
					0,	-- RESULTADO
					'', -- MOTIVO
					0,	-- POSSUI RESTRICAO
					@p_codigoUsuario,
					@p_codigoErro  OUTPUT,
					@p_descErro OUTPUT,
					@p_qtLinhasAfetadas  OUTPUT

				UPDATE TB_PESSOA SET
					ID_TIPO_PESSOA = 1,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					--Comentado em 29/07/2020 por Diego Zilioti, erro chamado 4576
					--Não podemos atualizar a informação do indicante nas atualizações, pois nos casos de CF a informação é perdida
					--As rotinas de inserção e atualização de vínculos já fazem esse papel de atualização do indicante
					--CD_PESSOA_INDICANTE = @p_codigoPessoaIndicante,
					CD_SITUACAO_CADASTRO = 2
				WHERE CD_PESSOA = @p_codigoPessoa

				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
										
				UPDATE TB_PESSOA_FISICA SET
					DC_NOME = @p_descNome,
					DC_SOBRENOME = @p_descSobrenome,
					DC_APELIDO = @p_descApelido,
					ID_SEXO = @p_idSexo,
					ID_NACIONALIDADE = @p_idNacionalidade,
					ID_ESTADO_CIVIL = @p_idEstadoCivil,
					ID_ESCOLARIDADE = @p_idEscolaridade,
					ID_PROFISSAO = @p_idProfissao,
					DT_NASCIMENTO = @p_dtNascimento,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
				WHERE CD_PESSOA = @p_codigoPessoa

				-- VERIFICA A SITUAÇÃO COMERCIAL DA PESSOA
				-- ESSA INFORMAÇÃO SERÁ IMPORTANTE NA FASE D EFLUXO DE APROVAÇÃO
				-- COMO A TABELA TB_PESSOA_RESUMO É EXCLUIDA, ENTÃO TEMOS QUE ARMAZENAR ESSA INFORMAÇÃO ANTES DA EXCLUSÃO
				SELECT @v_codigoSitComercial = CD_SITUACAO_COMERCIAL
				FROM TB_PESSOA_RESUMO WITH(NOLOCK)
				WHERE CD_PESSOA = @p_codigoPessoa

				-- *************************************************************************
				-- É PRECISO MANTER A SENHA DE CONSUMIDOR FINAL
				-- *************************************************************************
				select @v_qtdeCF = COUNT(*)
				  from TB_PESSOA_RESUMO WITH(NOLOCK)
				 WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 1
				
				IF @v_qtdeCF > 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA
					BEGIN
						select @p_descSenhaConsumidor = DC_SENHA
						  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						 WHERE CD_PESSOA = @p_codigoPessoa
						   AND CD_FUNCAO = 1
					END
											
				IF (@p_idTipoDocumento1 <> 0)
					BEGIN
						-- PRIMEIRO APAGAMOS O EXISTENTE PARA INSERIR NA SEQUÊNCIA
						DELETE FROM TB_PESSOA_DOCUMENTO WHERE CD_PESSOA = @p_codigoPessoa AND ID_TIPO_DOCUMENTO = 1

						INSERT INTO TB_PESSOA_DOCUMENTO
							(CD_PESSOA,
							ID_TIPO_DOCUMENTO,
							DC_DOCUMENTO,
							DC_ORGAO,
							DT_EMISSAO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@p_codigoPessoa,
							@p_idTipoDocumento1,
							@p_descDocumento1,
							'',
							NULL,
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario)
					END
				
				IF (@p_idTipoDocumento2 <> 0)
					BEGIN
						-- PRIMEIRO APAGAMOS O EXISTENTE PARA INSERIR NA SEQUÊNCIA
						DELETE FROM TB_PESSOA_DOCUMENTO WHERE CD_PESSOA = @p_codigoPessoa AND ID_TIPO_DOCUMENTO = 2

						INSERT INTO TB_PESSOA_DOCUMENTO
							(CD_PESSOA,
							ID_TIPO_DOCUMENTO,
							DC_DOCUMENTO,
							DC_ORGAO,
							DT_EMISSAO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@p_codigoPessoa,
							@p_idTipoDocumento2,
							@p_descDocumento2,
							'',
							NULL,
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario)
					END
					
				IF (@p_idTipoEmail1 <> 0)	
					BEGIN
						-- PRIMEIRO APAGAMOS O EXISTENTE PARA INSERIR NA SEQUÊNCIA
						DELETE FROM TB_PESSOA_EMAIL WHERE CD_PESSOA = @p_codigoPessoa AND ID_TIPO_EMAIL = 1

						INSERT INTO TB_PESSOA_EMAIL
							(CD_PESSOA,
							ID_TIPO_EMAIL,
							DC_EMAIL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@p_codigoPessoa,
							@p_idTipoEmail1,
							@p_descEmail1,
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario)
					END
				
				IF (@p_idTipoEmail2 <> 0)
					BEGIN
						-- PRIMEIRO APAGAMOS O EXISTENTE PARA INSERIR NA SEQUÊNCIA
						DELETE FROM TB_PESSOA_EMAIL WHERE CD_PESSOA = @p_codigoPessoa AND ID_TIPO_EMAIL = 2

						INSERT INTO TB_PESSOA_EMAIL
							(CD_PESSOA,
							ID_TIPO_EMAIL,
							DC_EMAIL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@p_codigoPessoa,
							@p_idTipoEmail2,
							@p_descEmail2,
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario)
					END
							
				IF (@p_cdEstGeografica1 <> 0)
					BEGIN
						-- PRIMEIRO APAGAMOS O EXISTENTE PARA INSERIR NA SEQUÊNCIA
						DELETE FROM TB_PESSOA_ENDERECO WHERE CD_PESSOA = @p_codigoPessoa AND ID_TIPO_ENDERECO = 1

						-- ANTES DE INSERIR O ENDEREÇO VAMOS CONFIRMAR OS DADOS DO CEP E USAR O QUE ESTÁ NO BANCO PARA EVITAR ERROS
						SELECT @v_descEstGeo1 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO1),
							   @v_descEstGeo2 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO2),
							   @v_descEstGeo3 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO3),
							   @v_descEstGeo4 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO4),
							   @v_descEstGeo5 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO5),
							   @v_idDadosEnderecoDigitados = CASE (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO4)
															 WHEN '-' THEN 1 ELSE 2 END
						  FROM TB_EST_GEOGRAFICA EG WITH(NOLOCK)
						 WHERE CD_EST_GEOGRAFICA = @p_cdEstGeografica1

						-- VAMOS TRATAR A PARTE DOS DADOS DIGITADOS
						IF @v_idDadosEnderecoDigitados = 1
							BEGIN
								SELECT @v_descEstGeo4 = @p_descBairro1,
									   @v_descEstGeo5 = @p_descRua1
							END

						INSERT INTO TB_PESSOA_ENDERECO
							(CD_PESSOA,
							ID_TIPO_ENDERECO,
							CD_EST_GEOGRAFICA,
							DC_CODIGO_POSTAL,
							DC_NUMERO,
							DC_COMPLEMENTO,
							DC_REFERENCIA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							ID_DADOS_DIGITADOS,
							DC_ESTRUTURA_GEO1,
							DC_ESTRUTURA_GEO2,
							DC_ESTRUTURA_GEO3,
							DC_ESTRUTURA_GEO4,
							DC_ESTRUTURA_GEO5,
							DC_NOME_ENDERECO
							)
						VALUES 
							(@p_codigoPessoa,
							@p_idTipoEndereco1,
							@p_cdEstGeografica1,
							@p_descCodigoPostal1,
							@p_descNumero1,
							@p_descComplemento1,
							@p_descReferencia1,
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario,
							@v_idDadosEnderecoDigitados,
							@v_descEstGeo1,
							@v_descEstGeo2,
							@v_descEstGeo3,
							@v_descEstGeo4,
							@v_descEstGeo5,
							@p_descNomeEndereco1 )
					END 
				
				IF (@p_cdEstGeografica2 <> 0)
					BEGIN
						-- PRIMEIRO APAGAMOS O EXISTENTE PARA INSERIR NA SEQUÊNCIA
						DELETE FROM TB_PESSOA_ENDERECO WHERE CD_PESSOA = @p_codigoPessoa AND ID_TIPO_ENDERECO = 2

						-- ANTES DE INSERIR O ENDEREÇO VAMOS CONFIRMAR OS DADOS DO CEP E USAR O QUE ESTÁ NO BANCO PARA EVITAR ERROS
						SELECT @v_descEstGeo1 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO1),
							   @v_descEstGeo2 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO2),
							   @v_descEstGeo3 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO3),
							   @v_descEstGeo4 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO4),
							   @v_descEstGeo5 = (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO5),
							   @v_idDadosEnderecoDigitados = CASE (SELECT DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = EG.CD_NIVEL_GEO4)
															 WHEN '-' THEN 1 ELSE 2 END
						  FROM TB_EST_GEOGRAFICA EG WITH(NOLOCK)
						 WHERE CD_EST_GEOGRAFICA = @p_cdEstGeografica2

						-- VAMOS TRATAR A PARTE DOS DADOS DIGITADOS
						IF @v_idDadosEnderecoDigitados = 1
							BEGIN
								SELECT @v_descEstGeo4 = @p_descBairro2,
									   @v_descEstGeo5 = @p_descRua2
							END

						INSERT INTO TB_PESSOA_ENDERECO
							(CD_PESSOA,
							ID_TIPO_ENDERECO,
							CD_EST_GEOGRAFICA,
							DC_CODIGO_POSTAL,
							DC_NUMERO,
							DC_COMPLEMENTO,
							DC_REFERENCIA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							ID_DADOS_DIGITADOS,
							DC_ESTRUTURA_GEO1,
							DC_ESTRUTURA_GEO2,
							DC_ESTRUTURA_GEO3,
							DC_ESTRUTURA_GEO4,
							DC_ESTRUTURA_GEO5,
							DC_NOME_ENDERECO
							)
						VALUES 
							(@p_codigoPessoa,
							@p_idTipoEndereco2,
							@p_cdEstGeografica2,
							@p_descCodigoPostal2,
							@p_descNumero2,
							@p_descComplemento2,
							@p_descReferencia2,
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario,
							@v_idDadosEnderecoDigitados,
							@v_descEstGeo1,
							@v_descEstGeo2,
							@v_descEstGeo3,
							@v_descEstGeo4,
							@v_descEstGeo5,
							@p_descNomeEndereco2 )
					END
					
				IF (@p_idTipoTelefone1 <> 0)
					BEGIN
						-- PRIMEIRO APAGAMOS O EXISTENTE E INSERIMOS NA SEQUÊNCIA
						DELETE FROM TB_PESSOA_TELEFONE WHERE CD_PESSOA = @p_codigoPessoa AND ID_TIPO_TELEFONE = 1

						INSERT INTO TB_PESSOA_TELEFONE 
							(CD_PESSOA,
							ID_TIPO_TELEFONE,
							DC_TELEFONE,
							DC_RAMAL,
							DC_CONTATO,
							ID_OPERADORA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@p_codigoPessoa,
							@p_idTipoTelefone1,
							@p_descTelefone1,
							@p_descRamal1,
							@p_descContato1,
							@p_idOperadora1,
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario)
					END 
				
				IF (@p_idTipoTelefone2 <> 0)
					BEGIN
						-- PRIMEIRO APAGAMOS O EXISTENTE E INSERIMOS NA SEQUÊNCIA
						DELETE FROM TB_PESSOA_TELEFONE WHERE CD_PESSOA = @p_codigoPessoa AND ID_TIPO_TELEFONE = 2

						INSERT INTO TB_PESSOA_TELEFONE 
							(CD_PESSOA,
							ID_TIPO_TELEFONE,
							DC_TELEFONE,
							DC_RAMAL,
							DC_CONTATO,
							ID_OPERADORA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@p_codigoPessoa,
							@p_idTipoTelefone2,
							@p_descTelefone2,
							@p_descRamal2,
							@p_descContato2,
							@p_idOperadora2,
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario)
					END
				
				SELECT @v_qtdeAlocacao = COUNT(*)
				  FROM TB_ALOCACAO_REDE WITH(NOLOCK)
				 WHERE CD_PESSOA = @p_codigoPessoaGerado
				   AND CD_FUNCAO = 1
				--DT_FIM,
				IF @v_qtdeAlocacao = 0
					BEGIN
						DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 1
						DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 1
						
						INSERT INTO TB_PESSOA_FUNCAO
							(CD_PESSOA,
							CD_FUNCAO,
							ID_SITUACAO_FUNCAO,
							DT_INICIO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@p_codigoPessoa,
							1,
							1,
							CONVERT(DATE,GETDATE()),
							GETDATE(),
							@p_codigoUsuario,
							GETDATE(),
							@p_codigoUsuario)

						SELECT @v_idPermiteCaptacaoPedido = ID_PERMITE_CAPTACAO_PEDIDOS
						  FROM TB_FUNCAO WITH(NOLOCK)
						 WHERE CD_FUNCAO = 1
						  
						IF @v_idPermiteCaptacaoPedido = 1
							BEGIN	
								INSERT INTO TB_PESSOA_RESUMO (
									CD_PESSOA,
									CD_FUNCAO,
									DT_CADASTRO_PESSOA,
									VL_SALDO_FAVOR,
									VL_SALDO_FAVOR_PENDENTE,
									VL_SALDO_DEVEDOR,
									VL_CREDITO_TOTAL,
									VL_CREDITO_VENCIDO,
									VL_CREDITO_A_VENCER,
									VL_CREDITO_A_FATURAR,
									VL_CREDITO_DISPONIVEL,
									CD_PESSOA_VINCULADA,
									CD_PAPEL_CARREIRA,
									CD_PAPEL_DESEMPENHO,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO,
									DC_SENHA,
									ID_ACESSA_SISTEMA,
									ID_ACESSA_LOJA_VIRTUAL)
									
								VALUES
									(@p_codigoPessoa,
									1,
									GETDATE(),
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									@v_codigoPapelCarreiraBaseCF,
									@v_codigoPapelDesempenhoBaseCF,
									GETDATE(),
									@p_codigoUsuario,
									GETDATE(),
									@p_codigoUsuario,
									@p_descSenhaConsumidor,
									1,
									1)

								-- VAMOS VALIDAR SE O E-MAIL FOI ALTERADO, EM CASO POSITIVO IREMOS ENVIAR OS DADOS DE ACESSO NOVAMENTE
								if @v_dcEmailAtual <> @p_descEmail1
									begin
										-- **********************************
										-- VAMOS ENVIAR OS DADOS DE ACESSO POR EMAIL
										-- **********************************
		
										EXEC dbo.pr_PessoaEnviarEmailCadastro @p_codigoPessoa,			--@p_cdPessoa 
																				27,					--	@p_cdEvento	27 - cadastro CF
																				@p_codigoErro  OUTPUT, --@p_codigoErro
																				@p_descErro OUTPUT,		--@p_descricaoErro
																				@p_qtLinhasAfetadas  OUTPUT	--@p_linhasAfetadas
									end	
							end
	
					END
				
				UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4
				WHERE CD_PESSOA = @p_codigoPessoa

				-- FINALIZA A SITUAÇÃO EM EDIÇÃO
				EXEC pr_PessoaGravaHistoricoSituacaoCadastro
					@p_codigoPessoa, -- CODIGO DA PESSOA
					2,	-- EM EDIÇÃO
					2, -- FIM	
					0,	-- RESULTADO
					'', -- MOTIVO
					0,	-- POSSUI RESTRICAO
					@p_codigoUsuario,
					@p_codigoErro  OUTPUT,
					@p_descErro OUTPUT,
					@p_qtLinhasAfetadas  OUTPUT

				-- ABRE A SITUAÇÃO ATIVA
				EXEC pr_PessoaGravaHistoricoSituacaoCadastro
					@p_codigoPessoa, -- CODIGO DA PESSOA
					4,	-- ATIVA
					1, -- INICIO	
					0,	-- RESULTADO
					'', -- MOTIVO
					0,	-- POSSUI RESTRICAO
					@p_codigoUsuario,
					@p_codigoErro  OUTPUT,
					@p_descErro OUTPUT,
					@p_qtLinhasAfetadas  OUTPUT

				-- ***************************************************************
				-- FIM DO FLUXO DE APROVAÇÃO
				-- ***************************************************************

				-- ***********************************************************************				
				-- VERIFICA SE DEVEMOS OU NÃO ALOCAR A PESSOA NA REDE 
				-- ***********************************************************************
				
				IF (@v_qtdeAlocacao = 0)
					BEGIN
					
						SELECT @v_codigoPessoaIndicante = @p_codigoPessoaIndicante
						
						EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
							@p_codigoPessoa,
							@v_codigoPessoaIndicante,
							1,
							@v_idCriaAlocacao						output,	-- 1 para sim e 2 para não
							@v_nmCicloAlocacaoAutomatico			output, 
							@v_codigoEstComercialAlocacaoAutomatico	output, 
							0,
							'',
							0
							
						IF @v_idCriaAlocacao = 1
							BEGIN
							
								-- ****************************************************
								-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
								-- *******************************************************************
								SELECT @v_qtdeRegistros = COUNT(*)
								FROM TB_ALOCACAO_REDE 
								WHERE CD_PESSOA = @p_codigoPessoa
								AND NM_CICLO = @v_nmCicloAlocacaoAutomatico
							
								IF @v_qtdeRegistros = 0							
									BEGIN
										EXEC pr_PessoaGeraAlocacaoRede
												@p_codigoPessoa,
												1,
												@v_codigoEstComercialAlocacaoAutomatico,
												@v_nmCicloAlocacaoAutomatico,
												@p_codigoUsuario,

												0,
												'',
												0
									END
							END -- FIM DO @v_idCriaAlocacao = 1
																	
					END -- FIM (@ID_FUNCAO_CONSULTORA <> 0)	 
					
					-- ***************************************************************
					-- FIM  DA ALOCAÇÃO AUTOMATICA
					-- ***************************************************************
								
				SELECT @p_descErro = 'Pessoa física com código ' + CONVERT(varchar(12), @p_codigoPessoa) + ' foi alterada com exito.'
		
			END


		-- ***********************************************************************
		-- ALTERADO POR ANDERSON - 05/02/2020
		-- VAMOS VERIFICAR SE EXISTE UMA INTEGRAÇÃO DE CADASTRO DE REVENDEDOR 
		-- EM CASO POSITIVO VAMOS GRAVAR NA TABELA TB_PESSOA A COLUNA ID_SITUACAO_INTEGRACAO = 1
		-- NÃO TERIA PROBLEMA EM SUBIR EM TODOS OS BANCOS POIS CASO NAO TENHA INTEGRAÇÃO NÃO GRAVA A INFORMAÇÃO
		-- ***********************************************************************
		SELECT @v_idPossuiIntPessoa = COUNT(*)
		  FROM TB_INTEGRACAO A WITH(NOLOCK), TB_SERVICO_EXTERNO B WITH(NOLOCK)
		 WHERE A.CD_SERVICO_EXTERNO = B.CD_SERVICO_EXTERNO
		   AND ID_TIPO_INTEGRACAO = 1
		   AND B.ID_SITUACAO = 1

		IF @v_idPossuiIntPessoa > 0
			BEGIN
				IF @p_descAcao = 'I'
					BEGIN
						UPDATE TB_PESSOA SET ID_SITUACAO_INTEGRACAO = 1
						WHERE CD_PESSOA = @p_codigoPessoaGerado
					END

				IF @p_descAcao = 'A'
					BEGIN
						UPDATE TB_PESSOA SET ID_SITUACAO_INTEGRACAO = 1
						WHERE CD_PESSOA = @p_codigoPessoa
					END
			END
		-- ***********************************************************************
		-- FIM
		-- ***********************************************************************

		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
