SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ListaPessoasRedeMMN]
	@CD_PESSOA               NUMERIC(18,0),
        @CD_FUNCAO               NUMERIC(18,0),
        @NM_CICLO                NUMERIC(18,0),
        @ID_TIPO_REDE_MN         INT,
        @NM_NIVEL                NUMERIC(18,0),
        @CD_SITUACAO_COMERCIAL   NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO     NUMERIC(18,0),
        @ID_DIRECAO_REDE_BINARIA INT,
        @DC_BUSCA_CODIGO_NOME    VARCHAR(100)
	
AS
DECLARE @CD_CLIENTE NUMERIC(18,0)
DECLARE @QUERY varchar(8000)
DECLARE @DC_BUSCA_CODIGO_NOME1 VARCHAR(100)

BEGIN
  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

  IF (@CD_CLIENTE <> 25)    -- A SÓS
  BEGIN 
    SELECT tw.CD_PESSOA_VINCULADA AS "Código",
	   [dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)	AS "Nome",
           [dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,1)    AS "Fone Residencial",
           isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,2),'') + ' ' + 
           isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,3),'') AS "Celular",
           [dbo].[FN_BUSCA_EMAIL_PESSOA] (TW.CD_PESSOA_VINCULADA,1)              AS "E-mail",
           TW.NM_NIVEL                                                           AS "Nível",
           [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] (@CD_FUNCAO, TR.CD_PAPEL_DESEMPENHO)  AS "Qualificação",
           ( CASE TW.ID_DIRECAO_REDE_BINARIA WHEN  1  THEN 'D'
                  WHEN 2 THEN 'E'
                  else '' END )         AS "Direção Binária",
           [dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_ATUAL_PESSOA] (TW.CD_PESSOA_VINCULADA,TW.CD_FUNCAO) AS "Situação Comercial" 
    FROM TB_WRK_MN_TOPOLOGIA TW, TB_PESSOA_RESUMO TR
    WHERE TW.CD_PESSOA_VINCULADA = TR.CD_PESSOA
    AND   TW.CD_FUNCAO           = TR.CD_FUNCAO
    AND   TW.CD_PESSOA           = @CD_PESSOA
    AND   TW.CD_FUNCAO           = @CD_FUNCAO
    AND   TW.NM_CICLO            = @NM_CICLO
    AND   TW.ID_TIPO_REDE_MN     = @ID_TIPO_REDE_MN
    AND   TW.ID_ORDEM            = 2 -- descrecente
    AND   TW.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
    AND  (  (@NM_NIVEL > 0              AND TW.NM_NIVEL = @NM_NIVEL)                                 OR (@NM_NIVEL = 0)  )
    AND  (  (@CD_SITUACAO_COMERCIAL >= 0 AND TR.CD_SITUACAO_COMERCIAL = @CD_SITUACAO_COMERCIAL)       OR (@CD_SITUACAO_COMERCIAL = -1)   )
    AND  (  (@CD_PAPEL_DESEMPENHO > 0 AND TR.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO)             OR (@CD_PAPEL_DESEMPENHO = 0)   )
    AND  (  (@ID_DIRECAO_REDE_BINARIA > 0 AND TW.ID_DIRECAO_REDE_BINARIA = @ID_DIRECAO_REDE_BINARIA) OR (@ID_DIRECAO_REDE_BINARIA = 0)   )
    ORDER BY TW.NM_NIVEL, TW.ID_DIRECAO_REDE_BINARIA, [dbo].[FN_BUSCA_NOME_PESSOA_FISICA](TW.CD_PESSOA_VINCULADA)

  END
  
  IF (@CD_CLIENTE = 25)    -- A SÓS
  BEGIN 
    SELECT @DC_BUSCA_CODIGO_NOME1 = UPPER(@DC_BUSCA_CODIGO_NOME)
    SELECT @QUERY = 'SELECT tw.CD_PESSOA_VINCULADA AS "Código", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)	AS "Nome", '
    SELECT @QUERY = @QUERY + 'TW.NM_NIVEL                                          AS "Nível", ' 
	SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] (TR.CD_FUNCAO, TR.CD_PAPEL_DESEMPENHO)  AS "Reconhecimento", '
	SELECT @QUERY = @QUERY + 'isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,3),'''') AS "Celular", '
    SELECT @QUERY = @QUERY + 'TR.DT_CADASTRO_PESSOA AS "Data Cadastro", '
    SELECT @QUERY = @QUERY + '(SELECT MIN(A.DT_PAGAMENTO_PEDIDO) FROM TB_PEDIDO A, TB_PEDIDO_ITEM B  '
    SELECT @QUERY = @QUERY + 'WHERE A.NM_PEDIDO = B.NM_PEDIDO '
    SELECT @QUERY = @QUERY + 'AND   A.CD_PESSOA = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   A.DT_CANCELAMENTO_PEDIDO IS NULL '
    SELECT @QUERY = @QUERY + 'AND   A.DT_PAGAMENTO_PEDIDO IS NOT NULL '
    SELECT @QUERY = @QUERY + 'AND   B.CD_PRODUTO_VENDA IN (1,2,3) '
    SELECT @QUERY = @QUERY + ')  AS "Data Kit Início", '
    SELECT @QUERY = @QUERY + '(SELECT MAX(A.DT_PAGAMENTO_PEDIDO) FROM TB_PEDIDO A, TB_PEDIDO_ITEM B  '
    SELECT @QUERY = @QUERY + 'WHERE A.NM_PEDIDO = B.NM_PEDIDO '
    SELECT @QUERY = @QUERY + 'AND   A.CD_PESSOA = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   A.DT_CANCELAMENTO_PEDIDO IS NULL '
    SELECT @QUERY = @QUERY + 'AND   A.DT_PAGAMENTO_PEDIDO IS NOT NULL '
    SELECT @QUERY = @QUERY + 'AND   B.CD_PRODUTO_VENDA NOT IN (1,2,3) '
    SELECT @QUERY = @QUERY + ')  AS "Data Último Pedido", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_ATUAL_PESSOA] (TW.CD_PESSOA_VINCULADA,TW.CD_FUNCAO) AS "Situação Comercial",  '
    SELECT @QUERY = @QUERY + '(SELECT VL_INDICADOR_PESSOAL FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TW.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TW.NM_CICLO '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos Pessoais", '
    SELECT @QUERY = @QUERY + '(SELECT VL_INDICADOR_PESSOAL FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TW.CD_PESSOA '           
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TW.NM_CICLO '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1005) AS "Pontos Grupo", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_EMAIL_PESSOA] (TW.CD_PESSOA_VINCULADA,1)              AS "E-mail", '
    SELECT @QUERY = @QUERY + 'TR.CD_PESSOA_VINCULADA         AS "Patrocinador", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA_VINCULADA)	AS "Nome Patrocinador", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_ENDERECO_PESSOA_NIVEL](TW.CD_PESSOA ,	1, 3)   AS "Cidade", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_ENDERECO_PESSOA_NIVEL](TW.CD_PESSOA ,	1, 2)   AS "Estado", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,1)    AS "Fone Residencial" '
    SELECT @QUERY = @QUERY + 'FROM TB_WRK_MN_TOPOLOGIA TW, TB_PESSOA_RESUMO TR '
    SELECT @QUERY = @QUERY + 'WHERE TW.CD_PESSOA_VINCULADA = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   TW.CD_FUNCAO           = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   TW.CD_PESSOA           = '+CONVERT(VARCHAR(30),@CD_PESSOA) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.CD_FUNCAO           = '+CONVERT(VARCHAR(30), @CD_FUNCAO) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.NM_CICLO            = '+CONVERT(VARCHAR(30),@NM_CICLO) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.ID_TIPO_REDE_MN     = '+CONVERT(VARCHAR(30),@ID_TIPO_REDE_MN) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.ID_ORDEM            = 2 '
    SELECT @QUERY = @QUERY + 'AND   TW.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) '
    SELECT @QUERY = @QUERY + 'AND  (  (' + CONVERT(VARCHAR(30),@NM_NIVEL)+ '> 0  AND TW.NM_NIVEL = '+ CONVERT(VARCHAR(30),@NM_NIVEL)+ ')    OR ('+ CONVERT(VARCHAR(30),@NM_NIVEL) + '= 0)  ) '
--    SELECT @QUERY = @QUERY + 'AND  (  (' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' >= 0 AND TR.CD_SITUACAO_COMERCIAL = ' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL) +')       OR ('+CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' = -1)   ) '

    SELECT @QUERY = @QUERY + 'AND  (  (' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' >= 0 AND [dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_ATUAL_PESSOA] (TW.CD_PESSOA_VINCULADA,TW.CD_FUNCAO) = ' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL) +')       OR ('+CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' = -1)   ) '

    SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+' > 0 AND TR.CD_PAPEL_DESEMPENHO = '+CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+') OR ('+CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+' = 0)   ) '
    SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+ ' > 0 AND TW.ID_DIRECAO_REDE_BINARIA = '+CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+') OR ('+CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+' = 0)   ) '
    SELECT @QUERY = @QUERY + 'AND  (  (' +''''+@DC_BUSCA_CODIGO_NOME+''''+' <>' +'''-1'+''''+ 'AND (CONVERT(VARCHAR(30),tw.CD_PESSOA_VINCULADA) LIKE ''%'+@DC_BUSCA_CODIGO_NOME+'%'' OR UPPER([dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)) LIKE ''%'+@DC_BUSCA_CODIGO_NOME1+'%'')) OR ('+''''+@DC_BUSCA_CODIGO_NOME+''''+' = '+''''+'-1'+''''+') )   '
    IF (@CD_SITUACAO_COMERCIAL = 0)
    BEGIN
      SELECT @QUERY = @QUERY + 'ORDER BY TR.DT_CADASTRO_PESSOA DESC'
    END
    ELSE
    BEGIN
      SELECT @QUERY = @QUERY + 'ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)'
    END
    EXEC (@QUERY)
  END
END
GO
