SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_DividaInsereBoletoBancario]
	@p_dataGeracaoBoletoBancario	date,
	@p_situacaoBoletoBancario		int,
	@p_codigoDivida					numeric(18,0),
	@p_codigoParcela				numeric(18,0),
	@p_codigoAcordoPagamento		numeric(18,0),
	@p_dataVencimento				date,
	@p_valorBoletoBancario			numeric(18,2),
	@p_codigoCedente				varchar(100),
	@p_nomeCedente					varchar(100),
	@p_documentoCedente				varchar(100),
	@p_agenciaCedente				varchar(100),
	@p_digitoAgenciaCedente			varchar(100),
	@p_contaCedente					varchar(100),
	@p_digitoCedente				varchar(10),
	@p_bancoCedente					int,
	@p_nossoNumero					varchar(100),
	@p_numeroDocumento				varchar(100),
	@p_codigoCarteira				varchar(10),
	@v_instrucoesBoleto				varchar(300),

	@p_id_forma_protesto            int,
	@p_nm_dias_protesto				int,
	@p_id_forma_baixa_titulos		int,
	@p_nm_dias_baixa_titulos		int,
	
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output,
	@p_codigoBoletoBancario			numeric(18,0)	output

AS


BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    
	    BEGIN TRANSACTION 
	    
	    
	    INSERT INTO TB_BOLETO_BANCARIO (
				DT_GERACAO_BOLETO_BANCARIO,
				ID_SITUACAO_BOLETO_BANCARIO,
				CD_DIVIDA,
				CD_PARCELA,
				CD_ACORDO_PAGAMENTO,
				DT_VENCIMENTO,
				VL_BOLETO_BANCARIO,
				DC_CODIGO_CEDENTE,
				DC_NOME_CEDENTE,
				DC_DOCUMENTO_CEDENTE,
				DC_AGENCIA_CEDENTE,
				DC_DIGITO_AGENCIA_CEDENTE,
				DC_CONTA_CEDENTE,
				DC_DIGITO_CONTA_CEDENTE,
				CD_BANCO,
				DC_NOSSO_NUMERO,
				DC_NUMERO_DOCUMENTO,
				DC_CODIGO_CARTEIRA,
				DC_INSTRUCOES_BOLETO,
				ID_FORMA_PROTESTO,
				NM_DIAS_PROTESTO,
				ID_FORMA_BAIXA_TITULO,
				NM_DIAS_BAIXA_TITULO
				)
						
			VALUES  (
					@p_dataGeracaoBoletoBancario,
					@p_situacaoBoletoBancario,
					@p_codigoDivida,
					@p_codigoParcela,
					@p_codigoAcordoPagamento,
					@p_dataVencimento,
					@p_valorBoletoBancario,
					@p_codigoCedente,
					@p_nomeCedente,
					@p_documentoCedente,
					@p_agenciaCedente,
					@p_digitoAgenciaCedente,
					@p_contaCedente,
					@p_digitoCedente,
					@p_bancoCedente,
					@p_nossoNumero,
					@p_numeroDocumento,
					@p_codigoCarteira,
					@v_instrucoesBoleto,
					@p_id_forma_protesto,
					@p_nm_dias_protesto,
					@p_id_forma_baixa_titulos,
					@p_nm_dias_baixa_titulos
				)
	    	  			
		
		SELECT @p_linhasAfetadas = @@ROWCOUNT
		SELECT @p_codigoBoletoBancario = IDENT_CURRENT('TB_BOLETO_BANCARIO')
		
	    COMMIT TRANSACTION
			
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
     
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

-------------------------------------------------------------------------------------------------------------------------------------------------------

GO
