SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaInsereEndereco]
	@p_codigoPessoa			NUMERIC(18,0),
	@p_idTipoEndereco		INT,
	@p_codigoEstGeografica	NUMERIC(18,0),
	@p_descricaoEstGeo4		VARCHAR(300),
	@p_descricaoEstGeo5		VARCHAR(300),
	@p_descricaoNumero		VARCHAR(10),
	@p_descricaoComplemento VARCHAR(60),
	@p_descricaoReferencia	VARCHAR(80),
	@p_descricaoNome		VARCHAR(200),

	@p_idTipoFuncao			VARCHAR(1),
	@p_codigoUsuario		NUMERIC(18,0),
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(200) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT
	
AS

DECLARE @v_existeEndereco	INT,
		@v_codigoCEP		VARCHAR(8),
		@v_descEstGeo1		VARCHAR(300),
		@v_descEstGeo2		VARCHAR(300),
		@v_descEstGeo3		VARCHAR(300),
		@v_descEstGeo4		VARCHAR(300),
		@v_descEstGeo5		VARCHAR(300),
		@v_idDadosDigitados INT
				
BEGIN TRY
	    
	SELECT @p_qtdeLinhasAfetadas = 0
	SELECT @p_codigoErro = 0

	-- PRIMEIRO BUSCA OS DADOS DO CEP
	SELECT @v_existeEndereco = COUNT(*)
	  FROM TB_EST_GEOGRAFICA WITH(NOLOCK)
	 WHERE CD_EST_GEOGRAFICA = @p_codigoEstGeografica

	IF @v_existeEndereco = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Endereço não encontrado'

			RETURN
		END

	SELECT @v_codigoCEP = CD_CODIGO_POSTAL,
		   @v_descEstGeo1 = (SELECT E1.DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA E1 WITH(NOLOCK) WHERE E1.CD_EST_GEOGRAFICA = E.CD_NIVEL_GEO1),
		   @v_descEstGeo2 = (SELECT E1.DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA E1 WITH(NOLOCK) WHERE E1.CD_EST_GEOGRAFICA = E.CD_NIVEL_GEO2),
		   @v_descEstGeo3 = (SELECT E1.DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA E1 WITH(NOLOCK) WHERE E1.CD_EST_GEOGRAFICA = E.CD_NIVEL_GEO3),
		   @v_descEstGeo4 = (SELECT E1.DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA E1 WITH(NOLOCK) WHERE E1.CD_EST_GEOGRAFICA = E.CD_NIVEL_GEO4),
		   @v_descEstGeo5 = (SELECT E1.DC_EST_GEOGRAFICA FROM TB_EST_GEOGRAFICA E1 WITH(NOLOCK) WHERE E1.CD_EST_GEOGRAFICA = E.CD_NIVEL_GEO5)
	  FROM TB_EST_GEOGRAFICA E WITH(NOLOCK)
	 WHERE CD_EST_GEOGRAFICA = @p_codigoEstGeografica

	 -- checa se o endereço é de CEP de cidade
	 IF @v_descEstGeo4 = '-'
		BEGIN
			SELECT @v_idDadosDigitados = 1,
				   @v_descEstGeo4 = @p_descricaoEstGeo4,
				   @v_descEstGeo5 = @p_descricaoEstGeo5
		END
	ELSE
		BEGIN
			SELECT @v_idDadosDigitados = 2
		END

	-- ********************************************************************
	-- EXCLUI O QUE JA EXISTE
	-- ********************************************************************
	IF @p_idTipoFuncao = 'E'
		BEGIN
			IF @p_idTipoEndereco = 0
				BEGIN
					DELETE FROM TB_PESSOA_ENDERECO
					WHERE CD_PESSOA = @p_codigoPessoa
				END
			ELSE
				BEGIN
					DELETE FROM TB_PESSOA_ENDERECO
					WHERE CD_PESSOA = @p_codigoPessoa
					AND ID_TIPO_ENDERECO = @p_idTipoEndereco
				END
		END


	-- ********************************************************************
	-- INSERE O ENDEREÇO
	-- ********************************************************************
	IF @p_idTipoFuncao = 'I'
		BEGIN
			
			-- VAMOS CHECAR SE JÁ EXISTE O ENDERECO
			SELECT @v_existeEndereco = COUNT(*)
			  FROM TB_PESSOA_ENDERECO WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_ENDERECO = @p_idTipoEndereco

			IF @v_existeEndereco = 0
				BEGIN
					INSERT INTO TB_PESSOA_ENDERECO
						(CD_PESSOA,
						ID_TIPO_ENDERECO,
						CD_EST_GEOGRAFICA,
						DC_ESTRUTURA_GEO1,
						DC_ESTRUTURA_GEO2,
						DC_ESTRUTURA_GEO3,
						DC_ESTRUTURA_GEO4,
						DC_ESTRUTURA_GEO5,
						DC_CODIGO_POSTAL,
						DC_NUMERO,
						DC_COMPLEMENTO,
						DC_REFERENCIA,
						ID_DADOS_DIGITADOS,
						DC_NOME_ENDERECO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES 
						(@p_codigoPessoa,
						 @p_idTipoEndereco,
						 @p_codigoEstGeografica,
						 @v_descEstGeo1,
						 @v_descEstGeo2,
						 @v_descEstGeo3,
						 @v_descEstGeo4,
						 @v_descEstGeo5,
						 @v_codigoCEP,
						 @p_descricaoNumero,
						 @p_descricaoComplemento,
						 @p_descricaoReferencia,
						 @v_idDadosDigitados,
						 @p_descricaoNome,
						 GETDATE(),
						 @p_codigoUsuario,
						 GETDATE(),
						 @p_codigoUsuario)
				END
			ELSE
				BEGIN
					UPDATE TB_PESSOA_ENDERECO
					   SET CD_EST_GEOGRAFICA = @p_codigoEstGeografica,
						   DC_ESTRUTURA_GEO1 = @v_descEstGeo1,
						   DC_ESTRUTURA_GEO2 = @v_descEstGeo2,
						   DC_ESTRUTURA_GEO3 = @v_descEstGeo3,
						   DC_ESTRUTURA_GEO4 = @v_descEstGeo4,
						   DC_ESTRUTURA_GEO5 = @v_descEstGeo5,
						   DC_CODIGO_POSTAL = @v_codigoCEP,
						   DC_NUMERO = @p_descricaoNumero,
						   DC_COMPLEMENTO = @p_descricaoComplemento,
						   DC_REFERENCIA = @p_descricaoReferencia,
						   DC_NOME_ENDERECO = @p_descricaoNome,
						   ID_DADOS_DIGITADOS = @v_idDadosDigitados,
						   DT_ATUALIZACAO = GETDATE(),
						   CD_USUARIO_CADASTRO = @p_codigoUsuario
					WHERE CD_PESSOA = @p_codigoPessoa
					  AND ID_TIPO_ENDERECO = @p_idTipoEndereco
				END

		END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
