SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CreditoAtualizaCreditosExpirados]
	@p_codigoPessoa		NUMERIC(18,0),
	@p_codigoUsuario	NUMERIC(18,0),
		
	@p_codigoErro		INT OUTPUT,
	@p_descricaoErro	VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas	INT OUTPUT

AS
DECLARE	@cursorCreditosExpirados	CURSOR,
		@v_possuiCreditoExpirado	INT,
		@v_codigoFuncao				NUMERIC(18,0)

BEGIN TRY

	-- PROCEDURE PARA ZERAR O CRÉDITO DAS PESSOAS APÓS SUA EXPIRAÇÃO QUANDO EXISTIR UM CRÉDITO MANUAL JÁ EXPIRADO
	-- TEREMOS A OPÇÃO DE EXECUTAR PARA UMA PESSOA ESPECÍFICA NOS CASOS EM QUE FOR NECESSÁRIA UMA INTERVENÇÃO VIA SUPORTE
	-- E TEREMOS A OPÇÃO GERAL QUE ESTARÁ VINCULADA AO PROCESSAMENTO DIÁRIO PARA ATUALIZAR O CRÉDITO DE TODAS AS PESSOAS

	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0
	
	IF @p_codigoPessoa > 0
		BEGIN
			SELECT @v_possuiCreditoExpirado = COUNT(*),
				   @v_codigoFuncao = CD_FUNCAO
			  FROM TB_PESSOA_LIMITE_CREDITO P WITH(NOLOCK)
			 WHERE P.CD_PESSOA = @p_codigoPessoa
			   AND P.ID_MOTIVO_ATUALIZACAO_LIMITE = 3 --MANUAL
			   AND P.DT_TERMINO_LIMITE_CREDITO < CONVERT(DATE,GETDATE())
			GROUP BY CD_FUNCAO
			
			IF @v_possuiCreditoExpirado = NULL
				BEGIN
					SELECT @v_possuiCreditoExpirado = 0
				END

			IF (@v_possuiCreditoExpirado > 0)
				BEGIN
					-- SE POSSUIR CRÉDITO MANUAL EXPIRADO VAMOS ZERAR O CRÉDITO DA PESSOA NA TB_PESSOA_RESUMO
					UPDATE TB_PESSOA_RESUMO SET VL_CREDITO_TOTAL = 0,
												VL_CREDITO_DISPONIVEL = (0 - (VL_CREDITO_A_FATURAR + VL_CREDITO_A_VENCER + VL_CREDITO_VENCIDO))
					WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = @v_codigoFuncao

					-- vamos inserir um histórico de expiração do crédito manual
					INSERT INTO TB_PESSOA_LIMITE_CREDITO (
						CD_PESSOA,
						CD_FUNCAO,
						DT_LIMITE_CREDITO,
						VL_CREDITO,
						ID_MOTIVO_ATUALIZACAO_LIMITE,
						DC_JUSTIFICATIVA_LIMITE,
						DT_INICIO_LIMITE_CREDITO,
						DT_TERMINO_LIMITE_CREDITO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
						--CD_FAIXA_CREDITO)
					VALUES           (
						@p_codigoPessoa,
						@v_codigoFuncao,
						GETDATE(),
						0,
						2,
						'Reenquadramento automático - Crédito Manual Expirado',
						null,
						null,
						GETDATE(), 
						@p_codigoUsuario,	
						GETDATE(), 
						@p_codigoUsuario)
						--null)
            
					-- APÓS ZERAR O CRÉDITO VAMOS CHAMAR A ROTINA DE CÁLCULO AUTOMÁTICO PARA APLICAR ALGUMA REGRA DE REENQUADRAMENTO ATIVA OU CRÉDITO MANUAL QUE ESTEJA VIGENTE
					EXEC DBO.pr_PessoaAtualizaLimiteCredito 0,
															@p_codigoPessoa,
															@v_codigoFuncao,
															2, --AUTOMÁTICO
															' ',
															' ',
															' ',
															0,
															'',
															@p_codigoUsuario,
															@p_codigoErro OUTPUT,
															@p_descricaoErro OUTPUT,
															@p_linhasAfetadas OUTPUT
				END
		END	
	ELSE
		BEGIN
			SET  @cursorCreditosExpirados = CURSOR FAST_FORWARD
			FOR
				SELECT CD_PESSOA,
					   CD_FUNCAO
				  FROM TB_PESSOA_LIMITE_CREDITO P WITH(NOLOCK)
				 WHERE P.ID_MOTIVO_ATUALIZACAO_LIMITE = 3 --MANUAL
				   AND P.DT_TERMINO_LIMITE_CREDITO = CONVERT(DATE,GETDATE()-1) --TODOS CRÉDITOS EXPIRADOS NO DIA ANTERIOR AO FECHAMENTO

			OPEN @cursorCreditosExpirados
			FETCH NEXT FROM @cursorCreditosExpirados
			INTO @p_codigoPessoa, @v_codigoFuncao

			WHILE @@FETCH_STATUS = 0
				BEGIN
					-- SE POSSUIR CRÉDITO MANUAL EXPIRADO VAMOS ZERAR O CRÉDITO DA PESSOA NA TB_PESSOA_RESUMO
					UPDATE TB_PESSOA_RESUMO SET VL_CREDITO_TOTAL = 0,
												VL_CREDITO_DISPONIVEL = (0 - (VL_CREDITO_A_FATURAR + VL_CREDITO_A_VENCER + VL_CREDITO_VENCIDO))
					WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = @v_codigoFuncao

					-- vamos inserir um histórico de expiração do crédito manual
					INSERT INTO TB_PESSOA_LIMITE_CREDITO (
						CD_PESSOA,
						CD_FUNCAO,
						DT_LIMITE_CREDITO,
						VL_CREDITO,
						ID_MOTIVO_ATUALIZACAO_LIMITE,
						DC_JUSTIFICATIVA_LIMITE,
						DT_INICIO_LIMITE_CREDITO,
						DT_TERMINO_LIMITE_CREDITO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
						--CD_FAIXA_CREDITO)
					VALUES           (
						@p_codigoPessoa,
						@v_codigoFuncao,
						GETDATE(),
						0,
						2,
						'Reenquadramento automático - Crédito Manual Expirado',
						null,
						null,
						GETDATE(), 
						@p_codigoUsuario,	
						GETDATE(), 
						@p_codigoUsuario)
						--null)

					-- APÓS ZERAR O CRÉDITO VAMOS CHAMAR A ROTINA DE CÁLCULO AUTOMÁTICO PARA APLICAR ALGUMA REGRA DE REENQUADRAMENTO ATIVA OU CRÉDITO MANUAL QUE ESTEJA VIGENTE
					EXEC DBO.pr_PessoaAtualizaLimiteCredito 0,
															@p_codigoPessoa,
															@v_codigoFuncao,
															2, --AUTOMÁTICO
															' ',
															' ',
															' ',
															0,
															'',
															@p_codigoUsuario,
															@p_codigoErro OUTPUT,
															@p_descricaoErro OUTPUT,
															@p_linhasAfetadas OUTPUT

					FETCH NEXT FROM @cursorCreditosExpirados
					INTO @p_codigoPessoa, @v_codigoFuncao
				END
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
    SELECT @p_codigoErro = 1
    SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
