SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ListaCriteriosProximaQualificacao]
	@CD_PESSOA    NUMERIC(18,0),
        @CD_PAPEL     NUMERIC(18,0),
        @CD_FUNCAO    NUMERIC(18,0),
        @NM_CICLO     NUMERIC(18,0)

AS
DECLARE @CD_PAPEL_DESEMPENHO NUMERIC(18,0),
        @DC_PAPEL_DESEMPENHO VARCHAR(50)

BEGIN
  SELECT @CD_PAPEL_DESEMPENHO = ISNULL(MIN(CD_PAPEL_DESEMPENHO),0)
  FROM TB_PAPEL_DESEMPENHO
  WHERE CD_PAPEL_DESEMPENHO > @CD_PAPEL
  AND   CD_FUNCAO           = @CD_FUNCAO               

  IF (@CD_PAPEL_DESEMPENHO > 0)
  BEGIN
    -- BUSCA A DESCRICAO DO PAPEL
    SELECT  @DC_PAPEL_DESEMPENHO = DC_PAPEL_DESEMPENHO
    FROM TB_PAPEL_DESEMPENHO
    WHERE CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO 
    AND   CD_FUNCAO           = @CD_FUNCAO
   
    -- BUSCA OS CRITERIOS (DESCRICAO, META E REALIZADO)
    SELECT @DC_PAPEL_DESEMPENHO Papel,
           B.DC_INDICADOR_PESSOAL Criterio,
	   dbo.FN_ConverteValor (A.VL_INDICADOR_PESSOAL_INICIO) Meta,
	   CASE WHEN (A.VL_INDICADOR_PESSOAL_INICIO-ISNULL(C.VL_INDICADOR_PESSOAL,0)) > 0 THEN
	             dbo.FN_ConverteValor (A.VL_INDICADOR_PESSOAL_INICIO-ISNULL(C.VL_INDICADOR_PESSOAL,0))
	        ELSE
		     dbo.FN_ConverteValor (0)
	   END 'Quanto Falta'
    FROM TB_MN_REGRA_PAPEL_INDICADOR A
         JOIN TB_INDICADOR_PESSOAL B
         ON B.CD_INDICADOR_PESSOAL = A.CD_INDICADOR_PESSOAL
	 LEFT JOIN TB_PESSOA_INDICADOR C
	 ON C.CD_INDICADOR_PESSOAL = A.CD_INDICADOR_PESSOAL
	 AND C.CD_PESSOA = @CD_PESSOA    
	 AND C.CD_FUNCAO = @CD_FUNCAO    
	 AND C.NM_CICLO  = @NM_CICLO     
    WHERE A.CD_PAPEL = @CD_PAPEL_DESEMPENHO  
    AND ISNULL(A.ID_REGRA_CALCULAR_EXIBIR,3)  IN (2,3)  -- NOVO : ALDIR 03/02/2021 (SEGMENTAR A TABELA 
    ORDER BY A.NM_SEQUENCIA_INDICADOR
    
  END 
  
END





GO
