SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaPessoasApuracaoResultados2]
        @NM_CICLO         VARCHAR(8),  -- obrigatório
        @CD_FUNCAO        VARCHAR(2),  -- obrigatório
        @CD_EST_COMERCIAL VARCHAR(2),  -- se não escolher estrutura passar "0"
	@CD_PESSOA        VARCHAR(20), -- se não escolher pessoa passar "0"
        @CD_PAPEL_CARREIRA VARCHAR(100),  -- se não escolher papel carreira passar '0'. Se escolhe um ou mais papeis de desempenho passar '5,6,7,8'
        @CD_PAPEL_DESEMPENHO     VARCHAR(100) -- se não escolher papel desempenho passar '0'. Se escolhe um ou mais papeis de desempenho passar '5,6,7,8'


AS
DECLARE @CD_CLIENTE NUMERIC(18,0)
declare @cols nvarchar(max)
declare @query as nvarchar(max)

BEGIN
	
  set @cols = stuff((
  select distinct ',' 
    + quotename(DS_APURACAO_RESULTADOS)
  from TB_MN_REGRA_REMUNERACAO
  for xml path('')
  ), 1,1, '');



  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

  IF (@CD_CLIENTE <> 25)    -- A SÓS
  BEGIN 
         set @query='SELECT P.*,'+
          ' (SELECT ISNULL(SUM(VL_AJUSTADO),0)  FROM TB_MN_REMUNERACAO WHERE CD_PESSOA = P.CÓDIGO AND NM_CICLO = ' + @NM_CICLO + ') AS "Total Bônus" '+
          ' FROM ( '+
	  'SELECT A.CD_PESSOA AS "Código",'+
	  '[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA)	AS "Nome",   '+
	  'ISNULL(D.VL_INDICADOR_PESSOAL,0) AS "Pontos por Ciclo", '+
	  'A.CD_PESSOA_VINCULADA  AS "Patrocinador", '+
	  '[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA_VINCULADA)	AS "Nome Patrocinador",   '+
	  '(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, H.CD_PAPEL_CARREIRA) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE A.CD_PESSOA = H.CD_PESSOA AND A.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO + ') AS "Qualificacao", '+
	  '(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, H.CD_PAPEL_DESEMPENHO) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE A.CD_PESSOA = H.CD_PESSOA AND A.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO +') AS "Reconhecimento", '+
	  	  --' [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, A.CD_PAPEL_CARREIRA)  AS "Qualificacao", '+
	 --' [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] (A.CD_FUNCAO, A.CD_PAPEL_DESEMPENHO)  AS "Reconhecimento", '+
	  'ISNULL(E.VL_INDICADOR_PESSOAL,0) AS "Total de Pontos Equipe", '+
	  ' B.DS_APURACAO_RESULTADOS RESULTADOS, SUM(C.VL_REMUNERACAO) REMUNERACAO'+
	' FROM TB_PESSOA_RESUMO A '+
	' LEFT JOIN TB_MN_DETALHE_REMUNERACAO C '+
	' ON  C.NM_CICLO  = ' + @NM_CICLO +
	' AND  A.CD_PESSOA     = C.CD_PESSOA '+
	' AND A.CD_FUNCAO = C.CD_FUNCAO '+
	' left JOIN TB_MN_REGRA_REMUNERACAO B '+
	' ON B.ID_REGRA_ATIVA = 1 '+
	' AND B.CD_REMUNERACAO = C.CD_REGRA_PREMIACAO_MN '+
	' JOIN TB_PESSOA_INDICADOR D '+
	' ON A.CD_PESSOA = D.CD_PESSOA '+
	' AND A.CD_FUNCAO = D.CD_FUNCAO '+
	' AND D.NM_CICLO = ' + @NM_CICLO +
	' AND D.CD_INDICADOR_PESSOAL = 1002 '+
	' JOIN TB_PESSOA_INDICADOR E '+
	' ON A.CD_PESSOA = E.CD_PESSOA '+
	' AND A.CD_FUNCAO = E.CD_FUNCAO '+
	' AND E.NM_CICLO = ' + @NM_CICLO +
	' AND E.CD_INDICADOR_PESSOAL = 1005 '+
	'WHERE A.CD_FUNCAO = '+ @CD_FUNCAO +
        ' AND ((' + @CD_PESSOA + '> 0 AND A.CD_PESSOA = ' + @CD_PESSOA + ') OR (' + @CD_PESSOA + '= 0)) ' +
        ' AND ((' + @CD_EST_COMERCIAL + '> 0 AND A.CD_EST_COMERCIAL = ' + @CD_EST_COMERCIAL + ') OR (' + @CD_EST_COMERCIAL + '= 0)) ' +
	'AND A.CD_SITUACAO_COMERCIAL < 4 '+
        'AND ((A.CD_PAPEL_CARREIRA IN (' + @CD_PAPEL_CARREIRA + '))      OR (0 IN (' + @CD_PAPEL_CARREIRA + '))) ' +
        'AND ((A.CD_PAPEL_DESEMPENHO IN (' + @CD_PAPEL_DESEMPENHO + '))      OR (0 IN (' + @CD_PAPEL_DESEMPENHO + '))) ' +
	' GROUP BY A.CD_PESSOA, B.DS_APURACAO_RESULTADOS,  '+
	' A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, '+
	' A.CD_PAPEL_CARREIRA, A.CD_PAPEL_DESEMPENHO, ' +
	' ISNULL(D.VL_INDICADOR_PESSOAL,0), ISNULL(E.VL_INDICADOR_PESSOAL,0) '+
	' HAVING (ISNULL(D.VL_INDICADOR_PESSOAL,0) > 0 OR isnull(SUM(C.VL_REMUNERACAO),0) > 0) '+
	') AS t '+ 
	'PIVOT ( '+
	'    SUM(REMUNERACAO) '+
	'    FOR RESULTADOS IN ( ' + @cols + ' ) '+
	' ) as P ORDER BY 8 DESC;';
	execute(@query)
	--SELECT @query



  END

  IF (@CD_CLIENTE = 25)    -- A SÓS
  BEGIN 
        set @query='SELECT P.*,'+
          ' (SELECT ISNULL(SUM(VL_AJUSTADO),0)  FROM TB_MN_REMUNERACAO WHERE CD_PESSOA = P.CÓDIGO AND NM_CICLO = ' + @NM_CICLO + ') AS "Total Bônus" '+
          ' FROM ( '+
	  'SELECT A.CD_PESSOA AS "Código",'+
	  '[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA)	AS "Nome",   '+
	  'ISNULL(D.VL_INDICADOR_PESSOAL,0) AS "Pontos por Ciclo", '+
	  'A.CD_PESSOA_VINCULADA  AS "Patrocinador", '+
	  '[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA_VINCULADA)	AS "Nome Patrocinador",   '+
	  '(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, H.CD_PAPEL_CARREIRA) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE A.CD_PESSOA = H.CD_PESSOA AND A.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO + ') AS "Qualificacao", '+
	  '(select [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, H.CD_PAPEL_DESEMPENHO) FROM TB_PESSOA_PAPEL_HISTORICO H WHERE A.CD_PESSOA = H.CD_PESSOA AND A.CD_FUNCAO = H.CD_FUNCAO AND H.NM_CICLO = ' + @NM_CICLO +') AS "Reconhecimento", '+
	  	  --' [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (A.CD_FUNCAO, A.CD_PAPEL_CARREIRA)  AS "Qualificacao", '+
	 --' [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] (A.CD_FUNCAO, A.CD_PAPEL_DESEMPENHO)  AS "Reconhecimento", '+
	  'ISNULL(E.VL_INDICADOR_PESSOAL,0) AS "Total de Pontos Equipe", '+
	  ' B.DS_APURACAO_RESULTADOS RESULTADOS, ' +
	  --SUM(C.VL_REMUNERACAO) REMUNERACAO'+
	 ' case when (isnull(SUM(C.VL_REMUNERACAO),0) > 0) then isnull(SUM(C.VL_REMUNERACAO),0) else 0 end REMUNERACAO '+
	' FROM TB_PESSOA_RESUMO A '+
	' LEFT JOIN TB_MN_DETALHE_REMUNERACAO C '+
	' ON  C.NM_CICLO  = ' + @NM_CICLO +
	' AND  A.CD_PESSOA     = C.CD_PESSOA '+
	' AND A.CD_FUNCAO = C.CD_FUNCAO '+
	' left JOIN TB_MN_REGRA_REMUNERACAO B '+
	' ON B.ID_REGRA_ATIVA = 1 '+
	' AND B.CD_REMUNERACAO = C.CD_REGRA_PREMIACAO_MN '+
	' JOIN TB_PESSOA_INDICADOR D '+
	' ON A.CD_PESSOA = D.CD_PESSOA '+
	' AND A.CD_FUNCAO = D.CD_FUNCAO '+
	' AND D.NM_CICLO = ' + @NM_CICLO +
	' AND D.CD_INDICADOR_PESSOAL = 1002 '+
	' JOIN TB_PESSOA_INDICADOR E '+
	' ON A.CD_PESSOA = E.CD_PESSOA '+
	' AND A.CD_FUNCAO = E.CD_FUNCAO '+
	' AND E.NM_CICLO = ' + @NM_CICLO +
	' AND E.CD_INDICADOR_PESSOAL = 1005 '+
	'WHERE A.CD_FUNCAO = '+ @CD_FUNCAO +
        ' AND ((' + @CD_PESSOA + '> 0 AND A.CD_PESSOA = ' + @CD_PESSOA + ') OR (' + @CD_PESSOA + '= 0)) ' +
        ' AND ((' + @CD_EST_COMERCIAL + '> 0 AND A.CD_EST_COMERCIAL = ' + @CD_EST_COMERCIAL + ') OR (' + @CD_EST_COMERCIAL + '= 0)) ' +
	'AND A.CD_SITUACAO_COMERCIAL < 4 '+
        'AND ((A.CD_PAPEL_CARREIRA IN (' + @CD_PAPEL_CARREIRA + '))      OR (0 IN (' + @CD_PAPEL_CARREIRA + '))) ' +
        'AND ((A.CD_PAPEL_DESEMPENHO IN (' + @CD_PAPEL_DESEMPENHO + '))      OR (0 IN (' + @CD_PAPEL_DESEMPENHO + '))) ' +
	' GROUP BY A.CD_PESSOA, B.DS_APURACAO_RESULTADOS,  '+
	' A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, '+
	' A.CD_PAPEL_CARREIRA, A.CD_PAPEL_DESEMPENHO, ' +
	' ISNULL(D.VL_INDICADOR_PESSOAL,0), ISNULL(E.VL_INDICADOR_PESSOAL,0) '+
	' HAVING (ISNULL(D.VL_INDICADOR_PESSOAL,0) > 0 OR isnull(SUM(C.VL_REMUNERACAO),0) > 0) '+
	') AS t '+ 
	'PIVOT ( '+
	'    SUM(REMUNERACAO) '+
	'    FOR RESULTADOS IN ( ' + @cols + ' ) '+
	' ) as P ORDER BY 8 DESC;';
	execute(@query)
	--SELECT @query

  END

END
GO
