SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_MN_APLICA_PLANO_CARREIRA_BW]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS


DECLARE @CD_PAPEL_DESEMPENHO_ATUAL NUMERIC(18,0)
DECLARE @CD_PAPEL_DESEMPENHO_NOVO NUMERIC(18,0)

		
-- VARIAVEIS METAS
DECLARE @VL_META_PRODUTOS_PLENO NUMERIC(18,2),
		@VL_META_PRODUTOS_SENIOR NUMERIC(18,2),
		@VL_META_PRODUTOS_MASTER NUMERIC(18,2),
		@VL_META_PRODUTOS_EXECUTIVO NUMERIC(18,2)
		
		

DECLARE	@VL_META_CADASTRO_PLENO NUMERIC(18,0),
		@VL_META_CADASTRO_SENIOR NUMERIC(18,0),
		@VL_META_CADASTRO_MASTER NUMERIC(18,0),
		@VL_META_CADASTRO_EXECUTIVO NUMERIC(18,0),
		@VL_META_CADASTRO_EXEC_PREMIUM NUMERIC(18,0)
		
		
DECLARE @VL_META_KIT_DISTRIBUIDOR NUMERIC(18,2),
        @VL_META_KIT_PLENO NUMERIC(18,2),
        @VL_META_KIT_SENIOR NUMERIC(18,2),
        @VL_META_KIT_MASTER NUMERIC(18,2),
        @VL_META_KIT_EXECUTIVO NUMERIC(18,2)
        
		

-- VARIAVEIS REALIZADOS
DECLARE @VL_REALIZADO_PRODUTOS NUMERIC(18,2),
  	    @VL_REALIZADO_CADASTRO NUMERIC(18,0),
  	    @VL_REALIZADO_CAD_EXECUTIVO NUMERIC(18,0),
        @VL_REALIZADO_KIT_PLENO NUMERIC(18,2),
        @VL_REALIZADO_KIT_SENIOR NUMERIC(18,2),
        @VL_REALIZADO_KIT_MASTER NUMERIC(18,2),
        @VL_REALIZADO_KIT_EXECUTIVO NUMERIC(18,2)
        
-- VARIAVEIS GRATIFICACAO
DECLARE @VL_BONIFICACAO_PLENO NUMERIC(18,2),
        @VL_BONIFICACAO_SENIOR NUMERIC(18,2),
        @VL_BONIFICACAO_MASTER NUMERIC(18,2),
        @VL_BONIFICACAO_EXECUTIVO NUMERIC(18,2),
        @VL_BONIFICACAO           NUMERIC(18,2)

		
DECLARE @EXISTE_REM NUMERIC(18,0)

DECLARE @CD_PESSOA_VINCULADA NUMERIC(18,0)

DECLARE @V_QTD_PESSOA_NIVEL NUMERIC(18,0)


BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0

		BEGIN TRANSACTION 

		-- SETA AS VARIAVEIS DE META
		SELECT @VL_META_PRODUTOS_PLENO = 1000
		SELECT @VL_META_PRODUTOS_SENIOR = 2000
		SELECT @VL_META_PRODUTOS_MASTER  = 3000
		SELECT @VL_META_PRODUTOS_EXECUTIVO = 5000

		SELECT @VL_META_CADASTRO_PLENO = 2
		SELECT @VL_META_CADASTRO_SENIOR = 3
		SELECT @VL_META_CADASTRO_MASTER = 4
		SELECT @VL_META_CADASTRO_EXECUTIVO =  5
		SELECT @VL_META_CADASTRO_EXEC_PREMIUM = 1
		
		
		--SELECT @VL_META_KIT_DISTRIBUIDOR = 1
        SELECT @VL_META_KIT_PLENO = 1
        SELECT @VL_META_KIT_SENIOR = 1
        SELECT @VL_META_KIT_MASTER = 1
        SELECT @VL_META_KIT_EXECUTIVO = 1
        
        -- GRATIFICACAO
        SET @VL_BONIFICACAO_PLENO = 80
        SET @VL_BONIFICACAO_SENIOR = 120
        SET @VL_BONIFICACAO_MASTER = 200
        SET @VL_BONIFICACAO_EXECUTIVO = 1000
        SET @VL_BONIFICACAO = 0
		
		
		SELECT @CD_PAPEL_DESEMPENHO_NOVO = 1 --DISTRIBUIDOR
		
		-- *************************************************
		-- CALCULA A TOPOLOGIA DE REDE
		-- *************************************************
		EXEC DBO.SP_GRAVA_COMPOSICAO_REDE 
						@CD_PESSOA,
						@CD_FUNCAO,
						@NM_CICLO,
						0,
						'',
						0		
				
		-- ************************************************
		-- VERIFICA O VALOR DE PRODUTOS REGULARES PAGOS
		-- ************************************************
		SELECT @VL_REALIZADO_PRODUTOS = SUM(VL_INDICADOR_PESSOAL)
		FROM TB_PESSOA_INDICADOR
		WHERE NM_CICLO = @NM_CICLO
		AND CD_INDICADOR_PESSOAL = 9
		AND CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
				
		-- ************************************************
		-- VERIFICA O NUMERO DE CADASTROS (INICIOS COM PEDIDOS PAGOS)
		-- ************************************************
		SELECT @VL_REALIZADO_CADASTRO = ISNULL (SUM(VL_INDICADOR_PESSOAL),0)
		FROM TB_PESSOA_INDICADOR
		WHERE NM_CICLO = @NM_CICLO
		AND CD_INDICADOR_PESSOAL = 10
		AND CD_PESSOA_VINCULADA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		
		-- ************************************************
		-- VERIFICA O VALOR DE KITs PLENO PAGOS
		-- ************************************************
		SELECT @VL_REALIZADO_KIT_PLENO = ISNULL (SUM(VL_INDICADOR_PESSOAL),0)
		FROM TB_PESSOA_INDICADOR
		WHERE NM_CICLO = @NM_CICLO
		AND CD_INDICADOR_PESSOAL = 12
		AND CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		
		-- ************************************************
		-- VERIFICA O VALOR DE KITs SENIOR PAGOS
		-- ************************************************
		SELECT @VL_REALIZADO_KIT_SENIOR = ISNULL (SUM(VL_INDICADOR_PESSOAL),0)
		FROM TB_PESSOA_INDICADOR
		WHERE NM_CICLO = @NM_CICLO
		AND CD_INDICADOR_PESSOAL = 13
		AND CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		
		-- ************************************************
		-- VERIFICA O VALOR DE KITs MASTER PAGOS
		-- ************************************************
		SELECT @VL_REALIZADO_KIT_MASTER = ISNULL (SUM(VL_INDICADOR_PESSOAL),0)
		FROM TB_PESSOA_INDICADOR
		WHERE NM_CICLO = @NM_CICLO
		AND CD_INDICADOR_PESSOAL = 14
		AND CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		
		-- ************************************************
		-- VERIFICA O VALOR DE KITs EXECUTIVO PAGOS
		-- ************************************************
		SELECT @VL_REALIZADO_KIT_EXECUTIVO = ISNULL (SUM(VL_INDICADOR_PESSOAL),0)
		FROM TB_PESSOA_INDICADOR
		WHERE NM_CICLO = @NM_CICLO
		AND CD_INDICADOR_PESSOAL = 15
		AND CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
        
        -- ************************************************
		-- VERIFICA O NUMERO DE EXECUTIVOS
		-- ************************************************
        SELECT @VL_REALIZADO_CAD_EXECUTIVO = ISNULL(COUNT(A.CD_PESSOA),0)
		FROM TB_PESSOA_VINCULO_HISTORICO A, TB_PESSOA_PAPEL_HISTORICO B
		WHERE A.CD_PESSOA_VINCULADA = @CD_PESSOA
		AND A.NM_CICLO = @NM_CICLO
		AND A.CD_FUNCAO = @CD_FUNCAO
		AND A.CD_PESSOA = B.CD_PESSOA
		AND A.CD_FUNCAO = B.CD_FUNCAO
		AND B.CD_PAPEL_DESEMPENHO = 5  -- PAPEL EXECUTIVO
        
        		
		-- *********************************************************
		-- BUSCA O PAPEL DESEMPENHO ATUAL DA PESSOA
		-- *******************************************************
		SELECT @CD_PAPEL_DESEMPENHO_ATUAL = CD_PAPEL_DESEMPENHO
		FROM TB_PESSOA_PAPEL_HISTORICO
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND NM_CICLO = @NM_CICLO
		
		
		-- *************************************
		-- VERIFICA SE ATINGIU O PAPEL PLENO ***
		-- *************************************
		IF (@VL_REALIZADO_CADASTRO >= @VL_META_CADASTRO_PLENO OR 
		    @VL_REALIZADO_PRODUTOS >= @VL_META_PRODUTOS_PLENO OR
		    @VL_REALIZADO_KIT_PLENO >= @VL_META_KIT_PLENO ) 
            BEGIN
				SELECT @CD_PAPEL_DESEMPENHO_NOVO = 2, --PLENO
					   @VL_BONIFICACAO = @VL_BONIFICACAO_PLENO
			END
		    
		-- *************************************
		-- VERIFICA SE ATINGIU O PAPEL SENIOR **
		-- *************************************
		IF (@VL_REALIZADO_CADASTRO >= @VL_META_CADASTRO_SENIOR OR 
		    @VL_REALIZADO_PRODUTOS >= @VL_META_PRODUTOS_SENIOR OR
		    @VL_REALIZADO_KIT_SENIOR >= @VL_META_KIT_SENIOR )         
			BEGIN
				SELECT @CD_PAPEL_DESEMPENHO_NOVO = 3, --SENIOR
				@VL_BONIFICACAO = @VL_BONIFICACAO_SENIOR
			END
			
		-- *************************************
		-- VERIFICA SE ATINGIU O PAPEL MASTER **
		-- *************************************
		IF (@VL_REALIZADO_CADASTRO >= @VL_META_CADASTRO_MASTER OR 
		    @VL_REALIZADO_PRODUTOS >= @VL_META_PRODUTOS_MASTER OR
		    @VL_REALIZADO_KIT_MASTER >= @VL_META_KIT_MASTER ) 
		   	BEGIN
				SELECT @CD_PAPEL_DESEMPENHO_NOVO = 4, --MASTER
				       @VL_BONIFICACAO = @VL_BONIFICACAO_MASTER
			END
			
		-- *************************************
		-- VERIFICA SE ATINGIU O PAPEL EXECUTIVO
		-- *************************************
		IF (@VL_REALIZADO_CADASTRO >= @VL_META_CADASTRO_EXECUTIVO OR 
		    @VL_REALIZADO_PRODUTOS >= @VL_META_PRODUTOS_EXECUTIVO OR
		    @VL_REALIZADO_KIT_EXECUTIVO >= @VL_META_KIT_EXECUTIVO )         
		    BEGIN
				SELECT @CD_PAPEL_DESEMPENHO_NOVO = 5, --EXECUTIVO
				       @VL_BONIFICACAO = @VL_BONIFICACAO_EXECUTIVO
			END			
			
		-- *************************************
		-- VERIFICA SE ATINGIU O PAPEL EXECUTIVO PREMIUM
		-- *************************************
		IF (@VL_REALIZADO_CAD_EXECUTIVO >= @VL_META_CADASTRO_EXEC_PREMIUM AND
		    @CD_PAPEL_DESEMPENHO_ATUAL  = 5)
			BEGIN
				SELECT @CD_PAPEL_DESEMPENHO_NOVO = 6 --EXEC PREMIUM
			END				
			
			
		-- *********************************************
		-- NÃO TEM REGRESSÃO DE PAPEL
		-- POR ISSO SE O PAPEL NOVO FOR MENOR QUE O ATUAL
		-- ENTÃO VAMOS MANTER O ATUAL
		-- *********************************************
		IF @CD_PAPEL_DESEMPENHO_NOVO < @CD_PAPEL_DESEMPENHO_ATUAL
			BEGIN
				SELECT @CD_PAPEL_DESEMPENHO_NOVO = @CD_PAPEL_DESEMPENHO_ATUAL
			END
		
		-- *********************************************
		-- ALTERA A TABELA TB_PESSOA_RESUMO
		-- *********************************************
		UPDATE TB_PESSOA_RESUMO
		SET CD_PAPEL_CARREIRA   = @CD_PAPEL_DESEMPENHO_NOVO,
		    CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO_NOVO
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		
		
		-- *********************************************
		-- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
		-- *********************************************
		UPDATE TB_PESSOA_PAPEL_HISTORICO
		SET CD_PAPEL_CARREIRA   = @CD_PAPEL_DESEMPENHO_NOVO,
		    CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO_NOVO
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND NM_CICLO = @NM_CICLO
		
		-- *********************************************
		-- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
		-- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
		-- PAPEL QUE VAMOS GRAVAR
		-- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
		-- *********************************************
		IF @CD_PAPEL_DESEMPENHO_ATUAL <> @CD_PAPEL_DESEMPENHO_NOVO
			BEGIN
			  -- **********************************************************************
			  -- PROCESSO QUE PAGA BONIFICAÇÃO POR FORMAR PLENO/SENIOR/MASTER/EXECUTIVO
			  -- **********************************************************************
			  -- VERIFICA SE FOI A PRIMEIRA VEZ QUE VIROU O NÍVEL BUSCANDO OS DADOS NA TABELA TB_PESSOA_PAPEL_HIST_DATA
			  SELECT @V_QTD_PESSOA_NIVEL = COUNT(*)
			  FROM TB_PESSOA_PAPEL_HIST_DATA
			  WHERE CD_PESSOA = @CD_PESSOA
			  AND CD_FUNCAO = @CD_FUNCAO
			  AND CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO_NOVO
						
			  -- SE FOR IGUAL A ZERO SIGNIFICA QUE É A PRIMEIRA VEZ ENTÃO GANHA A BONIFICAÇÃO
			  IF @V_QTD_PESSOA_NIVEL = 0 
			  BEGIN
			    -- BUSCA PESSOA VINCULADA
				SELECT @CD_PESSOA_VINCULADA = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
				FROM TB_PESSOA_VINCULO_HISTORICO
				WHERE CD_PESSOA = @CD_PESSOA
				AND NM_CICLO = @NM_CICLO
				AND CD_FUNCAO = @CD_FUNCAO	
			
				IF @CD_PESSOA_VINCULADA > 0
				BEGIN
				  -- INSERE DETALHE REMUNERACAO
				  INSERT INTO TB_MN_DETALHE_REMUNERACAO (
									CD_PESSOA,
									CD_FUNCAO, 
									NM_CICLO,
									ID_MOTIVO_REMUNERACAO,
									ID_TIPO_PREMIACAO_MN,
									ID_ORIGEM_PREMIACAO_MN,
									NM_ORIGEM_MN,
									VL_ORIGEM_MN,
									VL_PERCENTUAL_REM,
									VL_REMUNERACAO)
				  VALUES (
									@CD_PESSOA_VINCULADA,
									@CD_FUNCAO,
									@NM_CICLO,
									1, -- RECEITA
									1, -- GRATIFICAÇÃO
									2, -- ORIGEM CADASTRO,
									@CD_PESSOA,
									@VL_BONIFICACAO,
									0,
									@VL_BONIFICACAO)
									
								
								
				  -- INSERE REMUNERAÇÃO
				  SELECT @EXISTE_REM = COUNT(*)
				  FROM TB_MN_REMUNERACAO
				  WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
					AND CD_FUNCAO = @CD_FUNCAO
					AND NM_CICLO = @NM_CICLO
					AND ID_SITUACAO_REMUNERACAO = 1
								
				  IF @EXISTE_REM = 0
				  BEGIN
					INSERT INTO TB_MN_REMUNERACAO (
				  						    CD_PESSOA,
											CD_FUNCAO,
											NM_CICLO,
											ID_SITUACAO_REMUNERACAO,
											VL_ORIGINAL,
											VL_AJUSTADO,
											DC_MOTIVO_AJUSTE)
										VALUES (
											@CD_PESSOA_VINCULADA,
											@CD_FUNCAO,
											@NM_CICLO,
											1,
											@VL_BONIFICACAO,
											@VL_BONIFICACAO,
											'')
									
				  END
				  ELSE
				  BEGIN
					UPDATE TB_MN_REMUNERACAO SET
				  		   VL_ORIGINAL = VL_ORIGINAL + @VL_BONIFICACAO,
						   VL_AJUSTADO = VL_AJUSTADO + @VL_BONIFICACAO
					WHERE  CD_PESSOA = @CD_PESSOA_VINCULADA
				 	   AND CD_FUNCAO = @CD_FUNCAO
					   AND NM_CICLO = @NM_CICLO
					   AND ID_SITUACAO_REMUNERACAO = 1
				  END
				END
			  END
			
			  EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@CD_PAPEL_DESEMPENHO_NOVO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
			
			END


		
		-- **************************************************************
		-- **************************************************************
		-- **************************************************************
						
				
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		COMMIT TRANSACTION
		
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
