SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_UploadDocumentosInsereUpload]
	@p_codigoUpload numeric(18,0),
	@p_descDocumento varchar(80),
	@p_idSituacao int,
	@p_cicloInicial numeric(18,0),
	@p_cicloFinal numeric(18,0),
	@p_dataInicial DateTime,
	@p_dataFinal DateTime,
	@p_nomeArquivo varchar(200),
	@p_idTipoComunicado int,
	@p_nomeLinkURLDocumento	varchar(200), 
	
	@p_codigoUsuario NUMERIC(18,0),
	@p_idTipoFuncao VARCHAR(1),
	
	@p_codigoGerado INT OUTPUT,
	@p_cdRetorno INT OUTPUT,
	@p_dcErro NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
AS

BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
		
		IF (@p_cicloFinal) = 0
			BEGIN
				SELECT @p_cicloFinal = NULL
			END

		
		IF @p_idTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO TB_UPLOAD_DOCUMENTOS (
					DC_DESCRICAO,
					ID_SITUACAO,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					DT_DATA_INICIAL,
					DT_DATA_FINAL,
					DC_NOME_ARQUIVO,
					ID_TIPO_UPLOAD_DOCUMENTOS,
					DC_URL_DOCUMENTO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
							
						
				VALUES           (
					@p_descDocumento,
					@p_idSituacao,
					@p_cicloInicial,
					@p_cicloFinal,
					@p_dataInicial,
					@p_dataFinal,
					@p_nomeArquivo,
					@p_idTipoComunicado,
					@p_nomeLinkURLDocumento,
					GETDATE(),
					@p_codigoUsuario,
					GETDATE(),
					@p_codigoUsuario
						)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_UPLOAD_DOCUMENTOS')

				COMMIT TRANSACTION
			END	
			
		IF @p_idTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 
		
				UPDATE TB_UPLOAD_DOCUMENTOS SET
					DC_DESCRICAO =@p_descDocumento,
					ID_SITUACAO=@p_idSituacao,
					ID_TIPO_UPLOAD_DOCUMENTOS = @p_idTipoComunicado,
					DC_URL_DOCUMENTO = @p_nomeLinkURLDocumento,
					NM_CICLO_INICIAL=@p_cicloInicial,
					NM_CICLO_FINAL=@p_cicloFinal,
					DT_DATA_INICIAL=@p_dataInicial,
					DT_DATA_FINAL=@p_dataFinal,				
					DT_ATUALIZACAO=GETDATE(),
					CD_USUARIO_ATUALIZACAO=@p_codigoUsuario 
				WHERE CD_UPLOAD_DOCUMENTOS = @p_codigoUpload 		
											
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END
				
		IF @p_idTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_UPLOAD_DOCUMENTOS 
				WHERE CD_UPLOAD_DOCUMENTOS = @p_codigoUpload 
							
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		SELECT @p_codigoGerado = IDENT_CURRENT('TB_UPLOAD_DOCUMENTOS')
		SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
