SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_IndicadorGraficoProdutividadePedidoMMN_EV]
      @CD_PESSOA        NUMERIC(18,0),
        @CD_FUNCAO        NUMERIC(18,0),
        @NM_CICLO         NUMERIC(18,0),
        @ID_TIPO_REDE_MN  INT  -- 1 (unilevel) / 2 (binario)
     
AS
DECLARE @CD_CLIENTE NUMERIC(18,0)

BEGIN
  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO with (NOLOCK)
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO = 1
  and CD_VALOR_PARAMETRO  =1
	
  IF (@CD_CLIENTE not in (43, 47, 48, 50, 51, 54, 55,57))  -- MAKIE / MAHOGANY / SIBERIANN / ELLAS / PACHAMAMA / DNANAMODA/ LOWELL / KENKO PATTO
  BEGIN	
   SELECT      A.NM_NIVEL nivel,
	         isnull(COUNT(DISTINCT B.NM_PEDIDO),0) qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PEDIDO B with (NOLOCK)
	   WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO_PAGAMENTO
	  AND   B.NM_CICLO_CANCELAMENTO IS NULL  
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO        
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2 -- DESCENDENTE
	  AND   A.ID_TIPO_REDE_MN        = @ID_TIPO_REDE_MN 
      AND   A.NM_NIVEL			<= 7  -- o grafico em barras somente permite 7 niveis
    GROUP BY A.NM_NIVEL
  END

	
  IF (@CD_CLIENTE in (43, 47, 48, 50, 51, 54, 57))  -- MAKIE / MAHOGANY / SIBERIANN / ELLAS / PACHAMAMA / DNANAMODA / LOWELL 
  BEGIN	
   SELECT      1 nivel,
	         isnull(COUNT(DISTINCT B.NM_PEDIDO),0) qde
	  FROM  TB_PESSOA_VINCULO_HISTORICO  A with (NOLOCK), TB_PEDIDO B with (NOLOCK)
	   WHERE A.CD_PESSOA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO_APROVACAO
	  AND   B.NM_CICLO_CANCELAMENTO IS NULL  
	  AND   A.CD_PESSOA_LIDERANCA    = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO        
	  AND   A.NM_CICLO               = @NM_CICLO
  END

  IF (@CD_CLIENTE in (55))  -- KENKO PATTO
  BEGIN	
   SELECT      A.NM_NIVEL nivel,
	         isnull(COUNT(DISTINCT B.NM_PEDIDO),0) qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PEDIDO B with (NOLOCK)
	   WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO_APROVACAO
	  AND   B.NM_CICLO_CANCELAMENTO IS NULL  
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO        
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2 -- DESCENDENTE
	  AND   A.ID_TIPO_REDE_MN        = @ID_TIPO_REDE_MN 
      AND   A.NM_NIVEL			<= 7  -- o grafico em barras somente permite 7 niveis
    GROUP BY A.NM_NIVEL
  END

END


GO
