SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 30/06/2020
-- Description:	Procedure que acerta o estoque empenhado dos materiais,zera os empenhos negativos e acerta os que estejam diferentes
-- paleativa até que seja criada um processo mais robusto que faça a auditoria do estoque
-- =============================================
CREATE PROCEDURE [dbo].[pr_MaterialAcertaEstoqueEmpenhado]
AS

	DECLARE @CD_CLIENTE INT

BEGIN

  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  SELECT @CD_CLIENTE = VL_PARAMETRO 
  FROM TB_valor_PARAMETRO
  WHERE CD_GRUPO_PARAMETRO = 6
  AND CD_PARAMETRO         = 1
  AND CD_VALOR_PARAMETRO   = 1

  -- *******************************
  -- PIERRE
  -- *******************************
  IF @CD_CLIENTE in (20)
	BEGIN 
		EXEC pr_MaterialAcertaEstoqueEmpenhadoPierre
 	END 

  -- *******************************
  -- PHYTOTERAPICA
  -- *******************************
  IF @CD_CLIENTE in (21)
	BEGIN 
		EXEC pr_MaterialAcertaEstoqueEmpenhadoPhyto
 	END 

  -- *******************************
  -- PIERRE
  -- *******************************
  IF @CD_CLIENTE in (47)
	BEGIN 
		EXEC pr_MaterialAcertaEstoqueEmpenhadoMahogany
 	END 

END
GO
