SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ServicoExternoInsereTransacao]
    @p_dataTransacao		VARCHAR(50),
    @p_codigoTransacao		VARCHAR(100),
    @p_codigoNotificacao	VARCHAR(100),
    @p_codigoReferencia		VARCHAR(100),
    @p_statusTransacao		NUMERIC(18,0),
    @p_dataUltimoEvento		VARCHAR(50),
    @p_tipoMeioPagamento	NUMERIC(18,0),
    @p_codigoMeioPagamento	NUMERIC(18,0),
    @p_valorBruto			NUMERIC(18,2),
    @p_valorDesconto		NUMERIC(18,2),
    @p_valorLiquido			NUMERIC(18,2),
    @p_valorExtra			NUMERIC(18,2),
    @p_numeroParcelas		NUMERIC(18,0),
    @p_idNomeServicoExterno	integer,
    @p_descMetodoPgto		varchar(500),
    @p_dcErroTransacao		NVARCHAR(MAX),
    
    @p_codigoErro			INT OUTPUT,
	@p_descricaoErro		VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas		INT OUTPUT,
	@p_codigoGerado			NUMERIC(18,0) OUTPUT
	
AS
DECLARE @v_numeroPedido			numeric(18,0),
		@v_sitAtualPedido		numeric(18,0),
		@v_codigoUsuario		NUMERIC(18,0),
		@v_codigoPlanoPagamento	NUMERIC(18,0), 
		@v_codigoPessoa			NUMERIC(18,0), 
		@v_codigoFuncao			INT

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	    
	    if @p_idNomeServicoExterno = 1
			begin
			
				select @p_descMetodoPgto = case @p_descMetodoPgto
				  when '101' then 'Visa'
				  when '102' then 'Mastercard'
				  when '103' then 'Amex'
				  when '106' then 'Aura'
				  when '118' then 'A vista'
				  when '701' then 'Depósito Banco do Brasil'
				  when '304' then 'Débito Online Banco do Brasil'
				  when '306' then 'Débito Online Banrisul'
				  when '201' then 'Boleto Bradesco'
				  when '301' then 'Débito Online Bradesco'
				  when '112' then 'Brasil Card'
				  when '116' then 'Cabal'
				  when '114' then 'CardBan'
				  when '104' then 'Diners'
				  when '111' then 'Discover'
				  when '107' then 'Elo'
				  when '113' then 'FortBrasil'
				  when '119' then 'GrandCard'
				  when '105' then 'HiperCard'
				  when '307' then 'Débito Online HSBC'
				  when '302' then 'Débito Online Itaú'
				  when '110' then 'Jcb'
				  when '117' then 'Mais'
				  when '501' then 'OiPaggo'
				  when '401' then 'Saldo PagSeguro'
				  when '109' then 'PersonalCard'
				  when '108' then 'PlenoCard'
				  when '305' then 'Débito Online Santander'
				  when '202' then 'Boleto Santander'
				  when '303' then 'Débito Online Itaú'
				  when '115' then 'ValeCard'
				  else ''
				  end
				  
			end
		if @p_idNomeServicoExterno = 4
			begin
				select @p_descMetodoPgto = case @p_codigoMeioPagamento
				  when '1' then 'Saldo Moip'
				  when '3' then 'Cartão VISA'
				  when '7' then 'Cartão AMEX'
				  when '5' then 'Cartão Mastercard'
				  when '6' then 'Cartão Diners'
				  when '93' then 'Cartão ELO'
				  when '94' then 'Cartão HIPER'
				  when '8' then 'Débito Online Banco do Brasil'
				  when '88' then 'Débito Online Banrisul'
				  when '22' then 'Débito Online Bradesco'
				  when '13' then 'Débito Online Itaú'
				  when '73' then 'Boleto Bancário'
				  when '75' then 'Cartão Hipercard'
				  when '76' then 'Conta Oi Paggo'
				  else ''
				  end

				-- **********************************************************************
				-- validação adicional por Diego Zilioti em 06/11/2018
				-- precisamos verificar se o pedido em questão está na situação de salvo ou abandonado
				-- caso estejam iremos finalizar este pedido para que não seja cancelado indevidamente
				-- **********************************************************************
				if CHARINDEX('-',@p_codigoReferencia) > 0
					begin
						-- busca o número do pedido
						select @v_numeroPedido = CONVERT(NUMERIC(18,0),replace(left(@p_codigoReferencia,CHARINDEX('-',@p_codigoReferencia)),'-',''))

						-- agora buscaremos a situação atual do pedido
						select @v_sitAtualPedido = CD_EST_SITUACAO,
							   @v_codigoUsuario = CD_PESSOA, 
							   @v_codigoPlanoPagamento = CD_PLANO_PAGAMENTO, 
							   @v_codigoPessoa = CD_PESSOA, 
							   @v_codigoFuncao = CD_FUNCAO
						  from TB_PEDIDO WHERE NM_PEDIDO = @v_numeroPedido

						IF @v_sitAtualPedido = 101 or @v_sitAtualPedido = 100
							BEGIN
			
								EXEC SP_FINALIZA_PEDIDO @v_numeroPedido, 
														@v_codigoUsuario, 
														@v_codigoPlanoPagamento, 
														@v_codigoPessoa, 
														@v_codigoFuncao, 
														'', 
														@p_codigoErro			OUTPUT,
														@p_descricaoErro		OUTPUT,
														@p_linhasAfetadas		OUTPUT
							END
					END
				-- **************************************************
				-- FINAL - Correção feita por Diego em 06/11/2018
				-- **************************************************

			end
		if @p_codigoReferencia = ''
			begin
				select @p_codigoReferencia = '0'
			end			
			
		BEGIN TRANSACTION 
			
		INSERT INTO TB_SERVICO_EXTERNO_TRANSACAO (
			
			DT_TRANSACAO,
			DC_CODIGO_TRANSACAO,
			DC_CODIGO_NOTIFICACAO,
			DC_CODIGO_REFERENCIA,
			CD_STATUS_TRANSACAO,
			DT_ULTIMO_EVENTO,
			CD_TIPO_MEIO_PAGAMENTO,
			CD_MEIO_PAGAMENTO,
			VL_BRUTO,
			VL_DESCONTO,
			VL_LIQUIDO,
			VL_EXTRA,
			NM_PARCELAS,
			ID_NOME_SERVICO_EXTERNO,
			DC_ERRO_TRANSACAO,
			DC_METODO_PAGAMENTO
			)
								
		VALUES           (
			@p_dataTransacao,
			@p_codigoTransacao,
			@p_codigoNotificacao,
			@p_codigoReferencia,
			@p_statusTransacao,
			@p_dataUltimoEvento,
			@p_tipoMeioPagamento,
			@p_codigoMeioPagamento,
			@p_valorBruto,
			@p_valorDesconto,
			@p_valorLiquido,
			@p_valorExtra,
			@p_numeroParcelas,
			@p_idNomeServicoExterno,
			@p_dcErroTransacao,
			@p_descMetodoPgto
		)

		COMMIT TRANSACTION
		
		SELECT @p_linhasAfetadas = @@ROWCOUNT
		SELECT @p_codigoGerado = IDENT_CURRENT('TB_SERVICO_EXTERNO_TRANSACAO')
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
