SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaBonificacaoNivel0]
	@CD_PESSOA            NUMERIC(18,0),
        @CD_FUNCAO            NUMERIC(18,0),
        @NM_CICLO_INICIO      NUMERIC(18,0),
        @NM_CICLO_FIM         NUMERIC(18,0)
AS
begin
SELECT 1 AS "CD_MN_REMUNERACAO",
	   Z.NM_CICLO AS "Ciclo",
       dbo.FN_BUSCA_DESC_PAPEL_CARREIRA(2, Z.CD_PAPEL_CARREIRA) AS "Qualificação",
       DBo.FN_BUSCA_DESC_PAPEL_DESEMPENHO(2, Z.CD_PAPEL_DESEMPENHO) AS "Reconhecimento",
       Z.SITUACAO AS "Situação p/ Recebimento do Bônus",
       dbo.FN_ConverteMoedaReal(sum(Z.VALOR_REM) - ISNULL(R.VL_TAXA_ADMINISTRATIVA,0)) AS "Valor Calculado"
FROM (SELECT A.CD_MN_REMUNERACAO,
             A.CD_PESSOA,
             A.CD_FUNCAO,
             A.NM_CICLO,
             B.CD_PAPEL_CARREIRA,
             B.CD_PAPEL_DESEMPENHO,
             DBo.FN_BUSCA_DESC_PAPEL_DESEMPENHO(2, B.CD_PAPEL_DESEMPENHO) PAPEL_DESEMPENHO,
             case when [dbo].[FN_BUSCA_SITUACAO_ATIVA_MMN] (A.CD_PESSOA, A.CD_FUNCAO, A.NM_CICLO) = 1 then
                 'ATIVO' else 'INATIVO'  end SITUACAO,
             VALOR_REM =  Case A.ID_MOTIVO_REMUNERACAO
                          WHEN 1 THEN A.VL_REMUNERACAO * 1
                          WHEN 2 THEN A.VL_REMUNERACAO * -1 END
       FROM TB_MN_DETALHE_REMUNERACAO A, 
            TB_PESSOA_PAPEL_HISTORICO B
       WHERE A.CD_PESSOA = B.CD_PESSOA
       AND A.CD_FUNCAO   = B.CD_FUNCAO
       AND A.NM_CICLO    = B.NM_CICLO
       AND A.CD_PESSOA   = @CD_PESSOA
       AND A.CD_FUNCAO   = @CD_FUNCAO
       AND ( (@NM_CICLO_INICIO IS NOT NULL AND A.NM_CICLO >= @NM_CICLO_INICIO)  OR (@NM_CICLO_INICIO IS NULL))
       AND ( (@NM_CICLO_FIM    IS NOT NULL AND A.NM_CICLO <= @NM_CICLO_FIM   )  OR (@NM_CICLO_FIM    IS NULL))
       ) Z, 
      TB_MN_REMUNERACAO R,
     (SELECT VL_PARAMETRO FROM TB_VALOR_PARAMETRO WHERE CD_GRUPO_PARAMETRO = 7 AND CD_PARAMETRO = 15) V
WHERE Z.CD_MN_REMUNERACAO = R.CD_MN_REMUNERACAO
AND   Z.CD_PESSOA         = R.CD_PESSOA
AND   Z.NM_CICLO          = R.NM_CICLO
AND   Z.CD_FUNCAO         = R.CD_FUNCAO
AND   (  (V.VL_PARAMETRO      = 1 AND R.ID_SITUACAO_REMUNERACAO = 2) OR
         (V.VL_PARAMETRO      = 2 AND DBO.FN_BUSCA_SITUACAO_ATIVA_MMN(Z.CD_PESSOA,Z.CD_FUNCAO,Z.NM_CICLO) = 1)  OR
         (V.VL_PARAMETRO      > 2 )) 
Group by --Z.CD_MN_REMUNERACAO,
		 Z.NM_CICLO,
         Z.CD_PAPEL_CARREIRA,
         Z.CD_PAPEL_DESEMPENHO,
         Z.SITUACAO,
		 ISNULL(R.VL_TAXA_ADMINISTRATIVA,0)
order by Z.NM_CICLO desc
end
GO
