SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_AtendimentoAplicaSolucaoAtendimento]
	@p_codigoAtendimento			NUMERIC(18,0),
	@p_codigoSituacaoAtendimento	NUMERIC(18,0), 
	@p_codigoUsuario				NUMERIC(18,0), 
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT

AS

DECLARE @v_numeroPedido numeric(18,0)

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''


		SELECT @v_numeroPedido = NM_PEDIDO 
		FROM TB_SAC_ATENDIMENTO
		WHERE CD_SAC_ATENDIMENTO = @p_codigoAtendimento
	    
	    -- *******************************************************
	    -- PARA TODA E QUALQUER SITUAÇÃO TEMOS QUE GRAVAR A INFORMAÇÃO
	    -- DA SITUAÇÃO NA TABELA DE ATENDIMENTO
	    -- *******************************************************
	    
    	BEGIN
			EXEC pr_AtendimentoAtualizaSituacaoAtendimento
				@p_codigoAtendimento,
				@p_codigoSituacaoAtendimento, 
				@p_codigoUsuario, 
				@p_codigoErro				OUTPUT,
				@p_descricaoErro			OUTPUT,
				@p_linhasAfetadas			OUTPUT

		END
	    
	     	
		
		
		
		-- **********************************************************
	    -- SOLUÇÕES FECHADA QUE NECESSITEM DE SOLUÇÃO
	    -- **********************************************************
	    
	    -- **********************************************************
	    -- 131 - Envio do Produto no Próximo Pedido e Coletar
	    -- 138 - Envio do Produto Faltante no Próximo Pedido e Coletar Produto Enviado
		-- 159 - Enviar o Produto no Próximo Pedido e Coletar
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (131, 138, 159)
			BEGIN
				
				-- INSERE ITEM A INCORPORAR
				EXEC pr_AtendimentoInsereItemIncorporar
					@p_codigoAtendimento,
					@p_codigoUsuario,
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
				
				
				-- INSERE ORDEM DE COLETA
				EXEC pr_AtendimentoInsereOrdemColeta
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
			END
		
		
		-- **********************************************************			
		-- 132 - Descontar o Valor no Mesmo Boleto e Coletar
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (132)
			BEGIN
				
				-- DESCONTAR VALOR DO BOLETO
				EXEC pr_AtendimentoDescontaValorBoleto
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
				
				
				-- INSERE ORDEM DE COLETA
				EXEC pr_AtendimentoInsereOrdemColeta
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
			END	    


		
		-- **********************************************************
		-- 133 - Envio do Produto no Próximo Pedido
		-- 172 - Envio do produto brinde no próximo pedido
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (133,172)
			BEGIN
				
				-- INSERE ITEM A INCORPORAR
				EXEC pr_AtendimentoInsereItemIncorporar
					@p_codigoAtendimento,
					@p_codigoUsuario,
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
					
			END	  
			
		
		
		-- **********************************************************
		-- 135 - Descontar o Valor no Mesmo Boleto
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (135)
			BEGIN
				
				-- DESCONTAR VALOR DO BOLETO
				EXEC pr_AtendimentoDescontaValorBoleto
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
					
			END	 
			 
			
		
		-- **********************************************************
		-- 137 - Envio do Produto Faltante no Próximo Pedido e Cobrar Produto Enviado
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (137)
			BEGIN
				
				-- INSERE ITEM A INCORPORAR
				EXEC pr_AtendimentoInsereItemIncorporar
					@p_codigoAtendimento,
					@p_codigoUsuario,
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
					
				
				-- COBRAR PRODUTO	
					
			END	  	
			

		
		-- **********************************************************
		-- 139 - Descontar Valor Produto Faltante e Cobrar Produto Enviado
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (139)
			BEGIN
				
				-- DESCONTAR VALOR DO BOLETO
				EXEC pr_AtendimentoDescontaValorBoleto
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
				
				-- COBRAR PRODUTO	
					
			END	  
		
		


		-- **********************************************************
		-- 140 - Descontar Valor Produto Faltante e Coletar Produto Enviado
		-- 158 - Descontar o Valor do Produto e Coletar
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (140, 158)
			BEGIN
				
				-- DESCONTAR VALOR DO BOLETO
				EXEC pr_AtendimentoDescontaValorBoleto
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
				
				
				-- INSERE ORDEM DE COLETA
				EXEC pr_AtendimentoInsereOrdemColeta
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
					
			END	  
			
		
		
		-- **********************************************************
		-- 167 - Cancelar Pedido Retornando Itens ao Estoque
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (167)
			BEGIN

				EXEC SP_CANCELA_PEDIDO
				        @v_numeroPedido,
				        32, --Cancelado por solicitação da consultora (SAC)
						1, -- movimenta estoque
				        @p_codigoUsuario,
						@p_codigoErro				OUTPUT,
						@p_descricaoErro			OUTPUT,
						@p_linhasAfetadas			OUTPUT

					
			END	  



		-- **********************************************************
		-- 168 - Cancelar Pedido e Coletar Itens
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (168)
			BEGIN

				EXEC SP_CANCELA_PEDIDO
				        @v_numeroPedido,
				        32, --Cancelado por solicitação da consultora (SAC)
						2, -- NÃO movimenta estoque
				        @p_codigoUsuario,
						@p_codigoErro				OUTPUT,
						@p_descricaoErro			OUTPUT,
						@p_linhasAfetadas			OUTPUT
				
								
				-- INSERE ORDEM DE COLETA
				EXEC pr_AtendimentoInsereOrdemColeta
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT
					
			END	 
			

		-- **********************************************************
		-- 169 - Cancelar Pedido SEM Retornar Itens ao Estoque
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (169)
			BEGIN

				EXEC SP_CANCELA_PEDIDO
				        @v_numeroPedido,
				        32, --Cancelado por solicitacação da consultora (SAC)
						2, -- movimenta estoque
				        @p_codigoUsuario,
						@p_codigoErro				OUTPUT,
						@p_descricaoErro			OUTPUT,
						@p_linhasAfetadas			OUTPUT

					
			END	
			
		
		-- **********************************************************
		-- 170 - Gerar crédito para próximo pedido e Coletar
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (170)
			BEGIN

				-- GERAR SALDO A FAVOR BASEADO NO VALOR DO PRODUTO
				EXEC pr_AtendimentoGerarCreditoValorProduto
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro		OUTPUT,
					@p_descricaoErro	OUTPUT,
					@p_linhasAfetadas	OUTPUT


				-- INSERE ORDEM DE COLETA
				EXEC pr_AtendimentoInsereOrdemColeta
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro				OUTPUT,
					@p_descricaoErro			OUTPUT,
					@p_linhasAfetadas			OUTPUT

			END	 



		-- **********************************************************
		-- 171 - Gerar Crédito para Próximo Pedido
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (171)
			BEGIN

				-- GERAR SALDO A FAVOR BASEADO NO VALOR DO PRODUTO
				EXEC pr_AtendimentoGerarCreditoValorProduto
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro		OUTPUT,
					@p_descricaoErro	OUTPUT,
					@p_linhasAfetadas	OUTPUT

			END	 


	   
		-- **********************************************************
		-- 147 - Gerar Saldo a ser Utilizado em Compras Futuras
	    -- **********************************************************
	    IF @p_codigoSituacaoAtendimento IN (147)
			BEGIN

				-- GERAR SALDO A FAVOR BASEADO NO VALOR INFORMADO
				EXEC pr_AtendimentoGerarCreditoValorInformado
					@p_codigoAtendimento,
					@p_codigoUsuario, 
					@p_codigoErro		OUTPUT,
					@p_descricaoErro	OUTPUT,
					@p_linhasAfetadas	OUTPUT

			END	 
				 
				
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
