SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PedidoInsereAutorizacaoSequoia]
	@P_NM_PEDIDO				NUMERIC(18, 0),
	@P_DC_STATUS_RETORNO		VARCHAR(100),
	@P_DC_MENSAGEM_RETORNO		VARCHAR(100),
	@P_DC_TRACKING_NUMBER		VARCHAR(100),
	@P_DT_AUTORIZACAO			DATETIME,
	@P_DC_IATA					VARCHAR(100),
	@P_DC_ROTA					VARCHAR(100),
	@P_DC_CEP3					VARCHAR(100),
	@P_DC_UF_REGIAO				VARCHAR(100),
	@P_DC_NOME					VARCHAR(100),
	@P_DT_LIMITE_ENTREGA		VARCHAR(100),
	@P_DC_ROTA_TRANSF1			VARCHAR(100),
	@P_DC_ROTA_TRANSF2			VARCHAR(100),
	@P_DC_TELEFONE_DEST			VARCHAR(100),

	@CD_USUARIO					NUMERIC(18,0),
	@VAR_RETORNO				INT OUTPUT,
	@DC_ERRO					NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS			INT OUTPUT
   

AS

DECLARE @V_QT_REGISTROS AS INT

BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @DC_ERRO = ''
		
		-- ***********************************************************************************
		-- VAMOS MANTER APENAS UM REGISTRO POR PEDIDO COMO AUTORIZADO
		-- VERIFICA SE JA EXISTE
		-- EM CASO POSITIVO FAZ UPDATE
		-- CASO CONTRARIO FAZ INSERT
		-- ***********************************************************************************
	
		SELECT @V_QT_REGISTROS = COUNT(*) 
		FROM TB_PEDIDO_SEQUOIA
		WHERE NM_PEDIDO = @P_NM_PEDIDO

		IF @V_QT_REGISTROS = 0
			BEGIN
	
				BEGIN TRANSACTION 

					INSERT INTO TB_PEDIDO_SEQUOIA (
						NM_PEDIDO,
						DC_STATUS_RETORNO,
						DC_MENSAGEM_RETORNO,
						DC_TRACKING_NUMBER,
						DT_AUTORIZACAO,
						DC_IATA,
						DC_ROTA,
						DC_CEP3,
						DC_UF_REGIAO,
						DC_NOME,
						CD_USUARIO_CADASTRO,
						DT_CADASTRO,
						DT_LIMITE_ENTREGA,
						DC_ROTA_TRANSF1,
						DC_ROTA_TRANSF2,
						DC_TELEFONE_DEST)

					VALUES	
						(
						@P_NM_PEDIDO,
						@P_DC_STATUS_RETORNO,
						@P_DC_MENSAGEM_RETORNO,
						@P_DC_TRACKING_NUMBER,
						@P_DT_AUTORIZACAO,
						@P_DC_IATA,
						@P_DC_ROTA,
						@P_DC_CEP3,
						@P_DC_UF_REGIAO,
						@P_DC_NOME,
						@CD_USUARIO,
						GETDATE(),
						@P_DT_LIMITE_ENTREGA,
						@P_DC_ROTA_TRANSF1,
						@P_DC_ROTA_TRANSF2,
						@P_DC_TELEFONE_DEST
						)
				
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	
		ELSE
			BEGIN

				UPDATE TB_PEDIDO_SEQUOIA SET
						NM_PEDIDO = @P_NM_PEDIDO,
						DC_STATUS_RETORNO = @P_DC_STATUS_RETORNO,
						DC_MENSAGEM_RETORNO = @P_DC_MENSAGEM_RETORNO,
						DC_TRACKING_NUMBER = @P_DC_TRACKING_NUMBER,
						DT_AUTORIZACAO = @P_DT_AUTORIZACAO,
						DC_IATA = @P_DC_IATA,
						DC_ROTA = @P_DC_ROTA,
						DC_CEP3 = @P_DC_CEP3,
						DC_UF_REGIAO = @P_DC_UF_REGIAO,
						DC_NOME = @P_DC_NOME,
						CD_USUARIO_CADASTRO = @CD_USUARIO,
						DT_CADASTRO = GETDATE(),
						DT_LIMITE_ENTREGA = @P_DT_LIMITE_ENTREGA,
						DC_ROTA_TRANSF1 = @P_DC_ROTA_TRANSF1,
						DC_ROTA_TRANSF2 = @P_DC_ROTA_TRANSF2,
						DC_TELEFONE_DEST = @P_DC_TELEFONE_DEST
					WHERE NM_PEDIDO = @P_NM_PEDIDO
					
			END

				
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
