SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaPedidosPessoasRede]
	@CD_PESSOA               NUMERIC(18,0),
        @ID_TIPO_REDE_MN         INT, 
        @DT_CAPTACAO_INICIAL     DATE,          -- Se ficar em branco listar todos (enviar “01-01-1900” na chamada da proc)
        @DT_CAPTACAO_FINAL       DATE,          -- Se ficar em branco l,50istar todos (enviar “31-12-2300” na chamada da proc)
        @NM_CICLO_INICIAL        NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @NM_CICLO_FINAL          NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @CD_SITUACAO_PEDIDO   NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @CD_FUNCAO               NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @NM_NIVEL                NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @ID_MOSTRA_PEDIDO_PESSOA INT,   -- 1 - SIM  / 2 - NAO
        @ID_REDE_EQUIPE          INT    -- 0 - REDE / 1 - EQUIPE

AS
DECLARE @CD_CLIENTE NUMERIC(18,0)

  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
select @CD_CLIENTE = vl_parametro 
from TB_valor_PARAMETRO with (NOLOCK)
where CD_GRUPO_PARAMETRO = 6
and CD_PARAMETRO         = 1
and CD_VALOR_PARAMETRO   = 1

IF (@CD_CLIENTE NOT IN (25,43,47,48,50,51,53,54,57))    -- A SÓS / MAKIE / MAHOGANY / SIBERIANN / ELLAS / PACHAMAMA / WEST1 / DNANAMODA/LOWELL
BEGIN 
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
      (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
       AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar",  
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  from TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO  
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_PESSOA = @CD_PESSOA OR PE.CD_PESSOA IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                                              WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                                              AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                                              AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                                              AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                                              AND TW.ID_ORDEM = 2 
                                                                                              AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                                              AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO with (NOLOCK)  WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))    ) )
        OR  (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND  PE.CD_PESSOA IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                 WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                 AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                 AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                 AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                 AND TW.ID_ORDEM = 2 
                                                                 AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                 AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))  )
    )   
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))

  UNION ALL  
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
      (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
       AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	   PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento", 
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar", 
	   dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  From TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
  --AND PE.CD_RV_INDICANTE = @CD_PESSOA   
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_RV_INDICANTE = @CD_PESSOA OR PE.CD_RV_INDICANTE IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                                              WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                                              --AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                                              AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                                              AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                                              AND TW.ID_ORDEM = 2 
                                                                                              AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                                              AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))    ) )
        OR  (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND  PE.CD_RV_INDICANTE IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                 WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                 --AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                 AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                 AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                 AND TW.ID_ORDEM = 2 
                                                                 AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                 AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))  )
    ) 
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  --AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))
  order by PE.DT_CADASTRO_PEDIDO
END


IF (@CD_CLIENTE IN (43,54))    -- MAKIE / DNANAMODA
BEGIN 
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
     -- (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
     --  AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	PE.NM_CICLO_APROVACAO AS "Ciclo Aprovação",  
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar",  
       --dbo.FN_ConverteMoedaReal (PE.VL_LIQUIDO_TOTAL) AS "Valor Total Indicador",
       dbo.FN_ConverteMoedaReal ([dbo].[FN_MN_CALCULA_VALOR_LIQUIDO_PEDIDO_MAKIE] (PE.NM_PEDIDO) ) AS "Valor Para Comissão",
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  from TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO  
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_PESSOA = @CD_PESSOA OR 
                                                 PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)    ) )
        OR    (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND
                                                 PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) 
    )   
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))

  UNION ALL  
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
    --  (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
    --   AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	   PE.NM_CICLO_APROVACAO AS "Ciclo Aprovação",  
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento", 
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar", 
	   --dbo.FN_ConverteMoedaReal (PE.VL_LIQUIDO_TOTAL) AS "Valor Total Indicador",
       dbo.FN_ConverteMoedaReal ([dbo].[FN_MN_CALCULA_VALOR_LIQUIDO_PEDIDO_MAKIE] (PE.NM_PEDIDO) ) AS "Valor Para Comissão",
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  From TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
  --AND PE.CD_RV_INDICANTE = @CD_PESSOA   
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_RV_INDICANTE = @CD_PESSOA OR 
                                                 PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO with (NOLOCK)  WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA))   )
		  OR  (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND  
		                                         PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) 
      ) 
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  --AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))
  order by PE.DT_CADASTRO_PEDIDO
END



IF (@CD_CLIENTE IN (47,57))    -- MAHOGANY 
BEGIN 
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
     -- (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
     --  AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	PE.NM_CICLO_APROVACAO AS "Ciclo Aprovação",
	PE.NM_CICLO_INDICADOR AS "Ciclo Indicador",
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar",  
       dbo.FN_ConverteMoedaReal (PE.VL_LIQUIDO_TOTAL) AS "Valor Total Indicador",
       --dbo.FN_ConverteMoedaReal ([dbo].[FN_MN_CALCULA_VALOR_LIQUIDO_PEDIDO_MAKIE] (PE.NM_PEDIDO) ) AS "Valor Para Comissão",
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  from TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO  
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_PESSOA = @CD_PESSOA OR 
                                                 PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_VINCULO_HISTORICO PV with(nolock)  WHERE PV.CD_PESSOA_LIDERANCA = @CD_PESSOA 
								        AND PV.NM_CICLO = ISNULL(PE.NM_CICLO_INDICADOR,PE.NM_CICLO_CAPTACAO))    ) )
        OR    (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND
                                                 PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_VINCULO_HISTORICO PV with(nolock)  WHERE PV.CD_PESSOA_LIDERANCA = @CD_PESSOA 
								        AND PV.NM_CICLO = ISNULL(PE.NM_CICLO_INDICADOR,PE.NM_CICLO_CAPTACAO))) 
    )   
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))

  UNION ALL  
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
    --  (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
    --   AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",
       PE.NM_PEDIDO AS "ID",
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	   PE.NM_CICLO_APROVACAO AS "Ciclo Aprovação",  
	PE.NM_CICLO_INDICADOR AS "Ciclo Indicador",
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento", 
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar", 
	dbo.FN_ConverteMoedaReal (PE.VL_LIQUIDO_TOTAL) AS "Valor Total Indicador",
       --dbo.FN_ConverteMoedaReal ([dbo].[FN_MN_CALCULA_VALOR_LIQUIDO_PEDIDO_MAKIE] (PE.NM_PEDIDO) ) AS "Valor Para Comissão",
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  From TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES  with (NOLOCK)  
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
  --AND PE.CD_RV_INDICANTE = @CD_PESSOA   
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_RV_INDICANTE = @CD_PESSOA OR 
                                                 PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_VINCULO_HISTORICO PV with(nolock)  WHERE PV.CD_PESSOA_LIDERANCA = @CD_PESSOA 
								        AND PV.NM_CICLO = ISNULL(PE.NM_CICLO_INDICADOR,PE.NM_CICLO_CAPTACAO))   ))
		  OR  (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND  
		                                         PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_VINCULO_HISTORICO PV with(nolock)  WHERE PV.CD_PESSOA_LIDERANCA = @CD_PESSOA 
								        AND PV.NM_CICLO = ISNULL(PE.NM_CICLO_INDICADOR,PE.NM_CICLO_CAPTACAO)) )
      ) 
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  --AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))
  order by PE.DT_CADASTRO_PEDIDO
END

IF (@CD_CLIENTE IN (48,50,51))    -- SIBERIANN / ELLAS / PACHAMAMA
BEGIN 
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
     -- (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
     --  AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	PE.NM_CICLO_APROVACAO AS "Ciclo Aprovação",
	PE.NM_CICLO_INDICADOR AS "Ciclo Indicador",
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar",  
       dbo.FN_ConverteMoedaReal (PE.VL_LIQUIDO_TOTAL) AS "Valor Total Indicador",
       --dbo.FN_ConverteMoedaReal ([dbo].[FN_MN_CALCULA_VALOR_LIQUIDO_PEDIDO_MAKIE] (PE.NM_PEDIDO) ) AS "Valor Para Comissão",
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  from TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO  
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_PESSOA = @CD_PESSOA OR 
                                                 PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)    ) )
        OR    (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND
                                                 PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) 
    )   
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))

  UNION ALL  
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
    --  (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
    --   AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",
       PE.NM_PEDIDO AS "ID",
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	   PE.NM_CICLO_APROVACAO AS "Ciclo Aprovação",  
	PE.NM_CICLO_INDICADOR AS "Ciclo Indicador",
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento", 
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar", 
	dbo.FN_ConverteMoedaReal (PE.VL_LIQUIDO_TOTAL) AS "Valor Total Indicador",
       --dbo.FN_ConverteMoedaReal ([dbo].[FN_MN_CALCULA_VALOR_LIQUIDO_PEDIDO_MAKIE] (PE.NM_PEDIDO) ) AS "Valor Para Comissão",
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  From TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES  with (NOLOCK)  
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
  --AND PE.CD_RV_INDICANTE = @CD_PESSOA   
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_RV_INDICANTE = @CD_PESSOA OR 
                                                 PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA))   )
		  OR  (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND  
		                                         PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) 
      ) 
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  --AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))
  order by PE.DT_CADASTRO_PEDIDO
END



IF (@CD_CLIENTE = 25)    -- A SÓS
BEGIN 
-- VERIFICAR SE O CICLO INICIAL E FINAL ESTÁ COM VALOR "0"
IF (ISNULL(@NM_CICLO_INICIAL,0) = 0 AND ISNULL(@NM_CICLO_FINAL,0) = 0)
BEGIN
  -- BUSCA O CICLO ATUAL DA PESSOA (FUNCAO = 2)
  SELECT @NM_CICLO_INICIAL = NM_CICLO_ATUAL,
	 @NM_CICLO_FINAL   = NM_CICLO_ATUAL
  FROM TB_PESSOA_RESUMO with (NOLOCK) 
  WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = 2
END



  -- PARA A ASÓS QUANDO A CONSULTA É FULL NA SITUAÇÃO DO PEDIDO NÃO CONSIDERAR PEDIDOS CANCELADOS. SOLICITAÇÃO DA TATIANA DIA 15/08 

  IF (@ID_MOSTRA_PEDIDO_PESSOA = 1) -- LISTA OS PEDIDOS DA PESSOA QUE ESTA ACESSANDO O EV
  BEGIN
    select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
      (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
       AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
      (SELECT CASE WHEN (COUNT(*) = 0) THEN 'REGULAR' ELSE 'KIT'  END FROM TB_PEDIDO_ITEM  with (NOLOCK) 
       WHERE NM_PEDIDO = PE.NM_PEDIDO
       AND NM_PEDIDO_ITEM_CONJUNTO = 0
       AND CD_PRODUTO_VENDA IN (141,573,574,605,1274,1275,1276)) AS "Tipo Pedido",
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor",  
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
	   dbo.FN_ConverteValor (ISNULL(PE.VL_PONTOS_LIQUIDO,PE.VL_PONTOS_TOTAL)) AS "Pontos Líquidos",
       ES.DC_EST_SITUACAO AS "Situação"  
  from TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO  
  AND (PE.CD_PESSOA = @CD_PESSOA OR PE.CD_PESSOA IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                                              WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                                              AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                                              AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                                              AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                                              AND TW.ID_ORDEM = 2 
                                                                                              AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                                              AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55))  )
  AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))   
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0  AND PE.CD_EST_SITUACAO <> 3))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))

/*  UNION ALL  
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
      (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
       AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
      (SELECT CASE WHEN (COUNT(*) = 0) THEN 'REGULAR' ELSE 'KIT'  END FROM TB_PEDIDO_ITEM  with (NOLOCK) 
       WHERE NM_PEDIDO = PE.NM_PEDIDO
       AND NM_PEDIDO_ITEM_CONJUNTO = 0
       AND CD_PRODUTO_VENDA IN (141,573,574,605)) AS "Tipo Pedido",
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor",  
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  From TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES  with (NOLOCK)  
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
  --AND PE.CD_RV_INDICANTE = @CD_PESSOA   
  AND (PE.CD_RV_INDICANTE = @CD_PESSOA OR PE.CD_RV_INDICANTE IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                                              WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                                              --AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                                              AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                                              AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                                              AND TW.ID_ORDEM = 2 
                                                                                              AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                                              AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) )
  AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))  
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0 AND PE.CD_EST_SITUACAO <> 3))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0)) 
*/
  order by PE.DT_CADASTRO_PEDIDO
  
  END 


  IF (@ID_MOSTRA_PEDIDO_PESSOA = 2) -- NAO LISTA OS PEDIDOS DA PESSOA QUE ESTA ACESSANDO O EV
  BEGIN
    select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
      (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
       AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
      (SELECT CASE WHEN (COUNT(*) = 0) THEN 'REGULAR' ELSE 'KIT'  END FROM TB_PEDIDO_ITEM  with (NOLOCK) 
       WHERE NM_PEDIDO = PE.NM_PEDIDO
       AND NM_PEDIDO_ITEM_CONJUNTO = 0
       AND CD_PRODUTO_VENDA IN (141,573,574,605,1274,1275,1276)) AS "Tipo Pedido",
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor",  
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
	   dbo.FN_ConverteValor (ISNULL(PE.VL_PONTOS_LIQUIDO,PE.VL_PONTOS_TOTAL)) AS "Pontos Líquidos",
       ES.DC_EST_SITUACAO AS "Situação"  
  from TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO  
  AND   PE.CD_PESSOA IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                 WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                 AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                 AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                 AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                 AND TW.ID_ORDEM = 2 
                                                                 AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                 AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
  AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0)) 
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0  AND PE.CD_EST_SITUACAO <> 3))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))

/*  UNION ALL  
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
      (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
       AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
      (SELECT CASE WHEN (COUNT(*) = 0) THEN 'REGULAR' ELSE 'KIT'  END FROM TB_PEDIDO_ITEM  with (NOLOCK) 
       WHERE NM_PEDIDO = PE.NM_PEDIDO
       AND NM_PEDIDO_ITEM_CONJUNTO = 0
       AND CD_PRODUTO_VENDA IN (141,573,574,605)) AS "Tipo Pedido",
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor",  
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação"  
  From TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
  --AND PE.CD_RV_INDICANTE = @CD_PESSOA   
  AND @ID_MOSTRA_PEDIDO_PESSOA = 2 AND  PE.CD_RV_INDICANTE IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                 WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                 --AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                 AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                 AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                 AND TW.ID_ORDEM = 2 
                                                                 AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                 AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0)) 
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0 AND PE.CD_EST_SITUACAO <> 3))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0)) 
*/
  order by PE.DT_CADASTRO_PEDIDO
  
  END 


END


IF @CD_CLIENTE IN (53)    -- WEST1 
BEGIN 
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
      (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
       AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
       PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar",  
       dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação" ,
       PE.DC_OBSERVACOES_PEDIDO AS "Observação",
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_RV_INDICANTE) AS "Intercambista"
  from TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO  
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_PESSOA = @CD_PESSOA OR PE.CD_PESSOA IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                                              WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                                              AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                                              AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                                              AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                                              AND TW.ID_ORDEM = 2 
                                                                                              AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                                              AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO with (NOLOCK)  WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))    ) )
        OR  (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND  PE.CD_PESSOA IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                 WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                 AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                 AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                 AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                 AND TW.ID_ORDEM = 2 
                                                                 AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                 AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_PESSOA IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))  )
    )   
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))

  UNION ALL  
  select  PE.CD_PESSOA AS "Código",  
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_PESSOA) AS "Nome",  
      (SELECT tw.NM_NIVEL FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) WHERE TW.CD_PESSOA = @CD_PESSOA AND TW.CD_FUNCAO = PE.CD_FUNCAO and TW.CD_PESSOA_VINCULADA = pe.CD_PESSOA
       AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN AND TW.ID_ORDEM = 2 and tw.NM_CICLO = pe.NM_CICLO_CAPTACAO) AS "Nível",
       dbo.fn_busca_funcao(pe.cd_funcao) AS "Função",  
       PE.NM_PEDIDO AS "ID",  
       PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
	   PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
       PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento", 
       dbo.FN_ConverteMoedaReal (PE.VL_PAGAR_TOTAL) AS "Valor Pagar", 
	   dbo.FN_ConverteValor (PE.VL_PONTOS_TOTAL) AS "Pontos",
       ES.DC_EST_SITUACAO AS "Situação",
       PE.DC_OBSERVACOES_PEDIDO AS "Observação",
       dbo.FN_BUSCA_NOME_PESSOA(PE.CD_RV_INDICANTE) AS "Intercambista"  
  From TB_PEDIDO PE with (NOLOCK) , 
       TB_EST_SITUACAO ES   with (NOLOCK) 
  WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
  --AND PE.CD_RV_INDICANTE = @CD_PESSOA   
  AND (       (@ID_MOSTRA_PEDIDO_PESSOA = 1 AND (PE.CD_RV_INDICANTE = @CD_PESSOA OR PE.CD_RV_INDICANTE IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                                              WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                                              --AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                                              AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                                              AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                                              AND TW.ID_ORDEM = 2 
                                                                                              AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                                              AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))    ) )
        OR  (@ID_MOSTRA_PEDIDO_PESSOA = 2 AND  PE.CD_RV_INDICANTE IN ( SELECT tw.CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA TW  with (NOLOCK) 
                                                                 WHERE TW.CD_PESSOA = @CD_PESSOA 
                                                                 --AND TW.CD_FUNCAO = PE.CD_FUNCAO 
                                                                 AND TW.NM_CICLO = PE.NM_CICLO_CAPTACAO 
                                                                 AND TW.ID_TIPO_REDE_MN = @ID_TIPO_REDE_MN 
                                                                 AND TW.ID_ORDEM = 2 
                                                                 AND (   (@NM_NIVEL > 0 AND TW.NM_NIVEL = @NM_NIVEL)  OR (@NM_NIVEL = 0))
                                                                 AND TW.NM_NIVEL <= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)) 
                                               AND ( (@ID_REDE_EQUIPE = 1 AND PE.CD_RV_INDICANTE IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO  with (NOLOCK) WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA)) OR (@ID_REDE_EQUIPE = 0))  )
    ) 
  AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL,103)
  AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL,103) 
  AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
  AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
  AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
  --AND (  (@CD_FUNCAO  > 0 AND PE.CD_FUNCAO = @CD_FUNCAO)  OR (@CD_FUNCAO = 0))
  order by PE.DT_CADASTRO_PEDIDO
END
GO
