SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_ATUALIZA_SIT_COMERCIAL_ESTENDIDO]
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

DECLARE  @CURSOR_PESSOA         CURSOR

DECLARE @CD_PESSOA                NUMERIC (18,0),
	@CD_FUNCAO                NUMERIC (18,0),
        @NM_CICLO_ATUAL           NUMERIC (18,0),
	@NM_CICLO_ESTENDIDO       NUMERIC (18,0)
         

BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0

  -- ABRE O CURSOR CICLO
  SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
  FOR
	SELECT  A.CD_PESSOA, 
		A.CD_FUNCAO, 
		A.NM_CICLO_ATUAL, 
		B.CICLO_ESTENDIDO
	FROM  TB_PESSOA_RESUMO A WITH(NOLOCK),
	     (SELECT CD_EST_COMERCIAL ESTRUTURA, NM_CICLO CICLO_ESTENDIDO
		 FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
		 WHERE  CONVERT(DATE,GETDATE()-1) = DT_FINAL_CICLO_ESTENDIDO) B,
	      TB_HIST_SITUACAO_CONSULTORA C WITH(NOLOCK)
	WHERE A.CD_EST_COMERCIAL                = B.ESTRUTURA
	AND   A.CD_FUNCAO                       = 2
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) = 0
	AND   A.CD_PESSOA                       = C.CD_PESSOA
	AND   B.CICLO_ESTENDIDO                 = C.NM_CICLO
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) = ISNULL(C.CD_SITUACAO_COMERCIAL,0)
	AND   C.DT_REATIVACAO IS NOT NULL
	ORDER BY 1

  OPEN @CURSOR_PESSOA
  FETCH NEXT FROM @CURSOR_PESSOA
  INTO @CD_PESSOA, @CD_FUNCAO, @NM_CICLO_ATUAL, @NM_CICLO_ESTENDIDO
  WHILE @@FETCH_STATUS = 0 
  BEGIN  

	BEGIN TRANSACTION
	UPDATE TB_PESSOA_RESUMO
	SET CD_SITUACAO_COMERCIAL = 4,
	    ID_ACESSA_LOJA_VIRTUAL = 2, 
            ID_ACESSA_SISTEMA = 2,
	    DT_ATUALIZACAO = GETDATE(),
	    CD_USUARIO_ATUALIZACAO = -100
	WHERE CD_PESSOA = @CD_PESSOA
	AND CD_FUNCAO   = @CD_FUNCAO
	COMMIT TRANSACTION

	BEGIN TRANSACTION
	UPDATE TB_HIST_SITUACAO_CONSULTORA
	SET CD_SITUACAO_COMERCIAL = 4,
	    CD_SITUACAO_COMERCIAL_DETALHE = 400,
	    DT_ATUALIZACAO = GETDATE(),
	    CD_USUARIO_ATUALIZACAO = -100
	WHERE CD_PESSOA = @CD_PESSOA
	AND NM_CICLO    = @NM_CICLO_ATUAL
	COMMIT TRANSACTION

	EXEC SP_CANCELA_PEDIDOS_PENDENTES_DESATIVADA
					@CD_PESSOA,
					-100,
					@VAR_RETORNO	OUTPUT, 
					@DC_ERRO	OUTPUT

        BEGIN TRANSACTION
	  DELETE TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND   CD_FUNCAO = @CD_FUNCAO
	  AND   NM_CICLO  = @NM_CICLO_ATUAL
	COMMIT TRANSACTION

    FETCH NEXT FROM @CURSOR_PESSOA
    INTO @CD_PESSOA, @CD_FUNCAO, @NM_CICLO_ATUAL, @NM_CICLO_ESTENDIDO

  END 
  CLOSE       @CURSOR_PESSOA
  DEALLOCATE  @CURSOR_PESSOA

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0
		
END TRY	

BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;

GO
