SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   
CREATE PROCEDURE [dbo].[pr_BuscaValorParametro]
	@CD_GRUPO_PARAMETRO int,
        @CD_PARAMETRO int,
        @CD_VALOR_PARAMETRO int,
	@VL_PARAMETRO NUMERIC(18,4) OUTPUT,	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO VARCHAR(1000) OUTPUT
	
AS
  BEGIN TRY		        
    SELECT @VL_PARAMETRO = VL_PARAMETRO
    FROM TB_VALOR_PARAMETRO
    WHERE CD_GRUPO_PARAMETRO = @CD_GRUPO_PARAMETRO
    AND   CD_PARAMETRO       = @CD_PARAMETRO
    AND   CD_VALOR_PARAMETRO = @CD_VALOR_PARAMETRO		
  SELECT @CD_ERRO = 0		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @CD_ERRO, 1)
END CATCH;


GO
