SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[pr_PromocaoInsereRegraComercial]
    @CD_PROMOCAO_REGRA_COMERCIAL	NUMERIC(18,0),

	@CD_PROMOCAO					NUMERIC(18,0),
	@CD_REGRA_COMERCIAL				NUMERIC(18,0),

	@CD_USUARIO						NUMERIC(18,0),

	@VAR_TIPO_FUNCAO				VARCHAR(1),
	
	@VAR_RETORNO					INT OUTPUT,
	@DC_ERRO						NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS				INT OUTPUT

AS


BEGIN TRY
	

	    SELECT @QT_LINHAS_AFETADAS = 0

		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PROMOCAO_REGRA_COMERCIAL (
					CD_PROMOCAO,
					CD_REGRA_COMERCIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				 						
						
				VALUES  (
					@CD_PROMOCAO,
					@CD_REGRA_COMERCIAL,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	



			IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 
				UPDATE TB_PROMOCAO_REGRA_COMERCIAL SET
			           CD_PROMOCAO = @CD_PROMOCAO,
				   	   CD_REGRA_COMERCIAL =@CD_REGRA_COMERCIAL,
					   DT_ATUALIZACAO = GETDATE(),
					   CD_USUARIO_ATUALIZACAO = @CD_USUARIO
					WHERE CD_PROMOCAO_REGRA_COMERCIAL = @CD_PROMOCAO_REGRA_COMERCIAL
						
			SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	


			
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_PROMOCAO_REGRA_COMERCIAL 
					WHERE CD_PROMOCAO = @CD_PROMOCAO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	



		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
