SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaEnviarEmailCadastro]
	@p_cdPessoa					NUMERIC(18,0),
	@p_cdEvento					INT,
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS
DECLARE @Cursor_Itens				CURSOR
DECLARE	@v_nmLinha					INT
DECLARE @v_dcTexto					VARCHAR(MAX)
DECLARE @v_dcTexto01				VARCHAR(MAX)

DECLARE @v_data						DATETIME
DECLARE @v_cd_pessoa_destinatario	NUMERIC(18,0)
DECLARE	@v_dc_email_destinatario	VARCHAR(200)

DECLARE @v_cd_envio_email			NUMERIC(18,0)

DECLARE @v_dcNomePessoa			    VARCHAR(max),
		@v_dcSenhaAcesso			varchar(100),
		@v_dcNomeIndicante			varchar(500),
		@v_dcEmailIndicante			varchar(200),
		@v_dcTelefoneResIndicante	varchar(100),
		@v_dcTelefoneCelIndicante	varchar(100),
		@v_dcTelefoneIndicante		varchar(200)

DECLARE @v_dc_assunto_email VARCHAR(100)

DECLARE @v_envia_email INT

DECLARE @nm_Pessoa VARCHAR(150)
DECLARE @QT_ASSUNTO	INT

/************************************************************
@p_cdEvento = 1 - Cadastro de Revendedor
@p_cdEvento = 2 - Cadastro Colaborador
@p_cdEvento = 3 - Cadastro Força de Vendas
@p_cdEvento = 27 - Cadastro Consumidor Final
************************************************************/

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''

		-- VERIFICA SE O ENVIO PARA ESSE EVENTO ESTA ATIVO
		SELECT @v_envia_email = ID_SITUACAO
		FROM TB_ENVIO_EMAIL_PARAMETROS WITH(NOLOCK)
		WHERE CD_EMAIL = @p_cdEvento
		
		IF @v_envia_email = 1 
			BEGIN

				SELECT @v_data = GETDATE()				

				SELECT	@v_cd_pessoa_destinatario = P.CD_PESSOA,
						@v_dc_email_destinatario = (SELECT PE.DC_EMAIL FROM TB_PESSOA_EMAIL PE WITH(NOLOCK) WHERE P.CD_PESSOA = PE.CD_PESSOA AND PE.ID_TIPO_EMAIL = 1)
				FROM TB_PESSOA P WITH(NOLOCK)
				WHERE P.CD_PESSOA = @p_cdPessoa
				
							
				-- CADASTRO REVENDEDOR
				IF @p_cdEvento = 1
					BEGIN
						
						--OBTEM OS DADOS DE ACESSO PARA ENVIAR NO E-MAIL
						SELECT @v_dcNomePessoa = dbo.FN_BUSCA_NOME_PESSOA(CD_PESSOA),
							   @v_dcSenhaAcesso = DC_SENHA
						  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						 WHERE CD_PESSOA = @p_cdPessoa AND CD_FUNCAO = 2

						--VAMOS OBTER TAMBÉM OS DADOS DO INDICANTE PARA ENVIAR NO E-MAIL DE CADASTRO DO REVENDEDOR
						SELECT @v_dcNomeIndicante = ISNULL(DBO.FN_BUSCA_NOME_PESSOA(CD_PESSOA_INDICANTE),''),
								@v_dcEmailIndicante = ISNULL(DBO.FN_BUSCA_EMAIL_PESSOA(CD_PESSOA_INDICANTE,1),''),
								@v_dcTelefoneResIndicante = ISNULL(DBO.FN_BUSCA_TELEFONE_PESSOA(CD_PESSOA_INDICANTE,1),''),
								@v_dcTelefoneCelIndicante = ISNULL(DBO.FN_BUSCA_TELEFONE_PESSOA(CD_PESSOA_INDICANTE,3),'')
						FROM TB_PESSOA WITH(NOLOCK) WHERE CD_PESSOA = @p_cdPessoa

						IF LEN(@v_dcEmailIndicante) > 0
							begin
								select @v_dcEmailIndicante = 'E-mail para contato: ' + @v_dcEmailIndicante
							end

						select @v_dcTelefoneIndicante = ''

						IF len(@v_dcTelefoneResIndicante) > 0
							begin
								select @v_dcTelefoneIndicante = 'Telefone(s) para contato: ' + @v_dcTelefoneResIndicante
							end

						if len(@v_dcTelefoneCelIndicante) > 0
							begin
								if len(@v_dcTelefoneIndicante) > 0
									begin
										select @v_dcTelefoneIndicante = @v_dcTelefoneIndicante + ' / ' + @v_dcTelefoneCelIndicante
									end
								else
									begin
										select @v_dcTelefoneIndicante = 'Telefone(s) para contato: ' + @v_dcTelefoneCelIndicante
									end
							end	
						
						-- ***************************************************************
						-- VERIFICA SE POSSUI ASSUNTO CADASTRADO
						-- SE FOR NULO OU VAZIO VAMOS PEGAR O PADRÃO
						-- CASO CONTRARIO 
						-- ***************************************************************
						SELECT @QT_ASSUNTO = COUNT(*)  FROM TB_EMAIL
						WHERE CD_EMAIL = 1
						AND DC_ASSUNTO_EMAIL IS NULL OR DC_ASSUNTO_EMAIL = ''

						IF @QT_ASSUNTO > 0
							BEGIN
								SELECT @v_dc_assunto_email = 'Acesso ao Escritório Virtual'
							END
						ELSE
							BEGIN
								SELECT @v_dc_assunto_email = DC_ASSUNTO_EMAIL  
								FROM TB_EMAIL
								WHERE CD_EMAIL = 1
							END


						

						EXEC [pr_EmailInsereEnvioEmail ]
							0,							--@p_cd_envio_email			  numeric(18,0),
							@p_cdEvento,				--@p_cd_email                 numeric(18,0),
							@v_data,					--@p_dt_geracao_email         datetime ,
							NULL,						--@p_dt_envio_email           datetime,
							1,							--@p_id_situacao_envio_email  numeric(18,0),
							@v_cd_pessoa_destinatario,	--@p_cd_pessoa_destinatario   numeric(18,0),
							@v_dc_email_destinatario,	--@p_dc_email_destinatario    varchar(max),
							@v_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
							'',							--@p_dc_erro                  varchar(max),
	
							'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
							@v_cd_envio_email                       OUTPUT,	
							@p_codigoErro				OUTPUT,
							@p_descricaoErro			OUTPUT,
							@p_linhasAfetadas			OUTPUT


						SET @Cursor_Itens = CURSOR FAST_FORWARD
						FOR

							SELECT	NM_LINHA, 
									DC_TEXTO
							FROM TB_EMAIL_TEXTO WITH(NOLOCK) WHERE CD_EMAIL = 1
							ORDER BY NM_LINHA ASC
						
						OPEN @Cursor_Itens
						FETCH NEXT FROM @Cursor_Itens
						INTO	@v_nmLinha, @v_dcTexto
						
							WHILE @@FETCH_STATUS = 0
								BEGIN

									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Nome#',CONVERT(varchar(1000), @v_dcNomePessoa))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Codigo#',CONVERT(varchar(20), @p_cdPessoa))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#v_senha#',CONVERT(varchar(100), @v_dcSenhaAcesso))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#NOME_INDICANTE#',CONVERT(varchar(100), @v_dcNomeIndicante))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#EMAIL_INDICANTE#',CONVERT(varchar(100), @v_dcEmailIndicante))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#FONE_INDICANTE#',CONVERT(varchar(200), @v_dcTelefoneIndicante))

																
									EXEC pr_EmailInsereEnvioEmailTexto
										@v_cd_envio_email,
										@v_nmLinha,
										@v_dcTexto,
										'I',
										@p_codigoErro				OUTPUT,
										@p_descricaoErro			OUTPUT,
										@p_linhasAfetadas			OUTPUT
										

									FETCH NEXT FROM @Cursor_Itens
									INTO	@v_nmLinha, @v_dcTexto
								END


				
					END
				-- CADASTRO COLABORADOR
				IF @p_cdEvento = 2
					BEGIN
						
						--OBTEM OS DADOS DE ACESSO PARA ENVIAR NO E-MAIL
						SELECT @v_dcNomePessoa = dbo.FN_BUSCA_NOME_PESSOA(CD_PESSOA),
							   @v_dcSenhaAcesso = DC_SENHA
						  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						 WHERE CD_PESSOA = @p_cdPessoa AND CD_FUNCAO = 3

						
						SELECT @v_dc_assunto_email = 'Acesso ao Sistema ATSVD'

						EXEC [pr_EmailInsereEnvioEmail ]
							0,							--@p_cd_envio_email			  numeric(18,0),
							@p_cdEvento,				--@p_cd_email                 numeric(18,0),
							@v_data,					--@p_dt_geracao_email         datetime ,
							NULL,						--@p_dt_envio_email           datetime,
							1,							--@p_id_situacao_envio_email  numeric(18,0),
							@v_cd_pessoa_destinatario,	--@p_cd_pessoa_destinatario   numeric(18,0),
							@v_dc_email_destinatario,	--@p_dc_email_destinatario    varchar(max),
							@v_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
							'',							--@p_dc_erro                  varchar(max),
	
							'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
							@v_cd_envio_email                       OUTPUT,		
							@p_codigoErro				OUTPUT,
							@p_descricaoErro			OUTPUT,
							@p_linhasAfetadas			OUTPUT
						SET @Cursor_Itens = CURSOR FAST_FORWARD
						FOR

							SELECT	NM_LINHA, 
									DC_TEXTO
							FROM TB_EMAIL_TEXTO WITH(NOLOCK) WHERE CD_EMAIL = 2
							ORDER BY NM_LINHA ASC
						
						OPEN @Cursor_Itens
						FETCH NEXT FROM @Cursor_Itens
						INTO	@v_nmLinha, @v_dcTexto
						
							WHILE @@FETCH_STATUS = 0
								BEGIN

									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Nome#',CONVERT(varchar(1000), @v_dcNomePessoa))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Codigo#',CONVERT(varchar(20), @p_cdPessoa))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#v_senha#',CONVERT(varchar(100), @v_dcSenhaAcesso))
																
									EXEC pr_EmailInsereEnvioEmailTexto
										@v_cd_envio_email,
										@v_nmLinha,
										@v_dcTexto,
										'I',
										@p_codigoErro				OUTPUT,
										@p_descricaoErro			OUTPUT,
										@p_linhasAfetadas			OUTPUT
										

									FETCH NEXT FROM @Cursor_Itens
									INTO	@v_nmLinha, @v_dcTexto
								END

					END

				-- CADASTRO CF
				IF @p_cdEvento = 27
					BEGIN
						
						--OBTEM OS DADOS DE ACESSO PARA ENVIAR NO E-MAIL
						SELECT @v_dcNomePessoa = dbo.FN_BUSCA_NOME_PESSOA(CD_PESSOA),
							   @v_dcSenhaAcesso = DC_SENHA
						  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						 WHERE CD_PESSOA = @p_cdPessoa AND CD_FUNCAO = 1

						
						SELECT @v_dc_assunto_email = 'Acesso à Loja Virtual'

						EXEC [pr_EmailInsereEnvioEmail ]
							0,							--@p_cd_envio_email			  numeric(18,0),
							@p_cdEvento,				--@p_cd_email                 numeric(18,0),
							@v_data,					--@p_dt_geracao_email         datetime ,
							NULL,						--@p_dt_envio_email           datetime,
							1,							--@p_id_situacao_envio_email  numeric(18,0),
							@v_cd_pessoa_destinatario,	--@p_cd_pessoa_destinatario   numeric(18,0),
							@v_dc_email_destinatario,	--@p_dc_email_destinatario    varchar(max),
							@v_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
							'',							--@p_dc_erro                  varchar(max),
	
							'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
							@v_cd_envio_email                       OUTPUT,		
							@p_codigoErro				OUTPUT,
							@p_descricaoErro			OUTPUT,
							@p_linhasAfetadas			OUTPUT

						SET @Cursor_Itens = CURSOR FAST_FORWARD
						FOR

							SELECT	NM_LINHA, 
									DC_TEXTO
							FROM TB_EMAIL_TEXTO WITH(NOLOCK) WHERE CD_EMAIL = 27
							ORDER BY NM_LINHA ASC
						
						OPEN @Cursor_Itens
						FETCH NEXT FROM @Cursor_Itens
						INTO	@v_nmLinha, @v_dcTexto
						
							WHILE @@FETCH_STATUS = 0
								BEGIN

									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Nome#',CONVERT(varchar(1000), @v_dcNomePessoa))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#PF_Codigo#',CONVERT(varchar(20), @p_cdPessoa))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#v_senha#',CONVERT(varchar(100), @v_dcSenhaAcesso))
																
									EXEC pr_EmailInsereEnvioEmailTexto
										@v_cd_envio_email,
										@v_nmLinha,
										@v_dcTexto,
										'I',
										@p_codigoErro				OUTPUT,
										@p_descricaoErro			OUTPUT,
										@p_linhasAfetadas			OUTPUT
										

									FETCH NEXT FROM @Cursor_Itens
									INTO	@v_nmLinha, @v_dcTexto
								END

					END

			END
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
