SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_EstabelecimentoInsereEstabelecimento]
	@p_codigoEstabelecimento	NUMERIC(18,0),
	@p_nomeEstabelecimento		varchar(80),
	@p_codigoSituacao			int,
	@p_codigoEmpresa			numeric(18, 0),
	@p_codigoCategoria			int,
	@p_valorRepasse				numeric(18, 2),
	@p_valorPontosPorReal		numeric(18, 4),
	@p_descricaoComercial		varchar(8000),
		
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descricaoFuncao			VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT

AS


BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_ESTABELECIMENTO (
					
					DC_ESTABELECIMENTO,
					ID_SITUACAO_ESTABELECIMENTO,
					CD_EMPRESA,
					ID_CATEGORIA_ESTABELECIMENTO,
					VL_PERCENTUAL_REPASSE,
					VL_PONTOS_POR_REAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					DC_INFORMACAO_COMERCIAL)
						
				VALUES           (
					
					@p_nomeEstabelecimento,
					@p_codigoSituacao,
					@p_codigoEmpresa,
					@p_codigoCategoria,
					@p_valorRepasse,
					@p_valorPontosPorReal,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario,
					@p_descricaoComercial
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_ESTABELECIMENTO')
			
				 
				COMMIT TRANSACTION
			END
	
	
		IF @p_descricaoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_ESTABELECIMENTO
				SET 
					
					DC_ESTABELECIMENTO = @p_nomeEstabelecimento,
					ID_SITUACAO_ESTABELECIMENTO = @p_codigoSituacao,
					CD_EMPRESA = @p_codigoEmpresa,
					ID_CATEGORIA_ESTABELECIMENTO = @p_codigoCategoria,
					VL_PERCENTUAL_REPASSE = @p_valorRepasse,
					VL_PONTOS_POR_REAL = @p_valorPontosPorReal,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					DC_INFORMACAO_COMERCIAL = @p_descricaoComercial

				WHERE CD_ESTABELECIMENTO = @p_codigoEstabelecimento
								
				
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @p_descricaoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_ESTABELECIMENTO
				WHERE CD_ESTABELECIMENTO = @p_codigoEstabelecimento
				
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END
				

		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
