SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiContasReceberEstornaPagamento]
	@p_codigoPagamento	NUMERIC(18,0),
	
	@p_codigoUsuario	NUMERIC(18,0),
		
	@p_codigoErro		INT OUTPUT,
	@p_descErro			VARCHAR(1000) OUTPUT,
	@p_qtLinhasAfetadas	INT OUTPUT
AS
DECLARE @v_codigoParcela			NUMERIC(18,0),
		@v_idSituacaoProcessamento	TINYINT,
		@v_codigoConciliacao		NUMERIC(18,0),
		@v_existePagamento			TINYINT

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	SELECT @p_qtLinhasAfetadas = 0

	SELECT @v_existePagamento = COUNT(*)
	  FROM TB_PROCESSAMENTO_BAIXA_CONCILIACAO WITH(NOLOCK)
	 WHERE CD_PROCESSAMENTO_BAIXA_CONCILIACAO = @p_codigoPagamento

	IF @v_existePagamento = 0
		BEGIN
			-- NÃO ENCONTROU O PAGAMENTO, SAI DA ROTINA
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Código de pagamento não encontrado'

			RETURN
		END
	ELSE
		BEGIN
			--BUSCA OS DADOS PARA PROCESSAMENTO
			SELECT @v_codigoParcela = CD_PARCELA,
				   @v_idSituacaoProcessamento = ID_SITUACAO_PROCESSAMENTO,
				   @v_codigoConciliacao = ISNULL(CD_RETORNO_PROCESSAMENTO,0)
			  FROM TB_PROCESSAMENTO_BAIXA_CONCILIACAO WITH(NOLOCK)
			 WHERE CD_PROCESSAMENTO_BAIXA_CONCILIACAO = @p_codigoPagamento

			 IF @v_idSituacaoProcessamento = 1
				BEGIN
					-- PAGAMENTO AINDA NÃO PROCESSADO, VAMOS APENAS ATUALIZAR A SITUAÇÃO DE PROCESSAMENTO
					UPDATE TB_PROCESSAMENTO_BAIXA_CONCILIACAO
					   SET ID_SITUACAO_PROCESSAMENTO = 4,
						   CD_RETORNO_PROCESSAMENTO = 'Pagamento estornado via API, processamento não será executado',
						   DT_ULTIMA_ATUALIZACAO_PROCESSAMENTO = getdate(),
						   CD_USUARIO = @p_codigoUsuario
					 WHERE CD_PROCESSAMENTO_BAIXA_CONCILIACAO = @p_codigoPagamento
				END
			IF @v_idSituacaoProcessamento = 3
				BEGIN
					-- O PAGAMENTO ACONTECEU, VAMOS CHAMAR A PROCEDURE DE ESTORNO DE PAGAMENTO
					EXEC dbo.pr_ConciliacaoEstornaPagamento @v_codigoConciliacao,
															'Estornado via API',
															@p_codigoUsuario,
															@p_codigoErro output,
															@p_descErro output,
															@p_qtLinhasAfetadas output
				END
			IF @v_idSituacaoProcessamento = 4
				BEGIN
					-- SIGNIFICA QUE HOUVE ALGUM PROBLEMA NA EXECUÇÃO DO PAGAMENTO, VAMOS APENAS DEVOLVER O QUE ACONTECEU NA EXECUÇÃO
					SELECT @p_codigoErro = 1,
						   @p_descErro = CD_RETORNO_PROCESSAMENTO
					  FROM TB_PROCESSAMENTO_BAIXA_CONCILIACAO WITH(NOLOCK)
					 WHERE CD_PROCESSAMENTO_BAIXA_CONCILIACAO = @p_codigoPagamento
				END
		END
	

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
