SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vw_ApiConsultaGrade]
AS

	SELECT GP.CD_GRADE_PRODUTO_EXTERNO "code",
		   GP.DC_GRADE_PRODUTO "description",
		   GP.ID_SITUACAO "status",
		   GI.CD_GRADE_PRODUTO_ITEM_EXTERNO "item.code",
		   GI.DC_GRADE_PRODUTO_ITEM "item.description",
		   GI.ID_SITUACAO "item.status"
	  FROM TB_GRADE_PRODUTO_ITEM GI WITH(NOLOCK), TB_GRADE_PRODUTO GP WITH(NOLOCK)
	 WHERE GI.CD_GRADE_PRODUTO = GP.CD_GRADE_PRODUTO
GO
