SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_IndicadorGraficoProdutividadeMMN_EV]
      @CD_PESSOA        NUMERIC(18,0),
        @CD_FUNCAO        NUMERIC(18,0),
        @NM_CICLO         NUMERIC(18,0),
        @ID_TIPO_REDE_MN  INT  -- 1 (unilevel) / 2 (binario)
     
AS

DECLARE @CD_CLIENTE NUMERIC(18,0)

BEGIN
  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO with (NOLOCK)
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO = 1
  and CD_VALOR_PARAMETRO  =1
	
  IF (@CD_CLIENTE not in (25, 43, 47, 48, 50, 51, 54, 57))  --A SÓS / MAKIE / MAHOGANY / SIBERIANN / ELLAS / PACHAMAMA / DNANAMODA/ LOWELL
  BEGIN	
 
  select a1.sit_coml, a1.qde
  from (

	 SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml, 
                 'Cadastradas' sit_coml,
	         isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0) qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	   WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  = 0
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2 -- DESCENDENTE
	  AND   A.ID_TIPO_REDE_MN        = @ID_TIPO_REDE_MN  
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
     -- group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)
 	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,	
                 'Ativas' sit_coml,
	         isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  = 1
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2 -- DESCENDENTE
	  AND   A.ID_TIPO_REDE_MN        = @ID_TIPO_REDE_MN 
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO  with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
      --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)
	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,
                 'Inativas' sit_coml,
        	 isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  in (2,3)
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
	  --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)
 	  ) a1 -- DESCENDENTE
    order by  a1.sit_coml

  END


  IF (@CD_CLIENTE = 25)  --A SÓS
  BEGIN	
 
  select a1.sit_coml, a1.qde
  from (

	 SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml, 
                 'Cadastradas' sit_coml,
	         isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0) qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	   WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  = 0
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2 -- DESCENDENTE
	  AND   A.ID_TIPO_REDE_MN        = @ID_TIPO_REDE_MN  
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
     -- group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)
 	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,	
                 'Ativas' sit_coml,
	         isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  = 1
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2 -- DESCENDENTE
	  AND   A.ID_TIPO_REDE_MN        = @ID_TIPO_REDE_MN 
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
      --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)
	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,
                 'Inativa 1' sit_coml,
        	 isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  in (2,3)
          AND   B.CD_SITUACAO_COMERCIAL_DETALHE = 201
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
	  --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)
 	  

	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,
                 'Inativa 2' sit_coml,
        	 isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  in (2,3)
          AND   B.CD_SITUACAO_COMERCIAL_DETALHE = 202
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
	  --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)


	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,
                 'Inativa 3' sit_coml,
        	 isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  in (2,3)
          AND   B.CD_SITUACAO_COMERCIAL_DETALHE = 203
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
	  --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)

	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,
                 'Inativa 4' sit_coml,
        	 isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  in (2,3)
          AND   B.CD_SITUACAO_COMERCIAL_DETALHE = 301
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
	  --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)

	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,
                 'Inativa 5' sit_coml,
        	 isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  in (2,3)
          AND   B.CD_SITUACAO_COMERCIAL_DETALHE = 302
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
	  --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)
	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,
                 'Inativa 6' sit_coml,
        	 isnull(COUNT(DISTINCT A.CD_PESSOA_VINCULADA),0)  qde
	  FROM  TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	  WHERE A.CD_PESSOA_VINCULADA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  in (2,3)
          AND   B.CD_SITUACAO_COMERCIAL_DETALHE = 303
	--  AND   B.CD_EST_COMERCIAL       = @CD_EST_COMERCIAL
	  AND   A.CD_PESSOA              = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  AND   A.ID_ORDEM               = 2
          AND   A.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO with (NOLOCK) where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
	  --group by dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL)
 	  ) a1 -- DESCENDENTE

    order by  a1.sit_coml

  END


  IF (@CD_CLIENTE in (43, 47, 48, 50, 51, 54, 57))  -- MAKIE / MAHOGANY / SIBERIANN / ELLAS / PACHAMAMA / DNANAMODA/ LOWELL
  BEGIN	
 
  select a1.sit_coml, a1.qde
  from (

	 SELECT  'Cadastradas' sit_coml,
	         isnull(COUNT(DISTINCT A.CD_PESSOA),0) qde
	  FROM  TB_PESSOA_VINCULO_HISTORICO A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	   WHERE A.CD_PESSOA             = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  = 0
	  AND   A.CD_PESSOA_LIDERANCA    = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
 	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,	
                 'Ativas' sit_coml,
	         isnull(COUNT(DISTINCT A.CD_PESSOA),0)  qde
	  FROM  TB_PESSOA_VINCULO_HISTORICO A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	   WHERE A.CD_PESSOA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  = 1
	  AND   A.CD_PESSOA_LIDERANCA    = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
	  union
	  SELECT --dbo.FN_BUSCA_DESC_SIT_COMERCIAL(A.CD_FUNCAO, B.CD_SITUACAO_COMERCIAL) sit_coml,
                 'Inativas' sit_coml,
        	 isnull(COUNT(DISTINCT A.CD_PESSOA),0)  qde
	  FROM  TB_PESSOA_VINCULO_HISTORICO A with (NOLOCK), TB_HIST_SITUACAO_CONSULTORA B with (NOLOCK)
	   WHERE A.CD_PESSOA   = B.CD_PESSOA
	  AND   A.NM_CICLO               = B.NM_CICLO
	  AND   B.CD_SITUACAO_COMERCIAL  IN (2,3)
	  AND   A.CD_PESSOA_LIDERANCA    = @CD_PESSOA
	  AND   A.CD_FUNCAO              = @CD_FUNCAO
	  AND   A.NM_CICLO               = @NM_CICLO
 	  ) a1 -- DESCENDENTE
    order by  a1.sit_coml

  END





END




GO
