SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PedidoAlteraCodRastreio]
	@p_numeroPedido					numeric(18, 0),
	@p_codRastreio					varchar(max),
	
	
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	

AS

DECLARE @V_CONTADOR_REGISTROS INT

BEGIN TRY
	
	    SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	
		BEGIN TRANSACTION 
		
		UPDATE TB_PEDIDO
		SET DC_LINK_RASTREIO = @p_codRastreio
		WHERE NM_PEDIDO = @p_numeroPedido
		
				
		
		
		SELECT @p_linhasAfetadas = @@ROWCOUNT
		
		COMMIT TRANSACTION
		
		          
        
    
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
