SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_PLANO_PAGAMENTO]
	@CD_PLANO NUMERIC(18,0),
	@DC_PLANO_PAGAMENTO varchar(80),
	@ID_SITUACAO int,
	@ID_MEIO_PAGAMENTO int,
	@CD_SERVICO_EXTERNO numeric(18,0),
	@QT_PARCELAS int,
	@QT_DIAS_ENTRE_PARCELAS int,
	@QT_DIAS_VALIDADE int,
	@QT_DIAS_VENCIMENTO int,
	@VL_MINIMO_ACORDO numeric(18, 2),
	@VL_MINIMO_PARCELA numeric(18, 2),
	@VL_TAXA_ADMINISTRATIVA numeric(18, 2),
			
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	@ID_TIPO_PAGAMENTO int,
	@PC_MULTA numeric(15,2),
	@PC_MORA_DIARIA numeric(15,2),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_PLANO_PAGAMENTO NUMERIC(18,0) OUTPUT

AS


BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0

		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PLANO_PAGAMENTO (
					DC_PLANO_PAGAMENTO,
					ID_SITUACAO,
					ID_MEIO_PAGAMENTO,
					CD_SERVICO_EXTERNO,
					QT_PARCELAS,
					QT_DIAS_ENTRE_PARCELAS,
					QT_DIAS_VALIDADE,
					QT_DIAS_VENCIMENTO,
					VL_MINIMO_ACORDO,
					VL_MINIMO_PARCELA,
					VL_TAXA_ADMINISTRATIVA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					ID_TIPO_PAGAMENTO,
					PC_MULTA,
					PC_MORA_DIARIA)
										
						
				VALUES           (
					@DC_PLANO_PAGAMENTO,
					@ID_SITUACAO,
					@ID_MEIO_PAGAMENTO,
					@CD_SERVICO_EXTERNO,
					@QT_PARCELAS,
					@QT_DIAS_ENTRE_PARCELAS,
					@QT_DIAS_VALIDADE,
					@QT_DIAS_VENCIMENTO,
					@VL_MINIMO_ACORDO,
					@VL_MINIMO_PARCELA,
					@VL_TAXA_ADMINISTRATIVA,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO,
					@ID_TIPO_PAGAMENTO,
					@PC_MULTA,
					@PC_MORA_DIARIA
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_PLANO_PAGAMENTO = IDENT_CURRENT('TB_PLANO_PAGAMENTO')
			
				COMMIT TRANSACTION
			END	


		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_PLANO_PAGAMENTO SET
					DC_PLANO_PAGAMENTO = @DC_PLANO_PAGAMENTO,
					ID_SITUACAO = @ID_SITUACAO,
					ID_MEIO_PAGAMENTO = @ID_MEIO_PAGAMENTO,
					CD_SERVICO_EXTERNO = @CD_SERVICO_EXTERNO,
					QT_PARCELAS = @QT_PARCELAS,
					QT_DIAS_ENTRE_PARCELAS = @QT_DIAS_ENTRE_PARCELAS,
					QT_DIAS_VALIDADE = @QT_DIAS_VALIDADE,
					QT_DIAS_VENCIMENTO = @QT_DIAS_VENCIMENTO,
					VL_MINIMO_ACORDO = @VL_MINIMO_ACORDO,
					VL_MINIMO_PARCELA = @VL_MINIMO_PARCELA,
					VL_TAXA_ADMINISTRATIVA = @VL_TAXA_ADMINISTRATIVA,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
					ID_TIPO_PAGAMENTO = @ID_TIPO_PAGAMENTO,
					PC_MULTA = @PC_MULTA,
					PC_MORA_DIARIA = @PC_MORA_DIARIA
				WHERE CD_PLANO_PAGAMENTO = @CD_PLANO
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_PLANO_PAGAMENTO 
				WHERE CD_PLANO_PAGAMENTO = @CD_PLANO
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			


		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
