SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorAtualizaTabTempEstoque]
	@CD_PRODUTO_VENDA_EXTERNO			VARCHAR(80),
	@CD_DEPOSITO						VARCHAR(80),
	@VL_PRECO_MEDIO						NUMERIC(18,2),
	@VL_PRECO_UNITARIO_ULTIMA_COMPRA	NUMERIC(18,2),
	@QT_ULTIMA_COMPRA					NUMERIC(18,0),
	@QT_DISPONIVEL_VENDA				NUMERIC(18,0),
	@QT_ESTOQUE							NUMERIC(18,0),

	@DC_TIPO_FUNCAO						VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

BEGIN TRY
	
	SELECT @QT_LINHAS_AFETADAS = 0
		

	IF @DC_TIPO_FUNCAO = 'I'
		BEGIN
			INSERT INTO TB_WRK_SENIOR_ESTOQUE (
				CD_PRODUTO_VENDA_EXTERNO,
				CD_DEPOSITO,
				VL_PRECO_MEDIO,
				VL_PRECO_UNITARIO_ULTIMA_COMPRA,
				QT_ULTIMA_COMPRA,
				QT_DISPONIVEL_VENDA,
				QT_ESTOQUE
				)

			VALUES (
				@CD_PRODUTO_VENDA_EXTERNO,
				@CD_DEPOSITO,
				@VL_PRECO_MEDIO,
				@VL_PRECO_UNITARIO_ULTIMA_COMPRA,
				@QT_ULTIMA_COMPRA,
				@QT_DISPONIVEL_VENDA,
				@QT_ESTOQUE
				)
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
		END
		
		
		IF @DC_TIPO_FUNCAO = 'E'
			BEGIN

				DELETE FROM TB_WRK_SENIOR_ESTOQUE 

				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			END		
			
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
