SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiPedidoFinalizaPedidoCaptacao]
	@p_numeroPedido				NUMERIC(18,0),
	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE	@v_existePedido			INT,
		@v_existeItens			INT,
		@v_codigoPlanoPagamento	NUMERIC(18,0),
		@v_codigoFuncao			INT,
		@v_codigoPessoa			NUMERIC

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	SELECT @v_existePedido = COUNT(NM_PEDIDO)
	  FROM TB_PEDIDO WITH(NOLOCK)
	 WHERE NM_PEDIDO = @p_numeroPedido

	IF @v_existePedido = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O Pedido informado não existe'
			RETURN
		END

	SELECT @v_existePedido = COUNT(NM_PEDIDO)
	  FROM TB_PEDIDO WITH(NOLOCK)
	 WHERE NM_PEDIDO = @p_numeroPedido
	   AND CD_EST_SITUACAO IN (1,101)

	IF @v_existePedido = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O Pedido informado não está mais em captação pois foi finalizado ou cancelado'
			RETURN
		END

	SELECT @v_existeItens = COUNT(*)
	  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
	 WHERE NM_PEDIDO = @p_numeroPedido
	   AND QT_RESERVADA > 0 -- COM AO MENOS UM ITEM COM ESTOQUE

	IF @v_existeItens = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O Pedido informado não possui itens e não pode ser finalizado'
			RETURN
		END

	SELECT @v_codigoPlanoPagamento = ISNULL(CD_PLANO_PAGAMENTO,0),
		   @v_codigoFuncao = CD_FUNCAO,
		   @v_codigoPessoa = CD_PESSOA
	  FROM TB_PEDIDO WITH(NOLOCK)
	 WHERE NM_PEDIDO = @p_numeroPedido

	IF @v_codigoPlanoPagamento = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O Pedido informado não possui um plano de pagamento informado e não pode ser finalizado'
			RETURN
		END

	EXEC SP_FINALIZA_PEDIDO @p_numeroPedido, 
							@p_codigoUsuario, 
							@v_codigoPlanoPagamento, 
							@v_codigoPessoa, 
							@v_codigoFuncao, 
							'',
							@p_codigoErro OUTPUT,
							@p_descErro	OUTPUT,
							@p_qtLinhasAfetadas	OUTPUT

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
