SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_ApiConsultaContasReceber]  
AS  
SELECT   
    PD.NM_PEDIDO AS orderId,  
    D.CD_PESSOA AS customerId,  
    D.CD_DIVIDA AS id,  
    P.CD_PARCELA AS installmentId,  
    P.CD_PARCELA_EXTERNO AS externaInstallmentId,  
    D.CD_PLANO_PAGAMENTO AS idPaymentPlan,  
    PP.DC_PLANO_PAGAMENTO AS paymentPlanName,  
    D.ID_MEIO_PAGAMENTO AS paymentForm,  
    P.VL_ORIGINAL_PARCELA AS originalValue,  
    P.VL_ATUALIZADO_PARCELA AS updatedValue,  
    P.VL_ORIGINAL_PARCELA_SALDO AS leftOverValue,  
    P.DT_VENCIMENTO AS dueDate,  
    P.ID_SITUACAO_PARCELA AS installmentStatus,  
    P.ID_SITUACAO_PAGAMENTO_PARCELA AS installmentPaymentStatus,  
    D.ID_SITUACAO_DIVIDA AS accountStatus,  
    D.ID_SITUACAO_PAGAMENTO AS accountPaymentStatus,  
    P.ID_STATUS_INTEGRACAO AS integrationStatus,  
    CD.ID_TIPO_CD AS cdType,  
    InvoiceData.invoiceNumber,  
    InvoiceData.invoiceSerie,  
    InvoiceData.invoiceDate,  
    InvoiceData.invoiceAccessKey,  
    InvoiceData.invoiceStatus  
FROM TB_DIVIDA D WITH(NOLOCK)  
JOIN TB_PARCELA P WITH(NOLOCK) ON D.CD_DIVIDA = P.CD_DIVIDA  
JOIN TB_PEDIDO PD WITH(NOLOCK) ON PD.NM_PEDIDO = D.NM_PEDIDO  
JOIN TB_PLANO_PAGAMENTO PP WITH(NOLOCK) ON PP.CD_PLANO_PAGAMENTO = D.CD_PLANO_PAGAMENTO  
JOIN TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) ON CD.CD_CENTRO_DISTRIBUICAO = PD.CD_CENTRO_DISTRIBUICAO  
OUTER APPLY (  
    SELECT TOP 1   
           NF.NM_NOTA_FISCAL AS invoiceNumber,  
           NF.DC_SERIE AS invoiceSerie,  
           NF.DT_EMISSAO_NOTA_FISCAL AS invoiceDate,  
           NF.DC_CHAVE_ACESSO_NFE AS invoiceAccessKey,  
           NF.ID_SITUACAO_NOTA_FISCAL AS invoiceStatus  
    FROM TB_NOTA_FISCAL NF WITH(NOLOCK)  
    WHERE NF.ID_SITUACAO_NOTA_FISCAL > 1  
      AND NF.ID_TIPO_NOTA_FISCAL = 2  
      AND NF.NM_PEDIDO = PD.NM_PEDIDO  
    ORDER BY NF.CD_NOTA_FISCAL DESC  
) AS InvoiceData
GO
