SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_IndicadorInserePessoaIndicador]
	@CD_INDICADOR numeric (18, 0),
	@DC_INDICADOR	VARCHAR(80),
	@DC_OBS			VARCHAR(2000),
	@DC_TIPO_FUNCAO VARCHAR(1),
	@ID_STATUS_INDICADOR	INT,

	@ID_TP_INDICADOR	INT,
	@ID_CALC_INDICADOR	INT,
	@ID_MOSTRA_INDICADOR_TELA	INT,
	@ID_MOMENTO_CALC_INDICADOR	INT,
	@ID_MOSTRA_INDICADOR_METRICA	INT,
	@ID_MOSTRA_INDICADOR_CALCULO	INT,
	@ID_UTILIZA_META_PESSOAL	INT,
	@ID_MOSTRA_INDICADOR_CADASTRO_PROM	INT,
	@ID_MMN_ESTRATEGICO	INT,
	@ID_MOSTRA_INDICADOR_CADASTRO_REGRA_COMERCIAL	INT,
	@ID_MOSTRA_CADASTRO_META	INT, 	 

	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS

BEGIN TRY
  SELECT @VAR_RETORNO        = 0
  SELECT @DC_ERRO            = ''
  SELECT @QT_LINHAS_AFETADAS = 0
  
  IF @CD_INDICADOR = 0 
  BEGIN
	SELECT @CD_INDICADOR = ISNULL(MAX(CD_INDICADOR_PESSOAL)+1,5000) 
	  FROM TB_INDICADOR_PESSOAL WITH(NOLOCK)
	 WHERE CD_INDICADOR_PESSOAL >= 5000
  END

  IF @DC_TIPO_FUNCAO = 'I'
  BEGIN
	INSERT INTO TB_INDICADOR_PESSOAL (
				CD_INDICADOR_PESSOAL ,
				DC_INDICADOR_PESSOAL,
				DC_OBS,
				ID_INDICADOR_PESSOAL,
				ID_TIPO_INDICADOR,
				ID_CALCULA_INDICADOR,
				ID_MOSTRA_INDICADOR_TELA,
				ID_MOMENTO_CALCULO_INDICADOR,
				ID_MOSTRA_INDICADOR_METRICA,
				ID_MOSTRA_INDICADOR_CALCULO,
				ID_UTILIZA_META_PESSOAL,
				ID_MOSTRA_INDICADOR_CADASTRO_PROMOCAO,
				ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO,
				ID_MOSTRA_INDICADOR_CADASTRO_REGRA_COMERCIAL,
				ID_MOSTRA_CADASTRO_META)
	VALUES     (
				@CD_INDICADOR,
				@DC_INDICADOR,
				@DC_OBS,
				@ID_STATUS_INDICADOR,
				@ID_TP_INDICADOR,
				@ID_CALC_INDICADOR,
				@ID_MOSTRA_INDICADOR_TELA,
				@ID_MOMENTO_CALC_INDICADOR,
				@ID_MOSTRA_INDICADOR_METRICA,
				@ID_MOSTRA_INDICADOR_CALCULO,
				@ID_UTILIZA_META_PESSOAL,
				@ID_MOSTRA_INDICADOR_CADASTRO_PROM,
				@ID_MMN_ESTRATEGICO,
				@ID_MOSTRA_INDICADOR_CADASTRO_REGRA_COMERCIAL,
				@ID_MOSTRA_CADASTRO_META
				)

  END	

  IF @DC_TIPO_FUNCAO = 'A'
  BEGIN
	UPDATE TB_INDICADOR_PESSOAL  
	SET 	DC_OBS       = @DC_OBS,
			ID_INDICADOR_PESSOAL = @ID_STATUS_INDICADOR,
			DC_INDICADOR_PESSOAL = @DC_INDICADOR,
			ID_TIPO_INDICADOR = @ID_TP_INDICADOR,
			ID_CALCULA_INDICADOR = @ID_CALC_INDICADOR,
			ID_MOSTRA_INDICADOR_TELA = @ID_MOSTRA_INDICADOR_TELA,
			ID_MOMENTO_CALCULO_INDICADOR = @ID_MOMENTO_CALC_INDICADOR,
			ID_MOSTRA_INDICADOR_METRICA = @ID_MOSTRA_INDICADOR_METRICA,
			ID_MOSTRA_INDICADOR_CALCULO = @ID_MOSTRA_INDICADOR_CALCULO,
			ID_UTILIZA_META_PESSOAL = @ID_UTILIZA_META_PESSOAL,
			ID_MOSTRA_INDICADOR_CADASTRO_PROMOCAO = @ID_MOSTRA_INDICADOR_CADASTRO_PROM,
			ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO = @ID_MMN_ESTRATEGICO,
			ID_MOSTRA_INDICADOR_CADASTRO_REGRA_COMERCIAL = @ID_MOSTRA_INDICADOR_CADASTRO_REGRA_COMERCIAL,
			ID_MOSTRA_CADASTRO_META = @ID_MOSTRA_CADASTRO_META

  	WHERE  	CD_INDICADOR_PESSOAL    = @CD_INDICADOR
  END

  IF @DC_TIPO_FUNCAO = 'E'
  BEGIN
	UPDATE TB_INDICADOR_PESSOAL  
	SET 	ID_INDICADOR_PESSOAL       = @ID_STATUS_INDICADOR
  	WHERE  	CD_INDICADOR_PESSOAL    = @CD_INDICADOR
  END

  SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
