SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_ELLAS]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS


/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO
ID_Evento = 8 - CADASTRO DE PESSOA
*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0),
	@NM_CICLO_INICIO       NUMERIC(18,0)

DECLARE @VL_INDICADOR_PESSOAL_1002 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1003 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1006 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1008 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1009 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1011 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1016 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1020 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1015 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1029 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1031 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1022 NUMERIC(18,2)



DECLARE @COUNT_ELEGIVEL          INT


BEGIN TRY
  
	SELECT @QT_LINHAS_AFETADAS = 0
	
	IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
		BEGIN

			-- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
			SELECT	@CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
					@CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO,
					@NM_CICLO_INICIO     = NM_CICLO_INICIO
			FROM TB_PESSOA_RESUMO A  with(nolock)
			WHERE A.CD_PESSOA  = @CD_PESSOA
			AND   A.CD_FUNCAO  = @CD_FUNCAO 

			--******************************************************************************
			-- VALOR DE COMPRAS PESSOAIS (MAIOR PEDIDO)
			--******************************************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 

			IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_CONTADOR = ISNULL(MAX(C.VALOR),0) 
					FROM (
							SELECT SUM(B.VL_TABELA_TOTAL) VALOR
							FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
 							WHERE A.CD_PESSOA                = @CD_PESSOA
 							AND   A.CD_FUNCAO                = @CD_FUNCAO
							--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
							AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
							AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
							AND   A.NM_PEDIDO                = B.NM_PEDIDO
							--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
							AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
							AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
							AND   B.ID_PRODUTO_COBRADO = 1
					GROUP BY B.NM_PEDIDO) C

					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR  with(nolock)
					WHERE CD_PESSOA          = @CD_PESSOA
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 1001
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
					IF (@EXISTE_REGISTRO     = 0)
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											1001,
											@VL_CONTADOR,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
								@CD_FUNCAO,
								@CD_EST_COMERCIAL,
								@NM_CICLO,
								1001,
								@VL_CONTADOR,
								@CD_USUARIO,
								'A',
								0,
								'',
								0  
   						END
				END

		    --******************************************************************************
			-- VALOR DE COMPRAS PESSOAIS
			--******************************************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
			
			IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT @VL_INDICADOR_PESSOAL_1002 = isnull(SUM(B.VL_TABELA_TOTAL),0)
					FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
					WHERE A.CD_PESSOA                = @CD_PESSOA
					AND   A.CD_FUNCAO                = @CD_FUNCAO
					--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
					AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
					AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
					AND   A.NM_PEDIDO                = B.NM_PEDIDO
					--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
					--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
					AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
					AND   B.ID_PRODUTO_COBRADO = 1

			        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR  with(nolock)
					WHERE CD_PESSOA          = @CD_PESSOA
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 1002
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
					IF (@EXISTE_REGISTRO     = 0)
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
								@CD_FUNCAO,
								@CD_EST_COMERCIAL,
								@NM_CICLO,
								1002,
								@VL_INDICADOR_PESSOAL_1002,
								@CD_USUARIO,
								'I',
								0,
								'',
								0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
								@CD_FUNCAO,
								@CD_EST_COMERCIAL,
								@NM_CICLO,
								1002,
								@VL_INDICADOR_PESSOAL_1002,
								@CD_USUARIO,
								'A',
								0,
								'',
								0  
   						END
				END


		  --******************************************************************************
		  -- VALOR DE VENDAS (LV) PESSOAIS
		  --******************************************************************************
		  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
		  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
		  
		  IF @CALCULA_INDICADOR = 1
			BEGIN		
				SELECT @VL_INDICADOR_PESSOAL_1003 = isnull(SUM(B.VL_TABELA_TOTAL),0)
				FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
				WHERE A.CD_RV_INDICANTE          = @CD_PESSOA
				AND   A.CD_FUNCAO                = 1
				--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
				AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
				AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
				AND   A.NM_PEDIDO                = B.NM_PEDIDO
				--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
				--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
				AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0

				-- VERIFICA SE EXISTE O REGISTRO
				SELECT @EXISTE_REGISTRO = COUNT(*)
				FROM TB_PESSOA_INDICADOR  with(nolock)
				WHERE CD_PESSOA          = @CD_PESSOA
				AND CD_FUNCAO            = @CD_FUNCAO
				AND CD_INDICADOR_PESSOAL = 1003
				AND NM_CICLO             = @NM_CICLO
				AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
				IF (@EXISTE_REGISTRO     = 0)
					BEGIN
						EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									1003,
									@VL_INDICADOR_PESSOAL_1003,
									@CD_USUARIO,
									'I',
									0,
									'',
									0
					END
				ELSE
					BEGIN
						EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									1003,
									@VL_INDICADOR_PESSOAL_1003,
									@CD_USUARIO,
									'A',
									0,
									'',
									0  
   					END
			END

		--******************************************************************************
		-- VALOR DE COMPRAS E VENDAS (LV) PESSOAIS - 1004
		--******************************************************************************
		-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
		SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      
		IF @CALCULA_INDICADOR = 1
			BEGIN		
		
				SELECT @VL_CONTADOR = (@VL_INDICADOR_PESSOAL_1002 + @VL_INDICADOR_PESSOAL_1003) 

				-- VERIFICA SE EXISTE O REGISTRO
				SELECT @EXISTE_REGISTRO = COUNT(*)
				FROM TB_PESSOA_INDICADOR  with(nolock)
				WHERE CD_PESSOA          = @CD_PESSOA
				AND CD_FUNCAO            = @CD_FUNCAO
				AND CD_INDICADOR_PESSOAL = 1004
				AND NM_CICLO             = @NM_CICLO
				AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
				IF (@EXISTE_REGISTRO     = 0)
					BEGIN
						EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									1004,
									@VL_CONTADOR,
									@CD_USUARIO,
									'I',
									0,
									'',
									0
					END
				ELSE
					BEGIN
						EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
									@CD_FUNCAO,
									@CD_EST_COMERCIAL,
									@NM_CICLO,
									1004,
									@VL_CONTADOR,
									@CD_USUARIO,
									'A',
									0,
									'',
									0  
   					END
			END

      --******************************************************************************
      -- PESSOA ATIVA PAPEL MAIOR OU IGUAL A BELLA NO CICLO - 1005
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(DISTINCT A.CD_PESSOA)
        FROM  TB_PEDIDO      A  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO   IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
	AND   A.CD_PAPEL_CARREIRA        > 1 -- não incluir as E-LOVERs

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- TOTAL DE INDICAÇÕES ATIVAS NO CICLO - 1006
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = COUNT(A.CD_PESSOA)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	       (SELECT CD_PESSOA PESSOA
	        FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4) ) B  -- BELLAS
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO	
	AND A.CD_INDICADOR_PESSOAL    = 1005
        AND A.VL_INDICADOR_PESSOAL    > 0


        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1006
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END
	  
      --******************************************************************************
      -- TOTAL DE PESSOAS COM PEDIDO APROVADO CUMULATIVO NO GRUPO - 1007
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = COUNT(DISTINCT A.CD_PESSOA)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	       (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	        UNION
 	        SELECT CD_PESSOA PESSOA
	        FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4) ) B  -- BELLAS
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO               <= @NM_CICLO	
	AND A.CD_INDICADOR_PESSOAL    = 1005
        AND A.VL_INDICADOR_PESSOAL    > 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1007
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- TOTAL DE ATIVAS NO GRUPO - 1008
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_INDICADOR_PESSOAL_1008 = COUNT(A.CD_PESSOA)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  in (2,3,4) ) B  -- BELLAS
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO	
	  AND A.NM_CICLO                = @NM_CICLO	
	  AND A.CD_INDICADOR_PESSOAL    = 1005
          AND A.VL_INDICADOR_PESSOAL    > 0
	  
         

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1008
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_INDICADOR_PESSOAL_1008,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_INDICADOR_PESSOAL_1008,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
	
      END

      --******************************************************************************
      -- TOTAL DE CICLOS NA QUALIFICAÇÃO ATUAL - 1009
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_INDICADOR_PESSOAL_1009 = dbo.FN_MN_TOTAL_CICLOS_QUALIFICACAO_ATUAL_ELLAS (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_PAPEL_CARREIRA ) 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with (nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1009
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_INDICADOR_PESSOAL_1009,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_INDICADOR_PESSOAL_1009,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END
	  
      --******************************************************************************
      -- QDE DE CICLOS CONSECUTIVOS SEM CUMPRIR A META DE ATIVAS DE L'ELLA - 1010
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
 
        SELECT @VL_CONTADOR = dbo.FN_MN_QDE_CICLOS_SEM_META_ATIVAS_LELLAS_ELLAS (@CD_PESSOA, @NM_CICLO, @CD_FUNCAO, @CD_EST_COMERCIAL, 6, @CD_PAPEL_CARREIRA) 

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1010
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END
	  
      --******************************************************************************
      -- TOTAL DE CADASTROS NO GRUPO - 1011
      --****************************** ************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_INDICADOR_PESSOAL_1011  = COUNT (A.CD_PESSOA)
          FROM TB_PESSOA_RESUMO A  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4)) B
	  WHERE A.CD_PESSOA               = B.PESSOA
	  AND   A.CD_FUNCAO               = @CD_FUNCAO
	  AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) < 4

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1011
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_INDICADOR_PESSOAL_1011,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						 @VL_INDICADOR_PESSOAL_1011,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END


      --******************************************************************************
      -- PERCENTUAL DE ATIVIDADE NO GRUPO (TOTAL DE ATIVAS NO GRUPO / TOTAL DE CADASTROS NO GRUPO) - 1012
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1011,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1008 / @VL_INDICADOR_PESSOAL_1011) * 100
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1012
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END
	  

       --******************************************************************************
      -- TOTAL DE INDICAÇÕES COM 1o PEDIDO APROVADO NO CICLO - 1013
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	  SELECT @VL_CONTADOR =  COUNT(A.CD_PESSOA)
	  FROM TB_PESSOA_RESUMO A with(nolock)
	  WHERE A.CD_FUNCAO                       = @CD_FUNCAO
	  AND   A.CD_PESSOA_VINCULADA             = @CD_PESSOA
	  AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) = 1
          AND   EXISTS (SELECT * FROM TB_PESSOA_INDICADOR B with(nolock) 
	   		    WHERE B.CD_PESSOA = A.CD_PESSOA
			     AND B.CD_FUNCAO              = @CD_FUNCAO	
			    AND B.NM_CICLO                = @NM_CICLO	
			    AND B.CD_INDICADOR_PESSOAL    = 1005
        		    AND B.VL_INDICADOR_PESSOAL    > 0     )     
          AND  NOT EXISTS (SELECT * FROM TB_PESSOA_INDICADOR B with(nolock) 
	   		    WHERE B.CD_PESSOA = A.CD_PESSOA
			     AND B.CD_FUNCAO              = @CD_FUNCAO	
			    AND B.NM_CICLO               <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)	
			    AND B.CD_INDICADOR_PESSOAL    = 1005
        		    AND B.VL_INDICADOR_PESSOAL    > 0 )
	  AND   A.CD_PAPEL_CARREIRA  > 1


          -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1013
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END


      --******************************************************************************
      -- L'ELLA ATINGIU A 1A VEZ A QUALIFICAÇÃO - 1014
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_CONTADOR = dbo.FN_MN_TORNOU_LELLA_ELLAS (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_PAPEL_CARREIRA) 

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT (*)
	  FROM TB_PESSOA_INDICADOR  with (nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1014
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END



      --******************************************************************************
      -- VALOR DE COMPRAS LIQUIDA NO GRUPO - 1015
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_INDICADOR_PESSOAL_1015 = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
          FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
                AND   CD_PAPEL_CARREIRA  IN (2,3,4)) C
          WHERE A.CD_PESSOA                = C.PESSOA
          AND   A.CD_FUNCAO                = @CD_FUNCAO
--        AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
          AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
          AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
          AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	  AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	  AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
          AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	  AND   A.CD_PAPEL_CARREIRA        > 1
	  AND   B.ID_PRODUTO_COBRADO = 1

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1015
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_INDICADOR_PESSOAL_1015,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_INDICADOR_PESSOAL_1015,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END


      --******************************************************************************
      -- QUALIFICAÇÃO CALCULADA - 1016
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        
  	  SELECT @VL_CONTADOR  = [dbo].[FN_MN_CALCULA_QUALIFICACAO_ELLAS] (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_EST_COMERCIAL)  

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1016
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

          --IF (@VL_CONTADOR IN (2,3,4)) -- B'ELLA (INICIO DA VERIFICACAO SE ESTA ELEGIVEL A L'ELLA)
	  IF (@CD_PAPEL_CARREIRA IN (2,3,4)) -- B'ELLA (INICIO DA VERIFICACAO SE ESTA ELEGIVEL A L'ELLA)
	  BEGIN
            -- VERIFICAR SE A PESSOA ESTÁ ELEGIVEL A L'ELLA SAFIRA
            SELECT @VL_INDICADOR_PESSOAL_1006 = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
            FROM TB_PESSOA_INDICADOR  with(nolock)
            WHERE CD_PESSOA          = @CD_PESSOA 
            AND CD_FUNCAO            = @CD_FUNCAO
            AND CD_INDICADOR_PESSOAL = 1006
            AND NM_CICLO             = DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,1)

            IF (@VL_INDICADOR_PESSOAL_1006 >= 5)
            BEGIN
              SELECT @COUNT_ELEGIVEL = COUNT(CD_PESSOA)
              FROM TB_MN_PESSOA_ELEGIVEL  with(nolock)			
              WHERE CD_PESSOA	    = @CD_PESSOA
              AND   CD_PAPEL	    = 5
              AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1)

              IF (@COUNT_ELEGIVEL = 0)
              BEGIN
		BEGIN TRANSACTION
                INSERT INTO TB_MN_PESSOA_ELEGIVEL (CD_PESSOA, CD_PAPEL, NM_CICLO_INICIO, NM_CICLO_FIM, 	ID_SITUACAO_ELEGIVEL) VALUES
  				    (@CD_PESSOA, 5, DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1), DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO,2), 1)
		COMMIT TRANSACTION	
              END   
            END
	    ELSE
	    BEGIN
	      BEGIN TRANSACTION
		DELETE TB_MN_PESSOA_ELEGIVEL
                WHERE CD_PESSOA	    = @CD_PESSOA
                AND   CD_PAPEL	    = 5
                AND   NM_CICLO_INICIO = DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, 1)
	      COMMIT TRANSACTION

	    END
       
	  END  -- FIM DA VERIFICACAO SE ESTA ELEGIVEL A L'ELLA
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        
      END

      --******************************************************************************
      -- RECONHECIMENTO CALCULADA - 1017
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1017,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        
  	  SELECT @VL_CONTADOR  = [dbo].[FN_MN_CALCULA_RECONHECIMENTO_ELLAS] (@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_EST_COMERCIAL)  

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1017
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
        
      END




      --******************************************************************************
      -- CADASTROS SEM 1o PEDIDO COMO BELLA NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1022,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_INDICADOR_PESSOAL_1022 = COUNT(C.CD_PESSOA)
	FROM TB_PESSOA_RESUMO C with(nolock)  
	WHERE C.CD_PESSOA_LIDERANCA               = @CD_PESSOA
	AND   C.CD_FUNCAO                         = @CD_FUNCAO
	AND   ISNULL(C.CD_SITUACAO_COMERCIAL,0) < 4
	AND   C.CD_PAPEL_CARREIRA                IN (2,3,4) 
	AND   NOT EXISTS (SELECT * FROM  TB_PEDIDO      A  with(nolock)
        		  WHERE A.CD_PESSOA                = C.CD_PESSOA
        		  AND   A.CD_FUNCAO                = @CD_FUNCAO
        		  AND   A.NM_CICLO_APROVACAO      >= C.NM_CICLO_INICIO
        		  AND   A.NM_CICLO_CANCELAMENTO   IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        		  AND   A.CD_PAPEL_CARREIRA       > 1)

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1022
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_INDICADOR_PESSOAL_1022,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1022,
						@VL_INDICADOR_PESSOAL_1022,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INICIOS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1023,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_CONTADOR = COUNT(C.CD_PESSOA)
	FROM TB_PESSOA_RESUMO C with(nolock)  
	WHERE C.CD_PESSOA_LIDERANCA               = @CD_PESSOA
	AND   C.CD_FUNCAO                         = @CD_FUNCAO
	AND   ISNULL(C.CD_SITUACAO_COMERCIAL,0) < 4
	AND   C.CD_PAPEL_CARREIRA                IN (2,3,4) 
	AND   EXISTS (SELECT * FROM  TB_PESSOA_INDICADOR    A  with(nolock)
        	      WHERE A.CD_PESSOA          = C.CD_PESSOA
	              AND A.CD_FUNCAO            = @CD_FUNCAO
	              AND A.NM_CICLO             = @NM_CICLO
		      AND A.CD_INDICADOR_PESSOAL = 1005
	              AND A.VL_INDICADOR_PESSOAL > 0)
	AND NOT EXISTS (SELECT * FROM  TB_PESSOA_INDICADOR    A  with(nolock)
        	        WHERE A.CD_PESSOA          = C.CD_PESSOA
	                AND A.CD_FUNCAO            = @CD_FUNCAO
	                AND A.NM_CICLO            <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
		        AND A.CD_INDICADOR_PESSOAL = 1005
	                AND A.VL_INDICADOR_PESSOAL > 0)
	

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1023
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1023,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- INATIVAS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1024,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4) ) B  -- BELLAS
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO	
	AND A.CD_INDICADOR_PESSOAL    = 1005
        AND A.VL_INDICADOR_PESSOAL    = 0
	AND     EXISTS (SELECT * FROM  TB_PESSOA_INDICADOR    A  with(nolock)
        	        WHERE A.CD_PESSOA          = B.PESSOA
	                AND A.CD_FUNCAO            = @CD_FUNCAO
	                AND A.NM_CICLO            <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
			AND A.NM_CICLO            >= @NM_CICLO_INICIO
		        AND A.CD_INDICADOR_PESSOAL = 1005
	                AND A.VL_INDICADOR_PESSOAL > 0)

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1024
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- DISPONIVEIS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1025,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_CONTADOR = COUNT(DISTINCT A.CD_PESSOA)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4) ) B  -- BELLAS
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO               <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)	
	AND A.NM_CICLO               >= @NM_CICLO_INICIO
	AND A.CD_INDICADOR_PESSOAL    = 1005
        AND A.VL_INDICADOR_PESSOAL    > 0
        AND EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C with(nolock) 
		    WHERE C.CD_PESSOA = A.CD_PESSOA
		    AND   C.NM_CICLO  = @NM_CICLO 
		    AND ISNULL(C.CD_SITUACAO_COMERCIAL,0) = 2)


        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1025
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- INDISPONIVEIS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1026,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_CONTADOR = COUNT(DISTINCT A.CD_PESSOA)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4) ) B  -- BELLAS
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO               <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)	
	AND A.NM_CICLO               >= @NM_CICLO_INICIO
	AND A.CD_INDICADOR_PESSOAL    = 1005
        AND A.VL_INDICADOR_PESSOAL    > 0
        AND EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C with(nolock) 
		    WHERE C.CD_PESSOA = A.CD_PESSOA
		    AND   C.NM_CICLO  = @NM_CICLO 
		    AND ISNULL(C.CD_SITUACAO_COMERCIAL,0) = 3)

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1026
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1026,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- A CESSAR NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1027,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
        FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA   > 1 ) B  -- BELLAS
	WHERE A.CD_PESSOA                     = B.PESSOA
	AND   A.NM_CICLO                      = @NM_CICLO
	AND   A.CD_SITUACAO_COMERCIAL_DETALHE  IN (
				select max(CD_SITUACAO_COMERCIAL_DETALHE) FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE with(nolock) 
		 		WHERE CD_SITUACAO_COMERCIAL  IN (2, 3)   )

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1027
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- CESSADAS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1028,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL), 0)
        FROM TB_PESSOA_INDICADOR  A  with(nolock)
        WHERE A.CD_PESSOA          = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO
	AND A.NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
	AND A.CD_INDICADOR_PESSOAL = 1027
	

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1028
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1028,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1028,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- PEDIDOS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1029,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_INDICADOR_PESSOAL_1029 = COUNT(A.NM_PEDIDO)
        FROM TB_PEDIDO A  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4) ) B  -- BELLAS
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO_APROVACAO      = @NM_CICLO	
	AND A.NM_CICLO_CANCELAMENTO   IS NULL
	AND A.CD_PAPEL_CARREIRA       > 1
	
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1029
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1029,
						@VL_INDICADOR_PESSOAL_1029,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1029,
						@VL_INDICADOR_PESSOAL_1029,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TICKET MEDIO NO GRUPO (VALOR DE COMPRAS LIQUIDA NO GRUPO  / PEDIDOS NO GRUPO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1030,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
  	SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1029,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1015 / @VL_INDICADOR_PESSOAL_1029)
	                         ELSE 0  END
	
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1030
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- ITENS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1031,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_INDICADOR_PESSOAL_1031 = isnull(SUM(B.QT_RESERVADA),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
                AND   CD_PAPEL_CARREIRA  IN (2,3,4)) C
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--      AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	AND   A.CD_PAPEL_CARREIRA        > 1
	AND   B.ID_PRODUTO_COBRADO = 1
	
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1031
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_INDICADOR_PESSOAL_1031,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1031,
						@VL_INDICADOR_PESSOAL_1031,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- ITENS POR PEDIDOS NO GRUPO (ITENS NO GRUPO / PEDIDOS NO GRUPO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1032,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
  	SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1029,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1031 / @VL_INDICADOR_PESSOAL_1029)
	                         ELSE 0  END
	
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1032
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- ITENS POR BELLAS NO GRUPO (ITENS NO GRUPO / TOTAL DE ATIVAS NO GRUPO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1033,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
  	SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1008,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1031 / @VL_INDICADOR_PESSOAL_1008)
	                         ELSE 0  END
	
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1033
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- PEDIDOS POR BELLAS - REPIQUE NO GRUPO (PEDIDOS NO GRUPO / TOTAL DE ATIVAS NO GRUPO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1034,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
  	SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1008,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1029 / @VL_INDICADOR_PESSOAL_1008)
	                         ELSE 0  END
	
        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1034
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1034,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- COMPRA BRUTA NO GRUPO (TOTAL DE VENDAS REVENDA)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1035,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
  	SELECT @VL_CONTADOR = isnull(SUM(B.VL_TABELA_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
                AND   CD_PAPEL_CARREIRA  IN (2,3,4)) C
        WHERE A.CD_PESSOA                = C.PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--      AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	AND   A.CD_PAPEL_CARREIRA        > 1
	AND   B.ID_PRODUTO_COBRADO = 1

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1035
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1035,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- TAMANHO NO GRUPO (TOTAL DE CADASTROS NO GRUPO - CADASTROS SEM 1o PEDIDO COMO BELLA NO GRUPO) 
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1036,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
  	SELECT @VL_CONTADOR = (@VL_INDICADOR_PESSOAL_1011 - @VL_INDICADOR_PESSOAL_1022)

	IF (@VL_CONTADOR < 0)
	BEGIN
	  SELECT @VL_CONTADOR = 0
	END

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1036
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1036,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- VALOR DE VENDAS (LV) DAS BELLAS / LELLAS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1037,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF (@CALCULA_INDICADOR = 1 AND @CD_PAPEL_CARREIRA >= 5)
      BEGIN		
        
        SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      (SELECT @CD_PESSOA PESSOA
		WHERE @CD_PAPEL_CARREIRA >= 5
 	       UNION
 	       SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4) ) B  -- BELLAS
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO	
	AND A.CD_INDICADOR_PESSOAL    = 1003

        -- VERIFICA SE EXISTE O REGISTRO
        SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1037
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1037,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1037,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


    END -- fim EVENTO = 6


	IF (@ID_EVENTO in (6,8)) -- FIM DIA = QUALIFICAÇÃO / CADASTRO
		BEGIN

			--******************************************************************************
			-- COMPROU O KIT INÍCIO - 1020
			--******************************************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1020,@ID_MOMENTO_CALCULO_INDICADOR) 
			
			IF @CALCULA_INDICADOR = 1
				BEGIN		
        
  					SELECT @VL_INDICADOR_PESSOAL_1020 = COUNT(DISTINCT A.CD_PESSOA)
					FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
					WHERE A.CD_PESSOA                = @CD_PESSOA
					AND   A.CD_FUNCAO                = @CD_FUNCAO
					AND   A.NM_CICLO_APROVACAO       <= @NM_CICLO
					AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
					AND   A.NM_PEDIDO                = B.NM_PEDIDO
					--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
					--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
					AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
					AND   B.CD_PRODUTO_VENDA  IN (1)   -- PRECISA O CÓDIGO DO KIT INICIO

					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR  with(nolock)
					WHERE CD_PESSOA          = @CD_PESSOA
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 1020
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
					IF (@EXISTE_REGISTRO     = 0)
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
								@CD_FUNCAO,
								@CD_EST_COMERCIAL,
								@NM_CICLO,
								1020,
								@VL_INDICADOR_PESSOAL_1020,
								@CD_USUARIO,
								'I',
								0,
								'',
								0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											1020,
											@VL_INDICADOR_PESSOAL_1020,
											@CD_USUARIO,
											'A',
											0,
											'',
											0  
   						END
				END


			--******************************************************************************
			-- KIT INÍCIO DISPONÍVEL - 1021
			--******************************************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1021,@ID_MOMENTO_CALCULO_INDICADOR) 
      
			IF @CALCULA_INDICADOR = 1
				BEGIN		
        
					--IF (@VL_INDICADOR_PESSOAL_1009 <= 3 AND @VL_INDICADOR_PESSOAL_1020 = 0)

					IF ( [dbo].[FN_MN_TOTAL_CICLOS_MAIOR_ELOVER_ELLAS]  (@CD_PESSOA, @NM_CICLO,@CD_FUNCAO, 2) <= 3 AND @VL_INDICADOR_PESSOAL_1020 = 0)

						BEGIN
							SELECT @VL_CONTADOR = 1  -- KIT INICIO DISPONIVEL
						END
					ELSE
						BEGIN
							SELECT @VL_CONTADOR = 0  -- KIT INICIO NÃO DISPONIVEL
						END

					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR  with(nolock)
					WHERE CD_PESSOA          = @CD_PESSOA
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 1021
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
					IF (@EXISTE_REGISTRO     = 0)
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
								@CD_FUNCAO,
								@CD_EST_COMERCIAL,
								@NM_CICLO,
								1021,
								@VL_CONTADOR,
								@CD_USUARIO,
								'I',
								0,
								'',
								0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
								@CD_FUNCAO,
								@CD_EST_COMERCIAL,
								@NM_CICLO,
								1021,
								@VL_CONTADOR,
								@CD_USUARIO,
								'A',
								0,
								'',
								0  
   						END
				END
		END

--    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
