SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaAlteraFuncao]
	@P_CODIGOPESSOA				NUMERIC(18,0),  -- parametro obrigatorio
	@P_CODIGOFUNCAO				NUMERIC(18,0),  -- parametro obrigatorio (nova funcao)
	@P_NUMEROCICLO				NUMERIC(18,0),  -- parametro obrigatorio
	@P_CODIGOESTCOMERCIAL		NUMERIC(18,0),  -- parametro obrigatorio
	@P_CODIGOUSUARIO			NUMERIC(18,0),   -- parametro obrigatorio
	@P_CODIGOERRO				INT OUTPUT,
	@P_DESCRICAOERRO			VARCHAR(4000) OUTPUT,
	@P_LINHASAFETADAS			INT OUTPUT

AS

BEGIN TRY

	DECLARE
		@V_CODIGOPESSOAINDICANTE	NUMERIC(18,0),
		@V_CODIGOPESSOALIDERANCA	NUMERIC(18,0),
		@V_CODIGOPAPELBASE			NUMERIC(18,0),
		@V_QTD_INDICADOS			INT

	BEGIN 

		SELECT @P_CODIGOERRO = 0
		SELECT @P_DESCRICAOERRO = ''
		SELECT @P_LINHASAFETADAS = 0

		
		-- **************************************************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON 
		-- CENARIO - ASOS
		-- CN QUE VIRA CF MAS POSSUI INDICADOS - ISSO BAGUNÇA A TOPOLOGIA DA REDE COMO UM TODO
		-- POR ENQUANTO VAMOS VERIFICAR SE A PESSOA POSSUI INDICADOS ABAIXO
		-- EM CASO POSITIVO VAMOS SAIR DA ROTINA E INFORMAR QUE A ALTERAÇÃO DEVERÁ SE FEITA MANUALMENTE PELA ATS
		-- **************************************************************************************************************
		SELECT @V_QTD_INDICADOS = COUNT(*) 
		FROM TB_PESSOA_RESUMO
		WHERE CD_PESSOA_VINCULADA = @P_CODIGOPESSOA

		IF @V_QTD_INDICADOS > 0 
			BEGIN
				SELECT @P_CODIGOERRO = 1
				SELECT @P_DESCRICAOERRO = 'Não é possíuvel alterar a função pois possui pessoas abaixo. Contate o administrador.'
				RETURN
			END


		-- **************************************************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 28/07/2020
		-- CENARIO DE PROBLEMA: PESSOA TEM DUAS FUNÇÕES (EXEMPLO: CF E FV)
		-- AS QUERYS ABAIXO NÃO FAZIAM O TRATAMENTO DE FUNÇÃO ANTIGA E ASSIM RETORNAVA VARIAS LINHAS E DAVA UM PROBLEMA
		-- *************************************************************************************************************
	
		-- BUSCA O INDICANTE DO CF
		SELECT 	@V_CODIGOPESSOAINDICANTE = CD_PESSOA_VINCULADA
		FROM TB_PESSOA_RESUMO
		WHERE CD_PESSOA = @P_CODIGOPESSOA
		AND CD_FUNCAO = (SELECT CASE @P_CODIGOFUNCAO WHEN 1 THEN 2 WHEN 2 THEN 1 ELSE 2 END)

		-- BUSCA A PESSOA LIDERANCA DO INDICANTE
		SELECT @V_CODIGOPESSOALIDERANCA  = CD_PESSOA_LIDERANCA
 		FROM TB_PESSOA_RESUMO
		WHERE CD_PESSOA = @V_CODIGOPESSOAINDICANTE
		AND CD_FUNCAO = (SELECT CASE @P_CODIGOFUNCAO WHEN 1 THEN 2 WHEN 2 THEN 1 ELSE 2 END)

		-- BUSCA O PAPEL BASE
		SELECT @V_CODIGOPAPELBASE = ISNULL(CD_PAPEL_CARREIRA,1) 
		FROM TB_PAPEL_CARREIRA
		WHERE CD_FUNCAO = @P_CODIGOFUNCAO AND ID_PRIMEIRO_NIVEL = 1

		-- ATUALIZA AS TABELAS ENVOLVIDAS (ALTERACAO DA FUNCAO CF P/ CN)
		UPDATE TB_PESSOA_INDICADOR SET CD_EST_COMERCIAL = @P_CODIGOESTCOMERCIAL,
						CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						DT_ATUALIZACAO = GETDATE()
			WHERE CD_PESSOA = @P_CODIGOPESSOA AND NM_CICLO = @P_NUMEROCICLO           

		-- ATUALIZAÇÃO POR DIEGO ZILIOTI EM 12/09/2022 - CORREÇÃO BITRIX #4055
		-- A FUNÇÃO PRECISA SER ATUALIZADA NESTE PONTO TAMBÉM, ESTAVA GERANDO UM ERRO AO ATUALIZAR O CADASTRO Q LIMPAVA OS PAPÉIS AO NÃO ENCONTRAR ALOCAÇÃO NA FUNÇÃO NOVA
		UPDATE TB_ALOCACAO_REDE SET CD_EST_COMERCIAL = @P_CODIGOESTCOMERCIAL ,
						CD_FUNCAO = @P_CODIGOFUNCAO,
						CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						DT_ATUALIZACAO = GETDATE()
			WHERE CD_PESSOA =  @P_CODIGOPESSOA 
			-- é preciso adaptar esta proc para passar a função que está sendo alterada pois quando existir mais de uma função para a pessoa dará erro neste update
			AND CD_FUNCAO = (SELECT CASE @P_CODIGOFUNCAO WHEN 1 THEN 2 WHEN 2 THEN 1 ELSE 2 END)

		UPDATE TB_PESSOA SET CD_PESSOA_INDICANTE = @V_CODIGOPESSOAINDICANTE, 
				CD_ESTRUTURA_COMERCIAL = @P_CODIGOESTCOMERCIAL,
						CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						DT_ATUALIZACAO = GETDATE()    
			WHERE CD_PESSOA =  @P_CODIGOPESSOA 

		UPDATE TB_PESSOA_RESUMO SET CD_FUNCAO = @P_CODIGOFUNCAO, 
						CD_EST_COMERCIAL = @P_CODIGOESTCOMERCIAL, 
						CD_PAPEL_CARREIRA = @V_CODIGOPAPELBASE, 
						CD_PAPEL_DESEMPENHO = @V_CODIGOPAPELBASE, 
						CD_PESSOA_VINCULADA = @V_CODIGOPESSOAINDICANTE , 
						CD_PESSOA_LIDERANCA = @V_CODIGOPESSOALIDERANCA,
						CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						DT_ATUALIZACAO = GETDATE()  
			WHERE CD_PESSOA =  @P_CODIGOPESSOA 
			-- ****************************************************
			-- Paliativo incluído em 08/01/2020 por Diego Zilioti
			-- é preciso adaptar esta proc para passar a função que está sendo alterada pois quando existir mais de uma função para a pessoa dará erro neste update
			AND CD_FUNCAO = (SELECT CASE @P_CODIGOFUNCAO WHEN 1 THEN 2 WHEN 2 THEN 1 ELSE 2 END)


		DELETE TB_PESSOA_VINCULO_HISTORICO WHERE CD_PESSOA =  @P_CODIGOPESSOA 
			-- ****************************************************
			-- Paliativo incluído em 08/01/2020 por Diego Zilioti
			-- é preciso adaptar esta proc para passar a função que está sendo alterada pois quando existir mais de uma função para a pessoa dará erro neste update
			AND CD_FUNCAO = (SELECT CASE @P_CODIGOFUNCAO WHEN 1 THEN 2 WHEN 2 THEN 1 ELSE 2 END)


		UPDATE TB_HIST_SITUACAO_CONSULTORA SET CD_EST_COMERCIAL = @P_CODIGOESTCOMERCIAL,
						CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						DT_ATUALIZACAO = GETDATE()  
			WHERE CD_PESSOA =  @P_CODIGOPESSOA 

		UPDATE TB_PESSOA_FUNCAO SET CD_FUNCAO = @P_CODIGOFUNCAO,
						CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						DT_ATUALIZACAO = GETDATE()           
			WHERE  CD_PESSOA =  @P_CODIGOPESSOA 
			-- ****************************************************
			-- Paliativo incluído em 08/01/2020 por Diego Zilioti
			-- é preciso adaptar esta proc para passar a função que está sendo alterada pois quando existir mais de uma função para a pessoa dará erro neste update
			AND CD_FUNCAO = (SELECT CASE @P_CODIGOFUNCAO WHEN 1 THEN 2 WHEN 2 THEN 1 ELSE 2 END)


		DELETE TB_PESSOA_PAPEL_HISTORICO 
			WHERE CD_PESSOA = @P_CODIGOPESSOA 
			-- ****************************************************
			-- Paliativo incluído em 08/01/2020 por Diego Zilioti
			-- é preciso adaptar esta proc para passar a função que está sendo alterada pois quando existir mais de uma função para a pessoa dará erro neste update
			and cd_funcao = (select case @P_CODIGOFUNCAO when 1 then 2 when 2 then 1 else 2 end)
			AND NM_CICLO = @P_NUMEROCICLO

		INSERT INTO TB_PESSOA_PAPEL_HISTORICO (CD_PESSOA,CD_FUNCAO,NM_CICLO,CD_PAPEL_CARREIRA,CD_PAPEL_DESEMPENHO)
			VALUES ( @P_CODIGOPESSOA ,@P_CODIGOFUNCAO,@P_NUMEROCICLO,@V_CODIGOPAPELBASE,@V_CODIGOPAPELBASE)

		DELETE TB_PESSOA_PAPEL_HIST_DATA WHERE CD_PESSOA =  @P_CODIGOPESSOA 
		-- ****************************************************
			-- Paliativo incluído em 08/01/2020 por Diego Zilioti
			-- é preciso adaptar esta proc para passar a função que está sendo alterada pois quando existir mais de uma função para a pessoa dará erro neste update
			and cd_funcao = (select case @P_CODIGOFUNCAO when 1 then 2 when 2 then 1 else 2 end)
			AND NM_CICLO = @P_NUMEROCICLO

		INSERT INTO TB_PESSOA_PAPEL_HIST_DATA (DT_CADASTRO,CD_PESSOA,CD_FUNCAO,NM_CICLO,CD_PAPEL_DESEMPENHO)
			VALUES (GETDATE(), @P_CODIGOPESSOA  ,@P_CODIGOFUNCAO,@P_NUMEROCICLO,@V_CODIGOPAPELBASE)

		
		-- *************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - DIA 05/02/2020
		-- AO INSERIR NA TB_PESSOA_PAPEL_HIST_DATA VAMOS A CHAMAR A PROC ABAIXO
		-- PARA GRAVAR O HISTORICO POR DATA COMPLETO		
		-- *************************************************************************
	
		EXEC SP_CAD_PESSOA_PAPEL_HISTORICO_COMPLETO
			@P_CODIGOPESSOA,
			@P_CODIGOFUNCAO,
			@V_CODIGOPAPELBASE,		--@CD_PAPEL_DESEMPENHO,
			0,						--@CD_PAPEL_CARREIRA
			0,						--@VAR_RETORNO				INT OUTPUT,
			'',						--@DC_ERRO					NVARCHAR(MAX) OUTPUT,
			0						--@QT_LINHAS_AFETADAS			INT OUTPUT
	
		-- *************************************************************************
		-- FIM		
		-- *************************************************************************

		-- CHAMA A PROCEDURE CRIA A REDE DA PESSOA NA FUNCAO NOVA
		IF (isnull(@V_CODIGOPESSOAINDICANTE,0) > 0)
			BEGIN
				EXEC pr_MNAtualizaIndicante
					@V_CODIGOPESSOAINDICANTE,
					@P_CODIGOPESSOA ,
					@P_CODIGOFUNCAO,
					@P_NUMEROCICLO, 
					@P_CODIGOUSUARIO,   
					@P_CODIGOERRO OUTPUT,
					@P_DESCRICAOERRO OUTPUT,
					@P_LINHASAFETADAS OUTPUT
			END


		-- *************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - DIA 04/08/2021
		-- IDENTIFICAMOS QUE QUANDO A PESSOA É CF O SISTEMA NÃO GRAVA O TB_HIST_SITUACAO_CONSULTORA (QUE ESTA CORRETO)
		-- ENTRETANTO QUANDO PRECISA ALTERAR DE CF PARA CN OCORRE IMPACTOS NO FECHAMENTO, POIS SEM HISTORICO
		-- A SITUACAO COMERCIAL DA TB_PESSOA_RESUMO FICA IGUAL A NULL
		-- DESSA MANEIRA TEMOS QUE GRAVAR NA TABELA TB_HIST_SITUACAO_CONSULTORA	
		-- SOMENTE QUANDO FOR CONSULTORA	
		-- *************************************************************************
		IF @P_CODIGOFUNCAO = 2
			BEGIN
				EXEC pr_PessoaInsereHistoricoConsultora
					@P_CODIGOPESSOA,
					0,
					0, 
					@P_NUMEROCICLO,
					@P_CODIGOESTCOMERCIAL,
					@P_CODIGOUSUARIO,
	
					@P_CODIGOERRO			output,
					@P_DESCRICAOERRO		output,
				@P_LINHASAFETADAS		output
			END
		-- *************************************************************************
		-- FIM
		-- *************************************************************************

	END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
