SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaRegraComercialPoliticaEntrega]  
AS  
  
SELECT	PR.CD_REGRA_COMERCIAL,
		PE.CD_POLITICA_ENTREGA id,
		PE.DC_POLITICA_ENTREGA [name],
		PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA [type],
		PE.VL_FRETE [value],
		pe.NM_DIAS_ENTREGA [deliveryDays],
		CASE PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA WHEN 1 THEN (SELECT PEND.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PEND WITH(NOLOCK) WHERE ID_TIPO_ENDERECO = 3 AND CD_PESSOA = 
															 (SELECT CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = PE.CD_TRANSPORTADORA))
		ELSE NULL END [zipCode],
		CASE PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA WHEN 1 THEN (SELECT PEND.DC_ESTRUTURA_GEO1 FROM TB_PESSOA_ENDERECO PEND WITH(NOLOCK) WHERE ID_TIPO_ENDERECO = 3 AND CD_PESSOA = 
															 (SELECT CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = PE.CD_TRANSPORTADORA))
		ELSE NULL END [country],
		CASE PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA WHEN 1 THEN (SELECT PEND.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO PEND WITH(NOLOCK) WHERE ID_TIPO_ENDERECO = 3 AND CD_PESSOA = 
															 (SELECT CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = PE.CD_TRANSPORTADORA))
		ELSE NULL END [state],
		CASE PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA WHEN 1 THEN (SELECT PEND.DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO PEND WITH(NOLOCK) WHERE ID_TIPO_ENDERECO = 3 AND CD_PESSOA = 
															 (SELECT CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = PE.CD_TRANSPORTADORA))
		ELSE NULL END [city],
		CASE PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA WHEN 1 THEN (SELECT PEND.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PEND WITH(NOLOCK) WHERE ID_TIPO_ENDERECO = 3 AND CD_PESSOA = 
															 (SELECT CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = PE.CD_TRANSPORTADORA))
		ELSE NULL END [district],
		CASE PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA WHEN 1 THEN (SELECT PEND.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PEND WITH(NOLOCK) WHERE ID_TIPO_ENDERECO = 3 AND CD_PESSOA = 
															 (SELECT CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = PE.CD_TRANSPORTADORA))
		ELSE NULL END [street],
		CASE PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA WHEN 1 THEN (SELECT PEND.DC_NUMERO FROM TB_PESSOA_ENDERECO PEND WITH(NOLOCK) WHERE ID_TIPO_ENDERECO = 3 AND CD_PESSOA = 
															 (SELECT CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = PE.CD_TRANSPORTADORA))
		ELSE NULL END [number],
		CASE PE.ID_TIPO_ENTREGA_POLITICA_ENTREGA WHEN 1 THEN (SELECT PEND.DC_COMPLEMENTO FROM TB_PESSOA_ENDERECO PEND WITH(NOLOCK) WHERE ID_TIPO_ENDERECO = 3 AND CD_PESSOA = 
															 (SELECT CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = PE.CD_TRANSPORTADORA))
		ELSE NULL END [complement]
FROM TB_POLITICA_ENTREGA PE WITH(NOLOCK), TB_POLITICA_ENTREGA_REGRA_COMERCIAL PR WITH(NOLOCK)
WHERE PE.CD_POLITICA_ENTREGA = PR.CD_POLITICA_ENTREGA
GO
