SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PEDIDO_CONSOLIDA_ULTIMA_ATUALIZACAO]
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH src AS
    (
        SELECT
            V.NM_PEDIDO,
            V.DT_ULTIMA_ATUALIZACAO
        FROM dbo.VW_PEDIDO_ULTIMA_ATUALIZACAO AS V
    )
    MERGE dbo.TB_PEDIDO_ULTIMA_ATUALIZACAO AS tgt
    USING src
        ON  tgt.NM_PEDIDO = src.NM_PEDIDO

    /* Atualiza só se a data da view for mais recente                            */
    WHEN MATCHED AND src.DT_ULTIMA_ATUALIZACAO > tgt.DT_ULTIMA_ATUALIZACAO
        THEN UPDATE
             SET tgt.DT_ULTIMA_ATUALIZACAO = src.DT_ULTIMA_ATUALIZACAO

    /* Insere pedidos ainda inexistentes                                         */
    WHEN NOT MATCHED BY TARGET
        THEN INSERT (NM_PEDIDO, DT_ULTIMA_ATUALIZACAO)
             VALUES (src.NM_PEDIDO, src.DT_ULTIMA_ATUALIZACAO);
END
GO
