SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_MNRemuneracaoInsereRegraRemuneracao]
	@P_CD_REMUNERACAO numeric(18, 0),
	@P_DS_REMUNERACAO varchar(60),
	@P_ID_REGRA_CALCULO numeric(18, 0),
	@P_ID_EVENTO_PEDIDO numeric(18, 0),
	@P_CD_INDICADOR_PESSOAL numeric(18, 0),
	@P_ID_FORMA_PAGAMENTO_REMUNERACAO numeric(18, 0),
	@P_CD_PAPEL_INICIO_RECEBE_REMUNERACAO numeric(18, 0),
	@P_CD_PAPEL_FIM_RECEBE_REMUNERACAO numeric(18, 0),
	@P_ID_REGRA_PAPEL_RECEBE_REMUNERACAO numeric(18, 0),
	@P_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO numeric(18, 0),
	@P_CD_PAPEL_INICIO_PAGA_REMUNERACAO numeric(18, 0),
	@P_CD_PAPEL_FIM_PAGA_REMUNERACAO numeric(18, 0),
	@P_ID_REGRA_PAPEL_PAGA_REMUNERACAO numeric(18, 0),
	@P_ID_REGRA_NIVEL_GERACAO numeric(18, 0),
	@P_VL_NIVEL_GERACAO_INICIO numeric(18, 0),
	@P_VL_NIVEL_GERACAO_FIM numeric(18, 0),
	@P_ID_TIPO_REMUNERACAO numeric(18, 0),
	@P_VL_REMUMERACAO numeric(18, 2),
	@P_CD_REMUNERACAO_PRIORIDADE numeric(18, 0),
	@P_CD_PRODUTO numeric(18, 0),
	@P_ID_MULTIPLICA_QUANTIDADE int,
	@P_ID_SITUACAO_REMUNERACAO int,
	@P_ID_REGRA_ATIVA int,
	
	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoFuncao				VARCHAR(1),
		
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS
BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0


	IF @p_descricaoFuncao = 'I'
		BEGIN
			-- BUSCA PROXIMO CODIGO
			SELECT @p_codigoGerado = MAX(CD_REMUNERACAO) + 1
			FROM TB_MN_REGRA_REMUNERACAO

			INSERT INTO TB_MN_REGRA_REMUNERACAO(
				CD_REMUNERACAO,
				DS_REMUNERACAO,
				ID_REGRA_CALCULO,
				ID_EVENTO_PEDIDO,
				CD_INDICADOR_PESSOAL,
				ID_FORMA_PAGAMENTO_REMUNERACAO,
				CD_PAPEL_INICIO_RECEBE_REMUNERACAO,
				CD_PAPEL_FIM_RECEBE_REMUNERACAO,
				ID_REGRA_PAPEL_RECEBE_REMUNERACAO,
				ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO,
				CD_PAPEL_INICIO_PAGA_REMUNERACAO,
				CD_PAPEL_FIM_PAGA_REMUNERACAO,
				ID_REGRA_PAPEL_PAGA_REMUNERACAO,
				ID_REGRA_NIVEL_GERACAO,
				VL_NIVEL_GERACAO_INICIO,
				VL_NIVEL_GERACAO_FIM,
				ID_TIPO_REMUNERACAO,
				VL_REMUMERACAO,
				CD_REMUNERACAO_PRIORIDADE,
				CD_PRODUTO,
				ID_MULTIPLICA_QUANTIDADE,
				ID_SITUACAO_REMUNERACAO,
				ID_REGRA_ATIVA )
			VALUES (@p_codigoGerado,
				@P_DS_REMUNERACAO,
				@P_ID_REGRA_CALCULO,
				@P_ID_EVENTO_PEDIDO,
				@P_CD_INDICADOR_PESSOAL,
				@P_ID_FORMA_PAGAMENTO_REMUNERACAO,
				@P_CD_PAPEL_INICIO_RECEBE_REMUNERACAO,
				@P_CD_PAPEL_FIM_RECEBE_REMUNERACAO,
				@P_ID_REGRA_PAPEL_RECEBE_REMUNERACAO,
				@P_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO,
				@P_CD_PAPEL_INICIO_PAGA_REMUNERACAO,
				@P_CD_PAPEL_FIM_PAGA_REMUNERACAO,
				@P_ID_REGRA_PAPEL_PAGA_REMUNERACAO,
				@P_ID_REGRA_NIVEL_GERACAO,
				@P_VL_NIVEL_GERACAO_INICIO,
				@P_VL_NIVEL_GERACAO_FIM,
				@P_ID_TIPO_REMUNERACAO,
				@P_VL_REMUMERACAO,
				@P_CD_REMUNERACAO_PRIORIDADE,
				@P_CD_PRODUTO,
				@P_ID_MULTIPLICA_QUANTIDADE,
				@P_ID_SITUACAO_REMUNERACAO,
				@P_ID_REGRA_ATIVA)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
			END	
		
		IF @p_descricaoFuncao = 'A'
			BEGIN
				 
				UPDATE TB_MN_REGRA_REMUNERACAO
				SET	DS_REMUNERACAO            = @P_DS_REMUNERACAO   ,         
					ID_REGRA_CALCULO = @P_ID_REGRA_CALCULO ,
					ID_EVENTO_PEDIDO =   @P_ID_EVENTO_PEDIDO, 
					CD_INDICADOR_PESSOAL = @P_CD_INDICADOR_PESSOAL ,
					ID_FORMA_PAGAMENTO_REMUNERACAO = @P_ID_FORMA_PAGAMENTO_REMUNERACAO ,
					CD_PAPEL_INICIO_RECEBE_REMUNERACAO = @P_CD_PAPEL_INICIO_RECEBE_REMUNERACAO ,
					CD_PAPEL_FIM_RECEBE_REMUNERACAO = @P_CD_PAPEL_FIM_RECEBE_REMUNERACAO ,
					ID_REGRA_PAPEL_RECEBE_REMUNERACAO =  @P_ID_REGRA_PAPEL_RECEBE_REMUNERACAO ,
					ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO = @P_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO ,
					CD_PAPEL_INICIO_PAGA_REMUNERACAO = @P_CD_PAPEL_INICIO_PAGA_REMUNERACAO ,
					CD_PAPEL_FIM_PAGA_REMUNERACAO = @P_CD_PAPEL_FIM_PAGA_REMUNERACAO ,
					ID_REGRA_PAPEL_PAGA_REMUNERACAO = @P_ID_REGRA_PAPEL_PAGA_REMUNERACAO, 
					ID_REGRA_NIVEL_GERACAO = @P_ID_REGRA_NIVEL_GERACAO ,
					VL_NIVEL_GERACAO_INICIO = @P_VL_NIVEL_GERACAO_INICIO, 
					VL_NIVEL_GERACAO_FIM = @P_VL_NIVEL_GERACAO_FIM ,
					ID_TIPO_REMUNERACAO = @P_ID_TIPO_REMUNERACAO ,
					VL_REMUMERACAO = @P_VL_REMUMERACAO ,
					CD_REMUNERACAO_PRIORIDADE = @P_CD_REMUNERACAO_PRIORIDADE ,
					CD_PRODUTO = @P_CD_PRODUTO ,
					ID_MULTIPLICA_QUANTIDADE = @P_ID_MULTIPLICA_QUANTIDADE ,
					ID_SITUACAO_REMUNERACAO = @P_ID_SITUACAO_REMUNERACAO ,
					ID_REGRA_ATIVA =  @P_ID_REGRA_ATIVA 
				WHERE 	CD_REMUNERACAO = @P_CD_REMUNERACAO

				SELECT @p_linhasAfetadas = @@ROWCOUNT
			END
		IF @p_descricaoFuncao = 'E'
			BEGIN
				 
				DELETE FROM TB_MN_REGRA_REMUNERACAO
				WHERE 	CD_REMUNERACAO = @P_CD_REMUNERACAO

				SELECT @p_linhasAfetadas = @@ROWCOUNT
			END
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
