SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaVerificaIndicacaoEfetivada]
	@CD_PESSOA					NUMERIC(18,0),
	@CD_FUNCAO					INT,
	@ID_EVENTO					INT,
	
	@CD_USUARIO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS


DECLARE @PARAMETRO_SITUACAO_INDICACAO	INT,
		@SITUACAO_INDICACAO				INT,
		@PESSOA_INDICANTE				NUMERIC(18,0)


BEGIN TRY
	
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	    SELECT @VAR_RETORNO = 0		


		-- ***********************************************************************
		-- PRIMEIRA ETAPA: VERIFICA SE A PESSOA É UMA INDICANTE OU INDCADA
		-- ***********************************************************************

		SELECT @PESSOA_INDICANTE = CD_PESSOA_INDICANTE FROM TB_PESSOA
		WHERE CD_PESSOA = @CD_PESSOA

		-- SE FOR ZERO A PESSOA NÃO POSSUI INDICANTE
		-- E SE NO TIVER INDICANTE NÃO VAMOS ATUALIZAR A SITUAÇÃO

		IF @PESSOA_INDICANTE > 0
			BEGIN

				
		
				-- SE ESTIVER EFETIVADA NÃO MEXO MAIS
				-- SE TIVER COMO PENDENTE OU NULO GRAVO PENDENTE
				


		
					-- ********************************************************************
					-- ALTERAÇÃO FEITA POR ANDERSON - 03/01/2017
					-- FOI CRIADO UMA COLUNA CHAMADA ID_SITUACAO_INDICACAO
					-- NO QUAL VAMOS INFORMAR SE A INDICAÇÃO ESTA EFETIVADA OU PENDENTE
					-- PARA ISSO VAMOS VER EM QUE MOMENTO VAMOS GRAVAR 
					-- QUE A INDICAÇÃO É EFETIVADA
					-- ********************************************************************
					SELECT @PARAMETRO_SITUACAO_INDICACAO = VL_PARAMETRO
					FROM TB_VALOR_PARAMETRO
					WHERE CD_GRUPO_PARAMETRO = 1
					AND CD_PARAMETRO = 10
		
		
					-- ************************************
					-- SE O QUE ESTIVER CADASTRADO FOR IGUAL AO EVENTO QUE CHAMOU A PROCEDURE
					-- ENTÃO VAMOS EFETIVAR A INDICAÇÃO
					-- ************************************
					

	
			END

		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
