SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/**************************************************
Procedure criada por Anderson dia 14/11/2015
Essa procedure foi criada para recuperar pedidos que se encontram
Em Captacao
Ele muda o status do pedido que esta em captação para 
Pedido Abandonado e grava o historico
**************************************************/

CREATE PROCEDURE [dbo].[pr_PedidoRecuperaPedidoEmCaptacaoManualmente]
	@p_numeroPedido				NUMERIC(18,0),
	@p_origemPedido				Varchar(20),
	@p_codigoUsuario			NUMERIC(18,0),
	
	@p_codigoErro				int				output,
	@p_descricaoErro			varchar(1000)	output,
	@p_linhasAfetadas			int				output
	
AS

DECLARE @V_CONTADOR_REGISTROS INTEGER


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	
	
	-- ****************************************************************
	-- SE A ORIGEM FOR SISTEMA ADMINISTRATIVO
	-- ****************************************************************
	IF @p_origemPedido = 'ADMINISTRATIVO'
		BEGIN
			-- ALTERA STATUS DO PEDIDO NA TABELA TB_PEDIDO
			UPDATE TB_PEDIDO SET CD_EST_SITUACAO = 101 WHERE NM_PEDIDO = @p_numeroPedido
			

			-- VERIFICA SE A SITUACAO 1 - E CAPTACAO AINDA ESTA ABERTO
			SELECT @V_CONTADOR_REGISTROS = COUNT(*)
			FROM TB_PEDIDO_HISTORICO
			WHERE CD_EST_SITUACAO = 1
			AND NM_PEDIDO = @p_numeroPedido
			AND DT_FINAL IS NULL
		
			IF @V_CONTADOR_REGISTROS > 0 
				BEGIN
					-- GRAVA HISTORICO
					-- FECHA A SITUAÇÃO EM CAPTAÇÃO
					exec SP_GRAVA_HISTORICO_PEDIDO
						@p_numeroPedido,
						1, --situação
						2, -- inicio ou fim
						0, -- liberado pendencia
						'', -- motivo
						@p_codigoUsuario,
						0,
						'',
						0
				END
						
				-- GRAVA HISTORICO
				-- ABRE A SITUAÇÃO PEDIDO ABANDONADO
				exec SP_GRAVA_HISTORICO_PEDIDO
					@p_numeroPedido,
					101, -- pedido abandonado
					1, -- abre a situação
					0,
					'',
					@p_codigoUsuario,
					0,
					'',
					0
			
				
				
		END
				
	

	
	
	-- ****************************************************************
	-- SE A ORIGEM FOR LOJA VIRTUAL
	-- ****************************************************************
	IF @p_origemPedido = 'LV'
		BEGIN
			-- ALTERA STATUS DO PEDIDO NA TABELA TB_WRK_PEDIDO_TEMP
			UPDATE TB_WRK_PEDIDO_TEMP SET CD_EST_SITUACAO = 101 WHERE NM_PEDIDO_TEMP = @p_numeroPedido
			

			-- VERIFICA SE A SITUACAO 1 - E CAPTACAO AINDA ESTA ABERTO
			SELECT @V_CONTADOR_REGISTROS = COUNT(*)
			FROM TB_WRK_PEDIDO_TEMP_HISTORICO
			WHERE CD_EST_SITUACAO = 1
			AND NM_PEDIDO_TEMP = @p_numeroPedido
			AND DT_FINAL IS NULL
		
			IF @V_CONTADOR_REGISTROS > 0 
				BEGIN
					-- GRAVA HISTORICO
					-- FECHA A SITUAÇÃO EM CAPTAÇÃO
					exec pr_PedidoGravaHistoricoPedidoTemp
						@p_numeroPedido,
						1, --situação
						2, -- inicio ou fim
						'', -- motivo
						@p_codigoUsuario,
						0,
						'',
						0
				END
						
				-- GRAVA HISTORICO
				-- ABRE A SITUAÇÃO PEDIDO ABANDONADO
				exec pr_PedidoGravaHistoricoPedidoTemp
					@p_numeroPedido,
					101, -- pedido abandonado
					1, -- abre a situação
					'',
					@p_codigoUsuario,
					0,
					'',
					0
				
			
		END
	
	
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
