SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaInsereVinculo]
	@p_codigoPessoa NUMERIC(18,0),
	@p_codigoFuncao NUMERIC(18,0),
	@p_numeroCiclo  NUMERIC(18,0),	
	@p_codigoErro	INT OUTPUT,
	@p_descErro		NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas INT OUTPUT
	
AS

DECLARE @v_codigoPessoaVinculada				NUMERIC(18,0),
		@v_codigoPessoaAscendente				NUMERIC(18,0),
		@v_codigoPessoaVinculadaExistente		NUMERIC(18,0),
		@v_numeroNivel							INT,
        @v_codigoPessoaLideranca				NUMERIC(18,0),
		@v_codigoEstComercialLideranca			NUMERIC(18,0),
        @v_codigoPapelLideranca					INT,
        @v_codigoPapelPessoa					INT,
		@CD_CLIENTE								NUMERIC(18,0),
		@V_QTDREGISTROS							NUMERIC(18,0),
		@v_avaliaCoberturaGeografica			INT,
		@v_codigoEstruturaGeograficaResidencial	NUMERIC(18,0),
		@v_codigoPostal							VARCHAR(10)
BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0

	SELECT @CD_CLIENTE = VL_PARAMETRO
	  FROM TB_VALOR_PARAMETRO WITH (NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO = 1
	   AND CD_VALOR_PARAMETRO  = 1
	
	-- parâmetro que avalia a cobertura geográfica pros líderes
	SELECT @v_avaliaCoberturaGeografica = VL_PARAMETRO
	  FROM TB_VALOR_PARAMETRO WITH (NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 2
	   AND CD_PARAMETRO = 11
	   AND CD_VALOR_PARAMETRO  = 1

	-- VERIFICA VINCULO ATUAL DA PESSOA
	SELECT @v_codigoPessoaVinculada = isnull(min(CD_PESSOA_INDICANTE),0)
	  FROM TB_PESSOA WITH (NOLOCK)
	 WHERE CD_PESSOA = @p_codigoPessoa

	SELECT @v_codigoPessoaLideranca = 0 -- inicializa o codigo da liderança
	IF @v_codigoPessoaVinculada <> 0 
		BEGIN
	
			-- Primeiramente vamos verificar se já existe algum vínculo para o ciclo informado
			-- ALTERAÇÃO FEITA POR ANDERSON - 02/11/2017
			-- ESTAVA TENDO UM PROBLEMA AQUI QUANDO IAMOS EDITAR UMA PESSOA QUE ESTAVA DESATIVADA
			-- ISSO PORQUE QUANDO ELA É DESATIVADA MANTEM O REGISTRO NA TABELA TB_PESSOA_VINCULO_HISTORICO COM CD_PESSOA_VNCULADA = 0
			-- E NO TRECHO ABAIXO ISNULL ESTAVA COLOCANDO 0 PARA SITUAÇÕES QUE JA EXISTIAM REGISTROS E TAMBEM PARA OS QUE NÃO EXISTIAM
			-- E DAVA ERRO MAIS A FRENTE NA HORA DE INSERIR POIS NÃO PODIA INSERIR DOIS REGISTROS PARA O MESMO CICLO
			-- DESSA MANEIRA AO NÃO ENCONTRAR O REGISTRO MUDAMOS O CONTROLE DO ISNULL DE 0 PARA -1 (ASSIM FORÇA ELE A INSERIR O REGISTRO)
			SELECT @v_codigoPessoaVinculadaExistente = ISNULL(max(CD_PESSOA_VINCULADA),-1)
			  FROM TB_PESSOA_VINCULO_HISTORICO WITH (NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND CD_FUNCAO = @p_codigoFuncao
			   AND NM_CICLO = @p_numeroCiclo

			-- Verifica se o cliente tem o conceito de liderança
			SELECT @v_codigoPapelLideranca  = isnull(max(CD_PAPEL_INICIO_LIDERANCA),0)  -- 0 - não tem conceito de liderança
			FROM TB_MN_REGRA_GERAL  WITH (NOLOCK)

			IF (@v_codigoPapelLideranca > 0) -- tem o conceito de liderança
				BEGIN
					
					-- Busca a liderança da pessoa vinculada (patrocinadora)
					SELECT @v_codigoPessoaLideranca = CD_PESSOA_LIDERANCA,
						   @v_codigoPapelPessoa     = CD_PAPEL_CARREIRA,
						   @v_codigoEstComercialLideranca = CD_EST_COMERCIAL
					  FROM TB_PESSOA_RESUMO WITH (NOLOCK)
					 WHERE CD_PESSOA = @v_codigoPessoaVinculada
					   AND CD_FUNCAO = @p_codigoFuncao
					
					IF (@v_codigoPapelPessoa >= @v_codigoPapelLideranca) 
						BEGIN
							SELECT @v_codigoPessoaLideranca = @v_codigoPessoaVinculada
						END

				END

			-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
			BEGIN TRANSACTION
				UPDATE TB_PESSOA_RESUMO SET
				CD_PESSOA_VINCULADA = @v_codigoPessoaVinculada
				WHERE 	CD_PESSOA = @p_codigoPessoa
				AND CD_FUNCAO = @p_codigoFuncao
			COMMIT TRANSACTION
	
			IF @v_codigoPessoaVinculadaExistente > -1
				BEGIN
					--ATUALIZA O VÍNCULO EXISTENTE E MARCA A PESSOA ANTERIOR
					BEGIN TRANSACTION
						UPDATE TB_PESSOA_VINCULO_HISTORICO
						   SET CD_PESSOA_VINCULADA = @v_codigoPessoaVinculada,
							   CD_PESSOA_VINCULADA_ANTERIOR = @v_codigoPessoaVinculadaExistente
						 WHERE CD_PESSOA = @p_codigoPessoa
						   AND CD_FUNCAO = @p_codigoFuncao
						   AND NM_CICLO = @p_numeroCiclo
					COMMIT TRANSACTION
				END	
			ELSE
				BEGIN
				-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_VINCULO_HISTORICO

					BEGIN TRANSACTION
						INSERT INTO TB_PESSOA_VINCULO_HISTORICO (
							CD_PESSOA,
							CD_FUNCAO,
							NM_CICLO,
							CD_PESSOA_VINCULADA)
						VALUES
							(@p_codigoPessoa,
							@p_codigoFuncao,
							@p_numeroCiclo,
							@v_codigoPessoaVinculada)
					COMMIT TRANSACTION
				END

			IF (@CD_CLIENTE NOT IN (43,47,48,50,51,54,57) or @v_codigoPessoaLideranca = @v_codigoPessoaVinculada) -- NÃO MAKIE/ MAHOGANY/ SIBERIANN/ ELLAS/ PACHAMAMA/DNANAMODA/LOWELL...PODE SER DESDE QUE O INDICANTE (VINCULADA) SEJA LIDER
				BEGIN
					-- **********************************************************
					-- Alteração por Diego Zilioti em 24/08/21 - ATIVIDADE #2829
					-- Vamos colocar aqui o conceito de cobertura geográfica do líder
					-- **********************************************************
					IF @v_avaliaCoberturaGeografica = 1
						BEGIN
							-- *****************************************************************
							-- VAMOS BUSCAR QUAL É A EST GEOGRÁFICA DO ENDEREÇO RESIDENCIAL DA PESSOA E O CEP RESIDENCIAL
							-- *****************************************************************
							select @v_codigoEstruturaGeograficaResidencial = CD_EST_GEOGRAFICA,
								   @v_codigoPostal = DC_CODIGO_POSTAL
							  from TB_PESSOA_ENDERECO pe WITH(NOLOCK)
							 where pe.CD_PESSOA = @p_codigoPessoa
							   and (pe.ID_TIPO_ENDERECO = 1 or pe.ID_TIPO_ENDERECO = 3) --RESIDENCIAL ou FISCAL

							-- VAMOS VALIDAR SE A EST COMERCIAL DO LÍDER INICIAL ATENDE A MESMA REGIÃO DO INDICADO, OLHANDO O CALENDÁRIO DA ESTRUTURA COM A COBERTURA GEOGRÁFICA
							SELECT  @v_qtdRegistros  = COUNT(*)
							  FROM TB_CALENDARIO_COMERCIAL cc WITH(NOLOCK), TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) BETWEEN
								   convert(char(10), cc.DT_INICIAL, 121)
							   AND convert(char(10), cc.DT_FINAL, 121)
							   AND C.CD_EST_COMERCIAL = cc.CD_EST_COMERCIAL
							   AND C.CD_EST_COMERCIAL = @v_codigoEstComercialLideranca
							   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1

							IF @V_QTDREGISTROS > 0
								BEGIN
									-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
									BEGIN TRANSACTION
										UPDATE TB_PESSOA_RESUMO SET CD_PESSOA_LIDERANCA = @v_codigoPessoaLideranca
										 WHERE 	CD_PESSOA = @p_codigoPessoa
										   AND CD_FUNCAO = @p_codigoFuncao      
									COMMIT TRANSACTION            
 
									BEGIN TRANSACTION
										UPDATE TB_PESSOA_VINCULO_HISTORICO SET CD_PESSOA_LIDERANCA = @v_codigoPessoaLideranca
										 WHERE CD_PESSOA =  @p_codigoPessoa AND NM_CICLO = @p_numeroCiclo  AND CD_FUNCAO = @p_codigoFuncao     
									COMMIT TRANSACTION
								END
							ELSE
								BEGIN
									-- CORREÇÃO BITRIX #4381 - POR DIEGO ZILIOTI EM 24/01/2023 - NÃO VALIDAVA A COBERTURA POR CEP
									-- não achou por estrutura geográfica vamos procurar por CEP
									SELECT  @v_qtdRegistros  = COUNT(*)
									  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
										   TB_EST_COMERCIAL_FAIXA_CEP C WITH(NOLOCK),
										   TB_EST_COMERCIAL E WITH(NOLOCK)
									 WHERE convert(char(10), getdate(), 121) 
										   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
									   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
									   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
									   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
									   AND E.ID_ATIVO = 1
									   AND C.CD_EST_COMERCIAL = @v_codigoEstComercialLideranca
									   AND convert(numeric,@v_codigoPostal) BETWEEN convert(numeric,C.DC_FAIXA_INICIAL_CEP) AND convert(numeric,C.DC_FAIXA_FINAL_CEP)

									IF @V_QTDREGISTROS > 0
										BEGIN
											-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
											BEGIN TRANSACTION
												UPDATE TB_PESSOA_RESUMO SET CD_PESSOA_LIDERANCA = @v_codigoPessoaLideranca
												 WHERE 	CD_PESSOA = @p_codigoPessoa
												   AND CD_FUNCAO = @p_codigoFuncao      
											COMMIT TRANSACTION            
 
											BEGIN TRANSACTION
												UPDATE TB_PESSOA_VINCULO_HISTORICO SET CD_PESSOA_LIDERANCA = @v_codigoPessoaLideranca
												 WHERE CD_PESSOA =  @p_codigoPessoa AND NM_CICLO = @p_numeroCiclo  AND CD_FUNCAO = @p_codigoFuncao     
											COMMIT TRANSACTION
										END
									ELSE
										BEGIN
											SELECT @v_codigoPessoaLideranca = 0
										END
								END
						END
					ELSE
						BEGIN
							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
							BEGIN TRANSACTION
								UPDATE TB_PESSOA_RESUMO SET CD_PESSOA_LIDERANCA = @v_codigoPessoaLideranca
								 WHERE 	CD_PESSOA = @p_codigoPessoa
								   AND CD_FUNCAO = @p_codigoFuncao      
							COMMIT TRANSACTION            
 
							BEGIN TRANSACTION
								UPDATE TB_PESSOA_VINCULO_HISTORICO SET CD_PESSOA_LIDERANCA = @v_codigoPessoaLideranca
								 WHERE CD_PESSOA =  @p_codigoPessoa AND NM_CICLO = @p_numeroCiclo  AND CD_FUNCAO = @p_codigoFuncao     
							COMMIT TRANSACTION
						END
				END
			ELSE
				BEGIN 
					SELECT @v_codigoPessoaLideranca = 0
				END

			--Antes de montar a topologia devemos apagar a topologia anterior caso exista
			--Só se aplica em casos onde a indicante foi alterada
			BEGIN TRANSACTION
			delete from TB_WRK_MN_TOPOLOGIA where CD_PESSOA = @p_codigoPessoa and CD_FUNCAO = @p_codigoFuncao and NM_CICLO = @p_numeroCiclo
			COMMIT TRANSACTION

			BEGIN TRANSACTION
			delete from TB_WRK_MN_TOPOLOGIA where CD_PESSOA_VINCULADA = @p_codigoPessoa and CD_FUNCAO = @p_codigoFuncao and NM_CICLO = @p_numeroCiclo
			COMMIT TRANSACTION
   
			-- MONTAR A REDE UNILEVEL -  DESCENDENTE
			BEGIN TRANSACTION
				INSERT INTO TB_WRK_MN_TOPOLOGIA
				(CD_PESSOA,
				 CD_FUNCAO,
				 NM_CICLO,
				 CD_PESSOA_VINCULADA,
				 ID_ORDEM,
				 NM_NIVEL,
				 ID_TIPO_REDE_MN) VALUES
				(@v_codigoPessoaVinculada, @p_codigoFuncao, @p_numeroCiclo, @p_codigoPessoa, 2,1,1) 
			COMMIT TRANSACTION

			BEGIN TRANSACTION
				INSERT INTO TB_WRK_MN_TOPOLOGIA
				(CD_PESSOA,
				 CD_FUNCAO,
				 NM_CICLO,
				 CD_PESSOA_VINCULADA,
				 ID_ORDEM,
				 NM_NIVEL,
				 ID_TIPO_REDE_MN) 
				SELECT CD_PESSOA, 
					   CD_FUNCAO,
					   NM_CICLO,
					   @p_codigoPessoa,
					   ID_ORDEM, 
					   NM_NIVEL+1, 
					   ID_TIPO_REDE_MN
				FROM TB_WRK_MN_TOPOLOGIA  A WITH (NOLOCK)
				WHERE CD_PESSOA_VINCULADA   = @v_codigoPessoaVinculada
				AND   CD_FUNCAO             = @p_codigoFuncao
				AND   ID_ORDEM              = 2
				AND   NM_CICLO = (select isnull(MAX(b.NM_CICLO),0)
						  from TB_PESSOA_VINCULO_HISTORICO b WITH (NOLOCK)
						  where b.CD_PESSOA = a.CD_PESSOA_VINCULADA
						  and b.CD_FUNCAO = a.CD_FUNCAO
						 and b.NM_CICLO <= @p_numeroCiclo)
				AND   ID_TIPO_REDE_MN       = 1
			COMMIT TRANSACTION


			-- MONTAR A REDE UNILEVEL -  ASCENDENTE
			SELECT @v_codigoPessoaAscendente = @p_codigoPessoa

			SELECT @v_numeroNivel = 1
			WHILE @v_codigoPessoaVinculada <> 0 
				BEGIN 
					-- REDE UNILEVEL	
					BEGIN TRANSACTION
						INSERT INTO TB_WRK_MN_TOPOLOGIA (
							CD_PESSOA,
							CD_FUNCAO,
							NM_CICLO,
							CD_PESSOA_VINCULADA,
							ID_ORDEM,
							NM_NIVEL,
							ID_TIPO_REDE_MN)
						VALUES   (@p_codigoPessoa,
							@p_codigoFuncao,
							@p_numeroCiclo,
							@v_codigoPessoaVinculada,
							1,
							@v_numeroNivel,
							1) 
					COMMIT TRANSACTION
			
				    -- SETA A VARIAVEL
				    SELECT @v_codigoPessoaAscendente = @v_codigoPessoaVinculada
				    SELECT @v_numeroNivel = @v_numeroNivel + 1
			
					SELECT @v_codigoPessoaVinculada         = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
					FROM TB_PESSOA_VINCULO_HISTORICO a WITH (NOLOCK)
					WHERE a.CD_PESSOA = @v_codigoPessoaAscendente
					AND a.CD_FUNCAO = @p_codigoFuncao
					AND a.NM_CICLO = (select isnull(MAX(b.NM_CICLO),0)
										from TB_PESSOA_VINCULO_HISTORICO b WITH (NOLOCK)
										where b.CD_PESSOA = a.CD_PESSOA
										and b.CD_FUNCAO = a.CD_FUNCAO
										and b.NM_CICLO <= @p_numeroCiclo)
		
				END
			
		END

	-- INICIO : (ALDIR 11/05/2021) TEM CONCEITO DE LIDERANÇA, NÃO ENCONTROU AINDA O LIDER E APLICA O RODIZIO PARA ENCONTRAR
	-- 1o CRITÉRIO : SE O INDICANTE (VINCULADO) TIVER PAPEL IGUAL OU MAIOR AO PAPEL INICIO DE LIDERANCA, ESTE SERÁ O LIDER DO NOVO CADASTRO. SE NÃO FOR, APLICA O CONCEITO DO RODIZIO    

	-- Verifica se o cliente tem o conceito de liderança
	SELECT @v_codigoPapelLideranca  = isnull(max(CD_PAPEL_INICIO_LIDERANCA),0)  -- 0 - não tem conceito de liderança
	FROM TB_MN_REGRA_GERAL  WITH (NOLOCK)
    
	IF ((@v_codigoPapelLideranca > 0) AND (isnull(@v_codigoPessoaLideranca,0) = 0) AND (@CD_CLIENTE IN (54))) -- DNANAMODA
		BEGIN
			SELECT  @V_QTDREGISTROS  = COUNT(*)
			FROM TB_PESSOA_RESUMO WITH (NOLOCK)
			WHERE CD_FUNCAO                      = @p_codigoFuncao      
			AND CD_PAPEL_CARREIRA               >= @v_codigoPapelLideranca
			AND ISNULL(CD_SITUACAO_COMERCIAL,0) < 4
			AND ISNULL(ID_ALOCACAO_RODIZIO,1)   = 1
				   
			IF @V_QTDREGISTROS = 0
				BEGIN
					-- ALTERA TODOS OS LIDERES DE INDISPONIVEL PARA DISPONIVEL
					BEGIN TRANSACTION
						UPDATE TB_PESSOA_RESUMO  SET ID_ALOCACAO_RODIZIO = 1, DT_ATUALIZACAO = GETDATE(), CD_USUARIO_ATUALIZACAO = -10
						WHERE CD_FUNCAO                      = @p_codigoFuncao     
						AND CD_PAPEL_CARREIRA               >= @v_codigoPapelLideranca
						AND ISNULL(CD_SITUACAO_COMERCIAL,0) < 4
						AND ISNULL(ID_ALOCACAO_RODIZIO,2)   = 2
					COMMIT TRANSACTION 								
				END
	
			-- VERIFICA SE A COBERTURA GEOGRÁFICA SERÁ AVALIADA
			IF @v_avaliaCoberturaGeografica = 1
				BEGIN
					SELECT TOP 1  @v_codigoPessoaLideranca =  ISNULL(MIN(CD_PESSOA),0)
					FROM TB_PESSOA_RESUMO PR WITH (NOLOCK), TB_COBERTURA_GEOGRAFICA C
					WHERE PR.CD_FUNCAO                     = @p_codigoFuncao     
					AND PR.CD_PAPEL_CARREIRA               >= @v_codigoPapelLideranca
					AND PR.CD_EST_COMERCIAL				   = @v_codigoEstComercialLideranca
					AND PR.CD_EST_COMERCIAL                = C.CD_EST_COMERCIAL
					AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1
					AND ISNULL(PR.CD_SITUACAO_COMERCIAL,0) < 4
					AND ISNULL(PR.ID_ALOCACAO_RODIZIO,1)   = 1
				END
			ELSE
				BEGIN
					SELECT TOP 1  @v_codigoPessoaLideranca =  ISNULL(MIN(CD_PESSOA),0)
					FROM TB_PESSOA_RESUMO WITH (NOLOCK)
					WHERE CD_FUNCAO                      = @p_codigoFuncao     
					AND CD_PAPEL_CARREIRA               >= @v_codigoPapelLideranca
					AND ISNULL(CD_SITUACAO_COMERCIAL,0) < 4
					AND ISNULL(ID_ALOCACAO_RODIZIO,1)   = 1
				END
			

			--PRECISAMOS ATUALIZAR O LIDER (CD_PESSOA) PARA INDISPONÍVEL
			BEGIN TRANSACTION
				UPDATE TB_PESSOA_RESUMO SET ID_ALOCACAO_RODIZIO = 2, DT_ATUALIZACAO = GETDATE(), CD_USUARIO_ATUALIZACAO = -10
				WHERE CD_PESSOA = @v_codigoPessoaLideranca 
				AND CD_FUNCAO   = @p_codigoFuncao 
			COMMIT TRANSACTION 		

			-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
			BEGIN TRANSACTION
				UPDATE TB_PESSOA_RESUMO SET
				CD_PESSOA_LIDERANCA = @v_codigoPessoaLideranca, DT_ATUALIZACAO = GETDATE(), CD_USUARIO_ATUALIZACAO = -10
				WHERE 	CD_PESSOA = @p_codigoPessoa
				AND CD_FUNCAO = @p_codigoFuncao      
			COMMIT TRANSACTION            
 
			SELECT  @V_QTDREGISTROS  = COUNT(*)
			FROM TB_PESSOA_VINCULO_HISTORICO WITH (NOLOCK)
			WHERE CD_PESSOA = @p_codigoPessoa
			AND CD_FUNCAO = @p_codigoFuncao
			AND NM_CICLO = @p_numeroCiclo

			IF (@V_QTDREGISTROS > 0)
				BEGIN
					--ATUALIZA O VÍNCULO EXISTENTE E MARCA A PESSOA ANTERIOR
					BEGIN TRANSACTION
						UPDATE TB_PESSOA_VINCULO_HISTORICO
						   SET CD_PESSOA_LIDERANCA = @v_codigoPessoaLideranca
						WHERE CD_PESSOA = @p_codigoPessoa
						AND CD_FUNCAO = @p_codigoFuncao
						AND NM_CICLO = @p_numeroCiclo
					COMMIT TRANSACTION
				END	
			ELSE
				BEGIN
					-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_VINCULO_HISTORICO

					BEGIN TRANSACTION
						INSERT INTO TB_PESSOA_VINCULO_HISTORICO (
							CD_PESSOA,
							CD_FUNCAO,
							NM_CICLO,
							CD_PESSOA_VINCULADA,
							CD_PESSOA_LIDERANCA)
						VALUES
							(@p_codigoPessoa,
							@p_codigoFuncao,
							@p_numeroCiclo,
							0,
							@v_codigoPessoaLideranca)
					COMMIT TRANSACTION
				END
		END
	--  FIM : (ALDIR 11/05/2021) TEM CONCEITO DE LIDERANÇA, NÃO ENCONTROU AINDA O LIDER E APLICA O RODIZIO PARA ENCONTRAR O LIDER 

	
	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
