SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ComissaoFVAlteraComissao]
	@CD_FV_COMISSAO          NUMERIC(18,0), -- Campo obrigatório
    @ID_SITUACAO_COMISSAO    INT, -- Campo obrigatório ( 3 - Aprovar Comissão / 4 - Rejeitar Comissão / 5 - Ajustar Comissão)
	@VL_AJUSTADO             NUMERIC(18,2),
	@DC_MOTIVO_AJUSTE        varchar (200),
	@CD_USUARIO				 NUMERIC(18,0),
	@VAR_RETORNO			 INT OUTPUT,
	@DC_ERRO				 NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS		 INT OUTPUT
AS
BEGIN TRY
	SELECT @QT_LINHAS_AFETADAS = 0

	IF (@ID_SITUACAO_COMISSAO = 3) --APROVAR
	BEGIN
		BEGIN TRAN
		UPDATE TB_FV_COMISSAO
		SET ID_SITUACAO_COMISSAO = @ID_SITUACAO_COMISSAO,
			CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
			DT_ATUALIZACAO = getdate()
		WHERE CD_FV_COMISSAO = @CD_FV_COMISSAO
		COMMIT TRAN
	END
	ELSE IF (@ID_SITUACAO_COMISSAO = 4) --REJEITAR
	BEGIN
		BEGIN TRAN
		UPDATE TB_FV_COMISSAO
		SET ID_SITUACAO_COMISSAO = @ID_SITUACAO_COMISSAO,
			DC_MOTIVO_AJUSTE = @DC_MOTIVO_AJUSTE,
			CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
			DT_ATUALIZACAO = getdate()
		WHERE CD_FV_COMISSAO = @CD_FV_COMISSAO
		COMMIT TRAN
	END
	ELSE IF (@ID_SITUACAO_COMISSAO = 5) --AJUSTE
	BEGIN
		BEGIN TRAN
		UPDATE TB_FV_COMISSAO
		SET VL_AJUSTADO = @VL_AJUSTADO,
			DC_MOTIVO_AJUSTE = @DC_MOTIVO_AJUSTE,
			CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
			DT_ATUALIZACAO = getdate()
		WHERE CD_FV_COMISSAO = @CD_FV_COMISSAO
		COMMIT TRAN
	END		
    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
END TRY

BEGIN CATCH
   -- Whoops, there was an error
   SELECT @VAR_RETORNO = 1
   SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
