SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GRAVA_PEDIDO_ITEM_FILHO]
	@NM_PEDIDO			numeric(18, 0),
	@NM_PEDIDO_ITEM		numeric(18, 0),
	@CD_PRODUTO_VENDA	numeric(18, 0),
			
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CD_MATERIAL				numeric(18, 0)
DECLARE @QT_UTILIZADA				numeric(18,	0)
DECLARE @VL_PERCENTUAL				numeric(18,	2)

DECLARE @ID_ORIGEM_ITEM_PEDIDO		INT
DECLARE @ID_PRODUTO_COBRADO			INT
DECLARE @CD_EST_SITUACAO			numeric(18, 0)
DECLARE @QT_PEDIDA					numeric(5, 0)
DECLARE @QT_RESERVADA				numeric(5, 0)
DECLARE @VL_CREDITO_TOTAL			numeric(18, 2)
DECLARE @VL_TABELA_TOTAL			numeric(18, 2)
DECLARE @VL_PRATICADO_TOTAL			numeric(18, 2)
DECLARE @VL_LIQUIDO_TOTAL			numeric(18, 2)
DECLARE @VL_IMPOSTO_TOTAL			numeric(18, 2)
DECLARE @VL_COMISSAO_CN				numeric(18, 2)
DECLARE @VL_PAGAR_TOTAL				numeric(18, 2)
DECLARE @VL_CUSTO_TOTAL				numeric(18, 2)
DECLARE @VL_PONTOS_TOTAL			numeric(18, 2)
DECLARE @CD_COTA_PRODUTO_ESTRUTURA	NUMERIC(18,0)
DECLARE @CD_COTA_PRODUTO_PESSOA		NUMERIC(18,0)
DECLARE @CD_ORIGEM_ITEM_PEDIDO		numeric(18, 0)
DECLARE @ID_TIPO_PRODUTO			int	
DECLARE @ID_GERA_BONUS				INT	
DECLARE @ID_GERA_GRADUACAO			INT
DECLARE @ID_GERA_ATIVACAO			INT
declare @ID_ENTREGA_PRESENTE		int

DECLARE @CURSOR_COMP				CURSOR
DECLARE @QTD_REGISTROS				INT
DECLARE @I							INT

DECLARE @VL_CREDITO_TOTAL_ITEM			numeric(18, 2)
DECLARE @VL_TABELA_TOTAL_ITEM			numeric(18, 2)
DECLARE @VL_PRATICADO_TOTAL_ITEM		numeric(18, 2)
DECLARE @VL_LIQUIDO_TOTAL_ITEM			numeric(18, 2)
DECLARE @VL_IMPOSTO_TOTAL_ITEM			numeric(18, 2)
DECLARE @VL_COMISSAO_CN_ITEM			numeric(18, 2)
DECLARE @VL_PAGAR_TOTAL_ITEM			numeric(18, 2)
DECLARE @VL_CUSTO_TOTAL_ITEM			numeric(18, 2)
DECLARE @VL_PONTOS_TOTAL_ITEM			numeric(18, 2)
DECLARE @QT_PEDIDA_ITEM					numeric(5, 0)
DECLARE @QT_RESERVADA_ITEM				numeric(5, 0)

-- *********************************************************
-- VARIAVEIS USADAS PARA CALCULAR O VALOR DO ULTIMO ITEM
-- *********************************************************
DECLARE @VL_CREDITO_TOTAL_SUM	NUMERIC(18,2)
DECLARE @VL_TABELA_TOTAL_SUM	NUMERIC(18,2)
DECLARE @VL_PRATICADO_TOTAL_SUM NUMERIC(18,2)
DECLARE @VL_LIQUIDO_TOTAL_SUM	NUMERIC(18,2)
DECLARE @VL_IMPOSTO_TOTAL_SUM	NUMERIC(18,2)
DECLARE @VL_COMISSAO_CN_SUM		NUMERIC(18,2)
DECLARE @VL_PAGAR_TOTAL_SUM		NUMERIC(18,2)
DECLARE	@VL_CUSTO_TOTAL_SUM		NUMERIC(18,2)
DECLARE @VL_PONTOS_TOTAL_SUM	NUMERIC(18,2)

	
BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
	    	    
	    SELECT @VL_CREDITO_TOTAL_SUM = 0
		SELECT @VL_TABELA_TOTAL_SUM	= 0
		SELECT @VL_PRATICADO_TOTAL_SUM = 0
		SELECT @VL_LIQUIDO_TOTAL_SUM = 0
		SELECT @VL_IMPOSTO_TOTAL_SUM = 0
		SELECT @VL_COMISSAO_CN_SUM = 0
		SELECT @VL_PAGAR_TOTAL_SUM = 0
		SELECT @VL_CUSTO_TOTAL_SUM = 0
		SELECT @VL_PONTOS_TOTAL_SUM = 0
	    
	    -- ********************************************************************
	    -- ARMAZENA AS INFORMAÇÕES DO PAI NAS VARIAVEIS
	    -- ********************************************************************
	    
	    SELECT	@ID_ORIGEM_ITEM_PEDIDO = ID_ORIGEM_ITEM_PEDIDO,
				@ID_PRODUTO_COBRADO = ID_PRODUTO_COBRADO,
				@CD_EST_SITUACAO = CD_EST_SITUACAO,
				@QT_PEDIDA = QT_PEDIDA,
				@QT_RESERVADA = QT_RESERVADA,
				@VL_CREDITO_TOTAL = VL_CREDITO_TOTAL,
				@VL_TABELA_TOTAL = VL_TABELA_TOTAL,
				@VL_PRATICADO_TOTAL = VL_PRATICADO_TOTAL,
				@VL_LIQUIDO_TOTAL = VL_LIQUIDO_TOTAL,
				@VL_IMPOSTO_TOTAL = VL_IMPOSTO_TOTAL,
				@VL_COMISSAO_CN = VL_COMISSAO_CN,
				@VL_PAGAR_TOTAL = VL_PAGAR_TOTAL,
				@VL_CUSTO_TOTAL = VL_CUSTO_TOTAL,
				@CD_COTA_PRODUTO_ESTRUTURA = CD_COTA_PRODUTO_ESTRUTURA,
				@CD_COTA_PRODUTO_PESSOA = CD_COTA_PRODUTO_PESSOA,
				@CD_ORIGEM_ITEM_PEDIDO = CD_ORIGEM_ITEM_PEDIDO,
				@ID_TIPO_PRODUTO = ID_TIPO_PRODUTO,
				@ID_GERA_BONUS = ID_GERA_BONUS,
				@ID_GERA_GRADUACAO = ID_GERA_GRADUACAO,
				@ID_GERA_ATIVACAO = ID_GERA_ATIVACAO,
				@ID_ENTREGA_PRESENTE = isnull(ID_ENTREGA_PRESENTE,0),
				@VL_PONTOS_TOTAL = ISNULL(VL_PONTOS,0)
		FROM TB_PEDIDO_ITEM
		WHERE NM_PEDIDO = @NM_PEDIDO
		AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
		AND NM_PEDIDO_ITEM = @NM_PEDIDO_ITEM
	    
		-- ********************************************************************
	    -- VERIFICA A QUANTIDADE DE ITENS DO COMPONENTE
	    -- ******************************************************************** 
	    SELECT	@QTD_REGISTROS = COUNT(*)
        FROM TB_PRODUTO_VENDA_COMPONENTE
        WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
	    
	    
	   	-- ********************************************************************
	    -- ABRE O CURSOR DOS COMPONENTES
	    -- ******************************************************************** 
	    
	    SELECT @I = 1
	    
	    SET @CURSOR_COMP = CURSOR FAST_FORWARD
		FOR

            SELECT	CD_MATERIAL,
					QT_UTILIZADA,
					VL_PERCENTUAL
            FROM TB_PRODUTO_VENDA_COMPONENTE
            WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
	    
	    OPEN @CURSOR_COMP
		FETCH NEXT FROM @CURSOR_COMP
		INTO @CD_MATERIAL, @QT_UTILIZADA, @VL_PERCENTUAL 
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
		
			-- **********************************************
			-- VERIFICA SE É O ULTIMO ITEM
			-- EM CASO POSITIVO NÃO IREMOS CACLULAR O PERCENTUAL MAIS SIM A DIFERENÇA
			-- **********************************************
			IF @I >= @QTD_REGISTROS
				BEGIN
										
					SELECT @VL_CREDITO_TOTAL_ITEM = @VL_CREDITO_TOTAL - @VL_CREDITO_TOTAL_SUM
					SELECT @VL_TABELA_TOTAL_ITEM = @VL_TABELA_TOTAL - @VL_TABELA_TOTAL_SUM
					SELECT @VL_PRATICADO_TOTAL_ITEM = @VL_PRATICADO_TOTAL - @VL_PRATICADO_TOTAL_SUM
					SELECT @VL_LIQUIDO_TOTAL_ITEM = @VL_LIQUIDO_TOTAL - @VL_LIQUIDO_TOTAL_SUM
					SELECT @VL_IMPOSTO_TOTAL_ITEM = @VL_IMPOSTO_TOTAL - @VL_IMPOSTO_TOTAL_SUM
					SELECT @VL_COMISSAO_CN_ITEM = @VL_COMISSAO_CN - @VL_COMISSAO_CN_SUM
					SELECT @VL_PAGAR_TOTAL_ITEM = @VL_PAGAR_TOTAL - @VL_PAGAR_TOTAL_SUM
					SELECT @VL_CUSTO_TOTAL_ITEM = @VL_CUSTO_TOTAL - @VL_CUSTO_TOTAL_SUM
					SELECT @QT_PEDIDA_ITEM	= @QT_UTILIZADA * @QT_RESERVADA
					SELECT @QT_RESERVADA_ITEM	= @QT_UTILIZADA * @QT_RESERVADA
					SELECT @VL_PONTOS_TOTAL_ITEM = @VL_PONTOS_TOTAL - @VL_PONTOS_TOTAL_SUM
					
				
				END
			ELSE
				BEGIN
				
					--pem.PE_Credito_Total_Item = (vlr_credito_unit * (CDbl(v_retorno("VL_PERCENTUAL")) / 100)) * qtd_reservada
					SELECT @VL_CREDITO_TOTAL_ITEM = @VL_CREDITO_TOTAL * (@VL_PERCENTUAL/100)
					SELECT @VL_CREDITO_TOTAL_SUM = @VL_CREDITO_TOTAL_SUM + @VL_CREDITO_TOTAL_ITEM
					
					--pem.PE_Valor_Tabela_Total_Item = (vlr_tabela_unit * (CDbl(v_retorno("VL_PERCENTUAL")) / 100)) * qtd_reservada
					SELECT @VL_TABELA_TOTAL_ITEM = @VL_TABELA_TOTAL * (@VL_PERCENTUAL/100)
					SELECT @VL_TABELA_TOTAL_SUM = @VL_TABELA_TOTAL_SUM + @VL_TABELA_TOTAL_ITEM
					
					-- pem.PE_Valor_Praticado_Total_Item = (vlr_praticado_total * (CDbl(v_retorno("VL_PERCENTUAL")) / 100))
					SELECT @VL_PRATICADO_TOTAL_ITEM = @VL_PRATICADO_TOTAL * (@VL_PERCENTUAL/100)
					SELECT @VL_PRATICADO_TOTAL_SUM = @VL_PRATICADO_TOTAL_SUM +  @VL_PRATICADO_TOTAL_ITEM
					
					-- pem.PE_Valor_Liquido_Total_Item = (vlr_liquido_total * (CDbl(v_retorno("VL_PERCENTUAL")) / 100))
					SELECT @VL_LIQUIDO_TOTAL_ITEM = @VL_LIQUIDO_TOTAL * (@VL_PERCENTUAL/100)
					SELECT @VL_LIQUIDO_TOTAL_SUM = @VL_LIQUIDO_TOTAL_SUM +  @VL_LIQUIDO_TOTAL_ITEM
					
					SELECT @VL_IMPOSTO_TOTAL_ITEM = @VL_IMPOSTO_TOTAL * (@VL_PERCENTUAL/100)
					SELECT @VL_IMPOSTO_TOTAL_SUM = @VL_IMPOSTO_TOTAL_SUM + @VL_IMPOSTO_TOTAL_ITEM
					
					-- pem.PE_Valor_Comissao_Item = vlr_comissao_total * (CDbl(v_retorno("VL_PERCENTUAL")) / 100)
					SELECT @VL_COMISSAO_CN_ITEM = @VL_COMISSAO_CN * (@VL_PERCENTUAL/100)
					SELECT @VL_COMISSAO_CN_SUM = @VL_COMISSAO_CN_SUM + @VL_COMISSAO_CN_ITEM
					
					--pem.PE_Valor_Pagar_Total_Item = (vlr_liquido_total * (CDbl(v_retorno("VL_PERCENTUAL")) / 100))
					SELECT @VL_PAGAR_TOTAL_ITEM = @VL_PAGAR_TOTAL * (@VL_PERCENTUAL/100)
					SELECT @VL_PAGAR_TOTAL_SUM = @VL_PAGAR_TOTAL_SUM + @VL_PAGAR_TOTAL_ITEM
					
					SELECT @VL_CUSTO_TOTAL_ITEM = @VL_CUSTO_TOTAL * (@VL_PERCENTUAL/100)
					SELECT @VL_CUSTO_TOTAL_SUM = @VL_CUSTO_TOTAL_SUM + @VL_CUSTO_TOTAL_ITEM
					
					SELECT @VL_PONTOS_TOTAL_ITEM = @VL_PONTOS_TOTAL * (@VL_PERCENTUAL/100)
					SELECT @VL_PONTOS_TOTAL_SUM = @VL_PONTOS_TOTAL_SUM + @VL_PONTOS_TOTAL_ITEM
					
					SELECT @QT_PEDIDA_ITEM	= @QT_UTILIZADA * @QT_RESERVADA
					SELECT @QT_RESERVADA_ITEM	= @QT_UTILIZADA * @QT_RESERVADA
						
				END
		

			EXEC SP_GRAVA_PEDIDO_ITEM  
				@NM_PEDIDO,
				@CD_PRODUTO_VENDA,
				@CD_MATERIAL,
				@ID_ORIGEM_ITEM_PEDIDO,
				@CD_ORIGEM_ITEM_PEDIDO,
				@ID_PRODUTO_COBRADO,
				@ID_TIPO_PRODUTO,
				1, -- AGRUPAMENTO
				@CD_EST_SITUACAO,
				@CD_COTA_PRODUTO_ESTRUTURA,
				@CD_COTA_PRODUTO_PESSOA,
				@QT_PEDIDA_ITEM,
				@QT_RESERVADA_ITEM,
				@VL_CREDITO_TOTAL_ITEM,
				@VL_TABELA_TOTAL_ITEM,
				@VL_PRATICADO_TOTAL_ITEM,
				@VL_LIQUIDO_TOTAL_ITEM,
				@VL_IMPOSTO_TOTAL_ITEM,
				@VL_COMISSAO_CN_ITEM,
				@VL_PAGAR_TOTAL_ITEM,
				@VL_CUSTO_TOTAL_ITEM,
				'I', -- TIPO FUNÇÃO
				@NM_PEDIDO_ITEM,
				@ID_GERA_BONUS,
				@ID_GERA_GRADUACAO,
				@ID_GERA_ATIVACAO,
				
				@ID_ENTREGA_PRESENTE,
				
				@VL_PONTOS_TOTAL_ITEM,
				
				@VAR_RETORNO			OUTPUT,
				@DC_ERRO				OUTPUT,
				@QT_LINHAS_AFETADAS		OUTPUT,
				0
		  
		  		SELECT @I = @I + 1
		  
		  
		  FETCH NEXT FROM @CURSOR_COMP
		  INTO @CD_MATERIAL, @QT_UTILIZADA, @VL_PERCENTUAL 
		END
		
		CLOSE      @CURSOR_COMP
        DEALLOCATE @CURSOR_COMP
	    
	
		SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @VAR_RETORNO = 0
	
		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
