SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_ATUALIZA_PLANO_CARREIRA_ESTENDIDO_KENKOPATTO]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
        @CD_EST_COMERCIAL NUMERIC(18,0),
	@ID_PAPEL_DESEMPENHO_ALTERADO INT OUTPUT,
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

DECLARE @CURSOR_REGRA_PAPEL_INDICADOR    CURSOR,
        @CURSOR_PAPEL                    CURSOR,
        @CURSOR_PAPEL_CARENCIA           CURSOR

DECLARE @V_CD_PAPEL                     INT,
	@V_CD_INDICADOR_PESSOAL         INT,
        @V_VL_INDICADOR_PESSOAL_INICIO  NUMERIC(18,4),   
        @V_VL_INDICADOR_PESSOAL_FIM     NUMERIC(18,4), 
        @V_ID_OPERACAO                  INT,
    --    @V_ID_OPERACAO_ULTIMA           INT,
        @V_CD_PAPEL_CALCULADO           INT,
        @V_VL_INDICADOR_PESSOAL         NUMERIC(18,4),
        @V_CD_PAPEL_DESEMPENHO_ATUAL    INT,
        @V_CD_PAPEL_CARREIRA_ATUAL      INT,
        @V_ID_ATUALIZACAO_PAPEL_DESEMPENHO INT,
        @V_QT_CICLOS_CARENCIA           NUMERIC(4,0),
        @V_QT_CICLOS_ELEGIVEL           NUMERIC(4,0),
        @v_CD_PAPEL_NOVO                INT,
        @V_CD_PAPEL_CARREIRA_CARENCIA   INT,
        @V_CD_PAPEL_DESEMPENHO_CARENCIA INT,
        @V_ID_TIPO_PAPEL                INT,
        @V_ID_INICIO_CICLO_PAPEL_CARREIRA INT,
	@V_ID_INICIO_CICLO_PAPEL_DESEMPENHO INT,
        @V_CD_INDICADOR_CARENCIA          NUMERIC(18,0),
        @V_VL_INDICADOR_CARENCIA          NUMERIC(18,0),
	@V_COUNT_ELEGIVEL           NUMERIC(18,0)
DECLARE @V_DT_FINAL    DATE
DECLARE @V_EVENTO_ATUALIZACAO_PAPEL  INT 
DECLARE @V_CONT_REGISTRO        NUMERIC(18,0)
DECLARE @V_VL_INDICADOR_QUALIFICACAO NUMERIC(18,2)

DECLARE @CD_CLIENTE NUMERIC(18,0)

DECLARE @V_QDE_PEDIDOS  NUMERIC(18,0)

DECLARE @VL_INDICADOR_PESSOAL_FICTICIO  NUMERIC(18,4)

 
        
BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0
  SELECT @ID_PAPEL_DESEMPENHO_ALTERADO = 0

  -- BUSCA O CLIENTE
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO  with (NOLOCK)
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO = 1
  and CD_VALOR_PARAMETRO  =1


  -- BUSCA O PAPEL CARREIRA ATUAL DA PESSOA
  SELECT @V_CD_PAPEL_CARREIRA_ATUAL   = isnull(CD_PAPEL_CARREIRA,0)
  FROM TB_PESSOA_PAPEL_HISTORICO  with (NOLOCK)
  WHERE CD_PESSOA      = @CD_PESSOA
  AND   CD_FUNCAO      = @CD_FUNCAO
  AND   NM_CICLO       = @NM_CICLO


  -- VERIFICAR O EVENTO DO PAPEL CARREIRA DA PESSOA DEVE SER CALCULADO
  SELECT @V_EVENTO_ATUALIZACAO_PAPEL = MAX(ID_EVENTO_ATUALIZACAO_PAPEL)
  FROM TB_MN_REGRA_PAPEL_INDICADOR  with (NOLOCK)
  WHERE CD_PAPEL                  = @V_CD_PAPEL_CARREIRA_ATUAL

  -- VERIFICA SE É ULTIMO DIA DO CICLO
  SELECT @V_DT_FINAL = DT_FINAL FROM TB_CALENDARIO_COMERCIAL  with (NOLOCK)
  WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
  AND NM_CICLO           = @NM_CICLO


  IF (      (@V_EVENTO_ATUALIZACAO_PAPEL = 2 AND CONVERT(DATE, @V_DT_FINAL) = CONVERT(date, getdate()-1)) -- FECHAMENTO DO CICLO
        OR  (@V_EVENTO_ATUALIZACAO_PAPEL = 3 AND Datepart(dw,getdate()) = 1) -- SEMANAL
        OR  (@V_EVENTO_ATUALIZACAO_PAPEL = 1 ) -- DIARIO
     )
  BEGIN
	   -- ABRE O CURSOR DOS PAPÉIS
	  SET @CURSOR_PAPEL = CURSOR FAST_FORWARD
	  FOR
		SELECT CD_PAPEL_CARREIRA
		FROM TB_PAPEL_CARREIRA  with (NOLOCK) WHERE CD_FUNCAO = 2
		ORDER BY CD_PAPEL_CARREIRA DESC   
	  OPEN @CURSOR_PAPEL 
	  FETCH NEXT FROM @CURSOR_PAPEL 
	  INTO @V_CD_PAPEL

	  SELECT @V_CD_PAPEL_CALCULADO = CD_PAPEL_CARREIRA 
          FROM TB_PAPEL_CARREIRA  with (NOLOCK)
          WHERE  CD_FUNCAO = @CD_FUNCAO AND ID_PRIMEIRO_NIVEL = 1
	  WHILE @@FETCH_STATUS = 0
	  BEGIN  
   	--         SELECT  @V_ID_OPERACAO_ULTIMA = 0   -- GUARDA A INFORMAÇÃO DA ÚLTIMA OPERAÇÃO
		-- ABRE O CURSOR POR PAPEL DAS REGRAS DOS INDICADORES
		SET @CURSOR_REGRA_PAPEL_INDICADOR = CURSOR FAST_FORWARD
		FOR
		  SELECT CD_INDICADOR_PESSOAL, VL_INDICADOR_PESSOAL_INICIO, 
  			 VL_INDICADOR_PESSOAL_FIM, isnull(ID_OPERACAO,2)
		  FROM TB_MN_REGRA_PAPEL_INDICADOR  with (NOLOCK)
		  WHERE CD_PAPEL = @V_CD_PAPEL
		  AND ISNULL(ID_REGRA_CALCULAR_EXIBIR,3)  IN (1,3)  -- NOVO : ALDIR 03/02/2021 (SEGMENTAR A TABELA 
		  ORDER BY CD_PAPEL DESC, NM_SEQUENCIA_INDICADOR
		OPEN @CURSOR_REGRA_PAPEL_INDICADOR
		FETCH NEXT FROM @CURSOR_REGRA_PAPEL_INDICADOR
		INTO @V_CD_INDICADOR_PESSOAL, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 

		WHILE @@FETCH_STATUS = 0
		BEGIN  
		  SELECT @V_VL_INDICADOR_PESSOAL = isnull(SUM(VL_INDICADOR_PESSOAL),-1)
		  FROM TB_PESSOA_INDICADOR  with (NOLOCK)
		  WHERE CD_PESSOA            = @CD_PESSOA
		  AND   CD_FUNCAO            = @CD_FUNCAO
		  AND   NM_CICLO             = @NM_CICLO
		  --AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
		  AND   CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_PESSOAL   

		  -- INICIO (09/11/2023) : EVOLUÇÃO BITRIX 5083 (KENKO) : VERIFICA SE A PESSOA PODE ASSUMIR O VALOR FICTICIO DO INDICADOR
		  SELECT @VL_INDICADOR_PESSOAL_FICTICIO = ISNULL(MAX(VL_INDICADOR_PESSOAL),-1)
		  FROM TB_MN_PESSOA_INDICADOR_REGRA_CALCULO WITH (NOLOCK)
		  WHERE CD_PESSOA                         = @CD_PESSOA
		  AND   CD_INDICADOR_PESSOAL              = @V_CD_INDICADOR_PESSOAL
		  AND   ID_PESSOA_INDICADOR_REGRA_CALCULO = 2 -- PAPEL DESEMPENHO
		  -- SE O VALOR CALCULADO É MENOR QUE O VALOR FICTICIO, O CALCULO ASSUMIR O FICTICIO PARA O CALCULO DO PAPEL DESEMPENHO
		  IF (@VL_INDICADOR_PESSOAL_FICTICIO > @V_VL_INDICADOR_PESSOAL)  
		  BEGIN 
		    SELECT @V_VL_INDICADOR_PESSOAL = @VL_INDICADOR_PESSOAL_FICTICIO
		  END
		  -- FIM (09/11/2023) : EVOLUÇÃO BITRIX 5083 (KENKO) : VERIFICA SE A PESSOA PODE ASSUMIR O VALOR FICTICIO DO INDICADOR

		  -- VERIFICA SE NÃO TEM O INDICADOR E (OPERADOR ATUAL)
		  IF (@V_VL_INDICADOR_PESSOAL = -1 AND @V_ID_OPERACAO = 2)
		  BEGIN
		    SELECT @V_CD_PAPEL_CALCULADO = CD_PAPEL_CARREIRA 
                    FROM TB_PAPEL_CARREIRA  with (NOLOCK)
                    WHERE  CD_FUNCAO = @CD_FUNCAO AND ID_PRIMEIRO_NIVEL = 1

		BREAK
		  END

		  -- VALOR DO INDICADOR ESTÁ FORA DO RANGE E (OPERADOR ATUAL)
		  IF ((@V_VL_INDICADOR_PESSOAL < @V_VL_INDICADOR_PESSOAL_INICIO OR
   		   @V_VL_INDICADOR_PESSOAL > @V_VL_INDICADOR_PESSOAL_FIM )  AND 
		  (@V_ID_OPERACAO = 2)   )
 
		  BEGIN
	            SELECT @V_CD_PAPEL_CALCULADO = CD_PAPEL_CARREIRA 
                    FROM TB_PAPEL_CARREIRA  with (NOLOCK)
                    WHERE  CD_FUNCAO = @CD_FUNCAO AND ID_PRIMEIRO_NIVEL = 1
		BREAK
		  END
  
		  -- VERIFICA SE ATENDE AO CRITÉRIO DO INDICADOR
		  IF (@V_VL_INDICADOR_PESSOAL >= @V_VL_INDICADOR_PESSOAL_INICIO AND
  		     @V_VL_INDICADOR_PESSOAL <= @V_VL_INDICADOR_PESSOAL_FIM )   
		  BEGIN
		     SELECT @V_CD_PAPEL_CALCULADO = @V_CD_PAPEL
                     IF (@V_ID_OPERACAO = 1)
                       BREAK
		  END

		  -- GUARDA A ÚLTIMA OPERAÇÃO
		  --SELECT @V_ID_OPERACAO_ULTIMA = @V_ID_OPERACAO

		  FETCH NEXT FROM @CURSOR_REGRA_PAPEL_INDICADOR
		  INTO @V_CD_INDICADOR_PESSOAL, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 
		END -- fim CURSOR REGRA PAPEL
		CLOSE       @CURSOR_REGRA_PAPEL_INDICADOR
		DEALLOCATE  @CURSOR_REGRA_PAPEL_INDICADOR

		IF (@V_CD_PAPEL_CALCULADO > 1)    -- CUMPRE OS CRITÉRIOS DO PAPEL (REGRA DE VERIFICAÇÃO DO PAPEL DO MAIOR PARA O MENOR)
		BEGIN
		  BREAK
		END

		FETCH NEXT FROM @CURSOR_PAPEL 
		INTO @V_CD_PAPEL
	  END -- fim PAPEL
	  CLOSE       @CURSOR_PAPEL 
	  DEALLOCATE  @CURSOR_PAPEL 

	  -- BUSCA A REGRA DE ATUALIZAÇÃO DO PAPEL DESEMPENHO
	  SELECT  @V_ID_ATUALIZACAO_PAPEL_DESEMPENHO = ID_ATUALIZACAO_PAPEL_DESEMPENHO
		 ,@V_ID_INICIO_CICLO_PAPEL_CARREIRA  = ID_INICIO_CICLO_PAPEL_CARREIRA
		 ,@V_ID_INICIO_CICLO_PAPEL_DESEMPENHO = isnull(ID_INICIO_CICLO_PAPEL_DESEMPENHO,0)
	  FROM TB_MN_REGRA_PAPEL  with (NOLOCK)


	  -- BUSCA O PAPEL ATUAL DA PESSOA
	  SELECT @V_CD_PAPEL_DESEMPENHO_ATUAL = isnull(CD_PAPEL_DESEMPENHO,0),
			 @V_CD_PAPEL_CARREIRA_ATUAL   = isnull(CD_PAPEL_CARREIRA,0)
	  FROM TB_PESSOA_PAPEL_HISTORICO  with (NOLOCK)
	  WHERE CD_PESSOA      = @CD_PESSOA
	  AND   CD_FUNCAO      = @CD_FUNCAO
          AND   NM_CICLO       = @NM_CICLO

	  -- EVOLUIU 
	  IF (@V_CD_PAPEL_CALCULADO > @V_CD_PAPEL_DESEMPENHO_ATUAL AND @V_ID_ATUALIZACAO_PAPEL_DESEMPENHO IN (1,3)) 
	  BEGIN

		--** ALDIR (INICIO 26/01)
		-- ANALISAR SE TEM ELEGIBILIDADE
		SELECT @V_QT_CICLOS_ELEGIVEL = isnull(MAX(QT_CICLOS),0)
		FROM TB_MN_REGRA_PAPEL_ELEGIVEL  with (NOLOCK)
		WHERE CD_PAPEL          = @V_CD_PAPEL_CARREIRA_ATUAL
		AND   CD_PAPEL_EVOLUCAO = @V_CD_PAPEL_CALCULADO

		IF (@V_QT_CICLOS_ELEGIVEL > 0) 
		BEGIN
		  SELECT @V_COUNT_ELEGIVEL = COUNT(CD_PESSOA)
		  FROM TB_MN_PESSOA_ELEGIVEL	  with (NOLOCK)		
		  WHERE CD_PESSOA	    = @CD_PESSOA
		  AND   CD_PAPEL	    = @V_CD_PAPEL_CALCULADO
		  AND   NM_CICLO_INICIO     = @NM_CICLO

		  IF (@V_COUNT_ELEGIVEL = 0)
		  BEGIN
			BEGIN TRANSACTION
			INSERT INTO TB_MN_PESSOA_ELEGIVEL (CD_PESSOA, CD_PAPEL, NM_CICLO_INICIO, NM_CICLO_FIM, 	ID_SITUACAO_ELEGIVEL) VALUES
							  (@CD_PESSOA, @V_CD_PAPEL_CALCULADO, @NM_CICLO, DBO.FN_BUSCA_CICLO_SUPERIOR_MMN  (@NM_CICLO, @V_QT_CICLOS_ELEGIVEL), 1)	
			COMMIT TRANSACTION
		  END

 		  -- ATUALIZA O PAPEL HISTORICO
		  BEGIN  TRANSACTION
		  UPDATE TB_PESSOA_PAPEL_HISTORICO 
		  SET  CD_PAPEL_DESEMPENHO  = (@V_CD_PAPEL_CALCULADO -1)
		  WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO
		  COMMIT TRANSACTION

		END     
		--** ALDIR (FIM 26/01)

  
		IF (@V_QT_CICLOS_ELEGIVEL = 0) 
		BEGIN

		  -- VERIFICAR SE ATUALIZA O PAPEL CARREIRA JUNTO COM O DESEMPENHO (26-09-2017) OU ATUALIZACAO DO PAPEL E SEMANAL
		  IF (@V_ID_INICIO_CICLO_PAPEL_CARREIRA = 3 OR @V_EVENTO_ATUALIZACAO_PAPEL = 3)
		  BEGIN

			-- ATUALIZA O PAPEL HISTORICO
			BEGIN  TRANSACTION
			UPDATE TB_PESSOA_PAPEL_HISTORICO 
			SET  CD_PAPEL_DESEMPENHO  = @V_CD_PAPEL_CALCULADO
				,CD_PAPEL_CARREIRA = @V_CD_PAPEL_CALCULADO
			WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO
			COMMIT TRANSACTION

		  END
		  ELSE
		  BEGIN
			-- ATUALIZA O PAPEL HISTORICO
			BEGIN TRANSACTION
			UPDATE TB_PESSOA_PAPEL_HISTORICO 
			SET  CD_PAPEL_DESEMPENHO  = @V_CD_PAPEL_CALCULADO
			WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO
			COMMIT TRANSACTION
		  END

		  -- ATUALIZA O PAPEL HISTORICO POR DATA
		  EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
	  			@CD_PESSOA,
				@CD_FUNCAO,
				@NM_CICLO,
				@V_CD_PAPEL_CALCULADO,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS
		  SELECT @ID_PAPEL_DESEMPENHO_ALTERADO = 1  -- ALDIR (22/09/2022)
		END
	  END
 
	  -- REGREDIU 
          IF (@V_CD_PAPEL_CALCULADO < @V_CD_PAPEL_DESEMPENHO_ATUAL AND @V_ID_ATUALIZACAO_PAPEL_DESEMPENHO IN (2,3))
          BEGIN

		-- ANALISAR SE TEM CARÊNCIA
		SELECT    @V_QT_CICLOS_CARENCIA     = isnull(MAX(QT_CICLOS_CARENCIA),0),
			   @v_CD_PAPEL_NOVO          = isnull(MAX(CD_PAPEL_NOVO),@V_CD_PAPEL_CALCULADO),
			   @V_CD_INDICADOR_CARENCIA  = isnull(MAX(CD_INDICADOR_PESSOAL),0),
                           @V_ID_TIPO_PAPEL         = isnull(MAX(ID_TIPO_PAPEL), 1)
		FROM  TB_MN_REGRA_PAPEL_CARENCIA  with (NOLOCK)
		WHERE CD_PAPEL                  = @V_CD_PAPEL_CARREIRA_ATUAL
--		AND   CD_PAPEL_REGRESSAO        = @V_CD_PAPEL_CALCULADO
                AND   (    (isnull(CD_INDICADOR_PESSOAL, 0) = 0  AND  CD_PAPEL_REGRESSAO = @V_CD_PAPEL_CALCULADO)
                        OR (isnull(CD_INDICADOR_PESSOAL, 0) > 0  AND  ISNULL(CD_PAPEL_REGRESSAO,@V_CD_PAPEL_CARREIRA_ATUAL) = @V_CD_PAPEL_CARREIRA_ATUAL)  )    

    
		-- VERIFICA A QDE DE CICLOS DE CARÊNCIA 
		IF (@V_QT_CICLOS_CARENCIA > 0 ) 
		BEGIN
		  -- REGRA POR INDICADOR
		  IF (@V_CD_INDICADOR_CARENCIA > 0)
		  BEGIN
			SELECT @V_VL_INDICADOR_CARENCIA = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
			FROM TB_PESSOA_INDICADOR  with (NOLOCK)
			WHERE CD_PESSOA            = @CD_PESSOA
			AND   CD_FUNCAO            = @CD_FUNCAO
			AND   NM_CICLO             = @NM_CICLO
			--AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
			AND   CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_CARENCIA   
         
			-- VERIFICA SE PASSOU A CARENCIA
			IF (@V_VL_INDICADOR_CARENCIA > @V_QT_CICLOS_CARENCIA)
			BEGIN
                          IF (@V_ID_TIPO_PAPEL = 2)  -- DESEMPENHO
                          BEGIN
                            SELECT @V_CD_PAPEL_CALCULADO  =   @v_CD_PAPEL_NOVO 
                          END
			END
			ELSE
			BEGIN
                          IF (@V_ID_TIPO_PAPEL = 2)  -- DESEMPENHO
                          BEGIN
                            SELECT @V_CD_PAPEL_CALCULADO = @V_CD_PAPEL_CARREIRA_ATUAL 
                          END
			END

		  END
		  ELSE IF (@V_CD_INDICADOR_CARENCIA = 0)
		  BEGIN

			-- REGRA POR CURSOR DO PAPEL CARENCIA
			SET @CURSOR_PAPEL_CARENCIA = CURSOR FAST_FORWARD
			FOR
			  SELECT CD_PAPEL_CARREIRA, CD_PAPEL_DESEMPENHO
			  FROM TB_PESSOA_PAPEL_HISTORICO   with (NOLOCK)
			  WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO < @NM_CICLO
			  ORDER BY NM_CICLO DESC   
			OPEN @CURSOR_PAPEL_CARENCIA
			FETCH NEXT FROM @CURSOR_PAPEL_CARENCIA
			INTO @V_CD_PAPEL_CARREIRA_CARENCIA, @V_CD_PAPEL_DESEMPENHO_CARENCIA
 
			WHILE @@FETCH_STATUS = 0
			BEGIN  
		          -- VERIFICA SE O PAPEL CARREIRA HISTORICO É MENOR QUE PAPEL CARREIRA ATUAL
			  IF (@V_CD_PAPEL_CARREIRA_CARENCIA <  @V_CD_PAPEL_CARREIRA_ATUAL)
			  BEGIN
			    BREAK
			  END
			  SELECT   @V_QT_CICLOS_CARENCIA = (@V_QT_CICLOS_CARENCIA - 1)  -- DIMINUI OS CICLOS A RETROAGIR
			  --A QDE DE CICLOS A RETROAGIR É IGUAL 0
			  IF (@V_QT_CICLOS_CARENCIA = 0)
			  BEGIN
				BREAK
			  END
			  FETCH NEXT FROM @CURSOR_PAPEL_CARENCIA 
			  INTO @V_CD_PAPEL_CARREIRA_CARENCIA, @V_CD_PAPEL_DESEMPENHO_CARENCIA
			END -- fim PAPEL CARENCIA
			CLOSE       @CURSOR_PAPEL_CARENCIA
			DEALLOCATE  @CURSOR_PAPEL_CARENCIA   


			-- VERIFICA SE ACABOU A CARENCIA
			IF (@V_QT_CICLOS_CARENCIA =  0)
			BEGIN
                        	IF (@V_ID_TIPO_PAPEL = 2)  -- DESEMPENHO
                          	BEGIN
                            	  SELECT @V_CD_PAPEL_CALCULADO  =   @v_CD_PAPEL_NOVO 
                          	END

			END

			-- VERIFICA SE ESTÁ NA CARÊNCIA 
		  	IF (@V_QT_CICLOS_CARENCIA > 0)
		  	BEGIN
                          IF (@V_ID_TIPO_PAPEL = 2)  -- DESEMPENHO
                          BEGIN
                            SELECT @V_CD_PAPEL_CALCULADO  =   @V_CD_PAPEL_CARREIRA_ATUAL
                          END
		  	END
			
		  END	
		END

		-- VERIFICAR SE ATUALIZA O PAPEL CARREIRA JUNTO COM O DESEMPENHO (26-09-2017)
		IF (@V_ID_INICIO_CICLO_PAPEL_CARREIRA = 3)
		BEGIN

		  -- ATUALIZA O PAPEL HISTORICO
		  BEGIN TRANSACTION
		  UPDATE TB_PESSOA_PAPEL_HISTORICO 
		  SET  CD_PAPEL_DESEMPENHO  = @V_CD_PAPEL_CALCULADO 
                      ,CD_PAPEL_CARREIRA    = @V_CD_PAPEL_CALCULADO 
		  WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO
		  COMMIT TRANSACTION
		END
		ELSE IF (@V_ID_INICIO_CICLO_PAPEL_CARREIRA <> 3 OR @V_EVENTO_ATUALIZACAO_PAPEL = 3)  -- INICIO DO PAPEL CARREIRA DIFERENTE DE JUNTO COM O DESEMPENHO E ATUALIZACAO DO PAPEL É SEMANAL

		BEGIN
  
   		  -- ATUALIZA O PAPEL HISTORICO
		  BEGIN  TRANSACTION
		  UPDATE TB_PESSOA_PAPEL_HISTORICO 
		  SET  CD_PAPEL_DESEMPENHO  = @V_CD_PAPEL_CALCULADO 
		  WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO
		  COMMIT TRANSACTION
		END

		EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA,
				@CD_FUNCAO,
				@NM_CICLO,
				@V_CD_PAPEL_CALCULADO ,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS
		SELECT @ID_PAPEL_DESEMPENHO_ALTERADO = 1  -- ALDIR (22/09/2022)
	  END

	  -- ALTERADO ALDIR (14/05/2024) : O DISTRIBUIDOR POR TER O DESEMPENHO 5 (PRATA) SEM EVOLUIR OU REGREDIR, PORÉM, OS INDICADORES DE ATIVO PARA BÔNUS : 1036, 1037 E 1038 PODEM
	  -- TER SIDO ALTERADOS. OS PEDIDOS DOWNLINE (ABAIXO) DEVEM SER REPROCESSADOS PARA APLICAR A COMPRESSÃO DE BONIFICAÇÃO.
	  -- PERMANECEU 
          IF (@V_CD_PAPEL_CALCULADO = @V_CD_PAPEL_DESEMPENHO_ATUAL AND @V_CD_PAPEL_DESEMPENHO_ATUAL = 5 AND @V_ID_ATUALIZACAO_PAPEL_DESEMPENHO IN (2,3))  -- PARMANECEU 5 (PRATA)
          BEGIN -- INICIO : ALTERADO ALDIR (14/05/2024)
	    SELECT @V_QDE_PEDIDOS = COUNT(*) 
            FROM TB_PEDIDO WITH (NOLOCK)
            WHERE CD_FUNCAO             = @CD_FUNCAO
            AND   NM_CICLO_INDICADOR    = @NM_CICLO 
	    AND   NM_CICLO_CANCELAMENTO IS NULL 
	    AND   CD_PESSOA IN (SELECT CD_PESSOA_VINCULADA FROM TB_WRK_MN_TOPOLOGIA WITH (NOLOCK) 
	                        WHERE CD_PESSOA = @CD_PESSOA 
				AND   CD_FUNCAO = @CD_FUNCAO
                                AND   ID_ORDEM  = 2 -- DESCENDENTE
				AND   NM_CICLO = @NM_CICLO)     
	    IF (@V_QDE_PEDIDOS > 0)
	    BEGIN
	      SELECT @ID_PAPEL_DESEMPENHO_ALTERADO = 1  -- ALDIR (14/05/2024)
	    END
	
	  END -- FIM : ALTERADO ALDIR (14/05/2024)



	  -- CLIENTE KENKO PATTO (04/08/2021) : ATUALIZAR A QUALIFICAÇÃO DIÁRIO PARA OS NIVEIS :1 p/ 2, 2 p/ 3 e 3 p/ 4... SOMENTE EVOLUÇÃO
	  IF (@CD_CLIENTE = 55 AND @V_CD_PAPEL_CARREIRA_ATUAL IN (1,2,3) AND ISNULL(@V_ID_INICIO_CICLO_PAPEL_CARREIRA,0) > 1000)
	  BEGIN
	    SELECT @V_VL_INDICADOR_QUALIFICACAO = ISNULL(MAX(VL_INDICADOR_PESSOAL),@V_CD_PAPEL_CARREIRA_ATUAL)	
	    FROM TB_PESSOA_INDICADOR with (NOLOCK)	
	    WHERE CD_PESSOA            = @CD_PESSOA
	    AND   CD_FUNCAO            = @CD_FUNCAO
	    AND   NM_CICLO             = @NM_CICLO
	    AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
	    AND   CD_INDICADOR_PESSOAL = ISNULL(@V_ID_INICIO_CICLO_PAPEL_CARREIRA,0)	

	    IF (@V_VL_INDICADOR_QUALIFICACAO > @V_CD_PAPEL_CARREIRA_ATUAL)
	    BEGIN	
		  -- ATUALIZA O PAPEL
		  BEGIN  TRANSACTION
		  UPDATE TB_PESSOA_RESUMO
		  SET   CD_PAPEL_CARREIRA      = @V_VL_INDICADOR_QUALIFICACAO
		       ,CD_PAPEL_DESEMPENHO    = @V_VL_INDICADOR_QUALIFICACAO	
		       ,DT_ATUALIZACAO         = GETDATE()
		       ,CD_USUARIO_ATUALIZACAO = 0
		  WHERE CD_PESSOA         = @CD_PESSOA
		  AND   CD_FUNCAO         = @CD_FUNCAO
		  COMMIT TRANSACTION
   
   		  -- ATUALIZA O PAPEL HISTORICO (CICLO ESTENDIDO)
		  BEGIN  TRANSACTION
		  UPDATE TB_PESSOA_PAPEL_HISTORICO 
		  SET  CD_PAPEL_CARREIRA  = @V_VL_INDICADOR_QUALIFICACAO,  CD_PAPEL_DESEMPENHO  = @V_VL_INDICADOR_QUALIFICACAO
		  WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO
		  COMMIT TRANSACTION

   		  -- ATUALIZA O PAPEL HISTORICO (CICLO ATUAL)
		  BEGIN  TRANSACTION
		  UPDATE TB_PESSOA_PAPEL_HISTORICO 
		  SET  CD_PAPEL_CARREIRA  = @V_VL_INDICADOR_QUALIFICACAO,  CD_PAPEL_DESEMPENHO  = @V_VL_INDICADOR_QUALIFICACAO
		  WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = [dbo].[FN_BUSCA_CICLO_SUPERIOR_MMN] (@NM_CICLO,2)
		  COMMIT TRANSACTION

	
	    END
	  END -- FIM -> CLIENTE KENKO PATTO (04/08/2021) : ATUALIZAR A QUALIFICAÇÃO DIÁRIO PARA OS NIVEIS :1 p/ 2, 2 p/ 3 e 3 p/ 4... SOMENTE EVOLUÇÃO








  END -- FECHAMENTO DO CICLO ou TEM CALCULO DIARIO DO PAPEL

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0

	
  SELECT @VAR_RETORNO = 0
		
		
END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;




























GO
