SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_LINHA_SEPARACAO]
	@CD_LINHA numeric(18, 0),
	@DC_LINHA_SEPARACAO varchar(80),
	@CD_CENTRO_DISTRIBUICAO numeric(18, 0),
	@ID_SITUACAO INT,	
				
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_LINHA_SEPARACAO NUMERIC(18,0) OUTPUT

AS


BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'

			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_LINHA_SEPARACAO (
					DC_LINHA_SEPARACAO,
					CD_CENTRO_DISTRIBUICAO,
					ID_SITUACAO,	
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@DC_LINHA_SEPARACAO,
					@CD_CENTRO_DISTRIBUICAO,
					@ID_SITUACAO,	
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_LINHA_SEPARACAO = IDENT_CURRENT('TB_LINHA_SEPARACAO')
			
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'A'

			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_LINHA_SEPARACAO SET 
					DC_LINHA_SEPARACAO = @DC_LINHA_SEPARACAO,
					CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO,
					ID_SITUACAO = @ID_SITUACAO,	
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO
				WHERE CD_LINHA_SEPARACAO = @CD_LINHA
								
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	


		IF @VAR_TIPO_FUNCAO = 'E'

			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_LINHA_SEPARACAO 
				WHERE CD_LINHA_SEPARACAO = @CD_LINHA
								
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	


		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
