SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*****************************************
Grava o resultado da analise no fluxo de aprovação
Se um dos itens estiver como Reprovado vamos colocar o cadastro da pessoa
como inativa
Se os 3 forem aprovados vamos colcoar como ativa
*****************************************/

CREATE PROCEDURE [dbo].[pr_PessoaGravaResultadoAnaliseFluxoAprovacao]
	@p_cdPessoa					NUMERIC(18,0),
	@p_cdSituacaoCadastro		NUMERIC(18,0),
	@p_idResultado				INT,	
	@p_dcMotivo					VARCHAR(300),
	@p_idPossuiRestricaoCredito	INT,	
	@p_cdUsuario				NUMERIC(18,0),
	
	@p_cdRetorno				INT OUTPUT,
	@p_dcErro					NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

DECLARE	@v_cdPessoaIndicante				NUMERIC(18,0),
		@v_idCriaAlocacao					INT,
		@v_cicloAlocacaoAutomatico			NUMERIC(18,0),
		@v_cdEstComercialAlocacaoAutomatico	NUMERIC(18,0),
		@v_qtdeRegistros					INT,
		@v_qtdeAlocacao						INT,
		@v_codigoEstruturaComercial			NUMERIC(18,0),
		@v_numeroCiclo						NUMERIC(18,0),
		@v_sitComercialAtual				numeric(18,0),
		@v_qtdeAnalisesAbertas				INT,
		@v_qtdeAnalisesReprovadas			INT,
		@v_ultimaSitComercialHist			numeric(18,0)

BEGIN TRY

	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_dcErro = ''
	    SELECT @p_cdRetorno = 0


		-- ****************************
		-- GRAVA O RESULTADO
		-- ****************************

		-- ******************************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON 20/02/2024
		-- NO CASO DA SITUAÇÃO 33 DE CREDITO VAMOS MANTER O HISTORICO ANTERIOR DE MOTIVO
		-- E VAMOS CONCATENAR O QUE ESTAVA ANTERIORMENTE COM O NOVO MOTIVO
		-- ISSO SERÁ IMPORTANTE PARA RASTREABILIDADE NO SUPORTE
		-- ******************************************************************************************
		IF @p_cdSituacaoCadastro = 33
			BEGIN
				SELECT @p_dcMotivo = ISNULL(MAX(DC_MOTIVO), '') + ' - ' + @p_dcMotivo
				FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO
				WHERE CD_SITUACAO_CADASTRO = @p_cdSituacaoCadastro
				AND CD_PESSOA = @p_cdPessoa
				AND DT_FINAL IS NULL
			END

		EXEC pr_PessoaGravaHistoricoSituacaoCadastro
			@p_cdPessoa,
			@p_cdSituacaoCadastro,
			2, --FIM	
			@p_idResultado,	
			@p_dcMotivo,
			@p_idPossuiRestricaoCredito,	
			@p_cdUsuario,
			@p_cdRetorno		OUTPUT,
			@p_dcErro			OUTPUT,
			@p_linhasAfetadas	OUTPUT


		-- **************************************************************
		-- VERIFICA SE AINDA POSSUI ALGUM TIPODE ANALISE EM ABERTO
		-- EM CASO POSITIVO NAO MEXE NA SITUAÇÃO DO CADASTRO
		-- **************************************************************
		SELECT @v_qtdeAnalisesAbertas = COUNT(*)
		FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)
		WHERE CD_SITUACAO_CADASTRO IN (31, 32, 33)
		AND DT_FINAL IS NULL
		AND CD_PESSOA = @p_cdPessoa

		-- TODAS FORAM FECHADAS
		-- É PRECISO VERIFICAR SE O CADASTRO DA PESSOA FICARA ATIVO OU INATIVO
		IF @v_qtdeAnalisesAbertas =0
			BEGIN
				-- VERIFICA SE ALGUM DOS ITENS FOI REPROVADO
				
				SELECT @v_qtdeAnalisesReprovadas = COUNT(*)
				FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)
				WHERE CD_PESSOA_HIST_SITUACAO_CADASTRO IN (SELECT MAX(CD_PESSOA_HIST_SITUACAO_CADASTRO) 
														   FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)
														   WHERE CD_PESSOA = @p_cdPessoa and CD_SITUACAO_CADASTRO = 31)
				AND ID_RESULTADO_CADASTRO = 2
				AND CD_PESSOA = @p_cdPessoa

				SELECT @v_qtdeAnalisesReprovadas += COUNT(*)
				FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)
				WHERE CD_PESSOA_HIST_SITUACAO_CADASTRO IN (SELECT MAX(CD_PESSOA_HIST_SITUACAO_CADASTRO) 
														   FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)
														   WHERE CD_PESSOA = @p_cdPessoa and CD_SITUACAO_CADASTRO = 32)
				AND ID_RESULTADO_CADASTRO = 2
				AND CD_PESSOA = @p_cdPessoa

				SELECT @v_qtdeAnalisesReprovadas += COUNT(*)
				FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)
				WHERE CD_PESSOA_HIST_SITUACAO_CADASTRO IN (SELECT MAX(CD_PESSOA_HIST_SITUACAO_CADASTRO) 
														   FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)
														   WHERE CD_PESSOA = @p_cdPessoa and CD_SITUACAO_CADASTRO = 33)
				AND ID_RESULTADO_CADASTRO = 2
				AND CD_PESSOA = @p_cdPessoa

				IF @v_qtdeAnalisesReprovadas > 0
					BEGIN
						-- ABRE A SITUAÇÃO INATIVA
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@p_cdPessoa,
							5, --INATIVO
							1, --INICIO	
							@p_idResultado,	
							@p_dcMotivo,
							@p_idPossuiRestricaoCredito,	
							@p_cdUsuario,
							@p_cdRetorno		OUTPUT,
							@p_dcErro			OUTPUT,
							@p_linhasAfetadas	OUTPUT

						-- ALTERA A SITUAÇÃO DE CADASTRO NA TB_PESSOA
						UPDATE TB_PESSOA 
						SET CD_SITUACAO_CADASTRO = 5
						WHERE CD_PESSOA = @p_cdPessoa

					END
				ELSE
					BEGIN
						-- ABRE A SITUAÇÃO ATIVA
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@p_cdPessoa,
							4, --ATIVO
							1, --INICIO	
							@p_idResultado,	
							@p_dcMotivo,
							@p_idPossuiRestricaoCredito,	
							@p_cdUsuario,
							@p_cdRetorno		OUTPUT,
							@p_dcErro			OUTPUT,
							@p_linhasAfetadas	OUTPUT

						-- ALTERA A SITUAÇÃO DE CADASTRO NA TB_PESSOA
						UPDATE TB_PESSOA 
						SET CD_SITUACAO_CADASTRO = 4
						WHERE CD_PESSOA = @p_cdPessoa

					END

				-- PRIMEIRO VAMOS BUSCAR A SITUAÇÃO COMERCIAL ATUAL, SE FOR DIFERENTE DE 99 NÃO PRECISA ALTERAR
				SELECT @v_sitComercialAtual = ISNULL(CD_SITUACAO_COMERCIAL,0),
					   @v_codigoEstruturaComercial = CD_EST_COMERCIAL,
					   @v_numeroCiclo = NM_CICLO_ATUAL
				FROM TB_PESSOA_RESUMO WITH(NOLOCK)
				WHERE CD_PESSOA = @p_cdPessoa
			    AND CD_FUNCAO = 2
						
				IF @v_sitComercialAtual = 99
					BEGIN
						-- ****************************************************************************
						-- Correção por Diego Zilioti em 03/05/2018 
						-- Nos casos onde a pessoa já possui alocação não podemos limpar a situação comercial
						-- Portanto vamos buscar a última situação comercial da pessoa e atribuí-la
						-- ****************************************************************************
						select @v_ultimaSitComercialHist = ISNULL(MIN(CD_SITUACAO_COMERCIAL),0)
						  from TB_HIST_SITUACAO_CONSULTORA WITH(NOLOCK)
						 where CD_PESSOA = @p_cdPessoa
						   and NM_CICLO = (SELECT NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO WITH(NOLOCK) WHERE CD_PESSOA = @p_cdPessoa AND CD_FUNCAO = 2)
						
						-- ALTERA A SITUAÇÃO COMERCIAL NA TB_PESSOA_RESUMO
						UPDATE TB_PESSOA_RESUMO
						SET CD_SITUACAO_COMERCIAL = @v_ultimaSitComercialHist
						WHERE CD_PESSOA = @p_cdPessoa
						
						-- ************************************
						-- GERA A SITUAÇÃO COMERCIAL DA PESSOA
						-- Atualizado por Diego Zilioti em 02/09/2021 - Correção bitrix #2945
						-- VAMOS CHAMAR AQUI A ROTINA DE ATUALIZAÇÃO DA SIT COMERCIAL PARA REGISTRAR O HISTÓRICO
						-- ************************************
						EXEC pr_PessoaGeraSituacaoComercial
							@p_cdPessoa,
							2,
							@v_codigoEstruturaComercial,
							@v_numeroCiclo,
							1, -- alocação de rede 
							@p_cdUsuario,
							@p_cdRetorno		output,
							@p_dcErro			output,
							@p_linhasAfetadas	output
					END
						
				-- EXECUTA PROCESSO DE ALOCAÇÃO AUTOMATICA DE REDE
											
				-- ***********************************************************************				
				-- VERIFICA SE DEVEMOS OU NÃO ALOCAR A PESSOA NA REDE 
				-- SOMENTE PARA REVENDEDORAS
				-- ***********************************************************************
				-- Atualizado por Diego Zilioti em 02/09/2021 - Correção bitrix #2945
				-- todo o trecho abaixo de alocação não é mais necessário pois a alocação já aconteceu antes
				--SELECT @v_cdPessoaIndicante = CD_PESSOA_INDICANTE
				--FROM TB_PESSOA WITH(NOLOCK)
				--WHERE CD_PESSOA = @p_cdPessoa
						
				--EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
				--	@p_cdPessoa,
				--	@v_cdPessoaIndicante,
				--	2,
				--	@v_idCriaAlocacao					output,	-- 1 para sim e 2 para não
				--	@v_cicloAlocacaoAutomatico			output, 
				--	@v_cdEstComercialAlocacaoAutomatico	output, 
				--	@p_cdRetorno		OUTPUT,
				--	@p_dcErro			OUTPUT,
				--	@p_linhasAfetadas	OUTPUT
						
							
				--IF @v_idCriaAlocacao = 1
				--	BEGIN
							
				--		-- ****************************************************
				--		-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
				--		-- *******************************************************************
				--		SELECT @v_qtdeRegistros = COUNT(*)
				--		FROM TB_ALOCACAO_REDE WITH(NOLOCK)
				--		WHERE CD_PESSOA = @p_cdPessoa
				--		AND NM_CICLO = @v_cicloAlocacaoAutomatico
							
				--		IF @v_qtdeRegistros = 0							
				--			BEGIN
				--				EXEC pr_PessoaGeraAlocacaoRede
				--					@p_cdPessoa,
				--					2,
				--					@v_cdEstComercialAlocacaoAutomatico,
				--					@v_cicloAlocacaoAutomatico,
				--					@p_cdUsuario,
				--					@p_cdRetorno		OUTPUT,
				--					@p_dcErro			OUTPUT,
				--					@p_linhasAfetadas	OUTPUT
				--			END
				--	END -- FIM DO @V_CRIA_ALOCACAO = 1
																	
					
			END


		-- *****************************************************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 24/11/2016
		-- AO REAVALIAR CREDITO PRECISA VERIFICAR SE A PESSOA JA ESTA ALOCADA NA REDE
		-- EM CASO POSITIVO TEMOS QUE ATUALIZAR OS INDICADORES NOVAMENTE E EM SEGUIDA EXECUTAR NOVAMENTE A
		-- ATUALIZAÇÃO DE CREDITO
		-- ISSO VAI OCORRE SOMENTE QUANDO A SITUAÇÃO FOI 33 E SE A PESSOA TIVER ALOCAÇÃO DE REDE
		-- *****************************************************************************************************

		IF @p_cdSituacaoCadastro = 33
			BEGIN
				
				-- VERIFICA SE A PESSOA JA FOI ALOCADA NA REDE
				SELECT @v_qtdeAlocacao = COUNT(CD_EST_COMERCIAL)
				FROM TB_PESSOA_RESUMO WITH(NOLOCK)
				WHERE CD_PESSOA = @p_cdPessoa
				AND CD_EST_COMERCIAL IS NOT NULL
				AND CD_FUNCAO = 2

				-- POSSUI ALOCAÇÃO VAMOS ATUALIZAR OS INDICADORES E EXECUTAR ATUALIZAÇÃO DE CREDITO
				IF @v_qtdeAlocacao > 0
					BEGIN

						SELECT	@v_codigoEstruturaComercial = CD_EST_COMERCIAL,
								@v_numeroCiclo = NM_CICLO_ATUAL
						FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						WHERE CD_PESSOA = @p_cdPessoa
						AND CD_FUNCAO = 2


						-- ************************************
						-- EXECUTA INDICADORES
						-- ************************************
						EXEC SP_CALCULA_PESSOA_INDICADOR
										@p_cdPessoa,					-- CODIGO DA PESSOA
										2,								-- FUNCAO DA PESSOA	
										@v_codigoEstruturaComercial,	-- ESTRUTURA COMERCIAL
										@v_numeroCiclo,					-- CICLO
										0,								-- PEDIDO
										8,								-- EVENTO REAVALIAR CREDITO
										1,								-- TIPO DE ATUALIZACAO
										1,                              -- CALCULA OS INDICADORES ON-LINE
										@p_cdUsuario,					-- USUARIO 
										@p_cdRetorno		OUTPUT,
										@p_dcErro			OUTPUT,
										@p_linhasAfetadas	OUTPUT

  	
						-- ************************************
						-- GRAVA DADOS DE CREDITO
						-- ************************************
						EXEC pr_PessoaAtualizaLimiteCredito
										0,
										@p_cdPessoa,				-- CODIGO DA PESSOA
										2,							-- FUNCAO DA PESSOA
										2,							-- CD_MOTIVO
										'Reavaliação de Crédito',	-- DC_MOTIVO
										'',							-- DATA DE INICIO
										'',							-- DATA DE TERMINO,
										0,							-- VALOR DO CREDITO
										'I',
										@p_cdUsuario,				-- CODIGO USUARIO
										@p_cdRetorno		OUTPUT,
										@p_dcErro			OUTPUT,
										@p_linhasAfetadas	OUTPUT
					END
			END

		SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
