SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ********************************************************************************
-- PROCEDURE CRIADA POR ANDERSON - 04/12/2017
-- ESSA PROCEDURE CRIA O CALENDARIO COMERCIASL DAS ESTRUTURAS DE FORMA MASSIVA
-- ISSO FUNCIONA APENAS COM CICLOS MENSAIS
-- O ANO É OBRIGATORIO
-- PODE CRIAR APENAS DE UM DETERMINO CICLO, SE QUISER CRIAR PARA TODOS OS CICLOS
-- BASTA COLOCAR ZERO (0)
-- PODE CRIAR APENAS DE UMA DETERMINADA ESTRUTURA COMERCIAL. SE QUISER CRIAR
-- PARA TODAS BASTA COLOCAR 0
-- EXEMPLO: ANO = 2018 / EST. COMERCIAL = 0 / NM_CICLO = 0 - CRIA CALENDARIOS
-- DE TODOS OS CICLOS CRIADOS DO ANO DE 2018 PARA TODAS AS ESTRUTURAS
-- PREMISSA:: OS CICLOS DEVEM ESTAR CRIADOS NA TABELA TB_CICLO
-- ******************************************************************************

CREATE PROCEDURE [dbo].[pr_EstruturaComercialInsereCalendarioFormaMassiva]
	@nmAno					NUMERIC(18,0),
	@nmCiclo				NUMERIC(18,0),
	@cdEstComercial			NUMERIC(18,0),
	
	@cdLinha				INT OUTPUT,
	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT


	
AS


DECLARE @Cursor_Itens			CURSOR
DECLARE @Cursor_Ciclos			CURSOR
DECLARE	@CD_EST_COMERCIAL		NUMERIC(18,0)
DECLARE @NM_CICLO				NUMERIC(18,0)
DECLARE @V_RESTO				INT

DECLARE @V_DT_INICIAL			VARCHAR(10)
DECLARE @V_DT_FINAL 			VARCHAR(10)
									
	
BEGIN TRY

	SELECT @cdLinha = 1
		
	-- TODAS AS ESTRUTURAS COMERCIAIS
	IF @cdEstComercial = 0
		BEGIN
			
			SET @Cursor_Itens = CURSOR FAST_FORWARD
			FOR

				-- ***********************************************
				-- BUSCA TODAS AS EST COMERCIAL ATIVAS DE ULTIMO NIVEL
				-- ***********************************************
					
				SELECT A.CD_EST_COMERCIAL
				FROM TB_EST_COMERCIAL A, TB_NIVEL_EST_COMERCIAL B
				WHERE A.ID_ATIVO = 1
				AND A.CD_NIVEL_EST_COMERCIAL = B.CD_NIVEL_EST_COMERCIAL
				AND B.ID_ULTIMO_NIVEL = 1

		END
	ELSE
		BEGIN

			SET @Cursor_Itens = CURSOR FAST_FORWARD
			FOR

				-- ***********************************************
				-- BUSCA SOMENTE EST COMERCIAL INFORMADA ATIVAS DE ULTIMO NIVEL
				-- ***********************************************
					
				SELECT A.CD_EST_COMERCIAL
				FROM TB_EST_COMERCIAL A, TB_NIVEL_EST_COMERCIAL B
				WHERE A.ID_ATIVO = 1
				AND A.CD_NIVEL_EST_COMERCIAL = B.CD_NIVEL_EST_COMERCIAL
				AND B.ID_ULTIMO_NIVEL = 1
				AND A.CD_EST_COMERCIAL = @cdEstComercial
			
		END			
		
	SELECT @cdLinha = 2	
										
	OPEN @Cursor_Itens
	FETCH NEXT FROM @Cursor_Itens
	INTO	@CD_EST_COMERCIAL
				
	WHILE @@FETCH_STATUS = 0
		BEGIN
		
			-- AGORA VAMOS ABRIR UM NOVO CURSOR PARA VERIFICAR QUAIS CICLOS TEMOS
			-- NO ANO INFORMADO

					
			IF @nmCiclo = 0
				BEGIN
					SET @Cursor_Ciclos = CURSOR FAST_FORWARD
					FOR
				
						SELECT NM_CICLO
						FROM TB_CICLO
						WHERE NM_ANO = @nmAno
						ORDER BY CD_CICLO_VENDA ASC
				END
			ELSE
				BEGIN
					SET @Cursor_Ciclos = CURSOR FAST_FORWARD
					FOR
				
						SELECT NM_CICLO
						FROM TB_CICLO
						WHERE NM_ANO = @nmAno
						AND NM_CICLO = @nmCiclo
						ORDER BY CD_CICLO_VENDA ASC
				END

			SELECT @cdLinha = 3

			OPEN @Cursor_Ciclos
			FETCH NEXT FROM @Cursor_Ciclos
			INTO	@NM_CICLO
				
			WHILE @@FETCH_STATUS = 0
				BEGIN

					SELECT @cdLinha = 99

					-- ***********************************************
					-- JANEIRO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '01'
						BEGIN
							
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-01-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-01-31'
							
						END

					SELECT @cdLinha = 4

					-- ***********************************************
					-- FEVEREIRO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '02'
						BEGIN
							-- VERIFICA SE É ANO BISEXTO
							SELECT @V_RESTO = @nmAno%4
							IF @V_RESTO = 0
								BEGIN
									
									SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-02-01'
									SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-02-29'
							

								END
							ELSE
								BEGIN
									SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-02-01'
									SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-02-28'
																
								END
									
						END

					SELECT @cdLinha = 5

					-- ***********************************************
					-- MARÇO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '03'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-03-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-03-31'
						END

					SELECT @cdLinha = 6

					-- ***********************************************
					-- ABRIL
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '04'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-04-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-04-30'
						END

					SELECT @cdLinha = 7

					-- ***********************************************
					-- MAIO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '05'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-05-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-05-31'
						END

					SELECT @cdLinha = 8

					-- ***********************************************
					-- JUNHO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '06'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-06-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-06-30'
						END

					SELECT @cdLinha = 9
							
					-- ***********************************************
					-- JULHO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '07'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-07-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-07-31'
						END

					SELECT @cdLinha = 10
							
					-- ***********************************************
					-- AGOSTO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '08'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-08-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-08-31'
						END


					SELECT @cdLinha = 11
							
					-- ***********************************************
					-- SETEMBRO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '09'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-09-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-09-30'
						END

					SELECT @cdLinha = 12
							
					-- ***********************************************
					-- OUTUBRO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '10'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-10-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-10-31'
						END

					SELECT @cdLinha = 13
							
					-- ***********************************************
					-- NOVEMBRO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '11'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-11-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-11-30'
						END

					SELECT @cdLinha = 14
	
					-- ***********************************************
					-- DEZEMBRO
					-- ***********************************************
					IF SUBSTRING(CONVERT(VARCHAR(6),@NM_CICLO), 5,2) = '12'
						BEGIN
							SELECT @V_DT_INICIAL = CONVERT(VARCHAR(4), @nmAno) + '-12-01'
							SELECT @V_DT_FINAL = CONVERT(VARCHAR(4), @nmAno) + '-12-31'
						END

					SELECT @cdLinha = 15

					-- APAGA CALENDARIO EXISTENTE
					DELETE FROM TB_CALENDARIO_COMERCIAL
					WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					AND NM_CICLO = @NM_CICLO

					SELECT @cdLinha = 16

					-- INSERE REGISTRO
					INSERT INTO TB_CALENDARIO_COMERCIAL VALUES (@CD_EST_COMERCIAL, @nmAno, @NM_CICLO, @V_DT_INICIAL, @V_DT_FINAL, GETDATE(), 0, GETDATE(),0)

					SELECT @cdLinha = 17

					FETCH NEXT FROM @Cursor_Ciclos
					INTO	@NM_CICLO

				END

					
			FETCH NEXT FROM @Cursor_Itens
			INTO	@CD_EST_COMERCIAL
								
		END
			
		
		
	SELECT @cdErro = 0

		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @cdErro = 1
      SELECT @dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)

END CATCH;
GO
