SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CAD_LOG_ACESSO_MENU_SISTEMA]
	@CD_PESSOA			NUMERIC(18,0),
	@CD_MENU_SISTEMA	NUMERIC(20),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0
			
	BEGIN
		BEGIN TRANSACTION 

		INSERT INTO TB_LOG_ACESSO_MENU_SISTEMA VALUES (
			@CD_PESSOA,
			@CD_MENU_SISTEMA,
			GETDATE()
			)

		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	
		COMMIT TRANSACTION
	END
	
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
