SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_DividaInsereIntegracaoCartao]
	@codigoIntegracaoCartao		numeric(18,0),
	@numeroPedido				numeric(18,0),
	@descricaoValorPedido		varchar(50),
	@descricaoParcelas			varchar(50),
	@descricaoPortador			varchar(50),
	@descricaoNumeroCartao		varchar(50),
	@descricaoCVC				varchar(50),
	@descricaoMes				varchar(50),
	@descricaoAno				varchar(50),
	@codigoSituacaoIntegracao	int,
	
	@p_tipoFuncao							varchar(1),
			
	@p_codigoErro							int				output,
	@p_descricaoErro						varchar(1000)	output,
	@p_linhasAfetadas						int				output,
	@p_codigoGerado							numeric(18,0)	output
	

AS

BEGIN TRY
	
		SELECT @p_linhasAfetadas = 0
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	
		IF @p_tipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
	
				INSERT INTO TB_INTEGRACAO_CARTAO (
					NM_PEDIDO,
					DC_VALOR_PEDIDO,
					DC_PARCELAS,
					DC_PORTADOR,
					DC_NUMERO_CARTAO,
					DC_CVC,
					DC_MES,
					DC_ANO,
					ID_SITUACAO_INTEGRACAO_CARTAO
					)			
						
				VALUES           (
					@numeroPedido,
					@descricaoValorPedido,
					@descricaoParcelas,
					@descricaoPortador,
					@descricaoNumeroCartao,
					@descricaoCVC,
					@descricaoMes,
					@descricaoAno,
					@codigoSituacaoIntegracao
					)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_INTEGRACAO_CARTAO')
			
				COMMIT TRANSACTION
			END	
			
			
		
		IF @p_tipoFuncao = 'E'
			BEGIN
				
				BEGIN TRANSACTION 
	
				DELETE FROM TB_INTEGRACAO_CARTAO 
				WHERE CD_INTEGRACAO_CARTAO = @codigoIntegracaoCartao
			
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END			

		

		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
