SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_VERIFICA_PENDENCIA_CREDITO]
	@NM_PEDIDO			numeric(18, 0),
	@ID_SIMULACAO		int, -- se for 1 faz a simulação e nao grava os dados, se for 2 efetiva a gravação
	@CD_USUARIO			numeric(18, 0),
	@CD_PENDENTE		numeric(18, 2)	OUTPUT,
	@CD_ERRO			INT				OUTPUT,
	@DC_ERRO			VARCHAR(100)	OUTPUT
	
AS

DECLARE @V_CONTADOR					int,
	    @V_CD_REGRA_COMERCIAL		numeric(18, 2),
        @V_ID_PEND_SUP_MINIMA_CREDITO	int,
		@V_ID_PEND_SUP_MAXIMA_CREDITO	int,
		@V_PC_TOL_MAXIMA_CREDITO	NUMERIC(18,2),
		@V_PC_TOL_MINIMA_CREDITO	NUMERIC(18,2),
		@V_VL_CREDITO_TOTAL			NUMERIC(18,2),
		@V_VL_CREDITO_DISPONIVEL    NUMERIC(18,2),
        @V_CD_PESSOA				numeric(18,0),
        @QTD_DIVIDA_VENCIDA			int
        
DECLARE @V_PC_SUPERACAO_CREDITO    NUMERIC(18,2)

	
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	    SELECT @CD_PENDENTE = 0
	    	    
	    -- VERIFICA SE PEDIDO EXISTE
	    SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PEDIDO
		WHERE NM_PEDIDO = @NM_PEDIDO
		
		IF @V_CONTADOR = 0
		-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Pedido não encontrado'
				RETURN
			END
			
		SELECT	@V_CD_REGRA_COMERCIAL = CD_REGRA_COMERCIAL,
				@V_CD_PESSOA = CD_PESSOA,
				@V_VL_CREDITO_TOTAL = VL_CREDITO_TOTAL,
				@V_VL_CREDITO_DISPONIVEL = VL_CREDITO_DISPONIVEL
		FROM TB_PEDIDO
		WHERE NM_PEDIDO = @NM_PEDIDO

		
		-- VERIFICA SE REGRA COMERCIAL EXISTE
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_REGRA_COMERCIAL
		WHERE CD_REGRA_COMERCIAL = @V_CD_REGRA_COMERCIAL
		
		IF @V_CONTADOR = 0
		-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Regra Comercial não encontrada'
				RETURN
			END
			
		SELECT	@V_ID_PEND_SUP_MAXIMA_CREDITO = ID_PEND_SUP_MAXIMA_CREDITO,
				@V_ID_PEND_SUP_MINIMA_CREDITO = ID_PEND_SUP_MAXIMA_CREDITO,
				@V_PC_TOL_MAXIMA_CREDITO = PC_TOL_MAXIMA_CREDITO,
				@V_PC_TOL_MINIMA_CREDITO = PC_TOL_MINIMA_CREDITO
		FROM TB_REGRA_COMERCIAL
		WHERE CD_REGRA_COMERCIAL = @V_CD_REGRA_COMERCIAL
		
		IF @V_ID_PEND_SUP_MAXIMA_CREDITO = 1 -- NÃO SE APLICA
			BEGIN
				SELECT @CD_ERRO = 0
				SELECT @DC_ERRO = ''
				SELECT @CD_PENDENTE = 0
				RETURN
			END
		ELSE
			BEGIN

				SELECT @V_PC_SUPERACAO_CREDITO = (((@V_VL_CREDITO_TOTAL /( @V_VL_CREDITO_DISPONIVEL + @V_VL_CREDITO_TOTAL))  - 1) * 100)

				IF @V_ID_PEND_SUP_MAXIMA_CREDITO = 2
					BEGIN

						-- PRIMEIRA VERIFICAÇÃO :: SE O VL_CREDITO_DISPONIVEL FOR NEGATIVO VAMOS COLOCAR A PENDENCIA DIRETAMENTE
						-- POIS A PESSOA NÃO POSSUI MAIS CREDITO

						IF @V_VL_CREDITO_DISPONIVEL < 0 
							
							BEGIN

								-- VERIFICA SE HISTORICO PEDIDO EXISTE
								SELECT @V_CONTADOR = COUNT(*)
								FROM TB_PEDIDO_HISTORICO
								WHERE CD_EST_SITUACAO = 1
								AND   NM_PEDIDO = @NM_PEDIDO
								AND   DT_FINAL IS NULL
							
								SELECT @V_CONTADOR = 1

								IF @V_CONTADOR = 0
									BEGIN
										SELECT @CD_ERRO = 0
										SELECT @DC_ERRO = 'Historico Pedido nao encontrado'
										RETURN
									END
								ELSE
									BEGIN
										IF @ID_SIMULACAO = 1
											BEGIN
												SELECT @CD_ERRO = 0
												SELECT @DC_ERRO = ''
												SELECT @CD_PENDENTE = 1
											END
							
										IF @ID_SIMULACAO = 2
											BEGIN
												-- FECHAR A SITUACAO 1 (EM CAPTAÇÃO)
												EXEC SP_GRAVA_HISTORICO_PEDIDO
												@NM_PEDIDO,
												1,
												2,
												0,
												'',
												@CD_USUARIO,
												0,
												'',
												0
									
												-- ABRIR A SITUACAO 46 (PEDENCIA DE SUPERAÇÃO MAXIMA DE CREDITO)
												EXEC SP_GRAVA_HISTORICO_PEDIDO
												@NM_PEDIDO,
												46,
												1,
												0,
												'',
												@CD_USUARIO,
												0,
												'',
												0
									
												SELECT @CD_ERRO = 0
												SELECT @DC_ERRO = ''
												SELECT @CD_PENDENTE = 1
												RETURN
									
											END
									END

							END
						
						ELSE
							
							BEGIN
								--IF (((@V_VL_CREDITO_TOTAL / @V_VL_CREDITO_DISPONIVEL)  - 1) * 100) < @V_PC_TOL_MAXIMA_CREDITO
								IF @V_PC_SUPERACAO_CREDITO < @V_PC_TOL_MAXIMA_CREDITO
									BEGIN

										-- ***********************************************************
										-- AGORA VAMOS VERIFICAR A PENDENCIA MINIMA DE CREDITO
										-- ***********************************************************
										--IF (((@V_VL_CREDITO_TOTAL / @V_VL_CREDITO_DISPONIVEL)  - 1) * 100) < @V_PC_TOL_MINIMA_CREDITO
										IF @V_PC_SUPERACAO_CREDITO < @V_PC_TOL_MINIMA_CREDITO
											BEGIN
												SELECT @CD_ERRO = 0
												SELECT @DC_ERRO = ''
												SELECT @CD_PENDENTE = 0
												RETURN
											END 
										ELSE
											BEGIN

												-- VERIFICA SE HISTORICO PEDIDO EXISTE
												SELECT @V_CONTADOR = COUNT(*)
												FROM TB_PEDIDO_HISTORICO
												WHERE CD_EST_SITUACAO = 1
												AND   NM_PEDIDO = @NM_PEDIDO
												AND   DT_FINAL IS NULL
							
												SELECT @V_CONTADOR = 1
							
												IF @V_CONTADOR = 0
													BEGIN
														SELECT @CD_ERRO = 0
														SELECT @DC_ERRO = 'Historico Pedido nao encontrado'
														RETURN
													END
												ELSE
													BEGIN
														IF @ID_SIMULACAO = 1
															BEGIN
																SELECT @CD_ERRO = 0
																SELECT @DC_ERRO = ''
																SELECT @CD_PENDENTE = 1
															END
							
														IF @ID_SIMULACAO = 2
															BEGIN
																-- FECHAR A SITUACAO 1 (EM CAPTAÇÃO)
																EXEC SP_GRAVA_HISTORICO_PEDIDO
																@NM_PEDIDO,
																1,
																2,
																0,
																'',
																@CD_USUARIO,
																0,
																'',
																0
									
																-- ABRIR A SITUACAO 45 (PEDENCIA DE SUPERAÇÃO MINIMA DE CREDITO)
																EXEC SP_GRAVA_HISTORICO_PEDIDO
																@NM_PEDIDO,
																45,
																1,
																0,
																'',
																@CD_USUARIO,
																0,
																'',
																0
									
																SELECT @CD_ERRO = 0
																SELECT @DC_ERRO = ''
																SELECT @CD_PENDENTE = 1
																RETURN
									
															END

													END

											END
					
									END
								ELSE
									BEGIN
										-- VERIFICA SE HISTORICO PEDIDO EXISTE
										SELECT @V_CONTADOR = COUNT(*)
										FROM TB_PEDIDO_HISTORICO
										WHERE CD_EST_SITUACAO = 1
										AND   NM_PEDIDO = @NM_PEDIDO
										AND   DT_FINAL IS NULL
							
										SELECT @V_CONTADOR = 1
							
										IF @V_CONTADOR = 0
											BEGIN
												SELECT @CD_ERRO = 0
												SELECT @DC_ERRO = 'Historico Pedido nao encontrado'
												RETURN
											END
										ELSE
											BEGIN
												IF @ID_SIMULACAO = 1
												BEGIN
													SELECT @CD_ERRO = 0
													SELECT @DC_ERRO = ''
													SELECT @CD_PENDENTE = 1
												END
							
												IF @ID_SIMULACAO = 2
												BEGIN
													-- FECHAR A SITUACAO 1 (EM CAPTAÇÃO)
													EXEC SP_GRAVA_HISTORICO_PEDIDO
													@NM_PEDIDO,
													1,
													2,
													0,
													'',
													@CD_USUARIO,
													0,
													'',
													0
									
													-- ABRIR A SITUACAO 43 (PEDENCIA DE SUPERAÇÃO MAXIMA DE CREDITO)
													EXEC SP_GRAVA_HISTORICO_PEDIDO
													@NM_PEDIDO,
													46,
													1,
													0,
													'',
													@CD_USUARIO,
													0,
													'',
													0
									
													SELECT @CD_ERRO = 0
													SELECT @DC_ERRO = ''
													SELECT @CD_PENDENTE = 1
													RETURN
									
												END
											END
						
									END
							END
											
					END 

				ELSE
					BEGIN

						IF @V_ID_PEND_SUP_MINIMA_CREDITO = 2
							
							BEGIN

								-- PRIMEIRA VERIFICAÇÃO :: SE O VL_CREDITO_DISPONIVEL FOR NEGATIVO VAMOS COLOCAR A PENDENCIA DIRETAMENTE
								-- POIS A PESSOA NÃO POSSUI MAIS CREDITO

								IF @V_VL_CREDITO_DISPONIVEL < 0 

									BEGIN

										-- VERIFICA SE HISTORICO PEDIDO EXISTE
										SELECT @V_CONTADOR = COUNT(*)
										FROM TB_PEDIDO_HISTORICO
										WHERE CD_EST_SITUACAO = 1
										AND   NM_PEDIDO = @NM_PEDIDO
										AND   DT_FINAL IS NULL
							
										SELECT @V_CONTADOR = 1

										IF @V_CONTADOR = 0
											BEGIN
												SELECT @CD_ERRO = 0
												SELECT @DC_ERRO = 'Historico Pedido nao encontrado'
												RETURN
											END
										ELSE
											BEGIN
												IF @ID_SIMULACAO = 1
													BEGIN
														SELECT @CD_ERRO = 0
														SELECT @DC_ERRO = ''
														SELECT @CD_PENDENTE = 1
													END
							
												IF @ID_SIMULACAO = 2
													BEGIN
														-- FECHAR A SITUACAO 1 (EM CAPTAÇÃO)
														EXEC SP_GRAVA_HISTORICO_PEDIDO
														@NM_PEDIDO,
														1,
														2,
														0,
														'',
														@CD_USUARIO,
														0,
														'',
														0
									
														-- ABRIR A SITUACAO 45 (PEDENCIA DE SUPERAÇÃO MINIMA DE CREDITO)
														EXEC SP_GRAVA_HISTORICO_PEDIDO
														@NM_PEDIDO,
														45,
														1,
														0,
														'',
														@CD_USUARIO,
														0,
														'',
														0
											
														SELECT @CD_ERRO = 0
														SELECT @DC_ERRO = ''
														SELECT @CD_PENDENTE = 1
														RETURN
									
													END
											END

									END
								
								ELSE
									
									BEGIN

										--IF (((@V_VL_CREDITO_TOTAL / @V_VL_CREDITO_DISPONIVEL)  - 1) * 100) < @V_PC_TOL_MINIMA_CREDITO
										IF @V_PC_SUPERACAO_CREDITO < @V_PC_TOL_MINIMA_CREDITO
											BEGIN

												SELECT @CD_ERRO = 0
												SELECT @DC_ERRO = ''
												SELECT @CD_PENDENTE = 0
												RETURN
											END 
										ELSE
											BEGIN

												-- VERIFICA SE HISTORICO PEDIDO EXISTE
												SELECT @V_CONTADOR = COUNT(*)
												FROM TB_PEDIDO_HISTORICO
												WHERE CD_EST_SITUACAO = 1
												AND   NM_PEDIDO = @NM_PEDIDO
												AND   DT_FINAL IS NULL
							
												SELECT @V_CONTADOR = 1
							
												IF @V_CONTADOR = 0
													BEGIN
														SELECT @CD_ERRO = 0
														SELECT @DC_ERRO = 'Historico Pedido nao encontrado'
														RETURN
													END
												ELSE
													BEGIN
														IF @ID_SIMULACAO = 1
															BEGIN
																SELECT @CD_ERRO = 0
																SELECT @DC_ERRO = ''
																SELECT @CD_PENDENTE = 1
															END
							
														IF @ID_SIMULACAO = 2
															BEGIN
																-- FECHAR A SITUACAO 1 (EM CAPTAÇÃO)
																EXEC SP_GRAVA_HISTORICO_PEDIDO
																@NM_PEDIDO,
																1,
																2,
																0,
																'',
																@CD_USUARIO,
																0,
																'',
																0
										
																-- ABRIR A SITUACAO 45 (PEDENCIA DE SUPERAÇÃO MINIMA DE CREDITO)
																EXEC SP_GRAVA_HISTORICO_PEDIDO
																@NM_PEDIDO,
																45,
																1,
																0,
																'',
																@CD_USUARIO,
																0,
																'',
																0
										
																SELECT @CD_ERRO = 0
																SELECT @DC_ERRO = ''
																SELECT @CD_PENDENTE = 1
																RETURN
									
															END

													END

											END

									END
					
							END
						
						ELSE
						
							BEGIN
								SELECT @CD_ERRO = 0
								SELECT @DC_ERRO = ''
								SELECT @CD_PENDENTE = 0
								RETURN
							END
					
					END 
			END
				
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      SELECT @CD_PENDENTE = 0
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
