SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ComissaoFVBuscaDetalheComissao]
	@p_cdFvComissao		NUMERIC(18,0)
AS
  BEGIN 		        
	DECLARE @v_codigoCliente				INT

			SELECT @v_codigoCliente = 0

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	SELECT @v_codigoCliente = VL_PARAMETRO 
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO         = 1
	   AND CD_VALOR_PARAMETRO   = 1

	-- Lowell
	IF @v_codigoCliente = 57
		BEGIN
			SELECT B.DC_FV_REGRA_COMISSAO, 
				   A.VL_ORIGEM_COMISSAO, 
				   A.VL_FORMA_COMISSAO,  
				   A.VALOR, 
				   A.NM_PEDIDO, 
				   C.NM_CICLO_INDICADOR, 
				   A.CD_PARCELA_COMISSAO,  
				  'Parc ' + (convert(varchar(2),(select Count (distinct X1.CD_PARCELA) FROM TB_PARCELA X1 WITH(NOLOCK),TB_DIVIDA X2 WITH(NOLOCK) WHERE X1.CD_DIVIDA = X2.CD_DIVIDA AND X2.NM_PEDIDO = A.NM_PEDIDO AND X1.CD_PARCELA <= A.CD_PARCELA_COMISSAO AND  X1.ID_SITUACAO_PAGAMENTO_PARCELA <> 4 AND  X2.ID_SITUACAO_PAGAMENTO <> 4)) +  '/' +
				  convert(varchar(2),(select count (distinct X1.CD_PARCELA) FROM TB_PARCELA X1 WITH(NOLOCK),TB_DIVIDA X2 WITH(NOLOCK) WHERE X1.CD_DIVIDA = X2.CD_DIVIDA AND X2.NM_PEDIDO = A.NM_PEDIDO AND  X1.ID_SITUACAO_PAGAMENTO_PARCELA <> 4 AND  X2.ID_SITUACAO_PAGAMENTO <> 4 ))) PARCELA  
			 FROM TB_FV_DETALHE_COMISSAO A WITH(NOLOCK), 
				  TB_FV_REGRA_COMISSAO B WITH(NOLOCK), 
				  TB_PEDIDO C WITH(NOLOCK) 
			WHERE A.CD_FV_REGRA_COMISSAO = B.CD_FV_REGRA_COMISSAO 
			  AND A.NM_PEDIDO = C.NM_PEDIDO  
			  AND A.CD_FV_COMISSAO = @p_cdFvComissao
	   END
	--DEMAIS CLIENTES
	ELSE
		BEGIN
			SELECT B.DC_FV_REGRA_COMISSAO, 
				   A.VL_ORIGEM_COMISSAO, 
				   A.VL_FORMA_COMISSAO,  
				   A.VALOR, 
				   A.NM_PEDIDO, 
				   C.NM_CICLO_INDICADOR, 
				   A.CD_PARCELA_COMISSAO,  
				  'Parc ' + (convert(varchar(2),(select Count (distinct X1.CD_PARCELA) FROM TB_PARCELA X1 WITH(NOLOCK),TB_DIVIDA X2 WITH(NOLOCK) WHERE X1.CD_DIVIDA = X2.CD_DIVIDA AND X2.NM_PEDIDO = A.NM_PEDIDO AND X1.CD_PARCELA <= A.CD_PARCELA_COMISSAO AND  X1.ID_SITUACAO_PAGAMENTO_PARCELA <> 4 AND X2.ID_SITUACAO_PAGAMENTO <> 4)) +  '/' +
				  convert(varchar(2),(select count (distinct X1.CD_PARCELA) FROM TB_PARCELA X1 WITH(NOLOCK),TB_DIVIDA X2 WITH(NOLOCK) WHERE X1.CD_DIVIDA = X2.CD_DIVIDA AND X2.NM_PEDIDO = A.NM_PEDIDO AND  X1.ID_SITUACAO_PAGAMENTO_PARCELA <> 4 AND X2.ID_SITUACAO_PAGAMENTO <> 4 ))) PARCELA  
			 FROM TB_FV_DETALHE_COMISSAO A WITH(NOLOCK), 
				  TB_FV_REGRA_COMISSAO B WITH(NOLOCK), 
				  TB_PEDIDO C WITH(NOLOCK) 
			WHERE A.CD_FV_REGRA_COMISSAO = B.CD_FV_REGRA_COMISSAO 
			  AND A.NM_PEDIDO = C.NM_PEDIDO  
			  AND A.CD_FV_COMISSAO = @p_cdFvComissao
	END
END

GO
