SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_IndicadorCalculaIndicadoresMNJobWEST1]
AS
declare @CONTROLE						int,
		@NIVEL							int,
		@CD_PESSOA						numeric(18,0),
		@CD_FUNCAO						int,
		@CD_EST_COMERCIAL				numeric(18,0),
		@NM_CICLO						numeric(18,0),
		@CURSOR_PESSOA					cursor,
		@ID_EVENTO						int,
        @ID_MOMENTO_CALCULO_INDICADOR	int,
        @ID_TIPO_ATUALIZACAO			int,
		@VAR_RETORNO					NUMERIC(18,0),
		@DC_ERRO						VARCHAR(MAX),
		@DC_ROTINA                      NVARCHAR(MAX),
		@QT_LINHAS_AFETADAS				INT
        
BEGIN
	SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
	FOR
		SELECT DISTINCT 1 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, A.CD_FUNCAO, B.CD_EST_COMERCIAL, D.NM_CICLO
		FROM TB_WRK_MN_TOPOLOGIA A WITH(NOLOCK), TB_PESSOA_RESUMO B WITH(NOLOCK), TB_CALENDARIO_COMERCIAL D WITH(NOLOCK),
			(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
			 FROM TB_WRK_MN_TOPOLOGIA F WITH(NOLOCK), TB_PESSOA_RESUMO G WITH(NOLOCK)
			 WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
			 AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
			 AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
			 AND   F.CD_FUNCAO           = G.CD_FUNCAO
			 AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
			 AND   G.CD_FUNCAO           = 2
			 GROUP BY F.CD_PESSOA_VINCULADA) C
		WHERE A.CD_PESSOA_VINCULADA           = B.CD_PESSOA
		AND   A.CD_FUNCAO                     = B.CD_FUNCAO
		AND   A.NM_CICLO                      = B.NM_CICLO_ATUAL
		AND   A.ID_ORDEM                      = 2    -- DESCENTENTE
		AND   A.ID_TIPO_REDE_MN               = 1    -- REDE UNILEVEL  
		AND   B.CD_SITUACAO_COMERCIAL  NOT IN (4)
		AND   ISNULL(B.CD_PESSOA_VINCULADA,0) >  0  
		AND   A.CD_PESSOA_VINCULADA   = C.CD_PESSOA_VINCULADA
		AND   A.NM_NIVEL              = C.MAX_NIVEL
		AND   B.CD_FUNCAO                    = 2
		AND   B.CD_EST_COMERCIAL = D.CD_EST_COMERCIAL
		AND (    (CONVERT(DATE,GETDATE()) BETWEEN D.DT_INICIAL AND D.DT_FINAL)
		      OR (CONVERT(DATE,GETDATE()) BETWEEN D.DT_INICIAL_CICLO_ESTENDIDO AND D.DT_FINAL_CICLO_ESTENDIDO)   )	
		AND D.NM_CICLO > = ISNULL(B.NM_CICLO_INICIO,B.NM_CICLO_ATUAL)
		UNION 
		SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
		FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
		WHERE A.CD_FUNCAO                    = 2
		AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
		AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  
		AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
		AND   A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
		AND (   (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		     OR (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )
		AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)
		ORDER BY 1, 2 DESC, 3 DESC, 6

		OPEN @CURSOR_PESSOA
		FETCH NEXT FROM @CURSOR_PESSOA
		INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
	      
		WHILE @@FETCH_STATUS = 0
			BEGIN
				-- CALCULA OS INDICADORES DE QUALIFICAÇÃO
				SELECT @ID_EVENTO                    = 6,  
					   @ID_MOMENTO_CALCULO_INDICADOR = 2,
					   @ID_TIPO_ATUALIZACAO          = 1
				EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
							 @CD_PESSOA,
							 @CD_FUNCAO,
							 @CD_EST_COMERCIAL,
							 @NM_CICLO,
							 @ID_EVENTO,                    --FIM DIA
							 @ID_TIPO_ATUALIZACAO,          --ADICIONAR
							 @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
							 0,
							 0 ,
							 '',
							 0


				FETCH NEXT FROM @CURSOR_PESSOA
				INTO @CONTROLE, @NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
			END
			
		CLOSE       @CURSOR_PESSOA
		DEALLOCATE  @CURSOR_PESSOA
	
		
	
end
GO
