SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_PedidoLiberaPendenciaDividaVencidaAutomaticamente]
	@p_codigoPessoa					NUMERIC(18,0),
	@p_codigoUsuario				NUMERIC(18,0),
	
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output
	
AS


DECLARE @v_qtd_pedidos					int
DECLARE @v_qtd_dividas_vencidas			int
DECLARE	@CURSOR_PEDIDOS					as Cursor
DECLARE @v_numeroPedido					numeric(18,0)


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	-- ****************************************************************
	-- PRIMEIRO VERIFICA SE A PESSOA POSSUI ALGUM PEDIDO PENDENTE POR DIVIDA VENCIDA
	-- CASO NÃO TENHA JA PODE SAIR DA PROCEDURE
	-- ****************************************************************
	SELECT @v_qtd_pedidos = COUNT(*)
	FROM TB_PEDIDO_HISTORICO PH, TB_PEDIDO P
	WHERE PH.NM_PEDIDO = P.NM_PEDIDO
	AND P.CD_PESSOA = @p_codigoPessoa
	AND PH.CD_EST_SITUACAO = 43
	AND PH.DT_FINAL IS NULL

	-- NÃO POSSUI NENHUM PEDIDO COM PENDENCIA DE DIVIDA VENCIDA
	IF @v_qtd_pedidos = 0
		BEGIN
			RETURN
		END
	
	
	-- ****************************************************************
	-- VERIFICA SE A PESSOA POSSUI DIVIDA VENCIDA
	-- SE TIVER DIVIDA VENCIDA JA PODE SAIR DA PROCEDURE
	-- POIS NESSE CASO NÃO PODEMOS LIBERAR NENHUM PEDIDO AUTOMATICAMENTE
	-- ****************************************************************

	SELECT @v_qtd_dividas_vencidas = COUNT(*)
	FROM TB_DIVIDA
	WHERE CD_PESSOA = @p_codigoPessoa
	AND ID_SITUACAO_PAGAMENTO = 3

	-- POSSUI DIVIDA VENCIDA, NESSE CASO VAMOS SAIR
	IF @v_qtd_dividas_vencidas > 0
		BEGIN
			RETURN
		END


	-- ****************************************************************
	-- SE CHEGOU AQUI SIGNIFICA QUE A PESSOA POSSUI PEDIDOS
	-- PENDENTE COM DIVIDA VENCIDA SENDO QUE NÃO POSSUI MAIS DIVIDA VENCIDA
	-- ****************************************************************

	SET @CURSOR_PEDIDOS = CURSOR FAST_FORWARD
	FOR
			SELECT P.NM_PEDIDO
			FROM TB_PEDIDO_HISTORICO PH, TB_PEDIDO P
			WHERE PH.NM_PEDIDO = P.NM_PEDIDO
			AND P.CD_PESSOA = @p_codigoPessoa
			AND PH.CD_EST_SITUACAO = 43
			AND PH.DT_FINAL IS NULL
	    
	    OPEN @CURSOR_PEDIDOS
		FETCH NEXT FROM @CURSOR_PEDIDOS
		INTO @v_numeroPedido
		
		WHILE @@FETCH_STATUS = 0
			BEGIN

				EXEC SP_LIBERA_PENDENCIA_PEDIDO
					@v_numeroPedido,									--@NM_PEDIDO numeric(18, 0),
					43,													--@CD_EST_SITUACAO numeric(18, 0),
					1,													--@ID_LIBERADO_PENDENCIA INT,
					'Liberado automaticamente em virtude do pagamento',	--@DC_MOTIVO VARCHAR(300),
					@p_codigoUsuario,									--@CD_USUARIO numeric(18, 0),
					@p_codigoErro										OUTPUT,
					@p_descricaoErro									OUTPUT


				FETCH NEXT FROM @CURSOR_PEDIDOS
				INTO @v_numeroPedido
			END	
		CLOSE      @CURSOR_PEDIDOS
        DEALLOCATE @CURSOR_PEDIDOS
    
					
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
