SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_IndicadorCalculaIndicadoresMNJobMAHOGANY]
AS
declare @CONTROLE						int,
		@NIVEL							int,
		@CD_PESSOA						numeric(18,0),
		@CD_FUNCAO						int,
		@CD_EST_COMERCIAL				numeric(18,0),
		@NM_CICLO						numeric(18,0),
		@CURSOR_PESSOA					cursor,
		@ID_EVENTO						int,
                @ID_MOMENTO_CALCULO_INDICADOR	int,
                @ID_TIPO_ATUALIZACAO			int,
		@VAR_RETORNO					NUMERIC(18,0),
		@DC_ERRO						VARCHAR(MAX),
		@DC_ROTINA                      NVARCHAR(MAX),
		@QT_LINHAS_AFETADAS				INT,
		@DATA  DATE
        

        
begin

    -- 1) CALCULA INDICADORES BINIVEL
	SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
	FOR


		SELECT DISTINCT 1 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
		FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
		WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
                AND   A.CD_FUNCAO        = 2
		AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
		AND   ISNULL(A.CD_PESSOA_LIDERANCA,0) <> 0  
		AND   ISNULL(A.CD_PESSOA_VINCULADA,0) <> 0  
		AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
		AND (    (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		      OR (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )	
		AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)
		AND NOT EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C WITH(NOLOCK)
				    WHERE A.CD_PESSOA = C.CD_PESSOA
					AND   B.NM_CICLO  = C.NM_CICLO
					AND   C.CD_SITUACAO_COMERCIAL  = 4)
		UNION 
		SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
		FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
		WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
                AND   A.CD_FUNCAO        = 2
		AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
		AND   ISNULL(A.CD_PESSOA_LIDERANCA,0) <> 0  
		AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  
		AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
		AND (    (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		      OR (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )
		AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)	
		AND NOT EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C WITH(NOLOCK)
				    WHERE A.CD_PESSOA = C.CD_PESSOA
					AND   B.NM_CICLO  = C.NM_CICLO
					AND   C.CD_SITUACAO_COMERCIAL  = 4)		  	
		UNION 

		SELECT DISTINCT 3 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
		FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
		WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
                AND   A.CD_FUNCAO        = 2
		AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
		AND   ISNULL(A.CD_PESSOA_LIDERANCA,0) = 0  
		AND   ISNULL(A.CD_PESSOA_VINCULADA,0) <> 0  
		AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
		AND (    (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		      OR (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )	
		AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)
		AND NOT EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C WITH(NOLOCK)
				    WHERE A.CD_PESSOA = C.CD_PESSOA
					AND   B.NM_CICLO  = C.NM_CICLO
					AND   C.CD_SITUACAO_COMERCIAL  = 4)
		UNION 

		SELECT DISTINCT 4 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
		FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
		WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
                AND   A.CD_FUNCAO        = 2
		AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
		AND   ISNULL(A.CD_PESSOA_LIDERANCA,0) = 0  
		AND   ISNULL(A.CD_PESSOA_VINCULADA,0) = 0  
		AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
		AND (   (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		     OR (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )
		AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)
		AND NOT EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C WITH(NOLOCK)
				    WHERE A.CD_PESSOA = C.CD_PESSOA
					AND   B.NM_CICLO  = C.NM_CICLO
					AND   C.CD_SITUACAO_COMERCIAL  = 4)
		ORDER BY 1, 2 DESC, 3 DESC

		OPEN @CURSOR_PESSOA
		FETCH NEXT FROM @CURSOR_PESSOA
		INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
	      
		WHILE @@FETCH_STATUS = 0
			BEGIN
				-- CALCULA OS INDICADORES DE QUALIFICAÇÃO
				SELECT @ID_EVENTO                    = 6,  
					   @ID_MOMENTO_CALCULO_INDICADOR = 2,
					   @ID_TIPO_ATUALIZACAO          = 1
				EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
							 @CD_PESSOA,
							 @CD_FUNCAO,
							 @CD_EST_COMERCIAL,
							 @NM_CICLO,
							 @ID_EVENTO,                    --FIM DIA
							 @ID_TIPO_ATUALIZACAO,          --ADICIONAR
							 @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
							 0,
							 0 ,
							 '',
							 0
							 

		/*		EXEC SP_MN_APLICA_PLANO_CARREIRA_GENERICA
							 @CD_PESSOA,
							 @CD_FUNCAO,
							 @NM_CICLO,
							 @CD_EST_COMERCIAL,
							 @VAR_RETORNO   OUTPUT,
							 @DC_ERRO    OUTPUT,
							 @QT_LINHAS_AFETADAS  OUTPUT */


				FETCH NEXT FROM @CURSOR_PESSOA
				INTO @CONTROLE, @NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
			END
			
		CLOSE       @CURSOR_PESSOA
		DEALLOCATE  @CURSOR_PESSOA

 	    -- FIM : 1) CALCULA INDICADORES BINIVEL
------------------------------------
    -- 2) CALCULA INDICADORES CANAL / PEDIDO ESPECIFICOS DA MAHOGANY
	SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
	FOR

		SELECT DISTINCT 1 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
		FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
		WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
                AND   A.CD_FUNCAO        = 2
		AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
		AND   ISNULL(A.CD_PESSOA_LIDERANCA,0) > 0  
		AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
		--AND   CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL
				AND (    (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		      OR (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )	
		AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)
		AND NOT EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C WITH(NOLOCK)
				    WHERE A.CD_PESSOA = C.CD_PESSOA
					AND   B.NM_CICLO  = C.NM_CICLO
					AND   C.CD_SITUACAO_COMERCIAL  = 4)
		UNION 
		SELECT DISTINCT 2 AS CONTROLE, 0 AS NIVEL, A.CD_PESSOA, A.CD_FUNCAO, A.CD_EST_COMERCIAL, B.NM_CICLO
		FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
		WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
                AND   A.CD_FUNCAO        = 2
		AND   A.CD_SITUACAO_COMERCIAL  NOT IN (4)
		AND   ISNULL(A.CD_PESSOA_LIDERANCA,0) = 0  
		AND   ISNULL(A.CD_EST_COMERCIAL,0) > 0
		--AND   CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL
				AND (    (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL)
		      OR (CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO)   )	
		AND B.NM_CICLO > = ISNULL(A.NM_CICLO_INICIO,A.NM_CICLO_ATUAL)
		AND NOT EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C WITH(NOLOCK)
				    WHERE A.CD_PESSOA = C.CD_PESSOA
					AND   B.NM_CICLO  = C.NM_CICLO
					AND   C.CD_SITUACAO_COMERCIAL  = 4)
		ORDER BY 1, 2 DESC, 3 DESC

		OPEN @CURSOR_PESSOA
		FETCH NEXT FROM @CURSOR_PESSOA
		INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
	      
		WHILE @@FETCH_STATUS = 0
			BEGIN
				-- CALCULA OS INDICADORES DE QUALIFICAÇÃO
				SELECT @ID_EVENTO                    = 11,  
					   @ID_MOMENTO_CALCULO_INDICADOR = 1,
					   @ID_TIPO_ATUALIZACAO          = 1
				EXEC SP_CALCULA_PESSOA_INDICADOR_ESPECIFICO_MAHOGANY
							 @CD_PESSOA,
							 @CD_FUNCAO,
							 @CD_EST_COMERCIAL,
							 @NM_CICLO,
							 @ID_EVENTO,                    --ESPECIFICOS CANAL /  PEDIDO
							 @ID_TIPO_ATUALIZACAO,          --ADICIONAR
							 @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
							 0,
							 0 ,
							 '',
							 0

				FETCH NEXT FROM @CURSOR_PESSOA
				INTO @CONTROLE, @NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
			END
			
		CLOSE       @CURSOR_PESSOA
		DEALLOCATE  @CURSOR_PESSOA

 	    -- FIM : CALCULA INDICADORES CANAL / PEDIDO ESPECIFICOS DA MAHOGANY


		-- 3) CALCULA INDICADORES ESTRUTURA COMERCIAL
	    -- ATUALIZAR OS INDICADORES ESTRATEGICOS DA ESTRUTURA COMERCIAL 
		select @DATA = CONVERT (DATE, GETDATE())
		EXEC	SP_CALCULA_EC_INDICADOR_CLIENTE_MAHOGANY
				0,                   -- @CD_EST_COMERCIAL
				@data,               -- @DT_FECHAMENTO
				0,                   -- @CD_USUARIO
				@VAR_RETORNO         OUTPUT,
				@DC_ERRO             OUTPUT,
				@QT_LINHAS_AFETADAS  OUTPUT 
         -- FIM : 3) CALCULA INDICADORES ESTRUTURA COMERCIAL

	
end
GO
