SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaInsereDadosAdicionais]
	@p_codigoPessoa					NUMERIC(18,0),
	@p_numeroCalcado				INT,

	@p_idFormaConheceuEmpresa		INT,
	@p_descFormaConheceuEmpresa		VARCHAR(80),

	@p_codigoPapelInicial			numeric(18,0),
	@p_codigoFuncao					numeric(18,0),

	@p_idTipoPessoaDadosAdicionais	INT,
							
	@p_codigoUsuario				NUMERIC(18,0),
	@p_idTipoFuncao					VARCHAR(1),

	@p_codigoErro					INT OUTPUT,
	@p_descErro						VARCHAR(200) OUTPUT,
	@p_qtdeLinhasAfetadas			INT OUTPUT
	
AS

				
BEGIN TRY
	    
	    SELECT @p_qtdeLinhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	
		IF @p_idTipoFuncao = 'E'
			BEGIN
	
					DELETE FROM TB_PESSOA_DADOS_ADICIONAIS 
					WHERE CD_PESSOA = @p_codigoPessoa
		
			END
		
		
		IF @p_idTipoFuncao = 'I'
			BEGIN
			 
				
					INSERT INTO TB_PESSOA_DADOS_ADICIONAIS 
						(CD_PESSOA,
						ID_NUMERO_CALCADO,
						ID_FORMA_CONHECEU_EMPRESA,
						DC_FORMA_CONHECEU_EMPRESA_OUTRO,
						ID_TIPO_PESSOA_DADOS_ADICIONAIS)
					VALUES 
						(@p_codigoPessoa,
						@p_numeroCalcado,
						@p_idFormaConheceuEmpresa,
						@p_descFormaConheceuEmpresa,
						@p_idTipoPessoaDadosAdicionais)
			
					SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
			
				IF @p_codigoPapelInicial > 0
					BEGIN
						EXEC dbo.pr_PessoaTrataPapelInicial @p_codigoPessoa,
															@p_codigoFuncao,
															@p_codigoPapelInicial,
															@p_codigoErro			OUTPUT,
															@p_descErro				OUTPUT,
															@p_qtdeLinhasAfetadas	OUTPUT
					END

			END
		
		IF @p_idTipoFuncao = 'A'
			BEGIN
			
					UPDATE TB_PESSOA_DADOS_ADICIONAIS
					   SET	ID_NUMERO_CALCADO = @p_numeroCalcado,
							ID_FORMA_CONHECEU_EMPRESA = @p_idFormaConheceuEmpresa,
							DC_FORMA_CONHECEU_EMPRESA_OUTRO = @p_descFormaConheceuEmpresa,
							ID_TIPO_PESSOA_DADOS_ADICIONAIS = @p_idTipoPessoaDadosAdicionais
					 WHERE CD_PESSOA = @p_codigoPessoa
					 
			END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
