SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiRemoveItemFilaApi]
	@p_codigoFilaApiItem	NUMERIC(18,0),
	@p_codigoFilaApi		NUMERIC(4,0),
	@p_descUsuario			VARCHAR(50),
	
	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE @v_qtdeRegistros	INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
		
	-- VAMOS CHECAR SE O REGISTRO EXISTE E SE ESTÁ PENDENTE DE PROCESSAMENTO
	SELECT @v_qtdeRegistros = MIN(ID_SITUACAO_PROCESSAMENTO)
	  FROM TB_API_FILA_INTEGRACAO_ITEM WITH(NOLOCK)
	 WHERE CD_API_FILA_INTEGRACAO_ITEM = @p_codigoFilaApiItem
	   AND CD_API_FILA_INTEGRACAO = @p_codigoFilaApi

	IF @v_qtdeRegistros = 0
		BEGIN
			SELECT @p_qtLinhasAfetadas = 0
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Item não encontrado na fila.'
		END
	ELSE
		BEGIN
			IF @v_qtdeRegistros = 1
				BEGIN
					--IREMOS "REMOVER" O ITEM DA FILA, NA VERDADE IREMOS ATUALIZAR A SITUAÇÃO PARA PROCESSADO E MARCAR O USUÁRIO E DATA
					UPDATE TB_API_FILA_INTEGRACAO_ITEM
					   SET ID_SITUACAO_PROCESSAMENTO = 2,
						   DC_USUARIO_ATUALIZACAO = @p_descUsuario,
						   DT_ATUALIZACAO = GETDATE()
					 WHERE CD_API_FILA_INTEGRACAO_ITEM = @p_codigoFilaApiItem
					   AND CD_API_FILA_INTEGRACAO = @p_codigoFilaApi -- O FILTRO DA FILA É IMPORTANTE PARA EVITAR DE UMA REQUISIÇÃO INCORRETA ATUALIZAR REGISTROS DE OUTRAS FILAS
				END
			ELSE
				BEGIN
					SELECT @p_qtLinhasAfetadas = 0
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Item já processado'
				END
		END
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
