SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[pr_ApiBlacklistUsedToken]
    @tokenHash VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TB_API_TOKEN_BLACKLIST (DT_CADASTRO, DC_TOKEN_HASH)
    VALUES (GETDATE(), @tokenHash);
	return
END
GO
