SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_EC_INDICADOR_CLIENTE_BECORE]
				@CD_EST_COMERCIAL   NUMERIC(18, 0),
				@DT_FECHAMENTO      DATE,
				@CD_USUARIO         NUMERIC(18,0),
				@VAR_RETORNO        INT OUTPUT,
				@DC_ERRO            NVARCHAR(MAX) OUTPUT,
				@QT_LINHAS_AFETADAS INT OUTPUT


AS


	DECLARE @Cursor_EC					CURSOR,
		@NM_CICLO					NUMERIC(18,0),
		@CD_ESTRUTURA					NUMERIC(18,0),
		@CD_FUNCAO					INT,
		@ID_MOMENTO_CALCULO_INDICADOR  NUMERIC(18,0),
		@CALCULA_INDICADOR  INT,
		@EXISTE_REGISTRO    INT

	DECLARE @VL_INDICADOR_PESSOAL_3001			NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3003			NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3004			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3005			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3007			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3008			NUMERIC(18,2),
			@VL_INDICADOR_PESSOAL_3009		NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3011			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3014			NUMERIC(18,2),
                @VL_CONTADOR                                    NUMERIC(18,2)


BEGIN TRY


	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @ID_MOMENTO_CALCULO_INDICADOR = 2
	    
	    -- *******************************************************************************
		-- CURSOR DE ESTRUTURA COMERCIAL
		-- VERIFICA TODOS AS ESTRUTURA COMERCIAIS QUE FECHAM NA DATA INFORMADA
		-- *******************************************************************************
	
		IF @CD_EST_COMERCIAL = 0 
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,3) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT  DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,2) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT  DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,1) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					ORDER BY 2 DESC,1

			END 
		ELSE
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL, 2
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						    AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					ORDER BY 2,1
			END

	
				    
	    -- ABRE O CURSOR DE ESTRUTURA COMERCIAL
	    OPEN @Cursor_EC
		FETCH NEXT FROM @Cursor_EC
		INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO

		WHILE @@FETCH_STATUS = 0
			BEGIN

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3001,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_3001 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 502
					AND A.VL_INDICADOR_PESSOAL  > 0

			        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3001
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_INDICADOR_PESSOAL_3001,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_INDICADOR_PESSOAL_3001,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END			

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES COM INICIOS COMPLETOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3002,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 503
					AND A.VL_INDICADOR_PESSOAL  > 0
  
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3002
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES REINÍCIOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3003,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN	
				
					SELECT  @VL_INDICADOR_PESSOAL_3003 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 504
					AND A.VL_INDICADOR_PESSOAL  > 0	
 
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3003
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_INDICADOR_PESSOAL_3003,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_INDICADOR_PESSOAL_3003,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES ATIVOS TOTAL NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3005,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_3005 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 508
					AND A.VL_INDICADOR_PESSOAL  > 0	
 
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3005
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_INDICADOR_PESSOAL_3005,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_INDICADOR_PESSOAL_3005,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	



				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3006,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 509
					AND A.VL_INDICADOR_PESSOAL  > 0	
 
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3006
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES DISPONÍVEIS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3007,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_CONTADOR= COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 506
					AND A.VL_INDICADOR_PESSOAL  > 0	


				        -- VERIFICA SE EXISTE O REGISTRO

					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3007
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES A CESSAR / CESSADAS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3008,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_3008 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 507
					AND A.VL_INDICADOR_PESSOAL  > 0	

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3008
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CADASTROS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3009,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_CONTADOR= COUNT (DISTINCT A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  IN (508,509)
					AND A.VL_INDICADOR_PESSOAL  > 0	

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3009
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- ATIVIDADE NO SETOR (ATIVOS TOTAL / CADASTROS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3010,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3009,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3005 / @VL_INDICADOR_PESSOAL_3009)*100
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3010
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- VALOR DA RECEITA LIQUIDA NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3011,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_INDICADOR_PESSOAL_3011 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL   = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO            = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO		
					AND A.CD_INDICADOR_PESSOAL = 501

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3011
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3011,
						@VL_INDICADOR_PESSOAL_3011,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3011,
						@VL_INDICADOR_PESSOAL_3011,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- VALOR DA PRODUTIVIDADE NO SETOR (RECEITA / ATIVOS TOTAL)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3012,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3005,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3011 / @VL_INDICADOR_PESSOAL_3005)
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3012
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES COM REPIQUE NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3013,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL   = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO            = @CD_FUNCAO		
					AND A.CD_INDICADOR_PESSOAL = 510
					AND A.NM_CICLO             = @NM_CICLO
					AND A.VL_INDICADOR_PESSOAL > 0

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3013
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	



				--******************************************************************************
			      	-- TOTAL DE PEDIDOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3014,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_INDICADOR_PESSOAL_3014 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL   = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO            = @CD_FUNCAO
					AND A.CD_INDICADOR_PESSOAL = 511
					AND A.NM_CICLO             = @NM_CICLO

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3014
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3014,
						@VL_INDICADOR_PESSOAL_3014,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3014,
						@VL_INDICADOR_PESSOAL_3014,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- REPIQUE NO SETOR  (PEDIDOS / ATIVOS TOTAL)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3015,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3005,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3014 / @VL_INDICADOR_PESSOAL_3005)*100
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3015
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- PERCENTUAL DE PERDA NO SETOR (CESSADAS / CADASTROS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3016,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3009,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3008 / @VL_INDICADOR_PESSOAL_3009)*100
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3016
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DO SALDO DE CONSULTORES NO SETOR (INÍCIOS + REINÍCIOS - CESSADAS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3017,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				 SELECT @VL_CONTADOR = (@VL_INDICADOR_PESSOAL_3001 + @VL_INDICADOR_PESSOAL_3003 - @VL_INDICADOR_PESSOAL_3008)

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3017
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				FETCH NEXT FROM @Cursor_EC
				INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO
			
				
			END


	 	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
