SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_AlertasExpiracaoCertificados]
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS
DECLARE @Cursor_certificados		CURSOR,
		@v_diasExpirar				INT,
		@v_dcNomeCertificado		VARCHAR(200),
		@v_idTipoCertificado		INT,
		@v_dcDestinatarios			NVARCHAR(4000),

		@v_dcTexto					VARCHAR(MAX),
		@v_data						DATETIME,
		@v_dc_email_destinatario	VARCHAR(200),

		@v_cdEmail					NUMERIC(18,0),
		@v_cd_envio_email			NUMERIC(18,0),
		@v_dc_assunto_email			VARCHAR(100),
		@v_envia_email				INT

BEGIN TRY
	-- ESTA PROCEDURE TEM O OBJETIVO DE ALERTAR NOSSOS CLIENTES SOBRE A RENOVAÇÃO DE CERTIFICADOS
	-- COM ISTO VISAMOS NÃO TER PROBLEMAS DE INDISPONIBILIDADE DO SISTEMA E TAMBÉM NO FATURAMENTO
	-- TEREMOS POR PADRÃO UM ALERTA FALTANDO 30 DIAS PARA EXPIRAR E OUTRO FALTANDO 15 DIAS

	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	SELECT @v_cdEmail = MIN(CD_EMAIL) 
	  FROM TB_EMAIL WITH(NOLOCK) 
	 WHERE ID_TIPO_EMAIL_EVENTO = 999

	-- VERIFICA SE O ENVIO PARA ESSE EVENTO ESTA ATIVO
	SELECT @v_envia_email = ID_SITUACAO
	FROM TB_ENVIO_EMAIL_PARAMETROS WITH(NOLOCK)
	WHERE CD_EMAIL = @v_cdEmail
		
	IF @v_envia_email = 1 
		BEGIN

			SELECT @v_data = GETDATE()				

			SET @Cursor_certificados = CURSOR FAST_FORWARD
			FOR
				SELECT DATEDIFF(DAY,DT_EXPIRACAO,GETDATE()), DC_NOME_CERTIFICADO, ID_TIPO_CERTIFICADO, DC_DESTINATARIOS_ALERTAS
				  FROM TB_CERTIFICADO WITH(NOLOCK)
				 WHERE DATEDIFF(DAY,DT_EXPIRACAO,GETDATE()) BETWEEN 0 AND 31 -- SÓ CERTIFICADOS VENCIDOS

			OPEN @Cursor_certificados
			FETCH NEXT FROM @Cursor_certificados
			INTO @v_diasExpirar, @v_dcNomeCertificado, @v_idTipoCertificado, @v_dc_email_destinatario

			WHILE @@FETCH_STATUS = 0
				BEGIN
				
					IF (@v_diasExpirar = 15 OR @v_diasExpirar = 31)
						BEGIN

							SELECT @v_dc_assunto_email = 'Certificado Prestes a Expirar'

							-- MONTA O TEXTO DE ENVIO DO E-MAIL DE ALERTA					
							SELECT @v_dcTexto = 'Prezado(a),<br><br>O certificado ' + @v_dcNomeCertificado + ' está prestes a expirar dentro de <b>' + convert(varchar,@v_diasExpirar) + ' dias</b>. Fique atento aos prazos e solicite a renovação o quanto antes.'
							SELECT @v_dcTexto = CASE @v_idTipoCertificado 
												WHEN 1 THEN @v_dcTexto + '<br><br>Caso o certificado ainda não tenha sido renovado providencie a renovação o quanto antes para que o faturamento não fique parado após a expiração do certificado.'
												WHEN 2 THEN @v_dcTexto + '<br><br>Caso o certificado ainda não tenha sido renovado providencie a renovação o quanto antes para que não ocorra erro ao acessar os ambientes. O certificado SSL quando vencido gera um erro ao acessar o ambiente e pode impactar suas vendas.'
												END
							SELECT @v_dcTexto = @v_dcTexto + '<br><br>Caso já tenha providenciado a renovação encaminhe os arquivos gerados e a senha de instalação (quando aplicado) para nosso suporte. Nossa equipe fará a instalação e dará o apoio necessário.<br><br>Atenciosamente,<br>Equipe Mazza ATS.'

							EXEC [pr_EmailInsereEnvioEmail ]
								0,							--@p_cd_envio_email			  numeric(18,0),
								@v_cdEmail,					--@p_cd_email                 numeric(18,0),
								@v_data,					--@p_dt_geracao_email         datetime ,
								NULL,						--@p_dt_envio_email           datetime,
								1,							--@p_id_situacao_envio_email  numeric(18,0),
								NULL,						--@p_cd_pessoa_destinatario   numeric(18,0),
								@v_dc_email_destinatario,	--@p_dc_email_destinatario    varchar(max),
								@v_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
								'',							--@p_dc_erro                  varchar(max),
	
								'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
								@v_cd_envio_email           OUTPUT,	
								@p_codigoErro				OUTPUT,
								@p_descricaoErro			OUTPUT,
								@p_linhasAfetadas			OUTPUT
																
							EXEC pr_EmailInsereEnvioEmailTexto
								@v_cd_envio_email,
								1,
								@v_dcTexto,
								'I',
								@p_codigoErro				OUTPUT,
								@p_descricaoErro			OUTPUT,
								@p_linhasAfetadas			OUTPUT
								END
										
					FETCH NEXT FROM @Cursor_certificados
					INTO @v_diasExpirar, @v_dcNomeCertificado, @v_idTipoCertificado, @v_dc_email_destinatario

				END
		END
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
