SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiContasReceberBaixaConta]
	@p_codigoParcela				NUMERIC(18,0),
	@p_valorPagamento				NUMERIC(18,2),
	@p_dataPagamento				DATETIME,
	@p_codigoEntidadeConciliacao	NUMERIC(18,0),
	@p_descObservacoes				VARCHAR(4000),
			
	@p_codigoUsuario				NUMERIC(18,0),
		
	@p_codigoErro					INT OUTPUT,
	@p_descErro						VARCHAR(1000) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT,
	@p_codigoPagamento				NUMERIC(18,0) OUTPUT
AS
DECLARE @v_existeParcela		TINYINT,
		@v_existeEntConciliacao	TINYINT

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	SELECT @p_qtLinhasAfetadas = 0

	SELECT @v_existeParcela = COUNT(*)
	  FROM TB_PARCELA WITH(NOLOCK)
	 WHERE CD_PARCELA = @p_codigoParcela

	IF @v_existeParcela = 0
		BEGIN
			-- NÃO ENCONTROU A PARCELA, SAI DA ROTINA
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Código da parcela/título não encontrado'

			RETURN
		END
	
	SELECT @v_existeEntConciliacao = COUNT(*)
	  FROM TB_ENTIDADE_CONCILIACAO WITH(NOLOCK)
	 WHERE CD_ENTIDADE_CONCILIACAO = @p_codigoEntidadeConciliacao

	IF @v_existeEntConciliacao = 0
		BEGIN
			-- NÃO ENCONTROU A ENT CONCILIACAO, SAI DA ROTINA
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Código da entidade de conciliação não encontrado'

			RETURN
		END

	-- valida o valor de pagamento
	IF @p_valorPagamento < 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O valor de pagamento deve ser maior ou igual a zero'

			RETURN
		END

	--agora executa a conciliação depois de validar os parâmetros
	EXEC dbo.SP_BAIXA_CONCILIACAO	@p_codigoParcela,
									@p_valorPagamento,
									@p_codigoEntidadeConciliacao,
									2, -- AUTOMATICO
									@p_descObservacoes,
									@p_codigoUsuario,
									@p_codigoErro OUTPUT,
									@p_descErro OUTPUT,
									@p_qtLinhasAfetadas OUTPUT

	-- SE NÃO HOUVER ERRO PRECISAMOS RETORNAR O ID DA CONCILIAÇÃO
	IF @p_codigoErro > 0
		BEGIN
			RETURN
		END
	ELSE
		BEGIN
			SELECT @p_codigoPagamento = MAX(CD_PROCESSAMENTO_BAIXA_CONCILIACAO)
			  FROM TB_PROCESSAMENTO_BAIXA_CONCILIACAO WITH(NOLOCK)
			 WHERE CD_PARCELA = @p_codigoParcela
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
