SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_DividaGravaHistoricoParcela]
	@p_codigoParcela NUMERIC(18,0),
	@p_dataInicio DATETIME,
	@p_dataTermino DATETIME,
	@p_dataVencimento DATE,	
	@p_dataValidade DATE,	
	@p_idSituacaoParcela INT,
	@p_idSituacaoPagamentoParcela INT,
	@p_idSituacaoCobrancaExterna INT,
	@p_codigoEntidadeCobrancaExterna NUMERIC(18,0),
	@p_valorOriginalParcela NUMERIC (18,2),
	@p_valorOriginalParcelaSaldo NUMERIC (18,2),
	@p_valorCreditoParcela NUMERIC (18,2),
	@p_valorCreditoParcelaSaldo NUMERIC (18,2),
	@p_valorAtualizadoParcela NUMERIC (18,2),
	@p_codigoUsuario NUMERIC(18,0),
	
	@p_codigoErro INT OUTPUT,
	@p_dcErro VARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
	
AS

BEGIN TRY

	    SELECT @p_qtLinhasAfetadas = 0
		
		BEGIN
		BEGIN TRANSACTION 
				-- CRIA REGISTRO
				INSERT INTO TB_PARCELA_HISTORICO (
							CD_PARCELA,
							DT_INICIO, 
							DT_TERMINO,
							DT_VENCIMENTO,
							DT_VALIDADE,
							ID_SITUACAO_PARCELA,
							ID_SITUACAO_PAGAMENTO_PARCELA,
							ID_SITUACAO_COBRANCA_EXTERNA,
							CD_ENTIDADE_COBRANCA_EXTERNA,
							VL_ORIGINAL_PARCELA,
							VL_ORIGINAL_PARCELA_SALDO,
							VL_CREDITO_PARCELA,
							VL_CREDITO_PARCELA_SALDO,
							VL_ATUALIZADO_PARCELA,
							CD_USUARIO)
				VALUES           (
							@p_codigoParcela,
							@p_dataInicio,
							@p_dataTermino,
							@p_dataVencimento, 
							@p_dataValidade, 
							@p_idSituacaoParcela, 
							@p_idSituacaoPagamentoParcela, 
							@p_idSituacaoCobrancaExterna, 
							@p_codigoEntidadeCobrancaExterna,
							@p_valorOriginalParcela,
							@p_valorOriginalParcelaSaldo,
							@p_valorCreditoParcela,
							@p_valorCreditoParcelaSaldo,
							@p_valorAtualizadoParcela,
							@p_codigoUsuario)
						
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
		
		
			END
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
