SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_REGRA_ENVIO_PRODUTO]
	@CD_REGRA_ENVIO_PRODUTO NUMERIC(18,0),
	@DC_REGRA_ENVIO_PRODUTO VARCHAR(80),
	@CD_PRODUTO_VENDA NUMERIC(18,0),
	@QT_ENVIO_PRODUTO NUMERIC(18,0),
	@NM_CICLO_INICIAL NUMERIC(18,0),
	@NM_CICLO_FINAL NUMERIC(18,0),
	@ID_FATURAMENTO_PRODUTO int,
	@ID_ENVIO_OBRIGATORIO int,
	@ID_SITUACAO_REGRA_ENVIO_PRODUTO int,
	@CD_FUNCAO int,
	
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_REGRA NUMERIC(18,0) OUTPUT

AS


BEGIN TRY
	

	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_REGRA_ENVIO_PRODUTO (
					DC_REGRA_ENVIO_PRODUTO,
					CD_PRODUTO_VENDA,
					QT_ENVIO_PRODUTO,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					ID_FATURAMENTO_PRODUTO,
					ID_ENVIO_OBRIGATORIO,
					ID_SITUACAO_REGRA_ENVIO_PRODUTO,
					CD_FUNCAO
					)
						
				VALUES           (
					@DC_REGRA_ENVIO_PRODUTO,
					@CD_PRODUTO_VENDA,
					@QT_ENVIO_PRODUTO,
					@NM_CICLO_INICIAL,
					@NM_CICLO_FINAL,
					@ID_FATURAMENTO_PRODUTO,
					@ID_ENVIO_OBRIGATORIO,
					@ID_SITUACAO_REGRA_ENVIO_PRODUTO,
					@CD_FUNCAO
					
					)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_REGRA = IDENT_CURRENT('TB_REGRA_ENVIO_PRODUTO')
			
				COMMIT TRANSACTION
			END
	
	
		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_REGRA_ENVIO_PRODUTO
				SET DC_REGRA_ENVIO_PRODUTO = @DC_REGRA_ENVIO_PRODUTO,
					CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA,
					QT_ENVIO_PRODUTO = @QT_ENVIO_PRODUTO,
					NM_CICLO_INICIAL = @NM_CICLO_INICIAL,
					NM_CICLO_FINAL = @NM_CICLO_FINAL,
					ID_FATURAMENTO_PRODUTO = @ID_FATURAMENTO_PRODUTO,
					ID_ENVIO_OBRIGATORIO = @ID_ENVIO_OBRIGATORIO,
					ID_SITUACAO_REGRA_ENVIO_PRODUTO = @ID_SITUACAO_REGRA_ENVIO_PRODUTO,
					CD_FUNCAO = @CD_FUNCAO
				WHERE CD_REGRA_ENVIO_PRODUTO = @CD_REGRA_ENVIO_PRODUTO
								
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_REGRA_ENVIO_PRODUTO
				WHERE CD_REGRA_ENVIO_PRODUTO = @CD_REGRA_ENVIO_PRODUTO
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END
				

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
