SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaCamposCadastro]
AS

	SELECT CD_PESSOA_PARAMETROS_CAMPOS_CADASTRO "id",
		   DC_CAMPO_CADASTRO "name",
		   ID_TIPO_PESSOA "type",
		   ID_CAMPO_OBRIGATORIO "mandatory",
		   ID_CAMPO_OCULTO_EV "hidden",
		   ID_CAMPO_OBRIGATORIO_EV_EDICAO "mandatoryEditing",
		   ID_CAMPO_OCULTO_EV_EDICAO "hiddenEditing",
		   0 "Editable"
	FROM TB_PESSOA_PARAMETROS_CAMPOS_CADASTRO WITH(NOLOCK)
GO
