SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_PROMOCAO_REQUISITO_FRETE]
	@CD_PROMOCAO_REQUISITO_FRETE		numeric(18, 0),
	@CD_PROMOCAO						numeric(18, 0),
	@NM_VALOR_REQUISITO_INICIAL			numeric(18, 2),
	@NM_VALOR_REQUISITO_FINAL			numeric(18, 2),
	@CD_USUARIO							NUMERIC(18,0),
	
	@VAR_TIPO_FUNCAO					VARCHAR(1),
	
	@VAR_RETORNO						INT OUTPUT,
	@DC_ERRO							NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS					INT OUTPUT,
	@CD_PROMOCAO_REQUISITO_FRETE_OUT	NUMERIC(18,0) OUTPUT
	
AS

BEGIN TRY
	BEGIN TRANSACTION 
	
	    SELECT @QT_LINHAS_AFETADAS = 0

		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN

				INSERT INTO TB_PROMOCAO_REQUISITO_FRETE (
					CD_PROMOCAO,
					NM_VALOR_REQUISITO_INICIAL,
					NM_VALOR_REQUISITO_FINAL,
					CD_USUARIO_CADASTRO,
					DT_CADASTRO
					)							
						
				VALUES           (
					@CD_PROMOCAO,
					@NM_VALOR_REQUISITO_INICIAL,
					@NM_VALOR_REQUISITO_FINAL,
					@CD_USUARIO,
					GETDATE()
					)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		        SELECT @CD_PROMOCAO_REQUISITO_FRETE_OUT = IDENT_CURRENT('TB_PROMOCAO_REQUISITO_FRETE')
			END	
		
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN

				DELETE FROM TB_PROMOCAO_REQUISITO_FRETE
				WHERE CD_PROMOCAO = @CD_PROMOCAO
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			END	
		
		COMMIT TRANSACTION

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
   
   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
