SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaIndicadorListaPessoaIndicador]
		@ID_TIPO_CONSULTA INT, -- 1 ESTRUTURA COMERCIAL / 2- ESTRUTURA GEOGRAFICA / 3 - LÍDER
		@CD_CONSULTA			NUMERIC(18,0), -- PODE SER : CD_EST_COMERCIAL, CD_EST_GEOGRAFICA, CD_PESSOA (LIDER)
		@NM_CICLO 			NUMERIC(18,0),
		@CD_FUNCAO			NUMERIC(18,0),
		@CD_INDICADOR_PESSOAL           NUMERIC(18,0)
		

	
AS

BEGIN

  IF (@ID_TIPO_CONSULTA = 1)   -- ESTRUTURA COMERCIAL
  BEGIN

    SELECT A.CD_PESSOA [Cód. Pessoa], 
  	  [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) [Pessoa],
	  [dbo].[FN_BUSCA_EMAIL_PESSOA] (A.CD_PESSOA,1) [E-mail],
	  isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](A.CD_PESSOA,3),'''') [Celular],
	  (SELECT ISNULL(Z.NM_CICLO_REINICIO,Z.NM_CICLO_INICIO) FROM TB_PESSOA_RESUMO Z WITH (NOLOCK) WHERE Z.CD_PESSOA = A.CD_PESSOA AND Z.CD_FUNCAO = 2) [Ciclo de Início]
    from TB_PESSOA_INDICADOR A WITH(NOLOCK), 
	  TB_INDICADOR_PESSOAL B WITH (NOLOCK)
    WHERE DBO.FN_EST_COMERCIAL(@CD_CONSULTA, A.CD_EST_COMERCIAL) = 1
    AND A.NM_CICLO                          = @NM_CICLO
    AND A.CD_FUNCAO                         = @CD_FUNCAO
    AND A.CD_INDICADOR_PESSOAL              = B.CD_INDICADOR_PESSOAL 
    AND B.CD_INDICADOR_PESSOA_EST_COMERCIAL = @CD_INDICADOR_PESSOAL
    AND A.VL_INDICADOR_PESSOAL              = 1
	AND B.ID_TIPO_INDICADOR = 1
    ORDER BY 2
  END

  IF (@ID_TIPO_CONSULTA = 2)   -- CD_EST_GEOGRAFICA
  BEGIN

    SELECT A.CD_PESSOA [Cód. Pessoa], 
  	  [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) [Pessoa],
	  [dbo].[FN_BUSCA_EMAIL_PESSOA] (A.CD_PESSOA,1) [E-mail],
	  isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](A.CD_PESSOA,3),'''') [Celular],
	  (SELECT ISNULL(Z.NM_CICLO_REINICIO,Z.NM_CICLO_INICIO) FROM TB_PESSOA_RESUMO Z WITH (NOLOCK) WHERE Z.CD_PESSOA = A.CD_PESSOA AND Z.CD_FUNCAO = 2) [Ciclo de Início]
    from TB_PESSOA_INDICADOR_EST_GEOGRAFICA A WITH(NOLOCK), 
	  TB_INDICADOR_PESSOAL              B WITH (NOLOCK)
    WHERE DBO.FN_EST_GEOGRAFICA(@CD_CONSULTA, A.CD_EST_GEOGRAFICA) = 1 
    AND A.NM_CICLO                            = @NM_CICLO
    AND A.CD_FUNCAO                           = @CD_FUNCAO
    AND A.CD_INDICADOR_PESSOAL                = B.CD_INDICADOR_PESSOAL 
    AND A.VL_INDICADOR_PESSOAL                = 1
		AND B.ID_TIPO_INDICADOR = 1
    AND B.CD_INDICADOR_PESSOAL_EST_GEOGRAFICA = @CD_INDICADOR_PESSOAL
    ORDER BY 2
  END

  IF (@ID_TIPO_CONSULTA = 3)   -- LÍDER
  BEGIN

    SELECT A.CD_PESSOA [Cód. Pessoa], 
  	  [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) [Pessoa],
	  [dbo].[FN_BUSCA_EMAIL_PESSOA] (A.CD_PESSOA,1) [E-mail],
	  isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](A.CD_PESSOA,3),'''') [Celular],
	  (SELECT ISNULL(Z.NM_CICLO_REINICIO,Z.NM_CICLO_INICIO) FROM TB_PESSOA_RESUMO Z WITH (NOLOCK) WHERE Z.CD_PESSOA = A.CD_PESSOA AND Z.CD_FUNCAO = 2) [Ciclo de Início]
    from TB_PESSOA_INDICADOR A WITH(NOLOCK), 
	  TB_INDICADOR_PESSOAL B WITH (NOLOCK),
	(SELECT CD_PESSOA PESSOA
	FROM TB_PESSOA_VINCULO_HISTORICO WITH (NOLOCK)
	WHERE CD_PESSOA_LIDERANCA = @CD_CONSULTA
	AND   CD_FUNCAO           = @CD_FUNCAO
	AND   NM_CICLO            = @NM_CICLO ) C
    WHERE A.CD_PESSOA              = C.PESSOA 
    AND A.NM_CICLO                 = @NM_CICLO
    AND A.CD_FUNCAO                = @CD_FUNCAO
    AND A.CD_INDICADOR_PESSOAL     = B.CD_INDICADOR_PESSOAL 
    AND A.VL_INDICADOR_PESSOAL     = 1
		AND B.ID_TIPO_INDICADOR = 1
    AND B.CD_INDICADOR_PESSOAL_MMN = @CD_INDICADOR_PESSOAL
    ORDER BY 2
  END



END
GO
