SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_EventoInsereEvento]
	@p_cdEvento						NUMERIC(18,0),
	@p_dcEvento						VARCHAR(80),
	@p_idSituacaoEvento				INT,
	@p_idTipoEvento					INT,
	@p_idFormaParticipacaoEvento	INT,
	@p_cdTreinamento				NUMERIC(18,0),
	@p_dcTurmaEvento				VARCHAR(80),
	@p_dcLinkEvento					VARCHAR(1000),
	@p_dcLocalEvento				VARCHAR(500),
	@p_dcObservacoesEvento			VARCHAR(500),
	@p_dtInicioEvento				DATE,
	@p_hrInicioEvento				TIME,
	@p_dtFimEvento					DATE,
	@p_hrFimEvento					TIME,
	@p_UFEvento						VARCHAR(50),
	@p_CidadeEvento					VARCHAR(50),

	@p_cdUsuario					NUMERIC(18,0),
	@p_dcAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS


DECLARE @v_qtdParticipantesEvento INT


BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0

		IF @p_dcAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				
				INSERT INTO TB_EVENTO (
					DC_EVENTO,
					ID_SITUACAO_EVENTO,
					ID_TIPO_EVENTO,
					ID_FORMA_PARTICIPACAO_EVENTO,
					CD_TREINAMENTO,
					DC_TURMA_EVENTO,
					DC_LINK_URL_EVENTO,
					DC_LOCAL_EVENTO,
					DC_OBSERVACOES_EVENTO,
					DT_INICIO_EVENTO,
					HR_INICIO_EVENTO,
					DT_FIM_EVENTO,
					HR_FIM_EVENTO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					UF_EVENTO,
					CIDADE_EVENTO)
					
				VALUES           (
					@p_dcEvento,
					@p_idSituacaoEvento,
					@p_idTipoEvento,
					@p_idFormaParticipacaoEvento,
					@p_cdTreinamento,
					@p_dcTurmaEvento,
					@p_dcLinkEvento,
					@p_dcLocalEvento,
					@p_dcObservacoesEvento,
					@p_dtInicioEvento,
					@p_hrInicioEvento,
					@p_dtFimEvento,
					@p_hrFimEvento,
					GETDATE(), 
					@p_cdUsuario, 
					GETDATE(), 
					@p_cdUsuario,
					@p_UFEvento,
					@p_CidadeEvento
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_EVENTO')
		 
				COMMIT TRANSACTION
			END
	
	
		IF @p_dcAcao = 'A'
			BEGIN
				BEGIN TRANSACTION 
				
				UPDATE TB_EVENTO 
				SET DC_EVENTO = @p_dcEvento,
					ID_SITUACAO_EVENTO = @p_idSituacaoEvento,
					ID_TIPO_EVENTO = @p_idTipoEvento,
					ID_FORMA_PARTICIPACAO_EVENTO = @p_idFormaParticipacaoEvento,
					CD_TREINAMENTO = @p_cdTreinamento,
					DC_TURMA_EVENTO = @p_dcTurmaEvento,
					DC_LINK_URL_EVENTO = @p_dcLinkEvento,
					DC_LOCAL_EVENTO = @p_dcLocalEvento,
					DC_OBSERVACOES_EVENTO = @p_dcObservacoesEvento,
					DT_INICIO_EVENTO = @p_dtInicioEvento,
					HR_INICIO_EVENTO = @p_hrInicioEvento,
					DT_FIM_EVENTO = @p_dtFimEvento,
					HR_FIM_EVENTO = @p_hrFimEvento,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_cdUsuario,
					UF_EVENTO = @p_UFEvento,
					CIDADE_EVENTO = @p_CidadeEvento
				WHERE  CD_EVENTO = @p_cdEvento

			
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @p_dcAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				SELECT @v_qtdParticipantesEvento = COUNT(*) 
				FROM TB_EVENTO_PARTICIPANTE WITH(NOLOCK)
				WHERE CD_EVENTO  = @p_cdEvento
				
				IF @v_qtdParticipantesEvento = 0
					BEGIN
											
						EXEC pr_EventoInsereFuncao
							@p_cdEvento,
							0, 
							@p_cdUsuario,
							'E',
							@p_codigoErro			output,
							@p_descErro				output,
							@p_linhasAfetadas		output
		

						EXEC pr_EventoInserePapelCarreira
							@p_cdEvento,
							0, 
							@p_cdUsuario,
							'E',
							@p_codigoErro			output,
							@p_descErro				output,
							@p_linhasAfetadas		output
	

						EXEC pr_EventoInserePapelDesempenho
							@p_cdEvento,
							0, 
							@p_cdUsuario,
							'E',
							@p_codigoErro			output,
							@p_descErro				output,
							@p_linhasAfetadas		output


						DELETE FROM TB_EVENTO
						WHERE  CD_EVENTO  = @p_cdEvento

					END

				IF @v_qtdParticipantesEvento > 0
					BEGIN
				      SELECT @p_descErro = 'O Evento tem participantes cadastrado. Evento não pode ser excluido'
					END

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END
				

		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
