SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rafael Francisco Simoes
-- Create date: 23/03/2022
-- Description:	Esta procedure tem o objetivo de processar todos os registros importados na carga de Indicadores
--				O cliente via tela faz o upload do Excel e esta rotina irá ler os registros populados e processá-los
-- =============================================
CREATE PROCEDURE [dbo].[pr_IndicadorProcessaCargaIndicadorManual]
	@p_codigoCargaItemIndicador		NUMERIC(18,0),
	@p_codigoUsuario				NUMERIC(18,0),
	@p_codigoErro					NUMERIC(18,0) OUTPUT,
	@p_descricaoErro				VARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT

AS
BEGIN TRY
	DECLARE @v_qtdeRegistros				INT,
			@v_qtdeRegistrosSucesso			INT,
			@v_qtdeRegistrosErro			INT,
			@v_resultadoValidacao			VARCHAR(MAX),
			@v_codigoCargaIndicadorItem		NUMERIC(18,0),
			@v_idOrigemItemIndicador		INT,
			@v_codigoOrigemItemIndicador	NUMERIC(18,0),
			@v_idSituacaoItemIndicador		INT,
			@v_codigoPessoa					NUMERIC(18,0),
			@v_codigoSituacaoComercial		INT,
			@v_numeroCiclo					NUMERIC(18,0),
			@v_numeroCicloIni				NUMERIC(18,0),
			@v_numeroCicloFim				NUMERIC(18,0),
			@v_codigoFuncao					INT,
			@v_codigoIndicadorPessoal		NUMERIC(18,0),
			@v_verCodigoIndicador			NUMERIC(18,0),
			@v_codigoEstComercial			NUMERIC(18,0),
			@v_verRegistroInserido			INT,
			@v_cursorItens					CURSOR,
			@v_cursorCiclos					CURSOR

	SET NOCOUNT ON;

	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	-- A PRIMEIRA VALIDAÇÃO É CHECAR SE A CARGA POSSUI REGISTROS E ATUALIZAR A INFORMAÇÃO NA TABELA DE CARGA
	SELECT @v_qtdeRegistros = COUNT(*),
		   @v_qtdeRegistrosSucesso = 0,
		   @v_qtdeRegistrosErro = 0
	  FROM TB_CARGA_PESSOA_INDICADOR_ITEM WITH(NOLOCK)
	 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador

	IF @v_qtdeRegistros > 0
		BEGIN
			-- VAMOS FAZER UM PRIMEIRO UPDATE DA QTDE DE REGISTROS E USUÁRIO
			UPDATE TB_CARGA_PESSOA_INDICADOR
			   SET QT_REGISTROS = @v_qtdeRegistros,
				   CD_USUARIO_CARGA = @p_codigoUsuario
			 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador

			-- AOGRA INICIA O CURSOR DOS ITENS PARA PROCESSAMENTO
			SET @v_cursorItens = CURSOR FAST_FORWARD
			FOR
				SELECT CD_CARGA_INDICADOR_ITEM,
					   ID_ORIGEM_ITEM_INCORPORAR,
					   CD_ORIGEM_ITEM_INCORPORAR,
					   ID_SITUACAO_ITEM_INCORPORAR,
					   CD_PESSOA,
					   CD_FUNCAO,
					   NM_CICLOINI,
					   NM_CICLOFIM,
					   CD_INDICADOR_PESSOAL
				  FROM TB_CARGA_PESSOA_INDICADOR_ITEM WITH(NOLOCK)
				 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
				   AND ID_SITUACAO_CARGA_ITEM = 1 -- PENDENTES DE PROCESSAMENTO
				 ORDER BY NM_LINHA

			OPEN @v_cursorItens
			FETCH NEXT FROM @v_cursorItens
			INTO @v_codigoCargaIndicadorItem, @v_idOrigemItemIndicador, @v_codigoOrigemItemIndicador, @v_idSituacaoItemIndicador, 
				 @v_codigoPessoa, @v_codigoFuncao, @v_numeroCicloIni, @v_numeroCicloFim, @v_codigoIndicadorPessoal

			WHILE @@FETCH_STATUS = 0
				BEGIN
					
					-- VAMOS INICIAR AS VALIDAÇÕES ANTES DE INSERIR O ITEM A INCORPORAR
					SELECT @v_resultadoValidacao = ''

					-- PRIMEIRA VALIDAÇÃO, PESSOA E FUNÇÃO
					SELECT @v_qtdeRegistros = COUNT(*)
					  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
					 WHERE CD_PESSOA = @v_codigoPessoa
					   AND CD_FUNCAO = @v_codigoFuncao

					IF @v_qtdeRegistros > 0
						BEGIN
							-- EXISTE A PESSOA, VAMOS CHECAR A SITUAÇÃO COMERCIAL
							SELECT @v_codigoSituacaoComercial = CD_SITUACAO_COMERCIAL,
								   @v_codigoEstComercial = CD_EST_COMERCIAL
							  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
							 WHERE CD_PESSOA = @v_codigoPessoa
							   AND CD_FUNCAO = @v_codigoFuncao

							IF @v_codigoSituacaoComercial = 4
								BEGIN
									-- PESSOA DESATIVADA NÃO TERÁ O ITEM INSERIDO
									SELECT @v_resultadoValidacao = @v_resultadoValidacao + 'Pessoa Desativada. '
								END
						END
					ELSE
						BEGIN
							-- PESSOA NÃO ENCONTRADA
							SELECT @v_resultadoValidacao = @v_resultadoValidacao + 'Pessoa não existe ou não possui a função informada. '
						END

					--VALIDA INDICADOR
					IF @v_codigoIndicadorPessoal < 5000
						BEGIN
							SELECT @v_resultadoValidacao = @v_resultadoValidacao + 'Código Indicador inválido. '
						END

					--VALIDA INDICADOR
					SELECT @v_verCodigoIndicador = COUNT(*)
					  FROM TB_INDICADOR_PESSOAL WITH(NOLOCK)
					  WHERE CD_INDICADOR_PESSOAL = @v_codigoIndicadorPessoal

					IF @v_verCodigoIndicador = 0
						BEGIN
							SELECT @v_resultadoValidacao = @v_resultadoValidacao + 'Código Indicador não existe. '
						END

					-- SE INFORMADO UM PEDIDO DE ORIGEM VAMOS CHECAR SE EXISTE, VALIDAÇÃO SIMPLES SEM DEMAIS DADOS
					IF @v_numeroCicloIni > 0
						BEGIN
							SELECT @v_qtdeRegistros = COUNT(*)
							  FROM TB_CICLO WITH(NOLOCK)
							 WHERE NM_CICLO = @v_numeroCicloIni

							IF @v_qtdeRegistros = 0
								BEGIN
									-- ID COBRADO
									SELECT @v_resultadoValidacao = @v_resultadoValidacao + 'Ciclo DE não encontrado. '
								END
						END
					IF @v_numeroCicloFim > 0
						BEGIN
							SELECT @v_qtdeRegistros = COUNT(*)
							  FROM TB_CICLO WITH(NOLOCK)
							 WHERE NM_CICLO = @v_numeroCicloFim

							IF @v_qtdeRegistros = 0
								BEGIN
									-- ID COBRADO
									SELECT @v_resultadoValidacao = @v_resultadoValidacao + 'Ciclo ATÉ não encontrado. '
								END
						END

					IF @v_numeroCicloFim > 0 AND @v_numeroCicloIni > 0
						BEGIN
							IF @v_numeroCicloFim < @v_numeroCicloIni
								BEGIN
									-- ID COBRADO
									SELECT @v_resultadoValidacao = @v_resultadoValidacao + 'Ciclo ATÉ não pode ser menor que o Ciclo DE. '
								END
						END

					-- FIM DAS VALIDAÇÕES, VAMOS CHECAR SE PASSOU OU SE HOUVE ERRO
					IF LEN(@v_resultadoValidacao) = 0
						BEGIN

							SET @v_cursorCiclos = CURSOR FAST_FORWARD
							FOR
								SELECT NM_CICLO FROM TB_CICLO WITH(NOLOCK) 
								 WHERE NM_CICLO >= @v_numeroCicloIni
								  AND NM_CICLO <= @v_numeroCicloFim

							OPEN @v_cursorCiclos
							FETCH NEXT FROM @v_cursorCiclos
							INTO @v_numeroCiclo

							WHILE @@FETCH_STATUS = 0
								BEGIN

									SELECT @v_verRegistroInserido = COUNT(*) 
									  FROM TB_PESSOA_INDICADOR WITH(NOLOCK)
									 WHERE CD_PESSOA = @v_codigoPessoa
									   AND CD_FUNCAO = @v_codigoFuncao
									   AND NM_CICLO = @v_numeroCiclo
									   AND CD_INDICADOR_PESSOAL = @v_codigoIndicadorPessoal

									   IF @v_verRegistroInserido = 0
									   BEGIN
											-- SUCESSO NAS VALIDAÇÕES, O ITEM A INCORPORAR SERÁ INSERIDO
											-- chama a procedure para inserir o item
											EXEC dbo.SP_CAD_PESSOA_INDICADOR	@v_codigoPessoa,
																				@v_codigoFuncao,
																				@v_codigoEstComercial,
																				@v_numeroCiclo,
																				@v_codigoIndicadorPessoal,
																				1, -- PARA O INDICADOR MANUAL, O VALOR FIXO É = 1
																				@p_codigoUsuario,
																				'I',
																				@p_codigoErro OUTPUT,
																				@p_descricaoErro OUTPUT,
																				@p_linhasAfetadas OUTPUT

											-- vamos checar se houve algum erro na execução
											IF @p_codigoErro = 0
												BEGIN
													UPDATE TB_CARGA_PESSOA_INDICADOR_ITEM
														SET ID_SITUACAO_CARGA_ITEM = 2,
															DC_MOTIVO_ERRO_CARGA_ITEM = 'Indicador gerado com sucesso',
															DT_PROCESSAMENTO = GETDATE()
														WHERE CD_CARGA_INDICADOR_ITEM = @v_codigoCargaIndicadorItem
														AND CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
												END
											ELSE
												BEGIN
													UPDATE TB_CARGA_PESSOA_INDICADOR_ITEM
														SET ID_SITUACAO_CARGA_ITEM = 3,
															DC_MOTIVO_ERRO_CARGA_ITEM = 'Erro ao incluir o item: ' + @p_descricaoErro,
															DT_PROCESSAMENTO = GETDATE()
														WHERE CD_CARGA_INDICADOR_ITEM = @v_codigoCargaIndicadorItem
														AND CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
												END
											END
										ELSE
											BEGIN
												UPDATE TB_CARGA_PESSOA_INDICADOR_ITEM
												   SET ID_SITUACAO_CARGA_ITEM = 3,
													   DC_MOTIVO_ERRO_CARGA_ITEM = 'Já consta um registro para esse Indicador',
													   DT_PROCESSAMENTO = GETDATE()
												 WHERE CD_CARGA_INDICADOR_ITEM = @v_codigoCargaIndicadorItem
												   AND CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador

												   SELECT @p_codigoErro = 1
											END
									FETCH NEXT FROM @v_cursorCiclos
									INTO @v_numeroCiclo
							END
							IF @p_codigoErro = 0
								BEGIN
									-- ATUALIZA CONTADOR DE SUCESSO
									SELECT @v_qtdeRegistrosSucesso = @v_qtdeRegistrosSucesso + 1

									UPDATE TB_CARGA_PESSOA_INDICADOR 
									   SET QT_REGISTROS_SUCESSO = @v_qtdeRegistrosSucesso
									 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador

								END
							ELSE
								BEGIN
									-- ALGO INCORRETO FOI ENCONTRADO O ITEM DA CARGA SERÁ ATUALIZADO
									SELECT @v_qtdeRegistrosErro = @v_qtdeRegistrosErro + 1

									UPDATE TB_CARGA_PESSOA_INDICADOR 
									   SET QT_REGISTROS_ERRO = @v_qtdeRegistrosErro
									 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador

								END
						END
					ELSE
						BEGIN
							-- ALGO INCORRETO FOI ENCONTRADO O ITEM DA CARGA SERÁ ATUALIZADO
							SELECT @v_qtdeRegistrosErro = @v_qtdeRegistrosErro + 1

							UPDATE TB_CARGA_PESSOA_INDICADOR 
								SET QT_REGISTROS_ERRO = @v_qtdeRegistrosErro
								WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador


							UPDATE TB_CARGA_PESSOA_INDICADOR_ITEM
							   SET ID_SITUACAO_CARGA_ITEM = 3,
								   DC_MOTIVO_ERRO_CARGA_ITEM = @v_resultadoValidacao,
								   DT_PROCESSAMENTO = GETDATE()
							 WHERE CD_CARGA_INDICADOR_ITEM = @v_codigoCargaIndicadorItem
							   AND CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
						END

					FETCH NEXT FROM @v_cursorItens
					INTO @v_codigoCargaIndicadorItem, @v_idOrigemItemIndicador, @v_codigoOrigemItemIndicador, @v_idSituacaoItemIndicador, 
						 @v_codigoPessoa, @v_codigoFuncao, @v_numeroCicloIni, @v_numeroCicloFim, @v_codigoIndicadorPessoal
				END

			-- TERMINOU A EXECUÇÃO COM SUCESSO, VAMOS ATUALIZAR A SITUAÇÃO DE PROCESSAMENTO DA CARGA
			UPDATE TB_CARGA_PESSOA_INDICADOR 
			   SET ID_SITUACAO_CARGA = 2, -- SUCESSO NA EXECUÇÃO
				   DT_FIM_PROCESSAMENTO = GETDATE(),
				   CD_USUARIO_CARGA = @p_codigoUsuario
			 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
		END
	ELSE
		BEGIN
			UPDATE TB_CARGA_PESSOA_INDICADOR 
			   SET ID_SITUACAO_CARGA = 3,
				   DT_FIM_PROCESSAMENTO = GETDATE(),
				   CD_USUARIO_CARGA = @p_codigoUsuario
			 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
		END
	
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
   SELECT @p_codigoErro = 2
   SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- COMO HOUVE UM ERRO INESPERADO VAMOS FECHAR A CARGA
   UPDATE TB_CARGA_PESSOA_INDICADOR 
	  SET ID_SITUACAO_CARGA = 3,
		  DT_FIM_PROCESSAMENTO = GETDATE(),
		  CD_USUARIO_CARGA = @p_codigoUsuario
	WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
   
END CATCH;
GO
