SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_BAIXA_CONCILIACAO_BATCH]
	@VAR_RETORNO		INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @Cursor_Itens						CURSOR

DECLARE @CD_PROCESSAMENTO_BAIXA_CONCILIACAO	NUMERIC(18,0)
DECLARE @CD_PARCELA							NUMERIC(18,0)
DECLARE @VL_PAGO							NUMERIC(18,2)
DECLARE @CD_ENTIDADE_CONCILIACAO			NUMERIC(18,0)
DECLARE @ID_TIPO_CONCILIACAO				INT
DECLARE @DC_OBSERVACOES_CONCILIACAO			varchar(max)
DECLARE @CD_USUARIO							NUMERIC(18,0)
DECLARE @v_codigoConciliacao				NUMERIC(18,0)

BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0

	-- *****************************************************
	-- VAMOS ABRIR O CURSOR DA TABELA TB_PROCESSAMENTO_CANCELA_PEDIDO
	-- WHERE ID_SITUACAO_PROCESSAMENTO = 1 (EM FILA)
	-- *****************************************************
			
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
	
		
		SELECT	CD_PROCESSAMENTO_BAIXA_CONCILIACAO,
				CD_PARCELA,
				VL_PAGO,
				CD_ENTIDADE_CONCILIACAO, 
				ID_TIPO_CONCILIACAO,
				DC_OBSERVACOES_CONCILIACAO,
				CD_USUARIO
		FROM TB_PROCESSAMENTO_BAIXA_CONCILIACAO WITH(NOLOCK)
		WHERE ID_SITUACAO_PROCESSAMENTO = 1	
		
	OPEN @Cursor_Itens
	FETCH NEXT FROM @Cursor_Itens
	INTO		@CD_PROCESSAMENTO_BAIXA_CONCILIACAO,
				@CD_PARCELA,
				@VL_PAGO,
				@CD_ENTIDADE_CONCILIACAO, 
				@ID_TIPO_CONCILIACAO,
				@DC_OBSERVACOES_CONCILIACAO,
				@CD_USUARIO	

	WHILE @@FETCH_STATUS = 0
		BEGIN

			EXEC dbo.SP_BAIXA_CONCILIACAO_PROCESSAMENTO
  				@CD_PARCELA,
				@VL_PAGO,
				@CD_ENTIDADE_CONCILIACAO,
				@ID_TIPO_CONCILIACAO,
				@DC_OBSERVACOES_CONCILIACAO,
				@CD_USUARIO,
				@VAR_RETORNO		OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
					
			
			-- GRAVA RETORNO COM SUCESSO
			IF @VAR_RETORNO = 0 
				BEGIN
					--BUSCA O CÓDIGO DA CONCILIAÇÃO
					SELECT @v_codigoConciliacao = MAX(CD_CONCILIACAO)
					  FROM TB_CONCILIACAO WITH(NOLOCK)
					 WHERE CD_PARCELA = @CD_PARCELA

					UPDATE TB_PROCESSAMENTO_BAIXA_CONCILIACAO
					SET ID_SITUACAO_PROCESSAMENTO = 3, DT_ENVIO_PROCESSAMENTO = GETDATE(),
					-- atualização por Diego Zilioti em 04/12/2020
					-- vamos retornar o código da conciliação aqui para que possa ser utilizado na API para o método de estorno de pagamento
						CD_RETORNO_PROCESSAMENTO = CONVERT(VARCHAR(800),@v_codigoConciliacao)
					WHERE CD_PROCESSAMENTO_BAIXA_CONCILIACAO = @CD_PROCESSAMENTO_BAIXA_CONCILIACAO

				END
			ELSE
				BEGIN
					-- GRAVA RETORNO COM ERRO
					UPDATE TB_PROCESSAMENTO_BAIXA_CONCILIACAO
					SET ID_SITUACAO_PROCESSAMENTO = 4, CD_RETORNO_PROCESSAMENTO = @DC_ERRO
					WHERE CD_PROCESSAMENTO_BAIXA_CONCILIACAO = @CD_PROCESSAMENTO_BAIXA_CONCILIACAO

				END
				
						
																										
			FETCH NEXT FROM @Cursor_Itens
			INTO		@CD_PROCESSAMENTO_BAIXA_CONCILIACAO,
				@CD_PARCELA,
				@VL_PAGO,
				@CD_ENTIDADE_CONCILIACAO, 
				@ID_TIPO_CONCILIACAO,
				@DC_OBSERVACOES_CONCILIACAO,
				@CD_USUARIO		
														
		END

		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
