SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_MN_APLICA_PLANO_CARREIRA_LAS]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS



BEGIN TRY
	SELECT @VAR_RETORNO = 0
	SELECT @DC_ERRO =''

	exec dbo.SP_MN_CALCULA_REMUNERACAO_REDE
					@CD_PESSOA,	
					@CD_FUNCAO,
					@NM_CICLO,
					0, --@nm_pedido
					0, --@ID_ORIGEM	
					1, --@ID_MODO_EXECUCAO 1 para pessoa e 2 para pedido
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
