SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ColetaAtualizarOrdemColetaItem]
	@p_codigoOrdemColeta				NUMERIC(18,0),
	@p_codigoOrdemColetaItem			NUMERIC(18,0),
	@p_qtdColetada						NUMERIC(18,0),
	@p_codigoSituacaoOrdemColetaItem	INT,
	@p_codigoCentroEstoque				INT,
	@p_descricaoMotivo					VARCHAR(2000),
	
	@p_codigoUsuario					NUMERIC(18,0),
	
	@p_codigoErro						INT OUTPUT,
	@p_descricaoErro					VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas					INT OUTPUT

AS

DECLARE @v_qtdItens			INT,
		@v_numeroPedido		numeric(18,0),
		@v_qtdeNFEntrada	int

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		BEGIN TRANSACTION 

		UPDATE TB_ORDEM_COLETA_ITEM 
		SET QT_ITEM_COLETADA = @p_qtdColetada,
			CD_SITUACAO_ORDEM_COLETA_ITEM = @p_codigoSituacaoOrdemColetaItem,
			ID_CENTRO_ESTOQUE = @p_codigoCentroEstoque
		WHERE CD_ORDEM_COLETA = @p_codigoOrdemColeta
			AND CD_ORDEM_COLETA_ITEM = @p_codigoOrdemColetaItem
		
		SELECT @p_linhasAfetadas = @@ROWCOUNT
	
		COMMIT TRANSACTION
		
		-- *********************************************************************	
		-- VERIFICA SE EXISTE ALGUM ITEM COM SITUAÇÃO = 3
		-- SE NÃO TIVER VAMOS ENCERRAR A ORDEM DE COLETA
		-- *********************************************************************
		SELECT @v_qtdItens = COUNT(*)
		FROM TB_ORDEM_COLETA_ITEM
		WHERE CD_ORDEM_COLETA = @p_codigoOrdemColeta
		AND CD_SITUACAO_ORDEM_COLETA_ITEM = 3

		-- *******************************************************************
		-- Verifica se já existe uma NF de entrada emitida para este pedido
		-- *******************************************************************
		SELECT @v_qtdeNFEntrada = COUNT(*)
		  FROM TB_NOTA_FISCAL
		 WHERE NM_PEDIDO = (SELECT O.NM_PEDIDO FROM TB_ORDEM_COLETA O WHERE O.CD_ORDEM_COLETA = @p_codigoOrdemColeta)
		   AND ID_TIPO_NOTA_FISCAL = 1
		   AND ID_SITUACAO_NOTA_FISCAL = 2
				
		IF @v_qtdItens = 0 AND @v_qtdeNFEntrada = 0
			BEGIN
				UPDATE TB_ORDEM_COLETA
				SET DT_CONCLUSAO = GETDATE(),
				CD_SITUACAO_ORDEM_COLETA = 5
				WHERE CD_ORDEM_COLETA = @p_codigoOrdemColeta
				
				--Ao finalizar a ordem de coleta precisamos gerar a nota fiscal de entrada
				--Só será gerada se tivermos itens coletados e incorporados ao estoque
				SELECT @v_qtdItens = COUNT(*)
				FROM TB_ORDEM_COLETA_ITEM
				WHERE CD_ORDEM_COLETA = @p_codigoOrdemColeta
				AND CD_SITUACAO_ORDEM_COLETA_ITEM = 5
				
				if @v_qtdItens > 0
					begin
						--Primeiro vamos buscar o número do pedido relacionado a ordem de coleta.
						select @v_numeroPedido = NM_PEDIDO
						  from TB_ORDEM_COLETA
						 where CD_ORDEM_COLETA = @p_codigoOrdemColeta
				 
						--Chama a geração da NF de entrada no estoque
						exec pr_FiscalGeraNotaFiscalEntradaOrdemColeta @p_codigoOrdemColeta,
																	   @v_numeroPedido,
																	   1,
																	   @p_codigoUsuario,
																	   @p_codigoErro output,
																	   @p_descricaoErro output,
																	   @p_linhasAfetadas output
					end
				
			END
		
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
