SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_NV]
	@CD_PESSOA NUMERIC(18,0),	
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CURSOR_INDICADORES   	        CURSOR
DECLARE @CD_USUARIO NUMERIC(18,0)

DECLARE @V_QUERY                     INT,
        @V_CD_PESSOA                 NUMERIC(18,0),	
	@V_CD_FUNCAO                 NUMERIC(18,0),
	@V_NM_CICLO                  NUMERIC(18,0),
        @V_CD_PESSOA_VINCULADA       NUMERIC(18,0),
        @V_CD_EST_COMERCIAL          NUMERIC(18,0),
        @V_NM_NIVEL                  NUMERIC(18,0),
        @V_NM_CICLO_PROXIMO          NUMERIC(18,0),
        @V_CD_INDICADOR_PESSOAL      NUMERIC(18,0),
	@V_VL_INDICADOR_PESSOAL      NUMERIC(18,2),
        @V_CD_INDICADOR_PESSOAL_ANT  NUMERIC(18,0),
        @V_VL_INDICADOR_PESSOAL_1    NUMERIC(18,2),
	@V_VL_INDICADOR_PESSOAL_2426 NUMERIC(18,2),    
       	@V_VL_INDICADOR_PESSOAL_2527 NUMERIC(18,2),    
        @EXISTE_REGISTRO	      INT,
	@CALCULA_INDICADOR	      INT,
        @ID_MOMENTO_CALCULO_INDICADOR INT,
        @V_CD_PAPEL_DESEMPENHO        INT






BEGIN TRY

  SELECT @QT_LINHAS_AFETADAS = 0,
         @CD_USUARIO  = 0




  SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   
END CATCH;
GO
