SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_EC_INDICADOR_CLIENTE_LOWELL]
				@CD_EST_COMERCIAL   NUMERIC(18, 0),
				@DT_FECHAMENTO      DATE,
				@CD_USUARIO         NUMERIC(18,0),
				@VAR_RETORNO        INT OUTPUT,
				@DC_ERRO            NVARCHAR(MAX) OUTPUT,
				@QT_LINHAS_AFETADAS INT OUTPUT


AS


	DECLARE @Cursor_EC					CURSOR,
		@NM_CICLO					NUMERIC(18,0),
		@CD_ESTRUTURA					NUMERIC(18,0),
		@CD_FUNCAO					INT,
		@ID_MOMENTO_CALCULO_INDICADOR  NUMERIC(18,0),
		@CALCULA_INDICADOR  INT,
		@EXISTE_REGISTRO    INT

	DECLARE @VL_INDICADOR_PESSOAL_3001		NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3002		NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3003	        NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3004		NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3005		NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3006		NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3008		NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3011		NUMERIC(18,2),
		@VL_CONTADOR                     	NUMERIC(18,2)

	DECLARE @VL_INDICADOR_PESSOAL_3023		NUMERIC(18,2),
		@VL_INDICADOR_PESSOAL_3028		NUMERIC(18,2)

BEGIN TRY


	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @ID_MOMENTO_CALCULO_INDICADOR = 2
	    
	    -- *******************************************************************************
		-- CURSOR DE ESTRUTURA COMERCIAL
		-- VERIFICA TODOS AS ESTRUTURA COMERCIAIS QUE FECHAM NA DATA INFORMADA
		-- *******************************************************************************
	
		IF @CD_EST_COMERCIAL = 0 
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,3) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT  DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,2) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					UNION
					SELECT  DISTINCT NM_CICLO, [dbo].[FN_BUSCA_COD_EST_COMERCIAL_NIVEL](CD_EST_COMERCIAL,1) AS EST_COMERCIAL, 2 AS FUNCAO
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						      AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					ORDER BY 2 DESC,1

			END 
		ELSE
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL, 2
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE (    (CONVERT(DATE, DT_INICIAL, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						      AND CONVERT(DATE, DT_FINAL, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) )
						OR (CONVERT(DATE, DT_INICIAL_CICLO_ESTENDIDO, 103) <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
                                                    --AND CONVERT(DATE, DATEADD (day,1,DT_FINAL_CICLO_ESTENDIDO), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
						    AND CONVERT(DATE, DT_FINAL_CICLO_ESTENDIDO, 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) ) )
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					and cd_est_comercial in (SELECT CD_EST_COMERCIAL FROM TB_PESSOA_RESUMO WHERE CD_FUNCAO = 2)
					ORDER BY 2,1
			END

	
				    
	    -- ABRE O CURSOR DE ESTRUTURA COMERCIAL
	    OPEN @Cursor_EC
		FETCH NEXT FROM @Cursor_EC
		INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO

		WHILE @@FETCH_STATUS = 0
			BEGIN

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3001,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_3001 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 502
					AND A.VL_INDICADOR_PESSOAL  = 1

			        	-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3001
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_INDICADOR_PESSOAL_3001,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_INDICADOR_PESSOAL_3001,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END			


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES ATIVOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3002,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_INDICADOR_PESSOAL_3002 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 503
					AND A.VL_INDICADOR_PESSOAL  = 1
 
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3002
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_INDICADOR_PESSOAL_3002,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_INDICADOR_PESSOAL_3002,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3003,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_3003 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 506
					AND A.VL_INDICADOR_PESSOAL  = 1
 
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3003
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_INDICADOR_PESSOAL_3003,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_INDICADOR_PESSOAL_3003,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES DISPONÍVEIS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3004,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_3004 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 506
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3004
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3004,
						@VL_INDICADOR_PESSOAL_3004,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3004,
						@VL_INDICADOR_PESSOAL_3004,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES A CESSAR / CESSADAS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3005,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_3005 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 505
					AND A.VL_INDICADOR_PESSOAL  = 1


				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3005
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_INDICADOR_PESSOAL_3005,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_INDICADOR_PESSOAL_3005,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CADASTROS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3006,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT  @VL_INDICADOR_PESSOAL_3006  = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 530
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3006
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_INDICADOR_PESSOAL_3006,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_INDICADOR_PESSOAL_3006,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- ATIVIDADE (ATIVOS / CADASTROS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3007,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3006,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3002 / @VL_INDICADOR_PESSOAL_3006)*100
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3007
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- VALOR DA RECEITA LIQUIDA NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3008,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_INDICADOR_PESSOAL_3008 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL   = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO            = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO		
					AND A.CD_INDICADOR_PESSOAL = 501

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3008
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- VALOR DA PRODUTIVIDADE NO SETOR (RECEITAS LIQUIDA / ATIVOS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3009,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3002,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3008 / @VL_INDICADOR_PESSOAL_3002)
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3009
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES COM REPIQUE NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3010,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 507
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3010
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE PEDIDOS NO SETOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3011,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

					SELECT @VL_INDICADOR_PESSOAL_3011 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 508

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3011
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3011,
						@VL_INDICADOR_PESSOAL_3011,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3011,
						@VL_INDICADOR_PESSOAL_3011,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- REPIQUE NO SETOR  (PEDIDOS / ATIVOS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3012,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3002,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3011 / @VL_INDICADOR_PESSOAL_3002)*100
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3012
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3012,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- PERCENTUAL DE PERDA NO SETOR (CESSADAS / DISPONIVEIS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3013,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_3004,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_3005 / @VL_INDICADOR_PESSOAL_3004)*100
	                         	ELSE 0  END

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3013
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DO SALDO DE CONSULTORES NO SETOR (INÍCIOS - CESSADAS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3014,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				 SELECT @VL_CONTADOR = (@VL_INDICADOR_PESSOAL_3001 - @VL_INDICADOR_PESSOAL_3005)

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3014
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- ATINGIMENTO META INÍCIOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3015,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				 SELECT @VL_CONTADOR = CASE WHEN ISNULL(MAX(VL_META),0) > 0 THEN  (@VL_INDICADOR_PESSOAL_3001 / ISNULL(MAX(VL_META),0))*100  ELSE 0 END
					 FROM TB_META_INDICADOR with (NOLOCK)
					 WHERE NM_CICLO           = @NM_CICLO
					 AND dbo.FN_EST_COMERCIAL(@CD_ESTRUTURA, CD_EST_COMERCIAL) = 1   
					 AND CD_INDICADOR_PESSOAL = 3001

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3015
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- ATINGIMENTO META ATIVOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3016,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				 SELECT @VL_CONTADOR = CASE WHEN ISNULL(MAX(VL_META),0) > 0 THEN  (@VL_INDICADOR_PESSOAL_3002 / ISNULL(MAX(VL_META),0))*100  ELSE 0 END
					 FROM TB_META_INDICADOR with (NOLOCK)
					 WHERE NM_CICLO           = @NM_CICLO
					 AND dbo.FN_EST_COMERCIAL(@CD_ESTRUTURA, CD_EST_COMERCIAL) = 1   
					 AND CD_INDICADOR_PESSOAL = 3002

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3016
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- ATINGIMENTO META RECEITA LIQUIDA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3017,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				 SELECT @VL_CONTADOR = CASE WHEN ISNULL(MAX(VL_META),0) > 0 THEN  (@VL_INDICADOR_PESSOAL_3008 / ISNULL(MAX(VL_META),0))*100  ELSE 0 END
					 FROM TB_META_INDICADOR with (NOLOCK)
					 WHERE NM_CICLO           = @NM_CICLO
					 AND dbo.FN_EST_COMERCIAL(@CD_ESTRUTURA, CD_EST_COMERCIAL) = 1   
					 AND CD_INDICADOR_PESSOAL = 3008

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3017
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS 1
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3020,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 531
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3020
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3020,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS 2
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3021,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 532
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3021
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3021,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS 3
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3022,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 533
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3022
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3022,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3022,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS 4
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3023,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_INDICADOR_PESSOAL_3023 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 534
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3023
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3023,
						@VL_INDICADOR_PESSOAL_3023,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3023,
						@VL_INDICADOR_PESSOAL_3023,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE INTENÇÃO DE REVENDA CADASTRADA
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3024,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 535
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3024
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3024,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


				--******************************************************************************
			      	-- TOTAL DE INTENÇÃO DE REVENDA CADASTRADA E INÍCIO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3025,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 536
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3025
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3025,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES ATIVOS TODO ANO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3026,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 537
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3026
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3026,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3026,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	


			/*	--******************************************************************************
			      	-- TOTAL DE CONSULTORES INATIVOS E ATIVOS CICLO ANTERIOR
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3027,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 538
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3027
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3027,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	*/

				--******************************************************************************
			      	-- TOTAL DE CONSULTORES REINÍCIOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3028,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_INDICADOR_PESSOAL_3028 = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 539
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3028
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3028,
						@VL_INDICADOR_PESSOAL_3028,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3028,
						@VL_INDICADOR_PESSOAL_3028,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES DESATIVADOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3029,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 540
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3029
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3029,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3029,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3030,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 541
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3030
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3030,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o E 3o CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3031,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 542
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3031
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3031,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o, 3o E 4o CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3032,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
					SELECT  @VL_CONTADOR = COUNT (A.CD_PESSOA) 
					FROM TB_PESSOA_INDICADOR A  with(nolock)
					--WHERE A.CD_EST_COMERCIAL    = @CD_ESTRUTURA
					WHERE DBO.FN_EST_COMERCIAL(@CD_ESTRUTURA, A.CD_EST_COMERCIAL) = 1 --A.CD_EST_COMERCIAL        = @CD_ESTRUTURA	
					AND A.CD_FUNCAO             = @CD_FUNCAO	
					AND A.NM_CICLO              = @NM_CICLO	
					AND A.CD_INDICADOR_PESSOAL  = 543
					AND A.VL_INDICADOR_PESSOAL  = 1

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3032
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3032,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TOTAL DO SALDO DE CONSULTORES ((INÍCIO + REINÍCIO) - INATIVA 4)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3033,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		

  	  				 SELECT @VL_CONTADOR = ( (@VL_INDICADOR_PESSOAL_3001 + @VL_INDICADOR_PESSOAL_3028) - @VL_INDICADOR_PESSOAL_3023)

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3033
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3033,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	








				FETCH NEXT FROM @Cursor_EC
				INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO
			
				
			END


	 	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
