SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_AtivarRemunerarCalculaAtivasRemuneracoesMNJobAKMOS]
AS
declare    @CURSOR_PEDIDO                    CURSOR,
	       @CD_PEDIDO_PROCESSAMENTO          NUMERIC (18,0),
	       @NM_PEDIDO                        NUMERIC (18,0),
	       @NM_CICLO                         NUMERIC (18,0),
	       @CD_PESSOA                        NUMERIC (18,0),
	       @CD_FUNCAO                        NUMERIC (18,0),
	       @ID_TIPO_MOVIMENTO                INT,
	       @VL_PONTOS                        NUMERIC (18,2),
	       @CD_PAPEL_CARREIRA                NUMERIC (18,0),
	       @CD_PAPEL_DESEMPENHO              NUMERIC (18,0),
	       @VL_PONTOS_ATUAL                  NUMERIC (18,2),
           @VAR_RETORNO                      INT,
	       @DC_ERRO                          NVARCHAR(MAX),
	       @QT_LINHAS_AFETADAS               INT,
           @ID_SITUACAO_PEDIDO_PROCESSAMENTO INT 

BEGIN

  -- BUSCA OS PEDIDOS PARA PROCESSAMENTO
  SET @CURSOR_PEDIDO = CURSOR FAST_FORWARD
  FOR SELECT CD_PEDIDO_PROCESSAMENTO, NM_PEDIDO, NM_CICLO, CD_PESSOA, CD_FUNCAO, ID_TIPO_MOVIMENTO, VL_PONTOS
      FROM TB_MN_PEDIDO_PROCESSAMENTO  with (NOLOCK)
      WHERE ID_SITUACAO_PEDIDO_PROCESSAMENTO = 1
      ORDER BY  1
    
   
  OPEN @CURSOR_PEDIDO
  FETCH NEXT FROM @CURSOR_PEDIDO
  INTO @CD_PEDIDO_PROCESSAMENTO, @NM_PEDIDO, @NM_CICLO, @CD_PESSOA, @CD_FUNCAO, @ID_TIPO_MOVIMENTO, @VL_PONTOS
	      
  WHILE @@FETCH_STATUS = 0
  BEGIN  

--insert into tb_dominio values (330,1,'Disponível para calcular remuneração',1)
--insert into tb_dominio values (330,2,'Erro no calcular remuneração',1)
--insert into tb_dominio values (330,3,'Disponível para calcular ativação',1)
--insert into tb_dominio values (330,4,'Erro no calcular ativação',1)
--insert into tb_dominio values (330,5,'Disponível para calcular lucratividade',1)
--insert into tb_dominio values (330,6,'Erro no calcular lucratividade',1)
--insert into tb_dominio values (330,7,'Disponível para calcular indicador',1)
--insert into tb_dominio values (330,8,'Erro no calcular indicador',1)
--insert into tb_dominio values (330,9,'Finalizado',1)

    SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 1
    -- CALCULAR A REMUNERACAO
    IF (@ID_TIPO_MOVIMENTO = 1 AND @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 1)  -- CREDITO
    BEGIN
	  EXEC SP_MN_CALCULA_REMUNERACAO_GENERICA_TEMPOREAL
		@CD_PESSOA,
		@CD_FUNCAO,
		@NM_CICLO,
		@NM_PEDIDO,
		@VAR_RETORNO OUTPUT,
		@DC_ERRO OUTPUT,
		@QT_LINHAS_AFETADAS OUTPUT     

      IF (@VAR_RETORNO <> 0)
      BEGIN
 	    SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 2
        BEGIN TRANSACTION
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = @DC_ERRO
        WHERE CD_PEDIDO_PROCESSAMENTO        =  @CD_PEDIDO_PROCESSAMENTO 
		COMMIT TRANSACTION
      END
      ELSE
      BEGIN
	    SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 3
        BEGIN TRANSACTION
        -- ATUALIZA PROCESSAMENTO
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = NULL
        WHERE CD_PEDIDO_PROCESSAMENTO        = @CD_PEDIDO_PROCESSAMENTO 
		COMMIT TRANSACTION
      END

    END

    IF (@ID_TIPO_MOVIMENTO = 2 AND @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 1)  -- DEBITO
    BEGIN
      EXEC SP_MN_CALCULA_REMUNERACAO_GENERICA_DEVOLUCAO
	@CD_PESSOA,
	@CD_FUNCAO,
--	@NM_CICLO,
	@NM_PEDIDO,
	@VAR_RETORNO OUTPUT,
	@DC_ERRO OUTPUT,
	@QT_LINHAS_AFETADAS OUTPUT     

      IF (@VAR_RETORNO <> 0)
      BEGIN
	    
	    SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 2
        BEGIN TRANSACTION
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = @DC_ERRO
        WHERE CD_PEDIDO_PROCESSAMENTO        =  @CD_PEDIDO_PROCESSAMENTO 
		COMMIT TRANSACTION
      END

      ELSE
      BEGIN
        -- ATUALIZA PROCESSAMENTO
        SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 3
        BEGIN TRANSACTION
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = NULL
        WHERE CD_PEDIDO_PROCESSAMENTO        = @CD_PEDIDO_PROCESSAMENTO 
		COMMIT TRANSACTION
      END
        
    END

    IF (@ID_SITUACAO_PEDIDO_PROCESSAMENTO = 3)   
    BEGIN
      EXEC pr_MNPessoaAtualizaAtivacaoAkmos
  	@NM_PEDIDO,
	@CD_PESSOA,
	@CD_FUNCAO,
	@NM_CICLO,
	@ID_TIPO_MOVIMENTO,
	@VL_PONTOS,
	@VAR_RETORNO OUTPUT,
	@DC_ERRO OUTPUT,
	@QT_LINHAS_AFETADAS OUTPUT  

      IF (@VAR_RETORNO <> 0)
      BEGIN
        SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 4
		BEGIN TRANSACTION
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = @DC_ERRO
        WHERE CD_PEDIDO_PROCESSAMENTO        =  @CD_PEDIDO_PROCESSAMENTO 
		COMMIT TRANSACTION
      END

      ELSE
      BEGIN
        -- ATUALIZA PROCESSAMENTO
        SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 5
		BEGIN TRANSACTION
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = NULL
        WHERE CD_PEDIDO_PROCESSAMENTO        = @CD_PEDIDO_PROCESSAMENTO
		COMMIT TRANSACTION 
      END

    END    
 

    IF (@ID_SITUACAO_PEDIDO_PROCESSAMENTO = 5)   
    BEGIN
      EXEC pr_MNPessoaAtualizaLucratividadeAkmos
  	@NM_PEDIDO,
	@CD_PESSOA,
	@CD_FUNCAO,
	@NM_CICLO,
	@ID_TIPO_MOVIMENTO,
	@VL_PONTOS,
	@VAR_RETORNO OUTPUT,
	@DC_ERRO OUTPUT,
	@QT_LINHAS_AFETADAS OUTPUT  

      IF (@VAR_RETORNO <> 0)
      BEGIN
        SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 6
		BEGIN TRANSACTION
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = @DC_ERRO
        WHERE CD_PEDIDO_PROCESSAMENTO        =  @CD_PEDIDO_PROCESSAMENTO 
		COMMIT TRANSACTION
      END

      ELSE
      BEGIN
        -- ATUALIZA PROCESSAMENTO

        SELECT @ID_SITUACAO_PEDIDO_PROCESSAMENTO = 7
		BEGIN TRANSACTION
        UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
        SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = @ID_SITUACAO_PEDIDO_PROCESSAMENTO,
            DS_ERRO_PEDIDO_PROCESSAMENTO     = NULL
        WHERE CD_PEDIDO_PROCESSAMENTO        = @CD_PEDIDO_PROCESSAMENTO 
		COMMIT TRANSACTION
      END

    END    
     
    FETCH NEXT FROM @CURSOR_PEDIDO
    INTO @CD_PEDIDO_PROCESSAMENTO, @NM_PEDIDO, @NM_CICLO, @CD_PESSOA, @CD_FUNCAO, @ID_TIPO_MOVIMENTO, @VL_PONTOS

  END

  CLOSE       @CURSOR_PEDIDO
  DEALLOCATE  @CURSOR_PEDIDO

END















GO
