SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaInsereHistoricoConsultora]
	@p_codigoPessoa								numeric(18,0),
	@p_codigoSituacaoComercialPessoa			numeric(18,0),
	@p_codigoSituacaoComercialDetalhePessoa		numeric(18,0),
	@p_numeroCiclo								numeric(18,0),
	@p_codigoEstruturaComercial					numeric(18,0),
	@p_codigoUsuario							numeric(18,0),
	
	@p_codigoErro								int				output,
	@p_descricaoErro							varchar(1000)	output,
	@p_linhasAfetadas							int				output
	
AS


DECLARE @V_EXISTE_REGISTRO INT

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
		
	    
	    SELECT @V_EXISTE_REGISTRO = COUNT(*)
	    FROM TB_HIST_SITUACAO_CONSULTORA with (NOLOCK)
	    WHERE CD_PESSOA = @p_codigoPessoa
	    AND NM_CICLO = @p_numeroCiclo
	    
	    
		IF @V_EXISTE_REGISTRO = 0
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_HIST_SITUACAO_CONSULTORA (
					CD_PESSOA,
					CD_SITUACAO_COMERCIAL,
					CD_SITUACAO_COMERCIAL_DETALHE,
					NM_CICLO,
					CD_EST_COMERCIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO	)
							
				VALUES           (
					@p_codigoPessoa,
					@p_codigoSituacaoComercialPessoa,
					@p_codigoSituacaoComercialDetalhePessoa,
					@p_numeroCiclo,
					@p_codigoEstruturaComercial,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END
		ELSE
			BEGIN
				BEGIN TRANSACTION 
			
				UPDATE TB_HIST_SITUACAO_CONSULTORA
				SET NM_CICLO = @p_numeroCiclo,
					CD_EST_COMERCIAL = @p_codigoEstruturaComercial,
					CD_SITUACAO_COMERCIAL = @p_codigoSituacaoComercialPessoa,
					CD_SITUACAO_COMERCIAL_DETALHE = @p_codigoSituacaoComercialDetalhePessoa
				WHERE CD_PESSOA = @p_codigoPessoa
					  AND NM_CICLO = @p_numeroCiclo
					   	
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
							
			END
				
					

		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
