SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_MODELO_FISCAL]
	@CD_CODIGO				numeric(18,0),
	@DC_MODELO_FISCAL		varchar(80),
	@CD_CENTRO_DISTRIBUICAO numeric(18,0),
		
	@CD_USUARIO				NUMERIC(18,0),
	@VAR_TIPO_FUNCAO		VARCHAR(1),
	
	@VAR_RETORNO			INT OUTPUT,
	@DC_ERRO				NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS		INT OUTPUT,
	@CD_MODELO_FISCAL		NUMERIC(18,0) OUTPUT
AS

BEGIN TRY
	
	
	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_MODELO_FISCAL (
					DC_MODELO_FISCAL,
					CD_CENTRO_DISTRIBUICAO			
					)
													
				VALUES           (
					@DC_MODELO_FISCAL,
					@CD_CENTRO_DISTRIBUICAO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_MODELO_FISCAL = IDENT_CURRENT('TB_MODELO_FISCAL')
			
				COMMIT TRANSACTION
			END	


		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_MODELO_FISCAL SET
					DC_MODELO_FISCAL = @DC_MODELO_FISCAL,
					CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
				WHERE CD_MODELO_FISCAL = @CD_CODIGO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
		
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_MODELO_FISCAL 
					WHERE CD_MODELO_FISCAL = @CD_CODIGO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END		
			
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
