SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_CampanhaAplicaResgatePontos]
	@p_codigoPessoa			numeric(18,0),
	@p_numeroPedido			numeric(18,0),
	@p_codigoFuncao			INT,
	@p_numeroCiclo			NUMERIC(18,0),
	@p_codigoCampanha		numeric(18,0),
	@p_codigoProduto		numeric(18,0),
	@p_qtdeProduto			int,
	@p_valorPontosProdutos  numeric(18,2),

	@p_codigoUsuario		NUMERIC(18,0),
	
	@p_codigoErro			INT OUTPUT,
	@p_descricaoErro		VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas		INT OUTPUT
	
AS

DECLARE @v_codigoMaterial			numeric(18,0),
		@v_codigoItemIncorporar		numeric(18,0)

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0, @v_codigoItemIncorporar = 0

		-- Vamos TENTAR inserir o item a incorporar como um brinde
		SELECT @v_codigoMaterial = CD_MATERIAL 
		  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
		 WHERE CD_PRODUTO_VENDA = @p_codigoProduto
		
		EXEC DBO.pr_IncorporarInsereItemIncorporar 
			0,
			3, -- ORIGEM CAMPANHA PONTOS
			@p_codigoCampanha,
			1, -- AGENDADO
			@p_codigoPessoa,
			@p_codigoFuncao,
			@p_codigoProduto,
			@v_codigoMaterial,
			@p_qtdeProduto,
			2, -- iTEM NÃO COBRADO
			--****************************************************************************
			--	INCLUSÃO DE DOIS PARAMETROS: @p_codigoPessoaIndicada	 @p_numeroPedido
			--	ALTERADO POR PEDRO TOMAZ EM 28/11/2018
			--****************************************************************************
			0, --@p_codigoPessoaIndicada
			0, --@p_numeroPedido
			'', -- NOVO CAMPO MOTIVO
			@p_codigoUsuario,
			'I', -- INSERE O ITEM

			@p_codigoErro OUTPUT,
			@p_descricaoErro OUTPUT,
			@p_linhasAfetadas OUTPUT,
			@v_codigoItemIncorporar OUTPUT
			
		IF @v_codigoItemIncorporar > 0
			BEGIN
				-- SIGNIFICA QUE DEU CERTO A INSERÇÃO DO ITEM, VAMOS DESCONTAR OS PONTOS UTILIZADOS
				SELECT @p_valorPontosProdutos = (@p_valorPontosProdutos * @p_qtdeProduto)

				exec dbo.pr_PessoaInserePessoaCampanhaPontosSaldo 
					@p_codigoPessoa,
					@p_codigoCampanha,
					2, --Débito
					10, --ORIGEM PRODUTO
					@p_codigoProduto,
					@p_numeroPedido,
					@p_valorPontosProdutos,
					10,	--ORIGEM PRODUTO
					@p_codigoProduto,	--@p_numeroOrigemUtilizacao
					@p_numeroPedido,	--@p_numeroPedidoOrigemUtilizacao
					@p_codigoUsuario,
					@p_codigoErro OUTPUT,
					@p_descricaoErro OUTPUT,
					@p_linhasAfetadas OUTPUT
			END
		ELSE
			BEGIN
				SELECT @p_codigoErro = -1
				SELECT @p_descricaoErro = 'ERRO AO INSERIR ITEM COMO BRINDE: ' + @p_descricaoErro
			END

					
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
