SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_AtendimentoAtualizaSituacaoAtendimento]
	@p_codigoAtendimento			NUMERIC(18,0),
	@p_codigoSituacaoAtendimento	NUMERIC(18,0), 
	
	@p_codigoUsuario				NUMERIC(18,0), 
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT

AS


DECLARE  @v_codigoFinalizaAtendimento INT

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	
		BEGIN TRANSACTION 

		-- **************************************************************
		--  PRIMEIRO VAMOS VERIFICAR SE A SITUAÇÃO DO ATENDIMENTO 
		--	MANTEM OU NÃO O ATENDIMENTO ABERTO
		-- **************************************************************
		SELECT @v_codigoFinalizaAtendimento = ID_FINALIZA_ATENDIMENTO
		FROM TB_SAC_SOLUCAO
		WHERE CD_SAC_SOLUCAO = @p_codigoSituacaoAtendimento
		
		IF @v_codigoFinalizaAtendimento = 1
			BEGIN
				UPDATE TB_SAC_ATENDIMENTO SET
					CD_SAC_SOLUCAO = @p_codigoSituacaoAtendimento,
					DT_CONCLUSAO = GETDATE(),
					CD_USUARIO_CONCLUSAO = @p_codigoUsuario
				WHERE CD_SAC_ATENDIMENTO = @p_codigoAtendimento
			END
		ELSE
			BEGIN
				UPDATE TB_SAC_ATENDIMENTO SET
					CD_SAC_SOLUCAO = @p_codigoSituacaoAtendimento
				WHERE CD_SAC_ATENDIMENTO = @p_codigoAtendimento
			END
			
		SELECT @p_linhasAfetadas = @@ROWCOUNT
				
		COMMIT TRANSACTION
					
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
