SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_GENERICA2]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
        @CD_EST_COMERCIAL NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT


AS


DECLARE @CURSOR_REGRA_REMUNERACAO                  CURSOR,
        @CURSOR_REGRA_CALCULO                      CURSOR,
        @CURSOR_TOPOLOGIA                          CURSOR

DECLARE @V_CD_REMUNERACAO                          INT,
        @V_DS_REMUNERACAO                          VARCHAR(100),
        @V_ID_REGRA_CALCULO                        INT,  --(1-PEDIDO /  2 - PESSOA)
        @V_ID_EVENTO_PEDIDO                        INT,--(1 - APROVADO / 2 - PAGO)
        @V_CD_INDICADOR_PESSOAL                    INT,
        @V_ID_FORMA_PAGAMENTO_REMUNERACAO          INT, --( 1 - PEDIDO FUTURO / 2-DEPOSITO BANCÁRIO)
        @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO      INT,
        @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO         INT,
        @V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO       INT, --(1-CARREIRA / 2-DESEMPENHO / 3-REGRAS INDICADORES)
        @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO INT, --(1-SIM / 2-NÃO)
        @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO        INT,
        @V_CD_PAPEL_FIM_PAGA_REMUNERACAO           INT,
        @V_ID_REGRA_PAPEL_PAGA_REMUNERACAO         INT, --(1-CARREIRA / 2-DESEMPENHO / 3-REGRAS INDICADORES)
        @V_ID_REGRA_NIVEL_GERACAO                  INT,  --(1-NIVEL / 2-GERACAO)
        @V_VL_NIVEL_GERACAO_INICIO                 INT,
        @V_VL_NIVEL_GERACAO_FIM                    INT,
        @V_ID_TIPO_REMUNERACAO                     INT, --(1-VALOR FIXO / 2 - PERCENTUAL)
        @V_VL_REMUMERACAO                          NUMERIC(18,2),
        @V_CD_REMUNERACAO_PRIORIDADE               INT,
        @V_ID_MULTIPLICA_QUANTIDADE                INT,
        @V_CALCULA_REMUNERACAO                     INT,
        @V_CD_REMUNERACAO_PRIORIDADE_QDE           INT,
        @V_CD_PRODUTO                              NUMERIC(18,0),
        @V_ID_SITUACAO_REMUNERACAO                   INT,
        @V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO   INT

DECLARE @V_DT_CALCULA_PC_ULTIMA                    DATE,
        @V_DT_CALCULA_PC_PROXIMA                   DATE

DECLARE	@V_CD_PEDIDO_PESSOA                        NUMERIC(18,0),
        @V_NM_CICLO_PAGTO_INDICADOR	  	   NUMERIC(18,0),
        @V_NM_CICLO_APROV_INDICADOR                NUMERIC(18,0),
        @V_VL_LIQUIDO_PEDIDO_INDICADOR             NUMERIC(18,2),
        @V_EVENTO_ATUALIZACAO_REMUNERACAO            INT,
        @V_QT_RESERVADA                            INT,
        @V_CD_PRODUTO_VENDA                        NUMERIC(18,0)


DECLARE @V_CD_ORDEM_TOP                            INT,
        @V_CD_PESSOA_TOP                           NUMERIC(18,0),
        @V_CD_PAPEL_CARREIRA_TOP                   INT,
        @V_CD_PAPEL_DESEMPENHO_TOP                 INT,
        @V_CD_NIVEL_TOP                            INT,
        @V_CD_PESSOA_LIDERANCA_TOP                 INT,

        @V_CD_PAPEL_PAGA_REMUNERACAO               INT,
        @V_CD_PAPEL_RECEBE_REMUNERACAO             INT,
        @V_VL_REMUNERACAO_CALCULADA                NUMERIC(18,3),
        @V_CD_PESSOA_LIDERANCA_ATUAL               INT,
        @V_CD_GERACAO                              INT,
        @v_CD_PAPEL_INICIO_LIDERANCA               INT,
        @v_ID_APLICA_REMUNERACAO_VALOR_PONTO       INT,  
        @v_ID_APLICA_DESCONTOS_REMUNERACAO         INT




DECLARE @EXISTE_REM				   INT,
        @V_CD_MN_REMUNERACAO			   NUMERIC(18,0),   
        @V_CD_MN_DETALHE_REMUNERACAO               NUMERIC(18,0)   

DECLARE @V_CD_REMUNERACAO_INDICADOR_RECEBE        INT, 
        @V_CD_REMUNERACAO_INDICADOR_PAGA          INT, 
        @V_ID_OPERACAO_ULTIMA                     INT,
        @V_CD_INDICADOR_PESSOAL2                  INT,
        @V_VL_INDICADOR_PESSOAL                   NUMERIC(18,3),
        @V_VL_INDICADOR_PESSOAL_INICIO            NUMERIC(18,3),   
        @V_VL_INDICADOR_PESSOAL_FIM               NUMERIC(18,3),   
        @V_ID_OPERACAO                            INT,
        @CURSOR_REGRA_REMUNERACAO_INDICADOR       CURSOR,
        @V_VL_TAXA_ADMINISTRATIVA	          NUMERIC(18,2),
	@V_PC_TAXA_ADMINISTRATIVA	          NUMERIC(18,2),
        @V_VL_REMUMERACAO_REGRESSIVO              NUMERIC(18,2)


        

BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0


  /**************************************************************
   ** VERIFICA SE CALCULA A REMUNERAÇÃO
   **************************************************************/
  --SELECT @V_CALCULA_REMUNERACAO = dbo.FN_VERIFICA_CALCULA_REMUNERACAO_MN(@NM_PEDIDO)
	SELECT @V_CALCULA_REMUNERACAO = 1
  /**************************************************************
   ** SÓ GRAVA REMUNERAÇÃO SE O RETORNO DA FUNÇÃO FOR IGUAL A 1
   **************************************************************/
  IF @V_CALCULA_REMUNERACAO = 1
  BEGIN

   -- BUSCA OS PARAMETROS DE CALCULO DO MMN
    SELECT @V_EVENTO_ATUALIZACAO_REMUNERACAO    = ID_EVENTO_ATUALIZACAO_REMUNERACAO,
           @v_CD_PAPEL_INICIO_LIDERANCA         = CD_PAPEL_INICIO_LIDERANCA,
	   @v_ID_APLICA_REMUNERACAO_VALOR_PONTO = isnull(ID_APLICA_REMUNERACAO_VALOR_PONTO,1) ,
           @v_ID_APLICA_DESCONTOS_REMUNERACAO   =  isnull(ID_APLICA_DESCONTOS_REMUNERACAO,2)
    FROM TB_MN_REGRA_GERAL

 
    -- ABRE O CURSOR DAS REGRAS DE REMUNERAÇÃO
    SET @CURSOR_REGRA_REMUNERACAO = CURSOR FAST_FORWARD
    FOR
      SELECT CD_REMUNERACAO                          ,
             DS_REMUNERACAO                          ,
             ID_REGRA_CALCULO                        ,
             ID_EVENTO_PEDIDO                        ,
             ISNULL(CD_PRODUTO, 0)		     ,
             CD_INDICADOR_PESSOAL                    ,
             ID_FORMA_PAGAMENTO_REMUNERACAO          ,
             CD_PAPEL_INICIO_RECEBE_REMUNERACAO      ,
             CD_PAPEL_FIM_RECEBE_REMUNERACAO         ,
             ID_REGRA_PAPEL_RECEBE_REMUNERACAO       , 
             ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO ,
             CD_PAPEL_INICIO_PAGA_REMUNERACAO        ,
             CD_PAPEL_FIM_PAGA_REMUNERACAO           ,
             ID_REGRA_PAPEL_PAGA_REMUNERACAO         , 
             ID_REGRA_NIVEL_GERACAO                  , 
             VL_NIVEL_GERACAO_INICIO                 ,
             VL_NIVEL_GERACAO_FIM                    ,
             ID_TIPO_REMUNERACAO                     , 
             VL_REMUMERACAO                          ,
             isnull(CD_REMUNERACAO_PRIORIDADE,0)     ,
             isnull(ID_MULTIPLICA_QUANTIDADE,2)      ,
             isnull(ID_SITUACAO_REMUNERACAO,1)                   -- default PENDENTE APROVAÇÃO

      FROM TB_MN_REGRA_REMUNERACAO
      WHERE ID_REGRA_ATIVA = 1 
      ORDER BY CD_REMUNERACAO    
    OPEN @CURSOR_REGRA_REMUNERACAO
    FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO
    INTO @V_CD_REMUNERACAO                          ,
         @V_DS_REMUNERACAO                          ,
         @V_ID_REGRA_CALCULO                        ,
         @V_ID_EVENTO_PEDIDO                        ,
         @V_CD_PRODUTO                              ,
         @V_CD_INDICADOR_PESSOAL                    ,
         @V_ID_FORMA_PAGAMENTO_REMUNERACAO          ,
         @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO      ,
         @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO         ,
         @V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO       , 
         @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO ,
         @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO        ,
         @V_CD_PAPEL_FIM_PAGA_REMUNERACAO           ,
         @V_ID_REGRA_PAPEL_PAGA_REMUNERACAO         , 
         @V_ID_REGRA_NIVEL_GERACAO                  , 
         @V_VL_NIVEL_GERACAO_INICIO                 ,
         @V_VL_NIVEL_GERACAO_FIM                    ,
         @V_ID_TIPO_REMUNERACAO                     , 
         @V_VL_REMUMERACAO                          ,
         @V_CD_REMUNERACAO_PRIORIDADE               ,
         @V_ID_MULTIPLICA_QUANTIDADE                ,
         @V_ID_SITUACAO_REMUNERACAO 

    WHILE @@FETCH_STATUS = 0
    BEGIN  

      -- VERIFICAR A REGRA DE CALCULA DA REMUNERAÇÃO
      IF (@V_ID_REGRA_CALCULO  = 1) -- por PEDIDO 
      BEGIN
        SET @CURSOR_REGRA_CALCULO = CURSOR FAST_FORWARD
        FOR SELECT A.NM_PEDIDO                        AS CD_PEDIDO_PESSOA,
                   A.NM_CICLO_PAGAMENTO               AS NM_CICLO_PAGTO_INDICADOR,
                   A.NM_CICLO_APROVACAO               AS NM_CICLO_APROV_INDICADOR,
	           isnull(SUM(B.QT_RESERVADA),0)      AS QT_RESERVADA,
	           CASE WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 1)  THEN    -- DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  
				            isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ) )
															   ),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  
					    isnull(SUM(B.VL_PONTOS * (1-((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ) )
															   ),0) -- PONTOS  
                        END
	                WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 2)  THEN    -- NAO DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  isnull(SUM(B.VL_LIQUIDO_TOTAL),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  isnull(SUM(B.VL_PONTOS),0) -- PONTOS  
                        END
	           END AS  VL_LIQUIDO_PEDIDO_INDICADOR
            FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
            WHERE A.NM_PEDIDO            = B.NM_PEDIDO
            AND   A.CD_PESSOA            = @CD_PESSOA
            AND   A.CD_FUNCAO            = @CD_FUNCAO
            AND   A.NM_CICLO_CANCELAMENTO IS NULL    -- SOMENTE PEDIDO APROVADO, NÃO CANCELADO
            AND   ( (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 1 AND   -- PEDIDO APROVADO
                     A.NM_CICLO_APROVACAO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_APROVACAO_PEDIDO) = CONVERT(date, getdate()-1))   OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 2 AND   -- PEDIDO PAGO
                     A.NM_CICLO_PAGAMENTO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_PAGAMENTO_PEDIDO) = CONVERT(date, getdate()-2))  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 3 AND   -- PEDIDO FATURADO
                     A.NM_CICLO_FATURAMENTO                = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_FATURAMENTO_PEDIDO) = CONVERT(date, getdate()-1))  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 1 AND   -- PEDIDO APROVADO
                     A.NM_CICLO_APROVACAO                 = @NM_CICLO)   OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 2 AND   -- PEDIDO PAGO
                     A.NM_CICLO_PAGAMENTO                 = @NM_CICLO)  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 3 AND   -- PEDIDO FATURADO
                     A.NM_CICLO_FATURAMENTO               = @NM_CICLO)  )  
            AND   ( (@V_CD_PRODUTO                        > 0 AND 
                     B.CD_PRODUTO_VENDA                   = @V_CD_PRODUTO)  OR
                    (@V_CD_PRODUTO                        < 0 AND 
                     B.CD_PRODUTO_VENDA                   <> (@V_CD_PRODUTO * -1))   OR 

                    (@V_CD_PRODUTO                        = 888888888888 AND                         
                      B.CD_PRODUTO_VENDA        IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO
                                                       WHERE CD_PRODUTO > 0)  )  OR


                    (@V_CD_PRODUTO                        = 999999999999 AND                         
                      B.CD_PRODUTO_VENDA       NOT IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO
                                                       WHERE CD_PRODUTO > 0)  )  OR
		            (@V_CD_PRODUTO                       = 0 )     ) 
   	    AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	    AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	
            GROUP BY A.NM_PEDIDO,
                     A.NM_CICLO_PAGAMENTO,
                     A.NM_CICLO_APROVACAO
            ORDER BY A.NM_PEDIDO

      END

      IF (@V_ID_REGRA_CALCULO  = 2 AND @V_EVENTO_ATUALIZACAO_REMUNERACAO = 2) -- por PESSOA  e FIM CICLO
      BEGIN
        SET @CURSOR_REGRA_CALCULO = CURSOR FAST_FORWARD
        FOR  SELECT A.CD_PESSOA               AS CD_PEDIDO_PESSOA,
                    A.NM_CICLO                AS NM_CICLO_PAGTO_INDICADOR,
                    A.NM_CICLO                AS NM_CICLO_APROV_INDICADOR,
   		    1                         AS QT_RESERVADA,
                    A.VL_INDICADOR_PESSOAL    AS VL_LIQUIDO_PEDIDO_INDICADOR
             FROM TB_PESSOA_INDICADOR A
             WHERE A.CD_PESSOA            = @CD_PESSOA
	     AND   A.CD_FUNCAO            = @CD_FUNCAO
	     AND   A.CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_PESSOAL
	     AND   A.NM_CICLO             = @NM_CICLO
	     AND   A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

      END

      IF (@V_ID_REGRA_CALCULO  = 3) -- PEDIDO COM % DESCONTO (aplica um desconto fixo no valor do item do pedido)
      BEGIN
        SET @CURSOR_REGRA_CALCULO = CURSOR FAST_FORWARD
        FOR SELECT C.CD_PEDIDO_PESSOA,
                   C.NM_CICLO_PAGTO_INDICADOR,
	           C.NM_CICLO_APROV_INDICADOR,
	           C.QT_RESERVADA,
	           C.VL_LIQUIDO_PEDIDO_INDICADOR * ( 1 - (D.VL_PARAMETRO / 100)) AS VL_LIQUIDO
            FROM  (
                   SELECT A.NM_PEDIDO                        AS CD_PEDIDO_PESSOA,
                   A.NM_CICLO_PAGAMENTO               AS NM_CICLO_PAGTO_INDICADOR,
                   A.NM_CICLO_APROVACAO               AS NM_CICLO_APROV_INDICADOR,
	           isnull(SUM(B.QT_RESERVADA),0)      AS QT_RESERVADA,
	           CASE WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 1)  THEN    -- DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  
				            isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ) )
															   ),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  
					    isnull(SUM(B.VL_PONTOS * (1-((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ) )
															   ),0) -- PONTOS  
                        END
	                WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 2)  THEN    -- NAO DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  isnull(SUM(B.VL_LIQUIDO_TOTAL),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  isnull(SUM(B.VL_PONTOS),0) -- PONTOS  
                        END
	           END AS  VL_LIQUIDO_PEDIDO_INDICADOR
                   FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
                   WHERE A.NM_PEDIDO            = B.NM_PEDIDO
                   AND   A.CD_PESSOA            = @CD_PESSOA
                   AND   A.CD_FUNCAO            = @CD_FUNCAO
                   AND   A.NM_CICLO_CANCELAMENTO IS NULL    -- SOMENTE PEDIDO APROVADO, NÃO CANCELADO
                   AND   ( (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 1 AND   -- PEDIDO APROVADO
                     A.NM_CICLO_APROVACAO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_APROVACAO_PEDIDO) = CONVERT(date, getdate()-1))   OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 2 AND   -- PEDIDO PAGO
                     A.NM_CICLO_PAGAMENTO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_PAGAMENTO_PEDIDO) = CONVERT(date, getdate()-1))  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 3 AND   -- PEDIDO FATURADO
                     A.NM_CICLO_FATURAMENTO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_FATURAMENTO_PEDIDO) = CONVERT(date, getdate()-1))  OR

                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 1 AND   -- PEDIDO APROVADO
                     A.NM_CICLO_APROVACAO                 = @NM_CICLO)   OR

                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 2 AND   -- PEDIDO PAGO
                     A.NM_CICLO_PAGAMENTO                 = @NM_CICLO)  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 3 AND   -- PEDIDO FATURADO
                     A.NM_CICLO_FATURAMENTO               = @NM_CICLO)  )  

                     AND   ( (@V_CD_PRODUTO                        > 0 AND 
                     B.CD_PRODUTO_VENDA                   = @V_CD_PRODUTO)  OR
                    (@V_CD_PRODUTO                        < 0 AND 
                     B.CD_PRODUTO_VENDA                   <> (@V_CD_PRODUTO * -1))   OR 

                    (@V_CD_PRODUTO                        = 888888888888 AND                         
                      B.CD_PRODUTO_VENDA        IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO
                                                       WHERE CD_PRODUTO > 0)  )  OR

                    (@V_CD_PRODUTO                        = 999999999999 AND                         
                      B.CD_PRODUTO_VENDA       NOT IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO
                                                       WHERE CD_PRODUTO > 0)  )  OR
		            (@V_CD_PRODUTO                       = 0 )     ) 
   	            AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	            AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	
                    GROUP BY A.NM_PEDIDO,
                             A.NM_CICLO_PAGAMENTO,
                             A.NM_CICLO_APROVACAO) C,
            (select vl_parametro from TB_VALOR_PARAMETRO where CD_GRUPO_PARAMETRO = 7 and CD_PARAMETRO = 21) D  -- percentual de desconto
            ORDER BY C.CD_PEDIDO_PESSOA

      END

      IF (@V_ID_REGRA_CALCULO  = 4) -- por PEDIDO, DIARIO (desde o 1o dia do ciclo)
      BEGIN
        SET @CURSOR_REGRA_CALCULO = CURSOR FAST_FORWARD
        FOR SELECT A.NM_PEDIDO                        AS CD_PEDIDO_PESSOA,
                   A.NM_CICLO_PAGAMENTO               AS NM_CICLO_PAGTO_INDICADOR,
                   A.NM_CICLO_APROVACAO               AS NM_CICLO_APROV_INDICADOR,
	           isnull(SUM(B.QT_RESERVADA),0)      AS QT_RESERVADA,
	           CASE WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 1)  THEN    -- DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  
				            isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ) )
															   ),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  
					    isnull(SUM(B.VL_PONTOS * (1-((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  +
  					                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ) )
															   ),0) -- PONTOS  
                        END
	                WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 2)  THEN    -- NAO DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  isnull(SUM(B.VL_LIQUIDO_TOTAL),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  isnull(SUM(B.VL_PONTOS),0) -- PONTOS  
                        END
	           END AS  VL_LIQUIDO_PEDIDO_INDICADOR
            FROM TB_PEDIDO A, TB_PEDIDO_ITEM B,
		 (SELECT DT_INICIAL FROM TB_CALENDARIO_COMERCIAL
		  WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		  AND NM_CICLO           = @NM_CICLO ) C
            WHERE A.NM_PEDIDO            = B.NM_PEDIDO
            AND   A.CD_PESSOA            = @CD_PESSOA
            AND   A.CD_FUNCAO            = @CD_FUNCAO
            AND   A.NM_CICLO_CANCELAMENTO IS NULL    -- SOMENTE PEDIDO APROVADO, NÃO CANCELADO
            AND   ( (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 1 AND   -- PEDIDO APROVADO
                     A.NM_CICLO_APROVACAO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_APROVACAO_PEDIDO) BETWEEN  CONVERT(DATE, C.DT_INICIAL) AND CONVERT(date, getdate()-1))   OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 2 AND   -- PEDIDO PAGO
                     A.NM_CICLO_PAGAMENTO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_PAGAMENTO_PEDIDO) BETWEEN  CONVERT(DATE, C.DT_INICIAL) AND  CONVERT(date, getdate()-2))  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 3 AND   -- PEDIDO FATURADO
                     A.NM_CICLO_FATURAMENTO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_FATURAMENTO_PEDIDO) BETWEEN  CONVERT(DATE, C.DT_INICIAL) AND CONVERT(date, getdate()-1))  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 1 AND   -- PEDIDO APROVADO
                     A.NM_CICLO_APROVACAO                 = @NM_CICLO)   OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 2 AND   -- PEDIDO PAGO
                     A.NM_CICLO_PAGAMENTO                 = @NM_CICLO)  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 3 AND   -- PEDIDO FATURADO
                     A.NM_CICLO_FATURAMENTO               = @NM_CICLO)  )  
            AND   ( (@V_CD_PRODUTO                        > 0 AND 
                     B.CD_PRODUTO_VENDA                   = @V_CD_PRODUTO)  OR
                    (@V_CD_PRODUTO                        < 0 AND 
                     B.CD_PRODUTO_VENDA                   <> (@V_CD_PRODUTO * -1))   OR 

                    (@V_CD_PRODUTO                        = 888888888888 AND                         
                      B.CD_PRODUTO_VENDA        IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO
                                                       WHERE CD_PRODUTO > 0)  )  OR

                    (@V_CD_PRODUTO                        = 999999999999 AND                         
                      B.CD_PRODUTO_VENDA       NOT IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO
                                                       WHERE CD_PRODUTO > 0)  )  OR
		            (@V_CD_PRODUTO                       = 0 )     ) 
   	    AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	    AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	
            GROUP BY A.NM_PEDIDO,
                     A.NM_CICLO_PAGAMENTO,
                     A.NM_CICLO_APROVACAO
            ORDER BY A.NM_PEDIDO

      END

      IF (@V_ID_REGRA_CALCULO  = 5 AND @V_EVENTO_ATUALIZACAO_REMUNERACAO = 1) -- por PESSOA  e DIARIO (desde o 1o dia do ciclo)
      BEGIN
        SET @CURSOR_REGRA_CALCULO = CURSOR FAST_FORWARD
        FOR  SELECT A.CD_PESSOA               AS CD_PEDIDO_PESSOA,
                    A.NM_CICLO                AS NM_CICLO_PAGTO_INDICADOR,
                    A.NM_CICLO                AS NM_CICLO_APROV_INDICADOR,
   		    1                         AS QT_RESERVADA,
                    A.VL_INDICADOR_PESSOAL    AS VL_LIQUIDO_PEDIDO_INDICADOR
             FROM TB_PESSOA_INDICADOR A
             WHERE A.CD_PESSOA            = @CD_PESSOA
	     AND   A.CD_FUNCAO            = @CD_FUNCAO
	     AND   A.CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_PESSOAL
	     AND   A.NM_CICLO             = @NM_CICLO
	     AND   A.CD_EST_COMERCIAL     = @CD_EST_COMERCIAL

      END




      IF (@V_ID_REGRA_CALCULO  = 6) -- por NF (faturamento)
      BEGIN
        SET @CURSOR_REGRA_CALCULO = CURSOR FAST_FORWARD
        FOR SELECT A.NM_PEDIDO                        AS CD_PEDIDO_PESSOA,
                   A.NM_CICLO_PAGAMENTO               AS NM_CICLO_PAGTO_INDICADOR,
                   A.NM_CICLO_APROVACAO               AS NM_CICLO_APROV_INDICADOR,
	           isnull(SUM(B.QT_RESERVADA),0)      AS QT_RESERVADA,
	           CASE WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 1)  THEN    -- DESCONTAR CUPOM E PROMOCAO
	                       isnull(SUM(NFI.VL_TOTAL - (ISNULL(NFI.VL_ICMS,0) + ISNULL(NFI.VL_ICMS_ST,0) + ISNULL(NFI.VL_PIS,0) + ISNULL(NFI.VL_COFINS,0) )   * 
                               (1-((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_PAGAR_TEORICO_TOTAL)  + (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_PAGAR_TEORICO_TOTAL) ) )),0)
	                WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 2)  THEN    -- NAO DESCONTAR CUPOM E PROMOCAO
	                       isnull(SUM(NFI.VL_TOTAL - (ISNULL(NFI.VL_ICMS,0) + ISNULL(NFI.VL_ICMS_ST,0) + ISNULL(NFI.VL_PIS,0) + ISNULL(NFI.VL_COFINS,0) ) ),0)  
	           END AS  VL_LIQUIDO_PEDIDO_INDICADOR
            FROM TB_PEDIDO A, TB_PEDIDO_ITEM B, TB_NOTA_FISCAL_ITEM NFI, TB_NOTA_FISCAL NF
            WHERE A.NM_PEDIDO            = B.NM_PEDIDO
  	    AND   A.NM_PEDIDO            = NF.NM_PEDIDO
	    AND   NF.CD_NOTA_FISCAL      = NFI.CD_NOTA_FISCAL
	    AND   B.NM_PEDIDO_ITEM       = NFI.NM_PEDIDO_ITEM
            AND   A.CD_PESSOA            = @CD_PESSOA
            AND   A.CD_FUNCAO            = @CD_FUNCAO
            AND   A.NM_CICLO_CANCELAMENTO IS NULL    -- SOMENTE PEDIDO APROVADO, NÃO CANCELADO
            AND   ( (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 1 AND   -- DIARIO
                     @V_ID_EVENTO_PEDIDO                  = 3 AND   -- PEDIDO FATURADO
                     A.NM_CICLO_FATURAMENTO                 = @NM_CICLO  AND
                     CONVERT(DATE, A.DT_FATURAMENTO_PEDIDO) = CONVERT(date, getdate()-1))  OR
                    (@V_EVENTO_ATUALIZACAO_REMUNERACAO      = 2 AND   -- FIM CICLO
                     @V_ID_EVENTO_PEDIDO                  = 3 AND   -- PEDIDO FATURADO
                     A.NM_CICLO_FATURAMENTO               = @NM_CICLO)  )  
            AND   ( (@V_CD_PRODUTO                        > 0 AND 
                     B.CD_PRODUTO_VENDA                   = @V_CD_PRODUTO)  OR
                    (@V_CD_PRODUTO                        < 0 AND 
                     B.CD_PRODUTO_VENDA                   <> (@V_CD_PRODUTO * -1))   OR 

                    (@V_CD_PRODUTO                        = 888888888888 AND                         
                      B.CD_PRODUTO_VENDA        IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO
                                                       WHERE CD_PRODUTO > 0)  )  OR

                    (@V_CD_PRODUTO                        = 999999999999 AND                         
                      B.CD_PRODUTO_VENDA       NOT IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO
                                                       WHERE CD_PRODUTO > 0)  )  OR
		    (@V_CD_PRODUTO                       = 0 )     ) 
   	    AND B.ID_GERA_BONUS              = 1 -- GERA BONUS O PRODUTO
--	    AND B.NM_PEDIDO_ITEM_CONJUNTO    = 0	
	    AND   NF.ID_TIPO_NOTA_FISCAL     = 2
	    AND   NF.ID_SITUACAO_NOTA_FISCAL = 2
            GROUP BY A.NM_PEDIDO,
                     A.NM_CICLO_PAGAMENTO,
                     A.NM_CICLO_APROVACAO
            ORDER BY A.NM_PEDIDO

      END




      OPEN @CURSOR_REGRA_CALCULO
      FETCH NEXT FROM @CURSOR_REGRA_CALCULO
      INTO @V_CD_PEDIDO_PESSOA, @V_NM_CICLO_PAGTO_INDICADOR, @V_NM_CICLO_APROV_INDICADOR,  @V_QT_RESERVADA, @V_VL_LIQUIDO_PEDIDO_INDICADOR 
      WHILE @@FETCH_STATUS = 0
      BEGIN  

        -- ABRE O CURSOR DA TOPOLOGIA
        SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
        FOR
          SELECT   1                               AS ORDEM
                  ,B.CD_PESSOA                     AS PESSOA
                  ,B.CD_PAPEL_CARREIRA             AS PAPAL_CARREIRA
                  ,B.CD_PAPEL_DESEMPENHO           AS PAPEL_DESEMPENHO
                  ,0                               AS NIVEL
                  ,isnull(C.CD_PESSOA_LIDERANCA,0) AS PESSOA_LIDERANCA
          FROM    TB_PESSOA_PAPEL_HISTORICO B, TB_PESSOA_RESUMO C
          WHERE B.CD_PESSOA           = @CD_PESSOA
          AND   B.CD_FUNCAO           = @CD_FUNCAO
          AND   B.NM_CICLO            = @NM_CICLO
          AND   B.CD_PESSOA           = C.CD_PESSOA
          AND   B.CD_FUNCAO           = C.CD_FUNCAO
          UNION
          SELECT   2                               AS ORDEM
                  ,A.CD_PESSOA_VINCULADA           AS PESSOA
                  ,B.CD_PAPEL_CARREIRA             AS PAPAL_CARREIRA
                  ,B.CD_PAPEL_DESEMPENHO           AS PAPEL_DESEMPENHO
                  ,A.NM_NIVEL                      AS NIVEL
                  ,isnull(C.CD_PESSOA_LIDERANCA,0) AS PESSOA_LIDERANCA
          FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B, TB_PESSOA_RESUMO C
          WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
          AND   A.CD_FUNCAO           = B.CD_FUNCAO
          AND   A.NM_CICLO            = B.NM_CICLO
          AND   A.CD_PESSOA           = @CD_PESSOA
          AND   A.CD_FUNCAO           = @CD_FUNCAO
          AND   A.NM_CICLO            = @NM_CICLO
          AND   A.ID_ORDEM            = 1 -- ASCENDENTE
          AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
          AND   B.CD_PESSOA           = C.CD_PESSOA
          AND   B.CD_FUNCAO           = C.CD_FUNCAO
          ORDER BY 1,5

        OPEN @CURSOR_TOPOLOGIA
        FETCH NEXT FROM @CURSOR_TOPOLOGIA
        INTO  @V_CD_ORDEM_TOP, @V_CD_PESSOA_TOP, @V_CD_PAPEL_CARREIRA_TOP, @V_CD_PAPEL_DESEMPENHO_TOP, @V_CD_NIVEL_TOP, @V_CD_PESSOA_LIDERANCA_TOP  


        WHILE @@FETCH_STATUS = 0
        BEGIN  
          -- INICIALIZA AS VARIÁVEIS
          SELECT @V_VL_REMUNERACAO_CALCULADA  = 0

          IF (@V_CD_NIVEL_TOP = 0) -- PESSOA QUE PAGA A REMUNERAÇÃO
          BEGIN
            IF (@V_ID_REGRA_PAPEL_PAGA_REMUNERACAO = 1)  -- CARREIRA
            BEGIN
              SELECT @V_CD_PAPEL_PAGA_REMUNERACAO =  @V_CD_PAPEL_CARREIRA_TOP
            END

            IF (@V_ID_REGRA_PAPEL_PAGA_REMUNERACAO = 2)  -- DESEMPENHO
            BEGIN
              SELECT @V_CD_PAPEL_PAGA_REMUNERACAO =  @V_CD_PAPEL_DESEMPENHO_TOP 
            END

          END
 
          -- VERIFICA SE O PAPEL DE QUEM PAGA ESTÁ NO RANGE (INICIO - FIM)
          IF (@V_CD_PAPEL_PAGA_REMUNERACAO >= @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO AND
              @V_CD_PAPEL_PAGA_REMUNERACAO <= @V_CD_PAPEL_FIM_PAGA_REMUNERACAO)
          BEGIN

            IF (@V_CD_NIVEL_TOP = 0) -- BASE 
            BEGIN
              -- VERIFICA SE A REMUNERAÇÃO É POR GERAÇÃO E A PESSOA TEM LIDERANÇA
              IF (@V_ID_REGRA_NIVEL_GERACAO = 2 AND @V_CD_PAPEL_PAGA_REMUNERACAO  < @v_CD_PAPEL_INICIO_LIDERANCA)
              BEGIN
                BREAK
              END
              -- ATRIBUI A LIDERANÇA ATUAL 
              SELECT @V_CD_PESSOA_LIDERANCA_ATUAL = @V_CD_PESSOA_LIDERANCA_TOP ,
                     @V_CD_GERACAO = 0  -- INICIALIZA A VARIAVEL
            END

            -- PESSOA QUE RECEBE A REMUNERAÇÃO
            IF (@V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO = 1)  -- CARREIRA
            BEGIN
              SELECT @V_CD_PAPEL_RECEBE_REMUNERACAO =  @V_CD_PAPEL_CARREIRA_TOP
            END

            IF (@V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO = 2)  -- DESEMPENHO
            BEGIN
              SELECT @V_CD_PAPEL_RECEBE_REMUNERACAO =  @V_CD_PAPEL_DESEMPENHO_TOP 
            END

            -- VERIFICA SE O PAPEL DE QUEM RECEBE ESTÁ NO RANGE (INICIO - FIM)
            IF (@V_CD_PAPEL_RECEBE_REMUNERACAO >= @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO AND
                @V_CD_PAPEL_RECEBE_REMUNERACAO <= @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO)
            BEGIN

              IF (@V_ID_REGRA_NIVEL_GERACAO = 1) -- CALCULA POR NÍVEL
              BEGIN
                -- VERIFICA SE O NÍVEL DE QUEM RECEBE ESTÁ NO RANGE (INICIO - FIM)
                IF (@V_CD_NIVEL_TOP >= @V_VL_NIVEL_GERACAO_INICIO AND
                    @V_CD_NIVEL_TOP <= @V_VL_NIVEL_GERACAO_FIM)           
                BEGIN

                  IF (@V_ID_TIPO_REMUNERACAO = 1) -- VALOR FIXO
                  BEGIN
                    SELECT @V_VL_REMUNERACAO_CALCULADA = @V_VL_REMUMERACAO
                  END  

                  IF (@V_ID_TIPO_REMUNERACAO = 2) -- PERCENTUAL
                  BEGIN
                    SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_REMUMERACAO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
                  END  


                  IF (@V_ID_TIPO_REMUNERACAO = 3) -- PERCENTUAL REGRESSIVO
                  BEGIN
                    -- BUSCAR O PERCENTUAL DO PAPEL
                    SELECT @V_VL_REMUMERACAO_REGRESSIVO = isnull(max(VL_REMUNERACAO),@V_VL_REMUMERACAO)
                    FROM TB_MN_REGRA_REMUNERACAO_VALOR
                    WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
                    AND   CD_PAPEL       = @V_CD_PAPEL_RECEBE_REMUNERACAO
                     
                    -- ATUALIZA O PERCENTUAL
                    SELECT @V_VL_REMUMERACAO = (@V_VL_REMUMERACAO - @V_VL_REMUMERACAO_REGRESSIVO)

                    -- ATUALIZA O PAPEL INICIO DE RECEBIMENTO DO BÔNUS
                    SELECT @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO = (@V_CD_PAPEL_RECEBE_REMUNERACAO+1)

                    SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_REMUMERACAO_REGRESSIVO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
                  END  



                  IF (@V_ID_MULTIPLICA_QUANTIDADE =1)  -- MULTIPLICA PELA QUANTIDADE (SIM)
                  BEGIN
                    SELECT @V_VL_REMUNERACAO_CALCULADA = (@V_VL_REMUNERACAO_CALCULADA * @V_QT_RESERVADA)
                  END                 
                END
  
              END

              IF (@V_ID_REGRA_NIVEL_GERACAO = 2) -- CALCULA POR GERAÇÃO
              BEGIN
                -- VERIFICAR SE A PESSOA TOPOLOGIA É A LIDERANÇA
                IF (@V_CD_PESSOA_LIDERANCA_ATUAL = @V_CD_PESSOA_TOP)
                BEGIN

                  -- ADICIONA A GERAÇÃO
                  SELECT @V_CD_GERACAO = (@V_CD_GERACAO + 1)
                  -- VERIFICA SE O NÍVEL DE QUEM RECEBE ESTÁ NO RANGE (INICIO - FIM)
                  IF (@V_CD_GERACAO >= @V_VL_NIVEL_GERACAO_INICIO AND
                      @V_CD_GERACAO <= @V_VL_NIVEL_GERACAO_FIM)           
                  BEGIN

                    IF (@V_ID_TIPO_REMUNERACAO = 1) -- VALOR FIXO
                    BEGIN
                      SELECT @V_VL_REMUNERACAO_CALCULADA = @V_VL_REMUMERACAO
                    END  

                    IF (@V_ID_TIPO_REMUNERACAO = 2) -- PERCENTUAL
                    BEGIN
                      SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_REMUMERACAO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
                    END  


                    IF (@V_ID_TIPO_REMUNERACAO = 3) -- PERCENTUAL REGRESSIVO
                    BEGIN
                      -- BUSCAR O PERCENTUAL DO PAPEL
                      SELECT @V_VL_REMUMERACAO_REGRESSIVO = isnull(max(VL_REMUNERACAO),@V_VL_REMUMERACAO)
                      FROM TB_MN_REGRA_REMUNERACAO_VALOR
                      WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
                      AND   CD_PAPEL       = @V_CD_PAPEL_RECEBE_REMUNERACAO
                     
                      -- ATUALIZA O PERCENTUAL
                      SELECT @V_VL_REMUMERACAO = (@V_VL_REMUMERACAO - @V_VL_REMUMERACAO_REGRESSIVO)

                      -- ATUALIZA O PAPEL INICIO DE RECEBIMENTO DO BÔNUS
                      SELECT @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO = (@V_CD_PAPEL_RECEBE_REMUNERACAO+1)

                      SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_REMUMERACAO_REGRESSIVO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
                    END  


                    IF (@V_ID_MULTIPLICA_QUANTIDADE =1)  -- MULTIPLICA PELA QUANTIDADE (SIM)
                    BEGIN
                      SELECT @V_VL_REMUNERACAO_CALCULADA = (@V_VL_REMUNERACAO_CALCULADA * @V_QT_RESERVADA)
                    END  


                  END


                  -- ATRIBUI A LIDERANÇA ATUAL 
                  SELECT @V_CD_PESSOA_LIDERANCA_ATUAL = @V_CD_PESSOA_LIDERANCA_TOP 
                               
                END
            
              END
              -- VERIFICA SE OUTRA REMUNERAÇÃO TEM PRIORIDADE
              SELECT @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0
              IF (@V_CD_REMUNERACAO_PRIORIDADE > 0)
              BEGIN
                SELECT @V_CD_REMUNERACAO_PRIORIDADE_QDE = COUNT(*)
                FROM TB_MN_DETALHE_REMUNERACAO
                WHERE CD_FUNCAO             = @CD_FUNCAO
                AND   NM_CICLO              = @NM_CICLO
                AND   CD_REGRA_PREMIACAO_MN = @V_CD_REMUNERACAO_PRIORIDADE
                AND   NM_ORIGEM_MN          = @V_CD_PEDIDO_PESSOA

              END

 
             -- INICIO = REGRA DE QUEM RECEBE
              SELECT @V_CD_REMUNERACAO_INDICADOR_RECEBE = 1,
                     @V_ID_OPERACAO_ULTIMA              = 0   -- GUARDA A INFORMAÇÃO DA ÚLTIMA OPERAÇÃO

              -- SE O VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO
              IF (@V_VL_REMUNERACAO_CALCULADA > 0 AND @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0)
              BEGIN
                -- INICIO = VERIFICA SE CUMPRE OS CRITÉRIOS PARA PAGAMENTO DA REMUNERAÇÃO
                -- ABRE O CURSOR POR REMUNERACAO DAS REGRAS DOS INDICADORES
                SET @CURSOR_REGRA_REMUNERACAO_INDICADOR = CURSOR FAST_FORWARD
                FOR
                SELECT CD_INDICADOR_PESSOAL, VL_INDICADOR_PESSOAL_INICIO, 
  	               VL_INDICADOR_PESSOAL_FIM, isnull(ID_OPERACAO,2)
                FROM TB_MN_REGRA_REMUNERACAO_INDICADOR_RECEBE
                WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
                ORDER BY CD_REMUNERACAO, NM_SEQUENCIA_INDICADOR

                OPEN @CURSOR_REGRA_REMUNERACAO_INDICADOR
                FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO_INDICADOR
                INTO @V_CD_INDICADOR_PESSOAL2, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 

                WHILE @@FETCH_STATUS = 0
                BEGIN  
                  SELECT @V_VL_INDICADOR_PESSOAL = isnull(SUM(VL_INDICADOR_PESSOAL),-1)
                  FROM TB_PESSOA_INDICADOR
                  WHERE CD_PESSOA            = @V_CD_PESSOA_TOP
                  AND   CD_FUNCAO            = @CD_FUNCAO
                  AND   NM_CICLO             = @NM_CICLO
                  AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
                  AND   CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_PESSOAL2   

                  -- VERIFICA SE NÃO TEM O INDICADOR E (OPERADOR ATUAL OU ANTERIOR "AND")
                  IF (@V_VL_INDICADOR_PESSOAL = -1 AND (@V_ID_OPERACAO = 2 OR @V_ID_OPERACAO_ULTIMA = 2))
                  BEGIN
  	            SELECT @V_CD_REMUNERACAO_INDICADOR_RECEBE = 0
	            BREAK
                  END

                  -- VALOR DO INDICADOR ESTÁ FORA DO RANGE E (OPERADOR ATUAL E ANTERIOR "AND")
                  IF ((@V_VL_INDICADOR_PESSOAL < @V_VL_INDICADOR_PESSOAL_INICIO OR
   	               @V_VL_INDICADOR_PESSOAL > @V_VL_INDICADOR_PESSOAL_FIM )  AND 
    	              (@V_ID_OPERACAO = 2 OR @V_ID_OPERACAO_ULTIMA = 2)) -- "AND" 
                  BEGIN
	            SELECT @V_CD_REMUNERACAO_INDICADOR_RECEBE = 0
   	            BREAK
                  END
  
                  -- GUARDA A ÚLTIMA OPERAÇÃO
                  SELECT @V_ID_OPERACAO_ULTIMA = @V_ID_OPERACAO

                  FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  INTO @V_CD_INDICADOR_PESSOAL2, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 
                END -- fim CURSOR REGRA REMUNERACAO
                CLOSE       @CURSOR_REGRA_REMUNERACAO_INDICADOR
                DEALLOCATE  @CURSOR_REGRA_REMUNERACAO_INDICADOR
                -- FIM = VERIFICA SE CUMPRE OS CRITÉRIOS PARA PAGAMENTO DA REMUNERAÇÃO

              END  -- FIM = VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO
              -- FIM =  REGRA DE QUEM RECEBE



             -- INICIO = REGRA DE QUEM PAGA
              SELECT @V_CD_REMUNERACAO_INDICADOR_PAGA = 1,
                     @V_ID_OPERACAO_ULTIMA            = 0   -- GUARDA A INFORMAÇÃO DA ÚLTIMA OPERAÇÃO

              -- SE O VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO
              IF (@V_VL_REMUNERACAO_CALCULADA > 0 AND @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0)
              BEGIN
                -- INICIO = VERIFICA SE CUMPRE OS CRITÉRIOS PARA PAGAMENTO DA REMUNERAÇÃO
                -- ABRE O CURSOR POR REMUNERACAO DAS REGRAS DOS INDICADORES
                SET @CURSOR_REGRA_REMUNERACAO_INDICADOR = CURSOR FAST_FORWARD
                FOR
                SELECT CD_INDICADOR_PESSOAL, VL_INDICADOR_PESSOAL_INICIO, 
  	               VL_INDICADOR_PESSOAL_FIM, isnull(ID_OPERACAO,2)
                FROM TB_MN_REGRA_REMUNERACAO_INDICADOR_PAGA
                WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
                ORDER BY CD_REMUNERACAO, NM_SEQUENCIA_INDICADOR

                OPEN @CURSOR_REGRA_REMUNERACAO_INDICADOR
                FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO_INDICADOR
                INTO @V_CD_INDICADOR_PESSOAL2, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 

                WHILE @@FETCH_STATUS = 0
                BEGIN  
                  SELECT @V_VL_INDICADOR_PESSOAL = isnull(SUM(VL_INDICADOR_PESSOAL),-1)
                  FROM TB_PESSOA_INDICADOR
                  WHERE CD_PESSOA            = @CD_PESSOA
                  AND   CD_FUNCAO            = @CD_FUNCAO
                  AND   NM_CICLO             = @NM_CICLO
                  AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
                  AND   CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_PESSOAL2   

                  -- VERIFICA SE NÃO TEM O INDICADOR E (OPERADOR ATUAL OU ANTERIOR "AND")
                  IF (@V_VL_INDICADOR_PESSOAL = -1 AND (@V_ID_OPERACAO = 2 OR @V_ID_OPERACAO_ULTIMA = 2))
                  BEGIN
  	            SELECT @V_CD_REMUNERACAO_INDICADOR_PAGA = 0
	            BREAK
                  END

                  -- VALOR DO INDICADOR ESTÁ FORA DO RANGE E (OPERADOR ATUAL E ANTERIOR "AND")
                  IF ((@V_VL_INDICADOR_PESSOAL < @V_VL_INDICADOR_PESSOAL_INICIO OR
   	               @V_VL_INDICADOR_PESSOAL > @V_VL_INDICADOR_PESSOAL_FIM )  AND 
    	              (@V_ID_OPERACAO = 2 OR @V_ID_OPERACAO_ULTIMA = 2)) -- "AND" 
                  BEGIN
	            SELECT @V_CD_REMUNERACAO_INDICADOR_PAGA = 0
   	            BREAK
                  END
  
                  -- GUARDA A ÚLTIMA OPERAÇÃO
                  SELECT @V_ID_OPERACAO_ULTIMA = @V_ID_OPERACAO

                  FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  INTO @V_CD_INDICADOR_PESSOAL2, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 
                END -- fim CURSOR REGRA REMUNERACAO
                CLOSE       @CURSOR_REGRA_REMUNERACAO_INDICADOR
                DEALLOCATE  @CURSOR_REGRA_REMUNERACAO_INDICADOR
                -- FIM = VERIFICA SE CUMPRE OS CRITÉRIOS PARA PAGAMENTO DA REMUNERAÇÃO

              END  -- FIM = VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO
              -- FIM =  REGRA DE QUEM PAGA


              -- SE O VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO E REGRA DA REMUNERACAO OK
              IF (@V_VL_REMUNERACAO_CALCULADA > 0 AND @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0   AND @V_CD_REMUNERACAO_INDICADOR_RECEBE = 1 AND @V_CD_REMUNERACAO_INDICADOR_PAGA = 1)
              BEGIN
                SELECT @V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @V_ID_SITUACAO_REMUNERACAO 
                -- INSERIR A REMUNERAÇÃO
                SELECT @EXISTE_REM = COUNT(*)
                FROM TB_MN_REMUNERACAO
                WHERE CD_PESSOA                           = @V_CD_PESSOA_TOP
                AND CD_FUNCAO                             = @CD_FUNCAO
                AND NM_CICLO                              = @NM_CICLO
                AND ID_SITUACAO_REMUNERACAO               = @V_ID_SITUACAO_REMUNERACAO        
                AND ID_FORMA_PREMIACAO_MN                 = @V_ID_FORMA_PAGAMENTO_REMUNERACAO
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO  
                IF @EXISTE_REM = 0
                BEGIN
                  INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA  , CD_FUNCAO , NM_CICLO, ID_SITUACAO_REMUNERACAO,
                                         VL_ORIGINAL,VL_AJUSTADO, DC_MOTIVO_AJUSTE, ID_FORMA_PREMIACAO_MN, 
                                         ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO,  
                                         DT_ATUALIZACAO,  CD_USUARIO_ATUALIZACAO)
                                 VALUES (@V_CD_PESSOA_TOP,@CD_FUNCAO,@NM_CICLO,@V_ID_SITUACAO_REMUNERACAO,
                                         @V_VL_REMUNERACAO_CALCULADA ,@V_VL_REMUNERACAO_CALCULADA ,'', 
					 @V_ID_FORMA_PAGAMENTO_REMUNERACAO,
                                         @V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO,  GETDATE(), 0,
                                         GETDATE(), 0) 
                  SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
                END
                ELSE
                BEGIN
                  UPDATE TB_MN_REMUNERACAO SET
                         VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO_CALCULADA,
                         VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO_CALCULADA,
                         DT_ATUALIZACAO  = getdate(),
                         CD_USUARIO_ATUALIZACAO = 0
                  WHERE CD_PESSOA                           = @V_CD_PESSOA_TOP
                  AND CD_FUNCAO                             = @CD_FUNCAO
                  AND NM_CICLO                              = @NM_CICLO
                  AND ID_SITUACAO_REMUNERACAO               = @V_ID_SITUACAO_REMUNERACAO        
                  AND ID_FORMA_PREMIACAO_MN                 = @V_ID_FORMA_PAGAMENTO_REMUNERACAO
                  AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO  
   
                  SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
                  FROM TB_MN_REMUNERACAO
                  WHERE CD_PESSOA                           = @V_CD_PESSOA_TOP
                  AND CD_FUNCAO                             = @CD_FUNCAO
                  AND NM_CICLO                              = @NM_CICLO
                  AND ID_SITUACAO_REMUNERACAO               = @V_ID_SITUACAO_REMUNERACAO       
                  AND ID_FORMA_PREMIACAO_MN                 = @V_ID_FORMA_PAGAMENTO_REMUNERACAO
                  AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO 
       
                END

                -- INSERE NO DETALHE
                INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, 
                                                       CD_FUNCAO, 
                                                       NM_CICLO, 
                                                       ID_MOTIVO_REMUNERACAO,
                                                       CD_REGRA_PREMIACAO_MN, 
                                                       ID_ORIGEM_PREMIACAO_MN, 
                                                       NM_ORIGEM_MN,
                                                       VL_ORIGEM_MN,
                                                       VL_PERCENTUAL_REM, 
                                                       VL_REMUNERACAO,
                                                       CD_MN_REMUNERACAO,
                                                       CD_PAPEL_DESEMPENHO,
						       NM_NIVEL)
                                               VALUES (@V_CD_PESSOA_TOP, 
                                                       @CD_FUNCAO,
                                                       @NM_CICLO,
                                                       1, -- RECEITA
                                                       @V_CD_REMUNERACAO, -- SÃO AS REMUNERAÇÕES CADASTRADAS
                                                       @V_ID_REGRA_CALCULO, --1-PEDIDO /  2 - PESSOA
                                                       @V_CD_PEDIDO_PESSOA,
                                                       @V_VL_LIQUIDO_PEDIDO_INDICADOR, 
                                                       CASE WHEN (@V_ID_TIPO_REMUNERACAO = 3) THEN  @V_VL_REMUMERACAO_REGRESSIVO
                                                            ELSE  @V_VL_REMUMERACAO END,
                                                       @V_VL_REMUNERACAO_CALCULADA,
                                                       @V_CD_MN_REMUNERACAO, 
                                                       @V_CD_PAPEL_RECEBE_REMUNERACAO,
						       @V_CD_NIVEL_TOP)

                SELECT @V_CD_MN_DETALHE_REMUNERACAO = IDENT_CURRENT('TB_MN_DETALHE_REMUNERACAO')
 
                -- ALTERAÇÃO PARA INCLUIR O CONCEITO DE APROVAÇÃO AUTOMATICA DA REMUNERACAO (13/09/2017)
				SELECT @V_ID_SITUACAO_REMUNERACAO
                IF (@V_ID_SITUACAO_REMUNERACAO   = 2)
                BEGIN
                  SELECT @V_PC_TAXA_ADMINISTRATIVA = VL_PARAMETRO FROM TB_VALOR_PARAMETRO WHERE CD_PARAMETRO = 11 AND CD_GRUPO_PARAMETRO = 7
                  SELECT @V_VL_TAXA_ADMINISTRATIVA = 0

                  IF (@V_PC_TAXA_ADMINISTRATIVA > 0)
                  BEGIN
                    SELECT @V_VL_TAXA_ADMINISTRATIVA = ((@V_PC_TAXA_ADMINISTRATIVA / 100) * @V_VL_REMUNERACAO_CALCULADA)
                  END
                  -- CHAMA A APROVAÇÃO AUTOMATICA
                  EXEC dbo.SP_MN_APROVA_REMUNERACAO 
  	                           @V_CD_MN_DETALHE_REMUNERACAO,
	                           1,
	                           @V_VL_REMUNERACAO_CALCULADA,
	                           @V_VL_TAXA_ADMINISTRATIVA,
	                           @V_PC_TAXA_ADMINISTRATIVA,
	                           '',   -- MOTIVO
	                           0,
	                           @VAR_RETORNO OUTPUT,
	                           @DC_ERRO  OUTPUT,
	                           @QT_LINHAS_AFETADAS OUTPUT
                END
    
                --- VERIFICA SE A REMUNERAÇÃO É POR GERAÇÃO E A PESSOA TEM LIDERANÇA / OR GERAÇÃO ATUAL MAIOR QUE LIMITE DE PAGTO
                IF ( (@V_ID_REGRA_NIVEL_GERACAO = 2 AND @V_CD_PESSOA_LIDERANCA_ATUAL = 0 ) OR
                      (@V_CD_GERACAO > @V_VL_NIVEL_GERACAO_FIM)) 
                BEGIN
                  BREAK
                END

                -- VERIFICA SE QDO ENCONTRAR A PESSOA QUE RECEBE COM PAPEL DE PARAR DE REMUNERAR
                IF (@V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO = 1)  -- PARAR
                BEGIN
                  BREAK
                END

                -- VERIFICAR SE O CAMPO "VL_REMUMERACAO" DA REGRA DE REMUNERACAO ESTA ZERADO
                IF (@V_VL_REMUMERACAO = 0)   
                BEGIN
                  BREAK
                END

              END

            END
          END

          FETCH NEXT FROM @CURSOR_TOPOLOGIA
          INTO @V_CD_ORDEM_TOP, @V_CD_PESSOA_TOP, @V_CD_PAPEL_CARREIRA_TOP, @V_CD_PAPEL_DESEMPENHO_TOP, @V_CD_NIVEL_TOP, @V_CD_PESSOA_LIDERANCA_TOP 
        END -- fim TOPOLOGIA
        CLOSE       @CURSOR_TOPOLOGIA
        DEALLOCATE  @CURSOR_TOPOLOGIA

        FETCH NEXT FROM @CURSOR_REGRA_CALCULO
        INTO @V_CD_PEDIDO_PESSOA, @V_NM_CICLO_PAGTO_INDICADOR, @V_NM_CICLO_APROV_INDICADOR,  @V_QT_RESERVADA, @V_VL_LIQUIDO_PEDIDO_INDICADOR 
      END -- fim REGRA CALCULO
      CLOSE       @CURSOR_REGRA_CALCULO
      DEALLOCATE  @CURSOR_REGRA_CALCULO



      FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO
      INTO @V_CD_REMUNERACAO                        ,
         @V_DS_REMUNERACAO                          ,
         @V_ID_REGRA_CALCULO                        ,
         @V_ID_EVENTO_PEDIDO                        ,
         @V_CD_PRODUTO                              ,
         @V_CD_INDICADOR_PESSOAL                    ,
         @V_ID_FORMA_PAGAMENTO_REMUNERACAO          ,
         @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO      ,
         @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO         ,
         @V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO       , 
         @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO ,
         @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO        ,
         @V_CD_PAPEL_FIM_PAGA_REMUNERACAO           ,
         @V_ID_REGRA_PAPEL_PAGA_REMUNERACAO         , 
         @V_ID_REGRA_NIVEL_GERACAO                  , 
         @V_VL_NIVEL_GERACAO_INICIO                 ,
         @V_VL_NIVEL_GERACAO_FIM                    ,
         @V_ID_TIPO_REMUNERACAO                     , 
         @V_VL_REMUMERACAO                          ,
         @V_CD_REMUNERACAO_PRIORIDADE               ,
         @V_ID_MULTIPLICA_QUANTIDADE                ,
         @V_ID_SITUACAO_REMUNERACAO 


    END -- fim REGRAS REMUNERAÇÃO
    CLOSE       @CURSOR_REGRA_REMUNERACAO
    DEALLOCATE  @CURSOR_REGRA_REMUNERACAO

  

  END

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0

END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;























GO
