SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_DividaCancelaRecorrencia]
	@CD_PESSOA NUMERIC (18,0),
	@CD_DIVIDA NUMERIC (18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @V_CONTADOR int
       
	    	
BEGIN TRY
		
	SELECT @QT_LINHAS_AFETADAS = 0
	SELECT @VAR_RETORNO  = 0
	SELECT @DC_ERRO = ''

	-- verifica se tem parcelas vencidas e não pagas
	SELECT @V_CONTADOR = COUNT(*)
	FROM TB_PARCELA
	WHERE CD_DIVIDA                   = @CD_DIVIDA 
	AND ID_SITUACAO_PARCELA           = 1 -- ABERTA
	AND ID_SITUACAO_PAGAMENTO_PARCELA = 3 -- VENCIDA
	IF (@V_CONTADOR > 0)
	BEGIN
		SELECT @VAR_RETORNO  = 1
		SELECT @DC_ERRO = 'Esta assinatura não poderá ser cancelada pois existem débitos em aberto'
		RETURN
	END
	-- cancela as parcelas futuras 
	UPDATE TB_PARCELA
		SET ID_SITUACAO_PARCELA = 2, -- FECHADA
		    ID_SITUACAO_PAGAMENTO_PARCELA = 4 -- CANCELADA
	WHERE CD_DIVIDA           = @CD_DIVIDA 
	AND ID_SITUACAO_PARCELA           = 1 -- ABERTA
	AND ID_SITUACAO_PAGAMENTO_PARCELA = 1 -- ABERTA
	AND CONVERT(DATE,DT_VENCIMENTO)  >= CONVERT(DATE,GETDATE())
	    
	-- cancela a divida
	UPDATE TB_DIVIDA
		SET ID_SITUACAO_DIVIDA  = 2, --FECHADA
		    ID_SITUACAO_PAGAMENTO = 4 --CANCELADA	
	WHERE CD_PESSOA        = @CD_PESSOA
	AND CD_DIVIDA          = @CD_DIVIDA
	AND ID_SITUACAO_DIVIDA = 1 -- ABERTA
				

	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
