SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ExcelHistoricoIndicadoresNegocioEstruturaComercial]
		@CD_NIVEL_EST_COMERCIAL		NUMERIC(18,0),
		@CD_EST_COMERCIAL		NUMERIC(18,0),
        	--@CD_INDICADOR_PESSOAL		NUMERIC(18,0),
		@NM_CICLO		NUMERIC(18,0),
		@CD_FUNCAO		NUMERIC(18,0)	
		
AS



DECLARE @CONTADOR NUMERIC (18,0)

DECLARE @CURSOR_EC_NIVEL_02  CURSOR,
	@CD_EST_COMERCIAL_02 NUMERIC(18,0),
	@DC_EST_COMERCIAL_02 VARCHAR(80)
	
DECLARE @CURSOR_EC_NIVEL_03  CURSOR,
	@CD_EST_COMERCIAL_03 NUMERIC(18,0),
	@DC_EST_COMERCIAL_03 VARCHAR(80)

DECLARE @CURSOR_EC_NIVEL_04  CURSOR,
	@CD_EST_COMERCIAL_04 NUMERIC(18,0),
	@DC_EST_COMERCIAL_04 VARCHAR(80)

DECLARE @CURSOR_EC_NIVEL_05  CURSOR,  -- LIDER
	@CD_PESSOA_05 NUMERIC(18,0),
	@DC_NOME_05 VARCHAR(80)



BEGIN
SELECT @CONTADOR = COUNT(*)
from TB_PESSOA_INDICADOR A WITH(NOLOCK), TB_INDICADOR_PESSOAL B WITH (NOLOCK)
WHERE A.CD_INDICADOR_PESSOAL   = B.CD_INDICADOR_PESSOAL 
AND A.NM_CICLO                 = @NM_CICLO
AND A.CD_FUNCAO                = @CD_FUNCAO
AND B.ID_TIPO_INDICADOR        = 7
AND B.ID_MOSTRA_INDICADOR_TELA = 1 
AND B.ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO = 1
AND DBO.FN_EST_COMERCIAL(@CD_EST_COMERCIAL, A.CD_EST_COMERCIAL) = 1 

IF (@CONTADOR > 0)
BEGIN

  CREATE TABLE #TMP_EXCEL_CONSULTA_TOTAL_EC
	(CD_EST_COMERCIAL     NUMERIC(18,0),
	DC_EST_COMERCCIAL     VARCHAR(80),
	DC_RESP_EST_COMERCIAL VARCHAR(80),
	VL_INDICADOR_01  NUMERIC(18,2),
	VL_INDICADOR_02  NUMERIC(18,2),
	VL_INDICADOR_03  NUMERIC(18,2),
	VL_INDICADOR_04  NUMERIC(18,2),
	VL_INDICADOR_05  NUMERIC(18,2),
	VL_INDICADOR_06  NUMERIC(18,2),
	VL_INDICADOR_07  NUMERIC(18,2),
	VL_INDICADOR_08  NUMERIC(18,2),
	VL_INDICADOR_09  NUMERIC(18,2),
	VL_INDICADOR_10  NUMERIC(18,2),
	VL_INDICADOR_11  NUMERIC(18,2),
	VL_INDICADOR_12  NUMERIC(18,2),
	VL_INDICADOR_13  NUMERIC(18,2),
	VL_INDICADOR_14  NUMERIC(18,2),
	VL_INDICADOR_15  NUMERIC(18,2),
	VL_INDICADOR_16  NUMERIC(18,2),
	VL_INDICADOR_17  NUMERIC(18,2)	   )

  /*CREATE TABLE #TMP_EXCEL_CONSULTA_INDICADOR
	(CD_EST_COMERCIAL     NUMERIC(18,0),
	DC_EST_COMERCIAL     VARCHAR(80),
	DC_RESP_EST_COMERCIAL VARCHAR(80),
	VL_INDICADOR_01  NUMERIC(18,2))
*/


  -- 1o - CRIAR O NÍVEL 01 NA TMP
  BEGIN TRANSACTION
  INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
  SELECT @CD_EST_COMERCIAL,
           DBO.FN_BUSCA_DESC_EST_COMERCIAL(@CD_EST_COMERCIAL),
           dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(@CD_EST_COMERCIAL, 0),
           [3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024]      
  FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                 ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
           FROM TB_PESSOA_INDICADOR with(nolock)
           WHERE --CD_PESSOA      = @CD_PESSOA
               CD_FUNCAO        = @CD_FUNCAO
           AND NM_CICLO         = @NM_CICLO
           AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
           AND CD_INDICADOR_PESSOAL IN (3007,3006,3002,3026,3029,3020,3021,3022,3023,3003,3030,3031,3032,3001,3028,3025,3024)   
           GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
           PIVOT (SUM(VALOR) FOR INDICADOR IN ([3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024])) EM_COLUNA 
  COMMIT TRANSACTION


  -- ************* NIVEL 1
  -- A CONSULTA É O NIVEL 01 DA EC
  IF (@CD_NIVEL_EST_COMERCIAL = 1)
  BEGIN
 
    -- 2o - ABRE O CUSTOR DO NÍVEL 02
    SET @CURSOR_EC_NIVEL_02 = CURSOR FAST_FORWARD
    FOR SELECT CD_EST_COMERCIAL, DC_EST_COMERCIAL
        FROM TB_EST_COMERCIAL WITH (NOLOCK)
    WHERE ID_ATIVO = 1
    AND   DBO.FN_EST_COMERCIAL(@CD_EST_COMERCIAL, CD_EST_COMERCIAL) = 1 
    AND   DBO.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 2 ) = CD_EST_COMERCIAL 
    ORDER BY 2
    OPEN @CURSOR_EC_NIVEL_02  
    FETCH NEXT FROM @CURSOR_EC_NIVEL_02 
    INTO @CD_EST_COMERCIAL_02, @DC_EST_COMERCIAL_02
    WHILE @@FETCH_STATUS = 0 
    BEGIN  
      -- 2o - CRIAR O NÍVEL 02 NA TMP
      BEGIN TRANSACTION
      INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
      SELECT @CD_EST_COMERCIAL_02,
             DBO.FN_BUSCA_DESC_EST_COMERCIAL(@CD_EST_COMERCIAL_02),
             dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(@CD_EST_COMERCIAL_02, 0),
             [3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024]      
      FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                 ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
             FROM TB_PESSOA_INDICADOR with(nolock)
             WHERE --CD_PESSOA      = @CD_PESSOA
               CD_FUNCAO        = @CD_FUNCAO
           AND NM_CICLO         = @NM_CICLO
           AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_02
           AND CD_INDICADOR_PESSOAL IN (3007,3006,3002,3026,3029,3020,3021,3022,3023,3003,3030,3031,3032,3001,3028,3025,3024)   
           GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
           PIVOT (SUM(VALOR) FOR INDICADOR IN ([3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024])) EM_COLUNA 
      COMMIT TRANSACTION


      -- 3o - ABRE O CUSTOR DO NÍVEL 03
      SET @CURSOR_EC_NIVEL_03 = CURSOR FAST_FORWARD
      FOR SELECT CD_EST_COMERCIAL, DC_EST_COMERCIAL
          FROM TB_EST_COMERCIAL WITH (NOLOCK)
      WHERE ID_ATIVO = 1
      AND   DBO.FN_EST_COMERCIAL(@CD_EST_COMERCIAL_02, CD_EST_COMERCIAL) = 1 
      AND   DBO.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 3 ) = CD_EST_COMERCIAL 
      ORDER BY 2
      OPEN @CURSOR_EC_NIVEL_03  
      FETCH NEXT FROM @CURSOR_EC_NIVEL_03 
      INTO @CD_EST_COMERCIAL_03, @DC_EST_COMERCIAL_03
      WHILE @@FETCH_STATUS = 0 
      BEGIN  
        -- 3o - CRIAR O NÍVEL 03 NA TMP
        BEGIN TRANSACTION
        INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
        SELECT @CD_EST_COMERCIAL_03,
               DBO.FN_BUSCA_DESC_EST_COMERCIAL(@CD_EST_COMERCIAL_03),
               dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(@CD_EST_COMERCIAL_03, 0),
               [3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024]      
        FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                   ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
               FROM TB_PESSOA_INDICADOR with(nolock)
               WHERE --CD_PESSOA      = @CD_PESSOA
               CD_FUNCAO        = @CD_FUNCAO
               AND NM_CICLO         = @NM_CICLO
               AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_03
               AND CD_INDICADOR_PESSOAL IN (3007,3006,3002,3026,3029,3020,3021,3022,3023,3003,3030,3031,3032,3001,3028,3025,3024)   
               GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
        PIVOT (SUM(VALOR) FOR INDICADOR IN ([3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024])) EM_COLUNA 
        COMMIT TRANSACTION


        -- 4o - ABRE O CUSTOR DO NÍVEL 04
        SET @CURSOR_EC_NIVEL_04 = CURSOR FAST_FORWARD
        FOR SELECT CD_EST_COMERCIAL, DC_EST_COMERCIAL
            FROM TB_EST_COMERCIAL WITH (NOLOCK)
        WHERE ID_ATIVO = 1
        AND   DBO.FN_EST_COMERCIAL(@CD_EST_COMERCIAL_03, CD_EST_COMERCIAL) = 1 
        AND   DBO.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 4 ) = CD_EST_COMERCIAL 
        ORDER BY 2
        OPEN @CURSOR_EC_NIVEL_04  
        FETCH NEXT FROM @CURSOR_EC_NIVEL_04 
        INTO @CD_EST_COMERCIAL_04, @DC_EST_COMERCIAL_04
        WHILE @@FETCH_STATUS = 0 
        BEGIN  
          -- 4o - CRIAR O NÍVEL 04 NA TMP
          BEGIN TRANSACTION
          INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
          SELECT @CD_EST_COMERCIAL_04,
                 DBO.FN_BUSCA_DESC_EST_COMERCIAL(@CD_EST_COMERCIAL_04),
                 dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(@CD_EST_COMERCIAL_04, 0),
                 [3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024]      
          FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                        ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                 FROM TB_PESSOA_INDICADOR with(nolock)
                 WHERE --CD_PESSOA      = @CD_PESSOA
                 CD_FUNCAO        = @CD_FUNCAO
                 AND NM_CICLO         = @NM_CICLO
                 AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
                 AND CD_INDICADOR_PESSOAL IN (3007,3006,3002,3026,3029,3020,3021,3022,3023,3003,3030,3031,3032,3001,3028,3025,3024)   
                GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
          PIVOT (SUM(VALOR) FOR INDICADOR IN ([3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024])) EM_COLUNA 
          COMMIT TRANSACTION


          -- 5o - ABRE O CUSTOR DO NÍVEL 05 - LIDER
          SET @CURSOR_EC_NIVEL_05 = CURSOR FAST_FORWARD
          FOR SELECT DISTINCT A.CD_PESSOA, 
       			dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) 
		FROM TB_PESSOA_INDICADOR A WITH (NOLOCK)
		WHERE A.CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
		AND   A.NM_CICLO = @NM_CICLO
		AND   A.CD_FUNCAO = @CD_FUNCAO
		AND   A.CD_PESSOA IN (SELECT CD_PESSOA
                  			FROM TB_PESSOA_PAPEL_HISTORICO B WITH (NOLOCK)
                  			WHERE B.CD_PAPEL_CARREIRA >= (SELECT ISNULL(MAX(CD_PAPEL_INICIO_LIDERANCA),0) FROM TB_MN_REGRA_GERAL C WITH (NOLOCK) )
                  			AND   B.NM_CICLO = @NM_CICLO
		  			AND   B.CD_FUNCAO = @CD_FUNCAO)
		AND   A.CD_INDICADOR_PESSOAL > 500
		ORDER BY 2

          OPEN @CURSOR_EC_NIVEL_05  
          FETCH NEXT FROM @CURSOR_EC_NIVEL_05 
          INTO @CD_PESSOA_05, @DC_NOME_05
          WHILE @@FETCH_STATUS = 0 
          BEGIN  
            -- 5o - CRIAR O NÍVEL 05 NA TMP
            BEGIN TRANSACTION
            INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
            SELECT @CD_PESSOA_05,
                   'Lider',
                   @DC_NOME_05,
                   [1015],[1014],[1006],[1036],[1039],[1030],[1031],[1032],[1033],[1012],[1040],[1041],[1042],[1005],[1038],[1035],[1034]     
            FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                          ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                   FROM TB_PESSOA_INDICADOR with(nolock)
                   WHERE CD_PESSOA      = @CD_PESSOA_05
                   AND   CD_FUNCAO        = @CD_FUNCAO
                   AND NM_CICLO         = @NM_CICLO
                   --AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
                   AND CD_INDICADOR_PESSOAL IN (1015,1014,1006,1036,1039,1030,1031,1032,1033,1012,1040,1041,1042,1005,1038,1035,1034)   
                  GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
            PIVOT (SUM(VALOR) FOR INDICADOR IN ([1015],[1014],[1006],[1036],[1039],[1030],[1031],[1032],[1033],[1012],[1040],[1041],[1042],[1005],[1038],[1035],[1034])) EM_COLUNA 
            COMMIT TRANSACTION

            FETCH NEXT FROM @CURSOR_EC_NIVEL_05 
            INTO @CD_PESSOA_05, @DC_NOME_05
          END
          CLOSE      @CURSOR_EC_NIVEL_05 
          DEALLOCATE @CURSOR_EC_NIVEL_05 


          FETCH NEXT FROM @CURSOR_EC_NIVEL_04 
          INTO @CD_EST_COMERCIAL_04, @DC_EST_COMERCIAL_04
        END
        CLOSE      @CURSOR_EC_NIVEL_04 
        DEALLOCATE @CURSOR_EC_NIVEL_04 


        FETCH NEXT FROM @CURSOR_EC_NIVEL_03 
        INTO @CD_EST_COMERCIAL_03, @DC_EST_COMERCIAL_03
      END
      CLOSE      @CURSOR_EC_NIVEL_03 
      DEALLOCATE @CURSOR_EC_NIVEL_03 


      FETCH NEXT FROM @CURSOR_EC_NIVEL_02 
      INTO @CD_EST_COMERCIAL_02, @DC_EST_COMERCIAL_02
    END
    CLOSE      @CURSOR_EC_NIVEL_02 
    DEALLOCATE @CURSOR_EC_NIVEL_02 

  END


  -- ************* NIVEL 2
  -- A CONSULTA É O NIVEL 02 DA EC
  IF (@CD_NIVEL_EST_COMERCIAL = 2)
  BEGIN
       -- 3o - ABRE O CUSTOR DO NÍVEL 03
      SET @CURSOR_EC_NIVEL_03 = CURSOR FAST_FORWARD
      FOR SELECT CD_EST_COMERCIAL, DC_EST_COMERCIAL
          FROM TB_EST_COMERCIAL WITH (NOLOCK)
      WHERE ID_ATIVO = 1
      AND   DBO.FN_EST_COMERCIAL(@CD_EST_COMERCIAL, CD_EST_COMERCIAL) = 1 
      AND   DBO.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 3 ) = CD_EST_COMERCIAL 
      ORDER BY 2
      OPEN @CURSOR_EC_NIVEL_03  
      FETCH NEXT FROM @CURSOR_EC_NIVEL_03 
      INTO @CD_EST_COMERCIAL_03, @DC_EST_COMERCIAL_03
      WHILE @@FETCH_STATUS = 0 
      BEGIN  
        -- 3o - CRIAR O NÍVEL 03 NA TMP
        BEGIN TRANSACTION
        INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
        SELECT @CD_EST_COMERCIAL_03,
               DBO.FN_BUSCA_DESC_EST_COMERCIAL(@CD_EST_COMERCIAL_03),
               dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(@CD_EST_COMERCIAL_03, 0),
               [3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024]      
        FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                   ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
               FROM TB_PESSOA_INDICADOR with(nolock)
               WHERE --CD_PESSOA      = @CD_PESSOA
               CD_FUNCAO        = @CD_FUNCAO
               AND NM_CICLO         = @NM_CICLO
               AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_03
               AND CD_INDICADOR_PESSOAL IN (3007,3006,3002,3026,3029,3020,3021,3022,3023,3003,3030,3031,3032,3001,3028,3025,3024)   
               GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
        PIVOT (SUM(VALOR) FOR INDICADOR IN ([3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024])) EM_COLUNA 
        COMMIT TRANSACTION


        -- 4o - ABRE O CUSTOR DO NÍVEL 04
        SET @CURSOR_EC_NIVEL_04 = CURSOR FAST_FORWARD
        FOR SELECT CD_EST_COMERCIAL, DC_EST_COMERCIAL
            FROM TB_EST_COMERCIAL WITH (NOLOCK)
        WHERE ID_ATIVO = 1
        AND   DBO.FN_EST_COMERCIAL(@CD_EST_COMERCIAL_03, CD_EST_COMERCIAL) = 1 
        AND   DBO.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 4 ) = CD_EST_COMERCIAL 
        ORDER BY 2
        OPEN @CURSOR_EC_NIVEL_04  
        FETCH NEXT FROM @CURSOR_EC_NIVEL_04 
        INTO @CD_EST_COMERCIAL_04, @DC_EST_COMERCIAL_04
        WHILE @@FETCH_STATUS = 0 
        BEGIN  
          -- 4o - CRIAR O NÍVEL 04 NA TMP
          BEGIN TRANSACTION
          INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
          SELECT @CD_EST_COMERCIAL_04,
                 DBO.FN_BUSCA_DESC_EST_COMERCIAL(@CD_EST_COMERCIAL_04),
                 dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(@CD_EST_COMERCIAL_04, 0),
                 [3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024]      
          FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                        ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                 FROM TB_PESSOA_INDICADOR with(nolock)
                 WHERE --CD_PESSOA      = @CD_PESSOA
                 CD_FUNCAO        = @CD_FUNCAO
                 AND NM_CICLO         = @NM_CICLO
                 AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
                 AND CD_INDICADOR_PESSOAL IN (3007,3006,3002,3026,3029,3020,3021,3022,3023,3003,3030,3031,3032,3001,3028,3025,3024)   
                GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
          PIVOT (SUM(VALOR) FOR INDICADOR IN ([3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024])) EM_COLUNA 
          COMMIT TRANSACTION


          -- 5o - ABRE O CUSTOR DO NÍVEL 05 - LIDER
          SET @CURSOR_EC_NIVEL_05 = CURSOR FAST_FORWARD
          FOR SELECT DISTINCT A.CD_PESSOA, 
       			dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) 
		FROM TB_PESSOA_INDICADOR A WITH (NOLOCK)
		WHERE A.CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
		AND   A.NM_CICLO = @NM_CICLO
		AND   A.CD_FUNCAO = @CD_FUNCAO
		AND   A.CD_PESSOA IN (SELECT CD_PESSOA
                  			FROM TB_PESSOA_PAPEL_HISTORICO B WITH (NOLOCK)
                  			WHERE B.CD_PAPEL_CARREIRA >= (SELECT ISNULL(MAX(CD_PAPEL_INICIO_LIDERANCA),0) FROM TB_MN_REGRA_GERAL C WITH (NOLOCK) )
                  			AND   B.NM_CICLO = @NM_CICLO
		  			AND   B.CD_FUNCAO = @CD_FUNCAO)
		AND   A.CD_INDICADOR_PESSOAL > 500
		ORDER BY 2

          OPEN @CURSOR_EC_NIVEL_05  
          FETCH NEXT FROM @CURSOR_EC_NIVEL_05 
          INTO @CD_PESSOA_05, @DC_NOME_05
          WHILE @@FETCH_STATUS = 0 
          BEGIN  
            -- 5o - CRIAR O NÍVEL 05 NA TMP
            BEGIN TRANSACTION
            INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
            SELECT @CD_PESSOA_05,
                   'Lider',
                   @DC_NOME_05,
                   [1015],[1014],[1006],[1036],[1039],[1030],[1031],[1032],[1033],[1012],[1040],[1041],[1042],[1005],[1038],[1035],[1034]     
            FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                          ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                   FROM TB_PESSOA_INDICADOR with(nolock)
                   WHERE CD_PESSOA      = @CD_PESSOA_05
                   AND   CD_FUNCAO        = @CD_FUNCAO
                   AND NM_CICLO         = @NM_CICLO
                   --AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
                   AND CD_INDICADOR_PESSOAL IN (1015,1014,1006,1036,1039,1030,1031,1032,1033,1012,1040,1041,1042,1005,1038,1035,1034)   
                  GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
            PIVOT (SUM(VALOR) FOR INDICADOR IN ([1015],[1014],[1006],[1036],[1039],[1030],[1031],[1032],[1033],[1012],[1040],[1041],[1042],[1005],[1038],[1035],[1034])) EM_COLUNA 
            COMMIT TRANSACTION

            FETCH NEXT FROM @CURSOR_EC_NIVEL_05 
            INTO @CD_PESSOA_05, @DC_NOME_05
          END
          CLOSE      @CURSOR_EC_NIVEL_05 
          DEALLOCATE @CURSOR_EC_NIVEL_05 


          FETCH NEXT FROM @CURSOR_EC_NIVEL_04 
          INTO @CD_EST_COMERCIAL_04, @DC_EST_COMERCIAL_04
        END
        CLOSE      @CURSOR_EC_NIVEL_04 
        DEALLOCATE @CURSOR_EC_NIVEL_04 


        FETCH NEXT FROM @CURSOR_EC_NIVEL_03 
        INTO @CD_EST_COMERCIAL_03, @DC_EST_COMERCIAL_03
      END
      CLOSE      @CURSOR_EC_NIVEL_03 
      DEALLOCATE @CURSOR_EC_NIVEL_03 

  END

  -- ************* NIVEL 3
  -- A CONSULTA É O NIVEL 03 DA EC
  IF (@CD_NIVEL_EST_COMERCIAL = 3)
  BEGIN
         -- 4o - ABRE O CUSTOR DO NÍVEL 04
        SET @CURSOR_EC_NIVEL_04 = CURSOR FAST_FORWARD
        FOR SELECT CD_EST_COMERCIAL, DC_EST_COMERCIAL
            FROM TB_EST_COMERCIAL WITH (NOLOCK)
        WHERE ID_ATIVO = 1
        AND   DBO.FN_EST_COMERCIAL(@CD_EST_COMERCIAL, CD_EST_COMERCIAL) = 1 
        AND   DBO.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 4 ) = CD_EST_COMERCIAL 
        ORDER BY 2
        OPEN @CURSOR_EC_NIVEL_04  
        FETCH NEXT FROM @CURSOR_EC_NIVEL_04 
        INTO @CD_EST_COMERCIAL_04, @DC_EST_COMERCIAL_04
        WHILE @@FETCH_STATUS = 0 
        BEGIN  
          -- 4o - CRIAR O NÍVEL 04 NA TMP
          BEGIN TRANSACTION
          INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
          SELECT @CD_EST_COMERCIAL_04,
                 DBO.FN_BUSCA_DESC_EST_COMERCIAL(@CD_EST_COMERCIAL_04),
                 dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(@CD_EST_COMERCIAL_04, 0),
                 [3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024]      
          FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                        ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                 FROM TB_PESSOA_INDICADOR with(nolock)
                 WHERE --CD_PESSOA      = @CD_PESSOA
                 CD_FUNCAO        = @CD_FUNCAO
                 AND NM_CICLO         = @NM_CICLO
                 AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
                 AND CD_INDICADOR_PESSOAL IN (3007,3006,3002,3026,3029,3020,3021,3022,3023,3003,3030,3031,3032,3001,3028,3025,3024)   
                GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
          PIVOT (SUM(VALOR) FOR INDICADOR IN ([3007],[3006],[3002],[3026],[3029],[3020],[3021],[3022],[3023],[3003],[3030],[3031],[3032],[3001],[3028],[3025],[3024])) EM_COLUNA 
          COMMIT TRANSACTION


          -- 5o - ABRE O CUSTOR DO NÍVEL 05 - LIDER
          SET @CURSOR_EC_NIVEL_05 = CURSOR FAST_FORWARD
          FOR SELECT DISTINCT A.CD_PESSOA, 
       			dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) 
		FROM TB_PESSOA_INDICADOR A WITH (NOLOCK)
		WHERE A.CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
		AND   A.NM_CICLO = @NM_CICLO
		AND   A.CD_FUNCAO = @CD_FUNCAO
		AND   A.CD_PESSOA IN (SELECT CD_PESSOA
                  			FROM TB_PESSOA_PAPEL_HISTORICO B WITH (NOLOCK)
                  			WHERE B.CD_PAPEL_CARREIRA >= (SELECT ISNULL(MAX(CD_PAPEL_INICIO_LIDERANCA),0) FROM TB_MN_REGRA_GERAL C WITH (NOLOCK) )
                  			AND   B.NM_CICLO = @NM_CICLO
		  			AND   B.CD_FUNCAO = @CD_FUNCAO)
		AND   A.CD_INDICADOR_PESSOAL > 500
		ORDER BY 2

          OPEN @CURSOR_EC_NIVEL_05  
          FETCH NEXT FROM @CURSOR_EC_NIVEL_05 
          INTO @CD_PESSOA_05, @DC_NOME_05
          WHILE @@FETCH_STATUS = 0 
          BEGIN  
            -- 5o - CRIAR O NÍVEL 05 NA TMP
            BEGIN TRANSACTION
            INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
            SELECT @CD_PESSOA_05,
                   'Lider',
                   @DC_NOME_05,
                   [1015],[1014],[1006],[1036],[1039],[1030],[1031],[1032],[1033],[1012],[1040],[1041],[1042],[1005],[1038],[1035],[1034]     
            FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                          ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
                   FROM TB_PESSOA_INDICADOR with(nolock)
                   WHERE CD_PESSOA      = @CD_PESSOA_05
                   AND   CD_FUNCAO        = @CD_FUNCAO
                   AND NM_CICLO         = @NM_CICLO
                   --AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL_04
                   AND CD_INDICADOR_PESSOAL IN (1015,1014,1006,1036,1039,1030,1031,1032,1033,1012,1040,1041,1042,1005,1038,1035,1034)   
                  GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
            PIVOT (SUM(VALOR) FOR INDICADOR IN ([1015],[1014],[1006],[1036],[1039],[1030],[1031],[1032],[1033],[1012],[1040],[1041],[1042],[1005],[1038],[1035],[1034])) EM_COLUNA 
            COMMIT TRANSACTION

            FETCH NEXT FROM @CURSOR_EC_NIVEL_05 
            INTO @CD_PESSOA_05, @DC_NOME_05
          END
          CLOSE      @CURSOR_EC_NIVEL_05 
          DEALLOCATE @CURSOR_EC_NIVEL_05 


          FETCH NEXT FROM @CURSOR_EC_NIVEL_04 
          INTO @CD_EST_COMERCIAL_04, @DC_EST_COMERCIAL_04
        END
        CLOSE      @CURSOR_EC_NIVEL_04 
        DEALLOCATE @CURSOR_EC_NIVEL_04 

  END


  -- ************* NIVEL 4
  -- A CONSULTA É O NIVEL 04 DA EC
  IF (@CD_NIVEL_EST_COMERCIAL = 4)
  BEGIN
    -- 5o - ABRE O CUSTOR DO NÍVEL 05 - LIDER
    SET @CURSOR_EC_NIVEL_05 = CURSOR FAST_FORWARD
    FOR SELECT DISTINCT A.CD_PESSOA, 
    			dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) 
	FROM TB_PESSOA_INDICADOR A WITH (NOLOCK)
	WHERE A.CD_EST_COMERCIAL = @CD_EST_COMERCIAL
	AND   A.NM_CICLO = @NM_CICLO
	AND   A.CD_FUNCAO = @CD_FUNCAO
	AND   A.CD_PESSOA IN (SELECT CD_PESSOA
            			FROM TB_PESSOA_PAPEL_HISTORICO B WITH (NOLOCK)
               			WHERE B.CD_PAPEL_CARREIRA >= (SELECT ISNULL(MAX(CD_PAPEL_INICIO_LIDERANCA),0) FROM TB_MN_REGRA_GERAL C WITH (NOLOCK) )
               			AND   B.NM_CICLO = @NM_CICLO
	  			AND   B.CD_FUNCAO = @CD_FUNCAO)
	AND   A.CD_INDICADOR_PESSOAL > 500
	ORDER BY 2

    OPEN @CURSOR_EC_NIVEL_05  
    FETCH NEXT FROM @CURSOR_EC_NIVEL_05 
    INTO @CD_PESSOA_05, @DC_NOME_05
    WHILE @@FETCH_STATUS = 0 
    BEGIN  
      -- 5o - CRIAR O NÍVEL 05 NA TMP
      BEGIN TRANSACTION
      INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EC 
      SELECT @CD_PESSOA_05,
             'Lider',
              @DC_NOME_05,
              [1015],[1014],[1006],[1036],[1039],[1030],[1031],[1032],[1033],[1012],[1040],[1041],[1042],[1005],[1038],[1035],[1034]     
      FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                    ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
             FROM TB_PESSOA_INDICADOR with(nolock)
             WHERE CD_PESSOA      = @CD_PESSOA_05
             AND   CD_FUNCAO        = @CD_FUNCAO
             AND NM_CICLO         = @NM_CICLO
             --AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
                   AND CD_INDICADOR_PESSOAL IN (1015,1014,1006,1036,1039,1030,1031,1032,1033,1012,1040,1041,1042,1005,1038,1035,1034)   
                  GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
      PIVOT (SUM(VALOR) FOR INDICADOR IN ([1015],[1014],[1006],[1036],[1039],[1030],[1031],[1032],[1033],[1012],[1040],[1041],[1042],[1005],[1038],[1035],[1034])) EM_COLUNA 
      COMMIT TRANSACTION

      FETCH NEXT FROM @CURSOR_EC_NIVEL_05 
      INTO @CD_PESSOA_05, @DC_NOME_05
    END
    CLOSE      @CURSOR_EC_NIVEL_05 
    DEALLOCATE @CURSOR_EC_NIVEL_05 


  END


  -- SELECT NA TABELA TEMPORÁRIA
  SELECT 
	CD_EST_COMERCIAL     AS "Cód. Estrutura",
	DC_EST_COMERCCIAL    AS "Estrurura Comercial",
	DC_RESP_EST_COMERCIAL AS "Responsável",
	VL_INDICADOR_01  AS "ATIVIDADE (ATIVOS / CADASTROS)",
	VL_INDICADOR_02  AS "TOTAL DE CADASTROS",
	VL_INDICADOR_03  AS "TOTAL DE CONSULTORES ATIVOS",
	VL_INDICADOR_04  AS "TOTAL DE CONSULTORES ATIVOS TODO ANO",
	VL_INDICADOR_05  AS "TOTAL DE CONSULTORES DESATIVADOS",
	VL_INDICADOR_06  AS "TOTAL DE CONSULTORES INATIVOS",
	VL_INDICADOR_07  AS "TOTAL DE CONSULTORES INATIVOS 1",
	VL_INDICADOR_08  AS "TOTAL DE CONSULTORES INATIVOS 2",
	VL_INDICADOR_09  AS "TOTAL DE CONSULTORES INATIVOS 3",
	VL_INDICADOR_10  AS "TOTAL DE CONSULTORES INATIVOS 4",
	VL_INDICADOR_11  AS "TOTAL DE CONSULTORES INÍCIOS",
	VL_INDICADOR_12  AS "TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o CICLO",
	VL_INDICADOR_13  AS "TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o E 3o CICLOS",
	VL_INDICADOR_14  AS "TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o, 3o E 4o CICLOS",
	VL_INDICADOR_15  AS "TOTAL DE CONSULTORES REINÍCIOS",
	VL_INDICADOR_16  AS "TOTAL DE INTENÇÃO DE REVENDA CADASTRADA",
	VL_INDICADOR_17  AS "TOTAL DE INTENÇÃO DE REVENDA CADASTRADA E INÍCIO"
  FROM  #TMP_EXCEL_CONSULTA_TOTAL_EC



  -- DROPAR A TABELA TEMPORÁRIA
  DROP TABLE  #TMP_EXCEL_CONSULTA_TOTAL_EC


END
END
GO
