SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_FiscalInsereAliquotaFCP]
	@p_codigoAliquotaFCP	NUMERIC(18,4),
	@p_codigoMaterial		NUMERIC(18,0),
	@p_codigoClassFiscal	NUMERIC(18,0),
	@p_descUF				VARCHAR(2),
	@p_percAliquotaFCP		NUMERIC(18,4),

	@p_codigoUsuario		NUMERIC(18,0),
	@p_descAcao				VARCHAR(1),
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
	
		IF @p_descAcao = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_ALIQUOTA_FUNDO_POBREZA(
					CD_MATERIAL,
					CD_CLASSIFICACAO_FISCAL,
					DC_UF,
					PC_ALIQUOTA_FUNDO_POBREZA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO)
				VALUES           (
					@p_codigoMaterial,
					@p_codigoClassFiscal,
					@p_descUF,
					@p_percAliquotaFCP,
					GETDATE(),
					@p_codigoUsuario)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	

		IF @p_descAcao = 'E'
			BEGIN
	
				BEGIN TRANSACTION 
	
				DELETE FROM TB_ALIQUOTA_FUNDO_POBREZA 
					WHERE CD_ALIQUOTA_FUNDO_POBREZA = @p_codigoAliquotaFCP
	
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	


		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;

GO
