SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO]
	@CD_PESSOA numeric(18,0),
	@CD_FUNCAO int,
	@ID_ATUALIZA_CREDITO_TOTAL INT,
	@VL_CREDITO_TOTAL numeric(18,2),
	@CD_USUARIO NUMERIC(18,0)
	
AS

DECLARE @VL_CREDITO_A_VENCER NUMERIC(18,2),
		@VL_CREDITO_VENCIDO NUMERIC(18,2),
		@VL_CREDITO_TOTAL_PEDIDO NUMERIC(18,2),
		@VL_CREDITO_TOTAL_DIVIDA NUMERIC(18,2)

BEGIN   	
   	IF @ID_ATUALIZA_CREDITO_TOTAL = 1
   		BEGIN
   			UPDATE TB_PESSOA_RESUMO
   			SET VL_CREDITO_TOTAL = @VL_CREDITO_TOTAL
   			WHERE CD_PESSOA = @CD_PESSOA
   			AND CD_FUNCAO = @CD_FUNCAO
   		END 
   		
	-- ALTERAÇÃO POR DIEGO ZILIOTI EM 09/11/2021 - BITRIX #3139
	-- VAMOS PASSAR A CONSIDERAR AS DÍVIDAS DOS PLANOS QUE VERIFICAM CRÉDITO

   	-- ATUALIZA CREDITO A VENCER
   		
   	-- PEDIDOS APROVADOS E PENDENTE
	SELECT @VL_CREDITO_TOTAL_PEDIDO = ISNULL(SUM(VL_CREDITO_TOTAL),0) 
	FROM TB_PEDIDO P WITH(NOLOCK), TB_PLANO_PAGAMENTO PP WITH(NOLOCK)
	WHERE P.CD_PESSOA = @CD_PESSOA
	AND P.CD_FUNCAO = @CD_FUNCAO
	AND P.CD_EST_SITUACAO IN (2,4)
	and P.NM_CICLO_PAGAMENTO is null
	AND PP.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO
	AND PP.ID_VERIFICA_CREDITO = 1 -- SOMENTE PLANOS QUE VERIFICAM CRÉDITO
	AND NOT EXISTS (SELECT 1 FROM TB_DIVIDA D WITH(NOLOCK) WHERE D.NM_PEDIDO = P.NM_PEDIDO) -- SOMENTE PEDIDOS SEM DÍVIDAS
   		
   	-- PEDIDOS EM SEPARAÇÃO QUE ÑÃO ESTÃO VENCIDO
   	SELECT @VL_CREDITO_TOTAL_DIVIDA = ISNULL(SUM(PA.VL_CREDITO_PARCELA_SALDO),0) 
	  FROM TB_DIVIDA DI WITH(NOLOCK), TB_PEDIDO PE WITH(NOLOCK), TB_PLANO_PAGAMENTO PP WITH(NOLOCK), TB_PARCELA PA WITH(NOLOCK)
	 WHERE DI.ID_SITUACAO_DIVIDA = 1
	   AND DI.ID_SITUACAO_PAGAMENTO = 1
	   AND DI.CD_PESSOA = @CD_PESSOA
	   AND PE.NM_PEDIDO = DI.NM_PEDIDO
	   AND PE.CD_FUNCAO = @CD_FUNCAO
	   AND PE.CD_EST_SITUACAO <> 3 -- SÓ PEDIDOS NÃO CANCELADOS
	   AND PP.CD_PLANO_PAGAMENTO = PE.CD_PLANO_PAGAMENTO
	   AND PP.ID_VERIFICA_CREDITO = 1 -- SOMENTE PLANOS QUE VERIFICAM CRÉDITO
	   AND PA.CD_DIVIDA = DI.CD_DIVIDA
	   AND PA.ID_SITUACAO_PAGAMENTO_PARCELA = 1

		
	SELECT @VL_CREDITO_A_VENCER = @VL_CREDITO_TOTAL_PEDIDO + @VL_CREDITO_TOTAL_DIVIDA
		   		
   	-- PEDIDOS EM SEPARAÇÃO QUE ESTÃO VENCIDO
	SELECT @VL_CREDITO_VENCIDO = ISNULL(SUM(PA.VL_CREDITO_PARCELA_SALDO),0) 
	  FROM TB_DIVIDA DI WITH(NOLOCK), TB_PEDIDO PE WITH(NOLOCK), TB_PLANO_PAGAMENTO PP WITH(NOLOCK), TB_PARCELA PA WITH(NOLOCK)
	 WHERE DI.ID_SITUACAO_DIVIDA = 1
	   AND DI.ID_SITUACAO_PAGAMENTO = 3
	   AND DI.CD_PESSOA = @CD_PESSOA
	   AND PE.NM_PEDIDO = DI.NM_PEDIDO
	   AND PE.CD_FUNCAO = @CD_FUNCAO
	   AND PE.CD_EST_SITUACAO <> 3 -- PEDIDOS NÃO CANCELADOS
	   AND PP.CD_PLANO_PAGAMENTO = PE.CD_PLANO_PAGAMENTO
	   AND PP.ID_VERIFICA_CREDITO = 1 -- SOMENTE PLANOS QUE VERIFICAM CRÉDITO
	   AND PA.CD_DIVIDA = DI.CD_DIVIDA
	   AND PA.ID_SITUACAO_PAGAMENTO_PARCELA = 1

	-- ATUALIZA CREDITO A VENCER E CREDITO VENCIDO
   	UPDATE TB_PESSOA_RESUMO
   	SET VL_CREDITO_A_VENCER = @VL_CREDITO_A_VENCER,
   		VL_CREDITO_VENCIDO = @VL_CREDITO_VENCIDO
   	WHERE CD_PESSOA = @CD_PESSOA
   	AND CD_FUNCAO = @CD_FUNCAO	
   		
   		
   	-- ATUALIZA CREDITO DISPONIVEL
   	UPDATE TB_PESSOA_RESUMO
   	SET VL_CREDITO_DISPONIVEL = VL_CREDITO_TOTAL - (VL_CREDITO_VENCIDO + VL_CREDITO_A_VENCER + VL_CREDITO_A_FATURAR)
   	WHERE CD_PESSOA = @CD_PESSOA
   	AND CD_FUNCAO = @CD_FUNCAO

END
GO
