SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_DividaProcessaBaixaAutomatizada]
	@p_DataFechamento	DATE,
	@p_codigoUsuario	NUMERIC(18, 0),
	@p_codigoErro		INT OUTPUT,
	@p_descErro			NVARCHAR(max) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
	
AS

DECLARE @v_cursorDividas	cursor,
        @v_cursorParcelas	cursor,
		@v_codigoDivida		numeric(18,0), 
        @v_codigoParcela	numeric(18,0), 
	    @v_valorAtualizado	numeric(18,2),
		@v_codigoEntidade	numeric(18,0)
	    	
BEGIN TRY
		-- O OBJETIVO DESTA PROCEDURE É REALIZAR AS BAIXAS AUTOMATIZADAS PARA AS DÍVIDAS QUE ESTÃO COM ESTA CONFIGURAÇÃO, SERÁ EXECUTADO DIARIAMENTE ATRAVÉS DE UM JOB

		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @p_codigoErro = 0
	    SELECT @p_descErro = ''
	    
	    -- ABRE O CURSOR DE DÍVIDAS
			
		SET @v_cursorDividas = CURSOR FAST_FORWARD
		FOR
			SELECT D.CD_DIVIDA, P.CD_PARCELA, P.VL_ATUALIZADO_PARCELA, D.CD_ENTIDADE_BAIXA_AUTOMATIZADA
			FROM TB_DIVIDA D WITH(NOLOCK), TB_PARCELA P WITH(NOLOCK)
			WHERE D.CD_DIVIDA = P.CD_DIVIDA
			AND D.ID_SITUACAO_DIVIDA = 1 --TODAS AS DÍVIDAS ABERTAS
			AND D.ID_SITUACAO_PAGAMENTO IN (1,3) --PGTO ABERTO E VENCIDO
			AND D.ID_BAIXA_MANUAL_AUTOMATIZADA = 1 -- somente dívidas configuradas pra baixa automatizada
			AND P.DT_VENCIMENTO <= @p_DataFechamento -- SOMENTE PARCELAS COM DATA DE VENCIMENTO IGUAL OU INFERIOR A DATA DE EXECUÇÃO PASSADA 
			
		OPEN @v_cursorDividas
		FETCH NEXT FROM @v_cursorDividas
		INTO @v_codigoDivida, @v_codigoParcela, @v_valorAtualizado, @v_codigoEntidade
		
		WHILE @@FETCH_STATUS = 0
			BEGIN
				-- realiza a baixa
				EXEC SP_BAIXA_CONCILIACAO @v_codigoParcela,
										  @v_valorAtualizado,
										  @v_codigoEntidade,
										  1,
										  'Baixa automatizada', 
										  @p_codigoUsuario,
										  @p_codigoErro output,
										  @p_descErro output,
										  @p_qtLinhasAfetadas output

				FETCH NEXT FROM @v_cursorDividas
				INTO @v_codigoDivida, @v_codigoParcela, @v_valorAtualizado, @v_codigoEntidade
			END
		CLOSE      @v_cursorDividas
		DEALLOCATE @v_cursorDividas
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
