SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_EstruturaGeograficaInsereCidadeOmie]
	@p_codigoEstGeografica	NUMERIC(18,0),
	@p_descCodigoCidadeOmie	VARCHAR(50),
	@p_descNomeCidadeOmie	VARCHAR(50),
	@p_descUFOmie			VARCHAR(2),
	@p_descCodigoIBGEOmie	VARCHAR(20),
	@p_descCodigoSIAFIOmie  VARCHAR(20),
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT

AS
DECLARE @v_existe	INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	
	SELECT @v_existe = COUNT(*) FROM TB_WRK_CIDADES_OMIE_ERP WITH(NOLOCK) WHERE CD_EST_GEOGRAFICA = @p_codigoEstGeografica

	IF @v_existe = 0
		BEGIN
			--REALIZA A INSERÇÃO DOS DADOS
			INSERT INTO TB_WRK_CIDADES_OMIE_ERP VALUES (@p_codigoEstGeografica,
														@p_descCodigoCidadeOmie,
														@p_descNomeCidadeOmie,
														@p_descUFOmie,
														@p_descCodigoIBGEOmie,
														@p_descCodigoSIAFIOmie)
		END
	ELSE
		BEGIN
			-- ATUALIZA OS DADOS
			UPDATE TB_WRK_CIDADES_OMIE_ERP 
			   SET DC_CODIGO_CIDADE_OMIE = @p_descCodigoCidadeOmie,
				   DC_CODIGO_IBGE_OMIE = @p_descCodigoIBGEOmie,
				   DC_CODIGO_SIAFI_OMIE = @p_descCodigoSIAFIOmie,
				   DC_NOME_CIDADE_OMIE = @p_descNomeCidadeOmie,
				   DC_UF_OMIE = @p_descUFOmie
			 WHERE CD_EST_GEOGRAFICA = @p_codigoEstGeografica
		END

	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
