SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_MN_APLICA_PLANO_CARREIRA_HC]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@ID_ORIGEM   INT, -- 1 - FIM DIA (PEDIDO) / 2 - FIM CICLO (PESSOA)
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT


AS

DECLARE @V_CD_PAPEL_CICLO                       NUMERIC(18,0)

DECLARE @CURSOR_TOPOLOGIA    CURSOR

DECLARE @V_CD_PAPEL_CN                       NUMERIC(18,0), -- Amigo da Rede (CN)
        @v_CD_PAPEL_BRONZE                   NUMERIC(18,0), -- Cidadão Fiel  (BRONZE)
	@v_CD_PAPEL_PRATA                    NUMERIC(18,0), -- Trabalhador Perspicaz (PRATA) 
	@v_CD_PAPEL_OURO                     NUMERIC(18,0), -- Gerente de Sonhos (OURO)
	@v_CD_PAPEL_PLATINA                  NUMERIC(18,0), -- Empreendedor Visionário (PLATINA)
	@v_CD_PAPEL_DIAMANTE                 NUMERIC(18,0)  -- Investidor Cheio de Adrenalina (DIAMANTE)

DECLARE @V_VL_COMPRA_PESSOAL                 NUMERIC(18,2),
        @V_QT_PONTO_PESSOAL                  NUMERIC(18,0),
        @V_QT_ATIVO_REDE                     NUMERIC(18,0)


DECLARE @V_VL_COMPRA_PESSOAL_BRONZE          NUMERIC(18,2),
        @V_VL_COMPRA_PESSOAL_PRATA           NUMERIC(18,2),  
        @V_VL_COMPRA_PESSOAL_OURO            NUMERIC(18,2),
        @V_VL_COMPRA_PESSOAL_PLATINA         NUMERIC(18,2),         
        @V_VL_COMPRA_PESSOAL_DIAMANTE        NUMERIC(18,2)

DECLARE @V_QT_PONTO_PESSOAL_BRONZE          NUMERIC(18,0),
        @V_QT_PONTO_PESSOAL_PRATA           NUMERIC(18,0),  
        @V_QT_PONTO_PESSOAL_OURO            NUMERIC(18,0),
        @V_QT_PONTO_PESSOAL_PLATINA         NUMERIC(18,0),         
        @V_QT_PONTO_PESSOAL_DIAMANTE        NUMERIC(18,0)


DECLARE @V_QT_ATIVO_REDE_BRONZE             NUMERIC(18,0),
        @V_QT_ATIVO_REDE_PRATA              NUMERIC(18,0),  
        @V_QT_ATIVO_REDE_OURO               NUMERIC(18,0),
        @V_QT_ATIVO_REDE_PLATINA            NUMERIC(18,0),         
        @V_QT_ATIVO_REDE_DIAMANTE           NUMERIC(18,0)


DECLARE @V_QT_BRONZE_REDE_PRATA             NUMERIC(18,0),
        @V_QT_BRONZE_REDE_OURO              NUMERIC(18,0),
        @V_QT_BRONZE_REDE_PLATINA           NUMERIC(18,0),
        @V_QT_BRONZE_REDE_DIAMANTE          NUMERIC(18,0)

DECLARE @V_QT_PRATA_REDE_OURO               NUMERIC(18,0),
        @V_QT_PRATA_REDE_PLATINA            NUMERIC(18,0),
        @V_QT_PRATA_REDE_DIAMANTE           NUMERIC(18,0)

DECLARE @V_QT_OURO_REDE_PLATINA             NUMERIC(18,0),
        @V_QT_OURO_REDE_DIAMANTE            NUMERIC(18,0)

DECLARE @V_QT_PLATINA_REDE_DIAMANTE         NUMERIC(18,0)


DECLARE @V_QT_BRONZE_REDE                   NUMERIC(18,0),
        @V_QT_PRATA_REDE                    NUMERIC(18,0),
        @V_QT_OURO_REDE                     NUMERIC(18,0),
        @V_QT_PLATINA_REDE                  NUMERIC(18,0),
        @V_QT_DIAMANTE_REDE                 NUMERIC(18,0)

DECLARE @CALCULA_INDICADOR                  NUMERIC(18,0)

DECLARE @V_CD_PESSOA_IND                 NUMERIC(18,0),
        @V_CD_PAPEL_IND                  NUMERIC(18,0),
        @V_CD_NIVEL_IND                  INT,
        @V_CD_ORDEM_IND                  INT,
	    @V_CD_SITUACAO_COML_IND          INT
DECLARE @v_CD_PAPEL_ACU                  NUMERIC(18,0)



DECLARE @V_CD_EST_COMERCIAL              NUMERIC(18,0)

DECLARE @EXISTE_REGISTRO  INT



BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0

  SELECT @V_CD_PAPEL_CN                = 1,
         @v_CD_PAPEL_BRONZE            = 2,
	 @v_CD_PAPEL_PRATA             = 3,
	 @v_CD_PAPEL_OURO              = 4,
	 @v_CD_PAPEL_PLATINA           = 5,
	 @v_CD_PAPEL_DIAMANTE          = 6

  SELECT @V_VL_COMPRA_PESSOAL_BRONZE   = 150, 
         @V_VL_COMPRA_PESSOAL_PRATA    = 200, 
         @V_VL_COMPRA_PESSOAL_OURO     = 250, 
         @V_VL_COMPRA_PESSOAL_PLATINA  = 300,        
         @V_VL_COMPRA_PESSOAL_DIAMANTE = 350

  SELECT @V_QT_PONTO_PESSOAL_BRONZE    = 150, 
         @V_QT_PONTO_PESSOAL_PRATA     = 200,  
         @V_QT_PONTO_PESSOAL_OURO      = 250, 
         @V_QT_PONTO_PESSOAL_PLATINA   = 300,         
         @V_QT_PONTO_PESSOAL_DIAMANTE  = 350

  SELECT @V_QT_ATIVO_REDE_BRONZE       = 10, 
         @V_QT_ATIVO_REDE_PRATA        = 20,  
         @V_QT_ATIVO_REDE_OURO         = 30, 
         @V_QT_ATIVO_REDE_PLATINA      = 40,         
         @V_QT_ATIVO_REDE_DIAMANTE     = 50

  SELECT @V_QT_BRONZE_REDE_PRATA       = 10, 
         @V_QT_BRONZE_REDE_OURO        = 20, 
         @V_QT_BRONZE_REDE_PLATINA     = 20, 
         @V_QT_BRONZE_REDE_DIAMANTE    = 20

  SELECT @V_QT_PRATA_REDE_OURO         = 10, 
         @V_QT_PRATA_REDE_PLATINA      = 10, 
         @V_QT_PRATA_REDE_DIAMANTE     = 10

  SELECT @V_QT_OURO_REDE_PLATINA       = 10, 
         @V_QT_OURO_REDE_DIAMANTE      = 10

  SELECT @V_QT_PLATINA_REDE_DIAMANTE   = 10



    -- ABRE O CURSOR TOPOLOGIA
  IF (@ID_ORIGEM  = 1) -- FIM DIA (PEDIDO) 
  BEGIN
    SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
    FOR	
        SELECT   1                     AS ORDEM
                ,B.CD_PESSOA           AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,1                     AS NIVEL
                ,C.CD_SITUACAO_COMERCIAL AS SITUACAO_COMERCIAL
        FROM    TB_PESSOA_PAPEL_HISTORICO B, TB_HIST_SITUACAO_CONSULTORA C
        WHERE B.CD_PESSOA           = @CD_PESSOA
        AND   B.CD_FUNCAO           = @CD_FUNCAO
        AND   B.NM_CICLO            = @NM_CICLO
        AND   B.CD_PESSOA           = C.CD_PESSOA
        AND   B.NM_CICLO            = C.NM_CICLO
        UNION
        SELECT   2                     AS ORDEM
                ,A.CD_PESSOA_VINCULADA AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,A.NM_NIVEL            AS NIVEL
                ,C.CD_SITUACAO_COMERCIAL AS SITUACAO_COMERCIAL
        FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B   
            ,TB_HIST_SITUACAO_CONSULTORA C
        WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
        AND   A.CD_FUNCAO           = B.CD_FUNCAO
        AND   A.NM_CICLO            = B.NM_CICLO
        AND   A.CD_PESSOA           = @CD_PESSOA
        AND   A.CD_FUNCAO           = @CD_FUNCAO
        AND   A.NM_CICLO            = @NM_CICLO
        AND   A.ID_ORDEM            = 1 -- ASCENDENTE
        AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
        AND   B.CD_PESSOA           = C.CD_PESSOA
        AND   B.NM_CICLO            = C.NM_CICLO
        ORDER BY 1,4
  END

  IF (@ID_ORIGEM  = 2) -- FIM CICLO (PESSOA) 
  BEGIN
    SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
    FOR	
        SELECT   1                     AS ORDEM
                ,B.CD_PESSOA           AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,1                     AS NIVEL
                ,C.CD_SITUACAO_COMERCIAL AS SITUACAO_COMERCIAL
        FROM    TB_PESSOA_PAPEL_HISTORICO B, TB_HIST_SITUACAO_CONSULTORA C
        WHERE B.CD_PESSOA            = @CD_PESSOA
        AND   B.CD_FUNCAO            = @CD_FUNCAO
        AND   B.NM_CICLO             = @NM_CICLO
        AND   B.CD_PESSOA            = C.CD_PESSOA
        AND   B.NM_CICLO             = C.NM_CICLO 
        AND   B.CD_PAPEL_DESEMPENHO  = B.CD_PAPEL_CARREIRA

  END
  
  OPEN @CURSOR_TOPOLOGIA
  FETCH NEXT FROM @CURSOR_TOPOLOGIA
  INTO @V_CD_ORDEM_IND,@V_CD_PESSOA_IND, @V_CD_PAPEL_IND, @V_CD_NIVEL_IND,@V_CD_SITUACAO_COML_IND


  WHILE @@FETCH_STATUS = 0
  BEGIN  
        
    SELECT @V_CD_PAPEL_ACU          =  @V_CD_PAPEL_CN -- INICIALIZA O PAPEL CALCULADO

    -- BUSCA A ESTRUTURA COMERCIAL
    SELECT @V_CD_EST_COMERCIAL = CD_EST_COMERCIAL
    FROM TB_PESSOA_RESUMO 
    WHERE CD_PESSOA = @V_CD_PESSOA_IND
    AND   CD_FUNCAO = @CD_FUNCAO


    -- BUSCA O INDICADOR (18) TOTAL DE COMPRAS PESSOAIS
    SELECT @V_VL_COMPRA_PESSOAL = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)   
    FROM TB_PESSOA_INDICADOR A
    WHERE A.CD_PESSOA            = @V_CD_PESSOA_IND
    AND   A.CD_FUNCAO            = @CD_FUNCAO
    AND   A.CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL 
    AND   A.CD_INDICADOR_PESSOAL = 18
    AND   A.NM_CICLO             = @NM_CICLO

    -- BUSCA O INDICADOR (19) TOTAL DE PONTOS PESSOAIS
    SELECT @V_QT_PONTO_PESSOAL = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)   
    FROM TB_PESSOA_INDICADOR A
    WHERE A.CD_PESSOA            = @V_CD_PESSOA_IND
    AND   A.CD_FUNCAO            = @CD_FUNCAO
    AND   A.CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL 
    AND   A.CD_INDICADOR_PESSOAL = 19
    AND   A.NM_CICLO             = @NM_CICLO

    -- BUSCA O INDICADOR (21) TOTAL DE ATIVOS - DIRETOS
    SELECT @V_QT_ATIVO_REDE = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)   
    FROM TB_PESSOA_INDICADOR A
    WHERE A.CD_PESSOA            = @V_CD_PESSOA_IND
    AND   A.CD_FUNCAO            = @CD_FUNCAO
    AND   A.CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL 
    AND   A.CD_INDICADOR_PESSOAL = 21
    AND   A.NM_CICLO             = @NM_CICLO




    -- BUSCA A QDE DE BRONZE (Total Cidadão Fiel) DIRETOS
    SELECT @V_QT_BRONZE_REDE = dbo.FN_MN_CALCULA_PAPEIS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1, 2)


    -- CRIAR OU ATUALIZAR O INDICADOR (22) Total Cidadão Fiel - Diretos
    -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
    SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(22,2) -- FIM DIA
    IF @CALCULA_INDICADOR = 1
    BEGIN		
				
      -- VERIFICA SE EXISTE O REGISTRO
      SELECT @EXISTE_REGISTRO = COUNT(*)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @V_CD_PESSOA_IND
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 22
      AND NM_CICLO              = @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
            
      IF (@EXISTE_REGISTRO = 0) 
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
	 					22,
						@V_QT_BRONZE_REDE,
						0,
						'I',
						0,
						'',
						0
      END
      ELSE
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@V_QT_BRONZE_REDE,
						0,
						'A',
						0,
						'',
						0  
      END
								    
    END


    -- BUSCA A QDE DE PRATA (Trabalhador Perspicaz) DIRETOS
    SELECT @V_QT_PRATA_REDE = dbo.FN_MN_CALCULA_PAPEIS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1, 3)

    -- CRIAR OU ATUALIZAR O INDICADOR (23) Total Trabalhador Perspicaz - Diretos
    -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
    SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(23,2) -- FIM DIA
    IF @CALCULA_INDICADOR = 1
    BEGIN		
				
      -- VERIFICA SE EXISTE O REGISTRO
      SELECT @EXISTE_REGISTRO = COUNT(*)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @V_CD_PESSOA_IND
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 23 
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
      IF (@EXISTE_REGISTRO = 0) 
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
	 					23,
						@V_QT_PRATA_REDE,
						0,
						'I',
						0,
						'',
						0
      END
      ELSE
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
						23,
						@V_QT_PRATA_REDE,
						0,
						'A',
						0,
						'',
						0  
      END
								    
    END



    -- BUSCA A QDE DE OURO (Gerente de Sonhos) DIRETOS
    SELECT @V_QT_OURO_REDE = dbo.FN_MN_CALCULA_PAPEIS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1, 4)


    -- CRIAR OU ATUALIZAR O INDICADOR (24) Total Gerente de Sonhos - Diretos
    -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
    SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(24,2) -- FIM DIA
    IF @CALCULA_INDICADOR = 1
    BEGIN		
				
      -- VERIFICA SE EXISTE O REGISTRO
      SELECT @EXISTE_REGISTRO = COUNT(*)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @V_CD_PESSOA_IND
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 24
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
      IF (@EXISTE_REGISTRO = 0) 
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
	 					24,
						@V_QT_OURO_REDE,
						0,
						'I',
						0,
						'',
						0
      END
      ELSE
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
						24,
						@V_QT_OURO_REDE,
						0,
						'A',
						0,
						'',
						0  
      END
								    
    END


    -- BUSCA A QDE DE PLATINA (Empreendedor Visionário) DIRETOS
    SELECT @V_QT_PLATINA_REDE = dbo.FN_MN_CALCULA_PAPEIS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1, 5)


    -- CRIAR OU ATUALIZAR O INDICADOR (25) Total Empreendedor Visionário - Diretos
    -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
    SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(25,2) -- FIM DIA
    IF @CALCULA_INDICADOR = 1
    BEGIN		
				
      -- VERIFICA SE EXISTE O REGISTRO
      SELECT @EXISTE_REGISTRO = COUNT(*)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @V_CD_PESSOA_IND
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 25
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
      IF (@EXISTE_REGISTRO = 0) 
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
	 					25,
						@V_QT_PLATINA_REDE,
						0,
						'I',
						0,
						'',
						0
      END
      ELSE
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
						25,
						@V_QT_PLATINA_REDE,
						0,
						'A',
						0,
						'',
						0  
      END
    END


    -- BUSCA A QDE DE DIAMANTE (Investidor Cheio de Adrenalina) DIRETOS
    SELECT @V_QT_DIAMANTE_REDE = dbo.FN_MN_CALCULA_PAPEIS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1, 6)

    -- CRIAR OU ATUALIZAR O INDICADOR (26) Total Investidor Cheio de Adrenalina - Diretos
    -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
    SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(26,2) -- FIM DIA
    IF @CALCULA_INDICADOR = 1
    BEGIN		
				
      -- VERIFICA SE EXISTE O REGISTRO
      SELECT @EXISTE_REGISTRO = COUNT(*)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @V_CD_PESSOA_IND
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 26
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL
      IF (@EXISTE_REGISTRO = 0) 
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
	 					26,
						@V_QT_DIAMANTE_REDE,
						0,
						'I',
						0,
						'',
						0
      END
      ELSE
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
						@CD_FUNCAO,
						@V_CD_EST_COMERCIAL,
						@NM_CICLO,
						26,
						@V_QT_DIAMANTE_REDE,
						0,
						'A',
						0,
						'',
						0  
      END
    END




    IF    (@ID_ORIGEM  = 1 AND @V_CD_PAPEL_IND  < @v_CD_PAPEL_BRONZE)  -- VERIFICAR SE PAPEL ATUAL MENOR QUE Cidadão Fiel, PARA FIM DIA (PEDIDO)
       OR (@ID_ORIGEM  = 2 AND @V_CD_PAPEL_IND >= @v_CD_PAPEL_BRONZE ) -- VERIFICAR SE PAPEL ATUAL MAIOR OU IGUAL Cidadão Fiel, PARA FIM CICLO (PESSOA)
    BEGIN

      -- VERIRICAR A REGRA DO PAPEL BRONZE
      IF (@V_VL_COMPRA_PESSOAL >= @V_VL_COMPRA_PESSOAL_BRONZE AND
          @V_QT_PONTO_PESSOAL  >= @V_QT_PONTO_PESSOAL_BRONZE  AND
          @V_QT_ATIVO_REDE     >= @V_QT_ATIVO_REDE_BRONZE )
      BEGIN
        SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_BRONZE
      END
    END -- FIM BRONZE

    -- 
    IF    (@ID_ORIGEM  = 1 AND @V_CD_PAPEL_IND  < @v_CD_PAPEL_PRATA)  -- VERIFICAR SE PAPEL ATUAL MENOR QUE Trabalhador Perspicaz, PARA FIM DIA (PEDIDO)
       OR (@ID_ORIGEM  = 2 AND @V_CD_PAPEL_IND >= @v_CD_PAPEL_PRATA ) -- VERIFICAR SE PAPEL ATUAL MAIOR OU IGUAL Trabalhador Perspicaz, PARA FIM CICLO (PESSOA) 

    BEGIN


      -- VERIRICAR A REGRA DO PAPEL PRATA
      IF ( @V_VL_COMPRA_PESSOAL >= @V_VL_COMPRA_PESSOAL_PRATA AND
           @V_QT_PONTO_PESSOAL  >= @V_QT_PONTO_PESSOAL_PRATA  AND
           @V_QT_ATIVO_REDE     >= @V_QT_ATIVO_REDE_PRATA     AND 
          (@V_QT_BRONZE_REDE+@V_QT_PRATA_REDE+@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE) >= @V_QT_BRONZE_REDE_PRATA)
      BEGIN
        SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_PRATA
      END
 
    END -- FIM PRATA
    

    -- 
    IF    (@ID_ORIGEM  = 1 AND @V_CD_PAPEL_IND  < @v_CD_PAPEL_OURO)  -- VERIFICAR SE PAPEL ATUAL MENOR QUE Gerente de Sonhos, PARA FIM DIA (PEDIDO)
       OR (@ID_ORIGEM  = 2 AND @V_CD_PAPEL_IND >= @v_CD_PAPEL_OURO ) -- VERIFICAR SE PAPEL ATUAL MAIOR OU IGUAL Gerente de Sonhos, PARA FIM CICLO (PESSOA)

    BEGIN


      -- VERIRICAR A REGRA DO PAPEL PRATA
      IF ( @V_VL_COMPRA_PESSOAL >= @V_VL_COMPRA_PESSOAL_OURO AND
           @V_QT_PONTO_PESSOAL  >= @V_QT_PONTO_PESSOAL_OURO  AND
           @V_QT_ATIVO_REDE     >= @V_QT_ATIVO_REDE_OURO     AND 
          (@V_QT_BRONZE_REDE+@V_QT_PRATA_REDE+@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)    >= @V_QT_BRONZE_REDE_OURO    AND
          (@V_QT_PRATA_REDE+@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)    >= @V_QT_PRATA_REDE_OURO )
      BEGIN
        SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_OURO
      END
 
    END -- FIM OURO


    -- 
    IF    (@ID_ORIGEM  = 1 AND @V_CD_PAPEL_IND  < @v_CD_PAPEL_PLATINA)  -- VERIFICAR SE PAPEL ATUAL MENOR QUE Empreendedor Visionário, PARA FIM DIA (PEDIDO)
       OR (@ID_ORIGEM  = 2 AND @V_CD_PAPEL_IND >= @v_CD_PAPEL_PLATINA) -- VERIFICAR SE PAPEL ATUAL MAIOR OU IGUAL Empreendedor Visionário, PARA FIM CICLO (PESSOA)
    BEGIN

      -- VERIRICAR A REGRA DO PAPEL PRATA
      IF (@V_VL_COMPRA_PESSOAL >= @V_VL_COMPRA_PESSOAL_PLATINA AND
          @V_QT_PONTO_PESSOAL  >= @V_QT_PONTO_PESSOAL_PLATINA  AND
          @V_QT_ATIVO_REDE     >= @V_QT_ATIVO_REDE_PLATINA     AND 
          (@V_QT_BRONZE_REDE+@V_QT_PRATA_REDE+@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)    >= @V_QT_BRONZE_REDE_PLATINA    AND
          (@V_QT_PRATA_REDE+@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)     >= @V_QT_PRATA_REDE_PLATINA     AND
          (@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)      >= @V_QT_OURO_REDE_PLATINA )
      BEGIN
        SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_PLATINA
      END
 
    END -- FIM PLATINA


    -- 
    IF    (@ID_ORIGEM  = 1 AND @V_CD_PAPEL_IND  < @v_CD_PAPEL_DIAMANTE)  -- VERIFICAR SE PAPEL ATUAL MENOR QUE Investidor Cheio de Adrenalina, PARA FIM DIA (PEDIDO)
       OR (@ID_ORIGEM  = 2 AND @V_CD_PAPEL_IND >= @v_CD_PAPEL_DIAMANTE) -- VERIFICAR SE PAPEL ATUAL MAIOR OU IGUAL Investidor Cheio de Adrenalina, PARA FIM CICLO (PESSOA)

    BEGIN


      -- VERIRICAR A REGRA DO PAPEL PRATA
      IF (@V_VL_COMPRA_PESSOAL >= @V_VL_COMPRA_PESSOAL_DIAMANTE AND
          @V_QT_PONTO_PESSOAL  >= @V_QT_PONTO_PESSOAL_DIAMANTE  AND
          @V_QT_ATIVO_REDE     >= @V_QT_ATIVO_REDE_DIAMANTE     AND 
          (@V_QT_BRONZE_REDE+@V_QT_PRATA_REDE+@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)    >= @V_QT_BRONZE_REDE_DIAMANTE    AND
          (@V_QT_PRATA_REDE+@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)     >= @V_QT_PRATA_REDE_DIAMANTE     AND
          (@V_QT_OURO_REDE+@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)      >= @V_QT_OURO_REDE_DIAMANTE      AND
          (@V_QT_PLATINA_REDE+@V_QT_DIAMANTE_REDE)   >= @V_QT_PLATINA_REDE_DIAMANTE )
      BEGIN
        SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_DIAMANTE
      END
 
    END -- FIM DIAMANTE



    
    IF    (@ID_ORIGEM  = 1 AND @v_CD_PAPEL_ACU  > @V_CD_PAPEL_IND) -- VERIFICA SE O PAPEL CALCULADO É MAIOR QUE PAPEL ATUAL DA PESSOA, PARA FIM DIA (PEDIDO)
       OR (@ID_ORIGEM  = 2 AND @v_CD_PAPEL_ACU  < @V_CD_PAPEL_IND)  -- VERIFICA SE O PAPEL CALCULADO É MENOR QUE PAPEL ATUAL DA PESSOA, PARA FIM CICLO (PESSOA)
 
   BEGIN
      UPDATE TB_PESSOA_RESUMO
      SET  CD_PAPEL_DESEMPENHO = @V_CD_PAPEL_ACU
          ,DT_ATUALIZACAO      = GETDATE()
	  ,CD_USUARIO_ATUALIZACAO = 0
      WHERE CD_PESSOA = @V_CD_PESSOA_IND
      AND   CD_FUNCAO = @CD_FUNCAO
    
      UPDATE TB_PESSOA_PAPEL_HISTORICO 
      SET  CD_PAPEL_DESEMPENHO  = @v_CD_PAPEL_ACU
      WHERE CD_PESSOA = @V_CD_PESSOA_IND AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO

      EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
			@V_CD_PESSOA_IND,
			@CD_FUNCAO,
			@NM_CICLO,
			@v_CD_PAPEL_ACU,
			@VAR_RETORNO,
			@DC_ERRO,
			@QT_LINHAS_AFETADAS
      
    END

    FETCH NEXT FROM @CURSOR_TOPOLOGIA
    INTO @V_CD_ORDEM_IND,@V_CD_PESSOA_IND, @V_CD_PAPEL_IND, @V_CD_NIVEL_IND, @V_CD_SITUACAO_COML_IND

  END
  CLOSE       @CURSOR_TOPOLOGIA
  DEALLOCATE  @CURSOR_TOPOLOGIA

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0

	
  SELECT @VAR_RETORNO = 0
		
		
END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;




GO
