SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_AtendimentoGerarCreditoValorInformado]
	@p_codigoAtendimento		NUMERIC(18,0),
	@p_codigoUsuario			NUMERIC(18,0), 
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

DECLARE @v_codigoPedido			NUMERIC(18,0)
DECLARE @v_codigoPessoa			NUMERIC(18,0)
DECLARE @v_codigoFuncao			INT

DECLARE @v_valorProduto			NUMERIC(18,2)
DECLARE @v_qtdeDividaAberta		INT
DECLARE @v_codigoDivida			NUMERIC(18,0)
DECLARE @v_valorDescontar		NUMERIC(18,2)
DECLARE @v_qtdeParcelaAberta	INT
DECLARE @v_qtdeParcelaBoleto	INT

DECLARE @v_codigoProduto		NUMERIC(18,0)
DECLARE @v_codigoMaterial		NUMERIC(18,0)
DECLARE @v_qtdProduto			NUMERIC(18,0)

DECLARE @Cursor_Itens			CURSOR

DECLARE @v_codigoGerado			NUMERIC(18,0)
DECLARE @v_codigoOrdem			NUMERIC(18,0)

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    
	    
	    -- *******************************************************
	    -- BUSCA INFORMAÇÃO DE NUMERO DO PEDIDO E DE PESSOA
	    -- *******************************************************
	    SELECT	@v_codigoPessoa = AT.CD_PESSOA,
				@v_codigoPedido = AT.NM_PEDIDO,
				@v_codigoFuncao = AT.CD_FUNCAO
	    FROM TB_SAC_ATENDIMENTO AT
	    WHERE AT.CD_SAC_ATENDIMENTO = @p_codigoAtendimento
	 

		SELECT @v_valorDescontar = REPLACE(DC_RESPOSTA, ',', '.')
		FROM TB_SAC_ATENDIMENTO_RESPOSTA
		WHERE ID_TIPO_RESPOSTA IN (1)
		AND CD_SAC_PERGUNTA = 21
		AND CD_SAC_ATENDIMENTO = @p_codigoAtendimento
	        
   		
		EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
			@v_codigoPessoa,
			@v_codigoFuncao,
			2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
			1, -- TIPO_MOVIMENTO = CREDITO
			5, -- ORIGEM_MOVIMENTO = ATENDIMENTO SAC
			@p_codigoAtendimento,
			20, -- ELEMENTO FINANCEIRO = CRIAÇÃO DE SALDO A FAVOR
			@v_valorDescontar,
			@p_codigoUsuario,
			@p_codigoErro		OUTPUT,
			@p_descricaoErro	OUTPUT,
			@p_linhasAfetadas	OUTPUT	


							
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;






GO
