SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_MN_CONFIGURACAO_REMUNERACAO]
	@CD_CODIGO					NUMERIC(18,0),
	@ID_TIPO_PREMIACAO			INT,
	@CD_PAPEL_DESEMPENHO		numeric(18, 0),
	@NM_NIVEL					numeric(18, 0),
	@ID_UNIDADE					INT,
	@VL_VALOR					NUMERIC(18,4),
	@CD_MN_REGRA_PREMIACAO		NUMERIC(18,0),
	@CD_PAPEL_DESEMPENHO_FILHO	numeric(18, 0),
		
	@VAR_TIPO_FUNCAO			VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_MN_PARAMETROS_REMUNERACAO (
					ID_TIPO_PREMIACAO_MN,
					CD_PAPEL_DESEMPENHO,
					CD_PAPEL_DESEMPENHO_FILHO,
					ID_UNIDADE_PREMIACAO_MN,
					VL_VALOR,
					NM_NIVEL,
					CD_MN_REGRA_PREMIACAO)
					
				VALUES           (
					@ID_TIPO_PREMIACAO,
					@CD_PAPEL_DESEMPENHO,
					@CD_PAPEL_DESEMPENHO_FILHO,
					@ID_UNIDADE,
					@VL_VALOR,
					@NM_NIVEL,
					@CD_MN_REGRA_PREMIACAO)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
	
				BEGIN TRANSACTION 
	
				DELETE FROM TB_MN_PARAMETROS_REMUNERACAO 
					WHERE CD_MN_PARAMETROS_REMUNERACAO = @CD_CODIGO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	


		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
