SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_5A]
	@NM_PEDIDO NUMERIC(18,0),
	
	/***************************************************
	ID_ORIGEM = 1 PEDIDO APROVADO
	ID_ORIGEM = 2 PEDIDO PAGO
	ID_ORIGEM = 3 CANCELAMENTO DE PEDIDO APROVADO
	ID_ORIGEM = 4 CANCELAMENTO DE PEDIDO PAGO
	****************************************************/
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @V_CALCULA_REMUNERACAO NUMERIC(18,0)
DECLARE @CURSOR_TOPOLOGIA    CURSOR

DECLARE	@V_NM_CICLO_PAGTO_PEDIDO		NUMERIC(18,0),
        @V_CD_PESSOA_PEDIDO			NUMERIC(18,0),
	@V_CD_FUNCAO_PESSOA_PEDIDO		NUMERIC(18,0),
        @V_VL_PEDIDO				NUMERIC(18,4),
        @V_CD_PRODUTO_PEDIDO                    NUMERIC(18,0),
        @V_CD_EST_COMERCIAL                     NUMERIC(18,0)

DECLARE @V_VL_REMUNERACAO                       NUMERIC(18,4),
        @V_VL_REMUNERACAO_TOT_KIT               NUMERIC(18,4),
        @V_VL_REMUNERACAO_1_NIVEL               NUMERIC(18,4),
        @V_VL_REMUNERACAO_DEMAIS_NIVEL          NUMERIC(18,4),
        @V_QD_NIVEIS                            NUMERIC(18,0)


DECLARE @V_CD_PESSOA_ASCENDENTE                 NUMERIC(18,0),
        @V_CD_PAPEL_ASCENDENTE                  NUMERIC(18,0),
        @V_CD_NIVEL_ASCENDENTE                  INT

DECLARE @EXISTE_REM				INT,
        @FORMA                                  INT
DECLARE @V_CD_MN_REMUNERACAO			NUMERIC(18,0)
DECLARE @EXISTE_REGISTRO                        NUMERIC(18,0),
        @V_VL_INDICADOR_ASCEDENTE               NUMERIC(18,0)        





	
BEGIN TRY

  SELECT @QT_LINHAS_AFETADAS = 0
 	
  /**************************************************************
   ** VERIFICA SE CALCULA A REMUNERAÇÃO
   **************************************************************/
  SELECT @V_CALCULA_REMUNERACAO = dbo.FN_VERIFICA_CALCULA_REMUNERACAO_MN(@NM_PEDIDO)
	
  /**************************************************************
   ** SÓ GRAVA REMUNERAÇÃO SE O RETORNO DA FUNÇÃO FOR IGUAL A 1
   **************************************************************/
  IF @V_CALCULA_REMUNERACAO = 1
  BEGIN
			
    -- BUSCA INFORMAÇÕES DO PEDIDO (CICLO E PESSOA)
    SELECT  @V_NM_CICLO_PAGTO_PEDIDO   = A.NM_CICLO_PAGAMENTO,
    	    @V_CD_PESSOA_PEDIDO        = A.CD_PESSOA,
	    @V_CD_FUNCAO_PESSOA_PEDIDO = A.CD_FUNCAO,
            @V_CD_PRODUTO_PEDIDO       = B.CD_PRODUTO_VENDA,
            @V_CD_EST_COMERCIAL        = A.CD_EST_COMERCIAL,
	    @V_VL_PEDIDO               = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
    FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
    WHERE A.NM_PEDIDO   = @NM_PEDIDO
    AND   A.NM_PEDIDO   = B.NM_PEDIDO
    AND   B.NM_PEDIDO_ITEM_CONJUNTO = 0
    AND   B.CD_PRODUTO_VENDA IN (101, 102, 201, 202, 300, 199, 298, 299)
    GROUP BY A.NM_CICLO_PAGAMENTO,
    	     A.CD_PESSOA,
	     A.CD_FUNCAO,
    	     B.CD_PRODUTO_VENDA,
             A.CD_EST_COMERCIAL
-- 199 upgrade 1 (revendedor   p/ empreendedor)
-- 298 upgrade 2 (revendedor   p/ elite)
-- 299 upgrade 3 (empreendedor p/ elite)
  
    IF (@V_VL_PEDIDO > 0)  -- SOMENTE CALCULA SE O PEDIDO GERAR REMUNERAÇÃO
    BEGIN

      --*****1 -> DEFINE O NÍVEL, REMUNERACAO TOT KIT E ATUALIZA O INDICADOR (CODIGO DO KIT) DE QUEM COMPRA
      --*****2 -> NO CURSOR DEVE VERIFICAR O KIT DE QUEM GANHA O BÔNUS
      
      -- ATUALIZAR O INDICADOR DO KIT INICIO ADQUIRIDO (17 - KIT INICIO)
      -- VERIFICA SE EXISTE O REGISTRO
      SELECT @EXISTE_REGISTRO = COUNT(*)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @V_CD_PESSOA_PEDIDO
      AND CD_FUNCAO            = @V_CD_FUNCAO_PESSOA_PEDIDO
      AND CD_INDICADOR_PESSOAL = 17
      AND NM_CICLO             = @V_NM_CICLO_PAGTO_PEDIDO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL 
      IF (@EXISTE_REGISTRO = 0) 
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_PEDIDO,
					@V_CD_FUNCAO_PESSOA_PEDIDO,
					@V_CD_EST_COMERCIAL,
					@V_NM_CICLO_PAGTO_PEDIDO,
 					17,
					@V_CD_PRODUTO_PEDIDO,
					0,   -- ATS
					'I',
					0,
					'',
					0
      END
      ELSE
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_PEDIDO,
					@V_CD_FUNCAO_PESSOA_PEDIDO,
					@V_CD_EST_COMERCIAL,
					@V_NM_CICLO_PAGTO_PEDIDO,
					17,
					@V_CD_PRODUTO_PEDIDO,
					0,   -- ATS
					'A',
					0,
					'',
					0  
      END


      -- IDENTIFICAR O KIT PARA INICIALIZAR AS VARIAVEIS DE CONTROLE
      IF (@V_CD_PRODUTO_PEDIDO IN (101,102)  ) -- KIT REVENDEDOR
      BEGIN
        SELECT --@V_VL_REMUNERACAO_1_NIVEL      = 7.00,
               --@V_VL_REMUNERACAO_DEMAIS_NIVEL = 7.00,
               @V_QD_NIVEIS                   = 8,
               @V_VL_REMUNERACAO_TOT_KIT      = 56
      END  

      -- IDENTIFICAR O KIT PARA INICIALIZAR AS VARIAVEIS DE CONTROLE
      IF (@V_CD_PRODUTO_PEDIDO = 199  ) -- KIT UPGRADE REVENDEDOR P/ EMPREENDEDOR
      BEGIN
        SELECT --@V_VL_REMUNERACAO_1_NIVEL      = 43.00,
               --@V_VL_REMUNERACAO_DEMAIS_NIVEL = 3.00,
               @V_QD_NIVEIS                   = 8,
               @V_VL_REMUNERACAO_TOT_KIT      = 64
      END  

      -- IDENTIFICAR O KIT PARA INICIALIZAR AS VARIAVEIS DE CONTROLE
      IF (@V_CD_PRODUTO_PEDIDO = 298  ) -- KIT UPGRADE REVENDEDOR P/ ELITE
      BEGIN
        SELECT --@V_VL_REMUNERACAO_1_NIVEL      = 93.00,
               --@V_VL_REMUNERACAO_DEMAIS_NIVEL = 8.00,
               @V_QD_NIVEIS                   = 8,
               @V_VL_REMUNERACAO_TOT_KIT      = 149
      END  

      IF (@V_CD_PRODUTO_PEDIDO IN (201, 202) ) -- KIT EMPREENDEDOR
      BEGIN
        SELECT --@V_VL_REMUNERACAO_1_NIVEL      = 50.00,
               --@V_VL_REMUNERACAO_DEMAIS_NIVEL = 10.00,
               @V_QD_NIVEIS                   = 8,
               @V_VL_REMUNERACAO_TOT_KIT      = 120
      END  


      -- IDENTIFICAR O KIT PARA INICIALIZAR AS VARIAVEIS DE CONTROLE
      IF (@V_CD_PRODUTO_PEDIDO = 299  ) -- KIT UPGRADE EMPREENDEDOR P/ ELITE
      BEGIN
        SELECT --@V_VL_REMUNERACAO_1_NIVEL      = 50.00,
               --@V_VL_REMUNERACAO_DEMAIS_NIVEL = 5.00,
               @V_QD_NIVEIS                   = 8,
               @V_VL_REMUNERACAO_TOT_KIT      = 85
      END  


      IF (@V_CD_PRODUTO_PEDIDO = 300) -- KIT EMPREENDEDOR ELITE
      BEGIN
        SELECT --@V_VL_REMUNERACAO_1_NIVEL      = 100.00,
               --@V_VL_REMUNERACAO_DEMAIS_NIVEL = 15.00,
               @V_QD_NIVEIS                   = 8,
               @V_VL_REMUNERACAO_TOT_KIT      = 205
      END         

      -- ABRE O CURSOR TOPOLOGIA
      SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
      FOR					
      SELECT   A.CD_PESSOA_VINCULADA
              ,B.CD_PAPEL_DESEMPENHO
              ,A.NM_NIVEL
      FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
      WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
      AND   A.CD_FUNCAO           = B.CD_FUNCAO
      AND   A.NM_CICLO            = B.NM_CICLO
      AND   A.CD_PESSOA           = @V_CD_PESSOA_PEDIDO
      AND   A.CD_FUNCAO           = @V_CD_FUNCAO_PESSOA_PEDIDO
      AND   A.NM_CICLO            = @V_NM_CICLO_PAGTO_PEDIDO
      AND   A.ID_ORDEM            = 1 -- ASCENDENTE
      AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
      AND   A.NM_NIVEL           <= @V_QD_NIVEIS
      ORDER BY NM_NIVEL
          
      OPEN @CURSOR_TOPOLOGIA
      FETCH NEXT FROM @CURSOR_TOPOLOGIA
      INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE, @V_CD_NIVEL_ASCENDENTE
	
      WHILE @@FETCH_STATUS = 0
      BEGIN 
        -- INICIALIZAR A VARIAVEL DE BONUS
        SELECT @V_VL_REMUNERACAO = 0

        -- BUSCA O MAIOR KIT ADQUIRIDO PELA PESSOA ASCEDENTE
        SELECT @V_VL_INDICADOR_ASCEDENTE = isnull(SUM(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
        WHERE CD_PESSOA          = @V_CD_PESSOA_ASCENDENTE
        AND CD_FUNCAO            = @V_CD_FUNCAO_PESSOA_PEDIDO
        AND CD_INDICADOR_PESSOAL = 17
        AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL 

        -- VERIFICA SE A PESSOA ASCENDENTE COMPROU ALGUM KIT
        IF (@V_VL_INDICADOR_ASCEDENTE > 0 OR @V_CD_PESSOA_ASCENDENTE = 14)
        BEGIN
          -- VERIFICA A REGRA DO ASCEDENTE
          IF (@V_VL_INDICADOR_ASCEDENTE IN (101,102)  ) -- ASCENDENTE KIT REVENDEDOR 
          BEGIN
            SELECT @V_VL_REMUNERACAO_1_NIVEL      = 7.00,
                   @V_VL_REMUNERACAO_DEMAIS_NIVEL = 7.00                     
 
          END
          IF (@V_VL_INDICADOR_ASCEDENTE IN (199, 201, 202)) -- ASCENDENTE KIT EMPREENDEDOR 
          BEGIN
            IF (@V_CD_PRODUTO_PEDIDO IN (101, 102)) --PESSOA KIT REVENEDOR
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 7.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 7.00                     

            END  
            IF (@V_CD_PRODUTO_PEDIDO IN (201, 202)) --PESSOA KIT EMPREENDEDOR
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 50.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 10.00                     

            END  
           IF (@V_CD_PRODUTO_PEDIDO = 199) --PESSOA KIT UPGRADE REVEND P/ EMPREENDEDOR
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 43.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 3.00                     

            END  

            IF (@V_CD_PRODUTO_PEDIDO = 300) --PESSOA KIT ELITE
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 50.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 10.00                     

            END  
            IF (@V_CD_PRODUTO_PEDIDO = 298) --PESSOA --KIT UPGRADE REVEND P/ ELITE
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 50.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 10.00                     

            END  

             IF (@V_CD_PRODUTO_PEDIDO = 299) --PESSOA KIT UPGRADE EMPREENDEDOR P/ ELITE
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 50.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 5.00                     

            END  

          END
         IF (@V_VL_INDICADOR_ASCEDENTE IN (299, 300)) -- ASCENDENTE KIT ELITE 
          BEGIN
            IF (@V_CD_PRODUTO_PEDIDO IN (101, 102)) --PESSOA KIT REVENEDOR
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 7.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 7.00                     

            END  
            IF (@V_CD_PRODUTO_PEDIDO IN (201, 202)) --PESSOA KIT EMPREENDEDOR
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 50.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 10.00                     

            END  
            IF (@V_CD_PRODUTO_PEDIDO = 199) --PESSOA KIT UPGRADE REVEND P/ EMPREENDEDOR
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 43.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 3.00                     

            END  
            IF (@V_CD_PRODUTO_PEDIDO = 300) --PESSOA KIT ELITE
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 100.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 15.00                     

            END  
            IF (@V_CD_PRODUTO_PEDIDO = 298) --PESSOA --KIT UPGRADE REVEND P/ ELITE
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 93.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 8.00                     

            END  
            IF (@V_CD_PRODUTO_PEDIDO = 299) --PESSOA KIT UPGRADE EMPREENDEDOR P/ ELITE
            BEGIN
              SELECT @V_VL_REMUNERACAO_1_NIVEL      = 50.00,
                     @V_VL_REMUNERACAO_DEMAIS_NIVEL = 5.00                     

            END  

          END



          -- VERIFICA SE É TOPO DA REDE
          IF (@V_CD_PESSOA_ASCENDENTE = 14) --??? VER USUARIO
          BEGIN
            SELECT @V_VL_REMUNERACAO = @V_VL_REMUNERACAO_TOT_KIT
          END        
          ELSE
          BEGIN 

            -- IDENTIFICA O NIVEL 
            IF (@V_CD_NIVEL_ASCENDENTE = 1)
              SELECT @V_VL_REMUNERACAO = @V_VL_REMUNERACAO_1_NIVEL
            ELSE
              SELECT @V_VL_REMUNERACAO = @V_VL_REMUNERACAO_DEMAIS_NIVEL
          
            SELECT @V_VL_REMUNERACAO_TOT_KIT = (@V_VL_REMUNERACAO_TOT_KIT - @V_VL_REMUNERACAO)
          END
        
          IF (@V_VL_REMUNERACAO > 0)
          BEGIN
            -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
         --   IF @V_CD_PAPEL_ASCENDENTE < 9  -- PAPEL DIAMANTE                  
         --     select @FORMA = 1
         --   ELSE
              select @FORMA = 2

            -- INSERIR A REMUNERAÇÃO
            SELECT @EXISTE_REM = COUNT(*)
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
            AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
            AND NM_CICLO                = @V_NM_CICLO_PAGTO_PEDIDO
            AND ID_SITUACAO_REMUNERACAO = 1        
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
            IF @EXISTE_REM = 0
            BEGIN
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 
                                             ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO, dt_atualizacao, cd_usuario_atualizacao)
              VALUES (@V_CD_PESSOA_ASCENDENTE,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PAGTO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',
                      @FORMA, 1,  GETDATE(), 0,GETDATE(), 0) 
              SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
            END
            ELSE
            BEGIN
              UPDATE TB_MN_REMUNERACAO SET
                     VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                     VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PAGTO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
   
              SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PAGTO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
   
            END

            -- INSERE NO DETALHE
            INSERT INTO TB_MN_DETALHE_REMUNERACAO 
                 (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                  ID_ORIGEM_PREMIACAO_MN,
                  NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,
                  VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
            VALUES (@V_CD_PESSOA_ASCENDENTE, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PAGTO_PEDIDO,1, -- RECEITA
                 3, -- kit inicio
                 2, -- ORIGEM cadastro,
                 @V_CD_PESSOA_PEDIDO,   @V_VL_PEDIDO, 0 ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO, @V_CD_PAPEL_ASCENDENTE)
          END --@V_VL_REMUNERACAO > 0


        END --@V_VL_INDICADOR_ASCEDENTE > 0

        FETCH NEXT FROM @CURSOR_TOPOLOGIA
        INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE, @V_CD_NIVEL_ASCENDENTE
      END  -- FIM WHILE

      CLOSE       @CURSOR_TOPOLOGIA
      DEALLOCATE  @CURSOR_TOPOLOGIA
    END 
  END     

  SELECT @VAR_RETORNO = 0
		
		
END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;
GO
