SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_META_INDICADOR]
	@CD_META_INDICADOR numeric(18,0),
	@CD_EST_COMERCIAL numeric(18, 0),
	@NM_ANO numeric(18, 0),
	@NM_CICLO numeric(18, 0),
	
	@CD_INDICADOR_PESSOAL numeric(18, 0),
	@VL_META numeric(18,2),
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_META_INDICADOR (
					CD_EST_COMERCIAL,
					NM_ANO,
					NM_CICLO,
					CD_INDICADOR_PESSOAL,
					VL_META,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
										
						
				VALUES           (
					@CD_EST_COMERCIAL,
					@NM_ANO,
					@NM_CICLO,
					@CD_INDICADOR_PESSOAL,
					@VL_META,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
	
				BEGIN TRANSACTION 
	
				DELETE FROM TB_META_INDICADOR 
					WHERE CD_META_INDICADOR = @CD_META_INDICADOR
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	


		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
