SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaDocumentosControle]
AS

	SELECT CD_DOCUMENTO_CONTROLE "id",
		   DC_DOCUMENTO_CONTROLE "name",
		   ID_TIPO_DOCUMENTO_CONTROLE,
		   CD_FUNCAO,
		   ID_MOSTRA_DOCUMENTO_EV "hidden",
		   ID_DOCUMENTO_OBRIGATORIO "mandatory"
	FROM TB_DOCUMENTO_CONTROLE WITH(NOLOCK)
	WHERE ID_STATUS = 1
GO
