SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_MNListaBonificacaoNivel2_2]
	@CD_MN_REMUNERACAO    NUMERIC(18,0)
AS

BEGIN
SELECT A.CD_MN_REMUNERACAO,
	   C.DS_REMUNERACAO AS "Ganho",
       dbo.FN_BUSCA_DOMINIO('FORMA_PREMIACAO_MN',B.ID_FORMA_PREMIACAO_MN) AS "Forma Ganho",
       dbo.FN_BUSCA_DOMINIO('SITUACAO_REMUNERACAO',B.ID_SITUACAO_REMUNERACAO) AS "Situação Ganho",
       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN 'VALOR'
		      ELSE 'PERCENTUAL'  END AS "Regra Ganho",
       dbo.FN_ConverteMoedaReal(SUM(Case A.ID_MOTIVO_REMUNERACAO
                     WHEN 1 THEN A.VL_REMUNERACAO * 1
                     WHEN 2 THEN A.VL_REMUNERACAO * -1 END)) AS "Valor Calculado",
       dbo.FN_ConverteMoedaReal(0) AS "Valor a Calcular"
FROM TB_MN_DETALHE_REMUNERACAO A, 
     TB_MN_REMUNERACAO         B,
     TB_MN_REGRA_REMUNERACAO   C
WHERE A.CD_MN_REMUNERACAO     = B.CD_MN_REMUNERACAO
AND   A.CD_REGRA_PREMIACAO_MN = C.CD_REMUNERACAO
AND	  A.NM_CICLO <= (SELECT PES.NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO PES WHERE PES.CD_PESSOA = A.CD_PESSOA AND PES.CD_FUNCAO = A.CD_FUNCAO)
AND   A.CD_MN_REMUNERACAO     = @CD_MN_REMUNERACAO
GROUP BY A.CD_MN_REMUNERACAO,
	 C.DS_REMUNERACAO,
	 B.ID_FORMA_PREMIACAO_MN,
	 B.ID_SITUACAO_REMUNERACAO,
         C.ID_TIPO_REMUNERACAO	
		 
		 UNION

SELECT A.CD_MN_REMUNERACAO,
	   C.DS_REMUNERACAO AS "Ganho",
       dbo.FN_BUSCA_DOMINIO('FORMA_PREMIACAO_MN',B.ID_FORMA_PREMIACAO_MN) AS "Forma Ganho",
       dbo.FN_BUSCA_DOMINIO('SITUACAO_REMUNERACAO',B.ID_SITUACAO_REMUNERACAO) AS "Situação Ganho",
       Case WHEN C.ID_TIPO_REMUNERACAO = 1 THEN 'VALOR'
		      ELSE 'PERCENTUAL'  END AS "Regra Ganho",
       dbo.FN_ConverteMoedaReal(0) AS "Valor Calculado",
       dbo.FN_ConverteMoedaReal(SUM(Case A.ID_MOTIVO_REMUNERACAO
                     WHEN 1 THEN A.VL_REMUNERACAO * 1
                     WHEN 2 THEN A.VL_REMUNERACAO * -1 END)) AS "Valor a Calcular"
FROM TB_MN_DETALHE_REMUNERACAO A, 
     TB_MN_REMUNERACAO         B,
     TB_MN_REGRA_REMUNERACAO   C
WHERE A.CD_MN_REMUNERACAO     = B.CD_MN_REMUNERACAO
AND   A.CD_REGRA_PREMIACAO_MN = C.CD_REMUNERACAO
AND	  A.NM_CICLO > (SELECT PES.NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO PES WHERE PES.CD_PESSOA = A.CD_PESSOA AND PES.CD_FUNCAO = A.CD_FUNCAO)
AND   A.CD_MN_REMUNERACAO     = @CD_MN_REMUNERACAO
GROUP BY A.CD_MN_REMUNERACAO,
	 C.DS_REMUNERACAO,
	 B.ID_FORMA_PREMIACAO_MN,
	 B.ID_SITUACAO_REMUNERACAO,
         C.ID_TIPO_REMUNERACAO	

order by C.DS_REMUNERACAO

END
GO
