SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VERIFICA_PENDENCIA_DIVIDA_VENCIDA]
	@NM_PEDIDO		numeric(18, 0),
	@ID_SIMULACAO	int, -- se for 1 faz a simula??o e nao grava os dados, se for 2 efetiva a grava??o
	@CD_USUARIO		numeric(18, 0),
	@CD_PENDENTE	numeric(18, 2) OUTPUT,
	@CD_ERRO		INT OUTPUT,
	@DC_ERRO		VARCHAR(100) OUTPUT
	
AS
DECLARE @V_CONTADOR					int,
		@V_CD_REGRA_COMERCIAL		numeric(18, 2),
        @V_ID_PEND_DIVIDA_VENCIDA	int,
        @V_CD_PESSOA				numeric(18,0),
        @QTD_DIVIDA_VENCIDA			int
	
BEGIN TRY
		
	-- POPULA ERRO = 0 (SEM ERRO)
	SELECT @CD_ERRO = 0
	SELECT @DC_ERRO = ''
	SELECT @CD_PENDENTE = 0
	    	    
	-- VERIFICA SE PEDIDO EXISTE
	SELECT @V_CONTADOR = COUNT(*)
	FROM TB_PEDIDO
	WHERE NM_PEDIDO = @NM_PEDIDO
		
	IF @V_CONTADOR = 0
	-- CODIGO N?O ENCONTRADO
	BEGIN
		SELECT @CD_ERRO = 1
		SELECT @DC_ERRO = 'Pedido não encontrado'
		RETURN
	END
			
	SELECT	@V_CD_REGRA_COMERCIAL = CD_REGRA_COMERCIAL,
			@V_CD_PESSOA = CD_PESSOA
	FROM TB_PEDIDO
	WHERE NM_PEDIDO = @NM_PEDIDO
		
	-- VERIFICA SE REGRA COMERCIAL EXISTE
	SELECT @V_CONTADOR = COUNT(*)
	FROM TB_REGRA_COMERCIAL
	WHERE CD_REGRA_COMERCIAL = @V_CD_REGRA_COMERCIAL
		
	IF @V_CONTADOR = 0
	-- CODIGO N?O ENCONTRADO
	BEGIN
		SELECT @CD_ERRO = 1
		SELECT @DC_ERRO = 'Regra Comercial não encontrada'
		RETURN
	END
			
	SELECT @V_ID_PEND_DIVIDA_VENCIDA = ID_PEND_DIVIDA_VENCIDA
	FROM TB_REGRA_COMERCIAL
	WHERE CD_REGRA_COMERCIAL = @V_CD_REGRA_COMERCIAL
		
	IF @V_ID_PEND_DIVIDA_VENCIDA = 1 -- N?O SE APLICA
		BEGIN
			SELECT @CD_ERRO = 0
			SELECT @DC_ERRO = ''
			SELECT @CD_PENDENTE = 0
			RETURN
		END
	ELSE
		BEGIN
			IF @V_ID_PEND_DIVIDA_VENCIDA = 2
				BEGIN
					--SELECT @QTD_DIVIDA_VENCIDA = COUNT(*)
					--FROM TB_DIVIDA
					--WHERE ID_SITUACAO_PAGAMENTO = 3
					--AND CD_PESSOA = @V_CD_PESSOA
					SELECT  @QTD_DIVIDA_VENCIDA = COUNT(*)
					FROM TB_DIVIDA A,
						 TB_PEDIDO B,
						 TB_PLANO_PAGAMENTO C
					WHERE A.ID_SITUACAO_PAGAMENTO = 3
					AND A.CD_PESSOA               = @V_CD_PESSOA
					AND A.CD_PESSOA               = B.CD_PESSOA
					AND A.NM_PEDIDO               = B.NM_PEDIDO
					AND B.CD_PLANO_PAGAMENTO      = C.CD_PLANO_PAGAMENTO
					AND C.ID_TIPO_PAGAMENTO       = 2  -- P?S-PAGO
					
					IF @QTD_DIVIDA_VENCIDA = 0
						BEGIN
							SELECT @CD_ERRO = 0
							SELECT @DC_ERRO = ''
							SELECT @CD_PENDENTE = 0
							RETURN
						END
					ELSE
						BEGIN
							-- VERIFICA SE HISTORICO PEDIDO EXISTE
							SELECT @V_CONTADOR = COUNT(*)
							FROM TB_PEDIDO_HISTORICO
							WHERE CD_EST_SITUACAO = 1
							AND   NM_PEDIDO = @NM_PEDIDO
							AND   DT_FINAL IS NULL
							
							SELECT @V_CONTADOR = 1
				
							IF @V_CONTADOR = 0
								BEGIN
									SELECT @CD_ERRO = 0
									SELECT @DC_ERRO = 'Historico Pedido nao encontrado'
									RETURN
								END
							ELSE
								IF @ID_SIMULACAO = 1
									BEGIN
										SELECT @CD_ERRO = 0
										SELECT @DC_ERRO = ''
										SELECT @CD_PENDENTE = 1
									END
							
								IF @ID_SIMULACAO = 2
									BEGIN
										-- FECHAR A SITUACAO 1 (EM CAPTA??O)
										EXEC SP_GRAVA_HISTORICO_PEDIDO
											@NM_PEDIDO,
											1,
											2,
											0,
											'',
											@CD_USUARIO,
											0,
											'',
											0
					
										-- ABRIR A SITUACAO 43 (PEDENCIA DE DIVIDA VENCIDA)
										EXEC SP_GRAVA_HISTORICO_PEDIDO
											@NM_PEDIDO,
											43,
											1,
											0,
											'',
											@CD_USUARIO,
											0,
											'',
											0
					
										SELECT @CD_ERRO = 0
										SELECT @DC_ERRO = ''
										SELECT @CD_PENDENTE = 1
										RETURN
									
									END
						END
				END 
		END
	
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      SELECT @CD_PENDENTE = 0
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;
GO
