SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_APROVA_PEDIDO2]
	@NM_PEDIDO NUMERIC(18,0),
	@CD_USUARIO NUMERIC(18,0),
	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS


DECLARE @NM_CICLO_APROVACAO			NUMERIC(18,0),
		@V_CONTADOR_REGISTROS		NUMERIC(18,0),
		@CD_PESSOA					NUMERIC(18,0),
		@CD_FUNCAO					INT,
		@CD_EST_COMERCIAL			NUMERIC(18,0),
		@VL_CREDITO_PEDIDO			NUMERIC(18,2),
		@V_ID_SEPARA_PEDIDO			INT,
		@V_ID_FATURA_PEDIDO			INT,
		@v_tipoPagamento			INT,
		@ID_MEIO_SELECAO_ENTIDADE	INT,
		@V_ID_MOVIMENTA_ESTOQUE		INT,
		@v_codigoSituacaoAtual		NUMERIC(18,0),
		@v_cursorItens				cursor,
		@v_codigoProdutoVenda		numeric(18,0),
		@v_qtdReservada				numeric(18,0),
		@v_cdMaterial				numeric(18,0),
		@v_cdEntidadeServicoExterno int,
		@v_descUsuario				VARCHAR(18),

		@NM_CICLO_INDICADOR			NUMERIC(18,0),
		@DT_CAPTACAO_PEDIDO			DATETIME,
		@NM_PEDIDO_MIN				NUMERIC(18,0),
		@v_cicloSitComercial		INT

BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0
	SELECT @CD_ERRO = 0

	-- *****************************************************
	--BUSCA A PESSOA E FUNÇÃO DO PEDIDO
	-- VAMOS USAR PARA CALCULAR INDICADORES
	-- PRECISAMOS VERIFICAR TAMBÉM SE O PEDIDO FICARÁ DISPONÍVEL PARA SEPARAÇÃO OU NÃO
	-- *****************************************************
	SELECT	@CD_PESSOA = CD_PESSOA,
			@CD_FUNCAO = CD_FUNCAO,
			@CD_EST_COMERCIAL = CD_EST_COMERCIAL,
			@V_ID_SEPARA_PEDIDO = ID_SEPARA_PEDIDO,
			@V_ID_MOVIMENTA_ESTOQUE = ID_MOVIMENTA_ESTOQUE,
			@V_ID_FATURA_PEDIDO = ID_GERA_NOTA_FISCAL,
			@v_codigoSituacaoAtual = CD_EST_SITUACAO,
			@DT_CAPTACAO_PEDIDO = DT_CAPTACAO_PEDIDO
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE NM_PEDIDO = @NM_PEDIDO
	    
	-- **************************************************************
	-- VERIFICA SE O PEDIDO já ESTA APROVADO
	-- **************************************************************
	IF @v_codigoSituacaoAtual = 2
		BEGIN
			SELECT @CD_ERRO = 1
			SELECT @DC_ERRO = 'Pedido já está aprovado'
			RETURN
		END
	
	-- **************************************************************
	-- Validação adicionada por Diego Zilioti em 28/07/2021
	-- Tratamento para casos de pedidos aprovados sem itens de pedido - BITRIX #2819
	-- Não sabemos exatamente o motivo porém existem alguns casos em que pedidos são aprovados sem itens e valores
	-- Neste caso vamos validar e caso não existam itens o pedido será cancelado
	-- **************************************************************
	SELECT @V_CONTADOR_REGISTROS = COUNT(*)
	  FROM TB_PEDIDO_ITEM WITH(NOLOCK)
	 WHERE NM_PEDIDO = @NM_PEDIDO

	IF @V_CONTADOR_REGISTROS = 0
		BEGIN
			EXEC SP_CANCELA_PEDIDO
				@NM_PEDIDO,
				31,
				1,
				@CD_USUARIO,
				@CD_ERRO OUTPUT,
				@DC_ERRO OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT

			RETURN
		END

	SELECT @V_CONTADOR_REGISTROS = 0
	-- *****************************************************
	-- BUSCA CICLO ATUAL DA PESSOA
	-- ALTERAÇÃO EM 19/10/2020 POR DIEGO ZILIOTI
	-- TEMOS QUE PEGAR O CICLO COM BASE NO CALENDÁRIO COMERCIAL DA ESTRUTURA DA PESSOA
	-- ISTO PORQUE NA VIRADA DE CICLO PODEMOS TER PEDIDOS QUE SÃO ATUALIZADOS JÁ NO NOVO CICLO PORÉM A PESSOA AINDA NÃO VIROU O CICLO NA TB_PESSOA RESUMO
	-- *****************************************************
	SELECT @NM_CICLO_APROVACAO = MIN(B.NM_CICLO)
	FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
	WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
	AND A.CD_PESSOA = @CD_PESSOA
	AND A.CD_FUNCAO = @CD_FUNCAO
	AND CONVERT(DATE,GETDATE()) BETWEEN B.DT_INICIAL AND B.DT_FINAL

	-- *****************************************************
	-- BUSCA CICLO INDICADOR DO PEDIDO DA PESSOA
	-- ALTERAÇÃO EM 05/11/2020 POR ALDIR TIRELLI
	-- TEMOS QUE PEGAR O CICLO DO INDICADOR BASEADO NO CONCEITO DO CICLO ESTENDIDO
	-- 1 - SE O PEDIDO FOI CAPTADO ENTRE A DATA INICIAL E FINAL DO CICLO E APROVADO NO PERÍODO ESTENDIDO. NESTE CASO O CICLO INDICADOR É IGUAL AO CICLO DE CAPTAÇÃO.
	-- 2 - SE O PEDIDO FOI CAPTADO ENTRE A DATA INICIAL E FINAL DO CICLO E APROVADO APÓS O PERÍODO ESTENDIDO. NESTE CASO O CICLO INDICADOR É IGUAL AO CICLO DE APROVAÇÃO.
	-- 3 - SE O PEDIDO FOI CAPTADO E APROVADO ENTRE A DATA INICIAL E FINAL DO CICLO. NESTE CASO O CICLO INDICADOR É IGUAL AO CICLO DE CAPTAÇÃO E APROVAÇÃO.
	-- *****************************************************
    SELECT @NM_CICLO_INDICADOR = ISNULL(MIN(B.NM_CICLO),@NM_CICLO_APROVACAO)
	FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_CALENDARIO_COMERCIAL B WITH(NOLOCK)
	WHERE A.CD_EST_COMERCIAL = B.CD_EST_COMERCIAL
	AND A.CD_PESSOA          = @CD_PESSOA
	AND A.CD_FUNCAO          = @CD_FUNCAO
	AND CONVERT(DATE,@DT_CAPTACAO_PEDIDO) BETWEEN B.DT_INICIAL AND B.DT_FINAL
	AND CONVERT(DATE,GETDATE())           BETWEEN B.DT_INICIAL_CICLO_ESTENDIDO AND B.DT_FINAL_CICLO_ESTENDIDO	    

	    
	-- *****************************************************
	-- GRAVA SITUACAO 2 (APROVADO) E CICLO DE APROVAÇÃO E CICLO INDICADOR E DATA DE APROVACAO
	-- *****************************************************
	BEGIN TRANSACTION
        UPDATE TB_PEDIDO 
        SET CD_EST_SITUACAO = 2,
		NM_CICLO_APROVACAO = @NM_CICLO_APROVACAO,
		NM_CICLO_INDICADOR = @NM_CICLO_INDICADOR,  -- NOVO EVOLUÇÃO 05/11/2020 POR ALDIR TIRELLI
		DT_APROVACAO_PEDIDO = GETDATE()
		WHERE NM_PEDIDO = @NM_PEDIDO
    COMMIT TRANSACTION

       
    -- *****************************************************
	-- GRAVA HISTORICO DO PEDIDO
	-- *****************************************************
        
    -- VERIFICA SE A SITUACAO 1 - E CAPTACAO AINDA ESTA ABERTO
    SELECT @V_CONTADOR_REGISTROS = COUNT(*)
    FROM TB_PEDIDO_HISTORICO WITH(NOLOCK)
	WHERE CD_EST_SITUACAO = 1
	AND NM_PEDIDO = @NM_PEDIDO
	AND DT_FINAL IS NULL
		
	IF @V_CONTADOR_REGISTROS > 0 
		BEGIN
			-- FECHA A SITUAÇÃO DE CAPTAÇÃO
			exec SP_GRAVA_HISTORICO_PEDIDO
				@NM_PEDIDO,
				1, 
				2, 
				0,
				'',
				@CD_USUARIO,
				0,
				'',
				0
				
		END
		
	-- ABRE A SITUACAOD E APROVADO
	EXEC SP_GRAVA_HISTORICO_PEDIDO
				@NM_PEDIDO,
				2, 
				1, 
				0,
				'',
				@CD_USUARIO,
				0,
				'',
				0
		
	-- FECHA A SITUAÇÃO DE APROVADO
	EXEC SP_GRAVA_HISTORICO_PEDIDO
				@NM_PEDIDO,
				2, 
				2, 
				0,
				'',
				@CD_USUARIO,
				0,
				'',
				0
		
	IF @V_ID_SEPARA_PEDIDO = 1
		BEGIN
			-- ABRE A SITUAÇÃO DE DISPONIVEL PARA SEPARAÇÃO
			exec SP_GRAVA_HISTORICO_PEDIDO
						@NM_PEDIDO,
						5, 
						1, 
						0,
						'',
						@CD_USUARIO,
						0,
						'',
						0
		END
	ELSE
		BEGIN
			-- *******************************************************************************************
			-- VERIFICA SE É NECESSÁRIO FAZER SELEÇÃO DA ENTIDADE DE CONILAIÇÃO MANUALMENTE
			-- EM CASO POSITIVO NÃO PODEMOS COLOCAR O PEDIDO COMO FINALIZADO DIRETAMENTE
			-- TEREMOS PRIMEIRO QUE PASSR PELO PROCESSO DE ESCOLHA DE ENTIDADE
			-- *******************************************************************************************
			SELECT @ID_MEIO_SELECAO_ENTIDADE = PP.ID_MEIO_SELECAO_ENTIDADE
			FROM TB_PEDIDO P WITH(NOLOCK), TB_PLANO_PAGAMENTO PP WITH(NOLOCK)
			WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO
			AND NM_PEDIDO = @NM_PEDIDO

			IF @ID_MEIO_SELECAO_ENTIDADE = 2
				BEGIN
					-- ABRE A SITUAÇÃO DE DISPONIVEL PARA SEPARAÇÃO
					exec SP_GRAVA_HISTORICO_PEDIDO
						@NM_PEDIDO,
						5, 
						1, 
						0,
						'',
						@CD_USUARIO,
						0,
						'',
						0
				END
			ELSE
				BEGIN

					-- ABRE A SITUAÇÃO FINALIZADO, POIS ESTE PEDIDO NÃO TERÁ PROCESSO DE SEPARAÇÃO E ENTREGA
					exec SP_GRAVA_HISTORICO_PEDIDO
						@NM_PEDIDO,
						9, 
						1, 
						0,
						'',
						@CD_USUARIO,
						0,
						'',
						0

					--FECHA A SITUAÇÃO FINALIZADO
					exec SP_GRAVA_HISTORICO_PEDIDO
						@NM_PEDIDO,
						9, 
						2, 
						0,
						'',
						@CD_USUARIO,
						0,
						'',
						0
					BEGIN TRANSACTION
					UPDATE TB_PEDIDO SET CD_EST_SITUACAO = 9 WHERE NM_PEDIDO = @NM_PEDIDO
					COMMIT TRANSACTION
				
					--GERA A DÍVIDA
					-- **************************************************************
					-- SOMENTE GERA A DIVIDA SE O TIPO DE PAGAMENTO É POSTERGADO = 2
					-- **************************************************************

					SELECT  @v_tipoPagamento = B.ID_TIPO_PAGAMENTO,
							@v_cdEntidadeServicoExterno = ISNULL((SELECT ID_NOME_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE CD_SERVICO_EXTERNO = B.CD_SERVICO_EXTERNO),0)
					FROM TB_PEDIDO A WITH(NOLOCK), TB_PLANO_PAGAMENTO B WITH(NOLOCK)
					WHERE A.NM_PEDIDO = @NM_PEDIDO
					AND A.CD_PLANO_PAGAMENTO = B.CD_PLANO_PAGAMENTO

					-- *************************************************************************************
					-- ALTERAÇÃO EM 21/10/2019 POR DIEGO ZILIOTI
					-- VAMOS GERAR A DÍVIDA CASO O PAGAMENTO SEJA PÓS E NÃO É VIA WIRECARD
					-- NESSE CASO O BOLETO É GERADO NA CAPTAÇÃO DIRETO, NÃO PRECISA GERAR AQUI
					-- *************************************************************************************
					IF (@v_tipoPagamento = 2 AND @v_cdEntidadeServicoExterno <> 4) -- PÓS-PAGO E DIFERENTE DA WIRECARD
						BEGIN 
							EXEC pr_DividaGeraDivida
								@NM_PEDIDO,
								1,
								@CD_USUARIO,
								@CD_ERRO OUTPUT,
								@DC_ERRO OUTPUT,
								@QT_LINHAS_AFETADAS OUTPUT
							--Após gerar a dívida precisamos atualizar o crédito da pessoa, foram identificados casos de pessoas	
							exec SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO @CD_PESSOA,
																		@CD_FUNCAO,
																		0,
																		0,
																		@CD_USUARIO
						END

					-- ****************************************************
					-- ALTERAÇÃO POR DIEGO ZILIOTI EM 09/03/2018
					-- PRECISAMOS VERIFICAR SE SERÁ PRECISO FATURAR O PEDIDO QUE NÃO PASSARÁ POR SEPARAÇÃO
					-- ****************************************************

					IF @V_ID_FATURA_PEDIDO = 1
						BEGIN
							--CHAMA A PROC DO FATURAMENTO
							EXEC pr_FiscalGeraNotaFiscal @NM_PEDIDO,
															2,
															@CD_USUARIO,
															@CD_ERRO OUTPUT,
															@DC_ERRO OUTPUT,
															@QT_LINHAS_AFETADAS OUTPUT

						END

					-- ALDIR (01/02/2019)... PRECISA DAR BAIXA NO MATERIAL
					IF @V_ID_MOVIMENTA_ESTOQUE = 1
						BEGIN
							SET @v_cursorItens = CURSOR FAST_FORWARD
							FOR	
							-- ***********************************************************
							-- ALTERAÇÃO POR DIEGO ZILIOTI EM 22/05/2019
							-- VAMOS AGRUPAR A CHAMADA DOS ITENS POR PRODUTO E MATERIAL
							-- EXISTEM ALGUNS CENÁRIOS EXCLUSIVOS DE KIT EM QUE OS PRODUTOS PODEM SE REPETIR E PRECISAMOS PASSAR A QUANTIDADE TOTAL UMA ÚNICA VEZ
							-- ***********************************************************
							SELECT X.CD_PRODUTO_VENDA, SUM(X.QT_RESERVADA), X.CD_MATERIAL
								FROM	
							(SELECT	CD_PRODUTO_VENDA,
								QT_RESERVADA,
								cd_material
								FROM TB_PEDIDO_ITEM WITH(NOLOCK)
								WHERE NM_PEDIDO = @NM_PEDIDO
								AND QT_RESERVADA > 0
								AND NM_PEDIDO_ITEM_CONJUNTO = 0
							UNION ALL
							-- *****************************************************
							-- Alteração feita por Diego Zilioti em 01/10/17
							-- Necessidade: Precisamos realizar a baixa também dos brindes no estoque, os brindes não estão sendo considerados na verificação de estoque
							-- *****************************************************
							SELECT CD_PRODUTO_VENDA,
								QT_RESERVADA,
								CD_MATERIAL
							FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
							WHERE ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --BRINDE
							AND QT_RESERVADA > 0
							AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
							AND NM_PEDIDO = @NM_PEDIDO) X
							GROUP BY X.CD_PRODUTO_VENDA, X.CD_MATERIAL

							-- CANCELA ITENS
							OPEN @v_cursorItens
							FETCH NEXT FROM @v_cursorItens
							INTO @v_codigoProdutoVenda, @v_qtdReservada, @v_cdMaterial
	
							WHILE @@FETCH_STATUS = 0
								BEGIN
									EXEC dbo.SP_BAIXA_MATERIAL
											@NM_PEDIDO,
											@v_codigoProdutoVenda,
											@v_cdMaterial,
											@v_qtdReservada,
											@CD_USUARIO,
											2, --TIPO_EMEPNHO
											0, --CD_MATERIAL
											0, --CD_EST_SITUACAO
											0, --QT_RESERVADA
											0, --VL_REPOSICAO
											0, --VL_CUSTO_MEDIO
											0, --CD_COTA_ESTRUTURA_ESTRUTURA
											0, --CD_COTA_ESTRUTURA_PESSOA
											0,
											'',
											0
																							
									FETCH NEXT FROM @v_cursorItens
									INTO @v_codigoProdutoVenda, @v_qtdReservada, @v_cdMaterial
										
								END
								
						END
				END
		END
		
	-- ***************************************************
	-- CALCULA INDICADOR DE PEDIDO APROVADO
	-- ***************************************************
	EXEC SP_CALCULA_PESSOA_INDICADOR
				@CD_PESSOA,
				@CD_FUNCAO,
				@CD_EST_COMERCIAL,
				@NM_CICLO_APROVACAO,
				@NM_PEDIDO,
				1, -- EVENTO APROVAÇÃO DO PEDIDO
				2, --INCREMENTAL
                1,      --CALCULA OS INDICADORES ON-LINE
				@CD_USUARIO,
				@CD_ERRO OUTPUT,
				@DC_ERRO OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
					
	-- ***************************************************
	-- GRAVAR SITUAÇÃO COMERCIAL DA PESSOA
	-- ***************************************************
	-- Atualização por Diego Zilioti em 09/08/2021 - Atividade #2745
	-- Vamos checar por qual ciclo iremos atualizar a situação comercial - 1 para ciclo de aprovação / 2 - para ciclo indicador
	SELECT @v_cicloSitComercial = ISNULL(VL_PARAMETRO,1)
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 2
	   AND CD_PARAMETRO = 9

	IF @v_cicloSitComercial = 1
		BEGIN
			EXEC pr_PessoaGeraSituacaoComercial
				@CD_PESSOA,
				@CD_FUNCAO,
				@CD_EST_COMERCIAL,
				@NM_CICLO_APROVACAO,
				2, -- APROVAÇÃO DE PEDIDO
				@CD_USUARIO,
				@CD_ERRO OUTPUT,
				@DC_ERRO OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
		END
	ELSE
		BEGIN
			EXEC pr_PessoaGeraSituacaoComercial
				@CD_PESSOA,
				@CD_FUNCAO,
				@CD_EST_COMERCIAL,
				@NM_CICLO_INDICADOR,
				2, -- APROVAÇÃO DE PEDIDO
				@CD_USUARIO,
				@CD_ERRO OUTPUT,
				@DC_ERRO OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
		END
               
    -- ****************************************************************
	-- GRAVAR DADOS DO PEDIDO E CREDITO NA TABELA TB_PESSOA_REUSMO
	-- ****************************************************************
	SELECT @VL_CREDITO_PEDIDO = VL_CREDITO_TOTAL
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE NM_PEDIDO = @NM_PEDIDO

	-- ****************************************************************
	-- Correção dia 06/12/16 - por Diego
	-- O update abaixo do vl_credito_a_vencer estava duplicando o valor em alguns casos
	-- Vamos realizar a chamada da proc que atualiza o crédito direto na tb_pessoa_resumo
	-- ****************************************************************				
--     UPDATE TB_PESSOA_RESUMO
		--SET VL_CREDITO_A_VENCER = VL_CREDITO_A_VENCER + @VL_CREDITO_PEDIDO,
		--	DT_ATUALIZACAO = GETDATE(),
		--	CD_USUARIO_ATUALIZACAO = @CD_USUARIO
--     WHERE CD_PESSOA = @CD_PESSOA
		-- AND CD_FUNCAO = @CD_FUNCAO
		
	exec SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
		@CD_PESSOA,
		@CD_FUNCAO,
		0,
		0,
		0
        
    -- SE OS DADOS DO PRIMEIRO PEDIDO ESTIVEREM NULOS OU IGUAL A ZERO ATUALIZA A INFORMAÇÃO
	BEGIN TRANSACTION
        UPDATE TB_PESSOA_RESUMO
			SET DT_PRIMEIRO_PEDIDO     = GETDATE(),
				NM_PRIMEIRO_PEDIDO = @NM_PEDIDO,
				--NM_CICLO_INICIO    = @NM_CICLO_APROVACAO
				NM_CICLO_INICIO    = @NM_CICLO_INDICADOR    -- NOVO EVOLUÇÃO 05/11/2020 POR ALDIR TIRELLI
		WHERE CD_PESSOA = @CD_PESSOA
		  AND CD_FUNCAO = @CD_FUNCAO
		  AND (NM_PRIMEIRO_PEDIDO IS NULL OR NM_PRIMEIRO_PEDIDO = 0)
    COMMIT  TRANSACTION

	-- NOVA EVOLUÇÃO 18/01/2021 PARA ATUALIZAR A NOVA COLUNA NM_CICLO_REINICIO (ALDIR TIRELLI)
	SELECT @NM_PEDIDO_MIN = ISNULL(MIN (B.NM_PEDIDO),0)
	FROM TB_PEDIDO B WITH (NOLOCK),
 	 	 (SELECT MAX(DT_REATIVACAO) DT_REATIVACAO
		  FROM TB_HIST_SITUACAO_CONSULTORA WITH (NOLOCK)
		  WHERE CD_PESSOA = @CD_PESSOA) C
	WHERE B.CD_PESSOA              = @CD_PESSOA
	AND   B.CD_FUNCAO              = @CD_FUNCAO
	AND   B.DT_APROVACAO_PEDIDO   >= C.DT_REATIVACAO
	AND   B.NM_CICLO_CANCELAMENTO IS NULL

	IF (@NM_PEDIDO_MIN = @NM_PEDIDO)
		BEGIN
			BEGIN TRANSACTION
				UPDATE TB_PESSOA_RESUMO
				SET NM_CICLO_REINICIO = @NM_CICLO_INDICADOR
				WHERE CD_PESSOA       = @CD_PESSOA
				AND   CD_FUNCAO       = @CD_FUNCAO
			COMMIT TRANSACTION
		END
	-- FIM : NOVA EVOLUÇÃO 18/01/2021 PARA ATUALIZAR A NOVA COLUNA NM_CICLO_REINICIO (ALDIR TIRELLI)

	-- ***************************************************
	-- VERIFICA CAMPANHA DE INDICAÇÃO
	-- ***************************************************
	EXEC pr_CampanhaAplicaCampanhaIndicacao
			@CD_PESSOA,
			@CD_FUNCAO,
			@NM_CICLO_APROVACAO,
			@NM_PEDIDO,
			2,					-- EVENTO: PEDIDO APROVADO
			@CD_USUARIO,
			@CD_ERRO			OUTPUT,
			@DC_ERRO			OUTPUT,
			@QT_LINHAS_AFETADAS	OUTPUT


	-- ***************************************************
	-- VERIFICA CAMPANHA DE PONTOS
	-- ***************************************************
	EXEC pr_CampanhaAplicaCampanhaPontos
			@CD_PESSOA,
			@NM_PEDIDO,
			@CD_FUNCAO,
			@NM_CICLO_APROVACAO,
			2,					-- EVENTO: PEDIDO APROVADO
			@CD_USUARIO,
			@CD_ERRO			OUTPUT,
			@DC_ERRO			OUTPUT,
			@QT_LINHAS_AFETADAS	OUTPUT

    -- ***************************************************
	-- ATUALIZA O CREDITO DA PESSOA
	-- ***************************************************	
    EXEC pr_PessoaAtualizaLimiteCredito
		0, 
        @CD_PESSOA,
        @CD_FUNCAO,
		2, -- CODIGO DO MOTIVO - ATUALIZAÇÃO AUTOMATICA
		'', -- MOTIVO
		'', --@DT_INICIO_LIMITE_CREDITO
		'', --@DT_TERMINO_LIMITE_CREDITO
		0, -- VALOR DO CREDITO,
		'A',
		@CD_USUARIO,
		@CD_ERRO			OUTPUT,
		@DC_ERRO			OUTPUT,	
		@QT_LINHAS_AFETADAS	OUTPUT
        
	-- *******************************************
	-- ENVIA EMAIL
	-- *******************************************
	EXEC pr_PedidoEnviarEmailMudancaStatus
		@NM_PEDIDO,			--@p_nmPedido					NUMERIC(18,0),
		5,					--@p_cdEvento					INT,
		@CD_ERRO			OUTPUT,
		@DC_ERRO			OUTPUT,
		@QT_LINHAS_AFETADAS OUTPUT

	-- ***********************************************************************
	-- INSERE O REGISTRO NA FILA DA API ATSVD
	-- A PROCEDURE IRÁ VALIDAR SE A FILA ESTÁ ATIVA E IRÁ INSERIR O REGISTRO
	-- ***********************************************************************
	SELECT @v_descUsuario = CONVERT(VARCHAR(18),@CD_USUARIO)

	EXEC dbo.pr_ApiInsereItemFilaApi 2, --Código da fila de PEDIDOS
									@NM_PEDIDO, -- PEDIDO
									'I', --INSERÇÃO
									@v_descUsuario, --USUÁRIO
									0,
									'',
									0
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
