SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_IntegracaoOmieConsultaMateriaisNovos]
AS
	SELECT	M.CD_MATERIAL,
			M.CD_MATERIAL_EXTERNO,
			M.DC_MATERIAL,
			'UN' UNIDADE,
			CF.DC_CLASSIFICACAO_FISCAL,
			M.DC_EAN,
			M.NM_PESO_LIQUIDO / 1000 PESO_LIQ,
			M.NM_PESO_BRUTO / 1000 PESO_BRUTO,
			M.NM_ALTURA,
			M.NM_LARGURA,
			M.NM_COMPRIMENTO
	  FROM TB_MATERIAL M WITH(NOLOCK), TB_CLASSIFICACAO_FISCAL CF WITH(NOLOCK)
	 WHERE M.CD_MATERIAL > 0
	   AND M.CD_CLASSIFICACAO_FISCAL = CF.CD_CLASSIFICACAO_FISCAL
	   AND M.ID_SITUACAO_ESTOQUE = 1
	   AND (SELECT COUNT(MINT.CD_MATERIAL_INTEGRACAO) FROM TB_MATERIAL_INTEGRACAO MINT WITH(NOLOCK) WHERE MINT.CD_MATERIAL = M.CD_MATERIAL AND MINT.ID_SITUACAO_INTEGRACAO = 3
	        AND MINT.CD_SERVICO_EXTERNO IN (SELECT CD_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE ID_SITUACAO = 1 AND ID_NOME_SERVICO_EXTERNO = 23)) < 
			(SELECT COUNT(CD_SERVICO_EXTERNO) FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE ID_SITUACAO = 1 AND ID_NOME_SERVICO_EXTERNO = 23)
GO
