SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_IntegracaoSequoiaImpressaoEtiquetaPedido]
AS

        Select PE.NM_PEDIDO,
        PS.DC_IATA, 
        PS.DC_ROTA, 
        PS.DC_NOME, 
        PS.DC_CEP3, 
        PS.DT_LIMITE_ENTREGA, 
        PS.DC_UF_REGIAO, 
        PS.DC_TRACKING_NUMBER, 
        dbo.FN_BUSCA_NOME_PESSOA(PE.cd_pessoa) NOME_COMPLETO, 
        (SELECT DC_CENTRO_DISTRIBUICAO FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO) DC_NOME_EMITENTE, 
        (SELECT	CONVERT(DECIMAL(18,2),SUM(ISNULL(NM_VOLUME * QT_RESERVADA, 0))) FROM VW_DETALHES_PEDIDO	WHERE NM_PEDIDO = PE.NM_PEDIDO 	And QT_RESERVADA > 0) VL_VOLUME, 
        CONVERT(DECIMAL(18,2),((SELECT SUM(ISNULL(NM_PESO * QT_RESERVADA, 0)) FROM VW_DETALHES_PEDIDO	WHERE NM_PEDIDO = PE.NM_PEDIDO 	And QT_RESERVADA > 0)/1000)) VL_PESO, 
        PD.DC_ESTRUTURA_GEO5 DC_RUA, 
        PD.DC_ESTRUTURA_GEO4 DC_BAIRRO, 
        PD.DC_ESTRUTURA_GEO3 DC_CIDADE, 
        PD.DC_ESTRUTURA_GEO2 DC_UF, 
        PD.DC_NUMERO, 
        PD.DC_COMPLEMENTO, 
        PD.DC_REFERENCIA, 
        PD.DC_CODIGO_POSTAL, 
		(SELECT COUNT(*) FROM TB_PEDIDO_EMBALAGEM WHERE NM_PEDIDO = PE.NM_PEDIDO) QT_VOLUMES,
		'' DC_TIPO_SERVICO
        From TB_PEDIDO PE, TB_PEDIDO_SEQUOIA PS, TB_PEDIDO_ENDERECO PD 
        WHERE PE.NM_PEDIDO = PS.NM_PEDIDO 
        And PE.NM_PEDIDO = PD.NM_PEDIDO
GO
