SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PEDIDO_ULTIMA_ATUALIZACAO]
WITH SCHEMABINDING
AS
SELECT
    src.NM_PEDIDO,
    MAX(src.DT_EVENTO) AS DT_ULTIMA_ATUALIZACAO
FROM (
    /* — Último evento do histórico — */
    SELECT
        H.NM_PEDIDO,
        MAX(H.DT_ATUALIZACAO) AS DT_EVENTO
    FROM dbo.TB_PEDIDO_HISTORICO AS H (nolock)
    GROUP BY H.NM_PEDIDO

    UNION ALL

    /* — Última NF de saída emitida — */
    SELECT
        NF.NM_PEDIDO,
        MAX(NF.DT_RECEBIMENTO_NFE) AS DT_EVENTO
    FROM dbo.TB_NOTA_FISCAL AS NF  (nolock)
    WHERE NF.ID_SITUACAO_NOTA_FISCAL > 1          -- emitida
      AND NF.ID_TIPO_NOTA_FISCAL   = 2            -- saída
    GROUP BY NF.NM_PEDIDO
) AS src
WHERE src.DT_EVENTO IS NOT NULL
GROUP BY src.NM_PEDIDO;
GO
