SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ApiConsultaContasReceber]
AS

	SELECT PD.NM_PEDIDO "orderId",
		   D.CD_PESSOA "customerId",
		   D.CD_DIVIDA "id",
		   P.CD_PARCELA "installmentId",
		   P.CD_PARCELA_EXTERNO "externaInstallmentId",
		   PD.CD_PLANO_PAGAMENTO "idPaymentPlan",
		   PP.DC_PLANO_PAGAMENTO "paymentPlanName",
		   D.ID_MEIO_PAGAMENTO "paymentForm",
		   P.VL_ORIGINAL_PARCELA "originalValue",
		   P.VL_ATUALIZADO_PARCELA "updatedValue",
		   P.VL_ORIGINAL_PARCELA_SALDO "leftOverValue",
		   P.DT_VENCIMENTO "dueDate",
		   P.ID_SITUACAO_PARCELA "installmentStatus",
		   P.ID_SITUACAO_PAGAMENTO_PARCELA "installmentPaymentStatus",
		   D.ID_SITUACAO_DIVIDA "accountStatus",
		   D.ID_SITUACAO_PAGAMENTO "accountPaymentStatus"
	  FROM TB_DIVIDA D WITH(NOLOCK), TB_PARCELA P WITH(NOLOCK), TB_PEDIDO PD WITH(NOLOCK), TB_PLANO_PAGAMENTO PP WITH(NOLOCK)
	 WHERE D.CD_DIVIDA = P.CD_DIVIDA
	   AND PD.NM_PEDIDO = D.NM_PEDIDO
	   AND PP.CD_PLANO_PAGAMENTO = PD.CD_PLANO_PAGAMENTO
GO
