SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[VW_PEDIDO_PARCELA]
AS

SELECT      PD.NM_PEDIDO,
			PA.CD_PARCELA,
			convert(varchar(10), PA.DT_VENCIMENTO, 103) DT_VENCIMENTO,
			PA.VL_ORIGINAL_PARCELA,
			PD.CD_LOTE_SEPARACAO
FROM        TB_PEDIDO PD with (NOLOCK) , TB_DIVIDA DI with (NOLOCK) , TB_PARCELA PA with (NOLOCK) 
WHERE		PD.NM_PEDIDO = DI.NM_PEDIDO
	AND		DI.CD_DIVIDA = PA.CD_DIVIDA	
  










GO
