SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PedidoItensIncorporados]
AS

SELECT	DBO.FN_BUSCA_COD_PRODUTO_VENDA_EXTERNO(PD.CD_PRODUTO_VENDA) "Cód Produto",
		DBO.FN_BUSCA_NOME_PRODUTO(PD.CD_PRODUTO_VENDA) "Produto", 
		PD.QT_RESERVADA "Qtd Reservada", 
		PD.VL_CREDITO_TOTAL "Crédito Total",
		PD.VL_PONTOS "Pontuação Total",
		CASE I.ID_COBRADO WHEN 1 THEN PD.VL_PAGAR_TOTAL ELSE 0 END "Valor Total", 
		CASE I.ID_ORIGEM_ITEM_INCORPORAR WHEN 1 THEN 'Atendimento SAC Número' + CONVERT(varchar(18),I.CD_ORIGEM_ITEM_INCORPORAR)
		WHEN 2 THEN 'Indicação Efetivada da Pessoa código ' + convert(varchar(18),I.CD_PESSOA_INDICADA) + '. Pedido Nro ' + CONVERT(VARCHAR(18), I.NM_PEDIDO_ORIGEM)
		WHEN 3 THEN 'Campanha de Pontos ' + (SELECT ISNULL(C.DC_CAMPANHA,'') FROM TB_CAMPANHA C WHERE C.CD_CAMPANHA = I.CD_ORIGEM_ITEM_INCORPORAR)
		WHEN 4 THEN 'Cadastro Manual'
		WHEN 5 THEN DC_MOTIVO
		END "Origem Item",
		PD.NM_PEDIDO Pedido
		--'Produto ' + P.DC_PRODUTO_VENDA + '<br />QTDE: ' + convert(varchar,PD.QT_RESERVADA) + ' Valor a Pagar: '+ convert(varchar,PD.VL_PAGAR_TOTAL) RESUMO_ITEM,
        --(SELECT  DC_LOCAL_LEITURA_IMAGENS_PRODUTO FROM TB_ESCRITORIO_VIRTUAL_PARAMETRO with(nolock) WHERE CD_ESCRITORIO_VIRTUAL_PARAMETRO = 1) +
        --convert(varchar(500), isnull((select top 1 DC_IMAGEM from TB_PRODUTO_VENDA_FOTO with(nolock) where CD_PRODUTO_VENDA = PD.CD_PRODUTO_VENDA),'sem_imagem.jpg')) dcImagem
  FROM TB_PEDIDO_ITEM PD with(nolock), TB_ITEM_INCORPORAR I with(nolock), TB_PRODUTO_VENDA P WITH(NOLOCK)
 WHERE PD.CD_ORIGEM_ITEM_PEDIDO = I.CD_ITEM_INCORPORAR
   AND PD.ID_ORIGEM_ITEM_PEDIDO = 3
   AND PD.NM_PEDIDO_ITEM_CONJUNTO = 0
   AND P.CD_PRODUTO_VENDA = PD.CD_PRODUTO_VENDA
GO
