SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vw_ApiConsultaProdutoPreco]
AS

	SELECT P.CD_PRODUTO_VENDA_EXTERNO "code",
		   PP.CD_PRODUTO_VENDA_PRECO "priceCode",
		   PP.VL_PRECO "price",
		   PP.VL_PRECO_DE "previousPrice",
		   PP.VL_CREDITO "creditValue",
		   PP.VL_PONTOS "points",
		   PP.NM_CICLO_INICIAL "initialPeriod",
		   PP.NM_CICLO_FINAL "endPeriod",
		   PP.DT_DATA_INICIAL "initialDate",
		   PP.DT_DATA_FINAL "endDate"
	  FROM TB_PRODUTO_VENDA_PRECO PP WITH(NOLOCK), TB_PRODUTO_VENDA P WITH(NOLOCK)
	 WHERE P.CD_PRODUTO_VENDA = PP.CD_PRODUTO_VENDA
GO
