SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_TransferenciaConsultaTransferenciasPendentes]
AS
	SELECT  CD_TRANSFERENCIA,
			CD_PESSOA,
			VL_TRANSFERENCIA,
			DC_LOGIN_CONTA_SERVICO_EXTERNO,
			DC_ID_CONTA_SERVICO_EXTERNO,
			DC_EMAIL_CONTA_SERVICO_EXTERNO
	  FROM TB_TRANSFERENCIA_AUTOMATICA WITH(NOLOCK)
	 WHERE ID_SITUACAO_TRANSFERENCIA = 1
GO
