SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_IntegracaoOmieConsultaPedidoParcelas]
AS

	   	SELECT P.NM_PEDIDO,
		   PA.DT_VENCIMENTO,
		   PA.VL_ORIGINAL_PARCELA,
		   CASE D.ID_MEIO_PAGAMENTO
		   WHEN 1 THEN 'BOL'
		   WHEN 2 THEN 'CRC'
		   WHEN 3 THEN 'WSITE'
		   WHEN 4 THEN 'DIN'
		   WHEN 5 THEN 'CHQ'
		   WHEN 6 THEN 'CRD'
		   WHEN 7 THEN 'CRC'
		   WHEN 8 THEN '99999'
		   WHEN 9 THEN 'BOL'
		   WHEN 10 THEN 'TRA'
		   WHEN 11 THEN 'CRC'
		   END TP_PAGAMENTO,
		   CASE D.ID_MEIO_PAGAMENTO
		   WHEN 1 THEN '15'
		   WHEN 2 THEN '03'
		   WHEN 3 THEN '99'
		   WHEN 4 THEN '01'
		   WHEN 5 THEN '02'
		   WHEN 6 THEN '04'
		   WHEN 7 THEN '03'
		   WHEN 8 THEN '99'
		   WHEN 9 THEN '15'
		   WHEN 10 THEN '16'
		   WHEN 11 THEN '03'
		   END MEIO_PAGAMENTO
	  FROM TB_PEDIDO P WITH(NOLOCK), TB_DIVIDA D WITH(NOLOCK), TB_PARCELA PA WITH(NOLOCK)
	 WHERE D.NM_PEDIDO = P.NM_PEDIDO
	   AND D.CD_DIVIDA = PA.CD_DIVIDA
	   AND PA.ID_SITUACAO_PAGAMENTO_PARCELA <> 4
	   AND PA.VL_ORIGINAL_PARCELA > 0
GO
