SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaExtratoContaCorrente]
AS

	SELECT CD_PESSOA "customerId",
		   CD_FUNCAO "function",
		   DT_MOVIMENTO "date",
		   ID_TIPO_MOVIMENTO "type",
		   VL_MOVIMENTO "value",
		   DC_OBSERVACOES "details",
		   dbo.FN_BUSCA_DOMINIO('ORIGEM_MOVIMENTO',ID_ORIGEM_MOVIMENTO) "origin",
		   NM_ORIGEM_MOVIMENTO "originDetail",
		   dbo.FN_BUSCA_DOMINIO('TIPO_MOVIMENTO',ID_TIPO_MOVIMENTO) "action",
		   CD_CENTRO_DISTRIBUICAO "distributionCenterId",
		   (SELECT CD.DC_CENTRO_DISTRIBUICAO FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO) "distributionCenterName"
	  FROM TB_PESSOA_CONTA_CORRENTE P WITH(NOLOCK)
GO
