SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vw_IntegracaoSeniorConsultaPedidosParcelas]
AS


	   SELECT	P.NM_PEDIDO, 
				'I' opeExe,
				PA.DT_VENCIMENTO vctPar, 
				PA.VL_ORIGINAL_PARCELA vlrPar,
				--PA.VL_ORIGINAL_PARCELA_SALDO vlrPar, 
				
				CASE (SELECT PP.ID_TIPO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) 
					-- A VISTA
					WHEN 1 THEN
						'0'
					ELSE
						'1'
				END indPag,
				
				'2' tipInt,

				(SELECT PP.ID_MEIO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) ID_MEIO_PAGAMENTO,
				(SELECT PP.ID_TIPO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) ID_TIPO_PAGAMENTO,
				
				(SELECT MIN(SE.DC_CODIGO_TRANSACAO) 
				FROM TB_SERVICO_EXTERNO_TRANSACAO SE 
				WHERE SE.DC_CODIGO_REFERENCIA = P.NM_PEDIDO
				AND SE.CD_STATUS_TRANSACAO = 2) catTef,

				--'' catTef,
				
				(SELECT MIN(SE.DC_CODIGO_NOTIFICACAO) 
				FROM TB_SERVICO_EXTERNO_TRANSACAO SE 
				WHERE SE.DC_CODIGO_REFERENCIA = P.NM_PEDIDO
				AND SE.CD_STATUS_TRANSACAO = 2) nsuTef,

				--'' nsuTef,

				'07355049000106' cgcCre,
			
				--ISNULL((SELECT A.DC_CONPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_SENIOR A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO), '001') codCpg,
				--ISNULL((SELECT A.DC_FORPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_SENIOR A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO), '5') codFpg,
				
				--CASE (SELECT D.ID_MEIO_PAGAMENTO from tb_plano_pagamento D WHERE D.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO)
				---- CARTÃO DE CREDITO
				--WHEN 7 THEN
				--	ISNULL((SELECT A.DC_CONPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO AND A.NM_PARCELA = P.QT_PARCELAS), '001')
				--ELSE
				--	ISNULL((SELECT A.DC_CONPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO), '001')
				--END codCpg,


				CASE (SELECT D.ID_MEIO_PAGAMENTO from tb_plano_pagamento D WHERE D.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO)
				-- CARTÃO DE CREDITO
				WHEN 7 THEN
						CASE (SELECT ISNULL(MIN(A.DC_CONPAG_EXTERNO), '') FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO 
									AND A.NM_PARCELA IN (SELECT NM_PARCELAS FROM TB_SERVICO_EXTERNO_TRANSACAO
									WHERE CD_SERVICO_EXTERNO_TRANSACAO IN (
									SELECT MAX(CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO
									WHERE DC_CODIGO_REFERENCIA = P.NM_PEDIDO
									AND CD_MEIO_PAGAMENTO = 7
									AND CD_STATUS_TRANSACAO = 2))
									)
						WHEN '' THEN

							CASE (SELECT D.ID_MEIO_PAGAMENTO from tb_plano_pagamento D WHERE D.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO)
							-- CARTÃO DE CREDITO
							WHEN 7 THEN
								ISNULL((SELECT A.DC_CONPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO AND A.NM_PARCELA = P.QT_PARCELAS), '001')
							ELSE
								ISNULL((SELECT A.DC_CONPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO), '001')
							END 

						ELSE
							(SELECT ISNULL(MIN(A.DC_CONPAG_EXTERNO), '') FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO 
								AND A.NM_PARCELA IN (SELECT NM_PARCELAS FROM TB_SERVICO_EXTERNO_TRANSACAO
								WHERE CD_SERVICO_EXTERNO_TRANSACAO IN (
								SELECT MAX(CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO
								WHERE DC_CODIGO_REFERENCIA = P.NM_PEDIDO
								AND CD_MEIO_PAGAMENTO = 7
								AND CD_STATUS_TRANSACAO = 2))
							)
						END
				ELSE
					(SELECT ISNULL(MIN(A.DC_CONPAG_EXTERNO), '') FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO)
				END codCpg,
										
				
				--CASE (SELECT D.ID_MEIO_PAGAMENTO from tb_plano_pagamento D WHERE D.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO)
				---- CARTÃO DE CREDITO
				--WHEN 7 THEN
				--	ISNULL((SELECT A.DC_FORPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO AND A.NM_PARCELA = P.QT_PARCELAS), '5')
				--ELSE
				--	ISNULL((SELECT A.DC_FORPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO), '5')
				--END codFpg,


				CASE (SELECT D.ID_MEIO_PAGAMENTO from TB_PLANO_PAGAMENTO D WHERE D.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO)
				-- CARTÃO DE CREDITO
				WHEN 7 THEN
					CASE (SELECT ISNULL(MIN(A.DC_FORPAG_EXTERNO), '') FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO 
						AND A.NM_PARCELA IN (SELECT NM_PARCELAS FROM TB_SERVICO_EXTERNO_TRANSACAO
						WHERE CD_SERVICO_EXTERNO_TRANSACAO IN (
						SELECT MAX(CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO
						WHERE DC_CODIGO_REFERENCIA = P.NM_PEDIDO
						AND CD_MEIO_PAGAMENTO = 7
						AND CD_STATUS_TRANSACAO = 2))
						)	
					WHEN '' THEN

						CASE (SELECT D.ID_MEIO_PAGAMENTO from tb_plano_pagamento D WHERE D.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO)
						-- CARTÃO DE CREDITO
						WHEN 7 THEN
							ISNULL((SELECT A.DC_FORPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO AND A.NM_PARCELA = P.QT_PARCELAS), '5')
						ELSE
							ISNULL((SELECT A.DC_FORPAG_EXTERNO FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO), '5')
						END

					ELSE
						(SELECT ISNULL(MIN(A.DC_FORPAG_EXTERNO), '') FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO 
						AND A.NM_PARCELA IN (SELECT NM_PARCELAS FROM TB_SERVICO_EXTERNO_TRANSACAO
						WHERE CD_SERVICO_EXTERNO_TRANSACAO IN (
						SELECT MAX(CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO
						WHERE DC_CODIGO_REFERENCIA = P.NM_PEDIDO
						AND CD_MEIO_PAGAMENTO = 7
						AND CD_STATUS_TRANSACAO = 2))
						)	

					END

				ELSE
					(SELECT ISNULL(MIN(A.DC_FORPAG_EXTERNO), '') FROM TB_PLANO_PAGAMENTO_INTEGRACAO A WHERE A.CD_PLANO_PAGAMENTO = P.CD_PLANO_PAGAMENTO)
				END codFpg,

							   				
				CASE (SELECT PP.ID_MEIO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO)
					-- CARTÃO DE CREDITO
					WHEN 7 THEN
						CASE P.DC_BANDEIRA_CARTAO
							WHEN 'Visa' THEN
								'01'
							WHEN 'Mastercard' THEN
								'02'
							WHEN 'Master' THEN
								'02'
							ELSE
								'99'
						END 
					ELSE
						'99'
					END banOpe

	   FROM TB_PARCELA PA, TB_DIVIDA DI, TB_PEDIDO P, TB_PLANO_PAGAMENTO PP
	   WHERE P.NM_PEDIDO = DI.NM_PEDIDO
	   AND PA.CD_DIVIDA = DI.CD_DIVIDA
	   AND P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO
	   -- *************************************************************************
	   -- SOMENTE VAMOS ENVIAR PARCELAS SE FOR A VISTA OU CARTÃO DE CREDITO EM VIRTUDE DAS INFORMAÇÕES DE NSU E TEF
	   -- *************************************************************************
	   -- AND (SELECT PP.ID_TIPO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) = 1
	   -- AND PP.ID_MEIO_PAGAMENTO <> 7 AND PP.ID_TIPO_PAGAMENTO = 1
	   AND (PP.ID_MEIO_PAGAMENTO = 7 OR PP.ID_TIPO_PAGAMENTO = 1)

	   --AND P.NM_PEDIDO = 949
	   --ORDER BY PA.DT_VENCIMENTO ASC
	   






















GO
