SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_IntegracaoOmieConsultaPedidosAtualizacao]
AS

	SELECT P.NM_PEDIDO,
		   P.CD_PESSOA,
		   P.CD_EST_SITUACAO,
		   P.NM_PEDIDO_EXTERNO
	  FROM TB_PEDIDO P WITH(NOLOCK), TB_PESSOA PE WITH(NOLOCK)
	 WHERE P.CD_EST_SITUACAO NOT IN (3,9) -- cancelados e finalizados
	   AND p.NM_PEDIDO_EXTERNO > 0
	   AND PE.CD_PESSOA = P.CD_PESSOA
GO
