SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER VIEW [dbo].[vw_IntegracaoSShowCDBaixaEstoquePendente]      
AS      
      
SELECT CD_CENTRO_DISTRIBUICAO,      
    CD_CENTRO_DISTRIBUICAO_EXTERNO,      
    DC_CENTRO_DISTRIBUICAO,      
    ID_SITUACAO      
FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK)
OUTER APPLY (SELECT TOP 1 1 AS EXISTE      
    FROM TB_PEDIDO P      
    OUTER APPLY (SELECT TOP 1 1 AS EXISTE      
        FROM TB_LOG_INTEGRACAO_ITEM LII WITH(NOLOCK)     
        INNER JOIN TB_LOG_INTEGRACAO LI WITH(NOLOCK)
        ON LI.CD_LOG_INTEGRACAO = LII.CD_LOG_INTEGRACAO      
        WHERE LI.CD_INTEGRACAO = 1      
          AND LII.NM_VALOR_INTEGRACAO_ITEM = P.NM_PEDIDO  
          AND LII.ID_SITUACAO_INTEGRACAO = 3  
    ) AS PROCESSAMENTO_INTEGRACAO      
    WHERE P.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO      
      AND (P.CD_EST_SITUACAO BETWEEN 7 AND 10 OR (P.CD_EST_SITUACAO = 6 AND CD.ID_MOMENTO_FATURAMENTO = 1))     
      AND PROCESSAMENTO_INTEGRACAO.EXISTE IS NULL) AS BAIXA_PENDENTE      
WHERE CD.ID_SITUACAO = 1      
  AND BAIXA_PENDENTE.EXISTE IS NOT NULL 
GO
