SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_ApiConsultaPessoaCentroDistribuicao]    
AS    
    
SELECT    
   PR.CD_PESSOA AS CustomerId,    
   CD.CD_CENTRO_DISTRIBUICAO AS id,    
   CD.CD_CENTRO_DISTRIBUICAO_EXTERNO AS externalCode,    
   CD.ID_TIPO_CD AS typeCD,
   CD.DC_CENTRO_DISTRIBUICAO AS name,    
   PE.DC_CODIGO_POSTAL AS [Address.ZipCode],    
   PE.DC_ESTRUTURA_GEO1 AS [Address.Country],    
   PE.DC_ESTRUTURA_GEO2 AS [Address.State],    
   PE.DC_ESTRUTURA_GEO3 AS [Address.City],    
   PE.DC_ESTRUTURA_GEO4 AS [Address.District],    
   PE.DC_ESTRUTURA_GEO5 AS [Address.Street],    
   PE.DC_NUMERO AS [Address.Number],    
   PE.DC_COMPLEMENTO AS [Address.Complement],
   CD.ID_SITUACAO [Status],
   CASE (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL R WITH(NOLOCK)
		 WHERE R.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
		 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_APLICACAO RA WITH(NOLOCK)	
					 WHERE RA.CD_REGRA_COMERCIAL = R.CD_REGRA_COMERCIAL AND R.ID_SITUACAO = 1
					 AND RA.ID_APLICACAO = 1)) WHEN 0 THEN 0 ELSE 1 END [HasVirtualSales],
   CASE (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL R WITH(NOLOCK)
		 WHERE R.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
		 AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_APLICACAO RA WITH(NOLOCK)	
					 WHERE RA.CD_REGRA_COMERCIAL = R.CD_REGRA_COMERCIAL AND R.ID_SITUACAO = 1
					 AND RA.ID_APLICACAO = 3
					 )) WHEN 0 THEN 0 ELSE 1 END [HasPhysicalSales]
FROM TB_PESSOA_RESUMO PR    
INNER JOIN TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL CDEC    
ON CDEC.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL    
INNER JOIN TB_CENTRO_DISTRIBUICAO CD    
ON CD.CD_CENTRO_DISTRIBUICAO = CDEC.CD_CENTRO_DISTRIBUICAO    
LEFT JOIN TB_PESSOA_ENDERECO PE    
ON PE.CD_PESSOA = CD.CD_EMPRESA AND PE.ID_TIPO_ENDERECO = 3    
WHERE PR.CD_EST_COMERCIAL IS NOT NULL        
/*  
COMENTADO O FILTRO DE SITUAÇÃO POIS A CS PEDIU PRA RETORNAR MESMO QUE O CD ESTEJA INATIVO GUILHERME UTRABO - 2024-10-07  
*/  
-- AND CD.ID_SITUACAO = 1 --SÓ CDS ATIVOS
GO
