SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_RdStationConsultaCadastrosPJ]
AS

select pj.CD_PESSOA, pj.DC_RAZAO_SOCIAL, pj.DC_NOME_FANTASIA, pj.DT_CADASTRO, pr.NM_CICLO_ATUAL,
(select DC_PAPEL_DESEMPENHO from TB_PAPEL_DESEMPENHO with(nolock) where CD_PAPEL_DESEMPENHO = pr.CD_PAPEL_DESEMPENHO) reconhecimento,
(select DC_PAPEL_CARREIRA from TB_PAPEL_CARREIRA with(nolock) where CD_PAPEL_CARREIRA = pr.CD_PAPEL_CARREIRA) qualificacao,
(select DC_SITUACAO_COMERCIAL_DETALHE from TB_NIVEL_SITUACAO_COMERCIAL_DETALHE with(nolock) WHERE CD_SITUACAO_COMERCIAL_DETALHE = (
(select CD_SITUACAO_COMERCIAL_DETALHE from TB_HIST_SITUACAO_CONSULTORA with(nolock) where CD_PESSOA = pr.CD_PESSOA and NM_CICLO = pr.NM_CICLO_ATUAL))) SIT_COMERCIAL,
(select DC_EMAIL from TB_PESSOA_EMAIL with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_EMAIL = 1) email,
(select DC_TELEFONE from TB_PESSOA_TELEFONE with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_TELEFONE = 1) tel_residencial,
(select DC_TELEFONE from TB_PESSOA_TELEFONE with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_TELEFONE = 2) tel_comercial,
(select DC_TELEFONE from TB_PESSOA_TELEFONE with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_TELEFONE = 3) tel_celular,
(select DC_ESTRUTURA_GEO1 from TB_PESSOA_ENDERECO with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_ENDERECO = 3) pais,
(select DC_ESTRUTURA_GEO2 from TB_PESSOA_ENDERECO with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_ENDERECO = 3) uf,
(select DC_ESTRUTURA_GEO3 from TB_PESSOA_ENDERECO with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_ENDERECO = 3) cidade,
(select DC_ESTRUTURA_GEO4 from TB_PESSOA_ENDERECO with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_ENDERECO = 3) bairro,
(select DC_ESTRUTURA_GEO5 from TB_PESSOA_ENDERECO with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_ENDERECO = 3) logradouro,
(select DC_CODIGO_POSTAL from TB_PESSOA_ENDERECO with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_ENDERECO = 3) cep,
pr.CD_PESSOA_VINCULADA patrocinador,
(select DC_DOCUMENTO from TB_PESSOA_DOCUMENTO with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_DOCUMENTO = 1) cnpj,
(select DC_DOCUMENTO from TB_PESSOA_DOCUMENTO with(nolock) where CD_PESSOA = pr.CD_PESSOA and ID_TIPO_DOCUMENTO = 2) ie
from TB_PESSOA_JURIDICA pj with(nolock), TB_PESSOA_RESUMO pr with(nolock)
where pj.CD_PESSOA = pr.CD_PESSOA
AND pr.CD_FUNCAO = 2
AND PR.CD_PAPEL_CARREIRA IN (5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)-- NO CASO DA KENKO ENVIAREMOS TODOS OS CADASTROS NOS PAPÉIS PRATA E ACIMA

GO
