SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[vw_IntegracaoSeniorConsultaAtualizacaoSituacaoPedidoPendente]
AS

		SELECT	CD_SENIOR_SITUACAO_PEDIDO,
				NM_PEDIDO,
				NM_PEDIDO_EXTERNO,
				DC_SITUACAO_SENIOR,
				NM_LOTE,
				ID_SITUACAO_PROCESSAMENTO,
				DT_PROCESSAMENTO,
				DT_CADASTRO,
				DC_PORTADOR
		FROM TB_WRK_SENIOR_SITUACAO_PEDIDO
		WHERE ID_SITUACAO_PROCESSAMENTO = 1
		AND NM_PEDIDO > 0
		--AND NM_PEDIDO = 404277
		--AND CD_SENIOR_SITUACAO_PEDIDO <= 4626


GO
