SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE VIEW [dbo].[VW_EXTRATO_PEDIDO]
AS
SELECT      pd.NM_PEDIDO,
			pd.DT_CAPTACAO_PEDIDO,
			pd.DC_LINK_RASTREIO,
			(SELECT sum(X.vl_peso_teorico) from tb_pedido_embalagem X with (NOLOCK) where X.nm_pedido = PD.NM_PEDIDO) VL_PESO,
			pd.CD_PESSOA,
			(select rc.DC_REGRA_COMERCIAL from TB_REGRA_COMERCIAL rc with (NOLOCK) where rc.CD_REGRA_COMERCIAL = pd.CD_REGRA_COMERCIAL) DC_REGRA_COMERCIAL,
			dbo.FN_BUSCA_NOME_PESSOA(pd.CD_PESSOA) AS NomeCompleto,
			isnull(pd.VL_LIQUIDO_TOTAL,0) VL_LIQUIDO_TOTAL, 
			isnull(pd.VL_TABELA_TOTAL,0) VL_TABELA_TOTAL, 
			isnull(pd.VL_PRATICADO_TOTAL,0) VL_PRATICADO_TOTAL, 
			isnull(pd.VL_COMISSAO_CN,0) VL_COMISSAO_CN, 
			0 CD_DIVIDA, 
			ISNULL(GETDATE(),'') DT_GERACAO_DIVIDA, 
			ISNULL(pd.VL_PAGAR_TOTAL,0) VL_ORIGINAL_DIVIDA_SALDO, 
			convert(varchar(10),(SELECT ISNULL(MIN(PA.DT_VENCIMENTO),'') FROM TB_PARCELA PA with (NOLOCK) WHERE PA.CD_DIVIDA = (select max(dv.cd_divida) from TB_DIVIDA dv with (NOLOCK)
			where dv.NM_PEDIDO = pd.NM_PEDIDO and dv.ID_SITUACAO_DIVIDA <> 4)
			),103) DT_VENCIMENTO, 
			pp.DC_PLANO_PAGAMENTO,
			--'PagSeguro'
			--+ ' ' +
			--ISNULL(
			--(SELECT	c.DC_METODO_PAGAMENTO
			--from tb_Servico_Externo_transacao c, 
			--(SELECT (case 
					 --WHEN pd.NM_PEDIDO > 37033 THEN
					--(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						--from tb_Servico_Externo_transacao B, 
						--(select max(cd_servico_externo_transacao) cd_transacao
							--from tb_Servico_Externo_transacao where dc_codigo_referencia = PD.NM_PEDIDO) A
							--where a.cd_transacao = b.cd_servico_externo_transacao)
					--ELSE
						--(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						--from tb_Servico_Externo_transacao B, 
						--(select max(cd_servico_externo_transacao) cd_transacao
						--	from tb_Servico_Externo_transacao where dc_codigo_referencia IN  
						--	(SELECT PA.CD_PARCELA FROM TB_PARCELA PA, TB_DIVIDA DVI WHERE DVI.CD_DIVIDA = PA.CD_DIVIDA
						--	AND DVI.NM_PEDIDO = PD.NM_PEDIDO AND PA.ID_SITUACAO_PAGAMENTO_PARCELA <> 4)) A
						--	where a.cd_transacao = b.cd_servico_externo_transacao)
					--END ) CD_TRANSACAO ) A
				--where a.cd_transacao = c.cd_servico_externo_transacao) + ' - ' +
			--(SELECT	convert(nvarchar(10),c.NM_PARCELAS)
			--from tb_Servico_Externo_transacao c, 
			--(SELECT (case 
					 --WHEN pd.NM_PEDIDO > 37033 THEN
--						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
	--					from tb_Servico_Externo_transacao B, 
		--				(select max(cd_servico_externo_transacao) cd_transacao
			--				from tb_Servico_Externo_transacao where dc_codigo_referencia = PD.NM_PEDIDO) A
			--				where a.cd_transacao = b.cd_servico_externo_transacao)
			--		ELSE
			--			(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
			--			from tb_Servico_Externo_transacao B, 
			--			(select max(cd_servico_externo_transacao) cd_transacao
			--				from tb_Servico_Externo_transacao where dc_codigo_referencia IN  
			--				(SELECT PA.CD_PARCELA FROM TB_PARCELA PA, TB_DIVIDA DVI WHERE DVI.CD_DIVIDA = PA.CD_DIVIDA
			--				AND DVI.NM_PEDIDO = PD.NM_PEDIDO AND PA.ID_SITUACAO_PAGAMENTO_PARCELA <> 4)) A
			--				where a.cd_transacao = b.cd_servico_externo_transacao)
			--		END ) CD_TRANSACAO ) A
			--	where a.cd_transacao = c.cd_servico_externo_transacao) + ' vez(es).'
			--,'') DC_PLANO_PAGAMENTO, 
			SUBSTRING(pde.DC_ESTRUTURA_GEO5 + ', ' + pde.DC_ESTRUTURA_GEO4 + ', ' + pde.DC_ESTRUTURA_GEO3 + '-' + pde.DC_ESTRUTURA_GEO2,0,80) DC_EST_GEOGRAFICA, 
			pde.DC_CODIGO_POSTAL, 
			pde.DC_NUMERO, 
			pde.DC_COMPLEMENTO, 
			pde.DC_REFERENCIA,
			pd.CD_POLITICA_ENTREGA,
			pe.DC_POLITICA_ENTREGA + ' ' + isnull(pd.DC_TIPO_ENTREGA,'') DC_POLITICA_ENTREGA,
			dbo.FN_BUSCA_DOCUMENTO_PESSOA(pd.CD_PESSOA,1) DOCUMENTO,
			pd.VL_FRETE_TOTAL,
			(SELECT CONVERT(CHAR(10), PF.DT_NASCIMENTO,103) FROM TB_PESSOA_FISICA PF with (NOLOCK) WHERE PF.CD_PESSOA = PD.CD_PESSOA) DT_NASCIMENTO,
			(SELECT PEM.DC_EMAIL FROM TB_PESSOA_EMAIL PEM with (NOLOCK) WHERE PEM.CD_PESSOA = PD.CD_PESSOA AND PEM.ID_TIPO_EMAIL = 1) DC_EMAIL,
			(SELECT PT.DC_TELEFONE FROM TB_PESSOA_TELEFONE PT with (NOLOCK) WHERE PT.CD_PESSOA = PD.CD_PESSOA AND PT.ID_TIPO_TELEFONE = 1) DC_FONE_RESIDENCIAL,
			(SELECT PT.DC_TELEFONE FROM TB_PESSOA_TELEFONE PT with (NOLOCK) WHERE PT.CD_PESSOA = PD.CD_PESSOA AND PT.ID_TIPO_TELEFONE = 2) DC_FONE_COMERCIAL,
			(SELECT PT.DC_TELEFONE FROM TB_PESSOA_TELEFONE PT with (NOLOCK) WHERE PT.CD_PESSOA = PD.CD_PESSOA AND PT.ID_TIPO_TELEFONE = 3) DC_FONE_CELULAR,
			PD.CD_EST_SITUACAO,
			ES.DC_EST_SITUACAO,
			(case 
			 WHEN pd.NM_PEDIDO > 37033 THEN
				(SELECT	B.DC_CODIGO_TRANSACAO
				from tb_Servico_Externo_transacao B with (NOLOCK), 
				(select max(cd_servico_externo_transacao) cd_transacao
					from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia = PD.NM_PEDIDO) A
					where a.cd_transacao = b.cd_servico_externo_transacao)
			ELSE
				(SELECT	B.DC_CODIGO_TRANSACAO
				from tb_Servico_Externo_transacao B with (NOLOCK), 
				(select max(cd_servico_externo_transacao) cd_transacao
					from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia IN  
					(SELECT PA.CD_PARCELA FROM TB_PARCELA PA with (NOLOCK), TB_DIVIDA DVI with (NOLOCK) WHERE DVI.CD_DIVIDA = PA.CD_DIVIDA
					AND DVI.NM_PEDIDO = PD.NM_PEDIDO AND PA.ID_SITUACAO_PAGAMENTO_PARCELA <> 4)) A
					where a.cd_transacao = b.cd_servico_externo_transacao)
			END ) DC_CODIGO_TRANSACAO,
			(SELECT	CASE c.CD_STATUS_TRANSACAO  
				 WHEN '1' THEN 'Aguardando pagamento'  
				 WHEN '2' THEN 'Em análise'  
				 WHEN '3' THEN 'Paga'  
				 WHEN '4' THEN 'Disponível'  
				 WHEN '5' THEN 'Em disputa'  
				 WHEN '6' THEN 'Devolvida'  
				 WHEN '7' THEN 'Cancelada'  
				 ELSE 'Outros'  
			END from tb_Servico_Externo_transacao c with (NOLOCK), 
				(SELECT (case 
					 WHEN pd.NM_PEDIDO > 37033 THEN
						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						from tb_Servico_Externo_transacao B with (NOLOCK), 
						(select max(cd_servico_externo_transacao) cd_transacao
							from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia = PD.NM_PEDIDO) A
							where a.cd_transacao = b.cd_servico_externo_transacao)
					ELSE
						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						from tb_Servico_Externo_transacao B with (NOLOCK), 
						(select max(cd_servico_externo_transacao) cd_transacao
							from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia IN  
							(SELECT PA.CD_PARCELA FROM TB_PARCELA PA with (NOLOCK), TB_DIVIDA DVI with (NOLOCK) WHERE DVI.CD_DIVIDA = PA.CD_DIVIDA
							AND DVI.NM_PEDIDO = PD.NM_PEDIDO AND PA.ID_SITUACAO_PAGAMENTO_PARCELA <> 4)) A
							where a.cd_transacao = b.cd_servico_externo_transacao)
					END ) CD_TRANSACAO ) A
				where a.cd_transacao = c.cd_servico_externo_transacao) DC_STATUS_TRANSACAO,

			(SELECT	c.VL_BRUTO
			from tb_Servico_Externo_transacao c with (NOLOCK), 
			(SELECT (case 
					 WHEN pd.NM_PEDIDO > 37033 THEN
						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						from tb_Servico_Externo_transacao B with (NOLOCK), 
						(select max(cd_servico_externo_transacao) cd_transacao
							from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia = PD.NM_PEDIDO) A
							where a.cd_transacao = b.cd_servico_externo_transacao)
					ELSE
						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						from tb_Servico_Externo_transacao B with (NOLOCK), 
						(select max(cd_servico_externo_transacao) cd_transacao
							from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia IN  
							(SELECT PA.CD_PARCELA FROM TB_PARCELA PA with (NOLOCK), TB_DIVIDA DVI with (NOLOCK) WHERE DVI.CD_DIVIDA = PA.CD_DIVIDA
							AND DVI.NM_PEDIDO = PD.NM_PEDIDO AND PA.ID_SITUACAO_PAGAMENTO_PARCELA <> 4)) A
							where a.cd_transacao = b.cd_servico_externo_transacao)
					END ) CD_TRANSACAO ) A
				where a.cd_transacao = c.cd_servico_externo_transacao) VL_BRUTO,

			(SELECT	c.VL_LIQUIDO
			from tb_Servico_Externo_transacao c with (NOLOCK), 
			(SELECT (case 
					 WHEN pd.NM_PEDIDO > 37033 THEN
						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						from tb_Servico_Externo_transacao B with (NOLOCK), 
						(select max(cd_servico_externo_transacao) cd_transacao
							from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia = PD.NM_PEDIDO) A
							where a.cd_transacao = b.cd_servico_externo_transacao)
					ELSE
						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						from tb_Servico_Externo_transacao B with (NOLOCK), 
						(select max(cd_servico_externo_transacao) cd_transacao
							from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia IN  
							(SELECT PA.CD_PARCELA FROM TB_PARCELA PA with (NOLOCK), TB_DIVIDA DVI with (NOLOCK) WHERE DVI.CD_DIVIDA = PA.CD_DIVIDA
							AND DVI.NM_PEDIDO = PD.NM_PEDIDO AND PA.ID_SITUACAO_PAGAMENTO_PARCELA <> 4)) A
							where a.cd_transacao = b.cd_servico_externo_transacao)
					END ) CD_TRANSACAO ) A
				where a.cd_transacao = c.cd_servico_externo_transacao) VL_LIQUIDO,

			(SELECT	(c.vl_bruto - c.vl_liquido)
			from tb_Servico_Externo_transacao c with (NOLOCK), 
			(SELECT (case 
					 WHEN pd.NM_PEDIDO > 37033 THEN
						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						from tb_Servico_Externo_transacao B with (NOLOCK), 
						(select max(cd_servico_externo_transacao) cd_transacao
							from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia = PD.NM_PEDIDO) A
							where a.cd_transacao = b.cd_servico_externo_transacao)
					ELSE
						(SELECT	B.CD_SERVICO_EXTERNO_TRANSACAO
						from tb_Servico_Externo_transacao B with (NOLOCK), 
						(select max(cd_servico_externo_transacao) cd_transacao
							from tb_Servico_Externo_transacao with (NOLOCK) where dc_codigo_referencia IN  
							(SELECT PA.CD_PARCELA FROM TB_PARCELA PA with (NOLOCK), TB_DIVIDA DVI with (NOLOCK) WHERE DVI.CD_DIVIDA = PA.CD_DIVIDA
							AND DVI.NM_PEDIDO = PD.NM_PEDIDO AND PA.ID_SITUACAO_PAGAMENTO_PARCELA <> 4)) A
							where a.cd_transacao = b.cd_servico_externo_transacao)
					END ) CD_TRANSACAO ) A
				where a.cd_transacao = c.cd_servico_externo_transacao) VL_TAXAS,
			(SELECT MAX(NF.NM_NOTA_FISCAL) FROM TB_NOTA_FISCAL NF with (NOLOCK) WHERE NF.NM_PEDIDO = PD.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2) NM_NOTA_FISCAL
FROM        dbo.TB_PEDIDO pd with (NOLOCK) LEFT JOIN dbo.TB_PLANO_PAGAMENTO PP with (NOLOCK) ON pd.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO
			, dbo.TB_PEDIDO_ENDERECO pde with (NOLOCK), TB_POLITICA_ENTREGA pe with (NOLOCK), TB_EST_SITUACAO ES with (NOLOCK)
WHERE		pd.NM_PEDIDO = pde.NM_PEDIDO
  AND		pe.CD_POLITICA_ENTREGA = pd.CD_POLITICA_ENTREGA
  AND		PD.CD_EST_SITUACAO = ES.CD_EST_SITUACAO
  












GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[52] 4[9] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TB_PEDIDO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 267
            End
            DisplayFlags = 280
            TopColumn = 19
         End
         Begin Table = "TB_PEDIDO_ENDERECO"
            Begin Extent = 
               Top = 8
               Left = 319
               Bottom = 127
               Right = 527
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_EST_GEOGRAFICA"
            Begin Extent = 
               Top = 6
               Left = 592
               Bottom = 125
               Right = 825
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_PESSOA_FISICA"
            Begin Extent = 
               Top = 140
               Left = 19
               Bottom = 259
               Right = 251
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_DIVIDA"
            Begin Extent = 
               Top = 145
               Left = 302
               Bottom = 264
               Right = 537
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "TB_PARCELA"
            Begin Extent = 
               Top = 140
               Left = 604
               Bottom = 259
               Right = 881
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "TB_PLANO_PAGAMENTO"
            Begin Extent = 
               Top = 264
               Left = 22
               Bottom = 383
               Right = 254
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_EXTRATO_PEDIDO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'          End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 29
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_EXTRATO_PEDIDO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_EXTRATO_PEDIDO'
GO
