SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ApiConsultaProdutoPrecoFuncoes]
AS

	SELECT P.CD_PRODUTO_VENDA_EXTERNO "code",
		   PP.CD_PRODUTO_VENDA_PRECO "priceCode",
		   PPF.CD_FUNCAO "function"
	  FROM TB_PRODUTO_VENDA_PRECO PP WITH(NOLOCK), TB_PRODUTO_VENDA P WITH(NOLOCK), TB_PRODUTO_VENDA_PRECO_FUNCAO PPF WITH(NOLOCK)
	 WHERE P.CD_PRODUTO_VENDA = PP.CD_PRODUTO_VENDA
	 AND PPF.CD_PRODUTO_VENDA_PRECO = PP.CD_PRODUTO_VENDA_PRECO
GO
