SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaCupom]
AS
SELECT 
    [CD_PESSOA_CUPOM_DESCONTO] AS IdCoupon,
    [CD_PESSOA] AS IdCustomer,
    [ID_MOTIVO_CUPOM_DESCONTO] AS CouponReason,
    [ID_TIPO_VOUCHER] AS CouponVoucherType,
    [ID_TIPO_BENEFICIO_CUPOM_DESCONTO] AS CouponBenefitType,
    [VL_BENEFICIO] AS CouponBenefitValue,
    [DC_CODIGO_CUPOM] AS CouponKey,
    CONVERT(varchar, [DT_CADASTRO], 103) AS CouponCreationDate,
    CONVERT(varchar, [DT_UTILIZACAO], 103) AS CouponUpdateDate,
    CONVERT(varchar, [DT_INICIAL], 103) AS CouponInitialValidity,
    CONVERT(varchar, [DT_FINAL], 103) AS CouponFinalValidity,
    [DT_CADASTRO] AS CouponCreationDateFilter,
    [DT_UTILIZACAO] AS CouponUpdateDateFilter,
    [DT_INICIAL] AS CouponInitialValidityFilter,
    [DT_FINAL] AS CouponFinalValidityFilter,
    [ID_SITUACAO_CUPOM_DESCONTO] AS CouponStatus,
    [NM_PEDIDO_UTILIZACAO] AS IdOrder,
    [VL_DESCONTO_APLICADO] AS DiscountCouponValue
FROM [dbo].[TB_PESSOA_CUPOM_DESCONTO]
GO
