SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ApiConsultaPedido]
AS

	SELECT NM_PEDIDO "idOrder",
	CASE P.CD_EST_SITUACAO WHEN 6 THEN 5 WHEN 7 THEN 5 WHEN 8 THEN 6 WHEN 10 THEN 7 WHEN 9 THEN 8 WHEN 101 THEN 1
	ELSE P.CD_EST_SITUACAO END AS "status",
	P.NM_PEDIDO_EXTERNO "externalId",
	P.NM_CICLO_CAPTACAO "period",
	P.NM_CICLO_APROVACAO "approvalPeriod",
	P.NM_CICLO_PAGAMENTO "paymentPeriod",
	P.NM_CICLO_FATURAMENTO "billingPeriod",
	P.NM_CICLO_CANCELAMENTO "cancellationPeriod",
	P.DT_CAPTACAO_PEDIDO "orderDate",
	P.DT_APROVACAO_PEDIDO "orderApprovalDate",
	P.DT_PAGAMENTO_PEDIDO "orderPaymentDate",
	P.DT_FATURAMENTO_PEDIDO "orderBillingDate",
	P.DT_CANCELAMENTO_PEDIDO "orderCancellationDate",
	(SELECT MAX(UltimoAcesso) AS UltimoAcesso FROM TB_PEDIDO_HISTORICO WITH(NOLOCK) UNPIVOT
        (UltimoAcesso FOR DateVal IN (DT_INICIAL, DT_FINAL)) 
         AS DT WHERE NM_PEDIDO = P.NM_PEDIDO) "lastUpdateDate",
	P.CD_PESSOA "customerId",
	PE.CD_PESSOA_EXTERNO "customerExternalId",
	P.CD_FUNCAO "function",
	P.CD_PAPEL_CARREIRA "role",
	P.CD_REGRA_COMERCIAL "ruleCode",
	(SELECT PT.DC_POLITICA_ENTREGA FROM TB_POLITICA_ENTREGA PT WITH(NOLOCK) WHERE PT.CD_POLITICA_ENTREGA = P.CD_POLITICA_ENTREGA) "shipping.name",
	P.VL_FRETE_TOTAL "shipping.value",
	P.NM_DIAS_ENTREGA_REAL "shipping.deliveryDays",
	(SELECT PEND.DC_CODIGO_POSTAL FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.zipCode",
	(SELECT PEND.DC_ESTRUTURA_GEO1 FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.country",
	(SELECT PEND.DC_ESTRUTURA_GEO2 FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.state",
	(SELECT PEND.DC_ESTRUTURA_GEO3 FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.city",
	(SELECT PEND.DC_ESTRUTURA_GEO4 FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.district",
	(SELECT PEND.DC_ESTRUTURA_GEO5 FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.street",
	(SELECT PEND.DC_NUMERO FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.number",
	(SELECT PEND.DC_COMPLEMENTO FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.complement",
	(SELECT PEND.DC_REFERENCIA FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.reference",
	(SELECT DBO.FN_BUSCA_EST_GEOGRAFICA_IBGE(PEND.CD_EST_GEOGRAFICA,2) FROM TB_PEDIDO_ENDERECO PEND WITH(NOLOCK) WHERE PEND.NM_PEDIDO = P.NM_PEDIDO) "shipping.address.ibgecode",
	p.VL_SALDO_FAVOR_UTILIZADO "creditValue",
	p.VL_MOEDA_VIRTUAL_UTILIZADO "virtualValue",
	P.VL_BENEFICIO_CUPOM_DESCONTO "discountCoupon",
	P.VL_DESCONTO_CUPOM_APLICADO "discountCouponValue",
	P.CD_RV_INDICANTE "sponsorId",
	P.CD_CENTRO_DISTRIBUICAO "distributionCenterId",
	(SELECT CD.DC_CENTRO_DISTRIBUICAO FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO) "distributionCenterName",
	(SELECT MAX(NF.NM_NOTA_FISCAL) FROM TB_NOTA_FISCAL NF WITH(NOLOCK) WHERE NF.NM_PEDIDO = P.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2) "invoiceNumber",
	(SELECT MAX(NF.DC_SERIE) FROM TB_NOTA_FISCAL NF WITH(NOLOCK) WHERE NF.NM_PEDIDO = P.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2) "invoiceSerie", 
	(SELECT MAX(NF.DT_EMISSAO_NOTA_FISCAL) FROM TB_NOTA_FISCAL NF WITH(NOLOCK) WHERE NF.NM_PEDIDO = P.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2) "invoiceDate", 
	(SELECT MAX(NF.DC_CHAVE_ACESSO_NFE) FROM TB_NOTA_FISCAL NF WITH(NOLOCK) WHERE NF.NM_PEDIDO = P.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2) "invoiceAccessKey", 
	(SELECT MAX(NFP.DC_LOCAL_LEITURA_XML) + 'procNFe_' + CONVERT(VARCHAR(18),MAX(NF.NM_NOTA_FISCAL)) + '.xml' FROM TB_NOTA_FISCAL NF WITH(NOLOCK), TB_NFE_PARAMETRO NFP WITH(NOLOCK) WHERE NF.NM_PEDIDO = P.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2 AND NFP.CD_PESSOA_EMISSOR = NF.CD_PESSOA_EMISSOR) "invoiceXMLLink", 
	(SELECT MAX(NFP.DC_LOCAL_LEITURA_DANFE) + 'danfe_' + CONVERT(VARCHAR(18),MAX(NF.NM_NOTA_FISCAL)) + '.pdf' FROM TB_NOTA_FISCAL NF WITH(NOLOCK), TB_NFE_PARAMETRO NFP WITH(NOLOCK) WHERE NF.NM_PEDIDO = P.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2 AND NFP.CD_PESSOA_EMISSOR = NF.CD_PESSOA_EMISSOR) "invoiceDANFELink"
	FROM TB_PEDIDO P WITH(NOLOCK), TB_PESSOA PE WITH(NOLOCK)
	WHERE P.CD_PESSOA = PE.CD_PESSOA
GO
