SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[VW_PEDIDO_ITEM]
AS

SELECT	PD.NM_PEDIDO, 
		PV.CD_PRODUTO_VENDA,
		PV.DC_PRODUTO_VENDA,
		DBO.FN_BUSCA_DOMINIO('ORIGEM_ITEM_PEDIDO', PDI.ID_ORIGEM_ITEM_PEDIDO) DC_ORIGEM_ITEM_PEDIDO,
		pdi.QT_PEDIDA,  
		pdi.QT_RESERVADA, 
		pdi.VL_TABELA_TOTAL AS VL_TABELA_ITEM, 
		pdi.VL_PRATICADO_TOTAL AS VL_PRATICADO_ITEM,
		pdi.VL_COMISSAO_CN AS VL_COMISSAO_ITEM, 
		pdi.VL_LIQUIDO_TOTAL AS VL_LIQUIDO_ITEM, 
		pdi.VL_PAGAR_TOTAL AS VL_PAGAR_ITEM, 
       CONVERT(NUMERIC(18,2),CASE ISNULL(pdi.QT_RESERVADA,0) WHEN 0 THEN '0'
       ELSE pdi.VL_PRATICADO_TOTAL / pdi.QT_RESERVADA END) VL_UNITARIO, 
	   CASE isnull(pdi.ID_ENTREGA_PRESENTE,2) when 1 then 'Sim' else 'Não' 
	   end ID_ENTREGA_PRESENTE,
	   PD.CD_LOTE_SEPARACAO
FROM TB_PEDIDO pd with (NOLOCK), TB_PEDIDO_ITEM pdi with (NOLOCK), TB_PRODUTO_VENDA PV with (NOLOCK) 
WHERE pd.NM_PEDIDO = pdi.NM_PEDIDO
  AND PV.CD_PRODUTO_VENDA = PDI.CD_PRODUTO_VENDA
  
  





GO
