SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MNTopologiaDescendente] WITH SCHEMABINDING
AS
SELECT	[CD_PESSOA],
		[CD_FUNCAO],
		[NM_CICLO],
		[CD_PESSOA_VINCULADA],
		[ID_ORDEM],
		[NM_NIVEL],
		[ID_TIPO_REDE_MN],
		[ID_DIRECAO_REDE_BINARIA]
  FROM dbo.[TB_WRK_MN_TOPOLOGIA] 
  WHERE [ID_ORDEM] = 2
GO
