SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ApiConsultaProdutoComponentesMaterial]
AS

	SELECT P.CD_PRODUTO_VENDA_EXTERNO "code",
		   M.CD_MATERIAL_EXTERNO "material.code",
		   PC.QT_UTILIZADA "quantity",
		   PC.VL_PERCENTUAL "percent",
		   p.NM_CICLO_LANCAMENTO "realesePeriod",
		   M.DC_MATERIAL "description",
		   M.DC_EAN "EANcode",
		   M.NM_PESO_BRUTO "grossWeight",
		   M.NM_PESO_LIQUIDO "netWeight",
		   M.NM_LARGURA "width",
		   M.NM_ALTURA "height",
		   M.NM_COMPRIMENTO "lenght",
		   M.ID_MODO_AGRUPAMENTO "grouping",
		   M.QT_ITENS_PACK "quantityPack",
		   M.ID_ORIGEM_MATERIAL "origin",
		   (SELECT CF.DC_CLASSIFICACAO_FISCAL FROM TB_CLASSIFICACAO_FISCAL CF WITH(NOLOCK) WHERE CF.CD_CLASSIFICACAO_FISCAL = M.CD_CLASSIFICACAO_FISCAL) "taxClassification"
	  FROM TB_PRODUTO_VENDA P WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK), TB_PRODUTO_VENDA_COMPONENTE PC WITH(NOLOCK)
	 WHERE P.CD_PRODUTO_VENDA = PC.CD_PRODUTO_VENDA
	   AND PC.CD_MATERIAL = M.CD_MATERIAL
GO
