SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaContasReceberPagamentos]  
AS  
SELECT
    c.CD_PARCELA AS BillingId,
    c.DT_PROCESSAMENTO AS PaymentDate,
    c.VL_CONCILIACAO AS PaymentValue,
    c.CD_ENTIDADE_CONCILIACAO AS ConciliationEntity,
    c.DC_OBSERVACOES_CONCILIACAO AS PaymentDetails,
    c.DT_CONCILIACAO AS ReconciliationDate,
    c.DT_PROCESSAMENTO AS ProcessingDate,
    c.DT_ESTORNO AS ReversalDate,
    c.DC_MOTIVO_ESTORNO AS ReversalReason,
    c.CD_CARGA_CONCILIACAO_ITEM AS BatchConciliationId,

    cci.VL_TARIFAS  AS cciFee,
    cci.VL_TITULO   AS cciValue,
    cci.VL_JUROS    AS cciInterest,
    cci.VL_MULTA    AS cciFine,
    cci.DT_CREDITO  AS cciCreditDate,

    p.VL_TAXA_ANTECIPACAO    AS parcelaTaxaAntecipacao,
    p.VL_TAXA_PROCESSAMENTO  AS parcelaTaxaProcessamento,
    p.VL_CUSTO_TRANSFERENCIA AS parcelaCustoTransferencia,
    p.VL_LIQUIDO_PARCELA     AS parcelaLiquido,
    p.DT_CREDITO             AS parcelaCreditDate,

    b.CD_BANCO           AS BankCode,
    b.DC_AGENCIA_CEDENTE AS BankAgency,
    b.DC_CONTA_CEDENTE   AS BankCurrentAccount
FROM TB_CONCILIACAO c WITH(NOLOCK)
LEFT JOIN TB_CARGA_CONCILIACAO_ITEM cci WITH(NOLOCK)
       ON cci.CD_CARGA_CONCILIACAO_ITEM = c.CD_CARGA_CONCILIACAO_ITEM
LEFT JOIN TB_PARCELA p WITH(NOLOCK)
       ON p.CD_PARCELA = c.CD_PARCELA
LEFT JOIN TB_BOLETO_BANCARIO b WITH(NOLOCK)
       ON b.CD_PARCELA = c.CD_PARCELA
GO
