SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [dbo].[VW_DETALHES_PEDIDO]
AS
SELECT	PD.NM_PEDIDO, 
		PD.CD_MATERIAL, 
		MN.NM_VOLUME, 
		MN.NM_PESO, 
		PD.QT_RESERVADA,
		(CASE  PD.NM_PEDIDO_ITEM_CONJUNTO 
			WHEN 0 THEN 0   
			ELSE CD_PRODUTO_VENDA
		END) NM_PEDIDO_ITEM_CONJUNTO,
		-- ALTERAÇÃO FEITA POR ANDERSON - 25/10/2018
		-- POR UMA SOLICITACAO DA ASOS VAMOS IDENTIFICAR OS ITENS DE PROMOCAO
		-- AQUI VAMOS COLOCAR 2 - NÃO
		2 ID_PROMOCAO
FROM	TB_PEDIDO_ITEM PD with (NOLOCK), TB_MATERIAL MN with (NOLOCK) 
WHERE	PD.CD_MATERIAL = MN.CD_MATERIAL

UNION ALL 

SELECT	PD.NM_PEDIDO, 
		PD.CD_MATERIAL,
		MN.NM_VOLUME,
		MN.NM_PESO,
		PD.QT_RESERVADA,
		(CASE  PD.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO 
			WHEN 0 THEN 0   
			ELSE CD_PRODUTO_VENDA
		END) NM_PEDIDO_ITEM_CONJUNTO,
		-- ALTERAÇÃO FEITA POR ANDERSON - 25/10/2018
		-- POR UMA SOLICITACAO DA ASOS VAMOS IDENTIFICAR OS ITENS DE PROMOCAO
		-- AQUI VAMOS COLOCAR 1 - SIM
		1 ID_PROMOCAO
FROM	TB_PEDIDO_ITEM_PROMOCAO PD with (NOLOCK), 
		TB_MATERIAL MN with (NOLOCK) 
WHERE	PD.CD_MATERIAL = MN.CD_MATERIAL
	AND PD.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1










GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[27] 4[31] 2[24] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -672
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_DETALHES_PEDIDO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_DETALHES_PEDIDO'
GO
