SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[VW_ETIQUETA_PEDIDO]
AS
SELECT     'Destinatario' AS Expr1, ps.DC_NOME + ' ' + ps.DC_SOBRENOME AS nomeDestinatario, 
                      dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(pend.CD_EST_GEOGRAFICA, 5, 0, 0, p.NM_PEDIDO) 
                      + ', ' + pend.DC_NUMERO + ' ' + pend.DC_COMPLEMENTO + ', ' + dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(pend.CD_EST_GEOGRAFICA, 4, 0, 0, 
                      p.NM_PEDIDO) + ', ' + dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(pend.CD_EST_GEOGRAFICA, 3, 0, 0, p.NM_PEDIDO) 
                      + '/' + dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(pend.CD_EST_GEOGRAFICA, 2, 0, 0, p.NM_PEDIDO) AS logradouro, 
                      pend.DC_NUMERO + ' ' + pend.DC_COMPLEMENTO AS numCompl, dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(pend.CD_EST_GEOGRAFICA, 4, 0, 0, 
                      p.NM_PEDIDO) AS bairro, pend.DC_CODIGO_POSTAL AS cep, dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(pend.CD_EST_GEOGRAFICA, 3, 0, 0, p.NM_PEDIDO) 
                      + '/' + dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(pend.CD_EST_GEOGRAFICA, 2, 0, 0, p.NM_PEDIDO) AS munUF, 
                      dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(pend.CD_EST_GEOGRAFICA, 2, 0, 0, p.NM_PEDIDO) AS UF, 'Caixa: ' + CAST(pe.NM_EMBALAGEM AS varchar) 
                      + ' Pedido: ' + CAST(p.NM_PEDIDO AS varchar) AS embPedido, p.CD_LOTE_SEPARACAO, p.NM_PEDIDO, 'Remetente' AS Expr2,
                          (SELECT     DC_RAZAO_SOCIAL
                            FROM          dbo.TB_PESSOA_JURIDICA AS pj
                            WHERE      (CD_PESSOA = cd.CD_EMPRESA)) AS remetente,
                          (SELECT     dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(CD_EST_GEOGRAFICA, 5, 0, 0, p.NM_PEDIDO) 
                                                   + ', ' + DC_NUMERO + ' ' + DC_COMPLEMENTO + ', ' + dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(CD_EST_GEOGRAFICA, 4, 0, 0, p.NM_PEDIDO) 
                                                   + ', ' + dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(CD_EST_GEOGRAFICA, 3, 0, 0, p.NM_PEDIDO) 
                                                   + '/' + dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(CD_EST_GEOGRAFICA, 2, 0, 0, p.NM_PEDIDO) + ' CEP: ' + DC_CODIGO_POSTAL AS Expr1
                            FROM          dbo.TB_PESSOA_ENDERECO AS pej
                            WHERE      (CD_PESSOA = cd.CD_EMPRESA) AND (ID_TIPO_ENDERECO = 3)) AS endRemetente,
                          (SELECT     dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL(CD_EST_GEOGRAFICA, 2, 0, 0, p.NM_PEDIDO) AS Expr1
                            FROM          dbo.TB_PESSOA_ENDERECO AS pej
                            WHERE      (CD_PESSOA = cd.CD_EMPRESA) AND (ID_TIPO_ENDERECO = 3)) AS OrigemUF, p.DT_CAPTACAO_PEDIDO, 
                      dbo.FN_BUSCA_PESO_TOTAL_PEDIDO(p.NM_PEDIDO,1) AS peso, p.CD_PESSOA, pe.NM_EMBALAGEM,
					  (SELECT MAX(NF.NM_NOTA_FISCAL) FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = P.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2) NM_NOTA_FISCAL
FROM         dbo.TB_PEDIDO AS p INNER JOIN
                      dbo.TB_PEDIDO_EMBALAGEM AS pe ON pe.NM_PEDIDO = p.NM_PEDIDO INNER JOIN
                      dbo.TB_PEDIDO_ENDERECO AS pend ON pend.NM_PEDIDO = p.NM_PEDIDO INNER JOIN
                      dbo.TB_PESSOA_FISICA AS ps ON ps.CD_PESSOA = p.CD_PESSOA INNER JOIN
                      dbo.TB_CENTRO_DISTRIBUICAO AS cd ON cd.CD_CENTRO_DISTRIBUICAO = p.CD_CENTRO_DISTRIBUICAO


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 320
               Right = 289
            End
            DisplayFlags = 280
            TopColumn = 14
         End
         Begin Table = "pe"
            Begin Extent = 
               Top = 6
               Left = 327
               Bottom = 125
               Right = 552
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pend"
            Begin Extent = 
               Top = 6
               Left = 590
               Bottom = 125
               Right = 798
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ps"
            Begin Extent = 
               Top = 6
               Left = 836
               Bottom = 125
               Right = 1068
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cd"
            Begin Extent = 
               Top = 6
               Left = 1106
               Bottom = 125
               Right = 1383
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3735
         Alias = 1485
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ETIQUETA_PEDIDO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ETIQUETA_PEDIDO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ETIQUETA_PEDIDO'
GO
