SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_IntegracaoOmieConsultaPedidosCancelamento]
AS

	SELECT P.NM_PEDIDO,
		   P.NM_PEDIDO_EXTERNO
	  FROM TB_PEDIDO P WITH(NOLOCK)
	 WHERE P.CD_EST_SITUACAO = 3
	   AND P.NM_PEDIDO_EXTERNO > 0
	   AND ISNULL(P.CD_SITUACAO_PEDIDO_INTEGRACAO,0) <> 3
GO
