SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaNotaFiscal]
AS
  SELECT 
      NF.CD_NOTA_FISCAL as InvoiceId,
      NF.NM_PEDIDO as OrderId,
      P.CD_PESSOA as CustomerId,
      CD.CD_CENTRO_DISTRIBUICAO_EXTERNO as ExternalCode,
      PD.DC_DOCUMENTO as CpfCnpj,
      NF.NM_NOTA_FISCAL as InvoiceNumber,
      NF.ID_TIPO_NOTA_FISCAL as InvoiceType,
      NF.DC_SERIE as InvoiceSeries,
      NF.DC_CHAVE_ACESSO_NFE as KeyAccess,
      NF.ID_SITUACAO_NOTA_FISCAL as StatusInvoice,
      LOCAL_LEITURA.DC_LOCAL_LEITURA_XML + 'procNFe_' + CAST(NF.NM_NOTA_FISCAL AS varchar(300)) + '.xml' as xmlAuthorization,
      NF.DC_LINK_LEITURA_DANFE as Danfe,
      NF.DC_PROTOCOLO_NFE as ProtocolAuthorization,
      NF.DT_PROTOCOLO_NFE as ProtocolAuthorizationDate,
      CASE WHEN DC_PROTOCOLO_CANC_NFE IS NOT NULL THEN LOCAL_LEITURA.DC_LOCAL_LEITURA_XML + 'procCancNFe_' + CAST(NF.NM_NOTA_FISCAL AS varchar(300)) + '.xml' ELSE NULL END AS  XmlCancellation,
      NF.DC_PROTOCOLO_CANC_NFE as ProtocolCancellation,
      NF.DT_PROTOCOLO_CANC_NFE as ProtocolCancellationDate,
      NF.DC_PROTOCOLO_INUT_NFE as ProtocolDisablement,
      CASE WHEN DC_PROTOCOLO_INUT_NFE IS NOT NULL THEN LOCAL_LEITURA.DC_LOCAL_LEITURA_XML + 'procInutNFe_' + CAST(NF.NM_NOTA_FISCAL AS varchar(300)) + '.xml' ELSE NULL END AS XmlDisablement,
      NF.DT_PROTOCOLO_INUT_NFE as ProtocolDisablementDate,
      NF.ID_STATUS_INTEGRACAO as IntegrationStatus,
      ISNULL(ULTIMA_ATUALIZACAO.DT_MUDANCA_STATUS, NF.DT_EMISSAO_NOTA_FISCAL) as LastUpdateDate
  FROM TB_NOTA_FISCAL NF WITH(NOLOCK)
  INNER JOIN TB_PEDIDO P WITH(NOLOCK) ON P.NM_PEDIDO = NF.NM_PEDIDO
  INNER JOIN TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) ON CD.CD_EMPRESA = NF.CD_PESSOA_EMISSOR
  LEFT JOIN TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) ON PD.CD_PESSOA = NF.CD_PESSOA_DESTINATARIO AND PD.ID_TIPO_DOCUMENTO = 1
  OUTER APPLY (SELECT TOP 1 NFP.DC_LOCAL_LEITURA_XML
               FROM TB_NFE_PARAMETRO NFP
               WHERE NFP.CD_PESSOA_EMISSOR = NF.CD_PESSOA_EMISSOR) AS LOCAL_LEITURA
  OUTER APPLY (SELECT TOP 1 LSI.DT_MUDANCA_STATUS
               FROM TB_LOG_STATUS_INTEGRACAO LSI
               WHERE LSI.ID_TIPO_LOG_STATUS_INTEGRACAO = 2
                 AND LSI.CD_ENTIDADE = NF.CD_NOTA_FISCAL
               ORDER BY LSI.DT_MUDANCA_STATUS DESC) ULTIMA_ATUALIZACAO
GO
