SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ApiConsultaProdutoPrecoRegrasCaptacao]
AS

	SELECT P.CD_PRODUTO_VENDA_EXTERNO "code",
		   PP.CD_PRODUTO_VENDA_PRECO "priceCode",
		   PPR.CD_REGRA_COMERCIAL "rule"
	  FROM TB_PRODUTO_VENDA_PRECO PP WITH(NOLOCK), TB_PRODUTO_VENDA P WITH(NOLOCK), TB_PRODUTO_VENDA_PRECO_REGRA_COMERCIAL PPR WITH(NOLOCK)
	 WHERE P.CD_PRODUTO_VENDA = PP.CD_PRODUTO_VENDA
	 AND PPR.CD_PRODUTO_VENDA_PRECO = PP.CD_PRODUTO_VENDA_PRECO
GO
