SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiEmailText]
AS

SELECT E.ID_TIPO_EMAIL_EVENTO, ET.DC_TEXTO, ET.NM_LINHA
FROM TB_EMAIL_TEXTO ET
INNER JOIN TB_EMAIL E
ON E.CD_EMAIL = ET.CD_EMAIL
GO
