SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_IntegracaoOmieConsultaPessoasNovas]
AS

	SELECT P.CD_PESSOA,
		   (SELECT PJ.DC_RAZAO_SOCIAL FROM TB_PESSOA_JURIDICA PJ WITH(NOLOCK) WHERE PJ.CD_PESSOA = P.CD_PESSOA) RAZAO_SOCIAL,
		   LTRIM(RTRIM((SELECT PF.DC_NOME + ' ' + ISNULL(PF.DC_SOBRENOME,'') FROM TB_PESSOA_FISICA PF WHERE PF.CD_PESSOA = P.CD_PESSOA))) NOME,
		   (SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 1) CPF_CNPJ,
		   (SELECT PJ.DC_NOME_FANTASIA FROM TB_PESSOA_JURIDICA PJ WITH(NOLOCK) WHERE PJ.CD_PESSOA = P.CD_PESSOA) NOME_FANTASIA,
		   P.ID_TIPO_PESSOA,
		   CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) END LOGRADOURO,
		   CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) END NRO_ENDERECO,
		   CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_COMPLEMENTO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_COMPLEMENTO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) END COMPL_ENDERECO,
		   CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) END BAIRRO,
		   CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT W.DC_CODIGO_CIDADE_OMIE FROM TB_WRK_CIDADES_OMIE_ERP W WITH(NOLOCK) WHERE W.CD_EST_GEOGRAFICA = 
											 (SELECT E.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA E WITH(NOLOCK) WHERE E.CD_EST_GEOGRAFICA = 
											 (SELECT PE.CD_EST_GEOGRAFICA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)))
								 WHEN 2 THEN (SELECT W.DC_CODIGO_CIDADE_OMIE FROM TB_WRK_CIDADES_OMIE_ERP W WITH(NOLOCK) WHERE W.CD_EST_GEOGRAFICA = 
											 (SELECT E.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA E WITH(NOLOCK) WHERE E.CD_EST_GEOGRAFICA = 
											 (SELECT PE.CD_EST_GEOGRAFICA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3))) END CIDADE,
		   CASE P.ID_TIPO_PESSOA WHEN 1 THEN dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL((SELECT PE.CD_EST_GEOGRAFICA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1),2,0,0,0)
								 WHEN 2 THEN dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL((SELECT PE.CD_EST_GEOGRAFICA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3),2,0,0,0) END UF,
		   CASE P.ID_TIPO_PESSOA WHEN 1 THEN (SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
								 WHEN 2 THEN (SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3) END CEP,
		   (SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) LOGRADOURO_ENTREGA,
		   (SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) BAIRRO_ENTREGA,
		   (SELECT W.DC_CODIGO_CIDADE_OMIE FROM TB_WRK_CIDADES_OMIE_ERP W WITH(NOLOCK) WHERE W.CD_EST_GEOGRAFICA = 
				(SELECT E.CD_NIVEL_GEO3 FROM TB_EST_GEOGRAFICA E WITH(NOLOCK) WHERE E.CD_EST_GEOGRAFICA = 
				(SELECT PE.CD_EST_GEOGRAFICA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2))) CIDADE_ENTREGA,
		   dbo.FN_BUSCA_DESC_EST_GEOGRAFICA_NIVEL((SELECT PE.CD_EST_GEOGRAFICA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2),2,0,0,0) UF_ENTREGA,
		   (SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) NRO_ENTREGA,
		   (SELECT PE.DC_COMPLEMENTO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2) COMPL_ENTREGA,
		   '1058' CODIGO_PAIS,
		   (SELECT PE.DC_EMAIL FROM TB_PESSOA_EMAIL PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_EMAIL = 1) EMAIL,
		   CASE P.ID_TIPO_PESSOA WHEN 2 THEN (SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2) ELSE '' END IE,
		   CASE PR.CD_FUNCAO WHEN 1 THEN 'Consumidor Final' WHEN 2 THEN 'Consultora' ELSE '' END TAG
	  FROM TB_PESSOA P WITH(NOLOCK), TB_PESSOA_RESUMO PR WITH(NOLOCK)
	 WHERE PR.CD_FUNCAO IN (1,2)
	   AND P.CD_PESSOA > 0
	   AND P.CD_PESSOA = PR.CD_PESSOA
	   AND PR.CD_SITUACAO_COMERCIAL IN (0,1,2,3)
	   AND (SELECT COUNT(PINT.CD_PESSOA_INTEGRACAO) FROM TB_PESSOA_INTEGRACAO PINT WITH(NOLOCK) WHERE PINT.CD_PESSOA = P.CD_PESSOA and PINT.ID_SITUACAO_INTEGRACAO = 3
	        AND PINT.CD_SERVICO_EXTERNO IN (SELECT CD_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE ID_SITUACAO = 1 AND ID_NOME_SERVICO_EXTERNO = 23)) < 
			(SELECT COUNT(CD_SERVICO_EXTERNO) FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE ID_SITUACAO = 1 AND ID_NOME_SERVICO_EXTERNO = 23)
GO
