SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaPlanoPagamento]
AS
SELECT
    A.CD_PLANO_PAGAMENTO AS PaymentPlanId,
    A.DC_PLANO_PAGAMENTO AS PaymentPlanDescription,
    A.ID_SITUACAO AS Status,
    A.ID_MEIO_PAGAMENTO AS PaymentPlanForm,
    dbo.FN_BUSCA_DOMINIO('MEIO_PAGAMENTO',A.ID_MEIO_PAGAMENTO) [PaymentFormDescription],
    A.DT_CADASTRO AS CreatedAt,
    A.CD_USUARIO_CADASTRO AS CreatedByUserCode,
    A.DT_ATUALIZACAO AS UpdatedAt,
    A.CD_USUARIO_ATUALIZACAO AS UpdatedByUserCode,
    A.ID_TIPO_PAGAMENTO AS IdPaymentPlanType,
    dbo.FN_BUSCA_DOMINIO('TIPO_PAGAMENTO',A.ID_TIPO_PAGAMENTO) [PaymentPlanTypeDescription],
    A.CD_SERVICO_EXTERNO AS ExternalServiceCode,
    A.ID_VERIFICA_CREDITO AS CreditCheckId,
    dbo.FN_BUSCA_DOMINIO('VERIFICA_CREDITO',A.ID_VERIFICA_CREDITO) [CreditCheckIdDescription],
    A.ID_MEIO_APLICACAO_PEDIDO AS OrderApplicationMethodId,
    dbo.FN_BUSCA_DOMINIO('MEIO_APLICACAO_PEDIDO',A.ID_MEIO_APLICACAO_PEDIDO) [OrderApplicationMethodIdDescription],
    A.VL_PEDIDO_INICIAL AS InitialOrderValue,
    A.VL_PEDIDO_FINAL AS FinalOrderValue,
    A.PC_DESCONTO AS DiscountPercentage,
    A.ID_DISPONIVEL_LOJA_VIRTUAL AS AvailableInOnlineStoreId,
    dbo.FN_BUSCA_DOMINIO('SITUACAO',A.ID_DISPONIVEL_LOJA_VIRTUAL) [AvailableInOnlineStoreIdDescription],
    A.ID_DISPONIVEL_ESCRITORIO_VIRTUAL AS AvailableInVirtualOfficeId,
    dbo.FN_BUSCA_DOMINIO('SITUACAO',A.ID_DISPONIVEL_LOJA_VIRTUAL) [AvailableInVirtualOfficeIdDescription],
    A.QT_PARCELAS AS InstallmentCount,
    A.QT_DIAS_ENTRE_PARCELAS AS DaysBetweenInstallments,
    A.QT_DIAS_VALIDADE AS ValidityDays,
    A.QT_DIAS_VENCIMENTO AS DueDays,
    A.VL_MINIMO_ACORDO AS MinAgreementValue,
    A.VL_MINIMO_PARCELA AS MinInstallmentValue,
    A.VL_TAXA_ADMINISTRATIVA AS AdminFeeAmount,
    A.PC_MULTA AS PenaltyPercentage,
    A.PC_MORA_DIARIA AS DailyInterestPercentage,
    A.ID_MEIO_SELECAO_ENTIDADE AS EntitySelectionMethodId,
    dbo.FN_BUSCA_DOMINIO('MEIO_SELECAO_ENTIDADE',A.ID_MEIO_SELECAO_ENTIDADE) [EntitySelectionMethodIdDescription],
    A.CD_ENTIDADE_CONCILIACAO AS ReconciliationEntityCode,
    A.ID_TIPO_VALOR_TAXA_ADMINISTRATIVA AS AdminFeeValueTypeId,
    dbo.FN_BUSCA_DOMINIO('TIPO_VALOR_TAXA_ADMINISTRATIVA',A.ID_TIPO_VALOR_TAXA_ADMINISTRATIVA) [AdminFeeValueTypeIdDescription],
    A.ID_DESTACA_NF_TAXA_ADMINISTRATIVA AS HighlightAdminFeeOnInvoiceId,
    dbo.FN_BUSCA_DOMINIO('DESTACA_NF_TAXA_ADMINISTRATIVA',A.ID_DESTACA_NF_TAXA_ADMINISTRATIVA) [HighlightAdminFeeOnInvoiceIdDescription],
    A.DC_NOME_EXIBICAO_TAXA_ADMINISTRATIVA AS AdminFeeDisplayName,
    A.QT_PARCELAS_SEM_JUROS AS InstallmentsWithoutInterest,
    A.ID_FORMA_CONTAS_RECEBER AS AccountsReceivableMethodId,
    dbo.FN_BUSCA_DOMINIO('FORMA_CONTAS_RECEBER',A.ID_FORMA_CONTAS_RECEBER) [AccountsReceivableMethodIdDescription],
    A.ID_ACAO_AUTORIZACAO AS AuthorizationActionId,
    dbo.FN_BUSCA_DOMINIO('ACAO_AUTORIZACAO',A.ID_ACAO_AUTORIZACAO) [AuthorizationActionIdDescription],
    A.ID_BAIXA_MANUAL_AUTOMATIZADA AS ManualOrAutomatedSettlementId,
    dbo.FN_BUSCA_DOMINIO('BAIXA_MANUAL_AUTOMATIZADA',A.ID_BAIXA_MANUAL_AUTOMATIZADA) [ManualOrAutomatedSettlementIdDescription],
    A.CD_ENTIDADE_BAIXA_AUTOMATIZADA AS AutomatedSettlementEntityCode,
    A.DC_INSTRUCOES_BOLETO AS BoletoInstructions,
    A.ID_FORMA_PROTESTO AS ProtestMethodId,
    dbo.FN_BUSCA_DOMINIO('FORMA_PROTESTO',A.ID_FORMA_PROTESTO) [ProtestMethodIdDescription],
    A.NM_DIAS_PROTESTO AS ProtestDays,
    A.ID_FORMA_BAIXA_TITULO AS TitleSettlementMethodId,
    dbo.FN_BUSCA_DOMINIO('FORMA_BAIXA_TITULO',A.ID_FORMA_BAIXA_TITULO) [TitleSettlementMethodIdDescription],
    A.NM_DIAS_BAIXA_TITULO AS TitleSettlementDays,
    -- Payment Split como JSON
    '[' +
        JSON_QUERY('{
            "providerCode": ' + CAST(ISNULL(A.CD_BRASPAG_PROVIDER, 0) AS VARCHAR) + ',
            "antiFraudId": ' + CAST(ISNULL(A.ID_ANTIFRAUDE_BRASPAG, 0) AS VARCHAR) + ',
            "invoiceIdentification": "' + ISNULL(A.DC_IDENTIFICACAO_FATURA, '') + '",
            "externalAntiFraudServiceCode": ' +
                CASE WHEN A.CD_SERVICO_EXTERNO_ANTIFRAUDE IS NULL THEN 'null'
                     ELSE CAST(A.CD_SERVICO_EXTERNO_ANTIFRAUDE AS VARCHAR)
                END + ',
            "allowSinglePaymentLinkId": ' + CAST(ISNULL(A.ID_PERMITIR_UNICO_LINK_PGTO, 0) AS VARCHAR) + ',
            "captureMethodId": ' + CAST(ISNULL(A.ID_FORMA_CAPTURA, 0) AS VARCHAR) + '
        }') +
    ']' AS PaymentSplitJson
FROM TB_PLANO_PAGAMENTO A WITH(NOLOCK)
GO
