SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vw_IntegracaoSeniorConsultaPedidosAbertos]
AS


		SELECT PE.NM_PEDIDO, PE.NM_PEDIDO_EXTERNO, PE.CD_EST_SITUACAO, PE.CD_PESSOA,
				(SELECT P.CD_PESSOA_EXTERNO FROM TB_PESSOA P WHERE PE.CD_PESSOA = P.CD_PESSOA) CD_PESSOA_EXTERNO
		FROM TB_PEDIDO PE
		WHERE PE.NM_PEDIDO_EXTERNO IS NOT NULL -- SOMENTE QUE TENHAM SIDO INTEGRADOS
		AND PE.CD_CENTRO_DISTRIBUICAO IS NOT NULL 
		AND PE.CD_EST_SITUACAO NOT IN (3, 9) -- DESPREZA CANCELADOS E FINALIZADOS 


GO
