SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PEDIDO_ENDERECO] AS
SELECT
   NM_PEDIDO,
   DC_ESTRUTURA_GEO5,
   DC_NUMERO,
   DC_COMPLEMENTO,
   DC_ESTRUTURA_GEO4,
   DC_ESTRUTURA_GEO3,
   DC_ESTRUTURA_GEO2,
   DC_REFERENCIA,
   DC_CODIGO_POSTAL,
   (SELECT TOP 1 G2.CD_IBGE
    FROM TB_EST_GEOGRAFICA G with(nolock)
    INNER JOIN TB_EST_GEOGRAFICA G2 with(nolock) ON G2.CD_EST_GEOGRAFICA = G.CD_NIVEL_GEO3
    WHERE G.CD_EST_GEOGRAFICA = TB_PEDIDO_ENDERECO.CD_EST_GEOGRAFICA) AS CD_IBGE
FROM TB_PEDIDO_ENDERECO with(nolock)
GO
