SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ApiConsultaPedidoPagamento]
AS

	SELECT  PD.NM_PEDIDO idOrder,
			PP.CD_PLANO_PAGAMENTO idPaymentPlan,
			CASE PP.ID_MEIO_PAGAMENTO WHEN 7 THEN 2
									  WHEN 8 THEN 10
									  WHEN 9 THEN 10
									  WHEN 10 THEN 7
									  WHEN 11 THEN 8
									  WHEN 13 THEN 9
									  ELSE PP.ID_MEIO_PAGAMENTO END paymentForm,
			p.VL_ORIGINAL_PARCELA paymentValue,
			PD.VL_DESCONTO_PLANO_PAGAMENTO paymentDiscount,
			CASE P.ID_SITUACAO_PAGAMENTO_PARCELA WHEN 1 THEN 1
												 WHEN 2 THEN 3
												 WHEN 3 THEN 2
												 ELSE P.ID_SITUACAO_PAGAMENTO_PARCELA END paymentStatus,
			P.DT_VENCIMENTO dueDate,
			PD.DC_BANDEIRA_CARTAO paymentBrand,
			case isnull(PD.QT_PARCELAS,0) when 0 then 1 else pd.QT_PARCELAS end installments,
			-- OS PRÓXIMOS CAMPOS PRECISAM DE TRATAMENTOS DIFERENTES DE ACORDO COM O CLIENTE, POIS OS STATUS DE TRANSAÇÃO SÃO DIFERENTES EM CADA
			case (SELECT CONVERT(VARCHAR,VL_PARAMETRO) FROM TB_VALOR_PARAMETRO WITH(NOLOCK) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
				WHEN '47.0000' THEN ((SELECT CASE CONVERT(VARCHAR,S.ID_NOME_SERVICO_EXTERNO) WHEN '1' THEN S.DC_CODIGO_NSU
									  ELSE S.DC_CODIGO_NOTIFICACAO END 
							   FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) 
							   WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) 
																	   FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
																	   WHERE ((S2.CD_STATUS_TRANSACAO = 2 AND S2.ID_NOME_SERVICO_EXTERNO <> 1) OR (S2.CD_STATUS_TRANSACAO = 3 AND S2.ID_NOME_SERVICO_EXTERNO = 1))
																	   AND S2.DC_CODIGO_REFERENCIA = convert(varchar,PD.NM_PEDIDO))))
				WHEN '57.0000' THEN ((SELECT S.DC_CODIGO_NOTIFICACAO FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = 
							  (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
							   WHERE S2.CD_STATUS_TRANSACAO = 2 AND S2.DC_CODIGO_REFERENCIA = PD.NM_PEDIDO)))
				WHEN '50.0000'THEN ((SELECT S.DC_CODIGO_NOTIFICACAO FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = 
							  (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
							   WHERE S2.CD_STATUS_TRANSACAO IN (3,4) AND S2.DC_CODIGO_REFERENCIA = convert(varchar,PD.NM_PEDIDO))))
				ELSE '' END	authorizationCode,
			case (SELECT CONVERT(VARCHAR,VL_PARAMETRO) FROM TB_VALOR_PARAMETRO WITH(NOLOCK) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
				WHEN '47.0000' THEN ((SELECT S.DC_CODIGO_TRANSACAO FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = 
							  (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
							   WHERE ((S2.CD_STATUS_TRANSACAO = 2 AND S2.ID_NOME_SERVICO_EXTERNO <> 1) OR (S2.CD_STATUS_TRANSACAO = 3 AND S2.ID_NOME_SERVICO_EXTERNO = 1)) AND S2.DC_CODIGO_REFERENCIA = convert(varchar,PD.NM_PEDIDO))))
				WHEN '57.0000' THEN ((SELECT S.DC_CODIGO_TRANSACAO FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = 
							  (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
							   WHERE S2.CD_STATUS_TRANSACAO = 2 AND S2.DC_CODIGO_REFERENCIA = PD.NM_PEDIDO)))
				WHEN '50.0000' THEN ((SELECT S.DC_CODIGO_TRANSACAO FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = 
							  (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
							   WHERE S2.CD_STATUS_TRANSACAO IN (3,4) AND S2.DC_CODIGO_REFERENCIA = convert(varchar,PD.NM_PEDIDO))))
				ELSE '' END	transactionCode,
			case (SELECT CONVERT(VARCHAR,VL_PARAMETRO) FROM TB_VALOR_PARAMETRO WITH(NOLOCK) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
				WHEN '47.0000' THEN ((SELECT S.VL_BRUTO - ISNULL(S.VL_LIQUIDO,0) FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = 
							  (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
							   WHERE ((S2.CD_STATUS_TRANSACAO = 2 AND S2.ID_NOME_SERVICO_EXTERNO <> 1) OR (S2.CD_STATUS_TRANSACAO = 3 AND S2.ID_NOME_SERVICO_EXTERNO = 1)) AND S2.DC_CODIGO_REFERENCIA = convert(varchar,PD.NM_PEDIDO))))
				WHEN '57.0000' THEN ((SELECT S.VL_BRUTO - ISNULL(S.VL_LIQUIDO,0) FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = 
							  (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
							   WHERE S2.CD_STATUS_TRANSACAO = 2 AND S2.DC_CODIGO_REFERENCIA = convert(varchar,PD.NM_PEDIDO))))
				WHEN '50.0000' THEN ((SELECT S.VL_BRUTO - ISNULL(S.VL_LIQUIDO,0) FROM TB_SERVICO_EXTERNO_TRANSACAO S WITH(NOLOCK) WHERE S.CD_SERVICO_EXTERNO_TRANSACAO = 
							  (SELECT MAX(S2.CD_SERVICO_EXTERNO_TRANSACAO) FROM TB_SERVICO_EXTERNO_TRANSACAO S2 WITH(NOLOCK)
							   WHERE S2.CD_STATUS_TRANSACAO IN (3,4) AND S2.DC_CODIGO_REFERENCIA = convert(varchar,PD.NM_PEDIDO))))
				ELSE 0 END	paymentTaxes,
			pp.DC_INSTRUCOES_BOLETO instructions1,
			'' instructions2,
			pd.DC_LINK_PAGAMENTO paymentLink
	FROM TB_PEDIDO PD WITH(NOLOCK), TB_PLANO_PAGAMENTO PP WITH(NOLOCK), TB_DIVIDA D WITH(NOLOCK), TB_PARCELA P WITH(NOLOCK)
	WHERE PD.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO
	AND D.CD_DIVIDA = P.CD_DIVIDA
	AND D.NM_PEDIDO = PD.NM_PEDIDO
GO
