SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















CREATE VIEW [dbo].[vw_IntegracaoSeniorConsultaPessoaTitulosLegado]
AS
	
	
	SELECT 
		CD_PESSOA_TITULOS_LEGADO_SENIOR,
		CD_PESSOA_EXTERNO,
		DC_TIPO_TITULO,
		DC_SITUACAO_TITULO,
		DC_NUMERO_TITULO,
		DT_EMISSAO_TITULO,
		DT_VENCIMENTO_TITULO,
		VL_TITULO,
		CD_CARGA,
		DT_CADASTRO,
		ID_SITUACAO_PROCESSAMENTO,
		DC_MENSAGEM_PROCESSAMENTO,
		DT_PROCESSAMENTO
	FROM  TB_WRK_SENIOR_TITULOS_LEGADO
	WHERE DC_TIPO_TITULO IN ('LEG', 'LSU')
	-- PENDENTE OU COM ERRO
	AND ID_SITUACAO_PROCESSAMENTO IN (1,4)

	















GO
