SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[vw_IntegracaoSeniorConsultaPedidosItens]
AS

	-- itens comprados
	SELECT P.NM_PEDIDO, 
		   'I' opeExe,
		   M.CD_MATERIAL_EXTERNO,
		   'N' pedPrv, 
		   'S' resEst,
		   PDI.QT_RESERVADA qtdPed, 
		   'UN' uniMed,
		   ROUND(PDI.VL_PAGAR_TOTAL / PDI.QT_RESERVADA,3) preUni,
		   --ROUND((ROUND(PDI.VL_PAGAR_TOTAL - ((ISNULL(P.VL_DESCONTO_CUPOM_APLICADO,0) + ISNULL(P.VL_DESCONTO_PLANO_PAGAMENTO,0) + ISNULL(P.VL_SALDO_FAVOR_UTILIZADO,0)) * (ROUND(PDI.VL_PAGAR_TOTAL /  ISNULL(P.VL_PAGAR_TEORICO_TOTAL,0),5))),4)) / PDI.QT_RESERVADA, 3) preUni,
		   'N' preFix,
		   '9' sitIpd,
		   '4' gerNec,
		   'N' gerCga,
		   'N' resMan,
		   'N' indAed,
		   'N' cmpKit,
		   '07' codDep,
		   ' ' codTpr,
		   --'Venda' DC_TIPO_PRODUTO
		   'VENDA' DC_TIPO_VENDA,

		   -- *******************************************************
			-- CARTÃO DE CREDITO DESCE 90100
			-- PRE PAGO (BOLETO A VISTA) DESCE 90103
			-- CASO CONTRARIO 90100
			-- *******************************************************
			CASE (SELECT PP.ID_MEIO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO)
				WHEN 7 THEN
					'90100'
				ELSE
					CASE (SELECT PP.ID_TIPO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) 
						-- PRE PAGO - BOLETO A VISTA
						WHEN 1 THEN
							'90103'
						ELSE
							'90100'
						END
		    END tnspro,

		   DBO.FN_BUSCA_DOMINIO('TIPO_PRODUTO', PDI.ID_TIPO_PRODUTO) DC_TIPO_PRODUTO,
		   PDI.VL_PAGAR_TOTAL - ((ROUND(PDI.VL_PAGAR_TOTAL / PDI.QT_RESERVADA,2)) * PDI.QT_RESERVADA) VL_ARREDONDAMENTO,
		   (SELECT PP.ID_TIPO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) ID_TIPO_PAGAMENTO,
		   (SELECT PP.ID_MEIO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) ID_MEIO_PAGAMENTO,

		   ISNULL(P.VL_DESCONTO_CUPOM_APLICADO,0) + ISNULL(P.VL_DESCONTO_PLANO_PAGAMENTO,0) + ISNULL(P.VL_SALDO_FAVOR_UTILIZADO,0) DESCONTOS,
		   PDI.VL_PAGAR_TOTAL VL_PAGAR_TOTAL_ITEM,
		   --ISNULL(P.VL_PRODUTOS_TOTAL,0) VL_PEDIDO_TOTAL,
		   ISNULL(P.VL_PAGAR_TEORICO_TOTAL,0) VL_PAGAR_TEORICO_TOTAL,
		   convert(decimal(10,2), PDI.VL_PAGAR_TOTAL /  ISNULL(P.VL_PAGAR_TEORICO_TOTAL,0)) PC_ITEM_PEDIDO,
		   --ROUND(PDI.VL_PAGAR_TOTAL /  ISNULL(P.VL_PAGAR_TEORICO_TOTAL,0),2) PC_ITEM_PEDIDO,

     	   ROUND(PDI.VL_PAGAR_TOTAL - ((ISNULL(P.VL_DESCONTO_CUPOM_APLICADO,0) + ISNULL(P.VL_DESCONTO_PLANO_PAGAMENTO,0) + ISNULL(P.VL_SALDO_FAVOR_UTILIZADO,0)) * (ROUND(PDI.VL_PAGAR_TOTAL /  ISNULL(P.VL_PAGAR_TEORICO_TOTAL,0),5))),2) VL_TOTAL_ITEM_DESCONTO

	  FROM TB_PEDIDO P WITH(NOLOCK), TB_PEDIDO_ITEM PDI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK)
	 WHERE PDI.NM_PEDIDO = P.NM_PEDIDO
	   AND M.CD_MATERIAL = PDI.CD_MATERIAL
	   AND M.CD_MATERIAL > 0
	   AND PDI.QT_RESERVADA > 0
	   AND PDI.ID_ORIGEM_ITEM_PEDIDO = 1
	
	UNION ALL
	
	-- itens incorporados 
		SELECT P.NM_PEDIDO, 
		   'I' opeExe,
		   M.CD_MATERIAL_EXTERNO,
		   'N' pedPrv, 
		   'S' resEst,
		   PDI.QT_RESERVADA qtdPed, 
		   'UN' uniMed,
		   --ROUND(PDI.VL_PAGAR_TOTAL / PDI.QT_RESERVADA,2) preUni,
		   --ROUND(PDI.VL_PRATICADO_TOTAL / PDI.QT_RESERVADA,3) preUnisemDesconto,
		   ROUND(PDI.VL_PRATICADO_TOTAL / PDI.QT_RESERVADA,3) preUni,
		   'N' preFix,
		   '9' sitIpd,
		   '4' gerNec,
		   'N' gerCga,
		   'N' resMan,
		   'N' indAed,
		   'N' cmpKit,
		   '07' codDep,
		   ' ' codTpr,
		   --'Venda' DC_TIPO_PRODUTO

		    CASE PDI.ID_PRODUTO_COBRADO  WHEN 1 THEN 'VENDA' 
										ELSE 'BRINDE'END DC_TIPO_VENDA,


			CASE PDI.ID_PRODUTO_COBRADO
				-- VENDA
				WHEN 1 THEN
					CASE (SELECT PP.ID_MEIO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO)
						WHEN 7 THEN
							'90100'
						ELSE
							CASE (SELECT PP.ID_TIPO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) 
								-- PRE PAGO - BOLETO A VISTA
								WHEN 1 THEN
									'90103'
								ELSE
									'90100'
								END
					END
				ELSE
					-- BRINDE
					CASE DBO.FN_BUSCA_DOMINIO('TIPO_PRODUTO', PDI.ID_TIPO_PRODUTO) 
						WHEN 'MATERIAL DE APOIO' THEN
							'90112'
						ELSE
							'90110'
						END

			END tnspro,
		 
		  DBO.FN_BUSCA_DOMINIO('TIPO_PRODUTO', PDI.ID_TIPO_PRODUTO) DC_TIPO_PRODUTO,
		  PDI.VL_PRATICADO_TOTAL - ((ROUND(PDI.VL_PRATICADO_TOTAL / PDI.QT_RESERVADA,2)) * PDI.QT_RESERVADA) VL_ARREDONDAMENTO,
		  (SELECT PP.ID_TIPO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) ID_TIPO_PAGAMENTO,
		  		   (SELECT PP.ID_MEIO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) ID_MEIO_PAGAMENTO,
		0 DESCONTOS,
		0 VL_PAGAR_TOTAL_ITEM,
		0 VL_PAGAR_TEORICO_TOTAL,
		0 PC_ITEM_PEDIDO,
		0 VL_TOTAL_ITEM_DESCONTO
	  FROM TB_PEDIDO P WITH(NOLOCK), TB_PEDIDO_ITEM PDI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK)
	 WHERE PDI.NM_PEDIDO = P.NM_PEDIDO
	   AND M.CD_MATERIAL = PDI.CD_MATERIAL
	   AND M.CD_MATERIAL > 0
	   AND PDI.QT_RESERVADA > 0
	   AND PDI.ID_ORIGEM_ITEM_PEDIDO = 3
	   
	   	
	UNION ALL
	
	-- itens de promoção
	SELECT  P.NM_PEDIDO,
			'I' opeExe,
			M.CD_MATERIAL_EXTERNO,
			'N' pedPrv, 
			'S' resEst,
			PDI.QT_RESERVADA qtdPed, 
			'UN' uniMed,
			--ROUND(PDI.VL_PRATICADO_TOTAL / PDI.QT_RESERVADA,3) preUnisemDesconto,
			ROUND(PDI.VL_PRECO_FATURAMENTO / PDI.QT_RESERVADA,3) preUni,
			'N' preFix,
			'9' sitIpd,
			'4' gerNec,
			'N' gerCga,
			'N' resMan,
			'N' indAed,
			'N' cmpKit,
			'07' codDep,
			' ' codTpr,
			'BRINDE' DC_TIPO_VENDA,

			-- BRINDE
			CASE (SELECT DBO.FN_BUSCA_DOMINIO('TIPO_PRODUTO', X.ID_TIPO_PRODUTO) FROM TB_PRODUTO_VENDA X WHERE X.CD_PRODUTO_VENDA = PDI.CD_PRODUTO_VENDA)
				WHEN 'MATERIAL DE APOIO' THEN
					'90112'
				ELSE
					'90110'
			END tnspro,

			(SELECT DBO.FN_BUSCA_DOMINIO('TIPO_PRODUTO', X.ID_TIPO_PRODUTO) FROM TB_PRODUTO_VENDA X WHERE X.CD_PRODUTO_VENDA = PDI.CD_PRODUTO_VENDA) DC_TIPO_PRODUTO,
			0 VL_ARREDONDAMENTO,
			(SELECT PP.ID_TIPO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) ID_TIPO_PAGAMENTO,
			(SELECT PP.ID_MEIO_PAGAMENTO FROM TB_PLANO_PAGAMENTO PP WHERE P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO) ID_MEIO_PAGAMENTO,
			0 DESCONTOS,
			0 VL_PAGAR_TOTAL_ITEM,
			0 VL_PAGAR_TEORICO_TOTAL,
			0 PC_ITEM_PEDIDO,
			0 VL_TOTAL_ITEM_DESCONTO
    FROM TB_PEDIDO P WITH(NOLOCK), TB_PEDIDO_ITEM_PROMOCAO PDI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK)
	 WHERE PDI.NM_PEDIDO = P.NM_PEDIDO
	   AND M.CD_MATERIAL = PDI.CD_MATERIAL
	   AND M.CD_MATERIAL > 0
	   AND PDI.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 -- BRINDES DE PROMOÇÃO
	   AND PDI.QT_RESERVADA > 0


























GO
