SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaMaterial]
AS

	SELECT M.CD_MATERIAL_EXTERNO "code",
		   M.DC_MATERIAL "description",
		   M.DC_EAN "EANcode",
		   M.NM_PESO_BRUTO "grossWeight",
		   M.NM_PESO_LIQUIDO "netWeight",
		   M.NM_LARGURA "width",
		   M.NM_ALTURA "height",
		   M.NM_COMPRIMENTO "lenght",
		   M.ID_MODO_AGRUPAMENTO "grouping",
		   M.QT_ITENS_PACK "quantityPack",
		   (SELECT CF.DC_CLASSIFICACAO_FISCAL FROM TB_CLASSIFICACAO_FISCAL CF WITH(NOLOCK) WHERE CF.CD_CLASSIFICACAO_FISCAL = M.CD_CLASSIFICACAO_FISCAL) "taxClassification",
		   (SELECT CF.DC_CEST FROM TB_CEST CF WITH(NOLOCK) WHERE CF.CD_CEST = M.CD_CEST) "CESTcodeRevenue",
		   (SELECT CF.DC_CEST FROM TB_CEST CF WITH(NOLOCK) WHERE CF.CD_CEST = M.CD_CEST_DEMAIS_OPERACOES) "CESTcodeOthers",
		   M.ID_ORIGEM_MATERIAL "origin",
		   M.CD_CODIGO_AGRUPADOR "groupingCode",
		   M.QT_ESTOQUE_MINIMO "minimumStock",
		   M.QT_ESTOQUE_SEGURANCA "safetyStock",
		   M.QT_ESTOQUE_REGULADOR "regularStock",
		   M.ID_CARACTERISTICA_MATERIAL "feature",
		   M.ID_VALIDA_ESTOQUE "validateStock",
		   M.NM_DIAS_ADICIONAIS_ENTREGA "additionalDays",
		   M.ID_MEDIDAS_ESPECIAIS "specialMeasure",
		   M.ID_GARANTIA "warranty",
		   M.NM_DIAS_GARANTIA "warrantyDays",
		   M.CD_FORNECEDOR "providerID",
		   M.CD_MATERIAL_FORNECEDOR "providerSkuCode"
	  FROM TB_MATERIAL M WITH(NOLOCK)
GO
