SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_IntegracaoOmieConsultaEstoqueMateriaisInventario]
AS
	SELECT	M.CD_MATERIAL,
			M.CD_MATERIAL_EXTERNO,
			M.DC_MATERIAL,
			MI.DC_CODIGO_MATERIAL_INTEGRACAO,
			E.CD_CENTRO_DISTRIBUICAO,
			E.CD_ARMAZEM,
			E.QT_ESTOQUE_DISPONIVEL,
			E.QT_ESTOQUE_EMPENHADO,
			E.VL_CUSTO_MEDIO_UNITARIO VALOR_ESTOQUE,
			'SLD' TIPO_AJUSTE,
			'AJU' ORIGEM,
			'INV' MOTIVO,
			S.CD_SERVICO_EXTERNO,
			S.DC_CHAVE_ACESSO,
			S.DC_TOKEN,
			I.CD_INTEGRACAO
	  FROM TB_MATERIAL_INTEGRACAO MI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK), TB_ESTOQUE E WITH(NOLOCK), TB_SERVICO_EXTERNO S WITH(NOLOCK), TB_INTEGRACAO I WITH(NOLOCK)
	 WHERE M.CD_MATERIAL > 0
	   AND M.CD_MATERIAL = MI.CD_MATERIAL
	   AND M.ID_SITUACAO_ESTOQUE = 1
	   AND MI.ID_SITUACAO_INTEGRACAO = 3
	   AND E.CD_MATERIAL = M.CD_MATERIAL
	   AND MI.CD_MATERIAL = E.CD_MATERIAL
	   AND MI.CD_SERVICO_EXTERNO = S.CD_SERVICO_EXTERNO
	   AND S.CD_CENTRO_DISTRIBUICAO = E.CD_CENTRO_DISTRIBUICAO
	   AND I.CD_SERVICO_EXTERNO = S.CD_SERVICO_EXTERNO
	   AND I.ID_TIPO_INTEGRACAO = 5
GO
