SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ApiConsultaSessaoProduto]
AS

	select	1 id,
			'Destaques' [name],
			VL_PARAMETRO active
	from TB_VALOR_PARAMETRO with(nolock)
	where CD_GRUPO_PARAMETRO = 9
	and CD_PARAMETRO = 83

	union

	select	2 id,
			'Lançamentos' [name],
			VL_PARAMETRO active
	from TB_VALOR_PARAMETRO with(nolock)
	where CD_GRUPO_PARAMETRO = 9
	and CD_PARAMETRO = 82

	union

	select	3 id,
			CASE LEN((SELECT ISNULL(DC_TITULO_MAIS_VISTOS,'') FROM TB_ESCRITORIO_VIRTUAL_PARAMETRO WITH(NOLOCK)))
			WHEN 0 THEN 'Mais Vistos'
			ELSE (SELECT DC_TITULO_MAIS_VISTOS FROM TB_ESCRITORIO_VIRTUAL_PARAMETRO WITH(NOLOCK)) END [name],
			VL_PARAMETRO active
	from TB_VALOR_PARAMETRO with(nolock)
	where CD_GRUPO_PARAMETRO = 9
	and CD_PARAMETRO = 85

	union

	select	4 id,
			CASE LEN((SELECT ISNULL(DC_TITULO_PROMOCOES,'') FROM TB_ESCRITORIO_VIRTUAL_PARAMETRO WITH(NOLOCK)))
			WHEN 0 THEN 'Promoções'
			ELSE (SELECT DC_TITULO_PROMOCOES FROM TB_ESCRITORIO_VIRTUAL_PARAMETRO WITH(NOLOCK)) END [name],
			VL_PARAMETRO active
	from TB_VALOR_PARAMETRO with(nolock)
	where CD_GRUPO_PARAMETRO = 9
	and CD_PARAMETRO = 131

GO
