SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ApiEmail]
AS

SELECT 
    E.[CD_EMAIL] AS idEmail,
    [DC_ENDERECO_EMAIL] AS Address,
    [DC_IDENTIFICACAO_ENDERECO_EMAIL] AS AddressName,
    [DC_TITULO_ENCODING_EMAIL] AS SubjectEncoding,
    [DC_CORPO_ENCODING_EMAIL] AS BodyEncoding,
    [DC_SMTP_EMAIL] AS SmtpServer,
    [DC_PORTA_EMAIL] AS Port,
    [ID_UTILIZA_SSL] AS UseSsl,
    [DC_CONTA_EMAIL] AS Username,
    [DC_SENHA_EMAIL] AS Password,
    [ID_TIPO_EMAIL_EVENTO] AS EmailType,
	[DC_ASSUNTO_EMAIL] As EmailSubject
FROM [dbo].[TB_EMAIL] E WITH(NOLOCK), [dbo].[TB_ENVIO_EMAIL_PARAMETROS] EV WITH(NOLOCK)
-- CORREÇAO BITRIX #8347 - POR DIEGO ZILIOTI EM 24/12/2024 -- PRECISAMOS VALIDAR SE O E-MAIL ESTÁ ATIVO E VAMOS DEIXAR O FILTRO NATIVO NA VIEW
WHERE E.CD_EMAIL = EV.CD_EMAIL
AND EV.ID_SITUACAO = 1 --ATIVO
GO
