SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_IntegracaoSequoiaAutorizacaoConsultaPedido]
AS

	SELECT PE.NM_PEDIDO id,
	'0' service_id,
	''	carrier,
	'drop_off' logistic,
	'' site_id,
	
	'0' carrier_information_IdCarrierInformation,
    PE.NM_PEDIDO carrier_information_PedidoId,
	'' carrier_information_contract,
	'2010' carrier_information_client_id,
	'' carrier_information_account,
	'' carrier_information_user,
	'' carrier_information_password, 
	'0' carrier_information_agency_id,
	'' carrier_information_agency_acronym,
	'' carrier_information_agency_description,
	'0' carrier_information_agencyId,
	'' carrier_information_agencyAcronym,
	'' carrier_information_agencyDescription,
	'1726' carrier_information_clienteID,

	'0' shipment_information_IdShipmentInformation,

	'0' shipment_information_receiver_idReceiver,

	CASE P.ID_TIPO_PESSOA 
		WHEN 1 THEN
			''
		WHEN 2 THEN
			(SELECT PJ.DC_NOME_FANTASIA FROM TB_PESSOA_JURIDICA PJ WITH(NOLOCK) WHERE PJ.CD_PESSOA = P.CD_PESSOA)
	END shipment_information_receiver_nickname, 
		
	CASE P.ID_TIPO_PESSOA 
		WHEN 1 THEN
			LTRIM(RTRIM((SELECT PF.DC_NOME FROM TB_PESSOA_FISICA PF WHERE PF.CD_PESSOA = P.CD_PESSOA)))
		WHEN 2 THEN
			''
	END shipment_information_receiver_first_name, 
	
	CASE P.ID_TIPO_PESSOA 
		WHEN 1 THEN
			LTRIM(RTRIM((SELECT ISNULL(PF.DC_SOBRENOME,'') FROM TB_PESSOA_FISICA PF WHERE PF.CD_PESSOA = P.CD_PESSOA)))
		WHEN 2 THEN
			''
	END shipment_information_receiver_last_name, 
	
	'0' shipment_information_receiver_phone1_IdPhone,
	'0' shipment_information_receiver_phone1_area_code,
	'' shipment_information_receiver_phone1_number,
	'' shipment_information_receiver_phone1_extension,
	
	'0' shipment_information_receiver_phone2_IdPhone,
	'0' shipment_information_receiver_phone2_area_code,
	'' shipment_information_receiver_phone2_number,
	'' shipment_information_receiver_phone2_extension,
	
	'0' shipment_information_receiver_phone3_IdPhone,
	'0' shipment_information_receiver_phone3_area_code,
	'' shipment_information_receiver_phone3_number,
	'' shipment_information_receiver_phone3_extension,

	--shipment_information_receiver_address
	--(SELECT PEND.DC_ESTRUTURA_GEO5 + ', ' + PEND.DC_NUMERO + ' - ' + PEND.DC_COMPLEMENTO + ' - ' + PEND.DC_REFERENCIA + ' - ' + PEND.DC_ESTRUTURA_GEO4 + ' - ' + PEND.DC_ESTRUTURA_GEO3 + ' - ' + PEND.DC_ESTRUTURA_GEO2 + ' - CEP: ' + PEND.DC_CODIGO_POSTAL FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_address_line,
	(SELECT PEND.DC_ESTRUTURA_GEO5 + ', ' + PEND.DC_NUMERO FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_address_line,
	
	(SELECT PEND.DC_ESTRUTURA_GEO5 FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_street_name,
	(SELECT PEND.DC_NUMERO FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_street_number,
	(SELECT PEND.DC_COMPLEMENTO FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_comment,
	(SELECT PEND.DC_CODIGO_POSTAL FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_zip_code,
	
	--shipment_information_receiver_address_city
	'' shipment_information_receiver_address_city_id,
	(SELECT PEND.DC_ESTRUTURA_GEO3 FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_city_name,
				
	--shipment_information_receiver_address_state
	(SELECT PEND.DC_ESTRUTURA_GEO2 FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_state_id,
	'' shipment_information_receiver_address_state_name,
	
	
	--shipment_information_receiver_address_country
	'BR' shipment_information_receiver_address_country_id,
	'BRASIL' shipment_information_receiver_address_country_name,
				
	--shipment_information_receiver_address_neighborhood
	'0' shipment_information_receiver_address_neighborhood_IdNeighborhood,
	'' shipment_information_receiver_address_neighborhood_id,
	(SELECT PEND.DC_ESTRUTURA_GEO4 FROM TB_PEDIDO_ENDERECO PEND WHERE PEND.NM_PEDIDO = PE.NM_PEDIDO) shipment_information_receiver_address_neighborhood_name,
				
	--shipment_information_receiver_address_municipality
	'0' shipment_information_receiver_address_IdMunicipality,
	'' shipment_information_receiver_address_municipality_id,
	'' shipment_information_receiver_address_municipality_name,
				
	--shipment_information_receiver_address_geolocation
	'' shipment_information_receiver_address_geolocation_type,
	'0' shipment_information_receiver_address_latitude,
	'0' shipment_information_receiver_address_longitude,

	CASE P.ID_TIPO_PESSOA 
		WHEN 1 THEN
			LTRIM(RTRIM((SELECT PF.DC_NOME + ' ' + ISNULL(PF.DC_SOBRENOME,'') FROM TB_PESSOA_FISICA PF WHERE PF.CD_PESSOA = P.CD_PESSOA)))
		WHEN 2 THEN
			(SELECT PJ.DC_RAZAO_SOCIAL FROM TB_PESSOA_JURIDICA PJ WITH(NOLOCK) WHERE PJ.CD_PESSOA = P.CD_PESSOA)
	END shipment_information_receiver_full_name, 

	'0' shipment_information_receiver_id,
	
	(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 1) shipment_information_receiver_number,

	CASE P.ID_TIPO_PESSOA 
		WHEN 1 THEN
			'CPF'
		WHEN 2 THEN
			'CNPJ'
	END shipment_information_receiver_type,

	CASE P.ID_TIPO_PESSOA 
		WHEN 1 THEN
			'ISENTO'
		WHEN 2 THEN
			(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2) 
	END shipment_information_receiver_state_tax_id,
	
	
	'0' shipment_information_sender_IdSender,

	
	(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD 	WHERE PD.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO) AND PD.ID_TIPO_DOCUMENTO = 1) shipment_information_sender_number,
	'CNPJ' shipment_information_sender_type, 
	(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD 	WHERE PD.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO) AND PD.ID_TIPO_DOCUMENTO = 2) shipment_information_sender_state_tax_id,
	'' shipment_information_sender_nickname,
	'' shipment_information_sender_first_name,
	'' shipment_information_sender_last_name,
	'' shipment_information_sender_email,
	
	'0' shipment_information_sender_phone_IdPhone,
	'' shipment_information_sender_phone_area_code,
	'' shipment_information_sender_phone_number,
	'' shipment_information_sender_phone_extension,

	--shipment_information_sender_address
	--(SELECT PEND.DC_ESTRUTURA_GEO5 + ', ' + PEND.DC_NUMERO + ' - ' + PEND.DC_COMPLEMENTO + ' - ' + PEND.DC_REFERENCIA + ' - ' + PEND.DC_ESTRUTURA_GEO4 + ' - ' + PEND.DC_ESTRUTURA_GEO3 + ' - ' + PEND.DC_ESTRUTURA_GEO2 + ' - CEP: ' + PEND.DC_CODIGO_POSTAL 
	--	FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_address_line,

	(SELECT PEND.DC_ESTRUTURA_GEO5 + ', ' + PEND.DC_NUMERO  
		FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_address_line,

	(SELECT PEND.DC_ESTRUTURA_GEO5 
		FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_street_name,

	(SELECT PEND.DC_NUMERO 
		FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_street_number,

	(SELECT PEND.DC_COMPLEMENTO
		FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_comment,

	(SELECT PEND.DC_CODIGO_POSTAL 
		FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_zip_code,

	'' shipment_information_sender_address_city_id,
	(SELECT PEND.DC_ESTRUTURA_GEO3
		FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_city_name,
				
	(SELECT PEND.DC_ESTRUTURA_GEO2
		FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_state_id,
	'' shipment_information_sender_address_state_name,
	
	'BR' shipment_information_sender_address_country_id,
	'BRASIL' shipment_information_sender_address_country_name,

	'0' shipment_information_sender_address_neighborhood_IdNeighborhood,
	'' shipment_information_sender_address_neighborhood_id,
	(SELECT PEND.DC_ESTRUTURA_GEO4
		FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) shipment_information_sender_address_neighborhood_name,
	

	'0' shipment_information_sender_address_IdMunicipality,
	'' shipment_information_sender_address_municipality_id,
	'' shipment_information_sender_address_municipality_name,
	
	'' shipment_information_sender_address_geolocation_type,
	'0' shipment_information_sender_address_latitude,
	'0' shipment_information_sender_address_longitude,
			
	(SELECT X.DC_RAZAO_SOCIAL FROM TB_CENTRO_DISTRIBUICAO Z, TB_PESSOA_JURIDICA X WHERE Z.CD_EMPRESA = X.CD_PESSOA AND Z.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO) shipment_information_sender_full_name,

	'' shipment_information_facility_id,
	'' shipment_information_unit_code,
	--(SELECT NF.NM_NOTA_FISCAL FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = PE.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2) shipment_information_order_code,
	PE.NM_PEDIDO shipment_information_order_code,
	
	'' shipment_information_packing_list_code,
	'' shipment_information_service_code,
	
	-- verifica se é contagem ou indaiatuba
	CASE (SELECT UPPER(PEND.DC_ESTRUTURA_GEO3) FROM TB_PESSOA_ENDERECO PEND WHERE PEND.ID_TIPO_ENDERECO = 3 AND PEND.CD_PESSOA IN (SELECT C.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO C WHERE C.CD_CENTRO_DISTRIBUICAO = PE.CD_CENTRO_DISTRIBUICAO)) 
		WHEN 'CONTAGEM' THEN
			'5457'
		WHEN 'INDAIATUBA' THEN
			'5455'
		ELSE ''
	END shipment_information_product_id,
	
	'True' shipment_information_collect_deliver,
	'' shipment_information_nr_collect_deliver,
	'' shipment_information_bra_destiny,
	(SELECT NF.DC_SERIE FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = PE.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2 AND NF.NM_RECIBO_NFE IS NOT NULL) shipment_information_fieldAlfa1,
	(SELECT NF.NM_NOTA_FISCAL FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = PE.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2 AND NF.NM_RECIBO_NFE IS NOT NULL) shipment_information_fieldAlfa2,
	(SELECT NF.DC_CHAVE_ACESSO_NFE FROM TB_NOTA_FISCAL NF WHERE NF.NM_PEDIDO = PE.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2 AND NF.ID_TIPO_NOTA_FISCAL = 2 AND NF.NM_RECIBO_NFE IS NOT NULL) shipment_information_fieldAlfa3,
	PE.NM_PEDIDO shipment_information_fieldAlfa4,
	'' shipment_information_fieldAlfa5,
	'' shipment_information_commodityType,
	'False' test
								
FROM TB_PEDIDO PE, TB_PESSOA P
WHERE PE.CD_PESSOA = P.CD_PESSOA
--AND PE.NM_PEDIDO = 249538
GO
