SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vw_CampanhaExtratoPontosPessoa]
AS

SELECT	PCH.CD_PESSOA_CAMPANHA_PONTOS_SALDO,
		CONVERT(VARCHAR,PCH.DT_MOVIMENTO,103) "Data Movimento",
		CASE pch.ID_TIPO_MOVIMENTO when 1 then 'Crédito de Pontos'
		when 2 then 'Resgate de Pontos' end "Tipo Movimento",
		dbo.FN_BUSCA_COD_PRODUTO_VENDA_EXTERNO(PCH.NM_ORIGEM_MOVIMENTO) + ' - ' + DBO.FN_BUSCA_NOME_PRODUTO(PCH.NM_ORIGEM_MOVIMENTO) "Produto Adquirido",
		PCH.NM_PEDIDO_ORIGEM_MOVIMENTO "Nro. Pedido Origem",
		PCH.VL_MOVIMENTO "Qtde. Pontos",
		CONVERT(VARCHAR,PCH.DT_UTILIZACAO,103) "Data Utilização",
		dbo.FN_BUSCA_COD_PRODUTO_VENDA_EXTERNO(PCH.NM_ORIGEM_UTILIZACAO) + ' - ' + DBO.FN_BUSCA_NOME_PRODUTO(PCH.NM_ORIGEM_UTILIZACAO) "Produto Resgatado",
		PCH.NM_PEDIDO_ORIGEM_UTILIZACAO "Nro. Pedido Resgate"
  FROM TB_PESSOA_CAMPANHA_PONTOS_SALDO_HISTORICO pch with (NOLOCK) 



GO
