SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER VIEW [dbo].[vw_ApiProdutoAtualizacaoCadastro]    
AS    
SELECT     
    PV.CD_PRODUTO_VENDA AS IdProduto,    
	PV.CD_MATERIAL AS IdMaterial,    
    PV.CD_PRODUTO_VENDA_EXTERNO AS ProductReference,    
	M.CD_MATERIAL_EXTERNO AS MaterialReference,    
    PV.DC_PRODUTO_VENDA AS ProductName,    
    PV.ID_AGRUPAMENTO AS ProductGroup,    
    PV.ID_TIPO_PRODUTO AS ProductType,    
    PV.DC_BREVE_EV AS ProductDescription,    
    PV.DT_CADASTRO AS ProductCreationDate,    
    PV.DT_ATUALIZACAO AS ProductUpdateDate,    
    M.DC_MATERIAL AS MaterialName,    
    M.ID_CARACTERISTICA_MATERIAL AS MaterialCharacteristics,    
    M.ID_SITUACAO_ESTOQUE AS MaterialStockSituation,    
    M.ID_VENDA_SUSPENSA AS MaterialSuspendedSelling,    
    M.NM_PESO AS MaterialWeight,    
    M.NM_PESO_BRUTO AS MaterialWeightGrossSellout,    
    M.NM_PESO_LIQUIDO AS MaterialWeightLiquidSellout,    
    M.NM_VOLUME AS MaterialVolume,    
    M.NM_LARGURA AS MaterialWidth,    
    M.NM_ALTURA AS MaterialHeight,    
    M.NM_COMPRIMENTO AS MaterialLength,    
    M.CD_CLASSIFICACAO_FISCAL AS MaterialNcm,    
    M.DC_EAN AS MaterialEan,    
    M.ID_MODO_AGRUPAMENTO AS MaterialUnityMeasureSellout,    
    M.CD_CEST AS MaterialCest,    
	F.DC_IMAGEM AS ProductImageMedium,    
	PVP.VL_PRECO AS ProductPrice,    
	PV.NM_CICLO_DESCONTINUACAO AS DiscontinuationCycle,
	PV.NM_CICLO_LANCAMENTO AS LaunchCycle,
	DC_ESPECIFICACAO_EV AS ProductEVSpecification, 
	DC_URL_VIDEO1_EV AS ProductEVUrlVideo1, 
	DC_URL_VIDEO2_EV AS ProductEVUrlVideo2, 
	DC_URL_VIDEO3_EV AS ProductEVUrlVideo3, 
	DC_PALAVRA_CHAVE AS ProductKeyword, 
	ID_GERA_BONUS AS ProductGenerateBonus, 
	ID_GERA_GRADUACAO AS ProductGenerateGraduation, 
	ID_GERA_ATIVACAO AS ProductGenerateActivation, 
	PV.CD_CODIGO_AGRUPADOR AS ProductGroupingId, 
	ID_DISPONIVEL_LOJA_VIRTUAL AS ProductAvailableOnStore, 
	ID_DESTAQUE_LOJA_VIRTUAL AS ProductStoreHighlight, 
	ID_GERA_SALDO_FAVOR AS ProductGenerateCredits, 
	VL_SALDO_FAVOR AS ProductCreditsValue, 
	ID_VIGENCIA_ASSINATURA AS ProductSubscriptionValidity, 
	QT_DEPENDENTES_ASSINATURA AS ProductSubscriptionDependents, 
	DC_TITULO_WEB_SEO AS ProductWebSeoTitle, 
	DC_DESCRICAO_WEB_SEO AS ProductWebSeoDescription, 
	DC_TAGS_BUSCA AS ProductSearchTags,
	M.NM_TOLERANCIA_PESO AS MaterialToleranceWeight,
    M.ID_ORIGEM_MATERIAL AS MaterialOriginCode,
    M.QT_ESTOQUE_MINIMO AS MaterialMinimumStock,
    M.QT_ESTOQUE_SEGURANCA AS MaterialStockSecurity,
    M.QT_ESTOQUE_REGULADOR AS MaterialStockRegulator,
    M.VL_BASE_CALCULO_ICMS_ST AS MaterialBaseCalcICMSST,
    M.VL_UNITARIO_ICMS_ST AS MaterialUnitPriceICMSST,
    M.VL_CUSTO_UNITARIO_MARKETING AS MaterialMarketingCost,
    M.CD_CFOP_SAIDA_VENDA AS MaterialCFOPSaidaVenda,
    M.CD_CFOP_SAIDA_REVENDA AS MaterialCFOPSaidaRevenda,
    M.CD_CFOP_SAIDA_DOACAO AS MaterialCFOPSaidaDoacao,
    M.CD_CFOP_ENTRADA_DEVOLUCAO AS MaterialCFOPEntradaDevolucao,
    M.CD_CFOP_SAIDA_VENDA_FORA_ESTADO AS MaterialCFOPSaidaVendaForaEstado,
    M.CD_CFOP_SAIDA_REVENDA_FORA_ESTADO AS MaterialCFOPSaidaRevendaForaEstado,
    M.CD_CFOP_SAIDA_DOACAO_FORA_ESTADO AS MaterialCFOPSaidaDoacaoForaEstado,
    M.CD_CFOP_ENTRADA_DEVOLUCAO_FORA_ESTADO AS MaterialCFOPEntradaDevolucaoForaEstado,
    M.CD_CFOP_SAIDA_VENDA_PJ AS MaterialCFOPSaidaVendaPJ,
    M.CD_CFOP_SAIDA_REVENDA_PJ AS MaterialCFOPSaidaRevendaPJ,
    M.CD_CFOP_SAIDA_DOACAO_PJ AS MaterialCFOPSaidaDoacaoPJ,
    M.CD_CFOP_ENTRADA_DEVOLUCAO_PJ AS MaterialCFOPEntradaDevolucaoPJ,
    M.CD_CFOP_SAIDA_VENDA_FORA_ESTADO_PJ AS MaterialCFOPSaidaVendaForaEstadoPJ,
    M.CD_CFOP_SAIDA_REVENDA_FORA_ESTADO_PJ AS MaterialCFOPSaidaRevendaForaEstadoPJ,
    M.CD_CFOP_SAIDA_DOACAO_FORA_ESTADO_PJ AS MaterialCFOPSaidaDoacaoForaEstadoPJ,
    M.CD_CFOP_ENTRADA_DEVOLUCAO_FORA_ESTADO_PJ AS MaterialCFOPEntradaDevolucaoForaEstadoPJ,
	M.CD_FORNECEDOR AS MaterialSupplierId,
    M.CD_MATERIAL_FORNECEDOR AS MaterialSupplierCode,
    M.NM_EMPILHAMENTO_MAXIMO AS MaterialStackingMax,
    M.QT_ITENS_PACK AS MaterialItemsPerPack,
    M.QT_UNIDADE_LASTRO AS MaterialUnitsPerLayer,
    M.QT_LASTRO_PALETE AS MaterialLayersPerPallet,
    M.ID_NUMERO_CALCADO AS MaterialShoeNumber,
    M.CD_CODIGO_AGRUPADOR AS MaterialGroupingId,
    M.CD_GRUPO_IMPOSTOS_SAIDA AS MaterialTaxGroupOutput,
    M.CD_GRUPO_IMPOSTOS_ENTRADA AS MaterialTaxGroupInput,
    M.CD_TEXTO_LEGAL_SAIDA AS MaterialLegalTextOutput,
    M.CD_TEXTO_LEGAL_ENTRADA AS MaterialLegalTextInput,
    M.CD_TEXTO_LEGAL_SAIDA_PJ AS MaterialLegalTextOutputPJ,
    M.CD_TEXTO_LEGAL_ENTRADA_PJ AS MaterialLegalTextInputPJ
FROM TB_PRODUTO_VENDA PV    
INNER JOIN TB_MATERIAL M    
ON M.CD_MATERIAL = PV.CD_MATERIAL    
OUTER APPLY (SELECT TOP 1 F.DC_IMAGEM    
    FROM TB_PRODUTO_VENDA_FOTO F    
    WHERE F.CD_PRODUTO_VENDA = PV.CD_PRODUTO_VENDA) F    
OUTER APPLY (SELECT TOP 1 *    
    FROM TB_PRODUTO_VENDA_PRECO PVP    
    WHERE PVP.CD_PRODUTO_VENDA = PV.CD_PRODUTO_VENDA    
      AND PVP.NM_CICLO_FINAL IS NULL    
    ORDER BY PVP.NM_CICLO_INICIAL DESC) PVP
GO
