SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vw_IntegracaoSeniorConsultaPedidosParcelasAbertas]
AS


		SELECT	PE.NM_PEDIDO, 
				PE.CD_PESSOA,
				(SELECT X.CD_PESSOA_EXTERNO FROM TB_PESSOA X WHERE X.CD_PESSOA = PE.CD_PESSOA) CD_PESSOA_EXTERNO,
				PE.NM_PEDIDO_EXTERNO, 
				PE.CD_PLANO_PAGAMENTO, 
				PE.CD_EST_SITUACAO,
				PA.CD_PARCELA,
				PA.CD_PARCELA_EXTERNO
		FROM TB_PEDIDO PE, TB_DIVIDA DI, TB_PARCELA PA
		WHERE PE.NM_PEDIDO = DI.NM_PEDIDO
		AND DI.CD_DIVIDA = PA.CD_DIVIDA
		AND ISNULL(PE.NM_PEDIDO_EXTERNO,'0') <> '0'
		AND PE.NM_PEDIDO IN (SELECT DI.NM_PEDIDO FROM TB_DIVIDA WHERE DI.ID_SITUACAO_DIVIDA = 1)
		AND PE.CD_EST_SITUACAO NOT IN (3)
		--AND PA.CD_PARCELA_EXTERNO IS NOT NULL
		--AND PE.CD_PLANO_PAGAMENTO = 1
		--AND PE.NM_PEDIDO = 404277





GO
