SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_IntegracaoSequoiaAutorizacaoConsultaPedidoItem]
AS


				
	SELECT	PE.NM_PEDIDO,
			PE.CD_PRODUTO_VENDA,
			'' item_id,
			PV.DC_PRODUTO_VENDA [description],
			'' domain_id,
			PE.QT_RESERVADA quantity
	FROM TB_PEDIDO_ITEM PE, TB_PRODUTO_VENDA PV
	WHERE PE.CD_PRODUTO_VENDA = PV.CD_PRODUTO_VENDA 
	AND PE.NM_PEDIDO_ITEM_CONJUNTO = 0
	AND PE.QT_RESERVADA > 0
	--AND PE.NM_PEDIDO = 67660
GO
