SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PEDIDOS_INTEGRACAO_ERP_TINY]
AS
SELECT	NM_PEDIDO, CD_PESSOA
FROM	dbo.TB_PEDIDO AS P WITH (nolock)
WHERE   (NM_PEDIDO_EXTERNO IS NULL) 
AND		(CONVERT(VARCHAR(2), CD_EST_SITUACAO) =
        (SELECT INP.DC_VALOR_PARAMETRO
         FROM   dbo.TB_INTEGRACAO AS I WITH (NOLOCK) INNER JOIN
                dbo.TB_SERVICO_EXTERNO AS S WITH (NOLOCK) ON I.CD_SERVICO_EXTERNO = S.CD_SERVICO_EXTERNO INNER JOIN
                dbo.TB_INTEGRACAO_PARAMETRO AS INP WITH (NOLOCK) ON I.CD_INTEGRACAO = INP.CD_INTEGRACAO
         WHERE  (S.ID_SITUACAO = 1) 
		 AND    (S.ID_NOME_SERVICO_EXTERNO = 9) -- TINY
		 AND    (S.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO) 
		 AND	(I.ID_TIPO_INTEGRACAO = 3) -- INTEGRACAO DE PEDIDOS
		 AND	(INP.DC_PARAMETRO = 'SITUACAO_PEDIDO')))
		 AND	(P.CD_PESSOA IN (24,7259)) -- PARA OS TESTES
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "P"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 365
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PEDIDOS_INTEGRACAO_ERP_TINY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PEDIDOS_INTEGRACAO_ERP_TINY'
GO
