SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ApiConsultaPessoaFuncao]
AS

SELECT	P.CD_PESSOA,
		P.CD_FUNCAO,
		P.ID_SITUACAO_FUNCAO,
		P.DT_INICIO,
		P.DT_FIM,
		PR.CD_PAPEL_CARREIRA,
		PR.CD_PAPEL_DESEMPENHO,
		[dbo].[FN_BUSCA_COD_SIT_COMERCIAL_DETALHE_PESSOA] (PR.CD_PESSOA, PR.NM_CICLO_ATUAL) CD_SITUACAO_COMERCIAL_DETALHE,
		[dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA] (PR.CD_PESSOA, PR.NM_CICLO_ATUAL) DS_SIT_COMERCIAL_DETALHE,
		[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](PR.CD_FUNCAO, PR.CD_PAPEL_CARREIRA) DS_PAPEL_CARREIRA,
		[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](PR.CD_FUNCAO, PR.CD_PAPEL_DESEMPENHO) DS_PAPEL_DESEMPENHO,
		isnull(PR.CD_PESSOA_LIDERANCA,0) CD_PESSOA_LIDERANCA,
		isnull([dbo].[FN_BUSCA_NOME_PESSOA](PR.CD_PESSOA_LIDERANCA),'') NM_LIDERANCA,
		PR.CD_EST_COMERCIAL,
		[dbo].[FN_BUSCA_DESC_EST_COMERCIAL](PR.CD_EST_COMERCIAL) DS_EST_COMERCIAL,
		isnull((SELECT TOP 1 ES.CD_PESSOA_RESPONSAVEL 
		 FROM TB_EST_COMERCIAL_HIERARQUIA ES with(nolock)
		 WHERE ES.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL
		 ORDER BY ES.NM_CICLO_INICIO DESC),0) CD_RESP_EST_COMERCIAL,
		isnull([dbo].[FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL](PR.CD_EST_COMERCIAL, 0),'')	NM_RESP_EST_COMERCIAL					
  FROM TB_PESSOA_FUNCAO P with(nolock), TB_PESSOA_RESUMO PR WITH(NOLOCK)
 WHERE P.CD_PESSOA = PR.CD_PESSOA
   AND P.CD_FUNCAO = PR.CD_FUNCAO
   --AND P.CD_PESSOA = 13683
GO
