SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaSaldoFavor]
AS

	SELECT CD_PESSOA "customerId",
		   CD_FUNCAO "function",
		   VL_SALDO_FAVOR "balanceAvailable",
		   CD_CENTRO_DISTRIBUICAO "distributionCenterId"
	  FROM TB_PESSOA_SALDO_FAVOR WITH(NOLOCK)
	
	UNION
	
	SELECT CD_PESSOA "customerId",
		   CD_FUNCAO "function",
		   VL_SALDO_FAVOR "balanceAvailable",
		   0 "distributionCenterId"
	  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
GO
