SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[VW_PEDIDO_EMBALAGEM]
AS


SELECT	pd.NM_PEDIDO AS NM_PEDIDO, 
		pd.CD_PESSOA AS CD_PESSOA, 
		DBO.FN_BUSCA_NOME_PESSOA(PD.CD_PESSOA) DC_PESSOA,
		ME.NM_EMBALAGEM, 
		lts.CD_LOTE_SEPARACAO,
		ME.QT_MATERIAL, 
		(SELECT CASE (SELECT VL_PARAMETRO FROM TB_VALOR_PARAMETRO with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
			WHEN 25 THEN convert(varchar,CD.CD_CENTRO_DISTRIBUICAO)
			ELSE CD.DC_CENTRO_DISTRIBUICAO END) DC_CENTRO_DISTRIBUICAO,
        (SELECT CASE (SELECT VL_PARAMETRO FROM TB_VALOR_PARAMETRO with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
			WHEN 25 THEN convert(varchar,LS.CD_LINHA_SEPARACAO)
			ELSE isnull(LS.DC_LINHA_SEPARACAO,'') END) DC_LINHA_SEPARACAO,
		(SELECT PR.DC_PRATELEIRA 
		FROM TB_POSICAO_MATERIAL PM with (NOLOCK), TB_POSICAO_PRATELEIRA PP with (NOLOCK), TB_PRATELEIRA PR with (NOLOCK) 
		WHERE PM.CD_POSICAO_PRATELEIRA = PP.CD_POSICAO_PRATELEIRA
		AND PM.CD_MATERIAL = me.CD_MATERIAL
		AND PM.CD_PRATELEIRA = PR.CD_PRATELEIRA
		AND PR.CD_LINHA_SEPARACAO = PM.CD_LINHA_SEPARACAO
		AND PR.CD_LINHA_SEPARACAO = ls.CD_LINHA_SEPARACAO) DC_PRATELEIRA,
		(SELECT PP.DC_POSICAO_PRATELEIRA 
		FROM TB_POSICAO_MATERIAL PM with (NOLOCK) , TB_POSICAO_PRATELEIRA PP with (NOLOCK) , TB_PRATELEIRA PR with (NOLOCK) 
		WHERE PM.CD_POSICAO_PRATELEIRA = PP.CD_POSICAO_PRATELEIRA
		AND PM.CD_MATERIAL = me.CD_MATERIAL
		AND PM.CD_PRATELEIRA = PR.CD_PRATELEIRA
		AND PR.CD_LINHA_SEPARACAO = PM.CD_LINHA_SEPARACAO
		AND PR.CD_LINHA_SEPARACAO = ls.CD_LINHA_SEPARACAO) DC_POSICAO_PRATELEIRA,
		MT.CD_MATERIAL_EXTERNO CD_MATERIAL,
		MT.DC_MATERIAL DC_MATERIAL,
		PE.CD_MATERIAL_EMBALAGEM,
		DBO.FN_BUSCA_MATERIAL(PE.CD_MATERIAL_EMBALAGEM) DC_MATERIAL_EMBALAGEM,
		(SELECT MAX(NF.NM_NOTA_FISCAL) FROM TB_NOTA_FISCAL NF with (NOLOCK) WHERE NF.NM_PEDIDO = PD.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2) NM_NOTA_FISCAL,
		(SELECT MAX(NF.DC_SERIE) FROM TB_NOTA_FISCAL NF with (NOLOCK) WHERE NF.NM_PEDIDO = PD.NM_PEDIDO AND NF.ID_SITUACAO_NOTA_FISCAL = 2) DC_SERIE,
		(SELECT PV.CD_PRODUTO_VENDA_EXTERNO FROM TB_PRODUTO_VENDA PV with (NOLOCK) WHERE PV.CD_PRODUTO_VENDA = ME.CD_KIT) CD_KIT,
		DBO.FN_BUSCA_FUNCAO(PD.CD_FUNCAO) DC_FUNCAO,
		DBO.FN_BUSCA_DESC_PAPEL_CARREIRA(PD.CD_FUNCAO,PD.CD_PAPEL_CARREIRA) DC_PAPEL_CARREIRA,
		DBO.FN_BUSCA_DESC_PAPEL_DESEMPENHO(PD.CD_FUNCAO,PD.CD_PAPEL_DESEMPENHO) DC_PAPEL_DESEMPENHO,
		SUBSTRING(pde.DC_ESTRUTURA_GEO5 + ', ' + pde.DC_ESTRUTURA_GEO4 + ', ' + pde.DC_ESTRUTURA_GEO3 + '-' + pde.DC_ESTRUTURA_GEO2,0,80) DC_EST_GEOGRAFICA, 
		pde.DC_CODIGO_POSTAL, 
		pde.DC_NUMERO, 
		pde.DC_COMPLEMENTO, 
		pde.DC_REFERENCIA,
		 CASE ME.ID_PROMOCAO
			WHEN 1 THEN 'Sim'  
			WHEN 2 THEN 'Não'  
         ELSE 'Não'  
		END DC_PRODUTO_POSSUI_PROMOCAO, 
		PD.CD_POLITICA_ENTREGA,
		(SELECT PE.DC_POLITICA_ENTREGA + ' ' + isnull(PD.DC_TIPO_ENTREGA,'') FROM TB_POLITICA_ENTREGA PE with (NOLOCK) WHERE PE.CD_POLITICA_ENTREGA = PD.CD_POLITICA_ENTREGA) DC_POLITICA_ENTREGA
	
FROM 
	TB_LINHA_SEPARACAO ls with (NOLOCK) , TB_MATERIAL_EMBALAGEM me with (NOLOCK) , TB_PEDIDO pd with (NOLOCK) , TB_LOTE_SEPARACAO lts with (NOLOCK) ,
	TB_PEDIDO_EMBALAGEM pe with (NOLOCK) , TB_CENTRO_DISTRIBUICAO cd with (NOLOCK) , TB_MATERIAL MT with (NOLOCK) , TB_PEDIDO_ENDERECO PDE with (NOLOCK) 
WHERE	ls.CD_LINHA_SEPARACAO = lts.CD_LINHA_SEPARACAO
		and lts.CD_LOTE_SEPARACAO = pd.CD_LOTE_SEPARACAO
		and me.NM_EMBALAGEM = pe.NM_EMBALAGEM
		and pe.NM_PEDIDO = pd.NM_PEDIDO
		and cd.CD_CENTRO_DISTRIBUICAO = pd.CD_CENTRO_DISTRIBUICAO
		AND ME.CD_MATERIAL= MT.CD_MATERIAL
		AND PD.NM_PEDIDO = PDE.NM_PEDIDO



GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[51] 4[10] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 2
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TB_PEDIDO"
            Begin Extent = 
               Top = 0
               Left = 0
               Bottom = 119
               Right = 229
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_PEDIDO_EMBALAGEM"
            Begin Extent = 
               Top = 0
               Left = 273
               Bottom = 104
               Right = 498
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_MATERIAL_EMBALAGEM"
            Begin Extent = 
               Top = 5
               Left = 548
               Bottom = 115
               Right = 718
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_CENTRO_DISTRIBUICAO"
            Begin Extent = 
               Top = 140
               Left = 0
               Bottom = 259
               Right = 277
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_LOTE_SEPARACAO"
            Begin Extent = 
               Top = 128
               Left = 311
               Bottom = 247
               Right = 567
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "TB_LINHA_SEPARACAO"
            Begin Extent = 
               Top = 274
               Left = 241
               Bottom = 393
               Right = 473
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_POSICAO_MATERIAL"
            Begin Extent = 
               Top = 0
               Left = 789
               Bottom = 119
      ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PEDIDO_EMBALAGEM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'         Right = 1021
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_MATERIAL"
            Begin Extent = 
               Top = 277
               Left = 618
               Bottom = 396
               Right = 868
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_PRATELEIRA"
            Begin Extent = 
               Top = 141
               Left = 602
               Bottom = 260
               Right = 834
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_POSICAO_PRATELEIRA"
            Begin Extent = 
               Top = 141
               Left = 881
               Bottom = 257
               Right = 1103
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PEDIDO_EMBALAGEM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PEDIDO_EMBALAGEM'
GO
