SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[VW_PICKING_LIST_DETALHE]
AS
/*
SELECT     dbo.TB_PEDIDO.NM_PEDIDO AS Pedido, dbo.TB_PEDIDO.CD_PESSOA AS Pessoa, dbo.TB_PEDIDO_EMBALAGEM.NM_EMBALAGEM, 
                      dbo.TB_MATERIAL_EMBALAGEM.QT_MATERIAL, dbo.TB_CENTRO_DISTRIBUICAO.DC_CENTRO_DISTRIBUICAO, dbo.TB_LINHA_SEPARACAO.DC_LINHA_SEPARACAO, 
                      dbo.TB_PRATELEIRA.DC_PRATELEIRA, dbo.TB_POSICAO_PRATELEIRA.DC_POSICAO_PRATELEIRA, dbo.TB_MATERIAL_EMBALAGEM.CD_MATERIAL, 
                      dbo.TB_MATERIAL.DC_MATERIAL
FROM         dbo.TB_PEDIDO INNER JOIN
                      dbo.TB_PEDIDO_EMBALAGEM ON dbo.TB_PEDIDO.NM_PEDIDO = dbo.TB_PEDIDO_EMBALAGEM.NM_PEDIDO INNER JOIN
                      dbo.TB_MATERIAL_EMBALAGEM ON dbo.TB_PEDIDO_EMBALAGEM.NM_EMBALAGEM = dbo.TB_MATERIAL_EMBALAGEM.NM_EMBALAGEM INNER JOIN
                      dbo.TB_CENTRO_DISTRIBUICAO ON dbo.TB_PEDIDO.CD_CENTRO_DISTRIBUICAO = dbo.TB_CENTRO_DISTRIBUICAO.CD_CENTRO_DISTRIBUICAO INNER JOIN
                      dbo.TB_LOTE_SEPARACAO ON dbo.TB_PEDIDO.NM_PEDIDO = dbo.TB_LOTE_SEPARACAO.NM_PEDIDO AND 
                      dbo.TB_CENTRO_DISTRIBUICAO.CD_CENTRO_DISTRIBUICAO = dbo.TB_LOTE_SEPARACAO.CD_CENTRO_DISTRIBUICAO INNER JOIN
                      dbo.TB_LINHA_SEPARACAO ON dbo.TB_LOTE_SEPARACAO.CD_LINHA_SEPARACAO = dbo.TB_LINHA_SEPARACAO.CD_LINHA_SEPARACAO INNER JOIN
                      dbo.TB_POSICAO_MATERIAL ON dbo.TB_MATERIAL_EMBALAGEM.CD_MATERIAL = dbo.TB_POSICAO_MATERIAL.CD_MATERIAL INNER JOIN
                      dbo.TB_PRATELEIRA ON dbo.TB_LINHA_SEPARACAO.CD_LINHA_SEPARACAO = dbo.TB_PRATELEIRA.CD_LINHA_SEPARACAO AND 
                      dbo.TB_POSICAO_MATERIAL.CD_PRATELEIRA = dbo.TB_PRATELEIRA.CD_PRATELEIRA INNER JOIN
                      dbo.TB_POSICAO_PRATELEIRA ON dbo.TB_POSICAO_MATERIAL.CD_POSICAO_PRATELEIRA = dbo.TB_POSICAO_PRATELEIRA.CD_POSICAO_PRATELEIRA INNER JOIN
                      dbo.TB_MATERIAL ON dbo.TB_MATERIAL_EMBALAGEM.CD_MATERIAL = dbo.TB_MATERIAL.CD_MATERIAL AND 
                      dbo.TB_POSICAO_MATERIAL.CD_MATERIAL = dbo.TB_MATERIAL.CD_MATERIAL
                      
 
 
SELECT	pd.NM_PEDIDO AS Pedido, 
		pd.CD_PESSOA AS Pessoa, 
		me.NM_EMBALAGEM, 
		me.QT_MATERIAL, 
		cd.DC_CENTRO_DISTRIBUICAO, 
		ISNULL(ls.DC_LINHA_SEPARACAO, '') DC_LINHA_SEPARACAO, 
		ISNULL(pr.DC_PRATELEIRA, '') DC_PRATELEIRA, 
		ISNULL(pp.DC_POSICAO_PRATELEIRA, '') DC_POSICAO_PRATELEIRA, 
		me.CD_MATERIAL,
		dbo.FN_BUSCA_NOME_MATERIAL(me.CD_MATERIAL) DC_MATERIAL 
FROM TB_POSICAO_PRATELEIRA pp, TB_LINHA_SEPARACAO ls, TB_MATERIAL_EMBALAGEM me, TB_PEDIDO pd, TB_LOTE_SEPARACAO lts,
TB_PEDIDO_EMBALAGEM pe, TB_CENTRO_DISTRIBUICAO cd, TB_PRATELEIRA pr, TB_POSICAO_MATERIAL pm
where ls.CD_LINHA_SEPARACAO = lts.CD_LINHA_SEPARACAO
and lts.CD_LOTE_SEPARACAO = pd.CD_LOTE_SEPARACAO
and me.NM_EMBALAGEM = pe.NM_EMBALAGEM
and pe.NM_PEDIDO = pd.NM_PEDIDO
and cd.CD_CENTRO_DISTRIBUICAO = pd.CD_CENTRO_DISTRIBUICAO
and pm.CD_POSICAO_PRATELEIRA = pp.CD_POSICAO_PRATELEIRA
and pr.CD_PRATELEIRA = pm.CD_PRATELEIRA
and pr.CD_LINHA_SEPARACAO = ls.CD_LINHA_SEPARACAO

*/

SELECT	pd.NM_PEDIDO AS Pedido, 
		pd.CD_PESSOA AS Pessoa, 
		me.NM_EMBALAGEM, 
		me.QT_MATERIAL, 
		(SELECT CASE (SELECT VL_PARAMETRO FROM TB_VALOR_PARAMETRO with(nolock) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
			WHEN 25 THEN convert(varchar,CD.CD_CENTRO_DISTRIBUICAO)
			ELSE CD.DC_CENTRO_DISTRIBUICAO END) DC_CENTRO_DISTRIBUICAO,
        (SELECT CASE (SELECT VL_PARAMETRO FROM TB_VALOR_PARAMETRO with(nolock) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
			WHEN 25 THEN convert(varchar,LS.CD_LINHA_SEPARACAO)
			ELSE LS.DC_LINHA_SEPARACAO END) DC_LINHA_SEPARACAO,
		--ISNULL(pr.DC_PRATELEIRA, '') DC_PRATELEIRA, 
		--ISNULL(pp.DC_POSICAO_PRATELEIRA, '') DC_POSICAO_PRATELEIRA, 
		(SELECT PR.DC_PRATELEIRA 
		FROM TB_POSICAO_MATERIAL PM with(nolock), TB_POSICAO_PRATELEIRA PP with(nolock), TB_PRATELEIRA PR with(nolock)
		WHERE PM.CD_POSICAO_PRATELEIRA = PP.CD_POSICAO_PRATELEIRA
		AND PM.CD_MATERIAL = me.CD_MATERIAL
		AND PM.CD_PRATELEIRA = PR.CD_PRATELEIRA
		AND PR.CD_LINHA_SEPARACAO = PM.CD_LINHA_SEPARACAO
		AND PR.CD_LINHA_SEPARACAO = ls.CD_LINHA_SEPARACAO) DC_PRATELEIRA,
		(SELECT PP.DC_POSICAO_PRATELEIRA 
		FROM TB_POSICAO_MATERIAL PM with(nolock), TB_POSICAO_PRATELEIRA PP with(nolock), TB_PRATELEIRA PR with(nolock)
		WHERE PM.CD_POSICAO_PRATELEIRA = PP.CD_POSICAO_PRATELEIRA
		AND PM.CD_MATERIAL = me.CD_MATERIAL
		AND PM.CD_PRATELEIRA = PR.CD_PRATELEIRA
		AND PR.CD_LINHA_SEPARACAO = PM.CD_LINHA_SEPARACAO
		AND PR.CD_LINHA_SEPARACAO = ls.CD_LINHA_SEPARACAO) DC_POSICAO_PRATELEIRA,
		MT.CD_MATERIAL_EXTERNO CD_MATERIAL,
		MT.DC_MATERIAL DC_MATERIAL 
FROM 
--TB_POSICAO_PRATELEIRA pp, 
TB_LINHA_SEPARACAO ls with(nolock), TB_MATERIAL_EMBALAGEM me with(nolock), TB_PEDIDO pd with(nolock), TB_LOTE_SEPARACAO lts with(nolock),
TB_PEDIDO_EMBALAGEM pe with(nolock), TB_CENTRO_DISTRIBUICAO cd with(nolock), TB_MATERIAL MT with(nolock)
--TB_PRATELEIRA pr
--TB_POSICAO_MATERIAL pm
where ls.CD_LINHA_SEPARACAO = lts.CD_LINHA_SEPARACAO
and lts.CD_LOTE_SEPARACAO = pd.CD_LOTE_SEPARACAO
and me.NM_EMBALAGEM = pe.NM_EMBALAGEM
and pe.NM_PEDIDO = pd.NM_PEDIDO
and cd.CD_CENTRO_DISTRIBUICAO = pd.CD_CENTRO_DISTRIBUICAO
AND ME.CD_MATERIAL= MT.CD_MATERIAL
--and pm.CD_POSICAO_PRATELEIRA = pp.CD_POSICAO_PRATELEIRA
--and pr.CD_PRATELEIRA = pm.CD_PRATELEIRA
--and pr.CD_LINHA_SEPARACAO = ls.CD_LINHA_SEPARACAO
--AND PD.nm_pedido in (635197)


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[51] 4[10] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 2
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TB_PEDIDO"
            Begin Extent = 
               Top = 0
               Left = 0
               Bottom = 119
               Right = 229
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_PEDIDO_EMBALAGEM"
            Begin Extent = 
               Top = 0
               Left = 273
               Bottom = 104
               Right = 498
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_MATERIAL_EMBALAGEM"
            Begin Extent = 
               Top = 5
               Left = 548
               Bottom = 115
               Right = 718
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_CENTRO_DISTRIBUICAO"
            Begin Extent = 
               Top = 140
               Left = 0
               Bottom = 259
               Right = 277
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_LOTE_SEPARACAO"
            Begin Extent = 
               Top = 128
               Left = 311
               Bottom = 247
               Right = 567
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "TB_LINHA_SEPARACAO"
            Begin Extent = 
               Top = 274
               Left = 241
               Bottom = 393
               Right = 473
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_POSICAO_MATERIAL"
            Begin Extent = 
               Top = 0
               Left = 789
               Bottom = 119
      ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICKING_LIST_DETALHE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'         Right = 1021
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_MATERIAL"
            Begin Extent = 
               Top = 277
               Left = 618
               Bottom = 396
               Right = 868
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_PRATELEIRA"
            Begin Extent = 
               Top = 141
               Left = 602
               Bottom = 260
               Right = 834
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_POSICAO_PRATELEIRA"
            Begin Extent = 
               Top = 141
               Left = 881
               Bottom = 257
               Right = 1103
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICKING_LIST_DETALHE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICKING_LIST_DETALHE'
GO
