SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PEDIDOS_INTEGRACAO_SITUACAO_ERP_TINY]
AS
SELECT	NM_PEDIDO, CD_PESSOA, NM_PEDIDO_EXTERNO
FROM	dbo.TB_PEDIDO AS P WITH (nolock)
WHERE   (NM_PEDIDO_EXTERNO IS NOT NULL) 
AND		(CD_EST_SITUACAO NOT IN (9,10)) -- STATUS DE FINALIZACAO
AND		(ISNULL(P.CD_SITUACAO_PEDIDO_INTEGRACAO,0) <> 3)
GO
