SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaProduto]
AS

	SELECT CD_PRODUTO_VENDA_EXTERNO "code",
		   DC_PRODUTO_VENDA "description",
		   ID_AGRUPAMENTO "groupíng",
		   CASE ID_TIPO_PRODUTO WHEN 1 THEN 2 WHEN 2 THEN 3 WHEN 3 THEN 1 ELSE ID_TIPO_PRODUTO END "type",
		   NM_CICLO_LANCAMENTO "realesePeriod",
		   NM_CICLO_DESCONTINUACAO "expiryPeriod",
		   CD_CODIGO_AGRUPADOR "groupingCode",
		   ID_GERA_SALDO_FAVOR "generateCredit",
		   VL_SALDO_FAVOR "creditValue",
		   ID_GERA_BONUS "mlmValidBonus",
		   ID_GERA_GRADUACAO "mlmValidQualification",
		   ID_GERA_ATIVACAO mlmValidActivation,
		   ID_DISPONIVEL_LOJA_VIRTUAL "storeAvailable",
		   ID_DESTAQUE_LOJA_VIRTUAL "storeSpotlight",
		   DC_TITULO_WEB_SEO "webPageTitle",
		   DC_DESCRICAO_WEB_SEO "webDescription",
		   DC_BREVE_EV "briefDescription",
		   DC_ESPECIFICACAO_EV "technicalSpecifications",
		   DC_URL_VIDEO1_EV "urlVideo1",
		   DC_URL_VIDEO2_EV "urlVideo2",
		   DC_URL_VIDEO3_EV "urlVideo3",
		   DC_PALAVRA_CHAVE "relatedProductKey",
		   DC_TAGS_BUSCA "searchTags"
	  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
 
GO
