SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ApiConsultaPedidoItensKit]
AS

	SELECT P.NM_PEDIDO "idOrder",
	P.NM_PEDIDO_ITEM "idOrderItemComponent",
	P.NM_PEDIDO_ITEM_CONJUNTO "idOrderItem",
	PV.CD_PRODUTO_VENDA_EXTERNO "productCode",
	(SELECT M.CD_MATERIAL_EXTERNO FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL) "skuCode",
	(SELECT M.DC_MATERIAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL) "description",
	P.QT_RESERVADA "quantity",
	ROUND(P.VL_LIQUIDO_TOTAL / P.QT_RESERVADA,2) "value",
	ROUND(P.VL_TABELA_TOTAL / P.QT_RESERVADA,2) "catalogValue",
	ROUND(P.VL_PRATICADO_TOTAL / P.QT_RESERVADA,2) "consultantValue",
	ROUND(P.VL_COMISSAO_CN / P.QT_RESERVADA,2) comissionValue,
	ROUND((P.VL_PRATICADO_TOTAL - P.VL_LIQUIDO_TOTAL) / P.QT_RESERVADA,2) "discountValue"
	FROM TB_PEDIDO_ITEM P WITH(NOLOCK), TB_PRODUTO_VENDA PV WITH(NOLOCK)
	WHERE P.CD_PRODUTO_VENDA = PV.CD_PRODUTO_VENDA
	AND P.NM_PEDIDO_ITEM_CONJUNTO > 0

	UNION	SELECT P.NM_PEDIDO "idOrder",
	P.NM_PEDIDO_ITEM_PROMOCAO "idOrderItemComponent",
	P.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO "idOrderItem",
	PV.CD_PRODUTO_VENDA_EXTERNO "productCode",
	(SELECT M.CD_MATERIAL_EXTERNO FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL) "skuCode",
	(SELECT M.DC_MATERIAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL) "description",
	P.QT_RESERVADA "quantity",
	ROUND(P.VL_LIQUIDO_TOTAL / P.QT_RESERVADA,2) "value",
	ROUND(P.VL_TABELA_TOTAL / P.QT_RESERVADA,2) "catalogValue",
	ROUND(P.VL_PRATICADO_TOTAL / P.QT_RESERVADA,2) "consultantValue",
	ROUND(P.VL_COMISSAO_CN / P.QT_RESERVADA,2) comissionValue,
	ROUND((P.VL_PRATICADO_TOTAL - P.VL_LIQUIDO_TOTAL) / P.QT_RESERVADA,2) "discountValue"
	FROM TB_PEDIDO_ITEM_PROMOCAO P WITH(NOLOCK), TB_PRODUTO_VENDA PV WITH(NOLOCK)
	WHERE P.CD_PRODUTO_VENDA = PV.CD_PRODUTO_VENDA
	AND P.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO > 0

GO
