SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaEstruturaProduto]
AS

	select	CD_EST_PRODUTO id,
			DC_EST_PRODUTO [name],
			CD_NIVEL_EST_PRODUTO [level],
			ID_ATIVO [active],
			(select p.CD_PRODUTO_VENDA_EXTERNO from TB_PRODUTO_VENDA p with(nolock) where p.CD_PRODUTO_VENDA = e.CD_PRODUTO_VENDA_DESTAQUE) featureStoreProductCode,
			(select p.CD_PRODUTO_VENDA_EXTERNO from TB_PRODUTO_VENDA p with(nolock) where p.CD_PRODUTO_VENDA = e.CD_PRODUTO_VENDA_DESTAQUE_APP) featureAppProductCode,
			NM_ORDEM_LV storeOrdering,
			NM_ORDEM_APP appOrdering,
			DC_ICONE_APP appIconDetail,
			ID_MOSTRA_LV storeAvailable,
			ID_MOSTRA_APP appAvailable,
			CD_NIVEL_PRO1 idCategoryLevel1,
			CD_NIVEL_PRO2 idCategoryLevel2,
			CD_NIVEL_PRO3 idCategoryLevel3,
			CD_NIVEL_PRO4 idCategoryLevel4,
			CD_NIVEL_PRO5 idCategoryLevel5,
			CD_NIVEL_PRO6 idCategoryLevel6,
			CD_NIVEL_PRO7 idCategoryLevel7,
			CD_NIVEL_PRO8 idCategoryLevel8,
			CD_NIVEL_PRO9 idCategoryLevel9
	from TB_EST_PRODUTO E WITH(NOLOCK)

GO
