SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[VW_PICKING_LIST_HEADER]
AS

/*SELECT     dbo.TB_PEDIDO.NM_PEDIDO AS Pedido, dbo.TB_PEDIDO.CD_PESSOA AS Pessoa, dbo.TB_PEDIDO_EMBALAGEM.NM_EMBALAGEM, 
                      dbo.TB_CENTRO_DISTRIBUICAO.DC_CENTRO_DISTRIBUICAO, dbo.TB_LINHA_SEPARACAO.DC_LINHA_SEPARACAO
FROM         dbo.TB_PEDIDO INNER JOIN
                      dbo.TB_CENTRO_DISTRIBUICAO ON dbo.TB_PEDIDO.CD_CENTRO_DISTRIBUICAO = dbo.TB_CENTRO_DISTRIBUICAO.CD_CENTRO_DISTRIBUICAO INNER JOIN
                      dbo.TB_LOTE_SEPARACAO_PEDIDO ON dbo.TB_PEDIDO.NM_PEDIDO = dbo.TB_LOTE_SEPARACAO_PEDIDO.NM_PEDIDO AND 
                      dbo.TB_CENTRO_DISTRIBUICAO.CD_CENTRO_DISTRIBUICAO = dbo.TB_LOTE_SEPARACAO.CD_CENTRO_DISTRIBUICAO INNER JOIN
                      dbo.TB_LINHA_SEPARACAO ON dbo.TB_LOTE_SEPARACAO.CD_LINHA_SEPARACAO = dbo.TB_LINHA_SEPARACAO.CD_LINHA_SEPARACAO INNER JOIN
                      dbo.TB_PEDIDO_EMBALAGEM ON dbo.TB_PEDIDO.NM_PEDIDO = dbo.TB_PEDIDO_EMBALAGEM.NM_PEDIDO
*/

SELECT		P.NM_PEDIDO AS Pedido, 
			P.CD_PESSOA AS Pessoa, 
			PE.NM_EMBALAGEM, 
			(SELECT CASE (SELECT VL_PARAMETRO FROM TB_VALOR_PARAMETRO with(nolock) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
				WHEN 25 THEN CD.CD_CENTRO_DISTRIBUICAO
				ELSE CD.DC_CENTRO_DISTRIBUICAO END) DC_CENTRO_DISTRIBUICAO,
            (SELECT CASE (SELECT VL_PARAMETRO FROM TB_VALOR_PARAMETRO with(nolock) WHERE CD_GRUPO_PARAMETRO = 6 AND CD_PARAMETRO = 1)
				WHEN 25 THEN LS.CD_LINHA_SEPARACAO
				ELSE LS.DC_LINHA_SEPARACAO END) DC_LINHA_SEPARACAO
FROM	TB_PEDIDO P with(nolock), 
		TB_PEDIDO_EMBALAGEM PE with(nolock),
		TB_CENTRO_DISTRIBUICAO CD with(nolock),
		TB_LINHA_SEPARACAO LS with(nolock),
		TB_LOTE_SEPARACAO LT with(nolock)
WHERE P.NM_PEDIDO = PE.NM_PEDIDO
	AND P.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
	AND P.CD_LOTE_SEPARACAO = LT.CD_LOTE_SEPARACAO
	AND LS.CD_LINHA_SEPARACAO = LT.CD_LINHA_SEPARACAO


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TB_PEDIDO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 267
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_CENTRO_DISTRIBUICAO"
            Begin Extent = 
               Top = 6
               Left = 305
               Bottom = 125
               Right = 582
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_LOTE_SEPARACAO"
            Begin Extent = 
               Top = 32
               Left = 751
               Bottom = 151
               Right = 1007
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_LINHA_SEPARACAO"
            Begin Extent = 
               Top = 126
               Left = 38
               Bottom = 245
               Right = 270
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TB_PEDIDO_EMBALAGEM"
            Begin Extent = 
               Top = 209
               Left = 524
               Bottom = 313
               Right = 749
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 3105
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
    ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICKING_LIST_HEADER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICKING_LIST_HEADER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICKING_LIST_HEADER'
GO
