SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE OR ALTER VIEW [dbo].[vw_ApiConsultaPedidoItens]    
AS    
   
SELECT  P.NM_PEDIDO "idOrder",    
  P.NM_PEDIDO_ITEM "idOrderItem",    
  PV.CD_PRODUTO_VENDA_EXTERNO "productCode",    
  (SELECT M.CD_MATERIAL_EXTERNO FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL) "skuCode",    
  P.ID_AGRUPAMENTO "grouping",    
  CASE P.ID_AGRUPAMENTO WHEN 3 THEN (SELECT M.DC_MATERIAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL)    
  ELSE PV.DC_PRODUTO_VENDA END "productDescription",    
  P.QT_RESERVADA "quantity",    
  P.QT_PEDIDA "quantityOrdered",    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST(P.VL_LIQUIDO_TOTAL / P.QT_RESERVADA AS DECIMAL(18,8))    
  END "value",    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST(P.VL_TABELA_TOTAL / P.QT_RESERVADA AS DECIMAL(18,8))    
  END "catalogValue",    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST(P.VL_PRATICADO_TOTAL / P.QT_RESERVADA AS DECIMAL(18,8))      
  END "consultantValue",    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST(P.VL_COMISSAO_CN / P.QT_RESERVADA AS DECIMAL(18,8))      
  END comissionValue,    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST((P.VL_PRATICADO_TOTAL - P.VL_LIQUIDO_TOTAL) / P.QT_RESERVADA AS DECIMAL(18,8))        
  END "discount",    
  
  -- totalizadores do item  
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST(P.VL_LIQUIDO_TOTAL AS DECIMAL(18,8))    
  END "totalValue",    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST(P.VL_TABELA_TOTAL AS DECIMAL(18,8))    
  END "totalCatalogValue",    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST(P.VL_PRATICADO_TOTAL AS DECIMAL(18,8))      
  END "totalConsultantValue",    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST(P.VL_COMISSAO_CN AS DECIMAL(18,8))      
  END totalComissionValue,    
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 0 -- PRODUTO INCORPORADO    
   ELSE CAST((P.VL_PRATICADO_TOTAL - P.VL_LIQUIDO_TOTAL) AS DECIMAL(18,8))        
  END "totalDiscount",    

  P.VL_PONTOS_LIQUIDO "netPoints",
   
  CASE P.ID_PRODUTO_COBRADO    
   WHEN 0 THEN 3 -- PRODUTO INCORPORADO    
   WHEN 2 THEN 3
   ELSE    
    CASE P.ID_TIPO_PRODUTO    
     when 3 then 1    
     when 1 then 2    
     when 2 then 3    
    end    
  END "type",    
  P.CD_EST_SITUACAO "Situation",    
  (SELECT ISNULL(M.NM_DIAS_ADICIONAIS_ENTREGA,0) FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL) "SituationDeadline",    
  CASE (SELECT M.ID_CARACTERISTICA_MATERIAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL)    
  WHEN 5 THEN 1 ELSE 0 END "isManufacture",    
  CASE (SELECT M.ID_MEDIDAS_ESPECIAIS FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = P.CD_MATERIAL)    
  WHEN 1 THEN 1 ELSE 0 END "skuSpecialMeasure",    
  p.NM_ALTURA "skuHeigth",    
  p.NM_COMPRIMENTO "skuLength",    
  p.NM_LARGURA "skuWidth",    
  p.OBSERVACAO_MEDIDAS "details",    
  (SELECT G.DT_CADASTRO FROM TB_PESSOA_MATERIAL_GARANTIA G WITH(NOLOCK) WHERE G.NM_PEDIDO = CONVERT(VARCHAR,P.NM_PEDIDO) AND G.CD_MATERIAL = P.CD_MATERIAL AND G.CD_PESSOA = PE.CD_PESSOA) "warranty.initialDate",    
  (SELECT G.DT_VENCIMENTO FROM TB_PESSOA_MATERIAL_GARANTIA G WITH(NOLOCK) WHERE G.NM_PEDIDO = CONVERT(VARCHAR,P.NM_PEDIDO) AND G.CD_MATERIAL = P.CD_MATERIAL AND G.CD_PESSOA = PE.CD_PESSOA) "warranty.expirationDate",    
  (SELECT G.DC_SERIE FROM TB_PESSOA_MATERIAL_GARANTIA G WITH(NOLOCK) WHERE G.NM_PEDIDO = CONVERT(VARCHAR,P.NM_PEDIDO) AND G.CD_MATERIAL = P.CD_MATERIAL AND G.CD_PESSOA = PE.CD_PESSOA) "warranty.serieNumber"
FROM TB_PEDIDO_ITEM P WITH(NOLOCK), TB_PRODUTO_VENDA PV WITH(NOLOCK), TB_PEDIDO PE WITH(NOLOCK)    
WHERE P.CD_PRODUTO_VENDA = PV.CD_PRODUTO_VENDA    
AND P.NM_PEDIDO_ITEM_CONJUNTO = 0    
AND P.QT_RESERVADA > 0    
AND PE.NM_PEDIDO = P.NM_PEDIDO    
   
UNION ALL    
   
SELECT  PIP.NM_PEDIDO "idOrder",    
  PIP.NM_PEDIDO_ITEM_PROMOCAO "idOrderItem",    
  PV.CD_PRODUTO_VENDA_EXTERNO "productCode",    
  (SELECT M.CD_MATERIAL_EXTERNO FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = PIP.CD_MATERIAL) "skuCode",    
  PIP.ID_AGRUPAMENTO "grouping",    
  CASE PIP.ID_AGRUPAMENTO WHEN 3 THEN (SELECT M.DC_MATERIAL FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = PIP.CD_MATERIAL)    
  ELSE PV.DC_PRODUTO_VENDA END "productDescription",    
  PIP.QT_RESERVADA "quantity",    
  PIP.QT_PEDIDA "quantityOrdered",    
  
  CAST(PIP.VL_LIQUIDO_TOTAL / PIP.QT_RESERVADA AS DECIMAL(18,8))    "value",    
  CAST(PIP.VL_TABELA_TOTAL / PIP.QT_RESERVADA AS DECIMAL(18,8))    "catalogValue",    
  CAST(PIP.VL_PRATICADO_TOTAL / PIP.QT_RESERVADA AS DECIMAL(18,8))    "consultantValue",    
  CAST(PIP.VL_COMISSAO_CN / PIP.QT_RESERVADA AS DECIMAL(18,8))    comissionValue,    
  CAST((PIP.VL_PRATICADO_TOTAL - PIP.VL_LIQUIDO_TOTAL) / PIP.QT_RESERVADA AS DECIMAL(18,8))    "discount",    
  
  --totalizadores do item  
  CAST(PIP.VL_LIQUIDO_TOTAL AS DECIMAL(18,8))    "totalValue",    
  CAST(PIP.VL_TABELA_TOTAL AS DECIMAL(18,8))    "totalCatalogValue",    
  CAST(PIP.VL_PRATICADO_TOTAL AS DECIMAL(18,8))    "totalConsultantValue",    
  CAST(PIP.VL_COMISSAO_CN AS DECIMAL(18,8))    totalComissionValue,    
  CAST((PIP.VL_PRATICADO_TOTAL - PIP.VL_LIQUIDO_TOTAL) AS DECIMAL(18,8))    "totalDiscount",  
  0 "netPoints",
  
  3 "type",     PIP.CD_EST_SITUACAO "Situation",    
  (SELECT ISNULL(M.NM_DIAS_ADICIONAIS_ENTREGA,0) FROM TB_MATERIAL M WITH(NOLOCK) WHERE M.CD_MATERIAL = PIP.CD_MATERIAL) "SituationDeadline",    
  NULL "isManufacture",    
  NULL "skuSpecialMeasure",    
  NULL "skuHeigth",    
  NULL "skuLength",    
  NULL "skuWidth",    
  NULL "details",    
  NULL "warranty.initialDate",    
  NULL "warranty.expirationDate",    
  NULL "warranty.serieNumber"    
  FROM TB_PEDIDO_ITEM_PROMOCAO PIP WITH(NOLOCK), TB_PRODUTO_VENDA PV WITH(NOLOCK)    
 WHERE PIP.CD_PRODUTO_VENDA = PV.CD_PRODUTO_VENDA    
   AND PIP.QT_RESERVADA > 0    
   --AND PIP.CD_MATERIAL > 0    
   AND PIP.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0    
   AND PIP.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --brindes  
GO
