SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[VW_PEDIDO_ITEM_PROMOCAO]
AS

SELECT	PD.NM_PEDIDO, 
		PV.CD_PRODUTO_VENDA,
		PV.DC_PRODUTO_VENDA,
		pdi.QT_PEDIDA,  
		pdi.QT_RESERVADA, 
		PDI.CD_PROMOCAO,
		PR.DC_PROMOCAO, 
		DBO.FN_BUSCA_DOMINIO('TIPO_BENEFICIO_PEDIDO_ITEM', PDI.ID_TIPO_BENEFICIO_PEDIDO_ITEM) DC_TIPO_BENEFICIO,
		pdi.VL_TABELA_TOTAL AS VL_TABELA_ITEM, 
		pdi.VL_PRATICADO_TOTAL AS VL_PRATICADO_ITEM,
		pdi.VL_COMISSAO_CN AS VL_COMISSAO_ITEM, 
		pdi.VL_LIQUIDO_TOTAL AS VL_LIQUIDO_ITEM, 
		pdi.VL_PAGAR_TOTAL AS VL_PAGAR_ITEM, 
       CONVERT(NUMERIC(18,2),CASE ISNULL(pdi.QT_RESERVADA,0) WHEN 0 THEN '0'
       ELSE pdi.VL_PRATICADO_TOTAL / pdi.QT_RESERVADA END) VL_UNITARIO,
	   PD.CD_LOTE_SEPARACAO
	   
FROM TB_PEDIDO pd with (NOLOCK) , TB_PEDIDO_ITEM_PROMOCAO pdi with (NOLOCK) , TB_PRODUTO_VENDA PV with (NOLOCK) , TB_PROMOCAO PR with (NOLOCK) 
WHERE pd.NM_PEDIDO = pdi.NM_PEDIDO
  AND PV.CD_PRODUTO_VENDA = PDI.CD_PRODUTO_VENDA
  AND PDI.CD_PROMOCAO = PR.CD_PROMOCAO
  





GO
