SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ApiConsultaPessoaEndereco]
AS

SELECT	P.CD_PESSOA,
		P.ID_TIPO_ENDERECO,
		P.CD_EST_GEOGRAFICA,
		p.DC_CODIGO_POSTAL,
		p.DC_ESTRUTURA_GEO1,
		p.DC_ESTRUTURA_GEO2,
		p.DC_ESTRUTURA_GEO3,
		p.DC_ESTRUTURA_GEO4,
		p.DC_ESTRUTURA_GEO5,
		p.DC_ESTRUTURA_GEO6,
		p.DC_ESTRUTURA_GEO7,
		p.DC_ESTRUTURA_GEO8,
		p.DC_ESTRUTURA_GEO9,
		p.DC_NUMERO,
		p.DC_COMPLEMENTO,
		p.DC_REFERENCIA,
		DBO.FN_BUSCA_EST_GEOGRAFICA_IBGE(P.CD_EST_GEOGRAFICA,2) CD_IBGE
  FROM TB_PESSOA_ENDERECO P with(nolock) 
 
GO
