SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vw_IntegracaoSeniorConsultaPedidosDividasAbertas]
AS


		SELECT PE.NM_PEDIDO, PE.NM_PEDIDO_EXTERNO, PE.CD_PLANO_PAGAMENTO, PE.CD_EST_SITUACAO
		FROM TB_PEDIDO PE, TB_DIVIDA DI
		WHERE PE.NM_PEDIDO = DI.NM_PEDIDO
		AND ISNULL(PE.NM_PEDIDO_EXTERNO,'0') <> '0'
		AND PE.NM_PEDIDO IN (SELECT DI.NM_PEDIDO FROM TB_DIVIDA WHERE DI.ID_SITUACAO_DIVIDA = 1)
		--AND PE.NM_PEDIDO = 404277






GO
