SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_IntegracaoSeniorConsultaPessoasNovas]
AS

		SELECT	P.CD_PESSOA dadosGeraisCliente_codCli,
			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					LTRIM(RTRIM((SELECT PF.DC_NOME + ' ' + ISNULL(PF.DC_SOBRENOME,'') FROM TB_PESSOA_FISICA PF WHERE PF.CD_PESSOA = P.CD_PESSOA)))
				WHEN 2 THEN
					(SELECT PJ.DC_RAZAO_SOCIAL FROM TB_PESSOA_JURIDICA PJ WITH(NOLOCK) WHERE PJ.CD_PESSOA = P.CD_PESSOA)
			END dadosGeraisCliente_nomCli,

			
			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					''
				WHEN 2 THEN
					(SELECT PJ.DC_NOME_FANTASIA FROM TB_PESSOA_JURIDICA PJ WITH(NOLOCK) WHERE PJ.CD_PESSOA = P.CD_PESSOA)
			END dadosGeraisCliente_apeCli,
			

			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					'F'
				WHEN 2 THEN
					'J'
			END dadosGeraisCliente_tipCli,

			'' dadosGeraisCliente_tipEmp,
			'I' dadosGeraisCliente_tipMer,
			'N' dadosGeraisCliente_cliCon,
						
			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					''
				WHEN 2 THEN
					(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2)
			END dadosGeraisCliente_insEst,

			'' dadosGeraisCliente_insMun,

			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 1)
				WHEN 2 THEN
					''
			END dadosGeraisCliente_cgcCpf,
						
			'' dadosGeraisCliente_zonFra,
			'' dadosGeraisCliente_codSuf,
									
			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
				WHEN 2 THEN
					(SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3)
			END dadosGeraisCliente_endCli,

			
			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
				WHEN 2 THEN
					(SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3)
			END dadosGeraisCliente_nenCli,
			

			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PE.DC_COMPLEMENTO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
				WHEN 2 THEN
					(SELECT PE.DC_COMPLEMENTO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3)
			END dadosGeraisCliente_cplEnd,
			

			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PE.DC_REFERENCIA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
				WHEN 2 THEN
					(SELECT PE.DC_REFERENCIA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3)
			END dadosGeraisCliente_cliPrx,
			
			'' dadosGeraisCliente_zipCod,

			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
				WHEN 2 THEN
					(SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3)
			END dadosGeraisCliente_cepCli,
			
			'000000000' dadosGeraisCliente_cepIni,

			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
				WHEN 2 THEN
					(SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3)
			END dadosGeraisCliente_baiCli,
			

			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PE.DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
				WHEN 2 THEN
					(SELECT PE.DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3)
			END dadosGeraisCliente_cidCli,


			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PE.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 1)
				WHEN 2 THEN
					(SELECT PE.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 3)
			END dadosGeraisCliente_sigUfs,
			
			'' dadosGeraisCliente_codPai,

			ISNULL((SELECT PT.DC_TELEFONE FROM TB_PESSOA_TELEFONE PT WITH(NOLOCK) WHERE PT.CD_PESSOA = P.CD_PESSOA AND PT.ID_TIPO_TELEFONE = 1), '') dadosGeraisCliente_fonCli,
			ISNULL((SELECT PT.DC_TELEFONE FROM TB_PESSOA_TELEFONE PT WITH(NOLOCK) WHERE PT.CD_PESSOA = P.CD_PESSOA AND PT.ID_TIPO_TELEFONE = 2), '') dadosGeraisCliente_fonCl2,
			ISNULL((SELECT PT.DC_TELEFONE FROM TB_PESSOA_TELEFONE PT WITH(NOLOCK) WHERE PT.CD_PESSOA = P.CD_PESSOA AND PT.ID_TIPO_TELEFONE = 3), '') dadosGeraisCliente_fonCl3,
			
			'' dadosGeraisCliente_fonCl4,
			'' dadosGeraisCliente_fonCl5,
			'' dadosGeraisCliente_faxCli,
			'' dadosGeraisCliente_cxaPst,
			
			ISNULL((SELECT PM.DC_EMAIL FROM TB_PESSOA_EMAIL PM WITH(NOLOCK) WHERE PM.CD_PESSOA = P.CD_PESSOA AND PM.ID_TIPO_EMAIL = 1), '') dadosGeraisCliente_intNet,
			
			'A' dadosGeraisCliente_sitCli,

			'' dadosGeraisCliente_obsMot,
			'' dadosGeraisCliente_triIcm,
			'' dadosGeraisCliente_triIpi,
			'' dadosGeraisCliente_ideCli,
			'' dadosGeraisCliente_triPis,
			'' dadosGeraisCliente_triCof,
			'' dadosGeraisCliente_retCof,
			'' dadosGeraisCliente_retCsl,
			'' dadosGeraisCliente_retPis,
			'' dadosGeraisCliente_retOur,
			'' dadosGeraisCliente_retPro,
			'' dadosGeraisCliente_retIrf,
			'' dadosGeraisCliente_calFun,
			
			
			ISNULL((SELECT PM.DC_EMAIL FROM TB_PESSOA_EMAIL PM WITH(NOLOCK) WHERE PM.CD_PESSOA = P.CD_PESSOA AND PM.ID_TIPO_EMAIL = 1), '') dadosGeraisCliente_emaNfe,
		
			'' dadosGeraisCliente_indNif,
			'' dadosGeraisCliente_codFor,
			'' dadosGeraisCliente_codGre,
			'' dadosGeraisCliente_datSuf,
			'' dadosGeraisCliente_eenCli,
			'' dadosGeraisCliente_eenEnt,
			'' dadosGeraisCliente_endEnt,
			'' dadosGeraisCliente_nenEnt,
			'' dadosGeraisCliente_cplEnt,
			'' dadosGeraisCliente_cepEnt,
			'' dadosGeraisCliente_baiEnt,
			'' dadosGeraisCliente_zipEnt,
			'' dadosGeraisCliente_cidEnt,
			'' dadosGeraisCliente_estEnt,
			'' dadosGeraisCliente_insEnt,
			'' dadosGeraisCliente_cgcEnt,
			'' dadosGeraisCliente_eenCob,
			'' dadosGeraisCliente_nenCob,
			'' dadosGeraisCliente_endCob,
			'' dadosGeraisCliente_cplCob,
			'' dadosGeraisCliente_cepCob,
			'' dadosGeraisCliente_baiCob,
			'' dadosGeraisCliente_cidCob,
			'' dadosGeraisCliente_estCob,
			'' dadosGeraisCliente_cgcCob,
			'' dadosGeraisCliente_cepFre,
			
			'N' dadosGeraisCliente_entCor,
			'C' dadosGeraisCliente_cliFor,
			
			'' dadosGeraisCliente_cliRep,
			'' dadosGeraisCliente_cliTra,
			'' dadosGeraisCliente_marCli,
			'' dadosGeraisCliente_codMot,
			'' dadosGeraisCliente_codCnv,
			'' dadosGeraisCliente_perAin,
			'' dadosGeraisCliente_tipAce,
			'' dadosGeraisCliente_insAnp,
			'' dadosGeraisCliente_indCoo,
			'' dadosGeraisCliente_codRtr,
			'' dadosGeraisCliente_regEst,
			'' dadosGeraisCliente_natRet,
			'' dadosGeraisCliente_natPis,
			'' dadosGeraisCliente_natCof,
			'' dadosGeraisCliente_codRam,
			'' dadosGeraisCliente_codRoe,
			'' dadosGeraisCliente_seqRoe,
			'' dadosGeraisCliente_codSro,
			'' dadosGeraisCliente_limRet,
			'' dadosGeraisCliente_numIdf,
			'' dadosGeraisCliente_tipEmc,
			'' dadosGeraisCliente_entPaa,
			'' dadosGeraisCliente_ideExt,
			
			'1' definicoesCliente_codEmp,
			'1' definicoesCliente_codFil,
			'' definicoesCliente_datLim,
			'' definicoesCliente_vlrLim,
			'' definicoesCliente_limApr,
			'' definicoesCliente_perDs1,
			'' definicoesCliente_perDs2,
			'' definicoesCliente_perDs3,
			'' definicoesCliente_perDs4,
			'' definicoesCliente_perDs5,
			
			'1' definicoesCliente_codRep,
			'' definicoesCliente_codTpr,
			'' definicoesCliente_codCpg,
			'' definicoesCliente_codFpg,
			'' definicoesCliente_codTra,
			'' definicoesCliente_codRed,
			'' definicoesCliente_recJmm,
			'' definicoesCliente_recDtj,
			'' definicoesCliente_recMul,
			'' definicoesCliente_recDtm,
			'' definicoesCliente_perDsc,
			'' definicoesCliente_tolDsc,
			'' definicoesCliente_perFre,
			'' definicoesCliente_perSeg,
			'' definicoesCliente_perEmb,
			'' definicoesCliente_perEnc,
			'' definicoesCliente_perOut,
			'' definicoesCliente_perIss,
			'' definicoesCliente_cifFob,
			'' definicoesCliente_codTab,
			'' definicoesCliente_diaMe1,
			'' definicoesCliente_diaEsp,
			'' definicoesCliente_diaMe2,
			'' definicoesCliente_diaMe3,
			'' definicoesCliente_cnpjFilial,
			'' definicoesCliente_qtdDcv,
			'' definicoesCliente_ctaRed,
			'' definicoesCliente_ctaAux,
			'' definicoesCliente_ctaAad,
			'' definicoesCliente_catCli,
			'' definicoesCliente_acePar,
			'' definicoesCliente_perAqa,
			'' definicoesCliente_codCrp,
			'' definicoesCliente_codVen,
			'' definicoesCliente_perCom,
			'' definicoesCliente_codRve,
			'' definicoesCliente_recTjr,
			'' definicoesCliente_prdDsc,
			'' definicoesCliente_antDsc,
			'' definicoesCliente_porSi1,
			'' definicoesCliente_porSi2,
			'' definicoesCliente_codCrt,
			'' definicoesCliente_porNa1,
			'' definicoesCliente_porNa2,
			'' definicoesCliente_codIn1,
			'' definicoesCliente_codIn2,
			'' definicoesCliente_codBan,
			'' definicoesCliente_codAge,
			'' definicoesCliente_ccbCli,
			'' definicoesCliente_perOf1,
			'' definicoesCliente_perOf2,
			'' definicoesCliente_datPmr,
			'' definicoesCliente_criEdv,
			'' definicoesCliente_codFrj,
			'' definicoesCliente_ctaRcr,
			'' definicoesCliente_ctaFdv,
			'' definicoesCliente_ctaFcr,

			'N' definicoesCliente_exiLcp,
			
			'' definicoesCliente_fveTns,
			'' definicoesCliente_fveFpg,
			'' definicoesCliente_fveCpg,
			'' definicoesCliente_codMar,
			'' definicoesCliente_gerTcc,
			'' definicoesCliente_ctrPad,
			'' definicoesCliente_ecpCnp,
			'' definicoesCliente_exiAge,
			'' definicoesCliente_codFcr,
			'' definicoesCliente_seqCob,
			
			'1' definicoesCliente_seqEnt,
			
			'' definicoesCliente_indOrf,
			'' definicoesCliente_codTic,
			'' definicoesCliente_codTrd,
			'' definicoesCliente_perCcr,
			'' definicoesCliente_dscPrd,
			'' definicoesCliente_avaVlr,
			'' definicoesCliente_avaVlu,
			'' definicoesCliente_avaVls,
			'' definicoesCliente_avaAti,
			'' definicoesCliente_avaMot,
			'' definicoesCliente_avaObs,
			'' definicoesCliente_qtdChs,
			'' definicoesCliente_qtdPrt,
			'' definicoesCliente_vlrPrt,
			'' definicoesCliente_acrDia,
			'' definicoesCliente_vlrAcr,
			'' definicoesCliente_conFin,
			'' definicoesCliente_indPre,

			'1' enderecosEntrega_seqEnv,
			'' enderecosEntrega_seqEnt,
			'' enderecosEntrega_nomCli,
			
			ISNULL((SELECT PE.DC_ESTRUTURA_GEO5 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2),'') enderecosEntrega_endEnt,
			ISNULL((SELECT PE.DC_COMPLEMENTO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2), '') enderecosEntrega_cplEnt,
			ISNULL((SELECT PE.DC_REFERENCIA FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2), '') enderecosEntrega_prxEnt,
			ISNULL((SELECT PE.DC_CODIGO_POSTAL FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2), '') enderecosEntrega_cepEnt,
		
			'' enderecosEntrega_iniEnt,
			
			ISNULL((SELECT PE.DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2),'') enderecosEntrega_cidEnt,
			ISNULL((SELECT PE.DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2),'') enderecosEntrega_estEnt,
			'' enderecosEntrega_insEnt,
			ISNULL((SELECT PE.DC_ESTRUTURA_GEO4 FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2),'') enderecosEntrega_baiEnt,
			
			'' enderecosEntrega_zipEnt,
			'' enderecosEntrega_cgcEnt,
			'' enderecosEntrega_sitReg,
			
			ISNULL((SELECT PE.DC_NUMERO FROM TB_PESSOA_ENDERECO PE WITH(NOLOCK) WHERE PE.CD_PESSOA = P.CD_PESSOA AND PE.ID_TIPO_ENDERECO = 2),'') enderecosEntrega_nenEnt,
			
			'' enderecosEntrega_tipEnt,
			'' enderecosEntrega_codRoe,
			'' enderecosEntrega_seqRoe,
			'' enderecosEntrega_codSro,
			'' enderecosEntrega_acrDia,
			'' enderecosEntrega_vlrAcr,
			'' enderecosEntrega_empFre,
			'' enderecosEntrega_tabFre,
			'' enderecosEntrega_datIni,
			'' enderecosEntrega_locEnt,
			'' enderecosEntrega_seqFlc,
			'' enderecosEntrega_filFlc,
			'' enderecosEntrega_faxEnt,
			'' enderecosEntrega_fonEnt,
			'' enderecosEntrega_celEnt,
			'' enderecosEntrega_emaEnt,
			'' enderecosEntrega_indOba,
			'' enderecosEntrega_nroCno,
			'' enderecosEntrega_paiEnt,

			'' clientePessoaFisica_estCiv,
			'' clientePessoaFisica_codSex,
			'' clientePessoaFisica_datNas,
			'' clientePessoaFisica_cidNat,
									
			CASE P.ID_TIPO_PESSOA 
				WHEN 1 THEN
					(SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WITH(NOLOCK) WHERE PD.CD_PESSOA = P.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2)
				WHEN 2 THEN
					''
			END clientePessoaFisica_numRge,

			'' clientePessoaFisica_orgRge,
			'' clientePessoaFisica_datRge,
			'' clientePessoaFisica_nomPai,
			'' clientePessoaFisica_nomMae,
			'' clientePessoaFisica_refCm1,

			'' cadastroCEP_cepIni,
			'' cadastroCEP_cepFim,
			'' cadastroCEP_codRai,
			'' cadastroCEP_nomCid,
			'' cadastroCEP_baiCid,
			'' cadastroCEP_endCid,
			'' cadastroCEP_cepPol,
								
			'' dataBuild,
			'' sigInt,
			'' idtReq
			
	  FROM TB_PESSOA P WITH(NOLOCK), TB_PESSOA_RESUMO PR WITH(NOLOCK)
	 WHERE PR.CD_FUNCAO IN (1,2)
	   AND P.CD_PESSOA > 0
	   AND P.CD_PESSOA = PR.CD_PESSOA
	   --AND PR.CD_SITUACAO_COMERCIAL IN (0,1,2,3)
	   --AND (SELECT COUNT(PINT.CD_PESSOA_INTEGRACAO) FROM TB_PESSOA_INTEGRACAO PINT WITH(NOLOCK) WHERE PINT.CD_PESSOA = P.CD_PESSOA and PINT.ID_SITUACAO_INTEGRACAO = 3
	   --     AND PINT.CD_SERVICO_EXTERNO IN (SELECT CD_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE ID_SITUACAO = 1 AND ID_NOME_SERVICO_EXTERNO = 24)) < 
		--	(SELECT COUNT(CD_SERVICO_EXTERNO) FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE ID_SITUACAO = 1 AND ID_NOME_SERVICO_EXTERNO = 24)
GO
