SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER VIEW [dbo].[vw_IntegracaoSShowBaixaEstoquePendente]            
AS            
            
SELECT P.CD_CENTRO_DISTRIBUICAO AS IdCentroDistribuicao,            
    CD.CD_CENTRO_DISTRIBUICAO_EXTERNO AS IdCentroDistribuicaoExterno,            
    P.NM_PEDIDO AS IdPedido,
	N.DC_CHAVE_ACESSO_NFE AS chave_nfce,
    ITENS.CD_PRODUTO_VENDA AS IdProdutoVenda,            
    ITENS.CD_PRODUTO_VENDA_EXTERNO AS IdProdutoVendaExterno,            
    ITENS.QT_RESERVADA AS QuantidadeReservada,            
    ITENS.VL_PAGAR_TOTAL AS ValorPagarTotal            
FROM TB_PEDIDO P WITH(NOLOCK)    
INNER JOIN TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK)    
ON CD.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO
INNER JOIN TB_NOTA_FISCAL N WITH(NOLOCK)
ON N.NM_PEDIDO = P.NM_PEDIDO
OUTER APPLY (            
 SELECT ITENS.CD_PRODUTO_VENDA,             
     MIN(PV.CD_PRODUTO_VENDA_EXTERNO) AS CD_PRODUTO_VENDA_EXTERNO,            
     SUM(VL_PAGAR_TOTAL) AS VL_PAGAR_TOTAL,             
     SUM(QT_RESERVADA) AS QT_RESERVADA            
 FROM (            
  SELECT PIT.CD_PRODUTO_VENDA, PIT.VL_PAGAR_TOTAL, PIT.QT_RESERVADA            
  FROM TB_PEDIDO_ITEM PIT WITH(NOLOCK)    
  WHERE PIT.NM_PEDIDO = P.NM_PEDIDO    
   AND PIT.QT_RESERVADA > 0    
   AND PIT.CD_MATERIAL > 0    
            
  UNION ALL            
            
  SELECT PIP.CD_PRODUTO_VENDA, PIP.VL_PAGAR_TOTAL, PIP.QT_RESERVADA            
  FROM TB_PEDIDO_ITEM_PROMOCAO PIP WITH(NOLOCK)    
  WHERE PIP.NM_PEDIDO = P.NM_PEDIDO           
    AND PIP.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1    
 AND PIP.QT_RESERVADA > 0    
    AND PIP.CD_MATERIAL > 0    
 ) ITENS            
 INNER JOIN TB_PRODUTO_VENDA PV            
 ON PV.CD_PRODUTO_VENDA = ITENS.CD_PRODUTO_VENDA            
 GROUP BY ITENS.CD_PRODUTO_VENDA            
) ITENS            
OUTER APPLY (SELECT TOP 1 1 AS EXISTE            
    FROM TB_LOG_INTEGRACAO_ITEM LII WITH(NOLOCK)    
    INNER JOIN TB_LOG_INTEGRACAO LI WITH(NOLOCK)    
    ON LI.CD_LOG_INTEGRACAO = LII.CD_LOG_INTEGRACAO            
    WHERE LII.NM_VALOR_INTEGRACAO_ITEM = P.NM_PEDIDO            
      AND LI.CD_INTEGRACAO = 1      
      AND LII.ID_SITUACAO_INTEGRACAO = 3      
   ) AS PROCESSAMENTO_INTEGRACAO            
WHERE (P.CD_EST_SITUACAO BETWEEN 7 AND 10 OR (P.CD_EST_SITUACAO = 6 AND CD.ID_MOMENTO_FATURAMENTO = 1))        
  AND CD.ID_SITUACAO = 1 
  -- ALTERAÇÕES ATIVIDADE #9621 - VAMOS PASSAR A ENVIAR SÓ BAIXAS COM NF EMITIDA
  AND N.ID_SITUACAO_NOTA_FISCAL = 2
  AND N.ID_TIPO_NOTA_FISCAL = 2
  AND N.DC_CHAVE_ACESSO_NFE IS NOT NULL
  AND PROCESSAMENTO_INTEGRACAO.EXISTE IS NULL 
GO
