SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_IntegracaoOmieConsultaPedidoItens]
AS

	SELECT P.NM_PEDIDO,
		   PDI.NM_PEDIDO_ITEM,
		   M.CD_MATERIAL,
		   M.CD_MATERIAL_EXTERNO,
		   MI.DC_CODIGO_MATERIAL_INTEGRACAO,
		   M.DC_MATERIAL,
		   PDI.QT_RESERVADA,
		   ROUND(PDI.VL_LIQUIDO_TOTAL / PDI.QT_RESERVADA,2) VALOR_UNITARIO,
		   PDI.VL_LIQUIDO_TOTAL,
		   'Item de venda' OBS
	  FROM TB_PEDIDO P WITH(NOLOCK), TB_PEDIDO_ITEM PDI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK), TB_MATERIAL_INTEGRACAO MI WITH(NOLOCK)
	 WHERE PDI.NM_PEDIDO = P.NM_PEDIDO
	   AND M.CD_MATERIAL = PDI.CD_MATERIAL
	   AND M.CD_MATERIAL > 0
	   AND MI.CD_MATERIAL = M.CD_MATERIAL
	   AND MI.CD_SERVICO_EXTERNO = (SELECT S.CD_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO S WITH(NOLOCK) WHERE S.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND S.ID_NOME_SERVICO_EXTERNO = 23 AND S.ID_SITUACAO = 1)
	   AND PDI.QT_RESERVADA > 0
	   AND PDI.ID_PRODUTO_COBRADO = 1
	
	UNION ALL
	
	SELECT P.NM_PEDIDO,
		   PDI.NM_PEDIDO_ITEM_PROMOCAO,
		   M.CD_MATERIAL,
		   M.CD_MATERIAL_EXTERNO,
		   MI.DC_CODIGO_MATERIAL_INTEGRACAO,
		   M.DC_MATERIAL,
		   PDI.QT_RESERVADA,
		   ROUND(PDI.VL_PRECO_FATURAMENTO / PDI.QT_RESERVADA,2) VALOR_UNITARIO,
		   PDI.VL_PRECO_FATURAMENTO,
		   'Brinde ' + pr.DC_PROMOCAO OBS
	  FROM TB_PEDIDO P WITH(NOLOCK), TB_PEDIDO_ITEM_PROMOCAO PDI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK), TB_MATERIAL_INTEGRACAO MI WITH(NOLOCK), TB_PROMOCAO PR WITH(NOLOCK)
	 WHERE PDI.NM_PEDIDO = P.NM_PEDIDO
	   AND M.CD_MATERIAL = PDI.CD_MATERIAL
	   AND M.CD_MATERIAL > 0
	   AND MI.CD_MATERIAL = M.CD_MATERIAL
	   AND MI.CD_SERVICO_EXTERNO = (SELECT S.CD_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO S WITH(NOLOCK) WHERE S.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND S.ID_NOME_SERVICO_EXTERNO = 23 AND S.ID_SITUACAO = 1)
	   AND PDI.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 -- BRINDES DE PROMOÇÃO
	   AND PDI.QT_RESERVADA > 0
	   AND PR.CD_PROMOCAO = PDI.CD_PROMOCAO

	UNION ALL

	-- COMO FOI IMPLANTADO A FUNCIONALDIADE DE ITENS A INCORPORAR MANUALMENTE TEMOS QUE CRIAR UM UNION PARA TRATAR ESSES CASOS EM QUE NÃO SERÃO CORADOS

	SELECT P.NM_PEDIDO,
		   PDI.NM_PEDIDO_ITEM,
		   M.CD_MATERIAL,
		   M.CD_MATERIAL_EXTERNO,
		   MI.DC_CODIGO_MATERIAL_INTEGRACAO,
		   M.DC_MATERIAL,
		   PDI.QT_RESERVADA,
		   (SELECT E.VL_REPOSICAO_UNITARIO FROM TB_ESTOQUE E WHERE E.CD_MATERIAL = PDI.CD_MATERIAL AND E.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO) VALOR_UNITARIO,
		   ((SELECT E.VL_REPOSICAO_UNITARIO FROM TB_ESTOQUE E WHERE E.CD_MATERIAL = PDI.CD_MATERIAL AND E.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO) * PDI.QT_RESERVADA) VL_LIQUIDO_TOTAL,
		   'Brinde' OBS
	  FROM TB_PEDIDO P WITH(NOLOCK), TB_PEDIDO_ITEM PDI WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK), TB_MATERIAL_INTEGRACAO MI WITH(NOLOCK)
	 WHERE PDI.NM_PEDIDO = P.NM_PEDIDO
	   AND M.CD_MATERIAL = PDI.CD_MATERIAL
	   AND M.CD_MATERIAL > 0
	   AND MI.CD_MATERIAL = M.CD_MATERIAL
	   AND MI.CD_SERVICO_EXTERNO = (SELECT S.CD_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO S WITH(NOLOCK) WHERE S.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND S.ID_NOME_SERVICO_EXTERNO = 23 AND S.ID_SITUACAO = 1)
	   AND PDI.QT_RESERVADA > 0
	   AND PDI.ID_PRODUTO_COBRADO = 0
GO
