SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNIndicadorInsereCalculoIndicador]
	@P_CD_PESSOA					NUMERIC(18,0),
	@P_CD_INDICADOR_PESSOA			NUMERIC(18,0),
	@P_VL_INDICADOR_PESSOA			NUMERIC(18,4),
	@P_ID_REGRA_CALCULO				VARCHAR(50),

	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoFuncao				VARCHAR(1),
		
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	
AS
BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0

	IF @p_descricaoFuncao = 'I'
		BEGIN
			
			INSERT INTO TB_MN_PESSOA_INDICADOR_REGRA_CALCULO(
				CD_PESSOA,
				CD_INDICADOR_PESSOAL,
				VL_INDICADOR_PESSOAL,
				ID_PESSOA_INDICADOR_REGRA_CALCULO)
			VALUES (@P_CD_PESSOA,
				@P_CD_INDICADOR_PESSOA,
				@P_VL_INDICADOR_PESSOA,
				@P_ID_REGRA_CALCULO)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
			END	
		
		IF @p_descricaoFuncao = 'E'
			BEGIN
				 
				DELETE FROM TB_MN_PESSOA_INDICADOR_REGRA_CALCULO
				WHERE 	CD_PESSOA = @P_CD_PESSOA

				SELECT @p_linhasAfetadas = @@ROWCOUNT
			END
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
