SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_LoteSeparacaoGerarLoteBatch]
	@p_codigoErro		INT OUTPUT,
	@p_descErro			NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
	
AS

DECLARE @Cursor_Itens						CURSOR

DECLARE @v_codigoProcessamentoLoteSeparacaoPedido	NUMERIC(18,0),
		@v_numeroPedido								NUMERIC(18,0),
		@v_codigoLinhaSeparacao						NUMERIC(18,0),
		@v_codigoTransportadora						NUMERIC(18,0),
		@v_codigoRota								NUMERIC(18,0),
		@v_codigoLoteSeparacao						NUMERIC(18,0),
		@v_codigoUsuario							NUMERIC(18,0)

DECLARE @QT_REGISTROS								INT

BEGIN TRY

	SELECT	@p_qtLinhasAfetadas = 0,
			@p_codigoErro = 0,
			@p_descErro = ''

	-- *****************************************************
	-- VAMOS ABRIR O CURSOR DA TABELA TB_PROCESSAMENTO_CANCELA_PEDIDO
	-- WHERE ID_SITUACAO_PROCESSAMENTO = 1 (EM FILA)
	-- *****************************************************
			
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
			
		SELECT	CD_PROCESSAMENTO_LOTE_SEPARACAO_PEDIDO,
				NM_PEDIDO,
				CD_LINHA_SEPARACAO,
				CD_TRANSPORTADORA,
				CD_ROTA,
				CD_LOTE_SEPARACAO,
				CD_USUARIO
		FROM TB_PROCESSAMENTO_LOTE_SEPARACAO_PEDIDO WITH(NOLOCK)
		WHERE ID_SITUACAO_PROCESSAMENTO = 1	
		
	OPEN @Cursor_Itens
	FETCH NEXT FROM @Cursor_Itens
	INTO @v_codigoProcessamentoLoteSeparacaoPedido,
		 @v_numeroPedido,
		 @v_codigoLinhaSeparacao,
		 @v_codigoTransportadora,
		 @v_codigoRota,
		 @v_codigoLoteSeparacao,
		 @v_codigoUsuario		

	WHILE @@FETCH_STATUS = 0
		BEGIN

			EXEC dbo.pr_LoteSeparacaoGerarLoteProcessamento
  				@v_numeroPedido,
				@v_codigoLinhaSeparacao,
				@v_codigoTransportadora,
				@v_codigoRota,
				@v_codigoLoteSeparacao,
				@v_codigoUsuario,
				@p_codigoErro		OUTPUT,
				@p_descErro			OUTPUT,
				@p_qtLinhasAfetadas OUTPUT
					
			
			-- GRAVA RETORNO COM SUCESSO
			IF @p_codigoErro = 0 
				BEGIN
					UPDATE TB_PROCESSAMENTO_LOTE_SEPARACAO_PEDIDO
					SET ID_SITUACAO_PROCESSAMENTO = 3, DT_ENVIO_PROCESSAMENTO = GETDATE()
					WHERE CD_PROCESSAMENTO_LOTE_SEPARACAO_PEDIDO = @v_codigoProcessamentoLoteSeparacaoPedido

					-- ********************************************
					-- ALTERAÇÃO FEITA POR ANDERSON - 09/11/2022
					-- VAMOS VERIFICAR SE TODOS OS PEDIDOS DO LOTE FORAM PROCESSADOS
					-- EM CASO POSITIVO VAMOS GRAVAR NA SITUAÇÃO DO LOTE COMO 1 - ABERTO
					-- ********************************************

					-- SE NAO TIVER NENHUM PEDIDO COM SITUAÇÃO DE PENDENTE NA TABELA DE PROCESSAMENTO
					-- ENTÃO VAMOS GRAVAR A SITUAÇÃO DO LOTE COMO 1 - ABERTO

					SELECT @QT_REGISTROS = COUNT(*)
					FROM TB_PROCESSAMENTO_LOTE_SEPARACAO_PEDIDO
					WHERE CD_LOTE_SEPARACAO = @v_codigoLoteSeparacao
					AND ID_SITUACAO_PROCESSAMENTO = 1

					IF @QT_REGISTROS = 0
						BEGIN
							UPDATE TB_LOTE_SEPARACAO
							SET ID_SITUACAO_LOTE_SEPARACAO = 1 -- ABERTO
							WHERE CD_LOTE_SEPARACAO = @v_codigoLoteSeparacao
							AND ID_SITUACAO_LOTE_SEPARACAO = 0 -- EM PROCESSAMENTO
						END
	
					-- ********************************************
					-- FIM
					-- ********************************************

				END
			ELSE
				BEGIN
					-- GRAVA RETORNO COM ERRO
					UPDATE TB_PROCESSAMENTO_LOTE_SEPARACAO_PEDIDO
					SET ID_SITUACAO_PROCESSAMENTO = 4, CD_RETORNO_PROCESSAMENTO = @p_descErro
					WHERE CD_PROCESSAMENTO_LOTE_SEPARACAO_PEDIDO = @v_codigoProcessamentoLoteSeparacaoPedido

				END
				
						
																										
			FETCH NEXT FROM @Cursor_Itens
			INTO @v_codigoProcessamentoLoteSeparacaoPedido,
				 @v_numeroPedido,
				 @v_codigoLinhaSeparacao,
				 @v_codigoTransportadora,
				 @v_codigoRota,
				 @v_codigoLoteSeparacao,
				 @v_codigoUsuario			
														
		END

		SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
