SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_FAIXA_CREDITO]
	@CD_FAIXA_CREDITO numeric(18, 0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_STEP_INICIAL INT,
	@NM_STEP_FINAL INT,
	@NM_CREDITO numeric(18,2),
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

BEGIN TRY
	
	

	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
	
			BEGIN
				BEGIN TRANSACTION 
					
				IF (@NM_STEP_INICIAL) = -1
					BEGIN
						SELECT @NM_STEP_INICIAL = NULL
					END

				IF (@NM_STEP_FINAL) = -1
					BEGIN
						SELECT @NM_STEP_FINAL = NULL
					END				

				
				INSERT INTO TB_FAIXA_CREDITO (
					CD_FUNCAO,
					NM_STEP_INICIAL,
					NM_STEP_FINAL,
					NM_CREDITO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
										
						
				VALUES           (
					@CD_FUNCAO,
					@NM_STEP_INICIAL,
					@NM_STEP_FINAL,
					@NM_CREDITO,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	
			
			IF @VAR_TIPO_FUNCAO = 'E'
				BEGIN
				
					BEGIN TRANSACTION 
					
					DELETE FROM TB_FAIXA_CREDITO 
					WHERE CD_FAIXA_CREDITO = @CD_FAIXA_CREDITO
					AND CD_FUNCAO = @CD_FUNCAO
			
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			
				END

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
