SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_CampanhaInsereResgateCampanhaPontos]
	@p_codigoCampanhaResgate	numeric(18, 0),
	@p_codigoCampanha			numeric(18, 0),
	@p_codigoTipoProduto		numeric(18, 0),
	@p_codigoProduto			numeric(18, 0),
	@p_qtdPontosNecessarios		int,
	@p_codMaterial				NUMERIC(18,0),
	@p_descricaoFuncao			VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT
	
AS

BEGIN TRY
	BEGIN TRANSACTION 
	
	    SELECT @p_linhasAfetadas = 0

		IF @p_descricaoFuncao = 'I'
			BEGIN
						
				INSERT INTO TB_CAMPANHA_PONTOS_RESGATE (
					CD_CAMPANHA,
					ID_TIPO_RESGATE_CAMPANHA_PONTOS,
					CD_TIPO_RESGATE_CAMPANHA_PONTOS,
					QT_PONTOS_NECESSARIOS,
					CD_MATERIAL_RESGATE
					)
							
						
				VALUES           (
					@p_codigoCampanha,
					@p_codigoTipoProduto,
					@p_codigoProduto,
					@p_qtdPontosNecessarios,
					@p_codMaterial
					
					)
	
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_CAMPANHA_PONTOS_RESGATE')
			
	
			END	
		
		IF @p_descricaoFuncao = 'E'
			BEGIN

				DELETE FROM TB_CAMPANHA_PONTOS_RESGATE 
				WHERE CD_CAMPANHA = @p_codigoCampanha
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			

			END	
		
		COMMIT TRANSACTION

		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
   
   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
