SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_DividaInsereParametrosBoletoBancario]
	@p_codigo						numeric(18,0),
	@p_codigoCedente				varchar(100),
	@p_nomeCedente					varchar(200),
	@p_documentoCedente				varchar(100),
	@p_agenciaCedente				varchar(100),
	@p_contaCedente					varchar(100),
	@p_bancoCedente					int,
	@p_digitoCedente				varchar(10),
	@p_situacao						int,
	@p_digitoAgenciaCedente			varchar(10),
    @p_codigoTransmissao			varchar(20),
    @p_carteiraCedente				int,
	@p_centroDeDistribuicao			numeric(18, 0),
	
	@p_codigoUsuario				numeric(18,0),
	@p_descricaoFuncao				varchar(1),
		
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output,
	@p_codigoGerado					numeric(18,0)	output

AS


BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	    
	    IF @p_descricaoFuncao = 'I'
			BEGIN
				
				BEGIN TRANSACTION
							
				INSERT INTO TB_BOLETO_BANCARIO_PARAMETROS (
					DC_CODIGO_CEDENTE,
					DC_NOME_CEDENTE,
					DC_DOCUMENTO_CEDENTE,
					DC_AGENCIA_CEDENTE,
					DC_CONTA_CEDENTE,
					CD_BANCO,
					DC_DIGITO_CONTA_CEDENTE,
					ID_SITUACAO,
					DC_DIGITO_AGENCIA_CEDENTE,
					DC_CODIGO_TRANSMISSAO,
					CD_BANCO_CARTEIRA,
					CD_CENTRO_DISTRIBUICAO)
				VALUES (
					@p_codigoCedente,
					@p_nomeCedente,
					@p_documentoCedente,
					@p_agenciaCedente,
					@p_contaCedente,
					@p_bancoCedente,
					@p_digitoCedente,
					@p_situacao,
					@p_digitoAgenciaCedente,
					@p_codigoTransmissao,
					@p_carteiraCedente,
					@p_centroDeDistribuicao)
					
				COMMIT TRANSACTION
				
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_BOLETO_BANCARIO_PARAMETROS')
								
				SELECT @p_codigoErro = 0
				SELECT @p_descricaoErro = 'Configurações realizadas com exito'
			
			END
		
	    
	    IF @p_descricaoFuncao = 'A'
			BEGIN
			
				BEGIN TRANSACTION
				
				UPDATE TB_BOLETO_BANCARIO_PARAMETROS 
					SET 
						DC_CODIGO_CEDENTE = @p_codigoCedente,
						DC_NOME_CEDENTE = @p_nomeCedente,
						DC_DOCUMENTO_CEDENTE = @p_documentoCedente,
						DC_AGENCIA_CEDENTE = @p_agenciaCedente,
						DC_CONTA_CEDENTE = @p_contaCedente,
						CD_BANCO = @p_bancoCedente,
						DC_DIGITO_CONTA_CEDENTE = @p_digitoCedente,
						ID_SITUACAO = @p_situacao,
						DC_DIGITO_AGENCIA_CEDENTE = @p_digitoAgenciaCedente,
						DC_CODIGO_TRANSMISSAO = @p_codigoTransmissao,
						CD_BANCO_CARTEIRA = @p_carteiraCedente,
						CD_CENTRO_DISTRIBUICAO = @p_centroDeDistribuicao
					WHERE CD_BOLETO_BANCARIO_PARAMETROS = @p_codigo
				
				
				COMMIT TRANSACTION
				SELECT @p_codigoErro = 0
				SELECT @p_descricaoErro = 'Configurações realizadas com exito'
		
			END
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descricaoErro, @VAR_RETORNO, 1)
   
END CATCH;


GO
