SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_GradeProdutoInsereGradeItem]
	@p_codigoGradeProduto				numeric(18,0),
	@p_codigoGradeProdutoItem			numeric(18,0),
	@p_codigoGradeProdutoItemExterno	varchar(20),
	@p_descGradeProdutoItem				varchar(80),
	@p_idSituacao						int,
		
	@p_codigoUsuario NUMERIC(18,0),
	@p_idTipoFuncao VARCHAR(1),
	
	@p_cdRetorno		INT OUTPUT,
	@p_dcErro			NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
		SELECT @p_cdRetorno = 0
		SELECT @p_dcErro = 0
		
		
		IF @p_idTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_GRADE_PRODUTO_ITEM (
						CD_GRADE_PRODUTO,
						CD_GRADE_PRODUTO_ITEM_EXTERNO,
						DC_GRADE_PRODUTO_ITEM,
						ID_SITUACAO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO
					)
				VALUES
					(
						@p_codigoGradeProduto,
						@p_codigoGradeProdutoItemExterno,
						@p_descGradeProdutoItem,
						@p_idSituacao,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario
						
					)

				
				COMMIT TRANSACTION

				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				SELECT @p_cdRetorno = 0
				SELECT @p_dcErro = 'Item da Grade de Produto inserido com sucesso'
		
				
			END	
			
		IF @p_idTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 
		
				UPDATE TB_GRADE_PRODUTO_ITEM SET
					CD_GRADE_PRODUTO_ITEM_EXTERNO = @p_codigoGradeProdutoItemExterno,
					DC_GRADE_PRODUTO_ITEM = @p_descGradeProdutoItem,
					ID_SITUACAO = @p_idSituacao,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
				WHERE CD_GRADE_PRODUTO = @p_codigoGradeProduto 					
				AND CD_GRADE_PRODUTO_ITEM = @p_codigoGradeProdutoItem
							
							
				COMMIT TRANSACTION

				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				SELECT @p_cdRetorno = 0
				SELECT @p_dcErro = 'Item da Grade de Produto alterado com sucesso'

				
			END
		

		SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
