SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BAIXA_MATERIAL]
     /*********************************************************
     ID_TIPO_PEDIDO
     
     0 - NOVO EMPENHO - CAPTAÇÃO DE PEDIDO
     1 - EMPENHO EXISTENTE - CANCELAMENTO DE PEDIDO COM EMPENHO
     2 - EMPENHO EXISTENTE - LOTE DE SEPARAÇÃO
     3 - EMPENHO EXISTENTE - CANCELAMENTO DE PEDIDO QUE ESTA EM SEPARAÇÃO
	 4 - NOVO EMPENHO - BRINDE DE PROMOÇÃO
	 5 - EMPENHO EXISTENTE - CANCELAMENTO DE BRINDE DE PROMOÇÃO

	 ALTERAÇÃO FEITA POR ANDERSON - 05/10/2016
	 ADICIONADO PARAMETRO DE CD_MATERIAL
	 ISSO FOI NECESSARIO PARA ATENDER CLIENTES QUE UTILIZAR O ID_AGRUPAMENTO = 3
	 POIS NESSE CASO O PRODUTO NAO ESTA ASSOCIADO A UM MATERIAL MAS SIM A UM AGRUPADOR
	 ISSO PORQUE NO CASO DE PRODUTO~AGRUPADOR ELE PDOERÁ TER VARIOS MATERIAIS ASSOCIADOS EM VIURTUDE DO TAMANHO
     *********************************************************/
  	
  	@NM_PEDIDO			numeric(18, 0),
	@CD_PRODUTO_VENDA	numeric(18, 0),
	@CD_MATERIAL_VENDA	numeric(18, 0),
	@QT_PEDIDA			numeric(5, 0),
	@CD_USUARIO			NUMERIC(18,0),
	@ID_TIPO_EMPENHO	INT,
	
	@CD_MATERIAL				numeric(18, 0) OUTPUT,
	@CD_EST_SITUACAO			numeric(18, 0) OUTPUT,
	@QT_RESERVADA				numeric(5, 0) OUTPUT,
	@VL_REPOSICAO				numeric(18, 2) OUTPUT,
	@VL_CUSTO_MEDIO				numeric(18, 2) OUTPUT,
	@CD_COTA_PRODUTO_ESTRUTURA	NUMERIC(18,0) OUTPUT,
	@CD_COTA_PRODUTO_PESSOA		NUMERIC(18,0) OUTPUT,
	@VAR_RETORNO				INT OUTPUT,
	@DC_ERRO					NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS			INT OUTPUT	
	
AS


DECLARE @CD_CENTRO_DISTRIBUICAO			NUMERIC(18,0),
		@CD_EST_COMERCIAL				NUMERIC(18,0),
		@NM_CICLO						NUMERIC(18,0),
		@CD_ARMAZEM						NUMERIC(18,0),
		@QT_ESTOQUE_DISPONIVEL			NUMERIC(18,0),
		@QT_ESTOQUE_EMPENHADO			NUMERIC(18,0),
		@QT_ESTOQUE_TRANSICAO			NUMERIC(18,0),
		@QT_ESTOQUE_MANUTENCAO			NUMERIC(18,0),
		@QT_VIGILANCIA_SANITARIA		NUMERIC(18,0),
		@QT_ESTOQUE_DESTRUICAO			NUMERIC(18,0),
		@ID_EXISTE_REGISTRO				INT,
		
		@CD_COTA_ESTRUTURA_DISPONIVEL	NUMERIC(18,0),
		@QTD_COTA_ESTRUTURA_DISPONIVEL	NUMERIC(18,0),

		@CD_COTA_PESSOA_DISPONIVEL		NUMERIC(18,0),
		@QTD_COTA_PESSOA_DISPONIVEL		NUMERIC(18,0),

		@ID_AGRUPAMENTO					int,
		@QT_UTILIZADA_KIT				NUMERIC(18,0),
		@Cursor_Itens					CURSOR,
		@Cursor_Itens2					CURSOR,
		@CD_PESSOA						NUMERIC(18,0),
		@CD_REGRA_COMERCIAL				NUMERIC(18,0)

DECLARE @ID_MOVIMENTA_ESTOQUE			INT
	
BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0

	-- BUSCAR PESSOA DO PEDIDO
	-- ISSO SERÁ IMPORTANTE NA PARTE DE COTA DE PRODUTO POR PESSOA
	SELECT	@CD_PESSOA = CD_PESSOA,
			@CD_REGRA_COMERCIAL = CD_REGRA_COMERCIAL
	FROM TB_PEDIDO
	WHERE NM_PEDIDO = @NM_PEDIDO
		
	-- ***************************************************					
	-- VERIFICA SE O PEDIDO DEVE MOVIMENTAR ESTOQUE
	-- ***************************************************
	SELECT @ID_MOVIMENTA_ESTOQUE = DBO.FN_VERIFICA_PEDIDO_MOVIMENTA_ESTOQUE(@NM_PEDIDO)


	-- *****************************************************
	-- PEGA INFORMAÇÕES DO PEDIDO
	-- *****************************************************
	SELECT	@CD_CENTRO_DISTRIBUICAO = CD_CENTRO_DISTRIBUICAO,
			@CD_EST_COMERCIAL = CD_EST_COMERCIAL,
			@NM_CICLO = NM_CICLO_CAPTACAO
	FROM TB_PEDIDO
	WHERE NM_PEDIDO = @NM_PEDIDO
	
	
	-- *****************************************************	
	-- BUSCA ARMAZEM PRINCIPAL
	-- *****************************************************
	SELECT @CD_ARMAZEM = MIN(CD_ARMAZEM)
	FROM TB_ARMAZEM
	WHERE ID_TIPO_ARMAZEM = 1
	and CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
	
	
	-- *****************************************************
	-- VERIFICA SE É CONJUNTO OU PROUDTO REGULAR
	-- *****************************************************
	SELECT @ID_AGRUPAMENTO = ID_AGRUPAMENTO
	FROM TB_PRODUTO_VENDA
	WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
	

	SELECT @CD_COTA_PRODUTO_ESTRUTURA = 0
	SELECT @CD_COTA_PRODUTO_PESSOA = 0

	-- *****************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 16/10/2017
	-- FOI CRIADO UM NOVO CONCEITO DE PLANO DE ASSINATURA
	-- QUE SERIA UM SERVIÇO AO INVES DEPRODUTO FISICO
	-- DESSA MANEIRA QUANDO FOR ID_AGRUPAMENTO = 4 VAMOS SAIR DA ROTINA
	-- *****************************************************
	IF @ID_AGRUPAMENTO =  4 
		BEGIN

			SELECT @CD_MATERIAL = 0
			SELECT @CD_EST_SITUACAO = 11
			SELECT @QT_RESERVADA = @QT_PEDIDA
			SELECT @VL_REPOSICAO = 1
			SELECT @VL_CUSTO_MEDIO = 1
			SELECT @CD_COTA_PRODUTO_ESTRUTURA = 0

		END
	ELSE
		BEGIN

			-- INICIA A TRANSAÇÃO
			BEGIN TRANSACTION 

	
			-- *****************************************************
			-- NOVO EMPENHO - CAPTAÇÃO DE PEDIDO OU APLICA PROMOÇÃO (BRINDE)
			-- *****************************************************
			IF (@ID_TIPO_EMPENHO = 0) or (@ID_TIPO_EMPENHO = 4) 
				BEGIN				
							
					-- *******************************************************************************
					-- ALTERAÇÃO FEITA POR ANDERSON - 24/11/2017
					-- ESTAVA FALTANDO AQUI A PARTE DE VALIDAÇÃO DE COTA DE PRODUTO POR PESSOA
					-- SÓ TINHA DESENVOLVIDO A DE ESTRUTURA
					-- VAMOS PRIMEIRO VERIFICAR SE EXISTE COTA DE PRODUTO POR PESSOA E DEPOIS VAMOS VALIDA
					-- SE TEM COTA DE PRODUTO POR ESTRUTURA
					-- ISSO PORQUE PODEMOS TER O SEGUINTE CENARIO: A PESSOA PODE COMPRAR 2 MAS NA ESTRUTURA TEM APENAS 1
					-- UNIDADE LIBERADA
					-- *******************************************************************************

					-- VERIFICA SE EXISTE COTA DE PRODUTO DE PESSOA DISPONIVEL
					-- PARA PROMOÇÃO DE BRINDE NÃO EXISTE COTA DE PRODUTO, GANHOU O BRINDE A EMPRESA 
					-- TEM QUE ENVIAR. CASO CONTRARIO PODE DAR RESTRIÇÃOD E COTA BEM NOS BRINDES DE PROMOÇÃO
					-- E ISSO PODE GERAR MUITO BARULHO
					-- DESSA MANEIRA VAMOS FORÇAR PARA QUE O CODIGO DA COTA SEJA 0

					IF @ID_TIPO_EMPENHO = 4 --PROMOÇÃO DE BRINDE
						BEGIN
							SELECT @CD_COTA_PESSOA_DISPONIVEL = 0
						END
					ELSE
						BEGIN
							SELECT @CD_COTA_PESSOA_DISPONIVEL  = dbo.FN_BUSCA_CODIGO_COTA_PRODUTO_PESSOA_DISPONIVEL(@CD_PRODUTO_VENDA, 
																											@NM_CICLO,
																											@CD_REGRA_COMERCIAL)
			
						END

					IF @CD_COTA_PESSOA_DISPONIVEL = 0 -- NÃO ENCONTRADO NENHUMA COTA VIGENTE DE PESSOA
						BEGIN
							SELECT @QT_PEDIDA = @QT_PEDIDA
							SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
							SELECT @CD_COTA_PRODUTO_PESSOA = 0

						END
					ELSE
						BEGIN
					
							-- O SISTEMA ENCONTROU UMA COTA DE PRODUTO DE PESSOA VALIDA
							-- AGORA VAMOS VER QUANTO DA COTA DE PRODUTO DE PESSOA ESSA PESSOA JA UTILIZOU

							SELECT @QTD_COTA_PESSOA_DISPONIVEL  = dbo.FN_BUSCA_QTD_COTA_PRODUTO_PESSOA_DISPONIVEL(@CD_COTA_PESSOA_DISPONIVEL, 
																												  @CD_PESSOA,
																												  @CD_REGRA_COMERCIAL)

							IF @QTD_COTA_PESSOA_DISPONIVEL >= @QT_PEDIDA -- TEMOS COTA DISPONIVEL (AINDA VAMOS VALIDAR SE O MATERIAL POSSUI ESTOQUE)
								BEGIN
									SELECT @QT_PEDIDA = @QT_PEDIDA
									SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
									SELECT @CD_COTA_PRODUTO_PESSOA = @CD_COTA_PESSOA_DISPONIVEL
								END
							ELSE
								BEGIN
									SELECT @QT_PEDIDA = @QTD_COTA_PESSOA_DISPONIVEL
									SELECT @CD_EST_SITUACAO = 18 -- RESTRIÇÃO DE COTA POR PESSOA
									SELECT @CD_COTA_PRODUTO_PESSOA = @CD_COTA_PESSOA_DISPONIVEL
								END					

						END

				
					-- APÓS VALIDAR A COTA DE ESTRUTURA 
					-- AGORA VAMOS VALIDAR SE EXISTE COTA DE PRODUTO DE VENDA POR ESTRUTURA
					-- ISSO PORQUE FALAMOS ACIMA, PODE NÃO TER COTA DE PESSOA, MAS TEM COTA POR ESTRUTURA
					-- OU PODE TER UMA COTA DE PESSOA E TAMBEM UMA COTA DE ESTRUTURA
					-- TEMOS QUE VERIFICAR AS DUAS COTAS

					SELECT @CD_COTA_ESTRUTURA_DISPONIVEL  = dbo.FN_BUSCA_CODIGO_COTA_PRODUTO_ESTRUTURA_DISPONIVEL(@CD_EST_COMERCIAL, @CD_PRODUTO_VENDA, @NM_CICLO)

					-- SE NÃO ENCONTROU NENHUMA COTA SEGUE O JOGO OU SEJA, NÃO PRECISA FAZER NADA
					-- MANTEM O QUE VEIO DA COTA DE PRODUTO POR PESSOS, CASO CONTRARIO TEMOS QUE 
					-- FAZER A VALIDAÇÃO ABAIXO

					IF @CD_COTA_ESTRUTURA_DISPONIVEL <> 0 
					
						BEGIN
							-- COM BASE NA COTA VAMOS VERIFICAR SE EXISTE QUANTIDADE DISPONIVEL ESSE DISPONIVEL É NA COTA E NÃO NO PRODUTO)
							SELECT @QTD_COTA_ESTRUTURA_DISPONIVEL  = dbo.FN_BUSCA_QTD_COTA_PRODUTO_ESTRUTURA_DISPONIVEL(@CD_COTA_ESTRUTURA_DISPONIVEL)
						
							-- ************************************************************************************
							-- AQUI FAZ O MESMO QUE NA PARTE DE CIMA
							-- SE A QTD DE COTA DISPONIVEL É MAIOR QUE A QUANTIDADE PEDIDO VAMOS MANTER 
							-- AS INFORMAÇÕES QUE VIERAM DA COTA DE PRODUTO POR PESSOA
							-- CASO CONTRARIO VAMOS FAZER A VALIDAÇÃO ABAIXO			
							-- ************************************************************************************
							
							IF @QTD_COTA_ESTRUTURA_DISPONIVEL < @QT_PEDIDA 
							
								BEGIN
								
									-- ************************************************************************************
									-- COMO VEIO UM CENARIO FELIZ VAMOS PEGAR AS INFORMAÇÕES AQUI DA COTA DE ESTRUTURA
									-- ************************************************************************************
									IF @CD_EST_SITUACAO = 11
										BEGIN
											SELECT @QT_PEDIDA = @QTD_COTA_ESTRUTURA_DISPONIVEL
											SELECT @CD_EST_SITUACAO = 13 -- RESTRIÇÃO DE COTA POR ESTRUTURA
											SELECT @CD_COTA_PRODUTO_ESTRUTURA = @CD_COTA_ESTRUTURA_DISPONIVEL
										END
																								
								END		
							ELSE
								-- INDEPENDENTE SE ENTROU OU NÃO NA COTA DE PESSOA TEMOS QUE GRAVAR QUE USOU PARTE DA COTA DE ESTRUTURA
								BEGIN
									SELECT @CD_COTA_PRODUTO_ESTRUTURA = @CD_COTA_ESTRUTURA_DISPONIVEL
								END
								
																	
						END	 

			
					-- *********************************************************************
					-- A PARTIR DESSE PONTO VAMOS VERIFICAR SE EXISTE ESTOQUE NO MATERIAL
					-- *********************************************************************
					IF @ID_AGRUPAMENTO IN (1,3) --PRODUTO REGULAR OU AGRUPADOR
			
						BEGIN
				
							-- *****************************************************		
							-- BUSCA MATERIAL DO PRODUTO
							-- *****************************************************
					
							IF @CD_MATERIAL_VENDA = 0
								BEGIN
									SELECT @CD_MATERIAL = CD_MATERIAL
									FROM TB_PRODUTO_VENDA
									WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
								END 
							ELSE
								BEGIN
									SELECT @CD_MATERIAL = @CD_MATERIAL_VENDA
								END
					
						
							-- *****************************************************
							-- BUSCA CUSTO MEDIO E VALOR DE REPOSICAO
							-- *****************************************************
							SELECT @VL_REPOSICAO = 0
							SELECT @VL_CUSTO_MEDIO = 0
					
									
							-- *********************************************************************
							-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
							-- *********************************************************************
							SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
							SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
							SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
							SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
							SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
							SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
				
				
							-- SE ATENDE O ESTOQUE E VERIFICA SE HOUVE RESTRIÇÃO POR COTA
							IF @CD_EST_SITUACAO = 13 OR @CD_EST_SITUACAO = 18
								BEGIN

									IF 	(@QT_ESTOQUE_DISPONIVEL >= @QT_PEDIDA)
										BEGIN
											SELECT @QT_RESERVADA = @QT_PEDIDA
											--SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
										END
									ELSE
										BEGIN
											IF @QT_ESTOQUE_DISPONIVEL < 0
												BEGIN
													SELECT @QT_RESERVADA = 0
													--SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
												END
											ELSE
												BEGIN
													SELECT @QT_RESERVADA = @QT_ESTOQUE_DISPONIVEL
													--SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
												END
							
										END
									

								END
							ELSE
								BEGIN

									IF 	(@QT_ESTOQUE_DISPONIVEL >= @QT_PEDIDA)
										BEGIN
											SELECT @QT_RESERVADA = @QT_PEDIDA
											SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
										END
									ELSE
										BEGIN
											IF @QT_ESTOQUE_DISPONIVEL <= 0
												BEGIN
													SELECT @QT_RESERVADA = 0
													SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
												END
											ELSE
												BEGIN
													SELECT @QT_RESERVADA = @QT_ESTOQUE_DISPONIVEL
													SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
												END
							
										END

								END


						   
							SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL - @QT_RESERVADA
							SELECT @QT_ESTOQUE_EMPENHADO= @QT_ESTOQUE_EMPENHADO + @QT_RESERVADA	
				
											
							IF @ID_MOVIMENTA_ESTOQUE = 2 -- NAO MOVIMENTA ESTOQUE (QT_RESERVADA IGUAL A QT_PEDIDA)
								BEGIN
									SELECT @QT_RESERVADA = @QT_PEDIDA
									SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
								END
							ELSE
								BEGIN
							
									-- *****************************************************
									-- ATUALIZA A TABELA DE ESTOQUE
									-- *****************************************************
													
									UPDATE	TB_ESTOQUE
									SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
										QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
										DT_ATUALIZACAO = GETDATE(),
										CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
									WHERE CD_MATERIAL = @CD_MATERIAL
									AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
									AND CD_ARMAZEM = @CD_ARMAZEM
											
									/*************************************************************************************/
									/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
									/*************************************************************************************/
									IF @QT_RESERVADA > 0
										BEGIN
											INSERT INTO TB_MOV_ESTOQUE (
												DT_MOVIMENTO,
												CD_MATERIAL,
												CD_CENTRO_DISTRIBUICAO,
												CD_ARMAZEM,
												CD_TIPO_MOV_ESTOQUE,
												QT_ESTOQUE_DISPONIVEL,
												QT_ESTOQUE_EMPENHADO,
												QT_ESTOQUE_TRANSICAO,
												QT_ESTOQUE_MANUTENCAO,
												QT_VIGILANCIA_SANITARIA,
												QT_ESTOQUE_DESTRUICAO,
												QT_PRODUTO_MOVIMENTADO,
												VL_REPOSICAO_UNITARIO,
												VL_CUSTO_MEDIO_UNITARIO,
												NM_DOCUMENTO,
												DC_REFERENCIA,
												DT_CADASTRO,
												CD_USUARIO_CADASTRO,
												DT_ATUALIZACAO,
												CD_USUARIO_ATUALIZACAO)
											VALUES (
												GETDATE(),
												@CD_MATERIAL,
												@CD_CENTRO_DISTRIBUICAO,
												@CD_ARMAZEM,
												3, -- empenho
												@QT_ESTOQUE_DISPONIVEL,
												@QT_ESTOQUE_EMPENHADO,
												@QT_ESTOQUE_TRANSICAO,
												@QT_ESTOQUE_MANUTENCAO,
												@QT_VIGILANCIA_SANITARIA,
												@QT_ESTOQUE_DESTRUICAO,
												@QT_RESERVADA,
												@VL_REPOSICAO,
												@VL_CUSTO_MEDIO,
												@NM_PEDIDO,
												'',
												GETDATE(),
												@CD_USUARIO,
												GETDATE(),
												@CD_USUARIO)
										END
								
								END
						
						END
			
					ELSE
						BEGIN
							-- ************************************************
							-- Correção por Diego Zilioti em 11/06/2018
							-- Antes de realizar a baixa de estoque de um kit precisamos validar se todos os componentes possuem estoque disponível,
							-- se um deles falhar todos os outros precisam acusar também a falta de estoque geral do kit
							-- ************************************************				

							SET @Cursor_Itens = CURSOR FAST_FORWARD
							FOR
								SELECT	CD_MATERIAL,
										QT_UTILIZADA
								FROM TB_PRODUTO_VENDA_COMPONENTE
								WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
				
							OPEN @Cursor_Itens
							FETCH NEXT FROM @Cursor_Itens
							INTO @CD_MATERIAL, @QT_UTILIZADA_KIT

							WHILE @@FETCH_STATUS = 0
								BEGIN

									-- *****************************************************
									-- BUSCA CUSTO MEDIO E VALOR DE REPOSICAO
									-- *****************************************************
									SELECT @VL_REPOSICAO = 0
									SELECT @VL_CUSTO_MEDIO = 0
							
											
									-- *********************************************************************
									-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
									-- *********************************************************************
									SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
									SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
									SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
									SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
									SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
									SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)

									IF @QT_PEDIDA > 0
										BEGIN
											-- SE ATENDE O ESTOQUE E VERIFICA SE HOUVE RESTRIÇÃO POR COTA
											IF @CD_EST_SITUACAO = 13 OR @CD_EST_SITUACAO = 18 
												BEGIN

													IF 	(@QT_ESTOQUE_DISPONIVEL >= (@QT_PEDIDA * @QT_UTILIZADA_KIT))
														BEGIN
															SELECT @QT_RESERVADA = @QT_PEDIDA * @QT_UTILIZADA_KIT
															--SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
														END
													ELSE
														BEGIN
															IF @QT_ESTOQUE_DISPONIVEL < 0
																BEGIN
																	SELECT @QT_RESERVADA = 0
																	--SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
																END
															ELSE
																BEGIN
																	SELECT @QT_RESERVADA = @QT_ESTOQUE_DISPONIVEL
																	--SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
																END
							
														END
									

												END
											ELSE
												BEGIN

													IF 	(@QT_ESTOQUE_DISPONIVEL >= (@QT_PEDIDA * @QT_UTILIZADA_KIT))
														BEGIN
															SELECT @QT_RESERVADA = @QT_PEDIDA * @QT_UTILIZADA_KIT
															SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
														END
													ELSE
														BEGIN
															IF @QT_ESTOQUE_DISPONIVEL <= 0
																BEGIN
																	SELECT @QT_RESERVADA = 0
																	SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
																END
															ELSE
																BEGIN
																	SELECT @QT_RESERVADA = 0
																	SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
																END
														END
												END
										END
	
									-- Se a quantidade de estoque for igual a 0 vamos forçar a quantidade pedida igual a 0 e assim forçar o não empenho do kit
									if @QT_RESERVADA = 0
										begin
											select @QT_PEDIDA = 0
										end


									FETCH NEXT FROM @Cursor_Itens
									INTO @CD_MATERIAL, @QT_UTILIZADA_KIT

								end

							CLOSE @Cursor_Itens
							
							SET @Cursor_Itens2 = CURSOR FAST_FORWARD
							FOR
								SELECT	CD_MATERIAL,
										QT_UTILIZADA
								FROM TB_PRODUTO_VENDA_COMPONENTE
								WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
				
							OPEN @Cursor_Itens2
							FETCH NEXT FROM @Cursor_Itens2
							INTO @CD_MATERIAL, @QT_UTILIZADA_KIT

							WHILE @@FETCH_STATUS = 0
								BEGIN
									-- *****************************************************
									-- APÓS A VALIDAÇÃO ANTERIOR SE UM DOS ITENS ESTIVER SER ESTOQUE VAMOS VALIDAR INICIALMENTE SE A QT_RESERVADA É MAIOR QUE 0
									-- SE NÃO FOR VAMOS APENAS RETORNAR AS INFORMAÇÕES DO ITEM SEM ESTOQUE
									-- *****************************************************

									IF @QT_RESERVADA > 0
										BEGIN
											-- *****************************************************
											-- BUSCA CUSTO MEDIO E VALOR DE REPOSICAO
											-- *****************************************************
											SELECT @VL_REPOSICAO = 0
											SELECT @VL_CUSTO_MEDIO = 0
							
											
											-- *********************************************************************
											-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
											-- *********************************************************************
											SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
											SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
											SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
											SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
											SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
											SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
						
						
											-- SELECT @QT_PEDIDA = @QT_PEDIDA * @QT_UTILIZADA_KIT;
							
									
											-- SE ATENDE O ESTOQUE E VERIFICA SE HOUVE RESTRIÇÃO POR COTA
											IF @CD_EST_SITUACAO = 13 OR @CD_EST_SITUACAO = 18
												BEGIN

													IF 	(@QT_ESTOQUE_DISPONIVEL >= @QT_PEDIDA * @QT_UTILIZADA_KIT)
														BEGIN
															SELECT @QT_RESERVADA = @QT_PEDIDA 
															SELECT @QT_UTILIZADA_KIT = @QT_PEDIDA * @QT_UTILIZADA_KIT
															--SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
														END
													ELSE
														BEGIN
															IF @QT_ESTOQUE_DISPONIVEL < 0
																BEGIN
																	SELECT @QT_RESERVADA = 0
																	SELECT @QT_UTILIZADA_KIT = 0
																	--SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
																END
															ELSE
																BEGIN
																	SELECT @QT_RESERVADA = @QT_ESTOQUE_DISPONIVEL
																	SELECT @QT_UTILIZADA_KIT = @QT_ESTOQUE_DISPONIVEL
																	--SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
																END
							
														END
									

												END
											ELSE
												BEGIN

													IF 	(@QT_ESTOQUE_DISPONIVEL >= (@QT_PEDIDA * @QT_UTILIZADA_KIT))
														BEGIN
															SELECT @QT_RESERVADA = @QT_PEDIDA 
															SELECT @QT_UTILIZADA_KIT = @QT_PEDIDA * @QT_UTILIZADA_KIT
															SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
														END
													ELSE
														BEGIN
															IF @QT_ESTOQUE_DISPONIVEL <= 0
																BEGIN
																	SELECT @QT_RESERVADA = 0
																	SELECT @QT_UTILIZADA_KIT = 0
																	SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
																END
															ELSE
																BEGIN
																	SELECT @QT_RESERVADA = @QT_ESTOQUE_DISPONIVEL
																	SELECT @QT_UTILIZADA_KIT = @QT_ESTOQUE_DISPONIVEL
																	SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
																END
														END
												END
								   
											SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL - @QT_UTILIZADA_KIT
											SELECT @QT_ESTOQUE_EMPENHADO= @QT_ESTOQUE_EMPENHADO + @QT_UTILIZADA_KIT
	
						
											IF @ID_MOVIMENTA_ESTOQUE = 2 -- NAO MOVIMENTA ESTOQUE (QT_RESERVADA IGUAL A QT_PEDIDA)
												BEGIN
													SELECT @QT_RESERVADA = @QT_PEDIDA
													SELECT @CD_EST_SITUACAO = 11 -- CAPTADO INTEGRALMENTE
												END	
											ELSE
												BEGIN		
													-- *****************************************************
													-- ATUALIZA A TABELA DE ESTOQUE
													-- *****************************************************
													UPDATE	TB_ESTOQUE
														SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
															QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
															DT_ATUALIZACAO = GETDATE(),
															CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
														WHERE CD_MATERIAL = @CD_MATERIAL
														AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
														AND CD_ARMAZEM = @CD_ARMAZEM
													
													/*************************************************************************************/
													/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
													/*************************************************************************************/
													IF @QT_RESERVADA > 0
														BEGIN
															INSERT INTO TB_MOV_ESTOQUE (
																DT_MOVIMENTO,
																CD_MATERIAL,
																CD_CENTRO_DISTRIBUICAO,
																CD_ARMAZEM,
																CD_TIPO_MOV_ESTOQUE,
																QT_ESTOQUE_DISPONIVEL,
																QT_ESTOQUE_EMPENHADO,
																QT_ESTOQUE_TRANSICAO,
																QT_ESTOQUE_MANUTENCAO,
																QT_VIGILANCIA_SANITARIA,
																QT_ESTOQUE_DESTRUICAO,
																QT_PRODUTO_MOVIMENTADO,
																VL_REPOSICAO_UNITARIO,
																VL_CUSTO_MEDIO_UNITARIO,
																NM_DOCUMENTO,
																DC_REFERENCIA,
																DT_CADASTRO,
																CD_USUARIO_CADASTRO,
																DT_ATUALIZACAO,
																CD_USUARIO_ATUALIZACAO)
															VALUES (
																GETDATE(),
																@CD_MATERIAL,
																@CD_CENTRO_DISTRIBUICAO,
																@CD_ARMAZEM,
																3, -- empenho
																@QT_ESTOQUE_DISPONIVEL,
																@QT_ESTOQUE_EMPENHADO,
																@QT_ESTOQUE_TRANSICAO,
																@QT_ESTOQUE_MANUTENCAO,
																@QT_VIGILANCIA_SANITARIA,
																@QT_ESTOQUE_DESTRUICAO,
																@QT_UTILIZADA_KIT,
																@VL_REPOSICAO,
																@VL_CUSTO_MEDIO,
																@NM_PEDIDO,
																'',
																GETDATE(),
																@CD_USUARIO,
																GETDATE(),
																@CD_USUARIO)
														END
												END
									
										END
									ELSE
										BEGIN
											SELECT @QT_RESERVADA = 0
											SELECT @CD_EST_SITUACAO = 12 -- COM RESTRIÇÃO DE ESTOQUE
										END
									
									FETCH NEXT FROM @Cursor_Itens2
									INTO @CD_MATERIAL, @QT_UTILIZADA_KIT
								END
						END	
					
				END
	
		-- *****************************************************		
		-- EMPENHO EXISTENTE - CANCELAMENTO DE PEDIDO
		-- *****************************************************
		IF (@ID_TIPO_EMPENHO = 1) 
																																																																																																																																																																																																																										BEGIN
			
			IF @ID_AGRUPAMENTO IN (1,3)
				--PRODUTO REGULAR
				BEGIN
				
					-- *****************************************************		
					-- BUSCA MATERIAL DO PRODUTO
					-- *****************************************************
					IF @CD_MATERIAL_VENDA = 0
						BEGIN
							SELECT @CD_MATERIAL = CD_MATERIAL
							FROM TB_PRODUTO_VENDA
							WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
						END 
					ELSE
						BEGIN
							SELECT @CD_MATERIAL = @CD_MATERIAL_VENDA
						END
					
				
					-- *****************************************************
					-- BUSCA CUSTO MEDIO E VALOR DE REPOSICAO
					-- *****************************************************
					SELECT @VL_REPOSICAO = 0
					SELECT @VL_CUSTO_MEDIO = 0
														
					-- *********************************************************************
					-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
					-- *********************************************************************
					SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
					SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
					SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
					SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
					SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
					SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
				
				
					SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL + @QT_PEDIDA
					SELECT @QT_ESTOQUE_EMPENHADO= @QT_ESTOQUE_EMPENHADO - @QT_PEDIDA	
	
			
					IF @ID_MOVIMENTA_ESTOQUE = 1
						BEGIN
							-- ATUALIZA A TABELA DE ESTOQUE
							UPDATE	TB_ESTOQUE
							SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
								QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
								DT_ATUALIZACAO = GETDATE(),
								CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
							WHERE CD_MATERIAL = @CD_MATERIAL
							AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
							AND CD_ARMAZEM = @CD_ARMAZEM
							
							/*************************************************************************************/
							/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
							/*************************************************************************************/
							INSERT INTO TB_MOV_ESTOQUE (
								DT_MOVIMENTO,
								CD_MATERIAL,
								CD_CENTRO_DISTRIBUICAO,
								CD_ARMAZEM,
								CD_TIPO_MOV_ESTOQUE,
								QT_ESTOQUE_DISPONIVEL,
								QT_ESTOQUE_EMPENHADO,
								QT_ESTOQUE_TRANSICAO,
								QT_ESTOQUE_MANUTENCAO,
								QT_VIGILANCIA_SANITARIA,
								QT_ESTOQUE_DESTRUICAO,
								QT_PRODUTO_MOVIMENTADO,
								VL_REPOSICAO_UNITARIO,
								VL_CUSTO_MEDIO_UNITARIO,
								NM_DOCUMENTO,
								DC_REFERENCIA,
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
							VALUES (
								GETDATE(),
								@CD_MATERIAL,
								@CD_CENTRO_DISTRIBUICAO,
								@CD_ARMAZEM,
								4, -- ENTRADA POR CANCELAMENTO DE EMPENHO
								@QT_ESTOQUE_DISPONIVEL,
								@QT_ESTOQUE_EMPENHADO,
								@QT_ESTOQUE_TRANSICAO,
								@QT_ESTOQUE_MANUTENCAO,
								@QT_VIGILANCIA_SANITARIA,
								@QT_ESTOQUE_DESTRUICAO,
								@QT_PEDIDA,
								@VL_REPOSICAO,
								@VL_CUSTO_MEDIO,
								@NM_PEDIDO,
								'',
								GETDATE(),
								@CD_USUARIO,
								GETDATE(),
								@CD_USUARIO)
								
						
						END
	
					
				
				
				END 
			 ELSE
				-- CONJUNTO
				BEGIN
					SET @Cursor_Itens = CURSOR FAST_FORWARD
					FOR

						SELECT X.CD_MATERIAL, SUM(X.QT_RESERVADA) FROM
						(SELECT	A.CD_MATERIAL,
								A.QT_RESERVADA
						FROM TB_PEDIDO_ITEM A
						WHERE A.NM_PEDIDO = @NM_PEDIDO
						  AND A.NM_PEDIDO_ITEM_CONJUNTO IN (SELECT NM_PEDIDO_ITEM
															  FROM TB_PEDIDO_ITEM
															  WHERE NM_PEDIDO = @NM_PEDIDO
															  AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
															  AND NM_PEDIDO_ITEM_CONJUNTO = 0)

						UNION ALL

						SELECT B.CD_MATERIAL,
							   B.QT_RESERVADA
						  FROM TB_PEDIDO_ITEM_PROMOCAO B
						 WHERE B.NM_PEDIDO = @NM_PEDIDO
						   AND B.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO in (SELECT NM_PEDIDO_ITEM_PROMOCAO
															  FROM TB_PEDIDO_ITEM_PROMOCAO
															  WHERE NM_PEDIDO = @NM_PEDIDO
															  AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
															  AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
															  -- ALTERADO POR ANDERSON - 31/07/2023 - CHAMADO 3406
															  -- PARA PEDIDOS CANCELADOS COM KIT E PROMOÇÃO DE DESCONTO
															  -- ESTAVA MOVIMENTANDO DUAS VEZES O ESTOQUE DE CADA MATERIAL
															  -- ESTAVA FALTANDO NESSE CONSULTA ESSE FILTRO DE BRINDE
															  AND ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1)) X
						GROUP BY X.CD_MATERIAL

					--SELECT	CD_MATERIAL,
					--		QT_UTILIZADA * @QT_PEDIDA
					--  FROM TB_PRODUTO_VENDA_COMPONENTE
					-- WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
										
					OPEN @Cursor_Itens
					FETCH NEXT FROM @Cursor_Itens
					INTO @CD_MATERIAL, @QT_UTILIZADA_KIT

					WHILE @@FETCH_STATUS = 0
						BEGIN
			
							-- *********************************************************************
							-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
							-- *********************************************************************
							SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
							SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
							SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
							SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
							SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
							SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
						
						
							SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL + @QT_UTILIZADA_KIT
							SELECT @QT_ESTOQUE_EMPENHADO= @QT_ESTOQUE_EMPENHADO - @QT_UTILIZADA_KIT	
			

			
							IF @ID_MOVIMENTA_ESTOQUE = 1
								BEGIN
								
									-- ATUALIZA A TABELA DE ESTOQUE
									UPDATE	TB_ESTOQUE
									SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
										QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
										DT_ATUALIZACAO = GETDATE(),
										CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
									WHERE CD_MATERIAL = @CD_MATERIAL
									AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
									AND CD_ARMAZEM = @CD_ARMAZEM
									
									/*************************************************************************************/
									/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
									/*************************************************************************************/
									INSERT INTO TB_MOV_ESTOQUE (
											DT_MOVIMENTO,
											CD_MATERIAL,
											CD_CENTRO_DISTRIBUICAO,
											CD_ARMAZEM,
											CD_TIPO_MOV_ESTOQUE,
											QT_ESTOQUE_DISPONIVEL,
											QT_ESTOQUE_EMPENHADO,
											QT_ESTOQUE_TRANSICAO,
											QT_ESTOQUE_MANUTENCAO,
											QT_VIGILANCIA_SANITARIA,
											QT_ESTOQUE_DESTRUICAO,
											QT_PRODUTO_MOVIMENTADO,
											VL_REPOSICAO_UNITARIO,
											VL_CUSTO_MEDIO_UNITARIO,
											NM_DOCUMENTO,
											DC_REFERENCIA,
											DT_CADASTRO,
											CD_USUARIO_CADASTRO,
											DT_ATUALIZACAO,
											CD_USUARIO_ATUALIZACAO)
										VALUES (
											GETDATE(),
											@CD_MATERIAL,
											@CD_CENTRO_DISTRIBUICAO,
											@CD_ARMAZEM,
											4, -- ENTRADA POR CANCELAMENTO DE EMPENHO
											@QT_ESTOQUE_DISPONIVEL,
											@QT_ESTOQUE_EMPENHADO,
											@QT_ESTOQUE_TRANSICAO,
											@QT_ESTOQUE_MANUTENCAO,
											@QT_VIGILANCIA_SANITARIA,
											@QT_ESTOQUE_DESTRUICAO,
											@QT_UTILIZADA_KIT,
											@VL_REPOSICAO,
											@VL_CUSTO_MEDIO,
											@NM_PEDIDO,
											'',
											GETDATE(),
											@CD_USUARIO,
											GETDATE(),
											@CD_USUARIO)
							
								
								END
									
						
							FETCH NEXT FROM @Cursor_Itens
							INTO @CD_MATERIAL, @QT_UTILIZADA_KIT
													
						END
					
				
				END
				
		END
						
		-- *****************************************************
		-- EMPENHO EXISTENTE - LOTE DE SEPARAÇÃO
		-- *****************************************************
		IF (@ID_TIPO_EMPENHO = 2) 
																																																																																																																																																																																																																	BEGIN
		
			IF @ID_AGRUPAMENTO IN (1,3) 
				--PRODUTO REGULAR OU AGRUPADOR
				BEGIN
				
					-- *****************************************************		
					-- BUSCA MATERIAL DO PRODUTO
					-- *****************************************************
					IF @CD_MATERIAL_VENDA = 0
						BEGIN
							SELECT @CD_MATERIAL = CD_MATERIAL
							FROM TB_PRODUTO_VENDA
							WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
						END 
					ELSE
						BEGIN
							SELECT @CD_MATERIAL = @CD_MATERIAL_VENDA
						END
					
				
					-- *****************************************************
					-- BUSCA CUSTO MEDIO E VALOR DE REPOSICAO
					-- *****************************************************
					SELECT @VL_REPOSICAO = 0
					SELECT @VL_CUSTO_MEDIO = 0
														
					-- *********************************************************************
					-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
					-- *********************************************************************
					SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
					SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
					SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
					SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
					SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
					SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
				
					SELECT @QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO - @QT_PEDIDA	
					

	
					IF @ID_MOVIMENTA_ESTOQUE = 1
						BEGIN
							-- ATUALIZA A TABELA DE ESTOQUE
							UPDATE	TB_ESTOQUE
							SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
								QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
								DT_ATUALIZACAO = GETDATE(),
								CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
							WHERE CD_MATERIAL = @CD_MATERIAL
							AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
							AND CD_ARMAZEM = @CD_ARMAZEM
									
							/*************************************************************************************/
							/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
							/*************************************************************************************/
							INSERT INTO TB_MOV_ESTOQUE (
								DT_MOVIMENTO,
								CD_MATERIAL,
								CD_CENTRO_DISTRIBUICAO,
								CD_ARMAZEM,
								CD_TIPO_MOV_ESTOQUE,
								QT_ESTOQUE_DISPONIVEL,
								QT_ESTOQUE_EMPENHADO,
								QT_ESTOQUE_TRANSICAO,
								QT_ESTOQUE_MANUTENCAO,
								QT_VIGILANCIA_SANITARIA,
								QT_ESTOQUE_DESTRUICAO,
								QT_PRODUTO_MOVIMENTADO,
								VL_REPOSICAO_UNITARIO,
								VL_CUSTO_MEDIO_UNITARIO,
								NM_DOCUMENTO,
								DC_REFERENCIA,
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
							VALUES (
								GETDATE(),
								@CD_MATERIAL,
								@CD_CENTRO_DISTRIBUICAO,
								@CD_ARMAZEM,
								5, -- SAIDA POR VENDA DIRETA
								@QT_ESTOQUE_DISPONIVEL,
								@QT_ESTOQUE_EMPENHADO,
								@QT_ESTOQUE_TRANSICAO,
								@QT_ESTOQUE_MANUTENCAO,
								@QT_VIGILANCIA_SANITARIA,
								@QT_ESTOQUE_DESTRUICAO,
								@QT_PEDIDA,
								@VL_REPOSICAO,
								@VL_CUSTO_MEDIO,
								@NM_PEDIDO,
								'',
								GETDATE(),
								@CD_USUARIO,
								GETDATE(),
								@CD_USUARIO)
					
						END
					
				
				END
			ELSE
				-- CONJUNTO ABERTO
				BEGIN
					SET @Cursor_Itens = CURSOR FAST_FORWARD
					FOR
			
						SELECT X.CD_MATERIAL, SUM(X.QT_RESERVADA) FROM
						(SELECT	A.CD_MATERIAL,
								A.QT_RESERVADA
						FROM TB_PEDIDO_ITEM A
						WHERE A.NM_PEDIDO = @NM_PEDIDO
						  AND A.NM_PEDIDO_ITEM_CONJUNTO IN (SELECT NM_PEDIDO_ITEM
															  FROM TB_PEDIDO_ITEM
															  WHERE NM_PEDIDO = @NM_PEDIDO
															  AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
															  AND NM_PEDIDO_ITEM_CONJUNTO = 0)

						UNION ALL

						SELECT B.CD_MATERIAL,
							   B.QT_RESERVADA
						  FROM TB_PEDIDO_ITEM_PROMOCAO B
						 WHERE B.NM_PEDIDO = @NM_PEDIDO
						   AND B.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO in (SELECT NM_PEDIDO_ITEM_PROMOCAO
															  FROM TB_PEDIDO_ITEM_PROMOCAO
															  WHERE NM_PEDIDO = @NM_PEDIDO
															  AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
															  AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
															  -- ALTERADO POR ANDERSON - 31/07/2023 - CHAMADO 3406
															  -- PARA PEDIDOS CANCELADOS COM KIT E PROMOÇÃO DE DESCONTO
															  -- ESTAVA MOVIMENTANDO DUAS VEZES O ESTOQUE DE CADA MATERIAL
															  -- ESTAVA FALTANDO NESSE CONSULTA ESSE FILTRO DE BRINDE
															  AND ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1)) X
						GROUP BY X.CD_MATERIAL

						--SELECT	CD_MATERIAL,
						--		QT_UTILIZADA * @QT_PEDIDA
						--  FROM TB_PRODUTO_VENDA_COMPONENTE
						-- WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA

					OPEN @Cursor_Itens
					FETCH NEXT FROM @Cursor_Itens
					INTO @CD_MATERIAL, @QT_UTILIZADA_KIT

					WHILE @@FETCH_STATUS = 0
						BEGIN
						
							-- *********************************************************************
							-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
							-- *********************************************************************
							SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
							SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
							SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
							SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
							SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
							SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
						
							SELECT @QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO - @QT_UTILIZADA_KIT	
					

			
							IF @ID_MOVIMENTA_ESTOQUE = 1
								BEGIN
									-- ATUALIZA A TABELA DE ESTOQUE
									UPDATE	TB_ESTOQUE
									SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
										QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
										DT_ATUALIZACAO = GETDATE(),
										CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
									WHERE CD_MATERIAL = @CD_MATERIAL
									AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
									AND CD_ARMAZEM = @CD_ARMAZEM
											
									/*************************************************************************************/
									/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
									/*************************************************************************************/
									INSERT INTO TB_MOV_ESTOQUE (
										DT_MOVIMENTO,
										CD_MATERIAL,
										CD_CENTRO_DISTRIBUICAO,
										CD_ARMAZEM,
										CD_TIPO_MOV_ESTOQUE,
										QT_ESTOQUE_DISPONIVEL,
										QT_ESTOQUE_EMPENHADO,
										QT_ESTOQUE_TRANSICAO,
										QT_ESTOQUE_MANUTENCAO,
										QT_VIGILANCIA_SANITARIA,
										QT_ESTOQUE_DESTRUICAO,
										QT_PRODUTO_MOVIMENTADO,
										VL_REPOSICAO_UNITARIO,
										VL_CUSTO_MEDIO_UNITARIO,
										NM_DOCUMENTO,
										DC_REFERENCIA,
										DT_CADASTRO,
										CD_USUARIO_CADASTRO,
										DT_ATUALIZACAO,
										CD_USUARIO_ATUALIZACAO)
									VALUES (
										GETDATE(),
										@CD_MATERIAL,
										@CD_CENTRO_DISTRIBUICAO,
										@CD_ARMAZEM,
										5, -- SAIDA POR VENDA DIRETA
										@QT_ESTOQUE_DISPONIVEL,
										@QT_ESTOQUE_EMPENHADO,
										@QT_ESTOQUE_TRANSICAO,
										@QT_ESTOQUE_MANUTENCAO,
										@QT_VIGILANCIA_SANITARIA,
										@QT_ESTOQUE_DESTRUICAO,
										@QT_UTILIZADA_KIT,
										@VL_REPOSICAO,
										@VL_CUSTO_MEDIO,
										@NM_PEDIDO,
										'',
										GETDATE(),
										@CD_USUARIO,
										GETDATE(),
										@CD_USUARIO)
								END
					
							
								
						
							FETCH NEXT FROM @Cursor_Itens
							INTO @CD_MATERIAL, @QT_UTILIZADA_KIT
							
						END
			
				END
				
			END
		
		-- *****************************************************		
		-- CANCELAMENTO DE PEDIDO QUE JA ESTA NA FASE DE SEPARAÇÃO 
		-- OU SEJA, NESSE CASO VAMOS ADICIONAR DIRETAMENTE NO DISPONIVEL
		-- *****************************************************
		IF (@ID_TIPO_EMPENHO = 3) 
																																																																																																																																																																																																																										BEGIN
			
			IF @ID_AGRUPAMENTO IN (1,3) 
				--PRODUTO REGULAR OU AGRUPADOR
				BEGIN
				
					-- *****************************************************		
					-- BUSCA MATERIAL DO PRODUTO
					-- *****************************************************
					IF @CD_MATERIAL_VENDA = 0
						BEGIN
							SELECT @CD_MATERIAL = CD_MATERIAL
							FROM TB_PRODUTO_VENDA
							WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
						END 
					ELSE
						BEGIN
							SELECT @CD_MATERIAL = @CD_MATERIAL_VENDA
						END
					
				
					-- *****************************************************
					-- BUSCA CUSTO MEDIO E VALOR DE REPOSICAO
					-- *****************************************************
					SELECT @VL_REPOSICAO = 0
					SELECT @VL_CUSTO_MEDIO = 0
														
					-- *********************************************************************
					-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
					-- *********************************************************************
					SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
					SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
					SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
					SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
					SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
					SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
				
				
					SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL + @QT_PEDIDA
					-- SELECT @QT_ESTOQUE_EMPENHADO= @QT_ESTOQUE_EMPENHADO - @QT_PEDIDA	
	
	
	
					IF @ID_MOVIMENTA_ESTOQUE = 1
						BEGIN
							-- ATUALIZA A TABELA DE ESTOQUE
							UPDATE	TB_ESTOQUE
							SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
								-- QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
								DT_ATUALIZACAO = GETDATE(),
								CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
							WHERE CD_MATERIAL = @CD_MATERIAL
							AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
							AND CD_ARMAZEM = @CD_ARMAZEM
							
							/*************************************************************************************/
							/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
							/*************************************************************************************/
							INSERT INTO TB_MOV_ESTOQUE (
									DT_MOVIMENTO,
									CD_MATERIAL,
									CD_CENTRO_DISTRIBUICAO,
									CD_ARMAZEM,
									CD_TIPO_MOV_ESTOQUE,
									QT_ESTOQUE_DISPONIVEL,
									QT_ESTOQUE_EMPENHADO,
									QT_ESTOQUE_TRANSICAO,
									QT_ESTOQUE_MANUTENCAO,
									QT_VIGILANCIA_SANITARIA,
									QT_ESTOQUE_DESTRUICAO,
									QT_PRODUTO_MOVIMENTADO,
									VL_REPOSICAO_UNITARIO,
									VL_CUSTO_MEDIO_UNITARIO,
									NM_DOCUMENTO,
									DC_REFERENCIA,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO)
								VALUES (
									GETDATE(),
									@CD_MATERIAL,
									@CD_CENTRO_DISTRIBUICAO,
									@CD_ARMAZEM,
									6, -- ENTRADA POR CANCELAMENTO DE VENDA DIRETA
									@QT_ESTOQUE_DISPONIVEL,
									@QT_ESTOQUE_EMPENHADO,
									@QT_ESTOQUE_TRANSICAO,
									@QT_ESTOQUE_MANUTENCAO,
									@QT_VIGILANCIA_SANITARIA,
									@QT_ESTOQUE_DESTRUICAO,
									@QT_PEDIDA,
									@VL_REPOSICAO,
									@VL_CUSTO_MEDIO,
									@NM_PEDIDO,
									'',
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO)
					
						END
								
								
								
				
				
				END 
			 ELSE
				-- CONJUNTO
				BEGIN
					SET @Cursor_Itens = CURSOR FAST_FORWARD
					FOR
			
						SELECT X.CD_MATERIAL, SUM(X.QT_RESERVADA) FROM
						(SELECT	A.CD_MATERIAL,
								A.QT_RESERVADA
						FROM TB_PEDIDO_ITEM A
						WHERE A.NM_PEDIDO = @NM_PEDIDO
						  AND A.NM_PEDIDO_ITEM_CONJUNTO IN (SELECT NM_PEDIDO_ITEM
															  FROM TB_PEDIDO_ITEM
															  WHERE NM_PEDIDO = @NM_PEDIDO
															  AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
															  AND NM_PEDIDO_ITEM_CONJUNTO = 0)

						UNION ALL

						SELECT B.CD_MATERIAL,
							   B.QT_RESERVADA
						  FROM TB_PEDIDO_ITEM_PROMOCAO B
						 WHERE B.NM_PEDIDO = @NM_PEDIDO
						   AND B.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO in (SELECT NM_PEDIDO_ITEM_PROMOCAO
															  FROM TB_PEDIDO_ITEM_PROMOCAO
															  WHERE NM_PEDIDO = @NM_PEDIDO
															  AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
															  AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
															  -- ALTERADO POR ANDERSON - 31/07/2023 - CHAMADO 3406
															  -- PARA PEDIDOS CANCELADOS COM KIT E PROMOÇÃO DE DESCONTO
															  -- ESTAVA MOVIMENTANDO DUAS VEZES O ESTOQUE DE CADA MATERIAL
															  -- ESTAVA FALTANDO NESSE CONSULTA ESSE FILTRO DE BRINDE
															  AND ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1)) X
						GROUP BY X.CD_MATERIAL

						--SELECT	CD_MATERIAL,
						--		QT_UTILIZADA * @QT_PEDIDA
						--  FROM TB_PRODUTO_VENDA_COMPONENTE
						-- WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA	

					OPEN @Cursor_Itens
					FETCH NEXT FROM @Cursor_Itens
					INTO @CD_MATERIAL, @QT_UTILIZADA_KIT

					WHILE @@FETCH_STATUS = 0
						BEGIN
			
							-- *********************************************************************
							-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
							-- *********************************************************************
							SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
							SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
							SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
							SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
							SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
							SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
						
						
							SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL + @QT_UTILIZADA_KIT
							-- SELECT @QT_ESTOQUE_EMPENHADO= @QT_ESTOQUE_EMPENHADO - @QT_UTILIZADA_KIT	
							
	
							IF @ID_MOVIMENTA_ESTOQUE = 1
								BEGIN
									-- ATUALIZA A TABELA DE ESTOQUE
									UPDATE	TB_ESTOQUE
									SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
										-- QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
										DT_ATUALIZACAO = GETDATE(),
										CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
									WHERE CD_MATERIAL = @CD_MATERIAL
									AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
									AND CD_ARMAZEM = @CD_ARMAZEM
									
									/*************************************************************************************/
									/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
									/*************************************************************************************/
									INSERT INTO TB_MOV_ESTOQUE (
											DT_MOVIMENTO,
											CD_MATERIAL,
											CD_CENTRO_DISTRIBUICAO,
											CD_ARMAZEM,
											CD_TIPO_MOV_ESTOQUE,
											QT_ESTOQUE_DISPONIVEL,
											QT_ESTOQUE_EMPENHADO,
											QT_ESTOQUE_TRANSICAO,
											QT_ESTOQUE_MANUTENCAO,
											QT_VIGILANCIA_SANITARIA,
											QT_ESTOQUE_DESTRUICAO,
											QT_PRODUTO_MOVIMENTADO,
											VL_REPOSICAO_UNITARIO,
											VL_CUSTO_MEDIO_UNITARIO,
											NM_DOCUMENTO,
											DC_REFERENCIA,
											DT_CADASTRO,
											CD_USUARIO_CADASTRO,
											DT_ATUALIZACAO,
											CD_USUARIO_ATUALIZACAO)
										VALUES (
											GETDATE(),
											@CD_MATERIAL,
											@CD_CENTRO_DISTRIBUICAO,
											@CD_ARMAZEM,
											6, -- ENTRADA POR CANCELAMENTO DE VENDA DIRETA
											@QT_ESTOQUE_DISPONIVEL,
											@QT_ESTOQUE_EMPENHADO,
											@QT_ESTOQUE_TRANSICAO,
											@QT_ESTOQUE_MANUTENCAO,
											@QT_VIGILANCIA_SANITARIA,
											@QT_ESTOQUE_DESTRUICAO,
											@QT_UTILIZADA_KIT,
											@VL_REPOSICAO,
											@VL_CUSTO_MEDIO,
											@NM_PEDIDO,
											'',
											GETDATE(),
											@CD_USUARIO,
											GETDATE(),
											@CD_USUARIO)
								END
							
							
									
						
							FETCH NEXT FROM @Cursor_Itens
							INTO @CD_MATERIAL, @QT_UTILIZADA_KIT
													
						END
					
				
				END
				
		END
									
		-- *****************************************************		
		-- EMPENHO EXISTENTE - CANCELAMENTO DE BRINDE DE PEDIDO
		-- *****************************************************
		IF (@ID_TIPO_EMPENHO = 5) 
																																																																																																																																																																																																																										BEGIN
			
			IF @ID_AGRUPAMENTO IN (1,3)
				--PRODUTO REGULAR
				BEGIN
				
					-- *****************************************************		
					-- BUSCA MATERIAL DO PRODUTO
					-- *****************************************************
					IF @CD_MATERIAL_VENDA = 0
						BEGIN
							SELECT @CD_MATERIAL = CD_MATERIAL
							FROM TB_PRODUTO_VENDA
							WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
						END 
					ELSE
						BEGIN
							SELECT @CD_MATERIAL = @CD_MATERIAL_VENDA
						END
					
				
					-- *****************************************************
					-- BUSCA CUSTO MEDIO E VALOR DE REPOSICAO
					-- *****************************************************
					SELECT @VL_REPOSICAO = 0
					SELECT @VL_CUSTO_MEDIO = 0
														
					-- *********************************************************************
					-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
					-- *********************************************************************
					SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
					SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
					SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
					SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
					SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
					SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
				
				
					SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL + @QT_PEDIDA
					SELECT @QT_ESTOQUE_EMPENHADO= @QT_ESTOQUE_EMPENHADO - @QT_PEDIDA	
	
			
					IF @ID_MOVIMENTA_ESTOQUE = 1
						BEGIN
							-- ATUALIZA A TABELA DE ESTOQUE
							UPDATE	TB_ESTOQUE
							SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
								QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
								DT_ATUALIZACAO = GETDATE(),
								CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
							WHERE CD_MATERIAL = @CD_MATERIAL
							AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
							AND CD_ARMAZEM = @CD_ARMAZEM
							
							/*************************************************************************************/
							/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
							/*************************************************************************************/
							INSERT INTO TB_MOV_ESTOQUE (
								DT_MOVIMENTO,
								CD_MATERIAL,
								CD_CENTRO_DISTRIBUICAO,
								CD_ARMAZEM,
								CD_TIPO_MOV_ESTOQUE,
								QT_ESTOQUE_DISPONIVEL,
								QT_ESTOQUE_EMPENHADO,
								QT_ESTOQUE_TRANSICAO,
								QT_ESTOQUE_MANUTENCAO,
								QT_VIGILANCIA_SANITARIA,
								QT_ESTOQUE_DESTRUICAO,
								QT_PRODUTO_MOVIMENTADO,
								VL_REPOSICAO_UNITARIO,
								VL_CUSTO_MEDIO_UNITARIO,
								NM_DOCUMENTO,
								DC_REFERENCIA,
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
							VALUES (
								GETDATE(),
								@CD_MATERIAL,
								@CD_CENTRO_DISTRIBUICAO,
								@CD_ARMAZEM,
								4, -- ENTRADA POR CANCELAMENTO DE EMPENHO
								@QT_ESTOQUE_DISPONIVEL,
								@QT_ESTOQUE_EMPENHADO,
								@QT_ESTOQUE_TRANSICAO,
								@QT_ESTOQUE_MANUTENCAO,
								@QT_VIGILANCIA_SANITARIA,
								@QT_ESTOQUE_DESTRUICAO,
								@QT_PEDIDA,
								@VL_REPOSICAO,
								@VL_CUSTO_MEDIO,
								@NM_PEDIDO,
								'',
								GETDATE(),
								@CD_USUARIO,
								GETDATE(),
								@CD_USUARIO)
								
						
						END
	
					
				
				
				END 
			 ELSE
				-- CONJUNTO
				BEGIN
					SET @Cursor_Itens = CURSOR FAST_FORWARD
					FOR

						SELECT X.CD_MATERIAL, SUM(X.QT_RESERVADA) FROM
						(
						SELECT B.CD_MATERIAL,
							   B.QT_RESERVADA
						  FROM TB_PEDIDO_ITEM_PROMOCAO B
						 WHERE B.NM_PEDIDO = @NM_PEDIDO
						   AND B.NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO in (SELECT NM_PEDIDO_ITEM_PROMOCAO
															  FROM TB_PEDIDO_ITEM_PROMOCAO
															  WHERE NM_PEDIDO = @NM_PEDIDO
															  AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
															  AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
															  -- ALTERADO POR ANDERSON - 31/07/2023 - CHAMADO 3406
															  -- PARA PEDIDOS CANCELADOS COM KIT E PROMOÇÃO DE DESCONTO
															  -- ESTAVA MOVIMENTANDO DUAS VEZES O ESTOQUE DE CADA MATERIAL
															  -- ESTAVA FALTANDO NESSE CONSULTA ESSE FILTRO DE BRINDE
															  AND ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1)) X
						GROUP BY X.CD_MATERIAL
										
					OPEN @Cursor_Itens
					FETCH NEXT FROM @Cursor_Itens
					INTO @CD_MATERIAL, @QT_UTILIZADA_KIT

					WHILE @@FETCH_STATUS = 0
						BEGIN
			
							-- *********************************************************************
							-- VERIFICA SE POSSUI ESTOQUE DISPONIVEL PARA O MATERIAL
							-- *********************************************************************
							SELECT @QT_ESTOQUE_DISPONIVEL = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,1)
							SELECT @QT_ESTOQUE_EMPENHADO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,2)
							SELECT @QT_ESTOQUE_TRANSICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,3)
							SELECT @QT_ESTOQUE_MANUTENCAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,4)
							SELECT @QT_VIGILANCIA_SANITARIA = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,5)
							SELECT @QT_ESTOQUE_DESTRUICAO = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@CD_MATERIAL, @CD_CENTRO_DISTRIBUICAO, @CD_ARMAZEM,6)
						
						
							SELECT @QT_ESTOQUE_DISPONIVEL= @QT_ESTOQUE_DISPONIVEL + @QT_UTILIZADA_KIT
							SELECT @QT_ESTOQUE_EMPENHADO= @QT_ESTOQUE_EMPENHADO - @QT_UTILIZADA_KIT	
			

			
							IF @ID_MOVIMENTA_ESTOQUE = 1
								BEGIN
								
									-- ATUALIZA A TABELA DE ESTOQUE
									UPDATE	TB_ESTOQUE
									SET QT_ESTOQUE_DISPONIVEL = @QT_ESTOQUE_DISPONIVEL,
										QT_ESTOQUE_EMPENHADO = @QT_ESTOQUE_EMPENHADO,
										DT_ATUALIZACAO = GETDATE(),
										CD_USUARIO_ATUALIZACAO = @CD_USUARIO 
									WHERE CD_MATERIAL = @CD_MATERIAL
									AND CD_CENTRO_DISTRIBUICAO = @CD_CENTRO_DISTRIBUICAO
									AND CD_ARMAZEM = @CD_ARMAZEM
									
									/*************************************************************************************/
									/******* INSERE NA TABELA TB_MOV_ESTOQUE *****/
									/*************************************************************************************/
									INSERT INTO TB_MOV_ESTOQUE (
											DT_MOVIMENTO,
											CD_MATERIAL,
											CD_CENTRO_DISTRIBUICAO,
											CD_ARMAZEM,
											CD_TIPO_MOV_ESTOQUE,
											QT_ESTOQUE_DISPONIVEL,
											QT_ESTOQUE_EMPENHADO,
											QT_ESTOQUE_TRANSICAO,
											QT_ESTOQUE_MANUTENCAO,
											QT_VIGILANCIA_SANITARIA,
											QT_ESTOQUE_DESTRUICAO,
											QT_PRODUTO_MOVIMENTADO,
											VL_REPOSICAO_UNITARIO,
											VL_CUSTO_MEDIO_UNITARIO,
											NM_DOCUMENTO,
											DC_REFERENCIA,
											DT_CADASTRO,
											CD_USUARIO_CADASTRO,
											DT_ATUALIZACAO,
											CD_USUARIO_ATUALIZACAO)
										VALUES (
											GETDATE(),
											@CD_MATERIAL,
											@CD_CENTRO_DISTRIBUICAO,
											@CD_ARMAZEM,
											4, -- ENTRADA POR CANCELAMENTO DE EMPENHO
											@QT_ESTOQUE_DISPONIVEL,
											@QT_ESTOQUE_EMPENHADO,
											@QT_ESTOQUE_TRANSICAO,
											@QT_ESTOQUE_MANUTENCAO,
											@QT_VIGILANCIA_SANITARIA,
											@QT_ESTOQUE_DESTRUICAO,
											@QT_UTILIZADA_KIT,
											@VL_REPOSICAO,
											@VL_CUSTO_MEDIO,
											@NM_PEDIDO,
											'',
											GETDATE(),
											@CD_USUARIO,
											GETDATE(),
											@CD_USUARIO)
							
								
								END
									
						
							FETCH NEXT FROM @Cursor_Itens
							INTO @CD_MATERIAL, @QT_UTILIZADA_KIT
													
						END
					
				
				END
		END

		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		COMMIT TRANSACTION
		
		SELECT @VAR_RETORNO = 0
	
	END
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
