SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BAIXA_CONCILIACAO]
  	@NM_TITULO numeric(18, 0),
	@VL_PAGO numeric(18, 2),
	@CD_ENTIDADE_CONCILIACAO numeric(18,0),
	@ID_TIPO_CONCILIACAO int,
	@DC_OBSERVACOES_CONCILIACAO varchar(max),
			
	@CD_USUARIO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS
DECLARE @CD_DIVIDA					NUMERIC(18,0),
		@CD_ACORDO_PAGAMENTO		NUMERIC(18,0),
		@VALOR_SALDO_DIVIDA			NUMERIC(18,2),
		@SITUACAO_PARCELA			INT,
		@SITUACAO_DIVIDA			INT,
		@V_QTD_TITULOS_VENCIDOS		INT,
		@VL_CREDITO_PARCELA			NUMERIC(18,2),
		@VL_CREDITO_ATUALIZADO		NUMERIC(18,2),
		@VL_ORIGINAL_PARCELA_SALDO	NUMERIC(18,2),
		@VL_ORIGINAL_DIVIDA_SALDO	NUMERIC(18,2),
		@VL_ATUALIZADO_PARCELA		NUMERIC(18,2),
		@VL_SALDO_ATUALIZADO		NUMERIC(18,2),
		@CD_FUNCAO					NUMERIC(18,0),
		@CD_PESSOA					NUMERIC(18,0),
		@NM_PEDIDO					NUMERIC(18,0),
		@NM_CICLO_PAGAMENTO			NUMERIC(18,0),
		@CD_EST_COMERCIAL			NUMERIC(18,0),
		@cursor_itens				CURSOR,
		@NM_PEDIDO_ITEM				NUMERIC(18), 
		@ID_GERA_SALDO_FAVOR		INT, 
		@VL_SALDO_FAVOR_GERAR		NUMERIC(18,2),
		@QT_FACTORING				INT,
		@VL_PARAMETRO_8_9                NUMERIC(18,2)
		
BEGIN TRY
	SELECT @QT_LINHAS_AFETADAS = 0


	INSERT INTO TB_PROCESSAMENTO_BAIXA_CONCILIACAO(
			CD_PARCELA,
			VL_PAGO,
			CD_ENTIDADE_CONCILIACAO,
			ID_TIPO_CONCILIACAO,
			DC_OBSERVACOES_CONCILIACAO,
			CD_USUARIO,
			ID_SITUACAO_PROCESSAMENTO)
	VALUES (
			@NM_TITULO,
			@VL_PAGO,
			@CD_ENTIDADE_CONCILIACAO,
			@ID_TIPO_CONCILIACAO,
			@DC_OBSERVACOES_CONCILIACAO,
			@CD_USUARIO,
			1	)

	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
