SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_PRODUTO_VENDA_PRECO_SENIOR]
	@CD_PRODUTO_VENDA_EXTERNO		varchar(80),
	@DC_TIPO						varchar(80),
	@NM_CICLO_INICIAL				numeric(18, 0),
	@NM_CICLO_FINAL					numeric(18, 0),
	@DT_DATA_INICIAL				datetime ,
	@DT_DATA_FINAL					datetime ,
	@VL_PRECO						numeric(18, 2) ,
	@VL_CREDITO						numeric(18, 2) ,
	@ID_TIPO_VIGENCIA				int,
	@VL_PRECO_DE					numeric(18, 2) ,
	@VL_PONTOS						numeric(18, 2),
	@DC_TIPO_FUNCAO					VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

BEGIN TRY
	
	SELECT @QT_LINHAS_AFETADAS = 0
		

	IF @DC_TIPO_FUNCAO = 'I'
		BEGIN
			INSERT INTO TB_WRK_PRODUTO_VENDA_PRECO_SENIOR(
				CD_PRODUTO_VENDA_EXTERNO,
				DC_TIPO,
				NM_CICLO_INICIAL,
				NM_CICLO_FINAL,
				DT_DATA_INICIAL,
				DT_DATA_FINAL,
				VL_PRECO,
				VL_CREDITO,
				ID_TIPO_VIGENCIA,
				VL_PRECO_DE,
				VL_PONTOS)
			VALUES (
				@CD_PRODUTO_VENDA_EXTERNO,
				@DC_TIPO,
				@NM_CICLO_INICIAL,
				@NM_CICLO_FINAL,
				@DT_DATA_INICIAL,
				@DT_DATA_FINAL,
				@VL_PRECO,
				@VL_CREDITO,
				@ID_TIPO_VIGENCIA,
				@VL_PRECO_DE,
				@VL_PONTOS)

				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
	
		END
		
		
		IF @DC_TIPO_FUNCAO = 'E'
			BEGIN

				DELETE FROM TB_WRK_PRODUTO_VENDA_PRECO_SENIOR 

				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			END		
			
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
