SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_LogisticaInserePoliticaEntrega]
	@p_codigoPoliticaEntrega	numeric(18,0) output,
	@p_descPoliticaEntrega		varchar(80),
	@p_codigoTransportadora		numeric(18,0),
	@p_idSituacao				int,
	@p_nmDiasEntrega			int,
	@p_idTipoEntrega			int,
	@p_vlFrete					numeric(18,2),
	@p_idMeioCalculoFrete		int,
	@p_codigoServicoExterno		NUMERIC(18,0),
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),
	@p_vlSeguro                 numeric(18,2),
	@p_modalidade_Frete         int,
	@p_destacaVlFrete           int, 
	@p_id_tipo_Cobertura_Entrega_Politica_Entrega int, 
	
	@p_codigoRetorno			INT OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT
	
AS

BEGIN TRY
	BEGIN TRANSACTION 
		    SELECT @p_qtdeLinhasAfetadas = 0
	    
		IF @p_descAcao = 'I'
			BEGIN

				INSERT INTO TB_POLITICA_ENTREGA (
					DC_POLITICA_ENTREGA,
					CD_TRANSPORTADORA,
					ID_SITUACAO,
					NM_DIAS_ENTREGA,
					ID_TIPO_ENTREGA_POLITICA_ENTREGA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					VL_FRETE,
					ID_MEIO_CALCULO_FRETE,
					CD_SERVICO_EXTERNO,
					VL_SEGURO,
					ID_MODALIDADE_FRETE,
					ID_DESTACAR_VALOR_FRETE,
					ID_TIPO_COBERTURA_ENTREGA_POLITICA_ENTREGA
					
					)
								
						
				VALUES           (
					@p_descPoliticaEntrega,
					@p_codigoTransportadora,
					@p_idSituacao,
					@p_nmDiasEntrega,
					@p_idTipoEntrega,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario,
					@p_vlFrete,
					@p_idMeioCalculoFrete,
					@p_codigoServicoExterno,
					@p_vlSeguro,
				    @p_modalidade_Frete,
					@p_destacaVlFrete,
					@p_id_tipo_Cobertura_Entrega_Politica_Entrega
				)
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoPoliticaEntrega = IDENT_CURRENT('TB_POLITICA_ENTREGA')
				
			END	
			
		
		IF @p_descAcao = 'A'
			BEGIN

				UPDATE TB_POLITICA_ENTREGA
				SET DC_POLITICA_ENTREGA = @p_descPoliticaEntrega,
					CD_TRANSPORTADORA = @p_codigoTransportadora,
					ID_SITUACAO = @p_idSituacao,
					NM_DIAS_ENTREGA = @p_nmDiasEntrega,
					ID_TIPO_ENTREGA_POLITICA_ENTREGA = @p_idTipoEntrega,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					VL_FRETE = @p_vlFrete,
					ID_MEIO_CALCULO_FRETE = @p_idMeioCalculoFrete,
					CD_SERVICO_EXTERNO = @p_codigoServicoExterno,
					VL_SEGURO = @p_vlSeguro,
					ID_MODALIDADE_FRETE = @p_modalidade_Frete,
					ID_DESTACAR_VALOR_FRETE = @p_destacaVlFrete,
					ID_TIPO_COBERTURA_ENTREGA_POLITICA_ENTREGA = @p_id_tipo_Cobertura_Entrega_Politica_Entrega
				where CD_POLITICA_ENTREGA = @p_codigoPoliticaEntrega 

				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
			END	

		COMMIT TRANSACTION
		SELECT @p_codigoRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoRetorno = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
