SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- MESMA PROC QUE A pr_PedidoRetornaUltimoPedidoCaptacao
-- ENTRETANTO COM UMA SAIDA A MAIS DE CD
	

CREATE PROCEDURE [dbo].[pr_PedidoRetornaUltimoPedidoCaptacaoCD]
	@p_codigoPessoa							NUMERIC(18,0),
	@p_numeroPedido							NUMERIC(18,0)	output,
	@p_numeroPedidoTemp						NUMERIC(18,0)	output,
	@p_codigoEstSituacao					int				output,
	@p_idPermiteRecuperar					int				output,
	@p_codigoCodigoCentroDistribuicao		NUMERIC(18,0)	output,
		
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS

DECLARE @v_codigoSituacao				int
DECLARE @v_codigoPessoa					numeric(18,0)
DECLARE	@v_codigoFuncao					int
DECLARE @v_cicloAprovacao				numeric(18,0)
DECLARE @v_cdEstcomercial				int
DECLARE	@CURSOR_HISTORICO				as Cursor


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	select @p_numeroPedido = 0
	select @p_numeroPedidoTemp = 0
	select @p_codigoEstSituacao = 0
	select @p_idPermiteRecuperar = 0
	SELECT @p_codigoCodigoCentroDistribuicao = 0

	If @p_codigoPessoa <= 0
		BEGIN
			RETURN
		END
	-- ****************************************************************
	-- BUSCA O VALOR DO PARÂMETRO QUE INDICA SE PERMITE A RECUPERAÇÃO DO PEDIDO
	-- ****************************************************************
	select @p_idPermiteRecuperar = ISNULL(VL_PARAMETRO,0)
	  FROM TB_VALOR_PARAMETRO
	 WHERE CD_GRUPO_PARAMETRO = 4 AND CD_PARAMETRO = 9	
	 
	-- ****************************************************************
	-- VAMOS BUSCAR INICIALMENTE NOS PEDIDOS TEMPORÁRIOS
	-- ****************************************************************
	SELECT @p_numeroPedidoTemp = ISNULL(MAX(NM_PEDIDO_TEMP),0)
	  FROM TB_WRK_PEDIDO_TEMP
	 WHERE CD_EST_SITUACAO IN (1,100,101) --CAPTAÇÃO, SALVO OU ABANDONADO
	   AND CD_PESSOA = @p_codigoPessoa
	
	--CASO EXISTA O PEDIDO BUSCAMOS A SITUAÇÃO ATUAL
	IF @p_numeroPedidoTemp > 0
		BEGIN
			SELECT @p_codigoEstSituacao = CD_EST_SITUACAO
			  FROM TB_WRK_PEDIDO_TEMP
			 WHERE NM_PEDIDO_TEMP = @p_numeroPedidoTemp
		END
	
	IF @p_numeroPedidoTemp = 0
		BEGIN
			-- ****************************************************************
			-- NÃO ENCONTROU UM PEDIDO TEMPORÁRIO, BUSCA AGORA NOS OFICIAIS
			-- ****************************************************************
			
			SELECT @p_numeroPedido = ISNULL(MAX(NM_PEDIDO),0),
				   @p_codigoCodigoCentroDistribuicao = ISNULL(MAX(CD_CENTRO_DISTRIBUICAO),0)
			  FROM TB_PEDIDO
			 WHERE CD_EST_SITUACAO IN (1,100,101) --CAPTAÇÃO, SALVO OU ABANDONADO
			   AND CD_PESSOA = @p_codigoPessoa
			
			--CASO EXISTA O PEDIDO BUSCAMOS A SITUAÇÃO ATUAL
			IF @p_numeroPedido > 0
				BEGIN
					SELECT @p_codigoEstSituacao = CD_EST_SITUACAO
					  FROM TB_PEDIDO
					 WHERE NM_PEDIDO = @p_numeroPedido
				END
		END
			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
