SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_ApiPessoaInserePessoaTelefone]
	
	@p_codigoPessoa			NUMERIC(18,0),
	@p_idTipoTelefone		INT,
	@p_descNumeroTelefone	VARCHAR(50),
	@p_descRamal			VARCHAR(10),
	@p_descContato			VARCHAR(50),
	@p_idOperadora			INT,
	@p_idUtilizaWhats		INT,
	@p_codigoUsuario		NUMERIC(18,0),
	@p_descAcao				VARCHAR(1),
	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT

AS
DECLARE @v_existeTelefone	int
BEGIN TRY

	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	IF @p_descAcao = 'I'
		BEGIN
			--INSERÇÃO DE UM NOVO TELEFONE
			INSERT INTO TB_PESSOA_TELEFONE
				(CD_PESSOA,
				ID_TIPO_TELEFONE,
				DC_TELEFONE,
				DC_RAMAL,
				DC_CONTATO,
				ID_OPERADORA,
				ID_UTILIZA_WHATSAPP,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO)
			VALUES
				(@p_codigoPessoa,
				@p_idTipoTelefone,
				@p_descNumeroTelefone,
				@p_descRamal,
				@p_descContato,
				@p_idOperadora,
				@p_idUtilizaWhats,
				GETDATE(),
				@p_codigoUsuario,
				GETDATE(),
				@p_codigoUsuario)
		END

	IF @p_descAcao = 'A'
		BEGIN
			SELECT @v_existeTelefone = COUNT(*)
			  FROM TB_PESSOA_TELEFONE
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_TELEFONE = @p_idTipoTelefone

			IF @v_existeTelefone > 0
				BEGIN
					--ATUALIZAÇÃO DE UM TELEFONE EXISTENTE
					UPDATE TB_PESSOA_TELEFONE
					   SET DC_TELEFONE = @p_descNumeroTelefone,
						   DC_RAMAL = @p_descRamal,
						   DC_CONTATO = @p_descContato,
						   ID_OPERADORA = @p_idOperadora,
						   ID_UTILIZA_WHATSAPP = @p_idUtilizaWhats,
						   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
						   DT_ATUALIZACAO = GETDATE()
					 WHERE CD_PESSOA = @p_codigoPessoa
					   AND ID_TIPO_TELEFONE = @p_idTipoTelefone
				END
			ELSE
				BEGIN
					--INSERÇÃO DE UM NOVO TELEFONE
					INSERT INTO TB_PESSOA_TELEFONE
						(CD_PESSOA,
						ID_TIPO_TELEFONE,
						DC_TELEFONE,
						DC_RAMAL,
						DC_CONTATO,
						ID_OPERADORA,
						ID_UTILIZA_WHATSAPP,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES
						(@p_codigoPessoa,
						@p_idTipoTelefone,
						@p_descNumeroTelefone,
						@p_descRamal,
						@p_descContato,
						@p_idOperadora,
						@p_idUtilizaWhats,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario)
				END
		END

	IF @p_descAcao = 'E'
		BEGIN
			--EXCLUSÃO DE UM DOCUMENTO
			DELETE FROM TB_PESSOA_TELEFONE
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_TELEFONE = @p_idTipoTelefone
		END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
