SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaAlteraSituacaoComercialManualmente]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoFuncao					int,
	@p_numeroCiclo					numeric(18,0),
	@p_codigoSituacaoComercial		int,
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output

AS

DECLARE @v_codigoSituacaoComercialDetalhe int

DECLARE @v_vl_parametro  AS 	NUMERIC (18,4),
	@v_codPapelCarreiraBase AS numeric(18,0),
	@v_codPapelDesempBase	AS numeric(18,0)


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	
    BEGIN TRANSACTION
    UPDATE TB_PESSOA_RESUMO 
	SET CD_SITUACAO_COMERCIAL = @p_codigoSituacaoComercial,
	    DT_ATUALIZACAO = GETDATE ()
	WHERE CD_PESSOA = @p_codigoPessoa
	AND CD_FUNCAO = @p_codigoFuncao
    COMMIT TRANSACTION
              
    -- **************************************************
    -- busca a situação detalhe
    -- **************************************************

    Select @v_codigoSituacaoComercialDetalhe = MIN(CD_SITUACAO_COMERCIAL_DETALHE)
    from TB_NIVEL_SITUACAO_COMERCIAL_DETALHE with (nolock)
    where CD_SITUACAO_COMERCIAL = @p_codigoSituacaoComercial

    BEGIN TRANSACTION
    UPDATE TB_HIST_SITUACAO_CONSULTORA
    SET CD_SITUACAO_COMERCIAL = @p_codigoSituacaoComercial,
    CD_SITUACAO_COMERCIAL_DETALHE = @v_codigoSituacaoComercialDetalhe
    WHERE CD_PESSOA = @p_codigoPessoa
    AND NM_CICLO = @p_numeroCiclo
    COMMIT TRANSACTION

    BEGIN TRANSACTION
    UPDATE TB_PESSOA_RESUMO
    SET CD_PESSOA_LIDERANCA = NULL,
        DT_ATUALIZACAO      = GETDATE()
    where CD_PESSOA_LIDERANCA = @p_codigoPessoa
    and CD_FUNCAO             = @p_codigoFuncao     
    COMMIT TRANSACTION 

    BEGIN TRANSACTION
    UPDATE TB_PESSOA_VINCULO_HISTORICO 
    SET CD_PESSOA_LIDERANCA = NULL
    WHERE NM_CICLO          = @p_numeroCiclo 
    AND CD_PESSOA_LIDERANCA = @p_codigoPessoa
    AND CD_FUNCAO           = @p_codigoFuncao
    COMMIT TRANSACTION

    -- LIMPA A CARENCIA CASO A PESSOA TENHA
    BEGIN TRANSACTION
    DELETE TB_MN_PESSOA_CARENCIA WHERE CD_PESSOA = @p_codigoPessoa
    COMMIT TRANSACTION

    -- ***********************************************
    -- EVOLUÇÃO APLICADA POR ALDIR (10/03/2021) 
    -- Quando a pessoa for reativada, verificar se o papel permanece quando foi desativa ou volta ao papel base
    -- ***********************************************
    SELECT @v_vl_parametro = isnull(VL_PARAMETRO,2)
    FROM TB_VALOR_PARAMETRO with (nolock)
    WHERE CD_GRUPO_PARAMETRO = 1
    AND   CD_PARAMETRO       = 14
	
    IF (@v_vl_parametro = 2)
    BEGIN

	-- *******************************************************************
	-- PRECISAMOS COLOCAR O PAPEL BASE QUANDO A PESSOA É DESATIVADA
	-- *******************************************************************
	select @v_codPapelCarreiraBase = CD_PAPEL_CARREIRA 
	  from TB_PAPEL_CARREIRA  with (nolock)
	 where cd_funcao = @p_codigoFuncao and NM_SEQUENCIA = 1
	
	select @v_codPapelDesempBase = CD_PAPEL_DESEMPENHO 
	  from TB_PAPEL_DESEMPENHO  with (nolock)
	 where cd_funcao = @p_codigoFuncao and NM_SEQUENCIA = 1

	BEGIN TRANSACTION
	UPDATE TB_PESSOA_RESUMO
	SET CD_PAPEL_CARREIRA   = @v_codPapelCarreiraBase,
	    CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase,
	    DT_ATUALIZACAO  = GETDATE()
	WHERE CD_FUNCAO = @p_codigoFuncao
	AND CD_PESSOA = @p_codigoPessoa
	COMMIT TRANSACTION

	BEGIN TRANSACTION
	UPDATE TB_PESSOA_PAPEL_HISTORICO
	   SET CD_PAPEL_CARREIRA = @v_codPapelCarreiraBase,
	       CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND NM_CICLO  = @p_numeroCiclo
	   AND CD_FUNCAO = @p_codigoFuncao
	COMMIT TRANSACTION

	BEGIN TRANSACTION
	UPDATE TB_PESSOA_PAPEL_HIST_DATA
	   SET CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND NM_CICLO = @p_numeroCiclo
	   AND CD_FUNCAO = @p_codigoFuncao
	COMMIT TRANSACTION

	-- *************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - DIA 05/02/2020
	-- AO INSERIR NA TB_PESSOA_PAPEL_HIST_DATA VAMOS A CHAMAR A PROC ABAIXO
	-- PARA GRAVAR O HISTORICO POR DATA COMPLETO		
	-- *************************************************************************
	
	EXEC SP_CAD_PESSOA_PAPEL_HISTORICO_COMPLETO
		@p_codigoPessoa,
		@p_codigoFuncao,
		@v_codPapelDesempBase,		--@CD_PAPEL_DESEMPENHO,
		0,							--@CD_PAPEL_CARREIRA
		0,							--@VAR_RETORNO				INT OUTPUT,
		'',							--@DC_ERRO					NVARCHAR(MAX) OUTPUT,
		0							--@QT_LINHAS_AFETADAS	





    END
	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
