SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PromocaoAplicaPromocaoAtividade]
  	@p_nmPedido					NUMERIC(18, 0),
  	@p_cdPromocao				NUMERIC(18, 0), 
  	
	@p_cdRetorno				INT OUTPUT,
	@p_dcErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT
		
AS

DECLARE @v_nmCicloInicial					NUMERIC(18,0),
		@v_nmCicloFinal						NUMERIC(18,0),
		@v_idPeriodoConsideraValorMinimo	INT,
		@v_vlMinimo							NUMERIC(18,4),
		@v_vlMaximo							NUMERIC(18,4),
		@v_cdSituacao						INT,
		@v_cdPessoa							NUMERIC(18,0),
		@v_cdFuncao							INT,
		@v_vlTotalPedidos					NUMERIC(18,2),
		@v_RequisitoAtendido				INT,
		@v_qtCiclos							INT,
		@v_qtCiclosPromocao					INT,
		@v_id_promocao_preliminar			INT,
		@v_vlTotalProdutosPedido			NUMERIC(18,2),
		@Cursor_Beneficios					CURSOR,
		@v_cdRegraComercial					NUMERIC(18,0)

-- VARIAVEIS BENEFICIOS
DECLARE @v_idTipoBeneficio				INT, 
		@v_cdTipoBeneficio				NUMERIC(18,0), 
		@v_idUnidadeBeneficio			INT,
		@v_nmValorBeneficio				NUMERIC(18,2), 
		@v_idOperadorLogicoBeneficio	INT, 
		@v_idFormaPremiacaoPromocao		INT,
		@v_cdPromocaoBeneficio			NUMERIC(18,0),
		@v_cdMaterialBeneficio			NUMERIC(18,0),
		@v_idPermiteInicios				INT,
		@v_idPermiteReinicios			INT,
		@v_nmCicloInicio				NUMERIC(18,0),
		@v_nmCicloReinicio				NUMERIC(18,0),
		@v_nmCicloInicioValidacao		NUMERIC(18,0),
		@v_nmCicloInicialVigenciaPromo	NUMERIC(18,0),
		@v_nmCicloFinalVigenciaPromo	NUMERIC(18,0),
		@v_dtInicialVigenciaPromo		DATE,
		@v_dtFinalVigenciaPromo			DATE

BEGIN TRY

	SELECT @p_qtdeLinhasAfetadas = 0

	-- *****************************************************
	-- limpa as informações das promoções aplicadas
	-- *****************************************************
	DELETE FROM TB_PEDIDO_ITEM_PROMOCAO
	 WHERE nm_pedido = @p_nmPedido
	   AND CD_PROMOCAO = @p_cdPromocao

	-- *****************************************************
	-- BUSCA INFORMAÇÕES DO PEDIDO
	-- *****************************************************
	SELECT @v_cdPessoa = CD_PESSOA,
		   @v_cdFuncao = CD_FUNCAO
	  FROM TB_PEDIDO WITH(NOLOCK)
	 WHERE NM_PEDIDO = @p_nmPedido

	-- BUSCA INFORMAÇÕES DE INÍCIO E REINÍCIO DA PESSOA
	SELECT @v_nmCicloInicio = ISNULL(NM_CICLO_INICIO,NM_CICLO_ATUAL),
		   @v_nmCicloReinicio = ISNULL(NM_CICLO_REINICIO,0)
	  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
	 WHERE CD_PESSOA = @v_cdPessoa
	   AND CD_FUNCAO = @v_cdFuncao

	IF @v_nmCicloReinicio > 0
		BEGIN
			SELECT @v_nmCicloInicioValidacao = @v_nmCicloReinicio
		END
	ELSE
		BEGIN
			SELECT @v_nmCicloInicioValidacao = @v_nmCicloInicio
		END

	-- ***************************************************************
	-- VAMOS VERIFICAR QUAIS CICLOS A PESSOA TEM QUE ESTAR ATIVA
	-- ***************************************************************
	SELECT	@v_nmCicloInicial= NM_CICLO_INICIAL,
			@v_nmCicloFinal = NM_CICLO_FINAL,
			@v_idPeriodoConsideraValorMinimo = ID_PERIODO_CONSIDERA_VALOR_MINIMO, 
			@v_vlMinimo = VL_MINIMO,
			@v_vlMaximo = ISNULL(VL_MAXIMO,9999999999),
			@v_idPermiteInicios = ISNULL(ID_PERMITE_INICIOS,2),
			@v_idPermiteReinicios = ISNULL(ID_PERMITE_REINICIOS,2)
	  FROM TB_PROMOCAO_REQUISITO_ATIVIDADE WITH(NOLOCK)
	 WHERE CD_PROMOCAO = @p_cdPromocao

	-- ***************************************************************
	-- VERIFICA SE ATINGOU EM RELAÇÃO AOS CICLOS DE ATIVIDADE
	-- ***************************************************************
	SELECT @v_cdSituacao = MAX(CD_SITUACAO_COMERCIAL)
	  FROM TB_HIST_SITUACAO_CONSULTORA WITH(NOLOCK)
	 WHERE CD_PESSOA = @v_cdPessoa
	   AND NM_CICLO >= @v_nmCicloInicial AND NM_CICLO <= @v_nmCicloFinal
	   AND (@v_nmCicloReinicio = 0 OR NM_CICLO >= @v_nmCicloReinicio)

	-- ***************************************************************
	-- VERIFICA SE A PROMOÇÃO É PRELIMINAR
	-- VAMOS APROVEITAR O SELECT PARA PREENCHER AS VARIAVEIS DE CICLO
	-- E DATA DE VIGENCIA DA PROMOÇÃO
	-- ***************************************************************
	SELECT @v_id_promocao_preliminar = ID_PROMOCAO_PRELIMINAR,
    	   @v_nmCicloInicialVigenciaPromo = NM_CICLO_INICIAL,
		   @v_nmCicloFinalVigenciaPromo = NM_CICLO_FINAL,
		   @v_dtInicialVigenciaPromo = DT_INICIAL,
		   @v_dtFinalVigenciaPromo = DT_FINAL
	  FROM TB_PROMOCAO WITH(NOLOCK)
	 WHERE CD_PROMOCAO = @p_cdPromocao

	-- ***************************************************************
	-- CORREÇÃO POR DIEGO ZILIOTI EM 27/04/2022 - BITRIX #3587
	-- TEMOS QUE CHECAR A QUESTÃO DE INÍCIOS E REINÍCIOS E VER SE ESTÃO PERMITIDOS
	-- ***************************************************************
	IF @v_nmCicloInicio = @v_nmCicloFinal -- TRATA-SE DE UM INÍCIO NO CICLO FINAL 
		BEGIN
			IF @v_idPermiteInicios <> 1 -- SE NÃO PERMITE INÍCIOS NEM AVALIA A PROMOÇÃO
				BEGIN
					SELECT @v_cdSituacao = 0, @v_RequisitoAtendido = 0
				END
		END

	IF @v_nmCicloReinicio = @v_nmCicloFinal -- TRATA-SE DE UM REINÍCIO NO CICLO FINAL 
		BEGIN
			IF @v_idPermiteReinicios <> 1 -- SE NÃO PERMITE REINÍCIOS NEM AVALIA A PROMOÇÃO
				BEGIN
					SELECT @v_cdSituacao = 0, @v_RequisitoAtendido = 0
				END
		END

	-- EM RELAÇÃO AOS CICLOS DE ATIVIDADE FOI OK
	-- AGORA VAMOS VERIFICAR EM RELAÇÃO AO VALOR
	IF @v_cdSituacao = 1 
		BEGIN

			-- VALOR POR PERÍODO
			IF @v_idPeriodoConsideraValorMinimo = 2
				BEGIN
					SELECT @v_vlTotalPedidos = SUM(VL_PRODUTOS_TOTAL)	
					FROM TB_PEDIDO WITH(NOLOCK)
					WHERE CD_PESSOA = @v_cdPessoa
					AND ISNULL(NM_CICLO_INDICADOR,NM_CICLO_APROVACAO) >= @v_nmCicloInicial 
					AND ISNULL(NM_CICLO_INDICADOR,NM_CICLO_APROVACAO) <= @v_nmCicloFinal
					--AND NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
					--AND NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, NM_CICLO_CAPTACAO)
					--AND CONVERT(DATE,DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
					--AND CONVERT(DATE,DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,DT_CAPTACAO_PEDIDO))
					AND CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)
					AND ISNULL(NM_CICLO_INDICADOR,NM_CICLO_APROVACAO) >= @v_nmCicloInicioValidacao

					IF @v_vlTotalPedidos >= @v_vlMinimo AND @v_vlTotalPedidos <= @v_vlMaximo
						BEGIN
							SELECT @v_RequisitoAtendido = 1
						END
					ELSE
						BEGIN
							SELECT @v_RequisitoAtendido = 0
						END

				END

			-- VALOR POR CICLO
			IF @v_idPeriodoConsideraValorMinimo = 1
				BEGIN
					
					-- conta a quantidade de ciclos na promoção
					SELECT @v_qtCiclosPromocao = COUNT(*)
					  FROM TB_CICLO WITH(NOLOCK)
					 WHERE NM_CICLO >= @v_nmCicloInicial AND NM_CICLO <= @v_nmCicloFinal
					   AND NM_CICLO >= @v_nmCicloInicioValidacao

					-- VAMOS CHECAR SE A PESSOA É UM INÍCIO OU REINÍCIO NO CICLO FINAL DA PROMOÇÃO
					IF @v_qtCiclosPromocao = 1
						BEGIN
							IF @v_nmCicloInicio = @v_nmCicloFinal
								BEGIN
									-- CHECA SE PERMITE INÍCIOS
									IF @v_idPermiteInicios = 1
										BEGIN
											SELECT @v_qtCiclos = COUNT(X.NM_CICLO)
											FROM 
												-- ***********************************************************************
												-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 11/06/2018
												-- A QUERY QUE ESTÁ COMENTADA ABAIXO POSSUIA UMA FALHA GRAVE NA SUA LÓGICA
												-- NO TIPO DE PROMOÇÃO QUE TEMOS QUE VERIFICAR O VALOR POR CADA CICLO A QUERY NÃO CONSIDERAVA TODOS OS CICLOS DO PERÍODO
												-- SOMENTE OS CICLOS COM PEDIDOS ERAM CONSIDERADOS, ASSIM OS CICLOS SEM PEDIDOS NÃO ENTRAVAM NA QUERY
												-- ISTO FAZIA COM QUE A PROMOÇÃO FOSSE APLICADA INDEVIDAMENTE QUANDO A PESSOA ATINGIA O VALOR MINIMO NOS CICLOS EM QUE FEZ PEDIDO
												-- A NOVA QUERY AGORA OLHA TODOS OS CICLOS INDEPENDENTE SE HOUVERAM PEDIDOS FEITOS NELE OU NÃO
												-- ***********************************************************************
												--(SELECT  NM_CICLO_CAPTACAO, SUM(VL_PRODUTOS_TOTAL) VL_TOTAL
												--FROM TB_PEDIDO
												--WHERE CD_PESSOA = @v_cdPessoa
												--AND NM_CICLO_CAPTACAO >= @v_nmCicloInicial AND NM_CICLO_CAPTACAO <=@v_nmCicloFinal
												--AND CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)
												--GROUP BY NM_CICLO_CAPTACAO
												--HAVING SUM(VL_PRODUTOS_TOTAL) < @v_vlMinimo) X
												(SELECT C.NM_CICLO, 
												ISNULL((SELECT SUM(P.VL_PRODUTOS_TOTAL) FROM TB_PEDIDO P WITH(NOLOCK)
														WHERE ISNULL(P.NM_CICLO_INDICADOR,P.NM_CICLO_APROVACAO) = C.NM_CICLO 
														  AND P.CD_PESSOA = @v_cdPessoa
														--AND P.NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
														--AND P.NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, P.NM_CICLO_CAPTACAO)
														--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
														--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,P.DT_CAPTACAO_PEDIDO))
														AND P.CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)),0) VL_TOTAL
												FROM TB_CICLO C WITH(NOLOCK)
												WHERE C.NM_CICLO >= @v_nmCicloInicial AND C.NM_CICLO <= @v_nmCicloFinal
												AND C.NM_CICLO >= @v_nmCicloInicioValidacao) X
											WHERE X.VL_TOTAL BETWEEN @v_vlMinimo AND @v_vlMaximo

										END
									ELSE
										BEGIN
											SELECT @v_qtCiclos = 0
										END
								END
							
							IF @v_nmCicloReinicio = @v_nmCicloFinal AND @v_nmCicloReinicio > 0
								BEGIN
									-- CHECA SE PERMITE REINÍCIOS
									IF @v_idPermiteReinicios = 1
										BEGIN
											SELECT @v_qtCiclos = COUNT(X.NM_CICLO)
											FROM 
												-- ***********************************************************************
												-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 11/06/2018
												-- A QUERY QUE ESTÁ COMENTADA ABAIXO POSSUIA UMA FALHA GRAVE NA SUA LÓGICA
												-- NO TIPO DE PROMOÇÃO QUE TEMOS QUE VERIFICAR O VALOR POR CADA CICLO A QUERY NÃO CONSIDERAVA TODOS OS CICLOS DO PERÍODO
												-- SOMENTE OS CICLOS COM PEDIDOS ERAM CONSIDERADOS, ASSIM OS CICLOS SEM PEDIDOS NÃO ENTRAVAM NA QUERY
												-- ISTO FAZIA COM QUE A PROMOÇÃO FOSSE APLICADA INDEVIDAMENTE QUANDO A PESSOA ATINGIA O VALOR MINIMO NOS CICLOS EM QUE FEZ PEDIDO
												-- A NOVA QUERY AGORA OLHA TODOS OS CICLOS INDEPENDENTE SE HOUVERAM PEDIDOS FEITOS NELE OU NÃO
												-- ***********************************************************************
												--(SELECT  NM_CICLO_CAPTACAO, SUM(VL_PRODUTOS_TOTAL) VL_TOTAL
												--FROM TB_PEDIDO
												--WHERE CD_PESSOA = @v_cdPessoa
												--AND NM_CICLO_CAPTACAO >= @v_nmCicloInicial AND NM_CICLO_CAPTACAO <=@v_nmCicloFinal
												--AND CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)
												--GROUP BY NM_CICLO_CAPTACAO
												--HAVING SUM(VL_PRODUTOS_TOTAL) < @v_vlMinimo) X
												(SELECT C.NM_CICLO, 
												ISNULL((SELECT SUM(P.VL_PRODUTOS_TOTAL) FROM TB_PEDIDO P WITH(NOLOCK)
														WHERE ISNULL(P.NM_CICLO_INDICADOR,P.NM_CICLO_APROVACAO) = C.NM_CICLO
														  AND P.CD_PESSOA = @v_cdPessoa
														--AND P.NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
														--AND P.NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, P.NM_CICLO_CAPTACAO)
														--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
														--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,P.DT_CAPTACAO_PEDIDO))
														AND P.CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)),0) VL_TOTAL
												FROM TB_CICLO C WITH(NOLOCK)
												WHERE C.NM_CICLO >= @v_nmCicloInicial AND C.NM_CICLO <= @v_nmCicloFinal
												AND C.NM_CICLO >= @v_nmCicloInicioValidacao) X
											WHERE X.VL_TOTAL BETWEEN @v_vlMinimo AND @v_vlMaximo

										END
									ELSE
										BEGIN
											SELECT @v_qtCiclos = 0
										END
								END

							IF @v_nmCicloInicio <> @v_nmCicloFinal AND @v_nmCicloReinicio <> @v_nmCicloFinal
								BEGIN
									SELECT @v_qtCiclos = COUNT(X.NM_CICLO)
									FROM 
										-- ***********************************************************************
										-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 11/06/2018
										-- A QUERY QUE ESTÁ COMENTADA ABAIXO POSSUIA UMA FALHA GRAVE NA SUA LÓGICA
										-- NO TIPO DE PROMOÇÃO QUE TEMOS QUE VERIFICAR O VALOR POR CADA CICLO A QUERY NÃO CONSIDERAVA TODOS OS CICLOS DO PERÍODO
										-- SOMENTE OS CICLOS COM PEDIDOS ERAM CONSIDERADOS, ASSIM OS CICLOS SEM PEDIDOS NÃO ENTRAVAM NA QUERY
										-- ISTO FAZIA COM QUE A PROMOÇÃO FOSSE APLICADA INDEVIDAMENTE QUANDO A PESSOA ATINGIA O VALOR MINIMO NOS CICLOS EM QUE FEZ PEDIDO
										-- A NOVA QUERY AGORA OLHA TODOS OS CICLOS INDEPENDENTE SE HOUVERAM PEDIDOS FEITOS NELE OU NÃO
										-- ***********************************************************************
										(SELECT C.NM_CICLO, 
										ISNULL((SELECT SUM(P.VL_PRODUTOS_TOTAL) FROM TB_PEDIDO P WITH(NOLOCK)
													WHERE ISNULL(P.NM_CICLO_INDICADOR,P.NM_CICLO_APROVACAO) = C.NM_CICLO
													  AND P.CD_PESSOA = @v_cdPessoa
													--AND P.NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
													--AND P.NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, P.NM_CICLO_CAPTACAO)
													--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
													--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,P.DT_CAPTACAO_PEDIDO))
													AND P.CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)),0) VL_TOTAL
										FROM TB_CICLO C WITH(NOLOCK)
										WHERE C.NM_CICLO >= @v_nmCicloInicial AND C.NM_CICLO <= @v_nmCicloFinal
										AND C.NM_CICLO >= @v_nmCicloInicioValidacao) X
									WHERE X.VL_TOTAL BETWEEN @v_vlMinimo AND @v_vlMaximo
								END
						END
					ELSE
						BEGIN
							SELECT @v_qtCiclos = COUNT(X.NM_CICLO)
							FROM 
								-- ***********************************************************************
								-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 11/06/2018
								-- A QUERY QUE ESTÁ COMENTADA ABAIXO POSSUIA UMA FALHA GRAVE NA SUA LÓGICA
								-- NO TIPO DE PROMOÇÃO QUE TEMOS QUE VERIFICAR O VALOR POR CADA CICLO A QUERY NÃO CONSIDERAVA TODOS OS CICLOS DO PERÍODO
								-- SOMENTE OS CICLOS COM PEDIDOS ERAM CONSIDERADOS, ASSIM OS CICLOS SEM PEDIDOS NÃO ENTRAVAM NA QUERY
								-- ISTO FAZIA COM QUE A PROMOÇÃO FOSSE APLICADA INDEVIDAMENTE QUANDO A PESSOA ATINGIA O VALOR MINIMO NOS CICLOS EM QUE FEZ PEDIDO
								-- A NOVA QUERY AGORA OLHA TODOS OS CICLOS INDEPENDENTE SE HOUVERAM PEDIDOS FEITOS NELE OU NÃO
								-- ***********************************************************************
								(SELECT C.NM_CICLO, 
								ISNULL((SELECT SUM(P.VL_PRODUTOS_TOTAL) FROM TB_PEDIDO P WITH(NOLOCK)
										WHERE ISNULL(P.NM_CICLO_INDICADOR,P.NM_CICLO_APROVACAO) = C.NM_CICLO
										  AND P.CD_PESSOA = @v_cdPessoa
										--AND P.NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
										--AND P.NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, P.NM_CICLO_CAPTACAO)
										--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
										--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,P.DT_CAPTACAO_PEDIDO))
										AND P.CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)),0) VL_TOTAL
								FROM TB_CICLO C WITH(NOLOCK)
								WHERE C.NM_CICLO >= @v_nmCicloInicial AND C.NM_CICLO <= @v_nmCicloFinal
								AND C.NM_CICLO >= @v_nmCicloInicioValidacao) X
							WHERE X.VL_TOTAL BETWEEN @v_vlMinimo AND @v_vlMaximo

						END

					IF @v_qtCiclos = @v_qtCiclosPromocao
						BEGIN
							SELECT @v_RequisitoAtendido = 1
						END
					ELSE
						BEGIN
							SELECT @v_RequisitoAtendido = 0
						END

				END

			-- PONTUAÇÃO POR PERÍODO
			IF @v_idPeriodoConsideraValorMinimo = 4
				BEGIN
					SELECT @v_vlTotalPedidos = SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS_TOTAL))
					FROM TB_PEDIDO WITH(NOLOCK)
					WHERE CD_PESSOA = @v_cdPessoa
					AND ISNULL(NM_CICLO_INDICADOR,NM_CICLO_APROVACAO) >= @v_nmCicloInicial 
					AND ISNULL(NM_CICLO_INDICADOR,NM_CICLO_APROVACAO) <= @v_nmCicloFinal
					--AND NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
					--AND NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, NM_CICLO_CAPTACAO)
					--AND CONVERT(DATE,DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
					--AND CONVERT(DATE,DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,DT_CAPTACAO_PEDIDO))
					AND CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)
					AND ISNULL(NM_CICLO_INDICADOR,NM_CICLO_APROVACAO) >= @v_nmCicloInicioValidacao

					IF @v_vlTotalPedidos >= @v_vlMinimo AND @v_vlTotalPedidos <= @v_vlMaximo
						BEGIN
							SELECT @v_RequisitoAtendido = 1
						END
					ELSE
						BEGIN
							SELECT @v_RequisitoAtendido = 0
						END

				END

			-- PONTUAÇÃO POR CICLO
			IF @v_idPeriodoConsideraValorMinimo = 3
				BEGIN
					
					-- conta a quantidade de ciclos na promoção
					SELECT @v_qtCiclosPromocao = COUNT(*)
					  FROM TB_CICLO WITH(NOLOCK)
					 WHERE NM_CICLO >= @v_nmCicloInicial AND NM_CICLO <= @v_nmCicloFinal
					   AND NM_CICLO >= @v_nmCicloInicioValidacao

					-- VAMOS CHECAR SE A PESSOA É UM INÍCIO OU REINÍCIO NO CICLO FINAL DA PROMOÇÃO
					IF @v_qtCiclosPromocao = 1
						BEGIN
							IF @v_nmCicloInicio = @v_nmCicloFinal
								BEGIN
									-- CHECA SE PERMITE INÍCIOS
									IF @v_idPermiteInicios = 1
										BEGIN
											SELECT @v_qtCiclos = COUNT(X.NM_CICLO)
											FROM 
												-- ***********************************************************************
												-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 11/06/2018
												-- A QUERY QUE ESTÁ COMENTADA ABAIXO POSSUIA UMA FALHA GRAVE NA SUA LÓGICA
												-- NO TIPO DE PROMOÇÃO QUE TEMOS QUE VERIFICAR O VALOR POR CADA CICLO A QUERY NÃO CONSIDERAVA TODOS OS CICLOS DO PERÍODO
												-- SOMENTE OS CICLOS COM PEDIDOS ERAM CONSIDERADOS, ASSIM OS CICLOS SEM PEDIDOS NÃO ENTRAVAM NA QUERY
												-- ISTO FAZIA COM QUE A PROMOÇÃO FOSSE APLICADA INDEVIDAMENTE QUANDO A PESSOA ATINGIA O VALOR MINIMO NOS CICLOS EM QUE FEZ PEDIDO
												-- A NOVA QUERY AGORA OLHA TODOS OS CICLOS INDEPENDENTE SE HOUVERAM PEDIDOS FEITOS NELE OU NÃO
												-- ***********************************************************************
												(SELECT C.NM_CICLO, 
												ISNULL((SELECT SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS_TOTAL)) FROM TB_PEDIDO P WITH(NOLOCK)
														WHERE ISNULL(P.NM_CICLO_INDICADOR,P.NM_CICLO_APROVACAO) = C.NM_CICLO
														  AND P.CD_PESSOA = @v_cdPessoa
														--AND P.NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
														--AND P.NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, P.NM_CICLO_CAPTACAO)
														--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
														--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,P.DT_CAPTACAO_PEDIDO))
														AND P.CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)),0) VL_TOTAL
												FROM TB_CICLO C WITH(NOLOCK)
												WHERE C.NM_CICLO >= @v_nmCicloInicial AND C.NM_CICLO <= @v_nmCicloFinal
												AND C.NM_CICLO >= @v_nmCicloInicioValidacao) X
											WHERE X.VL_TOTAL BETWEEN @v_vlMinimo AND @v_vlMaximo

										END
									ELSE
										BEGIN
											SELECT @v_qtCiclos = 0
										END
								END

							IF @v_nmCicloReinicio = @v_nmCicloFinal AND @v_nmCicloReinicio > 0
								BEGIN
									-- CHECA SE PERMITE INÍCIOS
									IF @v_idPermiteReinicios = 1
										BEGIN
											SELECT @v_qtCiclos = COUNT(X.NM_CICLO)
											FROM 
												-- ***********************************************************************
												-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 11/06/2018
												-- A QUERY QUE ESTÁ COMENTADA ABAIXO POSSUIA UMA FALHA GRAVE NA SUA LÓGICA
												-- NO TIPO DE PROMOÇÃO QUE TEMOS QUE VERIFICAR O VALOR POR CADA CICLO A QUERY NÃO CONSIDERAVA TODOS OS CICLOS DO PERÍODO
												-- SOMENTE OS CICLOS COM PEDIDOS ERAM CONSIDERADOS, ASSIM OS CICLOS SEM PEDIDOS NÃO ENTRAVAM NA QUERY
												-- ISTO FAZIA COM QUE A PROMOÇÃO FOSSE APLICADA INDEVIDAMENTE QUANDO A PESSOA ATINGIA O VALOR MINIMO NOS CICLOS EM QUE FEZ PEDIDO
												-- A NOVA QUERY AGORA OLHA TODOS OS CICLOS INDEPENDENTE SE HOUVERAM PEDIDOS FEITOS NELE OU NÃO
												-- ***********************************************************************
												(SELECT C.NM_CICLO, 
												ISNULL((SELECT SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS_TOTAL)) FROM TB_PEDIDO P WITH(NOLOCK)
														WHERE ISNULL(P.NM_CICLO_INDICADOR,P.NM_CICLO_APROVACAO) = C.NM_CICLO	AND P.CD_PESSOA = @v_cdPessoa
														--AND P.NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
														--AND P.NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, P.NM_CICLO_CAPTACAO)
														--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
														--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,P.DT_CAPTACAO_PEDIDO))
														AND P.CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)),0) VL_TOTAL
												FROM TB_CICLO C WITH(NOLOCK)
												WHERE C.NM_CICLO >= @v_nmCicloInicial AND C.NM_CICLO <= @v_nmCicloFinal
												AND C.NM_CICLO >= @v_nmCicloInicioValidacao) X
											WHERE X.VL_TOTAL BETWEEN @v_vlMinimo AND @v_vlMaximo

										END
									ELSE
										BEGIN
											SELECT @v_qtCiclos = 0
										END
								END

							IF @v_nmCicloInicio <> @v_nmCicloFinal AND @v_nmCicloReinicio <> @v_nmCicloFinal
								BEGIN
									SELECT @v_qtCiclos = COUNT(X.NM_CICLO)
									FROM 
										-- ***********************************************************************
										-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 11/06/2018
										-- A QUERY QUE ESTÁ COMENTADA ABAIXO POSSUIA UMA FALHA GRAVE NA SUA LÓGICA
										-- NO TIPO DE PROMOÇÃO QUE TEMOS QUE VERIFICAR O VALOR POR CADA CICLO A QUERY NÃO CONSIDERAVA TODOS OS CICLOS DO PERÍODO
										-- SOMENTE OS CICLOS COM PEDIDOS ERAM CONSIDERADOS, ASSIM OS CICLOS SEM PEDIDOS NÃO ENTRAVAM NA QUERY
										-- ISTO FAZIA COM QUE A PROMOÇÃO FOSSE APLICADA INDEVIDAMENTE QUANDO A PESSOA ATINGIA O VALOR MINIMO NOS CICLOS EM QUE FEZ PEDIDO
										-- A NOVA QUERY AGORA OLHA TODOS OS CICLOS INDEPENDENTE SE HOUVERAM PEDIDOS FEITOS NELE OU NÃO
										-- ***********************************************************************
										(SELECT C.NM_CICLO, 
										ISNULL((SELECT SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS_TOTAL)) FROM TB_PEDIDO P WITH(NOLOCK)
												WHERE ISNULL(P.NM_CICLO_INDICADOR,P.NM_CICLO_APROVACAO) = C.NM_CICLO
												  AND P.CD_PESSOA = @v_cdPessoa
												--AND P.NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
												--AND P.NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, P.NM_CICLO_CAPTACAO)
												--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
												--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,P.DT_CAPTACAO_PEDIDO))
												AND P.CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)),0) VL_TOTAL
										FROM TB_CICLO C WITH(NOLOCK)
										WHERE C.NM_CICLO >= @v_nmCicloInicial AND C.NM_CICLO <= @v_nmCicloFinal
										AND C.NM_CICLO >= @v_nmCicloInicioValidacao) X
									WHERE X.VL_TOTAL BETWEEN @v_vlMinimo AND @v_vlMaximo
								END
						END
					ELSE
						BEGIN
							SELECT @v_qtCiclos = COUNT(X.NM_CICLO)
							FROM 
								-- ***********************************************************************
								-- CORREÇÃO APLICADA POR DIEGO ZILIOTI EM 11/06/2018
								-- A QUERY QUE ESTÁ COMENTADA ABAIXO POSSUIA UMA FALHA GRAVE NA SUA LÓGICA
								-- NO TIPO DE PROMOÇÃO QUE TEMOS QUE VERIFICAR O VALOR POR CADA CICLO A QUERY NÃO CONSIDERAVA TODOS OS CICLOS DO PERÍODO
								-- SOMENTE OS CICLOS COM PEDIDOS ERAM CONSIDERADOS, ASSIM OS CICLOS SEM PEDIDOS NÃO ENTRAVAM NA QUERY
								-- ISTO FAZIA COM QUE A PROMOÇÃO FOSSE APLICADA INDEVIDAMENTE QUANDO A PESSOA ATINGIA O VALOR MINIMO NOS CICLOS EM QUE FEZ PEDIDO
								-- A NOVA QUERY AGORA OLHA TODOS OS CICLOS INDEPENDENTE SE HOUVERAM PEDIDOS FEITOS NELE OU NÃO
								-- ***********************************************************************
								(SELECT C.NM_CICLO, 
								ISNULL((SELECT SUM(ISNULL(VL_PONTOS_LIQUIDO,VL_PONTOS_TOTAL)) FROM TB_PEDIDO P WITH(NOLOCK)
										WHERE ISNULL(P.NM_CICLO_INDICADOR,P.NM_CICLO_APROVACAO) = C.NM_CICLO
										  AND P.CD_PESSOA = @v_cdPessoa
										--AND P.NM_CICLO_CAPTACAO >= @v_nmCicloInicialVigenciaPromo
										--AND P.NM_CICLO_CAPTACAO <= ISNULL(@v_nmCicloFinalVigenciaPromo, P.NM_CICLO_CAPTACAO)
										--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) >= @v_dtInicialVigenciaPromo 
										--AND CONVERT(DATE,P.DT_CAPTACAO_PEDIDO) <= ISNULL(@v_dtFinalVigenciaPromo,CONVERT(DATE,P.DT_CAPTACAO_PEDIDO))
										AND P.CD_EST_SITUACAO NOT IN (1, 4, 3, 99, 100, 101)),0) VL_TOTAL
								FROM TB_CICLO C WITH(NOLOCK)
								WHERE C.NM_CICLO >= @v_nmCicloInicial AND C.NM_CICLO <= @v_nmCicloFinal
								AND C.NM_CICLO >= @v_nmCicloInicioValidacao) X
							WHERE X.VL_TOTAL BETWEEN @v_vlMinimo AND @v_vlMaximo

						END

					IF @v_qtCiclos = @v_qtCiclosPromocao
						BEGIN
							SELECT @v_RequisitoAtendido = 1
						END
					ELSE
						BEGIN
							SELECT @v_RequisitoAtendido = 0
						END

				END
		END

	
	-- *****************************************************
	-- SE ATINGIU OS REQUISITOS VAMOS VERIFICAR OS BENFICIOS
	-- *****************************************************

	IF (@v_RequisitoAtendido > 0) 
			
		BEGIN
			
			-- *******************************************************************************
			-- SE FOR UMA PROMOÇÃO PRELIMINAR NÃO VAMOS INSERIR NA TB_PEDIDO_ITEM_PROMOCAO
			-- MAS SIM NA TB_PEDIDO_PROMOCAO_PRELIMINAR
			-- *******************************************************************************
			IF @v_id_promocao_preliminar = 1 
				BEGIN
					EXEC dbo.pr_PromocaoAplicaPromocaoInserePreliminar
							@p_nmPedido,
							@p_cdPromocao,
						
							@p_cdRetorno OUTPUT,
							@p_dcErro OUTPUT,
							@p_qtdeLinhasAfetadas OUTPUT
										
					IF @p_cdRetorno <> 0
						BEGIN
							RETURN
						END

				END
			ELSE
				BEGIN
					SET @Cursor_Beneficios = CURSOR FAST_FORWARD
					FOR

						SELECT	CD_PROMOCAO_BENEFICIO,
								ID_TIPO_BENEFICIO,
								CD_TIPO_BENEFICIO,
								ID_UNIDADE_BENEFICIO,
								NM_VALOR_BENEFICIO,
								ID_OPERADOR_LOGICO,
								ID_FORMA_PREMIACAO_PROMOCAO,
								CD_MATERIAL_BENEFICIO
						FROM TB_PROMOCAO_BENEFICIO WITH(NOLOCK)
						WHERE CD_PROMOCAO = @p_cdPromocao
						ORDER BY CD_PROMOCAO_BENEFICIO ASC
						
						OPEN @Cursor_Beneficios
						FETCH NEXT FROM @Cursor_Beneficios
						INTO @v_cdPromocaoBeneficio, @v_idTipoBeneficio, @v_cdTipoBeneficio, @v_idUnidadeBeneficio, @v_nmValorBeneficio, @v_idOperadorLogicoBeneficio, @v_idFormaPremiacaoPromocao, @v_cdMaterialBeneficio

						WHILE @@FETCH_STATUS = 0
							BEGIN
								
								IF @v_idFormaPremiacaoPromocao = 1 --BRINDE
									
									BEGIN
									
										EXEC dbo.pr_PromocaoAplicaPromocaoBrinde
												@p_nmPedido,
												@p_cdPromocao,
												@v_cdPromocaoBeneficio,
												@v_idTipoBeneficio,
												@v_cdTipoBeneficio,
												@v_idUnidadeBeneficio,
												@v_cdMaterialBeneficio,
												@v_nmValorBeneficio,
												1,
												0,
												@p_cdRetorno OUTPUT,
												@p_dcErro OUTPUT,
												@p_qtdeLinhasAfetadas OUTPUT
										
										if @p_cdRetorno <> 0
											begin
												RETURN
											end
										
									END
								
								
								IF @v_idFormaPremiacaoPromocao = 2 OR @v_idFormaPremiacaoPromocao = 3 OR @v_idFormaPremiacaoPromocao = 4 -- DESCONTO
									
									BEGIN
										
										EXEC dbo.pr_PromocaoAplicaPromocaoDesconto
												@p_nmPedido,
												@p_cdPromocao,
												@v_idTipoBeneficio,
												@v_cdTipoBeneficio,
												@v_idFormaPremiacaoPromocao,
												@v_nmValorBeneficio,
												@v_cdMaterialBeneficio,
												1,
												@v_cdRegraComercial,
												@v_cdPromocaoBeneficio,
												0,
												@p_cdRetorno OUTPUT,
												@p_dcErro OUTPUT,
												@p_qtdeLinhasAfetadas OUTPUT	
										
										if @p_cdRetorno <> 0
											begin
												RETURN
											end
													
									END --FECHA IF DA FORMA DE PREMIAÇÃO
									
															
								FETCH NEXT FROM @Cursor_Beneficios
 								INTO @v_cdPromocaoBeneficio, @v_idTipoBeneficio, @v_cdTipoBeneficio, @v_idUnidadeBeneficio, @v_nmValorBeneficio, @v_idOperadorLogicoBeneficio, @v_idFormaPremiacaoPromocao, @v_cdMaterialBeneficio
														
							END -- fecha o while do cursor de requisitos
			

				END
						
				
			END -- fecha o if

	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = 1
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_dcErro, @p_cdRetorno, 1)
END CATCH;
GO
