SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNBuscaComposicaoRemuneracaoPorOrigem2]
	@p_cdPessoa				NUMERIC(18,0),
	@p_nmCiclo				NUMERIC(18,0), 
	@p_cdFuncao				NUMERIC(18,0), 
	@p_numeroPedido			NUMERIC(18,0),
	@p_cdTipo				int,
	@p_cdPessoaLogin		numeric(18,0)

	
AS
  BEGIN 		        
	DECLARE @v_codigoCliente				INT

			SELECT @v_codigoCliente = 0

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	SELECT @v_codigoCliente = VL_PARAMETRO 
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO         = 1
	   AND CD_VALOR_PARAMETRO   = 1

	-- kenko patto
	IF @v_codigoCliente = 55
		BEGIN
		SELECT DISTINCT (SELECT CD_PESSOA FROM TB_PEDIDO WHERE NM_PEDIDO = A.NM_ORIGEM_MN) [Código Pessoa],  
   			   dbo.FN_BUSCA_NOME_PESSOA((SELECT CD_PESSOA FROM TB_PEDIDO WHERE NM_PEDIDO = A.NM_ORIGEM_MN)) [Nome Pessoa], 
			   dbo.FN_BUSCA_FUNCAO(A.CD_FUNCAO) [Função],
			   (SELECT DC_PAPEL_CARREIRA FROM TB_PAPEL_CARREIRA TCA, TB_PESSOA_RESUMO P WHERE TCA.CD_PAPEL_CARREIRA = P.CD_PAPEL_CARREIRA AND P.CD_PESSOA = (SELECT CD_PESSOA FROM TB_PEDIDO WHERE NM_PEDIDO = A.NM_ORIGEM_MN) AND P.CD_FUNCAO = A.CD_FUNCAO) [Papel Carreira],
			   A.NM_ORIGEM_MN [Número do Pedido],
			   --Monta a Coluna de Parcelas
 			   convert(varchar(10),A.NM_CICLO) + ' parc ' +
			   convert(varchar(2),(select count (DISTINCT X.cd_parcela_remuneracao) FROM TB_MN_DETALHE_REMUNERACAO X WHERE X.CD_PESSOA = A.CD_PESSOA AND X.NM_ORIGEM_MN = A.NM_ORIGEM_MN AND X.cd_parcela_remuneracao <= A.cd_parcela_remuneracao)) + '/' +
			   convert(varchar(2),(select count (DISTINCT X.cd_parcela_remuneracao) FROM TB_MN_DETALHE_REMUNERACAO X WHERE X.CD_PESSOA = A.CD_PESSOA AND X.NM_ORIGEM_MN = A.NM_ORIGEM_MN)) [Ciclo],
			   --valores
			   DBO.FN_ConverteMoedaReal(ISNULL(((SELECT SUM(P.VL_TABELA_TOTAL) FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN AND P.ID_GERA_BONUS = 1 AND P.NM_PEDIDO_ITEM_CONJUNTO = 0)),0)) [Valor Catálogo],
			   DBO.FN_ConverteMoedaReal((SELECT SUM(ISNULL(P2.VL_BENEFICIO_CUPOM_DESCONTO,0) + ISNULL(P2.VL_DESCONTO_CUPOM_APLICADO,0) + ISNULL(P2.VL_DESCONTO_PLANO_PAGAMENTO,0)) FROM TB_PEDIDO P2 WHERE P2.NM_PEDIDO = A.NM_ORIGEM_MN))[Descontos],
			   DBO.FN_ConverteMoedaReal(ISNULL(((SELECT SUM(P.VL_COMISSAO_CN) FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN AND P.ID_GERA_BONUS = 1 AND P.NM_PEDIDO_ITEM_CONJUNTO = 0)),0))[Lucratividade],
				--Aqui vai ficar o calculo do imposto e valor liquido

			   dbo.FN_ConverteMoedaReal(ISNULL((SELECT (
				((
				ISNULL((select SUM(P.VL_TABELA_TOTAL) FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN AND P.ID_GERA_BONUS = 1 AND P.NM_PEDIDO_ITEM_CONJUNTO = 0),0) -
			   ((SELECT SUM(ISNULL(P2.VL_BENEFICIO_CUPOM_DESCONTO,0) + ISNULL(P2.VL_DESCONTO_CUPOM_APLICADO,0) + ISNULL(P2.VL_DESCONTO_PLANO_PAGAMENTO,0)) FROM TB_PEDIDO P2 WHERE P2.NM_PEDIDO = A.NM_ORIGEM_MN)) - 
				ISNULL((SELECT SUM(P.VL_COMISSAO_CN)							FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN AND P.ID_GERA_BONUS = 1 AND P.NM_PEDIDO_ITEM_CONJUNTO = 0),0))*(17.5/100))
				)FROM TB_PAPEL_CARREIRA TCA, TB_PESSOA_RESUMO P 
				 WHERE TCA.CD_PAPEL_CARREIRA = P.CD_PAPEL_CARREIRA AND TCA.CD_PAPEL_CARREIRA <= 4 AND P.CD_PESSOA = (SELECT CD_PESSOA FROM TB_PEDIDO WITH (NOLOCK) WHERE NM_PEDIDO = A.NM_ORIGEM_MN) AND P.CD_FUNCAO = A.CD_FUNCAO ),0)) [Impostos],


			   dbo.FN_ConverteMoedaReal(ROUND(( 
			   (ISNULL(((SELECT SUM(P.VL_TABELA_TOTAL) FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN AND P.ID_GERA_BONUS = 1 AND P.NM_PEDIDO_ITEM_CONJUNTO = 0)),0)) -   -- CATALOGO
			   ((SELECT SUM(ISNULL(P2.VL_BENEFICIO_CUPOM_DESCONTO,0) + ISNULL(P2.VL_DESCONTO_CUPOM_APLICADO,0) + ISNULL(P2.VL_DESCONTO_PLANO_PAGAMENTO,0)) 
			    FROM TB_PEDIDO P2 WHERE P2.NM_PEDIDO = A.NM_ORIGEM_MN)) -  -- DESCONTO (EXEMPLO PLANO DE PAGAMENTO)
			   (ISNULL(((SELECT SUM(P.VL_COMISSAO_CN) FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN AND P.ID_GERA_BONUS = 1 AND P.NM_PEDIDO_ITEM_CONJUNTO = 0)),0)) -  -- LUCRATIVIDADE

			   (ISNULL((SELECT(((ISNULL((select SUM(P.VL_TABELA_TOTAL) FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN AND P.ID_GERA_BONUS = 1 AND P.NM_PEDIDO_ITEM_CONJUNTO = 0),0) - 
			    ISNULL((SELECT SUM((P.VL_PRATICADO_TOTAL - P.VL_LIQUIDO_TOTAL)) 
			    FROM TB_PEDIDO_ITEM P 
			    WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN 
			    AND P.ID_GERA_BONUS = 1 
			    AND P.NM_PEDIDO_ITEM_CONJUNTO = 0) +  
				(SELECT P2.VL_DESCONTO_CUPOM_APLICADO FROM TB_PEDIDO P2 WHERE P2.NM_PEDIDO = A.NM_ORIGEM_MN),0) - ISNULL((SELECT SUM(P.VL_COMISSAO_CN) FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO = A.NM_ORIGEM_MN AND P.ID_GERA_BONUS = 1 AND P.NM_PEDIDO_ITEM_CONJUNTO = 0),0))*(17.5/100)))FROM TB_PAPEL_CARREIRA TCA, TB_PESSOA_RESUMO P WHERE TCA.CD_PAPEL_CARREIRA = P.CD_PAPEL_CARREIRA AND P.CD_PESSOA = 
				(SELECT CD_PESSOA FROM TB_PEDIDO WHERE NM_PEDIDO = A.NM_ORIGEM_MN AND CD_PAPEL_CARREIRA > 4) AND P.CD_FUNCAO = A.CD_FUNCAO
			   ),0))
			    
			    )*(0.825) ,2)) [Valor Liquido]



			FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK), 
				TB_MN_REGRA_REMUNERACAO R WITH(NOLOCK)
		  WHERE A.ID_MOTIVO_REMUNERACAO = 1
			AND A.CD_REGRA_PREMIACAO_MN = R.CD_REMUNERACAO
			AND ((@p_cdPessoa > 0 AND A.NM_ORIGEM_MN IN (SELECT NM_PEDIDO FROM TB_PEDIDO WHERE CD_PESSOA = @p_cdPessoa AND CD_EST_SITUACAO <> 3)) OR (@p_cdPessoa = 0))
			AND ((@p_nmCiclo > 0 AND A.NM_CICLO = @p_nmCiclo) OR (@p_nmCiclo = 0))
			AND ((@p_cdFuncao > 0 AND A.CD_FUNCAO = @p_cdFuncao) OR (@p_cdFuncao = 0))
			AND ((@p_numeroPedido > 0 AND A.NM_ORIGEM_MN = @p_numeroPedido) OR (@p_numeroPedido = 0))
			AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
				  TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
				  TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
				  And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))

		END
	--DEMAIS CLIENTES
	ELSE
		BEGIN
			 SELECT A.CD_PESSOA [Cod. Pessoa],  
					dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) [Nome Pessoa], 
					R.DS_REMUNERACAO [Regra Premiação], 
					dbo.FN_BUSCA_DOMINIO('ORIGEM_PREMIACAO_MN', A.ID_ORIGEM_PREMIACAO_MN) [Origem], 
					A.NM_ORIGEM_MN [Nr. Origem], 
					A.NM_NIVEL [Nível], 
					A.VL_ORIGEM_MN [Valor da Origem], 
					A.VL_PERCENTUAL_REM [Percentual / Valor], 
					A.VL_REMUNERACAO [Valor da Remuneração] 
			   FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK), 
					TB_MN_REGRA_REMUNERACAO R WITH(NOLOCK) 
			  WHERE A.ID_MOTIVO_REMUNERACAO = 1 
				AND A.CD_REGRA_PREMIACAO_MN = R.CD_REMUNERACAO 
				AND ((@p_cdPessoa > 0 AND A.CD_PESSOA = @p_cdPessoa) OR (@p_cdPessoa = 0))
				AND ((@p_nmCiclo > 0 AND A.NM_CICLO = @p_nmCiclo) OR (@p_nmCiclo = 0))
				AND ((@p_cdFuncao > 0 AND A.CD_FUNCAO = @p_cdFuncao) OR (@p_cdFuncao = 0))
				AND ((@p_numeroPedido > 0 AND A.NM_ORIGEM_MN = @p_numeroPedido) OR (@p_numeroPedido = 0))
				AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
					  TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
					  TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
					  And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))
				ORDER BY A.NM_NIVEL
		END
END


GO
