SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaPessoasElegiveis]
        @CD_EST_COMERCIAL        NUMERIC(18,0),   -- obrigatorio
        @NM_CICLO                NUMERIC(18,0),   -- obrigatorio
        @CD_FUNCAO               NUMERIC(18,0),   -- obrigatorio
		@CD_PESSOA               NUMERIC(18,0),   -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @ID_SITUACAO_ELEGIVEL    INT,             -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
        @CD_PAPEL_ELEGIVEL       NUMERIC(18,0),   -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
		@CD_PESSOA_LOGIN	VARCHAR(20),
		@CD_ACESSO_MATRIZ	VARCHAR(20)
	
AS
	If @CD_ACESSO_MATRIZ <> '1'
		BEGIN

			SELECT A.CD_PESSOA AS "Pessoa", 
       [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) AS "Nome", 
       case
         when A.ID_SITUACAO_ELEGIVEL = 1  THEN 'PENDENTE APROVAÇÃO'
         when A.ID_SITUACAO_ELEGIVEL = 2  THEN 'APROVADO'
         when A.ID_SITUACAO_ELEGIVEL = 3  THEN 'REJEITADO'
       end AS "Situação Elegível" ,
       [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](C.CD_FUNCAO,C.CD_PAPEL_CARREIRA)  AS "Papel Carreira",
       [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,A.CD_PAPEL)  AS "Papel Elegível",
	   A.CD_PAPEL AS "Cód. Papel Elegivel",
       A.NM_CICLO_INICIO AS "Ciclo Início Elegível",
       A.NM_CICLO_FIM AS "Ciclo Fim Elegível"
		FROM TB_MN_PESSOA_ELEGIVEL A
		JOIN TB_PESSOA_RESUMO B
		ON  A.CD_PESSOA           = B.CD_PESSOA 
		JOIN TB_PESSOA_PAPEL_HISTORICO C
		ON  B.CD_PESSOA           = C.CD_PESSOA 
		AND B.CD_FUNCAO           = C.CD_FUNCAO
		AND C.NM_CICLO            = @NM_CICLO
		WHERE B.CD_EST_COMERCIAL =  @CD_EST_COMERCIAL 
		AND   B.CD_FUNCAO        =  @CD_FUNCAO
		AND   @NM_CICLO BETWEEN A.NM_CICLO_INICIO AND A.NM_CICLO_FIM
		AND ((@CD_PESSOA            > 0 AND B.CD_PESSOA = @CD_PESSOA) OR (@CD_PESSOA = 0))
		AND ((@CD_PAPEL_ELEGIVEL    > 0 AND A.CD_PAPEL = @CD_PAPEL_ELEGIVEL) OR (@CD_PAPEL_ELEGIVEL = 0))
		AND ((@ID_SITUACAO_ELEGIVEL > 0 AND A.ID_SITUACAO_ELEGIVEL = @ID_SITUACAO_ELEGIVEL) OR (@ID_SITUACAO_ELEGIVEL = 0))

				AND A.CD_PESSOA In (Select PR.CD_PESSOA 
							FROM TB_PESSOA_COLABORADOR PC, TB_CENTRO_DISTRIBUICAO CD, TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC, TB_PESSOA_RESUMO PR 
							WHERE PC.CD_PESSOA = @CD_PESSOA_LOGIN
							And PC.CD_EMPRESA = CD.CD_EMPRESA 
							And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO 
							And EC.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL) 
			
			order by [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) 

		END
	ELSE
		BEGIN
			SELECT A.CD_PESSOA AS "Pessoa", 
				   [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) AS "Nome", 
				   case
					 when A.ID_SITUACAO_ELEGIVEL = 1  THEN 'PENDENTE APROVAÇÃO'
					 when A.ID_SITUACAO_ELEGIVEL = 2  THEN 'APROVADO'
					 when A.ID_SITUACAO_ELEGIVEL = 3  THEN 'REJEITADO'
				   end AS "Situação Elegível" ,
				   [dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA](C.CD_FUNCAO,C.CD_PAPEL_CARREIRA)  AS "Papel Carreira",
				   [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,A.CD_PAPEL)  AS "Papel Elegível",
				   A.CD_PAPEL AS "Cód. Papel Elegivel",
				   A.NM_CICLO_INICIO AS "Ciclo Início Elegível",
				   A.NM_CICLO_FIM AS "Ciclo Fim Elegível"
			FROM TB_MN_PESSOA_ELEGIVEL A
			JOIN TB_PESSOA_RESUMO B
			ON  A.CD_PESSOA           = B.CD_PESSOA 
			JOIN TB_PESSOA_PAPEL_HISTORICO C
			ON  B.CD_PESSOA           = C.CD_PESSOA 
			AND B.CD_FUNCAO           = C.CD_FUNCAO
			AND C.NM_CICLO            = @NM_CICLO
			WHERE B.CD_EST_COMERCIAL =  @CD_EST_COMERCIAL 
			AND   B.CD_FUNCAO        =  @CD_FUNCAO
			AND   @NM_CICLO BETWEEN A.NM_CICLO_INICIO AND A.NM_CICLO_FIM
			AND ((@CD_PESSOA            > 0 AND B.CD_PESSOA = @CD_PESSOA) OR (@CD_PESSOA = 0))
			AND ((@CD_PAPEL_ELEGIVEL    > 0 AND A.CD_PAPEL = @CD_PAPEL_ELEGIVEL) OR (@CD_PAPEL_ELEGIVEL = 0))
			AND ((@ID_SITUACAO_ELEGIVEL > 0 AND A.ID_SITUACAO_ELEGIVEL = @ID_SITUACAO_ELEGIVEL) OR (@ID_SITUACAO_ELEGIVEL = 0))
			order by [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) 

		END



	





GO
