SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_PUBLICO_ALVO]
	@DC_PUBLICO_ALVO varchar(80),
	@ID_ENTIDADE int,
	@ID_SITUACAO int,
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_PUBLICO_ALVO NUMERIC(18,0) OUTPUT

AS


BEGIN TRY
	BEGIN TRANSACTION 
	

	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN

				INSERT INTO TB_PUBLICO_ALVO (
					DC_PUBLICO_ALVO,
					ID_ENTIDADE,
					ID_SITUACAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@DC_PUBLICO_ALVO,
					@ID_ENTIDADE,
					@ID_SITUACAO,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_PUBLICO_ALVO = IDENT_CURRENT('TB_PUBLICO_ALVO')
			
				COMMIT TRANSACTION
			END	

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
