SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_CLASSIFICACAO_FISCAL_TRIBUTO_FEDERAL]
	@CD_CLASSIFICACAO_FISCAL			numeric(18, 0),
	@ID_TIPO_NOTA_FISCAL				int,
	@ID_TIPO_TRIBUTO_FEDERAL			int,
	@ID_TIPO_OPERACAO_FISCAL			int,
	@ID_BASE_CALCULO_TRIBUTO_FEDERAL	int,
	@PC_ALIQUOTA						numeric(18, 4),
	@CD_SITUACAO_TRIBUTARIA				numeric(18, 0),
	@ID_FABRICACAO_PROPRIA				int,
	@ID_ORIGEM_MATERIAL					int,
	@ID_DELETA_REGISTROS				int,
	
	@CD_USUARIO NUMERIC(18,0),

	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

BEGIN TRY
	
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	    
	    BEGIN TRANSACTION 
	    
	    -- exclui as linhas
	    if (@ID_DELETA_REGISTROS = 1)
			begin
				delete from TB_CLASSIFICACAO_FISCAL_TRIBUTO_FEDERAL
				where CD_CLASSIFICACAO_FISCAL = @CD_CLASSIFICACAO_FISCAL
			end
	    
	    -- insere as linhas
	    INSERT INTO TB_CLASSIFICACAO_FISCAL_TRIBUTO_FEDERAL (
					CD_CLASSIFICACAO_FISCAL,
					ID_TIPO_NOTA_FISCAL,
					ID_TIPO_TRIBUTO_FEDERAL,
					ID_TIPO_OPERACAO_FISCAL,
					ID_BASE_CALCULO_TRIBUTO_FEDERAL,
					PC_ALIQUOTA,
					CD_SITUACAO_TRIBUTARIA,
					ID_FABRICACAO_PROPRIA,
					ID_ORIGEM_MATERIAL	)
							
						
				VALUES           (
					@CD_CLASSIFICACAO_FISCAL,
					@ID_TIPO_NOTA_FISCAL,
					@ID_TIPO_TRIBUTO_FEDERAL,
					@ID_TIPO_OPERACAO_FISCAL,
					@ID_BASE_CALCULO_TRIBUTO_FEDERAL,
					@PC_ALIQUOTA,
					@CD_SITUACAO_TRIBUTARIA,
					@ID_FABRICACAO_PROPRIA,
					@ID_ORIGEM_MATERIAL	)
		
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				
		COMMIT TRANSACTION

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
