SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GRAVA_PEDIDO_ITEM_EXCLUIDO]
	@NM_PEDIDO numeric(18, 0),
	@CD_PRODUTO_VENDA numeric(18, 0),
	@CD_MATERIAL numeric(18, 0),
	@ID_ORIGEM_ITEM_PEDIDO int,
	@CD_ORIGEM_ITEM_PEDIDO numeric(18, 0),
	@ID_PRODUTO_COBRADO int,
	@ID_TIPO_PRODUTO int,
	@ID_AGRUPAMENTO int,
	@CD_EST_SITUACAO numeric(18, 0),
	@CD_COTA_PRODUTO_ESTRUTURA NUMERIC(18,0),
	@CD_COTA_PRODUTO_PESSOA NUMERIC(18,0),
	@QT_PEDIDA numeric(5, 0),
	@QT_RESERVADA numeric(5, 0),
	@VL_CREDITO_TOTAL numeric(18, 2),
	@VL_TABELA_TOTAL numeric(18, 2),
	@VL_PRATICADO_TOTAL numeric(18, 2),
	@VL_LIQUIDO_TOTAL numeric(18, 2),
	@VL_IMPOSTO_TOTAL numeric(18, 2),
	@VL_COMISSAO_CN numeric(18, 2),
	@VL_PAGAR_TOTAL numeric(18, 2),
	@VL_CUSTO_TOTAL numeric(18, 2),
	@ID_TIPO_FUNCAO varchar(1),
	@NM_PEDIDO_ITEM_CONJUNTO numeric(18, 0),
	@ID_GERA_BONUS				INT,
	@ID_GERA_GRADUACAO			INT,
	@ID_GERA_ATIVACAO			INT,
	@ID_MOTIVO_EXCLUSAO_ITEM	INT,
	@DC_JUSTIFICATIVA			VARCHAR(2000),
		
	@VAR_RETORNO				INT OUTPUT,
	@DC_ERRO					NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS			INT OUTPUT,
	@NM_PEDIDO_ITEM_EXCLUIDO	NUMERIC(18,0) OUTPUT
	
AS


BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0

		if (@ID_TIPO_FUNCAO='I')
			BEGIN
		
					BEGIN TRANSACTION 
		
					-- CRIA REGISTRO
					INSERT INTO TB_PEDIDO_ITEM_EXCLUIDO (
							NM_PEDIDO,
							CD_PRODUTO_VENDA,
							CD_MATERIAL,
							ID_ORIGEM_ITEM_PEDIDO,
							CD_ORIGEM_ITEM_PEDIDO,
							ID_PRODUTO_COBRADO,
							ID_AGRUPAMENTO,
							ID_TIPO_PRODUTO,
							CD_EST_SITUACAO,
							QT_PEDIDA,
							QT_RESERVADA,
							VL_CREDITO_TOTAL,
							VL_TABELA_TOTAL,
							VL_PRATICADO_TOTAL,
							VL_LIQUIDO_TOTAL,
							VL_IMPOSTO_TOTAL,
							VL_COMISSAO_CN,
							VL_PAGAR_TOTAL,
							VL_CUSTO_TOTAL,
							CD_COTA_PRODUTO_ESTRUTURA,
							CD_COTA_PRODUTO_PESSOA,
							NM_PEDIDO_ITEM_CONJUNTO,
							ID_GERA_BONUS,
							ID_GERA_GRADUACAO,
							ID_GERA_ATIVACAO,
							ID_MOTIVO_EXCLUSAO_ITEM,
							DC_JUSTIFICATIVA,
							DT_ATUALIZACAO
							)
							
					VALUES           (
							@NM_PEDIDO,
							@CD_PRODUTO_VENDA,
							@CD_MATERIAL,
							@ID_ORIGEM_ITEM_PEDIDO,
							@CD_ORIGEM_ITEM_PEDIDO,
							@ID_PRODUTO_COBRADO,
							@ID_AGRUPAMENTO,
							@ID_TIPO_PRODUTO,
							@CD_EST_SITUACAO,
							@QT_PEDIDA,
							@QT_RESERVADA,
							@VL_CREDITO_TOTAL,
							@VL_TABELA_TOTAL,
							@VL_PRATICADO_TOTAL,
							@VL_LIQUIDO_TOTAL,
							@VL_IMPOSTO_TOTAL,
							@VL_COMISSAO_CN,
							@VL_PAGAR_TOTAL,
							@VL_CUSTO_TOTAL,
							@CD_COTA_PRODUTO_ESTRUTURA,
							@CD_COTA_PRODUTO_PESSOA,
							@NM_PEDIDO_ITEM_CONJUNTO,
							@ID_GERA_BONUS,
							@ID_GERA_GRADUACAO,
							@ID_GERA_ATIVACAO,
							@ID_MOTIVO_EXCLUSAO_ITEM,
							@DC_JUSTIFICATIVA,
							GETDATE()
							)
						
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					SELECT @NM_PEDIDO_ITEM_EXCLUIDO = IDENT_CURRENT('TB_PEDIDO_ITEM_EXCLUIDO')
					
					COMMIT TRANSACTION
				END 
			
			
			IF (@ID_TIPO_FUNCAO='E')
			
			BEGIN
		
					BEGIN TRANSACTION 
		
					
					DELETE FROM TB_PEDIDO_ITEM_EXCLUIDO
						WHERE NM_PEDIDO = @NM_PEDIDO
						AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
						
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					COMMIT TRANSACTION
				END 	
				
		
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
