SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_PessoaInsereCoTitular]
	@p_codigoPessoaCotitular		NUMERIC(18,0),
	@p_codigoPessoa					NUMERIC(18,0),
	@p_descNome						VARCHAR(80),
	@p_descSobrenome				VARCHAR(80),
	@p_descCPF						VARCHAR(50),
	@p_descRG						VARCHAR(50),
	@p_descEmail					VARCHAR(50),
	@p_descTelefone					VARCHAR(50),
	@p_idSexo						INT,
	@p_dataNascimento				VARCHAR(20),
							
	@p_codigoUsuario				NUMERIC(18,0),
	@p_idTipoFuncao					VARCHAR(1),

	@p_codigoErro					INT OUTPUT,
	@p_descErro						VARCHAR(200) OUTPUT,
	@p_qtdeLinhasAfetadas			INT OUTPUT
	
AS

				
BEGIN TRY

	    SELECT @p_qtdeLinhasAfetadas = 0
	    SELECT @p_codigoErro = 0

		IF (@p_dataNascimento) = ''
			BEGIN
				SELECT @p_dataNascimento = NULL
			END
		ELSE
			BEGIN
				SELECT @p_dataNascimento = convert(datetime, @p_dataNascimento, 103) -- dd/mm/yyyy 
			END

	
		IF @p_idTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
					DELETE FROM TB_PESSOA_COTITULAR
					WHERE CD_PESSOA_COTITULAR = @p_codigoPessoaCotitular
		
				COMMIT TRANSACTION
			END
		
		
		IF @p_idTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				 
					INSERT INTO TB_PESSOA_COTITULAR (
							CD_PESSOA,
							DC_NOME,
							DC_SOBRENOME,
							DC_CPF,
							DC_RG,
							DC_EMAIL,
							DC_TELEFONE,
							ID_SEXO,
							DT_NASCIMENTO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
					VALUES 
						(@p_codigoPessoa,
						@p_descNome,
						@p_descSobrenome,
						@p_descCPF,
						@p_descRG,
						@p_descEmail,
						@p_descTelefone,
						@p_idSexo,
						@p_dataNascimento,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario
						)
			
					SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT

				COMMIT TRANSACTION

			END
		
		IF @p_idTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION

					UPDATE TB_PESSOA_COTITULAR
					   SET	DC_NOME = @p_descNome,
							DC_SOBRENOME = @p_descSobrenome,
							DC_CPF = @p_descCPF,
							DC_RG = @p_descRG,
							DC_EMAIL = @p_descEmail,
							DC_TELEFONE = @p_descTelefone,
							ID_SEXO = @p_idSexo,
							DT_NASCIMENTO = @p_dataNascimento,
							DT_ATUALIZACAO = GETDATE(),
							CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
					 WHERE CD_PESSOA_COTITULAR = @p_codigoPessoaCotitular
					 
				COMMIT TRANSACTION
			END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
