SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CargaCarregaPessoaCF]
  	
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS

DECLARE @Cursor_Itens			CURSOR

DECLARE @v_id					VARCHAR(100)
DECLARE @v_cod					VARCHAR(100)
DECLARE @v_vip					VARCHAR(100)
DECLARE @v_nome					VARCHAR(100)
DECLARE @v_sobrenome				VARCHAR(100)
DECLARE @v_cpf					VARCHAR(100)
DECLARE @v_rg					VARCHAR(100)
DECLARE @v_sexo					VARCHAR(100)
DECLARE @v_telefone				VARCHAR(100)
DECLARE @v_telefone_coml			VARCHAR(100)
DECLARE @v_celular				VARCHAR(100)
DECLARE @v_operadora				int
DECLARE @v_email				VARCHAR(100)
DECLARE @v_senha				VARCHAR(100)
DECLARE @v_nascimento			VARCHAR(100)
DECLARE @v_cep					VARCHAR(100)
DECLARE @v_endereco				VARCHAR(100)
DECLARE @v_numero				VARCHAR(100)
DECLARE @v_complemento			VARCHAR(100)
DECLARE @v_bairro				VARCHAR(100)
DECLARE @v_cidade				VARCHAR(100)
DECLARE @v_estado				VARCHAR(100)
DECLARE @v_pais					VARCHAR(100)
DECLARE @v_referencia			VARCHAR(100)
DECLARE @v_distribuidor			VARCHAR(100)
DECLARE @v_revenda				VARCHAR(100)
DECLARE @v_site					VARCHAR(100)
DECLARE @v_receber				VARCHAR(100)
DECLARE @v_porcento				VARCHAR(100)
DECLARE @v_desconto				VARCHAR(100)
DECLARE @v_status				VARCHAR(100)
DECLARE @v_temkit				VARCHAR(100)
DECLARE @v_contatado			VARCHAR(100)
DECLARE @v_observacao			VARCHAR(100)
DECLARE @v_cadpor				VARCHAR(100)
DECLARE @v_latitude				VARCHAR(100)
DECLARE @v_longitude			VARCHAR(100)
DECLARE @v_enviando				VARCHAR(100)
DECLARE @v_enviandosms			VARCHAR(100)
DECLARE @v_dataatualiza			VARCHAR(100)
DECLARE @v_horaatualiza			VARCHAR(100)
DECLARE @v_funcionario			VARCHAR(100)
DECLARE @v_ip					VARCHAR(100)
DECLARE @v_datahora				VARCHAR(100)
DECLARE @v_data					VARCHAR(100)
DECLARE @v_hora					VARCHAR(100)
DECLARE @v_duplicado			VARCHAR(100)

DECLARE @v_cpf_corrigido		VARCHAR(100)
DECLARE @v_nascimento_corrigido	VARCHAR(20)		

DECLARE @v_ID_TIPO_CONTA_DESTINO_PREMIACAO	INT
DECLARE @v_CD_BANCO_PREMIACAO			numeric(18,0)
DECLARE @v_DC_AGENCIA_PREMIACAO			varchar(40)
DECLARE @v_DC_CONTA_PREMIACAO			varchar(40)
DECLARE @V_PATROCINADOR                         INT 
DECLARE @V_ESTADO_CIVIL                         INT 		
DECLARE @V_escolaridade                         INT 		

DECLARE			@V_CD_EST_GEOGRAFICA1			VARCHAR(100)
DECLARE         @DC_EST_GEOGRAFICA				VARCHAR(100)
DECLARE         @DC_NIVEL_GEO1					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO2					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO3					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO4					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO5					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO6					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO7					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO8					VARCHAR(100)
DECLARE         @DC_NIVEL_GEO9					VARCHAR(100)

DECLARE			@V_CONTADOR_CEP					INT

DECLARE			@v_cd_est_comercial				NUMERIC(18,0)
DECLARE			@cdPessoaFisicaGerada			NUMERIC(18,0)
DECLARE			@v_cd_sexo						INT
DECLARE			@v_senha_cn						VARCHAR(100)
DECLARE			@v_senha_cf						VARCHAR(100)
DECLARE			@v_funcao_cn					INT
DECLARE			@v_funcao_cf					INT
DECLARE			@v_situacao_funcao_cn INT
DECLARE			@v_situacao_funcao_cf INT

DECLARE			@v_receber_email				INT

	
BEGIN 

	SELECT @qtLinhasAfetadas = 0

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 2
	WHERE CD_GRUPO_PARAMETRO = 7
	AND CD_PARAMETRO = 9

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 2
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 3

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 2
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 1
	
	
	-- ***************************************************					
	-- VAMOS ABRIR O CURSOR DA TABELA CLIENTE
	-- DO BANCO havilace_ematrix
	-- ***************************************************
	
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
select  
convert(numeric(18,0),a.integracao) id,
convert(numeric(18,0),a.integracao) id2,
2 vip,  -- CF
ltrim(rtrim(a.nome)) nome,
null sobrenome,
CASE LEN(b.cgc_cpf)
	WHEN '11' THEN SUBSTRING(b.cgc_cpf,1,3) + '.' + SUBSTRING(b.cgc_cpf,4,3) + '.' + SUBSTRING(b.cgc_cpf,7,3) + '-' + SUBSTRING(b.cgc_cpf,10,2)
	WHEN '10' THEN '0' + SUBSTRING(b.cgc_cpf,1,2) + '.' + SUBSTRING(b.cgc_cpf,3,3) + '.' + SUBSTRING(b.cgc_cpf,6,3) + '-' + SUBSTRING(b.cgc_cpf,9,2)  
	WHEN '9' THEN '00' + SUBSTRING(b.cgc_cpf,1,1) + '.' + SUBSTRING(b.cgc_cpf,2,3) + '.' + SUBSTRING(b.cgc_cpf,5,3) + '-' + SUBSTRING(b.cgc_cpf,8,2)  
	WHEN '8' THEN '000.' + SUBSTRING(b.cgc_cpf,1,3) + '.' + SUBSTRING(b.cgc_cpf,4,3) + '-' + SUBSTRING(b.cgc_cpf,7,2)  
	WHEN '7' THEN '000.0' + SUBSTRING(b.cgc_cpf,1,2) + '.' + SUBSTRING(b.cgc_cpf,3,3) + '-' + SUBSTRING(b.cgc_cpf,6,2)  
	WHEN '6' THEN '000.00' + SUBSTRING(b.cgc_cpf,1,1) + '.' + SUBSTRING(b.cgc_cpf,2,3) + '-' + SUBSTRING(b.cgc_cpf,5,2)  
	WHEN '5' THEN '000.000.' + SUBSTRING(b.cgc_cpf,1,3) + '-' + SUBSTRING(b.cgc_cpf,4,2)  
	WHEN '4' THEN '000.000.0' + SUBSTRING(b.cgc_cpf,1,2) + '-' + SUBSTRING(b.cgc_cpf,3,2)  
	WHEN '3' THEN '000.000.00' + SUBSTRING(b.cgc_cpf,1,1) + '-' + SUBSTRING(b.cgc_cpf,2,2)  
	WHEN '2' THEN '000.000.000-' + SUBSTRING(b.cgc_cpf,1,2)
	WHEN '1' THEN '000.000.000-0' + SUBSTRING(b.cgc_cpf,1,1)
	WHEN '0' THEN '000.000.000-00'
END cpf,
 ltrim(rtrim(b.inscricao_rg)) rg,
 e.sexo,
 isnull((select top 1 '(' + ddd + ') ' + telefone from bkp_asos_erotika.DBO.view_telefone v where v.destinatario = a.destinatario and cod_tipo_tel='001'),'')  'RESIDENCIAL',      
 isnull((select top 1 '(' + ddd + ') ' + telefone from bkp_asos_erotika.DBO.view_telefone v where v.destinatario = a.destinatario and cod_tipo_tel='002'),'')  'comercial',      -- criar
 isnull((select top 1 '(' + ddd + ') ' + telefone from bkp_asos_erotika.DBO.view_telefone v where v.destinatario = a.destinatario and cod_tipo_tel='003'),'')  'CELULAR',      
 isnull((select v.operadora from bkp_asos_erotika.DBO.view_telefone v where v.destinatario = a.destinatario and cod_tipo_tel='003'),'')  'operadora',
 ltrim(rtrim(b.email)) 'email',
 a.senha,
 e.data_nascimento,
 b.cep ,
 b.endereco,
 b.numero,
 b.complemento,
 b.bairro,
 b.cidade,
 b.estado,
 'BR' pais,
 '' referencia,
 '' distribuidor,
 '' revenda,
 '' site,
 '' receber,
 '' porcento,
 '' desconto,
 '' status,    --situacao status,
 '' temkit,
 '' contatado,
 '' observacao,
 '' cadpor,
 '' latitude,
 '' longitude,
 '' enviando,
 '' enviandosms,
 '' dataatualiza,
 '' horaatualiza,
 '' funcionario,
 '' ip,
 '' datahora,
 '' data,
 '' hora,
 '' duplicado,
  null 'tipodeconta',
  null 'banco',
  '' 'agencia',
  '' 'conta',
  a.superior,
  CASE WHEN e.estado_civil = '1' THEN 1
       WHEN e.estado_civil = '2' THEN 2
       WHEN e.estado_civil = '3' THEN 5
       WHEN e.estado_civil = '4' THEN 4
       WHEN e.estado_civil = '5' THEN 3
       WHEN e.estado_civil = '6' THEN 6 ELSE 5
  END 'ESTADO_CIVIL',
  CASE WHEN e.escolaridade = '10' THEN 1
       WHEN e.escolaridade = '20' THEN 2
       WHEN e.escolaridade = '30' THEN 3
       WHEN e.escolaridade = '40' THEN 4
       WHEN e.escolaridade = '50' THEN 5
	   WHEN e.escolaridade = '60' THEN 6
       WHEN e.escolaridade = '70' THEN 7 ELSE 1
  END 'ESCOLARIDADE'
   
 from bkp_asos_erotika.DBO.view_consultor2 a 
 inner join bkp_asos_erotika.DBO.fat_destinatario b on a.destinatario=b.destinatario      
 inner join bkp_asos_erotika.DBO.fat_comercio c on a.destinatario=c.destinatario      
 inner join bkp_asos_erotika.DBO.fat_grupo cc on c.grupo=cc.grupo      
 left join bkp_asos_erotika.DBO.tblgpbtipolog d on b.logradouro=d.chavepat      
 left join bkp_asos_erotika.DBO.fat_destinatario_pfisica e on a.destinatario=e.destinatario      
 left join bkp_asos_erotika.DBO.sys_estadocivil f on e.estado_civil=f.estadocivil      
 left join bkp_asos_erotika.DBO.fat_cartaocredito g on c.cartao_tipo=g.cartao      
 left join bkp_asos_erotika.DBO.sys_comosoube h on b.comosoube=h.comosoube      
 left join bkp_asos_erotika.DBO.fat_banco i on c.banco=i.banco      
 left join bkp_asos_erotika.DBO.rede_qualificacao j on a.classificacao=j.qualificacao      
 where b.fisica_juridica = 'F'
 and convert(numeric(18,0),a.integracao)  in (select ID from PESSOA_Cf) 
 
order by convert(numeric(18,0),a.integracao)
										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@v_id,
			@v_cod,
			@v_vip,
			@v_nome,
			@v_sobrenome,
			@v_cpf,
			@v_rg,
			@v_sexo,
			@v_telefone,
                        @v_telefone_coml,
			@v_celular,
                        @v_operadora,
			@v_email,
			@v_senha,
			@v_nascimento,
			@v_cep,
			@v_endereco,
			@v_numero,
			@v_complemento,
			@v_bairro,
			@v_cidade,
			@v_estado,
			@v_pais,
			@v_referencia,
			@v_distribuidor,
			@v_revenda,
			@v_site,
			@v_receber,
			@v_porcento,
			@v_desconto,
			@v_status,
			@v_temkit,
			@v_contatado,
			@v_observacao,
			@v_cadpor,
			@v_latitude,
			@v_longitude,
			@v_enviando,
			@v_enviandosms,
			@v_dataatualiza,
			@v_horaatualiza,
			@v_funcionario,
			@v_ip,
			@v_datahora,
			@v_data,
			@v_hora,
			@v_duplicado,
			@v_ID_TIPO_CONTA_DESTINO_PREMIACAO,
			@v_CD_BANCO_PREMIACAO,		
			@v_DC_AGENCIA_PREMIACAO,		
			@v_DC_CONTA_PREMIACAO,
			@V_PATROCINADOR,
		        @V_ESTADO_CIVIL,		
                        @V_escolaridade

			WHILE @@FETCH_STATUS = 0
				BEGIN
									
					-- *****************************************************	
					-- LIMPA AS VARIAVEIS
					-- *****************************************************

					SELECT @V_CD_EST_GEOGRAFICA1 = '0'
					SELECT @DC_EST_GEOGRAFICA = ''
					SELECT @DC_NIVEL_GEO1 = ''
					SELECT @DC_NIVEL_GEO2 = ''
					SELECT @DC_NIVEL_GEO3 = ''
					SELECT @DC_NIVEL_GEO4 = ''
					SELECT @DC_NIVEL_GEO5 = ''
					SELECT @DC_NIVEL_GEO6 = ''
					SELECT @DC_NIVEL_GEO7 = ''
					SELECT @DC_NIVEL_GEO8 = ''
					SELECT @DC_NIVEL_GEO9 = ''



					-- *****************************************************	
					-- BUSCA CODIGO DE ESTRUTURA GEOGRAFICA DO CEP
					-- *****************************************************
										
					SELECT	@V_CONTADOR_CEP = COUNT(*)
					FROM TB_EST_GEOGRAFICA
					WHERE CD_CODIGO_POSTAL = @v_cep

					IF @V_CONTADOR_CEP > 0
						BEGIN
							
							SELECT	@V_CD_EST_GEOGRAFICA1 = CD_EST_GEOGRAFICA,
									@DC_EST_GEOGRAFICA = DC_EST_GEOGRAFICA,
									@DC_NIVEL_GEO1 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
									@DC_NIVEL_GEO2 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
									@DC_NIVEL_GEO3 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3),
									@DC_NIVEL_GEO4 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4),
									@DC_NIVEL_GEO5 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5),
									@DC_NIVEL_GEO6 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO6),
									@DC_NIVEL_GEO7 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO7),
									@DC_NIVEL_GEO8 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO8),
									@DC_NIVEL_GEO9 = DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO9)
							FROM TB_EST_GEOGRAFICA
							WHERE CD_CODIGO_POSTAL = @v_cep

						END 

										
					
					-- *****************************************************	
					-- BUSCA CODIGO DE ESTRUTURA COMERCIAL GERADA
					-- *****************************************************
					--select @v_cd_est_comercial = cd_est_comercial
					--from tb_wrk_carga_est_comercial
					--where cd_codigo = @v_distribuidor
                                        select @v_cd_est_comercial = 2


					IF LEN(@v_nascimento) = 10
						BEGIN
							SELECT @v_nascimento_corrigido = @v_nascimento
						END
					ELSE
						BEGIN
							SELECT @v_nascimento_corrigido = ''
						END 
					
					
					-- *****************************************************	
					-- PREPARA INFORMAÇÃO DE SEXO
					-- *****************************************************
					SELECT @v_cd_sexo = 0

					IF @v_sexo = 'M' 
						BEGIN
							SELECT @v_cd_sexo = 2
						END
					
					IF @v_sexo = 'F' 
						BEGIN
							SELECT @v_cd_sexo = 1
						END

					-- *****************************************************	
					-- PREPARA INFORMAÇÃO DE SENHA
					-- *****************************************************
					IF @v_vip = 1
						BEGIN
							SELECT @v_senha_cn = @v_senha
							SELECT @v_senha_cf = ''

							SELECT @v_funcao_cn = 2
							SELECT @v_funcao_cf = 0
							SELECT @v_situacao_funcao_cn = 1
							SELECT @v_situacao_funcao_cf = 0
						END
					ELSE
						BEGIN
							SELECT @v_senha_cn = ''
							SELECT @v_senha_cf = @v_senha

							SELECT @v_funcao_cn = 0
							SELECT @v_funcao_cf = 1

							SELECT @v_situacao_funcao_cn = 0
							SELECT @v_situacao_funcao_cf = 1
						END


					IF @v_receber = 'x'
						BEGIN
							SELECT @v_receber_email= 1
						END
					ELSE
						BEGIN
							SELECT @v_receber_email= 2
						END

					
					
					-- *********************************************************************	
					-- PRIMEIRO - VAMOS INSERIR O CADASTRO DE PESSOA FISICA
					-- *********************************************************************

					SELECT @v_nome = SUBSTRING(@v_nome, 1, 80)
					SELECT @v_sobrenome = SUBSTRING(@v_sobrenome, 1, 80)
					SELECT @v_cpf = SUBSTRING(@v_cpf, 1, 50)
					SELECT @v_telefone = SUBSTRING(@v_telefone, 1, 50)
					SELECT @v_celular = SUBSTRING(@v_celular, 1, 50)
					SELECT @v_email = SUBSTRING(@v_email, 1, 50)
					SELECT @v_cep = SUBSTRING(@v_cep, 1, 20)
					SELECT @v_numero = SUBSTRING(@v_numero, 1, 10)
					SELECT @v_complemento = SUBSTRING(@v_complemento, 1, 60)
					SELECT @v_referencia = SUBSTRING(@v_referencia, 1, 80)

                                        --SELECT @V_PATROCINADOR = isnull(max(cd_pessoa),1)
                                        --FROM TB_WRK_CARGA_PESSOA_FISICA WHERE cd_codigo = @V_PATROCINADOR 

					EXEC pr_PessoaInserePessoaFisica
							@v_id,				--@CD_CODIGO NUMERIC(18,0),
							1,				--@ID_TIPO_PESSOA INT,
							@v_nome,		        --@DC_NOME VARCHAR(100),
							@v_sobrenome,	                --@DC_SOBRENOME VARCHAR(100),
							'',				--@DC_APELIDO VARCHAR(100),
							@v_cd_sexo,		        --@ID_SEXO INT,
							31,				--@ID_NACIONALIDADE INT,
							 @V_ESTADO_CIVIL,		--@ID_ESTADO_CIVIL INT,
							'',				--@DC_CONJUGE VARCHAR(100),
							@V_escolaridade,		--@ID_ESCOLARIDADE INT,
							0,				--@ID_PROFISSAO INT,
							@v_nascimento,			--@DT_NASCIMENTO VARCHAR(20),
							'',				--@DC_NOME_MAE VARCHAR(50),
					
							1,				--@ID_TIPO_DOCUMENTO1 INT,
							@v_cpf,				--@DC_DOCUMENTO1 VARCHAR(100),
							'',				--@DC_ORGAO1 VARCHAR(100),
							'',				--@DT_EMISSAO1 VARCHAR(20),
					
							2,				--@ID_TIPO_DOCUMENTO2 INT,
							@v_rg,				--@DC_DOCUMENTO2 VARCHAR(100),
							'',				--@DC_ORGAO2 VARCHAR(100),
							'',				--@DT_EMISSAO2 VARCHAR(20),
					
							0,				--@ID_TIPO_DOCUMENTO3 INT,
							'',				--@DC_DOCUMENTO3 VARCHAR(100),
							'',				--@DC_ORGAO3 VARCHAR(100),
							'',				--@DT_EMISSAO3 VARCHAR(20),
					
							1,				--@ID_TIPO_TELEFONE1 INT,
							@v_telefone,	                --@DC_TELEFONE1 VARCHAR(100),
							'',				--@DC_RAMAL1 VARCHAR(100),
							'',				--@DC_CONTATO1 VARCHAR(100),
							0,				--@ID_OPERADORA1 INT,
--							0,				--@ID_UTILIZA_WHATSAPP1 INT,
					
							2,				--@ID_TIPO_TELEFONE2 INT,
							@v_telefone_coml,                --@DC_TELEFONE2 VARCHAR(100),
							'',				--@DC_RAMAL2 VARCHAR(100),
							'',				--@DC_CONTATO2 VARCHAR(100),
							0,				--@ID_OPERADORA2 INT,
--							0,				--@ID_UTILIZA_WHATSAPP2 INT,

							3,				--@ID_TIPO_TELEFONE3 INT,
							@v_celular,		        --@DC_TELEFONE3 VARCHAR(100),
							'',				--@DC_RAMAL3 VARCHAR(100),
							'',				--@DC_CONTATO3 VARCHAR(100),
							@v_operadora,			--@ID_OPERADORA3 INT,
--							0,				--@ID_UTILIZA_WHATSAPP3 INT,

							1,				--@ID_TIPO_EMAIL1 INT,
							@v_email,		        --@DC_EMAIL1 VARCHAR(100),

							0,				--@ID_TIPO_EMAIL2 INT,
							'',				--@DC_EMAIL2 VARCHAR(100),
					
							1,				--@ID_TIPO_ENDERECO1 INT,
							@V_CD_EST_GEOGRAFICA1,	        --@CD_EST_GEOGRAFICA1 NUMERIC(18,0),
							@v_cep,				--@DC_CODIGO_POSTAL1 VARCHAR(20),
							@v_numero,			--@DC_NUMERO1 VARCHAR(20),
							@v_complemento,			--@DC_COMPLEMENTO1 VARCHAR(60),
							@v_referencia,			--@DC_REFERENCIA1 VARCHAR(80),
							0,				--@ID_DADOS_DIGITADOS1 INT,
							'Brasil',			--@DC_PAIS1 VARCHAR(80),
							@DC_NIVEL_GEO2,			--@DC_ESTADO1 VARCHAR(80),
							@DC_NIVEL_GEO3,			--@DC_CIDADE1 VARCHAR(80),
							@DC_NIVEL_GEO4,			--@DC_BAIRRO1 VARCHAR(80),
							@DC_NIVEL_GEO5,			--@DC_RUA1 VARCHAR(80),
					
							2,				--@ID_TIPO_ENDERECO2 INT,
							@V_CD_EST_GEOGRAFICA1,	        --@CD_EST_GEOGRAFICA2 NUMERIC(18,0),
							@v_cep,				--@DC_CODIGO_POSTAL2 VARCHAR(20),
							@v_numero,			--@DC_NUMERO2 VARCHAR(20),
							@v_complemento,			--@DC_COMPLEMENTO2 VARCHAR(60),
							@v_referencia,			--@DC_REFERENCIA2 VARCHAR(80),
							0,				--@ID_DADOS_DIGITADOS2 INT,
							'Brasil',			--@DC_PAIS2 VARCHAR(80),
							@DC_NIVEL_GEO2,			--@DC_ESTADO2 VARCHAR(80),
							@DC_NIVEL_GEO3,			--@DC_CIDADE2 VARCHAR(80),
							@DC_NIVEL_GEO4,			--@DC_BAIRRO2 VARCHAR(80),
							@DC_NIVEL_GEO5,			--@DC_RUA2 VARCHAR(80),
					
							@v_funcao_cf,			--@ID_FUNCAO_CONSUMIDOR INT,
							@v_funcao_cn,			--@ID_FUNCAO_CONSULTORA INT,
							0,				--@ID_FUNCAO_COLABORADOR INT,
							0,				--@ID_FUNCAO_FORCA_VENDAS INT,
					
							@v_situacao_funcao_cf,	        --@ID_SITUACAO_FUNCAO_CONSUMIDOR INT,
							@v_situacao_funcao_cn,	        --@ID_SITUACAO_FUNCAO_CONSULTORA INT,
							0,				--@ID_SITUACAO_FUNCAO_COLABORADOR INT,
							0,				--@ID_SITUACAO_FUNCAO_FORCA_VENDAS INT,
					
							'',				--@DT_INICIO_FUNCAO_CONSUMIDOR DATE,
							'',				--@DT_INICIO_FUNCAO_CONSULTORA DATE,
							'',				--@DT_INICIO_FUNCAO_COLABORADOR DATE,
							'',				--@DT_INICIO_FUNCAO_FORCA_VENDAS DATE,
					
							0,				--@CD_EMPRESA VARCHAR(20),
							'',				--@DT_ADMISSAO VARCHAR(20),
							'',				--@DT_DESLIGAMENTO VARCHAR(20),
					
							0,		                --@CD_REFERENCIA_BANCARIA1 INT,
							'',		                --@NM_BANCO1 VARCHAR(10),
							'',		                --@DC_BANCO1 VARCHAR(30),
							'',		                --@DC_AGENCIA1 VARCHAR(40),
							'',		                --@DC_CLIENTE_DESDE1 VARCHAR(20),
							0,		                --@ID_CONTA_ESPECIAL1 INT,
							
							
							0,		                --@CD_REFERENCIA_BANCARIA2 INT,
							'',		                --@NM_BANCO2 VARCHAR(10),
							'',		                --@DC_BANCO2 VARCHAR(30),
							'',		                --@DC_AGENCIA2 VARCHAR(40),
							'',		                --@DC_CLIENTE_DESDE2 VARCHAR(20),
							0,		                --@ID_CONTA_ESPECIAL2 INT,

							
							0,		                --@CD_REFERENCIA_PESSOAL1 INT,
							'',		                --@DC_NOME1 VARCHAR(80),
							'',		                --@DC_RELACAO1 VARCHAR(50),
							'',		                --@DC_TELEFONE_PESSOAL1 VARCHAR(50),
							
							0,		                --@CD_REFERENCIA_PESSOAL2 INT,
							'',		                --@DC_NOME2 VARCHAR(80),
							'',		                --@DC_RELACAO2 VARCHAR(50),
							'',		                --@DC_TELEFONE_PESSOAL2 VARCHAR(50),
												
							0,		                --@CD_REFERENCIA_PROFISSIONAL1 INT,
							'',		                --@DC_RAZAO_SOCIAL1 VARCHAR(80),
							0,		                --@ID_RAMO_ATIVIDADE1 INT,
							'',		                --@DC_TELEFONE_PROFISSIONAL1 VARCHAR(30),					
							'',		                --@DC_RAMAL_PROFISSIONAL1 VARCHAR(30),
							'',		                --@DC_CONTATO_PROFISSIONAL1 VARCHAR(30),
													
							0,		                --@CD_REFERENCIA_PROFISSIONAL2 INT,
							'',		                --@DC_RAZAO_SOCIAL2 VARCHAR(80),
							0,		                --@ID_RAMO_ATIVIDADE2 INT,
							'',		                --@DC_TELEFONE_PROFISSIONAL2 VARCHAR(30),					
							'',		                --@DC_RAMAL_PROFISSIONAL2 VARCHAR(30),
							'',		                --@DC_CONTATO_PROFISSIONAL2 VARCHAR(30),
							
							@V_PATROCINADOR,                --@CD_PESSOA_INDICANTE NUMERIC(18,0),
							4,		                --@CD_EST_COMERCIAL_INDICANTE NUMERIC(18,0),
								
							1,		                    --@ID_TIPO_PESSOA_PREMIACAO			INT,
							'',		                    --@DC_NOME_PREMIACAO					VARCHAR(200),
							'',		                    --@DC_DOCUMENTO_PREMIACAO				VARCHAR(50),
							@v_ID_TIPO_CONTA_DESTINO_PREMIACAO, --@ID_TIPO_CONTA_DESTINO_PREMIACAO	INT,
							@v_CD_BANCO_PREMIACAO,		    --@CD_BANCO_PREMIACAO					numeric(18,0),
							@v_DC_AGENCIA_PREMIACAO,	    --@DC_AGENCIA_PREMIACAO				varchar(40)	,
							@v_DC_CONTA_PREMIACAO,		    --@DC_CONTA_PREMIACAO					varchar(40),
							'',		                    --@DC_INSS							VARCHAR(50),
											
							@v_senha_cf,			    --@DC_SENHA_CONSUMIDOR VARCHAR(500),
							'',				    --@DC_SENHA_COLABORADOR VARCHAR(500),
							@v_senha_cn,			    --@DC_SENHA_CONSULTORA VARCHAR(500),
							'',				    --@DC_SENHA_FORCA_VENDAS VARCHAR(500),

                                                        0,                                  --@ID_DIRECAO_PADRAO_REDE_BINARIA INT,
	                                                0,                                  --@ID_DIRECAO_REDE_BINARIA INT,
	                                                0,                                  --@ID_DIRECAO_REDE_LINEAR INT,
							
							0,				    --@CD_USUARIO NUMERIC(18,0),
							'I',				    --@VAR_TIPO_FUNCAO VARCHAR(1),
							@cdErro				    OUTPUT,
							@dcErro				    OUTPUT,
							@qtLinhasAfetadas		    OUTPUT,
							@cdPessoaFisicaGerada	            OUTPUT	

					INSERT INTO TB_TESTE VALUES ('pr_PessoaInserePessoaFisica', @dcErro, NULL, NULL, NULL, NULL)

					IF @cdErro > 0 
						BEGIN
						    SELECT @cdErro = 1
							SELECT @dcErro = @dcErro + ' ' + @v_nascimento_corrigido + ' ' + @v_cpf
							RETURN
						END
							
					
	
							--INSERT INTO TB_TESTE VALUES ('pr_PessoaInsereDadosAdicionais', @dcErro, NULL, NULL, NULL, NULL)	

							
							
							
						-- *******************************************************
						-- INATIVA AS PESSOAS
						-- *******************************************************
						--IF @v_status <> 'ativo'
						--BEGIN
						  EXEC pr_PessoaAlteraSituacaoCadastroManualmente
								@cdPessoaFisicaGerada,	--@p_codigoPessoa					numeric(18,0),
								5,						--@p_codigoSituacaoCadastro		int,
								0,						--@p_codigoUsuario				numeric(18,0),
								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT
								--INSERT INTO TB_TESTE VALUES ('pr_PessoaAlteraSituacaoCadastroManualmente', @dcErro, NULL, NULL, NULL, NULL)		
					       --END							
								
											
						
					-- *********************************************************************	
					-- INSERE O CODIGO GERADO COM O CODIGO ATUAL DA PESSOA FISICA NUMA TABELA TEMPORARIA
					-- ISSO SERÁ IMPORTANTE PARA FAZER OS DE/PARA
					-- *********************************************************************
					
					
					
									
					
					-- *********************************************************************	
					-- TERCEIRO PASSO -- VINCULAR AS PESSOAS NA ESTRUTURA COMERCIAL
					-- *********************************************************************
					
					IF @v_vip = 1
						BEGIN
							EXEC  pr_PessoaGeraAlocacaoRede
								@cdPessoaFisicaGerada,	--@p_codigoPessoa					numeric(18,0),
								2,						--@p_codigoFuncao					int,
								@v_cd_est_comercial,	--@p_codigoEstruturaComercial		numeric(18,0),
								201810,					--@p_numeroCiclo					numeric(18,0),
								0,						--@p_codigoUsuario					numeric(18,0),

								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT	
								--INSERT INTO TB_TESTE VALUES ('pr_PessoaGeraAlocacaoRede', @dcErro, NULL, NULL, NULL, NULL)		
						END
					
					ELSE
						BEGIN
							EXEC  pr_PessoaGeraAlocacaoRede
								@cdPessoaFisicaGerada,	--@p_codigoPessoa					numeric(18,0),
								1,						--@p_codigoFuncao					int,
								@v_cd_est_comercial,	--@p_codigoEstruturaComercial		numeric(18,0),
								201810,					--@p_numeroCiclo					numeric(18,0),
								0,						--@p_codigoUsuario					numeric(18,0),

								@cdErro					OUTPUT,
								@dcErro					OUTPUT,
								@qtLinhasAfetadas		OUTPUT

								--INSERT INTO TB_TESTE VALUES ('pr_PessoaGeraAlocacaoRede', @dcErro, NULL, NULL, NULL, NULL)	
						END
						
	
			
			
							
							
					
					FETCH NEXT FROM @Cursor_Itens
					INTO	@v_id,
							@v_cod,
							@v_vip,
							@v_nome,
							@v_sobrenome,
							@v_cpf,
							@v_rg,
							@v_sexo,
							@v_telefone,
                                                        @v_telefone_coml,
							@v_celular,
                                                        @v_operadora,
							@v_email,
							@v_senha,
							@v_nascimento,
							@v_cep,
							@v_endereco,
							@v_numero,
							@v_complemento,
							@v_bairro,
							@v_cidade,
							@v_estado,
							@v_pais,
							@v_referencia,
							@v_distribuidor,
							@v_revenda,
							@v_site,
							@v_receber,
							@v_porcento,
							@v_desconto,
							@v_status,
							@v_temkit,
							@v_contatado,
							@v_observacao,
							@v_cadpor,
							@v_latitude,
							@v_longitude,
							@v_enviando,
							@v_enviandosms,
							@v_dataatualiza,
							@v_horaatualiza,
							@v_funcionario,
							@v_ip,
							@v_datahora,
							@v_data,
							@v_hora,
							@v_duplicado,
							@v_ID_TIPO_CONTA_DESTINO_PREMIACAO,
							@v_CD_BANCO_PREMIACAO,		
							@v_DC_AGENCIA_PREMIACAO,		
							@v_DC_CONTA_PREMIACAO,
                                                        @V_PATROCINADOR,
							@V_ESTADO_CIVIL,		
                                                        @V_escolaridade
													
				END

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 1
	WHERE CD_GRUPO_PARAMETRO = 7
	AND CD_PARAMETRO = 9

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 1
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 3

	UPDATE TB_VALOR_PARAMETRO SET VL_PARAMETRO = 1
	WHERE CD_GRUPO_PARAMETRO = 2
	AND CD_PARAMETRO = 1
	
	
	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	
		
	SELECT @cdErro = 0
		
END
GO
