SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_PRATELEIRA]
	@CD_CODIGO numeric(18, 0),
	@DC_PRATELEIRA varchar(80),
	@CD_LINHA_SEPARACAO numeric(18, 0),
	@ID_SITUACAO INT,	
	@NM_ORDEM INT,
				
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@CD_PRATELEIRA NUMERIC(18,0) OUTPUT

AS


BEGIN TRY
	

	    SELECT @QT_LINHAS_AFETADAS = 0
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 
	
				INSERT INTO TB_PRATELEIRA (
					DC_PRATELEIRA,
					CD_LINHA_SEPARACAO,
					ID_SITUACAO,	
					NM_ORDEM,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@DC_PRATELEIRA,
					@CD_LINHA_SEPARACAO,
					@ID_SITUACAO,	
					@NM_ORDEM,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @CD_PRATELEIRA = IDENT_CURRENT('TB_PRATELEIRA')
			
				COMMIT TRANSACTION
			END	


		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 
	
				UPDATE TB_PRATELEIRA SET
					DC_PRATELEIRA = @DC_PRATELEIRA,
					CD_LINHA_SEPARACAO = @CD_LINHA_SEPARACAO,
					ID_SITUACAO = @ID_SITUACAO,	
					NM_ORDEM = @NM_ORDEM,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO =@CD_USUARIO
				WHERE  CD_PRATELEIRA = @CD_CODIGO
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION

			END	
			
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 
	
				DELETE FROM TB_PRATELEIRA 
				WHERE  CD_PRATELEIRA = @CD_CODIGO
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
