SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_FiscalReenviaNotaFiscal]
	@p_numeroPedido			numeric(18, 0),
	@p_idTipoNotaFiscal		INT, 
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT
	
AS

/******************************************************************************
PROCEDURE QUE REENVIA NF PARA O TASKER PROCESSAR NOVAMENTE
ESSA PROCEDURE É CHAMADA NA TELA CONSULTA DE NOTAS FISCAIS NO BOTÃO REENVIAR NF
******************************************************************************/

DECLARE @CD_NOTA_FISCAL						NUMERIC(18,0)
DECLARE @NM_NOTA_FISCAL						NUMERIC(18,0)
DECLARE @CD_CENTRO_DISTRIBUICAO				NUMERIC(18,0)
--DECLARE @NM_PROXIMA_NOTA_FISCAL				NUMERIC(18,0)

DECLARE @QT_REGISTROS						INT
DECLARE	@QT_REGISTROS_ERROS					INT

DECLARE @ID_SITUACAO_FATURAMENTO_PEDIDO		INT 
DECLARE @DC_PROCESSAMENTO_ERRO				VARCHAR(2000)

BEGIN TRY
	
	-- *******************************************************************************
	-- PRIMEIRO VAMOS VERIFICAR SE EXISTE NF E SE A MESMA ESTA DIPOSNIVEL PARA EMISSÃO
	-- *******************************************************************************

	SELECT	@QT_REGISTROS = COUNT(*)
	FROM TB_NOTA_FISCAL 
	WHERE NM_PEDIDO = @p_numeroPedido
	AND ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal
	AND ID_SITUACAO_NOTA_FISCAL = 1
	
	IF @QT_REGISTROS = 0 
		BEGIN
			SELECT @p_codigoErro = 2
			SELECT @p_descErro = 'PEDIDO NÃO POSSUI NF DISPONIVEL PARA EMISSÃO'
			RETURN
		END

			
	-- *******************************************************************************
	-- SEGUNDO VAMOS ARMAZENAR AS VARIAVEIS
	-- *******************************************************************************
	
	SELECT	@CD_NOTA_FISCAL = CD_NOTA_FISCAL,
			@NM_NOTA_FISCAL = NM_NOTA_FISCAL
	FROM TB_NOTA_FISCAL 
	WHERE NM_PEDIDO = @p_numeroPedido
	AND ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal
	
	SELECT	@CD_CENTRO_DISTRIBUICAO = CD_CENTRO_DISTRIBUICAO
	FROM TB_PEDIDO 
	WHERE NM_PEDIDO = @p_numeroPedido

	-- *******************************************************************************
	-- TERCEIRO VERIFICA SE DEU ERRO (REJEIÇÃO)
	-- *******************************************************************************
	SELECT @QT_REGISTROS_ERROS = COUNT(*)
	FROM TB_SOLICITACAO_FATURAMENTO_PEDIDO 
	WHERE ID_SITUACAO_FATURAMENTO_PEDIDO = 3
	AND CD_NOTA_FISCAL = @CD_NOTA_FISCAL

	IF @QT_REGISTROS_ERROS = 0
		BEGIN
			SELECT @p_codigoErro = 2
			SELECT @p_descErro = 'PEDIDO NÃO POSSUI ERRO DE EMISSÃO DE NF'
			RETURN
		END

	SELECT	@ID_SITUACAO_FATURAMENTO_PEDIDO = ID_SITUACAO_FATURAMENTO_PEDIDO, 
			@DC_PROCESSAMENTO_ERRO = DC_PROCESSAMENTO_ERRO
	FROM TB_SOLICITACAO_FATURAMENTO_PEDIDO 
	WHERE ID_SITUACAO_FATURAMENTO_PEDIDO = 3
	AND CD_NOTA_FISCAL = @CD_NOTA_FISCAL

	-- SERVIÇO DA SEFAZ ESTA FORA
	-- PROBLEMAS DE IE (COM ACENTO E SEM ACENTUAÇÃO)
	IF SUBSTRING(@DC_PROCESSAMENTO_ERRO, 8, 48) = 'Erro: Falha na conexão: Mensagem Erro do Windows' OR
				@DC_PROCESSAMENTO_ERRO = 'Rejeição: IE do destinatário não informada' OR
				@DC_PROCESSAMENTO_ERRO = 'Rejeicao: IE do destinatario nao informada' OR
				@DC_PROCESSAMENTO_ERRO = 'Rejeicao: IE do destinatario invalida' OR
				@DC_PROCESSAMENTO_ERRO = 'Rejeição: IE do destinatário inválida' OR
				CHARINDEX('Campo:[IE]', @DC_PROCESSAMENTO_ERRO) > 0 OR
				CHARINDEX('Falha na conexão: Mensagem Erro do Windows', @DC_PROCESSAMENTO_ERRO) > 0 OR
				@DC_PROCESSAMENTO_ERRO = 'Rejeição: IE do destinatário não vinculada ao CNPJ' OR
				@DC_PROCESSAMENTO_ERRO = 'Rejeição: CPF do destinatário inválido'
		BEGIN
			DELETE FROM TB_SOLICITACAO_FATURAMENTO_PEDIDO 
			WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL

			SELECT @p_codigoErro = 0
			SELECT @p_descErro = 'NF Reenviada para a SEFAZ. Aguarde uns minutos e verifique.'

		END
	ELSE
		BEGIN
			IF CHARINDEX('Rejeição: Erro não catalogado (código de status não localizado', @DC_PROCESSAMENTO_ERRO) > 0
				BEGIN
					
					UPDATE TB_NOTA_FISCAL_ITEM 
					set VL_ICMS_UF_ORIGEM = 0.00, VL_ICMS_UF_DESTINO = ((VL_BASE_CALCULO_ICMS_UF_DEST *(PC_ALIQ_ICMS_UF_DESTINO/100)) - (VL_BASE_CALCULO_ICMS *(PC_ALIQ_ICMS_INTERESTADUAL/100))) * (PC_PARTILHA_DIFAL_ICMS/100) 
					WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL and CD_SITUACAO_TRIBUTARIA_ICMS = 60

					UPDATE TB_NOTA_FISCAL 
					set VL_TOTAL_ICMS_ORIGEM = (select sum(vl_icms_uf_origem) from TB_NOTA_FISCAL_ITEM where CD_NOTA_FISCAL = @CD_NOTA_FISCAL),
					VL_TOTAL_ICMS_DESTINO = (select sum(VL_ICMS_UF_DESTINO) from TB_NOTA_FISCAL_ITEM where CD_NOTA_FISCAL = @CD_NOTA_FISCAL) 
					where CD_NOTA_FISCAL = @CD_NOTA_FISCAL

					delete from TB_SOLICITACAO_FATURAMENTO_PEDIDO where CD_NOTA_FISCAL = @CD_NOTA_FISCAL
					
				END
			ELSE
				BEGIN
					SELECT @p_codigoErro = 0
					SELECT @p_descErro = 'Para esse tipo de Rejeição por gentileza entre em contato com nosso Suporte.'
				END
		END
		
			
	-- *************************************************************************************************
	-- PENDENTE: AO EXECUTAR DEU DUPLICIDADE DE NF
	-- TEMOS QUE VERIFICAR O PORQUE E TRATAR ESSE PONTO
	-- *************************************************************************************************
	
	--IF @DC_PROCESSAMENTO_ERRO = '5105 - Erro: O WS não devolveu nenhum resultado'
	--	BEGIN
	--		DELETE FROM TB_SOLICITACAO_FATURAMENTO_PEDIDO 
	--		WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL
	--	END
		
		
	  
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
