SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_ApiPedidoValidaPedidoItem]
	@p_codigoProduto			VARCHAR(80),
	@p_codigoMaterial			VARCHAR(80),
	@p_descricaoProduto			VARCHAR(80),
	@p_numeroCiclo				NUMERIC(10,0),
	@p_codigoRegraCaptacao		NUMERIC(10,0),
	@p_codigoFuncao				NUMERIC(10,0),
	@p_qtdeSolicitada			INT,
	@p_valorUnitario			NUMERIC(18,2),
	@p_valorDescontoUnitario	NUMERIC(18,2),
	@p_idTipoProduto			INT,
	@p_idAgrupamentoProduto		INT,
	
	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE @v_codigoProduto		NUMERIC(18,0),
		@v_codigoMaterial		NUMERIC(18,0),
		@v_data					VARCHAR(10),
		@v_valorPreco			NUMERIC(18,2),
		@v_valorCredito			NUMERIC(18,2),
		@v_valorPontos			NUMERIC(18,2),
		@v_existeRegraCaptacao	INT,
		@v_codigoCD				NUMERIC(18,0),
		@v_qtdeEstoque			INT,
		@v_cursorComponentes	CURSOR,
		@v_materialComponente	NUMERIC(18,0),
		@v_qtdeEstoqueComponente INT
BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	SELECT @v_data = CONVERT(VARCHAR(10),GETDATE(),103)

	-- BUSCA OS CÓDIGOS INTERNOS
	SELECT @v_codigoProduto = ISNULL(MIN(CD_PRODUTO_VENDA),0)
	  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	 WHERE CD_PRODUTO_VENDA_EXTERNO = @p_codigoProduto

	IF @v_codigoProduto = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Produto informado não encontrado'
			RETURN
		END

	SELECT @v_codigoMaterial = CD_MATERIAL
	  FROM TB_MATERIAL WITH(NOLOCK)
	 WHERE CD_MATERIAL_EXTERNO = @p_codigoMaterial

	-- VALIDA SE A REGRA DE CAPTAÇÃO INFORMADA EXISTE
	SELECT @v_existeRegraCaptacao = COUNT(*)
	  FROM TB_REGRA_COMERCIAL WITH(NOLOCK)
	 WHERE CD_REGRA_COMERCIAL = @p_codigoRegraCaptacao

	IF @v_existeRegraCaptacao = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Regra de captação enviada não encontrada'
			RETURN
		END
	ELSE
		BEGIN
			SELECT @v_codigoCD = CD_CENTRO_DISTRIBUICAO
			  FROM TB_REGRA_COMERCIAL WITH(NOLOCK)
			 WHERE CD_REGRA_COMERCIAL = @p_codigoRegraCaptacao
		END

	IF @p_valorUnitario < 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Valor do produto ' + @p_codigoProduto + ' inválido, deve ser maior que zero.'
			RETURN
		END

	IF @p_valorDescontoUnitario < 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Valor do desconto do item ' + @p_codigoProduto + ' inválido, deve ser maior ou igual a zero.'
			RETURN
		END
	ELSE
		BEGIN
			IF @p_valorDescontoUnitario > @p_valorUnitario
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Valor do desconto do item ' + @p_codigoProduto + ' é maior que o valor do item.'
					RETURN
				END
		END

	EXEC SP_BUSCA_INF_PRODUTO_VENDA	@v_codigoProduto,
									@p_numeroCiclo,
									@v_data,
									@p_codigoFuncao,
									@p_codigoRegraCaptacao,
									@p_descricaoProduto OUTPUT,
									@v_codigoMaterial OUTPUT,
									@v_valorPreco OUTPUT,
									@v_valorCredito OUTPUT,
									@p_idAgrupamentoProduto OUTPUT,
									@v_valorPontos OUTPUT,
									@p_codigoErro OUTPUT,
									@p_descErro OUTPUT

	IF @p_codigoErro = 0
		BEGIN
			-- SE NÃO HOUVER RESTRIÇÃO NO PRODUTO VAMOS CHECAR O ESTOQUE DELE
			IF @p_idAgrupamentoProduto <> 2
				BEGIN
					Select @v_qtdeEstoque = dbo.fn_produtoBuscaProdutoQtdEstoqueDisponivelCD(@v_codigoProduto,@v_codigoCD)

					-- SE NÃO TIVER ESTOQUE RETORNA ERRO
					IF @v_qtdeEstoque <= 0
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descErro = 'Produto com estoque indisponível'
							RETURN
						END
					ELSE
						BEGIN
							IF @p_qtdeSolicitada > @v_qtdeEstoque
								BEGIN
									SELECT @p_codigoErro = 1
									SELECT @p_descErro = 'Produto com estoque insuficiente, estoque disponível atual de ' + CONVERT(nvarchar,@v_qtdeEstoque) + ' unidade(s)'
									RETURN
								END
						END
				END
			ELSE
				BEGIN
					-- TRATAMENTO PARA KIT
					SELECT @v_qtdeEstoque = -1

					-- busca os componentes do kit
					SET @v_cursorComponentes = CURSOR FAST_FORWARD
					FOR SELECT CD_MATERIAL
						FROM TB_PRODUTO_VENDA_COMPONENTE WITH(NOLOCK)
						WHERE CD_PRODUTO_VENDA = @p_codigoProduto

					OPEN @v_cursorComponentes
					FETCH NEXT FROM @v_cursorComponentes
					INTO @v_materialComponente

					WHILE @@FETCH_STATUS = 0
						BEGIN
							-- CHECA O ESTOQUE DE CADA MATERIAL
							SELECT @v_qtdeEstoqueComponente = dbo.FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL(@v_materialComponente,@v_codigoCD,0,1)

							IF @v_qtdeEstoque = -1
								BEGIN
									SELECT @v_qtdeEstoque = @v_qtdeEstoqueComponente
								END
							ELSE
								BEGIN
									IF @v_qtdeEstoqueComponente < @v_qtdeEstoque
										BEGIN
											SELECT @v_qtdeEstoque = @v_qtdeEstoqueComponente
										END
								END

							FETCH NEXT FROM @v_cursorComponentes
							INTO @v_materialComponente
						END

					-- SE NÃO TIVER ESTOQUE RETORNA ERRO
					IF @v_qtdeEstoque <= 0
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descErro = 'Produto com estoque indisponível'
							RETURN
						END
					ELSE
						BEGIN
							IF @p_qtdeSolicitada > @v_qtdeEstoque
								BEGIN
									SELECT @p_codigoErro = 1
									SELECT @p_descErro = 'Produto com estoque insuficiente, estoque disponível atual de ' + CONVERT(nvarchar,@v_qtdeEstoque) + ' unidade(s)'
									RETURN
								END
						END
				END
		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
