SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_IntegracaoInsereLogIntegracao]
	@CD_INTEGRACAO NUMERIC(18,0),
	@CD_LOG_INTEGRACAO NUMERIC(18,0),
	@CD_LOG_INTEGRACAO_PAI NUMERIC(18,0),
	@DT_INICIO_EXECUCAO DATETIME,
	@DT_TERMINO_EXECUCAO DATETIME,
	@ID_RESULTADO_EXECUCAO INT,
	@DC_ERRO_EXECUCAO VARCHAR(MAX),
		
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_LOG_INTEGRACAO (
					CD_INTEGRACAO,
					CD_LOG_INTEGRACAO_PAI,
					DT_INICIO_EXECUCAO,
					ID_RESULTADO_EXECUCAO
					)
										
						
				VALUES           (
					@CD_INTEGRACAO,
					@CD_LOG_INTEGRACAO_PAI,
					@DT_INICIO_EXECUCAO,
					@ID_RESULTADO_EXECUCAO )
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
				
				SELECT @VAR_RETORNO = @@IDENTITY
				
			END	

		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
	
				BEGIN TRANSACTION 
	
				UPDATE TB_LOG_INTEGRACAO 
				   SET DT_TERMINO_EXECUCAO = @DT_TERMINO_EXECUCAO,
					   ID_RESULTADO_EXECUCAO = @ID_RESULTADO_EXECUCAO,
					   DC_ERRO_EXECUCAO = @DC_ERRO_EXECUCAO,
					   DT_ATUALIZACAO = GETDATE()
					WHERE CD_LOG_INTEGRACAO = @CD_LOG_INTEGRACAO
					  AND CD_INTEGRACAO = @CD_INTEGRACAO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
				
				SELECT @VAR_RETORNO = 0
				
			END	


		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = ERROR_NUMBER()
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
