SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CANCELA_PEDIDO_PROCESSAMENTO]
	@NM_PEDIDO				NUMERIC(18,0),
	@CD_EST_SITUACAO		NUMERIC(18,0),
	@ID_MOVIMENTA_ESTOQUE	INT, -- 1 MOVIMENTA, 2 NÃO MOVIMENTA
	@CD_SIT_PEDIDO_ANTERIOR NUMERIC(18,0),
	@CD_USUARIO NUMERIC(18,0),
		
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @Cursor_Itens					CURSOR,
		@Cursor_Historico				CURSOR,
		@CD_SIT_PAI						INT,
		@CD_SIT_ATUAL_HISTORICO_PEDIDO	INT,
		@ID_EXISTE_ITEM					NUMERIC(18,0),
		@CD_PRODUTO_VENDA				NUMERIC(18,0),
		@QT_RESERVADA					NUMERIC(18,0),
		@CD_PESSOA						NUMERIC(18,0),
		@CD_FUNCAO						NUMERIC(18,0),
		@EXISTE_PEDIDO_APROVADO			INT,
		@CICLO_APROVACAO				NUMERIC(18,0),
		@CICLO_APROVACAO_ANTERIOR		NUMERIC(18,0),
		@SITUACAO_PESSOA_ANTERIOR		INT,
		@V_QTD_DIVIDAS_ATIVAS			INT,
		@CD_DIVIDA_PEDIDO				NUMERIC(18,0),
		@CD_EST_COMERCIAL				NUMERIC(18,0),
		@NM_CICLO_CANCELAMENTO			NUMERIC(18,0),
		@VL_PAGAMENTOS					NUMERIC(18,2),
		@VL_PAGAMENTOS_PEDIDO			NUMERIC(18,2),
		@VL_SALDO_FAVOR_UTILIZADO		NUMERIC(18,2),
		@CD_NOTA_FISCAL                 NUMERIC(18,0),
		@ID_CANC_NFE					BIT,
		@ID_TRABALHA_NFE				INT,
		@CD_ORIGEM_ITEM_PEDIDO			NUMERIC(18,0),
		@CD_MATERIAL					NUMERIC(18,0),
		@ID_MOMENTO_FATURAMENTO         INT,
		@VL_MOEDA_VIRTUAL_UTILIZADO		NUMERIC(18,2),
		@v_idGeraSaldoFavorCancelamento int

BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0

	
			    
	-- *****************************************************
	-- BUSCA CICLO ATUAL DA PESSOA
	-- *****************************************************
	SELECT @NM_CICLO_CANCELAMENTO = A.NM_CICLO_ATUAL
	FROM TB_PESSOA_RESUMO A WITH(NOLOCK), TB_PEDIDO B WITH(NOLOCK)
	WHERE A.CD_PESSOA = B.CD_PESSOA
	AND B.NM_PEDIDO = @NM_PEDIDO
			
							
	-- *****************************************************
	-- VERIFICA A SITUAÇÃO DO PEDIDO, PESSOA E FUNÇÃO
	-- *****************************************************
	SELECT	@CD_PESSOA = CD_PESSOA,
			@CD_FUNCAO = CD_FUNCAO,
			@CICLO_APROVACAO = NM_CICLO_APROVACAO,
			@CD_EST_COMERCIAL = CD_EST_COMERCIAL,
			@ID_MOMENTO_FATURAMENTO = ISNULL(ID_MOMENTO_FATURAMENTO,1)
		FROM TB_PEDIDO WITH(NOLOCK)
	WHERE NM_PEDIDO = @NM_PEDIDO
		
		
	---- SE O PEDIDO JA ESTA CANCELADO ENTÃO DEVEMOS SAIR DA ROTINA
	--IF @CD_SIT_PEDIDO_ANTERIOR = 3
	--	BEGIN
	--		SELECT @VAR_RETORNO = 2
	--		SELECT @DC_ERRO = 'Pedido já esta cancelado' 
	--		RETURN
	--	END 
			

	-- *****************************************************
	-- VEIFICA SE HOUVE PAGAMENTOS NESSES PEDIDO
	-- *****************************************************
	SELECT @VL_PAGAMENTOS_PEDIDO = SUM(C.VL_CONCILIACAO)
	FROM TB_CONCILIACAO C WITH(NOLOCK), TB_DIVIDA D WITH(NOLOCK)
	WHERE C.CD_DIVIDA = D.CD_DIVIDA
	AND D.NM_PEDIDO = @NM_PEDIDO
	AND C.DT_ESTORNO IS NULL

	-- ****************************************************
	-- Alteração por Diego Zilioti em 15/02/2020
	-- Precisamos remover o valor de moeda virtual do saldo de pagamento
	-- ****************************************************
	SELECT	@VL_MOEDA_VIRTUAL_UTILIZADO = ISNULL(VL_MOEDA_VIRTUAL_UTILIZADO,0)
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE NM_PEDIDO = @NM_PEDIDO

	SELECT @VL_PAGAMENTOS_PEDIDO = @VL_PAGAMENTOS_PEDIDO - @VL_MOEDA_VIRTUAL_UTILIZADO



	INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 1')
			
	-- **************************************************************************************
	-- ATUALIZA INDICADORES - SE PEDIDOS FOR DIFERENTE DE CANCELADO / PENDENTE / EM CAPTAÇÃO
	-- **************************************************************************************
	IF @CD_SIT_PEDIDO_ANTERIOR <> 1 AND @CD_SIT_PEDIDO_ANTERIOR <> 3 AND @CD_SIT_PEDIDO_ANTERIOR <> 4
		BEGIN
			EXEC SP_CALCULA_PESSOA_INDICADOR
					@CD_PESSOA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@CICLO_APROVACAO,
					@NM_PEDIDO,
					2, -- EVENTO CANCELAMENTO DE PEDIDO
					2, --INCREMENTAL
                    1,      --CALCULA OS INDICADORES ON-LINE
					@CD_USUARIO,
					@VAR_RETORNO		OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT
				
			-- SE POSSUI ALGUM PAGAMENTO DEVEMOS EXECUTAR OS INDICADORES DE PAGAMENTO DE PEDIDO
			-- ATUALIZA INDICADRES DE PAGAMENTO
			IF @VL_PAGAMENTOS_PEDIDO > 0
				BEGIN
						
					-- CALCULA INDICADORES
					EXEC SP_CALCULA_PESSOA_INDICADOR
							@CD_PESSOA,
							@CD_FUNCAO,
							@CD_EST_COMERCIAL,
							@CICLO_APROVACAO,
							@NM_PEDIDO,
							5, -- EVENTO CANCELAMENTO DE PAGAMENTO PEDIDO
							2, --INCREMENTAL
                            1,      --CALCULA OS INDICADORES ON-LINE
							@CD_USUARIO,
							@VAR_RETORNO		OUTPUT,
							@DC_ERRO			OUTPUT,
							@QT_LINHAS_AFETADAS OUTPUT
						

				END
	
				
		END
		
	INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 2')
			
	-- *****************************************************
	-- VERIFICA A SITUAÇÃO PAI PARA GRAVAR NO HEADER DO PEDIDO
	-- *****************************************************
	SELECT @CD_SIT_PAI = CD_NIVEL_SIT1
		FROM TB_EST_SITUACAO WITH(NOLOCK)
	WHERE CD_EST_SITUACAO = @CD_EST_SITUACAO
		
			
	-- *****************************************************
	-- VERIFICA SE EXISTE PRODUTO EMPENHADO
	-- *****************************************************
	SELECT @ID_EXISTE_ITEM = COUNT(*)
	FROM TB_PEDIDO_ITEM WITH(NOLOCK)
	WHERE QT_RESERVADA >0
	AND NM_PEDIDO_ITEM_CONJUNTO = 0
					
					
	IF (@ID_EXISTE_ITEM > 0 AND @ID_MOVIMENTA_ESTOQUE = 1) 
		BEGIN
			-- CANCELA ITENS
			
			-- *****************************************************
			-- cursor que mostra todos os itens do pedido
			-- que possuem qtd reservada e que sejam produto pai
			-- *****************************************************
			
			SET @Cursor_Itens = CURSOR FAST_FORWARD
			FOR
				-- ***********************************************************
				-- ALTERAÇÃO POR DIEGO ZILIOTI EM 22/05/2019
				-- VAMOS AGRUPAR A CHAMADA DOS ITENS POR PRODUTO E MATERIAL
				-- EXISTEM ALGUNS CENÁRIOS EXCLUSIVOS DE KIT EM QUE OS PRODUTOS PODEM SE REPETIR E PRECISAMOS PASSAR A QUANTIDADE TOTAL UMA ÚNICA VEZ
				-- ***********************************************************
				SELECT X.CD_PRODUTO_VENDA, SUM(X.QT_RESERVADA), X.CD_MATERIAL
				FROM (
				SELECT	CD_PRODUTO_VENDA,
						QT_RESERVADA,
						CD_MATERIAL
				FROM TB_PEDIDO_ITEM WITH(NOLOCK)
				WHERE NM_PEDIDO = @NM_PEDIDO
				AND QT_RESERVADA >0
				AND NM_PEDIDO_ITEM_CONJUNTO = 0

				UNION ALL
				-- *****************************************************
				-- Alteração feita por Diego Zilioti em 01/10/17
				-- Necessidade: Precisamos realizar o cancelamento também dos brindes no estoque, os brindes não estão sendo considerados na verificação de estoque
				-- *****************************************************
				SELECT CD_PRODUTO_VENDA,
					   QT_RESERVADA,
					   CD_MATERIAL
				FROM TB_PEDIDO_ITEM_PROMOCAO WITH(NOLOCK)
				WHERE ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --BRINDE
				  AND QT_RESERVADA > 0
				  AND NM_PEDIDO_ITEM_PROMOCAO_CONJUNTO = 0
				  AND NM_PEDIDO = @NM_PEDIDO) X
				GROUP BY X.CD_PRODUTO_VENDA, X.CD_MATERIAL
				
			OPEN @Cursor_Itens
			FETCH NEXT FROM @Cursor_Itens
			INTO @CD_PRODUTO_VENDA, @QT_RESERVADA, @CD_MATERIAL

			WHILE @@FETCH_STATUS = 0
				BEGIN
						
					-- SE SITUAÇÃO DO PEDIDO FOR (EM CAPTAÇÃO / APROVADO / PENDENTE)
					IF @CD_SIT_PEDIDO_ANTERIOR = 1 OR  @CD_SIT_PEDIDO_ANTERIOR = 2 OR @CD_SIT_PEDIDO_ANTERIOR = 4 OR @CD_SIT_PEDIDO_ANTERIOR = 99 OR @CD_SIT_PEDIDO_ANTERIOR = 100 OR @CD_SIT_PEDIDO_ANTERIOR = 101
						BEGIN
							EXEC dbo.SP_BAIXA_MATERIAL
									@NM_PEDIDO,
									@CD_PRODUTO_VENDA,
									@CD_MATERIAL,
									@QT_RESERVADA,
									@CD_USUARIO,
									1, -- TIPO_EMEPNHO (cancelamento de pedido)
									0, -- CD_MATERIAL
									0, -- CD_EST_SITUACAO
									0, -- QT_RESERVADA
									0, -- VL_REPOSICAO
									0, -- VL_CUSTO_MEDIO
									0, -- CD_COTA_PRODUTO_ESTRUTURA
									0, -- CD_COTA_PRODUTO_PESSOA
									@VAR_RETORNO		OUTPUT,
									@DC_ERRO			OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT
						END
							
					ELSE IF  @CD_SIT_PEDIDO_ANTERIOR IN (5,6)
						BEGIN
							IF (@ID_MOMENTO_FATURAMENTO = 2)
								BEGIN
									EXEC dbo.SP_BAIXA_MATERIAL
											@NM_PEDIDO,
											@CD_PRODUTO_VENDA,
											@CD_MATERIAL,
											@QT_RESERVADA,
											@CD_USUARIO,
											1, -- TIPO_EMEPNHO (cancelamento de pedido)
											0, -- CD_MATERIAL
											0, -- CD_EST_SITUACAO
											0, -- QT_RESERVADA
											0, -- VL_REPOSICAO
											0, -- VL_CUSTO_MEDIO
											0, -- CD_COTA_PRODUTO_ESTRUTURA
											0, -- CD_COTA_PRODUTO_PESSOA
											@VAR_RETORNO		OUTPUT,
											@DC_ERRO			OUTPUT,
											@QT_LINHAS_AFETADAS OUTPUT
								END		
							ELSE
								BEGIN
									EXEC dbo.SP_BAIXA_MATERIAL
											@NM_PEDIDO,
											@CD_PRODUTO_VENDA,
											@CD_MATERIAL,
											@QT_RESERVADA,
											@CD_USUARIO,
											3, -- TIPO_EMEPNHO (cancelamento de pedido EM SEPARAÇÃO)
											0, -- CD_MATERIAL
											0, -- CD_EST_SITUACAO
											0, -- QT_RESERVADA
											0, -- VL_REPOSICAO
											0, -- VL_CUSTO_MEDIO
											0, -- CD_COTA_PRODUTO_ESTRUTURA
											0, -- CD_COTA_PRODUTO_PESSOA
											@VAR_RETORNO		OUTPUT,
											@DC_ERRO			OUTPUT,
											@QT_LINHAS_AFETADAS OUTPUT

								END
												
				
						END
					ELSE
						BEGIN

							EXEC dbo.SP_BAIXA_MATERIAL
									@NM_PEDIDO,
									@CD_PRODUTO_VENDA,
									@CD_MATERIAL,
									@QT_RESERVADA,
									@CD_USUARIO,
									3, -- TIPO_EMEPNHO (cancelamento de pedido EM SEPARAÇÃO)
									0, -- CD_MATERIAL
									0, -- CD_EST_SITUACAO
									0, -- QT_RESERVADA
									0, -- VL_REPOSICAO
									0, -- VL_CUSTO_MEDIO
									0, -- CD_COTA_PRODUTO_ESTRUTURA
									0, -- CD_COTA_PRODUTO_PESSOA
									@VAR_RETORNO		OUTPUT,
									@DC_ERRO			OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT
						END
						
																										
					FETCH NEXT FROM @Cursor_Itens
					INTO @CD_PRODUTO_VENDA, @QT_RESERVADA, @CD_MATERIAL
														
				END


		END


    INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 3')
		
	-- ****************************************************					
	-- ALTERA A SITUAÇÃO DA TABELA DE PEDIDO
	-- ****************************************************					
	UPDATE TB_PEDIDO
	SET CD_EST_SITUACAO = @CD_SIT_PAI,
		NM_CICLO_CANCELAMENTO = @NM_CICLO_CANCELAMENTO,
		DT_CANCELAMENTO_PEDIDO = GETDATE()
	WHERE NM_PEDIDO = @NM_PEDIDO
		
		
	-- *****************************************************
	-- VERIFICA A SITUAÇÃO DO HISTORICO DO PEDIDO
	-- *****************************************************
			
	SET @Cursor_Historico = CURSOR FAST_FORWARD
	FOR
		SELECT CD_EST_SITUACAO 
		FROM TB_PEDIDO_HISTORICO WITH(NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO
		AND DT_FINAL IS NULL
		
				
	OPEN @Cursor_Historico
	FETCH NEXT FROM @Cursor_Historico
	INTO @CD_SIT_ATUAL_HISTORICO_PEDIDO

	WHILE @@FETCH_STATUS = 0
		BEGIN
		
			-- ****************************************************			
			-- FECHA HISTORICO ATUAL
			-- ****************************************************	
			EXEC dbo.SP_GRAVA_HISTORICO_PEDIDO  
					@NM_PEDIDO,
					@CD_SIT_ATUAL_HISTORICO_PEDIDO,
					2,
					0,
					'',
					@CD_USUARIO,
					@VAR_RETORNO		OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT
					
			FETCH NEXT FROM @Cursor_Historico
			INTO @CD_SIT_ATUAL_HISTORICO_PEDIDO
														
		END
		
				
    INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 4')

	-- ****************************************************						 
	--ABRE CANCELADO
	-- ****************************************************	
	EXEC dbo.SP_GRAVA_HISTORICO_PEDIDO  
				@NM_PEDIDO,
				@CD_EST_SITUACAO,
				1,
				0,
				'',
				@CD_USUARIO,
				@VAR_RETORNO		OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
				

	-- ****************************************************	
	--FECHA O CANCELADO
	-- ****************************************************	
	EXEC dbo.SP_GRAVA_HISTORICO_PEDIDO  
				@NM_PEDIDO,
				@CD_EST_SITUACAO,
				2,
				0,
				'',
				@CD_USUARIO,
				@VAR_RETORNO		OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
		

	INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 5')

	-- ***************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON EM 02/10/2016
	-- VERIFICA SE TEM ALGUM ITEM A INCORPORAR NO PEDIDO
	-- E RETORNA O STATUS DE INCORPORADO PARA AGENDADO
	-- ***************************************************

	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
			
		SELECT CD_ORIGEM_ITEM_PEDIDO
		FROM TB_PEDIDO_ITEM WITH(NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO
		AND ID_ORIGEM_ITEM_PEDIDO = 3
			
				
	OPEN @Cursor_Itens
	FETCH NEXT FROM @Cursor_Itens
	INTO @CD_ORIGEM_ITEM_PEDIDO

	WHILE @@FETCH_STATUS = 0
		BEGIN
				
			UPDATE TB_ITEM_INCORPORAR 
            SET ID_SITUACAO_ITEM_INCORPORAR = 1
            WHERE CD_ITEM_INCORPORAR = @CD_ORIGEM_ITEM_PEDIDO
				                																											
			FETCH NEXT FROM @Cursor_Itens
			INTO @CD_ORIGEM_ITEM_PEDIDO														
		END


		--**************************************************************
		-- Cancelando saldo a favor gerado no pedido
		--**************************************************************
		declare @idSitPagamento			  int,
				@qtdItensPedidoSaldoFavor int,
				@NM_PEDIDO_ITEM           NUMERIC(18,0),
				@VL_SALDO_FAVOR_GERAR	  NUMERIC(18,2)
					

		-- Vamos buscar a situacao do pagamento do pedido 
		SELECT @idSitPagamento = ID_SITUACAO_PAGAMENTO 
		FROM TB_DIVIDA WITH(NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO

		--Vamos verificar se existe algum item no pedido que gerou saldo a favor
		SELECT @qtdItensPedidoSaldoFavor = COUNT(*) 
		FROM TB_PEDIDO_ITEM WITH(NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO AND VL_SALDO_FAVOR_GERAR  > 0

		-- SE POSSUI ALGUM PAGAMENTO DEVEMOS EXECUTAR OS INDICADORES DE PAGAMENTO DE PEDIDO
		SELECT @VL_PAGAMENTOS = SUM(C.VL_CONCILIACAO)
		FROM TB_CONCILIACAO C WITH(NOLOCK), TB_DIVIDA D WITH(NOLOCK)
		WHERE C.CD_DIVIDA = D.CD_DIVIDA
		AND D.NM_PEDIDO = @NM_PEDIDO
		AND C.DT_ESTORNO IS NULL

		INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 6')

		-- SE A SITUAÇÃO DO PAGAMENTO FOR IGUAL A 2 (QUITADA) E EXISTIR ALGUM ITEM NO PEDIDO COM VALOR SALDO A FAVOR (> 0), SERÁ EXECUTADO A PROC
		-- SP_CAD_PESSOA_CONTA_CORRENTE Com os parametros para cancelamento do saldo a favor
		if @idsitpagamento = 2 and @qtditenspedidosaldofavor > 0 and @VL_PAGAMENTOS > 0
			BEGIN

				SET @Cursor_Itens = CURSOR FAST_FORWARD
				FOR
					select NM_PEDIDO_ITEM,ISNULL(ID_GERA_SALDO_FAVOR,0),ISNULL(VL_SALDO_FAVOR_GERAR,0) 
					  from tb_pedido_item with(nolock)
					 WHERE NM_PEDIDO = @NM_PEDIDO
					   AND ISNULL(nm_pedido_item_conjunto,0) = 0
		     
				OPEN @Cursor_Itens
				FETCH NEXT FROM @Cursor_Itens
				INTO @NM_PEDIDO_ITEM, @VL_SALDO_FAVOR_GERAR

				WHILE @@FETCH_STATUS = 0
					BEGIN
						IF @VL_SALDO_FAVOR_GERAR > 0 
							BEGIN
								EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
										@CD_PESSOA,			   -- CÓDIGO DA PESSOA JÁ INFORMADO NA PROC
										@CD_FUNCAO,			   -- FUNÇÃO DA PESSOA JÁ INFORMADO NA PROC
										2,					   -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
										2,					   -- TIPO_MOVIMENTO = DÉBITO
										10,					   -- ORIGEM_MOVIMENTO = PRODUTO
										@NM_PEDIDO_ITEM,	   -- OBTER O NM_PEDIDO_ITEM DO ITEM EM QUESTÃO
										22,					   -- ELEMENTO FINANCEIRO = CANCELAMENTO DE SALDO A FAVOR
										@VL_SALDO_FAVOR_GERAR, -- INFORMAÇÃO DO VL_SALDO_FAVOR_GERAR DO ITEM EM QUESTÃO
										@CD_USUARIO,
										@VAR_RETORNO		OUTPUT,
										@DC_ERRO			OUTPUT,
										@QT_LINHAS_AFETADAS	OUTPUT
							END
         
						FETCH NEXT FROM @Cursor_Itens
						INTO @NM_PEDIDO_ITEM, @VL_SALDO_FAVOR_GERAR
					END

			END	
					

		-- ***************************************************
		-- CANCELAR A DIVIDA DO PEDIDO					
		-- ***************************************************
		SELECT @V_QTD_DIVIDAS_ATIVAS = COUNT(*) 
		FROM TB_DIVIDA WITH(NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO
		AND ID_SITUACAO_DIVIDA = 1 -- ABERTA	
		
		IF @V_QTD_DIVIDAS_ATIVAS > 0
			
			BEGIN
				----***********************************************
				-- Correção aplicada por Diego Zilioti em 09/05/18 decorrente da tarefa 121 Redmine
				-- Temos que cancelar todas as dívidas do pedido independente de problemas que tenham gerado 2 ou mais dívidas para um único pedido
				----***********************************************
				-- BUSCA O NUMERO DA DIVIDA
				--SELECT @CD_DIVIDA_PEDIDO = CD_DIVIDA 
				--FROM TB_DIVIDA
				--WHERE NM_PEDIDO = @NM_PEDIDO
				-- AND ID_SITUACAO_DIVIDA = 1 -- ABERTA	
			
				UPDATE TB_DIVIDA
				SET ID_SITUACAO_DIVIDA  = 2, --FECHADA
					ID_SITUACAO_PAGAMENTO = 4 --CANCELADA	
				WHERE CD_DIVIDA in (SELECT CD_DIVIDA
									  FROM TB_DIVIDA WITH(NOLOCK)
									 WHERE NM_PEDIDO = @NM_PEDIDO) -- @CD_DIVIDA_PEDIDO
				AND ID_SITUACAO_DIVIDA = 1 -- ABERTA
				
				UPDATE TB_PARCELA
				SET ID_SITUACAO_PARCELA = 2, -- FECHADA
					ID_SITUACAO_PAGAMENTO_PARCELA = 4 -- CANCELADA
				WHERE CD_DIVIDA IN (SELECT CD_DIVIDA
									  FROM TB_DIVIDA WITH(NOLOCK)
									 WHERE NM_PEDIDO = @NM_PEDIDO) --= @CD_DIVIDA_PEDIDO
				AND ID_SITUACAO_PARCELA = 1 -- ABERTA
				
				UPDATE TB_ACORDO_PAGAMENTO
				SET ID_SITUACAO_ACORDO_PAGAMENTO = 2 -- FECHADA
				WHERE CD_DIVIDA IN (SELECT CD_DIVIDA
									  FROM TB_DIVIDA WITH(NOLOCK)
									 WHERE NM_PEDIDO = @NM_PEDIDO) --= @CD_DIVIDA_PEDIDO
				AND ID_SITUACAO_ACORDO_PAGAMENTO = 1 -- ABERTA
				
			
			END
		
		INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 7')
		
		-- *************************************************************
		-- VERIFICA SE POSSUI INTEGRAÇÃO DE CARTAO VALIDA E CANCELA
		-- *************************************************************
		--UPDATE TB_INTEGRACAO_CARTAO SET ID_SITUACAO_INTEGRACAO_CARTAO = 4
		--WHERE ID_SITUACAO_INTEGRACAO_CARTAO IN (1,2)
		--AND NM_PEDIDO = @NM_PEDIDO
		
		-- *************************************************************
		-- SOLICITA ESTORNO CASO TENHA REGISTRADO COM SUCESSO
		-- *************************************************************
		--UPDATE TB_INTEGRACAO_CARTAO SET ID_SITUACAO_INTEGRACAO_CARTAO = 5
		--WHERE ID_SITUACAO_INTEGRACAO_CARTAO IN (3)
		--AND NM_PEDIDO = @NM_PEDIDO
				
		
		-- ****************************************************	
		-- ATUALIZA CREDITO DA PESSOA
		-- ****************************************************	
		EXEC dbo.SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
			@CD_PESSOA,
			@CD_FUNCAO,
			0,
			0,
			@CD_USUARIO		
			
		INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 8')		
		
		-- ****************************************************	
		-- GERA SITUAÇÃO COMERCIAL DA PESSOA
		-- ****************************************************	
		IF @CICLO_APROVACAO <> 0
			BEGIN
			
				EXEC pr_PessoaGeraSituacaoComercial
					@CD_PESSOA,
					@CD_FUNCAO,
					0, -- CODIGO ESTRUTURA COMERCIAL
					@CICLO_APROVACAO,
					3, -- EVENTO CANCELAMENTO DE PEDIDO
					@CD_USUARIO,
					@VAR_RETORNO		OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT
			
			END
			
			
		INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 9')
		
		-- ****************************************************
		-- VERIFICA SE O PEDIDO USOU SALDO A FAVOR
		-- EM CASO POSITIVO É PRECISO DEVOLVER O SALDO
		-- ****************************************************
		SELECT	@VL_SALDO_FAVOR_UTILIZADO = ISNULL(VL_SALDO_FAVOR_UTILIZADO,0)
		FROM TB_PEDIDO WITH(NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO
		
		IF @VL_SALDO_FAVOR_UTILIZADO <> 0
			BEGIN
					
				-- GERAR SALDO A FAVOR
				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
					@CD_PESSOA,
					@CD_FUNCAO,
					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
					1, -- TIPO_MOVIMENTO = CREDITO
					2, -- ORIGEM_MOVIMENTO = CANCELAMENTO DE PEDIDO
					@NM_PEDIDO,
					20, -- ELEMENTO FINANCEIRO = CRIAÇÃO DE SALDO A FAVOR
					@VL_SALDO_FAVOR_UTILIZADO,
					@CD_USUARIO,
					@VAR_RETORNO		OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS	OUTPUT	
					
			END


		INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 10')

		-- ****************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 03/02/2020
		-- VERIFICA SE O PEDIDO USOU MOEDA VIRTUAL
		-- EM CASO POSITIVO É PRECISO DEVOLVER O SALDO
		-- ****************************************************
		SELECT	@VL_MOEDA_VIRTUAL_UTILIZADO = ISNULL(VL_MOEDA_VIRTUAL_UTILIZADO,0)
		FROM TB_PEDIDO WITH(NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO
		
		IF @VL_MOEDA_VIRTUAL_UTILIZADO > 0
			BEGIN
					
				-- GERAR SALDO A FAVOR
				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
					@CD_PESSOA,
					@CD_FUNCAO,
					4, -- ENTIDADE_CONTA_CORRENTE = MOEDA
					1, -- TIPO_MOVIMENTO = CREDITO
					2, -- ORIGEM_MOVIMENTO = CANCELAMENTO DE PEDIDO
					@NM_PEDIDO,
					20, -- ELEMENTO FINANCEIRO = CRIAÇÃO DE SALDO A FAVOR
					@VL_MOEDA_VIRTUAL_UTILIZADO,
					@CD_USUARIO,
					@VAR_RETORNO		OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS	OUTPUT	
					
			END
			
		INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 11')

		-- ****************************************************
		-- VERIFICA SE O PEDIDO POSSUI NOTA FISCAL EMITIDA
		-- EM CASO POSITIVO TENTA CANCELAR DE ACORDO COM AS REGRAS E UTILIZAÇÃO DA NFE
		-- ****************************************************
		
        SELECT @CD_NOTA_FISCAL = CD_NOTA_FISCAL
        FROM TB_NOTA_FISCAL WITH(NOLOCK)
        WHERE CD_PESSOA_DESTINATARIO  = @CD_PESSOA
        AND   NM_PEDIDO               = @NM_PEDIDO 
        AND   ID_SITUACAO_NOTA_FISCAL = 2
        
        SELECT @ID_TRABALHA_NFE = COUNT(*)
        FROM TB_NFE_PARAMETRO WITH(NOLOCK)
        
        IF @CD_NOTA_FISCAL IS NOT NULL  -- VERIFICAR SE A NOTA FISCAL FOI EMITIDA
        BEGIN
		
		-- VERIFICA SE O CLIENTE TRABALHA COM NFE
		IF @ID_TRABALHA_NFE > 0 -- TRABALHA COM NFE
			BEGIN
			
			-- VERIFICA SE NF ESTÁ NO PRAZO PARA CANCELAMENTO DE ACORDO COM A UF DE EMISSÃO DA NOTA
			SELECT @ID_CANC_NFE = dbo.FN_BUSCA_PRAZO_CANC_NFE(@CD_NOTA_FISCAL)
			
			IF @ID_CANC_NFE = 1 -- DENTRO DO PRAZO
				BEGIN
				
					UPDATE TB_NOTA_FISCAL
					SET ID_SITUACAO_NOTA_FISCAL = 3 -- DISPONIVEL PARA CANCELAMENTO
					WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL        
				
				END

			IF @ID_CANC_NFE = 0 -- FORA DO PRAZO
				BEGIN
				
					UPDATE TB_NOTA_FISCAL
					SET ID_SITUACAO_CANCELAMENTO_NF = 4 -- FORA DO PRAZO
					WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL        
				
				END
			
			END
			
		IF @ID_TRABALHA_NFE = 0	-- NÃO EXISTE NFE
			BEGIN
			-- CANCELAR A NOTA FISCAL DO PEDIDO CANCELADO
			UPDATE TB_NOTA_FISCAL
			SET ID_SITUACAO_NOTA_FISCAL = 4,
				ID_SITUACAO_CANCELAMENTO_NF = 2
			WHERE CD_NOTA_FISCAL = @CD_NOTA_FISCAL        
	          
			END

        END

		-- *******************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 15/06/2018
		-- AO CANCELAR UM PEDIDO PAGO NÃO ESTAVA GERANDO O SALDO A FAVOR PARA O CLIENTE
		-- Validação adicional incluída por Diego Zilioti em 17/02/202
		-- vamos verificar se o parâmetro para geração do saldo a favor no cancelamento está ativo
		-- *******************************************************************

		select @v_idGeraSaldoFavorCancelamento = isnull(vl_parametro,0)
		  from tb_valor_parametro WITH(NOLOCK)
		 where cd_grupo_parametro = 8
		   and cd_parametro = 14

		IF @idsitpagamento = 2 and @VL_PAGAMENTOS_PEDIDO > 0 and @v_idGeraSaldoFavorCancelamento = 1
			BEGIN
				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						@CD_PESSOA,			   -- CÓDIGO DA PESSOA JÁ INFORMADO NA PROC
						@CD_FUNCAO,			   -- FUNÇÃO DA PESSOA JÁ INFORMADO NA PROC
						2,					   -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						1,					   -- TIPO_MOVIMENTO = CREDITO
						2,					   -- ORIGEM_MOVIMENTO = CANCELAMENTO DE PEDIDO PAGO
						0,					   -- OBTER O NM_PEDIDO_ITEM DO ITEM EM QUESTÃO
						20,					   -- ELEMENTO FINANCEIRO = CRIACAO DE SALDO A FAVOR
						@VL_PAGAMENTOS_PEDIDO, 
						@CD_USUARIO,
						@VAR_RETORNO		OUTPUT,
						@DC_ERRO			OUTPUT,
						@QT_LINHAS_AFETADAS	OUTPUT
					
         
				
			END


		INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 12')


		-- *******************************************************************
		-- CANCELA OS ITENS A INCORPORAR QUE FORAM GERADOS PELO PEDIDO
		-- *******************************************************************
		;WITH IDS_CANCELAR AS (
			SELECT PI.CD_ORIGEM_ITEM_PEDIDO
			FROM TB_PEDIDO_ITEM PI
			LEFT JOIN TB_ITEM_INCORPORAR II
				ON II.CD_ITEM_INCORPORAR = PI.CD_ORIGEM_ITEM_PEDIDO
			LEFT JOIN TB_PEDIDO P
				ON P.NM_PEDIDO = II.NM_PEDIDO_ORIGEM
			WHERE 
				PI.ID_ORIGEM_ITEM_PEDIDO = 3 
				AND P.CD_EST_SITUACAO = 3
				AND PI.NM_PEDIDO = @NM_PEDIDO
			UNION ALL
			SELECT II.CD_ITEM_INCORPORAR
			FROM TB_ITEM_INCORPORAR II
			LEFT JOIN TB_PEDIDO_ITEM PI
				ON PI.CD_ORIGEM_ITEM_PEDIDO = II.CD_ITEM_INCORPORAR
			LEFT JOIN TB_PEDIDO P
				ON P.NM_PEDIDO = PI.NM_PEDIDO
			WHERE 
				P.CD_EST_SITUACAO = 3
			AND II.NM_PEDIDO_ORIGEM = @NM_PEDIDO
			UNION ALL
			SELECT II.CD_ITEM_INCORPORAR
			FROM TB_ITEM_INCORPORAR II
			LEFT JOIN TB_PEDIDO P
				ON P.NM_PEDIDO = II.NM_PEDIDO_ORIGEM
			WHERE 
			P.CD_EST_SITUACAO = 3 
			AND II.NM_PEDIDO_ORIGEM = @NM_PEDIDO
			AND II.ID_SITUACAO_ITEM_INCORPORAR = 1
		)
		UPDATE TB_ITEM_INCORPORAR
		SET ID_SITUACAO_ITEM_INCORPORAR = 3
		WHERE CD_ITEM_INCORPORAR IN (SELECT * FROM IDS_CANCELAR)
				
		-- ***************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 05/03/2018
		-- VERIFICA SE POSSUI AINDA DIVIDA VENCIDA
		-- POIS TEMOS QUE LIBERAR AS PENDENCIAS DE DIVIDA (CASO NÃO TENHA MAIS DIVIDA VENCIDA)
		-- ***************************************************	
		EXEC pr_PedidoLiberaPendenciaDividaVencidaAutomaticamente
			@CD_PESSOA,
			@CD_USUARIO,
			@VAR_RETORNO			OUTPUT,
			@DC_ERRO				OUTPUT,
			@QT_LINHAS_AFETADAS		OUTPUT


		-- ***************************************************
		-- VERIFICA SE GERA PLANO DE ASSINATURA PARA A PESSOA
		-- ***************************************************	
		EXEC	pr_PlanoAssinaturaGerenciarPlano
			@CD_PESSOA,			--@p_cdPessoa								numeric(18,0),
			@NM_PEDIDO,			--@p_nmPedido								numeric(18,0),
			3,					--@p_idEvento								int,
			@CD_USUARIO,
			@VAR_RETORNO		OUTPUT,
			@DC_ERRO			OUTPUT,
			@QT_LINHAS_AFETADAS	OUTPUT		
		

		-- ***************************************************
		-- ATUALIZA O SALDO DUSPONIVEL DO PEDIDO
		-- ***************************************************
		EXEC SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
			@CD_PESSOA,
			@CD_FUNCAO,
			0,
			0,
			@CD_USUARIO

		-- *******************************************
		-- ENVIA EMAIL
		-- *******************************************
		-- Alteração em 18/10/18 por Diego Zilioti
		-- Só devemos enviar o e-mail se o pedido estiver finalizado
		IF (@CD_SIT_PEDIDO_ANTERIOR NOT IN (1,100,101,99))
			BEGIN
				EXEC pr_PedidoEnviarEmailMudancaStatus
					@NM_PEDIDO,			--@p_nmPedido					NUMERIC(18,0),
					24,				--@p_cdEvento					INT,
					@VAR_RETORNO		OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT
			END

		INSERT INTO TB_TESTE_CANCELA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 13')

		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
