SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_ApiContasReceberAtualizarParcela]
	@p_codigoParcela		NUMERIC(18,0),
	@p_codigoParcelaExterno	VARCHAR(100),
	@p_dataVencimento		DATETIME,
	@p_idSituacaoParcela	INT,
	@p_valorPagamento		NUMERIC(18,2),
	@p_dataPagamento		DATETIME,
			
	@p_codigoUsuario		NUMERIC(18,0),
		
	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(1000) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT,
	@p_codigoPagamento		NUMERIC(18,0) OUTPUT
AS

DECLARE @v_existeParcela				TINYINT,
		@v_existeEntConciliacao			TINYINT,
		@v_situacaoAtualParcela			INT,
		@v_codigoEntidadeConciliacao	NUMERIC(18,0)

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	SELECT @p_qtLinhasAfetadas = 0

	SELECT @v_existeParcela = COUNT(*)
	  FROM TB_PARCELA WITH(NOLOCK)
	 WHERE CD_PARCELA = @p_codigoParcela

	IF @v_existeParcela = 0
		BEGIN
			-- NÃO ENCONTROU A PARCELA, SAI DA ROTINA
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Código da parcela/título não encontrado'

			RETURN
		END
	ELSE
		BEGIN
			SELECT @v_situacaoAtualParcela = ISNULL(ID_SITUACAO_PARCELA,0)
			  FROM TB_PARCELA WITH(NOLOCK)
			 WHERE CD_PARCELA = @p_codigoParcela
		END
	
	-- se a parcela estiver fechada não vamos permitir a atualização
	IF @v_situacaoAtualParcela = 2
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'A parcela já se encontra fechada.'

			RETURN
		END
	-- valida o valor de pagamento
	IF @p_valorPagamento < 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O valor de pagamento deve ser maior ou igual a zero'

			RETURN
		END

	-- ATUALIZA AS INFORMAÇÕES DA PARCELA
	UPDATE TB_PARCELA
	   SET DT_VENCIMENTO = @p_dataVencimento,
		   CD_PARCELA_EXTERNO = @p_codigoParcelaExterno,
		   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
		   DT_ATUALIZACAO = GETDATE()
	 WHERE CD_PARCELA = @p_codigoParcela
	
	-- SE FOR INFORMADO PAGAMENTO VAMOS COLOCAR PARA PROCESSAMENTO
	IF @p_valorPagamento > 0
		BEGIN
			-- BUSCA A ENTIDADE DE CONCILIAÇÃO DA API
			SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO
			  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			 WHERE CD_GRUPO_PARAMETRO = 8
			   AND CD_PARAMETRO = 16

			--agora executa a conciliação depois de validar os parâmetros
			EXEC dbo.SP_BAIXA_CONCILIACAO	@p_codigoParcela,
											@p_valorPagamento,
											@v_codigoEntidadeConciliacao,
											2, -- AUTOMATICO
											'',
											@p_codigoUsuario,
											@p_codigoErro OUTPUT,
											@p_descErro OUTPUT,
											@p_qtLinhasAfetadas OUTPUT

			-- SE NÃO HOUVER ERRO PRECISAMOS RETORNAR O ID DA CONCILIAÇÃO
			IF @p_codigoErro > 0
				BEGIN
					RETURN
				END
			ELSE
				BEGIN
					SELECT @p_codigoPagamento = MAX(CD_PROCESSAMENTO_BAIXA_CONCILIACAO)
					  FROM TB_PROCESSAMENTO_BAIXA_CONCILIACAO WITH(NOLOCK)
					 WHERE CD_PARCELA = @p_codigoParcela
				END
		END

	-- TRATAMENTO PARA A QUESTÃO DA SITUAÇÃO
	IF @p_idSituacaoParcela = 1
		BEGIN
			-- ATUALIZA A SITUAÇÃO DA PARCELA PARA EM ABERTO
			UPDATE TB_PARCELA
			   SET ID_SITUACAO_PARCELA = 1, ID_SITUACAO_PAGAMENTO_PARCELA = 1
			 WHERE CD_PARCELA = @p_codigoParcela
		END

	-- TRATAMENTO PARA SITUAÇÃO 2 - PAGA
	IF @p_idSituacaoParcela = 2
		BEGIN
			-- ATUALIZA A SITUAÇÃO DA PARCELA QUITADA CASO NÃO TENHA SIDO ENVIADO VALOR DE PAGAMENTO
			-- ISTO PORQUE TEMOS UM JOB QUE PROCESSA OS PAGAMENTOS E NÃO PODEMOS ATUALIZAR A SITUAÇÃO ANTES DELE RODAR
			IF @p_valorPagamento <= 0
				BEGIN
					UPDATE TB_PARCELA
					   SET ID_SITUACAO_PARCELA = 2, ID_SITUACAO_PAGAMENTO_PARCELA = 2
					 WHERE CD_PARCELA = @p_codigoParcela
				END
		END

	IF @p_idSituacaoParcela = 3
		BEGIN
			-- ATUALIZA A SITUAÇÃO DA PARCELA PARA VENCIDA
			UPDATE TB_PARCELA
			   SET ID_SITUACAO_PARCELA = 1, ID_SITUACAO_PAGAMENTO_PARCELA = 3
			 WHERE CD_PARCELA = @p_codigoParcela
		END

	IF @p_idSituacaoParcela = 4
		BEGIN
			-- ATUALIZA A SITUAÇÃO DA PARCELA PARA CANCELADA
			UPDATE TB_PARCELA
			   SET ID_SITUACAO_PARCELA = 2, ID_SITUACAO_PAGAMENTO_PARCELA = 4
			 WHERE CD_PARCELA = @p_codigoParcela
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
