SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CONSOLIDA_PEDIDO]
	 @NM_PEDIDO						NUMERIC(18,0)
	,@CD_USUARIO					NUMERIC(18,0)
	
	,@VAR_RETORNO					INT OUTPUT
	,@DC_ERRO						NVARCHAR(MAX) OUTPUT
	,@QT_LINHAS_AFETADAS			INT OUTPUT
	
AS
		
DECLARE  @CD_SIT_PAI					INT
		,@VL_CREDITO_TOTAL				numeric(18,2)
		,@VL_TABELA_TOTAL				numeric(18,2)
		,@VL_PRATICADO_TOTAL			numeric(18,2)
		,@VL_LIQUIDO_TOTAL				numeric(18,2)
		,@VL_IMPOSTO_TOTAL				numeric(18,2)
		,@VL_COMISSAO_CN				numeric(18,2)
		,@VL_PAGAR_TOTAL				numeric(18,2)
		,@VL_CUSTO_TOTAL				numeric(18,2)
		,@ID_LIMITE_SALDO_FAVOR			INT
		,@PC_LIMITE_SALDO_FAVOR			NUMERIC(18,4)
		,@VL_SALDO_FAVOR_DISPONIVEL		NUMERIC(18,2)
		,@VL_SALDO_FAVOR_UTILIZADO		NUMERIC(18,2)
		,@VL_SALDO_DEVEDOR_DISPONIVEL	NUMERIC(18,2)
		,@VL_SALDO_DEVEDOR_UTILIZADO	NUMERIC(18,2)
		,@CD_PESSOA						NUMERIC(18,0)
		,@CD_FUNCAO						NUMERIC(18,0)
		,@GRAVA_ESTOQUE_PESSOA			INT
		,@VL_PONTOS_TOTAL               NUMERIC(18,2)
		,@VL_CUPOM_DESCONTO_UTILIZADO	NUMERIC(18,2)
		,@VL_DESC_PAGAMENTO_APLICADO	NUMERIC(18,2)
		
BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0

	BEGIN TRANSACTION 
		
	SELECT	@VL_CREDITO_TOTAL =		SUM(VL_CREDITO_TOTAL)
		,@VL_TABELA_TOTAL     =		SUM(VL_TABELA_TOTAL)
		,@VL_PRATICADO_TOTAL  =		SUM(VL_PRATICADO_TOTAL)
		,@VL_LIQUIDO_TOTAL    =		SUM(VL_LIQUIDO_TOTAL)
		,@VL_IMPOSTO_TOTAL    =		SUM(VL_IMPOSTO_TOTAL)
		,@VL_COMISSAO_CN      =		SUM(VL_COMISSAO_CN)
		,@VL_PAGAR_TOTAL      =		SUM(VL_PAGAR_TOTAL)
		,@VL_CUSTO_TOTAL      =		SUM(VL_CUSTO_TOTAL)
		,@VL_PONTOS_TOTAL     =     SUM(VL_PONTOS)
	FROM 
		TB_PEDIDO_ITEM WITH(NOLOCK)
	WHERE 
		NM_PEDIDO =	@NM_PEDIDO
		AND NM_PEDIDO_ITEM_CONJUNTO = 0
		AND ID_PRODUTO_COBRADO = 1
			
	-- ************************************************************
	-- GRAVA NA TABELA TB_PEDIDO O SALDO A FAVOR QUE SERÁ UTILIZADO
	-- GERENCIA SALDO A FAVOR DISPONIVEL
	-- ************************************************************
			
	-- VERIFICA SE POSSUI SALDO A FAVOR
	SELECT @VL_SALDO_FAVOR_DISPONIVEL = ISNULL(VL_SALDO_FAVOR_DISPONIVEL,0),
		   @VL_CUPOM_DESCONTO_UTILIZADO = ISNULL(VL_DESCONTO_CUPOM_APLICADO,0),
		   @VL_DESC_PAGAMENTO_APLICADO = ISNULL(VL_DESCONTO_PLANO_PAGAMENTO,0)
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE NM_PEDIDO = @NM_PEDIDO

	-- ************************************************************
	-- ALTERAÇÃO POR DIEGO ZILIOTI EM 21/01/2021 - BITRIX 1705
	-- CORREÇÃO NA UTILIZAÇÃO DO VALOR DO SALDO A FAVOR + CUPOM DE DESCONTO UTILIZADO NO PEDIDO
	-- NESTA ROTINA NÃO ESTAVA CONSIDERANDO O VALOR DO CUPOM UTILIZADO NO PEDIDO
	-- ************************************************************

	IF @VL_SALDO_FAVOR_DISPONIVEL <> 0
		BEGIN
				
			-- ****************************************************
			-- verifica parametros da Regra Comercial
			-- ****************************************************
			SELECT  @ID_LIMITE_SALDO_FAVOR = ISNULL(B.ID_LIMITE_SALDO_FAVOR, 2),
					@PC_LIMITE_SALDO_FAVOR = ISNULL(B.PC_LIMITE_SALDO_FAVOR, 0),
					@CD_PESSOA = A.CD_PESSOA,
					@CD_FUNCAO = A.CD_FUNCAO 	
			FROM TB_PEDIDO A WITH(NOLOCK), TB_REGRA_COMERCIAL B WITH(NOLOCK)
			WHERE A.NM_PEDIDO = @NM_PEDIDO
			AND A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
				
			IF @ID_LIMITE_SALDO_FAVOR <> 1 
				BEGIN
							
					-- É PRECISO VERIFICAR O SALDO A FAVOR UTILIZADO. ISSO PORQUE SÓ 
					-- SÓ PODEMOS UTILIZAR COMO MAXIMO O VALOR DO PEDIDO (PRODUTOS)
					
					IF @VL_SALDO_FAVOR_DISPONIVEL <= (@VL_PAGAR_TOTAL - @VL_CUPOM_DESCONTO_UTILIZADO - @VL_DESC_PAGAMENTO_APLICADO)
						BEGIN
							SELECT @VL_SALDO_FAVOR_UTILIZADO = @VL_SALDO_FAVOR_DISPONIVEL
						END
					ELSE
						BEGIN
							SELECT @VL_SALDO_FAVOR_UTILIZADO = @VL_PAGAR_TOTAL - @VL_CUPOM_DESCONTO_UTILIZADO - @VL_DESC_PAGAMENTO_APLICADO
						END

				END
			ELSE
				BEGIN
		
					-- ********************************************************************
					-- CALCULA O SALDO A FAVOR QUE  UTILIZADO DEPENDENDO DO PERCENTUAL
					-- ********************************************************************
							
					SELECT @VL_SALDO_FAVOR_UTILIZADO = @VL_PAGAR_TOTAL * (@PC_LIMITE_SALDO_FAVOR/ 100)
							
					IF @VL_SALDO_FAVOR_UTILIZADO >= @VL_SALDO_FAVOR_DISPONIVEL
						-- SE O VALOR CALCULA FOR MAIOR OU IGUAL AO DISPONIVEL ENTÃO VAMOS
						-- UTILIZAR TODO O DISPONIVEL
						BEGIN
							SELECT @VL_SALDO_FAVOR_UTILIZADO = @VL_SALDO_FAVOR_DISPONIVEL
						END
					
				END
					
			IF @VL_SALDO_FAVOR_UTILIZADO <> 0
				BEGIN
									
					EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						@CD_PESSOA,
						@CD_FUNCAO,
						2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						2, -- TIPO_MOVIMENTO = DEBITO
						1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						@NM_PEDIDO,
						21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						@VL_SALDO_FAVOR_UTILIZADO,
						@CD_USUARIO,
						@VAR_RETORNO		OUTPUT,
						@DC_ERRO			OUTPUT,
						@QT_LINHAS_AFETADAS OUTPUT
																												
					UPDATE TB_PEDIDO 
					SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO
					WHERE NM_PEDIDO = @NM_PEDIDO

				END
		END
	ELSE
		BEGIN
			-- SÓ VAMOS ALTERAR O VALOR PARA ZERO SE A COLUNA FOR NULO
			UPDATE TB_PEDIDO 
			SET VL_SALDO_FAVOR_UTILIZADO =  0
			WHERE NM_PEDIDO = @NM_PEDIDO	
			AND VL_SALDO_FAVOR_UTILIZADO IS NULL
					
					
			UPDATE TB_PEDIDO 
			SET PC_LIMITE_SALDO_FAVOR = 0
			WHERE NM_PEDIDO = @NM_PEDIDO	
			AND PC_LIMITE_SALDO_FAVOR IS NULL

			-- *********************************************************************************************************************
			-- ALTERAÇÃO FEITA POR ANDERSON - 19/05/2021
			-- ASIM COMO O SALDO A FAVOR TEMOS QUE VERIFICAR SE O CUPOM DE DESCONTO É MAIOR QUE O VALOR A PAGAR DO PEDIDO
			-- NOS CASOS EM QUE O CUPOM DE DESCONTO É MAIOR O VALOR A PAGAR DO PEDIDO ESTA SENDO NEGATIVO
			-- O PRIMEIRO CENARIO QUE PEGAMOS O SALDO A FAVOR ERA 0 E O CUPOM DE DESCONTO ERA MAIOR QUE O VALOR DO PEDIDO
			-- NESSE CASO VAMOS TRATAR APENAS O CUPOM DE DESCONTO E O DESCONTO DE PAGAMENTO, POIS O SALDO A FAVOR FOI TRATADO ACIMA
			-- *********************************************************************************************************************

			IF @VL_CUPOM_DESCONTO_UTILIZADO > 0
				BEGIN
					IF @VL_CUPOM_DESCONTO_UTILIZADO + @VL_DESC_PAGAMENTO_APLICADO > @VL_PAGAR_TOTAL
						BEGIN
							SELECT @VL_CUPOM_DESCONTO_UTILIZADO = @VL_PAGAR_TOTAL - @VL_DESC_PAGAMENTO_APLICADO

							UPDATE TB_PEDIDO 
							SET VL_DESCONTO_CUPOM_APLICADO = @VL_CUPOM_DESCONTO_UTILIZADO
							WHERE NM_PEDIDO = @NM_PEDIDO	
			
						END
				END

		END
			
	-- **********************************************
	-- UPDATE NA TABELA TB_PEDIDO
	-- **********************************************

	-- QUANDO UM PEDIDO TEM VALOR ZERO ESTAVA DANDO PAU QUANDO TINHA SALDO A FAVOR 
	-- E NÃO GRAVAVA NO VALOR DO PEDIDO

	EXEC pr_PedidoConsolidaValoresPedido
			@NM_PEDIDO,			--@p_nmPedido					
			1,					--@p_idAtualizacao	(BASEADO NA TABELA TB_PEDIDO_ITEM)		
			0,					--@p_vlCreditoTotal			
			0,					--@p_vlTabelaTotal			
			0,					--@p_vlPraticadoTotal			
			0,					--@p_vlLiquidoTotal			
			0,					--@p_vlImpostoTotal			
			0,					--@p_vlComissaoCN				
			0,					--@p_vlCustoTotal				
			0,					--@p_vlProdutosTotal			
			0,					--@p_vlTabelaTeoricoTotal		
			0,					--@p_vlPagarTotal				
			0,					--@p_vlPagarTeoricoTotal		
			0,					--@p_vlPontosTotal			

			@VAR_RETORNO			output,
			@DC_ERRO				output,
			@QT_LINHAS_AFETADAS		output

	-- ***************************************************************
	-- VERIFICA PARAMETRO SE DEVE OU NÃO GRAVAR O ESTOQUE DA PESSOA
	-- ***************************************************************
	SELECT @GRAVA_ESTOQUE_PESSOA = VL_PARAMETRO
	FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	WHERE CD_GRUPO_PARAMETRO = 4
	AND CD_PARAMETRO = 2
	AND CD_VALOR_PARAMETRO = 1
			
	IF @GRAVA_ESTOQUE_PESSOA = 1
		BEGIN
			EXEC SP_BAIXA_MATERIAL_PESSOA
     			@NM_PEDIDO,
				1,
				@CD_USUARIO,
				@VAR_RETORNO OUTPUT,
				@DC_ERRO OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
		END
			
	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT

	COMMIT TRANSACTION
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
