SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaMeusPedidos]
	@CD_PESSOA              NUMERIC(18,0), -- deve ser passado
    @CD_EST_COMERCIAL       NUMERIC(18,0), -- deve ser passado
    @DT_CAPTACAO_INICIAL    varchar(10),          -- Se ficar em branco listar todos (enviar “01-01-1900” na chamada da proc)
    @DT_CAPTACAO_FINAL      varchar(10),          -- Se ficar em branco listar todos (enviar “31-12-2300” na chamada da proc)
    @NM_CICLO_INICIAL       NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
    @NM_CICLO_FINAL         NUMERIC(18,0), -- Se ficar em branco listar todos (enviar “0” na chamada da proc)
    @CD_SITUACAO_PEDIDO		NUMERIC(18,0) -- Se ficar em branco listar todos (enviar “0” na chamada da proc)

AS
DECLARE @CD_CLIENTE NUMERIC(18,0)
BEGIN
	select @CD_CLIENTE = vl_parametro 
	from TB_valor_PARAMETRO WITH(NOLOCK)
	where CD_GRUPO_PARAMETRO = 6
	and CD_PARAMETRO         = 1
	and CD_VALOR_PARAMETRO   = 1

	-- *********************************************************
	-- 21 - PHYTOTERAPICA
	-- 25 - ASOS
	-- 41 - AKMOS
	-- 47 - MAHOGANY
	-- 53 - WEST
	-- 57 - LOWELL
	-- *********************************************************
	IF (@CD_CLIENTE not in (21, 25, 47, 41,53, 57))    
		BEGIN 
			select PE.NM_PEDIDO AS "ID",  
			   PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
			   PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
			   PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
			   PE.VL_PAGAR_TOTAL AS "Valor",  
			   PE.VL_CREDITO_TOTAL AS "Créditos",
			   ES.DC_EST_SITUACAO AS "Situação"  
			From TB_PEDIDO PE WITH(NOLOCK), 
				 TB_EST_SITUACAO ES WITH(NOLOCK)
			WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
			AND PE.CD_PESSOA             =  @CD_PESSOA
			AND PE.CD_EST_COMERCIAL      =  @CD_EST_COMERCIAL        
			AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
			AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL)
			AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
			AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
			AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
			order by PE.DT_CADASTRO_PEDIDO desc
	END

	-- *********************************************************
	-- 25 - ASOS
	-- 41 - AKMOS
	-- *********************************************************
	IF (@CD_CLIENTE in (25, 41))   
		BEGIN 
			select PE.NM_PEDIDO AS "ID",  
				PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
				PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
				PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
				'R$' + REPLACE(CONVERT(VARCHAR,PE.VL_PAGAR_TOTAL),'.',',') AS "Valor",  
				PE.VL_PONTOS_TOTAL AS "Pontos",
				ISNULL(PE.VL_PONTOS_LIQUIDO,PE.VL_PONTOS_TOTAL) AS "Pontos Líquidos",
				ES.DC_EST_SITUACAO AS "Situação"  
			From TB_PEDIDO PE WITH(NOLOCK), 
					TB_EST_SITUACAO ES WITH(NOLOCK)
			WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
			AND PE.CD_PESSOA             =  @CD_PESSOA
			AND PE.CD_EST_COMERCIAL      =  @CD_EST_COMERCIAL        
			AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
			AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL)
			AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
			AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
			AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
			order by PE.DT_CADASTRO_PEDIDO desc
		END

	-- *********************************************************
	-- 53 - WEST
	-- *********************************************************
	IF (@CD_CLIENTE in (53))    
		BEGIN 
			select PE.NM_PEDIDO AS "ID",  
			   PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
			   PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
			   PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
			   PE.VL_PAGAR_TOTAL AS "Valor",  
			   PE.VL_PONTOS_TOTAL AS "Pontos",
			   ES.DC_EST_SITUACAO AS "Situação",
			   PE.DC_OBSERVACOES_PEDIDO AS "Observação",
			   dbo.FN_BUSCA_NOME_PESSOA(PE.CD_RV_INDICANTE) AS "Intercambista" 
			From TB_PEDIDO PE WITH(NOLOCK), 
				 TB_EST_SITUACAO ES WITH(NOLOCK)
			WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
			AND PE.CD_PESSOA             =  @CD_PESSOA
			AND PE.CD_EST_COMERCIAL      =  @CD_EST_COMERCIAL        
			AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
			AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL)
			AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
			AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
			AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
			order by PE.DT_CADASTRO_PEDIDO
		END

	-- *********************************************************
	-- 21 - PHYTO
	-- *********************************************************
	IF (@CD_CLIENTE in (21))  
		BEGIN
			select PE.NM_PEDIDO AS "ID",  
			   PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
			   PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
			   PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
			   PE.VL_PAGAR_TOTAL AS "Valor",  
			   PE.VL_CREDITO_TOTAL AS "Créditos",
			   ES.DC_EST_SITUACAO AS "Situação"  
			From TB_PEDIDO PE WITH(NOLOCK), 
				 TB_EST_SITUACAO ES WITH(NOLOCK)
			WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
			AND PE.CD_PESSOA             =  @CD_PESSOA
			--AND PE.CD_EST_COMERCIAL      =  @CD_EST_COMERCIAL        
			AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
			AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL)
			AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
			AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
			AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
			order by PE.DT_CADASTRO_PEDIDO desc
		END	

	-- *********************************************************
	-- 47 - MAHOGANY
	-- *********************************************************
	IF (@CD_CLIENTE in (47))    
		BEGIN 
			select PE.NM_PEDIDO AS "ID",  
			   PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
			   PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
			   PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
			   PE.VL_PAGAR_TOTAL AS "Valor",  
			   PE.VL_CREDITO_TOTAL AS "Créditos",
			   ES.DC_EST_SITUACAO AS "Situação"  
			From TB_PEDIDO PE WITH(NOLOCK), 
				 TB_EST_SITUACAO ES WITH(NOLOCK)
			WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
			AND PE.CD_PESSOA             =  @CD_PESSOA
			--AND PE.CD_EST_COMERCIAL      =  @CD_EST_COMERCIAL        
			AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
			AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL)
			AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
			AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
			AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
			order by PE.DT_CADASTRO_PEDIDO desc
	END

	-- *********************************************************
	-- 57 - LOWELL
	-- *********************************************************
	IF (@CD_CLIENTE in (57))  
		BEGIN 
			select PE.NM_PEDIDO AS "ID",  
			   PE.NM_CICLO_CAPTACAO AS "Ciclo Captação",  
			   PE.DT_CADASTRO_PEDIDO AS "Data Captação",  
			   PE.DT_PAGAMENTO_PEDIDO AS "Data Pagamento",  
			   PE.VL_PAGAR_TOTAL AS "Valor",  
			   PE.VL_PONTOS_TOTAL AS "Pontos",
			   PE.VL_CREDITO_TOTAL AS "Créditos",
			   ES.DC_EST_SITUACAO AS "Situação"  
			From TB_PEDIDO PE WITH(NOLOCK), 
				 TB_EST_SITUACAO ES WITH(NOLOCK)
			WHERE PE.CD_EST_SITUACAO = ES.CD_EST_SITUACAO 
			AND PE.CD_PESSOA             =  @CD_PESSOA
			AND PE.CD_EST_COMERCIAL      =  @CD_EST_COMERCIAL        
			AND convert(date,PE.DT_CADASTRO_PEDIDO) >= convert(date,@DT_CAPTACAO_INICIAL)
			AND convert(date,PE.DT_CADASTRO_PEDIDO) <= convert(date,@DT_CAPTACAO_FINAL)
			AND (  (@NM_CICLO_INICIAL    > 0 AND PE.NM_CICLO_CAPTACAO >= @NM_CICLO_INICIAL)  OR (@NM_CICLO_INICIAL = 0)) 
			AND (  (@NM_CICLO_FINAL      > 0 AND PE.NM_CICLO_CAPTACAO <= @NM_CICLO_FINAL)    OR (@NM_CICLO_FINAL   = 0))
			AND (  (@CD_SITUACAO_PEDIDO > 0 AND PE.CD_EST_SITUACAO = @CD_SITUACAO_PEDIDO)  OR (@CD_SITUACAO_PEDIDO = 0))
			order by PE.DT_CADASTRO_PEDIDO desc
	END
		
			
END
GO
