SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FINALIZA_PEDIDO]
	@NM_PEDIDO			NUMERIC(18,0),
	@CD_USUARIO			NUMERIC(18,0),
	@CD_PLANO_PAGAMENTO NUMERIC(18,0),
	@CD_PESSOA			NUMERIC(18,0),
	@CD_FUNCAO			NUMERIC(18,0),
	@DC_OBSERVACOES		VARCHAR(MAX),
	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CD_PENDENTE NUMERIC(18,0)

DECLARE @CD_PENDENTE_PG NUMERIC(18,0)
DECLARE @CD_PENDENTE_PM NUMERIC(18,0)
DECLARE @CD_PENDENTE_DV NUMERIC(18,0)
DECLARE @CD_PENDENTE_CA NUMERIC(18,0)
DECLARE @CD_PENDENTE_CR NUMERIC(18,0)

DECLARE @EDITADO INT

DECLARE @v_idSituacaoPedido		int,
		@v_idMomentoFaturamento int

  DECLARE @CD_CLIENTE NUMERIC(18,0)

BEGIN TRY
		-- ALTERAÇÃO POR DIEGO ZILIOTI EM 07/03/2023 - BITRIX #4507
		-- TIVEMOS UM CASO QUE DEU ERRO NA FINALIZAÇÃO MAS NÃO RETORNOU MENSAGEM DE ERRO PARA A TELA E ACABOU PASSANDO, NESTE CASO VAMOS INICILIAZAR A VARIÁVEL COM VALOR E SÓ ZERAR LÁ NO FINAL
	    SELECT @QT_LINHAS_AFETADAS = 0
	    SELECT @CD_ERRO = -1
		SELECT @DC_ERRO = 'Pedido em finalização...'
	    
	    SELECT @v_idSituacaoPedido = CD_EST_SITUACAO
	      FROM TB_PEDIDO WITH(NOLOCK)
	     WHERE NM_PEDIDO = @NM_PEDIDO

		  select @CD_CLIENTE = vl_parametro 
		  from TB_valor_PARAMETRO with (NOLOCK)
		  where CD_GRUPO_PARAMETRO = 6
		  and CD_PARAMETRO = 1
		  and CD_VALOR_PARAMETRO  =1

	    INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 0')

	    IF @v_idSituacaoPedido IN (2,3,4,5,6,7,8,9)
			BEGIN

				-- *************************************************************************************
				-- ALTERAÇÃO FEITA POR ANDERSON - 28/08/2020
				-- IDENTIFICAMOS UM CENARIO DE PROBLEMA - A PESSOA ESCOLHIA UMA FORMA DE PAGAMENTO (EXEMPLO CARTAO)
				-- AO ENVIAR AO PAGSEGURO O SISTEMA JA FINALIZAVA O PEDIDO
				-- EM ALGUNS CASOS O PAGSEGURO RETORNAVA ERRO
				-- AI A PESSOA ESCOLHIA OUTRA FORMA (EXEMPLO BOLETO COM DESCONTO)
				-- O DESCONTO GRAVAVA NA TABELA TB_PEDIDO, MAS COMO JA TINHA FINALIZADO O PEDIDO
				-- NAO ATUALIZAVA A COLUNA VL_PAGAR_TOTAL
				-- PRECISAMOS PELO MENOS CONSOLIDAR OS VALORES NOVAMENTE NA TB_PEDIDO
				-- POR ISSO CRIAMOS A PROCEDURE ABAIXO (ELA APENAS CONSOLIDA A TB_PEDIDO NOVAMENTE)
				-- ASSIM NA TEORIA ACERTA OS VALORES
				-- *************************************************************************************
				EXEC pr_PedidoConsolidaValoresPedido
					@NM_PEDIDO,			--@p_nmPedido					
					1,					--@p_idAtualizacao	(BASEADO NA TABELA TB_PEDIDO_ITEM)		
					0,					--@p_vlCreditoTotal			
					0,					--@p_vlTabelaTotal			
					0,					--@p_vlPraticadoTotal			
					0,					--@p_vlLiquidoTotal			
					0,					--@p_vlImpostoTotal			
					0,					--@p_vlComissaoCN				
					0,					--@p_vlCustoTotal				
					0,					--@p_vlProdutosTotal			
					0,					--@p_vlTabelaTeoricoTotal		
					0,					--@p_vlPagarTotal				
					0,					--@p_vlPagarTeoricoTotal		
					0,					--@p_vlPontosTotal			

					@CD_ERRO			output,
					@DC_ERRO			output,
					@QT_LINHAS_AFETADAS	output
				 
				RETURN
			END

	    -- ATUALIZA AS OBSERVAÇÕES DO PEDIDO
	    --UPDATE TB_PEDIDO SET DC_OBSERVACOES_PEDIDO = @DC_OBSERVACOES
	    --WHERE NM_PEDIDO = @NM_PEDIDO
	    
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 1')

		-- *****************************************
		-- ALTERAÇÃO POR DIEGO ZILIOTI EM 12/10/18
		-- VAMOS GRAVAR NO PEDIDO SEU MOMENTO DE FATURAMENTO
		-- *****************************************
		
		 SELECT @v_idMomentoFaturamento = ISNULL(A.ID_MOMENTO_FATURAMENTO,1)
		  FROM TB_CENTRO_DISTRIBUICAO A WITH(NOLOCK), TB_PEDIDO B WITH(NOLOCK)
		 WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
		 AND B.NM_PEDIDO = @NM_PEDIDO

		UPDATE TB_PEDIDO 
		SET ID_MOMENTO_FATURAMENTO = @v_idMomentoFaturamento,
			DC_OBSERVACOES_PEDIDO = @DC_OBSERVACOES
		WHERE NM_PEDIDO = @NM_PEDIDO

	    -- *****************************************
	    -- CONSOLIDA PEDIDO
	    -- *****************************************
	    EXEC SP_CONSOLIDA_PEDIDO
			@NM_PEDIDO,
			@CD_USUARIO,
			@CD_ERRO			OUTPUT,
			@DC_ERRO			OUTPUT,
			@QT_LINHAS_AFETADAS OUTPUT
			
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 2')
			
		-- ************************************************
	    -- VERIFICA SE O PEDIDO FICOU PENDENTE DE PAGAMENTO
	    -- ************************************************
		EXEC SP_VERIFICA_PENDENCIA_PAGAMENTO
			@NM_PEDIDO,
			@CD_PLANO_PAGAMENTO,
			2, -- EFETIVA A GRAVAÇÃO
			@CD_USUARIO,
			@CD_PENDENTE_PG			OUTPUT,
			@CD_ERRO				OUTPUT,
			@DC_ERRO				OUTPUT
			
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 3')
					
		-- ************************************************
	    -- VERIFICA SE O PEDIDO FICOU PENDENTE DE PEDIDO MINIMO
	    -- ************************************************	
		EXEC SP_VERIFICA_PENDENCIA_PEDIDO_MINIMO
			@NM_PEDIDO,
			2, -- EFETIVA A GRAVAÇÃO
			@CD_USUARIO,
			@CD_PENDENTE_PM	OUTPUT,
			@CD_ERRO		OUTPUT,
			@DC_ERRO		OUTPUT
			
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 4')
			
		-- ************************************************
	    -- VERIFICA SE O PEDIDO FICOU PENDENTE POR CADASTRO
	    -- ************************************************	
		EXEC SP_VERIFICA_PENDENCIA_CADASTRO
			@NM_PEDIDO,
			2, -- EFETIVA A GRAVAÇÃO
			@CD_USUARIO,
			@CD_PENDENTE_CA	OUTPUT,
			@CD_ERRO		OUTPUT,
			@DC_ERRO		OUTPUT
		
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 5')	
		

		-- ************************************************
	    -- VERIFICA SE O PEDIDO FICOU PENDENTE DE DÍVIDA VENCIDA
	    -- ************************************************	
		EXEC SP_VERIFICA_PENDENCIA_DIVIDA_VENCIDA
			@NM_PEDIDO,
			2, -- EFETIVA A GRAVAÇÃO
			@CD_USUARIO,
			@CD_PENDENTE_DV	OUTPUT,
			@CD_ERRO		OUTPUT,
			@DC_ERRO		OUTPUT

		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 6')

		-- ************************************************
	    -- VERIFICA SE O PEDIDO FICOU PENDENTE DE CRÉDITO
	    -- ************************************************	
		EXEC SP_VERIFICA_PENDENCIA_CREDITO
			@NM_PEDIDO,
			2, -- EFETIVA A GRAVAÇÃO
			@CD_USUARIO,
			@CD_PENDENTE_CR	OUTPUT,
			@CD_ERRO		OUTPUT,
			@DC_ERRO		OUTPUT

		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 7')

		
		IF @CD_PENDENTE_PG = 1 OR @CD_PENDENTE_PM = 1 OR @CD_PENDENTE_DV = 1 OR @CD_PENDENTE_CR = 1 OR @CD_PENDENTE_CA = 1
			BEGIN
				SELECT @CD_PENDENTE = 1
			END
		ELSE
			BEGIN
				SELECT @CD_PENDENTE = 0
			END
			
		DECLARE @v_descUsuario varchar(18)
		
		IF @CD_PENDENTE = 1
			BEGIN
				UPDATE TB_PEDIDO SET CD_EST_SITUACAO = 4
				WHERE NM_PEDIDO = @NM_PEDIDO

				-- *******************************************
				-- ENVIA EMAIL
				-- *******************************************
				EXEC pr_PedidoEnviarEmailMudancaStatus
					@NM_PEDIDO,			--@p_nmPedido					NUMERIC(18,0),
					13,					--@p_cdEvento					INT,
					@CD_ERRO			OUTPUT,
					@DC_ERRO			OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT

				-- ***********************************************************************
				-- INSERE O REGISTRO NA FILA DA API ATSVD
				-- A PROCEDURE IRÁ VALIDAR SE A FILA ESTÁ ATIVA E IRÁ INSERIR O REGISTRO
				-- ***********************************************************************
				SELECT @v_descUsuario = CONVERT(VARCHAR(18),@CD_USUARIO)

				EXEC dbo.pr_ApiInsereItemFilaApi 2, --Código da fila de PEDIDOS
												 @NM_PEDIDO, -- PEDIDO
												 'I', --INSERÇÃO
												 @v_descUsuario, --USUÁRIO
												 0,
												 '',
												 0
			END
		ELSE
			BEGIN
			
				-- ************************************************
				-- APROVA PEDIDO
				-- ************************************************
				EXEC SP_APROVA_PEDIDO
					@NM_PEDIDO,
					@CD_USUARIO,
					@CD_ERRO OUTPUT,
					@DC_ERRO OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT
			
				-- ***********************************************************************
				-- INSERE O REGISTRO NA FILA DA API ATSVD
				-- A PROCEDURE IRÁ VALIDAR SE A FILA ESTÁ ATIVA E IRÁ INSERIR O REGISTRO
				-- ***********************************************************************
				SELECT @v_descUsuario = CONVERT(VARCHAR(18),@CD_USUARIO)

				EXEC dbo.pr_ApiInsereItemFilaApi 2, --Código da fila de PEDIDOS
												@NM_PEDIDO, -- PEDIDO
												'I', --INSERÇÃO
												@v_descUsuario, --USUÁRIO
												0,
												'',
												0

			END
		
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 8')

		-- ********************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON
		-- O TRECHO ABAIXO É IMPORTANTE POIS ELE VAI VERIFICAR SE A 
		-- PESSOA DEVE OU NÃO AUMENTAR SEU LIMITE DE CREDITO
		-- OU SEJA, VAI VERIFICAR SE ATINGIU O LIMITE DE PEDIDOS APROVADOS POR EXEMPLO
		-- ********************************************************

			--EXEC pr_PessoaAtualizaLimiteCredito
			--	0, 
   --     		@CD_PESSOA,
   --     		@CD_FUNCAO,
			--	2, -- CODIGO DO MOTIVO - ATUALIZAÇÃO AUTOMATICA
			--	'', -- MOTIVO
			--	'', --@DT_INICIO_LIMITE_CREDITO
			--	'', --@DT_TERMINO_LIMITE_CREDITO
			--	0, -- VALOR DO CREDITO,
			--	'A',
			--	@CD_USUARIO,
			--	@CD_ERRO OUTPUT,
			--	@DC_ERRO OUTPUT,
			--	@QT_LINHAS_AFETADAS OUTPUT

		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 9')

		-- **************************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 27/07/2019
		-- O TRECHO ABAIXO VAI ATUALIZAR O  CREDITO DISPONIVEL DA PESSOA
		-- APOS A FINALIZAÇÃO DO PEDIDO
		-- **************************************************************
		EXEC dbo.SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO
			@CD_PESSOA,
			@CD_FUNCAO,
			0,
			0,
			@CD_USUARIO
					
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 10')
		
		-- ********************************************************
		-- ALTERAÇÃO FEITA POR ANDERSON - 09/10/2015
		-- EDIÇÃO DE PEDIDO - VERIFICAR SE HOUVE PAGAMENTO
		-- DO PEDIDO POIS ASSIM DEVEMOS GERAR SALDO A FAVOR OU SALDO DEVEDOR
		-- ********************************************************
		
		EXEC SP_VERIFICA_PAGAMENTO_EDICAO_PEDIDO
				@NM_PEDIDO,
				@CD_USUARIO,
				@CD_ERRO				OUTPUT,
				@DC_ERRO				OUTPUT,
				@QT_LINHAS_AFETADAS		OUTPUT	
				
		-- COMPLEMENTO DA ALTERAÇÃO DA EDIÇÃO DE PEDIDOS POR DIEGO 09/10/2015
		-- DEVEMOS FECHAR A SITUAÇÃO EM EDIÇÃO NO HISTÓRICO DE PEDIDOS
		
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 11')

		SELECT @EDITADO = COUNT(*)
		FROM TB_PEDIDO_HISTORICO WITH(NOLOCK)
		WHERE CD_EST_SITUACAO = 99
		AND DT_FINAL IS NULL
		AND NM_PEDIDO = @NM_PEDIDO
		
		IF @EDITADO > 0
			BEGIN
				exec SP_GRAVA_HISTORICO_PEDIDO
					@NM_PEDIDO,
					99, -- SITUAÇÃO EM EDIÇÃO
					2, 
					1,
					'',
					@CD_USUARIO,
					0,
					'',
					0	
			END

		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 12')

		-- **********************************************************
		-- NOVA VALIDAÇÃO ADICIONADA POR DIEGO ZILIOTI EM 15/02/2020
		-- **********************************************************
		EXEC dbo.pr_PedidoVerificaPagamentoMoedaVirtual @NM_PEDIDO
														,@CD_USUARIO
														,@CD_ERRO				OUTPUT
														,@DC_ERRO				OUTPUT
														,@QT_LINHAS_AFETADAS	OUTPUT
		
		INSERT INTO TB_TESTE_FINALIZA_PEDIDO VALUES (@NM_PEDIDO, 'ETAPA 13')

		IF @CD_ERRO = -1 OR @CD_ERRO = 0 -- NÃO TIVEMOS ERROS, CONCLUÍDO COM SUCESSO
			BEGIN
				SELECT @CD_ERRO = 0
				SELECT @DC_ERRO = ''
			END
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
