SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ProdutoInsereProdutoVenda1MinutoSidney]
	@VAR_RETORNO		INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS

DECLARE @CURSOR_PRODUTO_MATERIAL CURSOR,
	@CD_ESTOQUE              NUMERIC(18,0),
	@CD_PRODUTO_MATERIAL     NUMERIC(18,0),
	@QT_ESTOQUE_SIDNEY       NUMERIC(18,0),
	@QT_ESTOQUE_ATSVD        NUMERIC(18,0),
	@QT_ESTOQUE_MOVIMENTO    NUMERIC(18,0)

DECLARE @CD_LOG_INTEGRACAO NUMERIC(18,0)



BEGIN TRY
	-- ***********************************************
	-- POPULA AS VARIAVEIS DE SAIDA
	-- ***********************************************
	SELECT @VAR_RETORNO = 0
	SELECT @DC_ERRO = ''
	SELECT @QT_LINHAS_AFETADAS = 0

	-- 1) INCLUIR INICIO DO CONTROLE NA LOG INTEGRACAO
	BEGIN TRANSACTION
	INSERT INTO TB_LOG_INTEGRACAO (CD_INTEGRACAO, DT_INICIO_EXECUCAO,ID_RESULTADO_EXECUCAO,DT_ATUALIZACAO)
	VALUES (5,GETDATE(),0,GETDATE())
	SELECT @CD_LOG_INTEGRACAO  = IDENT_CURRENT('TB_LOG_INTEGRACAO')
	COMMIT TRANSACTION

	-- 2) BUSCAR OS PRODUTOS / MATERIAIS QUE TIVERAM ALTERAÇÃO DE ESTOQUE NO PROCFIT
	SET @CURSOR_PRODUTO_MATERIAL = CURSOR FAST_FORWARD
	FOR	
	SELECT TOP 500 * FROM TB_PRODUTO_VENDA
	--       ID AS ESTOQUE,
	--       PRODUTO
	--FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.INTEGRACAO_RESERVAS_WEB WITH (NOLOCK)
	--WHERE ENVIADO = 'N' 
	--AND   DESTINO = 4
	--ORDER BY ID	

	OPEN @CURSOR_PRODUTO_MATERIAL 
	FETCH NEXT FROM @CURSOR_PRODUTO_MATERIAL
	INTO  @CD_ESTOQUE, @CD_PRODUTO_MATERIAL

	WHILE @@FETCH_STATUS = 0
	BEGIN

		-- 3) BUSCAR O ESTOQUE DISPONIVEL DO PRODUTO / MATERIAL NA SYDNEY
		SELECT @QT_ESTOQUE_SIDNEY = 1--ISNULL(MAX(CASE WHEN VW_PRO.CodigoStatusCompra = 2 AND VW_EST.SALDO < 6 THEN 0 ELSE VW_EST.SALDO END),0)
		--FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.VW_RESERVAS_ESTOQUE_INTEGRACAO VW_EST WITH(NOLOCK)
  --  		     INNER JOIN INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.VW_PRODUTOS VW_PRO WITH(NOLOCK) ON  VW_PRO.Codigo = VW_EST.PRODUTO
		--WHERE PRODUTO = @CD_PRODUTO_MATERIAL

		-- 4) BUSCAR O ESTOQUE DISPONIVEL DO PRODUTO / MATERIAL NO ATSVD
		SELECT @QT_ESTOQUE_ATSVD  = [dbo].[FN_BUSCA_QTD_ESTOQUE_DISPONIVEL_MATERIAL]   (@CD_PRODUTO_MATERIAL,  -- MATERIAL
												1,                      -- CD ?
												1,                      -- ARMAZEM ?
												1)                       -- TIPO_ESTOQUE = DISPONIVEL
	
		-- 5) VERIFICAR SE O ESTOQUE SYDNEY É MAIOR QUE ZERO E ESTOQUE SYDNEY É MAIOR QUE ESTOQUE ATSVD
		IF (@QT_ESTOQUE_SIDNEY > 0 AND @QT_ESTOQUE_SIDNEY > @QT_ESTOQUE_ATSVD)
		BEGIN
			SELECT @QT_ESTOQUE_MOVIMENTO = (@QT_ESTOQUE_SIDNEY - @QT_ESTOQUE_ATSVD)
			-- CHAMAR A PROC QUE MOVIMENTA O ESTOQUE
			EXEC [dbo].[SP_CAD_MOV_ESTOQUE]
					1,  -- CD 
					1,  -- ARMAZEM 
					@CD_PRODUTO_MATERIAL,  -- MATERIAL
					@QT_ESTOQUE_MOVIMENTO, --QT_MOVIMENTADO
					11,  -- CD_TIPO_MOV_ESTOQUE = Entrada por Integração
					1,   -- ID_CENTRO_ESTOQUE = disponivel
					0.01,   -- VL_UNITARIO
					0,  -- NM_DOCUMENTO
					'Ajuste estoque Integração', -- DC_REFERENCIA
					-2, -- CD_USUARIO = integracao
					'', -- @VAR_TIPO_FUNCAO = utilizado para insumo
					@VAR_RETORNO OUTPUT,
					@DC_ERRO  OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT
					-- 6) ATUALIZAR CONTROLE ESTOQUE SIDNEY
			IF (ISNULL(@VAR_RETORNO,0) = 0)
			BEGIN
				BEGIN TRANSACTION
					--UPDATE INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.INTEGRACAO_RESERVAS_WEB SET ENVIADO = 'S' WHERE ID = @CD_ESTOQUE -- ID DO RETORNO DO CONTROLE DE ESTOQUE
				COMMIT TRANSACTION
			END

			-- IDENTIFICAR SE DEU ERRO NA ATUALIZACAO DO TRACKING DO PEDIDO
			IF (ISNULL(@VAR_RETORNO,0) <> 0)
			BEGIN
				-- 6) GRAVAR O ERRO NO CADASTRO DA PESSOA NO PROCFIT
				BEGIN TRANSACTION
				INSERT INTO TB_LOG_INTEGRACAO_ITEM(
					CD_LOG_INTEGRACAO,
					ID_TIPO_INTEGRACAO_ITEM,
					DC_VALOR_INTEGRACAO_ITEM,
					DC_STATUS_VALOR,
					ID_SITUACAO_INTEGRACAO,
					CD_RETORNO_INTEGRACAO,
					DC_MENSAGEM_INTEGRACAO,
					DT_ENVIO_INTEGRACAO)
				VALUES (@CD_LOG_INTEGRACAO,
					7,
					'MATERIAL 1 MINUTO -> '+CONVERT(VARCHAR,@CD_PRODUTO_MATERIAL), 
					'ESTOQUE PROCFIT -> '+CONVERT(VARCHAR,@QT_ESTOQUE_MOVIMENTO)+'.....NÃO ATUALIZADO O ESTOQUE DISPONIVEL PARA MAIOR NO ATSVD',
					4,
					@VAR_RETORNO,
					@DC_ERRO,
					GETDATE()) 
				COMMIT TRANSACTION

			END

		END

		-- 7) VERIFICAR SE O ESTOQUE SYDNEY É MAIOR QUE ZERO E ESTOQUE SYDNEY É MENOR QUE ESTOQUE ATSVD
		IF (@QT_ESTOQUE_SIDNEY > 0 AND @QT_ESTOQUE_ATSVD > @QT_ESTOQUE_SIDNEY)
		BEGIN
			SELECT @QT_ESTOQUE_MOVIMENTO = (@QT_ESTOQUE_ATSVD - @QT_ESTOQUE_SIDNEY)
			-- CHAMAR A PROC QUE MOVIMENTA O ESTOQUE
			EXEC [dbo].[SP_CAD_MOV_ESTOQUE]
					1,  -- CD 
					1,  -- ARMAZEM 
					@CD_PRODUTO_MATERIAL,  -- MATERIAL
					@QT_ESTOQUE_MOVIMENTO, --QT_MOVIMENTADO
					12,  -- CD_TIPO_MOV_ESTOQUE = Saida por Integração
					1,   -- ID_CENTRO_ESTOQUE = disponivel
					0.01,   -- VL_UNITARIO
					0,  -- NM_DOCUMENTO
					'Ajuste estoque Integração', -- DC_REFERENCIA
					-2, -- CD_USUARIO = integracao
					'', -- @VAR_TIPO_FUNCAO = utilizado para insumo
					@VAR_RETORNO OUTPUT,
					@DC_ERRO  OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT
			IF (ISNULL(@VAR_RETORNO,0) = 0)
			BEGIN
				-- 6) ATUALIZAR A FLAG QUE O ESTOQUE ATUALIZADO NO ATSVD
				--BEGIN TRANSACTION
					--UPDATE INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.INTEGRACAO_RESERVAS_WEB SET ENVIADO = 'S' WHERE ID = @CD_ESTOQUE -- ID DO RETORNO DO CONTROLE DE ESTOQUE
				--COMMIT TRANSACTION

				SELECT @VAR_RETORNO = 1
			END

			-- IDENTIFICAR SE DEU ERRO NA ATUALIZACAO DO TRACKING DO PEDIDO
			IF (ISNULL(@VAR_RETORNO,0) <> 0)
			BEGIN
				-- 8) GRAVAR O ERRO NO CADASTRO DA PESSOA NO PROCFIT
				BEGIN TRANSACTION
				INSERT INTO TB_LOG_INTEGRACAO_ITEM(
					CD_LOG_INTEGRACAO,
					ID_TIPO_INTEGRACAO_ITEM,
					DC_VALOR_INTEGRACAO_ITEM,
					DC_STATUS_VALOR,
					ID_SITUACAO_INTEGRACAO,
					CD_RETORNO_INTEGRACAO,
					DC_MENSAGEM_INTEGRACAO,
					DT_ENVIO_INTEGRACAO)
				VALUES (@CD_LOG_INTEGRACAO,
					7,
					'MATERIAL 1 MINUTO -> '+CONVERT(VARCHAR,@CD_PRODUTO_MATERIAL), 
					'ESTOQUE PROCFIT -> '+CONVERT(VARCHAR,@QT_ESTOQUE_MOVIMENTO)+'.....NÃO ATUALIZADO O ESTOQUE DISPONIVEL PARA MENOR NO ATSVD',
					4,
					@VAR_RETORNO,
					@DC_ERRO,
					GETDATE()) 
				COMMIT TRANSACTION

			END



		END

		FETCH NEXT FROM @CURSOR_PRODUTO_MATERIAL 
		INTO  @CD_ESTOQUE, @CD_PRODUTO_MATERIAL	
														
	END

	BEGIN TRANSACTION
	UPDATE TB_LOG_INTEGRACAO 
	SET DT_TERMINO_EXECUCAO = GETDATE(),
	DC_ERRO_EXECUCAO        = 'Executado com Sucesso',
	DT_ATUALIZACAO          = GETDATE()
	WHERE CD_LOG_INTEGRACAO = @CD_LOG_INTEGRACAO  
	COMMIT TRANSACTION

	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()

	BEGIN TRANSACTION
	UPDATE TB_LOG_INTEGRACAO 
	SET DT_TERMINO_EXECUCAO = GETDATE(),
	ID_RESULTADO_EXECUCAO   = @VAR_RETORNO,
	DC_ERRO_EXECUCAO        = @DC_ERRO,
	DT_ATUALIZACAO          = GETDATE()
	WHERE CD_LOG_INTEGRACAO = @CD_LOG_INTEGRACAO  
	COMMIT TRANSACTION
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
