SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_DividaInformaRespostaEntidadeConciliacaoParcela]
	@p_codigoPedido					numeric(18,0),
	@p_codigoParcela				numeric(18,0),
	@p_codigousuario				numeric(18,0),
		
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output


AS

DECLARE @V_CD_EST_SITUACAO		INT

DECLARE @CD_PESSOA				NUMERIC(18,0)
DECLARE @CD_FUNCAO				INT

DECLARE @v_idSeparaPedido		INT
DECLARE @v_idSeparacaoPedido	INT
DECLARE @v_idConferePedido		INT

DECLARE @v_cursorEmbalagens		AS CURSOR
DECLARE	@v_numeroEmbalagem		AS NUMERIC(18,0)

DECLARE @v_tipoPagamento		INT

DECLARE @V_QTD_PEDIDOS			INT
DECLARE @V_CD_ENT_CRIACAO		NUMERIC(18,0)
DECLARE @v_cursorParcelas		AS CURSOR
DECLARE @v_banco				INT

DECLARE @v_codigoCedente		varchar(100)
DECLARE @v_nomeCedente			varchar(100)
DECLARE @v_documentoCedente		varchar(100)
DECLARE @v_agenciaCedente		varchar(100)
DECLARE @v_digitoAgenciaCedente	varchar(100)
DECLARE @v_contaCedente			varchar(100)
DECLARE @v_digitoCedente		varchar(10)
DECLARE @v_bancoCedente			int
DECLARE @v_nossoNumero			varchar(100)
DECLARE @v_numeroDocumento		varchar(100)
DECLARE @v_codigoCarteira		varchar(10)

DECLARE @v_codigoDivida					numeric(18,0)
DECLARE @v_codigoParcela				numeric(18,0)
DECLARE @v_codigoAcordoPagamento		numeric(18,0)
DECLARE @v_dataGeracaoBoletoBancario	date
DECLARE @v_dataVencimento				date
DECLARE @v_valorOriginalParcela			numeric(18,2)
DECLARE @v_instrucoesBoleto				varchar(300)		
DECLARE @v_idFormaProtesto				int
DECLARE	@v_nmDiasProtesto			    int
DECLARE @v_idFormaBaixaTitulo           int
DECLARE	@v_nmDiasBaixatitulo            int

DECLARE @v_codigoBoletoBancario			numeric(18,0)
DECLARE @ID_TIPO_ENTIDADE_CONCILIACAO	INT
		
		
BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    
	    BEGIN TRANSACTION 

		-- *********************************************************************************************************
		-- ESSA PROCEDURE SOMENTE INFORMA QUE A ENTIDADE DEU UMA REPOSTA PARA O CLIENTE
		-- ASSIM, VAMOS APENAS ALTERAR O HISTORICO PARA
		-- DISPONIVEL PARA SEPARAÇÃO E ASSIM VAMOS LIBERAR O PEDIDO PARA A LOGISTICA
		-- *********************************************************************************************************

		IF @p_codigoPedido > 0 
			BEGIN

				-- *******************************************************************
				-- ALTERA SITUAÇÃO DO PEDIDO
				-- *******************************************************************

				SELECT @V_CD_EST_SITUACAO = CD_EST_SITUACAO,
					   @CD_PESSOA = CD_PESSOA,
					   @CD_FUNCAO = CD_FUNCAO
				FROM TB_PEDIDO
				WHERE NM_PEDIDO = @p_codigoPedido

				-- SE O STATUS DO PEDIDO FOR IGUAL A 201 - AGUARDANDO REPOSTA DA ENTIDADE DE CONCILIAÇÃO
				-- VAMOS ALTERAR PARA 6 - EM SEPARAÇÃO
				IF @V_CD_EST_SITUACAO = 201 
					BEGIN
						
						SELECT	@v_idSeparaPedido = ISNULL(ID_SEPARA_PEDIDO,1),
								@v_idSeparacaoPedido = ISNULL(ID_SEPARACAO_PEDIDO,1),
								@v_idConferePedido = ISNULL(ID_CONFERENCIA_PEDIDO,1)
						FROM TB_PEDIDO
						WHERE NM_PEDIDO = @p_codigoPedido

						-- SE VAI FINALIZAR PEDIDO DIRETAMETE
						IF @v_idSeparaPedido = 2
							BEGIN

								-- ABRE A SITUAÇÃO FINALIZADO, POIS ESTE PEDIDO NÃO TERÁ PROCESSO DE SEPARAÇÃO E ENTREGA
								exec SP_GRAVA_HISTORICO_PEDIDO
									@p_codigoPedido,
									9, 
									1, 
									0,
									'',
									@p_codigousuario,
									0,
									'',
									0

								--FECHA A SITUAÇÃO FINALIZADO
								exec SP_GRAVA_HISTORICO_PEDIDO
									@p_codigoPedido,
									9, 
									2, 
									0,
									'',
									@p_codigousuario,
									0,
									'',
									0
				
								UPDATE TB_PEDIDO SET CD_EST_SITUACAO = 9 WHERE NM_PEDIDO = @p_codigoPedido

								--GERA A DÍVIDA
								-- **************************************************************
								-- SOMENTE GERA A DIVIDA SE O TIPO DE PAGAMENTO É POSTERGADO = 2
								-- **************************************************************

								--SELECT @v_tipoPagamento = B.ID_TIPO_PAGAMENTO
								--FROM TB_PEDIDO A, TB_PLANO_PAGAMENTO B
								--WHERE A.NM_PEDIDO = @p_codigoPedido
								--AND A.CD_PLANO_PAGAMENTO = B.CD_PLANO_PAGAMENTO

								--IF (@v_tipoPagamento = 2)
									--BEGIN 
										--EXEC pr_DividaGeraDivida
											--@p_codigoPedido,
											--1,
											--@p_codigousuario,
											--@p_codigoErro		OUTPUT,
											--@p_descricaoErro	OUTPUT,
											--@p_linhasAfetadas	OUTPUT

										--Após gerar a dívida precisamos atualizar o crédito da pessoa, foram identificados casos de pessoas	
						
										--EXEC SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO 
												   --@CD_PESSOA,
												   --@CD_FUNCAO,
												   --0,
												   --0,
												   --@p_codigousuario
									--END
							END	
						ELSE
							BEGIN

								IF @v_idSeparacaoPedido = 2 --NÃO HAVERÁ SEPARAÇÃO FISICA
									BEGIN
			
										--BUSCA AS EMBALAGENS GERADAS PARA O PEDIDO
										SET @v_cursorEmbalagens = CURSOR FAST_FORWARD
										FOR
											SELECT NM_EMBALAGEM
											FROM TB_PEDIDO_EMBALAGEM
											WHERE NM_PEDIDO = @p_codigoPedido
			
										OPEN @v_cursorEmbalagens
										FETCH NEXT FROM @v_cursorEmbalagens
										INTO @v_numeroEmbalagem

										WHILE @@FETCH_STATUS = 0
											BEGIN

												--REALIZA O PROCESSO DE SEPARAÇÃO DAS EMBALAGENS
												EXEC SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																	1, -- inicia o picking
																	0,
																	@p_codigoUsuario,
																	@p_codigoErro output,
																	@p_descricaoErro output,
																	@p_linhasAfetadas output

												EXEC SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																	1, --finaliza o picking
																	0,
																	@p_codigoUsuario,
																	@p_codigoErro output,
																	@p_descricaoErro output,
																	@p_linhasAfetadas output
																									
												FETCH NEXT FROM @v_cursorEmbalagens
												INTO @v_numeroEmbalagem
													
											END

									END

								ELSE
									BEGIN
								
										UPDATE TB_PEDIDO SET CD_EST_SITUACAO = 6
										WHERE NM_PEDIDO = @p_codigoPedido

										-- FECHA A SITUAÇÃO 201 - Aguardando reposta entidade de conciliação
										EXEC SP_GRAVA_HISTORICO_PEDIDO
											@p_codigoPedido,
											201, 
											2, 
											0,
											'',
											@p_codigousuario,
											0,
											'',
											0

										-- ABRE A SITUAÇÃO 6 - EM SEPARAÇÃO
										EXEC SP_GRAVA_HISTORICO_PEDIDO
											@p_codigoPedido,
											6, 
											1, 
											0,
											'',
											@p_codigousuario,
											0,
											'',
											0

									END


							END

						
						-- **************************************************************************************
						-- ALTERAÇÃO FEITA POR ANERSON - 15/12/2017
						-- MANTIS 993 - ALTERAR TELA DE DEFINIR ENTIDADE DE CONCILIAÇÃO
						-- VAMOS VERIFICAR SE O TITULO EM QUESTÃO FOI SETADO PARA GERAR BOLETO
						-- ISSO É POSSIVEL POIS OS TITULOS JOGADOS EM BANCOS VÃO GERAR BOLETO
						-- OS QUE FORAM DO TIPO FACTORING NÃO VAMOS GERAR BOLETO
						-- PARA ISSO BASTA VER NA TABELA TB_ENTIDADE_CONCILIACAO
						-- **************************************************************************************
								

						-- VAMOS VERIFICAR SE PARA ESSE PEDIDO ESTA SETADO PARA UMA FACTORING OU PARA UM BANCO
						-- VAMOS PEGAR A ENTIDADE E VERIFICAR NA TABELA TB_ENTIDADE_CONCILIACAO

						SELECT @V_CD_ENT_CRIACAO = MAX(CD_ENTIDADE_CRIACAO)
						FROM TB_DIVIDA DI, TB_PARCELA PA
						WHERE DI.CD_DIVIDA = PA.CD_DIVIDA	
						AND DI.NM_PEDIDO = @p_codigoPedido																

						-- AGORA VAMOS BUSCAR O TIPO DESSA ENTIDADE
						SELECT @ID_TIPO_ENTIDADE_CONCILIACAO = ID_TIPO_ENTIDADE_CONCILIACAO
						FROM TB_ENTIDADE_CONCILIACAO
						WHERE CD_ENTIDADE_CONCILIACAO = @V_CD_ENT_CRIACAO



						--SELECT @V_QTD_PEDIDOS = COUNT(*)
						--FROM TB_PEDIDO P, TB_PLANO_PAGAMENTO PP
						--WHERE P.NM_PEDIDO = @p_codigoPedido
						--AND P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO
						--AND PP.ID_MEIO_PAGAMENTO = 1		-- BOLETO BANCARIO
						--AND PP.ID_MEIO_SELECAO_ENTIDADE = 2 -- MANUAL
						
						-- BOLETO BANCARIO
						IF @ID_TIPO_ENTIDADE_CONCILIACAO = 1 
							BEGIN
								-- COMO ENCONTROU REGISTRO VAMOS BUSCAR A ENTIDADE DE CONCILIAÇÃO QUE ESTA NA PARCELA
								-- VAMOS PEGAR A PRIMEIRA PARCELA POIS A ENTIADE DE CONCILIAÇÃO SERÁ A MESMA POR PEDIDO
										
								--SELECT @V_CD_ENT_CRIACAO = MAX(CD_ENTIDADE_CRIACAO)
								--FROM TB_DIVIDA DI, TB_PARCELA PA
								--WHERE DI.CD_DIVIDA = PA.CD_DIVIDA	
								--AND DI.NM_PEDIDO = @p_codigoPedido

								SELECT @v_banco = CD_BANCO 
								FROM TB_ENTIDADE_CONCILIACAO
								WHERE CD_ENTIDADE_CONCILIACAO = @V_CD_ENT_CRIACAO
																		
								SELECT	@v_codigoCedente = bp.DC_CODIGO_CEDENTE,
										@v_nomeCedente = bp.DC_NOME_CEDENTE,
										@v_documentoCedente = bp.DC_DOCUMENTO_CEDENTE,
										@v_agenciaCedente = bp.DC_AGENCIA_CEDENTE,
										@v_digitoAgenciaCedente = bp.DC_DIGITO_AGENCIA_CEDENTE,
										@v_contaCedente = bp.DC_CONTA_CEDENTE,
										@v_digitoCedente = bp.DC_DIGITO_CONTA_CEDENTE,
										@v_bancoCedente = bp.CD_BANCO,
										@v_codigoCarteira = (select bc.DC_CODIGO_CARTEIRA from TB_BANCO_CARTEIRA bc where bc.CD_BANCO_CARTEIRA = bp.CD_BANCO_CARTEIRA)
								FROM TB_BOLETO_BANCARIO_PARAMETROS bp
								WHERE bp.ID_SITUACAO = 1
								AND bp.CD_BANCO = @v_banco


								SELECT	
									--@v_qtdParcelas			 = QT_PARCELAS,
									--@v_qtdDiasEntreParcelas  = QT_DIAS_ENTRE_PARCELAS,
									--@v_qtdDiasValidade		 = QT_DIAS_VALIDADE,
									--@v_qtdDiasVencimento	 = QT_DIAS_VENCIMENTO,
									--@v_valorMinimoAcordo	 = VL_MINIMO_ACORDO,
									--@v_valorMinimoParcela	 = VL_MINIMO_PARCELA,
									--@v_meioPagamento	     = ID_MEIO_PAGAMENTO,
									@v_instrucoesBoleto		 = PP.DC_INSTRUCOES_BOLETO,
									@v_idFormaProtesto		 = PP.ID_FORMA_PROTESTO,
									@v_nmDiasProtesto		 = NM_DIAS_PROTESTO,
									@v_idFormaBaixaTitulo	 = ID_FORMA_BAIXA_TITULO,
									@v_nmDiasBaixatitulo	 = NM_DIAS_BAIXA_TITULO
									--@v_valorTaxaAdmin		 = isnull(VL_TAXA_ADMINISTRATIVA,0),

									--@v_idMeioSelecaoEntidade = ID_MEIO_SELECAO_ENTIDADE,
										--@v_cdEntidadeConciliacao = CD_ENTIDADE_CONCILIACAO
								FROM TB_PEDIDO P, TB_PLANO_PAGAMENTO PP
								WHERE P.NM_PEDIDO = @p_codigoPedido
								AND P.CD_PLANO_PAGAMENTO = PP.CD_PLANO_PAGAMENTO
						


								-- AGORA VAMOS ABRIR O CURSOR DE PARCELAS PARA GERAR OS BOLETOS

								--BUSCA AS EMBALAGENS GERADAS PARA O PEDIDO
								SET @v_cursorParcelas = CURSOR FAST_FORWARD
								FOR
									SELECT	PA.CD_PARCELA, 
											PA.CD_DIVIDA, 
											PA.CD_ACORDO_PAGAMENTO, 
											PA.DT_VENCIMENTO,
											PA.VL_ORIGINAL_PARCELA
									FROM TB_DIVIDA DI, TB_PARCELA PA
									WHERE DI.CD_DIVIDA = PA.CD_DIVIDA	
									AND DI.NM_PEDIDO = @p_codigoPedido

								OPEN @v_cursorParcelas
								FETCH NEXT FROM @v_cursorParcelas
								INTO	@v_codigoParcela, 
										@v_codigoDivida, 
										@v_codigoAcordoPagamento, 
										@v_dataVencimento,
										@v_valorOriginalParcela

								WHILE @@FETCH_STATUS = 0
									BEGIN

										select @v_nossoNumero = @v_codigoParcela	
										select @v_numeroDocumento = @v_codigoParcela
						
										select @v_dataGeracaoBoletoBancario = GETDATE()
									
										exec pr_DividaInsereBoletoBancario
												@v_dataGeracaoBoletoBancario,
												1, -- emitido
												@v_codigoDivida,
												@v_codigoParcela,
												@v_codigoAcordoPagamento,
												@v_dataVencimento,
												@v_valorOriginalParcela,
												@v_codigoCedente,
												@v_nomeCedente,
												@v_documentoCedente,
												@v_agenciaCedente,
												@v_digitoAgenciaCedente,
												@v_contaCedente,
												@v_digitoCedente,
												@v_bancoCedente,
												@v_nossoNumero,
												@v_numeroDocumento,
												@v_codigoCarteira,
												@v_instrucoesBoleto,
	
												@v_idFormaProtesto,
												@v_nmDiasProtesto,			   
												@v_idFormaBaixaTitulo ,         
												@v_nmDiasBaixatitulo,
											           
												@p_codigoErro				output,
												@p_descricaoErro			output,
												@p_linhasAfetadas			output,
												@v_codigoBoletoBancario		output
												
																									
										FETCH NEXT FROM @v_cursorParcelas
										INTO	@v_codigoParcela, 
												@v_codigoDivida, 
												@v_codigoAcordoPagamento, 
												@v_dataVencimento,
												@v_valorOriginalParcela
													
									END -- FIM DO WHILE




							END


					END
			END
	
	    
	    SELECT @p_linhasAfetadas = @@ROWCOUNT
				
	    COMMIT TRANSACTION


			
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
     
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
