SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaTrataRetornoSerasa]
	@p_codigoPessoa			numeric(18,0),
	@p_descRetornoSerasa	NVARCHAR(MAX),
	
	@p_codigoUsuario		NUMERIC(18,0),
	
	@p_codigoErro			int				output,
	@p_descricaoErro		nvarchar(MAX)	output,
	@p_linhasAfetadas		int				output

AS

DECLARE @v_codigoCliente int

BEGIN TRY

	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
		
	SELECT @v_codigoCliente = VL_PARAMETRO
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO = 1

	-- VAMOS TRATAR AS IMPLEMENTAÇÕES DESTES RETORNOS POR CLIENTE POIS CADA UM TERÁ SUA REGRA ESPECÍFICA DE AVALIAÇÃO

	-- LOWELL
	IF @v_codigoCliente = 57
		BEGIN
			EXEC [pr_PessoaTrataRetornoSerasaLOWELL] @p_codigoPessoa,
													 @p_descRetornoSerasa,
													 @p_codigoUsuario,
													 @p_codigoErro output,
													 @p_descricaoErro output,
													 @p_linhasAfetadas output
		END
  
END TRY
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
