SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PedidoListaRegraComercial]
	@CD_PESSOA				NUMERIC(18,0),
	@CD_FUNCAO				NUMERIC(18,0),
	@CD_PAPEL_CARREIRA		NUMERIC(18,0),
	@CD_PAPEL_DESEMPENHO	NUMERIC(18,0)
	--@V_RETORNO				NVARCHAR(MAX) output
	
AS


DECLARE @V_CLIENTE					AS INT
DECLARE @V_BUSCA_CD_REGIAO_REGRA	AS INT
DECLARE @V_CD						AS NUMERIC(18,0)
DECLARE @query						AS NVARCHAR(MAX)
	
	-- *****************************************************************************************
	-- EXISTEM DUAS MANEIRAS DE BUSCAR AS REGRAS COMERCIAIS - NA QUESTÃO DE REGIÃO GEOGRAFICA
	-- PRIMEIRO OU VOCE ASSUME A REGIÃO GEOGRAFICA DA REGRA COMERCIAL (INDEPENDENTE DA REGIÃO NA EST. COMERCIAL)
	-- SEGUNDO PEGAR O CD VINCULADO A EST. COMERCIAL
	-- ISSO SERÁ TRATADO COMO PARAMETRO
	-- ***************************************************************************************** 
	
	SELECT @V_BUSCA_CD_REGIAO_REGRA = VL_PARAMETRO
	FROM TB_VALOR_PARAMETRO  with (NOLOCK)
	WHERE CD_GRUPO_PARAMETRO = 4
	AND CD_PARAMETRO = 17

	SELECT @V_CD = ISNULL(MIN(EC.CD_CENTRO_DISTRIBUICAO),0)
	FROM TB_PESSOA_RESUMO PR with (NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC with (NOLOCK)
	WHERE PR.CD_PESSOA = @CD_PESSOA
	AND PR.CD_FUNCAO = @CD_FUNCAO
	AND PR.CD_EST_COMERCIAL = EC.CD_EST_COMERCIAL
	

	-- VAMOS MONTAR A QUERY
	SET @query = ' '
	SET @query = @query + '	SELECT	CD_REGRA_COMERCIAL, '
	SET @query = @query + '	DC_REGRA_COMERCIAL, '
	SET @query = @query + '	VL_PEDIDO_MINIMO, '
	SET @query = @query + '	CD_CENTRO_DISTRIBUICAO, '
	SET @query = @query + '	ID_APLICA_RC_TODOS_PEDIDOS, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_INICIAL, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_FINAL, '
	SET @query = @query + '	DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') QT_PEDIDOS_APROVADOS '
	--ID_RC_VERIFICA_INDICACOES,
	--NM_INDICACOES_EFETIVADAS_INICIAL,
	--NM_INDICACOES_EFETIVADAS_FINAL,
	--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) QT_INDICACOES_EFETIVADAS
	SET @query = @query + '	FROM TB_REGRA_COMERCIAL A with (NOLOCK) '
	SET @query = @query + '	WHERE CD_FUNCAO = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) 
	SET @query = @query + '	AND ID_SITUACAO = 1 '
	SET @query = @query + '	AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL)) '
	--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
	--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
	
	IF @V_BUSCA_CD_REGIAO_REGRA = 1 
		BEGIN
			SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
		END
	ELSE
		BEGIN
			IF @V_CD > 0
				BEGIN
					SET @query = @query + '	AND A.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(20),@V_CD) 
				END
			ELSE
				BEGIN
					SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
				END

		END
	
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '
    --SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B  with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND ISNULL(B.ID_EXCECAO,2) = 2)  '
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B  with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)  '
	SET @query = @query + '	AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA with (NOLOCK) WHERE CD_PESSOA = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) '
	SET @query = @query + '	WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) '
    SET @query = @query + '	OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0) '
	SET @query = @query + ' AND DBO.fn_RegraComercialVerificaCotaPorPessoa(A.CD_REGRA_COMERCIAL, ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') = 1'
		

	SET @query = @query + '	UNION ALL '


	
	SET @query = @query + '	SELECT	CD_REGRA_COMERCIAL, '
	SET @query = @query + '	DC_REGRA_COMERCIAL, '
	SET @query = @query + '	VL_PEDIDO_MINIMO, ' 
	SET @query = @query + '	CD_CENTRO_DISTRIBUICAO, '
	SET @query = @query + '	ID_APLICA_RC_TODOS_PEDIDOS, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_INICIAL, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_FINAL, '
	SET @query = @query + '	DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') QT_PEDIDOS_APROVADOS '
	--ID_RC_VERIFICA_INDICACOES,
	--NM_INDICACOES_EFETIVADAS_INICIAL,
	--NM_INDICACOES_EFETIVADAS_FINAL,
	--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) QT_INDICACOES_EFETIVADAS
	SET @query = @query + '	FROM TB_REGRA_COMERCIAL A with (NOLOCK) '
	SET @query = @query + '	WHERE CD_FUNCAO = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) 
	SET @query = @query + '	AND ID_SITUACAO = 1 '
	SET @query = @query + '	AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL)) '
	--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
	--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
	--SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 '


	IF @V_BUSCA_CD_REGIAO_REGRA = 1 
		BEGIN
			SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
		END
	ELSE
		BEGIN
			IF @V_CD > 0
				BEGIN
					SET @query = @query + '	AND A.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(20),@V_CD) 
				END
			ELSE
				BEGIN
					SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
				END

		END

       
	SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND B.CD_PAPEL_CARREIRA = ' + CONVERT(NVARCHAR(20),@CD_PAPEL_CARREIRA) + ') '
	SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND B.CD_PAPEL_DESEMPENHO = ' + CONVERT(NVARCHAR(20),@CD_PAPEL_DESEMPENHO) + ') '
    SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B with (NOLOCK)  WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)  '
	SET @query = @query + '	AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA with (NOLOCK) WHERE CD_PESSOA = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0)'
	SET @query = @query + ' AND DBO.fn_RegraComercialVerificaCotaPorPessoa(A.CD_REGRA_COMERCIAL, ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') = 1'

	
	SET @query = @query + '	UNION ALL'
	
	/***************************************************************************************************
		ALTERAÇÃO FEITA POR ANDERSON - 01/07/2018
		TEMOS QUE COLOCAR DOIS UNIONS AQUI PELO FATO DE TER COLOCADO PAPEL DESEMPENHO
	***************************************************************************************************/

	SET @query = @query + '	SELECT	CD_REGRA_COMERCIAL, '
	SET @query = @query + '	DC_REGRA_COMERCIAL, '
	SET @query = @query + '	VL_PEDIDO_MINIMO, '
	SET @query = @query + '	CD_CENTRO_DISTRIBUICAO, '
	SET @query = @query + '	ID_APLICA_RC_TODOS_PEDIDOS, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_INICIAL, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_FINAL, '
	SET @query = @query + '	DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') QT_PEDIDOS_APROVADOS '
	--ID_RC_VERIFICA_INDICACOES,
	--NM_INDICACOES_EFETIVADAS_INICIAL,
	--NM_INDICACOES_EFETIVADAS_FINAL,
	--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) QT_INDICACOES_EFETIVADAS
	SET @query = @query + '	FROM TB_REGRA_COMERCIAL A with (NOLOCK) '
	SET @query = @query + '	WHERE CD_FUNCAO = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) 
	SET @query = @query + '	AND ID_SITUACAO = 1 '
	SET @query = @query + '	AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL)) '
	--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
	--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
	--SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ' ) = 1 '
		
	
	IF @V_BUSCA_CD_REGIAO_REGRA = 1 
		BEGIN
			SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
		END
	ELSE
		BEGIN
			IF @V_CD > 0
				BEGIN
					SET @query = @query + '	AND A.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(20),@V_CD) 
				END
			ELSE
				BEGIN
					SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
				END

		END
	
		
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND B.CD_PAPEL_DESEMPENHO = ' + CONVERT(NVARCHAR(20),@CD_PAPEL_DESEMPENHO) + ') '
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA  with (NOLOCK) WHERE CD_PESSOA = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0) '
	SET @query = @query + ' AND DBO.fn_RegraComercialVerificaCotaPorPessoa(A.CD_REGRA_COMERCIAL, ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') = 1'
			
	
	SET @query = @query + '	UNION ALL '
	
	
	SET @query = @query + '	SELECT	CD_REGRA_COMERCIAL, '
	SET @query = @query + '	DC_REGRA_COMERCIAL, '
	SET @query = @query + '	VL_PEDIDO_MINIMO,  '
	SET @query = @query + '	CD_CENTRO_DISTRIBUICAO, '
	SET @query = @query + '	ID_APLICA_RC_TODOS_PEDIDOS, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_INICIAL, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_FINAL, '
	SET @query = @query + '	DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') QT_PEDIDOS_APROVADOS '
	--ID_RC_VERIFICA_INDICACOES,
	--NM_INDICACOES_EFETIVADAS_INICIAL,
	--NM_INDICACOES_EFETIVADAS_FINAL,
	--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) QT_INDICACOES_EFETIVADAS
	SET @query = @query + '	FROM TB_REGRA_COMERCIAL A  with (NOLOCK)  '
	SET @query = @query + '	WHERE CD_FUNCAO = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) 
	SET @query = @query + '	AND ID_SITUACAO = 1 '
	SET @query = @query + '	AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL)) '
	--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
	--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
	--	SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1  '


	IF @V_BUSCA_CD_REGIAO_REGRA = 1 
		BEGIN
			SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
		END
	ELSE
		BEGIN
			IF @V_CD > 0
				BEGIN
					SET @query = @query + '	AND A.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(20),@V_CD) 
				END
			ELSE
				BEGIN
					SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
				END

		END


   	SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B  with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND B.CD_PAPEL_CARREIRA = ' + CONVERT(NVARCHAR(20),@CD_PAPEL_CARREIRA) + ') '
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_INDICADOR B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)   '
	SET @query = @query + '	AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA  with (NOLOCK) WHERE CD_PESSOA = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0) '
	SET @query = @query + ' AND DBO.fn_RegraComercialVerificaCotaPorPessoa(A.CD_REGRA_COMERCIAL, ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') = 1'
        
	SET @query = @query + '	UNION ALL '
	   	

	SET @query = @query + '	SELECT	CD_REGRA_COMERCIAL, '
	SET @query = @query + '	DC_REGRA_COMERCIAL, '
	SET @query = @query + '	VL_PEDIDO_MINIMO, '
	SET @query = @query + '	CD_CENTRO_DISTRIBUICAO, '
	SET @query = @query + '	ID_APLICA_RC_TODOS_PEDIDOS, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_INICIAL, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_FINAL, '
	SET @query = @query + '	DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') QT_PEDIDOS_APROVADOS '
	--ID_RC_VERIFICA_INDICACOES,
	--NM_INDICACOES_EFETIVADAS_INICIAL,
	--NM_INDICACOES_EFETIVADAS_FINAL,
	--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) QT_INDICACOES_EFETIVADAS
	SET @query = @query + '	FROM TB_REGRA_COMERCIAL A with (NOLOCK) '
	SET @query = @query + '	WHERE CD_FUNCAO = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) 
	SET @query = @query + '	AND ID_SITUACAO = 1 '
	SET @query = @query + '	AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL)) '
	--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
	--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
	--SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 '
	
	IF @V_BUSCA_CD_REGIAO_REGRA = 1 
		BEGIN
			SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
		END
	ELSE
		BEGIN
			IF @V_CD > 0
				BEGIN
					SET @query = @query + '	AND A.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(20),@V_CD) 
				END
			ELSE
				BEGIN
					SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
				END

		END
			
	
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '

    --SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B with (NOLOCK) , TB_PESSOA_RESUMO C with (NOLOCK) , TB_REGRA_COMERCIAL_INDICADOR D with (NOLOCK) '    
	--SET @query = @query + '	WHERE B.CD_PESSOA            = C.CD_PESSOA   '
	--SET @query = @query + '	AND   B.CD_FUNCAO            = C.CD_FUNCAO  '
	--SET @query = @query + '	AND   B.NM_CICLO             = C.NM_CICLO_ATUAL '  
	--SET @query = @query + '	AND   ISNULL(D.ID_EXCECAO,2) = 2 '  
	--SET @query = @query + '	AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL   '
	--SET @query = @query + '	AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL '
	--SET @query = @query + '	AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL '
    --SET @query = @query + '	AND   B.CD_PESSOA          = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) 
    --SET @query = @query + '	AND   B.CD_FUNCAO          = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ' )  '

	-- VERIFICA SE ATENDE AS EXCECOES
	SET @query = @query + '	AND DBO.FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ', A.CD_REGRA_COMERCIAL, 1) = 1 ' 
	-- VERIFICA SE POSSUI OS INDICADORES
	SET @query = @query + '	AND DBO.FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ', A.CD_REGRA_COMERCIAL, 2) = 1 '
	
	SET @query = @query + '	AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA  with (NOLOCK) WHERE CD_PESSOA = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS with (NOLOCK) '
	SET @query = @query + '	WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0) '
	SET @query = @query + ' AND DBO.fn_RegraComercialVerificaCotaPorPessoa(A.CD_REGRA_COMERCIAL, ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') = 1'


	---- NOVO
    SET @query = @query + '	UNION ALL '

	   	
	SET @query = @query + '	SELECT	CD_REGRA_COMERCIAL, '
	SET @query = @query + '	DC_REGRA_COMERCIAL, '
	SET @query = @query + '	VL_PEDIDO_MINIMO,  '
	SET @query = @query + '	CD_CENTRO_DISTRIBUICAO, '
	SET @query = @query + '	ID_APLICA_RC_TODOS_PEDIDOS, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_INICIAL, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_FINAL, '
	SET @query = @query + '	DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') QT_PEDIDOS_APROVADOS '
	--ID_RC_VERIFICA_INDICACOES,
	--NM_INDICACOES_EFETIVADAS_INICIAL,
	--NM_INDICACOES_EFETIVADAS_FINAL,
	--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) QT_INDICACOES_EFETIVADAS
	SET @query = @query + '	FROM TB_REGRA_COMERCIAL A with (NOLOCK) '
	SET @query = @query + '	WHERE CD_FUNCAO = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO)
	SET @query = @query + '	AND ID_SITUACAO = 1 '
	SET @query = @query + '	AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL)) '
	--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
	--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
	--SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ' ) = 1 '
	
	IF @V_BUSCA_CD_REGIAO_REGRA = 1 
		BEGIN
			SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
		END
	ELSE
		BEGIN
			IF @V_CD > 0
				BEGIN
					SET @query = @query + '	AND A.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(20),@V_CD) 
				END
			ELSE
				BEGIN
					SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
				END

		END

	
	SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND B.CD_PAPEL_CARREIRA = ' + CONVERT(NVARCHAR(20),@CD_PAPEL_CARREIRA) + ') '
	SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND B.CD_PAPEL_DESEMPENHO = ' + CONVERT(NVARCHAR(20),@CD_PAPEL_DESEMPENHO) + ') '

    --SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B with (NOLOCK) , TB_PESSOA_RESUMO C with (NOLOCK) , TB_REGRA_COMERCIAL_INDICADOR D with (NOLOCK)  '
	--SET @query = @query + '	WHERE B.CD_PESSOA            = C.CD_PESSOA '
	--SET @query = @query + '	AND   B.CD_FUNCAO            = C.CD_FUNCAO '
	--SET @query = @query + '	AND   ISNULL(D.ID_EXCECAO,2) = 2 '  
	--SET @query = @query + '	AND   B.NM_CICLO             = C.NM_CICLO_ATUAL '
	--SET @query = @query + '	AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL '
	--SET @query = @query + '	AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL '
	--SET @query = @query + '	AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL '
	--SET @query = @query + '	AND   B.CD_PESSOA          = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) 
	--SET @query = @query + '	AND   B.CD_FUNCAO          = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + '  ) '

	-- VERIFICA SE ATENDE AS EXCECOES
	SET @query = @query + '	AND DBO.FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ', A.CD_REGRA_COMERCIAL, 1) = 1 '
	-- VERIFICA SE POSSUI OS INDICADORES
	SET @query = @query + '	AND DBO.FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ', A.CD_REGRA_COMERCIAL, 2) = 1 '
	

	SET @query = @query + '	AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA with (NOLOCK)  WHERE CD_PESSOA = '+ CONVERT(NVARCHAR(20),@CD_PESSOA) + ') IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS with (NOLOCK) '
	SET @query = @query + '	WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0) '
	SET @query = @query + ' AND DBO.fn_RegraComercialVerificaCotaPorPessoa(A.CD_REGRA_COMERCIAL, ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') = 1'


    SET @query = @query + '	UNION ALL '
	   	

	SET @query = @query + '	SELECT	CD_REGRA_COMERCIAL, '
	SET @query = @query + '	DC_REGRA_COMERCIAL, '
	SET @query = @query + '	VL_PEDIDO_MINIMO,  '
	SET @query = @query + '	CD_CENTRO_DISTRIBUICAO, '
	SET @query = @query + '	ID_APLICA_RC_TODOS_PEDIDOS, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_INICIAL, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_FINAL, '
	SET @query = @query + '	DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' +CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') QT_PEDIDOS_APROVADOS '
	--ID_RC_VERIFICA_INDICACOES,
	--NM_INDICACOES_EFETIVADAS_INICIAL,
	--NM_INDICACOES_EFETIVADAS_FINAL,
	--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) QT_INDICACOES_EFETIVADAS
	SET @query = @query + '	FROM TB_REGRA_COMERCIAL A with (NOLOCK)  '
	SET @query = @query + '	WHERE CD_FUNCAO = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) 
	SET @query = @query + '	AND ID_SITUACAO = 1 '
	SET @query = @query + '	AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL)) '
	--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
	--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
--	SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ' ) = 1  '

	IF @V_BUSCA_CD_REGIAO_REGRA = 1 
		BEGIN
			SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
		END
	ELSE
		BEGIN
			IF @V_CD > 0
				BEGIN
					SET @query = @query + '	AND A.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(20),@V_CD) 
				END
			ELSE
				BEGIN
					SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
				END

		END


			
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	AND  EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B with (NOLOCK) 	WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND B.CD_PAPEL_DESEMPENHO = ' + CONVERT(NVARCHAR(20),@CD_PAPEL_DESEMPENHO) + ') '

    --SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B with (NOLOCK) , TB_PESSOA_RESUMO C with (NOLOCK) , TB_REGRA_COMERCIAL_INDICADOR D with (NOLOCK) '
	--SET @query = @query + '	WHERE B.CD_PESSOA            = C.CD_PESSOA '
	--SET @query = @query + '	AND   B.CD_FUNCAO            = C.CD_FUNCAO '
	--SET @query = @query + '	AND   ISNULL(D.ID_EXCECAO,2) = 2 '  
	--SET @query = @query + '	AND   B.NM_CICLO             = C.NM_CICLO_ATUAL '
	--SET @query = @query + '	AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL '
	--SET @query = @query + '	AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL '
	--SET @query = @query + '	AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL '
	--SET @query = @query + '	AND   B.CD_PESSOA          = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) 
	--SET @query = @query + '	AND   B.CD_FUNCAO          = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ' ) '

	-- VERIFICA SE ATENDE AS EXCECOES
	SET @query = @query + '	AND DBO.FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ', A.CD_REGRA_COMERCIAL, 1) = 1 '
	-- VERIFICA SE POSSUI OS INDICADORES
	SET @query = @query + '	AND DBO.FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ', A.CD_REGRA_COMERCIAL, 2) = 1 '
	

	SET @query = @query + '	AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA with (NOLOCK)  WHERE CD_PESSOA = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) '
	SET @query = @query + '	WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0) '
	SET @query = @query + ' AND DBO.fn_RegraComercialVerificaCotaPorPessoa(A.CD_REGRA_COMERCIAL, ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') = 1'


	SET @query = @query + '	UNION ALL '


	SET @query = @query + '	SELECT	CD_REGRA_COMERCIAL, '
	SET @query = @query + '	DC_REGRA_COMERCIAL, '
	SET @query = @query + '	VL_PEDIDO_MINIMO,  '
	SET @query = @query + '	CD_CENTRO_DISTRIBUICAO, '
	SET @query = @query + '	ID_APLICA_RC_TODOS_PEDIDOS, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_INICIAL, '
	SET @query = @query + '	NM_FAIXA_PEDIDO_FINAL, '
	SET @query = @query + '	DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') QT_PEDIDOS_APROVADOS '
	--ID_RC_VERIFICA_INDICACOES,
	--NM_INDICACOES_EFETIVADAS_INICIAL,
	--NM_INDICACOES_EFETIVADAS_FINAL,
	--DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) QT_INDICACOES_EFETIVADAS
	SET @query = @query + '	FROM TB_REGRA_COMERCIAL A with (NOLOCK)  '
	SET @query = @query + '	WHERE CD_FUNCAO = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO)
	SET @query = @query + '	AND ID_SITUACAO = 1 '
	SET @query = @query + '	AND (ID_APLICA_RC_TODOS_PEDIDOS = 1 OR (ID_APLICA_RC_TODOS_PEDIDOS = 2 AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL)) '
	--AND (ID_RC_VERIFICA_INDICACOES = 2 OR (ID_RC_VERIFICA_INDICACOES = 1 AND DBO.FN_BUSCA_QTD_INDICACOES_EFETIVADAS_PESSOA(CONVERT(NVARCHAR(20),@CD_PESSOA)) BETWEEN NM_INDICACOES_EFETIVADAS_INICIAL AND NM_INDICACOES_EFETIVADAS_FINAL))
	--AND dbo.fn_regracomercialverificaaplicacaoregracomercial(A.CD_REGRA_COMERCIAL,1) = 1  --APLICA A REGRA NA LOJA VIRTUAL
	--SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ' ) = 1  '

	IF @V_BUSCA_CD_REGIAO_REGRA = 1 
		BEGIN
			SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
		END
	ELSE
		BEGIN
			IF @V_CD > 0
				BEGIN
					SET @query = @query + '	AND A.CD_CENTRO_DISTRIBUICAO = ' + CONVERT(NVARCHAR(20),@V_CD) 
				END
			ELSE
				BEGIN
					SET @query = @query + '	And dbo.fn_pessoaVerificaCoberturaGeograficaRegraComercial(A.CD_REGRA_COMERCIAL,  ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') = 1 ' 
				END

		END


	SET @query = @query + '	AND  EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL AND B.CD_PAPEL_CARREIRA = ' + CONVERT(NVARCHAR(20),@CD_PAPEL_CARREIRA) + ') '
	SET @query = @query + '	AND NOT EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_DESEMPENHO B with (NOLOCK) WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL) '

	--SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_PESSOA_INDICADOR B with (NOLOCK) , TB_PESSOA_RESUMO C with (NOLOCK) , TB_REGRA_COMERCIAL_INDICADOR D with (NOLOCK) '
	--SET @query = @query + '	WHERE B.CD_PESSOA            = C.CD_PESSOA '
	--SET @query = @query + '	AND   B.CD_FUNCAO            = C.CD_FUNCAO '
	--SET @query = @query + '	AND   ISNULL(D.ID_EXCECAO,2) = 2 '  
	--SET @query = @query + '	AND   B.NM_CICLO             = C.NM_CICLO_ATUAL '
	--SET @query = @query + '	AND   B.CD_INDICADOR_PESSOAL = D.CD_INDICADOR_PESSOAL '
	--SET @query = @query + '	AND   B.VL_INDICADOR_PESSOAL BETWEEN D.VL_FAIXA_INICIAL  AND D.VL_FAIXA_FINAL '
	--SET @query = @query + '	AND   A.CD_REGRA_COMERCIAL = D.CD_REGRA_COMERCIAL '
	--SET @query = @query + '	AND   B.CD_PESSOA          = ' + CONVERT(NVARCHAR(20),@CD_PESSOA)
	--SET @query = @query + '	AND   B.CD_FUNCAO          = ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ' ) '
	
	-- VERIFICA SE ATENDE AS EXCECOES
	SET @query = @query + '	AND DBO.FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ', A.CD_REGRA_COMERCIAL, 1) = 1 '
	-- VERIFICA SE POSSUI OS INDICADORES
	SET @query = @query + '	AND DBO.FN_VERIFICA_SE_PESSOA_ATENDE_INDICADOR_REGRA_COMERCIAL(' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ', A.CD_REGRA_COMERCIAL, 2) = 1 '
	

	SET @query = @query + '	AND ((SELECT CD_SITUACAO_CADASTRO FROM TB_PESSOA  with (NOLOCK) WHERE CD_PESSOA = ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ') IN (SELECT RS.CD_SITUACAO_CADASTRO FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS  with (NOLOCK) '
	SET @query = @query + '	WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) '
	SET @query = @query + '	OR (SELECT COUNT(*) FROM TB_REGRA_COMERCIAL_SITUACAO_CADASTRO RS with (NOLOCK)  WHERE RS.CD_REGRA_COMERCIAL = A.CD_REGRA_COMERCIAL) = 0) '
	SET @query = @query + ' AND DBO.fn_RegraComercialVerificaCotaPorPessoa(A.CD_REGRA_COMERCIAL, ' + CONVERT(NVARCHAR(20),@CD_PESSOA) + ', ' + CONVERT(NVARCHAR(20),@CD_FUNCAO) + ') = 1'

---- FIM NOVO

--print(@query)
--SELECT @V_RETORNO = @query

EXEC(@query);

GO
