SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_IndicadorCalculaIndicadoresMNJobAKMOS]
AS
declare @CONTROLE						int,
		@NIVEL							int,
		@CD_PESSOA						numeric(18,0),
		@CD_FUNCAO						int,
		@CD_EST_COMERCIAL				numeric(18,0),
		@NM_CICLO						numeric(18,0),
		@CURSOR_PESSOA					cursor,
		@ID_EVENTO						int,
                @ID_MOMENTO_CALCULO_INDICADOR	int,
                @ID_TIPO_ATUALIZACAO			int,
		@VAR_RETORNO					NUMERIC(18,0),
		@DC_ERRO NVARCHAR(MAX) ,
  		@QT_LINHAS_AFETADAS INT 
DECLARE @CURSOR_PEDIDO                    CURSOR,
        @CD_PEDIDO_PROCESSAMENTO          NUMERIC (18,0),
	@CD_PESSOA_PEDIDO                 NUMERIC(18,0),
	@CD_FUNCAO_PEDIDO                 NUMERIC(18,0),
	@NM_PEDIDO			  NUMERIC(18,0),
	@NM_CICLO_PEDIDO                  NUMERIC(18,0)

        

        
begin
   -- BUSCA OS PEDIDOS PARA PROCESSAMENTO
  SET @CURSOR_PEDIDO = CURSOR FAST_FORWARD
  FOR SELECT CD_PEDIDO_PROCESSAMENTO, NM_PEDIDO, NM_CICLO, CD_PESSOA, CD_FUNCAO
      FROM TB_MN_PEDIDO_PROCESSAMENTO  with (NOLOCK)
      WHERE ID_SITUACAO_PEDIDO_PROCESSAMENTO = 7
      ORDER BY  1

  OPEN @CURSOR_PEDIDO
  FETCH NEXT FROM @CURSOR_PEDIDO
  INTO @CD_PEDIDO_PROCESSAMENTO, @NM_PEDIDO, @NM_CICLO_PEDIDO, @CD_PESSOA_PEDIDO, @CD_FUNCAO_PEDIDO
	      
  WHILE @@FETCH_STATUS = 0
  BEGIN  

	SELECT @VAR_RETORNO = 0
	SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
	FOR
		SELECT DISTINCT 1 AS CONTROLE, 0 AS NIVEL, @CD_PESSOA_PEDIDO, @CD_FUNCAO_PEDIDO, A.CD_EST_COMERCIAL, @NM_CICLO_PEDIDO
		FROM TB_PESSOA_RESUMO A with (NOLOCK)
		WHERE A.CD_PESSOA = @CD_PESSOA_PEDIDO
		AND   A.CD_FUNCAO = @CD_FUNCAO_PEDIDO
		UNION ALL
		SELECT DISTINCT 2 AS CONTROLE, A.NM_NIVEL, A.CD_PESSOA_VINCULADA, @CD_FUNCAO_PEDIDO, B.CD_EST_COMERCIAL, @NM_CICLO_PEDIDO
		FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK)
		WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
		AND   A.CD_FUNCAO           = B.CD_FUNCAO
		AND   A.NM_CICLO            = @NM_CICLO_PEDIDO
		AND   A.CD_PESSOA           = @CD_PESSOA_PEDIDO
		AND   A.CD_FUNCAO           = @CD_FUNCAO_PEDIDO
		AND   A.ID_ORDEM            = 1    -- ASCENDENTE
		AND   A.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
		ORDER BY 1, 2 

		OPEN @CURSOR_PESSOA
		FETCH NEXT FROM @CURSOR_PESSOA
		INTO @CONTROLE,@NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
	      
		WHILE @@FETCH_STATUS = 0
			BEGIN
				-- CALCULA OS INDICADORES DE QUALIFICAÇÃO
				SELECT @ID_EVENTO                    = 6,  
				   @ID_MOMENTO_CALCULO_INDICADOR = 2,
				   @ID_TIPO_ATUALIZACAO          = 1
				EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
							 @CD_PESSOA,
							 @CD_FUNCAO,
							 @CD_EST_COMERCIAL,
							 @NM_CICLO,
							 @ID_EVENTO,                    --FIM DIA
							 @ID_TIPO_ATUALIZACAO,          --ADICIONAR
							 @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
							 0,
							 @VAR_RETORNO OUTPUT ,
  							 @DC_ERRO OUTPUT,
  							 @QT_LINHAS_AFETADAS OUTPUT
				FETCH NEXT FROM @CURSOR_PESSOA
				INTO @CONTROLE, @NIVEL, @CD_PESSOA, @CD_FUNCAO, @CD_EST_COMERCIAL, @NM_CICLO 
			END
			
		CLOSE       @CURSOR_PESSOA
		DEALLOCATE  @CURSOR_PESSOA

    IF (@VAR_RETORNO <> 0)
    BEGIN
	BEGIN TRANSACTION
      UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
      SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = 8,
          DS_ERRO_PEDIDO_PROCESSAMENTO     = @DC_ERRO
      WHERE CD_PEDIDO_PROCESSAMENTO        =  @CD_PEDIDO_PROCESSAMENTO 
	  COMMIT TRANSACTION
    END

    ELSE
    BEGIN
      -- ATUALIZA PROCESSAMENTO
	  BEGIN TRANSACTION
      UPDATE TB_MN_PEDIDO_PROCESSAMENTO 
      SET ID_SITUACAO_PEDIDO_PROCESSAMENTO = 9,
          DS_ERRO_PEDIDO_PROCESSAMENTO     = NULL
      WHERE CD_PEDIDO_PROCESSAMENTO        = @CD_PEDIDO_PROCESSAMENTO 
	  COMMIT TRANSACTION
    END

  
    FETCH NEXT FROM @CURSOR_PEDIDO
    INTO @CD_PEDIDO_PROCESSAMENTO, @NM_PEDIDO, @NM_CICLO_PEDIDO, @CD_PESSOA_PEDIDO, @CD_FUNCAO_PEDIDO
  END	
  CLOSE       @CURSOR_PEDIDO
  DEALLOCATE  @CURSOR_PEDIDO
	      
  
END





GO
