SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_VERIFICA_PENDENCIA_PEDIDO_MINIMO]
	@NM_PEDIDO numeric(18, 0),
	@ID_SIMULACAO int, -- se for 1 faz a simulação e nao grava os dados, se for 2 efetiva a gravação
	@CD_USUARIO numeric(18, 0),
	@CD_PENDENTE numeric(18, 2) OUTPUT,
	@CD_ERRO		INT OUTPUT,
	@DC_ERRO		VARCHAR(100) OUTPUT
	
AS

DECLARE @V_CONTADOR int,
	    @V_CD_REGRA_COMERCIAL				numeric(18, 2),
        @V_ID_PEND_PEDIDO_MINIMO			int,	
        @V_VL_CREDITO_TOTAL					numeric(18, 2),
		@V_VL_PONTOS_TOTAL					numeric(18, 2),
	    @V_VL_PEDIDO_MINIMO					numeric(18, 2) ,  
		@V_ID_BASE_CALCULO_PEDIDO_MINIMO	INT,
		@V_SITUACAO_PENDENCIA				INT
	
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	    SELECT @CD_PENDENTE = 0
	    	    
	    -- VERIFICA SE PEDIDO EXISTE
	    SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PEDIDO
		WHERE NM_PEDIDO = @NM_PEDIDO
		
		IF @V_CONTADOR = 0
		-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Pedido não encontrado'
				RETURN
			END
		SELECT @V_CD_REGRA_COMERCIAL = CD_REGRA_COMERCIAL,
		       @V_VL_CREDITO_TOTAL = VL_CREDITO_TOTAL,
			   @V_VL_PONTOS_TOTAL = VL_PONTOS_TOTAL,
	           @V_VL_PEDIDO_MINIMO = VL_PEDIDO_MINIMO
		FROM TB_PEDIDO
		WHERE NM_PEDIDO = @NM_PEDIDO
		
		-- VERIFICA SE REGRA COMERCIAL EXISTE
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_REGRA_COMERCIAL
		WHERE CD_REGRA_COMERCIAL = @V_CD_REGRA_COMERCIAL
		
		IF @V_CONTADOR = 0
		-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Regra Comercial não encontrada'
				RETURN
			END


		SELECT  @V_ID_BASE_CALCULO_PEDIDO_MINIMO = ISNULL(ID_BASE_CALCULO_PEDIDO_MINIMO,1),
				@V_ID_PEND_PEDIDO_MINIMO = ID_PEND_PEDIDO_MINIMO
		FROM TB_REGRA_COMERCIAL
		WHERE CD_REGRA_COMERCIAL = @V_CD_REGRA_COMERCIAL
		
		IF @V_ID_PEND_PEDIDO_MINIMO = 1
			BEGIN
				SELECT @CD_ERRO = 0
				SELECT @DC_ERRO = ''
				SELECT @CD_PENDENTE = 0
				RETURN
			END
		ELSE
			BEGIN
				IF @V_ID_PEND_PEDIDO_MINIMO = 2
					BEGIN
						IF @V_ID_BASE_CALCULO_PEDIDO_MINIMO = 1
							BEGIN
								IF @V_VL_CREDITO_TOTAL >= @V_VL_PEDIDO_MINIMO		
									BEGIN
										-- NAO FICA PENDENTE
										SELECT @V_SITUACAO_PENDENCIA = 0
									END
								ELSE
									BEGIN
										-- FICA PENDENTE
										SELECT @V_SITUACAO_PENDENCIA = 1
									END
							END
						ELSE
							BEGIN
								IF @V_VL_PONTOS_TOTAL >= @V_VL_PEDIDO_MINIMO		
									BEGIN
										-- NAO FICA PENDENTE
										SELECT @V_SITUACAO_PENDENCIA = 0
									END
								ELSE
									BEGIN
										-- FICA PENDENTE
										SELECT @V_SITUACAO_PENDENCIA = 1
									END

							END

						IF @V_SITUACAO_PENDENCIA = 0		
							BEGIN
								SELECT @CD_ERRO = 0
								SELECT @DC_ERRO = ''
								SELECT @CD_PENDENTE = 0
								RETURN
							END				  
						ELSE
							BEGIN
								-- VERIFICA SE HISTORICO PEDIDO EXISTE
								SELECT @V_CONTADOR = COUNT(*)
								FROM TB_PEDIDO_HISTORICO
								WHERE CD_EST_SITUACAO = 1
								AND   NM_PEDIDO = @NM_PEDIDO
								AND   DT_FINAL IS NULL
					
								SELECT @V_CONTADOR = 1
		
								IF @V_CONTADOR = 0
									BEGIN
										SELECT @CD_ERRO = 0
										SELECT @DC_ERRO = 'Historico Pedido nao encontrado'
										RETURN
									END
								ELSE
									BEGIN
										IF @ID_SIMULACAO = 1
											BEGIN
												SELECT @CD_ERRO = 0
												SELECT @DC_ERRO = ''
												SELECT @CD_PENDENTE = 1
											END
										IF @ID_SIMULACAO = 2
											BEGIN
												-- FECHAR A SITUACAO 1 (EM CAPTAÇÃO)
												EXEC SP_GRAVA_HISTORICO_PEDIDO
													@NM_PEDIDO,
													1,
													2,
													0,
													'',
													@CD_USUARIO,
													0,
													'',
													0
											
												-- ABRIR A SITUACAO 41 (PEDENCIA DE PEDIDO MINIMO)
												EXEC SP_GRAVA_HISTORICO_PEDIDO
													@NM_PEDIDO,
													41,
													1,
													0,
													'',
													@CD_USUARIO,
													0,
													'',
													0
											
												SELECT @CD_ERRO = 0
												SELECT @DC_ERRO = ''
												SELECT @CD_PENDENTE = 1
												RETURN
									
											END
									END
							END
			      		      
					END	
			END
    			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      SELECT @CD_PENDENTE = 0
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
