SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_HC]
      @CD_PESSOA NUMERIC(18,0),   
      @CD_FUNCAO NUMERIC(18,0),
      @NM_CICLO NUMERIC(18,0),
      @VAR_RETORNO INT OUTPUT,
      @DC_ERRO NVARCHAR(MAX) OUTPUT,
      @QT_LINHAS_AFETADAS INT OUTPUT
     
AS
 
 
 
BEGIN TRY
 
  SELECT @QT_LINHAS_AFETADAS = 0
    
  SELECT @VAR_RETORNO = 0
        ,@DC_ERRO = ''
           
           
END TRY    
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
     
  IF @@TRANCOUNT > 0
    ROLLBACK
END CATCH;



GO
