SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Diego Zilioti
-- Create date: 05/08/2016
-- Description:	Insere o pedido da Hello Cash
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoInserePedidoHelloCash]
	
	@p_codigoPessoa				numeric(18, 0),
	@p_codigoEstabelecimento	numeric(18,0),
	@p_cpfPessoa				varchar(20),
	@p_descEstabelecimento		varchar(200),
	@p_valorTotalPedido			numeric(18,2),
	@p_descObservacoes			varchar(max),
	
	@p_codigoUsuario	numeric(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output,
	@p_numeroPedido		numeric(18,0)	output
AS

DECLARE @v_codigoEstComercial		numeric(18,0)
DECLARE @v_codigoRegraComercial		numeric(18,0)
DECLARE @v_numeroCicloCaptacao		numeric(18,0)
DECLARE @v_codigoPapelCarreira		numeric(18,0)
DECLARE @v_codigoPapelDesempenho	numeric(18,0)

BEGIN TRY

	--Primeiramente vamos verificar se já temos o código da pessoa, se já tivermos podemos buscar os dados para incluir o pedido
	--Quando o pedido vem da integração somente o CPF será enviado e precisaremos tratar por ele
	if @p_codigoPessoa > 0
		begin
			--Busca os dados para inserir o pedido
			SELECT @v_codigoEstComercial = isnull(CD_EST_COMERCIAL,0),
				   @v_codigoPapelCarreira = isnull(CD_PAPEL_CARREIRA,0),
				   @v_codigoPapelDesempenho = isnull(CD_PAPEL_DESEMPENHO,0),
				   @v_numeroCicloCaptacao = isnull(NM_CICLO_ATUAL,0)
			  FROM TB_PESSOA_RESUMO
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND CD_FUNCAO = 2
			   
			--Busca a primeira regra comercial disponível
	
			SELECT  @v_codigoRegraComercial = 1
		
			--Insere o pedido
			
			select @p_codigoErro = 0
			select @p_descricaoErro = ''
			select @p_numeroPedido = 0
			
			EXEC pr_PedidoInserePedido  @p_codigoPessoa,
										2,
										@v_codigoEstComercial,
										1, --Em Captação
										@v_codigoRegraComercial,
										@v_numeroCicloCaptacao,
										@v_codigoPapelCarreira,
										@v_codigoPapelDesempenho,
										3, --Site Externo
										'',
										@p_codigoUsuario,
										@p_codigoErro output,
										@p_descricaoErro output,
										@p_linhasAfetadas output,
										@p_numeroPedido output
			SELECT @p_numeroPedido = IDENT_CURRENT('TB_PEDIDO')		
			
			--No caso da Hello Cash vamos atualizar os valores diretamente pois os pedidos não terão itens
			update TB_PEDIDO set VL_LIQUIDO_TOTAL = @p_valorTotalPedido,
								 VL_TABELA_TOTAL = @p_valorTotalPedido,
								 VL_PRATICADO_TOTAL = @p_valorTotalPedido,
								 DC_OBSERVACOES_PEDIDO = @p_descObservacoes
			 where NM_PEDIDO = @p_numeroPedido
			
			--Abre o histórico em captação e fecha em seguida
			EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
										   1,
										   1,
										   1,
										   '',
										   @p_codigoUsuario,
										   @p_codigoErro output,
										   @p_descricaoErro output,
										   @p_linhasAfetadas output
										   
			EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
										   1,
										   2,
										   1,
										   '',
										   @p_codigoUsuario,
										   @p_codigoErro output,
										   @p_descricaoErro output,
										   @p_linhasAfetadas output
										   
			--Abre o histórico em integração e fecha em seguida
			EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
										   8,
										   1,
										   1,
										   '',
										   @p_codigoUsuario,
										   @p_codigoErro output,
										   @p_descricaoErro output,
										   @p_linhasAfetadas output
										   
			EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
										   8,
										   2,
										   1,
										   '',
										   @p_codigoUsuario,
										   @p_codigoErro output,
										   @p_descricaoErro output,
										   @p_linhasAfetadas output
										   
			--insere os dados referentes ao estabelecimento
			exec pr_PedidoInserePedidoEstabelecimentoHelloCash @p_codigoPessoa,
															   @p_codigoEstabelecimento,
															   @p_numeroPedido,
															   @p_codigoUsuario,
															   @p_codigoErro output,
															   @p_descricaoErro output,
															   @p_linhasAfetadas output 
															   
			if @p_codigoErro = 0
				begin
					--deu tudo certo vamos gravar a situação finalizada no histórico
					EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
												   9,
												   1,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
												   9,
												   2,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
				end
		end
	else
		--código da pessoa não informado, vamos tentar localizar por CPF
		begin
			SELECT @p_codigoPessoa = ISNULL(CD_PESSOA,0)
			  FROM TB_PESSOA_DOCUMENTO PD
			 WHERE RTRIM(REPLACE(REPLACE(REPLACE(REPLACE(DC_DOCUMENTO,'-',''),'.',''),'/',''),'\','')) = RTRIM(REPLACE(REPLACE(REPLACE(REPLACE(@p_cpfPessoa,'-',''),'.',''),'/',''),'\',''))
			
			--Consequentemente vamos verificar se o estabelecimento foi informado e se temos que buscar o dado que veio via integração
			if @p_codigoEstabelecimento = 0
				begin
					select @p_codigoEstabelecimento = CONVERT(NUMERIC(18,0),SUBSTRING(@p_descEstabelecimento,0,CHARINDEX('-',@p_descEstabelecimento,0)))
				end
				
			IF @p_codigoPessoa > 0 and @p_codigoEstabelecimento > 0
				BEGIN
					
					--Busca os dados para inserir o pedido
					SELECT @v_codigoEstComercial = isnull(CD_EST_COMERCIAL,0),
						   @v_codigoPapelCarreira = isnull(CD_PAPEL_CARREIRA,0),
						   @v_codigoPapelDesempenho = isnull(CD_PAPEL_DESEMPENHO,0),
						   @v_numeroCicloCaptacao = isnull(NM_CICLO_ATUAL,0)
					  FROM TB_PESSOA_RESUMO
					 WHERE CD_PESSOA = @p_codigoPessoa
					   AND CD_FUNCAO = 2
					   
					--Busca a primeira regra comercial disponível
			
					SELECT  @v_codigoRegraComercial = 1
				
					--Insere o pedido
					
					select @p_codigoErro = 0
					select @p_descricaoErro = ''
					select @p_numeroPedido = 0
					
					EXEC pr_PedidoInserePedido  @p_codigoPessoa,
												2,
												@v_codigoEstComercial,
												1, --Em Captação
												@v_codigoRegraComercial,
												@v_numeroCicloCaptacao,
												@v_codigoPapelCarreira,
												@v_codigoPapelDesempenho,
												3, --Site Externo
												'',
												@p_codigoUsuario,
												@p_codigoErro output,
												@p_descricaoErro output,
												@p_linhasAfetadas output,
												@p_numeroPedido output
					SELECT @p_numeroPedido = IDENT_CURRENT('TB_PEDIDO')		
					
					--No caso da Hello Cash vamos atualizar os valores diretamente pois os pedidos não terão itens
					update TB_PEDIDO set VL_LIQUIDO_TOTAL = @p_valorTotalPedido,
										 VL_TABELA_TOTAL = @p_valorTotalPedido,
										 VL_PRATICADO_TOTAL = @p_valorTotalPedido
					 where NM_PEDIDO = @p_numeroPedido
					 
					--Abre o histórico em captação e fecha em seguida
					EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
												   1,
												   1,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
												   1,
												   2,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					--Abre o histórico em integração e fecha em seguida
					EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
												   8,
												   1,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
												   8,
												   2,
												   1,
												   '',
												   @p_codigoUsuario,
												   @p_codigoErro output,
												   @p_descricaoErro output,
												   @p_linhasAfetadas output
												   
					--insere os dados referentes ao estabelecimento
					exec pr_PedidoInserePedidoEstabelecimentoHelloCash @p_codigoPessoa,
																	   @p_codigoEstabelecimento,
																	   @p_numeroPedido,
																	   @p_codigoUsuario,
																	   @p_codigoErro output,
																	   @p_descricaoErro output,
																	   @p_linhasAfetadas output 
																	   
					if @p_codigoErro = 0
						begin
							--deu tudo certo vamos gravar a situação finalizada no histórico
							EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
														   9,
														   1,
														   1,
														   '',
														   @p_codigoUsuario,
														   @p_codigoErro output,
														   @p_descricaoErro output,
														   @p_linhasAfetadas output
														   
							EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
														   9,
														   2,
														   1,
														   '',
														   @p_codigoUsuario,
														   @p_codigoErro output,
														   @p_descricaoErro output,
														   @p_linhasAfetadas output
						end
				
				END
			ELSE
				BEGIN
					--NÃO FOI LOCALIZADA A PESSOA COM O DOCUMENTO INFORMADO
					select @p_codigoErro = 1
					select @p_descricaoErro = 'PESSOA ' + @p_cpfPessoa + ' NÃO ENCONTRADA COM OS PARÂMETROS INFORMADOS'
					select @p_numeroPedido = 0
					
				END
		end

								   			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = 'PESSOA ' + @p_cpfPessoa + ' ESTABELECIMENTO ' + @p_descEstabelecimento + ' ERRO INSESPERADO: ' + ERROR_MESSAGE()
      select @p_numeroPedido = 0
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
