SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_RegraComercialInsereRegraComercialIndicador]
	
	@p_codigoRegraComercial		numeric(18,0),
    @p_codigoIndicador			int,
	@p_valorFaixaInicial		numeric(18,2),
	@p_valorFaixaFinal			numeric(18,2),
	@p_idExcecao				int,

    @p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),

	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				int output


AS
BEGIN TRY
	select @p_codigoErro = 0
	
	if @p_descAcao = 'I'
		BEGIN
			INSERT INTO [dbo].[TB_REGRA_COMERCIAL_INDICADOR]
			([CD_REGRA_COMERCIAL]
			,[CD_INDICADOR_PESSOAL]
			,[VL_FAIXA_INICIAL]
			,[VL_FAIXA_FINAL]
			,[DT_CADASTRO]
			,[CD_USUARIO_CADASTRO]
			,[DT_ATUALIZACAO]
			,[CD_USUARIO_ATUALIZACAO]
			,[ID_EXCECAO])
			VALUES
			(@p_codigoRegraComercial,
			 @p_codigoIndicador,
			 @p_valorFaixaInicial,
			 @p_valorFaixaFinal,
			 GETDATE(),
			 @p_codigoUsuario,
			 GETDATE(),
			 @p_codigoUsuario,
			 @p_idExcecao)

		END 	--IF @ID_APLICACAO <> 0 

	if @p_descAcao = 'E'
		begin
			DELETE FROM [TB_REGRA_COMERCIAL_INDICADOR] WHERE CD_REGRA_COMERCIAL = @p_codigoRegraComercial 
		end


END TRY
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
