SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_ATUALIZA_MMN_ESTENDIDO_KENKOPATTO]
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

DECLARE  @CURSOR_PESSOA         CURSOR
DECLARE  @CURSOR_PESSOA2         CURSOR

DECLARE @CD_PESSOA                NUMERIC (18,0),
	@CD_FUNCAO                NUMERIC (18,0),
        @NM_CICLO                 NUMERIC (18,0)

DECLARE @CD_PESSOA2               NUMERIC (18,0),
        @NM_NIVEL2                NUMERIC (18,0),
	@CD_EST_COMERCIAL2        NUMERIC (18,0)

DECLARE @ID_EVENTO                    INT,  
        @ID_MOMENTO_CALCULO_INDICADOR INT,
        @ID_TIPO_ATUALIZACAO          INT

DECLARE @CD_EST_COMERCIAL        NUMERIC (18,0)

DECLARE @ID_ORDEM     INT

DECLARE @ID_PAPEL_DESEMPENHO_ALTERADO           INT,
        @ID_PAPEL_DESEMPENHO_ALTERADO_ESTENDIDO INT,
        @NM_CICLO_ESTENDIDO                     NUMERIC(18,0)

BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0

  SELECT @ID_PAPEL_DESEMPENHO_ALTERADO_ESTENDIDO = 0,
         @NM_CICLO_ESTENDIDO                     = 0

  -- EXECUTAR : INDICADORES E PLANO DE CARREIRA
  -- ABRE O CURSOR PESSOA
  SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
  FOR SELECT  distinct 1,
             A.CD_PESSOA,
		 A.CD_FUNCAO,
		 A.NM_CICLO_INDICADOR,
                 A.CD_EST_COMERCIAL
  FROM TB_PEDIDO A WITH (NOLOCK), 
       TB_PEDIDO_ITEM B WITH (NOLOCK),
      (SELECT CD_EST_COMERCIAL ESTRUTURA, NM_CICLO CICLO_ESTENDIDO, DT_INICIAL_CICLO_ESTENDIDO DT_INICIAL_ESTENDIDO, DT_FINAL_CICLO_ESTENDIDO DT_FINAL_ESTENDIDO
       FROM TB_CALENDARIO_COMERCIAL WITH (NOLOCK)
       WHERE  CONVERT(DATE,GETDATE()-1) BETWEEN DT_INICIAL_CICLO_ESTENDIDO AND DT_FINAL_CICLO_ESTENDIDO) C
  WHERE A.NM_PEDIDO               = B.NM_PEDIDO
  AND   A.CD_FUNCAO               = 2
  AND   B.ID_PRODUTO_COBRADO      = 1
  AND   B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
  AND   B.NM_PEDIDO_ITEM_CONJUNTO = 0	
  AND   A.NM_CICLO_INDICADOR      = C.CICLO_ESTENDIDO
  AND   A.CD_EST_COMERCIAL        = C.ESTRUTURA
  AND   (   (A.NM_CICLO_CANCELAMENTO   IS NULL      -- PEDIDO APROVADO
             --AND   CONVERT(DATE,A.DT_APROVACAO_PEDIDO) BETWEEN C.DT_INICIAL_ESTENDIDO AND C.DT_FINAL_ESTENDIDO
             AND   CONVERT(DATE,A.DT_APROVACAO_PEDIDO) = CONVERT(DATE, GETDATE()-1)
	    )
	 OR (A.NM_CICLO_CANCELAMENTO   IS NOT NULL -- PEDIDO CANCELADO
             --AND   CONVERT(DATE,A.DT_CANCELAMENTO_PEDIDO) BETWEEN C.DT_INICIAL_ESTENDIDO AND C.DT_FINAL_ESTENDIDO
             AND   CONVERT(DATE,A.DT_CANCELAMENTO_PEDIDO) = CONVERT(DATE, GETDATE()-1)
            )
        )
  UNION
  SELECT  DISTINCT 2,
          A.CD_PESSOA,
	    A.CD_FUNCAO,
	    C.CICLO_ESTENDIDO, 
         A.CD_EST_COMERCIAL
  FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
	      (SELECT CD_EST_COMERCIAL ESTRUTURA, NM_CICLO CICLO_ESTENDIDO, DT_INICIAL_CICLO_ESTENDIDO DT_INICIAL_ESTENDIDO, 
	              DT_FINAL_CICLO_ESTENDIDO DT_FINAL_ESTENDIDO
             FROM TB_CALENDARIO_COMERCIAL WITH (NOLOCK)
             WHERE  CONVERT(DATE,GETDATE()-1) BETWEEN DT_INICIAL_CICLO_ESTENDIDO AND DT_FINAL_CICLO_ESTENDIDO) C
  WHERE A.CD_FUNCAO                = 2
  AND   A.NM_CICLO_CAPTACAO = C.CICLO_ESTENDIDO AND EXISTS (SELECT * FROM TB_PEDIDO_HISTORICO C with(nolock),
							                                  (SELECT DT_INICIAL, DT_FINAL FROM TB_CALENDARIO_COMERCIAL with(nolock)
									                       WHERE NM_CICLO         = C.CICLO_ESTENDIDO
									                       AND   CD_EST_COMERCIAL = C.ESTRUTURA)  D
					                              WHERE C.NM_PEDIDO = A.NM_PEDIDO
					                              AND   CONVERT(DATE,C.DT_INICIAL) BETWEEN D.DT_INICIAL AND D.DT_FINAL
					                              AND   C.CD_EST_SITUACAO = 47) 
  AND A.NM_CICLO_INDICADOR IS NULL 
  AND  A.NM_CICLO_CANCELAMENTO  IS NOT NULL     -- SOMENTE PEDIDO NÃO CANCELADO
  AND  CONVERT(DATE,A.DT_CANCELAMENTO_PEDIDO) = CONVERT(DATE, GETDATE()-1)
  AND   A.CD_EST_COMERCIAL       = C.ESTRUTURA
  AND   A.NM_PEDIDO                = B.NM_PEDIDO
--AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
  AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
  AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
  AND   B.ID_PRODUTO_COBRADO	 = 1
  ORDER BY 1,2
  OPEN @CURSOR_PESSOA
  FETCH NEXT FROM @CURSOR_PESSOA
  INTO @ID_ORDEM, @CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_EST_COMERCIAL
  WHILE @@FETCH_STATUS = 0 
  BEGIN  
  --------- 1

    -- ABRE O CURSOR PESSOA 2
    SET @CURSOR_PESSOA2 = CURSOR FAST_FORWARD
    FOR SELECT  @CD_PESSOA,0, @CD_EST_COMERCIAL
        UNION
        SELECT  A.CD_PESSOA_VINCULADA, A.NM_NIVEL, B.CD_EST_COMERCIAL
        FROM TB_WRK_MN_TOPOLOGIA A WITH (NOLOCK), TB_PESSOA_RESUMO B WITH (NOLOCK)
	WHERE  A.CD_PESSOA_VINCULADA = B.CD_PESSOA
	AND    A.CD_FUNCAO           = B.CD_FUNCAO
	AND    A.CD_PESSOA           = @CD_PESSOA
        AND    A.CD_FUNCAO           = @CD_FUNCAO
	AND    A.NM_CICLO            = @NM_CICLO
        AND    A.ID_ORDEM            = 1    -- ASCENDENTE
	AND    A.ID_TIPO_REDE_MN      = 1    -- REDE UNILEVEL
        ORDER BY 2  

    OPEN @CURSOR_PESSOA2
    FETCH NEXT FROM @CURSOR_PESSOA2
    INTO @CD_PESSOA2, @NM_NIVEL2, @CD_EST_COMERCIAL2
    WHILE @@FETCH_STATUS = 0 
    BEGIN  
    ---------- 2

      -- ITEM 1 : CALCULA INDICADORES (PESSOA DO PEDIDO E ASCENDENTES)
      SELECT @ID_EVENTO                    = 8,  
             @ID_MOMENTO_CALCULO_INDICADOR = 2,
             @ID_TIPO_ATUALIZACAO          = 1

      EXEC SP_CALCULA_PESSOA_INDICADOR_ESTENDIDO_KENKOPATTO
				@CD_PESSOA2,
				@CD_FUNCAO,
				@CD_EST_COMERCIAL2,
				@NM_CICLO,
				@ID_EVENTO,                    --FIM DIA
				@ID_TIPO_ATUALIZACAO,          --ADICIONAR
				@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
				99,                            --CD_USUARIO
				@VAR_RETORNO			OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS		OUTPUT

      -- ITEM 2 : CALCULA PLANO DE CARREIRA (PESSOA DO PEDIDO E ASCENDENTES)
      EXEC SP_MN_ATUALIZA_PLANO_CARREIRA_ESTENDIDO_KENKOPATTO
				@CD_PESSOA2,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_EST_COMERCIAL2,
	                        @ID_PAPEL_DESEMPENHO_ALTERADO   OUTPUT,
				@VAR_RETORNO			OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS		OUTPUT

      -- ATUALIZA AS VARIAVEIS PARA IDENTIFICAR SE PRECISA PROCESSAR A BONIFICAÇÃO TOTAL OU PARCIAL
        SELECT @ID_PAPEL_DESEMPENHO_ALTERADO_ESTENDIDO = CASE WHEN (@ID_PAPEL_DESEMPENHO_ALTERADO_ESTENDIDO = 1 OR @ID_PAPEL_DESEMPENHO_ALTERADO = 1) THEN 1
                                                              ELSE 2   END,
               @NM_CICLO_ESTENDIDO                     = @NM_CICLO

      FETCH NEXT FROM @CURSOR_PESSOA2
      INTO @CD_PESSOA2, @NM_NIVEL2,@CD_EST_COMERCIAL2
    ---------- 2
    END 
    CLOSE       @CURSOR_PESSOA2
    DEALLOCATE  @CURSOR_PESSOA2


    FETCH NEXT FROM @CURSOR_PESSOA
    INTO @ID_ORDEM, @CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_EST_COMERCIAL
  ---------- 1
  END -- FIM : EXECUTAR : INDICADORES E PLANO DE CARREIRA
  CLOSE       @CURSOR_PESSOA
  DEALLOCATE  @CURSOR_PESSOA


  -- EXECUTAR : BONIFICAÇÃO
  IF (@ID_PAPEL_DESEMPENHO_ALTERADO_ESTENDIDO = 2)  -- NÃO ALTEROU O PAPEL DESEMPENHO DE NENHUMA PESSOA... CALCULA A BONIFICAÇÃO PARCIAL
  BEGIN
    -- ABRE O CURSOR PESSOA
    SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
    FOR SELECT  distinct 1,
                 A.CD_PESSOA,
		 A.CD_FUNCAO,
		 A.NM_CICLO_INDICADOR,
                 A.CD_EST_COMERCIAL
    FROM TB_PEDIDO A WITH (NOLOCK), 
         TB_PEDIDO_ITEM B WITH (NOLOCK),
        (SELECT CD_EST_COMERCIAL ESTRUTURA, NM_CICLO CICLO_ESTENDIDO, DT_INICIAL_CICLO_ESTENDIDO DT_INICIAL_ESTENDIDO, DT_FINAL_CICLO_ESTENDIDO DT_FINAL_ESTENDIDO
         FROM TB_CALENDARIO_COMERCIAL WITH (NOLOCK)
         WHERE  CONVERT(DATE,GETDATE()-1) BETWEEN DT_INICIAL_CICLO_ESTENDIDO AND DT_FINAL_CICLO_ESTENDIDO) C
    WHERE A.NM_PEDIDO               = B.NM_PEDIDO
    AND   A.CD_FUNCAO               = 2
    AND   B.ID_PRODUTO_COBRADO      = 1
    AND   B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
    AND   B.NM_PEDIDO_ITEM_CONJUNTO = 0	
    AND   A.NM_CICLO_INDICADOR      = C.CICLO_ESTENDIDO
    AND   A.CD_EST_COMERCIAL        = C.ESTRUTURA
    AND   (   (A.NM_CICLO_CANCELAMENTO   IS NULL      -- PEDIDO APROVADO
               --AND   CONVERT(DATE,A.DT_APROVACAO_PEDIDO) BETWEEN C.DT_INICIAL_ESTENDIDO AND C.DT_FINAL_ESTENDIDO
               AND   CONVERT(DATE,A.DT_APROVACAO_PEDIDO) = CONVERT(DATE, GETDATE()-1)
	      )
	   OR (A.NM_CICLO_CANCELAMENTO   IS NOT NULL -- PEDIDO CANCELADO
               --AND   CONVERT(DATE,A.DT_CANCELAMENTO_PEDIDO) BETWEEN C.DT_INICIAL_ESTENDIDO AND C.DT_FINAL_ESTENDIDO
               AND   CONVERT(DATE,A.DT_CANCELAMENTO_PEDIDO) = CONVERT(DATE, GETDATE()-1)
              )
          )
    UNION
    SELECT  DISTINCT 2,
            A.CD_PESSOA,
	      A.CD_FUNCAO,
	      C.CICLO_ESTENDIDO, 
           A.CD_EST_COMERCIAL
    FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock),
	      (SELECT CD_EST_COMERCIAL ESTRUTURA, NM_CICLO CICLO_ESTENDIDO, DT_INICIAL_CICLO_ESTENDIDO DT_INICIAL_ESTENDIDO, 
	              DT_FINAL_CICLO_ESTENDIDO DT_FINAL_ESTENDIDO
             FROM TB_CALENDARIO_COMERCIAL WITH (NOLOCK)
             WHERE  CONVERT(DATE,GETDATE()-1) BETWEEN DT_INICIAL_CICLO_ESTENDIDO AND DT_FINAL_CICLO_ESTENDIDO) C
    WHERE A.CD_FUNCAO                = 2
    AND   A.NM_CICLO_CAPTACAO = C.CICLO_ESTENDIDO AND EXISTS (SELECT * FROM TB_PEDIDO_HISTORICO C with(nolock),
							                                  (SELECT DT_INICIAL, DT_FINAL FROM TB_CALENDARIO_COMERCIAL with(nolock)
									                       WHERE NM_CICLO         = C.CICLO_ESTENDIDO
									                       AND   CD_EST_COMERCIAL = C.ESTRUTURA)  D
					                              WHERE C.NM_PEDIDO = A.NM_PEDIDO
					                              AND   CONVERT(DATE,C.DT_INICIAL) BETWEEN D.DT_INICIAL AND D.DT_FINAL
					                              AND   C.CD_EST_SITUACAO = 47) 
    AND A.NM_CICLO_INDICADOR IS NULL 
    AND  A.NM_CICLO_CANCELAMENTO  IS NOT NULL     -- SOMENTE PEDIDO NÃO CANCELADO
    AND  CONVERT(DATE,A.DT_CANCELAMENTO_PEDIDO) = CONVERT(DATE, GETDATE()-1)
    AND   A.CD_EST_COMERCIAL       = C.ESTRUTURA
    AND   A.NM_PEDIDO                = B.NM_PEDIDO
  --AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
    AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
    AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
    AND   B.ID_PRODUTO_COBRADO	 = 1
    ORDER BY 1,2
    OPEN @CURSOR_PESSOA
    FETCH NEXT FROM @CURSOR_PESSOA
    INTO @ID_ORDEM, @CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_EST_COMERCIAL
    WHILE @@FETCH_STATUS = 0 
    BEGIN  
    --------- 1

      -- ABRE O CURSOR PESSOA 2
      SET @CURSOR_PESSOA2 = CURSOR FAST_FORWARD
      FOR SELECT  @CD_PESSOA,0, @CD_EST_COMERCIAL
          UNION
          SELECT  A.CD_PESSOA_VINCULADA, A.NM_NIVEL, B.CD_EST_COMERCIAL
          FROM TB_WRK_MN_TOPOLOGIA A WITH (NOLOCK), TB_PESSOA_RESUMO B WITH (NOLOCK)
	  WHERE  A.CD_PESSOA_VINCULADA = B.CD_PESSOA
	  AND    A.CD_FUNCAO           = B.CD_FUNCAO
	  AND    A.CD_PESSOA           = @CD_PESSOA
          AND    A.CD_FUNCAO           = @CD_FUNCAO
	  AND    A.NM_CICLO            = @NM_CICLO
          AND    A.ID_ORDEM            = 1    -- ASCENDENTE
	  AND    A.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL
          ORDER BY 2  

      OPEN @CURSOR_PESSOA2
      FETCH NEXT FROM @CURSOR_PESSOA2
      INTO @CD_PESSOA2, @NM_NIVEL2,@CD_EST_COMERCIAL2
      WHILE @@FETCH_STATUS = 0 
      BEGIN  
      ---------- 3

        -- ITEM 3 : LIMPAR OS BÔNUS DO PEDIDO CANCELADO E DOS PEDIDOS APROVADOS DOS DESCENDENTES
        EXEC SP_MN_LIMPA_REMUNERACAO_ESTENDIDO_KENKOPATTO
				@CD_PESSOA2,
				@NM_CICLO,
				@VAR_RETORNO        OUTPUT,
				@DC_ERRO            OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT


        -- ITEM 4 : CALCULAR OS BÔNUS DO PEDIDO APROVADO E DOS PEDIDOS APROVADOS DOS DESCENDENTES
        EXEC SP_MN_CALCULA_REMUNERACAO_ESTENDIDO_KENKOPATTO
				@CD_PESSOA2,
				@CD_FUNCAO,
				@NM_CICLO,
        			@CD_EST_COMERCIAL2,
				@VAR_RETORNO        OUTPUT,
				@DC_ERRO            OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT



        FETCH NEXT FROM @CURSOR_PESSOA2
        INTO @CD_PESSOA2, @NM_NIVEL2,@CD_EST_COMERCIAL2
      ---------- 3
      END 
      CLOSE       @CURSOR_PESSOA2
      DEALLOCATE  @CURSOR_PESSOA2

      FETCH NEXT FROM @CURSOR_PESSOA
      INTO @ID_ORDEM, @CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @CD_EST_COMERCIAL
    ---------- 1
    END 
    CLOSE       @CURSOR_PESSOA
    DEALLOCATE  @CURSOR_PESSOA
  END  -- FIM : -- NÃO ALTEROU O PAPEL DESEMPENHO DE NENHUMA PESSOA... CALCULA A BONIFICAÇÃO PARCIAL



  IF (@ID_PAPEL_DESEMPENHO_ALTERADO_ESTENDIDO = 1)  -- ALTEROU O PAPEL DESEMPENHO DE ALGUMA PESSOA... CALCULA A BONIFICAÇÃO TOTAL 
  BEGIN
    SELECT @CD_PESSOA = 4 -- PESSOA TOPO DA REDE KENKO PATTO

    -- ABRE O CURSOR PESSOA 2
    SET @CURSOR_PESSOA2 = CURSOR FAST_FORWARD
    FOR SELECT  @CD_PESSOA,0, 4 -- pessoa topo da rede pertence a estrutura comercial 4 por isso fixo
        UNION
        SELECT  A.CD_PESSOA_VINCULADA, A.NM_NIVEL, B.CD_EST_COMERCIAL
        FROM TB_WRK_MN_TOPOLOGIA A WITH (NOLOCK), TB_PESSOA_RESUMO B WITH (NOLOCK)
	WHERE  A.CD_PESSOA_VINCULADA = B.CD_PESSOA
	AND    A.CD_FUNCAO           = B.CD_FUNCAO
	AND    A.CD_PESSOA           = @CD_PESSOA
        AND    A.CD_FUNCAO           = @CD_FUNCAO
	AND    A.NM_CICLO            = @NM_CICLO
        AND    A.ID_ORDEM            = 2    -- DESCENDENTE
	AND    A.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL
        ORDER BY 2  


    OPEN @CURSOR_PESSOA2
    FETCH NEXT FROM @CURSOR_PESSOA2
    INTO @CD_PESSOA2, @NM_NIVEL2,@CD_EST_COMERCIAL2
    WHILE @@FETCH_STATUS = 0 
    BEGIN  
    ---------- 3

      -- ITEM 3 : LIMPAR OS BÔNUS DO PEDIDO CANCELADO E DOS PEDIDOS APROVADOS DOS DESCENDENTES
      EXEC SP_MN_LIMPA_REMUNERACAO_ESTENDIDO_KENKOPATTO
				@CD_PESSOA2,
				@NM_CICLO_ESTENDIDO,
				@VAR_RETORNO        OUTPUT,
				@DC_ERRO            OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT


      -- ITEM 4 : CALCULAR OS BÔNUS DO PEDIDO APROVADO E DOS PEDIDOS APROVADOS DOS DESCENDENTES
      EXEC SP_MN_CALCULA_REMUNERACAO_ESTENDIDO_KENKOPATTO
				@CD_PESSOA2,
				@CD_FUNCAO,
				@NM_CICLO_ESTENDIDO,
        			@CD_EST_COMERCIAL2,
				@VAR_RETORNO        OUTPUT,
				@DC_ERRO            OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT



      FETCH NEXT FROM @CURSOR_PESSOA2
      INTO @CD_PESSOA2, @NM_NIVEL2,@CD_EST_COMERCIAL2
    ---------- 3
    END 
    CLOSE       @CURSOR_PESSOA2
    DEALLOCATE  @CURSOR_PESSOA2

  END  -- FIM : ALTEROU O PAPEL DESEMPENHO DE ALGUMA PESSOA... CALCULA A BONIFICAÇÃO TOTAL 

  -- FIM : EXECUTAR : BONIFICAÇÃO


  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0
		
END TRY	

BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;






GO
