SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_FiscalInsereRegraFiscalUF]
	@CD_REGRA_FISCAL NUMERIC(18,0),
	@DC_UF_DESTINO VARCHAR(2),
		
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_REGRA_FISCAL_UF 
				VALUES (@CD_REGRA_FISCAL,
						@DC_UF_DESTINO)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
				
				SELECT @VAR_RETORNO = 0
			END	
			
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
	
				BEGIN TRANSACTION 
	
				DELETE FROM TB_REGRA_FISCAL_UF 
					WHERE CD_REGRA_FISCAL = @CD_REGRA_FISCAL
					AND	  DC_UF_DESTINO = @DC_UF_DESTINO
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
				
				SELECT @VAR_RETORNO = 0
			END	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = ERROR_NUMBER()
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
