SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNRemuneracaoInsereRegraQuemRecebeRemuneracao]

	@P_CD_REMUNERACAO numeric(18, 0),
	@P_NM_SEQUENCIA_INDICADOR numeric(18, 0),
	@P_CD_INDICADOR_PESSOAL numeric(18, 0),
	@P_VL_INDICADOR_PESSOAL_INICIO numeric(18, 2),
	@P_VL_INDICADOR_PESSOAL_FIM numeric(18, 2),
	@P_ID_OPERACAO numeric(18, 0),	

	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoFuncao				VARCHAR(1),
		
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0

	IF @p_descricaoFuncao = 'I'
	BEGIN

		INSERT INTO TB_MN_REGRA_REMUNERACAO_INDICADOR_RECEBE(
			CD_REMUNERACAO,
			NM_SEQUENCIA_INDICADOR,
			CD_INDICADOR_PESSOAL,
			VL_INDICADOR_PESSOAL_INICIO,
			VL_INDICADOR_PESSOAL_FIM,
			ID_OPERACAO)  
		VALUES (@P_CD_REMUNERACAO,
			@P_NM_SEQUENCIA_INDICADOR,
			@P_CD_INDICADOR_PESSOAL,
			@P_VL_INDICADOR_PESSOAL_INICIO,
			@P_VL_INDICADOR_PESSOAL_FIM,
			@P_ID_OPERACAO)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				--SELECT @p_codigoGerado = IDENT_CURRENT('TB_CAMPANHA')
				SELECT @p_codigoGerado = 0
				
			END	
		
		IF @p_descricaoFuncao = 'A'
			BEGIN
				 
				UPDATE TB_MN_REGRA_REMUNERACAO_INDICADOR_RECEBE
				SET	CD_INDICADOR_PESSOAL = @P_CD_INDICADOR_PESSOAL,
					VL_INDICADOR_PESSOAL_INICIO = @P_VL_INDICADOR_PESSOAL_INICIO,
					VL_INDICADOR_PESSOAL_FIM = VL_INDICADOR_PESSOAL_FIM,
					ID_OPERACAO              = ID_OPERACAO
				WHERE 	CD_REMUNERACAO               = @P_CD_REMUNERACAO
				AND     NM_SEQUENCIA_INDICADOR       = @P_NM_SEQUENCIA_INDICADOR

				SELECT @p_linhasAfetadas = @@ROWCOUNT
			END

		IF @p_descricaoFuncao = 'E'
			BEGIN
				 
				DELETE FROM TB_MN_REGRA_REMUNERACAO_INDICADOR_RECEBE
				WHERE 	CD_REMUNERACAO               = @P_CD_REMUNERACAO
				AND     NM_SEQUENCIA_INDICADOR       = @P_NM_SEQUENCIA_INDICADOR

				SELECT @p_linhasAfetadas = @@ROWCOUNT
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
