SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Description:	Insere um item no carrinho temporário
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoInserePedidoTempItem]
	-- Add the parameters for the stored procedure here
	@p_nmPedidoTemp			numeric(18,0),
	@p_codigoProduto		numeric(18,0),
	@p_codigoMaterial    	numeric(18,0),
	@p_qtdeSolicitada		numeric(18,0),
	@p_vlPreco				decimal(18,2),
	@p_vlPontos				decimal(18,2),
	@p_codigoEstSituacao	numeric(18,0),
	@p_idEntregaPresente    int,
	
	@p_descAcao				varchar(1),
	
	@p_codigoErro			int				output,
	@p_descricaoErro		varchar(1000)	output,
	@p_linhasAfetadas		int				output
	
AS
DECLARE @v_qtdeProduto int
BEGIN TRY
	
	SET NOCOUNT ON;
	
	IF @p_descAcao = 'I'
		BEGIN
		
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
				
			insert into TB_WRK_PEDIDO_TEMP_ITEM values (@p_nmPedidoTemp,@p_codigoProduto,@p_qtdeSolicitada,@p_vlPreco,@p_codigoEstSituacao, @p_codigoMaterial,@p_idEntregaPresente,@p_vlPontos,GETDATE())
			
		END
	
	IF @p_descAcao = 'A'
		BEGIN
			
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
			
			SELECT @v_qtdeProduto = COUNT(*)
			  FROM TB_WRK_PEDIDO_TEMP_ITEM
			 WHERE NM_PEDIDO_TEMP = @p_nmPedidoTemp
			   AND CD_PRODUTO_VENDA = @p_codigoProduto
			   
			IF @v_qtdeProduto > 0
				BEGIN
			
					UPDATE TB_WRK_PEDIDO_TEMP_ITEM
					  SET QT_SOLICITADA = @p_qtdeSolicitada,
						  VL_PRECO = @p_vlPreco,
						  VL_PONTOS = @p_vlPontos,
						  CD_EST_SITUACAO = @p_codigoEstSituacao,
						  ID_ENTREGA_PRESENTE = @p_idEntregaPresente
					WHERE NM_PEDIDO_TEMP = @p_nmPedidoTemp
					  AND CD_PRODUTO_VENDA = @p_codigoProduto
					  AND CD_MATERIAL = @p_codigoMaterial
				END
			ELSE
				BEGIN
					insert into TB_WRK_PEDIDO_TEMP_ITEM values (@p_nmPedidoTemp,@p_codigoProduto,@p_qtdeSolicitada,@p_vlPreco,@p_codigoEstSituacao,@p_codigoMaterial,@p_idEntregaPresente,@p_vlPontos,GETDATE())
				END
		
		END
	
	IF @p_descAcao = 'E'
		BEGIN
			
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
			
			DELETE FROM TB_WRK_PEDIDO_TEMP_ITEM 
			 WHERE NM_PEDIDO_TEMP = @p_nmPedidoTemp
			   AND CD_PRODUTO_VENDA = @p_codigoProduto
			   AND CD_MATERIAL = @p_codigoMaterial	
		END
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
