SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_FiscalInsereTextoLegal]
	@CD_TEXTO_LEGAL NUMERIC(18,0),
	@DC_TEXTO_LEGAL NVARCHAR(MAX),
	@ID_ORIGEM_TEXTO_LEGAL INT,
	@CD_USUARIO numeric(18,0),
	
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		--TRATAMENTO DAS STRING TEXTO LEGAIS, 
		--REMOVE CARACTERES ESPECIAIS, ESPAÇOS E QUEBRA DE LINHA
--		SELECT @DC_TEXTO_LEGAL = DBO.fn_RemoveCaracteresEspeciais(@DC_TEXTO_LEGAL)
		SELECT @DC_TEXTO_LEGAL = REPLACE(@DC_TEXTO_LEGAL,CHAR(13) + CHAR(10),' ')
		SELECT @DC_TEXTO_LEGAL = RTRIM(REPLACE(REPLACE(REPLACE(@DC_TEXTO_LEGAL,' ','<>'),'><',''),'<>',' '))
		
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_TEXTO_LEGAL (
					DC_TEXTO_LEGAL,
					ID_ORIGEM_TEXTO_LEGAL)
										
						
				VALUES           (
					@DC_TEXTO_LEGAL,
					@ID_ORIGEM_TEXTO_LEGAL)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
	
				BEGIN TRANSACTION 
	
				DELETE FROM TB_TEXTO_LEGAL 
					WHERE CD_TEXTO_LEGAL = @CD_TEXTO_LEGAL
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	

			IF @VAR_TIPO_FUNCAO = 'A'
			 BEGIN 
			   
			   BEGIN TRANSACTION

			    UPDATE TB_TEXTO_LEGAL 
			    SET DC_TEXTO_LEGAL = @DC_TEXTO_LEGAL,
			    ID_ORIGEM_TEXTO_LEGAL = @ID_ORIGEM_TEXTO_LEGAL
				WHERE CD_TEXTO_LEGAL = @CD_TEXTO_LEGAL 

			    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT

				COMMIT TRANSACTION

				END

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = ERROR_NUMBER()
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
