SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*
ROTINA QUE INSERE INFORMAÇÃO NA TABELA TB_PEDIDO
*/

CREATE PROCEDURE [dbo].[pr_PedidoDesmembraPedidoRecorrencia]
	@p_numeroPedido				numeric(18, 0),
				
	@p_codigoUsuario			NUMERIC(18,0),
	
	@p_codigoErro				int				output,
	@p_descricaoErro			varchar(1000)	output,
	@p_linhasAfetadas			int				output,
	@p_numeroPedidoRecorrencia	int				output

AS

DECLARE @v_codigoCentroDistribuicao		numeric(18,0),
		@v_codigoFuncao					numeric(18,0),
		@v_codigoRegraComercial			numeric(18,0),
		@v_codigoPessoa					numeric(18,0),
		@v_codigoEstComercial			numeric(18,0),
		@v_codigoEstSituacao			numeric(18,0),
		@v_numeroCicloCaptacao			numeric(18,0),
		@v_codigoPapelCarreira			numeric(18,0),
		@v_codigoPapelDesempenho		numeric(18,0),
		@v_descObservacoesPedido		varchar(max),
		@v_codigoOrigemCaptacao			int,
		@v_codigoMovimentaEstoque		int,
		@v_codigoSeparaPedido			int,
		@v_codigoGeraNotaFiscal			int,
		@v_codigoPermiteEdicaoPedido	int,
		@v_idSeparacaoPedido			INT,
		@v_idConferenciaPedido			INT,
		@cursorProdutosRecorrencia		cursor,
		@v_codigoProdutoVenda			numeric(18,0),
		@v_codigoMaterial				numeric(18,0),
		@v_idOrigemItemPedido			int,
		@v_cdOrigemItemPedido			numeric(18,0),
		@v_idProdutoCobrado				int,
		@v_idTipoProduto				int,
		@v_idAgrupamento				int,
		@v_codigoEstSituacaoItem		numeric(18,0),
		@v_codigoCotaProdutoEstrutura	numeric(18,0),
		@v_codigoCotaProdutoPessoa		numeric(18,0),
		@v_qtdePedida					int,
		@v_qtdeReservada				int,
		@v_valorCreditoTotal			numeric(18,2),
		@v_valorTabelaTotal				numeric(18,2),
		@v_valorPraticadoTotal			numeric(18,2),
		@v_valorLiquidoTotal			numeric(18,2),
		@v_valorImpostoTotal			numeric(18,2),
		@v_valorComissaoTotal			numeric(18,2),
		@v_valorPagarTotal				numeric(18,2),
		@v_valorCustoTotal				numeric(18,2),
		@v_idGeraBonus					int,
		@v_idGeraGraduacao				int,
		@v_idGeraAtivacao				int,
		@v_idEntregaPresente			int,
		@v_valorPontosTotal				numeric(18,2),
		@v_numeroPedidoItem				numeric(18,0),
		@v_numeroPedidoItemGerado		numeric(18,0)

BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	-- ****************************************************************
	-- PRIMEIRAMENTE VAMOS BUSCAR INFORMAÇÕES VITAIS DO PEDIDO ORIGINAL
	-- ****************************************************************

	SELECT @v_codigoFuncao = CD_FUNCAO,
		   @v_codigoRegraComercial = CD_REGRA_COMERCIAL,
		   @v_codigoPessoa = CD_PESSOA,
		   @v_codigoEstComercial = CD_EST_COMERCIAL,
		   @v_codigoEstSituacao = CD_EST_SITUACAO,
		   @v_numeroCicloCaptacao = NM_CICLO_CAPTACAO,
		   @v_codigoPapelCarreira = CD_PAPEL_CARREIRA,
		   @v_codigoPapelDesempenho = CD_PAPEL_DESEMPENHO,
		   @v_codigoOrigemCaptacao = ID_ORIGEM_CAPTACAO,
		   @v_descObservacoesPedido = DC_OBSERVACOES_PEDIDO
	  FROM TB_PEDIDO 
	 WHERE NM_PEDIDO = @p_numeroPedido

	-- ****************************************************************
	-- BUSCA ALGUMAS INFORMAÇÕES DA REGRA COMERCIAL
	-- ****************************************************************
	SELECT	@v_codigoCentroDistribuicao = CD_CENTRO_DISTRIBUICAO,
			@v_codigoMovimentaEstoque = ID_MOVIMENTA_ESTOQUE,
			@v_codigoSeparaPedido = ID_SEPARA_PEDIDO,
			@v_codigoGeraNotaFiscal = ID_GERA_NOTA_FISCAL,
			@v_codigoPermiteEdicaoPedido = ID_PERMITE_EDICAO_PEDIDO,
			@v_idSeparacaoPedido = ID_SEPARACAO_PEDIDO,
			@v_idConferenciaPedido = ID_CONFERENCIA_PEDIDO
	FROM TB_REGRA_COMERCIAL
	WHERE CD_REGRA_COMERCIAL = @v_codigoRegraComercial

	BEGIN TRANSACTION 
	
		-- ****************************************************************
		-- VAMOS INSERIR JÁ O PEDIDO DA RECORRÊNCIA PARA TERMOS O NÚMERO CORRETO
		-- ****************************************************************
		INSERT INTO TB_PEDIDO (
			CD_FUNCAO,
			DT_CADASTRO_PEDIDO,
			DT_CAPTACAO_PEDIDO,
			CD_PESSOA,
			CD_EST_COMERCIAL,
			CD_EST_SITUACAO,
			CD_REGRA_COMERCIAL,
			CD_CENTRO_DISTRIBUICAO,
			NM_CICLO_CAPTACAO,
			CD_PAPEL_CARREIRA,
			CD_PAPEL_DESEMPENHO,
			ID_ORIGEM_CAPTACAO,
			ID_MOVIMENTA_ESTOQUE,
			ID_GERA_NOTA_FISCAL,
			ID_SEPARA_PEDIDO,
			DC_OBSERVACOES_PEDIDO,
			ID_PERMITE_EDICAO_PEDIDO,
			ID_SEPARACAO_PEDIDO,
			ID_CONFERENCIA_PEDIDO)					
				
		VALUES           (
			@v_codigoFuncao,
			GETDATE(),
			GETDATE(),
			@v_codigoPessoa,
			@v_codigoEstComercial,
			@v_codigoEstSituacao,
			@v_codigoRegraComercial,
			@v_codigoCentroDistribuicao,
			@v_numeroCicloCaptacao,
			@v_codigoPapelCarreira,
			@v_codigoPapelDesempenho,
			@v_codigoOrigemCaptacao,
			@v_codigoMovimentaEstoque,
			@v_codigoGeraNotaFiscal,
			@v_codigoSeparaPedido,
			@v_descObservacoesPedido,
			@v_codigoPermiteEdicaoPedido,
			@v_idSeparacaoPedido,
			@v_idConferenciaPedido)

		SELECT @p_linhasAfetadas = @@ROWCOUNT
		SELECT @p_numeroPedidoRecorrencia = IDENT_CURRENT('TB_PEDIDO')
	
		COMMIT TRANSACTION

	-- *****************************************************
	-- AGORA VAMOS DESMEMBRAR OS PRODUTOS DOS PEDIDOS
	-- *****************************************************
	SET @cursorProdutosRecorrencia = CURSOR FAST_FORWARD
	FOR
		SELECT DISTINCT C.CD_PRODUTO_VENDA,
		P.CD_MATERIAL, P.ID_ORIGEM_ITEM_PEDIDO, P.CD_ORIGEM_ITEM_PEDIDO, P.ID_TIPO_PRODUTO, P.ID_TIPO_PRODUTO,
		P.ID_AGRUPAMENTO, P.CD_EST_SITUACAO, P.CD_COTA_PRODUTO_ESTRUTURA, P.CD_COTA_PRODUTO_PESSOA, P.QT_PEDIDA,
		P.QT_RESERVADA, P.VL_CREDITO_TOTAL, P.VL_TABELA_TOTAL, P.VL_PRATICADO_TOTAL, P.VL_LIQUIDO_TOTAL, P.VL_IMPOSTO_TOTAL,
		P.VL_COMISSAO_CN, P.VL_PAGAR_TOTAL, P.VL_CUSTO_TOTAL, P.ID_GERA_BONUS, P.ID_GERA_GRADUACAO,
		P.ID_GERA_ATIVACAO, P.ID_ENTREGA_PRESENTE, P.VL_PONTOS, P.NM_PEDIDO_ITEM
        FROM TB_PLANO_PAGAMENTO A, TB_PLANO_PAGAMENTO_REGRA_COMERCIAL B, TB_PRODUTO_VENDA_PLANO_PAGAMENTO C, TB_PEDIDO_ITEM p
        WHERE A.ID_SITUACAO = 1 
        AND A.ID_MEIO_PAGAMENTO in (11) AND A.CD_SERVICO_EXTERNO > 0 
        AND A.CD_PLANO_PAGAMENTO = B.CD_PLANO_PAGAMENTO
        AND B.CD_REGRA_COMERCIAL = @v_codigoRegraComercial
        AND ISNULL(A.VL_MINIMO_ACORDO,0) <=  dbo.fn_pedidoBuscaValorPedido(@p_numeroPedido,1)
        AND C.CD_PLANO_PAGAMENTO = A.CD_PLANO_PAGAMENTO
        AND C.CD_PRODUTO_VENDA IN (SELECT P.CD_PRODUTO_VENDA FROM TB_PEDIDO_ITEM P WHERE P.NM_PEDIDO_ITEM_CONJUNTO = 0 AND P.NM_PEDIDO =  @p_numeroPedido )
		AND P.NM_PEDIDO = @p_numeroPedido
		AND P.CD_PRODUTO_VENDA = C.CD_PRODUTO_VENDA
		AND P.NM_PEDIDO_ITEM_CONJUNTO = 0
		        
	OPEN @cursorProdutosRecorrencia
	FETCH NEXT FROM @cursorProdutosRecorrencia
	INTO @v_codigoProdutoVenda, @v_codigoMaterial, @v_idOrigemItemPedido, @v_cdOrigemItemPedido, @v_idProdutoCobrado, @v_idTipoProduto, @v_idAgrupamento,
		 @v_codigoEstSituacaoItem, @v_codigoCotaProdutoEstrutura, @v_codigoCotaProdutoPessoa, @v_qtdePedida, @v_qtdeReservada, @v_valorCreditoTotal, @v_valorTabelaTotal,
		 @v_valorPraticadoTotal, @v_valorLiquidoTotal, @v_valorImpostoTotal, @v_valorComissaoTotal, @v_valorPagarTotal, @v_valorCustoTotal, @v_idGeraBonus,
		 @v_idGeraGraduacao, @v_idGeraAtivacao, @v_idEntregaPresente, @v_valorPontosTotal, @v_numeroPedidoItem

	WHILE @@FETCH_STATUS = 0
		BEGIN
			-- Para cada produto existente no pedido original com opção de recorrência iremos primeiramente remover o produto do pedido original e em seguida inserir no pedido da recorrência

			-- Primeiro passo é remover o empenho do estoque do pedido original
			EXEC SP_BAIXA_MATERIAL  @p_numeroPedido,
									@v_codigoProdutoVenda,
									@v_codigoMaterial,
									@v_qtdeReservada,
									@p_codigoUsuario,
									1, --empenho existente
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									@p_codigoErro output,
									@p_descricaoErro output,
									@p_linhasAfetadas output

			-- agora vamos remover o item do pedido
			EXEC SP_GRAVA_PEDIDO_ITEM   @p_numeroPedido,
										@v_codigoProdutoVenda,
										@v_codigoMaterial,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										0,
										'E',
										0,
										0,
										0,
										0,
										0,
										0,
										@p_codigoErro output,
										@p_descricaoErro output,
										@p_linhasAfetadas output,
										0

			-- agora o mesmo item será inserido no pedido da recorrência
			-- Primeiro passo é inserir o empenho do estoque do pedido recorrência
			EXEC SP_BAIXA_MATERIAL  @p_numeroPedidoRecorrencia,
									@v_codigoProdutoVenda,
									@v_codigoMaterial,
									@v_qtdeReservada,
									@p_codigoUsuario,
									0, --empenho novo
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									@p_codigoErro output,
									@p_descricaoErro output,
									@p_linhasAfetadas output

			-- agora vamos inserir o item do pedido recorrência
			EXEC SP_GRAVA_PEDIDO_ITEM   @p_numeroPedidoRecorrencia,
										@v_codigoProdutoVenda,
										@v_codigoMaterial,
										@v_idOrigemItemPedido,
										@v_cdOrigemItemPedido,
										@v_idProdutoCobrado,
										@v_idTipoProduto,
										@v_idAgrupamento,
										@v_codigoEstSituacaoItem,
										@v_codigoCotaProdutoEstrutura,
										@v_codigoCotaProdutoPessoa,
										@v_qtdePedida,
										@v_qtdeReservada,
										@v_valorCreditoTotal,
										@v_valorTabelaTotal,
										@v_valorPraticadoTotal,
										@v_valorLiquidoTotal,
										@v_valorImpostoTotal,
										@v_valorComissaoTotal,
										@v_valorPagarTotal,
										@v_valorCustoTotal,
										'I',
										0,
										@v_idGeraBonus,
										@v_idGeraGraduacao,
										@v_idGeraAtivacao,
										@v_idEntregaPresente,
										@v_valorPontosTotal,
										@p_codigoErro output,
										@p_descricaoErro output,
										@p_linhasAfetadas output,
										@v_numeroPedidoItemGerado output

			IF @v_idAgrupamento = 2
				BEGIN
					-- GRAVA OS FILHOS DO KIT
					EXEC SP_GRAVA_PEDIDO_ITEM_FILHO @p_numeroPedidoRecorrencia,
													@v_numeroPedidoItemGerado,
													@v_codigoProdutoVenda,
													@p_codigoErro output,
													@p_descricaoErro output,
													@p_linhasAfetadas output
				END

			FETCH NEXT FROM @cursorProdutosRecorrencia
			INTO @v_codigoProdutoVenda, @v_codigoMaterial, @v_idOrigemItemPedido, @v_cdOrigemItemPedido, @v_idProdutoCobrado, @v_idTipoProduto, @v_idAgrupamento,
				 @v_codigoEstSituacaoItem, @v_codigoCotaProdutoEstrutura, @v_codigoCotaProdutoPessoa, @v_qtdePedida, @v_qtdeReservada, @v_valorCreditoTotal, @v_valorTabelaTotal,
				 @v_valorPraticadoTotal, @v_valorLiquidoTotal, @v_valorImpostoTotal, @v_valorComissaoTotal, @v_valorPagarTotal, @v_valorCustoTotal, @v_idGeraBonus,
				 @v_idGeraGraduacao, @v_idGeraAtivacao, @v_idEntregaPresente, @v_valorPontosTotal, @v_numeroPedidoItem
		END
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
