SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[pr_RegraComercialInsereRegraComercialAplicacao]
	
	@p_codigoRegraComercial		numeric(18,0),
    @p_idAplicacao				int,
	@p_idAtivo					int ,
	
    @p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),

	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				int output


AS
BEGIN TRY
	select @p_codigoErro = 0
	
	if @p_descAcao = 'I'
		BEGIN
			INSERT INTO [dbo].[TB_REGRA_COMERCIAL_APLICACAO]
			([CD_REGRA_COMERCIAL]
			,[ID_APLICACAO]
			,[ID_ATIVO]
			,[DT_CADASTRO]
			,[CD_USUARIO_CADASTRO])
			VALUES
			(@p_codigoRegraComercial,
			 @p_idAplicacao,
			 @p_idAtivo,
			 GETDATE(),
			 @p_codigoUsuario)

		END 	--IF @ID_APLICACAO <> 0 

	if @p_descAcao = 'E'
		begin
			DELETE FROM TB_REGRA_COMERCIAL_APLICACAO WHERE CD_REGRA_COMERCIAL = @p_codigoRegraComercial 
		end


END TRY
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




	

GO
