SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_PHY]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@CD_EST_COMERCIAL NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@NM_PEDIDO NUMERIC(18,0),
	@ID_EVENTO INT,
	@ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
	@ID_MOMENTO_CALCULO_INDICADOR INT,
	@CD_USUARIO NUMERIC(18,0),
		
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

/*************************************************************************
ID_EVENTO = 1 - APROVAÇÃO DE PEDIDO
ID_EVENTO = 2 - CANCELAMENTO DE PEDIDO APROVADO
ID_EVENTO = 3 - ALOCACAO DE REDE
ID_EVENTO = 4 - PAGAMENTO DE PEDIDO
ID_EVENTO = 5 - CANCELAMENTO DE PAGAMENTO DE PEDIDO
ID_EVENTO = 6 - FIM DIA
ID_EVENTO = 7 - ALTERA PAPEL MANUALMENTE
ID_EVENTO = 10 - REATIVACAO DA PESSOA
*************************************************************************/


DECLARE @EXISTE_REGISTRO			INT,
	@INICIO				INT,
	@REINICIO			INT,
	@VL_PAGAR_TOTAL			NUMERIC(18,2),
	@CALCULA_INDICADOR		INT,
	@EXISTE_PEDIDO_APROVADO		INT,
	@EXISTE_PEDIDO_PAGO		INT,
	@V_CONTADOR                     NUMeric(18,0)

DECLARE	@VL_TABELA_TOTAL	NUMERIC(18,2)
		
DECLARE @TEMPO_DESATIVACAO_DIAS		INT
DECLARE @ID_REATIVADA				INT
DECLARE	@Cursor_Pessoa				CURSOR

DECLARE @V_INDICADOR_24				INT
DECLARE @V_INDICADOR_25				INT
DECLARE @QT_PEDIDOS_REATIVADA		INT
DECLARE @PESSOA_REATIVADA			INT

DECLARE @QT_ATIVA					INT

BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0


	/*******************************************************
	APROVAÇÃO DE PEDIDO
	******************************************************/
	IF (@ID_EVENTO = 1) -- APROVAÇÃO DE PEDIDO
		BEGIN
			--**************************************************
			-- GRAVA INDICADOR DE ATIVA ************************
			--**************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1,@ID_MOMENTO_CALCULO_INDICADOR) 
				
			IF @CALCULA_INDICADOR = 1
				BEGIN						
					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 1
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
					IF (@EXISTE_REGISTRO = 0) 
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															1,
															1,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															1,
															1,
															@CD_USUARIO,
															'A',
															0,
															'',
															0
						END
				END

			--**************************************************
			-- GRAVA INDICADOR DE INATIVAS *********************
			--**************************************************
					
			-- QUANDO EU TENHO UMA ATIVA SIGNIFICA QUE EU 
			-- TENHO QUE DIMINUIR O NUMERO DE INATIVA
					
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(5,@ID_MOMENTO_CALCULO_INDICADOR) 
					
			IF @CALCULA_INDICADOR = 1
				BEGIN
					-- VERIFICA SE EXISTE O REGISTRO DE INATIVA
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 5
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
							
					-- SE NAO EXISTE O REGISTRO DEVEMOS ADICIONAR
					IF (@EXISTE_REGISTRO > 0) 
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											5,
											0,
											@CD_USUARIO,
											'A',
											0,
											'',
											0
						END
				END
				
			--**************************************************
			-- GRAVA INDICADOR DE INICIOS  *********************
			--**************************************************
				
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4,@ID_MOMENTO_CALCULO_INDICADOR) 
			IF @CALCULA_INDICADOR = 1
				BEGIN
	 
					-- VERIFICA SE A  PESSOA É UM REINICIO NO CICLO
					SELECT @INICIO = dbo.fn_PessoaVerificaSeInicioCiclo(@CD_PESSOA,
																		@CD_FUNCAO,
																		@NM_CICLO)

					IF (@INICIO = 1)
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO DE INATIVA
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 4
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			
							-- SE NAO EXISTE O REGISTRO DEVEMOS ADICIONAR
							IF (@EXISTE_REGISTRO = 0) 
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	4,
																	1,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
								END
							ELSE
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	4,
																	1,
																	@CD_USUARIO,
																	'A',
																	0,
																	'',
																	0
								END
						END		
				END

			--**************************************************
			-- GRAVA INDICADOR DE REINICIOS  *******************
			--**************************************************
				
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(19,@ID_MOMENTO_CALCULO_INDICADOR) 

			IF @CALCULA_INDICADOR = 1
				BEGIN
					-- VERIFICA SE A  PESSOA É UM REINICIO NO CICLO
					SELECT @REINICIO = dbo.fn_PessoaVerificaSeReinicioCiclo(@CD_PESSOA,
																		    @CD_FUNCAO,
																		    @NM_CICLO)
	
					IF (@REINICIO = 1)
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO DE INATIVA
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 19
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			
							-- SE NAO EXISTE O REGISTRO DEVEMOS ADICIONAR
							IF (@EXISTE_REGISTRO = 0) 
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
														@CD_FUNCAO,
														@CD_EST_COMERCIAL,
														@NM_CICLO,
														19,
														1,
														@CD_USUARIO,
														'I',
														0,
														'',
														0
								END
							ELSE
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
														@CD_FUNCAO,
														@CD_EST_COMERCIAL,
														@NM_CICLO,
														19,
														1,
														@CD_USUARIO,
														'A',
														0,
														'',
														0
								END
						END		
				END

			--**************************************************
			-- GRAVA INDICADOR DE VALOR DE PEDIDO APROVADO *****
			--**************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(2,@ID_MOMENTO_CALCULO_INDICADOR)

			IF @CALCULA_INDICADOR = 1
				BEGIN
					-- PEGA VALOR DO PEDIDO
					SELECT @VL_PAGAR_TOTAL = isnull(SUM(VL_PAGAR_TEORICO_TOTAL),0)
					FROM TB_PEDIDO  WITH (NOLOCK)
					WHERE NM_PEDIDO = @NM_PEDIDO
						
					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 2
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					
					IF (@EXISTE_REGISTRO = 0) 
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															2,
															@VL_PAGAR_TOTAL,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															2,
															@VL_PAGAR_TOTAL,
															@CD_USUARIO,
															'A',
															0,
															'',
															0
						END
				END
				
			--***********************************************************
			-- GRAVA INDICADOR DE QUANTIDADE DE PEDIDO APROVADO *********
			--***********************************************************
				
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3,@ID_MOMENTO_CALCULO_INDICADOR) 
			IF @CALCULA_INDICADOR = 1
				BEGIN
					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
					IF (@EXISTE_REGISTRO = 0) 
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															3,
															1,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															3,
															1,
															@CD_USUARIO,
															'A',
															0,
															'',
															0
						END
				END
		END -- APROVAÇÃO DE PEDIDO
			
	/*******************************************************
	CANCELAMENTO DE PEDIDO
	*******************************************************/
	IF (@ID_EVENTO = 2) -- CANCELAMENTO DE PEDIDO
		BEGIN
			--**************************************************
			-- GRAVA INDICADOR DE ATIVA ************************
			-- DIMINUIR O INDICADOR DE ATIVA *******************
			--**************************************************
				
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			select @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1,@ID_MOMENTO_CALCULO_INDICADOR) 
							
			IF @CALCULA_INDICADOR = 1
				BEGIN
					-- VERIFICA SE TEM OUTRO PEDIDO APROVADO NO CICLO
					SELECT @EXISTE_PEDIDO_APROVADO = COUNT(*) 
					FROM TB_PEDIDO  WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND NM_CICLO_APROVACAO = @NM_CICLO   
					AND NM_CICLO_CANCELAMENTO IS NULL
					AND NM_PEDIDO <> @NM_PEDIDO
					--AND CD_EST_SITUACAO NOT IN (1, 3, 4)

				
					IF @EXISTE_PEDIDO_APROVADO = 0
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 1
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

							IF (@EXISTE_REGISTRO = 0)
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	1, -- CD_INDICADOR_PESSOAL
																	0, -- VL_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
								END
							ELSE
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	1, -- CD_INDICADOR_PESSOAL
																	0, -- VL_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'A',
																	0,
																	'',
																	0
								END
						END
				END
								
			--**************************************************
			-- GRAVA INDICADOR DE INATIVAS *********************
			-- DIMINUIR O INDICADOR DE INATIVAS ****************
			--**************************************************
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(5,@ID_MOMENTO_CALCULO_INDICADOR)
								
			IF @CALCULA_INDICADOR = 1
				BEGIN

					IF @EXISTE_PEDIDO_APROVADO = 0
						BEGIN

						-- VERIFICA SE EXISTE O REGISTRO
						SELECT @EXISTE_REGISTRO = COUNT(*)
						FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
						WHERE CD_PESSOA = @CD_PESSOA
						AND CD_FUNCAO = @CD_FUNCAO
						AND CD_INDICADOR_PESSOAL = 5
						AND NM_CICLO = @NM_CICLO
						AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

						IF (@EXISTE_REGISTRO = 0)
							BEGIN
								EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																@CD_FUNCAO,
																@CD_EST_COMERCIAL,
																@NM_CICLO,
																5, --CD_INDICADOR_PESSOAL
																1, --VL_INDICADOR_PESSOAL
																@CD_USUARIO,
																'I',
																0,
																'',
																0
							END
						ELSE
							BEGIN
								EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																@CD_FUNCAO,
																@CD_EST_COMERCIAL,
																@NM_CICLO,
																5, --CD_INDICADOR_PESSOAL
																1, --VL_INDICADOR_PESSOAL
																@CD_USUARIO,
																'A',
																0,
																'',
																0
							END

					
						END							
				END

			--**************************************************
			-- GRAVA INDICADOR DE INICIOS  *********************
			-- DIMINUIR O INDICADOR DE INICIOS *****************
			--**************************************************
			-- INICIO : EVOLUÇÃO 29/04/2021 PARA ATUALIZAR A COLUNA NM_CICLO_INICIO (ALDIR TIRELLI)
			SELECT @INICIO = COUNT(*) 
			FROM TB_PEDIDO with (nolock)
			WHERE CD_PESSOA = @CD_PESSOA
			AND CD_FUNCAO = @CD_FUNCAO
			--AND NM_PEDIDO < @NM_PEDIDO
			--AND NM_CICLO_APROVACAO <= @NM_CICLO
			AND CD_EST_SITUACAO NOT IN (1, 3, 4)

			IF (@INICIO  = 0)
				BEGIN 
					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO SET NM_CICLO_INICIO = NULL, 
						NM_PRIMEIRO_PEDIDO = NULL, 
						DT_PRIMEIRO_PEDIDO = NULL,
						CD_USUARIO_ATUALIZACAO = -3,
						DT_ATUALIZACAO = GETDATE()
					WHERE CD_PESSOA = @CD_PESSOA   AND CD_FUNCAO = @CD_FUNCAO  --  AND NM_PRIMEIRO_PEDIDO = @NM_PEDIDO
					COMMIT TRANSACTION

			END
			-- FIM : EVOLUÇÃO 29/04/2021 PARA ATUALIZAR A COLUNA NM_CICLO_INICIO (ALDIR TIRELLI)

			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(4,@ID_MOMENTO_CALCULO_INDICADOR)
								
			IF @CALCULA_INDICADOR = 1
				BEGIN
										
					IF (@INICIO = 0)
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 4
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

							IF (@EXISTE_REGISTRO = 0)
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	4, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
								END
							ELSE
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	4, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'A',
																	0,
																	'',
																	0
								END
						END
				END

			--**************************************************
			-- GRAVA INDICADOR DE REINICIOS  *******************
			-- DIMINUIR O INDICADOR DE REINICIOS ***************
			--**************************************************
			-- INICIO : EVOLUÇÃO 29/04/2021 PARA ATUALIZAR A NOVA COLUNA NM_CICLO_REINICIO (ALDIR TIRELLI)
			SELECT @REINICIO = COUNT(*) 
			FROM TB_PEDIDO B WITH (NOLOCK),
					(SELECT MAX(DT_REATIVACAO) DT_REATIVACAO
					FROM TB_HIST_SITUACAO_CONSULTORA WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA) C
			WHERE B.CD_PESSOA              = @CD_PESSOA
			AND   B.CD_FUNCAO              = @CD_FUNCAO
			AND   B.DT_APROVACAO_PEDIDO   >= C.DT_REATIVACAO
			--AND   B.NM_PEDIDO             <> @NM_PEDIDO
			AND   B.CD_EST_SITUACAO NOT IN (1, 3, 4)

			IF (@REINICIO = 0)
				BEGIN
					BEGIN TRANSACTION
						UPDATE TB_PESSOA_RESUMO
						SET NM_CICLO_REINICIO = NULL, 
							CD_USUARIO_ATUALIZACAO = -3,
								DT_ATUALIZACAO = GETDATE()
						WHERE CD_PESSOA       = @CD_PESSOA
						AND   CD_FUNCAO       = @CD_FUNCAO
					COMMIT TRANSACTION
				END
			-- FIM : EVOLUÇÃO 29/04/2021 PARA ATUALIZAR A NOVA COLUNA NM_CICLO_REINICIO (ALDIR TIRELLI)
  
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(19,@ID_MOMENTO_CALCULO_INDICADOR) 
			IF @CALCULA_INDICADOR = 1
				BEGIN

					IF (@REINICIO = 0)
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 19
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

							IF (@EXISTE_REGISTRO = 0)
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	19, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
								END
							ELSE
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	19, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'A',
																	0,
																	'',
																	0
								END
						END
				END
								
			--**************************************************
			-- GRAVA INDICADOR DE VALOR DE PEDIDO **************
			-- DIMINUI O VALOR DO PEDIDO
			--**************************************************
								
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(2,@ID_MOMENTO_CALCULO_INDICADOR)
			IF @CALCULA_INDICADOR = 1
				BEGIN
					-- PEGA VALOR DO PEDIDO
					SELECT @VL_PAGAR_TOTAL = ISNULL(SUM(VL_PAGAR_TEORICO_TOTAL) *-1,0)
					FROM TB_PEDIDO  with (nolock)
					WHERE NM_PEDIDO = @NM_PEDIDO

					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 2
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

					IF (@EXISTE_REGISTRO = 0)
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															2, --CD_INDICADOR_PESSOAL
															0, --VL_INDICADOR_PESSOAL
															@CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															2, --CD_INDICADOR_PESSOAL
															@VL_PAGAR_TOTAL, --VL_INDICADOR_PESSOAL
															@CD_USUARIO,
															'A',
															0,
															'',
															0
						END
				END
									
			--**************************************************
			-- GRAVA INDICADOR DE QUANTIDADE DE PEDIDO *********
			--**************************************************
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3,@ID_MOMENTO_CALCULO_INDICADOR)
								
			IF @CALCULA_INDICADOR = 1
				BEGIN
					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

					IF (@EXISTE_REGISTRO = 0)
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															3, --CD_INDICADOR_PESSOAL
															0,--VL_INDICADOR_PESSOAL
															@CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															3, --CD_INDICADOR_PESSOAL
															-1,--VL_INDICADOR_PESSOAL
															@CD_USUARIO,
															'A',
															0,
															'',
															0
						END
				END

		END  -- CANCELAMENTO DE PEDIDO

  /*******************************************************
	ALOCAÇÃO DE REDE
  *******************************************************/
  IF (@ID_EVENTO = 3) -- ALOCAÇÃO DE REDE
  BEGIN
	IF (@ID_TIPO_ATUALIZACAO = 1) -- ADICIONAR
	BEGIN
	  --**************************************************
	  -- INDICADOR DE CANAL
	  -- GRAVA INDICADOR DE REVEDENDORAS NA BASE *********
	  --**************************************************
						
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  select @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(6,@ID_MOMENTO_CALCULO_INDICADOR) 
	  IF @CALCULA_INDICADOR = 1
	  BEGIN
		-- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR  with (nolock)
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 6
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		
		IF (@EXISTE_REGISTRO = 0) 
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										6,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
		END
		ELSE
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										6,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	  END
	END	

	IF (@ID_TIPO_ATUALIZACAO = 2) -- DIMINUI
	BEGIN
	  --**************************************************
	  -- GRAVA INDICADOR DE REVEDENDORAS NA BASE *********
	  --**************************************************
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  select @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(6,@ID_MOMENTO_CALCULO_INDICADOR) 
	  IF @CALCULA_INDICADOR = 1
	  BEGIN
								
		-- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR  with (nolock)
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 6
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			
		IF (@EXISTE_REGISTRO > 0) 
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										6,
										0,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	  END
	END	

	-- INCLUIR POR ALDIR 23/11/2020
	-- QUANDO CRIA A NOVA PESSOA DEVE CRIAR O INDICADOR 23 (Reativada)
   
	--**************************************************
	-- INDICADOR DE CANAL
	-- GRAVA INDICADOR DE REINICIO *********
	--**************************************************
						
	-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	select @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(23,@ID_MOMENTO_CALCULO_INDICADOR) 
	IF @CALCULA_INDICADOR = 1
	BEGIN

	
		-- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR  with (nolock)
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 23
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		
		IF (@EXISTE_REGISTRO = 0) 
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										23,
										0,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
		END
		ELSE
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										23,
										0,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	END

  END	 -- ALOCAÇÃO DE REDE

			
  /*******************************************************
	PAGAMENTO DO PEDIDO
  *******************************************************/
  IF (@ID_EVENTO = 4) -- PAGAMENTO DO PEDIDO
  BEGIN
				
		-- PEGA VALOR DO PEDIDO
	SELECT @VL_PAGAR_TOTAL = isnull(SUM(VL_PAGAR_TEORICO_TOTAL),0)
	FROM TB_PEDIDO with (nolock)
	WHERE NM_PEDIDO = @NM_PEDIDO

	IF @VL_PAGAR_TOTAL > 0
	BEGIN
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(7,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	  IF @CALCULA_INDICADOR = 1
	  BEGIN		
		-- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR with (nolock)
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 7
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
							  
		IF (@EXISTE_REGISTRO = 0) 
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										7,
										@VL_PAGAR_TOTAL,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
		END
		ELSE
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										7,
										@VL_PAGAR_TOTAL,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	  END


	  --**************************************************
	  -- GRAVA INDICADOR DE QUANTIDADE DE PEDIDO PAGO ****
	  --**************************************************
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(8,@ID_MOMENTO_CALCULO_INDICADOR) 
				
	  IF @CALCULA_INDICADOR = 1
	  BEGIN		
		-- VERIFICA SE EXISTE O REGISTRO
		SELECT @EXISTE_REGISTRO = COUNT(*)
		FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
		WHERE CD_PESSOA = @CD_PESSOA
		AND CD_FUNCAO = @CD_FUNCAO
		AND CD_INDICADOR_PESSOAL = 8
		AND NM_CICLO = @NM_CICLO
		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						
		IF @EXISTE_REGISTRO = 0
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										8,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
		END
		ELSE
		BEGIN
		  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										8,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0
		END
	  END
				


	  --*******************************************************
	  -- GRAVA INDICADOR DE VALOR DE PRODUTOS REGULARES PAGOS
	  --******************************************************
						
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(9,@ID_MOMENTO_CALCULO_INDICADOR) 
	  IF @CALCULA_INDICADOR = 1
	  BEGIN		
		-- VERIFICA O TOTAL DE PRODUTOS REGULARES
		SELECT @VL_TABELA_TOTAL = isnull(SUM(VL_TABELA_TOTAL),0)
		FROM TB_PEDIDO_ITEM WITH (NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO
		AND  ID_PRODUTO_COBRADO = 1
		AND ID_TIPO_PRODUTO = 1
		AND NM_PEDIDO_ITEM_CONJUNTO = 0
				
			IF @VL_TABELA_TOTAL > 0 
		BEGIN 
														
		  -- VERIFICA SE EXISTE O REGISTRO
		  SELECT @EXISTE_REGISTRO = COUNT(*)
		  FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
		  WHERE CD_PESSOA = @CD_PESSOA
		  AND CD_FUNCAO = @CD_FUNCAO
		  AND CD_INDICADOR_PESSOAL = 9
		  AND NM_CICLO = @NM_CICLO
		  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
		  IF (@EXISTE_REGISTRO = 0) 
		  BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											9,
											@VL_TABELA_TOTAL,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
		  END
		  ELSE
		  BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											9,
											@VL_TABELA_TOTAL,
											@CD_USUARIO,
											'A',
											0,
											'',
											0  
		  END
		END
	  END


	  --**************************************************
	  -- GRAVA INDICADOR DE INICIOS COM PEDIDO PAGO   ****
	  --**************************************************

	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(10,@ID_MOMENTO_CALCULO_INDICADOR) 
	  IF @CALCULA_INDICADOR = 1
		  BEGIN		
		-- VERIFICA SE A PESSOA FOI INICIO NO CICLO
	--	SELECT @QTD_INICIO = COUNT(*)
	--	FROM TB_PESSOA_INDICADOR with (nolock
	--	WHERE CD_INDICADOR_PESSOAL = 4 -- INICIO
	--	AND CD_FUNCAO  = @CD_FUNCAO
	--	AND CD_PESSOA = @CD_PESSOA
	--	AND NM_CICLO = @NM_CICLO
	--	AND VL_INDICADOR_PESSOAL = 1
		-- SÓ CONTINUA SE A PESSOA É UM INICIO
							
				-- VERIFICA SE TEM OUTRO PEDIDO PAGO
			SELECT @INICIO  = COUNT(*) 
				FROM TB_PEDIDO  WITH (NOLOCK)
			WHERE CD_PESSOA = @CD_PESSOA
			AND CD_FUNCAO = @CD_FUNCAO
			AND NM_CICLO_PAGAMENTO <= @NM_CICLO   
			AND NM_CICLO_CANCELAMENTO IS NULL
			AND NM_PEDIDO <> @NM_PEDIDO
			--AND CD_EST_SITUACAO NOT IN (1, 3, 4)

		IF @INICIO = 0
		BEGIN
								
			--VERIFICA SE EXISTE O REGISTRO
		  SELECT @EXISTE_REGISTRO = COUNT(*)
		  FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
		  WHERE CD_PESSOA = @CD_PESSOA
		  AND CD_FUNCAO = @CD_FUNCAO
		  AND CD_INDICADOR_PESSOAL = 10
		  AND NM_CICLO = @NM_CICLO
		  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
										
		  IF @EXISTE_REGISTRO = 0
		  BEGIN  
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											10,
											1,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
			--  SELECT @V_CD_INDICADOR_10 = 10
		  END						
		  ELSE
		  BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											@CD_FUNCAO,
											@CD_EST_COMERCIAL,
											@NM_CICLO,
											10,
											1,
											@CD_USUARIO,
											'A',
											0,
											'',
											0
									  
		  END
		END
	  END

			
	  --******************************************************************************
	  -- GRAVA INDICADOR ATIVA PEDIDO PAGO
	  --******************************************************************************
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(11,@ID_MOMENTO_CALCULO_INDICADOR) 
	  
	  IF @CALCULA_INDICADOR = 1
	  
		BEGIN	
			-- ALTERADO POR ANDERSON 27/11/2023 - BITRIX 5205	
			-- VERIFICA SE A PESSOA É ATIVA NO CICLO
			-- ANTES ESTAVA ATUALIZANDO O INDICADOR INDEPENDENTEMENTE SE ERA ATIVA OU NÃO
			SELECT @QT_ATIVA = COUNT(*) 
			FROM TB_HIST_SITUACAO_CONSULTORA
			WHERE CD_PESSOA = @CD_PESSOA
			AND NM_CICLO = @NM_CICLO
			AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			AND CD_SITUACAO_COMERCIAL = 1

			-- SOMENTE ATUALIZA INDICADOR SE FOR ATIVA NO CICLO
			IF @QT_ATIVA > 0
				BEGIN
					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR  WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 11
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		
					IF (@EXISTE_REGISTRO = 0) 
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										11,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										11,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0  
						END
				END

			
		END


	  --******************************************************************************
	  -- GRAVA INDICADOR ATIVA PEDIDO PAGO - GERA BÔNUS
	  --******************************************************************************
	  -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
	  SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(12,@ID_MOMENTO_CALCULO_INDICADOR) 
	  IF @CALCULA_INDICADOR = 1
	  BEGIN		

		-- VERIFICA O TOTAL DE PRODUTOS REGULARES
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PEDIDO_ITEM  WITH (NOLOCK)
		WHERE NM_PEDIDO = @NM_PEDIDO
		AND ID_PRODUTO_COBRADO = 1
		AND ID_GERA_BONUS       = 1 -- GERA BÔNUS
			AND NM_PEDIDO_ITEM_CONJUNTO = 0
					
			IF @V_CONTADOR > 0 
		BEGIN 
				-- VERIFICA SE EXISTE O REGISTRO
				SELECT @EXISTE_REGISTRO = COUNT(*)
				FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
				WHERE CD_PESSOA = @CD_PESSOA
				AND CD_FUNCAO = @CD_FUNCAO
				AND CD_INDICADOR_PESSOAL = 12
				AND NM_CICLO = @NM_CICLO
				AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		  IF (@EXISTE_REGISTRO = 0) 
		  BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										12,
										1,
										@CD_USUARIO,
										'I',
										0,
										'',
										0
		  END
		  ELSE
		  BEGIN
			EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
										@CD_FUNCAO,
										@CD_EST_COMERCIAL,
										@NM_CICLO,
										12,
										1,
										@CD_USUARIO,
										'A',
										0,
										'',
										0  
		  END
		END
	  END





	END  --  @VL_PAGAR_TOTAL									
  END    -- @ID_EVENTO = 4
			
	/*******************************************************
	CANCELAMENTO DO PAGAMENTO DO PEDIDO
	*******************************************************/
	IF (@ID_EVENTO = 5) -- CANCELAMENTO PAGAMENTO DO PEDIDO
		BEGIN
			--**********************************************************************
			-- GRAVA INDICADOR DE VALOR DE PEDIDO **********************************
			--**********************************************************************

			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(7,@ID_MOMENTO_CALCULO_INDICADOR) 
				
			IF @CALCULA_INDICADOR = 1
				BEGIN						
					SELECT @VL_PAGAR_TOTAL = ISNULL(SUM(VL_PAGAR_TEORICO_TOTAL) *-1,0)
					FROM TB_PEDIDO WITH (NOLOCK)
					WHERE NM_PEDIDO = @NM_PEDIDO
					
					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 7
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

					IF (@EXISTE_REGISTRO = 0)
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															7,
															0,
															CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															7,
															@VL_PAGAR_TOTAL,
															CD_USUARIO,
															'A',
															0,
															'',
															0
						END
					

				END
		
			--**************************************************
			-- GRAVA INDICADOR DE QUANTIDADE DE PEDIDO PAGO ****
			--**************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(8,@ID_MOMENTO_CALCULO_INDICADOR) 
				
			IF @CALCULA_INDICADOR = 1
				BEGIN
					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 8
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

					IF (@EXISTE_REGISTRO = 0)
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															8,
															0,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															8,
															-1,
															@CD_USUARIO,
															'A',
															0,
															'',
															0
						END
					
				END
				
			--*******************************************************
			-- GRAVA INDICADOR DE VALOR DE PRODUTOS REGULARES PAGOS
			--******************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(9,@ID_MOMENTO_CALCULO_INDICADOR) 
			IF @CALCULA_INDICADOR = 1
				BEGIN						
					-- VERIFICA O TOTAL DE PRODUTOS REGULARES
					SELECT @VL_TABELA_TOTAL = ISNULL(SUM(VL_TABELA_TOTAL) *-1,0)
					FROM TB_PEDIDO_ITEM WITH (NOLOCK)
					WHERE NM_PEDIDO = @NM_PEDIDO
					AND  ID_PRODUTO_COBRADO = 1
					AND ID_TIPO_PRODUTO = 1
					AND NM_PEDIDO_ITEM_CONJUNTO = 0

						
					IF @VL_TABELA_TOTAL <> 0
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 9
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

							IF (@EXISTE_REGISTRO = 0)
								BEGIN
									-- INSERE VALOR PAGO
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	9,
																	0,
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
								END
							ELSE
								BEGIN
									-- INSERE VALOR PAGO
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	9,
																	@VL_TABELA_TOTAL,
																	@CD_USUARIO,
																	'A',
																	0,
																	'',
																	0
								END
						END		
				END
					
			--**************************************************
			-- GRAVA INDICADOR DE INICIOS COM PEDIDO PAGO   ****
			--**************************************************
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(10,@ID_MOMENTO_CALCULO_INDICADOR) 
				
			IF @CALCULA_INDICADOR = 1
				BEGIN						
		
					-- VERIFICA SE TEM OUTRO PEDIDO PAGO
					SELECT @INICIO  = COUNT(*) 
					FROM TB_PEDIDO  WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND NM_CICLO_PAGAMENTO <= @NM_CICLO   
					AND NM_CICLO_CANCELAMENTO IS NULL
					AND NM_PEDIDO <> @NM_PEDIDO
					--AND CD_EST_SITUACAO NOT IN (1, 3, 4)

					IF @INICIO =  0
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 10
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

							IF (@EXISTE_REGISTRO = 0)
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															10, --CD_INDICADOR_PESSOAL
															0, --Vl_INDICADOR_PESSOAL
															@CD_USUARIO,
															'I',
															0,
															'',
															0
								END
							ELSE
								BEGIN
									-- INSERE VALOR PAGO
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	10, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'A',
																	0,
																	'',
																	0
								END
						END		
				END

			--******************************************************************************
			-- GRAVA INDICADOR ATIVA PEDIDO PAGO
			--******************************************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(11,@ID_MOMENTO_CALCULO_INDICADOR) 
				
			IF @CALCULA_INDICADOR = 1
				BEGIN						
				
					-- VERIFICA SE TEM UM PEDIDO PAGO ANTERIOR AO PEDIDO CANCELADO
					SELECT @EXISTE_PEDIDO_PAGO = COUNT(*) 
						FROM TB_PEDIDO  WITH (NOLOCK)
					WHERE CD_PESSOA            = @CD_PESSOA
					AND CD_FUNCAO              = @CD_FUNCAO
					AND NM_CICLO_PAGAMENTO     = @NM_CICLO   
					AND NM_CICLO_CANCELAMENTO IS NULL
					AND NM_PEDIDO             <> @NM_PEDIDO
					--AND CD_EST_SITUACAO NOT IN (1, 3, 4)
					IF @EXISTE_PEDIDO_PAGO =  0
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 11
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

							IF (@EXISTE_REGISTRO = 0)
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	11, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
								END
							ELSE
								BEGIN
									-- INSERE VALOR PAGO
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	11, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'A',
																	0,
																	'',
																	0
								END
						END		
				END

			--******************************************************************************
			-- GRAVA INDICADOR ATIVA PEDIDO PAGO - GERA BÔNUS
			--******************************************************************************
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(12,@ID_MOMENTO_CALCULO_INDICADOR) 
				
			IF @CALCULA_INDICADOR = 1
				BEGIN						
				
					-- VERIFICA SE TEM UM PEDIDO PAGO ANTERIOR AO PEDIDO CANCELADO
					SELECT @V_CONTADOR = COUNT(*)
					FROM TB_PEDIDO A WITH (NOLOCK), TB_PEDIDO_ITEM B WITH (NOLOCK)
					WHERE A.CD_PESSOA             = @CD_PESSOA
					AND A.CD_FUNCAO               = @CD_FUNCAO		
					AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
					AND A.NM_PEDIDO              <> @NM_PEDIDO	
					AND A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
					AND A.NM_PEDIDO               = B.NM_PEDIDO
					AND B.ID_PRODUTO_COBRADO      = 1
					AND B.ID_GERA_BONUS           = 1 -- GERA BÔNUS
					AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	

					IF @V_CONTADOR =  0
						BEGIN
							-- VERIFICA SE EXISTE O REGISTRO
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 12
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

							IF (@EXISTE_REGISTRO = 0)
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	12, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'I',
																	0,
																	'',
																	0
								END
							ELSE
								BEGIN
									-- INSERE VALOR PAGO
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
																	@CD_FUNCAO,
																	@CD_EST_COMERCIAL,
																	@NM_CICLO,
																	12, --CD_INDICADOR_PESSOAL
																	0, --Vl_INDICADOR_PESSOAL
																	@CD_USUARIO,
																	'A',
																	0,
																	'',
																	0
								END
						END		
				END

		END  -- @ID_EVENTO = 5
			
	/*******************************************************
	FIM DIA
	*******************************************************/
	IF (@ID_EVENTO = 6) -- FIM DIA
		BEGIN
			SELECT @VAR_RETORNO = 0
		END -- @ID_EVENTO = 6		
  
 
	/*******************************************************
	REATIVACAO DE PESSOA
	******************************************************/
	IF (@ID_EVENTO = 10) -- REATIVACAO DA PESSOA
		BEGIN
	
			--**************************************************
			-- GRAVA INDICADOR DE REATIVADA = 23
			--**************************************************
	
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(23,@ID_MOMENTO_CALCULO_INDICADOR) 
				
			-- *****************************************************************************************************************************
			-- ALTERAÇÃO FEITA POR ANDERSON - 13/09/2023
			-- BITRIX 5027
			-- O TRECHO ABAIXO É UM PROCESSOD A MAHOGANY, NA PHYTO NÃO PRECISA OLHAR O TEMPO DE CASA
			-- POR ISSO VAMOS COMENTAR O TRECHO ABAIXO E VAMOS IMPLEMENTAR O MESMO PROCESSO DE ATUALIZAÇÃO DO INDICADOR QUE RODA NA MADRUGADA
			-- *****************************************************************************************************************************
			-- VERIFICA O TEMPO DE DESATIVAÇÃO EM DIAS
			--SELECT @TEMPO_DESATIVACAO_DIAS = dbo.FN_CALCULA_TEMPO_DESATIVACAO_PESSOA(@CD_PESSOA, 2)

			--IF @CALCULA_INDICADOR = 1 
			--	BEGIN
			--		-- MENOR QUE 1 ANO - GRAVA 1 NO INDICADOR
			--		IF @TEMPO_DESATIVACAO_DIAS < 365
			--			BEGIN
							
			--				-- VERIFICA SE EXISTE O REGISTRO
			--				SELECT @EXISTE_REGISTRO = COUNT(*)
			--				FROM TB_PESSOA_INDICADOR
			--				WHERE CD_PESSOA = @CD_PESSOA
			--				AND CD_FUNCAO = @CD_FUNCAO
			--				AND CD_INDICADOR_PESSOAL = 23
			--				AND NM_CICLO = @NM_CICLO
			--				AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
			--				IF (@EXISTE_REGISTRO = 0) 
			--					BEGIN
			--						EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
			--									@CD_FUNCAO,
			--									@CD_EST_COMERCIAL,
			--									@NM_CICLO,
			--									23,
			--									1,
			--									@CD_USUARIO,
			--									'I',
			--									0,
			--									'',
			--									0
			--					END
			--				ELSE
			--					BEGIN
			--						EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
			--									@CD_FUNCAO,
			--									@CD_EST_COMERCIAL,
			--									@NM_CICLO,
			--									23,
			--									1,
			--									@CD_USUARIO,
			--									'A',
			--									0,
			--									'',
			--									0
			--					END
				

			--			END
			--		ELSE
			--			-- MAIOR QUE 1 ANO GRAVA 0 NO INDICADOR
			--			BEGIN
			--				-- VERIFICA SE EXISTE O REGISTRO
			--				SELECT @EXISTE_REGISTRO = COUNT(*)
			--				FROM TB_PESSOA_INDICADOR
			--				WHERE CD_PESSOA = @CD_PESSOA
			--				AND CD_FUNCAO = @CD_FUNCAO
			--				AND CD_INDICADOR_PESSOAL = 23
			--				AND NM_CICLO = @NM_CICLO
			--				AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
			--				IF (@EXISTE_REGISTRO = 0) 
			--					BEGIN
			--						EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
			--									@CD_FUNCAO,
			--									@CD_EST_COMERCIAL,
			--									@NM_CICLO,
			--									23,
			--									0,
			--									@CD_USUARIO,
			--									'I',
			--									0,
			--									'',
			--									0
			--					END
			--				ELSE
			--					BEGIN
			--						EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
			--									@CD_FUNCAO,
			--									@CD_EST_COMERCIAL,
			--									@NM_CICLO,
			--									23,
			--									0,
			--									@CD_USUARIO,
			--									'A',
			--									0,
			--									'',
			--									0
			--					END

			--			END

			--	END


			IF @CALCULA_INDICADOR = 1
				BEGIN
							
					-- ABRE UM CURSOR QUE VERIFICA QUAIS AS PESSOAS QUE NO CICLO ANTERIOR
					-- ERAM INDISPONIVEIS E NESTE CICLO SAO ATIVAS
					-- CICLO ANTERIOR = 0 OU QUE NAO EXISTE CICLO ANTERIOR
					SET @Cursor_Pessoa = CURSOR FAST_FORWARD
					FOR
							
						SELECT 0, CD_PESSOA	   	
						FROM TB_HIST_SITUACAO_CONSULTORA WITH(NOLOCK)
						WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						AND NM_CICLO = @NM_CICLO
						--AND CD_SITUACAO_COMERCIAL IN (1)
						--AND dbo.FN_BUSCA_COD_SIT_COMERCIAL_PESSOA_CICLO(CD_PESSOA, 2, dbo.FN_BUSCA_CICLO_ANTERIOR(NM_CICLO)) IN (3)
						AND DT_REATIVACAO IS NULL
						AND CD_PESSOA = @CD_PESSOA
						UNION
						SELECT 1, CD_PESSOA	   	
						FROM TB_HIST_SITUACAO_CONSULTORA WITH(NOLOCK)
						WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						AND NM_CICLO = @NM_CICLO
						--AND CD_SITUACAO_COMERCIAL IN (1)
						--AND dbo.FN_BUSCA_COD_SIT_COMERCIAL_PESSOA_CICLO(CD_PESSOA, 2, dbo.FN_BUSCA_CICLO_ANTERIOR(NM_CICLO)) IN (3)
						AND DT_REATIVACAO IS NOT NULL
						AND CD_PESSOA = @CD_PESSOA
						ORDER BY 1

					OPEN @Cursor_Pessoa
					FETCH NEXT FROM @Cursor_Pessoa
					INTO @ID_REATIVADA, @CD_PESSOA
					
					WHILE @@FETCH_STATUS = 0
						BEGIN
							
							-- VERIFICA SE EXISTE O REGISTRO
							SELECT @EXISTE_REGISTRO = COUNT(*)
							FROM TB_PESSOA_INDICADOR
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
							AND CD_INDICADOR_PESSOAL = 23
							AND NM_CICLO = @NM_CICLO
							AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL

							IF (@EXISTE_REGISTRO = 0) 
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
												@CD_FUNCAO,
												@CD_EST_COMERCIAL,
												@NM_CICLO,
												23,
												@ID_REATIVADA,
												@CD_USUARIO,
												'I',
												0,
												'',
												0
								END
							ELSE
								BEGIN
									EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
												@CD_FUNCAO,
												@CD_EST_COMERCIAL,
												@NM_CICLO,
												23,
												@ID_REATIVADA,
												@CD_USUARIO,
												'A',
												0,
												'',
												0
								END

										
							FETCH NEXT FROM @Cursor_Pessoa
							INTO @ID_REATIVADA, @CD_PESSOA
						END

				END



			--**************************************************
			-- GRAVA INDICADOR DE REATIVADA SEM PEDIDO - 24
			--**************************************************
	
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(24,@ID_MOMENTO_CALCULO_INDICADOR) 

			IF @CALCULA_INDICADOR = 1
				BEGIN
				
					-- PRIMEIRO VERIFICA SE ESSA PESSOA É REATIVADA
					SELECT @PESSOA_REATIVADA = COUNT(*)
					FROM TB_PESSOA_INDICADOR A
					WHERE A.NM_CICLO = @NM_CICLO
					AND A.CD_INDICADOR_PESSOAL = 23
					AND A.VL_INDICADOR_PESSOAL = 1
					AND A.CD_PESSOA = @CD_PESSOA
					AND A.CD_FUNCAO = @CD_FUNCAO

					-- PESSOA FOI REATIVADA NO CICLO
					IF @PESSOA_REATIVADA > 0
						BEGIN

							-- **************************************************************
							-- VERIFICA SE A PESSOA FOI REATIVADA - INDICADOR 23
							-- E SE NÃO POSSUI NENHUM PEDIDO EM SUA VIDA
							-- **************************************************************

							SELECT @QT_PEDIDOS_REATIVADA = COUNT(*)
							FROM TB_PESSOA_INDICADOR A, TB_PEDIDO B
							WHERE A.NM_CICLO = @NM_CICLO
							AND A.CD_INDICADOR_PESSOAL = 23
							AND A.VL_INDICADOR_PESSOAL = 1
							AND A.CD_PESSOA = @CD_PESSOA
							AND A.CD_FUNCAO = @CD_FUNCAO
							AND A.CD_PESSOA = B.CD_PESSOA
							AND A.CD_FUNCAO = B.CD_FUNCAO
							AND B.CD_EST_SITUACAO NOT IN (1, 4, 3, 100, 101)
							AND B.NM_CICLO_APROVACAO IS NOT NULL

							-- SE RETORNAR 0 - GRAVA 1 NO INDICADOR 24 - REATIVADAS SEM PEDIDOS
							-- SE RETORNAR MAIOR QUE 0 - GRAVA 0 INDICADOR 24 - REATIVADAS SEM PEDIDOS
							IF @QT_PEDIDOS_REATIVADA = 0
								BEGIN
									SELECT @V_INDICADOR_24 = 1
								END 
							ELSE
								BEGIN
									SELECT @V_INDICADOR_24 = 0
								END

						END
	
					ELSE
						-- GRAVA VALOR 0 PARA OS INDICADORES 24
						BEGIN
							SELECT @V_INDICADOR_24 = 0
						END


					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 24
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
					IF (@EXISTE_REGISTRO = 0) 
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															24,
															@V_INDICADOR_24,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															24,
															@V_INDICADOR_24,
															@CD_USUARIO,
															'A',
															0,
															'',
															0
						END

				END



			--**************************************************
			-- GRAVA INDICADOR DE REATIVADA COM PEDIDO - 25
			--**************************************************
	
			-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(25,@ID_MOMENTO_CALCULO_INDICADOR) 

			IF @CALCULA_INDICADOR = 1
				BEGIN
				
					-- PRIMEIRO VERIFICA SE ESSA PESSOA É REATIVADA
					SELECT @PESSOA_REATIVADA = COUNT(*)
					FROM TB_PESSOA_INDICADOR A
					WHERE A.NM_CICLO = @NM_CICLO
					AND A.CD_INDICADOR_PESSOAL = 23
					AND A.VL_INDICADOR_PESSOAL = 1
					AND A.CD_PESSOA = @CD_PESSOA
					AND A.CD_FUNCAO = @CD_FUNCAO

					-- PESSOA FOI REATIVADA NO CICLO
					IF @PESSOA_REATIVADA > 0
						BEGIN

							-- **************************************************************
							-- VERIFICA SE A PESSOA FOI REATIVADA - INDICADOR 23
							-- E POSSUI PELO MENOS 1 PEDIDO APROVADO EM SUA VIDA
							-- **************************************************************

							SELECT @QT_PEDIDOS_REATIVADA = COUNT(*)
							FROM TB_PESSOA_INDICADOR A, TB_PEDIDO B
							WHERE A.NM_CICLO = @NM_CICLO
							AND A.CD_INDICADOR_PESSOAL = 23
							AND A.VL_INDICADOR_PESSOAL = 1
							AND A.CD_PESSOA = @CD_PESSOA
							AND A.CD_FUNCAO = @CD_FUNCAO
							AND A.CD_PESSOA = B.CD_PESSOA
							AND A.CD_FUNCAO = B.CD_FUNCAO
							AND B.CD_EST_SITUACAO NOT IN (1, 4, 3, 100, 101)
							AND B.NM_CICLO_APROVACAO IS NOT NULL

							-- SE RETORNAR 0 - GRAVA 0 NO INDICADOR 25 - REATIVADAS COM PEDIDOS
							-- SE RETORNAR MAIOR QUE 0 - GRAVA 1 INDICADOR 25 - REATIVADAS COM PEDIDOS
							IF @QT_PEDIDOS_REATIVADA = 0
								BEGIN
									SELECT @V_INDICADOR_25 = 0
								END 
							ELSE
								BEGIN
									SELECT @V_INDICADOR_25 = 1
								END

						END
	
					ELSE
						-- GRAVA VALOR 0 PARA OS INDICADORES 25
						BEGIN
							SELECT @V_INDICADOR_25 = 0
						END


					-- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR WITH (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 25
					AND NM_CICLO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
					IF (@EXISTE_REGISTRO = 0) 
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															25,
															@V_INDICADOR_25,
															@CD_USUARIO,
															'I',
															0,
															'',
															0
						END
					ELSE
						BEGIN
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
															@CD_FUNCAO,
															@CD_EST_COMERCIAL,
															@NM_CICLO,
															25,
															@V_INDICADOR_25,
															@CD_USUARIO,
															'A',
															0,
															'',
															0
						END

				END
				
										
		END -- REATIVAÇÃO DA PESSOA
	
	SELECT @VAR_RETORNO = 0	
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
	  SELECT @VAR_RETORNO = 1
	  SELECT @DC_ERRO = ERROR_MESSAGE()
	  
   IF @@TRANCOUNT > 0
	ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
