SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_CampanhaInsereCampanhaPontos]
	@p_codigoCampanha				 numeric(18,0),
	@p_idEventoCampanhaPontos		 numeric(18,0),

	
	@p_descricaoFuncao				 VARCHAR(1),
		
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	
AS

DECLARE @v_qtdeResgate	int

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				INSERT INTO TB_CAMPANHA_PONTOS (
					
						CD_CAMPANHA,
						ID_EVENTO_CAMPANHA_PONTOS
										
					)
							
						
				VALUES           (
					
						@p_codigoCampanha,
						@p_idEventoCampanhaPontos
						
					
					)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				
				COMMIT TRANSACTION
			END	
		
		IF @p_descricaoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION
				 
				UPDATE  TB_CAMPANHA_PONTOS SET
						ID_EVENTO_CAMPANHA_PONTOS = @p_idEventoCampanhaPontos
				WHERE CD_CAMPANHA = @p_codigoCampanha

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

		IF @p_descricaoFuncao = 'E'
			BEGIN
				
				-- PRIMEIRAMENTE VAMOS VALIDAR SE HOUVERAM ATRIBUIÇÃO DE PONTOS E/OU RESGATES PARA ESTA CAMPANHA
				-- SE EXISTIR NÃO PODEMOS PERMITIR A EXCLUSÃO DAS INFORMAÇÕES

				SELECT @v_qtdeResgate = COUNT(*)
				  FROM TB_PESSOA_CAMPANHA_PONTOS_SALDO
				 WHERE CD_CAMPANHA = @p_codigoCampanha

				IF @v_qtdeResgate = 0
					BEGIN
						BEGIN TRANSACTION
						
						DELETE FROM TB_CAMPANHA_PONTOS_REQUISITO
						WHERE CD_CAMPANHA = @p_codigoCampanha

						DELETE FROM TB_CAMPANHA_PONTOS_RESGATE
						WHERE CD_CAMPANHA = @p_codigoCampanha

						DELETE FROM TB_CAMPANHA_PONTOS
						WHERE CD_CAMPANHA = @p_codigoCampanha

						DELETE FROM TB_CAMPANHA
						WHERE CD_CAMPANHA = @p_codigoCampanha

						SELECT @p_linhasAfetadas = @@ROWCOUNT
						COMMIT TRANSACTION
					END
				ELSE
					BEGIN
						SELECT @p_codigoErro = 2
						SELECT @p_descricaoErro = 'Esta campanha já distribuiu pontos, não pode ser excluída'
					END
				
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
