SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 21/05/2015
-- Description:	Insere o primeiro pedido para os cadastros oriundos do site redenacaoverde.com.br
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoInserePrimeiroPedidoNacaoVerde]
	
	@p_codigoPessoa		numeric(18, 0),
	@p_codigoFuncao		int,
	
	@p_codigoUsuario	numeric(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output,
	@p_numeroPedido		numeric(18,0)	output
AS

DECLARE @v_codigoEstComercial		numeric(18,0)
DECLARE @v_codigoRegraComercial		numeric(18,0)
DECLARE @v_numeroCicloCaptacao		numeric(18,0)
DECLARE @v_codigoPapelCarreira		numeric(18,0)
DECLARE @v_codigoPapelDesempenho	numeric(18,0)

BEGIN TRY

	--Busca os dados para inserir o pedido
	
	SELECT @v_codigoEstComercial = isnull(CD_EST_COMERCIAL,0),
		   @v_codigoPapelCarreira = isnull(CD_PAPEL_CARREIRA,0),
		   @v_codigoPapelDesempenho = isnull(CD_PAPEL_DESEMPENHO,0),
		   @v_numeroCicloCaptacao = isnull(NM_CICLO_ATUAL,0)
	  FROM TB_PESSOA_RESUMO
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND CD_FUNCAO = @p_codigoFuncao
	   
	--Caso não encontre as informações da pessoa resumo precisaremos alocar a pessoa na rede
	IF @v_codigoEstComercial = 0
		BEGIN
			--BUSCA O CICLO ABERTO NA DATA ATUAL
			SELECT @v_numeroCicloCaptacao = NM_CICLO,
				   @v_codigoEstComercial = CD_EST_COMERCIAL
			  FROM TB_CALENDARIO_COMERCIAL
			 WHERE CD_EST_COMERCIAL = 3
			   AND GETDATE() BETWEEN DT_INICIAL AND DT_FINAL
			   
			exec pr_PessoaGeraAlocacaoRede @p_codigoPessoa,
										   @p_codigoFuncao,
										   @v_codigoEstComercial,
										   @v_numeroCicloCaptacao,
										   @p_codigoUsuario,
										   @p_codigoErro output,
										   @p_descricaoErro output,
										   @p_linhasAfetadas output
			
			SELECT @v_codigoEstComercial = isnull(CD_EST_COMERCIAL,0),
				   @v_codigoPapelCarreira = isnull(CD_PAPEL_CARREIRA,0),
				   @v_codigoPapelDesempenho = isnull(CD_PAPEL_DESEMPENHO,0),
				   @v_numeroCicloCaptacao = isnull(NM_CICLO_ATUAL,0)
			  FROM TB_PESSOA_RESUMO
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND CD_FUNCAO = @p_codigoFuncao
			   
		END
		
	
	--Busca a primeira regra comercial disponível
	
	SELECT TOP 1 @v_codigoRegraComercial = A.CD_REGRA_COMERCIAL FROM
		(Select	CD_REGRA_COMERCIAL
         from TB_REGRA_COMERCIAL A
         where CD_FUNCAO = @p_codigoFuncao
         And ID_SITUACAO = 1
         And ID_APLICA_RC_TODOS_PEDIDOS = 1 
         AND not EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)

         UNION ALL 

         select	CD_REGRA_COMERCIAL
         from TB_REGRA_COMERCIAL A
         where CD_FUNCAO = @p_codigoFuncao
         And ID_SITUACAO = 1
         And ID_APLICA_RC_TODOS_PEDIDOS = 1 
         AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
         AND B.CD_PAPEL_CARREIRA = @v_codigoPapelCarreira)

         UNION ALL 

         Select	CD_REGRA_COMERCIAL
         from TB_REGRA_COMERCIAL A
         where CD_FUNCAO = @p_codigoFuncao
         And ID_SITUACAO = 1
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@p_codigoPessoa, @p_codigoFuncao) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         AND not EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL)

         UNION ALL 

         select	CD_REGRA_COMERCIAL
         from TB_REGRA_COMERCIAL A
         where CD_FUNCAO = @p_codigoFuncao
         And ID_SITUACAO = 1
         And ID_APLICA_RC_TODOS_PEDIDOS = 2 
         AND DBO.FN_BUSCA_QTD_PEDIDO_APROVADO_PESSOA(@p_codigoPessoa, @p_codigoFuncao) BETWEEN NM_FAIXA_PEDIDO_INICIAL AND NM_FAIXA_PEDIDO_FINAL 
         AND EXISTS (SELECT 1 FROM TB_REGRA_COMERCIAL_PAPEL_CARREIRA B
         WHERE A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 
         AND B.CD_PAPEL_CARREIRA = @v_codigoPapelCarreira)) A
	
	--Insere o pedido
	
	select @p_codigoErro = 0
	select @p_descricaoErro = ''
	select @p_numeroPedido = 0
	
	EXEC pr_PedidoInserePedido  @p_codigoPessoa,
								@p_codigoFuncao,
								@v_codigoEstComercial,
								1, --Em Captação
								@v_codigoRegraComercial,
								@v_numeroCicloCaptacao,
								@v_codigoPapelCarreira,
								@v_codigoPapelDesempenho,
								3, --Site Externo
								'',
								@p_codigoUsuario,
								@p_codigoErro output,
								@p_descricaoErro output,
								@p_linhasAfetadas output,
								@p_numeroPedido output
	SELECT @p_numeroPedido = IDENT_CURRENT('TB_PEDIDO')		
	
	--Abre o histórico em captação
	EXEC SP_GRAVA_HISTORICO_PEDIDO @p_numeroPedido,
								   1,
								   1,
								   1,
								   '',
								   @p_codigoUsuario,
								   @p_codigoErro,
								   @p_descricaoErro,
								   @p_linhasAfetadas
								   			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
