SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ExcelHistoricoIndicadoresNegocioEstruturaGeografica]
		@CD_NIVEL_EST_GEOGRAFICA		NUMERIC(18,0),
		@CD_EST_GEOGRAFICA		NUMERIC(18,0),
        	--@CD_INDICADOR_PESSOAL		NUMERIC(18,0),
		@NM_CICLO		NUMERIC(18,0),
		@CD_FUNCAO		NUMERIC(18,0)	
		
AS



DECLARE @CONTADOR NUMERIC (18,0)

DECLARE @CURSOR_EG_NIVEL_02  CURSOR,
	@CD_EST_GEOGRAFICA_02 NUMERIC(18,0),
	@DC_EST_GEOGRAFICA_02 VARCHAR(80)
	
DECLARE @CURSOR_EG_NIVEL_03  CURSOR,
	@CD_EST_GEOGRAFICA_03 NUMERIC(18,0),
	@DC_EST_GEOGRAFICA_03 VARCHAR(80)


BEGIN
SELECT @CONTADOR = COUNT(*)
from TB_PESSOA_INDICADOR_EST_GEOGRAFICA A WITH(NOLOCK), TB_INDICADOR_PESSOAL B WITH (NOLOCK)
WHERE A.CD_INDICADOR_PESSOAL   = B.CD_INDICADOR_PESSOAL 
AND A.NM_CICLO                 = @NM_CICLO
AND A.CD_FUNCAO                = @CD_FUNCAO
AND B.ID_TIPO_INDICADOR        = 8
AND B.ID_MOSTRA_INDICADOR_TELA = 1 
AND B.ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO = 1
AND DBO.FN_EST_GEOGRAFICA(@CD_EST_GEOGRAFICA, A.CD_EST_GEOGRAFICA) = 1 

IF (@CONTADOR > 0)
BEGIN

  CREATE TABLE #TMP_EXCEL_CONSULTA_TOTAL_EG
	(CD_EST_GEOGRAFICA     NUMERIC(18,0),
	DC_EST_GEOGRAFICA     VARCHAR(80),
	VL_INDICADOR_01  NUMERIC(18,2),
	VL_INDICADOR_02  NUMERIC(18,2),
	VL_INDICADOR_03  NUMERIC(18,2),
	VL_INDICADOR_04  NUMERIC(18,2),
	VL_INDICADOR_05  NUMERIC(18,2),
	VL_INDICADOR_06  NUMERIC(18,2),
	VL_INDICADOR_07  NUMERIC(18,2),
	VL_INDICADOR_08  NUMERIC(18,2),
	VL_INDICADOR_09  NUMERIC(18,2),
	VL_INDICADOR_10  NUMERIC(18,2),
	VL_INDICADOR_11  NUMERIC(18,2),
	VL_INDICADOR_12  NUMERIC(18,2),
	VL_INDICADOR_13  NUMERIC(18,2),
	VL_INDICADOR_14  NUMERIC(18,2),
	VL_INDICADOR_15  NUMERIC(18,2),
	VL_INDICADOR_16  NUMERIC(18,2),
	VL_INDICADOR_17  NUMERIC(18,2)	   )

  /*CREATE TABLE #TMP_EXCEL_CONSULTA_INDICADOR
	(CD_EST_COMERCIAL     NUMERIC(18,0),
	DC_EST_COMERCIAL     VARCHAR(80),
	DC_RESP_EST_COMERCIAL VARCHAR(80),
	VL_INDICADOR_01  NUMERIC(18,2))
*/


  -- 1o - CRIAR O NÍVEL 01 NA TMP
  BEGIN TRANSACTION
  INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EG 
  SELECT @CD_EST_GEOGRAFICA,
           DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(@CD_EST_GEOGRAFICA),
           [4033],[4006],[4002],[4026],[4029],[4003],[4020],[4021],[4022],[4023],[4001],[4030],[4031],[4032],[4028],[4024],[4025]      
  FROM    (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                 ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
           FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with(nolock)
           WHERE --CD_PESSOA      = @CD_PESSOA
               CD_FUNCAO        = @CD_FUNCAO
           AND NM_CICLO         = @NM_CICLO
           AND CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA
           AND CD_INDICADOR_PESSOAL IN (4033,4006,4002,4026,4029,4003,4020,4021,4022,4023,4001,4030,4031,4032,4028,4024,4025)   
           GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
           PIVOT (SUM(VALOR) FOR INDICADOR IN ([4033],[4006],[4002],[4026],[4029],[4003],[4020],[4021],[4022],[4023],[4001],[4030],[4031],[4032],[4028],[4024],[4025])) EM_COLUNA 
  COMMIT TRANSACTION


  -- ************* NIVEL 1
  -- A CONSULTA É O NIVEL 01 DA EG
  IF (@CD_NIVEL_EST_GEOGRAFICA = 1)
  BEGIN
 
    -- 2o - ABRE O CUSTOR DO NÍVEL 02
    SET @CURSOR_EG_NIVEL_02 = CURSOR FAST_FORWARD
    FOR SELECT CD_EST_GEOGRAFICA, DC_EST_GEOGRAFICA
        FROM TB_EST_GEOGRAFICA WITH (NOLOCK)
        WHERE ID_ATIVO = 1
        AND   DBO.FN_EST_GEOGRAFICA(@CD_EST_GEOGRAFICA, CD_EST_GEOGRAFICA) = 1 
        AND   DBO.FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL(CD_EST_GEOGRAFICA, 2 ) = CD_EST_GEOGRAFICA 
        AND   CD_EST_GEOGRAFICA IN (12, 27)  -- MG e SP
       ORDER BY 2
    OPEN @CURSOR_EG_NIVEL_02  
    FETCH NEXT FROM @CURSOR_EG_NIVEL_02 
    INTO @CD_EST_GEOGRAFICA_02, @DC_EST_GEOGRAFICA_02
    WHILE @@FETCH_STATUS = 0 
    BEGIN  
      -- 2o - CRIAR O NÍVEL 02 NA TMP
      BEGIN TRANSACTION
      INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EG 
      SELECT @CD_EST_GEOGRAFICA_02,
             DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(@CD_EST_GEOGRAFICA_02),
           [4033],[4006],[4002],[4026],[4029],[4003],[4020],[4021],[4022],[4023],[4001],[4030],[4031],[4032],[4028],[4024],[4025]      
      FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                    ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
             FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with(nolock)
             WHERE CD_FUNCAO        = @CD_FUNCAO
             AND NM_CICLO         = @NM_CICLO
             AND CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA_02
             AND CD_INDICADOR_PESSOAL IN (4033,4006,4002,4026,4029,4003,4020,4021,4022,4023,4001,4030,4031,4032,4028,4024,4025)   
             GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
      PIVOT (SUM(VALOR) FOR INDICADOR IN ([4033],[4006],[4002],[4026],[4029],[4003],[4020],[4021],[4022],[4023],[4001],[4030],[4031],[4032],[4028],[4024],[4025])) EM_COLUNA 
      COMMIT TRANSACTION


      -- 3o - ABRE O CUSTOR DO NÍVEL 03
      SET @CURSOR_EG_NIVEL_03 = CURSOR FAST_FORWARD
      FOR SELECT CD_EST_GEOGRAFICA, DC_EST_GEOGRAFICA
                FROM TB_EST_GEOGRAFICA WITH (NOLOCK)
          WHERE ID_ATIVO = 1
          AND   DBO.FN_EST_GEOGRAFICA(@CD_EST_GEOGRAFICA_02, CD_EST_GEOGRAFICA) = 1 
          AND   DBO.FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL(CD_EST_GEOGRAFICA, 3 ) = CD_EST_GEOGRAFICA 
          ORDER BY 2
      OPEN @CURSOR_EG_NIVEL_03  
      FETCH NEXT FROM @CURSOR_EG_NIVEL_03 
      INTO @CD_EST_GEOGRAFICA_03, @DC_EST_GEOGRAFICA_03
      WHILE @@FETCH_STATUS = 0 
      BEGIN  
        -- 2o - CRIAR O NÍVEL 03 NA TMP
        BEGIN TRANSACTION
        INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EG 
        SELECT @CD_EST_GEOGRAFICA_03,
               DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(@CD_EST_GEOGRAFICA_03),
             [4033],[4006],[4002],[4026],[4029],[4003],[4020],[4021],[4022],[4023],[4001],[4030],[4031],[4032],[4028],[4024],[4025]      
        FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                      ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
               FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with(nolock)
               WHERE CD_FUNCAO        = @CD_FUNCAO
               AND NM_CICLO         = @NM_CICLO
               AND CD_EST_GEOGRAFICA = @CD_EST_GEOGRAFICA_03
               AND CD_INDICADOR_PESSOAL IN (4033,4006,4002,4026,4029,4003,4020,4021,4022,4023,4001,4030,4031,4032,4028,4024,4025)   
               GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
        PIVOT (SUM(VALOR) FOR INDICADOR IN ([4033],[4006],[4002],[4026],[4029],[4003],[4020],[4021],[4022],[4023],[4001],[4030],[4031],[4032],[4028],[4024],[4025])) EM_COLUNA 
        COMMIT TRANSACTION


        FETCH NEXT FROM @CURSOR_EG_NIVEL_03 
        INTO @CD_EST_GEOGRAFICA_03, @DC_EST_GEOGRAFICA_03
      END
      CLOSE      @CURSOR_EG_NIVEL_03 
      DEALLOCATE @CURSOR_EG_NIVEL_03 


      FETCH NEXT FROM @CURSOR_EG_NIVEL_02 
      INTO @CD_EST_GEOGRAFICA_02, @DC_EST_GEOGRAFICA_02
    END
    CLOSE      @CURSOR_EG_NIVEL_02 
    DEALLOCATE @CURSOR_EG_NIVEL_02 

  END


  -- ************* NIVEL 2
  -- A CONSULTA É O NIVEL 02DA EG
  IF (@CD_NIVEL_EST_GEOGRAFICA = 2)
  BEGIN
       -- 3o - ABRE O CUSTOR DO NÍVEL 03
      SET @CURSOR_EG_NIVEL_03 = CURSOR FAST_FORWARD
      FOR SELECT CD_EST_GEOGRAFICA, DC_EST_GEOGRAFICA
                FROM TB_EST_GEOGRAFICA WITH (NOLOCK)
          WHERE ID_ATIVO = 1
          AND   DBO.FN_EST_GEOGRAFICA(@CD_EST_GEOGRAFICA, CD_EST_GEOGRAFICA) = 1 
          AND   DBO.FN_BUSCA_COD_EST_GEOGRAFICA_NIVEL(CD_EST_GEOGRAFICA, 3 ) = CD_EST_GEOGRAFICA 
          ORDER BY 2
      OPEN @CURSOR_EG_NIVEL_03  
      FETCH NEXT FROM @CURSOR_EG_NIVEL_03 
      INTO @CD_EST_GEOGRAFICA_03, @DC_EST_GEOGRAFICA_03
      WHILE @@FETCH_STATUS = 0 
      BEGIN  
        -- 2o - CRIAR O NÍVEL 03 NA TMP
        BEGIN TRANSACTION
        INSERT INTO #TMP_EXCEL_CONSULTA_TOTAL_EG 
        SELECT @CD_EST_GEOGRAFICA_03,
               DBO.FN_BUSCA_DESC_EST_GEOGRAFICA(@CD_EST_GEOGRAFICA_03),
             [4033],[4006],[4002],[4026],[4029],[4003],[4020],[4021],[4022],[4023],[4001],[4030],[4031],[4032],[4028],[4024],[4025]      
        FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                      ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
               FROM TB_PESSOA_INDICADOR_EST_GEOGRAFICA with(nolock)
               WHERE CD_FUNCAO        = @CD_FUNCAO
               AND NM_CICLO           = @NM_CICLO
               AND CD_EST_GEOGRAFICA  = @CD_EST_GEOGRAFICA_03
               AND CD_INDICADOR_PESSOAL IN (4033,4006,4002,4026,4029,4003,4020,4021,4022,4023,4001,4030,4031,4032,4028,4024,4025)   
               GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
        PIVOT (SUM(VALOR) FOR INDICADOR IN ([4033],[4006],[4002],[4026],[4029],[4003],[4020],[4021],[4022],[4023],[4001],[4030],[4031],[4032],[4028],[4024],[4025])) EM_COLUNA 
        COMMIT TRANSACTION


        FETCH NEXT FROM @CURSOR_EG_NIVEL_03 
        INTO @CD_EST_GEOGRAFICA_03, @DC_EST_GEOGRAFICA_03
      END
      CLOSE      @CURSOR_EG_NIVEL_03 
      DEALLOCATE @CURSOR_EG_NIVEL_03 
  END
  
  -- SELECT NA TABELA TEMPORÁRIA
  SELECT 
	CD_EST_GEOGRAFICA     AS "Cód. Estrutura",
	DC_EST_GEOGRAFICA    AS "Estrurura Geografica",
	VL_INDICADOR_01  AS "ATIVIDADE (ATIVOS / CADASTROS)",
	VL_INDICADOR_02  AS "TOTAL DE CADASTROS",
	VL_INDICADOR_03  AS "TOTAL DE CONSULTORES ATIVOS",
	VL_INDICADOR_04  AS "TOTAL DE CONSULTORES ATIVOS TODO ANO",
	VL_INDICADOR_05  AS "TOTAL DE CONSULTORES DESATIVADOS",
	VL_INDICADOR_06  AS "TOTAL DE CONSULTORES INATIVOS",
	VL_INDICADOR_07  AS "TOTAL DE CONSULTORES INATIVOS 1",
	VL_INDICADOR_08  AS "TOTAL DE CONSULTORES INATIVOS 2",
	VL_INDICADOR_09  AS "TOTAL DE CONSULTORES INATIVOS 3",
	VL_INDICADOR_10  AS "TOTAL DE CONSULTORES INATIVOS 4",
	VL_INDICADOR_11  AS "TOTAL DE CONSULTORES INÍCIOS",
	VL_INDICADOR_12  AS "TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o CICLO",
	VL_INDICADOR_13  AS "TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o E 3o CICLOS",
	VL_INDICADOR_14  AS "TOTAL DE CONSULTORES INÍCIOS COM PEDIDO NO 2o, 3o E 4o CICLOS",
	VL_INDICADOR_15  AS "TOTAL DE CONSULTORES REINÍCIOS",
	VL_INDICADOR_16  AS "TOTAL DE INTENÇÃO DE REVENDA CADASTRADA",
	VL_INDICADOR_17  AS "TOTAL DE INTENÇÃO DE REVENDA CADASTRADA E INÍCIO"
  FROM  #TMP_EXCEL_CONSULTA_TOTAL_EG


  -- DROPAR A TABELA TEMPORÁRIA
  DROP TABLE  #TMP_EXCEL_CONSULTA_TOTAL_EG


END
END
GO
