SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- **********************************************************************************************
-- A PROCEDURE VAI REALIZAR DOIS PROCESSOS:
-- ATUALIZAR A DATA DE VENCIMENTO PRORROGADO
-- CONCILIAÇÃO DOS TITULOS (BOLETO A VISTA)
-- **********************************************************************************************


CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorBaixaBoletoAVistaLowell]
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CURSOR_TITULOS			CURSOR


-- VARIAVEIS BOLETO A VISTA
DECLARE @NM_PEDIDO_EXTERNO		VARCHAR(100)
DECLARE	@NM_PEDIDO				NUMERIC(18,0)
DECLARE @CD_EST_SITUACAO		INTEGER
DECLARE @CD_PLANO_PAGAMENTO		NUMERIC(18,0)
DECLARE @CD_EST_COMERCIAL		NUMERIC(18,0)
DECLARE @NM_CICLO_PAGAMENTO		NUMERIC(18,0)
DECLARE @VL_ATUALIZADO_PARCELA	NUMERIC(18,2)
DECLARE @DT_VENCIMENTO			DATE

-- VARIAVEIS BOLETO A PRAZO E CARTÃO DE CREDITO
DECLARE @CD_PARCELA				NUMERIC(18,0)
DECLARE @DC_NUMERO_TITULO		VARCHAR(80)
DECLARE @DC_SITUACAO			VARCHAR(80)
DECLARE @CD_PESSOA_EXTERNO		VARCHAR(80)
DECLARE @VL_ORIGINAL			NUMERIC(18,2)
DECLARE @VL_PAGO				NUMERIC(18,2)
DECLARE @ID_MEIO_PAGAMENTO		INT

-- VARIAVEIS ALTERAÇÃO DE DATA DE VENCIMENTO
DECLARE @DC_TIPO_TITULO					VARCHAR(80)
DECLARE @DT_VENCIMENTO_ORIGINAL			DATE
DECLARE @DT_VENCIMENTO_PRORROGACAO		DATE
DECLARE @VENCIDO						VARCHAR(10)			
DECLARE @CD_DIVIDA						NUMERIC(18,0)
DECLARE @DT_VENCIMENTO_PARCELA			DATE
DECLARE @ID_SITUACAO_PARCELA			INT
DECLARE @ID_SITUACAO_PAGAMENTO_PARCELA	INT
DECLARE @QTD_PARCELA_VENCIDA			INT


BEGIN TRY

	---- ****************************************************************************
	---- PRIMEIRO PASSO É ATUALIZAR DATA DE VENCIMENTO QUANDO OCORRE PRORROGAÇÃO
	---- NORMALMENTE NÃO É CRIADO NOVOS TITULOS
	---- APENAS ALTERA A DATA VENCIMENTO DE PAGAMENTO
	---- VAMOS ALTERAR A DATA DE VENCIMENTO EVERIFICAR NOVAMENTE A SITUAÇÃO DA DIVIDA E PARCELA
	---- ****************************************************************************
	
	--SET @CURSOR_TITULOS = CURSOR FAST_FORWARD
	--FOR
	--	SELECT	A.DC_NUMERO_TITULO, 
	--			A.DC_TIPO_TITULO, 
	--			DC_SITUACAO, 
	--			A.DT_VENCIMENTO_ORIGINAL, 
	--			A.DT_VENCIMENTO_PRORROGACAO,
	--			CASE 
	--				WHEN A.DT_VENCIMENTO_PRORROGACAO < GETDATE() THEN 'SIM'
	--				ELSE	'NÃO'
	--			END AS VENCIDO,
	--			B.CD_DIVIDA,
	--			B.CD_PARCELA,
	--			B.DT_VENCIMENTO DT_VENCIMENTO_PARCELA,
	--			B.ID_SITUACAO_PARCELA,
	--			B.ID_SITUACAO_PAGAMENTO_PARCELA
	--	FROM TB_WRK_SENIOR_CONTAS_RECEBER A, TB_PARCELA B
	--	WHERE A.DC_NUMERO_TITULO = B.CD_PARCELA_EXTERNO 
	--	--AND A.DT_VENCIMENTO_ORIGINAL <> A.DT_VENCIMENTO_PRORROGACAO
	--	AND A.DT_VENCIMENTO_PRORROGACAO <> B.DT_VENCIMENTO
	--	AND B.ID_SITUACAO_PAGAMENTO_PARCELA <> 2
	--	--AND DC_NUMERO_TITULO = '265034_001'
					
	--OPEN @CURSOR_TITULOS
	--FETCH NEXT FROM @CURSOR_TITULOS
	--INTO 		@DC_NUMERO_TITULO, 
	--			@DC_TIPO_TITULO, 
	--			@DC_SITUACAO, 
	--			@DT_VENCIMENTO_ORIGINAL, 
	--			@DT_VENCIMENTO_PRORROGACAO,
	--			@VENCIDO,
	--			@CD_DIVIDA,
	--			@CD_PARCELA,
	--			@DT_VENCIMENTO_PARCELA,
	--			@ID_SITUACAO_PARCELA,
	--			@ID_SITUACAO_PAGAMENTO_PARCELA

	--WHILE @@FETCH_STATUS = 0
	--	BEGIN

	--		-- *****************************************
	--		-- ALTERA INFORMAÇÃO DA PARCELA			
	--		-- *****************************************
	--		IF @VENCIDO = 'SIM'
	--			BEGIN
	--				UPDATE TB_PARCELA
	--				SET DT_VENCIMENTO = @DT_VENCIMENTO_PRORROGACAO,
	--					DT_VALIDADE = @DT_VENCIMENTO_PRORROGACAO,
	--					ID_SITUACAO_PAGAMENTO_PARCELA = 3
	--				WHERE CD_PARCELA = @CD_PARCELA
	--			END
	--		ELSE
	--			BEGIN
	--				UPDATE TB_PARCELA
	--				SET DT_VENCIMENTO = @DT_VENCIMENTO_PRORROGACAO,
	--					DT_VALIDADE = @DT_VENCIMENTO_PRORROGACAO,
	--					ID_SITUACAO_PAGAMENTO_PARCELA = 1
	--				WHERE CD_PARCELA = @CD_PARCELA
	--			END
					
			
	--		-- *****************************************
	--		-- ALTERA INFORMAÇÃO DA DIVIDA			
	--		-- *****************************************				
	--		SELECT @QTD_PARCELA_VENCIDA = COUNT(*)
	--		FROM TB_PARCELA
	--		WHERE CD_DIVIDA = @CD_DIVIDA
	--			AND ID_SITUACAO_PAGAMENTO_PARCELA = 3


	--		-- EXISTE PARCELA VENCIDA NA DIVIDA
	--		IF @QTD_PARCELA_VENCIDA > 0
	--			BEGIN
	--				UPDATE TB_DIVIDA
	--				SET ID_SITUACAO_PAGAMENTO = 3
	--				WHERE CD_DIVIDA = @CD_DIVIDA
	--			END
	--		ELSE
	--			BEGIN
	--				UPDATE TB_DIVIDA
	--				SET ID_SITUACAO_PAGAMENTO = 1
	--				WHERE CD_DIVIDA = @CD_DIVIDA
	--			END


	--		-- *****************************************
	--		-- ALTERA INFORMAÇÃO DO BOLETO
	--		-- *****************************************
	--		UPDATE TB_BOLETO_BANCARIO
	--		SET DT_VENCIMENTO = @DT_VENCIMENTO_PRORROGACAO
	--		WHERE CD_PARCELA = @CD_PARCELA
			



	--		FETCH NEXT FROM @CURSOR_TITULOS
	--		INTO 		@DC_NUMERO_TITULO, 
	--			@DC_TIPO_TITULO, 
	--			@DC_SITUACAO, 
	--			@DT_VENCIMENTO_ORIGINAL, 
	--			@DT_VENCIMENTO_PRORROGACAO,
	--			@VENCIDO,
	--			@CD_DIVIDA,
	--			@CD_PARCELA,
	--			@DT_VENCIMENTO_PARCELA,
	--			@ID_SITUACAO_PARCELA,
	--			@ID_SITUACAO_PAGAMENTO_PARCELA
	
	--	END



	-- ****************************************************************************
	-- CONCILIA BOLETOS A VISTA (VERIFICA TITULOS ADC)
	-- ABRE O CURSOR DOS TITULOS
	-- BUSCAR TODOS OS PEDIDOS DA TABELA TB_WRK_SENIOR_CONTAS_RECEBER
	-- DO TIPO DE TITULO ADC - ADIANTAMENTO
	-- QUE TENHA PORTADOR 033
	-- ****************************************************************************

	SET @CURSOR_TITULOS = CURSOR FAST_FORWARD
	FOR

		SELECT	P.NM_PEDIDO_EXTERNO, 
				P.NM_PEDIDO, 
				P.CD_EST_SITUACAO, 
				P.CD_PLANO_PAGAMENTO, 
				P.CD_EST_COMERCIAL,
				PA.VL_ATUALIZADO_PARCELA,
				PA.CD_PARCELA,
				PA.DT_VENCIMENTO,
				(SELECT C.NM_CICLO FROM TB_CALENDARIO_COMERCIAL C WHERE C.CD_EST_COMERCIAL = P.CD_EST_COMERCIAL AND PA.DT_VENCIMENTO BETWEEN C.DT_INICIAL AND C.DT_FINAL) NM_CICLO_PAGAMENTO
		FROM TB_WRK_SENIOR_CONTAS_RECEBER_BOLETO_VISTA A, TB_PEDIDO P, TB_DIVIDA D, TB_PARCELA PA
		WHERE A.DC_NUMERO_PEDIDO_ORIGEM = P.NM_PEDIDO_EXTERNO
		AND A.DC_PORTADOR = '033'
		AND A.DC_TIPO_TITULO = 'ADC'
		AND CD_EST_SITUACAO = 4
		AND P.NM_PEDIDO = D.NM_PEDIDO
		AND D.CD_DIVIDA = PA.CD_DIVIDA
		ORDER BY P.NM_PEDIDO ASC
					
	OPEN @CURSOR_TITULOS
	FETCH NEXT FROM @CURSOR_TITULOS
	INTO 	@NM_PEDIDO_EXTERNO,
			@NM_PEDIDO, 
			@CD_EST_SITUACAO,
			@CD_PLANO_PAGAMENTO, 
			@CD_EST_COMERCIAL,
			@VL_ATUALIZADO_PARCELA,
			@CD_PARCELA,
			@DT_VENCIMENTO,
			@NM_CICLO_PAGAMENTO	

	WHILE @@FETCH_STATUS = 0
		BEGIN
		
			-- SOMENTE SERÁ EXECUTADO SE FOR BOLETO A VISTA E O PEDIDO ESTIVER PENDENTE DE PAGAMENTO
			IF @CD_PLANO_PAGAMENTO = 1 AND @CD_EST_SITUACAO = 4
				BEGIN

					-- VAMOS EXECUTAR A BAIXA CONCILIAÇÃO
					EXEC SP_BAIXA_CONCILIACAO
  							@CD_PARCELA,
							@VL_ATUALIZADO_PARCELA,
							1, -- BRASPAG,
							2,
							'Conciliado pela integração',
			
							-1,
	
							@VAR_RETORNO			OUTPUT,
							@DC_ERRO				OUTPUT,
							@QT_LINHAS_AFETADAS		OUTPUT

				
				END


			FETCH NEXT FROM @CURSOR_TITULOS
			INTO 	@NM_PEDIDO_EXTERNO,
				@NM_PEDIDO, 
				@CD_EST_SITUACAO,
				@CD_PLANO_PAGAMENTO, 
				@CD_EST_COMERCIAL,
				@VL_ATUALIZADO_PARCELA,
				@CD_PARCELA,
				@DT_VENCIMENTO,
				@NM_CICLO_PAGAMENTO	
	
		END



	SELECT @QT_LINHAS_AFETADAS = 0
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
