SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_COTA_PRODUTO_ESTRUTURA]
	@CD_COTA_PRODUTO_ESTRUTURA numeric(18, 0),
	@CD_PRODUTO_VENDA numeric(18, 0),
	@NM_CICLO_INICIAL numeric(18,0),
	@NM_CICLO_FINAL numeric(18,0),
	@NM_COTA numeric(18, 0),
	@CD_EST_COMERCIAL numeric(18, 0),
		
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	
	

	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
	
			BEGIN
				BEGIN TRANSACTION 
					
				IF (@NM_CICLO_INICIAL) = 0
					BEGIN
						SELECT @NM_CICLO_INICIAL = NULL
					END

				IF (@NM_CICLO_FINAL) = 0
					BEGIN
						SELECT @NM_CICLO_FINAL = NULL
					END				

				
				INSERT INTO TB_COTA_PRODUTO_ESTRUTURA (
					CD_PRODUTO_VENDA,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					NM_COTA,
					CD_EST_COMERCIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
										
						
				VALUES           (
					@CD_PRODUTO_VENDA,
					@NM_CICLO_INICIAL,
					@NM_CICLO_FINAL,
					@NM_COTA,
					@CD_EST_COMERCIAL,				
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	
			
			IF @VAR_TIPO_FUNCAO = 'E'
				BEGIN
				
					BEGIN TRANSACTION 
					
					DELETE FROM TB_COTA_PRODUTO_ESTRUTURA
					WHERE CD_COTA_PRODUTO_ESTRUTURA = @CD_COTA_PRODUTO_ESTRUTURA
			
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			
				END

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
