SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PedidoGeraEmbalagemPedido]
	@p_numeroPedido		NUMERIC(18, 0),
	@p_codigoUsuario	NUMERIC(18,0),
	
	@p_codigoErro		INT OUTPUT,
	@p_descErro			NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
	
AS

DECLARE @p_numeroEmbalagem			NUMERIC(18,0),
		@p_numeroEmbalagemPedido	NUMERIC(18,0),
		@p_valorPeso				NUMERIC(18,4),
		@Cursor_Itens				CURSOR,
		@p_valorVolumeTotal			NUMERIC(18,4),
		@p_valorVolumePedido		NUMERIC(18,4),
		@p_qtRegistros				NUMERIC(18,0),

		@p_codigoMaterialCaixa		NUMERIC(18,0),
		@p_valorVolumeCaixa			NUMERIC(18,4),
		@p_valorPesoCaixa			NUMERIC(18,4),

		@p_codigoWrkControleEmb		NUMERIC(18,0),
		@p_valorVolumeMaximo		NUMERIC(18,4),
		@p_valorVolumeUtilizado		NUMERIC(18,4),
		@p_valorVolumeSaldo			NUMERIC(18,4),

		@p_codigoCentroDistribuicao	NUMERIC(18,0),
		@p_codigoLinhaSeparacao		NUMERIC(18,0),

-- VARIAVEIS DO CURSOR DETALHE DO PEDIDO
		@Cursor_Detalhe_Pedido		CURSOR,
		@p_codigoMaterial			NUMERIC(18,0),
		@p_qtReservada				NUMERIC(18,0),
		@p_valorVolume				NUMERIC(18,0),
		@p_valorPesoMaterial		NUMERIC(18,0),

		@Cursor_Caixas				CURSOR,

		@v_contador_produto			INT,

		@p_codigoKit				NUMERIC(18,0),
		@p_idPromocao				INT
	
BEGIN TRY
	
	SELECT @p_qtLinhasAfetadas = 0
	
	-- **************************************************************
	-- LIMPA TABELA TEMPORARIA
	-- **************************************************************
	DELETE FROM TB_WRK_CONTROLE_EMBALAGEM
	WHERE NM_PEDIDO = @p_numeroPedido
	
	
	-- **************************************************************
	-- BUSCA O CD E LINHA DE SEPARAÇÃO DO PEDIDO
	-- **************************************************************
	SELECT	@p_codigoCentroDistribuicao = LS.CD_CENTRO_DISTRIBUICAO, 
			@p_codigoLinhaSeparacao =  LS.CD_LINHA_SEPARACAO
	  FROM TB_PEDIDO PE WITH(NOLOCK), TB_LOTE_SEPARACAO LS WITH(NOLOCK)
	 WHERE PE.NM_PEDIDO = @p_numeroPedido
	   AND PE.CD_LOTE_SEPARACAO = LS.CD_LOTE_SEPARACAO

		
	-- **************************************************************
	-- BUSCA O VOLUME TOTAL DO PEDIDO
	-- **************************************************************
	SELECT	@p_valorVolumeTotal = SUM(NM_VOLUME  * QT_RESERVADA)
	  FROM	VW_DETALHES_PEDIDO WITH(NOLOCK)
	 WHERE	NM_PEDIDO = @p_numeroPedido
	   AND	QT_RESERVADA > 0
	
	SELECT @p_valorVolumePedido = @p_valorVolumeTotal
	
	-- **************************************************************
	-- SE O PEDIDO TEM VOLUME = 0 ENTÃO NÃO PROCESSA
	-- **************************************************************
    IF @p_valorVolumeTotal <= 0 
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O pedido possui volume igual a 0'
			RETURN
		END 
		
	
	-- **************************************************************
	-- AQUI VAMOS DEFINIR AS CAIXAS A SEREM UTILIZADAS
	-- **************************************************************
		
	-- VERIFICA SE É POSSIVEL UTILIZAR APENAS 1 CAIXA
	SELECT	@p_qtRegistros = COUNT(*)
	FROM	TB_LINHA_SEPARACAO_CAIXA E WITH(NOLOCK),
			TB_LINHA_SEPARACAO LS WITH(NOLOCK),
			TB_MATERIAL M WITH(NOLOCK)
	WHERE	LS.CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
			AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
			and E.CD_LINHA_SEPARACAO = @p_codigoLinhaSeparacao
			and E.CD_MATERIAL = M.CD_MATERIAL
			AND M.NM_VOLUME > @p_valorVolumePedido
	

	IF @p_qtRegistros > 0 -- É POSSIVEL USAR APENAS 1 CAIXA
		BEGIN
		
			SELECT	TOP(1)
					@p_codigoMaterialCaixa = E.CD_MATERIAL,
					@p_valorVolumeCaixa = M.NM_VOLUME, 
					@p_valorPesoCaixa = M.NM_PESO
			FROM	TB_LINHA_SEPARACAO_CAIXA E WITH(NOLOCK),
					TB_LINHA_SEPARACAO LS WITH(NOLOCK),
					TB_MATERIAL M WITH(NOLOCK)
			WHERE	LS.CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
			AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
			and E.CD_LINHA_SEPARACAO = @p_codigoLinhaSeparacao
			and E.CD_MATERIAL = M.CD_MATERIAL
			AND M.NM_VOLUME > @p_valorVolumePedido
			order by M.NM_VOLUME asc
			
			-- *******************************************
			-- INSERE NA PEDIDO EMBALAGEM
			-- *******************************************
			INSERT INTO TB_PEDIDO_EMBALAGEM (
					NM_PEDIDO, 
					CD_MATERIAL_EMBALAGEM,
					VL_PESO_TEORICO,
					VL_PESO_CONFERENCIA)
			VALUES (
					@p_numeroPedido,
					@p_codigoMaterialCaixa,
					0,
					0)
			
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			SELECT @p_numeroEmbalagem = IDENT_CURRENT('TB_PEDIDO_EMBALAGEM')
			
			
			-- *******************************************
			-- INSERE NA PEDIDO EMBALAGEM HISTORICO
			-- *******************************************
			EXEC SP_GRAVA_HISTORICO_EMBALAGEM
				@p_numeroEmbalagem,
				@p_numeroPedido,
				61, -- DISPONIVEL PARA PICKING
				1, --INSERE	
				@p_codigoUsuario,
				@p_codigoErro,
				@p_descErro,
				@p_qtLinhasAfetadas
			
			
			
			-- *******************************************
			-- VAMOS INSERIR A CAIXA NA TABELA TEMPORARIA
			-- *******************************************
			INSERT INTO TB_WRK_CONTROLE_EMBALAGEM (
				NM_PEDIDO,
				CD_MATERIAL_CAIXA,
				VL_VOLUME_MAXIMO,
				VL_VOLUME_UTILIZADO,
				VL_VOLUME_SALDO,
				NM_EMBALAGEM)
			VALUES
				(@p_numeroPedido,
				@p_codigoMaterialCaixa,
				@p_valorVolumeCaixa,
				0,
				@p_valorVolumeCaixa,
				@p_numeroEmbalagem)
	
		END
	ELSE -- TEREMOS DE UTILIZAR VARIAS CAIXAS
	
		BEGIN

			SELECT	TOP(1)
					@p_codigoMaterialCaixa = E.CD_MATERIAL,
					@p_valorVolumeCaixa = M.NM_VOLUME, 
					@p_valorPesoCaixa = M.NM_PESO_BRUTO
			FROM	TB_LINHA_SEPARACAO_CAIXA E WITH(NOLOCK),
					TB_LINHA_SEPARACAO LS WITH(NOLOCK),
					TB_MATERIAL M WITH(NOLOCK)
			WHERE	LS.CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
			AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
			and E.CD_LINHA_SEPARACAO = @p_codigoLinhaSeparacao
			and E.CD_MATERIAL = M.CD_MATERIAL
			-- AND M.NM_VOLUME > @p_valorVolumePedido
			order by M.NM_VOLUME DESC
			
			-- *******************************************
			-- INSERE NA PEDIDO EMBALAGEM
			-- *******************************************
			INSERT INTO TB_PEDIDO_EMBALAGEM (
					NM_PEDIDO, 
					CD_MATERIAL_EMBALAGEM,
					VL_PESO_TEORICO,
					VL_PESO_CONFERENCIA)
			VALUES (
					@p_numeroPedido,
					@p_codigoMaterialCaixa,
					0,
					0)
			
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			SELECT @p_numeroEmbalagem = IDENT_CURRENT('TB_PEDIDO_EMBALAGEM')
			
			
			-- *******************************************
			-- INSERE NA PEDIDO EMBALAGEM HISTORICO
			-- *******************************************
			EXEC SP_GRAVA_HISTORICO_EMBALAGEM
				@p_numeroEmbalagem,
				@p_numeroPedido,
				61, -- DISPONIVEL PARA PACKING
				1, --INSERE	
				@p_codigoUsuario,
				@p_codigoErro,
				@p_descErro,
				@p_qtLinhasAfetadas
			
			-- *******************************************
			-- VAMOS INSERIR A CAIXA NA TABELA TEMPORARIA
			-- *******************************************
			INSERT INTO TB_WRK_CONTROLE_EMBALAGEM (
				NM_PEDIDO,
				CD_MATERIAL_CAIXA,
				VL_VOLUME_MAXIMO,
				VL_VOLUME_UTILIZADO,
				VL_VOLUME_SALDO,
				NM_EMBALAGEM)
			VALUES
				(@p_numeroPedido,
				@p_codigoMaterialCaixa,
				@p_valorVolumeCaixa,
				0,
				@p_valorVolumeCaixa,
				@p_numeroEmbalagem)
			
			SELECT @p_valorVolumePedido = @p_valorVolumePedido - @p_valorVolumeCaixa
			
			WHILE @p_valorVolumePedido > 0
				BEGIN
				
					SELECT	@p_qtRegistros = COUNT(*)
					FROM	TB_LINHA_SEPARACAO_CAIXA E WITH(NOLOCK),
							TB_LINHA_SEPARACAO LS WITH(NOLOCK),
							TB_MATERIAL M WITH(NOLOCK)
					WHERE	LS.CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
							AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
							and E.CD_LINHA_SEPARACAO = @p_codigoLinhaSeparacao
							and E.CD_MATERIAL = M.CD_MATERIAL
							AND M.NM_VOLUME > @p_valorVolumePedido

					
					IF @p_qtRegistros > 0
						BEGIN
							SELECT	TOP(1)
								@p_codigoMaterialCaixa = E.CD_MATERIAL,
								@p_valorVolumeCaixa = M.NM_VOLUME, 
								@p_valorPesoCaixa = M.NM_PESO_BRUTO
							FROM	TB_LINHA_SEPARACAO_CAIXA E WITH(NOLOCK),
								TB_LINHA_SEPARACAO LS WITH(NOLOCK),
								TB_MATERIAL M WITH(NOLOCK)
							WHERE	LS.CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
								AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
								and E.CD_LINHA_SEPARACAO = @p_codigoLinhaSeparacao
								and E.CD_MATERIAL = M.CD_MATERIAL
								AND M.NM_VOLUME > @p_valorVolumePedido
							order by M.NM_VOLUME ASC
						END
					ELSE
						BEGIN
							SELECT	TOP(1)
								@p_codigoMaterialCaixa = E.CD_MATERIAL,
								@p_valorVolumeCaixa = M.NM_VOLUME, 
								@p_valorPesoCaixa = M.NM_PESO_BRUTO
							FROM	TB_LINHA_SEPARACAO_CAIXA E WITH(NOLOCK),
									TB_LINHA_SEPARACAO LS WITH(NOLOCK),
									TB_MATERIAL M WITH(NOLOCK)
							WHERE	LS.CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
									AND LS.CD_LINHA_SEPARACAO = E.CD_LINHA_SEPARACAO
									and E.CD_LINHA_SEPARACAO = @p_codigoLinhaSeparacao
									and E.CD_MATERIAL = M.CD_MATERIAL
									--AND M.NM_VOLUME > @p_valorVolumePedido
							order by M.NM_VOLUME DESC
						END
											
					
					
					-- *******************************************
					-- INSERE NA PEDIDO EMBALAGEM
					-- *******************************************
					INSERT INTO TB_PEDIDO_EMBALAGEM (
							NM_PEDIDO, 
							CD_MATERIAL_EMBALAGEM,
							VL_PESO_TEORICO,
							VL_PESO_CONFERENCIA)
					VALUES (
							@p_numeroPedido,
							@p_codigoMaterialCaixa,
							0,
							0)
					
					SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
					SELECT @p_numeroEmbalagem = IDENT_CURRENT('TB_PEDIDO_EMBALAGEM')
					
					
					
					-- *******************************************
					-- INSERE NA PEDIDO EMBALAGEM HISTORICO
					-- *******************************************
					EXEC SP_GRAVA_HISTORICO_EMBALAGEM
						@p_numeroEmbalagem,
						@p_numeroPedido,
						61, -- DISPONIVEL PARA PACKING
						1, --INSERE	
						@p_codigoUsuario,
						@p_codigoErro,
						@p_descErro,
						@p_qtLinhasAfetadas	
						
									
					-- *******************************************
					-- VAMOS INSERIR A CAIXA NA TABELA TEMPORARIA
					-- *******************************************
					INSERT INTO TB_WRK_CONTROLE_EMBALAGEM (
						NM_PEDIDO,
						CD_MATERIAL_CAIXA,
						VL_VOLUME_MAXIMO,
						VL_VOLUME_UTILIZADO,
						VL_VOLUME_SALDO,
						NM_EMBALAGEM)
					VALUES
						(@p_numeroPedido,
						@p_codigoMaterialCaixa,
						@p_valorVolumeCaixa,
						0,
						@p_valorVolumeCaixa,
						@p_numeroEmbalagem)
							
					SELECT @p_valorVolumePedido = @p_valorVolumePedido - @p_valorVolumeCaixa		
				
				
				END -- FIM DO WHILE @p_valorVolumePedido > 0
				
		END -- FIM DO ELSE
		
	
	-- **************************************************************
	-- ABRE O CURSOR DOS ITENS DO PEDIDO
	-- **************************************************************
	SET @Cursor_Detalhe_Pedido = CURSOR FAST_FORWARD
		FOR
			SELECT	CD_MATERIAL,
					NM_VOLUME, 
					NM_PESO, 
					SUM(QT_RESERVADA) CANTIDAD,
					NM_PEDIDO_ITEM_CONJUNTO,
					ID_PROMOCAO
			FROM	VW_DETALHES_PEDIDO WITH(NOLOCK)
			WHERE	NM_PEDIDO = @p_numeroPedido
					AND QT_RESERVADA > 0
			GROUP BY CD_MATERIAL,
					NM_VOLUME, 
					NM_PESO,
					NM_PEDIDO_ITEM_CONJUNTO,
					ID_PROMOCAO
			ORDER BY NM_VOLUME DESC
	
	OPEN @Cursor_Detalhe_Pedido
	FETCH NEXT FROM @Cursor_Detalhe_Pedido
	INTO @p_codigoMaterial, @p_valorVolume, @p_valorPesoMaterial, @p_qtReservada, @p_codigoKit, @p_idPromocao


	WHILE @@FETCH_STATUS = 0
		BEGIN
			
			-- *****************************************************************************************
			-- PARA CADA ITEM VAMOS VERIFICAR SE EXISTE ALGUMA EMBALAGEM JA ABERTA E QUE CAIBA O PRODUTO
			-- SE A QUANTIDADE É ALTA PODEMOS TER UM PROBLEMA, POIS TEMOS QUE FAZER QUANTIDADE POR QUANTIDADE
			-- *****************************************************************************************
			SELECT @v_contador_produto = 1

			WHILE (@v_contador_produto <= @p_qtReservada)
				BEGIN
					
					SELECT	@p_codigoWrkControleEmb = CD_WRK_CONTROLE_EMBALAGEM,
						@p_codigoMaterialCaixa = CD_MATERIAL_CAIXA,
						@p_valorVolumeMaximo = VL_VOLUME_MAXIMO,
						@p_valorVolumeUtilizado = VL_VOLUME_UTILIZADO,
						@p_valorVolumeSaldo = VL_VOLUME_SALDO,
						@p_numeroEmbalagem = NM_EMBALAGEM
					FROM TB_WRK_CONTROLE_EMBALAGEM WITH(NOLOCK)
					WHERE NM_PEDIDO = @p_numeroPedido
					AND VL_VOLUME_SALDO > @p_valorVolume
					ORDER BY VL_VOLUME_SALDO DESC
					
					-- VAMOS GRAVAR PRIMEIRAMENTE NA TABELA TMP POIS
					-- TEREMOS QUE GRAVAR POR MATERIAL E UNIDADE
					-- E PODEMOS TER VARIOS MATERIAIS COM QUANTIDADE 1
					INSERT INTO TB_WRK_MATERIAL_EMBALAGEM (
						NM_EMBALAGEM,
						CD_MATERIAL,
						QT_MATERIAL,
						CD_KIT,
						ID_PROMOCAO)
					VALUES (
						@p_numeroEmbalagem,
						@p_codigoMaterial,
						1,
						@p_codigoKit,
						@p_idPromocao)

						
					--INSERT INTO TB_MATERIAL_EMBALAGEM(
--						NM_EMBALAGEM,
						--CD_MATERIAL,
						--QT_MATERIAL)
					--VALUES (
--						@p_numeroEmbalagem,
						--@p_codigoMaterial,
						--@p_qtReservada)


					-- ****************************************************
					-- UPDATE NA TABELA TEMPORARIA DE CONTROLE DE EMBALAGEM
					-- ****************************************************
					UPDATE TB_WRK_CONTROLE_EMBALAGEM
					SET VL_VOLUME_UTILIZADO = VL_VOLUME_UTILIZADO + @p_valorVolume	
					WHERE CD_WRK_CONTROLE_EMBALAGEM = @p_codigoWrkControleEmb

					UPDATE TB_WRK_CONTROLE_EMBALAGEM
					SET VL_VOLUME_SALDO = VL_VOLUME_MAXIMO - VL_VOLUME_UTILIZADO
					WHERE CD_WRK_CONTROLE_EMBALAGEM = @p_codigoWrkControleEmb


					SET @v_contador_produto = @v_contador_produto + 1
				END
	
			
			FETCH NEXT FROM @Cursor_Detalhe_Pedido
			INTO @p_codigoMaterial, @p_valorVolume, @p_valorPesoMaterial, @p_qtReservada, @p_codigoKit, @p_idPromocao
											
		END

		
		-- VAMOS GRAVAR NA TABELA TB_MATERIAL_EMBALAGEM
		INSERT INTO TB_MATERIAL_EMBALAGEM
		SELECT  A.NM_EMBALAGEM,
				A.CD_MATERIAL,
				SUM(A.QT_MATERIAL),
				A.CD_KIT,
				A.ID_PROMOCAO
		FROM TB_WRK_MATERIAL_EMBALAGEM A WITH(NOLOCK), TB_WRK_CONTROLE_EMBALAGEM B WITH(NOLOCK)
		WHERE A.NM_EMBALAGEM = B.NM_EMBALAGEM
		AND B.NM_PEDIDO = @p_numeroPedido
		GROUP  BY A.NM_EMBALAGEM,
				A.CD_MATERIAL,
				A.CD_KIT,
				A.ID_PROMOCAO

		-- ************************************************
		-- ATUALIZA PESO NA TABELA TB_EMBALAGEM_PEDIDO
		-- ************************************************
		SET @Cursor_Itens = CURSOR FAST_FORWARD
		FOR
			SELECT NM_EMBALAGEM
			from TB_PEDIDO_EMBALAGEM WITH(NOLOCK)
			where NM_PEDIDO = @p_numeroPedido
				
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO @p_numeroEmbalagemPedido


		WHILE @@FETCH_STATUS = 0
			BEGIN
		
			select @p_valorPeso = ISNULL(SUM(M.NM_PESO_BRUTO * ME.QT_MATERIAL),0)
			from TB_MATERIAL_EMBALAGEM ME WITH(NOLOCK), TB_MATERIAL M WITH(NOLOCK)
			where ME.NM_EMBALAGEM = @p_numeroEmbalagemPedido
			AND ME.CD_MATERIAL = M.CD_MATERIAL

			UPDATE TB_PEDIDO_EMBALAGEM
			SET VL_PESO_TEORICO = @p_valorPeso
			WHERE NM_EMBALAGEM = @p_numeroEmbalagemPedido
		
			FETCH NEXT FROM @Cursor_Itens
			INTO @p_numeroEmbalagemPedido
											
		END	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
