SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_MINUTA_TRANSPORTE_PEDIDO]
	@CD_MINUTA					NUMERIC(18,0),
	@NM_PEDIDO					NUMERIC(18,0),
	@ID_TIPO					INT, -- 1 PARA ADICIONAR PEDIDO NA MINUTA E 2 PARA REMOVER PEDIDO DA MINUTA
	@CD_USUARIO					NUMERIC(18,0),
	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


DECLARE @ID_SITUACAO_MINUTA AS INTEGER
DECLARE @QT_PED_HIST_ABERTA AS INTEGER


BEGIN TRY
	
	

	    SELECT @QT_LINHAS_AFETADAS = 0
	    
	    -- **************************************************************************
	    -- VERIFICA SE A MINUTA ESTA FECHADA. NÃO PODEMOS MEXER NUMA ESTRUTURA FECHADA
	    -- **************************************************************************
	    SELECT @ID_SITUACAO_MINUTA = ID_SITUACAO_MINUTA 
	    from TB_MINUTA_TRANSPORTE
	    WHERE CD_MINUTA_TRANSPORTE = @CD_MINUTA
	    
	    SELECT @QT_PED_HIST_ABERTA = COUNT(*)
	    FROM TB_PEDIDO_HISTORICO
	    WHERE CD_EST_SITUACAO = 8 
	    AND DT_FINAL IS NULL
	    
	    IF @ID_SITUACAO_MINUTA = 2
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Não é possivel adicionar ou remover pedidos de uma minuta fechada'
				RETURN
			END
			
		
		BEGIN TRANSACTION
	    
	    IF @ID_TIPO = 1 -- adicionar pedidos
			BEGIN
		
				INSERT INTO TB_MINUTA_TRANSPORTE_PEDIDO
					(
					CD_MINUTA_TRANSPORTE,
					NM_PEDIDO,
					CD_USUARIO_CADASTRO)
				VALUES
					(
					@CD_MINUTA,
					@NM_PEDIDO,
					@CD_USUARIO
					)
					
				--Fecha a situação disponível para transporte
				exec dbo.SP_GRAVA_HISTORICO_PEDIDO @NM_PEDIDO,
												   7,
												   2,--fecha
												   1,
												   '',
												   @CD_USUARIO,
												   @CD_ERRO,
												   @DC_ERRO,
												   @QT_LINHAS_AFETADAS
				--Abre a situação em transporte
				exec dbo.SP_GRAVA_HISTORICO_PEDIDO @NM_PEDIDO,
												   8,
												   1,--abre
												   1,
												   '',
												   @CD_USUARIO,
												   @CD_ERRO,
												   @DC_ERRO,
												   @QT_LINHAS_AFETADAS
				
				--atualiza pedido para em transporte
				update TB_PEDIDO set CD_EST_SITUACAO = 8 where NM_PEDIDO = @NM_PEDIDO
				
			END
		
		IF @ID_TIPO = 2 -- remover pedidos
			BEGIN
				
				DELETE FROM TB_MINUTA_TRANSPORTE_PEDIDO
				WHERE CD_MINUTA_TRANSPORTE = @CD_MINUTA
				AND NM_PEDIDO = @NM_PEDIDO
				
				IF @QT_PED_HIST_ABERTA > 0
					BEGIN
						--FECHA a situação em transporte SE EXISTIR
						exec dbo.SP_GRAVA_HISTORICO_PEDIDO @NM_PEDIDO,
														   8,
														   2,--fecha
														   1,
														   '',
														   @CD_USUARIO,
														   @CD_ERRO,
														   @DC_ERRO,
														   @QT_LINHAS_AFETADAS
						--Abre novamente a situação disponível para transporte
						exec dbo.SP_GRAVA_HISTORICO_PEDIDO @NM_PEDIDO,
												   7,
												   1,--abre
												   1,
												   '',
												   @CD_USUARIO,
												   @CD_ERRO,
												   @DC_ERRO,
												   @QT_LINHAS_AFETADAS
						
						--volta o pedido para disp p/ transporte						   
						update TB_PEDIDO set CD_EST_SITUACAO = 7 where NM_PEDIDO = @NM_PEDIDO
						
					END
						
			END
		
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		COMMIT TRANSACTION
		
		SELECT @CD_ERRO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
