SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PR_QG_VINCULO]
AS
BEGIN 
DECLARE  @CURSOR_PESSOA      CURSOR,
@CURSOR_PESSOA2      CURSOR,
  @C_ID_CADASTRO      NUMERIC(18,0),
  @C_ID_PATROCINADO   NUMERIC(18,0),
  @C_ID_PROCESSADO    INT,
  @C_ID_CADASTRO2      NUMERIC(18,0),
  @C_ID_PATROCINADO2   NUMERIC(18,0),
  @p_codigoErro	      int ,
  @p_descricaoErro    VARCHAR(4000),
  @p_linhasAfetadas   INT


SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
FOR
	SELECT ID_CADASTRO, ID_PATROCINADOR, ID_PROCESSADO FROM PATROCINADOR WHERE  ISNULL(ID_PROCESSADO,0) = 0  ORDER BY 1
  
OPEN @CURSOR_PESSOA
FETCH NEXT FROM @CURSOR_PESSOA
INTO   @C_ID_CADASTRO , @C_ID_PATROCINADO, @C_ID_PROCESSADO

WHILE @@FETCH_STATUS = 0
BEGIN

	SET @CURSOR_PESSOA2 = CURSOR FAST_FORWARD
	FOR
	SELECT ID_CADASTRO, ID_PATROCINADOR FROM PATROCINADOR 
	WHERE ID_PATROCINADOR = @C_ID_PATROCINADO 
	AND   ISNULL(ID_PROCESSADO,0) = 0
	
	OPEN @CURSOR_PESSOA2
	FETCH NEXT FROM @CURSOR_PESSOA2
	INTO   @C_ID_CADASTRO2 , @C_ID_PATROCINADO2 

	WHILE @@FETCH_STATUS = 0
	BEGIN

	EXEC  [dbo].[pr_PessoaInsereVinculo2]
        	@C_ID_PATROCINADO2 ,  -- PATROCINADOR
		@C_ID_CADASTRO2,    -- NOVO CADASTRO
		2,
		202002,	
		@p_codigoErro	 OUTPUT,
		@p_descricaoErro		OUTPUT,
		@p_linhasAfetadas  OUTPUT
	
		FETCH NEXT FROM @CURSOR_PESSOA2
		INTO   @C_ID_CADASTRO2 , @C_ID_PATROCINADO2
		
	END
	BEGIN TRANSACTION 
	UPDATE PATROCINADOR SET ID_PROCESSADO = 1 WHERE ID_PATROCINADOR = @C_ID_PATROCINADO
	COMMIT TRANSACTION
 	FETCH NEXT FROM @CURSOR_PESSOA
	INTO   @C_ID_CADASTRO , @C_ID_PATROCINADO , @C_ID_PROCESSADO

END 
END 











GO
