SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_MOV_ESTOQUE_PESSOA]
	@CD_PESSOA					numeric(18, 0),
	@CD_FUNCAO					numeric(18, 0),
	@CD_PRODUTO_VENDA			numeric(18, 0),
	@NM_PEDIDO					numeric(18, 0),
	@NM_PEDIDO_ITEM				numeric(18, 0),
	@NM_PEDIDO_ITEM_PROMOCAO	numeric(18, 0),
	@ID_PRODUTO_COBRADO			INT,
	@ID_FUNCAO					INT, -- 1 INSERE -- 2 DIMINUI
	@ID_QTD_ALTERAR				INT, -- 1 ENVIADA -- 2 UTILIZADA -- 3 DEVOLVIDA -- 4 CANCELADA
	@QT_MOVIMENTADO				NUMERIC(18,0),
	@ID_EVENTO					INT, -- 1 CAPTAÇÃO -- 2 CANCELAMENTO
	
	@CD_USUARIO					NUMERIC(18,0),
	@CD_ERRO					INT OUTPUT,
	@DC_ERRO					VARCHAR(200) OUTPUT,
	@QT_LINHAS_AFETADAS			INT OUTPUT

AS



BEGIN TRY
	BEGIN TRANSACTION 
	    SELECT @QT_LINHAS_AFETADAS = 0
		
		IF @ID_EVENTO = 1 -- CAPTACAO
			BEGIN
			
			INSERT INTO TB_ESTOQUE_PESSOA (
				CD_PESSOA,
				CD_FUNCAO,
				CD_PRODUTO_VENDA,
				NM_PEDIDO,
				NM_PEDIDO_ITEM,
				NM_PEDIDO_ITEM_PROMOCAO,
				ID_PRODUTO_COBRADO,
				QT_ENVIADA,
				QT_UTILIZADA,
				QT_DEVOLVIDA,
				QT_SALDO)
			VALUES (
				@CD_PESSOA,
				@CD_FUNCAO,
				@CD_PRODUTO_VENDA,
				@NM_PEDIDO,
				@NM_PEDIDO_ITEM,
				@NM_PEDIDO_ITEM_PROMOCAO,
				@ID_PRODUTO_COBRADO,
				@QT_MOVIMENTADO,
				0,
				0,
				@QT_MOVIMENTADO)
			
			END
	
			SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
		
					
		COMMIT TRANSACTION
      
		SELECT @CD_ERRO = 0
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
