SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_EXPIRA_COMISSAO_SALDO_A_FAVOR]
     @VAR_RETORNO INT OUTPUT,
     @DC_ERRO NVARCHAR(MAX) OUTPUT,
     @QT_LINHAS_AFETADAS INT OUTPUT

AS
 DECLARE @CURSOR_PESSOA              CURSOR,
         @V_CD_PESSOA                NUMERIC(18,0),
         @V_CD_FUNCAO                NUMERIC(18,0),
         @V_VL_MOVIMENTO             NUMERIC (18,2)       
         
BEGIN TRY
BEGIN
  SELECT @QT_LINHAS_AFETADAS = 0

  -- DESCONTAR DO SALDO A FAVOR
  SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
  FOR
    SELECT   CD_PESSOA, CD_FUNCAO, ISNULL(SUM(VL_MOVIMENTO),0)
    FROM TB_PESSOA_CONTA_CORRENTE with (NOLOCK)
    WHERE ID_TIPO_MOVIMENTO              = 1
    AND   ID_ORIGEM_MOVIMENTO           IN (2,4,8)
    AND   ID_ENTIDADE_CONTA_CORRENTE     = 2
    AND   CONVERT(DATE,DT_EXPIRACAO,103) <  CONVERT(DATE,GETDATE(),103)
    AND   DT_UTILIZACAO                 IS NULL
    AND   NM_PEDIDO                     IS NULL 
    GROUP BY CD_PESSOA, CD_FUNCAO
                                  
  OPEN @CURSOR_PESSOA
  FETCH NEXT FROM @CURSOR_PESSOA
  INTO @V_CD_PESSOA, @V_CD_FUNCAO, @V_VL_MOVIMENTO
    
  WHILE @@FETCH_STATUS = 0
  BEGIN
    -- ALTERAR A COLUNA CONSOLIDADA
    BEGIN TRANSACTION
    UPDATE TB_PESSOA_RESUMO
    SET VL_SALDO_FAVOR	= ISNULL(VL_SALDO_FAVOR,0) - @V_VL_MOVIMENTO
    WHERE CD_PESSOA = @V_CD_PESSOA
    AND CD_FUNCAO   = @V_CD_FUNCAO
    COMMIT TRANSACTION

    FETCH NEXT FROM @CURSOR_PESSOA
    INTO @V_CD_PESSOA, @V_CD_FUNCAO, @V_VL_MOVIMENTO
  END

  -- INSERIR OS REGISTROS DE DEBITO DA BONIFICACAO QUE EXPIROU O PRAZO
  BEGIN TRANSACTION
  INSERT INTO TB_PESSOA_CONTA_CORRENTE (
			CD_PESSOA,
			CD_FUNCAO,
			DT_MOVIMENTO,
			ID_TIPO_MOVIMENTO,
			ID_ORIGEM_MOVIMENTO,
			NM_ORIGEM_MOVIMENTO,
			ID_ELEMENTO_FINANCEIRO,
			VL_MOVIMENTO,
			ID_ENTIDADE_CONTA_CORRENTE,
			CD_USUARIO_CADASTRO,
                        DT_ATUALIZACAO,
                        CD_USUARIO_ATUALIZACAO
			)
  SELECT CD_PESSOA, CD_FUNCAO, getdate(), 2,
         11, NM_ORIGEM_MOVIMENTO, 22,
         VL_MOVIMENTO, 2, CD_USUARIO_CADASTRO,
         GETDATE(), CD_USUARIO_ATUALIZACAO
  FROM TB_PESSOA_CONTA_CORRENTE with (NOLOCK)
  WHERE ID_TIPO_MOVIMENTO              = 1
  AND   ID_ORIGEM_MOVIMENTO           IN (2,4,8)
  AND   ID_ENTIDADE_CONTA_CORRENTE     = 2
  AND   CONVERT(DATE,DT_EXPIRACAO,103) <  CONVERT(DATE,GETDATE(),103)
  AND   DT_UTILIZACAO                 IS NULL
  AND   NM_PEDIDO                     IS NULL 

  -- ATUALIZAR OS REGISTROS DE CREDITO NAO UTILIZADOS DA BONIFICACAO QUE EXPIROU O PRAZO
  UPDATE TB_PESSOA_CONTA_CORRENTE
  SET DT_UTILIZACAO           = GETDATE()
     ,NM_PEDIDO               = 0
     ,DT_ATUALIZACAO          = GETDATE()
     ,CD_USUARIO_ATUALIZACAO  = 0
  WHERE ID_TIPO_MOVIMENTO              = 1
  AND   ID_ORIGEM_MOVIMENTO           IN (2,4,8)
  AND   ID_ENTIDADE_CONTA_CORRENTE     = 2
  AND   CONVERT(DATE,DT_EXPIRACAO,103) <  CONVERT(DATE,GETDATE(),103)
  AND   DT_UTILIZACAO                 IS NULL
  AND   NM_PEDIDO                     IS NULL 
  COMMIT TRANSACTION 

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0
  SELECT @VAR_RETORNO = 0
		
END		
END TRY	

BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;

GO
