SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************
PROCEDURE CRIADA POR ALDIR DIA 28/11/2019
ESSA PROCEDURE SERÁ UTILIZADA NAS CONSULTAS DE DIVIDAS ENTRE ESTRUTURAS COMERCIAIS
SE O CD_EST_COMERCIAL FOR IGUAL A 0 MOSTRA TODOS
SE O ID_SITUACAO_DIVIDA FOR IGUAL 0 MOSTRA TODOS
SE O ID_TIPO_DIVIDA FOR IGUAL 0 MOSTRA TODOS

*****************************************************************************/
CREATE PROCEDURE [dbo].[pr_MNListaDividasEC]
		@CD_EST_COMERCIAL	NUMERIC(18,0),
		@NM_CICLO_INICIAL	NUMERIC(18,0),
        @NM_CICLO_FINAL		NUMERIC(18,0),
		@ID_SITUACAO_DIVIDA_EC  INT,			-- 1 PENDENTE / 2 PAGO / 3 CANCELADO
		@ID_TIPO_DIVIDA_EC      INT,			-- 1 CREDITO / 2 DEBITO
		@CD_PESSOA_LOGIN		NUMERIC(18,0),	-- PESSOA QUE ESTA FAZENDO QUERY (CONTROLE DE FRANQUIA)
		@DC_TIPO_EMPRESA		INT				--SE É MATRIZ OU FRANQUIA
		

	
AS
BEGIN
	
	-- MATRIZ OU ADMINISTRADOR
	IF @DC_TIPO_EMPRESA = 1 
		BEGIN
		
			IF (@ID_TIPO_DIVIDA_EC = 0) -- TODOS
				BEGIN
					SELECT CD_DIVIDA_EC AS [Código Dívida] 
							,'CRÉDITO' AS [Tipo Dívida]
							,CD_EST_COMERCIAL_DEBITO AS [Cód. Estrutura]
							,DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL_DEBITO) AS [Estrutura Comercial]
							,NM_CICLO  AS [Ciclo]
							,CASE WHEN (ID_SITUACAO_DIVIDA_EC = 1) THEN 'PENDENTE'
							WHEN (ID_SITUACAO_DIVIDA_EC = 2) THEN 'PAGO'
							ELSE 'CANCELADO'  END  AS [Situação Dívida]
							,VL_DIVIDA_EC AS [VALOR]
					FROM TB_MN_DIVIDA_EC WITH(NOLOCK)
					WHERE ( (@CD_EST_COMERCIAL > 0 AND CD_EST_COMERCIAL_CREDITO = @CD_EST_COMERCIAL )  OR (@CD_EST_COMERCIAL = 0))
					AND   NM_CICLO >= @NM_CICLO_INICIAL
					AND   NM_CICLO <= @NM_CICLO_FINAL
					AND   ((@ID_SITUACAO_DIVIDA_EC > 0 AND ID_SITUACAO_DIVIDA_EC = @ID_SITUACAO_DIVIDA_EC) OR (@ID_SITUACAO_DIVIDA_EC = 0)  )

					UNION ALL

					SELECT CD_DIVIDA_EC AS [Código Dívida]
						, 'DÉBITO' AS [Tipo Dívida]
						,CD_EST_COMERCIAL_CREDITO AS [Cód. Estrutura]
						,DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL_CREDITO) AS [Estrutura Comercial]
						,NM_CICLO  AS [Ciclo]
						,CASE WHEN (ID_SITUACAO_DIVIDA_EC = 1) THEN 'PENDENTE'
						WHEN (ID_SITUACAO_DIVIDA_EC = 2) THEN 'PAGO'
						ELSE 'CANCELADO'  END  AS [Situação Dívida]
						,VL_DIVIDA_EC AS [VALOR]
					FROM TB_MN_DIVIDA_EC WITH(NOLOCK)
					WHERE ( (@CD_EST_COMERCIAL > 0 AND CD_EST_COMERCIAL_DEBITO = @CD_EST_COMERCIAL )  OR (@CD_EST_COMERCIAL = 0))
					AND   NM_CICLO >= @NM_CICLO_INICIAL
					AND   NM_CICLO <= @NM_CICLO_FINAL
					AND   ((@ID_SITUACAO_DIVIDA_EC > 0 AND ID_SITUACAO_DIVIDA_EC = @ID_SITUACAO_DIVIDA_EC) OR (@ID_SITUACAO_DIVIDA_EC = 0)  )
					ORDER BY 2,3,4,7,6

			END
	
			IF (@ID_TIPO_DIVIDA_EC = 1) -- CREDITO
				BEGIN
					SELECT CD_DIVIDA_EC AS [Código Dívida]
						, 'CRÉDITO' AS [Tipo Dívida]
					   ,CD_EST_COMERCIAL_DEBITO AS [Cód. Estrutura]
					   ,DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL_DEBITO) AS [Estrutura Comercial]
					   ,NM_CICLO  AS [Ciclo]
					   ,CASE WHEN (ID_SITUACAO_DIVIDA_EC = 1) THEN 'PENDENTE'
						 WHEN (ID_SITUACAO_DIVIDA_EC = 2) THEN 'PAGO'
						 ELSE 'CANCELADO'  END  AS [Situação Dívida]
					   ,VL_DIVIDA_EC AS [VALOR]
					FROM TB_MN_DIVIDA_EC WITH(NOLOCK)
					WHERE ( (@CD_EST_COMERCIAL > 0 AND CD_EST_COMERCIAL_CREDITO = @CD_EST_COMERCIAL )  OR (@CD_EST_COMERCIAL = 0))
					AND   NM_CICLO >= @NM_CICLO_INICIAL
					AND   NM_CICLO <= @NM_CICLO_FINAL
					AND   ((@ID_SITUACAO_DIVIDA_EC > 0 AND ID_SITUACAO_DIVIDA_EC = @ID_SITUACAO_DIVIDA_EC) OR (@ID_SITUACAO_DIVIDA_EC = 0)  )
 					ORDER BY 2,3,4,7,6

				END

			IF (@ID_TIPO_DIVIDA_EC = 2) -- DEBITO
				BEGIN
					SELECT CD_DIVIDA_EC AS [Código Dívida] 
						, 'DÉBITO' AS [Tipo Dívida]
					   ,CD_EST_COMERCIAL_CREDITO AS [Cód. Estrutura]
					   ,DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL_CREDITO) AS [Estrutura Comercial]
					   ,NM_CICLO  AS [Ciclo]
					   ,CASE WHEN (ID_SITUACAO_DIVIDA_EC = 1) THEN 'PENDENTE'
						 WHEN (ID_SITUACAO_DIVIDA_EC = 2) THEN 'PAGO'
						 ELSE 'CANCELADO'  END  AS [Situação Dívida]
					   ,VL_DIVIDA_EC AS [VALOR]
					FROM TB_MN_DIVIDA_EC WITH(NOLOCK)
					WHERE ( (@CD_EST_COMERCIAL > 0 AND CD_EST_COMERCIAL_DEBITO = @CD_EST_COMERCIAL )  OR (@CD_EST_COMERCIAL = 0))
					AND   NM_CICLO >= @NM_CICLO_INICIAL
					AND   NM_CICLO <= @NM_CICLO_FINAL
					AND   ((@ID_SITUACAO_DIVIDA_EC > 0 AND ID_SITUACAO_DIVIDA_EC = @ID_SITUACAO_DIVIDA_EC) OR (@ID_SITUACAO_DIVIDA_EC = 0)  )
					ORDER BY 2,3,4,7,6

				END

		END

	
	-- FRANQUIA
	IF @DC_TIPO_EMPRESA = 2 
		BEGIN
		
			IF (@ID_TIPO_DIVIDA_EC = 0) -- TODOS
				BEGIN
					SELECT CD_DIVIDA_EC AS [Código Dívida] 
							,'CRÉDITO' AS [Tipo Dívida]
							,CD_EST_COMERCIAL_DEBITO AS [Cód. Estrutura]
							,DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL_DEBITO) AS [Estrutura Comercial]
							,NM_CICLO  AS [Ciclo]
							,CASE WHEN (ID_SITUACAO_DIVIDA_EC = 1) THEN 'PENDENTE'
							WHEN (ID_SITUACAO_DIVIDA_EC = 2) THEN 'PAGO'
							ELSE 'CANCELADO'  END  AS [Situação Dívida]
							,VL_DIVIDA_EC AS [VALOR]
					FROM TB_MN_DIVIDA_EC X WITH(NOLOCK)
					WHERE ( (@CD_EST_COMERCIAL > 0 AND CD_EST_COMERCIAL_CREDITO = @CD_EST_COMERCIAL )  OR (@CD_EST_COMERCIAL = 0))
					AND   NM_CICLO >= @NM_CICLO_INICIAL
					AND   NM_CICLO <= @NM_CICLO_FINAL
					AND   ((@ID_SITUACAO_DIVIDA_EC > 0 AND ID_SITUACAO_DIVIDA_EC = @ID_SITUACAO_DIVIDA_EC) OR (@ID_SITUACAO_DIVIDA_EC = 0)  )
					AND ((X.CD_EST_COMERCIAL_CREDITO IN (SELECT A.CD_EST_COMERCIAL 
										FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL A WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO B WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
										WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
										AND B.CD_EMPRESA = C.CD_EMPRESA
										AND C.CD_PESSOA = @CD_PESSOA_LOGIN))
							OR 
						(X.CD_EST_COMERCIAL_DEBITO IN (SELECT A.CD_EST_COMERCIAL 
										FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL A WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO B WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
										WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
										AND B.CD_EMPRESA = C.CD_EMPRESA
										AND C.CD_PESSOA = @CD_PESSOA_LOGIN)))



					UNION ALL

					SELECT CD_DIVIDA_EC AS [Código Dívida]
						, 'DÉBITO' AS [Tipo Dívida]
						,CD_EST_COMERCIAL_CREDITO AS [Cód. Estrutura]
						,DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL_CREDITO) AS [Estrutura Comercial]
						,NM_CICLO  AS [Ciclo]
						,CASE WHEN (ID_SITUACAO_DIVIDA_EC = 1) THEN 'PENDENTE'
						WHEN (ID_SITUACAO_DIVIDA_EC = 2) THEN 'PAGO'
						ELSE 'CANCELADO'  END  AS [Situação Dívida]
						,VL_DIVIDA_EC AS [VALOR]
					FROM TB_MN_DIVIDA_EC X WITH(NOLOCK)
					WHERE ( (@CD_EST_COMERCIAL > 0 AND CD_EST_COMERCIAL_DEBITO = @CD_EST_COMERCIAL )  OR (@CD_EST_COMERCIAL = 0))
					AND   NM_CICLO >= @NM_CICLO_INICIAL
					AND   NM_CICLO <= @NM_CICLO_FINAL
					AND   ((@ID_SITUACAO_DIVIDA_EC > 0 AND ID_SITUACAO_DIVIDA_EC = @ID_SITUACAO_DIVIDA_EC) OR (@ID_SITUACAO_DIVIDA_EC = 0)  )
					AND ((X.CD_EST_COMERCIAL_CREDITO IN (SELECT A.CD_EST_COMERCIAL 
										FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL A WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO B WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
										WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
										AND B.CD_EMPRESA = C.CD_EMPRESA
										AND C.CD_PESSOA = @CD_PESSOA_LOGIN))
							OR 
						(X.CD_EST_COMERCIAL_DEBITO IN (SELECT A.CD_EST_COMERCIAL 
										FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL A WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO B WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
										WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
										AND B.CD_EMPRESA = C.CD_EMPRESA
										AND C.CD_PESSOA = @CD_PESSOA_LOGIN)))

					
					
					ORDER BY 2,3,4,7,6

			END
	
			IF (@ID_TIPO_DIVIDA_EC = 1) -- CREDITO
				BEGIN
					SELECT CD_DIVIDA_EC AS [Código Dívida]
						, 'CRÉDITO' AS [Tipo Dívida]
					   ,CD_EST_COMERCIAL_DEBITO AS [Cód. Estrutura]
					   ,DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL_DEBITO) AS [Estrutura Comercial]
					   ,NM_CICLO  AS [Ciclo]
					   ,CASE WHEN (ID_SITUACAO_DIVIDA_EC = 1) THEN 'PENDENTE'
						 WHEN (ID_SITUACAO_DIVIDA_EC = 2) THEN 'PAGO'
						 ELSE 'CANCELADO'  END  AS [Situação Dívida]
					   ,VL_DIVIDA_EC AS [VALOR]
					FROM TB_MN_DIVIDA_EC X WITH(NOLOCK)
					WHERE ( (@CD_EST_COMERCIAL > 0 AND CD_EST_COMERCIAL_CREDITO = @CD_EST_COMERCIAL )  OR (@CD_EST_COMERCIAL = 0))
					AND   NM_CICLO >= @NM_CICLO_INICIAL
					AND   NM_CICLO <= @NM_CICLO_FINAL
					AND   ((@ID_SITUACAO_DIVIDA_EC > 0 AND ID_SITUACAO_DIVIDA_EC = @ID_SITUACAO_DIVIDA_EC) OR (@ID_SITUACAO_DIVIDA_EC = 0)  )
 					AND ((X.CD_EST_COMERCIAL_CREDITO IN (SELECT A.CD_EST_COMERCIAL 
										FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL A WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO B WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
										WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
										AND B.CD_EMPRESA = C.CD_EMPRESA
										AND C.CD_PESSOA = @CD_PESSOA_LOGIN))
							OR 
						(X.CD_EST_COMERCIAL_DEBITO IN (SELECT A.CD_EST_COMERCIAL 
										FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL A WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO B WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
										WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
										AND B.CD_EMPRESA = C.CD_EMPRESA
										AND C.CD_PESSOA = @CD_PESSOA_LOGIN)))

					
					
					ORDER BY 2,3,4,7,6

				END

			IF (@ID_TIPO_DIVIDA_EC = 2) -- DEBITO
				BEGIN
					SELECT CD_DIVIDA_EC AS [Código Dívida] 
						, 'DÉBITO' AS [Tipo Dívida]
					   ,CD_EST_COMERCIAL_CREDITO AS [Cód. Estrutura]
					   ,DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL_CREDITO) AS [Estrutura Comercial]
					   ,NM_CICLO  AS [Ciclo]
					   ,CASE WHEN (ID_SITUACAO_DIVIDA_EC = 1) THEN 'PENDENTE'
						 WHEN (ID_SITUACAO_DIVIDA_EC = 2) THEN 'PAGO'
						 ELSE 'CANCELADO'  END  AS [Situação Dívida]
					   ,VL_DIVIDA_EC AS [VALOR]
					FROM TB_MN_DIVIDA_EC X WITH(NOLOCK)
					WHERE ( (@CD_EST_COMERCIAL > 0 AND CD_EST_COMERCIAL_DEBITO = @CD_EST_COMERCIAL )  OR (@CD_EST_COMERCIAL = 0))
					AND   NM_CICLO >= @NM_CICLO_INICIAL
					AND   NM_CICLO <= @NM_CICLO_FINAL
					AND   ((@ID_SITUACAO_DIVIDA_EC > 0 AND ID_SITUACAO_DIVIDA_EC = @ID_SITUACAO_DIVIDA_EC) OR (@ID_SITUACAO_DIVIDA_EC = 0)  )
					AND ((X.CD_EST_COMERCIAL_CREDITO IN (SELECT A.CD_EST_COMERCIAL 
										FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL A WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO B WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
										WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
										AND B.CD_EMPRESA = C.CD_EMPRESA
										AND C.CD_PESSOA = @CD_PESSOA_LOGIN))
							OR 
						(X.CD_EST_COMERCIAL_DEBITO IN (SELECT A.CD_EST_COMERCIAL 
										FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL A WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO B WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
										WHERE A.CD_CENTRO_DISTRIBUICAO = B.CD_CENTRO_DISTRIBUICAO
										AND B.CD_EMPRESA = C.CD_EMPRESA
										AND C.CD_PESSOA = @CD_PESSOA_LOGIN)))

					
					ORDER BY 2,3,4,7,6

				END

		END





END

GO
