SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- **************************************************************************************************************
-- PROCEDURE CRIADA POR ANDERSON - 17/12/2025
-- RETORNA PESSOAS QUE ESTÃO PENDENTE DE ANALISE DO FLUXOD E APROVAÇÃO (ESTAVA EM TELA E FOI COLOCADO EM PROC)
-- **************************************************************************************************************


CREATE   PROCEDURE [dbo].[pr_PessoaConsultaPessoasAnaliseFluxoAprovacao]
	@idCarregaSomentePessoascomAceite	INT,
	@cdPessoa							VARCHAR(100),
	@dcNomePessoa						VARCHAR(100),
	@idSituacaoCadastro					VARCHAR(100),
	@idEtapaAnalise						VARCHAR(100),
	@listaEstCom						VARCHAR(1000)
	
	--@V_RETORNO				NVARCHAR(MAX) OUTPUT

AS


DECLARE	@query  AS NVARCHAR(MAX)
DECLARE @CD_CLIENTE NUMERIC(18,0)

BEGIN

	-- ******************************************************
	-- PRIMEIRO VERIFICA O CLIENTE
	-- ******************************************************
	select @CD_CLIENTE = vl_parametro 
	from TB_valor_PARAMETRO  with (NOLOCK)
	where CD_GRUPO_PARAMETRO = 6
	and CD_PARAMETRO = 1
	and CD_VALOR_PARAMETRO  =1

	-- *****************************************************
	-- LOWELL
	-- *****************************************************
	if @CD_CLIENTE = 57
		BEGIN
			SET @query = 'SELECT '
			SET @query = @query + '	A.CD_PESSOA [CÓD. PESSOA], '
			SET @query = @query + '	dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) [NOME], '	
			SET @query = @query + '	dbo.FN_BUSCA_DOMINIO(''TIPO_PESSOA'', A.ID_TIPO_PESSOA) [TIPO PESSOA], '
			--SET @query = @query + '	B.CD_SITUACAO_CADASTRO [CÓD. SIT. CADASTRO], '
			SET @query = @query + '	B.DC_SITUACAO_CADASTRO [SITUAÇÃO CADASTRO],  '
			SET @query = @query + '	C.CD_EST_COMERCIAL [COD. EST. COMERCIAL], '
			SET @query = @query + '	DBO.FN_BUSCA_DESC_EST_COMERCIAL(C.CD_EST_COMERCIAL) [EST. COMERCIAL], '
			SET @query = @query + '	DBO.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(C.CD_EST_COMERCIAL, 0) [RESP. EST. COMERCIAL] '
			SET @query = @query + '	FROM TB_PESSOA A WITH(NOLOCK), TB_SITUACAO_CADASTRO B WITH(NOLOCK), TB_PESSOA_RESUMO C WITH(NOLOCK) '
			SET @query = @query + '	WHERE A.CD_SITUACAO_CADASTRO = B.CD_SITUACAO_CADASTRO '
			SET @query = @query + '	AND A.CD_PESSOA = C.CD_PESSOA '
			SET @query = @query + '	AND C.CD_FUNCAO = 2 '
			
			IF @cdPessoa <> ''
				BEGIN
					SET @query = @query + '	AND A.CD_PESSOA = ' + CONVERT(VARCHAR(20), @cdPessoa)
				END
			
			--IF @dcNomePessoa <> ''
--				BEGIN
					--SET @query = @query + '	AND dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) LIKE '% + @dcNomePessoa + %'"
				--END

			IF @idSituacaoCadastro <> ''
				BEGIN
					SET @query = @query + '	AND A.CD_SITUACAO_CADASTRO = ' + CONVERT(VARCHAR(20), @idSituacaoCadastro)
				END

			IF @idEtapaAnalise <> ''
				BEGIN
				    SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO C WITH(NOLOCK) WHERE(A.CD_PESSOA = C.CD_PESSOA) '
				    SET @query = @query + '	AND C.DT_FINAL IS NULL AND C.CD_SITUACAO_CADASTRO = ' + CONVERT(VARCHAR(20), @idSituacaoCadastro) + ')'
 				END
			
			IF @listaEstCom <> ''
				BEGIN
					SET @query = @query + '	AND A.CD_ESTRUTURA_COMERCIAL IN (' +  @listaEstCom + ')'
				END
							
			-- motra somente pessoas que aceitaram o termo
			IF @idCarregaSomentePessoascomAceite = 1 
				BEGIN
					SET @query = @query + '	And A.CD_PESSOA IN (SELECT C.CD_PESSOA FROM TB_PESSOA_DOCUMENTO_CONTROLE C WHERE C.CD_DOCUMENTO_CONTROLE = 1 AND C.ID_ENTREGA_DOCUMENTO = 1) '
				END
			

			SET @query = @query + '	ORDER BY A.CD_PESSOA ASC '

		END
	ELSE
		BEGIN
			SET @query = 'SELECT '
			SET @query = @query + '	A.CD_PESSOA, '
			SET @query = @query + '	dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) NM_PESSOA, '	
			SET @query = @query + '	dbo.FN_BUSCA_DOMINIO(''TIPO_PESSOA'', A.ID_TIPO_PESSOA) DC_TIPO_PESSOA, '
			SET @query = @query + '	B.CD_SITUACAO_CADASTRO, '
			SET @query = @query + '	B.DC_SITUACAO_CADASTRO  '
			SET @query = @query + '	FROM TB_PESSOA A WITH(NOLOCK), TB_SITUACAO_CADASTRO B WITH(NOLOCK) '
			SET @query = @query + '	WHERE A.CD_SITUACAO_CADASTRO = B.CD_SITUACAO_CADASTRO '
			
			IF @cdPessoa <> ''
				BEGIN
					SET @query = @query + '	AND A.CD_PESSOA = ' + CONVERT(VARCHAR(20), @cdPessoa)
				END
			
			--IF @dcNomePessoa <> ''
--				BEGIN
					--SET @query = @query + '	AND dbo.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) LIKE '% + @dcNomePessoa + %'"
				--END

			IF @idSituacaoCadastro <> ''
				BEGIN
					SET @query = @query + '	AND A.CD_SITUACAO_CADASTRO = ' + CONVERT(VARCHAR(20), @idSituacaoCadastro)
				END

			IF @idEtapaAnalise <> ''
				BEGIN
				    SET @query = @query + '	AND EXISTS (SELECT 1 FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO C WITH(NOLOCK) WHERE(A.CD_PESSOA = C.CD_PESSOA) '
				    SET @query = @query + '	AND C.DT_FINAL IS NULL AND C.CD_SITUACAO_CADASTRO = ' + CONVERT(VARCHAR(20), @idSituacaoCadastro) + ')'
 				END
			
			IF @listaEstCom <> ''
				BEGIN
					SET @query = @query + '	AND A.CD_ESTRUTURA_COMERCIAL IN (' +  @listaEstCom + ')'
				END
							
			-- motra somente pessoas que aceitaram o termo
			IF @idCarregaSomentePessoascomAceite = 1 
				BEGIN
					SET @query = @query + '	And A.CD_PESSOA IN (SELECT C.CD_PESSOA FROM TB_PESSOA_DOCUMENTO_CONTROLE C WHERE C.CD_DOCUMENTO_CONTROLE = 1 AND C.ID_ENTREGA_DOCUMENTO = 1) '
				END
			

			SET @query = @query + '	ORDER BY A.CD_PESSOA ASC '
		END

	
	EXEC(@query);

	--SELECT @V_RETORNO = @query



END



GO
