SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PromocaoInserePromocaoRequisitoAtividade]
	@p_codigoPromocao			NUMERIC(18, 0),
	@p_cicloInicial				NUMERIC(18, 0),
	@p_cicloFinal				NUMERIC(18, 0),

	@p_idPeriodoConsideraValor	INT,
	@p_valorMinimo				NUMERIC(18, 4),
	@p_valorMaximo				NUMERIC(18, 4),
	@p_idPermiteInicios			INT,
	@p_idPermiteReinicios		INT,

	@p_descAcao					VARCHAR(1),
	@p_codigoUsuario			NUMERIC(18, 0),	
	
	@p_codigoErro				INT	OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT
	
AS

BEGIN TRY
	BEGIN TRANSACTION 
	
	    SELECT @p_qtLinhasAfetadas = 0

		IF @p_descAcao = 'I'
			BEGIN

				INSERT INTO TB_PROMOCAO_REQUISITO_ATIVIDADE (
					CD_PROMOCAO,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					ID_PERIODO_CONSIDERA_VALOR_MINIMO,
					VL_MINIMO,
					VL_MAXIMO,
					ID_PERMITE_INICIOS,
					ID_PERMITE_REINICIOS )							
				VALUES (
					@p_codigoPromocao,
					@p_cicloInicial,
					@p_cicloFinal,
					@p_idPeriodoConsideraValor,
					@p_valorMinimo,
					@p_valorMaximo,
					@p_idPermiteInicios,
					@p_idPermiteReinicios )
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
		        
			END
		
		IF @p_descAcao = 'E'
			BEGIN

				DELETE FROM TB_PROMOCAO_REQUISITO_ATIVIDADE 
				WHERE CD_PROMOCAO = @p_codigoPromocao
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			END
		
		COMMIT TRANSACTION

		SELECT @p_codigoErro = 0, @p_descErro = ''
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
   
   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
