SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_EmailInsereEnvioEmailTexto]
	@p_cd_envio_email         	numeric(18,0),
	@p_nm_linha                 int,
	@p_dc_texto					nvarchar(max),
	
	@p_descricaoTipoFuncao			VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_ENVIO_EMAIL_TEXTO (
				CD_ENVIO_EMAIL,
				NM_LINHA,
				DC_TEXTO
				)
						
				VALUES (
				@p_cd_envio_email,
				@p_nm_linha,
				@p_dc_texto	
				)
				
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
						
				COMMIT TRANSACTION
			END

			IF @p_descricaoTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION
				UPDATE TB_ENVIO_EMAIL_TEXTO SET 
				CD_ENVIO_EMAIL = @p_cd_envio_email,
				NM_LINHA = @p_nm_linha,
				DC_TEXTO = @p_dc_texto				
				WHERE CD_ENVIO_EMAIL = @p_cd_envio_email
				
			    SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END
					

			IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM TB_ENVIO_EMAIL_TEXTO
				WHERE CD_ENVIO_EMAIL = @p_cd_envio_email

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
