SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_FiscalInsereReducaoBaseCalculoICMSST]
	@CD_REDUCAO_BC_ICMS_ST NUMERIC(18,4),
	@DC_UF VARCHAR(2),
	@CD_MATERIAL numeric(18,0),
	@CD_CLASSIFICACAO_FISCAL numeric(18,0),
	@VL_REDUCAO_BC numeric(18,4),
	@CD_USUARIO numeric(18,0),
	
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
	
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_REDUCAO_BC_ICMS_ST (
					DC_UF,
					CD_MATERIAL,
					CD_CLASSIFICACAO_FISCAL,
					VL_REDUCAO_BC,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
										
						
				VALUES           (
					@DC_UF,
					@CD_MATERIAL,
					@CD_CLASSIFICACAO_FISCAL,
					@VL_REDUCAO_BC,
					GETDATE(),
					@CD_USUARIO)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
	
				BEGIN TRANSACTION 
	
				DELETE FROM TB_REDUCAO_BC_ICMS_ST 
					WHERE CD_REDUCAO_BC_ICMS_ST = @CD_REDUCAO_BC_ICMS_ST
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
				COMMIT TRANSACTION
			END	


		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = ERROR_NUMBER()
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
