SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_LojaVirtualInserirBanner]
	@p_codigoBanner				numeric(18,0),
	@p_descricaoNome			varchar(80),
	@p_codigoSituacao			int,
	@p_codigoLocalBanner		int,
	@p_descricaoURL				varchar(80),
	@p_descricaoImagem			varchar(80),
	@p_codigoUsuario			NUMERIC(18,0),
	@p_cicloInicial             NUMERIC(18,0),
	@p_cicloFinal	            NUMERIC(18,0),
	@p_dtVigenciaInicial        DATE,
	@p_dtVigenciaFinal          DATE,
	@p_dcTitulo1				varchar(500),
	@p_dcTitulo2				varchar(500),

	@p_descricaoFuncao			VARCHAR(1),

	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_codigoGerado				NUMERIC(18,0) OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
					
		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				
			   INSERT INTO TB_LOJA_VIRTUAL_BANNER(
					DC_NOME,
					ID_SITUACAO,
					ID_LOCAL_BANNER,
					DC_URL_BANNER,
					DC_IMAGEM,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					DT_VIGENCIA_INICIAL,
					DT_VIGENCIA_FINAL,
					DC_TITULO_1,
					DC_TITULO_2
					)	
				VALUES (
					@p_descricaoNome,
					@p_codigoSituacao,
					@p_codigoLocalBanner,
					@p_descricaoURL,
					@p_descricaoImagem,
					GETDATE(),
					@p_codigoUsuario,
					GETDATE(),
					@p_codigoUsuario,
					@p_cicloInicial,
					@p_cicloFinal,
					@p_dtVigenciaInicial,
					@p_dtVigenciaFinal,
					@p_dcTitulo1,
					@p_dcTitulo2)		

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_LOJA_VIRTUAL_BANNER')

				COMMIT TRANSACTION
			END	
			
		IF @p_descricaoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 
		
				UPDATE TB_LOJA_VIRTUAL_BANNER SET
					DC_NOME = @p_descricaoNome,					
					ID_SITUACAO = @p_codigoSituacao,
					ID_LOCAL_BANNER = @p_codigoLocalBanner,
					DC_URL_BANNER = @p_descricaoURL,
					DC_IMAGEM = @p_descricaoImagem,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO	= @p_codigoUsuario,
					NM_CICLO_INICIAL = @p_cicloInicial,
					NM_CICLO_FINAL = @p_cicloFinal,
					DT_VIGENCIA_INICIAL = @p_dtVigenciaInicial,
					DT_VIGENCIA_FINAL = @p_dtVigenciaFinal,
					DC_TITULO_1 = @p_dcTitulo1,
					DC_TITULO_2 = @p_dcTitulo2

				WHERE CD_LOJA_VIRTUAL_BANNER = @p_codigoBanner
											
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END
				
		IF @p_descricaoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_LOJA_VIRTUAL_BANNER 
				WHERE CD_LOJA_VIRTUAL_BANNER = @p_codigoBanner	
							
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
