SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 30/06/2020
-- Description:	Procedure que acerta o estoque empenhado dos materiais,zera os empenhos negativos e acerta os que estejam diferentes
-- paleativa até que seja criada um processo mais robusto que faça a auditoria do estoque
-- =============================================
CREATE PROCEDURE [dbo].[pr_MaterialAcertaEstoqueEmpenhadoKenkoPatto]
AS

DECLARE @v_cursorEstoque         CURSOR,
		@v_codigoCD				NUMERIC(18,0),
		@v_codigoArmazem		NUMERIC(18,0),
		@v_codigoMaterial		NUMERIC(18,0),
		@v_qtdeEmpenhado		NUMERIC(18,0),
		@v_idMomentoFaturamento INT,
		@v_qtdeEmpenhadaPedido	NUMERIC(18,0)

BEGIN
 
	-- ZERAR OS EMPENHOS NEGATIVOS
	BEGIN TRANSACTION
		UPDATE TB_ESTOQUE SET QT_ESTOQUE_EMPENHADO = 0 WHERE QT_ESTOQUE_EMPENHADO < 0

		-- VAMOS APAGAR CASOS DE ESTOQUE ONDE O ARMAZEM NÃO ESTÁ NO CD ATUAL, TIVEMOS CASOS ASSIM EM HML E QUE INDICA QUE O CLIENTE CONSEGUE ALTERAR O CD DO ARMAZEM E FICAM REGISTROS DE ESTOQUE INDEVIDOS
		-- se isto acontecer o comando abaixo irá apagar os dados indevidos deste estoque
		DELETE FROM TB_ESTOQUE WHERE (SELECT A.CD_CENTRO_DISTRIBUICAO FROM TB_ARMAZEM A WHERE A.CD_ARMAZEM = TB_ESTOQUE.CD_ARMAZEM) <> CD_CENTRO_DISTRIBUICAO

	COMMIT TRANSACTION

	-- ESTA É UMA EVOLUÇÃO DO PROCESSO ANTERIOR, NELE A IDEIA É VARRER O ESTOQUE COMPLETO PRIORIZANDO OS ITENS COM MAIOR ESTOQUE EMPENHADO, EM TESE SÃO OS QUE MAIS VENDEM E QUE PODEM APRESENTAR GRANDES DIFERENÇAS
	-- NESTE PROCESSO VAMOS CONSEGUIR COBRIR DUAS DEFICIÊNCIAS DO PROCESSO ANTERIOR: CONSIDERAR O MOMENTO DE FATURAMENTO DO CD QUE IMPACTA DIRETAMENTE NAS SITUAÇÕES DE PEDIDO A CONSIDERAR E
	-- CONSIDERAR OS ITENS QUE ESTÃO COM ESTOQUE EMPENHADO PORÉM SEM NENHUM PEDIDO QUE JUSTIFIQUE O EMPENHO

	SET @v_cursorEstoque = CURSOR FAST_FORWARD
	FOR
		SELECT CD_MATERIAL, E.CD_CENTRO_DISTRIBUICAO, CD_ARMAZEM, QT_ESTOQUE_EMPENHADO, CD.ID_MOMENTO_FATURAMENTO
		FROM TB_ESTOQUE E with(nolock), TB_CENTRO_DISTRIBUICAO CD with(nolock)
		WHERE E.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
		ORDER BY QT_ESTOQUE_EMPENHADO DESC

	OPEN @v_cursorEstoque 
	FETCH NEXT FROM @v_cursorEstoque 
	INTO @v_codigoMaterial, @v_codigoCD, @v_codigoArmazem, @v_qtdeEmpenhado, @v_idMomentoFaturamento
    
	WHILE @@FETCH_STATUS = 0
		BEGIN

			SELECT @v_qtdeEmpenhadaPedido = 0

			-- VAMOS VALIDAR A QUANTIDADE EMPENHADA DE ACORDO COM O MOMENTO DE FATURAMENTO
			IF @v_idMomentoFaturamento = 1 OR @v_idMomentoFaturamento = 0 -- BAIXA O EMPENHO AO ENTRAR EM SEPARAÇÃO
				BEGIN
					-- BUSCA A QUANTIDADE EMPENHADA NOS PEDIDOS
					select @v_qtdeEmpenhadaPedido = isnull(sum(c.qtd_empenhada),0)
					from (
							SELECT SUM(pdi.QT_RESERVADA) QTD_EMPENHADA
								FROM TB_PEDIDO pd WITH(NOLOCK), 
									TB_PEDIDO_ITEM pdi WITH(NOLOCK), 
									TB_MATERIAL M WITH(NOLOCK)
								 WHERE pd.NM_PEDIDO = pdi.NM_PEDIDO 
								 AND pdi.CD_MATERIAL = m.CD_MATERIAL
								 AND pd.CD_EST_SITUACAO IN (1,100,101,2,4,99)
								 and pd.ID_MOVIMENTA_ESTOQUE = 1 
								 AND PD.CD_CENTRO_DISTRIBUICAO = @v_codigoCD
								 AND PDI.CD_MATERIAL = @v_codigoMaterial
								 AND PDI.CD_EST_SITUACAO <> 19 -- NÃO PODEMOS INCLUIR OS PRODUTOS PENDENTES DE PRODUÇÃO (CONCEITO DE ENCOMENDA)
							UNION
							SELECT  SUM(pdi.QT_RESERVADA) QTD_EMPENHADA
								FROM TB_PEDIDO pd WITH(NOLOCK), 
									TB_PEDIDO_ITEM_promocao pdi WITH(NOLOCK), 
									TB_MATERIAL M WITH(NOLOCK)
								 WHERE pd.NM_PEDIDO = pdi.NM_PEDIDO 
								 AND pdi.CD_MATERIAL = m.CD_MATERIAL
								 AND pd.CD_EST_SITUACAO IN (1,100,101,2,4,99) 
								 and pd.ID_MOVIMENTA_ESTOQUE = 1
								 -- NAO RETIRAR A LINHA ABAIXO POIS CASO CONTRARIO O SISTEMA VAI DOBRAR OS EMPENHOS NO CASO DE PRODUTOS 
								 -- QUE TIVERAM PROMOÇÃO DE DESCONTO
								 AND PDI.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --brinde
								 AND PDI.CD_EST_SITUACAO <> 19 -- NÃO PODEMOS INCLUIR OS PRODUTOS PENDENTES DE PRODUÇÃO (CONCEITO DE ENCOMENDA)
								 AND PD.CD_CENTRO_DISTRIBUICAO = @v_codigoCD
								 AND PDI.CD_MATERIAL = @v_codigoMaterial ) c
				END

			IF @v_idMomentoFaturamento = 2 -- BAIXA O EMPENHO SÓ APÓS A CONFERÊNCIA
				BEGIN
					-- BUSCA A QUANTIDADE EMPENHADA NOS PEDIDOS
					select @v_qtdeEmpenhadaPedido = isnull(sum(c.qtd_empenhada),0)
					from (
							SELECT SUM(pdi.QT_RESERVADA) QTD_EMPENHADA
								FROM TB_PEDIDO pd WITH(NOLOCK), 
									TB_PEDIDO_ITEM pdi WITH(NOLOCK), 
									TB_MATERIAL M WITH(NOLOCK)
								 WHERE pd.NM_PEDIDO = pdi.NM_PEDIDO 
								 AND pdi.CD_MATERIAL = m.CD_MATERIAL
								 AND pd.CD_EST_SITUACAO IN (1,100,101,2,4,99,5,6)
								 and pd.ID_MOVIMENTA_ESTOQUE = 1 
								 AND PD.CD_CENTRO_DISTRIBUICAO = @v_codigoCD
								 AND PDI.CD_MATERIAL = @v_codigoMaterial
								 AND PDI.CD_EST_SITUACAO <> 19 -- NÃO PODEMOS INCLUIR OS PRODUTOS PENDENTES DE PRODUÇÃO (CONCEITO DE ENCOMENDA)
							union
							SELECT  SUM(pdi.QT_RESERVADA) QTD_EMPENHADA
								FROM TB_PEDIDO pd WITH(NOLOCK), 
									TB_PEDIDO_ITEM_promocao pdi WITH(NOLOCK), 
									TB_MATERIAL M WITH(NOLOCK)
								 WHERE pd.NM_PEDIDO = pdi.NM_PEDIDO 
								 AND pdi.CD_MATERIAL = m.CD_MATERIAL
								 AND pd.CD_EST_SITUACAO IN (1,100,101,2,4,99,5,6) 
								 and pd.ID_MOVIMENTA_ESTOQUE = 1
								 -- NAO RETIRAR A LINHA ABAIXO POIS CASO CONTRARIO O SISTEMA VAI DOBRAR OS EMPENHOS NO CASO DE PRODUTOS 
								 -- QUE TIVERAM PROMOÇÃO DE DESCONTO
								 AND PDI.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --brinde
								 AND PDI.CD_EST_SITUACAO <> 19 -- NÃO PODEMOS INCLUIR OS PRODUTOS PENDENTES DE PRODUÇÃO (CONCEITO DE ENCOMENDA)
								 AND PD.CD_CENTRO_DISTRIBUICAO = @v_codigoCD
								 AND PDI.CD_MATERIAL = @v_codigoMaterial ) c
				END

			IF @v_qtdeEmpenhadaPedido <> @v_qtdeEmpenhado
				BEGIN
					-- ALTERA O ESTOQUE
					UPDATE TB_ESTOQUE
  					SET QT_ESTOQUE_EMPENHADO = @v_qtdeEmpenhadaPedido
  					WHERE CD_MATERIAL          = @v_codigoMaterial
  					AND CD_CENTRO_DISTRIBUICAO = @v_codigoCD
					AND CD_ARMAZEM = @v_codigoArmazem
					
				END

			FETCH NEXT FROM @v_cursorEstoque 
			INTO @v_codigoMaterial, @v_codigoCD, @v_codigoArmazem, @v_qtdeEmpenhado, @v_idMomentoFaturamento
		END

END
GO
