SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_PRODUTO_VENDA_ESTRUTURA]
	@CD_EST_PRODUTO NUMERIC(18,0),
	@CD_PRODUTO_VENDA NUMERIC(18,0),
			
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@CD_ERRO INT OUTPUT, -- 0 SEM ERRO / 1 ERRO DE VALIDAÇÃO / 2 EERO DE SISTEMA
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

DECLARE @QT_VALIDACAO AS INT

BEGIN TRY
	

		SELECT @QT_LINHAS_AFETADAS = 0
	    SELECT @CD_ERRO = 0
		SELECT @DC_ERRO = ''
	    
	    -- *************************************************************************
	    -- PRIMEIRA VALIDAÇÃO - SÓ PODEMOS INSERIR PARA ESTRUTURAS DE ULTIMO NIVEL
	    -- *************************************************************************
	    IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				
				SELECT @QT_VALIDACAO = COUNT(*)
				FROM TB_EST_PRODUTO
				WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
				AND ID_ULTIMO_NIVEL = 1
				
				IF @QT_VALIDACAO = 0 
					BEGIN
					
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'A estrutura de produto deverá ser de último nível'
						RETURN
					
					END
				
			END
			
		
		-- *************************************************************************
	    -- SEGUNDA VALIDAÇÃO - SÓ PODEMOS INSERIR PARA ESTRUTURAS ATIVAS
	    -- *************************************************************************
	    IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				
				SELECT @QT_VALIDACAO = 0
				
				SELECT @QT_VALIDACAO = COUNT(*)
				FROM TB_EST_PRODUTO
				WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
				AND ID_ATIVO = 1
				
				IF @QT_VALIDACAO = 0 
					BEGIN
					
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'A estrutura de produto deverá estar ativa'
						RETURN
					
					END
				
			END
	    	    

		-- *************************************************************************
	    -- TERCEIRA VALIDAÇÃO - NAO PODEMOS INSERIR O MESMO PRODUTO NA MESMA ESTRUTURA
	    -- *************************************************************************
	    IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				
				SELECT @QT_VALIDACAO = 0
				
				SELECT @QT_VALIDACAO = COUNT(*)
				FROM TB_PRODUTO_VENDA_ESTRUTURA
				WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
				AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
								
				IF @QT_VALIDACAO > 0 
					BEGIN
					
						SELECT @CD_ERRO = 1
						SELECT @DC_ERRO = 'O produto de venda já esta associado na estrutura de produto'
						RETURN
					
					END
				
			END



		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PRODUTO_VENDA_ESTRUTURA (
					CD_EST_PRODUTO,
					CD_PRODUTO_VENDA,
					CD_USUARIO_CADASTRO,
					DT_CADASTRO)
				 						
						
				VALUES           (
					@CD_EST_PRODUTO,
					@CD_PRODUTO_VENDA,
					@CD_USUARIO,
					GETDATE()
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_PRODUTO_VENDA_ESTRUTURA 
					WHERE CD_EST_PRODUTO = @CD_EST_PRODUTO
					AND  CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
	
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
