SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_FR]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO
ID_Evento = 7 - FIM DIA = BONIFICAÇÃO
*************************************************************************/

DECLARE	@VL_TABELA_TOTAL		NUMERIC(18,2),
        @EXISTE_REGISTRO                NUMERIC(18,0),
        @VL_PONTOS_TOTAL                NUMERIC(18,2),
        @QD_KIT                         INT,
        @CD_PAPEL_INICIO_LIDERANCA      INT,
        @CD_CLIENTE                     NUMERIC(18,0),
        @CALCULA_INDICADOR		INT
DECLARE @VL_INDICADOR_PESSOAL_60        NUMERIC(18,2),           
        @VL_INDICADOR_PESSOAL_61        NUMERIC(18,2)
	

BEGIN TRY

  SELECT @QT_LINHAS_AFETADAS = 0
  /*******************************************************
                   FIM DIA
  *******************************************************/
  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

  -- *******************************
  -- SPATZ / TERRALI / FROW
  -- *******************************
  IF @CD_CLIENTE in (14,13, 12)
  BEGIN 

    IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
    BEGIN

      --******************************************************************************
      -- GRAVA INDICADOR DE " Adquiriu o Kit Revendedor"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(55, @ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- VERIFICA O TOTAL DE PONTOS PESSOAL
	SELECT  @QD_KIT  = isnull(MAX(B.CD_PRODUTO_VENDA),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_PESSOA              = @CD_PESSOA 
	AND A.CD_FUNCAO                = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO                = B.NM_PEDIDO
	AND B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND B.CD_PRODUTO_VENDA         = 1    -- PRECISA DEFINIR O CÓDIGO DO KIT REVENDEDOR
	AND B.NM_PEDIDO_ITEM_CONJUNTO  = 0	


	IF  @QD_KIT > 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 55
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
   	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						55,
		 			        @QD_KIT,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
          ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						55,
						@QD_KIT,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
         


          END
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Adquiriu o Kit Modelo Book"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(56,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- VERIFICA O TOTAL DE PONTOS PESSOAL
	SELECT  @QD_KIT  = isnull(MAX(B.CD_PRODUTO_VENDA),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_PESSOA              = @CD_PESSOA 
	AND A.CD_FUNCAO                = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
        AND B.CD_PRODUTO_VENDA        = 2    -- PRECISA DEFINIR O CÓDIGO DO KIT MODELO BOOK
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	

	IF  @QD_KIT   > 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 56
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
   	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						56,
		 			        @QD_KIT,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
          ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						56,
						@QD_KIT,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
         
          END
   	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Adquiriu o Kit Elite"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(57,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- VERIFICA O TOTAL DE PONTOS PESSOAL
	SELECT @QD_KIT = isnull(MAX(B.CD_PRODUTO_VENDA),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_PESSOA              = @CD_PESSOA 
	AND A.CD_FUNCAO                = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO       = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
        AND B.CD_PRODUTO_VENDA        IN (3,4,5)     -- PRECISA DEFINIR OS CÓDIGOS DOS KITs ELITE
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	

	IF @QD_KIT > 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 57
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
   	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						57,
		 			        @QD_KIT,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
          ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						57,
						@QD_KIT,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
         


          END
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Maior Kit Adquirido em Qualquer Ciclo"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(58,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- VERIFICA O TOTAL DE PONTOS PESSOAL
	SELECT @QD_KIT = isnull(MAX(B.CD_PRODUTO_VENDA),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_PESSOA              = @CD_PESSOA 
	AND A.CD_FUNCAO                = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO      <= @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
        AND B.CD_PRODUTO_VENDA        in (1,2,3,4,5)   -- PRECISA DEFINIR O CÓDIGO DOS KITs REVENDEDOR / MODELO BOOK / ELITE
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	

	IF @QD_KIT > 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 58
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
   	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						58,
		 			        @QD_KIT,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
          ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						58,
						@QD_KIT,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
         


          END
   	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Volume Pontos Pessoal c\ Kit"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(59,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- VERIFICA O TOTAL DE PONTOS PESSOAL INCLUINDO KIT
	SELECT @VL_PONTOS_TOTAL= isnull(SUM(B.VL_CREDITO_TOTAL),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_PESSOA            = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	


	IF @VL_PONTOS_TOTAL > 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 59
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
   	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						59,
		 			        @VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
          ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						59,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Volume Pontos LD Kit Início"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(60,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE PONTOS DOS KITs INICIO
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_KIT_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,1) -- LADO DIREITO

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 60
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						60,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						60,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Volume Pontos LE Kit Início"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(61,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE PONTOS DOS KITs INICIO
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_KIT_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,2) -- LADO ESQUERDO

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 61
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						61,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						61,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE "Volume Pontos Lado Menor Kit Inicio"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(62,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        -- BUSCA VALOR DOS PONTOS DO LADO DIREITO
        SELECT @VL_INDICADOR_PESSOAL_60 = isnull(sum(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 60
        AND NM_CICLO           = @NM_CICLO
	AND CD_EST_COMERCIAL   = @CD_EST_COMERCIAL 

        -- BUSCA VALOR DOS PONTOS DO LADO ESQUERDO
        SELECT @VL_INDICADOR_PESSOAL_61 = isnull(sum(VL_INDICADOR_PESSOAL),0)
        FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 61
        AND NM_CICLO           = @NM_CICLO
	AND CD_EST_COMERCIAL   = @CD_EST_COMERCIAL 

        IF (@VL_INDICADOR_PESSOAL_60  < @VL_INDICADOR_PESSOAL_61)
        BEGIN
          SELECT @VL_TABELA_TOTAL = @VL_INDICADOR_PESSOAL_60
        END
        ELSE 
        BEGIN
          SELECT @VL_TABELA_TOTAL = @VL_INDICADOR_PESSOAL_61
        END

        -- SÓ TEM DIREITO AO BÔNUS SE OS DOIS LADOS FOREM MAIOR QUE 0
        IF (@VL_INDICADOR_PESSOAL_60 = 0 OR @VL_INDICADOR_PESSOAL_61 = 0)
        BEGIN
          SELECT @VL_TABELA_TOTAL = 0 
        END
	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 62
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						62,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						62,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE "LD Ativo"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(63,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA SE O LADO ESTA ATIVO
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_LADO_ATIVO_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,1) -- LADO DIREITO

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 63
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						63,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						63,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE "LE Ativo"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(64,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA SE O LADO ESTA ATIVO
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_LADO_ATIVO_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL,2) -- LADO ESQUERDO

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 64
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						64,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						64,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de Qualificados Diretos"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(65,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE QUALIFICADOS DIRETOS COMO AGENTE OU SUPERIOR
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_QUALIFICADOS_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 2)  -- PAPEL "AGENTE" 

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 65
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						65,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						65,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de Qualificados Diretos Agente Diamante"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(66,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE QUALIFICADOS DIRETOS COMO AGENTE DIAMANTE OU SUPERIOR
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_QUALIFICADOS_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 6)  -- PAPEL "AGENTE DIAMANTE" 

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 66
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						66,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						66,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de Qualificados Diretos Manager Stars"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(67,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE QUALIFICADOS DIRETOS COMO MANAGER STARS OU SUPERIOR
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_QUALIFICADOS_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 7)  -- PAPEL "MANAGER STARS" 

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 67
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						67,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						67,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de Qualificados Diretos Manager 3 Stars"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(68,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE QUALIFICADOS DIRETOS COMO MANAGER 3 STARS OU SUPERIOR
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_QUALIFICADOS_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 9)  -- PAPEL "MANAGER 3 STARS" 

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 68
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						68,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						68,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Volume Pontos Total c\ Kit"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(69,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE PONTOS INCLUINDO KIT
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_PONTOS_TOTAL_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 0)  -- COM KIT
	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 69
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						69,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						69,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Volume Pontos Pessoal s\ Kit"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(70,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- VERIFICA O TOTAL DE PONTOS PESSOAL NAO INCLUINDO KIT
	SELECT @VL_PONTOS_TOTAL= isnull(SUM(B.VL_CREDITO_TOTAL),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_PESSOA            = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
        AND B.CD_PRODUTO_VENDA     NOT IN (1,2,3,4,5) -- SEM CONSIDERAR KITs  ======= PRECISA DEFINIR OS CODIGOS
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	


	IF @VL_PONTOS_TOTAL > 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 70
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
   	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						70,
		 			        @VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
          ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						70,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR  DE "Volume Pontos Total S\ Kit"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(71,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE PONTOS NAO INCLUINDO KIT
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_PONTOS_TOTAL_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@CD_EST_COMERCIAL, 1) --  SEM KIT

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 71
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						71,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						71,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Total de Ativos Diretos"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(72,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE PONTOS NAO INCLUINDO KIT
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_ATIVOS_DIRETOS_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO, @CD_EST_COMERCIAL)

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 72
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						72,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						72,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR  DE "Volume Pontos Lado Maior Diretos"
      --******************************************************************************/
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(73,@ID_MOMENTO_CALCULO_INDICADOR)
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	-- VERIFICA O TOTAL DE PONTOS NAO INCLUINDO KIT
	SELECT @VL_TABELA_TOTAL  = dbo.FN_MN_CALCULA_PONTUACAO_LADO_MAIOR_DIRETOS_FR (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO, @CD_EST_COMERCIAL)

	IF @VL_TABELA_TOTAL > 0 
 	BEGIN 
	  --VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 73
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
						   
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						73,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						73,
						@VL_TABELA_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	  END
	END
      END

      --******************************************************************************
      -- GRAVA INDICADOR DE "Volume Pontos Consumidor Final pelo EV"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(74,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- VERIFICA O TOTAL DE PONTOS PESSOAL NAO INCLUINDO KIT
	SELECT @VL_PONTOS_TOTAL= isnull(SUM(B.VL_CREDITO_TOTAL),0)
	FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
	WHERE A.CD_RV_INDICANTE       = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO		
	AND A.CD_EST_COMERCIAL        = @CD_EST_COMERCIAL
	AND A.NM_CICLO_PAGAMENTO      = @NM_CICLO
	AND A.NM_CICLO_CANCELAMENTO  IS NULL     -- SOMENTE PEDIDO PAGOS, NÃO CANCELADO
	AND A.NM_PEDIDO               = B.NM_PEDIDO
	AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	AND B.ID_GERA_GRADUACAO       = 1 -- GERA GRADUACAO O PRODUTO
	AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	


	IF @VL_PONTOS_TOTAL > 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 74
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
   	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						74,
		 			        @VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
          ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						74,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END


      --******************************************************************************
      -- GRAVA INDICADOR DE "Quantidade de Ciclos Qualificado Top Frow"
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(75,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        -- VERIFICA O TOTAL DE PONTOS PESSOAL NAO INCLUINDO KIT
	SELECT @VL_PONTOS_TOTAL= isnull(COUNT(A.CD_PESSOA),0)
	FROM TB_PESSOA_PAPEL_HISTORICO A
	WHERE A.CD_PESSOA       = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO		
        AND A.CD_PAPEL_DESEMPENHO  = 12
        AND A.NM_CICLO            <= @NM_CICLO


	IF @VL_PONTOS_TOTAL > 0 
	BEGIN 
	  -- VERIFICA SE EXISTE O REGISTRO
	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 75
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0) 
	  BEGIN
   	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						75,
		 			        @VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	  END
          ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						75,
						@VL_PONTOS_TOTAL,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
          END
   	END
      END



    END -- fim EVENTO = 6

  END -- fim SPATZ / TERRALI / FROW		
			
  SELECT @VAR_RETORNO = 0	
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
