SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNPessoaAtualizaAtivacaoAkmos]
    @NM_PEDIDO            NUMERIC(18,0),
	@CD_PESSOA            NUMERIC(18,0),
	@CD_FUNCAO            NUMERIC(18,0),
	@NM_CICLO             NUMERIC(18,0),
	@ID_TIPO_MOVIMENTO    INT,
	@VL_PONTOS            NUMERIC(18,2),
	@p_codigoErro	      INT OUTPUT,
	@p_descErro	      NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas INT OUTPUT


/* REGRAS ESTAO NO DOCUMENTO "REGRAS LUCRATIVIDADE.DOC"
  1 - ATUALIZA AS INFORMACOES DE ATIVACAO - STATUS / QUALIFICACAO E BONIFICACAO ATRAVES INDICADOR
*/
	

AS

DECLARE @CD_PAPEL_CARREIRA   NUMERIC(18,0),
		@CD_PAPEL_DESEMPENHO NUMERIC(18,0),
        @CD_EST_COMERCIAL    NUMERIC(18,0),
        @VL_PONTOS_ATUAL     NUMERIC(18,2),
		@MAX_DT_EXPIRACAO    DATETIME,
        @VL_CONTADOR         NUMERIC(18,0),
        @NM_CICLO_ATUAL      NUMERIC(18,0),
		@CURSOR_PEDIDO       CURSOR,
        @C_CD_PESSOA_PONTO_HISTORICO NUMERIC (18,0),
        @C_NM_PEDIDO                 NUMERIC (18,0), 
        @C_VL_MOVIMENTO              NUMERIC (18,2), 
        @C_DT_MOVIMENTO              DATETIME,
        @C_DT_EXPIRACAO              DATETIME,
        @PONTO_HISTORICO             NUMERIC(18,0)

        


BEGIN TRY

  SELECT @p_qtdeLinhasAfetadas = 0
  BEGIN

    -- BUSCA A ESTRUTURA COMERCIAL
    SELECT @CD_EST_COMERCIAL = CD_EST_COMERCIAL
    FROM TB_PESSOA_RESUMO
    WHERE CD_PESSOA = @CD_PESSOA
    AND   CD_FUNCAO = @CD_FUNCAO

    IF (@ID_TIPO_MOVIMENTO = 1)  -- CREDITO
    BEGIN

      -- BUSCA OS PAPEIS CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
			 @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_PAPEL_HISTORICO
      WHERE CD_PESSOA = @CD_PESSOA
      AND   CD_FUNCAO = @CD_FUNCAO
      AND   NM_CICLO  = @NM_CICLO

      IF  (@CD_PAPEL_DESEMPENHO = 1   AND  @VL_PONTOS >= 100)
      BEGIN
        -- ATUALIZA O PAPEL
		UPDATE TB_PESSOA_RESUMO
		SET  CD_PAPEL_CARREIRA   = 2
			,CD_PAPEL_DESEMPENHO = 2
			,DT_ATUALIZACAO      = GETDATE()
			,CD_USUARIO_ATUALIZACAO = 0
		WHERE CD_PESSOA         = @CD_PESSOA
		AND   CD_FUNCAO         = @CD_FUNCAO
   
        -- ATUALIZA O PAPEL HISTORICO
		UPDATE TB_PESSOA_PAPEL_HISTORICO 
		SET  CD_PAPEL_CARREIRA   = 2
			,CD_PAPEL_DESEMPENHO = 2 
		WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO

        -- INSERE PAPEL HISTORICO
        INSERT INTO TB_PESSOA_PAPEL_HIST_DATA (DT_CADASTRO,CD_PESSOA,CD_FUNCAO,NM_CICLO,CD_PAPEL_DESEMPENHO)
		VALUES (GETDATE(),@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,2)

        -- ATUALIZA OS PONTOS DO PEDIDO
        INSERT INTO TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO (
             CD_PESSOA,CD_FUNCAO,NM_PEDIDO,VL_MOVIMENTO,DT_MOVIMENTO,DT_EXPIRACAO,DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
        VALUES (@CD_PESSOA, @CD_FUNCAO, @NM_PEDIDO,@VL_PONTOS,GETDATE(),GETDATE(),GETDATE(),0,GETDATE(),0)

        -- ATUALIZA OS PONTOS DO PEDIDO E NOVA DATA DE EXPIRACAO
        INSERT INTO TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO  (
             CD_PESSOA,CD_FUNCAO,NM_PEDIDO,VL_MOVIMENTO,DT_MOVIMENTO,DT_EXPIRACAO,DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
        VALUES (@CD_PESSOA, @CD_FUNCAO, 0,(@VL_PONTOS*-1),GETDATE(),DATEADD (day,28,GETDATE()),GETDATE(),0,GETDATE(),0)

	-- CALCULA O INDICADOR DE ATIVACAO
	EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
				 @CD_PESSOA,
				 @CD_FUNCAO,
				 @CD_EST_COMERCIAL,
				 @NM_CICLO,
				 9,    --@ID_EVENTO
				 1,    --@ID_TIPO_ATUALIZACAO
				 2,    --@ID_MOMENTO_CALCULO_INDICADOR
				 0,
				 0 ,
				 '',
				 0
      END   


      IF (@CD_PAPEL_DESEMPENHO > 1)
      BEGIN

        -- BUSCA OS PONTOS ATUAIS E MAIOR DATA DE EXPIRACAO
	SELECT @VL_PONTOS_ATUAL  = (ISNULL(SUM(VL_MOVIMENTO),0) + @VL_PONTOS),
	       @MAX_DT_EXPIRACAO =  ISNULL(MAX(DT_EXPIRACAO),0)
        FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO
        WHERE CD_PESSOA = @CD_PESSOA
        AND   CD_FUNCAO = @CD_FUNCAO  

        -- ATUALIZA OS PONTOS DO PEDIDO
        INSERT INTO TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO (
             CD_PESSOA,CD_FUNCAO,NM_PEDIDO,VL_MOVIMENTO,DT_MOVIMENTO,DT_EXPIRACAO,DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
        VALUES (@CD_PESSOA, @CD_FUNCAO, @NM_PEDIDO,@VL_PONTOS,GETDATE(),@MAX_DT_EXPIRACAO,GETDATE(),0,GETDATE(),0)

       -- VERIFICA  SE RENOVA A ATIVACAO POR MAIS 28 DIAS
        IF  (     (@CD_PAPEL_DESEMPENHO IN (2,3,4)       AND @VL_PONTOS_ATUAL >= 50 )
               OR (@CD_PAPEL_DESEMPENHO IN (5,6)         AND @VL_PONTOS_ATUAL >= 100)
               OR (@CD_PAPEL_DESEMPENHO IN (7,8)         AND @VL_PONTOS_ATUAL >= 150)
               OR (@CD_PAPEL_DESEMPENHO IN (9,10,11,12)  AND @VL_PONTOS_ATUAL >= 200)
               OR (@CD_PAPEL_DESEMPENHO IN (13,14,15,16) AND @VL_PONTOS_ATUAL >= 300)
               OR (@CD_PAPEL_DESEMPENHO IN (17)          AND @VL_PONTOS_ATUAL >= 500)
            )
        BEGIN
          -- ATUALIZA OS PONTOS
          INSERT INTO TB_MN_PESSOA_PONTOS (
               --CD_PESSOA,CD_FUNCAO,NM_PEDIDO,VL_MOVIMENTO,DT_MOVIMENTO,DT_EXPIRACAO,DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
               CD_PESSOA,CD_FUNCAO,DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
          --VALUES (@CD_PESSOA, @CD_FUNCAO, 0,(@VL_PONTOS_ATUAL*-1),GETDATE(),DATEADD (day,28,GETDATE()),GETDATE(),0,GETDATE(),0)
          VALUES (@CD_PESSOA, @CD_FUNCAO, GETDATE(),0,GETDATE(),0)

	  -- CALCULA O INDICADOR DE ATIVACAO
	  EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
				 @CD_PESSOA,
				 @CD_FUNCAO,
				 @CD_EST_COMERCIAL,
				 @NM_CICLO,
				 9,    --@ID_EVENTO
				 1,    --@ID_TIPO_ATUALIZACAO
				 2,    --@ID_MOMENTO_CALCULO_INDICADOR
				 0,
				 0 ,
				 '',
				 0


        END
      END  
    END
      

    IF (@ID_TIPO_MOVIMENTO = 2)  -- DEBITO
    BEGIN

     -- BUSCA A SEQUENCIA DO PEDIDO QUE FOI CANCELADO
      SELECT @PONTO_HISTORICO = CD_PESSOA_PONTO_HISTORICO  
      FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO
      WHERE CD_PESSOA = @CD_PESSOA
      AND   CD_FUNCAO = @CD_FUNCAO
      AND   NM_PEDIDO = @NM_PEDIDO

      -- VERIFICA SE E 1o PEDIDO COM MAIS DE 100 PONTOS ANTERIOR AO PEDIDO CANCELADO
      SELECT @VL_CONTADOR = COUNT(*)
      FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO A
      WHERE CD_PESSOA                 = @CD_PESSOA
      AND   CD_FUNCAO                 = @CD_FUNCAO
      AND   CD_PESSOA_PONTO_HISTORICO < @PONTO_HISTORICO 

      IF (@CD_PAPEL_DESEMPENHO = 2 AND @VL_PONTOS >= 100) 
      BEGIN
        IF (@VL_CONTADOR = 0)
        BEGIN
          SELECT @NM_CICLO_ATUAL = NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND   CD_FUNCAO = @CD_FUNCAO

          -- ATUALIZA O PAPEL
  	  UPDATE TB_PESSOA_RESUMO
	  SET  CD_PAPEL_CARREIRA   = 1
              ,CD_PAPEL_DESEMPENHO = 1
	      ,DT_ATUALIZACAO      = GETDATE()
	      ,CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA         = @CD_PESSOA
	  AND   CD_FUNCAO         = @CD_FUNCAO
   
          -- ATUALIZA O PAPEL HISTORICO
	  UPDATE TB_PESSOA_PAPEL_HISTORICO 
	  SET  CD_PAPEL_CARREIRA   = 1
              ,CD_PAPEL_DESEMPENHO = 1 
	  WHERE CD_PESSOA = @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO_ATUAL

          -- INSERE PAPEL HISTORICO
          INSERT INTO TB_PESSOA_PAPEL_HIST_DATA (DT_CADASTRO,CD_PESSOA,CD_FUNCAO,NM_CICLO,CD_PAPEL_DESEMPENHO)
	  	VALUES (GETDATE(),@CD_PESSOA,@CD_FUNCAO,@NM_CICLO_ATUAL,1)

          -- DELETE OS REGISTRO DA TABELA
	  DELETE TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO
	  WHERE CD_PESSOA =  @CD_PESSOA
	  AND   CD_FUNCAO =  @CD_FUNCAO

          -- CALCULA O INDICADOR DE ATIVACAO
          EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
				 @CD_PESSOA,
				 @CD_FUNCAO,
				 @CD_EST_COMERCIAL,
				 @NM_CICLO,
				 9,    --@ID_EVENTO
				 1,    --@ID_TIPO_ATUALIZACAO
				 2,    --@ID_MOMENTO_CALCULO_INDICADOR
				 0,
				 0 ,
				 '',
				 0

  
        END 
      END  

      IF (@VL_CONTADOR > 0)
      BEGIN

        -- QUARDAR OS REGISTROS FUTUROS DA PESSOA
	DELETE      TB_WRK_MN_PESSOA_PONTO_HISTORICO_ATIVACAO
        INSERT INTO TB_WRK_MN_PESSOA_PONTO_HISTORICO_ATIVACAO
        SELECT A.NM_PEDIDO, A.VL_MOVIMENTO, A.DT_MOVIMENTO, A.DT_EXPIRACAO
        FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO  A
        WHERE A.CD_PESSOA_PONTO_HISTORICO > @PONTO_HISTORICO
        AND   A.CD_PESSOA                 = @CD_PESSOA
        AND   A.CD_FUNCAO                 = @CD_FUNCAO
        AND   A.NM_PEDIDO                 > 0
        ORDER BY  1

        -- LIMPAR OS PEDIDO PARA FRENTE DA PESSOA
	DELETE TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO 
	WHERE CD_PESSOA_PONTO_HISTORICO >= @PONTO_HISTORICO
        AND   CD_PESSOA                  = @CD_PESSOA
        AND   CD_FUNCAO                  = @CD_FUNCAO

        -- BUSCA OS PEDIDO PARA FRENTE
        SET @CURSOR_PEDIDO = CURSOR FAST_FORWARD
        FOR SELECT A.CD_PESSOA_PONTO_HISTORICO, A.NM_PEDIDO, A.VL_MOVIMENTO, A.DT_MOVIMENTO, A.DT_EXPIRACAO
        FROM TB_WRK_MN_PESSOA_PONTO_HISTORICO_ATIVACAO  A
	ORDER BY  1

        OPEN @CURSOR_PEDIDO
        FETCH NEXT FROM @CURSOR_PEDIDO
        INTO @C_CD_PESSOA_PONTO_HISTORICO,@C_NM_PEDIDO,@C_VL_MOVIMENTO,@C_DT_MOVIMENTO,@C_DT_EXPIRACAO

        WHILE @@FETCH_STATUS = 0
        BEGIN  

          -- BUSCA OS PONTOS ATUAIS E MAIOR DATA DE EXPIRACAO
	  SELECT @VL_PONTOS_ATUAL  = (ISNULL(SUM(VL_MOVIMENTO),0) + @C_VL_MOVIMENTO),
	         @MAX_DT_EXPIRACAO = ISNULL(MAX(DT_EXPIRACAO),0)
          FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO
          WHERE CD_PESSOA = @CD_PESSOA
          AND   CD_FUNCAO = @CD_FUNCAO  

          -- ATUALIZA OS PONTOS DO PEDIDO
          INSERT INTO TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO (
                  CD_PESSOA,  CD_FUNCAO,  NM_PEDIDO,   VL_MOVIMENTO,   DT_MOVIMENTO,   DT_EXPIRACAO     ,   DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
          VALUES (@CD_PESSOA, @CD_FUNCAO, @C_NM_PEDIDO,@C_VL_MOVIMENTO,@C_DT_MOVIMENTO,@MAX_DT_EXPIRACAO,GETDATE(),0,GETDATE(),0)

          -- VERIFICA  SE RENOVA A ATIVACAO POR MAIS 28 DIAS
          IF  (     (@CD_PAPEL_DESEMPENHO IN (2,3,4)       AND @VL_PONTOS_ATUAL >= 50 )
                 OR (@CD_PAPEL_DESEMPENHO IN (5,6)         AND @VL_PONTOS_ATUAL >= 100)
                 OR (@CD_PAPEL_DESEMPENHO IN (7,8)         AND @VL_PONTOS_ATUAL >= 150)
                 OR (@CD_PAPEL_DESEMPENHO IN (9,10,11,12)  AND @VL_PONTOS_ATUAL >= 200)
                 OR (@CD_PAPEL_DESEMPENHO IN (13,14,15,16) AND @VL_PONTOS_ATUAL >= 300)
                 OR (@CD_PAPEL_DESEMPENHO IN (17)          AND @VL_PONTOS_ATUAL >= 500)
              )
          BEGIN
            -- ATUALIZA OS PONTOS
            INSERT INTO TB_MN_PESSOA_PONTOS (
                 --CD_PESSOA,     CD_FUNCAO,  NM_PEDIDO,VL_MOVIMENTO,        DT_MOVIMENTO,    DT_EXPIRACAO,DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
				 CD_PESSOA,     CD_FUNCAO,  DT_CADASTRO,CD_USUARIO_CADASTRO,DT_ATUALIZACAO,CD_USUARIO_ATUALIZACAO)             
            --VALUES (@CD_PESSOA, @CD_FUNCAO, 0,       (@VL_PONTOS_ATUAL*-1),@C_DT_MOVIMENTO,DATEADD (day,28,@C_DT_MOVIMENTO),GETDATE(),0,GETDATE(),0)
            VALUES (@CD_PESSOA, @CD_FUNCAO, GETDATE(),0,GETDATE(),0)


          END

          FETCH NEXT FROM @CURSOR_PEDIDO
          INTO @C_CD_PESSOA_PONTO_HISTORICO,@C_NM_PEDIDO,@C_VL_MOVIMENTO,@C_DT_MOVIMENTO,@C_DT_EXPIRACAO
        END
        CLOSE       @CURSOR_PEDIDO
        DEALLOCATE  @CURSOR_PEDIDO
        -- CALCULA O INDICADOR DE ATIVACAO
        EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
				 @CD_PESSOA,
				 @CD_FUNCAO,
				 @CD_EST_COMERCIAL,
				 @NM_CICLO,
				 9,    --@ID_EVENTO
				 1,    --@ID_TIPO_ATUALIZACAO
				 2,    --@ID_MOMENTO_CALCULO_INDICADOR
				 0,
				 0 ,
				 '',
				 0


      END

    END


  END


  SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
		
  SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
