SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaDesativaConsultora]
	@p_codigoPessoa			numeric(18,0),
	@p_codigoFuncao			int,
	@p_codigoUsuario		numeric(18,0),
	@p_dcMotivoDesativacao	varchar(max),

	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output

AS

DECLARE @NM_CICLO_ATUAL AS NUMERIC(18,0),
		@v_codPapelCarreiraBase as numeric(18,0),
		@v_codPapelDesempBase	as numeric(18,0),
		@v_codCliente		as numeric(18,0)

DECLARE 	@v_descUsuario		VARCHAR(18)

DECLARE		@v_qtdePedidosAbertos INT

BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	-- *******************************************************************
	-- VERIFICA O CICLO EM QUE A PESSOA ESTA DESATIVADA
	-- *******************************************************************
	SELECT @NM_CICLO_ATUAL = NM_CICLO_ATUAL
	FROM TB_PESSOA_RESUMO with (nolock)
	WHERE CD_PESSOA = @p_codigoPessoa
	AND CD_FUNCAO = @p_codigoFuncao
	

	-- *************************************************************************************************************
	-- ALTERADO POR ALDIR DIA 22/09/2023
	-- NÃO PERMITIR DESATIVAR A PESSOA SE ESTIVER COM PEDIDOS :Em captação, Em Edição, Salvo, Abandonado ou Pendente
	-- *************************************************************************************************************
	SELECT @v_qtdePedidosAbertos = COUNT(*)
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE CD_PESSOA       = @p_codigoPessoa	
	AND NM_CICLO_CAPTACAO = @NM_CICLO_ATUAL
	AND CD_EST_SITUACAO  IN (1,100,101,99,4)  --  Em captação, Em Edição, Salvo, Abandonado ou Pendente

	IF @v_qtdePedidosAbertos >= 1
	begin
		SELECT @p_codigoErro = 1
		SELECT @p_descricaoErro = 'Pessoa com pedido(s) não finalizado(s), este(s) pedido(s) precisam ser finalizados ou cancelados.'
					--Esta pessoa possui pedidos em aberto, não poderá ser desativada. Verifique os pedidos e realize o seu cancelamento ou sua aprovação.
		RETURN
	end

	-- *******************************************************************
	-- PRECISAMOS COLOCAR O PAPEL BASE QUANDO A PESSOA É DESATIVADA
	-- *******************************************************************
	--select @v_codPapelCarreiraBase = CD_PAPEL_CARREIRA 
	--  from TB_PAPEL_CARREIRA 
	-- where cd_funcao = @p_codigoFuncao and NM_SEQUENCIA = 1
	
	--select @v_codPapelDesempBase = CD_PAPEL_DESEMPENHO 
	--  from TB_PAPEL_DESEMPENHO 
	-- where cd_funcao = @p_codigoFuncao and NM_SEQUENCIA = 1

	-- ********************************************************************
	-- ALTERAÇÃO POR DIEGO ZILIOTI EM 08/03/2019
	-- TEMOS QUE REMOVER OS ACESSOS AO SISTEMA QUANDO A PESSOA É DESATIVADA
	-- ********************************************************************
	BEGIN TRANSACTION
	UPDATE TB_PESSOA_RESUMO
	SET CD_SITUACAO_COMERCIAL = 4,
		--CD_PAPEL_CARREIRA = @v_codPapelCarreiraBase,
		--CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase,
		ID_ACESSA_LOJA_VIRTUAL = 2,
		ID_ACESSA_SISTEMA = 2,
		DT_ATUALIZACAO = GETDATE()
	WHERE CD_FUNCAO = @p_codigoFuncao
	AND CD_PESSOA = @p_codigoPessoa
	COMMIT TRANSACTION

	--UPDATE TB_PESSOA_PAPEL_HISTORICO
	--   SET CD_PAPEL_CARREIRA = @v_codPapelCarreiraBase,
	--	   CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase
	-- WHERE CD_PESSOA = @p_codigoPessoa
	 --  AND NM_CICLO = @NM_CICLO_ATUAL
	 --  AND CD_FUNCAO = @p_codigoFuncao

	--UPDATE TB_PESSOA_PAPEL_HIST_DATA
	--   SET CD_PAPEL_DESEMPENHO = @v_codPapelDesempBase
	-- WHERE CD_PESSOA = @p_codigoPessoa
	--   AND NM_CICLO = @NM_CICLO_ATUAL
	 --  AND CD_FUNCAO = @p_codigoFuncao

	-- *************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - DIA 05/02/2020
	-- AO INSERIR NA TB_PESSOA_PAPEL_HIST_DATA VAMOS A CHAMAR A PROC ABAIXO
	-- PARA GRAVAR O HISTORICO POR DATA COMPLETO		
	-- *************************************************************************
	
	--EXEC SP_CAD_PESSOA_PAPEL_HISTORICO_COMPLETO
	--	@p_codigoPessoa,
	--	@p_codigoFuncao,
	--	@v_codPapelDesempBase,		--@CD_PAPEL_DESEMPENHO,
	--	0,							--@CD_PAPEL_CARREIRA
	--	0,							--@VAR_RETORNO				INT OUTPUT,
	--	'',							--@DC_ERRO					NVARCHAR(MAX) OUTPUT,
	--	0							--@QT_LINHAS_AFETADAS			INT OUTPUT
	
	-- *************************************************************************
	-- FIM		
	-- *************************************************************************

	BEGIN TRANSACTION
	UPDATE TB_HIST_SITUACAO_CONSULTORA
	SET CD_SITUACAO_COMERCIAL = 4,
		CD_SITUACAO_COMERCIAL_DETALHE = 400,
		DT_DESATIVACAO = GETDATE(),
		CD_USUARIO_DESATIVACAO = @p_codigoUsuario,
		DC_MOTIVO_DESATIVACAO = @p_dcMotivoDesativacao
	WHERE CD_PESSOA = @p_codigoPessoa
	AND NM_CICLO = @NM_CICLO_ATUAL
	COMMIT TRANSACTION

        BEGIN TRANSACTION
	  DELETE TB_PESSOA_INDICADOR
	  WHERE CD_PESSOA = @p_codigoPessoa
	  AND   CD_FUNCAO = @p_codigoFuncao
	  AND   NM_CICLO  = @NM_CICLO_ATUAL
	COMMIT TRANSACTION

	-- ***************************************************
	-- TRATAMENTO PARA O MULTINÍVEL, PRECISAMOS CHAMAR A PARTE DE COMPRESSÃO DE REDE QUANDO UMA PESSOA É DESATIVADA
	-- ISTO IRÁ VARIAR DEPENDENDO DO CLIENTE
	-- POR ENQUANTO ISTO É UMA PENDÊNCIA QUE DEVERÁ SER VERIFICADA E DISCUTIDA
	-- ***************************************************
	--SELECT @v_codCliente = VL_PARAMETRO
	--FROM TB_VALOR_PARAMETRO with (nolock)
	--WHERE CD_GRUPO_PARAMETRO = 6
	--AND CD_PARAMETRO = 1
	--AND CD_VALOR_PARAMETRO  = 1


	-- ***********************************************************************
	-- INSERE O REGISTRO NA FILA DA API ATSVD
	-- A PROCEDURE IRÁ VALIDAR SE A FILA ESTÁ ATIVA E IRÁ INSERIR O REGISTRO
	-- ***********************************************************************
	SELECT @v_descUsuario = CONVERT(VARCHAR(18),@p_codigoUsuario)

	EXEC dbo.pr_ApiInsereItemFilaApi 1, --Código da fila de PESSOAS
					@p_codigoPessoa, -- PESSOA
					'A', --ALTERAÇÃO
					@v_descUsuario, --USUÁRIO
					0,
					'',
					0


		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
