SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CreditoInserirFaixaCredito]
	@p_codigoFaixaCredito		numeric(18, 0),
	@p_descricaoFaixaCredito	varchar(80),
	@p_codigoFuncao				NUMERIC(18,0),
	@p_codigoBaseCalculo		NUMERIC(18,0),
	@p_valorStepInicial			INT,
	@p_valorStepFinal			INT,
	@p_codigoIndicador			NUMERIC(18,0),
	@p_valorCredito				numeric(18,2),
	@p_idRestricaoCredito		INT,
		
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descricaoFuncao			VARCHAR(1),
		
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT

AS

BEGIN TRY

	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0
	
	IF @p_descricaoFuncao = 'I'
	
		BEGIN
			BEGIN TRANSACTION 
					
			IF (@p_valorStepInicial) = -1
				BEGIN
					SELECT @p_valorStepInicial = NULL
				END

			IF (@p_valorStepFinal) = -1
				BEGIN
					SELECT @p_valorStepFinal = NULL
				END				
				
			INSERT INTO TB_FAIXA_CREDITO (
				DC_FAIXA_CREDITO,
				CD_FUNCAO,
				ID_BASE_CALCULO_CREDITO,
				NM_STEP_INICIAL,
				NM_STEP_FINAL,
				CD_INDICADOR_PESSOAL,
				NM_CREDITO,
				ID_RESTRICAO_CREDITO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO)
			VALUES (
				@p_descricaoFaixaCredito,
				@p_codigoFuncao,
				@p_codigoBaseCalculo,
				@p_valorStepInicial,
				@p_valorStepFinal,
				@p_codigoIndicador,
				@p_valorCredito,
				@p_idRestricaoCredito,
				GETDATE(), 
				@p_codigoUsuario, 
				GETDATE(), 
				@p_codigoUsuario
					)
		
			SELECT @p_linhasAfetadas = @@ROWCOUNT
			
			COMMIT TRANSACTION
		END	
			
	IF @p_descricaoFuncao = 'A'
	
		BEGIN
			BEGIN TRANSACTION 
					
			UPDATE TB_FAIXA_CREDITO
			SET 
				DC_FAIXA_CREDITO = @p_descricaoFaixaCredito,
				CD_FUNCAO = @p_codigoFuncao,
				ID_BASE_CALCULO_CREDITO = @p_codigoBaseCalculo,
				NM_STEP_INICIAL = @p_valorStepInicial,
				NM_STEP_FINAL = @p_valorStepFinal,
				CD_INDICADOR_PESSOAL = @p_codigoIndicador,
				NM_CREDITO = @p_valorCredito,
				ID_RESTRICAO_CREDITO = @p_idRestricaoCredito,
				DT_ATUALIZACAO = GETDATE(),
				CD_USUARIO_ATUALIZACAO = @p_codigoUsuario
			WHERE CD_FAIXA_CREDITO = @p_codigoFaixaCredito
				
			SELECT @p_linhasAfetadas = @@ROWCOUNT
			
			COMMIT TRANSACTION
		END	

	IF @p_descricaoFuncao = 'E'
		BEGIN
				
			BEGIN TRANSACTION 
					
			DELETE FROM TB_FAIXA_CREDITO 
			WHERE CD_FAIXA_CREDITO = @p_codigoFaixaCredito
				
			SELECT @p_linhasAfetadas = @@ROWCOUNT
			
			COMMIT TRANSACTION
			
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
    SELECT @p_codigoErro = 1
    SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
