SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ListaValoresIndicadoresPessoaisMeta]
	@p_codigoPessoa		NUMERIC(18,0),
    @p_numeroCiclo		NUMERIC(18,0),
    @p_codigoFuncao		INT

AS

BEGIN
	SELECT I.CD_INDICADOR_PESSOAL "Indicador",
		   I.DC_INDICADOR_PESSOAL "Criterio",
		   IM.VL_INDICADOR_META "Meta",
		   PIN.VL_INDICADOR_PESSOAL,
		   CASE WHEN ((IM.VL_INDICADOR_META - PIN.VL_INDICADOR_PESSOAL) <= 0) THEN '<label style="color: green;">Meta Atingida</label>'
		   ELSE '<label style="color: orange;">' + CONVERT(VARCHAR,(IM.VL_INDICADOR_META - PIN.VL_INDICADOR_PESSOAL)) + '</label>' END "Quanto Falta"
	  FROM TB_INDICADOR_PESSOAL I, TB_PESSOA_INDICADOR PIN, TB_PESSOA_INDICADOR_META IM
	 WHERE I.CD_INDICADOR_PESSOAL = PIN.CD_INDICADOR_PESSOAL
	   AND IM.CD_INDICADOR = PIN.CD_INDICADOR_PESSOAL
	   AND I.ID_UTILIZA_META_PESSOAL = 1 -- SOMENTE INDICADORES QUE PERMITAM META PESSOAL
	   AND I.ID_MOSTRA_INDICADOR_TELA = 1 -- E QUE PERMITEM EXIBIR NA TELA
	   AND PIN.CD_PESSOA = @p_codigoPessoa
	   AND PIN.CD_FUNCAO = @p_codigoFuncao
	   AND PIN.NM_CICLO = @p_numeroCiclo
	   AND IM.NM_CICLO = PIN.NM_CICLO
	   AND IM.CD_PESSOA = PIN.CD_PESSOA    
  
END
GO
