SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[pr_RegraEnvioProdutoInsereRegraEnvioProduto]
	@p_codigoRegraEnvioProduto	NUMERIC(18,0),
	@p_descRegraEnvioProduto	VARCHAR(80),
	@p_codigoProdutoVenda		NUMERIC(18,0),
	@p_qtdeEnvioProduto			NUMERIC(18,0),
	@p_numeroCicloInicial		NUMERIC(18,0),
	@p_numeroCicloFinal			NUMERIC(18,0),
	@p_idFaturamentoProduto		int,
	@p_idEnvioObrigatorio		int,
	@p_idSituacaoRegraEnvioProduto int,
	@p_idPossuiKit				int,
	@p_codigoFuncao int,
	
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),
	
	@p_codigoRetorno			INT OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT,
	@p_codigoGerado				numeric(18,0) output

AS


BEGIN TRY
	

	    SELECT @p_qtdeLinhasAfetadas = 0
		IF @p_descAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_REGRA_ENVIO_PRODUTO (
					DC_REGRA_ENVIO_PRODUTO,
					CD_PRODUTO_VENDA,
					QT_ENVIO_PRODUTO,
					NM_CICLO_INICIAL,
					NM_CICLO_FINAL,
					ID_FATURAMENTO_PRODUTO,
					ID_ENVIO_OBRIGATORIO,
					ID_SITUACAO_REGRA_ENVIO_PRODUTO,
					CD_FUNCAO,
					ID_POSSUI_KIT
					)
						
				VALUES           (
					@p_descRegraEnvioProduto,
					@p_codigoProdutoVenda,
					@p_qtdeEnvioProduto,
					@p_numeroCicloInicial,
					@p_numeroCicloFinal,
					@p_idFaturamentoProduto,
					@p_idEnvioObrigatorio,
					@p_idSituacaoRegraEnvioProduto,
					@p_codigoFuncao,
					@p_idPossuiKit
					
					)
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_REGRA_ENVIO_PRODUTO')
			
				COMMIT TRANSACTION
			END
	
	
		IF @p_descAcao = 'A'
			BEGIN
				BEGIN TRANSACTION 

				UPDATE TB_REGRA_ENVIO_PRODUTO
				SET DC_REGRA_ENVIO_PRODUTO = @p_descRegraEnvioProduto,
					CD_PRODUTO_VENDA = @p_codigoProdutoVenda,
					QT_ENVIO_PRODUTO = @p_qtdeEnvioProduto,
					NM_CICLO_INICIAL = @p_numeroCicloInicial,
					NM_CICLO_FINAL = @p_numeroCicloFinal,
					ID_FATURAMENTO_PRODUTO = @p_idFaturamentoProduto,
					ID_ENVIO_OBRIGATORIO = @p_idEnvioObrigatorio,
					ID_SITUACAO_REGRA_ENVIO_PRODUTO = @p_idSituacaoRegraEnvioProduto,
					CD_FUNCAO = @p_codigoFuncao, ID_POSSUI_KIT = @p_idPossuiKit
				WHERE CD_REGRA_ENVIO_PRODUTO = @p_codigoRegraEnvioProduto
								
				
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	
		
		IF @p_descAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_REGRA_ENVIO_PRODUTO
				WHERE CD_REGRA_ENVIO_PRODUTO = @p_codigoRegraEnvioProduto
				
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END
				

		SELECT @p_codigoRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoRetorno = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
