SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorAtualizaStatusPedidoAntigo]
	@p_cdSeniorSituacaoPedido	NUMERIC(18,0),
	@p_nmPedido					NUMERIC(18,0),
	@p_nmPedidoExterno			VARCHAR(80),
	@p_dcStatusPedidoSenior		VARCHAR(10),

	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS

DECLARE @v_numeroPedido			NUMERIC(18,0)
DECLARE @v_codigoSituacaoAtual	INT

DECLARE @v_idSeparaPedido		INT
DECLARE @v_idSeparacaoPedido	INT
DECLARE @v_idConferePedido		INT

DECLARE @v_codigoPessoa			NUMERIC(18,0)

DECLARE @v_codigoCD				NUMERIC(10,0),
		@v_codigoLinha			NUMERIC(10,0),
		@v_codigoLoteSeparacao  NUMERIC(18,0)

DECLARE @v_valorPedido			NUMERIC(18,2)
DECLARE @v_valorParcela			NUMERIC(18,2)

DECLARE @v_numeroParcela		NUMERIC(18,0)

DECLARE @DC_PORTADOR			VARCHAR(20)


BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	SELECT @v_numeroPedido = @p_nmPedido

	-- ****************************************
	-- VERIFICA SE EXISTE O PEDIDO
	-- ****************************************
	IF @v_numeroPedido = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido não encontrado.'
			RETURN
		END
		
	--INICIALMENTE PRECISAMOS CHECAR SE O PEDIDO EXISTE E QUAL É SUA SITUAÇÃO ATUAL
	SELECT @v_codigoSituacaoAtual = ISNULL(CD_EST_SITUACAO,0),
		   @v_idSeparaPedido = ISNULL(ID_SEPARA_PEDIDO,0),
		   @v_idSeparacaoPedido = ISNULL(ID_SEPARACAO_PEDIDO,0),
		   @v_idConferePedido = ISNULL(ID_CONFERENCIA_PEDIDO,0),
		   @v_codigoPessoa = CD_PESSOA,
		   @v_valorPedido = VL_PAGAR_TOTAL
	  FROM TB_PEDIDO P WITH(NOLOCK)
	 WHERE NM_PEDIDO = @v_numeroPedido



	 -- ****************************************************
	 -- SITUAÇÃO DO PEDIDO NO ATS IGUAL A 0
	 -- ****************************************************
	 IF @v_codigoSituacaoAtual = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido não encontrado.'
			RETURN
		END
		
	 -- ****************************************************
	 -- SITUAÇÃO DO PEDIDO NO ATS IGUAL A 3 - JA ESTA CANCELADO
	 -- ****************************************************
	 IF @v_codigoSituacaoAtual = 3
		BEGIN
			
			UPDATE TB_WRK_SENIOR_SITUACAO_PEDIDO 
			SET DT_PROCESSAMENTO = GETDATE(), ID_SITUACAO_PROCESSAMENTO = 2
			WHERE NM_PEDIDO = @v_numeroPedido
			AND CD_SENIOR_SITUACAO_PEDIDO =  @p_cdSeniorSituacaoPedido

			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido já esta cancelado.'
			RETURN
		END
			
	 -- ****************************************************
	 -- SITUAÇÃO DO PEDIDO NO ATS IGUAL A 9 - JA ESTA FINALIZADO
	 -- ****************************************************
	 IF @v_codigoSituacaoAtual = 9
		BEGIN
			
			UPDATE TB_WRK_SENIOR_SITUACAO_PEDIDO 
			SET DT_PROCESSAMENTO = GETDATE(), ID_SITUACAO_PROCESSAMENTO = 2
			WHERE NM_PEDIDO = @v_numeroPedido
			AND CD_SENIOR_SITUACAO_PEDIDO =  @p_cdSeniorSituacaoPedido

			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido já esta finalizado.'
			RETURN
		END
			


	-- *********************************************
	-- ENVIADO STATUS DO PEDIDO CANCELADO - 5
	-- *********************************************
	IF @p_dcStatusPedidoSenior = '5'
		BEGIN
			-- CHAMA A PROC DE CANCELAMENTO
			EXEC SP_CANCELA_PEDIDO	@v_numeroPedido,
									38,
									1,
									@p_codigoUsuario,
									@p_codigoErro output,
									@p_descErro output,
									@p_qtLinhasAfetadas output

			UPDATE TB_WRK_SENIOR_SITUACAO_PEDIDO 
			SET DT_PROCESSAMENTO = GETDATE(), ID_SITUACAO_PROCESSAMENTO = 2
			WHERE NM_PEDIDO = @v_numeroPedido
			AND CD_SENIOR_SITUACAO_PEDIDO =  @p_cdSeniorSituacaoPedido
			
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido cancelado com sucesso.'
			RETURN

		END


	-- ************************************************************************************************************************
	-- ENVIADO STATUS DO PEDIDO LIQUIDADO - 4
	-- NESSE MOMENTO O SISTEMA APENAS EMITIU A NF
	-- NÃO TEM NADA A VER COM BAIXA DE TITULO
	-- SE FOR UM BOLETO A VISTA TEMOS QUE VER TAMBEM O PORTADOR. 
	-- SE O PORTADOR FOR 033 SIGNIFICA QUE O FINANCEIRO JA IDENTIFICOU O PAGAMAMENTO E PODEMOS JA BAIXAR A CONCILIAÇÃO 
	-- CASO NÃO TENHA MUDADO O PORTADOR VAMOS MANTER O STATUS
	-- ************************************************************************************************************************
	IF @p_dcStatusPedidoSenior = '4'
		BEGIN

			-- *******************************************************************************
			-- SE A SITUAÇÃO DO PEDIDO ESTA APROVADO - BOLETO A PRAZO E CARTÃO DE CREDITO
			-- *******************************************************************************
			IF @v_codigoSituacaoAtual = 2
				BEGIN
					-- BUSCA O CD E LINHA DE SEPARAÇÃO PARA O PEDIDO
					SELECT  @v_codigoCD = CD_CENTRO_DISTRIBUICAO,
							@v_codigoLinha = (SELECT MIN(S.CD_LINHA_SEPARACAO) FROM TB_LINHA_SEPARACAO S WITH(NOLOCK) WHERE S.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND S.ID_SITUACAO = 1)
					FROM TB_PEDIDO P WITH(NOLOCK)
					WHERE NM_PEDIDO = @v_numeroPedido

					-- CRIA UM LOTE DE SEPARAÇÃO
					EXEC SP_CAD_LOTE_SEPARACAO  @v_codigoCD,
												@v_codigoLinha,
												@p_codigoUsuario,
												@p_codigoErro output,
												@p_descErro output,
												@p_qtLinhasAfetadas output,
												@v_codigoLoteSeparacao output

					-- ABORTA SE DER ALGUM ERRO
					IF LEN(@p_descErro) > 0
						BEGIN
							RETURN
						END

					-- AGORA INCLUI O PEDIDO NO LOTE E FAZ AS VALIDAÇÕES EXISTENTES NESTA ROTINA
					EXEC pr_LoteSeparacaoGerarLote	@v_numeroPedido,
													@v_codigoLinha,
													0,
													0,
													@v_codigoLoteSeparacao,
													@p_codigoUsuario,
													@p_codigoErro output,
													@p_descErro output,
													@p_qtLinhasAfetadas output

					-- ABORTA SE DER ALGUM ERRO
					IF LEN(@p_descErro) > 0
						BEGIN
							RETURN
						END


					UPDATE TB_WRK_SENIOR_SITUACAO_PEDIDO 
					SET DT_PROCESSAMENTO = GETDATE(), ID_SITUACAO_PROCESSAMENTO = 2
					WHERE NM_PEDIDO = @v_numeroPedido
					AND CD_SENIOR_SITUACAO_PEDIDO =  @p_cdSeniorSituacaoPedido

					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Pedido atualizado com sucesso.'
					RETURN

				END
		END		

		
	-- *********************************************
	-- ENVIADO STATUS DO PEDIDO ABERTO TOTAL - 1
	-- ENTENDO QUE ESSE STATUS É UM STATUS INICIAL DO PEDIDO
	-- OU SEJA, NÃO TERIA NECESSIDADE DE FAZER NENHUM AJUSTE
	-- *********************************************
	IF @p_dcStatusPedidoSenior = '1'
		BEGIN

			UPDATE TB_WRK_SENIOR_SITUACAO_PEDIDO 
			SET DT_PROCESSAMENTO = GETDATE(), ID_SITUACAO_PROCESSAMENTO = 2
			WHERE NM_PEDIDO = @v_numeroPedido
			AND CD_SENIOR_SITUACAO_PEDIDO =  @p_cdSeniorSituacaoPedido

			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido não será atualizado. Situação Senior igual a 1.'
			RETURN
		END
	
	-- *********************************************
	-- ENVIADO STATUS DO PEDIDO ABERTO PARCIAL - 2
	-- ENTENDO QUE ESSE STATUS É UM STATUS INICIAL DO PEDIDO
	-- OU SEJA, NÃO TERIA NECESSIDADE DE FAZER NENHUM AJUSTE
	-- *********************************************
	IF @p_dcStatusPedidoSenior = '2'
		BEGIN
			UPDATE TB_WRK_SENIOR_SITUACAO_PEDIDO 
			SET DT_PROCESSAMENTO = GETDATE(), ID_SITUACAO_PROCESSAMENTO = 2
			WHERE NM_PEDIDO = @v_numeroPedido
			AND CD_SENIOR_SITUACAO_PEDIDO =  @p_cdSeniorSituacaoPedido

			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido não será atualizado. Situação Senior igual a 2.'
			RETURN
		END


	-- *********************************************
	-- ENVIADO STATUS DO PEDIDO SUSPENSO - 3
	-- *********************************************

	-- *********************************************
	-- ENVIADO STATUS DO AGUARDANDO INTEGRAÇÃO COM WMS - 6
	-- *********************************************
	
	-- *********************************************
	-- ENVIADO STATUS DO EM TRANSMISSÃO - 7
	-- *********************************************
	
	-- *********************************************
	-- ENVIADO STATUS PREPARAÇÃO ANALISE OU NF - 8
	-- *********************************************
	
	-- *********************************************
	-- ENVIADO STATUS NAO FECHADO - 9
	-- ENTENDO QUE ESSE STATUS É UM STATUS INICIAL DO PEDIDO
	-- OU SEJA, NÃO TERIA NECESSIDADE DE FAZER NENHUM AJUSTE
	-- *********************************************

	
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;


GO
