SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_PessoaInserePlanoAssinatura]
	@p_cdPessoaPlanoAssinatura				numeric(18,0),
	@p_cdPessoa								numeric(18,0),
	@p_nmPedido								numeric(18,0),
	@p_cdProdutoVenda						numeric(18,0),
	@p_qtDependentes						int,
	@p_dtVigenciaInicial					varchar(20),
	@p_dtVigenciaFinal						varchar(20),
	@p_codigoUsuario						NUMERIC(18,0),
	@p_descricaoFuncao						VARCHAR(1),

	@p_codigoErro					INT				OUTPUT,
	@p_descricaoErro				VARCHAR(1000)	OUTPUT,
	@p_linhasAfetadas				INT				OUTPUT,
	@p_codigoGerado					NUMERIC(18,0)	OUTPUT
	

AS


DECLARE @QT_REGISTROS INT


/***************************************************************

@p_descricaoFuncao

	I = INSERE NOVO REGISTRO COM SITUAÇÃO 1 - AGUARDANDO PAGAMENTO
	P = PAGAMENTO TOTAL - ALTERA REGISTRO SITUAÇÃO 2 - ATIVO
	C = CANCELA PEDIDO - ALTERA SITUAÇÃO PARA 3 - CANCELADO
	V = DIIDA VENCIDA - ALTERA PARA 4 - PAGAMENTO EM ATRASO

**************************************************************/

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		-- PEDIDO APROVADO, INSERE NOVO REGISTRO COM SITUAÇÃO AGUARDANDO PAGAMENTO
		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PESSOA_PLANO_ASSINATURA (
					CD_PESSOA,
					NM_PEDIDO,
					CD_PRODUTO_VENDA,
					QT_DEPENDENTES,
					ID_SITUACAO_PESSOA_PLANO_ASSINATURA,
					DT_VIGENCIA_INICIAL,
					DT_VIGENCIA_FINAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO
					)
				VALUES (
					@p_cdPessoa,
					@p_nmPedido,
					@p_cdProdutoVenda,
					@p_qtDependentes,
					1, --AGUARDANDO PAGAMENTO
					@p_dtVigenciaInicial,
					@p_dtVigenciaFinal,
					GETDATE(),
					@p_codigoUsuario,
					GETDATE(),
					@p_codigoUsuario
					
				)

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_PESSOA_PLANO_ASSINATURA')
				
				COMMIT TRANSACTION
			END	

		
		-- CANCELAMENTO DE PEDIDO, ALTERAR STATUS PARA CANCELADO
		IF @p_descricaoFuncao = 'C' 
			BEGIN
				BEGIN TRANSACTION

				UPDATE TB_PESSOA_PLANO_ASSINATURA
				SET ID_SITUACAO_PESSOA_PLANO_ASSINATURA = 3, --CANCELADO
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					DT_ATUALIZACAO = GETDATE()
				WHERE CD_PESSOA_PLANO_ASSINATURA = @p_cdPessoaPlanoAssinatura 
				
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END


		-- DÍVIDA VENCIDA, ALTERAR STATUS PARA PAGAMENTO EM ATRASO
		IF @p_descricaoFuncao = 'V'
			BEGIN
				BEGIN TRANSACTION

				UPDATE TB_PESSOA_PLANO_ASSINATURA
				SET ID_SITUACAO_PESSOA_PLANO_ASSINATURA = 4, --PAGAMENTO EM ATRASO
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					DT_ATUALIZACAO = GETDATE()
				WHERE CD_PESSOA_PLANO_ASSINATURA = @p_cdPessoaPlanoAssinatura 

					
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END


		-- PAGAMENTO DO PEDIDO, ALTERA SITUAÇÃO PARA ATIVO
		IF @p_descricaoFuncao = 'P'
			BEGIN
				BEGIN TRANSACTION

				UPDATE TB_PESSOA_PLANO_ASSINATURA
				SET ID_SITUACAO_PESSOA_PLANO_ASSINATURA = 2, --ATIVO
					DT_VIGENCIA_INICIAL = @p_dtVigenciaInicial,
					DT_VIGENCIA_FINAL = @p_dtVigenciaFinal,
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					DT_ATUALIZACAO = GETDATE()
				WHERE CD_PESSOA_PLANO_ASSINATURA = @p_cdPessoaPlanoAssinatura 
				 
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

	
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
