SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_INSERE_REMUNERACAO]
	@CD_PESSOA_TOP	                NUMERIC(18,0),
	@CD_FUNCAO	                NUMERIC(18,0),
	@NM_CICLO                       NUMERIC(18,0),
	@CD_REMUNERACAO			NUMERIC(18,0),
	@CD_PEDIDO_PESSOA               NUMERIC(18,0),
	@CD_EST_COMERCIAL               NUMERIC(18,0),
	@ID_SITUACAO_REMUNERACAO        INT,      
	@ID_FORMA_PAGAMENTO_REMUNERACAO INT,
	@ID_SITUACAO_PROCESSAMENTO_REMUNERACAO  INT,
	@VL_REMUNERACAO_CALCULADA    NUMERIC(18,2),
	@ID_REGRA_CALCULO            INT,
	@VL_LIQUIDO_PEDIDO_INDICADOR NUMERIC(18,2),
	@ID_TIPO_REMUNERACAO         INT,
	@VL_REMUMERACAO_REGRESSIVO   NUMERIC(18,2),
	@VL_REMUMERACAO              NUMERIC(18,2),
	@CD_PAPEL_RECEBE_REMUNERACAO NUMERIC(18,0),
	@CD_NIVEL_TOP                NUMERIC(18,0),
	@ID_PARCELA_REMUNERACAO                  INT,	
	@ID_CONSOLIDA_REMUNERACAO		INT,
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CURSOR_PARCELA	        CURSOR,
	@CD_PARCELA             NUMERIC(18,0),
	@DT_VENCIMENTO          DATE,
	@NM_CICLO_VENCIMENTO    NUMERIC(18,0),
	@NM_PARCELAS            NUMERIC(18,0),
	@VL_REMUNERACAO_PARCELA NUMERIC(18,2),
	@CD_MN_REMUNERACAO    NUMERIC(18,0),
	@PC_TAXA_ADMINISTRATIVA NUMERIC(18,2),
	@VL_TAXA_ADMINISTRATIVA NUMERIC(18,2),
	@CD_MN_DETALHE_REMUNERACAO NUMERIC(18,2)

BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0
  BEGIN
    IF (@ID_PARCELA_REMUNERACAO = 1)
    BEGIN
      SET @CURSOR_PARCELA = CURSOR FAST_FORWARD
      FOR SELECT B.CD_PARCELA,
		 B.DT_VENCIMENTO,
		 C.QDE_PARCELA
	  FROM  TB_DIVIDA  A WITH (NOLOCK), 
		TB_PARCELA B WITH (NOLOCK),
	 	(SELECT COUNT (B.CD_PARCELA) AS QDE_PARCELA
	  	 FROM   TB_DIVIDA  A WITH (NOLOCK), 
			TB_PARCELA B WITH (NOLOCK)
		 WHERE --A.CD_PESSOA              = @CD_PESSOA_TOP AND
		    A.NM_PEDIDO              = @CD_PEDIDO_PESSOA
		 AND   A.ID_SITUACAO_PAGAMENTO <> 4  -- CANCELADA
		 AND   A.CD_DIVIDA              = B.CD_DIVIDA) C
	  WHERE --A.CD_PESSOA              = @CD_PESSOA_TOP AND
	     A.NM_PEDIDO              = @CD_PEDIDO_PESSOA
	  AND   A.ID_SITUACAO_PAGAMENTO <> 4  -- CANCELADA
	  AND   A.CD_DIVIDA              = B.CD_DIVIDA

      OPEN @CURSOR_PARCELA
      FETCH NEXT FROM @CURSOR_PARCELA
      INTO @CD_PARCELA, @DT_VENCIMENTO, @NM_PARCELAS
	
      WHILE @@FETCH_STATUS = 0
      BEGIN
        -- BUSCA O CICLO DE VENCIMENTO DA PARCELA
        SELECT @NM_CICLO_VENCIMENTO = ISNULL(SUM(NM_CICLO), @NM_CICLO)
        FROM TB_CALENDARIO_COMERCIAL WITH (NOLOCK)
        WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
        AND CONVERT(DATE, @DT_VENCIMENTO) BETWEEN  CONVERT(DATE, DT_INICIAL) AND CONVERT(DATE, DT_FINAL)

        -- CALCULA O VALOR DA PARCELA
	SELECT @VL_REMUNERACAO_PARCELA = (@VL_REMUNERACAO_CALCULADA / @NM_PARCELAS)

        -- INSERIR A REMUNERAÇÃO
        SELECT @CD_MN_REMUNERACAO = ISNULL(MAX(CD_MN_REMUNERACAO),0)
        FROM TB_MN_REMUNERACAO with (NOLOCK)
        WHERE CD_PESSOA                           = @CD_PESSOA_TOP
        AND CD_FUNCAO                             = @CD_FUNCAO
        AND NM_CICLO                              = @NM_CICLO_VENCIMENTO
        AND ID_SITUACAO_REMUNERACAO               = @ID_SITUACAO_REMUNERACAO        
        AND ID_FORMA_PREMIACAO_MN                 = @ID_FORMA_PAGAMENTO_REMUNERACAO
        AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @ID_SITUACAO_PROCESSAMENTO_REMUNERACAO  
	AND (    (@ID_CONSOLIDA_REMUNERACAO = 2 AND CD_REMUNERACAO = @CD_REMUNERACAO)     
              OR (@ID_CONSOLIDA_REMUNERACAO = 1)   )

        IF (@CD_MN_REMUNERACAO = 0)
        BEGIN
          BEGIN TRANSACTION
          INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA  , CD_FUNCAO , NM_CICLO, ID_SITUACAO_REMUNERACAO,
                                         VL_ORIGINAL,VL_AJUSTADO, DC_MOTIVO_AJUSTE, ID_FORMA_PREMIACAO_MN, 
                                         ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO,  
                                         DT_ATUALIZACAO,  CD_USUARIO_ATUALIZACAO,  CD_REMUNERACAO)
                                 VALUES (@CD_PESSOA_TOP,@CD_FUNCAO,@NM_CICLO_VENCIMENTO,@ID_SITUACAO_REMUNERACAO,
                                         0 ,0 ,'', 
					 @ID_FORMA_PAGAMENTO_REMUNERACAO,
                                         @ID_SITUACAO_PROCESSAMENTO_REMUNERACAO,  GETDATE(), 0,
                                         GETDATE(), 0, @CD_REMUNERACAO) 
          SELECT @CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
	  COMMIT TRANSACTION
        END

        -- INSERE NO DETALHE
        BEGIN TRANSACTION
        INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, 
                                                       CD_FUNCAO, 
                                                       NM_CICLO, 
                                                       ID_MOTIVO_REMUNERACAO,
                                                       CD_REGRA_PREMIACAO_MN, 
                                                       ID_ORIGEM_PREMIACAO_MN, 
                                                       NM_ORIGEM_MN,
                                                       VL_ORIGEM_MN,
                                                       VL_PERCENTUAL_REM, 
                                                       VL_REMUNERACAO,
                                                       CD_MN_REMUNERACAO,
                                                       CD_PAPEL_DESEMPENHO,
						       NM_NIVEL,
						       CD_PARCELA_REMUNERACAO,
						       ID_SITUACAO_PAGAMENTO_PARCELA)
                                               VALUES (@CD_PESSOA_TOP, 
                                                       @CD_FUNCAO,
                                                       @NM_CICLO_VENCIMENTO,
                                                       1, -- RECEITA
                                                       @CD_REMUNERACAO, -- SÃO AS REMUNERAÇÕES CADASTRADAS
                                                       @ID_REGRA_CALCULO, --1-PEDIDO /  2 - PESSOA
                                                       @CD_PEDIDO_PESSOA,
                                                       (@VL_LIQUIDO_PEDIDO_INDICADOR / @NM_PARCELAS), -- @VL_LIQUIDO_PEDIDO_INDICADOR, 
                                                       CASE WHEN (@ID_TIPO_REMUNERACAO = 3) THEN  @VL_REMUMERACAO_REGRESSIVO
                                                            ELSE  @VL_REMUMERACAO END,
                                                       @VL_REMUNERACAO_PARCELA,
                                                       @CD_MN_REMUNERACAO, 
                                                       @CD_PAPEL_RECEBE_REMUNERACAO,
						       @CD_NIVEL_TOP,
						       @CD_PARCELA,
						       1) -- ABERTA
  
	COMMIT TRANSACTION

        FETCH NEXT FROM @CURSOR_PARCELA
        INTO @CD_PARCELA, @DT_VENCIMENTO, @NM_PARCELAS
      END
			
      CLOSE       @CURSOR_PARCELA
      DEALLOCATE  @CURSOR_PARCELA

    END
    ELSE
    BEGIN
        -- INSERIR A REMUNERAÇÃO
        SELECT @CD_MN_REMUNERACAO = ISNULL(MAX(CD_MN_REMUNERACAO),0)
        FROM TB_MN_REMUNERACAO with (NOLOCK)
        WHERE CD_PESSOA                           = @CD_PESSOA_TOP
        AND CD_FUNCAO                             = @CD_FUNCAO
        AND NM_CICLO                              = @NM_CICLO
        AND ID_SITUACAO_REMUNERACAO               = @ID_SITUACAO_REMUNERACAO        
        AND ID_FORMA_PREMIACAO_MN                 = @ID_FORMA_PAGAMENTO_REMUNERACAO
        AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @ID_SITUACAO_PROCESSAMENTO_REMUNERACAO 
	AND (    (@ID_CONSOLIDA_REMUNERACAO = 2 AND CD_REMUNERACAO = @CD_REMUNERACAO)     
              OR (@ID_CONSOLIDA_REMUNERACAO = 1)   ) 

        IF (@CD_MN_REMUNERACAO = 0)
        BEGIN
          BEGIN TRANSACTION
          INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA  , CD_FUNCAO , NM_CICLO, ID_SITUACAO_REMUNERACAO,
                                         VL_ORIGINAL,VL_AJUSTADO, DC_MOTIVO_AJUSTE, ID_FORMA_PREMIACAO_MN, 
                                         ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO,  
                                         DT_ATUALIZACAO,  CD_USUARIO_ATUALIZACAO, CD_REMUNERACAO)
                                 VALUES (@CD_PESSOA_TOP,@CD_FUNCAO,@NM_CICLO,@ID_SITUACAO_REMUNERACAO,
                                         @VL_REMUNERACAO_CALCULADA ,@VL_REMUNERACAO_CALCULADA ,'', 
					 @ID_FORMA_PAGAMENTO_REMUNERACAO,
                                         @ID_SITUACAO_PROCESSAMENTO_REMUNERACAO,  GETDATE(), 0,
                                         GETDATE(), 0, @CD_REMUNERACAO) 
          SELECT @CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
	  COMMIT TRANSACTION
        END
        ELSE
        BEGIN
          BEGIN TRANSACTION
          UPDATE TB_MN_REMUNERACAO SET
                 VL_ORIGINAL = (VL_ORIGINAL + @VL_REMUNERACAO_CALCULADA),
                 VL_AJUSTADO = (VL_AJUSTADO + @VL_REMUNERACAO_CALCULADA),
                 DT_ATUALIZACAO  = getdate(),
                 CD_USUARIO_ATUALIZACAO = 0
          WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO
	  AND (    (@ID_CONSOLIDA_REMUNERACAO = 2 AND CD_REMUNERACAO = @CD_REMUNERACAO)     
                OR (@ID_CONSOLIDA_REMUNERACAO = 1)   ) 
          COMMIT TRANSACTION
        END

        -- INSERE NO DETALHE
        BEGIN TRANSACTION
        INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, 
                                                       CD_FUNCAO, 
                                                       NM_CICLO, 
                                                       ID_MOTIVO_REMUNERACAO,
                                                       CD_REGRA_PREMIACAO_MN, 
                                                       ID_ORIGEM_PREMIACAO_MN, 
                                                       NM_ORIGEM_MN,
                                                       VL_ORIGEM_MN,
                                                       VL_PERCENTUAL_REM, 
                                                       VL_REMUNERACAO,
                                                       CD_MN_REMUNERACAO,
                                                       CD_PAPEL_DESEMPENHO,
						       NM_NIVEL)
                                               VALUES (@CD_PESSOA_TOP, 
                                                       @CD_FUNCAO,
                                                       @NM_CICLO,
                                                       1, -- RECEITA
                                                       @CD_REMUNERACAO, -- SÃO AS REMUNERAÇÕES CADASTRADAS
                                                       @ID_REGRA_CALCULO, --1-PEDIDO /  2 - PESSOA
                                                       @CD_PEDIDO_PESSOA,
                                                       @VL_LIQUIDO_PEDIDO_INDICADOR, 
                                                       CASE WHEN (@ID_TIPO_REMUNERACAO = 3) THEN  @VL_REMUMERACAO_REGRESSIVO
                                                            ELSE  @VL_REMUMERACAO END,
                                                       @VL_REMUNERACAO_CALCULADA,
                                                       @CD_MN_REMUNERACAO, 
                                                       @CD_PAPEL_RECEBE_REMUNERACAO,
						       @CD_NIVEL_TOP)
  
        SELECT @CD_MN_DETALHE_REMUNERACAO = IDENT_CURRENT('TB_MN_DETALHE_REMUNERACAO')
	COMMIT TRANSACTION

        -- ALTERAÇÃO PARA INCLUIR O CONCEITO DE APROVAÇÃO AUTOMATICA DA REMUNERACAO (13/09/2017)
        IF (@ID_SITUACAO_REMUNERACAO   = 2)
        BEGIN
          SELECT @PC_TAXA_ADMINISTRATIVA = VL_PARAMETRO FROM TB_VALOR_PARAMETRO with (NOLOCK) WHERE CD_PARAMETRO = 11 AND CD_GRUPO_PARAMETRO = 7
          SELECT @VL_TAXA_ADMINISTRATIVA = 0

          IF (@PC_TAXA_ADMINISTRATIVA > 0)
          BEGIN
            SELECT @VL_TAXA_ADMINISTRATIVA = ((@PC_TAXA_ADMINISTRATIVA / 100) * @VL_REMUNERACAO_CALCULADA)
          END
          -- CHAMA A APROVAÇÃO AUTOMATICA
          EXEC dbo.SP_MN_APROVA_REMUNERACAO 
  	                           @CD_MN_DETALHE_REMUNERACAO,
	                           1,
	                           @VL_REMUNERACAO_CALCULADA,
	                           @VL_TAXA_ADMINISTRATIVA,
	                           @PC_TAXA_ADMINISTRATIVA,
	                           '',   -- MOTIVO
	                           0,
	                           @VAR_RETORNO OUTPUT,
	                           @DC_ERRO  OUTPUT,
	                           @QT_LINHAS_AFETADAS OUTPUT
        END

    END
		
  END	
  SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
