SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_IncorporarInsereCargaPessoaIndicadorItem]

	@p_codigoCargaIndicadorItem			NUMERIC(18,0),
	@p_codigoCargaItemIndicador			NUMERIC(18,0),
	@p_numeroLinha						INT,
	@p_idOrigemItemIndicador			INT,
	@p_codigoOrigemItemIndicador		NUMERIC(18,0),
	@p_idSituacaotemIndicador			INT,
	@p_codigoPessoa						NUMERIC(18,0),
	@p_codigoFuncao						NUMERIC(18,0),
	@p_numCicloIni						NUMERIC(18,0),
	@p_numCicloFim						NUMERIC(18,0),
	@p_codigoIndicadorPessoal			NUMERIC(18,0),
	@p_idSituacaoCargaItem				INT,
	@p_descErroProcessamento			VARCHAR(MAX),

	@p_codigoUsuario					NUMERIC(18,0),
	@p_descricaoTipoFuncao				VARCHAR(1),
	
	@p_codigoErro						INT OUTPUT,
	@p_descricaoErro					VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas					INT OUTPUT

AS

BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	    		
	IF @p_descricaoTipoFuncao = 'I'
		BEGIN
			BEGIN TRANSACTION 

			INSERT INTO TB_CARGA_PESSOA_INDICADOR_ITEM (
					CD_CARGA_INDICADOR,
					NM_LINHA,
					CD_PESSOA,
					CD_FUNCAO,
					NM_CICLOINI,
					NM_CICLOFIM,
					CD_INDICADOR_PESSOAL,
					DT_CADASTRO,
					ID_SITUACAO_CARGA_ITEM,
					DC_MOTIVO_ERRO_CARGA_ITEM,
					DT_PROCESSAMENTO )
						
			VALUES ( @p_codigoCargaItemIndicador,
				@p_numeroLinha,
				@p_codigoPessoa,
				@p_codigoFuncao,
				@p_numCicloIni,
				@p_numCicloFim,
				@p_codigoIndicadorPessoal,
				GETDATE(), 
				@p_idSituacaoCargaItem,
				'Em processamento',
				GETDATE() )
		
			SELECT @p_linhasAfetadas = @@ROWCOUNT
		
			COMMIT TRANSACTION
		END	
		
	IF @p_descricaoTipoFuncao = 'A'
		BEGIN
			UPDATE TB_CARGA_PESSOA_INDICADOR_ITEM
			   SET NM_LINHA = @p_numeroLinha,
				   CD_PESSOA = @p_codigoPessoa,
				   CD_FUNCAO = @p_codigoFuncao,
				   NM_CICLOINI = @p_numCicloIni,
				   NM_CICLOFIM = @p_numCicloFim,
				   CD_INDICADOR_PESSOAL = @p_codigoIndicadorPessoal,
				   ID_SITUACAO_CARGA_ITEM = @p_idSituacaoCargaItem,
				   DC_MOTIVO_ERRO_CARGA_ITEM = @p_descErroProcessamento,
				   DT_PROCESSAMENTO = GETDATE()
			 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
			   AND CD_CARGA_INDICADOR_ITEM = @p_codigoCargaIndicadorItem

		END

	IF @p_descricaoTipoFuncao = 'E'
		BEGIN
			DELETE FROM TB_CARGA_PESSOA_INDICADOR_ITEM
			 WHERE CD_CARGA_INDICADOR = @p_codigoCargaItemIndicador
			   AND CD_CARGA_INDICADOR_ITEM = @p_codigoCargaIndicadorItem
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
