SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_HC]
	@NM_PEDIDO NUMERIC(18,0),
	
	/***************************************************
	ID_ORIGEM = 1 PEDIDO APROVADO
	ID_ORIGEM = 2 PEDIDO PAGO
	ID_ORIGEM = 3 CANCELAMENTO DE PEDIDO APROVADO
	ID_ORIGEM = 4 CANCELAMENTO DE PEDIDO PAGO
	****************************************************/
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @V_CALCULA_REMUNERACAO NUMERIC(18,0)
DECLARE @CURSOR_TOPOLOGIA    CURSOR

DECLARE	@V_NM_CICLO_PAGTO_PEDIDO		NUMERIC(18,0),
        @V_CD_PESSOA_PEDIDO			NUMERIC(18,0),
	@V_CD_FUNCAO_PESSOA_PEDIDO		NUMERIC(18,0),
        @V_VL_PEDIDO				NUMERIC(18,2),
        @V_CD_PAPEL_PESSOA_PEDIDO               NUMERIC(18,0),
        @V_VL_PEDIDO_TOTAL_MMN                  NUMERIC(18,2)
--        @V_CD_EST_COMERCIAL                     NUMERIC(18,0)


DECLARE @V_VL_REMUNERACAO                       NUMERIC(18,2),
        @V_PER_REMUNERACAO                      NUMERIC(18,2),
        @V_QD_NIVEIS                            NUMERIC(18,0)


DECLARE @V_CD_PESSOA_ASCENDENTE                 NUMERIC(18,0),
        @V_CD_PAPEL_ASCENDENTE                  NUMERIC(18,0),
        @V_CD_NIVEL_ASCENDENTE                  INT

DECLARE @EXISTE_REM				INT,
        @FORMA                                  INT,
        @V_CD_MN_REMUNERACAO			NUMERIC(18,0)    





	
BEGIN TRY

  SELECT @QT_LINHAS_AFETADAS = 0
 	
  /**************************************************************
   ** VERIFICA SE CALCULA A REMUNERAÇÃO
   **************************************************************/
  SELECT @V_CALCULA_REMUNERACAO = dbo.FN_VERIFICA_CALCULA_REMUNERACAO_MN(@NM_PEDIDO)
	
  /**************************************************************
   ** SÓ GRAVA REMUNERAÇÃO SE O RETORNO DA FUNÇÃO FOR IGUAL A 1
   **************************************************************/
  IF @V_CALCULA_REMUNERACAO = 1
  BEGIN
			
    -- BUSCA INFORMAÇÕES DO PEDIDO (CICLO E PESSOA)
    SELECT  @V_NM_CICLO_PAGTO_PEDIDO   = A.NM_CICLO_PAGAMENTO,
    	    @V_CD_PESSOA_PEDIDO        = A.CD_PESSOA,
	    @V_CD_FUNCAO_PESSOA_PEDIDO = A.CD_FUNCAO,
--            @V_CD_EST_COMERCIAL        = A.CD_EST_COMERCIAL,
            @V_CD_PAPEL_PESSOA_PEDIDO  = C.CD_PAPEL_DESEMPENHO,
	    @V_VL_PEDIDO               = isnull(SUM(A.VL_LIQUIDO_TOTAL),0),
            @V_VL_PEDIDO_TOTAL_MMN     = isnull(SUM(B.VL_PERCENTUAL_REPASSE_PEDIDO),0)
    FROM TB_PEDIDO A, TB_PEDIDO_COMPLEMENTAR B, TB_PESSOA_PAPEL_HISTORICO C
    WHERE A.NM_PEDIDO            = @NM_PEDIDO
    AND   A.NM_PEDIDO            = B.NM_PEDIDO
    AND   A.CD_PESSOA            = C.CD_PESSOA
    AND   A.CD_FUNCAO            = C.CD_FUNCAO
    AND   A.A.NM_CICLO_PAGAMENTO = C.NM_CICLO
    GROUP BY A.NM_CICLO_PAGAMENTO,
    	     A.CD_PESSOA,
	     A.CD_FUNCAO,
--             A.CD_EST_COMERCIAL,
             C.CD_PAPEL_DESEMPENHO
  
    IF (@V_VL_PEDIDO_TOTAL_MMN > 0)  -- SOMENTE CALCULA SE O PEDIDO GERAR REMUNERAÇÃO
    BEGIN
 
      IF (@V_CD_PAPEL_PESSOA_PEDIDO = 1)  -- Amigo da Rede
      BEGIN
        SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (4/100))
               ,@V_PER_REMUNERACAO = 4   
      END    
      
      IF (@V_CD_PAPEL_PESSOA_PEDIDO = 2)  -- Cidadão Fiel
      BEGIN
        SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (7/100))
               ,@V_PER_REMUNERACAO = 7   
      END    

      IF (@V_CD_PAPEL_PESSOA_PEDIDO = 3)  -- Trabalhador Perspicaz
      BEGIN
        SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (8/100))
               ,@V_PER_REMUNERACAO = 8
      END    

      IF (@V_CD_PAPEL_PESSOA_PEDIDO = 4)  -- Gerente de Sonhos
      BEGIN
        SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (9/100))
               ,@V_PER_REMUNERACAO = 9  
      END    


      IF (@V_CD_PAPEL_PESSOA_PEDIDO = 5)  -- Empreendedor Visionário
      BEGIN
        SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (10/100))
               ,@V_PER_REMUNERACAO = 10   
      END    

      IF (@V_CD_PAPEL_PESSOA_PEDIDO = 6)  -- Investidor Cheio de Adrenalina
      BEGIN
        SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (10/100))
               ,@V_PER_REMUNERACAO = 10   
      END    
      
      SELECT @FORMA = 1  -- pesssoal

      -- INSERIR A REMUNERAÇÃO
      SELECT @EXISTE_REM = COUNT(*)
      FROM TB_MN_REMUNERACAO
      WHERE CD_PESSOA                           = @V_CD_PESSOA_PEDIDO
      AND CD_FUNCAO                             = @V_CD_FUNCAO_PESSOA_PEDIDO
      AND NM_CICLO                              = @V_NM_CICLO_PAGTO_PEDIDO
      AND ID_SITUACAO_REMUNERACAO               = 1        
      AND ID_FORMA_PREMIACAO_MN                 = @FORMA
      AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
      IF @EXISTE_REM = 0
      BEGIN
        INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA  , CD_FUNCAO , NM_CICLO, ID_SITUACAO_REMUNERACAO,
                                       VL_ORIGINAL,VL_AJUSTADO, DC_MOTIVO_AJUSTE, ID_FORMA_PREMIACAO_MN, 
                                       ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO, 
                                       DT_ATUALIZACAO,  CD_USUARIO_ATUALIZACAO)
                               VALUES (@V_CD_PESSOA_PEDIDO,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PAGTO_PEDIDO,1,
                                       @V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'', @FORMA, 
                                       1,  GETDATE(), 0,
                                       GETDATE(), 0) 
        SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
      END
      ELSE
      BEGIN
        UPDATE TB_MN_REMUNERACAO SET
               VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
               VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO
        WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
        AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
        AND NM_CICLO                = @V_NM_CICLO_PAGTO_PEDIDO
        AND ID_SITUACAO_REMUNERACAO = 1
        AND ID_FORMA_PREMIACAO_MN   = @FORMA
        AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
   
        SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
        FROM TB_MN_REMUNERACAO
        WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
        AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
        AND NM_CICLO                = @V_NM_CICLO_PAGTO_PEDIDO
        AND ID_SITUACAO_REMUNERACAO = 1
        AND ID_FORMA_PREMIACAO_MN   = @FORMA
        AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
   
      END

      -- INSERE NO DETALHE
      INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, 
                                             CD_FUNCAO, 
                                             NM_CICLO, 
                                             ID_MOTIVO_REMUNERACAO,
                                             ID_TIPO_PREMIACAO_MN, 
                                             ID_ORIGEM_PREMIACAO_MN, 
                                             NM_ORIGEM_MN,
                                             VL_ORIGEM_MN,
                                             VL_PERCENTUAL_REM, 
                                             VL_REMUNERACAO,
                                             CD_MN_REMUNERACAO,
                                             CD_PAPEL_DESEMPENHO)
                                     VALUES (@V_CD_PESSOA_PEDIDO, 
                                             @V_CD_FUNCAO_PESSOA_PEDIDO,
                                             @V_NM_CICLO_PAGTO_PEDIDO,
                                             1, -- RECEITA
                                             2, -- PERCENTUAL SOBRE AS VENDAS
                                             1, -- ORIGEM PEDIDO
                                             @NM_PEDIDO,
                                             @V_VL_PEDIDO, 
                                             @V_PER_REMUNERACAO ,
                                             @V_VL_REMUNERACAO,
                                             @V_CD_MN_REMUNERACAO, 
                                             @V_CD_PAPEL_PESSOA_PEDIDO)



      
           -- CALCULAR ATÉ O QUINTO NÍVEL
      SELECT @V_QD_NIVEIS = 5

      -- ABRE O CURSOR TOPOLOGIA
      SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
      FOR					
      SELECT   A.CD_PESSOA_VINCULADA
              ,B.CD_PAPEL_DESEMPENHO
              ,A.NM_NIVEL
      FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
      WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
      AND   A.CD_FUNCAO           = B.CD_FUNCAO
      AND   A.NM_CICLO            = B.NM_CICLO
      AND   A.CD_PESSOA           = @V_CD_PESSOA_PEDIDO
      AND   A.CD_FUNCAO           = @V_CD_FUNCAO_PESSOA_PEDIDO
      AND   A.NM_CICLO            = @V_NM_CICLO_PAGTO_PEDIDO
      AND   A.ID_ORDEM            = 1 -- ASCENDENTE
      AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
      AND   A.NM_NIVEL           <= @V_QD_NIVEIS
      ORDER BY NM_NIVEL
          
      OPEN @CURSOR_TOPOLOGIA
      FETCH NEXT FROM @CURSOR_TOPOLOGIA
      INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE, @V_CD_NIVEL_ASCENDENTE
	
      WHILE @@FETCH_STATUS = 0
      BEGIN 
        -- INICIALIZAR A VARIAVEL DE BONUS
        SELECT @V_VL_REMUNERACAO = 0

        IF (@V_CD_NIVEL_ASCENDENTE = 1 AND @V_CD_PAPEL_ASCENDENTE = 1)  --CALCULAR O 1o NIVEL E Amigo da Rede
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (1/100))
                 ,@V_PER_REMUNERACAO = 1  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 1 AND @V_CD_PAPEL_ASCENDENTE = 2)  --CALCULAR O 1o NIVEL E Cidadão Fiel
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 1 AND @V_CD_PAPEL_ASCENDENTE = 3)  --CALCULAR O 1o NIVEL E Trabalhador Perspicaz
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (3/100))
                 ,@V_PER_REMUNERACAO = 3  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 1 AND @V_CD_PAPEL_ASCENDENTE = 4)  --CALCULAR O 1o NIVEL E Gerente de Sonhos
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (5/100))
                 ,@V_PER_REMUNERACAO = 5  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 1 AND @V_CD_PAPEL_ASCENDENTE = 5)  --CALCULAR O 1o NIVEL E Empreendedor Visionário
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (6/100))
                 ,@V_PER_REMUNERACAO = 6  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 1 AND @V_CD_PAPEL_ASCENDENTE = 6)  --CALCULAR O 1o NIVEL E Investidor Cheio de Adrenalina
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (6/100))
                 ,@V_PER_REMUNERACAO = 6  
        END

       -- 
       IF (@V_CD_NIVEL_ASCENDENTE = 2 AND @V_CD_PAPEL_ASCENDENTE = 1)  --CALCULAR O 2o NIVEL E Amigo da Rede
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (1/100))
                 ,@V_PER_REMUNERACAO = 1  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 2 AND @V_CD_PAPEL_ASCENDENTE = 2)  --CALCULAR O 2o NIVEL E Cidadão Fiel
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 2 AND @V_CD_PAPEL_ASCENDENTE = 3)  --CALCULAR O 2o NIVEL E Trabalhador Perspicaz
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (3/100))
                 ,@V_PER_REMUNERACAO = 3  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 2 AND @V_CD_PAPEL_ASCENDENTE = 4)  --CALCULAR O 2o NIVEL E Gerente de Sonhos
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (4/100))
                 ,@V_PER_REMUNERACAO = 4 
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 2 AND @V_CD_PAPEL_ASCENDENTE = 5)  --CALCULAR O 2o NIVEL E Empreendedor Visionário
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (5/100))
                 ,@V_PER_REMUNERACAO = 5  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 2 AND @V_CD_PAPEL_ASCENDENTE = 6)  --CALCULAR O 2o NIVEL E Investidor Cheio de Adrenalina
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (6/100))
                 ,@V_PER_REMUNERACAO = 6  
        END


       -- 
       IF (@V_CD_NIVEL_ASCENDENTE = 3 AND @V_CD_PAPEL_ASCENDENTE = 1)  --CALCULAR O 3o NIVEL E Amigo da Rede
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (1/100))
                 ,@V_PER_REMUNERACAO = 1  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 3 AND @V_CD_PAPEL_ASCENDENTE = 2)  --CALCULAR O 3o NIVEL E Cidadão Fiel
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 3 AND @V_CD_PAPEL_ASCENDENTE = 3)  --CALCULAR O 3o NIVEL E Trabalhador Perspicaz
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 3 AND @V_CD_PAPEL_ASCENDENTE = 4)  --CALCULAR O 3o NIVEL E Gerente de Sonhos
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (3/100))
                 ,@V_PER_REMUNERACAO = 3 
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 3 AND @V_CD_PAPEL_ASCENDENTE = 5)  --CALCULAR O 3o NIVEL E Empreendedor Visionário
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (4/100))
                 ,@V_PER_REMUNERACAO = 4  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 3 AND @V_CD_PAPEL_ASCENDENTE = 6)  --CALCULAR O 3o NIVEL E Investidor Cheio de Adrenalina
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (6/100))
                 ,@V_PER_REMUNERACAO = 6  
        END

       -- 
       IF (@V_CD_NIVEL_ASCENDENTE = 4 AND @V_CD_PAPEL_ASCENDENTE = 1)  --CALCULAR O 4o NIVEL E Amigo da Rede
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (0.5/100))
                 ,@V_PER_REMUNERACAO = 0.5  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 4 AND @V_CD_PAPEL_ASCENDENTE = 2)  --CALCULAR O 4o NIVEL E Cidadão Fiel
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (1/100))
                 ,@V_PER_REMUNERACAO = 1  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 4 AND @V_CD_PAPEL_ASCENDENTE = 3)  --CALCULAR O 4o NIVEL E Trabalhador Perspicaz
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 4 AND @V_CD_PAPEL_ASCENDENTE = 4)  --CALCULAR O 4o NIVEL E Gerente de Sonhos
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2 
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 4 AND @V_CD_PAPEL_ASCENDENTE = 5)  --CALCULAR O 4o NIVEL E Empreendedor Visionário
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (3/100))
                 ,@V_PER_REMUNERACAO = 3  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 4 AND @V_CD_PAPEL_ASCENDENTE = 6)  --CALCULAR O 4o NIVEL E Investidor Cheio de Adrenalina
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (6/100))
                 ,@V_PER_REMUNERACAO = 6  
        END

        -- 
        IF (@V_CD_NIVEL_ASCENDENTE = 5 AND @V_CD_PAPEL_ASCENDENTE = 1)  --CALCULAR O 5o NIVEL E Amigo da Rede
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (0.5/100))
                 ,@V_PER_REMUNERACAO = 0.5
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 5 AND @V_CD_PAPEL_ASCENDENTE = 2)  --CALCULAR O 5o NIVEL E Cidadão Fiel
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (1/100))
                 ,@V_PER_REMUNERACAO = 1  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 5 AND @V_CD_PAPEL_ASCENDENTE = 3)  --CALCULAR O 5o NIVEL E Trabalhador Perspicaz
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 5 AND @V_CD_PAPEL_ASCENDENTE = 4)  --CALCULAR O 5o NIVEL E Gerente de Sonhos
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2 
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 5 AND @V_CD_PAPEL_ASCENDENTE = 5)  --CALCULAR O 5o NIVEL E Empreendedor Visionário
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (2/100))
                 ,@V_PER_REMUNERACAO = 2  
        END

        IF (@V_CD_NIVEL_ASCENDENTE = 5 AND @V_CD_PAPEL_ASCENDENTE = 6)  --CALCULAR O 5o NIVEL E Investidor Cheio de Adrenalina
        BEGIN
          SELECT  @V_VL_REMUNERACAO  = (@V_VL_PEDIDO_TOTAL_MMN * (6/100))
                 ,@V_PER_REMUNERACAO = 6  
        END



        SELECT @FORMA = 2  -- rede

        -- INSERIR A REMUNERAÇÃO
        SELECT @EXISTE_REM = COUNT(*)
        FROM TB_MN_REMUNERACAO
        WHERE CD_PESSOA                           = @V_CD_PESSOA_ASCENDENTE
        AND CD_FUNCAO                             = @V_CD_FUNCAO_PESSOA_PEDIDO
        AND NM_CICLO                              = @V_NM_CICLO_PAGTO_PEDIDO
        AND ID_SITUACAO_REMUNERACAO               = 1        
        AND ID_FORMA_PREMIACAO_MN                 = @FORMA
        AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
        IF @EXISTE_REM = 0
        BEGIN
          INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA  , CD_FUNCAO , NM_CICLO, ID_SITUACAO_REMUNERACAO,
                                         VL_ORIGINAL,VL_AJUSTADO, DC_MOTIVO_AJUSTE, ID_FORMA_PREMIACAO_MN, 
                                         ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO,  
                                         DT_ATUALIZACAO,  CD_USUARIO_ATUALIZACAO)
                                 VALUES (@V_CD_PESSOA_ASCENDENTE,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PAGTO_PEDIDO,1,
                                         @V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'', @FORMA, 
                                         1,  GETDATE(), 0,
                                         GETDATE(), 0) 
          SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
        END
        ELSE
        BEGIN
          UPDATE TB_MN_REMUNERACAO SET
                 VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                 VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO
          WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
          AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
          AND NM_CICLO                = @V_NM_CICLO_PAGTO_PEDIDO
          AND ID_SITUACAO_REMUNERACAO = 1
          AND ID_FORMA_PREMIACAO_MN   = @FORMA
          AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
   
          SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
          FROM TB_MN_REMUNERACAO
          WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
          AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
          AND NM_CICLO                = @V_NM_CICLO_PAGTO_PEDIDO
          AND ID_SITUACAO_REMUNERACAO = 1
          AND ID_FORMA_PREMIACAO_MN   = @FORMA
          AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
   
        END

        -- INSERE NO DETALHE
        INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, 
                                               CD_FUNCAO, 
                                               NM_CICLO, 
                                               ID_MOTIVO_REMUNERACAO,
                                               ID_TIPO_PREMIACAO_MN, 
                                               ID_ORIGEM_PREMIACAO_MN, 
                                               NM_ORIGEM_MN,
                                               VL_ORIGEM_MN,
                                               VL_PERCENTUAL_REM, 
                                               VL_REMUNERACAO,
                                               CD_MN_REMUNERACAO,
                                               CD_PAPEL_DESEMPENHO)
                                       VALUES (@V_CD_PESSOA_ASCENDENTE, 
                                               @V_CD_FUNCAO_PESSOA_PEDIDO,
                                               @V_NM_CICLO_PAGTO_PEDIDO,
                                               1, -- RECEITA
                                               2, -- PERCENTUAL SOBRE AS VENDAS
                                               1, -- ORIGEM PEDIDO
                                               @NM_PEDIDO,
                                               @V_VL_PEDIDO, 
                                               @V_PER_REMUNERACAO ,
                                               @V_VL_REMUNERACAO,
                                               @V_CD_MN_REMUNERACAO, 
                                               @V_CD_PAPEL_ASCENDENTE)

      
        FETCH NEXT FROM @CURSOR_TOPOLOGIA
        INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE, @V_CD_NIVEL_ASCENDENTE
      END  -- FIM WHILE

      CLOSE       @CURSOR_TOPOLOGIA
      DEALLOCATE  @CURSOR_TOPOLOGIA
     
      

    END -- @V_VL_PEDIDO_TOTAL_MMN > 0


  END  -- @V_CALCULA_REMUNERACAO = 1


  SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;



GO
