SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PlanoAdesaoAnalisaPlanosVencidos]
	@p_CodigoPlanoAdesao	NUMERIC(18,0),	
	@p_codigoUsuario		NUMERIC(18, 0),
	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(max) OUTPUT
	
AS

DECLARE @v_cursorPlanosAdesao		cursor,
		@v_codigoPessoaPlanoAdesao	numeric(18,0),
		@v_codigoPessoa				numeric(18,0),
		@v_dataFinalPlano			date,
	    @v_qtdeDias					int,
	    @v_codigoPlanoAdesao		numeric(18,0),
		@v_qtLinhasAfetadas			int

BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @p_codigoErro = 0
	    SELECT @p_descErro = ''
	    
	    -- ABRE O CURSOR DE PLANOS VIGENTES

		IF @p_CodigoPlanoAdesao = 0
			BEGIN
				SET @v_cursorPlanosAdesao = CURSOR FAST_FORWARD
				FOR
					SELECT CD_PESSOA_PLANO_ADESAO, DT_VIGENCIA_FINAL, DATEDIFF(DAY,GETDATE(),DT_VIGENCIA_FINAL), CD_PESSOA
					FROM TB_PESSOA_PLANO_ADESAO WITH(NOLOCK)
					WHERE ID_SITUACAO_PESSOA_PLANO_ADESAO = 1 --TODAS OS PLANOS ATIVOS
			END
		ELSE
			BEGIN
				SET @v_cursorPlanosAdesao = CURSOR FAST_FORWARD
				FOR
					SELECT CD_PESSOA_PLANO_ADESAO, DT_VIGENCIA_FINAL, DATEDIFF(DAY,GETDATE(),DT_VIGENCIA_FINAL), CD_PESSOA
					FROM TB_PESSOA_PLANO_ADESAO WITH(NOLOCK)
					WHERE ID_SITUACAO_PESSOA_PLANO_ADESAO = 1 --TODAS OS PLANOS ATIVOS
					AND CD_PLANO_ADESAO = @p_CodigoPlanoAdesao
			END
			
		OPEN @v_cursorPlanosAdesao
		FETCH NEXT FROM @v_cursorPlanosAdesao
		INTO @v_codigoPessoaPlanoAdesao, @v_dataFinalPlano, @v_qtdeDias, @v_codigoPessoa
		
		WHILE @@FETCH_STATUS = 0
			BEGIN
				
				-- VAMOS CHECAR SE O PLANO ESTÁ VENCIDO
				IF @v_qtdeDias < 0
					BEGIN
						UPDATE TB_PESSOA_PLANO_ADESAO
						SET ID_SITUACAO_PESSOA_PLANO_ADESAO = 2,
							CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
							DT_ATUALIZACAO = GETDATE()
						WHERE CD_PESSOA_PLANO_ADESAO = @v_codigoPessoaPlanoAdesao

						-- PRECISAMOS AQUI BUSCAR O PLANO BASE E APLICAR PARA A PESSOA DE ACORDO COM O PAPEL
						SELECT @v_codigoPlanoAdesao = ISNULL(MIN(PA.CD_PLANO_ADESAO),0)
						  FROM TB_PESSOA_RESUMO PR WITH(NOLOCK), TB_PLANO_ADESAO PA WITH(NOLOCK), TB_PLANO_ADESAO_PAPEL PAP WITH(NOLOCK)
						 WHERE PR.CD_PESSOA = @v_codigoPessoa
						   AND PR.CD_FUNCAO = 2
						   AND PA.CD_PLANO_ADESAO = PAP.CD_PLANO_ADESAO
						   AND ISNULL(PAP.CD_PAPEL_CARREIRA,PR.CD_PAPEL_CARREIRA) = PR.CD_PAPEL_CARREIRA
						   AND ISNULL(PAP.CD_PAPEL_DESEMPENHO,PR.CD_PAPEL_DESEMPENHO) = PR.CD_PAPEL_DESEMPENHO
						   AND PA.ID_NIVEL_PLANO_ADESAO = 1
						   AND PA.ID_SITUACAO_PLANO_ADESAO = 1 -- PLANOS ATIVOS

						-- SE ENCONTRAR UM PLANO BASE ATIVO APLICA PARA A PESSOA
						IF @v_codigoPlanoAdesao > 0
							BEGIN
								EXEC [dbo].[pr_PessoaPlanoAdesaoInserePlano] @v_codigoPessoa,
																			 @v_codigoPlanoAdesao,
																			 1,
																			 NULL,
																			 NULL,
																			 NULL,
																			 NULL,
																			 NULL,
																			 0,
																			 0,
																			 NULL,
																			 NULL,
																			 NULL,
																			 NULL,
																			 NULL,
																			 @p_codigoUsuario,
																			 'N',
																			 @p_codigoErro OUTPUT,
																			 @p_descErro OUTPUT,
																			 @v_qtLinhasAfetadas OUTPUT
							END
					END
				
				FETCH NEXT FROM @v_cursorPlanosAdesao
				INTO @v_codigoPessoaPlanoAdesao, @v_dataFinalPlano, @v_qtdeDias, @v_codigoPessoa
			END
		CLOSE      @v_cursorPlanosAdesao
		DEALLOCATE @v_cursorPlanosAdesao
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
