SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ListaPessoaAniversariantes2]
	@p_cdPessoaLogin				NUMERIC(18,0),
	@p_cdPessoa						NUMERIC(18,0), 
	@p_diaAniversarioIni			NUMERIC(2,0),
	@p_mesAniversarioIni			NUMERIC(2,0),
	@p_diaAniversarioFim			NUMERIC(2,0),
	@p_mesAniversarioFim			NUMERIC(2,0),
	@p_funcaoPesquisa				int,
	@p_cdSituacaoComercial			int,
	@p_dcNomePessoa					VARCHAR(MAX)
	
AS
  BEGIN 		        
	DECLARE @v_codigoCliente				INT,
			@v_pessoaFisica					INT,
			@v_pessoaJuridica				INT

			SELECT @v_codigoCliente = 0

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	SELECT @v_codigoCliente = VL_PARAMETRO 
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO         = 1
	   AND CD_VALOR_PARAMETRO   = 1

	-- *********************************************
	-- VERIFICA SE É PESSOA FISICA OU JURIDICA
	-- *********************************************
	SELECT @v_pessoaFisica = COUNT(*) --VERIFICA SE É PJ
	FROM TB_PESSOA_FISICA WITH(NOLOCK)
	WHERE CD_PESSOA = @p_cdPessoaLogin

	SELECT @v_pessoaJuridica = COUNT(*) --VERIFICA SE É PJ
	FROM TB_PESSOA_JURIDICA WITH(NOLOCK)
	WHERE CD_PESSOA = @p_cdPessoaLogin

	-- kenko patto
	IF @v_codigoCliente = 55
	BEGIN
		
--		IF @v_pessoaFisica > 0
--		BEGIN
			-- *********************************************
			-- PESSOA FISICA
			-- *********************************************

			SELECT	[TIPO], [ID],  
				[Pessoa], 
				FORMAT(DT_NASCIMENTO,'dd/MM') as [Data Aniversário],
				[Fone], 
				[E-Mail],  
				[Sit. Comercial], 
				[Qualificação]
			FROM (
				SELECT	'F' [TIPO],A.CD_PESSOA [ID],
					DBO.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) [Pessoa],
					B.DT_NASCIMENTO,
					DBO.FN_BUSCA_TELEFONE_PESSOA(A.CD_PESSOA,3) [Fone],
					DBO.FN_BUSCA_EMAIL_PESSOA(A.CD_PESSOA,0) [E-Mail],
					DBO.FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA(A.CD_PESSOA,A.NM_CICLO_ATUAL) [Sit. Comercial],
					DBO.FN_BUSCA_DESC_PAPEL_CARREIRA (A.CD_FUNCAO, A.CD_PAPEL_CARREIRA) [Qualificação]
				FROM	TB_PESSOA_RESUMO A WITH(NOLOCK),
					TB_PESSOA_FISICA B WITH(NOLOCK)
				WHERE A.CD_PESSOA = B.CD_PESSOA
				AND B.DT_NASCIMENTO IS NOT NULL
				AND A.CD_PESSOA IN (SELECT TW.CD_PESSOA_VINCULADA 
							FROM TB_WRK_MN_TOPOLOGIA TW  WITH(NOLOCK) 
							WHERE TW.NM_CICLO = A.NM_CICLO_ATUAL 
							AND TW.CD_PESSOA = @p_cdPessoaLogin 
							AND TW.CD_FUNCAO = A.CD_FUNCAO 
							AND TW.ID_ORDEM = 2 	
							AND ((@p_cdPessoa > 0 AND TW.CD_PESSOA_VINCULADA = @p_cdPessoa) OR (@p_cdPessoa = 0)))
				AND ((LEN(@p_dcNomePessoa) > 0 AND UPPER(ISNULL(B.DC_NOME,'') + ' ' + ISNULL(B.DC_SOBRENOME,'')) LIKE '%' + @p_dcNomePessoa + '%') OR (@p_dcNomePessoa = ''))
				AND ((@p_diaAniversarioIni > 0 AND DAY(B.DT_NASCIMENTO) >= @p_diaAniversarioIni) OR (@p_diaAniversarioIni = 0))
				AND ((@p_mesAniversarioIni > 0 AND month(B.DT_NASCIMENTO) >= @p_mesAniversarioIni) OR (@p_mesAniversarioIni = 0))
				AND ((@p_diaAniversarioFim > 0 AND DAY(B.DT_NASCIMENTO) <= @p_diaAniversarioFim) OR (@p_diaAniversarioFim = 0))
				AND ((@p_mesAniversarioFim > 0 AND month(B.DT_NASCIMENTO) <= @p_mesAniversarioFim) OR (@p_mesAniversarioFim = 0))
				AND ((@p_funcaoPesquisa > 0 AND A.CD_FUNCAO = @p_funcaoPesquisa) or (@p_funcaoPesquisa = 0))
				AND ((@p_cdSituacaoComercial >= 0 
				AND @p_cdSituacaoComercial = (SELECT Y.CD_SITUACAO_COMERCIAL_DETALHE
								FROM TB_HIST_SITUACAO_CONSULTORA X WITH(NOLOCK), TB_NIVEL_SITUACAO_COMERCIAL_DETALHE Y WITH(NOLOCK)
								WHERE A.CD_PESSOA = X.CD_PESSOA
								AND A.NM_CICLO_ATUAL = X.NM_CICLO
								AND X.CD_SITUACAO_COMERCIAL_DETALHE = Y.CD_SITUACAO_COMERCIAL_DETALHE)) 
								OR (@p_cdSituacaoComercial = -1))

			union all
			SELECT	'J1' [TIPO],A.CD_PESSOA [ID],
				B.DC_NOME + ' ' + B.DC_SOBRENOME [Pessoa],
				B.DT_NASCIMENTO,
				B.DC_TELEFONE [Fone],
				B.DC_EMAIL [E-Mail],
				DBO.FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA(A.CD_PESSOA,A.NM_CICLO_ATUAL) [Sit. Comercial],
				DBO.FN_BUSCA_DESC_PAPEL_CARREIRA (A.CD_FUNCAO, A.CD_PAPEL_CARREIRA) [Qualificação]
			FROM	TB_PESSOA_RESUMO A WITH(NOLOCK),
				TB_PESSOA_JURIDICA_CONTATO B WITH(NOLOCK),
				TB_PESSOA_JURIDICA C WITH(NOLOCK)
			WHERE A.CD_PESSOA = C.CD_PESSOA
			AND C.CD_PESSOA = B.CD_PESSOA
			AND B.DT_NASCIMENTO IS NOT NULL
			AND A.CD_PESSOA IN (SELECT TW.CD_PESSOA_VINCULADA 
						FROM TB_WRK_MN_TOPOLOGIA TW  WITH(NOLOCK) 
						WHERE TW.NM_CICLO = A.NM_CICLO_ATUAL 
						AND TW.CD_PESSOA = @p_cdPessoaLogin 
						AND TW.CD_FUNCAO = A.CD_FUNCAO 
						AND TW.ID_ORDEM = 2 	
						AND ((@p_cdPessoa > 0 AND TW.CD_PESSOA_VINCULADA = @p_cdPessoa) OR (@p_cdPessoa = 0)))
			AND ((LEN(@p_dcNomePessoa) > 0 AND UPPER(ISNULL(C.DC_RAZAO_SOCIAL,'') + ' ' + ISNULL(C.DC_RAZAO_SOCIAL,'')) LIKE '%' + @p_dcNomePessoa + '%') OR (@p_dcNomePessoa = ''))
			AND ((@p_diaAniversarioIni > 0 AND DAY(B.DT_NASCIMENTO) >= @p_diaAniversarioIni) OR (@p_diaAniversarioIni = 0))
			AND ((@p_mesAniversarioIni > 0 AND month(B.DT_NASCIMENTO) >= @p_mesAniversarioIni) OR (@p_mesAniversarioIni = 0))
			AND ((@p_diaAniversarioFim > 0 AND DAY(B.DT_NASCIMENTO) <= @p_diaAniversarioFim) OR (@p_diaAniversarioFim = 0))
			AND ((@p_mesAniversarioFim > 0 AND month(B.DT_NASCIMENTO) <= @p_mesAniversarioFim) OR (@p_mesAniversarioFim = 0))
			AND ((@p_funcaoPesquisa > 0 AND A.CD_FUNCAO = @p_funcaoPesquisa) or (@p_funcaoPesquisa = 0))
			AND ((@p_cdSituacaoComercial >= 0 
			AND @p_cdSituacaoComercial = (SELECT Y.CD_SITUACAO_COMERCIAL_DETALHE
							FROM TB_HIST_SITUACAO_CONSULTORA X WITH(NOLOCK), TB_NIVEL_SITUACAO_COMERCIAL_DETALHE Y WITH(NOLOCK)
							WHERE A.CD_PESSOA = X.CD_PESSOA
							AND A.NM_CICLO_ATUAL = X.NM_CICLO
							AND X.CD_SITUACAO_COMERCIAL_DETALHE = Y.CD_SITUACAO_COMERCIAL_DETALHE)) 
							OR (@p_cdSituacaoComercial = -1))

			union all
			SELECT	'J2' [TIPO], A.CD_PESSOA [ID],
				B.DC_NOME + ' ' + B.DC_SOBRENOME [Pessoa],
				B.DT_NASCIMENTO,
				B.DC_TELEFONE [Fone],
				B.DC_EMAIL [E-Mail],
				DBO.FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA(A.CD_PESSOA,A.NM_CICLO_ATUAL) [Sit. Comercial],
				DBO.FN_BUSCA_DESC_PAPEL_CARREIRA (A.CD_FUNCAO, A.CD_PAPEL_CARREIRA) [Qualificação]
			FROM	TB_PESSOA_RESUMO A WITH(NOLOCK),
				TB_PESSOA_JURIDICA_CONTATO B WITH(NOLOCK),
				TB_PESSOA_JURIDICA C WITH(NOLOCK)
			WHERE A.CD_PESSOA = C.CD_PESSOA
			AND C.CD_PESSOA = B.CD_PESSOA
			AND B.DT_NASCIMENTO IS NOT NULL
			AND A.CD_PESSOA IN (SELECT TW.CD_PESSOA_VINCULADA 
						FROM TB_WRK_MN_TOPOLOGIA TW  WITH(NOLOCK) 
						WHERE TW.NM_CICLO = A.NM_CICLO_ATUAL 
						AND TW.CD_PESSOA = @p_cdPessoaLogin 
						AND TW.CD_FUNCAO = A.CD_FUNCAO 
						AND TW.ID_ORDEM = 2 	
						AND ((@p_cdPessoa > 0 AND TW.CD_PESSOA_VINCULADA = @p_cdPessoa) OR (@p_cdPessoa = 0)))
			AND ((LEN(@p_dcNomePessoa) > 0 AND UPPER(ISNULL(B.DC_NOME,'') + ' ' + ISNULL(B.DC_SOBRENOME,'')) LIKE '%' + @p_dcNomePessoa + '%') OR (@p_dcNomePessoa = ''))
			AND ((@p_diaAniversarioIni > 0 AND DAY(B.DT_NASCIMENTO) >= @p_diaAniversarioIni) OR (@p_diaAniversarioIni = 0))
			AND ((@p_mesAniversarioIni > 0 AND month(B.DT_NASCIMENTO) >= @p_mesAniversarioIni) OR (@p_mesAniversarioIni = 0))
			AND ((@p_diaAniversarioFim > 0 AND DAY(B.DT_NASCIMENTO) <= @p_diaAniversarioFim) OR (@p_diaAniversarioFim = 0))
			AND ((@p_mesAniversarioFim > 0 AND month(B.DT_NASCIMENTO) <= @p_mesAniversarioFim) OR (@p_mesAniversarioFim = 0))
			AND ((@p_funcaoPesquisa > 0 AND A.CD_FUNCAO = @p_funcaoPesquisa) or (@p_funcaoPesquisa = 0))
			AND ((@p_cdSituacaoComercial >= 0 
			AND @p_cdSituacaoComercial = (SELECT Y.CD_SITUACAO_COMERCIAL_DETALHE
							FROM TB_HIST_SITUACAO_CONSULTORA X WITH(NOLOCK), TB_NIVEL_SITUACAO_COMERCIAL_DETALHE Y WITH(NOLOCK)
							WHERE A.CD_PESSOA = X.CD_PESSOA
							AND A.NM_CICLO_ATUAL = X.NM_CICLO
							AND X.CD_SITUACAO_COMERCIAL_DETALHE = Y.CD_SITUACAO_COMERCIAL_DETALHE)) 
							OR (@p_cdSituacaoComercial = -1))

			) Dados 

			order by MONTH(DT_NASCIMENTO),DAY(DT_NASCIMENTO)			
/*		END
		ELSE
		BEGIN
			IF @v_pessoaJuridica > 0
			BEGIN
			-- *********************************************
			-- PESSOA JURIDICA
			-- *********************************************
				SELECT	A.CD_PESSOA [ID],
					B.DC_NOME + ' ' + B.DC_SOBRENOME [Pessoa],
					CONVERT(VARCHAR(5),B.DT_NASCIMENTO,3) AS [Data Aniversário],
					B.DC_TELEFONE [Fone],
					B.DC_EMAIL [E-Mail],
					DBO.FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA(A.CD_PESSOA,A.NM_CICLO_ATUAL) [Sit. Comercial],
					DBO.FN_BUSCA_DESC_PAPEL_CARREIRA (A.CD_FUNCAO, A.CD_PAPEL_CARREIRA) [Qualificação]
				FROM	TB_PESSOA_RESUMO A WITH(NOLOCK),
					TB_PESSOA_JURIDICA_CONTATO B WITH(NOLOCK)
				WHERE A.CD_PESSOA = B.CD_PESSOA
				AND B.DT_NASCIMENTO IS NOT NULL
				AND ((@p_cdPessoaLogin > 0 AND B.CD_PESSOA = @p_cdPessoaLogin) or (@p_cdPessoaLogin = 0))
				AND ((LEN(@p_dcNomePessoa) > 0 AND UPPER(ISNULL(B.DC_NOME,'') + ' ' + ISNULL(B.DC_SOBRENOME,'')) LIKE '%' + @p_dcNomePessoa + '%') OR (@p_dcNomePessoa = ''))
				AND ((@p_diaAniversarioIni > 0 AND DAY(B.DT_NASCIMENTO) >= @p_diaAniversarioIni) OR (@p_diaAniversarioIni = 0))
				AND ((@p_mesAniversarioIni > 0 AND month(B.DT_NASCIMENTO) >= @p_mesAniversarioIni) OR (@p_mesAniversarioIni = 0))
				AND ((@p_diaAniversarioFim > 0 AND DAY(B.DT_NASCIMENTO) <= @p_diaAniversarioFim) OR (@p_diaAniversarioFim = 0))
				AND ((@p_mesAniversarioFim > 0 AND month(B.DT_NASCIMENTO) <= @p_mesAniversarioFim) OR (@p_mesAniversarioFim = 0))
				AND ((@p_funcaoPesquisa > 0 AND A.CD_FUNCAO = @p_funcaoPesquisa) or (@p_funcaoPesquisa = 0))
				AND ((@p_cdSituacaoComercial >= 0 
				AND @p_cdSituacaoComercial = (SELECT Y.CD_SITUACAO_COMERCIAL_DETALHE
								FROM TB_HIST_SITUACAO_CONSULTORA X WITH(NOLOCK), TB_NIVEL_SITUACAO_COMERCIAL_DETALHE Y WITH(NOLOCK)
								WHERE A.CD_PESSOA = X.CD_PESSOA
								AND A.NM_CICLO_ATUAL = X.NM_CICLO
								AND X.CD_SITUACAO_COMERCIAL_DETALHE = Y.CD_SITUACAO_COMERCIAL_DETALHE)) 
								OR (@p_cdSituacaoComercial = -1))
				order by day(B.DT_NASCIMENTO),MONTH(B.DT_NASCIMENTO)


			END
		END  */
	END
	--DEMAIS CLIENTES
	ELSE
	BEGIN
		SELECT	A.CD_PESSOA,
			DBO.FN_BUSCA_NOME_PESSOA(A.CD_PESSOA) DC_PESSOA,
			CONVERT(VARCHAR(5),B.DT_NASCIMENTO,3) AS DT_NASCIMENTO, 
			DBO.FN_BUSCA_TELEFONE_PESSOA(A.CD_PESSOA,3) NM_FONE,
			DBO.FN_BUSCA_EMAIL_PESSOA(A.CD_PESSOA,0) DC_EMAIL,
			DBO.FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA(A.CD_PESSOA,A.NM_CICLO_ATUAL) DC_SITUACAO_COMERCIAL
		FROM	TB_PESSOA_RESUMO A WITH(NOLOCK),
			TB_PESSOA_FISICA B WITH(NOLOCK)
		WHERE A.CD_PESSOA = B.CD_PESSOA
		AND B.DT_NASCIMENTO IS NOT NULL
		AND A.CD_PESSOA IN (SELECT TW.CD_PESSOA_VINCULADA 
					FROM TB_WRK_MN_TOPOLOGIA TW  WITH(NOLOCK) 
					WHERE TW.NM_CICLO = A.NM_CICLO_ATUAL 
					AND TW.CD_PESSOA = @p_cdPessoaLogin 
					AND TW.CD_FUNCAO = A.CD_FUNCAO 
					AND TW.ID_ORDEM = 2	
					AND ((@p_cdPessoa > 0 AND TW.CD_PESSOA_VINCULADA = @p_cdPessoa) OR (@p_cdPessoa = 0)))
		AND ((LEN(@p_dcNomePessoa) > 0 AND UPPER(ISNULL(B.DC_NOME,'') + ' ' + ISNULL(B.DC_SOBRENOME,'')) LIKE '%' + @p_dcNomePessoa + '%') OR (@p_dcNomePessoa = ''))
		AND ((@p_diaAniversarioIni > 0 AND DAY(B.DT_NASCIMENTO) >= @p_diaAniversarioIni) OR (@p_diaAniversarioIni = 0))
		AND ((@p_mesAniversarioIni > 0 AND month(B.DT_NASCIMENTO) >= @p_mesAniversarioIni) OR (@p_mesAniversarioIni = 0))
		AND ((@p_diaAniversarioFim > 0 AND DAY(B.DT_NASCIMENTO) <= @p_diaAniversarioFim) OR (@p_diaAniversarioFim = 0))
		AND ((@p_mesAniversarioFim > 0 AND month(B.DT_NASCIMENTO) <= @p_mesAniversarioFim) OR (@p_mesAniversarioFim = 0))
		AND ((@p_funcaoPesquisa > 0 AND A.CD_FUNCAO = @p_funcaoPesquisa) or (@p_funcaoPesquisa = 0))
		AND ((@p_cdSituacaoComercial >= 0 
		AND @p_cdSituacaoComercial = (SELECT Y.CD_SITUACAO_COMERCIAL_DETALHE
						FROM TB_HIST_SITUACAO_CONSULTORA X WITH(NOLOCK), TB_NIVEL_SITUACAO_COMERCIAL_DETALHE Y WITH(NOLOCK)
						WHERE A.CD_PESSOA = X.CD_PESSOA
					   	AND A.NM_CICLO_ATUAL = X.NM_CICLO
			        	        AND X.CD_SITUACAO_COMERCIAL_DETALHE = Y.CD_SITUACAO_COMERCIAL_DETALHE)) 
			   			OR (@p_cdSituacaoComercial = -1))
		order by day(B.DT_NASCIMENTO),MONTH(B.DT_NASCIMENTO)
	END
END
GO
