SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaPessoaContaCorrente]
		@CD_PESSOA					NUMERIC(18,0),
        @CD_FUNCAO                  NUMERIC(18,0),
        @ID_ENTIDADE_CONTA_CORRENTE INT,
        @DT_MOVIMENTO_INICIO        VARCHAR(10),
        @DT_MOVIMENTO_FIM			VARCHAR(10)
        
AS
BEGIN 
  SELECT P.DT_MOVIMENTO AS "Data",
      -- P.CD_PESSOA AS "Pessoa", **
      -- dbo.FN_BUSCA_NOME_PESSOA(P.CD_PESSOA) AS "Nome", **
       dbo.FN_BUSCA_DOMINIO('TIPO_MOVIMENTO', P.ID_TIPO_MOVIMENTO) AS "Tipo de Movimento",
       CASE 
         WHEN P.ID_TIPO_MOVIMENTO = 1 THEN VL_MOVIMENTO
         WHEN P.ID_TIPO_MOVIMENTO = 2 THEN VL_MOVIMENTO * -1
       END AS "Valor (R$)",
       dbo.FN_BUSCA_DOMINIO('ORIGEM_MOVIMENTO', P.ID_ORIGEM_MOVIMENTO) 
         + CASE WHEN (P.ID_ORIGEM_MOVIMENTO = 1           ) THEN ' : '+CONVERT (VARCHAR(20),P.NM_ORIGEM_MOVIMENTO) 
                WHEN (ISNULL(F.CD_PESSOA_TRANSFERIR,0) > 0) THEN ' : TRANSFERIDO DE '+CONVERT(VARCHAR(20),F.CD_PESSOA)+ ' PARA '+CONVERT (VARCHAR(20),F.CD_PESSOA_TRANSFERIR) 
         ELSE '' END AS "Origem",
       dbo.FN_BUSCA_DOMINIO('ELEMENTO_FINANCEIRO', P.ID_ELEMENTO_FINANCEIRO) AS "Elemento Financeiro"
--       dbo.FN_BUSCA_DOMINIO('ORIGEM_SALDO_FAVOR', ID_ORIGEM_SALDO_FAVOR) DC_ORIGEM_SALDO_FAVOR
  FROM TB_PESSOA_CONTA_CORRENTE P
  LEFT JOIN TB_SALDO_FAVOR_RESGATE F
  ON P.NM_ORIGEM_MOVIMENTO = F.CD_SALDO_FAVOR_RESGATE
  WHERE P.CD_PESSOA                    = @CD_PESSOA
  AND   P.CD_FUNCAO                    = @CD_FUNCAO
  AND   P.ID_ENTIDADE_CONTA_CORRENTE   = @ID_ENTIDADE_CONTA_CORRENTE
  AND   (   (@DT_MOVIMENTO_INICIO IS NOT NULL AND CONVERT(DATE, P.DT_MOVIMENTO) >= CONVERT(DATE, @DT_MOVIMENTO_INICIO)) OR (@DT_MOVIMENTO_INICIO IS NULL))
  AND   (   (@DT_MOVIMENTO_FIM IS NOT NULL AND CONVERT(DATE, P.DT_MOVIMENTO) <= CONVERT(DATE, @DT_MOVIMENTO_FIM)) OR (@DT_MOVIMENTO_FIM IS NULL))
  ORDER BY P.CD_PESSOA_CONTA_CORRENTE
end



GO
