SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
ROTINA QUE INSERE INFORMAÇÃO NA TABELA TB_PEDIDO
*/

CREATE PROCEDURE [dbo].[pr_PedidoInserePedido]
	@p_codigoPessoa				numeric(18, 0),
	@p_codigoFuncao				numeric(18, 0),
	@p_codigoEstComercial		numeric(18, 0),
	@p_codigoEstSituacao		numeric(18, 0),
	@p_codigoRegraComercial		numeric(18, 0),

	@p_numeroCicloCaptacao		numeric(18, 0),
	@p_codigoPapelCarreira		numeric(18, 0),
	@p_codigoPapelDesempenho	numeric(18, 0),
	@p_codigoOrigemCaptacao		int,
	
	@p_descObservacoesPedido	varchar(max),
				
	@p_codigoUsuario			NUMERIC(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output,
	@p_numeroPedido		numeric(18,0)	output

AS


DECLARE @v_codigoCentroDistribuicao		numeric(18, 0)
DECLARE @v_codigoMovimentaEstoque		int
DECLARE @v_codigoSeparaPedido			int
DECLARE @v_codigoGeraNotaFiscal			int
DECLARE @v_codigoPermiteEdicaoPedido	int,
		@v_idSeparacaoPedido			INT,
		@v_idConferenciaPedido			INT

BEGIN TRY
	
	-- ****************************************************************
	-- BUSCA ALGUMAS INFORMAÇÕES DA REGRA COMERCIAL
	-- ****************************************************************
	SELECT	@v_codigoCentroDistribuicao = CD_CENTRO_DISTRIBUICAO,
			@v_codigoMovimentaEstoque = ID_MOVIMENTA_ESTOQUE,
			@v_codigoSeparaPedido = ID_SEPARA_PEDIDO,
			@v_codigoGeraNotaFiscal = ID_GERA_NOTA_FISCAL,
			@v_codigoPermiteEdicaoPedido = ID_PERMITE_EDICAO_PEDIDO,
			@v_idSeparacaoPedido = ID_SEPARACAO_PEDIDO,
			@v_idConferenciaPedido = ID_CONFERENCIA_PEDIDO
	FROM TB_REGRA_COMERCIAL
	WHERE CD_REGRA_COMERCIAL = @p_codigoRegraComercial
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	BEGIN TRANSACTION 
		
		INSERT INTO TB_PEDIDO (
			CD_FUNCAO,
			DT_CADASTRO_PEDIDO,
			DT_CAPTACAO_PEDIDO,
			CD_PESSOA,
			CD_EST_COMERCIAL,
			CD_EST_SITUACAO,
			CD_REGRA_COMERCIAL,
			CD_CENTRO_DISTRIBUICAO,
			NM_CICLO_CAPTACAO,
			CD_PAPEL_CARREIRA,
			CD_PAPEL_DESEMPENHO,
			ID_ORIGEM_CAPTACAO,
			ID_MOVIMENTA_ESTOQUE,
			ID_GERA_NOTA_FISCAL,
			ID_SEPARA_PEDIDO,
			DC_OBSERVACOES_PEDIDO,
			ID_PERMITE_EDICAO_PEDIDO,
			ID_SEPARACAO_PEDIDO,
			ID_CONFERENCIA_PEDIDO)					
				
		VALUES           (
			@p_codigoFuncao,
			GETDATE(),
			GETDATE(),
			@p_codigoPessoa,
			@p_codigoEstComercial,
			@p_codigoEstSituacao,
			@p_codigoRegraComercial,
			@v_codigoCentroDistribuicao,
			@p_numeroCicloCaptacao,
			@p_codigoPapelCarreira,
			@p_codigoPapelDesempenho,
			@p_codigoOrigemCaptacao,
			@v_codigoMovimentaEstoque,
			@v_codigoGeraNotaFiscal,
			@v_codigoSeparaPedido,
			@p_descObservacoesPedido,
			@v_codigoPermiteEdicaoPedido,
			@v_idSeparacaoPedido,
			@v_idConferenciaPedido)

		SELECT @p_linhasAfetadas = @@ROWCOUNT
		SELECT @p_numeroPedido = SCOPE_IDENTITY()
	
		COMMIT TRANSACTION

	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
