SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   
CREATE PROCEDURE [dbo].[pr_MNBuscaDetalheRemuneracaoSaldo]

	@p_cdPessoa				NUMERIC(18,0),
	@p_nmCicloIni			NUMERIC(18,0), 
	@p_cdPessoaLogin		numeric(18,0),
	@p_cdTipo				int
	
AS
  BEGIN 		        
	DECLARE @v_codigoCliente				INT

			SELECT @v_codigoCliente = 0

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	SELECT @v_codigoCliente = VL_PARAMETRO 
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO         = 1
	   AND CD_VALOR_PARAMETRO   = 1

	-- kenko patto
	IF @v_codigoCliente = 55
		BEGIN
			SELECT	'RECEITA' TIPO, 
					ISNULL(SUM(A.VL_REMUNERACAO),0) VALOR 
			   FROM	TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK) 
			  WHERE A.ID_MOTIVO_REMUNERACAO = 1 
				AND A.CD_PESSOA = @p_cdPessoa 
				AND A.NM_CICLO = @p_nmCicloIni 
				AND A.NM_CICLO <= (SELECT PES.NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO PES WHERE A.CD_PESSOA = PES.CD_PESSOA AND A.CD_FUNCAO = PES.CD_FUNCAO)
				AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
  						TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
						TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
						And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))

			UNION ALL 
			SELECT 'DEVOLUÇÃO' TIPO, 
					ISNULL(SUM(A.VL_REMUNERACAO *-1),0) VALOR 
			   FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK) 
			  WHERE A.ID_MOTIVO_REMUNERACAO = 2 
				AND A.CD_PESSOA = @p_cdPessoa
				AND A.NM_CICLO = @p_nmCicloIni 
				AND A.NM_CICLO <= (SELECT PES.NM_CICLO_ATUAL FROM TB_PESSOA_RESUMO PES WHERE A.CD_PESSOA = PES.CD_PESSOA AND A.CD_FUNCAO = PES.CD_FUNCAO)
				AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
  						TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
						TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
						And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))

			UNION ALL 
			SELECT 'SALDO' TIPO, 
					sum(x.VALOR) VALOR 
			   FROM (SELECT	VALOR = Case A.ID_MOTIVO_REMUNERACAO WHEN 1 THEN A.VL_REMUNERACAO * 1 WHEN 2 THEN A.VL_REMUNERACAO * -1 End  
					   FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK) 
					  WHERE A.CD_PESSOA = @p_cdPessoa
						AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
  							  TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
							  TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
							  And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))
						AND A.NM_CICLO = @p_nmCicloIni) X
		END
	--DEMAIS CLIENTES
	ELSE
		BEGIN
			SELECT	'RECEITA' TIPO, 
					ISNULL(SUM(A.VL_REMUNERACAO),0) VALOR 
			   FROM	TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK) 
			  WHERE A.ID_MOTIVO_REMUNERACAO = 1 
				AND A.CD_PESSOA = @p_cdPessoa 
				AND A.NM_CICLO = @p_nmCicloIni 
				AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
  						TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
						TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
						And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))

			UNION ALL 
			SELECT 'DEVOLUÇÃO' TIPO, 
					ISNULL(SUM(A.VL_REMUNERACAO *-1),0) VALOR 
			   FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK) 
			  WHERE A.ID_MOTIVO_REMUNERACAO = 2 
				AND A.CD_PESSOA = @p_cdPessoa
				AND A.NM_CICLO = @p_nmCicloIni 
				AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
  						TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
						TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
						And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))

			UNION ALL 
			SELECT 'SALDO' TIPO, 
					sum(x.VALOR) VALOR 
			   FROM (SELECT	VALOR = Case A.ID_MOTIVO_REMUNERACAO WHEN 1 THEN A.VL_REMUNERACAO * 1 WHEN 2 THEN A.VL_REMUNERACAO * -1 End  
					   FROM TB_MN_DETALHE_REMUNERACAO A WITH(NOLOCK) 
					  WHERE A.CD_PESSOA = @p_cdPessoa
						AND ((@p_cdTipo <> 1 And A.CD_PESSOA In (Select PR2.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), 
  							  TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), 
							  TB_PESSOA_RESUMO PR2 WITH(NOLOCK) WHERE PC.CD_PESSOA = @p_cdPessoaLogin  And PC.CD_EMPRESA = CD.CD_EMPRESA
							  And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO And EC.CD_EST_COMERCIAL = PR2.CD_EST_COMERCIAL)) OR (@p_cdTipo = 1))
						AND A.NM_CICLO = @p_nmCicloIni) X

		END
END
GO
