SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PessoaAtualizaDadosPessoaResumo]
	@p_codigoPessoa				NUMERIC(18,0),
	@p_codigoFuncao				INT,
	@p_idIsencaoPrimeiroPedido	INT,
	@p_idNaoDesativa			INT,
	@p_idNaoParticipaMN			INT,
	@p_idAtivaBonificacao		INT,
	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT
AS

BEGIN TRY

	SELECT @p_qtLinhasAfetadas = 0,
		   @p_codigoErro = 0,
		   @p_descErro = ''
  
	-- ATUALIZA A INFORMAÇÃO NA PESSOA RESUMO
	UPDATE TB_PESSOA_RESUMO 
	   SET ID_VIP_ISENCAO_COMPRA_KIT = @p_idIsencaoPrimeiroPedido,
		   ID_VIP_NAO_DESATIVADA = @p_idNaoDesativa,
		   ID_VIP_NAO_PARTICIPA_MN = @p_idNaoParticipaMN,
		   ID_VIP_SEMPRE_ATIVA_BONIFICACAO = @p_idAtivaBonificacao
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND CD_FUNCAO = @p_codigoFuncao
			
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
