SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 02/04/2019
-- Description:	Insere as informações do split de pagamento
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoInserePedidoSplitPagamento]
	-- Add the parameters for the stored procedure here
	@p_numeroPedido				numeric(18,0),
	@p_codigoPessoaContaServExt	numeric(18,0),
	@p_codigoRemuneracao		numeric(18,0),
	@p_descAcao			varchar(1),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS
BEGIN TRY
	
	SET NOCOUNT ON;

    IF @p_descAcao = 'I'
		BEGIN
    
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
			
			insert into TB_PEDIDO_SPLIT_PAGAMENTO (NM_PEDIDO, CD_PESSOA_CONTA_SERVICO_EXTERNO, CD_REMUNERACAO)
			 values (@p_numeroPedido,@p_codigoPessoaContaServExt,@p_codigoRemuneracao)

			UPDATE TB_PEDIDO set ID_SPLIT_PAGAMENTO = 1 WHERE NM_PEDIDO = @p_numeroPedido
			
		END
		
	IF @p_descAcao = 'E'
		BEGIN
			
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
			
			DELETE FROM TB_PEDIDO_SPLIT_PAGAMENTO WHERE NM_PEDIDO = @p_numeroPedido
			
			UPDATE TB_PEDIDO set ID_SPLIT_PAGAMENTO = 2 WHERE NM_PEDIDO = @p_numeroPedido
		END
		
	IF @p_descAcao = 'A'
		BEGIN
			
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
			
			UPDATE TB_PEDIDO_SPLIT_PAGAMENTO 
			SET CD_PESSOA_CONTA_SERVICO_EXTERNO = @p_codigoPessoaContaServExt, 
				CD_REMUNERACAO = @p_codigoRemuneracao
			WHERE NM_PEDIDO = @p_numeroPedido
		
		END
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
