SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_VERIFICA_EXECUCAO_PROCESSOS_PACHAMAMA]

	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

-- **************************************************************************
-- VERIFICA SE OS PROCESSOS DE JOB ESTÃO EXECUTANDO NORMALMENTE
-- CASO CONTRARIO CRIA UM EMAIL DE ALERTA
-- **************************************************************************
DECLARE @QT_MINUTOS						INT
DECLARE @CD_EMAIL						INT
DECLARE @QT_PEDIDOS_ERRO				INT


BEGIN TRY
	
	SELECT @QT_LINHAS_AFETADAS = 0

	-- ************************************************************
	-- BUSCA O CODIGO DE EMAIL DO EVENTO MONITORAMENTO
	-- ************************************************************
	SELECT @CD_EMAIL = CD_EMAIL
	FROM TB_EMAIL
	WHERE ID_TIPO_EMAIL_EVENTO = 33


	-- **************************************************************
	-- VALIDAÇÃO DE INTEGRAÇÃO COM OMIE - 1 - Insere Pessoas OMIE
	-- VERIFICA HA QUANTOS MINUTOS FOI EXECUTADO
	-- **************************************************************
	SELECT @QT_MINUTOS = DATEDIFF(minute, MAX(DT_TERMINO_EXECUCAO), getdate())
	FROM TB_LOG_INTEGRACAO
	WHERE CD_INTEGRACAO = 1
	AND DC_ERRO_EXECUCAO = 'Executado com Sucesso'

	-- SE FOR MAIOR QUE 30 MINUTOS SIGNIFICA QUE EXISTE ALGUM PROBLEMA NO PROCESSO
	IF @QT_MINUTOS > 30
		BEGIN
			INSERT INTO TB_ENVIO_EMAIL VALUES (@CD_EMAIL, GETDATE(), NULL, 1, NULL, 'alertas@atsvd.com.br', 'Problema na integração do OMIE - Pessoas', '')
		END


	-- **************************************************************
	-- VALIDAÇÃO DE INTEGRAÇÃO COM OMIE - 3 - Atualiza Estoque OMIE
	-- VERIFICA HA QUANTOS MINUTOS FOI EXECUTADO
	-- **************************************************************
	SELECT @QT_MINUTOS = DATEDIFF(minute, MAX(DT_TERMINO_EXECUCAO), getdate())
	FROM TB_LOG_INTEGRACAO
	WHERE CD_INTEGRACAO = 3
	AND DC_ERRO_EXECUCAO = 'Executado com Sucesso'

	-- SE FOR MAIOR QUE 30 MINUTOS SIGNIFICA QUE EXISTE ALGUM PROBLEMA NO PROCESSO
	IF @QT_MINUTOS > 30
		BEGIN
			INSERT INTO TB_ENVIO_EMAIL VALUES (@CD_EMAIL, GETDATE(), NULL, 1, NULL, 'alertas@atsvd.com.br', 'Problema na integração do OMIE - Estoque', '')
		END




	-- **************************************************************
	-- VALIDAÇÃO DE INTEGRAÇÃO COM OMIE - 4 - Pedidos
	-- VERIFICA HA QUANTOS MINUTOS FOI EXECUTADO
	-- **************************************************************
	SELECT @QT_MINUTOS = DATEDIFF(minute, MAX(DT_TERMINO_EXECUCAO), getdate())
	FROM TB_LOG_INTEGRACAO
	WHERE CD_INTEGRACAO = 4
	AND DC_ERRO_EXECUCAO = 'Executado com Sucesso'

	-- SE FOR MAIOR QUE 30 MINUTOS SIGNIFICA QUE EXISTE ALGUM PROBLEMA NO PROCESSO
	IF @QT_MINUTOS > 30
		BEGIN
			INSERT INTO TB_ENVIO_EMAIL VALUES (@CD_EMAIL, GETDATE(), NULL, 1, NULL, 'alertas@atsvd.com.br', 'Problema na integração do OMIE - Pedidos', '')
		END


	-- **************************************************************
	-- VERIFICA SE ALGUM PEDIDO DEU PROBLEMA NA INTEGRAÇÃO
	-- **************************************************************
	SELECT @QT_PEDIDOS_ERRO = COUNT(*)
	FROM tb_pedido
	WHERE ID_SITUACAO_INTEGRACAO = 1
	AND CD_EST_SITUACAO NOT IN (1,3)
	AND DC_MENSAGEM_INTEGRACAO <> 'Integrado com sucesso'
	AND NM_PEDIDO <> 348 -- PEDIDO ANTIGO

	IF @QT_PEDIDOS_ERRO > 0
		BEGIN
			INSERT INTO TB_ENVIO_EMAIL VALUES (@CD_EMAIL, GETDATE(), NULL, 1, NULL, 'alertas@atsvd.com.br', 'Erro na integração de alguns pedidos OMIE', '')
		END



	-- **************************************************************
	-- OCORREU UM CASO EM QUE O PEDIDO NÃO TINHA ENDEREÇO E SEM ESSA INFORMAÇÃO NÃO ENTRA NA LISTA DE INTEGRAÇÃO
	-- **************************************************************
	SELECT @QT_PEDIDOS_ERRO = COUNT(*)
	FROM TB_PEDIDO P
	WHERE P.CD_EST_SITUACAO IN (2,4) 
	AND ISNULL(P.NM_PEDIDO_EXTERNO,0) = 0
	AND P.NM_PEDIDO <> 348
	AND P.NM_PEDIDO NOT IN (SELECT NM_PEDIDO FROM TB_PEDIDO_ENDERECO)

	IF @QT_PEDIDOS_ERRO > 0
		BEGIN
			INSERT INTO TB_ENVIO_EMAIL VALUES (@CD_EMAIL, GETDATE(), NULL, 1, NULL, 'alertas@atsvd.com.br', 'Pedidos não possuem endereço e não serão integrados - OMIE', '')
		END



END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
