SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_ConciliacaoInsereArquivoRemessa]
	@p_codigoArquivoRemessa			NUMERIC(18,0),
    @p_codigoBanco					NUMERIC(18,0),
    @p_descricaoTipoArquivo			VARCHAR(50),
    @p_descricaoNomeArquivo			VARCHAR(200),
	
	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoFuncao				VARCHAR(1),
		
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				INSERT INTO TB_ARQUIVO_REMESSA (

						DT_GERACAO_ARQUIVO,
						CD_BANCO,
						DC_TIPO_ARQUIVO,
						DC_NOME_ARQUIVO
				
					)
							
						
				VALUES           (
					GETDATE(),
					@p_codigoBanco,
					@p_descricaoTipoArquivo,
					@p_descricaoNomeArquivo
					)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_ARQUIVO_REMESSA')
				
				COMMIT TRANSACTION
			END	

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
