SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiPessoaInserePessoaDocumento]
	
	@p_codigoPessoa			NUMERIC(18,0),
	@p_idTipoDocumento		INT,
	@p_descNumeroDocumento	VARCHAR(50),
	@p_descOrgaoEmissor		VARCHAR(50),
	@p_dtEmissao			DATE,
	@p_codigoUsuario		NUMERIC(18,0),
	@p_descAcao				VARCHAR(1),
	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT

AS
					
BEGIN TRY

	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	IF @p_descAcao = 'I'
		BEGIN
			--INSERÇÃO DE UM NOVO DOCUMENTO
			INSERT INTO TB_PESSOA_DOCUMENTO
				(CD_PESSOA,
				ID_TIPO_DOCUMENTO,
				DC_DOCUMENTO,
				DC_ORGAO,
				DT_EMISSAO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO)
			VALUES
				(@p_codigoPessoa,
				@p_idTipoDocumento,
				@p_descNumeroDocumento,
				@p_descOrgaoEmissor,
				@p_dtEmissao,
				GETDATE(),
				@p_codigoUsuario,
				GETDATE(),
				@p_codigoUsuario)
		END

	IF @p_descAcao = 'A'
		BEGIN
			--ATUALIZAÇÃO DE UM DOCUMENTO EXISTENTE
			UPDATE TB_PESSOA_DOCUMENTO
			   SET DC_DOCUMENTO = @p_descNumeroDocumento,
			       DC_ORGAO = @p_descOrgaoEmissor,
				   DT_EMISSAO = @p_dtEmissao,
				   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
				   DT_ATUALIZACAO = GETDATE()
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_DOCUMENTO = @p_idTipoDocumento
		END

	IF @p_descAcao = 'E'
		BEGIN
			--EXCLUSÃO DE UM DOCUMENTO
			DELETE FROM TB_PESSOA_DOCUMENTO
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_DOCUMENTO = @p_idTipoDocumento
		END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
