SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE_SIBERIANN]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_Evento = 6 - FIM DIA = QUALIFICAÇÃO

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT,
        @CD_PAPEL_CARREIRA     NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO   NUMERIC(18,0)

DECLARE @VL_INDICADOR_PESSOAL_1001 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1006 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1007 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1011 NUMERIC(18,2),
	@VL_INDICADOR_PESSOAL_1012 NUMERIC(18,2)
	


BEGIN TRY
  
  SELECT @QT_LINHAS_AFETADAS = 0
  IF (@ID_EVENTO = 6) -- FIM DIA = QUALIFICAÇÃO
  BEGIN

      -- BUSCA O PAPEL DE CARREIRA E DESEMPENHO
      SELECT @CD_PAPEL_CARREIRA   = CD_PAPEL_CARREIRA,
             @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
      FROM TB_PESSOA_RESUMO A  with(nolock)
      WHERE A.CD_PESSOA  = @CD_PESSOA
      AND   A.CD_FUNCAO  = @CD_FUNCAO

      --******************************************************************************
      -- VALOR DE VENDAS (PRODUTIVIDADE)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1001,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_INDICADOR_PESSOAL_1001 = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	AND   B.CD_PRODUTO_VENDA NOT IN (2)   -- PRECISA O CÓDIGO DO KIT ISENCAO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1001
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_INDICADOR_PESSOAL_1001,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1001,
						@VL_INDICADOR_PESSOAL_1001,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

 
      --******************************************************************************
      -- ATIVA NO PLANO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1002,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = CASE WHEN (@VL_INDICADOR_PESSOAL_1001 > 0)  THEN 1 ELSE 0 END
	
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE INDICAÇÕES
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1003,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR =  COUNT(A.CD_PESSOA)
	FROM TB_PESSOA_RESUMO A with(nolock)
	WHERE A.CD_FUNCAO                       = @CD_FUNCAO
	AND   A.CD_PESSOA_VINCULADA             = @CD_PESSOA
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) = 1
	AND   EXISTS (SELECT * FROM TB_PESSOA_INDICADOR B with(nolock)
			WHERE B.CD_PESSOA            = A.CD_PESSOA
			AND   B.CD_FUNCAO            = A.CD_FUNCAO
			AND   B.NM_CICLO             = @NM_CICLO
			AND   B.CD_INDICADOR_PESSOAL = 1002
			AND   B.VL_INDICADOR_PESSOAL = 1) 
	AND  NOT EXISTS (SELECT * FROM TB_PESSOA_INDICADOR B with(nolock)
		 	 WHERE B.CD_PESSOA            = A.CD_PESSOA
			 AND   B.CD_FUNCAO            = A.CD_FUNCAO
			 AND   B.NM_CICLO            >= A.NM_CICLO_INICIO 
			 AND   B.NM_CICLO             < @NM_CICLO
			 AND   B.CD_INDICADOR_PESSOAL = 1002
			 AND   B.VL_INDICADOR_PESSOAL = 1)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1003
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1003,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE CICLOS ATIVOS EM 3 MESES
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1004,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO            >= DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,3)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1004
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1004,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- TOTAL DE CICLOS ATIVOS EM 6 MESES
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1005,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1002
	AND NM_CICLO            >= DBO.FN_BUSCA_CICLO_ANTERIOR_MMN (@NM_CICLO,6)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 1005
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1005,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- VENDAS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1006,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_INDICADOR_PESSOAL_1006 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      ( SELECT @CD_PESSOA PESSOA
 	        UNION
                SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO
	  AND A.NM_CICLO                = @NM_CICLO		
	  AND A.CD_INDICADOR_PESSOAL    = 1001

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1006
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_INDICADOR_PESSOAL_1006,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1006,
						@VL_INDICADOR_PESSOAL_1006,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END

      --******************************************************************************
      -- PEDIDOS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1007,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_INDICADOR_PESSOAL_1007 = COUNT(DISTINCT A.NM_PEDIDO)
          FROM TB_PEDIDO A  with(nolock), 
             TB_PEDIDO_ITEM B  with(nolock),
            ( SELECT @CD_PESSOA PESSOA
 	      UNION
              SELECT CD_PESSOA PESSOA
	      FROM TB_PESSOA_RESUMO with(nolock) 
	      WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
	      AND   CD_FUNCAO           = @CD_FUNCAO) C
          WHERE A.CD_PESSOA                = C.PESSOA
          AND   A.CD_FUNCAO                = @CD_FUNCAO
          AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
          AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
          AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	  AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	  AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
          AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	  AND   B.CD_PRODUTO_VENDA NOT IN (2)   -- PRECISA O CÓDIGO DO KIT ISENCAO

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1007
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_INDICADOR_PESSOAL_1007,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1007,
						@VL_INDICADOR_PESSOAL_1007,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END


      --******************************************************************************
      -- PRODUTIVIDADE NO GRUPO (VENDAS / PEDIDOS NO GRUPO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1008,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

  	  SELECT @VL_CONTADOR  = CASE WHEN (ISNULL(@VL_INDICADOR_PESSOAL_1007,0) > 0) THEN   (@VL_INDICADOR_PESSOAL_1006 / @VL_INDICADOR_PESSOAL_1007)
	                         ELSE 0  END

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1008
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1008,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END


      --******************************************************************************
      -- ATIVAS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1009,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_CONTADOR = ISNULL(COUNT(A.CD_PESSOA),0)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      ( SELECT @CD_PESSOA PESSOA
 	        UNION
                SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO
	  AND A.NM_CICLO                = @NM_CICLO		
	  AND A.CD_INDICADOR_PESSOAL    = 1002
	  AND A.VL_INDICADOR_PESSOAL    = 1

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1009
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1009,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END

      --******************************************************************************
      -- CADASTRADAS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1010,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
   /*       SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      ( SELECT @CD_PESSOA PESSOA
 	        UNION
                SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO) B
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO
	  AND A.NM_CICLO                = @NM_CICLO		
	  AND A.CD_INDICADOR_PESSOAL    = 1002 */

	  SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
	  FROM TB_PESSOA_VINCULO_HISTORICO  A with(nolock) 
	  WHERE A.CD_PESSOA_LIDERANCA = @CD_PESSOA
	  AND   A.CD_FUNCAO           = @CD_FUNCAO
	  AND A.NM_CICLO              = @NM_CICLO		
	  AND NOT EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA B with(nolock) 
			WHERE B.CD_PESSOA = A.CD_PESSOA
			AND B.NM_CICLO   <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2) )


          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1010
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END

      --******************************************************************************
      -- INÍCIOS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1011,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	SELECT @VL_INDICADOR_PESSOAL_1011 =  COUNT(A.CD_PESSOA)
	FROM TB_PESSOA_RESUMO A with(nolock)
	WHERE A.CD_PESSOA_LIDERANCA             = @CD_PESSOA
	AND   A.CD_FUNCAO                       = @CD_FUNCAO
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) = 1
	AND   EXISTS (SELECT * FROM TB_PESSOA_INDICADOR B with(nolock)
			WHERE B.CD_PESSOA            = A.CD_PESSOA
			AND   B.CD_FUNCAO            = A.CD_FUNCAO
			AND   B.NM_CICLO             = @NM_CICLO
			AND   B.CD_INDICADOR_PESSOAL = 1002
			AND   B.VL_INDICADOR_PESSOAL = 1) 
	AND  NOT EXISTS (SELECT * FROM TB_PESSOA_INDICADOR B with(nolock)
		 	 WHERE B.CD_PESSOA            = A.CD_PESSOA
			 AND   B.CD_FUNCAO            = A.CD_FUNCAO
			 AND   B.NM_CICLO             < @NM_CICLO
			 AND   B.CD_INDICADOR_PESSOAL = 1002
			 AND   B.VL_INDICADOR_PESSOAL = 1)

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1011
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_INDICADOR_PESSOAL_1011,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1011,
						@VL_INDICADOR_PESSOAL_1011,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END


      --******************************************************************************
      -- A CESSAR / CESSADAS NO GRUPO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1012,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN	
          SELECT @VL_INDICADOR_PESSOAL_1012 = COUNT(A.CD_PESSOA)
          FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock),
 	      ( SELECT @CD_PESSOA PESSOA
 	        UNION
                SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO A with(nolock)
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO) B
	  WHERE A.CD_PESSOA                     = B.PESSOA
	  AND   A.NM_CICLO                      = @NM_CICLO
	  AND   A.CD_SITUACAO_COMERCIAL_DETALHE  IN (
				SELECT MAX(CD_SITUACAO_COMERCIAL_DETALHE) FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE with(nolock)
		 		WHERE CD_SITUACAO_COMERCIAL  IN (2, 3)   )

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1012
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_INDICADOR_PESSOAL_1012,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1012,
						@VL_INDICADOR_PESSOAL_1012,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END



      --******************************************************************************
      -- SALDO NO GRUPO (INÍCIOS - ACESSAR / CESSADAS NO GRUPO)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1013,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	  SELECT @VL_CONTADOR = (@VL_INDICADOR_PESSOAL_1011 - @VL_INDICADOR_PESSOAL_1012) 

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1013
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END


      --******************************************************************************
      -- VENDAS NO GRUPO DIRETO - REVENDEDOR (A)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1014,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      ( SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA   = 1) B  -- SOMENTE REVENDEDOR (A)
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO
	  AND A.NM_CICLO                = @NM_CICLO		
	  AND A.CD_INDICADOR_PESSOAL    = 1001

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1014
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END


      --******************************************************************************
      -- PERDAS NO GRUPO (CESSADAS NO GRUPO CICLO ANTERIOR)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1015,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
	  SELECT @VL_CONTADOR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1012
	  AND NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2) 

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1015
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1015,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END

      --******************************************************************************
      -- VENDAS NO GRUPO DIRETO - SUPERVISOR (A)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(1016,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
          SELECT @VL_CONTADOR = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
          FROM TB_PESSOA_INDICADOR A  with(nolock),
 	      ( SELECT CD_PESSOA PESSOA
		FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_LIDERANCA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  >= 2) B  -- SOMENTE SUPERVISOR (A)
	  WHERE A.CD_PESSOA             = B.PESSOA
	  AND A.CD_FUNCAO               = @CD_FUNCAO
	  AND A.NM_CICLO                = @NM_CICLO		
	  AND A.CD_INDICADOR_PESSOAL    = 1001

          -- VERIFICA SE EXISTE O REGISTRO
  	  SELECT @EXISTE_REGISTRO = COUNT(*)
	  FROM TB_PESSOA_INDICADOR  with(nolock)
	  WHERE CD_PESSOA          = @CD_PESSOA
	  AND CD_FUNCAO            = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 1016
	  AND NM_CICLO             = @NM_CICLO
	  AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	  IF (@EXISTE_REGISTRO     = 0)
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
          END
	  ELSE
	  BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						1016,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	  END
      END






    END -- fim EVENTO = 6


--    IF (@ID_EVENTO in (6,8)) -- FIM DIA = QUALIFICAÇÃO / CADASTRO
--    BEGIN
--    END
--    SELECT @VAR_RETORNO = 0	
  		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
