SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_EC_INDICADOR_CLIENTE_MAKIE]
				@CD_EST_COMERCIAL   NUMERIC(18, 0),
				@DT_FECHAMENTO      DATE,
				@CD_USUARIO         NUMERIC(18,0),
				@VAR_RETORNO        INT OUTPUT,
				@DC_ERRO            NVARCHAR(MAX) OUTPUT,
				@QT_LINHAS_AFETADAS INT OUTPUT


AS


	DECLARE @Cursor_EC					CURSOR,
		@NM_CICLO					NUMERIC(18,0),
		@CD_ESTRUTURA					NUMERIC(18,0),
		@CD_FUNCAO					INT,
		@ID_MOMENTO_CALCULO_INDICADOR  NUMERIC(18,0),
		@CALCULA_INDICADOR  INT,
		@EXISTE_REGISTRO    INT

	DECLARE @VL_INDICADOR_PESSOAL_3003			NUMERIC(18,2),
			@VL_INDICADOR_PESSOAL_3004          NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3005			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3008			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3009			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3011			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3012			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3014			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3015			NUMERIC(18,2),
	        @VL_INDICADOR_PESSOAL_3016			NUMERIC(18,2),

                @VL_CONTADOR                                    NUMERIC(18,2)


BEGIN TRY


	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @ID_MOMENTO_CALCULO_INDICADOR = 2
	    
	    -- *******************************************************************************
		-- CURSOR DE ESTRUTURA COMERCIAL
		-- VERIFICA TODOS AS ESTRUTURA COMERCIAIS QUE FECHAM NA DATA INFORMADA
		-- *******************************************************************************
	
		IF @CD_EST_COMERCIAL = 0 
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL, 2
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE CONVERT(DATE, DT_INICIAL, 103)             <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
					AND CONVERT(DATE, DATEADD (day,1,dt_final), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) 


			END 
		ELSE
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL, 2
					FROM TB_CALENDARIO_COMERCIAL with (NOLOCK) 
					WHERE CONVERT(DATE, DT_INICIAL, 103)             <= CONVERT(DATE, @DT_FECHAMENTO, 103) 
					AND CONVERT(DATE, DATEADD (day,1,dt_final), 103) >= CONVERT(DATE, @DT_FECHAMENTO, 103) 
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			END

	
				    
	    -- ABRE O CURSOR DE ESTRUTURA COMERCIAL
	    OPEN @Cursor_EC
		FETCH NEXT FROM @Cursor_EC
		INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO

		WHILE @@FETCH_STATUS = 0
			BEGIN

				--******************************************************************************
			      	-- INÍCIOS (CM) DA GV
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3001,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_CONTADOR = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 4
				    AND A.CD_PESSOA  NOT IN (SELECT D.CD_PESSOA PESSOA
										  	 FROM TB_PESSOA D with (NOLOCK) , TB_PESSOA_PAPEL_HISTORICO E with (NOLOCK) 
											 WHERE D.CD_PESSOA_INDICANTE           = E.CD_PESSOA
											 AND   E.CD_FUNCAO                     = @CD_FUNCAO
						                     AND   E.NM_CICLO                      = @NM_CICLO
						                     AND   E.CD_PAPEL_CARREIRA            >= 5   -- LIDER
						                     AND   D.CD_ESTRUTURA_COMERCIAL        = @CD_ESTRUTURA
                                             AND   ISNULL(D.CD_PESSOA_INDICANTE,0) > 0)     

			        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3001
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3001,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END			


				--******************************************************************************
			      	-- INÍCIOS (CM) TRAZIDOS POR PLIM NO CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3002,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_CONTADOR = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) ,
						(SELECT D.CD_PESSOA PESSOA
						 FROM TB_PESSOA D with (NOLOCK) , TB_PESSOA_PAPEL_HISTORICO E with (NOLOCK) 
						 WHERE D.CD_PESSOA_INDICANTE          = E.CD_PESSOA
						 AND   E.CD_FUNCAO                    = @CD_FUNCAO
						 AND   E.NM_CICLO                     = @NM_CICLO
						 AND   E.CD_PAPEL_CARREIRA           >= 5   -- LIDER
						 AND   D.CD_ESTRUTURA_COMERCIAL       = @CD_ESTRUTURA
                                                 AND   ISNULL(D.CD_PESSOA_INDICANTE,0) > 0) B
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 4
				        AND A.CD_PESSOA            = B.PESSOA   
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3002
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3002,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	



				--******************************************************************************
			      	-- TOTAL DE INÍCIOS NO CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3003,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3003 = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 4
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3003
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_INDICADOR_PESSOAL_3003,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3003,
						@VL_INDICADOR_PESSOAL_3003,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END	




				--******************************************************************************
			      	-- TAMANHO TOTAL DO SETOR INICIO DO CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3004,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3004 = ISNULL(SUM(A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_PESSOA          = 0 
					AND A.CD_FUNCAO            = @CD_FUNCAO
					AND A.NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR(@NM_CICLO)
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 3005
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3004
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3004,
						@VL_INDICADOR_PESSOAL_3004,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3004,
						@VL_INDICADOR_PESSOAL_3004,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END



				--******************************************************************************
			      	-- TAMANHO TOTAL DA GER.  NO FECHAMENTO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3005,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3005 = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 6
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3005
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_INDICADOR_PESSOAL_3005,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3005,
						@VL_INDICADOR_PESSOAL_3005,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- CESSADAS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3006,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_CONTADOR = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 16
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3006
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3006,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END



				--******************************************************************************
			      	-- REATIVADAS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3007,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_CONTADOR = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 23
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3007
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3007,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- ATIVAS TOTAL (COM INÍCIOS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3008,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3008 = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 1
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3008
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3008,
						@VL_INDICADOR_PESSOAL_3008,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- ATIVAS (SEM INÍCIOS)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3009,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3009 = (@VL_INDICADOR_PESSOAL_3008 - @VL_INDICADOR_PESSOAL_3003)
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3009
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3009,
						@VL_INDICADOR_PESSOAL_3009,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3009,
						@VL_INDICADOR_PESSOAL_3009,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- ATIVIDADE (SEM INÍCIO)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3010,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					IF (ISNULL(@VL_INDICADOR_PESSOAL_3004,0) > 0)
					BEGIN
						SELECT @VL_CONTADOR  = ((@VL_INDICADOR_PESSOAL_3009 / @VL_INDICADOR_PESSOAL_3004) * 100)
					END
					ELSE
					BEGIN
						SELECT @VL_CONTADOR  = 0
					END

					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3010
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3010,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- PEDIDOS
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3011,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3011 = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 3
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3011
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3011,
						@VL_INDICADOR_PESSOAL_3011,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3011,
						@VL_INDICADOR_PESSOAL_3011,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- RECEITA BRUTA (PREÇO CONSULT.) - GV
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3012,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3012 = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 2
					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3012
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3012,
						@VL_INDICADOR_PESSOAL_3012,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3012,
						@VL_INDICADOR_PESSOAL_3012,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- TKT MÉDIO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3013,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
	
					IF (ISNULL(@VL_INDICADOR_PESSOAL_3008,0) > 0)
					BEGIN
						SELECT @VL_CONTADOR  = (@VL_INDICADOR_PESSOAL_3012 / @VL_INDICADOR_PESSOAL_3008) 
					END
					ELSE
					BEGIN
						SELECT @VL_CONTADOR  = 0
					END


					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3013
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3013,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- REPIQUE (% CANAL C/ MAIS DE 1 PEDIDO)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3014,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3014 = ISNULL(SUM (A.VL_INDICADOR_PESSOAL),0)
					FROM TB_PESSOA_INDICADOR A with (NOLOCK) 
					WHERE A.CD_FUNCAO          = @CD_FUNCAO
					AND A.NM_CICLO             = @NM_CICLO
					AND A.CD_EST_COMERCIAL     = @CD_ESTRUTURA
					AND A.CD_INDICADOR_PESSOAL = 20
				
	
					IF (ISNULL(@VL_INDICADOR_PESSOAL_3005,0) > 0)
					BEGIN
						SELECT @VL_CONTADOR  = (@VL_INDICADOR_PESSOAL_3011 / @VL_INDICADOR_PESSOAL_3008)
					END
					ELSE
					BEGIN
						SELECT @VL_CONTADOR  = 0
					END

					
				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3014
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3014,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				--******************************************************************************
			      	-- PLIM "QUALIFICADA" (PELA REGRA)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3015,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3015 = COUNT(DISTINCT A.CD_PESSOA) 
					FROM TB_HIST_SITUACAO_CONSULTORA A with (NOLOCK) , TB_PESSOA_PAPEL_HISTORICO B with (NOLOCK) ,
						 (SELECT CD_PESSOA PESSOA
						  FROM TB_MN_PESSOA_ELEGIVEL	 with (NOLOCK) 		
						  WHERE CD_PAPEL	    >= 5
						  AND   NM_CICLO_INICIO     <= @NM_CICLO
						  AND   ID_SITUACAO_ELEGIVEL = 2) C
					WHERE A.CD_PESSOA              = B.CD_PESSOA
					AND   A.NM_CICLO               = B.NM_CICLO
					AND   B.CD_FUNCAO              = @CD_FUNCAO
					AND   B.CD_PAPEL_CARREIRA     >= 5
					AND   A.NM_CICLO               = @NM_CICLO
					AND   A.CD_EST_COMERCIAL       = @CD_ESTRUTURA
					AND   A.CD_SITUACAO_COMERCIAL  < 4
					AND   A.CD_PESSOA              = C.PESSOA

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3015
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3015,
						@VL_INDICADOR_PESSOAL_3015,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3015,
						@VL_INDICADOR_PESSOAL_3015,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END



				--******************************************************************************
			      	-- PLIM "QUALIFICADA" (MANUAL)
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3016,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_INDICADOR_PESSOAL_3016 = COUNT(DISTINCT A.CD_PESSOA) 
					FROM TB_HIST_SITUACAO_CONSULTORA A with (NOLOCK) , TB_PESSOA_PAPEL_HISTORICO B with (NOLOCK) 
					WHERE A.CD_PESSOA              = B.CD_PESSOA
					AND   A.NM_CICLO               = B.NM_CICLO
					AND   B.CD_FUNCAO              = @CD_FUNCAO
					AND   B.CD_PAPEL_CARREIRA     >= 5
					AND   A.NM_CICLO               = @NM_CICLO
					AND   A.CD_EST_COMERCIAL       = @CD_ESTRUTURA
					AND   A.CD_SITUACAO_COMERCIAL  < 4
					AND   A.CD_PESSOA             NOT IN  (SELECT CD_PESSOA PESSOA
														  FROM TB_MN_PESSOA_ELEGIVEL with (NOLOCK) 			
														  WHERE CD_PAPEL	    >= 5
														  AND   NM_CICLO_INICIO     <= @NM_CICLO
														  AND   ID_SITUACAO_ELEGIVEL = 2) 

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3016
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3016,
						@VL_INDICADOR_PESSOAL_3016,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3016,
						@VL_INDICADOR_PESSOAL_3016,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END




				--******************************************************************************
			      	-- TOTAL PLIMS FECHAMENTO DE CICLO
				--******************************************************************************
				-- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
				SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3017,@ID_MOMENTO_CALCULO_INDICADOR) 
				IF @CALCULA_INDICADOR = 1
				BEGIN		
	
					SELECT @VL_CONTADOR = isnull((@VL_INDICADOR_PESSOAL_3015 + @VL_INDICADOR_PESSOAL_3016),0)

				        -- VERIFICA SE EXISTE O REGISTRO
					SELECT @EXISTE_REGISTRO = COUNT(*)
					FROM TB_PESSOA_INDICADOR with (NOLOCK) 
					WHERE CD_PESSOA          = 0
					AND CD_FUNCAO            = @CD_FUNCAO
					AND CD_INDICADOR_PESSOAL = 3017
					AND NM_CICLO             = @NM_CICLO
					AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
					IF (@EXISTE_REGISTRO     = 0)
			        	BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
				        END
					ELSE
					BEGIN
					  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3017,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
					END
				END


				  --******************************************************************************
				   -- TOTAL DE PONTOS NO CICLO
				--******************************************************************************
				   -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
			     SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(3018,@ID_MOMENTO_CALCULO_INDICADOR) 
		     IF @CALCULA_INDICADOR = 1
		     BEGIN		

		       SELECT @VL_CONTADOR = isnull(SUM(B.VL_PONTOS),0)
		      FROM TB_PEDIDO A with (NOLOCK) , TB_PEDIDO_ITEM B with (NOLOCK) 
		      WHERE A.CD_FUNCAO                = @CD_FUNCAO
		       AND   A.CD_EST_COMERCIAL         = @CD_ESTRUTURA
		      AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
		      AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
		       AND   A.NM_PEDIDO                = B.NM_PEDIDO
			AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
			AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
			AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0



        -- VERIFICA SE EXISTE O REGISTRO
			SELECT @EXISTE_REGISTRO = COUNT(*)
			FROM TB_PESSOA_INDICADOR with (NOLOCK) 
			WHERE CD_PESSOA          = 0
			AND CD_FUNCAO            = @CD_FUNCAO
			AND CD_INDICADOR_PESSOAL = 3018
			AND NM_CICLO             = @NM_CICLO
			AND CD_EST_COMERCIAL     = @CD_ESTRUTURA
								
			IF (@EXISTE_REGISTRO     = 0)
		      BEGIN
				  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
		       END
			ELSE
			BEGIN
			  EXEC SP_CAD_PESSOA_INDICADOR	0,
						@CD_FUNCAO,
						@CD_ESTRUTURA,
						@NM_CICLO,
						3018,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
		 	END
		  END





				FETCH NEXT FROM @Cursor_EC
				INTO @NM_CICLO, @CD_ESTRUTURA, @CD_FUNCAO
			
				
			END


	 	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
