SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaPessoasRede3]
	@CD_PESSOA               NUMERIC(18,0),
        @CD_FUNCAO               NUMERIC(18,0),
        @NM_CICLO                NUMERIC(18,0),
        @ID_TIPO_REDE_MN         INT,
        @NM_NIVEL                NUMERIC(18,0),
        @CD_SITUACAO_COMERCIAL   NUMERIC(18,0),
        @CD_PAPEL_DESEMPENHO     NUMERIC(18,0),
        @ID_DIRECAO_REDE_BINARIA INT,
        @ID_REDE_EQUIPE          INT,
        @DC_BUSCA_CODIGO_NOME    VARCHAR(100)

AS
DECLARE @CD_CLIENTE NUMERIC(18,0)
DECLARE @QUERY NVARCHAR(MAX)
DECLARE @DC_BUSCA_CODIGO_NOME1 VARCHAR(100)
DECLARE @CD_PAPEL_LIDER NUMERIC(18,0)

BEGIN
  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

    

  IF (@CD_CLIENTE NOT IN (25, 37, 41))    -- A SÓS / CACAU SHOW / MAKIE
  BEGIN 
    SELECT tw.CD_PESSOA_VINCULADA AS "Código",
	   [dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)	AS "Nome",
           [dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,1)    AS "Fone Residencial",
           isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,2),'') + ' ' + 
           isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,3),'') AS "Celular",
           [dbo].[FN_BUSCA_EMAIL_PESSOA] (TW.CD_PESSOA_VINCULADA,1)              AS "E-mail",
           TW.NM_NIVEL                                                           AS "Nível",
           [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] (@CD_FUNCAO, TR.CD_PAPEL_DESEMPENHO)  AS "Qualificação",
  --         ( CASE TW.ID_DIRECAO_REDE_BINARIA WHEN  1  THEN 'D'
  --                WHEN 2 THEN 'E'
  --                else '' END )         AS "Direção Binária",
           [dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_ATUAL_PESSOA] (TW.CD_PESSOA_VINCULADA,TW.CD_FUNCAO) AS "Situação Comercial" 
    FROM TB_WRK_MN_TOPOLOGIA TW, TB_PESSOA_RESUMO TR
    WHERE TW.CD_PESSOA_VINCULADA = TR.CD_PESSOA
    AND   TW.CD_FUNCAO           = TR.CD_FUNCAO
    AND   TW.CD_PESSOA           = @CD_PESSOA
    AND   TW.CD_FUNCAO           = @CD_FUNCAO
    AND   TW.NM_CICLO            = @NM_CICLO
    AND   TW.ID_TIPO_REDE_MN     = @ID_TIPO_REDE_MN
    AND   TW.ID_ORDEM            = 2 -- descrecente
    AND   TW.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) -- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
    AND  (  (@NM_NIVEL > 0              AND TW.NM_NIVEL = @NM_NIVEL)                                 OR (@NM_NIVEL = 0)  )
    AND  (  (@CD_SITUACAO_COMERCIAL >= 0 AND TR.CD_SITUACAO_COMERCIAL = @CD_SITUACAO_COMERCIAL)       OR (@CD_SITUACAO_COMERCIAL = -1)   )
    AND  (  (@CD_PAPEL_DESEMPENHO > 0 AND TR.CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO)             OR (@CD_PAPEL_DESEMPENHO = 0)   )
    AND  (  (@ID_DIRECAO_REDE_BINARIA > 0 AND TW.ID_DIRECAO_REDE_BINARIA = @ID_DIRECAO_REDE_BINARIA) OR (@ID_DIRECAO_REDE_BINARIA = 0)   )
    AND  (  (@ID_REDE_EQUIPE = 1  AND TR.CD_PESSOA_LIDERANCA  = @CD_PESSOA  )                       OR (@ID_REDE_EQUIPE = 0)    )
    ORDER BY TW.NM_NIVEL, TW.ID_DIRECAO_REDE_BINARIA, [dbo].[FN_BUSCA_NOME_PESSOA_FISICA](TW.CD_PESSOA_VINCULADA)

  END

 
  
  IF (@CD_CLIENTE = 25)     -- A SÓS
  BEGIN 
  -- busca o papel de liderança
	SELECT @CD_PAPEL_LIDER = ISNULL(CD_PAPEL_INICIO_LIDERANCA,1)
	FROM TB_MN_REGRA_GERAL

    SELECT @DC_BUSCA_CODIGO_NOME1 = UPPER(@DC_BUSCA_CODIGO_NOME)
 
    SELECT @QUERY = + ' SELECT a1.Codigo as "Código", '
    SELECT @QUERY = @QUERY + 'a1.Nome	AS "Nome", '
    SELECT @QUERY = @QUERY + 'a1.Loja	AS "Loja", '
    SELECT @QUERY = @QUERY + 'a1.Nivel  AS "Nível", ' 
    SELECT @QUERY = @QUERY + 'a1.Qualificacao   AS "Qualificação", '
    SELECT @QUERY = @QUERY + 'a1.Reconhecimento	  AS "Reconhecimento", '
    SELECT @QUERY = @QUERY + 'a1.Celular	 AS "Celular", '
    SELECT @QUERY = @QUERY + 'a1.Data_Cadastro	 AS "Data Cadastro", '
    SELECT @QUERY = @QUERY + 'a1.Data_Kit_Inicio AS "Data Kit Início", '
    SELECT @QUERY = @QUERY + 'a1.Data_Ultimo_Pedido	 AS "Data Último Pedido", '
    SELECT @QUERY = @QUERY + 'a1.Situacao_Comercial	 AS "Situação Comercial",  '
    SELECT @QUERY = @QUERY + 'a1.Pontos_Pessoais_C6	 AS "Pontos Pessoais (C6)", '
    SELECT @QUERY = @QUERY + 'a1.Pontos_Pessoais_C5	 AS "Pontos Pessoais (C5)", '
    SELECT @QUERY = @QUERY + 'a1.Pontos_Pessoais_C4	 AS "Pontos Pessoais (C4)", '
    sELECT @QUERY = @QUERY + 'a1.Pontos_Pessoais_C3	 AS "Pontos Pessoais (C3)", '
    SELECT @QUERY = @QUERY + 'a1.Pontos_Pessoais_C2	 AS "Pontos Pessoais (C2)", '
    SELECT @QUERY = @QUERY + 'a1.Pontos_Pessoais_C1	 AS "Pontos Pessoais (C1)", '
    SELECT @QUERY = @QUERY + 'a1.Pontos_Pessoais_C	 AS "Pontos Pessoais (C)", '
    SELECT @QUERY = @QUERY + 'a1.Pontos_Equipe_C	 AS "Pontos Equipe (C)", '
	SELECT @QUERY = @QUERY + 'a1.Bonus_1015	         AS "Bônus E-commerce", '
	SELECT @QUERY = @QUERY + 'a1.Bonus_1016	         AS "Bônus Proximidade", '
    SELECT @QUERY = @QUERY + 'a1.E_mail	 AS "E-mail", '
    SELECT @QUERY = @QUERY + 'a1.Patrocinador	         AS "Patrocinador", '
    SELECT @QUERY = @QUERY + 'a1.Nome_Patrocinador		AS "Nome Patrocinador", '
    SELECT @QUERY = @QUERY + 'a1.Cidade	   AS "Cidade", '
    SELECT @QUERY = @QUERY + 'a1.Estado	  AS "Estado", '
    SELECT @QUERY = @QUERY + 'a1.Fone_Residencial	    AS "Fone Residencial" '
    SELECT @QUERY = @QUERY + 'from '
    SELECT @QUERY = @QUERY + '( SELECT 2 AS "Ordem", '
    SELECT @QUERY = @QUERY + ' tw.CD_PESSOA_VINCULADA AS "Codigo", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA)	AS "Nome", '
    SELECT @QUERY = @QUERY + 'TR.DC_NOME_LOJA	AS "Loja", '
    SELECT @QUERY = @QUERY + 'TW.NM_NIVEL                                          AS "Nivel", ' 
	SELECT @QUERY = @QUERY + 'TR.CD_PAPEL_CARREIRA AS "Cod_Qualificacao", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (TR.CD_FUNCAO, TR.CD_PAPEL_CARREIRA)  AS "Qualificacao", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] (TR.CD_FUNCAO, TR.CD_PAPEL_DESEMPENHO)  AS "Reconhecimento", '
    SELECT @QUERY = @QUERY + 'isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,3),'''') AS "Celular", '
    SELECT @QUERY = @QUERY + 'TR.DT_CADASTRO_PESSOA AS "Data_Cadastro", '
    SELECT @QUERY = @QUERY + '(SELECT MIN(A.DT_PAGAMENTO_PEDIDO) FROM TB_PEDIDO A, TB_PEDIDO_ITEM B  '
    SELECT @QUERY = @QUERY + 'WHERE A.NM_PEDIDO = B.NM_PEDIDO '
    SELECT @QUERY = @QUERY + 'AND   A.CD_PESSOA = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   A.DT_CANCELAMENTO_PEDIDO IS NULL '
    SELECT @QUERY = @QUERY + 'AND   A.DT_PAGAMENTO_PEDIDO IS NOT NULL '
    SELECT @QUERY = @QUERY + 'AND   B.CD_PRODUTO_VENDA IN (141,573,574,605,1274,1275,1276) '
    SELECT @QUERY = @QUERY + ')  AS "Data_Kit_Inicio", '
    SELECT @QUERY = @QUERY + '(SELECT MAX(A.DT_PAGAMENTO_PEDIDO) FROM TB_PEDIDO A, TB_PEDIDO_ITEM B  '
    SELECT @QUERY = @QUERY + 'WHERE A.NM_PEDIDO = B.NM_PEDIDO '
    SELECT @QUERY = @QUERY + 'AND   A.CD_PESSOA = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   A.DT_CANCELAMENTO_PEDIDO IS NULL '
    SELECT @QUERY = @QUERY + 'AND   A.DT_PAGAMENTO_PEDIDO IS NOT NULL '
    SELECT @QUERY = @QUERY + 'AND   B.CD_PRODUTO_VENDA NOT IN (141,573,574,605,1274,1275,1276) '
    SELECT @QUERY = @QUERY + ')  AS "Data_Ultimo_Pedido", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA] (TW.CD_PESSOA_VINCULADA,TW.NM_CICLO) AS "Situacao_Comercial",  '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,7) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C6", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,6) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C5", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,5) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C4", '
    
    sELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,4) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C3", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,3) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C2", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,2) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C1", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TW.NM_CICLO '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C", '

    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '           
	SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TW.NM_CICLO '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1005) AS "Pontos_Equipe_C", '

	SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL*0.15),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '           
	SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TW.NM_CICLO '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1015) AS "Bonus_1015", '

	SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL*0.15),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA '           
	SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TW.NM_CICLO '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1016) AS "Bonus_1016", '
	
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_EMAIL_PESSOA] (TW.CD_PESSOA_VINCULADA,1)              AS "E_mail", '
    SELECT @QUERY = @QUERY + 'TR.CD_PESSOA_VINCULADA         AS "Patrocinador", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA_VINCULADA)	AS "Nome_Patrocinador", '
    --SELECT @QUERY = @QUERY + '[dbo].[FN_ENDERECO_PESSOA_NIVEL](TW.CD_PESSOA_VINCULADA ,	1, 3)   AS "Cidade", '
	SELECT @QUERY = @QUERY + '(select DC_ESTRUTURA_GEO3 FROM TB_PESSOA_ENDERECO WHERE ID_TIPO_ENDERECO = 1 AND CD_PESSOA = TW.CD_PESSOA_VINCULADA )      AS "Cidade", '
	--SELECT @QUERY = @QUERY + '[dbo].[FN_ENDERECO_PESSOA_NIVEL](TW.CD_PESSOA_VINCULADA ,	1, 2)   AS "Estado", '
    SELECT @QUERY = @QUERY + '(select DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO WHERE ID_TIPO_ENDERECO = 1 AND CD_PESSOA = TW.CD_PESSOA_VINCULADA )      AS "Estado", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,1)    AS "Fone_Residencial" '
    SELECT @QUERY = @QUERY + 'FROM TB_WRK_MN_TOPOLOGIA TW, TB_PESSOA_RESUMO TR '
    SELECT @QUERY = @QUERY + 'WHERE TW.CD_PESSOA_VINCULADA = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   TW.CD_FUNCAO           = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   TW.CD_PESSOA           = '+CONVERT(VARCHAR(30),@CD_PESSOA) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.CD_FUNCAO           = '+CONVERT(VARCHAR(30), @CD_FUNCAO) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.NM_CICLO            = '+CONVERT(VARCHAR(30),@NM_CICLO) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.ID_TIPO_REDE_MN     = '+CONVERT(VARCHAR(30),@ID_TIPO_REDE_MN) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.ID_ORDEM            = 2 '
    SELECT @QUERY = @QUERY + 'AND   TW.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55) '
    SELECT @QUERY = @QUERY + 'AND  (  (' + CONVERT(VARCHAR(30),@NM_NIVEL)+ '> 0  AND TW.NM_NIVEL = '+ CONVERT(VARCHAR(30),@NM_NIVEL)+ ')    OR ('+ CONVERT(VARCHAR(30),@NM_NIVEL) + '= 0)  ) '

        SELECT @QUERY = @QUERY + 'AND  (  (' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' >= 0 AND [dbo].[FN_BUSCA_COD_SIT_COMERCIAL_DETALHE_PESSOA] (TW.CD_PESSOA_VINCULADA,TW.NM_CICLO) = ' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL) +')       OR ('+CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' = -1)   ) '

	SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+' > 0 AND TR.CD_PAPEL_DESEMPENHO = '+CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+') OR ('+CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+' = 0)   ) '
	SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+ ' > 0 AND TW.ID_DIRECAO_REDE_BINARIA = '+CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+') OR ('+CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+' = 0)   ) '
        SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@ID_REDE_EQUIPE)     +' = 1 AND TR.CD_PESSOA_LIDERANCA = '+CONVERT(VARCHAR(30),@CD_PESSOA)          +') OR ('+CONVERT(VARCHAR(30),@ID_REDE_EQUIPE)     +' = 0)   ) '
	SELECT @QUERY = @QUERY + 'AND  (  (' +''''+@DC_BUSCA_CODIGO_NOME+''''+' <>' +'''-1'+''''+ 'AND (CONVERT(VARCHAR(30),tw.CD_PESSOA_VINCULADA) LIKE ''%'+@DC_BUSCA_CODIGO_NOME+'%'' OR UPPER([dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)) LIKE ''%'+@DC_BUSCA_CODIGO_NOME1+'%'')) OR ('+''''+@DC_BUSCA_CODIGO_NOME+''''+' = '+''''+'-1'+''''+') )   '

    SELECT @QUERY = @QUERY + ' UNION '

    SELECT @QUERY = @QUERY + ' SELECT 1 AS "Ordem", '
    SELECT @QUERY = @QUERY + ' TR.CD_PESSOA AS "Código", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA)	AS "Nome", '
    SELECT @QUERY = @QUERY + 'TR.DC_NOME_LOJA	AS "Loja", '
    SELECT @QUERY = @QUERY + '0 AS "Nível", ' 
	SELECT @QUERY = @QUERY + 'TR.CD_PAPEL_CARREIRA AS "Cod_Qualificacao", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_PAPEL_CARREIRA] (TR.CD_FUNCAO, TR.CD_PAPEL_CARREIRA)  AS "Qualificacao", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] (TR.CD_FUNCAO, TR.CD_PAPEL_DESEMPENHO)  AS "Reconhecimento", '
    SELECT @QUERY = @QUERY + 'isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TR.CD_PESSOA,3),'''') AS "Celular", '
    SELECT @QUERY = @QUERY + 'TR.DT_CADASTRO_PESSOA AS "Data Cadastro", '
    SELECT @QUERY = @QUERY + '(SELECT MIN(A.DT_PAGAMENTO_PEDIDO) FROM TB_PEDIDO A, TB_PEDIDO_ITEM B  '
    SELECT @QUERY = @QUERY + 'WHERE A.NM_PEDIDO = B.NM_PEDIDO '
    SELECT @QUERY = @QUERY + 'AND   A.CD_PESSOA = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   A.DT_CANCELAMENTO_PEDIDO IS NULL '
    SELECT @QUERY = @QUERY + 'AND   A.DT_PAGAMENTO_PEDIDO IS NOT NULL '
    SELECT @QUERY = @QUERY + 'AND   B.CD_PRODUTO_VENDA IN (141,573,574,605) '
    SELECT @QUERY = @QUERY + ')  AS "Data_Kit_Inicio", '
    SELECT @QUERY = @QUERY + '(SELECT MAX(A.DT_PAGAMENTO_PEDIDO) FROM TB_PEDIDO A, TB_PEDIDO_ITEM B  '
    SELECT @QUERY = @QUERY + 'WHERE A.NM_PEDIDO = B.NM_PEDIDO '
    SELECT @QUERY = @QUERY + 'AND   A.CD_PESSOA = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   A.DT_CANCELAMENTO_PEDIDO IS NULL '
    SELECT @QUERY = @QUERY + 'AND   A.DT_PAGAMENTO_PEDIDO IS NOT NULL '
    SELECT @QUERY = @QUERY + 'AND   B.CD_PRODUTO_VENDA NOT IN (141,573,574,605) '
    SELECT @QUERY = @QUERY + ')  AS "Data_Ultimo_Pedido", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA] (TR.CD_PESSOA,TR.NM_CICLO_ATUAL) AS "Situação_Comercial",  '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,7) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C6", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,6) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C5", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,5) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C4", '
    
    sELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,4) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C3", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,3) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C2", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,2) '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C1", '
    
    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '
    SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TR.NM_CICLO_ATUAL '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos_Pessoais_C", '

    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '           
	SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TR.NM_CICLO_ATUAL '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1005) AS "Pontos_Equipe_C", '

    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL*0.15),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '           
	SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TR.NM_CICLO_ATUAL '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1015) AS "Bonus_1015", '

    SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteValor (isnull(sum(VL_INDICADOR_PESSOAL*0.15),0)) FROM TB_PESSOA_INDICADOR '
    SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = TR.CD_PESSOA '           
	SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL '
    SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = TR.NM_CICLO_ATUAL '
    SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1016) AS "Bonus_1016", '
	
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_EMAIL_PESSOA] (TR.CD_PESSOA,1)              AS "E_mail", '
    SELECT @QUERY = @QUERY + 'TR.CD_PESSOA_VINCULADA         AS "Patrocinador", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA_VINCULADA)	AS "Nome_Patrocinador", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_ENDERECO_PESSOA_NIVEL](TR.CD_PESSOA ,	1, 3)   AS "Cidade", '
	SELECT @QUERY = @QUERY + '(select DC_ESTRUTURA_GEO2 FROM TB_PESSOA_ENDERECO WHERE ID_TIPO_ENDERECO = 1 AND CD_PESSOA = TR.CD_PESSOA )      AS "Estado", '
	--SELECT @QUERY = @QUERY + '[dbo].[FN_ENDERECO_PESSOA_NIVEL](TR.CD_PESSOA ,	1, 2)   AS "Estado", '
    SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_TELEFONE_PESSOA](TR.CD_PESSOA,1)    AS "Fone_Residencial" '
    SELECT @QUERY = @QUERY + 'FROM TB_PESSOA_RESUMO TR '
    SELECT @QUERY = @QUERY + 'WHERE TR.CD_PESSOA           = '+CONVERT(VARCHAR(30),@CD_PESSOA) + ' '
    SELECT @QUERY = @QUERY + 'AND   TR.CD_FUNCAO           = '+CONVERT(VARCHAR(30), @CD_FUNCAO) + ' '
    SELECT @QUERY = @QUERY + 'AND   TR.NM_CICLO_ATUAL      = '+CONVERT(VARCHAR(30),@NM_CICLO) + ') a1 '
	    IF (@CD_SITUACAO_COMERCIAL = 0)
	BEGIN
  	  SELECT @QUERY = @QUERY + 'ORDER BY A1.ORDEM, a1.Data_Cadastro DESC'
	END
	ELSE
	BEGIN
  	  SELECT @QUERY = @QUERY  +' ORDER BY A1.ORDEM, case when (a1.Cod_Qualificacao >= '+ CONVERT(VARCHAR(30),@CD_PAPEL_LIDER)+') then 1 else 2 end, a1.Nome'
	END  EXEC (@QUERY)
   --select @QUERY
  END

  IF (@CD_CLIENTE = 37)    -- CACAU SHOW
  BEGIN 
      SELECT @DC_BUSCA_CODIGO_NOME1 = UPPER(@DC_BUSCA_CODIGO_NOME)
SELECT @QUERY = + 'SELECT tw.CD_PESSOA_VINCULADA AS "Código", '
SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)	AS "Nome", '
SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,1)    AS "Telefone Fone Residencial", '
 SELECT @QUERY = @QUERY + 'isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,3),'''') AS "Telefone Celular", '
SELECT @QUERY = @QUERY + '  [dbo].[FN_BUSCA_EMAIL_PESSOA] (TW.CD_PESSOA_VINCULADA,1)              AS "E-mail",  '
SELECT @QUERY = @QUERY + '  TW.NM_NIVEL                                                           AS "Nível", ' 
--           [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] (@CD_FUNCAO, TR.CD_PAPEL_DESEMPENHO)  AS "Qualificação", '
SELECT @QUERY = @QUERY + '  (SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,7)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TW.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1001) AS "Compras Pessoais Mês Atual (-6)",  '
SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,6)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TW.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1001) AS "Compras Pessoais Mês Atual (-5)",  '
SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,5)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TW.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1001) AS "Compras Pessoais Mês Atual (-4)",  '
SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL) ,0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,4)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TW.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1001) AS "Compras Pessoais Mês Atual (-3)",  '
SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,3)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TW.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1001) AS "Compras Pessoais Mês Atual (-2)",  '
SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA  '
SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,2)  '
SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO  '
SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1001) AS "Compras Pessoais Mês Atual (-1)",  '
SELECT @QUERY = @QUERY + '(SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + 'WHERE CD_PESSOA            = tw.CD_PESSOA_VINCULADA  '
SELECT @QUERY = @QUERY + 'AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + 'AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TW.NM_CICLO,1)  '
SELECT @QUERY = @QUERY + 'AND   CD_FUNCAO            = TW.CD_FUNCAO  '
SELECT @QUERY = @QUERY + 'AND   CD_INDICADOR_PESSOAL = 1001) AS "Compras Pessoais Mês Atual", '
SELECT @QUERY = @QUERY + 'TR.CD_PESSOA_VINCULADA         AS "Patrocinador",  '
SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA_VINCULADA)	AS "Nome Patrocinador",   '
SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA] (TW.CD_PESSOA_VINCULADA,TW.NM_CICLO) AS "Situação Comercial" '
SELECT @QUERY = @QUERY + ' FROM TB_WRK_MN_TOPOLOGIA TW, TB_PESSOA_RESUMO TR '
SELECT @QUERY = @QUERY + 'WHERE TW.CD_PESSOA_VINCULADA = TR.CD_PESSOA '
SELECT @QUERY = @QUERY + 'AND   TW.CD_FUNCAO           = TR.CD_FUNCAO '
    SELECT @QUERY = @QUERY + 'AND   TW.CD_PESSOA           = '+CONVERT(VARCHAR(30),@CD_PESSOA) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.CD_FUNCAO           = '+CONVERT(VARCHAR(30), @CD_FUNCAO) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.NM_CICLO            = '+CONVERT(VARCHAR(30),@NM_CICLO) + ' '
    SELECT @QUERY = @QUERY + 'AND   TW.ID_TIPO_REDE_MN     = '+CONVERT(VARCHAR(30),@ID_TIPO_REDE_MN) + ' '


SELECT @QUERY = @QUERY + 'AND   TW.ID_ORDEM           = 2  '-- descrecente
SELECT @QUERY = @QUERY + ' AND   TW.NM_NIVEL			<= (select vl_parametro from TB_VALOR_PARAMETRO where CD_GRUPO_PARAMETRO = 9 and CD_PARAMETRO = 55)  '-- VAMOS LIMITAR A EXIBIÇÃO DOS NÍVEIS DE ACORDO COM O PARÂMETRO
SELECT @QUERY = @QUERY + 'AND  (  (' + CONVERT(VARCHAR(30),@NM_NIVEL)+ '> 0  AND TW.NM_NIVEL = '+ CONVERT(VARCHAR(30),@NM_NIVEL)+ ')    OR ('+ CONVERT(VARCHAR(30),@NM_NIVEL) + '= 0)  ) '
SELECT @QUERY = @QUERY + 'AND  (  (' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' >= 0 AND [dbo].[FN_BUSCA_COD_SIT_COMERCIAL_DETALHE_PESSOA] (TW.CD_PESSOA_VINCULADA,TW.NM_CICLO) = ' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL) +')       OR ('+CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' = -1)   ) '

SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+' > 0 AND TR.CD_PAPEL_DESEMPENHO = '+CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+') OR ('+CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+' = 0)   ) '
SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+ ' > 0 AND TW.ID_DIRECAO_REDE_BINARIA = '+CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+') OR ('+CONVERT(VARCHAR(30),@ID_DIRECAO_REDE_BINARIA)+' = 0)   ) '
SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@ID_REDE_EQUIPE)     +' = 1 AND TR.CD_PESSOA_LIDERANCA = '+CONVERT(VARCHAR(30),@CD_PESSOA)          +') OR ('+CONVERT(VARCHAR(30),@ID_REDE_EQUIPE)     +' = 0)   ) '
SELECT @QUERY = @QUERY + 'AND  (  (' +''''+@DC_BUSCA_CODIGO_NOME+''''+' <>' +'''-1'+''''+ 'AND (CONVERT(VARCHAR(30),tw.CD_PESSOA_VINCULADA) LIKE ''%'+@DC_BUSCA_CODIGO_NOME+'%'' OR UPPER([dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)) LIKE ''%'+@DC_BUSCA_CODIGO_NOME1+'%'')) OR ('+''''+@DC_BUSCA_CODIGO_NOME+''''+' = '+''''+'-1'+''''+') )   '
SELECT @QUERY = @QUERY + ' ORDER BY TW.NM_NIVEL, TW.ID_DIRECAO_REDE_BINARIA, [dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA) '
   EXEC (@QUERY)
   --select @QUERY

  END


  IF (@CD_CLIENTE = 41)    -- MAKIE
  BEGIN 
SELECT @DC_BUSCA_CODIGO_NOME1 = UPPER(@DC_BUSCA_CODIGO_NOME)
SELECT @QUERY = + 'SELECT TR.CD_PESSOA AS "Código", '
SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA)	AS "Nome", '
SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_TELEFONE_PESSOA](TR.CD_PESSOA,1)    AS "Telefone Fone Residencial", '
 SELECT @QUERY = @QUERY + 'isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TR.CD_PESSOA,3),'''') AS "Telefone Celular", '
SELECT @QUERY = @QUERY + '  [dbo].[FN_BUSCA_EMAIL_PESSOA] (TR.CD_PESSOA,1)              AS "E-mail",  '
--SELECT @QUERY = @QUERY + '  TW.NM_NIVEL                                                           AS "Nível", ' 
SELECT @QUERY = @QUERY + '  [dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO] ('+CONVERT(VARCHAR(30), @CD_FUNCAO) + ' , TR.CD_PAPEL_DESEMPENHO)  AS "Reconhecimento", '

SELECT @QUERY = @QUERY + '  (SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = TR.CD_PESSOA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,6)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TR.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos Pessoais Mês Atual (-5)",  '

SELECT @QUERY = @QUERY + '  (SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = TR.CD_PESSOA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,5)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TR.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos Pessoais Mês Atual (-4)",  '

SELECT @QUERY = @QUERY + '  (SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = TR.CD_PESSOA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,4)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TR.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos Pessoais Mês Atual (-3)",  '

SELECT @QUERY = @QUERY + '  (SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = TR.CD_PESSOA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,3)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TR.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos Pessoais Mês Atual (-2)",  '

SELECT @QUERY = @QUERY + '  (SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = TR.CD_PESSOA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,2)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TR.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos Pessoais Mês Atual (-1)",  '
SELECT @QUERY = @QUERY + '  (SELECT dbo.FN_ConverteMoedaReal (isnull(sum(VL_INDICADOR_PESSOAL),0)) FROM TB_PESSOA_INDICADOR  '
SELECT @QUERY = @QUERY + ' WHERE CD_PESSOA            = TR.CD_PESSOA  '
SELECT @QUERY = @QUERY + ' AND   CD_EST_COMERCIAL     = TR.CD_EST_COMERCIAL  '
SELECT @QUERY = @QUERY + ' AND   NM_CICLO             = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN  (TR.NM_CICLO_ATUAL,1)  '
SELECT @QUERY = @QUERY + ' AND   CD_FUNCAO            = TR.CD_FUNCAO  '
SELECT @QUERY = @QUERY + ' AND   CD_INDICADOR_PESSOAL = 1002) AS "Pontos Pessoais Mês Atual",  '

SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_SIT_COMERCIAL_DETALHE_PESSOA] (TR.CD_PESSOA,TR.NM_CICLO_ATUAL) AS "Situação Comercial" '

SELECT @QUERY = @QUERY + ' FROM TB_PESSOA_RESUMO TR '
SELECT @QUERY = @QUERY + 'WHERE TR.CD_PESSOA_LIDERANCA   = '+CONVERT(VARCHAR(30),@CD_PESSOA) + ' '
SELECT @QUERY = @QUERY + 'AND   TR.CD_FUNCAO             = '+CONVERT(VARCHAR(30), @CD_FUNCAO) + ' '
SELECT @QUERY = @QUERY + 'AND   TR.NM_CICLO_ATUAL        = '+CONVERT(VARCHAR(30),@NM_CICLO) + ' '
SELECT @QUERY = @QUERY + 'AND   TR.CD_SITUACAO_COMERCIAL < 4 '

SELECT @QUERY = @QUERY + 'AND  (  (' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' >= 0 AND [dbo].[FN_BUSCA_COD_SIT_COMERCIAL_DETALHE_PESSOA] (TR.CD_PESSOA,TR.NM_CICLO_ATUAL) = ' + CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL) +')       OR ('+CONVERT(VARCHAR(30),@CD_SITUACAO_COMERCIAL)+ ' = -1)   ) '
SELECT @QUERY = @QUERY + 'AND  (  (' +CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+' > 0 AND TR.CD_PAPEL_DESEMPENHO = '+CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+') OR ('+CONVERT(VARCHAR(30),@CD_PAPEL_DESEMPENHO)+' = 0)   ) '
SELECT @QUERY = @QUERY + 'AND  (  (' +''''+@DC_BUSCA_CODIGO_NOME+''''+' <>' +'''-1'+''''+ 'AND (CONVERT(VARCHAR(30),TR.CD_PESSOA) LIKE ''%'+@DC_BUSCA_CODIGO_NOME+'%'' OR UPPER([dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA)) LIKE ''%'+@DC_BUSCA_CODIGO_NOME1+'%'')) OR ('+''''+@DC_BUSCA_CODIGO_NOME+''''+' = '+''''+'-1'+''''+') )   '
SELECT @QUERY = @QUERY + ' ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](TR.CD_PESSOA) '

   EXEC (@QUERY)
   --select @QUERY

  END



END
GO
