SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_CANCELA_PEDIDO_BATCH]
	@VAR_RETORNO		INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @Cursor_Itens						CURSOR

DECLARE @CD_PROCESSAMENTO_CANCELA_PEDIDO	NUMERIC(18,0)
DECLARE @NM_PEDIDO							NUMERIC(18,0)
DECLARE @CD_EST_SITUACAO					NUMERIC(18,0)
DECLARE @ID_MOVIMENTA_ESTOQUE				INT
DECLARE @CD_USUARIO							NUMERIC(18,0)
DECLARE @CD_SIT_ANTERIOR					NUMERIC(18,0)

BEGIN TRY

	SELECT @QT_LINHAS_AFETADAS = 0

	-- *****************************************************
	-- VAMOS ABRIR O CURSOR DA TABELA TB_PROCESSAMENTO_CANCELA_PEDIDO
	-- WHERE ID_SITUACAO_PROCESSAMENTO = 1 (EM FILA)
	-- *****************************************************
			
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
	
		SELECT	CD_PROCESSAMENTO_CANCELA_PEDIDO,
				NM_PEDIDO,
				CD_EST_SITUACAO,
				ID_MOVIMENTA_ESTOQUE,
				CD_USUARIO,
				CD_EST_SITUACAO_ANTERIOR
		FROM TB_PROCESSAMENTO_CANCELA_PEDIDO
		WHERE ID_SITUACAO_PROCESSAMENTO = 1			
		
	OPEN @Cursor_Itens
	FETCH NEXT FROM @Cursor_Itens
	INTO		@CD_PROCESSAMENTO_CANCELA_PEDIDO,
				@NM_PEDIDO,
				@CD_EST_SITUACAO,
				@ID_MOVIMENTA_ESTOQUE,
				@CD_USUARIO,
				@CD_SIT_ANTERIOR

	WHILE @@FETCH_STATUS = 0
		BEGIN

			EXEC dbo.SP_CANCELA_PEDIDO_PROCESSAMENTO
						@NM_PEDIDO,
						@CD_EST_SITUACAO,
						@ID_MOVIMENTA_ESTOQUE,
						@CD_SIT_ANTERIOR,
						@CD_USUARIO,
						@VAR_RETORNO		OUTPUT,
						@DC_ERRO			OUTPUT,
						@QT_LINHAS_AFETADAS OUTPUT
					
			
			-- GRAVA RETORNO COM SUCESSO
			IF @VAR_RETORNO = 0 
				BEGIN
					BEGIN TRANSACTION
					UPDATE TB_PROCESSAMENTO_CANCELA_PEDIDO
					SET ID_SITUACAO_PROCESSAMENTO = 3, DT_ENVIO_PROCESSAMENTO = GETDATE()
					WHERE CD_PROCESSAMENTO_CANCELA_PEDIDO = @CD_PROCESSAMENTO_CANCELA_PEDIDO
					COMMIT TRANSACTION
				END
			ELSE
				BEGIN
					BEGIN TRANSACTION
					-- GRAVA RETORNO COM ERRO
					UPDATE TB_PROCESSAMENTO_CANCELA_PEDIDO
					SET ID_SITUACAO_PROCESSAMENTO = 4, CD_RETORNO_PROCESSAMENTO = @DC_ERRO
					WHERE CD_PROCESSAMENTO_CANCELA_PEDIDO = @CD_PROCESSAMENTO_CANCELA_PEDIDO
					COMMIT TRANSACTION
				END
						
						
																										
			FETCH NEXT FROM @Cursor_Itens
			INTO		@CD_PROCESSAMENTO_CANCELA_PEDIDO,
						@NM_PEDIDO,
						@CD_EST_SITUACAO,
						@ID_MOVIMENTA_ESTOQUE,
						@CD_USUARIO,
						@CD_SIT_ANTERIOR
														
		END

	DEALLOCATE @Cursor_Itens

	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
