SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_ESPECIFICO_ELLAS]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS



/*************************************************************************
ID_EVENTO = 11 - ESPECIFICOS CANAL /  PEDIDO
São indicadores por pessoa com regras especificas do cliente

*************************************************************************/

DECLARE	@EXISTE_REGISTRO       NUMERIC(18,0),
        @VL_CONTADOR           NUMERIC(18,2),
        @CALCULA_INDICADOR     INT

DECLARE @VL_INDICADOR_PESSOAL_502 NUMERIC(18,2)

BEGIN TRY
  
  SELECT @QT_LINHAS_AFETADAS = 0
  IF (@ID_EVENTO = 11) -- ESPECIFICOS CANAL /  PEDIDO
  BEGIN

      --******************************************************************************
      -- CADASTRO SEM 1o PEDIDO COMO BELLA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(501,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(DISTINCT C.CD_PESSOA)
	FROM TB_PESSOA_RESUMO C with(nolock)  
	WHERE C.CD_PESSOA                       = @CD_PESSOA
	AND   C.CD_FUNCAO                       = @CD_FUNCAO
	AND   ISNULL(C.CD_SITUACAO_COMERCIAL,0) < 4
	AND   C.CD_PAPEL_CARREIRA               IN (2,3,4) 
	AND   NOT EXISTS (SELECT * FROM  TB_PEDIDO      A  with(nolock)
        		  WHERE A.CD_PESSOA                = C.CD_PESSOA
        		  AND   A.CD_FUNCAO                = @CD_FUNCAO
        		  AND   A.NM_CICLO_APROVACAO      >= C.NM_CICLO_INICIO
        		  AND   A.NM_CICLO_CANCELAMENTO   IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
			  AND   A.CD_PAPEL_CARREIRA       IN (2,3,4))

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 501
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						501,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						501,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- ATIVA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(502,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	
        SELECT @VL_INDICADOR_PESSOAL_502 = COUNT(CD_PESSOA)
        FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL 
	AND CD_INDICADOR_PESSOAL = 1005
        AND VL_INDICADOR_PESSOAL > 0
	

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 502
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						502,
						@VL_INDICADOR_PESSOAL_502,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						502,
						@VL_INDICADOR_PESSOAL_502,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INICIO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(503,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
        FROM  TB_PESSOA_INDICADOR    A  with(nolock)
        WHERE A.CD_PESSOA          = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO
	AND A.NM_CICLO             = @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL = 1005
	AND A.VL_INDICADOR_PESSOAL > 0
	AND NOT EXISTS (SELECT * FROM  TB_PESSOA_INDICADOR B with(nolock)
        	        WHERE B.CD_PESSOA          = A.CD_PESSOA
	                AND B.CD_FUNCAO            = @CD_FUNCAO
	                AND B.NM_CICLO            <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
		        AND B.CD_INDICADOR_PESSOAL = 1005
	                AND B.VL_INDICADOR_PESSOAL > 0)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 503
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						503,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						503,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INATIVA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(504,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
        FROM  TB_PESSOA_INDICADOR    A  with(nolock)
        WHERE A.CD_PESSOA          = @CD_PESSOA
	AND A.CD_FUNCAO            = @CD_FUNCAO
	AND A.NM_CICLO             = @NM_CICLO
	AND A.CD_INDICADOR_PESSOAL = 1005
	AND A.VL_INDICADOR_PESSOAL = 0
	AND EXISTS     (SELECT * FROM  TB_PESSOA_INDICADOR B with(nolock)
        	        WHERE B.CD_PESSOA          = A.CD_PESSOA
	                AND B.CD_FUNCAO            = @CD_FUNCAO
	                AND B.NM_CICLO            <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
		        AND B.CD_INDICADOR_PESSOAL = 1005
	                AND B.VL_INDICADOR_PESSOAL > 0)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 504
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						504,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						504,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- DISPONIVEL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(505,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		
        SELECT @VL_CONTADOR = COUNT(distinct A.CD_PESSOA)
        FROM  TB_PESSOA_INDICADOR    A  with(nolock)
	WHERE A.CD_PESSOA             = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO               <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)	
	AND A.CD_INDICADOR_PESSOAL    = 1005
        AND A.VL_INDICADOR_PESSOAL    > 0
        AND EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C with(nolock) 
		    WHERE C.CD_PESSOA = A.CD_PESSOA
		    AND   C.NM_CICLO  = @NM_CICLO 
		    AND ISNULL(C.CD_SITUACAO_COMERCIAL,0) = 2)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 505
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						505,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						505,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END


      --******************************************************************************
      -- INDISPONIVEL
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(506,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(distinct A.CD_PESSOA)
        FROM  TB_PESSOA_INDICADOR    A  with(nolock)
	WHERE A.CD_PESSOA             = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO               <= dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)	
	AND A.CD_INDICADOR_PESSOAL    = 1005
        AND A.VL_INDICADOR_PESSOAL    > 0
        AND EXISTS (SELECT * FROM TB_HIST_SITUACAO_CONSULTORA C with(nolock) 
		    WHERE C.CD_PESSOA = A.CD_PESSOA
		    AND   C.NM_CICLO  = @NM_CICLO 
		    AND ISNULL(C.CD_SITUACAO_COMERCIAL,0) = 3)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 506
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						506,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						506,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- A CESSAR / CESSADA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(507,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR = COUNT(distinct A.CD_PESSOA)
	FROM TB_HIST_SITUACAO_CONSULTORA A  with(nolock)
	WHERE  A.CD_PESSOA                    = @CD_PESSOA
	AND    A.CD_EST_COMERCIAL             = @CD_EST_COMERCIAL
	AND    A.NM_CICLO                     = @NM_CICLO
	AND    A.CD_PESSOA  IN (SELECT CD_PESSOA FROM TB_PESSOA_RESUMO with(nolock) 
							WHERE CD_PESSOA =  @CD_PESSOA AND CD_FUNCAO = @CD_FUNCAO AND CD_PAPEL_CARREIRA > 1)
	AND    A.CD_SITUACAO_COMERCIAL_DETALHE  IN (
	            select max(CD_SITUACAO_COMERCIAL_DETALHE) FROM TB_NIVEL_SITUACAO_COMERCIAL_DETALHE with(nolock)
			WHERE CD_SITUACAO_COMERCIAL  IN (2, 3)   )
	

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 507
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						507,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						507,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- PEDIDOS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(508,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(A.NM_PEDIDO)
        FROM TB_PEDIDO A  with(nolock)
	WHERE A.CD_PESSOA             = @CD_PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO_APROVACAO      = @NM_CICLO	
	AND A.NM_CICLO_CANCELAMENTO   IS NULL
	AND A.CD_PAPEL_CARREIRA       > 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 508
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						508,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 508
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION
 
   	END
      END

      --******************************************************************************
      -- ITENS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(509,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = isnull(SUM(B.QT_RESERVADA),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--      AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	AND   A.CD_PAPEL_CARREIRA        > 1
        AND B.ID_PRODUTO_COBRADO = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 509
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						509,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 509
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION
  
   	END
      END

      --******************************************************************************
      -- CADASTRO LELLA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(510,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(A.CD_PESSOA)
	FROM TB_PESSOA_RESUMO A with(nolock) 
	WHERE A.CD_PESSOA           = @CD_PESSOA
	AND   A.CD_FUNCAO           = @CD_FUNCAO
	AND   A.CD_PAPEL_CARREIRA  IN (2,3,4) 
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) NOT IN (0,4)
	AND  (    EXISTS (SELECT * FROM  TB_MN_PESSOA_ELEGIVEL B with (nolock) 
			  WHERE B.CD_PESSOA = A.CD_PESSOA
			  AND   B.CD_PAPEL >= 5)
 	      OR  EXISTS  (SELECT * FROM  TB_PESSOA_PAPEL_HISTORICO C with (nolock)  
			   WHERE C.CD_PESSOA          = A.CD_PESSOA
			   AND   C.CD_FUNCAO          = @CD_FUNCAO
			   AND   C.CD_PAPEL_CARREIRA >= 5 )     )

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 510
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						510,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						510,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- POTENCIAL LELLA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(511,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR  = CASE WHEN (COUNT(A.CD_PESSOA) IN (1,2,3,4)) THEN 1 ELSE 0 END
        FROM TB_PESSOA_INDICADOR A  with(nolock),
 	       (SELECT CD_PESSOA PESSOA
	        FROM TB_PESSOA_RESUMO with(nolock) 
		WHERE CD_PESSOA_VINCULADA = @CD_PESSOA
		AND   CD_FUNCAO           = @CD_FUNCAO
		AND   CD_PAPEL_CARREIRA  IN (2,3,4) ) B  -- BELLAS
	WHERE A.CD_PESSOA             = B.PESSOA
	AND A.CD_FUNCAO               = @CD_FUNCAO	
	AND A.NM_CICLO                = @NM_CICLO	
	AND A.CD_INDICADOR_PESSOAL    = 1005
        AND A.VL_INDICADOR_PESSOAL    > 0

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 511
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						511,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						511,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- LELLA ATIVA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(512,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR  =
	  ISNULL(SUM(CASE WHEN (A.CD_PAPEL_CARREIRA IN (6,7)  AND B.[1016] <= B.[1017]) THEN 1
		 	  WHEN (A.CD_PAPEL_CARREIRA IN (5)    AND B.[1008] >= 5)        THEN 1
			  ELSE 0  END),0)
	FROM TB_PESSOA_RESUMO A with(nolock),
        	(SELECT [1008],
               		[1016],
               		[1017]
        	FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                	     ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
               		FROM TB_PESSOA_INDICADOR with(nolock)
               		WHERE CD_PESSOA      = @CD_PESSOA
              		AND CD_FUNCAO        = @CD_FUNCAO
              		AND NM_CICLO         = @NM_CICLO
              		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
              		AND CD_INDICADOR_PESSOAL IN (1008,1016,1017)
              		GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
              		PIVOT (SUM(VALOR) FOR INDICADOR IN ([1008],[1016],[1017])) EM_COLUNA) B
	WHERE A.CD_PESSOA               = @CD_PESSOA
	AND   A.CD_FUNCAO               = @CD_FUNCAO
	AND   @VL_INDICADOR_PESSOAL_502 = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 512
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						512,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						512,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- LELLA EM REQUALIFICAÇÃO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(513,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR  =
	  ISNULL(SUM(CASE WHEN (A.CD_PAPEL_CARREIRA IN (6,7)  AND B.[1016] > B.[1017]) THEN 1
		 	  WHEN (A.CD_PAPEL_CARREIRA IN (5)    AND B.[1008] < 5) THEN 1
			  ELSE 0  END),0)
	FROM TB_PESSOA_RESUMO A with(nolock),
        	(SELECT [1008],
               		[1016],
               		[1017]
        	FROM  (SELECT CD_INDICADOR_PESSOAL INDICADOR, 
                	     ISNULL(SUM(VL_INDICADOR_PESSOAL),0) VALOR
               		FROM TB_PESSOA_INDICADOR with(nolock)
               		WHERE CD_PESSOA      = @CD_PESSOA
              		AND CD_FUNCAO        = @CD_FUNCAO
              		AND NM_CICLO         = @NM_CICLO
              		AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
              		AND CD_INDICADOR_PESSOAL IN (1008,1016,1017)
              		GROUP BY CD_INDICADOR_PESSOAL) EM_LINHA
              		PIVOT (SUM(VALOR) FOR INDICADOR IN ([1008],[1016],[1017])) EM_COLUNA) B
	WHERE A.CD_PESSOA               = @CD_PESSOA
	AND   A.CD_FUNCAO               = @CD_FUNCAO
	--AND   @VL_INDICADOR_PESSOAL_502 = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 513
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						513,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						513,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- LELLA CESSADA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(514,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

	SELECT @VL_CONTADOR  =
	  ISNULL(SUM(CASE WHEN (A.CD_PAPEL_CARREIRA IN (2,3,4)  AND B.PAPEL_CARREIRA IN (5,6,7)) THEN 1
		 	  ELSE 0  END),0)
	FROM TB_PESSOA_RESUMO A with(nolock),
        	(SELECT CD_PESSOA PESSOA, CD_PAPEL_CARREIRA PAPEL_CARREIRA
		 FROM TB_PESSOA_PAPEL_HISTORICO with(nolock)
		 WHERE CD_PESSOA          = @CD_PESSOA
		 AND   CD_FUNCAO          = @CD_FUNCAO
		 AND   NM_CICLO           = dbo.FN_BUSCA_CICLO_ANTERIOR_MMN(@NM_CICLO,2)
		 AND   CD_PAPEL_CARREIRA >= 5 ) B
	WHERE A.CD_PESSOA = B.PESSOA
	AND   A.CD_FUNCAO = @CD_FUNCAO

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 514
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						514,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						514,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- COMPRA BRUTA (TOTAL DE VENDAS REVENDA)
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(515,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

  	SELECT @VL_CONTADOR = isnull(SUM(B.VL_TABELA_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--      AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	AND   A.CD_PAPEL_CARREIRA        > 1
        AND B.ID_PRODUTO_COBRADO = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 515
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						515,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 515
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION

   	END
      END

      --******************************************************************************
      -- COMPRA LIQUIDA
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(516,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

  	SELECT @VL_CONTADOR = isnull(SUM(B.VL_LIQUIDO_TOTAL),0)
        FROM TB_PEDIDO A  with(nolock), TB_PEDIDO_ITEM B  with(nolock)
        WHERE A.CD_PESSOA                = @CD_PESSOA
        AND   A.CD_FUNCAO                = @CD_FUNCAO
--      AND   A.CD_EST_COMERCIAL         = @CD_EST_COMERCIAL
        AND   A.NM_CICLO_APROVACAO       = @NM_CICLO
        AND   A.NM_CICLO_CANCELAMENTO IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        AND   A.NM_PEDIDO                = B.NM_PEDIDO
--	AND   B.ID_GERA_BONUS            = 1 -- GERA BONUS O PRODUTO
--	AND   B.ID_GERA_GRADUACAO        = 1 -- GERA GRADUACAO O PRODUTO
        AND   B.NM_PEDIDO_ITEM_CONJUNTO  = 0
	AND   A.CD_PAPEL_CARREIRA        > 1
        AND B.ID_PRODUTO_COBRADO = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 516
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						516,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 516
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION

   	END
      END

      --******************************************************************************
      -- CADASTRO BELLA E LELLA COM PEDIDO EM HISTORICO
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(517,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = COUNT(C.CD_PESSOA)
	FROM TB_PESSOA_RESUMO C with(nolock)  
	WHERE C.CD_PESSOA                       = @CD_PESSOA
	AND   C.CD_FUNCAO                       = @CD_FUNCAO
	AND   ISNULL(C.CD_SITUACAO_COMERCIAL,0) < 4
	AND   C.CD_PAPEL_CARREIRA               > 1
	AND       EXISTS (SELECT * FROM  TB_PEDIDO      A  with(nolock)
        		  WHERE A.CD_PESSOA                = C.CD_PESSOA
        		  AND   A.CD_FUNCAO                = @CD_FUNCAO
        		  AND   A.NM_CICLO_APROVACAO      >= C.NM_CICLO_INICIO
        		  AND   A.NM_CICLO_CANCELAMENTO   IS NULL     -- SOMENTE PEDIDO NÃO CANCELADO
        		  AND   A.CD_PAPEL_CARREIRA       > 1)

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 517
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						517,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						517,
						@VL_CONTADOR,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
   	END
      END

      --******************************************************************************
      -- VALOR DE VENDAS (LV) DAS E-LOVERS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(518,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = ISNULL (SUM(B.INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_RESUMO A with(nolock),
  	    (SELECT CD_PESSOA PESSOA, VL_INDICADOR_PESSOAL INDICADOR_PESSOAL
	     FROM TB_PESSOA_INDICADOR  with(nolock)
	     WHERE CD_PESSOA          = @CD_PESSOA
	     AND CD_FUNCAO            = @CD_FUNCAO
	     AND CD_INDICADOR_PESSOAL = 1003
	     AND NM_CICLO             = @NM_CICLO) B
	WHERE A.CD_PESSOA                       = B.PESSOA
	AND   A.CD_FUNCAO                       = @CD_FUNCAO
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) < 4
	AND   A.CD_PAPEL_CARREIRA               = 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 518
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						518,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 518
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION

   	END
      END

      --******************************************************************************
      -- VALOR DE VENDAS (LV) DAS BELLAS / LELLAS
      --******************************************************************************
      -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
      SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(519,@ID_MOMENTO_CALCULO_INDICADOR) 
      IF @CALCULA_INDICADOR = 1
      BEGIN		

        SELECT @VL_CONTADOR = ISNULL (SUM(B.INDICADOR_PESSOAL),0)
	FROM TB_PESSOA_RESUMO A with(nolock),
  	    (SELECT CD_PESSOA PESSOA, VL_INDICADOR_PESSOAL INDICADOR_PESSOAL
	     FROM TB_PESSOA_INDICADOR  with(nolock)
	     WHERE CD_PESSOA          = @CD_PESSOA
	     AND CD_FUNCAO            = @CD_FUNCAO
	     AND CD_INDICADOR_PESSOAL = 1003
	     AND NM_CICLO             = @NM_CICLO) B
	WHERE A.CD_PESSOA                       = B.PESSOA
	AND   A.CD_FUNCAO                       = @CD_FUNCAO
	AND   ISNULL(A.CD_SITUACAO_COMERCIAL,0) < 4
	AND   A.CD_PAPEL_CARREIRA               > 1

        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR  with(nolock)
	WHERE CD_PESSOA          = @CD_PESSOA
	AND CD_FUNCAO            = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 519
	AND NM_CICLO             = @NM_CICLO
	AND CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
								
	IF (@EXISTE_REGISTRO     = 0)
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						519,
						@VL_CONTADOR,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
        END
	ELSE
	BEGIN
	  -- ATUALIZA
	  BEGIN TRANSACTION
	  UPDATE TB_PESSOA_INDICADOR SET
			VL_INDICADOR_PESSOAL = @VL_CONTADOR,
			DT_ATUALIZACAO = GETDATE(),
			CD_USUARIO_ATUALIZACAO = 0
	  WHERE CD_PESSOA = @CD_PESSOA
	  AND CD_FUNCAO = @CD_FUNCAO
	  AND CD_INDICADOR_PESSOAL = 519
	  AND NM_CICLO = @NM_CICLO
	  AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL							
	  commit TRANSACTION

   	END
      END



    END -- fim EVENTO = 11


 		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
