SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_RelatorioHistoricoIndicadoresEstrategicosEC]
		@ID_VISAO                       INT,
		@CD_NIVEL_EST_COMERCIAL		NUMERIC(18,0),
		@CD_EST_COMERCIAL		NUMERIC(18,0),
		@DC_LISTA_EST_COMERCIAL		VARCHAR(3000),
        	@CD_INDICADOR_PESSOAL		NUMERIC(18,0),
		@NM_CICLO_INICIAL		NUMERIC(18,0),
        	@NM_CICLO_FINAL			NUMERIC(18,0)
		--@V_RETORNO					NVARCHAR(MAX) OUTPUT
		

	
AS


DECLARE @cols	AS NVARCHAR(MAX),
		@cols1	AS NVARCHAR(MAX),
		@query  AS NVARCHAR(MAX)


DECLARE @V_DC_NIVEL1 AS VARCHAR(20)
DECLARE @V_DC_NIVEL2 AS VARCHAR(20)
DECLARE @V_DC_NIVEL3 AS VARCHAR(20)
DECLARE @V_DC_NIVEL4 AS VARCHAR(20)


-- ************************************************************************************************
-- NESSE TRECHO VAMOS MONTAR UMA STRING COM AS COLUNAS QUE QUERMOS MOSTRAR EM NOSSO RESULTADO
-- EXEMPLO, SE O CLIENTE ESCOLHEU DE 201708 ATÉ 201710
-- ESSA QUERY RETORNA O SEGUINTE ,ISNULL(201708,0),ISNULL(201709,0),ISNULL(2017110,0)
-- OU SEJA, MONTA A STRING DAS COLUNAS DE RETORNO
-- TEMOS QUE FAZER ISSO PARA SER DINAMICOS
-- O ISNULL É IMPORTANTE POIS CASO CONTRATIO NO RESULTADO VAI MOSTRAR NULL
-- ************************************************************************************************
SELECT @cols=  COALESCE(
		(SELECT ',ISNULL(' + QUOTENAME(NM_CICLO) + ',0) AS [' + CONVERT(VARCHAR(6),NM_CICLO) + ']'
                    from TB_PESSOA_INDICADOR
					WHERE NM_CICLO >= @NM_CICLO_INICIAL
					AND NM_CICLO <= @NM_CICLO_FINAL
                    group by NM_CICLO
                    order by NM_CICLO
					FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 


-- ************************************************************************************************
-- NESSE TRECHO FAZ MAIS OU MENOS O QUE FAZ NO TRECHO ACIMA
-- ENTRETANTO ESSE TRECHO SERÁ USADO NA FUNCIONALIDADE DO PIVOT TABLE
-- E NESSA FUNCIONALIDADE TEMOS APENAS QUE MOSTRAR AS COLUNAS, SEM TER A PREOCUPAÇÃO DE TRATAR O NULO
-- ************************************************************************************************
SELECT @cols1=  COALESCE(
		(SELECT ',' + QUOTENAME(NM_CICLO)
                    from TB_PESSOA_INDICADOR
					WHERE NM_CICLO >= @NM_CICLO_INICIAL
					AND NM_CICLO <= @NM_CICLO_FINAL
                    group by NM_CICLO
                    order by NM_CICLO
					FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 


-- RETIRA O PRIMEIRO CARACTER QUE É A VIRGULA
-- SE MANTER VAI DAR ERRO NA QUERY ABAIXO
SELECT @cols = SUBSTRING(@cols, 2, LEN(@cols)-1)
SELECT @cols1 = SUBSTRING(@cols1, 2, LEN(@cols1)-1)


-- ***********************************************************************
-- COM AS COLUNAS CRIADAS VAMOS AGORA MONTAR NOSSA QUERY PIVOT
-- IMPORTANTE: COMO TEMOS O NIVEL COMO FILTRO, TEMOS QUE VERIFICAR QUAL O NIVEL
-- POIS TEREMOS QUE TRAZER OS NIVEIS ANTERIORES
-- EXEMPLO: SE O USUARIO PEDIU SETOR, TEMOS QUE TRAZER AS INFORMAÇÕES DE 
-- GERENCIA NACIONAL E GERENCIA REGIONAL
-- ***********************************************************************               


-- BUSCA DESCRIÇÃO DOS NIVEIS (ISSO PODE SER DIFERENTE POR CLIENTE)

SELECT @V_DC_NIVEL1 = DC_NIVEL_EST_COMERCIAL
FROM TB_NIVEL_EST_COMERCIAL
WHERE CD_NIVEL_EST_COMERCIAL = 1

SELECT @V_DC_NIVEL2 = DC_NIVEL_EST_COMERCIAL
FROM TB_NIVEL_EST_COMERCIAL
WHERE CD_NIVEL_EST_COMERCIAL = 2

SELECT @V_DC_NIVEL3 = DC_NIVEL_EST_COMERCIAL
FROM TB_NIVEL_EST_COMERCIAL
WHERE CD_NIVEL_EST_COMERCIAL = 3

SELECT @V_DC_NIVEL4 = DC_NIVEL_EST_COMERCIAL
FROM TB_NIVEL_EST_COMERCIAL
WHERE CD_NIVEL_EST_COMERCIAL = 4


IF (@ID_VISAO = 1) -- REALIZADO
BEGIN
	-- EMPRESA
	IF @CD_NIVEL_EST_COMERCIAL = 1
		BEGIN
			SET @query = 'SELECT CD_EST_COMERCIAL [Cód. Estrutura], '
		END

	-- GERENTE NACIONAL
	IF @CD_NIVEL_EST_COMERCIAL = 2
		BEGIN
			SET @query = 'SELECT dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 1 ) [' + @V_DC_NIVEL1 + '], '
			SET @query = @query + '	CD_EST_COMERCIAL [Cód. Estrutura], '
		END


	-- GERENTE REGIONAL
	IF @CD_NIVEL_EST_COMERCIAL = 3
		BEGIN
			SET @query = 'SELECT dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 1 ) [' + @V_DC_NIVEL1 + '], '
			SET @query = @query + '	dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 2 ) [' + @V_DC_NIVEL2 + '], '
			SET @query = @query + '	CD_EST_COMERCIAL [Cód. Estrutura], '
		END


	-- SETOR
	IF @CD_NIVEL_EST_COMERCIAL = 4
		BEGIN
			SET @query = 'SELECT dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 1 ) [' + @V_DC_NIVEL1 + '], '
			SET @query = @query + '	dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 2 ) [' + @V_DC_NIVEL2 + '], '
			SET @query = @query + '	dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 3 ) [' + @V_DC_NIVEL3 + '], '
			SET @query = @query + '	CD_EST_COMERCIAL [Cód. Estrutura], '
		END


	SET @query = @query + '	DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL) [Estrutura Comercial], '
	SET @query = @query + '	dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(CD_EST_COMERCIAL, 0) [Responsável], '
	SET @query = @query + '	DBO.FN_BUSCA_DESC_INDICADOR_PESSOAL(CD_INDICADOR_PESSOAL) [Indicador],' + @cols + ' FROM '
	SET @query = @query + '	( '
	SET @query = @query + '	select dbo.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, ' + CONVERT(VARCHAR(2), @CD_NIVEL_EST_COMERCIAL) + ') CD_EST_COMERCIAL, NM_CICLO, TB_INDICADOR_PESSOAL.CD_INDICADOR_PESSOAL, VL_INDICADOR_PESSOAL '
	SET @query = @query + '	from tb_pessoa_indicador INNER JOIN TB_INDICADOR_PESSOAL ON TB_INDICADOR_PESSOAL.CD_INDICADOR_PESSOAL = TB_PESSOA_INDICADOR.CD_INDICADOR_PESSOAL '
	SET @query = @query + '	WHERE 1 = 1 AND ID_TIPO_INDICADOR = 7 AND'

	IF @CD_EST_COMERCIAL <> 0
		BEGIN
			 -- SET @query = @query + '	CD_EST_COMERCIAL IN (' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ' ) AND  '
			SET @query = @query + '	DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', CD_EST_COMERCIAL) = 1 AND '

			SET @query = @query + '  dbo.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, ' + CONVERT(VARCHAR(2), @CD_NIVEL_EST_COMERCIAL) + ' ) = CD_EST_COMERCIAL AND '
		END

		--	SET @query = @query + '  dbo.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, ' + CONVERT(VARCHAR(2), @CD_NIVEL_EST_COMERCIAL) + ' ) IS NOT NULL AND '
	IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) AND  '
			--SET @query = @query + '	CD_EST_COMERCIAL IN ' + @DC_LISTA_EST_COMERCIAL + ' AND  '
		END


	IF @CD_INDICADOR_PESSOAL <> 0
		BEGIN
			SET @query = @query + '	TB_INDICADOR_PESSOAL.CD_INDICADOR_PESSOAL = ' + CONVERT(VARCHAR(100), @CD_INDICADOR_PESSOAL) + ' AND  '
		END

	SET @query = @query + '	NM_CICLO >= ' + CONVERT(VARCHAR(6), @NM_CICLO_INICIAL) + ' AND NM_CICLO <= ' + CONVERT(VARCHAR(6), @NM_CICLO_FINAL) + ') x '
	SET @query = @query + '	pivot ( '
	SET @query = @query + '	SUM(VL_INDICADOR_PESSOAL) '


	-- EMPRESA
	IF @CD_NIVEL_EST_COMERCIAL = 1
		BEGIN
			SET @query = @query + '	for NM_CICLO in (' + @cols1 + ')) p ORDER BY 2,4'
		END


	-- NACIONAL
	IF @CD_NIVEL_EST_COMERCIAL = 2
		BEGIN
			SET @query = @query + '	for NM_CICLO in (' + @cols1 + ')) p ORDER BY 3,5'
		END


	-- NACIONAL
	IF @CD_NIVEL_EST_COMERCIAL = 3
		BEGIN
			SET @query = @query + '	for NM_CICLO in (' + @cols1 + ')) p ORDER BY 4,6'
		END


	-- SETOR
	IF @CD_NIVEL_EST_COMERCIAL = 4
		BEGIN
			SET @query = @query + '	for NM_CICLO in (' + @cols1 + ')) p ORDER BY 5,7'
		END
END

IF (@ID_VISAO = 2) -- REALIZADO X META
BEGIN
	-- EMPRESA
	IF @CD_NIVEL_EST_COMERCIAL = 1
		BEGIN
			SET @query = 'SELECT CD_EST_COMERCIAL [Cód. Estrutura], '
		END

	-- GERENTE NACIONAL
	IF @CD_NIVEL_EST_COMERCIAL = 2
		BEGIN
			SET @query = 'SELECT dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 1 ) [' + @V_DC_NIVEL1 + '], '
			SET @query = @query + '	CD_EST_COMERCIAL [Cód. Estrutura], '
		END


	-- GERENTE REGIONAL
	IF @CD_NIVEL_EST_COMERCIAL = 3
		BEGIN
			SET @query = 'SELECT dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 1 ) [' + @V_DC_NIVEL1 + '], '
			SET @query = @query + '	dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 2 ) [' + @V_DC_NIVEL2 + '], '
			SET @query = @query + '	CD_EST_COMERCIAL [Cód. Estrutura], '
		END


	-- SETOR
	IF @CD_NIVEL_EST_COMERCIAL = 4
		BEGIN
			SET @query = 'SELECT dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 1 ) [' + @V_DC_NIVEL1 + '], '
			SET @query = @query + '	dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 2 ) [' + @V_DC_NIVEL2 + '], '
			SET @query = @query + '	dbo.FN_BUSCA_DESC_EST_COMERCIAL_NIVEL(CD_EST_COMERCIAL, 3 ) [' + @V_DC_NIVEL3 + '], '
			SET @query = @query + '	CD_EST_COMERCIAL [Cód. Estrutura], '
		END


	SET @query = @query + '	DBO.FN_BUSCA_DESC_EST_COMERCIAL(CD_EST_COMERCIAL) [Estrutura Comercial], '
	SET @query = @query + '	dbo.FN_BUSCA_NOME_RESPONSAVEL_EST_COMERCIAL(CD_EST_COMERCIAL, 0) [Responsável], '
	SET @query = @query + '	NM_CICLO [Ciclo],'
	SET @query = @query + '	DBO.FN_BUSCA_DESC_INDICADOR_PESSOAL(CD_INDICADOR_PESSOAL) [Indicador], '
	SET @query = @query + '	VL_INDICADOR_PESSOAL [Valor Realizado], VL_META  [Valor Meta], ' 
	SET @query = @query + '	CASE WHEN isnull(VL_META,0) > 0 THEN CAST( ( (VL_INDICADOR_PESSOAL / VL_META ) *100) as Decimal(10,2) )  ELSE NULL  END [% Atingimento]     FROM '
	
	SET @query = @query + '	( '
	SET @query = @query + '	select dbo.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(A.CD_EST_COMERCIAL, ' + CONVERT(VARCHAR(2), @CD_NIVEL_EST_COMERCIAL) + ') CD_EST_COMERCIAL, A.NM_CICLO, B.CD_INDICADOR_PESSOAL, C.VL_META VL_META ,SUM(A.VL_INDICADOR_PESSOAL) VL_INDICADOR_PESSOAL '
	SET @query = @query + '	from tb_pessoa_indicador A INNER JOIN TB_INDICADOR_PESSOAL B ON A.CD_INDICADOR_PESSOAL = B.CD_INDICADOR_PESSOAL '
	SET @query = @query + '	LEFT JOIN TB_META_INDICADOR C ON dbo.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(A.CD_EST_COMERCIAL, ' + CONVERT(VARCHAR(2), @CD_NIVEL_EST_COMERCIAL) + ') = C.CD_EST_COMERCIAL AND A.NM_CICLO = C.NM_CICLO AND A.CD_INDICADOR_PESSOAL = C.CD_INDICADOR_PESSOAL '
	SET @query = @query + '	WHERE 1 = 1 AND ID_TIPO_INDICADOR = 7 AND'

	IF @CD_EST_COMERCIAL <> 0
		BEGIN
			--SET @query = @query + '	A.CD_EST_COMERCIAL IN (' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ' ) AND  '
			SET @query = @query + '	DBO.FN_EST_COMERCIAL(' + CONVERT(VARCHAR(100), @CD_EST_COMERCIAL) + ', A.CD_EST_COMERCIAL) = 1 AND '

			SET @query = @query + '  dbo.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(A.CD_EST_COMERCIAL, ' + CONVERT(VARCHAR(2), @CD_NIVEL_EST_COMERCIAL) + ' ) = A.CD_EST_COMERCIAL AND '
		END


	IF @DC_LISTA_EST_COMERCIAL <> '0'
		BEGIN
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,'(',' ')
			SELECT @DC_LISTA_EST_COMERCIAL = REPLACE(@DC_LISTA_EST_COMERCIAL,')',' ')

			SET @query = @query + '	A.CD_EST_COMERCIAL IN (' + @DC_LISTA_EST_COMERCIAL + ' ) AND  '

		END


	IF @CD_INDICADOR_PESSOAL <> 0
		BEGIN
			SET @query = @query + '	B.CD_INDICADOR_PESSOAL = ' + CONVERT(VARCHAR(100), @CD_INDICADOR_PESSOAL) + ' AND  '
		END

	SET @query = @query + '	A.NM_CICLO = ' + CONVERT(VARCHAR(6), @NM_CICLO_INICIAL) 
	
	SET @query = @query + ' GROUP BY dbo.FN_BUSCA_COD_EST_COMERCIAL_NIVEL(A.CD_EST_COMERCIAL, ' + CONVERT(VARCHAR(2), @CD_NIVEL_EST_COMERCIAL) + '), A.NM_CICLO, B.CD_INDICADOR_PESSOAL, C.VL_META ) x '
	


	-- EMPRESA
	IF @CD_NIVEL_EST_COMERCIAL = 1
		BEGIN
			SET @query = @query + ' ORDER BY 2,5'
		END


	-- NACIONAL
	IF @CD_NIVEL_EST_COMERCIAL = 2
		BEGIN
			SET @query = @query + ' ORDER BY 3,6'
		END


	-- NACIONAL
	IF @CD_NIVEL_EST_COMERCIAL = 3
		BEGIN
			SET @query = @query + ' ORDER BY 4,7'
		END


	-- SETOR
	IF @CD_NIVEL_EST_COMERCIAL = 4
		BEGIN
			SET @query = @query + ' ORDER BY 5,8'
		END
END

EXEC(@query);
--select @query







GO
