SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ACERTA_EMBALAGEM_PEDIDO]
	@CD_USUARIO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @Cursor_Pedidos				CURSOR
DECLARE @NM_PEDIDO					NUMERIC(18,0)


DECLARE @NM_EMBALAGEM				NUMERIC(18,0),
		@NM_EMBALAGEM_PEDIDO		NUMERIC(18,0),
		@VL_PESO					NUMERIC(18,4),
		@Cursor_Itens				CURSOR
		
	
BEGIN TRY
	
	SELECT @QT_LINHAS_AFETADAS = 0

	-- **************************************************************
	-- ABRE CURSOR COM PEDIDOS 
	-- 6 - EM SEPARAÇÃO
	-- 200 - AGUARDANDO ENTIDADE
	-- **************************************************************
	
	SET @Cursor_Pedidos = CURSOR FAST_FORWARD
		FOR
			SELECT NM_PEDIDO
			FROM TB_PEDIDO
			WHERE CD_EST_SITUACAO IN (6, 200)
			--AND NM_PEDIDO = 635197
			ORDER BY NM_PEDIDO  ASC
	
	OPEN @Cursor_Pedidos
	FETCH NEXT FROM @Cursor_Pedidos
	INTO @NM_PEDIDO
	
	WHILE @@FETCH_STATUS = 0
		BEGIN

			-- APAGA AS TABELAS
			DELETE FROM TB_WRK_MATERIAL_EMBALAGEM
			
			DELETE FROM TB_WRK_CONTROLE_EMBALAGEM
			WHERE NM_PEDIDO = @NM_PEDIDO
						
			DELETE FROM TB_MATERIAL_EMBALAGEM
			WHERE EXISTS (SELECT 1 FROM TB_PEDIDO_EMBALAGEM PE WHERE TB_MATERIAL_EMBALAGEM.NM_EMBALAGEM = PE.NM_EMBALAGEM
			AND PE.NM_PEDIDO = @NM_PEDIDO)

			DELETE FROM TB_PEDIDO_EMBALAGEM_HISTORICO
			WHERE NM_PEDIDO = @NM_PEDIDO
			
			DELETE FROM TB_PEDIDO_EMBALAGEM
			WHERE NM_PEDIDO = @NM_PEDIDO


			--EXECUTA NOVAMENTE A GERA EMBALAGEM
			EXEC pr_PedidoGeraEmbalagemPedido
				@NM_PEDIDO,
				@CD_USUARIO,
	
				@VAR_RETORNO	OUTPUT,
				@DC_ERRO		OUTPUT,
				@QT_LINHAS_AFETADAS OUTPUT
			
			FETCH NEXT FROM @Cursor_Pedidos
			INTO @NM_PEDIDO
											
		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
