SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULA_PESSOA_INDICADOR_CLIENTE]
  @CD_PESSOA NUMERIC(18,0),
  @CD_FUNCAO NUMERIC(18,0),
  @CD_EST_COMERCIAL NUMERIC(18,0),
  @NM_CICLO NUMERIC(18,0),
  @ID_EVENTO INT,
  @ID_TIPO_ATUALIZACAO INT,  -- 1 PARA ADICIONAR E 2 PARA DIMINUIR
  @ID_MOMENTO_CALCULO_INDICADOR INT,
  @CD_USUARIO NUMERIC(18,0),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS


/*

ID_EVENTO = 1 - APROVAÇÃO DE PEDIDO
ID_EVENTO = 2 - CANCELAMENTO DE PEDIDO APROVADO
ID_EVENTO = 3 - ALOCACAO DE REDE
ID_EVENTO = 4 - PAGAMENTO DE PEDIDO
ID_EVENTO = 5 - CANCELAMENTO DE PAGAMENTO DE PEDIDO
ID_EVENTO = 6 - FIM DIA
ID_EVENTO = 7 - ALTERAR PAPEL MANUALMENTE
ID_EVENTO = 8 - REAVALIAR CREDITO
ID_EVENTO = 9 - TEMPO REAL

*/

DECLARE @CD_CLIENTE NUMERIC(18,0)

BEGIN TRY


  SELECT @QT_LINHAS_AFETADAS = 0

  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO  with (NOLOCK)
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

  -- *******************************
  -- FROW
  -- *******************************
  IF @CD_CLIENTE in (12)
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_FR
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- PIERRE
  -- *******************************
  IF @CD_CLIENTE in (20)
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_PIERRE
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- HAVILA CESTAS
  -- *******************************
  IF @CD_CLIENTE in (22)
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_HAC
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- VIVER MAIS
  -- *******************************
  IF @CD_CLIENTE in (23)
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_VIM
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- CMC
  -- *******************************
  IF @CD_CLIENTE in (24)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_CMC
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- A SÓS
  -- *******************************
  IF @CD_CLIENTE in (25) 
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_ASOS
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- EVINO
  -- *******************************
  IF @CD_CLIENTE in (28) 
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_EVINO
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- FANES
  -- *******************************
  IF @CD_CLIENTE in (30)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_FANES
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- BIOGALENA
  -- *******************************
  IF @CD_CLIENTE in (31)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_BIOGALENA
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 
  -- *******************************
  -- CRESER
  -- *******************************
  IF @CD_CLIENTE in (32)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_CRESER
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- CLOROFITUM
  -- *******************************
  IF @CD_CLIENTE in (33)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_CLOROFITUM
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- WINE HOUSE
  -- *******************************
  IF @CD_CLIENTE in (35)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_WINEHOUSE
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- CACAU SHOW
  -- *******************************
  IF @CD_CLIENTE in (37)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_CACAUSHOW
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- NAVOGA
  -- *******************************
  IF @CD_CLIENTE in (38)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_NAVOGA
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- STRAP
  -- *******************************
  IF @CD_CLIENTE in (39)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_STRAP
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- MODA DO CHEF
  -- *******************************
  IF @CD_CLIENTE in (40)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_MODADOCHEF
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- AKMOS
  -- *******************************
  IF @CD_CLIENTE in (41)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_AKMOS
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 


  -- *******************************
  -- BIO EXTRATUS
  -- *******************************
  IF @CD_CLIENTE in (42)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_BIOEXTRATUS
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- MAKIE
  -- *******************************
  IF @CD_CLIENTE in (43)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_MAKIE
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- LILIH
  -- *******************************
  IF @CD_CLIENTE in (45)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_LILIH
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- MAHOGANY
  -- *******************************
  IF @CD_CLIENTE in (47)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_MAHOGANY
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- SIBERIANN
  -- *******************************
  IF @CD_CLIENTE in (48)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_SIBERIANN
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- ELLAS
  -- *******************************
  IF @CD_CLIENTE in (50)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_ELLAS
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- PACHAMAMA
  -- *******************************
  IF @CD_CLIENTE in (51)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_PACHAMAMA
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- WEST1
  -- *******************************
  IF @CD_CLIENTE in (53)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_WEST1
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 
  
  -- *******************************
  -- BECORE
  -- *******************************
  IF @CD_CLIENTE in (56)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_BECORE
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- DNANAMODA
  -- *******************************
  IF @CD_CLIENTE in (54)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_DNANAMODA
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 
  
  -- *******************************
  -- KENKO PATTO
  -- *******************************
  IF @CD_CLIENTE in (55)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_KENKOPATTO
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  -- *******************************
  -- LOWELL
  -- *******************************
  IF @CD_CLIENTE in (57)  
  BEGIN 
    EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE_LOWELL
                     @CD_PESSOA,
                     @CD_FUNCAO,
                     @CD_EST_COMERCIAL,
                     @NM_CICLO,
                     @ID_EVENTO,                    --FIM DIA
                     @ID_TIPO_ATUALIZACAO,          --ADICIONAR
                     @ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
                     @CD_USUARIO,
                     @VAR_RETORNO OUTPUT,
                     @DC_ERRO OUTPUT,
                     @QT_LINHAS_AFETADAS OUTPUT

  END 

  SELECT @VAR_RETORNO = 0	
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
