SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE]
	@CD_PESSOA			NUMERIC(18,0),
	@CD_FUNCAO			NUMERIC(18,0),
	@NM_CICLO			NUMERIC(18,0),
	@NM_PEDIDO			NUMERIC(18,0),
	@ID_ORIGEM			INT,
	@ID_MODO_EXECUCAO	INT, --1 para pessoa e 2 para pedido
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

	/***************************************************
	ID_ORIGEM = 1 PEDIDO APROVADO
	ID_ORIGEM = 2 PEDIDO PAGO
	ID_ORIGEM = 3 CANCELAMENTO DE PEDIDO APROVADO
	ID_ORIGEM = 4 CANCELAMENTO DE PEDIDO PAGO
	****************************************************/
	
DECLARE @CD_CLIENTE			NUMERIC(18,0)


BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
		
		-- *********************************************
		-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
		-- *********************************************
		select @CD_CLIENTE = vl_parametro 
		from TB_valor_PARAMETRO
		where CD_GRUPO_PARAMETRO = 6
		and CD_PARAMETRO = 1
		and CD_VALOR_PARAMETRO  =1
		

		-- *******************************
		-- ATS - GERAL
		-- *******************************
		if @CD_CLIENTE = 1
			BEGIN
			
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_ATS
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_ATS
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END 
			
		-- *******************************
		-- MEGA AROMAS
		-- *******************************
		if @CD_CLIENTE = 3 
			BEGIN
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_MA
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_MA
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END 
			

		-- *******************************
		-- BEAUTYWAY
		-- *******************************
		if @CD_CLIENTE = 2
			BEGIN
		
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_BW
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_BW
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END	
				
					
			END 


		-- *******************************
		-- ARETTA
		-- *******************************
		if @CD_CLIENTE = 4
			BEGIN
			
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_ARE
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_ARE
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END


		-- *******************************
		-- ALIANCA
		-- *******************************
		if @CD_CLIENTE = 5
			BEGIN
			
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_ALI
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_ALI
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END


		-- *******************************
		-- LA LASTRA
		-- *******************************
		if @CD_CLIENTE = 6
			BEGIN
			
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_LAS
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_LAS
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END
			
			
		-- *******************************
		-- DOUX
		-- *******************************
		if @CD_CLIENTE = 7
			BEGIN
			
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_DO
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_DO
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END 


        -- *******************************
		-- MNF
		-- *******************************
		if @CD_CLIENTE = 8
			BEGIN
			
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_DO
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_DO
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END 

        -- *******************************
		-- NAÇÃO VERDE
		-- *******************************
		if @CD_CLIENTE = 9
			BEGIN
			
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_NV
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_NV
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END 

		-- *******************************
		-- 5 AVENIDA
		-- *******************************
		if @CD_CLIENTE = 10
			BEGIN
			
				IF @ID_MODO_EXECUCAO = 1 -- EXECUTA A REMUNERACAO POR PESSOA
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_5A
							@CD_PESSOA,
							@CD_FUNCAO,
							@NM_CICLO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
					
				ELSE --EXECUTA A REMUNERACAO POR PEDIDO
					BEGIN
						EXEC dbo.SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_5A
							@NM_PEDIDO,
							@VAR_RETORNO output,
							@DC_ERRO output,
							@QT_LINHAS_AFETADAS output
					END
			
			END
			
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
