SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************
PROCEDURE CRIADA POR ALDIR DIA 28/11/2019
ESSA PROCEDURE SERÁ UTILIZADA PARA ATUALIZAR A SITUAÇÃO DA DÍVIDA

*****************************************************************************/
CREATE PROCEDURE [dbo].[pr_MNAtualizaDividasEC]
		@CD_DIVIDA_EC	        NUMERIC(18,0),
		@ID_SITUACAO_DIVIDA_EC  INT,   -- 1 PENDENTE / 2 PAGO / 3 CANCELADO
		@CD_USUARIO		NUMERIC(18,0),
		@VAR_RETORNO		INT OUTPUT,
		@DC_ERRO		NVARCHAR(MAX) OUTPUT,
		@QT_LINHAS_AFETADAS	INT OUTPUT
		

	
AS
BEGIN TRY
	SELECT @QT_LINHAS_AFETADAS = 0
	UPDATE TB_MN_DIVIDA_EC
	SET ID_SITUACAO_DIVIDA_EC  = @ID_SITUACAO_DIVIDA_EC
	   ,DT_ATUALIZACAO         = GETDATE()
	   ,CD_USUARIO_ATUALIZACAO = @CD_USUARIO
	WHERE CD_DIVIDA_EC = @CD_DIVIDA_EC
	SELECT @VAR_RETORNO = 0

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
   SELECT @VAR_RETORNO = 1
   SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
