SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoInserePedidoTemp]
	-- Add the parameters for the stored procedure here
	@p_codigoPessoa		numeric(18,0),
	@p_codigoFuncao		int,
	@p_codigoSituacao	numeric(18,0),
	@p_descAcao			varchar(1),
	
	@p_nmPedidoTemp		numeric(18,0)	output,
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS
BEGIN TRY
	
	SET NOCOUNT ON;

    IF @p_descAcao = 'I'
		BEGIN
    
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
			
			insert into TB_WRK_PEDIDO_TEMP values (GETDATE(),@p_codigoPessoa,@p_codigoFuncao,@p_codigoSituacao)
			
			SELECT @p_nmPedidoTemp = @@IDENTITY
			
			--Abre a situação em captação no histórico
			exec pr_PedidoGravaHistoricoPedidoTemp
			    @p_nmPedidoTemp,
			    @p_codigoSituacao,
			    1,
			    '',
			    @p_codigoPessoa,
			    @p_codigoErro output,
			    @p_descricaoErro output,
			    @p_linhasAfetadas output
					
		
		END
		
	IF @p_descAcao = 'E'
		BEGIN
			
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
			
			DELETE FROM TB_WRK_PEDIDO_TEMP WHERE NM_PEDIDO_TEMP = @p_nmPedidoTemp
		
		END
		
	IF @p_descAcao = 'A'
		BEGIN
			
			SELECT @p_linhasAfetadas = 0
			SELECT @p_codigoErro = 0
			SELECT @p_descricaoErro = ''
			
			UPDATE TB_WRK_PEDIDO_TEMP 
			SET CD_PESSOA = @p_codigoPessoa, 
				CD_FUNCAO = @p_codigoFuncao, 
				CD_EST_SITUACAO = @p_codigoSituacao
			WHERE NM_PEDIDO_TEMP = @p_nmPedidoTemp
		
		END
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
