SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[pr_NotaFiscalAtualizaStatusIntegracao]
    @p_cd_nota_fiscal INT,
    @p_id_status_integracao INT,
    @p_dc_razao_mudanca VARCHAR(255),

    @p_codigoErro INT OUTPUT,
    @p_descErro VARCHAR(1000) OUTPUT,
    @p_qtLinhasAfetadas  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        SET @p_codigoErro = 0;
        SET @p_descErro = '';
        SET @p_qtLinhasAfetadas = 0;

        DECLARE @status_atual INT;

        -- Verificar o status atual
        SELECT @status_atual = ID_STATUS_INTEGRACAO
        FROM TB_NOTA_FISCAL
        WHERE CD_NOTA_FISCAL = @p_cd_nota_fiscal;

        IF @status_atual IS NULL
        BEGIN
            SET @p_codigoErro = 1;
            SET @p_descErro = 'Código da nota fiscal não encontrado.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @status_atual = @p_id_status_integracao
        BEGIN
            COMMIT TRANSACTION;
            RETURN;
        END

        UPDATE TB_NOTA_FISCAL
        SET ID_STATUS_INTEGRACAO = @p_id_status_integracao
        WHERE CD_NOTA_FISCAL = @p_cd_nota_fiscal;

        INSERT INTO TB_LOG_STATUS_INTEGRACAO (ID_TIPO_LOG_STATUS_INTEGRACAO, CD_ENTIDADE, DC_RAZAO_MUDANCA, ID_NOVO_STATUS_INTEGRACAO)
        VALUES (2, @p_cd_nota_fiscal, @p_dc_razao_mudanca, @p_id_status_integracao); -- 2 para 'Nota Fiscal'

        SET @p_qtLinhasAfetadas = @@ROWCOUNT;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @p_codigoErro = ERROR_NUMBER();
        SET @p_descErro = ERROR_MESSAGE();
    END CATCH
END;
GO
