SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[pr_PedidoInsereCupomDescontoUtilizado]

@p_cdPessoa					NUMERIC(18),
@p_nmPedido					NUMERIC(18),
@p_dcCodigoCupom			VARCHAR(100),
@p_cdCampanha				NUMERIC(18),
@p_cdPessoaCodigoCupom		NUMERIC(18),
@p_idUtilizado				INT,
/*@p_dcFuncao					VARCHAR(100),
@p_cdUsuario				NUMERIC(18),*/

@p_idTipoFuncao             VARCHAR(1),
	
@p_codigoErro               INT OUTPUT,
@p_descricaoErro            NVARCHAR(MAX) OUTPUT,
@p_linhasAfetadas           INT OUTPUT	

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0		
	
		IF @p_idTipoFuncao = 'I'
			BEGIN
				INSERT INTO TB_PEDIDO_CAMPANHA_CUPOM_DESCONTO VALUES(
				@p_cdPessoa, 
				@p_nmPedido, 
				@p_dcCodigoCupom,
				@p_cdCampanha, 
				@p_cdPessoaCodigoCupom, 
				@p_idUtilizado)
			END	

		IF @p_idTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 
		
				UPDATE TB_PEDIDO_CAMPANHA_CUPOM_DESCONTO SET							
				ID_UTILIZADO = @p_idUtilizado
				WHERE CD_CAMPANHA = @p_cdCampanha AND NM_PEDIDO = @p_nmPedido AND CD_PESSOA = @p_cdPessoa
							
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	

			IF @p_idTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION	
				delete from TB_PEDIDO_CAMPANHA_CUPOM_DESCONTO 
				WHERE NM_PEDIDO = @p_nmPedido AND CD_PESSOA = @p_cdPessoa
							
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION				
			END
			
		SELECT @p_codigoErro = 0		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
