SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_PRODUTO_VENDA_COMPONENTE]
	@CD_PRODUTO_VENDA	numeric(18,0),
	@CD_MATERIAL		numeric(18,0),
	@QT_UTILIZADA		numeric(18,0),
	@VL_PERCENTUAL		numeric(18,2),
	
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS

BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0

		
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO TB_PRODUTO_VENDA_COMPONENTE (
					CD_PRODUTO_VENDA,
					CD_MATERIAL,
					QT_UTILIZADA,
					VL_PERCENTUAL)
	
						
				VALUES           (
					@CD_PRODUTO_VENDA,
					@CD_MATERIAL,
					@QT_UTILIZADA,
					@VL_PERCENTUAL	)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_PRODUTO_VENDA_COMPONENTE 
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA 
							
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
				
			END	
			

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
