SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_DividaAssociaEntidadeConciliacaoParcela]
	@p_codigoPedido					numeric(18,0),
	@p_codigoParcela				numeric(18,0),
	@p_codigoEntidadeConciliacao	numeric(18,0),
	@p_codigousuario				numeric(18,0),
		
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output


AS

DECLARE @V_CD_EST_SITUACAO INT

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    
	    BEGIN TRANSACTION 

		-- *********************************************************************************************************
		-- VAMOS FAZER A ASSSOCIAÇÃO POR PEDIDO OU POR PARCELA
		-- A PIERRE FAZ A ASSOCIAÇÃO DE ENTIDADE POR PEDIDO
		-- SE FOR ESCOLHIDO UM PEDIDO TEMOS QUE VERIFICAR PELO MEIO DE PAGAMENTO SE VAMOS FAZER O PROCESSO 
		-- QUE AGUARDA A RESPOSTA DA FACTORY
		-- CASO CONTRARIO, VAMOS APENAS ALTERAR A ENTIDADE E MANTER O PEDIDO NO MESMO HISORICO
		-- *********************************************************************************************************

		IF @p_codigoPedido > 0 
			BEGIN

				UPDATE TB_PARCELA
				SET CD_ENTIDADE_CRIACAO = @p_codigoEntidadeConciliacao
				FROM TB_PARCELA P
				INNER JOIN TB_DIVIDA D ON P.CD_DIVIDA = D.CD_DIVIDA
				WHERE D.NM_PEDIDO = @p_codigoPedido


				-- *******************************************************************
				-- ALTERA SITUAÇÃO DO PEDIDO
				-- *******************************************************************

				SELECT @V_CD_EST_SITUACAO = CD_EST_SITUACAO
				FROM TB_PEDIDO
				WHERE NM_PEDIDO = @p_codigoPedido

				-- SE O STATUS DO PEDIDO FOR IGUAL A 200 - AGUARDANDO DEFINIR ENTIDADE DE CONCILIACAO
				-- VAMOS ALTERAR PARA 201 - AGUARDANDO REPOSTA DA ENTIDADE DE CONCILIAÇÃO
				IF @V_CD_EST_SITUACAO = 200 
					BEGIN
						UPDATE TB_PEDIDO SET CD_EST_SITUACAO = 201
						WHERE NM_PEDIDO = @p_codigoPedido

						-- FECHA A SITUAÇÃO Aguardando definir entidade de conciliação
						EXEC SP_GRAVA_HISTORICO_PEDIDO
							@p_codigoPedido,
							200, 
							2, 
							0,
							'',
							@p_codigousuario,
							0,
							'',
							0

						-- ABRE A SITUAÇÃO Aguardando reposta entidade de conciliação
						EXEC SP_GRAVA_HISTORICO_PEDIDO
							@p_codigoPedido,
							201, 
							1, 
							0,
							'',
							@p_codigousuario,
							0,
							'',
							0

					END



			END
		ELSE
			BEGIN

				IF @p_codigoParcela > 0 
					BEGIN
						UPDATE TB_PARCELA
						SET CD_ENTIDADE_CRIACAO = @p_codigoEntidadeConciliacao
						WHERE CD_PARCELA = @p_codigoParcela
					END

			END

		


	    

	    
	    SELECT @p_linhasAfetadas = @@ROWCOUNT
				
	    COMMIT TRANSACTION


			
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
     
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
