SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_FiscalInsereRegraFiscal]
	@p_codigoRegraFiscal			NUMERIC(18,0),
	@p_descRegraFiscal				VARCHAR(200),
	@p_idApuraIcms					INT,
	@p_idApuraIpi					INT,
	@p_codigoCFOPVenda				NUMERIC(18,0),
	@p_codigoCFOPRevenda			NUMERIC(18,0),
	@p_codigoCFOPDoacao				NUMERIC(18,0),
	@p_idPrecoFaturamentoVenda		INT,
	@p_idPrecoFaturamentoRevenda	INT,
	@p_idPrecoFaturamentoDoacao		INT,
	@p_codigoTextoLegalVenda		NUMERIC(18,0),
	@p_codigoTextoLegalRevenda		NUMERIC(18,0),
	@p_codigoTextoLegalDoacao		NUMERIC(18,0),
	@p_codigoCFOPVenda_PJ			NUMERIC(18,0),
	@p_codigoCFOPRevenda_PJ			NUMERIC(18,0),
	@p_codigoCFOPDoacao_PJ			NUMERIC(18,0),
	@p_idPrecoFaturamentoVenda_PJ	INT,
	@p_idPrecoFaturamentoRevenda_PJ	INT,
	@p_idPrecoFaturamentoDoacao_PJ	INT,
	@p_codigoTextoLegalVenda_PJ		NUMERIC(18,0),
	@p_codigoTextoLegalRevenda_PJ	NUMERIC(18,0),
	@p_codigoTextoLegalDoacao_PJ	NUMERIC(18,0),
	@p_codigoUsuario				NUMERIC(18,0),
	@p_idTipoNotaFiscal				INT,
	@p_descNaturezaOperacao			VARCHAR(60),
	@p_idCobrarSTDentro				INT,
	@p_idCobrarDifalDentro			INT,
	@p_idCobrarIPIDentro			INT,
	
	@p_descAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT

AS


BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
	
		IF @p_descAcao = 'I'
			BEGIN
	
				BEGIN TRANSACTION 
	
				INSERT INTO TB_REGRA_FISCAL_NEW (
					ID_APURA_ICMS,
					ID_APURA_IPI,
					DT_CRIACAO,
					CD_CFOP_VENDA,
					CD_CFOP_REVENDA,
					CD_CFOP_DOACAO,
					ID_PRECO_FATURAMENTO_VENDA,
					ID_PRECO_FATURAMENTO_REVENDA,
					ID_PRECO_FATURAMENTO_DOACAO,
					CD_TEXTO_LEGAL_VENDA,
					CD_TEXTO_LEGAL_REVENDA,
					CD_TEXTO_LEGAL_DOACAO,
					CD_CFOP_VENDA_PJ,
					CD_CFOP_REVENDA_PJ,
					CD_CFOP_DOACAO_PJ,
					ID_PRECO_FATURAMENTO_VENDA_PJ,
					ID_PRECO_FATURAMENTO_REVENDA_PJ,
					ID_PRECO_FATURAMENTO_DOACAO_PJ,
					CD_TEXTO_LEGAL_VENDA_PJ,
					CD_TEXTO_LEGAL_REVENDA_PJ,
					CD_TEXTO_LEGAL_DOACAO_PJ,
					ID_TIPO_NOTA_FISCAL,
					DC_NATUREZA_OPERACAO,
					ID_COBRAR_ST_DENTRO,
					ID_COBRAR_DIFAL_DENTRO,
					ID_COBRAR_IPI_DENTRO,
					DC_REGRA_FISCAL )
						
				VALUES           (
					@p_idApuraIcms,
					@p_idApuraIpi,
					GETDATE(),
					@p_codigoCFOPVenda,
					@p_codigoCFOPRevenda,
					@p_codigoCFOPDoacao,
					@p_idPrecoFaturamentoVenda,
					@p_idPrecoFaturamentoRevenda,
					@p_idPrecoFaturamentoDoacao,
					@p_codigoTextoLegalVenda,
					@p_codigoTextoLegalRevenda,
					@p_codigoTextoLegalDoacao,
					@p_codigoCFOPVenda_PJ,
					@p_codigoCFOPRevenda_PJ,
					@p_codigoCFOPDoacao_PJ,
					@p_idPrecoFaturamentoVenda_PJ,
					@p_idPrecoFaturamentoRevenda_PJ,
					@p_idPrecoFaturamentoDoacao_PJ,
					@p_codigoTextoLegalVenda_PJ,
					@p_codigoTextoLegalRevenda_PJ,
					@p_codigoTextoLegalDoacao_PJ,
					@p_idTipoNotaFiscal,
					@p_descNaturezaOperacao,
					@p_idCobrarSTDentro,
					@p_idCobrarDifalDentro,
					@p_idCobrarIPIDentro,
					@p_descRegraFiscal)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
				
				SELECT @p_codigoErro = @@IDENTITY
			END	
			
		IF @p_descAcao = 'A'
			BEGIN
	
				BEGIN TRANSACTION 
	
				UPDATE TB_REGRA_FISCAL_NEW SET ID_APURA_ICMS = @p_idApuraIcms,
					ID_APURA_IPI = @p_idApuraIpi,
					CD_CFOP_VENDA = @p_codigoCFOPVenda,
					CD_CFOP_REVENDA = @p_codigoCFOPRevenda,
					CD_CFOP_DOACAO = @p_codigoCFOPDoacao,
					ID_PRECO_FATURAMENTO_VENDA = @p_idPrecoFaturamentoVenda,
					ID_PRECO_FATURAMENTO_REVENDA = @p_idPrecoFaturamentoRevenda,
					ID_PRECO_FATURAMENTO_DOACAO = @p_idPrecoFaturamentoDoacao,
					CD_TEXTO_LEGAL_VENDA = @p_codigoTextoLegalVenda,
					CD_TEXTO_LEGAL_REVENDA = @p_codigoTextoLegalRevenda,
					CD_TEXTO_LEGAL_DOACAO = @p_codigoTextoLegalDoacao,
					CD_CFOP_VENDA_PJ = @p_codigoCFOPVenda_PJ,
					CD_CFOP_REVENDA_PJ = @p_codigoCFOPRevenda_PJ,
					CD_CFOP_DOACAO_PJ = @p_codigoCFOPDoacao_PJ,
					ID_PRECO_FATURAMENTO_VENDA_PJ = @p_idPrecoFaturamentoVenda_PJ,
					ID_PRECO_FATURAMENTO_REVENDA_PJ = @p_idPrecoFaturamentoRevenda_PJ,
					ID_PRECO_FATURAMENTO_DOACAO_PJ = @p_idPrecoFaturamentoDoacao_PJ,
					CD_TEXTO_LEGAL_VENDA_PJ = @p_codigoTextoLegalVenda_PJ,
					CD_TEXTO_LEGAL_REVENDA_PJ = @p_codigoTextoLegalRevenda_PJ,
					CD_TEXTO_LEGAL_DOACAO_PJ = @p_codigoTextoLegalDoacao_PJ,
					CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
					DT_ATUALIZACAO = GETDATE(),
					ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal,
					DC_NATUREZA_OPERACAO = @p_descNaturezaOperacao,
					ID_COBRAR_ST_DENTRO = @p_idCobrarSTDentro,
					ID_COBRAR_DIFAL_DENTRO = @p_idCobrarDifalDentro,
					ID_COBRAR_IPI_DENTRO = @p_idCobrarIPIDentro,
					DC_REGRA_FISCAL = @p_descRegraFiscal
				WHERE CD_REGRA_FISCAL = @p_codigoRegraFiscal
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
		
				COMMIT TRANSACTION
				
				SELECT @p_codigoErro = 0
			END	

		IF @p_descAcao = 'E'
			BEGIN
	
				BEGIN TRANSACTION 
				
				DELETE FROM TB_REGRA_FISCAL_COMERCIAL
					WHERE CD_REGRA_FISCAL = @p_codigoRegraFiscal
						
				DELETE FROM TB_REGRA_FISCAL_UF
					WHERE CD_REGRA_FISCAL = @p_codigoRegraFiscal
					
				DELETE FROM TB_GRUPO_IMPOSTOS_REGRA_FISCAL
					WHERE CD_REGRA_FISCAL = @p_codigoRegraFiscal

				DELETE FROM TB_REGRA_FISCAL_NEW 
					WHERE CD_REGRA_FISCAL = @p_codigoRegraFiscal
	
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
		
				COMMIT TRANSACTION
				
				SELECT @p_codigoErro = 0
			END	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = ERROR_NUMBER()
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;

GO
