SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[pr_ApiFinanceiroInsereContaCorrente]
	@p_codigoPessoa				NUMERIC(18,0),
	@p_codigoFuncao				INT,
	@p_codigoCentroDistribuicao	NUMERIC(18,0),
	@p_idTipoOperacao			INT,
	@p_valorOperacao			NUMERIC(18,2),
	@p_descDetalhes				VARCHAR(1000),
	
	@p_codigoUsuario			NUMERIC(18,0),
		
	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(1000) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT
AS
DECLARE @v_codigoParcela			NUMERIC(18,0),
		@v_idSituacaoProcessamento	TINYINT,
		@v_codigoConciliacao		NUMERIC(18,0),
		@v_existePessoa				TINYINT

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	SELECT @p_qtLinhasAfetadas = 0

	SELECT @v_existePessoa = COUNT(*)
	  FROM TB_PESSOA WITH(NOLOCK)
	 WHERE CD_PESSOA = @p_codigoPessoa

	IF @v_existePessoa = 0
		BEGIN
			-- NÃO ENCONTROU A PESSOA, SAI DA ROTINA
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Código de cliente não encontrado'

			RETURN
		END

	IF @p_codigoFuncao NOT IN (1,2,3,4,5,6)
		BEGIN
			-- FUNÇÃO INCORRETA, SAI DA ROTINA
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Código de função inexistente'

			RETURN
		END

	IF @p_valorOperacao <= 0
		BEGIN
			-- VALOR INCORRETO, SAI DA ROTINA
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O valor da operação deve ser maior que zero'

			RETURN
		END

	IF @p_idTipoOperacao NOT IN (1,2)
		BEGIN
			-- TIPO OPERAÇÃO INVÁLIDO
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'O tipo de operação é inválido'

			RETURN
		END



	-- SE PASSOU PELAS VALIDAÇÕES VAMOS EXECUTAR A ROTINA
	EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE 	@p_codigoPessoa,
											@p_codigoFuncao,
											2, -- entidade SALDO FAVOR
											@p_idTipoOperacao,
											14, -- origem API
											0, -- nm origem
											20, -- elemento financeiro CRIAÇÃO
											@p_valorOperacao,
											@p_codigoCentroDistribuicao,
											@p_codigoUsuario,
											@p_codigoErro output,
											@p_descErro output,
											@p_qtLinhasAfetadas output

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
