SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[pr_ServicoExternoExecutaPagamentoParcela]  
   @p_codigoParcela    numeric(18,0),        
   @p_valorPago    numeric(18,2),        
   @p_idNomeServicoExterno  integer,        
   @p_codigoServExtTransacao numeric(18,0),        
              
   @p_codigoUsuario   numeric(18,0),        
          
   @p_codigoErro   INT OUTPUT,        
   @p_descricaoErro  VARCHAR(1000) OUTPUT,        
   @p_linhasAfetadas  INT OUTPUT        
          
AS        
BEGIN try  
DECLARE @v_codigoEntidadeConciliacao numeric(18,0),          
  @v_codigoSitPedido    numeric(18,0),          
  @v_codigoPlanoPagamento   NUMERIC(18,0),           
  @v_codigoPessoa     NUMERIC(18,0),           
  @v_codigoFuncao     INT,          
  @v_idAcaoAutorizacao   INT,          
  @v_numeroPedido     NUMERIC(18,0)          
          
  
          
 SELECT @p_codigoErro = 0          
 SELECT @p_descricaoErro = ''          
 SELECT @p_linhasAfetadas = 0          
           
 -- **************************************************          
 -- BUSCA ENTIDADE DE CONCILIACAO DO TITULO          
 -- **************************************************          
          
 -- **************************************************          
 -- Correção feita por Diego em 15/12/17          
 -- Existe um problema atualmente onde a transação é aprovada mas o pedido está em captação ou abandonado          
 -- Neste caso vamos verificar a situação do pedido e chamar a proc de finalização          
 -- Assim em seguida o pedido terá sua baixa realizada          
 -- **************************************************        
     
 DECLARE @NM_PEDIDO NUMERIC(18,0)    
 SET @NM_PEDIDO = (SELECT D.NM_PEDIDO    
       FROM TB_PARCELA P    
       INNER JOIN TB_DIVIDA D    
       ON D.CD_DIVIDA = P.CD_DIVIDA    
       WHERE P.CD_PARCELA = @p_codigoParcela)    
           
 select @v_codigoSitPedido = CD_EST_SITUACAO,          
     @v_codigoPlanoPagamento = CD_PLANO_PAGAMENTO,          
     @v_codigoPessoa = CD_PESSOA,          
     @v_codigoFuncao = CD_FUNCAO,          
     @v_numeroPedido = NM_PEDIDO          
   from TB_PEDIDO WITH(NOLOCK)          
  where NM_PEDIDO = @NM_PEDIDO        
    
  SELECT @v_codigoSitPedido  
          
  IF @v_codigoSitPedido = 1 OR @v_codigoSitPedido = 100 OR @v_codigoSitPedido = 101          
  BEGIN          
             
   EXEC SP_FINALIZA_PEDIDO @NM_PEDIDO,           
         @p_codigoUsuario,           
         @v_codigoPlanoPagamento,           
         @v_codigoPessoa,           
         @v_codigoFuncao,           
         '',           
         @p_codigoErro   OUTPUT,          
         @p_descricaoErro  OUTPUT,          
         @p_linhasAfetadas  OUTPUT          
  END          
            
 -- **************************************************          
 -- FINAL - Correção feita por Diego em 15/12/17          
 -- **************************************************          
           
 -- PAGSEGURO          
 IF @p_idNomeServicoExterno = 1          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 2             
  END          
           
 -- PAYPAL          
 IF @p_idNomeServicoExterno = 2          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 4          
  END          
           
 -- CIELO          
 IF @p_idNomeServicoExterno = 3          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 5          
  END          
            
 -- MOIP          
 IF @p_idNomeServicoExterno = 4          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8     
   AND CD_PARAMETRO = 5          
  END          
          
 -- GETNET          
 IF @p_idNomeServicoExterno = 8          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 10           
  END          
          
 -- YAPAY          
 IF @p_idNomeServicoExterno = 12          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 11          
  END          
          
 -- braspag          
 IF @p_idNomeServicoExterno = 21          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 17          
  END          
          
 -- rede          
 IF @p_idNomeServicoExterno = 29          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 21          
  END          
        
-- ADYEN        
 IF @p_idNomeServicoExterno = 30          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 22        
  END         

-- CASHU
 IF @p_idNomeServicoExterno = 34          
  BEGIN          
   SELECT @v_codigoEntidadeConciliacao = VL_PARAMETRO          
   FROM TB_VALOR_PARAMETRO WITH(NOLOCK)          
   WHERE CD_GRUPO_PARAMETRO = 8          
   AND CD_PARAMETRO = 23
  END         
  
  SELECT @v_codigoEntidadeConciliacao  
  
 -- *************************************************************************************          
 -- NOVO TRATAMENTO ADICIONADO POR DIEGO ZILIOTI EM 04/09/2021 - ATIVIDADE BITRIX #2699          
 -- VAMOS VALIDAR SE JÁ VAMOS DAR BAIXA NA PARCELA OU SE IREMOS APENAS LIBERAR A PENDÊNCIA          
 -- *************************************************************************************          
SET @v_idAcaoAutorizacao = (SELECT TOP 1 ID_ACAO_AUTORIZACAO    
       FROM TB_DIVIDA D    
       INNER JOIN TB_PARCELA P    
       ON P.CD_DIVIDA = D.CD_DIVIDA    
       WHERE P.CD_PARCELA = @p_codigoParcela)    
    
 IF @v_idAcaoAutorizacao = 1          
  BEGIN          
   -- **************************************************          
   -- EXECUTA A BAIXA CONCILIAÇÃO          
   -- **************************************************          
   EXEC dbo.SP_BAIXA_CONCILIACAO_PROCESSAMENTO          
     @p_codigoParcela,          
     @p_valorPago,          
     @v_codigoEntidadeConciliacao,          
     2, -- automatico          
     '',          
     @p_codigoUsuario,          
  null,  
     @p_codigoErro   OUTPUT,          
     @p_descricaoErro  OUTPUT,          
     @p_linhasAfetadas  OUTPUT          
  END          
         
           
  -- vamos relacionar o serviço externo transação a parcela para controlarmos as informações que poderão ser editadas na conciliação manual          
  UPDATE TB_PARCELA SET CD_SERVICO_EXTERNO_TRANSACAO = @p_codigoServExtTransacao          
  WHERE CD_PARCELA = @p_codigoParcela          
      
 -- replica informações pra parcela para retorno via api GetOrder      
 UPDATE P      
 SET P.DC_CODIGO_AUTORIZACAO = T.DC_CODIGO_AUTORIZACAO,      
  P.DC_CODIGO_NSU = T.DC_CODIGO_NSU,      
  P.DC_CODIGO_TID = T.DC_CODIGO_TID      
 FROM TB_PARCELA P      
 INNER JOIN TB_SERVICO_EXTERNO_TRANSACAO T      
 ON T.CD_SERVICO_EXTERNO_TRANSACAO = P.CD_SERVICO_EXTERNO_TRANSACAO      
 WHERE P.CD_PARCELA = @p_codigoParcela      
       
  
END TRY         
BEGIN CATCH        
   -- Whoops, there was an error        
      SELECT @p_codigoErro = 2        
      SELECT @p_descricaoErro = ERROR_MESSAGE()        
              
   IF @@TRANCOUNT > 0        
    ROLLBACK         
        
   -- Raise an error with the details of the exception        
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)        
END CATCH;   
GO
