SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ProdutoInsereProdutoVendaDiarioSidney]
	@P_ID_EXECUCAO          INT,   -- 1 - 60 MINUTOS / 2 - DIARIO
	@VAR_RETORNO		INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS

DECLARE @CURSOR_PRODUTO_MATERIAL_ATIVO   CURSOR,
	@CD_CONTROLE                     NUMERIC(18,0),
	@CD_PRODUTO_MATERIAL_EXTERNO             NUMERIC(18,0),
	@CURSOR_PRODUTO_MATERIAL_INATIVO CURSOR

DECLARE @CD_MATERIAL_EXTERNO VARCHAR(100),
	@DC_MATERIAL VARCHAR(800),
	@ID_CARACTERISTICA_MATERIAL INT,
	@ID_SITUACAO_ESTOQUE INT,
	@ID_VENDA_SUSPENSA INT,
	@QT_ESTOQUE_MINIMO INT,
	@QT_ESTOQUE_SEGURANCA INT,
	@DC_EAN VARCHAR(50),
	@NM_VOLUME   NUMERIC (18,4),
	@NM_PESO_BRUTO NUMERIC (18,4),
	@NM_PESO_LIQUIDO NUMERIC (18,4),
	@NM_LARGURA NUMERIC (18,4),
	@NM_ALTURA NUMERIC (18,4),
	@NM_COMPRIMENTO NUMERIC (18,4),
	@ID_MODO_AGRUPAMENTO INT,
	@CD_CLASSIFICACAO_FISCAL NUMERIC (18,0),
	@CD_CEST NUMERIC (18,0),
	@CD_CEST_DEMAIS_OPERACOES NUMERIC (18,0),
	@ID_ORIGEM_MATERIAL INT,
	@CD_PRODUTO_VENDA_EXTERNO VARCHAR(80),
	@DC_PRODUTO_VENDA VARCHAR(80),
	@ID_AGRUPAMENTO INT,
	@ID_TIPO_PRODUTO INT,
	@ID_GERA_SALDO_FAVOR INT,
	@NM_CICLO_LANCAMENTO NUMERIC(18,0),
	@ID_GERA_BONUS INT,
	@ID_GERA_GRADUCAO INT,
	@ID_GERA_ATIVACAO INT,
	@VL_PRECO_DE NUMERIC(18,2),
	@VL_PRECO NUMERIC(18,2),
	@VL_CREDITO NUMERIC(18,2),
	@VL_PONTOS NUMERIC(18,2),
	@QT_ESTOQUE_DISPONIVEL NUMERIC(18,2),
	@CD_TIPO_MOV_ESTOQUE int,
	@NM_DOCUMENTO NUMERIC(18,0),
	@DC_REFERENCIA VARCHAR (80),
	@VL_REPOSICAO_UNITARIO NUMERIC(18,2),
	@ID_DISPONIVEL_LOJA_VIRTUAL INT

DECLARE @CD_PRODUTO_MATERIAL_ATSVD_ATUAL NUMERIC(18,0),
        @CD_PRODUTO_MATERIAL_ATSVD_NOVO  NUMERIC(18,0)

DECLARE @CD_PRODUTO_VENDA_PRECO NUMERIC(18,0)

DECLARE @CONTADOR NUMERIC(18,0)

DECLARE @CD_LOG_INTEGRACAO NUMERIC(18,0)


BEGIN TRY
	-- ***********************************************
	-- POPULA AS VARIAVEIS DE SAIDA
	-- ***********************************************
	SELECT @VAR_RETORNO = 0
	SELECT @DC_ERRO = ''
	SELECT @QT_LINHAS_AFETADAS = 0

	-- INCLUIR INICIO DO CONTROLE NA LOG INTEGRACAO
	BEGIN TRANSACTION
	INSERT INTO TB_LOG_INTEGRACAO (CD_INTEGRACAO, DT_INICIO_EXECUCAO,ID_RESULTADO_EXECUCAO,DT_ATUALIZACAO)
	VALUES (5,GETDATE(),0,GETDATE())
	SELECT @CD_LOG_INTEGRACAO  = IDENT_CURRENT('TB_LOG_INTEGRACAO')
	COMMIT TRANSACTION

	-- 1) IDENTIFICAR SE A EXECUCAO É A CADA 60 MINUTOS OU DIARIO
	IF (@P_ID_EXECUCAO = 1)  -- 60 MINUTOS
	BEGIN
		-- 1.1) BUSCAR OS PRODUTOS / MATERIAIS QUE TIVERAM ALTERAÇÃO DE CADASTRO NO PROCFIT
		SET @CURSOR_PRODUTO_MATERIAL_ATIVO = CURSOR FAST_FORWARD
		FOR
		SELECT * FROM TB_PRODUTO_VENDA
		--SELECT ID,
  --  		       PRODUTO     
		--FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.PRODUTOS_ALTERACOES WITH(NOLOCK) 
		--WHERE DESTINO = 4
		--AND   ENVIADO = 'N'
		--ORDER BY ID
		OPEN @CURSOR_PRODUTO_MATERIAL_ATIVO 
		FETCH NEXT FROM @CURSOR_PRODUTO_MATERIAL_ATIVO
		INTO  @CD_CONTROLE, @CD_PRODUTO_MATERIAL_EXTERNO

		WHILE @@FETCH_STATUS = 0
		BEGIN
			--SELECT TOP 1 
			--@CD_MATERIAL_EXTERNO = Codigo,
			--@DC_MATERIAL= substring(DescricaoWeb,1,800),
			--@ID_CARACTERISTICA_MATERIAL = 1, 
			--@ID_SITUACAO_ESTOQUE = 	Ativo,
			--@ID_VENDA_SUSPENSA = 2,
			--@QT_ESTOQUE_MINIMO = 0, 
			--@QT_ESTOQUE_SEGURANCA = 0, 
			--@DC_EAN = 	EAN,
			--@NM_PESO_BRUTO = (PesoBruto * 1000),
			--@NM_PESO_LIQUIDO = (PesoLiquido * 1000),
			--@NM_VOLUME = (COALESCE(Largura, 11) * COALESCE(Altura, 2) * COALESCE(ProfundidadeComprimento, 16)),
			--@NM_LARGURA = COALESCE(Largura, 11),
			--@NM_ALTURA = COALESCE(Altura, 2),
			--@NM_COMPRIMENTO = COALESCE(ProfundidadeComprimento, 16),
			--@ID_MODO_AGRUPAMENTO = 1,
			--@CD_CLASSIFICACAO_FISCAL = 1,
			--@CD_CEST = 1,
			--@CD_CEST_DEMAIS_OPERACOES = 1,
			--@ID_ORIGEM_MATERIAL = 0,
			--@CD_PRODUTO_VENDA_EXTERNO = Codigo,
			--@DC_PRODUTO_VENDA = substring(DescricaoWeb,1,80),
			--@ID_AGRUPAMENTO = 1,
			--@ID_TIPO_PRODUTO = 1,
			--@ID_GERA_SALDO_FAVOR = 1,
			--@NM_CICLO_LANCAMENTO = substring(convert(varchar,GETDATE(),112),1,6),
			--@ID_GERA_BONUS = 1,
			--@ID_GERA_GRADUCAO = 1,
			--@ID_GERA_ATIVACAO = 1,
			--@VL_PRECO_DE = PrecoVenda,
			--@VL_PRECO = CASE WHEN PrecoVenda > PrecoPromocional THEN PrecoPromocional ELSE NULL END,
			--@VL_CREDITO = 0,
			--@VL_PONTOS = 0,
			--@QT_ESTOQUE_DISPONIVEL =  Saldo,
			--@CD_TIPO_MOV_ESTOQUE = 11, -- entrada por integracao
			--@NM_DOCUMENTO = 0, 
			--@DC_REFERENCIA ='Ajuste estoque Integração',
			--@VL_REPOSICAO_UNITARIO = 0.01,
			--@ID_DISPONIVEL_LOJA_VIRTUAL = 1
			--FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.VW_PRODUTOS WITH (NOLOCK)
			--WHERE Ativo      = 1
			--AND MarcaPropria = 'S'
			--AND substring(DescricaoWeb,1,800) IS NOT NULL
   -- 			AND Codigo       = @CD_PRODUTO_MATERIAL_EXTERNO

			-- 1.2) ATUALIZAR O MATERIAL NO ATSVD
			SELECT @CD_PRODUTO_MATERIAL_ATSVD_ATUAL = ISNULL(MAX(CD_MATERIAL),0)
			FROM TB_MATERIAL WITH (NOLOCK)
			WHERE CD_MATERIAL_EXTERNO = @CD_MATERIAL_EXTERNO

			IF (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL = 0)
			BEGIN
				BEGIN TRANSACTION
				INSERT INTO TB_MATERIAL (CD_MATERIAL_EXTERNO,
							 DC_MATERIAL,
							 ID_CARACTERISTICA_MATERIAL,
							 ID_SITUACAO_ESTOQUE,
							 ID_VENDA_SUSPENSA,
							 QT_ESTOQUE_MINIMO,
							QT_ESTOQUE_SEGURANCA,
							DC_EAN,
							NM_VOLUME,
							NM_PESO_BRUTO,
							NM_PESO_LIQUIDO,
							NM_LARGURA,
							NM_ALTURA,
							NM_COMPRIMENTO,
							ID_MODO_AGRUPAMENTO,
							CD_CLASSIFICACAO_FISCAL,
							CD_CEST,
							CD_CEST_DEMAIS_OPERACOES,
							ID_ORIGEM_MATERIAL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES (@CD_MATERIAL_EXTERNO,
							@DC_MATERIAL,
							@ID_CARACTERISTICA_MATERIAL,
							@ID_SITUACAO_ESTOQUE,
							@ID_VENDA_SUSPENSA,
							@QT_ESTOQUE_MINIMO,
							@QT_ESTOQUE_SEGURANCA,
							@DC_EAN,
							@NM_VOLUME,
							@NM_PESO_BRUTO,
							@NM_PESO_LIQUIDO,
							@NM_LARGURA,
							@NM_ALTURA,
							@NM_COMPRIMENTO,
							@ID_MODO_AGRUPAMENTO,
							@CD_CLASSIFICACAO_FISCAL,
							@CD_CEST,
							@CD_CEST_DEMAIS_OPERACOES,
							@ID_ORIGEM_MATERIAL,
							GETDATE(),
							-2,
							GETDATE(),
							-2   )
				SELECT @CD_PRODUTO_MATERIAL_ATSVD_NOVO = IDENT_CURRENT('TB_MATERIAL')
				COMMIT TRANSACTION

				-- 1.3) ATUALIZAR O ESTOQUE NO ATSVD
				-- CHAMAR A PROC QUE MOVIMENTA O ESTOQUE
				EXEC [dbo].[SP_CAD_MOV_ESTOQUE]
					1,  -- CD 
					1,  -- ARMAZEM 
					@CD_PRODUTO_MATERIAL_ATSVD_NOVO,  -- MATERIAL
					@QT_ESTOQUE_DISPONIVEL, --QT_MOVIMENTADO
					@CD_TIPO_MOV_ESTOQUE, -- Entrada por Integração
					1,   -- ID_CENTRO_ESTOQUE = disponivel
					@VL_REPOSICAO_UNITARIO,
					@NM_DOCUMENTO,
					@DC_REFERENCIA,
					-2, -- CD_USUARIO = integracao
					'', -- @VAR_TIPO_FUNCAO = utilizado para insumo
					@VAR_RETORNO OUTPUT,
					@DC_ERRO  OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT


				-- IDENTIFICAR SE DEU ERRO NA ATUALIZACAO DO TRACKING DO PEDIDO
				IF (ISNULL(@VAR_RETORNO,0) <> 0)
				BEGIN
					-- 1.4) GRAVAR O ERRO NO CADASTRO DA PESSOA NO PROCFIT
					BEGIN TRANSACTION
					INSERT INTO TB_LOG_INTEGRACAO_ITEM(
						CD_LOG_INTEGRACAO,
						ID_TIPO_INTEGRACAO_ITEM,
						DC_VALOR_INTEGRACAO_ITEM,
						DC_STATUS_VALOR,
						ID_SITUACAO_INTEGRACAO,
						CD_RETORNO_INTEGRACAO,
						DC_MENSAGEM_INTEGRACAO,
						DT_ENVIO_INTEGRACAO)
					VALUES (@CD_LOG_INTEGRACAO,
						7,
						'MATERIAL 60 MINUTOS -> '+CONVERT(VARCHAR,@CD_PRODUTO_MATERIAL_ATSVD_NOVO), 
						'ESTOQUE PROCFIT -> '+CONVERT(VARCHAR,@QT_ESTOQUE_DISPONIVEL)+'.....NÃO ATUALIZADO O ESTOQUE DISPONIVEL NO ATSVD',
						4,
						@VAR_RETORNO,
						@DC_ERRO,
						GETDATE()) 
					COMMIT TRANSACTION
				END


			END

			IF (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL > 0)
			BEGIN
				BEGIN TRANSACTION
				UPDATE TB_MATERIAL
				SET ID_CARACTERISTICA_MATERIAL  = @ID_CARACTERISTICA_MATERIAL,
				ID_SITUACAO_ESTOQUE         = @ID_SITUACAO_ESTOQUE,
				ID_VENDA_SUSPENSA           = @ID_VENDA_SUSPENSA ,
				QT_ESTOQUE_MINIMO           = @QT_ESTOQUE_MINIMO,
				QT_ESTOQUE_SEGURANCA         = @QT_ESTOQUE_SEGURANCA,
				DC_EAN                       = @DC_EAN,
				NM_VOLUME		     = @NM_VOLUME,
				NM_PESO_BRUTO                = @NM_PESO_BRUTO ,
				NM_PESO_LIQUIDO              = @NM_PESO_LIQUIDO ,
				NM_LARGURA                   = @NM_LARGURA ,
				NM_ALTURA                    = @NM_ALTURA  ,
				NM_COMPRIMENTO               = @NM_COMPRIMENTO ,
				ID_MODO_AGRUPAMENTO          = @ID_MODO_AGRUPAMENTO ,
				CD_CLASSIFICACAO_FISCAL      = @CD_CLASSIFICACAO_FISCAL,
				CD_CEST                      = @CD_CEST,
				CD_CEST_DEMAIS_OPERACOES     =@CD_CEST_DEMAIS_OPERACOES,
				ID_ORIGEM_MATERIAL           = @ID_ORIGEM_MATERIAL,
				DT_ATUALIZACAO               = GETDATE(),
				CD_USUARIO_ATUALIZACAO       = -2    
				WHERE CD_MATERIAL         = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
				COMMIT TRANSACTION
			END			
			

			-- 1.4) ATUALIZAR O PRODUTO VENDA NO ATSVD
			SELECT @CD_PRODUTO_MATERIAL_ATSVD_ATUAL = ISNULL(MAX(CD_PRODUTO_VENDA),0)
			FROM TB_PRODUTO_VENDA WITH (NOLOCK)
			WHERE CD_PRODUTO_VENDA_EXTERNO = @CD_PRODUTO_VENDA_EXTERNO
			
			IF (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL = 0)
			BEGIN
				BEGIN TRANSACTION
				INSERT INTO TB_PRODUTO_VENDA (CD_PRODUTO_VENDA_EXTERNO,
							 DC_PRODUTO_VENDA,
							 ID_AGRUPAMENTO,
							 ID_TIPO_PRODUTO,
							 CD_MATERIAL,
							 ID_GERA_SALDO_FAVOR,
							 NM_CICLO_LANCAMENTO,
							ID_GERA_BONUS,
							ID_GERA_GRADUACAO,
							ID_GERA_ATIVACAO,
							ID_DISPONIVEL_LOJA_VIRTUAL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES (@CD_PRODUTO_VENDA_EXTERNO,
							@DC_PRODUTO_VENDA,
							@ID_AGRUPAMENTO,
							@ID_TIPO_PRODUTO,
							@CD_PRODUTO_MATERIAL_ATSVD_NOVO,
							@ID_GERA_SALDO_FAVOR,
							@NM_CICLO_LANCAMENTO,
							@ID_GERA_BONUS,
							@ID_GERA_GRADUCAO,
							@ID_GERA_ATIVACAO,
							@ID_DISPONIVEL_LOJA_VIRTUAL,
							GETDATE(),
							-2,
							GETDATE(),
							-2     )
				SELECT @CD_PRODUTO_MATERIAL_ATSVD_NOVO = IDENT_CURRENT('TB_PRODUTO_VENDA')
				COMMIT TRANSACTION

				-- 1.5) ATUALIZAR O PRODUTO VENDA PRECO NO ATSVD
				BEGIN TRANSACTION
				INSERT INTO TB_PRODUTO_VENDA_PRECO (CD_PRODUTO_VENDA,
								--NM_CICLO_INICIAL,
								DT_DATA_INICIAL,
								VL_PRECO_DE,
								VL_PRECO,
								VL_CREDITO,
								VL_PONTOS,
								ID_TIPO_VIGENCIA,			
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
						VALUES (@CD_PRODUTO_MATERIAL_ATSVD_NOVO,
							--@NM_CICLO_LANCAMENTO,
							GETDATE(),
							@VL_PRECO_DE,
							@VL_PRECO,
							@VL_CREDITO,
							@VL_PONTOS,
							2,
							GETDATE(),
							-2,
							GETDATE(),
							-2     )
				SELECT @CD_PRODUTO_VENDA_PRECO = IDENT_CURRENT('TB_PRODUTO_VENDA_PRECO')
				COMMIT TRANSACTION

				-- 1.6) ATUALIZAR O PRODUTO VENDA PRECO FUNCAO NO ATSVD
				BEGIN TRANSACTION
				INSERT INTO TB_PRODUTO_VENDA_PRECO_FUNCAO (CD_PRODUTO_VENDA_PRECO,
								CD_FUNCAO)
						VALUES (@CD_PRODUTO_VENDA_PRECO,
							2     )
				COMMIT TRANSACTION
							
			END

			IF (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL > 0)
			BEGIN
				-- 1.7) ATUALIZAR O PRODUTO VENDA NO ATSVD
				BEGIN TRANSACTION
				UPDATE TB_PRODUTO_VENDA
				SET DC_PRODUTO_VENDA     = @DC_PRODUTO_VENDA,
				ID_AGRUPAMENTO           = @ID_AGRUPAMENTO,
				ID_TIPO_PRODUTO          = @ID_TIPO_PRODUTO,
				--CD_MATERIAL              = @CD_MATERIAL,
				ID_GERA_SALDO_FAVOR      = @ID_GERA_SALDO_FAVOR,
				ID_DISPONIVEL_LOJA_VIRTUAL = @ID_DISPONIVEL_LOJA_VIRTUAL,
				--NM_CICLO_LANCAMENTO,
				NM_CICLO_DESCONTINUACAO  = NULL,
				--ID_GERA_BONUS,
				--ID_GERA_GRADUCAO,
				--ID_GERA_ATIVACAO,
				DT_ATUALIZACAO          = GETDATE(),
				CD_USUARIO_ATUALIZACAO  = -2          
				WHERE CD_PRODUTO_VENDA        = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
				COMMIT TRANSACTION

				-- 1.8) VERIFICAR SE O PRODUTO VENDA SOFREU ALTERACAO DE PRECO NO ATSVD
				SELECT @CONTADOR = COUNT(*)
				FROM TB_PRODUTO_VENDA_PRECO WITH (NOLOCK)
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
				--AND   NM_CICLO_FINAL   IS NULL
				AND   DT_DATA_FINAL    IS NULL
				AND  (VL_PRECO_DE <> @VL_PRECO_DE OR VL_PRECO <> @VL_PRECO)

				IF (@CONTADOR > 0)
				BEGIN
					-- 1.9) FINALIZAR A VALIDADE DO PRECO ANTIGO NO ATSVD
					BEGIN TRANSACTION
					UPDATE TB_PRODUTO_VENDA_PRECO 
					SET --NM_CICLO_FINAL	= substring(convert(varchar,GETDATE(),112),1,6),
					DT_DATA_FINAL		= GETDATE(),
					DT_ATUALIZACAO          = GETDATE(),
					CD_USUARIO_ATUALIZACAO  = -2          
					WHERE CD_PRODUTO_VENDA  = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
					COMMIT TRANSACTION
					
					-- 1.10)  ATUALIZAR O PRODUTO VENDA PRECO NO ATSVD	
					BEGIN TRANSACTION
					INSERT INTO TB_PRODUTO_VENDA_PRECO (CD_PRODUTO_VENDA,
								--NM_CICLO_INICIAL,
								DT_DATA_INICIAL,
								VL_PRECO_DE,
								VL_PRECO,
								VL_CREDITO,
								VL_PONTOS,
								ID_TIPO_VIGENCIA,			
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
							VALUES (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL,
								--substring(convert(varchar,GETDATE(),112),1,6),
								GETDATE(),
								@VL_PRECO_DE,
								@VL_PRECO,
								@VL_CREDITO,
								@VL_PONTOS,
								2,
								GETDATE(),
								-2,
								GETDATE(),
								-2     )
					SELECT @CD_PRODUTO_VENDA_PRECO = IDENT_CURRENT('TB_PRODUTO_VENDA_PRECO')
					COMMIT TRANSACTION

					-- 1.11) ATUALIZAR O PRODUTO VENDA PRECO FUNCAO NO ATSVD
					BEGIN TRANSACTION
					INSERT INTO TB_PRODUTO_VENDA_PRECO_FUNCAO (CD_PRODUTO_VENDA_PRECO,
									CD_FUNCAO)
							VALUES (@CD_PRODUTO_VENDA_PRECO,
								2     )
					COMMIT TRANSACTION

				END


				-- 3.12) VERIFICAR SE O PRODUTO VENDA PRECO ESTA CADASTRADO NO ATSVD
				SELECT @CONTADOR = COUNT(*)
				FROM TB_PRODUTO_VENDA_PRECO WITH (NOLOCK)
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
				AND   DT_DATA_FINAL    IS NULL

				IF (@CONTADOR = 0)
				BEGIN
					-- 3.13)  ATUALIZAR O PRODUTO VENDA PRECO NO ATSVD	
					BEGIN TRANSACTION
					INSERT INTO TB_PRODUTO_VENDA_PRECO (CD_PRODUTO_VENDA,
								--NM_CICLO_INICIAL,
								DT_DATA_INICIAL,
								VL_PRECO_DE,
								VL_PRECO,
								VL_CREDITO,
								VL_PONTOS,
								ID_TIPO_VIGENCIA,			
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
							VALUES (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL,
								--substring(convert(varchar,GETDATE(),112),1,6),
								GETDATE(),
								@VL_PRECO_DE,
								@VL_PRECO,
								@VL_CREDITO,
								@VL_PONTOS,
								2,
								GETDATE(),
								-2,
								GETDATE(),
								-2     )
					SELECT @CD_PRODUTO_VENDA_PRECO = IDENT_CURRENT('TB_PRODUTO_VENDA_PRECO')
					COMMIT TRANSACTION

					-- 3.14) ATUALIZAR O PRODUTO VENDA PRECO FUNCAO NO ATSVD
					BEGIN TRANSACTION
					INSERT INTO TB_PRODUTO_VENDA_PRECO_FUNCAO (CD_PRODUTO_VENDA_PRECO,
									CD_FUNCAO)
							VALUES (@CD_PRODUTO_VENDA_PRECO,
								2     )
					COMMIT TRANSACTION

				END





			END	

			IF ISNULL(@VAR_RETORNO,0) = 0
			BEGIN
				-- 1.15) ATUALIZAR A FLAG QUE O MATERIAL \ PRODUTO FOI ATUALIZADO NO ATSVD
				BEGIN TRANSACTION
					--UPDATE INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.PRODUTOS_ALTERACOES SET ENVIADO = 'S' WHERE ID = @CD_CONTROLE
				COMMIT TRANSACTION
			END
			
			FETCH NEXT FROM @CURSOR_PRODUTO_MATERIAL_ATIVO
			INTO  @CD_CONTROLE, @CD_PRODUTO_MATERIAL_EXTERNO
		END
		CLOSE       @CURSOR_PRODUTO_MATERIAL_ATIVO
		DEALLOCATE  @CURSOR_PRODUTO_MATERIAL_ATIVO

		-------------------------------------------
		
		-- 2) BUSCAR OS PRODUTOS / MATERIAIS INATIVOS NO PROCFIT
		SET @CURSOR_PRODUTO_MATERIAL_INATIVO = CURSOR FAST_FORWARD
		FOR
		SELECT CD_MATERIAL_EXTERNO, CD_MATERIAL
		FROM TB_MATERIAL WITH (NOLOCK)	
		--WHERE CD_MATERIAL_EXTERNO IN (SELECT CONVERT(VARCHAR,CODIGO) FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.VW_PRODUTOS WITH (NOLOCK)	
		--			      WHERE Ativo <> 1 AND MarcaPropria = 'S')
		--AND  ID_VENDA_SUSPENSA = 2  -- NÃO
		OPEN @CURSOR_PRODUTO_MATERIAL_INATIVO 
		FETCH NEXT FROM @CURSOR_PRODUTO_MATERIAL_INATIVO 
		INTO  @CD_PRODUTO_MATERIAL_EXTERNO, @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- 2.1) ATUALIZA A TB_MATERIAL COM A VENDA SUSPENSA
			BEGIN TRANSACTION
			UPDATE TB_MATERIAL
			SET ID_VENDA_SUSPENSA 	 = 1,
			DT_ATUALIZACAO           = GETDATE(),
			CD_USUARIO_ATUALIZACAO   = -2    
			WHERE CD_MATERIAL        = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
			COMMIT TRANSACTION
			
			-- 2.2) BUSCAR O CODIGO DO PRODUTO DE VENDA
			SELECT @CD_PRODUTO_MATERIAL_ATSVD_NOVO = ISNULL(MAX(CD_PRODUTO_VENDA),0)
			FROM TB_PRODUTO_VENDA  WITH (NOLOCK)
			WHERE CD_PRODUTO_VENDA_EXTERNO = @CD_PRODUTO_MATERIAL_EXTERNO

			-- 2.3) ATUALIZA A TB_PRODUTO_VENDA COM O CICLO DE DESCONTINUACAO
			BEGIN TRANSACTION				
			UPDATE TB_PRODUTO_VENDA
			SET NM_CICLO_DESCONTINUACAO  = substring(convert(varchar,GETDATE(),112),1,6),
			DT_ATUALIZACAO          = GETDATE(),
			CD_USUARIO_ATUALIZACAO  = -2          
			WHERE CD_PRODUTO_VENDA  = @CD_PRODUTO_MATERIAL_ATSVD_NOVO
			COMMIT TRANSACTION

			-- 2.4) FINALIZAR A VALIDADE DO PRECO ANTIGO NO ATSVD
			BEGIN TRANSACTION
			UPDATE TB_PRODUTO_VENDA_PRECO 
			SET --NM_CICLO_FINAL	= substring(convert(varchar,GETDATE(),112),1,6),
			DT_DATA_FINAL		= GETDATE(),
			DT_ATUALIZACAO          = GETDATE(),
			CD_USUARIO_ATUALIZACAO  = -2          
			WHERE CD_PRODUTO_VENDA  = @CD_PRODUTO_MATERIAL_ATSVD_NOVO
			COMMIT TRANSACTION

			FETCH NEXT FROM @CURSOR_PRODUTO_MATERIAL_INATIVO 
			INTO  @CD_PRODUTO_MATERIAL_EXTERNO, @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
		END
		CLOSE       @CURSOR_PRODUTO_MATERIAL_INATIVO 
		DEALLOCATE  @CURSOR_PRODUTO_MATERIAL_INATIVO 


	END -- FIM 60 MINUTOS


	-- 3) IDENTIFICAR SE A EXECUCAO É A CADA 60 MINUTOS OU DIARIO
	IF (@P_ID_EXECUCAO = 2)  -- DIARIO
	BEGIN
		-- 3.1) BUSCAR TODOS OS MATERIAIS \ PRODUTOS ATIVOS PARA VD NO PROCFIT
		SET @CURSOR_PRODUTO_MATERIAL_ATIVO = CURSOR FAST_FORWARD
		FOR
		SELECT * FROM TB_MATERIAL
		--SELECT  Codigo,
		--	substring(DescricaoWeb,1,800),
		--	1,  -- ID_CARACTERISTICA_MATERIAL
		--	Ativo,  --ID_SITUACAO_ESTOQUE 
		--	2,	--ID_VENDA_SUSPENSA 
		--	0,	--@QT_ESTOQUE_MINIMO  
		--	0,	--@QT_ESTOQUE_SEGURANCA  
		--	EAN,	--@DC_EAN 
		--	(PesoBruto * 1000), --@NM_PESO_BRUTO 
		--	(PesoLiquido * 1000), -- @NM_PESO_LIQUIDO 
		--	(COALESCE(Largura, 11) * COALESCE(Altura, 2) * COALESCE(ProfundidadeComprimento, 16)),
		--	COALESCE(Largura, 11), --@NM_LARGURA 
		--	COALESCE(Altura, 2), -- @NM_ALTURA 
		--	COALESCE(ProfundidadeComprimento, 16), --@NM_COMPRIMENTO 
			
		--	1,	--@ID_MODO_AGRUPAMENTO 
		--	1,	--@CD_CLASSIFICACAO_FISCAL 
		--	1,	--@CD_CEST 
		--	1,	--@CD_CEST_DEMAIS_OPERACOES
		--	0,	--@ID_ORIGEM_MATERIAL 
		--	Codigo,	--@CD_PRODUTO_VENDA_EXTERNO 
		--	substring(DescricaoWeb,1,80), --@DC_PRODUTO_VENDA 
		--	1,	--@ID_AGRUPAMENTO 
		--	1,	--@ID_TIPO_PRODUTO 
		--	1,	--@ID_GERA_SALDO_FAVOR 
		--	substring(convert(varchar,GETDATE(),112),1,6), --@NM_CICLO_LANCAMENTO 
		--	1,	--@ID_GERA_BONUS 
		--	1,	--@ID_GERA_GRADUCAO 
		--	1,	--@ID_GERA_ATIVACAO 
		--	PrecoVenda,	--@VL_PRECO_DE 
		--	CASE WHEN PrecoVenda > PrecoPromocional THEN PrecoPromocional ELSE NULL END, --@VL_PRECO 
		--	0,	--@VL_CREDITO 
		--	0,	--@VL_PONTOS 
		--	Saldo,	--@QT_ESTOQUE_DISPONIVEL 
		--	11, -- entrada por integracao @CD_TIPO_MOV_ESTOQUE 
		--	0,	--@NM_DOCUMENTO  
		--	'Ajuste estoque Integração', --@DC_REFERENCIA 
		--	0.01,	--@VL_REPOSICAO_UNITARIO 
		--	1 --@ID_DISPONIVEL_LOJA_VIRTUAL 
		--FROM INTEGRACAO_SIDNEY.PBS_ULTRAFARMA_HOMOLOG_DADOS.dbo.VW_PRODUTOS WITH (NOLOCK)
		--WHERE Ativo      = 1
		--AND MarcaPropria = 'S'
		--AND substring(DescricaoWeb,1,800) IS NOT NULL
  --  		ORDER BY 1	

		OPEN @CURSOR_PRODUTO_MATERIAL_ATIVO 
		FETCH NEXT FROM @CURSOR_PRODUTO_MATERIAL_ATIVO
		INTO  @CD_MATERIAL_EXTERNO, @DC_MATERIAL, @ID_CARACTERISTICA_MATERIAL, @ID_SITUACAO_ESTOQUE,@ID_VENDA_SUSPENSA,
		@QT_ESTOQUE_MINIMO, @QT_ESTOQUE_SEGURANCA, @DC_EAN, @NM_PESO_BRUTO,@NM_PESO_LIQUIDO ,@NM_VOLUME, @NM_LARGURA, @NM_ALTURA,
		@NM_COMPRIMENTO, @ID_MODO_AGRUPAMENTO, @CD_CLASSIFICACAO_FISCAL, @CD_CEST, @CD_CEST_DEMAIS_OPERACOES, @ID_ORIGEM_MATERIAL,@CD_PRODUTO_VENDA_EXTERNO,
		@DC_PRODUTO_VENDA, @ID_AGRUPAMENTO, @ID_TIPO_PRODUTO,@ID_GERA_SALDO_FAVOR,@NM_CICLO_LANCAMENTO,@ID_GERA_BONUS,
		@ID_GERA_GRADUCAO, @ID_GERA_ATIVACAO, @VL_PRECO_DE,@VL_PRECO,@VL_CREDITO,@VL_PONTOS,@QT_ESTOQUE_DISPONIVEL, 
		@CD_TIPO_MOV_ESTOQUE, @NM_DOCUMENTO, @DC_REFERENCIA, @VL_REPOSICAO_UNITARIO, @ID_DISPONIVEL_LOJA_VIRTUAL  	   
           
		
		WHILE @@FETCH_STATUS = 0
		BEGIN	

			-- 3.2) ATUALIZAR O MATERIAL NO ATSVD
			SELECT @CD_PRODUTO_MATERIAL_ATSVD_ATUAL = ISNULL(MAX(CD_MATERIAL),0)
			FROM TB_MATERIAL WITH (NOLOCK)
			WHERE CD_MATERIAL_EXTERNO = @CD_MATERIAL_EXTERNO

			IF (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL = 0)
			BEGIN
				BEGIN TRANSACTION
				INSERT INTO TB_MATERIAL (CD_MATERIAL_EXTERNO,
							 DC_MATERIAL,
							 ID_CARACTERISTICA_MATERIAL,
							 ID_SITUACAO_ESTOQUE,
							 ID_VENDA_SUSPENSA,
							 QT_ESTOQUE_MINIMO,
							QT_ESTOQUE_SEGURANCA,
							DC_EAN,
							NM_PESO_BRUTO,
							NM_PESO_LIQUIDO,
							NM_VOLUME,
							NM_LARGURA,
							NM_ALTURA,
							NM_COMPRIMENTO,
							ID_MODO_AGRUPAMENTO,
							CD_CLASSIFICACAO_FISCAL,
							CD_CEST,
							CD_CEST_DEMAIS_OPERACOES,
							ID_ORIGEM_MATERIAL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES (@CD_MATERIAL_EXTERNO,
							@DC_MATERIAL,
							@ID_CARACTERISTICA_MATERIAL,
							@ID_SITUACAO_ESTOQUE,
							@ID_VENDA_SUSPENSA,
							@QT_ESTOQUE_MINIMO,
							@QT_ESTOQUE_SEGURANCA,
							@DC_EAN,
							@NM_PESO_BRUTO,
							@NM_PESO_LIQUIDO,
							@NM_VOLUME,
							@NM_LARGURA,
							@NM_ALTURA,
							@NM_COMPRIMENTO,
							@ID_MODO_AGRUPAMENTO,
							@CD_CLASSIFICACAO_FISCAL,
							@CD_CEST,
							@CD_CEST_DEMAIS_OPERACOES,
							@ID_ORIGEM_MATERIAL,
							GETDATE(),
							-2,
							GETDATE(),
							-2   )
				SELECT @CD_PRODUTO_MATERIAL_ATSVD_NOVO = IDENT_CURRENT('TB_MATERIAL')
				COMMIT TRANSACTION

				-- 3.3) ATUALIZAR O ESTOQUE NO ATSVD
				-- CHAMAR A PROC QUE MOVIMENTA O ESTOQUE
				EXEC [dbo].[SP_CAD_MOV_ESTOQUE]
					1,  -- CD 
					1,  -- ARMAZEM 
					@CD_PRODUTO_MATERIAL_ATSVD_NOVO,  -- MATERIAL
					@QT_ESTOQUE_DISPONIVEL, --QT_MOVIMENTADO
					@CD_TIPO_MOV_ESTOQUE, -- Entrada por Integração
					1,   -- ID_CENTRO_ESTOQUE = disponivel
					@VL_REPOSICAO_UNITARIO,
					@NM_DOCUMENTO,
					@DC_REFERENCIA,
					-2, -- CD_USUARIO = integracao
					'', -- @VAR_TIPO_FUNCAO = utilizado para insumo
					@VAR_RETORNO OUTPUT,
					@DC_ERRO  OUTPUT,
					@QT_LINHAS_AFETADAS OUTPUT 


				-- IDENTIFICAR SE DEU ERRO NA ATUALIZACAO DO TRACKING DO PEDIDO
				IF (ISNULL(@VAR_RETORNO,0) <> 0)
				BEGIN
					-- 3.4) GRAVAR O ERRO NO CADASTRO DA PESSOA NO PROCFIT
					BEGIN TRANSACTION
					INSERT INTO TB_LOG_INTEGRACAO_ITEM(
						CD_LOG_INTEGRACAO,
						ID_TIPO_INTEGRACAO_ITEM,
						DC_VALOR_INTEGRACAO_ITEM,
						DC_STATUS_VALOR,
						ID_SITUACAO_INTEGRACAO,
						CD_RETORNO_INTEGRACAO,
						DC_MENSAGEM_INTEGRACAO,
						DT_ENVIO_INTEGRACAO)
					VALUES (@CD_LOG_INTEGRACAO,
						7,
						'MATERIAL DIARIO -> '+CONVERT(VARCHAR,@CD_PRODUTO_MATERIAL_ATSVD_NOVO), 
						'ESTOQUE PROCFIT -> '+CONVERT(VARCHAR,@QT_ESTOQUE_DISPONIVEL)+'.....NÃO ATUALIZADO O ESTOQUE DISPONIVEL NO ATSVD',
						4,
						@VAR_RETORNO,
						@DC_ERRO,
						GETDATE()) 
					COMMIT TRANSACTION
				END


			END


			IF (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL > 0)
			BEGIN
				BEGIN TRANSACTION
				UPDATE TB_MATERIAL
				SET ID_CARACTERISTICA_MATERIAL  = @ID_CARACTERISTICA_MATERIAL,
				ID_SITUACAO_ESTOQUE         = @ID_SITUACAO_ESTOQUE,
				ID_VENDA_SUSPENSA           = @ID_VENDA_SUSPENSA ,
				QT_ESTOQUE_MINIMO           = @QT_ESTOQUE_MINIMO,
				QT_ESTOQUE_SEGURANCA         = @QT_ESTOQUE_SEGURANCA,
				DC_EAN                       = @DC_EAN,
				NM_PESO_BRUTO                = @NM_PESO_BRUTO ,
				NM_PESO_LIQUIDO              = @NM_PESO_LIQUIDO ,
				NM_VOLUME		     = @NM_VOLUME,
				NM_LARGURA                   = @NM_LARGURA ,
				NM_ALTURA                    = @NM_ALTURA  ,
				NM_COMPRIMENTO               = @NM_COMPRIMENTO ,
				ID_MODO_AGRUPAMENTO          = @ID_MODO_AGRUPAMENTO ,
				CD_CLASSIFICACAO_FISCAL      = @CD_CLASSIFICACAO_FISCAL,
				CD_CEST                      = @CD_CEST,
				CD_CEST_DEMAIS_OPERACOES    = @CD_CEST_DEMAIS_OPERACOES,
				ID_ORIGEM_MATERIAL           = @ID_ORIGEM_MATERIAL,
				DT_ATUALIZACAO               = GETDATE(),
				CD_USUARIO_ATUALIZACAO       = -2    
				WHERE CD_MATERIAL         = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
				COMMIT TRANSACTION
			END


			-- 3.5) ATUALIZAR O PRODUTO VENDA NO ATSVD
			SELECT @CD_PRODUTO_MATERIAL_ATSVD_ATUAL = ISNULL(MAX(CD_PRODUTO_VENDA),0)
			FROM TB_PRODUTO_VENDA WITH (NOLOCK)
			WHERE CD_PRODUTO_VENDA_EXTERNO = @CD_PRODUTO_VENDA_EXTERNO
			
			IF (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL = 0)
			BEGIN
				BEGIN TRANSACTION
				INSERT INTO TB_PRODUTO_VENDA (CD_PRODUTO_VENDA_EXTERNO,
							 DC_PRODUTO_VENDA,
							 ID_AGRUPAMENTO,
							 ID_TIPO_PRODUTO,
							 CD_MATERIAL,
							 ID_GERA_SALDO_FAVOR,
							 NM_CICLO_LANCAMENTO,
							ID_GERA_BONUS,
							ID_GERA_GRADUACAO,
							ID_GERA_ATIVACAO,
							ID_DISPONIVEL_LOJA_VIRTUAL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES (@CD_PRODUTO_VENDA_EXTERNO,
							@DC_PRODUTO_VENDA,
							@ID_AGRUPAMENTO,
							@ID_TIPO_PRODUTO,
							@CD_PRODUTO_MATERIAL_ATSVD_NOVO,
							@ID_GERA_SALDO_FAVOR,
							@NM_CICLO_LANCAMENTO,
							@ID_GERA_BONUS,
							@ID_GERA_GRADUCAO,
							@ID_GERA_ATIVACAO,
							@ID_DISPONIVEL_LOJA_VIRTUAL,
							GETDATE(),
							-2,
							GETDATE(),
							-2     )
				SELECT @CD_PRODUTO_MATERIAL_ATSVD_NOVO = IDENT_CURRENT('TB_PRODUTO_VENDA')
				COMMIT TRANSACTION

				-- 3.6) ATUALIZAR O PRODUTO VENDA PRECO NO ATSVD
				BEGIN TRANSACTION
				INSERT INTO TB_PRODUTO_VENDA_PRECO (CD_PRODUTO_VENDA,
								--NM_CICLO_INICIAL,
								DT_DATA_INICIAL,
								VL_PRECO_DE,
								VL_PRECO,
								VL_CREDITO,
								VL_PONTOS,
								ID_TIPO_VIGENCIA,			
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
						VALUES (@CD_PRODUTO_MATERIAL_ATSVD_NOVO,
							--@NM_CICLO_LANCAMENTO,
							GETDATE(),
							@VL_PRECO_DE,
							@VL_PRECO,
							@VL_CREDITO,
							@VL_PONTOS,
							2,
							GETDATE(),
							-2,
							GETDATE(),
							-2     )
				SELECT @CD_PRODUTO_VENDA_PRECO = IDENT_CURRENT('TB_PRODUTO_VENDA_PRECO')
				COMMIT TRANSACTION

				-- 3.7) ATUALIZAR O PRODUTO VENDA PRECO FUNCAO NO ATSVD
				BEGIN TRANSACTION
				INSERT INTO TB_PRODUTO_VENDA_PRECO_FUNCAO (CD_PRODUTO_VENDA_PRECO,
								CD_FUNCAO)
						VALUES (@CD_PRODUTO_VENDA_PRECO,
							2     )
				COMMIT TRANSACTION
			END				

			IF (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL > 0)
			BEGIN
				-- 3.8) ATUALIZAR O PRODUTO VENDA NO ATSVD
				BEGIN TRANSACTION
				UPDATE TB_PRODUTO_VENDA
				SET DC_PRODUTO_VENDA     = @DC_PRODUTO_VENDA,
				ID_AGRUPAMENTO           = @ID_AGRUPAMENTO,
				ID_TIPO_PRODUTO          = @ID_TIPO_PRODUTO,
				--CD_MATERIAL              = @CD_MATERIAL,
				ID_GERA_SALDO_FAVOR      = @ID_GERA_SALDO_FAVOR,
				--NM_CICLO_LANCAMENTO,
				NM_CICLO_DESCONTINUACAO  = NULL,
				ID_DISPONIVEL_LOJA_VIRTUAL = @ID_DISPONIVEL_LOJA_VIRTUAL,
				--ID_GERA_BONUS,
				--ID_GERA_GRADUCAO,
				--ID_GERA_ATIVACAO,
				DT_ATUALIZACAO          = GETDATE(),
				CD_USUARIO_ATUALIZACAO  = -2          
				WHERE CD_PRODUTO_VENDA        = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
				COMMIT TRANSACTION

				-- 3.9) VERIFICAR SE O PRODUTO VENDA SOFREU ALTERACAO DE PRECO NO ATSVD
				SELECT @CONTADOR = COUNT(*)
				FROM TB_PRODUTO_VENDA_PRECO WITH (NOLOCK)
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
				--AND   NM_CICLO_FINAL   IS NULL
				AND   DT_DATA_FINAL    IS NULL
				AND  (VL_PRECO_DE <> @VL_PRECO_DE OR VL_PRECO <> @VL_PRECO)

				IF (@CONTADOR > 0)
				BEGIN
					-- 3.10) FINALIZAR A VALIDADE DO PRECO ANTIGO NO ATSVD
					BEGIN TRANSACTION
					UPDATE TB_PRODUTO_VENDA_PRECO 
					SET --NM_CICLO_FINAL	= substring(convert(varchar,GETDATE(),112),1,6),
					DT_DATA_FINAL		= GETDATE(),
					DT_ATUALIZACAO          = GETDATE(),
					CD_USUARIO_ATUALIZACAO  = -2          
					WHERE CD_PRODUTO_VENDA  = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
					COMMIT TRANSACTION
					
					-- 3.11)  ATUALIZAR O PRODUTO VENDA PRECO NO ATSVD	
					BEGIN TRANSACTION
					INSERT INTO TB_PRODUTO_VENDA_PRECO (CD_PRODUTO_VENDA,
								--NM_CICLO_INICIAL,
								DT_DATA_INICIAL,
								VL_PRECO_DE,
								VL_PRECO,
								VL_CREDITO,
								VL_PONTOS,
								ID_TIPO_VIGENCIA,			
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
							VALUES (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL,
								--substring(convert(varchar,GETDATE(),112),1,6),
								GETDATE(),
								@VL_PRECO_DE,
								@VL_PRECO,
								@VL_CREDITO,
								@VL_PONTOS,
								2,
								GETDATE(),
								-2,
								GETDATE(),
								-2     )
					SELECT @CD_PRODUTO_VENDA_PRECO = IDENT_CURRENT('TB_PRODUTO_VENDA_PRECO')
					COMMIT TRANSACTION

					-- 3.12) ATUALIZAR O PRODUTO VENDA PRECO FUNCAO NO ATSVD
					BEGIN TRANSACTION
					INSERT INTO TB_PRODUTO_VENDA_PRECO_FUNCAO (CD_PRODUTO_VENDA_PRECO,
									CD_FUNCAO)
							VALUES (@CD_PRODUTO_VENDA_PRECO,
								2     )
					COMMIT TRANSACTION

				END

				-- 3.13) VERIFICAR SE O PRODUTO VENDA PRECO ESTA CADASTRADO NO ATSVD
				SELECT @CONTADOR = COUNT(*)
				FROM TB_PRODUTO_VENDA_PRECO WITH (NOLOCK)
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_MATERIAL_ATSVD_ATUAL
				AND   DT_DATA_FINAL    IS NULL

				IF (@CONTADOR = 0)
				BEGIN
					-- 3.14)  ATUALIZAR O PRODUTO VENDA PRECO NO ATSVD	
					BEGIN TRANSACTION
					INSERT INTO TB_PRODUTO_VENDA_PRECO (CD_PRODUTO_VENDA,
								--NM_CICLO_INICIAL,
								DT_DATA_INICIAL,
								VL_PRECO_DE,
								VL_PRECO,
								VL_CREDITO,
								VL_PONTOS,
								ID_TIPO_VIGENCIA,			
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO)
							VALUES (@CD_PRODUTO_MATERIAL_ATSVD_ATUAL,
								--substring(convert(varchar,GETDATE(),112),1,6),
								GETDATE(),
								@VL_PRECO_DE,
								@VL_PRECO,
								@VL_CREDITO,
								@VL_PONTOS,
								2,
								GETDATE(),
								-2,
								GETDATE(),
								-2     )
					SELECT @CD_PRODUTO_VENDA_PRECO = IDENT_CURRENT('TB_PRODUTO_VENDA_PRECO')
					COMMIT TRANSACTION

					-- 3.15) ATUALIZAR O PRODUTO VENDA PRECO FUNCAO NO ATSVD
					BEGIN TRANSACTION
					INSERT INTO TB_PRODUTO_VENDA_PRECO_FUNCAO (CD_PRODUTO_VENDA_PRECO,
									CD_FUNCAO)
							VALUES (@CD_PRODUTO_VENDA_PRECO,
								2     )
					COMMIT TRANSACTION

				END

			END	
			FETCH NEXT FROM @CURSOR_PRODUTO_MATERIAL_ATIVO
			INTO  @CD_MATERIAL_EXTERNO, @DC_MATERIAL, @ID_CARACTERISTICA_MATERIAL, @ID_SITUACAO_ESTOQUE,@ID_VENDA_SUSPENSA,
			@QT_ESTOQUE_MINIMO, @QT_ESTOQUE_SEGURANCA, @DC_EAN, @NM_PESO_BRUTO,@NM_PESO_LIQUIDO ,@NM_VOLUME,@NM_LARGURA, @NM_ALTURA,
			@NM_COMPRIMENTO, @ID_MODO_AGRUPAMENTO, @CD_CLASSIFICACAO_FISCAL, @CD_CEST, @CD_CEST_DEMAIS_OPERACOES, @ID_ORIGEM_MATERIAL,@CD_PRODUTO_VENDA_EXTERNO,
			@DC_PRODUTO_VENDA, @ID_AGRUPAMENTO, @ID_TIPO_PRODUTO,@ID_GERA_SALDO_FAVOR,@NM_CICLO_LANCAMENTO,@ID_GERA_BONUS,
			@ID_GERA_GRADUCAO, @ID_GERA_ATIVACAO, @VL_PRECO_DE,@VL_PRECO,@VL_CREDITO,@VL_PONTOS,@QT_ESTOQUE_DISPONIVEL, 
			@CD_TIPO_MOV_ESTOQUE, @NM_DOCUMENTO, @DC_REFERENCIA, @VL_REPOSICAO_UNITARIO, @ID_DISPONIVEL_LOJA_VIRTUAL              

		END
		CLOSE       @CURSOR_PRODUTO_MATERIAL_ATIVO
		DEALLOCATE  @CURSOR_PRODUTO_MATERIAL_ATIVO

	END

	BEGIN TRANSACTION
	UPDATE TB_LOG_INTEGRACAO 
	SET DT_TERMINO_EXECUCAO = GETDATE(),
	DC_ERRO_EXECUCAO        = 'Executado com Sucesso',
	DT_ATUALIZACAO          = GETDATE()
	WHERE CD_LOG_INTEGRACAO = @CD_LOG_INTEGRACAO  
	COMMIT TRANSACTION

	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()

	BEGIN TRANSACTION
	UPDATE TB_LOG_INTEGRACAO 
	SET DT_TERMINO_EXECUCAO = GETDATE(),
	ID_RESULTADO_EXECUCAO   = @VAR_RETORNO,
	DC_ERRO_EXECUCAO        = @DC_ERRO,
	DT_ATUALIZACAO          = GETDATE()
	WHERE CD_LOG_INTEGRACAO = @CD_LOG_INTEGRACAO  
	COMMIT TRANSACTION
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
