SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_LogisticaEnviarEmailEstoqueSeguranca]
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

DECLARE @Cursor_Itens			CURSOR,
		@Cursor_Armazens		CURSOR,
		@Cursor_Texto			CURSOR

DECLARE	@NM_LINHA					INT,
		@DC_TEXTO					VARCHAR(MAX),
		@DC_TEXTO1					VARCHAR(MAX),

		@v_data						DATETIME,
		@v_cd_pessoa_destinatario	NUMERIC(18,0),
		@v_dc_email_destinatario	VARCHAR(200),

		@v_cdEmail					numeric(18,0),
		@v_dc_assunto_email			varchar(500),

		@v_cd_envio_email			NUMERIC(18,0),
		@v_envia_email				INT,

		@v_codigoCD					numeric(18,0),
		@v_descNomeCD				varchar(80),
		@v_codigoArmazem			numeric(18,0),
		@v_descNomeArmazem			varchar(80),

		@v_descTabelaProdutos		varchar(max),

		@v_codigoMaterialExt		varchar(100), 
		@v_descMaterial				varchar(800), 
		@v_qtdeEstoqueDisponivel	int, 
		@v_qtdeEstoqueEmpenhado		int

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
		
		-- VERIFICA SE O ENVIO PARA ESSE EVENTO ESTA ATIVO
		SELECT @v_envia_email = ID_SITUACAO,
			   @v_cdEmail = CD_EMAIL
		FROM TB_ENVIO_EMAIL_PARAMETROS
		WHERE CD_EMAIL = (SELECT CD_EMAIL FROM TB_EMAIL WHERE ID_TIPO_EMAIL_EVENTO = 31)

		-- SE IGUAL A 1 VAMOS REALIZAR O ENVIO DO EMAIL
		IF @v_envia_email = 1 
			BEGIN
				
				-- VAMOS BUSCAR OS ARMAZÉNS DO TIPO PRINCIPAL CADASTRADOS
				SET @Cursor_Armazens = cursor fast_forward
				FOR
					SELECT CD.CD_CENTRO_DISTRIBUICAO, CD.DC_CENTRO_DISTRIBUICAO, A.CD_ARMAZEM, A.DC_ARMAZEM, CD.CD_PESSOA_RESPONSAVEL
					  FROM TB_ARMAZEM A, TB_CENTRO_DISTRIBUICAO CD
					 WHERE ID_TIPO_ARMAZEM = 1 --SOMENTE PRINCIPAL
					   AND A.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO

				OPEN @Cursor_Armazens
				FETCH NEXT FROM @Cursor_Armazens
				INTO @v_codigoCD, @v_descNomeCD, @v_codigoArmazem, @v_descNomeArmazem, @v_cd_pessoa_destinatario

				WHILE @@FETCH_STATUS = 0
					BEGIN
						
						-- vamos buscar os itens com o estoque de segurança atingido para montar a tabela de produtos
						SELECT @v_descTabelaProdutos = '<table>'
						SET @Cursor_Itens = CURSOR FAST_FORWARD
						FOR
							SELECT M.CD_MATERIAL_EXTERNO, M.DC_MATERIAL, E.QT_ESTOQUE_DISPONIVEL, e.QT_ESTOQUE_EMPENHADO
							FROM TB_MATERIAL M, TB_ESTOQUE E
							WHERE M.CD_MATERIAL = E.CD_MATERIAL
							AND M.ID_SITUACAO_ESTOQUE = 1
							AND E.QT_ESTOQUE_DISPONIVEL <= M.QT_ESTOQUE_SEGURANCA
							AND E.QT_ESTOQUE_DISPONIVEL > M.QT_ESTOQUE_MINIMO
							AND E.CD_CENTRO_DISTRIBUICAO = @v_codigoCD
							AND E.CD_ARMAZEM = @v_codigoArmazem
							AND CONVERT(DATE,E.DT_ATUALIZACAO) >= CONVERT(DATE,GETDATE()-1)

						OPEN @Cursor_Itens
						FETCH NEXT FROM @Cursor_Itens
						INTO @v_codigoMaterialExt, @v_descMaterial, @v_qtdeEstoqueDisponivel, @v_qtdeEstoqueEmpenhado

						WHILE @@FETCH_STATUS = 0
							BEGIN
								--vamos montar a linha com a sequencia Cód Material + Descrição / Qtde Estoque Disp / Qtde Estoque Empenhado
								SELECT @v_descTabelaProdutos += '<tr><td>' + @v_codigoMaterialExt + ' ' + @v_descMaterial + '</td>'
								SELECT @v_descTabelaProdutos += '<td>' + convert(varchar,@v_qtdeEstoqueDisponivel) + '</td>'
								SELECT @v_descTabelaProdutos += '<td>' + convert(varchar,@v_qtdeEstoqueEmpenhado) + '</td></tr>'
								
								FETCH NEXT FROM @Cursor_Itens
								INTO @v_codigoMaterialExt, @v_descMaterial, @v_qtdeEstoqueDisponivel, @v_qtdeEstoqueEmpenhado
							END
						
						SELECT @v_descTabelaProdutos += '</table>'

						--VAMOS VERIFICAR SE EXISTEM PRODUTOS COM O ESTOQUE ATINGIDO, NESTE CASO VAMOS ENVIAR O E-MAIL
						IF LEN(@v_descTabelaProdutos) > 16
							BEGIN
								SELECT @v_dc_assunto_email = 'Produtos com o estoque de segurança atingido - ' + @v_descNomeCD + ' - ' + convert(varchar,getdate(),3) + ' ' + convert(varchar,getdate(),8)
								SELECT @v_dc_email_destinatario = dbo.FN_BUSCA_EMAIL_PESSOA(@v_cd_pessoa_destinatario,1)
								SELECT @v_data = GETDATE()

								EXEC [pr_EmailInsereEnvioEmail ]
										0,							--@p_cd_envio_email			  numeric(18,0),
										@v_cdEmail,					--@p_cd_email                 numeric(18,0),
										@v_data,					--@p_dt_geracao_email         datetime ,
										NULL,						--@p_dt_envio_email           datetime,
										0,							--@p_id_situacao_envio_email  numeric(18,0),
										@v_cd_pessoa_destinatario,	--@p_cd_pessoa_destinatario   numeric(18,0),
										@v_dc_email_destinatario,	--@p_dc_email_destinatario    varchar(max),
										@v_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
										'',							--@p_dc_erro                  varchar(max),
	
										'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
										@v_cd_envio_email                       OUTPUT,
										@p_codigoErro				OUTPUT,
										@p_descricaoErro			OUTPUT,
										@p_linhasAfetadas			OUTPUT


								SET @Cursor_Texto = CURSOR FAST_FORWARD
								FOR
									SELECT	NM_LINHA, 
											DC_TEXTO
									FROM TB_EMAIL_TEXTO WHERE CD_EMAIL = @v_cdEmail
									ORDER BY NM_LINHA ASC
						
								OPEN @Cursor_Texto
								FETCH NEXT FROM @Cursor_Texto
								INTO	@NM_LINHA, @DC_TEXTO
						
								WHILE @@FETCH_STATUS = 0
									BEGIN
										--vamos substituir as variáveis dinâmicas do e-mail
										SELECT @DC_TEXTO = REPLACE(@DC_TEXTO,'#NomeCD',@v_descNomeCD)
										SELECT @DC_TEXTO = REPLACE(@DC_TEXTO,'#NomeArmazem',@v_descNomeArmazem)
										SELECT @DC_TEXTO = REPLACE(@DC_TEXTO,'#tabelaProdutos',@v_descTabelaProdutos)
										SELECT @DC_TEXTO = REPLACE(@DC_TEXTO,'#data',CONVERT(VARCHAR,@v_data,3))
										SELECT @DC_TEXTO = REPLACE(@DC_TEXTO,'#hora',CONVERT(VARCHAR,@v_data,8))
																
										EXEC pr_EmailInsereEnvioEmailTexto
											@v_cd_envio_email,
											@NM_LINHA,
											@DC_TEXTO,
											'I',
											@p_codigoErro				OUTPUT,
											@p_descricaoErro			OUTPUT,
											@p_linhasAfetadas			OUTPUT
										

										FETCH NEXT FROM @Cursor_Texto
										INTO	@NM_LINHA, @DC_TEXTO
									END
								--PARA FINALIZAR APÓS A MONTAGEM DO TEXTO VAMOS LIBERAR O ENVIO DO E-MAIL
								UPDATE TB_ENVIO_EMAIL SET ID_SITUACAO_ENVIO_EMAIL = 1 WHERE CD_ENVIO_EMAIL = @v_cd_envio_email

							END
						FETCH NEXT FROM @Cursor_Armazens
						INTO @v_codigoCD, @v_descNomeCD, @v_codigoArmazem, @v_descNomeArmazem, @v_cd_pessoa_destinatario
					END
			END
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
