SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [dbo].[pr_CampanhaInsereCampanhaCupomDesconto]              
                            
              
-- Chave Primária (PK) 
     @CD_CAMPANHA							AS NUMERIC(18,0)  
    ,@DC_CODIGO_CUPOM						AS VARCHAR(80)    
    ,@ID_TIPO_BENEFICIO_CUPOM_DESCONTO		INT   
    ,@VL_BENEFICIO 							AS NUMERIC(18,2)
    ,@DC_OBSERVACAO  						AS VARCHAR(200)	    
    ,@NM_LIMITE 							AS NUMERIC(18,0)  
    ,@p_descricaoFuncao						VARCHAR(1)
    
   	,@p_codigoErro							INT OUTPUT
	,@p_descricaoErro						VARCHAR(1000) OUTPUT
	,@p_linhasAfetadas						INT OUTPUT
	,@p_codigoGerado						NUMERIC(18,0) OUTPUT
                     
AS

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0        
  
				IF @p_descricaoFuncao = 'I'
							BEGIN
								BEGIN TRANSACTION 
				INSERT INTO TB_CAMPANHA_CUPOM_DESCONTO     
				 (  
				   CD_CAMPANHA
				  ,DC_CODIGO_CUPOM    
				  ,ID_TIPO_BENEFICIO_CUPOM_DESCONTO    
				  ,VL_BENEFICIO 
				  ,DC_OBSERVACAO   
				  ,NM_LIMITE  
				 )    
				VALUES    
				 ( 
				   @CD_CAMPANHA   
				  ,@DC_CODIGO_CUPOM    
				  ,@ID_TIPO_BENEFICIO_CUPOM_DESCONTO    
				  ,@VL_BENEFICIO 
				  ,@DC_OBSERVACAO   
				  ,@NM_LIMITE      
				)    


				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_CAMPANHA_CUPOM_DESCONTO')
				
				COMMIT TRANSACTION
			END	
			
			IF @p_descricaoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION
				 
				UPDATE  
					TB_CAMPANHA_CUPOM_DESCONTO 
						SET
						 DC_CODIGO_CUPOM					= @DC_CODIGO_CUPOM
						,ID_TIPO_BENEFICIO_CUPOM_DESCONTO	= @ID_TIPO_BENEFICIO_CUPOM_DESCONTO
						,VL_BENEFICIO						= @VL_BENEFICIO
						,DC_OBSERVACAO						= @DC_OBSERVACAO
						,NM_LIMITE							= @NM_LIMITE
				WHERE 
				CD_CAMPANHA									= @CD_CAMPANHA

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END
    
END TRY	
BEGIN CATCH

      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
    
END CATCH;

GO
