SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************
PROCEDURE CRIADA POR ANDERSON DIA 11/08/2018

ESSA PROCEDURE SERÁ UTILIZADA NA CONSULTA DE HISTORICO DE MATERIAIS VENDIDOS. ESSA CONSULTA É IMPORTANTES
PARA FAZER A PROJEÇÕ DE VENDAS DOS PROXIMOS MESES.

PODEMOS TER AS COLUNAS POR DIA OU POR MÊS E SERÁ DINAMICO

ID_TIPO_VIGENCIA
1 - MENSAL
2 - DIARIO

SE O CD_EST_COMERCIAL FOR IGUAL A 0 MOSTRA TODOS
SE O CD_INDICADOR_PESSOAL = 0 MOSTRA TODOS
VAMOS MONTAR UMA PIVOT TABLE, OU SEJA AS COLUNAS SERÃO OS CICLOS QUE SERÃO DINAMICOS
CONFORME FILTRO INFORMADO
*****************************************************************************/

CREATE PROCEDURE [dbo].[pr_RelatorioHistoricoMateriaisVendidos]
		--@CD_NIVEL_EST_COMERCIAL		NUMERIC(18,0),
		--@CD_EST_COMERCIAL			NUMERIC(18,0),
		--@DC_LISTA_EST_COMERCIAL		VARCHAR(3000),
        --@CD_INDICADOR_PESSOAL		NUMERIC(18,0),
		--@NM_CICLO_INICIAL			NUMERIC(18,0),
        --@NM_CICLO_FINAL				NUMERIC(18,0)

--		@V_RETORNO					NVARCHAR(MAX) OUTPUT
		

	
AS


DECLARE @cols	AS NVARCHAR(MAX),
		@cols1	AS NVARCHAR(MAX),
		@query  AS NVARCHAR(MAX)


DECLARE @V_DC_NIVEL1 AS VARCHAR(20)
DECLARE @V_DC_NIVEL2 AS VARCHAR(20)
DECLARE @V_DC_NIVEL3 AS VARCHAR(20)
DECLARE @V_DC_NIVEL4 AS VARCHAR(20)


-- ************************************************************************************************
-- NESSE TRECHO VAMOS MONTAR UMA STRING COM AS COLUNAS QUE QUERMOS MOSTRAR EM NOSSO RESULTADO
-- EXEMPLO, SE O CLIENTE ESCOLHEU DE 201708 ATÉ 201710
-- ESSA QUERY RETORNA O SEGUINTE ,ISNULL(201708,0),ISNULL(201709,0),ISNULL(2017110,0)
-- OU SEJA, MONTA A STRING DAS COLUNAS DE RETORNO
-- TEMOS QUE FAZER ISSO PARA SER DINAMICOS
-- O ISNULL É IMPORTANTE POIS CASO CONTRATIO NO RESULTADO VAI MOSTRAR NULL
-- ************************************************************************************************
SELECT @cols=  COALESCE(
		(SELECT ',ISNULL(' + QUOTENAME(A.DC_MES_ANO) + ',0) AS [' + CONVERT(VARCHAR(7),A.DC_MES_ANO) + ']'
		FROM
			(SELECT	RIGHT(CONVERT(CHAR(10),P.DT_CADASTRO_PEDIDO,103),7) DC_MES_ANO
			FROM TB_PEDIDO_ITEM PEI, TB_PEDIDO P
			WHERE P.NM_PEDIDO = PEI.NM_PEDIDO
			AND P.CD_EST_SITUACAO NOT IN (1,3)
			AND PEI.CD_MATERIAL <> 0) A
		GROUP BY A.DC_MES_ANO
		ORDER BY A.DC_MES_ANO ASC
		FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 



-- ************************************************************************************************
-- NESSE TRECHO FAZ MAIS OU MENOS O QUE FAZ NO TRECHO ACIMA
-- ENTRETANTO ESSE TRECHO SERÁ USADO NA FUNCIONALIDADE DO PIVOT TABLE
-- E NESSA FUNCIONALIDADE TEMOS APENAS QUE MOSTRAR AS COLUNAS, SEM TER A PREOCUPAÇÃO DE TRATAR O NULO
-- ************************************************************************************************

SELECT @cols1=  COALESCE(
		(SELECT ',' + QUOTENAME(A.DC_MES_ANO)
		FROM
			(SELECT	RIGHT(CONVERT(CHAR(10),P.DT_CADASTRO_PEDIDO,103),7) DC_MES_ANO
			FROM TB_PEDIDO_ITEM PEI, TB_PEDIDO P
			WHERE P.NM_PEDIDO = PEI.NM_PEDIDO
			AND P.CD_EST_SITUACAO NOT IN (1,3)
			AND PEI.CD_MATERIAL <> 0) A
		GROUP BY A.DC_MES_ANO
		ORDER BY A.DC_MES_ANO ASC
		FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') 


-- **************************************************************
-- RETIRA O PRIMEIRO CARACTER QUE É A VIRGULA
-- SE MANTER VAI DAR ERRO NA QUERY ABAIXO
-- **************************************************************
SELECT @cols = SUBSTRING(@cols, 2, LEN(@cols)-1)
SELECT @cols1 = SUBSTRING(@cols1, 2, LEN(@cols1)-1)




SET @query = 'SELECT '
SET @query = @query + '	P.CD_MATERIAL [Cód. Material], '
SET @query = @query + '	(SELECT A.DC_MATERIAL FROM TB_MATERIAL A WHERE A.CD_MATERIAL_EXTERNO = P.CD_MATERIAL) [Material],' + @cols + ' FROM '

-- **********************************************************
-- BASICAMENTE A INTELIGENCIA DA QUERY ESTA AQUI
-- ELA QUE DETALHA AS INFORMAÇÕES
-- **********************************************************
SET @query = @query + '	( '
SET @query = @query + '	SELECT	RIGHT(CONVERT(CHAR(10),P.DT_CADASTRO_PEDIDO,103),7) DC_MES_ANO, '
SET @query = @query + '	DBO.FN_BUSCA_COD_MATERIAL_EXTERNO(PEI.CD_MATERIAL) CD_MATERIAL, '
SET @query = @query + '	PEI.QT_RESERVADA '
SET @query = @query + '	FROM TB_PEDIDO_ITEM PEI, TB_PEDIDO P '
SET @query = @query + '	WHERE P.NM_PEDIDO = PEI.NM_PEDIDO '
SET @query = @query + '	AND P.CD_EST_SITUACAO NOT IN (1,3) '
SET @query = @query + '	AND PEI.CD_MATERIAL <> 0 '
SET @query = @query + '	) X '

-- ***********************************************************
-- AQUI FAZ O PIVOT, OU SEJA CONVERTE LINHAS EM COLUNAS
-- ***********************************************************

SET @query = @query + '	pivot ( '
SET @query = @query + '	sum(QT_RESERVADA) '
SET @query = @query + '	for DC_MES_ANO in (' + @cols1 + ')) P'




EXEC(@query);


--SELECT @V_RETORNO = @query



--declare @cmd varchar(500), @nome varchar(30)
--set @nome='Emanuel'
--set @cmd='select * from tmov where nome = '+@nome
--select (@cmd)
GO
