SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pr_LogisticaInserePoliticaEntregaItem]
	@p_codigoPoliticaEntrega	NUMERIC(18,0),
	@p_codigoEstGeografica		NUMERIC(18,0),
	
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descAcao					VARCHAR(1),
	
	@p_codigoRetorno			INT OUTPUT,
	@p_descErro					NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas		INT OUTPUT
	
AS

BEGIN TRY
	BEGIN TRANSACTION 
	

	    SELECT @p_qtdeLinhasAfetadas = 0
		
		IF @p_descAcao = 'I'
			BEGIN

				INSERT INTO TB_POLITICA_ENTREGA_ITEM (
					CD_POLITICA_ENTREGA,
					CD_EST_GEOGRAFICA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@p_codigoPoliticaEntrega,
					@p_codigoEstGeografica,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario
						)
		
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
			
				
			END	
			
		IF @p_descAcao = 'E'
			BEGIN

				DELETE FROM TB_POLITICA_ENTREGA_ITEM 
				WHERE CD_POLITICA_ENTREGA = @p_codigoPoliticaEntrega
				
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				
			END

		COMMIT TRANSACTION
		
		SELECT @p_codigoRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoRetorno = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
