SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_GrupoAcessoInserePermissaoSistemaGrupoAcesso]
	@p_codigoGrupoAcesso					NUMERIC(18,0) ,
	@p_codigoPermissaoSistema				NUMERIC(18,0) ,
	@p_codigoUsuario						NUMERIC(18,0) , 
	@p_descricaoTipoFuncao					Varchar(1),
	@p_codigoErro							INT OUTPUT,
	@p_descricaoErro						VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas						INT OUTPUT

AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_GRUPO_ACESSO_PERMISSAO_SISTEMA (
					CD_GRUPO_ACESSO,
					CD_PERMISSAO_SISTEMA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
								
						
				VALUES           (
					@p_codigoGrupoAcesso,
					@p_codigoPermissaoSistema,
					GETDATE(), 
					@p_codigoUsuario, 
					GETDATE(), 
					@p_codigoUsuario
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			
				COMMIT TRANSACTION
			END	

			
		IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_GRUPO_ACESSO_PERMISSAO_SISTEMA
					WHERE CD_GRUPO_ACESSO = @p_codigoGrupoAcesso
					
									
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END	

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
