SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaListaPessoaJurdica]
	@ID_RAMO_ATIVIDADE	INT,
	@ID_TIPO			INT,
	@CD_PESSOA			NUMERIC(18,0)

AS

	-- *********************************************
	-- TODOS OS RAMOS DE ATIVIDADE
	-- *********************************************
	IF @ID_RAMO_ATIVIDADE = 0 
		BEGIN
			-- TODAS AS EMPRESAS
			IF @ID_TIPO = 0
				BEGIN
					SELECT	P.CD_PESSOA, 
						P.DC_RAZAO_SOCIAL,
						P.DC_NOME_FANTASIA,
						P.ID_TIPO_ATIVIDADE
					FROM TB_PESSOA_JURIDICA P WITH(NOLOCK)
				END
			ELSE
				BEGIN
					-- SOMENTE MATRIZ
					IF @ID_TIPO = 1
						BEGIN
							SELECT	P.CD_PESSOA, 
								P.DC_RAZAO_SOCIAL,
								P.DC_NOME_FANTASIA,
								P.ID_TIPO_ATIVIDADE
							FROM TB_PESSOA_JURIDICA P WITH(NOLOCK)
							WHERE P.ID_EMPRESA_MATRIZ = 1
						END

					ELSE
						-- SOMENTE FILIAL EM QUE A PESSOA ESTEJA ASSOCIADA
						BEGIN
							SELECT	P.CD_PESSOA, 
								P.DC_RAZAO_SOCIAL,
								P.DC_NOME_FANTASIA,
								P.ID_TIPO_ATIVIDADE
							FROM TB_PESSOA_JURIDICA P WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
							WHERE P.CD_PESSOA = C.CD_EMPRESA
								AND C.CD_PESSOA = @CD_PESSOA

						END
					
				END
			
		END
	ELSE
		BEGIN
			-- TODAS AS EMPRESAS
			IF @ID_TIPO = 0
				BEGIN
					SELECT	P.CD_PESSOA, 
						P.DC_RAZAO_SOCIAL,
						P.DC_NOME_FANTASIA,
						P.ID_TIPO_ATIVIDADE
					FROM TB_PESSOA_JURIDICA P WITH(NOLOCK)
					WHERE P.ID_TIPO_ATIVIDADE = @ID_RAMO_ATIVIDADE
				END
			ELSE
				BEGIN
					-- SOMENTE MATRIZ
					IF @ID_TIPO = 1
						BEGIN
							SELECT	P.CD_PESSOA, 
								P.DC_RAZAO_SOCIAL,
								P.DC_NOME_FANTASIA,
								P.ID_TIPO_ATIVIDADE
							FROM TB_PESSOA_JURIDICA P WITH(NOLOCK)
							WHERE P.ID_EMPRESA_MATRIZ = 1
								AND P.ID_TIPO_ATIVIDADE = @ID_RAMO_ATIVIDADE
						END

					ELSE
						-- SOMENTE FILIAL EM QUE A PESSOA ESTEJA ASSOCIADA
						BEGIN
							SELECT	P.CD_PESSOA, 
								P.DC_RAZAO_SOCIAL,
								P.DC_NOME_FANTASIA,
								P.ID_TIPO_ATIVIDADE
							FROM TB_PESSOA_JURIDICA P WITH(NOLOCK), TB_PESSOA_COLABORADOR C WITH(NOLOCK)
							WHERE P.CD_PESSOA = C.CD_EMPRESA
								AND C.CD_PESSOA = @CD_PESSOA
								AND P.ID_TIPO_ATIVIDADE = @ID_RAMO_ATIVIDADE
						END

				END
			
		END
GO
