SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaEnviarEmailParabens]
	@p_cdPessoa					NUMERIC(18,0),
	@p_cdEvento					INT,
	@p_dc_assunto_email			VARCHAR(100),
	@p_enderecoEmail			varchar(200),
	@p_dc_texto					VARCHAR(MAX),
	@p_id_texto_previa			INTEGER,
	@p_dcArquivo				VARCHAR(MAX),
	@p_dcNomeAniversariante		VARCHAR(MAX),

	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT,
	@p_retornoPrevea			VARCHAR(MAX) OUTPUT
	
AS
DECLARE @Cursor_Itens				CURSOR
DECLARE	@v_nmLinha					INT
DECLARE @v_dcTexto					VARCHAR(MAX)
DECLARE @v_dcTexto01				VARCHAR(MAX)
DECLARE @v_Distribuidor				VARCHAR(MAX)
DECLARE @v_telefoneRes				VARCHAR(MAX)
DECLARE @v_telefoneCel				VARCHAR(MAX)
DECLARE @v_telefoneCom				VARCHAR(MAX)
DECLARE @v_telefone					VARCHAR(MAX)
DECLARE @v_Email					VARCHAR(MAX)
DECLARE @v_linkLocalArquivo			VARCHAR(MAX)



DECLARE @v_data						DATETIME
DECLARE @v_dcNomePessoa			    VARCHAR(max)
DECLARE @v_cd_envio_email			NUMERIC(18,0)
DECLARE @v_envia_email INT
DECLARE @nm_Pessoa VARCHAR(150)

/************************************************************
@p_cdEvento = 35 - Email de Parabéns 
************************************************************/

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
		SELECT @p_retornoPrevea = ''

		--BUSCA O ARQUIVO SELECIONADO
		SELECT @v_linkLocalArquivo = LA.DC_LOCAL_LEITURA_ARQUIVOS +'/'+ @p_dcArquivo
		  FROM TB_CONFIGURACAO_LOCAL_ARQUIVOS LA WITH(NOLOCK) 
		 WHERE LA.CD_CONFIGURACAO_LOCAL_ARQUIVOS = 2 
		   AND LA.ID_TIPO_CONFIGURACAO_LOCAL_ARQUIVOS = 2 


		
		--BUSCA O DISTRIBUIDOR / FONE / EMAIL
		SELECT @v_Distribuidor = DBO.FN_BUSCA_NOME_PESSOA(@p_cdPessoa)
		SELECT @v_Email = DBO.FN_BUSCA_EMAIL_PESSOA(@p_cdPessoa,1)
		
-- # # # # # # #   M O N T A  O   T E L E F O N E   # # # # # # # # #
 		SELECT @v_telefoneRes = isnull(DBO.FN_BUSCA_TELEFONE_PESSOA(@p_cdPessoa,1),'')
		SELECT @v_telefoneCom = isnull(DBO.FN_BUSCA_TELEFONE_PESSOA(@p_cdPessoa,2),'')
		SELECT @v_telefoneCel = isnull(DBO.FN_BUSCA_TELEFONE_PESSOA(@p_cdPessoa,3),'')
		IF @v_telefoneRes <> ''
			begin
				select @v_telefone = @v_telefoneRes
			end
		IF @v_telefoneCom <> ''
			BEGIN
				IF ISNULL(@v_telefone,'') > ''
					BEGIN
						select @v_telefone = @v_telefone + ' / ' + @v_telefoneCom
					END
				ELSE 
					BEGIN	
					  select @v_telefone = @v_telefoneCom
					END
			END
		IF @v_telefoneCel <> ''
			BEGIN
				IF ISNULL(@v_telefone,'') > ''
					BEGIN
						select @v_telefone = @v_telefone + ' / ' + @v_telefoneCel
					END
				ELSE 
					BEGIN	
					  select @v_telefone = @v_telefoneCel
					END
			END
-- # # # # # # #   M O N T A  O   T E L E F O N E   # # # # # # # # #

		-- VERIFICA SE O ENVIO PARA ESSE EVENTO ESTA ATIVO
		SELECT @v_envia_email = ID_SITUACAO
		FROM TB_ENVIO_EMAIL_PARAMETROS WITH(NOLOCK)
		WHERE CD_EMAIL = @p_cdEvento --35 Parabens
		
		IF @v_envia_email = 1 
			BEGIN

				SELECT @v_data = GETDATE()				
							
				IF @p_cdEvento = 35
					BEGIN
						IF @p_id_texto_previa <> 1
						BEGIN
							EXEC [pr_EmailInsereEnvioEmail ]
								0,							--@p_cd_envio_email			  numeric(18,0),
								@p_cdEvento,				--@p_cd_email                 numeric(18,0),
								@v_data,					--@p_dt_geracao_email         datetime ,
								NULL,						--@p_dt_envio_email           datetime,
								1,							--@p_id_situacao_envio_email  numeric(18,0),
								0,							--@p_cd_pessoa_destinatario   numeric(18,0),
								@p_enderecoEmail,			--@p_dc_email_destinatario    varchar(max),
								@p_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
								'',							--@p_dc_erro                  varchar(max),
	
								'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
								@v_cd_envio_email           OUTPUT,	
								@p_codigoErro				OUTPUT,
								@p_descricaoErro			OUTPUT,
								@p_linhasAfetadas			OUTPUT
						END

						SET @Cursor_Itens = CURSOR FAST_FORWARD
						FOR

							SELECT	NM_LINHA, 
									DC_TEXTO
							FROM TB_EMAIL_TEXTO WITH(NOLOCK) WHERE CD_EMAIL = @p_cdEvento
							ORDER BY NM_LINHA ASC
						
						OPEN @Cursor_Itens
						FETCH NEXT FROM @Cursor_Itens
						INTO	@v_nmLinha, @v_dcTexto
						
							WHILE @@FETCH_STATUS = 0
								BEGIN
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#Fulano#', isnull(@p_dcNomeAniversariante,''))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#Texto#', isnull(@p_dc_texto,''))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#dcLinkArquivo#', isnull(@v_linkLocalArquivo,''))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#dcDistribuidor#', isnull(@v_Distribuidor,''))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#dcFone#', isnull(@v_telefone,''))
									SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#dcEmail#', isnull(@v_Email,''))
									IF @p_id_texto_previa <> 1	
										BEGIN
											EXEC pr_EmailInsereEnvioEmailTexto
												@v_cd_envio_email,
												@v_nmLinha,
												@v_dcTexto,
												'I',
												@p_codigoErro				OUTPUT,
												@p_descricaoErro			OUTPUT,
												@p_linhasAfetadas			OUTPUT
										END										
									ELSE
										BEGIN
											SELECT @p_retornoPrevea = @p_retornoPrevea + @v_dcTexto
										END
									FETCH NEXT FROM @Cursor_Itens
									INTO	@v_nmLinha, @v_dcTexto
								END


				
					END

			END
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
