SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_IncorporarInsereItemIncorporar]
	@p_codigoItemIncorporar			NUMERIC(18,0),
	@p_codigoIdOrigemItemIncorporar	INT,
	@p_codigoOrigemItemIncorporar	NUMERIC(18,0),
	@p_codigoSituacaotemIncorporar	INT,
	@p_codigoPessoa					NUMERIC(18,0),
	@p_codigoFuncao					NUMERIC(18,0),
	@p_codigoProdutoVenda			NUMERIC(18,0),
	@p_codigoMaterial				NUMERIC(18,0),
	@p_qtdIncorporar				NUMERIC(18,0),
	@p_idCobrado					INT,
	@p_codigoPessoaIndicada			NUMERIC(18,0),
	@p_numeroPedido					NUMERIC(18,0),
	@p_descMotivo					VARCHAR(2000),

	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoTipoFuncao			VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT

AS

BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	    		
	IF @p_descricaoTipoFuncao = 'I'
		BEGIN
			BEGIN TRANSACTION 

			INSERT INTO TB_ITEM_INCORPORAR (
					DT_CADASTRO,
					ID_ORIGEM_ITEM_INCORPORAR,
					CD_ORIGEM_ITEM_INCORPORAR,
					ID_SITUACAO_ITEM_INCORPORAR,
					CD_PESSOA,
					CD_FUNCAO,
					CD_PRODUTO_VENDA,
					CD_MATERIAL,
					QT_INCORPORAR,
					ID_COBRADO,
					CD_PESSOA_INDICADA,
					NM_PEDIDO_ORIGEM,
					DC_MOTIVO,
					CD_USUARIO_CADASTRO )
						
			VALUES ( GETDATE(),
				@p_codigoIdOrigemItemIncorporar,
				@p_codigoOrigemItemIncorporar,
				@p_codigoSituacaotemIncorporar,
				@p_codigoPessoa,
				@p_codigoFuncao,
				@p_codigoProdutoVenda,
				@p_codigoMaterial,
				@p_qtdIncorporar,
				@p_idCobrado,
				@p_codigoPessoaIndicada,
				@p_numeroPedido,
				@p_descMotivo,
				@p_codigoUsuario)
					
				
		
			SELECT @p_linhasAfetadas = @@ROWCOUNT
			SELECT @p_codigoGerado = IDENT_CURRENT('TB_ITEM_INCORPORAR')
			
			COMMIT TRANSACTION
		END	
		
	IF @p_descricaoTipoFuncao = 'A'
		BEGIN
			UPDATE TB_ITEM_INCORPORAR
			   SET ID_SITUACAO_ITEM_INCORPORAR = @p_codigoSituacaotemIncorporar,
				   ID_COBRADO = @p_idCobrado,
				   QT_INCORPORAR = @p_qtdIncorporar,
				   CD_PRODUTO_VENDA = @p_codigoProdutoVenda,
				   CD_MATERIAL = @p_codigoMaterial,
				   CD_FUNCAO = @p_codigoFuncao,
				   DC_MOTIVO = @p_descMotivo,
				   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
				   DT_ATUALIZACAO = GETDATE()
			 WHERE CD_ITEM_INCORPORAR = @p_codigoItemIncorporar

		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
