SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_PEDIDO_ENDERECO]
	@NM_PEDIDO				NUMERIC(18,0),
	@CD_PESSOA				NUMERIC(18,0),
	@ID_TIPO_ENDERECO		INT,
		
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
	    SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	    
	    BEGIN TRANSACTION
	    
	    -- ********************************************
	    -- PRIMEIRO VAMOS EXCLUIR O ENDEREÇO
	    -- *******************************************
	    
	    DELETE FROM TB_PEDIDO_ENDERECO
	    WHERE NM_PEDIDO = @NM_PEDIDO
	    
	    -- ********************************************
	    -- SEGUNDO - VAMOS INSERIR O NOVO ENDEREÇO DO PEDIDO
	    -- *******************************************
        INSERT INTO TB_PEDIDO_ENDERECO
			(NM_PEDIDO,
			ID_TIPO_ENDERECO,
			CD_EST_GEOGRAFICA,
			DC_CODIGO_POSTAL,
			DC_NUMERO,
			DC_COMPLEMENTO,
			DC_REFERENCIA,
			DC_ESTRUTURA_GEO1,
			DC_ESTRUTURA_GEO2,
			DC_ESTRUTURA_GEO3,
			DC_ESTRUTURA_GEO4,
			DC_ESTRUTURA_GEO5,
			DC_ESTRUTURA_GEO6,
			DC_ESTRUTURA_GEO7,
			DC_ESTRUTURA_GEO8,
			DC_ESTRUTURA_GEO9)
			
	    SELECT @NM_PEDIDO, 
				PE.ID_TIPO_ENDERECO,
				PE.CD_EST_GEOGRAFICA,
				PE.DC_CODIGO_POSTAL,
				PE.DC_NUMERO,
				PE.DC_COMPLEMENTO,
				PE.DC_REFERENCIA,
				PE.DC_ESTRUTURA_GEO1,
				PE.DC_ESTRUTURA_GEO2,
				PE.DC_ESTRUTURA_GEO3,
				PE.DC_ESTRUTURA_GEO4,
				PE.DC_ESTRUTURA_GEO5,
				PE.DC_ESTRUTURA_GEO6,
				PE.DC_ESTRUTURA_GEO7,
				PE.DC_ESTRUTURA_GEO8,
				PE.DC_ESTRUTURA_GEO9
			FROM TB_PESSOA_ENDERECO PE 	
			WHERE PE.CD_PESSOA = @CD_PESSOA
			AND PE.ID_TIPO_ENDERECO = @ID_TIPO_ENDERECO
	    
	    
	    COMMIT TRANSACTION
		
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
