SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PedidoAlteraFaturamento]
	@p_numeroPedido		numeric(18, 0),
	@p_idFaturaPedido	int,
	@p_codigoUsuario	numeric(18,0),
	
	@p_codigoErro		INT OUTPUT,
	@p_descricaoErro	VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas	INT OUTPUT

AS

DECLARE @V_CONTADOR_REGISTROS		INT,
		@v_idMomentoFaturamento		int,
		@v_existeNF					int,
		@v_codigoSitPedido			numeric(18,0)

BEGIN TRY
	
	    SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	
		BEGIN TRANSACTION 
		
		UPDATE TB_PEDIDO
		SET ID_GERA_NOTA_FISCAL = @p_idFaturaPedido,
			CD_USUARIO_ATUALIZACAO_GERA_NOTA_FISCAL = @p_codigoUsuario,
			DT_ATUALIZACAO_GERA_NOTA_FISCAL = getdate()
		WHERE NM_PEDIDO = @p_numeroPedido
		
		SELECT @p_linhasAfetadas = @@ROWCOUNT
		
		COMMIT TRANSACTION
		
		
		IF @p_idFaturaPedido = 1
			BEGIN
				-- vamos validar aqui se o pedido está em uma situação em que a NF já deveria ser gerada e se ela não existe, 
				-- neste caso caso seja alterado para 1 faturar o pedido vamos chamar aqui a geração da NF
				SELECT @v_idMomentoFaturamento = ID_MOMENTO_FATURAMENTO,
					   @v_codigoSitPedido = CD_EST_SITUACAO
				  FROM TB_PEDIDO WITH(NOLOCK)
				 WHERE NM_PEDIDO = @p_numeroPedido

				 IF @v_idMomentoFaturamento = 1 -- AO GERAR O LOTE DE SEPARAÇÃO
					BEGIN
						IF @v_codigoSitPedido IN (5,6,7,8,9,10,200)
							BEGIN
								-- VAMOS VERIFICAR SE EXISTE ALGUMA NF PARA O PEDIDO QUE NÃO ESTEJA DISPONÍVEL PARA EMISSÃO OU EMITIDA
								SELECT @v_existeNF = COUNT(*)
								  FROM TB_NOTA_FISCAL WITH(NOLOCK)
								 WHERE NM_PEDIDO = @p_numeroPedido
								   AND ID_TIPO_NOTA_FISCAL = 2 -- NF SAÍDA
								   AND ID_SITUACAO_NOTA_FISCAL IN (0,1,2)

								IF @v_existeNF = 0
									BEGIN
										-- GERA A NF CASO NÃO EXISTA
										EXEC pr_FiscalGeraNotaFiscal @p_numeroPedido, 2, @p_codigoUsuario, @p_codigoErro OUTPUT, @p_descricaoErro OUTPUT, @p_linhasAfetadas OUTPUT
									END
							END
					END

				IF @v_idMomentoFaturamento = 2 -- AO FINALIZAR A CONFERÊNCIA
					BEGIN
						IF @v_codigoSitPedido IN (7,8,9,10)
							BEGIN
								-- VAMOS VERIFICAR SE EXISTE ALGUMA NF PARA O PEDIDO QUE NÃO ESTEJA DISPONÍVEL PARA EMISSÃO OU EMITIDA
								SELECT @v_existeNF = COUNT(*)
								  FROM TB_NOTA_FISCAL WITH(NOLOCK)
								 WHERE NM_PEDIDO = @p_numeroPedido
								   AND ID_TIPO_NOTA_FISCAL = 2 -- NF SAÍDA
								   AND ID_SITUACAO_NOTA_FISCAL IN (0,1,2)

								IF @v_existeNF = 0
									BEGIN
										-- GERA A NF CASO NÃO EXISTA
										EXEC pr_FiscalGeraNotaFiscal @p_numeroPedido, 2, @p_codigoUsuario, @p_codigoErro OUTPUT, @p_descricaoErro OUTPUT, @p_linhasAfetadas OUTPUT
									END
							END
					END
			END
        
    
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
