SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_ESTENDIDO_KENKOPATTO]
                        
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
        @CD_EST_COMERCIAL NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT


AS

DECLARE @CD_CLIENTE NUMERIC(18,0),
        @v_CD_LIDER_PESSOA  NUMERIC(18,0)

DECLARE @CURSOR_REGRA_REMUNERACAO                  CURSOR,
        @CURSOR_REGRA_CALCULO                      CURSOR,
        @CURSOR_TOPOLOGIA                          CURSOR

DECLARE @V_CD_REMUNERACAO                          INT,
        @V_DS_REMUNERACAO                          VARCHAR(100),
        @V_ID_REGRA_CALCULO                        INT,  --(1-PEDIDO /  2 - PESSOA)
        @V_ID_EVENTO_PEDIDO                        INT,--(1 - APROVADO / 2 - PAGO)
        @V_CD_INDICADOR_PESSOAL                    INT,
        @V_ID_FORMA_PAGAMENTO_REMUNERACAO          INT, --( 1 - PEDIDO FUTURO / 2-DEPOSITO BANCÁRIO)
        @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO      INT,

        @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO2     INT,

        @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO         INT,
        @V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO       INT, --(1-CARREIRA / 2-DESEMPENHO / 3-REGRAS INDICADORES)
        @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO INT, --(1-SIM / 2-NÃO)
        @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO        INT,
        @V_CD_PAPEL_FIM_PAGA_REMUNERACAO           INT,
        @V_ID_REGRA_PAPEL_PAGA_REMUNERACAO         INT, --(1-CARREIRA / 2-DESEMPENHO / 3-REGRAS INDICADORES)
        @V_ID_REGRA_NIVEL_GERACAO                  INT,  --(1-NIVEL / 2-GERACAO)
        @V_VL_NIVEL_GERACAO_INICIO                 INT,
        @V_VL_NIVEL_GERACAO_FIM                    INT,
        @V_ID_TIPO_REMUNERACAO                     INT, --(1-VALOR FIXO / 2 - PERCENTUAL / 4 - INDICADOR)
        @V_VL_REMUMERACAO                          NUMERIC(18,2),
        @V_CD_REMUNERACAO_PRIORIDADE               INT,
        @V_ID_MULTIPLICA_QUANTIDADE                INT,
        @V_CALCULA_REMUNERACAO                     INT,
        @V_CD_REMUNERACAO_PRIORIDADE_QDE           INT,
        @V_CD_PRODUTO                              NUMERIC(18,0),
        @V_ID_SITUACAO_REMUNERACAO                   INT,
        @V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO   INT

DECLARE @V_DT_CALCULA_PC_ULTIMA                    DATE,
        @V_DT_CALCULA_PC_PROXIMA                   DATE

DECLARE	@V_CD_PEDIDO_PESSOA                        NUMERIC(18,0),
        @V_NM_CICLO_PAGTO_INDICADOR	  	   NUMERIC(18,0),
        @V_NM_CICLO_APROV_INDICADOR                NUMERIC(18,0),
        @V_VL_LIQUIDO_PEDIDO_INDICADOR             NUMERIC(18,2),
        @V_EVENTO_ATUALIZACAO_REMUNERACAO            INT,
        @V_QT_RESERVADA                            INT,
        @V_CD_PRODUTO_VENDA                        NUMERIC(18,0)


DECLARE @V_CD_ORDEM_TOP                            INT,
        @V_CD_PESSOA_TOP                           NUMERIC(18,0),
        @V_CD_PAPEL_CARREIRA_TOP                   INT,
        @V_CD_PAPEL_DESEMPENHO_TOP                 INT,
        @V_CD_NIVEL_TOP                            INT,
        @V_CD_PESSOA_LIDERANCA_TOP                 INT,

        @V_CD_PAPEL_PAGA_REMUNERACAO               INT,
        @V_CD_PAPEL_RECEBE_REMUNERACAO             INT,
        @V_VL_REMUNERACAO_CALCULADA                NUMERIC(18,3),
        @V_CD_PESSOA_LIDERANCA_ATUAL               INT,
        @V_CD_GERACAO                              INT,
        @v_CD_PAPEL_INICIO_LIDERANCA               INT,
        @v_ID_APLICA_REMUNERACAO_VALOR_PONTO       INT,  
        @v_ID_APLICA_DESCONTOS_REMUNERACAO         INT

DECLARE @EXISTE_REM				   INT,
        @V_CD_MN_REMUNERACAO			   NUMERIC(18,0),   
        @V_CD_MN_DETALHE_REMUNERACAO               NUMERIC(18,0)   

DECLARE @V_CD_REMUNERACAO_INDICADOR_RECEBE        INT, 
        @V_CD_REMUNERACAO_INDICADOR_PAGA          INT, 
        @V_ID_OPERACAO_ULTIMA                     INT,
        @V_CD_INDICADOR_PESSOAL2                  INT,
        @V_VL_INDICADOR_PESSOAL                   NUMERIC(18,3),
        @V_VL_INDICADOR_PESSOAL_INICIO            NUMERIC(18,3),   
        @V_VL_INDICADOR_PESSOAL_FIM               NUMERIC(18,3),   
        @V_ID_OPERACAO                            INT,
        @CURSOR_REGRA_REMUNERACAO_INDICADOR       CURSOR,
        @V_VL_TAXA_ADMINISTRATIVA	          NUMERIC(18,2),
	@V_PC_TAXA_ADMINISTRATIVA	          NUMERIC(18,2),
        @V_VL_REMUMERACAO_REGRESSIVO              NUMERIC(18,2),
        @V_VL_REMUMERACAO_REGRESSIVO_TOTAL        NUMERIC(18,2)


DECLARE @V_VL_PEDIDO_INDICADOR_INICIO		NUMERIC(18,2),
	@V_VL_PEDIDO_INDICADOR_FIM		NUMERIC(18,2)

DECLARE @V_VL_INDICADOR_PESSOAL_PERCENTUAL      NUMERIC(18,2)

DECLARE @V_CD_EST_PRODUTO		        NUMERIC(18,0),
	@V_CD_PAPEL_CARREIRA_PEDIDO_INDICADOR   NUMERIC(18,0),
	@V_VL_CATALOGO_PEDIDO_INDICADOR	        NUMERIC(18,2),
	@V_ID_PARCELA_REMUNERACAO               INT,
	@V_ID_CONSOLIDA_REMUNERACAO		INT

DECLARE @V_VL_LIQUIDO_PEDIDO_INDICADOR2 	NUMERIC(18,2),
	@V_VL_LIQUIDO_PEDIDO_INDICADOR3 	NUMERIC(18,2)

DECLARE @V_CD_INDICADOR_ATIVA                   NUMERIC(18,0),
	@V_CD_EST_PRODUTO2		        NUMERIC(18,0)
     

BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0
 
  -- BUSCA O CLIENTE
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO  with (NOLOCK)
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO = 1
  and CD_VALOR_PARAMETRO  =1

  /**************************************************************
   ** VERIFICA SE CALCULA A REMUNERAÇÃO
   **************************************************************/
  --SELECT @V_CALCULA_REMUNERACAO = dbo.FN_VERIFICA_CALCULA_REMUNERACAO_MN(@NM_PEDIDO)
	SELECT @V_CALCULA_REMUNERACAO = 1
  /**************************************************************
   ** SÓ GRAVA REMUNERAÇÃO SE O RETORNO DA FUNÇÃO FOR IGUAL A 1
   **************************************************************/
  IF @V_CALCULA_REMUNERACAO = 1
  BEGIN

   -- BUSCA OS PARAMETROS DE CALCULO DO MMN
    SELECT @V_EVENTO_ATUALIZACAO_REMUNERACAO    = ID_EVENTO_ATUALIZACAO_REMUNERACAO,
           @v_CD_PAPEL_INICIO_LIDERANCA         = isnull(CD_PAPEL_INICIO_LIDERANCA,0),
	   @v_ID_APLICA_REMUNERACAO_VALOR_PONTO = isnull(ID_APLICA_REMUNERACAO_VALOR_PONTO,1) ,
           @v_ID_APLICA_DESCONTOS_REMUNERACAO   =  isnull(ID_APLICA_DESCONTOS_REMUNERACAO,2)
    FROM TB_MN_REGRA_GERAL  with (NOLOCK)

 
    -- ABRE O CURSOR DAS REGRAS DE REMUNERAÇÃO
    SET @CURSOR_REGRA_REMUNERACAO = CURSOR FAST_FORWARD
    FOR
      SELECT CD_REMUNERACAO                          ,
             DS_REMUNERACAO                          ,
             ID_REGRA_CALCULO                        ,
             ID_EVENTO_PEDIDO                        ,
             ISNULL(CD_PRODUTO, 0)		     ,
             CD_INDICADOR_PESSOAL                    ,
             ID_FORMA_PAGAMENTO_REMUNERACAO          ,
             CD_PAPEL_INICIO_RECEBE_REMUNERACAO      ,
             CD_PAPEL_FIM_RECEBE_REMUNERACAO         ,
             ID_REGRA_PAPEL_RECEBE_REMUNERACAO       , 
             ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO ,
             CD_PAPEL_INICIO_PAGA_REMUNERACAO        ,
             CD_PAPEL_FIM_PAGA_REMUNERACAO           ,
             ID_REGRA_PAPEL_PAGA_REMUNERACAO         , 
             ID_REGRA_NIVEL_GERACAO                  , 
             VL_NIVEL_GERACAO_INICIO                 ,
             VL_NIVEL_GERACAO_FIM                    ,
             ID_TIPO_REMUNERACAO                     , 
             VL_REMUMERACAO                          ,
             isnull(CD_REMUNERACAO_PRIORIDADE,0)     ,
             isnull(ID_MULTIPLICA_QUANTIDADE,2)      ,
             isnull(ID_SITUACAO_REMUNERACAO,1)       ,             -- default PENDENTE APROVAÇÃO
	     isnull(VL_PEDIDO_INDICADOR_INICIO,0)    ,
	     isnull(VL_PEDIDO_INDICADOR_FIM,0)       ,
	     isnull(CD_EST_PRODUTO,0)                ,
	     isnull(ID_PARCELA_REMUNERACAO,2)	     ,
	     isnull(ID_CONSOLIDA_REMUNERACAO,1)      ,	
	     isnull(CD_INDICADOR_ATIVA,0)            ,	  
	     isnull(CD_EST_PRODUTO2,0)               
      FROM TB_MN_REGRA_REMUNERACAO with (NOLOCK)
      WHERE ID_REGRA_ATIVA = 1 
      ORDER BY CD_REMUNERACAO    
    OPEN @CURSOR_REGRA_REMUNERACAO
    FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO
    INTO @V_CD_REMUNERACAO                          ,
         @V_DS_REMUNERACAO                          ,
         @V_ID_REGRA_CALCULO                        ,
         @V_ID_EVENTO_PEDIDO                        ,
         @V_CD_PRODUTO                              ,
         @V_CD_INDICADOR_PESSOAL                    ,
         @V_ID_FORMA_PAGAMENTO_REMUNERACAO          ,
         @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO      ,
         @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO         ,
         @V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO       , 
         @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO ,
         @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO        ,
         @V_CD_PAPEL_FIM_PAGA_REMUNERACAO           ,
         @V_ID_REGRA_PAPEL_PAGA_REMUNERACAO         , 
         @V_ID_REGRA_NIVEL_GERACAO                  , 
         @V_VL_NIVEL_GERACAO_INICIO                 ,
         @V_VL_NIVEL_GERACAO_FIM                    ,
         @V_ID_TIPO_REMUNERACAO                     , 
         @V_VL_REMUMERACAO                          ,
         @V_CD_REMUNERACAO_PRIORIDADE               ,
         @V_ID_MULTIPLICA_QUANTIDADE                ,
         @V_ID_SITUACAO_REMUNERACAO 		    ,
	 @V_VL_PEDIDO_INDICADOR_INICIO		    ,
	 @V_VL_PEDIDO_INDICADOR_FIM		    ,
	 @V_CD_EST_PRODUTO			    ,
	 @V_ID_PARCELA_REMUNERACAO         	    ,
	 @V_ID_CONSOLIDA_REMUNERACAO		    ,
	 @V_CD_INDICADOR_ATIVA                      ,
	 @V_CD_EST_PRODUTO2				                 

    WHILE @@FETCH_STATUS = 0
    BEGIN  
      
      select @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO2 = @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO

      IF (@V_ID_REGRA_CALCULO  = 12) -- por PEDIDO (CN), DIARIO - KENKO PATTO
      BEGIN
        SET @CURSOR_REGRA_CALCULO = CURSOR FAST_FORWARD
        FOR SELECT A.NM_PEDIDO                        AS CD_PEDIDO_PESSOA,
                   A.NM_CICLO_PAGAMENTO               AS NM_CICLO_PAGTO_INDICADOR,
                   A.NM_CICLO_APROVACAO               AS NM_CICLO_APROV_INDICADOR,
	           isnull(SUM(B.QT_RESERVADA),0)      AS QT_RESERVADA,
	           CASE WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 1)  THEN    -- DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  
				            isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                               (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )
															   ),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  
					    isnull(SUM(B.VL_PONTOS * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )
															   ),0) -- PONTOS  
					--	isnull(SUM(B.VL_PONTOS_LIQUIDO),0) -- PONTOS (A SÓS)  
                       END
	                WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 2)  THEN    -- NAO DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  isnull(SUM(B.VL_LIQUIDO_TOTAL),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  isnull(SUM(B.VL_PONTOS),0) -- PONTOS  
                        END
	           END AS  VL_LIQUIDO_PEDIDO_INDICADOR,
		   A.CD_PAPEL_CARREIRA AS PAPEL_CARREIRA_PEDIDO_INDICADOR,
		  -- isnull(SUM(B.VL_TABELA_TOTAL * (1-isnull(  ( (isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  		  --                                              (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL)
                  --                                         ),0) )
		  --	 ), 0) AS VL_CATALOGO_PEDIDO_INDICADOR
		  ISNULL(isnull(SUM(B.VL_TABELA_TOTAL * (1-isnull(((isnull(B.VL_PRATICADO_TOTAL,0)-isnull(B.VL_LIQUIDO_TOTAL,0) ) / isnull(B.VL_PRATICADO_TOTAL,0))					   
						                         ,0) )
						                              ),0) * (1-isnull((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                           (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL)    					   
						    					               ,0) ),0)
					AS VL_CATALOGO_PEDIDO_INDICADOR

            FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK)
            WHERE A.NM_PEDIDO            = B.NM_PEDIDO
            AND   A.CD_PESSOA            = @CD_PESSOA
            AND   A.CD_FUNCAO            = @CD_FUNCAO
            AND   A.NM_CICLO_CANCELAMENTO IS NULL    -- SOMENTE PEDIDO APROVADO, NÃO CANCELADO
            AND   A.NM_CICLO_INDICADOR   = @NM_CICLO  -- NOVO FILTRO : ESTENDIDO

            AND   ( (@V_CD_PRODUTO                        > 0 AND 
                     B.CD_PRODUTO_VENDA                   = @V_CD_PRODUTO)  OR
                    (@V_CD_PRODUTO                        < 0 AND 
                     B.CD_PRODUTO_VENDA                   <> (@V_CD_PRODUTO * -1))   OR 
                    (@V_CD_PRODUTO                        = 888888888888 AND                         
                      B.CD_PRODUTO_VENDA        IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO with (NOLOCK)
                                                       WHERE CD_PRODUTO > 0)  )  OR
                    (@V_CD_PRODUTO                        = 999999999999 AND                         
                      B.CD_PRODUTO_VENDA       NOT IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO with (NOLOCK)
                                                       WHERE CD_PRODUTO > 0)  )  OR
		    (@V_CD_PRODUTO                       = 0 )     ) 
	    AND   (  (@V_CD_EST_PRODUTO	 	> 0  AND
		      B.CD_PRODUTO_VENDA IN (SELECT CD_PRODUTO_VENDA FROM TB_PRODUTO_VENDA_ESTRUTURA with (NOLOCK) WHERE CD_EST_PRODUTO = @V_CD_EST_PRODUTO) ) OR
		     (@V_CD_EST_PRODUTO	 	= 0)
		  )
	    AND B.ID_PRODUTO_COBRADO = 1
   	    AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	    AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	
	    AND A.VL_LIQUIDO_TOTAL > 0
	    AND B.VL_PRATICADO_TOTAL > 0
	    AND (    (@CD_CLIENTE = 55 AND A.CD_PAPEL_CARREIRA IN (1,2,3,4)   ) 
                 OR  (@CD_CLIENTE <> 55)  )
	    AND A.NM_PEDIDO NOT IN (SELECT D.NM_ORIGEM_MN FROM TB_MN_DETALHE_REMUNERACAO D WITH (NOLOCK), TB_MN_REMUNERACAO E WITH (NOLOCK)  -- JÁ ESTÁ CALCULADO, A REMUNERAÇÃO NÃO ESTÁ MAIS PENDENTE DE APROVAÇÃO
						WHERE D.CD_MN_REMUNERACAO       = E.CD_MN_REMUNERACAO
						AND   E.ID_SITUACAO_REMUNERACAO > 1)  -- DIFERENTE DE "PENDENTE DE APROVACAO"
            GROUP BY A.NM_PEDIDO,
                     A.NM_CICLO_PAGAMENTO,
                     A.NM_CICLO_APROVACAO,
		     A.CD_FUNCAO,
		     A.CD_PAPEL_CARREIRA, 
		     A.VL_DESCONTO_CUPOM_APLICADO, 
		     A.VL_DESCONTO_PLANO_PAGAMENTO, 
                     A.VL_LIQUIDO_TOTAL
            ORDER BY A.NM_PEDIDO
      END


      IF (@V_ID_REGRA_CALCULO  = 13) --  por PEDIDO (CN), DIARIO (desde o 1o dia do ciclo) - KENKO PATTO
      BEGIN
        SET @CURSOR_REGRA_CALCULO = CURSOR FAST_FORWARD
        FOR SELECT A.NM_PEDIDO                        AS CD_PEDIDO_PESSOA,
                   A.NM_CICLO_PAGAMENTO               AS NM_CICLO_PAGTO_INDICADOR,
                   A.NM_CICLO_APROVACAO               AS NM_CICLO_APROV_INDICADOR,
	           isnull(SUM(B.QT_RESERVADA),0)      AS QT_RESERVADA,
	           CASE WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 1)  THEN    -- DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  
				            isnull(SUM(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                               (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )
															   ),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  
					    isnull(SUM(B.VL_PONTOS * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                 (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )
															   ),0) -- PONTOS  
					--	isnull(SUM(B.VL_PONTOS_LIQUIDO),0) -- PONTOS (A SÓS)  
                       END
	                WHEN  (@V_ID_APLICA_DESCONTOS_REMUNERACAO = 2)  THEN    -- NAO DESCONTAR CUPOM E PROMOCAO
	                CASE WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 1)  THEN  isnull(SUM(B.VL_LIQUIDO_TOTAL),0) -- VALOR  
	                     WHEN  (@V_ID_APLICA_REMUNERACAO_VALOR_PONTO = 2)  THEN  isnull(SUM(B.VL_PONTOS),0) -- PONTOS  
                        END
	           END AS  VL_LIQUIDO_PEDIDO_INDICADOR,
		   A.CD_PAPEL_CARREIRA AS PAPEL_CARREIRA_PEDIDO_INDICADOR,
		  -- isnull(SUM(B.VL_TABELA_TOTAL * (1-isnull(  ( (isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  		  --                                              (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL)
                  --                                         ),0) )
		  --	 ), 0) AS VL_CATALOGO_PEDIDO_INDICADOR
		  ISNULL(isnull(SUM(B.VL_TABELA_TOTAL * (1-isnull(((isnull(B.VL_PRATICADO_TOTAL,0)-isnull(B.VL_LIQUIDO_TOTAL,0) ) / isnull(B.VL_PRATICADO_TOTAL,0))					   
						                         ,0) )
						                              ),0) * (1-isnull((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                           (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL)    					   
						    					               ,0) ),0)
					AS VL_CATALOGO_PEDIDO_INDICADOR

            FROM TB_PEDIDO A with (NOLOCK), TB_PEDIDO_ITEM B with (NOLOCK)
            WHERE A.NM_PEDIDO            = B.NM_PEDIDO
            AND   A.CD_PESSOA            = @CD_PESSOA
            AND   A.CD_FUNCAO            = @CD_FUNCAO
            AND   A.NM_CICLO_CANCELAMENTO IS NULL    -- SOMENTE PEDIDO APROVADO, NÃO CANCELADO
            AND   A.NM_CICLO_INDICADOR   = @NM_CICLO -- NOVO FILTRO : ESTENDIDO

            AND   ( (@V_CD_PRODUTO                        > 0 AND 
                     B.CD_PRODUTO_VENDA                   = @V_CD_PRODUTO)  OR
                    (@V_CD_PRODUTO                        < 0 AND 
                     B.CD_PRODUTO_VENDA                   <> (@V_CD_PRODUTO * -1))   OR 
                    (@V_CD_PRODUTO                        = 888888888888 AND                         
                      B.CD_PRODUTO_VENDA        IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO with (NOLOCK)
                                                       WHERE CD_PRODUTO > 0)  )  OR
                    (@V_CD_PRODUTO                        = 999999999999 AND                         
                      B.CD_PRODUTO_VENDA       NOT IN (SELECT CD_PRODUTO 
                                                       FROM TB_MN_REGRA_REMUNERACAO with (NOLOCK)
                                                       WHERE CD_PRODUTO > 0)  )  OR
		    (@V_CD_PRODUTO                       = 0 )     ) 
	    AND   (  (@V_CD_EST_PRODUTO	 	> 0  AND
		      B.CD_PRODUTO_VENDA IN (SELECT CD_PRODUTO_VENDA FROM TB_PRODUTO_VENDA_ESTRUTURA with (NOLOCK) WHERE CD_EST_PRODUTO = @V_CD_EST_PRODUTO) ) OR
		     (@V_CD_EST_PRODUTO	 	= 0)
		  )
	    AND   (  (@V_CD_EST_PRODUTO2	> 0  AND
		      B.CD_PRODUTO_VENDA IN (SELECT CD_PRODUTO_VENDA FROM TB_PRODUTO_VENDA_ESTRUTURA with (NOLOCK) WHERE CD_EST_PRODUTO = @V_CD_EST_PRODUTO2) ) OR
		     (@V_CD_EST_PRODUTO2	= 0)
		  )
	    AND B.ID_PRODUTO_COBRADO = 1
   	    AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
	    AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	
	    AND A.VL_LIQUIDO_TOTAL > 0
	    AND B.VL_PRATICADO_TOTAL > 0
	    AND A.NM_PEDIDO NOT IN (SELECT D.NM_ORIGEM_MN FROM TB_MN_DETALHE_REMUNERACAO D WITH (NOLOCK), TB_MN_REMUNERACAO E WITH (NOLOCK)  -- JÁ ESTÁ CALCULADO, A REMUNERAÇÃO NÃO ESTÁ MAIS PENDENTE DE APROVAÇÃO
						WHERE D.CD_MN_REMUNERACAO       = E.CD_MN_REMUNERACAO
						AND   E.ID_SITUACAO_REMUNERACAO > 1)  -- DIFERENTE DE "PENDENTE DE APROVACAO"
            GROUP BY A.NM_PEDIDO,
                     A.NM_CICLO_PAGAMENTO,
                     A.NM_CICLO_APROVACAO,
		     A.CD_FUNCAO,
		     A.CD_PAPEL_CARREIRA, 
		     A.VL_DESCONTO_CUPOM_APLICADO, 
		     A.VL_DESCONTO_PLANO_PAGAMENTO, 
                     A.VL_LIQUIDO_TOTAL
            ORDER BY A.NM_PEDIDO
      END




      OPEN @CURSOR_REGRA_CALCULO
      FETCH NEXT FROM @CURSOR_REGRA_CALCULO
      INTO @V_CD_PEDIDO_PESSOA, @V_NM_CICLO_PAGTO_INDICADOR, @V_NM_CICLO_APROV_INDICADOR,  @V_QT_RESERVADA, @V_VL_LIQUIDO_PEDIDO_INDICADOR, @V_CD_PAPEL_CARREIRA_PEDIDO_INDICADOR, @V_VL_CATALOGO_PEDIDO_INDICADOR
      WHILE @@FETCH_STATUS = 0
      BEGIN  

        -- ALDIR (05/08/2021) : O PAPEL INICIO DE QUEM RECEBE PASSA A SER DO PEDIDO QUANDO A REGRA DO TIPO DE BÔNUS FOR PERCENTUAL REGRESSIVO
        IF (@V_ID_TIPO_REMUNERACAO = 3) -- PERCENTUAL REGRESSIVO
	BEGIN
	  IF (@CD_CLIENTE = 55 AND @V_CD_REMUNERACAO = 1)
	  BEGIN
          	SELECT @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO = (@V_CD_PAPEL_CARREIRA_PEDIDO_INDICADOR +1)

		SELECT @V_VL_REMUMERACAO_REGRESSIVO_TOTAL = isnull(max(VL_REMUNERACAO),0)
         	FROM TB_MN_REGRA_REMUNERACAO_VALOR with (NOLOCK)
         	WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
         	AND   CD_PAPEL       = @V_CD_PAPEL_CARREIRA_PEDIDO_INDICADOR
	  END
	  ELSE
	  BEGIN
		SELECT @V_VL_REMUMERACAO_REGRESSIVO_TOTAL = 0
		select @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO = @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO2
	  END


	  --SELECT @V_VL_REMUMERACAO = (@V_VL_REMUMERACAO - @V_VL_REMUMERACAO_REGRESSIVO_TOTAL)
        END -- FIM : ALDIR (05/08/2021) : O PAPEL INICIO DE QUEM RECEBE PASSA A SER DO PEDIDO QUANDO A REGRA DO TIPO DE BÔNUS FOR PERCENTUAL REGRESSIVO
	SELECT @V_VL_LIQUIDO_PEDIDO_INDICADOR2 = @V_VL_LIQUIDO_PEDIDO_INDICADOR

	-- VERIFICAR SE O VALOR DO PEDIDO OU INDICADOR ESTÁ NO RANGE (INICIO - FIM)
	IF ( (@V_VL_LIQUIDO_PEDIDO_INDICADOR >= @V_VL_PEDIDO_INDICADOR_INICIO AND
	      @V_VL_LIQUIDO_PEDIDO_INDICADOR <= @V_VL_PEDIDO_INDICADOR_FIM)         OR
	     (@V_VL_PEDIDO_INDICADOR_INICIO = 0 AND @V_VL_PEDIDO_INDICADOR_FIM = 0)   )
	BEGIN

          -- ABRE O CURSOR DA TOPOLOGIA
          SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
          FOR
            SELECT   1                               AS ORDEM
                    ,B.CD_PESSOA                     AS PESSOA
                    ,B.CD_PAPEL_CARREIRA             AS PAPEL_CARREIRA
                    ,B.CD_PAPEL_DESEMPENHO           AS PAPEL_DESEMPENHO
                    ,0                               AS NIVEL
                    ,isnull(C.CD_PESSOA_LIDERANCA,0) AS PESSOA_LIDERANCA
            FROM    TB_PESSOA_PAPEL_HISTORICO B with (NOLOCK), TB_PESSOA_RESUMO C with (NOLOCK)
            WHERE B.CD_PESSOA           = @CD_PESSOA
            AND   B.CD_FUNCAO           = @CD_FUNCAO
            AND   B.NM_CICLO            = @NM_CICLO
            AND   B.CD_PESSOA           = C.CD_PESSOA
            AND   B.CD_FUNCAO           = C.CD_FUNCAO
            UNION
            SELECT   2                               AS ORDEM
                    ,A.CD_PESSOA_VINCULADA           AS PESSOA
                    ,B.CD_PAPEL_CARREIRA             AS PAPEL_CARREIRA
		    ,CASE  WHEN (@CD_CLIENTE = 55) THEN (CASE   WHEN (@V_CD_REMUNERACAO = 39 AND DBO.FN_MN_BUSCA_TIPO_PAPEL_KENKOPATTO (B.CD_PESSOA, @V_CD_REMUNERACAO) >= 1)  THEN B.CD_PAPEL_CARREIRA
		               					ELSE  B.CD_PAPEL_DESEMPENHO END
						        )	
		           ELSE B.CD_PAPEL_DESEMPENHO
               	     END AS PAPEL_DESEMPENHO
                    --,B.CD_PAPEL_DESEMPENHO           AS PAPEL_DESEMPENHO
                    ,CASE WHEN   (@CD_CLIENTE = 55) THEN ( CASE  WHEN (@V_CD_REMUNERACAO IN (1,39)) THEN A.NM_NIVEL 
								 ELSE  ROW_NUMBER() OVER(ORDER BY A.NM_NIVEL) END
                                                          ) 
                                    
                          ELSE  A.NM_NIVEL
                     END AS NIVEL 
				--	 ,A.NM_NIVEL
                    ,isnull(C.CD_PESSOA_LIDERANCA,0) AS PESSOA_LIDERANCA
            FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_PAPEL_HISTORICO B with (NOLOCK), TB_PESSOA_RESUMO C with (NOLOCK)
            WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
            AND   A.CD_FUNCAO           = B.CD_FUNCAO
            AND   A.NM_CICLO            = B.NM_CICLO
            AND   A.CD_PESSOA           = @CD_PESSOA
            AND   A.CD_FUNCAO           = @CD_FUNCAO
            AND   A.NM_CICLO            = @NM_CICLO
            AND   A.ID_ORDEM            = 1 -- ASCENDENTE
            AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
            AND   B.CD_PESSOA           = C.CD_PESSOA
            AND   B.CD_FUNCAO           = C.CD_FUNCAO
	    AND   (   (@CD_CLIENTE = 55 AND (   (@V_CD_REMUNERACAO NOT IN (1,39) AND B.CD_PAPEL_CARREIRA >= 5 AND B.CD_PESSOA NOT IN (SELECT CD_PESSOA 
																      FROM TB_MN_DETALHE_REMUNERACAO WITH (NOLOCK)
																      WHERE NM_ORIGEM_MN        = @V_CD_PEDIDO_PESSOA
																      AND CD_REGRA_PREMIACAO_MN = 1   )
						 AND DBO.FN_MN_BUSCA_SITUACAO_ATIVA_BONIFICACAO_KENKOPATTO (B.CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@V_CD_REMUNERACAO,@V_CD_INDICADOR_ATIVA) = 1			
                                                ) 
					     OR (@V_CD_REMUNERACAO    IN (39)   
						 AND DBO.FN_MN_BUSCA_SITUACAO_ATIVA_BONIFICACAO_KENKOPATTO (B.CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@V_CD_REMUNERACAO,@V_CD_INDICADOR_ATIVA) = 1
						)   
					     OR ( @V_CD_REMUNERACAO    IN (1)        )   
                                            )
	               )
	           OR (@CD_CLIENTE <> 55) 
                  )

            ORDER BY 1,5

          OPEN @CURSOR_TOPOLOGIA
          FETCH NEXT FROM @CURSOR_TOPOLOGIA
          INTO  @V_CD_ORDEM_TOP, @V_CD_PESSOA_TOP, @V_CD_PAPEL_CARREIRA_TOP, @V_CD_PAPEL_DESEMPENHO_TOP, @V_CD_NIVEL_TOP, @V_CD_PESSOA_LIDERANCA_TOP  

          -- O LIDER DA PESSOA DO NIVEL 0
          IF (@V_CD_NIVEL_TOP = 0)
          BEGIN
            SELECT @v_CD_LIDER_PESSOA = @V_CD_PESSOA_LIDERANCA_TOP 
          END

          WHILE @@FETCH_STATUS = 0
          BEGIN  
            -- INICIALIZA AS VARIÁVEIS
            SELECT @V_VL_REMUNERACAO_CALCULADA  = 0

            IF (@V_CD_NIVEL_TOP = 0) -- PESSOA QUE PAGA A REMUNERAÇÃO
            BEGIN
              IF (@V_ID_REGRA_PAPEL_PAGA_REMUNERACAO = 1)  -- CARREIRA
              BEGIN
                SELECT @V_CD_PAPEL_PAGA_REMUNERACAO =  @V_CD_PAPEL_CARREIRA_TOP
              END

              IF (@V_ID_REGRA_PAPEL_PAGA_REMUNERACAO = 2)  -- DESEMPENHO
              BEGIN
                SELECT @V_CD_PAPEL_PAGA_REMUNERACAO =  @V_CD_PAPEL_DESEMPENHO_TOP 
              END
            END
 
            -- VERIFICA SE O PAPEL DE QUEM PAGA ESTÁ NO RANGE (INICIO - FIM)
            IF (@V_CD_PAPEL_PAGA_REMUNERACAO >= @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO AND
                 @V_CD_PAPEL_PAGA_REMUNERACAO <= @V_CD_PAPEL_FIM_PAGA_REMUNERACAO)
            BEGIN

              IF (@V_CD_NIVEL_TOP = 0) -- BASE 
              BEGIN
                -- VERIFICA SE A REMUNERAÇÃO É POR GERAÇÃO E A PESSOA TEM LIDERANÇA
                IF (@V_ID_REGRA_NIVEL_GERACAO = 2 AND @V_CD_PAPEL_PAGA_REMUNERACAO  < @v_CD_PAPEL_INICIO_LIDERANCA)
                BEGIN
                  BREAK
                END
                -- ATRIBUI A LIDERANÇA ATUAL 
                SELECT @V_CD_PESSOA_LIDERANCA_ATUAL = @V_CD_PESSOA_LIDERANCA_TOP ,
                       @V_CD_GERACAO = 0  -- INICIALIZA A VARIAVEL
              END

              -- PESSOA QUE RECEBE A REMUNERAÇÃO
              IF (@V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO = 1)  -- CARREIRA
              BEGIN
                SELECT @V_CD_PAPEL_RECEBE_REMUNERACAO =  @V_CD_PAPEL_CARREIRA_TOP
              END

              IF (@V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO = 2)  -- DESEMPENHO
              BEGIN
                SELECT @V_CD_PAPEL_RECEBE_REMUNERACAO =  @V_CD_PAPEL_DESEMPENHO_TOP 
              END

              -- VERIFICA SE O PAPEL DE QUEM RECEBE ESTÁ NO RANGE (INICIO - FIM)
              IF (     @V_CD_PAPEL_RECEBE_REMUNERACAO >= @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO  
                  AND  @V_CD_PAPEL_RECEBE_REMUNERACAO <= @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO)
              BEGIN

                IF (@V_ID_REGRA_NIVEL_GERACAO = 1) -- CALCULA POR NÍVEL
                BEGIN
                  -- VERIFICA SE O NÍVEL DE QUEM RECEBE ESTÁ NO RANGE (INICIO - FIM)
                  IF (@V_CD_NIVEL_TOP >= @V_VL_NIVEL_GERACAO_INICIO AND
                      @V_CD_NIVEL_TOP <= @V_VL_NIVEL_GERACAO_FIM)           
                  BEGIN

		    IF (@CD_CLIENTE = 55) -- KENKO PATTO (REGRAS ESPECIFICAS)
		    BEGIN
	  	      SELECT @V_VL_LIQUIDO_PEDIDO_INDICADOR = DBO.FN_MN_CALCULA_VALOR_REAL_KENKOPATTO (@V_CD_REMUNERACAO, @V_CD_PESSOA_TOP,@CD_FUNCAO,@NM_CICLO,@V_CD_PAPEL_CARREIRA_TOP,
												@V_CD_PEDIDO_PESSOA,@V_VL_LIQUIDO_PEDIDO_INDICADOR2,@V_VL_CATALOGO_PEDIDO_INDICADOR)
		    END

                    IF (@V_ID_TIPO_REMUNERACAO = 1) -- VALOR FIXO
                    BEGIN
                      SELECT @V_VL_REMUNERACAO_CALCULADA = @V_VL_REMUMERACAO
                    END  

                    IF (@V_ID_TIPO_REMUNERACAO = 2) -- PERCENTUAL
                    BEGIN
                      SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_REMUMERACAO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
                    END  

                    IF (@V_ID_TIPO_REMUNERACAO = 3) -- PERCENTUAL REGRESSIVO
                    BEGIN
                      -- BUSCAR O PERCENTUAL DO PAPEL
                      SELECT @V_VL_REMUMERACAO_REGRESSIVO = isnull(max(VL_REMUNERACAO),0)
                      FROM TB_MN_REGRA_REMUNERACAO_VALOR with (NOLOCK)
                      WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
                      AND   CD_PAPEL       = @V_CD_PAPEL_RECEBE_REMUNERACAO

		      -- CALCULA O VALOR A SER APLICADO DESCONTANDO O PERCENTUAL DO ULTIMO
                      IF (@CD_CLIENTE = 55  AND @V_CD_REMUNERACAO IN (1,39))  -- KENKO PATTO
		      BEGIN
		        SELECT @V_VL_REMUMERACAO_REGRESSIVO = (@V_VL_REMUMERACAO_REGRESSIVO - @V_VL_REMUMERACAO_REGRESSIVO_TOTAL)
		      END
                     
		      -- ATUALIZA O PERCENTUAL JÁ UTILIZADO
                      SELECT @V_VL_REMUMERACAO_REGRESSIVO_TOTAL = (@V_VL_REMUMERACAO_REGRESSIVO_TOTAL + @V_VL_REMUMERACAO_REGRESSIVO)

                      -- ATUALIZA O PERCENTUAL RESTANTE
                      --SELECT @V_VL_REMUMERACAO = (@V_VL_REMUMERACAO - @V_VL_REMUMERACAO_REGRESSIVO)
		      
		      IF (@CD_CLIENTE = 55  and @V_CD_PAPEL_RECEBE_REMUNERACAO >= 5 AND @V_CD_REMUNERACAO = 1)  -- KENKO PATTO
		      BEGIN
			SELECT @V_VL_REMUNERACAO_CALCULADA = @V_VL_LIQUIDO_PEDIDO_INDICADOR
		      END
		      ELSE
		      BEGIN 			
                        SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_REMUMERACAO_REGRESSIVO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
		      END

                     -- ATUALIZA O PAPEL INICIO DE RECEBIMENTO DO BÔNUS
                      SELECT @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO = (@V_CD_PAPEL_RECEBE_REMUNERACAO+1)

                    END  

                    -- INICIO : NOVO ALDIR (10/05/2021) -- PERCENTUAL BASEADO EM INDICADOR PESSOAL
                    IF (@V_ID_TIPO_REMUNERACAO = 4) -- PERCENTUAL BASEADO NO INDICADOR PESSOAL
                    BEGIN
                      SELECT @V_VL_INDICADOR_PESSOAL_PERCENTUAL = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
                      FROM TB_PESSOA_INDICADOR with (NOLOCK)
                      WHERE CD_PESSOA            = @V_CD_PESSOA_TOP
                      AND   CD_FUNCAO            = @CD_FUNCAO
                      AND   NM_CICLO             = @NM_CICLO
                      AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
                      AND   CD_INDICADOR_PESSOAL = @V_VL_REMUMERACAO   
                      
                      SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_INDICADOR_PESSOAL_PERCENTUAL / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
                    END  
		    -- FIM : NOVO ALDIR (10/05/2021)


                    IF (@V_ID_MULTIPLICA_QUANTIDADE =1)  -- MULTIPLICA PELA QUANTIDADE (SIM)
                    BEGIN
                      SELECT @V_VL_REMUNERACAO_CALCULADA = (@V_VL_REMUNERACAO_CALCULADA * @V_QT_RESERVADA)
                    END   

                  END
  
                END

                IF (@V_ID_REGRA_NIVEL_GERACAO = 2) -- CALCULA POR GERAÇÃO
                BEGIN
                  -- VERIFICAR SE A PESSOA TOPOLOGIA É A LIDERANÇA
                  IF (@V_CD_PESSOA_LIDERANCA_ATUAL = @V_CD_PESSOA_TOP)
                  BEGIN

                    -- ADICIONA A GERAÇÃO
                    SELECT @V_CD_GERACAO = (@V_CD_GERACAO + 1)
                    -- VERIFICA SE O NÍVEL DE QUEM RECEBE ESTÁ NO RANGE (INICIO - FIM)
                    IF (@V_CD_GERACAO >= @V_VL_NIVEL_GERACAO_INICIO AND
                        @V_CD_GERACAO <= @V_VL_NIVEL_GERACAO_FIM)           
                    BEGIN

		      IF (@CD_CLIENTE = 55) -- KENKO PATTO (REGRAS ESPECIFICAS)
		      BEGIN
	  	        SELECT @V_VL_LIQUIDO_PEDIDO_INDICADOR = DBO.FN_MN_CALCULA_VALOR_REAL_KENKOPATTO (@V_CD_REMUNERACAO, @CD_PESSOA,@CD_FUNCAO,@NM_CICLO,@V_CD_PAPEL_CARREIRA_TOP,
												@V_CD_PEDIDO_PESSOA,@V_VL_LIQUIDO_PEDIDO_INDICADOR2,@V_VL_CATALOGO_PEDIDO_INDICADOR)		      
		      END

                      IF (@V_ID_TIPO_REMUNERACAO = 1) -- VALOR FIXO
                      BEGIN
                        SELECT @V_VL_REMUNERACAO_CALCULADA = @V_VL_REMUMERACAO
                      END  

                      IF (@V_ID_TIPO_REMUNERACAO = 2) -- PERCENTUAL
                      BEGIN
                        SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_REMUMERACAO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
                      END  

                      IF (@V_ID_TIPO_REMUNERACAO = 3) -- PERCENTUAL REGRESSIVO
                      BEGIN
                        -- BUSCAR O PERCENTUAL DO PAPEL
                        SELECT @V_VL_REMUMERACAO_REGRESSIVO = isnull(max(VL_REMUNERACAO),0)
                        FROM TB_MN_REGRA_REMUNERACAO_VALOR with (NOLOCK)
                        WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
                        AND   CD_PAPEL       = @V_CD_PAPEL_RECEBE_REMUNERACAO

		        -- CALCULA O VALOR A SER APLICADO DESCONTANDO O PERCENTUAL DO ULTIMO
                        IF (@CD_CLIENTE = 55  AND @V_CD_REMUNERACAO IN (1,39))  -- KENKO PATTO
		        BEGIN
		          SELECT @V_VL_REMUMERACAO_REGRESSIVO = (@V_VL_REMUMERACAO_REGRESSIVO - @V_VL_REMUMERACAO_REGRESSIVO_TOTAL)
		        END
                     
		        -- ATUALIZA O PERCENTUAL JÁ UTILIZADO
                        SELECT @V_VL_REMUMERACAO_REGRESSIVO_TOTAL = (@V_VL_REMUMERACAO_REGRESSIVO_TOTAL + @V_VL_REMUMERACAO_REGRESSIVO)

                        -- ATUALIZA O PERCENTUAL RESTANTE
                        --SELECT @V_VL_REMUMERACAO = (@V_VL_REMUMERACAO - @V_VL_REMUMERACAO_REGRESSIVO)
		      
		        IF (@CD_CLIENTE = 55  and @V_CD_PAPEL_RECEBE_REMUNERACAO >= 5 AND @V_CD_REMUNERACAO = 1)  -- KENKO PATTO
		        BEGIN
			  SELECT @V_VL_REMUNERACAO_CALCULADA = @V_VL_LIQUIDO_PEDIDO_INDICADOR
		        END
		        ELSE
		        BEGIN 			
                          SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_REMUMERACAO_REGRESSIVO / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
		        END

                        -- ATUALIZA O PAPEL INICIO DE RECEBIMENTO DO BÔNUS
                        SELECT @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO = (@V_CD_PAPEL_RECEBE_REMUNERACAO+1)

                      END  

                      -- INICIO : NOVO ALDIR (10/05/2021) -- PERCENTUAL BASEADO EM INDICADOR PESSOAL
                      IF (@V_ID_TIPO_REMUNERACAO = 4) -- PERCENTUAL BASEADO NO INDICADOR PESSOAL
                      BEGIN
                        SELECT @V_VL_INDICADOR_PESSOAL_PERCENTUAL = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
                        FROM TB_PESSOA_INDICADOR with (NOLOCK)
                        WHERE CD_PESSOA            = @V_CD_PESSOA_TOP
                        AND   CD_FUNCAO            = @CD_FUNCAO
                        AND   NM_CICLO             = @NM_CICLO
                        AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
                        AND   CD_INDICADOR_PESSOAL = @V_VL_REMUMERACAO   
                      
                        SELECT @V_VL_REMUNERACAO_CALCULADA = ((@V_VL_INDICADOR_PESSOAL_PERCENTUAL / 100) * @V_VL_LIQUIDO_PEDIDO_INDICADOR)
                      END  
		      -- FIM : NOVO ALDIR (10/05/2021)

                      IF (@V_ID_MULTIPLICA_QUANTIDADE =1)  -- MULTIPLICA PELA QUANTIDADE (SIM)
                      BEGIN
                        SELECT @V_VL_REMUNERACAO_CALCULADA = (@V_VL_REMUNERACAO_CALCULADA * @V_QT_RESERVADA)
                      END  
                    END

                    -- ATRIBUI A LIDERANÇA ATUAL 
                    SELECT @V_CD_PESSOA_LIDERANCA_ATUAL = @V_CD_PESSOA_LIDERANCA_TOP 
                               
                  END
            
                END
                -- VERIFICA SE OUTRA REMUNERAÇÃO TEM PRIORIDADE
                SELECT @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0
                IF (@V_CD_REMUNERACAO_PRIORIDADE > 0)
                BEGIN
                  SELECT @V_CD_REMUNERACAO_PRIORIDADE_QDE = COUNT(*)
                  FROM TB_MN_DETALHE_REMUNERACAO with (NOLOCK)
                  WHERE CD_FUNCAO             = @CD_FUNCAO
                  AND   NM_CICLO              = @NM_CICLO
                  AND   CD_REGRA_PREMIACAO_MN = @V_CD_REMUNERACAO_PRIORIDADE
                  AND   NM_ORIGEM_MN          = @V_CD_PEDIDO_PESSOA

                END

                 -- INICIO = REGRA DE QUEM RECEBE
                SELECT @V_CD_REMUNERACAO_INDICADOR_RECEBE = 1,
                       @V_ID_OPERACAO_ULTIMA              = 0   -- GUARDA A INFORMAÇÃO DA ÚLTIMA OPERAÇÃO

                -- SE O VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO
                IF (@V_VL_REMUNERACAO_CALCULADA > 0 AND @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0)
                BEGIN
                  -- INICIO = VERIFICA SE CUMPRE OS CRITÉRIOS PARA PAGAMENTO DA REMUNERAÇÃO (quem recebe)
                  -- ABRE O CURSOR POR REMUNERACAO DAS REGRAS DOS INDICADORES
                  SET @CURSOR_REGRA_REMUNERACAO_INDICADOR = CURSOR FAST_FORWARD
                  FOR
                  SELECT CD_INDICADOR_PESSOAL, VL_INDICADOR_PESSOAL_INICIO, 
    	               VL_INDICADOR_PESSOAL_FIM, isnull(ID_OPERACAO,2)
                  FROM TB_MN_REGRA_REMUNERACAO_INDICADOR_RECEBE with (NOLOCK)
                  WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
                  ORDER BY CD_REMUNERACAO, NM_SEQUENCIA_INDICADOR

                  OPEN @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  INTO @V_CD_INDICADOR_PESSOAL2, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 

                  WHILE @@FETCH_STATUS = 0
                  BEGIN  
                    SELECT @V_VL_INDICADOR_PESSOAL = isnull(SUM(VL_INDICADOR_PESSOAL),-1)
                    FROM TB_PESSOA_INDICADOR with (NOLOCK)
                    WHERE CD_PESSOA            = @V_CD_PESSOA_TOP
                    AND   CD_FUNCAO            = @CD_FUNCAO
                    AND   NM_CICLO             = @NM_CICLO
                    AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
                    AND   CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_PESSOAL2   

                    -- VERIFICA SE NÃO TEM O INDICADOR E (OPERADOR ATUAL OU ANTERIOR "AND")
                    IF (@V_VL_INDICADOR_PESSOAL = -1 AND (@V_ID_OPERACAO = 2 OR @V_ID_OPERACAO_ULTIMA = 2))
                    BEGIN
  	              SELECT @V_CD_REMUNERACAO_INDICADOR_RECEBE = 0
	              BREAK
                    END
  
                    -- VALOR DO INDICADOR ESTÁ FORA DO RANGE E (OPERADOR ATUAL E ANTERIOR "AND")
                    IF ((@V_VL_INDICADOR_PESSOAL < @V_VL_INDICADOR_PESSOAL_INICIO OR
   	                 @V_VL_INDICADOR_PESSOAL > @V_VL_INDICADOR_PESSOAL_FIM )  AND 
    	                (@V_ID_OPERACAO = 2 OR @V_ID_OPERACAO_ULTIMA = 2)) -- "AND" 
                    BEGIN
	              SELECT @V_CD_REMUNERACAO_INDICADOR_RECEBE = 0
   	              BREAK
                    END
  
                    -- GUARDA A ÚLTIMA OPERAÇÃO
                    SELECT @V_ID_OPERACAO_ULTIMA = @V_ID_OPERACAO

                    FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO_INDICADOR
                    INTO @V_CD_INDICADOR_PESSOAL2, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 
                  END -- fim CURSOR REGRA REMUNERACAO
                  CLOSE       @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  DEALLOCATE  @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  -- FIM = VERIFICA SE CUMPRE OS CRITÉRIOS PARA PAGAMENTO DA REMUNERAÇÃO

                END  -- FIM = VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO
                -- FIM =  REGRA DE QUEM RECEBE


                -- ALDIR (17102018)
                -- SE O VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0, NAO TEM OUTRA REMUNERACAO COM PRIORIDADE, NAO CUMPRE OS CRITERIOS DE RECEBIMENTO E PARA SE ENCONTRAR A PESSOA QUE RECEBE A REMUNERACAO
                IF (@V_VL_REMUNERACAO_CALCULADA > 0 AND @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0 AND @V_CD_REMUNERACAO_INDICADOR_RECEBE = 0 AND @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO = 1)
                BEGIN
                  BREAK
                END

		-- INICIO : ALDIR (12/05/2021) : INCLUIU O CLIENTE
                --SE O VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0, NAO TEM OUTRA REMUNERACAO COM PRIORIDADE, REGRA = NIVEL, NIVEL INICIAL MAIOR QUE 1, 
                -- TEM CONCEITO DE LIDERANCA, LIDER DA PESSOA (PARAMETRO PROC) FOR DIFERENTE DA PESSOA TOP (TOPOLOGIA ASCENDENTE)
                IF (@V_VL_REMUNERACAO_CALCULADA > 0 AND @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0 AND @V_ID_REGRA_NIVEL_GERACAO = 1 AND @V_VL_NIVEL_GERACAO_INICIO > 1 
                    AND @v_CD_PAPEL_INICIO_LIDERANCA > 0 AND @v_CD_LIDER_PESSOA <> @V_CD_PESSOA_TOP AND @CD_CLIENTE = 25) -- A SÓS
                BEGIN
                  BREAK
                END
		-- FIM : ALDIR (12/05/2021) : INCLUIU O CLIENTE

                -- INICIO = REGRA DE QUEM PAGA
                SELECT @V_CD_REMUNERACAO_INDICADOR_PAGA = 1,
                       @V_ID_OPERACAO_ULTIMA            = 0   -- GUARDA A INFORMAÇÃO DA ÚLTIMA OPERAÇÃO

                -- SE O VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO
                IF (@V_VL_REMUNERACAO_CALCULADA > 0 AND @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0)
                BEGIN
                  -- INICIO = VERIFICA SE CUMPRE OS CRITÉRIOS PARA PAGAMENTO DA REMUNERAÇÃO (quem paga)
                  -- ABRE O CURSOR POR REMUNERACAO DAS REGRAS DOS INDICADORES
                  SET @CURSOR_REGRA_REMUNERACAO_INDICADOR = CURSOR FAST_FORWARD
                  FOR
                  SELECT CD_INDICADOR_PESSOAL, VL_INDICADOR_PESSOAL_INICIO, 
  	                 VL_INDICADOR_PESSOAL_FIM, isnull(ID_OPERACAO,2)
                  FROM TB_MN_REGRA_REMUNERACAO_INDICADOR_PAGA with (NOLOCK)
                  WHERE CD_REMUNERACAO = @V_CD_REMUNERACAO
                  ORDER BY CD_REMUNERACAO, NM_SEQUENCIA_INDICADOR

                  OPEN @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  INTO @V_CD_INDICADOR_PESSOAL2, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 

                  WHILE @@FETCH_STATUS = 0
                  BEGIN  
                    SELECT @V_VL_INDICADOR_PESSOAL = isnull(SUM(VL_INDICADOR_PESSOAL),-1)
                    FROM TB_PESSOA_INDICADOR with (NOLOCK)
                    WHERE CD_PESSOA            = @CD_PESSOA
                    AND   CD_FUNCAO            = @CD_FUNCAO
                    AND   NM_CICLO             = @NM_CICLO
                    AND   CD_EST_COMERCIAL     = @CD_EST_COMERCIAL
                    AND   CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_PESSOAL2   
  
                    -- VERIFICA SE NÃO TEM O INDICADOR E (OPERADOR ATUAL OU ANTERIOR "AND")
                    IF (@V_VL_INDICADOR_PESSOAL = -1 AND (@V_ID_OPERACAO = 2 OR @V_ID_OPERACAO_ULTIMA = 2))
                    BEGIN
  	              SELECT @V_CD_REMUNERACAO_INDICADOR_PAGA = 0
	              BREAK
                    END

                    -- VALOR DO INDICADOR ESTÁ FORA DO RANGE E (OPERADOR ATUAL E ANTERIOR "AND")
                    IF ((@V_VL_INDICADOR_PESSOAL < @V_VL_INDICADOR_PESSOAL_INICIO OR
     	               @V_VL_INDICADOR_PESSOAL > @V_VL_INDICADOR_PESSOAL_FIM )  AND 
    	              (@V_ID_OPERACAO = 2 OR @V_ID_OPERACAO_ULTIMA = 2)) -- "AND" 
                    BEGIN
	              SELECT @V_CD_REMUNERACAO_INDICADOR_PAGA = 0
   	              BREAK
                    END
  
                    -- GUARDA A ÚLTIMA OPERAÇÃO
                    SELECT @V_ID_OPERACAO_ULTIMA = @V_ID_OPERACAO

                    FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO_INDICADOR
                    INTO @V_CD_INDICADOR_PESSOAL2, @V_VL_INDICADOR_PESSOAL_INICIO, @V_VL_INDICADOR_PESSOAL_FIM, @V_ID_OPERACAO 
                  END -- fim CURSOR REGRA REMUNERACAO
                  CLOSE       @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  DEALLOCATE  @CURSOR_REGRA_REMUNERACAO_INDICADOR
                  -- FIM = VERIFICA SE CUMPRE OS CRITÉRIOS PARA PAGAMENTO DA REMUNERAÇÃO

                END  -- FIM = VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO
                -- FIM =  REGRA DE QUEM PAGA

                -- SE O VALOR DA REMUNERAÇÃO CALCULADA FOR MAIOR QUE 0 E REMUNERACAO PRIORIDADE NAO FOI PAGO E REGRA DA REMUNERACAO OK
                IF (@V_VL_REMUNERACAO_CALCULADA > 0 AND @V_CD_REMUNERACAO_PRIORIDADE_QDE = 0   AND @V_CD_REMUNERACAO_INDICADOR_RECEBE = 1 AND @V_CD_REMUNERACAO_INDICADOR_PAGA = 1)
                BEGIN
                  SELECT @V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @V_ID_SITUACAO_REMUNERACAO 

		  IF (@CD_CLIENTE = 55 AND  @V_CD_REMUNERACAO = 1)
		  BEGIN
		    SELECT @V_VL_LIQUIDO_PEDIDO_INDICADOR3 = 0
		  END
		  ELSE
		  BEGIN
		    SELECT @V_VL_LIQUIDO_PEDIDO_INDICADOR3 = @V_VL_LIQUIDO_PEDIDO_INDICADOR
		  END

		  EXEC [dbo].[SP_MN_INSERE_REMUNERACAO]
					@V_CD_PESSOA_TOP,
					@CD_FUNCAO	                ,
					@NM_CICLO                       ,
					@V_CD_REMUNERACAO               ,
					@V_CD_PEDIDO_PESSOA             ,
					@CD_EST_COMERCIAL               ,
					@V_ID_SITUACAO_REMUNERACAO        ,
					@V_ID_FORMA_PAGAMENTO_REMUNERACAO ,
					@V_ID_SITUACAO_PROCESSAMENTO_REMUNERACAO,  
					@V_VL_REMUNERACAO_CALCULADA    ,
					@V_ID_REGRA_CALCULO            ,
					@V_VL_LIQUIDO_PEDIDO_INDICADOR3 ,
					@V_ID_TIPO_REMUNERACAO         ,
					@V_VL_REMUMERACAO_REGRESSIVO,
					@V_VL_REMUMERACAO              ,
					@V_CD_PAPEL_RECEBE_REMUNERACAO ,
					@V_CD_NIVEL_TOP                ,
					@V_ID_PARCELA_REMUNERACAO ,	
					@V_ID_CONSOLIDA_REMUNERACAO ,
					@VAR_RETORNO OUTPUT,
					@DC_ERRO  OUTPUT,
					@QT_LINHAS_AFETADAS  OUTPUT

                  --- VERIFICA SE A REMUNERAÇÃO É POR GERAÇÃO E A PESSOA TEM LIDERANÇA / OR GERAÇÃO ATUAL MAIOR QUE LIMITE DE PAGTO
                  IF ( (@V_ID_REGRA_NIVEL_GERACAO = 2 AND @V_CD_PESSOA_LIDERANCA_ATUAL = 0 ) OR
                        (@V_CD_GERACAO > @V_VL_NIVEL_GERACAO_FIM)) 
                  BEGIN
                    BREAK
                  END

                  -- VERIFICA SE QDO ENCONTRAR A PESSOA QUE RECEBE COM PAPEL DE PARAR DE REMUNERAR
                  IF (@V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO = 1)  -- PARAR
                  BEGIN
                    BREAK
                  END

                  -- VERIFICAR SE O CAMPO "VL_REMUMERACAO" DA REGRA DE REMUNERACAO ESTA ZERADO
                  IF (@V_VL_REMUMERACAO = 0 OR @V_VL_REMUMERACAO = @V_VL_REMUMERACAO_REGRESSIVO_TOTAL)   
                  BEGIN
                    BREAK
                  END

                END

              END
            END

            FETCH NEXT FROM @CURSOR_TOPOLOGIA
            INTO @V_CD_ORDEM_TOP, @V_CD_PESSOA_TOP, @V_CD_PAPEL_CARREIRA_TOP, @V_CD_PAPEL_DESEMPENHO_TOP, @V_CD_NIVEL_TOP, @V_CD_PESSOA_LIDERANCA_TOP 
          END -- fim TOPOLOGIA
          CLOSE       @CURSOR_TOPOLOGIA
          DEALLOCATE  @CURSOR_TOPOLOGIA

        END -- FIM DO RANGE DE VALOR DO PEDIDO OU INDICADOR

        FETCH NEXT FROM @CURSOR_REGRA_CALCULO
        INTO @V_CD_PEDIDO_PESSOA, @V_NM_CICLO_PAGTO_INDICADOR, @V_NM_CICLO_APROV_INDICADOR,  @V_QT_RESERVADA, @V_VL_LIQUIDO_PEDIDO_INDICADOR, @V_CD_PAPEL_CARREIRA_PEDIDO_INDICADOR, @V_VL_CATALOGO_PEDIDO_INDICADOR
      END -- fim REGRA CALCULO
      CLOSE       @CURSOR_REGRA_CALCULO
      DEALLOCATE  @CURSOR_REGRA_CALCULO



      FETCH NEXT FROM @CURSOR_REGRA_REMUNERACAO
      INTO @V_CD_REMUNERACAO                        ,
         @V_DS_REMUNERACAO                          ,
         @V_ID_REGRA_CALCULO                        ,
         @V_ID_EVENTO_PEDIDO                        ,
         @V_CD_PRODUTO                              ,
         @V_CD_INDICADOR_PESSOAL                    ,
         @V_ID_FORMA_PAGAMENTO_REMUNERACAO          ,
         @V_CD_PAPEL_INICIO_RECEBE_REMUNERACAO      ,
         @V_CD_PAPEL_FIM_RECEBE_REMUNERACAO         ,
         @V_ID_REGRA_PAPEL_RECEBE_REMUNERACAO       , 
         @V_ID_REGRA_PARAR_PAPEL_RECEBE_REMUNERACAO ,
         @V_CD_PAPEL_INICIO_PAGA_REMUNERACAO        ,
         @V_CD_PAPEL_FIM_PAGA_REMUNERACAO           ,
         @V_ID_REGRA_PAPEL_PAGA_REMUNERACAO         , 
         @V_ID_REGRA_NIVEL_GERACAO                  , 
         @V_VL_NIVEL_GERACAO_INICIO                 ,
         @V_VL_NIVEL_GERACAO_FIM                    ,
         @V_ID_TIPO_REMUNERACAO                     , 
         @V_VL_REMUMERACAO                          ,
         @V_CD_REMUNERACAO_PRIORIDADE               ,
         @V_ID_MULTIPLICA_QUANTIDADE                ,
         @V_ID_SITUACAO_REMUNERACAO 		    ,
	 @V_VL_PEDIDO_INDICADOR_INICIO		    ,
	 @V_VL_PEDIDO_INDICADOR_FIM	            ,
	 @V_CD_EST_PRODUTO			    ,
	 @V_ID_PARCELA_REMUNERACAO                  ,
	 @V_ID_CONSOLIDA_REMUNERACAO		    ,
	 @V_CD_INDICADOR_ATIVA                      ,
	 @V_CD_EST_PRODUTO2					        		



    END -- fim REGRAS REMUNERAÇÃO
    CLOSE       @CURSOR_REGRA_REMUNERACAO
    DEALLOCATE  @CURSOR_REGRA_REMUNERACAO

  

  END

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0

END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;


















GO
