SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_UpdateProcessStatusToRunning]
    @ProcessoId INT,
    @p_codigoErro INT OUTPUT,
    @p_descricaoErro VARCHAR(1000) OUTPUT,
    @p_linhasAfetadas INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION

        UPDATE TB_PROCESSO
        SET ID_PROCESSO_STATUS_EXECUCAO = 2
        WHERE CD_PROCESSO = @ProcessoId AND ID_PROCESSO_STATUS_EXECUCAO = 1;

        SELECT @p_linhasAfetadas = @@ROWCOUNT;

        IF @p_linhasAfetadas > 0
		BEGIN
			SET @p_codigoErro = 0
            COMMIT TRANSACTION
		END
        ELSE
            BEGIN
                SET @p_codigoErro = 1; -- Custom error code for "No Rows Updated"
                SET @p_descricaoErro = 'No process was updated, possibly because it was already running or does not exist.';
                ROLLBACK TRANSACTION;
            END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT @p_codigoErro = ERROR_NUMBER(),
               @p_descricaoErro = ERROR_MESSAGE();
    END CATCH;
END;
GO
