SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNBuscaPedidoDetalhePorOrigem]
	@P_NM_PEDIDO				NUMERIC(18,0)
	
AS
  BEGIN 		        
	DECLARE @v_codigoCliente				INT

			SELECT @v_codigoCliente = 0

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	SELECT @v_codigoCliente = VL_PARAMETRO 
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 6
	   AND CD_PARAMETRO         = 1
	   AND CD_VALOR_PARAMETRO   = 1

	-- kenko patto
	IF @v_codigoCliente = 55
		BEGIN
 				SELECT distinct [dbo].[FN_BUSCA_COD_PRODUTO_VENDA_EXTERNO]  (B.CD_PRODUTO_VENDA) [Cód. Produto], 
					CASE WHEN ([dbo].[FN_BUSCA_NOME_MATERIAL](B.CD_MATERIAL) IS NOT NULL) THEN [dbo].[FN_BUSCA_NOME_MATERIAL](B.CD_MATERIAL)
					ELSE [dbo].[FN_BUSCA_NOME_PRODUTO] (B.CD_PRODUTO_VENDA) END [Produto],
					[dbo].[FN_BUSCA_DESC_EST_PRODUTO](C.CD_EST_PRODUTO) [Marketing],
					B.QT_RESERVADA [Qtd Reservada],
				   dbo.FN_ConverteMoedaReal(B.VL_PRATICADO_TOTAL / B.QT_RESERVADA) [Praticado],
				   dbo.FN_ConverteMoedaReal((B.VL_LIQUIDO_TOTAL / B.QT_RESERVADA) * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )) [Líquido],													  

					dbo.FN_ConverteMoedaReal(B.VL_LIQUIDO_TOTAL * (1-isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0) )) [Total Líquido],
					dbo.FN_ConverteValor(isnull(((isnull(A.VL_DESCONTO_CUPOM_APLICADO,0)  / A.VL_LIQUIDO_TOTAL)  +
  					                                (isnull(A.VL_DESCONTO_PLANO_PAGAMENTO,0) / A.VL_LIQUIDO_TOTAL) ),0)*100) [Desconto Pagamento],   
													
					dbo.FN_ConverteValor(isnull(((isnull(B.VL_PRATICADO_TOTAL,0)-isnull(B.VL_LIQUIDO_TOTAL,0) ) / isnull(B.VL_PRATICADO_TOTAL,0))						   
						                         ,0) *100) [Desconto Promoção],
					B.VL_PONTOS [Pontos]
			   FROM TB_PEDIDO A WITH(NOLOCK), 
					TB_PEDIDO_ITEM B WITH(NOLOCK),
					TB_PRODUTO_VENDA_ESTRUTURA C WITH(NOLOCK),
					TB_MN_REGRA_REMUNERACAO D WITH (NOLOCK)
			  WHERE A.NM_PEDIDO            = B.NM_PEDIDO
				AND B.CD_PRODUTO_VENDA     = C.CD_PRODUTO_VENDA
				AND C.CD_EST_PRODUTO       = D.CD_EST_PRODUTO 
				AND A.NM_PEDIDO            = @P_NM_PEDIDO
				AND B.ID_PRODUTO_COBRADO = 1
   				AND B.ID_GERA_BONUS           = 1 -- GERA BONUS O PRODUTO
				AND B.NM_PEDIDO_ITEM_CONJUNTO = 0	
				AND A.VL_LIQUIDO_TOTAL > 0
				order by 3

		END
END





GO
