SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MN_APLICA_PLANO_CARREIRA_NV]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT


AS


DECLARE @V_VL_BRONZE                            NUMERIC(18,2),
        @V_VL_PRATA                             NUMERIC(18,2),
        @V_VL_OURO                              NUMERIC(18,2), 
        @V_VL_DIAMANTE                          NUMERIC(18,2)

DECLARE @V_CD_PAPEL_BRONZE                        NUMERIC(18,0),
        @v_CD_PAPEL_PRATA                         NUMERIC(18,0),
	@v_CD_PAPEL_OURO                          NUMERIC(18,0),
	@v_CD_PAPEL_DIAMANTE                      NUMERIC(18,0)
DECLARE @v_CD_PAPEL_ACU                           NUMERIC(18,2)
DECLARE @V_VL_PONTOS_ACU                        NUMERIC(18,2)
DECLARE @CURSOR_TOPOLOGIA    CURSOR


DECLARE @V_CD_PESSOA_IND                 NUMERIC(18,0),
        @V_CD_PAPEL_IND                  NUMERIC(18,0),
        @V_CD_NIVEL_IND                  INT,
        @V_CD_ORDEM_IND                  INT
DECLARE @V_NM_CICLO_ANT                 NUMERIC(18,0)
DECLARE @V_CD_EST_COMERCIAL             NUMERIC(18,0)
DECLARE @EXISTE_REGISTRO                NUMERIC(18,0)



BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0

  SELECT  @V_VL_BRONZE                      = 600,
          @V_VL_PRATA                       = 9000,
          @V_VL_OURO                        = 28500,
          @V_VL_DIAMANTE                    = 45000

  SELECT  @V_CD_PAPEL_BRONZE                  = 1,
          @v_CD_PAPEL_PRATA                   = 2, 
	  @v_CD_PAPEL_OURO                    = 3,
	  @v_CD_PAPEL_DIAMANTE                = 4
  SELECT  @v_CD_PAPEL_ACU                     = 0
          

  SELECT  @V_VL_PONTOS_ACU                  = 0

  -- ABRE O CURSOR TOPOLOGIA
  SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
  FOR	
        SELECT   1                     AS ORDEM
                ,B.CD_PESSOA           AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,1                     AS NIVEL
        FROM    TB_PESSOA_PAPEL_HISTORICO B
        WHERE B.CD_PESSOA           = @CD_PESSOA
        AND   B.CD_FUNCAO           = @CD_FUNCAO
        AND   B.NM_CICLO            = @NM_CICLO
        UNION
        SELECT   2                     AS ORDEM
                ,A.CD_PESSOA_VINCULADA AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,A.NM_NIVEL            AS NIVEL
        FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
        WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
        AND   A.CD_FUNCAO           = B.CD_FUNCAO
        AND   A.NM_CICLO            = B.NM_CICLO
        AND   A.CD_PESSOA           = @CD_PESSOA
        AND   A.CD_FUNCAO           = @CD_FUNCAO
        AND   A.NM_CICLO            = @NM_CICLO
        AND   A.ID_ORDEM            = 1 -- ASCENDENTE
        AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
        ORDER BY 1,4

  OPEN @CURSOR_TOPOLOGIA
  FETCH NEXT FROM @CURSOR_TOPOLOGIA
  INTO @V_CD_ORDEM_IND,@V_CD_PESSOA_IND, @V_CD_PAPEL_IND, @V_CD_NIVEL_IND


  WHILE @@FETCH_STATUS = 0
  BEGIN  
    
    -- BUSCA A ESTRUTURA COMERCIAL
    SELECT @V_CD_EST_COMERCIAL = CD_EST_COMERCIAL
    FROM TB_PESSOA_RESUMO 
    WHERE CD_PESSOA = @V_CD_PESSOA_IND
    AND   CD_FUNCAO = @CD_FUNCAO

    -- BUSCA O CICLO ANTERIOR
    SELECT @V_NM_CICLO_ANT = isnull(MAX(NM_CICLO),0)
    FROM TB_CALENDARIO_COMERCIAL
    WHERE CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL 
    AND   NM_CICLO         < @NM_CICLO

    -- BUSCA OS PONTOS ACUMULADOS
    SELECT @V_VL_PONTOS_ACU = isnull(SUM(A.VL_INDICADOR_PESSOAL),0)   
    FROM TB_PESSOA_INDICADOR A,
         (SELECT @V_CD_PESSOA_IND AS PESSOA
          UNION
          SELECT CD_PESSOA_VINCULADA            AS PESSOA 
          FROM TB_WRK_MN_TOPOLOGIA 
          WHERE CD_PESSOA             = @V_CD_PESSOA_IND
          AND   CD_FUNCAO             = @CD_FUNCAO
          AND   ID_ORDEM              = 2           -- DESCENDENTE
          AND   NM_CICLO              = @NM_CICLO
          AND   ID_TIPO_REDE_MN       = 1) B        -- REDE UNILEVEL   
    WHERE A.CD_PESSOA            = B.PESSOA
    AND   A.CD_FUNCAO            = @CD_FUNCAO
    --AND   A.CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL 
    AND   A.CD_INDICADOR_PESSOAL = 12
    AND   A.NM_CICLO            IN (@V_NM_CICLO_ANT,@NM_CICLO) 

    -- CALCULA O PAPEL DO INDICADOR
    IF (@V_VL_PONTOS_ACU > 0)
    BEGIN
      -- atualizar o indicador 16 - Valor Graduacao Rede
      -- VERIFICA SE EXISTE O REGISTRO
      SELECT @EXISTE_REGISTRO = COUNT(*)
      FROM TB_PESSOA_INDICADOR
      WHERE CD_PESSOA          = @V_CD_PESSOA_IND 
      AND CD_FUNCAO            = @CD_FUNCAO
      AND CD_INDICADOR_PESSOAL = 16
      AND NM_CICLO             = @NM_CICLO
      AND CD_EST_COMERCIAL     = @V_CD_EST_COMERCIAL 
      IF (@EXISTE_REGISTRO = 0) 
      BEGIN
        EXEC SP_CAD_PESSOA_INDICADOR	@V_CD_PESSOA_IND,
					@CD_FUNCAO,
					@V_CD_EST_COMERCIAL,
					@NM_CICLO,
 					16,
					@V_VL_PONTOS_ACU,
					0,   -- ATS
					'I',
					@VAR_RETORNO output,
					@DC_ERRO output,
					@QT_LINHAS_AFETADAS output
      END
      ELSE
      BEGIN
		   UPDATE TB_PESSOA_INDICADOR SET
				VL_INDICADOR_PESSOAL = @V_VL_PONTOS_ACU,
				DT_ATUALIZACAO = GETDATE(),
				CD_USUARIO_ATUALIZACAO = 0
			WHERE CD_PESSOA = @V_CD_PESSOA_IND
			  AND CD_FUNCAO = @CD_FUNCAO
			  AND CD_INDICADOR_PESSOAL = 16
			  AND NM_CICLO = @NM_CICLO
			  AND CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL 			
      END

       IF (@V_VL_PONTOS_ACU >= @V_VL_BRONZE   AND @V_VL_PONTOS_ACU < @V_VL_PRATA)
         SELECT @v_CD_PAPEL_ACU  = @V_CD_PAPEL_BRONZE

       IF (@V_VL_PONTOS_ACU >= @V_VL_PRATA   AND @V_VL_PONTOS_ACU < @V_VL_OURO)
         SELECT @v_CD_PAPEL_ACU  = @v_CD_PAPEL_PRATA

       IF (@V_VL_PONTOS_ACU >= @V_VL_OURO    AND @V_VL_PONTOS_ACU < @V_VL_DIAMANTE)
         SELECT @v_CD_PAPEL_ACU  = @v_CD_PAPEL_OURO 

       IF (@V_VL_PONTOS_ACU >= @V_VL_DIAMANTE)
         SELECT @v_CD_PAPEL_ACU  = @v_CD_PAPEL_DIAMANTE        

    END 

    -- VERIFICA SE O PAPEL DO INDICADOR É MAIOR QUE PAPEL ATUAL DA PESSOA
    IF (@v_CD_PAPEL_ACU  > @V_CD_PAPEL_IND)
    BEGIN
      UPDATE TB_PESSOA_RESUMO
      SET  CD_PAPEL_CARREIRA   = @v_CD_PAPEL_ACU
          ,CD_PAPEL_DESEMPENHO = @v_CD_PAPEL_ACU
          ,DT_ATUALIZACAO      = GETDATE()
	  ,CD_USUARIO_ATUALIZACAO = 0
      WHERE CD_PESSOA = @V_CD_PESSOA_IND
      AND   CD_FUNCAO = @CD_FUNCAO
    
      UPDATE TB_PESSOA_PAPEL_HISTORICO 
      SET CD_PAPEL_CARREIRA = @v_CD_PAPEL_ACU, CD_PAPEL_DESEMPENHO  = @v_CD_PAPEL_ACU
      WHERE CD_PESSOA = @V_CD_PESSOA_IND AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO

      EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
			@V_CD_PESSOA_IND,
			@CD_FUNCAO,
			@NM_CICLO,
			@v_CD_PAPEL_ACU,
			@VAR_RETORNO,
			@DC_ERRO,
			@QT_LINHAS_AFETADAS
      
    END

    FETCH NEXT FROM @CURSOR_TOPOLOGIA
    INTO @V_CD_ORDEM_IND,@V_CD_PESSOA_IND, @V_CD_PAPEL_IND, @V_CD_NIVEL_IND

  END
  CLOSE       @CURSOR_TOPOLOGIA
  DEALLOCATE  @CURSOR_TOPOLOGIA

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0


		
  SELECT @VAR_RETORNO = 0
		
		
END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;
GO
