SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_AtendimentoInsereItemIncorporar]
	@p_codigoAtendimento			NUMERIC(18,0),
	@p_codigoUsuario				NUMERIC(18,0), 
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT


AS

DECLARE @v_codigoPedido		NUMERIC(18,0)
DECLARE @v_codigoPessoa		NUMERIC(18,0)
DECLARE @v_codigoFuncao		INT

DECLARE @v_codigoProduto	NUMERIC(18,0)
DECLARE @v_qtdProduto		NUMERIC(18,0)
DECLARE @v_codigoMaterial	NUMERIC(18,0)

DECLARE @Cursor_Itens		CURSOR

DECLARE	@v_codigoGerado		NUMERIC(18,0) 

DECLARE @v_idCobrado		INT
DECLARE @v_codigoSolucao	INT


BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
		
		SELECT @v_idCobrado = 0
				
		
	    -- *******************************************************
	    -- BUSCA INFORMAÇÃO DE NUMERO DO PEDIDO E DE PESSOA
	    -- *******************************************************
	    SELECT	@v_codigoPessoa = AT.CD_PESSOA,
				@v_codigoPedido = AT.NM_PEDIDO,
				@v_codigoSolucao = AT.CD_SAC_SOLUCAO,
				@v_codigoFuncao = AT.CD_FUNCAO
	    FROM TB_SAC_ATENDIMENTO AT WITH(NOLOCK)
	    WHERE AT.CD_SAC_ATENDIMENTO = @p_codigoAtendimento
	 

		
	    IF @v_codigoSolucao in (137,139)
			BEGIN
				SELECT @V_idCobrado = 1
			END


		IF @v_codigoSolucao in (133, 172)
			BEGIN
				SELECT @V_idCobrado = 0
			END

						    
		-- **************************************
	    -- INSERE ITEM INCORPORAR
	    -- **************************************
	    		
		SET @Cursor_Itens = CURSOR FAST_FORWARD
		FOR
			SELECT DC_RESPOSTA_01, DC_RESPOSTA_02, DC_RESPOSTA_03
			FROM TB_SAC_ATENDIMENTO_RESPOSTA WITH(NOLOCK)
			WHERE ID_TIPO_RESPOSTA IN (4, 5) 
			AND CD_SAC_ATENDIMENTO = @p_codigoAtendimento
			
		
					
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO @v_codigoProduto, @v_qtdProduto, @v_codigoMaterial

		

		WHILE @@FETCH_STATUS = 0
			BEGIN
			
				EXEC pr_IncorporarInsereItemIncorporar  
						0, 						--@p_codigoItemIncorporar
						1,						--@p_codigoIdItemIncorporar		
						@p_codigoAtendimento,	-- codigo origem 
						1,						--@p_codigoSituacaotemIncorporar
						@v_codigoPessoa,
						@v_codigoFuncao,
						@v_codigoProduto,
						@v_codigoMaterial,
						@v_qtdProduto,
						@v_idCobrado,
						@p_codigoUsuario,
						0,
						'Atendimento SAC',
						@p_codigoUsuario,
						'I',
						@p_codigoErro				OUTPUT,
						@p_descricaoErro			OUTPUT,
						@p_linhasAfetadas			OUTPUT,
						@v_codigoGerado				OUTPUT
									
				FETCH NEXT FROM @Cursor_Itens
				INTO @v_codigoProduto, @v_qtdProduto, @v_codigoMaterial
										
			END	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
