SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Diego Zilioti
-- Create date: 05/08/2016
-- Description:	Insere os dados referentes ao estabelecimento do pedido para a Hello Cash
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoInserePedidoEstabelecimentoHelloCash]
	
	@p_codigoPessoa				numeric(18,0),
	@p_codigoEstabelecimento	numeric(18,0),
	@p_numeroPedido				numeric(18,0),
	
	@p_codigoUsuario			numeric(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS

DECLARE @v_percentualRepasse		numeric(18,2)
DECLARE @v_relacaoPontosReal		numeric(18,2)
DECLARE @v_valorRepasse				numeric(18,2)
DECLARE @v_valorPontosPedido		numeric(18,2)
DECLARE @v_valorPedido				numeric(18,2)

BEGIN TRY

	if @p_codigoPessoa > 0
		begin
			--Busca os parâmetros para calcular o valor de repasse e a quantidade de pontos de um pedido.
			SELECT @v_percentualRepasse = isnull(VL_PERCENTUAL_REPASSE,0),
				   @v_relacaoPontosReal = isnull(VL_PONTOS_POR_REAL,0)
			  FROM TB_ESTABELECIMENTO
			 WHERE CD_ESTABELECIMENTO = @p_codigoEstabelecimento
			   
			--Busca o valor do pedido
			select @v_valorPedido = ISNULL(VL_TABELA_TOTAL,0)
			  from TB_PEDIDO
			 where NM_PEDIDO = @p_numeroPedido
			 
			--calcula o valor de repasse e relação ponto real
			select @v_valorRepasse = (@v_valorPedido * (@v_percentualRepasse/100))
			
			--calcula o valor de pontos
			select @v_valorPontosPedido = (@v_valorPedido * @v_relacaoPontosReal)
			
			--Insere as informações do pedido estabelecimento
			select @p_codigoErro = 0
			select @p_descricaoErro = ''
						
			insert into TB_PEDIDO_ESTABELECIMENTO
					(NM_PEDIDO,
					 CD_ESTABELECIMENTO,
					 VL_PERCENTUAL_REPASSE,
					 VL_PONTOS_POR_REAL,
					 VL_PERCENTUAL_REPASSE_PEDIDO,
					 VL_PONTOS_POR_REAL_PEDIDO)
			values 
					(@p_numeroPedido,
					 @p_codigoEstabelecimento,
					 @v_percentualRepasse,
					 @v_relacaoPontosReal,
					 @v_valorRepasse,
					 @v_valorPontosPedido)
			
			
		end
								   			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
