SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- DESCONTA O VALOR DO PRODUTO COM DEFIEOT NA DIVIDA DA PESSOA
-- SE A DIVIDA ESTA QUITADA GERA SALDO A FAVOR


CREATE PROCEDURE [dbo].[pr_AtendimentoDescontaValorBoleto]
	@p_codigoAtendimento			NUMERIC(18,0),
	@p_codigoUsuario				NUMERIC(18,0), 
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT


AS

DECLARE @v_codigoPedido		NUMERIC(18,0)
DECLARE @v_codigoPessoa		NUMERIC(18,0)
DECLARE @v_codigoFuncao		INT

DECLARE @v_valorProduto		NUMERIC(18,2)
DECLARE @v_qtdeDividaAberta INT
DECLARE @v_codigoDivida		NUMERIC(18,0)
DECLARE @v_valorDescontar	NUMERIC(18,2)
DECLARE @v_qtdeParcelaAberta INT
DECLARE @v_qtdeParcelaBoleto INT

DECLARE @v_codigoProduto	NUMERIC(18,0)
DECLARE @v_qtdProduto		NUMERIC(18,0)

DECLARE @Cursor_Itens		CURSOR

DECLARE @v_codigoGerado			NUMERIC(18,0)
DECLARE @v_codigoOrdem			NUMERIC(18,0)

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    
	    
	    -- *******************************************************
	    -- BUSCA INFORMAÇÃO DE NUMERO DO PEDIDO E DE PESSOA
	    -- *******************************************************
	    SELECT	@v_codigoPessoa = AT.CD_PESSOA,
				@v_codigoPedido = AT.NM_PEDIDO,
				@v_codigoFuncao = AT.CD_FUNCAO
	    FROM TB_SAC_ATENDIMENTO AT
	    WHERE AT.CD_SAC_ATENDIMENTO = @p_codigoAtendimento
	 
	    
	    
   		
		SET @Cursor_Itens = CURSOR FAST_FORWARD
		FOR
			SELECT DC_RESPOSTA_01, DC_RESPOSTA_02 
			FROM TB_SAC_ATENDIMENTO_RESPOSTA
			WHERE ID_TIPO_RESPOSTA IN (4, 5)
			AND CD_SAC_ATENDIMENTO = @p_codigoAtendimento
				
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO @v_codigoProduto, @v_qtdProduto

		WHILE @@FETCH_STATUS = 0
			BEGIN
			
				-- ******************************
				-- BUSCA O VALOR DO ITEM NO PEDIDO
				-- ******************************
				SELECT @v_valorProduto = VL_PAGAR_TOTAL / QT_RESERVADA
				FROM TB_PEDIDO_ITEM P
				WHERE P.NM_PEDIDO = @v_codigoPedido
				AND CD_PRODUTO_VENDA = @v_codigoProduto
				
				select @v_valorDescontar = @v_valorProduto * @v_qtdProduto

		
				-- *****************************************************
				-- VERIFICA SE O PEDIDO POSSUI DIVIDA ABERTA e SEM PAGAMENTOS,
				-- CASO EXISTA DIVIDA ABERTA SEM NENHUM PAGAMENTO DEVEMOS CANCELAR A DÍVIDA
				-- *****************************************************
    
				SELECT @v_qtdeDividaAberta = COUNT(*)
				FROM TB_DIVIDA DV
				WHERE DV.NM_PEDIDO = @v_codigoPedido
				AND DV.ID_SITUACAO_DIVIDA = 1
				AND DV.ID_SITUACAO_PAGAMENTO in (1,3)
				AND NOT EXISTS (SELECT 1 FROM TB_CONCILIACAO C 
						WHERE C.CD_DIVIDA = DV.CD_DIVIDA)
					
				IF @v_qtdeDividaAberta = 0
					BEGIN
					

						EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
							@v_codigoPessoa,
							@v_codigoFuncao,
							2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
							1, -- TIPO_MOVIMENTO = CREDITO
							5, -- ORIGEM_MOVIMENTO = ATENDIMENTO SAC
							@p_codigoAtendimento,
							20, -- ELEMENTO FINANCEIRO = CRIAÇÃO DE SALDO A FAVOR
							@v_valorDescontar,
							@p_codigoUsuario,
							@p_codigoErro		OUTPUT,
							@p_descricaoErro	OUTPUT,
							@p_linhasAfetadas	OUTPUT	
							
				
					END
				
				ELSE
				
					BEGIN
						-- ATUALIZA O VALOR DA DIVIDA
						-- BUSCA O NUMERO DA DIVIDA
						
						SELECT @v_codigoDivida = CD_DIVIDA 
						FROM TB_DIVIDA
						WHERE NM_PEDIDO = @v_codigoPedido
						AND ID_SITUACAO_DIVIDA = 1
						
						
		
						
						UPDATE TB_DIVIDA
						SET VL_ORIGINAL_DIVIDA = VL_ORIGINAL_DIVIDA - @v_valorDescontar,
							VL_ORIGINAL_DIVIDA_SALDO  = VL_ORIGINAL_DIVIDA - @v_valorDescontar,
							VL_ATUALIZADO_DIVIDA =  VL_ORIGINAL_DIVIDA - @v_valorDescontar
						WHERE CD_DIVIDA = @v_codigoDivida
						AND ID_SITUACAO_DIVIDA = 1 -- ABERTA
			
			
						-- ATUALIZA PARCELAS
						SELECT @v_qtdeParcelaAberta = COUNT(*) 
						FROM TB_PARCELA
						WHERE CD_DIVIDA = @v_codigoDivida
						AND ID_SITUACAO_PARCELA = 1 -- ABERTA
			
						UPDATE TB_PARCELA
						SET 
							VL_ORIGINAL_PARCELA = VL_ORIGINAL_PARCELA - (@v_valorDescontar / @v_qtdeParcelaAberta), 
							VL_ORIGINAL_PARCELA_SALDO = VL_ORIGINAL_PARCELA_SALDO - (@v_valorDescontar / @v_qtdeParcelaAberta),
							VL_ATUALIZADO_PARCELA =  VL_ATUALIZADO_PARCELA - (@v_valorDescontar / @v_qtdeParcelaAberta)
						WHERE CD_DIVIDA = @v_codigoDivida
						AND ID_SITUACAO_PARCELA = 1 -- ABERTA
						
						
						
						-- ATUALIZA BOLETOS
					
						SELECT @v_qtdeParcelaBoleto = COUNT(*)
						FROM TB_BOLETO_BANCARIO
						WHERE ID_SITUACAO_BOLETO_BANCARIO = 1
						AND CD_DIVIDA = @v_codigoDivida

						
						UPDATE TB_BOLETO_BANCARIO
						SET 
							VL_BOLETO_BANCARIO = VL_BOLETO_BANCARIO - (@v_valorDescontar / @v_qtdeParcelaBoleto) 
						WHERE CD_DIVIDA = @v_codigoDivida
						AND ID_SITUACAO_BOLETO_BANCARIO = 1 -- ABERTA
												
					END
			
			
						
				FETCH NEXT FROM @Cursor_Itens
				INTO @v_codigoProduto, @v_qtdProduto
										
			END	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
