SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PedidoAlteraQuantidadeItem]
	@p_numeroPedidoItem			NUMERIC(18,0),
	@p_numeroPedido				NUMERIC(18,0),
	@p_qtdeSolicitada			INT,
	@p_codigoUsuario			NUMERIC(18,0),
	
	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS

DECLARE @v_idAgrupamento				int
DECLARE @v_qtdeReservadaAtual			int
DECLARE @v_qtdeDiferenca				int
DECLARE @v_codigoProdutoVenda			numeric(18,0)
DECLARE @v_codigoMaterialVenda			numeric(18,0)
DECLARE @v_valorCreditoUnitario			numeric(18,2)
DECLARE @v_valorTabelaUnitario			numeric(18,2)
DECLARE @v_valorPraticadoUnitario		numeric(18,2)
DECLARE @v_valorLiquidoUnitario			numeric(18,2)
DECLARE @v_valorImpostoUnitario			numeric(18,2)
DECLARE @v_valorComissaoUnitario		numeric(18,2)
DECLARE @v_valorPagarUnitario			numeric(18,2)
DECLARE @v_valorCustoUnitario			numeric(18,2)
DECLARE @v_valorPontosUnitario			numeric(18,2)
DECLARE @v_numeroPedidoItemKit			numeric(18,0)
DECLARE @v_codigoSituacaoItem			numeric(18,0)
DECLARE	@CURSOR_ITENS_KIT				as Cursor


BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	
		
	-- ****************************************************************
	-- BUSCA O TIPO DE AGRUPAMENTO DO PRODUTO E A QUANTIDADE RESERVADA ATUAL
	-- ****************************************************************
	SELECT @v_idAgrupamento = ID_AGRUPAMENTO,
		   @v_qtdeReservadaAtual = QT_RESERVADA,
		   @v_codigoProdutoVenda = CD_PRODUTO_VENDA,
		   @v_codigoMaterialVenda = CD_MATERIAL, 
		   @v_valorComissaoUnitario = VL_COMISSAO_CN / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
		   @v_valorCreditoUnitario = VL_CREDITO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
		   @v_valorCustoUnitario = VL_CUSTO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
		   @v_valorImpostoUnitario = VL_IMPOSTO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
		   @v_valorLiquidoUnitario = VL_LIQUIDO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
		   @v_valorPagarUnitario = VL_PAGAR_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
		   @v_valorPraticadoUnitario = VL_PRATICADO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
		   @v_valorTabelaUnitario = VL_TABELA_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
		   @v_valorPontosUnitario = VL_PONTOS / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END)
	FROM TB_PEDIDO_ITEM WHERE NM_PEDIDO = @p_numeroPedido
	and NM_PEDIDO_ITEM = @p_numeroPedidoItem
	
	IF @v_qtdeReservadaAtual = @p_qtdeSolicitada
		BEGIN
			RETURN
		END
		
	IF @v_qtdeReservadaAtual > @p_qtdeSolicitada
		BEGIN
			/*
			VAMOS CANCELAR TODO O EMPENHO ANTERIOR E FAZER NOVAMENTE O PROCESSO - É MAIS GARANTIDO DO QUE FAZER SOMENTE A DIFERENÇA
			--A QUANTIDADE SOLICITADA É MENOR, VAMOS BAIXAR A DIFERENÇA DO ESTOQUE E ATUALIZAR O ITEM NA TABELA
			SELECT @v_qtdeDiferenca = @v_qtdeReservadaAtual - @p_qtdeSolicitada
			
			EXEC dbo.SP_BAIXA_MATERIAL
						@p_numeroPedido,
						@v_codigoProdutoVenda,
						@v_codigoMaterialVenda,
						@v_qtdeDiferenca,
						@p_codigoUsuario,
						1, -- TIPO_EMEPNHO (cancelamento de pedido)
						0, -- CD_MATERIAL
						0, -- CD_EST_SITUACAO
						0, -- QT_RESERVADA
						0, -- VL_REPOSICAO
						0, -- VL_CUSTO_MEDIO
						0, -- CD_COTA_PRODUTO_ESTRUTURA
						0, -- CD_COTA_PRODUTO_PESSOA
						@p_codigoErro,
						@p_descricaoErro,
						@p_linhasAfetadas
						
			--Após a baixa do empenho vamos atualizar as informações da tb_pedido_item
			UPDATE TB_PEDIDO_ITEM SET QT_PEDIDA = @p_qtdeSolicitada,
								  QT_RESERVADA = @p_qtdeSolicitada,
								  VL_TABELA_TOTAL = @v_valorTabelaUnitario * @p_qtdeSolicitada,
								  VL_PRATICADO_TOTAL = @v_valorPraticadoUnitario * @p_qtdeSolicitada,
								  VL_PAGAR_TOTAL = @v_valorPagarUnitario * @p_qtdeSolicitada,
								  VL_LIQUIDO_TOTAL = @v_valorLiquidoUnitario * @p_qtdeSolicitada,
								  VL_IMPOSTO_TOTAL = @v_valorImpostoUnitario * @p_qtdeSolicitada,
								  VL_CUSTO_TOTAL = @v_valorCustoUnitario * @p_qtdeSolicitada,
								  VL_CREDITO_TOTAL = @v_valorCreditoUnitario * @p_qtdeSolicitada,
								  VL_COMISSAO_CN = @v_valorComissaoUnitario * @p_qtdeSolicitada
			WHERE NM_PEDIDO_ITEM = @p_numeroPedidoItem
			
			*/
			
			EXEC dbo.SP_BAIXA_MATERIAL
						@p_numeroPedido,
						@v_codigoProdutoVenda,
						@v_codigoMaterialVenda,
						@v_qtdeReservadaAtual,
						@p_codigoUsuario,
						1, -- TIPO_EMEPNHO (cancelamento de pedido)
						0, -- CD_MATERIAL
						0, -- CD_EST_SITUACAO
						0, -- QT_RESERVADA
						0, -- VL_REPOSICAO
						0, -- VL_CUSTO_MEDIO
						0, -- CD_COTA_PRODUTO_ESTRUTURA
						0, -- CD_COTA_PRODUTO_PESSOA
						@p_codigoErro OUTPUT,
						@p_descricaoErro OUTPUT,
						@p_linhasAfetadas OUTPUT


			UPDATE TB_PEDIDO_ITEM SET QT_PEDIDA = 0,
								  QT_RESERVADA = 0,
								  VL_TABELA_TOTAL = 0,
								  VL_PRATICADO_TOTAL = 0,
								  VL_PAGAR_TOTAL = 0,
								  VL_LIQUIDO_TOTAL = 0,
								  VL_IMPOSTO_TOTAL = 0,
								  VL_CUSTO_TOTAL = 0,
								  VL_CREDITO_TOTAL = 0,
								  VL_COMISSAO_CN = 0,
								  VL_PONTOS = 0
			WHERE NM_PEDIDO_ITEM = @p_numeroPedidoItem



			EXEC dbo.SP_BAIXA_MATERIAL
						@p_numeroPedido,
						@v_codigoProdutoVenda,
						@v_codigoMaterialVenda,
						@p_qtdeSolicitada,
						@p_codigoUsuario,
						0, -- TIPO_EMEPNHO (empenho de item)
						0, -- CD_MATERIAL
						@v_codigoSituacaoItem OUTPUT, -- CD_EST_SITUACAO
						@v_qtdeDiferenca OUTPUT, -- QT_RESERVADA
						0, -- VL_REPOSICAO
						0, -- VL_CUSTO_MEDIO
						0, -- CD_COTA_PRODUTO_ESTRUTURA
						0, -- CD_COTA_PRODUTO_PESSOA
						@p_codigoErro OUTPUT,
						@p_descricaoErro OUTPUT,
						@p_linhasAfetadas OUTPUT



			IF @p_codigoErro = 0
				BEGIN
					UPDATE TB_PEDIDO_ITEM SET QT_PEDIDA = @p_qtdeSolicitada,
								  QT_RESERVADA = @v_qtdeDiferenca,
								  CD_EST_SITUACAO = @v_codigoSituacaoItem,
								  VL_TABELA_TOTAL = @v_valorTabelaUnitario * @v_qtdeDiferenca,
								  VL_PRATICADO_TOTAL = @v_valorPraticadoUnitario * @v_qtdeDiferenca,
								  VL_PAGAR_TOTAL = @v_valorPagarUnitario * @v_qtdeDiferenca,
--								  VL_LIQUIDO_TOTAL = @v_valorLiquidoUnitario * @v_qtdeDiferenca,
								  VL_LIQUIDO_TOTAL = @v_valorPraticadoUnitario * @v_qtdeDiferenca,
								  VL_IMPOSTO_TOTAL = @v_valorImpostoUnitario * @v_qtdeDiferenca,
								  VL_CUSTO_TOTAL = @v_valorCustoUnitario * @v_qtdeDiferenca,
								  VL_CREDITO_TOTAL = @v_valorCreditoUnitario * @v_qtdeDiferenca,
								  VL_COMISSAO_CN = @v_valorComissaoUnitario * @v_qtdeDiferenca,
								  VL_PONTOS = @v_valorPontosUnitario * @v_qtdeDiferenca
					WHERE NM_PEDIDO_ITEM = @p_numeroPedidoItem
				END






			--VERIFICA SE É UM KIT CASO SEJA É PRECISO ATUALIZAR O VALOR DOS COMPONENTES
			IF @v_idAgrupamento = 2
				BEGIN

					-- ***************************************************
					-- PRIMEIRO VAMOS EXCLUIR OS ITENS
					-- ***************************************************
					DELETE FROM TB_PEDIDO_ITEM
					WHERE NM_PEDIDO_ITEM_CONJUNTO = @p_numeroPedidoItem
					AND NM_PEDIDO = @p_numeroPedido

					-- ***************************************************
					-- EXECUTA A PROCEDURE QUE VAI INSERIR OS FILHOS
					-- ***************************************************
					EXEC SP_GRAVA_PEDIDO_ITEM_FILHO
						@p_numeroPedido,			--@NM_PEDIDO			numeric(18, 0),
						@p_numeroPedidoItem,		--@NM_PEDIDO_ITEM		numeric(18, 0),
						@v_codigoProdutoVenda,		--@CD_PRODUTO_VENDA	numeric(18, 0),
			
						@p_codigoErro		output,
						@p_descricaoErro	output,
						@p_linhasAfetadas	output


				/*
					**********************************************************************
					COMENTADO ESSE TRECHO POR ANDERSON - DIA 28/07/2017
					AQUI ESTAVA DANDO PROBLEMA POIS AO ATUALIZAR OS FILHOS DO KIT AO INVES DE COLOCAR OS ITENS DE COMPONENTE
					ESTAVA COLOCANDO A QUANTIDADE DO PAI
					**********************************************************************


					SET @CURSOR_ITENS_KIT = CURSOR FAST_FORWARD
					FOR
			
						SELECT VL_COMISSAO_CN / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
							   VL_CREDITO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
							   VL_CUSTO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
							   VL_IMPOSTO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
							   VL_LIQUIDO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
							   VL_PAGAR_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
							   VL_PRATICADO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
							   VL_TABELA_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
							   NM_PEDIDO_ITEM
						FROM TB_PEDIDO_ITEM WHERE NM_PEDIDO = @p_numeroPedido
						and NM_PEDIDO_ITEM_CONJUNTO = @p_numeroPedidoItem
										
					OPEN @CURSOR_ITENS_KIT
					FETCH NEXT FROM @CURSOR_ITENS_KIT
					INTO @v_valorComissaoUnitario, @v_valorCreditoUnitario, @v_valorCustoUnitario, @v_valorImpostoUnitario, @v_valorLiquidoUnitario,
						 @v_valorPagarUnitario, @v_valorPraticadoUnitario, @v_valorTabelaUnitario, @v_numeroPedidoItemKit
						 
					WHILE @@FETCH_STATUS = 0
						BEGIN
							UPDATE TB_PEDIDO_ITEM SET QT_PEDIDA = @p_qtdeSolicitada,
									  QT_RESERVADA = @p_qtdeSolicitada,
									  VL_TABELA_TOTAL = @v_valorTabelaUnitario * @p_qtdeSolicitada,
									  VL_PRATICADO_TOTAL = @v_valorPraticadoUnitario * @p_qtdeSolicitada,
									  VL_PAGAR_TOTAL = @v_valorPagarUnitario * @p_qtdeSolicitada,
									  VL_LIQUIDO_TOTAL = @v_valorLiquidoUnitario * @p_qtdeSolicitada,
									  VL_IMPOSTO_TOTAL = @v_valorImpostoUnitario * @p_qtdeSolicitada,
									  VL_CUSTO_TOTAL = @v_valorCustoUnitario * @p_qtdeSolicitada,
									  VL_CREDITO_TOTAL = @v_valorCreditoUnitario * @p_qtdeSolicitada,
									  VL_COMISSAO_CN = @v_valorComissaoUnitario * @p_qtdeSolicitada
							WHERE NM_PEDIDO_ITEM = @v_numeroPedidoItemKit
						
							FETCH NEXT FROM @CURSOR_ITENS_KIT
							INTO @v_valorComissaoUnitario, @v_valorCreditoUnitario, @v_valorCustoUnitario, @v_valorImpostoUnitario, @v_valorLiquidoUnitario,
								 @v_valorPagarUnitario, @v_valorPraticadoUnitario, @v_valorTabelaUnitario, @v_numeroPedidoItemKit
						END

				*/
					
				END
									  
		END
		
	IF @v_qtdeReservadaAtual < @p_qtdeSolicitada
		BEGIN
			--A QUANTIDADE SOLICITADA É MAIOR, VAMOS BAIXAR A QUANTIDADE ATUAL E EMPENHAR A NOVA QUANTIDADE E ATUALIZAR O ITEM NA TABELA
					
			EXEC dbo.SP_BAIXA_MATERIAL
						@p_numeroPedido,
						@v_codigoProdutoVenda,
						@v_codigoMaterialVenda,
						@v_qtdeReservadaAtual,
						@p_codigoUsuario,
						1, -- TIPO_EMEPNHO (cancelamento de pedido)
						0, -- CD_MATERIAL
						0, -- CD_EST_SITUACAO
						0, -- QT_RESERVADA
						0, -- VL_REPOSICAO
						0, -- VL_CUSTO_MEDIO
						0, -- CD_COTA_PRODUTO_ESTRUTURA
						0, -- CD_COTA_PRODUTO_PESSOA
						@p_codigoErro OUTPUT,
						@p_descricaoErro OUTPUT,
						@p_linhasAfetadas OUTPUT


			UPDATE TB_PEDIDO_ITEM SET QT_PEDIDA = 0,
								  QT_RESERVADA = 0,
								  VL_TABELA_TOTAL = 0,
								  VL_PRATICADO_TOTAL = 0,
								  VL_PAGAR_TOTAL = 0,
								  VL_LIQUIDO_TOTAL = 0,
								  VL_IMPOSTO_TOTAL = 0,
								  VL_CUSTO_TOTAL = 0,
								  VL_CREDITO_TOTAL = 0,
								  VL_COMISSAO_CN = 0,
								  VL_PONTOS = 0
			WHERE NM_PEDIDO_ITEM = @p_numeroPedidoItem

						
			EXEC dbo.SP_BAIXA_MATERIAL
						@p_numeroPedido,
						@v_codigoProdutoVenda,
						@v_codigoMaterialVenda,
						@p_qtdeSolicitada,
						@p_codigoUsuario,
						0, -- TIPO_EMEPNHO (empenho de item)
						0, -- CD_MATERIAL
						@v_codigoSituacaoItem OUTPUT, -- CD_EST_SITUACAO
						@v_qtdeDiferenca OUTPUT, -- QT_RESERVADA
						0, -- VL_REPOSICAO
						0, -- VL_CUSTO_MEDIO
						0, -- CD_COTA_PRODUTO_ESTRUTURA
						0, -- CD_COTA_PRODUTO_PESSOA
						@p_codigoErro OUTPUT,
						@p_descricaoErro OUTPUT,
						@p_linhasAfetadas OUTPUT
						
			IF @p_codigoErro = 0
				BEGIN
					UPDATE TB_PEDIDO_ITEM SET QT_PEDIDA = @p_qtdeSolicitada,
								  QT_RESERVADA = @v_qtdeDiferenca,
								  CD_EST_SITUACAO = @v_codigoSituacaoItem,
								  VL_TABELA_TOTAL = @v_valorTabelaUnitario * @v_qtdeDiferenca,
								  VL_PRATICADO_TOTAL = @v_valorPraticadoUnitario * @v_qtdeDiferenca,
								  VL_PAGAR_TOTAL = @v_valorPagarUnitario * @v_qtdeDiferenca,
--								  VL_LIQUIDO_TOTAL = @v_valorLiquidoUnitario * @v_qtdeDiferenca,
								  VL_LIQUIDO_TOTAL = @v_valorPraticadoUnitario * @v_qtdeDiferenca,
								  VL_IMPOSTO_TOTAL = @v_valorImpostoUnitario * @v_qtdeDiferenca,
								  VL_CUSTO_TOTAL = @v_valorCustoUnitario * @v_qtdeDiferenca,
								  VL_CREDITO_TOTAL = @v_valorCreditoUnitario * @v_qtdeDiferenca,
								  VL_COMISSAO_CN = @v_valorComissaoUnitario * @v_qtdeDiferenca,
								  VL_PONTOS = @v_valorPontosUnitario * @v_qtdeDiferenca
					WHERE NM_PEDIDO_ITEM = @p_numeroPedidoItem
					
					--VERIFICA SE É UM KIT CASO SEJA É PRECISO ATUALIZAR O VALOR DOS COMPONENTES
					IF @v_idAgrupamento = 2
						BEGIN

							
							-- ***************************************************
							-- PRIMEIRO VAMOS EXCLUIR OS ITENS
							-- ***************************************************
							DELETE FROM TB_PEDIDO_ITEM
							WHERE NM_PEDIDO_ITEM_CONJUNTO = @p_numeroPedidoItem
							AND NM_PEDIDO = @p_numeroPedido

							-- ***************************************************
							-- EXECUTA A PROCEDURE QUE VAI INSERIR OS FILHOS
							-- ***************************************************
							EXEC SP_GRAVA_PEDIDO_ITEM_FILHO
								@p_numeroPedido,			--@NM_PEDIDO			numeric(18, 0),
								@p_numeroPedidoItem,		--@NM_PEDIDO_ITEM		numeric(18, 0),
								@v_codigoProdutoVenda,		--@CD_PRODUTO_VENDA	numeric(18, 0),
			
								@p_codigoErro		output,
								@p_descricaoErro	output,
								@p_linhasAfetadas	output



							/*

							**********************************************************************
							COMENTADO ESSE TRECHO POR ANDERSON - DIA 28/07/2017
							AQUI ESTAVA DANDO PROBLEMA POIS AO ATUALIZAR OS FILHOS DO KIT AO INVES DE COLOCAR OS ITENS DE COMPONENTE
							ESTAVA COLOCANDO A QUANTIDADE DO PAI
							**********************************************************************

							SET @CURSOR_ITENS_KIT = CURSOR FAST_FORWARD
							FOR
					
								SELECT VL_COMISSAO_CN / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
									   VL_CREDITO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
									   VL_CUSTO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
									   VL_IMPOSTO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
									   VL_LIQUIDO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
									   VL_PAGAR_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
									   VL_PRATICADO_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
									   VL_TABELA_TOTAL / (CASE QT_RESERVADA WHEN 0 THEN 1 ELSE QT_RESERVADA END),
									   NM_PEDIDO_ITEM
								FROM TB_PEDIDO_ITEM WHERE NM_PEDIDO = @p_numeroPedido
								and NM_PEDIDO_ITEM_CONJUNTO = @p_numeroPedidoItem
												
							OPEN @CURSOR_ITENS_KIT
							FETCH NEXT FROM @CURSOR_ITENS_KIT
							INTO @v_valorComissaoUnitario, @v_valorCreditoUnitario, @v_valorCustoUnitario, @v_valorImpostoUnitario, @v_valorLiquidoUnitario,
								 @v_valorPagarUnitario, @v_valorPraticadoUnitario, @v_valorTabelaUnitario, @v_numeroPedidoItemKit
								 
							WHILE @@FETCH_STATUS = 0
								BEGIN
									UPDATE TB_PEDIDO_ITEM SET QT_PEDIDA = @p_qtdeSolicitada,
											  QT_RESERVADA = @v_qtdeDiferenca,
											  CD_EST_SITUACAO = @v_codigoSituacaoItem,
											  VL_TABELA_TOTAL = @v_valorTabelaUnitario * @v_qtdeDiferenca,
											  VL_PRATICADO_TOTAL = @v_valorPraticadoUnitario * @v_qtdeDiferenca,
											  VL_PAGAR_TOTAL = @v_valorPagarUnitario * @v_qtdeDiferenca,
											  VL_LIQUIDO_TOTAL = @v_valorLiquidoUnitario * @v_qtdeDiferenca,
											  VL_IMPOSTO_TOTAL = @v_valorImpostoUnitario * @v_qtdeDiferenca,
											  VL_CUSTO_TOTAL = @v_valorCustoUnitario * @v_qtdeDiferenca,
											  VL_CREDITO_TOTAL = @v_valorCreditoUnitario * @v_qtdeDiferenca,
											  VL_COMISSAO_CN = @v_valorComissaoUnitario * @v_qtdeDiferenca
									WHERE NM_PEDIDO_ITEM = @v_numeroPedidoItemKit
								
									FETCH NEXT FROM @CURSOR_ITENS_KIT
									INTO @v_valorComissaoUnitario, @v_valorCreditoUnitario, @v_valorCustoUnitario, @v_valorImpostoUnitario, @v_valorLiquidoUnitario,
										 @v_valorPagarUnitario, @v_valorPraticadoUnitario, @v_valorTabelaUnitario, @v_numeroPedidoItemKit
								END
							
							*/
						END
					
				END
						
		END
	
END TRY	

BEGIN CATCH
	-- Whoops, there was an error
    SELECT @p_codigoErro = 2
    SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
