SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PromocaoInserePromocaoQuaseConquistadaItem]
	@p_nmPedido						NUMERIC(18,0),
	@p_codigoPromocao				NUMERIC(18, 0),
	@p_idTipoRequisito				INT,
	@p_codigoTipoRequisito			NUMERIC(18, 0),
	@p_nmValorRequisito				NUMERIC(18,0),
	@p_cdMaterialRequisito			NUMERIC(18,0),

	@p_descAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT
AS


BEGIN TRY

		IF @p_descAcao = 'I'
			BEGIN

					INSERT TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA_ITEM 
							(NM_PEDIDO,
							 CD_PROMOCAO,
							 ID_TIPO_REQUISITO,
							 CD_TIPO_REQUISITO,
							 NM_VALOR_REQUISITO,
							 CD_MATERIAL_REQUISITO)
					VALUES	(@p_nmPedido,
							 @p_codigoPromocao,
							 @p_idTipoRequisito,
							 @p_codigoTipoRequisito,
							 @p_nmValorRequisito,
							 @p_cdMaterialRequisito)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT

			END	
		
		IF @p_descAcao = 'A'
			BEGIN
			
				UPDATE TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA_ITEM
				SET ID_TIPO_REQUISITO = @p_idTipoRequisito,
					CD_TIPO_REQUISITO = @p_codigoTipoRequisito,
					NM_VALOR_REQUISITO = @p_nmValorRequisito,
					CD_MATERIAL_REQUISITO = @p_cdMaterialRequisito
				WHERE CD_PROMOCAO = @p_codigoPromocao
				 and NM_PEDIDO = @p_nmPedido
						
				SELECT @p_codigoErro = 0
			
			END

		IF @p_descAcao = 'E'
			BEGIN
				
				DELETE FROM TB_PEDIDO_PROMOCAO_QUASE_CONQUISTADA_ITEM 
				 WHERE CD_PROMOCAO = @p_codigoPromocao	
				   and NM_PEDIDO = @p_nmPedido					

						SELECT @p_codigoErro = 0	
				
			END
			
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
