SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_ProdutoInsereProdutoVenda]
	@p_codigoProdutoVenda		numeric(18,0),
	@p_codigoProdutoVendaExterno varchar(80),
	@p_descProdutoVenda			varchar(80),
	@p_idAgrupamento			int,
	@p_idTipoProduto			int,
	@p_descBreveDescricao		varchar(8000),
	@p_descEspecificacoes		varchar(8000),
	@p_descUrlVideo1			varchar(240),
	@p_descUrlVideo2			varchar(240),
	@p_descUrlVideo3			varchar(240),
	@p_idGeraBonus				int,
	@p_idGeraGraduacao			int,
	@p_idGeraAtivacao			int,
	@p_codigoMaterial			numeric(18,0),
	@p_produtoRelacionado		varchar(100),
	@p_nmCicloLancamento		numeric(18,0),
	@p_nmCicloDescontinuacao	numeric(18,0),
    @p_cd_codigo_agrupador		numeric(18,0),
	@p_idDisponivelLojaVirtual	int,
	@p_idProdDestaque			int,
	@p_idProdutoGeraCredito		int,
	@p_valorSaldoFavor			numeric(18,2),
	@p_idVigenciaAssinatura		INT,
	@p_qtDependentesAssinatura	INT, 
	@p_descTituloPaginaWeb		varchar(80),
	@p_descDescricaoBuscaWeb	varchar(2400),
	@p_descTagsBusca			varchar(1000),
		
	@p_codigoUsuario			NUMERIC(18,0),
	@p_idTipoFuncao				VARCHAR(1),
	
	@p_cdRetorno		INT OUTPUT,
	@p_dcErro			NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT,
	@CodigoGerado		NUMERIC(18,0) OUTPUT
AS

DECLARE @CD_CLIENTE AS NUMERIC(18,0)

BEGIN TRY
	
	SELECT @p_cdRetorno = 0
	SELECT @p_dcErro = ''
	SELECT @p_qtLinhasAfetadas = 0

	IF (@p_nmCicloDescontinuacao) = 0
		BEGIN
			SELECT @p_nmCicloDescontinuacao = NULL
		END
		
	IF @p_idTipoFuncao = 'I'
		BEGIN
			BEGIN TRANSACTION 
		
			INSERT INTO TB_PRODUTO_VENDA (
				CD_PRODUTO_VENDA_EXTERNO,
				DC_PRODUTO_VENDA,
				ID_AGRUPAMENTO,
				ID_TIPO_PRODUTO,
				CD_MATERIAL,
				NM_CICLO_LANCAMENTO,
				NM_CICLO_DESCONTINUACAO,
				DC_PALAVRA_CHAVE,
				DC_BREVE_EV,
				DC_ESPECIFICACAO_EV,
				DC_URL_VIDEO1_EV,
				DC_URL_VIDEO2_EV,
				DC_URL_VIDEO3_EV,
				ID_GERA_BONUS,
				ID_GERA_GRADUACAO,
				ID_GERA_ATIVACAO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO,
				CD_CODIGO_AGRUPADOR,
				ID_DISPONIVEL_LOJA_VIRTUAL,
				ID_DESTAQUE_LOJA_VIRTUAL,
				ID_GERA_SALDO_FAVOR,
				VL_SALDO_FAVOR,
				ID_VIGENCIA_ASSINATURA,
				QT_DEPENDENTES_ASSINATURA,
				DC_TITULO_WEB_SEO,
				DC_DESCRICAO_WEB_SEO,
				DC_TAGS_BUSCA
				)
							
						
			VALUES           (
				@p_codigoProdutoVendaExterno,
				@p_descProdutoVenda,
				@p_idAgrupamento,
				@p_idTipoProduto,
				@p_codigoMaterial,
				@p_nmCicloLancamento,
				@p_nmCicloDescontinuacao,
				@p_produtoRelacionado,
				@p_descBreveDescricao,
				@p_descEspecificacoes,
				@p_descUrlVideo1,
				@p_descUrlVideo2,
				@p_descUrlVideo3,
				@p_idGeraBonus,
				@p_idGeraGraduacao,
				@p_idGeraAtivacao,
				GETDATE(), 
				@p_codigoUsuario, 
				GETDATE(), 
				@p_codigoUsuario,
				@p_cd_codigo_agrupador,
				@p_idDisponivelLojaVirtual,
				@p_idProdDestaque,
				@p_idProdutoGeraCredito,
				@p_valorSaldoFavor,
				@p_idVigenciaAssinatura,
				@p_qtDependentesAssinatura,
				@p_descTituloPaginaWeb,
				@p_descDescricaoBuscaWeb,
				@p_descTagsBusca
					)
						
			COMMIT TRANSACTION

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			SELECT @CodigoGerado = IDENT_CURRENT('TB_PRODUTO_VENDA')
		END	
			
	IF @p_idTipoFuncao = 'A'
		BEGIN
			BEGIN TRANSACTION 
		
			UPDATE TB_PRODUTO_VENDA SET
				CD_PRODUTO_VENDA_EXTERNO = @p_codigoProdutoVendaExterno,
				DC_PRODUTO_VENDA = @p_descProdutoVenda,
				ID_AGRUPAMENTO = @p_idAgrupamento,
				ID_TIPO_PRODUTO = @p_idTipoProduto,
				CD_MATERIAL = CASE WHEN (@p_idAgrupamento = 2) THEN 0 ELSE  @p_codigoMaterial END,
				NM_CICLO_LANCAMENTO = @p_nmCicloLancamento,
				NM_CICLO_DESCONTINUACAO = @p_nmCicloDescontinuacao,
				DC_BREVE_EV = @p_descBreveDescricao,
				DC_ESPECIFICACAO_EV = @p_descEspecificacoes,
				DC_URL_VIDEO1_EV = @p_descUrlVideo1,
				DC_URL_VIDEO2_EV = @p_descUrlVideo2,
				DC_URL_VIDEO3_EV = @p_descUrlVideo3,
				DC_PALAVRA_CHAVE = @p_produtoRelacionado,
				ID_GERA_BONUS = @p_idGeraBonus,
				ID_GERA_GRADUACAO = @p_idGeraGraduacao,
				ID_GERA_ATIVACAO = @p_idGeraAtivacao,
				DT_ATUALIZACAO = GETDATE(),
				CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
				CD_CODIGO_AGRUPADOR = @p_cd_codigo_agrupador,
				ID_DISPONIVEL_LOJA_VIRTUAL = @p_idDisponivelLojaVirtual,
				ID_DESTAQUE_LOJA_VIRTUAL = @p_idProdDestaque,
				ID_GERA_SALDO_FAVOR = @p_idProdutoGeraCredito,
				VL_SALDO_FAVOR = @p_valorSaldoFavor,
				ID_VIGENCIA_ASSINATURA = @p_idVigenciaAssinatura,					
				QT_DEPENDENTES_ASSINATURA = @p_qtDependentesAssinatura,
				DC_TITULO_WEB_SEO = @p_descTituloPaginaWeb,
				DC_DESCRICAO_WEB_SEO = @p_descDescricaoBuscaWeb,
				DC_TAGS_BUSCA = @p_descTagsBusca
			WHERE CD_PRODUTO_VENDA = @p_codigoProdutoVenda 						

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END
				
	IF @p_idTipoFuncao = 'E'
		BEGIN
			BEGIN TRANSACTION 
		
			DELETE FROM TB_PRODUTO_VENDA 
			WHERE CD_PRODUTO_VENDA = @p_codigoProdutoVenda 
							
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
			COMMIT TRANSACTION
		END	

	-- *****************************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 26/11/2025
	-- CENARIO: NA CACAU RECEBEMOS OS PRODUTOS VIA INTEGRAÇÃO E QUANDO SÃO PRODUTOS
	-- NOVOS PRECISA ESTAR DE FORMA AUTOMATIVA NA EST PRODUTO
	-- CASO CONTRARIO TEREMOS PROBLEMAS NA CAPTAÇÃO
	-- E O CHAT É ACIONADO E INSERE O PRODUTO DE FORMA MANUAL
	-- *****************************************************************************************

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	select @CD_CLIENTE = vl_parametro 
	from TB_valor_PARAMETRO  with (NOLOCK)
	where CD_GRUPO_PARAMETRO = 6
	and CD_PARAMETRO = 1
	and CD_VALOR_PARAMETRO  =1

	-- CACAU SHOW
	IF @CD_CLIENTE = 61
		BEGIN

			IF @p_idTipoFuncao = 'I'
				BEGIN
					INSERT INTO TB_PRODUTO_VENDA_ESTRUTURA (CD_PRODUTO_VENDA, 
												CD_EST_PRODUTO, 
												DT_CADASTRO, 
												CD_USUARIO_CADASTRO)
					VALUES (@CodigoGerado, 148, GETDATE(), -1)
				END

			IF @p_idTipoFuncao = 'A'
				BEGIN
					-- BOLSA NÃO DEVEMOS COLOCAR NA ESTRUTURA
					IF @p_codigoProdutoVenda NOT IN (3784)
						BEGIN
							-- **************************************
							-- PRIMEIRO VAMOS DELETAR
							-- **************************************
							DELETE FROM TB_PRODUTO_VENDA_ESTRUTURA
							WHERE CD_PRODUTO_VENDA = @p_codigoProdutoVenda
							AND CD_EST_PRODUTO = 148
					
							INSERT INTO TB_PRODUTO_VENDA_ESTRUTURA (CD_PRODUTO_VENDA, 
														CD_EST_PRODUTO, 
														DT_CADASTRO, 
														CD_USUARIO_CADASTRO)
							VALUES (@p_codigoProdutoVenda, 148, GETDATE(), -1)
						END
					
				END
			
		END
	
	SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
