SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_ProdutoInsereAlertaEstoque]

@p_codigoAlertaEstoque		    numeric(18,0),
@p_codigoCD						numeric(18,0),
@p_codigoPessoa					numeric(18,0),
@p_descricaoEmail				varchar(80),
@p_codigoProduto				numeric(18,0),
@p_codigoMaterial				numeric(18,0),
@p_codigoSituacaoAlertaEstoque  numeric(18,0),

@p_idTipoFuncao                 VARCHAR(1),

@p_cdRetorno                    INT OUTPUT,
@p_dcErro                       NVARCHAR(MAX) OUTPUT,
@p_qtLinhasAfetadas             INT OUTPUT	

AS

--VARIÁVEIS PARA ENVIO DO ALERTA A FRANQUIA
DECLARE @v_descProduto		varchar(400),
		@v_nomePessoa		varchar(500),
		@v_telefonePessoa	varchar(80),
		@v_descAssunto		varchar(100),
		@v_codigoRespCD		NUMERIC(18,0),
		@v_emailRespCD		varchar(200),
		@v_data				datetime,
		@v_codigoEnvioEmail	numeric(18,0),
		@v_nmLinha			int,
		@v_descTexto		varchar(max),
		@Cursor_Itens		cursor,
		@QTD_REGISTROS		INT,
		@v_dcCodigoProdutoExterno	VARCHAR(100)

BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
	
		-- *******************************************************************
		-- PRECISAMOS BUSCAR O CODIGO DE PRODUTO EXTERNO
		-- *******************************************************************
		
		SELECT @v_dcCodigoProdutoExterno = CD_PRODUTO_VENDA_EXTERNO 
		FROM TB_PRODUTO_VENDA
		WHERE CD_PRODUTO_VENDA = @p_codigoProduto	
	
		IF @p_idTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO TB_PRODUTO_VENDA_ALERTA_ESTOQUE  (
				    DT_CADASTRO,
					DT_ENVIO,
					CD_CENTRO_DISTRIBUICAO,
					CD_PESSOA,
					DC_EMAIL,
					CD_PRODUTO_VENDA,
					CD_MATERIAL,
					ID_SITUACAO_ALERTA_ESTOQUE)
							
						
				VALUES           (
					GETDATE(),
					NULL,
					@p_codigoCD,
					@p_codigoPessoa,
					@p_descricaoEmail,
					@p_codigoProduto,
					@p_codigoMaterial,
					@p_codigoSituacaoAlertaEstoque)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
				
				--Vamos enviar um e-mail avisando a franquia sobre a indisponibilidade do item
				--select @v_descAssunto = 'Alerta Produto ' + convert(varchar(18),@p_codigoProduto) + ' Indisponível',
				--	   @v_data = GETDATE()
				
				select @v_descAssunto = 'Alerta Produto ' + convert(varchar(18),@v_dcCodigoProdutoExterno) + ' Indisponível',
					   @v_data = GETDATE()
					   

				-- **************************************************************************************
				-- ALTERAÇÃO FEITA POR ANDERSON - 19/10/2021
				-- ESSE PROCESSO ESTAVA NECESSITANDO DE VARIOS AJUSTES
				-- PRIMEIRO - TEMOS QUE VERIFICAR SE EXISTE O REGISTRO COM EVENTO 18
				-- CASO NÃO EXISTA - NÃO IREMOS GRAVAR O ENIO DE EMAIL
				-- O OUTRO PONTO É QUE A LOJA NÃO ESTA TRATANDO O CD E DESSA MANEIRA ESTA VINDO CD 0
				-- SE FOR CD = 0 VAMOS BUSCAR O PRIMEIRO CD ATIVO
				-- CASO CONTRARIO VAMOS BUSCAR O EMAIL DO CD ENVIADO
				-- **************************************************************************************
				 
				 IF @p_codigoCD = 0
					BEGIN
					-- SE FOR ZERO PEGA O MINIMO CD
						SELECT @p_codigoCD = MIN(CD_CENTRO_DISTRIBUICAO)
						FROM TB_CENTRO_DISTRIBUICAO
						WHERE ID_SITUACAO = 1
					END
				 
				SELECT @v_codigoRespCD = CD_PESSOA_RESPONSAVEL,
					   @v_emailRespCD = dbo.FN_BUSCA_EMAIL_PESSOA(CD_PESSOA_RESPONSAVEL,1)
				  FROM TB_CENTRO_DISTRIBUICAO
				 WHERE CD_CENTRO_DISTRIBUICAO = @p_codigoCD

				SELECT @QTD_REGISTROS = COUNT(*) FROM TB_EMAIL
				WHERE ID_TIPO_EMAIL_EVENTO = 18


				IF @QTD_REGISTROS > 0
					BEGIN
						
						EXEC pr_EmailInsereEnvioEmail
							0,							--@p_cd_envio_email			  numeric(18,0),
							18,							--@p_cd_email                 numeric(18,0),
							@v_data,					--@p_dt_geracao_email         datetime ,
							NULL,						--@p_dt_envio_email           datetime,
							1,							--@p_id_situacao_envio_email  numeric(18,0),
							@v_codigoRespCD,			--@p_cd_pessoa_destinatario   numeric(18,0),
							@v_emailRespCD,				--@p_dc_email_destinatario    varchar(max),
							@v_descAssunto,				--@p_dc_assunto_email         varchar(max),
							'',							--@p_dc_erro                  varchar(max),

							'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
							@v_codigoEnvioEmail OUTPUT,
							@p_cdRetorno		OUTPUT,
							@p_dcErro			OUTPUT,
							@p_qtLinhasAfetadas	OUTPUT

						--vamos buscar o PF_NOME
						SELECT @v_nomePessoa = DBO.FN_BUSCA_NOME_PESSOA(@p_codigoPessoa),
								@v_telefonePessoa = isnull(dbo.FN_BUSCA_TELEFONE_PESSOA(@p_codigoPessoa,3),'') + ' / ' + isnull(dbo.FN_BUSCA_TELEFONE_PESSOA(@p_codigoPessoa,1),'')
					   
						SELECT @v_descProduto = DC_PRODUTO_VENDA
						FROM TB_PRODUTO_VENDA
						WHERE CD_PRODUTO_VENDA = @p_codigoProduto

									
						SET @Cursor_Itens = CURSOR FAST_FORWARD
						FOR

							SELECT	NM_LINHA, 
									DC_TEXTO
							FROM TB_EMAIL_TEXTO WHERE CD_EMAIL = (select cd_email from tb_email where id_tipo_email_evento = 18) 
							ORDER BY NM_LINHA ASC
				
						OPEN @Cursor_Itens
						FETCH NEXT FROM @Cursor_Itens
						INTO @v_nmLinha, @v_descTexto
				
						WHILE @@FETCH_STATUS = 0
							BEGIN

								--print @v_descTexto
							
								SELECT @v_descTexto = isnull(REPLACE(@v_descTexto,'#Produto#',CONVERT(varchar(400), @v_descProduto)),'')
								--print @v_descProduto
								SELECT @v_descTexto = isnull(REPLACE(@v_descTexto,'#NOME#',CONVERT(varchar(500), @v_nomePessoa)),'')
								--print @v_nomePessoa
								SELECT @v_descTexto = isnull(REPLACE(@v_descTexto,'#EMAIL#',CONVERT(varchar(80), @p_descricaoEmail)),'')
								--print @p_descricaoEmail
								SELECT @v_descTexto = isnull(REPLACE(@v_descTexto,'#TELEFONE#',CONVERT(varchar(80), @v_telefonePessoa)),'')
								--print @v_telefonePessoa
								SELECT @v_descTexto = isnull(REPLACE(@v_descTexto,'#DATA#',CONVERT(varchar(50), @v_data,103)),'')
								--print @v_data
							
								--print @v_descTexto
														
								EXEC pr_EmailInsereEnvioEmailTexto 
									@v_codigoEnvioEmail,
									@v_nmLinha,
									@v_descTexto,
									'I',
									@p_cdRetorno	    OUTPUT,
									@p_dcErro			OUTPUT,
									@p_qtLinhasAfetadas	OUTPUT
								

								FETCH NEXT FROM @Cursor_Itens
								INTO	@v_nmLinha, @v_descTexto
							END

					END
				 
			END	

		IF @p_idTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_PRODUTO_VENDA_ALERTA_ESTOQUE 
				WHERE CD_PRODUTO_VENDA_ALERTA_ESTOQUE = @p_codigoAlertaEstoque
							
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
