SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ProdutoVendaInsereComentarios]
	@p_cdProdutoVendaCometarios 	NUMERIC(18),
	@p_cdProdutoVenda				NUMERIC(18),
	@p_cdPessoa						NUMERIC(18),
	@p_dcPessoa						VARCHAR(50),
	@p_dcEmail						VARCHAR(100),
	@p_vlRating						NUMERIC(2,1),
	@p_dcComentario					VARCHAR(300),
	@p_idSituacaoComentario			NUMERIC(18),
	@p_dcMotivo						VARCHAR(500),
	@p_usuario						NUMERIC(18),
		
	@p_descricaoTipoFuncao			VARCHAR(1),
		
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	
AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
					
					INSERT INTO TB_PRODUTO_VENDA_COMENTARIOS(
					CD_PRODUTO_VENDA,
					CD_PESSOA,
					DC_PESSOA,
					DC_EMAIL,
					VL_RATING,
					DC_COMENTARIO,
					DT_CADASTRO,
					ID_SITUACAO_AVALIACAO)
						
					VALUES (
					@p_cdProdutoVenda,
					@p_cdPessoa,
					@p_dcPessoa,
					@p_dcEmail,
					@p_vlRating,
					@p_dcComentario,
					GETDATE(),
					@p_idSituacaoComentario
					)
				
			END
									
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
			
		IF @p_descricaoTipoFuncao = 'A'
			BEGIN
							

					update TB_PRODUTO_VENDA_COMENTARIOS set
					ID_SITUACAO_AVALIACAO = @p_idSituacaoComentario,
					DC_MOTIVO = @p_dcMotivo,
					DT_DECISAO = GETDATE(),
					CD_USUARIO_DECISAO = @p_usuario
					where CD_PRODUTO_VENDA_COMENTARIOS = @p_cdProdutoVendaCometarios
							
					SELECT @p_linhasAfetadas = @@ROWCOUNT			    
				
			END

		IF @p_descricaoTipoFuncao = 'E'
			BEGIN							
				 
					DELETE FROM TB_PRODUTO_VENDA_COMENTARIOS 
					WHERE CD_PRODUTO_VENDA_COMENTARIOS = @p_cdProdutoVendaCometarios
				
					SELECT @p_linhasAfetadas = @@ROWCOUNT				
				
			END	  					
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
