SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GRAVA_PEDIDO_ITEM]
	@NM_PEDIDO numeric(18, 0),
	@CD_PRODUTO_VENDA numeric(18, 0),
	@CD_MATERIAL numeric(18, 0),
	@ID_ORIGEM_ITEM_PEDIDO int,
	@CD_ORIGEM_ITEM_PEDIDO numeric(18, 0),
	@ID_PRODUTO_COBRADO int,
	@ID_TIPO_PRODUTO int,
	@ID_AGRUPAMENTO int,
	@CD_EST_SITUACAO numeric(18, 0),
	@CD_COTA_PRODUTO_ESTRUTURA NUMERIC(18,0),
	@CD_COTA_PRODUTO_PESSOA NUMERIC(18,0),
	@QT_PEDIDA numeric(5, 0),
	@QT_RESERVADA numeric(5, 0),
	@VL_CREDITO_TOTAL numeric(18, 2),
	@VL_TABELA_TOTAL numeric(18, 2),
	@VL_PRATICADO_TOTAL numeric(18, 2),
	@VL_LIQUIDO_TOTAL numeric(18, 2),
	@VL_IMPOSTO_TOTAL numeric(18, 2),
	@VL_COMISSAO_CN numeric(18, 2),
	@VL_PAGAR_TOTAL numeric(18, 2),
	@VL_CUSTO_TOTAL numeric(18, 2),
	@ID_TIPO_FUNCAO varchar(1),
	@NM_PEDIDO_ITEM_CONJUNTO numeric(18, 0),
	@ID_GERA_BONUS INT,
	@ID_GERA_GRADUACAO INT,
	@ID_GERA_ATIVACAO INT,
	@ID_ENTREGA_PRESENTE INT,
	@VL_PONTOS_TOTAL numeric(18,2),
		
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@NM_PEDIDO_ITEM NUMERIC(18,0) OUTPUT
	
AS


DECLARE @V_AGRUPAMENTO AS INT
DECLARE @V_NM_ITEM_PEDIDO_PAI AS NUMERIC(18,0),
	@v_nmPedidoItemExcluido as numeric(18,0),
	@V_VL_PARAMETRO   NUMERIC(18,2),
	@v_idBaseValorCreditoPedido						int

BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0

		DECLARE @ID_GERA_SALDO_FAVOR INT
		DECLARE @VL_SALDO_FAVOR		 NUMERIC(18,2)

		--  VAMOS BUSCAR O ID GERA SALDO A FAVOR E O VALOR SALDO A FAVOR DO PRODUTO
		SELECT @ID_GERA_SALDO_FAVOR	= ISNULL(ID_GERA_SALDO_FAVOR,0),
			   @VL_SALDO_FAVOR      = ISNULL(VL_SALDO_FAVOR,0)
		FROM    TB_PRODUTO_VENDA
		WHERE   CD_PRODUTO_VENDA    = @CD_PRODUTO_VENDA


		-- SE O @ID_GERA_SALDO_FAVOR FOR IGUAL A 1 QUER DIZER QUE NÃO IRÁ GERAR SALDO A FAVOR
		IF @ID_GERA_SALDO_FAVOR = 1 
			BEGIN 
				SELECT @VL_SALDO_FAVOR = 0
			END 

		-- SE O @ID_GERA_SALDO_FAVOR FOR IGUAL A 2 QUER DIZER QUE IRÁ SER GERADO UM SALDO A FAVOR COM O MESMO VALOR DO @VL_PAGAR_TOTAL
		IF @ID_GERA_SALDO_FAVOR = 2 
			BEGIN 
				SELECT @VL_SALDO_FAVOR = @VL_PAGAR_TOTAL
			END 

		-- SE O @ID_GERA_SALDO_FAVOR FOR IGUAL A 3 QUER DIZER QUE IRÁ SER GERADO UM SALDO A FAVOR COM UM VALOR ESPECIFICO DEFINIDO NO CADASTRO DO PRODUTO
		IF @ID_GERA_SALDO_FAVOR = 3 
			BEGIN 
				SELECT @VL_SALDO_FAVOR = @VL_SALDO_FAVOR * @QT_RESERVADA
			END 

		-- VAMOS VERIFICAR SE O PRODUTO PERTENCE A UM KIT E SE É O UM FILHO DESSE KIT
		IF @ID_AGRUPAMENTO = 2 AND @NM_PEDIDO_ITEM_CONJUNTO <> 0
			BEGIN 
				SELECT @ID_GERA_SALDO_FAVOR = 0
				SELECT @VL_SALDO_FAVOR = 0
			END 


		-- APLICA A REGRA DE FATOR DE CALCULO DOS PONTOS MMN, VL_PONTOS........INICIO...........ALDIR
		-- SE TIVER PONTO NEM ENTRA NA VALIDAÇÃO DO FATOR
		IF (ISNULL(@VL_PONTOS_TOTAL,0) = 0) 
			BEGIN
				IF (@ID_TIPO_PRODUTO =1) -- SOMENTE PRODUTO REGULAR
					BEGIN
						-- VERIFICAR SE TEM FATOR DE CALCULO 
						SELECT @V_VL_PARAMETRO  = ISNULL(MAX(VL_PARAMETRO),0)
						FROM TB_VALOR_PARAMETRO
						WHERE CD_GRUPO_PARAMETRO = 7
						AND CD_PARAMETRO         = 25
			
						-- VERIFICAR SE TEM FATOR DE CALCULO
						IF (@V_VL_PARAMETRO > 0)
							BEGIN
								SELECT @VL_PONTOS_TOTAL = (@VL_LIQUIDO_TOTAL * @V_VL_PARAMETRO)
							END
					END
				ELSE
					BEGIN
						SELECT @VL_PONTOS_TOTAL = 0
					END
				
			END

			--Verifica o id para gravar o crédito do pedido baseado no valor 
			-- a pagar do pedido (Solicitação no bitrix 3533)
			SELECT @v_idBaseValorCreditoPedido = COM.ID_BASE_VALOR_CREDITO_PEDIDO 
			FROM TB_PEDIDO P WITH(NOLOCK),
				 TB_REGRA_COMERCIAL COM WITH(NOLOCK)
			WHERE P.NM_PEDIDO = @NM_PEDIDO
			AND P.CD_REGRA_COMERCIAL = COM.CD_REGRA_COMERCIAL

			IF @v_idBaseValorCreditoPedido = 2
			BEGIN
				select @VL_CREDITO_TOTAL = @VL_PAGAR_TOTAL
			END

		-- INICIO DA INSERÇÃO
		if (@ID_TIPO_FUNCAO='I')
			BEGIN
		
				BEGIN TRANSACTION 
		
				-- CRIA REGISTRO
				INSERT INTO TB_PEDIDO_ITEM (
						NM_PEDIDO,
						CD_PRODUTO_VENDA,
						CD_MATERIAL,
						ID_ORIGEM_ITEM_PEDIDO,
						CD_ORIGEM_ITEM_PEDIDO,
						ID_PRODUTO_COBRADO,
						ID_AGRUPAMENTO,
						ID_TIPO_PRODUTO,
						CD_EST_SITUACAO,
						QT_PEDIDA,
						QT_RESERVADA,
						VL_CREDITO_TOTAL,
						VL_TABELA_TOTAL,
						VL_PRATICADO_TOTAL,
						VL_LIQUIDO_TOTAL,
						VL_IMPOSTO_TOTAL,
						VL_COMISSAO_CN,
						VL_PAGAR_TOTAL,
						VL_CUSTO_TOTAL,
						VL_PONTOS,
						CD_COTA_PRODUTO_ESTRUTURA,
						CD_COTA_PRODUTO_PESSOA,
						NM_PEDIDO_ITEM_CONJUNTO,
						ID_GERA_BONUS,
						ID_GERA_GRADUACAO,
						ID_GERA_ATIVACAO,
						ID_ENTREGA_PRESENTE,ID_GERA_SALDO_FAVOR,VL_SALDO_FAVOR_GERAR 
						)
							
				VALUES           (
						@NM_PEDIDO,
						@CD_PRODUTO_VENDA,
						@CD_MATERIAL,
						@ID_ORIGEM_ITEM_PEDIDO,
						@CD_ORIGEM_ITEM_PEDIDO,
						@ID_PRODUTO_COBRADO,
						@ID_AGRUPAMENTO,
						@ID_TIPO_PRODUTO,
						@CD_EST_SITUACAO,
						@QT_PEDIDA,
						@QT_RESERVADA,
						@VL_CREDITO_TOTAL,
						@VL_TABELA_TOTAL,
						@VL_PRATICADO_TOTAL,
						@VL_LIQUIDO_TOTAL,
						@VL_IMPOSTO_TOTAL,
						@VL_COMISSAO_CN,
						@VL_PAGAR_TOTAL,
						@VL_CUSTO_TOTAL,
						@VL_PONTOS_TOTAL,
						@CD_COTA_PRODUTO_ESTRUTURA,
						@CD_COTA_PRODUTO_PESSOA,
						@NM_PEDIDO_ITEM_CONJUNTO,
						@ID_GERA_BONUS,
						@ID_GERA_GRADUACAO,
						@ID_GERA_ATIVACAO,
						@ID_ENTREGA_PRESENTE,@ID_GERA_SALDO_FAVOR,@VL_SALDO_FAVOR
						)
						
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @NM_PEDIDO_ITEM = IDENT_CURRENT('TB_PEDIDO_ITEM')
					
				COMMIT TRANSACTION

				-- *********************************************************************************
				-- CORREÇÃO POR DIEGO ZILIOTI EM 11/06/2018
				-- SE O ITEM INSERIDO ESTIVER SEM ESTOQUE VAMOS EXCLUIR DO PEDIDO EM SEGUIDA
				-- *********************************************************************************
				IF @QT_RESERVADA = 0
					BEGIN

						DELETE FROM TB_PEDIDO_ITEM
						WHERE NM_PEDIDO_ITEM = @NM_PEDIDO_ITEM

						IF @ID_AGRUPAMENTO = 2
							BEGIN
								-- KIT
								-- EXCLUI OS FILHOS
								DELETE FROM TB_PEDIDO_ITEM
								WHERE NM_PEDIDO_ITEM_CONJUNTO = @NM_PEDIDO_ITEM
							END

						EXEC dbo.SP_GRAVA_PEDIDO_ITEM_EXCLUIDO @NM_PEDIDO,
									@CD_PRODUTO_VENDA,
									@CD_MATERIAL,
									@ID_ORIGEM_ITEM_PEDIDO,
									@CD_ORIGEM_ITEM_PEDIDO,
									@ID_PRODUTO_COBRADO,
									@ID_TIPO_PRODUTO,
									@ID_AGRUPAMENTO,
									@CD_EST_SITUACAO,
									@CD_COTA_PRODUTO_ESTRUTURA,
									@CD_COTA_PRODUTO_PESSOA,
									@QT_PEDIDA,
									@QT_RESERVADA,
									@VL_CREDITO_TOTAL,
									@VL_TABELA_TOTAL,
									@VL_PRATICADO_TOTAL,
									@VL_LIQUIDO_TOTAL,
									@VL_IMPOSTO_TOTAL,
									@VL_COMISSAO_CN,
									@VL_PAGAR_TOTAL,
									@VL_CUSTO_TOTAL,
									'I',
									@NM_PEDIDO_ITEM_CONJUNTO,
									@ID_GERA_BONUS,
									@ID_GERA_GRADUACAO,
									@ID_GERA_ATIVACAO,
									5,
									'Estoque Insuficiente',
									@VAR_RETORNO OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT,
									@v_nmPedidoItemExcluido output

					END
			END 
			
			
			IF (@ID_TIPO_FUNCAO='E')
			
			BEGIN
		
				BEGIN TRANSACTION 
		
				-- VERIFICA O AGRUPAMENTO

				SELECT @V_AGRUPAMENTO = ID_AGRUPAMENTO,
					   @V_NM_ITEM_PEDIDO_PAI = NM_PEDIDO_ITEM
				FROM TB_PEDIDO_ITEM
				WHERE NM_PEDIDO = @NM_PEDIDO
				AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
				AND CD_MATERIAL = @CD_MATERIAL
				-- Correção bitrix #4511 - por Diego Zilioti em 15/03/2023
				-- PRECISAMOS ADICIONAR A ORIGEM PARA NÃO EXCLUIR POR ENGANO UM ITEM INCORPORADO
				AND ID_ORIGEM_ITEM_PEDIDO = @ID_ORIGEM_ITEM_PEDIDO

				IF @V_AGRUPAMENTO <> 2
					BEGIN
					
						DELETE FROM TB_PEDIDO_ITEM 
						WHERE NM_PEDIDO = @NM_PEDIDO
						AND CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA
						AND CD_MATERIAL = @CD_MATERIAL
						-- Correção bitrix #4511 - por Diego Zilioti em 15/03/2023
						-- PRECISAMOS ADICIONAR A ORIGEM PARA NÃO EXCLUIR POR ENGANO UM ITEM INCORPORADO
						AND ID_ORIGEM_ITEM_PEDIDO = @ID_ORIGEM_ITEM_PEDIDO
					END
				ELSE
					BEGIN
						-- KIT
						-- EXCLUI OS FILHOS
						DELETE FROM TB_PEDIDO_ITEM
						WHERE NM_PEDIDO_ITEM_CONJUNTO = @V_NM_ITEM_PEDIDO_PAI
						-- Correção bitrix #4511 - por Diego Zilioti em 15/03/2023
						-- PRECISAMOS ADICIONAR A ORIGEM PARA NÃO EXCLUIR POR ENGANO UM ITEM INCORPORADO
						AND ID_ORIGEM_ITEM_PEDIDO = @ID_ORIGEM_ITEM_PEDIDO

						-- EXCLUI O PAI
						DELETE FROM TB_PEDIDO_ITEM
						WHERE NM_PEDIDO_ITEM = @V_NM_ITEM_PEDIDO_PAI
						-- Correção bitrix #4511 - por Diego Zilioti em 15/03/2023
						-- PRECISAMOS ADICIONAR A ORIGEM PARA NÃO EXCLUIR POR ENGANO UM ITEM INCORPORADO
						AND ID_ORIGEM_ITEM_PEDIDO = @ID_ORIGEM_ITEM_PEDIDO
					END


						
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END 	
				
		
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
