SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_ARE]
	@NM_PEDIDO NUMERIC(18,0),
	
	/***************************************************
	ID_ORIGEM = 1 PEDIDO APROVADO
	ID_ORIGEM = 2 PEDIDO PAGO
	ID_ORIGEM = 3 CANCELAMENTO DE PEDIDO APROVADO
	ID_ORIGEM = 4 CANCELAMENTO DE PEDIDO PAGO
	****************************************************/
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE	@CD_PESSOA_PEDIDO				NUMERIC(18,0)
DECLARE @CD_FUNCAO_PESSOA_PEDIDO		NUMERIC(18,0)
DECLARE	@NM_CICLO_PEDIDO				NUMERIC(18,0)
DECLARE	@VL_PEDIDO						NUMERIC(18,2)
DECLARE	@V_CALCULA_REMUNERACAO			INT
DECLARE @EXISTE_REM						INT
DECLARE @UNIDADE						INT
DECLARE	@CD_PESSOA_VINCULADA			NUMERIC(18,0)
DECLARE	@NM_NIVEL						NUMERIC(18,0)
DECLARE	@CD_PAPEL_DESEMPENHO			NUMERIC(18,0)
DECLARE	@CD_PAPEL_DESEMPENHO_FILHO  	NUMERIC(18,0)
DECLARE	@VL_PERCENTUAL					NUMERIC(18,4)
DECLARE	@VL_REMUNERACAO					NUMERIC(18,2)
DECLARE @Cursor_Topologia				CURSOR 
DECLARE @CD_MN_REMUNERACAO				NUMERIC(18,0)
DECLARE @VL_REMUNERACAO_TOTAL			NUMERIC(18,2)
	
BEGIN TRY

    SELECT @QT_LINHAS_AFETADAS = 0
	

	/**************************************************************
	** VERIFICA SE CALCULA A REMUNERAÇÃO - A
	**************************************************************/
	SELECT @V_CALCULA_REMUNERACAO = dbo.FN_VERIFICA_CALCULA_REMUNERACAO_MN(@NM_PEDIDO)
	
	
	/**************************************************************
	** SÓ GRAVA REMUNERAÇÃO SE O RETORNO DA FUNÇÃO FOR IGUAL A 1
	**************************************************************/
	IF @V_CALCULA_REMUNERACAO = 1
		BEGIN
			
			-- BUSCA INFORMAÇÕES DO PEDIDO (CICLO E PESSOA)
			SELECT  @NM_CICLO_PEDIDO = NM_CICLO_CAPTACAO,
					@CD_PESSOA_PEDIDO = CD_PESSOA,
					@CD_FUNCAO_PESSOA_PEDIDO = CD_FUNCAO,
					@VL_PEDIDO = VL_PAGAR_TOTAL
			FROM TB_PEDIDO
			WHERE NM_PEDIDO = @NM_PEDIDO
			
			-- *************************************************								
			SELECT @CD_PAPEL_DESEMPENHO_FILHO = CD_PAPEL_DESEMPENHO
			FROM TB_PESSOA_PAPEL_HISTORICO
			WHERE CD_PESSOA = @CD_PESSOA_PEDIDO
			AND CD_FUNCAO = @CD_FUNCAO_PESSOA_PEDIDO
			AND NM_CICLO = @NM_CICLO_PEDIDO
			
			-- *************************************************
			-- CALCULA A TOPOLOGIA DE REDE
			-- *************************************************
			EXEC DBO.SP_GRAVA_COMPOSICAO_REDE 
				@CD_PESSOA_PEDIDO,
				@CD_FUNCAO_PESSOA_PEDIDO,
				@NM_CICLO_PEDIDO,
				0,
				'',
				0		
			
			-- *************************************************
			-- ABRE O CURSOR DA TOPOLOGIA
			-- POIS VAMOS USAR ESSE CURSOR PARA CALCULAR A REMUNERAÇÃO
			-- *************************************************
			SET @Cursor_Topologia = CURSOR FAST_FORWARD
			FOR
				SELECT	A.CD_PESSOA_VINCULADA,
						A.NM_NIVEL		
				FROM TB_WRK_MN_TOPOLOGIA A
				where A.CD_PESSOA = @CD_PESSOA_PEDIDO
					and A.CD_FUNCAO = @CD_FUNCAO_PESSOA_PEDIDO
					and A.NM_CICLO = @NM_CICLO_PEDIDO
					AND A.ID_ORDEM = 1
				
			
			OPEN @Cursor_Topologia
			FETCH NEXT FROM @Cursor_Topologia
			INTO @CD_PESSOA_VINCULADA, @NM_NIVEL
	

			WHILE @@FETCH_STATUS = 0
				BEGIN
							
					BEGIN TRANSACTION 

					-- *************************************************								
					-- BUSCA O PAPEL DESEMPENHO DA PESSOA VINCULADA 
					-- *************************************************
					SELECT @CD_PAPEL_DESEMPENHO = CD_PAPEL_DESEMPENHO
					FROM TB_PESSOA_PAPEL_HISTORICO
					WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
					AND CD_FUNCAO = @CD_FUNCAO_PESSOA_PEDIDO
					AND NM_CICLO = @NM_CICLO_PEDIDO
					
					
					
					-- *************************************************
					-- BUSCA O PERCENTUAL
					-- *************************************************
					SELECT	@UNIDADE = ID_UNIDADE_PREMIACAO_MN,
							@VL_PERCENTUAL = ISNULL(MIN(VL_VALOR),0)
					FROM TB_MN_PARAMETROS_REMUNERACAO 
					WHERE CD_PAPEL_DESEMPENHO = @CD_PAPEL_DESEMPENHO
					AND NM_NIVEL = @NM_NIVEL
					AND ID_TIPO_PREMIACAO_MN = 2
					AND CD_PAPEL_DESEMPENHO_FILHO = @CD_PAPEL_DESEMPENHO_FILHO
					GROUP BY ID_UNIDADE_PREMIACAO_MN
					IF @UNIDADE = NULL 
					 BEGIN
					   SELECT 1
					 END 
					ELSE
					BEGIN
					 IF @VL_PERCENTUAL <> 0 
						BEGIN
								
								IF @UNIDADE = 1
									BEGIN
										SELECT @VL_REMUNERACAO = @VL_PEDIDO * (@VL_PERCENTUAL/ 100)	
									END
								ELSE
									BEGIN
										SELECT @VL_REMUNERACAO = @VL_PERCENTUAL	
									END
								
								
								-- ***********************************************************	
								-- INSERE REMUNERAÇÃO
								-- ***********************************************************	
											SELECT @CD_PESSOA_VINCULADA, @NM_NIVEL, @CD_PAPEL_DESEMPENHO,@CD_PAPEL_DESEMPENHO_FILHO,
								       @UNIDADE, @VL_PERCENTUAL  
					
								SELECT @EXISTE_REM = COUNT(*)
								FROM TB_MN_REMUNERACAO
								WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
								AND CD_FUNCAO = @CD_FUNCAO_PESSOA_PEDIDO
								AND NM_CICLO = @NM_CICLO_PEDIDO
								AND ID_SITUACAO_REMUNERACAO = 1
								
								IF @EXISTE_REM = 0
									BEGIN
										INSERT INTO TB_MN_REMUNERACAO (
											CD_PESSOA,
											CD_FUNCAO,
											NM_CICLO,
											ID_SITUACAO_REMUNERACAO,
											VL_ORIGINAL,
											VL_AJUSTADO,
											DC_MOTIVO_AJUSTE)
										VALUES (
											@CD_PESSOA_VINCULADA,
											@CD_FUNCAO_PESSOA_PEDIDO,
											@NM_CICLO_PEDIDO,
											1,
											@VL_REMUNERACAO,
											@VL_REMUNERACAO,
											'')
											
										SELECT @CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
									
									END
								ELSE
									BEGIN
										
										UPDATE TB_MN_REMUNERACAO SET
											VL_ORIGINAL = VL_ORIGINAL + @VL_REMUNERACAO,
											VL_AJUSTADO = VL_AJUSTADO + @VL_REMUNERACAO
											
										WHERE
											CD_PESSOA = @CD_PESSOA_VINCULADA
											AND CD_FUNCAO = @CD_FUNCAO_PESSOA_PEDIDO
											AND NM_CICLO = @NM_CICLO_PEDIDO
											AND ID_SITUACAO_REMUNERACAO = 1
																				
										SELECT @CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
										FROM TB_MN_REMUNERACAO
										WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
										AND CD_FUNCAO = @CD_FUNCAO_PESSOA_PEDIDO
										AND NM_CICLO = @NM_CICLO_PEDIDO
										AND ID_SITUACAO_REMUNERACAO = 1
								
									END
								
							
								-- ****************************************
								-- INSERE DETALHE REMUNERACAO
								-- ****************************************
								INSERT INTO TB_MN_DETALHE_REMUNERACAO (
									CD_PESSOA,
									CD_FUNCAO, 
									NM_CICLO,
									ID_MOTIVO_REMUNERACAO,
									ID_TIPO_PREMIACAO_MN,
									ID_ORIGEM_PREMIACAO_MN,
									NM_ORIGEM_MN,
									VL_ORIGEM_MN,
									VL_PERCENTUAL_REM,
									VL_REMUNERACAO,
									CD_MN_REMUNERACAO)
								VALUES (
									@CD_PESSOA_VINCULADA,
									@CD_FUNCAO_PESSOA_PEDIDO,
									@NM_CICLO_PEDIDO,
									1, -- RECEITA
									2, -- PERCENTUAL SOBRE AS VENDAS
									1, -- ORIGEM PEDIDO,
									@NM_PEDIDO,
									@VL_PEDIDO,
									@VL_PERCENTUAL,
									@VL_REMUNERACAO,
									@CD_MN_REMUNERACAO)
								
								
								
								-- *************************************************
								-- RECALCULA O HEADER DA REMUENRAÇÃO
								-- *************************************************
								select @VL_REMUNERACAO_TOTAL = SUM(VL_REMUNERACAO)
								from TB_MN_DETALHE_REMUNERACAO A
								WHERE A.CD_PESSOA = @CD_PESSOA_VINCULADA
								AND A.CD_FUNCAO = @CD_FUNCAO_PESSOA_PEDIDO
								AND A.NM_CICLO = @NM_CICLO_PEDIDO
		
								UPDATE TB_MN_REMUNERACAO
								SET VL_ORIGINAL = @VL_REMUNERACAO_TOTAL,
								VL_AJUSTADO = @VL_REMUNERACAO_TOTAL
								WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
								AND CD_FUNCAO = @CD_FUNCAO_PESSOA_PEDIDO
								AND NM_CICLO = @NM_CICLO_PEDIDO
								-- *************************************************
								-- *************************************************
								
								
						END
					  ELSE
					   -- aldir (21/07)
					   -- SE NÃO ENCONTRAR O % A REMUNERAÇÃO DEVE SER ZERADA. A REGRA NÃO PAGA PARA ESTE NÍVEL
					   BEGIN
					     SELECT 2
					   END	
						
					 END -- ALDIR (21/07
					COMMIT TRANSACTION
																			
					FETCH NEXT FROM @Cursor_Topologia
					INTO @CD_PESSOA_VINCULADA, @NM_NIVEL
					
				  	
													
				END
		
				CLOSE @Cursor_Topologia
		END
		
				
		SELECT @VAR_RETORNO = 0
		
		

	
		
END TRY	
BEGIN CATCH
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   
END CATCH;



GO
