SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[pr_ApiPessoaInserePessoa]    
 @p_codigoPessoa					NUMERIC(18,0),    
 @p_idTipoPessoa					INT,    
 @p_descNome						VARCHAR(80),    
 @p_descSobrenome					VARCHAR(80),    
 @p_descRazaoSocial					VARCHAR(80),    
 @p_descNomeFantasia				VARCHAR(100),    
 @p_descHash						VARCHAR(60),  
 @p_idSexo							INT,    
 @p_dtNascimento					DATE,    
 @p_idEstadoCivil					INT,    
 @p_idEscolaridade					INT,    
 @p_idTipoAtividade					INT,    
 @p_numeroDocumento					VARCHAR(40),    
 @p_codigoPessoaExterno				VARCHAR(40),    
 @p_codigoPessoaIndicante			NUMERIC(18,0),    
    
 @p_codigoFuncao					INT,    
 @p_codigoEstruturaComercial		INT = NULL,
 @p_codigoCentroDistribuicaoExterno VARCHAR(40) = NULL,
 @p_continuacaoCadastroIncremental 	BIT = 0,
    
 @p_descAcao						VARCHAR(1),    
 @p_codigoUsuario					NUMERIC(18,0),    
    
 @p_codigoErro						INT OUTPUT,    
 @p_descErro						VARCHAR(200) OUTPUT,
 @p_descWarning						VARCHAR(1000) OUTPUT,
 @p_qtLinhasAfetadas				INT OUTPUT,    
 @Identity							NUMERIC(18,0) OUTPUT    
    
AS    
DECLARE	@v_liberaAcessoEV					INT,    
		@v_utilizaRedeBinaria				INT,    
		@v_idDirecaoRedeBinaria				INT,    
		@v_codigoPapelCarreiraBaseCF		INT,    
		@v_codigoPapelDesempenhoBaseCF		INT,    
		@v_idNecessitaFluxoAprovacao		INT,    
		@v_existeCadastro					INT,    
		@v_idPermiteCaptacaoPedidos			INT,    
		@v_codigoIndicante					NUMERIC(18,0),    
		@v_criaAlocacao						INT,    
		@v_numeroCicloAlocacaoAutomatico	NUMERIC(18,0),    
		@v_codigoEstComercialAutomatico		NUMERIC(18,0),    
		@v_existeAlocacao					INT,    
		@v_dcEmailAtual						VARCHAR(80),    
		@v_cd_situacao_cadastro				NUMERIC(18,0),    
		@v_numeroCicloAtual					NUMERIC(18,0),    
		@v_codigoSitComercial				NUMERIC(18,0),    
		@v_existeConsultora					INT,    
		@v_descHashConsultora				VARCHAR(500),    
		@v_existeConsumidor					INT,    
		@v_descHashConsumidor				VARCHAR(500),    
		@v_existeFV							INT,    
		@v_descHashFV						VARCHAR(500),    
		@v_existeColaborador				INT,    
		@v_descHashColaborador				VARCHAR(500),    
		@v_possuiIntegracaoPessoa			INT,    
		@V_POSICAO_ESPACO					INT,    
		@V_TAMANHO_NOME						INT  
    
BEGIN TRY    
         
    SELECT @p_qtLinhasAfetadas = 0    
    SELECT @p_codigoErro = 0    
	SELECT @p_descErro = ''
	SELECT @p_descWarning = ''
      
	-- VERIFICA SE LIBERA OU NÃO ACESSO AO EV NO MOMENTO DO CADASTRO DA PESSOA    
	-- FOI NECESSARIO FAZER ESSE AJUSTE POIS NO CASO DA HELLOCASH     
	-- SOMENTE VAMOS LIBERAR ACESSO AO EV APÓS A ENTRADA DO PRIMEIRO PEDIDO    
	SELECT @v_liberaAcessoEV = VL_PARAMETRO    
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)    
	 WHERE CD_GRUPO_PARAMETRO = 1    
	   AND CD_PARAMETRO = 7    
      
	SELECT @v_utilizaRedeBinaria = VL_PARAMETRO    
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)    
	 WHERE CD_GRUPO_PARAMETRO = 7    
	   AND CD_PARAMETRO = 4    
    
	--ATUALIZAÇÃO EM 19/07/2018 POR DIEGO ZILIOTI    
	--PRECISAMOS TIRAR O HARDCODE DO PAPEL PARA O CADASTRO DE CF    
	--VAMOS BUSCAR O PAPEL BASE PARA FAZER A INSERÇÃO    
	SELECT @v_codigoPapelCarreiraBaseCF = ISNULL(CD_PAPEL_CARREIRA,0)    
	  FROM TB_PAPEL_CARREIRA WITH(NOLOCK)    
	 WHERE CD_FUNCAO = 1    
	   AND NM_SEQUENCIA = 1    
	   AND ID_PRIMEIRO_NIVEL = 1    
    
	SELECT @v_codigoPapelDesempenhoBaseCF = ISNULL(CD_PAPEL_DESEMPENHO,0)    
	  FROM TB_PAPEL_DESEMPENHO WITH(NOLOCK)    
	 WHERE CD_FUNCAO = 1    
	   AND NM_SEQUENCIA = 1    
	   AND ID_PRIMEIRO_NIVEL = 1    
       
	IF @v_utilizaRedeBinaria = 1     
		BEGIN    
			IF @v_idDirecaoRedeBinaria = 0    
				BEGIN    
					SELECT @v_idDirecaoRedeBinaria = VL_PARAMETRO    
					  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)    
					 WHERE CD_GRUPO_PARAMETRO = 7    
					   AND CD_PARAMETRO = 5    
				END    
		END
	ELSE    
		BEGIN    
			SELECT @v_idDirecaoRedeBinaria = 0    
		END    
    
	-- ********************************************************************    
	-- VERIFICA PARAMETRO SE IRA REALIZAR FLUXO DE APROVAÇÃO DO CADASTRO     
	-- DA REVENDEDORA    
	-- ********************************************************************    
	SELECT @v_idNecessitaFluxoAprovacao = VL_PARAMETRO    
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)    
	 WHERE CD_GRUPO_PARAMETRO = 1    
	   AND CD_PARAMETRO = 9    
      
	IF @p_descAcao = 'I'    
		BEGIN    
			-- *****************************************************    
			-- FIM ALTERAÇÃO POR DIEGO ZILIOTI EM 04/02/2019    
			-- *****************************************************    
			IF @p_continuacaoCadastroIncremental = 0 
			BEGIN
				-- *****************************************************    
				-- ALTERAÇÃO POR DIEGO ZILIOTI EM 04/02/2019    
				-- VAMOS COLOCAR UMA VALIDAÇÃO NESTE PONTO PARA ESTANCAR O PROBLEMA DE CADASTROS DUPLICADOS    
				-- SE HOUVER ALGUM CADASTRO NA BASE COM O MESMO DOCUMENTO DESTE NOVO PARA INSERÇÃO VAMOS ABORTAR A EXECUÇÃO    
				-- *****************************************************    
				SELECT @v_existeCadastro = COUNT(*)    
				  FROM TB_PESSOA_DOCUMENTO WITH(NOLOCK)    
				 WHERE DC_DOCUMENTO = @p_numeroDocumento    
    
				IF @v_existeCadastro >= 1    
					BEGIN    
						SELECT @p_codigoErro = -1    
						SELECT @p_descErro = 'Cadastro já existente'    
						RETURN    
					END    

				BEGIN TRANSACTION     
               
					INSERT INTO TB_PESSOA     
					 (ID_TIPO_PESSOA,    
					 CD_PESSOA_INDICANTE,    
					 DT_CADASTRO,    
					 CD_USUARIO_CADASTRO,    
					 DT_ATUALIZACAO,    
					 CD_USUARIO_ATUALIZACAO,    
					 CD_SITUACAO_CADASTRO,    
					 CD_PESSOA_EXTERNO)    
					VALUES     
					 (@p_idTipoPessoa,    
					 @p_codigoPessoaIndicante,    
					 GETDATE(),    
					 @p_codigoUsuario,    
					 GETDATE(),    
					 @p_codigoUsuario,    
					 1,    
					 @p_codigoPessoaExterno) -- EM CADASTRO     

					 SELECT @p_qtLinhasAfetadas = @@ROWCOUNT    
					 SELECT @Identity = SCOPE_IDENTITY()    

					 INSERT INTO TB_PESSOA_DOCUMENTO
						(CD_PESSOA,
						ID_TIPO_DOCUMENTO,
						DC_DOCUMENTO,
						DC_ORGAO,
						DT_EMISSAO,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES
						(@Identity,
						1,
						@p_numeroDocumento,
						null,
						null,
						GETDATE(),
						@p_codigoUsuario,
						GETDATE(),
						@p_codigoUsuario)

				COMMIT TRANSACTION   
			END
			ELSE
			BEGIN
				/* CASO SE TRATE DE UM CADASTRO INCREMENTAL, O CÓDIGO DA PESSOA E O CPF JÁ ESTÃO CADASTRADOS */
				IF (@p_codigoPessoa <= 0)
				BEGIN
					SELECT @p_codigoErro = -1    
					SELECT @p_descErro = 'Código da pessoa é obrigatório para finalização do cadastro'    
					RETURN    
				END

				SET @Identity = @p_codigoPessoa
			END
          
			-- *******************************************    
			-- ABRE A SITUAÇÃO EM CADASTRO    
			-- *******************************************    
			EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
				 @Identity, -- CODIGO DA PESSOA    
				 1, -- EM CADASTRO    
				 1, -- FIM     
				 0, -- RESULTADO    
				 '', -- MOTIVO    
				 0, -- POSSUI RESTRICAO    
				 @p_codigoUsuario,
				 @p_codigoErro  OUTPUT,
				 @p_descErro OUTPUT,
				 @p_qtLinhasAfetadas  OUTPUT
    
			IF @p_idTipoPessoa = 1    
				BEGIN    
					INSERT INTO TB_PESSOA_FISICA    
					(CD_PESSOA,    
					DC_NOME,    
					DC_SOBRENOME,    
					ID_SEXO,    
					ID_ESTADO_CIVIL,    
					ID_ESCOLARIDADE,    
					DT_NASCIMENTO,    
					DT_CADASTRO,    
					CD_USUARIO_CADASTRO,    
					DT_ATUALIZACAO,    
					CD_USUARIO_ATUALIZACAO)    
					VALUES    
					(@Identity,    
					dbo.fn_CorrigirAcentuacao(@p_descNome),    
					dbo.fn_CorrigirAcentuacao(@p_descSobrenome),    
					@p_idSexo,    
					@p_idEstadoCivil,    
					@p_idEscolaridade,    
					@p_dtNascimento,    
					GETDATE(),    
					@p_codigoUsuario,    
					GETDATE(),    
					@p_codigoUsuario)    
				END    
			ELSE    
				BEGIN    
					INSERT INTO TB_PESSOA_JURIDICA    
					(CD_PESSOA,    
					DC_RAZAO_SOCIAL,    
					DC_NOME_FANTASIA,    
					ID_TIPO_ATIVIDADE,    
					DT_CADASTRO,    
					CD_USUARIO_CADASTRO,    
					DT_ATUALIZACAO,    
					CD_USUARIO_ATUALIZACAO)    
					VALUES    
					(@Identity,    
					dbo.fn_CorrigirAcentuacao(@p_descRazaoSocial),    
					dbo.fn_CorrigirAcentuacao(@p_descNomeFantasia),   
					@p_idTipoAtividade,    
					GETDATE(),    
					@p_codigoUsuario,    
					GETDATE(),    
					@p_codigoUsuario)    
				END    
        
			IF (@p_codigoFuncao = 1)    
				BEGIN    
         
					BEGIN TRANSACTION     
          
					INSERT INTO TB_PESSOA_FUNCAO    
						(CD_PESSOA,    
						CD_FUNCAO,    
						ID_SITUACAO_FUNCAO,    
						DT_INICIO,    
						DT_CADASTRO,    
						CD_USUARIO_CADASTRO,    
						DT_ATUALIZACAO,    
						CD_USUARIO_ATUALIZACAO)    
					VALUES     
						(@Identity,    
						1,    
						1,    
						convert(date,getdate()),    
						GETDATE(),    
						@p_codigoUsuario,    
						GETDATE(),    
						@p_codigoUsuario)    
          
					COMMIT TRANSACTION      
           
					SELECT @v_idPermiteCaptacaoPedidos = ID_PERMITE_CAPTACAO_PEDIDOS    
					  FROM TB_FUNCAO WITH(NOLOCK) WHERE CD_FUNCAO = 1    
            
					IF @v_idPermiteCaptacaoPedidos = 1    
						BEGIN    
           
							BEGIN TRANSACTION     
            
							INSERT INTO TB_PESSOA_RESUMO (    
								CD_PESSOA,    
								CD_FUNCAO,    
								DT_CADASTRO_PESSOA,    
								VL_SALDO_FAVOR,    
								VL_SALDO_FAVOR_PENDENTE,    
								VL_SALDO_DEVEDOR,    
								VL_CREDITO_TOTAL,    
								VL_CREDITO_VENCIDO,    
								VL_CREDITO_A_VENCER,    
								VL_CREDITO_A_FATURAR,    
								VL_CREDITO_DISPONIVEL,    
								CD_PESSOA_VINCULADA,    
								CD_PAPEL_CARREIRA,    
								CD_PAPEL_DESEMPENHO,    
								DT_CADASTRO,    
								CD_USUARIO_CADASTRO,    
								DT_ATUALIZACAO,    
								CD_USUARIO_ATUALIZACAO,    
								DC_HASH,    
								ID_ACESSA_SISTEMA,    
								ID_ACESSA_LOJA_VIRTUAL)    
             
							VALUES    
								(@Identity,    
								1,    
								GETDATE(),    
								0,    
								0,    
								0,    
								0,    
								0,    
								0,    
								0,    
								0,    
								0,    
								@v_codigoPapelCarreiraBaseCF,    
								@v_codigoPapelDesempenhoBaseCF,    
								GETDATE(),    
								@p_codigoUsuario,    
								GETDATE(),    
								@p_codigoUsuario,    
								--CONVERT(VARBINARY(3), PWDENCRYPT(CONVERT(VARCHAR(18),@Identity))),    
								@p_descHash,    
								1,    
								1)    
            
							COMMIT TRANSACTION      
     
						END    
          
                 
				END    
        
    IF (@p_codigoFuncao = 2)    
     BEGIN    
          
      --DT_FIM,    
          
      BEGIN TRANSACTION     
          
      INSERT INTO TB_PESSOA_FUNCAO    
       (CD_PESSOA,    
       CD_FUNCAO,    
       ID_SITUACAO_FUNCAO,    
       DT_INICIO,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO,    
       DT_ATUALIZACAO,    
       CD_USUARIO_ATUALIZACAO)    
      VALUES     
       (@Identity,    
       2,    
       1,    
       CONVERT(DATE,GETDATE()),    
       GETDATE(),    
       @p_codigoUsuario,    
       GETDATE(),    
       @p_codigoUsuario)    
           
      -- INSERE NA TABELA TB_PESSOA_RESUMO    
      INSERT INTO TB_PESSOA_RESUMO (    
       CD_PESSOA,    
       CD_FUNCAO,    
       DT_CADASTRO_PESSOA,    
       VL_SALDO_FAVOR,    
       VL_SALDO_FAVOR_PENDENTE,    
       VL_SALDO_DEVEDOR,    
       VL_CREDITO_TOTAL,    
       VL_CREDITO_VENCIDO,    
       VL_CREDITO_A_VENCER,    
       VL_CREDITO_A_FATURAR,    
       VL_CREDITO_DISPONIVEL,    
       CD_PESSOA_VINCULADA,    
       CD_PAPEL_CARREIRA,    
       CD_PAPEL_DESEMPENHO,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO,    
       DT_ATUALIZACAO,    
       CD_USUARIO_ATUALIZACAO,    
       DC_HASH,    
       ID_ACESSA_SISTEMA,    
       ID_ACESSA_LOJA_VIRTUAL,    
       ID_PADRAO_DIRECAO_REDE_BINARIA,    
       ID_DIRECAO_REDE_BINARIA)    
      VALUES    
       (@Identity,    
       2,    
       GETDATE(),    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       GETDATE(),    
       @p_codigoUsuario,    
       GETDATE(),    
       @p_codigoUsuario,    
       --CONVERT(VARBINARY(3), PWDENCRYPT(CONVERT(VARCHAR(18),@Identity))),    
       @p_descHash,    
       1,    
       @v_liberaAcessoEV,    
       @v_idDirecaoRedeBinaria,    
       @v_idDirecaoRedeBinaria)    
          
      COMMIT TRANSACTION       
       
     END    
        
    IF (@p_codigoFuncao = 4)    
     BEGIN    
          
      --DT_FIM,    
          
      INSERT INTO TB_PESSOA_FUNCAO    
       (CD_PESSOA,    
       CD_FUNCAO,    
       ID_SITUACAO_FUNCAO,    
       DT_INICIO,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO,    
       DT_ATUALIZACAO,    
       CD_USUARIO_ATUALIZACAO)    
      VALUES     
       (@Identity,    
       4,    
       1,    
       CONVERT(DATE,GETDATE()),    
       GETDATE(),    
       @p_codigoUsuario,    
       GETDATE(),    
       @p_codigoUsuario)    
           
      -- INSERE NA TABELA TB_PESSOA_RESUMO    
      INSERT INTO TB_PESSOA_RESUMO (    
       CD_PESSOA,    
       CD_FUNCAO,    
       DT_CADASTRO_PESSOA,    
       VL_SALDO_FAVOR,    
       VL_SALDO_FAVOR_PENDENTE,    
       VL_SALDO_DEVEDOR,    
       VL_CREDITO_TOTAL,    
       VL_CREDITO_VENCIDO,    
       VL_CREDITO_A_VENCER,    
       VL_CREDITO_A_FATURAR,    
       VL_CREDITO_DISPONIVEL,    
       CD_PESSOA_VINCULADA,    
       CD_PAPEL_CARREIRA,    
       CD_PAPEL_DESEMPENHO,    
       DC_HASH,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO,    
       DT_ATUALIZACAO,    
       CD_USUARIO_ATUALIZACAO,    
       ID_ACESSA_SISTEMA,    
       ID_ACESSA_LOJA_VIRTUAL)    
      VALUES    
       (@Identity,    
       4,    
       GETDATE(),    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       --CONVERT(VARBINARY(3), PWDENCRYPT(CONVERT(VARCHAR(18),@Identity))),    
       @p_descHash,    
       GETDATE(),    
       @p_codigoUsuario,    
       GETDATE(),    
       @p_codigoUsuario,    
       1,    
       1)    
    
     END    
        
    IF (@p_codigoFuncao = 3)    
     BEGIN    
      INSERT INTO TB_PESSOA_COLABORADOR    
       (CD_PESSOA,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO)    
      VALUES     
       (@Identity,    
       GETDATE(),    
       @p_codigoUsuario)    
          
          
          
      --DT_FIM,    
          
      INSERT INTO TB_PESSOA_FUNCAO    
       (CD_PESSOA,    
       CD_FUNCAO,    
       ID_SITUACAO_FUNCAO,    
       DT_INICIO,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO,    
       DT_ATUALIZACAO,    
       CD_USUARIO_ATUALIZACAO)    
      VALUES     
       (@Identity,    
       3,    
       1,    
       CONVERT(DATE,GETDATE()),    
       GETDATE(),    
       @p_codigoUsuario,    
       GETDATE(),    
       @p_codigoUsuario)    
          
           
          
      -- INSERE NA TABELA TB_PESSOA_RESUMO    
      INSERT INTO TB_PESSOA_RESUMO (    
       CD_PESSOA,    
       CD_FUNCAO,    
       DT_CADASTRO_PESSOA,    
       VL_SALDO_FAVOR,    
       VL_SALDO_FAVOR_PENDENTE,    
       VL_SALDO_DEVEDOR,    
       VL_CREDITO_TOTAL,    
       VL_CREDITO_VENCIDO,    
       VL_CREDITO_A_VENCER,    
       VL_CREDITO_A_FATURAR,    
       VL_CREDITO_DISPONIVEL,    
       CD_PESSOA_VINCULADA,    
       CD_PAPEL_CARREIRA,    
       CD_PAPEL_DESEMPENHO,    
       DC_HASH,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO,    
       DT_ATUALIZACAO,    
       CD_USUARIO_ATUALIZACAO,    
       ID_ACESSA_SISTEMA,    
       ID_ACESSA_LOJA_VIRTUAL)    
      VALUES    
       (@Identity,    
       3,    
       GETDATE(),    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       --CONVERT(VARBINARY(3), PWDENCRYPT(CONVERT(VARCHAR(18),@Identity))),    
       @p_descHash,    
       GETDATE(),    
       @p_codigoUsuario,    
       GETDATE(),    
       @p_codigoUsuario,    
       1,    
       1)    
                 
           
     END    
            
    -- *****************************************************    
    -- VAMOS GRAVAR A SITUAÇÃO DO CADASTRO    
    -- SE NECESSITA DE APROVAÇÃO IREMOS GRAVAR A SITUAÇÃO 3 - AGUARDANDO APROVAÇÃO    
    -- SENAO NECESSITA DE APROVAÇÃO VAMOS GRAVAR 4 - ATIVO    
    -- ESSE FLUXO DE APROVAÇÃO É SOMENTE PARA REVENDEDORA    
    -- PARA OUTRAS FUNÇÕES VAMOS GRAVAR 4 - ATIVO    
    -- *****************************************************    
    
    -- É CONSULTORA    
    IF (@p_codigoFuncao = 2)    
     BEGIN    
      -- NECESSITA APROVAÇÃO    
      IF (@v_idNecessitaFluxoAprovacao = 1)    
       BEGIN    
    
        -- FINALIZA A SITUAÇÃO EM CADASTRO    
        EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
         @Identity, -- CODIGO DA PESSOA    
         1, -- EM CADASTRO    
         2, -- FIM     
         0, -- RESULTADO    
         '', -- MOTIVO    
         0, -- POSSUI RESTRICAO    
         @p_codigoUsuario,    
         @p_codigoErro  OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas  OUTPUT    
    
    
        -- ABRE A SITUAÇÃO Analise da Documentação    
        EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
         @Identity, -- CODIGO DA PESSOA    
         31, -- Analise da Documentação    
         1, -- INICIO     
         0, -- RESULTADO    
         '', -- MOTIVO    
         0, -- POSSUI RESTRICAO    
         @p_codigoUsuario,    
         @p_codigoErro  OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas  OUTPUT    
    
    
        -- ABRE A SITUAÇÃO Analise dos Dados Cadastrais    
        EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
         @Identity, -- CODIGO DA PESSOA    
         32, -- Analise dos Dados Cadastrais    
         1, -- INICIO     
         0, -- RESULTADO    
         '', -- MOTIVO    
         0, -- POSSUI RESTRICAO    
         @p_codigoUsuario,    
         @p_codigoErro  OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas  OUTPUT    
    
    
            
        -- ABRE A SITUAÇÃO Analise de Crédito    
        EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
         @Identity, -- CODIGO DA PESSOA    
         33, -- Analise de Crédito    
         1, -- INICIO     
         0, -- RESULTADO    
         '', -- MOTIVO    
         0, -- POSSUI RESTRICAO    
         @p_codigoUsuario,    
         @p_codigoErro  OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas  OUTPUT    
    
    
        -- GRAVA A SITUACAO DE CADASTRO AGUARDANDO APROVAÇÃO    
        UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 3    
        WHERE CD_PESSOA = @Identity    
    
        -- GRAVA A SITUACAO COMERCIAL INTENÇÃO DE REVENDA    
        UPDATE TB_PESSOA_RESUMO SET CD_SITUACAO_COMERCIAL = 99    
        WHERE CD_PESSOA = @Identity    
       END    
      ELSE    
       BEGIN    
        -- GRAVA SITUAÇÃO DE CADASTRO ATIVA    
        UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4    
        WHERE CD_PESSOA = @Identity    
    
        -- FINALIZA A SITUAÇÃO EM CADASTRO    
        EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
         @Identity, -- CODIGO DA PESSOA    
         1, -- EM CADASTRO    
         2, -- FIM     
         0, -- RESULTADO    
         '', -- MOTIVO    
         0, -- POSSUI RESTRICAO    
         @p_codigoUsuario,    
         @p_codigoErro  OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas  OUTPUT    
    
        -- ABRE A SITUAÇÃO ATIVA    
        EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
         @Identity, -- CODIGO DA PESSOA    
         4, -- ATIVA    
         1, -- INICIO     
         0, -- RESULTADO    
         '', -- MOTIVO    
         0, -- POSSUI RESTRICAO    
         @p_codigoUsuario,    
         @p_codigoErro  OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas  OUTPUT    
    
    
       END    
     END    
    ELSE    
     -- NÃO É CONSULTORA    
     BEGIN    
      UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4    
      WHERE CD_PESSOA = @Identity    
    
      -- FINALIZA A SITUAÇÃO EM CADASTRO    
      EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
       @Identity, -- CODIGO DA PESSOA    
       1, -- EM CADASTRO    
       2, -- FIM     
       0, -- RESULTADO    
       '', -- MOTIVO    
       0, -- POSSUI RESTRICAO    
       @p_codigoUsuario,    
       @p_codigoErro  OUTPUT,    
       @p_descErro OUTPUT,    
       @p_qtLinhasAfetadas  OUTPUT    
    
      -- ABRE A SITUAÇÃO ATIVA    
      EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
       @Identity, -- CODIGO DA PESSOA    
       4, -- ATIVA    
       1, -- INICIO     
       0, -- RESULTADO    
       '', -- MOTIVO    
       0, -- POSSUI RESTRICAO    
       @p_codigoUsuario,    
       @p_codigoErro  OUTPUT,    
       @p_descErro OUTPUT,    
       @p_qtLinhasAfetadas  OUTPUT    
    
     END    
    
        
    -- ***************************************************************    
    -- FIM DO FLUXO DE APROVAÇÃO    
    -- ***************************************************************    
    
    -- ***********************************************************************        
    -- VERIFICA SE DEVEMOS OU NÃO ALOCAR A PESSOA NA REDE     
    -- SOMENTE PARA REVENDEDORAS e CFs    
    -- ***********************************************************************    
        
    IF (@p_codigoFuncao = 2)     
     BEGIN    
	 
		DECLARE @v_codigoEstruturaComercialSelecionada VARCHAR(255),
            @v_numeroCiclo INT,
            @v_mensagemErro NVARCHAR(MAX)
			
		EXEC [dbo].[pr_ApiSelecionaEstruturaComercialAlocacao]
			@p_codigoCentroDistribuicaoExterno,
			@p_codigoEstruturaComercial,
			@p_codigoEstruturaComercialSelecionada = @v_codigoEstruturaComercialSelecionada OUTPUT,
			@p_numeroCiclo = @v_numeroCiclo OUTPUT,
			@p_mensagemErro = @v_mensagemErro OUTPUT;
		SET @p_descWarning = ISNULL(@p_descWarning, '') + ISNULL(@v_mensagemErro, '');

		-- SE A NOVA PROCEDURE DE SELEÇÃO ENCONTRAR UMA ESTRUTURA, SEGUIMOS COM ELA
		IF @v_codigoEstruturaComercialSelecionada IS NOT NULL
		BEGIN			
			SET @v_criaAlocacao = 1;
			SET @v_codigoEstComercialAutomatico = @v_codigoEstruturaComercialSelecionada;
			SET @v_numeroCicloAlocacaoAutomatico = @v_numeroCiclo;
		END
		ELSE
		BEGIN
			-- SE A NOVA PROCEDURE DE SELEÇÃO NÃO ENCONTRAR UMA ESTRUTURA, SEGUIMOS COM O FLUXO ANTERIOR
			-- ALTERAÇÃO POR DIEGO ZILIOTI EM 11/09/24, NÃO PODEMOS FAZER A ALOCAÇÃO AUTOMATICA AQUI, A API NÃO GRAVOU AINDA O ENDEREÇO DA PESSOA, VAMOS ALOCAR DEPOIS DE GRAVAR O ENDEREÇO
			SELECT @v_codigoIndicante = @p_codigoPessoaIndicante    
			--EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede    
			--	   @Identity,    
			--	   @v_codigoIndicante,    
			--	   2,    
			--	   @v_criaAlocacao       output, -- 1 para sim e 2 para não    
			--	   @v_numeroCicloAlocacaoAutomatico  output,     
			--	   @v_codigoEstComercialAutomatico   output,     
			--	   0,    
			--	   '',    
			--	   0    
			SET @v_criaAlocacao = 0
		END
           
      IF @v_criaAlocacao = 1    
       BEGIN    
           
        -- ****************************************************    
        -- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO    
        -- *******************************************************************    
        SELECT @v_existeAlocacao = COUNT(*)    
        FROM TB_ALOCACAO_REDE WITH(NOLOCK)    
        WHERE CD_PESSOA = @Identity    
        AND NM_CICLO = @v_numeroCicloAlocacaoAutomatico    
           
        IF @v_existeAlocacao = 0           
         BEGIN    
          EXEC pr_PessoaGeraAlocacaoRede    
            @Identity,    
            2,    
            @v_codigoEstComercialAutomatico,    
            @v_numeroCicloAlocacaoAutomatico,    
            @p_codigoUsuario,    
    
            0,    
            '',    
            0    
              
         END    
       END -- FIM DO @V_CRIA_ALOCACAO = 1    
    
      -- *********************************************    
      -- Alteração em 19/06/2019 por Diego Zilioti    
      -- Precisamos chamar a criação dos indicadores MN para a criação de alguns indicadores base para a captação de pedidos    
      -- *********************************************    
    
      -- CALCULA OS INDICADORES DE CADASTRO    
      EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE    
          @Identity,    
          2,    
          @v_codigoEstComercialAutomatico,    
          @v_numeroCicloAlocacaoAutomatico,    
          8,                    --CADASTRO    
          1,          --ADICIONAR    
          1, --CALCULA OS INDICADORES ONLINE
          0,    
          0 ,    
          '',    
          0    
                     
     END -- FIM (@ID_FUNCAO_CONSULTORA <> 0)      
              
    IF (@p_codigoFuncao = 1)     
     BEGIN    
         
      SELECT @v_idPermiteCaptacaoPedidos = ID_PERMITE_CAPTACAO_PEDIDOS    
        FROM TB_FUNCAO WITH(NOLOCK) WHERE CD_FUNCAO = 1    
            
      IF @v_idPermiteCaptacaoPedidos = 1    
       BEGIN    
         
        SELECT @v_codigoIndicante = @p_codigoPessoaIndicante    
            
		-- ALTERAÇÃO POR DIEGO ZILIOTI EM 11/09/24, NÃO PODEMOS FAZER A ALOCAÇÃO AUTOMATICA AQUI, A API NÃO GRAVOU AINDA O ENDEREÇO DA PESSOA, VAMOS ALOCAR DEPOIS DE GRAVAR O ENDEREÇO
        --EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede    
        -- @Identity,    
        -- @v_codigoIndicante,    
        -- 1,    
        -- @v_criaAlocacao      output, -- 1 para sim e 2 para não    
        -- @v_numeroCicloAlocacaoAutomatico output,     
        -- @v_codigoEstComercialAutomatico  output,     
        -- 0,    
        -- '',    
        -- 0    
        SET @v_criaAlocacao = 0
             
        IF @v_criaAlocacao = 1    
         BEGIN    
             
          -- ****************************************************    
          -- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO    
          -- *******************************************************************    
          SELECT @v_existeAlocacao = COUNT(*)    
          FROM TB_ALOCACAO_REDE WITH(NOLOCK)    
          WHERE CD_PESSOA = @Identity    
          AND NM_CICLO = @v_numeroCicloAlocacaoAutomatico    
             
          IF @v_existeAlocacao = 0           
           BEGIN    
            EXEC pr_PessoaGeraAlocacaoRede    
              @Identity,    
              1,    
              @v_codigoEstComercialAutomatico,    
              @v_numeroCicloAlocacaoAutomatico,    
              @p_codigoUsuario,    
    
             0,    
              '',    
              0    
    
           END    
         END -- FIM DO @V_CRIA_ALOCACAO = 1    
       END               
     END -- FIM (@ID_FUNCAO_CONSULTORA <> 0)      
         
    -- ***************************************************************    
    -- FIM  DA ALOCAÇÃO AUTOMATICA    
    -- ***************************************************************    
        
              
        
    SELECT @p_descErro = 'Pessoa física com código ' + CONVERT(varchar(12), @Identity) + ' foi inserida com exito.'    
        
   END     
     
  IF @p_descAcao = 'A'    
   BEGIN    
         
    -- vamos obter o e-mail atual para verificar se será preciso enviar novamente o e-mail com os dados de acesso    
    select @v_dcEmailAtual = isnull(dbo.fn_busca_email_pessoa(@p_codigoPessoa,1),'')    
        
    --Obtém o código atual do indicante se for nulo ou igual a 0 iremos gravar o vínculo    
    SELECT @v_codigoIndicante = ISNULL(CD_PESSOA_INDICANTE,0)    
    FROM TB_PESSOA WITH(NOLOCK) WHERE CD_PESSOA = @p_codigoPessoa    
    
    
    -- FECHA A SITUAÇÃO ATIVA    
     EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
      @p_codigoPessoa, -- CODIGO DA PESSOA    
      4, -- ATIVA    
      2, -- FIM    
      0, -- RESULTADO    
      '', -- MOTIVO    
      0, -- POSSUI RESTRICAO    
      @p_codigoUsuario,    
      @p_codigoErro  OUTPUT,    
      @p_descErro OUTPUT,    
      @p_qtLinhasAfetadas  OUTPUT    
        
    -- FECHA A SITUAÇÃO INATIVA    
     EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
      @p_codigoPessoa, -- CODIGO DA PESSOA    
      5, -- INATIVA    
      2, -- FIM    
      0, -- RESULTADO    
      '', -- MOTIVO    
      0, -- POSSUI RESTRICAO    
      @p_codigoUsuario,    
      @p_codigoErro  OUTPUT,    
      @p_descErro OUTPUT,    
      @p_qtLinhasAfetadas  OUTPUT    
    
    select @v_cd_situacao_cadastro = isnull(cd_situacao_cadastro,0)    
      from TB_PESSOA WITH(NOLOCK)    
     where CD_PESSOA = @p_codigoPessoa    
        
    if @v_cd_situacao_cadastro <> 4    
     begin    
    -- FECHA A SITUAÇÃO Analise da Documentação    
     EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
      @p_codigoPessoa, -- CODIGO DA PESSOA    
      31, -- Analise da Documentação    
      2, -- FIM    
      0, -- RESULTADO    
      '', -- MOTIVO    
      0, -- POSSUI RESTRICAO    
      @p_codigoUsuario,    
      @p_codigoErro  OUTPUT,    
      @p_descErro OUTPUT,    
      @p_qtLinhasAfetadas  OUTPUT    
    
    -- FECHA A SITUAÇÃO Analise dos Dados Cadastrais    
     EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
      @p_codigoPessoa, -- CODIGO DA PESSOA    
      32, -- Analise dos Dados Cadastrais    
      2, -- FIM    
      0, -- RESULTADO    
      '', -- MOTIVO    
      0, -- POSSUI RESTRICAO    
      @p_codigoUsuario,    
      @p_codigoErro  OUTPUT,    
      @p_descErro OUTPUT,    
      @p_qtLinhasAfetadas  OUTPUT    
        
    -- FECHA A SITUAÇÃO Analise de Crédito    
     EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
      @p_codigoPessoa, -- CODIGO DA PESSOA    
      33, -- Analise de Crédito    
      2, -- FIM    
      0, -- RESULTADO    
      '', -- MOTIVO    
      0, -- POSSUI RESTRICAO    
      @p_codigoUsuario,    
      @p_codigoErro  OUTPUT,    
      @p_descErro OUTPUT,    
      @p_qtLinhasAfetadas  OUTPUT    
              
     -- FECHA A SITUAÇÃO EM CADASTRO    
     --EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
     -- @p_codigoPessoa, -- CODIGO DA PESSOA    
     -- 1, -- EM CADASTRO    
     -- 2, -- FIM    
     -- 0, -- RESULTADO    
     -- '', -- MOTIVO    
     -- 0, -- POSSUI RESTRICAO    
     -- @p_codigoUsuario,    
     -- @p_codigoErro  OUTPUT,    
     -- @p_descErro OUTPUT,    
     -- @p_qtLinhasAfetadas  OUTPUT    
     end    
         
       -- ABRE A SITUAÇÃO EM EDIÇÃO    
     EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
      @p_codigoPessoa, -- CODIGO DA PESSOA    
      2, -- EM EDIÇÃO    
      1, -- FIM    
      0, -- RESULTADO    
      '', -- MOTIVO    
      0, -- POSSUI RESTRICAO    
      @p_codigoUsuario,    
      @p_codigoErro  OUTPUT,    
      @p_descErro OUTPUT,    
      @p_qtLinhasAfetadas  OUTPUT    
    
    BEGIN TRANSACTION     
    
    UPDATE TB_PESSOA SET    
     ID_TIPO_PESSOA = @p_idTipoPessoa,    
     DT_ATUALIZACAO = GETDATE(),    
     CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,    
     --Comentado em 29/07/2020 por Diego Zilioti, erro chamado 4576    
     --Não podemos atualizar a informação do indicante nas atualizações, pois nos casos de CF a informação é perdida    
     --As rotinas de inserção e atualização de vínculos já fazem esse papel de atualização do indicante    
     --CD_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE,    
     CD_SITUACAO_CADASTRO = 2,    
     CD_PESSOA_EXTERNO = @p_codigoPessoaExterno    
    WHERE CD_PESSOA = @p_codigoPessoa    
        
    COMMIT TRANSACTION    
        
    --*********************ALTERAÇÃO FEITA POR DIEGO *********************    
    --DATA: 08/08/2016    
    --MOTIVO: ALTERAR INDICANTE NO CADASTRO    
    --CLIENTE: HELLO CASH    
    if @v_codigoIndicante > 0    
     begin    
      if @v_codigoIndicante <> @p_codigoPessoaIndicante    
       begin    
        --BUSCA O CICLO ATUAL DA PESSOA PARA GRAVAR O VÍNCULO    
        SELECT @v_numeroCicloAtual = NM_CICLO_ATUAL    
        FROM TB_PESSOA_RESUMO WITH(NOLOCK)    
        WHERE CD_PESSOA = @p_codigoPessoa    
        AND CD_FUNCAO = 2    
            
        --NESTE CASO O CÓDIGO DE INDICANTE FOI ALTERADO DEVEMOS ATUALIZAR O VÍNCULO E GERAR A TOPOLOGIA ATUALIZADA    
       -- ALDIR 19/02/2019. TEM A CHAMADA DA pr_mnalteraindicante    
       -- EXEC pr_PessoaInsereVinculo     
       --  @p_codigoPessoa,    
       --  2,    
       --  @NM_CICLO_ATUAL,    
       --  @p_codigoErro OUTPUT,    
       --  @p_descErro OUTPUT,    
       --  @p_qtLinhasAfetadas OUTPUT    
       end    
     end    
    --*********************FIM ALTERAÇÃO FEITA POR DIEGO *********************    
        
    SELECT @p_qtLinhasAfetadas = @@ROWCOUNT    
    
    IF @p_idTipoPessoa = 1    
     BEGIN    
    
      BEGIN TRANSACTION     
    
      -- **************************************************************    
      -- ALTERAÇÃO FEITA POR ANDERSON - 05/11/2021    
      -- CENARIO IDENTIFICADO NA LOWELL - METODO DA API TEM APENAS O PARAMETRO DE NOME    
      -- MAS AO RECEBER O NOME API NAO ESTAVA SEPARANDO O NOME DO SOBRENOME    
      -- E AI MANDAVA NA PROC O NOME COMPLETO NO NOME E SOBRENOME    
      -- VAMOS FAZER UM TRATAMENTO EM QUE IREMOS VERIFICAR O CONTEUDO DO NOME    
      -- VAMOS GRAVAR NO NOME O PRIMEIRO ESPAÇO E O SOBRENOME O RESTANTE    
      -- **************************************************************    
    
      SELECT @V_POSICAO_ESPACO = CONVERT(INT, CHARINDEX(' ', @p_descNome))    
      --SELECT @V_POSICAO_ESPACO = @V_POSICAO_ESPACO - 1    
    
      SELECT @V_TAMANHO_NOME = CONVERT(INT, LEN(@p_descNome))    
    
      -- SE FOR 0 SIGNIFICA QUE O NOME E SOBRENOME ESTÃO PASSANDO CORRETAMENTE    
      IF @V_POSICAO_ESPACO = 0    
       BEGIN    
        UPDATE TB_PESSOA_FISICA SET    
        DC_NOME = dbo.fn_CorrigirAcentuacao(@p_descNome),    
        DC_SOBRENOME = dbo.fn_CorrigirAcentuacao(@p_descSobrenome),    
        ID_SEXO = @p_idSexo,    
        ID_ESTADO_CIVIL = @p_idEstadoCivil,    
        ID_ESCOLARIDADE = @p_idEscolaridade,    
        DT_NASCIMENTO = @p_dtNascimento,    
        DT_ATUALIZACAO = GETDATE(),    
        CD_USUARIO_ATUALIZACAO = @p_codigoUsuario    
        WHERE CD_PESSOA = @p_codigoPessoa    
    
       END    
      ELSE    
       BEGIN    
        UPDATE TB_PESSOA_FISICA SET    
        DC_NOME = dbo.fn_CorrigirAcentuacao(RTRIM(LTRIM(SUBSTRING(@p_descNome, 1, @V_POSICAO_ESPACO - 1)))),    
        DC_SOBRENOME = dbo.fn_CorrigirAcentuacao(RTRIM(LTRIM(SUBSTRING(@p_descNome, @V_POSICAO_ESPACO, @V_TAMANHO_NOME)))),    
        ID_SEXO = @p_idSexo,    
        ID_ESTADO_CIVIL = @p_idEstadoCivil,    
        ID_ESCOLARIDADE = @p_idEscolaridade,    
        DT_NASCIMENTO = @p_dtNascimento,    
        DT_ATUALIZACAO = GETDATE(),    
        CD_USUARIO_ATUALIZACAO = @p_codigoUsuario    
        WHERE CD_PESSOA = @p_codigoPessoa    
    
       END    
    
    
          
      COMMIT TRANSACTION    
    
     END    
    ELSE    
     BEGIN    
    
      BEGIN TRANSACTION     
        
      UPDATE TB_PESSOA_JURIDICA SET    
       DC_RAZAO_SOCIAL = dbo.fn_CorrigirAcentuacao(@p_descRazaoSocial),    
       DC_NOME_FANTASIA = dbo.fn_CorrigirAcentuacao(@p_descNomeFantasia),    
       ID_TIPO_ATIVIDADE = @p_idTipoAtividade,    
       DT_ATUALIZACAO = GETDATE(),    
       CD_USUARIO_ATUALIZACAO = @p_codigoUsuario    
      WHERE CD_PESSOA = @p_codigoPessoa    
    
      COMMIT TRANSACTION    
     END    
        
        
    -- VERIFICA A SITUAÇÃO COMERCIAL DA PESSOA    
    -- ESSA INFORMAÇÃO SERÁ IMPORTANTE NA FASE D EFLUXO DE APROVAÇÃO    
    -- COMO A TABELA TB_PESSOA_RESUMO É EXCLUIDA, ENTÃO TEMOS QUE ARMAZENAR ESSA INFORMAÇÃO ANTES DA EXCLUSÃO    
    SELECT @v_codigoSitComercial = CD_SITUACAO_COMERCIAL    
    FROM TB_PESSOA_RESUMO WITH(NOLOCK)    
    WHERE CD_PESSOA = @p_codigoPessoa    
      
    -- *************************************************************************    
    -- É PRECISO MANTER A SENHA DE CONSULTOR     
    -- *************************************************************************    
        
    select @v_existeConsultora = COUNT(*)    
    from TB_PESSOA_RESUMO WITH(NOLOCK)    
    WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 2    
        
    IF @v_existeConsultora > 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA    
     BEGIN    
      select @v_descHashConsultora = DC_HASH  
      FROM TB_PESSOA_RESUMO WITH(NOLOCK)    
      WHERE CD_PESSOA = @p_codigoPessoa    
      AND CD_FUNCAO = 2    
         
     END    
        
    
    
    -- ************************************************************************    
    -- DELETA REGISTROS DA FUNÇÃO REVENDEDORA    
    -- APENAS DELETA SE NAO TIVER NENHUM REGISTRO NA TABELA DE ALOCACAO DE REDE    
    -- ************************************************************************    
    select @v_existeAlocacao = count(*)    
    from TB_ALOCACAO_REDE WITH(NOLOCK)    
    where CD_PESSOA = @p_codigoPessoa    
        
    IF @v_existeAlocacao = 0 -- NAO TEM NENHUM REGISTRO DE ALOCAÇÃO ENTÃO PODE APAGAR    
     BEGIN    
      DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 2    
      DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 2    
     END    
        
        
    -- *************************************************************************    
    -- É PRECISO MANTER A SENHA DE CONSUMIDOR FINAL    
    -- *************************************************************************    
        
    select @v_existeConsumidor = COUNT(*)    
    from TB_PESSOA_RESUMO WITH(NOLOCK)    
    WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 1    
        
    IF @v_existeConsumidor > 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA    
     BEGIN    
      select @v_descHashConsumidor = DC_HASH    
      FROM TB_PESSOA_RESUMO WITH(NOLOCK)    
      WHERE CD_PESSOA = @p_codigoPessoa    
      AND CD_FUNCAO = 1    
         
     END    
               
    -- *************************************************************************    
    -- É PRECISO MANTER A SENHA DE FORÇA DE VENDAS    
    -- *************************************************************************    
        
    select @v_existeFV = count(*)    
    from TB_PESSOA_RESUMO WITH(NOLOCK)    
    WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 4    
        
    IF @v_existeFV > 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA    
     BEGIN    
      select @v_descHashFV = DC_HASH   
      FROM TB_PESSOA_RESUMO WITH(NOLOCK)    
      WHERE CD_PESSOA = @p_codigoPessoa    
      AND CD_FUNCAO = 4    
         
     END    
        
    -- *************************************************************************    
    -- É PRECISO MANTER A SENHA DE COLABORADOR    
    -- *************************************************************************    
        
    select @v_existeColaborador = count(*)    
    from TB_PESSOA_RESUMO WITH(NOLOCK)    
    WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 3    
        
    IF @v_existeColaborador <> 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA    
     BEGIN    
      select @v_descHashColaborador = DC_HASH    
      FROM TB_PESSOA_RESUMO WITH(NOLOCK)    
      WHERE CD_PESSOA = @p_codigoPessoa    
      AND CD_FUNCAO = 3    
         
     END    
        
    IF (@p_codigoFuncao = 1)    
     BEGIN    
      --DT_FIM,    
      IF @v_existeAlocacao = 0    
       BEGIN    
        DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 1    
        DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 1    
          
        INSERT INTO TB_PESSOA_FUNCAO    
         (CD_PESSOA,    
         CD_FUNCAO,    
         ID_SITUACAO_FUNCAO,    
         DT_INICIO,    
         DT_CADASTRO,    
         CD_USUARIO_CADASTRO,    
         DT_ATUALIZACAO,    
         CD_USUARIO_ATUALIZACAO)    
        VALUES     
         (@p_codigoPessoa,    
         1,    
         1,    
         CONVERT(DATE,GETDATE()),    
         GETDATE(),    
         @p_codigoUsuario,    
         GETDATE(),    
         @p_codigoUsuario)    
    
        SELECT @v_idPermiteCaptacaoPedidos = ID_PERMITE_CAPTACAO_PEDIDOS    
          FROM TB_FUNCAO WITH(NOLOCK) WHERE CD_FUNCAO = 1    
            
        IF @v_idPermiteCaptacaoPedidos = 1    
         BEGIN     
          INSERT INTO TB_PESSOA_RESUMO (    
           CD_PESSOA,    
           CD_FUNCAO,    
           DT_CADASTRO_PESSOA,    
           VL_SALDO_FAVOR,    
           VL_SALDO_FAVOR_PENDENTE,    
           VL_SALDO_DEVEDOR,    
           VL_CREDITO_TOTAL,    
           VL_CREDITO_VENCIDO,    
           VL_CREDITO_A_VENCER,    
           VL_CREDITO_A_FATURAR,    
           VL_CREDITO_DISPONIVEL,    
           CD_PESSOA_VINCULADA,    
           CD_PAPEL_CARREIRA,    
           CD_PAPEL_DESEMPENHO,    
           DT_CADASTRO,    
           CD_USUARIO_CADASTRO,    
           DT_ATUALIZACAO,    
           CD_USUARIO_ATUALIZACAO,    
           DC_HASH,    
           ID_ACESSA_SISTEMA,    
           ID_ACESSA_LOJA_VIRTUAL)    
             
          VALUES    
           (@p_codigoPessoa,    
           1,    
           GETDATE(),    
           0,    
           0,    
           0,    
           0,    
           0,    
           0,    
           0,    
           0,    
           0,    
           @v_codigoPapelCarreiraBaseCF,    
           @v_codigoPapelDesempenhoBaseCF,    
           GETDATE(),    
           @p_codigoUsuario,    
           GETDATE(),    
           @p_codigoUsuario,    
           @v_descHashConsumidor,    
           1,    
           1)    
    
         end    
     
       END    
     END     
        
    IF (@p_codigoFuncao = 2)    
     BEGIN    
          
      IF @v_existeAlocacao = 0 -- NAO TEM NENHUM REGISTRO DE ALOCAÇÃO ENTÃO PODE APAGAR    
           
       BEGIN    
        INSERT INTO TB_PESSOA_FUNCAO    
         (CD_PESSOA,    
         CD_FUNCAO,    
         ID_SITUACAO_FUNCAO,    
         DT_INICIO,    
         DT_CADASTRO,    
         CD_USUARIO_CADASTRO,    
         DT_ATUALIZACAO,    
         CD_USUARIO_ATUALIZACAO)    
        VALUES     
         (@p_codigoPessoa,    
         2,    
         1,    
         CONVERT(DATE,GETDATE()),    
         GETDATE(),    
         @p_codigoUsuario,    
         GETDATE(),    
         @p_codigoUsuario)    
           
        -- INSERE NA TABELA TB_PESSOA_RESUMO    
        INSERT INTO TB_PESSOA_RESUMO (    
         CD_PESSOA,    
         CD_FUNCAO,    
         DT_CADASTRO_PESSOA,    
         VL_SALDO_FAVOR,    
         VL_SALDO_FAVOR_PENDENTE,    
         VL_SALDO_DEVEDOR,    
         VL_CREDITO_TOTAL,    
         VL_CREDITO_VENCIDO,    
         VL_CREDITO_A_VENCER,    
         VL_CREDITO_A_FATURAR,    
         VL_CREDITO_DISPONIVEL,    
         CD_PESSOA_VINCULADA,    
         CD_PAPEL_CARREIRA,    
         CD_PAPEL_DESEMPENHO,    
         DT_CADASTRO,    
         CD_USUARIO_CADASTRO,    
         DT_ATUALIZACAO,    
         CD_USUARIO_ATUALIZACAO,    
         DC_HASH,    
         ID_ACESSA_SISTEMA,    
         ID_ACESSA_LOJA_VIRTUAL,    
         ID_PADRAO_DIRECAO_REDE_BINARIA,    
         ID_DIRECAO_REDE_BINARIA    
         )    
        VALUES    
         (@p_codigoPessoa,    
         2,    
         GETDATE(),    
         0,    
         0,    
         0,    
         0,    
         0,    
         0,    
         0,    
         0,    
         0,    
         0,    
         0,    
         GETDATE(),    
         @p_codigoUsuario,    
         GETDATE(),    
         @p_codigoUsuario,    
         @v_descHashConsultora,    
         1,    
         @v_liberaAcessoEV,    
         @v_idDirecaoRedeBinaria,    
         @v_idDirecaoRedeBinaria)    
       END    
           
       ELSE    
           BEGIN    
         UPDATE TB_PESSOA_RESUMO SET ID_PADRAO_DIRECAO_REDE_BINARIA = @v_idDirecaoRedeBinaria,    
         ID_DIRECAO_REDE_BINARIA = @v_idDirecaoRedeBinaria    
         WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 2                        
        END     
          
     END    
           
    IF (@p_codigoFuncao = 4)    
     BEGIN    
         
      --ANTES DE INSERIR DEVEMOS APAGAR AS INFORMAÇÕES REFERENTE A FUNÇÃO FV    
      DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 4    
      DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @p_codigoPessoa AND CD_FUNCAO = 4    
      --DT_FIM,    
          
      INSERT INTO TB_PESSOA_FUNCAO    
       (CD_PESSOA,    
       CD_FUNCAO,    
       ID_SITUACAO_FUNCAO,    
       DT_INICIO,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO,    
       DT_ATUALIZACAO,    
       CD_USUARIO_ATUALIZACAO)    
      VALUES     
       (@p_codigoPessoa,    
       4,    
       1,    
       CONVERT(DATE,GETDATE()),    
       GETDATE(),    
       @p_codigoUsuario,    
       GETDATE(),    
       @p_codigoUsuario)    
           
      -- INSERE NA TABELA TB_PESSOA_RESUMO    
      INSERT INTO TB_PESSOA_RESUMO (    
       CD_PESSOA,    
       CD_FUNCAO,    
       DT_CADASTRO_PESSOA,    
       VL_SALDO_FAVOR,    
       VL_SALDO_FAVOR_PENDENTE,    
       VL_SALDO_DEVEDOR,    
       VL_CREDITO_TOTAL,    
       VL_CREDITO_VENCIDO,    
       VL_CREDITO_A_VENCER,    
       VL_CREDITO_A_FATURAR,    
       VL_CREDITO_DISPONIVEL,    
       CD_PESSOA_VINCULADA,    
       CD_PAPEL_CARREIRA,    
       CD_PAPEL_DESEMPENHO,    
       DC_HASH,    
       DT_CADASTRO,    
       CD_USUARIO_CADASTRO,    
       DT_ATUALIZACAO,    
       CD_USUARIO_ATUALIZACAO,    
       ID_ACESSA_SISTEMA,    
       ID_ACESSA_LOJA_VIRTUAL)    
      VALUES    
       (@p_codigoPessoa,    
       4,    
       GETDATE(),    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       0,    
       @v_descHashFV,    
       GETDATE(),    
       @p_codigoUsuario,    
       GETDATE(),    
       @p_codigoUsuario,    
       1,    
       1)    
          
      --INSERE NA TB_PESSOA_FORCA_VENDAS    
      --INSERT INTO TB_PESSOA_FORCA_VENDAS (    
      -- CD_PESSOA,    
      -- CD_EST_COMERCIAL,    
      -- NM_CICLO_INICIO,    
      -- NM_CICLO_FIM,    
      -- DT_CADASTRO,    
      -- CD_USUARIO_CADASTRO,    
      -- DT_ATUALIZACAO,    
      -- CD_USUARIO_ATUALIZACAO)    
      --VALUES    
      -- (@Identity,    
      -- @CD_EST_COMERCIAL_FV,    
      -- @NM_CICLO_INICIO_FV,    
      -- @NM_CICLO_FIM_FV,    
      -- GETDATE(),    
      -- @p_codigoUsuario,    
      -- GETDATE(),    
      -- @p_codigoUsuario)    
     END    
        
    -- *****************************************************    
    -- NA EDIÇÃO VAMOS APENAS CRIAR O FLUXO NOVAMENTE SE A PESSOA    
    -- AINDA ESTIVER COMO INTENÇÃO DE REVENDA OU REPROVADA    
    -- EM CASO POSITIVO VAMOS SEGUIR O FLUXO ABAIXO    
    -- PRIMEIRO FECHAR TODAS AS ETAPAS DO AGUARDANDO APROVAÇÃO    
    -- VAMOS GRAVAR A SITUAÇÃO DO CADASTRO    
    -- SE NECESSITA DE APROVAÇÃO IREMOS GRAVAR A SITUAÇÃO 3 - AGUARDANDO APROVAÇÃO    
    -- SENAO NECESSITA DE APROVAÇÃO VAMOS GRAVAR 4 - ATIVO    
    -- ESSE FLUXO DE APROVAÇÃO É SOMENTE PARA REVENDEDORA    
    -- PARA OUTRAS FUNÇÕES VAMOS GRAVAR 4 - ATIVO    
    -- *****************************************************    
    
      
    -- É CONSULTORA    
    IF (@p_codigoFuncao = 2)    
     BEGIN    
      IF @v_codigoSitComercial = 99 or @v_cd_situacao_cadastro = 5 --INTENÇÃO DE REVENDA OU REPROVADO    
       BEGIN    
           
        -- NECESSITA APROVAÇÃO    
        IF (@v_idNecessitaFluxoAprovacao = 1)    
         BEGIN    
    
          -- FINALIZA A SITUAÇÃO EM EDIÇÃO    
          EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
           @p_codigoPessoa, -- CODIGO DA PESSOA    
           2, -- EM EDIÇÃO    
           2, -- FIM     
           0, -- RESULTADO    
           '', -- MOTIVO    
           0, -- POSSUI RESTRICAO    
           @p_codigoUsuario,    
           @p_codigoErro  OUTPUT,    
           @p_descErro OUTPUT,    
           @p_qtLinhasAfetadas  OUTPUT    
    
    
          -- ABRE A SITUAÇÃO Analise da Documentação    
          EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
           @p_codigoPessoa, -- CODIGO DA PESSOA    
           31, -- Analise da Documentação    
           1, -- INICIO     
           0, -- RESULTADO    
           '', -- MOTIVO    
           0, -- POSSUI RESTRICAO    
           @p_codigoUsuario,    
           @p_codigoErro  OUTPUT,    
           @p_descErro OUTPUT,    
           @p_qtLinhasAfetadas  OUTPUT    
    
    
          -- ABRE A SITUAÇÃO Analise dos Dados Cadastrais    
          EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
           @p_codigoPessoa, -- CODIGO DA PESSOA    
           32, -- Analise dos Dados Cadastrais    
           1, -- INICIO     
           0, -- RESULTADO    
           '', -- MOTIVO    
           0, -- POSSUI RESTRICAO    
           @p_codigoUsuario,    
           @p_codigoErro  OUTPUT,    
           @p_descErro OUTPUT,    
           @p_qtLinhasAfetadas  OUTPUT    
    
    
            
          -- ABRE A SITUAÇÃO Analise de Crédito    
          EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
           @p_codigoPessoa, -- CODIGO DA PESSOA    
           33, -- Analise de Crédito    
           1, -- INICIO     
           0, -- RESULTADO    
           '', -- MOTIVO    
           0, -- POSSUI RESTRICAO    
           @p_codigoUsuario,    
           @p_codigoErro  OUTPUT,    
           @p_descErro OUTPUT,    
           @p_qtLinhasAfetadas  OUTPUT    
    
    
          -- GRAVA A SITUACAO DE CADASTRO AGUARDANDO APROVAÇÃO    
          UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 3    
          WHERE CD_PESSOA = @p_codigoPessoa    
    
          -- GRAVA A SITUACAO COMERCIAL INTENÇÃO DE REVENDA    
          UPDATE TB_PESSOA_RESUMO SET CD_SITUACAO_COMERCIAL = 99    
          WHERE CD_PESSOA = @p_codigoPessoa    
       END    
        ELSE    
         BEGIN    
          -- GRAVA SITUAÇÃO DE CADASTRO ATIVA    
          UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4    
          WHERE CD_PESSOA = @p_codigoPessoa    
    
          -- FINALIZA A SITUAÇÃO EM CADASTRO    
          EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
           @p_codigoPessoa, -- CODIGO DA PESSOA    
           2, -- EM EDIÇÃO    
           2, -- FIM     
           0, -- RESULTADO    
           '', -- MOTIVO    
           0, -- POSSUI RESTRICAO    
           @p_codigoUsuario,    
           @p_codigoErro  OUTPUT,    
           @p_descErro OUTPUT,    
           @p_qtLinhasAfetadas  OUTPUT    
    
          -- ABRE A SITUAÇÃO ATIVA    
          EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
           @p_codigoPessoa, -- CODIGO DA PESSOA    
           4, -- ATIVA    
           1, -- INICIO     
           0, -- RESULTADO    
           '', -- MOTIVO    
           0, -- POSSUI RESTRICAO    
           @p_codigoUsuario,    
           @p_codigoErro  OUTPUT,    
           @p_descErro OUTPUT,    
           @p_qtLinhasAfetadas  OUTPUT    
    
         END    
    
       END    
      ELSE    
       BEGIN    
    
        -- **********************************************************    
        -- Correção por Diego Zilioti em 13/09/2019    
        -- Precisamos acertar a situação cadastro caso ela esteja igual a 2 - em edição    
        -- ***********************************************************    
        IF @v_cd_situacao_cadastro = 2    
         BEGIN    
          select top 1 @v_cd_situacao_cadastro =  CD_SITUACAO_CADASTRO     
            from TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)    
           where CD_PESSOA = @p_codigoPessoa    
             and CD_SITUACAO_CADASTRO <> 2 order by DT_CADASTRO desc    
         END    
              
        UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = @v_cd_situacao_cadastro    
        WHERE CD_PESSOA = @p_codigoPessoa    
    
        -- FINALIZA A SITUAÇÃO EM CADASTRO    
        EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
         @p_codigoPessoa, -- CODIGO DA PESSOA    
         2, -- EM EDIÇÃO    
         2, -- FIM     
         0, -- RESULTADO    
         '', -- MOTIVO    
         0, -- POSSUI RESTRICAO    
         @p_codigoUsuario,    
         @p_codigoErro  OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas  OUTPUT    
    
        -- ABRE A SITUAÇÃO ATIVA    
        EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
         @p_codigoPessoa, -- CODIGO DA PESSOA    
         @v_cd_situacao_cadastro,     
         1, -- INICIO     
         0, -- RESULTADO    
         '', -- MOTIVO    
         0, -- POSSUI RESTRICAO    
         @p_codigoUsuario,    
         @p_codigoErro  OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas  OUTPUT    
    
            
       END    
    
     END    
    ELSE    
     -- NÃO É CONSULTORA    
     BEGIN    
      UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4    
      WHERE CD_PESSOA = @p_codigoPessoa    
    
      -- FINALIZA A SITUAÇÃO EM EDIÇÃO    
      EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
       @p_codigoPessoa, -- CODIGO DA PESSOA    
       2, -- EM EDIÇÃO    
       2, -- FIM     
       0, -- RESULTADO    
       '', -- MOTIVO    
       0, -- POSSUI RESTRICAO    
       @p_codigoUsuario,    
       @p_codigoErro  OUTPUT,    
       @p_descErro OUTPUT,    
       @p_qtLinhasAfetadas  OUTPUT    
    
      -- ABRE A SITUAÇÃO ATIVA    
      EXEC pr_PessoaGravaHistoricoSituacaoCadastro    
       @p_codigoPessoa, -- CODIGO DA PESSOA    
       4, -- ATIVA    
       1, -- INICIO     
       0, -- RESULTADO    
       '', -- MOTIVO    
       0, -- POSSUI RESTRICAO    
       @p_codigoUsuario,    
       @p_codigoErro  OUTPUT,    
       @p_descErro OUTPUT,    
       @p_qtLinhasAfetadas  OUTPUT    
    
     END    
    
        
    -- ***************************************************************    
    -- FIM DO FLUXO DE APROVAÇÃO    
    -- ***************************************************************    
    
    
    -- ***********************************************************************        
    -- VERIFICA SE DEVEMOS OU NÃO ALOCAR A PESSOA NA REDE     
    -- SOMENTE PARA REVENDEDORAS    
    -- ***********************************************************************    
        
    IF (@p_codigoFuncao = 2) and (@v_existeAlocacao = 0)    
     BEGIN    
         DECLARE @v_codigoEstruturaComercialSelecionada2 VARCHAR(255),
				 @v_numeroCiclo2 INT,
				 @v_mensagemErro2 NVARCHAR(MAX)
			
		EXEC [dbo].[pr_ApiSelecionaEstruturaComercialAlocacao]
			@p_codigoCentroDistribuicaoExterno,
			@p_codigoEstruturaComercial,
			@p_codigoEstruturaComercialSelecionada = @v_codigoEstruturaComercialSelecionada2 OUTPUT,
			@p_numeroCiclo = @v_numeroCiclo2 OUTPUT,
			@p_mensagemErro = @v_mensagemErro2 OUTPUT;

		SET @p_descWarning = ISNULL(@p_descWarning, '') + ISNULL(@v_mensagemErro2, '');

		-- SE A NOVA PROCEDURE DE SELEÇÃO ENCONTRAR UMA ESTRUTURA, SEGUIMOS COM ELA
		IF @v_codigoEstruturaComercialSelecionada2 IS NOT NULL
		BEGIN			
			SET @v_criaAlocacao = 1;
			SET @v_codigoEstComercialAutomatico = @v_codigoEstruturaComercialSelecionada2;
			SET @v_numeroCicloAlocacaoAutomatico = @v_numeroCiclo2;
		END
		ELSE
		BEGIN
			-- SE A NOVA PROCEDURE DE SELEÇÃO NÃO ENCONTRAR UMA ESTRUTURA, SEGUIMOS COM O FLUXO ANTERIOR
			-- ALTERAÇÃO POR DIEGO ZILIOTI EM 11/09/24, NÃO PODEMOS FAZER A ALOCAÇÃO AUTOMATICA AQUI, A API NÃO GRAVOU AINDA O ENDEREÇO DA PESSOA, VAMOS ALOCAR DEPOIS DE GRAVAR O ENDEREÇO
			--EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede    
			--   @p_codigoPessoa,    
			--   @v_codigoIndicante,    
			--   2,    
			--   @v_criaAlocacao      output, -- 1 para sim e 2 para não    
			--   @v_numeroCicloAlocacaoAutomatico output,     
			--   @v_codigoEstComercialAutomatico  output,     
			--   0,    
			--   '',    
			--   0   
			SET @v_criaAlocacao = 0
		END
           
      IF @v_criaAlocacao = 1    
       BEGIN    
           
        -- ****************************************************    
        -- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO    
        -- *******************************************************************    
        SELECT @v_existeAlocacao = COUNT(*)    
        FROM TB_ALOCACAO_REDE WITH(NOLOCK)    
        WHERE CD_PESSOA = @p_codigoPessoa    
        AND NM_CICLO = @v_numeroCicloAlocacaoAutomatico    
           
        IF @v_existeAlocacao = 0           
         BEGIN    
          EXEC pr_PessoaGeraAlocacaoRede    
            @p_codigoPessoa,    
            2,    
            @v_codigoEstComercialAutomatico,    
            @v_numeroCicloAlocacaoAutomatico,    
            @p_codigoUsuario,    
    
            0,    
            '',    
            0    
         END    
       END -- FIM DO @V_CRIA_ALOCACAO = 1    
           
      IF @v_codigoIndicante = 0    
       BEGIN    
            
        --BUSCA O CICLO ATUAL DA PESSOA PARA GRAVAR O VÍNCULO    
        SELECT @v_numeroCicloAtual = NM_CICLO_ATUAL    
        FROM TB_PESSOA_RESUMO WITH(NOLOCK)    
        WHERE CD_PESSOA = @p_codigoPessoa    
        AND CD_FUNCAO = 2    
            
        --NESTE CASO O CÓDIGO DE INDICANTE FOI INFORMADO APÓS O CADASTRO, PORTANTO DEVEMOS GRAVAR O VÍNCULO PARA GERAR A REDE    
        EXEC pr_PessoaInsereVinculo     
         @p_codigoPessoa,    
         2,    
         @v_numeroCicloAtual,    
         @p_codigoErro OUTPUT,    
         @p_descErro OUTPUT,    
         @p_qtLinhasAfetadas OUTPUT    
       END              
     END -- FIM (@ID_FUNCAO_CONSULTORA <> 0)      
         
    IF (@p_codigoFuncao = 1) and (@v_existeAlocacao >= 1)    
     BEGIN    
         
      SELECT @v_codigoIndicante = @p_codigoPessoaIndicante    
          
	  -- ALTERAÇÃO POR DIEGO ZILIOTI EM 11/09/24, NÃO PODEMOS FAZER A ALOCAÇÃO AUTOMATICA AQUI, A API NÃO GRAVOU AINDA O ENDEREÇO DA PESSOA, VAMOS ALOCAR DEPOIS DE GRAVAR O ENDEREÇO
      --EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede    
      -- @p_codigoPessoa,    
      -- @v_codigoIndicante,    
      -- 1,    
      -- @v_criaAlocacao      output, -- 1 para sim e 2 para não    
      -- @v_numeroCicloAlocacaoAutomatico output,     
      -- @v_codigoEstComercialAutomatico  output,     
      -- 0,    
      -- '',    
      -- 0    
      SET @v_criaAlocacao = 0
           
      IF @v_criaAlocacao = 1    
       BEGIN    
           
        -- ****************************************************    
        -- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO    
        -- *******************************************************************    
        SELECT @v_existeAlocacao = COUNT(*)    
        FROM TB_ALOCACAO_REDE WITH(NOLOCK)    
        WHERE CD_PESSOA = @p_codigoPessoa    
        AND NM_CICLO = @v_numeroCicloAlocacaoAutomatico    
           
        IF @v_existeAlocacao = 0           
         BEGIN    
          EXEC pr_PessoaGeraAlocacaoRede    
            @p_codigoPessoa,    
            1,    
            @v_codigoEstComercialAutomatico,    
            @v_numeroCicloAlocacaoAutomatico,    
            @p_codigoUsuario,    
    
            0,    
            '',    
            0    
         END    
       END -- FIM DO @V_CRIA_ALOCACAO = 1    
                     
     END -- FIM (@ID_FUNCAO_CONSULTORA <> 0)      
         
     -- ***************************************************************    
     -- FIM  DA ALOCAÇÃO AUTOMATICA    
     -- ***************************************************************    
            
    SELECT @p_descErro = 'Pessoa física com código ' + CONVERT(varchar(12), @p_codigoPessoa) + ' foi alterada com exito.'    
      
   END    
    
    
  -- ***********************************************************************    
  -- ALTERADO POR ANDERSON - 05/02/2020    
  -- VAMOS VERIFICAR SE EXISTE UMA INTEGRAÇÃO DE CADASTRO DE REVENDEDOR     
  -- EM CASO POSITIVO VAMOS GRAVAR NA TABELA TB_PESSOA A COLUNA ID_SITUACAO_INTEGRACAO = 1    
  -- NÃO TERIA PROBLEMA EM SUBIR EM TODOS OS BANCOS POIS CASO NAO TENHA INTEGRAÇÃO NÃO GRAVA A INFORMAÇÃO    
  -- ***********************************************************************    
  SELECT @v_possuiIntegracaoPessoa = COUNT(*)    
  FROM TB_INTEGRACAO A WITH(NOLOCK), TB_SERVICO_EXTERNO B WITH(NOLOCK)    
  WHERE A.CD_SERVICO_EXTERNO = B.CD_SERVICO_EXTERNO    
  AND ID_TIPO_INTEGRACAO = 1    
  AND B.ID_SITUACAO = 1    
    
  IF @v_possuiIntegracaoPessoa > 0    
   BEGIN    
    IF @p_descAcao = 'I'    
     BEGIN    
      UPDATE TB_PESSOA SET ID_SITUACAO_INTEGRACAO = 1    
      WHERE CD_PESSOA = @Identity    
     END    
    
    IF @p_descAcao = 'A'    
     BEGIN    
      UPDATE TB_PESSOA SET ID_SITUACAO_INTEGRACAO = 1    
      WHERE CD_PESSOA = @p_codigoPessoa    
     END    
   END    
  -- ***********************************************************************    
  -- FIM    
  -- ***********************************************************************    
    
	-- VALIDAÇÃO PALIATIVA ADICIONADA POR DIEGO ZILIOTI EM 12/08/2024
	-- TEMOS UM CENÁRIO ONDE AO RECEBER A ATUALIZAÇÃO DE UM CADASTRO (OU INSERÇÃO) TEMOS CASOS DE REVENDEDORES DA CACAU SHOW QUE JÁ FIZERAM O PRIMEIRO PEDIDO
	-- NESTES CASOS A GEEK NOS ENVIA AS ATUALIZAÇÕES E AÍ TEMOS A GARANTIA QUE ESTES REVENDEDORES JÁ FIZERAM O PRIMEIRO PEDIDO, VAMOS ADICIONAR A INFORMAÇÃO DA ISENÇÃO DO KIT INICIO NESTES CADASTROS

	-- ********* ATENÇÃO !! ATENÇÃO !! ATENÇÃO !! ATENÇÃO !! ATENÇÃO
	-- O USUÁRIO DE PRODUÇÃO DA GEEK É O -8, JÁ EM HOMOLOGAÇÃO É O -9, PORTANTO ESSA PARTE NÃO PODERÁ FICAR EQUALIZADA NUNCA

	IF @p_codigoUsuario = -8 -- USUÁRIO DA GEEK NA API
		BEGIN
			IF @p_descAcao = 'I'    
				BEGIN    
					UPDATE TB_PESSOA_RESUMO SET ID_VIP_ISENCAO_COMPRA_KIT = 1
					WHERE CD_PESSOA = @Identity
					AND CD_FUNCAO = 2
				END    
    		IF @p_descAcao = 'A'    
				BEGIN    
					UPDATE TB_PESSOA_RESUMO SET ID_VIP_ISENCAO_COMPRA_KIT = 1    
					WHERE CD_PESSOA = @p_codigoPessoa
					AND CD_FUNCAO = 2
				END
		END

  IF @p_descAcao = 'E'    
   BEGIN    
    -- PRIMEIRAMENTE VAMOS EXCLUIR OS DADOS DE TODAS AS TABELAS QUE POSSUAM REFERÊNCIAS DE FKS    
    DELETE FROM TB_PESSOA_DOCUMENTO WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_EMAIL WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_ENDERECO WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_TELEFONE WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_HIST_SITUACAO_CONSULTORA WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_PAPEL_HIST_DATA WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_PAPEL_HISTORICO WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_PAPEL_HISTORICO_COMPLETO WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_COLABORADOR WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_CONTA_CORRENTE WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_ALOCACAO_REDE WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_INDICADOR WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_FISICA WHERE CD_PESSOA = @p_codigoPessoa    
    DELETE FROM TB_PESSOA_JURIDICA WHERE CD_PESSOA = @p_codigoPessoa    
    
    -- APÓS LIMPAR TODAS AS TABELAS COM RELACIONAMENTOS FINALMENTE EXCLUI A PESSOA    
    DELETE FROM TB_PESSOA WHERE CD_PESSOA = @p_codigoPessoa    
        
   END    
END TRY     
    
BEGIN CATCH    
   -- Whoops, there was an error    
      SELECT @p_codigoErro = 2    
      SELECT @p_descErro = ERROR_MESSAGE()    
          
   IF @@TRANCOUNT > 0    
    ROLLBACK TRANSACTION     
    
   -- Raise an error with the details of the exception    
   --RAISERROR(@p_descErro, @p_codigoErro, 1)    
END CATCH;
GO
