SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[pr_InserePoliticaEntregaFaixaCep]
	@p_cd_politicaEntrega 	NUMERIC(18,0),
	@p_v_inicialFaixaCep    VARCHAR(20),
	@p_v_finalFaixaCep      VARCHAR(20),
	--@p_v_inicialFaixaCep    numeric(18,0),
	--@p_v_finalFaixaCep      numeric(18,0),
	@p_dt_Cadastro          datetime,
	
	@p_codigoUsuario				NUMERIC(18,0),
	@p_descricaoTipoFuncao			VARCHAR(1),
	
	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_POLITICA_ENTREGA_FAIXA_CEP (
				CD_POLITICA_ENTREGA,
				V_INICIAL_FAIXA_CEP,
				V_FINAL_FAIXA_CEP,
				DT_CADASTRO,
				CD_USUARIO )
						
				VALUES (
				@p_cd_politicaEntrega,
				@p_v_inicialFaixaCep,
				@p_v_finalFaixaCep,
				GETDATE(),
				@p_codigoUsuario
					)
				
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
						
				COMMIT TRANSACTION
			END	
			
				IF @p_descricaoTipoFuncao = 'A'
				BEGIN
				BEGIN TRANSACTION 

				update TB_POLITICA_ENTREGA_FAIXA_CEP set
				V_INICIAL_FAIXA_CEP = @p_v_inicialFaixaCep,
				V_FINAL_FAIXA_CEP = @p_v_finalFaixaCep,
				DT_CADASTRO = @p_dt_Cadastro,
				CD_USUARIO = @p_codigoUsuario
				where CD_POLITICA_ENTREGA = @p_cd_politicaEntrega
				
				SELECT @p_linhasAfetadas = @@ROWCOUNT
			    COMMIT TRANSACTION
			END	

			IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM TB_POLITICA_ENTREGA_FAIXA_CEP 
				WHERE CD_POLITICA_ENTREGA = @p_cd_politicaEntrega

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
