SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- *********************************************************
-- ESSA PROCEDURE AVALISA SE DEVEMOS OU NÃO FAZER 
-- A ALOCAÇÃO DE REDE AUTOMATICAMENTE E EM CASO
-- POSITIVO RETORNA CICLO E ESTRUTURA COMERCIAL NO
-- QUAL DEVE SER ALOCADO
-- *********************************************************

CREATE PROCEDURE [dbo].[pr_PessoaAnalisaAlocacaoAutomaticaRede]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoPessoaIndicante		numeric(18,0),
	@p_codigoFuncao					int,

	@p_codigoCriaAlocacao			int				output,	-- 1 para sim e 2 para não
	@p_numeroCiclo					numeric(18,0)	output, 
	@p_codigoEstruturaComercial		numeric(18,0)	output, 
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output
	
AS


DECLARE @v_valorParametroAlocacaoResp				int,
		@v_valorParametroAlocacaoIndicante			int,
		@v_valorParametroAlocacao					int,
		@v_valorParametroAlocacaoCobGeografica		int,
		@v_valorParametroAlocacaoCobGeograficaResp	int,
		@v_valorParametroAlocacaoCobGeograficaIndic	int,
		@v_valorParametroAlocacaoColabFranquia		int,
		@v_valorParametroAlocacaoColabMatriz		int,
		@v_qtdRegistros								int,
		@v_codigoEstruturaComercial					numeric(18,0),
		@v_numeroCiclo								int,
		@v_codigoEstruturaComercialIndicante		numeric(18,0),
		@v_codigoEstruturaComercialPadrao			numeric(18,0),
		@v_codigoEstruturaComercialExcecao			numeric(18,0),
		@v_codigoEstruturaComercialExcecaoMatriz	numeric(18,0),
		@v_codigoEstruturaGeograficaResidencial		numeric(18,0),
		@v_codigoEstruturaComercialEscolhida		numeric(18,0),
		@v_codigoPostal								varchar(20),
		@v_codigoUsuarioCadastro					numeric(18,0),
		@v_codigoEmpresaColaborador					numeric(18,0),
		@v_idEmpresaMatriz							int

-- *********************************************************
-- EQUALIZAÇÃO DE VERSÕES FEITA POR DIEGO EM 14/10
-- A ALOCAÇÃO AUTOMÁTICA RESPEITARÁ 4 PARÂMETROS EXISTENTES NO SISTEMA E SEGUIRÁ A SEGUINTE ORDEM:
-- 1º - VERIFICA SE A PESSOA ESCOLHEU UMA EST COMERCIAL (MODA DO CHEF)
-- 2º - ALOCA NA EST COMERCIAL PADRÃO - IRÁ VERIFICAR SE NA FUNÇÃO DA PESSOA EXISTE UMA EST PADRÃO,
--	    NESTE CASO ELA SERÁ MANDATÓRIA E A PESSOA ENTRARÁ NESTA EST COMERCIAL INDEPENDENTE DOS DEMAIS PARÂMETROS
-- 2º - ALOCA AUT. NA EST DA SUPERVISORA - CASO LIGADO DEFINE QUE UMA PESSOA CADASTRADA POR UMA RESPONSÁVEL
--		POR UMA EST COMERCIAL ENTRARÁ DIRETAMENTE NESTA ESTRUTURA E FICARÁ LIGADA A ESTA ESTRUTURA INDEPENDENTE DOS PARÂMETROS SEGUINTES.
-- 3º - ALOCA AUT. NA EST DO INDICANTE - CASO LIGADO DEFINE QUE UMA PESSOA CADASTRADA ENTRARÁ DIRETAMENTE NA MESMA EST DE SEU INDICANTE CASO ESTE SEJA INFORMADO
-- 4º - ALOCA AUT. SEM INDICANTE - NESTE CASO QUANDO LIGADO VERIFICARÁ A PRIMEIRA ESTRUTURA APTA A RECEBER A PESSOA, RESPEITANDO OS SEGUINTES CRITÉRIOS EM ORDEM:
--		- VERIFICA COBERTURA GEOGRÁFICA - CASO LIGADO IREMOS BUSCAR AS ESTRUTURAS QUE ATENDAM A REGIÃO GEOGRÁFICA DA PESSOA,
--										  CASO CONTRÁRIO TODAS ESTRUTURAS APTAS SERÃO LISTADAS
--		- APLICAÇÃO DO RODÍZIO - CASO SEJA IDENTIFICADA MAIS DE UMA ESTRUTURA APTA A ATENDER A PESSOA SERÁ APLICADO O CONCEITO DO RODÍZIO DE ESTRUTURAS
-- 5º - ALOCA NA EST COMERCIAL DE EXCEÇÃO - CASO CONFIGURADA UMA EST COMERCIAL DE EXCEÇÃO NA FUNÇÃO 
--		ELA SERÁ APLICADA NOS CASOS ONDE TODOS OS CRITÉRIOS DE ALOCAÇÃO AUTOMÁTICA NÃO FOREM CUMPRIDOS
-- *********************************************************
				
BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	select @p_codigoCriaAlocacao = 0


	-- *****************************************************************
	-- VAMOS BUSCAR AS INFORMAÇÕES DAS EST COMERCIAIS QUE A PROPRIA PESSOA ESCOLHEU
	-- ESSE CONCEITO ESTA IMPLANTADO APENAS NA MODA DO CHEF
	-- O PROPRIO CONSULTOR NA TELA DE CADASTRO ESCOLHE A EST. COMERCIAL
	-- *****************************************************************
	SELECT @v_codigoEstruturaComercialEscolhida = ISNULL(CD_EST_COMERCIAL_ESCOLHIDA,0) 
	FROM TB_PESSOA_RESUMO WITH(NOLOCK)
	WHERE CD_PESSOA = @p_codigoPessoa
	AND CD_FUNCAO = @p_codigoFuncao
	   	
	-- *****************************************************************
	-- VAMOS BUSCAR AS INFORMAÇÕES DAS EST COMERCIAIS PADRÃO E EXCEÇÃO DA FUNCAO
	-- *****************************************************************
	SELECT @v_codigoEstruturaComercialPadrao = ISNULL(CD_EST_COMERCIAL_PADRAO,0),
		   @v_codigoEstruturaComercialExcecao = ISNULL(CD_EST_COMERCIAL_EXCECAO,0)
	  FROM TB_FUNCAO WITH(NOLOCK)
	 WHERE CD_FUNCAO = @p_codigoFuncao
	
	-- *********************************************************
	-- APLICAÇÃO DO 1º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA:
	-- *********************************************************
	
	IF @v_codigoEstruturaComercialEscolhida > 0
		BEGIN
			
			-- verifica se existe algum ciclo ativo
			SELECT  @v_qtdRegistros  = COUNT(*)
			FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
			WHERE convert(char(10), getdate(), 121) BETWEEN
			convert(char(10), DT_INICIAL, 121)
			AND convert(char(10), DT_FINAL, 121)
			AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialEscolhida
			
			IF @v_qtdRegistros = 0
				BEGIN
					SELECT @p_codigoCriaAlocacao = 2
					SELECT @p_numeroCiclo = 0
					SELECT @p_codigoEstruturaComercial = 0

				END
			ELSE
				BEGIN
					SELECT  TOP 1 @v_numeroCiclo = NM_CICLO, @v_codigoEstruturaComercial = CD_EST_COMERCIAL
					FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
					WHERE convert(char(10), getdate(), 121) BETWEEN
					convert(char(10), DT_INICIAL, 121)
					AND convert(char(10), DT_FINAL, 121)
					AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialEscolhida
				
					SELECT @p_codigoCriaAlocacao = 1
					SELECT @p_numeroCiclo = @v_numeroCiclo
					SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
					
					RETURN
				END	
		
		END
	
	-- *********************************************************
	-- FIM 1º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA
	-- *********************************************************

	-- *********************************************************
	-- APLICAÇÃO DO 2º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA:
	-- ALOCA NA EST COMERCIAL PADRÃO - IRÁ VERIFICAR SE NA FUNÇÃO DA PESSOA EXISTE UMA EST PADRÃO,
	-- NESTE CASO ELA SERÁ MANDATÓRIA E A PESSOA ENTRARÁ NESTA EST COMERCIAL INDEPENDENTE DOS DEMAIS PARÂMETROS
	-- *********************************************************
	
	IF @v_codigoEstruturaComercialPadrao > 0
		BEGIN
			
			-- verifica se existe algum ciclo ativo
			SELECT  @v_qtdRegistros  = COUNT(*)
			FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
			WHERE convert(char(10), getdate(), 121) BETWEEN
			convert(char(10), DT_INICIAL, 121)
			AND convert(char(10), DT_FINAL, 121)
			AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialPadrao
			
			IF @v_qtdRegistros = 0
				BEGIN
					SELECT @p_codigoCriaAlocacao = 2
					SELECT @p_numeroCiclo = 0
					SELECT @p_codigoEstruturaComercial = 0

				END
			ELSE
				BEGIN
					SELECT  TOP 1 @v_numeroCiclo = NM_CICLO, @v_codigoEstruturaComercial = CD_EST_COMERCIAL
					FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
					WHERE convert(char(10), getdate(), 121) BETWEEN
					convert(char(10), DT_INICIAL, 121)
					AND convert(char(10), DT_FINAL, 121)
					AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialPadrao
				
					SELECT @p_codigoCriaAlocacao = 1
					SELECT @p_numeroCiclo = @v_numeroCiclo
					SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
					
					RETURN
				END	
		
		END
	
	-- *********************************************************
	-- FIM 2º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA
	-- *********************************************************
	
	-- *****************************************************************
	-- APLICAÇÃO DO 2º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA:
	-- VAMOS BUSCAR O PARÂMETRO DE ALOCAÇÃO NA EST DO RESP, VAMOS BUSCAR A PESSOA QUE FEZ O CADASTRO
	-- CASO SEJA UMA SUPERVISORA DEVEMOS VERIFICAR SE DEVERÁ SER ALOCADA AUTOMATICAMENTE NO SETOR AO QUAL ELA É RESPONSÁVEL
	-- *****************************************************************
	select @v_valorParametroAlocacaoResp = ISNULL(VL_PARAMETRO,2)
	  from TB_VALOR_PARAMETRO WITH(NOLOCK)
	 where CD_GRUPO_PARAMETRO = 2
	   and CD_PARAMETRO = 5
	   
	if @v_valorParametroAlocacaoResp = 1 AND @p_codigoCriaAlocacao <> 1
		begin
			SELECT @v_codigoUsuarioCadastro = ISNULL(CD_USUARIO_CADASTRO,0)
			  FROM TB_PESSOA WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa	
			
			-- *************************************************************************************
			-- ALTERAÇÃO POR DIEGO ZILIOTI EM 24/08/2021 - ATIVIDADE #2751 - CLIENTE LOWELL
			-- IREMOS AVALIAR SE SERÁ NECESSÁRIO VERIFICAR A CODBERTURA GEOGRÁFICA DA RESPONSÁVEL QUE CADASTROU A PESSOA
			-- *************************************************************************************
			select @v_valorParametroAlocacaoCobGeograficaResp = ISNULL(VL_PARAMETRO,2)
				from TB_VALOR_PARAMETRO WITH(NOLOCK)
				where CD_GRUPO_PARAMETRO = 2
				and CD_PARAMETRO = 10
			
			IF @v_valorParametroAlocacaoCobGeograficaResp = 1
				BEGIN
					-- *****************************************************************
					-- VAMOS BUSCAR QUAL É A EST GEOGRÁFICA DO ENDEREÇO RESIDENCIAL DA PESSOA E O CEP RESIDENCIAL
					-- *****************************************************************
					select @v_codigoEstruturaGeograficaResidencial = CD_EST_GEOGRAFICA,
						   @v_codigoPostal = DC_CODIGO_POSTAL 
					  from TB_PESSOA_ENDERECO pe WITH(NOLOCK)
					 where pe.CD_PESSOA = @p_codigoPessoa
					   and (pe.ID_TIPO_ENDERECO = 1 or pe.ID_TIPO_ENDERECO = 3) --RESIDENCIAL ou FISCAL

					SELECT  @v_qtdRegistros  = COUNT(*)
					  FROM TB_CALENDARIO_COMERCIAL cc WITH(NOLOCK), TB_EST_COMERCIAL_HIERARQUIA eh WITH(NOLOCK), TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK)
					 WHERE convert(char(10), getdate(), 121) BETWEEN
						   convert(char(10), cc.DT_INICIAL, 121)
					   AND convert(char(10), cc.DT_FINAL, 121)
					   AND eh.CD_EST_COMERCIAL = cc.CD_EST_COMERCIAL
					   AND EH.CD_EST_COMERCIAL = C.CD_EST_COMERCIAL
					   AND eh.CD_PESSOA_RESPONSAVEL = @v_codigoUsuarioCadastro
					   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1
					   AND eh.NM_CICLO_INICIO = (SELECT MAX(NM_CICLO_INICIO) FROM TB_EST_COMERCIAL_HIERARQUIA eh2 WITH(NOLOCK)
												 WHERE eh2.CD_EST_COMERCIAL = eh.CD_EST_COMERCIAL)
				END
			ELSE
				BEGIN
					
					-- *****************************************************************************************************************
					-- ALTERAÇÃO FEITA POR ANDERSON - 26/06/2024 - BITRIX 5687 
					-- ESTAVA ALOCANDO PESSOAS EM ESTRUTURAS INATIVAS
					-- QUANDO UM COLABORADOR (QUE TAMBEM TEM FUNÇÃO DE FV E É RESPONSAVEL POR UM SETOR) REALIZAVA UM CADASTRO O SISTEMA ALOCAVA
					-- A PESSOA NA EST COMERCIAL NO QUAL O COLABORADOR ERA RESPONSAVEL, MESMO ESSA ESTRUTURA ESTANDO INATIVA
					-- AJUSTAMOS PARA VERIFICAR SE A EST COMERCIAL ESTA ATIVA
					-- *****************************************************************************************************************
					--SELECT  @v_qtdRegistros  = COUNT(*)
					--  FROM TB_CALENDARIO_COMERCIAL cc WITH(NOLOCK), TB_EST_COMERCIAL_HIERARQUIA eh WITH(NOLOCK)
					-- WHERE convert(char(10), getdate(), 121) BETWEEN
					--	   convert(char(10), cc.DT_INICIAL, 121)
					--   AND convert(char(10), cc.DT_FINAL, 121)
					--   AND eh.CD_EST_COMERCIAL = cc.CD_EST_COMERCIAL
					--   AND eh.CD_PESSOA_RESPONSAVEL = @v_codigoUsuarioCadastro
					--   AND eh.NM_CICLO_INICIO = (SELECT MAX(NM_CICLO_INICIO) FROM TB_EST_COMERCIAL_HIERARQUIA eh2 WITH(NOLOCK)
					--							 WHERE eh2.CD_EST_COMERCIAL = eh.CD_EST_COMERCIAL)

					
					SELECT  @v_qtdRegistros  = COUNT(*)
					  FROM	TB_CALENDARIO_COMERCIAL cc WITH(NOLOCK), 
							TB_EST_COMERCIAL_HIERARQUIA eh WITH(NOLOCK),
							TB_EST_COMERCIAL ec WITH(NOLOCK)
					 WHERE convert(char(10), getdate(), 121) BETWEEN
						   convert(char(10), cc.DT_INICIAL, 121)
					   AND convert(char(10), cc.DT_FINAL, 121)
					   AND eh.CD_EST_COMERCIAL = cc.CD_EST_COMERCIAL
					   AND eh.CD_PESSOA_RESPONSAVEL = @v_codigoUsuarioCadastro
					   AND eh.NM_CICLO_INICIO = (SELECT MAX(NM_CICLO_INICIO) FROM TB_EST_COMERCIAL_HIERARQUIA eh2 WITH(NOLOCK)
												 WHERE eh2.CD_EST_COMERCIAL = eh.CD_EST_COMERCIAL)
					   AND ec.CD_EST_COMERCIAL = cc.CD_EST_COMERCIAL
					   AND ec.ID_ATIVO = 1

				END
			
			IF @v_qtdRegistros = 0
				BEGIN
					SELECT @p_codigoCriaAlocacao = 2
					SELECT @p_numeroCiclo = 0
					SELECT @p_codigoEstruturaComercial = 0
				END
			ELSE
				BEGIN
					IF @v_valorParametroAlocacaoCobGeograficaResp = 1
						BEGIN
							SELECT TOP 1 @v_numeroCiclo = cc.NM_CICLO, @v_codigoEstruturaComercial = cc.CD_EST_COMERCIAL 
							  FROM TB_CALENDARIO_COMERCIAL cc WITH(NOLOCK), TB_EST_COMERCIAL_HIERARQUIA eh WITH(NOLOCK), TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) BETWEEN
								   convert(char(10), cc.DT_INICIAL, 121)
							   AND convert(char(10), cc.DT_FINAL, 121)
							   AND eh.CD_EST_COMERCIAL = cc.CD_EST_COMERCIAL
							   AND EH.CD_EST_COMERCIAL = C.CD_EST_COMERCIAL
							   AND eh.CD_PESSOA_RESPONSAVEL = @v_codigoUsuarioCadastro
							   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1
							   AND eh.NM_CICLO_INICIO = (SELECT MAX(NM_CICLO_INICIO) FROM TB_EST_COMERCIAL_HIERARQUIA eh2 WITH(NOLOCK)
														 WHERE eh2.CD_EST_COMERCIAL = eh.CD_EST_COMERCIAL)
												 
							SELECT @p_codigoCriaAlocacao = 1
							SELECT @p_numeroCiclo = @v_numeroCiclo
							SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
					
							RETURN
						END
					ELSE
						BEGIN
							SELECT TOP 1 @v_numeroCiclo = cc.NM_CICLO, @v_codigoEstruturaComercial = cc.CD_EST_COMERCIAL 
							  FROM TB_CALENDARIO_COMERCIAL cc WITH(NOLOCK), TB_EST_COMERCIAL_HIERARQUIA eh WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) BETWEEN
								   convert(char(10), cc.DT_INICIAL, 121)
							   AND convert(char(10), cc.DT_FINAL, 121)
							   AND eh.CD_EST_COMERCIAL = cc.CD_EST_COMERCIAL
							   AND eh.CD_PESSOA_RESPONSAVEL = @v_codigoUsuarioCadastro
							   AND eh.NM_CICLO_INICIO = (SELECT MAX(NM_CICLO_INICIO) FROM TB_EST_COMERCIAL_HIERARQUIA eh2 WITH(NOLOCK)
														 WHERE eh2.CD_EST_COMERCIAL = eh.CD_EST_COMERCIAL)
												 
							SELECT @p_codigoCriaAlocacao = 1
							SELECT @p_numeroCiclo = @v_numeroCiclo
							SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
					
							RETURN
						END
				END
			   
		end
		
	-- *********************************************************
	-- FIM 2º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA
	-- *********************************************************
	
	-- *****************************************************************
	-- APLICAÇÃO DO 3º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA:
	-- ALOCA NA EST COMERCIAL DO INDICANTE - A PESSOA CADASTRADA ENTRARÁ DIRETAMENTE NA MESMA EST DE SEU INDICANTE CASO ESTE SEJA INFORMADO
	-- *****************************************************************
	
	IF @p_codigoPessoaIndicante <> 0 and @p_codigoCriaAlocacao <> 1
		BEGIN
		
			-- VERIFICA O PARAMETRO
			SELECT @v_valorParametroAlocacaoIndicante = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 2
			AND CD_PARAMETRO = 4
			AND CD_VALOR_PARAMETRO = 1

			-- ***************************************************************************************************
			-- NOVO CENÁRIO - ATIVIDADE #4289 - VERIFICAR COBERTURA GEOGRÁFICA NA ALOCAÇÃO DO SETOR DO INDICANTE - POR DIEGO ZILIOTI
			-- VAMOS CHECAR UM NOVO PARÂMETRO PARA VERIFICAR OU NÃO A COBERTURA GEOGRÁFICA DO SETOR DO INDICANTE SE ATENDER PERMITIRÁ A ALOCAÇÃO
			-- ***************************************************************************************************
			select @v_valorParametroAlocacaoCobGeograficaIndic = ISNULL(VL_PARAMETRO,2)
			  from TB_VALOR_PARAMETRO WITH(NOLOCK)
			 where CD_GRUPO_PARAMETRO = 2
			   and CD_PARAMETRO = 12

			IF @v_valorParametroAlocacaoIndicante = 1  -- aloca automatico
				BEGIN
					
					IF @v_valorParametroAlocacaoCobGeograficaIndic = 1 -- VERIFICA COBERTURA GEOGRÁFICA
						BEGIN
							-- BUSCA OS DADOS DO ENDEREÇO PARA A VALIDAÇÃO DA COBERTURA GEOGRÁFICA
							select @v_codigoEstruturaGeograficaResidencial = CD_EST_GEOGRAFICA,
								   @v_codigoPostal = DC_CODIGO_POSTAL 
							  from TB_PESSOA_ENDERECO pe WITH(NOLOCK)
							 where pe.CD_PESSOA = @p_codigoPessoa
							   and (pe.ID_TIPO_ENDERECO = 1 or pe.ID_TIPO_ENDERECO = 3) --RESIDENCIAL ou FISCAL

							-- BUSCA A ESTRUTURA COMERCIAL DA INDICANTE
							SELECT @v_codigoEstruturaComercialIndicante = ISNULL(MIN(CD_EST_COMERCIAL),0)
							FROM TB_PESSOA_RESUMO WITH(NOLOCK)
							WHERE CD_PESSOA  = @p_codigoPessoaIndicante
							AND CD_FUNCAO = @p_codigoFuncao
					
							-- SE A INDICANTE NAO TIVER EST COMERCIAL NAO VAMOS CRIAR AUTOMATICAMENTE
							IF @v_codigoEstruturaComercialIndicante = 0
								BEGIN
									SELECT @p_codigoCriaAlocacao = 2
									SELECT @p_numeroCiclo = 0
									SELECT @p_codigoEstruturaComercial = 0
								END				
							ELSE
								BEGIN
									-- verifica se existe algum ciclo ativo por estrutura geográfica
									SELECT  @v_qtdRegistros  = COUNT(*)
									  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
										   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
										   TB_EST_COMERCIAL E WITH(NOLOCK)
									 WHERE convert(char(10), getdate(), 121) 
										   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
									   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
									   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
									   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
									   AND E.ID_ATIVO = 1
									   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1 
									   and E.CD_EST_COMERCIAL = @v_codigoEstruturaComercialIndicante -- CHECA O SETOR DO INDICANTE
						
									IF @v_qtdRegistros = 0 -- NAO ACHOU POR EST GEO, VAMOS CHECAR POR CEP
										BEGIN
											-- verifica se existe algum ciclo ativo por estrutura geográfica
											SELECT  @v_qtdRegistros  = COUNT(*)
											  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
												   TB_EST_COMERCIAL_FAIXA_CEP C WITH(NOLOCK),
												   TB_EST_COMERCIAL E WITH(NOLOCK)
											 WHERE convert(char(10), getdate(), 121) 
												   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
											   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
											   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
											   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
											   AND E.ID_ATIVO = 1
											   AND convert(numeric,@v_codigoPostal) BETWEEN convert(numeric,C.DC_FAIXA_INICIAL_CEP) AND convert(numeric,C.DC_FAIXA_FINAL_CEP)
											   and E.CD_EST_COMERCIAL = @v_codigoEstruturaComercialIndicante -- CHECA O SETOR DO INDICANTE

											IF @v_qtdRegistros = 0
												BEGIN
													SELECT @p_codigoCriaAlocacao = 2
													SELECT @p_numeroCiclo = 0
													SELECT @p_codigoEstruturaComercial = 0
												END
											ELSE
												BEGIN
													SELECT TOP 1 @v_numeroCiclo = NM_CICLO, @v_codigoEstruturaComercial = CD_EST_COMERCIAL
													FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
													WHERE convert(char(10), getdate(), 121) BETWEEN
													convert(char(10), DT_INICIAL, 121)
													AND convert(char(10), DT_FINAL, 121)
													AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialIndicante
						
													SELECT @p_codigoCriaAlocacao = 1
													SELECT @p_numeroCiclo = @v_numeroCiclo
													SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
							
													RETURN
												END
										END
									ELSE
										BEGIN
											SELECT TOP 1 @v_numeroCiclo = NM_CICLO, @v_codigoEstruturaComercial = CD_EST_COMERCIAL
											FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
											WHERE convert(char(10), getdate(), 121) BETWEEN
											convert(char(10), DT_INICIAL, 121)
											AND convert(char(10), DT_FINAL, 121)
											AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialIndicante
						
											SELECT @p_codigoCriaAlocacao = 1
											SELECT @p_numeroCiclo = @v_numeroCiclo
											SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
							
											RETURN
										END
								END
						END
					ELSE
						BEGIN
							-- BUSCA A ESTRUTURA COMERCIAL DA INDICANTE
							SELECT @v_codigoEstruturaComercialIndicante = ISNULL(MIN(CD_EST_COMERCIAL),0)
							FROM TB_PESSOA_RESUMO WITH(NOLOCK)
							WHERE CD_PESSOA  = @p_codigoPessoaIndicante
							AND CD_FUNCAO = @p_codigoFuncao
					
							-- SE A INDICANTE NAO TIVER EST COMERCIAL NAO VAMOS CRIAR AUTOMATICAMENTE
							IF @v_codigoEstruturaComercialIndicante = 0
								BEGIN
									SELECT @p_codigoCriaAlocacao = 2
									SELECT @p_numeroCiclo = 0
									SELECT @p_codigoEstruturaComercial = 0
								END				
				
							-- SE EXISTE A EST COMERCIAL DA INDICANTE VAMOS BUSCAR UM CICLO ATIVO
							SELECT  @v_qtdRegistros  = COUNT(*)
							FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
							WHERE convert(char(10), getdate(), 121) BETWEEN
							convert(char(10), DT_INICIAL, 121)
							AND convert(char(10), DT_FINAL, 121)
							AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialIndicante
						
							IF @v_qtdRegistros = 0 -- NAO POSSUI CICLO ATIVO
								BEGIN
									SELECT @p_codigoCriaAlocacao = 2
									SELECT @p_numeroCiclo = 0
									SELECT @p_codigoEstruturaComercial = 0
								END
							ELSE
								BEGIN
									SELECT  TOP 1 @v_numeroCiclo = NM_CICLO, @v_codigoEstruturaComercial = CD_EST_COMERCIAL
									FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
									WHERE convert(char(10), getdate(), 121) BETWEEN
									convert(char(10), DT_INICIAL, 121)
									AND convert(char(10), DT_FINAL, 121)
									AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialIndicante
						
									SELECT @p_codigoCriaAlocacao = 1
									SELECT @p_numeroCiclo = @v_numeroCiclo
									SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
							
									RETURN
								END	
						END
				END

		END
	
	-- *********************************************************
	-- FIM 3º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA
	-- *********************************************************
	
	-- *****************************************************************
	-- APLICAÇÃO DO 4º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA:
	-- ALOCA AUT. SEM INDICANTE - VERIFICARÁ A PRIMEIRA ESTRUTURA APTA A RECEBER A PESSOA, RESPEITANDO OS SEGUINTES CRITÉRIOS EM ORDEM:
	--		- VERIFICA COBERTURA GEOGRÁFICA - CASO LIGADO IREMOS BUSCAR AS ESTRUTURAS QUE ATENDAM A REGIÃO GEOGRÁFICA DA PESSOA,
	--										  CASO CONTRÁRIO TODAS ESTRUTURAS APTAS SERÃO LISTADAS
	--		- APLICAÇÃO DO RODÍZIO - CASO SEJA IDENTIFICADA MAIS DE UMA ESTRUTURA APTA A ATENDER A PESSOA SERÁ APLICADO O CONCEITO DO RODÍZIO DE ESTRUTURAS
	-- *****************************************************************
	-- NOVA VALIDAÇÃO DENTRO DO 4º CRITÉRIO, ADICIONADO POR DIEGO ZILIOTI EM 27/07/2021 - ATIVIDADE BITRIX #2645 - RODÍZIO FRANQUIAS
	-- TEREMOS DOIS NOVOS PARÂMETROS PARA VALIDAR NO CRITÉRIO DE COBERTURA GEOGRÁFICA:
	-- O PRIMEIRO PARÂMETRO IRÁ PERMITIR A ALOCAÇÃO DA PESSOA DIRETAMENTE NA EST COMERCIAL VINCULADA AO MESMO CD DO COLABORADOR QUE CADASTROU A PESSOA, DESDE QUE A EST ATENDA A REGIÃO DA PESSOA CADASTRADA
	-- O SEGUNDO PARÂMETRO TERÁ O COMPORTAMENTO PARECIDO PORÉM VOLTADO AO COLABORADOR DA MATRIZ, NESTE CASO VAMOS CHECAR SE A EST DA MATRIZ É DE EXCEÇÃO, SE FOR DE EXCEÇÃO A PESSOA SERÁ ALOCADA INDEPENDENTE DA COBERTURA
	-- SE NÃO FOR DE EXCEÇÃO A PESSOA SERÁ ALOCADA SOMENTE SE A EST ATENDER O ENDEREÇO DA PESSOA, CASO CONTRÁRIO A ALOCAÇÃO CONTINUA O FLUXO NORMAL
	-- *****************************************************************
	-- VAMOS BUSCAR QUAL É A EST GEOGRÁFICA DO ENDEREÇO RESIDENCIAL DA PESSOA E O CEP RESIDENCIAL
	-- *****************************************************************
	select @v_codigoEstruturaGeograficaResidencial = CD_EST_GEOGRAFICA,
		   @v_codigoPostal = DC_CODIGO_POSTAL 
	  from TB_PESSOA_ENDERECO pe WITH(NOLOCK)
	 where pe.CD_PESSOA = @p_codigoPessoa
	   and (pe.ID_TIPO_ENDERECO = 1 or pe.ID_TIPO_ENDERECO = 3) --RESIDENCIAL ou FISCAL
	
	IF @p_codigoCriaAlocacao <> 1
		BEGIN

			-- VERIFICA O PARAMETRO ALOCAÇÃO SEM INDICANTE
			SELECT @v_valorParametroAlocacao = VL_PARAMETRO
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 2
			AND CD_PARAMETRO = 3
			AND CD_VALOR_PARAMETRO = 1
			
			-- VERIFICAR O PARÂMETRO DA ALOCAÇÃO POR EST GEOGRÁFICA
			SELECT @v_valorParametroAlocacaoCobGeografica = VL_PARAMETRO
			  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			 WHERE CD_GRUPO_PARAMETRO = 2
			   AND CD_PARAMETRO = 1
			   AND CD_VALOR_PARAMETRO = 1

			-- VERIFICA O PARÂMETRO DE ALOCAÇÃO NA MESMA EST DO COLABORADOR DA FRANQUIA
			SELECT @v_valorParametroAlocacaoColabFranquia = VL_PARAMETRO
			  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			 WHERE CD_GRUPO_PARAMETRO = 2
			   AND CD_PARAMETRO = 7
			   AND CD_VALOR_PARAMETRO = 1

			-- VERIFICA O PARÂMETRO DE ALOCAÇÃO NA MESMA EST DO COLABORADOR DA MATRIZ
			SELECT @v_valorParametroAlocacaoColabMatriz = VL_PARAMETRO
			  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			 WHERE CD_GRUPO_PARAMETRO = 2
			   AND CD_PARAMETRO = 7
			   AND CD_VALOR_PARAMETRO = 1

			-- BUSCA O USUÁRIO DE CADASTRO
			SELECT @v_codigoUsuarioCadastro = CD_USUARIO_CADASTRO
			  FROM TB_PESSOA WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa

			-- BUSCA A INFORMAÇÃO DA EMPRESA DO USUÁRIO DE CADASTRO CASO ESTE SEJA UM COLABORADOR
			SELECT @v_codigoEmpresaColaborador = ISNULL(MAX(CD_EMPRESA),0)
			  FROM TB_PESSOA_RESUMO PR WITH(NOLOCK), TB_PESSOA_COLABORADOR PC
			 WHERE PC.CD_PESSOA = @v_codigoUsuarioCadastro
			   AND PR.CD_PESSOA = PC.CD_PESSOA
			   AND PR.CD_FUNCAO = 3 -- COLABORADOR

			-- VAMOS VALIDAR PRIMEIRO AS NOVAS VARIAÇÕES DE PARÂMETRO PARA ALOCAR NA ESTRUTURA DO COLABORADOR
			IF @v_codigoEmpresaColaborador > 0
				BEGIN
					-- VAMOS VALIDAR SE É UMA FRANQUIA OU MATRIZ
					SELECT @v_idEmpresaMatriz = ISNULL(ID_EMPRESA_MATRIZ,0)
					  FROM TB_PESSOA_JURIDICA WITH(NOLOCK)
					 WHERE CD_PESSOA = @v_codigoEmpresaColaborador

					IF @v_idEmpresaMatriz = 1 -- MATRIZ
						BEGIN
							-- CHECA SE O PARÂMETRO ESTÁ ATIVO
							IF @v_valorParametroAlocacaoColabMatriz = 1
								BEGIN
									-- PRIMEIRAMENTE VAMOS CHECAR SE A ESTRUTURA DE EXCEÇÃO FAZ PARTE DA COBERTURA DO CD DA MATRIZ, CASO FAÇA IREMOS ALOCAR DIRETO NESTA ESTRUTURA
									-- CASO NÃO FAÇA PARTE DA EXCEÇÃO A PESSOA ENTRARÁ NO RODÍZIO E VALIDAÇÃO DE COBERTURA GEOGRÁFICA NORMALMENTE
									IF @v_codigoEstruturaComercialExcecao > 0
										BEGIN
											SELECT @v_codigoEstruturaComercialExcecaoMatriz = ISNULL(MIN(CDE.CD_EST_COMERCIAL),0)
											  FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL CDE WITH(NOLOCK)
											 WHERE CD.CD_CENTRO_DISTRIBUICAO = CDE.CD_CENTRO_DISTRIBUICAO
											   AND CD.CD_EMPRESA = @v_codigoEmpresaColaborador
											   AND CD.ID_SITUACAO = 1 -- O CD PRECISA ESTAR ATIVO
											   AND CDE.CD_EST_COMERCIAL = @v_codigoEstruturaComercialExcecao

											-- SE ATENDE VAMOS VALIDAR SE TEM CICLO VÁLIDO E ATIVO
											IF @v_codigoEstruturaComercialExcecaoMatriz > 0
												BEGIN
													-- verifica se existe algum ciclo ativo
													SELECT @v_qtdRegistros  = COUNT(*)
													FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
													WHERE convert(char(10), getdate(), 121) BETWEEN
													convert(char(10), DT_INICIAL, 121)
													AND convert(char(10), DT_FINAL, 121)
													AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialExcecaoMatriz
			
													IF @v_qtdRegistros > 0
														BEGIN
															SELECT TOP 1 @v_numeroCiclo = NM_CICLO, @v_codigoEstruturaComercial = CD_EST_COMERCIAL
															FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
															WHERE convert(char(10), getdate(), 121) BETWEEN
															convert(char(10), DT_INICIAL, 121)
															AND convert(char(10), DT_FINAL, 121)
															AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialExcecaoMatriz
				
															SELECT @p_codigoCriaAlocacao = 1
															SELECT @p_numeroCiclo = @v_numeroCiclo
															SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
					
															RETURN
														END	
												END
										END
								END
						END
					ELSE -- FRANQUIA
						BEGIN
							-- CHECA SE O PARÂMETRO ESTÁ ATIVO
							IF @v_valorParametroAlocacaoColabFranquia = 1
								BEGIN
									-- VERIFICA SE CHECA A COBERTURA GEOGRÁFICA NA ALOCAÇÃO
									IF @v_valorParametroAlocacaoCobGeografica = 1
										BEGIN
											-- VAMOS CHECAR SE EXISTE ALGUMA EST NA COBERTURA DA FRANQUIA QUE ATENDE O ENDEREÇO DA PESSOA E QUE TENHA CICLO ATIVO
											SELECT  @v_qtdRegistros  = COUNT(*)
											  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
												   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
												   TB_EST_COMERCIAL E WITH(NOLOCK)
											 WHERE convert(char(10), getdate(), 121) 
												   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
											   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
											   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
											   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
											   AND E.ID_ATIVO = 1
											   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1 
											   and E.CD_EST_COMERCIAL IN (SELECT CDE.CD_EST_COMERCIAL 
																			FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL CDE WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK)
																		   WHERE CDE.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
																			 AND CD.CD_EMPRESA = @v_codigoEmpresaColaborador
																			 AND CD.ID_SITUACAO = 1) -- O CD PRECISA ESTAR ATIVO
											IF @v_qtdRegistros > 0
												BEGIN
													-- PEGA A PRIMEIRA ESTRUTURA DISPONÍVEL POR EST GEOGRÁFICA
													SELECT TOP 1  @v_codigoEstruturaComercial =  isnull(min(E.CD_EST_COMERCIAL),0),
														   @v_numeroCiclo =  CA.NM_CICLO
													  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
														   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
														   TB_EST_COMERCIAL E WITH(NOLOCK)
													 WHERE convert(char(10), getdate(), 121) 
														   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
													   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
													   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
													   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
													   AND E.ID_ATIVO = 1
													   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1
													   and E.CD_EST_COMERCIAL IN (SELECT CDE.CD_EST_COMERCIAL 
																					FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL CDE WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK)
																				   WHERE CDE.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
																					 AND CD.CD_EMPRESA = @v_codigoEmpresaColaborador
																					 AND CD.ID_SITUACAO = 1) -- O CD PRECISA ESTAR ATIVO
													GROUP BY CA.NM_CICLO
							
													SELECT @p_codigoCriaAlocacao = 1
													SELECT @p_numeroCiclo = @v_numeroCiclo
													SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
							
													RETURN
												END
										END
									ELSE
										BEGIN
											-- VAMOS CHECAR SE EXISTE ALGUMA EST NA COBERTURA DA FRANQUIA QUE TENHA CICLO ATIVO, SEM CHECAR A COBERTURA GEOGRÁFICA
											SELECT  @v_qtdRegistros  = COUNT(*)
											  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
												   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
												   TB_EST_COMERCIAL E WITH(NOLOCK)
											 WHERE convert(char(10), getdate(), 121) 
												   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
											   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
											   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
											   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
											   AND E.ID_ATIVO = 1
											   and E.CD_EST_COMERCIAL IN (SELECT CDE.CD_EST_COMERCIAL 
																			FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL CDE WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK)
																		   WHERE CDE.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
																			 AND CD.CD_EMPRESA = @v_codigoEmpresaColaborador
																			 AND CD.ID_SITUACAO = 1) -- O CD PRECISA ESTAR ATIVO
											IF @v_qtdRegistros > 0
												BEGIN
													-- PEGA A PRIMEIRA ESTRUTURA DISPONÍVEL POR EST GEOGRÁFICA
													SELECT TOP 1  @v_codigoEstruturaComercial =  isnull(min(E.CD_EST_COMERCIAL),0),
														   @v_numeroCiclo =  CA.NM_CICLO
													  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
														   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
														   TB_EST_COMERCIAL E WITH(NOLOCK)
													 WHERE convert(char(10), getdate(), 121) 
														   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
													   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
													   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
													   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
													   AND E.ID_ATIVO = 1
													   and E.CD_EST_COMERCIAL IN (SELECT CDE.CD_EST_COMERCIAL 
																					FROM TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL CDE WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK)
																				   WHERE CDE.CD_CENTRO_DISTRIBUICAO = CD.CD_CENTRO_DISTRIBUICAO
																					 AND CD.CD_EMPRESA = @v_codigoEmpresaColaborador
																					 AND CD.ID_SITUACAO = 1) -- O CD PRECISA ESTAR ATIVO
													GROUP BY CA.NM_CICLO
							
													SELECT @p_codigoCriaAlocacao = 1
													SELECT @p_numeroCiclo = @v_numeroCiclo
													SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
							
													RETURN
												END

										END
								END
						END
				END

			-- SE A CHECAGEM DE PARÂMETROS POR COLABORADOR NÃO ENCONTRAR ESTRUTURA CONTINUA COM O PROCESSO NORMAL
			IF @v_valorParametroAlocacao = 1 AND @v_valorParametroAlocacaoCobGeografica = 1  -- aloca automatico POR COB GEOGRÁFICA
				BEGIN
					-- verifica se existe algum ciclo ativo por estrutura geográfica
					SELECT  @v_qtdRegistros  = COUNT(*)
					  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
						   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
						   TB_EST_COMERCIAL E WITH(NOLOCK)
					 WHERE convert(char(10), getdate(), 121) 
						   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
					   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
					   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
					   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
					   AND E.ID_ATIVO = 1
					   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1 
					   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
					
					IF @v_qtdRegistros = 0 -- NÃO ACHOU POR EST GEOGRÁFICA, VAMOS BUSCAR POR CEP
						BEGIN
							-- verifica se existe algum ciclo ativo por estrutura geográfica
							SELECT  @v_qtdRegistros  = COUNT(*)
							  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
								   TB_EST_COMERCIAL_FAIXA_CEP C WITH(NOLOCK),
								   TB_EST_COMERCIAL E WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) 
								   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
							   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
							   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   AND E.ID_ATIVO = 1
							   AND convert(numeric,@v_codigoPostal) BETWEEN convert(numeric,C.DC_FAIXA_INICIAL_CEP) AND convert(numeric,C.DC_FAIXA_FINAL_CEP)
							   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
							   
							IF @v_qtdRegistros = 0 -- NÃO ACHOU ESTRUTURA POR CEP
								BEGIN
									SELECT @p_codigoCriaAlocacao = 2
									SELECT @p_numeroCiclo = 0
									SELECT @p_codigoEstruturaComercial = 0
								END
							ELSE
								BEGIN
									
									-- verifica se existe algum ciclo ativo por FAIXA DE CEP
									SELECT  @v_qtdRegistros  = COUNT(*)
									  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
										   TB_EST_COMERCIAL_FAIXA_CEP C WITH(NOLOCK),
										   TB_EST_COMERCIAL E WITH(NOLOCK)
									 WHERE convert(char(10), getdate(), 121) 
										   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
									   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
									   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
									   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
									   AND E.ID_ATIVO = 1
									   AND ISNULL(E.ID_ALOCACAO_RODIZIO,1) = 1
									   AND convert(numeric,@v_codigoPostal) BETWEEN convert(numeric,C.DC_FAIXA_INICIAL_CEP) AND convert(numeric,C.DC_FAIXA_FINAL_CEP)
									
									IF @v_qtdRegistros = 0
										BEGIN
											-- altera todas as estruturas comerciais de indisponveil para disponivel
											UPDATE TB_EST_COMERCIAL  SET ID_ALOCACAO_RODIZIO = 1
											WHERE CD_EST_COMERCIAL  IN  (SELECT DISTINCT E.CD_EST_COMERCIAL
																		  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
																			   TB_EST_COMERCIAL_FAIXA_CEP C WITH(NOLOCK),
																			   TB_EST_COMERCIAL E WITH(NOLOCK)
																		 WHERE convert(char(10), getdate(), 121) 
																			   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
																		   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
																		   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
																		   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
																		   AND E.ID_ATIVO = 1
																		   AND ISNULL(E.ID_ALOCACAO_RODIZIO,2) = 2
																		   AND convert(numeric,@v_codigoPostal) BETWEEN convert(numeric,C.DC_FAIXA_INICIAL_CEP) AND convert(numeric,C.DC_FAIXA_FINAL_CEP)
																		   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
																		   )
										END
									
									-- PEGA A PRIMEIRA ESTRUTURA DISPONÍVEL POR FAIXA DE CEP
									SELECT TOP 1  @v_codigoEstruturaComercial =  isnull(min(E.CD_EST_COMERCIAL),0),
										   @v_numeroCiclo =  CA.NM_CICLO
									  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
										   TB_EST_COMERCIAL_FAIXA_CEP C WITH(NOLOCK),
										   TB_EST_COMERCIAL E WITH(NOLOCK)
									 WHERE convert(char(10), getdate(), 121) 
										   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
									   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
									   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
									   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
									   AND E.ID_ATIVO = 1
									   AND ISNULL(E.ID_ALOCACAO_RODIZIO,1) = 1
									   AND convert(numeric,@v_codigoPostal) BETWEEN convert(numeric,C.DC_FAIXA_INICIAL_CEP) AND convert(numeric,C.DC_FAIXA_FINAL_CEP)
									   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
									   GROUP BY CA.NM_CICLO
									
									--PRECISAMOS ATUALIZAR A EST ENCONTRADA PARA INDISPONÍVEL
									UPDATE TB_EST_COMERCIAL  SET ID_ALOCACAO_RODIZIO = 2
									WHERE CD_EST_COMERCIAL  = @v_codigoEstruturaComercial
									
									SELECT @p_codigoCriaAlocacao = 1
									SELECT @p_numeroCiclo = @v_numeroCiclo
									SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
									
									RETURN
									
								end
						END
					ELSE -- ENCONTROU POR EST GEOGRÁFICA VAMOS VERIFICAR O RODIZIO PARA ALOCAR
						BEGIN
							
							-- verifica se existe algum ciclo ativo por EST GEOGRAFICA
							SELECT  @v_qtdRegistros  = COUNT(*)
							  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
								   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
								   TB_EST_COMERCIAL E WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) 
								   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
							   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
							   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   AND E.ID_ATIVO = 1
							   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1
							   AND ISNULL(E.ID_ALOCACAO_RODIZIO,1) = 1
							   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
							
							IF @v_qtdRegistros = 0
								BEGIN
									-- altera todas as estruturas comerciais de indisponveil para disponivel
									UPDATE TB_EST_COMERCIAL  SET ID_ALOCACAO_RODIZIO = 1
									WHERE CD_EST_COMERCIAL  IN  (SELECT DISTINCT E.CD_EST_COMERCIAL
																  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
																	   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
																	   TB_EST_COMERCIAL E WITH(NOLOCK)
																 WHERE convert(char(10), getdate(), 121) 
																	   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
																   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
																   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
																   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
																   AND E.ID_ATIVO = 1
																   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1
																   AND ISNULL(E.ID_ALOCACAO_RODIZIO,2) = 2
																   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
																   )
								END
									
							-- PEGA A PRIMEIRA ESTRUTURA DISPONÍVEL POR EST GEOGRÁFICA
							SELECT TOP 1  @v_codigoEstruturaComercial =  isnull(min(E.CD_EST_COMERCIAL),0),
								   @v_numeroCiclo =  CA.NM_CICLO
							  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
								   TB_COBERTURA_GEOGRAFICA C WITH(NOLOCK),
								   TB_EST_COMERCIAL E WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) 
								   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
							   and C.CD_EST_COMERCIAL = CA.CD_EST_COMERCIAL
							   and C.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   AND E.ID_ATIVO = 1
							   AND dbo.FN_EST_GEOGRAFICA(C.CD_EST_GEOGRAFICA, @v_codigoEstruturaGeograficaResidencial) = 1
							   AND ISNULL(E.ID_ALOCACAO_RODIZIO,1) = 1
							   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
							GROUP BY CA.NM_CICLO
							
							--PRECISAMOS ATUALIZAR A EST ENCONTRADA PARA INDISPONÍVEL
							UPDATE TB_EST_COMERCIAL  SET ID_ALOCACAO_RODIZIO = 2
							WHERE CD_EST_COMERCIAL  = @v_codigoEstruturaComercial
									
							SELECT @p_codigoCriaAlocacao = 1
							SELECT @p_numeroCiclo = @v_numeroCiclo
							SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
							
							RETURN
						END	
				
					
				END
				
			IF @v_valorParametroAlocacao = 1 AND @v_valorParametroAlocacaoCobGeografica <> 1  -- aloca automatico SEM VERIFICAR COB GEOGRÁFICA
				BEGIN
					-- verifica se existe algum ciclo ativo por ESTRUTURA COMERCIAL ATIVA
					SELECT  @v_qtdRegistros  = COUNT(*)
					  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
						   TB_EST_COMERCIAL E WITH(NOLOCK)
					 WHERE convert(char(10), getdate(), 121) 
						   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
					   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
					   AND E.ID_ATIVO = 1
					   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
					   
					IF @v_qtdRegistros = 0 --NÃO EXISTE ESTRUTURA COM CICLO ATIVO
						BEGIN
							SELECT @p_codigoCriaAlocacao = 2
							SELECT @p_numeroCiclo = 0
							SELECT @p_codigoEstruturaComercial = 0
						END
						
					IF @v_qtdRegistros = 1 --TEMOS SOMENTE 1 ESTRUTURA NÃO É PRECISO APLICAR O CONCEITO DO RODÍZIO
						BEGIN
							SELECT TOP 1  @v_codigoEstruturaComercial =  isnull(min(E.CD_EST_COMERCIAL),0),
								   @v_numeroCiclo =  CA.NM_CICLO
							  FROM  TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
									TB_EST_COMERCIAL E WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) 
								   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
							   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   AND E.ID_ATIVO = 1
							   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
							 GROUP BY CA.NM_CICLO
							   
							SELECT @p_codigoCriaAlocacao = 1
							SELECT @p_numeroCiclo = @v_numeroCiclo
							SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
							
							RETURN
						END
						
					IF @v_qtdRegistros > 1 --TEMOS MAIS DE 1 ESTRUTURA, VAMOS APLICAR O CONCEITO DO RODÍZIO
						BEGIN
							SELECT  @v_qtdRegistros  = COUNT(*)
							  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
								   TB_EST_COMERCIAL E WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) 
								   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
							   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   AND E.ID_ATIVO = 1
							   AND ISNULL(E.ID_ALOCACAO_RODIZIO,1) = 1
							   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
							   
							IF @v_qtdRegistros = 0
								BEGIN
									-- altera todas as estruturas comerciais de indisponveil para disponivel
									UPDATE TB_EST_COMERCIAL  SET ID_ALOCACAO_RODIZIO = 1
									WHERE CD_EST_COMERCIAL  IN  (SELECT DISTINCT E.CD_EST_COMERCIAL
																  FROM TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
																	   TB_EST_COMERCIAL E WITH(NOLOCK)
																 WHERE convert(char(10), getdate(), 121) 
																	   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
																   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
																   AND E.ID_ATIVO = 1
																   AND ISNULL(E.ID_ALOCACAO_RODIZIO,2) = 2
																   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
																   )
								END
							
							SELECT TOP 1  @v_codigoEstruturaComercial =  isnull(min(E.CD_EST_COMERCIAL),0),
								   @v_numeroCiclo =  CA.NM_CICLO
							  FROM  TB_CALENDARIO_COMERCIAL CA WITH(NOLOCK), 
									TB_EST_COMERCIAL E WITH(NOLOCK)
							 WHERE convert(char(10), getdate(), 121) 
								   BETWEEN convert(char(10), DT_INICIAL, 121) AND convert(char(10), DT_FINAL, 121)
							   and CA.CD_EST_COMERCIAL = E.CD_EST_COMERCIAL
							   AND E.ID_ATIVO = 1
							   AND ISNULL(E.ID_ALOCACAO_RODIZIO,1) = 1
							   and E.CD_EST_COMERCIAL not in (select F.CD_EST_COMERCIAL_PADRAO from TB_FUNCAO F WITH(NOLOCK) where CD_FUNCAO = 1) --VAMOS EXCLUIR A EST PADRÃO DA FUNÇÃO 1 CASO EXISTA
							GROUP BY CA.NM_CICLO
							   
							--PRECISAMOS ATUALIZAR A EST ENCONTRADA PARA INDISPONÍVEL
							UPDATE TB_EST_COMERCIAL  SET ID_ALOCACAO_RODIZIO = 2
							WHERE CD_EST_COMERCIAL  = @v_codigoEstruturaComercial
									
							SELECT @p_codigoCriaAlocacao = 1
							SELECT @p_numeroCiclo = @v_numeroCiclo
							SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
							
							RETURN
						END
				END

			IF @v_valorParametroAlocacao = 2 --NÃO ALOCA AUTOMÁTICO
				BEGIN
					SELECT @p_codigoCriaAlocacao = 2
					SELECT @p_numeroCiclo = 0
					SELECT @p_codigoEstruturaComercial = 0
				END
		END

	-- *********************************************************
	-- FIM 4º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA
	-- *********************************************************
	
	-- *****************************************************************
	-- APLICAÇÃO DO 5º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA:
	-- ALOCA NA EST COMERCIAL DE EXCEÇÃO
	-- QUANDO NENHUMA DAS VALIDAÇÕES ANTERIORES ENCONTROU UMA ESTRUTURA A ÚLTIMA VALIDAÇÃO SERÁ ESTA
	-- *****************************************************************
	
	IF @p_codigoCriaAlocacao <> 1 AND @v_codigoEstruturaComercialExcecao > 0
		BEGIN
			-- verifica se existe algum ciclo ativo
			SELECT @v_qtdRegistros  = COUNT(*)
			FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
			WHERE convert(char(10), getdate(), 121) BETWEEN
			convert(char(10), DT_INICIAL, 121)
			AND convert(char(10), DT_FINAL, 121)
			AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialExcecao
			
			IF @v_qtdRegistros = 0
				BEGIN
					SELECT @p_codigoCriaAlocacao = 2
					SELECT @p_numeroCiclo = 0
					SELECT @p_codigoEstruturaComercial = 0
					RETURN
				END
			ELSE
				BEGIN
					SELECT TOP 1 @v_numeroCiclo = NM_CICLO, @v_codigoEstruturaComercial = CD_EST_COMERCIAL
					FROM TB_CALENDARIO_COMERCIAL WITH(NOLOCK)
					WHERE convert(char(10), getdate(), 121) BETWEEN
					convert(char(10), DT_INICIAL, 121)
					AND convert(char(10), DT_FINAL, 121)
					AND CD_EST_COMERCIAL = @v_codigoEstruturaComercialExcecao
				
					SELECT @p_codigoCriaAlocacao = 1
					SELECT @p_numeroCiclo = @v_numeroCiclo
					SELECT @p_codigoEstruturaComercial = @v_codigoEstruturaComercial
					
					RETURN
				END	
		END
	
	-- *********************************************************
	-- FIM 5º CRITÉRIO DE ALOCAÇÃO AUTOMÁTICA
	-- *********************************************************
	
END TRY	

BEGIN CATCH
	-- Whoops, there was an error
    SELECT @p_codigoErro = 2
    SELECT @p_descricaoErro = ERROR_MESSAGE()
      
	IF @@TRANCOUNT > 0
		ROLLBACK

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descricaoErro, @p_codigoErro, 1)
END CATCH;
GO
