SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaInsereRestricaoAlimentar]
	@CD_PESSOA							NUMERIC(18,0),
	@ID_TIPO_RESTRICAO_ALIMENTAR		INT,
	@ID_ALERGIA							INT,
	@ID_INTOLERANCIA_ALIMENTAR			INT,
							
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO VARCHAR(200) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

				
BEGIN TRY
	    
	    SELECT @QT_LINHAS_AFETADAS = 0
	    SELECT @VAR_RETORNO = 0
	
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
					DELETE FROM TB_PESSOA_RESTRICAO_ALIMENTAR 
					WHERE CD_PESSOA = @CD_PESSOA
		
				COMMIT TRANSACTION
			END
		
		
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 
				
					INSERT INTO TB_PESSOA_RESTRICAO_ALIMENTAR 
						(CD_PESSOA,
						ID_TIPO_RESTRICAO_ALIMENTAR,
						ID_ALERGIA,
						ID_INTOLERANCIA_ALIMENTAR,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES 
						(@CD_PESSOA,
						@ID_TIPO_RESTRICAO_ALIMENTAR,
						@ID_ALERGIA,
						@ID_INTOLERANCIA_ALIMENTAR,
						GETDATE(),
						@CD_USUARIO,
						GETDATE(),
						@CD_USUARIO)
			
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END
		
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
