SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_FiscalGeraNotaFiscalEntradaOrdemColeta]
	@p_codigoOrdemColeta	numeric(18, 0),
	@p_numeroPedido			numeric(18, 0),
	@p_idTipoNotaFiscal		INT, 
			
	@p_codigoUsuario		NUMERIC(18,0),
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT
	
AS
DECLARE @v_codigoCliente			numeric(18,0)
--Variáveis da NF	
DECLARE @v_codigoPessoa				NUMERIC(18,0),
		@v_idTipoPessoa				INT
DECLARE @v_codigoPessoaEmissor		numeric(18,0)
DECLARE @v_codigoCentroDistribuicao	NUMERIC(18,0)
DECLARE	@v_codigoNotaFiscal			NUMERIC(18,0)
DECLARE @v_numeroProxNotaFiscal		NUMERIC(18,0)
DECLARE @v_codigoRegraFiscal		NUMERIC(18,0)
DECLARE @v_idRegimeFaturamento		int
DECLARE @Cursor_Itens				CURSOR
DECLARE @v_valorTotalFrete			NUMERIC(18,2)
DECLARE @v_idIndicadorPresenca		INT, -- 0 - Não se aplica 1 - Operação presencial 2 - Operação não presencial, pela Internet 3 - Operação não presencial, Teleatendimento 4 - NFC-e em operação com entrega a domicílio 9 - Operação não presencial, outros.
		@v_idDestinoOperacao		int, -- 1 - Operação Interna 2 - Operação Interestadual 3 - Operação com Exterior
		@v_idIndicadorIEDest		int, -- 1 - Contribuinte ICMS (informar IE ) 2 - Contribuinte isento (não informar IE)  9 - Não Contribuinte, que pode ou não possuir IE (não informar IE)
		@v_possuiIE					int

--Variáveis da regra fiscal
DECLARE @v_idApuraICMS				int,
        @v_idApuraIPI				int,
        @v_codigoTextoLegalVenda	int,
        @v_codigoTextoLegalDoacao	int,
		@v_codigoTextoLegalRevenda	int,
		@v_idPrecoFaturamentoVenda  int,
		@v_idPrecoFaturamentoRevenda int,
		@v_idPrecoFaturamentoDoacao	int

-- VARIAVEIS DO CURSOR DE ITEM DA ORDEM DE COLETA --
DECLARE @v_numeroOrdemColetaItem	NUMERIC(18,0)
DECLARE @v_codigoProduto			NUMERIC(18,0)
DECLARE @v_codigoMaterial			NUMERIC(18,0)
DECLARE @v_idProdutoCobrado			INT
DECLARE	@v_idTipoProduto			INT
DECLARE @v_qtdeReservada			NUMERIC(18,0)
DECLARE @v_valorPagarTotal			NUMERIC(18,2)
DECLARE @v_valorTabelaTotal			NUMERIC(18,2)
DECLARE @v_valorPraticado			NUMERIC(18,2)
declare @v_valorFreteItem			numeric(18,2)
DECLARE @v_valorDescontoItem		NUMERIC(18,2)
DECLARE @v_valorCustoMedioItem		NUMERIC(18,2)
DECLARE @v_valorCustoUltRepItem		NUMERIC(18,2)
DECLARE @v_valorDescontoAdicionalItem	NUMERIC(18,2)
DECLARE @v_codigoCFOPVendaMaterial		NUMERIC(18,0)
DECLARE @v_codigoCFOPRevendaMaterial	NUMERIC(18,0)
DECLARE @v_codigoCFOPDoacaoMaterial		NUMERIC(18,0)
DECLARE @v_codigoCFOPEntradaDevolucaoMaterial	NUMERIC(18,0)
DECLARE @v_codigoTextoLegalSaidaMaterial		NUMERIC(18,0)
DECLARE @v_codigoTextoLegalEntradaMaterial		NUMERIC(18,0)
---------------------------------------------

---- VARIAVEIS PARA O CALCULO DO DIFAL ICMS ----
DECLARE @v_valorBaseCalculoICMSUFDest	NUMERIC(18,2), -- Valor da BC do ICMS na UF de destino
		@v_percFundoPobrezaUFDest		numeric(18,2), -- Percentual do ICMS relativo ao Fundo de Combate à Pobreza (FCP) na UF de destino
		@v_percAliqICMSUFDest			numeric(18,2), -- Alíquota interna da UF de destino
		@v_percAliqICMSInter			numeric(18,2), -- Alíquota interestadual das UF envolvidas
		@v_percAliqICMSPartilha			numeric(18,2), -- Percentual provisório de partilha do ICMS Interestadual
		@v_valorICMSFundoPobrezaUFDest	numeric(18,2), -- Valor do ICMS relativo ao Fundo de Combate à Pobreza (FCP) da UF de destino
		@v_valorICMSUFDest				numeric(18,2), -- Valor do ICMS Interestadual para a UF de destino
		@v_valorICMSUFOrigem			numeric(18,2), -- Valor do ICMS Interestadual para a UF do remetente / origem
		@v_valorICMSDIFAL				numeric(18,2), -- Valor total do ICMS DIFAL do Item
		@v_idCobrarDifalDentro			int,		   -- Indica se será feito o cálculo simples ou com o ICMS por dentro
--TOTAIS
		@v_valorTotalFundoPobrezaUFDest	numeric(18,2), -- Valor total do ICMS relativo Fundo de Combate à Pobreza (FCP) da UF de destino
		@v_valorTotalICMSUFDest			numeric(18,2), -- Valor total do ICMS Interestadual para a UF de destino
		@v_valorTotalICMSUFOrigem		numeric(18,2)  -- Valor total do ICMS Interestadual para a UF de origem

--Variáveis para o rateio de frete e do desconto adicional
DECLARE @v_restaFrete				numeric(18,2),
		@v_numeroItem				int,
		@v_descontoAdicional		numeric(18,2),
		@v_restaDescontoAdicional	numeric(18,2)

--Variáveis do item da nota fiscal
DECLARE @v_contadorItem				INT
DECLARE @v_descMaterial				VARCHAR(800)
DECLARE @v_codigoNCM				NUMERIC(18,0)
DECLARE	@v_descNCM					VARCHAR(200)
DECLARE	@v_idOrigemMaterial			INT
DECLARE @v_idOperacaoFiscal			INT
DECLARE @v_descEstadoCD				VARCHAR(10)
DECLARE @v_descEstadoEntrega		VARCHAR(10)
DECLARE @v_codigoEstadoOrigem		NUMERIC(18,0)
DECLARE @v_codigoEstadoDestino		NUMERIC(18,0)
DECLARE @v_codigoCEST				numeric(18,0)
DECLARE @v_codigoCESTDemaisOper		numeric(18,0)
DECLARE @v_descCEST					varchar(200)

--Variáveis dos impostos - ICMS
DECLARE @v_percAliqICMS				NUMERIC(18,2)
DECLARE @v_valorICMS				NUMERIC(18,2)
DECLARE @v_valorBaseCalculoICMS		NUMERIC(18,2)
DECLARE @v_codigoCSTICMS			NUMERIC(18,0)

--Variáveis dos impostos - ICMS-ST
DECLARE @v_percAliqICMSST			NUMERIC(18,2)
DECLARE @v_valorICMSST				NUMERIC(18,2)
DECLARE @v_valorBaseCalculoICMSST	NUMERIC(18,2)
DECLARE @v_codigoCSTICMSST			NUMERIC(18,0)
DECLARE @v_percMVA					numeric(18,2)

--Variáveis dos impostos - PIS
DECLARE @v_percAliqPIS				NUMERIC(18,2)
DECLARE @v_valorPIS					NUMERIC(18,2)
DECLARE @v_valorBaseCalculoPIS		NUMERIC(18,2)
DECLARE @v_codigoCSTPIS				NUMERIC(18,0)

--Variáveis dos impostos - COFINS
DECLARE @v_percAliqCOFINS			NUMERIC(18,2)
DECLARE @v_valorCOFINS				NUMERIC(18,2)
DECLARE @v_valorBaseCalculoCOFINS	NUMERIC(18,2)
DECLARE @v_codigoCSTCOFINS			NUMERIC(18,0)

--Variáveis dos impostos - IPI
DECLARE @v_percAliqIPI				NUMERIC(18,2)
DECLARE @v_valorIPI					NUMERIC(18,2)
DECLARE @v_valorBaseCalculoIPI		NUMERIC(18,2)
DECLARE @v_codigoCSTIPI				NUMERIC(18,0)

--cfop
DECLARE @v_codigoCFOPItem			numeric(18,0)
DECLARE @v_codigoCFOPVenda			numeric(18,0)
DECLARE @v_descCFOPVenda			VARCHAR(100)
DECLARE @v_codigoCFOPRevenda		numeric(18,0)
DECLARE @v_descCFOPRevenda			VARCHAR(100)
DECLARE @v_codigoCFOPDoacao			numeric(18,0)
DECLARE @v_descCFOPDoacao			VARCHAR(100)

--Totais da NF
DECLARE @v_valorTotalProdutos		NUMERIC(18,2)
DECLARE @v_valorTotalNotaFiscal		NUMERIC(18,2)
DECLARE @v_valorFrete				numeric(18,2)
DECLARE @v_valorTotalIPI			NUMERIC(18,2)
DECLARE @v_valorTotalICMS			NUMERIC(18,2)
DECLARE @v_valorTotalICMSST			NUMERIC(18,2)
DECLARE @v_valorTotalPIS			NUMERIC(18,2)
DECLARE @v_valorTotalCOFINS			NUMERIC(18,2)
DECLARE @v_valorTotalDesconto		NUMERIC(18,2)
DECLARE @v_valorTotalDescontoAdicional	NUMERIC(18,2)
DECLARE @v_valorBaseCalculoTotalIPI		NUMERIC(18,2)
DECLARE @v_valorBaseCalculoTotalICMS	NUMERIC(18,2)
DECLARE @v_valorBaseCalculoTotalICMSST	NUMERIC(18,2)
DECLARE @v_valorBaseCalculoTotalPIS		NUMERIC(18,2)
DECLARE @v_valorBaseCalculoTotalCOFINS	NUMERIC(18,2)

--Demais dados da NF
DECLARE @v_descModelo				varchar(50),
		@v_descSerie				varchar(50),
		@v_infoAdicional			varchar(max),
		@v_naturezaOperacao			varchar(200)

DECLARE @VL_PESO_BRUTO				NUMERIC(18,4)
DECLARE @VL_PESO_LIQUIDO			NUMERIC(18,4)
DECLARE @QT_VOLUMES					INT
DECLARE @DC_MARCA					VARCHAR(50)
DECLARE @DC_ESPECIES_VOLUMES		VARCHAR(50)
DECLARE @DC_NUMERACAO_VOLUMES		VARCHAR(500)
DECLARE @DC_FATURA					VARCHAR(500)
DECLARE @CD_TRANSPORTADORA			NUMERIC(18,0)

DECLARE @CD_POLITICA_ENTREGA		NUMERIC(18,0)
DECLARE @ID_TIPO_ENTREGA			INT
DECLARE @ID_MOD_FRETE				INT
DECLARE @VL_FRETE					NUMERIC(18,2)
--**************  FIM ALTERAÇÃO DIEGO EM 28/06  *************
DECLARE @v_cicloFaturamentoPedido	numeric(18,0)
declare @v_funcaoPedido				int,
		@v_idGeraNotaFiscal			int
-- Variáveis para a NF de devolução do pedido.
DECLARE @v_numeroNFSaidaOrigem		numeric(18,0)
DECLARE	@v_dataEmissaoNFSaidaOrigem	varchar(50)

DECLARE @v_codigoRegraComercial		numeric(18,0)

--Novas variáveis para calculo do desconto do ICMS-ST por dentro
DECLARE @v_idCobrarICMSSTDentro		int,
		@v_percDescontoICMSSTDentro	numeric(18,8),
		@v_valorDescontoICMSSTDentro numeric(18,2),
		@v_baseCalculoICMSSTDentro	numeric(18,2),
		@v_valorICMSSTDentro		numeric(18,2)
		
declare @v_valorDespAcessorias		numeric(18,2),
		@v_valorTotalDespAcessorias numeric(18,2),
		@v_idDestacaTaxaAdministrativa int,
		@v_codigoPlanoPagamento		numeric(18,0),
		@v_valorPagarTeorico		numeric(18,2),
		@v_valorPagarPedido			numeric(18,2)

--variáveis para o texto legal dos materiais.
DECLARE @cursorTextoLegalMaterial	CURSOR,
		@v_descTextoLegalMaterial	varchar(1000)

DECLARE @v_valorNFSaidaOrigem		numeric(18,2)

BEGIN TRY
	
	-- busca o codigo da pessoa do pedido
	SELECT	@v_codigoPessoa = pd.CD_PESSOA,
			@v_codigoCentroDistribuicao = pd.CD_CENTRO_DISTRIBUICAO,
			@v_codigoRegraComercial = pd.CD_REGRA_COMERCIAL,
			@v_funcaoPedido = pd.CD_FUNCAO,
			@v_valorPagarTeorico = pd.VL_PAGAR_TEORICO_TOTAL,
			@v_valorPagarPedido = pd.VL_PAGAR_TOTAL,
			@v_idGeraNotaFiscal = isnull(pd.ID_GERA_NOTA_FISCAL,2),
			@v_codigoPlanoPagamento = pd.CD_PLANO_PAGAMENTO
	FROM TB_PEDIDO pd, TB_ORDEM_COLETA oc
	WHERE pd.NM_PEDIDO = oc.NM_PEDIDO
	  and oc.CD_ORDEM_COLETA = @p_codigoOrdemColeta

	select @v_idTipoPessoa = ID_TIPO_PESSOA
	  from TB_PESSOA
	 where CD_PESSOA = @v_codigoPessoa

	-- Vamos verificar se a NF será gerada
	if @v_idGeraNotaFiscal <> 1
		BEGIN
			RETURN
		END

	--busca os dados da NF de saída de origem
	select @v_numeroNFSaidaOrigem = NM_NOTA_FISCAL,
		   @v_dataEmissaoNFSaidaOrigem = CONVERT(varchar(50),DT_EMISSAO_NOTA_FISCAL,103) + ' ' + CONVERT(varchar(50),DT_EMISSAO_NOTA_FISCAL,108),
		   @v_valorNFSaidaOrigem = VL_TOTAL_NOTA_FISCAL
	  from TB_NOTA_FISCAL
	 where NM_PEDIDO = @p_numeroPedido
	   and ID_TIPO_NOTA_FISCAL = 2 --saída
	   and ID_SITUACAO_NOTA_FISCAL = 2 --emitida

	IF (@v_numeroNFSaidaOrigem = null) or (@v_numeroNFSaidaOrigem <= 0)
		BEGIN
			-- se não tivermos uma NF de saída emitida não podemos gerar a NF de devolução
			RETURN
		END

	--Busca o regime de faturamento da empresa
	select @v_idRegimeFaturamento = cd.ID_REGIME_TRIBUTARIO
	  from TB_CENTRO_DISTRIBUICAO cd
	 where cd.CD_CENTRO_DISTRIBUICAO = @v_codigoCentroDistribuicao 
	
	select @v_codigoCliente = VL_PARAMETRO
	  from TB_VALOR_PARAMETRO
	 where CD_GRUPO_PARAMETRO = 6
	   and CD_PARAMETRO = 1
	   and CD_VALOR_PARAMETRO = 1
		
	--busca o código do emissor
	select @v_codigoPessoaEmissor = nfp.CD_PESSOA_EMISSOR,
		   @v_descSerie = cd.DC_SERIE,
		   @v_descModelo = cd.DC_MODELO
		from TB_NFE_PARAMETRO nfp, TB_CENTRO_DISTRIBUICAO cd
		where nfp.CD_PESSOA_EMISSOR = cd.CD_EMPRESA
		and cd.CD_CENTRO_DISTRIBUICAO = @v_codigoCentroDistribuicao
	
	--busca a regra fiscal do pedido em questão
	select @v_codigoRegraFiscal = dbo.FN_BUSCA_REGRA_FISCAL_PEDIDO(@p_numeroPedido, @p_idTipoNotaFiscal)

	if @v_codigoRegraFiscal <= 0 --não encontrou regra fiscal
		begin
			SELECT @p_qtdeLinhasAfetadas = 0
	
			-- insere na tabela tb_nota_fiscal (somente alguns campos)
			-- não será gerado número da NF neste momento pois o cliente poderá corrigir o problema de cadastro 
			-- sem o número para disparar o faturamento novamente para o pedido
			INSERT INTO TB_NOTA_FISCAL (

				NM_PEDIDO,
				CD_PESSOA_EMISSOR,
				CD_PESSOA_DESTINATARIO,
				DT_EMISSAO_NOTA_FISCAL,
				ID_TIPO_NOTA_FISCAL,
				ID_SITUACAO_NOTA_FISCAL,
				DC_ERRO_NOTA_FISCAL)
	
			VALUES (
				@p_numeroPedido,
				@v_codigoPessoaEmissor,
				@v_codigoPessoa,
				GETDATE(),
				@p_idTipoNotaFiscal, 
				6, -- ERRO NA GERAÇÃO
				'Regra Fiscal não encontrada para o pedido') 
			
			SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
			SELECT @v_codigoNotaFiscal = IDENT_CURRENT('TB_NOTA_FISCAL')
			SELECT @p_codigoErro = 0
			SELECT @p_descErro = ''

			RETURN
		end

	--Com a regra fiscal encontrada vamos buscar os dados da regra fiscal
	select @v_idApuraIPI = rf.ID_APURA_IPI,
		   @v_idApuraICMS = rf.ID_APURA_ICMS,
		   @v_codigoCFOPDoacao = rf.CD_CFOP_DOACAO,
		   @v_codigoCFOPVenda = rf.CD_CFOP_VENDA,
		   @v_codigoCFOPRevenda = rf.CD_CFOP_REVENDA,
		   @v_codigoTextoLegalDoacao = isnull(rf.CD_TEXTO_LEGAL_DOACAO,0),
		   @v_codigoTextoLegalVenda = isnull(rf.CD_TEXTO_LEGAL_VENDA,0),
		   @v_codigoTextoLegalRevenda = isnull(rf.CD_TEXTO_LEGAL_REVENDA,0),
		   @v_idCobrarICMSSTDentro = ISNULL(rf.ID_COBRAR_ST_DENTRO,2),
		   @v_idPrecoFaturamentoVenda = isnull(rf.ID_PRECO_FATURAMENTO_VENDA,1), 
		   @v_idPrecoFaturamentoRevenda = isnull(rf.ID_PRECO_FATURAMENTO_REVENDA,1), 
		   @v_idPrecoFaturamentoDoacao = isnull(rf.ID_PRECO_FATURAMENTO_DOACAO,1),
		   @v_naturezaOperacao = rf.DC_NATUREZA_OPERACAO,
		   @v_idCobrarDifalDentro = isnull(rf.ID_COBRAR_DIFAL_DENTRO,1)
	  from TB_REGRA_FISCAL_NEW rf
	 where rf.CD_REGRA_FISCAL = @v_codigoRegraFiscal
	
	--Busca as UFs de Origem e Destino para emissão da NF
	select @v_descEstadoCD = isnull(pe.DC_ESTRUTURA_GEO2,'') --UF origem
	  from TB_PESSOA_ENDERECO pe
	 where pe.CD_PESSOA = @v_codigoPessoaEmissor
	   and pe.ID_TIPO_ENDERECO = 3

	if @v_descEstadoCD = '' --não encontrou a UF de origem
		begin
			SELECT @p_qtdeLinhasAfetadas = 0
	
			-- insere na tabela tb_nota_fiscal (somente alguns campos)
			-- não será gerado número da NF neste momento pois o cliente poderá corrigir o problema de cadastro 
			-- sem o número para disparar o faturamento novamente para o pedido
			INSERT INTO TB_NOTA_FISCAL (

				NM_PEDIDO,
				CD_PESSOA_EMISSOR,
				CD_PESSOA_DESTINATARIO,
				DT_EMISSAO_NOTA_FISCAL,
				ID_TIPO_NOTA_FISCAL,
				ID_SITUACAO_NOTA_FISCAL,
				DC_ERRO_NOTA_FISCAL)
	
			VALUES (
				@p_numeroPedido,
				@v_codigoPessoaEmissor,
				@v_codigoPessoa,
				GETDATE(),
				@p_idTipoNotaFiscal, 
				6, -- ERRO NA GERAÇÃO
				'UF de origem não encontrada. Verifique o cadastro do emissor da NF.') 
			
			SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
			SELECT @v_codigoNotaFiscal = IDENT_CURRENT('TB_NOTA_FISCAL')
			SELECT @p_codigoErro = 0
			SELECT @p_descErro = ''

			RETURN
		end

	--se for uma PJ vamos buscar o endereço fiscal como o endereço do destinatário
	if @v_idTipoPessoa = 1
		begin
			select @v_descEstadoEntrega = isnull(pend.DC_ESTRUTURA_GEO2,'') -- UF destino
			  from TB_PEDIDO_ENDERECO pend
			 where pend.NM_PEDIDO = @p_numeroPedido
		end
	else
		begin
			select @v_descEstadoEntrega = isnull(pend.DC_ESTRUTURA_GEO2,'') -- UF destino
			  from TB_PESSOA_ENDERECO pend
			 where pend.CD_PESSOA = @v_codigoPessoa
			   and pend.ID_TIPO_ENDERECO = 3
		end

	if @v_descEstadoEntrega = '' --não encontrou a UF de destino
		begin
			SELECT @p_qtdeLinhasAfetadas = 0
	
			-- insere na tabela tb_nota_fiscal (somente alguns campos)
			-- não será gerado número da NF neste momento pois o cliente poderá corrigir o problema de cadastro 
			-- sem o número para disparar o faturamento novamente para o pedido
			INSERT INTO TB_NOTA_FISCAL (

				NM_PEDIDO,
				CD_PESSOA_EMISSOR,
				CD_PESSOA_DESTINATARIO,
				DT_EMISSAO_NOTA_FISCAL,
				ID_TIPO_NOTA_FISCAL,
				ID_SITUACAO_NOTA_FISCAL,
				DC_ERRO_NOTA_FISCAL)
	
			VALUES (
				@p_numeroPedido,
				@v_codigoPessoaEmissor,
				@v_codigoPessoa,
				GETDATE(),
				@p_idTipoNotaFiscal, 
				6, -- ERRO NA GERAÇÃO
				'UF de destino não encontrada. Verifique o endereço informado no pedido.') 
			
			SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
			SELECT @v_codigoNotaFiscal = IDENT_CURRENT('TB_NOTA_FISCAL')
			SELECT @p_codigoErro = 0
			SELECT @p_descErro = ''

			RETURN
		end
	
	SELECT @p_qtdeLinhasAfetadas = 0
	
	-- INICIA A GERAÇÃO DA NF AINDA SEM UM NÚMERO DEFINIDO, O NÚMERO SÓ SERÁ ATRIBUÍDO NO FINAL
	-- insere na tabela tb_nota_fiscal (somente alguns campos)
	-- SE OCORRER ALGUM ERRO NA APURAÇÃO DOS ITENS O USUÁRIO PODERÁ CORRIGIR O CADASTRO E REFATURAR SEM PREJUDICAR O NÚMERO DA NF
	INSERT INTO TB_NOTA_FISCAL (
		
		NM_PEDIDO,
		CD_PESSOA_EMISSOR,
		CD_PESSOA_DESTINATARIO,
		DT_EMISSAO_NOTA_FISCAL,
		ID_TIPO_NOTA_FISCAL,
		ID_SITUACAO_NOTA_FISCAL,
		DC_SERIE,
		DC_MODELO)
	
	VALUES (
		@p_numeroPedido,
		@v_codigoPessoaEmissor,
		@v_codigoPessoa,
		GETDATE(),
		@p_idTipoNotaFiscal, 
		0,
		@v_descSerie,
		@v_descModelo) -- GERANDO NOTA FISCAL
		
	
	SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
	SELECT @v_codigoNotaFiscal = IDENT_CURRENT('TB_NOTA_FISCAL')

	-- Aqui vamos verificar se a operação é interna ou interestadual
	if @v_descEstadoEntrega <> @v_descEstadoCD
		begin
			select @v_idDestinoOperacao = 2
		end
	else
		begin
			select @v_idDestinoOperacao = 1
		end

	select @v_infoAdicional = ''
			
	-- abrir o cursor de itens de pedido
	SELECT @v_contadorItem = 1
	
	-- busca os valores de frete e dados da politica de entrega
	select @v_valorFrete = isnull(pd.VL_FRETE_TOTAL,0),
		   @v_restaFrete = isnull(pd.VL_FRETE_TOTAL,0)
	  from TB_PEDIDO pd
	 where pd.NM_PEDIDO = @p_numeroPedido
	 
	--Busca informações dos textos legais e concatena na desc da Nf
	select @v_infoAdicional = ''
	if @v_codigoTextoLegalVenda > 0
		begin
			select @v_infoAdicional = @v_infoAdicional + isnull(DC_TEXTO_LEGAL,'')
			  from TB_TEXTO_LEGAL where CD_TEXTO_LEGAL = @v_codigoTextoLegalVenda
		end
		
	if @v_codigoTextoLegalRevenda > 0 and @v_codigoTextoLegalRevenda <> @v_codigoTextoLegalVenda
		begin
			select @v_infoAdicional = @v_infoAdicional + isnull(DC_TEXTO_LEGAL,'')
			  from TB_TEXTO_LEGAL where CD_TEXTO_LEGAL = @v_codigoTextoLegalRevenda
		end
		
	if @v_codigoTextoLegalDoacao > 0 and @v_codigoTextoLegalDoacao <> @v_codigoTextoLegalRevenda and @v_codigoTextoLegalDoacao <> @v_codigoTextoLegalVenda
		begin
			select @v_infoAdicional = @v_infoAdicional + isnull(DC_TEXTO_LEGAL,'')
			  from TB_TEXTO_LEGAL where CD_TEXTO_LEGAL = @v_codigoTextoLegalDoacao
		end
	
	-- Para a SPATZ precisamos buscar o valor de desconto adicional originado pelos passaportes.
	-- Para isto vamos chamar uma função que irá retornar o saldo de desconto que ainda não foi aplicado na NF.
	-- Só podemos aplicar este desconto nos casos onde houve a utilização de um saldo a favor
	select @v_descontoAdicional = 0

	if @v_codigoCliente = 14 and @v_codigoRegraComercial IN (2,4,11)
		begin
			select @v_descontoAdicional = dbo.fn_SpatzPedidoBuscaValorDescontoAdicional(@p_numeroPedido,@v_codigoPessoa),
				   @v_restaDescontoAdicional = dbo.fn_SpatzPedidoBuscaValorDescontoAdicional(@p_numeroPedido,@v_codigoPessoa)
		end
	else
		begin
			select @v_descontoAdicional = 0,
				   @v_restaDescontoAdicional = 0
		end
	
	--Vamos obter os descontos de saldo a favor, cupom de desconto e plano de pagamento aplicados no pedido
	select @v_descontoAdicional = @v_descontoAdicional + ISNULL(VL_SALDO_FAVOR_UTILIZADO,0) + ISNULL(VL_DESCONTO_CUPOM_APLICADO,0) + ISNULL(VL_DESCONTO_PLANO_PAGAMENTO,0)
	  from TB_PEDIDO where NM_PEDIDO = @p_numeroPedido

	--COMENTADO POR DIEGO -- A PRINCIPIO OS BRINDES NÃO DEVEM CONSTAR COMO DESCONTO NA NOTA
	--Vamos agora obter os brindes aplicados por promoção, estes itens serão faturados porém precisamos aplicar o valor dos brindes como desconto na NF nos demais itens
	--******* Trecho comentado por Diego Zilioti em 09/01, não é mais preciso aplicar o valor de brinde como desconto nas NFs
	--select @v_descontoAdicional = @v_descontoAdicional + isnull(SUM(VL_PRECO_FATURAMENTO) ,0)
	--  from TB_PEDIDO_ITEM_PROMOCAO
	-- where NM_PEDIDO = @p_numeroPedido
	--   and ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 --brindes

	if @v_descontoAdicional >= @v_valorPagarTeorico
		begin
			select @v_descontoAdicional = @v_valorPagarTeorico
			select @v_restaDescontoAdicional = @v_valorPagarTeorico
		end	
	else
		begin
			select @v_restaDescontoAdicional = @v_descontoAdicional
		end
	
	-- NESTE PONTO VAMOS DEFINIR ALGUNS CAMPOS DA NF QUE INDICAM O TIPO DE CONTRIBUINTE E SERÁ UTILIZADO PARA O CÁLCULO DO DIFAL ICMS
	
	-- Primeiramente vamos verificar se a pessoa em questão é uma PJ com IE definida
	select @v_possuiIE = case isnull(rtrim(pd.DC_DOCUMENTO),'')
		                 when 'ISENTO' then 2
		                 when '' then 2
		                 else 1 end
	  from TB_PESSOA_JURIDICA pj, TB_PESSOA_DOCUMENTO pd
	 where pj.CD_PESSOA = @v_codigoPessoa
	   and pd.CD_PESSOA = pj.CD_PESSOA
	   and pd.ID_TIPO_DOCUMENTO = 2 --IE
	   
	if @v_possuiIE = 1 
		begin
			SELECT @v_idIndicadorIEDest = 1,
				   @v_idIndicadorPresenca = 1
		end
	else
		begin
			if @v_funcaoPedido = 2
				begin
					SELECT @v_idIndicadorIEDest = ( Select Case 
										WHEN @v_descEstadoEntrega IN ('BA', 'CE', 'GO','MG', 'MS', 'MT', 'PE', 'RN', 'SP', 'SE', 'AM', 'PA') THEN 9
										ELSE 2 END),
						   @v_idIndicadorPresenca = 1
				end
			else
				begin
					SELECT @v_idIndicadorIEDest = 9,
						   @v_idIndicadorPresenca = 1
				end
		end
	
	-- Vamos agora buscar o valor de taxa administrativa do pedido, temos clientes que cobram esta taxa e este valor é somado ao boleto
	-- ***************************************************************************
	-- ALTERAÇÃO POR DIEGO ZILIOTI EM 04/04/2019
	-- O VALOR DA TAXA ADMINISTRATIVA AGORA DEVERÁ SER TRATADO DE ACORDO COM A CONFIGURAÇÃO NO PLANO DE PAGAMENTO
	-- AS OPÇÕES SÃO: 1 - DESTACAR EM DESP ACESSÓRIAS, 2 - DESTACAR COMO FRETE, 3 - NÃO DESTACAR
	-- ***************************************************************************
	-- Inicialmente esse valor será somado no primeiro item da NF na base de cálculo do ICMS
	
	SELECT @v_idDestacaTaxaAdministrativa = isnull(ID_DESTACA_NF_TAXA_ADMINISTRATIVA,1),
		   @v_valorDespAcessorias = 0
	  FROM TB_PLANO_PAGAMENTO
	 WHERE CD_PLANO_PAGAMENTO = @v_codigoPlanoPagamento

	-- OPÇÃO 1 - DESTACA O VALOR DA TAXA EM DESPESAS ACESSÓRIAS
	IF @v_idDestacaTaxaAdministrativa = 1
		BEGIN
			select TOP 1 @v_valorDespAcessorias = ISNULL(VL_TAXA_ADMINISTRATIVA,0)
			  from TB_DIVIDA 
			 where NM_PEDIDO = @p_numeroPedido
			   and ID_SITUACAO_PAGAMENTO <> 4
		END

	-- OPÇÃO 2 - DESTACA O VALOR NO FRETE
	IF @v_idDestacaTaxaAdministrativa = 2
		BEGIN
			select @v_valorFrete = @v_valorFrete + ISNULL(MIN(VL_TAXA_ADMINISTRATIVA),0)
			  from TB_DIVIDA 
			 where NM_PEDIDO = @p_numeroPedido
			   and ID_SITUACAO_PAGAMENTO <> 4

			select @v_restaFrete = @v_valorFrete
		END

	-- OPÇÃO 3 - NÃO DESTACA O VALOR
	IF @v_idDestacaTaxaAdministrativa = 3
		BEGIN
			SELECT @v_valorDespAcessorias = 0
		END
                         
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
	
		select distinct OI.CD_ORDEM_COLETA_ITEM,
			   oi.CD_PRODUTO_VENDA, 
			   oi.CD_MATERIAL,
			   oi.QT_ITEM_COLETADA,
			   (PDI.VL_PRATICADO_TOTAL / PDI.QT_RESERVADA) * oi.QT_ITEM_COLETADA,
			   (PDI.VL_PAGAR_TOTAL / PDI.QT_RESERVADA) * oi.QT_ITEM_COLETADA,
			   (PDI.VL_TABELA_TOTAL / PDI.QT_RESERVADA) * oi.QT_ITEM_COLETADA,
			   PDI.ID_PRODUTO_COBRADO,
			   PDI.ID_TIPO_PRODUTO,
			   0,
			   (select e.VL_CUSTO_MEDIO_UNITARIO from tb_estoque e where e.cd_material = pdi.cd_material and e.cd_centro_distribuicao = pd.cd_centro_distribuicao) * oi.QT_ITEM_COLETADA,
			   (select e.VL_REPOSICAO_UNITARIO from tb_estoque e where e.cd_material = pdi.cd_material and e.cd_centro_distribuicao = pd.cd_centro_distribuicao) * oi.QT_ITEM_COLETADA,
			   ((pdi.VL_PRATICADO_TOTAL - pdi.VL_LIQUIDO_TOTAL) / pdi.QT_RESERVADA) * oi.QT_ITEM_COLETADA,
				case @v_descontoAdicional when 0 then 0
				else isnull(convert(numeric(18,2),@v_descontoAdicional * (((PDI.VL_PRATICADO_TOTAL / PDI.QT_RESERVADA) * oi.QT_ITEM_COLETADA) / pd.VL_PRATICADO_TOTAL)),0) end
		  from TB_ORDEM_COLETA_ITEM oi, TB_ORDEM_COLETA o, TB_PEDIDO_ITEM PDI, TB_PEDIDO PD
		 where oi.CD_ORDEM_COLETA = o.CD_ORDEM_COLETA
		   and oi.CD_SITUACAO_ORDEM_COLETA_ITEM = 5
		   and oi.CD_ORDEM_COLETA = @p_codigoOrdemColeta
		   and PDI.NM_PEDIDO = O.NM_PEDIDO
		   and PDI.CD_PRODUTO_VENDA = oi.CD_PRODUTO_VENDA
		   and pdi.CD_MATERIAL = oi.CD_MATERIAL
		   AND PDI.CD_MATERIAL > 0
		   AND PD.NM_PEDIDO = PDI.NM_PEDIDO
		   
		-- *****************************************
		-- CORREÇÃO POR DIEGO ZILIOTI EM 26/12/2019
		-- PRECISAMOS INCLUIR TAMBÉM OS ITENS ORIGINADOS DE BRINDES
		-- *****************************************

		union all

		select distinct OI.CD_ORDEM_COLETA_ITEM,
			   oi.CD_PRODUTO_VENDA, 
			   PDI.CD_MATERIAL,
			   oi.QT_ITEM_COLETADA,
			   (PDI.VL_PRATICADO_TOTAL / PDI.QT_RESERVADA) * oi.QT_ITEM_COLETADA,
			   (PDI.VL_PAGAR_TOTAL / PDI.QT_RESERVADA) * oi.QT_ITEM_COLETADA,
			   (PDI.VL_TABELA_TOTAL / PDI.QT_RESERVADA) * oi.QT_ITEM_COLETADA,
			   0,
			   (SELECT PV.ID_TIPO_PRODUTO FROM TB_PRODUTO_VENDA PV WHERE PV.CD_PRODUTO_VENDA = PDI.CD_PRODUTO_VENDA),
			   0,
			   (select e.VL_CUSTO_MEDIO_UNITARIO from tb_estoque e where e.cd_material = pdi.cd_material and e.cd_centro_distribuicao = pd.cd_centro_distribuicao) * oi.QT_ITEM_COLETADA,
			   (select e.VL_REPOSICAO_UNITARIO from tb_estoque e where e.cd_material = pdi.cd_material and e.cd_centro_distribuicao = pd.cd_centro_distribuicao) * oi.QT_ITEM_COLETADA,
			   ((pdi.VL_PRATICADO_TOTAL - pdi.VL_LIQUIDO_TOTAL) / pdi.QT_RESERVADA) * oi.QT_ITEM_COLETADA,
				case @v_descontoAdicional when 0 then 0
				else isnull(convert(numeric(18,2),@v_descontoAdicional * (((PDI.VL_PRATICADO_TOTAL / PDI.QT_RESERVADA) * oi.QT_ITEM_COLETADA) / pd.VL_PRATICADO_TOTAL)),0) end
		  from TB_ORDEM_COLETA_ITEM oi, TB_ORDEM_COLETA o, TB_PEDIDO_ITEM_PROMOCAO PDI, TB_PEDIDO PD
		 where oi.CD_ORDEM_COLETA = o.CD_ORDEM_COLETA
		   and oi.CD_SITUACAO_ORDEM_COLETA_ITEM = 5
		   and oi.CD_ORDEM_COLETA = @p_codigoOrdemColeta
		   and PDI.NM_PEDIDO = O.NM_PEDIDO
		   and PDI.CD_PRODUTO_VENDA = oi.CD_PRODUTO_VENDA
		   and pdi.CD_MATERIAL = oi.CD_MATERIAL
		   AND PDI.CD_MATERIAL > 0
		   AND PD.NM_PEDIDO = PDI.NM_PEDIDO
		   AND PDI.ID_TIPO_BENEFICIO_PEDIDO_ITEM = 1 -- BRINDES
		   order by CD_ORDEM_COLETA_ITEM

	
	OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO @v_numeroOrdemColetaItem, @v_codigoProduto, @v_codigoMaterial, @v_qtdeReservada, @v_valorPraticado, @v_valorPagarTotal, @v_valorTabelaTotal, @v_idProdutoCobrado, 
		@v_idTipoProduto, @v_valorFreteItem, @v_valorCustoMedioItem, @v_valorCustoUltRepItem, @v_valorDescontoItem, @v_valorDescontoAdicionalItem
		
		WHILE @@FETCH_STATUS = 0
			BEGIN
				-- Vamos zerar todas as informações antes
				select @v_descMaterial = '',
					   @v_codigoNCM = 0,
					   @v_descNCM = '',
					   @v_idOperacaoFiscal = 0,
					   @v_codigoCEST = 0,
					   @v_codigoCESTDemaisOper = 0,
					   @v_descCEST = '',
					   @v_percAliqICMS = 0,
					   @v_valorICMS = 0,
					   @v_valorBaseCalculoICMS = 0,
					   @v_codigoCSTICMS = 0,
					   @v_percAliqICMSST	= 0,
					   @v_valorICMSST = 0,
					   @v_valorBaseCalculoICMSST	= 0,
					   @v_codigoCSTICMSST = 0,	 
 					   @v_percMVA = 0,
					   @v_percAliqPIS = 0,
					   @v_valorPIS = 0,
					   @v_valorBaseCalculoPIS = 0,
					   @v_codigoCSTPIS = 0,
					   @v_percAliqCOFINS	= 0,		 
					   @v_valorCOFINS = 0,
					   @v_valorBaseCalculoCOFINS	= 0,
					   @v_codigoCSTCOFINS = 0,
					   @v_percAliqIPI = 0,
					   @v_valorIPI = 0,
					   @v_valorBaseCalculoIPI = 0,
					   @v_codigoCSTIPI = 0,
					   @v_codigoCFOPItem = 0,
					   @v_codigoCFOPVendaMaterial = 0,
					   @v_codigoCFOPRevendaMaterial = 0,
					   @v_codigoCFOPDoacaoMaterial = 0,
					   @v_codigoCFOPEntradaDevolucaoMaterial = 0,
					   @v_codigoTextoLegalSaidaMaterial = 0,
					   @v_codigoTextoLegalSaidaMaterial = 0,
					   @v_percAliqICMSInter = 0,
					   @v_percAliqICMSPartilha = 0,
					   @v_percAliqICMSUFDest = 0,
					   @v_percAliqICMSPartilha = 0,
					   @v_valorBaseCalculoICMSUFDest = 0,
					   @v_valorICMSFundoPobrezaUFDest = 0,
					   @v_valorICMSUFDest = 0,
					   @v_valorICMSUFOrigem = 0,
					   @v_valorICMSDIFAL = 0,
					   @v_percFundoPobrezaUFDest = 0,
					   @v_valorICMSFundoPobrezaUFDest = 0,
					   @v_percDescontoICMSSTDentro = 0,
					   @v_valorDescontoICMSSTDentro = 0,
					   @v_baseCalculoICMSSTDentro = 0

				-- BUSCA DADOS DO MATERIAL
				-- DESCRICAO DO MATERIAL // ORIGEM DO MATERIAL // NCM // CFOPS DE EXCEÇÃO
				select	@v_descMaterial = A.DC_MATERIAL,
						@v_codigoNCM = A.CD_CLASSIFICACAO_FISCAL,
						@v_descNCM = B.DC_CLASSIFICACAO_FISCAL,
						@v_idOrigemMaterial = A.ID_ORIGEM_MATERIAL,
						@v_codigoCFOPVendaMaterial = (case @v_idDestinoOperacao WHEN 1 then ISNULL(A.CD_CFOP_SAIDA_VENDA,0) else ISNULL(A.CD_CFOP_SAIDA_VENDA_FORA_ESTADO,0) END),
						@v_codigoCFOPRevendaMaterial = (case @v_idDestinoOperacao WHEN 1 then ISNULL(A.CD_CFOP_SAIDA_REVENDA,0) else ISNULL(A.CD_CFOP_SAIDA_REVENDA_FORA_ESTADO,0) END),
						@v_codigoCFOPDoacaoMaterial = (case @v_idDestinoOperacao WHEN 1 then ISNULL(A.CD_CFOP_SAIDA_DOACAO,0) else ISNULL(A.CD_CFOP_SAIDA_DOACAO_FORA_ESTADO,0) END),
						@v_codigoCFOPEntradaDevolucaoMaterial = (case @v_idDestinoOperacao WHEN 1 then ISNULL(A.CD_CFOP_ENTRADA_DEVOLUCAO,0) else ISNULL(A.CD_CFOP_ENTRADA_DEVOLUCAO_FORA_ESTADO,0) END),
						@v_codigoTextoLegalSaidaMaterial = ISNULL(A.CD_TEXTO_LEGAL_SAIDA,0),
						@v_codigoTextoLegalEntradaMaterial = ISNULL(A.CD_TEXTO_LEGAL_ENTRADA,0)
				  from TB_MATERIAL A, TB_CLASSIFICACAO_FISCAL B
				 where A.CD_MATERIAL = @v_codigoMaterial
				   AND A.CD_CLASSIFICACAO_FISCAL = B.CD_CLASSIFICACAO_FISCAL

				-- informações do CEST
				select @v_codigoCEST = a.CD_CEST,
					   @v_codigoCESTDemaisOper = a.CD_CEST_DEMAIS_OPERACOES
				  from TB_MATERIAL A
				 where a.CD_MATERIAL = @v_codigoMaterial
				   
				-- DEFINE O TIPO DE OPERACAO FISCAL. SE É REVENDA OU DOAÇÃO
				IF @v_idProdutoCobrado = 0
					BEGIN
						SELECT @v_idOperacaoFiscal = 3
						select @v_codigoCFOPItem = @v_codigoCFOPDoacao
					END
				ELSE
					BEGIN
						--PRECISAMOS VERIFICAR SE O VALOR A PAGAR É IGUAL A 0 OU O DESCONTO CONCEDIDO É IGUAL AO VALOR TOTAL A PAGAR, CASO SEJA SE CARACTERIZA COMO DOAÇÃO
						IF @v_valorPagarTotal = 0 OR (@v_valorPagarTotal <= (@v_valorDescontoAdicionalItem + @v_valorDescontoItem)) OR @v_valorPagarPedido = 0
							BEGIN
								SELECT @v_idOperacaoFiscal = 3
								select @v_codigoCFOPItem = @v_codigoCFOPDoacao
								select @v_valorDescontoAdicionalItem = 0, @v_valorDescontoItem = 0
							END
						ELSE --CASO CONTRÁRIO PRECISAMOS CHECAR O TIPO DE PRODUTO PARA ESTABELECER O TIPO DE OPERAÇÃO FISCAL
							BEGIN
								IF @v_idTipoProduto = 1 --PRODUTO REGULAR - OPERAÇÃO REVENDA
									BEGIN
										SELECT @v_idOperacaoFiscal = 2
										select @v_codigoCFOPItem = @v_codigoCFOPRevenda
									END

								IF @v_idTipoProduto = 2 --BRINDE - OPERAÇÃO DOAÇÃO
									BEGIN
										SELECT @v_idOperacaoFiscal = 3
										select @v_codigoCFOPItem = @v_codigoCFOPDoacao
									END

								IF @v_idTipoProduto = 3 --MATERIAL DE APOIO - OPERAÇÃO VENDA
									BEGIN
										SELECT @v_idOperacaoFiscal = 1
										select @v_codigoCFOPItem = @v_codigoCFOPVenda
									END
								
								--Para pedidos de CF consideramos somente como venda para consumo próprio
								if @v_funcaoPedido = 1 or @v_funcaoPedido = 5
									begin
										SELECT @v_idOperacaoFiscal = 1
										select @v_codigoCFOPItem = @v_codigoCFOPVenda
									end
							END
						
					END 
				
				
				--VERIFICA SE EXISTE UMA CFOP DIFERENTE PARA O MATERIAL EM QUESTÃO
				IF @v_idOperacaoFiscal = 1 AND @v_codigoCFOPVendaMaterial > 0 and @p_idTipoNotaFiscal = 2
					BEGIN
						SELECT @v_codigoCFOPItem = @v_codigoCFOPVendaMaterial 
						
						if @v_descEstadoCD <> @v_descEstadoEntrega
							begin
								select @v_codigoCFOPItem = REPLACE(@v_codigoCFOPItem, '5','6')
							end
					END
					
				IF @v_idOperacaoFiscal = 2 AND @v_codigoCFOPRevendaMaterial > 0 and @p_idTipoNotaFiscal = 2
					BEGIN
						SELECT @v_codigoCFOPItem = @v_codigoCFOPRevendaMaterial
						
						if @v_descEstadoCD <> @v_descEstadoEntrega
							begin
								select @v_codigoCFOPItem = REPLACE(@v_codigoCFOPItem, '5','6')
							end
					END
					
				IF @v_idOperacaoFiscal = 3 AND @v_codigoCFOPDoacaoMaterial > 0 and @p_idTipoNotaFiscal = 2
					BEGIN
						SELECT @v_codigoCFOPItem = @v_codigoCFOPDoacaoMaterial
						
						if @v_descEstadoCD <> @v_descEstadoEntrega
							begin
								select @v_codigoCFOPItem = REPLACE(@v_codigoCFOPItem, '5','6')
							end
					END
					
				IF @v_codigoCFOPEntradaDevolucaoMaterial > 0 and @p_idTipoNotaFiscal = 1
					begin
						SELECT @v_codigoCFOPItem = @v_codigoCFOPEntradaDevolucaoMaterial
						
						if @v_descEstadoCD <> @v_descEstadoEntrega
							begin
								select @v_codigoCFOPItem = REPLACE(@v_codigoCFOPItem, '1','2')
							end
					end
				
				--Precisamos agora validar pelo tipo de operação fiscal qual será o preço faturamento base que vamos utilizar
				if @v_idOperacaoFiscal = 1
					begin
						if @v_idPrecoFaturamentoVenda = 1
							begin
								select @v_valorPraticado = @v_valorPraticado	
							end
						if @v_idPrecoFaturamentoVenda = 2
							begin
								select @v_valorPraticado = @v_valorCustoMedioItem	
							end
						if @v_idPrecoFaturamentoVenda = 3
							begin
								select @v_valorPraticado = @v_valorCustoUltRepItem
							end

						-- VAMOS BUSCAR A CEST PARA DEMAIS OPERAÇÕES
						SELECT @v_descCEST = DC_CEST
						  FROM TB_CEST
						 WHERE CD_CEST = @v_codigoCESTDemaisOper
					end
				
				if @v_idOperacaoFiscal = 2
					begin
						if @v_idPrecoFaturamentoRevenda = 1
							begin
								select @v_valorPraticado = @v_valorPraticado	
							end
						if @v_idPrecoFaturamentoRevenda = 2
							begin
								select @v_valorPraticado = @v_valorCustoMedioItem	
							end
						if @v_idPrecoFaturamentoRevenda = 3
							begin
								select @v_valorPraticado = @v_valorCustoUltRepItem
							end
						-- VAMOS BUSCAR A CEST PARA REVENDA
						SELECT @v_descCEST = DC_CEST
						  FROM TB_CEST
						 WHERE CD_CEST = @v_codigoCEST
					end
				
				if @v_idOperacaoFiscal = 3
					begin
						if @v_idPrecoFaturamentoDoacao = 1
							begin
								select @v_valorPraticado = @v_valorPraticado	
							end
						if @v_idPrecoFaturamentoDoacao = 2
							begin
								select @v_valorPraticado = @v_valorCustoMedioItem	
							end
						if @v_idPrecoFaturamentoDoacao = 3
							begin
								select @v_valorPraticado = @v_valorCustoUltRepItem
							end

						-- VAMOS BUSCAR A CEST PARA DEMAIS OPERAÇÕES
						SELECT @v_descCEST = DC_CEST
						  FROM TB_CEST
						 WHERE CD_CEST = @v_codigoCESTDemaisOper
					end
					
				--Precisamos validar se o valor praticado do item é igual a 0, neste caso iremos faturar pelo valor tabela já que o item não pode aparecer zerado na NF
				if @v_valorPraticado = 0
					begin
						if @v_idPrecoFaturamentoDoacao = 1
							begin
								select @v_valorPraticado = @v_valorTabelaTotal	
							end
						if @v_idPrecoFaturamentoDoacao = 2
							begin
								select @v_valorPraticado = @v_valorCustoMedioItem	
							end
						if @v_idPrecoFaturamentoDoacao = 3
							begin
								select @v_valorPraticado = @v_valorCustoUltRepItem
							end
							
					end
				
				
				-- VAMOS VALIDAR O DESCONTO ADICIONAL NESTE PONTO
				-- NO CASO DA SPATZ FOI CONCEDIDO UM DESCONTO ADICIONAL QUE É AGREGADO
				if @v_idProdutoCobrado <> 0 AND @v_idOperacaoFiscal <> 3
					begin
						IF @v_valorDescontoAdicionalItem >= (@v_valorPraticado - @v_valorDescontoItem - 0.01)  and @v_valorDescontoAdicionalItem <> 0
							BEGIN
								--NESTE CASO NÃO DEVEMOS APLICAR O VALOR TOTAL DO ITEM COMO DESCONTO, PRECISAMOS APLICAR UM VALOR SIMBÓLICO DE 1,00 COMO O VALOR A FATURAR
								SELECT @v_valorDescontoAdicionalItem = @v_valorPraticado - @v_valorDescontoItem - 1
								
								SELECT @v_restaDescontoAdicional = @v_restaDescontoAdicional - @v_valorDescontoAdicionalItem
							
							END
						ELSE
							BEGIN
								SELECT @v_restaDescontoAdicional = @v_restaDescontoAdicional - @v_valorDescontoAdicionalItem
							END	
					end
				
				--AGORA VAMOS VERIFICAR SE ESTE É O ÚLTIMO ITEM DO PEDIDO
				SELECT @v_numeroItem = ISNULL(MIN(CD_ORDEM_COLETA_ITEM),0)
				  FROM TB_ORDEM_COLETA_ITEM
				 WHERE CD_ORDEM_COLETA = @p_codigoOrdemColeta
				   AND CD_ORDEM_COLETA_ITEM > @v_numeroOrdemColetaItem
				   
				--SE O RESULTADO FOR IGUAL A 0 SIGNIFICA QUE SE TRATA DO ÚLTIMO ITEM DO PEDIDO, VAMOS JOGAR A DIFERENÇA DE FRETE NESTE ITEM CASO ELA EXISTA
				IF @v_numeroItem = 0 AND @v_restaDescontoAdicional <> 0 and @v_idProdutoCobrado <> 0 AND @v_idOperacaoFiscal <> 3
					BEGIN
						SELECT @v_valorDescontoAdicionalItem = @v_valorDescontoAdicionalItem + @v_restaDescontoAdicional
					END
					
				-- SE O DESCONTO DO ITEM FOR IGUAL AO VALOR A PAGAR IREMOS ZERAR O DESCONTO NO ITEM POIS ELE SAIRÁ COMO BRINDE
				IF @v_valorPagarTotal <= (@v_valorDescontoAdicionalItem + @v_valorDescontoItem)
					BEGIN
						SELECT @v_valorDescontoAdicionalItem = 0, @v_valorDescontoItem = 0
					END
				--VAMOS VALIDAR O RATEIO DO FRETE NESTE PONTO
				--PRIMEIRO VAMOS ATUALIZAR A DIFERENÇA DE FRETE
				SELECT @v_restaFrete = @v_restaFrete - @v_valorFreteItem
								   
				--SE O RESULTADO FOR IGUAL A 0 SIGNIFICA QUE SE TRATA DO ÚLTIMO ITEM DO PEDIDO, VAMOS JOGAR A DIFERENÇA DE FRETE NESTE ITEM CASO ELA EXISTA
				IF @v_numeroItem = 0 AND @v_restaFrete <> 0 and @v_idProdutoCobrado <> 0 AND @v_idOperacaoFiscal <> 3
					BEGIN
						SELECT @v_valorFreteItem = @v_valorFreteItem + @v_restaFrete
					END
									
				--VAMOS INICIAR AS APURAÇÕES DE IMPOSTOS
				--IPI
				IF @v_idApuraIPI = 1
					BEGIN
						--BUSCA A ALÍQUOTA DE IPI
						SELECT @v_percAliqIPI = dbo.fn_FiscalBuscaAliquotaIPI(@v_codigoMaterial, @v_idOperacaoFiscal, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa) , -- DBO.FN_BUSCA_ALIQUOTA_IPI(@v_codigoMaterial),
							   @v_valorBaseCalculoIPI = @v_valorPraticado + @v_valorFreteItem + @v_valorDespAcessorias,
							   @v_codigoCSTIPI = dbo.fn_busca_cst(@v_codigoMaterial, @v_idOperacaoFiscal, 1, @p_idTipoNotaFiscal,1, @v_codigoRegraFiscal, @v_idTipoPessoa)

						if @v_percAliqIPI > 0
							begin
								select @v_valorIPI = @v_valorBaseCalculoIPI * (@v_percAliqIPI / 100)
							end
						else
							begin
								select @v_valorIPI = 0, @v_valorBaseCalculoIPI = 0
							end

					END
					
					
				--ICMS					
				if @v_idApuraICMS = 1
					begin
						--Busca a alíquota de icms, base de cálculo e CST
						--No caso específico do ICMS o valor de frete é incluído na base de cálculo
						--TAMBÉM VAMOS ADICIONAR O VALOR DE DESPESAS ACESSÓRIAS DE UMA ÚNICA VEZ, SEM RATEIO NOS DEMAIS ITENS, PORTANTO SERÁ SOMADO DIRETO NO PRIMEIRO ITEM
						select @v_percAliqICMS = dbo.FN_BUSCA_ALIQUOTA_ICMS(@v_codigoMaterial,@v_descEstadoCD,@v_descEstadoEntrega, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa),
							   @v_valorBaseCalculoICMS = @v_valorPraticado + @v_valorFreteItem + @v_valorDespAcessorias - @v_valorDescontoItem - @v_valorDescontoAdicionalItem
						
						if @v_descEstadoCD = @v_descEstadoEntrega
							begin
								select @v_codigoCSTICMS = dbo.FN_BUSCA_CST(@v_codigoMaterial, @v_idOperacaoFiscal,4, @p_idTipoNotaFiscal, 1, @v_codigoRegraFiscal, @v_idTipoPessoa)
							end
						else
							begin
								select @v_codigoCSTICMS = dbo.FN_BUSCA_CST(@v_codigoMaterial, @v_idOperacaoFiscal,4, @p_idTipoNotaFiscal, 2, @v_codigoRegraFiscal, @v_idTipoPessoa)
							end
						
						--Nos casos onde temos um valor de IPI calculado, a operação fiscal é igual a 1 (venda a consumidor) e não tem ST
						--devemos somar o valor do IPI na Base de Cálculo do ICMS
						if @v_valorIPI > 0 and @v_idOperacaoFiscal = 1 and @v_codigoCSTICMS not in (10,30,70,203)
							begin
								select @v_valorBaseCalculoICMS = @v_valorBaseCalculoICMS + @v_valorIPI
							end
					
						--PENDÊNCIA BUSCAR REDUÇÃO DA BASE DE CÁLCULO ICMS
						
						--CALCULA O ICMS	   
						SELECT @v_valorICMS = dbo.FN_CALCULA_ICMS(0 ,@v_valorBaseCalculoICMS, @v_percAliqICMS)
						
						--**********************************************************************************************************************
						-- VAMOS TRATAR O CÁLCULO DO DIFAL ICMS, SÓ APLICADO PARA OPERAÇÕES COM CONSUMIDOR FINAL PARA 
						-- OPERAÇÕES INTERESTADUAIS, DEVE SER APLICADO SEMPRE QUANDO A OPERAÇÃO OCORRER COM CF NÃO CONTRIBUINTE OU ISENTO DA IE
						-- NÃO SERÁ CALCULADO QUANDO O CLIENTE FOR DO SIMPLES NACIONAL
						--**********************************************************************************************************************
						if @v_idIndicadorIEDest = 9 and @v_descEstadoCD <> @v_descEstadoEntrega and @v_funcaoPedido in (1,2,5) and @v_idRegimeFaturamento <> 2 and @v_codigoCSTICMS <> 10 and @v_codigoCSTICMS <> 30 and @v_codigoCSTICMS <> 70
							begin

								--Vamos buscar os percentuais de alíquotas para cálculo do DIFAL ICMS e Base de Cálculo
								select @v_percAliqICMSInter = @v_percAliqICMS, --alíquota interestadual
									   @v_percAliqICMSUFDest = dbo.FN_BUSCA_ALIQUOTA_ICMS(@v_codigoMaterial,@v_descEstadoEntrega,@v_descEstadoEntrega, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa),
									   @v_valorBaseCalculoICMSUFDest = @v_valorBaseCalculoICMS, --mesma base utilizada no cálculo do ICMS
									   @v_percFundoPobrezaUFDest = dbo.FN_BUSCA_ALIQUOTA_FUNDO_POBREZA_DESTINO(@v_codigoMaterial,@v_descEstadoEntrega,@p_idTipoNotaFiscal), 
									   @v_percAliqICMSPartilha = case YEAR(getdate()) when 2017 then 60
																					  when 2018 then 80
																					  when 2019 then 100
																					  else 100 end
								--************************ NOVA FÓRMULA CÁLCULO DIFAL ******************************
								-- ALTERAÇÃO EM 05/01/2018 POR DIEGO ZILIOTI
								-- FOI ALTERADA A FORMA DE CÁLCULO DO DIFAL PARA 2018, A PARTIR DE AGORA O DIFERENCIAL DE ALÍQUOTA É INCORPORADO NA BASE DE CÁLCULO
								-- OU SEJA A COBRANÇA DO DIFAL ICMS TAMBÉM OCORRE POR DENTRO IGUAL AO ICMS PRÓRPIO, DESTA FORMA A FÓRMULA ATUAL FICA OBSOLETA
								-- PARA ATENDER FOI CRIADO O PARÂMETRO COBRAR_DIFAL_DENTRO NA REGRA FISCAL, ELE DETERMINARÁ QUAL FÓRMULA SERÁ SEGUIDA
								-- 1 - NOVA FÓRMULA POR DENTRO (2018) / 2 - FÓRMULA ANTIGA
								--***********************************************************************************
								if @v_idCobrarDifalDentro = 1
									begin
										--Com todos os parâmetros em mãos vamos calcular o DIFAL
										--A fórmula é: (((BC ICMS - Valor ICMS InterEstadual) / ( 1 - %Alíquota Destino - % fundo pobreza)) * %Alíquota Destino) - (BC ICMS * %Alíquota ICMS Interestadual)
										select @v_valorBaseCalculoICMSUFDest = (@v_valorBaseCalculoICMSUFDest - @v_valorICMS) / (1 - ((@v_percAliqICMSUFDest - @v_percFundoPobrezaUFDest) / 100))
										select @v_valorICMSDIFAL = (@v_valorBaseCalculoICMSUFDest * (@v_percAliqICMSUFDest / 100)) - (@v_valorICMS)

										--Com o valor do DIFAL Calculado agora vamos realizar a partilha entre UF Destino e UF Origem
										select @v_valorICMSUFDest = @v_valorICMSDIFAL * (@v_percAliqICMSPartilha / 100),
											   @v_valorICMSUFOrigem = @v_valorICMSDIFAL * (1 - (@v_percAliqICMSPartilha /100)),
											   @v_valorICMSFundoPobrezaUFDest = @v_valorBaseCalculoICMSUFDest * (@v_percFundoPobrezaUFDest / 100) 
									end
								else
									begin
										--Com todos os parâmetros em mãos vamos calcular o DIFAL (FÓRMULA ANTIGA)
										--A fórmula é: Base de Calculo ICMS * (%aliquota ICMS no Destino - %Alíquota ICMS Interestadual)
										select @v_valorICMSDIFAL = @v_valorBaseCalculoICMSUFDest * ((@v_percAliqICMSUFDest - @v_percAliqICMSInter)/100)
								
										--Com o valor do DIFAL Calculado agora vamos realizar a partilha entre UF Destino e UF Origem
										select @v_valorICMSUFDest = @v_valorICMSDIFAL * (@v_percAliqICMSPartilha / 100),
											   @v_valorICMSUFOrigem = @v_valorICMSDIFAL * (1 - (@v_percAliqICMSPartilha /100)),
											   @v_valorICMSFundoPobrezaUFDest = @v_valorBaseCalculoICMSUFDest * (@v_percFundoPobrezaUFDest / 100) 
									end

								--************************ NOVA FÓRMULA CÁLCULO DIFAL ******************************
								--FIM ALTERAÇÃO EM 05/01/2018 POR DIEGO ZILIOTI
								--***********************************************************************************
									   
							end
					end
					
				--TRATAMENTO PARA AS CSTS QUE NÃO POSSUEM INCIDÊNCIA DE ICMS
				IF @v_codigoCSTICMS IN (30,40,41,50,60,103,102,101,300,400,500)
					begin
						select @v_percAliqICMS = 0,
							   @v_valorBaseCalculoICMS = 0,
							   @v_valorICMS = 0

					end
				
				--calcula a ST se o CST for 10, 30 ou 70 ou 203 para simples nacional
				if @v_codigoCSTICMS in (10,30,70,203) and @p_idTipoNotaFiscal = 2
					begin
						--busca o perc MVA para a alíquota de origem
						select @v_percMVA = isnull(gicst.VL_ALIQUOTA_MVA_INTERNO,0),
							   @v_percAliqICMSST = ISNULL(gicst.PC_ALIQUOTA_ICMS,0)
						  from TB_GRUPO_IMPOSTOS_ICMS_ST gicst, TB_GRUPO_IMPOSTOS gi, TB_GRUPO_IMPOSTOS G
						 where gicst.CD_GRUPO_IMPOSTOS = gi.CD_GRUPO_IMPOSTOS
						   and gicst.DC_UF = @v_descEstadoEntrega
						   AND gicst.CD_GRUPO_IMPOSTOS = G.CD_GRUPO_IMPOSTOS
						   AND G.ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal
						   and exists(select m.CD_GRUPO_IMPOSTOS_SAIDA from TB_MATERIAL m
						              where m.CD_MATERIAL = @v_codigoMaterial
						                and m.CD_GRUPO_IMPOSTOS_SAIDA = gi.CD_GRUPO_IMPOSTOS)
						               
						if @v_percMVA = 0
							begin
								--não encontrou por material busca por NCM
								select @v_percMVA = isnull(gicst.VL_ALIQUOTA_MVA_INTERNO,0),
									   @v_percAliqICMSST = ISNULL(gicst.PC_ALIQUOTA_ICMS,0)
								  from TB_GRUPO_IMPOSTOS_ICMS_ST gicst, TB_GRUPO_IMPOSTOS gi, TB_GRUPO_IMPOSTOS G
								 where gicst.CD_GRUPO_IMPOSTOS = gi.CD_GRUPO_IMPOSTOS
								   and gicst.DC_UF = @v_descEstadoEntrega
								   AND gicst.CD_GRUPO_IMPOSTOS = G.CD_GRUPO_IMPOSTOS
								   AND G.ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal
								   and exists(select m.CD_GRUPO_IMPOSTOS_SAIDA from TB_CLASSIFICACAO_FISCAL m
											  where m.CD_CLASSIFICACAO_FISCAL = @v_codigoNCM
												and m.CD_GRUPO_IMPOSTOS_SAIDA = gi.CD_GRUPO_IMPOSTOS)
							end
							
						if @v_percMVA > 0
							begin
								--busca a alíquota de ICMS interna do Destino para calcular o ST e também a base de cálculo com base no MVA
								--neste caso vamos somar o valor de IPI na base de cálculo do ICMS ST
								select @v_valorBaseCalculoICMSST = dbo.FN_BASE_CALCULO_ICMS_ST(0,@v_valorBaseCalculoICMS + @v_valorIPI, @v_percMVA)
									   
								--calcula o ST
								select @v_valorICMSST = dbo.FN_CALCULA_ICMS_ST(@v_valorBaseCalculoICMSST,@v_percAliqICMSST,@v_valorICMS)
						
								SELECT @v_idIndicadorIEDest = 2
								--se houver o cálculo por dentro significa que temos que aplicar um desconto de maneira que o valor total da NF absorva o valor de ST
								--neste caso precisaremos obter um valor de desconto e refazer os cálculos de ICMS e ST novamente
						
								if @v_idCobrarICMSSTDentro = 1
									begin
										--PRIMEIRO PEGAMOS O PERCENTUAL NECESSÁRIO DE DESCONTO
										select @v_percDescontoICMSSTDentro = (@v_valorBaseCalculoICMS / (@v_valorBaseCalculoICMS + @v_valorICMSST))
								
										--DEPOIS O VALOR ABSOLUTO DO DESCONTO
										select @v_valorDescontoICMSSTDentro = @v_valorBaseCalculoICMS * (1 - @v_percDescontoICMSSTDentro)
								
										--COM ISTO APLICAMOS O DESCONTO NA BASE DO ICMS E SOMAMOS NO VALOR TOTAL DE DESCONTO
										select @v_valorBaseCalculoICMS = @v_valorBaseCalculoICMS - @v_valorDescontoICMSSTDentro,
											   @v_valorPraticado = @v_valorPraticado - @v_valorDescontoICMSSTDentro
											   --@v_valorDescontoItem = @v_valorDescontoItem + @v_valorDescontoICMSSTDentro
									   
										--CALCULA O ICMS NOVAMENTE
										SELECT @v_valorICMS = dbo.FN_CALCULA_ICMS(0 ,@v_valorBaseCalculoICMS, @v_percAliqICMS)   
								
										--Agora Calcula o ICMS ST NOVAMENTE
										select @v_valorBaseCalculoICMSST = dbo.FN_BASE_CALCULO_ICMS_ST(0,@v_valorBaseCalculoICMS,@v_percMVA)
										select @v_valorICMSST = dbo.FN_CALCULA_ICMS_ST(@v_valorBaseCalculoICMSST,@v_percAliqICMSST,@v_valorICMS)
								
									end
								if @v_codigoCSTICMS = 203 --tratamento para ST no simples nacional, temos que zerar os valores de icms normal
									begin
										select @v_percAliqICMS = 0,
											   @v_valorBaseCalculoICMS = 0,
											   @v_valorICMS = 0,
											   @v_valorBaseCalculoICMSUFDest = 0,
											   @v_valorICMSFundoPobrezaUFDest = 0,
											   @v_valorICMSUFDest = 0,
											   @v_valorICMSUFOrigem = 0,
											   @v_percAliqICMSInter = 0,
											   @v_percAliqICMSPartilha = 0,
											   @v_percFundoPobrezaUFDest = 0,
											   @v_percAliqICMSUFDest = 0
									end
							end
						else
							begin
								if @v_codigoCSTICMS = 203 --tratamento para ST no simples nacional, se não encontrar um MVA não calcula o ST e não aplica ICMS
									begin
										select @v_codigoCSTICMS = 103
									end
								if @v_codigoCSTICMS = 10 --neste caso quando a ST for igual a 10 e não houver % IVA vamos considerar a ST 00 e calcular somente o ICMS próprio
									begin
									
										select @v_percAliqICMS = dbo.FN_BUSCA_ALIQUOTA_ICMS(@v_codigoMaterial,@v_descEstadoCD,@v_descEstadoEntrega, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa),
											   @v_valorBaseCalculoICMS = @v_valorPraticado + @v_valorFreteItem + @v_valorDespAcessorias - @v_valorDescontoItem - @v_valorDescontoAdicionalItem,
											   @v_codigoCSTICMS = 0
											   
										if @v_valorIPI > 0 and @v_idOperacaoFiscal = 1 and @v_codigoCSTICMS not in (10,30,70,203)
											begin
												select @v_valorBaseCalculoICMS = @v_valorBaseCalculoICMS + @v_valorIPI
											end
											
											--CALCULA O ICMS	   
											SELECT @v_valorICMS = dbo.FN_CALCULA_ICMS(0 ,@v_valorBaseCalculoICMS, @v_percAliqICMS)
											
											--**********************************************************************************************************************
											-- VAMOS TRATAR O CÁLCULO DO DIFAL ICMS, SÓ APLICADO PARA OPERAÇÕES COM CONSUMIDOR FINAL PARA 
											-- OPERAÇÕES INTERESTADUAIS, DEVE SER APLICADO SEMPRE QUANDO A OPERAÇÃO OCORRER COM CF NÃO CONTRIBUINTE OU ISENTO DA IE
											-- NÃO SERÁ CALCULADO QUANDO O CLIENTE FOR DO SIMPLES NACIONAL
											--**********************************************************************************************************************
											if @v_idIndicadorIEDest = 9 and @v_descEstadoCD <> @v_descEstadoEntrega and @v_funcaoPedido in (1,2,5) and @v_idRegimeFaturamento <> 2
												begin
													--Vamos buscar os percentuais de alíquotas para cálculo do DIFAL ICMS e Base de Cálculo
													select @v_percAliqICMSInter = @v_percAliqICMS, --alíquota interestadual
														   @v_percAliqICMSUFDest = dbo.FN_BUSCA_ALIQUOTA_ICMS(@v_codigoMaterial,@v_descEstadoEntrega,@v_descEstadoEntrega, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa),
														   @v_valorBaseCalculoICMSUFDest = @v_valorBaseCalculoICMS, --mesma base utilizada no cálculo do ICMS
														   @v_percFundoPobrezaUFDest = dbo.FN_BUSCA_ALIQUOTA_FUNDO_POBREZA_DESTINO(@v_codigoMaterial,@v_descEstadoEntrega,@p_idTipoNotaFiscal), 
														   @v_percAliqICMSPartilha = case YEAR(getdate()) when 2017 then 60
																										  when 2018 then 80
																										  when 2019 then 100
																										  else 100 end
												
													--************************ NOVA FÓRMULA CÁLCULO DIFAL ******************************
													-- ALTERAÇÃO EM 05/01/2018 POR DIEGO ZILIOTI
													-- FOI ALTERADA A FORMA DE CÁLCULO DO DIFAL PARA 2018, A PARTIR DE AGORA O DIFERENCIAL DE ALÍQUOTA É INCORPORADO NA BASE DE CÁLCULO
													-- OU SEJA A COBRANÇA DO DIFAL ICMS TAMBÉM OCORRE POR DENTRO IGUAL AO ICMS PRÓRPIO, DESTA FORMA A FÓRMULA ATUAL FICA OBSOLETA
													-- PARA ATENDER FOI CRIADO O PARÂMETRO COBRAR_DIFAL_DENTRO NA REGRA FISCAL, ELE DETERMINARÁ QUAL FÓRMULA SERÁ SEGUIDA
													-- 1 - NOVA FÓRMULA POR DENTRO (2018) / 2 - FÓRMULA ANTIGA
													--***********************************************************************************
													if @v_idCobrarDifalDentro = 1
														begin
															--Com todos os parâmetros em mãos vamos calcular o DIFAL
															--A fórmula é: (((BC ICMS - Valor ICMS InterEstadual) / ( 1 - %Alíquota Destino - % fundo pobreza)) * %Alíquota Destino) - (BC ICMS * %Alíquota ICMS Interestadual)
															select @v_valorBaseCalculoICMSUFDest = (@v_valorBaseCalculoICMSUFDest - @v_valorICMS) / (1 - ((@v_percAliqICMSUFDest - @v_percFundoPobrezaUFDest) / 100))
															select @v_valorICMSDIFAL = (@v_valorBaseCalculoICMSUFDest * (@v_percAliqICMSUFDest / 100)) - (@v_valorICMS)

															--Com o valor do DIFAL Calculado agora vamos realizar a partilha entre UF Destino e UF Origem
															select @v_valorICMSUFDest = @v_valorICMSDIFAL * (@v_percAliqICMSPartilha / 100),
																   @v_valorICMSUFOrigem = @v_valorICMSDIFAL * (1 - (@v_percAliqICMSPartilha /100)),
																   @v_valorICMSFundoPobrezaUFDest = @v_valorBaseCalculoICMSUFDest * (@v_percFundoPobrezaUFDest / 100) 
														end
													else
														begin
															--Com todos os parâmetros em mãos vamos calcular o DIFAL (FÓRMULA ANTIGA)
															--A fórmula é: Base de Calculo ICMS * (%aliquota ICMS no Destino - %Alíquota ICMS Interestadual)
															select @v_valorICMSDIFAL = @v_valorBaseCalculoICMSUFDest * ((@v_percAliqICMSUFDest - @v_percAliqICMSInter)/100)
								
															--Com o valor do DIFAL Calculado agora vamos realizar a partilha entre UF Destino e UF Origem
															select @v_valorICMSUFDest = @v_valorICMSDIFAL * (@v_percAliqICMSPartilha / 100),
																   @v_valorICMSUFOrigem = @v_valorICMSDIFAL * (1 - (@v_percAliqICMSPartilha /100)),
																   @v_valorICMSFundoPobrezaUFDest = @v_valorBaseCalculoICMSUFDest * (@v_percFundoPobrezaUFDest / 100) 
														end

													--************************ NOVA FÓRMULA CÁLCULO DIFAL ******************************
													--FIM ALTERAÇÃO EM 05/01/2018 POR DIEGO ZILIOTI
													--***********************************************************************************
														   
												end
									end
							end
					end

				if @v_codigoCSTICMS in (10,30,70,203) and @p_idTipoNotaFiscal = 1
					begin
						--busca o perc MVA para a alíquota de origem
						select @v_percMVA = isnull(gicst.VL_ALIQUOTA_MVA_INTERNO,0),
							   @v_percAliqICMSST = ISNULL(gicst.PC_ALIQUOTA_ICMS,0)
						  from TB_GRUPO_IMPOSTOS_ICMS_ST gicst, TB_GRUPO_IMPOSTOS gi, TB_GRUPO_IMPOSTOS G
						 where gicst.CD_GRUPO_IMPOSTOS = gi.CD_GRUPO_IMPOSTOS
						   and gicst.DC_UF = @v_descEstadoEntrega
						   AND gicst.CD_GRUPO_IMPOSTOS = G.CD_GRUPO_IMPOSTOS
						   AND G.ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal
						   and exists(select m.CD_GRUPO_IMPOSTOS_ENTRADA from TB_MATERIAL m
						              where m.CD_MATERIAL = @v_codigoMaterial
						                and m.CD_GRUPO_IMPOSTOS_ENTRADA = gi.CD_GRUPO_IMPOSTOS)
						               
						if @v_percMVA = 0
							begin
								--não encontrou por material busca por NCM
								select @v_percMVA = isnull(gicst.VL_ALIQUOTA_MVA_INTERNO,0),
									   @v_percAliqICMSST = ISNULL(gicst.PC_ALIQUOTA_ICMS,0)
								  from TB_GRUPO_IMPOSTOS_ICMS_ST gicst, TB_GRUPO_IMPOSTOS gi, TB_GRUPO_IMPOSTOS G
								 where gicst.CD_GRUPO_IMPOSTOS = gi.CD_GRUPO_IMPOSTOS
								   and gicst.DC_UF = @v_descEstadoEntrega
								   AND gicst.CD_GRUPO_IMPOSTOS = G.CD_GRUPO_IMPOSTOS
								   AND G.ID_TIPO_NOTA_FISCAL = @p_idTipoNotaFiscal
								   and exists(select m.CD_GRUPO_IMPOSTOS_ENTRADA from TB_CLASSIFICACAO_FISCAL m
											  where m.CD_CLASSIFICACAO_FISCAL = @v_codigoNCM
												and m.CD_GRUPO_IMPOSTOS_ENTRADA = gi.CD_GRUPO_IMPOSTOS)
							end
							
						if @v_percMVA > 0
							begin
								--busca a alíquota de ICMS interna do Destino para calcular o ST e também a base de cálculo com base no MVA
								--neste caso vamos somar o valor de IPI na base de cálculo do ICMS ST
								select @v_valorBaseCalculoICMSST = dbo.FN_BASE_CALCULO_ICMS_ST(0,@v_valorBaseCalculoICMS + @v_valorIPI, @v_percMVA)
									   
								--calcula o ST
								select @v_valorICMSST = dbo.FN_CALCULA_ICMS_ST(@v_valorBaseCalculoICMSST,@v_percAliqICMSST,@v_valorICMS)
						
								SELECT @v_idIndicadorIEDest = 2
								--se houver o cálculo por dentro significa que temos que aplicar um desconto de maneira que o valor total da NF absorva o valor de ST
								--neste caso precisaremos obter um valor de desconto e refazer os cálculos de ICMS e ST novamente
						
								if @v_idCobrarICMSSTDentro = 1
									begin
										--PRIMEIRO PEGAMOS O PERCENTUAL NECESSÁRIO DE DESCONTO
										select @v_percDescontoICMSSTDentro = (@v_valorBaseCalculoICMS / (@v_valorBaseCalculoICMS + @v_valorICMSST))
								
										--DEPOIS O VALOR ABSOLUTO DO DESCONTO
										select @v_valorDescontoICMSSTDentro = @v_valorBaseCalculoICMS * (1 - @v_percDescontoICMSSTDentro)
								
										--COM ISTO APLICAMOS O DESCONTO NA BASE DO ICMS E SOMAMOS NO VALOR TOTAL DE DESCONTO
										select @v_valorBaseCalculoICMS = @v_valorBaseCalculoICMS - @v_valorDescontoICMSSTDentro,
											   @v_valorPraticado = @v_valorPraticado - @v_valorDescontoICMSSTDentro
											   --@v_valorDescontoItem = @v_valorDescontoItem + @v_valorDescontoICMSSTDentro
									   
										--CALCULA O ICMS NOVAMENTE
										SELECT @v_valorICMS = dbo.FN_CALCULA_ICMS(0 ,@v_valorBaseCalculoICMS, @v_percAliqICMS)   
								
										--Agora Calcula o ICMS ST NOVAMENTE
										select @v_valorBaseCalculoICMSST = dbo.FN_BASE_CALCULO_ICMS_ST(0,@v_valorBaseCalculoICMS,@v_percMVA)
										select @v_valorICMSST = dbo.FN_CALCULA_ICMS_ST(@v_valorBaseCalculoICMSST,@v_percAliqICMSST,@v_valorICMS)
								
									end
								if @v_codigoCSTICMS = 203 --tratamento para ST no simples nacional, temos que zerar os valores de icms normal
									begin
										select @v_percAliqICMS = 0,
											   @v_valorBaseCalculoICMS = 0,
											   @v_valorICMS = 0,
											   @v_valorBaseCalculoICMSUFDest = 0,
											   @v_valorICMSFundoPobrezaUFDest = 0,
											   @v_valorICMSUFDest = 0,
											   @v_valorICMSUFOrigem = 0,
											   @v_percAliqICMSInter = 0,
											   @v_percAliqICMSPartilha = 0,
											   @v_percFundoPobrezaUFDest = 0,
											   @v_percAliqICMSUFDest = 0
									end
							end
						else
							begin
								if @v_codigoCSTICMS = 203 --tratamento para ST no simples nacional, se não encontrar um MVA não calcula o ST e não aplica ICMS
									begin
										select @v_codigoCSTICMS = 103
									end
								if @v_codigoCSTICMS = 10 --neste caso quando a ST for igual a 10 e não houver % IVA vamos considerar a ST 00 e calcular somente o ICMS próprio
									begin
									
										select @v_percAliqICMS = dbo.FN_BUSCA_ALIQUOTA_ICMS(@v_codigoMaterial,@v_descEstadoCD,@v_descEstadoEntrega, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa),
											   @v_valorBaseCalculoICMS = @v_valorPraticado + @v_valorFreteItem + @v_valorDespAcessorias - @v_valorDescontoItem - @v_valorDescontoAdicionalItem,
											   @v_codigoCSTICMS = 0
											   
										if @v_valorIPI > 0 and @v_idOperacaoFiscal = 1 and @v_codigoCSTICMS not in (10,30,70,203)
											begin
												select @v_valorBaseCalculoICMS = @v_valorBaseCalculoICMS + @v_valorIPI
											end
											
											--CALCULA O ICMS	   
											SELECT @v_valorICMS = dbo.FN_CALCULA_ICMS(0 ,@v_valorBaseCalculoICMS, @v_percAliqICMS)
											
											--**********************************************************************************************************************
											-- VAMOS TRATAR O CÁLCULO DO DIFAL ICMS, SÓ APLICADO PARA OPERAÇÕES COM CONSUMIDOR FINAL PARA 
											-- OPERAÇÕES INTERESTADUAIS, DEVE SER APLICADO SEMPRE QUANDO A OPERAÇÃO OCORRER COM CF NÃO CONTRIBUINTE OU ISENTO DA IE
											-- NÃO SERÁ CALCULADO QUANDO O CLIENTE FOR DO SIMPLES NACIONAL
											--**********************************************************************************************************************
											if @v_idIndicadorIEDest = 9 and @v_descEstadoCD <> @v_descEstadoEntrega and @v_funcaoPedido in (1,2,5) and @v_idRegimeFaturamento <> 2
												begin
													--Vamos buscar os percentuais de alíquotas para cálculo do DIFAL ICMS e Base de Cálculo
													select @v_percAliqICMSInter = @v_percAliqICMS, --alíquota interestadual
														   @v_percAliqICMSUFDest = dbo.FN_BUSCA_ALIQUOTA_ICMS(@v_codigoMaterial,@v_descEstadoEntrega,@v_descEstadoEntrega, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa),
														   @v_valorBaseCalculoICMSUFDest = @v_valorBaseCalculoICMS, --mesma base utilizada no cálculo do ICMS
														   @v_percFundoPobrezaUFDest = dbo.FN_BUSCA_ALIQUOTA_FUNDO_POBREZA_DESTINO(@v_codigoMaterial,@v_descEstadoEntrega,@p_idTipoNotaFiscal), 
														   @v_percAliqICMSPartilha = case YEAR(getdate()) when 2017 then 60
																										  when 2018 then 80
																										  when 2019 then 100
																										  else 100 end
												
													--************************ NOVA FÓRMULA CÁLCULO DIFAL ******************************
													-- ALTERAÇÃO EM 05/01/2018 POR DIEGO ZILIOTI
													-- FOI ALTERADA A FORMA DE CÁLCULO DO DIFAL PARA 2018, A PARTIR DE AGORA O DIFERENCIAL DE ALÍQUOTA É INCORPORADO NA BASE DE CÁLCULO
													-- OU SEJA A COBRANÇA DO DIFAL ICMS TAMBÉM OCORRE POR DENTRO IGUAL AO ICMS PRÓRPIO, DESTA FORMA A FÓRMULA ATUAL FICA OBSOLETA
													-- PARA ATENDER FOI CRIADO O PARÂMETRO COBRAR_DIFAL_DENTRO NA REGRA FISCAL, ELE DETERMINARÁ QUAL FÓRMULA SERÁ SEGUIDA
													-- 1 - NOVA FÓRMULA POR DENTRO (2018) / 2 - FÓRMULA ANTIGA
													--***********************************************************************************
													if @v_idCobrarDifalDentro = 1
														begin
															--Com todos os parâmetros em mãos vamos calcular o DIFAL
															--A fórmula é: (((BC ICMS - Valor ICMS InterEstadual) / ( 1 - %Alíquota Destino - % fundo pobreza)) * %Alíquota Destino) - (BC ICMS * %Alíquota ICMS Interestadual)
															select @v_valorBaseCalculoICMSUFDest = (@v_valorBaseCalculoICMSUFDest - @v_valorICMS) / (1 - ((@v_percAliqICMSUFDest - @v_percFundoPobrezaUFDest) / 100))
															select @v_valorICMSDIFAL = (@v_valorBaseCalculoICMSUFDest * (@v_percAliqICMSUFDest / 100)) - (@v_valorICMS)

															--Com o valor do DIFAL Calculado agora vamos realizar a partilha entre UF Destino e UF Origem
															select @v_valorICMSUFDest = @v_valorICMSDIFAL * (@v_percAliqICMSPartilha / 100),
																   @v_valorICMSUFOrigem = @v_valorICMSDIFAL * (1 - (@v_percAliqICMSPartilha /100)),
																   @v_valorICMSFundoPobrezaUFDest = @v_valorBaseCalculoICMSUFDest * (@v_percFundoPobrezaUFDest / 100) 
														end
													else
														begin
															--Com todos os parâmetros em mãos vamos calcular o DIFAL (FÓRMULA ANTIGA)
															--A fórmula é: Base de Calculo ICMS * (%aliquota ICMS no Destino - %Alíquota ICMS Interestadual)
															select @v_valorICMSDIFAL = @v_valorBaseCalculoICMSUFDest * ((@v_percAliqICMSUFDest - @v_percAliqICMSInter)/100)
								
															--Com o valor do DIFAL Calculado agora vamos realizar a partilha entre UF Destino e UF Origem
															select @v_valorICMSUFDest = @v_valorICMSDIFAL * (@v_percAliqICMSPartilha / 100),
																   @v_valorICMSUFOrigem = @v_valorICMSDIFAL * (1 - (@v_percAliqICMSPartilha /100)),
																   @v_valorICMSFundoPobrezaUFDest = @v_valorBaseCalculoICMSUFDest * (@v_percFundoPobrezaUFDest / 100) 
														end

													--************************ NOVA FÓRMULA CÁLCULO DIFAL ******************************
													--FIM ALTERAÇÃO EM 05/01/2018 POR DIEGO ZILIOTI
													--***********************************************************************************
														   
												end
									end
							end
					end
				/***********************************************************************************************/
				-- VAMOS CALULAR O PIS
				/***********************************************************************************************/
				
				SELECT @v_codigoCSTPIS = dbo.FN_BUSCA_CST(@v_codigoMaterial, @v_idOperacaoFiscal, 2, @p_idTipoNotaFiscal,1, @v_codigoRegraFiscal, @v_idTipoPessoa)
				
				--vamos calcular apenas para as CSTs que possuem incidência do cálculo
				if @v_codigoCSTPIS in (1,2,3,4,5)
					begin
						select @v_percAliqPIS = dbo.FN_BUSCA_ALIQUOTA_PIS(@v_codigoMaterial, @v_idOperacaoFiscal, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa),
							   @v_valorBaseCalculoPIS = @v_valorPraticado - @v_valorDescontoItem - @v_valorDescontoAdicionalItem
							   
					    select @v_valorPIS = dbo.FN_CALCULA_PIS(@v_valorBaseCalculoPis,@v_percAliqPIS)
					    
					end
				
				--select * from TB_SITUACAO_TRIBUTARIA where CD_TRIBUTO = 3 and ID_REGIME_TRIBUTARIO = 3
				
				/***********************************************************************************************/
				-- VAMOS CALULAR O COFINS
				/***********************************************************************************************/
				
				SELECT @v_codigoCSTCOFINS = dbo.FN_BUSCA_CST(@v_codigoMaterial, @v_idOperacaoFiscal, 3, @p_idTipoNotaFiscal,1, @v_codigoRegraFiscal, @v_idTipoPessoa)
				
				--vamos calcular apenas para as CSTs que possuem incidência do cálculo
				if @v_codigoCSTCOFINS in (1,2,3,4,5)
					begin
						select @v_percAliqCOFINS = dbo.FN_BUSCA_ALIQUOTA_COFINS(@v_codigoMaterial, @v_idOperacaoFiscal, @p_idTipoNotaFiscal, @v_codigoRegraFiscal, @v_idTipoPessoa),
							   @v_valorBaseCalculoCOFINS = @v_valorPraticado - @v_valorDescontoItem - @v_valorDescontoAdicionalItem
							   
					    select @v_valorCOFINS = dbo.FN_CALCULA_COFINS(@v_valorBaseCalculoCOFINS,@v_percAliqCOFINS)
					    
					end
				
				/***********************************************************************************************/
				-- PRECISAMOS VERIFICAR SE EXISTE UM TEXTO LEGAL PARA O CASO DAS SAÍDAS E ENTRADAS
				/***********************************************************************************************/
				if @p_idTipoNotaFiscal = 2
					begin
						if @v_codigoTextoLegalSaidaMaterial > 0
							begin
								select @v_infoAdicional = @v_infoAdicional + ' | ' + isnull(DC_TEXTO_LEGAL,'')
								  from TB_TEXTO_LEGAL where CD_TEXTO_LEGAL = @v_codigoTextoLegalSaidaMaterial
							end
					end
				
				if @p_idTipoNotaFiscal = 1
					begin
						if @v_codigoTextoLegalEntradaMaterial > 0
							begin
								select @v_infoAdicional = @v_infoAdicional + ' | ' + isnull(DC_TEXTO_LEGAL,'')
								  from TB_TEXTO_LEGAL where CD_TEXTO_LEGAL = @v_codigoTextoLegalEntradaMaterial
							end
					end
				
				-- INSERE NA TABELA TB_NOTA_FISCAL_ITEM
				INSERT INTO TB_NOTA_FISCAL_ITEM (
					CD_NOTA_FISCAL,
					NM_NOTA_FISCAL_ITEM,
					CD_MATERIAL,
					DC_MATERIAL,
					QT_UNIDADES,
					VL_TOTAL,
					VL_FRETE,
					VL_DESCONTO,
					VL_DESCONTO_ADICIONAL,
					DC_CLASSIFICACAO_FISCAL,
					ID_TIPO_OPERACAO_FISCAL,
					PC_ALIQUOTA_ICMS,
					CD_SITUACAO_TRIBUTARIA_ICMS,
					VL_BASE_CALCULO_ICMS,
					VL_ICMS,
					PC_ALIQUOTA_ICMS_ST,
					PC_MVA_ST,
					VL_BASE_CALCULO_ICMS_ST,
					VL_ICMS_ST,
					CD_SITUACAO_TRIBUTARIA_PIS,
					PC_ALIQUOTA_PIS,
					VL_BASE_CALCULO_PIS,
					VL_PIS,
					CD_SITUACAO_TRIBUTARIA_COFINS,
					PC_ALIQUOTA_COFINS,
					VL_BASE_CALCULO_COFINS,
					VL_COFINS,
					CD_SITUACAO_TRIBUTARIA_IPI,
					PC_ALIQUOTA_IPI,
					VL_BASE_CALCULO_IPI,
					VL_IPI,
					VL_BASE_CALCULO_ICMS_UF_DEST,
					PC_ALIQ_FUNDO_POBREZA_UF_DESTINO,
					PC_ALIQ_ICMS_UF_DESTINO,
					PC_ALIQ_ICMS_INTERESTADUAL,
					PC_PARTILHA_DIFAL_ICMS,
					VL_ICMS_FUNDO_POBREZA,
					VL_ICMS_UF_DESTINO,
					VL_ICMS_UF_ORIGEM,
					CD_CFOP,
					DC_CEST,
					NM_PEDIDO_ITEM,
					VL_DESPESAS_ACESSORIAS)				
				VALUES (
					@v_codigoNotaFiscal,
					@v_contadorItem,
					@v_codigoMaterial,
					@v_descMaterial,
					@v_qtdeReservada,
					@v_valorPraticado,
					@v_valorFreteItem,
					@v_valorDescontoItem,
					@v_valorDescontoAdicionalItem,
					@v_descNCM,
					@v_idOperacaoFiscal,
					@v_percAliqICMS,
					@v_codigoCSTICMS,
					@v_valorBaseCalculoICMS,
					@v_valorICMS,
					@v_percAliqICMSST,
					@v_percMVA,
					@v_valorBaseCalculoICMSST,
					@v_valorICMSST,
					@v_codigoCSTPIS,
					@v_percAliqPIS,
					@v_valorBaseCalculoPIS,
					@v_valorPIS,
					@v_codigoCSTCOFINS,
					@v_percAliqCOFINS,
					@v_valorBaseCalculoCOFINS,
					@v_valorCOFINS,
					@v_codigoCSTIPI,
					@v_percAliqIPI,
					@v_valorBaseCalculoIPI,
					@v_valorIPI,
					@v_valorBaseCalculoICMSUFDest,
					@v_percFundoPobrezaUFDest,
					@v_percAliqICMSUFDest,
					@v_percAliqICMSInter,
					@v_percAliqICMSPartilha,
					@v_valorICMSFundoPobrezaUFDest,
					@v_valorICMSUFDest,
					@v_valorICMSUFOrigem,
					@v_codigoCFOPItem,
					@v_descCEST,
					@v_numeroOrdemColetaItem,
					@v_valorDespAcessorias)
				
				SELECT @v_valorDespAcessorias = 0
								
				--atualiza o contador dos itens	
				SELECT @v_contadorItem = @v_contadorItem + 1
																							
				FETCH NEXT FROM @Cursor_Itens
				INTO @v_numeroOrdemColetaItem, @v_codigoProduto, @v_codigoMaterial, @v_qtdeReservada, @v_valorPraticado, @v_valorPagarTotal, @v_valorTabelaTotal,
				@v_idProdutoCobrado, @v_idTipoProduto, @v_valorFreteItem, @v_valorCustoMedioItem, @v_valorCustoUltRepItem, @v_valorDescontoItem, @v_valorDescontoAdicionalItem
													
			END
	
	
			-- AGORA DEVEMOS CONSOLIDAR OS VALORES E DAR UPDATE NA TABELA TB_NOTA_FISCAL
			SELECT	@v_valorTotalProdutos = SUM(VL_TOTAL),
					@v_valorTotalNotaFiscal = SUM(VL_TOTAL),
					@v_valorTotalIPI = SUM(VL_IPI),
					@v_valorTotalICMS = SUM(VL_ICMS),
					@v_valorTotalICMSST = SUM(VL_ICMS_ST),
					@v_valorTotalPIS = SUM(VL_PIS),
					@v_valorTotalCOFINS = SUM(VL_COFINS),
					@v_valorBaseCalculoTotalIPI = SUM(VL_BASE_CALCULO_IPI),
					@v_valorBaseCalculoTotalICMS = SUM(VL_BASE_CALCULO_ICMS),
					@v_valorBaseCalculoTotalICMSST = SUM(VL_BASE_CALCULO_ICMS_ST),
					@v_valorBaseCalculoTotalPIS = SUM(VL_BASE_CALCULO_PIS),
					@v_valorBaseCalculoTotalCOFINS = SUM(VL_BASE_CALCULO_COFINS),
					@v_valorFrete = SUM(isnull(VL_FRETE,0)),
					@v_valorTotalDesconto = SUM(VL_DESCONTO),
					@v_valorTotalDescontoAdicional = SUM(VL_DESCONTO_ADICIONAL),
					@v_valorTotalFundoPobrezaUFDest = SUM(VL_ICMS_FUNDO_POBREZA),
					@v_valorTotalICMSUFDest = SUM(VL_ICMS_UF_DESTINO),
					@v_valorTotalICMSUFOrigem = SUM(VL_ICMS_UF_ORIGEM),
					@v_valorTotalDespAcessorias = SUM(VL_DESPESAS_ACESSORIAS)
			from TB_NOTA_FISCAL_ITEM
			WHERE CD_NOTA_FISCAL = @v_codigoNotaFiscal
			
			--consolida os totais da NF e atribui um numero para a NF
			SELECT @v_numeroProxNotaFiscal = NM_PROXIMA_NOTA_FISCAL
			FROM TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL
			WHERE CD_CENTRO_DISTRIBUICAO = @v_codigoCentroDistribuicao
			
			UPDATE TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL
			SET NM_PROXIMA_NOTA_FISCAL = NM_PROXIMA_NOTA_FISCAL + 1
			WHERE CD_CENTRO_DISTRIBUICAO = @v_codigoCentroDistribuicao
			
			UPDATE TB_NOTA_FISCAL SET NM_NOTA_FISCAL = @v_numeroProxNotaFiscal,
					ID_SITUACAO_NOTA_FISCAL = 1,
					VL_TOTAL_PRODUTOS = @v_valorTotalProdutos,
					VL_TOTAL_NOTA_FISCAL = @v_valorTotalNotaFiscal - (@v_valorTotalDesconto + @v_valorTotalDescontoAdicional),
					VL_FRETE = @v_valorFrete,
					VL_TOTAL_DESCONTO = @v_valorTotalDesconto,
					VL_TOTAL_DESCONTO_ADICIONAL = @v_valorTotalDescontoAdicional,
					VL_TOTAL_IPI = @v_valorTotalIPI,
					VL_TOTAL_ICMS = @v_valorTotalICMS,
					VL_TOTAL_ICMS_ST = @v_valorTotalICMSST,
					VL_TOTAL_PIS = @v_valorTotalPIS,
					VL_TOTAL_COFINS = @v_valorTotalCOFINS,
					VL_BASE_CALCULO_IPI = @v_valorBaseCalculoTotalIPI,
					VL_BASE_CALCULO_ICMS = @v_valorBaseCalculoTotalICMS,
					VL_BASE_CALCULO_ICMS_ST = @v_valorBaseCalculoTotalICMSST,
					VL_BASE_CALCULO_PIS = @v_valorBaseCalculoTotalPIS,
					VL_BASE_CALCULO_COFINS = @v_valorBaseCalculoTotalCOFINS,
					VL_TOTAL_ICMS_FUNDO_POBREZA_DESTINO = @v_valorTotalFundoPobrezaUFDest,
					VL_TOTAL_ICMS_DESTINO = @v_valorTotalICMSUFDest,
					VL_TOTAL_ICMS_ORIGEM = @v_valorTotalICMSUFOrigem,
					VL_TOTAL_DESPESAS_ACESSORIAS = @v_valorTotalDespAcessorias
			WHERE CD_NOTA_FISCAL = @v_codigoNotaFiscal
			   				
			-- BUSCA OS VALORES DE VOLUME, PESO, MARCA, NUMERACAO, TRANSPORTADORA E FRETE
			-- SE FOR UMA DEVOLUÇÃO TOTAL IREMOS MANTER A ROTINA NORMAL, CASO SEJA PARCIAL IREMOS APENAS INFORMAR QUE O FRETE É POR CONTA DO EMITENTE
			
			IF @v_valorNFSaidaOrigem = @v_valorTotalNotaFiscal
				BEGIN
					select @QT_VOLUMES =  (select COUNT(*) from TB_PEDIDO_EMBALAGEM pde where pde.NM_PEDIDO = pd.NM_PEDIDO), 
						   @VL_PESO_LIQUIDO = dbo.FN_BUSCA_PESO_TOTAL_PEDIDO(pd.NM_PEDIDO,1) / 1000,
						   @VL_FRETE = ISNULL(pd.VL_FRETE_TOTAL,0), 
						   @VL_PESO_BRUTO = ((select sum(isnull(m.NM_PESO_BRUTO,0)) from TB_PEDIDO_EMBALAGEM pde, TB_MATERIAL m where pde.NM_PEDIDO = pd.NM_PEDIDO and m.CD_MATERIAL = pde.CD_MATERIAL_EMBALAGEM) / 1000 + 
						   isnull(dbo.FN_BUSCA_PESO_TOTAL_PEDIDO(pd.NM_PEDIDO,2),0) / 1000), 
						   @DC_NUMERACAO_VOLUMES = (select DC_MOSTRA_CAMPO_NUMERACAO_EMBALAGENS from TB_NFE_PARAMETRO where CD_PESSOA_EMISSOR = (select CD_EMPRESA from TB_CENTRO_DISTRIBUICAO cd where cd.CD_CENTRO_DISTRIBUICAO = pd.CD_CENTRO_DISTRIBUICAO)), 
						   @DC_MARCA = (select DC_MARCA_PROD_TRANSPORTE from TB_NFE_PARAMETRO where CD_PESSOA_EMISSOR = (select CD_EMPRESA from TB_CENTRO_DISTRIBUICAO cd where cd.CD_CENTRO_DISTRIBUICAO = pd.CD_CENTRO_DISTRIBUICAO)) ,
						   @DC_ESPECIES_VOLUMES = 'VOL',
						   @CD_TRANSPORTADORA = CD_TRANSPORTADORA,
						   @CD_POLITICA_ENTREGA = CD_POLITICA_ENTREGA
					  from TB_PEDIDO pd where NM_PEDIDO = @p_numeroPedido
					
					select @ID_TIPO_ENTREGA = ID_TIPO_ENTREGA_POLITICA_ENTREGA 
					  from TB_POLITICA_ENTREGA 
					 WHERE CD_POLITICA_ENTREGA = @CD_POLITICA_ENTREGA
					
					-- SE A ENTREGA FOR DO TIPO RETIRADA EM LOJA O MOD_FRETE É IGUAL A 9- SEM FRETE
					IF @ID_TIPO_ENTREGA = 1
						BEGIN
							SELECT @ID_MOD_FRETE = 9
						END
						
					IF @ID_TIPO_ENTREGA = 2
						BEGIN
							SELECT @ID_MOD_FRETE = 0
						END
				END
			ELSE
				BEGIN
				
					select @QT_VOLUMES = 1,
						   @DC_MARCA = (select DC_MARCA_PROD_TRANSPORTE from TB_NFE_PARAMETRO where CD_PESSOA_EMISSOR = (select CD_EMPRESA from TB_CENTRO_DISTRIBUICAO cd where cd.CD_CENTRO_DISTRIBUICAO = @v_codigoCentroDistribuicao)) ,
						   @DC_ESPECIES_VOLUMES = 'VOL',
						   @ID_MOD_FRETE = 0
						   
				END
            
            			
			--SE FOR NOTA DE ENTRADA ALTERA A NATUREZA OPERAÇÃO
			if @p_idTipoNotaFiscal = 1
			begin
				select @v_naturezaOperacao = 'Entrada por devolução'
				IF @v_valorNFSaidaOrigem = @v_valorTotalNotaFiscal
					BEGIN
						SELECT @v_infoAdicional = @v_infoAdicional + 'Devolução total do pedido número: ' + CONVERT(varchar(18),@p_numeroPedido) + '. '
					END
				ELSE
					BEGIN
						SELECT @v_infoAdicional = @v_infoAdicional + 'Devolução parcial do pedido número: ' + CONVERT(varchar(18),@p_numeroPedido) + '. '
					END
				
			
				SELECT @v_infoAdicional = @v_infoAdicional + 'Referente a Nota Fiscal número ' + CONVERT(varchar(18),@v_numeroNFSaidaOrigem) + '. Emitida em ' + @v_dataEmissaoNFSaidaOrigem
				
			end
			
			UPDATE TB_NOTA_FISCAL SET
					DC_NATUREZA_OPERACAO = @v_naturezaOperacao,
					QT_VOLUMES = @QT_VOLUMES,
					VL_PESO_LIQUIDO = @VL_PESO_LIQUIDO,
					VL_PESO_BRUTO = @VL_PESO_BRUTO,
					DC_NUMERACAO_VOLUMES = @DC_NUMERACAO_VOLUMES,
					DC_MARCA = @DC_MARCA,
					DC_ESPECIE_VOLUMES = @DC_ESPECIES_VOLUMES,
					CD_TRANSPORTADORA = @CD_TRANSPORTADORA,
					ID_MOD_FRETE = @ID_MOD_FRETE,
					DC_INFO_COMPLEMENTAR = @v_infoAdicional,
					ID_IE_DESTINATARIO = @v_idIndicadorIEDest,
					ID_IND_PRESENCA = @v_idIndicadorPresenca, 
					ID_OPER_DESTINO = @v_idDestinoOperacao
			WHERE CD_NOTA_FISCAL = @v_codigoNotaFiscal
			
			--ATUALIZA O CICLO DE FATURAMENTO DO PEDIDO
			--SELECT @v_cicloFaturamentoPedido = C.NM_CICLO
			--  FROM TB_CALENDARIO_COMERCIAL C, TB_PEDIDO PD
			-- WHERE PD.CD_EST_COMERCIAL = C.CD_EST_COMERCIAL
			--   AND convert(date,GETDATE()) BETWEEN C.DT_INICIAL AND C.DT_FINAL
			--   AND PD.NM_PEDIDO = @p_numeroPedido
			
			--UPDATE TB_PEDIDO SET NM_CICLO_FATURAMENTO = @v_cicloFaturamentoPedido 
			-- WHERE NM_PEDIDO = @p_numeroPedido
			
			SELECT @p_codigoErro = 0
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
