SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_ListaPessoasPapelIndicador2]
        @NM_CICLO         VARCHAR(8),
        @CD_EST_COMERCIAL VARCHAR(2),
        @CD_FUNCAO        VARCHAR(2),
	    @CD_PESSOA        VARCHAR(20),
        @CD_PAPEL         VARCHAR(100),
        @CD_INDICADOR     VARCHAR(100),
		@CD_PESSOA_LOGIN  VARCHAR(20),
		@CD_ACESSO_MATRIZ VARCHAR(20)

AS
DECLARE @QUERY varchar(2000)
DECLARE @CD_CLIENTE NUMERIC(18,0)

BEGIN
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

  IF (@CD_CLIENTE not in (41))    -- AKMOS
  BEGIN 

	  SELECT @QUERY = 'SELECT A.CD_PESSOA CÓDIGO, '
 	 SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) NOME, '
	  SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  PAPEL, '
	  SELECT @QUERY = @QUERY + 'C.CD_INDICADOR_PESSOAL INDICADOR, '
	  SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_INDICADOR_PESSOAL](C.CD_INDICADOR_PESSOAL) DESCRIÇÃO, '
	  SELECT @QUERY = @QUERY + 'C.VL_INDICADOR_PESSOAL VALOR '
	  SELECT @QUERY = @QUERY + 'FROM TB_HIST_SITUACAO_CONSULTORA A '
 	 SELECT @QUERY = @QUERY + 'JOIN TB_PESSOA_PAPEL_HISTORICO B '
 	 SELECT @QUERY = @QUERY + 'ON  A.CD_PESSOA           = B.CD_PESSOA '
	  SELECT @QUERY = @QUERY + 'AND A.NM_CICLO            = B.NM_CICLO '
	  SELECT @QUERY = @QUERY + 'LEFT JOIN TB_PESSOA_INDICADOR C '
	  SELECT @QUERY = @QUERY + 'ON C.CD_PESSOA         = A.CD_PESSOA '
	  SELECT @QUERY = @QUERY + 'AND C.CD_EST_COMERCIAL = A.CD_EST_COMERCIAL '
 	 SELECT @QUERY = @QUERY + 'AND C.CD_FUNCAO        = B.CD_FUNCAO '
 	 SELECT @QUERY = @QUERY + 'AND C.NM_CICLO         = A.NM_CICLO '
 	 SELECT @QUERY = @QUERY + 'JOIN TB_INDICADOR_PESSOAL D '
 	 SELECT @QUERY = @QUERY + 'ON D.CD_INDICADOR_PESSOAL = C.CD_INDICADOR_PESSOAL '
 	 SELECT @QUERY = @QUERY + 'AND D.ID_TIPO_INDICADOR  = 4  '
 	 SELECT @QUERY = @QUERY + 'WHERE A.NM_CICLO         = '  + @NM_CICLO  
 	 SELECT @QUERY = @QUERY + ' AND   A.CD_EST_COMERCIAL = ' + @CD_EST_COMERCIAL 
	  SELECT @QUERY = @QUERY + ' AND   B.CD_FUNCAO        = ' + @CD_FUNCAO 
	  SELECT @QUERY = @QUERY + ' AND   A.CD_SITUACAO_COMERCIAL IN (1,2,3) ' 
	  SELECT @QUERY = @QUERY + ' AND ((' + @CD_PESSOA + '> 0 AND A.CD_PESSOA = ' + @CD_PESSOA + ') OR (' + @CD_PESSOA + '= 0)) '
 	 SELECT @QUERY = @QUERY + 'AND ((B.CD_PAPEL_DESEMPENHO IN (' + @CD_PAPEL + '))      OR (0 IN (' + @CD_PAPEL + '))) '
 	 SELECT @QUERY = @QUERY + 'AND ((C.CD_INDICADOR_PESSOAL IN (' + @CD_INDICADOR + ')) OR (0 IN (' + @CD_INDICADOR + '))) '
-- *****************************************************************
  -- ALTERAÇÃO FEITA POR ANDERSON - 04/03/2019
  -- ADAPTADO A PROC PARA VERIFICAR SE O USUARIO LOGADO É DA FRANQUIA
  -- POIS EM CASO POSITIVIO SÓ MOSTRA PESSOAS DA EST COMERCIAL ATENDIDO PELO CD DO COLAORADOR
  -- SE FOR ADM OU COLABORADOR DA MATRIZ MOSTRA TUDO
  -- *****************************************************************
  If @CD_ACESSO_MATRIZ <> '1'
	BEGIN
			SELECT @QUERY = @QUERY + 'And A.CD_PESSOA In (Select PR.CD_PESSOA '
            SELECT @QUERY = @QUERY + 'FROM TB_PESSOA_COLABORADOR PC, TB_CENTRO_DISTRIBUICAO CD, TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC, TB_PESSOA_RESUMO PR '
            SELECT @QUERY = @QUERY + 'WHERE PC.CD_PESSOA = ' + @CD_PESSOA_LOGIN
            SELECT @QUERY = @QUERY + 'And PC.CD_EMPRESA = CD.CD_EMPRESA '
            SELECT @QUERY = @QUERY + 'And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO '
            SELECT @QUERY = @QUERY + 'And EC.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL) '
	END
  -- *****************************************************************
  -- FIM
  -- *****************************************************************
 	 SELECT @QUERY = @QUERY + 'ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA), [dbo].[FN_BUSCA_DESC_INDICADOR_PESSOAL](C.CD_INDICADOR_PESSOAL) '
	  EXEC (@QUERY)
  END

  IF (@CD_CLIENTE in (41))    -- AKMOS
  BEGIN 
	  SELECT @QUERY = 'SELECT A.CD_PESSOA AS CÓDIGO, '
 	 SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA) NOME, '
	  SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_PAPEL_DESEMPENHO](B.CD_FUNCAO,B.CD_PAPEL_DESEMPENHO)  PAPEL, '
	  SELECT @QUERY = @QUERY + 'C.CD_INDICADOR_PESSOAL INDICADOR, '
	  SELECT @QUERY = @QUERY + '[dbo].[FN_BUSCA_DESC_INDICADOR_PESSOAL](C.CD_INDICADOR_PESSOAL) DESCRIÇÃO, '
	  IF (@CD_INDICADOR <> '1001'  AND @CD_INDICADOR <> '1030')
      BEGIN
	    SELECT @QUERY = @QUERY + 'C.VL_INDICADOR_PESSOAL VALOR '
	  END
	  IF (@CD_INDICADOR = '1001')
      BEGIN
	  	SELECT @QUERY = @QUERY + 'CASE WHEN (C.VL_INDICADOR_PESSOAL = 1) THEN '+'''SIM'''+ ' ELSE '+ '''NÃO'''+' END ATIVAÇÃO '
	    SELECT @QUERY = @QUERY + ',(SELECT MAX (DT_EXPIRACAO) FROM TB_MN_PESSOA_PONTO_HISTORICO_ATIVACAO WHERE CD_PESSOA =C.CD_PESSOA '
	    SELECT @QUERY = @QUERY + '    AND CD_FUNCAO = C.CD_FUNCAO)  EXPIRAÇÃO ' 
	  END
	  IF (@CD_INDICADOR = '1030')
      BEGIN
	    SELECT @QUERY = @QUERY + 'C.VL_INDICADOR_PESSOAL PERCENTUAL '
	    SELECT @QUERY = @QUERY + ',(SELECT MAX (DT_EXPIRACAO) FROM TB_MN_PESSOA_PONTO_HISTORICO_LUCRATIVIDADE WHERE CD_PESSOA =C.CD_PESSOA '
	    SELECT @QUERY = @QUERY + '    AND CD_FUNCAO = C.CD_FUNCAO)  EXPIRAÇÃO ' 
	  END

	  SELECT @QUERY = @QUERY + 'FROM TB_HIST_SITUACAO_CONSULTORA A '
 	 SELECT @QUERY = @QUERY + 'JOIN TB_PESSOA_PAPEL_HISTORICO B '
 	 SELECT @QUERY = @QUERY + 'ON  A.CD_PESSOA           = B.CD_PESSOA '
	  SELECT @QUERY = @QUERY + 'AND A.NM_CICLO            = B.NM_CICLO '
	  SELECT @QUERY = @QUERY + 'LEFT JOIN TB_PESSOA_INDICADOR C '
	  SELECT @QUERY = @QUERY + 'ON C.CD_PESSOA         = A.CD_PESSOA '
	  SELECT @QUERY = @QUERY + 'AND C.CD_EST_COMERCIAL = A.CD_EST_COMERCIAL '
 	 SELECT @QUERY = @QUERY + 'AND C.CD_FUNCAO        = B.CD_FUNCAO '
 	 SELECT @QUERY = @QUERY + 'AND C.NM_CICLO         = A.NM_CICLO '
 	 SELECT @QUERY = @QUERY + 'JOIN TB_INDICADOR_PESSOAL D '
 	 SELECT @QUERY = @QUERY + 'ON D.CD_INDICADOR_PESSOAL = C.CD_INDICADOR_PESSOAL '
 	 SELECT @QUERY = @QUERY + 'AND D.ID_TIPO_INDICADOR  = 4  '
 	 SELECT @QUERY = @QUERY + 'WHERE A.NM_CICLO         = '  + @NM_CICLO  
 	 SELECT @QUERY = @QUERY + ' AND   A.CD_EST_COMERCIAL = ' + @CD_EST_COMERCIAL 
	  SELECT @QUERY = @QUERY + ' AND   B.CD_FUNCAO        = ' + @CD_FUNCAO 
	  SELECT @QUERY = @QUERY + ' AND   A.CD_SITUACAO_COMERCIAL IN (1,2,3) ' 
	  SELECT @QUERY = @QUERY + ' AND ((' + @CD_PESSOA + '> 0 AND A.CD_PESSOA = ' + @CD_PESSOA + ') OR (' + @CD_PESSOA + '= 0)) '
 	 SELECT @QUERY = @QUERY + 'AND ((B.CD_PAPEL_DESEMPENHO IN (' + @CD_PAPEL + '))      OR (0 IN (' + @CD_PAPEL + '))) '
 	 SELECT @QUERY = @QUERY + 'AND ((C.CD_INDICADOR_PESSOAL IN (' + @CD_INDICADOR + ')) OR (0 IN (' + @CD_INDICADOR + '))) '
-- *****************************************************************
  -- ALTERAÇÃO FEITA POR ANDERSON - 04/03/2019
  -- ADAPTADO A PROC PARA VERIFICAR SE O USUARIO LOGADO É DA FRANQUIA
  -- POIS EM CASO POSITIVIO SÓ MOSTRA PESSOAS DA EST COMERCIAL ATENDIDO PELO CD DO COLAORADOR
  -- SE FOR ADM OU COLABORADOR DA MATRIZ MOSTRA TUDO
  -- *****************************************************************
   -- *****************************************************************
  -- FIM
  -- *****************************************************************
 	 SELECT @QUERY = @QUERY + 'ORDER BY [dbo].[FN_BUSCA_NOME_PESSOA](A.CD_PESSOA), [dbo].[FN_BUSCA_DESC_INDICADOR_PESSOAL](C.CD_INDICADOR_PESSOAL) '
        -- EXEC (@QUERY)
        SELECT   (@QUERY)

  END
END










GO
