SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 03/05/2022
-- Description:	Atualiza as informações das assinaturas dos pedidos
-- =============================================
CREATE PROCEDURE [dbo].[pr_PedidoInserePedidoPlanoAdesao]
	@p_codigoPessoa				numeric(18,0),
	@p_codigoFuncao				int,
	@p_codigoPlanoAdesao		numeric(18,0),
	@p_codigoRegraComercial		numeric(18,0),
	@p_valorPagar				numeric(18,2),

	@p_codigoUsuario			numeric(18,0),
	@p_numeroPedido				numeric(18,0) output,
	
	@p_codigoErro				int				output,
	@p_descricaoErro			varchar(1000)	output,
	@p_linhasAfetadas			int				output
	
AS
DECLARE @v_codigoPapelCarreira		numeric(18,0),
		@v_codigoPapelDesempenho	numeric(18,0),
		@v_valorCreditoDisponivel	numeric(18,2),
		@v_codigoEstComercial		numeric(18,0),
		@v_valorPedidoMinimo		numeric(18,2),
		@v_codigoCD					numeric(18,0),
		@v_numeroCicloAtual			numeric(18,0),
		@v_codigoEstGeografica		numeric(18,0),
		@v_codigoCEP				varchar(20),
		@v_descNumero				varchar(10),
		@v_descComplemento			varchar(60),
		@v_descEstGeografica2		varchar(300),
		@v_descEstGeografica3		varchar(300),
		@v_descEstGeografica4		varchar(300),
		@v_descEstGeografica5		varchar(300),
		@v_codigoProdutoPlano		numeric(18,0),
		@v_codigoMaterialPlano		numeric(18,0),
		@v_idAgrupamento			int,
		@v_idTipoProduto			int,
		@v_idGeraBonus				int,
		@v_idGeraGraduacao			int,
		@v_idGeraAtivacao			int,
		@v_numeroPedidoItem			numeric(18,0),
		@v_cursorPedidosAbertos		cursor,
		@v_numeroPedidoAberto		numeric(18,0)

BEGIN TRY
	
	SET NOCOUNT ON;

    SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	-- BUSCA AS INFORMAÇÕES NECESSÁRIAS PARA CRIAR O PEDIDO DO PLANO DE ADESAO
	SELECT @v_codigoCD = CD_CENTRO_DISTRIBUICAO,
		   @v_valorPedidoMinimo = VL_PEDIDO_MINIMO
	  FROM TB_REGRA_COMERCIAL WITH(NOLOCK)
	 WHERE CD_REGRA_COMERCIAL = @p_codigoRegraComercial

	SELECT @v_codigoPapelCarreira = CD_PAPEL_CARREIRA,
		   @v_codigoPapelDesempenho = CD_PAPEL_DESEMPENHO,
		   @v_codigoEstComercial = CD_EST_COMERCIAL,
		   @v_valorCreditoDisponivel = VL_CREDITO_DISPONIVEL,
		   @v_numeroCicloAtual = NM_CICLO_ATUAL
	  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND CD_FUNCAO = @p_codigoFuncao
	
	-- CRIA O PEDIDO
	EXEC pr_PedidoInserePedido	@p_codigoPessoa,
								@p_codigoFuncao,
								@v_codigoEstComercial,
								1, -- SITUACAO EM CAPTACAO
								@p_codigoRegraComercial,
								@v_numeroCicloAtual,
								@v_codigoPapelCarreira,
								@v_codigoPapelDesempenho,
								7, -- ORIGEM EV
								'', --OBSERVACOES
								@p_codigoUsuario,
								@p_codigoErro OUTPUT,
								@p_descricaoErro OUTPUT,
								@p_linhasAfetadas OUTPUT,
								@p_numeroPedido OUTPUT

	IF @p_codigoErro = 0
		BEGIN
			-- COM O PEDIDO GERADO VAMOS ALIMENTAR AS DEMAIS INFORMAÇÕES INICIAIS
			-- ABRE O HISTÓRICO EM CAPTAÇÃO
			EXEC SP_GRAVA_HISTORICO_PEDIDO	@p_numeroPedido,
											1, -- EM CAPTAÇÃO
											1, -- ABRE A SITUAÇÃO
											0, -- PENDENCIA
											'', --MOTIVO
											@p_codigoUsuario,
											@p_codigoErro OUTPUT,
											@p_descricaoErro OUTPUT,
											@p_linhasAfetadas OUTPUT

			-- INSERE O ENDEREÇO DO PEDIDO
			SELECT TOP 1 @v_codigoEstGeografica = CD_EST_GEOGRAFICA,
						 @v_codigoCEP = DC_CODIGO_POSTAL,
						 @v_descNumero = DC_NUMERO,
						 @v_descComplemento = DC_COMPLEMENTO,
						 @v_descEstGeografica2 = DC_ESTRUTURA_GEO2,
						 @v_descEstGeografica3 = DC_ESTRUTURA_GEO3,
						 @v_descEstGeografica4 = DC_ESTRUTURA_GEO4,
						 @v_descEstGeografica5 = DC_ESTRUTURA_GEO5
			  FROM TB_PESSOA_ENDERECO WITH(NOLOCK)
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_ENDERECO IN (1,3) -- RESIDENCIAL OU FISCAL PARA PJ

			EXEC pr_PedidoInsereEnderecoPedido	@p_numeroPedido,
												@v_codigoEstGeografica,
												@v_codigoCEP,
												@v_descNumero,
												@v_descComplemento,
												@v_descEstGeografica2,
												@v_descEstGeografica3,
												@v_descEstGeografica4,
												@v_descEstGeografica5,
												@p_codigoErro OUTPUT,
												@p_descricaoErro OUTPUT,
												@p_linhasAfetadas OUTPUT

			-- AGORA VAMOS INSERIR O PRODUTO DO PLANO DE ADESÃO NESTE PEDIDO JÁ COM O VALOR CALCULADO A PAGAR NA APLICAÇÃO
			SELECT TOP 1 @v_codigoProdutoPlano = CD_TIPO_RC_PRODUTO
			  FROM TB_REGRA_COMERCIAL_PRODUTO WITH(NOLOCK)
			 WHERE CD_REGRA_COMERCIAL = @p_codigoRegraComercial

			SELECT @v_codigoMaterialPlano = CD_MATERIAL,
				   @v_idAgrupamento = ID_AGRUPAMENTO,
				   @v_idTipoProduto = ID_TIPO_PRODUTO,
				   @v_idGeraBonus = ID_GERA_BONUS,
				   @v_idGeraGraduacao = ID_GERA_GRADUACAO,
				   @v_idGeraAtivacao = ID_GERA_ATIVACAO
			  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
			 WHERE CD_PRODUTO_VENDA = @v_codigoProdutoPlano

			-- VAMOS INSERIR O ITEM NO PEDIDO
			EXEC SP_GRAVA_PEDIDO_ITEM	@p_numeroPedido,
										@v_codigoProdutoPlano,
										@v_codigoMaterialPlano,
										1, -- ID ORIGEM CAPTAÇÃO
										0, -- CD ORIGEM 
										1, -- PRODUTO COBRADO
										@v_idTipoProduto,
										@v_idAgrupamento,
										11, -- captado integralmente (não vamos validar estoque)
										0, -- cota est
										0, -- cota pessoa
										1, -- qtde pedido
										1, -- qtde reservada
										@p_valorPagar, -- valor crédito 
										@p_valorPagar, -- valor tabela
										@p_valorPagar, -- valor praticado
										@p_valorPagar, -- valor líquido
										0, -- valor imposto
										0, -- valor comissão
										@p_valorPagar, -- valor pagar
										0, -- valor custo
										'I', -- tipo funcao
										0, -- item conjunto
										@v_idGeraBonus,
										@v_idGeraGraduacao,
										@v_idGeraAtivacao,
										2, -- id entrega presente
										0, -- pontos
										0, -- largura
										0, -- comprimento
										0, -- altura
										'', -- observacoes
										@p_codigoErro output,
										@p_descricaoErro output,
										@p_linhasAfetadas output,
										@v_numeroPedidoItem output

				-- vamos checar se houve algum erro na geração do item, em caso positivo o pedido será cancelado
				IF @p_codigoErro > 0
					BEGIN
						EXEC SP_CANCELA_PEDIDO	@p_numeroPedido,
												31,
												2, -- NÃO MOVIMENTA ESTOQUE
												@p_codigoUsuario,
												@p_codigoErro OUTPUT,
												@p_descricaoErro OUTPUT,
												@p_linhasAfetadas OUTPUT
					END
				ELSE
					BEGIN
						-- PEDIDO GERADO COM SUCESSO, VAMOS CANCELAR PEDIDOS ANTERIORES QUE TENHAM FICADO ABERTO EM CAPTAÇÃO
						SET @v_cursorPedidosAbertos = CURSOR FAST_FORWARD
						FOR
							SELECT NM_PEDIDO
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO < @p_numeroPedido
							   AND CD_EST_SITUACAO IN (1,101)
							   AND CD_PESSOA = @p_codigoPessoa
							   AND CD_REGRA_COMERCIAL IN (SELECT CD_REGRA_COMERCIAL 
															FROM TB_REGRA_COMERCIAL WITH(NOLOCK)
														   WHERE ID_EVENTO_APLICACAO_REGRA = 3)
						OPEN @v_cursorPedidosAbertos
						FETCH NEXT FROM @v_cursorPedidosAbertos
						INTO @v_numeroPedidoAberto

						WHILE @@FETCH_STATUS = 0
							BEGIN
								EXEC SP_CANCELA_PEDIDO	@v_numeroPedidoAberto,
														31,
														2, -- NÃO MOVIMENTA ESTOQUE
														@p_codigoUsuario,
														@p_codigoErro OUTPUT,
														@p_descricaoErro OUTPUT,
														@p_linhasAfetadas OUTPUT

								FETCH NEXT FROM @v_cursorPedidosAbertos
								INTO @v_numeroPedidoAberto
							END
					END

		END
END TRY	

BEGIN CATCH
    -- Whoops, there was an error
    SELECT @p_codigoErro = 2
	SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
