SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_EstruturaProdutoInsereEstruturaProdutoFuncao]
	@p_codigoEstProdutoFuncao numeric(18,0),
	@p_codigoEstProduto numeric(18,0),
	@p_codigoFuncao numeric(18,0),
	
	@p_idTipoFuncao VARCHAR(1),
	
	@p_cdRetorno INT OUTPUT,
	@p_dcErro NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas INT OUTPUT
AS

BEGIN TRY
	
	    SELECT @p_qtLinhasAfetadas = 0
					
		IF @p_idTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO TB_EST_PRODUTO_FUNCAO(
					CD_EST_PRODUTO,
					CD_FUNCAO)
							
						
				VALUES           (
					@p_codigoEstProduto,
					@p_codigoFuncao)
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		IF @p_idTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION 
		
				UPDATE TB_EST_PRODUTO_FUNCAO SET
					CD_EST_PRODUTO = @p_codigoEstProduto,
					CD_FUNCAO = @p_codigoFuncao					

				WHERE CD_EST_PRODUTO = @p_codigoEstProduto	
											
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END
				
		IF @p_idTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_EST_PRODUTO_FUNCAO 
				WHERE CD_EST_PRODUTO = @p_codigoEstProduto	
							
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		SELECT @p_cdRetorno = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_cdRetorno = ERROR_NUMBER()
      SELECT @p_dcErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
