SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNListaAscendentesRede]
	@CD_PESSOA               NUMERIC(18,0),
        @CD_FUNCAO               NUMERIC(18,0),
        @NM_CICLO                NUMERIC(18,0),
        @ID_TIPO_REDE_MN         INT

AS

BEGIN
  -- *********************************************
  -- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
  -- *********************************************
  SELECT [dbo].[FN_BUSCA_NOME_PESSOA](TW.CD_PESSOA_VINCULADA)	AS "Nome",
         [dbo].[FN_BUSCA_DESC_PAPEL_Carreira] (TR.CD_funcao, TR.CD_PAPEL_CARREIRA)  AS "Qualificação",
         TW.NM_NIVEL AS "Nível",
         isnull([dbo].[FN_BUSCA_TELEFONE_PESSOA](TW.CD_PESSOA_VINCULADA,3),'') AS "Celular",
         [dbo].[FN_BUSCA_EMAIL_PESSOA] (TW.CD_PESSOA_VINCULADA,1)              AS "E-mail"
  FROM TB_WRK_MN_TOPOLOGIA TW, TB_PESSOA_RESUMO TR
  WHERE TW.CD_PESSOA_VINCULADA = TR.CD_PESSOA
  AND   TW.CD_FUNCAO           = TR.CD_FUNCAO
  AND   TW.CD_PESSOA           = @CD_PESSOA
  AND   TW.CD_FUNCAO           = @CD_FUNCAO
  AND   TW.NM_CICLO            = @NM_CICLO
  AND   TW.ID_TIPO_REDE_MN     = @ID_TIPO_REDE_MN
  AND   TW.ID_ORDEM            = 1 -- ascendente
  ORDER BY TW.NM_NIVEL DESC
END
GO
