SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PessoaInserePessoaFisica]
	@CD_CODIGO NUMERIC(18,0),
	@ID_TIPO_PESSOA INT,
	@DC_NOME VARCHAR(100),
	@DC_SOBRENOME VARCHAR(100),
	@DC_APELIDO VARCHAR(100),
	@ID_SEXO INT,
	@ID_NACIONALIDADE INT,
	@ID_ESTADO_CIVIL INT,
	@DC_CONJUGE VARCHAR(100),
	@ID_ESCOLARIDADE INT,
	@ID_PROFISSAO INT,
	@DT_NASCIMENTO VARCHAR(20),
	@DC_NOME_MAE VARCHAR(50),
	
	@ID_TIPO_DOCUMENTO1 INT,
	@DC_DOCUMENTO1 VARCHAR(100),
	@DC_ORGAO1 VARCHAR(100),
	@DT_EMISSAO1 VARCHAR(20),
	
	@ID_TIPO_DOCUMENTO2 INT,
	@DC_DOCUMENTO2 VARCHAR(100),
	@DC_ORGAO2 VARCHAR(100),
	@DT_EMISSAO2 VARCHAR(20),
	
	@ID_TIPO_DOCUMENTO3 INT,
	@DC_DOCUMENTO3 VARCHAR(100),
	@DC_ORGAO3 VARCHAR(100),
	@DT_EMISSAO3 VARCHAR(20),
	
	@ID_TIPO_TELEFONE1 INT,
	@DC_TELEFONE1 VARCHAR(100),
	@DC_RAMAL1 VARCHAR(100),
	@DC_CONTATO1 VARCHAR(100),
	@ID_OPERADORA1 INT,
	
	@ID_TIPO_TELEFONE2 INT,
	@DC_TELEFONE2 VARCHAR(100),
	@DC_RAMAL2 VARCHAR(100),
	@DC_CONTATO2 VARCHAR(100),
	@ID_OPERADORA2 INT,

	@ID_TIPO_TELEFONE3 INT,
	@DC_TELEFONE3 VARCHAR(100),
	@DC_RAMAL3 VARCHAR(100),
	@DC_CONTATO3 VARCHAR(100),
	@ID_OPERADORA3 INT,

	@ID_TIPO_EMAIL1 INT,
	@DC_EMAIL1 VARCHAR(100),

	@ID_TIPO_EMAIL2 INT,
	@DC_EMAIL2 VARCHAR(100),
	
	@ID_TIPO_ENDERECO1 INT,
	@CD_EST_GEOGRAFICA1 NUMERIC(18,0),
	@DC_CODIGO_POSTAL1 VARCHAR(20),
	@DC_NUMERO1 VARCHAR(20),
	@DC_COMPLEMENTO1 VARCHAR(60),
	@DC_REFERENCIA1 VARCHAR(80),
	@ID_DADOS_DIGITADOS1 INT,
	@DC_PAIS1 VARCHAR(80),
	@DC_ESTADO1 VARCHAR(80),
	@DC_CIDADE1 VARCHAR(80),
	@DC_BAIRRO1 VARCHAR(80),
	@DC_RUA1 VARCHAR(80),
	@DC_NOME_ENDERECO1 VARCHAR(200),
	
	@ID_TIPO_ENDERECO2 INT,
	@CD_EST_GEOGRAFICA2 NUMERIC(18,0),
	@DC_CODIGO_POSTAL2 VARCHAR(20),
	@DC_NUMERO2 VARCHAR(20),
	@DC_COMPLEMENTO2 VARCHAR(60),
	@DC_REFERENCIA2 VARCHAR(80),
	@ID_DADOS_DIGITADOS2 INT,
	@DC_PAIS2 VARCHAR(80),
	@DC_ESTADO2 VARCHAR(80),
	@DC_CIDADE2 VARCHAR(80),
	@DC_BAIRRO2 VARCHAR(80),
	@DC_RUA2 VARCHAR(80),
	@DC_NOME_ENDERECO2 VARCHAR(200),
	
	@ID_FUNCAO_CONSUMIDOR INT,
	@ID_FUNCAO_CONSULTORA INT,
	@ID_FUNCAO_COLABORADOR INT,
	@ID_FUNCAO_FORCA_VENDAS INT,
	
	@ID_SITUACAO_FUNCAO_CONSUMIDOR INT,
	@ID_SITUACAO_FUNCAO_CONSULTORA INT,
	@ID_SITUACAO_FUNCAO_COLABORADOR INT,
	@ID_SITUACAO_FUNCAO_FORCA_VENDAS INT,
	
	@DT_INICIO_FUNCAO_CONSUMIDOR DATE,
	@DT_INICIO_FUNCAO_CONSULTORA DATE,
	@DT_INICIO_FUNCAO_COLABORADOR DATE,
	@DT_INICIO_FUNCAO_FORCA_VENDAS DATE,
	
	@CD_EMPRESA VARCHAR(20),
	@DT_ADMISSAO VARCHAR(20),
	@DT_DESLIGAMENTO VARCHAR(20),
	
	--@CD_EST_COMERCIAL_FV NUMERIC(18,0),
	--@NM_CICLO_INICIO_FV NUMERIC(18,0),
	--@NM_CICLO_FIM_FV NUMERIC(18,0),
	
	@CD_REFERENCIA_BANCARIA1 INT,
	@NM_BANCO1 VARCHAR(10),
	@DC_BANCO1 VARCHAR(30),
	@DC_AGENCIA1 VARCHAR(40),
	@DC_CLIENTE_DESDE1 VARCHAR(20),
	@ID_CONTA_ESPECIAL1 INT,

	@CD_REFERENCIA_BANCARIA2 INT,
	@NM_BANCO2 VARCHAR(10),
	@DC_BANCO2 VARCHAR(30),
	@DC_AGENCIA2 VARCHAR(40),
	@DC_CLIENTE_DESDE2 VARCHAR(20),
	@ID_CONTA_ESPECIAL2 INT,
	
	@CD_REFERENCIA_PESSOAL1 INT,
	@DC_NOME1 VARCHAR(80),
	@DC_RELACAO1 VARCHAR(50),
	@DC_TELEFONE_PESSOAL1 VARCHAR(50),
	
	@CD_REFERENCIA_PESSOAL2 INT,
	@DC_NOME2 VARCHAR(80),
	@DC_RELACAO2 VARCHAR(50),
	@DC_TELEFONE_PESSOAL2 VARCHAR(50),
						
	@CD_REFERENCIA_PROFISSIONAL1 INT,
	@DC_RAZAO_SOCIAL1 VARCHAR(80),
	@ID_RAMO_ATIVIDADE1 INT,
	@DC_TELEFONE_PROFISSIONAL1 VARCHAR(30),					
	@DC_RAMAL_PROFISSIONAL1 VARCHAR(30),
	@DC_CONTATO_PROFISSIONAL1 VARCHAR(30),
							
	@CD_REFERENCIA_PROFISSIONAL2 INT,
	@DC_RAZAO_SOCIAL2 VARCHAR(80),
	@ID_RAMO_ATIVIDADE2 INT,
	@DC_TELEFONE_PROFISSIONAL2 VARCHAR(30),					
	@DC_RAMAL_PROFISSIONAL2 VARCHAR(30),
	@DC_CONTATO_PROFISSIONAL2 VARCHAR(30),
	
	@CD_PESSOA_INDICANTE NUMERIC(18,0),
	@CD_EST_COMERCIAL_INDICANTE NUMERIC(18,0),
		
	@ID_TIPO_PESSOA_PREMIACAO			INT,
	@DC_NOME_PREMIACAO					VARCHAR(200),
	@DC_DOCUMENTO_PREMIACAO				VARCHAR(50),
	@ID_TIPO_CONTA_DESTINO_PREMIACAO	INT,
	@CD_BANCO_PREMIACAO					numeric(18,0),
	@DC_AGENCIA_PREMIACAO				varchar(40)	,
	@DC_CONTA_PREMIACAO					varchar(40),
	@DC_INSS							VARCHAR(50),
	@DC_PIX								VARCHAR(500),
	
	@DC_SENHA_CONSUMIDOR VARCHAR(500),
	@DC_SENHA_COLABORADOR VARCHAR(500),
	@DC_SENHA_CONSULTORA VARCHAR(500),
	@DC_SENHA_FORCA_VENDAS VARCHAR(500),

	@ID_DIRECAO_PADRAO_REDE_BINARIA INT,
	@ID_DIRECAO_REDE_BINARIA INT,
	@ID_DIRECAO_REDE_LINEAR INT,

	@CD_EST_COMERCIAL_ESCOLHIDA	NUMERIC(18,0),
	
	@p_idAceitaEmail	INT,
	@p_idAceitaSMS		INT,

	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO VARCHAR(200) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT,
	@Identity NUMERIC(18,0) OUTPUT

AS

DECLARE @V_EXISTE_COLABORADOR INT,
		@V_EXISTE_CONSULTORA INT,
		@V_EXISTE_FORCA_VENDAS INT,
		@V_EXISTE_CADASTRO INT,
		@QTD_ALOCACAO INT,
		@QTD_ALOCACAO_CN INT,
		@QTD_ALOCACAO_CF INT,
		@QTD_ALOCACAO_CO INT,
		@QTD_ALOCACAO_FV INT,
		@QTD_COLABORADOR INT,
		@QTD_FV INT,
		@QTD_CF INT,
		@QTD_CO	INT,
		@NM_CICLO_ATUAL NUMERIC(18,0),
		@ID_PERMITE_CAPTACAO_PEDIDO INT,
		@CD_PAPEL_CARREIRA_BASE_CF NUMERIC(18,0),
		@CD_PAPEL_DESEMPENHO_BASE_CF NUMERIC(18,0)
				
DECLARE	@V_PESSOA_INDICANTE				NUMERIC(18,0),
		@V_CRIA_ALOCACAO				INT,
		@V_CICLO_ALOCACAO_AUTOMATICO	NUMERIC(18,0),
		@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO NUMERIC(18,0),
		@V_QTD_REGISTROS				INT,
		@UTILIZA_REDE_BINARIA			INT,
		@LIBERA_ACESSO_EV				INT,
		@NECESSITA_FLUXO_APROVACAO		INT,
		@SITUACAO_COMERCIAL				INT,
		@cd_situacao_cadastro			numeric(18,0),
		@v_dcEmailAtual					varchar(100)

DECLARE @V_POSSUI_INT_PESSOA			INT

DECLARE @V_DC_MOTIVO_ANTERIOR						NVARCHAR(MAX)
DECLARE @V_ID_POSSUI_RESTRICAO_CREDITO_ANTERIOR		INT

					
BEGIN TRY
	    
	    SELECT @QT_LINHAS_AFETADAS = 0
	    SELECT @VAR_RETORNO = 0

		-- **********************************************************************************************************************
		-- ALTERAÇÃO FEITA POR ANDEROSN - 22/08/2023
		-- BITRIX 4937
		-- ALGUMAS INFORMAÇÕES ESTÃO SENDO GRAVADAS COM ESPAÇO EM BRANCO NA FRENTE
		-- E ISSO IMPACTA ALGUMAS CONSULTAS COMO POR EXEMPLO MEUS INDICADOS NO EV
		-- NÃO SABEMOS SE O CLIENTE COLOCA ESSE ESPAÇO OU SE ISSO VEM DE ALGUMA INTEGRAÇÃO OU CARGA INICIAL DE DADOS
		-- POR ISSO VAMOS TRATAR ESSES CASOS ANTES DE GRAVAR A INFORMAÇÃO
		-- **********************************************************************************************************************
		
		-- RETIRA ESPAÇOS A ESQUERDA
		SELECT @DC_NOME = LTRIM(@DC_NOME)
		SELECT @DC_SOBRENOME = LTRIM(@DC_SOBRENOME)
		SELECT @DC_APELIDO = LTRIM(@DC_APELIDO)

		-- RETIRA ESPAÇOS A DIREITA
		SELECT @DC_NOME = RTRIM(@DC_NOME)
		SELECT @DC_SOBRENOME = RTRIM(@DC_SOBRENOME)
		SELECT @DC_APELIDO = RTRIM(@DC_APELIDO)
		
		-- **********************************************************************************************************************
		-- FIM ALTERAÇÃO BITRIX 4937
		-- **********************************************************************************************************************
		
		IF (@DT_NASCIMENTO) = ''
			BEGIN
				SELECT @DT_NASCIMENTO = NULL
			END
		ELSE
			BEGIN
				SELECT @DT_NASCIMENTO = convert(datetime, @DT_NASCIMENTO, 103) -- dd/mm/yyyy 
			END
		
		IF (@DT_EMISSAO1) = ''
			BEGIN
				SELECT @DT_EMISSAO1 = NULL
			END
		
		IF (@DT_EMISSAO2) = ''
			BEGIN
				SELECT @DT_EMISSAO2 = NULL
			END
		
		IF (@DT_EMISSAO3) = ''
			BEGIN
				SELECT @DT_EMISSAO3 = NULL
			END
		
		IF (@DT_ADMISSAO) = ''
			BEGIN
				SELECT @DT_ADMISSAO = NULL
			END
			
		IF (@DT_DESLIGAMENTO) = ''
			BEGIN
				SELECT @DT_DESLIGAMENTO = NULL
			END
		
		--IF (@NM_CICLO_FIM_FV) = 0
		--	BEGIN
		--		SELECT @NM_CICLO_FIM_FV = NULL
		--	END	
		
		-- **********************************************************************************
		-- VERIFICA SE UTILIZA REDE BINARIA 
		-- SE UTILIZA VAMOS ARMAZENAR A DIREÇÃO PADRÃO DA REDE BINARIA NA TABELA TB_PESSOA_RESUMO
		-- **********************************************************************************
		
		-- VERIFICA SE LIBERA OU NÃO ACESSO AO EV NO MOMENTO DO CADASTRO DA PESSOA
		-- FOI NECESSARIO FAZER ESSE AJUSTE POIS NO CASO DA HELLOCASH 
		-- SOMENTE VAMOS LIBERAR ACESSO AO EV APÓS A ENTRADA DO PRIMEIRO PEDIDO
		SELECT @LIBERA_ACESSO_EV = VL_PARAMETRO
		FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
		WHERE CD_GRUPO_PARAMETRO = 1
		AND CD_PARAMETRO = 7
		
		SELECT @UTILIZA_REDE_BINARIA = VL_PARAMETRO
		FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
		WHERE CD_GRUPO_PARAMETRO = 7
		AND CD_PARAMETRO = 4

		--ATUALIZAÇÃO EM 19/07/2018 POR DIEGO ZILIOTI
		--PRECISAMOS TIRAR O HARDCODE DO PAPEL PARA O CADASTRO DE CF
		--VAMOS BUSCAR O PAPEL BASE PARA FAZER A INSERÇÃO
		SELECT @CD_PAPEL_CARREIRA_BASE_CF = ISNULL(CD_PAPEL_CARREIRA,0)
		  FROM TB_PAPEL_CARREIRA WITH(NOLOCK)
		 WHERE CD_FUNCAO = 1
		   AND NM_SEQUENCIA = 1
		   AND ID_PRIMEIRO_NIVEL = 1

		SELECT @CD_PAPEL_DESEMPENHO_BASE_CF = ISNULL(CD_PAPEL_DESEMPENHO,0)
		  FROM TB_PAPEL_DESEMPENHO WITH(NOLOCK)
		 WHERE CD_FUNCAO = 1
		   AND NM_SEQUENCIA = 1
		   AND ID_PRIMEIRO_NIVEL = 1
			
		IF @UTILIZA_REDE_BINARIA = 1 
			BEGIN
				IF @ID_DIRECAO_PADRAO_REDE_BINARIA = 0
					BEGIN
						SELECT @ID_DIRECAO_PADRAO_REDE_BINARIA = VL_PARAMETRO
						FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
						WHERE CD_GRUPO_PARAMETRO = 7
						AND CD_PARAMETRO = 5
					END
				END
		ELSE
			BEGIN
				SELECT @ID_DIRECAO_PADRAO_REDE_BINARIA = 0
			END

		-- ********************************************************************
		-- VERIFICA PARAMETRO SE IRA REALIZAR FLUXO DE APROVAÇÃO DO CADASTRO 
		-- DA REVENDEDORA
		-- ********************************************************************
		SELECT @NECESSITA_FLUXO_APROVACAO = VL_PARAMETRO
		FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
		WHERE CD_GRUPO_PARAMETRO = 1
		AND CD_PARAMETRO = 9


	-- VAMOS RETIRAR OS CARACTERES ESPECIAIS NA GRAVAÇÃO DA TABELA DE ENDEREÇO
		SELECT @DC_BAIRRO1 = dbo.fn_RemoveCaracteresEspeciais(@DC_BAIRRO1)
		SELECT @DC_RUA1 = dbo.fn_RemoveCaracteresEspeciais(@DC_RUA1)
		SELECT @DC_BAIRRO1 = dbo.fn_RemoveCaracteresEspeciais(@DC_BAIRRO1)
		SELECT @DC_RUA1 = dbo.fn_RemoveCaracteresEspeciais(@DC_RUA1)

	IF @ID_TIPO_ENDERECO2 IN (3,2) 
		BEGIN
			SELECT @DC_BAIRRO2 = dbo.fn_RemoveCaracteresEspeciais(@DC_BAIRRO2)
			SELECT @DC_RUA2 = dbo.fn_RemoveCaracteresEspeciais(@DC_RUA2)
		END
					
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
	
				-- *****************************************************
				-- ALTERAÇÃO POR DIEGO ZILIOTI EM 04/02/2019
				-- VAMOS COLOCAR UMA VALIDAÇÃO NESTE PONTO PARA ESTANCAR O PROBLEMA DE CADASTROS DUPLICADOS
				-- SE HOUVER ALGUM CADASTRO NA BASE COM O MESMO DOCUMENTO DESTE NOVO PARA INSERÇÃO VAMOS ABORTAR A EXECUÇÃO
				-- *****************************************************
				SELECT @V_EXISTE_CADASTRO = COUNT(*)
				  FROM TB_PESSOA_DOCUMENTO WITH(NOLOCK)
				 WHERE DC_DOCUMENTO = @DC_DOCUMENTO1

				IF @V_EXISTE_CADASTRO >= 1
					BEGIN
						SELECT @VAR_RETORNO = -1
						SELECT @DC_ERRO = 'Cadastro já existente'
						RETURN
					END
				
				-- *****************************************************
				-- FIM ALTERAÇÃO POR DIEGO ZILIOTI EM 04/02/2019
				-- *****************************************************

				BEGIN TRANSACTION 
											
				INSERT INTO TB_PESSOA 
					(ID_TIPO_PESSOA,
					CD_PESSOA_INDICANTE,
					CD_ESTRUTURA_COMERCIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO,
					CD_SITUACAO_CADASTRO,
					ID_ACEITA_EMAIL,
					ID_ACEITA_SMS)
				VALUES 
					(@ID_TIPO_PESSOA,
					@CD_PESSOA_INDICANTE,
					@CD_EST_COMERCIAL_INDICANTE,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO,
					1, -- EM CADASTRO
					@p_idAceitaEmail,
					@p_idAceitaSMS) 
			

				COMMIT TRANSACTION 

				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				SELECT @Identity = IDENT_CURRENT('TB_PESSOA')
						
				-- *******************************************
				-- ABRE A SITUAÇÃO EM CADASTRO
				-- *******************************************
				EXEC pr_PessoaGravaHistoricoSituacaoCadastro
					@Identity, -- CODIGO DA PESSOA
					1,	-- EM CADASTRO
					1, -- FIM	
					0,	-- RESULTADO
					'', -- MOTIVO
					0,	-- POSSUI RESTRICAO
					@CD_USUARIO,
					@VAR_RETORNO  OUTPUT,
					@DC_ERRO OUTPUT,
					@QT_LINHAS_AFETADAS  OUTPUT

				BEGIN TRANSACTION 

				INSERT INTO TB_PESSOA_FISICA
					(CD_PESSOA,
					DC_NOME,
					DC_SOBRENOME,
					DC_APELIDO,
					ID_SEXO,
					ID_NACIONALIDADE,
					ID_ESTADO_CIVIL,
					DC_CONJUGE,
					ID_ESCOLARIDADE,
					ID_PROFISSAO,
					DT_NASCIMENTO,
					DC_NOME_MAE,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@Identity,
					@DC_NOME,
					@DC_SOBRENOME,
					@DC_APELIDO,
					@ID_SEXO,
					@ID_NACIONALIDADE,
					@ID_ESTADO_CIVIL,
					@DC_CONJUGE,
					@ID_ESCOLARIDADE,
					@ID_PROFISSAO,
					@DT_NASCIMENTO,
					@DC_NOME_MAE,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
				
				IF (@ID_TIPO_DOCUMENTO1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_DOCUMENTO
							(CD_PESSOA,
							ID_TIPO_DOCUMENTO,
							DC_DOCUMENTO,
							DC_ORGAO,
							DT_EMISSAO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@Identity,
							@ID_TIPO_DOCUMENTO1,
							@DC_DOCUMENTO1,
							@DC_ORGAO1,
							@DT_EMISSAO1,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
					END
				
				IF (@ID_TIPO_DOCUMENTO2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_DOCUMENTO
					(CD_PESSOA,
					ID_TIPO_DOCUMENTO,
					DC_DOCUMENTO,
					DC_ORGAO,
					DT_EMISSAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@Identity,
					@ID_TIPO_DOCUMENTO2,
					@DC_DOCUMENTO2,
					@DC_ORGAO2,
					convert(date,@DT_EMISSAO2,103),
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
					
				IF (@ID_TIPO_DOCUMENTO3 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_DOCUMENTO
					(CD_PESSOA,
					ID_TIPO_DOCUMENTO,
					DC_DOCUMENTO,
					DC_ORGAO,
					DT_EMISSAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@Identity,
					@ID_TIPO_DOCUMENTO3,
					@DC_DOCUMENTO3,
					@DC_ORGAO3,
					@DT_EMISSAO3,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
					
				IF (@ID_TIPO_EMAIL1 <> 0)	
					BEGIN			
						INSERT INTO TB_PESSOA_EMAIL
						(CD_PESSOA,
						ID_TIPO_EMAIL,
						DC_EMAIL,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES 
						(@Identity,
						@ID_TIPO_EMAIL1,
						@DC_EMAIL1,
						GETDATE(),
						@CD_USUARIO,
						GETDATE(),
						@CD_USUARIO)
					END
				
				IF (@ID_TIPO_EMAIL2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_EMAIL
					(CD_PESSOA,
					ID_TIPO_EMAIL,
					DC_EMAIL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES 
					(@Identity,
					@ID_TIPO_EMAIL2,
					@DC_EMAIL2,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
							
				IF (@CD_EST_GEOGRAFICA1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_ENDERECO
							(CD_PESSOA,
							ID_TIPO_ENDERECO,
							CD_EST_GEOGRAFICA,
							DC_CODIGO_POSTAL,
							DC_NUMERO,
							DC_COMPLEMENTO,
							DC_REFERENCIA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							ID_DADOS_DIGITADOS,
							DC_ESTRUTURA_GEO1,
							DC_ESTRUTURA_GEO2,
							DC_ESTRUTURA_GEO3,
							DC_ESTRUTURA_GEO4,
							DC_ESTRUTURA_GEO5,
							DC_NOME_ENDERECO
							)
						VALUES 
							(@Identity,
							@ID_TIPO_ENDERECO1,
							@CD_EST_GEOGRAFICA1,
							@DC_CODIGO_POSTAL1,
							@DC_NUMERO1,
							@DC_COMPLEMENTO1,
							@DC_REFERENCIA1,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO,
							@ID_DADOS_DIGITADOS1,
							@DC_PAIS1,
							@DC_ESTADO1,
							@DC_CIDADE1,
							@DC_BAIRRO1,
							@DC_RUA1,
							@DC_NOME_ENDERECO1
							)
				
						END 
				
				IF (@CD_EST_GEOGRAFICA2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_ENDERECO
							(CD_PESSOA,
							ID_TIPO_ENDERECO,
							CD_EST_GEOGRAFICA,
							DC_CODIGO_POSTAL,
							DC_NUMERO,
							DC_COMPLEMENTO,
							DC_REFERENCIA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							ID_DADOS_DIGITADOS,
							DC_ESTRUTURA_GEO1,
							DC_ESTRUTURA_GEO2,
							DC_ESTRUTURA_GEO3,
							DC_ESTRUTURA_GEO4,
							DC_ESTRUTURA_GEO5,
							DC_NOME_ENDERECO
							)
						VALUES 
							(@Identity,
							@ID_TIPO_ENDERECO2,
							@CD_EST_GEOGRAFICA2,
							@DC_CODIGO_POSTAL2,
							@DC_NUMERO2,
							@DC_COMPLEMENTO2,
							@DC_REFERENCIA2,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO,
							@ID_DADOS_DIGITADOS2,
							@DC_PAIS2,
							@DC_ESTADO2,
							@DC_CIDADE2,
							@DC_BAIRRO2,
							@DC_RUA2,
							@DC_NOME_ENDERECO2
							)
						END
					
				IF (@ID_TIPO_TELEFONE1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_TELEFONE 
					(CD_PESSOA,
					ID_TIPO_TELEFONE,
					DC_TELEFONE,
					DC_RAMAL,
					DC_CONTATO,
					ID_OPERADORA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@Identity,
					@ID_TIPO_TELEFONE1,
					@DC_TELEFONE1,
					@DC_RAMAL1,
					@DC_CONTATO1,
					@ID_OPERADORA1,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END 
				
				IF (@ID_TIPO_TELEFONE2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_TELEFONE 
					(CD_PESSOA,
					ID_TIPO_TELEFONE,
					DC_TELEFONE,
					DC_RAMAL,
					DC_CONTATO,
					ID_OPERADORA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@Identity,
					@ID_TIPO_TELEFONE2,
					@DC_TELEFONE2,
					@DC_RAMAL2,
					@DC_CONTATO2,
					@ID_OPERADORA2,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
				
				IF (@ID_TIPO_TELEFONE3 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_TELEFONE 
					(CD_PESSOA,
					ID_TIPO_TELEFONE,
					DC_TELEFONE,
					DC_RAMAL,
					DC_CONTATO,
					ID_OPERADORA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@Identity,
					@ID_TIPO_TELEFONE3,
					@DC_TELEFONE3,
					@DC_RAMAL3,
					@DC_CONTATO3,
					@ID_OPERADORA3,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
					
				IF (@CD_REFERENCIA_BANCARIA1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_BANCARIA
					(CD_PESSOA,
					CD_REFERENCIA_BANCARIA,
					NM_BANCO,
					DC_BANCO,
					DC_AGENCIA,
					DC_CLIENTE_DESDE,
					ID_CONTA_ESPECIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@Identity,
					@CD_REFERENCIA_BANCARIA1,
					@NM_BANCO1,
					@DC_BANCO1,
					@DC_AGENCIA1,
					@DC_CLIENTE_DESDE1,
					@ID_CONTA_ESPECIAL1,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
					
				IF (@CD_REFERENCIA_BANCARIA2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_BANCARIA
					(CD_PESSOA,
					CD_REFERENCIA_BANCARIA,
					NM_BANCO,
					DC_BANCO,
					DC_AGENCIA,
					DC_CLIENTE_DESDE,
					ID_CONTA_ESPECIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@Identity,
					@CD_REFERENCIA_BANCARIA2,
					@NM_BANCO2,
					@DC_BANCO2,
					@DC_AGENCIA2,
					@DC_CLIENTE_DESDE2,
					@ID_CONTA_ESPECIAL2,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END 
					
				IF (@CD_REFERENCIA_PESSOAL1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_PESSOAL
							(CD_PESSOA,
							CD_REFERENCIA_PESSOAL,
							DC_NOME,
							DC_RELACAO,
							DC_TELEFONE,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@Identity,
							@CD_REFERENCIA_PESSOAL1,
							@DC_NOME1,
							@DC_RELACAO1,
							@DC_TELEFONE_PESSOAL1,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
					END 
				
				IF (@CD_REFERENCIA_PESSOAL2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_PESSOAL
							(CD_PESSOA,
							CD_REFERENCIA_PESSOAL,
							DC_NOME,
							DC_RELACAO,
							DC_TELEFONE,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@Identity,
							@CD_REFERENCIA_PESSOAL2,
							@DC_NOME2,
							@DC_RELACAO2,
							@DC_TELEFONE_PESSOAL2,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
					END
					
				IF (@CD_REFERENCIA_PROFISSIONAL1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_PROFISSIONAL
							(CD_PESSOA,
							CD_REFERENCIA_PROFISSIONAL,
							DC_RAZAO_SOCIAL,
							ID_RAMO_ATIVIDADE,
							DC_TELEFONE,
							DC_RAMAL,
							DC_CONTATO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@Identity,
							@CD_REFERENCIA_PROFISSIONAL1,
							@DC_RAZAO_SOCIAL1,
							@ID_RAMO_ATIVIDADE1,
							@DC_TELEFONE_PROFISSIONAL1,
							@DC_RAMAL_PROFISSIONAL1,
							@DC_CONTATO_PROFISSIONAL1,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
					END	
				
				IF (@CD_REFERENCIA_PROFISSIONAL2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_PROFISSIONAL
							(CD_PESSOA,
							CD_REFERENCIA_PROFISSIONAL,
							DC_RAZAO_SOCIAL,
							ID_RAMO_ATIVIDADE,
							DC_TELEFONE,
							DC_RAMAL,
							DC_CONTATO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@Identity,
							@CD_REFERENCIA_PROFISSIONAL2,
							@DC_RAZAO_SOCIAL2,
							@ID_RAMO_ATIVIDADE2,
							@DC_TELEFONE_PROFISSIONAL2,
							@DC_RAMAL_PROFISSIONAL2,
							@DC_CONTATO_PROFISSIONAL2,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
							
					END
					
				INSERT INTO TB_PESSOA_DADOS_BANCARIOS_PREMIACAO (
						CD_PESSOA,
						ID_TIPO_PESSOA,
						DC_NOME,
						DC_DOCUMENTO,
						ID_TIPO_CONTA_DESTINO,
						CD_BANCO,
						DC_AGENCIA,
						DC_CONTA,
						DC_INSS,
						DC_PIX)
					VALUES (
						@Identity,
						@ID_TIPO_PESSOA_PREMIACAO,
						@DC_NOME_PREMIACAO,
						@DC_DOCUMENTO_PREMIACAO,
						@ID_TIPO_CONTA_DESTINO_PREMIACAO,
						@CD_BANCO_PREMIACAO,
						@DC_AGENCIA_PREMIACAO,
						@DC_CONTA_PREMIACAO,
						@DC_INSS,
						@DC_PIX)
					
				COMMIT TRANSACTION 	
					
				IF (@ID_FUNCAO_CONSUMIDOR <> 0)
					BEGIN
						--DT_FIM,
						
						BEGIN TRANSACTION 
						
						INSERT INTO TB_PESSOA_FUNCAO
							(CD_PESSOA,
							CD_FUNCAO,
							ID_SITUACAO_FUNCAO,
							DT_INICIO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@Identity,
							@ID_FUNCAO_CONSUMIDOR,
							@ID_SITUACAO_FUNCAO_CONSUMIDOR,
							@DT_INICIO_FUNCAO_CONSUMIDOR,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
						
						COMMIT TRANSACTION 	
							
						SELECT @ID_PERMITE_CAPTACAO_PEDIDO = ID_PERMITE_CAPTACAO_PEDIDOS
						  FROM TB_FUNCAO WITH(NOLOCK) WHERE CD_FUNCAO = @ID_FUNCAO_CONSUMIDOR
						  
						IF @ID_PERMITE_CAPTACAO_PEDIDO = 1
							BEGIN
							
								BEGIN TRANSACTION 
								
								INSERT INTO TB_PESSOA_RESUMO (
									CD_PESSOA,
									CD_FUNCAO,
									DT_CADASTRO_PESSOA,
									VL_SALDO_FAVOR,
									VL_SALDO_FAVOR_PENDENTE,
									VL_SALDO_DEVEDOR,
									VL_CREDITO_TOTAL,
									VL_CREDITO_VENCIDO,
									VL_CREDITO_A_VENCER,
									VL_CREDITO_A_FATURAR,
									VL_CREDITO_DISPONIVEL,
									CD_PESSOA_VINCULADA,
									CD_PAPEL_CARREIRA,
									CD_PAPEL_DESEMPENHO,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO,
									DC_SENHA,
									ID_ACESSA_SISTEMA,
									ID_ACESSA_LOJA_VIRTUAL)
									
								VALUES
									(@Identity,
									@ID_FUNCAO_CONSUMIDOR,
									GETDATE(),
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									@CD_PAPEL_CARREIRA_BASE_CF,
									@CD_PAPEL_DESEMPENHO_BASE_CF,
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO,
									@DC_SENHA_CONSUMIDOR,
									1,
									1)
								
								COMMIT TRANSACTION 	
								
								-- **********************************
								-- VAMOS ENVIAR OS DADOS DE ACESSO POR EMAIL
								-- **********************************

								EXEC dbo.pr_PessoaEnviarEmailCadastro @Identity,			--@p_cdPessoa 
																	  27,					--	@p_cdEvento	27 - cadastro CF
																	  @VAR_RETORNO  OUTPUT, --@p_codigoErro
																	  @DC_ERRO OUTPUT,		--@p_descricaoErro
																	  @QT_LINHAS_AFETADAS  OUTPUT	--@p_linhasAfetadas
	
							END
						
													
					END
				
				IF (@ID_FUNCAO_CONSULTORA <> 0)
					BEGIN
						
						--DT_FIM,
						
						BEGIN TRANSACTION 
						
						INSERT INTO TB_PESSOA_FUNCAO
							(CD_PESSOA,
							CD_FUNCAO,
							ID_SITUACAO_FUNCAO,
							DT_INICIO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@Identity,
							@ID_FUNCAO_CONSULTORA,
							@ID_SITUACAO_FUNCAO_CONSULTORA,
							@DT_INICIO_FUNCAO_CONSULTORA,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
							
						-- INSERE NA TABELA TB_PESSOA_RESUMO
						INSERT INTO TB_PESSOA_RESUMO (
							CD_PESSOA,
							CD_FUNCAO,
							DT_CADASTRO_PESSOA,
							VL_SALDO_FAVOR,
							VL_SALDO_FAVOR_PENDENTE,
							VL_SALDO_DEVEDOR,
							VL_CREDITO_TOTAL,
							VL_CREDITO_VENCIDO,
							VL_CREDITO_A_VENCER,
							VL_CREDITO_A_FATURAR,
							VL_CREDITO_DISPONIVEL,
							CD_PESSOA_VINCULADA,
							CD_PAPEL_CARREIRA,
							CD_PAPEL_DESEMPENHO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							DC_SENHA,
							ID_ACESSA_SISTEMA,
							ID_ACESSA_LOJA_VIRTUAL,
							ID_PADRAO_DIRECAO_REDE_BINARIA,
							ID_DIRECAO_REDE_BINARIA,
							ID_DIRECAO_REDE_LINEAR,
							CD_EST_COMERCIAL_ESCOLHIDA)
						VALUES
							(@Identity,
							@ID_FUNCAO_CONSULTORA,
							GETDATE(),
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO,
							@DC_SENHA_CONSULTORA,
							1,
							@LIBERA_ACESSO_EV,
							@ID_DIRECAO_PADRAO_REDE_BINARIA,
							@ID_DIRECAO_REDE_BINARIA,
							@ID_DIRECAO_REDE_LINEAR,
							@CD_EST_COMERCIAL_ESCOLHIDA)
						
						COMMIT TRANSACTION 		
	
						-- **********************************
						-- VAMOS ENVIAR OS DADOS DE ACESSO POR EMAIL
						-- **********************************

						EXEC dbo.pr_PessoaEnviarEmailCadastro @Identity,			--@p_cdPessoa 
																1,					--	@p_cdEvento	27 - cadastro CF
																@VAR_RETORNO  OUTPUT, --@p_codigoErro
																@DC_ERRO OUTPUT,		--@p_descricaoErro
																@QT_LINHAS_AFETADAS  OUTPUT	--@p_linhasAfetadas				
					END
					
				BEGIN TRANSACTION 
				
				IF (@ID_FUNCAO_FORCA_VENDAS <> 0)
					BEGIN
						
						--DT_FIM,
						
						INSERT INTO TB_PESSOA_FUNCAO
							(CD_PESSOA,
							CD_FUNCAO,
							ID_SITUACAO_FUNCAO,
							DT_INICIO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@Identity,
							@ID_FUNCAO_FORCA_VENDAS,
							@ID_SITUACAO_FUNCAO_FORCA_VENDAS,
							@DT_INICIO_FUNCAO_FORCA_VENDAS,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
							
						-- INSERE NA TABELA TB_PESSOA_RESUMO
						INSERT INTO TB_PESSOA_RESUMO (
							CD_PESSOA,
							CD_FUNCAO,
							DT_CADASTRO_PESSOA,
							VL_SALDO_FAVOR,
							VL_SALDO_FAVOR_PENDENTE,
							VL_SALDO_DEVEDOR,
							VL_CREDITO_TOTAL,
							VL_CREDITO_VENCIDO,
							VL_CREDITO_A_VENCER,
							VL_CREDITO_A_FATURAR,
							VL_CREDITO_DISPONIVEL,
							CD_PESSOA_VINCULADA,
							CD_PAPEL_CARREIRA,
							CD_PAPEL_DESEMPENHO,
							DC_SENHA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							ID_ACESSA_SISTEMA,
							ID_ACESSA_LOJA_VIRTUAL)
						VALUES
							(@Identity,
							@ID_FUNCAO_FORCA_VENDAS,
							GETDATE(),
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							@DC_SENHA_FORCA_VENDAS,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO,
							1,
							1)
						
						----INSERE NA TB_PESSOA_FORCA_VENDAS
						--INSERT INTO TB_PESSOA_FORCA_VENDAS (
						--	CD_PESSOA,
						--	CD_EST_COMERCIAL,
						--	NM_CICLO_INICIO,
						--	NM_CICLO_FIM,
						--	DT_CADASTRO,
						--	CD_USUARIO_CADASTRO)
						--VALUES
						--	(@Identity,
						--	@CD_EST_COMERCIAL_FV,
						--	@NM_CICLO_INICIO_FV,
						--	@NM_CICLO_FIM_FV,
						--	GETDATE(),
						--	@CD_USUARIO)
					END
				
				IF (@ID_FUNCAO_COLABORADOR <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_COLABORADOR
							(CD_PESSOA,
							CD_EMPRESA,
							DT_ADMISSAO,
							DT_DESLIGAMENTO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO)
						VALUES 
							(@Identity,
							@CD_EMPRESA,
							@DT_ADMISSAO,
							@DT_DESLIGAMENTO,
							GETDATE(),
							@CD_USUARIO)
						
						
						
						--DT_FIM,
						
						INSERT INTO TB_PESSOA_FUNCAO
							(CD_PESSOA,
							CD_FUNCAO,
							ID_SITUACAO_FUNCAO,
							DT_INICIO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@Identity,
							@ID_FUNCAO_COLABORADOR,
							@ID_SITUACAO_FUNCAO_COLABORADOR,
							@DT_INICIO_FUNCAO_COLABORADOR,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
						
							
						
						-- INSERE NA TABELA TB_PESSOA_RESUMO
						INSERT INTO TB_PESSOA_RESUMO (
							CD_PESSOA,
							CD_FUNCAO,
							DT_CADASTRO_PESSOA,
							VL_SALDO_FAVOR,
							VL_SALDO_FAVOR_PENDENTE,
							VL_SALDO_DEVEDOR,
							VL_CREDITO_TOTAL,
							VL_CREDITO_VENCIDO,
							VL_CREDITO_A_VENCER,
							VL_CREDITO_A_FATURAR,
							VL_CREDITO_DISPONIVEL,
							CD_PESSOA_VINCULADA,
							CD_PAPEL_CARREIRA,
							CD_PAPEL_DESEMPENHO,
							DC_SENHA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							ID_ACESSA_SISTEMA,
							ID_ACESSA_LOJA_VIRTUAL)
						VALUES
							(@Identity,
							@ID_FUNCAO_COLABORADOR,
							GETDATE(),
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							0,
							@DC_SENHA_COLABORADOR,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO,
							1,
							1)
													
							
					END
								
				COMMIT TRANSACTION
				

				-- *****************************************************
				-- VAMOS GRAVAR A SITUAÇÃO DO CADASTRO
				-- SE NECESSITA DE APROVAÇÃO IREMOS GRAVAR A SITUAÇÃO 3 - AGUARDANDO APROVAÇÃO
				-- SENAO NECESSITA DE APROVAÇÃO VAMOS GRAVAR 4 - ATIVO
				-- ESSE FLUXO DE APROVAÇÃO É SOMENTE PARA REVENDEDORA
				-- PARA OUTRAS FUNÇÕES VAMOS GRAVAR 4 - ATIVO
				-- *****************************************************

				-- É CONSULTORA
				IF (@ID_FUNCAO_CONSULTORA <> 0)
					BEGIN
						-- NECESSITA APROVAÇÃO
						IF (@NECESSITA_FLUXO_APROVACAO = 1)
							BEGIN

								-- FINALIZA A SITUAÇÃO EM CADASTRO
								EXEC pr_PessoaGravaHistoricoSituacaoCadastro
									@Identity, -- CODIGO DA PESSOA
									1,	-- EM CADASTRO
									2, -- FIM	
									0,	-- RESULTADO
									'', -- MOTIVO
									0,	-- POSSUI RESTRICAO
									@CD_USUARIO,
									@VAR_RETORNO  OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS  OUTPUT


								-- ABRE A SITUAÇÃO Analise da Documentação
								EXEC pr_PessoaGravaHistoricoSituacaoCadastro
									@Identity, -- CODIGO DA PESSOA
									31,	-- Analise da Documentação
									1, -- INICIO	
									0,	-- RESULTADO
									'', -- MOTIVO
									0,	-- POSSUI RESTRICAO
									@CD_USUARIO,
									@VAR_RETORNO  OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS  OUTPUT


								-- ABRE A SITUAÇÃO Analise dos Dados Cadastrais
								EXEC pr_PessoaGravaHistoricoSituacaoCadastro
									@Identity, -- CODIGO DA PESSOA
									32,	-- Analise dos Dados Cadastrais
									1, -- INICIO	
									0,	-- RESULTADO
									'', -- MOTIVO
									0,	-- POSSUI RESTRICAO
									@CD_USUARIO,
									@VAR_RETORNO  OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS  OUTPUT


								
								-- ABRE A SITUAÇÃO Analise de Crédito
								EXEC pr_PessoaGravaHistoricoSituacaoCadastro
									@Identity, -- CODIGO DA PESSOA
									33,	-- Analise de Crédito
									1, -- INICIO	
									0,	-- RESULTADO
									'', -- MOTIVO
									0,	-- POSSUI RESTRICAO
									@CD_USUARIO,
									@VAR_RETORNO  OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS  OUTPUT


								-- GRAVA A SITUACAO DE CADASTRO AGUARDANDO APROVAÇÃO
								UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 3
								WHERE CD_PESSOA = @Identity

								-- GRAVA A SITUACAO COMERCIAL INTENÇÃO DE REVENDA
								UPDATE TB_PESSOA_RESUMO SET CD_SITUACAO_COMERCIAL = 99
								WHERE CD_PESSOA = @Identity
							END
						ELSE
							BEGIN
								-- GRAVA SITUAÇÃO DE CADASTRO ATIVA
								UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4
								WHERE CD_PESSOA = @Identity

								-- FINALIZA A SITUAÇÃO EM CADASTRO
								EXEC pr_PessoaGravaHistoricoSituacaoCadastro
									@Identity, -- CODIGO DA PESSOA
									1,	-- EM CADASTRO
									2, -- FIM	
									0,	-- RESULTADO
									'', -- MOTIVO
									0,	-- POSSUI RESTRICAO
									@CD_USUARIO,
									@VAR_RETORNO  OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS  OUTPUT

								-- ABRE A SITUAÇÃO ATIVA
								EXEC pr_PessoaGravaHistoricoSituacaoCadastro
									@Identity, -- CODIGO DA PESSOA
									4,	-- ATIVA
									1, -- INICIO	
									0,	-- RESULTADO
									'', -- MOTIVO
									0,	-- POSSUI RESTRICAO
									@CD_USUARIO,
									@VAR_RETORNO  OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS  OUTPUT


							END
					END
				ELSE
					-- NÃO É CONSULTORA
					BEGIN
						UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4
						WHERE CD_PESSOA = @Identity

						-- FINALIZA A SITUAÇÃO EM CADASTRO
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@Identity, -- CODIGO DA PESSOA
							1,	-- EM CADASTRO
							2, -- FIM	
							0,	-- RESULTADO
							'', -- MOTIVO
							0,	-- POSSUI RESTRICAO
							@CD_USUARIO,
							@VAR_RETORNO  OUTPUT,
							@DC_ERRO OUTPUT,
							@QT_LINHAS_AFETADAS  OUTPUT

						-- ABRE A SITUAÇÃO ATIVA
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@Identity, -- CODIGO DA PESSOA
							4,	-- ATIVA
							1, -- INICIO	
							0,	-- RESULTADO
							'', -- MOTIVO
							0,	-- POSSUI RESTRICAO
							@CD_USUARIO,
							@VAR_RETORNO  OUTPUT,
							@DC_ERRO OUTPUT,
							@QT_LINHAS_AFETADAS  OUTPUT

					END

				
				-- ***************************************************************
				-- FIM DO FLUXO DE APROVAÇÃO
				-- ***************************************************************

				-- ***********************************************************************				
				-- VERIFICA SE DEVEMOS OU NÃO ALOCAR A PESSOA NA REDE 
				-- SOMENTE PARA REVENDEDORAS e CFs
				-- ***********************************************************************
				
				IF (@ID_FUNCAO_CONSULTORA <> 0)	
					BEGIN
					
						SELECT @V_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE
						
						EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
							@Identity,
							@V_PESSOA_INDICANTE,
							2,
							@V_CRIA_ALOCACAO						output,	-- 1 para sim e 2 para não
							@V_CICLO_ALOCACAO_AUTOMATICO			output, 
							@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO	output, 
							0,
							'',
							0
						
							
						IF @V_CRIA_ALOCACAO = 1
							BEGIN
							
								-- ****************************************************
								-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
								-- *******************************************************************
								SELECT @V_QTD_REGISTROS = COUNT(*)
								FROM TB_ALOCACAO_REDE WITH(NOLOCK)
								WHERE CD_PESSOA = @Identity
								AND NM_CICLO = @V_CICLO_ALOCACAO_AUTOMATICO
								AND CD_FUNCAO = 2
							
								IF @V_QTD_REGISTROS = 0							
									BEGIN
										EXEC pr_PessoaGeraAlocacaoRede
												@Identity,
												2,
												@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
												@V_CICLO_ALOCACAO_AUTOMATICO,
												@CD_USUARIO,

												0,
												'',
												0
										
									END
							END -- FIM DO @V_CRIA_ALOCACAO = 1

						-- *********************************************
						-- Alteração em 19/06/2019 por Diego Zilioti
						-- Precisamos chamar a criação dos indicadores MN para a criação de alguns indicadores base para a captação de pedidos
						-- *********************************************

						-- CALCULA OS INDICADORES DE CADASTRO
						EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
										@Identity,
										2,
										@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
										@V_CICLO_ALOCACAO_AUTOMATICO,
										8,                    --CADASTRO
										1,          --ADICIONAR
										2, --CALCULA OS INDICADORES BATCH
										0,
										0 ,
										'',
										0
																	
					END -- FIM (@ID_FUNCAO_CONSULTORA <> 0)	 
										
				IF (@ID_FUNCAO_CONSUMIDOR <> 0)	
					BEGIN
					
						SELECT @ID_PERMITE_CAPTACAO_PEDIDO = ID_PERMITE_CAPTACAO_PEDIDOS
						  FROM TB_FUNCAO WITH(NOLOCK) WHERE CD_FUNCAO = @ID_FUNCAO_CONSUMIDOR
						  
						IF @ID_PERMITE_CAPTACAO_PEDIDO = 1
							BEGIN
					
								SELECT @V_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE
								
								EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
									@Identity,
									@V_PESSOA_INDICANTE,
									1,
									@V_CRIA_ALOCACAO						output,	-- 1 para sim e 2 para não
									@V_CICLO_ALOCACAO_AUTOMATICO			output, 
									@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO	output, 
									0,
									'',
									0
								
									
								IF @V_CRIA_ALOCACAO = 1
									BEGIN
									
										-- ****************************************************
										-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
										-- *******************************************************************
										SELECT @V_QTD_REGISTROS = COUNT(*)
										FROM TB_ALOCACAO_REDE WITH(NOLOCK)
										WHERE CD_PESSOA = @Identity
										AND NM_CICLO = @V_CICLO_ALOCACAO_AUTOMATICO
										AND CD_FUNCAO = 1
									
										IF @V_QTD_REGISTROS = 0							
											BEGIN
												EXEC pr_PessoaGeraAlocacaoRede
														@Identity,
														1,
														@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
														@V_CICLO_ALOCACAO_AUTOMATICO,
														@CD_USUARIO,

														0,
														'',
														0

											END
									END -- FIM DO @V_CRIA_ALOCACAO = 1
							END											
					END -- FIM (@ID_FUNCAO_CONSULTORA <> 0)	 
				
				IF (@ID_FUNCAO_COLABORADOR <> 0)	
					BEGIN
					
						SELECT @ID_PERMITE_CAPTACAO_PEDIDO = ID_PERMITE_CAPTACAO_PEDIDOS
						FROM TB_FUNCAO WITH(NOLOCK) WHERE CD_FUNCAO = @ID_FUNCAO_COLABORADOR
						  
						IF @ID_PERMITE_CAPTACAO_PEDIDO = 1
							BEGIN
					
								SELECT @V_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE
								
								EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
									@Identity,
									@V_PESSOA_INDICANTE,
									3,
									@V_CRIA_ALOCACAO						output,	-- 1 para sim e 2 para não
									@V_CICLO_ALOCACAO_AUTOMATICO			output, 
									@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO	output, 
									0,
									'',
									0
								
									
								IF @V_CRIA_ALOCACAO = 1
									BEGIN
									
										-- ****************************************************
										-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
										-- *******************************************************************
										SELECT @V_QTD_REGISTROS = COUNT(*)
										FROM TB_ALOCACAO_REDE WITH(NOLOCK)
										WHERE CD_PESSOA = @Identity
										AND NM_CICLO = @V_CICLO_ALOCACAO_AUTOMATICO
										AND CD_FUNCAO = 3
									
										IF @V_QTD_REGISTROS = 0							
											BEGIN
												EXEC pr_PessoaGeraAlocacaoRede
														@Identity,
														3,
														@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
														@V_CICLO_ALOCACAO_AUTOMATICO,
														@CD_USUARIO,

														0,
														'',
														0

											END
									END -- FIM DO @V_CRIA_ALOCACAO = 1
							END											
					END -- FIM (@ID_FUNCAO_COLABORADOR <> 0)	 

				IF (@ID_FUNCAO_FORCA_VENDAS <> 0)	
					BEGIN
					
						SELECT @ID_PERMITE_CAPTACAO_PEDIDO = ID_PERMITE_CAPTACAO_PEDIDOS
						FROM TB_FUNCAO WITH(NOLOCK) WHERE CD_FUNCAO = @ID_FUNCAO_FORCA_VENDAS
						  
						IF @ID_PERMITE_CAPTACAO_PEDIDO = 1
							BEGIN
					
								SELECT @V_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE
								
								EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
									@Identity,
									@V_PESSOA_INDICANTE,
									4,
									@V_CRIA_ALOCACAO						output,	-- 1 para sim e 2 para não
									@V_CICLO_ALOCACAO_AUTOMATICO			output, 
									@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO	output, 
									0,
									'',
									0
								
									
								IF @V_CRIA_ALOCACAO = 1
									BEGIN
									
										-- ****************************************************
										-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
										-- *******************************************************************
										SELECT @V_QTD_REGISTROS = COUNT(*)
										FROM TB_ALOCACAO_REDE WITH(NOLOCK)
										WHERE CD_PESSOA = @Identity
										AND NM_CICLO = @V_CICLO_ALOCACAO_AUTOMATICO
										AND CD_FUNCAO = 4
									
										IF @V_QTD_REGISTROS = 0							
											BEGIN
												EXEC pr_PessoaGeraAlocacaoRede
														@Identity,
														4,
														@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
														@V_CICLO_ALOCACAO_AUTOMATICO,
														@CD_USUARIO,

														0,
														'',
														0

											END
									END -- FIM DO @V_CRIA_ALOCACAO = 1
							END											
					END -- FIM (@ID_FUNCAO_FORCA_VENDAS <> 0)	 
					


				-- ***************************************************************
				-- FIM  DA ALOCAÇÃO AUTOMATICA
				-- ***************************************************************
				
										
				
				SELECT @DC_ERRO = 'Pessoa física com código ' + CONVERT(varchar(12), @Identity) + ' foi inserida com exito.'
				
			END	
	
		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
					
				-- vamos obter o e-mail atual para verificar se será preciso enviar novamente o e-mail com os dados de acesso
				select @v_dcEmailAtual = isnull(dbo.fn_busca_email_pessoa(@CD_CODIGO,1),'')
				
				--Obtém o código atual do indicante se for nulo ou igual a 0 iremos gravar o vínculo
				SELECT @V_PESSOA_INDICANTE = ISNULL(CD_PESSOA_INDICANTE,0)
				FROM TB_PESSOA WITH(NOLOCK) WHERE CD_PESSOA = @CD_CODIGO


				-- FECHA A SITUAÇÃO ATIVA
					EXEC pr_PessoaGravaHistoricoSituacaoCadastro
						@CD_CODIGO, -- CODIGO DA PESSOA
						4,	-- ATIVA
						2, -- FIM
						0,	-- RESULTADO
						'', -- MOTIVO
						0,	-- POSSUI RESTRICAO
						@CD_USUARIO,
						@VAR_RETORNO  OUTPUT,
						@DC_ERRO OUTPUT,
						@QT_LINHAS_AFETADAS  OUTPUT
				
				-- FECHA A SITUAÇÃO INATIVA
					EXEC pr_PessoaGravaHistoricoSituacaoCadastro
						@CD_CODIGO, -- CODIGO DA PESSOA
						5,	-- INATIVA
						2, -- FIM
						0,	-- RESULTADO
						'', -- MOTIVO
						0,	-- POSSUI RESTRICAO
						@CD_USUARIO,
						@VAR_RETORNO  OUTPUT,
						@DC_ERRO OUTPUT,
						@QT_LINHAS_AFETADAS  OUTPUT

				select @cd_situacao_cadastro = isnull(cd_situacao_cadastro,0)
				  from TB_PESSOA WITH(NOLOCK)
				 where CD_PESSOA = @CD_CODIGO
				
				if @cd_situacao_cadastro <> 4
					begin
				-- FECHA A SITUAÇÃO Analise da Documentação
					EXEC pr_PessoaGravaHistoricoSituacaoCadastro
						@CD_CODIGO, -- CODIGO DA PESSOA
						31,	-- Analise da Documentação
						2, -- FIM
						0,	-- RESULTADO
						'', -- MOTIVO
						0,	-- POSSUI RESTRICAO
						@CD_USUARIO,
						@VAR_RETORNO  OUTPUT,
						@DC_ERRO OUTPUT,
						@QT_LINHAS_AFETADAS  OUTPUT

				-- FECHA A SITUAÇÃO Analise dos Dados Cadastrais
					EXEC pr_PessoaGravaHistoricoSituacaoCadastro
						@CD_CODIGO, -- CODIGO DA PESSOA
						32,	-- Analise dos Dados Cadastrais
						2, -- FIM
						0,	-- RESULTADO
						'', -- MOTIVO
						0,	-- POSSUI RESTRICAO
						@CD_USUARIO,
						@VAR_RETORNO  OUTPUT,
						@DC_ERRO OUTPUT,
						@QT_LINHAS_AFETADAS  OUTPUT
				
				-- FECHA A SITUAÇÃO Analise de Crédito
				-- ************************************************************************************************
				-- ALTERAÇÃO FEITA POR ANDERSON - 20/02/2024
				-- TEMOS QUE MANTER NO HISTORICO ANTERIOR DAS INFORMAÇÕES DE MOTIVO E SE POSSUI RESTRIÇÃO
				-- ISSO SERÁ IMPORTANTE PARA RASTREABILIDADE
				-- ************************************************************************************************
					SELECT @V_DC_MOTIVO_ANTERIOR = ISNULL(MAX(DC_MOTIVO), ''),  
							@V_ID_POSSUI_RESTRICAO_CREDITO_ANTERIOR = ISNULL(MAX(ID_POSSUI_RESTRICAO_CREDITO), 0)
					FROM TB_PESSOA_HISTORICO_SITUACAO_CADASTRO
					WHERE CD_PESSOA = @CD_CODIGO
					AND CD_SITUACAO_CADASTRO = 33
					AND DT_FINAL IS NULL
			   
			   		EXEC pr_PessoaGravaHistoricoSituacaoCadastro
						@CD_CODIGO, -- CODIGO DA PESSOA
						33,	-- Analise de Crédito
						2, -- FIM
						0,	-- RESULTADO
						@V_DC_MOTIVO_ANTERIOR, -- MOTIVO
						@V_ID_POSSUI_RESTRICAO_CREDITO_ANTERIOR,	-- POSSUI RESTRICAO
						@CD_USUARIO,
						@VAR_RETORNO  OUTPUT,
						@DC_ERRO OUTPUT,
						@QT_LINHAS_AFETADAS  OUTPUT
										
					-- FECHA A SITUAÇÃO EM CADASTRO
					--EXEC pr_PessoaGravaHistoricoSituacaoCadastro
					--	@CD_CODIGO, -- CODIGO DA PESSOA
					--	1,	-- EM CADASTRO
					--	2, -- FIM
					--	0,	-- RESULTADO
					--	'', -- MOTIVO
					--	0,	-- POSSUI RESTRICAO
					--	@CD_USUARIO,
					--	@VAR_RETORNO  OUTPUT,
					--	@DC_ERRO OUTPUT,
					--	@QT_LINHAS_AFETADAS  OUTPUT

					end
					
				   -- ABRE A SITUAÇÃO EM EDIÇÃO
					EXEC pr_PessoaGravaHistoricoSituacaoCadastro
						@CD_CODIGO, -- CODIGO DA PESSOA
						2,	-- EM EDIÇÃO
						1, -- FIM
						0,	-- RESULTADO
						'', -- MOTIVO
						0,	-- POSSUI RESTRICAO
						@CD_USUARIO,
						@VAR_RETORNO  OUTPUT,
						@DC_ERRO OUTPUT,
						@QT_LINHAS_AFETADAS  OUTPUT

				BEGIN TRANSACTION 

				UPDATE TB_PESSOA SET
					ID_TIPO_PESSOA = @ID_TIPO_PESSOA,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
					--Comentado em 29/07/2020 por Diego Zilioti, erro chamado 4576
					--Não podemos atualizar a informação do indicante nas atualizações, pois nos casos de CF a informação é perdida
					--As rotinas de inserção e atualização de vínculos já fazem esse papel de atualização do indicante
					--CD_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE,
					CD_SITUACAO_CADASTRO = 2,
					ID_ACEITA_EMAIL = @p_idAceitaEmail,
					ID_ACEITA_SMS = @p_idAceitaSMS
				WHERE CD_PESSOA = @CD_CODIGO
				
				COMMIT TRANSACTION
				
				--*********************ALTERAÇÃO FEITA POR DIEGO *********************
				--DATA: 08/08/2016
				--MOTIVO: ALTERAR INDICANTE NO CADASTRO
				--CLIENTE: HELLO CASH
				if @V_PESSOA_INDICANTE > 0
					begin
						if @V_PESSOA_INDICANTE <> @CD_PESSOA_INDICANTE
							begin
								--BUSCA O CICLO ATUAL DA PESSOA PARA GRAVAR O VÍNCULO
								SELECT @NM_CICLO_ATUAL = NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO WITH(NOLOCK)
								WHERE CD_PESSOA = @CD_CODIGO
								AND CD_FUNCAO = 2
								
								--NESTE CASO O CÓDIGO DE INDICANTE FOI ALTERADO DEVEMOS ATUALIZAR O VÍNCULO E GERAR A TOPOLOGIA ATUALIZADA
							-- ALDIR 19/02/2019. TEM A CHAMADA DA pr_mnalteraindicante
							--	EXEC pr_PessoaInsereVinculo 
							--		@CD_CODIGO,
							--		2,
							--		@NM_CICLO_ATUAL,
							--		@VAR_RETORNO OUTPUT,
							--		@DC_ERRO OUTPUT,
							--		@QT_LINHAS_AFETADAS OUTPUT
							end
					end
				--*********************FIM ALTERAÇÃO FEITA POR DIEGO *********************
				
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT

				BEGIN TRANSACTION 
										
				UPDATE TB_PESSOA_FISICA SET
					DC_NOME = @DC_NOME,
					DC_SOBRENOME = @DC_SOBRENOME,
					DC_APELIDO = @DC_APELIDO,
					ID_SEXO = @ID_SEXO,
					ID_NACIONALIDADE = @ID_NACIONALIDADE,
					ID_ESTADO_CIVIL = @ID_ESTADO_CIVIL,
					DC_CONJUGE = @DC_CONJUGE,
					ID_ESCOLARIDADE = @ID_ESCOLARIDADE,
					ID_PROFISSAO = @ID_PROFISSAO,
					DT_NASCIMENTO = @DT_NASCIMENTO,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
					DC_NOME_MAE = @DC_NOME_MAE
				WHERE CD_PESSOA = @CD_CODIGO

				-- VERIFICA A SITUAÇÃO COMERCIAL DA PESSOA
				-- ESSA INFORMAÇÃO SERÁ IMPORTANTE NA FASE D EFLUXO DE APROVAÇÃO
				-- COMO A TABELA TB_PESSOA_RESUMO É EXCLUIDA, ENTÃO TEMOS QUE ARMAZENAR ESSA INFORMAÇÃO ANTES DA EXCLUSÃO
				SELECT @SITUACAO_COMERCIAL = ISNULL(CD_SITUACAO_COMERCIAL,99)
				FROM TB_PESSOA_RESUMO WITH(NOLOCK)
				WHERE CD_PESSOA = @CD_CODIGO
		
				DELETE FROM TB_PESSOA_DOCUMENTO WHERE CD_PESSOA = @CD_CODIGO
				DELETE FROM TB_PESSOA_EMAIL WHERE CD_PESSOA = @CD_CODIGO
				DELETE FROM TB_PESSOA_ENDERECO WHERE CD_PESSOA = @CD_CODIGO AND ID_TIPO_ENDERECO <> 4
				DELETE FROM TB_PESSOA_TELEFONE WHERE CD_PESSOA = @CD_CODIGO
				DELETE FROM TB_PESSOA_REFERENCIA_BANCARIA WHERE CD_PESSOA = @CD_CODIGO
				DELETE FROM TB_PESSOA_REFERENCIA_PESSOAL WHERE CD_PESSOA = @CD_CODIGO
				DELETE FROM TB_PESSOA_REFERENCIA_PROFISSIONAL WHERE CD_PESSOA = @CD_CODIGO
				DELETE FROM TB_PESSOA_DADOS_BANCARIOS_PREMIACAO WHERE CD_PESSOA = @CD_CODIGO
				

				-- *************************************************************************
				-- É PRECISO MANTER A SENHA DE CONSULTOR	
				-- *************************************************************************
				
				select @QTD_CO = COUNT(*)
				from TB_PESSOA_RESUMO WITH(NOLOCK)
				WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 2
				
				IF @QTD_CO > 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA
					BEGIN
						select @DC_SENHA_CONSULTORA = DC_SENHA
						FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						WHERE CD_PESSOA = @CD_CODIGO
						AND CD_FUNCAO = 2
					
					END
				
				
				-- *************************************************************************
				-- É PRECISO MANTER A SENHA DE CONSUMIDOR FINAL
				-- *************************************************************************
				
				select @QTD_CF = COUNT(*)
				from TB_PESSOA_RESUMO WITH(NOLOCK)
				WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 1
				
				IF @QTD_CF > 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA
					BEGIN
						select @DC_SENHA_CONSUMIDOR = DC_SENHA
						FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						WHERE CD_PESSOA = @CD_CODIGO
						AND CD_FUNCAO = 1
					
					END
											
				-- *************************************************************************
				-- É PRECISO MANTER A SENHA DE FORÇA DE VENDAS
				-- *************************************************************************
				
				select @QTD_FV = count(*)
				from TB_PESSOA_RESUMO WITH(NOLOCK)
				WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 4
				
				IF @QTD_FV > 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA
					BEGIN
						select @DC_SENHA_FORCA_VENDAS = DC_SENHA
						FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						WHERE CD_PESSOA = @CD_CODIGO
						AND CD_FUNCAO = 4
					
					END
				
				-- *************************************************************************
				-- É PRECISO MANTER A SENHA DE COLABORADOR
				-- *************************************************************************
				
				select @QTD_COLABORADOR = count(*)
				from TB_PESSOA_RESUMO WITH(NOLOCK)
				WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 3
				
				IF @QTD_COLABORADOR <> 0 -- JA EXISTE, ENTÃO TEMOS QUE MANTER A SENHA ANTIGA
					BEGIN
						select @DC_SENHA_COLABORADOR = DC_SENHA
						FROM TB_PESSOA_RESUMO WITH(NOLOCK)
						WHERE CD_PESSOA = @CD_CODIGO
						AND CD_FUNCAO = 3
					
					END
				
				IF (@ID_TIPO_DOCUMENTO1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_DOCUMENTO
							(CD_PESSOA,
							ID_TIPO_DOCUMENTO,
							DC_DOCUMENTO,
							DC_ORGAO,
							DT_EMISSAO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@CD_CODIGO,
							@ID_TIPO_DOCUMENTO1,
							@DC_DOCUMENTO1,
							@DC_ORGAO1,
							@DT_EMISSAO1,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
					END
				
				IF (@ID_TIPO_DOCUMENTO2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_DOCUMENTO
					(CD_PESSOA,
					ID_TIPO_DOCUMENTO,
					DC_DOCUMENTO,
					DC_ORGAO,
					DT_EMISSAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@CD_CODIGO,
					@ID_TIPO_DOCUMENTO2,
					@DC_DOCUMENTO2,
					@DC_ORGAO2,
					convert(date,@DT_EMISSAO2,103),
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
					
				IF (@ID_TIPO_DOCUMENTO3 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_DOCUMENTO
					(CD_PESSOA,
					ID_TIPO_DOCUMENTO,
					DC_DOCUMENTO,
					DC_ORGAO,
					DT_EMISSAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@CD_CODIGO,
					@ID_TIPO_DOCUMENTO3,
					@DC_DOCUMENTO3,
					@DC_ORGAO3,
					@DT_EMISSAO3,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
					
				IF (@ID_TIPO_EMAIL1 <> 0)	
					BEGIN			
						INSERT INTO TB_PESSOA_EMAIL
						(CD_PESSOA,
						ID_TIPO_EMAIL,
						DC_EMAIL,
						DT_CADASTRO,
						CD_USUARIO_CADASTRO,
						DT_ATUALIZACAO,
						CD_USUARIO_ATUALIZACAO)
					VALUES 
						(@CD_CODIGO,
						@ID_TIPO_EMAIL1,
						@DC_EMAIL1,
						GETDATE(),
						@CD_USUARIO,
						GETDATE(),
						@CD_USUARIO)
					END
				
				IF (@ID_TIPO_EMAIL2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_EMAIL
					(CD_PESSOA,
					ID_TIPO_EMAIL,
					DC_EMAIL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES 
					(@CD_CODIGO,
					@ID_TIPO_EMAIL2,
					@DC_EMAIL2,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
							
				IF (@CD_EST_GEOGRAFICA1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_ENDERECO
							(CD_PESSOA,
							ID_TIPO_ENDERECO,
							CD_EST_GEOGRAFICA,
							DC_CODIGO_POSTAL,
							DC_NUMERO,
							DC_COMPLEMENTO,
							DC_REFERENCIA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							ID_DADOS_DIGITADOS,
							DC_ESTRUTURA_GEO1,
							DC_ESTRUTURA_GEO2,
							DC_ESTRUTURA_GEO3,
							DC_ESTRUTURA_GEO4,
							DC_ESTRUTURA_GEO5,
							DC_NOME_ENDERECO
							)
						VALUES 
							(@CD_CODIGO,
							@ID_TIPO_ENDERECO1,
							@CD_EST_GEOGRAFICA1,
							@DC_CODIGO_POSTAL1,
							@DC_NUMERO1,
							@DC_COMPLEMENTO1,
							@DC_REFERENCIA1,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO,
							@ID_DADOS_DIGITADOS1,
							@DC_PAIS1,
							@DC_ESTADO1,
							@DC_CIDADE1,
							@DC_BAIRRO1,
							@DC_RUA1,
							@DC_NOME_ENDERECO1
							)
					END 
				
				IF (@CD_EST_GEOGRAFICA2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_ENDERECO
							(CD_PESSOA,
							ID_TIPO_ENDERECO,
							CD_EST_GEOGRAFICA,
							DC_CODIGO_POSTAL,
							DC_NUMERO,
							DC_COMPLEMENTO,
							DC_REFERENCIA,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO,
							ID_DADOS_DIGITADOS,
							DC_ESTRUTURA_GEO1,
							DC_ESTRUTURA_GEO2,
							DC_ESTRUTURA_GEO3,
							DC_ESTRUTURA_GEO4,
							DC_ESTRUTURA_GEO5,
							DC_NOME_ENDERECO
							)
						VALUES 
							(@CD_CODIGO,
							@ID_TIPO_ENDERECO2,
							@CD_EST_GEOGRAFICA2,
							@DC_CODIGO_POSTAL2,
							@DC_NUMERO2,
							@DC_COMPLEMENTO2,
							@DC_REFERENCIA2,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO,
							@ID_DADOS_DIGITADOS2,
							@DC_PAIS2,
							@DC_ESTADO2,
							@DC_CIDADE2,
							@DC_BAIRRO2,
							@DC_RUA2,
							@DC_NOME_ENDERECO2
							)
					END
					
				IF (@ID_TIPO_TELEFONE1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_TELEFONE 
					(CD_PESSOA,
					ID_TIPO_TELEFONE,
					DC_TELEFONE,
					DC_RAMAL,
					DC_CONTATO,
					ID_OPERADORA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@CD_CODIGO,
					@ID_TIPO_TELEFONE1,
					@DC_TELEFONE1,
					@DC_RAMAL1,
					@DC_CONTATO1,
					@ID_OPERADORA1,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END 
				
				IF (@ID_TIPO_TELEFONE2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_TELEFONE 
					(CD_PESSOA,
					ID_TIPO_TELEFONE,
					DC_TELEFONE,
					DC_RAMAL,
					DC_CONTATO,
					ID_OPERADORA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@CD_CODIGO,
					@ID_TIPO_TELEFONE2,
					@DC_TELEFONE2,
					@DC_RAMAL2,
					@DC_CONTATO2,
					@ID_OPERADORA2,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
				
				IF (@ID_TIPO_TELEFONE3 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_TELEFONE 
					(CD_PESSOA,
					ID_TIPO_TELEFONE,
					DC_TELEFONE,
					DC_RAMAL,
					DC_CONTATO,
					ID_OPERADORA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@CD_CODIGO,
					@ID_TIPO_TELEFONE3,
					@DC_TELEFONE3,
					@DC_RAMAL3,
					@DC_CONTATO3,
					@ID_OPERADORA3,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
					
				IF (@CD_REFERENCIA_BANCARIA1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_BANCARIA
					(CD_PESSOA,
					CD_REFERENCIA_BANCARIA,
					NM_BANCO,
					DC_BANCO,
					DC_AGENCIA,
					DC_CLIENTE_DESDE,
					ID_CONTA_ESPECIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@CD_CODIGO,
					@CD_REFERENCIA_BANCARIA1,
					@NM_BANCO1,
					@DC_BANCO1,
					@DC_AGENCIA1,
					@DC_CLIENTE_DESDE1,
					@ID_CONTA_ESPECIAL1,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END
					
				IF (@CD_REFERENCIA_BANCARIA2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_BANCARIA
					(CD_PESSOA,
					CD_REFERENCIA_BANCARIA,
					NM_BANCO,
					DC_BANCO,
					DC_AGENCIA,
					DC_CLIENTE_DESDE,
					ID_CONTA_ESPECIAL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES
					(@CD_CODIGO,
					@CD_REFERENCIA_BANCARIA2,
					@NM_BANCO2,
					@DC_BANCO2,
					@DC_AGENCIA2,
					@DC_CLIENTE_DESDE2,
					@ID_CONTA_ESPECIAL2,
					GETDATE(),
					@CD_USUARIO,
					GETDATE(),
					@CD_USUARIO)
					END 
					
				IF (@CD_REFERENCIA_PESSOAL1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_PESSOAL
							(CD_PESSOA,
							CD_REFERENCIA_PESSOAL,
							DC_NOME,
							DC_RELACAO,
							DC_TELEFONE,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@CD_CODIGO,
							@CD_REFERENCIA_PESSOAL1,
							@DC_NOME1,
							@DC_RELACAO1,
							@DC_TELEFONE_PESSOAL1,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
					END 
				
				IF (@CD_REFERENCIA_PESSOAL2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_PESSOAL
							(CD_PESSOA,
							CD_REFERENCIA_PESSOAL,
							DC_NOME,
							DC_RELACAO,
							DC_TELEFONE,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES
							(@CD_CODIGO,
							@CD_REFERENCIA_PESSOAL2,
							@DC_NOME2,
							@DC_RELACAO2,
							@DC_TELEFONE_PESSOAL2,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
					END
					
				IF (@CD_REFERENCIA_PROFISSIONAL1 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_PROFISSIONAL
							(CD_PESSOA,
							CD_REFERENCIA_PROFISSIONAL,
							DC_RAZAO_SOCIAL,
							ID_RAMO_ATIVIDADE,
							DC_TELEFONE,
							DC_RAMAL,
							DC_CONTATO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@CD_CODIGO,
							@CD_REFERENCIA_PROFISSIONAL1,
							@DC_RAZAO_SOCIAL1,
							@ID_RAMO_ATIVIDADE1,
							@DC_TELEFONE_PROFISSIONAL1,
							@DC_RAMAL_PROFISSIONAL1,
							@DC_CONTATO_PROFISSIONAL1,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
					END	
				
				IF (@CD_REFERENCIA_PROFISSIONAL2 <> 0)
					BEGIN
						INSERT INTO TB_PESSOA_REFERENCIA_PROFISSIONAL
							(CD_PESSOA,
							CD_REFERENCIA_PROFISSIONAL,
							DC_RAZAO_SOCIAL,
							ID_RAMO_ATIVIDADE,
							DC_TELEFONE,
							DC_RAMAL,
							DC_CONTATO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES 
							(@CD_CODIGO,
							@CD_REFERENCIA_PROFISSIONAL2,
							@DC_RAZAO_SOCIAL2,
							@ID_RAMO_ATIVIDADE2,
							@DC_TELEFONE_PROFISSIONAL2,
							@DC_RAMAL_PROFISSIONAL2,
							@DC_CONTATO_PROFISSIONAL2,
							GETDATE(),
							@CD_USUARIO,
							GETDATE(),
							@CD_USUARIO)
							
					END
				
				INSERT INTO TB_PESSOA_DADOS_BANCARIOS_PREMIACAO (
						CD_PESSOA,
						ID_TIPO_PESSOA,
						DC_NOME,
						DC_DOCUMENTO,
						ID_TIPO_CONTA_DESTINO,
						CD_BANCO,
						DC_AGENCIA,
						DC_CONTA,
						DC_INSS,
						DC_PIX)
					VALUES (
						@CD_CODIGO,
						@ID_TIPO_PESSOA_PREMIACAO,
						@DC_NOME_PREMIACAO,
						@DC_DOCUMENTO_PREMIACAO,
						@ID_TIPO_CONTA_DESTINO_PREMIACAO,
						@CD_BANCO_PREMIACAO,
						@DC_AGENCIA_PREMIACAO,
						@DC_CONTA_PREMIACAO,
						@DC_INSS,
						@DC_PIX)
					
				IF (@ID_FUNCAO_CONSUMIDOR <> 0)
					BEGIN
						
						-- ************************************************************************
						-- DELETA REGISTROS DA FUNÇÃO CONSUMIDOR FINAL
						-- APENAS DELETA SE NAO TIVER NENHUM REGISTRO NA TABELA DE ALOCACAO DE REDE
						-- ************************************************************************
						SELECT @QTD_ALOCACAO_CF = count(*)
						FROM TB_ALOCACAO_REDE WITH(NOLOCK)
						WHERE CD_PESSOA = @CD_CODIGO
						AND CD_FUNCAO = 1
				
						IF @QTD_ALOCACAO_CF = 0 -- NAO TEM NENHUM REGISTRO DE ALOCAÇÃO ENTÃO PODE APAGAR
							BEGIN
								DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 1
								DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 1
							END


						--DT_FIM,
						IF @QTD_ALOCACAO_CF = 0
							BEGIN
								DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 1
								DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 1
						
								INSERT INTO TB_PESSOA_FUNCAO
									(CD_PESSOA,
									CD_FUNCAO,
									ID_SITUACAO_FUNCAO,
									DT_INICIO,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO)
								VALUES 
									(@CD_CODIGO,
									@ID_FUNCAO_CONSUMIDOR,
									@ID_SITUACAO_FUNCAO_CONSUMIDOR,
									@DT_INICIO_FUNCAO_CONSUMIDOR,
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO)
								SELECT @ID_PERMITE_CAPTACAO_PEDIDO = ID_PERMITE_CAPTACAO_PEDIDOS
								  FROM TB_FUNCAO WITH(NOLOCK) WHERE CD_FUNCAO = @ID_FUNCAO_CONSUMIDOR
						  
								IF @ID_PERMITE_CAPTACAO_PEDIDO = 1
									BEGIN	
										INSERT INTO TB_PESSOA_RESUMO (
											CD_PESSOA,
											CD_FUNCAO,
											DT_CADASTRO_PESSOA,
											VL_SALDO_FAVOR,
											VL_SALDO_FAVOR_PENDENTE,
											VL_SALDO_DEVEDOR,
											VL_CREDITO_TOTAL,
											VL_CREDITO_VENCIDO,
											VL_CREDITO_A_VENCER,
											VL_CREDITO_A_FATURAR,
											VL_CREDITO_DISPONIVEL,
											CD_PESSOA_VINCULADA,
											CD_PAPEL_CARREIRA,
											CD_PAPEL_DESEMPENHO,
											DT_CADASTRO,
											CD_USUARIO_CADASTRO,
											DT_ATUALIZACAO,
											CD_USUARIO_ATUALIZACAO,
											DC_SENHA,
											ID_ACESSA_SISTEMA,
											ID_ACESSA_LOJA_VIRTUAL)
									
										VALUES
											(@CD_CODIGO,
											@ID_FUNCAO_CONSUMIDOR,
											GETDATE(),
											0,
											0,
											0,
											0,
											0,
											0,
											0,
											0,
											0,
											@CD_PAPEL_CARREIRA_BASE_CF,
											@CD_PAPEL_DESEMPENHO_BASE_CF,
											GETDATE(),
											@CD_USUARIO,
											GETDATE(),
											@CD_USUARIO,
											@DC_SENHA_CONSUMIDOR,
											1,
											1)

										-- VAMOS VALIDAR SE O E-MAIL FOI ALTERADO, EM CASO POSITIVO IREMOS ENVIAR OS DADOS DE ACESSO NOVAMENTE
										if @v_dcEmailAtual <> @DC_EMAIL1
											begin
												-- **********************************
												-- VAMOS ENVIAR OS DADOS DE ACESSO POR EMAIL
												-- **********************************
		
												EXEC dbo.pr_PessoaEnviarEmailCadastro @CD_CODIGO,			--@p_cdPessoa 
																					  27,					--	@p_cdEvento	27 - cadastro CF
																					  @VAR_RETORNO  OUTPUT, --@p_codigoErro
																					  @DC_ERRO OUTPUT,		--@p_descricaoErro
																					  @QT_LINHAS_AFETADAS  OUTPUT	--@p_linhasAfetadas
											end	
									end
	
							END
					END	
				
				IF (@ID_FUNCAO_CONSULTORA <> 0)
					BEGIN

						-- ************************************************************************
						-- DELETA REGISTROS DA FUNÇÃO REVENDEDORA
						-- APENAS DELETA SE NAO TIVER NENHUM REGISTRO NA TABELA DE ALOCACAO DE REDE
						-- ************************************************************************
						SELECT @QTD_ALOCACAO_CN = count(*)
						FROM TB_ALOCACAO_REDE WITH(NOLOCK)
						WHERE CD_PESSOA = @CD_CODIGO
						AND CD_FUNCAO = 2
				
						IF @QTD_ALOCACAO_CN = 0 -- NAO TEM NENHUM REGISTRO DE ALOCAÇÃO ENTÃO PODE APAGAR
							BEGIN
								DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 2
								DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 2
							END
						
						IF @QTD_ALOCACAO_CN = 0 -- NAO TEM NENHUM REGISTRO DE ALOCAÇÃO ENTÃO PODE APAGAR
							
							BEGIN
								INSERT INTO TB_PESSOA_FUNCAO
									(CD_PESSOA,
									CD_FUNCAO,
									ID_SITUACAO_FUNCAO,
									DT_INICIO,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO)
								VALUES 
									(@CD_CODIGO,
									@ID_FUNCAO_CONSULTORA,
									@ID_SITUACAO_FUNCAO_CONSULTORA,
									@DT_INICIO_FUNCAO_CONSULTORA,
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO)
							
								-- INSERE NA TABELA TB_PESSOA_RESUMO
								INSERT INTO TB_PESSOA_RESUMO (
									CD_PESSOA,
									CD_FUNCAO,
									DT_CADASTRO_PESSOA,
									VL_SALDO_FAVOR,
									VL_SALDO_FAVOR_PENDENTE,
									VL_SALDO_DEVEDOR,
									VL_CREDITO_TOTAL,
									VL_CREDITO_VENCIDO,
									VL_CREDITO_A_VENCER,
									VL_CREDITO_A_FATURAR,
									VL_CREDITO_DISPONIVEL,
									CD_PESSOA_VINCULADA,
									CD_PAPEL_CARREIRA,
									CD_PAPEL_DESEMPENHO,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO,
									DC_SENHA,
									ID_ACESSA_SISTEMA,
									ID_ACESSA_LOJA_VIRTUAL,
									ID_PADRAO_DIRECAO_REDE_BINARIA,
									ID_DIRECAO_REDE_BINARIA,
									ID_DIRECAO_REDE_LINEAR
									)
								VALUES
									(@CD_CODIGO,
									@ID_FUNCAO_CONSULTORA,
									GETDATE(),
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO,
									@DC_SENHA_CONSULTORA,
									1,
									@LIBERA_ACESSO_EV,
									@ID_DIRECAO_PADRAO_REDE_BINARIA,
									@ID_DIRECAO_REDE_BINARIA,
									@ID_DIRECAO_REDE_LINEAR)
							END
							
						 ELSE
						     BEGIN
								 UPDATE TB_PESSOA_RESUMO SET ID_PADRAO_DIRECAO_REDE_BINARIA = @ID_DIRECAO_PADRAO_REDE_BINARIA,
								 ID_DIRECAO_REDE_BINARIA = @ID_DIRECAO_REDE_BINARIA, ID_DIRECAO_REDE_LINEAR = @ID_DIRECAO_REDE_LINEAR
								 WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 2																				
							 END 
						
						-- VAMOS VALIDAR SE O E-MAIL FOI ALTERADO, EM CASO POSITIVO IREMOS ENVIAR OS DADOS DE ACESSO NOVAMENTE
						if @v_dcEmailAtual <> @DC_EMAIL1
							begin
								-- **********************************
								-- VAMOS ENVIAR OS DADOS DE ACESSO POR EMAIL
								-- **********************************

								EXEC dbo.pr_PessoaEnviarEmailCadastro @CD_CODIGO,			--@p_cdPessoa 
																		1,					--	@p_cdEvento	1 - cadastro revendedor
																		@VAR_RETORNO  OUTPUT, --@p_codigoErro
																		@DC_ERRO OUTPUT,		--@p_descricaoErro
																		@QT_LINHAS_AFETADAS  OUTPUT	--@p_linhasAfetadas
							end	
				    END
						 
				IF (@ID_FUNCAO_FORCA_VENDAS <> 0)
					BEGIN

						-- ************************************************************************
						-- DELETA REGISTROS DA FUNÇÃO FORÇA DE VENDAS
						-- APENAS DELETA SE NAO TIVER NENHUM REGISTRO NA TABELA DE ALOCACAO DE REDE
						-- ************************************************************************
						SELECT @QTD_ALOCACAO_FV = count(*)
						FROM TB_ALOCACAO_REDE WITH(NOLOCK)
						WHERE CD_PESSOA = @CD_CODIGO
						AND CD_FUNCAO = 4
				
						IF @QTD_ALOCACAO_FV = 0 -- NAO TEM NENHUM REGISTRO DE ALOCAÇÃO ENTÃO PODE APAGAR
							BEGIN
								DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 4
								DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 4
														
								INSERT INTO TB_PESSOA_FUNCAO
									(CD_PESSOA,
									CD_FUNCAO,
									ID_SITUACAO_FUNCAO,
									DT_INICIO,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO)
								VALUES 
									(@CD_CODIGO,
									@ID_FUNCAO_FORCA_VENDAS,
									@ID_SITUACAO_FUNCAO_FORCA_VENDAS,
									@DT_INICIO_FUNCAO_FORCA_VENDAS,
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO)
							
								-- INSERE NA TABELA TB_PESSOA_RESUMO
								INSERT INTO TB_PESSOA_RESUMO (
									CD_PESSOA,
									CD_FUNCAO,
									DT_CADASTRO_PESSOA,
									VL_SALDO_FAVOR,
									VL_SALDO_FAVOR_PENDENTE,
									VL_SALDO_DEVEDOR,
									VL_CREDITO_TOTAL,
									VL_CREDITO_VENCIDO,
									VL_CREDITO_A_VENCER,
									VL_CREDITO_A_FATURAR,
									VL_CREDITO_DISPONIVEL,
									CD_PESSOA_VINCULADA,
									CD_PAPEL_CARREIRA,
									CD_PAPEL_DESEMPENHO,
									DC_SENHA,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO,
									ID_ACESSA_SISTEMA,
									ID_ACESSA_LOJA_VIRTUAL)
								VALUES
									(@CD_CODIGO,
									@ID_FUNCAO_FORCA_VENDAS,
									GETDATE(),
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									@DC_SENHA_FORCA_VENDAS,
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO,
									1,
									1)
							END
					
						--ANTES DE INSERIR DEVEMOS APAGAR AS INFORMAÇÕES REFERENTE A FUNÇÃO FV
						--DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 4
						--DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 4
						--DT_FIM,

						

					END
				
				IF (@ID_FUNCAO_COLABORADOR <> 0)
					BEGIN

						DELETE FROM TB_PESSOA_COLABORADOR WHERE CD_PESSOA = @CD_CODIGO
												
						INSERT INTO TB_PESSOA_COLABORADOR
							(CD_PESSOA,
							CD_EMPRESA,
							DT_ADMISSAO,
							DT_DESLIGAMENTO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO)
						VALUES 
							(@CD_CODIGO,
							@CD_EMPRESA,
							@DT_ADMISSAO,
							@DT_DESLIGAMENTO,
							GETDATE(),
							@CD_USUARIO)

						-- ************************************************************************
						-- DELETA REGISTROS DA FUNÇÃO COLABORADOR
						-- APENAS DELETA SE NAO TIVER NENHUM REGISTRO NA TABELA DE ALOCACAO DE REDE
						-- ************************************************************************
						SELECT @QTD_ALOCACAO_CO = count(*)
						FROM TB_ALOCACAO_REDE WITH(NOLOCK)
						WHERE CD_PESSOA = @CD_CODIGO
						AND CD_FUNCAO = 3
				
						IF @QTD_ALOCACAO_CO = 0 -- NAO TEM NENHUM REGISTRO DE ALOCAÇÃO ENTÃO PODE APAGAR
							BEGIN
								DELETE FROM TB_PESSOA_FUNCAO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 3
								DELETE FROM TB_PESSOA_RESUMO WHERE CD_PESSOA = @CD_CODIGO AND CD_FUNCAO = 3
					
								INSERT INTO TB_PESSOA_FUNCAO
									(CD_PESSOA,
									CD_FUNCAO,
									ID_SITUACAO_FUNCAO,
									DT_INICIO,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO)
								VALUES 
									(@CD_CODIGO,
									@ID_FUNCAO_COLABORADOR,
									@ID_SITUACAO_FUNCAO_COLABORADOR,
									@DT_INICIO_FUNCAO_COLABORADOR,
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO)
						
								-- INSERE NA TABELA TB_PESSOA_RESUMO
								INSERT INTO TB_PESSOA_RESUMO (
									CD_PESSOA,
									CD_FUNCAO,
									DT_CADASTRO_PESSOA,
									VL_SALDO_FAVOR,
									VL_SALDO_FAVOR_PENDENTE,
									VL_SALDO_DEVEDOR,
									VL_CREDITO_TOTAL,
									VL_CREDITO_VENCIDO,
									VL_CREDITO_A_VENCER,
									VL_CREDITO_A_FATURAR,
									VL_CREDITO_DISPONIVEL,
									CD_PESSOA_VINCULADA,
									CD_PAPEL_CARREIRA,
									CD_PAPEL_DESEMPENHO,
									DC_SENHA,
									DT_CADASTRO,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO,
									ID_ACESSA_SISTEMA,
									ID_ACESSA_LOJA_VIRTUAL)
								VALUES
									(@CD_CODIGO,
									@ID_FUNCAO_COLABORADOR,
									GETDATE(),
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									0,
									@DC_SENHA_COLABORADOR,
									GETDATE(),
									@CD_USUARIO,
									GETDATE(),
									@CD_USUARIO,
									1,
									1)
							
							END

					
											
							
					END
					
				COMMIT TRANSACTION
				
				-- *****************************************************
				-- NA EDIÇÃO VAMOS APENAS CRIAR O FLUXO NOVAMENTE SE A PESSOA
				-- AINDA ESTIVER COMO INTENÇÃO DE REVENDA OU REPROVADA
				-- EM CASO POSITIVO VAMOS SEGUIR O FLUXO ABAIXO
				-- PRIMEIRO FECHAR TODAS AS ETAPAS DO AGUARDANDO APROVAÇÃO
				-- VAMOS GRAVAR A SITUAÇÃO DO CADASTRO
				-- SE NECESSITA DE APROVAÇÃO IREMOS GRAVAR A SITUAÇÃO 3 - AGUARDANDO APROVAÇÃO
				-- SENAO NECESSITA DE APROVAÇÃO VAMOS GRAVAR 4 - ATIVO
				-- ESSE FLUXO DE APROVAÇÃO É SOMENTE PARA REVENDEDORA
				-- PARA OUTRAS FUNÇÕES VAMOS GRAVAR 4 - ATIVO
				-- *****************************************************

		
				-- É CONSULTORA
				IF (@ID_FUNCAO_CONSULTORA <> 0)
					BEGIN
						IF @SITUACAO_COMERCIAL = 99 or @cd_situacao_cadastro = 5 --INTENÇÃO DE REVENDA OU REPROVADO
							BEGIN
							
								-- NECESSITA APROVAÇÃO
								IF (@NECESSITA_FLUXO_APROVACAO = 1)
									BEGIN

										-- FINALIZA A SITUAÇÃO EM EDIÇÃO
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											2,	-- EM EDIÇÃO
											2, -- FIM	
											0,	-- RESULTADO
											'', -- MOTIVO
											0,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT


										-- ABRE A SITUAÇÃO Analise da Documentação
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											31,	-- Analise da Documentação
											1, -- INICIO	
											0,	-- RESULTADO
											'', -- MOTIVO
											0,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT


										-- ABRE A SITUAÇÃO Analise dos Dados Cadastrais
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											32,	-- Analise dos Dados Cadastrais
											1, -- INICIO	
											0,	-- RESULTADO
											'', -- MOTIVO
											0,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT


								
										-- ABRE A SITUAÇÃO Analise de Crédito
										-- ALTERAÇÃO FEITA POR ANDERSON - 21/03/2024
										-- NA EDIÇÃO NÃO EXISTE NENHUM TRATAMENTO PARA A INTEGRAÇÃO DO SERASA
										-- ENTRETANTO COMO ESTAMOS INSERINDO NOVOS REGISTROS NO HISTORICO TEMOS QUE 
										-- MANTER A SITUAÇÁO QUE ESTAVA ANTES, CASO CONTRARIO FICARA COM ZERO OU VAZIO E PODE
										-- IMPACTAR O FLUXO DE ANALISE DO CADASTRO
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											33,	-- Analise de Crédito
											1, -- INICIO	
											0,	-- RESULTADO
											@V_DC_MOTIVO_ANTERIOR, -- MOTIVO
											@V_ID_POSSUI_RESTRICAO_CREDITO_ANTERIOR,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT
																												

										-- GRAVA A SITUACAO DE CADASTRO AGUARDANDO APROVAÇÃO
										UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 3
										WHERE CD_PESSOA = @CD_CODIGO

										-- GRAVA A SITUACAO COMERCIAL INTENÇÃO DE REVENDA
										UPDATE TB_PESSOA_RESUMO SET CD_SITUACAO_COMERCIAL = 99
										WHERE CD_PESSOA = @CD_CODIGO
							END
								ELSE
									BEGIN
										-- GRAVA SITUAÇÃO DE CADASTRO ATIVA
										UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4
										WHERE CD_PESSOA = @CD_CODIGO

										-- FINALIZA A SITUAÇÃO EM CADASTRO
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											2,	-- EM EDIÇÃO
											2, -- FIM	
											0,	-- RESULTADO
											'', -- MOTIVO
											0,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT

										-- ABRE A SITUAÇÃO ATIVA
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											4,	-- ATIVA
											1, -- INICIO	
											0,	-- RESULTADO
											'', -- MOTIVO
											0,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT

									END

							END
						ELSE
							BEGIN

								-- **********************************************************
								-- Correção por Diego Zilioti em 13/09/2019
								-- Precisamos acertar a situação cadastro caso ela esteja igual a 2 - em edição
								-- ***********************************************************
								IF @cd_situacao_cadastro = 2
									BEGIN
										select top 1 @cd_situacao_cadastro =  CD_SITUACAO_CADASTRO 
										  from TB_PESSOA_HISTORICO_SITUACAO_CADASTRO WITH(NOLOCK)
										 where CD_PESSOA = @CD_CODIGO
										   and CD_SITUACAO_CADASTRO <> 2 order by DT_CADASTRO desc
									END
										
								UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = @cd_situacao_cadastro
								WHERE CD_PESSOA = @CD_CODIGO

								-- FINALIZA A SITUAÇÃO EM CADASTRO
								EXEC pr_PessoaGravaHistoricoSituacaoCadastro
									@CD_CODIGO, -- CODIGO DA PESSOA
									2,	-- EM EDIÇÃO
									2, -- FIM	
									0,	-- RESULTADO
									'', -- MOTIVO
									0,	-- POSSUI RESTRICAO
									@CD_USUARIO,
									@VAR_RETORNO  OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS  OUTPUT

								IF @cd_situacao_cadastro = 3 -- NESTE CASO SE A PESSOA AINDA ESTAVA EM FASE DE APROVAÇÃO VAMOS ABRIR NOVAMENTE AS ETAPAS DE ANÁLISE
									BEGIN
										-- ABRE A SITUAÇÃO Analise da Documentação
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											31,	-- Analise da Documentação
											1, -- INICIO	
											0,	-- RESULTADO
											'', -- MOTIVO
											0,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT


										-- ABRE A SITUAÇÃO Analise dos Dados Cadastrais
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											32,	-- Analise dos Dados Cadastrais
											1, -- INICIO	
											0,	-- RESULTADO
											'', -- MOTIVO
											0,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT


										-- ABRE A SITUAÇÃO Analise de Crédito
										-- ALTERAÇÃO FEITA POR ANDERSON - 21/03/2024
										-- NA EDIÇÃO NÃO EXISTE NENHUM TRATAMENTO PARA A INTEGRAÇÃO DO SERASA
										-- ENTRETANTO COMO ESTAMOS INSERINDO NOVOS REGISTROS NO HISTORICO TEMOS QUE 
										-- MANTER A SITUAÇÁO QUE ESTAVA ANTES, CASO CONTRARIO FICARA COM ZERO OU VAZIO E PODE
										-- IMPACTAR O FLUXO DE ANALISE DO CADASTRO
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											33,	-- Analise de Crédito
											1, -- INICIO	
											0,	-- RESULTADO
											@V_DC_MOTIVO_ANTERIOR, -- MOTIVO
											@V_ID_POSSUI_RESTRICAO_CREDITO_ANTERIOR,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT

									END
								ELSE
									BEGIN
										-- ABRE A SITUAÇÃO ATIVA
										EXEC pr_PessoaGravaHistoricoSituacaoCadastro
											@CD_CODIGO, -- CODIGO DA PESSOA
											@cd_situacao_cadastro,	
											1, -- INICIO	
											0,	-- RESULTADO
											'', -- MOTIVO
											0,	-- POSSUI RESTRICAO
											@CD_USUARIO,
											@VAR_RETORNO  OUTPUT,
											@DC_ERRO OUTPUT,
											@QT_LINHAS_AFETADAS  OUTPUT
									END
							END

					END
				ELSE
					-- NÃO É CONSULTORA
					BEGIN
						UPDATE TB_PESSOA SET CD_SITUACAO_CADASTRO = 4
						WHERE CD_PESSOA = @CD_CODIGO

						-- FINALIZA A SITUAÇÃO EM EDIÇÃO
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@CD_CODIGO, -- CODIGO DA PESSOA
							2,	-- EM EDIÇÃO
							2, -- FIM	
							0,	-- RESULTADO
							'', -- MOTIVO
							0,	-- POSSUI RESTRICAO
							@CD_USUARIO,
							@VAR_RETORNO  OUTPUT,
							@DC_ERRO OUTPUT,
							@QT_LINHAS_AFETADAS  OUTPUT

						-- ABRE A SITUAÇÃO ATIVA
						EXEC pr_PessoaGravaHistoricoSituacaoCadastro
							@CD_CODIGO, -- CODIGO DA PESSOA
							4,	-- ATIVA
							1, -- INICIO	
							0,	-- RESULTADO
							'', -- MOTIVO
							0,	-- POSSUI RESTRICAO
							@CD_USUARIO,
							@VAR_RETORNO  OUTPUT,
							@DC_ERRO OUTPUT,
							@QT_LINHAS_AFETADAS  OUTPUT

					END

				
				-- ***************************************************************
				-- FIM DO FLUXO DE APROVAÇÃO
				-- ***************************************************************


				-- ***********************************************************************				
				-- VERIFICA SE DEVEMOS OU NÃO ALOCAR A PESSOA NA REDE 
				-- ***********************************************************************
				
				IF (@ID_FUNCAO_CONSULTORA <> 0)	and (@QTD_ALOCACAO_CN = 0)
					BEGIN
					
						EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
							@CD_CODIGO,
							@CD_PESSOA_INDICANTE,
							2,
							@V_CRIA_ALOCACAO						output,	-- 1 para sim e 2 para não
							@V_CICLO_ALOCACAO_AUTOMATICO			output, 
							@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO	output, 
							0,
							'',
							0
						
							
						IF @V_CRIA_ALOCACAO = 1
							BEGIN
							
								-- ****************************************************
								-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
								-- *******************************************************************
								SELECT @V_QTD_REGISTROS = COUNT(*)
								FROM TB_ALOCACAO_REDE WITH(NOLOCK)
								WHERE CD_PESSOA = @CD_CODIGO
								AND NM_CICLO = @V_CICLO_ALOCACAO_AUTOMATICO
								AND CD_FUNCAO = 2
							
								IF @V_QTD_REGISTROS = 0							
									BEGIN
										EXEC pr_PessoaGeraAlocacaoRede
												@CD_CODIGO,
												2,
												@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
												@V_CICLO_ALOCACAO_AUTOMATICO,
												@CD_USUARIO,

												0,
												'',
												0
									END
							END -- FIM DO @V_CRIA_ALOCACAO = 1
							
						IF @V_PESSOA_INDICANTE = 0
							BEGIN
								
								--BUSCA O CICLO ATUAL DA PESSOA PARA GRAVAR O VÍNCULO
								SELECT @NM_CICLO_ATUAL = NM_CICLO_ATUAL
								FROM TB_PESSOA_RESUMO WITH(NOLOCK)
								WHERE CD_PESSOA = @CD_CODIGO
								AND CD_FUNCAO = 2
								
								--NESTE CASO O CÓDIGO DE INDICANTE FOI INFORMADO APÓS O CADASTRO, PORTANTO DEVEMOS GRAVAR O VÍNCULO PARA GERAR A REDE
								EXEC pr_PessoaInsereVinculo 
									@CD_CODIGO,
									2,
									@NM_CICLO_ATUAL,
									@VAR_RETORNO OUTPUT,
									@DC_ERRO OUTPUT,
									@QT_LINHAS_AFETADAS OUTPUT
							END										
					END -- FIM (@ID_FUNCAO_CONSULTORA <> 0)	 
					
				IF (@ID_FUNCAO_CONSUMIDOR <> 0)	and (@QTD_ALOCACAO_CF = 0)
					BEGIN
					
						SELECT @V_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE
						
						EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
							@CD_CODIGO,
							@V_PESSOA_INDICANTE,
							1,
							@V_CRIA_ALOCACAO						output,	-- 1 para sim e 2 para não
							@V_CICLO_ALOCACAO_AUTOMATICO			output, 
							@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO	output, 
							0,
							'',
							0
						
							
						IF @V_CRIA_ALOCACAO = 1
							BEGIN
							
								-- ****************************************************
								-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
								-- *******************************************************************
								SELECT @V_QTD_REGISTROS = COUNT(*)
								FROM TB_ALOCACAO_REDE WITH(NOLOCK)
								WHERE CD_PESSOA = @CD_CODIGO
								AND NM_CICLO = @V_CICLO_ALOCACAO_AUTOMATICO
								AND CD_FUNCAO = 1
							
								IF @V_QTD_REGISTROS = 0							
									BEGIN
										EXEC pr_PessoaGeraAlocacaoRede
												@CD_CODIGO,
												1,
												@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
												@V_CICLO_ALOCACAO_AUTOMATICO,
												@CD_USUARIO,

												0,
												'',
												0
									END
							END -- FIM DO @V_CRIA_ALOCACAO = 1
																	
					END -- FIM (@ID_FUNCAO_CONSUMIDOR <> 0)	 

				IF (@ID_FUNCAO_COLABORADOR <> 0) and (@QTD_ALOCACAO_CO = 0)
					BEGIN
					
						SELECT @V_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE
						
						EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
							@CD_CODIGO,
							@V_PESSOA_INDICANTE,
							3,
							@V_CRIA_ALOCACAO						output,	-- 1 para sim e 2 para não
							@V_CICLO_ALOCACAO_AUTOMATICO			output, 
							@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO	output, 
							0,
							'',
							0
						
							
						IF @V_CRIA_ALOCACAO = 1
							BEGIN
							
								-- ****************************************************
								-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
								-- *******************************************************************
								SELECT @V_QTD_REGISTROS = COUNT(*)
								FROM TB_ALOCACAO_REDE WITH(NOLOCK)
								WHERE CD_PESSOA = @CD_CODIGO
								AND NM_CICLO = @V_CICLO_ALOCACAO_AUTOMATICO
								AND CD_FUNCAO = 3
							
								IF @V_QTD_REGISTROS = 0							
									BEGIN
										EXEC pr_PessoaGeraAlocacaoRede
												@CD_CODIGO,
												3,
												@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
												@V_CICLO_ALOCACAO_AUTOMATICO,
												@CD_USUARIO,

												0,
												'',
												0
									END
							END -- FIM DO @V_CRIA_ALOCACAO = 1
																	
					END -- FIM (@ID_FUNCAO_COLABORADOR<> 0)	 

				IF (@ID_FUNCAO_COLABORADOR <> 0) and (@QTD_ALOCACAO_FV = 0)
					BEGIN
					
						SELECT @V_PESSOA_INDICANTE = @CD_PESSOA_INDICANTE
						
						EXEC pr_PessoaAnalisaAlocacaoAutomaticaRede
							@CD_CODIGO,
							@V_PESSOA_INDICANTE,
							4,
							@V_CRIA_ALOCACAO						output,	-- 1 para sim e 2 para não
							@V_CICLO_ALOCACAO_AUTOMATICO			output, 
							@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO	output, 
							0,
							'',
							0
						
							
						IF @V_CRIA_ALOCACAO = 1
							BEGIN
							
								-- ****************************************************
								-- VERIFICA SE JA EXISTE AUMA ALOCAÇÃO PARA ESSE CICLO
								-- *******************************************************************
								SELECT @V_QTD_REGISTROS = COUNT(*)
								FROM TB_ALOCACAO_REDE WITH(NOLOCK)
								WHERE CD_PESSOA = @CD_CODIGO
								AND NM_CICLO = @V_CICLO_ALOCACAO_AUTOMATICO
								AND CD_FUNCAO = 4
							
								IF @V_QTD_REGISTROS = 0							
									BEGIN
										EXEC pr_PessoaGeraAlocacaoRede
												@CD_CODIGO,
												4,
												@V_EST_COMERCIAL_ALOCACAO_AUTOMATICO,
												@V_CICLO_ALOCACAO_AUTOMATICO,
												@CD_USUARIO,

												0,
												'',
												0
									END
							END -- FIM DO @V_CRIA_ALOCACAO = 1
																	
					END -- FIM (@ID_FUNCAO_COLABORADOR<> 0)	 

					
					-- ***************************************************************
					-- FIM  DA ALOCAÇÃO AUTOMATICA
					-- ***************************************************************
								
				SELECT @DC_ERRO = 'Pessoa física com código ' + CONVERT(varchar(12), @CD_CODIGO) + ' foi alterada com exito.'
		
			END

		-- ************************************************************
		-- INSERÇÃO DA INFORMAÇÃO NA FILA DE INTEGRAÇÃO DA API ATSVD
		-- A PROCEDURE IRÁ INSERIR O REGISTRO NA FILA DA API CASO ELA ESTEJA ATIVA
		-- ************************************************************
		DECLARE @v_descUsuario varchar(18)

		SELECT @v_descUsuario = CONVERT(VARCHAR(18),@CD_USUARIO)

		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				EXEC dbo.pr_ApiInsereItemFilaApi 1, --Código da fila de pessoas
												 @Identity, -- CÓDIGO DA PESSOA
												 'I', --INSERÇÃO
												 @v_descUsuario, --USUÁRIO
												 0,
												 '',
												 0
			END
		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				EXEC dbo.pr_ApiInsereItemFilaApi 1, --Código da fila de pessoas
												 @CD_CODIGO, -- CÓDIGO DA PESSOA
												 'A', --ATUALIZAÇÃO
												 @v_descUsuario, --USUÁRIO
												 0,
												 '',
												 0
			END
		
										 

		-- ***********************************************************************
		-- ALTERADO POR ANDERSON - 05/02/2020
		-- VAMOS VERIFICAR SE EXISTE UMA INTEGRAÇÃO DE CADASTRO DE REVENDEDOR 
		-- EM CASO POSITIVO VAMOS GRAVAR NA TABELA TB_PESSOA A COLUNA ID_SITUACAO_INTEGRACAO = 1
		-- NÃO TERIA PROBLEMA EM SUBIR EM TODOS OS BANCOS POIS CASO NAO TENHA INTEGRAÇÃO NÃO GRAVA A INFORMAÇÃO
		-- ***********************************************************************
		SELECT @V_POSSUI_INT_PESSOA = COUNT(*)
		FROM TB_INTEGRACAO A WITH(NOLOCK), TB_SERVICO_EXTERNO B WITH(NOLOCK)
		WHERE A.CD_SERVICO_EXTERNO = B.CD_SERVICO_EXTERNO
		AND ID_TIPO_INTEGRACAO = 1
		AND B.ID_SITUACAO = 1

		IF @V_POSSUI_INT_PESSOA > 0
			BEGIN
				IF @VAR_TIPO_FUNCAO = 'I'
					BEGIN
						UPDATE TB_PESSOA SET ID_SITUACAO_INTEGRACAO = 1
						WHERE CD_PESSOA = @Identity
					END

				IF @VAR_TIPO_FUNCAO = 'A'
					BEGIN
						UPDATE TB_PESSOA SET ID_SITUACAO_INTEGRACAO = 1
						WHERE CD_PESSOA = @CD_CODIGO
					END
			END
		-- ***********************************************************************
		-- FIM
		-- ***********************************************************************

		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
