SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_CashUAtualizaLimiteCredito]    
(    
    @cdPessoa NUMERIC(18, 0),    
    @cdFuncao NUMERIC(18, 0),    
    @qtDiasLimiteCredito INT,    
    @vlCreditoTotal NUMERIC(18,2),    
    @vlCreditoDisponivel NUMERIC(18,2),  
    @idBloqueadoParaCredito BIT,  
    @cdWebhookRequest INT  
)    
AS    
BEGIN    
    SET NOCOUNT ON;    
    
    DECLARE @DT_HOJE DATE = CONVERT(DATE, GETDATE());    
    DECLARE @DT_LIMITE DATE;  
    DECLARE @ID_CAPTACAO_BLOQUEADA_ATUAL BIT;  
        
    DECLARE @CD_USUARIO_ATUALIZACAO NUMERIC(18,0) = 0;    
    DECLARE @CD_MOTIVO_ATUALIZACAO INT = 2; -- ATUALIZAÇÃO AUTOMÁTICA    
    
    SET @DT_LIMITE = DATEADD(DAY, @qtDiasLimiteCredito, @DT_HOJE);    
      
    -- Obter o valor atual do bloqueio de captação  
    SELECT @ID_CAPTACAO_BLOQUEADA_ATUAL = ISNULL(ID_CAPTACAO_BLOQUEADA_POR_INTEGRACAO, 0)  
    FROM TB_PESSOA_RESUMO  
    WHERE CD_PESSOA = @cdPessoa  
    AND CD_FUNCAO = @cdFuncao;  
  
    INSERT INTO TB_PESSOA_LIMITE_CREDITO    
    (    
        CD_PESSOA,    
        CD_FUNCAO,    
        DT_LIMITE_CREDITO,    
        VL_CREDITO,    
        ID_MOTIVO_ATUALIZACAO_LIMITE,    
        DC_JUSTIFICATIVA_LIMITE,    
        DT_INICIO_LIMITE_CREDITO,    
        DT_TERMINO_LIMITE_CREDITO,    
        DT_CADASTRO,    
        CD_USUARIO_CADASTRO,    
        DT_ATUALIZACAO,    
        CD_USUARIO_ATUALIZACAO,
		QT_DIAS_VALIDADE_CREDITO
    )    
    VALUES    
    (    
        @cdPessoa,    
        @cdFuncao,    
        GETDATE(),    
        @vlCreditoDisponivel,    
        @CD_MOTIVO_ATUALIZACAO,    
        'Atualizado via Webhook CashU',    
        GETDATE(),    
        @DT_LIMITE,    
        GETDATE(),    
        @CD_USUARIO_ATUALIZACAO,    
        GETDATE(),    
        @CD_USUARIO_ATUALIZACAO,
		@qtDiasLimiteCredito
    );    
    
    -- Atualizar informações de crédito e bloqueio  
    UPDATE TB_PESSOA_RESUMO     
    SET VL_CREDITO_TOTAL = @vlCreditoTotal,    
        VL_CREDITO_DISPONIVEL = @vlCreditoDisponivel,    
        VL_CREDITO_A_VENCER = @vlCreditoTotal - @vlCreditoDisponivel,    
		QT_DIAS_VALIDADE_CREDITO = @qtDiasLimiteCredito, -- #9559 - o controle de validade do crédito CashU agora passa a ser uma qtd fixa de dias
        ID_CAPTACAO_BLOQUEADA_POR_INTEGRACAO = @idBloqueadoParaCredito  
    WHERE CD_PESSOA = @cdPessoa    
    AND CD_FUNCAO = @cdFuncao;  
        
    -- Registrar histórico se houver alteração no status de bloqueio  
    IF (@ID_CAPTACAO_BLOQUEADA_ATUAL <> @idBloqueadoParaCredito)  
    BEGIN  
        INSERT INTO TB_PESSOA_BLOQUEIO_INTEGRACAO_HISTORICO  
        (  
            CD_PESSOA,  
            ID_NOVA_SITUACAO_BLOQUEIO,  
            DT_CADASTRO,  
            CD_WEBHOOK_REQUEST  
        )  
        VALUES  
        (  
            @cdPessoa,  
            @idBloqueadoParaCredito,  
            GETDATE(),  
            @cdWebhookRequest  
        );  
    END  
  
    SET NOCOUNT OFF;    
END;  
GO
