SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ComissaoInsereRegraComissaoFaixa]
  @CD_FV_REGRA_COMISSAO_FAIXA numeric(18,0),
  @CD_FV_REGRA_COMISSAO numeric(18,0),
  @VL_FAIXA_INICIAL numeric(18, 2),
  @VL_FAIXA_FINAL numeric(18, 2),
  @VL_FAIXA numeric(18, 2),
  @CD_USUARIO numeric(18,0),
  @VAR_TIPO_FUNCAO VARCHAR(1),
  @VAR_RETORNO INT OUTPUT,
  @DC_ERRO NVARCHAR(MAX) OUTPUT,
  @QT_LINHAS_AFETADAS INT OUTPUT

AS


BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0
	
  IF @VAR_TIPO_FUNCAO = 'I'
  BEGIN
	BEGIN TRANSACTION 
    INSERT INTO TB_FV_REGRA_COMISSAO_FAIXA (
      CD_FV_REGRA_COMISSAO,
      VL_FAIXA_INICIAL,
      VL_FAIXA_FINAL,
      VL_FAIXA,
      DT_CADASTRO,
      CD_USUARIO_CADASTRO)
    VALUES      (
      @CD_FV_REGRA_COMISSAO,
      @VL_FAIXA_INICIAL,
      @VL_FAIXA_FINAL,
      @VL_FAIXA,
      GETDATE (),
      @CD_USUARIO )

    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
    COMMIT TRANSACTION
    SELECT @VAR_RETORNO = @@IDENTITY
  END	
			
  IF @VAR_TIPO_FUNCAO = 'A'
  BEGIN
    BEGIN TRANSACTION 
    UPDATE TB_FV_REGRA_COMISSAO_FAIXA 
                             SET CD_FV_REGRA_COMISSAO   = @CD_FV_REGRA_COMISSAO,
   				 VL_FAIXA_INICIAL       = @VL_FAIXA_INICIAL,
   				 VL_FAIXA_FINAL         = @VL_FAIXA_FINAL,
   				 VL_FAIXA               = @VL_FAIXA,
				 CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
				 DT_ATUALIZACAO         = GETDATE()
    WHERE CD_FV_REGRA_COMISSAO_FAIXA = @CD_FV_REGRA_COMISSAO_FAIXA
    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
    COMMIT TRANSACTION
    SELECT @VAR_RETORNO = 0
  END	

  IF @VAR_TIPO_FUNCAO = 'E'
  BEGIN
    BEGIN TRANSACTION 
    DELETE FROM TB_FV_REGRA_COMISSAO_FAIXA 
    WHERE CD_FV_REGRA_COMISSAO = @CD_FV_REGRA_COMISSAO
	
    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
    COMMIT TRANSACTION
    SELECT @VAR_RETORNO = 0
  END	
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = ERROR_NUMBER()
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
