SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Diego Zilioti
-- Create date: 05/12/2018
-- Description:	Proc que verifica e fecha os lotes de separação abertos no sistema
-- =============================================
CREATE PROCEDURE [dbo].[pr_LoteSeparacaoFechaLotesSeparacao]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @cursor_lotes CURSOR,
			@v_codigoLoteSeparacao		numeric(18,0),
			@v_countPedidosAbertos		int

	SET @cursor_lotes = CURSOR FAST_FORWARD
	FOR
		SELECT CD_LOTE_SEPARACAO
		  FROM TB_LOTE_SEPARACAO
		 WHERE ID_SITUACAO_LOTE_SEPARACAO = 1

	-- VERIFICA OS LOTES
	OPEN @cursor_lotes
	FETCH NEXT FROM @cursor_lotes
	INTO @v_codigoLoteSeparacao

	WHILE @@FETCH_STATUS = 0
		BEGIN

			-- VAMOS VERIFICAR SE AINDA EXISTE ALGUM PEDIDO EM SEPARAÇÃO DENTRO DO LOTE EM QUESTÃO
			SELECT @v_countPedidosAbertos = COUNT(*)
			  FROM TB_PEDIDO
			 WHERE CD_EST_SITUACAO IN (1,101,100,2,4,5,6)
			   AND CD_LOTE_SEPARACAO = @v_codigoLoteSeparacao

			IF @v_countPedidosAbertos = 0
				BEGIN
					-- SE NÃO TIVERMOS PEDIDOS ABERTOS DENTRO DO LOTE SIGNIFICA QUE ELE TODO FOI SEPARADO
					-- NESTE CASO O LOTE DE SEPARAÇÃO SERÁ FECHADO
					UPDATE TB_LOTE_SEPARACAO SET ID_SITUACAO_LOTE_SEPARACAO = 2, DT_FECHAMENTO_LOTE = GETDATE()
					 WHERE CD_LOTE_SEPARACAO = @v_codigoLoteSeparacao

				END
																									
			FETCH NEXT FROM @cursor_lotes
			INTO @v_codigoLoteSeparacao
													
		END
	
END
GO
