SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_PrecoUpsertProdutoPreco]    
 @CD_PRODUTO_VENDA numeric(18, 0),    
 @VL_PRECO numeric(18, 2),     
 @VAR_RETORNO INT OUTPUT,    
 @DC_ERRO NVARCHAR(MAX) OUTPUT    
AS    
BEGIN TRY    
      
  DECLARE @CD_PRODUTO_VENDA_PRECO INT    
  SET @CD_PRODUTO_VENDA_PRECO = (SELECT TOP 1 CD_PRODUTO_VENDA_PRECO 
								 FROM TB_PRODUTO_VENDA_PRECO PVP
								 WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA  
								   AND EXISTS (SELECT TOP 1 1 FROM TB_PRODUTO_VENDA_PRECO_FUNCAO F WHERE F.CD_PRODUTO_VENDA_PRECO = PVP.CD_PRODUTO_VENDA_PRECO AND F.CD_FUNCAO = 2)
								 ORDER BY CD_PRODUTO_VENDA_PRECO DESC)    
  IF (@CD_PRODUTO_VENDA_PRECO IS NULL)    
  BEGIN    
   DECLARE @CICLO_INICIAL INT    
  SET @CICLO_INICIAL = (SELECT DBO.FN_BUSCA_CAMPANHA_ATUAL())    
   BEGIN    
    INSERT INTO TB_PRODUTO_VENDA_PRECO (    
     CD_PRODUTO_VENDA,    
     NM_CICLO_INICIAL,    
     NM_CICLO_FINAL,    
     DT_DATA_INICIAL,    
     DT_DATA_FINAL,    
     VL_PRECO,    
     VL_PRECO_DE,    
     VL_CREDITO,    
     ID_TIPO_VIGENCIA,     
     VL_PONTOS,    
     ID_TIPO_PUBLICO_ALVO_PRECO,    
     DT_CADASTRO,    
     CD_USUARIO_CADASTRO,    
     DT_ATUALIZACAO,    
     CD_USUARIO_ATUALIZACAO)    
              
          
    VALUES           (    
     @CD_PRODUTO_VENDA,    
     @CICLO_INICIAL,    
     NULL,    
     GETDATE(),    
     NULL,    
     @VL_PRECO,    
     @VL_PRECO,    
     0,    
     1,    
     0,    
     1,    
     GETDATE(),     
     0,     
     GETDATE(),     
     0    
     )       
  
  DECLARE @CD_PRECO INT  
  SET @CD_PRECO = SCOPE_IDENTITY()  
  
  INSERT INTO TB_PRODUTO_VENDA_PRECO_FUNCAO  
  VALUES (@CD_PRECO, 2)  
  
   END     
  END    
  ELSE    
  BEGIN     
    UPDATE TB_PRODUTO_VENDA_PRECO    
    SET VL_PRECO = @VL_PRECO,    
     VL_PRECO_DE = @VL_PRECO    
    WHERE CD_PRODUTO_VENDA_PRECO = @CD_PRODUTO_VENDA_PRECO    
  END    
    
  SELECT @VAR_RETORNO = 0    
      
END TRY     
BEGIN CATCH    
   -- Whoops, there was an error    
      SELECT @VAR_RETORNO = 1    
      SELECT @DC_ERRO = ERROR_MESSAGE()    
          
   IF @@TRANCOUNT > 0    
    ROLLBACK     
    
   -- Raise an error with the details of the exception    
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)    
END CATCH; 
GO
