SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CALCULA_INDICADOR_TOTAL]
	@CD_EST_COMERCIAL numeric(18, 0),
	@DT_FECHAMENTO date,
	
	@CD_USUARIO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

/*************************************************************
RECALCULA OS INDICADORES NO PROCESSAMENTO NOTURNO
CD_EST_COMERCIAL = 0 VERIFICA TODOS  *
**************************************************************/

DECLARE @Cursor_EC								CURSOR,
		@Cursor_Pessoa							CURSOR,
		@NM_CICLO								NUMERIC(18,0),
		@CD_ESTRUTURA							NUMERIC(18,0),
		@CD_ESTRUTURA_COMERCIAL					NUMERIC(18,0),
		@CD_PESSOA								NUMERIC(18,0),
		@CD_FUNCAO								INT,
		@VL_PEDIDO								NUMERIC(18,2),
		@QT_PEDIDO								NUMERIC(18,0)

DECLARE @CD_PESSOA_VINCULADA NUMERIC(18,0)
		
BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0
	    
	    -- *******************************************************************************
		-- CURSOR DE ESTRUTURA COMERCIAL
		-- VERIFICA TODOS AS ESTRUTURA COMERCIAIS QUE FECHAM NA DATA INFORMADA
		-- *******************************************************************************
	
		IF @CD_EST_COMERCIAL = 0 
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL
					FROM TB_CALENDARIO_COMERCIAL
					WHERE CONVERT(CHAR(10), GETDATE() -1, 103) BETWEEN CONVERT(CHAR(10), DT_INICIAL, 103) 
												AND CONVERT(CHAR(10), DT_FINAL, 103)				
					--WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)
					--WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), getdate()-1, 103)
			END 
		ELSE
			BEGIN
				SET @Cursor_EC = CURSOR FAST_FORWARD
				FOR
					SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL
					FROM TB_CALENDARIO_COMERCIAL
					WHERE CONVERT(CHAR(10), GETDATE() -1, 103) BETWEEN CONVERT(CHAR(10), DT_INICIAL, 103) 
								AND CONVERT(CHAR(10), DT_FINAL, 103)	
					--WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), getdate()-1, 103)
					AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			END

	
				    
	    -- ABRE O CURSOR DE ESTRUTURA COMERCIAL
	    OPEN @Cursor_EC
		FETCH NEXT FROM @Cursor_EC
		INTO @NM_CICLO, @CD_ESTRUTURA

		WHILE @@FETCH_STATUS = 0
			BEGIN
			
				--**************************************************
				-- GRAVA INDICADOR DE ATIVA ************************
				--**************************************************

				-- DELETA OS REGISTROS EXISTENTES DO CICLO E ESTRUTURA COMERCIAL
				DELETE FROM TB_PESSOA_INDICADOR
				WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
				AND NM_CICLO = @NM_CICLO
				AND CD_INDICADOR_PESSOAL = 1	
				
				--ABRE UM CURSOR PARA VERIFICAR QUAIS PESSOAS SÃO ATIVAS
						
				SET @Cursor_Pessoa = CURSOR FAST_FORWARD
				FOR
					SELECT CD_PESSOA	   	
					FROM TB_HIST_SITUACAO_CONSULTORA
					WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
					AND NM_CICLO = @NM_CICLO
					AND CD_SITUACAO_COMERCIAL = 1
				
				OPEN @Cursor_Pessoa
					FETCH NEXT FROM @Cursor_Pessoa
					INTO @CD_PESSOA

					WHILE @@FETCH_STATUS = 0
						BEGIN
				
							--INSERE NOVAS INFORMAÇÕES DE ATIVAS
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											2,
											@CD_ESTRUTURA,
											@NM_CICLO,
											1,
											1,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
											
							FETCH NEXT FROM @Cursor_Pessoa
							INTO @CD_PESSOA
						END
			
				--**************************************************
				-- GRAVA INDICADOR DE INATIVAS *********************
				--**************************************************
		
				-- DELETA OS REGISTROS EXISTENTES DO CICLO E ESTRUTURA COMERCIAL
				DELETE FROM TB_PESSOA_INDICADOR
				WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
				AND NM_CICLO = @NM_CICLO
				AND CD_INDICADOR_PESSOAL = 5
				
				--ABRE UM CURSOR PARA VERIFICAR QUAIS PESSOAS SÃO ATIVAS
						
				SET @Cursor_Pessoa = CURSOR FAST_FORWARD
				FOR
					SELECT CD_PESSOA	   	
					FROM TB_HIST_SITUACAO_CONSULTORA
					WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
					AND NM_CICLO = @NM_CICLO
					AND CD_SITUACAO_COMERCIAL IN (2,3)
				
				OPEN @Cursor_Pessoa
					FETCH NEXT FROM @Cursor_Pessoa
					INTO @CD_PESSOA

					WHILE @@FETCH_STATUS = 0
						BEGIN
				
							--INSERE NOVAS INFORMAÇÕES DE ATIVAS
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											2,
											@CD_ESTRUTURA,
											@NM_CICLO,
											5,
											1,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
											
							FETCH NEXT FROM @Cursor_Pessoa
							INTO @CD_PESSOA
						END
		
			
			    --**************************************************
				-- GRAVA INDICADOR DE INICIOS **********************
				--**************************************************
		
				-- DELETA OS REGISTROS EXISTENTES DO CICLO E ESTRUTURA COMERCIAL
				DELETE FROM TB_PESSOA_INDICADOR
				WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
				AND NM_CICLO = @NM_CICLO
				AND CD_INDICADOR_PESSOAL = 4
				
				-- ABRE UM CURSOR QUE VERIFICA QUAIS AS PESSOAS QUE SÃO ATIVAS NO CICLO
				-- E QUE ESSE PEDIDO SEJA O PRIMEIRO DA VIDA, OU SEJA,
				-- CICLO ANTERIOR = 0 OU QUE NAO EXISTE CICLO ANTERIOR
				SET @Cursor_Pessoa = CURSOR FAST_FORWARD
				FOR
									
					SELECT CD_PESSOA	   	
					FROM TB_HIST_SITUACAO_CONSULTORA
					WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
					AND NM_CICLO = @NM_CICLO
					AND CD_SITUACAO_COMERCIAL IN (1)
					AND dbo.FN_BUSCA_COD_SIT_COMERCIAL_PESSOA_CICLO(CD_PESSOA, 2, dbo.FN_BUSCA_CICLO_ANTERIOR(NM_CICLO)) IN (0, -1)
					--(0 É CADASTRADA NO CICLO ANTERIOR E -1 SIGNIFICA QUE NAO EXISTE UM CICLO ANTERIOR)
					
				
				OPEN @Cursor_Pessoa
					FETCH NEXT FROM @Cursor_Pessoa
					INTO @CD_PESSOA

					WHILE @@FETCH_STATUS = 0
						BEGIN
				
							--INSERE NOVAS INFORMAÇÕES DE ATIVAS
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											2,
											@CD_ESTRUTURA,
											@NM_CICLO,
											4,
											1,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
											
							FETCH NEXT FROM @Cursor_Pessoa
							INTO @CD_PESSOA
						END
			
			
				--**************************************************
				-- GRAVA INDICADOR TOTAL DE REVENDEDORAS ***********
				--**************************************************

				-- DELETA OS REGISTROS EXISTENTES DO CICLO E ESTRUTURA COMERCIAL
				DELETE FROM TB_PESSOA_INDICADOR
				WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
				AND NM_CICLO = @NM_CICLO
				AND CD_INDICADOR_PESSOAL = 6	
				
				
				--ABRE UM CURSOR PARA VERIFICAR QUAIS PESSOAS SÃO REVENDEDORAS
				SET @Cursor_Pessoa = CURSOR FAST_FORWARD
				FOR
					SELECT CD_PESSOA	   	
					FROM TB_HIST_SITUACAO_CONSULTORA
					WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
					AND NM_CICLO = @NM_CICLO
					AND CD_SITUACAO_COMERCIAL IN (0,1,2,3)
				
				OPEN @Cursor_Pessoa
					FETCH NEXT FROM @Cursor_Pessoa
					INTO @CD_PESSOA

					WHILE @@FETCH_STATUS = 0
						BEGIN
				
							--INSERE NOVAS INFORMAÇÕES DE ATIVAS
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											2,
											@CD_ESTRUTURA,
											@NM_CICLO,
											6,
											1,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
											
							FETCH NEXT FROM @Cursor_Pessoa
							INTO @CD_PESSOA
						END
			
			
			
				--******************************************************
				-- GRAVA INDICADOR DE VALOR E QUANTIDADE DE PEDIDO *****
				--******************************************************
			
				-- DELETA OS REGISTROS EXISTENTES DO CICLO E ESTRUTURA COMERCIAL
				DELETE FROM TB_PESSOA_INDICADOR
				WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
				AND NM_CICLO = @NM_CICLO
				AND CD_INDICADOR_PESSOAL IN (2,3)
				
				SET @Cursor_Pessoa = CURSOR FAST_FORWARD
				FOR
					SELECT CD_PESSOA, COUNT(*), SUM(VL_PAGAR_TOTAL)
					FROM TB_PEDIDO
					WHERE NM_CICLO_APROVACAO = @NM_CICLO
					AND CD_EST_COMERCIAL = @CD_ESTRUTURA
					AND CD_EST_SITUACAO NOT IN (1, 3, 4) -- EM CAPTAÇÃO, CANCELADO, PENDENTE
					GROUP BY CD_PESSOA
				
				OPEN @Cursor_Pessoa
					FETCH NEXT FROM @Cursor_Pessoa
					INTO @CD_PESSOA, @QT_PEDIDO, @VL_PEDIDO

					WHILE @@FETCH_STATUS = 0
						BEGIN
				
							--INSERE NOVAS INFORMAÇÕES DE VALOR DE PEDIDO
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											2,
											@CD_ESTRUTURA,
											@NM_CICLO,
											2,
											@VL_PEDIDO,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
											
							--INSERE NOVAS INFORMAÇÕES DE QUANTIDADE DE PEDIDO
							EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA,
											2,
											@CD_ESTRUTURA,
											@NM_CICLO,
											3,
											@QT_PEDIDO,
											@CD_USUARIO,
											'I',
											0,
											'',
											0
											
							FETCH NEXT FROM @Cursor_Pessoa
							INTO @CD_PESSOA, @QT_PEDIDO, @VL_PEDIDO
						END
			
				
				FETCH NEXT FROM @Cursor_EC
				INTO @NM_CICLO, @CD_ESTRUTURA
				
				
				--**************************************************
				-- RECALCULA PAPEL *********************************
				--**************************************************

				
				--ABRE UM CURSOR PARA VERIFICAR QUAIS PESSOAS ESTÃO NA ESTRUTURA COMERCIAL
				SET @Cursor_Pessoa = CURSOR FAST_FORWARD
				FOR
					SELECT CD_PESSOA, 2	   	
					FROM TB_HIST_SITUACAO_CONSULTORA
					WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
					AND NM_CICLO = @NM_CICLO
					-- AND CD_SITUACAO_COMERCIAL = 1
				
				OPEN @Cursor_Pessoa
					FETCH NEXT FROM @Cursor_Pessoa
					INTO @CD_PESSOA, @CD_FUNCAO

					WHILE @@FETCH_STATUS = 0
						BEGIN
						
						    -- CALCULA PLANO DE CARREIRA DE PESSOA E DEPOIS DO PAI (ALDIR 30/07)
							EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA
								@CD_PESSOA,
								@CD_FUNCAO,
								@NM_CICLO,
								@VAR_RETORNO,
								@DC_ERRO,
								@QT_LINHAS_AFETADAS	
						
				
							-- BUSCA A PESSOA VINCULADA (PAI)
							SELECT @CD_PESSOA_VINCULADA = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
							FROM TB_PESSOA_VINCULO_HISTORICO
							WHERE CD_PESSOA = @CD_PESSOA
							AND NM_CICLO = @NM_CICLO
							AND CD_FUNCAO = @CD_FUNCAO
				
							EXEC dbo.SP_MN_APLICA_PLANO_CARREIRA
								@CD_PESSOA_VINCULADA,
								@CD_FUNCAO,
								@NM_CICLO,
								@VAR_RETORNO,
								@DC_ERRO,
								@QT_LINHAS_AFETADAS	
											
							FETCH NEXT FROM @Cursor_Pessoa
							INTO @CD_PESSOA, @CD_FUNCAO
						END
			
				
				
				
			END

	 	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
