SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_EstoqueInsereEstoqueFinalizarPedido]
	@p_numeroPedido					numeric(18, 0),
	
	@p_codigoUsuario				numeric(18,0),
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	

AS

DECLARE @Cursor_Itens			CURSOR
DECLARE @V_CONTADOR_REGISTROS	INT

DECLARE @V_CD_CENTRO_DISTRIBUICAO	NUMERIC(18,0)
DECLARE @V_CD_MATERIAL				NUMERIC(18,0)
DECLARE @V_QT_RESERVADA				NUMERIC(18,0),
		@V_VALOR_LIQUIDO			NUMERIC(18,2)
DECLARE @CD_ARMAZEM					NUMERIC(18,0)


BEGIN TRY
	
	    SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	
		

		-- *********************************************************************
		-- PRIMEIRO PASSO - VERIFICAR SE O PEDIDO É DE UMA FRANQUIA PARA MATRIZ
		-- *********************************************************************
		SELECT @V_CONTADOR_REGISTROS = COUNT(*)
		FROM TB_PEDIDO P with(nolock)
		WHERE P.NM_PEDIDO = @p_numeroPedido
		AND P.CD_FUNCAO = 6 --FRANQUIA
		AND P.CD_CENTRO_DISTRIBUICAO IN (
		SELECT C.CD_CENTRO_DISTRIBUICAO FROM TB_CENTRO_DISTRIBUICAO C with(nolock)
		WHERE C.CD_EMPRESA IN (SELECT PJ.CD_PESSOA FROM TB_PESSOA_JURIDICA PJ with(nolock) WHERE PJ.ID_EMPRESA_MATRIZ = 1)
		AND C.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO)

		-- **************************************************************************
		-- VAMOS ABRIR O CURSOR DOS ITENS E FAZER O MOVIMENTO DO ESTOQUE
		-- **************************************************************************
		IF @V_CONTADOR_REGISTROS > 0
			BEGIN

				-- ***************************************************
				-- BUSCA O CD E ARMAZEM DA FRANQUIA
				-- ***************************************************
				SELECT @V_CD_CENTRO_DISTRIBUICAO = (SELECT A.CD_CENTRO_DISTRIBUICAO FROM TB_CENTRO_DISTRIBUICAO A with(nolock) WHERE A.CD_EMPRESA = P.CD_PESSOA) 
				FROM TB_PEDIDO P WITH(NOLOCK)
				WHERE P.NM_PEDIDO = @p_numeroPedido

				SELECT @CD_ARMAZEM = CD_ARMAZEM
				FROM TB_ARMAZEM with(nolock)
				WHERE CD_CENTRO_DISTRIBUICAO = @V_CD_CENTRO_DISTRIBUICAO
				AND ID_TIPO_ARMAZEM = 1
				

				SET @Cursor_Itens = CURSOR FAST_FORWARD
				FOR
					SELECT  I.CD_MATERIAL,
							I.QT_RESERVADA,
							I.VL_LIQUIDO_TOTAL / I.QT_RESERVADA
					FROM TB_PEDIDO P with(nolock), TB_PEDIDO_ITEM I with(nolock)
					WHERE P.NM_PEDIDO = I.NM_PEDIDO
						AND P.NM_PEDIDO = @p_numeroPedido
						AND I.QT_RESERVADA > 0
						--AND NM_PEDIDO_ITEM_CONJUNTO = 0
						AND I.CD_MATERIAL > 0 


				OPEN @Cursor_Itens
				FETCH NEXT FROM @Cursor_Itens
				INTO	@V_CD_MATERIAL,
						@V_QT_RESERVADA,
						@V_VALOR_LIQUIDO

				WHILE @@FETCH_STATUS = 0
					BEGIN


						EXEC SP_CAD_MOV_ESTOQUE
							@V_CD_CENTRO_DISTRIBUICAO,	--@CD_CENTRO_DISTRIBUICAO numeric(18, 0),
							@CD_ARMAZEM,				--@CD_ARMAZEM numeric(18, 0),
							@V_CD_MATERIAL,				--@CD_MATERIAL numeric(18, 0),
							@V_QT_RESERVADA,			--@QT_MOVIMENTADO numeric(18, 0),
							1,							-- ENTRADA POR AQUISIÇÃO -- @CD_TIPO_MOV_ESTOQUE INT,
							1,							-- DISPONIVEL --@ID_CENTRO_ESTOQUE INT,
							@V_VALOR_LIQUIDO,			-- @VL_UNITARIO NUMERIC(18,2),
							@p_numeroPedido,			-- @NM_DOCUMENTO NUMERIC(18,0),
							'Compra da Matriz',			-- @DC_REFERENCIA VARCHAR(80),
	
							@p_codigoUsuario,			--@CD_USUARIO NUMERIC(18,0),
							'I',						--@VAR_TIPO_FUNCAO VARCHAR(1),
							@p_codigoErro		OUTPUT,				--@VAR_RETORNO INT OUTPUT,
							@p_descricaoErro	OUTPUT,			--@DC_ERRO VARCHAR(200) OUTPUT,
							@p_linhasAfetadas	OUTPUT			--@QT_LINHAS_AFETADAS INT OUTPUT


						FETCH NEXT FROM @Cursor_Itens
						INTO	@V_CD_MATERIAL,
								@V_QT_RESERVADA,
								@V_VALOR_LIQUIDO
													
					END



			END
		
			
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
