SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- **********************************************************************************************
-- AJUSTA  A TABELA TB_CONCILIACAO COM A DATA DE PAGAMENTO E CICLO DE PAGAMENTO
-- **********************************************************************************************



CREATE PROCEDURE [dbo].[pr_IntegracaoSeniorAjustaConciliacaoLowell]
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CURSOR_TITULOS			CURSOR
--DECLARE @CURSOR_PEDIDOS			CURSOR

DECLARE @DC_NUMERO_TITULO			varchar(80)
DECLARE @DC_NUMERO_PEDIDO_ORIGEM	varchar(80) 
DECLARE @DC_TIPO_TITULO				varchar(80)
DECLARE @DC_SITUACAO				varchar(80)
DECLARE @DC_PORTADOR				varchar(80)
DECLARE @VL_ORIGINAL				NUMERIC(18,2)
DECLARE @VL_ABERTO					NUMERIC(18,2)
DECLARE @DT_VENCIMENTO_ORIGINAL		DATE 
DECLARE @DT_VENCIMENTO_PRORROGACAO	DATE
DECLARE @DT_ULTIMO_PAGAMENTO		DATE

DECLARE @CD_PARCELA					NUMERIC(18,0)
DECLARE @CD_DIVIDA					NUMERIC(18,0)
DECLARE @CD_EST_COMERCIAL			NUMERIC(18,0)
DECLARE @NM_CICLO					NUMERIC(18,0)
DECLARE @NM_PEDIDO					NUMERIC(18,0)	
DECLARE @CD_PESSOA					NUMERIC(18,0)


BEGIN TRY

	-- ************************************************
	-- ABRE O CURSOR DOS TITULOS
	-- SOMENTE BOLETO 28 DIAS E CARTÃO DE CREDITO
	-- ************************************************
	
	SET @CURSOR_TITULOS = CURSOR FAST_FORWARD
	FOR

		--SELECT	DC_NUMERO_TITULO, 
		--	DC_NUMERO_PEDIDO_ORIGEM, 
		--	DC_TIPO_TITULO, 
		--	DC_SITUACAO,
		--	DC_PORTADOR,
		--	VL_ORIGINAL,
		--	VL_ABERTO,
		--	DT_VENCIMENTO_ORIGINAL, 
		--	DT_VENCIMENTO_PRORROGACAO,
		--	ISNULL(DT_ULTIMO_PAGAMENTO, DT_VENCIMENTO_PRORROGACAO) DT_ULTIMO_PAGAMENTO
		--FROM TB_WRK_SENIOR_CONTAS_RECEBER
		--WHERE DC_TIPO_TITULO = 'NFV'
		--AND DC_SITUACAO IN ('LQ', 'LC')
		--AND DC_NUMERO_TITULO IN (SELECT CD_PARCELA_EXTERNO FROM TB_PARCELA PA, TB_DIVIDA D WHERE PA.CD_DIVIDA = D.CD_DIVIDA AND D.NM_PEDIDO IN (SELECT NM_PEDIDO FROM TB_PEDIDO
		--						WHERE CD_PLANO_PAGAMENTO IN (2, 4, 6, 7, 8, 9, 10, 11)))
								
		----AND DC_NUMERO_TITULO = '225518_001'
		--AND DC_NUMERO_TITULO = '239717_001'


		SELECT 
				Z.DC_NUMERO_TITULO, 
				Z.DC_NUMERO_PEDIDO_ORIGEM, 
				Z.DC_TIPO_TITULO, 
				Z.DC_SITUACAO,
				Z.DC_PORTADOR,
				Z.VL_ORIGINAL,
				Z.VL_ABERTO,
				Z.DT_VENCIMENTO_ORIGINAL, 
				Z.DT_VENCIMENTO_PRORROGACAO,
				Z.DT_ULTIMO_PAGAMENTO
				--Z.DT_CONCILIACAO
			FROM 
			
			(SELECT	DC_NUMERO_TITULO, 
				DC_NUMERO_PEDIDO_ORIGEM, 
				DC_TIPO_TITULO, 
				DC_SITUACAO,
				DC_PORTADOR,
				VL_ORIGINAL,
				VL_ABERTO,
				DT_VENCIMENTO_ORIGINAL, 
				DT_VENCIMENTO_PRORROGACAO,
				ISNULL(DT_ULTIMO_PAGAMENTO, DT_VENCIMENTO_PRORROGACAO) DT_ULTIMO_PAGAMENTO,
				(SELECT C.DT_CONCILIACAO FROM TB_CONCILIACAO C WHERE C.CD_PARCELA = B.CD_PARCELA) DT_CONCILIACAO,
				(SELECT M.DT_CAPTACAO_PEDIDO FROM TB_PEDIDO M, TB_DIVIDA D WHERE M.NM_PEDIDO = D.NM_PEDIDO AND D.CD_DIVIDA = B.CD_DIVIDA) DT_CAPTACAO_PEDIDO
			FROM TB_WRK_SENIOR_CONTAS_RECEBER A, TB_PARCELA B
			WHERE  A.DC_NUMERO_TITULO = B.CD_PARCELA_EXTERNO
			AND A.DC_TIPO_TITULO = 'NFV'
			AND A.DC_SITUACAO IN ('LQ', 'LC')
			--AND A.DC_NUMERO_TITULO = '253235_001'
			AND A.DC_NUMERO_TITULO IN (SELECT CD_PARCELA_EXTERNO FROM TB_PARCELA PA, TB_DIVIDA D WHERE PA.CD_DIVIDA = D.CD_DIVIDA AND D.NM_PEDIDO IN (SELECT NM_PEDIDO FROM TB_PEDIDO
									WHERE CD_PLANO_PAGAMENTO IN (2, 4, 6, 7, 8, 9, 10, 11)))
			) Z
		
			WHERE Z.DT_ULTIMO_PAGAMENTO <> Z.DT_CONCILIACAO

			-- INICIALMENTE NÃO VAMOS ATUALIZAR O PASSADO
			AND Z.DT_CAPTACAO_PEDIDO >= '2023-08-11 00:00:00.000'

					
	OPEN @CURSOR_TITULOS
	FETCH NEXT FROM @CURSOR_TITULOS
	INTO	@DC_NUMERO_TITULO, 
			@DC_NUMERO_PEDIDO_ORIGEM, 
			@DC_TIPO_TITULO, 
			@DC_SITUACAO,
			@DC_PORTADOR,
			@VL_ORIGINAL,
			@VL_ABERTO,
			@DT_VENCIMENTO_ORIGINAL, 
			@DT_VENCIMENTO_PRORROGACAO,
			@DT_ULTIMO_PAGAMENTO 	

	WHILE @@FETCH_STATUS = 0
		BEGIN
		
			-- *********************************************************
			-- BUSCA O CD_PARCELA
			-- *********************************************************
			SELECT  @CD_PARCELA = CD_PARCELA,
					@CD_DIVIDA = CD_DIVIDA
			FROM TB_PARCELA
			WHERE CD_PARCELA_EXTERNO = @DC_NUMERO_TITULO


			-- *********************************************************
			-- COM BASE NA PARCELA VAMOS BUSCAR A EST_COMERCIAL
			-- POIS PRECISAMOS DO CICLO DE PAGAMENTO
			-- *********************************************************
			SELECT  @CD_EST_COMERCIAL = P.CD_EST_COMERCIAL,
					@CD_PESSOA = P.CD_PESSOA
			FROM TB_PEDIDO P, TB_DIVIDA D
			WHERE P.NM_PEDIDO = D.NM_PEDIDO
			AND D.CD_DIVIDA = @CD_DIVIDA


			-- *********************************************************
			-- COM BASE NA EST_COMERCIAL E DATA DE PAGAMENTO
			-- VAMOS BUSCAR O CICLO
			-- *********************************************************
			SELECT @NM_CICLO = C.NM_CICLO FROM TB_CALENDARIO_COMERCIAL C
			WHERE C.CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			AND @DT_ULTIMO_PAGAMENTO BETWEEN C.DT_INICIAL AND C.DT_FINAL


			-- *********************************************************
			-- AGORA VAMOS ATUALIZAR A TABELA TB_CONCILIACAO
			-- *********************************************************
			UPDATE TB_CONCILIACAO
			SET DT_CONCILIACAO = @DT_ULTIMO_PAGAMENTO, 
				DT_PROCESSAMENTO = @DT_ULTIMO_PAGAMENTO, 
				NM_CICLO_PAGAMENTO = @NM_CICLO
			WHERE CD_PARCELA = @CD_PARCELA

			
			-- ***************************************************
			-- ATUALIZA O CREDITO DA PESSOA
			-- ***************************************************	
			EXEC pr_PessoaAtualizaLimiteCredito
				0, 
        		@CD_PESSOA,
        		2, -- FUNÇÃO DA PESSOA
				2, -- CODIGO DO MOTIVO - ATUALIZAÇÃO AUTOMATICA
				'PAGAMENTO PEDIDO', -- MOTIVO
				'', --@DT_INICIO_LIMITE_CREDITO
				'', --@DT_TERMINO_LIMITE_CREDITO
				0, -- VALOR DO CREDITO,
				'A',
				0,
				@VAR_RETORNO		OUTPUT,
				@DC_ERRO			OUTPUT,
				@QT_LINHAS_AFETADAS	OUTPUT	



			FETCH NEXT FROM @CURSOR_TITULOS
			INTO	@DC_NUMERO_TITULO, 
					@DC_NUMERO_PEDIDO_ORIGEM, 
					@DC_TIPO_TITULO, 
					@DC_SITUACAO,
					@DC_PORTADOR,
					@VL_ORIGINAL,
					@VL_ABERTO,
					@DT_VENCIMENTO_ORIGINAL, 
					@DT_VENCIMENTO_PRORROGACAO,
					@DT_ULTIMO_PAGAMENTO 	
	
		END


	-- ************************************************
	-- ABRE O CURSOR DOS TITULOS
	-- SOMENTE BOLETO A VISTA
	-- ************************************************
	SET @CURSOR_TITULOS = CURSOR FAST_FORWARD
	FOR

		SELECT	DC_NUMERO_TITULO, 
			DC_NUMERO_PEDIDO_ORIGEM, 
			DC_TIPO_TITULO, 
			DC_SITUACAO,
			DC_PORTADOR,
			VL_ORIGINAL,
			VL_ABERTO,
			DT_VENCIMENTO_ORIGINAL, 
			DT_VENCIMENTO_PRORROGACAO,
			ISNULL(DT_ULTIMO_PAGAMENTO, DT_VENCIMENTO_PRORROGACAO) DT_ULTIMO_PAGAMENTO
		FROM TB_WRK_SENIOR_CONTAS_RECEBER
		WHERE DC_TIPO_TITULO = 'ADC'
		AND DC_PORTADOR = '033'
		--AND DC_NUMERO_PEDIDO_ORIGEM = '2264'
		AND DC_NUMERO_TITULO = '239717_001'
					
	OPEN @CURSOR_TITULOS
	FETCH NEXT FROM @CURSOR_TITULOS
	INTO	@DC_NUMERO_TITULO, 
			@DC_NUMERO_PEDIDO_ORIGEM, 
			@DC_TIPO_TITULO, 
			@DC_SITUACAO,
			@DC_PORTADOR,
			@VL_ORIGINAL,
			@VL_ABERTO,
			@DT_VENCIMENTO_ORIGINAL, 
			@DT_VENCIMENTO_PRORROGACAO,
			@DT_ULTIMO_PAGAMENTO 	

	WHILE @@FETCH_STATUS = 0
		BEGIN
		
			-- *********************************************************
			-- NESSE CASO VAMOS BUSCAR O NM_PEDIDO
			-- E EST_COMERCIAL
			-- *********************************************************
			SELECT	@CD_EST_COMERCIAL = P.CD_EST_COMERCIAL,
					@NM_PEDIDO = NM_PEDIDO
			FROM TB_PEDIDO P
			WHERE P.NM_PEDIDO_EXTERNO = @DC_NUMERO_PEDIDO_ORIGEM
			

			
			-- *********************************************************
			-- BUSCA O CD_PARCELA
			-- *********************************************************
			SELECT  @CD_PARCELA = PA.CD_PARCELA,
					@CD_DIVIDA = PA.CD_DIVIDA
			FROM TB_PARCELA PA, TB_DIVIDA DI
			WHERE PA.CD_DIVIDA = DI.CD_DIVIDA
			AND DI.NM_PEDIDO = @NM_PEDIDO
			
			

			-- *********************************************************
			-- COM BASE NA EST_COMERCIAL E DATA DE PAGAMENTO
			-- VAMOS BUSCAR O CICLO
			-- *********************************************************
			SELECT @NM_CICLO = C.NM_CICLO FROM TB_CALENDARIO_COMERCIAL C
			WHERE C.CD_EST_COMERCIAL = @CD_EST_COMERCIAL
			AND @DT_ULTIMO_PAGAMENTO BETWEEN C.DT_INICIAL AND C.DT_FINAL



			-- *********************************************************
			-- AGORA VAMOS ATUALIZAR A TABELA TB_CONCILIACAO
			-- *********************************************************
			UPDATE TB_CONCILIACAO
			SET DT_CONCILIACAO = @DT_ULTIMO_PAGAMENTO, 
				DT_PROCESSAMENTO = @DT_ULTIMO_PAGAMENTO, 
				NM_CICLO_PAGAMENTO = @NM_CICLO
			WHERE CD_PARCELA = @CD_PARCELA



			FETCH NEXT FROM @CURSOR_TITULOS
			INTO	@DC_NUMERO_TITULO, 
					@DC_NUMERO_PEDIDO_ORIGEM, 
					@DC_TIPO_TITULO, 
					@DC_SITUACAO,
					@DC_PORTADOR,
					@VL_ORIGINAL,
					@VL_ABERTO,
					@DT_VENCIMENTO_ORIGINAL, 
					@DT_VENCIMENTO_PRORROGACAO,
					@DT_ULTIMO_PAGAMENTO 	
	
		END



	SELECT @QT_LINHAS_AFETADAS = 0
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;






GO
