SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_MNAtualizaIndicante]
	@P_CD_PESSOA_PAI_NOVO  NUMERIC(18,0),
	@P_CD_PESSOA_MOVIMENTA NUMERIC(18,0),
	@P_CODIGOFUNCAO NUMERIC(18,0),
	@P_NUMEROCICLO NUMERIC(18,0), 
	
	@p_codigoUsuario		numeric(18,0),

	@p_codigoErro			int output,
	@p_descricaoErro		VARCHAR(4000) OUTPUT,
	@p_linhasAfetadas		INT OUTPUT
AS

BEGIN TRY

	DEClARE @V_CODIGOPESSOA NUMERIC(18,0),
	@V_CODIGOPESSOAVINCULADA NUMERIC(18,0),
	@V_CODIGOPESSOAASCENDENTE NUMERIC(18,0),
	@V_NUMERONIVEL INT,
	@V_CODIGOPESSOALIDERANCA NUMERIC(18,0),
	@V_CODIGOPAPELLIDERANCA INT,
	@V_CODIGOPAPELPESSOA INT,
	@V_CONT_ASCENDENTE NUMERIC(18,0),
	@V_CONT_DESCENDENTE NUMERIC(18,0),

	@CURSOR_PESSOA         CURSOR,
	@C_CD_PESSOA           NUMERIC(18,0),
	@C_SEQUENCIA NUMERIC(18,0),
        @C_COUNT_HIST_VINCULO NUMERIC(18,0),

	@V_TRABALHA_MMN    INT,
	@V_CD_EST_COMERCIAL_PAI_NOVO NUMERIC(18,0),
	@V_CD_EST_COMERCIAL_MOVIMENTA  NUMERIC(18,0)

	DECLARE     @CD_CLIENTE           NUMERIC(18,0)
	DECLARE     @V_CONTADOR 	NUMERIC(18,0)



	BEGIN 

		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
		SELECT @p_linhasAfetadas = 0

		-- INICIO : ALDIR 18/11/2021 (MOTIVO É NÃO FECHAR A REDE)
		SELECT @V_CONTADOR = COUNT(*)
		FROM (SELECT  @P_CD_PESSOA_PAI_NOVO AS PESSOA 
		      UNION
		      SELECT  CD_PESSOA_VINCULADA AS PESSOA
		      FROM TB_WRK_MN_TOPOLOGIA  with (NOLOCK)
		      WHERE CD_PESSOA       = @P_CD_PESSOA_PAI_NOVO
		      AND   CD_FUNCAO       = @P_CODIGOFUNCAO
		      AND   NM_CICLO        = @P_NUMEROCICLO
		      AND   ID_ORDEM        = 1 -- ASCENDENTE
		      AND   ID_TIPO_REDE_MN = 1) A -- REDE UNILEVEL
		WHERE A.PESSOA = @P_CD_PESSOA_MOVIMENTA
		IF (@V_CONTADOR > 0)
		BEGIN
		      SELECT @p_codigoErro = 1
		      SELECT @p_descricaoErro = 'O novo indicante não é permitido'
		END
		-- FIM : ALDIR 18/11/2021 (MOTIVO É NÃO FECHAR A REDE)
		ELSE
		BEGIN

		SELECT @CD_CLIENTE = VL_PARAMETRO
		FROM TB_VALOR_PARAMETRO with (NOLOCK)
		WHERE CD_GRUPO_PARAMETRO = 6
		AND CD_PARAMETRO = 1
		AND CD_VALOR_PARAMETRO  = 1

		-- VERIFICA SE TRABALHA COM MARKETING MULTINIVEL
		SELECT @V_TRABALHA_MMN = ISNULL(MAX(VL_PARAMETRO),2) FROM TB_VALOR_PARAMETRO with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 7 AND CD_PARAMETRO = 12

		-- BUSCA A ESTRUTURA COMERCIAL DO PAI
		SELECT @V_CD_EST_COMERCIAL_PAI_NOVO = isnull(MIN(CD_EST_COMERCIAL),0)
		FROM TB_PESSOA_RESUMO with (NOLOCK)
		WHERE CD_PESSOA = @P_CD_PESSOA_PAI_NOVO
		AND   CD_FUNCAO = @P_CODIGOFUNCAO 

		-- BUSCA A ESTRUTURA COMERCIAL DA PESSOA MOVIMENTA
		SELECT @V_CD_EST_COMERCIAL_MOVIMENTA = isnull(MIN(CD_EST_COMERCIAL),0)
		FROM TB_PESSOA_RESUMO with (NOLOCK)
		WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA
		AND   CD_FUNCAO = @P_CODIGOFUNCAO 


		IF (@V_CD_EST_COMERCIAL_PAI_NOVO = 0)
		BEGIN
			SELECT @V_CD_EST_COMERCIAL_PAI_NOVO = isnull(CD_EST_COMERCIAL,0)
			FROM TB_PESSOA_RESUMO with (NOLOCK)
			WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA
			AND   CD_FUNCAO = @P_CODIGOFUNCAO 

		END

		IF (ISNULL(@P_CD_PESSOA_PAI_NOVO,-1) = -1)
		BEGIN
			-- ***************************************************************
			-- Correção em 24/06/2019 por Diego Zilioti, origem chamado 2243 - redmine 1312
			-- Esta parte da proc está com erro na fase de delete com referência a tabela errada, 
			-- além disto o ideal é deixar o indicante nulo para que um novo possa ser incluido quando necessário
			-- ***************************************************************
			
			BEGIN TRANSACTION	
			UPDATE TB_PESSOA SET CD_PESSOA_INDICANTE = null, 
						       CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						       DT_ATUALIZACAO = GETDATE()
			WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA  
			COMMIT TRANSACTION

			BEGIN TRANSACTION
			UPDATE TB_PESSOA_RESUMO SET CD_PESSOA_VINCULADA = null, 
								CD_PESSOA_LIDERANCA   = null,
						       CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						       DT_ATUALIZACAO = GETDATE() 
			WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND CD_FUNCAO = @P_CODIGOFUNCAO
			COMMIT TRANSACTION

		        BEGIN TRANSACTION
		  	DELETE TB_PESSOA_VINCULO_HISTORICO 
			WHERE NM_CICLO = @P_NUMEROCICLO AND CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND CD_FUNCAO = @P_CODIGOFUNCAO
			COMMIT TRANSACTION

			BEGIN TRANSACTION
			DELETE TB_WRK_MN_TOPOLOGIA
			WHERE (CD_PESSOA = @P_CD_PESSOA_MOVIMENTA OR CD_PESSOA_VINCULADA = @P_CD_PESSOA_MOVIMENTA)
			AND NM_CICLO = @P_NUMEROCICLO 
			AND ID_TIPO_REDE_MN = 1
			COMMIT TRANSACTION

		END

		IF (@V_TRABALHA_MMN = 1 AND ISNULL(@P_CD_PESSOA_PAI_NOVO,-1) <> -1)
		BEGIN
			BEGIN TRANSACTION
			DELETE FROM TB_PESSOA_TOPOLOGIA 
			COMMIT TRANSACTION

			BEGIN TRANSACTION
			INSERT INTO TB_PESSOA_TOPOLOGIA
			SELECT PESSOA, NIVEL FROM (
			SELECT @P_CD_PESSOA_MOVIMENTA AS PESSOA, 1 AS NIVEL
			UNION ALL
			SELECT CD_PESSOA_VINCULADA AS PESSOA, NM_NIVEL+1 AS NIVEL
			FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
			WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA
			AND NM_CICLO = @P_NUMEROCICLO
			AND ID_ORDEM = 2 
			AND CD_FUNCAO = @P_CODIGOFUNCAO
			  ) A
			  ORDER BY A.NIVEL, A.PESSOA
			COMMIT TRANSACTION

			BEGIN TRANSACTION
			UPDATE TB_PESSOA SET CD_PESSOA_INDICANTE = @P_CD_PESSOA_PAI_NOVO, 
						       CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						       DT_ATUALIZACAO = GETDATE()
			WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA  
			COMMIT TRANSACTION

			BEGIN TRANSACTION
			UPDATE TB_PESSOA_RESUMO SET CD_PESSOA_VINCULADA = @P_CD_PESSOA_PAI_NOVO, 
						       CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						       DT_ATUALIZACAO = GETDATE() 
			WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND CD_FUNCAO = @P_CODIGOFUNCAO
			COMMIT TRANSACTION

			SELECT @C_COUNT_HIST_VINCULO = COUNT(*)
        	        FROM TB_PESSOA_VINCULO_HISTORICO  with (NOLOCK)
                	WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA 
	                AND   NM_CICLO = @P_NUMEROCICLO 
        	        AND   CD_FUNCAO = @P_CODIGOFUNCAO
                	IF (@C_COUNT_HIST_VINCULO > 0)
	  		BEGIN
				BEGIN TRANSACTION
				UPDATE TB_PESSOA_VINCULO_HISTORICO SET CD_PESSOA_VINCULADA = @P_CD_PESSOA_PAI_NOVO 
				WHERE NM_CICLO = @P_NUMEROCICLO AND CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND CD_FUNCAO = @P_CODIGOFUNCAO
				COMMIT TRANSACTION
			END
			ELSE
			BEGIN
			    BEGIN TRANSACTION
			    INSERT INTO TB_PESSOA_VINCULO_HISTORICO (CD_PESSOA,CD_FUNCAO,NM_CICLO,CD_PESSOA_VINCULADA,CD_PESSOA_VINCULADA_BINARIA,ID_DIRECAO_REDE_BINARIA,
								CD_PESSOA_VINCULADA_ANTERIOR,CD_PESSOA_VINCULADA_BINARIA_ANTERIOR)
				VALUES (@P_CD_PESSOA_MOVIMENTA,@P_CODIGOFUNCAO, @P_NUMEROCICLO,  @P_CD_PESSOA_PAI_NOVO ,NULL,NULL,NULL,NULL)
			    COMMIT TRANSACTION
			END


			SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
			FOR
			SELECT CD_PESSOA,SEQUENCIA FROM TB_PESSOA_TOPOLOGIA with (NOLOCK)
			ORDER BY 2
                                  
			OPEN @CURSOR_PESSOA
			FETCH NEXT FROM @CURSOR_PESSOA
			INTO @C_CD_PESSOA , @C_SEQUENCIA
   			WHILE @@FETCH_STATUS = 0
			BEGIN
				SELECT @V_CODIGOPESSOA = @C_CD_PESSOA 

				SELECT @p_linhasAfetadas = 0

				-- VERIFICA VINCULO NOVO DA PESSOA
				SELECT @V_CODIGOPESSOAVINCULADA = ISNULL(MIN(CD_PESSOA_INDICANTE),0)
				FROM TB_PESSOA with (NOLOCK)
				WHERE CD_PESSOA = @V_CODIGOPESSOA

				IF (@V_CODIGOPESSOAVINCULADA <> 0 )
				BEGIN

					IF (@CD_CLIENTE NOT IN (43, 47, 48, 50, 51, 54,57)) -- MAKIE / MAHOGANY / SIBERIANN / ELLAS / PACHAMAMA / DNANAMODA / LOWELL
                                        BEGIN

						-- VERIFICA SE O CLIENTE TEM O CONCEITO DE LIDERANÇA
						SELECT @V_CODIGOPAPELLIDERANCA = ISNULL(CD_PAPEL_INICIO_LIDERANCA,0) -- 0 - NÃO TEM CONCEITO DE LIDERANÇA
 						FROM TB_MN_REGRA_GERAL with (NOLOCK)
 
		 				SELECT @V_CODIGOPESSOALIDERANCA = 0 -- INICIALIZA O CODIGO DA LIDERANÇA
						IF (@V_CODIGOPAPELLIDERANCA > 0) -- TEM O CONCEITO DE LIDERANÇA
						BEGIN
							-- BUSCA A LIDERANÇA DA PESSOA VINCULADA (PATROCINADORA)
							SELECT @V_CODIGOPESSOALIDERANCA = CD_PESSOA_LIDERANCA,
							@V_CODIGOPAPELPESSOA     = CD_PAPEL_CARREIRA
							FROM TB_PESSOA_RESUMO with (NOLOCK)
 							WHERE CD_PESSOA = @V_CODIGOPESSOAVINCULADA
							AND   CD_FUNCAO = @P_CODIGOFUNCAO
 
	 						-- VERIFICA SE A PESSOA VINCULADA (PATRONINADOR) TEM O PAPEL DE LIDERANÇA
							IF (@V_CODIGOPAPELPESSOA >= @V_CODIGOPAPELLIDERANCA)
							BEGIN
								SELECT @V_CODIGOPESSOALIDERANCA = @V_CODIGOPESSOAVINCULADA
							END

							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
							BEGIN TRANSACTION
							UPDATE TB_PESSOA_RESUMO SET
						  	CD_PESSOA_LIDERANCA = @V_CODIGOPESSOALIDERANCA,
							CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
							DT_ATUALIZACAO = GETDATE() 
							WHERE CD_PESSOA = @V_CODIGOPESSOA
							AND CD_FUNCAO = @P_CODIGOFUNCAO
							COMMIT TRANSACTION

	                                                -- NOVO ALDIR 19092019
							BEGIN TRANSACTION	
					                UPDATE TB_PESSOA_VINCULO_HISTORICO SET CD_PESSOA_LIDERANCA = @V_CODIGOPESSOALIDERANCA
					                WHERE NM_CICLO = @P_NUMEROCICLO AND CD_PESSOA = @V_CODIGOPESSOA AND CD_FUNCAO = @P_CODIGOFUNCAO
							COMMIT TRANSACTION
							-- FIM NOVO ALDIR 19092019
	
                                               END
					END

					IF (@CD_CLIENTE NOT IN (33, 40, 43, 47, 48, 50, 51, 54, 57)) -- CLOROFITUM / MODA DO CHEF / MAKIE / MAHOGANY / SIBERIANN / ELLAS / PACHAMAMA / DNANAMODA / LOWELL
                                        BEGIN  

						IF (@V_CD_EST_COMERCIAL_PAI_NOVO <> @V_CD_EST_COMERCIAL_MOVIMENTA)
						BEGIN
							-- ATUALIZA A ESTRUTURA COMERCIAL
							BEGIN TRANSACTION
							insert into TB_PESSOA_INDICADOR (
								CD_PESSOA,
								CD_FUNCAO,
								CD_EST_COMERCIAL,
								NM_CICLO,
								CD_INDICADOR_PESSOAL,
								VL_INDICADOR_PESSOAL,
								DT_CADASTRO,
								CD_USUARIO_CADASTRO,
								DT_ATUALIZACAO,
								CD_USUARIO_ATUALIZACAO,
								CD_PESSOA_VINCULADA )
							SELECT  CD_PESSOA,
								CD_FUNCAO,
								@V_CD_EST_COMERCIAL_PAI_NOVO,
								NM_CICLO,
								CD_INDICADOR_PESSOAL,
								VL_INDICADOR_PESSOAL,
								GETDATE(),
								@P_CODIGOUSUARIO,
								GETDATE(),
								@P_CODIGOUSUARIO,
								CD_PESSOA_VINCULADA
							FROM TB_PESSOA_INDICADOR  with (NOLOCK)
							WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND NM_CICLO = @P_NUMEROCICLO 
							COMMIT TRANSACTION
							
							BEGIN TRANSACTION
							DELETE TB_PESSOA_INDICADOR 
							WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND NM_CICLO = @P_NUMEROCICLO AND CD_EST_COMERCIAL <> @V_CD_EST_COMERCIAL_PAI_NOVO
							COMMIT TRANSACTION 

							BEGIN TRANSACTION
							UPDATE TB_ALOCACAO_REDE SET CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL_PAI_NOVO,
										    CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
										    DT_ATUALIZACAO = GETDATE()
							WHERE CD_PESSOA =  @V_CODIGOPESSOA AND NM_CICLO = @P_NUMEROCICLO
							COMMIT TRANSACTION 

							BEGIN TRANSACTION		
							UPDATE TB_PESSOA SET CD_ESTRUTURA_COMERCIAL = @V_CD_EST_COMERCIAL_PAI_NOVO,
										CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
										DT_ATUALIZACAO = GETDATE() 
							WHERE CD_PESSOA = @V_CODIGOPESSOA
							COMMIT TRANSACTION 				

							BEGIN TRANSACTION
							UPDATE TB_PESSOA_RESUMO SET CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL_PAI_NOVO,
										CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
										DT_ATUALIZACAO = GETDATE() 
							WHERE CD_PESSOA = @V_CODIGOPESSOA AND CD_FUNCAO = @P_CODIGOFUNCAO
							COMMIT TRANSACTION 	
							
							BEGIN TRANSACTION
							UPDATE TB_HIST_SITUACAO_CONSULTORA SET CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL_PAI_NOVO,
										CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
										DT_ATUALIZACAO = GETDATE()  
							WHERE CD_PESSOA =  @V_CODIGOPESSOA AND NM_CICLO = @P_NUMEROCICLO 
							COMMIT TRANSACTION  
						END
					END

					--ANTES DE MONTAR A TOPOLOGIA DEVEMOS APAGAR A TOPOLOGIA ANTERIOR CASO EXISTA
					--SÓ SE APLICA EM CASOS ONDE A INDICANTE FOI ALTERADA
					BEGIN TRANSACTION
					DELETE TB_WRK_MN_TOPOLOGIA
					WHERE CD_PESSOA = @V_CODIGOPESSOA
					AND ID_ORDEM = 1                           -- ASCENDENTE
					AND NM_CICLO = @P_NUMEROCICLO
					AND CD_FUNCAO = @P_CODIGOFUNCAO
					AND NM_NIVEL > (SELECT ISNULL(MAX(CASE WHEN CD_PESSOA <> CD_PESSOA_VINCULADA THEN NM_NIVEL END),0) AS NIVEL 
							FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
							WHERE CD_PESSOA = @V_CODIGOPESSOA AND CD_PESSOA_VINCULADA = @P_CD_PESSOA_MOVIMENTA
							AND   ID_ORDEM = 1 AND CD_FUNCAO = @P_CODIGOFUNCAO AND NM_CICLO= @P_NUMEROCICLO)
					COMMIT TRANSACTION

					BEGIN TRANSACTION     
					DELETE TB_WRK_MN_TOPOLOGIA
					WHERE ID_ORDEM = 2                         -- DESCENDENTE
					AND NM_CICLO = @P_NUMEROCICLO
					AND CD_PESSOA_VINCULADA = @V_CODIGOPESSOA
					AND CD_FUNCAO = @P_CODIGOFUNCAO
					--      AND NM_NIVEL > (SELECT ISNULL(MAX(CASE WHEN CD_PESSOA <> CD_PESSOA_VINCULADA THEN NM_NIVEL END),0) AS NIVEL 
					--                      FROM TB_WRK_MN_TOPOLOGIA
					--	  	      WHERE CD_PESSOA_VINCULADA = @V_CODIGOPESSOA 
					--                      AND   CD_PESSOA = @P_CD_PESSOA_MOVIMENTA 
					--                      AND   ID_ORDEM = 2 AND CD_FUNCAO = @P_CODIGOFUNCAO AND NM_CICLO= @P_NUMEROCICLO)
					COMMIT TRANSACTION
					-- MONTAR A REDE UNILEVEL - DESCENDENTE
					SELECT @V_CONT_DESCENDENTE = COUNT(*)
					FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
					WHERE NM_CICLO            = @P_NUMEROCICLO
					AND   ID_ORDEM            = 2
					AND   CD_FUNCAO           = @P_CODIGOFUNCAO
					AND   ID_TIPO_REDE_MN     = 1
					AND   CD_PESSOA          = @V_CODIGOPESSOAVINCULADA
					AND   CD_PESSOA_VINCULADA = @V_CODIGOPESSOA
					IF (@V_CONT_DESCENDENTE = 0)
					BEGIN
						BEGIN TRANSACTION
						INSERT INTO TB_WRK_MN_TOPOLOGIA
						(CD_PESSOA,
						CD_FUNCAO,
						NM_CICLO,
						CD_PESSOA_VINCULADA,
						ID_ORDEM,
						NM_NIVEL,
						ID_TIPO_REDE_MN) VALUES
						(@V_CODIGOPESSOAVINCULADA, @P_CODIGOFUNCAO, @P_NUMEROCICLO, @V_CODIGOPESSOA, 2,1,1)
						COMMIT TRANSACTION
					END 
					BEGIN TRANSACTION
					INSERT INTO TB_WRK_MN_TOPOLOGIA
				       	(CD_PESSOA,
					CD_FUNCAO,
					NM_CICLO,
				       	CD_PESSOA_VINCULADA,
				       	ID_ORDEM,
				       	NM_NIVEL,
				       	ID_TIPO_REDE_MN) 
				       	SELECT CD_PESSOA, 
				       	CD_FUNCAO,
			              	NM_CICLO,
		        	      	@V_CODIGOPESSOA,
			              	ID_ORDEM, 
				      	NM_NIVEL+1, 
			              	ID_TIPO_REDE_MN
				       	FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
				       	WHERE CD_PESSOA_VINCULADA = @V_CODIGOPESSOAVINCULADA
				       	AND CD_FUNCAO = @P_CODIGOFUNCAO
				       	AND ID_ORDEM = 2
				       	AND NM_CICLO = @P_NUMEROCICLO
				       	AND ID_TIPO_REDE_MN = 1
					COMMIT TRANSACTION

				      	-- MONTAR A REDE UNILEVEL - ASCENDENTE
				      	SELECT @V_CODIGOPESSOAASCENDENTE = @V_CODIGOPESSOA
					
					SELECT @V_NUMERONIVEL = 1
					WHILE @V_CODIGOPESSOAVINCULADA <> 0 
					BEGIN
						SELECT @V_CONT_ASCENDENTE = COUNT(*)
						FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
						WHERE NM_CICLO            = @P_NUMEROCICLO
						AND   ID_ORDEM            = 1
						AND   CD_FUNCAO           = @P_CODIGOFUNCAO
						AND   ID_TIPO_REDE_MN     = 1
						AND   CD_PESSOA           = @V_CODIGOPESSOA
						AND   CD_PESSOA_VINCULADA = @V_CODIGOPESSOAVINCULADA
						IF (@V_CONT_ASCENDENTE = 0)
				    		BEGIN
				          		-- REDE UNILEVEL
						  BEGIN TRANSACTION
					  		INSERT INTO TB_WRK_MN_TOPOLOGIA (
				              		CD_PESSOA,
					              CD_FUNCAO,
					              NM_CICLO,
					              CD_PESSOA_VINCULADA,
					              ID_ORDEM,
					              NM_NIVEL,
				        	      ID_TIPO_REDE_MN)
					          VALUES (@V_CODIGOPESSOA,
					                 @P_CODIGOFUNCAO,
					                 @P_NUMEROCICLO,
					                 @V_CODIGOPESSOAVINCULADA,
					                 1,
				        	         @V_NUMERONIVEL,
									 1)
						  COMMIT TRANSACTION
				                
						END
						-- SETA A VARIAVEL
						SELECT @V_CODIGOPESSOAASCENDENTE = @V_CODIGOPESSOAVINCULADA
						SELECT @V_NUMERONIVEL = @V_NUMERONIVEL + 1
	
						SELECT @V_CODIGOPESSOAVINCULADA = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
						FROM TB_PESSOA_VINCULO_HISTORICO A with (NOLOCK)
						WHERE A.CD_PESSOA = @V_CODIGOPESSOAASCENDENTE
						AND A.CD_FUNCAO = @P_CODIGOFUNCAO
						AND A.NM_CICLO = (SELECT ISNULL(MAX(B.NM_CICLO),0)
			                        FROM TB_PESSOA_VINCULO_HISTORICO B with (NOLOCK)
                        			WHERE B.CD_PESSOA = A.CD_PESSOA
			                        AND B.CD_FUNCAO = A.CD_FUNCAO
			                        AND B.NM_CICLO <= @P_NUMEROCICLO)

					END
				END
				FETCH NEXT FROM @CURSOR_PESSOA
				INTO @C_CD_PESSOA , @C_SEQUENCIA
			END
		END -- TRABALHA COM MMN

		IF (@V_TRABALHA_MMN = 2)
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_PESSOA SET CD_PESSOA_INDICANTE = @P_CD_PESSOA_PAI_NOVO, 
						CD_ESTRUTURA_COMERCIAL = @V_CD_EST_COMERCIAL_PAI_NOVO,
						CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
						DT_ATUALIZACAO = GETDATE()  
			WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA
			COMMIT TRANSACTION

			IF (@V_CD_EST_COMERCIAL_PAI_NOVO <> @V_CD_EST_COMERCIAL_MOVIMENTA)
			BEGIN
				BEGIN TRANSACTION
				-- ATUALIZA A ESTRUTURA COMERCIAL
				insert into TB_PESSOA_INDICADOR (
				CD_PESSOA,
				CD_FUNCAO,
				CD_EST_COMERCIAL,
				NM_CICLO,
				CD_INDICADOR_PESSOAL,
				VL_INDICADOR_PESSOAL,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO,
				CD_PESSOA_VINCULADA )
				SELECT  CD_PESSOA,
					CD_FUNCAO,
					@V_CD_EST_COMERCIAL_PAI_NOVO,
					NM_CICLO,
					CD_INDICADOR_PESSOAL,
					VL_INDICADOR_PESSOAL,
					GETDATE(),
					@P_CODIGOUSUARIO,
					GETDATE(),
					@P_CODIGOUSUARIO,
					CD_PESSOA_VINCULADA
				FROM TB_PESSOA_INDICADOR  with (NOLOCK)
				WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND NM_CICLO = @P_NUMEROCICLO 
				COMMIT TRANSACTION

				BEGIN TRANSACTION
				DELETE TB_PESSOA_INDICADOR 
				WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND NM_CICLO = @P_NUMEROCICLO AND CD_EST_COMERCIAL <> @V_CD_EST_COMERCIAL_PAI_NOVO
				COMMIT TRANSACTION

				BEGIN TRANSACTION
				UPDATE TB_ALOCACAO_REDE SET CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL_PAI_NOVO,
							    CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
							    DT_ATUALIZACAO = GETDATE()
				WHERE CD_PESSOA =  @P_CD_PESSOA_MOVIMENTA AND NM_CICLO = @P_NUMEROCICLO
				COMMIT TRANSACTION
		
				BEGIN TRANSACTION
				UPDATE TB_PESSOA_RESUMO SET CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL_PAI_NOVO,
							CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
							DT_ATUALIZACAO = GETDATE() 
				WHERE CD_PESSOA = @P_CD_PESSOA_MOVIMENTA AND CD_FUNCAO = @P_CODIGOFUNCAO
				COMMIT TRANSACTION

				BEGIN TRANSACTION
				UPDATE TB_HIST_SITUACAO_CONSULTORA SET CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL_PAI_NOVO,
							CD_USUARIO_ATUALIZACAO =  @P_CODIGOUSUARIO,
							DT_ATUALIZACAO = GETDATE()  
				WHERE CD_PESSOA =  @P_CD_PESSOA_MOVIMENTA AND NM_CICLO = @P_NUMEROCICLO   
				COMMIT TRANSACTION
			END


		END
	END
	END


END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
