SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE OR ALTER PROCEDURE [dbo].[pr_ApiPedidoAplicaCupomDescontoManual]
	@p_numeroPedido					numeric(18,0),
	@p_codigoPessoaCupomDesconto	numeric(18,0),
	@p_descCupomDesconto			varchar(80),
	@p_codigoUsuario				numeric(18,0),

	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	
AS

DECLARE @v_valorFator					numeric(18,2),
		@v_idTipoBeneficio				int,
		@v_valorBeneficio				numeric(18,2),
		@v_valorDescontoCupom			numeric(18,2),
		@v_valorRestaDescontoCupom		numeric(18,2),
		@v_valorPraticadoPedido			numeric(18,2),
		@v_valorLiquidoPedido			numeric(18,2),
		@v_valorTabelaPedido			numeric(18,2),
		@v_valorDescontoCupomAplicado	numeric(18,2),
		@v_idTipoCalculoLucratividade	int,
		@v_cursorItensPedido			cursor,
		@v_valorTabelaItem				numeric(18,2),
		@v_valorPraticadoItem			numeric(18,2),
		@v_valorLiquidoItem				numeric(18,2),
		@v_valorDescontoItem			numeric(18,2),
		@v_numeroPedidoItem				numeric(18,0)
		
BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = 'Cupom/Voucher aplicado com sucesso'
	SELECT @p_linhasAfetadas = 0

	-- no caso da API temos que identicar o cupom primeiramente, pois pode ser passado apenas a chave dele sem o id direto
	IF @p_codigoPessoaCupomDesconto = 0
		BEGIN
			SELECT @p_codigoPessoaCupomDesconto = ISNULL(MAX(CD_PESSOA_CUPOM_DESCONTO),0)
			  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
			 WHERE DC_CODIGO_CUPOM = @p_descCupomDesconto
		END

	IF @p_codigoPessoaCupomDesconto = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'Cupom/Voucher não encontrado'
		END
	ELSE
		BEGIN
			-- VAMOS VALIDAR ESSE CUPOM E IDENTIFICAR SE ELE É VÁLIDO PARA USO NO PEDIDO
			EXEC dbo.pr_ApiPedidoValidaCupomDescontoManual	@p_numeroPedido,
															@p_codigoPessoaCupomDesconto,
															@p_codigoErro OUTPUT,
															@p_descricaoErro OUTPUT,
															@p_linhasAfetadas OUTPUT

		END


	-- INICIALMENTE PRECISAMOS BUSCAR OS DADOS DO CUPOM QUE SERÁ APLICADO, DEVIDO AO NOVO MODELO DE CÁLCULO DE LUCRATIVIDADE QUE SERÁ UTILIZADO NA CACAUSHOW PRECISAREMOS DESMEMBRAR O DESCONTO DO CUPOM EM TODOS OS ITENS DO PEDIDO
	SELECT @v_idTipoBeneficio = ID_TIPO_BENEFICIO_CUPOM_DESCONTO,
		   @v_valorBeneficio = VL_BENEFICIO
	  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
	 WHERE CD_PESSOA_CUPOM_DESCONTO = @p_codigoPessoaCupomDesconto

	-- VAMOS OBTER ALGUMAS INFORMAÇÕES DO PEDIDO QUE SERÃO UTIIZADAS NO CÁLCULO TAMBÉM
	SELECT @v_idTipoCalculoLucratividade = R.ID_APLICA_LUCRATIVIDADE,
		   @v_valorDescontoCupomAplicado = ISNULL(P.VL_DESCONTO_CUPOM_APLICADO,0)
	  FROM TB_PEDIDO P WITH(NOLOCK), TB_REGRA_COMERCIAL R WITH(NOLOCK)
	 WHERE P.NM_PEDIDO = @p_numeroPedido
	   AND P.CD_REGRA_COMERCIAL = R.CD_REGRA_COMERCIAL

	SELECT @v_valorPraticadoPedido = SUM(I.VL_PRATICADO_TOTAL),
		   @v_valorLiquidoPedido = SUM(I.VL_LIQUIDO_TOTAL),
		   @v_valorTabelaPedido = SUM(I.VL_TABELA_TOTAL)
	  FROM TB_PEDIDO_ITEM I WITH(NOLOCK)
	 WHERE I.NM_PEDIDO = @p_numeroPedido
	   AND I.NM_PEDIDO_ITEM_CONJUNTO = 0
	   AND I.ID_PRODUTO_COBRADO = 1

	-- VAMOS CHECAR SE O VALOR DO PEDIDO JÁ ESTÁ ZERADO, NESTE CASO VAMOS SAIR DA ROTINA
	IF (@v_valorLiquidoPedido - @v_valorDescontoCupomAplicado) <= 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'O valor do pedido está zerado, não é possível aplicar mais descontos.'
			RETURN
		END

	--CALCULA O VALOR DO DESCONTO DE ACORDO COM A REGRA DE LUCRATIVIDADE
	IF @v_idTipoCalculoLucratividade IN (1,3)
		BEGIN
			-- APLICA O DESCONTO EM CIMA DO VALOR TABELA, A LUCRATIVIDADE VIRÁ DEPOIS
			IF @v_idTipoBeneficio = 1 -- PERCENTUAL
				BEGIN
					SELECT @v_valorDescontoCupom = (@v_valorTabelaPedido - @v_valorDescontoCupomAplicado) * (@v_valorBeneficio / 100)
				END
			ELSE -- VALOR FIXO
				BEGIN
					SELECT @v_valorDescontoCupom = @v_valorBeneficio
					-- PODE SER QUE O VALOR DO CUPOM SEJA MAIOR QUE O VALOR DO PEDIDO E NESTE CASO VAMOS IGUALAR OS VALORES
					IF @v_valorDescontoCupom > (@v_valorLiquidoPedido - @v_valorDescontoCupomAplicado)
						BEGIN
							SELECT @v_valorDescontoCupom = (@v_valorLiquidoPedido - @v_valorDescontoCupomAplicado)
							SELECT @p_descricaoErro = 'Cupom/Voucher aplicado com sucesso. OBS: O valor disponível no voucher é maior que o valor do pedido, é possível adicionar mais itens para aproveitar todo o desconto!'
						END
				END
		END

	IF @v_idTipoCalculoLucratividade = 2
		BEGIN
			-- APLICA O DESCONTO EM CIMA DO VALOR LÍQUIDO, A LUCRATIVIDADE JÁ FOI APLICADA NESTE PONTO
			IF @v_idTipoBeneficio = 1 -- PERCENTUAL
				BEGIN
					SELECT @v_valorDescontoCupom = (@v_valorLiquidoPedido - @v_valorDescontoCupomAplicado) * (@v_valorBeneficio / 100)
				END
			ELSE -- VALOR FIXO
				BEGIN
					SELECT @v_valorDescontoCupom = @v_valorBeneficio
					-- PODE SER QUE O VALOR DO CUPOM SEJA MAIOR QUE O VALOR DO PEDIDO E NESTE CASO VAMOS IGUALAR OS VALORES
					IF @v_valorDescontoCupom > (@v_valorLiquidoPedido - @v_valorDescontoCupomAplicado)
						BEGIN
							SELECT @v_valorDescontoCupom = (@v_valorLiquidoPedido - @v_valorDescontoCupomAplicado)
							SELECT @p_descricaoErro = 'Cupom/Voucher aplicado com sucesso. OBS: O valor disponível no voucher é maior que o valor do pedido, é possível adicionar mais itens para aproveitar todo o desconto!'
						END
				END
		END

	--AQUI VAMOS COMEÇAR A DESMEMBRAR O VALOR DE DESCONTO CALCULADO NOS ITENS E ATUALIZAR OS DADOS NAS TABELAS DO PEDIDO E SEUS ITENS
	SELECT @v_valorRestaDescontoCupom = @v_valorDescontoCupom

	SET @v_cursorItensPedido = CURSOR FAST_FORWARD
	FOR
		SELECT I.VL_PRATICADO_TOTAL,
			   I.VL_LIQUIDO_TOTAL,
			   I.VL_TABELA_TOTAL,
			   I.NM_PEDIDO_ITEM
		  FROM TB_PEDIDO_ITEM I WITH(NOLOCK)
		 WHERE I.NM_PEDIDO = @p_numeroPedido
		   AND I.NM_PEDIDO_ITEM_CONJUNTO = 0
		   AND I.ID_PRODUTO_COBRADO = 1

	OPEN @v_cursorItensPedido
	FETCH NEXT FROM @v_cursorItensPedido
	INTO @v_valorPraticadoItem, @v_valorLiquidoItem, @v_valorTabelaItem, @v_numeroPedidoItem

	WHILE @@FETCH_STATUS = 0
		BEGIN
			--CALCULA O VALOR DO DESCONTO DE ACORDO COM A REGRA DE LUCRATIVIDADE
			IF @v_idTipoCalculoLucratividade IN (1,3)
				BEGIN
					-- APLICA O DESCONTO EM CIMA DO VALOR TABELA, A LUCRATIVIDADE VIRÁ DEPOIS
					SELECT @v_valorDescontoItem = @v_valorDescontoCupom * (@v_valorTabelaItem / (@v_valorTabelaPedido))
				END

			IF @v_idTipoCalculoLucratividade IN (2)
				BEGIN
					-- APLICA O DESCONTO EM CIMA DO VALOR LÍQUIDO, A LUCRATIVIDADE JÁ FOI APLICADA NESTE PONTO
					SELECT @v_valorDescontoItem = @v_valorDescontoCupom * (@v_valorLiquidoItem / (@v_valorLiquidoPedido))
				END

			-- ATUALIZA O VALOR DO DESCONTO NO ITEM
			UPDATE TB_PEDIDO_ITEM SET VL_DESCONTO_CUPOM = ISNULL(VL_DESCONTO_CUPOM,0) + @v_valorDescontoItem
			WHERE NM_PEDIDO_ITEM = @v_numeroPedidoItem

			SELECT @v_valorRestaDescontoCupom -= @v_valorDescontoItem

			FETCH NEXT FROM @v_cursorItensPedido
			INTO @v_valorPraticadoItem, @v_valorLiquidoItem, @v_valorTabelaItem, @v_numeroPedidoItem
		END

	-- RESTOU ALGUM VALOR NO DESMEMBRAMENTO VAMOS JOGAR NO ÚLTIMO ITEM PROCESSADO
	IF @v_valorRestaDescontoCupom <> 0
		BEGIN
			UPDATE TB_PEDIDO_ITEM SET VL_DESCONTO_CUPOM = ISNULL(VL_DESCONTO_CUPOM,0) + @v_valorRestaDescontoCupom
			WHERE NM_PEDIDO_ITEM = @v_numeroPedidoItem
		END
	
	-- PARA FINALIZAR ATUALIZA O VALOR DE DESCONTO DO PEDIDO E ATUALIZA AS INFORMAÇÕES DO CUPOM
	UPDATE TB_PEDIDO
	   SET VL_DESCONTO_CUPOM_APLICADO = ISNULL(VL_DESCONTO_CUPOM_APLICADO,0) + @v_valorDescontoCupom
	 WHERE NM_PEDIDO = @p_numeroPedido

	UPDATE TB_PESSOA_CUPOM_DESCONTO
	   SET ID_SITUACAO_CUPOM_DESCONTO = 2,
		   VL_DESCONTO_APLICADO = @v_valorDescontoCupom,
		   NM_PEDIDO_UTILIZACAO = @p_numeroPedido,
		   DT_UTILIZACAO = GETDATE(),
		   CD_USUARIO_UTILIZACAO = @p_codigoUsuario
	 WHERE CD_PESSOA_CUPOM_DESCONTO = @p_codigoPessoaCupomDesconto

	 -- EFETUANDO RECALCULO DE DESCONTO SUGERIDO APLICADO, POIS O DESCONTO SUGERIDO DEVE VIR APÓS O CUPOM
	 DECLARE @v_cursorItensDescontoSugerido CURSOR,
			@v_valorTabelaItemSugerido numeric(18,2),
			@v_numeroPedidoItemSugerido numeric(18,0),
			@v_valorDescontoSugerido numeric(18,2),
			@v_valorDescontoCupomDescontoSugerido numeric(18,2),
			@v_valorDescontoSugeridoAplicado numeric(18,2),
			@v_qtReservada INT

	SET @v_cursorItensDescontoSugerido = CURSOR FAST_FORWARD
	FOR
		SELECT I.VL_TABELA_TOTAL,
			   I.NM_PEDIDO_ITEM,
			   I.VL_DESCONTO_SUGERIDO,
			   I.VL_DESCONTO_CUPOM,
			   I.QT_RESERVADA
		  FROM TB_PEDIDO_ITEM I WITH(NOLOCK)
		 WHERE I.NM_PEDIDO = @p_numeroPedido
		   AND I.NM_PEDIDO_ITEM_CONJUNTO = 0
		   AND I.ID_PRODUTO_COBRADO = 1
		   AND I.VL_DESCONTO_SUGERIDO > 0

	OPEN @v_cursorItensDescontoSugerido
	FETCH NEXT FROM @v_cursorItensDescontoSugerido
	INTO @v_valorTabelaItemSugerido, @v_numeroPedidoItemSugerido, @v_valorDescontoSugerido, @v_valorDescontoCupomDescontoSugerido, @v_qtReservada

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @v_valorDescontoSugeridoAplicado = (@v_valorTabelaItemSugerido - ISNULL(@v_valorDescontoCupomDescontoSugerido, 0)) * (@v_valorDescontoSugerido / 100)

		UPDATE TB_PEDIDO_ITEM
		   SET VL_DESCONTO_SUGERIDO_APLICADO = @v_valorDescontoSugeridoAplicado
		 WHERE NM_PEDIDO_ITEM = @v_numeroPedidoItemSugerido

		FETCH NEXT FROM @v_cursorItensDescontoSugerido
		INTO @v_valorTabelaItemSugerido, @v_numeroPedidoItemSugerido, @v_valorDescontoSugerido, @v_valorDescontoCupomDescontoSugerido, @v_qtReservada
	END

	CLOSE @v_cursorItensDescontoSugerido
	DEALLOCATE @v_cursorItensDescontoSugerido


	--TEMOS QUE JOGAR O VALOR DO DESCONTO NO VALOR PRATICADO DO ITEM, COMO A IDEIA É APLICAR O CUPOM PRIMEIRO E DEPOIS APLICAR OS DEMAIS DESCONTOS O VALOR PRATICADO SERÁ ALTERADO NOS CASOS DE LUCRATIVIDADE PÓS PROMOÇÃO
	IF @v_idTipoCalculoLucratividade IN (1,3)
		BEGIN
			UPDATE TB_PEDIDO_ITEM
			SET VL_PRATICADO_TOTAL = VL_TABELA_TOTAL - ISNULL(VL_DESCONTO_CUPOM,0) - ISNULL(VL_DESCONTO_SUGERIDO_APLICADO, 0)
			WHERE NM_PEDIDO = @p_numeroPedido
		END

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
