SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiPedidoIniciaPedido]
	@p_cicloPedido				NUMERIC(6,0),
	@p_codigoFuncao				INT,
	@p_codigoPapelCarreira		INT,
	@p_codigoRegraCaptacao		NUMERIC(10,0),
	@p_codigoPessoa				NUMERIC(18,0),
	@p_codigoExternoPessoa		VARCHAR(100),
	@p_idAtualizaPessoa			INT,
	@p_descNomePessoa			VARCHAR(160),
	@p_idTipoPessoa				INT,
	@p_descCpfCnpj				VARCHAR(100),
	@p_descRGIE					VARCHAR(100),
	@p_descEmailPessoal			VARCHAR(100),
	@p_descEmailComercial		VARCHAR(100),
	@p_descEmailAlternativo		VARCHAR(100),
	@p_descTelefoneResidencial	VARCHAR(100),
	@p_descTelefoneCelular		VARCHAR(100),
	@p_codigoPostalPedido		VARCHAR(10),
	@p_descPaisEntrega			VARCHAR(80),
	@p_descEstadoEntrega		VARCHAR(80),
	@p_descCidadeEntrega		VARCHAR(80),
	@p_descBairroEntrega		VARCHAR(80),
	@p_descLogradouroEntrega	VARCHAR(80),
	@p_descNumeroEntrega		VARCHAR(10),
	@p_descComplementoEntrega	VARCHAR(60),
	@p_descReferenciaEntrega	VARCHAR(80),
	
	@p_codigoUsuario			NUMERIC(18,0),

	@p_numeroPedido				NUMERIC(18,0) OUTPUT,
	@p_codigoPessoaNova			NUMERIC(18,0) OUTPUT,
	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE @v_codigoEstGeografica		NUMERIC(18,0),
		@v_codigoEstComercial		NUMERIC(18,0),
		@v_codigoPapelDesempenho	NUMERIC(18,0),
		@v_existeRegraCaptacao		INT,
		@v_existePlanoPgto			INT,
		@v_existeIndicante			INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	SELECT @v_codigoEstComercial = 0

	-- VAMOS VALIDAR A INFORMAÇÃO ENVIADA PARA O ENDEREÇO POIS PRECISAREMOS DO CÓDIGO DA EST GEOGRÁFICA, SE INFORMADO
	IF LEN(@p_codigoPostalPedido) > 0 
		BEGIN
			SELECT  @v_codigoEstGeografica = ISNULL(CD_EST_GEOGRAFICA,0),
					@p_descPaisEntrega = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
					@p_descEstadoEntrega = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
					@p_descCidadeEntrega = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3)
			  FROM TB_EST_GEOGRAFICA WITH(NOLOCK)
			 WHERE CD_CODIGO_POSTAL = @p_codigoPostalPedido

			-- SAI DA ROTINA SE NÃO EXISTIR O CEP NA BASE DE DADOS
			IF @v_codigoEstGeografica = 0
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'CEP ENVIADO não encontrado na base de dados'
					RETURN
				END
		END

	-- VALIDA SE A REGRA DE CAPTAÇÃO INFORMADA EXISTE
	SELECT @v_existeRegraCaptacao = COUNT(*)
	  FROM TB_REGRA_COMERCIAL WITH(NOLOCK)
	 WHERE CD_REGRA_COMERCIAL = @p_codigoRegraCaptacao

	IF @v_existeRegraCaptacao = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Regra de captação enviada não encontrada'
			RETURN
		END

	-- PRIMEIRAMENTE VAMOS VALIDAR SE PRECISAMOS INSERIR A PESSOA CASO VENHA DA REQUISIÇÃO COMO UMA NOVA PESSOA
	IF @p_codigoPessoa = 0
		-- VAMOS INSERIR A PESSOA ENVIADA
		BEGIN
			-- VALIDA SE A PESSOA É FÍSICA OU JURÍDICA
			IF @p_idTipoPessoa = 1
				BEGIN
					EXEC pr_ApiPessoaInserePessoa @p_codigoPessoa,
												  @p_idTipoPessoa,
												  @p_descNomePessoa,
												  '',	-- sobrenome
												  null,	-- razão social
												  null, -- nome fantasia
												  null, -- sexo
												  null, -- data nascimento
												  null, -- estado civil
												  null, -- escolaridade
												  null, -- tipo atividade
												  @p_descCpfCnpj,
												  @p_codigoExternoPessoa,
												  0, -- INDICANTE
												  @p_codigoFuncao,
												  'I',
												  -10,
												  @p_codigoErro OUTPUT,
												  @p_descErro OUTPUT,
												  @p_qtLinhasAfetadas OUTPUT,
												  @p_codigoPessoa OUTPUT

					IF @p_codigoErro = 0
						BEGIN
							SELECT @p_codigoPessoaNova = @p_codigoPessoa

							-- VAMOS INSERIR OS DEMAIS DADOS
							EXEC pr_ApiPessoaInserePessoaDocumento @p_codigoPessoa,
																   1,
																   @p_descCpfCnpj,
																   '',
																   NULL,
																   -10,
																   'I',
																   @p_codigoErro OUTPUT,
																   @p_descErro OUTPUT,
																   @p_qtLinhasAfetadas OUTPUT

							-- grava os demais documentos e telefones caso informados
							IF LEN(@p_descRGIE) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaDocumento @p_codigoPessoa,
																		   2,
																		   @p_descRGIE,
																		   '',
																		   NULL,
																		   -10,
																		   'I',
																		   @p_codigoErro OUTPUT,
																		   @p_descErro OUTPUT,
																		   @p_qtLinhasAfetadas OUTPUT
									
								END

							IF LEN(@p_descEmailPessoal) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaEmail	@p_codigoPessoa,
																		1,
																		@p_descEmailPessoal,
																		'',
																		-10,
																		'I',
																		@p_codigoErro OUTPUT,
																		@p_descErro OUTPUT,
																		@p_qtLinhasAfetadas OUTPUT
								END

							IF LEN(@p_descEmailComercial) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaEmail	@p_codigoPessoa,
																		2,
																		@p_descEmailComercial,
																		'',
																		-10,
																		'I',
																		@p_codigoErro OUTPUT,
																		@p_descErro OUTPUT,
																		@p_qtLinhasAfetadas OUTPUT
								END

							IF LEN(@p_descEmailAlternativo) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaEmail	@p_codigoPessoa,
																		1,
																		@p_descEmailAlternativo,
																		'',
																		-10,
																		'I',
																		@p_codigoErro OUTPUT,
																		@p_descErro OUTPUT,
																		@p_qtLinhasAfetadas OUTPUT
								END

							IF LEN(@p_descTelefoneResidencial) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaTelefone	@p_codigoPessoa,
																			1,
																			@p_descTelefoneResidencial,
																			'',
																			'',
																			0,
																			0,
																			-10,
																			'I',
																			@p_codigoErro OUTPUT,
																			@p_descErro OUTPUT,
																			@p_qtLinhasAfetadas OUTPUT
								END

							IF LEN(@p_descTelefoneCelular) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaTelefone	@p_codigoPessoa,
																			3,
																			@p_descTelefoneCelular,
																			'',
																			'',
																			0,
																			0,
																			-10,
																			'I',
																			@p_codigoErro OUTPUT,
																			@p_descErro OUTPUT,
																			@p_qtLinhasAfetadas OUTPUT
								END

							-- por último vamos inserir os endereços da pessoa, primeiro o residencial
							EXEC pr_ApiPessoaInserePessoaEndereco	@p_codigoPessoa,
																	1,
																	@v_codigoEstGeografica,
																	@p_descPaisEntrega,
																	@p_descEstadoEntrega,
																	@p_descCidadeEntrega,
																	@p_descBairroEntrega,
																	@p_descLogradouroEntrega,
																	null,
																	null,
																	null,
																	null,
																	@p_codigoPostalPedido,
																	@p_descNumeroEntrega,
																	@p_descComplementoEntrega,
																	@p_descReferenciaEntrega,
																	'',
																	-10,
																	'I',
																	@p_codigoErro OUTPUT,
																	@p_descErro OUTPUT,
																	@p_qtLinhasAfetadas OUTPUT

							-- endereço de entrega
							EXEC pr_ApiPessoaInserePessoaEndereco	@p_codigoPessoa,
																	1,
																	@v_codigoEstGeografica,
																	@p_descPaisEntrega,
																	@p_descEstadoEntrega,
																	@p_descCidadeEntrega,
																	@p_descBairroEntrega,
																	@p_descLogradouroEntrega,
																	null,
																	null,
																	null,
																	null,
																	@p_codigoPostalPedido,
																	@p_descNumeroEntrega,
																	@p_descComplementoEntrega,
																	@p_descReferenciaEntrega,
																	'',
																	-10,
																	'I',
																	@p_codigoErro OUTPUT,
																	@p_descErro OUTPUT,
																	@p_qtLinhasAfetadas OUTPUT
						END

				END

			IF @p_idTipoPessoa = 2
				BEGIN
					EXEC pr_ApiPessoaInserePessoa @p_codigoPessoa,
												  @p_idTipoPessoa,
												  '',	-- nome
												  '',	-- sobrenome
												  @p_descNomePessoa,	-- razão social
												  '', -- nome fantasia
												  null, -- sexo
												  null, -- data nascimento
												  null, -- estado civil
												  null, -- escolaridade
												  null, -- tipo atividade
												  @p_descCpfCnpj,
												  @p_codigoExternoPessoa,
												  0,-- INDICANTE
												  @p_codigoFuncao,
												  'I',
												  -10,
												  @p_codigoErro OUTPUT,
												  @p_descErro OUTPUT,
												  @p_qtLinhasAfetadas OUTPUT,
												  @p_codigoPessoa OUTPUT

					IF @p_codigoErro = 0
						BEGIN
							SELECT @p_codigoPessoaNova = @p_codigoPessoa

							-- VAMOS INSERIR OS DEMAIS DADOS
							EXEC pr_ApiPessoaInserePessoaDocumento @p_codigoPessoa,
																   1,
																   @p_descCpfCnpj,
																   '',
																   NULL,
																   -10,
																   'I',
																   @p_codigoErro OUTPUT,
																   @p_descErro OUTPUT,
																   @p_qtLinhasAfetadas OUTPUT

							-- grava os demais documentos e telefones caso informados
							IF LEN(@p_descRGIE) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaDocumento @p_codigoPessoa,
																		   2,
																		   @p_descRGIE,
																		   '',
																		   NULL,
																		   -10,
																		   'I',
																		   @p_codigoErro OUTPUT,
																		   @p_descErro OUTPUT,
																		   @p_qtLinhasAfetadas OUTPUT
									
								END

							IF LEN(@p_descEmailPessoal) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaEmail	@p_codigoPessoa,
																		1,
																		@p_descEmailPessoal,
																		'',
																		-10,
																		'I',
																		@p_codigoErro OUTPUT,
																		@p_descErro OUTPUT,
																		@p_qtLinhasAfetadas OUTPUT
								END

							IF LEN(@p_descEmailComercial) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaEmail	@p_codigoPessoa,
																		2,
																		@p_descEmailComercial,
																		'',
																		-10,
																		'I',
																		@p_codigoErro OUTPUT,
																		@p_descErro OUTPUT,
																		@p_qtLinhasAfetadas OUTPUT
								END

							IF LEN(@p_descEmailAlternativo) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaEmail	@p_codigoPessoa,
																		1,
																		@p_descEmailAlternativo,
																		'',
																		-10,
																		'I',
																		@p_codigoErro OUTPUT,
																		@p_descErro OUTPUT,
																		@p_qtLinhasAfetadas OUTPUT
								END

							IF LEN(@p_descTelefoneResidencial) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaTelefone	@p_codigoPessoa,
																			1,
																			@p_descTelefoneResidencial,
																			'',
																			'',
																			0,
																			0,
																			-10,
																			'I',
																			@p_codigoErro OUTPUT,
																			@p_descErro OUTPUT,
																			@p_qtLinhasAfetadas OUTPUT
								END

							IF LEN(@p_descTelefoneCelular) > 0
								BEGIN
									EXEC pr_ApiPessoaInserePessoaTelefone	@p_codigoPessoa,
																			3,
																			@p_descTelefoneCelular,
																			'',
																			'',
																			0,
																			0,
																			-10,
																			'I',
																			@p_codigoErro OUTPUT,
																			@p_descErro OUTPUT,
																			@p_qtLinhasAfetadas OUTPUT
								END

							-- por último vamos inserir os endereços da pessoa, primeiro o fiscal
							EXEC pr_ApiPessoaInserePessoaEndereco	@p_codigoPessoa,
																	3,
																	@v_codigoEstGeografica,
																	@p_descPaisEntrega,
																	@p_descEstadoEntrega,
																	@p_descCidadeEntrega,
																	@p_descBairroEntrega,
																	@p_descLogradouroEntrega,
																	null,
																	null,
																	null,
																	null,
																	@p_codigoPostalPedido,
																	@p_descNumeroEntrega,
																	@p_descComplementoEntrega,
																	@p_descReferenciaEntrega,
																	'',
																	-10,
																	'I',
																	@p_codigoErro OUTPUT,
																	@p_descErro OUTPUT,
																	@p_qtLinhasAfetadas OUTPUT

							-- endereço de entrega
							EXEC pr_ApiPessoaInserePessoaEndereco	@p_codigoPessoa,
																	1,
																	@v_codigoEstGeografica,
																	@p_descPaisEntrega,
																	@p_descEstadoEntrega,
																	@p_descCidadeEntrega,
																	@p_descBairroEntrega,
																	@p_descLogradouroEntrega,
																	null,
																	null,
																	null,
																	null,
																	@p_codigoPostalPedido,
																	@p_descNumeroEntrega,
																	@p_descComplementoEntrega,
																	@p_descReferenciaEntrega,
																	'',
																	-10,
																	'I',
																	@p_codigoErro OUTPUT,
																	@p_descErro OUTPUT,
																	@p_qtLinhasAfetadas OUTPUT
						END

				END
		END
		
	-- BUSCA OS DADOS COMPLEMENTARES PARA GERAR O PEDIDO
	SELECT  @v_codigoEstComercial = ISNULL(CD_EST_COMERCIAL,0),
			@v_codigoPapelDesempenho = CD_PAPEL_DESEMPENHO
	  FROM TB_PESSOA_RESUMO WITH(NOLOCK)
	 WHERE CD_PESSOA = @p_codigoPessoa
	   AND CD_FUNCAO = @p_codigoFuncao

	-- VERIFICA SE A PESSOA ESTÁ SEM EST COMERCIAL, NESTE CASO IREMOS ABORTAR CASO NÃO TENHA
	IF @v_codigoEstComercial = 0
		BEGIN
			SELECT @p_codigoErro = 2,
				   @p_descErro = 'Pessoa não está apta a receber pedidos'

			RETURN
		END

	-- agora vamos iniciar a inserção do pedido
	EXEC pr_PedidoInserePedido	@p_codigoPessoa,
								@p_codigoFuncao,
								@v_codigoEstComercial,
								1,
								@p_codigoRegraCaptacao,
								@p_cicloPedido,
								@p_codigoPapelCarreira,
								@v_codigoPapelDesempenho,
								6, -- origem api atsvd
								'', -- OBS
								-10,
								@p_codigoErro OUTPUT,
								@p_descErro OUTPUT,
								@p_qtLinhasAfetadas OUTPUT,
								@p_numeroPedido OUTPUT

	IF @p_codigoErro = 0 AND @v_codigoEstGeografica > 0
		BEGIN

			-- VAMOS ATUALIZAR AS DEMAIS INFORMAÇÕES DO PEDIDO
			-- INSERE O ENDEREÇO DO PEDIDO, CASO INFORMADO NA REQUISIÇÃO
			BEGIN TRANSACTION

			INSERT INTO TB_PEDIDO_ENDERECO
						(NM_PEDIDO,
						 ID_TIPO_ENDERECO,
						 CD_EST_GEOGRAFICA,
						 DC_CODIGO_POSTAL,
						 DC_NUMERO,
						 DC_COMPLEMENTO,
						 DC_REFERENCIA,
						 DC_ESTRUTURA_GEO1,
						 DC_ESTRUTURA_GEO2,
						 DC_ESTRUTURA_GEO3,
						 DC_ESTRUTURA_GEO4,
						 DC_ESTRUTURA_GEO5)
					VALUES (@p_numeroPedido,
							2,
							@v_codigoEstGeografica,
							@p_codigoPostalPedido,
							@p_descNumeroEntrega,
							@p_descComplementoEntrega,
							@p_descReferenciaEntrega,
							@p_descPaisEntrega,
							@p_descEstadoEntrega,
							@p_descCidadeEntrega,
							@p_descBairroEntrega,
							@p_descLogradouroEntrega)

			COMMIT TRANSACTION
		END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
