SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_APROVA_REMUNERACAO]
	@CD_MN_REMUNERACAO		NUMERIC(18,0),   -- PODE SER O CÓDIGO DA REMUNERAÇÃO OU DO DETALHE DA REMUNERAÇÃO
	@ID_ACAO				INT,
	@VL_AJUSTADO			NUMERIC(18,2),
	@VL_TAXA_ADMINISTRATIVA	NUMERIC(18,2),
	@PC_TAXA_ADMINISTRATIVA	NUMERIC(18,2),
	@DC_MOTIVO				VARCHAR(2000),
	@CD_USUARIO				NUMERIC(18,0),
	@VAR_RETORNO			INT OUTPUT,
	@DC_ERRO				NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS		INT OUTPUT
	
AS

DECLARE @VL_APROVADO			NUMERIC(18,2),
	@CD_PESSOA					NUMERIC(18,0),
	@CD_FUNCAO					NUMERIC(18,0),
	@ID_FORMA_PREMIACAO_MN		INT,
	@p_codigoGeradoSaque		NUMERIC(18,0),
        @ID_SITUACAO_REMUNERACAO	INT,
        @CURSOR_PESSOA_REMUNERACAO      CURSOR,
        @CD_MN_DETALHE_REMUNERACAO	NUMERIC(18,0),
	@CURSOR_EC_REMUNERACAO          CURSOR
	
DECLARE @CD_CLIENTE               NUMERIC(18,0)
DECLARE @EXISTE_DIV	          INT
DECLARE @NM_CICLO                 NUMERIC(18,0),
        @CD_EST_COMERCIAL_DEBITO  NUMERIC(18,0),
        @CD_EST_COMERCIAL_CREDITO NUMERIC(18,0),
        @VL_DIVIDA                NUMERIC(18,2)

BEGIN TRY
	-- EVOLUÇÃO PARA ATENDER A APROVAÇÃO DA REMUNERAÇÃO AUTOMATICA
	-- DATA 21/09/2017
--	SELECT @ID_SITUACAO_REMUNERACAO = ID_SITUACAO_REMUNERACAO
--	FROM TB_MN_REGRA_GERAL 

        SELECT @ID_SITUACAO_REMUNERACAO = ISNULL(MAX(ID_SITUACAO_REMUNERACAO),0)
        FROM TB_MN_REMUNERACAO  with (NOLOCK)
        WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO

        IF (@ID_SITUACAO_REMUNERACAO = 0)
        BEGIN
          SELECT @ID_SITUACAO_REMUNERACAO = ISNULL(MAX(ID_SITUACAO_REMUNERACAO),0)
          FROM TB_MN_REMUNERACAO  with (NOLOCK)
          WHERE CD_MN_REMUNERACAO IN (SELECT CD_MN_REMUNERACAO FROM TB_MN_DETALHE_REMUNERACAO  with (NOLOCK) WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_REMUNERACAO)
        END

	SELECT @QT_LINHAS_AFETADAS = 0


	-- APROVACAO
	IF @ID_ACAO = 1
		BEGIN

			IF (@ID_SITUACAO_REMUNERACAO = 1)  -- PENDENTE DE APROVAÇÃO
				BEGIN
					BEGIN TRANSACTION
					UPDATE TB_MN_REMUNERACAO
					   SET  ID_SITUACAO_REMUNERACAO = 2 , -- APROVADO
							ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 2, -- PROCESSADO
							VL_TAXA_ADMINISTRATIVA = @VL_TAXA_ADMINISTRATIVA,
							PC_TAXA_ADMINISTRATIVA = @PC_TAXA_ADMINISTRATIVA,
							DC_MOTIVO_AJUSTE = @DC_MOTIVO,
							CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
							DT_ATUALIZACAO = GETDATE()
					 WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO
					 COMMIT TRANSACTION
					 
					SELECT @CD_CLIENTE = VL_PARAMETRO 
					FROM TB_valor_PARAMETRO with (NOLOCK)
					WHERE CD_GRUPO_PARAMETRO = 6
					AND CD_PARAMETRO = 1
					AND CD_VALOR_PARAMETRO  =1 
					 
					IF (@CD_CLIENTE = 33) --CLOROFITUM
					BEGIN
         	  	                  SET @CURSOR_EC_REMUNERACAO  = CURSOR FAST_FORWARD
	                                  FOR
	                                  SELECT A.NM_CICLO, B.CD_EST_COMERCIAL, C.CD_EST_COMERCIAL, ISNULL(SUM(A.VL_REMUNERACAO),0)
		                          FROM TB_MN_DETALHE_REMUNERACAO A with (NOLOCK)
		                               INNER JOIN TB_PESSOA_RESUMO B  with (NOLOCK) ON A.CD_PESSOA = B.CD_PESSOA AND A.CD_FUNCAO = B.CD_FUNCAO
		                               INNER JOIN TB_PEDIDO C  with (NOLOCK) ON A.NM_ORIGEM_MN = C.NM_PEDIDO
		                          WHERE A.CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO
		                          AND   A.ID_ORIGEM_PREMIACAO_MN NOT IN (2,5)
		                          AND   B.CD_EST_COMERCIAL <> C.CD_EST_COMERCIAL
		                          GROUP BY A.NM_CICLO, B.CD_EST_COMERCIAL, C.CD_EST_COMERCIAL

	                                  OPEN @CURSOR_EC_REMUNERACAO
	                                  FETCH NEXT FROM @CURSOR_EC_REMUNERACAO
	                                  INTO @NM_CICLO, @CD_EST_COMERCIAL_DEBITO,@CD_EST_COMERCIAL_CREDITO ,@VL_DIVIDA  

	                                  WHILE @@FETCH_STATUS = 0
		                          BEGIN
					    SELECT @EXISTE_DIV	= COUNT(*)
					    FROM TB_MN_DIVIDA_EC with (NOLOCK)
                                            WHERE NM_CICLO               = @NM_CICLO
					    AND CD_EST_COMERCIAL_CREDITO = @CD_EST_COMERCIAL_CREDITO
                                            AND CD_EST_COMERCIAL_DEBITO  = @CD_EST_COMERCIAL_DEBITO
					    AND ID_SITUACAO_DIVIDA_EC    = 1 --PENDENTE
				            IF (@EXISTE_DIV = 0)
					    BEGIN
					      BEGIN TRANSACTION	
                                              INSERT INTO TB_MN_DIVIDA_EC (	NM_CICLO                 ,
										CD_EST_COMERCIAL_CREDITO ,
										CD_EST_COMERCIAL_DEBITO  ,
										VL_DIVIDA_EC             ,
										ID_SITUACAO_DIVIDA_EC    ,
										DT_CADASTRO              ,
										CD_USUARIO_CADASTRO      ) VALUES
									(	@NM_CICLO,
										@CD_EST_COMERCIAL_CREDITO,
										@CD_EST_COMERCIAL_DEBITO,
										@VL_DIVIDA,
										1,   -- PENDENTE
										GETDATE(),
										@CD_USUARIO
										   )	
					      COMMIT TRANSACTION
					    END
                                            ELSE
					    BEGIN
					      BEGIN TRANSACTION
					      UPDATE TB_MN_DIVIDA_EC 
					      SET VL_DIVIDA_EC           = @VL_DIVIDA,
						  DT_ATUALIZACAO         = GETDATE(),
						  CD_USUARIO_ATUALIZACAO = @CD_USUARIO
					      WHERE NM_CICLO               = @NM_CICLO
					      AND CD_EST_COMERCIAL_CREDITO = @CD_EST_COMERCIAL_CREDITO
                                              AND CD_EST_COMERCIAL_DEBITO  = @CD_EST_COMERCIAL_DEBITO
					      AND ID_SITUACAO_DIVIDA_EC    = 1 --PENDENTE
					      COMMIT TRANSACTION
					    END
		
		                            FETCH NEXT FROM @CURSOR_EC_REMUNERACAO
			                    INTO @NM_CICLO, @CD_EST_COMERCIAL_DEBITO,@CD_EST_COMERCIAL_CREDITO ,@VL_DIVIDA 
			                  END			
					
					END
					 
				END

	IF (@ID_SITUACAO_REMUNERACAO = 2)  -- APROVADO
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_MN_REMUNERACAO
			   SET  VL_TAXA_ADMINISTRATIVA = (ISNULL(VL_TAXA_ADMINISTRATIVA,0) +  @VL_TAXA_ADMINISTRATIVA),
					PC_TAXA_ADMINISTRATIVA = @PC_TAXA_ADMINISTRATIVA,
					DC_MOTIVO_AJUSTE = @DC_MOTIVO,
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
					DT_ATUALIZACAO = GETDATE()
			 WHERE CD_MN_REMUNERACAO IN (SELECT CD_MN_REMUNERACAO FROM TB_MN_DETALHE_REMUNERACAO  with (NOLOCK) WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_REMUNERACAO)
			 COMMIT TRANSACTION
		END
        IF (@ID_SITUACAO_REMUNERACAO = 2)
        BEGIN

	  	SET @CURSOR_PESSOA_REMUNERACAO = CURSOR FAST_FORWARD
		FOR
		SELECT A.CD_PESSOA, 
		A.CD_FUNCAO, 
		SUM(A.VL_REMUNERACAO) -ISNULL(@VL_TAXA_ADMINISTRATIVA,0), 
        	A.CD_MN_DETALHE_REMUNERACAO,
		B.ID_FORMA_PREMIACAO_MN
		FROM TB_MN_DETALHE_REMUNERACAO A with (NOLOCK), TB_MN_REMUNERACAO B with (NOLOCK)
		WHERE A.CD_PESSOA = B.CD_PESSOA
		AND   A.CD_FUNCAO = B.CD_FUNCAO
		AND   A.NM_CICLO  = B.NM_CICLO
		AND   A.CD_MN_REMUNERACAO = B.CD_MN_REMUNERACAO
		AND   A.CD_MN_DETALHE_REMUNERACAO = @CD_MN_REMUNERACAO
	        GROUP BY A.CD_PESSOA, 
	                 A.CD_FUNCAO, 
	                 A.CD_MN_DETALHE_REMUNERACAO,
        	         B.ID_FORMA_PREMIACAO_MN
        END
        IF (@ID_SITUACAO_REMUNERACAO = 1)
        BEGIN

	  	SET @CURSOR_PESSOA_REMUNERACAO = CURSOR FAST_FORWARD
		FOR
		SELECT A.CD_PESSOA, 
		A.CD_FUNCAO, 
		(A.VL_AJUSTADO -ISNULL(@VL_TAXA_ADMINISTRATIVA,0)),  
        	A.CD_MN_REMUNERACAO,
		A.ID_FORMA_PREMIACAO_MN
		FROM TB_MN_REMUNERACAO A with (NOLOCK)
		WHERE A.CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO
        END




	OPEN @CURSOR_PESSOA_REMUNERACAO
	FETCH NEXT FROM @CURSOR_PESSOA_REMUNERACAO
	INTO @CD_PESSOA , @CD_FUNCAO, @VL_APROVADO, @CD_MN_DETALHE_REMUNERACAO, @ID_FORMA_PREMIACAO_MN

	WHILE @@FETCH_STATUS = 0
		BEGIN
			-- GERA SALDO A FAVOR
			IF @ID_FORMA_PREMIACAO_MN = 1 
				BEGIN

					EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						@CD_PESSOA,
						@CD_FUNCAO,
						2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						1, -- TIPO_MOVIMENTO = CREDITO
						4, -- ORIGEM_MOVIMENTO = REMUNERAÇÃO MN
						@CD_MN_DETALHE_REMUNERACAO,
						20, -- ELEMENTO FINANCEIRO = CRIAÇÃO DE SALDO A FAVOR
						@VL_APROVADO,
						@CD_USUARIO,
						@VAR_RETORNO		OUTPUT,
						@DC_ERRO			OUTPUT,
						@QT_LINHAS_AFETADAS	OUTPUT	
				END

			-- GERA SAQUE AUTOMATICO
			IF @ID_FORMA_PREMIACAO_MN = 2
				BEGIN

					-- INSERE NA TABELA DE SAQUE
					EXEC pr_SaldoFavorInsereSaque
						0,
						@CD_PESSOA,
						@CD_FUNCAO,
						@VL_APROVADO,
						@VL_APROVADO,
						1,
						'I',
						@CD_USUARIO,
						@VAR_RETORNO			OUTPUT,
						@DC_ERRO			OUTPUT,
						@QT_LINHAS_AFETADAS		OUTPUT,
						@p_codigoGeradoSaque	OUTPUT

				END

			-- DISPONIVEL PARA RESGATE 
			IF @ID_FORMA_PREMIACAO_MN = 3
				BEGIN

					EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						@CD_PESSOA,
						@CD_FUNCAO,
						3, -- ENTIDADE_CONTA_CORRENTE = DISPONIVEL PARA RESGATE
						1, -- TIPO_MOVIMENTO = CREDITO
						4, -- ORIGEM_MOVIMENTO = REMUNERAÇÃO MN
						@CD_MN_DETALHE_REMUNERACAO,
						20, -- ELEMENTO FINANCEIRO = CRIAÇÃO DE SALDO A FAVOR
						@VL_APROVADO,
						@CD_USUARIO,
						@VAR_RETORNO		OUTPUT,
						@DC_ERRO		OUTPUT,
						@QT_LINHAS_AFETADAS	OUTPUT	
				END

			FETCH NEXT FROM @CURSOR_PESSOA_REMUNERACAO
			INTO @CD_PESSOA , @CD_FUNCAO, @VL_APROVADO, @CD_MN_DETALHE_REMUNERACAO, @ID_FORMA_PREMIACAO_MN
			END

		END 


	-- REPROVADO
	IF @ID_ACAO = 2
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_MN_REMUNERACAO
			   SET  DC_MOTIVO_AJUSTE = @DC_MOTIVO,
					ID_SITUACAO_REMUNERACAO = 3, -- REJEITADO
					ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 2, -- PROCESSADO
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
					DT_ATUALIZACAO = GETDATE()
			 WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO
			 COMMIT TRANSACTION
		END 

-- AJUSTAR VALOR
	IF @ID_ACAO = 3
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_MN_REMUNERACAO
			   SET  DC_MOTIVO_AJUSTE = @DC_MOTIVO,
					VL_AJUSTADO = @VL_AJUSTADO,
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
					DT_ATUALIZACAO = GETDATE()
			 WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO
			 COMMIT TRANSACTION
		END 


	-- PAGO
	IF @ID_ACAO = 4
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_MN_REMUNERACAO
			   SET  DC_MOTIVO_AJUSTE = @DC_MOTIVO,
				ID_SITUACAO_REMUNERACAO = 4, -- PAGO
				CD_USUARIO_ATUALIZACAO = @CD_USUARIO,
				DT_ATUALIZACAO = GETDATE()
			 WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO
			 COMMIT TRANSACTION
		END 

	SELECT @VAR_RETORNO = 0

END TRY	
BEGIN CATCH
   -- Whoops, there was an error
   SELECT @VAR_RETORNO = 1
   SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;








GO
