SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PESSOA_5A]
      @CD_PESSOA NUMERIC(18,0),   
      @CD_FUNCAO NUMERIC(18,0),
      @NM_CICLO NUMERIC(18,0),
      @VAR_RETORNO INT OUTPUT,
      @DC_ERRO NVARCHAR(MAX) OUTPUT,
      @QT_LINHAS_AFETADAS INT OUTPUT
     
AS
 
 
DECLARE @V_CD_EST_COMERCIAL      NUMERIC(18,0),
        @V_VL_INDICADOR_11       NUMERIC(18,4),
        @V_VL_ATIVACAO           NUMERIC(18,4),
        @V_VL_UTILIZADO_CALCULO  NUMERIC(18,4)
 
 
DECLARE @V_CD_PAPEL_CN                       NUMERIC(18,0),
        @v_CD_PAPEL_CONSTR_SUCESSO           NUMERIC(18,0),
      @v_CD_PAPEL_CONSTR_SENIOR            NUMERIC(18,0),
      @v_CD_PAPEL_FUTURO_LIDER             NUMERIC(18,0),
      @v_CD_PAPEL_LIDER                    NUMERIC(18,0),
      @v_CD_PAPEL_ESMERALDA                NUMERIC(18,0),
      @v_CD_PAPEL_SAFIRA                   NUMERIC(18,0),
      @v_CD_PAPEL_RUBI                     NUMERIC(18,0),
      @v_CD_PAPEL_DIAM                     NUMERIC(18,0),
      @v_CD_PAPEL_DIAM_DU                  NUMERIC(18,0),
      @v_CD_PAPEL_DIAM_TRI                 NUMERIC(18,0)
 
DECLARE @V_PER_1_CONSTR_SUCESSO           NUMERIC(18,2),
      @v_PER_1_CONSTR_SENIOR            NUMERIC(18,2),
      @v_PER_2_CONSTR_SENIOR            NUMERIC(18,2),
      @v_PER_1_FUTURO_LIDER             NUMERIC(18,2),
      @v_PER_2_FUTURO_LIDER             NUMERIC(18,2),
      @V_PER_1_LIDER                    NUMERIC(18,2),
      @V_PER_2_LIDER                    NUMERIC(18,2),
      @v_PER_1_ESMERALDA                NUMERIC(18,2),
      @v_PER_2_ESMERALDA                NUMERIC(18,2),
      @v_PER_1_SAFIRA                   NUMERIC(18,2),
      @v_PER_2_SAFIRA                   NUMERIC(18,2),
      @v_PER_1_RUBI                     NUMERIC(18,2),
      @v_PER_2_RUBI                     NUMERIC(18,2),
      @v_PER_1_DIAM                     NUMERIC(18,2),
      @v_PER_2_DIAM                     NUMERIC(18,2),
      @v_PER_1_DIAM_DU                  NUMERIC(18,2),
      @v_PER_2_DIAM_DU                  NUMERIC(18,2),
      @v_PER_1_DIAM_TRI                 NUMERIC(18,2),
      @v_PER_2_DIAM_TRI                 NUMERIC(18,2)
 
 
DECLARE @v_PER_CALCULO           NUMERIC(18,4),  -- SOMENTE PARA O INSERT
        @v_PER_1_CALCULO         NUMERIC(18,4),
        @v_PER_2_CALCULO         NUMERIC(18,4),
--        @V_QD_NIVEIS             NUMERIC(18,0)
        @V_VL_BONUS_ATIVACAO     NUMERIC(18,4),
        @V_VL_BONUS_TOT_ATIVACAO NUMERIC(18,4)
 
DECLARE @V_PER_BONUS_GRUPO_ESMERALDA NUMERIC(18,4),
        @V_PER_BONUS_GRUPO_SAFIRA    NUMERIC(18,4),
        @V_PER_BONUS_GRUPO_RUBI      NUMERIC(18,4),
        @V_PER_BONUS_GRUPO_DIAM      NUMERIC(18,4),
        @V_PER_BONUS_GRUPO_DIAM_DU   NUMERIC(18,4),
        @V_PER_BONUS_GRUPO_DIAM_TRI  NUMERIC(18,4),
        @V_PER_BONUS_TOT_GRUPO       NUMERIC(18,4)
 
DECLARE @V_QDE_PONTOS_GRUPO         NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_ESMERALDA  NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_SAFIRA     NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_RUBI       NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_DIAM       NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_DIAM_DU    NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_DIAM_TRI   NUMERIC(18,0)
 
 
DECLARE @CURSOR_TOPOLOGIA    CURSOR
 
DECLARE @V_VL_REMUNERACAO                 NUMERIC(18,4)
 
DECLARE @EXISTE_REM                  INT,
        @FORMA                            INT
 
DECLARE @V_CD_MN_REMUNERACAO         NUMERIC(18,0)
 
DECLARE @V_CD_PESSOA_ASCENDENTE                 NUMERIC(18,0),
        @V_CD_PAPEL_ASCENDENTE                  NUMERIC(18,0),
        @V_CD_NIVEL_ASCENDENTE                  INT,
        @V_CD_ORDEM_ASCENDENTE                  INT

DECLARE @V_CD_PAPEL                       NUMERIC(18,0),
        @V_QDE_PONTOS_5AVENIDA            NUMERIC(18,0), 
        @V_QT_PTOS_PARTICI_5AVENIDA       NUMERIC(18,0),
        @V_PER_PARTICI_5AVENIDA           NUMERIC(18,0),
        @V_QT_EXEC_PARTICI_5AVENIDA       NUMERIC(18,0),
        @V_VL_TOTAL_PARTICI_5AVENIDA      NUMERIC(18,0)
 
  
BEGIN TRY
 
  SELECT @QT_LINHAS_AFETADAS = 0
    
  SELECT @V_CD_PAPEL_CN               = 1,
         @v_CD_PAPEL_CONSTR_SUCESSO   = 2,
      @v_CD_PAPEL_CONSTR_SENIOR    = 3,
      @v_CD_PAPEL_FUTURO_LIDER     = 4,
      @v_CD_PAPEL_LIDER            = 5,
      @v_CD_PAPEL_ESMERALDA        = 6,
      @v_CD_PAPEL_SAFIRA           = 7,
      @v_CD_PAPEL_RUBI             = 8,
      @v_CD_PAPEL_DIAM             = 9,
      @v_CD_PAPEL_DIAM_DU          = 10,
      @v_CD_PAPEL_DIAM_TRI         = 11
 
  SELECT @V_PER_1_CONSTR_SUCESSO = 2,
         @v_PER_1_CONSTR_SENIOR  = 2,
         @v_PER_2_CONSTR_SENIOR  = 1,
      @v_PER_1_FUTURO_LIDER   = 3,
      @v_PER_2_FUTURO_LIDER   = 2,
      @V_PER_1_LIDER          = 4,
      @V_PER_2_LIDER          = 2,
      @v_PER_1_ESMERALDA      = 4.5,
      @v_PER_2_ESMERALDA      = 2,
      @v_PER_1_SAFIRA         = 5,
      @v_PER_2_SAFIRA         = 2,
      @v_PER_1_RUBI           = 5.5,
      @v_PER_2_RUBI           = 2,
      @v_PER_1_DIAM           = 5.5,
      @v_PER_2_DIAM           = 2,
      @v_PER_1_DIAM_DU        = 5.5,
      @v_PER_2_DIAM_DU        = 2,
      @v_PER_1_DIAM_TRI       = 5.5,
      @v_PER_2_DIAM_TRI       = 2
 
  SELECT @V_VL_ATIVACAO          =  216
--         @V_QD_NIVEIS            = 10
 
 
  SELECT @V_VL_BONUS_ATIVACAO     = 5,
         @V_VL_BONUS_TOT_ATIVACAO = 50
 
 
  SELECT @V_PER_BONUS_GRUPO_ESMERALDA = 3,
         @V_PER_BONUS_GRUPO_SAFIRA    = 6,
         @V_PER_BONUS_GRUPO_RUBI      = 9,
         @V_PER_BONUS_GRUPO_DIAM      = 12,
         @V_PER_BONUS_GRUPO_DIAM_DU   = 15,
         @V_PER_BONUS_GRUPO_DIAM_TRI  = 18,
         @V_PER_BONUS_TOT_GRUPO       = 18,
 
         @V_QT_PTOS_GRUPO_ESMERALDA  = 2000,
         @V_QT_PTOS_GRUPO_SAFIRA     = 4000,
         @V_QT_PTOS_GRUPO_RUBI       = 6000,
         @V_QT_PTOS_GRUPO_DIAM       = 20000,
         @V_QT_PTOS_GRUPO_DIAM_DU    = 40000,
         @V_QT_PTOS_GRUPO_DIAM_TRI   = 60000
 
  SELECT @V_QT_PTOS_PARTICI_5AVENIDA = 800000,
         @V_PER_PARTICI_5AVENIDA     = 2
     
 
  -- BUSCA A ESTRUTURA COMERCIAL
  SELECT @V_CD_EST_COMERCIAL = CD_EST_COMERCIAL
  FROM TB_PESSOA_RESUMO
  WHERE CD_PESSOA = @CD_PESSOA
  AND   CD_FUNCAO = @CD_FUNCAO
                 
  -- BUSCA O VALOR DO INDICADOR 11 - BONUS
  SELECT @V_VL_INDICADOR_11 = isnull(SUM(VL_INDICADOR_PESSOAL),0)
  FROM TB_PESSOA_INDICADOR
  WHERE CD_PESSOA = @CD_PESSOA
  AND CD_FUNCAO = @CD_FUNCAO
  AND CD_INDICADOR_PESSOAL = 11
  AND NM_CICLO = @NM_CICLO
  AND CD_EST_COMERCIAL = @V_CD_EST_COMERCIAL
 
 
    -- BONUS PARTICIPACAO
    -- INICIALIZAR A VARIAVEL DE BONUS
    SELECT @V_VL_REMUNERACAO = 0
 
    -- BUSCA O PAPEL DA PESSOA
    SELECT @V_CD_PAPEL = CD_PAPEL_DESEMPENHO
    FROM TB_PESSOA_PAPEL_HISTORICO
    WHERE CD_PESSOA  = @CD_PESSOA
    AND   CD_FUNCAO  = @CD_FUNCAO
    AND   NM_CICLO   = @NM_CICLO
    IF (@V_CD_PAPEL IN (@v_CD_PAPEL_DIAM_DU, @v_CD_PAPEL_DIAM_TRI))
    BEGIN
      -- BUSCA A QDE DE PONTOS GERAL
      SELECT @V_QDE_PONTOS_5AVENIDA = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(14, @CD_FUNCAO, @NM_CICLO, 1000, 13) --??? (PESSOA 5 AVENIDA)
  
      IF  (@V_QDE_PONTOS_5AVENIDA >= @V_QT_PTOS_PARTICI_5AVENIDA)
      BEGIN
 
        -- BUSCA A QDE DE ESMERALDA DUPLO E TRIPLO GERAL
        SELECT @V_QT_EXEC_PARTICI_5AVENIDA = dbo.FN_MN_CALCULA_PAPEIS(14, @CD_FUNCAO, @NM_CICLO, 1000, 10) --??? (PESSOA 5 AVENIDA)
 
        -- BUSCA A VL TOTAL PAGO DA QUINTA AVENIDA
        SELECT @V_VL_TOTAL_PARTICI_5AVENIDA = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(100000, @CD_FUNCAO, @NM_CICLO, 1000, 11) --??? (PESSOA 5 AVENIDA)
        SELECT @V_VL_REMUNERACAO = ((@V_VL_TOTAL_PARTICI_5AVENIDA * (@V_PER_PARTICI_5AVENIDA / 100)) / @V_QT_EXEC_PARTICI_5AVENIDA),
               @v_PER_CALCULO = @V_PER_PARTICI_5AVENIDA
 
 
        IF (@V_VL_REMUNERACAO > 0)
        BEGIN
          -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
         -- IF @V_CD_PAPEL_ASCENDENTE < 9  -- PAPEL DIAMANTE                   ??? VER USUARIO
         --   select @FORMA = 1
         -- ELSE
            select @FORMA = 3
 
          -- INSERIR A REMUNERAÇÃO
          SELECT @EXISTE_REM = COUNT(*)
          FROM TB_MN_REMUNERACAO
          WHERE CD_PESSOA             = @CD_PESSOA
          AND CD_FUNCAO               = @CD_FUNCAO
          AND NM_CICLO                = @NM_CICLO
          AND ID_SITUACAO_REMUNERACAO = 1       
          AND ID_FORMA_PREMIACAO_MN   = @FORMA
          AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1 
          IF @EXISTE_REM = 0
          BEGIN
            INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,      CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE,
                                           ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
            VALUES (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',
                    @FORMA, 1,  GETDATE(), 0)
            SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
          END
          ELSE
          BEGIN
            UPDATE TB_MN_REMUNERACAO SET
                   VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                   VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO
            WHERE CD_PESSOA             = @CD_PESSOA
            AND CD_FUNCAO               = @CD_FUNCAO
            AND NM_CICLO                = @NM_CICLO
            AND ID_SITUACAO_REMUNERACAO = 1
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
            SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @CD_PESSOA
            AND CD_FUNCAO               = @CD_FUNCAO
            AND NM_CICLO                = @NM_CICLO
            AND ID_SITUACAO_REMUNERACAO = 1
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
          END
 
          -- INSERE NO DETALHE
          INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                                ID_ORIGEM_PREMIACAO_MN,
                           NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
          VALUES (@CD_PESSOA, @CD_FUNCAO,@NM_CICLO,1, -- RECEITA
                      4, -- PARTICIPACAO
                        1, -- ORIGEM PEDIDO,
                      @CD_PESSOA, @V_QDE_PONTOS_5AVENIDA, @V_PER_CALCULO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL)
 
        END  -- FIM VL_REMUNERACAO > 0
 
      END  -- 800000 MIL PONTOS
 
    END -- FIM BONUS PARTICIPACAO
 
 
    IF (@V_VL_INDICADOR_11 > 0)  -- SOMENTE CALCULA SE A PESSOA É ATIVA
    BEGIN
 
      -- ABRE O CURSOR TOPOLOGIA
      SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
      FOR    
      SELECT   1                     AS ORDEM
              ,@CD_PESSOA            AS PESSOA
              ,B.CD_PAPEL_DESEMPENHO AS PAPEL
              ,1                     AS NIVEL
      FROM     TB_PESSOA_PAPEL_HISTORICO B
      WHERE    B.CD_PESSOA = @CD_PESSOA
      AND      B.CD_FUNCAO = @CD_FUNCAO
      AND      B.NM_CICLO  = @NM_CICLO
      UNION                     
      SELECT   2                     AS ORDEM
              ,A.CD_PESSOA_VINCULADA AS PESSOA
              ,B.CD_PAPEL_DESEMPENHO AS PAPEL
              ,A.NM_NIVEL            AS NIVEL
      FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
      WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
      AND   A.CD_FUNCAO           = B.CD_FUNCAO
      AND   A.NM_CICLO            = B.NM_CICLO
      AND   A.CD_PESSOA           = @CD_PESSOA
      AND   A.CD_FUNCAO           = @CD_FUNCAO
      AND   A.NM_CICLO            = @NM_CICLO
      AND   A.ID_ORDEM            = 1 -- ASCENDENTE
      AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
      ORDER BY 1,4


        
      OPEN @CURSOR_TOPOLOGIA
      FETCH NEXT FROM @CURSOR_TOPOLOGIA
      INTO @V_CD_ORDEM_ASCENDENTE, @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE, @V_CD_NIVEL_ASCENDENTE
     
      WHILE @@FETCH_STATUS = 0
      BEGIN
 
 
        -- BONUS INDICADOS
        IF (@V_VL_INDICADOR_11 > @V_VL_ATIVACAO AND @V_CD_NIVEL_ASCENDENTE <= 2 AND @V_CD_ORDEM_ASCENDENTE = 2)
        BEGIN
            
          -- INICIALIZAR A VARIAVEL DE BONUS
          SELECT @V_VL_REMUNERACAO = 0
 
          -- CALCULA O VALOR A SER APLICADO
          SELECT @V_VL_UTILIZADO_CALCULO = (@V_VL_INDICADOR_11 - @V_VL_ATIVACAO)
 
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_CONSTR_SUCESSO)  -- 2 PAPEL CONSTRUTOR DE SUCESSO
            SELECT @v_PER_1_CALCULO = @V_PER_1_CONSTR_SUCESSO,
                   @v_PER_2_CALCULO = 0
         
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_CONSTR_SENIOR)  -- 3 PAPEL CONSTRUTOR SENIOR
            SELECT @v_PER_1_CALCULO = @v_PER_1_CONSTR_SENIOR,
                   @v_PER_2_CALCULO = @v_PER_2_CONSTR_SENIOR
 
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_FUTURO_LIDER)  -- 4 PAPEL FUTURO LIDER
            SELECT @v_PER_1_CALCULO = @v_PER_1_FUTURO_LIDER,
                   @v_PER_2_CALCULO = @v_PER_2_FUTURO_LIDER  
 
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_LIDER )  -- 5 PAPEL LIDER
            SELECT @v_PER_1_CALCULO = @V_PER_1_LIDER,
                   @v_PER_2_CALCULO = @V_PER_2_LIDER            
 
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_ESMERALDA)  -- 6 PAPEL ESMERALDA
            SELECT @v_PER_1_CALCULO = @v_PER_1_ESMERALDA,     
                   @v_PER_2_CALCULO = @v_PER_2_ESMERALDA  
 
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_SAFIRA)  -- 7 PAPEL SAFIRA
            SELECT @v_PER_1_CALCULO = @v_PER_1_SAFIRA,
                   @v_PER_2_CALCULO = @v_PER_2_SAFIRA        
   
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_RUBI)  -- 8 PAPEL RUBI
            SELECT @v_PER_1_CALCULO = @v_PER_1_RUBI,
                   @v_PER_2_CALCULO = @v_PER_2_RUBI
 
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_DIAM)  -- 9 PAPEL ESMERALDA
            SELECT @v_PER_1_CALCULO = @v_PER_1_DIAM,
                   @v_PER_2_CALCULO = @v_PER_2_DIAM
 
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_DIAM_DU)  -- 10 PAPEL ESMERALDA DUPLO
            SELECT @v_PER_1_CALCULO = @v_PER_1_DIAM_DU,
                   @v_PER_2_CALCULO = @v_PER_2_DIAM_DU
 
          IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_DIAM_TRI)  -- 11 PAPEL ESMERALDA TRIPLO
            SELECT @v_PER_1_CALCULO = @v_PER_1_DIAM_TRI,
                   @v_PER_2_CALCULO = @v_PER_2_DIAM_TRI
 
 
          IF (@v_PER_1_CALCULO > 0 AND @V_CD_NIVEL_ASCENDENTE = 1)
            SELECT @V_VL_REMUNERACAO = (@V_VL_UTILIZADO_CALCULO * (@v_PER_1_CALCULO / 100)),
                   @v_PER_CALCULO = @v_PER_1_CALCULO
                  
          IF (@v_PER_2_CALCULO > 0 AND @V_CD_NIVEL_ASCENDENTE = 2)
           SELECT @V_VL_REMUNERACAO = (@V_VL_UTILIZADO_CALCULO * (@v_PER_2_CALCULO / 100)),
                  @v_PER_CALCULO = @v_PER_2_CALCULO
 
 
          IF (@V_VL_REMUNERACAO > 0)
          BEGIN
            -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
          --  IF @V_CD_PAPEL_ASCENDENTE < 9  -- PAPEL DIAMANTE                   ??? VER USUARIO
           --   select @FORMA = 1
           -- ELSE
              select @FORMA = 3
 
            -- INSERIR A REMUNERAÇÃO
            SELECT @EXISTE_REM = COUNT(*)
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
            AND CD_FUNCAO               = @CD_FUNCAO
            AND NM_CICLO                = @NM_CICLO
            AND ID_SITUACAO_REMUNERACAO = 1       
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1 
            IF @EXISTE_REM = 0
            BEGIN
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,      CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE,
                                             ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
              VALUES (@V_CD_PESSOA_ASCENDENTE,@CD_FUNCAO,@NM_CICLO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',
                      @FORMA, 1,  GETDATE(), 0)
              SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
            END
            ELSE
            BEGIN
              UPDATE TB_MN_REMUNERACAO SET
                     VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                     VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @CD_FUNCAO
              AND NM_CICLO                = @NM_CICLO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
              SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @CD_FUNCAO
              AND NM_CICLO                = @NM_CICLO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
            END
 
            -- INSERE NO DETALHE
            INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                                  ID_ORIGEM_PREMIACAO_MN,
                       NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
            VALUES (@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO,@NM_CICLO,1, -- RECEITA
                      5, -- INDICAD0S
                        1, -- ORIGEM PEDIDO,
                      @CD_PESSOA,@V_VL_UTILIZADO_CALCULO, @v_PER_CALCULO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO, @V_CD_PAPEL_ASCENDENTE)
 
          END  -- FIM VL_REMUNERACAO > 0
 
        END -- FIM BONUS INDICADOS      
 
 
        -- BONUS ATIVACAO
        IF (@V_VL_INDICADOR_11 > @V_VL_ATIVACAO AND @V_CD_NIVEL_ASCENDENTE <= 10 AND @V_CD_ORDEM_ASCENDENTE = 2)
        BEGIN
  
          -- INICIALIZAR A VARIAVEL DE BONUS
          SELECT @V_VL_REMUNERACAO = 0
 
         -- VERIFICA SE É TOPO DA REDE
          IF (@V_CD_PESSOA_ASCENDENTE = 14) --??? VER USUARIO
          BEGIN
            SELECT @V_VL_REMUNERACAO = @V_VL_BONUS_TOT_ATIVACAO
          END
 
          ELSE
          BEGIN
            SELECT @V_VL_REMUNERACAO = @V_VL_BONUS_ATIVACAO
            SELECT @V_VL_BONUS_TOT_ATIVACAO = (@V_VL_BONUS_TOT_ATIVACAO - @V_VL_REMUNERACAO)
          END
 
          IF (@V_VL_REMUNERACAO > 0)
          BEGIN
            -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
           -- IF @V_CD_PAPEL_ASCENDENTE < 9  -- PAPEL DIAMANTE                   ??? VER USUARIO
           --   select @FORMA = 1
           -- ELSE
              select @FORMA = 3
 
            -- INSERIR A REMUNERAÇÃO
            SELECT @EXISTE_REM = COUNT(*)
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
            AND CD_FUNCAO               = @CD_FUNCAO
            AND NM_CICLO                = @NM_CICLO
            AND ID_SITUACAO_REMUNERACAO = 1       
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1 
            IF @EXISTE_REM = 0
            BEGIN
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,      CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE,
                                             ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
              VALUES (@V_CD_PESSOA_ASCENDENTE,@CD_FUNCAO,@NM_CICLO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',
                      @FORMA, 1,  GETDATE(), 0)
              SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
            END
            ELSE
            BEGIN
              UPDATE TB_MN_REMUNERACAO SET
                     VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                     VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @CD_FUNCAO
              AND NM_CICLO                = @NM_CICLO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
              SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @CD_FUNCAO
              AND NM_CICLO                = @NM_CICLO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
            END
 
            -- INSERE NO DETALHE
            INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                                  ID_ORIGEM_PREMIACAO_MN,
                             NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
            VALUES (@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO,@NM_CICLO,1, -- RECEITA
                      6, -- ATIVACAO
                        1, -- ORIGEM PEDIDO,
                      @CD_PESSOA,@V_VL_ATIVACAO, 0 ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO, @V_CD_PAPEL_ASCENDENTE)
 
          END  -- FIM VL_REMUNERACAO > 0
 
        END -- FIM BONUS ATIVACAO
 
 
        -- BONUS GRUPO
        IF (@V_PER_BONUS_TOT_GRUPO > 0)
        BEGIN
          -- INICIALIZAR A VARIAVEL DE BONUS
          SELECT @V_VL_REMUNERACAO = 0
 
          -- VERIFICA SE É TOPO DA REDE
          IF (@V_CD_PESSOA_ASCENDENTE = 14) --??? VER USUARIO
          BEGIN 
            SELECT @V_VL_REMUNERACAO = (@V_VL_INDICADOR_11 * (@V_PER_BONUS_TOT_GRUPO / 100)),
                   @v_PER_CALCULO = @V_PER_BONUS_TOT_GRUPO
     
          END       
          ELSE
          BEGIN        
            IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_ESMERALDA AND @V_PER_BONUS_GRUPO_ESMERALDA > 0)  --  6 PAPEL ESMERALDA
            BEGIN
              -- BUSCA A QDE DE PONTOS DO GRUPO
              SELECT @V_QDE_PONTOS_GRUPO = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO, @NM_CICLO, 1000, 13)
              IF (@V_QDE_PONTOS_GRUPO >= @V_QT_PTOS_GRUPO_ESMERALDA)
              BEGIN
                SELECT @V_VL_REMUNERACAO = (@V_VL_INDICADOR_11 * (@V_PER_BONUS_GRUPO_ESMERALDA / 100)),
                       @v_PER_CALCULO = @V_PER_BONUS_GRUPO_ESMERALDA,
                       @V_PER_BONUS_TOT_GRUPO       = (@V_PER_BONUS_TOT_GRUPO       - @V_PER_BONUS_GRUPO_ESMERALDA),
                       @V_PER_BONUS_GRUPO_DIAM_TRI  = (@V_PER_BONUS_GRUPO_DIAM_TRI  - @V_PER_BONUS_GRUPO_ESMERALDA),
                       @V_PER_BONUS_GRUPO_DIAM_DU   = (@V_PER_BONUS_GRUPO_DIAM_DU   - @V_PER_BONUS_GRUPO_ESMERALDA),
                       @V_PER_BONUS_GRUPO_DIAM      = (@V_PER_BONUS_GRUPO_DIAM      - @V_PER_BONUS_GRUPO_ESMERALDA),
                       @V_PER_BONUS_GRUPO_RUBI      = (@V_PER_BONUS_GRUPO_RUBI      - @V_PER_BONUS_GRUPO_ESMERALDA),
                       @V_PER_BONUS_GRUPO_SAFIRA    = (@V_PER_BONUS_GRUPO_SAFIRA    - @V_PER_BONUS_GRUPO_ESMERALDA),
                       @V_PER_BONUS_GRUPO_ESMERALDA = (@V_PER_BONUS_GRUPO_ESMERALDA - @V_PER_BONUS_GRUPO_ESMERALDA)

              END
            END
 
 
            IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_SAFIRA AND @V_PER_BONUS_GRUPO_SAFIRA > 0)  --  7 PAPEL SAFIRA
            BEGIN
              -- BUSCA A QDE DE PONTOS DO GRUPO
              SELECT @V_QDE_PONTOS_GRUPO = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO, @NM_CICLO, 1000, 13)
              IF (@V_QDE_PONTOS_GRUPO >= @V_QT_PTOS_GRUPO_SAFIRA)
              BEGIN
                SELECT @V_VL_REMUNERACAO = (@V_VL_INDICADOR_11 * ( @V_PER_BONUS_GRUPO_SAFIRA / 100)),
                       @v_PER_CALCULO = @V_PER_BONUS_GRUPO_SAFIRA,
                       @V_PER_BONUS_TOT_GRUPO       = (@V_PER_BONUS_TOT_GRUPO       - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_DIAM_TRI  = (@V_PER_BONUS_GRUPO_DIAM_TRI  - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_DIAM_DU   = (@V_PER_BONUS_GRUPO_DIAM_DU   - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_DIAM      = (@V_PER_BONUS_GRUPO_DIAM      - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_RUBI      = (@V_PER_BONUS_GRUPO_RUBI      - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_SAFIRA    = (@V_PER_BONUS_GRUPO_SAFIRA    - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_ESMERALDA = (@V_PER_BONUS_GRUPO_ESMERALDA - @V_PER_BONUS_GRUPO_ESMERALDA)


              END
            END
 
 
            IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_RUBI  AND @V_PER_BONUS_GRUPO_RUBI > 0)  --  8 PAPEL RUBI
            BEGIN
              -- BUSCA A QDE DE PONTOS DO GRUPO
              SELECT @V_QDE_PONTOS_GRUPO = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO, @NM_CICLO, 1000, 13)
              IF (@V_QDE_PONTOS_GRUPO >= @V_QT_PTOS_GRUPO_RUBI)
              BEGIN
                SELECT @V_VL_REMUNERACAO = (@V_VL_INDICADOR_11 * (@V_PER_BONUS_GRUPO_RUBI / 100)),
                       @v_PER_CALCULO = @V_PER_BONUS_GRUPO_RUBI,
                       @V_PER_BONUS_TOT_GRUPO       = (@V_PER_BONUS_TOT_GRUPO      - @V_PER_BONUS_GRUPO_RUBI),
                       @V_PER_BONUS_GRUPO_DIAM_TRI  = (@V_PER_BONUS_GRUPO_DIAM_TRI  - @V_PER_BONUS_GRUPO_RUBI),
                       @V_PER_BONUS_GRUPO_DIAM_DU   = (@V_PER_BONUS_GRUPO_DIAM_DU   - @V_PER_BONUS_GRUPO_RUBI),
                       @V_PER_BONUS_GRUPO_DIAM      = (@V_PER_BONUS_GRUPO_DIAM      - @V_PER_BONUS_GRUPO_RUBI),
                       @V_PER_BONUS_GRUPO_RUBI      = (@V_PER_BONUS_GRUPO_RUBI      - @V_PER_BONUS_GRUPO_RUBI),
                       @V_PER_BONUS_GRUPO_SAFIRA    = (@V_PER_BONUS_GRUPO_SAFIRA    - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_ESMERALDA = (@V_PER_BONUS_GRUPO_ESMERALDA - @V_PER_BONUS_GRUPO_ESMERALDA)

              END
            END
 
            IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_DIAM AND @V_PER_BONUS_GRUPO_DIAM > 0)  --  9 PAPEL DIAMANTE
            BEGIN
              -- BUSCA A QDE DE PONTOS DO GRUPO
              SELECT @V_QDE_PONTOS_GRUPO = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO, @NM_CICLO, 1000, 13)
              IF (@V_QDE_PONTOS_GRUPO >= @V_QT_PTOS_GRUPO_DIAM)
              BEGIN
                SELECT @V_VL_REMUNERACAO = (@V_VL_INDICADOR_11 * (@V_PER_BONUS_GRUPO_DIAM / 100)),
                       @v_PER_CALCULO = @V_PER_BONUS_GRUPO_DIAM,
                       @V_PER_BONUS_TOT_GRUPO       = (@V_PER_BONUS_TOT_GRUPO       - @V_PER_BONUS_GRUPO_DIAM),
                       @V_PER_BONUS_GRUPO_DIAM_TRI  = (@V_PER_BONUS_GRUPO_DIAM_TRI  - @V_PER_BONUS_GRUPO_DIAM),
                       @V_PER_BONUS_GRUPO_DIAM_DU   = (@V_PER_BONUS_GRUPO_DIAM_DU   - @V_PER_BONUS_GRUPO_DIAM),
                       @V_PER_BONUS_GRUPO_DIAM      = (@V_PER_BONUS_GRUPO_DIAM      - @V_PER_BONUS_GRUPO_DIAM),
                       @V_PER_BONUS_GRUPO_RUBI      = (@V_PER_BONUS_GRUPO_RUBI      - @V_PER_BONUS_GRUPO_RUBI),
                       @V_PER_BONUS_GRUPO_SAFIRA    = (@V_PER_BONUS_GRUPO_SAFIRA    - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_ESMERALDA = (@V_PER_BONUS_GRUPO_ESMERALDA - @V_PER_BONUS_GRUPO_ESMERALDA)

              END
            END
 
 
            IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_DIAM_DU AND @V_PER_BONUS_GRUPO_DIAM_DU > 0)  --  10 PAPEL DIAMANTE DUPLO
            BEGIN
              -- BUSCA A QDE DE PONTOS DO GRUPO
              SELECT @V_QDE_PONTOS_GRUPO = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO, @NM_CICLO, 1000, 13)
              IF (@V_QDE_PONTOS_GRUPO >= @V_QT_PTOS_GRUPO_DIAM_DU)
              BEGIN
                SELECT @V_VL_REMUNERACAO = (@V_VL_INDICADOR_11 * (@V_PER_BONUS_GRUPO_DIAM_DU / 100)),
                       @v_PER_CALCULO = @V_PER_BONUS_GRUPO_DIAM_DU,
                       @V_PER_BONUS_TOT_GRUPO       = (@V_PER_BONUS_TOT_GRUPO       - @V_PER_BONUS_GRUPO_DIAM_DU),
                       @V_PER_BONUS_GRUPO_DIAM_TRI  = (@V_PER_BONUS_GRUPO_DIAM_TRI  - @V_PER_BONUS_GRUPO_DIAM_DU),
                       @V_PER_BONUS_GRUPO_DIAM_DU   = (@V_PER_BONUS_GRUPO_DIAM_DU   - @V_PER_BONUS_GRUPO_DIAM_DU),
                       @V_PER_BONUS_GRUPO_DIAM      = (@V_PER_BONUS_GRUPO_DIAM      - @V_PER_BONUS_GRUPO_DIAM),
                       @V_PER_BONUS_GRUPO_RUBI      = (@V_PER_BONUS_GRUPO_RUBI      - @V_PER_BONUS_GRUPO_RUBI),
                       @V_PER_BONUS_GRUPO_SAFIRA    = (@V_PER_BONUS_GRUPO_SAFIRA    - @V_PER_BONUS_GRUPO_SAFIRA),
                       @V_PER_BONUS_GRUPO_ESMERALDA = (@V_PER_BONUS_GRUPO_ESMERALDA - @V_PER_BONUS_GRUPO_ESMERALDA)

              END
            END
 
 
            IF (@V_CD_PAPEL_ASCENDENTE = @v_CD_PAPEL_DIAM_TRI AND @V_PER_BONUS_GRUPO_DIAM_TRI > 0)  --  11 PAPEL DIAMANTE TRIPLO
            BEGIN
              -- BUSCA A QDE DE PONTOS DO GRUPO
              SELECT @V_QDE_PONTOS_GRUPO = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO, @NM_CICLO, 1000, 13)
              IF (@V_QDE_PONTOS_GRUPO >= @V_QT_PTOS_GRUPO_DIAM_TRI)
              BEGIN
                SELECT @V_VL_REMUNERACAO = (@V_VL_INDICADOR_11 * (@V_PER_BONUS_GRUPO_DIAM_TRI / 100)),
                       @v_PER_CALCULO = @V_PER_BONUS_GRUPO_DIAM_TRI,
                       @V_PER_BONUS_TOT_GRUPO       = (@V_PER_BONUS_TOT_GRUPO       - @V_PER_BONUS_GRUPO_DIAM_TRI)

              END
            END
 
          END 
 
 
          IF (@V_VL_REMUNERACAO > 0)
          BEGIN
            -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
           -- IF @V_CD_PAPEL_ASCENDENTE < 9  -- PAPEL DIAMANTE                   ??? VER USUARIO
           --   select @FORMA = 1
           -- ELSE
              select @FORMA = 3
 
            -- INSERIR A REMUNERAÇÃO
            SELECT @EXISTE_REM = COUNT(*)
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
            AND CD_FUNCAO               = @CD_FUNCAO
            AND NM_CICLO                = @NM_CICLO
            AND ID_SITUACAO_REMUNERACAO = 1       
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1 
            IF @EXISTE_REM = 0
            BEGIN
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,      CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE,
                                             ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
              VALUES (@V_CD_PESSOA_ASCENDENTE,@CD_FUNCAO,@NM_CICLO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',
                      @FORMA, 1,  GETDATE(), 0)
              SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
            END
            ELSE
            BEGIN
              UPDATE TB_MN_REMUNERACAO SET
                     VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                     VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @CD_FUNCAO
              AND NM_CICLO                = @NM_CICLO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
              SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @CD_FUNCAO
              AND NM_CICLO                = @NM_CICLO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
            END
 
            -- INSERE NO DETALHE
            INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                                  ID_ORIGEM_PREMIACAO_MN,
                           NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
            VALUES (@V_CD_PESSOA_ASCENDENTE, @CD_FUNCAO,@NM_CICLO,1, -- RECEITA
                      7, -- GRUPO
                        1, -- ORIGEM PEDIDO,
                      @CD_PESSOA,@V_VL_INDICADOR_11, @v_PER_CALCULO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO, @V_CD_PAPEL_ASCENDENTE)
 
          END  -- FIM VL_REMUNERACAO > 0
 
        END -- FIM BONUS GRUPO
 
 
        FETCH NEXT FROM @CURSOR_TOPOLOGIA
        INTO @V_CD_ORDEM_ASCENDENTE, @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE, @V_CD_NIVEL_ASCENDENTE
      END  -- FIM WHILE
 
      CLOSE       @CURSOR_TOPOLOGIA
      DEALLOCATE  @CURSOR_TOPOLOGIA
    END    -- FIM INDICADOR_11
 
    SELECT @VAR_RETORNO = 0
           
           
END TRY    
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
     
  IF @@TRANCOUNT > 0
    ROLLBACK
END CATCH;
GO
