SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiInsereItemFilaApi]
	@p_codigoFilaApi		NUMERIC(4,0),
	@p_numeroOrigemItem		VARCHAR(200),
	@p_descTipoAtualizacao	VARCHAR(10),
	@p_descUsuario			VARCHAR(50),
	
	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE @v_qtdeRegistros	INT,
		@v_existeItem		INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
		
	-- VAMOS CHECAR SE A FILA INFORMADA ESTÁ ATIVA
	SELECT @v_qtdeRegistros = COUNT(*)
	  FROM TB_API_FILA_INTEGRACAO WITH(NOLOCK)
	 WHERE CD_API_FILA_INTEGRACAO = @p_codigoFilaApi
	   AND ID_SITUACAO = 1

	IF @v_qtdeRegistros = 0
		BEGIN
			SELECT @p_qtLinhasAfetadas = 0
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Fila informada não encontrada ou inativa.'
		END
	ELSE
		BEGIN
			-- VAMOS CHECAR SE O REGISTRO JÁ EXISTE NA FILA PARA NÃO DUPLICAR
			SELECT @v_qtdeRegistros = COUNT(*)
			  FROM TB_API_FILA_INTEGRACAO_ITEM WITH(NOLOCK)
			 WHERE CD_API_FILA_INTEGRACAO = @p_codigoFilaApi
			   AND NM_ORIGEM_ITEM = @p_numeroOrigemItem
			   AND ID_SITUACAO_PROCESSAMENTO = 1

			IF @v_qtdeRegistros = 0
				BEGIN
					-- Tratamento para evitar erros como o ocorrido no bitrix #3399 onde foi inserido um registro na fila de pedidos com o valor -1
					-- Vamos checar se o registro existe na origem de acordo com o tipo de fila

					-- PESSOA
					IF @p_codigoFilaApi = 1
						BEGIN
							SELECT @v_existeItem = COUNT(*)
							  FROM TB_PESSOA WITH(NOLOCK)
							 WHERE CD_PESSOA = @p_numeroOrigemItem
						END
					
					-- PEDIDO
					IF @p_codigoFilaApi = 2
						BEGIN
							SELECT @v_existeItem = COUNT(*)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @p_numeroOrigemItem
						END

					-- STATUS DE PEDIDO
					IF @p_codigoFilaApi = 3
						BEGIN
							SELECT @v_existeItem = COUNT(*)
							  FROM TB_PEDIDO_HISTORICO WITH(NOLOCK)
							 WHERE CD_PEDIDO_HISTORICO = @p_numeroOrigemItem
						END

					-- PRODUTO
					IF @p_codigoFilaApi = 4
						BEGIN
							SELECT @v_existeItem = COUNT(*)
							  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
							 WHERE CD_PRODUTO_VENDA = @p_numeroOrigemItem
						END

					-- MATERIAL
					IF @p_codigoFilaApi = 6
						BEGIN
							SELECT @v_existeItem = COUNT(*)
							  FROM TB_MATERIAL WITH(NOLOCK)
							 WHERE CD_MATERIAL = @p_numeroOrigemItem
						END

					IF @p_codigoFilaApi in (5,7) -- preço e grade
						BEGIN
							SELECT @v_existeItem = 1
						END

					IF @v_existeItem > 0
						BEGIN
							-- insere o item na fila da API
							INSERT INTO TB_API_FILA_INTEGRACAO_ITEM 
								(CD_API_FILA_INTEGRACAO,
								NM_ORIGEM_ITEM,
								ID_SITUACAO_PROCESSAMENTO,
								DC_TIPO_ATUALIZACAO,
								DT_CRIACAO,
								DC_USUARIO_CRIACAO)
							VALUES
								(@p_codigoFilaApi,
								@p_numeroOrigemItem,
								1,
								@p_descTipoAtualizacao,
								GETDATE(),
								@p_descUsuario)
						END
				END
		END
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
