SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MN_ATUALIZA_REMUNERACAO_GENERICA_PARCELA] 
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CURSOR_PARCELA	                       CURSOR,
	@CD_PARCELA		               NUMERIC(18,0),
	@CD_PESSOA		               NUMERIC(18,0),
	@CD_FUNCAO		               NUMERIC(18,0),
	@NM_CICLO_PAGAMENTO                    NUMERIC(18,0),
	@VL_REMUNERACAO                        NUMERIC(18,2),
	@NM_CICLO_REMUNERACAO                  NUMERIC(18,0),
	@CD_MN_REMUNERACAO	               NUMERIC(18,0),
	@CD_MN_DETALHE_REMUNERACAO             NUMERIC(18,0),
	@CD_REGRA_PREMIACAO_MN                 NUMERIC(18,0),
	@ID_SITUACAO_REMUNERACAO               INT, 
        @ID_FORMA_PAGAMENTO_REMUNERACAO        INT,
        @ID_SITUACAO_PROCESSAMENTO_REMUNERACAO INT,
	@CD_MN_REMUNERACAO_NOVO                NUMERIC(18,0),
	@ID_CONSOLIDA  INT

DECLARE @ID_ORDEM     INT

BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0
  BEGIN

      SET @CURSOR_PARCELA = CURSOR FAST_FORWARD
      FOR
      SELECT 1, -- PAGAMENTO
             A.CD_PARCELA,
	     C.CD_PESSOA,
	     C.CD_FUNCAO,
	     A.NM_CICLO_PAGAMENTO,
              D.CD_MN_DETALHE_REMUNERACAO,
	     D.CD_MN_REMUNERACAO,
	     D.NM_CICLO,
	     D.CD_REGRA_PREMIACAO_MN,
	     D.VL_REMUNERACAO
      FROM TB_CONCILIACAO A WITH (NOLOCK), TB_DIVIDA B WITH (NOLOCK), TB_PEDIDO C WITH (NOLOCK), TB_MN_DETALHE_REMUNERACAO D WITH (NOLOCK)
      WHERE A.CD_DIVIDA             = B.CD_DIVIDA
      AND   B.NM_PEDIDO             = C.NM_PEDIDO
      AND   B.CD_PESSOA             = C.CD_PESSOA
      AND   C.NM_CICLO_CANCELAMENTO IS NULL
      AND   CONVERT(DATE, A.DT_CONCILIACAO) >= CONVERT(date, getdate()-2)
      AND   A.CD_PARCELA            = D.CD_PARCELA_REMUNERACAO
      --AND   C.CD_PESSOA             = D.CD_PESSOA
      --AND   C.CD_FUNCAO             = D.CD_FUNCAO
      --AND   C.NM_PEDIDO             = D.NM_ORIGEM_MN
      AND   D.ID_SITUACAO_PAGAMENTO_PARCELA       = 1  -- ABERTA
	union
      SELECT 2, -- ESTORNO PAGAMENTO
             A.CD_PARCELA,
	     C.CD_PESSOA,
	     C.CD_FUNCAO,
	     A.NM_CICLO_PAGAMENTO,
             D.CD_MN_DETALHE_REMUNERACAO,
	     D.CD_MN_REMUNERACAO,
	     D.NM_CICLO,
	     D.CD_REGRA_PREMIACAO_MN,
	     D.VL_REMUNERACAO
      FROM TB_CONCILIACAO A WITH (NOLOCK), TB_DIVIDA B WITH (NOLOCK), TB_PEDIDO C WITH (NOLOCK), TB_MN_DETALHE_REMUNERACAO D WITH (NOLOCK)
      WHERE A.CD_DIVIDA             = B.CD_DIVIDA
      AND   B.NM_PEDIDO             = C.NM_PEDIDO
      AND   B.CD_PESSOA             = C.CD_PESSOA
      AND   C.NM_CICLO_CANCELAMENTO IS NULL
      AND   CONVERT(DATE, A.DT_ESTORNO) >= CONVERT(date, getdate()-2)
      AND   A.CD_PARCELA            = D.CD_PARCELA_REMUNERACAO
      --AND   C.CD_PESSOA             = D.CD_PESSOA
      --AND   C.CD_FUNCAO             = D.CD_FUNCAO
      --AND   C.NM_PEDIDO             = D.NM_ORIGEM_MN
      AND   D.ID_SITUACAO_PAGAMENTO_PARCELA       = 2  -- QUITADA
      ORDER BY 1

  
      OPEN @CURSOR_PARCELA
      FETCH NEXT FROM @CURSOR_PARCELA
      INTO @ID_ORDEM, @CD_PARCELA, @CD_PESSOA, @CD_FUNCAO, @NM_CICLO_PAGAMENTO, @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO,@NM_CICLO_REMUNERACAO, @CD_REGRA_PREMIACAO_MN,@VL_REMUNERACAO     
	
      WHILE @@FETCH_STATUS = 0
      BEGIN

        IF (@ID_ORDEM = 1)  -- PAGO
	BEGIN

	  IF (@NM_CICLO_REMUNERACAO = @NM_CICLO_PAGAMENTO)  -- CAMINHO FELIZ
	  BEGIN
	    BEGIN TRANSACTION
	    UPDATE TB_MN_DETALHE_REMUNERACAO SET 
	           ID_SITUACAO_PAGAMENTO_PARCELA = 2  -- QUITADA
	    WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_DETALHE_REMUNERACAO  
	    COMMIT TRANSACTION
	
	    BEGIN TRANSACTION
	    UPDATE TB_MN_REMUNERACAO SET 
                   VL_ORIGINAL = VL_ORIGINAL + @VL_REMUNERACAO,
                   VL_AJUSTADO = VL_AJUSTADO + @VL_REMUNERACAO,
                   DT_ATUALIZACAO  = getdate(),
                   CD_USUARIO_ATUALIZACAO = 0
 	    WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO  
	    COMMIT TRANSACTION
	  END

	  IF (@NM_CICLO_REMUNERACAO <> @NM_CICLO_PAGAMENTO)  -- CAMINHO INFELIZ
	  BEGIN

	    SELECT @ID_SITUACAO_REMUNERACAO               = ID_SITUACAO_REMUNERACAO,       
                 @ID_FORMA_PAGAMENTO_REMUNERACAO        = ID_FORMA_PAGAMENTO_REMUNERACAO,
                 @ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = ID_SITUACAO_REMUNERACAO,
		@ID_CONSOLIDA  = ISNULL(ID_CONSOLIDA_REMUNERACAO,1)       
	    FROM   TB_MN_REGRA_REMUNERACAO with (NOLOCK)
	    WHERE  CD_REMUNERACAO = @CD_REGRA_PREMIACAO_MN

            -- INSERIR A REMUNERAÇÃO
            SELECT @CD_MN_REMUNERACAO_NOVO = ISNULL(MAX(CD_MN_REMUNERACAO),0)
            FROM TB_MN_REMUNERACAO with (NOLOCK)
            WHERE CD_PESSOA                           = @CD_PESSOA
            AND CD_FUNCAO                             = @CD_FUNCAO
            AND NM_CICLO                              = @NM_CICLO_PAGAMENTO
            AND ID_SITUACAO_REMUNERACAO               = @ID_SITUACAO_REMUNERACAO        
            AND ID_FORMA_PREMIACAO_MN                 = @ID_FORMA_PAGAMENTO_REMUNERACAO
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = @ID_SITUACAO_PROCESSAMENTO_REMUNERACAO  
	    AND (    (@ID_CONSOLIDA = 2 AND CD_REMUNERACAO = @CD_REGRA_PREMIACAO_MN)     
                  OR (@ID_CONSOLIDA = 1)   )

            IF (@CD_MN_REMUNERACAO_NOVO = 0)
            BEGIN
              BEGIN TRANSACTION
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA  , CD_FUNCAO , NM_CICLO, ID_SITUACAO_REMUNERACAO,
                                         VL_ORIGINAL,VL_AJUSTADO, DC_MOTIVO_AJUSTE, ID_FORMA_PREMIACAO_MN, 
                                         ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO,  
                                         DT_ATUALIZACAO,  CD_USUARIO_ATUALIZACAO, CD_REMUNERACAO)
                                 VALUES (@CD_PESSOA,@CD_FUNCAO,@NM_CICLO_PAGAMENTO,@ID_SITUACAO_REMUNERACAO,
                                         @VL_REMUNERACAO ,@VL_REMUNERACAO ,'', 
					 @ID_FORMA_PAGAMENTO_REMUNERACAO,
                                         @ID_SITUACAO_PROCESSAMENTO_REMUNERACAO,  GETDATE(), 0,
                                         GETDATE(), 0,@CD_REGRA_PREMIACAO_MN) 
	      SELECT @CD_MN_REMUNERACAO_NOVO = IDENT_CURRENT('TB_MN_REMUNERACAO')
	      COMMIT TRANSACTION
            END
            ELSE
            BEGIN
            BEGIN TRANSACTION
              UPDATE TB_MN_REMUNERACAO SET
                 VL_ORIGINAL = VL_ORIGINAL + @VL_REMUNERACAO,
                 VL_AJUSTADO = VL_AJUSTADO + @VL_REMUNERACAO,
                 DT_ATUALIZACAO  = getdate(),
                 CD_USUARIO_ATUALIZACAO = 0
              WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO_NOVO 
              COMMIT TRANSACTION
            END

	    BEGIN TRANSACTION
	    UPDATE TB_MN_DETALHE_REMUNERACAO SET 
	         ID_SITUACAO_PAGAMENTO_PARCELA = 2,  -- QUITADA
		 NM_CICLO          = @NM_CICLO_PAGAMENTO,
	         CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO_NOVO 
	    WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_DETALHE_REMUNERACAO  
	    COMMIT TRANSACTION

	  END

	END  -- FIM ORDEM = 1


	IF (@ID_ORDEM = 2) -- ESTORNO DE PAGAMENTO
	BEGIN
            BEGIN TRANSACTION
              UPDATE TB_MN_REMUNERACAO SET
                 VL_ORIGINAL = (VL_ORIGINAL - @VL_REMUNERACAO),
                 VL_AJUSTADO = (VL_AJUSTADO - @VL_REMUNERACAO),
                 DT_ATUALIZACAO  = getdate(),
                 CD_USUARIO_ATUALIZACAO = 0
              WHERE CD_MN_REMUNERACAO = @CD_MN_REMUNERACAO
              COMMIT TRANSACTION
            

	    BEGIN TRANSACTION
	    UPDATE TB_MN_DETALHE_REMUNERACAO SET 
	         ID_SITUACAO_PAGAMENTO_PARCELA = 1  -- ABERTA
	    WHERE CD_MN_DETALHE_REMUNERACAO = @CD_MN_DETALHE_REMUNERACAO
	    COMMIT TRANSACTION

	END -- FIM ORDEM = 2

        FETCH NEXT FROM @CURSOR_PARCELA
        INTO @ID_ORDEM, @CD_PARCELA, @CD_PESSOA, @CD_FUNCAO, @NM_CICLO_PAGAMENTO, @CD_MN_DETALHE_REMUNERACAO, @CD_MN_REMUNERACAO,@NM_CICLO_REMUNERACAO, @CD_REGRA_PREMIACAO_MN,@VL_REMUNERACAO        
      END


			
      CLOSE       @CURSOR_PARCELA
      DEALLOCATE  @CURSOR_PARCELA


		
  END	
  SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
