SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_FinanceiroSaqueConsultaSaquesAprovacao]
	@p_cdPessoa							NUMERIC(18,0),
	@p_idSituacao						INT,
	@p_nmDataSolicitacaoIni				VARCHAR(20),
	@p_nmDataSolicitacaoFim				VARCHAR(20),
	
	@p_cdTipo							int,
	@p_cdPessoaLogin					numeric(18,0)
	
AS
DECLARE @QUERY NVARCHAR(MAX)

BEGIN
	-- ESTA CONSULTA IRÁ APENAS TRAZER AS SOLICITAÇÕES DE SAQUE QUE ESTÃO CONSOLIDADAS EM TELA ABERTAS PARA PODER REALIZAR A APROVAÇÃO.
	
	SELECT @QUERY = + 'SELECT SF.CD_SALDO_FAVOR_SAQUE,'
	SELECT @QUERY = @QUERY + ' SF.ID_SITUACAO_SAQUE'
	SELECT @QUERY = @QUERY + ' FROM TB_SALDO_FAVOR_SAQUE SF WITH(NOLOCK)'
	SELECT @QUERY = @QUERY + ' WHERE SF.CD_PESSOA > 0 '

	--CD_PESSOA
	IF (@p_cdPessoa > 0)
		BEGIN
			SELECT @QUERY = @QUERY + ' AND SF.CD_PESSOA = ' + CONVERT(VARCHAR(30),@p_cdPessoa) 
		END
	--DATA INICIAL
	IF LEN(@p_nmDataSolicitacaoIni) > 0
		BEGIN
			SELECT @QUERY = @QUERY + ' AND SF.DT_CADASTRO >= ''' + @p_nmDataSolicitacaoIni + ''''
		END
	--DATA FINAL
	IF LEN(@p_nmDataSolicitacaoFim) > 0
		BEGIN
			SELECT @QUERY = @QUERY + ' AND SF.DT_CADASTRO <= ''' + @p_nmDataSolicitacaoFim + ''''
		END
	--Situação Saque
	IF (@p_idSituacao > 0)
		BEGIN
			SELECT @QUERY = @QUERY + ' AND SF.ID_SITUACAO_SAQUE = '+CONVERT(VARCHAR(3),@p_idSituacao)
		END

	--CD_TIPO
	IF (@p_cdTipo <> 1 )
		BEGIN
			SELECT @QUERY = @QUERY + ' And SF.CD_PESSOA In (Select PR.CD_PESSOA FROM TB_PESSOA_COLABORADOR PC WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK), TB_CENTRO_DISTRIBUICAO_EST_COMERCIAL EC WITH(NOLOCK), TB_PESSOA_RESUMO PR WITH(NOLOCK)'
			SELECT @QUERY = @QUERY + ' WHERE PC.CD_PESSOA = ' + CONVERT(VARCHAR(30),@p_cdPessoaLogin)  
			SELECT @QUERY = @QUERY + ' And PC.CD_EMPRESA = CD.CD_EMPRESA'
			SELECT @QUERY = @QUERY + ' And CD.CD_CENTRO_DISTRIBUICAO = EC.CD_CENTRO_DISTRIBUICAO'
			SELECT @QUERY = @QUERY + ' And EC.CD_EST_COMERCIAL = PR.CD_EST_COMERCIAL)'
		END
		
	SELECT @QUERY = @QUERY + ' ORDER BY 1'
			
	EXEC (@QUERY)
		
END
GO
