SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_MINUTA_COLETA_ITEM]
	@CD_MINUTA					NUMERIC(18,0),
	@CD_ORDEM_COLETA			NUMERIC(18,0),
	@ID_TIPO					INT, -- 1 PARA ADICIONAR PEDIDO NA MINUTA E 2 PARA REMOVER PEDIDO DA MINUTA
	@CD_USUARIO					NUMERIC(18,0),
	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS


DECLARE @ID_SITUACAO_MINUTA AS INTEGER


BEGIN TRY
	
	

	    SELECT @QT_LINHAS_AFETADAS = 0
	    
	    -- **************************************************************************
	    -- VERIFICA SE A MINUTA ESTA FECHADA. NÃO PODEMOS MEXER NUMA ESTRUTURA FECHADA
	    -- **************************************************************************
	    SELECT @ID_SITUACAO_MINUTA = ID_SITUACAO_MINUTA_COLETA
	    from TB_MINUTA_COLETA
	    WHERE CD_MINUTA_COLETA = @CD_MINUTA
	    
	    IF @ID_SITUACAO_MINUTA = 2
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Não é possivel adicionar ou remover pedidos de uma minuta fechada'
				RETURN
			END
			
		
		BEGIN TRANSACTION
	    
	    IF @ID_TIPO = 1 -- adicionar pedidos
			BEGIN
		
				INSERT INTO TB_MINUTA_COLETA_ITEM
					(
					CD_MINUTA_COLETA,
					CD_ORDEM_COLETA,
					CD_USUARIO_CADASTRO)
				VALUES
					(
					@CD_MINUTA,
					@CD_ORDEM_COLETA,
					@CD_USUARIO
					)
		
			END
		
		IF @ID_TIPO = 2 -- remover pedidos
			BEGIN
				
				DELETE FROM TB_MINUTA_COLETA_ITEM
				WHERE CD_MINUTA_COLETA = @CD_MINUTA
				AND CD_ORDEM_COLETA = @CD_ORDEM_COLETA
				
			END
		
		SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		COMMIT TRANSACTION
		
		SELECT @CD_ERRO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
