SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_SaldoFavorInsereResgate]
	@p_codigoPessoa					numeric(18,0),
	@p_codigoFuncao					int,
	@p_valorSaldoFavorDisponivel			numeric(18,2),
	@p_valorSaldoFavorUtilizadoSaque		numeric(18,2),
	@p_valorSaldoFavorUtilizadoComprasFuturas	numeric(18,2),
	@p_valorSaldoFavorUtilizadoTransferir		numeric(18,2),
	@p_codigoPessoaTransferir			numeric(18,0),
	@p_codigoUsuario				numeric(18,0),
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
		
AS
DECLARE @p_codigoGeradoSaque NUMERIC(18,0)
DECLARE @p_codigoGeradoResgate NUMERIC(18,0)
BEGIN TRY
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0
	    
    -- SOLICITADO UM SAQUE COMO RESGATE
	IF @p_valorSaldoFavorUtilizadoSaque > 0 
		BEGIN
				
			INSERT INTO TB_SALDO_FAVOR_RESGATE 
				(
					CD_PESSOA,
					CD_FUNCAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					VL_SALDO_FAVOR_DISPONIVEL,
					VL_SALDO_FAVOR_UTILIZADO_SAQUE,
					VL_SALDO_FAVOR_UTILIZADO_COMPRAS_FUTURAS
				) VALUES
				(
					@p_codigoPessoa,
					@p_codigoFuncao,
					getdate(),
					@p_codigoUsuario,
					@p_valorSaldoFavorDisponivel,
					@p_valorSaldoFavorUtilizadoSaque,
					@p_valorSaldoFavorUtilizadoComprasFuturas
				)
					
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGeradoResgate = IDENT_CURRENT('TB_SALDO_FAVOR_RESGATE')
					
				
				-- INSERE NA TABELA DE SAQUE
				EXEC pr_SaldoFavorInsereSaque
					0,
					@p_codigoPessoa,
					@p_codigoFuncao,
					@p_valorSaldoFavorDisponivel,
					@p_valorSaldoFavorUtilizadoSaque,
					1,
					'I',
					@p_codigoUsuario,
					@p_codigoErro					OUTPUT,
					@p_descricaoErro				OUTPUT,
					@p_linhasAfetadas				OUTPUT,
					@p_codigoGeradoSaque			OUTPUT
					
				-- ? PRECISO DAR BAIXA DO SALDO PENDENTE
				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
					@p_codigoPessoa,
					@p_codigoFuncao,
					3, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR PENDENTE
					2, -- TIPO_MOVIMENTO = DEBITO
					7, -- ORIGEM_MOVIMENTO = SAQUE
					@p_codigoGeradoSaque,
					21, -- ELEMENTO FINANCEIRO = UTILIZA??O DO SALDO A FAVOR
					@p_valorSaldoFavorUtilizadoSaque,
					@p_codigoUsuario,
					@p_codigoErro		OUTPUT,
					@p_descricaoErro	OUTPUT,
					@p_linhasAfetadas	OUTPUT
			
			END
				
	-- SOLICITADO COMPRAS FUTURAS COMO RESGATE
	IF @p_valorSaldoFavorUtilizadoComprasFuturas > 0 
		BEGIN
				
			INSERT INTO TB_SALDO_FAVOR_RESGATE 
				(
					CD_PESSOA,
					CD_FUNCAO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					VL_SALDO_FAVOR_DISPONIVEL,
					VL_SALDO_FAVOR_UTILIZADO_SAQUE,
					VL_SALDO_FAVOR_UTILIZADO_COMPRAS_FUTURAS,
					VL_SALDO_FAVOR_UTILIZADO_TRANSFERIR,
					CD_PESSOA_TRANSFERIR
				) VALUES
				(
					@p_codigoPessoa,
					@p_codigoFuncao,
					getdate(),
					@p_codigoUsuario,
					@p_valorSaldoFavorDisponivel,
					@p_valorSaldoFavorUtilizadoSaque,
					@p_valorSaldoFavorUtilizadoComprasFuturas,
					@p_valorSaldoFavorUtilizadoTransferir,
					@p_codigoPessoaTransferir	
				)
					
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGeradoResgate = IDENT_CURRENT('TB_SALDO_FAVOR_RESGATE')
									
				
				-- ? PRECISO DAR BAIXA DO SALDO PENDENTE
				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
					@p_codigoPessoa,
					@p_codigoFuncao,
					3, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR PENDENTE
					2, -- TIPO_MOVIMENTO = DEBITO
					8, -- ORIGEM_MOVIMENTO = RESGATE
					@p_codigoGeradoResgate,
					21, -- ELEMENTO FINANCEIRO = UTILIZA??O DO SALDO A FAVOR
					@p_valorSaldoFavorUtilizadoComprasFuturas,
					@p_codigoUsuario,
					@p_codigoErro		OUTPUT,
					@p_descricaoErro	OUTPUT,
					@p_linhasAfetadas	OUTPUT
			
				IF (ISNULL(@p_codigoPessoaTransferir,0) = 0)
					BEGIN			
						-- ? PRECISO DAR ENTRADA DO SALDO A FAVOR
						EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
							@p_codigoPessoa,
							@p_codigoFuncao,
							2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR 
							1, -- TIPO_MOVIMENTO = CREDITO
							8, -- ORIGEM_MOVIMENTO = SALDO A FAVOR
							@p_codigoGeradoResgate,
							20, -- ELEMENTO FINANCEIRO = CRIACAO DO SALDO A FAVOR
							@p_valorSaldoFavorUtilizadoComprasFuturas,
							@p_codigoUsuario,
							@p_codigoErro		OUTPUT,
							@p_descricaoErro	OUTPUT,
							@p_linhasAfetadas	OUTPUT
					END
				ELSE
					BEGIN			
						-- ? PRECISO DAR ENTRADA DO SALDO A FAVOR
						EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
							@p_codigoPessoaTransferir,
							@p_codigoFuncao,
							2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR 
							1, -- TIPO_MOVIMENTO = CREDITO
							12, -- ORIGEM_MOVIMENTO = SALDO A FAVOR - TRANSFERIR
							@p_codigoGeradoResgate,
							20, -- ELEMENTO FINANCEIRO = CRIACAO DO SALDO A FAVOR
							@p_valorSaldoFavorUtilizadoTransferir,
							@p_codigoUsuario,
							@p_codigoErro		OUTPUT,
							@p_descricaoErro	OUTPUT,
							@p_linhasAfetadas	OUTPUT
					END
			END
			
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 
   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
