SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_EventoInsereParticipante]
	@p_cdEventoParticipante			NUMERIC(18,0),
	@p_cdEvento						NUMERIC(18,0),
	@p_cdPessoa						NUMERIC(18,0),

	@p_cdUsuario					NUMERIC(18,0),
	@p_dcAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT,
	@p_codigoGerado					NUMERIC(18,0) OUTPUT
	
AS

DECLARE @QT_VALIDACAO AS INT

BEGIN TRY

	    IF @p_dcAcao = 'I'
			BEGIN
				
				SELECT @QT_VALIDACAO = 0
				
				SELECT @QT_VALIDACAO = COUNT(*)
				FROM TB_EVENTO_PARTICIPANTE
				WHERE CD_EVENTO = @p_cdEvento
				AND CD_PESSOA = @p_cdPessoa
								
				IF @QT_VALIDACAO > 0 
					BEGIN
					
						SELECT @p_codigoErro = 1
						SELECT @p_descErro = 'A Pessoa já esta associada ao Evento'
						RETURN
					
					END
				
			END

	
	    SELECT @p_linhasAfetadas = 0

		IF @p_dcAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 
				
				INSERT INTO TB_EVENTO_PARTICIPANTE (
					CD_EVENTO,
					CD_PESSOA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
					
				VALUES           (
					@p_cdEvento,
					@p_cdPessoa,
					GETDATE(), 
					@p_cdUsuario, 
					GETDATE(), 
					@p_cdUsuario
						)
		
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_EVENTO_PARTICIPANTE')
		 
				COMMIT TRANSACTION
			END
	
	

		IF @p_dcAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_EVENTO_PARTICIPANTE
				WHERE  CD_EVENTO  = @p_cdEvento
				AND CD_PESSOA = @p_cdPessoa

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				
				COMMIT TRANSACTION
			END
				

		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
