
CREATE OR ALTER PROCEDURE [dbo].[pr_ApiCupomAtualizaStatus]
    @p_cdPessoaCupomDesconto       NUMERIC(18,0),
    @p_nmPedidoUtilizacao          NUMERIC(18,0) NULL,
    @p_idSituacaoCupomDesconto     INT,
    @p_codigoErro                  INT OUTPUT,
    @p_descErro                    VARCHAR(200) OUTPUT
AS
BEGIN TRY
    SELECT @p_codigoErro = 0, @p_descErro = ''

    DECLARE @currentStatus INT, @currentNmPedidoUtilizacao NUMERIC(18,0)
    SELECT @currentStatus = ID_SITUACAO_CUPOM_DESCONTO,
		   @currentNmPedidoUtilizacao = NM_PEDIDO_UTILIZACAO
    FROM TB_PESSOA_CUPOM_DESCONTO
    WHERE CD_PESSOA_CUPOM_DESCONTO = @p_cdPessoaCupomDesconto

    BEGIN TRANSACTION

		UPDATE TB_PESSOA_CUPOM_DESCONTO
		SET ID_SITUACAO_CUPOM_DESCONTO = @p_idSituacaoCupomDesconto,
			NM_PEDIDO_UTILIZACAO = COALESCE(@p_nmPedidoUtilizacao, @currentNmPedidoUtilizacao),
			DT_UTILIZACAO = CASE WHEN @currentStatus = 1 AND @p_idSituacaoCupomDesconto = 2 THEN GETDATE() ELSE DT_UTILIZACAO END
		WHERE CD_PESSOA_CUPOM_DESCONTO = @p_cdPessoaCupomDesconto

		IF @@ROWCOUNT = 0
		BEGIN
			SET @p_codigoErro = 1
			SET @p_descErro = 'Não foi possível encontrar um cupom válido com o ID'
			ROLLBACK TRANSACTION
			RETURN
		END

    COMMIT TRANSACTION
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION

    SELECT @p_codigoErro = ERROR_NUMBER(), @p_descErro = ERROR_MESSAGE()
END CATCH
GO
