SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PessoaInsereEmail]
	@p_codigoPessoa			  NUMERIC(18,0),
	@p_codigoTipoEmail		  INT,
	@p_descricaoEmail		  VARCHAR(50),
	@p_idTipoFuncao			  VARCHAR(1),

	@p_codigoUsuario		  NUMERIC(18,0),
	
	@p_codigoErro			  INT OUTPUT,
	@p_descErro				  VARCHAR(200) OUTPUT,
	@p_qtdeLinhasAfetadas	  INT OUTPUT
	
AS

DECLARE @v_qtdTelefone	INT
				
BEGIN TRY
	    
	    SELECT @p_qtdeLinhasAfetadas = 0
	    SELECT @p_codigoErro = 0


		-- ********************************************************************
		-- EXCLUI O QUE JA EXISTE
		-- ********************************************************************
		IF @p_idTipoFuncao = 'E'
			BEGIN
				DELETE FROM TB_PESSOA_EMAIL
				WHERE CD_PESSOA = @p_codigoPessoa
				AND ID_TIPO_EMAIL = @p_codigoTipoEmail
			END


		-- ********************************************************************
		-- INSERE NOVAMENTE
		-- ********************************************************************
		IF @p_idTipoFuncao = 'I'
			BEGIN

				INSERT INTO TB_PESSOA_EMAIL
					(CD_PESSOA,
					ID_TIPO_EMAIL,
					DC_EMAIL,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
				VALUES 
					(@p_codigoPessoa,
					@p_codigoTipoEmail,
					@p_descricaoEmail,
					GETDATE(),
					@p_codigoUsuario,
					GETDATE(),
					@p_codigoUsuario)

			END



END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
