SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PedidoAtualizaStatusPedidoOmie]
	@p_numeroPedidoExterno		NUMERIC(18,0),
	@p_descStatusPedidoOmie		VARCHAR(10),
	@p_descTracking				VARCHAR(80),
	@p_descTrackingLink			VARCHAR(400),
	@p_numeroNotaFiscal			NUMERIC(10,0),
	@p_descSerieNotaFiscal		VARCHAR(10),
	@p_dataNotaFiscal			DATETIME,
	@p_descChaveAcessoNFiscal 	VARCHAR(500),
	@p_descLinkXMLNotaFiscal	VARCHAR(500),
	@p_descLinkDANFENotaFiscal	VARCHAR(500),

	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE @v_codigoSituacaoAtual	INT,
		@v_numeroPedido			NUMERIC(18,0),
		@v_existeNotaFiscal		NUMERIC(18,0),
		@v_codigoPlanoPagto		NUMERIC(18,0),
		@v_codigoPessoa			NUMERIC(18,0),
		@v_codigoFuncao			INT,
		@v_cursorPendencias		CURSOR,
		@v_situacaoPendencia	NUMERIC(10,0),
		@v_codigoCD				NUMERIC(10,0),
		@v_codigoLinha			NUMERIC(10,0),
		@v_codigoLoteSeparacao  NUMERIC(18,0),
		@v_cursorEmbalagens		CURSOR,
		@v_numeroEmbalagem		NUMERIC(18,0),
		@v_situacaoEmbalagem	NUMERIC(10,0),
		@v_idSeparaPedido		INT,
		@v_idSeparacaoPedido	INT,
		@v_idConferePedido		INT,
		@v_codigoEmissor		NUMERIC(18,0),

		@v_cursorParcelas			CURSOR,
		@v_codigoParcela			NUMERIC(18,0),
		@v_valorParcelaAtualizado	NUMERIC(18,2),
		@v_codigoEntConciliacao		NUMERIC(18,0),

		@v_qtd_sequoia			INT,
		@v_qtd_total_express	INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	SELECT @v_numeroPedido = ISNULL(MAX(NM_PEDIDO),0) FROM TB_PEDIDO WITH(NOLOCK) WHERE NM_PEDIDO_EXTERNO = @p_numeroPedidoExterno

	IF @v_numeroPedido = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido não encontrado.'
			RETURN
		END

	-- VERIFICA SE POSSUI SERVIÇO EXTERNO DE AUTORIZAÇÃO SEQUOIA
	-- SERÁ IMPORTANTE PARA DEFINIR SE VAMOS COLOCAR O PEDIDO EM TRANSPORTE OU NÃO
	SELECT @v_qtd_sequoia = COUNT(*) 
	FROM TB_INTEGRACAO A, TB_SERVICO_EXTERNO B
	WHERE A.CD_SERVICO_EXTERNO = B.CD_SERVICO_EXTERNO
	AND B.ID_ENTIDADE_SERVICO = 11 -- sequoia
	AND B.ID_SITUACAO = 1


	-- VERIFICA SE POSSUI SERVIÇO EXTERNO DE TOTAL EXPRESS
	-- SERÁ IMPORTANTE PARA DEFINIR SE VAMOS COLOCAR O PEDIDO EM TRANSPORTE OU NÃO
	SELECT @v_qtd_total_express = COUNT(*) 
	FROM TB_SERVICO_EXTERNO B
	WHERE B.ID_ENTIDADE_SERVICO = 1
	AND B.ID_SITUACAO = 1
	AND B.ID_NOME_SERVICO_EXTERNO = 7 -- TOTAL EXPRESS

		
	--INICIALMENTE PRECISAMOS CHECAR SE O PEDIDO EXISTE E QUAL É SUA SITUAÇÃO ATUAL
	SELECT @v_codigoSituacaoAtual = ISNULL(CD_EST_SITUACAO,0),
		   @v_idSeparaPedido = ISNULL(ID_SEPARA_PEDIDO,0),
		   @v_idSeparacaoPedido = ISNULL(ID_SEPARACAO_PEDIDO,0),
		   @v_idConferePedido = ISNULL(ID_CONFERENCIA_PEDIDO,0),
		   @v_codigoPessoa = CD_PESSOA,
		   @v_codigoEmissor = (SELECT CD.CD_EMPRESA FROM TB_CENTRO_DISTRIBUICAO CD WITH(NOLOCK) WHERE CD.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO)
	  FROM TB_PEDIDO P WITH(NOLOCK)
	 WHERE NM_PEDIDO = @v_numeroPedido

	IF @v_codigoSituacaoAtual = 0
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Pedido não encontrado.'
		END
	ELSE
		BEGIN

			-- ENVIADO STATUS DO PEDIDO CANCELADO
			IF @p_descStatusPedidoOmie = '3'
				BEGIN
					-- VAMOS EXECUTAR A ROTINA DE CANCELAMENTO DO PEDIDO EXCETO PARA OS PEDIDOS QUE JÁ ESTEJAM FINALIZADOS
					IF @v_codigoSituacaoAtual = 9
						BEGIN
							SELECT @p_codigoErro = 4
							SELECT @p_descErro = 'Pedido já entregue e finalizado.'

							RETURN
						END
					ELSE
						BEGIN
							-- CHAMA A PROC DE CANCELAMENTO
							EXEC SP_CANCELA_PEDIDO	@v_numeroPedido,
													38,
													1,
													@p_codigoUsuario,
													@p_codigoErro output,
													@p_descErro output,
													@p_qtLinhasAfetadas output
						END
				END

			-- ENVIADO STATUS DO PEDIDO EM SEPARAÇÃO (FATURAR)
			IF @p_descStatusPedidoOmie = '50'
				BEGIN
					
					IF @v_codigoSituacaoAtual IN (5,6,7,8,10,200)
						BEGIN
							SELECT @p_codigoErro = 5
							SELECT @p_descErro = 'Pedido já em separação/transporte.'

							RETURN
						END

					IF @v_codigoSituacaoAtual = 9
						BEGIN
							SELECT @p_codigoErro = 5
							SELECT @p_descErro = 'Pedido já entregue e finalizado.'

							RETURN
						END

					-- SE O PEDIDO ESTIVER ABANDONADO OU SALVO VAMOS RECUPERAR
					IF @v_codigoSituacaoAtual IN (100,101)
						BEGIN
							-- atualiza o pedido para situação 1
							exec pr_PedidoPreparaRecuperacao @v_numeroPedido,
															 @p_codigoUsuario,
															 @p_codigoErro output,
															 @p_descErro output,
															 @p_qtLinhasAfetadas output
							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							-- VAMOS ATUALIZAR PARA A SITUAÇÃO 1 PARA QUE A ROTINA ENTRE NO PRÓXIMO IF DE PEDIDOS EM CAPTAÇÃO
							SELECT @v_codigoSituacaoAtual = 1

						END

					--SE O PEDIDO AINDA NÃO ESTIVER FINALIZADO IREMOS REALIZAR ESTA AÇÃO E CONSEQUENTEMENTE O PEDIDO PODERÁ FICAR PENDENTE OU SER APROVADO
					IF @v_codigoSituacaoAtual = 1
						BEGIN
							-- ANTES DE FINALIZAR PRECISAMOS OBTER ALGUMAS VARIAVEIS
							SELECT @v_codigoPlanoPagto = ISNULL(CD_PLANO_PAGAMENTO,0),
								   @v_codigoPessoa = CD_PESSOA,
								   @v_codigoFuncao = CD_FUNCAO
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido

							-- FINALIZA O PEDIDO, ESTA PROC IRÁ DEIXAR O PEDIDO PENDENTE OU APROVADO DEPENDENDO DAS REGRAS CONFIGURADAS
							EXEC SP_FINALIZA_PEDIDO @v_numeroPedido,
													@p_codigoUsuario,
													@v_codigoPlanoPagto,
													@v_codigoPessoa,
													@v_codigoFuncao,
													'',
													@p_codigoErro output,
													@p_descErro output,
													@p_qtLinhasAfetadas output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO, SE ESTIVER PENDENTE CAIRÁ NO IF QUE TRATA AS PENDÊNCIAS MAIS ABAIXO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido
						END
					-- se o pedido estiver pendente vamos fechar todas as pendências do pedido para que ele seja aprovado e fique disponível para separação
					IF @v_codigoSituacaoAtual = 4
						BEGIN
							--vamos iniciar o cursor com as pendências em aberto
							SET @v_cursorPendencias = CURSOR FAST_FORWARD FOR
							
								SELECT CD_EST_SITUACAO
								  FROM TB_PEDIDO_HISTORICO WITH(NOLOCK)
								 WHERE NM_PEDIDO = @v_numeroPedido
								   AND CD_EST_SITUACAO BETWEEN 41 AND 49
								   AND DT_FINAL IS NULL

							OPEN @v_cursorPendencias
							FETCH NEXT FROM @v_cursorPendencias INTO @v_situacaoPendencia

							WHILE @@FETCH_STATUS = 0
								BEGIN
									-- EXECUTA A PROC QUE ENCERRA A PENDÊNCIA
									EXEC SP_LIBERA_PENDENCIA_PEDIDO @v_numeroPedido,
																	@v_situacaoPendencia,
																	1,
																	'Liberado via API. Pedido aprovado',
																	@p_codigoUsuario,
																	@p_codigoErro output,
																	@p_descErro output
									
									-- ABORTA SE DER ALGUM ERRO
									IF LEN(@p_descErro) > 0
										BEGIN
											RETURN
										END
									FETCH NEXT FROM @v_cursorPendencias INTO @v_situacaoPendencia
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO, SE ESTIVER PENDENTE CAIRÁ NO IF QUE TRATA AS PENDÊNCIAS MAIS ABAIXO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido
						END

					-- se o pedido estiver aprovado significa que está disponível para separação, neste caso vamos gerar um lote de separação e iniciar a separação do pedido
					IF @v_codigoSituacaoAtual = 2
						BEGIN
							-- BUSCA O CD E LINHA DE SEPARAÇÃO PARA O PEDIDO
							SELECT  @v_codigoCD = CD_CENTRO_DISTRIBUICAO,
									@v_codigoLinha = (SELECT MIN(S.CD_LINHA_SEPARACAO) FROM TB_LINHA_SEPARACAO S WITH(NOLOCK) WHERE S.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND S.ID_SITUACAO = 1)
							  FROM TB_PEDIDO P WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido

							-- CRIA UM LOTE DE SEPARAÇÃO
							EXEC SP_CAD_LOTE_SEPARACAO  @v_codigoCD,
														@v_codigoLinha,
														@p_codigoUsuario,
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output,
														@v_codigoLoteSeparacao output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							-- AGORA INCLUI O PEDIDO NO LOTE E FAZ AS VALIDAÇÕES EXISTENTES NESTA ROTINA
							EXEC pr_LoteSeparacaoGerarLote	@v_numeroPedido,
															@v_codigoLinha,
															0,
															0,
															@v_codigoLoteSeparacao,
															@p_codigoUsuario,
															@p_codigoErro output,
															@p_descErro output,
															@p_qtLinhasAfetadas output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

						END
				END

			-- ENVIADO STATUS DO PEDIDO EM TRANSPORTE (FATURADO)
			IF @p_descStatusPedidoOmie = '60'
				BEGIN
					IF @v_codigoSituacaoAtual IN (8)
						BEGIN
							SELECT @p_codigoErro = 6
							SELECT @p_descErro = 'Pedido já em transporte.'

							RETURN
						END

					IF @v_codigoSituacaoAtual = 9
						BEGIN
							SELECT @p_codigoErro = 6
							SELECT @p_descErro = 'Pedido já entregue e finalizado.'

							RETURN
						END

					-- SE O PEDIDO ESTIVER ABANDONADO OU SALVO VAMOS RECUPERAR
					IF @v_codigoSituacaoAtual IN (100,101)
						BEGIN
							-- atualiza o pedido para situação 1
							exec pr_PedidoPreparaRecuperacao @v_numeroPedido,
															 @p_codigoUsuario,
															 @p_codigoErro output,
															 @p_descErro output,
															 @p_qtLinhasAfetadas output
							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							-- VAMOS ATUALIZAR PARA A SITUAÇÃO 1 PARA QUE A ROTINA ENTRE NO PRÓXIMO IF DE PEDIDOS EM CAPTAÇÃO
							SELECT @v_codigoSituacaoAtual = 1

						END

					--SE O PEDIDO AINDA NÃO ESTIVER FINALIZADO IREMOS REALIZAR ESTA AÇÃO E CONSEQUENTEMENTE O PEDIDO PODERÁ FICAR PENDENTE OU SER APROVADO
					IF @v_codigoSituacaoAtual = 1
						BEGIN
							-- ANTES DE FINALIZAR PRECISAMOS OBTER ALGUMAS VARIAVEIS
							SELECT @v_codigoPlanoPagto = ISNULL(CD_PLANO_PAGAMENTO,0),
								   @v_codigoPessoa = CD_PESSOA,
								   @v_codigoFuncao = CD_FUNCAO
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido

							-- FINALIZA O PEDIDO, ESTA PROC IRÁ DEIXAR O PEDIDO PENDENTE OU APROVADO DEPENDENDO DAS REGRAS CONFIGURADAS
							EXEC SP_FINALIZA_PEDIDO @v_numeroPedido,
													@p_codigoUsuario,
													@v_codigoPlanoPagto,
													@v_codigoPessoa,
													@v_codigoFuncao,
													'',
													@p_codigoErro output,
													@p_descErro output,
													@p_qtLinhasAfetadas output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO, SE ESTIVER PENDENTE CAIRÁ NO IF QUE TRATA AS PENDÊNCIAS MAIS ABAIXO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido
						
						END
					-- se o pedido estiver pendente vamos fechar todas as pendências do pedido para que ele seja aprovado e fique disponível para separação
					IF @v_codigoSituacaoAtual = 4
						BEGIN
							--vamos iniciar o cursor com as pendências em aberto
							SET @v_cursorPendencias = CURSOR FAST_FORWARD FOR
							
								SELECT CD_EST_SITUACAO
								  FROM TB_PEDIDO_HISTORICO WITH(NOLOCK)
								 WHERE NM_PEDIDO = @v_numeroPedido
								   AND CD_EST_SITUACAO BETWEEN 41 AND 49
								   AND DT_FINAL IS NULL

							OPEN @v_cursorPendencias
							FETCH NEXT FROM @v_cursorPendencias INTO @v_situacaoPendencia

							WHILE @@FETCH_STATUS = 0
								BEGIN
									-- EXECUTA A PROC QUE ENCERRA A PENDÊNCIA
									EXEC SP_LIBERA_PENDENCIA_PEDIDO @v_numeroPedido,
																	@v_situacaoPendencia,
																	1,
																	'Liberado via API. Pedido aprovado',
																	@p_codigoUsuario,
																	@p_codigoErro output,
																	@p_descErro output
									
									-- ABORTA SE DER ALGUM ERRO
									IF LEN(@p_descErro) > 0
										BEGIN
											RETURN
										END
									FETCH NEXT FROM @v_cursorPendencias INTO @v_situacaoPendencia
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO, SE ESTIVER PENDENTE CAIRÁ NO IF QUE TRATA AS PENDÊNCIAS MAIS ABAIXO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido
						END

					-- se o pedido estiver aprovado significa que está disponível para separação, neste caso vamos gerar um lote de separação e iniciar a separação do pedido
					IF @v_codigoSituacaoAtual = 2
						BEGIN
							-- BUSCA O CD E LINHA DE SEPARAÇÃO PARA O PEDIDO
							SELECT  @v_codigoCD = CD_CENTRO_DISTRIBUICAO,
									@v_codigoLinha = (SELECT MIN(S.CD_LINHA_SEPARACAO) FROM TB_LINHA_SEPARACAO S WITH(NOLOCK) WHERE S.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND S.ID_SITUACAO = 1)
							  FROM TB_PEDIDO P WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido

							-- CRIA UM LOTE DE SEPARAÇÃO
							EXEC SP_CAD_LOTE_SEPARACAO  @v_codigoCD,
														@v_codigoLinha,
														@p_codigoUsuario,
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output,
														@v_codigoLoteSeparacao output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							-- AGORA INCLUI O PEDIDO NO LOTE E FAZ AS VALIDAÇÕES EXISTENTES NESTA ROTINA
							EXEC pr_LoteSeparacaoGerarLote	@v_numeroPedido,
															@v_codigoLinha,
															0,
															0,
															@v_codigoLoteSeparacao,
															@p_codigoUsuario,
															@p_codigoErro output,
															@p_descErro output,
															@p_qtLinhasAfetadas output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO, SE ESTIVER PENDENTE CAIRÁ NO IF QUE TRATA AS PENDÊNCIAS MAIS ABAIXO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido

						END

					-- se estiver em separação vamos fechar todas as embalagens para que o pedido fique em transporte
					IF @v_codigoSituacaoAtual in (5,6)
						BEGIN
							
							SET @v_cursorEmbalagens = CURSOR FAST_FORWARD
							FOR
							SELECT NM_EMBALAGEM, CD_EST_SITUACAO 
							  FROM TB_PEDIDO_EMBALAGEM_HISTORICO WITH(NOLOCK)
							 WHERE DT_FINAL IS NULL
							   AND NM_PEDIDO = @v_numeroPedido

							OPEN @v_cursorEmbalagens
							FETCH NEXT FROM @v_cursorEmbalagens INTO @v_numeroEmbalagem, @v_situacaoEmbalagem

							WHILE @@FETCH_STATUS = 0
								BEGIN
									-- FAZ OS TRATAMENTOS DE SEPARAÇÃO CONFORME A SITUAÇÃO ATUAL DA EMBALAGEM
									IF @v_situacaoEmbalagem = 61 AND @v_idSeparacaoPedido = 1
										BEGIN
											-- ABRE O PICKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					1, --PICKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT

											-- FECHA O PICKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					1, --PICKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT

											IF @v_idConferePedido = 1
												BEGIN
													-- ABRE O PACKING
													EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																							2, --PACKING
																							0,
																							@p_codigoUsuario,
																							@p_codigoErro OUTPUT,
																							@p_descErro OUTPUT,
																							@p_qtLinhasAfetadas OUTPUT

													-- FECHA O PACKING
													EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																							2, --PACKING
																							0,
																							@p_codigoUsuario,
																							@p_codigoErro OUTPUT,
																							@p_descErro OUTPUT,
																							@p_qtLinhasAfetadas OUTPUT
												END
										END

									-- FAZ OS TRATAMENTOS DE SEPARAÇÃO CONFORME A SITUAÇÃO ATUAL DA EMBALAGEM
									IF @v_situacaoEmbalagem = 62 AND @v_idSeparacaoPedido = 1
										BEGIN
											
											-- FECHA O PICKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					1, --PICKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT

											IF @v_idConferePedido = 1
												BEGIN
													-- ABRE O PACKING
													EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																							2, --PACKING
																							0,
																							@p_codigoUsuario,
																							@p_codigoErro OUTPUT,
																							@p_descErro OUTPUT,
																							@p_qtLinhasAfetadas OUTPUT

													-- FECHA O PACKING
													EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																							2, --PACKING
																							0,
																							@p_codigoUsuario,
																							@p_codigoErro OUTPUT,
																							@p_descErro OUTPUT,
																							@p_qtLinhasAfetadas OUTPUT
												END

										END

									-- FAZ OS TRATAMENTOS DE SEPARAÇÃO CONFORME A SITUAÇÃO ATUAL DA EMBALAGEM
									IF @v_situacaoEmbalagem = 63 AND @v_idConferePedido = 1
										BEGIN
											-- ABRE O PACKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					2, --PACKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT

											-- FECHA O PACKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					2, --PACKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT
										END

									-- FAZ OS TRATAMENTOS DE SEPARAÇÃO CONFORME A SITUAÇÃO ATUAL DA EMBALAGEM
									IF @v_situacaoEmbalagem = 64 AND @v_idConferePedido = 1
										BEGIN
											-- FECHA O PACKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					2, --PACKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT
										END

									FETCH NEXT FROM @v_cursorEmbalagens INTO @v_numeroEmbalagem, @v_situacaoEmbalagem
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido
						END

					IF @v_codigoSituacaoAtual = 7
						BEGIN

							-- **********************************************************************************************************
							-- ALTERADO POR ANDERSON - 17/02/2022
							-- SOMENTE IREMOS FAZER O TRECHO ABAIXO SE O CLIENTE NAO TIVER CADASTRADO OS SEGUINTES SERVIÇOS EXTERNOS
							-- TOTAL EXPRESS E AUTORIZAÇÃO SEQUOIA
							-- ISSO PORQUE SE TIVER UM DESSES SERVIÇOS PRECISA PASSAR PELO PROCESSO DE MINUTA
							-- CASO CONTRATIO AS INFORMAÇÕES NAO SERÃO ENVIDAS PARA AS TRANSPORTADORAS, EXEMPLO SEQUOIA
							-- E CARIMBANDO COMO 8 ESSES PEDIDOS NÃO IRÃO APARECER NO PROCESSO DE MINUTA
							-- **********************************************************************************************************
							IF @v_qtd_sequoia = 0 AND @v_qtd_total_express = 0
								BEGIN

									-- PEDIDO DISPONÍVEL PARA TRANSPORTE, VAMOS SIMPLESMENTE COLOCAR EM TRANSPORTE
									--Fecha a situação disponível para transporte
									exec dbo.SP_GRAVA_HISTORICO_PEDIDO @v_numeroPedido,
																	   7,
																	   2,--fecha
																	   1,
																	   '',
																	   @p_codigoUsuario,
																	   @p_codigoErro OUTPUT,
																	   @p_descErro OUTPUT,
																	   @p_qtLinhasAfetadas OUTPUT
									--Abre a situação em transporte
									exec dbo.SP_GRAVA_HISTORICO_PEDIDO @v_numeroPedido,
																	   8,
																	   1,--abre
																	   1,
																	   '',
																	   @p_codigoUsuario,
																	   @p_codigoErro OUTPUT,
																	   @p_descErro OUTPUT,
																	   @p_qtLinhasAfetadas OUTPUT
				
									--atualiza pedido para em transporte
									update TB_PEDIDO set CD_EST_SITUACAO = 8 where NM_PEDIDO = @v_numeroPedido

									-- *******************************************
									-- ENVIA EMAIL - EM TRANSPORTE
									-- *******************************************
									EXEC pr_PedidoEnviarEmailMudancaStatus
										@v_numeroPedido,
										16,	--@p_cdEvento
										@p_codigoErro OUTPUT,
										@p_descErro OUTPUT,
										@p_qtLinhasAfetadas OUTPUT

									SELECT @p_codigoErro = 0
								END
						END

					IF @v_codigoSituacaoAtual = 10
						BEGIN
							SELECT @p_codigoErro = 6
							SELECT @p_descErro = 'Pedido disponível para retirada.'

							RETURN
						END
				END

			-- ENVIADO STATUS DO PEDIDO FINALIZADO (ENTREGA)
			IF @p_descStatusPedidoOmie = '70'
				BEGIN

					IF @v_codigoSituacaoAtual = 9
						BEGIN
							SELECT @p_codigoErro = 6
							SELECT @p_descErro = 'Pedido já finalizado.'

							RETURN
						END

					-- SE O PEDIDO ESTIVER ABANDONADO OU SALVO VAMOS RECUPERAR
					IF @v_codigoSituacaoAtual IN (100,101)
						BEGIN
							-- atualiza o pedido para situação 1
							exec pr_PedidoPreparaRecuperacao @v_numeroPedido,
															 @p_codigoUsuario,
															 @p_codigoErro output,
															 @p_descErro output,
															 @p_qtLinhasAfetadas output
							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							-- VAMOS ATUALIZAR PARA A SITUAÇÃO 1 PARA QUE A ROTINA ENTRE NO PRÓXIMO IF DE PEDIDOS EM CAPTAÇÃO
							SELECT @v_codigoSituacaoAtual = 1

						END

					--SE O PEDIDO AINDA NÃO ESTIVER FINALIZADO IREMOS REALIZAR ESTA AÇÃO E CONSEQUENTEMENTE O PEDIDO PODERÁ FICAR PENDENTE OU SER APROVADO
					IF @v_codigoSituacaoAtual = 1
						BEGIN
							-- ANTES DE FINALIZAR PRECISAMOS OBTER ALGUMAS VARIAVEIS
							SELECT @v_codigoPlanoPagto = ISNULL(CD_PLANO_PAGAMENTO,0),
								   @v_codigoPessoa = CD_PESSOA,
								   @v_codigoFuncao = CD_FUNCAO
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido

							-- FINALIZA O PEDIDO, ESTA PROC IRÁ DEIXAR O PEDIDO PENDENTE OU APROVADO DEPENDENDO DAS REGRAS CONFIGURADAS
							EXEC SP_FINALIZA_PEDIDO @v_numeroPedido,
													@p_codigoUsuario,
													@v_codigoPlanoPagto,
													@v_codigoPessoa,
													@v_codigoFuncao,
													'',
													@p_codigoErro output,
													@p_descErro output,
													@p_qtLinhasAfetadas output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO, SE ESTIVER PENDENTE CAIRÁ NO IF QUE TRATA AS PENDÊNCIAS MAIS ABAIXO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido
						
						END
					-- se o pedido estiver pendente vamos fechar todas as pendências do pedido para que ele seja aprovado e fique disponível para separação
					IF @v_codigoSituacaoAtual = 4
						BEGIN
							--vamos iniciar o cursor com as pendências em aberto
							SET @v_cursorPendencias = CURSOR FAST_FORWARD FOR
							
								SELECT CD_EST_SITUACAO
								  FROM TB_PEDIDO_HISTORICO WITH(NOLOCK)
								 WHERE NM_PEDIDO = @v_numeroPedido
								   AND CD_EST_SITUACAO BETWEEN 41 AND 49
								   AND DT_FINAL IS NULL

							OPEN @v_cursorPendencias
							FETCH NEXT FROM @v_cursorPendencias INTO @v_situacaoPendencia

							WHILE @@FETCH_STATUS = 0
								BEGIN
									-- EXECUTA A PROC QUE ENCERRA A PENDÊNCIA
									EXEC SP_LIBERA_PENDENCIA_PEDIDO @v_numeroPedido,
																	@v_situacaoPendencia,
																	1,
																	'Liberado via API. Pedido aprovado',
																	@p_codigoUsuario,
																	@p_codigoErro output,
																	@p_descErro output
									
									-- ABORTA SE DER ALGUM ERRO
									IF LEN(@p_descErro) > 0
										BEGIN
											RETURN
										END
									FETCH NEXT FROM @v_cursorPendencias INTO @v_situacaoPendencia
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO, SE ESTIVER PENDENTE CAIRÁ NO IF QUE TRATA AS PENDÊNCIAS MAIS ABAIXO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido
						END

					-- se o pedido estiver aprovado significa que está disponível para separação, neste caso vamos gerar um lote de separação e iniciar a separação do pedido
					IF @v_codigoSituacaoAtual = 2
						BEGIN
							-- BUSCA O CD E LINHA DE SEPARAÇÃO PARA O PEDIDO
							SELECT  @v_codigoCD = CD_CENTRO_DISTRIBUICAO,
									@v_codigoLinha = (SELECT MIN(S.CD_LINHA_SEPARACAO) FROM TB_LINHA_SEPARACAO S WITH(NOLOCK) WHERE S.CD_CENTRO_DISTRIBUICAO = P.CD_CENTRO_DISTRIBUICAO AND S.ID_SITUACAO = 1)
							  FROM TB_PEDIDO P WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido

							-- CRIA UM LOTE DE SEPARAÇÃO
							EXEC SP_CAD_LOTE_SEPARACAO  @v_codigoCD,
														@v_codigoLinha,
														@p_codigoUsuario,
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output,
														@v_codigoLoteSeparacao output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							-- AGORA INCLUI O PEDIDO NO LOTE E FAZ AS VALIDAÇÕES EXISTENTES NESTA ROTINA
							EXEC pr_LoteSeparacaoGerarLote	@v_numeroPedido,
															@v_codigoLinha,
															0,
															0,
															@v_codigoLoteSeparacao,
															@p_codigoUsuario,
															@p_codigoErro output,
															@p_descErro output,
															@p_qtLinhasAfetadas output

							-- ABORTA SE DER ALGUM ERRO
							IF LEN(@p_descErro) > 0
								BEGIN
									RETURN
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO, SE ESTIVER PENDENTE CAIRÁ NO IF QUE TRATA AS PENDÊNCIAS MAIS ABAIXO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido

						END

					-- se estiver em separação vamos fechar todas as embalagens para que o pedido fique em transporte
					IF @v_codigoSituacaoAtual in (5,6)
						BEGIN
							
							SET @v_cursorEmbalagens = CURSOR FAST_FORWARD
							FOR
							SELECT NM_EMBALAGEM, CD_EST_SITUACAO 
							  FROM TB_PEDIDO_EMBALAGEM_HISTORICO WITH(NOLOCK)
							 WHERE DT_FINAL IS NULL
							   AND NM_PEDIDO = @v_numeroPedido

							OPEN @v_cursorEmbalagens
							FETCH NEXT FROM @v_cursorEmbalagens INTO @v_numeroEmbalagem, @v_situacaoEmbalagem

							WHILE @@FETCH_STATUS = 0
								BEGIN
									-- FAZ OS TRATAMENTOS DE SEPARAÇÃO CONFORME A SITUAÇÃO ATUAL DA EMBALAGEM
									IF @v_situacaoEmbalagem = 61 AND @v_idSeparacaoPedido = 1
										BEGIN
											-- ABRE O PICKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					1, --PICKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT

											-- FECHA O PICKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					1, --PICKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT

											IF @v_idConferePedido = 1
												BEGIN
													-- ABRE O PACKING
													EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																							2, --PACKING
																							0,
																							@p_codigoUsuario,
																							@p_codigoErro OUTPUT,
																							@p_descErro OUTPUT,
																							@p_qtLinhasAfetadas OUTPUT

													-- FECHA O PACKING
													EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																							1, --PACKING
																							0,
																							@p_codigoUsuario,
																							@p_codigoErro OUTPUT,
																							@p_descErro OUTPUT,
																							@p_qtLinhasAfetadas OUTPUT
												END
										END

									-- FAZ OS TRATAMENTOS DE SEPARAÇÃO CONFORME A SITUAÇÃO ATUAL DA EMBALAGEM
									IF @v_situacaoEmbalagem = 62 AND @v_idSeparacaoPedido = 1
										BEGIN
											
											-- FECHA O PICKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					1, --PICKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT

											IF @v_idConferePedido = 1
												BEGIN
													-- ABRE O PACKING
													EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																							2, --PACKING
																							0,
																							@p_codigoUsuario,
																							@p_codigoErro OUTPUT,
																							@p_descErro OUTPUT,
																							@p_qtLinhasAfetadas OUTPUT

													-- FECHA O PACKING
													EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																							1, --PACKING
																							0,
																							@p_codigoUsuario,
																							@p_codigoErro OUTPUT,
																							@p_descErro OUTPUT,
																							@p_qtLinhasAfetadas OUTPUT
												END

										END

									-- FAZ OS TRATAMENTOS DE SEPARAÇÃO CONFORME A SITUAÇÃO ATUAL DA EMBALAGEM
									IF @v_situacaoEmbalagem = 63 AND @v_idConferePedido = 1
										BEGIN
											-- ABRE O PACKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					2, --PACKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT

											-- FECHA O PACKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					1, --PACKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT
										END

									-- FAZ OS TRATAMENTOS DE SEPARAÇÃO CONFORME A SITUAÇÃO ATUAL DA EMBALAGEM
									IF @v_situacaoEmbalagem = 64 AND @v_idConferePedido = 1
										BEGIN
											-- FECHA O PACKING
											EXEC dbo.SP_VERIFICA_SITUACAO_EMBALAGEM @v_numeroEmbalagem,
																					2, --PACKING
																					0,
																					@p_codigoUsuario,
																					@p_codigoErro OUTPUT,
																					@p_descErro OUTPUT,
																					@p_qtLinhasAfetadas OUTPUT
										END

									FETCH NEXT FROM @v_cursorEmbalagens INTO @v_numeroEmbalagem, @v_situacaoEmbalagem
								END

							--VAMOS BUSCAR A SITUAÇÃO ATUALIZADA DO PEDIDO
							SELECT @v_codigoSituacaoAtual = MIN(CD_EST_SITUACAO)
							  FROM TB_PEDIDO WITH(NOLOCK)
							 WHERE NM_PEDIDO = @v_numeroPedido
						END

					IF @v_codigoSituacaoAtual = 7
						BEGIN
							
							-- **********************************************************************************************************
							-- ALTERADO POR ANDERSON - 17/02/2022
							-- SOMENTE IREMOS FAZER O TRECHO ABAIXO SE O CLIENTE NAO TIVER CADASTRADO OS SEGUINTES SERVIÇOS EXTERNOS
							-- TOTAL EXPRESS E AUTORIZAÇÃO SEQUOIA
							-- ISSO PORQUE SE TIVER UM DESSES SERVIÇOS PRECISA PASSAR PELO PROCESSO DE MINUTA
							-- CASO CONTRATIO AS INFORMAÇÕES NAO SERÃO ENVIDAS PARA AS TRANSPORTADORAS, EXEMPLO SEQUOIA
							-- E CARIMBANDO COMO 8 ESSES PEDIDOS NÃO IRÃO APARECER NO PROCESSO DE MINUTA
							-- **********************************************************************************************************
							IF @v_qtd_sequoia = 0 AND @v_qtd_total_express = 0
								BEGIN

									-- PEDIDO DISPONÍVEL PARA TRANSPORTE, VAMOS SIMPLESMENTE COLOCAR EM TRANSPORTE
									--Fecha a situação disponível para transporte
									exec dbo.SP_GRAVA_HISTORICO_PEDIDO @v_numeroPedido,
																	   7,
																	   2,--fecha
																	   1,
																	   '',
																	   @p_codigoUsuario,
																	   @p_codigoErro OUTPUT,
																	   @p_descErro OUTPUT,
																	   @p_qtLinhasAfetadas OUTPUT
									--Abre a situação em transporte
									exec dbo.SP_GRAVA_HISTORICO_PEDIDO @v_numeroPedido,
																	   8,
																	   1,--abre
																	   1,
																	   '',
																	   @p_codigoUsuario,
																	   @p_codigoErro OUTPUT,
																	   @p_descErro OUTPUT,
																	   @p_qtLinhasAfetadas OUTPUT
				
									--atualiza pedido para em transporte
									update TB_PEDIDO set CD_EST_SITUACAO = 8 where NM_PEDIDO = @v_numeroPedido

									-- *******************************************
									-- ENVIA EMAIL - EM TRANSPORTE
									-- *******************************************
									EXEC pr_PedidoEnviarEmailMudancaStatus
										@v_numeroPedido,
										16,	--@p_cdEvento
										@p_codigoErro OUTPUT,
										@p_descErro OUTPUT,
										@p_qtLinhasAfetadas OUTPUT
								END

						END

					IF @v_codigoSituacaoAtual IN (8,10)
						BEGIN
							
							-- grava a data de entrega do pedido e finaliza
							exec dbo.pr_PedidoAlteraDataEntregaReal @v_numeroPedido,
																	@p_dataNotaFiscal,
																	@p_codigoUsuario,
																	@p_codigoErro OUTPUT,
																	@p_descErro OUTPUT,
																	@p_qtLinhasAfetadas OUTPUT
						END
				END

			-- vamos colocar aqui os updates necessários caso sejam enviados os parâmetros de atualização das informações adicionais do pedido
			-- Links ou códigos de rastreio

			IF LEN(@p_descTracking) > 0
				BEGIN
					UPDATE TB_PEDIDO SET DC_LINK_RASTREIO = @p_descTracking WHERE NM_PEDIDO = @v_numeroPedido
				END

			IF LEN(@p_descTrackingLink) > 0
				BEGIN
					UPDATE TB_PEDIDO SET DC_LINK_RASTREIO = @p_descTrackingLink WHERE NM_PEDIDO = @v_numeroPedido
				END

			IF @p_numeroNotaFiscal > 0
				BEGIN
					--CASO UM NÚMERO DE NF SEJA ENVIADO VAMOS GRAVAR UMA NF NA TABELA PARA REGISTRO DOS DADOS BÁSICOS
					SELECT @v_existeNotaFiscal = ISNULL(MIN(CD_NOTA_FISCAL),0)
					  FROM TB_NOTA_FISCAL WITH(NOLOCK)
					 WHERE NM_NOTA_FISCAL = @p_numeroNotaFiscal
					   AND DC_SERIE = @p_descSerieNotaFiscal
					   AND NM_PEDIDO = @v_numeroPedido

					IF @p_dataNotaFiscal = NULL
						BEGIN
							SELECT @p_dataNotaFiscal = GETDATE()
						END

					IF @p_descChaveAcessoNFiscal = NULL
						BEGIN
							SELECT @p_descChaveAcessoNFiscal = ''
						END

					IF @v_existeNotaFiscal <= 0
						BEGIN
							--NESTE CASO NÃO EXISTE ESTA NF NA BASE DE DADOS, VAMOS REALIZAR O INSERT PARA REGISTRO DA NF
							INSERT INTO TB_NOTA_FISCAL (NM_NOTA_FISCAL,
														DC_SERIE,
														DT_EMISSAO_NOTA_FISCAL,
														DC_CHAVE_ACESSO_NFE,
														DC_LINK_LEITURA_XML,
														DC_LINK_LEITURA_DANFE,
														NM_PEDIDO,
														CD_PESSOA_DESTINATARIO,
														CD_PESSOA_EMISSOR,
														ID_TIPO_NOTA_FISCAL,
														ID_SITUACAO_NOTA_FISCAL)
												VALUES (@p_numeroNotaFiscal,
														@p_descSerieNotaFiscal,
														@p_dataNotaFiscal,
														@p_descChaveAcessoNFiscal,
														@p_descLinkXMLNotaFiscal,
														@p_descLinkDANFENotaFiscal,
														@v_numeroPedido,
														@v_codigoPessoa,
														@v_codigoEmissor,
														2,
														2)
						END
					ELSE
						BEGIN
							-- A NF JÁ EXISTE VAMOS APENAS REALIZAR UM UPDATE DAS INFORMAÇÕES
							UPDATE TB_NOTA_FISCAL SET	NM_NOTA_FISCAL = @p_numeroNotaFiscal,
														DC_SERIE = @p_descSerieNotaFiscal,
														DT_EMISSAO_NOTA_FISCAL = @p_dataNotaFiscal,
														DC_CHAVE_ACESSO_NFE = @p_descChaveAcessoNFiscal,
														DC_LINK_LEITURA_XML = @p_descLinkXMLNotaFiscal,
														DC_LINK_LEITURA_DANFE = @p_descLinkDANFENotaFiscal
							 WHERE CD_NOTA_FISCAL = @v_existeNotaFiscal

						END
				END
			
			END
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
