SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_DividaGeraDivida]
	@p_numeroPedido		numeric(18, 0),
	@p_tipoAcordo		int,
	@p_codigoUsuario	numeric(18,0),

	@p_codigoErro		int				output,
	@p_descricaoErro	varchar(1000)	output,
	@p_linhasAfetadas	int				output
	
AS

DECLARE @v_codigoDivida				numeric(18,0),
		@v_codigoAcordoPagamento	numeric(18,0),
		@v_codigoParcela			numeric(18,0),
		@v_codigoBoletoBancario		numeric(18,0),
		@v_codigoPessoa				numeric(18,0),
		@v_codigoPlanoPagamento		numeric(18,0),
		@v_valorPedido				numeric(18,2),
		@v_valorOriginalParcela		numeric(18,2),
		@v_valorCreditoParcela		numeric(18,2),
		@v_valorCreditoPedido		numeric(18,2),
		@v_parcelaAtual				int,
		@v_qtdParcelas				int,
		@v_qtdDiasEntreParcelas		int,
		@v_qtdDiasValidade			int,
		@v_qtdDiasVencimento		int,
		@v_valorMinimoAcordo		numeric(18,2),
		@v_valorMinimoParcela		numeric(18,2),
		@v_valorTaxaAdmin			numeric(18,2),
		@v_dataVencimento			date,
		@v_dataValidade				date,
		@v_dataGeracaoDivida		datetime,
		@v_dataSaldoDevedor			datetime,
		@v_dataGeracaoAcordoPagamento	date,
		@v_dataGeracaoParcela			date,
		@v_dataGeracaoBoletoBancario	date,
		@v_meioPagamento				int,
		@v_codigoCedente				varchar(100),
		@v_nomeCedente					varchar(100),
		@v_documentoCedente				varchar(100),
		@v_agenciaCedente				varchar(100),
		@v_digitoAgenciaCedente			varchar(100),
		@v_contaCedente					varchar(100),
		@v_digitoCedente				varchar(10),
		@v_bancoCedente					int,
		@v_nossoNumero					varchar(100),
		@v_numeroDocumento				varchar(100),
		@v_codigoCarteira				varchar(10),
		@v_instrucoesBoleto				varchar(300),
		@v_valorDiferencaParcelasTotal  numeric(18,2),

		@v_idFormaProtesto			    int,
		@v_nmDiasProtesto			    int,
		@v_idFormaBaixaTitulo           int, 
		@v_nmDiasBaixatitulo            int,

		@v_idMeioSelecaoEntidade		INT,
		@v_cdEntidadeConciliacao		NUMERIC(18,0),
		@v_banco						INT,
		@v_entServicoExterno			INT,
		@v_idFormaContasReceber			INT,
		@v_idAcaoAutorizacao			INT,
		@v_idBaixaAutomatizada			INT,
		@v_cdEntidadeBaixaAutomatizada	NUMERIC(18,0),
		@v_qtdParcelasCarrinho			INT,
		@v_cdCentroDistribuicao			NUMERIC(18,0),
		@v_qtdRegistroBoletoBancario	INT,
		@v_existeDividaAberta			INT
			
BEGIN TRY
	

	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	
	
	-- ************************************************************
	-- BUSCA PLANO DE PAGAMENTO DO PEDIDO
	-- ************************************************************
	-- ALTERAÇÃO RAFAEL FRANCISCO
	-- APROVEITANDO O SELECT E PEGANDO O CENTRO DE DISTRIBUICAO
	-- PARA SOLUCIONAR O PROBLEMA NA HORA DE GERAR O BOLETO BITRIX 4109
	-- ************************************************************
	SELECT  @v_codigoPlanoPagamento = CD_PLANO_PAGAMENTO,
			@v_codigoPessoa = CD_PESSOA,
			@v_valorPedido = VL_PAGAR_TOTAL,
			@v_valorCreditoPedido = VL_CREDITO_TOTAL,
			@v_qtdParcelasCarrinho = ISNULL(QT_PARCELAS,1),
			@v_cdCentroDistribuicao = CD_CENTRO_DISTRIBUICAO -- VAMOS UTILIZAR O CENTRO DE DISTRIBUIÇÃO PARA ATENDER O BITRIX 4109
	FROM TB_PEDIDO WITH(NOLOCK)
	WHERE NM_PEDIDO = @p_numeroPedido
	

	-- ************************************
	-- BUSCA DADOS DO PLANO DE PAGAMENTO
	-- ************************************
	SELECT @v_parcelaAtual = 1

	SELECT	
			@v_qtdParcelas			 = QT_PARCELAS,
			@v_qtdDiasEntreParcelas  = QT_DIAS_ENTRE_PARCELAS,
			@v_qtdDiasValidade		 = QT_DIAS_VALIDADE,
			@v_qtdDiasVencimento	 = QT_DIAS_VENCIMENTO,
			@v_valorMinimoAcordo	 = VL_MINIMO_ACORDO,
			@v_valorMinimoParcela	 = VL_MINIMO_PARCELA,
			@v_meioPagamento	     = ID_MEIO_PAGAMENTO,
			@v_instrucoesBoleto		 = DC_INSTRUCOES_BOLETO,

			@v_idFormaProtesto		 = ID_FORMA_PROTESTO,
			@v_nmDiasProtesto		 = NM_DIAS_PROTESTO,
			@v_idFormaBaixaTitulo	 = ID_FORMA_BAIXA_TITULO,
			@v_nmDiasBaixatitulo	 = NM_DIAS_BAIXA_TITULO,
			@v_valorTaxaAdmin		 = isnull(VL_TAXA_ADMINISTRATIVA,0),

			@v_idMeioSelecaoEntidade = ID_MEIO_SELECAO_ENTIDADE,
			@v_cdEntidadeConciliacao = CD_ENTIDADE_CONCILIACAO,
			@v_entServicoExterno     = (SELECT ISNULL(MIN(ID_NOME_SERVICO_EXTERNO),0) FROM TB_SERVICO_EXTERNO WITH(NOLOCK) WHERE CD_SERVICO_EXTERNO = P.CD_SERVICO_EXTERNO),
			@v_idFormaContasReceber	 = ID_FORMA_CONTAS_RECEBER,
			@v_idAcaoAutorizacao	 = ID_ACAO_AUTORIZACAO,
			@v_idBaixaAutomatizada	 = ID_BAIXA_MANUAL_AUTOMATIZADA,
			@v_cdEntidadeBaixaAutomatizada = CD_ENTIDADE_BAIXA_AUTOMATIZADA
	FROM 
		  TB_PLANO_PAGAMENTO P WITH(NOLOCK)
	WHERE
	      CD_PLANO_PAGAMENTO	     = @v_codigoPlanoPagamento
	
	-- ********************************************************************************************
	-- Alteração por Diego Zilioti em 12/11/2019
	-- Nova validação feita para planos de pagamento com serviço externo do tipo cartão de crédito
	-- Neste casos precisamos gravar a dívida somente com 1 parcela, devemos ignorar a informação de parcelas do plano
	-- ********************************************************************************************
	-- NOVA ATUALIZAÇÃO NESTA LÓGICA POR DIEGO ZILIOTI EM 04/09/2021 - ATIVIDADE BITRIX #2699
	-- VAMOS VALIDAR UM NOVO PARÂMETRO NO PLANO DE PAGAMENTO PARA DETERMINAR SE IREMOS CONSIDERAR SOMENTE UMA PARCELA OU A QUANTIDADE ESCOLHIDA PELO CLIENTE NA CAPTAÇÃO
	-- ********************************************************************************************
	IF @v_meioPagamento IN (7,10,3,11) AND @v_entServicoExterno IN (1,2,3,4,8,12,21) --cartão de crédito PARA QUALQUER SERVIÇO EXTERNO
		BEGIN
			IF @v_idFormaContasReceber = 1
				BEGIN
					SELECT @v_qtdParcelas = 1
				END
			ELSE
				BEGIN
					SELECT @v_qtdParcelas = @v_qtdParcelasCarrinho
				END
		END
	
	-- ************************************
	-- INSERE A DIVIDA
	-- ************************************
	select @v_dataGeracaoDivida = GETDATE()
	select @v_dataSaldoDevedor = GETDATE()
	
	-- Precisamos verificar se existe um valor de taxa administrativa para o plano de pagamento, neste caso precisamos somar ao valor total do pedido
	IF @v_valorTaxaAdmin > 0
		BEGIN
			SELECT @v_valorPedido = @v_valorPedido + @v_valorTaxaAdmin
		END
	
	-- INICIO -> ALTERAÇÃO ALDIR (29/07/2022) : O PROCESSO DE FINALIZAR PEDIDO AS VEZES ESTA EXECUTANDO MAIS DE UMA VEZ, GERANDO MAIS DE UMA DIVIDA PARA O MESMO PEDIDO
	-- EXCLUIR AS PARCELAS DO PEDIDO CASO TENHA
	-- CORREÇÃO POR DIEGO ZILIOTI EM 06/12/2022 - BITRIX #4235 - Precisamos excluir somente as dívidas que estejam em aberto pois podemos ter casos de edição de pedido com dividas fechadas ou com pagamento realizado, NESTE CASO ESSAS DÍVIDAS NÃO PODEM SER EXCLUÍDAS
	-- ALÉM DISTO FORAM ADICIONADAS AS TABELAS DE HISTÓRICO DE PARCELAS QUE NÃO ESTAVAM NO TRATAMENTO E GERAVAM ERRO NA GERAÇÃO DA DÍVIDA QDO OCORRIA UMA EDIÇÃO 
	
	BEGIN TRANSACTION
		DELETE TB_PARCELA_HISTORICO WHERE CD_PARCELA IN (SELECT CD_PARCELA FROM TB_PARCELA WHERE CD_DIVIDA IN (SELECT CD_DIVIDA FROM TB_DIVIDA D WITH (NOLOCK)
																											   WHERE D.NM_PEDIDO = @p_numeroPedido
																											   AND D.ID_SITUACAO_DIVIDA = 1
																											   AND NOT EXISTS (SELECT 1 FROM TB_CONCILIACAO C WITH(NOLOCK)
																															   WHERE C.CD_DIVIDA = D.CD_DIVIDA)))
	COMMIT TRANSACTION

	BEGIN TRANSACTION
		DELETE TB_PARCELA_HISTORICO_VALOR_ATUALIZADO WHERE CD_PARCELA IN (SELECT CD_PARCELA FROM TB_PARCELA WHERE CD_DIVIDA IN (SELECT CD_DIVIDA FROM TB_DIVIDA D WITH (NOLOCK)
																																WHERE D.NM_PEDIDO = @p_numeroPedido
																																AND D.ID_SITUACAO_DIVIDA = 1
																																AND NOT EXISTS (SELECT 1 FROM TB_CONCILIACAO C WITH(NOLOCK)
																																				WHERE C.CD_DIVIDA = D.CD_DIVIDA)))
	COMMIT TRANSACTION

	BEGIN TRANSACTION
		DELETE TB_PARCELA WHERE CD_DIVIDA IN (SELECT CD_DIVIDA FROM TB_DIVIDA D WITH (NOLOCK)
											  WHERE D.NM_PEDIDO = @p_numeroPedido
											  AND D.ID_SITUACAO_DIVIDA = 1
											  AND NOT EXISTS (SELECT 1 FROM TB_CONCILIACAO C WITH(NOLOCK)
															  WHERE C.CD_DIVIDA = D.CD_DIVIDA))
	COMMIT TRANSACTION
	-- EXCLUIR OS ACORDOS DO PEDIDO CASO TENHA
	BEGIN TRANSACTION
		DELETE TB_ACORDO_PAGAMENTO WHERE CD_DIVIDA IN (SELECT CD_DIVIDA FROM TB_DIVIDA D WITH (NOLOCK)
													   WHERE NM_PEDIDO = @p_numeroPedido
													   AND D.ID_SITUACAO_DIVIDA = 1
													   AND NOT EXISTS (SELECT 1 FROM TB_CONCILIACAO C WITH(NOLOCK)
																	   WHERE C.CD_DIVIDA = D.CD_DIVIDA))
	COMMIT TRANSACTION
	-- EXCLUIR A DIVIDA DO PEDIDO CASO TENHA
	BEGIN TRANSACTION
		DELETE FROM TB_DIVIDA
		WHERE NM_PEDIDO = @p_numeroPedido
		AND ID_SITUACAO_DIVIDA = 1
		AND NOT EXISTS (SELECT 1 FROM TB_CONCILIACAO C WITH(NOLOCK)
						WHERE C.CD_DIVIDA = CD_DIVIDA)

	COMMIT TRANSACTION
	-- FIM -> ALTERAÇÃO ALDIR (29/07/2022) : O PROCESSO DE FINALIZAR PEDIDO AS VEZES ESTA EXECUTANDO MAIS DE UMA VEZ, GERANDO MAIS DE UMA DIVIDA PARA O MESMO PEDIDO

	EXEC pr_DividaInsereDivida
			@v_dataGeracaoDivida,
			@p_numeroPedido,
			@v_codigoPessoa,
			1, -- ABERTO
			1, -- ABERTO
			@v_valorPedido,
			@v_valorPedido,
			@v_dataSaldoDevedor,
			@v_valorCreditoPedido,
			@v_valorCreditoPedido,
			@v_meioPagamento,
			@v_valorTaxaAdmin,
			@v_idFormaContasReceber,
			@v_idAcaoAutorizacao,
			@v_idBaixaAutomatizada,
			@v_cdEntidadeBaixaAutomatizada,
			@v_codigoPlanoPagamento,
			@p_codigoErro output,
			@p_descricaoErro output,
			@p_linhasAfetadas output,
			@v_codigoDivida output
	
	
	-- ************************************
	-- GRAVA ACORDO DE PAGAMENTO
	-- ************************************
	select @v_dataGeracaoAcordoPagamento = GETDATE()
	
	
	EXEC pr_DividaInsereAcordoPagamento
			@v_codigoDivida,
			@v_dataGeracaoAcordoPagamento,
			1, -- ABERTO
			1, -- ORIGINAL
			@p_codigoErro output,
			@p_descricaoErro output,
			@p_linhasAfetadas output,
			@v_codigoAcordoPagamento output
			

	-- ************************************			
	-- DEFINE VALOR DE CADA PARCELA
	-- ************************************
	SELECT @v_valorOriginalParcela = @v_valorPedido / @v_qtdParcelas
	
	
	-- ************************************
	-- DEFINE CREDITO DE CADA PARCELA
	-- ************************************
	SELECT @v_valorCreditoParcela = @v_valorCreditoPedido / @v_qtdParcelas
	
	
	WHILE (@v_parcelaAtual<=@v_qtdParcelas)
		BEGIN
			IF @v_parcelaAtual = 1
				BEGIN
			
					SELECT @v_dataVencimento = DATEADD(day, @v_qtdDiasVencimento, GETDATE())
					SELECT @v_dataValidade = DATEADD(day, @v_qtdDiasValidade, GETDATE())
					
				END
			ELSE
				BEGIN
			
					SELECT @v_dataVencimento = DATEADD(day, @v_qtdDiasEntreParcelas, @v_dataVencimento)
					SELECT @v_dataValidade = DATEADD(day, @v_qtdDiasEntreParcelas, @v_dataValidade)
					
				END
			
			-- Na última parcela precisamos verificar se houve alguma diferença de centavos para compensar no valor da parcela
			IF @v_parcelaAtual = @v_qtdParcelas
				BEGIN
				
					SELECT @v_valorDiferencaParcelasTotal = @v_valorPedido - (@v_valorOriginalParcela * @v_qtdParcelas)
					
					IF @v_valorDiferencaParcelasTotal <> 0
						BEGIN
							SELECT @v_valorOriginalParcela = @v_valorOriginalParcela + @v_valorDiferencaParcelasTotal
						END
				END
				
			-- ************************************
			-- GRAVA PARCELA
			-- ************************************
			select @v_dataGeracaoParcela = GETDATE()
			
			exec pr_DividaInsereParcela
				@v_codigoDivida,
				@v_codigoAcordoPagamento,
				@v_dataGeracaoParcela,
				@v_dataVencimento,
				@v_dataValidade,
				1,  -- ABERTO
				1,  -- ABERTO
				@v_valorOriginalParcela,
				@v_valorOriginalParcela,
				@v_valorCreditoParcela,
				@v_valorCreditoParcela,
				@v_cdEntidadeConciliacao,
				@p_codigoErro output,
				@p_descricaoErro output,
				@p_linhasAfetadas output,
				@v_codigoParcela output
		
					
			SELECT @v_parcelaAtual = @v_parcelaAtual + 1
			
						
			-- ************************************
			-- GRAVA BOLETO BANCARIO
			-- ALTERAÇÃO FEITA POR ANDERSON - 15/12/2017
			-- SOMENTE GERA BOLETO SE O MEIO DE PAGAMENTO FOR BOLETO BANCARIO
			-- ************************************
			
			IF @v_meioPagamento = 1 -- BOLETO BANCARIO
				BEGIN
					IF @v_valorOriginalParcela > 0
						BEGIN
									
							-- *********************************************************
							-- BUSCA INFORMAÇÕES DO CENDENTE
							-- ALTERAÇÃO FEITA POR ANDERSON - 15/12/2017
							-- AGORA VAMOS BUSCAR O ATIVO DA ENTIDADE DE CONCILIAÇÃO
							-- *********************************************************
							
							SELECT @v_banco = CD_BANCO 
							FROM TB_ENTIDADE_CONCILIACAO WITH(NOLOCK)
							WHERE CD_ENTIDADE_CONCILIACAO = @v_cdEntidadeConciliacao


							SELECT	@v_qtdRegistroBoletoBancario = COUNT(*)
							FROM TB_BOLETO_BANCARIO_PARAMETROS bp WITH(NOLOCK)
							WHERE bp.ID_SITUACAO = 1
							AND bp.CD_BANCO = @v_banco

							IF @v_qtdRegistroBoletoBancario > 1
								BEGIN
									SELECT	@v_codigoCedente = bp.DC_CODIGO_CEDENTE,
											@v_nomeCedente = bp.DC_NOME_CEDENTE,
											@v_documentoCedente = bp.DC_DOCUMENTO_CEDENTE,
											@v_agenciaCedente = bp.DC_AGENCIA_CEDENTE,
											@v_digitoAgenciaCedente = bp.DC_DIGITO_AGENCIA_CEDENTE,
											@v_contaCedente = bp.DC_CONTA_CEDENTE,
											@v_digitoCedente = bp.DC_DIGITO_CONTA_CEDENTE,
											@v_bancoCedente = bp.CD_BANCO,
											@v_codigoCarteira = (select bc.DC_CODIGO_CARTEIRA from TB_BANCO_CARTEIRA bc WITH(NOLOCK) where bc.CD_BANCO_CARTEIRA = bp.CD_BANCO_CARTEIRA)
									FROM TB_BOLETO_BANCARIO_PARAMETROS bp WITH(NOLOCK)
									WHERE bp.ID_SITUACAO = 1
									AND bp.CD_BANCO = @v_banco
									-- ************************************************************
									-- ALTERAÇÃO RAFAEL FRANCISCO
									-- PARA SOLUCIONAR O PROBLEMA NA HORA DE GERAR O BOLETO BITRIX 4109
									AND bp.CD_CENTRO_DISTRIBUICAO = @v_cdCentroDistribuicao
									-- ************************************************************
								END
							ELSE
								BEGIN
									SELECT	@v_codigoCedente = bp.DC_CODIGO_CEDENTE,
											@v_nomeCedente = bp.DC_NOME_CEDENTE,
											@v_documentoCedente = bp.DC_DOCUMENTO_CEDENTE,
											@v_agenciaCedente = bp.DC_AGENCIA_CEDENTE,
											@v_digitoAgenciaCedente = bp.DC_DIGITO_AGENCIA_CEDENTE,
											@v_contaCedente = bp.DC_CONTA_CEDENTE,
											@v_digitoCedente = bp.DC_DIGITO_CONTA_CEDENTE,
											@v_bancoCedente = bp.CD_BANCO,
											@v_codigoCarteira = (select bc.DC_CODIGO_CARTEIRA from TB_BANCO_CARTEIRA bc WITH(NOLOCK) where bc.CD_BANCO_CARTEIRA = bp.CD_BANCO_CARTEIRA)
									FROM TB_BOLETO_BANCARIO_PARAMETROS bp WITH(NOLOCK)
									WHERE bp.ID_SITUACAO = 1
									AND bp.CD_BANCO = @v_banco
								END							

							-- POPULA NOSSO NUMERO E NUMERO DO DOCUMENTO
							-- select @v_nossoNumero = @p_numeroPedido	
							select @v_nossoNumero = @v_codigoParcela	
							select @v_numeroDocumento = @v_codigoParcela
						
							select @v_dataGeracaoBoletoBancario = GETDATE()
									
							exec pr_DividaInsereBoletoBancario
									@v_dataGeracaoBoletoBancario,
									1, -- emitido
									@v_codigoDivida,
									@v_codigoParcela,
									@v_codigoAcordoPagamento,
									@v_dataVencimento,
									@v_valorOriginalParcela,
									@v_codigoCedente,
									@v_nomeCedente,
									@v_documentoCedente,
									@v_agenciaCedente,
									@v_digitoAgenciaCedente,
									@v_contaCedente,
									@v_digitoCedente,
									@v_bancoCedente,
									@v_nossoNumero,
									@v_numeroDocumento,
									@v_codigoCarteira,
									@v_instrucoesBoleto,

									@v_idFormaProtesto,
									@v_nmDiasProtesto,			   
									@v_idFormaBaixaTitulo ,         
									@v_nmDiasBaixatitulo,
											           
									@p_codigoErro				output,
									@p_descricaoErro			output,
									@p_linhasAfetadas			output,
									@v_codigoBoletoBancario		output
						END
				END
		END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descricaoErro, @p_codigoErro, 1)
END CATCH;
GO
