SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_SaldoFavorBaixarValorAcao]
	@codigoAcaoSaldoFavor			int, --1 - SAQUE / 2 - COMPRAS FUTURAS
	@numeroPedido					numeric(18,0),
	@numeroSaque					numeric(18,0),

	@codigoUsuario					NUMERIC(18,0),
	@p_codigoErro					INT				OUTPUT,
	@p_descricaoErro				VARCHAR(1000)	OUTPUT,
	@p_linhasAfetadas				INT				OUTPUT
	
AS


DECLARE @ID_LIMITE_SALDO_FAVOR			INT
DECLARE @PC_LIMITE_SALDO_FAVOR			NUMERIC(18,4)
DECLARE @CD_PESSOA						NUMERIC(18,0)
DECLARE @CD_FUNCAO						NUMERIC(18,0)
DECLARE @VL_SALDO_FAVOR_DISPONIVEL		NUMERIC(18,2)
DECLARE @VL_PAGAR_TOTAL					NUMERIC(18,2)
DECLARE @VL_SALDO_FAVOR_UTILIZADO		NUMERIC(18,2)		
DECLARE @VL_SALDO_FAVOR_RESTANTE		NUMERIC(18,2)		

DECLARE @VL_SALDO_FAVOR_DISPONIVEL_MN	NUMERIC(18,2)		
DECLARE @VL_SALDO_FAVOR_DISPONIVEL_SAC	NUMERIC(18,2)		
DECLARE @VL_SALDO_FAVOR_DISPONIVEL_PD	NUMERIC(18,2)		
DECLARE @VL_SALDO_FAVOR_DISPONIVEL_CP	NUMERIC(18,2)	

DECLARE @VL_SALDO_FAVOR_UTILIZADO_MN	NUMERIC(18,2)		
DECLARE @VL_SALDO_FAVOR_UTILIZADO_SAC	NUMERIC(18,2)		
DECLARE @VL_SALDO_FAVOR_UTILIZADO_PD	NUMERIC(18,2)		
DECLARE @VL_SALDO_FAVOR_UTILIZADO_CP	NUMERIC(18,2)	

		
BEGIN TRY

		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	    
	    SELECT @ID_LIMITE_SALDO_FAVOR = 0
		SELECT @PC_LIMITE_SALDO_FAVOR = 0
		SELECT @VL_SALDO_FAVOR_DISPONIVEL = 0
		SELECT @VL_PAGAR_TOTAL = 0
		SELECT @VL_SALDO_FAVOR_UTILIZADO = 0
		SELECT @VL_SALDO_FAVOR_RESTANTE = 0
		SELECT @VL_SALDO_FAVOR_DISPONIVEL_MN = 0
		SELECT @VL_SALDO_FAVOR_DISPONIVEL_SAC = 0
		SELECT @VL_SALDO_FAVOR_DISPONIVEL_PD = 0
		SELECT @VL_SALDO_FAVOR_DISPONIVEL_CP = 0
	    
	    
	  --  IF @codigoAcaoSaldoFavor = 1 --SAQUE
			--BEGIN
			
			--	SELECT	@VL_SALDO_FAVOR_UTILIZADO_MN = VL_SALDO_FAVOR_UTILIZADO_MN,
			--			@VL_SALDO_FAVOR_UTILIZADO_SAC = VL_SALDO_FAVOR_UTILIZADO_SAC,
			--			@VL_SALDO_FAVOR_UTILIZADO_PD = VL_SALDO_FAVOR_UTILIZADO_PD,
			--			@VL_SALDO_FAVOR_UTILIZADO_CP = VL_SALDO_FAVOR_UTILIZADO_CP,
			--			@CD_PESSOA = CD_PESSOA,
			--			@CD_FUNCAO = CD_FUNCAO
			--	FROM TB_SALDO_FAVOR_SAQUE
			--	WHERE CD_SALDO_FAVOR_SAQUE = @numeroSaque
				
			--	IF @VL_SALDO_FAVOR_UTILIZADO_MN > 0
			--		BEGIN
						
			--			EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
			--				@CD_PESSOA,
			--				@CD_FUNCAO,
			--				2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
			--				2, -- TIPO_MOVIMENTO = DEBITO
			--				7, -- ORIGEM_MOVIMENTO = SAQUE
			--				@numeroSaque,
			--				21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
			--				1, -- ORIGEM_SALDO_FAVOR = MN
			--				@VL_SALDO_FAVOR_UTILIZADO_MN,
			--				@codigoUsuario,
			--				@p_codigoErro		OUTPUT,
			--				@p_descricaoErro	OUTPUT,
			--				@p_linhasAfetadas	OUTPUT	
					
			--		END
					
									
			--	IF @VL_SALDO_FAVOR_UTILIZADO_SAC > 0
			--		BEGIN
			--			EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
			--				@CD_PESSOA,
			--				@CD_FUNCAO,
			--				2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
			--				2, -- TIPO_MOVIMENTO = DEBITO
			--				7, -- ORIGEM_MOVIMENTO = SAC
			--				@numeroSaque,
			--				21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
			--				2, -- ORIGEM_SALDO_FAVOR = SAQUE
			--				@VL_SALDO_FAVOR_UTILIZADO_SAC,
			--				@codigoUsuario,
			--				@p_codigoErro		OUTPUT,
			--				@p_descricaoErro	OUTPUT,
			--				@p_linhasAfetadas	OUTPUT	
			--		END
				
				
			--	IF @VL_SALDO_FAVOR_UTILIZADO_PD > 0
			--		BEGIN
			--			EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
			--				@CD_PESSOA,
			--				@CD_FUNCAO,
			--				2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
			--				2, -- TIPO_MOVIMENTO = DEBITO
			--				7, -- ORIGEM_MOVIMENTO = SAQUE
			--				@numeroSaque,
			--				21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
			--				3, -- ORIGEM_SALDO_FAVOR = PD
			--				@VL_SALDO_FAVOR_UTILIZADO_PD,
			--				@codigoUsuario,
			--				@p_codigoErro		OUTPUT,
			--				@p_descricaoErro	OUTPUT,
			--				@p_linhasAfetadas	OUTPUT
			--		END
				
				
			--	IF @VL_SALDO_FAVOR_UTILIZADO_CP > 0
			--		BEGIN
			--			EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
			--				@CD_PESSOA,
			--				@CD_FUNCAO,
			--				2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
			--				2, -- TIPO_MOVIMENTO = DEBITO
			--				7, -- ORIGEM_MOVIMENTO = SAQUE
			--				@numeroSaque,
			--				21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
			--				4, -- ORIGEM_SALDO_FAVOR = CP
			--				@VL_SALDO_FAVOR_UTILIZADO_CP,
			--				@codigoUsuario,
			--				@p_codigoErro		OUTPUT,
			--				@p_descricaoErro	OUTPUT,
			--				@p_linhasAfetadas	OUTPUT
			--		END
						
			
			--END
	    
	    IF @codigoAcaoSaldoFavor = 2 -- COMPRAS FUTURAS
			BEGIN
				-- ********************************************************
				-- PEGAR OS PARAMETROS DA TABELA REGRA COMERCIAL
				-- ISSO SE DEVE POIS É COMUM TRAVAR UM PERCENTUAL DE UTILIZAÇÃO DO SALDO A FAVOR
				-- ********************************************************
				SELECT  @ID_LIMITE_SALDO_FAVOR = ISNULL(B.ID_LIMITE_SALDO_FAVOR, 2),
						@PC_LIMITE_SALDO_FAVOR = ISNULL(B.PC_LIMITE_SALDO_FAVOR, 0),
						@CD_PESSOA = A.CD_PESSOA,
						@CD_FUNCAO = A.CD_FUNCAO 	
				FROM TB_PEDIDO A, TB_REGRA_COMERCIAL B
				WHERE A.NM_PEDIDO = @numeroPedido
				AND A.CD_REGRA_COMERCIAL = B.CD_REGRA_COMERCIAL 

				-- ***************************************************************					
				-- NAO POSSUI LIMITE VAMOS USAR TODO O CREDITO DISPONIVEL
				-- ***************************************************************					
				IF @ID_LIMITE_SALDO_FAVOR <> 1 
					BEGIN
						
						-- É PRECISO VERIFICAR O SALDO A FAVOR UTILIZADO. ISSO PORQUE SÓ 
						-- SÓ PODEMOS UTILIZAR COMO MAXIMO O VALOR DO PEDIDO (PRODUTOS)
				
						IF @VL_SALDO_FAVOR_DISPONIVEL <= @VL_PAGAR_TOTAL
							BEGIN
								SELECT @VL_SALDO_FAVOR_UTILIZADO = @VL_SALDO_FAVOR_DISPONIVEL
							END
						ELSE
							BEGIN
								SELECT @VL_SALDO_FAVOR_UTILIZADO = @VL_PAGAR_TOTAL
							END
							
						
					END
				ELSE
					BEGIN
	
						-- ********************************************************************
						-- CALCULA O SALDO A FAVOR QUE  UTILIZADO DEPENDENDO DO PERCENTUAL
						-- ********************************************************************
						
						SELECT @VL_SALDO_FAVOR_UTILIZADO = @VL_PAGAR_TOTAL * (@PC_LIMITE_SALDO_FAVOR/ 100)
						
						IF @VL_SALDO_FAVOR_UTILIZADO >= @VL_SALDO_FAVOR_DISPONIVEL
							-- SE O VALOR CALCULA FOR MAIOR OU IGUAL AO DISPONIVEL ENTÃO VAMOS
							-- UTILIZAR TODO O DISPONIVEL
							BEGIN
								SELECT @VL_SALDO_FAVOR_UTILIZADO = @VL_SALDO_FAVOR_DISPONIVEL
							END
				
					END
					
						
				-- ****************************************************************************************************
				IF @VL_SALDO_FAVOR_UTILIZADO > 0
					BEGIN
									
						EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
							@CD_PESSOA,
							@CD_FUNCAO,
							2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
							2, -- TIPO_MOVIMENTO = DEBITO
							1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
							@numeroPedido,
							21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
							@VL_SALDO_FAVOR_UTILIZADO,
							@codigoUsuario,
							@p_codigoErro		OUTPUT,
							@p_descricaoErro	OUTPUT,
							@p_linhasAfetadas	OUTPUT	
																												
						UPDATE TB_PEDIDO 
						SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO
						WHERE NM_PEDIDO = @numeroPedido
										
						
						-- BUSCA OS VALORES DISPONIVEIS NO PEDIDO
						--SELECT	@VL_SALDO_FAVOR_DISPONIVEL_MN = VL_SALDO_FAVOR_DISPONIVEL_MN,
						--		@VL_SALDO_FAVOR_DISPONIVEL_SAC = VL_SALDO_FAVOR_DISPONIVEL_SAC,
						--		@VL_SALDO_FAVOR_DISPONIVEL_PD = VL_SALDO_FAVOR_DISPONIVEL_PD,
						--		@VL_SALDO_FAVOR_DISPONIVEL_CP = VL_SALDO_FAVOR_DISPONIVEL_CP
						--FROM TB_PEDIDO
						--WHERE NM_PEDIDO = @numeroPedido
						
						--SELECT @VL_SALDO_FAVOR_RESTANTE = @VL_SALDO_FAVOR_UTILIZADO
						
						---- VERIFICA SE POSSUI DISPONIVEL NO SAC
						--IF @VL_SALDO_FAVOR_DISPONIVEL_SAC >0 
						--	BEGIN
						--		-- O VALOR QUE ESTA NA COLUNA SAC É SUFICIENTE
						--		IF @VL_SALDO_FAVOR_RESTANTE <= @VL_SALDO_FAVOR_DISPONIVEL_SAC
									
						--			BEGIN
						--				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--					@CD_PESSOA,
						--					@CD_FUNCAO,
						--					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						--					2, -- TIPO_MOVIMENTO = DEBITO
						--					1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						--					@numeroPedido,
						--					21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						--					2, -- ORIGEM_SALDO_FAVOR = SAC
						--					@VL_SALDO_FAVOR_RESTANTE,
						--					@codigoUsuario,
						--					@p_codigoErro		OUTPUT,
						--					@p_descricaoErro			OUTPUT,
						--					@p_linhasAfetadas	OUTPUT	
									
																														
						--				UPDATE TB_PEDIDO 
						--				SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO,
						--					VL_SALDO_FAVOR_UTILIZADO_SAC = @VL_SALDO_FAVOR_RESTANTE,
						--					PC_LIMITE_SALDO_FAVOR = 0
						--				WHERE NM_PEDIDO = @numeroPedido
										
						--				SELECT @VL_SALDO_FAVOR_RESTANTE = 0
																		
						--			END

						--		ELSE
						--			BEGIN
									
						--				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--					@CD_PESSOA,
						--					@CD_FUNCAO,
						--					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						--					2, -- TIPO_MOVIMENTO = DEBITO
						--					1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						--					@numeroPedido,
						--					21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						--					2, -- ORIGEM_SALDO_FAVOR = SAC
						--					@VL_SALDO_FAVOR_DISPONIVEL_SAC,
						--					@codigoUsuario,
						--					@p_codigoErro		OUTPUT,
						--					@p_descricaoErro			OUTPUT,
						--					@p_linhasAfetadas	OUTPUT	
									
																														
						--				UPDATE TB_PEDIDO 
						--				SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO,
						--					VL_SALDO_FAVOR_UTILIZADO_SAC = @VL_SALDO_FAVOR_DISPONIVEL_SAC,
						--					PC_LIMITE_SALDO_FAVOR = 0
						--				WHERE NM_PEDIDO = @numeroPedido
										
						--				SELECT @VL_SALDO_FAVOR_RESTANTE = @VL_SALDO_FAVOR_RESTANTE - @VL_SALDO_FAVOR_DISPONIVEL_SAC
									
									
						--			END
						--	END
						
						---- VERIFICA SE POSSUI DISPONIVEL NO CP - CANCELAMENTO DO PEDIDO
						--IF @VL_SALDO_FAVOR_DISPONIVEL_CP >0 
						--	BEGIN
						--		-- O VALOR QUE ESTA NA COLUNA CP É SUFICIENTE
						--		IF @VL_SALDO_FAVOR_RESTANTE <= @VL_SALDO_FAVOR_DISPONIVEL_CP
									
						--			BEGIN
						--				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--					@CD_PESSOA,
						--					@CD_FUNCAO,
						--					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						--					2, -- TIPO_MOVIMENTO = DEBITO
						--					1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						--					@numeroPedido,
						--					21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						--					4, -- ORIGEM_SALDO_FAVOR = CP - CANCELAMENTO
						--					@VL_SALDO_FAVOR_RESTANTE,
						--					@codigoUsuario,
						--					@p_codigoErro		OUTPUT,
						--					@p_descricaoErro			OUTPUT,
						--					@p_linhasAfetadas	OUTPUT	
									
																														
						--				UPDATE TB_PEDIDO 
						--				SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO,
						--					VL_SALDO_FAVOR_UTILIZADO_CP = @VL_SALDO_FAVOR_RESTANTE,
						--					PC_LIMITE_SALDO_FAVOR = 0
						--				WHERE NM_PEDIDO = @numeroPedido
										
						--				SELECT @VL_SALDO_FAVOR_RESTANTE = 0
								
						--			END

						--		ELSE
						--			BEGIN
										
						--				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--					@CD_PESSOA,
						--					@CD_FUNCAO,
						--					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						--					2, -- TIPO_MOVIMENTO = DEBITO
						--					1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						--					@numeroPedido,
						--					21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						--					4, -- ORIGEM_SALDO_FAVOR = CP
						--					@VL_SALDO_FAVOR_DISPONIVEL_CP,
						--					@codigoUsuario,
						--					@p_codigoErro		OUTPUT,
						--					@p_descricaoErro			OUTPUT,
						--					@p_linhasAfetadas	OUTPUT	
									
																														
						--				UPDATE TB_PEDIDO 
						--				SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO,
						--					VL_SALDO_FAVOR_UTILIZADO_CP = @VL_SALDO_FAVOR_DISPONIVEL_CP,
						--					PC_LIMITE_SALDO_FAVOR = 0
						--				WHERE NM_PEDIDO = @numeroPedido
										
						--				SELECT @VL_SALDO_FAVOR_RESTANTE = @VL_SALDO_FAVOR_RESTANTE - @VL_SALDO_FAVOR_DISPONIVEL_CP
																			
									
						--			END
						--	END
						
						---- VERIFICA SE POSSUI DISPONIVEL NO PD - PAGAMENTO DE DIVIDA
						--IF @VL_SALDO_FAVOR_DISPONIVEL_PD >0 
						--	BEGIN
						--		-- O VALOR QUE ESTA NA COLUNA PD É SUFICIENTE
						--		IF @VL_SALDO_FAVOR_RESTANTE <= @VL_SALDO_FAVOR_DISPONIVEL_PD
									
						--			BEGIN
						--				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--					@CD_PESSOA,
						--					@CD_FUNCAO,
						--					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						--					2, -- TIPO_MOVIMENTO = DEBITO
						--					1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						--					@numeroPedido,
						--					21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						--					3, -- ORIGEM_SALDO_FAVOR = PD - PAGAMENTO
						--					@VL_SALDO_FAVOR_RESTANTE,
						--					@codigoUsuario,
						--					@p_codigoErro		OUTPUT,
						--					@p_descricaoErro			OUTPUT,
						--					@p_linhasAfetadas	OUTPUT	
									
																														
						--				UPDATE TB_PEDIDO 
						--				SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO,
						--					VL_SALDO_FAVOR_UTILIZADO_PD = @VL_SALDO_FAVOR_RESTANTE,
						--					PC_LIMITE_SALDO_FAVOR = 0
						--				WHERE NM_PEDIDO = @numeroPedido
										
						--				SELECT @VL_SALDO_FAVOR_RESTANTE = 0
								
						--			END

						--		ELSE
						--			BEGIN
																				
						--				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--					@CD_PESSOA,
						--					@CD_FUNCAO,
						--					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						--					2, -- TIPO_MOVIMENTO = DEBITO
						--					1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						--					@numeroPedido,
						--					21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						--					3, -- ORIGEM_SALDO_FAVOR = PD
						--					@VL_SALDO_FAVOR_DISPONIVEL_PD,
						--					@codigoUsuario,
						--					@p_codigoErro		OUTPUT,
						--					@p_descricaoErro			OUTPUT,
						--					@p_linhasAfetadas	OUTPUT	
									
																														
						--				UPDATE TB_PEDIDO 
						--				SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO,
						--					VL_SALDO_FAVOR_UTILIZADO_PD = @VL_SALDO_FAVOR_DISPONIVEL_PD,
						--					PC_LIMITE_SALDO_FAVOR = 0
						--				WHERE NM_PEDIDO = @numeroPedido
										
						--				SELECT @VL_SALDO_FAVOR_RESTANTE = @VL_SALDO_FAVOR_RESTANTE - @VL_SALDO_FAVOR_DISPONIVEL_PD
									
						--			END
						--	END
						
						---- VERIFICA SE POSSUI DISPONIVEL NO MN
						--IF @VL_SALDO_FAVOR_DISPONIVEL_MN >0 
						--	BEGIN
						--		-- O VALOR QUE ESTA NA COLUNA PD É SUFICIENTE
						--		IF @VL_SALDO_FAVOR_RESTANTE <= @VL_SALDO_FAVOR_DISPONIVEL_MN
									
						--			BEGIN
						--				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--					@CD_PESSOA,
						--					@CD_FUNCAO,
						--					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						--					2, -- TIPO_MOVIMENTO = DEBITO
						--					1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						--					@numeroPedido,
						--					21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						--					1, -- ORIGEM_SALDO_FAVOR = MN
						--					@VL_SALDO_FAVOR_RESTANTE,
						--					@codigoUsuario,
						--					@p_codigoErro		OUTPUT,
						--					@p_descricaoErro			OUTPUT,
						--					@p_linhasAfetadas	OUTPUT	
									
																														
						--				UPDATE TB_PEDIDO 
						--				SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO,
						--					VL_SALDO_FAVOR_UTILIZADO_MN = @VL_SALDO_FAVOR_RESTANTE,
						--					PC_LIMITE_SALDO_FAVOR = 0
						--				WHERE NM_PEDIDO = @numeroPedido
										
						--				SELECT @VL_SALDO_FAVOR_RESTANTE = 0
								
						--			END

						--		ELSE
						--			BEGIN
									
													
						--				EXEC dbo.SP_CAD_PESSOA_CONTA_CORRENTE
						--					@CD_PESSOA,
						--					@CD_FUNCAO,
						--					2, -- ENTIDADE_CONTA_CORRENTE = SALDO A FAVOR
						--					2, -- TIPO_MOVIMENTO = DEBITO
						--					1, -- ORIGEM_MOVIMENTO = CAPTAÇÃO DE PEDIDO
						--					@numeroPedido,
						--					21, -- ELEMENTO FINANCEIRO = UTILIZAÇÃO DO SALDO A FAVOR
						--					1, -- ORIGEM_SALDO_FAVOR = MN
						--					@VL_SALDO_FAVOR_DISPONIVEL_MN,
						--					@codigoUsuario,
						--					@p_codigoErro		OUTPUT,
						--					@p_descricaoErro			OUTPUT,
						--					@p_linhasAfetadas	OUTPUT	
									
						--				UPDATE TB_PEDIDO 
						--				SET VL_SALDO_FAVOR_UTILIZADO =  @VL_SALDO_FAVOR_UTILIZADO,
						--					VL_SALDO_FAVOR_UTILIZADO_MN = @VL_SALDO_FAVOR_DISPONIVEL_MN,
						--					PC_LIMITE_SALDO_FAVOR = 0
						--				WHERE NM_PEDIDO = @numeroPedido
										
						--				SELECT @VL_SALDO_FAVOR_RESTANTE = @VL_SALDO_FAVOR_RESTANTE - @VL_SALDO_FAVOR_DISPONIVEL_MN
										
									
						--			END
						--	END
						
					END
					
			END
			
		SELECT @p_linhasAfetadas = @@ROWCOUNT

		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
