SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_PRODUTO_VENDA]
	@CD_PRODUTO_VENDA numeric(18,0),
	@DC_PRODUTO_VENDA varchar(80),
	@ID_AGRUPAMENTO int,
	@ID_TIPO_PRODUTO int,
	@CD_MATERIAL numeric(18,0),
	
	@NM_CICLO_LANCAMENTO numeric(18,0),
	@NM_CICLO_DESCONTINUACAO numeric(18,0),
	
	@DC_IMAGEM varchar(200),
	
	@CD_USUARIO NUMERIC(18,0),
	@VAR_TIPO_FUNCAO VARCHAR(1),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS

BEGIN TRY
	
	    SELECT @QT_LINHAS_AFETADAS = 0
		
		IF (@NM_CICLO_DESCONTINUACAO) = 0
			BEGIN
				SELECT @NM_CICLO_DESCONTINUACAO = NULL
			END

		
		IF @VAR_TIPO_FUNCAO = 'I'
			BEGIN
				BEGIN TRANSACTION 
		
				INSERT INTO TB_PRODUTO_VENDA (
					CD_PRODUTO_VENDA,
					DC_PRODUTO_VENDA,
					ID_AGRUPAMENTO,
					ID_TIPO_PRODUTO,
					CD_MATERIAL,
					NM_CICLO_LANCAMENTO,
					NM_CICLO_DESCONTINUACAO,
					--DC_IMAGEM,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
							
						
				VALUES           (
					@CD_PRODUTO_VENDA,
					@DC_PRODUTO_VENDA,
					@ID_AGRUPAMENTO,
					@ID_TIPO_PRODUTO,
					@CD_MATERIAL,
					@NM_CICLO_LANCAMENTO,
					@NM_CICLO_DESCONTINUACAO,
					--@DC_IMAGEM,
					GETDATE(), 
					@CD_USUARIO, 
					GETDATE(), 
					@CD_USUARIO
						)
		
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			
		IF @VAR_TIPO_FUNCAO = 'A'
			BEGIN
				BEGIN TRANSACTION 
		
				UPDATE TB_PRODUTO_VENDA SET
					DC_PRODUTO_VENDA = @DC_PRODUTO_VENDA,
					ID_AGRUPAMENTO = @ID_AGRUPAMENTO,
					ID_TIPO_PRODUTO = @ID_TIPO_PRODUTO,
					CD_MATERIAL = @CD_MATERIAL,
					NM_CICLO_LANCAMENTO = @NM_CICLO_LANCAMENTO,
					NM_CICLO_DESCONTINUACAO = @NM_CICLO_DESCONTINUACAO,
					--DC_IMAGEM = @DC_IMAGEM,
					DT_ATUALIZACAO = GETDATE(),
					CD_USUARIO_ATUALIZACAO = @CD_USUARIO
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA 
							
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
	
		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				BEGIN TRANSACTION 
		
				DELETE FROM TB_PRODUTO_VENDA 
				WHERE CD_PRODUTO_VENDA = @CD_PRODUTO_VENDA 
							
				SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			

		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
