SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PlanoPagamentoInsereParametrosIntegracao]
	@p_cdPlanoPagamento 				NUMERIC(18,0),
	@p_nmParcela						INT,
	@p_dcCodigoCondicaoPagamento		VARCHAR(20),
	@p_dcCodigoFormaPagamento			VARCHAR(20),
	@p_codigoUsuario					NUMERIC(18,0),
	@p_descAcao							VARCHAR(1),
	@p_codigoErro						INT OUTPUT,
	@p_descErro							NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas				INT OUTPUT

AS


BEGIN TRY

	    SELECT @p_qtdeLinhasAfetadas = 0

		IF @p_descAcao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PLANO_PAGAMENTO_INTEGRACAO (
					CD_PLANO_PAGAMENTO,
					NM_PARCELA,
					DC_CONPAG_EXTERNO,
					DC_FORPAG_EXTERNO,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO)
						
				VALUES           (
					@p_cdPlanoPagamento,
					@p_nmParcela,
					@p_dcCodigoCondicaoPagamento,
					@p_dcCodigoFormaPagamento,
					GETDATE(),
					@p_codigoUsuario,
					GETDATE(),
					@p_codigoUsuario)

					
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				--SELECT @p_codigoPlanoPagto = IDENT_CURRENT('TB_PLANO_PAGAMENTO')
			
				COMMIT TRANSACTION
			END	
		
		IF @p_descAcao = 'E'
			BEGIN
				BEGIN TRANSACTION 

				DELETE FROM TB_PLANO_PAGAMENTO_INTEGRACAO
				WHERE CD_PLANO_PAGAMENTO = @p_cdPlanoPagamento
				
				SELECT @p_qtdeLinhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END	
			


		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
