SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pr_PessoaInserePlanoAssinaturaDependentes]
	@p_cdPessoaPlanoAssinaturaDependentes	numeric(18,0),
	@p_cdPessoaPlanoAssinatura				numeric(18,0),
	@p_idTipoPlanoAssinaturaDependentes		int,
	@p_dcNomeCompleto						varchar(100),
	@p_dcDocumento							varchar(100),
	@p_dtNascimento							varchar(20),
	@p_dcEmail								varchar(100),
	@p_codigoUsuario						NUMERIC(18,0),
	@p_descricaoFuncao						VARCHAR(1),

	@p_codigoErro					INT				OUTPUT,
	@p_descricaoErro				VARCHAR(1000)	OUTPUT,
	@p_linhasAfetadas				INT				OUTPUT,
	@p_codigoGerado					NUMERIC(18,0)	OUTPUT
	

AS


DECLARE @QT_REGISTROS INT

DECLARE @QT_DEPENDENTES_PERMITIDOS INT
DECLARE @QT_DEPENDENTES_CADASTRADOS INT

DECLARE @v_cdPessoaTitular			numeric(18,0)
DECLARE @v_dcNomeCompletoTitular	varchar(100)
DECLARE @v_dcDocumentoTitular		varchar(100)
DECLARE @v_dcEmailTitular			varchar(100)
DECLARE	@v_dcVigenciaInicial		varchar(4)

DECLARE @v_dcIdentificador			varchar(16)
DECLARE @v_dcIdentificador1			varchar(4)
DECLARE @v_dcIdentificador2			varchar(7)
DECLARE @v_dcIdentificador3			varchar(4)
DECLARE @v_dcIdentificador4			varchar(1)

/***************************************************************

@p_descricaoFuncao

I = INSERE NOVO DEPENDNETE OU TITULAR
A = ALTERAR INFORMAÇÕES DE TITULAR OU DEPENDENTE
	
**************************************************************/

BEGIN TRY
	
		SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0

		-- ******************************************************
		-- VERIFICA SE AINDA PERMITE CADASTRAR DEPENDENTE
		-- SOMENTE VAMOS FAZER ISSO SE O
		--@p_idTipoPlanoAssinaturaDependentes = 2
		-- ******************************************************

		IF @p_idTipoPlanoAssinaturaDependentes = 2 
			BEGIN

				SELECT	@QT_DEPENDENTES_PERMITIDOS = QT_DEPENDENTES
				FROM TB_PESSOA_PLANO_ASSINATURA
				WHERE CD_PESSOA_PLANO_ASSINATURA = @p_cdPessoaPlanoAssinatura

				SELECT @QT_DEPENDENTES_CADASTRADOS = COUNT(*) 
				FROM TB_PESSOA_PLANO_ASSINATURA_DEPENDENTES
				WHERE ID_TIPO_PLANO_ASSINATURA_DEPENDENTES = 2
				AND CD_PESSOA_PLANO_ASSINATURA = @p_cdPessoaPlanoAssinatura


				IF @QT_DEPENDENTES_CADASTRADOS >= @QT_DEPENDENTES_PERMITIDOS
					BEGIN

						SELECT @p_codigoErro = 1
						SELECT @p_descricaoErro = 'Número de Dependentes atingiu limite máximo'
						RETURN

					END

			END
					
		-- ******************************************************
		-- FIM
		-- ******************************************************



		SELECT	@v_cdPessoaTitular = PP.CD_PESSOA,
				@v_dcNomeCompletoTitular = DBO.FN_BUSCA_NOME_PESSOA(PP.CD_PESSOA),
				@v_dcDocumentoTitular = DBO.FN_BUSCA_DOCUMENTO_PESSOA(PP.CD_PESSOA, 1),
				@v_dcEmailTitular = DBO.FN_BUSCA_EMAIL_PESSOA(PP.CD_PESSOA, 1),
				@v_dcVigenciaInicial = SUBSTRING(CONVERT(VARCHAR, DT_VIGENCIA_INICIAL,103), 4,2) + SUBSTRING(CONVERT(VARCHAR, DT_VIGENCIA_INICIAL,103), 9,2)
		FROM TB_PESSOA_PLANO_ASSINATURA PP
		WHERE PP.CD_PESSOA_PLANO_ASSINATURA = @p_cdPessoaPlanoAssinatura


		IF @p_idTipoPlanoAssinaturaDependentes = 1
			BEGIN
				SELECT @p_dcNomeCompleto = @v_dcNomeCompletoTitular
				SELECT @p_dcDocumento = @v_dcDocumentoTitular
				SELECT @p_dcEmail = @v_dcEmailTitular
			END
		

		-- **********************************************************************************************
		-- TRECHO EXCLUSIVO DA CMC
		-- ESSE TRECHO GERA O NUMERO DE CARTEIRINHA INTERNO
		-- 0 + 3 DIGITOS DO CPF DO TITULAR + CODIGO DO PLANO DE ASSINATURA COM 7 CARACTERES + MES E ANO DO INICIO DA VIGENCIA 
		-- + TIPO (1 - TITULAR, 2, 3, 4 EM DIANTE COMO DEPENDENTE)
		-- **********************************************************************************************
		SELECT @v_dcIdentificador1 = '0' + SUBSTRING(@v_dcDocumentoTitular, 1,3)
		SELECT @v_dcIdentificador2 = REPLICATE('0', 7 - len(@p_cdPessoaPlanoAssinatura)) + cast(@p_cdPessoaPlanoAssinatura as varchar(25))
		SELECT @v_dcIdentificador3 = @v_dcVigenciaInicial
		
		IF @p_idTipoPlanoAssinaturaDependentes = 1
			BEGIN
				SELECT @v_dcIdentificador4 = '1'
			END
		ELSE
			BEGIN
				
				SELECT @QT_REGISTROS = COUNT(*) + 1
				FROM TB_PESSOA_PLANO_ASSINATURA_DEPENDENTES
				where CD_PESSOA_PLANO_ASSINATURA = @p_cdPessoaPlanoAssinatura

				SELECT @v_dcIdentificador4 = @QT_REGISTROS

			END


		SELECT @v_dcIdentificador = @v_dcIdentificador1 + @v_dcIdentificador2 + @v_dcIdentificador3 + @v_dcIdentificador4

		-- ***********************************************************************************************
		-- FIM
		-- ***********************************************************************************************


		-- INSERE REGISTRO
		IF @p_descricaoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_PESSOA_PLANO_ASSINATURA_DEPENDENTES(
					--CD_PESSOA_PLANO_ASSINATURA_DEPENDENTES,
					CD_PESSOA_PLANO_ASSINATURA,
					ID_TIPO_PLANO_ASSINATURA_DEPENDENTES,
					DC_NOME_COMPLETO,
					DC_DOCUMENTO,
					DC_EMAIL,
					DC_IDENTIFICADOR,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO,
					DT_ATUALIZACAO,
					CD_USUARIO_ATUALIZACAO
					)
				VALUES
					(
						@p_cdPessoaPlanoAssinatura,
						@p_idTipoPlanoAssinaturaDependentes,
						@p_dcNomeCompleto, 
						@p_dcDocumento,
						@p_dcEmail,
						@v_dcIdentificador,
						GETDATE(),
						@p_codigoErro,
						GETDATE(),
						@p_codigoErro
					)

					
				SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoGerado = IDENT_CURRENT('TB_PESSOA_PLANO_ASSINATURA_DEPENDENTES')
				
				COMMIT TRANSACTION
			END	

	
				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;





GO
