SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiPessoaInserePessoaEndereco]
	
	@p_codigoPessoa			NUMERIC(18,0),
	@p_idTipoEndereco		INT,
	@p_codigoEstGeografica	NUMERIC(18,0),
	@p_descEstGeoNivel1		VARCHAR(80),
	@p_descEstGeoNivel2		VARCHAR(80),
	@p_descEstGeoNivel3		VARCHAR(80),
	@p_descEstGeoNivel4		VARCHAR(80),
	@p_descEstGeoNivel5		VARCHAR(80),
	@p_descEstGeoNivel6		VARCHAR(80),
	@p_descEstGeoNivel7		VARCHAR(80),
	@p_descEstGeoNivel8		VARCHAR(80),
	@p_descEstGeoNivel9		VARCHAR(80),
	@p_descCodigoPostal		VARCHAR(20),
	@p_descNumero			VARCHAR(10),
	@p_descComplemento		VARCHAR(60),
	@p_descReferencia		VARCHAR(80),
	@p_descNomeEndereco		VARCHAR(200),

	@p_codigoUsuario		NUMERIC(18,0),
	@p_descAcao				VARCHAR(1),
	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT

AS

DECLARE	@v_descEstGeoNivel4		VARCHAR(80),
		@v_descEstGeoNivel5		VARCHAR(80)

BEGIN TRY

	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	--PRIMEIRO VAMOS IDENTIFICAR SE O CEP INFORMADO É DE UMA CIDADE COM CEP GENÉRICO, NESTE CASO VAMOS LER OS CAMPOS ENVIADOS PELA API PARA RUA E BAIRRO
	--CASO NÃO SEJA VAMOS GRAVAR OS DADOS DIRETO DA EST GEOGRÁFICA
	SELECT @v_descEstGeoNivel4 = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO4),
		   @v_descEstGeoNivel5 = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO5)
	  FROM TB_EST_GEOGRAFICA WITH(NOLOCK)
	 WHERE CD_EST_GEOGRAFICA = @p_codigoEstGeografica

	IF @v_descEstGeoNivel4 = '-' --CEP DE CIDADE GENÉRICO
		BEGIN
			SELECT @p_descEstGeoNivel1 = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
			       @p_descEstGeoNivel2 = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
			       @p_descEstGeoNivel3 = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3)
			  FROM TB_EST_GEOGRAFICA WITH(NOLOCK)
			 WHERE CD_EST_GEOGRAFICA = @p_codigoEstGeografica
		END
	ELSE
		BEGIN
			SELECT @p_descEstGeoNivel1 = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO1),
			       @p_descEstGeoNivel2 = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO2),
			       @p_descEstGeoNivel3 = dbo.FN_BUSCA_DESC_EST_GEOGRAFICA(CD_NIVEL_GEO3),
				   @p_descEstGeoNivel4 = @v_descEstGeoNivel4,
				   @p_descEstGeoNivel5 = @v_descEstGeoNivel5
			  FROM TB_EST_GEOGRAFICA WITH(NOLOCK)
			 WHERE CD_EST_GEOGRAFICA = @p_codigoEstGeografica
		END

	IF @p_descAcao = 'I'
		BEGIN
			--INSERÇÃO DE UM NOVO DOCUMENTO
			INSERT INTO TB_PESSOA_ENDERECO
				(CD_PESSOA,
				ID_TIPO_ENDERECO,
				CD_EST_GEOGRAFICA,
				DC_ESTRUTURA_GEO1,
				DC_ESTRUTURA_GEO2,
				DC_ESTRUTURA_GEO3,
				DC_ESTRUTURA_GEO4,
				DC_ESTRUTURA_GEO5,
				DC_ESTRUTURA_GEO6,
				DC_ESTRUTURA_GEO7,
				DC_ESTRUTURA_GEO8,
				DC_ESTRUTURA_GEO9,
				DC_CODIGO_POSTAL,
				DC_NUMERO,
				DC_COMPLEMENTO,
				DC_REFERENCIA,
				DC_NOME_ENDERECO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO)
			VALUES
				(@p_codigoPessoa,
				@p_idTipoEndereco,
				@p_codigoEstGeografica,
				@p_descEstGeoNivel1,
				@p_descEstGeoNivel2,
				@p_descEstGeoNivel3,
				@p_descEstGeoNivel4,
				@p_descEstGeoNivel5,
				@p_descEstGeoNivel6,
				@p_descEstGeoNivel7,
				@p_descEstGeoNivel8,
				@p_descEstGeoNivel9,
				@p_descCodigoPostal,
				@p_descNumero,
				@p_descComplemento,
				@p_descReferencia,
				@p_descNomeEndereco,
				GETDATE(),
				@p_codigoUsuario,
				GETDATE(),
				@p_codigoUsuario)
		END

	IF @p_descAcao = 'A'
		BEGIN
			--ATUALIZAÇÃO DE UM DOCUMENTO EXISTENTE
			UPDATE TB_PESSOA_ENDERECO
			   SET CD_EST_GEOGRAFICA = @p_codigoEstGeografica,
			       DC_ESTRUTURA_GEO1 = @p_descEstGeoNivel1,
				   DC_ESTRUTURA_GEO2 = @p_descEstGeoNivel2,
				   DC_ESTRUTURA_GEO3 = @p_descEstGeoNivel3,
				   DC_ESTRUTURA_GEO4 = @p_descEstGeoNivel4,
				   DC_ESTRUTURA_GEO5 = @p_descEstGeoNivel5,
				   DC_ESTRUTURA_GEO6 = @p_descEstGeoNivel6,
				   DC_ESTRUTURA_GEO7 = @p_descEstGeoNivel7,
				   DC_ESTRUTURA_GEO8 = @p_descEstGeoNivel8,
				   DC_ESTRUTURA_GEO9 = @p_descEstGeoNivel9,
				   DC_CODIGO_POSTAL = @p_descCodigoPostal,
				   DC_NUMERO = @p_descNumero,
				   DC_COMPLEMENTO = @p_descComplemento,
				   DC_REFERENCIA = @p_descReferencia,
				   DC_NOME_ENDERECO = @p_descNomeEndereco,
				   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
				   DT_ATUALIZACAO = GETDATE()
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_ENDERECO = @p_idTipoEndereco
		END

	IF @p_descAcao = 'E'
		BEGIN
			--EXCLUSÃO DE UM DOCUMENTO
			DELETE FROM TB_PESSOA_ENDERECO
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_ENDERECO = @p_idTipoEndereco
		END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
