SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GRAVA_HISTORICO_EMBALAGEM]
	@NM_EMBALAGEM NUMERIC(18,0),
	@NM_PEDIDO NUMERIC(18,0),
	@CD_EST_SITUACAO NUMERIC(18,0),
	@ID_INICIO_FIM INT,	
	@CD_USUARIO NUMERIC(18,0),
	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0

			IF @ID_INICIO_FIM = 1 -- INICIO
				BEGIN
					BEGIN TRANSACTION 
		
					-- CRIA REGISTRO
					INSERT INTO TB_PEDIDO_EMBALAGEM_HISTORICO (
							NM_PEDIDO,
							NM_EMBALAGEM, 
							CD_EST_SITUACAO,
							DT_INICIAL,
							CD_USUARIO_INICIAL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
					VALUES           (
							@NM_PEDIDO,
							@NM_EMBALAGEM,
							@CD_EST_SITUACAO,
							GETDATE(), 
							@CD_USUARIO, 
							GETDATE(), 
							@CD_USUARIO, 
							GETDATE(), 
							@CD_USUARIO
							)
						
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					COMMIT TRANSACTION
		
		
				END
			ELSE
				BEGIN
					BEGIN TRANSACTION 
		
					-- ALTERA DATA FINAL E USUARIO
					UPDATE TB_PEDIDO_EMBALAGEM_HISTORICO SET
						DT_FINAL = GETDATE(),
						CD_USUARIO_FINAL = @CD_USUARIO,
						DT_ATUALIZACAO = GETDATE(),
						CD_USUARIO_ATUALIZACAO = @CD_USUARIO
					WHERE	NM_PEDIDO = @NM_PEDIDO
							AND NM_EMBALAGEM = @NM_EMBALAGEM	
							AND CD_EST_SITUACAO = @CD_EST_SITUACAO
			
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					COMMIT TRANSACTION
								
				END
		
		SELECT @CD_ERRO = 0
		SELECT @DC_ERRO = ''
		
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
