SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[pr_IntegracaoInsereLogIntegracaoItemCompleto]
   @CD_LOG_INTEGRACAO NUMERIC(18,0),
   @ID_TIPO_INTEGRACAO_ITEM INT,
   @DC_VALOR_INTEGRACAO_ITEM NVARCHAR(500),
   @NM_VALOR_INTEGRACAO_ITEM INT = NULL,
   @ID_SITUACAO_INTEGRACAO INT,
   @DC_MENSAGEM_INTEGRACAO VARCHAR(MAX) = NULL,
   @DT_ENVIO_INTEGRACAO DATETIME,
   @DC_REQUEST VARCHAR(MAX) = NULL,
   @DC_RESPONSE VARCHAR(MAX) = NULL,

   @VAR_RETORNO INT OUTPUT,
   @DC_ERRO NVARCHAR(MAX) OUTPUT,
   @QT_LINHAS_AFETADAS INT OUTPUT
AS
BEGIN TRY
    SET @QT_LINHAS_AFETADAS = 0;

    BEGIN TRANSACTION;

    INSERT INTO TB_LOG_INTEGRACAO_ITEM
    (
        CD_LOG_INTEGRACAO,
        ID_TIPO_INTEGRACAO_ITEM,
        DC_VALOR_INTEGRACAO_ITEM,
        NM_VALOR_INTEGRACAO_ITEM,
        ID_SITUACAO_INTEGRACAO,
        DC_MENSAGEM_INTEGRACAO,
        DT_ENVIO_INTEGRACAO,
        DC_REQUEST,
        DC_RESPONSE
    )
    VALUES
    (
        @CD_LOG_INTEGRACAO,
        @ID_TIPO_INTEGRACAO_ITEM,
        @DC_VALOR_INTEGRACAO_ITEM,
        @NM_VALOR_INTEGRACAO_ITEM,
        @ID_SITUACAO_INTEGRACAO,
        @DC_MENSAGEM_INTEGRACAO,
        @DT_ENVIO_INTEGRACAO,
        @DC_REQUEST,
        @DC_RESPONSE
    );

    SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT;

    COMMIT TRANSACTION;
    SET @VAR_RETORNO = 0;
    SET @DC_ERRO = NULL;
END TRY
BEGIN CATCH
    SET @VAR_RETORNO = ERROR_NUMBER();
    SET @DC_ERRO = ERROR_MESSAGE();

    IF @@TRANCOUNT > 0
       ROLLBACK TRANSACTION;
END CATCH;
GO
