SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_ParcelaCancelaParcela]  
 @p_codigoParcela  numeric(18,0),  
 @p_codigoUsuario  numeric(18,0),  
 @p_retornoCancelamentoTef varchar(max) = null,
  
 @p_codigoErro   int    output,  
 @p_descricaoErro  varchar(1000) output,  
 @p_linhasAfetadas  int    output  
   
AS  
  
DECLARE @v_codigoDivida    numeric(18,0),  
  @v_codigoAcordoPagamento numeric(18,0),  
  @v_codigoConciliacao  numeric(18,0),  
  @v_codigoPessoa    numeric(18,0),  
  @v_codigoFuncao    numeric(18,0),  
  @cursor_pagamentos   cursor  
     
BEGIN TRY  
   
 SELECT @p_linhasAfetadas = 0  
 SELECT @p_codigoErro = 0  
 SELECT @p_descricaoErro = ''  
 
 DECLARE @AGORA DATETIME = GETDATE()
   
 -- primeiro passo é estornar os pagamentos caso existam  
 SET @cursor_pagamentos = CURSOR FAST_FORWARD  
 FOR  
  SELECT CD_CONCILIACAO  
    FROM TB_CONCILIACAO WITH(NOLOCK)  
   WHERE CD_PARCELA = @p_codigoParcela  
   
 OPEN @cursor_pagamentos  
 FETCH NEXT FROM @cursor_pagamentos  
 INTO @v_codigoConciliacao  
  
 WHILE @@FETCH_STATUS = 0  
  BEGIN  
   -- CHAMA A ROTINA DE ESTORNO  
   EXEC pr_ConciliacaoEstornaPagamento @v_codigoConciliacao,  
            'Cancelamento da parcela',  
            @p_codigoUsuario,  
            @p_codigoErro output,  
            @p_descricaoErro output,  
            @p_linhasAfetadas output  
  
   FETCH NEXT FROM @cursor_pagamentos  
   INTO @v_codigoConciliacao  
  END  
  
 -- após o estorno vamos cancelar a parcela  
 UPDATE TB_PARCELA   
 SET ID_SITUACAO_PARCELA = 2,  
  ID_SITUACAO_PAGAMENTO_PARCELA = 4,  
  DT_ATUALIZACAO = GETDATE(),  
  CD_USUARIO_ATUALIZACAO = @p_codigoUsuario  
 WHERE CD_PARCELA = @p_codigoParcela  

  EXEC pr_ParcelaRestaurarStatusIntegracao @p_codigoParcela, 'Atualização Automática: [pr_ParcelaCancelaParcela] Cód. 0'
  
 -- VAMOS CHECAR SE EXISTE OUTRA PARCELA NA DÍVIDA, SE NÃO TIVERMOS VAMOS CANCELAR A DÍVIDA TAMBÉM  
 SELECT @v_codigoDivida = ISNULL(MAX(CD_DIVIDA),0)  
   FROM TB_PARCELA WITH(NOLOCK)  
  WHERE CD_DIVIDA = (SELECT CD_DIVIDA FROM TB_PARCELA WITH(NOLOCK) WHERE CD_PARCELA = @p_codigoParcela)  
    AND CD_PARCELA <> @p_codigoParcela  
    AND ID_SITUACAO_PAGAMENTO_PARCELA <> 4  
  
 -- BUSCA OS DADOS DA PESSOA E FUNÇÃO  
 SELECT  @v_codigoPessoa = PE.CD_PESSOA,  
   @v_codigoFuncao = PE.CD_FUNCAO  
   FROM TB_PARCELA P WITH(NOLOCK), TB_DIVIDA D WITH(NOLOCK), TB_PEDIDO PE WITH(NOLOCK)  
  WHERE P.CD_PARCELA = @p_codigoParcela  
    AND P.CD_DIVIDA = D.CD_DIVIDA  
    AND D.NM_PEDIDO = PE.NM_PEDIDO  
  
 IF @v_codigoDivida = 0  
  BEGIN  
   SELECT @v_codigoDivida = CD_DIVIDA   
     FROM TB_PARCELA WITH(NOLOCK)   
    WHERE CD_PARCELA = @p_codigoParcela  
  
   UPDATE TB_DIVIDA  
      SET ID_SITUACAO_DIVIDA = 2,  
       ID_SITUACAO_PAGAMENTO = 4  
   WHERE CD_DIVIDA = @v_codigoDivida  

   -- SE FOR UMA TRANSAÇÃO TEF, ATUALIZA O RETORNO E A DATA PARA TRACKING
   UPDATE T
   SET T.DT_CANCELAMENTO_TEF = @AGORA,
	   T.DC_RETORNO_CANCELAMENTO_TEF = @p_retornoCancelamentoTef
   FROM TB_DIVIDA D
   INNER JOIN TB_SERVICO_EXTERNO_TRANSACAO T
   ON T.DC_CODIGO_NOTIFICACAO = D.DC_CODIGO_TRANSACAO_TEF
   WHERE D.CD_DIVIDA = @v_codigoDivida

  END  
  
 -- DEPOIS DE ESTORNAR A PARCELA TEMOS QUE ATUALIZAR O LIMITE DE CRÉDITO CASO TENHA CONSUMIDO  
 EXEC dbo.SP_CAD_ATUALIZA_CREDITO_PESSOA_RESUMO  @v_codigoPessoa,  
             @v_codigoFuncao,  
             0,  
             0,  
             @p_codigoUsuario  
  
END TRY   
  
BEGIN CATCH  
   -- Whoops, there was an error  
      SELECT @p_codigoErro = 2  
      SELECT @p_descricaoErro = ERROR_MESSAGE()  
        
   IF @@TRANCOUNT > 0  
    ROLLBACK   
  
   -- Raise an error with the details of the exception  
   --RAISERROR(@p_descricaoErro, @p_codigoErro, 1)  
END CATCH;
GO
