SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CAD_MINUTA_TRANSPORTE_IMPRESSAO]
	@CD_MINUTA					NUMERIC(18,0),
	
	@CD_ERRO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT

AS

-- *************************************************************************************************
-- ESSA PROCEDURE TEM O OBJETIVO DE PREPARAR O ARQUIVO TB_WRK_IMPRESSAO_MINUTA_TRANSPORTE
-- QUE SERÁ USANDO PARA IMPRESSÃO DA MINUTA
-- ELA SERÁ CHAMADA NO MOMENTO EM QUE FEHCRA A MINUTA OU NUMA REIMPRESSA DE DOCUMENTO DE MINUTA
-- *************************************************************************************************


DECLARE @V_CD_CENTRO_DISTRIBUICAO	AS NUMERIC(18,0)
DECLARE	@V_CD_TRANSPORTADORA		AS NUMERIC(18,0)

DECLARE @V_CD_PESSOA_CD				AS NUMERIC(18,0)
DECLARE @V_CD_PESSOA_TRANSP			AS NUMERIC(18,0)

DECLARE	@V_DC_RAZAO_SOCIAL_CD	AS VARCHAR(200)
DECLARE	@V_DC_RUA_CD			AS VARCHAR(200)
DECLARE	@V_DC_BAIRRO_CD			AS VARCHAR(200)
DECLARE	@V_DC_CIDADE_CD			AS VARCHAR(200)
DECLARE	@V_DC_UF_CD				AS VARCHAR(2)
DECLARE	@V_DC_NUMERO_CD			AS VARCHAR(100)
DECLARE	@V_DC_COMP_CD			AS VARCHAR(200)
DECLARE	@V_DC_REF_CD			AS VARCHAR(200)
DECLARE	@V_DC_CEP_CD			AS VARCHAR(20)
DECLARE	@V_DC_CNPJ_CD			AS VARCHAR(20)
DECLARE	@V_DC_IE_CD				AS VARCHAR(20)

DECLARE	@V_DC_RAZAO_SOCIAL_TRANSP	AS VARCHAR(200)
DECLARE	@V_DC_RUA_TRANSP			AS VARCHAR(200)
DECLARE	@V_DC_BAIRRO_TRANSP			AS VARCHAR(200)
DECLARE	@V_DC_CIDADE_TRANSP			AS VARCHAR(200)
DECLARE	@V_DC_UF_TRANSP				AS VARCHAR(2)
DECLARE	@V_DC_NUMERO_TRANSP			AS VARCHAR(100)
DECLARE	@V_DC_COMP_TRANSP			AS VARCHAR(200)
DECLARE	@V_DC_REF_TRANSP			AS VARCHAR(200)
DECLARE	@V_DC_CEP_TRANSP			AS VARCHAR(20)
DECLARE	@V_DC_CNPJ_TRANSP			AS VARCHAR(20)
DECLARE	@V_DC_IE_TRANSP				AS VARCHAR(20)


DECLARE @Cursor_Itens				AS CURSOR

DECLARE @V_NM_PEDIDO				AS NUMERIC(18,0)
DECLARE @V_NM_NOTA_FISCAL			AS NUMERIC(18,0)
DECLARE @V_VL_NOTA_FISCAL			AS NUMERIC(18,2)
DECLARE @V_QT_VOLUMES				AS NUMERIC(18,0)
DECLARE @V_DC_CIDADE				AS VARCHAR(200)
DECLARE	@V_VL_PESO_BRUTO			AS NUMERIC(18,4)

DECLARE @V_CONTADOR					AS INTEGER
DECLARE @CD_CODIGO_GERADO			AS NUMERIC(18,0)
DECLARE @V_PASSOU					AS INTEGER


BEGIN TRY
	

	    SELECT @QT_LINHAS_AFETADAS = 0
		SELECT @CD_ERRO = 0
		SELECT @DC_ERRO = ''
	    
	    -- **************************************************************************
	    -- DELETA OS REGISTROS DA MINUTA
	    -- **************************************************************************
	    DELETE FROM TB_WRK_IMPRESSAO_MINUTA_TRANSPORTE
		WHERE CD_MINUTA_TRANSPORTE = @CD_MINUTA


		-- **************************************************************************
	    -- VAMOS POPULAR AS VARIAVEIS DA MINUTA 
		-- ANTES DE ABRIR O CURSOSR DOS PEDIDOS
	    -- **************************************************************************

		-- CODIGO DO CD E CODIGO DA TRANSPORTADORA
		SELECT	@V_CD_CENTRO_DISTRIBUICAO = MT.CD_CENTRO_DISTRIBUICAO,
				@V_CD_TRANSPORTADORA = MT.CD_TRANSPORTADORA	
		FROM TB_MINUTA_TRANSPORTE MT
		WHERE CD_MINUTA_TRANSPORTE = @CD_MINUTA

		-- BUSCA O CD_PESSOA DO CD
		SELECT @V_CD_PESSOA_CD = CD.CD_EMPRESA
		FROM TB_CENTRO_DISTRIBUICAO CD
		WHERE CD.CD_CENTRO_DISTRIBUICAO = @V_CD_CENTRO_DISTRIBUICAO

		-- BUSCA O CD_PESSOA DA TRANSPORTADORA
		SELECT @V_CD_PESSOA_TRANSP = T.CD_EMPRESA
		FROM TB_TRANSPORTADORA T
		WHERE T.CD_TRANSPORTADORA = @V_CD_TRANSPORTADORA

		-- BUSCA INFORMAÇÕES DE ENDEREÇO E DOCUMENTOS DA PESSOA CD
		SELECT	@V_DC_RAZAO_SOCIAL_CD = PJ.DC_RAZAO_SOCIAL,
				@V_DC_RUA_CD = PE.DC_ESTRUTURA_GEO5,
				@V_DC_BAIRRO_CD = PE.DC_ESTRUTURA_GEO4,
				@V_DC_CIDADE_CD = PE.DC_ESTRUTURA_GEO3,
				@V_DC_UF_CD = PE.DC_ESTRUTURA_GEO2,
				@V_DC_NUMERO_CD = PE.DC_NUMERO,
				@V_DC_COMP_CD = PE.DC_COMPLEMENTO,
				@V_DC_REF_CD = PE.DC_REFERENCIA,
				@V_DC_CEP_CD = PE.DC_CODIGO_POSTAL,
				@V_DC_CNPJ_CD =  (SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WHERE PD.CD_PESSOA = PJ.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 1),
				@V_DC_IE_CD = (SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WHERE PD.CD_PESSOA = PJ.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2)
		FROM TB_PESSOA_JURIDICA PJ, TB_PESSOA_ENDERECO PE
		WHERE PJ.CD_PESSOA = @V_CD_PESSOA_CD
		AND PJ.CD_PESSOA = PE.CD_PESSOA
		AND PE.ID_TIPO_ENDERECO IN (1,3)


		-- BUSCA INFORMAÇÕES DE ENDEREÇO E DOCUMENTOS DA PESSOA TRANSP
				SELECT	@V_DC_RAZAO_SOCIAL_TRANSP = PJ.DC_RAZAO_SOCIAL,
				@V_DC_RUA_TRANSP = PE.DC_ESTRUTURA_GEO5,
				@V_DC_BAIRRO_TRANSP = PE.DC_ESTRUTURA_GEO4,
				@V_DC_CIDADE_TRANSP = PE.DC_ESTRUTURA_GEO3,
				@V_DC_UF_TRANSP = PE.DC_ESTRUTURA_GEO2,
				@V_DC_NUMERO_TRANSP = PE.DC_NUMERO,
				@V_DC_COMP_TRANSP = PE.DC_COMPLEMENTO,
				@V_DC_REF_TRANSP = PE.DC_REFERENCIA,
				@V_DC_CEP_TRANSP = PE.DC_CODIGO_POSTAL,
				@V_DC_CNPJ_TRANSP =  (SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WHERE PD.CD_PESSOA = PJ.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 1),
				@V_DC_IE_TRANSP = (SELECT PD.DC_DOCUMENTO FROM TB_PESSOA_DOCUMENTO PD WHERE PD.CD_PESSOA = PJ.CD_PESSOA AND PD.ID_TIPO_DOCUMENTO = 2)
		FROM TB_PESSOA_JURIDICA PJ, TB_PESSOA_ENDERECO PE
		WHERE PJ.CD_PESSOA = @V_CD_PESSOA_TRANSP
		AND PJ.CD_PESSOA = PE.CD_PESSOA
		AND PE.ID_TIPO_ENDERECO IN (1,3)


		
		-- **************************************************************************
	    -- VAMOS ABRIR O CURSOR DE PEDIDOS DA MINUTA
		-- **************************************************************************

	SELECT @V_CONTADOR = 1
		
	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR

		SELECT	MT.NM_PEDIDO,
				(SELECT NF.NM_NOTA_FISCAL FROM TB_NOTA_FISCAL NF WHERE NF.CD_NOTA_FISCAL = (SELECT MAX(NF2.CD_NOTA_FISCAL) FROM TB_NOTA_FISCAL NF2 WHERE MT.NM_PEDIDO = NF2.NM_PEDIDO AND NF2.ID_TIPO_NOTA_FISCAL = 2 AND NF2.ID_SITUACAO_NOTA_FISCAL = 2)),
				(SELECT (VL_TOTAL_PRODUTOS +VL_TOTAL_ICMS_ST + VL_TOTAL_DESPESAS_ACESSORIAS - VL_TOTAL_DESCONTO - VL_TOTAL_DESCONTO_ADICIONAL) FROM TB_NOTA_FISCAL NF WHERE NF.CD_NOTA_FISCAL = (SELECT MAX(NF2.CD_NOTA_FISCAL) FROM TB_NOTA_FISCAL NF2 WHERE MT.NM_PEDIDO = NF2.NM_PEDIDO AND NF2.ID_TIPO_NOTA_FISCAL = 2 AND NF2.ID_SITUACAO_NOTA_FISCAL = 2)),
				(SELECT COUNT(PB.NM_EMBALAGEM) FROM TB_PEDIDO_EMBALAGEM PB WHERE MT.NM_PEDIDO = PB.NM_PEDIDO),
				PE.DC_ESTRUTURA_GEO3,
				(SELECT SUM(PB.VL_PESO_TEORICO) FROM TB_PEDIDO_EMBALAGEM PB WHERE MT.NM_PEDIDO = PB.NM_PEDIDO)
		FROM TB_MINUTA_TRANSPORTE_PEDIDO MT, TB_PEDIDO_ENDERECO PE
		WHERE MT.CD_MINUTA_TRANSPORTE = @CD_MINUTA
		AND MT.NM_PEDIDO = PE.NM_PEDIDO
										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@V_NM_PEDIDO,
				@V_NM_NOTA_FISCAL,
				@V_VL_NOTA_FISCAL,
				@V_QT_VOLUMES,
				@V_DC_CIDADE,
				@V_VL_PESO_BRUTO

			WHILE @@FETCH_STATUS = 0
				BEGIN


					SELECT @V_PASSOU = 0

					IF @V_CONTADOR = 1
						BEGIN
							-- INSERE NA TABELA TEMPORARIA
							INSERT INTO TB_WRK_IMPRESSAO_MINUTA_TRANSPORTE (
								CD_MINUTA_TRANSPORTE,
								CD_CENTRO_DISTRIBUICAO,
								CD_PESSOA_CD,
								DC_RAZAO_SOCIAL_CD,
								DC_RUA_CD,
								DC_NUMERO_CD,
								DC_COMPLEMENTO_CD,
								DC_REFERENCIA_CD,
								DC_BAIRRO_CD,
								DC_CIDADE_CD,
								DC_UF_CD,
								DC_CEP_CD,
								DC_CNPJ_CD,
								DC_CNPJ_IE_CD,
								CD_TRANSPORTADORA,
								CD_PESSOA_TRANSP,
								DC_RAZAO_SOCIAL_TRANSP,
								DC_RUA_TRANSP,
								DC_NUMERO_TRANSP,
								DC_COMPLEMENTO_TRANSP,
								DC_REFERENCIA_TRANSP,
								DC_BAIRRO_TRANSP,
								DC_CIDADE_TRANSP,
								DC_UF_TRANSP,
								DC_CEP_TRANSP,
								DC_CNPJ_TRANSP,
								DC_CNPJ_IE_TRANSP,
								NM_NOTA_FISCAL_01,
								NM_PEDIDO_01,
								DC_CIDADE_01,
								QT_VOLUMES_01,
								VL_NOTA_FISCAL_01,
								VL_PESO_BRUTO_01
								)
							VALUES
								(
									@CD_MINUTA,
									@V_CD_CENTRO_DISTRIBUICAO,
									@V_CD_PESSOA_CD,
									@V_DC_RAZAO_SOCIAL_CD,
									@V_DC_RUA_CD,
									@V_DC_NUMERO_CD,
									@V_DC_COMP_CD,
									@V_DC_REF_CD,
									@V_DC_BAIRRO_CD,
									@V_DC_CIDADE_CD, 
									@V_DC_UF_CD,
									@V_DC_CEP_CD,
									@V_DC_CNPJ_CD,
									@V_DC_IE_CD,
									@V_CD_TRANSPORTADORA,
									@V_CD_PESSOA_TRANSP,
									@V_DC_RAZAO_SOCIAL_TRANSP,
									@V_DC_RUA_TRANSP,
									@V_DC_NUMERO_TRANSP,
									@V_DC_COMP_TRANSP,
									@V_DC_REF_TRANSP,
									@V_DC_BAIRRO_TRANSP,
									@V_DC_CIDADE_TRANSP,
									@V_DC_UF_TRANSP,
									@V_DC_CEP_TRANSP,
									@V_DC_CNPJ_TRANSP,
									@V_DC_IE_TRANSP,
									@V_NM_NOTA_FISCAL,
									@V_NM_PEDIDO,
									@V_DC_CIDADE,
									@V_QT_VOLUMES,
									@V_VL_NOTA_FISCAL,
									@V_VL_PESO_BRUTO)

								SELECT @CD_CODIGO_GERADO = IDENT_CURRENT('TB_WRK_IMPRESSAO_MINUTA_TRANSPORTE')

								SELECT @V_CONTADOR = 2
								SELECT @V_PASSOU = 1
						END


					IF @V_CONTADOR = 2 AND @V_PASSOU = 0
						BEGIN

							UPDATE TB_WRK_IMPRESSAO_MINUTA_TRANSPORTE
							SET 
								NM_NOTA_FISCAL_02 = @V_NM_NOTA_FISCAL,
								NM_PEDIDO_02 = @V_NM_PEDIDO,
								DC_CIDADE_02 = @V_DC_CIDADE,
								QT_VOLUMES_02 = @V_QT_VOLUMES,
								VL_NOTA_FISCAL_02 = @V_VL_NOTA_FISCAL,
								VL_PESO_BRUTO_02 = @V_VL_PESO_BRUTO
							WHERE CD_WRK_IMPRESSAO_MINUTA_TRANSPORTE = @CD_CODIGO_GERADO
								
							SELECT @V_CONTADOR = 3
							SELECT @V_PASSOU = 1
						END
					

					IF @V_CONTADOR = 3 AND @V_PASSOU = 0
						BEGIN


							UPDATE TB_WRK_IMPRESSAO_MINUTA_TRANSPORTE
							SET 
								NM_NOTA_FISCAL_03 = @V_NM_NOTA_FISCAL,
								NM_PEDIDO_03 = @V_NM_PEDIDO,
								DC_CIDADE_03 = @V_DC_CIDADE,
								QT_VOLUMES_03 = @V_QT_VOLUMES,
								VL_NOTA_FISCAL_03 = @V_VL_NOTA_FISCAL,
								VL_PESO_BRUTO_03 = @V_VL_PESO_BRUTO
							WHERE CD_WRK_IMPRESSAO_MINUTA_TRANSPORTE = @CD_CODIGO_GERADO

							SELECT @V_CONTADOR = 1
							SELECT @V_PASSOU = 1
						END
										
				

					FETCH NEXT FROM @Cursor_Itens
					INTO	@V_NM_PEDIDO,
							@V_NM_NOTA_FISCAL,
							@V_VL_NOTA_FISCAL,
							@V_QT_VOLUMES,
							@V_DC_CIDADE,
							@V_VL_PESO_BRUTO

				END


		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
