SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_CargaEnviaEmailConsultor]
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS


DECLARE @Cursor_Itens			CURSOR
DECLARE @CD_PESSOA              NUMERIC(18,0)

	
BEGIN 

	SELECT @qtLinhasAfetadas = 0

	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
	
		SELECT DISTINCT CD_PESSOA_DESTINATARIO 
		FROM TB_ENVIO_EMAIL
		WHERE CD_EMAIL = 1
		AND ID_SITUACAO_ENVIO_EMAIL IN (2,3)
		AND CD_ENVIO_EMAIL NOT IN (SELECT CD_ENVIO_EMAIL FROM TB_ENVIO_EMAIL_TEXTO)
		AND CD_PESSOA_DESTINATARIO NOT IN (3818)
		
		--SELECT CD_PESSOA 
		--FROM TB_PESSOA_RESUMO
		--WHERE CD_FUNCAO = 2
		--AND CD_PESSOA = 3818

										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@CD_PESSOA
		    

			WHILE @@FETCH_STATUS = 0
				BEGIN


					EXEC dbo.pr_PessoaEnviarEmailCadastro	@CD_PESSOA,			--@p_cdPessoa 
										1,					
										@cdErro  OUTPUT, --@p_codigoErro
										@dcErro OUTPUT,		--@p_descricaoErro
										@qtLinhasAfetadas  OUTPUT	--@p_linhasAfetadas		

			
					FETCH NEXT FROM @Cursor_Itens
					INTO	@CD_PESSOA
						
				END


	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	
		
	SELECT @cdErro = 0
		
END
GO
