SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_DividaInsereAcordoPagamento]
	@p_codigoDivida					numeric(18,0),
	@p_dataGeracaoAcordoPagamento	date,
	@p_situacaoAcordoPagamento		int,
	@p_tipoAcordo					int,
		
	@p_codigoErro					int				output,
	@p_descricaoErro				varchar(1000)	output,
	@p_linhasAfetadas				int				output,
	@p_codigoAcordoPagamento		numeric(18,0)	output

AS


BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    
	    BEGIN TRANSACTION 
	    
	    
	    INSERT INTO TB_ACORDO_PAGAMENTO (
			CD_DIVIDA,
			DT_GERACAO_ACORDO_PAGAMENTO,
			ID_SITUACAO_ACORDO_PAGAMENTO,
			ID_TIPO_ACORDO
			)
				
		VALUES  (
			@p_codigoDivida,
			@p_dataGeracaoAcordoPagamento,
			@p_situacaoAcordoPagamento,
			@p_tipoAcordo
			)
	    	  			
		SELECT @p_linhasAfetadas = @@ROWCOUNT
		SELECT @p_codigoAcordoPagamento = IDENT_CURRENT('TB_ACORDO_PAGAMENTO')
	    
	    COMMIT TRANSACTION
			
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
     
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
