SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_ApiMaterialInsereMaterialGrade]
	@p_codigoMaterial			VARCHAR(100),
	@p_codigoGradeProduto		VARCHAR(40),
	@p_codigoGradeProdutoItem	VARCHAR(20),
			
	@p_codigoUsuario			NUMERIC(18,0),
	@p_descricaoFuncao			VARCHAR(1),
		
	@p_codigoErro				INT OUTPUT,
	@p_descErro			VARCHAR(1000) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT
	
	
AS
DECLARE @v_codigoGrade		NUMERIC(18,0),
		@v_codigoGradeItem	NUMERIC(18,0),
		@v_codigoMaterial	NUMERIC(18,0)

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
	SELECT @p_qtLinhasAfetadas = 0

	IF LEN(@p_codigoMaterial) > 0
		BEGIN
			--VAMOS BUSCAR O CÓDIGO DO MATERIAL INFORMADO
			SELECT @v_codigoMaterial = MIN(CD_MATERIAL)
			  FROM TB_MATERIAL M WITH(NOLOCK)
			 WHERE CD_MATERIAL_EXTERNO = RTRIM(LTRIM(@p_codigoMaterial))

			IF @v_codigoMaterial = 0
				BEGIN
					-- sai da rotina se não encontrar
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Material informado não encontrado'

					RETURN
				END
		END
	ELSE
		BEGIN
			-- sai da rotina se não for informado
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Material não informado'

			RETURN
		END

	--busca o código da grade informada
	SELECT @v_codigoGrade = MIN(CD_GRADE_PRODUTO)
	  FROM TB_GRADE_PRODUTO WITH(NOLOCK)
	 WHERE CD_GRADE_PRODUTO_EXTERNO = RTRIM(LTRIM(@p_codigoGradeProduto))

	IF @v_codigoGrade = 0
		BEGIN
			-- VAMOS INSERIR A GRADE ENVIADA
			EXEC dbo.pr_GradeProdutoInsereGrade 0,
												@p_codigoGradeProduto,
												@p_codigoGradeProduto,
												1,
												@p_codigoUsuario,
												'I',
												@p_codigoErro OUTPUT,
												@p_descErro OUTPUT,
												@p_qtLinhasAfetadas OUTPUT

			IF @p_codigoErro > 0
				BEGIN
					SELECT @p_descErro = 'Erro ao criar grade: ' + @p_descErro
					RETURN
				END
			ELSE
				BEGIN
					--busca o código da grade CRIADA
					SELECT @v_codigoGrade = MIN(CD_GRADE_PRODUTO)
					  FROM TB_GRADE_PRODUTO WITH(NOLOCK)
					 WHERE CD_GRADE_PRODUTO_EXTERNO = RTRIM(LTRIM(@p_codigoGradeProduto))
				END
		END

	--busca o código da grade do item informada
	SELECT @v_codigoGradeItem = MIN(CD_GRADE_PRODUTO_ITEM)
	  FROM TB_GRADE_PRODUTO_ITEM WITH(NOLOCK)
	 WHERE CD_GRADE_PRODUTO_ITEM_EXTERNO = RTRIM(LTRIM(@p_codigoGradeProdutoItem))
	   AND CD_GRADE_PRODUTO = @v_codigoGrade

	IF @v_codigoGradeItem = 0
		BEGIN
			-- VAMOS INSERIR A GRADE ENVIADA
			EXEC dbo.pr_GradeProdutoInsereGradeItem @v_codigoGrade,
													0,
													@p_codigoGradeProdutoItem,
													@p_codigoGradeProdutoItem,
													1,
													@p_codigoUsuario,
													'I',
													@p_codigoErro OUTPUT,
													@p_descErro OUTPUT,
													@p_qtLinhasAfetadas OUTPUT

			IF @p_codigoErro > 0
				BEGIN
					SELECT @p_descErro = 'Erro ao criar item da grade: ' + @p_descErro
					RETURN
				END
			ELSE
				BEGIN
					--busca o código da grade do item criada
					SELECT @v_codigoGradeItem = MIN(CD_GRADE_PRODUTO_ITEM)
					  FROM TB_GRADE_PRODUTO_ITEM WITH(NOLOCK)
					 WHERE CD_GRADE_PRODUTO_ITEM_EXTERNO = RTRIM(LTRIM(@p_codigoGradeProdutoItem))
					   AND CD_GRADE_PRODUTO = @v_codigoGrade
				END
		END

	IF @p_descricaoFuncao = 'I'
		BEGIN
			BEGIN TRANSACTION 
			INSERT INTO TB_MATERIAL_GRADE_PRODUTO (
				CD_MATERIAL,
				CD_GRADE_PRODUTO,
				CD_GRADE_PRODUTO_ITEM )	
			VALUES (
				@v_codigoMaterial,
				@v_codigoGrade,
				@v_codigoGradeItem )
		
			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				
			COMMIT TRANSACTION
		END	
		
		
	IF @p_descricaoFuncao = 'E'
		BEGIN
			BEGIN TRANSACTION
				 
			DELETE FROM TB_MATERIAL_GRADE_PRODUTO 
			WHERE CD_MATERIAL = @p_codigoMaterial 

			SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				
			COMMIT TRANSACTION
		END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
