SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_ApiPedidoInserePedidoItem]
	@p_numeroPedido				NUMERIC(18,0),
	@p_codigoProduto			VARCHAR(80),
	@p_codigoMaterial			VARCHAR(80),
	@p_descricaoProduto			VARCHAR(80),
	@p_qtdeSolicitada			INT,
	@p_valorUnitario			NUMERIC(18,2),
	@p_valorDescontoUnitario	NUMERIC(18,2),
	@p_idTipoProduto			INT,
	@p_idAgrupamentoProduto		INT,
	@p_valorLargura				NUMERIC(18,2),
	@p_valorComprimento			NUMERIC(18,2),
	@p_valorAltura				NUMERIC(18,2),
	@p_descObservacoes			VARCHAR(100),

	@p_dataInicialGarantia		DATE,
	@p_dataFinalGarantia		DATE,
	@p_descNumeroSerie			VARCHAR(500),

	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT

AS
DECLARE	@v_codigoProduto		NUMERIC(18,0),
		@v_codigoMaterial		NUMERIC(18,0),
		@v_codigoSituacao		NUMERIC(18,0),
		@v_qtdeReservada		INT,
		@v_valorReposicao		NUMERIC(18,2),
		@v_valorCustoMedio		NUMERIC(18,2),
		@v_codigoCotaEstrutura	NUMERIC(18,0),
		@v_codigoCotaPessoa		NUMERIC(18,0),
		@v_idGeraBonus			INT,
		@v_idGeraGraduacao		INT,
		@v_idGeraAtivacao		INT,
		@v_numeroPedidoItem		NUMERIC(18,0),
		@v_valorLiquidoItem		NUMERIC(18,2),
		@v_valorTabelaItem		NUMERIC(18,2),
		@v_codigoPessoa			NUMERIC(18,0),
		@v_numeroDiasGarantia	INT,
		@v_numeroCiclo			NUMERIC(18,0),
		@v_codigoRegraCaptacao  NUMERIC(18,0),
		@v_codigoFuncao			NUMERIC(18,0),
		@v_produtoExiste		INT,
		@v_qtdeAtualItem		INT,
		@v_nmPedidoItemExcluido NUMERIC(18,0),
		@v_nmPedidoItem			NUMERIC(18,0),
		@v_idAplicaLucratividade INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	SELECT  @v_numeroCiclo = NM_CICLO_CAPTACAO,
			@v_codigoRegraCaptacao = CD_REGRA_COMERCIAL,
			@v_codigoFuncao = CD_FUNCAO
	  FROM TB_PEDIDO WITH(NOLOCK)

	-- antes de inserir o item vamos validar se ele tem alguma restrição
	EXEC dbo.pr_ApiPedidoValidaPedidoItem	@p_codigoProduto,
											@p_codigoMaterial,
											@p_descricaoProduto,
											@v_numeroCiclo,
											@v_codigoRegraCaptacao,
											@v_codigoFuncao,
											@p_qtdeSolicitada,
											@p_valorUnitario,
											@p_valorDescontoUnitario,
											@p_idTipoProduto,
											@p_idAgrupamentoProduto,
											@p_codigoUsuario,
											@p_codigoErro output,
											@p_descErro output,
											@p_qtLinhasAfetadas output

	IF @p_codigoErro <> 0
		BEGIN
			RETURN
		END

	IF @p_qtdeSolicitada < 0
		BEGIN
			SELECT	@p_codigoErro = 2,
					@p_descErro = 'Quantidade inválida do item ' + @p_codigoProduto

			return
		END

	-- BUSCA OS CÓDIGOS INTERNOS
	SELECT @v_codigoProduto = CD_PRODUTO_VENDA
	  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	 WHERE CD_PRODUTO_VENDA_EXTERNO = @p_codigoProduto

	SELECT @v_codigoMaterial = CD_MATERIAL
	  FROM TB_MATERIAL WITH(NOLOCK)
	 WHERE CD_MATERIAL_EXTERNO = @p_codigoMaterial

	-- BUSCA DADOS ADICIONAIS PARA INSERÇÃO DO ITEM
	SELECT  @v_idGeraBonus = ID_GERA_BONUS,
			@v_idGeraGraduacao = ID_GERA_GRADUACAO,
			@v_idGeraAtivacao = ID_GERA_ATIVACAO
	  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
	 WHERE CD_PRODUTO_VENDA = @v_codigoProduto

	 -- VAMOS CHECAR SE O PRODUTO JÁ FOI INSERIDO ANTERIORMENTE NESTE MESMO PEDIDO
	SELECT @v_produtoExiste = count(*)
	  FROM TB_PEDIDO_ITEM P WITH(NOLOCK)
	 WHERE P.NM_PEDIDO = @p_numeroPedido
	   AND P.CD_PRODUTO_VENDA = @v_codigoProduto
	   AND P.CD_MATERIAL = @v_codigoMaterial
	   AND P.NM_PEDIDO_ITEM_CONJUNTO = 0
	   AND P.ID_PRODUTO_COBRADO = 1
	   AND P.ID_ORIGEM_ITEM_PEDIDO = 1

	IF @v_produtoExiste > 0
		BEGIN
			SELECT @v_qtdeAtualItem = QT_RESERVADA
			  FROM TB_PEDIDO_ITEM P WITH(NOLOCK)
			 WHERE P.NM_PEDIDO = @p_numeroPedido
			   AND P.CD_PRODUTO_VENDA = @v_codigoProduto
			   AND P.CD_MATERIAL = @v_codigoMaterial
			   AND P.NM_PEDIDO_ITEM_CONJUNTO = 0
			   AND P.ID_PRODUTO_COBRADO = 1
			   AND P.ID_ORIGEM_ITEM_PEDIDO = 1

			-- vamos checar a quantidade enviada versus a qtde atual
			IF @p_qtdeSolicitada = @v_qtdeAtualItem
				BEGIN
					SELECT	@p_codigoErro = 0,
							@p_descErro = ''
					
					RETURN
				END
			ELSE
				BEGIN
					IF @p_qtdeSolicitada = 0
						BEGIN
							-- NESTE CASO VAMOS EXCLUIR O ITEM DO PEDIDO
							EXEC dbo.SP_GRAVA_PEDIDO_ITEM_EXCLUIDO  @p_numeroPedido,
																	@v_codigoProduto,
																	@v_codigoMaterial,
																	1,
																	NULL,
																	1,
																	0,
																	0,
																	0,
																	0,
																	0,
																	@v_qtdeAtualItem,
																	@v_qtdeAtualItem,
																	0,
																	0,
																	0,
																	0,
																	0,
																	0,
																	0,
																	0,
																	'I',
																	0,
																	0,
																	0,
																	0,
																	6,
																	'Excluído no carrinho.',
																	@p_codigoErro OUTPUT,
																	@p_descErro OUTPUT,
																	@p_qtLinhasAfetadas OUTPUT,
																	@v_nmPedidoItemExcluido OUTPUT

							IF @p_codigoErro <> 0
								BEGIN
									-- ERRO NA INCLUSÃO DO ITEM EXCLUÍDO
									RETURN
								END

							-- EXECUTA O CANCELAMENTO DO EMPENHO NO ESTOQUE
							EXEC SP_BAIXA_MATERIAL	@p_numeroPedido,
													@v_codigoProduto,
													@v_codigoMaterial,
													@p_qtdeSolicitada,
													@p_codigoUsuario,
													1,	-- CANCELAMENTO EMPENHO DE ESTOQUE
													@v_codigoMaterial OUTPUT,
													@v_codigoSituacao OUTPUT,
													@v_qtdeReservada OUTPUT,
													@v_valorReposicao OUTPUT,
													@v_valorCustoMedio OUTPUT,
													@v_codigoCotaEstrutura OUTPUT,
													@v_codigoCotaPessoa OUTPUT,
													@p_codigoErro OUTPUT,
													@p_descErro OUTPUT,
													@p_qtLinhasAfetadas OUTPUT
							
							-- CHECA SE A MOVIMENTAÇÃO ACONTECEU COM SUCESSO
							IF @p_codigoErro <> 0
								BEGIN
									-- HOUVE ERRO NA MOVIMENTAÇÃO DE ESTOQUE
									-- NESTE CASO VAMOS REMOVER O ITEM EXCLUÍDO DO PEDIDO
									EXEC dbo.SP_GRAVA_PEDIDO_ITEM_EXCLUIDO	@p_numeroPedido,
																			@v_codigoProduto,
																			@v_codigoMaterial,
																			1,
																			NULL,
																			1,
																			0,
																			0,
																			0,
																			0,
																			0,
																			@v_qtdeAtualItem,
																			@v_qtdeAtualItem,
																			0,
																			0,
																			0,
																			0,
																			0,
																			0,
																			0,
																			0,
																			'E',
																			0,
																			0,
																			0,
																			0,
																			6,
																			'Excluído no carrinho.',
																			@p_codigoErro OUTPUT,
																			@p_descErro OUTPUT,
																			@p_qtLinhasAfetadas OUTPUT,
																			@v_nmPedidoItemExcluido OUTPUT

									SELECT	@p_codigoErro = 2,
											@p_descErro = 'Não foi possível excluir o item'
									RETURN
								END

							-- EXCLUI DEFINITIVAMENTE O ITEM
							EXEC dbo.SP_GRAVA_PEDIDO_ITEM   @p_numeroPedido,
															@v_codigoProduto,
															@v_codigoMaterial,
															1,
															NULL,
															1,
															0,
															0,
															0,
															0,
															0,
															@v_qtdeAtualItem,
															@v_qtdeAtualItem,
															0,
															0,
															0,
															0,
															0,
															0,
															0,
															0,
															'E',
															0,
															0,
															0,
															0,
															0,
															0,
															0,
															0,
															0,
															@p_codigoErro OUTPUT,
															@p_descErro OUTPUT,
															@p_qtLinhasAfetadas OUTPUT,
															@v_nmPedidoItem OUTPUT
						END
					ELSE
						BEGIN
							SELECT @v_nmPedidoItem = NM_PEDIDO_ITEM
							  FROM TB_PEDIDO_ITEM P WITH(NOLOCK)
							 WHERE P.NM_PEDIDO = @p_numeroPedido
							   AND P.CD_PRODUTO_VENDA = @v_codigoProduto
							   AND P.CD_MATERIAL = @v_codigoMaterial
							   AND P.NM_PEDIDO_ITEM_CONJUNTO = 0
							   AND P.ID_PRODUTO_COBRADO = 1
							   AND P.ID_ORIGEM_ITEM_PEDIDO = 1

							-- NESTE CASO VAMOS CHAMAR A ROTINA DE ATUALIZAÇÃO DO ITEM
							EXEC dbo.pr_PedidoAlteraQuantidadeItem	@v_nmPedidoItem,
																	@p_numeroPedido,
																	@p_qtdeSolicitada,
																	@p_codigoUsuario,
																	@p_codigoErro OUTPUT,
																	@p_descErro OUTPUT,
																	@p_qtLinhasAfetadas OUTPUT

							IF @p_codigoErro <> 0
								BEGIN
									RETURN
								END
						END
				END
		END
	ELSE
		BEGIN
			IF @p_qtdeSolicitada = 0
				BEGIN
					SELECT @p_codigoErro = 2
					SELECT @p_descErro = 'Quantidade enviada do item ' + @p_codigoProduto + ' igual a 0'
					return
				END
			-- vamos realizar o empenho do item
			EXEC SP_BAIXA_MATERIAL	@p_numeroPedido,
									@v_codigoProduto,
									@v_codigoMaterial,
									@p_qtdeSolicitada,
									@p_codigoUsuario,
									0,	-- CAPTAÇÃO DE PEDIDOS
									@v_codigoMaterial OUTPUT,
									@v_codigoSituacao OUTPUT,
									@v_qtdeReservada OUTPUT,
									@v_valorReposicao OUTPUT,
									@v_valorCustoMedio OUTPUT,
									@v_codigoCotaEstrutura OUTPUT,
									@v_codigoCotaPessoa OUTPUT,
									@p_codigoErro OUTPUT,
									@p_descErro OUTPUT,
									@p_qtLinhasAfetadas OUTPUT

			IF @p_codigoErro = 0
				BEGIN
					-- APLICA O VALOR LÍQUIDO ANTES DE GRAVAR
					SELECT @v_valorLiquidoItem = (@p_valorUnitario - @p_valorDescontoUnitario) * @v_qtdeReservada,
						   @v_valorTabelaItem = @p_valorUnitario * @v_qtdeReservada

					EXEC SP_GRAVA_PEDIDO_ITEM	@p_numeroPedido,
												@v_codigoProduto,
												@v_codigoMaterial,
												1, --CAPTAÇÃO
												0, --ORIGEM ITEM
												1, --PRODUTO COBRADO
												@p_idTipoProduto,
												@p_idAgrupamentoProduto,
												@v_codigoSituacao,
												@v_codigoCotaEstrutura,
												@v_codigoCotaPessoa,
												@p_qtdeSolicitada,
												@v_qtdeReservada,
												@v_valorLiquidoItem, --crédito
												@v_valorTabelaItem, --tabela
												@v_valorTabelaItem, --praticado
												@v_valorLiquidoItem, --líquido,
												0, --imposto
												0, --comissão
												@v_valorLiquidoItem, --pagar
												0, --custo
												'I', -- inserção do item
												0,
												@v_idGeraBonus,
												@v_idGeraGraduacao,
												@v_idGeraAtivacao,
												2, --PRESENTE
												0, --pontos
												--@p_valorLargura,
												--@p_valorComprimento,
												--@p_valorAltura,
												--@p_descObservacoes,
												null, -- desconto sugerido
												0, -- vl desconto sugerido
												0, -- vl desconto sugerido aplicado
												@p_codigoErro OUTPUT,
												@p_descErro OUTPUT,
												@p_qtLinhasAfetadas OUTPUT,
												@v_numeroPedidoItem OUTPUT
				END

			-- EXECUTA O TRECHO DA GARANTIA SE OS DADOS ESTIVEREM PREENCHIDOS
			IF LEN(@p_dataInicialGarantia) > 0 AND LEN(@p_dataFinalGarantia) > 0 AND LEN(@p_descNumeroSerie) > 0
				BEGIN

					SELECT @v_codigoPessoa = CD_PESSOA
					  FROM TB_PEDIDO WITH(NOLOCK)
					 WHERE NM_PEDIDO = @p_numeroPedido

					-- CALCULA OS DIAS DE GARANTIA
					SELECT @v_numeroDiasGarantia = DATEDIFF(DAY,@p_dataInicialGarantia,@p_dataFinalGarantia)
			
					EXEC pr_PessoaInsereMaterialGarantia 	0,
															@v_codigoPessoa,
															@v_codigoMaterial,
															@p_descNumeroSerie,
															@p_numeroPedido,
															@v_numeroDiasGarantia,
															@p_dataFinalGarantia,
															@p_dataInicialGarantia,
															@p_codigoUsuario,
															'I',
															3, --origem API
															@p_codigoErro OUTPUT,
															@p_descErro OUTPUT,
															@p_qtLinhasAfetadas OUTPUT,
															@v_numeroPedidoItem OUTPUT

				END
		END

	-- BUSCA A FORMA DE APLICAR LUCRATIVIDADE
	SELECT @v_idAplicaLucratividade = R.ID_APLICA_LUCRATIVIDADE
	  FROM TB_PEDIDO P WITH(NOLOCK), TB_REGRA_COMERCIAL R WITH(NOLOCK)
	 WHERE P.CD_REGRA_COMERCIAL = R.CD_REGRA_COMERCIAL
	   AND P.NM_PEDIDO = @p_numeroPedido

	IF @v_idAplicaLucratividade = 2
		BEGIN
			EXEC dbo.pr_PedidoCalculaLucratividadePedidoItem @p_numeroPedido,
															 @v_nmPedidoItem,
															 @p_codigoErro OUTPUT,
															 @p_descErro OUTPUT,
															 @p_qtLinhasAfetadas OUTPUT
		END

	-- APÓS INSERIR O ITEM APLICAREMOS AS PROMOÇÕES
	EXEC dbo.pr_PromocaoAplicaPromocao  @p_numeroPedido,
										@p_codigoErro output,
										@p_descErro output,
										@p_qtLinhasAfetadas output

	-- APÓS ISTO TEMOS QUE CALCULAR A LUCRATIVIDADE CASO SEJA APLICADA PÓS PROMOÇÕES
	IF @v_idAplicaLucratividade = 3
		BEGIN
			EXEC dbo.pr_PedidoCalculaLucratividadePedidoItem @p_numeroPedido,
															 @v_nmPedidoItem,
															 @p_codigoErro OUTPUT,
															 @p_descErro OUTPUT,
															 @p_qtLinhasAfetadas OUTPUT
		END

END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
