SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_PromocaoInserePromocaoRequisitoFaixa]
	@p_codigoPromocao				NUMERIC(18, 0),
	@p_codigoPromocaoRequisito		NUMERIC(18, 0),
	@p_idTipoRequisitoFaixa			INT,	
	@p_codigoTipoRequsitoFaixa		VARCHAR(10),
	@p_valorRequisitoInicial		NUMERIC(18, 2),
	@p_valorRequisitoFinal			NUMERIC(18, 2),

	@p_codigoUsuario				NUMERIC(18,0),
	@p_descAcao						VARCHAR(1),
	
	@p_codigoErro					INT OUTPUT,
	@p_descErro						NVARCHAR(MAX) OUTPUT,
	@p_qtLinhasAfetadas				INT OUTPUT,
	@p_codigoPromocaoRequisitoFaixa NUMERIC(18, 0) OUTPUT
	
AS
DECLARE @v_codigoProduto			NUMERIC(18,0)
BEGIN TRY
	BEGIN TRANSACTION 
	
	    SELECT @p_qtLinhasAfetadas = 0, @p_codigoErro = 0, @p_descErro = ''

		IF (@p_idTipoRequisitoFaixa IN (2,3))
			BEGIN
				-- BUSCA O CÓDIGO INTERNO DO PRODUTO
				SELECT @v_codigoProduto = ISNULL(MAX(CD_PRODUTO_VENDA),0)
				  FROM TB_PRODUTO_VENDA WITH(NOLOCK)
				 WHERE CD_PRODUTO_VENDA_EXTERNO = @p_codigoTipoRequsitoFaixa

				IF @v_codigoProduto = 0
					BEGIN
						SELECT @p_codigoErro = 1, @p_descErro = 'Código de Produto não encontrado'
						RETURN
					END

				SELECT @p_codigoTipoRequsitoFaixa = @v_codigoProduto
			END

		IF @p_codigoTipoRequsitoFaixa = ''
			BEGIN
				SELECT @p_codigoTipoRequsitoFaixa = 0
			END

		IF @p_descAcao = 'I'
			BEGIN

				INSERT INTO TB_PROMOCAO_REQUISITO_FAIXA (
					CD_PROMOCAO,
					NM_VALOR_REQUISITO_INICIAL,
					NM_VALOR_REQUISITO_FINAL,
					ID_TIPO_REQUISITO_FAIXA,
					CD_TIPO_REQUISITO_FAIXA,
					DT_CADASTRO,
					CD_USUARIO_CADASTRO )
						
				VALUES  (
					@p_codigoPromocao,
					@p_valorRequisitoInicial,
					@p_valorRequisitoFinal,
					@p_idTipoRequisitoFaixa,
					@p_codigoTipoRequsitoFaixa,
					GETDATE(),
					@p_codigoUsuario )
		
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT
				SELECT @p_codigoPromocaoRequisitoFaixa = IDENT_CURRENT('TB_PROMOCAO_REQUISITO_FAIXA')

				-- TRATAMENTO NECESSÁRIO DE ATUALIZAÇÃO DOS REQUISITOS EXISTENTES, VAMOS DEIXAR UNIFORME OS CAMPOS DO TIPO DE REQUISITO
				UPDATE TB_PROMOCAO_REQUISITO_FAIXA 
				   SET ID_TIPO_REQUISITO_FAIXA = @p_idTipoRequisitoFaixa,
					   CD_TIPO_REQUISITO_FAIXA = @p_codigoTipoRequsitoFaixa
				 WHERE CD_PROMOCAO = @p_codigoPromocao
			END	
			
		IF @p_descAcao = 'E'
			BEGIN
				DELETE FROM TB_PROMOCAO_REQUISITO_FAIXA 
				WHERE CD_PROMOCAO = @p_codigoPromocao
										
				SELECT @p_qtLinhasAfetadas = @@ROWCOUNT						
			END	

			
		COMMIT TRANSACTION
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
