SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_ApiPessoaInserePessoaEmail]
	
	@p_codigoPessoa			NUMERIC(18,0),
	@p_idTipoEmail			INT,
	@p_descEmail			VARCHAR(50),
	@p_descContato			VARCHAR(60),
	@p_codigoUsuario		NUMERIC(18,0),
	@p_descAcao				VARCHAR(1),
	@p_codigoErro			INT OUTPUT,
	@p_descErro				VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas		INT OUTPUT

AS
					
BEGIN TRY

	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	IF @p_descAcao = 'I'
		BEGIN
			--INSERÇÃO DE UM NOVO DOCUMENTO
			INSERT INTO TB_PESSOA_EMAIL
				(CD_PESSOA,
				ID_TIPO_EMAIL,
				DC_EMAIL,
				DC_CONTATO,
				DT_CADASTRO,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO)
			VALUES
				(@p_codigoPessoa,
				@p_idTipoEmail,
				@p_descEmail,
				@p_descContato,
				GETDATE(),
				@p_codigoUsuario,
				GETDATE(),
				@p_codigoUsuario)
		END

	IF @p_descAcao = 'A'
		BEGIN
			--ATUALIZAÇÃO DE UM DOCUMENTO EXISTENTE
			UPDATE TB_PESSOA_EMAIL
			   SET DC_EMAIL = @p_descEmail,
				   DC_CONTATO = @p_descContato,
				   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
				   DT_ATUALIZACAO = GETDATE()
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_EMAIL = @p_idTipoEmail
		END

	IF @p_descAcao = 'E'
		BEGIN
			--EXCLUSÃO DE UM DOCUMENTO
			DELETE FROM TB_PESSOA_EMAIL
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND ID_TIPO_EMAIL = @p_idTipoEmail
		END
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
