SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_CAD_PESSOA_CONTA_CORRENTE]
	@CD_PESSOA							NUMERIC(18,0),
	@CD_FUNCAO							NUMERIC(18,0),
	@ID_ENTIDADE_CONTA_CORRENTE			INT, -- 1 - PEDIDO / 2 - SALDO A FAVOR / 3 - SALDO A FAVOR PENDENTE / 4 - MOEDA VIRTUAL
	@ID_TIPO_MOVIMENTO					INT, -- 1 - CREDITO / 2 - DEBITO
	@ID_ORIGEM_MOVIMENTO				INT,
	@NM_ORIGEM_MOVIMENTO				NUMERIC(18, 0),
	@ID_ELEMENTO_FINANCEIRO				INT,
	@VL_MOVIMENTO						NUMERIC(18, 2),
	@CD_USUARIO							NUMERIC(18,0),
	@VAR_RETORNO						INT OUTPUT,
	@DC_ERRO							NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS					INT OUTPUT
	
AS

DECLARE @TIPO_INDICADOR					INT
DECLARE @CD_PESSOA_VINCULADA			NUMERIC(18,0)
DECLARE @VL_SALDO_DEVEDOR				NUMERIC(18,2)
DECLARE @VL_DIFERENCA					NUMERIC(18,2)
DECLARE @VL_SALDO_FAVOR					NUMERIC(18,2)
DECLARE @V_CD_PESSOA_CONTA_CORRENTE		NUMERIC (18,0)
DECLARE @V_VL_PARAMETRO_7_18			NUMERIC(18,0)
DECLARE @V_VL_PARAMETRO_7_19			NUMERIC(18,0)
DECLARE @V_VL_PARAMETRO_7_20			NUMERIC(18,0)
DECLARE @CURSOR_CONTA_CORRENTE			CURSOR
DECLARE @C_CD_PESSOA_CONTA_CORRENTE		NUMERIC(18,0)
DECLARE @C_VL_MOVIMENTO					NUMERIC(18,2)
DECLARE @V_VL_MOVIMENTO_PEDIDO			NUMERIC(18,2)

DECLARE @V_GRAVA_FILA					INT



BEGIN TRY
	
	SELECT @QT_LINHAS_AFETADAS = 0
		
	-- **********************************************************
	-- INSERE NA TABELA DE CONTA CORRENTE DA PESSOA
	-- ATUALMENTE SÓ EXISTE INTEGRACAO PARA MOEDA VIRTUAL
	-- **********************************************************
	

	-- MOEDA VIRTUAL
	IF @ID_ENTIDADE_CONTA_CORRENTE = 4
		BEGIN
			-- *****************************************************************************************
			-- VAMOS VERIFICAR SE A ORIGEM ESTA CONFIGURADA NA TABELA DE PARAMETROS DA INTEGRACAO
			-- *****************************************************************************************
			SELECT @V_GRAVA_FILA = COUNT(*) FROM TB_INTEGRACAO A  with (NOLOCK)
			WHERE A.ID_TIPO_INTEGRACAO = 10 -- MOEDA VIRTUAL
			AND A.CD_SERVICO_EXTERNO IN (SELECT B.CD_SERVICO_EXTERNO FROM TB_SERVICO_EXTERNO B  with (NOLOCK) WHERE B.ID_SITUACAO = 1 AND B.ID_NOME_SERVICO_EXTERNO = 13)
			AND @ID_ORIGEM_MOVIMENTO IN (SELECT C.DC_VALOR_PARAMETRO FROM TB_INTEGRACAO_PARAMETRO C with (NOLOCK) WHERE C.CD_INTEGRACAO = A.CD_INTEGRACAO)
		END
	ELSE
		BEGIN
			SELECT @V_GRAVA_FILA = 0
		END

	-- ***********************************************************************************
	-- NÃO PRECISA FAZER INTEGRACAO
	-- VAMOS DEIXAR O ID_SITUACAO_INTEGRACAO COMO NULO
	-- CASO CONTRARIO VAMOS GRAVAR NA ID_SITUACAO_INTEGRACAO = 1
	-- DESSA MANEIRA CASO SEJA NECESSÁRIO INSERIR UMA NOVA ORIGEM DE MOVIMENTO
	-- BASTA IR NA TABELA TB_LOG_INTEGRACAO
	-- ***********************************************************************************

	IF @V_GRAVA_FILA = 0
		BEGIN
			BEGIN TRANSACTION
			INSERT INTO TB_PESSOA_CONTA_CORRENTE (
				CD_PESSOA,
				CD_FUNCAO,
				DT_MOVIMENTO,
				ID_TIPO_MOVIMENTO,
				ID_ORIGEM_MOVIMENTO,
				NM_ORIGEM_MOVIMENTO,
				ID_ELEMENTO_FINANCEIRO,
				VL_MOVIMENTO,
				ID_ENTIDADE_CONTA_CORRENTE,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO
				)
			VALUES  (
				@CD_PESSOA,
				@CD_FUNCAO,
				GETDATE(),
				@ID_TIPO_MOVIMENTO,
				@ID_ORIGEM_MOVIMENTO,
				@NM_ORIGEM_MOVIMENTO,
				@ID_ELEMENTO_FINANCEIRO,
				@VL_MOVIMENTO,
				@ID_ENTIDADE_CONTA_CORRENTE,
				@CD_USUARIO,
				GETDATE(),
				@CD_USUARIO)
			COMMIT TRANSACTION
		END
	ELSE
		BEGIN
			BEGIN TRANSACTION
			INSERT INTO TB_PESSOA_CONTA_CORRENTE (
				CD_PESSOA,
				CD_FUNCAO,
				DT_MOVIMENTO,
				ID_TIPO_MOVIMENTO,
				ID_ORIGEM_MOVIMENTO,
				NM_ORIGEM_MOVIMENTO,
				ID_ELEMENTO_FINANCEIRO,
				VL_MOVIMENTO,
				ID_ENTIDADE_CONTA_CORRENTE,
				CD_USUARIO_CADASTRO,
				DT_ATUALIZACAO,
				CD_USUARIO_ATUALIZACAO,
				ID_SITUACAO_INTEGRACAO
				)
			VALUES  (
				@CD_PESSOA,
				@CD_FUNCAO,
				GETDATE(),
				@ID_TIPO_MOVIMENTO,
				@ID_ORIGEM_MOVIMENTO,
				@NM_ORIGEM_MOVIMENTO,
				@ID_ELEMENTO_FINANCEIRO,
				@VL_MOVIMENTO,
				@ID_ENTIDADE_CONTA_CORRENTE,
				@CD_USUARIO,
				GETDATE(),
				@CD_USUARIO,
				1) -- EM FILA
			COMMIT TRANSACTION
		END

	SELECT @V_CD_PESSOA_CONTA_CORRENTE = IDENT_CURRENT('TB_PESSOA_CONTA_CORRENTE')
		
	-- **********************************************************
	-- SE FOR SALDO A FAVOR NORMAL TEREMOS QUE 
	-- QUE ALTERAR A TABELA TB_PESSOA_RESUMO
	-- **********************************************************
	IF @ID_ENTIDADE_CONTA_CORRENTE = 2
		BEGIN
			IF @ID_TIPO_MOVIMENTO = 1 -- CREDITO
				BEGIN
      
				-- ALTERAR A COLUNA CONSOLIDADA
				BEGIN TRANSACTION
				UPDATE TB_PESSOA_RESUMO
				SET VL_SALDO_FAVOR	= ISNULL(VL_SALDO_FAVOR,0) + @VL_MOVIMENTO
				WHERE CD_PESSOA = @CD_PESSOA
				AND CD_FUNCAO = @CD_FUNCAO	
				COMMIT TRANSACTION
				
				-- VERIFICA SE O CLIENTE TEM O CONCEITO QUE EXPIRA O SALDO A FAVOR
				SELECT @V_VL_PARAMETRO_7_18 = VL_PARAMETRO FROM TB_VALOR_PARAMETRO  with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 7 AND CD_PARAMETRO = 18
			
				IF (@V_VL_PARAMETRO_7_18 = 1)  -- EXPIRA O SALDO A FAVOR
					BEGIN
			
						IF (@ID_ORIGEM_MOVIMENTO IN (4,8))  -- MMN / SALDO A FAVOR
							BEGIN
								-- VERIFICA A QDE DE DIAS QUE EXPIRA O SALDO A FAVOR
								SELECT @V_VL_PARAMETRO_7_19 = VL_PARAMETRO FROM TB_VALOR_PARAMETRO  with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 7 AND CD_PARAMETRO = 19
								IF (@V_VL_PARAMETRO_7_19 > 0)  -- QDE DE DIAS EXPIRA O SALDO A FAVOR
									BEGIN
										BEGIN TRANSACTION
										UPDATE TB_PESSOA_CONTA_CORRENTE
										SET DT_EXPIRACAO            = CONVERT(DATE,GETDATE()+ @V_VL_PARAMETRO_7_19,103)
										,DT_ATUALIZACAO          = GETDATE()
										,CD_USUARIO_ATUALIZACAO  = @CD_USUARIO
										WHERE CD_PESSOA_CONTA_CORRENTE = @V_CD_PESSOA_CONTA_CORRENTE
										COMMIT TRANSACTION
									END
							END

				IF (@ID_ORIGEM_MOVIMENTO = 2)  -- CANCELAMENTO DE PEDIDO
					BEGIN
          
						-- VERIFICA A QDE DE DIAS QUE EXPIRA O SALDO A FAVOR (APOS PEDIDO SER CANCELADO)
						SELECT @V_VL_PARAMETRO_7_20 = VL_PARAMETRO FROM TB_VALOR_PARAMETRO with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 7 AND CD_PARAMETRO = 20

						-- BUSCA O VALOR TOTAL DA BONIFICACAO MMN / SALDO A FAVOR
						SELECT @V_VL_MOVIMENTO_PEDIDO = ISNULL(SUM(VL_MOVIMENTO),0)
						FROM TB_PESSOA_CONTA_CORRENTE with (NOLOCK)
						WHERE ID_TIPO_MOVIMENTO          = 1
						AND   ID_ORIGEM_MOVIMENTO       IN (2,4,8)
						AND   ID_ENTIDADE_CONTA_CORRENTE = 2
						AND   DT_EXPIRACAO              IS NOT NULL
						AND   DT_UTILIZACAO             IS NOT NULL
						AND   NM_PEDIDO                  = @NM_ORIGEM_MOVIMENTO
						AND   CD_PESSOA                  = @CD_PESSOA
						AND   CD_FUNCAO                  = @CD_FUNCAO

						IF (@V_VL_MOVIMENTO_PEDIDO > 0  AND @V_VL_MOVIMENTO_PEDIDO = @VL_MOVIMENTO) -- VALOR DO PEDIDO CANCELADO IGUAL A SOMA UTILIZADA DA BONIFICACAO
							BEGIN
								BEGIN TRANSACTION
								UPDATE TB_PESSOA_CONTA_CORRENTE
								SET DT_EXPIRACAO            = CONVERT(DATE,GETDATE()+ @V_VL_PARAMETRO_7_20,103)
								,DT_ATUALIZACAO          = GETDATE()
								,CD_USUARIO_ATUALIZACAO  = @CD_USUARIO
								WHERE CD_PESSOA_CONTA_CORRENTE = @V_CD_PESSOA_CONTA_CORRENTE
								COMMIT TRANSACTION
							END
           
						IF (@V_VL_MOVIMENTO_PEDIDO > 0  AND @V_VL_MOVIMENTO_PEDIDO < @VL_MOVIMENTO) -- VALOR DO PEDIDO CANCELADO MAIOR A SOMA UTILIZADA DA BONIFICACAO
							BEGIN
								-- INCLUI O REGISTRO PARCIAL
								BEGIN TRANSACTION
								INSERT INTO TB_PESSOA_CONTA_CORRENTE (
									CD_PESSOA,
									CD_FUNCAO,
									DT_MOVIMENTO,
									ID_TIPO_MOVIMENTO,
									ID_ORIGEM_MOVIMENTO,
									NM_ORIGEM_MOVIMENTO,
									ID_ELEMENTO_FINANCEIRO,
									VL_MOVIMENTO,
									ID_ENTIDADE_CONTA_CORRENTE,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO,
									DT_EXPIRACAO	)
								SELECT CD_PESSOA, CD_FUNCAO, GETDATE(), ID_TIPO_MOVIMENTO,
								ID_ORIGEM_MOVIMENTO, NM_ORIGEM_MOVIMENTO, ID_ELEMENTO_FINANCEIRO,
								@V_VL_MOVIMENTO_PEDIDO, ID_ENTIDADE_CONTA_CORRENTE, CD_USUARIO_CADASTRO,
								GETDATE(), CD_USUARIO_ATUALIZACAO, CONVERT(DATE,GETDATE()+ @V_VL_PARAMETRO_7_20,103)  
								FROM TB_PESSOA_CONTA_CORRENTE with (NOLOCK)
								WHERE CD_PESSOA_CONTA_CORRENTE = @V_CD_PESSOA_CONTA_CORRENTE
             
								-- INCLUIR O REGISTRO DA SOBRA
								INSERT INTO TB_PESSOA_CONTA_CORRENTE (
									CD_PESSOA,
									CD_FUNCAO,
									DT_MOVIMENTO,
									ID_TIPO_MOVIMENTO,
									ID_ORIGEM_MOVIMENTO,
									NM_ORIGEM_MOVIMENTO,
									ID_ELEMENTO_FINANCEIRO,
									VL_MOVIMENTO,
									ID_ENTIDADE_CONTA_CORRENTE,
									CD_USUARIO_CADASTRO,
									DT_ATUALIZACAO,
									CD_USUARIO_ATUALIZACAO
										)
								SELECT CD_PESSOA, CD_FUNCAO, GETDATE(), ID_TIPO_MOVIMENTO,
								ID_ORIGEM_MOVIMENTO, NM_ORIGEM_MOVIMENTO, ID_ELEMENTO_FINANCEIRO,
								(@VL_MOVIMENTO - @V_VL_MOVIMENTO_PEDIDO ), ID_ENTIDADE_CONTA_CORRENTE, 
								CD_USUARIO_CADASTRO, GETDATE(), CD_USUARIO_ATUALIZACAO   
								FROM TB_PESSOA_CONTA_CORRENTE with (NOLOCK)	    
								WHERE CD_PESSOA_CONTA_CORRENTE = @V_CD_PESSOA_CONTA_CORRENTE

								-- EXCLUIR O REGISTRO TOTAL
								DELETE TB_PESSOA_CONTA_CORRENTE
								WHERE CD_PESSOA_CONTA_CORRENTE = @V_CD_PESSOA_CONTA_CORRENTE
								COMMIT TRANSACTION
							END
					END        
      END
				
				END

    IF @ID_TIPO_MOVIMENTO = 2 --DEBITO
    BEGIN
      -- ALTERAR A COLUNA CONSOLIDADA
      BEGIN TRANSACTION
      UPDATE TB_PESSOA_RESUMO
      SET VL_SALDO_FAVOR	= ISNULL(VL_SALDO_FAVOR,0) - @VL_MOVIMENTO
      WHERE CD_PESSOA = @CD_PESSOA
      AND CD_FUNCAO = @CD_FUNCAO	
      COMMIT TRANSACTION

      -- VERIFICA SE O CLIENTE TEM O CONCEITO QUE EXPIRA O SALDO A FAVOR
      SELECT @V_VL_PARAMETRO_7_18 = VL_PARAMETRO FROM TB_VALOR_PARAMETRO with (NOLOCK) WHERE CD_GRUPO_PARAMETRO = 7 AND CD_PARAMETRO = 18
      IF (@V_VL_PARAMETRO_7_18 = 1)  -- EXPIRA O SALDO A FAVOR
      BEGIN
        IF (@ID_ORIGEM_MOVIMENTO = 1)  -- CAPTACAO DE PEDIDO
        BEGIN
          SET @CURSOR_CONTA_CORRENTE = CURSOR FAST_FORWARD
          FOR
          SELECT CD_PESSOA_CONTA_CORRENTE, VL_MOVIMENTO
          FROM TB_PESSOA_CONTA_CORRENTE with (NOLOCK)
          WHERE ID_TIPO_MOVIMENTO          = 1
          AND   ID_ORIGEM_MOVIMENTO       IN (2,4,8)
          AND   ID_ENTIDADE_CONTA_CORRENTE = 2
          AND   DT_EXPIRACAO              IS NOT NULL
          AND   DT_UTILIZACAO             IS NULL
          AND   NM_PEDIDO                 IS NULL  -- PEDIDO
          AND   CD_PESSOA                  = @CD_PESSOA
          AND   CD_FUNCAO                  = @CD_FUNCAO
          ORDER BY DT_EXPIRACAO, CD_PESSOA_CONTA_CORRENTE
          OPEN @CURSOR_CONTA_CORRENTE
          FETCH NEXT FROM @CURSOR_CONTA_CORRENTE
          INTO  @C_CD_PESSOA_CONTA_CORRENTE, @C_VL_MOVIMENTO

          WHILE @@FETCH_STATUS = 0
          BEGIN
            IF (@C_VL_MOVIMENTO <= 0)
            BEGIN
              BREAK
            END
            IF (@VL_MOVIMENTO > 0 AND @VL_MOVIMENTO >= @C_VL_MOVIMENTO)  -- ATUALIZA VALOR TOTAL DO REGISTRO
            BEGIN
	      BEGIN TRANSACTION
              UPDATE TB_PESSOA_CONTA_CORRENTE
              SET DT_UTILIZACAO           = GETDATE()
                 ,NM_PEDIDO               = @NM_ORIGEM_MOVIMENTO
                 ,DT_ATUALIZACAO          = GETDATE()
                 ,CD_USUARIO_ATUALIZACAO  = @CD_USUARIO
              WHERE CD_PESSOA_CONTA_CORRENTE = @C_CD_PESSOA_CONTA_CORRENTE
	      COMMIT TRANSACTION
              
            END

            IF (@VL_MOVIMENTO > 0 AND @VL_MOVIMENTO < @C_VL_MOVIMENTO)  -- ATUALIZA VALOR PARCIAL DO REGISTRO
            BEGIN
              -- INCLUI O REGISTRO PARCIAL
	      BEGIN TRANSACTION
              INSERT INTO TB_PESSOA_CONTA_CORRENTE (
			CD_PESSOA,
			CD_FUNCAO,
			DT_MOVIMENTO,
			ID_TIPO_MOVIMENTO,
			ID_ORIGEM_MOVIMENTO,
			NM_ORIGEM_MOVIMENTO,
			ID_ELEMENTO_FINANCEIRO,
			VL_MOVIMENTO,
			ID_ENTIDADE_CONTA_CORRENTE,
			CD_USUARIO_CADASTRO,
                        DT_ATUALIZACAO,
                        CD_USUARIO_ATUALIZACAO,
                        DT_EXPIRACAO,
                        DT_UTILIZACAO,
                        NM_PEDIDO
			)
              SELECT CD_PESSOA, CD_FUNCAO, GETDATE(), ID_TIPO_MOVIMENTO,
                     ID_ORIGEM_MOVIMENTO, NM_ORIGEM_MOVIMENTO, ID_ELEMENTO_FINANCEIRO,
		     @VL_MOVIMENTO, ID_ENTIDADE_CONTA_CORRENTE, CD_USUARIO_CADASTRO,
                     GETDATE(), CD_USUARIO_ATUALIZACAO,DT_EXPIRACAO,GETDATE(), @NM_ORIGEM_MOVIMENTO 
			  FROM TB_PESSOA_CONTA_CORRENTE with (NOLOCK)		     
              WHERE CD_PESSOA_CONTA_CORRENTE = @C_CD_PESSOA_CONTA_CORRENTE
             
              -- INCLUIR O REGISTRO DA SOBRA
              INSERT INTO TB_PESSOA_CONTA_CORRENTE (
			CD_PESSOA,
			CD_FUNCAO,
			DT_MOVIMENTO,
			ID_TIPO_MOVIMENTO,
			ID_ORIGEM_MOVIMENTO,
			NM_ORIGEM_MOVIMENTO,
			ID_ELEMENTO_FINANCEIRO,
			VL_MOVIMENTO,
			ID_ENTIDADE_CONTA_CORRENTE,
			CD_USUARIO_CADASTRO,
                        DT_ATUALIZACAO,
                        CD_USUARIO_ATUALIZACAO,
                        DT_EXPIRACAO
			)
              SELECT CD_PESSOA, CD_FUNCAO, GETDATE(), ID_TIPO_MOVIMENTO,
                     ID_ORIGEM_MOVIMENTO, NM_ORIGEM_MOVIMENTO, ID_ELEMENTO_FINANCEIRO,
		     (@C_VL_MOVIMENTO-@VL_MOVIMENTO), ID_ENTIDADE_CONTA_CORRENTE, 
                     CD_USUARIO_CADASTRO, GETDATE(), CD_USUARIO_ATUALIZACAO,DT_EXPIRACAO  
             FROM TB_PESSOA_CONTA_CORRENTE with (NOLOCK)					  
              WHERE CD_PESSOA_CONTA_CORRENTE = @C_CD_PESSOA_CONTA_CORRENTE

              -- EXCLUIR O REGISTRO TOTAL
              DELETE TB_PESSOA_CONTA_CORRENTE
              WHERE CD_PESSOA_CONTA_CORRENTE = @C_CD_PESSOA_CONTA_CORRENTE
	      COMMIT TRANSACTION
            END

			SELECT @VL_MOVIMENTO = (@VL_MOVIMENTO - @C_VL_MOVIMENTO)
            FETCH NEXT FROM @CURSOR_CONTA_CORRENTE
            INTO  @C_CD_PESSOA_CONTA_CORRENTE, @C_VL_MOVIMENTO
          END
          CLOSE       @CURSOR_CONTA_CORRENTE
          DEALLOCATE  @CURSOR_CONTA_CORRENTE

        END
      END
    END
  END
  

	-- **********************************************************
	-- SE FOR SALDO A FAVOR PENDENTE 
	-- **********************************************************
	IF @ID_ENTIDADE_CONTA_CORRENTE = 3
		BEGIN
			
			IF @ID_TIPO_MOVIMENTO = 1 -- CREDITO
				BEGIN
					-- ALTERAR A COLUNA CONSOLIDADA
					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO
					SET VL_SALDO_FAVOR_PENDENTE	= ISNULL(VL_SALDO_FAVOR_PENDENTE,0) + @VL_MOVIMENTO
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO	
					COMMIT TRANSACTION
				END
			
			IF @ID_TIPO_MOVIMENTO = 2 --DEBITO
				
				BEGIN
					-- ALTERAR A COLUNA CONSOLIDADA
					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO
					SET VL_SALDO_FAVOR_PENDENTE	= ISNULL(VL_SALDO_FAVOR_PENDENTE,0) - @VL_MOVIMENTO
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					COMMIT TRANSACTION	
				END
		END


	-- **********************************************************
	-- SE FOR MOEDA VIRTUAL
	-- ADICONADO POR ANDERSON - 30/01/2020 PARA ATENDER AKPOINT DA AKMOS
	-- **********************************************************
	IF @ID_ENTIDADE_CONTA_CORRENTE = 4
		BEGIN
			
			IF @ID_TIPO_MOVIMENTO = 1 -- CREDITO
				BEGIN
					-- ALTERAR A COLUNA CONSOLIDADA
					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO
					SET VL_MOEDA_VIRTUAL_DISPONIVEL	= ISNULL(VL_MOEDA_VIRTUAL_DISPONIVEL,0) + @VL_MOVIMENTO
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO
					COMMIT TRANSACTION	
				END
			
			IF @ID_TIPO_MOVIMENTO = 2 --DEBITO
				
				BEGIN
					-- ALTERAR A COLUNA CONSOLIDADA
					BEGIN TRANSACTION
					UPDATE TB_PESSOA_RESUMO
					SET VL_MOEDA_VIRTUAL_DISPONIVEL	= ISNULL(VL_MOEDA_VIRTUAL_DISPONIVEL,0) - @VL_MOVIMENTO
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO	
					COMMIT TRANSACTION
				END
		END
  
  
	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
  -- Whoops, there was an error
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
  -- Raise an error with the details of the exception
  --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
