SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[SP_MN_CALCULA_REMUNERACAO_REDE_PEDIDO_NV]
	@NM_PEDIDO NUMERIC(18,0),
	
	/***************************************************
	ID_ORIGEM = 1 PEDIDO APROVADO
	ID_ORIGEM = 2 PEDIDO PAGO
	ID_ORIGEM = 3 CANCELAMENTO DE PEDIDO APROVADO
	ID_ORIGEM = 4 CANCELAMENTO DE PEDIDO PAGO
	****************************************************/
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE	@V_CD_PESSOA_PEDIDO			NUMERIC(18,0)
DECLARE @V_CD_FUNCAO_PESSOA_PEDIDO		NUMERIC(18,0)
DECLARE	@V_NM_CICLO_PEDIDO			NUMERIC(18,0)
DECLARE	@V_VL_PEDIDO				NUMERIC(18,4),
        @V_VL_PEDIDO_FAIXA                      NUMERIC(18,4),
        @V_VL_REMUNERACAO                       NUMERIC(18,4)

DECLARE	@V_CALCULA_REMUNERACAO			INT
DECLARE @V_NM_PRIMEIRO_PEDIDO                   NUMERIC(18,0) 
DECLARE @V_VL_FAIXA_BRONZE_INICIAL              NUMERIC(18,0),
        @V_VL_FAIXA_BRONZE_FINAL                NUMERIC(18,0),
        @V_VL_FAIXA_PRATA_INICIAL               NUMERIC(18,0),
        @V_VL_FAIXA_PRATA_FINAL                 NUMERIC(18,0),
        @V_VL_FAIXA_OURO_INICIAL                NUMERIC(18,0),
        @V_VL_FAIXA_OURO_FINAL                  NUMERIC(18,0),
        @V_VL_FAIXA_DIAMANTE_INICIAL            NUMERIC(18,0),
        @V_VL_FAIXA_DIAMANTE_FINAL              NUMERIC(18,0)
DECLARE @V_PC_BRONZE                            NUMERIC(18,0),
        @V_PC_PRATA                             NUMERIC(18,0),
        @V_PC_OURO                              NUMERIC(18,0), 
        @V_PC_DIAMANTE                          NUMERIC(18,0),
        @V_PC_PAGO_ACU                          NUMERIC(18,0),
        @V_PC_PAGO                              NUMERIC(18,0)
DECLARE @CURSOR_TOPOLOGIA    CURSOR

DECLARE @V_CD_PESSOA_ASCENDENTE                 NUMERIC(18,0),
        @V_CD_PAPEL_ASCENDENTE                  NUMERIC(18,0),
        @V_CD_NIVEL_ASCENDENTE                  INT,
        @V_CD_ORDEM                             INT

DECLARE @V_CD_PAPEL_BRONZE                      NUMERIC(18,0),    
        @V_CD_PAPEL_PRATA                       NUMERIC(18,0),    
        @V_CD_PAPEL_OURO                        NUMERIC(18,0),    
        @V_CD_PAPEL_DIAMANTE                    NUMERIC(18,0)    
DECLARE @EXISTE_REM				INT,
        @FORMA                                  INT
DECLARE @V_CD_MN_REMUNERACAO				NUMERIC(18,0)
       





	
BEGIN TRY

  SELECT @QT_LINHAS_AFETADAS = 0
 	
  /**************************************************************
   ** VERIFICA SE CALCULA A REMUNERAÇÃO
   **************************************************************/
  SELECT @V_CALCULA_REMUNERACAO = dbo.FN_VERIFICA_CALCULA_REMUNERACAO_MN(@NM_PEDIDO)
	
  /**************************************************************
   ** SÓ GRAVA REMUNERAÇÃO SE O RETORNO DA FUNÇÃO FOR IGUAL A 1
   **************************************************************/
  IF @V_CALCULA_REMUNERACAO = 1
  BEGIN
			
    -- BUSCA INFORMAÇÕES DO PEDIDO (CICLO E PESSOA)
    SELECT  @V_NM_CICLO_PEDIDO         = A.NM_CICLO_PAGAMENTO,
    	    @V_CD_PESSOA_PEDIDO        = A.CD_PESSOA,
	    @V_CD_FUNCAO_PESSOA_PEDIDO = A.CD_FUNCAO,
	    @V_VL_PEDIDO               = isnull(SUM(B.VL_TABELA_TOTAL),0)
    FROM TB_PEDIDO A, TB_PEDIDO_ITEM B
    WHERE A.NM_PEDIDO   = @NM_PEDIDO
    AND   A.NM_PEDIDO   = B.NM_PEDIDO
    AND   ID_GERA_BONUS = 1 -- GERA BONUS O PRODUTO
--    AND   B.AND CD_PRODUTO_VENDA IN (SELECT CD_PRODUTO_VENDA FROM TB_PRODUTO_VENDA WHERE ID_GERA_BONUS = 1) -- GERA BONUS O PRODUTO
    GROUP BY A.NM_CICLO_PAGAMENTO,
    	     A.CD_PESSOA,
	     A.CD_FUNCAO
  
    IF (@V_VL_PEDIDO > 0)  -- SOMENTE CALCULA SE O PEDIDO GERAR REMUNERAÇÃO
    BEGIN
      -- INICIALIZANDO AS VARIAVEIS DE CONTROLE
      SELECT  @V_VL_FAIXA_BRONZE_INICIAL   = 0
             ,@V_VL_FAIXA_BRONZE_FINAL     = 600   
             ,@V_VL_FAIXA_PRATA_INICIAL    = 600.01
             ,@V_VL_FAIXA_PRATA_FINAL      = 9000
             ,@V_VL_FAIXA_OURO_INICIAL     = 9000.01
             ,@V_VL_FAIXA_OURO_FINAL       = 28500
             ,@V_VL_FAIXA_DIAMANTE_INICIAL = 28500.01
             ,@V_VL_FAIXA_DIAMANTE_FINAL   = 45000
      SELECT  @V_PC_BRONZE                 = 6
             ,@V_PC_PRATA                  = 10
             ,@V_PC_OURO                   = 16
             ,@V_PC_DIAMANTE               = 20
      
      SELECT  @V_CD_PAPEL_BRONZE           = 1
             ,@V_CD_PAPEL_PRATA            = 2
             ,@V_CD_PAPEL_OURO             = 3
             ,@V_CD_PAPEL_DIAMANTE         = 4


      --BUSCA O PRIMEIRO (1o) PEDIDO DA PESSOA
      SELECT @V_NM_PRIMEIRO_PEDIDO  = isnull(NM_PRIMEIRO_PEDIDO,0)
      FROM TB_PESSOA_RESUMO
      WHERE CD_PESSOA = @V_CD_PESSOA_PEDIDO
      AND   CD_FUNCAO = @V_CD_FUNCAO_PESSOA_PEDIDO

      SELECT @V_VL_REMUNERACAO   = 0, -- INICIALIZA O VALOR A SER PAGO
             @V_PC_PAGO         = 0,
             @V_VL_PEDIDO_FAIXA = 0,
             @V_PC_PAGO_ACU     = 0

      -- VERIFICA SE É O PRIMEIRO PEDIDO
      IF (@NM_PEDIDO = @V_NM_PRIMEIRO_PEDIDO)  -- PRIMEIRO PEDIDO
      BEGIN
       
        IF ( @V_VL_PEDIDO >= @V_VL_FAIXA_BRONZE_FINAL  OR @V_VL_PEDIDO > @V_VL_FAIXA_BRONZE_INICIAL ) -- FAIXA 1
        BEGIN
          -- BUSCAR O VALOR A SER CALCULADO
          IF (@V_VL_PEDIDO > @V_VL_FAIXA_BRONZE_FINAL)
          BEGIN
            SELECT @V_VL_PEDIDO_FAIXA = ( @V_VL_FAIXA_BRONZE_FINAL - @V_VL_FAIXA_BRONZE_INICIAL)
          END

          IF (@V_VL_PEDIDO <= @V_VL_FAIXA_BRONZE_FINAL )
          BEGIN
            SELECT @V_VL_PEDIDO_FAIXA = (@V_VL_PEDIDO - @V_VL_FAIXA_BRONZE_INICIAL)
          END
                                      
  
          -- ABRE O CURSOR TOPOLOGIA
          SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
          FOR					
          SELECT   A.CD_PESSOA_VINCULADA
                  ,B.CD_PAPEL_DESEMPENHO
          FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
          WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
          AND   A.CD_FUNCAO           = B.CD_FUNCAO
          AND   A.NM_CICLO            = B.NM_CICLO
          AND   A.CD_PESSOA           = @V_CD_PESSOA_PEDIDO
          AND   A.CD_FUNCAO           = @V_CD_FUNCAO_PESSOA_PEDIDO
          AND   A.NM_CICLO            = @V_NM_CICLO_PEDIDO
          AND   A.ID_ORDEM            = 1 -- ASCENDENTE
          AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
          ORDER BY NM_NIVEL
          
          OPEN @CURSOR_TOPOLOGIA
          FETCH NEXT FROM @CURSOR_TOPOLOGIA
          INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE
	
          WHILE @@FETCH_STATUS = 0
          BEGIN  
            SELECT @V_VL_REMUNERACAO = 0, -- INICIALIZA O VALOR A SER PAGO
                   @V_PC_PAGO        = 0
            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_BRONZE)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_BRONZE)
                SELECT  @V_PC_PAGO        = (@V_PC_BRONZE- @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
                       ,@V_PC_PAGO_ACU    = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_PRATA)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_PRATA)
                SELECT  @V_PC_PAGO        = (@V_PC_PRATA - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO /100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_OURO)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_OURO)
                SELECT  @V_PC_PAGO        = (@V_PC_OURO - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_DIAMANTE)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_DIAMANTE)
                SELECT  @V_PC_PAGO        = (@V_PC_DIAMANTE - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END
            
            IF (@V_VL_REMUNERACAO > 0)
            BEGIN
              -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
              IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
                select @FORMA = 1
              ELSE
                select @FORMA = 2

              -- INSERIR A REMUNERAÇÃO
              SELECT @EXISTE_REM = COUNT(*)
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1        
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
              IF @EXISTE_REM = 0
              BEGIN
                INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
                VALUES (@V_CD_PESSOA_ASCENDENTE,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, 

GETDATE(), 

0) 
                SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
              END
              ELSE
              BEGIN
                UPDATE TB_MN_REMUNERACAO SET
                       VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                       VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                       DT_ATUALIZACAO = GETDATE(),
                       CD_USUARIO_ATUALIZACAO = 0
                WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
                AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
                AND NM_CICLO                = @V_NM_CICLO_PEDIDO
                AND ID_SITUACAO_REMUNERACAO = 1
                AND ID_FORMA_PREMIACAO_MN   = @FORMA
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
                SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
                FROM TB_MN_REMUNERACAO
                WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
                AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
                AND NM_CICLO                = @V_NM_CICLO_PEDIDO
                AND ID_SITUACAO_REMUNERACAO = 1
                AND ID_FORMA_PREMIACAO_MN   = @FORMA
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
              END

              -- INSERE NO DETALHE
              INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                                ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
              VALUES (@V_CD_PESSOA_ASCENDENTE, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
	              2, -- PERCENTUAL SOBRE AS VENDAS
                      1, -- ORIGEM PEDIDO,
	              @NM_PEDIDO,@V_VL_PEDIDO_FAIXA, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
            END

            FETCH NEXT FROM @CURSOR_TOPOLOGIA
            INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE
          END
          CLOSE       @CURSOR_TOPOLOGIA
          DEALLOCATE  @CURSOR_TOPOLOGIA
        END   -- FIM FAIXA 1


        SELECT @V_VL_REMUNERACAO   = 0, -- INICIALIZA O VALOR A SER PAGO
                @V_PC_PAGO         = 0,
                @V_VL_PEDIDO_FAIXA = 0,
                @V_PC_PAGO_ACU     = 0
        IF ( @V_VL_PEDIDO >= @V_VL_FAIXA_PRATA_FINAL  OR @V_VL_PEDIDO > @V_VL_FAIXA_PRATA_INICIAL ) -- FAIXA 2
        BEGIN
          -- BUSCAR O VALOR A SER CALCULADO
          IF (@V_VL_PEDIDO > @V_VL_FAIXA_PRATA_FINAL)
          BEGIN
            SELECT @V_VL_PEDIDO_FAIXA = ( @V_VL_FAIXA_PRATA_FINAL - @V_VL_FAIXA_PRATA_INICIAL)
          END

          IF (@V_VL_PEDIDO <= @V_VL_FAIXA_PRATA_FINAL )
          BEGIN
            SELECT @V_VL_PEDIDO_FAIXA = (@V_VL_PEDIDO - @V_VL_FAIXA_PRATA_INICIAL)
     
          END

          -- PAGA A PESSOA DO 1o PEDIDO COMO BRONZE
          SELECT  @V_PC_PAGO        = (@V_PC_BRONZE- @V_PC_PAGO_ACU)
          SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
                 ,@V_PC_PAGO_ACU    = (@V_PC_PAGO_ACU + @V_PC_PAGO) 

          IF (@V_VL_REMUNERACAO > 0)
          BEGIN
            -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
   --         IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
              select @FORMA = 1
   --         ELSE
   --           select @FORMA = 2

            -- INSERIR A REMUNERAÇÃO
            SELECT @EXISTE_REM = COUNT(*)
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
            AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
            AND NM_CICLO                = @V_NM_CICLO_PEDIDO
            AND ID_SITUACAO_REMUNERACAO = 1        
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
            IF @EXISTE_REM = 0
            BEGIN
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
              VALUES (@V_CD_PESSOA_PEDIDO,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, GETDATE

(), 0) 
              SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
            END
            ELSE
            BEGIN
              UPDATE TB_MN_REMUNERACAO SET
                     VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                     VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                     DT_ATUALIZACAO = GETDATE(),
                     CD_USUARIO_ATUALIZACAO = 0
              WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1

              SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
            END
            -- INSERE NO DETALHE
            INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                              ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
            VALUES (@V_CD_PESSOA_PEDIDO, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
                      2, -- PERCENTUAL SOBRE AS VENDAS
                      1, -- ORIGEM PEDIDO,
	              @NM_PEDIDO,@V_VL_PEDIDO_FAIXA, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
          END

  
          -- ABRE O CURSOR TOPOLOGIA
          SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
          FOR					
          SELECT   A.CD_PESSOA_VINCULADA
                  ,B.CD_PAPEL_DESEMPENHO
          FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
          WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
          AND   A.CD_FUNCAO           = B.CD_FUNCAO
          AND   A.NM_CICLO            = B.NM_CICLO
          AND   A.CD_PESSOA           = @V_CD_PESSOA_PEDIDO
          AND   A.CD_FUNCAO           = @V_CD_FUNCAO_PESSOA_PEDIDO
          AND   A.NM_CICLO            = @V_NM_CICLO_PEDIDO
          AND   A.ID_ORDEM            = 1 -- ASCENDENTE
          AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
          ORDER BY NM_NIVEL
          
          OPEN @CURSOR_TOPOLOGIA
          FETCH NEXT FROM @CURSOR_TOPOLOGIA
          INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE
	
          WHILE @@FETCH_STATUS = 0
          BEGIN  
            SELECT @V_VL_REMUNERACAO = 0, -- INICIALIZA O VALOR A SER PAGO
                   @V_PC_PAGO        = 0
            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_BRONZE)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_BRONZE)
                SELECT   @V_PC_PAGO        = (@V_PC_BRONZE- @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_PRATA)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_PRATA)
                SELECT  @V_PC_PAGO        = (@V_PC_PRATA - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO /100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_OURO)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_OURO)
                SELECT  @V_PC_PAGO        = (@V_PC_OURO - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_DIAMANTE)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_DIAMANTE)
                SELECT  @V_PC_PAGO        = (@V_PC_DIAMANTE - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END
            
            IF (@V_VL_REMUNERACAO > 0)
            BEGIN
              -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
              IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
                select @FORMA = 1
              ELSE
                select @FORMA = 2

              -- INSERIR A REMUNERAÇÃO
              SELECT @EXISTE_REM = COUNT(*)
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1        
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
              IF @EXISTE_REM = 0
              BEGIN
                INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
                VALUES (@V_CD_PESSOA_ASCENDENTE,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, 

GETDATE(), 

0) 
                SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
              END
              ELSE
              BEGIN
                UPDATE TB_MN_REMUNERACAO SET
                       VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                       VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                       DT_ATUALIZACAO = GETDATE(),
                       CD_USUARIO_ATUALIZACAO = 0
                WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
                AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
                AND NM_CICLO                = @V_NM_CICLO_PEDIDO
                AND ID_SITUACAO_REMUNERACAO = 1
                AND ID_FORMA_PREMIACAO_MN   = @FORMA
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
                SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
                FROM TB_MN_REMUNERACAO
                WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
                AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
                AND NM_CICLO                = @V_NM_CICLO_PEDIDO
                AND ID_SITUACAO_REMUNERACAO = 1
                AND ID_FORMA_PREMIACAO_MN   = @FORMA
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
              END

              -- INSERE NO DETALHE
              INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                                ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
              VALUES (@V_CD_PESSOA_ASCENDENTE, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
	              2, -- PERCENTUAL SOBRE AS VENDAS
                      1, -- ORIGEM PEDIDO,
	              @NM_PEDIDO,@V_VL_PEDIDO_FAIXA, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
            END

            FETCH NEXT FROM @CURSOR_TOPOLOGIA
            INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE
          END
          CLOSE       @CURSOR_TOPOLOGIA
          DEALLOCATE  @CURSOR_TOPOLOGIA
        END   -- FIM FAIXA 2

        SELECT @V_VL_REMUNERACAO   = 0, -- INICIALIZA O VALOR A SER PAGO
                @V_PC_PAGO         = 0,
                @V_VL_PEDIDO_FAIXA = 0,
                @V_PC_PAGO_ACU     = 0
        IF ( @V_VL_PEDIDO >= @V_VL_FAIXA_OURO_FINAL  OR @V_VL_PEDIDO > @V_VL_FAIXA_OURO_INICIAL ) -- FAIXA 3
        BEGIN
          -- BUSCAR O VALOR A SER CALCULADO
          IF (@V_VL_PEDIDO > @V_VL_FAIXA_OURO_FINAL)
          BEGIN
            SELECT @V_VL_PEDIDO_FAIXA = ( @V_VL_FAIXA_OURO_FINAL - @V_VL_FAIXA_OURO_INICIAL)
          END

          IF (@V_VL_PEDIDO <= @V_VL_FAIXA_OURO_FINAL )
          BEGIN
            SELECT @V_VL_PEDIDO_FAIXA = (@V_VL_PEDIDO - @V_VL_FAIXA_OURO_INICIAL)
          END

          -- PAGA A PESSOA DO 1o PEDIDO COMO PRATA
          SELECT  @V_PC_PAGO        = (@V_PC_PRATA- @V_PC_PAGO_ACU)
          SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
                 ,@V_PC_PAGO_ACU    = (@V_PC_PAGO_ACU + @V_PC_PAGO) 

          IF (@V_VL_REMUNERACAO > 0)
          BEGIN
            -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
         --   IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
              select @FORMA = 1
         --   ELSE
         --     select @FORMA = 2

            -- INSERIR A REMUNERAÇÃO
            SELECT @EXISTE_REM = COUNT(*)
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
            AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
            AND NM_CICLO                = @V_NM_CICLO_PEDIDO
            AND ID_SITUACAO_REMUNERACAO = 1        
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
            IF @EXISTE_REM = 0
            BEGIN
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
              VALUES (@V_CD_PESSOA_PEDIDO,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, GETDATE

(), 0) 
              SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
            END
            ELSE
            BEGIN
              UPDATE TB_MN_REMUNERACAO SET
                     VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                     VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                     DT_ATUALIZACAO = GETDATE(),
                     CD_USUARIO_ATUALIZACAO = 0
              WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1

              SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
            END
            -- INSERE NO DETALHE
            INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                              ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
            VALUES (@V_CD_PESSOA_PEDIDO, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
                      2, -- PERCENTUAL SOBRE AS VENDAS
                      1, -- ORIGEM PEDIDO,
	              @NM_PEDIDO,@V_VL_PEDIDO_FAIXA, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
          END

  
          -- ABRE O CURSOR TOPOLOGIA
          SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
          FOR					
          SELECT   A.CD_PESSOA_VINCULADA
                  ,B.CD_PAPEL_DESEMPENHO
          FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
          WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
          AND   A.CD_FUNCAO           = B.CD_FUNCAO
          AND   A.NM_CICLO            = B.NM_CICLO
          AND   A.CD_PESSOA           = @V_CD_PESSOA_PEDIDO
          AND   A.CD_FUNCAO           = @V_CD_FUNCAO_PESSOA_PEDIDO
          AND   A.NM_CICLO            = @V_NM_CICLO_PEDIDO
          AND   A.ID_ORDEM            = 1 -- ASCENDENTE
          AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
          ORDER BY NM_NIVEL
          
          OPEN @CURSOR_TOPOLOGIA
          FETCH NEXT FROM @CURSOR_TOPOLOGIA
          INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE
	
          WHILE @@FETCH_STATUS = 0
          BEGIN  
            SELECT @V_VL_REMUNERACAO = 0, -- INICIALIZA O VALOR A SER PAGO
                   @V_PC_PAGO        = 0
            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_BRONZE)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_BRONZE)
                SELECT   @V_PC_PAGO        = (@V_PC_BRONZE- @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_PRATA)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_PRATA)
                SELECT  @V_PC_PAGO        = (@V_PC_PRATA - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO /100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_OURO)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_OURO)
                SELECT  @V_PC_PAGO        = (@V_PC_OURO - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_DIAMANTE)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_DIAMANTE)
                SELECT  @V_PC_PAGO        = (@V_PC_DIAMANTE - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END
            
            IF (@V_VL_REMUNERACAO > 0)
            BEGIN
              -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
              IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
                select @FORMA = 1
              ELSE
                select @FORMA = 2

              -- INSERIR A REMUNERAÇÃO
              SELECT @EXISTE_REM = COUNT(*)
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1        
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
              IF @EXISTE_REM = 0
              BEGIN
                INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
                VALUES (@V_CD_PESSOA_ASCENDENTE,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, 

GETDATE(), 

0) 
                SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
              END
              ELSE
              BEGIN
                UPDATE TB_MN_REMUNERACAO SET
                       VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                       VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                       DT_ATUALIZACAO = GETDATE(),
                       CD_USUARIO_ATUALIZACAO = 0
                WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
                AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
                AND NM_CICLO                = @V_NM_CICLO_PEDIDO
                AND ID_SITUACAO_REMUNERACAO = 1
                AND ID_FORMA_PREMIACAO_MN   = @FORMA
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
                SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
                FROM TB_MN_REMUNERACAO
                WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
                AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
                AND NM_CICLO                = @V_NM_CICLO_PEDIDO
                AND ID_SITUACAO_REMUNERACAO = 1
                AND ID_FORMA_PREMIACAO_MN   = @FORMA
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
              END

              -- INSERE NO DETALHE
              INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                                ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
              VALUES (@V_CD_PESSOA_ASCENDENTE, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
	              2, -- PERCENTUAL SOBRE AS VENDAS
                      1, -- ORIGEM PEDIDO,
	              @NM_PEDIDO,@V_VL_PEDIDO_FAIXA, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
            END

            FETCH NEXT FROM @CURSOR_TOPOLOGIA
            INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE
          END
          CLOSE       @CURSOR_TOPOLOGIA
          DEALLOCATE  @CURSOR_TOPOLOGIA
        END   -- FIM FAIXA 3


        SELECT @V_VL_REMUNERACAO   = 0, -- INICIALIZA O VALOR A SER PAGO
                @V_PC_PAGO         = 0,
                @V_VL_PEDIDO_FAIXA = 0,
                @V_PC_PAGO_ACU     = 0
        IF ( @V_VL_PEDIDO >= @V_VL_FAIXA_DIAMANTE_FINAL  OR @V_VL_PEDIDO > @V_VL_FAIXA_DIAMANTE_INICIAL ) -- FAIXA 4
        BEGIN
          -- BUSCAR O VALOR A SER CALCULADO
          IF (@V_VL_PEDIDO > @V_VL_FAIXA_DIAMANTE_FINAL)
          BEGIN
            SELECT @V_VL_PEDIDO_FAIXA = ( @V_VL_FAIXA_DIAMANTE_FINAL - @V_VL_FAIXA_DIAMANTE_INICIAL)
          END

          IF (@V_VL_PEDIDO <= @V_VL_FAIXA_DIAMANTE_FINAL )
          BEGIN
            SELECT @V_VL_PEDIDO_FAIXA = (@V_VL_PEDIDO - @V_VL_FAIXA_DIAMANTE_INICIAL)
          END

          -- PAGA A PESSOA DO 1o PEDIDO COMO OURO
          SELECT  @V_PC_PAGO        = (@V_PC_OURO- @V_PC_PAGO_ACU)
          SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
                 ,@V_PC_PAGO_ACU    = (@V_PC_PAGO_ACU + @V_PC_PAGO) 

          IF (@V_VL_REMUNERACAO > 0)
          BEGIN
            -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
         --   IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
              select @FORMA = 1
         --   ELSE
         --     select @FORMA = 2

            -- INSERIR A REMUNERAÇÃO
            SELECT @EXISTE_REM = COUNT(*)
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
            AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
            AND NM_CICLO                = @V_NM_CICLO_PEDIDO
            AND ID_SITUACAO_REMUNERACAO = 1        
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
            IF @EXISTE_REM = 0
            BEGIN
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
              VALUES (@V_CD_PESSOA_PEDIDO,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, GETDATE

(), 0) 
              SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
            END
            ELSE
            BEGIN
              UPDATE TB_MN_REMUNERACAO SET
                     VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                     VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                     DT_ATUALIZACAO = GETDATE(),
                     CD_USUARIO_ATUALIZACAO = 0
              WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1

              SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
            END
            -- INSERE NO DETALHE
            INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                              ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
            VALUES (@V_CD_PESSOA_PEDIDO, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
                      2, -- PERCENTUAL SOBRE AS VENDAS
                      1, -- ORIGEM PEDIDO,
	              @NM_PEDIDO,@V_VL_PEDIDO_FAIXA, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
          END

  
          -- ABRE O CURSOR TOPOLOGIA
          SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
          FOR					
          SELECT   A.CD_PESSOA_VINCULADA
                  ,B.CD_PAPEL_DESEMPENHO
          FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
          WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
          AND   A.CD_FUNCAO           = B.CD_FUNCAO
          AND   A.NM_CICLO            = B.NM_CICLO
          AND   A.CD_PESSOA           = @V_CD_PESSOA_PEDIDO
          AND   A.CD_FUNCAO           = @V_CD_FUNCAO_PESSOA_PEDIDO
          AND   A.NM_CICLO            = @V_NM_CICLO_PEDIDO
          AND   A.ID_ORDEM            = 1 -- ASCENDENTE
          AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
          ORDER BY NM_NIVEL
          
          OPEN @CURSOR_TOPOLOGIA
          FETCH NEXT FROM @CURSOR_TOPOLOGIA
          INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE
	
          WHILE @@FETCH_STATUS = 0
          BEGIN  
            SELECT @V_VL_REMUNERACAO = 0, -- INICIALIZA O VALOR A SER PAGO
                   @V_PC_PAGO        = 0
            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_BRONZE)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_BRONZE)
                SELECT   @V_PC_PAGO        = (@V_PC_BRONZE- @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_PRATA)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_PRATA)
                SELECT  @V_PC_PAGO        = (@V_PC_PRATA - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO /100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_OURO)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_OURO)
                SELECT  @V_PC_PAGO        = (@V_PC_OURO - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END

            IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_DIAMANTE)
            BEGIN
              IF (@V_PC_PAGO_ACU < @V_PC_DIAMANTE)
                SELECT  @V_PC_PAGO        = (@V_PC_DIAMANTE - @V_PC_PAGO_ACU)
                SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                       ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
            END
            
            IF (@V_VL_REMUNERACAO > 0)
            BEGIN
              -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
              IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
                select @FORMA = 1
              ELSE
                select @FORMA = 2

              -- INSERIR A REMUNERAÇÃO
              SELECT @EXISTE_REM = COUNT(*)
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1        
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
              IF @EXISTE_REM = 0
              BEGIN
                INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
                VALUES (@V_CD_PESSOA_ASCENDENTE,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, 

GETDATE(), 

0) 
                SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
              END
              ELSE
              BEGIN
                UPDATE TB_MN_REMUNERACAO SET
                       VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                       VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                       DT_ATUALIZACAO = GETDATE(),
                       CD_USUARIO_ATUALIZACAO = 0
                WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
                AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
                AND NM_CICLO                = @V_NM_CICLO_PEDIDO
                AND ID_SITUACAO_REMUNERACAO = 1
                AND ID_FORMA_PREMIACAO_MN   = @FORMA
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
                SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
                FROM TB_MN_REMUNERACAO
                WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
                AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
                AND NM_CICLO                = @V_NM_CICLO_PEDIDO
                AND ID_SITUACAO_REMUNERACAO = 1
                AND ID_FORMA_PREMIACAO_MN   = @FORMA
                AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
 
              END

              -- INSERE NO DETALHE
              INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                                ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
              VALUES (@V_CD_PESSOA_ASCENDENTE, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
	              2, -- PERCENTUAL SOBRE AS VENDAS
                      1, -- ORIGEM PEDIDO,
	              @NM_PEDIDO,@V_VL_PEDIDO_FAIXA, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
            END

            FETCH NEXT FROM @CURSOR_TOPOLOGIA
            INTO @V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE
          END
          CLOSE       @CURSOR_TOPOLOGIA
          DEALLOCATE  @CURSOR_TOPOLOGIA
        END   -- FIM FAIXA 4
      
        SELECT @V_VL_REMUNERACAO   = 0, -- INICIALIZA O VALOR A SER PAGO
                @V_PC_PAGO         = 0,
                @V_VL_PEDIDO_FAIXA = 0,
                @V_PC_PAGO_ACU     = 0
        IF ( @V_VL_PEDIDO > @V_VL_FAIXA_DIAMANTE_FINAL) -- FAIXA 5
        BEGIN
          SELECT @V_VL_PEDIDO_FAIXA = (@V_VL_PEDIDO - (@V_VL_FAIXA_DIAMANTE_FINAL + 0.01))
        END

        -- PAGA A PESSOA DO 1o PEDIDO COMO DIAMANTE
        SELECT  @V_PC_PAGO        = (@V_PC_DIAMANTE- @V_PC_PAGO_ACU)
        SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
               ,@V_PC_PAGO_ACU    = (@V_PC_PAGO_ACU + @V_PC_PAGO) 

        IF (@V_VL_REMUNERACAO > 0)
        BEGIN
          -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
        --  IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
            select @FORMA = 1
        --  ELSE
        --    select @FORMA = 2
          -- INSERIR A REMUNERAÇÃO
          SELECT @EXISTE_REM = COUNT(*)
          FROM TB_MN_REMUNERACAO
          WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
          AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
          AND NM_CICLO                = @V_NM_CICLO_PEDIDO
          AND ID_SITUACAO_REMUNERACAO = 1        
          AND ID_FORMA_PREMIACAO_MN   = @FORMA
          AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
          IF @EXISTE_REM = 0
          BEGIN
            INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
            VALUES (@V_CD_PESSOA_PEDIDO,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, GETDATE(), 

0) 
            SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
          END
          ELSE
          BEGIN
            UPDATE TB_MN_REMUNERACAO SET
                   VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                   VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                   DT_ATUALIZACAO = GETDATE(),
                   CD_USUARIO_ATUALIZACAO = 0
            WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
            AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
            AND NM_CICLO                = @V_NM_CICLO_PEDIDO
            AND ID_SITUACAO_REMUNERACAO = 1
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
            SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_PEDIDO
            AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
            AND NM_CICLO                = @V_NM_CICLO_PEDIDO
            AND ID_SITUACAO_REMUNERACAO = 1
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
            END
          -- INSERE NO DETALHE
          INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                            ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
          VALUES (@V_CD_PESSOA_PEDIDO, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
                    2, -- PERCENTUAL SOBRE AS VENDAS
                    1, -- ORIGEM PEDIDO,
             @NM_PEDIDO,@V_VL_PEDIDO_FAIXA, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
        END -- FIM FAIXA 5

      END 
		

      IF (@NM_PEDIDO <> @V_NM_PRIMEIRO_PEDIDO)  -- NÃO É PRIMEIRO PEDIDO
      BEGIN
        select @V_VL_PEDIDO_FAIXA = @V_VL_PEDIDO
        -- ABRE O CURSOR TOPOLOGIA
        SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
        FOR	
        SELECT   1                     AS ORDEM
                ,B.CD_PESSOA           AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,1                     AS NIVEL
        FROM    TB_PESSOA_PAPEL_HISTORICO B
        WHERE B.CD_PESSOA           = @V_CD_PESSOA_PEDIDO
        AND   B.CD_FUNCAO           = @V_CD_FUNCAO_PESSOA_PEDIDO
        AND   B.NM_CICLO            = @V_NM_CICLO_PEDIDO
        UNION
        SELECT   2                     AS ORDEM
                ,A.CD_PESSOA_VINCULADA AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,A.NM_NIVEL            AS NIVEL
        FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B
        WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
        AND   A.CD_FUNCAO           = B.CD_FUNCAO
        AND   A.NM_CICLO            = B.NM_CICLO
        AND   A.CD_PESSOA           = @V_CD_PESSOA_PEDIDO
        AND   A.CD_FUNCAO           = @V_CD_FUNCAO_PESSOA_PEDIDO
        AND   A.NM_CICLO            = @V_NM_CICLO_PEDIDO
        AND   A.ID_ORDEM            = 1 -- ASCENDENTE
        AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
        ORDER BY 1,4
          
        OPEN @CURSOR_TOPOLOGIA
        FETCH NEXT FROM @CURSOR_TOPOLOGIA
        INTO @V_CD_ORDEM,@V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE, @V_CD_NIVEL_ASCENDENTE
        WHILE @@FETCH_STATUS = 0
        BEGIN  
          SELECT @V_VL_REMUNERACAO = 0, -- INICIALIZA O VALOR A SER PAGO
                 @V_PC_PAGO        = 0
          IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_BRONZE)
          BEGIN
            IF (@V_PC_PAGO_ACU < @V_PC_BRONZE)
              SELECT  @V_PC_PAGO        = (@V_PC_BRONZE- @V_PC_PAGO_ACU)
              SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * (@V_PC_PAGO /100))          
                     ,@V_PC_PAGO_ACU    = (@V_PC_PAGO_ACU + @V_PC_PAGO)
          END

          IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_PRATA)
          BEGIN
            IF (@V_PC_PAGO_ACU < @V_PC_PRATA)
              SELECT  @V_PC_PAGO        = (@V_PC_PRATA - @V_PC_PAGO_ACU)
              SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO /100))          
                     ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
          END

          IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_OURO)
          BEGIN
            IF (@V_PC_PAGO_ACU < @V_PC_OURO)
              SELECT  @V_PC_PAGO        = (@V_PC_OURO - @V_PC_PAGO_ACU)
              SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                     ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
          END

          IF (@V_CD_PAPEL_ASCENDENTE = @V_CD_PAPEL_DIAMANTE)
          BEGIN
            IF (@V_PC_PAGO_ACU < @V_PC_DIAMANTE)
              SELECT  @V_PC_PAGO        = (@V_PC_DIAMANTE - @V_PC_PAGO_ACU)
              SELECT  @V_VL_REMUNERACAO = (@V_VL_PEDIDO_FAIXA * ( @V_PC_PAGO/100))          
                     ,@V_PC_PAGO_ACU = (@V_PC_PAGO_ACU + @V_PC_PAGO)
          END
            
          IF (@V_VL_REMUNERACAO > 0)
          BEGIN
            -- BUSCA A FORMA DE PAGAMENTO -- 1/ CRÉDITO / 2 - DEPOSITO
            IF @V_CD_PESSOA_PEDIDO = @V_CD_PESSOA_ASCENDENTE
              select @FORMA = 1
            ELSE
              select @FORMA = 2
            -- INSERIR A REMUNERAÇÃO
            SELECT @EXISTE_REM = COUNT(*)
            FROM TB_MN_REMUNERACAO
            WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
            AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
            AND NM_CICLO                = @V_NM_CICLO_PEDIDO
            AND ID_SITUACAO_REMUNERACAO = 1        
            AND ID_FORMA_PREMIACAO_MN   = @FORMA
            AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1  
            IF @EXISTE_REM = 0
            BEGIN
              INSERT INTO TB_MN_REMUNERACAO (CD_PESSOA,	CD_FUNCAO,NM_CICLO,ID_SITUACAO_REMUNERACAO,VL_ORIGINAL,VL_AJUSTADO,DC_MOTIVO_AJUSTE, 

ID_FORMA_PREMIACAO_MN, ID_SITUACAO_PROCESSAMENTO_REMUNERACAO, DT_CADASTRO, CD_USUARIO_CADASTRO)
              VALUES (@V_CD_PESSOA_ASCENDENTE,@V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1,@V_VL_REMUNERACAO ,@V_VL_REMUNERACAO ,'',@FORMA, 1, 

GETDATE(), 0) 
              SELECT @V_CD_MN_REMUNERACAO = IDENT_CURRENT('TB_MN_REMUNERACAO')
            END
            ELSE
            BEGIN
              UPDATE TB_MN_REMUNERACAO SET
                     VL_ORIGINAL = VL_ORIGINAL + @V_VL_REMUNERACAO,
                     VL_AJUSTADO = VL_AJUSTADO + @V_VL_REMUNERACAO,
                     DT_ATUALIZACAO = GETDATE(),
                     CD_USUARIO_ATUALIZACAO = 0
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1

              SELECT @V_CD_MN_REMUNERACAO = CD_MN_REMUNERACAO
              FROM TB_MN_REMUNERACAO
              WHERE CD_PESSOA             = @V_CD_PESSOA_ASCENDENTE
              AND CD_FUNCAO               = @V_CD_FUNCAO_PESSOA_PEDIDO
              AND NM_CICLO                = @V_NM_CICLO_PEDIDO
              AND ID_SITUACAO_REMUNERACAO = 1
              AND ID_FORMA_PREMIACAO_MN   = @FORMA
              AND ID_SITUACAO_PROCESSAMENTO_REMUNERACAO = 1
            END
            -- INSERE NO DETALHE
            INSERT INTO TB_MN_DETALHE_REMUNERACAO (CD_PESSOA, CD_FUNCAO, NM_CICLO,ID_MOTIVO_REMUNERACAO,ID_TIPO_PREMIACAO_MN,
                              ID_ORIGEM_PREMIACAO_MN,NM_ORIGEM_MN,VL_ORIGEM_MN,VL_PERCENTUAL_REM,VL_REMUNERACAO,CD_MN_REMUNERACAO,CD_PAPEL_DESEMPENHO)
            VALUES (@V_CD_PESSOA_ASCENDENTE, @V_CD_FUNCAO_PESSOA_PEDIDO,@V_NM_CICLO_PEDIDO,1, -- RECEITA
             2, -- PERCENTUAL SOBRE AS VENDAS
                    1, -- ORIGEM PEDIDO,
             @NM_PEDIDO,@V_VL_PEDIDO, @V_PC_PAGO ,@V_VL_REMUNERACAO,@V_CD_MN_REMUNERACAO,@V_CD_PAPEL_ASCENDENTE)
          END

          FETCH NEXT FROM @CURSOR_TOPOLOGIA
          INTO @V_CD_ORDEM,@V_CD_PESSOA_ASCENDENTE, @V_CD_PAPEL_ASCENDENTE, @V_CD_NIVEL_ASCENDENTE

        END
        CLOSE       @CURSOR_TOPOLOGIA
        DEALLOCATE  @CURSOR_TOPOLOGIA

      END	

    END

  END     

  SELECT @VAR_RETORNO = 0
		
		
END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;
GO
