SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pr_FiscalInsereInicioNotaFiscal]
	@p_pedido					numeric(18, 0),
	@p_pessoa_emissor			numeric(18, 0),
	@p_pessoa_destinatario		numeric(18, 0),
	@p_centro_distribuicao		numeric(18, 0),
	@p_id_tipo_nota_fiscal		int,
	@p_dc_erro_nota_fiscal		varchar(max),
			
	@p_retorno					INT OUTPUT,
	@p_dc_erro					NVARCHAR(MAX) OUTPUT,
	@p_qt_linhas_afetadas		INT OUTPUT
	
AS

/*******************************************************************
ID_TIPO_NOTA_FISCAL = 1 - ENTRADA (DEVOLUÇÃO)
ID_TIPO_NOTA_FISCAL = 2 - SAIDA (PEDIDO)

ID_SITUACAO_NOTA_FISCAL = 0 - GERANDO NOTA FISCAL
ID_SITUACAO_NOTA_FISCAL = 1 - DISPONIVEL PARA EMISSÃO
ID_SITUACAO_NOTA_FISCAL = 2 - EMITIDA
ID_SITUACAO_NOTA_FISCAL = 3 - DISPONIVEL PARA CANCELAMENTO
ID_SITUACAO_NOTA_FISCAL = 4 - CANCELADA
ID_SITUACAO_NOTA_FISCAL = 5 - INUTILIZADA
ID_SITUACAO_NOTA_FISCAL = 6 - ERRO
*********************************************************************/
	
DECLARE @v_id_gera_nota_fiscal		NUMERIC(18,0)
DECLARE @v_modelo					varchar(20)
DECLARE @v_serie					varchar(20)
DECLARE @v_id_tipo_emissao_nf		int
declare @v_qt_registros				int
declare @v_nm_proxima_nota_fiscal	int

BEGIN TRY

	SELECT @p_qt_linhas_afetadas = 0
	
	--***********************************************************
	-- VERIFICA SE PARA ESSE PEDIDO GERA A NOTA FISCAL
	--***********************************************************
	SELECT	@v_id_gera_nota_fiscal	 = ID_GERA_NOTA_FISCAL
	FROM TB_PEDIDO
	WHERE NM_PEDIDO = @p_pedido
	
	IF @v_id_gera_nota_fiscal <> 1  -- NAO GERA A NOTA
		BEGIN
			SELECT @p_retorno = -1
			RETURN
		END
		
	
	BEGIN TRANSACTION 
	
	
	--***********************************************************
	-- BUSCA E MODELO E SERIE DO CD
	--***********************************************************
	SELECT	@v_modelo          = DC_MODELO,
			@v_serie           = DC_SERIE,
			@v_id_tipo_emissao_nf = ID_TIPO_EMISSAO_NF
	FROM TB_CENTRO_DISTRIBUICAO
	WHERE CD_CENTRO_DISTRIBUICAO = @p_centro_distribuicao
		
	--***********************************************************
	-- busca o proximo numero da nota fiscal
	--***********************************************************
	
	SELECT @v_qt_registros = COUNT(*) 
	FROM TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL
	WHERE CD_CENTRO_DISTRIBUICAO = @p_centro_distribuicao
	
	IF @v_qt_registros = 0
		BEGIN
			INSERT INTO TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL 
			VALUES (@p_centro_distribuicao, 1)
		END
		
	SELECT @v_nm_proxima_nota_fiscal = NM_PROXIMA_NOTA_FISCAL
	FROM TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL
	WHERE CD_CENTRO_DISTRIBUICAO = @p_centro_distribuicao
	
	--***********************************************************
	-- ADICIONA MAIS 1 NA NOTA FISCAL
	--***********************************************************
	UPDATE TB_CENTRO_DISTRIBUICAO_NOTA_FISCAL
	SET NM_PROXIMA_NOTA_FISCAL = NM_PROXIMA_NOTA_FISCAL + 1
	WHERE CD_CENTRO_DISTRIBUICAO = @p_centro_distribuicao
	
	-- insere na tabela tb_nota_fiscal (somente alguns campos)
	-- para garantir o sequencial
	INSERT INTO TB_NOTA_FISCAL (
		
		NM_NOTA_FISCAL,
		NM_PEDIDO,
		CD_PESSOA_EMISSOR,
		CD_PESSOA_DESTINATARIO,
		DT_EMISSAO_NOTA_FISCAL,
		ID_TIPO_NOTA_FISCAL,
		ID_SITUACAO_NOTA_FISCAL,
		DC_MODELO,
		DC_SERIE,
		DC_ERRO_NOTA_FISCAL)
	
	VALUES (
		@v_nm_proxima_nota_fiscal,
		@p_pedido,
		@p_pessoa_emissor,
		@p_pessoa_destinatario,
		GETDATE(),
		@p_id_tipo_nota_fiscal, 
		0,-- GERANDO NOTA FISCAL
		@v_modelo,
		@v_serie,
		@p_dc_erro_nota_fiscal) 
	
	
	SELECT @p_qt_linhas_afetadas = @@ROWCOUNT
	SELECT @p_retorno = IDENT_CURRENT('TB_NOTA_FISCAL')
	
	COMMIT TRANSACTION
	
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_retorno = 1
      SELECT @p_dc_erro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;



GO
