SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_MNRelatorioHistoricoIndicadoresNegocio]
		@CD_PESSOA				NUMERIC(18,0),
		@CD_INDICADOR_PESSOAL	NUMERIC(18,0),
		@NM_CICLO				NUMERIC(18,0)
		

	
AS

BEGIN

DECLARE @cols	AS NVARCHAR(MAX),
		@cols1	AS NVARCHAR(MAX),
		@query  AS NVARCHAR(MAX)

DECLARE @CONTADOR NUMERIC (18,0)

SELECT @CONTADOR = COUNT(*)
from TB_PESSOA_INDICADOR A WITH(NOLOCK), TB_INDICADOR_PESSOAL B WITH (NOLOCK)
WHERE A.CD_INDICADOR_PESSOAL = B.CD_INDICADOR_PESSOAL 
AND A.NM_CICLO               = @NM_CICLO
AND B.ID_TIPO_INDICADOR      = 4
AND B.ID_MOSTRA_INDICADOR_TELA = 1 
AND B.ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO = 1
AND A.CD_PESSOA		     = @CD_PESSOA


IF (@CONTADOR > 0)
BEGIN
-- ************************************************************************************************
-- NESSE TRECHO VAMOS MONTAR UMA STRING COM AS COLUNAS QUE QUERMOS MOSTRAR EM NOSSO RESULTADO
-- EXEMPLO, SE O CLIENTE ESCOLHEU DE 201708 ATÉ 201710
-- ESSA QUERY RETORNA O SEGUINTE ,ISNULL(201708,0),ISNULL(201709,0),ISNULL(2017110,0)
-- OU SEJA, MONTA A STRING DAS COLUNAS DE RETORNO
-- TEMOS QUE FAZER ISSO PARA SER DINAMICOS
-- O ISNULL É IMPORTANTE POIS CASO CONTRATIO NO RESULTADO VAI MOSTRAR NULL
-- ************************************************************************************************
SELECT @cols=  COALESCE(
		 (SELECT ',ISNULL(' + QUOTENAME(DC_INDICADOR_PESSOAL)+ ',NULL) AS [' +DC_INDICADOR_PESSOAL+']'
                    from TB_PESSOA_INDICADOR A WITH(NOLOCK), TB_INDICADOR_PESSOAL B WITH (NOLOCK)
					WHERE A.CD_INDICADOR_PESSOAL = B.CD_INDICADOR_PESSOAL 
					AND A.NM_CICLO               = @NM_CICLO
					AND B.ID_TIPO_INDICADOR      = 4
					AND B.ID_MOSTRA_INDICADOR_TELA = 1 
					AND B.ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO = 1
					AND A.CD_PESSOA		     = @CD_PESSOA
					AND (@CD_INDICADOR_PESSOAL = 0 OR B.CD_INDICADOR_PESSOA_EST_COMERCIAL = @CD_INDICADOR_PESSOAL)
                    group by DC_INDICADOR_PESSOAL
                    order by DC_INDICADOR_PESSOAL
					FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '')



-- ************************************************************************************************
-- NESSE TRECHO FAZ MAIS OU MENOS O QUE FAZ NO TRECHO ACIMA
-- ENTRETANTO ESSE TRECHO SERÁ USADO NA FUNCIONALIDADE DO PIVOT TABLE
-- E NESSA FUNCIONALIDADE TEMOS APENAS QUE MOSTRAR AS COLUNAS, SEM TER A PREOCUPAÇÃO DE TRATAR O NULO
-- ************************************************************************************************
SELECT @cols1=  COALESCE(
		 (SELECT ',' + QUOTENAME(DC_INDICADOR_PESSOAL)
                    from TB_PESSOA_INDICADOR A WITH(NOLOCK), TB_INDICADOR_PESSOAL B WITH (NOLOCK)
					WHERE A.CD_INDICADOR_PESSOAL = B.CD_INDICADOR_PESSOAL 
					AND A.NM_CICLO               = @NM_CICLO
					AND B.ID_TIPO_INDICADOR      = 4
					AND B.ID_MOSTRA_INDICADOR_TELA = 1 
					AND B.ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO = 1
					AND A.CD_PESSOA		     = @CD_PESSOA
                    group by DC_INDICADOR_PESSOAL
                    order by DC_INDICADOR_PESSOAL
					FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '')


-- RETIRA O PRIMEIRO CARACTER QUE É A VIRGULA
-- SE MANTER VAI DAR ERRO NA QUERY ABAIXO
SELECT @cols = SUBSTRING(@cols, 2, LEN(@cols)-1)
SELECT @cols1 = SUBSTRING(@cols1, 2, LEN(@cols1)-1)


	SET @query = 'SELECT ' + @cols + ' FROM '
	SET @query = @query + '	( '
	SET @query = @query + '	select DC_INDICADOR_PESSOAL, VL_INDICADOR_PESSOAL '
	SET @query = @query + '	from tb_pessoa_indicador WITH(NOLOCK) INNER JOIN TB_INDICADOR_PESSOAL WITH(NOLOCK) ON TB_INDICADOR_PESSOAL.CD_INDICADOR_PESSOAL = 								TB_PESSOA_INDICADOR.CD_INDICADOR_PESSOAL '
	SET @query = @query + '	WHERE 1 = 1 AND ID_TIPO_INDICADOR = 4 AND ID_MOSTRA_INDICADOR_TELA = 1 AND ID_MOSTRA_INDICADOR_MMN_ESTRATEGICO = 1 AND'


--	IF @CD_INDICADOR_PESSOAL <> 0
--		BEGIN
--			SET @query = @query + '	TB_INDICADOR_PESSOAL.CD_INDICADOR_PESSOAL = ' + CONVERT(VARCHAR(100), @CD_INDICADOR_PESSOAL) + ' AND  '
--		END

	SET @query = @query + '	CD_PESSOA = ' + CONVERT(VARCHAR(18), @CD_PESSOA) + ' AND '
	SET @query = @query + '	NM_CICLO = ' + CONVERT(VARCHAR(6), @NM_CICLO) + ') x '
	SET @query = @query + '	pivot ( '
	SET @query = @query + '	SUM(VL_INDICADOR_PESSOAL) '

	SET @query = @query + '	for DC_INDICADOR_PESSOAL in (' + @cols1 + ')) p ORDER BY 1'


--print(@query);
EXEC(@query);
END 
END
GO
