SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAD_CALENDARIO_COMERCIAL]
	@CD_EST_COMERCIAL				NUMERIC(18, 0),
	@NM_ANO							NUMERIC(18, 0),
	@NM_CICLO						NUMERIC(18, 0),

	@DT_INICIAL						DATE,
	@DT_FINAL						DATE,

	@ID_POSSUI_CICLO_ESTENDIDO		INT,		
	
	@DT_INICIAL_CICLO_ESTENDIDO		VARCHAR(20), -- TEM QUE SER VARCHAR POIS É OPCIONAL E SE COLOCAR DATE OCORRE ERRO LA NO VB
	@DT_FINAL_CICLO_ESTENDIDO		VARCHAR(20),

	@CD_USUARIO						NUMERIC(18,0),
	@VAR_TIPO_FUNCAO				VARCHAR(1),
	
	@VAR_RETORNO					INT OUTPUT,
	@DC_ERRO						NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS				INT OUTPUT

AS

DECLARE @V_QTD_REGISTROS			INT
DECLARE @NM_CICLO_VIGENTE			NUMERIC(18,0)

BEGIN TRY
	
		
	    SELECT @QT_LINHAS_AFETADAS = 0

		IF (@DT_INICIAL_CICLO_ESTENDIDO) = ''
			BEGIN
				SELECT @DT_INICIAL_CICLO_ESTENDIDO = NULL
			END
		ELSE
			BEGIN
				SELECT @DT_INICIAL_CICLO_ESTENDIDO = convert(date, @DT_INICIAL_CICLO_ESTENDIDO, 103) -- dd/mm/yyyy 
			END


		IF (@DT_FINAL_CICLO_ESTENDIDO) = ''
			BEGIN
				SELECT @DT_FINAL_CICLO_ESTENDIDO = NULL
			END
		ELSE
			BEGIN
				SELECT @DT_FINAL_CICLO_ESTENDIDO = convert(date, @DT_FINAL_CICLO_ESTENDIDO, 103) -- dd/mm/yyyy 
			END


		-- ****************************************************
		-- VAMOS VERIFICAR SE O REGISTRO JA EXISTE. EM CASO POSITIVO FAZ UPDATE
		-- CASO CONTRATIO FAZ INSERT
		-- ****************************************************
		
		SELECT @V_QTD_REGISTROS = COUNT(*)
		FROM TB_CALENDARIO_COMERCIAL
		WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL 
		AND NM_CICLO = @NM_CICLO
		AND NM_ANO = @NM_ANO

		IF @VAR_TIPO_FUNCAO = 'I' OR @VAR_TIPO_FUNCAO = 'A'
			BEGIN
	
				IF @V_QTD_REGISTROS = 0
					BEGIN
					
						INSERT INTO TB_CALENDARIO_COMERCIAL (
							CD_EST_COMERCIAL,
							NM_ANO,
							NM_CICLO,
							DT_INICIAL,
							DT_FINAL,
							ID_POSSUI_CICLO_ESTENDIDO,
							DT_INICIAL_CICLO_ESTENDIDO,
							DT_FINAL_CICLO_ESTENDIDO,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO)
						VALUES           (
							@CD_EST_COMERCIAL,
							@NM_ANO,
							@NM_CICLO,
							@DT_INICIAL,
							@DT_FINAL,
							@ID_POSSUI_CICLO_ESTENDIDO,
							@DT_INICIAL_CICLO_ESTENDIDO,
							@DT_FINAL_CICLO_ESTENDIDO,
							GETDATE(), 
							@CD_USUARIO, 
							GETDATE(), 
							@CD_USUARIO
								)
		
						SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
					END
				ELSE
					BEGIN

						UPDATE TB_CALENDARIO_COMERCIAL SET
							DT_INICIAL = @DT_INICIAL,
							DT_FINAL = @DT_FINAL,
							ID_POSSUI_CICLO_ESTENDIDO = @ID_POSSUI_CICLO_ESTENDIDO,
							DT_INICIAL_CICLO_ESTENDIDO = @DT_INICIAL_CICLO_ESTENDIDO,
							DT_FINAL_CICLO_ESTENDIDO = @DT_FINAL_CICLO_ESTENDIDO,
							DT_ATUALIZACAO = GETDATE(),
							CD_USUARIO_ATUALIZACAO = @CD_USUARIO
						WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
							AND NM_ANO = @NM_ANO
							AND NM_CICLO = @NM_CICLO
				
					END
			
			END 
	
		

		IF @VAR_TIPO_FUNCAO = 'E'
			BEGIN
				-- VERIFICA SE É CICLO VIGENTE OU CICLO QUE JA FOI ENCERRADO

				-- PEGA O CICLO VIGENTE
				SELECT @NM_CICLO_VIGENTE = ISNULL(MIN(NM_CICLO),0) 
				FROM TB_CALENDARIO_COMERCIAL
				WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				AND GETDATE() BETWEEN DT_INICIAL AND DT_FINAL

				-- SE O CICLO INFORMADO NO PARAMETRO PARA DELETAR FOR MENOR OU IGUAL AO CICLO VIGENTE 
				-- NÃO PERMITE DELETAR
				IF @NM_CICLO <= @NM_CICLO_VIGENTE
					BEGIN
						SELECT  @VAR_RETORNO = 1
						SELECT  @DC_ERRO = 'Não é permitido excluir ciclos passados ou vigentes !'
					END
				ELSE
					BEGIN
						DELETE FROM TB_CALENDARIO_COMERCIAL 
						WHERE CD_EST_COMERCIAL = @CD_EST_COMERCIAL
						AND NM_CICLO = @NM_CICLO
		
						SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
		
					END

			END	


		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
