SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ANALISA_DIVIDAS_VENCIDAS]
	@DT_FECHAMENTO DATE,
	@CD_USUARIO numeric(18, 0),
	@CD_ERRO		INT OUTPUT,
	@DC_ERRO		VARCHAR(100) OUTPUT
	
AS

DECLARE @V_CONTADOR int,
        @CURSOR_PARCELA	CURSOR,
        @V_CD_PARCELA numeric(18, 0), 
	    @V_CD_DIVIDA numeric(18, 0)
	    	
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	    
	    -- CURSOR DE PARCELAS
	    SET @CURSOR_PARCELA = CURSOR FAST_FORWARD
		FOR
			SELECT	CD_PARCELA, CD_DIVIDA
			FROM TB_PARCELA
			WHERE ID_SITUACAO_PAGAMENTO_PARCELA = 1
			AND   DT_VENCIMENTO < @DT_FECHAMENTO
	    
	    OPEN @CURSOR_PARCELA
		FETCH NEXT FROM @CURSOR_PARCELA
		INTO @V_CD_PARCELA, @V_CD_DIVIDA
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
		  
		  UPDATE TB_PARCELA
		  SET ID_SITUACAO_PAGAMENTO_PARCELA = 3,
		      DT_ATUALIZADO_PARCELA = GETDATE ()
		  WHERE CD_PARCELA = @V_CD_PARCELA
		  
		  UPDATE TB_DIVIDA
		  SET ID_SITUACAO_PAGAMENTO = 3,
		      DT_ATUALIZADO_DIVIDA = GETDATE ()
		  WHERE CD_DIVIDA = @V_CD_DIVIDA
		  
		  
		  FETCH NEXT FROM @CURSOR_PARCELA
		  INTO @V_CD_PARCELA, @V_CD_DIVIDA
		END
		CLOSE      @CURSOR_PARCELA
        DEALLOCATE @CURSOR_PARCELA
        
        SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	        			
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;






GO
