SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_VERIFICA_PENDENCIA_CADASTRO]
	@NM_PEDIDO numeric(18, 0),
	@ID_SIMULACAO int, -- se for 1 faz a simulação e nao grava os dados, se for 2 efetiva a gravação
	@CD_USUARIO numeric(18, 0),
	@CD_PENDENTE numeric(18, 2) OUTPUT,
	@CD_ERRO		INT OUTPUT,
	@DC_ERRO		VARCHAR(100) OUTPUT
	
AS

DECLARE @V_CONTADOR					int,
	    @V_CD_REGRA_COMERCIAL		numeric(18, 2),
        @V_ID_PEND_DIVIDA_CADASTRO	int,
        @V_CD_PESSOA				numeric(18,0),
		@V_QT_DIAS					INT,
		@QTD_DOCUMENTO_NAO_ENTREGUE	int
        
	
BEGIN TRY
		
		-- POPULA ERRO = 0 (SEM ERRO)
	    SELECT @CD_ERRO = 0
	    SELECT @DC_ERRO = ''
	    SELECT @CD_PENDENTE = 0
	    	    
	    -- VERIFICA SE PEDIDO EXISTE
	    SELECT @V_CONTADOR = COUNT(*)
		FROM TB_PEDIDO
		WHERE NM_PEDIDO = @NM_PEDIDO
		
		IF @V_CONTADOR = 0
		-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Pedido não encontrado'
				RETURN
			END
			
		SELECT	@V_CD_REGRA_COMERCIAL = CD_REGRA_COMERCIAL,
				@V_CD_PESSOA = CD_PESSOA
		FROM TB_PEDIDO
		WHERE NM_PEDIDO = @NM_PEDIDO
		
		-- VERIFICA SE REGRA COMERCIAL EXISTE
		SELECT @V_CONTADOR = COUNT(*)
		FROM TB_REGRA_COMERCIAL
		WHERE CD_REGRA_COMERCIAL = @V_CD_REGRA_COMERCIAL
		
		IF @V_CONTADOR = 0
		-- CODIGO NÃO ENCONTRADO
			BEGIN
				SELECT @CD_ERRO = 1
				SELECT @DC_ERRO = 'Regra Comercial não encontrada'
				RETURN
			END
			
		SELECT @V_ID_PEND_DIVIDA_CADASTRO = ID_PEND_CADASTRO
		FROM TB_REGRA_COMERCIAL
		WHERE CD_REGRA_COMERCIAL = @V_CD_REGRA_COMERCIAL
		
		IF @V_ID_PEND_DIVIDA_CADASTRO = 1 -- NÃO SE APLICA
			BEGIN
				SELECT @CD_ERRO = 0
				SELECT @DC_ERRO = ''
				SELECT @CD_PENDENTE = 0
				RETURN
			END
		ELSE
			BEGIN
			  IF @V_ID_PEND_DIVIDA_CADASTRO = 2
				BEGIN
					SELECT @V_QT_DIAS = VL_PARAMETRO
					FROM TB_VALOR_PARAMETRO
					WHERE CD_GRUPO_PARAMETRO = 1
					AND CD_PARAMETRO = 11
					AND CD_VALOR_PARAMETRO = 1

					Select @QTD_DOCUMENTO_NAO_ENTREGUE = COUNT(*) 
					FROM tb_pessoa_documento_controle
					WHERE ID_ENTREGA_DOCUMENTO = 2
					AND CD_PESSOA = @V_CD_PESSOA
					AND DT_CADASTRO_DOCUMENTO <= GETDATE() - @V_QT_DIAS

										
					IF @QTD_DOCUMENTO_NAO_ENTREGUE = 0
						BEGIN
							SELECT @CD_ERRO = 0
							SELECT @DC_ERRO = ''
							SELECT @CD_PENDENTE = 0
							RETURN
						END
					ELSE
						BEGIN
							-- VERIFICA SE HISTORICO PEDIDO EXISTE
							SELECT @V_CONTADOR = COUNT(*)
							FROM TB_PEDIDO_HISTORICO
							WHERE CD_EST_SITUACAO = 1
							AND   NM_PEDIDO = @NM_PEDIDO
							AND   DT_FINAL IS NULL
							
							SELECT @V_CONTADOR = 1
							
							IF @V_CONTADOR = 0
								BEGIN
									SELECT @CD_ERRO = 0
									SELECT @DC_ERRO = 'Historico Pedido nao encontrado'
									RETURN
								END
							ELSE
								
								IF @ID_SIMULACAO = 1
									BEGIN
										SELECT @CD_ERRO = 0
										SELECT @DC_ERRO = ''
										SELECT @CD_PENDENTE = 1
									END
							
								IF @ID_SIMULACAO = 2
									BEGIN
										-- FECHAR A SITUACAO 1 (EM CAPTAÇÃO)
										EXEC SP_GRAVA_HISTORICO_PEDIDO
										@NM_PEDIDO,
										1,
										2,
										0,
										'',
										@CD_USUARIO,
										0,
										'',
										0
									
										-- ABRIR A SITUACAO 44 (PEDENCIA DE CADASTRO)
										EXEC SP_GRAVA_HISTORICO_PEDIDO
										@NM_PEDIDO,
										44,
										1,
										0,
										'',
										@CD_USUARIO,
										0,
										'',
										0
									
										SELECT @CD_ERRO = 0
										SELECT @DC_ERRO = ''
										SELECT @CD_PENDENTE = 1
										RETURN
									
									END
							
						
						END
				END 
			END
				
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @CD_ERRO = 2
      SELECT @DC_ERRO = ERROR_MESSAGE()
      SELECT @CD_PENDENTE = 0
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;
GO
