SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ListaDetalheItemPedido]
	@NM_PEDIDO               NUMERIC(18,0)

AS
DECLARE @CD_CLIENTE NUMERIC(18,0)
BEGIN
  select @CD_CLIENTE = vl_parametro 
  from TB_valor_PARAMETRO WITH(NOLOCK)
  where CD_GRUPO_PARAMETRO = 6
  and CD_PARAMETRO         = 1
  and CD_VALOR_PARAMETRO   = 1

  IF (@CD_CLIENTE <> 25)    
  BEGIN 
    select  PV.CD_PRODUTO_VENDA_EXTERNO as "Cód. Produto" 
       ,DC_PRODUTO_VENDA as "Produto"
       ,A.QT_RESERVADA as "Qtd Reservada"
       ,A.VL_PAGAR_TOTAL as "Valor Total"
       ,A.VL_CREDITO_TOTAL as "Crédito Total"
       ,DBO.FN_BUSCA_TIPO_PRODUTO(A.CD_PRODUTO_VENDA) as "Tipo de Produto"
       ,B.DC_EST_SITUACAO as "Situação"
    from TB_PEDIDO_ITEM A WITH(NOLOCK), 
         TB_EST_SITUACAO B WITH(NOLOCK),  
         TB_PRODUTO_VENDA pv WITH(NOLOCK)
    where A.NM_PEDIDO             = @NM_PEDIDO               
    AND A.NM_PEDIDO_ITEM_CONJUNTO = 0 
    AND A.CD_EST_SITUACAO         = B.CD_EST_SITUACAO
    and pv.CD_PRODUTO_VENDA       = A.CD_PRODUTO_VENDA
  END

  IF (@CD_CLIENTE = 25)    -- A SÓS
  BEGIN 
    select  PV.CD_PRODUTO_VENDA_EXTERNO as "Cód. Produto"  
       ,DC_PRODUTO_VENDA as "Produto"
       ,A.QT_RESERVADA as "Qtd Reservada"
       ,'R$' + REPLACE(CONVERT(VARCHAR,A.VL_PAGAR_TOTAL),'.',',') as "Valor Total"
       ,A.VL_PONTOS as "Pontos"
	   ,ISNULL(A.VL_PONTOS_LIQUIDO,A.VL_PONTOS) AS "Pontos Líquidos"
       ,DBO.FN_BUSCA_TIPO_PRODUTO(A.CD_PRODUTO_VENDA) as "Tipo de Produto"
       ,B.DC_EST_SITUACAO as "Situação"
    from TB_PEDIDO_ITEM A WITH(NOLOCK), 
         TB_EST_SITUACAO B WITH(NOLOCK),  
         TB_PRODUTO_VENDA pv WITH(NOLOCK)
    where A.NM_PEDIDO             = @NM_PEDIDO               
    AND A.NM_PEDIDO_ITEM_CONJUNTO = 0 
    AND A.CD_EST_SITUACAO         = B.CD_EST_SITUACAO
    and pv.CD_PRODUTO_VENDA       = A.CD_PRODUTO_VENDA
  END
END
GO
