SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PessoaConfiguraRegrasReativacao]
	@CD_PESSOA_REGRAS_REATIVACAO					numeric(18, 0),
	@ID_LC_PRIMEIRA_REGRA							int,
	@ID_LC_TIPO_TEMPO_PRIMEIRA_REGRA				int ,
	@NM_LC_TEMPO_INICIAL_PRIMEIRA_REGRA				numeric(18, 0),
	@NM_LC_TEMPO_FINAL_PRIMEIRA_REGRA				numeric(18, 0),
	@ID_LC_MANTER_ULTIMO							int,
	@ID_LC_TIPO_TEMPO_MANTER_ULTIMO					int,
	@NM_LC_TEMPO_INICIAL_MANTER_ULTIMO				numeric(18, 0),
	@NM_LC_TEMPO_FINAL_MANTER_ULTIMO				numeric(18, 0),
	@ID_LC_ZERAR									int,
	@ID_LC_TIPO_TEMPO_ZERAR							int,
	@NM_LC_TEMPO_INICIAL_ZERAR	    				numeric(18, 0),
	@NM_LC_TEMPO_FINAL_ZERAR						numeric(18, 0),
	@ID_LC_CONTA_PED_APR_DT_CAD						int,
	@ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_CAD			int,
	@NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_CAD		numeric(18, 0),
	@NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_CAD			numeric(18, 0),
	@ID_LC_CONTA_PED_APR_DT_REA						int,
	@ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_REA			int,
	@NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_REA		numeric(18, 0),
	@NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_REA			numeric(18, 0),
	@ID_LC_CONTA_PED_PAG_DT_CAD						int,
	@ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_CAD			int,
	@NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_CAD		numeric(18, 0),
	@NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_CAD			numeric(18, 0),
	@ID_LC_CONTA_PED_PAG_DT_REA						int,
	@ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_REA			int,
	@NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_REA		numeric(18, 0),
	@NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_REA			numeric(18, 0),
	@p_cdUsuario									numeric(18, 0),
	@p_codigoErro									int				output,
	@p_descricaoErro								varchar(1000)	output,
	@p_linhasAfetadas								int				output

AS


DECLARE @v_qtdRegistros					INT

BEGIN TRY
	
	SELECT @p_linhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''

	-- *******************************************************************
	-- VERIFICAR SE EXISTE REGISTRO NA TABELA TB_PESSOA_REGRAS_REATIVACAO
	-- POIS SE NÃO EXISTE VAMOS INSERIR
	-- *******************************************************************
	SELECT @v_qtdRegistros = COUNT(*)
	FROM TB_PESSOA_REGRAS_REATIVACAO
	
	IF @v_qtdRegistros = 0 
		-- INSERE
		BEGIN

			INSERT INTO TB_PESSOA_REGRAS_REATIVACAO (
				CD_PESSOA_REGRAS_REATIVACAO,
				ID_LC_PRIMEIRA_REGRA,
				ID_LC_TIPO_TEMPO_PRIMEIRA_REGRA,
				NM_LC_TEMPO_INICIAL_PRIMEIRA_REGRA,
				NM_LC_TEMPO_FINAL_PRIMEIRA_REGRA,
				ID_LC_MANTER_ULTIMO,
				ID_LC_TIPO_TEMPO_MANTER_ULTIMO,
				NM_LC_TEMPO_INICIAL_MANTER_ULTIMO,
				NM_LC_TEMPO_FINAL_MANTER_ULTIMO,
				ID_LC_ZERAR,
				ID_LC_TIPO_TEMPO_ZERAR,
				NM_LC_TEMPO_INICIAL_ZERAR,
				NM_LC_TEMPO_FINAL_ZERAR,
				ID_LC_CONTA_PED_APR_DT_CAD,
				ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_CAD,
				NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_CAD,
				NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_CAD,
				ID_LC_CONTA_PED_APR_DT_REA,
				ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_REA,
				NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_REA,
				NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_REA,
				ID_LC_CONTA_PED_PAG_DT_CAD,
				ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_CAD,
				NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_CAD,
				NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_CAD,
				ID_LC_CONTA_PED_PAG_DT_REA,
				ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_REA,
				NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_REA,
				NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_REA)
			VALUES
				(1,
				@ID_LC_PRIMEIRA_REGRA,
				@ID_LC_TIPO_TEMPO_PRIMEIRA_REGRA,
				@NM_LC_TEMPO_INICIAL_PRIMEIRA_REGRA,
				@NM_LC_TEMPO_FINAL_PRIMEIRA_REGRA,
				@ID_LC_MANTER_ULTIMO,
				@ID_LC_TIPO_TEMPO_MANTER_ULTIMO,
				@NM_LC_TEMPO_INICIAL_MANTER_ULTIMO,
				@NM_LC_TEMPO_FINAL_MANTER_ULTIMO,
				@ID_LC_ZERAR,
				@ID_LC_TIPO_TEMPO_ZERAR,
				@NM_LC_TEMPO_INICIAL_ZERAR,
				@NM_LC_TEMPO_FINAL_ZERAR,
				@ID_LC_CONTA_PED_APR_DT_CAD,
				@ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_CAD,
				@NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_CAD,
				@NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_CAD,
				@ID_LC_CONTA_PED_APR_DT_REA,
				@ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_REA,
				@NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_REA,
				@NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_REA,
				@ID_LC_CONTA_PED_PAG_DT_CAD,
				@ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_CAD,
				@NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_CAD,
				@NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_CAD,
				@ID_LC_CONTA_PED_PAG_DT_REA,
				@ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_REA,
				@NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_REA,
				@NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_REA)

	
		END
	ELSE
		
		BEGIN

			UPDATE TB_PESSOA_REGRAS_REATIVACAO
				SET ID_LC_PRIMEIRA_REGRA = @ID_LC_PRIMEIRA_REGRA,
				ID_LC_TIPO_TEMPO_PRIMEIRA_REGRA = @ID_LC_TIPO_TEMPO_PRIMEIRA_REGRA,
				NM_LC_TEMPO_INICIAL_PRIMEIRA_REGRA = @NM_LC_TEMPO_INICIAL_PRIMEIRA_REGRA,
				NM_LC_TEMPO_FINAL_PRIMEIRA_REGRA = @NM_LC_TEMPO_FINAL_PRIMEIRA_REGRA,
				ID_LC_MANTER_ULTIMO = @ID_LC_MANTER_ULTIMO,
				ID_LC_TIPO_TEMPO_MANTER_ULTIMO = @ID_LC_TIPO_TEMPO_MANTER_ULTIMO,
				NM_LC_TEMPO_INICIAL_MANTER_ULTIMO = @NM_LC_TEMPO_INICIAL_MANTER_ULTIMO,
				NM_LC_TEMPO_FINAL_MANTER_ULTIMO = @NM_LC_TEMPO_FINAL_MANTER_ULTIMO,
				ID_LC_ZERAR = @ID_LC_ZERAR,
				ID_LC_TIPO_TEMPO_ZERAR = @ID_LC_TIPO_TEMPO_ZERAR,
				NM_LC_TEMPO_INICIAL_ZERAR = @NM_LC_TEMPO_INICIAL_ZERAR,
				NM_LC_TEMPO_FINAL_ZERAR = @NM_LC_TEMPO_FINAL_ZERAR,
				ID_LC_CONTA_PED_APR_DT_CAD = @ID_LC_CONTA_PED_APR_DT_CAD,
				ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_CAD = @ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_CAD,
				NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_CAD = @NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_CAD,
				NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_CAD = @NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_CAD,
				ID_LC_CONTA_PED_APR_DT_REA = @ID_LC_CONTA_PED_APR_DT_REA,
				ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_REA = @ID_LC_TIPO_TEMPO_CONTA_PED_APR_DT_REA,
				NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_REA = @NM_LC_TEMPO_INICIAL_CONTA_PED_APR_DT_REA,
				NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_REA = @NM_LC_TEMPO_FINAL_CONTA_PED_APR_DT_REA,
				ID_LC_CONTA_PED_PAG_DT_CAD = @ID_LC_CONTA_PED_PAG_DT_CAD,
				ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_CAD = @ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_CAD,
				NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_CAD = @NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_CAD,
				NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_CAD = @NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_CAD,
				ID_LC_CONTA_PED_PAG_DT_REA = @ID_LC_CONTA_PED_PAG_DT_REA,
				ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_REA = @ID_LC_TIPO_TEMPO_CONTA_PED_PAG_DT_REA,
				NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_REA = @NM_LC_TEMPO_INICIAL_CONTA_PED_PAG_DT_REA,
				NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_REA = @NM_LC_TEMPO_FINAL_CONTA_PED_PAG_DT_REA
			WHERE CD_PESSOA_REGRAS_REATIVACAO = 1
					
		END
		
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
