SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- APLICADO O AJUSTE NA VERSAO DA PHYTO EM PRD

CREATE  PROCEDURE [dbo].[SP_FECHA_CAMPANHA]
      @CD_EST_COMERCIAL NUMERIC(18, 0),
      @DT_FECHAMENTO DATE,        
      @CD_USUARIO NUMERIC(18,0),
      @VAR_RETORNO INT OUTPUT,
      @DC_ERRO NVARCHAR(MAX) OUTPUT,
      @QT_LINHAS_AFETADAS INT OUTPUT

AS
 
DECLARE     @CURSOR_EC							CURSOR,
            @CURSOR_PESSOA                      CURSOR,
            @NM_CICLO                           NUMERIC(18,0),
            @CD_ESTRUTURA                       NUMERIC(18,0),
            @CD_ESTRUTURA_COMERCIAL				NUMERIC(18,0),
            @CD_PESSOA                          NUMERIC(18,0),
            @CD_FUNCAO                          INT,
            @PROXIMO_CICLO                      NUMERIC(18,0),
            @PROXIMO_CICLO_PESSOA				NUMERIC(18,0),
            @PROXIMO_EST_COMERCIAL_PESSOA		NUMERIC(18,0),
            @PROXIMO_CICLO_AGENDAMENTO			NUMERIC(18,0),
            @PROXIMO_EST_COMERCIAL_AGENDAMENTO	NUMERIC(18,0),
            @SIT_COMERCIAL                      INT
           
DECLARE     @CD_CLIENTE							NUMERIC(18,0),
            @ATUAL_PAPEL_CARREIRA				NUMERIC(18,0),
            @ATUAL_PAPEL_CARREIRA2				NUMERIC(18,0),
            @ATUAL_PAPEL_DESEMPENHO				NUMERIC(18,0),
            @ATUAL_PAPEL_DESEMPENHO2			NUMERIC(18,0),
            @CD_LOG_PROCESSAMENTO_DIARIO		NUMERIC(18,0)

DECLARE     @APLICA_COMPRESSAO_DINAMICA			INT,
            @EVENTO_ATUALIZACAO_PAPEL_CARREIRA	INT,
            @INICIO_CICLO_PAPEL_DESEMPENHO		INT,
            @INICIO_CICLO_PAPEL_CARREIRA		INT,
            @codigoSitComercialDetalhePessoa	INT,
            @CURSOR_PESSOA_TOPOLOGIA			CURSOR,
            @CD_PESSOA_TOP						NUMERIC(18,0),
            @CD_FUNCAO_TOP						NUMERIC(18,0),
            @CD_PESSOA_VINCULADA_TOP			NUMERIC(18,0),
            @CD_PAPEL_CARREIRA_VINCULADA_TOP	INT,
            @ID_ORDEM_TOP						NUMERIC(18,0),
            @NM_NIVEL_TOP						NUMERIC(18,0),
            @ID_TIPO_REDE_MN_TOP				NUMERIC(18,0),
            @ID_DIRECAO_REDE_BINARIA_TOP		NUMERIC(18,0),
            @CD_PESSOA_LIDERANCA				NUMERIC(18,0),
            @CD_PESSOA_LIDERANCA_NOVA			NUMERIC(18,0),
            @CD_PAPEL_CARREIRA_LIDERANCA		INT,
            @CD_SITUACAO_COMERCIAL_LIDERANCA	NUMERIC(18,0),
            @CD_PAPEL_INICIO_LIDERANCA			INT,
            @ID_LIDERANCA						INT,
            @NM_NIVEL							INT,
            @CONT_VINCULO						INT,
			@v_cont_parametro_7_17				INT,
			@V_QT_CICLOS_CARENCIA				INT,
			@v_CD_PAPEL_NOVO					INT,
 			@V_CD_INDICADOR_CARENCIA			INT,
			@V_VL_INDICADOR_CARENCIA			NUMERIC(18,2),
			@v_cancelaPedidosAbertos			INT,
			@v_cursorPedidosAbertos				CURSOR,
			@v_numeroPedido						NUMERIC(18,0)

DECLARE @ID_EVENTO                    INT,  
	@ID_MOMENTO_CALCULO_INDICADOR INT,
	@ID_TIPO_ATUALIZACAO          INT
            
 
BEGIN TRY

	-- *********************************************
	-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
	-- *********************************************
	SELECT @CD_CLIENTE = VL_PARAMETRO
	FROM TB_VALOR_PARAMETRO  with (NOLOCK)
	WHERE CD_GRUPO_PARAMETRO = 6
	AND CD_PARAMETRO = 1
	AND CD_VALOR_PARAMETRO  = 1
 
	-- BUSCA O CÓDIGO DO LOG ABERTO
	SELECT @CD_LOG_PROCESSAMENTO_DIARIO = ISNULL(MAX(CD_LOG_PROCESSAMENTO_DIARIO),0)
	FROM TB_LOG_PROCESSAMENTO_DIARIO  with (NOLOCK)
	WHERE DC_PROGRAMA = 'SP_FECHA_CAMPANHA'
	AND DT_FIM_PROCESSAMENTO IS NULL
     
	IF @CD_LOG_PROCESSAMENTO_DIARIO = 0
		BEGIN
			--SE NÃO ENCONTRAR LOG ABERTO ABRE UM PARA REGISTRO DAS ETAPAS
			BEGIN TRANSACTION
			INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO (CD_PROGRAMA, DC_PROGRAMA, DT_INICIO_PROCESSAMENTO)
			VALUES (2, 'SP_FECHA_CAMPANHA', GETDATE())
                 
			SELECT @CD_LOG_PROCESSAMENTO_DIARIO = IDENT_CURRENT('TB_LOG_PROCESSAMENTO_DIARIO')
			COMMIT TRANSACTION
		END
           
	-- *******************************************************************************
	-- CURSOR DE ESTRUTURA COMERCIAL
	-- VERIFICA TODOS AS ESTRUTURA COMERCIAIS QUE FECHAM NA DATA INFORMADA
	-- *******************************************************************************
	IF @CD_EST_COMERCIAL = 0
		BEGIN
			SET @CURSOR_EC = CURSOR FAST_FORWARD
			FOR
				SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL
				FROM TB_CALENDARIO_COMERCIAL  with (NOLOCK)
				WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)
				--WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), GETDATE()-1, 103)
		END
	ELSE
		BEGIN
			SET @CURSOR_EC = CURSOR FAST_FORWARD
			FOR
				SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL
				FROM TB_CALENDARIO_COMERCIAL  with (NOLOCK)
				WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)
				--WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), GETDATE()-1, 103)
				AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		END
     
	OPEN @CURSOR_EC
	FETCH NEXT FROM @CURSOR_EC
	INTO @NM_CICLO, @CD_ESTRUTURA

	WHILE @@FETCH_STATUS = 0
		BEGIN
                   
			SELECT @CD_ESTRUTURA_COMERCIAL = @CD_ESTRUTURA
                   
			/*******************************************************************
			-- VERIFICA O PROXIMO CICLO DA ESTRUTURA COMERCIAL
			********************************************************************/
                   
			SELECT @PROXIMO_CICLO = MIN(NM_CICLO)
			FROM TB_CALENDARIO_COMERCIAL  with (NOLOCK)
			WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
			AND NM_CICLO > @NM_CICLO

			/*******************************************************************
			-- VERIFICA AS PESSOAS QUE ESTÃO VIGENTES NESSA ESTRUTURA COMERCIAL
			********************************************************************/
                   
			-- CURSOR DE PESSOA
			SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
			FOR
				SELECT CD_PESSOA, CD_FUNCAO
				FROM TB_PESSOA_RESUMO  with (NOLOCK)
				WHERE NM_CICLO_ATUAL = @NM_CICLO
				AND CD_EST_COMERCIAL = @CD_ESTRUTURA
				-- ************* validação adicional incluída por Diego zilioti em 01/05/2020 *************
				-- ESTÁ OCORRENDO CASOS DE ERRO NA PIERRE DEVIDO A PESSOAS SEM PAPEL VÁLIDO QUE RESULTA NUM ERRO ABAIXO DE FK, ESTE FILTRO SERVE PARA DESPREZAR ESTAS PESSOAS NO FECHAMENTO
				AND CD_PAPEL_CARREIRA IN (SELECT CD_PAPEL_CARREIRA FROM TB_PAPEL_CARREIRA WITH (NOLOCK))
				AND CD_PAPEL_DESEMPENHO IN (SELECT CD_PAPEL_DESEMPENHO FROM TB_PAPEL_DESEMPENHO WITH (NOLOCK))
				-- ****************************************************************************************


                              
			OPEN @CURSOR_PESSOA
			FETCH NEXT FROM @CURSOR_PESSOA
			INTO @CD_PESSOA, @CD_FUNCAO

			WHILE @@FETCH_STATUS = 0
				BEGIN

					-- IMPORTANTE: TEMOS QUE RESETAR AS VARIAVEIS
					SELECT @CD_ESTRUTURA_COMERCIAL = @CD_ESTRUTURA
					SELECT @PROXIMO_CICLO_AGENDAMENTO = 0
					SELECT @PROXIMO_EST_COMERCIAL_AGENDAMENTO = 0

                              
					/*******************************************************************
					-- BUSCA PROXIMO CICLO DA PESSOA
					********************************************************************/
					--SELECT @PROXIMO_CICLO_PESSOA = MIN(NM_CICLO)
					--FROM TB_CICLO  with (NOLOCK)
					--WHERE NM_CICLO > @NM_CICLO
					-- ALDIR (15/03/2024) -> BUSCA O PRÓXIMO CICLO DA EST COML DA PESSOA E NAO DA TB_CICLO, POIS NA MAHOGANY TEM ESTs COMLs COM QDE DE CICLOS DISTINTOS NO MESMO ANO.
					SELECT @PROXIMO_CICLO_PESSOA = MIN(NM_CICLO)
					FROM TB_CALENDARIO_COMERCIAL  with (NOLOCK)
					WHERE CD_EST_COMERCIAL = @CD_ESTRUTURA
					AND NM_CICLO           > @NM_CICLO

                                    
					/*******************************************************************
					-- VERIFICA SE EXISTE UM AGENDAMENTO FUTURO PARA ESSA PESSOA
					********************************************************************/
					SELECT      @PROXIMO_CICLO_AGENDAMENTO = MIN(NM_CICLO),
								@PROXIMO_EST_COMERCIAL_AGENDAMENTO = CD_EST_COMERCIAL
					FROM TB_ALOCACAO_REDE  with (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND ID_ALOCACAO = 3
					GROUP BY CD_EST_COMERCIAL

                                    
					/*******************************************************************                               
					-- VERIFICA SE CHEGOU O MOMENTO DO AGENDAMENTO FUTURO
					********************************************************************/
					IF @PROXIMO_CICLO_AGENDAMENTO = @PROXIMO_CICLO_PESSOA
						BEGIN
    							BEGIN TRANSACTION
							-- ALTERA TB_ALOCACAO_REDE
							UPDATE TB_ALOCACAO_REDE
							SET ID_ALOCACAO = 1
							WHERE ID_ALOCACAO = 2
							AND CD_PESSOA = @CD_PESSOA
                                                
							UPDATE TB_ALOCACAO_REDE
							SET ID_ALOCACAO = 2
							WHERE ID_ALOCACAO = 3
							AND CD_PESSOA = @CD_PESSOA
							AND NM_CICLO = @PROXIMO_CICLO_AGENDAMENTO
                                                                                                                      
							-- ALTERA A TABELA TB_PESSOA_RESUMO - CD_EST_COMERCIAL
							UPDATE TB_PESSOA_RESUMO
							SET CD_EST_COMERCIAL = @PROXIMO_EST_COMERCIAL_AGENDAMENTO
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
                                                	COMMIT TRANSACTION
							SELECT @CD_ESTRUTURA_COMERCIAL = @PROXIMO_EST_COMERCIAL_AGENDAMENTO
						END
                                    
                                    
					/*************************************************************
					-- GERAR SITUAÇÃO COMERCIAL
					**************************************************************/
					EXEC PR_PESSOAGERASITUACAOCOMERCIAL
							@CD_PESSOA,
							@CD_FUNCAO,
							@CD_ESTRUTURA_COMERCIAL,
							@PROXIMO_CICLO_PESSOA,
							4, -- EVENTO FECHAR CAMPANHA
							@CD_USUARIO,
							@VAR_RETORNO                 OUTPUT,
							@DC_ERRO                     OUTPUT,
							@QT_LINHAS_AFETADAS          OUTPUT
                                          
					
					IF @VAR_RETORNO > 0
						BEGIN
							--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
							BEGIN TRANSACTION
							INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
							VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
							'ATUALIZAR SITUAÇÃO COMERCIAL - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
							@DC_ERRO,
							GETDATE(),
							@VAR_RETORNO)
							COMMIT TRANSACTION
						END
                                    
					-- *********************************************************************
					-- BUSCA PAPEL CARREIRA E DESEMPENHO DO CICLO QUE ESTA EM FECHAMENTO
					-- *********************************************************************
					SELECT	@ATUAL_PAPEL_CARREIRA    = ISNULL(CD_PAPEL_CARREIRA,1),
						@ATUAL_PAPEL_DESEMPENHO  = ISNULL(CD_PAPEL_DESEMPENHO,1),
                                                @ATUAL_PAPEL_CARREIRA2   = ISNULL(CD_PAPEL_CARREIRA,1),						
                                                @ATUAL_PAPEL_DESEMPENHO2 = ISNULL(CD_PAPEL_DESEMPENHO,1)

					FROM TB_PESSOA_RESUMO with (NOLOCK)
					WHERE CD_PESSOA = @CD_PESSOA
					AND CD_FUNCAO = @CD_FUNCAO

					-- *********************************************************************
					-- MEGA AROMAS, ATS E MNF
					-- *********************************************************************
					IF @CD_CLIENTE = 3 OR @CD_CLIENTE = 1 OR @CD_CLIENTE = 8 
						BEGIN
							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
							BEGIN TRANSACTION
							UPDATE      TB_PESSOA_RESUMO
							SET         NM_CICLO_ATUAL        = @PROXIMO_CICLO_PESSOA,
									   CD_PAPEL_CARREIRA     = @ATUAL_PAPEL_DESEMPENHO,
									   CD_PAPEL_DESEMPENHO   = 1 -- PAPEL BASE
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
                                      
							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HISTORICO
							INSERT INTO TB_PESSOA_PAPEL_HISTORICO (
							CD_PESSOA,
							CD_FUNCAO,
							NM_CICLO,
							CD_PAPEL_CARREIRA,
							CD_PAPEL_DESEMPENHO)
						VALUES
							(@CD_PESSOA,
							@CD_FUNCAO,
							@PROXIMO_CICLO_PESSOA,
							@ATUAL_PAPEL_DESEMPENHO,
							1)  -- PAPEL BASE
							COMMIT TRANSACTION
                                 
							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HIST_DATA
							EXEC DBO.SP_CAD_PESSOA_PAPEL_HIST_DATA
							   @CD_PESSOA,
							   @CD_FUNCAO,
							   @PROXIMO_CICLO_PESSOA,
							   1, -- PAPEL BASE
							   @VAR_RETORNO,
							   @DC_ERRO,
							   @QT_LINHAS_AFETADAS                     
                                       
							IF @VAR_RETORNO > 0
								BEGIN
									--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
									BEGIN TRANSACTION
									INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
									VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
											'GRAVAR PAPEL HIST DATA - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
											@DC_ERRO,
											GETDATE(),
											@VAR_RETORNO)
									COMMIT TRANSACTION
								END
						END


					-- *******************************************************
					-- BEAUTYWAY - LACQUA - PIERRE - THORKE - LILIBOO - NAVOGA - KCONSTANCIO - YES - CACAU SHOW
					-- *******************************************************
					IF @CD_CLIENTE  in (2, 15, 20, 18, 26, 38, 49, 52, 61)

						BEGIN
							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
							BEGIN TRANSACTION
							UPDATE      TB_PESSOA_RESUMO
							SET         NM_CICLO_ATUAL = @PROXIMO_CICLO_PESSOA,
								    DT_ATUALIZACAO = GETDATE(),
								    CD_USUARIO_ATUALIZACAO = 0	
								-- CD_SITUACAO_COMERCIAL = @SIT_COMERCIAL
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
                                      			COMMIT TRANSACTION
							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HISTORICO
							BEGIN TRANSACTION
							INSERT INTO TB_PESSOA_PAPEL_HISTORICO (
								CD_PESSOA,
								CD_FUNCAO,
								NM_CICLO,
								CD_PAPEL_CARREIRA,
								CD_PAPEL_DESEMPENHO)
							VALUES
								(@CD_PESSOA,
								@CD_FUNCAO,
								@PROXIMO_CICLO_PESSOA,
								@ATUAL_PAPEL_CARREIRA,
								@ATUAL_PAPEL_DESEMPENHO)                                     
                                			COMMIT TRANSACTION

							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HIST_DATA
							EXEC DBO.SP_CAD_PESSOA_PAPEL_HIST_DATA
								@CD_PESSOA,
								@CD_FUNCAO,
								@PROXIMO_CICLO_PESSOA,
								@ATUAL_PAPEL_DESEMPENHO,
								@VAR_RETORNO OUTPUT,
								@DC_ERRO OUTPUT,
								@QT_LINHAS_AFETADAS OUTPUT
                                                          
							IF @VAR_RETORNO > 0
								BEGIN
									--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
									BEGIN TRANSACTION
									INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
									VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
									'GRAVAR PAPEL HIST DATA - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
									@DC_ERRO,
									GETDATE(),
									@VAR_RETORNO)
									COMMIT TRANSACTION
								END


							IF  (@CD_CLIENTE = 61)  -- CACAU SHOW
							BEGIN

							  SELECT @ID_EVENTO                    = 6,  -- FIM DIA
								 @ID_MOMENTO_CALCULO_INDICADOR = 2,
								 @ID_TIPO_ATUALIZACAO          = 1

							  EXEC SP_CALCULA_PESSOA_INDICADOR
									@CD_PESSOA,
									@CD_FUNCAO,
									@CD_ESTRUTURA_COMERCIAL,
									@PROXIMO_CICLO_PESSOA,
									0, -- NM_PEDIDO
									@ID_EVENTO,                    --FIM DIA
									@ID_TIPO_ATUALIZACAO,          --ADICIONAR
									@ID_MOMENTO_CALCULO_INDICADOR, --CALCULA OS INDICADORES BATCH
									@CD_USUARIO,
									@VAR_RETORNO			OUTPUT,
									@DC_ERRO			OUTPUT,
									@QT_LINHAS_AFETADAS		OUTPUT

							END
						END


					-- *******************************************************
					-- KENKO PATTO
					-- *******************************************************
					IF (@CD_CLIENTE = 55)  
					BEGIN
						IF @CD_FUNCAO IN (1,6,5,3,4)
						BEGIN
						
							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
							BEGIN TRANSACTION
							UPDATE  TB_PESSOA_RESUMO
							SET     NM_CICLO_ATUAL         = @PROXIMO_CICLO_PESSOA,
								DT_ATUALIZACAO         = GETDATE(),
								CD_USUARIO_ATUALIZACAO = 0	
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO   = @CD_FUNCAO
							COMMIT TRANSACTION

							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HISTORICO
							BEGIN TRANSACTION
							INSERT INTO TB_PESSOA_PAPEL_HISTORICO (
												CD_PESSOA,
												CD_FUNCAO,
												NM_CICLO,
												CD_PAPEL_CARREIRA,
												CD_PAPEL_DESEMPENHO)
										  VALUES
												(@CD_PESSOA,
												@CD_FUNCAO,
												@PROXIMO_CICLO_PESSOA,
												@ATUAL_PAPEL_CARREIRA,
												@ATUAL_PAPEL_DESEMPENHO) 
							COMMIT TRANSACTION
                                                         
							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HIST_DATA
							EXEC DBO.SP_CAD_PESSOA_PAPEL_HIST_DATA
										 @CD_PESSOA,
										 @CD_FUNCAO,
										 @PROXIMO_CICLO_PESSOA,
										 @ATUAL_PAPEL_DESEMPENHO,
										 @VAR_RETORNO OUTPUT,
										 @DC_ERRO OUTPUT,
										 @QT_LINHAS_AFETADAS OUTPUT
                                                  
							IF @VAR_RETORNO > 0
							BEGIN
							  BEGIN TRANSACTION
							  --GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
							  INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
								  VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
									'GRAVAR PAPEL HIST DATA - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
									@DC_ERRO,
									GETDATE(),
									 @VAR_RETORNO)
							  COMMIT TRANSACTION
							END

						END


						IF (@CD_FUNCAO = 2)
						BEGIN

							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
							BEGIN TRANSACTION
							UPDATE      TB_PESSOA_RESUMO
							SET         NM_CICLO_ATUAL = @PROXIMO_CICLO_PESSOA,
								    CD_PAPEL_DESEMPENHO = 2, -- FIXO PAPEL 2 (INDICADOR)
								    DT_ATUALIZACAO = GETDATE(),
								    CD_USUARIO_ATUALIZACAO = 0	
								-- CD_SITUACAO_COMERCIAL = @SIT_COMERCIAL
							WHERE CD_PESSOA = @CD_PESSOA
							AND CD_FUNCAO = @CD_FUNCAO
                                      			COMMIT TRANSACTION

							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HISTORICO
							BEGIN TRANSACTION
							INSERT INTO TB_PESSOA_PAPEL_HISTORICO (
								CD_PESSOA,
								CD_FUNCAO,
								NM_CICLO,
								CD_PAPEL_CARREIRA,
								CD_PAPEL_DESEMPENHO)
							VALUES
								(@CD_PESSOA,
								@CD_FUNCAO,
								@PROXIMO_CICLO_PESSOA,
								@ATUAL_PAPEL_CARREIRA,
								2)            -- FIXO PAPEL 2 (INDICADOR)                         
                                			COMMIT TRANSACTION

							-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HIST_DATA
							EXEC DBO.SP_CAD_PESSOA_PAPEL_HIST_DATA
								@CD_PESSOA,
								@CD_FUNCAO,
								@PROXIMO_CICLO_PESSOA,
								2, -- FIXO PAPEL 2 (INDICADOR)
								@VAR_RETORNO OUTPUT,
								@DC_ERRO OUTPUT,
								@QT_LINHAS_AFETADAS OUTPUT
                                                          
							IF @VAR_RETORNO > 0
								BEGIN
									--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
									BEGIN TRANSACTION
									INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
									VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
									'GRAVAR PAPEL HIST DATA - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
									@DC_ERRO,
									GETDATE(),
									@VAR_RETORNO)
									COMMIT TRANSACTION
								END


							-- GRAVAR A INFORMAÇÃO NA TABELA TB_WRK_MN_TOPOLOGIA   -- ASCENDENTE
							BEGIN TRANSACTION
							INSERT INTO TB_WRK_MN_TOPOLOGIA (CD_PESSOA,
									CD_FUNCAO,
									NM_CICLO,
									CD_PESSOA_VINCULADA,
									ID_ORDEM,
									NM_NIVEL,
									ID_TIPO_REDE_MN,
									ID_DIRECAO_REDE_BINARIA)
							SELECT		CD_PESSOA,
									CD_FUNCAO,
									@PROXIMO_CICLO_PESSOA,
									CD_PESSOA_VINCULADA,
									ID_ORDEM,
									NM_NIVEL,
									ID_TIPO_REDE_MN,
									ID_DIRECAO_REDE_BINARIA
							FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
							WHERE CD_PESSOA             = @CD_PESSOA
							AND   CD_FUNCAO             = @CD_FUNCAO
							AND   ID_ORDEM              = 1    -- ASCENDENTE
							AND   NM_CICLO              = @NM_CICLO
							AND   ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL         
							COMMIT TRANSACTION

							-- GRAVAR A INFORMAÇÃO NA TABELA TB_WRK_MN_TOPOLOGIA   -- DESCENDENTE
							BEGIN TRANSACTION
							INSERT INTO TB_WRK_MN_TOPOLOGIA (CD_PESSOA,
										CD_FUNCAO,
										NM_CICLO,
										CD_PESSOA_VINCULADA,
										ID_ORDEM,
										NM_NIVEL,
										ID_TIPO_REDE_MN,
										ID_DIRECAO_REDE_BINARIA)
							SELECT		CD_PESSOA,
										CD_FUNCAO,
										@PROXIMO_CICLO_PESSOA,
										CD_PESSOA_VINCULADA,
										ID_ORDEM,
										NM_NIVEL,
										ID_TIPO_REDE_MN,
										ID_DIRECAO_REDE_BINARIA
								FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
								WHERE CD_PESSOA_VINCULADA   = @CD_PESSOA
								AND   CD_FUNCAO             = @CD_FUNCAO
								AND   ID_ORDEM              = 2    -- DESCENDENTE
								AND   NM_CICLO              = @NM_CICLO
								AND   ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL  
							COMMIT TRANSACTION

							-- GRAVA NA TABELA TB_PESSOA_VINCULO_HISTORICO
							BEGIN TRANSACTION
							INSERT INTO TB_PESSOA_VINCULO_HISTORICO (CD_PESSOA,
													CD_FUNCAO,
													NM_CICLO,
													CD_PESSOA_VINCULADA,		
													CD_PESSOA_LIDERANCA)
							SELECT					CD_PESSOA,
													CD_FUNCAO,
													@PROXIMO_CICLO_PESSOA,
													CD_PESSOA_VINCULADA,
													CD_PESSOA_LIDERANCA
								FROM TB_PESSOA_VINCULO_HISTORICO with (NOLOCK)
								WHERE NM_CICLO = @NM_CICLO
								AND CD_PESSOA = @CD_PESSOA
								AND CD_FUNCAO = @CD_FUNCAO 
							COMMIT TRANSACTION

						END -- FUNCAO = 2

					END
                                       

					-- ****************** GENERICO *****************************************************
					-- SPATZ / TERRALI / FROW / HAVILA CESTAS / VIVER MAIS / PERFECT B (FARMASI) / CMC / A SOS / EVINO / FANES / BIOGALENA / CRÊSER / CLOROFITUM / WINEHOUSE / CACAU SHOW / STRAP / MODA DO CHEF / AKMOS / MAKIE / LILIH / MAHOGANY / SIBERIANN / ELLAS / PACHAMAMA / WEST1 / BECORE/DNANAMODA/LOWELL/BRASCARE/CREAMY/PHYTO
					-- ********************************************************************************* 
					IF @CD_CLIENTE IN (14, 13, 12, 22, 23, 19, 24, 25, 28, 30, 31, 32, 33, 35, 37, 39, 40, 41, 43, 45, 47, 48, 50, 51, 53, 56,54,57,59,60, 21)

						BEGIN
							IF @CD_FUNCAO IN (1,6,5,3,4)
							--IF @CD_FUNCAO = 1 or @CD_FUNCAO = 6 or @CD_FUNCAO = 5 or @CD_FUNCAO = 3 or  @CD_FUNCAO = 4
								BEGIN
									
									-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
									BEGIN TRANSACTION
									UPDATE  TB_PESSOA_RESUMO
									SET     NM_CICLO_ATUAL        = @PROXIMO_CICLO_PESSOA,
										CD_PAPEL_CARREIRA     = @ATUAL_PAPEL_CARREIRA,
										CD_PAPEL_DESEMPENHO   = @ATUAL_PAPEL_DESEMPENHO
									WHERE CD_PESSOA = @CD_PESSOA
									AND CD_FUNCAO   = @CD_FUNCAO
									COMMIT TRANSACTION
									 -- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HISTORICO
									BEGIN TRANSACTION
									INSERT INTO TB_PESSOA_PAPEL_HISTORICO (
																CD_PESSOA,
																CD_FUNCAO,
																NM_CICLO,
																CD_PAPEL_CARREIRA,
																CD_PAPEL_DESEMPENHO)
														  VALUES
																(@CD_PESSOA,
																@CD_FUNCAO,
																@PROXIMO_CICLO_PESSOA,
																@ATUAL_PAPEL_CARREIRA,
																@ATUAL_PAPEL_DESEMPENHO) 
									COMMIT TRANSACTION
                                                         
									-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HIST_DATA
									EXEC DBO.SP_CAD_PESSOA_PAPEL_HIST_DATA
												 @CD_PESSOA,
												 @CD_FUNCAO,
												 @PROXIMO_CICLO_PESSOA,
												 @ATUAL_PAPEL_DESEMPENHO,
												 @VAR_RETORNO OUTPUT,
												 @DC_ERRO OUTPUT,
												 @QT_LINHAS_AFETADAS OUTPUT
                                                  
									IF @VAR_RETORNO > 0
										BEGIN
										  BEGIN TRANSACTION
										  --GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
										  INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
										  VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
													'GRAVAR PAPEL HIST DATA - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
													@DC_ERRO,
													GETDATE(),
													 @VAR_RETORNO)
										  COMMIT TRANSACTION
										END

								END

							IF (@CD_FUNCAO = 2)
								BEGIN

									-- BUSCA OS PARAMETROS DE CALCULO DO MMN
									SELECT @APLICA_COMPRESSAO_DINAMICA = isnull(ID_APLICA_COMPRESSAO_DINAMICA,2),
									       @CD_PAPEL_INICIO_LIDERANCA  = isnull(CD_PAPEL_INICIO_LIDERANCA,0)  -- 0 - não tem conceito de liderança
									FROM TB_MN_REGRA_GERAL  with (NOLOCK)
								
									IF @CD_CLIENTE IN (41)    -- AKMOS  -- ID_EVENTO_ATUALIZACAO_PAPEL = 3 CLIENTE UTILIZA O SEMANAL PARA CALCULO DO PAPEL
									BEGIN	
										-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
										BEGIN TRANSACTION
										UPDATE TB_PESSOA_RESUMO
										SET     NM_CICLO_ATUAL         = @PROXIMO_CICLO_PESSOA,
											DT_ATUALIZACAO  = GETDATE(),
											cd_usuario_atualizacao = @CD_USUARIO 
										WHERE CD_PESSOA = @CD_PESSOA
										AND CD_FUNCAO   = @CD_FUNCAO
										COMMIT TRANSACTION

										-- CALCULA O INDICADOR DE ATIVACAO
										EXEC SP_CALCULA_PESSOA_INDICADOR_CLIENTE
				 						@CD_PESSOA,
				 						@CD_FUNCAO,
				 						@CD_ESTRUTURA,
				 						@PROXIMO_CICLO_PESSOA,
				 						9,    --@ID_EVENTO
				 						1,    --@ID_TIPO_ATUALIZACAO
				 						2,    --@ID_MOMENTO_CALCULO_INDICADOR
				 						0,
				 						0 ,
				 						'',
										 0

									END
									ELSE
									BEGIN
										SELECT @INICIO_CICLO_PAPEL_DESEMPENHO     = ID_INICIO_CICLO_PAPEL_DESEMPENHO,
										       @INICIO_CICLO_PAPEL_CARREIRA       = ID_INICIO_CICLO_PAPEL_CARREIRA
										FROM TB_MN_REGRA_PAPEL with (NOLOCK)
	
        	                                                                -- 1 - PAPEL CARREIRA CICLO ANTERIOR / 2 - PAPEL DESEMPENHO CICLO ANTERIOR / 3 - ATUALIZA JUNTO COM O PAPEL DESEMPENHO  / 4 - MAIOR PAPEL ENTRE 1 E 2 / 100 - CONCEITO DE LIDERANÇA (PAPEL ABAIXO = 2 - PAPEL DESEMPENHO CICLO ANTERIOR / PAPEL IGUAL OU ACIMA = 1 - PAPEL CARREIRA CICLO ANTERIOR) / PAPEL CARREIRA É DEFINIDO POR INDICADOR
										IF (@INICIO_CICLO_PAPEL_CARREIRA = 2)  -- PAPEL DESEMPENHO CICLO ANTERIOR 
										BEGIN
										  SELECT  @ATUAL_PAPEL_CARREIRA = @ATUAL_PAPEL_DESEMPENHO
										END
	
										IF (@INICIO_CICLO_PAPEL_CARREIRA = 4)  -- MAIOR PAPEL ENTRE 1 E 2
										BEGIN
											IF (@ATUAL_PAPEL_DESEMPENHO > @ATUAL_PAPEL_CARREIRA)
											BEGIN
											  SELECT  @ATUAL_PAPEL_CARREIRA = @ATUAL_PAPEL_DESEMPENHO
											END
										END

										-- INICIO 100 - CONCEITO DE LIDERANÇA (PAPEL ABAIXO = 2 - PAPEL DESEMPENHO CICLO ANTERIOR / PAPEL IGUAL OU ACIMA = 1 - PAPEL CARREIRA CICLO ANTERIOR)
										IF (@INICIO_CICLO_PAPEL_CARREIRA = 100)  -- DEFINE O PAPEL QUE INICIA O PRÓXIMO CICLO
										BEGIN
											IF (@ATUAL_PAPEL_CARREIRA2 < @CD_PAPEL_INICIO_LIDERANCA)
											BEGIN
										  		SELECT @ATUAL_PAPEL_CARREIRA = @ATUAL_PAPEL_DESEMPENHO
											END
										END
										-- FIM =  100 - CONCEITO DE LIDERANÇA (PAPEL ABAIXO = 2 - PAPEL DESEMPENHO CICLO ANTERIOR / PAPEL IGUAL OU ACIMA = 1 - PAPEL CARREIRA CICLO ANTERIOR)	

										-- (ALDIR 03/11/2020) : PAPEL CARREIRA BASEADO EM INDICADOR, SE NÃO ENCONTRAR ASSUME O PAPEL CARREIRA DO CLICLO ANTERIOR
										IF (ISNULL(@INICIO_CICLO_PAPEL_CARREIRA,0) > 1000)
										BEGIN
											SELECT 	@ATUAL_PAPEL_CARREIRA = ISNULL(MAX(VL_INDICADOR_PESSOAL),@ATUAL_PAPEL_CARREIRA2)	
											FROM TB_PESSOA_INDICADOR with (NOLOCK)	
											WHERE CD_PESSOA            = @CD_PESSOA
											AND   CD_FUNCAO            = @CD_FUNCAO
											AND   NM_CICLO             = @NM_CICLO
											AND   CD_EST_COMERCIAL     = @CD_ESTRUTURA
											AND   CD_INDICADOR_PESSOAL = ISNULL(@INICIO_CICLO_PAPEL_CARREIRA,0)					
										END 
										-- FIM = (ALDIR 03/11/2020) : PAPEL CARREIRA BASEADO EM INDICADOR, SE NÃO ENCONTRAR ASSUME O PAPEL CARREIRA DO CLICLO ANTERIOR

										--0 - PAPEL DESEMPENHO CICLO ANTERIOR / INFORMA O CÓDIGO DO PAPEL A INICIAR / 100 - CONCEITO DE LIDERANÇA (PAPEL ABAIXO = 0 - PAPEL DESEMPENHO CICLO ANTERIOR  / PAPEL IGUAL OU ACIMA = 1)
										IF (@INICIO_CICLO_PAPEL_DESEMPENHO >= 1  AND @INICIO_CICLO_PAPEL_DESEMPENHO <= 99) -- DEFINE O PAPEL QUE INICIA O PRÓXIMO CICLO
										BEGIN
										  SELECT  @ATUAL_PAPEL_DESEMPENHO = @INICIO_CICLO_PAPEL_DESEMPENHO
										END 

										IF (@INICIO_CICLO_PAPEL_DESEMPENHO = 100) -- DEFINE O PAPEL QUE INICIA O PRÓXIMO CICLO
										BEGIN
											IF (@ATUAL_PAPEL_CARREIRA2 >= @CD_PAPEL_INICIO_LIDERANCA)
											BEGIN
											  SELECT  @ATUAL_PAPEL_DESEMPENHO = 1
											END
											--ELSE
											--BEGIN
											--	IF (@CD_CLIENTE =  25) -- A SÓS
											--	BEGIN
											--	  IF (@ATUAL_PAPEL_CARREIRA2 > 1 AND @ATUAL_PAPEL_CARREIRA2 < @CD_PAPEL_INICIO_LIDERANCA AND @ATUAL_PAPEL_DESEMPENHO2 = 1)
											--	  BEGIN
											--	    SELECT @ATUAL_PAPEL_DESEMPENHO = 2
											--	  END
											--	END
											
											--END

										END 


										-- (ALDIR 28/12/2021) : PAPEL DESEMPENHO BASEADO EM INDICADOR, SE NÃO ENCONTRAR ASSUME O PAPEL DESEMPENHO DO CLICLO ANTERIOR
										IF (ISNULL(@INICIO_CICLO_PAPEL_DESEMPENHO,0) > 1000)
										BEGIN
											SELECT 	@ATUAL_PAPEL_DESEMPENHO = ISNULL(MAX(VL_INDICADOR_PESSOAL),@ATUAL_PAPEL_DESEMPENHO2)	
											FROM TB_PESSOA_INDICADOR with (NOLOCK)	
											WHERE CD_PESSOA            = @CD_PESSOA
											AND   CD_FUNCAO            = @CD_FUNCAO
											AND   NM_CICLO             = @NM_CICLO
											AND   CD_EST_COMERCIAL     = @CD_ESTRUTURA
											AND   CD_INDICADOR_PESSOAL = ISNULL(@INICIO_CICLO_PAPEL_DESEMPENHO,0)					
										END 
										-- FIM = (ALDIR 28/12/2021) : PAPEL DESEMPENHO BASEADO EM INDICADOR, SE NÃO ENCONTRAR ASSUME O PAPEL DESEMPENHO DO CLICLO ANTERIOR


										-- ANALISAR SE TEM CARÊNCIA
										SELECT     @V_QT_CICLOS_CARENCIA     = isnull(MAX(QT_CICLOS_CARENCIA),0),
											   @v_CD_PAPEL_NOVO          = isnull(MAX(CD_PAPEL_NOVO),@ATUAL_PAPEL_DESEMPENHO),
											   @V_CD_INDICADOR_CARENCIA  = isnull(MAX(CD_INDICADOR_PESSOAL),0)
										FROM  TB_MN_REGRA_PAPEL_CARENCIA with (NOLOCK)
										WHERE CD_PAPEL                  = @ATUAL_PAPEL_CARREIRA2 
								                AND   isnull(ID_TIPO_PAPEL, 2)  =  1   -- PAPEL CARREIRA
	    
										-- VERIFICA A QDE DE CICLOS DE CARÊNCIA 
										IF (@V_QT_CICLOS_CARENCIA > 0 ) 
										BEGIN
										  -- REGRA POR INDICADOR
										  IF (@V_CD_INDICADOR_CARENCIA > 0)
										  BEGIN
											SELECT @V_VL_INDICADOR_CARENCIA = ISNULL(MAX(VL_INDICADOR_PESSOAL),0)
											FROM TB_PESSOA_INDICADOR with (NOLOCK)
											WHERE CD_PESSOA            = @CD_PESSOA
											AND   CD_FUNCAO            = @CD_FUNCAO
											AND   NM_CICLO             = @NM_CICLO
											AND   CD_EST_COMERCIAL     = @CD_ESTRUTURA
											AND   CD_INDICADOR_PESSOAL = @V_CD_INDICADOR_CARENCIA   
         
											-- VERIFICA SE PASSOU A CARENCIA
											IF (@V_VL_INDICADOR_CARENCIA = @V_QT_CICLOS_CARENCIA)
											BEGIN
											  SELECT @ATUAL_PAPEL_CARREIRA =   @v_CD_PAPEL_NOVO, @ATUAL_PAPEL_DESEMPENHO = @v_CD_PAPEL_NOVO
											END
	
										  END
	
										END  -- FIM ANALISE CARÊNCIA

										-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_RESUMO
										BEGIN TRANSACTION
										UPDATE  TB_PESSOA_RESUMO
										SET     NM_CICLO_ATUAL        = @PROXIMO_CICLO_PESSOA,
											CD_PAPEL_CARREIRA     = @ATUAL_PAPEL_CARREIRA,
											CD_PAPEL_DESEMPENHO   = @ATUAL_PAPEL_DESEMPENHO,
											DT_ATUALIZACAO        = GETDATE(),
											CD_USUARIO_ATUALIZACAO = -2  -- FIM DIA
										WHERE CD_PESSOA = @CD_PESSOA
										AND CD_FUNCAO   = @CD_FUNCAO
										COMMIT TRANSACTION
									END

									-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HISTORICO
									BEGIN TRANSACTION
									INSERT INTO TB_PESSOA_PAPEL_HISTORICO (
																CD_PESSOA,
																CD_FUNCAO,
																NM_CICLO,
																CD_PAPEL_CARREIRA,
																CD_PAPEL_DESEMPENHO)
													  VALUES
																(@CD_PESSOA,
																@CD_FUNCAO,
																@PROXIMO_CICLO_PESSOA,
																@ATUAL_PAPEL_CARREIRA,
																@ATUAL_PAPEL_DESEMPENHO) 
									COMMIT TRANSACTION                		                                         

									-- GRAVAR A INFORMAÇÃO NA TABELA TB_PESSOA_PAPEL_HIST_DATA
									EXEC DBO.SP_CAD_PESSOA_PAPEL_HIST_DATA
												 @CD_PESSOA,
												 @CD_FUNCAO,
												 @PROXIMO_CICLO_PESSOA,
												 @ATUAL_PAPEL_DESEMPENHO,
												 @VAR_RETORNO OUTPUT,
												 @DC_ERRO OUTPUT,
												 @QT_LINHAS_AFETADAS OUTPUT
	                                                  
									IF @VAR_RETORNO > 0
									BEGIN
									  --GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
									  BEGIN TRANSACTION
									  INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
									  VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
													'GRAVAR PAPEL HIST DATA - PESSOA ' + CONVERT(VARCHAR(20),@CD_PESSOA),
													@DC_ERRO,
													GETDATE(),
													 @VAR_RETORNO)
									  COMMIT TRANSACTION
									END
	
									-- VERIFICA SE TEM COMPRESSÃO DINÂMICA
									IF (@APLICA_COMPRESSAO_DINAMICA = 1) -- SIM
										BEGIN

										-- VERIFICAR SE A PESSOA ESTÁ DESATIVADA 
										SELECT @codigoSitComercialDetalhePessoa = dbo.FN_BUSCA_PROXIMA_SIT_COMERCIAL_PESSOA_MN(@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @PROXIMO_CICLO_PESSOA)
										IF (@codigoSitComercialDetalhePessoa < 400) -- não está desativada, montar a topologia
											BEGIN

												-- CURSOR DE PESSOA TOPOLOGIA ASCENDENTE
												SET @CURSOR_PESSOA_TOPOLOGIA = CURSOR FAST_FORWARD
												FOR
												SELECT CD_PESSOA,
													   CD_FUNCAO,
													   --@PROXIMO_CICLO_PESSOA,
													   CD_PESSOA_VINCULADA,
													   ID_ORDEM,
													   --NM_NIVEL,
													   ID_TIPO_REDE_MN,
													   ID_DIRECAO_REDE_BINARIA
												FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
												WHERE CD_PESSOA             = @CD_PESSOA
												AND   CD_FUNCAO             = @CD_FUNCAO
												AND   ID_ORDEM              = 1    -- ASCENDENTE
												AND   NM_CICLO              = @NM_CICLO
												AND   ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL  
												ORDER BY ID_TIPO_REDE_MN, NM_NIVEL
                              
												OPEN @CURSOR_PESSOA_TOPOLOGIA
												FETCH NEXT FROM @CURSOR_PESSOA_TOPOLOGIA
												INTO @CD_PESSOA_TOP, @CD_FUNCAO_TOP, @CD_PESSOA_VINCULADA_TOP, @ID_ORDEM_TOP, @ID_TIPO_REDE_MN_TOP ,@ID_DIRECAO_REDE_BINARIA_TOP  

												SELECT @NM_NIVEL_TOP = 1 -- INICIALIZA NIVEL

												WHILE @@FETCH_STATUS = 0
													BEGIN 
														SELECT @codigoSitComercialDetalhePessoa = dbo.FN_BUSCA_PROXIMA_SIT_COMERCIAL_PESSOA_MN(@CD_PESSOA_VINCULADA_TOP, @CD_FUNCAO_TOP, @NM_CICLO, @PROXIMO_CICLO_PESSOA)
														IF (@codigoSitComercialDetalhePessoa < 400) -- NÃO está desativada, inclui na topologia
															BEGIN
																BEGIN TRANSACTION
																INSERT INTO TB_WRK_MN_TOPOLOGIA (CD_PESSOA, 
																								 CD_FUNCAO,
																								 NM_CICLO,
																								 CD_PESSOA_VINCULADA,
																								 ID_ORDEM,
																								 NM_NIVEL,
																								 ID_TIPO_REDE_MN,
																								 ID_DIRECAO_REDE_BINARIA)
																						VALUES (@CD_PESSOA_TOP, 
																								@CD_FUNCAO_TOP, 
																								@PROXIMO_CICLO_PESSOA,
																								@CD_PESSOA_VINCULADA_TOP, 
																								@ID_ORDEM_TOP,
																								@NM_NIVEL_TOP,
																								@ID_TIPO_REDE_MN_TOP,
																								@ID_DIRECAO_REDE_BINARIA_TOP)
																COMMIT TRANSACTION	
																-- verifica se o indicante foi desativado
																IF (@NM_NIVEL_TOP = 1)
																	BEGIN

																		-- busca o valor do parametro para identificar se a pessoa quando desativada perde o indicante e sua rede
																		select @v_cont_parametro_7_17 = vl_parametro from tb_valor_parametro with (NOLOCK) where cd_grupo_parametro = 7 and cd_parametro =17

																		IF (@v_cont_parametro_7_17 = 1)
																			BEGIN
																				SELECT @CONT_VINCULO = COUNT(*) FROM TB_PESSOA_RESUMO with (NOLOCK)
																				WHERE CD_PESSOA         = @CD_PESSOA_TOP
																				AND CD_PESSOA_VINCULADA = @CD_PESSOA_VINCULADA_TOP
																				AND CD_FUNCAO           = @CD_FUNCAO_TOP

																				IF (@CONT_VINCULO = 0)
																					BEGIN
																						BEGIN TRANSACTION
																						  UPDATE TB_PESSOA_RESUMO
																							 SET CD_PESSOA_VINCULADA = @CD_PESSOA_VINCULADA_TOP
																						   WHERE CD_PESSOA = @CD_PESSOA_TOP
    																						 AND CD_FUNCAO   = @CD_FUNCAO_TOP

																						  UPDATE TB_PESSOA
																						  SET CD_PESSOA_INDICANTE = @CD_PESSOA_VINCULADA_TOP
																						  WHERE CD_PESSOA = @CD_PESSOA_TOP
																						COMMIT TRANSACTION
                
																					END
																			END

																			-- GRAVA NA TABELA TB_PESSOA_VINCULO_HISTORICO
																			BEGIN TRANSACTION
																			INSERT INTO TB_PESSOA_VINCULO_HISTORICO (
																								  CD_PESSOA,
																								  CD_FUNCAO,
																								  NM_CICLO,
																								  CD_PESSOA_VINCULADA, CD_PESSOA_LIDERANCA)
																							  VALUES     (@CD_PESSOA_TOP,
																								  @CD_FUNCAO_TOP,
																								  @PROXIMO_CICLO_PESSOA,
																								  @CD_PESSOA_VINCULADA_TOP,
																								  (SELECT CD_PESSOA_LIDERANCA FROM TB_PESSOA_RESUMO with (NOLOCK) WHERE CD_PESSOA =@CD_PESSOA_TOP AND CD_FUNCAO = @CD_FUNCAO_TOP))
																			COMMIT TRANSACTION
																	END  
           
																SELECT @NM_NIVEL_TOP = @NM_NIVEL_TOP + 1

															END
														FETCH NEXT FROM @CURSOR_PESSOA_TOPOLOGIA
														INTO @CD_PESSOA_TOP, @CD_FUNCAO_TOP, @CD_PESSOA_VINCULADA_TOP, @ID_ORDEM_TOP, @ID_TIPO_REDE_MN_TOP ,@ID_DIRECAO_REDE_BINARIA_TOP
													END           
												CLOSE       @CURSOR_PESSOA_TOPOLOGIA
												DEALLOCATE  @CURSOR_PESSOA_TOPOLOGIA

												--****
												-- CURSOR DE PESSOA TOPOLOGIA DESCENDENTE
												SET @CURSOR_PESSOA_TOPOLOGIA = CURSOR FAST_FORWARD
												FOR
												SELECT CD_PESSOA,
													   CD_FUNCAO,
													   -- @PROXIMO_CICLO_PESSOA,
													   CD_PESSOA_VINCULADA,
													   ID_ORDEM,
													   -- NM_NIVEL,
													   ID_TIPO_REDE_MN,
													   ID_DIRECAO_REDE_BINARIA
												FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
												WHERE CD_PESSOA_VINCULADA   = @CD_PESSOA
												AND   CD_FUNCAO             = @CD_FUNCAO
												AND   ID_ORDEM              = 2    -- DESCENDENTE
												AND   NM_CICLO              = @NM_CICLO
												AND   ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL  
												ORDER BY ID_TIPO_REDE_MN, NM_NIVEL
					                                  
												OPEN @CURSOR_PESSOA_TOPOLOGIA
												FETCH NEXT FROM @CURSOR_PESSOA_TOPOLOGIA
												INTO @CD_PESSOA_TOP, @CD_FUNCAO_TOP, @CD_PESSOA_VINCULADA_TOP, @ID_ORDEM_TOP, @ID_TIPO_REDE_MN_TOP ,@ID_DIRECAO_REDE_BINARIA_TOP
					 
					            
												SELECT @NM_NIVEL_TOP = 1 -- INICIALIZA NIVEL
										
												WHILE @@FETCH_STATUS = 0
													BEGIN 
														SELECT @codigoSitComercialDetalhePessoa = dbo.FN_BUSCA_PROXIMA_SIT_COMERCIAL_PESSOA_MN(@CD_PESSOA_TOP, @CD_FUNCAO_TOP, @NM_CICLO, @PROXIMO_CICLO_PESSOA)
														IF (@codigoSitComercialDetalhePessoa < 400) -- não está desativada, não inclui na topologia
															BEGIN
                                   												BEGIN TRANSACTION
																INSERT INTO TB_WRK_MN_TOPOLOGIA (CD_PESSOA, 
																								 CD_FUNCAO,
																								 NM_CICLO,
																								 CD_PESSOA_VINCULADA,
																								 ID_ORDEM,
																								 NM_NIVEL, 
																								 ID_TIPO_REDE_MN,
																								 ID_DIRECAO_REDE_BINARIA)
																						VALUES  (@CD_PESSOA_TOP,
																								 @CD_FUNCAO_TOP,
																								 @PROXIMO_CICLO_PESSOA,
																								 @CD_PESSOA_VINCULADA_TOP, 
																								 @ID_ORDEM_TOP,
																								 @NM_NIVEL_TOP, 
																								 @ID_TIPO_REDE_MN_TOP ,
																								 @ID_DIRECAO_REDE_BINARIA_TOP)
																COMMIT TRANSACTION
	               
																SELECT @NM_NIVEL_TOP = @NM_NIVEL_TOP + 1

															END
														FETCH NEXT FROM @CURSOR_PESSOA_TOPOLOGIA
														INTO @CD_PESSOA_TOP, @CD_FUNCAO_TOP, @CD_PESSOA_VINCULADA_TOP, @ID_ORDEM_TOP, @ID_TIPO_REDE_MN_TOP ,@ID_DIRECAO_REDE_BINARIA_TOP
													END           
												CLOSE       @CURSOR_PESSOA_TOPOLOGIA
												DEALLOCATE  @CURSOR_PESSOA_TOPOLOGIA


											END          

										END  -- fim SIM - COMPRESSÃO DINÂMICA


									IF (@APLICA_COMPRESSAO_DINAMICA = 2) -- NÃO
										BEGIN  

											-- GRAVAR A INFORMAÇÃO NA TABELA TB_WRK_MN_TOPOLOGIA   -- ASCENDENTE
											BEGIN TRANSACTION
											INSERT INTO TB_WRK_MN_TOPOLOGIA (CD_PESSOA,
																			CD_FUNCAO,
																			NM_CICLO,
																			CD_PESSOA_VINCULADA,
																			ID_ORDEM,
																			NM_NIVEL,
																			ID_TIPO_REDE_MN,
																			ID_DIRECAO_REDE_BINARIA)
											SELECT							CD_PESSOA,
																			CD_FUNCAO,
																			@PROXIMO_CICLO_PESSOA,
																			CD_PESSOA_VINCULADA,
																			ID_ORDEM,
																			NM_NIVEL,
																			ID_TIPO_REDE_MN,
																			ID_DIRECAO_REDE_BINARIA
											FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
											WHERE CD_PESSOA             = @CD_PESSOA
											AND   CD_FUNCAO             = @CD_FUNCAO
											AND   ID_ORDEM              = 1    -- ASCENDENTE
											AND   NM_CICLO              = @NM_CICLO
											AND   ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL   
											COMMIT TRANSACTION      

											-- GRAVAR A INFORMAÇÃO NA TABELA TB_WRK_MN_TOPOLOGIA   -- DESCENDENTE
											BEGIN TRANSACTION
											INSERT INTO TB_WRK_MN_TOPOLOGIA (CD_PESSOA,
																			CD_FUNCAO,
																			NM_CICLO,
																			CD_PESSOA_VINCULADA,
																			ID_ORDEM,
																			NM_NIVEL,
																			ID_TIPO_REDE_MN,
																			ID_DIRECAO_REDE_BINARIA)
											SELECT							CD_PESSOA,
																			CD_FUNCAO,
																			@PROXIMO_CICLO_PESSOA,
																			CD_PESSOA_VINCULADA,
																			ID_ORDEM,
																			NM_NIVEL,
																			ID_TIPO_REDE_MN,
																			ID_DIRECAO_REDE_BINARIA
											FROM TB_WRK_MN_TOPOLOGIA with (NOLOCK)
											WHERE CD_PESSOA_VINCULADA   = @CD_PESSOA
											AND   CD_FUNCAO             = @CD_FUNCAO
											AND   ID_ORDEM              = 2    -- DESCENDENTE
											AND   NM_CICLO              = @NM_CICLO
											AND   ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL  
											COMMIT TRANSACTION
											-- BUSCA A PROXIMA SITUACAO COMERCIAL DA PESSOA 
											SELECT @codigoSitComercialDetalhePessoa = dbo.FN_BUSCA_PROXIMA_SIT_COMERCIAL_PESSOA_MN(@CD_PESSOA, @CD_FUNCAO, @NM_CICLO, @PROXIMO_CICLO_PESSOA)
											-- BUSCA O PARAMETRO PARA IDENTIFICAR SE A PESSOA QUANDO DESATIVADA PERDE O INDICANTE E SUA REDE
											select @v_cont_parametro_7_17 = vl_parametro from tb_valor_parametro with (NOLOCK) where cd_grupo_parametro = 7 and cd_parametro =17

											IF (@codigoSitComercialDetalhePessoa < 400 OR @v_cont_parametro_7_17 <> 1)
											BEGIN

												-- GRAVA NA TABELA TB_PESSOA_VINCULO_HISTORICO
												BEGIN TRANSACTION 
												INSERT INTO TB_PESSOA_VINCULO_HISTORICO (
																					CD_PESSOA,
																					CD_FUNCAO,
																					NM_CICLO,
																					CD_PESSOA_VINCULADA,		
																					CD_PESSOA_LIDERANCA)
												SELECT									CD_PESSOA,
																					CD_FUNCAO,
																					@PROXIMO_CICLO_PESSOA,
																					ISNULL(CD_PESSOA_VINCULADA,0),
																					CD_PESSOA_LIDERANCA
												FROM TB_PESSOA_RESUMO with (NOLOCK)
												WHERE CD_PESSOA = @CD_PESSOA
												AND CD_FUNCAO   = @CD_FUNCAO 
												AND (ISNULL(CD_PESSOA_VINCULADA,0) > 0 OR ISNULL(CD_PESSOA_LIDERANCA,0) > 0)
												--AND ISNULL(CD_SITUACAO_COMERCIAL,0) <> 4
												COMMIT TRANSACTION												

											END
										END -- fim NÃO - COMPRESSÃO DINÂMICA

								END   -- fim CD_CLIENTE IN (14, 13, 12, 22 , 23, 19, 24, 25, 28, 30, 31, 32, 33, 35, 37, 39, 40, 41, 43, 45, 47, 48, 50, 51, 53, 56,54,57,59,60,21)
									  -- ******* FIM GENERICO *******
						END

					-- ********* NOVO PROCESSO PARA CANCELAMENTO DE PEDIDOS NÃO FINALIZADOS **********
					-- ATIVIDADE #2777 - CANCELAMENTO DE PEDIDOS NÃO FINALIZADOS AO VIRAR O CICLO
					-- IREMOS AVALIAR UM NOVO PARÂMETRO E CASO ELE ESTEJA HABILITADO VAMOS CANCELAR OS PEDIDOS NÃO FINALIZADOS DA PESSOA (ABANDONADOS, EM CAPTAÇÃO E SALVOS)
					-- *******************************************************************************
					
					-- PRIMEIRO BUSCA O VALOR DO PARÂMETRO
					--SELECT @v_cancelaPedidosAbertos = ISNULL(VL_PARAMETRO,0)
					--  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
					-- WHERE CD_GRUPO_PARAMETRO = 4
					--   AND CD_PARAMETRO = 21

					--IF @v_cancelaPedidosAbertos = 1 -- PROCESSO ATIVO, VAMOS CANCELAR OS PEDIDOS
					--	BEGIN
					--		SET @v_cursorPedidosAbertos = CURSOR FAST_FORWARD
					--		FOR
					--			SELECT NM_PEDIDO
					--			  FROM TB_PEDIDO WITH(NOLOCK)
					--			 WHERE CD_EST_SITUACAO IN (1,101,100)
					--			   AND CD_PESSOA = @CD_PESSOA
					--			   AND CD_FUNCAO = @CD_FUNCAO
					--			   AND CD_EST_COMERCIAL = @CD_ESTRUTURA_COMERCIAL

					--		OPEN @v_cursorPedidosAbertos
					--		FETCH NEXT FROM @v_cursorPedidosAbertos
					--		INTO @v_numeroPedido

					--		WHILE @@FETCH_STATUS = 0
					--			BEGIN
					--				-- CANCELA O PEDIDO POR INATIVIDADE
					--				EXEC dbo.SP_CANCELA_PEDIDO  @v_numeroPedido,
					--											31, -- CANCELADO POR INATIVIDADE
					--											1, -- MOVIMENTA ESTOQUE SIM
					--											@CD_USUARIO,
					--											@VAR_RETORNO                 OUTPUT,
					--											@DC_ERRO                     OUTPUT,
					--											@QT_LINHAS_AFETADAS          OUTPUT

					--				IF @VAR_RETORNO > 0
					--					BEGIN
					--						--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
					--						BEGIN TRANSACTION
					--						INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
					--						VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
					--						'CANCELAR PEDIDO NÃO FINALIZADO - PESSOA' + CONVERT(VARCHAR(20),@CD_PESSOA) + ' - PEDIDO - ' + CONVERT(VARCHAR(20),@v_numeroPedido),
					--						@DC_ERRO,
					--						GETDATE(),
					--						@VAR_RETORNO)
					--						COMMIT TRANSACTION
					--					END
					--				FETCH NEXT FROM @v_cursorPedidosAbertos
					--				INTO @v_numeroPedido
					--			END
					--	END


					FETCH NEXT FROM @CURSOR_PESSOA
					INTO @CD_PESSOA, @CD_FUNCAO
				END
			CLOSE       @CURSOR_PESSOA
			DEALLOCATE  @CURSOR_PESSOA


			-- ****************** GENERICO : MMN (para manter ou encontrar o líder ascendente na rede ****************************************
			-- SPATZ / TERRALI / FROW / HAVILA CESTAS / VIVER MAIS / PERFECT B (FARMASI) / CMC  / A SOS / EVINO / FANES / BIOGALENA / CRÊSER / CLOROFITUM / WINEHOUSE / CACAU SHOW / STRAP / MODA DO CHEF / AKMOS / LILIH/ WEST1
			-- ALDIR (15/04/2021) : 56 É MMN, MAS NÃO ESTÁ AQUI PQ SOMENTE VERIFICA OS DIRETOS (1o NÍVEL)
			-- *******************************************************************************************************************************
			IF @CD_CLIENTE IN (14, 13, 12, 22, 23, 19, 24, 25, 28, 30, 31, 32, 33, 35, 37, 39, 40, 41, 45, 53) 
				BEGIN
			--	IF @CD_FUNCAO = 2
			--		BEGIN
						
						-- BUSCA OS PARAMETROS DE CALCULO DO MMN
						SELECT @CD_PAPEL_INICIO_LIDERANCA  = isnull(CD_PAPEL_INICIO_LIDERANCA,0)  -- 0 - não tem conceito de liderança
						FROM TB_MN_REGRA_GERAL with (NOLOCK)

						IF (@CD_PAPEL_INICIO_LIDERANCA > 0) -- TEM CONCEITO DE LIDERANÇA, TEM COMPRESSAO DINAMICA
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR

								-- 1 = TEM LIDERANÇA  / 2 = NÃO TEM LIDERANÇA
								SELECT 1 AS LIDERANCA, C.MAX_NIVEL, A.CD_PESSOA, A.CD_FUNCAO,A.CD_PAPEL_CARREIRA, A.CD_PESSOA_LIDERANCA, B.CD_PAPEL_CARREIRA, B.CD_SITUACAO_COMERCIAL
								FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK),
									(SELECT F.CD_PESSOA_VINCULADA, MAX(F.NM_NIVEL) MAX_NIVEL
										FROM TB_WRK_MN_TOPOLOGIA F with (NOLOCK), TB_PESSOA_RESUMO G with (NOLOCK)
										WHERE F.ID_ORDEM            = 2    -- DESCENTENTE
										AND   F.ID_TIPO_REDE_MN     = 1    -- REDE UNILEVEL  
										AND   F.CD_PESSOA_VINCULADA = G.CD_PESSOA
										AND   F.CD_FUNCAO           = G.CD_FUNCAO
										AND   F.NM_CICLO            = G.NM_CICLO_ATUAL
										AND   G.CD_FUNCAO           = 2
										GROUP BY F.CD_PESSOA_VINCULADA) C
								WHERE A.CD_PESSOA_LIDERANCA = B.CD_PESSOA
									AND A.CD_FUNCAO             = B.CD_FUNCAO
									AND A.NM_CICLO_ATUAL        = B.NM_CICLO_ATUAL
									AND A.NM_CICLO_ATUAL        = @PROXIMO_CICLO
									AND A.CD_EST_COMERCIAL      = @CD_ESTRUTURA
									AND A.CD_SITUACAO_COMERCIAL < 4
									AND A.CD_PESSOA             = C.CD_PESSOA_VINCULADA
									AND A.CD_FUNCAO             = 2
								UNION
								SELECT 2 AS LIDERANCA,0 NIVEL, A.CD_PESSOA, A.CD_FUNCAO,A.CD_PAPEL_CARREIRA, ISNULL(A.CD_PESSOA_LIDERANCA,0), NULL , NULL
								FROM TB_PESSOA_RESUMO A with (NOLOCK)
								WHERE A.NM_CICLO_ATUAL              = @PROXIMO_CICLO
								AND A.CD_EST_COMERCIAL              = @CD_ESTRUTURA
								AND A.CD_SITUACAO_COMERCIAL         < 4
								AND ISNULL(A.CD_PESSOA_LIDERANCA,0) = 0       
								AND A.CD_FUNCAO = 2
								ORDER BY 1, 2
                              
								OPEN @CURSOR_PESSOA
								FETCH NEXT FROM @CURSOR_PESSOA
								INTO @ID_LIDERANCA, @NM_NIVEL, @CD_PESSOA, @CD_FUNCAO, @ATUAL_PAPEL_CARREIRA, @CD_PESSOA_LIDERANCA, @CD_PAPEL_CARREIRA_LIDERANCA, @CD_SITUACAO_COMERCIAL_LIDERANCA
								WHILE @@FETCH_STATUS = 0
									BEGIN

										SELECT @CD_PESSOA_LIDERANCA_NOVA = -1 -- INCIALIZA A NOVA LIDERANÇA
										-- CURSOR DE PESSOA TOPOLOGIA ASCENDENTE
										SET @CURSOR_PESSOA_TOPOLOGIA = CURSOR FAST_FORWARD
										FOR
										SELECT A.CD_PESSOA, A.CD_FUNCAO, A.CD_PESSOA_VINCULADA, A.ID_ORDEM, A.ID_TIPO_REDE_MN, A.ID_DIRECAO_REDE_BINARIA, B.CD_PAPEL_CARREIRA
										FROM TB_WRK_MN_TOPOLOGIA A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK)
										WHERE A.CD_PESSOA_VINCULADA  = B.CD_PESSOA
										AND   A.CD_FUNCAO            = B.CD_FUNCAO
										AND   A.NM_CICLO             = B.NM_CICLO_ATUAL
										AND   A.CD_PESSOA             = @CD_PESSOA
										AND   A.CD_FUNCAO             = @CD_FUNCAO
										AND   A.ID_ORDEM              = 1    -- ASCENDENTE
										AND   A.NM_CICLO              = @PROXIMO_CICLO
										AND   A.ID_TIPO_REDE_MN       = 1    -- REDE UNILEVEL  
										ORDER BY A.ID_TIPO_REDE_MN, A.NM_NIVEL

										OPEN @CURSOR_PESSOA_TOPOLOGIA
										FETCH NEXT FROM @CURSOR_PESSOA_TOPOLOGIA
										INTO @CD_PESSOA_TOP, @CD_FUNCAO_TOP, @CD_PESSOA_VINCULADA_TOP, @ID_ORDEM_TOP, @ID_TIPO_REDE_MN_TOP ,@ID_DIRECAO_REDE_BINARIA_TOP,@CD_PAPEL_CARREIRA_VINCULADA_TOP 
									
										WHILE @@FETCH_STATUS = 0
											BEGIN 
												IF (@ID_LIDERANCA = 1)   -- TEM LIDERANÇA 
													BEGIN
														IF (@ATUAL_PAPEL_CARREIRA >=  @CD_PAPEL_INICIO_LIDERANCA)  -- VERIFICAR SE A PESSOA É LIDERANCA
															BEGIN
																-- IF (@CD_SITUACAO_COMERCIAL_LIDERANCA < 4 AND @CD_PAPEL_CARREIRA_LIDERANCA >= @CD_PAPEL_INICIO_LIDERANCA)  -- MANTER A LIDERANÇA QUE FORMOU ESTÁ LIDERANÇA, PQ A PESSOA SE MANTEM COMO LIDER
																-- BEGIN
																--   SELECT @CD_PESSOA_LIDERANCA_NOVA = @CD_PESSOA_LIDERANCA
																--   BREAK
																-- END 

																IF (@CD_SITUACAO_COMERCIAL_LIDERANCA < 4 AND @CD_PAPEL_CARREIRA_LIDERANCA < @CD_PAPEL_INICIO_LIDERANCA)  -- NÃO MANTEM A LIDERANÇA QUE FORMOU ESTÁ LIDERANÇA, PQ A PESSOA NÃO SE MANTEM COMO LIDER
																	BEGIN
																		SELECT @CD_PESSOA_LIDERANCA_NOVA = 0
																		BREAK
																	END 

																IF (@CD_SITUACAO_COMERCIAL_LIDERANCA = 4) -- NÃO  MANTER A LIDERANÇA QUE FORMOU ESTÁ LIDERANÇA, PQ DESATIVOU
																	BEGIN
																		SELECT @CD_PESSOA_LIDERANCA_NOVA = 0 
																		BREAK
																	END 


															END
														IF (@ATUAL_PAPEL_CARREIRA <  @CD_PAPEL_INICIO_LIDERANCA)  -- VERIFICAR SE A PESSOA NÃO É LIDERANCA
															BEGIN 
																IF (@CD_SITUACAO_COMERCIAL_LIDERANCA < 4 AND @CD_PAPEL_CARREIRA_LIDERANCA < @CD_PAPEL_INICIO_LIDERANCA)  -- NÃO MANTEM A LIDERANÇA, PQ A PESSOA NÃO SE MANTEM COMO LIDER
																	BEGIN
																		SELECT @CD_PESSOA_LIDERANCA_NOVA = 0
																	END 
            
																IF (@CD_SITUACAO_COMERCIAL_LIDERANCA = 4) -- NÃO  MANTER A LIDERANÇA, PQ DESATIVOU
																	BEGIN
																		SELECT @CD_PESSOA_LIDERANCA_NOVA = 0 
																	END 
            
																IF (@CD_PESSOA_LIDERANCA = @CD_PESSOA_VINCULADA_TOP AND @CD_PAPEL_CARREIRA_VINCULADA_TOP >= @CD_PAPEL_INICIO_LIDERANCA)  -- LIDERANÇA IGUAL A TOP E LIDERANCA É LIDER
																	BEGIN
																		BREAK
																	END

																IF (@CD_PESSOA_LIDERANCA <> @CD_PESSOA_VINCULADA_TOP AND @CD_PAPEL_CARREIRA_VINCULADA_TOP >= @CD_PAPEL_INICIO_LIDERANCA)  -- LIDERANÇA DIFERENTE DA TOP E TOP É LIDER
																	BEGIN
																		SELECT @CD_PESSOA_LIDERANCA_NOVA = @CD_PESSOA_VINCULADA_TOP 
																		BREAK
																	END
															END

													END -- fim TEM LIDERANÇA
												IF (@ID_LIDERANCA = 2)   -- NÃO TEM LIDERANÇA
													BEGIN
														IF (@CD_PAPEL_CARREIRA_VINCULADA_TOP >= @CD_PAPEL_INICIO_LIDERANCA)  -- TOP É LIDER
															BEGIN
																SELECT @CD_PESSOA_LIDERANCA_NOVA = @CD_PESSOA_VINCULADA_TOP 
																BREAK
															END
													END  -- fim NÃO TEM LINDERANÇA
        
												FETCH NEXT FROM @CURSOR_PESSOA_TOPOLOGIA
												INTO @CD_PESSOA_TOP, @CD_FUNCAO_TOP, @CD_PESSOA_VINCULADA_TOP, @ID_ORDEM_TOP, @ID_TIPO_REDE_MN_TOP ,@ID_DIRECAO_REDE_BINARIA_TOP,@CD_PAPEL_CARREIRA_VINCULADA_TOP
											END           
										CLOSE       @CURSOR_PESSOA_TOPOLOGIA
										DEALLOCATE  @CURSOR_PESSOA_TOPOLOGIA

										-- ALTERA A TABELA TB_PESSOA_RESUMO - PESSOA LIDERANÇA
										IF (@CD_PESSOA_LIDERANCA_NOVA > -1)  
											BEGIN
												BEGIN TRANSACTION
												UPDATE TB_PESSOA_RESUMO
												SET CD_PESSOA_LIDERANCA = @CD_PESSOA_LIDERANCA_NOVA,
												CD_USUARIO_ATUALIZACAO = 0,	
												DT_ATUALIZACAO = GETDATE()
												WHERE CD_PESSOA    = @CD_PESSOA
												AND CD_FUNCAO      = @CD_FUNCAO
												AND NM_CICLO_ATUAL = @PROXIMO_CICLO
												COMMIT TRANSACTION
											
												-- ALTERA NA TABELA TB_PESSOA_VINCULO_HISTORICO
												BEGIN TRANSACTION
												UPDATE TB_PESSOA_VINCULO_HISTORICO
												SET CD_PESSOA_LIDERANCA = @CD_PESSOA_LIDERANCA_NOVA
												WHERE CD_PESSOA = @CD_PESSOA
												AND CD_FUNCAO   = @CD_FUNCAO
												AND NM_CICLO    = @PROXIMO_CICLO
												COMMIT TRANSACTION
											END
										FETCH NEXT FROM @CURSOR_PESSOA
										INTO @ID_LIDERANCA, @NM_NIVEL, @CD_PESSOA, @CD_FUNCAO, @ATUAL_PAPEL_CARREIRA, @CD_PESSOA_LIDERANCA, @CD_PAPEL_CARREIRA_LIDERANCA, @CD_SITUACAO_COMERCIAL_LIDERANCA
									END
								CLOSE       @CURSOR_PESSOA
								DEALLOCATE  @CURSOR_PESSOA

							END -- fim TEM CONCEITO DE LIDERANÇA, TEM COMPRESSAO DINAMICA
					--END    -- fim FUNCAO = 2
				END -- -- fim CD_CLIENTE IN (14, 13, 12, 22, 23, 19, 24, 25, 28, 30, 31, 32, 33, 35, 37, 39, 40, 41, 45, 53)
			-- ****** GENERICO : MMN (para manter ou encontrar o líder ascendente na rede *******


			-- ****************** GENERICO : BINIVEL (para deixar a CN sem lider, quando o Lider perder o papel de lider) *********************
			-- PACHAMAMA 
			-- *******************************************************************************************************************************
			IF @CD_CLIENTE IN (51)
				BEGIN
			--	IF @CD_FUNCAO = 2
			--		BEGIN
						
						-- BUSCA OS PARAMETROS DE CALCULO DO MMN
						SELECT @CD_PAPEL_INICIO_LIDERANCA  = isnull(CD_PAPEL_INICIO_LIDERANCA,0)  -- 0 - não tem conceito de liderança
						FROM TB_MN_REGRA_GERAL with (NOLOCK)

						IF (@CD_PAPEL_INICIO_LIDERANCA > 0) -- TEM CONCEITO DE LIDERANÇA, NÃO TEM COMPRESSAO DINAMICA
							BEGIN
								-- CURSOR DE PESSOA
								SET @CURSOR_PESSOA = CURSOR FAST_FORWARD
								FOR

								-- 1 = TEM LIDERANÇA  / 2 = NÃO TEM LIDERANÇA
								SELECT A.CD_PESSOA, A.CD_FUNCAO, A.CD_PESSOA_LIDERANCA, B.CD_PAPEL_CARREIRA, B.CD_SITUACAO_COMERCIAL
								FROM TB_PESSOA_RESUMO A with (NOLOCK), TB_PESSOA_RESUMO B with (NOLOCK)
								WHERE A.CD_PESSOA_LIDERANCA = B.CD_PESSOA
								AND A.CD_FUNCAO             = B.CD_FUNCAO
								AND A.NM_CICLO_ATUAL        = B.NM_CICLO_ATUAL
								AND A.NM_CICLO_ATUAL        = @PROXIMO_CICLO
								AND A.CD_EST_COMERCIAL      = @CD_ESTRUTURA
								AND A.CD_SITUACAO_COMERCIAL < 4
								AND A.CD_FUNCAO             = 2
								AND ISNULL(A.CD_PESSOA_LIDERANCA,0) > 0
								ORDER BY 1
                              
								OPEN @CURSOR_PESSOA
								FETCH NEXT FROM @CURSOR_PESSOA
								INTO @CD_PESSOA, @CD_FUNCAO, @CD_PESSOA_LIDERANCA, @CD_PAPEL_CARREIRA_LIDERANCA, @CD_SITUACAO_COMERCIAL_LIDERANCA
								WHILE @@FETCH_STATUS = 0
								BEGIN

									IF (@CD_SITUACAO_COMERCIAL_LIDERANCA < 4 AND @CD_PAPEL_INICIO_LIDERANCA > @CD_PAPEL_CARREIRA_LIDERANCA)
									BEGIN
										BEGIN TRANSACTION
										UPDATE TB_PESSOA_RESUMO
										SET CD_PESSOA_LIDERANCA = NULL,
										CD_USUARIO_ATUALIZACAO = 0,	
										DT_ATUALIZACAO = GETDATE()
										WHERE CD_PESSOA    = @CD_PESSOA
										AND CD_FUNCAO      = @CD_FUNCAO
										AND NM_CICLO_ATUAL = @PROXIMO_CICLO

											
										-- ALTERA NA TABELA TB_PESSOA_VINCULO_HISTORICO
										UPDATE TB_PESSOA_VINCULO_HISTORICO
										SET CD_PESSOA_LIDERANCA = NULL
										WHERE CD_PESSOA = @CD_PESSOA
										AND CD_FUNCAO   = @CD_FUNCAO
										AND NM_CICLO    = @PROXIMO_CICLO
										COMMIT TRANSACTION
									END
									FETCH NEXT FROM @CURSOR_PESSOA
									INTO @CD_PESSOA, @CD_FUNCAO, @CD_PESSOA_LIDERANCA, @CD_PAPEL_CARREIRA_LIDERANCA, @CD_SITUACAO_COMERCIAL_LIDERANCA
								END
								CLOSE       @CURSOR_PESSOA
								DEALLOCATE  @CURSOR_PESSOA

							END -- fim TEM CONCEITO DE LIDERANÇA, NÃO TEM COMPRESSAO DINAMICA
					--END    -- fim FUNCAO = 2
				END -- -- fim CD_CLIENTE IN (51)
				-- GENERICO : BINIVEL (para deixar a CN sem lider, quando o Lider perder o papel de lider)

			FETCH NEXT FROM @CURSOR_EC
			INTO @NM_CICLO, @CD_ESTRUTURA
             
		END  
	CLOSE       @CURSOR_EC
	DEALLOCATE  @CURSOR_EC

	-- CALCULAR COMISSAO FORCA DE VENDAS
	-- ***********************************************
	-- MAHOGANY / LOWELL
  	-- ***********************************************
	IF @CD_CLIENTE IN (47, 57)
	BEGIN
        	EXEC DBO.SP_FV_CALCULA_COMISSAO -- @CD_ESTRUTURA,
		                             --@NM_CICLO,
		                             @VAR_RETORNO            OUTPUT,
		                             @DC_ERRO                OUTPUT,
		                             @QT_LINHAS_AFETADAS OUTPUT


        END -- fim COMISSAO

    -- CALCULAR DIARIAMENTE PARA EXPIRAR O SALDO A FAVOR DE ORIGEM NA BONIFICACAO MMN
    -- ***********************************************
    -- A SÓS / MODA DO CHEF
  	-- ***********************************************
	IF @CD_CLIENTE IN (25, 40)
		BEGIN
					EXEC DBO.SP_MN_EXPIRA_COMISSAO_SALDO_A_FAVOR
		                             @VAR_RETORNO        OUTPUT,
		                             @DC_ERRO            OUTPUT,
		                             @QT_LINHAS_AFETADAS OUTPUT
        END    


	-- *************************************************************************************************
	-- ALTERAÇÃO FEITA POR ANDERSON - 21/08/2023 - BITRIX 4453
	-- CANCELAMENTO DE PEDIDOD ABERTOS DO CICLO ANTERIOR
	-- ANTES ESSE PROCESSO ESTAVA MAIS ACIMA (ESTA COMENTADO)
	-- ENTRETANTO NA LOWELL DOIS PEDIDOS FORAM INICIADOS POR VOLTA DE MEIA NOITE E OS MESMOS NÃO FORAM CANCELADOS
	-- PODE TER ACONTECIDO AQUI UMA FALHA NO TIME ENTRE A CAPTAÇÃO E O FECHAMENTO DA ESTRUTURA COMERCIAL
	-- DESSA MANEIRA VAMOS COLOCAR ESSE PROCESSO NO FINAL DO FECHAMENTO PARA GARANTIR O CANCELAMENTO
	-- *************************************************************************************************

	-- *******************************************************************************
	-- VAMOS ABRIR NOVAMENTE O CURSOS DE EST. COMERCIAL
	-- IMPORTANTE POIS EXISTEM CLIENTES EM QUE O FECHAMENTO SÃO POR ONDAS
	-- *******************************************************************************
	IF @CD_EST_COMERCIAL = 0
		BEGIN
			SET @CURSOR_EC = CURSOR FAST_FORWARD
			FOR
				SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL
				FROM TB_CALENDARIO_COMERCIAL  with (NOLOCK)
				WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)
				--WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), GETDATE()-1, 103)
		END
	ELSE
		BEGIN
			SET @CURSOR_EC = CURSOR FAST_FORWARD
			FOR
				SELECT DISTINCT NM_CICLO, CD_EST_COMERCIAL
				FROM TB_CALENDARIO_COMERCIAL  with (NOLOCK)
				WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), @DT_FECHAMENTO, 103)
				--WHERE CONVERT(CHAR(10), DT_FINAL, 103)  = CONVERT(CHAR(10), GETDATE()-1, 103)
				AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
		END
     
	OPEN @CURSOR_EC
	FETCH NEXT FROM @CURSOR_EC
	INTO @NM_CICLO, @CD_ESTRUTURA

	WHILE @@FETCH_STATUS = 0
		BEGIN

			SELECT @CD_ESTRUTURA_COMERCIAL = @CD_ESTRUTURA

			-- ********* NOVO PROCESSO PARA CANCELAMENTO DE PEDIDOS NÃO FINALIZADOS **********
			-- ATIVIDADE #2777 - CANCELAMENTO DE PEDIDOS NÃO FINALIZADOS AO VIRAR O CICLO
			-- IREMOS AVALIAR UM NOVO PARÂMETRO E CASO ELE ESTEJA HABILITADO VAMOS CANCELAR OS PEDIDOS NÃO FINALIZADOS DA PESSOA (ABANDONADOS, EM CAPTAÇÃO E SALVOS)
			-- *******************************************************************************
					
			-- PRIMEIRO BUSCA O VALOR DO PARÂMETRO
			SELECT @v_cancelaPedidosAbertos = ISNULL(VL_PARAMETRO,0)
			FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
			WHERE CD_GRUPO_PARAMETRO = 4
			AND CD_PARAMETRO = 21

			IF @v_cancelaPedidosAbertos = 1 -- PROCESSO ATIVO, VAMOS CANCELAR OS PEDIDOS
				BEGIN
					SET @v_cursorPedidosAbertos = CURSOR FAST_FORWARD
					FOR
						-- BUSCA TODOS OS PEDIDOS ABERTOS DA EST. COMERCIAL E NO CICLO QUE ESTA FECHANDO
						SELECT NM_PEDIDO
						FROM TB_PEDIDO WITH(NOLOCK)
						WHERE CD_EST_SITUACAO IN (1,101,100)
						AND CD_EST_COMERCIAL = @CD_ESTRUTURA_COMERCIAL
						AND NM_CICLO_CAPTACAO = @NM_CICLO

					OPEN @v_cursorPedidosAbertos
					FETCH NEXT FROM @v_cursorPedidosAbertos
					INTO @v_numeroPedido

					WHILE @@FETCH_STATUS = 0
						BEGIN
							-- CANCELA O PEDIDO POR INATIVIDADE
							EXEC dbo.SP_CANCELA_PEDIDO  @v_numeroPedido,
								31, -- CANCELADO POR INATIVIDADE
								1, -- MOVIMENTA ESTOQUE SIM
								@CD_USUARIO,
								@VAR_RETORNO                 OUTPUT,
								@DC_ERRO                     OUTPUT,
								@QT_LINHAS_AFETADAS          OUTPUT

							IF @VAR_RETORNO > 0
								BEGIN
									--GRAVA LOG DO ERRO AO ATUALIZAR SIT COMERCIAL E CONTINUA PROCESSAMENTO
									BEGIN TRANSACTION
									
									INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM
										VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
												'CANCELAR PEDIDO NÃO FINALIZADO - PEDIDO - ' + CONVERT(VARCHAR(20),@v_numeroPedido),
												@DC_ERRO,
												GETDATE(),
												@VAR_RETORNO)
									
									COMMIT TRANSACTION
								END
							
							FETCH NEXT FROM @v_cursorPedidosAbertos
							INTO @v_numeroPedido
						END
				END

			FETCH NEXT FROM @CURSOR_EC
			INTO @NM_CICLO, @CD_ESTRUTURA
             
		END  
	CLOSE       @CURSOR_EC
	DEALLOCATE  @CURSOR_EC





	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0


END TRY    
 
BEGIN CATCH
  -- WHOOPS, THERE WAS AN ERROR
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
     
  INSERT INTO TB_LOG_PROCESSAMENTO_DIARIO_ITEM  
  VALUES (@CD_LOG_PROCESSAMENTO_DIARIO,
                'ERRO INESPERADO - PESSOA ' + CONVERT(VARCHAR(20),ISNULL(@CD_PESSOA,0)),
                @DC_ERRO,
                GETDATE(),
                @VAR_RETORNO)
  IF @@TRANCOUNT > 0
    ROLLBACK
 
   -- RAISE AN ERROR WITH THE DETAILS OF THE EXCEPTION
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;









GO
