SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_MN_APLICA_PLANO_CARREIRA_ARE]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CD_PAPEL_DESEMPENHO_ATUAL NUMERIC(18,0)


DECLARE @CD_PAPEL_CONSULTOR            NUMERIC(18,0),
        @CD_PAPEL_BRONZE               NUMERIC(18,0),
	@CD_PAPEL_SILVER               NUMERIC(18,0),
	@CD_PAPEL_GOLD                 NUMERIC(18,0),
	@CD_PAPEL_RUBY                 NUMERIC(18,0),
	@CD_PAPEL_EMERALD              NUMERIC(18,0),
	@CD_PAPEL_DIAMOND              NUMERIC(18,0),
	@CD_PAPEL_BLUE_DIAMOND         NUMERIC(18,0),
	@CD_PAPEL_WHITE_DIAMOND        NUMERIC(18,0),
	@CD_PAPEL_BLACK_DIAMOND         NUMERIC(18,0),
	@CD_PAPEL_ROYAL_BLACK_DIAMOND  NUMERIC(18,0)


DECLARE @CD_PESSOA_ASCENDENTE NUMERIC(18,0),
        @CD_PESSOA_VINCULADA NUMERIC(18,0)

-- VARIAVEIS REALIZADOS
DECLARE @VL_REALIZADO_VP           NUMERIC(18,0),
        @VL_REALIZADO_VPKMaster    NUMERIC(18,0),
        @VL_REALIZADO_VPKPrime     NUMERIC(18,0),
        @VL_REALIZADO_VPKPlus      NUMERIC(18,0),
        @VL_REALIZADO_VPKBasic     NUMERIC(18,0),
        @VL_REALIZADO_VG           NUMERIC(18,0),
        @VL_REALIZADO_DDA_DIR      NUMERIC(18,0),
        @VL_REALIZADO_DDA_ESQ      NUMERIC(18,0),
        @VL_REALIZADO_LDQ          NUMERIC(18,0),
        @VL_REALIZADO_DLD          NUMERIC(18,0),
        @VL_REALIZADO_BDLD         NUMERIC(18,0),
        @VL_REALIZADO_MPPL         NUMERIC(18,0),
        @VL_REALIZADO_MPPL_LINHAS  NUMERIC(18,0)

-- VARIAVEIS METAS
DECLARE @META_VP_CONSULTOR            NUMERIC(18,0),
        @META_VP_BRONZE               NUMERIC(18,0),
	@META_VP_SILVER               NUMERIC(18,0),
	@META_VP_GOLD                 NUMERIC(18,0),
	@META_VP_RUBY                 NUMERIC(18,0),
	@META_VP_EMERALD              NUMERIC(18,0),
	@META_VP_DIAMOND              NUMERIC(18,0),
	@META_VP_BLUE_DIAMOND         NUMERIC(18,0),
	@META_VP_WHITE_DIAMOND        NUMERIC(18,0),
	@META_VP_BLACK_DIAMOND         NUMERIC(18,0),
	@META_VP_ROYAL_BLACK_DIAMOND  NUMERIC(18,0)


DECLARE @META_VG_BRONZE               NUMERIC(18,0),
	@META_VG_SILVER               NUMERIC(18,0),
	@META_VG_GOLD                 NUMERIC(18,0),
	@META_VG_RUBY                 NUMERIC(18,0),
	@META_VG_EMERALD              NUMERIC(18,0),
	@META_VG_DIAMOND              NUMERIC(18,0),
	@META_VG_BLUE_DIAMOND         NUMERIC(18,0),
	@META_VG_WHITE_DIAMOND        NUMERIC(18,0),
	@META_VG_BLACK_DIAMOND         NUMERIC(18,0),
	@META_VG_ROYAL_BLACK_DIAMOND  NUMERIC(18,0)

DECLARE @META_DDA_BRONZE_DIR       NUMERIC(18,0),
        @META_DDA_BRONZE_ESQ      NUMERIC(18,0),
	@META_DDA_SILVER_DIR       NUMERIC(18,0),
	@META_DDA_SILVER_ESQ      NUMERIC(18,0),
	@META_DDA_GOLD_DIR         NUMERIC(18,0),
	@META_DDA_GOLD_ESQ        NUMERIC(18,0),
	@META_DDA_RUBY_DIR         NUMERIC(18,0),
	@META_DDA_RUBY_ESQ        NUMERIC(18,0),
	@META_DDA_EMERALD_DIR      NUMERIC(18,0),
	@META_DDA_EMERALD_ESQ     NUMERIC(18,0),
	@META_DDA_DIAMOND_DIR      NUMERIC(18,0),
	@META_DDA_DIAMOND_ESQ     NUMERIC(18,0),
	@META_DDA_BLUE_DIAMOND_DIR NUMERIC(18,0),
	@META_DDA_BLUE_DIAMOND_ESQ NUMERIC(18,0),
	@META_DDA_WHITE_DIAMOND_DIR NUMERIC(18,0),
	@META_DDA_WHITE_DIAMOND_ESQ NUMERIC(18,0),
	@META_DDA_BLACK_DIAMOND_DIR   NUMERIC(18,0),
	@META_DDA_BLACK_DIAMOND_ESQ   NUMERIC(18,0),
	@META_DDA_ROYAL_BLACK_DIAMOND_DIR  NUMERIC(18,0),
	@META_DDA_ROYAL_BLACK_DIAMOND_ESQ  NUMERIC(18,0)

DECLARE @META_LDQ_SILVER               NUMERIC(18,0),
	@META_LDQ_GOLD                 NUMERIC(18,0),
	@META_LDQ_RUBY                 NUMERIC(18,0),
	@META_LDQ_EMERALD              NUMERIC(18,0),
	@META_LDQ_DIAMOND              NUMERIC(18,0),
	@META_LDQ_BLUE_DIAMOND         NUMERIC(18,0),
	@META_LDQ_WHITE_DIAMOND        NUMERIC(18,0),
	@META_LDQ_BLACK_DIAMOND         NUMERIC(18,0),
	@META_LDQ_ROYAL_BLACK_DIAMOND  NUMERIC(18,0)

DECLARE @META_DLD_BLUE_DIAMOND         NUMERIC(18,0),
	@META_DLD_WHITE_DIAMOND       NUMERIC(18,0),
	@META_DLD_BLACK_DIAMOND         NUMERIC(18,0),
	@META_DLD_ROYAL_BLACK_DIAMOND  NUMERIC(18,0)

DECLARE @META_BDLD_ROYAL_BLACK_DIAMOND NUMERIC(18,0)

DECLARE @META_MPPL_BLUE_DIAMOND         NUMERIC(18,0),
	@META_MPPL_WHITE_DIAMOND        NUMERIC(18,0),
	@META_MPPL_BLACK_DIAMOND         NUMERIC(18,0),
	@META_MPPL_ROYAL_BLACK_DIAMOND  NUMERIC(18,0)

DECLARE @EXISTE_REGISTRO INT,
        @ID_MOMENTO_CALCULO_INDICADOR INT,
	@CALCULA_INDICADOR			INT,
	@CD_EST_COMERCIAL        INT,
	@CD_USUARIO              INT

DECLARE @ID_DESEMPENHO_LDQ INT,
        @ID_DESEMPENHO_DLD INT,
        @ID_DESEMPENHO_BDLD INT,
        @PT_REALIZADO_LINHA_MPPL NUMERIC(10)


BEGIN TRY
  SELECT @VAR_RETORNO = 0
  SELECT @DC_ERRO =''
  SELECT @CD_USUARIO = 0

  SELECT @ID_MOMENTO_CALCULO_INDICADOR = 2 -- FIM DIA(BATCH)

  SELECT @CD_PAPEL_CONSULTOR          = 1,
        @CD_PAPEL_BRONZE              = 2,
	@CD_PAPEL_SILVER              = 3,
	@CD_PAPEL_GOLD                = 4,
	@CD_PAPEL_RUBY                = 5,
	@CD_PAPEL_EMERALD             = 6,
	@CD_PAPEL_DIAMOND             = 7,
	@CD_PAPEL_BLUE_DIAMOND        = 8,
	@CD_PAPEL_WHITE_DIAMOND       = 9,
	@CD_PAPEL_BLACK_DIAMOND        = 10,
	@CD_PAPEL_ROYAL_BLACK_DIAMOND = 11

  -- INICIALIZAR AS METAS
  SELECT @META_VP_CONSULTOR            = 60,
         @META_VP_BRONZE               = 60,
	 @META_VP_SILVER               = 60,
	 @META_VP_GOLD                 = 60,
	 @META_VP_RUBY                 = 60,
	 @META_VP_EMERALD              = 60,
	 @META_VP_DIAMOND              = 60,
	 @META_VP_BLUE_DIAMOND         = 60,
	 @META_VP_WHITE_DIAMOND        = 60,
	 @META_VP_BLACK_DIAMOND         = 120,
	 @META_VP_ROYAL_BLACK_DIAMOND  = 120

  SELECT @META_VG_BRONZE              = 3000,
	@META_VG_SILVER                = 8000,
	@META_VG_GOLD                  = 20000,
	@META_VG_RUBY                  = 55000,
	@META_VG_EMERALD               = 85000,
	@META_VG_DIAMOND               = 150000,
	@META_VG_BLUE_DIAMOND          = 500000,
	@META_VG_WHITE_DIAMOND         = 1000000,
	@META_VG_BLACK_DIAMOND          = 1500000,
	@META_VG_ROYAL_BLACK_DIAMOND   = 3000000

 SELECT @META_DDA_BRONZE_DIR                = 1,
        @META_DDA_BRONZE_ESQ                = 1,
	@META_DDA_SILVER_DIR                = 1,
	@META_DDA_SILVER_ESQ                = 1,
	@META_DDA_GOLD_DIR                  = 1,
	@META_DDA_GOLD_ESQ                  = 1,
	@META_DDA_RUBY_DIR                  = 1,
	@META_DDA_RUBY_ESQ                  = 1,
	@META_DDA_EMERALD_DIR               = 1,
	@META_DDA_EMERALD_ESQ               = 1,
	@META_DDA_DIAMOND_DIR               = 1,
	@META_DDA_DIAMOND_ESQ               = 1,
	@META_DDA_BLUE_DIAMOND_DIR          = 1,
	@META_DDA_BLUE_DIAMOND_ESQ          = 1,
	@META_DDA_WHITE_DIAMOND_DIR         = 1,
	@META_DDA_WHITE_DIAMOND_ESQ         = 1,
	@META_DDA_BLACK_DIAMOND_DIR          = 1,
	@META_DDA_BLACK_DIAMOND_ESQ          = 1,
	@META_DDA_ROYAL_BLACK_DIAMOND_DIR   = 1,
	@META_DDA_ROYAL_BLACK_DIAMOND_ESQ   = 1

  SELECT @META_LDQ_SILVER              = 1,
	@META_LDQ_GOLD                 = 2,
	@META_LDQ_RUBY                 = 3,
	@META_LDQ_EMERALD              = 4,
	@META_LDQ_DIAMOND              = 5,
	@META_LDQ_BLUE_DIAMOND         = 6,
	@META_LDQ_WHITE_DIAMOND        = 6,
	@META_LDQ_BLACK_DIAMOND         = 6,
	@META_LDQ_ROYAL_BLACK_DIAMOND  = 6

  SELECT @META_DLD_BLUE_DIAMOND        = 2,
	@META_DLD_WHITE_DIAMOND        = 3,
	@META_DLD_BLACK_DIAMOND         = 4,
	@META_DLD_ROYAL_BLACK_DIAMOND  = 5

  SELECT @META_BDLD_ROYAL_BLACK_DIAMOND = 1

  SELECT @META_MPPL_BLUE_DIAMOND         = 200000,
	@META_MPPL_WHITE_DIAMOND        = 250000,
	@META_MPPL_BLACK_DIAMOND         = 300000,
	@META_MPPL_ROYAL_BLACK_DIAMOND  = 1500000

  -- INICIALIZAR AS VARIAVEIS DE QUALIFICAÇÕES
  SELECT @ID_DESEMPENHO_LDQ  = 0,
         @ID_DESEMPENHO_DLD  = 0,
         @ID_DESEMPENHO_BDLD = 0
  

  SELECT @CD_PESSOA_VINCULADA = @CD_PESSOA
  -- SUBIR A REDE UNILEVEL
  WHILE @CD_PESSOA_VINCULADA <> 0 
  BEGIN 

    -- BUSCA O PAPEL DESEMPENHO ATUAL DA PESSOA
    SELECT @CD_PAPEL_DESEMPENHO_ATUAL = CD_PAPEL_DESEMPENHO
    FROM TB_PESSOA_PAPEL_HISTORICO
    WHERE CD_PESSOA = @CD_PESSOA_VINCULADA 
    AND CD_FUNCAO   = @CD_FUNCAO
    AND NM_CICLO    = @NM_CICLO 

    -- BUSCA A ESTRUTURA COMERCIAL
    SELECT @CD_EST_COMERCIAL = CD_EST_COMERCIAL
    FROM TB_PESSOA_RESUMO
    WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
    AND   CD_FUNCAO = @CD_FUNCAO
    
 
    -- BUSCA O INDICADOR VP
    SELECT @VL_REALIZADO_VP = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 11

    -- BUSCA O INDICADOR VPKMaster
    SELECT  @VL_REALIZADO_VPKMaster = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 12


    -- BUSCA O INDICADOR VPKPrime
    SELECT  @VL_REALIZADO_VPKPrime  = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 13


    -- BUSCA O INDICADOR VPKPlus
    SELECT  @VL_REALIZADO_VPKPlus = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 14


    -- BUSCA O INDICADOR VPKBasic
    SELECT   @VL_REALIZADO_VPKBasic = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 15

    -- BUSCA O INDICADOR VG
    SELECT @VL_REALIZADO_VG = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 16

    -- BUSCA O INDICADOR DDA DIREIRO
    SELECT @VL_REALIZADO_DDA_DIR = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 18

    -- BUSCA O INDICADOR DDA ESQUERDO
    SELECT @VL_REALIZADO_DDA_ESQ  = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 23

    -- BUSCA O INDICADOR LDQ
    SELECT @VL_REALIZADO_LDQ  = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 19

    -- BUSCA O INDICADOR DLD
    SELECT @VL_REALIZADO_DLD  = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 20

    -- BUSCA O INDICADOR BDLD
    SELECT @VL_REALIZADO_BDLD  = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 21

    -- BUSCA O INDICADOR MPPL
    SELECT @VL_REALIZADO_MPPL  = ISNULL(SUM(VL_INDICADOR_PESSOAL),0)
    FROM TB_PESSOA_INDICADOR
    WHERE CD_PESSOA            = @CD_PESSOA_VINCULADA
    AND   NM_CICLO             = @NM_CICLO
    AND   CD_FUNCAO            = @CD_FUNCAO
    AND   CD_INDICADOR_PESSOAL = 22


    -- ATINGIU BRONZE
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_BRONZE)
    BEGIN
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic
      IF ( @VL_REALIZADO_VP >= @META_VP_BRONZE AND @VL_REALIZADO_VG      >= @META_VG_BRONZE 
           AND @VL_REALIZADO_DDA_DIR >= @META_DDA_BRONZE_DIR  AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_BRONZE_ESQ)
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_BRONZE
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_BRONZE
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        --ATRIBUI OS VALORES DE QUALIFICAÇÃO DESEMPENHO
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ = 1
        END
    
        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
        -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_BRONZE,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS
      END
    END -- FIM BRONZE



    -- ATINGIU SILVER
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_SILVER)
    BEGIN
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      

      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic
      IF (@VL_REALIZADO_VP      >= @META_VP_SILVER       AND @VL_REALIZADO_VG      >= @META_VG_SILVER AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_SILVER_DIR  AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_SILVER_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_SILVER)
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_SILVER
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_SILVER
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        --ATRIBUI OS VALORES DE QUALIFICAÇÃO DESEMPENHO
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ = 1
        END

        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
        -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_SILVER,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS
      END
    END -- FIM SILVER


    -- ATINGIU GOLD
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_GOLD)
    BEGIN
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic

      IF (@VL_REALIZADO_VP      >= @META_VP_GOLD       AND @VL_REALIZADO_VG      >= @META_VG_GOLD AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_GOLD_DIR  AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_GOLD_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_GOLD)
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_GOLD
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_GOLD
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        --ATRIBUI OS VALORES DE QUALIFICAÇÃO DESEMPENHO
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ = 1
        END
    
        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
        -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_GOLD,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS
      END
    END -- FIM GOLD


    -- ATINGIU RUBY
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_RUBY)
    BEGIN
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic

      IF (@VL_REALIZADO_VP      >= @META_VP_RUBY       AND @VL_REALIZADO_VG      >= @META_VG_RUBY AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_RUBY_DIR  AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_RUBY_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_RUBY)
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_RUBY
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_RUBY
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        --ATRIBUI OS VALORES DE QUALIFICAÇÃO DESEMPENHO
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ = 1
        END
    
        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
        -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_RUBY,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS
      END
    END -- FIM RUBY



    -- ATINGIU EMERALD
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_EMERALD)
    BEGIN
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic
      IF (@VL_REALIZADO_VP      >= @META_VP_EMERALD       AND @VL_REALIZADO_VG      >= @META_VG_EMERALD AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_EMERALD_DIR  AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_EMERALD_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_EMERALD)
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_EMERALD
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_EMERALD
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        --ATRIBUI OS VALORES DE QUALIFICAÇÃO DESEMPENHO
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ = 1
        END
    
        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
        -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_EMERALD,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS
      END
    END -- FIM EMERALD



    -- ATINGIU DIAMOND
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_DIAMOND)
    BEGIN
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic

      IF (@VL_REALIZADO_VP      >= @META_VP_DIAMOND      AND @VL_REALIZADO_VG      >= @META_VG_DIAMOND AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_DIAMOND_DIR  AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_DIAMOND_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_DIAMOND)
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        -- ATRIBUIR A QUANTIDADE DE QUALIFICAÇÕES
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ = 1,
                 @ID_DESEMPENHO_DLD = 1
        END

        IF @CD_PAPEL_DESEMPENHO_ATUAL IN (@CD_PAPEL_BRONZE, @CD_PAPEL_SILVER, @CD_PAPEL_GOLD, @CD_PAPEL_RUBY, @CD_PAPEL_EMERALD)          
        BEGIN
          SELECT @ID_DESEMPENHO_DLD = 1
        END

        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
        -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_DIAMOND,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS
      END
    END -- FIM DIAMOND

    -- ATINGIU BLUE_DIAMOND
    
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_BLUE_DIAMOND)
    BEGIN
      -- BUSCA O MPPL DAS LINHAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_MPPL_LINHAS = dbo.FN_CALCULA_TOTAL_MPPL (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,@META_MPPL_BLUE_DIAMOND)      
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      
      -- BUSCA O LINHAS DIFERENTES DIAMOND - REDE UNILEVEL
      SELECT @VL_REALIZADO_DLD = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,20)      
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic

      IF (@VL_REALIZADO_VP      >= @META_VP_BLUE_DIAMOND      AND (@VL_REALIZADO_MPPL + @VL_REALIZADO_MPPL_LINHAS) >= @META_VG_BLUE_DIAMOND AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_BLUE_DIAMOND_DIR AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_BLUE_DIAMOND_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_BLUE_DIAMOND     AND @VL_REALIZADO_DLD      >= @META_DLD_BLUE_DIAMOND )
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_BLUE_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_BLUE_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        -- ATRIBUIR A QUANTIDADE DE QUALIFICAÇÕES
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ = 1,
                 @ID_DESEMPENHO_DLD = 1
        END

        IF @CD_PAPEL_DESEMPENHO_ATUAL IN (@CD_PAPEL_BRONZE, @CD_PAPEL_SILVER, @CD_PAPEL_GOLD, @CD_PAPEL_RUBY, @CD_PAPEL_EMERALD)          
        BEGIN
          SELECT @ID_DESEMPENHO_DLD = 1
        END
    
        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
        -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_BLUE_DIAMOND,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS


        -- ATUALIZAR O INDICADOR MPPL
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
	AND CD_FUNCAO = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 22
	AND NM_CICLO = @NM_CICLO
	AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
  	IF (@EXISTE_REGISTRO = 0) 
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@VL_REALIZADO_MPPL_LINHAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@VL_REALIZADO_MPPL_LINHAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	END
      END
    END -- FIM BLUE_DIAMOND



    -- ATINGIU WHITE_DIAMOND
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_WHITE_DIAMOND)
    BEGIN

      -- BUSCA O MPPL DAS LINHAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_MPPL_LINHAS = dbo.FN_CALCULA_TOTAL_MPPL (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,@META_MPPL_BLUE_DIAMOND)      
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      
      -- BUSCA O LINHAS DIFERENTES DIAMOND - REDE UNILEVEL
      SELECT @VL_REALIZADO_DLD = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,20)      
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic
      IF (@VL_REALIZADO_VP      >= @META_VP_WHITE_DIAMOND      AND (@VL_REALIZADO_MPPL + @VL_REALIZADO_MPPL_LINHAS)    >= @META_VG_WHITE_DIAMOND AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_WHITE_DIAMOND_DIR AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_WHITE_DIAMOND_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_WHITE_DIAMOND     AND @VL_REALIZADO_DLD      >= @META_DLD_WHITE_DIAMOND )
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_WHITE_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_WHITE_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        -- ATRIBUIR A QUANTIDADE DE QUALIFICAÇÕES
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ = 1,
                 @ID_DESEMPENHO_DLD = 1
        END

        IF @CD_PAPEL_DESEMPENHO_ATUAL IN (@CD_PAPEL_BRONZE, @CD_PAPEL_SILVER, @CD_PAPEL_GOLD, @CD_PAPEL_RUBY, @CD_PAPEL_EMERALD)          
        BEGIN
          SELECT @ID_DESEMPENHO_DLD = 1
        END

        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
      -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_WHITE_DIAMOND,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS

        -- ATUALIZAR O INDICADOR MPPL
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
	AND CD_FUNCAO = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 22
	AND NM_CICLO = @NM_CICLO
	AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
  	IF (@EXISTE_REGISTRO = 0) 
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@VL_REALIZADO_MPPL_LINHAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@VL_REALIZADO_MPPL_LINHAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	END
      END
    END -- FIM WHITE_DIAMOND


    -- ATINGIU BLACK_DIAMOND
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_BLACK_DIAMOND)
    BEGIN

      -- BUSCA O MPPL DAS LINHAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_MPPL_LINHAS = dbo.FN_CALCULA_TOTAL_MPPL (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,@META_MPPL_BLUE_DIAMOND)      
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      
      -- BUSCA O LINHAS DIFERENTES DIAMOND - REDE UNILEVEL
      SELECT @VL_REALIZADO_DLD = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,20)      
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic

      IF (@VL_REALIZADO_VP      >= @META_VP_BLACK_DIAMOND      AND (@VL_REALIZADO_MPPL + @VL_REALIZADO_MPPL_LINHAS)  >= @META_VG_BLACK_DIAMOND AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_BLACK_DIAMOND_DIR AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_BLACK_DIAMOND_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_BLACK_DIAMOND     AND @VL_REALIZADO_DLD      >= @META_DLD_BLACK_DIAMOND )
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_BLACK_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_BLACK_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        -- ATRIBUIR A QUANTIDADE DE QUALIFICAÇÕES
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ  = 1,
                 @ID_DESEMPENHO_DLD  = 1,
                 @ID_DESEMPENHO_BDLD = 1
        END

        IF @CD_PAPEL_DESEMPENHO_ATUAL IN (@CD_PAPEL_BRONZE, @CD_PAPEL_SILVER, @CD_PAPEL_GOLD, @CD_PAPEL_RUBY, @CD_PAPEL_EMERALD)          
        BEGIN
          SELECT @ID_DESEMPENHO_DLD  = 1,
                 @ID_DESEMPENHO_BDLD = 1
        END

        IF @CD_PAPEL_DESEMPENHO_ATUAL IN (@CD_PAPEL_DIAMOND, @CD_PAPEL_BLUE_DIAMOND, @CD_PAPEL_WHITE_DIAMOND)          
        BEGIN
          SELECT @ID_DESEMPENHO_BDLD = 1
        END
    
        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
      -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_BLACK_DIAMOND,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS

        -- ATUALIZAR O INDICADOR MPPL
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
	AND CD_FUNCAO = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 22
	AND NM_CICLO = @NM_CICLO
	AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
  	IF (@EXISTE_REGISTRO = 0) 
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@VL_REALIZADO_MPPL_LINHAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@VL_REALIZADO_MPPL_LINHAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	END
      END
    END -- FIM BLACK_DIAMOND



    -- ATINGIU ROYAL_BLACK_DIAMOND
    IF (@CD_PAPEL_DESEMPENHO_ATUAL < @CD_PAPEL_BLACK_DIAMOND)
    BEGIN
      -- BUSCA O MPPL DAS LINHAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_MPPL_LINHAS = dbo.FN_CALCULA_TOTAL_MPPL (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,@META_MPPL_BLUE_DIAMOND)      
      -- BUSCA O LINHAS DIFERENTES QUALIFICADAS - REDE UNILEVEL
      SELECT @VL_REALIZADO_LDQ = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,19)      
      -- BUSCA O LINHAS DIFERENTES DIAMOND - REDE UNILEVEL
      SELECT @VL_REALIZADO_DLD = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,20)      
      -- BUSCA O LINHAS DIFERENTES BLACK DIAMOND - REDE UNILEVEL
      SELECT @VL_REALIZADO_BDLD = dbo.FN_CALCULA_TOTAL_LD (@CD_PESSOA_VINCULADA,@CD_FUNCAO,@NM_CICLO,21)      
      SELECT @VL_REALIZADO_VP = @VL_REALIZADO_VP+@VL_REALIZADO_VPKMaster+@VL_REALIZADO_VPKPrime+@VL_REALIZADO_VPKPlus+@VL_REALIZADO_VPKBasic

      IF (@VL_REALIZADO_VP      >= @META_VP_ROYAL_BLACK_DIAMOND      AND (@VL_REALIZADO_MPPL + @VL_REALIZADO_MPPL_LINHAS) >= @META_VG_ROYAL_BLACK_DIAMOND AND
          @VL_REALIZADO_DDA_DIR >= @META_DDA_ROYAL_BLACK_DIAMOND_DIR AND @VL_REALIZADO_DDA_ESQ >= @META_DDA_ROYAL_BLACK_DIAMOND_ESQ AND
          @VL_REALIZADO_LDQ     >= @META_LDQ_ROYAL_BLACK_DIAMOND     AND @VL_REALIZADO_DLD      >= @META_DLD_ROYAL_BLACK_DIAMOND AND
          @VL_REALIZADO_BDLD    >= @META_BDLD_ROYAL_BLACK_DIAMOND)
      BEGIN

        -- ALTERA A TABELA TB_PESSOA_RESUMO
        UPDATE TB_PESSOA_RESUMO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_ROYAL_BLACK_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
				
        -- ALTERA A TABELA TB_PESSOA_PAPEL_HISTORICO
        UPDATE TB_PESSOA_PAPEL_HISTORICO
        SET CD_PAPEL_DESEMPENHO = @CD_PAPEL_ROYAL_BLACK_DIAMOND
        WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
        AND CD_FUNCAO   = @CD_FUNCAO
        AND NM_CICLO    = @NM_CICLO

        -- ATRIBUIR A QUANTIDADE DE QUALIFICAÇÕES
        IF (@CD_PAPEL_DESEMPENHO_ATUAL = @CD_PAPEL_CONSULTOR) 
        BEGIN
          SELECT @ID_DESEMPENHO_LDQ  = 1,
                 @ID_DESEMPENHO_DLD  = 1,
                 @ID_DESEMPENHO_BDLD = 1
        END

        IF @CD_PAPEL_DESEMPENHO_ATUAL IN (@CD_PAPEL_BRONZE, @CD_PAPEL_SILVER, @CD_PAPEL_GOLD, @CD_PAPEL_RUBY, @CD_PAPEL_EMERALD)          
        BEGIN
          SELECT @ID_DESEMPENHO_DLD  = 1,
                 @ID_DESEMPENHO_BDLD = 1
        END

        IF @CD_PAPEL_DESEMPENHO_ATUAL IN (@CD_PAPEL_DIAMOND, @CD_PAPEL_BLUE_DIAMOND, @CD_PAPEL_WHITE_DIAMOND)          
        BEGIN
          SELECT @ID_DESEMPENHO_BDLD = 1
        END

    
        -- *********************************************
        -- GRAVA INFORMAÇÃO NA TABELA DE HISTORICO POR DATA
        -- SÓ INSERE NA TABELA SE O PAPEL DESEMPENHO ATUAL FOR DIFERENTE DO
        -- PAPEL QUE VAMOS GRAVAR
        -- CASO CONTRARIO VAMOS TER VARIOS REGISTROS DUPLICADOS
      -- *********************************************
        EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
				@CD_PESSOA_VINCULADA,
				@CD_FUNCAO,
				@NM_CICLO,
				@CD_PAPEL_ROYAL_BLACK_DIAMOND,
				@VAR_RETORNO,
				@DC_ERRO,
				@QT_LINHAS_AFETADAS

        -- ATUALIZAR O INDICADOR MPPL
        -- VERIFICA SE EXISTE O REGISTRO
	SELECT @EXISTE_REGISTRO = COUNT(*)
	FROM TB_PESSOA_INDICADOR
	WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
	AND CD_FUNCAO = @CD_FUNCAO
	AND CD_INDICADOR_PESSOAL = 22
	AND NM_CICLO = @NM_CICLO
	AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
				
  	IF (@EXISTE_REGISTRO = 0) 
        BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@VL_REALIZADO_MPPL_LINHAS,
						@CD_USUARIO,
						'I',
						0,
						'',
						0
	END
	ELSE
	BEGIN
	  EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
						@CD_FUNCAO,
						@CD_EST_COMERCIAL,
						@NM_CICLO,
						22,
						@VL_REALIZADO_MPPL_LINHAS,
						@CD_USUARIO,
						'A',
						0,
						'',
						0  
	END
      END
    END -- FIM ROYAL_BLACK_DIAMOND




    -- INCLUIR O INDICADOR 19, 20, 21
    IF @ID_DESEMPENHO_LDQ > 0 
    BEGIN
        --**************************************************
        -- GRAVA INDICADOR DE LDQ ************************
        --**************************************************
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(19,@ID_MOMENTO_CALCULO_INDICADOR) 
				
        IF @CALCULA_INDICADOR = 1
        BEGIN						
          -- VERIFICA SE EXISTE O REGISTRO
          SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
          WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
          AND CD_FUNCAO = @CD_FUNCAO
          AND CD_INDICADOR_PESSOAL = 19
          AND NM_CICLO = @NM_CICLO
          AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					
          IF (@EXISTE_REGISTRO = 0) 
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					19,
					1,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
          END
          ELSE 
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					19,
					1,
					@CD_USUARIO,
					'A',
					0,
					'',
					0
          END
						
        END

    END


    IF @ID_DESEMPENHO_DLD > 0 
    BEGIN
        --**************************************************
        -- GRAVA INDICADOR DE DLD ************************
        --**************************************************
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(20,@ID_MOMENTO_CALCULO_INDICADOR) 
				
        IF @CALCULA_INDICADOR = 1
        BEGIN						
          -- VERIFICA SE EXISTE O REGISTRO
          SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
          WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
          AND CD_FUNCAO = @CD_FUNCAO
          AND CD_INDICADOR_PESSOAL = 20
          AND NM_CICLO = @NM_CICLO
          AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					
          IF (@EXISTE_REGISTRO = 0) 
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					20,
					1,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
          END
          ELSE 
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					20,
					1,
					@CD_USUARIO,
					'A',
					0,
					'',
					0
          END
						
        END
    END


    IF @ID_DESEMPENHO_BDLD > 0 
    BEGIN
        --**************************************************
        -- GRAVA INDICADOR DE DLD ************************
        --**************************************************
        -- VERIFICA SE DEVEMOS OU NAO CALCULAR O INDICADOR
        SELECT @CALCULA_INDICADOR = dbo.FN_VERIFICA_CALCULA_INDICADOR_PESSOAL(21,@ID_MOMENTO_CALCULO_INDICADOR) 
				
        IF @CALCULA_INDICADOR = 1
        BEGIN						
          -- VERIFICA SE EXISTE O REGISTRO
          SELECT @EXISTE_REGISTRO = COUNT(*)
          FROM TB_PESSOA_INDICADOR
          WHERE CD_PESSOA = @CD_PESSOA_VINCULADA
          AND CD_FUNCAO = @CD_FUNCAO
          AND CD_INDICADOR_PESSOAL = 21
          AND NM_CICLO = @NM_CICLO
          AND CD_EST_COMERCIAL = @CD_EST_COMERCIAL
					
          IF (@EXISTE_REGISTRO = 0) 
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR  @CD_PESSOA_VINCULADA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					21,
					1,
					@CD_USUARIO,
					'I',
					0,
					'',
					0
          END
          ELSE 
          BEGIN
	    EXEC SP_CAD_PESSOA_INDICADOR	@CD_PESSOA_VINCULADA,
					@CD_FUNCAO,
					@CD_EST_COMERCIAL,
					@NM_CICLO,
					21,
					1,
					@CD_USUARIO,
					'A',
					0,
					'',
					0
          END
						
        END
    END
   


    -- SETA A VARIAVEL
    SELECT @CD_PESSOA_ASCENDENTE = @CD_PESSOA_VINCULADA
    SELECT @CD_PESSOA_VINCULADA  = ISNULL(MIN(CD_PESSOA_VINCULADA),0)
    FROM TB_PESSOA_VINCULO_HISTORICO
    WHERE CD_PESSOA = @CD_PESSOA_ASCENDENTE
    AND CD_FUNCAO   = @CD_FUNCAO
    AND NM_CICLO    = @NM_CICLO
   
		
  END

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0


		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;




GO
