SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_MNBuscaDadosBonificacaoSplitPagamento](
		@p_codigoRemuneracao	numeric(18,0),
		@p_codigoPessoa			numeric(18,0),
		@p_idServicoExterno		int,
		@p_codigoCliente		int)
AS
DECLARE @v_select		VARCHAR(MAX),
		@v_percBonus	NUMERIC(18,4)
BEGIN
	-- ESTA PROCEDURE IRÁ RETORNAR OS DADOS PARA REALIZAR O SPLIT PARA A BONIFICAÇÃO ENVIADA
	-- DENTRO DESTA PROCEDURE IREMOS APLICAR A REGRA DO CLIENTE

	SELECT @v_select = ''

	IF @p_codigoCliente = 54 -- DNA NA MODA
		BEGIN
			-- vamos buscar o percentual da bonificacao para retornar no select
			SELECT @v_percBonus = ISNULL(VL_REMUMERACAO,0)
			  FROM TB_MN_REGRA_REMUNERACAO WITH(NOLOCK)
			 WHERE CD_REMUNERACAO = @p_codigoRemuneracao

			-- SAI DA ROTINA SE NÃO HOUVER PERCENTUAL CONFIGURADO
			IF @v_percBonus <= 0
				BEGIN
					RETURN
				END

			-- JOGA O % DO BÔNUS NO SELECT QUE SERÁ RETORNADO
			SELECT @v_select += 'SELECT TOP 1 PC.*, dbo.FN_BUSCA_DOCUMENTO_PESSOA(CD_PESSOA,1) DOC,'
			SELECT @v_select += '       dbo.FN_BUSCA_NOME_PESSOA(CD_PESSOA) NOME, ' + convert(varchar(22),@v_percBonus) + ' PERC_BONUS'
			SELECT @v_select += '  FROM TB_PESSOA_CONTA_SERVICO_EXTERNO PC WITH(NOLOCK)'
			SELECT @v_select += ' WHERE CD_PESSOA = ' + CONVERT(VARCHAR(18),@p_codigoPessoa)
			SELECT @v_select += '   AND CD_SERVICO_EXTERNO in ( select s.CD_SERVICO_EXTERNO from TB_SERVICO_EXTERNO S WITH(NOLOCK) WHERE S.ID_NOME_SERVICO_EXTERNO = ' + CONVERT(VARCHAR(2),@p_idServicoExterno) + ' )'
		END

	IF @p_codigoCliente = 25
		BEGIN
			-- vamos buscar o percentual da bonificacao para retornar no select
			SELECT @v_percBonus = ISNULL(VL_REMUMERACAO,0)
			  FROM TB_MN_REGRA_REMUNERACAO WITH(NOLOCK)
			 WHERE CD_REMUNERACAO = @p_codigoRemuneracao

			-- SAI DA ROTINA SE NÃO HOUVER PERCENTUAL CONFIGURADO
			IF @v_percBonus <= 0
				BEGIN
					RETURN
				END

			-- JOGA O % DO BÔNUS NO SELECT QUE SERÁ RETORNADO
			SELECT @v_select += 'SELECT TOP 1 PC.*, dbo.FN_BUSCA_DOCUMENTO_PESSOA(CD_PESSOA,1) DOC,'
			SELECT @v_select += '       dbo.FN_BUSCA_NOME_PESSOA(CD_PESSOA) NOME, ' + convert(varchar(22),@v_percBonus) + ' PERC_BONUS'
			SELECT @v_select += '  FROM TB_PESSOA_CONTA_SERVICO_EXTERNO PC WITH(NOLOCK)'
			SELECT @v_select += ' WHERE CD_PESSOA = ' + CONVERT(VARCHAR(18),@p_codigoPessoa)
			SELECT @v_select += '   AND CD_SERVICO_EXTERNO in ( select s.CD_SERVICO_EXTERNO from TB_SERVICO_EXTERNO S WITH(NOLOCK) WHERE S.ID_NOME_SERVICO_EXTERNO = ' + CONVERT(VARCHAR(2),@p_idServicoExterno) + ' )'
		END

	EXEC(@v_select)

END
GO
