SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIMPA_DADOS]

AS

BEGIN TRANSACTION 
	
	
	DELETE FROM TB_MN_REMUNERACAO
		
	DELETE FROM TB_MN_DETALHE_REMUNERACAO
	
	DELETE FROM TB_MOV_ESTOQUE
	
	DELETE FROM TB_ESTOQUE
	
	DELETE FROM TB_PESSOA_INDICADOR
	
	DELETE FROM TB_CONCILIACAO

	DELETE FROM TB_LOTE_SEPARACAO_PEDIDO
	
	DELETE FROM TB_LOTE_SEPARACAO

	
	delete from TB_NOTA_FISCAL_ITEM

	delete from TB_NOTA_FISCAL

	
	DELETE FROM TB_PARCELA
	
	DELETE FROM TB_ACORDO_PAGAMENTO
	
	DELETE FROM TB_DIVIDA

	
	
	DELETE FROM TB_MATERIAL_EMBALAGEM
	
	DELETE FROM TB_WRK_BENEFICIO_ELEGIVEL
	
	DELETE FROM TB_PEDIDO_ITEM_PROMOCAO
	
	DELETE FROM TB_PEDIDO_ENDERECO
	 
	DELETE FROM TB_PEDIDO_EMBALAGEM
	
	DELETE FROM TB_PEDIDO_HISTORICO

	DELETE FROM TB_PEDIDO_ITEM
	
	DELETE FROM TB_PEDIDO


COMMIT TRANSACTION
GO
