SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_ApiMaterialAtualizaEstoque]
	@p_codigoMaterial			VARCHAR(100),
	@p_qtdeEstoque				INT,
	@p_idTipoEstoque			INT,
	@p_codigoCentroDistribuicao	NUMERIC(18,0),
	@p_codigoArmazem			NUMERIC(18,0),
	
	@p_codigoUsuario			NUMERIC(18,0),

	@p_codigoErro				INT OUTPUT,
	@p_descErro					VARCHAR(200) OUTPUT,
	@p_qtLinhasAfetadas			INT OUTPUT
	
AS
DECLARE @v_codigoMaterial			NUMERIC(18,0),
		@v_valorCustoMedioMaterial	NUMERIC(18,0),
		@v_existeCD					TINYINT,
		@v_existeArmazen			TINYINT,
		@v_cursorEstoque			CURSOR,
		@v_qtdeEstoqueDisponivel	INT,
		@v_qtdeEstoqueTransicao		INT,
		@v_qtdeEstoqueManutencao	INT,
		@v_qtdeEstoqueVigilancia	INT,
		@v_qtdeEstoqueDestruicao	INT,
		@v_qtdeDiferencaEstoque		INT,
		@v_qtdeEstoqueEmpenhado		INT,
		@v_parametroEspecialMahogany INT

BEGIN TRY
	    
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''

	SELECT @v_parametroEspecialMahogany = ISNULL(VL_PARAMETRO,0)
	  FROM TB_VALOR_PARAMETRO WITH(NOLOCK)
	 WHERE CD_GRUPO_PARAMETRO = 3
	   AND CD_PARAMETRO = 12

	-- verifica se o material enviado existe
	IF LEN(@p_codigoMaterial) > 0
		BEGIN
			--VAMOS BUSCAR O CÓDIGO DO MATERIAL INFORMADO
			SELECT @v_codigoMaterial = MIN(CD_MATERIAL)
			  FROM TB_MATERIAL M WITH(NOLOCK)
			 WHERE CD_MATERIAL_EXTERNO = RTRIM(LTRIM(@p_codigoMaterial))

			IF @v_codigoMaterial = 0
				BEGIN
					-- sai da rotina se não encontrar
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Material informado não encontrado'

					RETURN
				END
		END
	ELSE
		BEGIN
			-- sai da rotina se não for informado
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Material não informado'

			RETURN
		END

	-- vamos checar se o CD enviado existe
	IF @p_codigoCentroDistribuicao > 0
		BEGIN
			SELECT @v_existeCD = COUNT(*)
			  FROM TB_CENTRO_DISTRIBUICAO WITH(NOLOCK)
			 WHERE CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao

			IF @v_existeCD = 0 
				BEGIN
					-- sai da rotina se não for informado
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Código do Centro de Distribuição não encontrado'
				END
		END
	ELSE
		BEGIN
			-- sai da rotina se não for informado
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'Código do Centro de Distribuição não informado'
		END

	-- vamos checar se o ARMAZEN enviado existe
	IF @p_codigoArmazem > 0
		BEGIN
			SELECT @v_existeArmazen = COUNT(*)
			  FROM TB_ARMAZEM WITH(NOLOCK)
			 WHERE CD_ARMAZEM = @p_codigoArmazem
			   AND CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao

			IF @v_existeArmazen = 0 
				BEGIN
					-- sai da rotina se não for informado
					SELECT @p_codigoErro = 1
					SELECT @p_descErro = 'Código do Armazém não encontrado'
				END
		END

	-- VAMOS VALIDAR SE A QUANTIDADE É MAIOR OU IGUAL A 0
	IF @p_qtdeEstoque < 0
		BEGIN
			-- SE FOR NEGATIVA SAI DA ROTINA
			SELECT @p_codigoErro = 1
			SELECT @p_descErro = 'A quantidade deve ser maior ou igual a zero'
		END

	-- primeiramente vamos buscar o estoque atual no cursor
	IF @p_codigoArmazem > 0
		BEGIN
			SET @v_cursorEstoque = CURSOR FAST_FORWARD
			FOR
				SELECT CD_MATERIAL,
					   CD_ARMAZEM,
					   VL_CUSTO_MEDIO_UNITARIO,
					   QT_ESTOQUE_DISPONIVEL,
					   QT_ESTOQUE_DESTRUICAO,
					   QT_ESTOQUE_MANUTENCAO,
					   QT_ESTOQUE_TRANSICAO,
					   QT_VIGILANCIA_SANITARIA,
					   QT_ESTOQUE_EMPENHADO
				  FROM TB_ESTOQUE WITH(NOLOCK)
				 WHERE CD_MATERIAL = @v_codigoMaterial
				   AND CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
				   AND CD_ARMAZEM = @p_codigoArmazem
		END
	ELSE
		BEGIN
			SET @v_cursorEstoque = CURSOR FAST_FORWARD
			FOR
				SELECT CD_MATERIAL,
					   CD_ARMAZEM,
					   VL_CUSTO_MEDIO_UNITARIO,
					   QT_ESTOQUE_DISPONIVEL,
					   QT_ESTOQUE_DESTRUICAO,
					   QT_ESTOQUE_MANUTENCAO,
					   QT_ESTOQUE_TRANSICAO,
					   QT_VIGILANCIA_SANITARIA,
					   QT_ESTOQUE_EMPENHADO
				  FROM TB_ESTOQUE WITH(NOLOCK)
				 WHERE CD_MATERIAL = @v_codigoMaterial
				   AND CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
		END
	
	-- AGORA VAMOS VARRER O CURSOR PARA REALIZAR AS MOVIMENTAÇÕES E ATUALIZAÇÕES DE ESTOQUE
	OPEN @v_cursorEstoque
	FETCH NEXT FROM @v_cursorEstoque
	INTO @v_codigoMaterial, @p_codigoArmazem, @v_valorCustoMedioMaterial, @v_qtdeEstoqueDisponivel, @v_qtdeEstoqueDestruicao, @v_qtdeEstoqueManutencao,	@v_qtdeEstoqueTransicao, @v_qtdeEstoqueVigilancia, @v_qtdeEstoqueEmpenhado
	
	WHILE @@FETCH_STATUS = 0
		BEGIN
			--1. Disponível
			IF @p_idTipoEstoque = 1
				BEGIN
					--PEGA A DIFERENÇA ENTRE ESTOQUE PARA REALIZAR A MOVIMENTAÇÃO
					SELECT @v_qtdeDiferencaEstoque = @p_qtdeEstoque - (@v_qtdeEstoqueDisponivel + @v_qtdeEstoqueEmpenhado)

					IF @v_qtdeDiferencaEstoque > 0
						BEGIN
							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE ENTRADA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														11, -- entrada por integração
														1, -- disponível
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							-- TEREMOS QUE TRATAR AQUI EXCEPCIONALMENTE UMA CONDIÇÃO PARA O CLIENTE MAHOGANY PARA NÃO IMPACTAR O DESENVOLVIMENTO DO PROTHEUS
							-- ISTO PORQUE O CLIENTE DESENVOLVEU DO LADO DELE A VALIDAÇÃO DO ESTOQUE EMPENHADO E NÃO IREMOS CUSTEAR PARA QUE ELE DESFAÇA ISTO
							-- BITRIX #3937
							IF @v_parametroEspecialMahogany > 0
								BEGIN
									IF @p_codigoCentroDistribuicao = @v_parametroEspecialMahogany
										BEGIN
											SELECT @p_qtdeEstoque = @p_qtdeEstoque
										END
									ELSE
										BEGIN
											SELECT @p_qtdeEstoque = @v_qtdeEstoqueDisponivel + @v_qtdeDiferencaEstoque
										END
								END
							ELSE
								BEGIN
									SELECT @p_qtdeEstoque = @v_qtdeEstoqueDisponivel + @v_qtdeDiferencaEstoque
								END

						END

					IF @v_qtdeDiferencaEstoque < 0
						BEGIN
							SELECT @v_qtdeDiferencaEstoque = @v_qtdeDiferencaEstoque * -1

							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE SAÍDA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														12, -- saída por integração
														1, -- disponível
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							-- TEREMOS QUE TRATAR AQUI EXCEPCIONALMENTE UMA CONDIÇÃO PARA O CLIENTE MAHOGANY PARA NÃO IMPACTAR O DESENVOLVIMENTO DO PROTHEUS
							-- ISTO PORQUE O CLIENTE DESENVOLVEU DO LADO DELE A VALIDAÇÃO DO ESTOQUE EMPENHADO E NÃO IREMOS CUSTEAR PARA QUE ELE DESFAÇA ISTO
							-- BITRIX #3937
							IF @v_parametroEspecialMahogany > 0
								BEGIN
									IF @p_codigoCentroDistribuicao = @v_parametroEspecialMahogany
										BEGIN
											SELECT @p_qtdeEstoque = @p_qtdeEstoque
										END
									ELSE
										BEGIN
											SELECT @p_qtdeEstoque = @v_qtdeEstoqueDisponivel - @v_qtdeDiferencaEstoque
										END
								END
							ELSE
								BEGIN
									SELECT @p_qtdeEstoque = @v_qtdeEstoqueDisponivel - @v_qtdeDiferencaEstoque
								END
						END

					UPDATE TB_ESTOQUE SET QT_ESTOQUE_DISPONIVEL = @p_qtdeEstoque
					 WHERE CD_MATERIAL = @v_codigoMaterial
					   AND CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
					   AND CD_ARMAZEM = @p_codigoArmazem
					
				END
			-- 2. Transição
			IF @p_idTipoEstoque = 2
				BEGIN
					--PEGA A DIFERENÇA ENTRE ESTOQUE PARA REALIZAR A MOVIMENTAÇÃO
					SELECT @v_qtdeDiferencaEstoque = @p_qtdeEstoque - @v_qtdeEstoqueTransicao

					IF @v_qtdeDiferencaEstoque > 0
						BEGIN
							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE ENTRADA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														11, -- entrada por integração
														2, -- TRANSIÇÃO
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							SELECT @p_qtdeEstoque = @v_qtdeEstoqueTransicao + @v_qtdeDiferencaEstoque

						END

					IF @v_qtdeDiferencaEstoque < 0
						BEGIN
							SELECT @v_qtdeDiferencaEstoque = @v_qtdeDiferencaEstoque * -1

							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE SAÍDA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														12, -- saída por integração
														2, -- TRANSIÇÃO
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							SELECT @p_qtdeEstoque = @v_qtdeEstoqueTransicao - @v_qtdeDiferencaEstoque
						END

					UPDATE TB_ESTOQUE SET QT_ESTOQUE_TRANSICAO = @p_qtdeEstoque
					 WHERE CD_MATERIAL = @v_codigoMaterial
					   AND CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
					   AND CD_ARMAZEM = @p_codigoArmazem
				END
			-- 3. Manutenção
			IF @p_idTipoEstoque = 3
				BEGIN
					--PEGA A DIFERENÇA ENTRE ESTOQUE PARA REALIZAR A MOVIMENTAÇÃO
					SELECT @v_qtdeDiferencaEstoque = @p_qtdeEstoque - @v_qtdeEstoqueManutencao

					IF @v_qtdeDiferencaEstoque > 0
						BEGIN
							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE ENTRADA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														11, -- entrada por integração
														3, -- manutenção
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							SELECT @p_qtdeEstoque = @v_qtdeEstoqueManutencao + @v_qtdeDiferencaEstoque
						END

					IF @v_qtdeDiferencaEstoque < 0
						BEGIN
							SELECT @v_qtdeDiferencaEstoque = @v_qtdeDiferencaEstoque * -1

							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE SAÍDA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														12, -- saída por integração
														3, -- manutenção
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							SELECT @p_qtdeEstoque = @v_qtdeEstoqueManutencao - @v_qtdeDiferencaEstoque
						END

					UPDATE TB_ESTOQUE SET QT_ESTOQUE_MANUTENCAO = @p_qtdeEstoque
					 WHERE CD_MATERIAL = @v_codigoMaterial
					   AND CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
					   AND CD_ARMAZEM = @p_codigoArmazem
				END
			-- 4. Vigilância Sanitária 
			IF @p_idTipoEstoque = 4
				BEGIN
					--PEGA A DIFERENÇA ENTRE ESTOQUE PARA REALIZAR A MOVIMENTAÇÃO
					SELECT @v_qtdeDiferencaEstoque = @p_qtdeEstoque - @v_qtdeEstoqueVigilancia

					IF @v_qtdeDiferencaEstoque > 0
						BEGIN
							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE ENTRADA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														11, -- entrada por integração
														4, -- vigilancia sanitaria
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							SELECT @p_qtdeEstoque = @v_qtdeEstoqueVigilancia + @v_qtdeDiferencaEstoque
						END

					IF @v_qtdeDiferencaEstoque < 0
						BEGIN
							SELECT @v_qtdeDiferencaEstoque = @v_qtdeDiferencaEstoque * -1

							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE SAÍDA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														12, -- saída por integração
														4, -- vigilancia sanitaria
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							SELECT @p_qtdeEstoque = @v_qtdeEstoqueVigilancia - @v_qtdeDiferencaEstoque
						END

					UPDATE TB_ESTOQUE SET QT_VIGILANCIA_SANITARIA = @p_qtdeEstoque
					 WHERE CD_MATERIAL = @v_codigoMaterial
					   AND CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
					   AND CD_ARMAZEM = @p_codigoArmazem
				END
			--5. Destruição
			IF @p_idTipoEstoque = 5
				BEGIN
					--PEGA A DIFERENÇA ENTRE ESTOQUE PARA REALIZAR A MOVIMENTAÇÃO
					SELECT @v_qtdeDiferencaEstoque = @p_qtdeEstoque - @v_qtdeEstoqueDestruicao

					IF @v_qtdeDiferencaEstoque > 0
						BEGIN
							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE ENTRADA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														11, -- entrada por integração
														5, -- destruicao
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							SELECT @p_qtdeEstoque = @v_qtdeEstoqueDestruicao + @v_qtdeDiferencaEstoque
						END

					IF @v_qtdeDiferencaEstoque < 0
						BEGIN
							SELECT @v_qtdeDiferencaEstoque = @v_qtdeDiferencaEstoque * -1

							-- GRAVA A MOVIMENTAÇÃO DE ESTOQUE DE SAÍDA
							EXEC dbo.SP_CAD_MOV_ESTOQUE @p_codigoCentroDistribuicao,
														@p_codigoArmazem,
														@v_codigoMaterial,
														@v_qtdeDiferencaEstoque,
														12, -- saída por integração
														5, -- destruicao
														@v_valorCustoMedioMaterial,
														0,
														'Atualização estoque via API',
														@p_codigoUsuario,
														'I',
														@p_codigoErro output,
														@p_descErro output,
														@p_qtLinhasAfetadas output

							-- ATUALIZA O ESTOQUE
							SELECT @p_qtdeEstoque = @v_qtdeEstoqueDestruicao - @v_qtdeDiferencaEstoque
						END

					UPDATE TB_ESTOQUE SET QT_ESTOQUE_DESTRUICAO = @p_qtdeEstoque
					 WHERE CD_MATERIAL = @v_codigoMaterial
					   AND CD_CENTRO_DISTRIBUICAO = @p_codigoCentroDistribuicao
					   AND CD_ARMAZEM = @p_codigoArmazem
				END
			
			FETCH NEXT FROM @v_cursorEstoque
			INTO @v_codigoMaterial, @p_codigoArmazem, @v_valorCustoMedioMaterial, @v_qtdeEstoqueDisponivel, @v_qtdeEstoqueDestruicao, @v_qtdeEstoqueManutencao,	@v_qtdeEstoqueTransicao, @v_qtdeEstoqueVigilancia, @v_qtdeEstoqueEmpenhado
	
		END
	SELECT @p_qtLinhasAfetadas = 0
	SELECT @p_codigoErro = 0
	SELECT @p_descErro = ''
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@p_descErro, @p_codigoErro, 1)
END CATCH;
GO
