SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_CargaMovimentaEstoqueCD]
  	@cdErro					INT OUTPUT,
	@dcErro					NVARCHAR(MAX) OUTPUT,
	@qtLinhasAfetadas		INT OUTPUT		
AS

DECLARE @Cursor_Itens			CURSOR

DECLARE @CD_ORIGEM				NUMERIC(18,0)
DECLARE @CD_ARMAZEM_ORIGEM		NUMERIC(18,0)

DECLARE @CD_DESTINO				NUMERIC(18,0)
DECLARE @CD_ARMAZEM_DESTINO		NUMERIC(18,0)

DECLARE @CD_MATERIAL			NUMERIC(18,0)
DECLARE @QT_ESTOQUE_DISPONIVEL	NUMERIC(18,0)
DECLARE @VL_REPOSICAO_UNITARIO	NUMERIC(18,2)
				
BEGIN 
	
	SELECT @CD_ORIGEM = 8

	SELECT @CD_DESTINO = 6
	SELECT @CD_ARMAZEM_DESTINO = 5

	SELECT @qtLinhasAfetadas = 0


	SET @Cursor_Itens = CURSOR FAST_FORWARD
	FOR
			
		SELECT	CD_CENTRO_DISTRIBUICAO, 
				CD_ARMAZEM, 
				CD_MATERIAL, 
				QT_ESTOQUE_DISPONIVEL, 
				VL_REPOSICAO_UNITARIO 
		FROM TB_ESTOQUE
		WHERE CD_CENTRO_DISTRIBUICAO = @CD_ORIGEM
		AND QT_ESTOQUE_DISPONIVEL > 0
		--AND CD_MATERIAL = 2
		ORDER BY CD_MATERIAL ASC

										
		OPEN @Cursor_Itens
		FETCH NEXT FROM @Cursor_Itens
		INTO	@CD_ORIGEM,
				@CD_ARMAZEM_ORIGEM,
				@CD_MATERIAL,
				@QT_ESTOQUE_DISPONIVEL,
				@VL_REPOSICAO_UNITARIO
			
			WHILE @@FETCH_STATUS = 0
				BEGIN
									
					-- *******************************************
					-- FAZ A SAIDA DO CD_ORIGEM 
					-- *******************************************
					EXEC dbo.SP_CAD_MOV_ESTOQUE 
						@CD_ORIGEM, 
						@CD_ARMAZEM_ORIGEM, 
						@CD_MATERIAL, 
						@QT_ESTOQUE_DISPONIVEL, 
						8, -- SAIDA POR AJUSTE MANUAL 
						1, -- DISPONIVEL
						@VL_REPOSICAO_UNITARIO, 
						0, 
						'TRASNFERENCIA ESTOQUE CD 8 PARA CD 6', 
						0,
						'I', 
						0,
						'',
						0
					
					
					-- *******************************************
					-- FAZ A ENTRADA DO CD_DESTINO 
					-- *******************************************
					EXEC dbo.SP_CAD_MOV_ESTOQUE 
						@CD_DESTINO, 
						@CD_ARMAZEM_DESTINO, 
						@CD_MATERIAL, 
						@QT_ESTOQUE_DISPONIVEL, 
						7, -- ENTRADA POR AJUSTE MANUAL 
						1, -- DISPONIVEL
						@VL_REPOSICAO_UNITARIO, 
						0, 
						'TRASNFERENCIA ESTOQUE CD 8 PARA CD 6', 
						0,
						'I', 
						0,
						'',
						0
						
					
							
				
					FETCH NEXT FROM @Cursor_Itens
					INTO	@CD_ORIGEM,
							@CD_ARMAZEM_ORIGEM,
							@CD_MATERIAL,
							@QT_ESTOQUE_DISPONIVEL,
							@VL_REPOSICAO_UNITARIO
													
				END


	SELECT @qtLinhasAfetadas = @@ROWCOUNT
	SELECT @cdErro = 0
		
END
GO
