SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PedidoSalvaPedidoTemp]
	@p_numeroPedidoTemp				numeric(18, 0),
		
	@p_codigoUsuario				numeric(18,0),
	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
	

AS

BEGIN TRY
	
	    SELECT @p_codigoErro = 0
		SELECT @p_descricaoErro = ''
	    SELECT @p_linhasAfetadas = 0
	
		BEGIN TRANSACTION 
		
		--atualiza situação para salvo
		UPDATE TB_WRK_PEDIDO_TEMP
		SET CD_EST_SITUACAO = 100
		WHERE NM_PEDIDO_TEMP = @p_numeroPedidoTemp
		
		--abre situação salvo no histórico
        EXEC pr_PedidoGravaHistoricoPedidoTemp
			 @p_numeroPedidoTemp,
			 100,
			 1,
			 '',
			 @p_codigoUsuario,
			 @p_codigoErro output,
			 @p_descricaoErro output,
			 @p_linhasAfetadas output
			 
		SELECT @p_linhasAfetadas = @@ROWCOUNT
		
		COMMIT TRANSACTION
		
		SELECT @p_codigoErro = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
