SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_MN_APLICA_PLANO_CARREIRA_5A]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT


AS

DECLARE @V_CD_PAPEL_CICLO                       NUMERIC(18,0)



DECLARE @V_CD_PAPEL_CN                       NUMERIC(18,0),
        @v_CD_PAPEL_CONSTR_SUCESSO           NUMERIC(18,0),
	@v_CD_PAPEL_CONSTR_SENIOR            NUMERIC(18,0),
	@v_CD_PAPEL_FUTURO_LIDER             NUMERIC(18,0),
	@v_CD_PAPEL_LIDER                    NUMERIC(18,0),
	@v_CD_PAPEL_ESMERALDA                NUMERIC(18,0),
	@v_CD_PAPEL_SAFIRA                   NUMERIC(18,0),
	@v_CD_PAPEL_RUBI                     NUMERIC(18,0),
	@v_CD_PAPEL_DIAM                     NUMERIC(18,0),
	@v_CD_PAPEL_DIAM_DU                  NUMERIC(18,0),
	@v_CD_PAPEL_DIAM_TRI                 NUMERIC(18,0)

DECLARE @V_QT_INDICA_CONSTR_SUCESSO          NUMERIC(18,0),
        @V_QT_INDICA_CONSTR_SENIOR           NUMERIC(18,0), 
        @V_QT_INDICA_FUTURO_LIDER            NUMERIC(18,0),
        @V_QT_INDICA_LIDER                   NUMERIC(18,0),
        @V_QT_INDICA_ESMERALDA               NUMERIC(18,0),
        @V_QT_LIDER_ESMERALDA                NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_ESMERALDA           NUMERIC(18,0),

        @V_QT_INDICA_SAFIRA                  NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_SAFIRA            NUMERIC(18,0),
        @V_QT_INDICA_ATI_SAFIRA              NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_ATI_SAFIRA        NUMERIC(18,0),
        @V_QT_LIDER_SAFIRA                   NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_SAFIRA              NUMERIC(18,0),

        @V_QT_INDICA_RUBI                    NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_RUBI              NUMERIC(18,0),
        @V_QT_INDICA_ATI_RUBI                NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_ATI_RUBI          NUMERIC(18,0),
        @V_QT_LIDER_RUBI                     NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_RUBI                NUMERIC(18,0),

        @V_QT_INDICA_DIAM                    NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_DIAM              NUMERIC(18,0),
        @V_QT_INDICA_ATI_DIAM                NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_ATI_DIAM          NUMERIC(18,0),
        @V_QT_LIDER_DIAM                     NUMERIC(18,0),
        @V_QT_ESMERALDA_DIAM                 NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_DIAM                NUMERIC(18,0),

        @V_QT_INDICA_DIAM_DU                 NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_DIAM_DU           NUMERIC(18,0),
        @V_QT_INDICA_ATI_DIAM_DU             NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_ATI_DIAM_D        NUMERIC(18,0),
        @V_QT_LIDER_DIAM_DU                  NUMERIC(18,0),
        @V_QT_ESMERALDA_DIAM_DU              NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_DIAM_DU             NUMERIC(18,0),

        @V_QT_INDICA_DIAM_TRI                NUMERIC(18,0),
        @V_QT_INDICA_ATI_DIAM_TRI            NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_DIAM_TRI          NUMERIC(18,0),
        @V_QT_INDICA_GRUPO_ATI_DIAM_T        NUMERIC(18,0),
        @V_QT_LIDER_DIAM_TRI                 NUMERIC(18,0),
        @V_QT_ESMERALDA_DIAM_TRI             NUMERIC(18,0),
        @V_QT_PTOS_GRUPO_DIAM_TRI            NUMERIC(18,0)



DECLARE @CURSOR_TOPOLOGIA    CURSOR

DECLARE @V_CD_PESSOA_IND                 NUMERIC(18,0),
        @V_CD_PAPEL_IND                  NUMERIC(18,0),
        @V_CD_NIVEL_IND                  INT,
        @V_CD_ORDEM_IND                  INT,
	@V_CD_SITUACAO_COML_IND          INT
DECLARE @v_CD_PAPEL_ACU                  NUMERIC(18,0)



DECLARE @V_CD_EST_COMERCIAL              NUMERIC(18,0)
DECLARE @V_QDE_INDICADOS_DIRETOS         NUMERIC(18,0),
        @V_QDE_LIDERES_DIRETOS           NUMERIC(18,0),
        @V_QDE_PONTOS_GRUPO              NUMERIC(18,0),
        @V_QDE_INDICADOS_ATI_DIRETOS     NUMERIC(18,0),
        @V_QDE_INDICADOS_GRUPO           NUMERIC(18,0),
        @V_QDE_INDICADOS_ATI_GRUPO       NUMERIC(18,0),
        @V_QDE_ESMERALDAS_GRUPO          NUMERIC(18,0)

DECLARE @V_VL_PONTOS_ACU                        NUMERIC(18,0)


BEGIN TRY
  SELECT @QT_LINHAS_AFETADAS = 0

  SELECT @V_CD_PAPEL_CN               = 1,
         @v_CD_PAPEL_CONSTR_SUCESSO   = 2,
	 @v_CD_PAPEL_CONSTR_SENIOR    = 3,
	 @v_CD_PAPEL_FUTURO_LIDER     = 4,
	 @v_CD_PAPEL_LIDER            = 5,
	 @v_CD_PAPEL_ESMERALDA        = 6,
	 @v_CD_PAPEL_SAFIRA           = 7,
	 @v_CD_PAPEL_RUBI             = 8,
	 @v_CD_PAPEL_DIAM             = 9,
	 @v_CD_PAPEL_DIAM_DU          = 10,
	 @v_CD_PAPEL_DIAM_TRI         = 11

  SELECT @V_QT_INDICA_CONSTR_SUCESSO   = 1,
         @V_QT_INDICA_CONSTR_SENIOR    = 2, 
         @V_QT_INDICA_FUTURO_LIDER     = 4,
         @V_QT_INDICA_LIDER            = 6,

         @V_QT_INDICA_ESMERALDA        = 8,
         @V_QT_LIDER_ESMERALDA         = 1,
         @V_QT_PTOS_GRUPO_ESMERALDA    = 2000,

         @V_QT_INDICA_SAFIRA           = 10,
         @V_QT_INDICA_GRUPO_SAFIRA     = 24,
         @V_QT_INDICA_ATI_SAFIRA       = 5,
         @V_QT_INDICA_GRUPO_ATI_SAFIRA = 12,
         @V_QT_LIDER_SAFIRA            = 2,
         @V_QT_PTOS_GRUPO_SAFIRA       = 4000,

         @V_QT_INDICA_RUBI             = 16,
         @V_QT_INDICA_GRUPO_RUBI       = 48,
         @V_QT_INDICA_ATI_RUBI         = 8,
         @V_QT_INDICA_GRUPO_ATI_RUBI   = 24,
         @V_QT_LIDER_RUBI              = 4,
         @V_QT_PTOS_GRUPO_RUBI         = 6000,
 
        @V_QT_INDICA_DIAM               = 32,
        @V_QT_INDICA_GRUPO_DIAM         = 100,
        @V_QT_INDICA_ATI_DIAM           = 16,
        @V_QT_INDICA_GRUPO_ATI_DIAM     = 50,
        @V_QT_LIDER_DIAM                = 8,
        @V_QT_ESMERALDA_DIAM            = 1,
        @V_QT_PTOS_GRUPO_DIAM           = 20000,

        @V_QT_INDICA_DIAM_DU            = 44,
        @V_QT_INDICA_GRUPO_DIAM_DU      = 200,
        @V_QT_INDICA_ATI_DIAM_DU        = 22,
        @V_QT_INDICA_GRUPO_ATI_DIAM_D  = 100,
        @V_QT_LIDER_DIAM_DU             = 12,
        @V_QT_ESMERALDA_DIAM_DU         = 8,
        @V_QT_PTOS_GRUPO_DIAM_DU        = 40000,

        @V_QT_INDICA_DIAM_TRI           = 60,
        @V_QT_INDICA_GRUPO_DIAM_TRI     = 300,
        @V_QT_INDICA_ATI_DIAM_TRI        = 30,
        @V_QT_INDICA_GRUPO_ATI_DIAM_T = 150,
        @V_QT_LIDER_DIAM_TRI            = 20,
        @V_QT_ESMERALDA_DIAM_TRI        = 9,
        @V_QT_PTOS_GRUPO_DIAM_TRI       = 200000



    -- ABRE O CURSOR TOPOLOGIA
  SET @CURSOR_TOPOLOGIA = CURSOR FAST_FORWARD
  FOR	
        SELECT   1                     AS ORDEM
                ,B.CD_PESSOA           AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,1                     AS NIVEL
                ,C.CD_SITUACAO_COMERCIAL AS SITUACAO_COMERCIAL
        FROM    TB_PESSOA_PAPEL_HISTORICO B, TB_HIST_SITUACAO_CONSULTORA C
        WHERE B.CD_PESSOA           = @CD_PESSOA
        AND   B.CD_FUNCAO           = @CD_FUNCAO
        AND   B.NM_CICLO            = @NM_CICLO
        AND   B.CD_PESSOA           = C.CD_PESSOA
        AND   B.NM_CICLO            = C.NM_CICLO
        UNION
        SELECT   2                     AS ORDEM
                ,A.CD_PESSOA_VINCULADA AS PESSOA
                ,B.CD_PAPEL_DESEMPENHO AS PAPEL
                ,A.NM_NIVEL            AS NIVEL
                ,C.CD_SITUACAO_COMERCIAL AS SITUACAO_COMERCIAL
        FROM TB_WRK_MN_TOPOLOGIA A, TB_PESSOA_PAPEL_HISTORICO B   
            ,TB_HIST_SITUACAO_CONSULTORA C
        WHERE A.CD_PESSOA_VINCULADA = B.CD_PESSOA
        AND   A.CD_FUNCAO           = B.CD_FUNCAO
        AND   A.NM_CICLO            = B.NM_CICLO
        AND   A.CD_PESSOA           = @CD_PESSOA
        AND   A.CD_FUNCAO           = @CD_FUNCAO
        AND   A.NM_CICLO            = @NM_CICLO
        AND   A.ID_ORDEM            = 1 -- ASCENDENTE
        AND   A.ID_TIPO_REDE_MN     = 1 -- REDE UNILEVEL
        AND   B.CD_PESSOA           = C.CD_PESSOA
        AND   B.NM_CICLO            = C.NM_CICLO
        ORDER BY 1,4

  OPEN @CURSOR_TOPOLOGIA
  FETCH NEXT FROM @CURSOR_TOPOLOGIA
  INTO @V_CD_ORDEM_IND,@V_CD_PESSOA_IND, @V_CD_PAPEL_IND, @V_CD_NIVEL_IND,@V_CD_SITUACAO_COML_IND


  WHILE @@FETCH_STATUS = 0
  BEGIN  
        
    SELECT @V_CD_PAPEL_ACU          = 0  -- INICIALIZA O PAPEL CALCULADO

    -- BUSCA A ESTRUTURA COMERCIAL
    SELECT @V_CD_EST_COMERCIAL = CD_EST_COMERCIAL
    FROM TB_PESSOA_RESUMO 
    WHERE CD_PESSOA = @V_CD_PESSOA_IND
    AND   CD_FUNCAO = @CD_FUNCAO

    
    --IF (@V_CD_PAPEL_IND < @v_CD_PAPEL_LIDER)  -- MENOR QUE LIDER
    --BEGIN
    -- BUSCA A QDE INDICAÇÃO DIRETO
    SELECT @V_QDE_INDICADOS_DIRETOS = dbo.FN_MN_CALCULA_INDICADOS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1, 100)


    IF (@V_QDE_INDICADOS_DIRETOS >= @V_QT_INDICA_CONSTR_SUCESSO) -- 2 - VERIFICAR SE A META É MAIOR OU IGUAL A CONSTRUTOR DE SUCESSO
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_CONSTR_SUCESSO
    END
  
    IF (@V_QDE_INDICADOS_DIRETOS >= @V_QT_INDICA_CONSTR_SENIOR) -- 3 - VERIFICAR SE A META É MAIOR OU IGUAL A CONSTRUTOR SENIOR
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_CONSTR_SENIOR
    END

    IF (@V_QDE_INDICADOS_DIRETOS >= @V_QT_INDICA_FUTURO_LIDER) -- 4 - VERIFICAR SE A META É MAIOR OU IGUAL A FUTURO LIDER
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_FUTURO_LIDER
    END
     
    IF (@V_QDE_INDICADOS_DIRETOS >= @V_QT_INDICA_LIDER AND @V_CD_SITUACAO_COML_IND = 1) -- 5 - VERIFICAR SE A META É MAIOR OU IGUAL A LIDER
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_LIDER
    END

--    END
    
    -- BUSCA A QDE DE LIDER DIRETOS
    SELECT @V_QDE_LIDERES_DIRETOS = dbo.FN_MN_CALCULA_PAPEIS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1, 5)

    -- BUSCA A QDE DE PONTOS DO GRUPO 
    SELECT @V_QDE_PONTOS_GRUPO = dbo.FN_MN_CALCULA_INDICADOS_PONTOS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1000, 14)

    IF (@V_QDE_INDICADOS_DIRETOS >= @V_QT_INDICA_ESMERALDA AND 
        @V_QDE_LIDERES_DIRETOS   >= @V_QT_LIDER_ESMERALDA  AND 
        @V_QDE_PONTOS_GRUPO      >= @V_QT_PTOS_GRUPO_ESMERALDA AND
        @V_CD_SITUACAO_COML_IND   = 1) -- 6 - VERIFICAR SE A META É MAIOR OU IGUAL A ESMERALDA
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_ESMERALDA
    END


    -- BUSCA A QDE DE INDICADOS DIRETOS ATIVOS
    SELECT @V_QDE_INDICADOS_ATI_DIRETOS = dbo.FN_MN_CALCULA_INDICADOS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1, 1)

     
    -- BUSCA A QDE DE INDICADOS GRUPO
    SELECT @V_QDE_INDICADOS_GRUPO  = dbo.FN_MN_CALCULA_INDICADOS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1000, 100)


    -- BUSCA A QDE DE INDICADOS GRUPO ATIVOS
    SELECT @V_QDE_INDICADOS_ATI_GRUPO = dbo.FN_MN_CALCULA_INDICADOS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1000, 1)


    IF (@V_QDE_INDICADOS_DIRETOS     >= @V_QT_INDICA_SAFIRA           AND 
        @V_QDE_INDICADOS_GRUPO       >= @V_QT_INDICA_GRUPO_SAFIRA     AND
        @V_QDE_INDICADOS_ATI_DIRETOS >= @V_QT_INDICA_ATI_SAFIRA       AND
        @V_QDE_INDICADOS_ATI_GRUPO   >= @V_QT_INDICA_GRUPO_ATI_SAFIRA AND
        @V_QDE_LIDERES_DIRETOS       >= @V_QT_LIDER_SAFIRA            AND
        @V_QDE_PONTOS_GRUPO          >= @V_QT_PTOS_GRUPO_SAFIRA       AND
        @V_CD_SITUACAO_COML_IND       = 1          ) -- 7 - VERIFICAR SE A META É MAIOR OU IGUAL A SAFIRA
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_SAFIRA
    END
 

    IF (@V_QDE_INDICADOS_DIRETOS     >= @V_QT_INDICA_RUBI           AND 
        @V_QDE_INDICADOS_GRUPO       >= @V_QT_INDICA_GRUPO_RUBI     AND
        @V_QDE_INDICADOS_ATI_DIRETOS >= @V_QT_INDICA_ATI_RUBI       AND
        @V_QDE_INDICADOS_ATI_GRUPO   >= @V_QT_INDICA_GRUPO_ATI_RUBI AND
        @V_QDE_LIDERES_DIRETOS       >= @V_QT_LIDER_RUBI            AND
        @V_QDE_PONTOS_GRUPO          >= @V_QT_PTOS_GRUPO_RUBI       AND
        @V_CD_SITUACAO_COML_IND       = 1          ) -- 8 - VERIFICAR SE A META É MAIOR OU IGUAL A RUBI
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_RUBI
    END
 
    -- BUSCA A QDE DE ESMERALDA GRUPO
    SELECT @V_QDE_ESMERALDAS_GRUPO = dbo.FN_MN_CALCULA_PAPEIS(@V_CD_PESSOA_IND, @CD_FUNCAO, @NM_CICLO, 1000, 6)

   IF (@V_QDE_INDICADOS_DIRETOS      >= @V_QT_INDICA_DIAM           AND 
        @V_QDE_INDICADOS_GRUPO       >= @V_QT_INDICA_GRUPO_DIAM     AND
        @V_QDE_INDICADOS_ATI_DIRETOS >= @V_QT_INDICA_ATI_DIAM       AND
        @V_QDE_INDICADOS_ATI_GRUPO   >= @V_QT_INDICA_GRUPO_ATI_DIAM AND
        @V_QDE_LIDERES_DIRETOS       >= @V_QT_LIDER_DIAM            AND
        @V_QDE_ESMERALDAS_GRUPO      >= @V_QT_ESMERALDA_DIAM        AND 
        @V_QDE_PONTOS_GRUPO          >= @V_QT_PTOS_GRUPO_DIAM       AND
        @V_CD_SITUACAO_COML_IND       = 1          ) -- 9 - VERIFICAR SE A META É MAIOR OU IGUAL A DIAMANTE
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_DIAM
    END
 
   
    IF (@V_QDE_INDICADOS_DIRETOS     >= @V_QT_INDICA_DIAM_DU           AND 
        @V_QDE_INDICADOS_GRUPO       >= @V_QT_INDICA_GRUPO_DIAM_DU     AND
        @V_QDE_INDICADOS_ATI_DIRETOS >= @V_QT_INDICA_ATI_DIAM_DU       AND
        @V_QDE_INDICADOS_ATI_GRUPO   >= @V_QT_INDICA_GRUPO_ATI_DIAM_D  AND
        @V_QDE_LIDERES_DIRETOS       >= @V_QT_LIDER_DIAM_DU            AND
        @V_QDE_ESMERALDAS_GRUPO      >= @V_QT_ESMERALDA_DIAM_DU        AND 
        @V_QDE_PONTOS_GRUPO          >= @V_QT_PTOS_GRUPO_DIAM_DU       AND
        @V_CD_SITUACAO_COML_IND       = 1          ) -- 10 - VERIFICAR SE A META É MAIOR OU IGUAL A DIAMANTE DUPLO
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_DIAM_DU
    END        

    IF (@V_QDE_INDICADOS_DIRETOS     >= @V_QT_INDICA_DIAM_TRI           AND 
        @V_QDE_INDICADOS_GRUPO       >= @V_QT_INDICA_GRUPO_DIAM_TRI     AND
        @V_QDE_INDICADOS_ATI_DIRETOS >= @V_QT_INDICA_ATI_DIAM_TRI       AND
        @V_QDE_INDICADOS_ATI_GRUPO   >= @V_QT_INDICA_GRUPO_ATI_DIAM_T   AND
        @V_QDE_LIDERES_DIRETOS       >= @V_QT_LIDER_DIAM_TRI            AND
        @V_QDE_ESMERALDAS_GRUPO      >= @V_QT_ESMERALDA_DIAM_TRI        AND 
        @V_QDE_PONTOS_GRUPO          >= @V_QT_PTOS_GRUPO_DIAM_TRI       AND
        @V_CD_SITUACAO_COML_IND       = 1          ) -- 11 - VERIFICAR SE A META É MAIOR OU IGUAL A DIAMANTE TRIPLO
    BEGIN
      SELECT @v_CD_PAPEL_ACU = @v_CD_PAPEL_DIAM_TRI
    END     


    -- VERIFICA SE O PAPEL CALCULADO É MAIOR QUE PAPEL ATUAL DA PESSOA
    IF (@v_CD_PAPEL_ACU  > @V_CD_PAPEL_IND)
    BEGIN
      UPDATE TB_PESSOA_RESUMO
      SET  CD_PAPEL_CARREIRA   = @V_CD_PAPEL_ACU
          ,CD_PAPEL_DESEMPENHO = @V_CD_PAPEL_ACU
          ,DT_ATUALIZACAO      = GETDATE()
	  ,CD_USUARIO_ATUALIZACAO = 0
      WHERE CD_PESSOA = @V_CD_PESSOA_IND
      AND   CD_FUNCAO = @CD_FUNCAO
    
      UPDATE TB_PESSOA_PAPEL_HISTORICO 
      SET  CD_PAPEL_CARREIRA = @v_CD_PAPEL_ACU
          ,CD_PAPEL_DESEMPENHO  = @v_CD_PAPEL_ACU
      WHERE CD_PESSOA = @V_CD_PESSOA_IND AND CD_FUNCAO = @CD_FUNCAO AND NM_CICLO = @NM_CICLO

      EXEC dbo.SP_CAD_PESSOA_PAPEL_HIST_DATA
			@V_CD_PESSOA_IND,
			@CD_FUNCAO,
			@NM_CICLO,
			@v_CD_PAPEL_ACU,
			@VAR_RETORNO,
			@DC_ERRO,
			@QT_LINHAS_AFETADAS
      
    END

    FETCH NEXT FROM @CURSOR_TOPOLOGIA
    INTO @V_CD_ORDEM_IND,@V_CD_PESSOA_IND, @V_CD_PAPEL_IND, @V_CD_NIVEL_IND, @V_CD_SITUACAO_COML_IND

  END
  CLOSE       @CURSOR_TOPOLOGIA
  DEALLOCATE  @CURSOR_TOPOLOGIA

  SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
  SELECT @VAR_RETORNO = 0

	
  SELECT @VAR_RETORNO = 0
		
		
END TRY	
BEGIN CATCH
  SELECT @VAR_RETORNO = 1
  SELECT @DC_ERRO = ERROR_MESSAGE()
      
  IF @@TRANCOUNT > 0
    ROLLBACK 
END CATCH;


GO
