SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pr_PessoaInsereContaServicoExterno]
	@p_codigoPessoa				numeric(18,0),
	@p_codigoServicoExterno		int,
	@p_descIdConta				varchar(50),
	@p_descTokenConta			varchar(500),
	@p_descEmailConta			varchar(200),
	@p_descLoginConta			varchar(100),
	@p_descSenhaConta			varchar(50),
	@p_descURLConta				varchar(500),

	@p_descAcao					varchar(1),
	@p_codigoUsuario			numeric(18,0),
	
	@p_codigoErro				numeric(18,0) output,
	@p_descricaoErro			varchar(max) output,
	@p_linhasAfetadas			int output

AS
DECLARE @v_existeLoja	int,
		@v_idNomeServicoExterno int,
		@v_envia_email			INT,
		@v_dcNomePessoa			VARCHAR(500),
		@v_data					DATETIME,
		@v_dc_assunto_email		VARCHAR(100),
		@v_cd_envio_email		NUMERIC(18,0),
		@Cursor_Itens			CURSOR,
		@v_dcTexto				VARCHAR(MAX),
		@v_nmLinha				INT

BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT @p_codigoErro = 0, @p_descricaoErro = '', @p_linhasAfetadas = 0

	IF @p_descAcao = 'I'
		BEGIN
			-- INSERE OS DADOS NA TABELA
			INSERT INTO TB_PESSOA_CONTA_SERVICO_EXTERNO 
						(CD_PESSOA,
						 CD_SERVICO_EXTERNO,
						 DC_ID_CONTA_SERVICO_EXTERNO,
						 DC_TOKEN_CONTA_SERVICO_EXTERNO,
						 DC_EMAIL_CONTA_SERVICO_EXTERNO,
						 DC_LOGIN_CONTA_SERVICO_EXTERNO,
						 DC_SENHA_CONTA_SERVICO_EXTERNO,
						 DC_URL_CONTA_SERVICO_EXTERNO,
						 DT_CRIACAO,
						 CD_USUARIO_CRIACAO,
						 DT_ATUALIZACAO,
						 CD_USUARIO_ATUALIZACAO,
						 ID_ATIVO)
			     VALUES (@p_codigoPessoa,			--CD_PESSOA
						 @p_codigoServicoExterno,	--CD_SERVICO_EXTERNO
						 @p_descIdConta,			--DC_ID_CONTA_SERVICO_EXTERNO
						 @p_descTokenConta,			--DC_TOKEN_CONTA_SERVICO_EXTERNO
						 @p_descEmailConta,			--DC_EMAIL_CONTA_SERVICO_EXTERNO
						 @p_descLoginConta,			--DC_LOGIN_CONTA_SERVICO_EXTERNO
						 @p_descSenhaConta,			--DC_SENHA_CONTA_SERVICO_EXTERNO
						 @p_descURLConta,			--DC_URL_CONTA_SERVICO_EXTERNO
						 GETDATE(),					--DT_CRIACAO
						 @p_codigoUsuario,			--CD_USUARIO_CRIACAO
						 NULL,						--DT_ATUALIZACAO
						 NULL,						--CD_USUARIO_ATUALIZACAO
						 1 )						--ID_ATIVO

			-- vamos verificar se a conta inserida é da wirecard para enviarmos o e-mail de cadastro com o link para cadastrar a senha
			select @v_idNomeServicoExterno = ID_NOME_SERVICO_EXTERNO
			  from TB_SERVICO_EXTERNO
			 where CD_SERVICO_EXTERNO = @p_codigoServicoExterno

			IF @v_idNomeServicoExterno = 4 and len(@p_descURLConta) > 1
				BEGIN
					-- VERIFICA SE O ENVIO PARA ESSE EVENTO ESTA ATIVO
					SELECT @v_envia_email = ID_SITUACAO
					FROM TB_ENVIO_EMAIL_PARAMETROS
					WHERE CD_EMAIL = 32

					IF @v_envia_email = 1
						BEGIN
							
							--OBTEM OS DADOS DE ACESSO PARA ENVIAR NO E-MAIL
							SELECT @v_dcNomePessoa = dbo.FN_BUSCA_NOME_PESSOA(CD_PESSOA),
								   @v_data = GETDATE()
							  FROM TB_PESSOA
							 WHERE CD_PESSOA = @p_codigoPessoa

							SELECT @v_dc_assunto_email = 'A Sós - Acesse sua conta Wirecard'

							EXEC [pr_EmailInsereEnvioEmail ]
								0,							--@p_cd_envio_email			  numeric(18,0),
								32,				--@p_cd_email                 numeric(18,0),
								@v_data,					--@p_dt_geracao_email         datetime ,
								NULL,						--@p_dt_envio_email           datetime,
								1,							--@p_id_situacao_envio_email  numeric(18,0),
								@p_codigoPessoa,			--@p_cd_pessoa_destinatario   numeric(18,0),
								@p_descEmailConta,			--@p_dc_email_destinatario    varchar(max),
								@v_dc_assunto_email,		--@p_dc_assunto_email         varchar(max),
								'',							--@p_dc_erro                  varchar(max),
	
								'I',						--@p_descricaoTipoFuncao			VARCHAR(1),
								@v_cd_envio_email                       OUTPUT,	
								@p_codigoErro				OUTPUT,
								@p_descricaoErro			OUTPUT,
								@p_linhasAfetadas			OUTPUT

							SET @Cursor_Itens = CURSOR FAST_FORWARD
							FOR

								SELECT	NM_LINHA, 
										DC_TEXTO
								FROM TB_EMAIL_TEXTO WHERE CD_EMAIL = 32
								ORDER BY NM_LINHA ASC
						
							OPEN @Cursor_Itens
							FETCH NEXT FROM @Cursor_Itens
							INTO	@v_nmLinha, @v_dcTexto
						
								WHILE @@FETCH_STATUS = 0
									BEGIN

										SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#nomeCliente#',CONVERT(varchar(1000), @v_dcNomePessoa))
										SELECT @v_dcTexto = REPLACE(@v_dcTexto,'#linkSenha',CONVERT(varchar(500), @p_descURLConta))
																
										EXEC pr_EmailInsereEnvioEmailTexto
											@v_cd_envio_email,
											@v_nmLinha,
											@v_dcTexto,
											'I',
											@p_codigoErro				OUTPUT,
											@p_descricaoErro			OUTPUT,
											@p_linhasAfetadas			OUTPUT
										

										FETCH NEXT FROM @Cursor_Itens
										INTO	@v_nmLinha, @v_dcTexto
									END
						END
				END
		END
	IF @p_descAcao = 'A'
		BEGIN
			-- ATUALIZA OS DADOS NA TABELA
			UPDATE TB_PESSOA_CONTA_SERVICO_EXTERNO
			   SET DC_ID_CONTA_SERVICO_EXTERNO = @p_descIdConta,
				   DC_TOKEN_CONTA_SERVICO_EXTERNO = @p_descTokenConta,
				   DC_EMAIL_CONTA_SERVICO_EXTERNO = @p_descEmailConta,
				   DC_LOGIN_CONTA_SERVICO_EXTERNO = @p_descLoginConta,
				   DC_SENHA_CONTA_SERVICO_EXTERNO = @p_descSenhaConta,
				   DC_URL_CONTA_SERVICO_EXTERNO = @p_descURLConta,
				   CD_USUARIO_ATUALIZACAO = @p_codigoUsuario,
				   DT_ATUALIZACAO = getdate()
			 WHERE CD_PESSOA = @p_codigoPessoa
			   AND CD_SERVICO_EXTERNO = @p_codigoServicoExterno
		END
	IF @p_descAcao = 'E'
		begin
			-- EXCLUI AS INFORMAÇÕES DAS CONTAS REGISTRADAS
			DELETE FROM TB_PESSOA_CONTA_SERVICO_EXTERNO
			WHERE CD_PESSOA = @p_codigoPessoa
			  AND CD_SERVICO_EXTERNO = @p_codigoServicoExterno
		end

END TRY
BEGIN CATCH
	-- Whoops, there was an error
    SELECT @p_codigoErro = 2
    SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH

GO
