SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Diego Zilioti
-- Create date: 15/01/2018
-- Description:	Procedure que irá gerar o cabeçalho de uma NF de Armazenagem
-- =============================================
CREATE PROCEDURE [dbo].[pr_FiscalGeraNotaFiscalArmazenagem]
	
	@p_codigoEmissor		int,
	@p_codigoDestinatario	int,
	@p_descNaturezaOperacao	varchar(100),
	@p_descInfoAdicional	varchar(max), 
	@p_idTipoNotaFiscal		int,
	@p_valorTotalNotaFiscal	numeric(18,2),

	@p_numeroNotaFiscal		numeric(18,0) output,
	@p_codigoNotaFiscal		numeric(18,0) output,

	@p_codigoUsuario		NUMERIC(18,0),
	
	@p_codigoErro			INT OUTPUT,
	@p_descErro				NVARCHAR(MAX) OUTPUT,
	@p_qtdeLinhasAfetadas	INT OUTPUT
AS
DECLARE
	@v_idModFrete	int = 9,
	@v_valorFrete	int = 0

BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	 IF @p_valorTotalNotaFiscal >= 0
		begin
			--VAMOS REALIZAR O INSERT DO HEADER DA NF, SOMENTE PARA RESERVAR O NÚMERO, POSTERIORMENTE OS ITENS SERÃO GERADOS E A NF CONSOLIDADA
			insert into TB_NOTA_FISCAL (NM_NOTA_FISCAL,
										NM_PEDIDO,
										CD_PESSOA_EMISSOR,
										CD_PESSOA_DESTINATARIO,
										DT_EMISSAO_NOTA_FISCAL,
										ID_TIPO_NOTA_FISCAL,
										ID_SITUACAO_NOTA_FISCAL,
										VL_TOTAL_PRODUTOS,
										VL_TOTAL_NOTA_FISCAL,
										DC_NATUREZA_OPERACAO,
										DC_INFO_COMPLEMENTAR,
										ID_MOD_FRETE,
										VL_FRETE)
								VALUES (0,
										0,
										@p_codigoEmissor,
										@p_codigoDestinatario,
										getdate(),
										@p_idTipoNotaFiscal,
										0, --Gerando NF
										@p_valorTotalNotaFiscal,
										@p_valorTotalNotaFiscal,
										@p_descNaturezaOperacao,
										@p_descInfoAdicional,
										@v_idModFrete,
										@v_valorFrete)

			select @p_codigoNotaFiscal = IDENT_CURRENT('TB_NOTA_FISCAL'),
				   @p_numeroNotaFiscal = 0,
				   @p_codigoErro = 0,
				   @p_descErro = '',
				   @p_qtdeLinhasAfetadas = @@ROWCOUNT
			
		end
	else
		begin

			select @p_numeroNotaFiscal = 0, 
				   @p_codigoNotaFiscal = 0,
				   @p_codigoErro = -1,
				   @p_descErro = 'Valor Total da NF deve ser informado, verifique!',
				   @p_qtdeLinhasAfetadas = 0
				   
		end
END TRY	

BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = -1
      SELECT @p_descErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

END CATCH;

GO
