SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_SaldoFavorGravaHistoricoSaque]
	@CD_SALDO_FAVOR_SAQUE NUMERIC(18,0),
	@ID_SITUACAO_SAQUE NUMERIC(18,0),
	@ID_INICIO_FIM INT,	
	@CD_USUARIO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

BEGIN TRY

	    SELECT @QT_LINHAS_AFETADAS = 0

			IF @ID_INICIO_FIM = 1
				BEGIN
					BEGIN TRANSACTION 
		
					-- CRIA REGISTRO
					INSERT INTO TB_SALDO_FAVOR_SAQUE_HISTORICO (
							CD_SALDO_FAVOR_SAQUE,
							ID_SITUACAO_SAQUE,
							DT_INICIAL,
							CD_USUARIO_INICIAL,
							DT_CADASTRO,
							CD_USUARIO_CADASTRO,
							DT_ATUALIZACAO,
							CD_USUARIO_ATUALIZACAO
							)
							
					VALUES           (
							@CD_SALDO_FAVOR_SAQUE,
							@ID_SITUACAO_SAQUE ,
							GETDATE(), 
							@CD_USUARIO, 
							GETDATE(), 
							@CD_USUARIO, 
							GETDATE(), 
							@CD_USUARIO
							)
						
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					COMMIT TRANSACTION
		
		
				END
			ELSE
				BEGIN
					BEGIN TRANSACTION 
		
					-- ALTERA DATA FINAL
					UPDATE TB_SALDO_FAVOR_SAQUE_HISTORICO SET
						DT_FINAL = GETDATE(),
						CD_USUARIO_FINAL = @CD_USUARIO,
						DT_ATUALIZACAO = GETDATE(),
						CD_USUARIO_ATUALIZACAO = @CD_USUARIO
					WHERE CD_SALDO_FAVOR_SAQUE = @CD_SALDO_FAVOR_SAQUE
					    AND ID_SITUACAO_SAQUE = @ID_SITUACAO_SAQUE
			
					SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
					COMMIT TRANSACTION
								
				END
		
		SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;

GO
