SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_PedidoInsereIntegracaoPedido10MinutosSidney]
	@VAR_RETORNO		INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
AS

DECLARE @CURSOR_PEDIDO   CURSOR
DECLARE @NM_PEDIDO          NUMERIC(18,0),
	@CD_EST_SITUACAO    NUMERIC(18,0),
	@CD_PLANO_PAGAMENTO NUMERIC(18,0),
	@CONTADOR_BPAG      NUMERIC(18,0)

DECLARE @CD_LOG_INTEGRACAO NUMERIC(18,0)
	

BEGIN TRY
	-- ***********************************************
	-- POPULA AS VARIAVEIS DE SAIDA
	-- ***********************************************
	SELECT @VAR_RETORNO = 0
	SELECT @DC_ERRO = ''
	SELECT @QT_LINHAS_AFETADAS = 0

	-- INCLUIR INICIO DO CONTROLE NA LOG INTEGRACAO
	BEGIN TRANSACTION
	INSERT INTO TB_LOG_INTEGRACAO (CD_INTEGRACAO, DT_INICIO_EXECUCAO,ID_RESULTADO_EXECUCAO,DT_ATUALIZACAO)
	VALUES (4,GETDATE(),0,GETDATE())
	SELECT @CD_LOG_INTEGRACAO  = IDENT_CURRENT('TB_LOG_INTEGRACAO')
	COMMIT TRANSACTION


	-- 1) BUSCAR OS PEDIDOS SEM SITUACAO DE INTEGRACAO
	SET @CURSOR_PEDIDO  = CURSOR FAST_FORWARD
	FOR
		SELECT NM_PEDIDO, CD_EST_SITUACAO, CD_PLANO_PAGAMENTO 
		FROM TB_PEDIDO WITH (NOLOCK)
		WHERE CD_FUNCAO               = 2
		AND   DT_CADASTRO_PEDIDO     >= GETDATE()-10
		AND   ID_SITUACAO_INTEGRACAO IS NULL
		AND   CD_EST_SITUACAO        IN (2,4)  -- APROVADO E PENDENTE 

	OPEN @CURSOR_PEDIDO 
	FETCH NEXT FROM @CURSOR_PEDIDO 
	INTO  @NM_PEDIDO, @CD_EST_SITUACAO, @CD_PLANO_PAGAMENTO 

	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- 2) VERIFICAR QUAL O PLANO DE PAGAMENTO
		
		-- 2.1) 1 - Boleto
		IF (@CD_PLANO_PAGAMENTO = 1 AND @CD_EST_SITUACAO = 4)
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_PEDIDO 
			SET ID_SITUACAO_INTEGRACAO       = 1,
			CD_SITUACAO_PEDIDO_INTEGRACAO    = @CD_EST_SITUACAO,
			DT_ULTIMA_ATUALIZACAO_INTEGRACAO = GETDATE()
			WHERE NM_PEDIDO = @NM_PEDIDO
			COMMIT TRANSACTION
		END

		-- 2.2) 2 - Cartão de Crédito
		IF (@CD_PLANO_PAGAMENTO = 2)
		BEGIN

			SELECT @CONTADOR_BPAG = ISNULL(MAX(C.PREVENDA_BPAG),0)
			FROM TB_SERVICO_EXTERNO_TRANSACAO_CARTAO C  WITH (NOLOCK) -- FALTA DEFINIR O NOME DA TABELA E COLUNAS 
			WHERE C.CD_SERVICO_EXTERNO_TRANSACAO IN 
				(SELECT MAX(C.CD_SERVICO_EXTERNO_TRANSACAO) 
				FROM  TB_SERVICO_EXTERNO_TRANSACAO P WITH (NOLOCK)
		 			WHERE P.DC_CODIGO_REFERENCIA   = @NM_PEDIDO
					AND P.CD_STATUS_TRANSACAO      = 2) 

			-- 2.2.1) TRANSACIONADO BPAG
			IF (@CONTADOR_BPAG > 0 AND @CD_EST_SITUACAO = 2)
			BEGIN
				BEGIN TRANSACTION
				UPDATE TB_PEDIDO 
				SET ID_SITUACAO_INTEGRACAO       = 1,
				CD_SITUACAO_PEDIDO_INTEGRACAO    = @CD_EST_SITUACAO,
				DT_ULTIMA_ATUALIZACAO_INTEGRACAO = GETDATE()
				WHERE NM_PEDIDO                  = @NM_PEDIDO
				COMMIT TRANSACTION
			END


			-- 2.2.2) NAO TRANSACIONADO BPAG
			IF (@CONTADOR_BPAG = 0 AND @CD_EST_SITUACAO = 4)
			BEGIN
				BEGIN TRANSACTION
				UPDATE TB_PEDIDO 
				SET ID_SITUACAO_INTEGRACAO       = 1,
				CD_SITUACAO_PEDIDO_INTEGRACAO    = @CD_EST_SITUACAO,
				DT_ULTIMA_ATUALIZACAO_INTEGRACAO = GETDATE()
				WHERE NM_PEDIDO                  = @NM_PEDIDO
				COMMIT TRANSACTION
			END



		END	

		-- 2.3) 3 - Dinheiro
		IF (@CD_PLANO_PAGAMENTO = 3 AND @CD_EST_SITUACAO = 2)
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_PEDIDO 
			SET ID_SITUACAO_INTEGRACAO       = 1,
			CD_SITUACAO_PEDIDO_INTEGRACAO    = @CD_EST_SITUACAO,
			DT_ULTIMA_ATUALIZACAO_INTEGRACAO = GETDATE()
			WHERE NM_PEDIDO = @NM_PEDIDO
			COMMIT TRANSACTION
		END

		-- 2.4) 4 - Débito
		IF (@CD_PLANO_PAGAMENTO = 4)
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_PEDIDO 
			SET ID_SITUACAO_INTEGRACAO       = 1,
			CD_SITUACAO_PEDIDO_INTEGRACAO    = @CD_EST_SITUACAO,
			DT_ULTIMA_ATUALIZACAO_INTEGRACAO = GETDATE()
			WHERE NM_PEDIDO = @NM_PEDIDO
			COMMIT TRANSACTION
		END

		-- 2.5) 5 - Transferência
		IF (@CD_PLANO_PAGAMENTO = 5)
		BEGIN
			BEGIN TRANSACTION
			UPDATE TB_PEDIDO 
			SET ID_SITUACAO_INTEGRACAO       = 1,
			CD_SITUACAO_PEDIDO_INTEGRACAO    = @CD_EST_SITUACAO,
			DT_ULTIMA_ATUALIZACAO_INTEGRACAO = GETDATE()
			WHERE NM_PEDIDO = @NM_PEDIDO
			COMMIT TRANSACTION
		END

		FETCH NEXT FROM @CURSOR_PEDIDO 
		INTO  @NM_PEDIDO, @CD_EST_SITUACAO, @CD_PLANO_PAGAMENTO
	END
	CLOSE       @CURSOR_PEDIDO 
	DEALLOCATE  @CURSOR_PEDIDO 

	BEGIN TRANSACTION
	UPDATE TB_LOG_INTEGRACAO 
	SET DT_TERMINO_EXECUCAO = GETDATE(),
	DC_ERRO_EXECUCAO        = 'Executado com Sucesso',
	DT_ATUALIZACAO          = GETDATE()
	WHERE CD_LOG_INTEGRACAO = @CD_LOG_INTEGRACAO  
	COMMIT TRANSACTION

	SELECT @QT_LINHAS_AFETADAS = @@ROWCOUNT
	SELECT @VAR_RETORNO = 0
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()

	BEGIN TRANSACTION
	UPDATE TB_LOG_INTEGRACAO 
	SET DT_TERMINO_EXECUCAO = GETDATE(),
	ID_RESULTADO_EXECUCAO   = @VAR_RETORNO,
	DC_ERRO_EXECUCAO        = 'PEDIDO -> '+CONVERT(VARCHAR,@NM_PEDIDO)+' . PLANO PGTO -> '+ CONVERT(VARCHAR,@CD_PLANO_PAGAMENTO)+
				' .SITUAÇÃO PEDIDO -> '+CONVERT(VARCHAR,@CD_EST_SITUACAO)+'....'+ @DC_ERRO,
	DT_ATUALIZACAO          = GETDATE()
	WHERE CD_LOG_INTEGRACAO = @CD_LOG_INTEGRACAO  
	COMMIT TRANSACTION

      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
