SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_MN_CRIA_VINCULO_REDE_BINARIA]
	@CD_PESSOA NUMERIC(18,0),
	@CD_FUNCAO NUMERIC(18,0),
	@NM_CICLO NUMERIC(18,0),
	@VAR_RETORNO INT OUTPUT,
	@DC_ERRO NVARCHAR(MAX) OUTPUT,
	@QT_LINHAS_AFETADAS INT OUTPUT
	
AS

DECLARE @CD_CLIENTE			NUMERIC(18,0)

BEGIN TRY

    SELECT @QT_LINHAS_AFETADAS = 0
    SELECT @VAR_RETORNO = 0

		-- *********************************************
		-- EXECUTA A PROCEDURE ESPECIFICA DO CLIENTE
		-- *********************************************
		select @CD_CLIENTE = VL_PARAMETRO 
		from TB_valor_PARAMETRO
		where CD_GRUPO_PARAMETRO = 6
		and CD_PARAMETRO = 1
		and CD_VALOR_PARAMETRO  =1
		



		-- *******************************
		-- ATS - GERAL
		-- *******************************
		if @CD_CLIENTE = 1
			BEGIN
				-- *****************************************************************
				-- EXECUTA A GERAÇÃO DO VINCULO - REDE BINÁRIA
				-- *****************************************************************
				EXEC dbo.SP_MN_CRIA_VINCULO_REDE_BINARIA_ATS
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 
			
			
		-- *******************************
		-- MEGA AROMAS
		-- *******************************
		if @CD_CLIENTE = 3 
			BEGIN
				-- *****************************************************************
				-- EXECUTA A GERAÇÃO DO VINCULO - REDE BINÁRIA
				-- *****************************************************************
				EXEC dbo.SP_MN_CRIA_VINCULO_REDE_BINARIA_MA
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS

			END 


		-- *******************************
		-- BEAUTYWAY
		-- *******************************
		if @CD_CLIENTE = 2
			BEGIN
				-- *****************************************************************
				-- EXECUTA A GERAÇÃO DO VINCULO - REDE BINÁRIA
				-- *****************************************************************
				EXEC dbo.SP_MN_CRIA_VINCULO_REDE_BINARIA_BW
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS

			END 



		-- *******************************
		-- ARETTA
		-- *******************************
		if @CD_CLIENTE = 4
			BEGIN
				-- *****************************************************************
				-- EXECUTA A GERAÇÃO DO VINCULO - REDE BINÁRIA
				-- *****************************************************************
				EXEC dbo.SP_MN_CRIA_VINCULO_REDE_BINARIA_ARE
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
			END 



		-- *******************************
		-- ALIANCA
		-- *******************************
		if @CD_CLIENTE = 5
			BEGIN
				-- *****************************************************************
				-- EXECUTA A GERAÇÃO DO VINCULO - REDE BINÁRIA
				-- *****************************************************************
				EXEC dbo.SP_MN_CRIA_VINCULO_REDE_BINARIA_ALI
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS

			END 



		-- *******************************
		-- LA LASTRA
		-- *******************************
		if @CD_CLIENTE = 6
			BEGIN
				-- *****************************************************************
				-- EXECUTA A GERAÇÃO DO VINCULO - REDE BINÁRIA
				-- *****************************************************************
				EXEC dbo.SP_MN_CRIA_VINCULO_REDE_BINARIA_LAS
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS

			END 
			
		
		-- *******************************
		-- DOUX
		-- *******************************
		if @CD_CLIENTE = 7
			BEGIN
				-- *****************************************************************
				-- EXECUTA A GERAÇÃO DO VINCULO - REDE BINÁRIA
				-- *****************************************************************
				EXEC dbo.SP_MN_CRIA_VINCULO_REDE_BINARIA_DO
					@CD_PESSOA,
					@CD_FUNCAO,
					@NM_CICLO,
					@VAR_RETORNO,
					@DC_ERRO,
					@QT_LINHAS_AFETADAS
				
			END 
		
		
			
		
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @VAR_RETORNO = 1
      SELECT @DC_ERRO = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;


GO
