SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_ApiPedidoValidaCupomDescontoManual]
	@p_numeroPedido					numeric(18,0),
	@p_codigoPessoaCupomDesconto	numeric(18,0),

	@p_codigoErro					INT OUTPUT,
	@p_descricaoErro				VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas				INT OUTPUT
AS

DECLARE @v_idMotivoCupomDesconto		int,
		@v_idTipoVoucher				int,
		@v_nmCicloInicial				numeric(18,0),
		@v_nmCicloFinal					numeric(18,0),
		@v_dataInicial					date,
		@v_dataFinal					date,
		@v_idSituacaoCupom				int,
		@v_nmCicloPessoa				numeric(18,0),
		@v_qtdeVoucherPremiacao			int,
		@v_qtdeVoucherMargemExtra		int,
		@v_qtdeVoucherRepique			int,
		@v_qtdeVoucherAvulso			int,
		@v_codigoPessoaPedido			numeric(18,0),
		@v_codigoPessoaCupom			numeric(18,0)

BEGIN TRY
	
	SELECT @p_codigoErro = 0
	SELECT @p_descricaoErro = ''
	SELECT @p_linhasAfetadas = 0

	-- busca o ciclo da pessoa
	SELECT  @v_nmCicloPessoa = NM_CICLO_ATUAL,
			@v_codigoPessoaPedido = P.CD_PESSOA
	  FROM TB_PESSOA_RESUMO P WITH(NOLOCK), TB_PEDIDO PD
	 WHERE P.CD_PESSOA = PD.CD_PESSOA
	   AND P.CD_FUNCAO = PD.CD_FUNCAO
	   AND PD.NM_PEDIDO = @p_numeroPedido

	-- busca os dados do cupom de desconto
	SELECT	@v_idMotivoCupomDesconto = ID_MOTIVO_CUPOM_DESCONTO,
			@v_idTipoVoucher = ID_TIPO_VOUCHER,
			@v_nmCicloInicial = ISNULL(NM_CICLO_INICIAL,@v_nmCicloPessoa),
			@v_nmCicloFinal = ISNULL(NM_CICLO_FINAL,@v_nmCicloPessoa),
			@v_dataInicial = ISNULL(DT_INICIAL,CONVERT(DATE,GETDATE())),
			@v_dataFinal = ISNULL(DT_FINAL,CONVERT(DATE,GETDATE())),
			@v_idSituacaoCupom = ID_SITUACAO_CUPOM_DESCONTO,
			@v_codigoPessoaCupom = CD_PESSOA
	  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
	 WHERE CD_PESSOA_CUPOM_DESCONTO = @p_codigoPessoaCupomDesconto

	IF @v_codigoPessoaCupom <> @v_codigoPessoaPedido
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'Cupom/Voucher não pertence a pessoa deste pedido.'
			RETURN
		END

	IF @v_idSituacaoCupom <> 1
		BEGIN
			SELECT @p_codigoErro = 1
			SELECT @p_descricaoErro = 'Cupom/Voucher indisponível para uso.'
			RETURN
		END
	ELSE
		BEGIN
			-- VAMOS VALIDAR A VIGÊNCIA DO VOUCHER
			IF @v_nmCicloInicial > @v_nmCicloPessoa
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descricaoErro = 'Cupom/Voucher indisponível para uso. Ciclo não iniciado.'
					RETURN
				END

			IF @v_nmCicloFinal < @v_nmCicloPessoa
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descricaoErro = 'Cupom/Voucher indisponível para uso. Expirado.'

					-- neste caso vamos atualizar o cupom para expirado
					UPDATE TB_PESSOA_CUPOM_DESCONTO SET ID_SITUACAO_CUPOM_DESCONTO = 3 WHERE CD_PESSOA_CUPOM_DESCONTO = @p_codigoPessoaCupomDesconto

					RETURN
				END

			IF @v_dataInicial > CONVERT(DATE,GETDATE())
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descricaoErro = 'Cupom/Voucher indisponível para uso. Periodo de utilização não iniciado.'
					RETURN
				END

			IF @v_dataFinal < CONVERT(DATE,GETDATE())
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descricaoErro = 'Cupom/Voucher indisponível para uso. Expirado.'

					-- neste caso vamos atualizar o cupom para expirado
					UPDATE TB_PESSOA_CUPOM_DESCONTO SET ID_SITUACAO_CUPOM_DESCONTO = 3 WHERE CD_PESSOA_CUPOM_DESCONTO = @p_codigoPessoaCupomDesconto

					RETURN
				END
		END

	--caso não esteja expirado vamos validar a utilização baseado nas regras de vouchers, cenário aplicado na Cacau Show atualmente.
	IF @v_idMotivoCupomDesconto = 5
		BEGIN
			-- PRIMEIRA VALIDAÇÃO É SOBRE A UTILIZAÇÃO DE VOUCHERS DE PREMIAÇÃO NO MESMO PEDIDO, SE JÁ EXISTIR ESSE VOUCHER NÃO PODE SER UTILIZADO NENHUM OUTRO
			SELECT @v_qtdeVoucherPremiacao = COUNT(*)
			  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
			 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
			   AND ID_TIPO_VOUCHER = 3
			   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
			   AND ID_SITUACAO_CUPOM_DESCONTO = 2
			   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

			IF @v_qtdeVoucherPremiacao >= 1
				BEGIN
					SELECT @p_codigoErro = 1
					SELECT @p_descricaoErro = 'Já existe um voucher de premiação aplicado ao pedido. Não é permitida a utilização de outros vouchers no mesmo pedido.'
					RETURN
				END

			-- agora vamos validar se o voucher em questão é de premiação, neste caso não podemos ter outro voucher no pedido
			IF @v_idTipoVoucher = 3
				BEGIN
					SELECT @v_qtdeVoucherPremiacao = COUNT(*)
					  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
					 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
					   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
					   AND ID_SITUACAO_CUPOM_DESCONTO = 2
					   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

					IF @v_qtdeVoucherPremiacao >= 1
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descricaoErro = 'Já existe outro voucher aplicado ao pedido. Para utilizar este voucher de premiação é necessário remover todos os outros!'
							RETURN
						END
				END

			-- VAMOS VALIDAR AS REGRAS PARA MARGEM EXTRA
			IF @v_idTipoVoucher = 1
				BEGIN
					-- PRIMEIRA VALIDAÇÃO É SOBRE A UTILIZAÇÃO DE VOUCHERS DE MARGEM EXTRA, NÃO PODE HAVER OUTRO DO MESMO TIPO
					SELECT @v_qtdeVoucherMargemExtra = COUNT(*)
					  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
					 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
					   AND ID_TIPO_VOUCHER = 1
					   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
					   AND ID_SITUACAO_CUPOM_DESCONTO = 2
					   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

					IF @v_qtdeVoucherMargemExtra > 0
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descricaoErro = 'Já existem outros vouchers de margem extra aplicados neste pedido! Somente um voucher de margem extra por pedido é permitido!'
							RETURN
						END

					-- VALIDA OS REPÍQUES, NÃO PODE HAVER OUTRO DO MESMO TIPO
					SELECT @v_qtdeVoucherRepique = COUNT(*)
					  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
					 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
					   AND ID_TIPO_VOUCHER = 2
					   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
					   AND ID_SITUACAO_CUPOM_DESCONTO = 2
					   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

					IF @v_qtdeVoucherRepique > 0
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descricaoErro = 'Já existe um voucher de repique aplicado neste pedido! Somente um voucher de margem extra ou repique é permitido por pedido!'
							RETURN
						END

					-- VALIDA OS REPÍQUES, NÃO PODE HAVER OUTRO DO MESMO TIPO
					SELECT @v_qtdeVoucherAvulso = COUNT(*)
					  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
					 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
					   AND ID_TIPO_VOUCHER = 4
					   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
					   AND ID_SITUACAO_CUPOM_DESCONTO = 2
					   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

					IF @v_qtdeVoucherAvulso > 1
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descricaoErro = 'Já existem 2 vouchers avulsos aplicados neste pedido! O limite máximo foi atingido!'
							RETURN
						END
				END

			-- VAMOS VALIDAR AS REGRAS PARA REPIQUE
			IF @v_idTipoVoucher = 2
				BEGIN
					-- PRIMEIRA VALIDAÇÃO É SOBRE A UTILIZAÇÃO DE VOUCHERS DE MARGEM EXTRA, NÃO PODE HAVER OUTRO DO MESMO TIPO
					SELECT @v_qtdeVoucherMargemExtra = COUNT(*)
					  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
					 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
					   AND ID_TIPO_VOUCHER = 1
					   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
					   AND ID_SITUACAO_CUPOM_DESCONTO = 2
					   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

					IF @v_qtdeVoucherMargemExtra > 0
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descricaoErro = 'Já existe um voucher de margem extra aplicados neste pedido! Somente um voucher de margem extra ou repique é permitido por pedido!'
							RETURN
						END

					-- VALIDA OS REPÍQUES, NÃO PODE HAVER OUTRO DO MESMO TIPO
					SELECT @v_qtdeVoucherRepique = COUNT(*)
					  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
					 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
					   AND ID_TIPO_VOUCHER = 2
					   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
					   AND ID_SITUACAO_CUPOM_DESCONTO = 2
					   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

					IF @v_qtdeVoucherRepique > 0
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descricaoErro = 'Já existe um voucher de repique aplicado neste pedido! Somente um voucher de repique é permitido por pedido!'
							RETURN
						END

					-- VALIDA OS REPÍQUES, NÃO PODE HAVER OUTRO DO MESMO TIPO
					SELECT @v_qtdeVoucherAvulso = COUNT(*)
					  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
					 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
					   AND ID_TIPO_VOUCHER = 4
					   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
					   AND ID_SITUACAO_CUPOM_DESCONTO = 2
					   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

					IF @v_qtdeVoucherAvulso > 1
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descricaoErro = 'Já existem 2 vouchers avulsos aplicados neste pedido! O limite máximo foi atingido!'
							RETURN
						END
				END

			IF @v_idTipoVoucher = 4 --AVULSO
				BEGIN
					--NO CASO DO AVULSO PODE SER COMBINADO COM QUALQUER OUTRO TIPO
					SELECT @v_qtdeVoucherAvulso = COUNT(*)
					  FROM TB_PESSOA_CUPOM_DESCONTO WITH(NOLOCK)
					 WHERE ID_MOTIVO_CUPOM_DESCONTO = 5
					   AND ID_TIPO_VOUCHER IN (1,2,4)
					   AND NM_PEDIDO_UTILIZACAO = @p_numeroPedido
					   AND ID_SITUACAO_CUPOM_DESCONTO = 2
					   AND CD_PESSOA_CUPOM_DESCONTO <> @p_codigoPessoaCupomDesconto

					IF @v_qtdeVoucherAvulso > 1
						BEGIN
							SELECT @p_codigoErro = 1
							SELECT @p_descricaoErro = 'Já existem 2 vouchers avulsos aplicados neste pedido! O limite máximo foi atingido!'
							RETURN
						END
				END
		END
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 1
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
