SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[pr_EmailInsereEnvioEmail ]
	@p_cd_envio_email         	numeric(18,0),
	@p_cd_email                 numeric(18,0),
	@p_dt_geracao_email         datetime ,
	@p_dt_envio_email           datetime,
    @p_id_situacao_envio_email  numeric(18,0),
	@p_cd_pessoa_destinatario   numeric(18,0),
	@p_dc_email_destinatario    varchar(max),
	@p_dc_assunto_email         varchar(max),
	@p_dc_erro                  varchar(max),
	
	@p_descricaoTipoFuncao			VARCHAR(1),
        @p_cd_envio_email_i			NUMERIC(18,0) OUTPUT,	

	@p_codigoErro				INT OUTPUT,
	@p_descricaoErro			VARCHAR(1000) OUTPUT,
	@p_linhasAfetadas			INT OUTPUT
	
AS

BEGIN TRY
	
	    SELECT @p_linhasAfetadas = 0
	    SELECT @p_codigoErro = 0
	    SELECT @p_descricaoErro = ''
	    		
		IF @p_descricaoTipoFuncao = 'I'
			BEGIN
				BEGIN TRANSACTION 

				INSERT INTO TB_ENVIO_EMAIL (
				CD_EMAIL,
				DT_GERACAO_EMAIL ,
				DT_ENVIO_EMAIL,
				ID_SITUACAO_ENVIO_EMAIL,
				CD_PESSOA_DESTINATARIO,
				DC_EMAIL_DESTINATARIO,
				DC_ASSUNTO_EMAIL,
				DC_ERRO )
						
				VALUES (
				@p_cd_email,
				getdate(),
				@p_dt_envio_email,
				@p_id_situacao_envio_email,
				@p_cd_pessoa_destinatario,
			    @p_dc_email_destinatario,
				@p_dc_assunto_email,
				@p_dc_erro)
				
				SELECT @p_cd_envio_email_i = SCOPE_IDENTITY()

				SELECT @p_linhasAfetadas = @@ROWCOUNT
						
				COMMIT TRANSACTION
			END

			IF @p_descricaoTipoFuncao = 'A'
			BEGIN
				BEGIN TRANSACTION
				UPDATE TB_ENVIO_EMAIL SET 
				CD_EMAIL = @p_cd_email,
				DT_GERACAO_EMAIL = @p_dt_geracao_email,
				DT_ENVIO_EMAIL = @p_dt_envio_email,
				ID_SITUACAO_ENVIO_EMAIL = @p_id_situacao_envio_email,
				CD_PESSOA_DESTINATARIO = @p_cd_pessoa_destinatario,
				DC_EMAIL_DESTINATARIO = @p_dc_email_destinatario,
				DC_ASSUNTO_EMAIL = @p_dc_assunto_email,
				DC_ERRO = @p_dc_erro
				WHERE CD_ENVIO_EMAIL = @p_cd_envio_email
				
			    SELECT @p_linhasAfetadas = @@ROWCOUNT
				SELECT @p_cd_envio_email = SCOPE_IDENTITY()

				COMMIT TRANSACTION
			END
					

			IF @p_descricaoTipoFuncao = 'E'
			BEGIN
				BEGIN TRANSACTION
				 
				DELETE FROM TB_ENVIO_EMAIL
				WHERE CD_ENVIO_EMAIL = @p_cd_envio_email

				SELECT @p_linhasAfetadas = @@ROWCOUNT
				COMMIT TRANSACTION
			END

				
END TRY	
BEGIN CATCH
   -- Whoops, there was an error
      SELECT @p_codigoErro = 2
      SELECT @p_descricaoErro = ERROR_MESSAGE()
      
   IF @@TRANCOUNT > 0
    ROLLBACK 

   -- Raise an error with the details of the exception
   --RAISERROR(@DC_ERRO, @VAR_RETORNO, 1)
END CATCH;
GO
